[2019-12-09 19:00] #1731 closed

[2019-12-09 19:19] jevansaks commented on #1742
We're hesitant to change the design here. This is the behavior of scrollviewer and the scrollbar overlapping content in this case is the intended design.

I think there's an argument for the scenario where the system setting is turned on to "never hide scrollbars" where the scrollbar would overlap all the time. But the only really good option we have is for the compact NavigationView mode to be bi

[2019-12-09 19:44] verelpode commented on #1461
UPDATE:
Cancel what I said in my previous message about the problem being fixed ☹️   It's not fixed.  This is bizarre:  For a couple of weeks, it seemed like the problem was gone, but then the problem returned recently!   MS Teams is again giving me difficulty and delays when simply trying to view the most recent chat message.

The bugginess of MS Teams is unsurprising when you consider that it is

[2019-12-09 19:49] chigy commented on #1742
@jevansaks , I do not consider making the compact NavigationView mode to being bigger a good option, so looks like we don't have a good option. The compact mode is supposed to help user quickly identify the option and click from the set of icons.  I would hope that there are not so many options there that user has to scroll and scrolling design would be less frequent than non-scrolling design. So

[2019-12-09 19:59] robloo commented on #1672
Hi @anawishnoff, I would be happy to update the proposal as you need -- or if you can edit on your end, go for it!

It just might be a good idea to add a comment for the parts of the proposal removed to keep a record of it. For example, I'm guessing you would like "Add overloaded constructors for Column/RowDefintion using GridLength parameters" removed entirely.

Thanks for following up with this!

[2019-12-09 20:06] lukasf commented on #1461
There are a lot of very well written, high performance JavaScript web applications. Sure you could get even better performance with other technologies. But the reason why Teams is slow for you is surely not the fact that it is based on JavaScript. That is caused by some bad implementation on either server side or client side (probably async/threading issues). It would surely be possible to write T

[2019-12-09 21:33] kikisaints commented on #1639
@jevansaks, that's correct. Please see the **Expected Behavior** section of this bug - tried to supply the behavior desired.

[2019-12-09 21:57] michael-hawker commented on #1460
@dotMorten I know you have the [PR open](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3030) to add the StateTriggers to the toolkit, since they're more foundational - does it make more sense to wait and propose adding them to WinUI 3 instead?

[2019-12-09 22:25] mariorancic01 commented on #1651
Régis,
thx for a quick response.

Actually I didn't wanted to do this. My Scroller is only element inside
Grid and I wanted it to occupy whole width and height of the screen,
Also I wanted ItemsSouce to be at least 10000 elements so I can test better
virtualization.

By "lost it" I meant soon after pinch it with two fingers to zoom I just
saw BlueViolet background and I could not go back to the el

[2019-12-09 22:27] mariorancic01 commented on #1651
Régis,

I have to say something about MuxControlsTestApp.
 I built it, deployed it and it works great not just for Scroller but for
all other controls. I have lot of cool stuff to play with.

Great job everybody.

Thx very much,

Mario

El lun., 9 de dic. de 2019 a la(s) 16:15, Mario Rancic (
mariorancic@gmail.com) escribió:

--
Mario Rancic
Software Engineer
Microsoft Certified Professional

[2019-12-10 00:28] kmelmon commented on #1743
Thanks for reporting this.  @FJduFou can you answer a couple questions:
-Exactly what type of control is being used in this scenario?
-Is this reproing on both dark and light theme?  It looks like you have the dark theme in the screenshot.

[2019-12-10 01:50] RBrid commented on #1651
@mariorancic01, some more comments below:

"Actually I didn't wanted to do this. My Scroller is only element inside
Grid and I wanted it to occupy whole width and height of the screen,"
No problem, you can do that as well.

"Also I wanted ItemsSouce to be at least 10000 elements so I can test better virtualization."
No problem with that either. I should work the same.

"By "lost it" I meant soon a

[2019-12-10 05:17] shaheedmalik commented on #1461
Using Uno, WinUI is cross platform. Look at the UNO Calculator in the Google Play store. It is a ported version of the Windows 10 calculator.

[2019-12-10 05:32] emiliano84 commented on #1461
Someone was asking for UWP vs Electron comparison, here there are a couple:

https://twitter.com/emiliano84/status/1198177284533956608

https://twitter.com/emiliano84/status/1198179206548602881

the new XBOX app it's ridiculous, can take easily 1.5gb of RAM for nothing

[2019-12-10 10:24] vgromfeld commented on #1742
@jevansaks, we can re-purpose the bug to more specifically address the `CompactPaneLength` not being properly applied. We'd like to have a simple and cheap solution to not have the overlap (ie avoid a full re-template).

Regarding the scrollbar behavior, in most apps, we are adding a small margin/padding on the content to leave an empty space for the expanded scroll bar. We never want the content

[2019-12-10 11:15] sonnemaf commented on #1720
@jevansaks I never expected that this would be difficult.

In C#/UWP I would only have to add the System.ComponentModel.Category attribute on the Dependecy Property. I expected a simular solution in C++.

[code]

[2019-12-10 11:29] mariorancic01 commented on #1651
Regis,

OK, I ll print these properties on the side and I ll play little more with
all of that and I ll let you know.

Thx,

Mario

El mar., 10 de dic. de 2019 a la(s) 02:50, Régis Brid (
notifications@github.com) escribió:

--
Mario Rancic
Software Engineer
Microsoft Certified Professional

[2019-12-10 13:09] zipswich commented on #1461
I thought most participants of this discussion regarding WinUI & X-platform have read about this story, but just in case some have missed it, here is [WinUI on Windows 7 – Yes, it’s possible with Uno Platform](https://platform.uno/winui-on-windows7-via-unoplatform/). Once an app is based on Uno, it targets Windows, Web, iOS, and Android.

[2019-12-10 16:48] FJduFou commented on #1743
Thanks for reply @kmelmon

It's a Menu control

![image](https://user-images.githubusercontent.com/46401854/70549731-fc396e80-1b74-11ea-923a-12ecccd641c1.png)
(light theme)

[2019-12-10 18:04] jevansaks commented on #1720
The thing I don't know is if those attributes are available in the IDL world for us to use. Someone just needs to sit down and investigate. I see that there's a RegisterMetadata.cs in our Design.dll -- that could be the connection we use to provide those attributes for the designer at runtime.

[2019-12-10 18:32] YuliKl opened #1745 "Indeterminate ProgressBar motion doesn't match design spec"
**Describe the bug**

#1169 is done, but the indeterminate animation needs to be tweaked to better match motion comps. Let's leverage @tashatitova's work if possible.

[2019-12-10 18:45] YuliKl opened #1746 "Narrator announces a % for indeterminate ProgressBar"
**Describe the bug**

When Narrator focus is placed on an indeterminate ProgressBar, Narrator announces "0% progress bar", which is not distinguishable from an empty determinate ProgressBar. This announcement is the same for both WUX and the new MUX progress bars.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to the ProgressBar page in Xaml Controls Gallery
2. Turn on Nar

[2019-12-10 19:01] YuliKl commented on #1742
NavigationViewItem already has a read-only CompactPaneLength property that gets used for drawing correct hover and focus visuals. The control template should further utilize this value to change the width of the first column (the column containing the icon).

This change in behavior poses a few questions about how to handle the alignment of the items' icons and of the hamburger and back buttons. T

[2019-12-10 20:24] #1655 closed

[2019-12-10 20:49] chigy commented on #1742
@YuliKl , are you suggesting that the icons be centered in now a little wider pane? I think it is problematic because that would shift the icons off from the side of the app as well as you would need to make it even wider because the scrollbar will still cover the portion of the UI?

[2019-12-10 21:35] YuliKl commented on #1742
I am suggesting this, yes. This is the Groove Music behavior that @vgromfeld noted. The decision to widen the sliver will be entirely up to the app, we won't change the control's default 40px width.

I believe today the icons are centered inside inside the template's first column. Keeping them centered within a 40px strip while allowing the column's width to be changed feels unnecessarily complex.

[2019-12-10 21:52] jesbis commented on #1625
Thanks for the full example! That's much clearer.

This seems worth considering. It's unlikely we'll be able to get to this for the first WinUI 3.0 release, so we'll keep it in the backlog for a future iteration.

[2019-12-10 23:23] sharpninja commented on #1625
Thanks!  If any tasks become available where I could assist I'd be happy to.

[2019-12-10 23:53] #1739 closed

[2019-12-11 00:41] dotMorten commented on #945
I like this idea. I could definitely have used that when porting Xamarin.Forms' Shell to UWP

[2019-12-11 11:16] MuziburRahman opened #1747 "Question: Windows app certification kit says: Unable to install Microsoft.UI.Xaml.<version_number> ..."
After successfully creating app package of my app, when the App Certification was started,
this error window pops-up:
![image](https://user-images.githubusercontent.com/21083609/70616879-a5499d00-1c39-11ea-8796-c0dedb939fdf.png)

I even don't know what does it mean !!
The issue is happening with the new WinUI (2.3.2), it didn't happen with the previous one.

[2019-12-11 11:40] weitzhandler commented on #1531
The problem is the C# 8 only works against .NET Core 3. Pretty big limitation in the Alpha version.
Anyway, I'm looking closely and appreciate all your countless efforts 💖

[2019-12-11 16:52] #1581 closed

[2019-12-11 18:48] licanhua commented on #1747
I didn't reproduce it on a simple C# app. Can you provide a step by step procedure?
It's better to provide more information like what's your running OS, what's the version of VS, Is it a C# app, what's the target version and min version of your App

[2019-12-11 18:57] jevansaks commented on #1747
Can you share out the AppxManifest.xml from the app? Or specifically take a look at the `<PackageDependency.../>` and see if there are multiple entries for Microsoft.UI.Xaml. It shouldn't happen but maybe the packaging process got confused.

Oh also can you share the version of Visual Studio you're using? FWIW we're all using VS2019 here and in our pipelines.

[2019-12-11 20:29] YuliKl commented on #1487
I've updated our documentation (tracked with Fixes https://github.com/MicrosoftDocs/windows-uwp/issues/2120) to point to a Xaml Controls Gallery example of how to add  more commands to a context menu.

The remaining suggestion in this proposal is to allow adding commands in markup in addition to code-behind.

[2019-12-11 22:53] anawishnoff commented on #1672
Just updated the proposal above, and tried to give credit where credit was due and keep your original language. 😊

Feel free to tell me if anything looks funky, and continue the conversation! This is still a WIP for the time being.

[2019-12-12 01:17] kmelmon commented on #1743
@FJduFou thanks for the screenshot!  Interestingly, I am not having this issue with the latest version of the XAML Controls Gallery (https://www.microsoft.com/store/productId/9MSVH128X2ZT), in the MenuBar page.  The acrylic is very subtle though.  I think this is expected.  What I think may be happening is that because you're using "desktop acrylic" for the background of your window, the drop-down

[2019-12-12 02:37] kmgallahan opened #1749 "The MenuBar allows page scrolling while open via the mousewheel."
**Describe the bug**
The MenuBar control currently allows scrolling of the page while open. This happens specifically when the mousewheel is used and the cursor is still over the MenuBar control, and it causes the menu to detach and float.

All other forms of scrolling appear to be properly disabled, so this is likely not intentional behavior.

**Steps to reproduce the bug**
1. Open the XAML Contr

[2019-12-12 03:59] shaheedmalik commented on #1742
Groove Music is how the Compact View was originally. Groove Music was never updated to the newer NavigationView that Your Phone uses for example.

[2019-12-12 04:22] dotMorten commented on #1460
@michael-hawker No I didn't propose adding those triggers to WinUI. What I'm proposing here is to add the infrastructure that allows creating much more advanced state triggers - the PR you referred to does not have these advanced triggers before of the lack of that infrastructure - hence this feature request.

[2019-12-12 15:03] robloo commented on #1721
@teaP @jevansaks I understand why this was closed. However, it's a design bug that is unfortunately pretty fundamental to the control. Because of this, it really should not be closed. It is a bug because it is using double.NaN in a way that breaks the dependency property system.

This also needs to be front and center in the documentation.

[2019-12-12 15:38] yaichenbaum commented on #1743
@kmelmon
![image](https://user-images.githubusercontent.com/39923744/70726109-8eec2180-1ccb-11ea-8979-3dd72cc72592.png)

[2019-12-12 16:53] FJduFou commented on #1743
@kmelmon
![image](https://user-images.githubusercontent.com/46401854/70732046-09d32d80-1d08-11ea-9f68-2f6ce04a00cb.png)
(ok for this)

![image](https://user-images.githubusercontent.com/46401854/70732086-19eb0d00-1d08-11ea-832a-61065c560334.png)
(but no for this)

idem for light theme

[2019-12-12 16:57] chingucoding commented on #1688
Ideally I would like references to the respective sample on the pages in the documentation, where I would benefit seeing a real world example. E.g. on the page for Brushes link to the Fluent XAML Theme editor.

But that would be an extremely tedious process, and I don't know if it would be expected by many people there. 😅

[2019-12-12 17:06] jevansaks commented on #1721
IMHO it is a bug in the DependencyProperty system but it's not something we can fix in all cases for WinUI 2.x. That said, I think we could fix it for x:Bind scenarios because those go through the property setter (which we control), but not Binding.

Would that be sufficient for everyone for now?

[2019-12-12 17:11] StephenLPeters commented on #466
This was fixed with the migration to repeater

[2019-12-12 17:11] #466 closed

[2019-12-12 17:13] StephenLPeters commented on #465
The repro steps are a little off for the current radio buttons behavior but I believe this has been fixed with the move to repeater.

[2019-12-12 17:13] #465 closed

[2019-12-12 17:20] kikisaints commented on #464
This is no longer the desired behavior. Closing.

[2019-12-12 17:20] #464 closed

[2019-12-12 17:31] robloo commented on #1721
@jevansaks As I understand it, the DependencyProperty system use object.Equals() internally in SetValue(). If SetValue() returns false, the property will be changed and an event raised. Double as we all know overrides object.Equals() for its type. That is where double.NaN is defined not equal to double.NaN. You dare not change that implementation either. It's an IEEE standard that NaN != NaN.

So

[2019-12-12 17:41] jevansaks commented on #1721
I believe we tried double? and it also had issues because OS XAML doesn't handle this well in a bunch of cases. I'll let @teap speak to that. It may still be the lesser of the two problems.

We did already ship NumberBox v1 but if this is painful enough then I agree we should revisit and possibly switch to double?.

[2019-12-12 17:45] robloo commented on #1672
@anawishnoff, awesome, thanks for cleaning this up!

Just a couple of comments/questions:

I'm not sure I understand this. It's only the constructor parameters that are changing. How would the properties be simplified? Maybe this is just a type-o?

I wouldn't say object initializer here -- that's not actually what @chingucoding was stating here. Instead he was saying we should just add the GridLen

[2019-12-12 17:54] robloo commented on #1721
@jevansaks, Ok, I understand if V1 is already wrapped up and shipped. (I need to go update some Nuget packages as I missed this!) Awesome work :)

I thought double? should work in XAML just fine considering other struct value types are nullable such as DateTimeOffset in CalendarDatePicker. I would be curious how this works so well if the XAML implementation has issues here -- but you know a lot mo

[2019-12-12 18:17] chigy commented on #464
@kikisaints , what is the desired behavior then?

[2019-12-12 18:23] chigy commented on #1688
@chingucoding , we do add links to apps in appropriate pages. Perhaps we should add more references on the pages that we might have. Feel free to suggest that on each doc pages' feedback mechanism (i.e. "this page") or even better, you could also send us PR!

![image](https://user-images.githubusercontent.com/22958680/70738371-5fd4b080-1cc9-11ea-9536-b5206a2c296f.png)

[2019-12-12 18:36] chingucoding commented on #1688
Yes, you are right. However it feels like most links point to other pages inside the documentation or the XCG.

None the less, if I find a page, where I know a sample that might be helpful, I will create an issue or PR :)

[2019-12-12 18:54] jevansaks opened #1751 "Cleanup: We should remove unnecessary #defines and IDL attributes"
We have a bunch of things in IDL files that was to support compiling in the Windows codebase. We should remove the things that aren't necessary and rename things to reduce confusion. We should:

* Simplify IDL attributes down to public, preview, internal.
* Remove WUXC_INTERFACE_NAME, WUXC_STATIC_NAME, WUXC_CONSTRUCTOR_NAME
* Remove macros for namespaces, just use the namespaces directly.

[2019-12-12 21:01] anawishnoff commented on #1672
@robloo:

Fixed this - just deleted and replaced that sentence, it didn't make too much sense/impact reading over it again.

Fixed! I think my words just got a little jumbled, tried to clarify.

[2019-12-12 22:33] kmelmon opened #1752 "Proposal: [ReactNative] Add support for repeating brush"
In react-native <Image> component, there is a resizeMode property which can be "repeat" - this makes the image stamp out a repeating pattern if it doesn't fit inside the bounds of the image.

XAML doesn't have this feature so RN4W implemented a complicated workaround, which uses LoadedImageSurface and a CompositionBrush to achieve the repeating pattern.  Our first attempt at an implementation used

[2019-12-13 05:39] YuliKl commented on #837
This is exactly what we settled on during an internal review.

[2019-12-13 08:35] kingofthebongo2008 opened #1755 "BitmapIcon does not work"
Hello,
I have tried to put a custom icon into a navigationViewItem
I get Access Denied in LoadComponent of the page.
Does BitmapIcon works? How i can put a custom icon in NavigationViewITem

            <muxc:NavigationViewItem Content="Designs" Tag="Designs" x:Name="Designs" SelectsOnInvoked="True">
                <muxc:NavigationViewItem.Icon>
                    <BitmapIcon UriSource="ms-appx:

[2019-12-13 09:18] MuziburRahman commented on #1747
There is no such tag as `<PackageDependency.../>` in AppxManifest.xml.
This is the closest thing I got, in .csproj :
[code]

Visual Studio2019 version : 16.4

[2019-12-13 16:04] EddieLotter opened #1756 "TreeView anomalies"
**Describe the bug**
I have encountered a problem when selecting a TreeView item programmatically and occasionally another problem where the user's selection is ignored.

**Steps to reproduce the bug**
For convenience, I have created [this project](https://github.com/EddieLotter/TreeViewAnomalies) that demonstrates the two problems.

**Expected behavior**
1. When a TreeView item is selected progra

[2019-12-13 17:21] MuziburRahman opened #1757 "Proposal: Allow to target a specific point in Teaching Tip"
`TeachingTip` currently allows only `FrameworkElement` as it's target.
But I think that it's a basic scenario to target a specific point of a relatively big `FrameworkElement`.

[2019-12-13 17:50] #1346 closed

[2019-12-13 18:04] milos12345 commented on #1531
Will WinUI 3.0 work with WPF? If yes, will it work without XamlIslands? If no, will there be a choice to use it with C# and without UWP, and on something that does not run in sandbox?

[2019-12-13 19:13] ranjeshj commented on #1756
For (1) can you call BringIntoView (https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.startbringintoview) on the element ?

[2019-12-13 19:14] ranjeshj commented on #1755
Can you please provide a repro project ?

[2019-12-13 19:21] ranjeshj commented on #1749
Possible fix would be to listen to EffectiveViewportChanged and dismiss the flyout.

[2019-12-13 19:28] ranjeshj commented on #1747
Would it be possible for you to share a project where you can repro this ?

[2019-12-13 20:00] EddieLotter commented on #1756
@ranjeshj thanks for the comment. I did try to use that method in my original project, but I could not get from a TreeViewNode to a UIElement. I tried ContainerFromNode and ItemFromContainer but I never got it to work.
If you can fork my example project and demonstrate how to do that, it would be exactly what is needed for (1).
Thanks again.

[2019-12-13 20:15] ranjeshj commented on #1756
Is the TreeViewItem associated with the TreeViewNode realized ? In other words, the parent chain to that TreeViewItem expanded ? If the TreeViewItem is not realized, I think that would prevent that api from getting the item.

[2019-12-13 20:20] chingucoding commented on #1749
However this will only work on 17763+, so would not work on every machine.

Maybe would it be more consistent to not scroll the page/scrollviewer like we did with the NumberBox?

[2019-12-13 20:26] kmgallahan commented on #1749
As mentioned, scrolling does not appear to work using any other method already - although I might have missed something.

[2019-12-13 20:29] ranjeshj commented on #1749
@chingucoding - Yes that is true. If we use EffectiveViewportChanged, It will work only after the API was introduced. The app could potentially get the same behavior by hooking up to the ScrollViewer's view changed event which should be available in previous OS versions.

One more question is if this is something that is common for an app to do. ControlsGallery is just showing the MenuBar inside a

[2019-12-13 20:44] EddieLotter commented on #1756
Yes, I explicitly expand the parent chain to ensure the node is realized.

[2019-12-13 21:18] chingucoding commented on #1749
Oh yes, totally missed that. That is very strange that this works as soon as the cursor moves.

Agreed. This is not a very common scenario. Maybe the developers should handle this. On the other hand, everything works fine EXCEPT when the user starts scrolling without moving the cursor. So this seems more like a corner case that does not work.

[2019-12-13 21:50] #1755 closed

[2019-12-13 21:50] kingofthebongo2008 commented on #1755
Hello, i was preparing the project and it worked. sorry for the
inconvenience.

On Fri, 13 Dec 2019 at 21:14, Ranjesh <notifications@github.com> wrote:

[2019-12-13 23:49] #1727 closed

[2019-12-14 01:15] StephenLPeters commented on #1757
Hey @MuziburRahman currently teaching tip has a property `Windows.UI.Xaml.Thickness PlacementMargin;` which can be used to offset the position of the teaching tip.  Would this api satisfy your requirement? https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip#add-a-placement-margin

If not can you give us some more info about the scenario you ha

[2019-12-14 09:16] zhuxb711 commented on #1372
if Target={x:Bind  Something} is used, text will be blocked

[2019-12-15 01:10] MuziburRahman commented on #1757
Yes, this api satisfies my requirement.

[2019-12-15 01:10] #1757 closed

[2019-12-15 05:45] michael-hawker commented on #1747
There was a bug with a previous version of the kit. It shouldn't block the store, assuming it's the same one.

[2019-12-15 05:59] MuziburRahman commented on #1747
Yes, the app is now in the store, no problem for that.
But how do I update the certification kit?

[2019-12-15 06:00] #1747 closed

[2019-12-15 08:27] quangaming2929 opened #1763 "TeachingTips not display properly"
**Describe the bug**
TeachingTip with IsLigthDismissEnabled open the first time by using TeachingTip.IsOpen = true work fine but after it has been close, next time the TeachingTip open using the same property, some of the element in the TeachingTip will be croped

**Steps to reproduce the bug**
I've using this code as an example inside a NavigationView
[code]
[code]
In App.xaml:
[code]

Steps to r

[2019-12-15 12:26] kmgallahan commented on #1763
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/1372

[2019-12-15 19:41] robloo commented on #1345
Are the buttons in the ContentDialog supposed to have a border brush? This doesn't match with the default button style.

![pic1](https://user-images.githubusercontent.com/17993847/70867915-dcc18d80-1f48-11ea-959b-6612c5c7d215.png)

This came up investigating another bug which I'll open shortly.

[2019-12-15 19:53] robloo opened #1764 "Bug: ContentDialog is changing the application-scope default button style (setting BorderBrush)"
**Describe the bug**

Opening a ContentDialog will change the application-scope default button style and add a border brush that wasn't previously there. The application will now be using the modified button style until it is restarted.

This initially appeared related to #1405 which had content dialog styling fixes for [Bug: CornerRadius Inconsistency/Missing in ContentDialog/MessageDialog #1345]

[2019-12-15 20:23] robloo commented on #1764
@yaichenbaum I believe you mentioned in the past you use the CloseRequested event to open a content dialog prompting the user what to do with any unsaved changes. If you have a chance, and you think it's worth your time, could you see if this appears in your app?

[2019-12-15 21:58] yaichenbaum commented on #1764
@robloo I am using custom buttons in the dialog, so I don't see this behavior.

[2019-12-16 00:26] quangaming2929 commented on #1372
If you hover your mouse on the TeachingTip with Visual Studio XAML Enable Selection, the content will show properly

[2019-12-16 07:56] hupo376787 commented on #1699
Hi, I'm post this issue, because the `ItemsRepeater` control behaves not very smooth on Xbox One S. I'm design a home page like NetFlix, with vertical 20+ items, each item has 20+ items inside.

Each card's template is a button, with picture inside, and some extra info text.

Actually, we have a Banner(FLipView) at the top of home page, and a media player to play some trailers.

So, these all stuf

[2019-12-16 09:29] hupo376787 commented on #1699
[![ImageEx causes performance issue on Xbox One S](https://i.ibb.co/hFQ4Gqp/https-i-ytimg-com-vi-o-FLVUq7p9o8-hqdefault.jpg)](https://youtu.be/oFLVUq7p9o8 "ImageEx causes performance issue on Xbox One S")

[2019-12-16 16:22] robloo commented on #1764
@yaichenbaum, Ok, thanks a lot for taking a look.

[2019-12-16 16:45] ranjeshj opened #1765 "Few pixels in Slider show wrong color"
**Describe the bug**
Few pixels in slider show the wrong color. Shows up easier especially in higher scale factors.

![image](https://user-images.githubusercontent.com/28935693/70925645-72f4c280-1fe0-11ea-9137-12aa38682b44.png)

[2019-12-16 17:13] chigy commented on #1345
@robloo , which version are you using because I am seeing the right behavior on my older Controls gallery (this one doesn't have rounded corner fixed) so did something get reverted when others got fixed?

![image](https://user-images.githubusercontent.com/22958680/70927682-4a6ec780-1fe4-11ea-9743-0c4428601357.png)

[2019-12-16 17:24] mdtauk commented on #1765
Looks like the end of the "progress" shape is rounded, without stretching underneath the Thumb part

[2019-12-16 17:48] ranjeshj commented on #1699
Hello. I took a quick look at the sample app and think two minor changes (shown in commit below) might help.
https://github.com/ranjeshj/ItemsRepeaterPerformanceTestDemo/commit/bf73d8eefd4200bf19327f341696d86cfadbff92

Setting HorizontalCacheLength=1 and VerticalCacheLength=1 on the appropriate ItemsRepeaters brought down the number of elements realized by 30% which should reduce the time taken in

[2019-12-16 18:37] kmelmon commented on #1743
@dmitriykomin please investigate.

[2019-12-16 19:11] chingucoding commented on #1345
I am also seeing the right behavior on the latest commit on master of this repository. Following screenshot was taken inside the MUXControlsTestApp:

![image](https://user-images.githubusercontent.com/16122379/70935324-3a84d100-2040-11ea-87f6-34b1de8c983e.png)

[2019-12-16 19:22] #1763 closed

[2019-12-16 19:25] YuliKl commented on #1764
@robloo thank you for reporting this bug. Can you provide a repro app to help us investigate?

[2019-12-16 20:51] robloo commented on #1764
@YuliKl Thanks for your response. It's likely I'm missing something in the steps to reproduce but I don't have a lot of time to spend on this at the moment. So I'll see if I can provide more details but can't guarantee a repro app at the moment.

[2019-12-16 21:39] YuliKl opened #1766 "Update color of ProgressBar's error state"
**Describe the bug**

Design has specified that the error state of (determinate) ProgressBar should use the red error color:
![image](https://user-images.githubusercontent.com/13142665/70945058-32f60580-2009-11ea-897d-5a5bb2caf7a7.png)

Setting the foreground to `SystemControlErrorTextForegroundBrush` will provide the correct theming behavior.

**Additional context**

Details about indeterminate P

[2019-12-16 21:46] mdtauk commented on #1766
In Win32 guidance, Paused is shown to have a Yellow colour.

Will this Red colour be the same colour used for validation (which becomes yellow in dark mode) or match the Red colour used for Status Icons/Badges?

![image](https://user-images.githubusercontent.com/7389110/70945621-7f633480-204d-11ea-8950-ce0472800091.png)

[2019-12-16 22:20] StephenLPeters opened #1768 "Proposal: RadioButtons should use AccessKeyScope"
# Proposal: RadioButtons chould use AccessKeyScope
Xaml supports the notion of AccessKeyScope which can be used to have an access key 'unlock' access to sub access keys.  RadioButtons might be a good candidate for this feature, where instead of having access key put focus on the selected RadioButton, we could instead automatically set up scoped access key support.

[2019-12-16 22:21] anawishnoff commented on #1672
Pitched this to our team here, and we decided that the second syntax that involves giving `RowDefinition()` and `ColumnDefinition()` the arguments of `GridLength` works best. Updated the proposal above to reflect the changes! Thanks everyone for your contributions - this will be moved to the spec-level soon :)

[2019-12-17 01:16] StephenLPeters opened #1769 "Unreliable SettingTitleOrSubtitleToEmptyStringCollapsesTextBox test"
This test has ~60% pass rate which has resulted in a couple of PRs and CI loops failing because of it. Hense it was disabled.

[2019-12-17 03:07] harvinders commented on #1765
@YuliKl  While we are looking at slider, can we also look at the MediaTransportControls too. It too uses a customised version of slider.

[2019-12-17 03:46] harvinders opened #1771 "Corner radius on scrollbar does not look right"
**Describe the bug**

The scrollbar doesn't look okay

![image](https://user-images.githubusercontent.com/8557046/70962989-38bc1b80-20db-11ea-8e31-d492abc9d09d.png)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
[code]
**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/8557046/70962989-38bc1b80-20db-11ea-8e31-d492abc9d09d.png)

**Version I

[2019-12-17 04:10] hupo376787 commented on #1699
This does not improve effectly. The focus rectangle is still crawling slowly.
My original code has 439 elements, and I used chche length and phase, and scroll up/down several times, the elements is 433.

And a weird thing is, I build & run several times, the result is different. Sometimes maybe 600+.

![image](https://user-images.githubusercontent.com/14960168/70960567-5dec6200-20ba-11ea-8aae-09e8

[2019-12-17 09:14] mdtauk commented on #1771
It looks as if the Scroll indicator/thumb is stretching rather than resizing, and that is distorting the corner radii.

[2019-12-17 13:37] verelpode commented on #1461
@lukasf

Yes it is _possible_, and it is also _possible_ to write MS Teams in PowerShell with acceptable performance (I like PowerShell), and it's also _possible_ for SpaceX to relocate to Russia and still manage to launch satellites, but it would still be an incompetent management decision to relocate SpaceX to Russia, or to write the MS Teams app in a scripting language such as PowerShell or Jav

[2019-12-17 17:45] ranjeshj commented on #1699
Are you using ImageEx specifically for the placeholder ? If so, you could put the placeholder in phase 0 and the actual image in phase 1. That way you will get the placeholder behavior when scrolling/loading in the ItemsRepeater with Image.

[2019-12-17 19:07] StephenLPeters commented on #1771
I think @mdtauk is correct, looks like we are stretching a small scrollbar. @kaiguo if you are not sure what this is supposed to look like you should reach out to @chigy for redlines.

[2019-12-17 19:15] StephenLPeters commented on #821
@llongley did your original fix not work?

[2019-12-17 19:23] ad1Dima commented on #1653
Have same error on 16.4.2.
Found strange additional error:
[code]

_CPPRTTI is defined although /GR- option is selected for Microsoft.UI.Xaml project.
Seems there is bug in MSVC...

[2019-12-17 19:35] jevansaks commented on #1653
I fixed this in master with #1716 . I don't see any other issues building in 16.4 or 16.5 preview.

[2019-12-17 19:39] llongley commented on #821
No, it caused a runtime crash in debug bits, so it needed to be reverted.

From: Stephen L Peters <notifications@github.com>
Sent: Tuesday, December 17, 2019 11:15 AM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: Luke Longley <llongley@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xaml] Microsoft.UI.Xaml.vcxproj.filters keeps

[2019-12-17 19:44] StephenLPeters commented on #821
Do we have a good idea of what needs to be done to fix the issue? Is this something that we should spend time on fixing?

[2019-12-17 19:45] kaiguo commented on #1771
Yes ScrollBar uses scale animation to stretch the thumb.

I think the issue here is that the rounded corners should go away (T rule) when thumb is expanded but it doesn't. I wasn't able to repro it locally (tried with animations on & off). @harvinders was the screenshot from a transient state or does the thumb looked like this when it fully expanded? Can you share a minimal repro app if it's the l

[2019-12-17 20:36] llongley commented on #821
The issue with the previous fix was that we weren’t able to retrieve the packaged theme resources correctly, if I’m recalling correctly.  I don’t know exactly what the correct fix would be – this is a fairly minor annoyance, so I haven’t had the bandwidth to look at it again to get a better fix.

From: Stephen L Peters <notifications@github.com>
Sent: Tuesday, December 17, 2019 11:44 AM
To: micros

[2019-12-17 20:48] YuliKl commented on #1766
We'll use the same brushes that are used for validation.

[2019-12-17 21:41] stmoy commented on #1694
I am seeing an issue where the inline SpinButtons don't line up with the top and bottom of the control:
![image](https://user-images.githubusercontent.com/25991996/71036469-a0ba3400-20d2-11ea-9da0-8d7a8d9d8caf.png)

![image](https://user-images.githubusercontent.com/25991996/71036503-b4659a80-20d2-11ea-87a3-7e89654b8c7c.png)

Additionally, the widths of the middle border brush seem thicker than th

[2019-12-17 22:28] stmoy opened #1773 "TeachingTip Icon is clipped"
**Describe the bug**

TeachingTip icon is clipped when the Tip is opened for the second time. (See screenshots below)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Launch Xaml Controls Gallery
2. Navigate to TeachingTip page
3. Click the "Show TeachingTip" button. Notice that the tip displays correctly
4. Close the Teaching tip
5. Repeat step 3 and reopen the TeachingTip. No

[2019-12-17 22:44] robloo commented on #1345
@chigy @chinguacoding Ok, thanks for taking a look. This is a strange state my app is getting into then and it looks like it's tied with #1764. Since the style is correct for you, I won't worry about it here.

[2019-12-17 23:50] robloo commented on #1764
@YuliKl After going through the styles I found two lines that were not deleted when migrating to WinUI 2.3 (see `Themes\Styles.xaml` in the sample app source code at the bottom). These two lines changed the default border brush for the button (I was customizing most controls before WinUI 2.3 because 2px borders were undesirable, it's great borders are now improved by default!).

So that means most

[2019-12-18 00:07] YuliKl commented on #1764
@robloo glad to hear that you were able to solve most of the problem.

@MikeHillberg any ideas about these questions?

[2019-12-18 00:12] #467 closed

[2019-12-18 01:15] verelpode commented on #1255
@ryandemopoulos

OK.  It seems that 4 tenable possibilities exist:

* The ability to set TextBox width as a float64 (`double`) number that TextBox multiplies by the font size, meaning the equivalent of HTML's measurement unit `em`.
* The ability to set TextBox width as an integer that TextBox multiplies by the float64 width of the character "0" (zero), meaning the equivalent of HTML's measurement

[2019-12-18 02:20] kseitz10 opened #1774 "VisualStateManager in explicit Style/ControlTemplate affects instances that do not reference that Style/ControlTemplate"
**Describe the bug**
Visual states defined within a custom control template may affect instances of that control that do not make use of that template, e.g. theme colors may not be properly applied for selected/hover states.

**Steps to reproduce the bug**
* Extract the default `ItemContainerStyle` for `ListBox`. Do not modify the contents of the style/template. Make sure it is an explicitly-named

[2019-12-18 02:42] verelpode commented on #1255
@ryandemopoulos

Thanks.  That list is important in my opinion.  When companies decide between a path of producing new versions versus a path of starting a whole new system, then the choice of starting a new system tends to have serious and dangerous consequences.  For example, when Nokia realized that they'd fallen far behind, they could have decided to produce new versions of their OS but instea

[2019-12-18 02:58] harvinders commented on #1771
@kaiguo The screenshot is of the fully expanded thumb and not transition. As for repo,

1. Create a blank UWP app using visual studio 2019
2. Set the target to 1903 and min target to 1803
3. Include the Microsoft.UI.Xaml prerelease package
4. Make the neccessary resource dictionary change in app.xaml
5. Add the following in MainView.xaml

[code]
6. Run on 1803

[2019-12-18 04:07] verelpode commented on #1500
@anawishnoff

hmmmm when you say "graduating", would that include downgrading it to C++?  Currently WinUI's DataGrid is written in C#.  I hope that "graduate" won't mean "downgrade".  Importantly, WinUI needs to reach a point where the WinUI team can say that WinUI is better than WPF in every way that matters, but this goal is terribly overdue.  This goal will become even more overdue if time/reso

[2019-12-18 07:08] ad1Dima commented on #1653
Ok.
I properly merged from master. Manually clear BuildOutput folder and everything compiles now.

[2019-12-18 09:22] kitgrose commented on #717
We're a bit different than most developers building for Windows. We develop mostly kiosk apps (apps intended to be run by users other than the computer's owner, and typically full-screen without any access to the broader system). The apps are generally built to the specific requirements of the customer, with no intention to distribute them through the store or equivalent.

Because the apps run ful

[2019-12-18 10:14] kitgrose commented on #1658
I'm glad to hear there's a plan to get the new browser engine into apps. The existing UWP WebView control was a pain to use for us in a couple of ways, and I would love to see them considered in the design of the newer control:

1. The current WebView control [hosts content on the UI thread by default on desktop](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/web-view#th

[2019-12-18 12:11] niels9001 commented on #263
@SavoySchuler It's been a while since this thread was opened. I see that grouping for the ComboBox would require WinUI 3.0.

Are there any updates on this topic? Anything we can do to speed up the progress?

[2019-12-18 18:10] #1653 closed

[2019-12-18 19:41] chingucoding commented on #1765
Yes correct, this visual bug seems to have been introduced with #1239 , where the corner radius was set for multiple controls, including the the slider control.

A possible solution would be to use margin to move the thumb 1px to the left so it covers the missing corners. Unfortunately, the code behind is not available in WinUI, so we can't change the way the width of the background is calculated,

[2019-12-18 19:45] chingucoding commented on #1520
@jevansaks , @chigy : Any idea what would be the best solution for this? Should the radiobutton/checkbox center itself among multiple lines? Or would it better to center it with respect to the first line of text?

[2019-12-18 19:52] kmgallahan commented on #1520
Being able to get a 'most likely' line height value as mentioned in these issues could help:

- https://github.com/microsoft/microsoft-ui-xaml/issues/1255
- https://github.com/microsoft/microsoft-ui-xaml/issues/1226

[2019-12-18 19:53] chigy commented on #1520
@chingucoding , the ideal design is to center it on the first line of text. This is a bit old comp but here's how it may look.
![image](https://user-images.githubusercontent.com/22958680/71118447-0b2faa80-218d-11ea-9ebf-8c6a346ebacf.png)

[2019-12-18 19:59] chingucoding commented on #1520
Okay, thank you for the clarification.

The next question is what would be a suitable solution to this. Is it acceptable to do calculations in the code behind for this issue? Would this even be a reliable way to deal with this?

If we need background calculations, this is only something we can completely fix with WinUI 3.0 :/

[2019-12-18 20:28] chingucoding commented on #1702
I would like to fix this 😊

[2019-12-18 22:38] chingucoding commented on #1702
Using the latest build on master, I can't seem to reproduce the issue. When switching between LeftMinimal and LeftCompact, the pane closes automatically:

![navview-displaymodeswitch](https://user-images.githubusercontent.com/16122379/71129279-62fefd80-21ef-11ea-8206-9ff40678328e.gif)

@vgromfeld Can you try updating your version of WinUI and check if the issue still persists after updating?

[2019-12-18 23:06] kaiguo commented on #1771
Thanks harvinders!

I think 1803 is the problem. CornerRadius property was introduced in RS5, in 1803, we couldn't access the property in state setters so they were not set back 0 when thumb got expanded. @chigy I think we should disable rounded corners on lower os versions for Scroller in this case? Not having rounded corners in rest mode feels better than having weird rounded corners in expand m

[2019-12-18 23:50] chigy commented on #1771
@kaiguo , if CornerRadius was introduced in RS5 and this is the problem, will other controls have this problem or is it just the scrolller?

[2019-12-19 00:10] kaiguo commented on #1771
Most other controls have static CornerRadius so they should be fine. The problem comes when we need to change CornerRadius values dynamically based on control state. So CommandBarFlyout has similar issues that makes it violates the T rule before RS5 (doesn't look as bad as Scroller in my opinion).

![WeChat Screenshot_20191218155527](https://user-images.githubusercontent.com/4424330/71133312-fcf28

[2019-12-19 00:16] chigy commented on #1771
@kaiguo , I see thanks. Your suggestion makes sense to keep the CommandBarFlyout as is and fix scrollbar only.

[2019-12-19 00:19] DmitriyKomin commented on #1743
**RE: Acrylic Needs a Boost in Transparency**

I believe it’s due to AcrylilcBrush.TintLuminosityOpacity property/feature we added in 19H1 to support Shadow (where caster’s Acrylic gets muddied by shadow sampled by BackdropBrush). Subtle changes to acrylic appearance are expected from this, so I would consider the changes observed here 'By Design'.

From Acrylic.cpp:

[code]

There is an auto-comp

[2019-12-19 00:32] StephenLPeters opened #1775 "TreeViewInheritanceTest fails"
The TreeViewInheritanceTest, when updated to add the SpecialTreeView to the UI tree and wait for layout to be run, causes the test framework to abort the test run, silently reporting the tests last known state.  I think this is a tree view product bug.

[2019-12-19 00:34] verelpode commented on #1500
By the way, I was actually being nice/generous when I said that UWP is still a beta version, because technically UWP matches the definition of an alpha version, not beta.   To be a true beta version, it needs to be feature-complete, but UWP has not yet reached feature-complete status, therefore UWP is still alpha.  For example, [Wikipedia's "Software release life cycle" article](https://en.wikiped

[2019-12-19 01:20] harvinders commented on #1736
@SavoySchuler
Can we also add support for conversion from one unit of measure to another by selecting a drop down unit of measure? It would be a great addition for engineering focused enterprise application development.

Something like what @mdtauk proposed
![image](https://user-images.githubusercontent.com/8557046/71136728-cfaee200-2259-11ea-8615-0601cf5a6fd3.png)

Say a number box is displaying

[2019-12-19 02:37] verelpode commented on #1500
@anawishnoff

See also [Wikipedia's article "Sunk cost"](https://en.wikipedia.org/wiki/Sunk_cost):

And similarly ["Plan continuation bias"](https://en.wikipedia.org/wiki/Plan_continuation_bias):

WinRT/UWP caused Microsoft to suffer a $900 million loss in the first or second year, and an empty app store for far too long.  WinRT/UWP was a catastrophic failure, thus it should have been aborted in t

[2019-12-19 02:40] hupo376787 commented on #1699
Hi, @ranjeshj [ImageEx](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls/ImageEx) seems not provide x:phase for place holder.

[code]

[2019-12-19 03:17] dotMorten commented on #1500
@verolpode I'm curious what your point here is with your two very large posts wrt DataGrid. I'm personally not really understanding what the above feedback specifically is wrt improving an OOB DataGrid control. The only thing I got was you're worried it's a waste of time to convert it to native code, but that doesn't address those who uses WinUI from C++. You're still free to use the current manag

[2019-12-19 03:36] verelpode commented on #1500
@dotMorten -- the reason why I wrote extra detail in those messages is because if I don't explain the problem adequately, then people won't understand it.  But sadly now I see that the extra detail failed and it was still not understood anyway.   That's very frustrating.  This is the reason why many people don't even bother writing any feedback at all, because they believe it's pointless to try to

[2019-12-19 03:46] dotMorten commented on #1500
Ana lists 5 points to provide feedback on wrt DataGrid. Which of those points are you commenting on? I guess that's the bit I don't get from what you're writing. UWP doesn't satisfy the need for everyone, but WinUI3 doesn't dictate using the UWP app model, and you seem to be mostly against UWP? So you should be fine there.

You mentioned DataGrid shouldn't continue to make the same mistakes it mad

[2019-12-19 04:04] verelpode commented on #1500
@dotMorten

The part where I quoted Ana at the start of my message.  I am commenting on the part of Ana's message that I quoted at the beginning of my message.

That's unrelated to my message.  WinUI 3 being unbound and available via nuget package is irrelevant to the question of whether WinUI 3 continues the same management mistakes that led to the failure of UWP and Windows Phone and Microsoft's

[2019-12-19 04:38] yaichenbaum commented on #1500
@verelpode

I do not work for Microsoft but I am curious why you say WinUI is making management mistakes.
From what I see the very fact that WinUI is being open sourced and everyone gets to contribute to conversations and decisions is actually helping define what WinUI is and should prevent mistakes from happening.
You mention that the DataGrid is continuing along the same path as mobile yet nowhe

[2019-12-19 05:26] dotMorten opened #1778 "WinUI3: Adding Templated control doesn't generate Themes/Generic.xaml"
**Describe the bug**
When adding a templated control to Visual Studio, no Generic.xaml file is added.

**Steps to reproduce the bug**
1. Create a new WinUI Class Library
2. Right-click the project and select "Add new item..."
3. Choose "Templated Control (WinUI)"
4. Notice that the class is created, but no Themes/Generic.xaml file is added
5. Compare this to the behavior of a UWP Class lib where i

[2019-12-19 05:35] jevansaks commented on #1500
@verelpode please keep your feedback here on-topic. If you have concerns about WinUI or UWP at large, please start a new discussion topic or contact me directly (email me or DM on twitter). Or you might consider discussing on an existing topic like #717 or #1531.

You shared concerns about DataGrid getting re-written in C++, but actually the original proposal didn't mention anything about that. @a

[2019-12-19 16:19] verelpode commented on #1500
@jevansaks -- My feedback was on-topic, but it's human nature to shoot the messenger who delivers the bad news.  Your response makes me sad and disappointed.  OK, I'll stop trying to help, because my assistance is unwanted because it's too honest and direct and touches on painful issues that are too painful to acknowledge and solve (the catastrophic failure of WinRT raises too many emotions and so

[2019-12-19 16:55] Felix-Dev commented on #1500
@verelpode No one "shot the messenger who delivers the bad news" here. @jevansaks invited you to open a new issue to share your broad concerns about UWP/WinUI/WinRT in this repository. This issue really is only about the DataGrid and while indeed one of your concerns was about DataGrid, the vast majority was about UWP/WinUI/WinRT in general. I'm sure if you will look at this discussion again, you

[2019-12-19 18:06] #1771 closed

[2019-12-19 18:26] ranjeshj commented on #1699
x:Phase is an ItemsRepeater feature (similar to what is described here - https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/optimize-gridview-and-listview#update-items-incrementally). In the DataTemplate provided to ItemsRepeater you can have multiple elements and bindings. x:Phase will help decide what to show first and then phase the rest in the order of the number.

So for example if

[2019-12-19 19:04] StephenLPeters commented on #1778
@danzil Is this known?

[2019-12-19 19:06] StephenLPeters commented on #1773
possible dup of #1372

[2019-12-19 19:11] StephenLPeters commented on #1764
@robloo could you provide the app you used to make this gif? It would help a lot for our debugging purposes.

[2019-12-19 19:19] StephenLPeters commented on #1774
@kseitz10 Thanks for the bug report! If you have a minimal repro app that you could provide us that would be very helpful in tracking down the issue.

[2019-12-19 19:20] StephenLPeters commented on #1774
@chrisglein Is Framework team the right place for this?

[2019-12-19 20:24] robloo commented on #1764
Hi @StephenLPeters, thanks for taking a look at this. The source code is in the zip file at the bottom of my last post -- sorry it's a bit hard to see.

[2019-12-19 20:29] robloo commented on #1672
@anawishnoff that's good news! Thanks again for taking this forward.

In terms of API completeness and class design, it does make sense to have another set of constructors that take GridLength directly as well. It is very simple to code that. It would just be my suggestion to keep that as part of the changes. If it gets dropped I'm not going to worry about it though. I'm sure there were reasons di

[2019-12-19 21:09] StephenLPeters commented on #1764
Oh awesome! I totally missed that, thank you!

[2019-12-19 21:30] anawishnoff commented on #1672
@robloo Yes, having a separate set of constructors that take a GridLength object argument was definitely discussed, but I believe the team came to the conclusion that it wouldn't be possible to have all of the options (a constructor that accepts just a width OR just a GridLength object OR width and GridUnitType object).

@MikeHillberg or @chrisglein - could you refresh my memory as to why it was n

[2019-12-19 22:13] MikeHillberg commented on #1672
Xaml's APIs are exported with WinRT, which has a restriction that you not overload methods only on type, there has to be a difference in parameter count. (So only arity overloading is allowed.) That's because WinRT projects unto untyped languages. So if here we have one constructor that takes a double (for px) and one that takes a GridLength, there's ambiguity at the call site.

[2019-12-19 23:29] harvinders opened #1779 "Corner radius not set for ContentDialog and its buttons in 1803"
**Describe the bug**

Rounded corner is not shown for the `ContentDialog` and the buttons (primary, secondary and close) inside.

**Steps to reproduce the bug**

Steps to reproduce the behavior:

1. Create a blank UWP app using visual studio 2019
2. Set the target to 1903 and min target to 1803
3. Include the Microsoft.UI.Xaml prerelease package
4. Make the neccessary resource dictionary change in

[2019-12-20 02:48] hupo376787 commented on #1699
Hi, I think x:phase doesn't improve a lot. The Windows Community Toolkit team has noticed this performace on Xbox One S. https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3080

[2019-12-20 09:37] hupo376787 commented on #622
Hi, guys. It seems `TeachingTip` still can't disappear automaticaly without any user interaction as android toast behavior.
The `IsLightDismissEnabled` property still need user to interact.
Do you have any plans?

[2019-12-20 09:40] hupo376787 commented on #868
Hey, guys. Any new progress on this issue?

[2019-12-20 12:49] mixturify opened #1780 "Certification test failed"
**Describe the bug**
When creating release app package, the certification test failed

**Steps to reproduce the bug**
VS 2019 > UWP App > Publish > Create App Package

**Expected behavior**
Validating app from the certification test.

**Screenshots**
![image](https://user-images.githubusercontent.com/1378727/71255588-972d0800-232e-11ea-9f2d-a1de501c9414.png)

**Version Info**
Latest Windows 10 ver

[2019-12-20 13:08] mrlacey commented on #1736
That seems specialized for a general purpose control.
A text box with integrated combo box also seems to go beyond being specific to numbers too.
If such functionality was added I'd recommend an event (or command-obvs) when the combo box item changed and then making updating the value based on the selection change be something the app is responsible for. If this was down to the control, there's a

[2019-12-20 15:14] robloo commented on #1779
Related to #1345 and #1405

[2019-12-20 15:19] robloo commented on #1672
@MikeHillberg Ouch, that's a pretty big sacrifice in the WinRT design that I definitely don't support. Will the curse of JavaScript never end? :) Anyway, I understand the explanation, thanks for clarifying!

[2019-12-20 16:53] ranjeshj commented on #1779
@kaiguo can you please check if this is resolved by your fix ?#1405

[2019-12-20 16:54] kseitz10 commented on #1774
[ThemeTest.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3989270/ThemeTest.zip)

[2019-12-20 16:58] StephenLPeters commented on #1774
Awesome! Thank you

[2019-12-20 17:02] ranjeshj commented on #1780
@mixturify Can you check your app manifest file and see if there are multiple entries for Microsoft.UI.Xaml ?

[2019-12-20 17:05] StephenLPeters commented on #868
Hello @hupo376787. We haven't yet had reason to prioritize fixing this. Is this issue causing your problems now? It is possible our prioritization is wrong.

[2019-12-20 17:12] ranjeshj commented on #622
@hupo376787 There is a discussion on this in the TeachingTip v2 proposal here - https://github.com/microsoft/microsoft-ui-xaml/issues/638

[2019-12-20 17:40] danzil commented on #1778
Looks like a bug with the template, thanks for reporting it! As a workaround, folks could use the standard UWP template and just rename the namespace from Windows.UI.Xaml to Microsoft.UI.Xaml  in code-behing.

[2019-12-20 17:42] mixturify commented on #1780
@ranjeshj hi, there is just 1 entry. Anyway the packages are still made. Maybe It will still pass the store certification.

[2019-12-20 17:54] ranjeshj commented on #1780
Are you able to reproduce this with a blank uwp app ? Can you share the version of VS19 you are using ?

[2019-12-20 17:54] dotMorten commented on #1778
Yup workaround is easy. Found this will prepping for a WinUI3 custom controls presentation, and this just adds extra stuff to explain

[2019-12-20 19:29] jevansaks commented on #1780
Duplicate of #1747

[2019-12-20 19:50] YuliKl opened #1781 "Holding down Enter in MenuFlyout causes visual glitches"
**Describe the bug**

When navigating a MenuFlyout with keyboard and holding down the Enter key, the menu item visually pulses and glitches.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. In Xaml Controls Gallery, go to either the MenuBar or the MenuFlyout page
2. Using keyboard, open the menu
3. Put keyboard focus on a MenuFlyoutItem and hold down the Enter key

**Expected b

[2019-12-20 20:02] YuliKl opened #1782 "Magnifier : Clicking on the voice combo box inside settings flyout often closes the settings flyout."
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Launch "Magnifier" application.
2. Activate settings button.
3. Click anywhere except on interactive elements i.e. just on the background
4. Now activate the voice combo box and observe.

**Expected behavior**

After clicking on the voice combo box, it should expand and user should be able to access it.

**Sc

[2019-12-20 20:53] kaiguo commented on #1779
I think this should be fixed by #1405 as Ranjesh mentioned. I tested on 1803 vm with the same configurations and it looked fine.

![WeChat Screenshot_20191220125006](https://user-images.githubusercontent.com/4424330/71291397-63021900-2327-11ea-8b41-7b0670489cff.png)

@harvinders did you re-template the ContentDialog by any chance? Or were there any special configurations you did but not included i

[2019-12-20 20:57] ranjeshj commented on #1779
Fixed by #1405

[2019-12-20 21:45] robloo commented on #1782
This is the same as #1467 I believe. Its turned into a real problem recently especially with custom controls. Currently there is no known work-around.

[2019-12-20 21:46] robloo commented on #1467
This was reported again in #1782 for the Windows magnifier app. Seems to be a fundamental issue with flyouts.

[2019-12-20 22:21] mixturify commented on #1780
I've made an blank app and worked.

Then, I just made a clean up the bin / obj folders of the apps, updated again the nugets packages and everything work good now. I don't know, maybe it's random, maybe something from csproject settings. I was not aware about the other ticket #1747 but anyway for resolving that strange bug, just clean up the app generated files!

[2019-12-20 23:19] adrientetar commented on #1736
One important thing is being able to customize value↔text conversion. For instance I have a use-case where I would like to display a NumberBox with three-digits zfill (e.g. 3 becomes 003) and I don't think it's currently possible.

[2019-12-20 23:19] bcassell opened #1783 "Question: Is there any reasonable way to work with Reveal Focus (specifically with scrolling GridViews)?"
I'm trying to use Reveal Focus on UWP on Xbox.  Every time a control is in a scrollviewer (and other containers), the glow gets cut off in a very off-putting way, seemingly no matter how much I play around with margins and padding.  For example, if I have a grid view of buttons with Reveal Focus, and there are enough buttons to necessitate a scrollviewer, buttons at the edges of the gridview will

[2019-12-21 00:58] kmelmon opened #1784 "StrokeDashArray doesn't work from Style"
This issue was discovered by a customer, see https://stackoverflow.com/questions/59419033/the-targettype-for-line-in-style-doesnt-work-in-uwp

The issue happens when using a Style to target a Shape's StrokeDashArray property - what we're seeing is the property is applied to the first element that is being targeted by the Style, but if there are more than one instance, the property does not apply t

[2019-12-21 00:58] kmelmon commented on #1784
I can repro this both on 1909 as well as 1903 builds.

[2019-12-21 02:06] harvinders commented on #1779
@kaiguo I did a little bit more investigation and found the issue only comes when we create a `derived` `ContentDialog`. I should have explicitly mentioned it.

[code]
[code]
[code]

However, if we simply create a Dialog using following code, rounded corner shows up properly.

[code]

[2019-12-21 02:12] hupo376787 commented on #868
Well, currently I wrote C# code to call a `TeachingTip`, I had to add extra code
`this.Resources["tip"] = tip;`
This means I can only use it in a page, not in a helper class.

I want to use it in a helper class, so any workaround?
Thx.

[2019-12-21 09:14] chingucoding opened #1785 "Holding down Enter on NavigationViewItem repeatly invokes the item"
**Describe the bug**

Similiar to #1781. When holding down the enter key with focus on a NavigationViewItem, the item gets invoked over and over, resulting in glitches in some cases:

![navview-enterglitch](https://user-images.githubusercontent.com/16122379/71305780-e4fe4a80-23d8-11ea-8fc4-36b10124f7a6.gif)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open Xaml Controls Gal

[2019-12-21 11:13] harvinders commented on #1779
@kaiguo
The work around is setting the `Style` for my `CustomDialog`
[code]

But I feel one should not have to do it.

[2019-12-21 11:44] harvinders commented on #424
It would also be great if there is a way to set width based on the main windows width breakpoints.

[2019-12-21 17:10] ranjeshj commented on #1699
@hupo376787 The number of elements in the template play a huge role in the template especially the elements that are realized and bound. Because they get repeated so many times, reducing a few elements in the template goes a long way. Some ways to reduce them that i can think of
1. Use RelativePanel instead of multiple nested panels. I see in your sample template that you have 3 textblocks, 2 grid

[2019-12-22 05:06] yaichenbaum commented on #638
I am interested in seeing a timed dismiss property that will hide the teaching tip after a specified amount of time. I spoke about this with @SavoySchuler and he mentioned it needs to be done in a way that is accessible for users, one of the thing he said was the possibility of having an option in the system settings to control how long teaching tips show for. There is also the possibility of havi

[2019-12-22 05:46] mdtauk commented on #1520
Seems like there needs to be a **baseline** alignment option, where you can have an object align to the text baseline of a Text Block/Box, with offsets if necessary.

[2019-12-22 23:57] chingucoding opened #1787 "NavigationView opens Pane when "changing" from LeftMinimal to LeftMinimal"
**Describe the bug**

When a NavigationView is in LeftMinimal PaneDisplayMode, and you set the PaneDisplayMode to LeftMinimal, the pane opens.

Related to #1702
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set NavigationView to LeftMinimal
2. Set it to LeftMinimal again

**Expected behavior**

The pane should stay closed.

**Screenshots**

**Version Info**

NuGet package ver

[2019-12-23 03:22] hupo376787 commented on #1699
Hi, @ranjeshj . Thanks for the precious advice. I run the fixed demo on Xbox One S, the focus rectangle still moves slowly when scroll up.

Also I noticed, when scrolling down `ItemsRepeater`, there is no scroll animation on my xbox. But when scrolling up, the scroll animation occurs. On my pc, both up and down don't have scroll animation.
But my production app have scroll animation up & down.

|

[2019-12-23 09:01] chingucoding commented on #1699
Yes this is because the focus switches from ItemsRepeater to another. Since the ItemsRepeater do not know which index was selected in the other ItemsRepeater, they have no way to select the corresponding item in their own item list.

To have the behavior you described in the second screenshot, other Controls such as GridView may be more suitable for this.

[2019-12-23 09:07] hupo376787 commented on #1699
@chingucoding OK, got it. But how can android & apple can do it. A page like NetFLix home page, what control do they use? The same mechanism?

[2019-12-23 09:15] chingucoding commented on #1699
I don't know what control(s) they use, especially since they are probably are using Android/IOS controls. Something that they (and you) might do is to achieve this effect is setting the focus manually when the user navigates the page.

[2019-12-23 09:22] hupo376787 commented on #1699
It seems that I have to write code, not using `FindNextFocusableElement` when up/down, because `FindNextFocusableElement` always return the first.

[2019-12-23 09:25] chingucoding commented on #1699
Yes you would need to look at the (previously) selected index, and do some calculation/logic based on that.

[2019-12-23 09:40] grokys commented on #1425
The problem seems to go something like this:

- `repeater.GetOrCreateElement(9999);` is called
- `ItemsRepeater::GetOrCreateElementImpl()` calls `m_viewportManager->OnMakeAnchor()` with the element, meaning `m_makeAnchorElement` is set
- When the control is measured, at first `anchorRealized == true` at https://github.com/microsoft/microsoft-ui-xaml/blob/e7e08236a0c28269a8641cfc06adfc3c40766d9f/de

[2019-12-23 13:22] PaulMontgomerySP commented on #1500
@anawishnoff
I am pretty sure that the Microsoft Pivot Viewer Control was not html.  Please look back at it.  The ability to visualize large sets of data using something like that was something that we have wanted to do at times.  It was available in Silverlight I think.    https://www.microsoft.com/silverlight/pivotviewer/default#  It used Deep Zoom for it functionality.  Adding Deep Zoom capabil

[2019-12-23 14:40] ranjeshj commented on #1699
@hupo376787 Correct. As i mentioned in the comment above the FindNextFocusableElement call is just to show how to do the manual focus navigation on key down. You can find out which element to put focus on and write the logic for it as you want it. Also, it only works for down because I only coded it for down key :) to see the difference. Down is using the custom logic in KeyDown handler and Up is

[2019-12-23 15:00] hupo376787 commented on #1699
OK, got it. How about the scroll animation?
Do you have a XBox one S to test the demo?

[2019-12-23 15:19] ranjeshj commented on #1699
@hupo376787 I am currently on vacation and don't have an XBoxOne S to test it out. In the mean time, you could try calling BringIntoView api on the element you are setting focus on and I believe that has an option to animate. https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.startbringintoview

[2019-12-23 15:56] hupo376787 commented on #1699
I think doing manual navigation stuff helps little on performance. As I said, I'm designing a page more complex than Netflix's home page. I will change my template following your advice, but the main work  belongs to control. We have the same design on android and apple tv, they all run perfect and smooth. Maybe XBox One S is too weak, but Xbox one seems not much stronger than S. So I think WinUI

[2019-12-23 18:50] Austin-Lamb opened #1789 "Proposal: Improved Japanese text support in Closed Captions for media"
# Proposal: Improved Japanese text support in Closed Captions for media

## Summary
We've gotten a request to improve the way we handle Japanese text for closed captions.  Today, we render these horizontally, but a better experience for a Japanese user can sometimes be to have vertical text, which would include support for [tate-chu-yoko](https://helpx.adobe.com/photoshop/using/asian-type.html#use

[2019-12-23 21:34] michael-hawker commented on #1747
@MuziburRahman I think according to linked issue #1780, updating VS should fix it?

[2019-12-23 21:36] robloo commented on #1345
Update: The border on the buttons in the content dialog was a bug on my part. Sorry for that!

[2019-12-23 21:47] michael-hawker commented on #1500
@PaulMontgomerySP sounds like you should open a new issue to discuss the Pivot control.  Feel free to reference the previous discussion that was had about it from the Windows Community Toolkit here: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/770

[2019-12-23 22:42] kaiguo commented on #1345
Thanks for letting us know.

[2019-12-24 06:12] michael-hawker commented on #1688
@chingucoding I think they're talking about the panel that opens up in VS when you start a new UWP project:
![image](https://user-images.githubusercontent.com/24302614/71396971-dc706480-25d0-11ea-9a7d-a3b00ba018b8.png)

@nmetulev @mrlacey do you know how WCT and WTS got in this list? We could talk to the owners about updating the resources/help section.

For docs, I think this is one of the main U

[2019-12-24 10:31] michael-hawker opened #1790 "TreeViewItem Template IsExpanded ignored when reused"
**Describe the bug**
[code]
I have a dependency property named RootNodes (a List of a hierarchical data type) bound to the TreeView.  When I set this property the first time, the tree view populates items from the data structure and all the nodes are expanded as would be expected.

When I set this property again a 2nd time and change the list, the tree view items are regenerated; however, they are

[2019-12-24 10:34] michael-hawker commented on #1790
This is from a sample I've been working on, I need to publish it, so I can share a full example eventually.  This piece is just getting in the way of the core experience for the sample, so I need to figure out a workaround.

I actually just noticed even in the initial generation, some of the deeper nodes don't expand, so there may be something else going on even initially as well?

[2019-12-24 12:16] mrlacey commented on #868
Get the current view and attach the teaching tip to the first child?

[2019-12-25 10:27] chingucoding opened #1791 "Switching CalendarView between CalendarIdentifier does not restore year correctly"
**Describe the bug**

When switching a CalendarView from GregorianCalendar to other calendars and switch back to Gregorian, the year is not restored correctly.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open XAML Controls Gallery and go to CalendarView page
2. Switch CalendarIdentifier to "KoreanCalendar"
3. Switch back to GregorianCalendar

**Expected behavior**

The year

[2019-12-25 11:11] chingucoding opened #1792 "CommandBarFlyout: Submenu persists when CommandBar closes"
**Describe the bug**

When closing a CommandBarFlyout while a submenu is open that belongs the the CommandBarFlyout, the SubMenu is still visible.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open MUXControlsTestApp
2. Go to "Base CommandBarFlyout Tests"
3. Press "Show CommandBarFlyout with sub-menu" and open the Submenu
4. Click outside the COmmandBarFlyout and submenu

**E

[2019-12-25 21:16] be5invis commented on #1579
Looks like text coordinates are not properly rounded.

[2019-12-26 00:51] zenjia opened #1794 "Will there be any chart control in Winui?"
I really miss the chart control in WPF and Silverlight.

[2019-12-26 07:51] hupo376787 opened #1795 "Proposal:Adjust `NavigationView`' style to Xbox"
# Proposal: Adjust `NavigationView`'s style to XBox

## Summary
`NavigationView`'style on PC seems comfortable, either item size and style, etc. But on Xbox, especially on a big screen, the `NavigationView` looks wired when set `PaneMode` to `Left`.

A good example is NetFlix, their menu differs from Xbox and PC.

What do you think, guys?

[2019-12-26 11:28] nirbil opened #1796 "WebView mishandles iframes with bad encryption"
If you set a WebView's Source to a page with a bad certificate iframe, the frame fails to load with a certificate error, but the page does not properly complete loading, and the NavigationCompleted event never gets called.

Here's an example project demonstrating the bug:
[UWPWebviewError.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4002355/UWPWebviewError.zip)

When the app loads it

[2019-12-27 01:29] duke7553 commented on #168
How about having a collapsed state for some ribbon items when the window is resized small enough before the overflow has to kick in? This can look something like this:
![image](https://user-images.githubusercontent.com/20365014/71495893-24d09200-281e-11ea-947d-0360432608dc.png)
Full Size:
![image](https://user-images.githubusercontent.com/20365014/71495901-2b5f0980-281e-11ea-9393-6e409bf2498a.png)

[2019-12-27 10:11] tbolon opened #1798 "Question: What is the rationale for default NumberBox.NumberFormatter ?"
I have tested the NumberBox control introduced in WinUI 2.3 and was surprised by the default behavior which use English number formatting.

There is a NumberFormatter property which, in my case is set with a mix of french and english settings:
![image](https://user-images.githubusercontent.com/127185/71513085-3dca5900-2899-11ea-8824-467fbc607369.png)

I have standard french settings on my computer

[2019-12-27 19:33] kaiguo commented on #1764
This should be a bug on application side according to https://github.com/microsoft/microsoft-ui-xaml/issues/1345#issuecomment-568587473, closing.

[2019-12-27 21:05] #1726 closed

[2019-12-28 05:54] robloo commented on #1764
@kaiguo This is NOT the same as #1345. Per my comments above, yes, I'm changing the style of the button. However, why doesn't the custom border always appear on the button? Why does it only show up after the ContentDialog is opened? There may be a bug still in the framework.

Please re-open this or provide an explanation for:

[2019-12-29 07:39] JasonStein commented on #1493
@shaheedmalik @kikisaints

Hey guys, I am the author of Notepads, this is how I make background acrylic effect "always on" for both title bar and window body: https://github.com/JasonStein/Notepads/blob/12940adc674a9ba6fa336e3aaa8652978e8a8c8e/src/Notepads/Services/ThemeSettingsService.cs#L253

I indeed created the Acrylic brush myself using "AcrylicBackgroundSource.HostBackdrop" with help of UICo

[2019-12-30 14:44] mrlacey commented on #1688
It'll be whoever owns UWP within VS. I'd try Daniel J or Mike H

[2019-12-31 11:30] benstevens48 commented on #1784
This issue has been around for ages. I came across it several years ago and there was already an issue on the recently closed UserVoice site reporting it, which I upvoted. I don't think it ever attracted any attention from the moderators though.

[2020-01-01 02:51] kmgallahan commented on #913
[Office UI Fabric's MessageBar](https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar) looks great, IMO:

![Annotation 2019-12-31 215002](https://user-images.githubusercontent.com/5379488/71637701-955d2180-2c17-11ea-8291-fd70f74f29df.png)

[2020-01-01 18:38] kmgallahan opened #1801 "Bug: The selected text highlight often disappears on right-click."
**Describe the bug**

The selected text highlight disappears most of the time after right clicking it. This applies to:

- TextBox
- TextBlock
- RichTextBlock
- RichEditBox
- PasswordBox
- AutoSuggestBox

**Steps to reproduce the bug**

1. Open the XAML Controls Gallery > Text > any sample
2. Select some text (enter it first if necessary)
3. Right-click said text to bring up the context menu

**NO

[2020-01-02 17:11] ranjeshj commented on #1801
I see this on controls gallery as well.

[2020-01-02 18:32] YuliKl commented on #1605
Filled out AAT

[2020-01-02 19:01] EriWong opened #1803 "ShowMode on flyout doesn't seem to respect xaml settings"
**Describe the bug**
ShowMode is not properly being set when set from xaml.  Code behind works properly.

**Steps to reproduce the bug**
1. Create a flyout in xaml
2. Set ShowMode to transient in xaml
3. See how focus behaves/examine the flyout properties in VS while debugging

**Expected behavior**
The flyout ShowMode property is set to Transient

**Version Info**

NuGet package version:
Microsof

[2020-01-02 19:06] ranjeshj commented on #1467
@kaiguo Please take a look

[2020-01-02 19:07] ranjeshj commented on #1782
@kaiguo This is likely a dup. Can you please take a look at this repro when you have a fix for the other bug ? Thanks

[2020-01-02 19:11] ranjeshj commented on #1783
@Austin-Lamb Is there something specific to reveal focus that would cause it to get clipped while the normal system focus visual does not ?

[2020-01-02 19:29] ranjeshj commented on #1790
@kaiguo, can you please take a look ?
I'm curious if this is a timing issue between when the TreeViewItem gets children bound to it vs when the IsExpanded property is set. TreeViewItem has an ItemsSource dependency property - so perhaps as a workaround, when that propertychanges, you could manually expand the children.

[2020-01-02 21:41] ranjeshj commented on #1794
There are currently no charting controls in WinUI. Telerik has some charting controls for UWP - https://www.telerik.com/blogs/telerik-ui-for-uwp-now-open-source which you might find useful.

[2020-01-02 22:07] ranjeshj commented on #1792
@llongley can you please investigate ?

[2020-01-02 22:10] ranjeshj commented on #1795
@chigy NavigationView does change its appearance based on window size. This looks like a request to change the small window size behavior.

[2020-01-02 22:12] ranjeshj commented on #1798
We should be getting the system number formatter. We could do the same as what calculator is doing here.

[2020-01-02 22:19] ranjeshj commented on #1779
@kaiguo, Is this a ContentDialog specific issue or a more generic framework issue that affects all derived controls ? If it is not a more common issue, what in ContentDialog is causing this ?

[2020-01-02 22:25] ranjeshj commented on #1803
@EriWong What is the actual behavior that you are seeing ? Do you mean to say that the control is setting the property to something else after loading ?  In that case, can you attach a property change event handler on that property and get a callstack of where this is changing ? Thanks.

[2020-01-02 23:59] #1549 closed

[2020-01-03 00:16] YuliKl opened #1804 "[Watson Failure] caused by NULL_CLASS_PTR_READ_c0000005_Windows.UI.Xaml.dll!ctl::ComObject_DirectUI::ListViewItem_::AddRef"
**Describe the bug**

This reliability bug was opened because at least one instance of this specific failure was reported from test automation, self-host, an internal or external flight, or a retail device. It was placed in this path based on the http://compcentral ownership of Windows.UI.Xaml.dll. The "Automation" tab of this bug will be updated with hit data as it comes in.

This issue is action

[2020-01-03 00:49] zenjia opened #1805 "Code intelligence doesn't work in Xaml designer!"
**Bug**：Code intelligence doesn't work in Xaml designer in Winui 3.0/C++ project.

**IDE**: Microsoft Visual Studio Community 2019 Version 16.4.2
**Target platform min version**: 10.0.17763.0

[2020-01-03 07:52] ackh opened #1806 "Proposal: Make the 'Background' property available in the SwapChainPanel"
# Proposal: Make the 'Background' property available in the SwapChainPanel

## Summary
Building a custom control that utilizes Direct3D to draw its content makes it necessary that this control inherits from SwapChainPanel. I've built such a control based on SwapChainPanel and introduced a bunch of dependency properties so that users of the control can set the colors used for rendering via XAML. Th

[2020-01-03 10:48] niels9001 opened #1807 "Proposal: Duration Picker"
# Proposal: Duration Picker
A Duration Picker control that can be used for setting the duration of e.g. a timer or storyboard.

## Summary
A Duration Picker would allow for setting something like a TimeSpan and allows users to set a duration. This is helpful for apps having user interfaces that are timespan based, such as movie storyboards, timers. An example of something that comes close (this do

[2020-01-03 11:18] MartinZikmund commented on #1807
Great idea! Hand in hand with the picker it would be great to have a `DurationPickerFlyout` in the feature proposal to make it complete 👍

[2020-01-03 14:40] mdtauk commented on #1807
Duration Picker is great, and the Alarms app has something similar.

Could it be combined with a Time Span Picker?

[2020-01-03 17:40] reli-msft opened #1808 "Proposal: Font variation properties for <TextBox>, <TextBlock>, etc."
# Proposal: Font variation properties for `<TextBox>`, `<TextBlock>`, etc.

## Summary
Despite the underlying composition system supports OpenType variable fonts (like *Banhschrift*), the XAML currently does not expose any interface for them. Therefore we need to inteoduce a series of new properties for text controls.

## Rationale
* Variable fonts are getting more and more industrial support. Cur

[2020-01-03 17:51] ranjeshj opened #1809 "ListBox and ListView don't listen for INotifyCollectionChanged if the type implements a generic IList<T> interface; it *must* be the legacy IList."
**Describe the bug**
ListBox/ListView require ItemsSource to impliment the legacy IList interface. IList<T> is not supported by WinRT. It should be possible to support cases where the the ItemsSource only impliements IEnumerable and INCC

Internal bug - https://microsoft.visualstudio.com/OS/_queries/edit/24511651

[2020-01-03 18:52] chigy commented on #1795
@hupo376787 , We currently purposefully do not create different style for Xbox. As Ranjesh indicates, we only make different behaviors on size.

What you are suggesting is righteous, but it opens up a bigger question whether Xbox should be a separate style or not which we currently are saying it is not and we have no plans to open up for this discussion at this time.

That said, if you are willing

[2020-01-04 14:39] jtorjo opened #1810 "[uwp] UserControl.Loaded firing too late"
**Describe the bug**
UserControl.Loaded fires too late.
I have a highly complex control and I can only initialize resources in Loaded event.
However, certain events can fire sooner. I understand why this can happen (implementation wise), but conceptually, I believe it should not happen.

**Steps to reproduce the bug**

	<UserControl x:Class="edit_ui.startup_pane.new_project_ctrl"
				 xmlns="http:

[2020-01-04 20:23] MartinZikmund commented on #920
@mdtauk Maybe, for now, an option would be to add these themes as one of the defaults in the [Fluent XAML Theme Editor](https://github.com/microsoft/fluent-xaml-theme-editor) 🙂

[2020-01-05 12:09] kmgallahan commented on #1810
Using your example, the `UserControl` would not actually be in a loaded state if if its child `Grid` weren't loaded itself and firing events.

It would not make sense to suppress the functionality of child elements until all parent elements are "loaded", then make another pass to stop suppressing everything - at which point the parent is actually now in a "loaded" state (because its children are o

[2020-01-05 13:51] MartinZikmund opened #1811 "ColorAnimation broken for #00000000"
**Describe the bug**

I have tried to create a `ColorAnimation` from transparent black (#00000000) to another color and found out that the animation actually does not animate and instead jumps to the end value abruptly after the `Duration` expires.

[code]

**Steps to reproduce the bug**

I have created a simple [repro here on GitHub](https://github.com/MartinZikmund/uwp-coloranimation-bug-report)

[2020-01-06 10:50] hupo376787 commented on #1795
@chigy I'm using NetFlix and designing my app.
NetFlix has different menu style on Xbox and PC, if I use `NavigationView`, it has the same style with NetFlix. But when my app runs on Xbox, the menu style is not suitable for TV users.
So I wonder if the two different style can be merged in a single control?
Thanks.

[2020-01-06 13:41] Going-Gone commented on #1500
The selection changed event fires for each row I move to with the keyboard.
It would be nice to have an event solely for a mouse click or cell tap, instead of only the selection changed event.

The selection changed event fires for both click, and keyboard. It would benefit greatly to have a event solely for clicking.

[2020-01-06 14:55] dotMorten commented on #1500
@GoingGone I'm curious what the use case for that is? Why do you need to know the difference? Also can't you use the tapped event?

[2020-01-06 15:03] FrayxRulez opened #1812 "Question: Why ColorSpectrum has to be squared?"
Hello,
I'm trying to restyle the ColorPicker as I'd like to get something really compact, similar to this:
![image](https://user-images.githubusercontent.com/8152849/71826189-a84f7600-309d-11ea-80fe-1790eee2011a.png)
The concern is that ColorPicker sets the Height of the ColorSpectrum inside to its Width.
My question is: is this really necessary? Would be possible to avoid this?
I would ever go fo

[2020-01-06 17:12] chigy commented on #1795
Hello @hupo376787 , I would like to make sure I'm understanding you correctly. Are you designing your app based on NetFlix design? If so, the fact it uses two different design might be due to the possibility they do not use NavigationView on Xbox since these apps existed before the control was created. There's a bit of a long story here with Xbox not using XAML control when it first started out.

[2020-01-06 17:30] mdtauk commented on #1795
There is documentation about NavigationView should change for TV apps?  Do these changes happen automatically when running on the Xbox, or does each developer need to make them manually?

https://docs.microsoft.com/en-us/windows/uwp/design/devices/designing-for-tv

[2020-01-06 17:34] chigy commented on #1795
@mdtauk , is it a question or statement? Currently, the only thing we recommend doing is to hide the back button which is documented [here](https://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-backwards-navigation#optimizing-for-different-device-and-form-factors) and developer needs to write their own code to achieve it also documented [here](https://docs.microsoft.com

[2020-01-06 17:47] ranjeshj commented on #1699
hi @hupo376787, were you able to resolve this issue with the manual navigation ? Thanks.

[2020-01-06 18:42] StephenLPeters commented on #1812
I think the reason we do this in code behind is because the math we use to layout the color choices is not robust enough to layout correctly with a rectangular footprint.  I think the only way we'd be able to get a rectangle to work is to show less (or more) shades for each hue. I think this would probably be fine, but it not a trivial change. If this is blocking could you open an issue? I doubt i

[2020-01-06 19:40] mdtauk commented on #1795
The documentation may be helpful to @hupo376787.

I remember a similar discussion in another issue #698 about introducing specific templates for the WinUI controls when running on Xbox.

[2020-01-06 19:50] KaiyuWang16 opened #1813 "Setting key inputs as handled causing TextBox to eat inputs in XAMLIsland"
**Describe the bug**
In XAMLIsland scenario, if we set e.handled to true for key inputs in a TextBox, then input text won't show. Even we only set e.handled to true on the parent of the textbox, the input texts are still eaten.

**Expected behavior**
Setting e.handled to true should not affect inputs in the TextBox, users should be able to see inputs show in the TextBox.

**Version Info**

OS vers

[2020-01-06 19:52] llongley commented on #1812
It's been a long time since I've looked at it, but if I'm recalling correctly, the limiting factor is that without explicitly setting the height of the ColorSpectrum, it will measure its height as zero, since it doesn't have any internal layout that tells it what height it should otherwise be.  So we explicitly set its height to ensure that doesn't happen, and we set it to make it a square as that

[2020-01-06 20:06] KaiyuWang16 commented on #1813
Discussed with @Austin-Lamb on this bug.

[2020-01-06 20:07] FrayxRulez commented on #1812
A easy solution I was thinking about could be to have TemplateSettings with SpectrumWidth and Height, so that developers would be able to override them by simply not binding them

[2020-01-06 20:58] jtorjo commented on #1810
I totally get that. However, to me, it's surprising to receive events from a child of the UserControl, before the user control itself is loaded.

Personally, I can't think of any example where you would want to handle events from children BEFORE the UserControl is loaded.

This is clearly the path I'll take for now.

Having said that, I defer to you guys - you definitely know better implementation

[2020-01-06 22:44] chingucoding opened #1814 "Unreliable CI test execution behavior"
Lately, the CI seems to become a bit unreliable since it reports multiple tests as failing despite no changes have been made for the controls the failing tests are for.

| PR | Error | Helix log error | Helix Loglink |
|---|------|------------------|----------|
| #1799 | SwipeItems Work item failed | App failed to start | [Link](https://helix.dot.net/api/2019-06-17/jobs/1d1df46c-3420-49cb-8889-7eb

[2020-01-06 22:48] kmgallahan commented on #1810
An analogy:

Construction company: "We finished the building!" (UserControl OnLoaded)

Tenants: "But none of the lights can turn on..." (some code listening for OnLoaded)

CC: "I'm doing to go wire up the lighting right now!" (after the OnLoaded event or asynchronous during it?)

T: "I thought the building was finished?..." (people wondering why the UserControl is claiming to be loaded even though

[2020-01-07 00:19] jtorjo commented on #1810
@kmgallahan I see what you're trying to do with the analogy, but I don't see how it would apply here.

Let me ask you this: in my original scenario, why would I ever want to listen to mouse events from the grid, before the user control is fully loaded?

The UserControl is supposed to orchestrate everything - that's why **it listens** to events from its descendants.

[2020-01-07 03:11] kmgallahan commented on #1810
You are the one that decided to listen for the events before you are ready to handle them. Your event handling logic requires the UserControl to be loaded before handling the child events (otherwise exceptions are thrown), yet you are still listened before you are ready.

Framework elements execute their code once loaded, which includes dispatching events. It doesn't matter what state other framew

[2020-01-07 07:21] hupo376787 commented on #1795
@chigy , Yes, we're developing an app like NetFlix. Here is NetFlix's screen shot on xbox and pc.
![微信截图_20200107142833](https://user-images.githubusercontent.com/14960168/71873413-0cd00b00-315a-11ea-8a1f-9f7a0eb9891e.jpg)
![微信截图_20200107142849](https://user-images.githubusercontent.com/14960168/71873417-0e99ce80-315a-11ea-93d2-8a12387fae92.jpg)

![微信截图_20200107142104](https://user-images.githubus

[2020-01-07 10:18] jtorjo commented on #1810
@kmgallahan Got it, thanks.

[2020-01-07 10:18] #1810 closed

[2020-01-07 13:53] Naveen61097 commented on #999
The same issue reproducing for me when im using Teaching Tip. The app working fine in both dubug and release mode, but one i upload .appxupload to the store and download the app from store, it crashes. Help me by providing the solution.

[2020-01-07 16:16] mrlacey commented on #1807
Does anyone have thoughts on how extensible this should be?

- Is it important for this to have the ability to include years, months, weeks, days, hours, minutes, seconds? (I think only days, hours, minutes & seconds as they map directly onto the `TimeSpan` type.)
- Would the ability to limit which periods can be selected be required? (With properties such as `ShowDays`, `HowHours`, etc.)
- What a

[2020-01-07 17:19] chigy commented on #1795
@hupo376787 , thank you for your list. At the moment, I am not convinced the changes you are suggesting makes sense for us to bake into our default control for the reasons below.

Please note that you can certainly try the custom route through [custom visual state trigger](https://docs.microsoft.com/en-us/windows/uwp/design/devices/designing-for-tv#custom-visual-state-trigger-for-xbox) and I am no

[2020-01-07 18:17] StephenLPeters opened #1815 "Unreliable Test VerifyCurrentAnchor"
The repeater test VerifyCurrentAnchor is failing at a rate which is blocking unrelated check ins on RS5.  I've disabled it.

[2020-01-07 18:44] kikisaints commented on #1807
@mrlacey I'd imagine that if you were a developer that wanted to have a timer where a user could set over 24 hours as the duration, then you'd essentially be dealing with days and if you wanted a timer that handled more that 365 days, then you'd be dealing with years.

So perhaps having a duration picker that by default was a 24 hour timer, but would have properties on it like `DurationLength="Day

[2020-01-07 19:13] StephenLPeters commented on #999
@ranjeshj I've put this on you, maybe @jevansaks has insights into how this was fixed in the past?

[2020-01-07 19:49] mdtauk commented on #1807
Could it take a format string to change it to Days Hours Minutes, or even Week and Year scopes.

[2020-01-07 19:57] mdtauk commented on #1795
@hupo376787  You don't seem to be following the guidance for the TV Safe Areas, and the content should be moved away from the edges of the screen, whilst allowing background imagary to be "full bleed" touching the edges.

[2020-01-07 20:49] kikisaints commented on #1807
@mdtauk it may make more sense to receive a string in the same way the `DateTime` api does, and just format the duration picker accordingly.

Something like `DurationLength="dd/hh/mm/ss"` or `DurationLength="yy/dd/hh"` - then you could have a large combination of picker types depending on the string combo you gave it.
Is that along the lines of what you were thinking?

[2020-01-07 22:44] michael-hawker commented on #1790
@ranjeshj @kaiguo thinking about this more if it's a timing with the items being loaded from the itemssource, could it be that the isexpanded needs to be updated in the itemssource property changed like the [opacity line here](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TreeView/TreeViewItem.cpp#L333) too?

[2020-01-07 23:50] mdtauk commented on #1807
Exactly what I was thinking.  The Time Picker is fixed into Hours, Minutes, Seconds - but durations of time are more varied.  Nanoseconds, Milliseconds, Microseconds, as well as days, weeks, months, years

[2020-01-08 00:21] kmelmon opened #1817 "ViewBox children render fuzzy in PC Guides app when resizing window"
This bug was discovered by a MSFT internal team when testing various window sizes.

The bug manifests as text/shapes rendering blurry when resizing the app window.  These elements are children of a ViewBox that is applying a scale factor as the window changes sizes.  If you change the window size from small to maximized, the bug repros.

I was not able to create a min repro app - there's something

[2020-01-08 00:32] ojhad opened #1818 "Fix and Re-enable NavigationView interaction Tests"
There were some interaction tests that were disabled as part of [the move to ItemsRepeater](https://github.com/microsoft/microsoft-ui-xaml/pull/1683).
Fix and re-enable them.
`ArrowKeyNavigationTest`, `ArrowKeyHierarchicalNavigationTest`, `TabNavigationTest`, and `ScrollToMenuItemTest` -> Update downlevel (RS3 and below) arrow and tab navigation to behave as in RS4+, re-enable the tests for these

[2020-01-08 01:15] gegao18 commented on #1811
Hi Martin,

Thanks for the bug report. In this case Xaml is rendering the ContentPresenter via an alpha mask, and the initial transparent brush is causing the entire mask to come out transparent. We don't regenerate the mask until the animation completes, which is why the color pops in.

Setting a slight opacity works, as you've discovered, because that prevents the mask from being fully transpare

[2020-01-08 03:55] guybark opened #1819 "Tab navigation is not symmetric for a ListView whose items contain a ListView"
**Describe the bug**
Tab navigation is not symmetric for a ListView whose items contain a ListView.

**Steps to reproduce the bug**
1. Create a new blank UWP XAML app.
2. Add UI as follows:

`    <Grid Margin="20">
        <StackPanel>
            <Button Content="Before" />
            <ListView>
                <ListViewItem>
                    <local:MyUserControl Width="200" Height="200" />

[2020-01-08 08:15] niels9001 commented on #1807
Having the flexibility to basically define the length as @kikisaints proposes would be great and very flexible.

We'd need to think about the UX though. If we stick to the current time/data picker design it might become confusing for the user to determine what value is belongs to what time unit, as this concept shows:

![image](https://user-images.githubusercontent.com/9866362/71961139-08a5fb00-31

[2020-01-08 08:44] tibitoth commented on #1807
Please think about internatiomalization (i18n) pls

[2020-01-08 09:11] zhuxb711 opened #1820 "The selected node of TreeView will be automatic change when expand"
**Describe the bug**

The selected item in TreeView will be automatic change when expand
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Select a node in TreeView, which is not expanded
2. Then expand this node, now the selected node of treeview was changed to its sub node.

**Expected behavior**

The selected node of TreeView should not be changed
**Screenshots**

![GIF 2020-1

[2020-01-08 11:46] mrlacey commented on #1807
Beyond labels (for time units) and LTR are there any specific things that need to be considered here?

Are there, for instance, calenders that treat time (spans) differently?
Are there cultures that order days, hours, minutes, and seconds differently?
Anything else?

[2020-01-08 12:12] Naveen61097 commented on #999
Hai @ranjeshj ... Any updates on solution ??

[2020-01-08 14:47] tibitoth commented on #1807
@mrlacey not really. Currently I'm thinking about the labels.

[2020-01-08 17:03] ranjeshj commented on #999
@jevansaks  - what was the fix made initially that resolved @wbokkers issue. I'm curious if @Naveen61097 is hitting the same issue or something different.

[2020-01-08 17:10] ranjeshj opened #1821 "Make muxcontrolsinnerloop app run side by side with muxcontrolstestapp"
**Describe the bug**
We currently reuse the same app identity for muxcontrols test app when building using the inner loop solution and muxcontrols solution files. This sometimes causes confusion if someone builds the inner loop solution by accident and then sees only a limited set of features. We could avoid this by making the app we build during inner loop solution to have a different identity (a

[2020-01-08 17:13] jevansaks commented on #999
I believe the problem was that compiling with VS2017 was not propagating the winmd into the .appx's WinMetadata folder. Then when the store recompiles with .NET Native (which it does because VS2017 has an older version of .NET Native, it wouldn't do this if you had the latest VS2019) then it fumbles the recompile and it starts crashing.

Compiling with VS2019 resolved this issue for the person I w

[2020-01-08 17:18] wbokkers commented on #999
@jvansaks If I remember correctly, I had the tooling issue you described.

[2020-01-08 17:18] ranjeshj commented on #1819
Navigation within nested ListViews is a bit tricky. There is some documentation on nested UI here - https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/nested-ui

@chigy Is this behavior seen by @guybark expected with nested UI ?

[2020-01-08 17:47] ToddThomson commented on #1332
Not sure if this is the correct issue, but...

I would like to be able to use only the TabStrip from the TabView.

[2020-01-08 18:05] SpencerHurd commented on #1639
Hi Kiki, just pinging y'all on this!

S

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Kiki Saintonge <notifications@github.com>
Sent: Monday, December 9, 2019 1:33 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: Spencer Hurd <spencer@xbox.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xaml] Acrylic

[2020-01-08 19:02] chigy commented on #1819
@ranjesh , correct me if I am wrong but what @guybark is reporting here is not really nested UI issue, but it appears that Shift+Tab is not back tracking the tab behavior. Shift+Tab is expected to go to the last tab stop visited in the order of tab order and this shouldn't be special for nested UI.

[2020-01-08 19:16] kmahone commented on #1820
@zhuxb711, thanks for reporting this issue. I was not able to reproduce the issue myself. Could you please share a repro app with us?

Could you also please clarify how you are interacting with the TreeView? Are you using mouse or keyboard?

Thanks.

[2020-01-08 19:24] karenbtlai commented on #1814
@chingucoding  Turns out the ProgressBarTests failing are due to down leveling issues from `SystemErrorTextColor` resource being not available in RS4 and below. I'm working to fix that right now.

[2020-01-08 19:32] mdtauk commented on #1807
Some Google Image searches...

![image](https://user-images.githubusercontent.com/7389110/72008820-8b0cda00-324c-11ea-8e5d-4392ed0bc7c2.png)

![image](https://user-images.githubusercontent.com/7389110/72008849-99f38c80-324c-11ea-8894-8fe95a55a183.png)

![image](https://user-images.githubusercontent.com/7389110/72009122-2900a480-324d-11ea-9506-33ae5e7d11c1.png)

![image](https://user-images.githubu

[2020-01-08 19:45] PaulaScholz opened #1823 "Proposal:"
# Proposal: [Synchronize TwoPaneView scrolling]

## Summary
I am building a TwoPaneMarkdownEditor using the Windows Community Toolkit's Markdown controls, with Markdown in Pane1 and rendered results in Pane2.  I wish to synchronize the scrolling in each pane, similar to how the Markdown editor in Visual Studio Code works.  For example, if I scroll in Pane1, I want Pane2 to track this and move simu

[2020-01-08 20:27] kikisaints commented on #1807
I think having the labels under each column both when in a popup and when in-line would make the most sense localization-wise.

Alternately, we could supply a guidance around or string at the base that tallies up what you're setting, something like what Alarms and Clock does:
![image](https://user-images.githubusercontent.com/6964369/72013065-043b0b80-3212-11ea-8045-126414e548e7.png)

But it would

[2020-01-08 20:33] mdtauk commented on #1807
I haven't spent enough time thinking on the control to have a proposal or suggestion as to how it looks.  But I was always taught design is 1 third research (look at how others tackle to problem), 1 third planning (mock-ups and sketches etc), and the final third actually making the thing.

Consider those images part of the research :)

[2020-01-08 20:39] PaulaScholz commented on #1823
A Boolean dependency property that toggles simultaneous scrolling capability would ideal.

[2020-01-08 20:41] kikisaints commented on #1807
Absolutely - and I do appreciate it!

A lot of those research images are in the vein of what I'm thinking - however, for the sake of record, I wanted to also put out my own concerns around what I've seen from certain solutions which are similar to those that you've shown.

[2020-01-08 21:25] mdtauk commented on #1807
Here is a mockup of the inline labels done with the UWP control style
![image](https://user-images.githubusercontent.com/7389110/72017242-3d4c9d80-325d-11ea-9770-08e20d9602e3.png)

This would also work with the units split as was proposed in another issue - but it can potentially become a wide control, so not ideal for narrow form fields.  Another idea would be to stack the label below, but would

[2020-01-09 02:31] zhuxb711 commented on #1820
@kmahone I'm using mouse to interact.

I make a demo for you, this problem does exist. &If I select parent node and then expand it, the selection will be changed to its subnode.

Tips: Before you run the demo, please granting "file system access" in system setting for demo
[TreeViewTest.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4038287/TreeViewTest.zip)

[2020-01-09 12:14] mrlacey commented on #1807
On the I18N theme, need to also consider different pluralization options for different languages/cultures.

[2020-01-09 14:33] kmgallahan commented on #1807
## Would it make sense here to handle keyboard input?

It would of course require keystroke handling logic and an optional internal focus indicator.

### Keystrokes:

- For single digit (0-9) inputs a single keystroke would advance internal focus to the next input/spinner (which means you could end up on the second spinner after 1 keystroke)
- For double digit (10-99) inputs two keystrokes would a

[2020-01-09 14:58] mrlacey commented on #1807
For additional reference, the native Windows 10 Alarms app doesn't support using the number keys to set a value but support using the up and down arrow keys to advance the number (up or down based on position in the list, not numerically increment or decrement it.) It also supports the PageUp and PageDown buttons to advance the number by 3 (although I'm not sure what the reason behind this value i

[2020-01-09 15:55] adrilow opened #1824 "Allow PreferredMinSize larger than 500x500"
There are some use cases where an application is simply not usable in small sizes, and anything other than setting an appropriate PreferredMinSize is just a workaround. (See [1](https://stackoverflow.com/questions/59665646/uwp-minimal-window-size-larger-than-500x500/59667201))

In my opinion, style guidelines should be recommendations and not hard-coded limitations. I think this can be a useful fe

[2020-01-09 17:00] Aminator commented on #1824
I disagree. When developing a UWP app, a big focus should be making it responsive so that it can run on many different display sizes with no problem. I absolutely hate Win32 apps that set a really big min size, which leads to me not being able to put that window side by side with another window on my Surface device. Ideally an app should be able to fit in one rectangle of the 2x2 grid that Windows

[2020-01-09 17:30] anawishnoff commented on #1672
Update: [the spec](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/anawishnoff/RowColumnAPIChange/active/RowColumnAPIChange/rowcolumnapichange.md) for this change has been written! Feel free to look through it and leave any feedback.

In terms of a timeline - these changes, along with the new XAML language feature that changes the Grid definition syntax, will hopefully be implemente

[2020-01-09 18:54] kmahone commented on #1820
Thanks @zhuxb711 I can reproduce the issue now.

[2020-01-09 19:18] kmahone commented on #1820
@kaiguo can you please take a look to determine the root cause here and come up with a workaround if possible.

[2020-01-09 19:35] kmahone commented on #1824
@Austin-Lamb can you please find the right owner for this?

[2020-01-09 21:42] ThE-TiGeR commented on #1747
I have exactly the same problem. I allready cleaned my project and did a full rebuild.
I am using VS2019 16.4.2, Windows App Certification Kit 10.0.0.18362.1
Was there a solution found for this?

![image](https://user-images.githubusercontent.com/4369528/72107250-3ee79580-3331-11ea-97d1-7c070aad5110.png)

[2020-01-09 21:44] ThE-TiGeR commented on #1780
I have exactly the same problem. I allready cleaned my project and did a full rebuild.
I am using VS2019 16.4.2, Windows App Certification Kit 10.0.0.18362.1
Was there a solution found for this?

![image](https://user-images.githubusercontent.com/4369528/72107411-8b32d580-3331-11ea-95d7-c9f84cbbe4dd.png)

[2020-01-09 23:38] vsfeedback opened #1825 "AppBarButton with MenuFlyout Flyout is broken in the 1809"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/872025/appbarbutton-with-menuflyout-flyout-is-broken-in-t.html)._

---
I am targeting Windows 10 version 1809 and that is also my OS version. If I have an AppBarButton inside a CommandBar and set the Flyout of the AppBarButton to a MenuFlyout.  It opens ok but then the only

[2020-01-09 23:38] vsfeedback opened #1826 "TextBox.AcceptsReturn lost \n in UWP"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/872567/textboxacceptsreturn-lost-n-in-uwp.html)._

---
<p>I set TextBox.AcceptsRetrun = true in UWP project. </p> <p>When I key down Enter and new line the content, the TextBox.Text don't provider \n , only got \r.</p> <p>I test WPF project, it don't have the issue.</p> <p>

[2020-01-09 23:38] vsfeedback opened #1827 "UWP [RANDOM BUG] rotation animation makes Background blink"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/873382/uwp-random-bug-rotation-animation-makes-background.html)._

---
<p>Hi, I want to share with you one of the controls, that was developed for one of my projects. This is animated pager control. It creates pages and automatically changes page with pretty rotation animat

[2020-01-10 00:58] ranjeshj commented on #1819
This is likely a bug in ListView. ListView has specialized tab handling logic to handle landing on the selected index.

[2020-01-10 01:04] ranjeshj commented on #408
Closing this issue since it does not repro with latest bits.

[2020-01-10 01:04] #408 closed

[2020-01-10 06:05] ranjeshj commented on #1790
@michael-hawker. Good catch. That is quite possibly what is causing it. Can you try updating isExpanded when ItemsSource changes and see if that fixes the issue ?

[2020-01-10 06:15] ranjeshj commented on #1271
@TheFo2sh this is currently in the backlog. I believe this can be solved when we move TreeView to use ItemsRepeater instead of ListView. In the meantime, as a workaround, you could probably look at the last realized item in the underlying listview or offset of the ScrollViewer and use that to trigger loading of more items.

[2020-01-10 06:22] ranjeshj commented on #1018
These can be investigated post WinUI3. In WinUi3 the downlevel support using ItemsRepeaterScrollHost will go away since ScrollViewer will do anchoring everywhere.

[2020-01-10 16:57] yaichenbaum commented on #1801
I had this issue in one of my apps and I fixed it with this, I hope this helps 🙂

[code]

[2020-01-10 17:16] kmgallahan commented on #1801
@yaichenbaum

Using `SelectionHighlightColorWhenNotFocused` is just a workaround rather than a fix, as now when switching apps your highlighted text can't change color.

Popping a context menu for selected text shouldn't cause the text to lose focus. Or if it has to lose focus, then there needs to be logic or a new property to handle this scenario (although that property would/should be equal to `

[2020-01-10 19:08] StephenLPeters commented on #1827
@codendone This might be an issue with the toolkit control but I've put it on you first.

[2020-01-10 19:19] StephenLPeters commented on #1780
According to #1747 this issue was fixed with an update to VS, but it looks like you are one a pretty new version yourself. @michael-hawker Can you confirm the version of VS that the fix is included in? Is it possible this has regressed again?

[2020-01-10 19:28] #1614 closed

[2020-01-10 21:24] ranjeshj opened #1828 "ItemsSourceView should expose IndexOf"
There are cases where we need IndexOf to be exposed in ItemsSourceView. If the ItemsSource supports this we can provide a value. This is currently needed for NavigationView and RadioButtons and we do have it internally. We just need to expose it via ItemsSourceView.

[2020-01-10 21:53] YuliKl commented on #1825
I'm not able to repro the problem in a sample app with target and min versions set to 1809. My OS build is a newer Windows Insider build.

[2020-01-10 22:02] YuliKl commented on #1825
Similar, I can't repro in the [XamlCommanding](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlCommanding) sample when run on an insider build.

Closing this issue because it appears that the problem is fixed in newer OS versions.

[2020-01-10 22:03] #1825 closed

[2020-01-10 22:10] michael-hawker commented on #1780
@StephenLPeters I don't work on VS, I was just being a messenger from what I had heard on the other thread.  I believe it's in the Preview though not the 16.4.x.  I just updated an app in the store the other week with the latest WinUI though, so it shouldn't block submissions.

@LyalinDotCom do you know who owns this part of VS and could comment?

[2020-01-10 22:13] jevansaks commented on #1780
Are you blocked from running the Certification Test locally only? Or is this also blocking your store submissions?

There was at least one issue with the WACK test in the 1903 Windows SDK which was patched in a version of the WACK that went to the store but isn't available in any officially released Windows SDK. The fixed version is available in insider SDKs though.

[2020-01-10 22:19] ThE-TiGeR commented on #1780
I did not try to submit it until know. I just wanted to test if the app is still compliant because I did a lot of changes in the past

[2020-01-11 03:23] Austin-Lamb commented on #1824
@chigy - would you be able to help with this?

[2020-01-11 03:24] Austin-Lamb commented on #1813
Thanks for reporting this, @KaiyuWang16 - I'll add it to our backlog.

[2020-01-11 11:34] grokys opened #1829 "ItemsRepeater breaks when scrolling through variable height items"
**Describe the bug**

With a long list of elements of different heights in an `ItemsRepeater`, scrolling breaks, often showing a blank page.

**Steps to reproduce the bug**

Edit `BasicDemo` to contain the following:

[code]

[code]

Run the TestApp and use scrollbar to scroll through the list of items.

**Expected behavior**

Items are displayed at all positions of the scrollbar.

**Screenshots**

[2020-01-11 15:08] zhuxb711 commented on #1820
@kmahone This problem is very confusing to my users and hopes to be fixed as soon as possible

[2020-01-11 15:11] ranjeshj commented on #1829
This seems to happen only when using mouse thumb drag and when having a large number of elements (>~5000). Works fine for touch. It also fixes itself if you scroll by a little bit after. That suggests that this might be a bug in the disconnected jump logic in stack layout when the extent is particularly large (does not repro for say 1000 items). It is likely the size of the extent that causes it a

[2020-01-11 21:34] robloo opened #1830 "Bug: High severity crash of Windows 10 graphics stack"
**Describe the bug**

I found a bug in UWP/WinUI that brings down the Windows 10 graphics stack. I’ve toned down my comments but my frustration with this class of bug is very high. It should never happen and indicates deep process and architectural issues. This is the type of bug that will make companies drop (or never pick up) UWP/WinUI. WPF is still miles ahead of UWP/WinUI because it was develo

[2020-01-11 21:42] robloo commented on #1467
Any news on this? Since it affects even Microsoft's own apps I would expect it is high priority. It should not wait until WinUI 3.0 to be fixed.

[2020-01-11 21:51] robloo commented on #142
Any updates on this? It would be a great one to do with WinUI 3.0

[2020-01-11 21:53] robloo commented on #1469
Wouldn't be surprised if this is related to #1830

[2020-01-12 12:51] aosyatnik commented on #1827
This was my issue. You can connect to me if you need more details.

[2020-01-12 17:24] charlesroddie commented on #1494
Instead of fixing all the resolution problems in @verelpode 's posts on visual assets directly, you could just obviate them by making a large simplification.

1. SVG are by far the most important case, as almost all icons are vector graphics. A single svg file should be usable, with no need to generate or display scaled assets.
2. To support bitmaps (for backwards compatibility), a single high-res

[2020-01-12 20:02] reli-msft opened #1832 "Proposal: DIALOGEX-to-XAML converter"
# Proposal: DIALOGEX-to-XAML converter

## Summary
WinUI team could provide a converter that converts legacy `DIALOGEX` resources into XAML so application authors could modernize their applications faster.

## Rationale
* There are many existing legacy applications that havily uses `DIALOGEX` and `CreateDialog` to create dialog boxes. A professional application may have hundreds of dialog boxes an

[2020-01-12 20:14] reli-msft opened #1833 "Discussion: Legacy Pond (Legacy control container in XAML) for XAML Desktop"
# Discussion: Legacy Pond (Legacy control container in XAML) for XAML Desktop
A long-lasting application may have many legacy controls that needs to be hosted inside XAML. Therefore, it would be valuable to create a legacy-in-XAML container, opposite to XAML Island, to allow WinUI to contain them and make these old controls work properly.

[2020-01-12 22:17] chingucoding commented on #1830
I have cleaned up your project @robloo and it seems like this is an issue with corner radius.

"Minimal" repro app:
[Windows UI Crash App.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4051591/Windows.UI.Crash.App.zip)

I can repro the issue with following configuration:
Microsoft.UI.Xaml 2.3.191211002
Windows Build 19541
NVIDIA GTX 1070, driver: 441.66

[2020-01-13 01:38] robloo commented on #1830
@chingucoding Thanks for confirming this and reducing the code quite a bit.

The reason I think it may be related to Width is because changing the code to 'ActualWidth' instead of 'Width' prevents the crash. Since this turns on/off the issue it may be the source.

This also works in your sample app if you change this line:

Crash:
```Canvas.SetLeft(labelBorder, (300 - labelBorder.Width - 6));```

[2020-01-13 08:30] chingucoding commented on #1830
Yes leaving the corner radius out also ends in the bug not triggering. So this is probably a combination of the actual sizing calculation and corner radius calculation.

[2020-01-13 13:25] jess-rod opened #1834 "App resources to control corner radii of controls can't be overridden at the app level"
**Describe the bug**

App resources to control corner radii of controls (i.e. ControlCornerRadius and OverlayCornerRadius) can't be overridden at the app level (i.e. at Application.Resources). If these resources are added to Application.Resources with new values, the new values aren't applied. The default values are still the applied ones.

**Steps to reproduce the bug**

Steps to reproduce the be

[2020-01-13 14:36] Felix-Dev commented on #1834
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/1486.
Accroding to @chingucoding this has been fixed in the latest insider builds (at least build 19018).

@kaiguo Will this bug be fixed on non-insider versions of Windows 10?

[2020-01-13 15:31] ranjeshj commented on #1834
Closing this bug since it seems to be a dup of  #1486. Can you please comment on the other bug that is still open ? Thanks !

[2020-01-13 15:31] #1834 closed

[2020-01-13 15:35] ranjeshj commented on #1486
If you are using the same WinUI 2.x build and it works on a newer OS version but not an older one, it is possible that the bug is in the framework (wux.dll which currently ships with the OS). wux.dll is being moved out of the OS into WinUI 3 currently.

[2020-01-13 15:53] ranjeshj commented on #1830
@codendone @gegao18 This seems to mess up with the graphics stack. It does not crash so i dont have a callstack, but gets it into a wierd state that requires a machine reboot to fix. Can you please take a look ?

[2020-01-13 16:16] Felix-Dev commented on #1486
@ranjeshj Any chance the fix, if one does exist for newer windows insider builds, will be backported to current windows versions? Or will we have to wait for WinUI 3.0?

[2020-01-13 16:22] ranjeshj commented on #1486
I would like to understand better if this is really a framework bug. @kaiguo - were you able to identify/root case this issue to a framework bug that was fixed ?

[2020-01-13 16:36] ranjeshj commented on #1469
@RBrid Can you please investigate. It looks like a lot of transient allocations when zooming in.

[2020-01-13 17:23] Austin-Lamb commented on #1833
Hi @reli-msft - thanks for the suggestion!  We've been talking about the very same thing internally, and it's on our internal backlog already.

At the moment, we're spending pretty much all our time on WinUI 3, so that'll come before this feature - which means this'll be parked on the backlog for a good while.

To help us out, could you describe more about which legacy controls you'd like to host

[2020-01-13 18:40] ojhad opened #1835 "Investigate using `OnPreview` key events for NavigationViewItems"
After [the update to NavigationView where ListView was replaced with ItemsRepeater](https://github.com/microsoft/microsoft-ui-xaml/pull/1683), the NavigationViewItems utilize both the KeyDown and KeyUp events (same as the settings item behaves). However, using the`OnPreviewKeyDown` or `OnPreviewKeyUp`  event can improve implementation as we'd only need to use one keydown event type (KeyDown or Key

[2020-01-13 19:27] kaiguo commented on #1486
Yeah I did some investigations earlier, I think it's more of a "limitation" rather than a bug...

My understand is this has something to do with the way we read resources, when ControlCornerRadius (or any app level overloading resource) is getting loaded, Application.Resources hasn't been loaded yet (value is still null) , we don't have look ahead ability so there's nothing to override. @ranjeshj

[2020-01-13 19:34] ranjeshj commented on #1486
Linking internal bug link - https://microsoft.visualstudio.com/OS/_workitems/edit/20908500
FYI @chrisglein in case he wants to add more details to this conversation.

[2020-01-13 19:44] jesbis opened #1836 "GenerateNewControlProject.ps1 script improvements"
Potential improvements to [GenerateNewControlProject.ps1](https://github.com/microsoft/microsoft-ui-xaml/blob/master/tools/GenerateNewControlProject.ps1):

- [x] 1. Per comments [here](https://github.com/microsoft/microsoft-ui-xaml/pull/1831/files/79c7241da827166dc6cea6be1c3bddeae1f1c3f4#r365549663) this case should probably be expanded to set this node to `false` for the MUXControlsInnerLoop Prop

[2020-01-13 19:47] matthewacme commented on #1780
I can report I currently am having the same exact problem. I also cleaned my project, deleted all bin and obj folders, completely rebuilt from scratch and I am using VS2019 16.4.2, Windows App Certification Kit 10.0.0.18362.1

![image](https://user-images.githubusercontent.com/11168104/72286530-52d21680-3613-11ea-9f62-176e79ab518f.png)

[2020-01-13 20:06] licanhua commented on #1486
This is an known restriction from platform(#430), and it's impossible to fix it in WinUI 2.

[2020-01-13 20:45] #1671 closed

[2020-01-13 21:17] verelpode commented on #1494
@charlesroddie -- I believe you've described an excellent solution that fits the needs:  A modern design with a good balance between power and simplicity.  Surely nobody will be able to think of a better plan than what you said.
Additionally, the same plan could also be applied to both of "external" icons ("Visual Assets") and "internal" icons displayed within the app, or at least X% of the source

[2020-01-13 22:00] robloo commented on #1830
It crashes the windows display driver.

[2020-01-13 22:37] #1702 closed

[2020-01-13 23:35] stmoy opened #1837 "Proposal: Update TabView to use ItemsRepeater"
# Proposal: Update TabView to use ItemsRepeater

## Summary

Currently, TabView uses a ListView "under the covers" for the tab strip area. This limits our ability to implement features like drag-and-drop rails and improved animations. This proposal suggests updating TabView to use ItemsRepeater "under the covers" instead, which would enable us to implement drag and drop, animations.

## Rationale

[2020-01-14 00:05] stmoy commented on #1332
# Scoping Update (Jan 13, 2020)

Hi all! I wanted to provide a quick update on this. Thank you to everyone who provided their input and ideas! I have taken these ideas and pitched them to our team to see what is in scope for the next version of WinUI.

Several of the ideas that we liked the most were the ones that improved the overall polish and user experience of TabView. One of our original goal

[2020-01-14 00:07] ranjeshj commented on #1832
@Austin-Lamb This is an idea for xaml islands maybe.

[2020-01-14 03:20] Kinnara opened #1839 "NumberBox header and description display issues"
**Describe the bug**
[code]

![image](https://user-images.githubusercontent.com/1617766/72310948-17405680-36be-11ea-9a27-5b08eadae689.png)

There are two issues:
1. The header wraps too early, before reaching the right edge of the control.
2. The spin buttons are offset when description is used.

I think one way to fix these is to move the header and description content presenters out of the TextB

[2020-01-14 05:01] prayaas-a commented on #1832
An idea: a modern looking XAML control for common dialog box scenarios that supports largely the same APIs as legacy versions, so it's as easy as literally renaming the old calls. Could this be a modified ContentDialog, perhaps as a different control to ensure that existing ContentDialog usage isn't affected?

[2020-01-14 06:11] ranjeshj commented on #1699
Closing this issue since it looks like handling key input has resolved it.

[2020-01-14 06:11] #1699 closed

[2020-01-14 09:45] Kill4kan opened #1840 "INotifyPropertyChanged.PropertyChanged with null parameter is incorrectly handled in UWP"
This issue was originally reported at https://developercommunity.visualstudio.com/content/problem/880126/inotifypropertychangedpropertychanged-with-null-pa.html, but I was suggested to report it here.

The thing is that the System.StubHelpers.HStringMarshaler.ConvertToNativeReference method does not handle PropertyChanged notifications correctly in UWP. As stated in the [INotifyPropertyChanged\.Pr

[2020-01-14 12:09] zhuxb711 commented on #1679
Here is my solution for multiple ContentDialog, hope it would help you @robloo  :

[code]

[2020-01-14 14:40] ranjeshj commented on #1840
@MikeHillberg Is this a bug in the .net interop layer ?

[2020-01-14 14:43] eyalkapah opened #1841 "TeachingTip crashes the application"
**Describe the bug**
When trying to open a TeachingTip control, the application shuts down.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Click the Save button
2. The application crashes

**Expected behavior**
TeachingTip to be opened

**Screenshots**

**Version Info**
NuGet package version:
2.1.190606001

| Windows 10 version                  | Saw the problem? |
| :--------

[2020-01-14 15:00] ranjeshj commented on #1841
The repro works on recent builds. Teaching tip depends on certain platform features that are not available in the anniversary update. Post WinUI3 those platform features will be part of WinUI and will allow going further downlevel.

[2020-01-14 15:21] groege commented on #601
Just wanted to ask about the status of this issue => any idea if an when this will be done?

[2020-01-14 16:28] MikeHillberg commented on #1840
This is a confusion projection point between C# and WinRT; WinRT doesn't support null strings (hstring). So it's a 3 state mapping onto a 2 state. It's similarly an error to set TextBlock.Text to null. The INPC documentation does allow string.Empty.

[2020-01-14 17:02] Felix-Dev commented on #1840
@MikeHillberg If null is not a valid input for the INotifyPropertyChanged.PropertyChanged event for WinRT, the the documentation should be updated. As of now that [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.inotifypropertychanged.propertychanged?view=dotnet-uwp-10.0) still reads as follows:

It will also be helpful then to add a Remarks section (or Attention s

[2020-01-14 18:28] Sergio0694 opened #1842 "Proposal: updating text controls to properly handle large files"
# Proposal: updating text controls to properly handle large files

Creating this issue as suggested by @anawishnoff [on Twitter](https://twitter.com/ana_wishnoff/status/1217147791010496513). This proposal links back to a similar one on the UWP Community Toolkit about a [virtualized RichEditBox control](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2858).

## Summary

One common

[2020-01-14 18:48] yaichenbaum commented on #1842
Very well written, the one thing I would add to the list is that this applies to the `TextBox` control as well.

[2020-01-14 18:51] dpaulino commented on #1842
I **need** this.

[2020-01-14 19:11] MikeHillberg commented on #1840
I submitted an update to the INPC doc you referenced.

[2020-01-14 20:56] adrientetar commented on #1842
Yeah we need a control that can serve as a base for a code editor, with virtualization and callbacks when some text is changed to update the syntax highlighting for instance.

[2020-01-14 21:08] michael-hawker commented on #1780
❗ Calling this out as important from @jevansaks (maybe we can edit the initial post at put it at the top of the issue)

@jevansaks to clarify, if they pull just any [preview SDK](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK) **newer** than 18362 on an insider build that should resolve the issue?

[2020-01-14 21:17] michael-hawker commented on #1332
@ToddThomson If you don't give any of the tab items content, then the tabs will just be on their own, so it should allow you to just use the tabs.

@stmoy if the corner rounding is just exposed as a resource, then it could be modified, so that way a developer could easily re-template or fake having bottom tabs until the tab location property is implemented.

[2020-01-14 21:25] Sergio0694 commented on #1842
@adrientetar We can more or less do that already by heavily customizing the `RichEditBox` control, see here a [screen from my app Brainf*ck#](https://user-images.githubusercontent.com/10199417/72383561-032b4200-371c-11ea-955f-4fb1b5b9ccc1.png). That control at least provides extensive support for customizing the formatting of all the text though, so I don't think we have such a big issue on that s

[2020-01-14 21:27] michael-hawker opened #1844 "TabViewItem can no longer be a child of TabView"
**Describe the bug**
If you try and add a `TabViewItem` as the content of a `TabView` as in [this docs example](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view#display-tabview-tabs-in-a-windows-titlebar) you get an error:

(I feel like this may be a regression as the docs were probably valid at one point.)

In WinUI 2.3, you need to instead encase the TabViewItem

[2020-01-14 21:34] michael-hawker commented on #1332
@stmoy I also just noticed that TabView uses `IconSource` vs. the NavigationView's `Icon` (IconElement).  Will this be better aligned in WinUI3?

It is handy to just be able to put `Icon="Home"` for simple construction and then elaborate the IconSource with a complex type if needed.

[2020-01-14 21:42] ranjeshj commented on #1844
@stmoy It looks like this is not working because TabItems is not the content property for TabView. We can either update the sample or make it as the content property.

[2020-01-14 21:47] jevansaks commented on #1780
That's my understanding, but I haven't heard anyone who ran into this problem confirm it does resolve it. If it doesn't then we need to loop in SDK folks again.

[2020-01-14 22:13] adrientetar commented on #1842
I'm not sure about the performance of using RichEditBox spans since it's "retained mode", I think more designed for things like a word processor, unlike say [vscode syntax highlighting](https://code.visualstudio.com/blogs/2017/02/08/syntax-highlighting-optimizations).

[2020-01-14 22:30] Sergio0694 commented on #1842
Yeah no, I agree that the performance of the `RichEditBox` (like the other controls) is not great right now with large files, which is the whole point of this issue. What I meant to say was that at least regarding some basic formatting the control already offers APIs to do that through the RTF format, and that adding APIs specifically for syntax highlight etc. was not the main point of this issue.

[2020-01-14 22:31] michael-hawker commented on #1844
It'd be nice to see it as the content property, as that's a pretty standard practice. It's always nice to be able to type less. 🙂

[2020-01-14 22:36] michael-hawker commented on #1807
FYI @grochocki @rudyhuyn

[2020-01-14 22:54] grochocki commented on #1807
Improved keyboard support is something we would definitely want in the Alarms & Clock app.

I really like the direction @mdtauk took with the mockups [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1807#issuecomment-572263964). It feels a lot more elegant than what we do today in the Alarms & Clock app, and I think it provides additional flexibility (single/double/triple units, variou

[2020-01-15 00:06] stmoy commented on #1844
In the same way that one can add ListViewItems to ListView, I feel that we should be able to do the same with TabView.

[2020-01-15 01:27] kmgallahan opened #1846 "Bug: NumberBox visual issue with anything other than 100% display & text scaling."
**Describe the bug**
The NumberBox visual is disjointed when `SpinButtonPlacementMode="Inline"` & display and/or text scaling is set to anything other than 100% (didn't test all values).

**Steps to reproduce the bug**
1. Set text and/or display scaling above 100%
2. Look at the NumberBox with `SpinButtonPlacementMode="Inline"`

**Expected behavior**
It should not look disjointed.

**Screenshots**

[2020-01-15 10:40] MuziburRahman opened #1847 "Proposal: Add FirstVisibleIndex property in ListView"
This will be a nice addition in `ListViewBase` or `ListView` or `ItemsControl` to indicate which item is in the first row of visible items.

[2020-01-15 10:49] harvinders opened #1848 "Question: New ScrollViewer missing CurrentAnchor property"
I could not find `CurrentAnchor` property in the new `ScrollViewer`. Is it missing or there is a different way to get the anchor now?

[2020-01-15 14:19] ranjeshj commented on #1848
Scroller implements IScrollAnchorProvider but seems to be not in the idl so it does not show up in the metadata (https://github.com/microsoft/microsoft-ui-xaml/blob/22999aa8c9cfa85426ded9de55645ddfe74a2803/dev/Scroller/Scroller.h).  ScrollViewer is not exposing it either. @RBrid Should we exposing IScrollAnchorProvider api publicly in the new ScrollViewer ?

@harvinders A workaround for now would

[2020-01-15 14:23] ranjeshj commented on #1847
If you are using ListView, the underlying panel is [ItemsStackPanel](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.ItemsStackPanel). ItemsStackPanel provides First/Last-Visible/Cached Index properties. Same for GridView/ItemsWrapGrid.

This would be a nice addition to have for ItemsRepeater where we can make it independent of the layout and have just one implementation for Item

[2020-01-15 14:38] MuziburRahman commented on #1847
@ranjeshj The `ListView` I am using has a lots of items ( > 500). I know that `ListView` uses data virtualization internally. Every now and then, it's `SelectedItems` get updated. I just clear the `SelectdItems` and then add the newly selected items using a for loop.
Now, this seems to be a bottleneck in my app.
So I have this idea that I will have a separate list of selected items and only add th

[2020-01-15 14:39] harvinders commented on #1848
@ranjeshj And how do I get access to `Scroller` from `ScrollViewer`?

[2020-01-15 15:06] ranjeshj commented on #1848
You can use [VisualTreeHelper](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Media.VisualTreeHelper) to find the child element of ScrollViewer, get to the Grid and then the child Scroller. This is a workaround. I think we should expose these properties in the new ScrollViewer and also make it public in Scroller possibly.

[2020-01-15 15:16] ranjeshj commented on #1847
Could you provide more details ? Are you saying that clearing and adding a bunch of selected items is causing a performance issue so you are going to manage your own selection state ? I believe ListView just tracks the selected index ranges. It also provides a way for you to track selection state using [ISelectionInfo](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.iselectioninfo),

[2020-01-15 15:25] MuziburRahman commented on #1847
To be clear : I have to manually select/deselect the items in the listview, for some certain need of my app. So I have this code:
[code]
This is causing performance issue.
The list view doesn't use an `ItemsSource`, it just adds / removes from `Items`

[2020-01-15 15:27] MuziburRahman commented on #1847
So my idea is to avoid adding every element of `newSelectionItems` in `listView.SelectedItems`.
I want to skip adding those items that aren't currently in view.
And refresh the selection when the listview scrolls

[2020-01-15 15:30] ranjeshj commented on #1847
500 Items is a lot of UIElements for ListView to perform layout on. How are those items created? If you use ItemsSource/ItemTemplate instead I think it can drastically improve your performance since it will create UIElements only for the ones in view on demand.

[2020-01-15 16:50] chingucoding commented on #1846
I think the right behavior would be to not scale icon but increase button size, like we did with other controls.

[2020-01-15 18:08] #1844 closed

[2020-01-15 18:19] alainreynoso opened #1849 "Textbox not displaying text input."
Having the following issue with textboxes and not displaying text

Setup:
1) Create a Blank UWP project
2) In MainPage.xaml add two TextBox elements such as:
<Grid>
<TextBox />
<TextBox />
</Grid>

Repro:
1) Run the app
1a) Notice focus is on the first TextBox
2) Interact with a Window that is NOT the running UWP app.
3) Click into the second TextBox
3a) Notice that focus is now in the second Text

[2020-01-15 18:44] JN2307 commented on #1794
Would Microsoft consider supporting the LiveCharts open source library?
We need a first class, modern charting library and to bring this up to speed with WinUI would be awesome. https://github.com/Live-Charts/Live-Charts

[2020-01-15 18:51] ranjeshj commented on #1794
@JN2307  LiveCharts looks interesting. Thanks for sharing that. It already says in the roadmap that UWP support is in progress. Do you see something that blocks us from using LiveCharts with WinUI ?
+@jesbis

[2020-01-15 19:27] MartinZikmund commented on #1811
@gegao18 Thank you for the detailed explanation. Is this something that can be fixed in future versions or is it a by-design limitation? I will try to use one of the suggested workarounds for now :-)

[2020-01-15 19:35] mdtauk commented on #1832
If WinUI 3.0 includes a Window object/scenario - then something like this makes sense.

[2020-01-15 19:42] mdtauk commented on #1833
I imagine a HWND host control, could only work with an un-sandboxed WinUI 3 app

[2020-01-15 20:28] ranjeshj commented on #1849
@alainreynoso This works fine for me. focus goes back to the first textbox and i can see more text as I type. Can you provide a repro app/more details ?

[2020-01-15 20:53] alainreynoso commented on #1849
after step 3... dont click on the first textbox... focus should be on the second textbox and then type.  do they appear?

[2020-01-15 21:10] StephenLPeters commented on #1847
@anawishnoff FYI, I'm not sure if the proposed API is the correct solution but lets make sure the issue isn't fogotten.

[2020-01-15 21:14] StephenLPeters commented on #1846
@TeaP FYI

[2020-01-15 21:14] StephenLPeters commented on #1846
I think you are right

[2020-01-15 21:20] ranjeshj commented on #1849
How to do you get focus back to the tab. I can click on the app or alt-tab. In both cases focus goes back to the first text box for me.

[2020-01-15 21:23] StephenLPeters commented on #1841
In general winui does not officially support RS1 (14393) builds. Unfortunately teaching tip does require some RS2 functionality to function.  I would suggest doing a platform check before calling the code that opens the teaching tip if you are trying to support RS1.  You can see how to do that in our SharedHelpers.cpp file.  With winui 3 this issue will go away.

[2020-01-15 21:23] #1841 closed

[2020-01-15 21:25] StephenLPeters commented on #1839
@TeaP FYI

[2020-01-15 21:26] StephenLPeters commented on #1839
@SavoySchuler should the header be wrapping at all?

[2020-01-15 21:28] anawishnoff commented on #1847
I definitely like the idea of implementing this for ItemsRepeater, as it's already implemented in ItemsStackPanel/ItemsWrapGrid which are the "backbones" for ListView/GridView.

In this case, could you just use the[ FirstVisibleIndex](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.itemsstackpanel.firstvisibleindex) property on the ListView's underlying ItemsPanelRoot property, t

[2020-01-15 21:55] RBrid commented on #1848
Thanks @harvinders, could you please tell us about your scenario that requires reading the CurrentAnchor property?

@MikeHillberg, the old ScrollViewer publicly implements the IScrollAnchorProvider interface and thus exposes its CurrentAnchor read-only property alongside the RegisterAnchorCandidate/UnregisterAnchorCandidate methods.

The new ScrollingPresenter only privately implements that interf

[2020-01-15 22:21] alainreynoso commented on #1849
When you run the app, use the mouse to click on the first textbox.  Focus should be on the first textbox.  Then click on another application, chrome for example and copy the url.  the url is not important but the action of interacting with another application is the key.  Then click on the second text box , not on the page (parent of the text box) but this should give focus on the second text box.

[2020-01-15 22:29] codendone commented on #1830
Thanks for reporting this and providing a repro app!

I repro the issue.  The problem, at least in the reduced repro, is that labelBorder.Width is NaN, so SetLeft() ends up setting NaN.  XAML passed this NaN along to Composition, which eventually hits a fatal error in dwm.exe (the system compositor responsible for putting any rendering on screen).  The crash of dwm.exe makes the screen stop render

[2020-01-15 22:32] #1605 closed

[2020-01-15 22:48] ojhad opened #1851 "Fix NavigationView ToolTipCustomContentTest interaction test"
There was an interaction test that was disabled as part of [the move to ItemsRepeater](https://github.com/microsoft/microsoft-ui-xaml/pull/1683).
Fix and re-enable it.

Test Name: `ToolTipCustomContentTest` -> Need to find a new way to test this because the old way of applying RS3 templates has been deleted. The old template had the tooltips defined which the old implementation of the test was lev

[2020-01-16 00:50] stevenbrix commented on #1805
Thanks for filing this @zenjia

@mgoertz-msft, is this a known issue?

[2020-01-16 00:55] stevenbrix commented on #1649
@chabiss @maxbrister adding you guys since this is related to the in-app toolbar, which is owned by VS

[2020-01-16 00:58] mgoertz-msft commented on #1805
WinUI isn't officially supported by the XAML designer/editor yet. IntelliSense sort of works for C# but only because it thinks it's dealing with Winows.UI.Xaml types and not Microsoft.UI.Xaml. We had to turn off error reporting for the 3.0 Alpha. I have never tried WinUI 3.0 with C++ so I'm not terribly surprised to hear that it doesn't work.

[2020-01-16 01:11] kmgallahan commented on #1849
@ranjeshj
I can repro this following the above steps in the XAML Controls Gallery TextBox samples page.

[2020-01-16 01:18] ranjeshj commented on #1849
I am able to repro as well. @Austin-Lamb this looks like it could be a focus/input issue.

[2020-01-16 01:38] harvinders commented on #1848
@RBrid I have a page with a main ItemRepeater wrapped in ScrollViewer (of type categories) and each category has ScrollViewer wrapping ItemRepeater with news item. Something like

![image](https://user-images.githubusercontent.com/8557046/72485651-750aa500-385c-11ea-9309-d83e158fa717.png)

Since user can scroll the main categories vertically or news items horizontally and then click on a item, I w

[2020-01-16 01:40] harvinders commented on #1061
@micahl  Can we also consider nested restoration of UI state as described in the use case [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1848#issuecomment-574940193)

[2020-01-16 02:52] hupo376787 commented on #1795
@chigy @mdtauk We have 4~6 item one row, 200% will result in 2 items, this is a bad experience. And 200% will result in pictures more blur, so 200% is a very unresponsible and lazy solution. I have read all the guideline for xbox, some advice may not be suitable for prodution, really.

[2020-01-16 06:03] micahl commented on #1061
@harvinders, it was a scenario in mind when I authored the proposal.  As I'm no longer directly involved in the project I'll defer to the WinUI team on where this proposal goes.

[2020-01-16 07:15] mdtauk commented on #1846
I think the Icon/Glyph should remain centred within the button as the button size changes.  But the text size and icon glyphs should be scaled together, as I believe happens with Win32 controls.

[2020-01-16 09:29] hupo376787 commented on #507
For svg style, we can use [Glyphter](https://glyphter.com/) to convert svg to font file, and do whatever we want. We can't rely on MS, we have to find tools online.

[2020-01-16 10:54] lukasf commented on #1679
I have also run into this trouble. Sure this can be handled in the app somehow, but it is tedious work that must be repeated in every single app. A framework solution would be highly appreciated!

I like the proposal, but I have some remarks:

1. This also affects MessageDialog! The solution must handle both ContentDialog and MessageDialog.

2. The `CloseExisting` enum value should close the exist

[2020-01-16 12:10] lukasf commented on #1494
@verelpode I think it would be more productive to not write these things in a "rant" kind of manner. But I fully agree with the IconSource and Path issues you pointed out, and also the flaws of the assets area. I ran into many of these problems myself.

But you miss some things about assets:

1. It sure makes sense to provide different images for different target sizes. If you simply scale an icon

[2020-01-16 13:43] verelpode commented on #1494
@lukasf

That's unnecessary and brings only an insignificant advantage that is not worthwhile overall.  I would recommended against it because it leads to obsessive-compulsive patterns and harmful perfectionism.  An obsessive-compulsive artist believes that one version is a lot better than the other version, but the end-users can't see any difference.  Many other issues are far more important, but

[2020-01-16 13:55] mdtauk commented on #1494
@verelpode  The amount of visual detail you can fit in a 16 x 16 resolution is very small.  It is best practice to take your 256 x 256 icon, and re-draw it with simpler and fewer details as you go down to 48 x 48, 32 x 32, 24 x 24 etc.  The best Icon designs are drawn at these various sizes.

To just resize a more detailed larger icon smaller, would end up a blurry mess.  Of course you could desig

[2020-01-16 13:58] ranjeshj commented on #1061
@anawishnoff as FYI. @harvinders using the Anchor and bring into view would be the way to do it for ScrollViewer/ItemsRepeater. This is a proposal to make it simpler especially in nested cases and possibly provide some APIs similar to persistence helper.

[2020-01-16 14:09] verelpode commented on #1494
@mdtauk

16x16 is obsolete, but anyway the suggestion from @charlesroddie already includes support for bitmaps and backwards compatibility.  One or two small tweaks to his suggestion may be necessary, but mainly it's an excellent suggestion.  If you say that his suggestion should be modified to include optional explicit support for 16x16 and 32x32 bitmaps, then I think that's reasonable.

[2020-01-16 14:20] ranjeshj commented on #1851
@ojhad Do you need help figuring out how to fix this test or is this just for tracking ? If it is the former, can you provide more details.

[2020-01-16 14:24] lukasf commented on #1494
@verelpode I disagree on your stand on image scaling. Blurry, badly scaled images look horrible. When I first saw the explorer icons of my app, I thought, OMG this looks like sh*t. 16x16 might be obsolete, but 48x48 is very alive and looks horrible when scaled down from a detailed high-res image. I believe that the first visual impression on an app has a high impact on the overall impression of th

[2020-01-16 14:47] kmgallahan commented on #1846
@mdtauk

The logic that was agreed upon via #1650, #1519, and #1413 was that:

* Glyphs/icons **do scale** with display scaling
* Glyphs/icons **do not scale** with text scaling

As per [this comment](https://github.com/microsoft/microsoft-ui-xaml/issues/1650#issuecomment-557232921):

[2020-01-16 14:59] mdtauk commented on #1846
That sounds perfect

[2020-01-16 17:09] chigy commented on #1795
@hupo376787 , I do not understand your comment about 4-6 items becoming 2. If 4-6 items are appropriate number of items for your app on Xbox, then you should make sure you have 4-6 items at 200%.

Screen scale do not make things blur if you are providing appropriate sized assets.

[2020-01-16 17:21] ojhad commented on #1851
This is just for tracking, however i'm not currently working on this, which is why I left it unassigned. Updated the description in case someone decides to pick it up before I get the chance to circle back to this.

[2020-01-16 19:01] michael-hawker commented on #1526
@stevenbrix sorry for the delayed response with the holidays.

I see a scenario, especially in a Win32 container, where certain modules are loaded dynamically in a program.  There may be some that are purchased separately or part of some separate edition.  There could be a case where the main program still needs to know about if a Type is present for detection to change UI display based on that in

[2020-01-16 19:20] dragonwolf83 commented on #1494
16x16 icons are far from obsolete. Small icons are required for list views like in Windows Explorer detail or list modes. They are used for status icons and titlebar icons, favicons, etc. They have a valid use case and a good app considers all the use cases and adapts their UI accordingly. You can certainly scale a bigger icon into a title bar, but then you are breaking the UX by wasting space in

[2020-01-16 19:22] michael-hawker commented on #1809
Is this related to https://github.com/microsoft/microsoft-ui-xaml/issues/931 then as well?

[2020-01-16 19:26] Sergio0694 commented on #931
Does this proposal also apply for `x:DataType` in templates where compiled bindings are used?

<details>
  <summary><b>Simple example</b></summary>

**Model**:
[code]

**XAML**:
[code]
</details>

<details>
  <summary><b>One with also function bindings</b></summary>

**Model**:
[code]

**Function**:
[code]

**XAML**:
[code]
</details>

The workaround to this for now is to always declare an empty c

[2020-01-16 19:28] ranjeshj commented on #1809
related but solvable differently. I think the issue here is that we want collection controls to be able to work with just IEnumerable + INCC. If WinRT supported generics, then collection controls don't have to depend on the 'IList' interface.

[2020-01-16 19:44] YuliKl opened #1854 "NumberBox does not set a default AutomationProperties.Name value based on its header."
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery.
2. Activate Automation Properties from home page.
3. Navigate to text box present beside Font Size of texts and observe its name property.

**Expected behavior**

Name Property should be there for text box

**Actual behavior**

Text box name property missing.

**Screenshots**

![

[2020-01-16 20:37] lawabider commented on #1612
Has anyone been able to display the Key and Value in a ListView? I'm not sure if my XAML is correct. I can only get a stringification of the KeyValuePair:
![image](https://user-images.githubusercontent.com/6218618/72560608-54177380-389f-11ea-8125-c93ec12956dd.png)

My XAML is:
![image](https://user-images.githubusercontent.com/6218618/72560961-03ece100-38a0-11ea-8efe-1f3ca6aa6e48.png)

[2020-01-16 21:39] stevenbrix commented on #1805
Is the XAML language service in VS different for .NET and c++ projects? Or will this work once the Xaml designer work is complete?

[2020-01-16 21:48] YuliKl opened #1852 "Up/down arrow buttons in NumberBox are not showing any effect on mouse hovering."
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Turn on High contrast mode (Alt+Shift+PrtScn).
2. Launch XAML Control Gallery app.
3. Navigate to "NumberBox" in All controls and activate it.
4. Under the header "A NumberBox with a spin button", navigate to "Enter an integer" combo box.
5. Now try to change the integer using up/down arrows present over ther

[2020-01-16 21:49] mgoertz-msft commented on #1805
Same language service but some code paths are obviously different, and it also depends on the WinUI C++ project system support, which is also different from .NET. Eventually it's all supposed to work though but I can't say which pieces will light up when.

[2020-01-16 21:54] YuliKl opened #1853 "Extra elements in NumberBox's UIA tree"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Turn on Narrator. Keep narrator in items mode.
2. Launch XAML Controls Gallery.
3. Activate NumberBox from home page.
4. Navigate to each text box present and observe the Narrator's behavior.

**Expected behavior**

Narrator should read the items description on reaching the UI's.

**Actual behavior**
When we

[2020-01-16 22:39] chingucoding commented on #1708
When a `Minimum`is set I think it would be better to default to the `Minimum`, since the expectation is that if we set a `Minimum`, the value does not fall below that, which might happen if we default to 0.

See [this issue over at XCG](https://github.com/microsoft/Xaml-Controls-Gallery/issues/324) where this is actually a problem.

[2020-01-16 22:53] jesbis commented on #1708
Even with `Minimum` set it's probably still useful to have a value for "not set" (e.g. NaN) so we can show the placeholder text.

Defaulting directly to `Minimum` could prevent useful placeholder text from being shown, and could cause values to erroneously get set and validated (e.g. via databinding to a model) when the user didn't actually enter anything.

If a value is required and hasn't been e

[2020-01-16 22:53] robloo commented on #1708
I think the control should default to no selection and show the placeholder text. That has special meaning that a user has not made a selection. If a developer wants the minimum this is very easy to set in code -- it is not so easy to determine a user hasn't made a selection.

That said, I no longer think we should be using double.NaN. The backing value type should be "double?" and the default nul

[2020-01-16 22:57] YuliKl commented on #1708
@SavoySchuler can you weight in on the right fix?

[2020-01-16 22:59] chingucoding commented on #1708
Maybe enforcing `Minimum` as default is not the best solution. However if we enable the default to be null, would there be any way to force users to input a value? Or would this be something the developer has to deal with (e.g. null checks)?

[2020-01-16 23:03] robloo commented on #1736
@adrientetar Yes! The internal processing needs to be more explicitly defined in the spec and allow for customization. I made that comment [here](https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-558866275). Formatting should be overridable with an OnFormatting method for derived controls and by default use the specified Globalization.NumberFormatting. This also allows special

[2020-01-16 23:09] robloo commented on #1708
@chingucoding Data validation is coming to WinUI 3.0. Perhaps that would be the best way to inform the user they need to make a selection. I would leave it up to the business logic to replace null with the minimum value when necessary so the view model can retain the 'no selection made' information.

Also note that `CalendarDatePicker` supports null/no-selection while `DatePicker` does not. So the

[2020-01-16 23:26] chingucoding commented on #1708
That would probably fix this, however I am not quite sure how easy it will be to use them that is, how much effort it is to simply filter for null/non null.

It's surprising that those behave differently. Maybe there could also be a flag for input controls such as NumberBox and CalendarDatePicker that would specify whether null is accepted as value or if there is a default and the user can pick a

[2020-01-16 23:40] kmahone opened #1855 "Cannot reference DefaultRadioButtonStyle from app. Resource not found error."
Add this Xaml to your app:

`<RadioButton Style="{StaticResource DefaultRadioButtonStyle}" Content="RadioButton" />`

An error is raised:

`'Cannot find a Resource with the Name/Key DefaultRadioButtonStyle'.`

I think this is due to the fact that DefaultRadioButtonStyle is ending up in generic.xaml instead of themeresources.xaml

[2020-01-17 00:02] zenjia commented on #1805
@mgoertz-msft, Many thanks for your great works! Can't wait to see the new version of WinUI!

[2020-01-17 09:16] hupo376787 commented on #1795
OK, thanks guys.

[2020-01-17 09:16] #1795 closed

[2020-01-17 11:32] weltkante commented on #1708
Since it hasn't been mentioned yet, Minimum isn't appropriate for symmetric inputs (e.g. -100 to +100).

[2020-01-17 14:29] jtorjo opened #1856 "Discussion: Opportunities to add value to WinRT"
# Discussion: Opportunities to add value to WinRT

Why am I writing here? Because it's the only place I think (and hope!) someone will actually listen...

I've been developing Windows apps for as long as I know myself (22.5 years). But in the last few months, while porting an app from WPF to UWP I've constantly found myself, to put it mildly, just wanting to give it all up.

So lets start with the

[2020-01-17 14:43] robloo commented on #1830
@codendone Awesome work tracking this down. This describes exactly what I was seeing on my end.

Any ideas what the XAML fix might look like? I imagine NaN will still fully be supported as it is in WPF, just WinUI will pass a 'valid' number to Composition replacing NaN when needed.

[2020-01-17 14:54] Austin-Lamb commented on #1832
Thanks for filing this!

This is an interesting idea to make it easier to migrate from Win32 to WinUI - for now I'm going to put this on our backlog, we would not be able to afford this feature for WinUI 3.0 but it's an interesting suggestion.

[2020-01-17 14:59] robloo commented on #1679
@zhuxb711 Thanks for the code. Tracking open content dialogs is totally possible to do on the app-side. However, it's added work that shouldn't be required. This also gets more complex to coordinate as apps become larger/teams grow. In the older frameworks we never had to worry about such things and could just show dialogs at will without crashes. It would be ideal to have a framework solution in

[2020-01-17 15:38] Austin-Lamb commented on #1849
I can also repro this - my suspicion is that XAML is getting focus but failing to forward the focus to the text input stack in this case.  It looks like a race condition, since it only happens sometimes in my tests.

@alainreynoso - do you see this repro 100%, or is it inconsistent?

[2020-01-17 15:43] robloo commented on #1856
I was at your frustration level a few years ago when I first started porting over WPF apps. So I certainly understand your sentiments. There has been some progress since then and as you said the WinUI team is really trying on their end.

From my viewpoint there is a fundamental design issue we can't work around: WinRT was technically handicapped because it has to interop directly with C++ and Java

[2020-01-17 16:05] robloo commented on #1672
Good News! I had a chance to go through the spec:

Since you are talking about how things are done currently this should probably say "Definition of a ColumnDefinition's Width property or a RowDefinition's Height property must be done inside the creation of a **GridLength**..."

It is not "No GridUnitType" it's just the GridUnitType is implied to be pixel. That's why it's a good ideas to name the

[2020-01-17 16:23] alainreynoso commented on #1849
So using the sample project and doing the steps outlined, we can always reproduce it.  But there are times in our application (not the 2 textboxes sample) where it is inconsistent.  We have noticed that if you do the following on the sample project - Focus on first Textbox , focus on a different application, then click on first textbox - that you can type ok.  Hope this helps and thanks for lookin

[2020-01-17 18:09] anawishnoff commented on #1672
@robloo Thanks so much for the feedback and catching these things. The API notes/details was definitely a typo and that's been fixed. I've clarified the spec to cover your other points as well. :)

[2020-01-17 18:16] codendone commented on #1830
@robloo Yes, I believe NaN should still be supported in this XAML API, so the XAML fix would be to not pass NaN to Composition. We still need to determine exactly where/how it is best to do that XAML change.

[2020-01-17 18:29] kmgallahan commented on #1849
Mild possibility that this is related to #1555. Similar application switching / multitasking scenario impact.

[2020-01-17 20:31] ranjeshj commented on #1848
@harvinders can you please share a repro app ?

[2020-01-17 20:43] #1651 closed

[2020-01-17 20:53] jesbis opened #1857 "👩‍💻📞 WinUI Community Call (January 22, 2020)"
## Update

Thanks everyone who could make it live! We'll try to get to the rest of the questions here.

Call recording is here:

**https://youtu.be/MXTVqgB4rW0**

---

Hi all -

The next WinUI Community Call will be on Wednesday Jan 22!

## Details

Date: **Wednesday January 22**
Time: **17:00-18:00 UTC** (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
Thi

[2020-01-17 21:07] kmgallahan commented on #1856
Perhaps you aren't considering the fact that your users are actually stopping to think: "wait, do I really want to grant this app access to my entire drive?" That is a red-light warning for people not familiar with the app/developer/company.

You're blaming the process users need to go through to grant your app access to their entire drive for the low retention rate. Perhaps you should reconsider

[2020-01-17 21:25] kmgallahan commented on #1856
Also, based on the disrespectful title alone that breaks the [Microsoft Open Source Code of Conduct](https://microsoft.github.io/codeofconduct/), but also not being about WinUI, this issue should be closed. @jevansaks @jesbis

[2020-01-17 21:36] kmgallahan commented on #1856
One last thing to add. I think Rich Lander said it best at the [Jan 15th .NET Community Standup](https://www.youtube.com/watch?v=WR71bsQa-94) (starting @ 1:12:40).

@verelpode You ride the line mentioned in the above video, but you stay constructive and on-topic for the most part, so I value your contributions to the WinUI repo - even if you feel they are fruitless sometimes, as I saw in your rece

[2020-01-17 21:39] jtorjo commented on #1856
That's not the issue: at least on Android/iOS, you get asked that stuff while your app tries to access the HDD, **and it does not get closed**, as is in our case.

[2020-01-17 21:44] kmgallahan commented on #1856
Your app wouldn't close if you presented file picker(s) that let the user choose what they want to give your app access to.

Instead you want it all, are complaining about a minor one-time extra step users have to take, and are blaming your retention rate on this step.

[2020-01-17 21:44] jtorjo commented on #1856
It's really hard to be respectful, when I'm almost going out of my mind. Not to say - I've said this before, **there's no place to write about the WinRT.** I'd happily use a different tone, if I actually could write, and someone would be listening. All the above cries should simply not exist - **WinRT should be mature enough**. Yet... no...

Where can the community actually talk to the WinRT team?

[2020-01-17 21:48] jtorjo commented on #1856
My app is allowing users to edit photos and videos, and I want the user to easily preview as he chooses, not use an old style file picker. So yeah, it's really important that I get access to all the HDD. And no, those "Pictures" and "Videos" virtual folders are what Microsoft thinks users keep their photos and videos. That's not reality.

[2020-01-17 21:49] kmgallahan commented on #1856
As your links indicate, you've already been ranting about WinRT on the UWP Q&A forums, which is where you've been directed to go.

So by posting here it seems you just want a larger audience, rather than to actually accomplish anything (since the WinUI team doesn't work on WinRT).

[2020-01-17 21:52] jtorjo commented on #1856
Yet, there's no resolution to any of my issues. On a Q & A, you ask questions, and receive answers. But you can't really suggest anything to change (unfortunately).

[2020-01-17 21:54] kmgallahan commented on #1856
No its not. Your users don't have photos and videos all over the drive, they are in specific locations that might not be the special folders.

Have the users pick those folders once, then you'll always have access via the [FutureAccessList](https://docs.microsoft.com/en-us/windows/uwp/files/how-to-track-recently-used-files-and-folders). Don't make them give you access to all of their files, and th

[2020-01-17 21:54] robloo commented on #1856
@kmgallahan Sure, the tone can be dialed back a bit, but we've all been frustrated before. It's even more frustrating to think that obvious issues aren't being addressed. I think it's sometimes constructive to vent those frustrations in a forum where people can validate them and also offer potential solutions. His technical points are valid, it's just for WinRT and a bit UWP -- both not WinUI XAML

[2020-01-17 21:58] jtorjo commented on #1856
Thanks :)

[2020-01-17 22:09] jtorjo commented on #1856
Clearly, they are not in those specific locations....

Sure, I can use that FutureAccessList and have users **remember** where they keep their photos/videos, because we all know where we keep all of our photos/videos, right?

Instead of (what my app does) nicely previewing folders and showing you the folders where you have photos/videos.

[2020-01-17 22:41] chingucoding commented on #1708
Taking @weltkante s argument into account, it probably would be the best to have a property "DefaultValue" which can be set to:
* Numerical value: Will set the NumberBox's value to the number when cleared
* NaN: Will show placeholder (sample with placeholder shown can be seen in XAML Controls Gallery version 1.2.1.2.0)

This would allow developers to force a NumberBox to have a valid value (and no

[2020-01-17 22:51] chingucoding commented on #1708
It seems like that NaN is now the default value, which would fix this issue.

[2020-01-17 22:57] chingucoding commented on #1736
I think a more flexible solution is leave it double, have the default fallback be NaN (as it seems to be now) and have a property defining the default value/fallback value to let developers also have a NumberBox which is guaranteed to have a valid value, instead of having to implement custom checks.

`double?` may be problematic as it is may not be available in all languages in which WinUI can be

[2020-01-17 23:38] StephenLPeters commented on #1855
@kmahone How did this come up? is it blocking something?

[2020-01-17 23:39] StephenLPeters commented on #1853
@Teap FYI

[2020-01-17 23:40] kmahone commented on #1855
The Settings app reported it.

[2020-01-17 23:41] StephenLPeters commented on #1852
@TeaP fyi

[2020-01-17 23:49] StephenLPeters commented on #1854
@SavoySchuler If there is no header, what should the default automation name be? should the placeholder text be used?  Header is an Object, what if it doesn't have a good string equivalent?

[2020-01-17 23:59] ranjeshj commented on #1854
We could do something similar to https://github.com/microsoft/microsoft-ui-xaml/blob/880dd229078ab8e68263c29a43f9f6580b10195f/dev/TreeView/TreeViewNode.cpp#L271

[2020-01-18 00:28] ranjeshj commented on #1855
Right that style is in RadioButton.xaml.. perhaps it should be in RadioButton_themeresources.xaml.

[2020-01-18 01:58] jesbis commented on #1856
A few notes:

Thanks @jtorjo for taking the time to write about your experiences and feedback, and also for your time on the [Q&A page](https://docs.microsoft.com/answers/) too.

As @robloo and @kmgallahan mentioned most of this isn't directly related to WinUI and you may be pushing the code of conduct a little 🙂

However we also recognize that engagement on the Q&A site and Feedback Hub could be

[2020-01-18 03:27] robloo commented on #1857
Can we talk about support for nullable data types in controls and default values? As an example there is `DatePicker` which returns DateTimeOffset and `CalendarDatePicker` which returns DateTimeOffset?.

 * Why is one of these nullable while the other is not? Is this because DatePicker was developed using earlier API's in the Windows 8 time-frame?
 * Should we consider adding a configuration prope

[2020-01-18 03:30] robloo commented on #1708
@chingucoding NaN was the originally intended value to specify a value has not been set, so if that is now the default this now functions as planned and the placeholder text should be visible.

The problem everyone missed that I'm also trying to address here is that object.Equals(double.NaN, double.NaN) returns false per IEEE specification. This then leads to a stack overflow exception when using

[2020-01-18 07:05] jtorjo commented on #1856
Hi @jesbis,

Thanks for looking at my issues!

Yeah, really sorry about that, I just felt I was going out of my mind. The things I mentioned here are critical - I'm really passionate about this, since all of the above I ran into. They all take a huge toll, a lot of people simply just give up even trying.

Totally agreed. As a side note, I actually tried to report the broadSystemAccess on Feedback

[2020-01-18 10:18] chingucoding commented on #1854
When you look at the sample in the XAML Controls Gallery, the "spinner" has a UIA name, when using AutomationProperties.LabeledBy or AutomationProperties.Name. I think this UIA name should also apply to the "edit".

[2020-01-18 10:28] Felix-Dev commented on #1856
@jesbis
This is great news! Many thanks to the WinUI team to show this flexibility and trying to mitigate the (perceived) WinRT-feedback-system issues even though they don't have to!

[2020-01-18 12:37] infoequipt opened #1860 "Error Adding DataGrid in WinUI 3 Alpha Page"
**XamlCompiler error WMC0020: Cannot add 'DataGrid' into the collection property 'Children', type must be 'UIElement'**

Create a new project using the WinUI 3.0 Alpha C# "Blank App (WinUI UWP)" template.
Add [Microsoft.Toolkit.Uwp.UI.Controls] DataGrid to Page.

VS 2019 Community 16.4.3
Microsoft.WinUI v3.0.0-alpha.191101.0
Microsoft.Toolkit.Uwp.UI.Controls.DataGrid v6.0.0
Windows 10 Version 1903

[2020-01-18 14:24] verelpode commented on #1856
@kmgallahan

So Rich Lander says there that he prefers people with a little bit of aggression but nice at the same time.  I think one of the biggest problems in society is that many people are so very "polite" that their behavior becomes extremist and flips over to disrespect and rudeness while superficially appearing "polite".  Very "polite" people speak indirectly and vaguely, and this makes the

[2020-01-18 15:32] verelpode commented on #1856
@jtorjo
Here's the origin of the problem:

### Repetition of Nokia's catastrophic mistake
WinRT/UWP accidentally repeated the same mistake as Nokia, BlackBerry, Apple at one point, and other companies.  The Nokia story:  Nokia was a very successful giant, but later Nokia realized that they had fallen behind in smartphone tech.  In order to solve this problem, they needed to make it top priority to

[2020-01-18 15:45] ranjeshj commented on #1860
@infoequipt The data grid in the toolkit is built on top of the platform xaml (Windows.Ui.Xaml). WinUI3 is the same XAML codebase that has been decoupled from the OS (and has an updated namespace Microsoft.UI.Xaml). The reason I believe you are seeing is that the datagrid is not compiled against WinUI3. We need a version of the toolkit that targets WinUI3 for that to work. @nmetulev and @MikeHillb

[2020-01-18 16:15] verelpode commented on #1856
So, along the lines of what Rich Lander said, my previous message demonstrates my **respect** for the WinUI team, because if I disrespected the WinUI team, then I would always be very **polite** to the team, or say nothing at all.  If I disrespected the team, I'd write off and ignore WinUI:  I wouldn't bother writing any messages at all -- I would view WinUI as "hopeless" and a "lost cause" and I

[2020-01-18 17:08] robloo commented on #1857
Another interesting idea to discuss I've wondered about: What will Microsoft's policy be on breaking changes now that WinUI 3.0 is going open source?

In the past, Microsoft has virtually never made breaking changes. This is generally a good thing until all the clutter builds up after a few (or 10) years. It's also not the standard for open source projects. For example, eventually ListBox should b

[2020-01-18 17:25] kurema commented on #172
So there's also no chance for AppBarRepeatButton...
I want RepeatButton in CommandBar, but OK. There's workaround.

[2020-01-18 18:41] jtorjo commented on #1856
Agreed. I've been developing UWP for quite a few months now... There are quite a few limitations, but I've done my best to be "zen" about it, and more or less, move on. But the more I would work, the more I realized - that the limitations were in fact WinRT, not UWP.

The thing is, this is what we have, and clearly, we need to move forward with it. In my mind, this should be:

1. UWP needs to hide

[2020-01-18 19:13] jtorjo commented on #1856
Hi @robloo ,

Sorry for the late reply

Yes, totally agree. Back in 2016-2017, I wouldn't even touch UWP.

That is beyond sad, to say the least ... Why of why would we want JS interoperability?

is an example, and [another](https://github.com/microsoft/microsoft-ui-xaml/issues/1721#issuecomment-565110206)). It really doesn't play nice with a lot of the high-level concepts either such as generics.

[2020-01-18 19:18] ToddThomson opened #1861 "Proposal: NavigationView Supporting Right and Left Pane Placement"
Has there been any past or present interest in providing a "RightCompact" display mode for the navigation view?

I feel that this would be a nice UI addition for "Secondary" page(s) navigation.

I've built a prototype user control using the LeftCompact display mode, but the selection indicators and shadowing don't quite look right.

I could get by with just eliminating the OpenPane shadow border,

[2020-01-18 19:58] kmgallahan commented on #1857
Based on progress made since the last call, when does the team **realistically** think WinUI 3 will be ready for release:

* Build 2020 (Apr-May)
* Ignite 2020 (Oct-Nov)
* ~2021

Also, how dependent is your work on the .NET team putting together a new AOT solution and .NET 5?

Lastly, is there pressure on the Windows side to have it ready for Windows10X release and/or prior to that for developers

[2020-01-18 22:01] duke7553 commented on #1465
@jtorjo
Sorry to reply after such a delay. I found out you may have to do the following:
"If you have the broadFilesystemAccess capability, you can look into FindFirstFileExFromAppW and FindNextFileW. #include fileapifromapp.h for C++ and P/Invoke from api-ms-win-core-file-l1-2-1.dll for .NET. But then you'll have to wrap up so you can call from XAML bindings."

I was wondering if you could try th

[2020-01-18 22:06] duke7553 commented on #1465
It seems promising because the docs also say "this function adheres to the Universal Windows Platform app security model."

[2020-01-18 22:45] jtorjo commented on #1465
Wow! One of the best kept secrets so far! :D
Having said that, I will definitely look it up - that would definitely be good news!

[2020-01-19 00:00] duke7553 commented on #1465
Yeah, I wish I could try it for you, but I'm currently away from my PC for this week. I was however able to reproduce the ACCESS DENIED with other methods.

[2020-01-19 08:40] chingucoding commented on #1857
Will there/should there be a tool to easily convert WinUI 2.X projects to WinUI 3.0 (since doing this manually might be a lot of work for large projects)?

[2020-01-19 10:05] jtorjo commented on #1465
@duke7553

Many many thanks for pointing this out! As said, this seems to have a close guarded secret, 'cause apparently, until now, no one knew to point this out to me.

In debug mode, 1090 files, it takes <10ms to enumerate all. It's definitely awesome!

Having said that, here's the code to see everything in action:

    // version 1803 onwards
	using FileAttributes = System.IO.FileAttributes;

[2020-01-19 10:50] jtorjo commented on #1856
Apparently, someone did find a workaround to this. Clearly, it's really really sad this took so long - and this is not preferred way I would like to deal with searching for files, but at least it actually works.
https://github.com/microsoft/microsoft-ui-xaml/issues/1465#issuecomment-575987737

So, many thanks to @duke7553 !

[2020-01-19 11:44] infoequipt commented on #1860
Thanks Ranjesh, I thought that might me the case.

[2020-01-19 11:48] chingucoding commented on #1852
Should the border be highlighted or should the background change color (like in non high contrast).

In the first case we run into the problem that the buttons themself do not have a border. The border that is visible is the border of the container, not the buttons. Thus on highlight, with the current layout we can not change the border highlighting.

[2020-01-19 16:35] duke7553 commented on #1856
@jtorjo Happy to help!

[2020-01-19 16:47] AndrewPawlowski commented on #1856
I find this discussion very interesting and actually very relevant to the future of Windows UI. That's because WinUI is not sitting in a vacuum. This whole repo has very little value unless it's useful for creating apps that run on something other than WinRT/UWP. WinUI 3.0 could not come soon enough.

We have a vision and a roadmap for the UI on windows, but that sits on the very top of the stack

[2020-01-19 17:24] nmetulev commented on #1860
Ping @michael-hawker

[2020-01-19 17:59] jtorjo commented on #1856
Yes it is!

I do believe you can - but it's really really hard. Trivial things are insanely hard to do (I'm living proof it's possible, but you need nerves of steel for sure):

- on the UI front, there will be issues, but usually you'll get the hang of it
- on the "anything else" front, things are pretty dim.
- dealing with files on UWP is complete hell, due to the StorageFile/Folder API, which, t

[2020-01-19 18:18] duke7553 commented on #1860
Hopefully, there will be work started on a [new DataGrid](https://github.com/microsoft/microsoft-ui-xaml/issues/1500)  before the stable release of WinUI 3 Desktop.

[2020-01-19 18:35] mdtauk commented on #1852
How is the focus indicator used for the compact buttons, and could that be used for High Contrast modes?

[2020-01-19 18:36] charlesroddie commented on #1494
Any x*x icons are obsolete since Windows Vista which introduced good support for dpi. Since scaling in windows can be anything, you would need to support every possible integer x of you do it that way. @verelpode is being constructive with detailed analysis, others not so. If you want images to vary by size and be sharp then two or three svgs should be used for the same icon.

[2020-01-19 19:26] chingucoding commented on #1852
The normal hover for compact spinbuttons is that the background gets lighter/darker.

[2020-01-19 19:33] AndrewPawlowski commented on #1856
We are like beaten dogs here. It is actually soo hard to make new modern for Windows desktop! Shouldn't there be at least one excellent way of doing apps? When you go to Microsoft Store on windows and try to scroll apps category you won't find any decent app made with UWP. Btw I can't check it myself because ...
![image](https://user-images.githubusercontent.com/34721621/72686482-3fc8b600-3aed-11e

[2020-01-19 19:34] chingucoding commented on #1396
Was the bug fix already released in the latest preview of WinUI?
If not the issue might not be fixed completely as it seems like the subtitle still takes up space even when nothing is specified in my project https://github.com/chingucoding/UWP-Resources-Gallery on the SystemColors page.

[2020-01-19 20:33] jtorjo commented on #1857
The Elephant in the room - WinRT (#1856)

[2020-01-19 20:36] mdtauk commented on #1857
A non-sandboxed app model is coming - which will run in the same way as WPF (including Win32 APIs), but with access to modern WinRT APIs, and open sourced UI and controls with the new XAML running on Direct X 12.

[2020-01-19 22:20] jtorjo commented on #1857
Wow. Wow Wow!!!!

That is beyond amazing! Do we have an ETA for this, will it be discussed in the call?

It's insanely awesome!

[2020-01-19 22:25] mdtauk commented on #1857
It was the first thing we learned about WinUI.  ETA is for this year, I suspect a definite date will be given at //Build/ - but feel free to ask during the call.

https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md

[2020-01-19 22:28] Felix-Dev commented on #1857
@jtorjo See [the WinUI roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md). Also see https://github.com/microsoft/microsoft-ui-xaml/issues/1045 for more info (such as VS project templates).

[2020-01-19 22:39] jtorjo commented on #1857
@mdtauk @Felix-Dev I'll re-read those docs. I do remember asking this before - as long as I can easily use win2d from my (non-sandboxed) app, I'll be more than happy!

[2020-01-20 01:33] dvucinozd commented on #716
kill photos.exe in task manager and go to power shell as admin
paste following:
`$Apps = @("WindowsCalculator","Photos");

$base   = @();
$depend = @();
$Apps | %{
    $base   += $base   = (Get-AppxPackage -Name "*$_*").InstallLocation;
    $depend += $depend = (Get-AppxPackage -Name "*$_*").Dependencies.InstallLocation;
    };

$Apps = (($base + $depend) | Sort -Unique);
$Apps | %{Add-AppxPackage

[2020-01-20 05:37] yaichenbaum commented on #1856
@AndrewPawlowski I am surprised you would say that when there are plenty of great UWP apps that are both modern and good looking, including a handful that are open source on GitHub.
Just because you gave up on creating an app because you didn't figure out how to do something does not mean a platform failed, it means your app failed. If you look around you can see many developers who worked hard an

[2020-01-20 06:32] hupo376787 opened #1862 "Applying NavigationView's style will result in menu items missing"
**Describe the bug**

I copyed `NavigationView`'s [style](https://raw.githubusercontent.com/microsoft/microsoft-ui-xaml/master/dev/NavigationView/NavigationView.xaml) to App.xaml, build app, my `NavigationView` menu items are gone.
WHat's the right way to use `NavigationView`'s style.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a project with Windows Template Studio

[2020-01-20 07:40] jasonwurzel commented on #1856
Hi,
I'm a bit late to this discussion but wanted to give my humble opinion anyway.
Concerning commercial UWP Apps: One that comes to my mind is Adobe XD. This one is UWP and feels very mature and complete.
My own experiences with UWP, being a .Net developer for 13 years: Of course you can create a good looking, performant app with it. But... it is not a beatiful experience. We're in the process of

[2020-01-20 07:48] yaichenbaum commented on #1856
@jasonwurzel those are some very good points
- The file API is slow but for the meantime @duke7553 posted a workaround in #1465 (comment)
- F5 time does slow things down and I think that can use some improvements
- I am curious what limitations you ran in to by trying to do use a regular UWP app as opposed to going the xaml islands route? I am working on a few apps right now and I was able to solv

[2020-01-20 08:50] jasonwurzel commented on #1856
That is true, yet we didn't know about it back then. Redundant to say, it is somehow crazy to implement this workaround just to get fast file I/O...

I guess in the end it was the sum of the obstacles we met, no doubt some of which could have been solved with external processes. In no particular order:
- Observing the CD tray/USB ports for inserted media
- observing some user-chosen directory anyw

[2020-01-20 09:04] jtorjo commented on #1856
I'm not saying it's not possible, but it's very very hard. And I'm not talking about a simple "Notepad-like" app, I'm talking about a very complex app which deals with UI / video editing / sound editing / loading/saving lots of stuff to disk / (trying and not succeeding) launch stuff (and please don't tell me about the fullTrust API). I'm talking about a 50-100K+ lines-of-code app.

That is waaaay

[2020-01-20 09:08] jtorjo commented on #1856
On my end, I tried to use win2d using Xaml Islands back in Sept - did not work one bit. I tried some of MS's examples and they didn't work either. At that point, I realized I really need to port my app to UWP or otherwise this will never work.

As for a more recent test - https://github.com/microsoft/Win2D/issues/731

[2020-01-20 09:11] jtorjo commented on #1856
Oh yes! I didn't even mention this, but yeah, it's insanely slow. I've gotten around it by tweaking what projects I compile and which I don't - and depending on which part of the app I'm working on, this is decent or horrible (and by decent, I mean, roughly 10-15 seconds most of the time)

Oh yeah :)

[2020-01-20 09:16] jtorjo commented on #1856
Agreed, but just think of how long it took for someone to find that workaround -- that clearly existed, but was deeply buried in the docs. And right now, probably a very few people are aware of it (including myself).

If you do a google search, you won't find any of the posts that show that workaround, so it will probably be a few months before most developers will be aware of it.

[2020-01-20 09:23] Felix-Dev commented on #1856
@jasonwurzel

Just want to point out that MS said that once .NET 5 lands, you will be able to use it for your UWP projects just fine. No need for any "tricks" or a situation like .NET Core 3.x. Here is the .NET 5 announcement post again: https://devblogs.microsoft.com/dotnet/introducing-net-5/

[2020-01-20 09:37] jasonwurzel commented on #1856
yeah, that's what I was refering to 👍

[2020-01-20 11:05] harvinders commented on #1848
@ranjeshj I investigated a bit more and realised that it returns null only when no scrolling has happened. Is this the expected behaviour? Or should it return the first element?

[2020-01-20 12:04] verelpode commented on #1494
@dragonwolf83

Although I view 16x16 as obsolete, and although I view @lukasf's varying line thicknesses as overkill, nevertheless I would be willing to support a modified version of @charlesroddie's suggestion that supports those abilities, as follows.  A **single** icon would consist of a **list of images**.  Each image in the list can be either SVG or PNG.  Thus a single icon consists of zero o

[2020-01-20 12:23] mdtauk commented on #1494
"Nearest Neighbor" is a good option if dealing with pixel art and defined scaling ratios.

I think it could be useful to sum up what your request is, as opposed to a long and detailed explanation of what is broken.

Based on looking through the posts, you have a number of asks that are all related in some ways.

- An option to resize FontIcon glyphs with width and height, and not just fontsizing;

[2020-01-20 12:45] verelpode commented on #1494
@mdtauk

Yes, you're right, but why should I work for a wealthy corporation (such as Microsoft) **for free**?  It would be wildly unreasonable to expect me to work as if I'm a Microsoft employee, in return for $0 of salary for my hard work.  To be ethical and fair, software engineers need to be paid a reasonable salary in return for their long hours of hard work.  Ethical and legal working conditi

[2020-01-20 13:13] kmgallahan opened #1863 "Proposal: Add `FromTop` to `SlideNavigationTransitionEffect` options"
# Proposal: Add `FromTop` to `SlideNavigationTransitionEffect` options

## Summary
The current options are `FromBottom`, `FromLeft`, and `FromRight`. Seems obvious that `FromTop` should be available.

## Rationale
This would help anyone wanting to do a SlideNavigationTransition from the top.

[2020-01-20 13:30] verelpode commented on #1856
I think the word "completely" in _"completely out of touch with reality"_ was unfair and inaccurate, but @jtorjo was very frustrated for understandable reasons.  If Microsoft was **completely** out of touch with reality, then the WinUI team would not be working on separating WinUI from UWP.  Overall the WinUI team seems to be more in-touch than other departments of UWP/WinRT.   I think an accurate

[2020-01-20 13:35] lukasf commented on #1494
I believe that it would have been less work to write 2 or 3 compact, focused proposals for the improvements that would be most valueable for you, compared to the very lengthy and overly detailed write down of everything that is wrong.

It's up to you to decide how much time you spend here. Microsoft won't pay you for creating issues here, obviously. Remember that creating an issue is usually only

[2020-01-20 15:07] chingucoding commented on #1494
Since it seems like @verelpode won't write a proposal, I would like to step in and do this since it would be hard for the WinUI team and the community to come up with feasible solutions solely from this discussion.

However I am not quite familiar with all the obstacles that are combined with using custom icons in UWP and WinUI, thus I will base it on the list @mdtauk kindly created in this issue

[2020-01-20 15:42] verelpode commented on #1494
@lukasf

Impossible.  If someone doesn't understand the problems, then he/she cannot write proposals to solve those problems.  NOW, today, we've eventually reached a stage where it's possible to write proposals.  Previously it wasn't possible to write proposals because there was little or no understanding of what was wrong.  How could I be expected to write a proposal when I didn't understand what

[2020-01-20 16:06] ranjeshj commented on #1848
@harvinders Thanks for creating the repro. Its a long weekend here so it might take a couple of days to get to trying this. It looks like you are mentioning multiple issues here. Thank you for your patience.

To clarify, We are talking about two different ways of doing this
1. using Scroller
2. using ScrollViewer + ItemsRepeaterScrollHost.

and two scenarios.
a. Getting the anchor
b. Bringing into

[2020-01-20 16:23] ranjeshj commented on #1848
regarding 2b, the issue in the repro app is that anchor index is provided, however it is saved in index when navigated away is destroyed with the page and the next time you load mainpage is back to 0. One way to avoid that is to store it somewhere else (try making index static to see it live across instances but that makes the assumption that you only have one mainpage at a time). Also, in OnNaivg

[2020-01-20 17:03] verelpode commented on #1856
@mdtauk wrote:

Various UWP/WinRT staff members would like to believe that explanation very much, in order to _feel_ better about what happened.  I don't believe that explanation.  I believe that UWP failed because of:

1. Mismanagement, and
2. Failure to address the problem of app developers perpetually postponing the UWP versions of their apps because of the impression that UWP wasn't ready and

[2020-01-20 17:06] jtorjo commented on #1856
I mentioned this before and I'll mention is again - the StorageFolder/StorageFile API is one of the worst APIs I've seen. We're way in the 21st century, and I need to ask "oh please please, can I have access to this? and to that? and then add them to the great FuturesAccessList?"

And I need to asynchronously ask for basic properties, such as file's size? I don't care what rationale this might hav

[2020-01-20 17:17] jtorjo commented on #1856
I totally agree...

I completely agree, but, thinking too much into the future can also be a pain...
By that I mean - if you restrict Win32 access from the get go, porting libraries will be pretty much a "no-go", so you won't have a present, let alone a future.

By allowing us to also use Win32 code, yes we may not be able to port to another (upcoming) platform, but at least we'll have code for to

[2020-01-20 17:27] mdtauk commented on #1856
I am not targeting anyone, but the discussion title is a little negative and people don't tend to respond and address legitimate issues, if they are wrapped around insults and accusations.

Also now we know that a Win32/.NET app framework will be coming with WinUI 3.0 - there is little point in still criticising them for being WinRT only in the past. 😁

[2020-01-20 17:46] chingucoding commented on #1856
@jtorjo

The fact that apps have to ask the user is in my opinion a step in the right direction. The fact that unlike Winforms and WPF apps, the app can not simply scan all of my files and I have the control over which folders it can access is very important security wise. If you think that it is bad that we limit the resources apps can access to protect the user, than I guess that's your view, bu

[2020-01-20 18:13] msaifi opened #1865 "UWP Pivot control clears its content when I navigate to a other page and goes back"
I have a UWP page with a pivot control. I am using MVVM pattern where the "ItemsSource" property of the pivot is binded to an observable collection of my viewmodels. I am using the "ItemTemplateSelector" of the pivot to select the appropriate DataTemplate for each view model based on the Pivot "SelectedItem" which in turn is binded the selected view model. Here the is XAML that I am using:
`<Pivot

[2020-01-20 18:26] jtorjo commented on #1856
So we start with a huge disadvantage compared to WPF apps. That's one thing - the other thing is
1. I'm already asking that at installation.
2. Even if users may not pay attention, Windows could once again show the user "This app wants access to your files" and the user could say Yes/No. I would be totally fine with that. However, this is FAR from what is happening.

The file size should be pre-fe

[2020-01-20 18:32] jtorjo commented on #1856
I agree it's a little negative, once again, this would not have happened, had there been somewhere else to give feedback on WinRT issues.

Honestly, I really hope this is the case. I will certainly wait for these issues to be resolved, and personally can't wait for that non-sandbox platform to be available. But until then, I am still working on an app, and still facing the issues I outlined in the

[2020-01-20 18:55] chingucoding commented on #1856
Just to be clear, leaving the use a choice to deny apps from accessing all file is a disadvantage in your opinion?
We as developers have to develop the software for the users not against them. And leaving the user no choice on what data your app sees is a security disadvantage for users, in my opinion.

Do you mean the "broadFileSystemAccess" capability? In my opinion there are very very few apps

[2020-01-20 19:22] verelpode commented on #1856
@Felix-Dev

Thanks for linking to that.  I especially found this part interesting, and I believe this is positive news:

There's also a bit of Java discussion in the comments at the end of that webpage, where Rich Lander confirms two-way interop.  I interpret this as a positive sign that Microsoft is **getting back in touch** with reality.  I'm no fan of Java (I prefer C#), but nevertheless I ackn

[2020-01-20 19:32] AndrewPawlowski commented on #1856
1. The future is bright, I love what I see is being developed in WinUI.
2. The past was pretty bleak, for a platform with 900 MILLION devices the poor prevalence of UWP is hard to defend.
3. The **present** is, I think, is the main point of this thread and it is not being addressed. If someone wants to start **today** a nontrivial app that will take 1-1.5 years to develop, what honest advice can b

[2020-01-20 19:57] Felix-Dev commented on #1856
@AndrewPawlowski If you've determined that UWP and the sandbox doesn't work for you, I think writing a MSIX-packaged WPF app is a good choice until WinUI 3 lands. You can already call Windows 10 exclusive APIs, provide the user with a modern install/uninstall experience and generally pick from the Windows 10 API surface what you like and what not (i.e. you can start using Windows 10 Shell APIs).

[2020-01-20 20:07] jtorjo commented on #1856
@AndrewPawlowski

Concur

My initial thought was the same, but I did not wait....

Agreed 100%

[2020-01-20 20:21] jtorjo commented on #1856
Anywhere where you want to preview stuff, you'll want fast access to files. In my case, I want to preview folders to visually show the user where the photos/videos are at, and for videos, I want the user to preview the video before selecting it. The whole point is: the file picker offers a pretty sub-par experience, and I wanted to enrich that.

Personally I don't like the feedback hub - it's too

[2020-01-20 20:34] Felix-Dev commented on #1856
@jtorjo @chingucoding feedback hub might be replaced with Microsoft Q&A soon, check out this commit: https://github.com/MicrosoftDocs/winrt-api/commit/efcc4e041122e8a816a12c0581199c2f36ba36fc

Seeing as Chigusa has been mentioned there: @chigy Will the Microsoft Q&A platform be the preferred feedback platform for non WinUI WinRT APIs? If not, how will it relate to feedback hub? Hopefully we won't

[2020-01-20 20:48] mfe- commented on #1856
Since this is a discussion about UWP I can promote a feature request: Allow context menu verbs with file explorer integration without having a file type association  https://aka.ms/AA71n2t btw. https://aka.ms/AA6rmrk ( but its in the wrong category - maybe someone can fix this?)

A good source of feature requests is:
https://web.archive.org/web/20161221051552/https://wpdev.uservoice.com/forums/110