[2020-05-21 18:13] StephenLPeters commented on #2419
This behavior is simply a product of how the keyboard system works. when you press a key the framework raises a key pressed event with the origin of the event being the element which has focus.  This event bubbles up the visual tree until it finds an element which handles the event.  In this case since there is no child of the scrollviewer which is focusable and the scrollviewer itself is not focu

[2020-05-21 18:23] StephenLPeters commented on #2491
Fair enough, I'd like to understand the customization that you needed to make and if it is wide spread or unique to your app.

[2020-05-21 18:37] smourier commented on #2500
@stevenbrix  - PublishSingleFile will put *everything* in a single file? including all native dlls that I can see today in my, say, win-x64 directory? Or are you just talking about the .NET Core side of things (which doesn't answer my overall "deployment" question with regards to what can be done today with legacy techs).

[2020-05-21 18:43] bnh2011 opened #2522 "After list item keyboard reorder operation, -1 is always returned as the index of the item"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. open Desktop Settings app - ease of access- Narrator and enable Narrator
2. open settings app - time and language - language. Click to add additional languages. Add fr-FR and de-DE
3. user preferred language list will be in the order of
en-US
fr-FR
de-DE
4. Click de-DE language entry
5. Use keyboard combinati

[2020-05-21 19:37] panoukos41 commented on #2499
I think this would be the way to go in the future, i love xaml from the day i tried it and after xaml a lot of things like xml/html gave me a more quirky feeling but after blazor i do find myself troubled looking at xaml ^^

[2020-05-21 20:48] weltkante commented on #2500
With WinForms and WPF in .NET Core there is a "shared runtime" package one can install and target so one doesn't have to deploy the DLLs. Would it make sense to provide a set of WinUI DLLs in the shared runtime package as well? (If WinUI releases faster than the runtime you'd still have to deploy DLLs if you need a newer version than the runtime package you target contains.)

[2020-05-21 21:06] smourier commented on #2500
@weltkante - absolutely, that's exactly my point, a super simple deployment is an absolute must. I personally can't invest on WinUI today w/o any confidence in that area. I'd love to.

[2020-05-21 21:08] JesseCol commented on #2504
I expect the fix here is that for desktop apps the app needs to set ContentDialog.XamlRoot before showing the dialog.  But we really need a better error message.

[2020-05-21 21:13] deivid77 commented on #2499
Please, do it!!

[2020-05-21 21:16] chingucoding opened #2525 "ContentDialog does not respect BorderThickness"
**Describe the bug**

The ContentDialog does not respect BorderThickness, setting the BorderBrush does work however
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create ContenDialog with BorderThickness and BorderBrush set to some value

**Expected behavior**

Both values are respected.
**Screenshots**

**Version Info**

WinUI 2.4.2
NuGet package version:

| Windows 10 versio

[2020-05-21 21:20] darenm commented on #2504
Confirmed the above.

I updated the **myButton_Click** method to:

[code]

[2020-05-21 21:23] MikeHillberg commented on #2508
Yes, it should work. I expect some of the code for the (1903) feature went into a not-common code path, so missed the function binding case.

[2020-05-21 21:34] JesseCol commented on #2504
Great, thanks for the quick validation!  Let's still leave this open to track improving the error message.

[2020-05-21 22:01] marb2000 commented on #2497
Thanks. Actually, we should update the roadmap instead. Unfortunately, supporting VB.NET won't happen for 2020.

[2020-05-21 22:01] #2497 closed

[2020-05-21 22:15] MikeHillberg commented on #2525
A couple of things going on
* The default ContentDialog control template has a root Grid that sets the BorderThickness to a ThemeResource. It should be TemplateBinding it to the ContentDialog's BorderThickness property, and defaulting that property to the ThemeResource
* ContentDialog's behavior changes if it's in a tree or not. If it's not in a tree, setting the resource takes effect. If it's in

[2020-05-21 22:24] AzAgarampur commented on #2515
Using legacy GDI is not necessary. UWP uses DirectX and DirectComposition under the hood for complete rendering anyways, along with the DWM. That being said, certain features like background acrylic are possible because of DirectComposition. A brush returned from `CreateHostBackdropBrush()` is just part of the transparent swapchain that DirectComposition uses with a gaussian blur applied to it.

`

[2020-05-21 22:24] jimm98y commented on #1535
I'd like to mention this issue here: https://developercommunity.visualstudio.com/content/problem/970383/uwp-app-build-takes-an-hour-and-vs2019-is-throwing.html?childToView=1043331#comment-1043331 Apparently, there is a huge performance degradation in VS2019 16.4+ and in our case it is causing 10 minutes delay between hitting "Run" and starting the application - with no code changes, just an increm

[2020-05-21 22:51] mdtauk commented on #2515
HostBackdrop is one of those features that is disabled in WinUI 3.0 right now, as the team tries to find a way to implement it once decoupled from the OS.

[2020-05-21 22:55] Sergio0694 opened #2527 "SwipeControl (WUX/MUX) causes random crashes in ListView"
**Describe the bug**

Scrolling down a `ListView` with a large number of items, each having a `SwipeControl` in its template, randomly triggers a crash. By "randomly" I mean the crash happens when scrolling, at _some point_, which varies every time. The same crash happens with:

- A custom control which has the `SwipeControl` in its template
- The `Windows.UI.Xaml.Controls.SwipeControl`
- The `Mic

[2020-05-21 22:57] jtorjo commented on #1535
@jimm98y Reading the issue almost makes me cry. I feel ya! Apparently, my compile times are nothing compared to what you have, but it still drives me insane!

At MS Build, Microsoft said they will be working on compile times, but they need to also deal with winui 3. I really hope they'll do it really soon, since there will be quite a few iterations of winui 3 (as I understand, iteration 4 will be

[2020-05-21 23:17] shaheedmalik commented on #2419
And this was the behavior I experienced.

[2020-05-22 02:29] robloo commented on #2499
I'm usually a bit apprehensive about new XAML syntax/dialects. This is largely because every time there is a new 'latest-and-greatest' tech we seem to loose capabilities that were in the origianal WPF XAML (it took a long time for UWP to get where it is today, Silverlight is a sadder story, Xamarin Forms... I don't want to talk about that).

This proposal is a best of both worlds though. It's mode

[2020-05-22 02:52] zenjia commented on #1535
I've just tested WinUi 3.0 preview(using Win32 desktop project). The compile time is still huge, even for a minimal project. It seems it's not UWP's problem. I believe the problem is with WinuI's developing language, i.e. c++. Really missing WPF now. Hope there will be a c# version of Winui in the future.  What a pity!

[2020-05-22 04:34] marck7jr opened #2528 "WinUI 3 (Desktop) Secondary windows closes the application when try to resize them"
**Describe the bug**

If I try to resize the main window, all secondary windows closes but the resize action work, but if I try to resize any other window, the application closes without any exception.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open any Win32 application with WinUI 3
2. Open any secondary window
3. Try to resize it.

**Expected behavior**

The resize acti

[2020-05-22 05:05] Poopooracoocoo commented on #2513
just while you're here I want to mention that you can't scroll horizontally in task manager and just overall scrolling in win32 apps sucks. Microsoft uses win32, even in new apps like Teams, so they can't just tell you to use WinUI and UWP.

[2020-05-22 05:09] BreeceW commented on #2517
The animations on MenuBar are generally slow for what I would consider to be a rather legacy control (in terms of design) where a user might expect an instant response instead of a sliding animation. The animation also looks a little comical for very long menus.

[2020-05-22 05:56] pjmlp opened #2529 "C++/WinRT provides incomplete tooling versus C++/CX"
Hi,

just leaving this out here, although I don't have any hopes this will lead somewhere, as it feels speaking against a wall when bringing this issue up.

Missing C++/WinRT tooling versus C++/CX that hinders any adoption attempt to WinUI alongside C++:

- No syntax highlighting for IDL files
- No intelisense support for IDL files
- No intelicode support for IDL files
- No Visual Studio support f

[2020-05-22 06:02] Poopooracoocoo commented on #2517
@shaheedmalik @electronic-dk
https://gofile.io/d/3ohawG

[2020-05-22 06:08] Poopooracoocoo commented on #2517
@BreeceW yeah many of the animations are superfluous. I'm pretty sure I've suggested toning them down for longer flyouts and menus somewhere 'round here.

[2020-05-22 08:34] electronic-dk commented on #2517
I wouldn't say I dislike these animations. Perhaps they may be sped up a bit, but I'm not sure about it. There's already an OS-wide setting for showing animations, does it not cover this?

[2020-05-22 09:40] FrayxRulez commented on #2491
I received multiple requests from users about being able to scroll through NavigationView items rather than accessing them from the overflow menu, I believe it actually feels more immediate when the NavigationView let you access categories that are part of the same data set, examples in my app are chat folders and shared media grouped by type (photo and video, audio, documents...)

[2020-05-22 12:04] SimonJonesFF commented on #2497
@marb2000 That is disappointing. Can I ask when you may be providing support for VB.Net, or is it not scheduled so it won't happen?

[2020-05-22 12:18] Rodricula opened #2530 "WinUI3 Desktop App with extended client area"
Hello,

Experimenting with the preview 1 of WinUI3 in a Win32 context, I realized that the application uses the standard hwnd titlebar. Is it (or will it be) possible to use the UWP style titlebar in Win32 so that one can extend the client area all over the titlebar (for stuff like browser tabs as in Edge or the back-arrow-control?)

Thanks in Advance!

[2020-05-22 13:41] jabak commented on #1967
Does webview2 support Uri's like ms-appx:///test.html or file:///C/temp/test.html or even ms-appx:///Assets/mypdf.pdf

I've not been able to load any local file using any variant of the above.

[2020-05-22 14:20] Poopooracoocoo commented on #2517
@electronic-dk I'm only talking about the animations when you're switching menus, not the first slide in animation. win32 apps don't have animations when you're switching menus either.

In case you're actually asking, yes it does but since we both understand each other, defaults freaking matter. Repeating a slide in animation feels unnecessary and slow and as we both know, win32 apps still have a

[2020-05-22 14:43] kmgallahan commented on #2528
https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#preview-1-limitations-and-known-issues

[2020-05-22 15:00] mdtauk commented on #2517
Animated UI is a modern thing, and will become more expected from users coming from their Android or Apple phones.

[2020-05-22 15:17] ShankarBUS commented on #2530
Would be better if some tool like **WindowChrome** (available in WPF) is provided

[2020-05-22 15:21] Poopooracoocoo commented on #2517
@mdtauk I think you misunderstood what I'm saying. I'm not against animated UI and this isn't a modern control as Breece said.

[2020-05-22 15:56] FrayxRulez opened #2531 "Custom VirtualizingLayout crashes the app in Release"
**Describe the bug**
I have a custom VirtualizingLayout in my app that works perfectly fine until I compile it release configuration. After (too many) hours trying to figure out what was going on I decided to replace my code with the sample found in [XAML Controls Gallery](https://github.com/microsoft/Xaml-Controls-Gallery/blob/master/XamlControlsGallery/Common/ActivityFeedLayout.cs) and the issue

[2020-05-22 16:11] smourier commented on #2236
I've just discovered this issue while testing WinUI3.

For me, the main reason why I've been looking at WinUI3 is *precisely* to have an easy access to the backdrop brush and to the acrylic brush (which every customer expect) based on it.

This is something that's today technically impossible to have w/o using Dcomp (and it's intimacy with DWM, and that's probably the reason why it's difficult to

[2020-05-22 16:30] mdtauk commented on #2517
It is a modern version of a classic UI 😀

[2020-05-22 16:39] contextfree commented on #2517
I definitely agree that the experience and efficiency of browsing menus by "scrubbing" across them is made significantly worse by having it repetitively slide up and down as you're doing it.

This isn't about whether UI animations in general are generically good or bad (and it doesn't really depend on whether it's a "legacy" control or not, though it's worthwhile considering the target audience an

[2020-05-22 16:51] CodeForCSharp commented on #934
@cheles This problem has existed for a long time and has not been solved, even with the updated Microsoft.NETCore.UniversalWindowsPlatform to lastest.
I've seen a lot of people mention things like this. such as https://github.com/dotnet/runtime/issues/12255.
Look at the last few replies,from the snapshot,ConditionalWeakTable<T> leak memory.
In other case,it is not necessary to switch pages. Freque

[2020-05-22 18:01] MikeHillberg commented on #2530
This won't be supported for Desktop apps in the first release of WinUI3.

Part of having a custom title bar is that you still be able to grab it with a mouse and drag the window around. You can do this with WinUI in a UWP (CoreWindow) app by using [Window.SetTitleBar](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Window.SetTitleBar) to identify the drag element. That's disabled now for WinUI3

[2020-05-22 18:45] FrayxRulez commented on #2531
I managed to build a repro, launching it in Release configuration should crash the app: [RepeaterCrash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4669814/RepeaterCrash.zip)

[2020-05-22 19:27] gaessanty commented on #2500
"copy -> run"
This is very similar to the experience of existing users.
The existing app was very simple and I hope it will be the same on the Win32 desktop.

[2020-05-22 19:34] electronic-dk commented on #2517
IMHO, the biggest issue here is not the animation or no animation per se, but the fact the menus in win32 and UWP apps look (and behave) differently. With that being said I'd prefer if all the menus/context menus were modernized and gained a common look and behavior (e.g. animation/no animation).

[2020-05-22 19:38] Rodricula commented on #2530
Okay, thanks for the info.

[2020-05-22 19:38] #2530 closed

[2020-05-22 19:41] FrayxRulez commented on #2531
So, I ran the repro project by referencing WinUI source code directly, and the crash actually occurs in my ElementPrepared callback, specifically accessing `ItemsRepeater.ItemsSourceView` generated a invalid cast exception.

[2020-05-22 20:48] ldematte opened #2533 "Question: does/will WinUI support UI remoting?"
In order to facilitate sandboxing and isolation, it is a good idea to isolate components in sandboxes. The historic way of doing it in .NET was using AppDomains, but today the preferred way of doing is just using different processes (more portable/.NET core will not support AppDomains).

The problem is: what about components with UI? All plugin-based systems will need to come up with their own way

[2020-05-22 21:08] Felix-Dev commented on #2186
@BenJKuhn Would it help in tracking this issue if I move it to [Project Reunion](https://github.com/microsoft/ProjectReunion/)?

[2020-05-22 21:09] Felix-Dev commented on #2374
@jesbis Should I move this issue to [Project Reunion](https://github.com/microsoft/ProjectReunion/)?

[2020-05-22 21:16] jesbis commented on #2374
I think that makes sense - if no objections I can just directly move this issue to that repo?

[2020-05-22 21:18] Felix-Dev commented on #2374
@jesbis No objections from me 🙂

[2020-05-22 22:16] ajbennet opened #2534 "AnimatedVisualPlayer - Pause animations when suspended and maybe when minimized"
**Describe the bug**
Follow XAML policy for pausing animations that cannot be seen. Currently once the animation starts we will cause DWM to wake up 60 times a second even if the app got suspended.

**Steps to reproduce the bug**

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

| Windows 10 version                  | Saw the problem? |
| :-------------------------

[2020-05-22 23:11] terrycox opened #2535 "MicrQuestion: [The Microfoft.WinUI nuget package is not on nuget.org. Where can I find it?]"

[2020-05-22 23:54] mdtauk commented on #2533
This could also be very useful for the Windows Terminal, if it ever chooses to support mixing Admin processes in tabs, alongside standard level tabs - or even handling it similar to the "In Private" mode of Edge

[2020-05-23 01:00] chingucoding commented on #2455
So I've added a callback change to the TabViewItem's content property, and the stacktrace for setting the content to null is this:

[code]

So maybe this is ListView interfering here? Or is this something even further down the UI stack?

[2020-05-23 04:22] #2528 closed

[2020-05-23 05:55] sylveon commented on #2429
I'm currently having to debug a runtime binding issue and the lack of x:Bind is being severely felt :(

Having a compile time error would be much easier to correct.

[2020-05-23 07:36] Poopooracoocoo commented on #2517
yeah. windows 10 is an inconsistent mess and microsoft doesn't want to even fix it :( there are options in control panel that don't affect WinUI stuff like shadows for example

[2020-05-23 07:55] Ticomware commented on #2360
I am also facing this issue. Using the restart button does not fix this issue for me. I am running Build 19631 (Windows Insider Fast Ring)

[2020-05-23 10:01] terrycox commented on #2535
Not well written, my apologies. Here's the question better said. I have a UWP app I wish to upgrade to WinUI 3 Preview 1. For the Alpha, I just used the NuGet manager to add the WinUI prerelease NuGet package. That doesn't work with Preview 1; the package isn't out there. Is it on a restricted server? Also, the 'how to upgrade a UWP project' notes have disappeared; all that's out there now is aime

[2020-05-23 10:25] chingucoding commented on #2535
Turns out the Microsoft.WinUI package is currently unlisted. If you want to use it in an existing UWP projects, you can update the package reference manually.

However currently it is not stable enough to use in production code, and will most likely change in the future or stop working with newer versions of Windows 10 (side effect of the preview 1).

[2020-05-23 10:59] vitorgrs commented on #2472
Is there any plans to support it on VS Code? And I mean, without needing to install full VS.
UWP SDK + .NET + VS Code only?

[2020-05-23 12:53] niels9001 opened #2536 "Discussion: Add the header property to all input controls"
# Discussion: Add the header property to all button controls
Most input controls have a header property, that allows developer to add  e.g. a descriptive text.

This is useful, but for the button control family this property is not available. This requires developers to add a separate textblock. This however requires additional styling (in terms of margins, paddings and fontstyles).

This is quite

[2020-05-23 13:56] mveril commented on #2124
I write an issue for that in #microsoft/ProjectReunion/49 Project Reunion may be the good place for this issue I think

[2020-05-23 14:46] mdtauk commented on #2536
The proposed form control may be useful for this I'm the future.

[2020-05-23 16:00] mdtauk commented on #2517
- Control Panel is due to be removed, once the settings are moved to the Windows Settings app.

- Win32 apps should in time move over to WinUI Desktop, so those old controls will phase out.

- Hopefully the Windows Shell and inbox apps will move over to WinUI controls, or old apps moved to the store.

[2020-05-23 18:52] mqudsi commented on #524
There's so much back-and-forth that it is hard to know what was decided with regards to other inputs and corner radius, but very quickly, after migrating a UWP project to use WinUI 3 exclusively I noticed that only buttons had a corner radius applied (along with the other changes like enhanced reveal, etc) but my other input controls (e.g. combobox) were left with the metro look (darker/thicker bo

[2020-05-23 19:13] hansmbakker commented on #1247
Can you please give a status update on this?

[2020-05-23 21:35] NGame1 opened #2538 "Discussion: Please add MarkdownTextBlock to MS.UI.Xaml"
Hi everyone.
I really need MardowndownTextBlock from Windows Community Toolkit but it has problems in V3 and V4
The problem starts from V3 and it also presents in V4 (That still support MinTarget 15063)
[code]

[2020-05-24 02:42] mqudsi opened #2539 "WinUI 3 cannot handle structs as ItemSource/SelectedItem for ComboBox"
Using a collection of structs as the ItemSource for a ComboBox and then setting the SelectedItem to a value equivalent to one of the items in the ItemSource throws an exception:

This is with the struct correctly implementing `IEquatable<T>` and the `.Equals(other)` method being called and returning true for the matching pair. The same code used to work under UWP.

**Steps to reproduce the bug**

[2020-05-24 04:00] Poopooracoocoo commented on #2517
One day™

One day™

Hopefully®

Microsoft has had so many chances. They've only recently been updating their inbox apps to use WinUI. I don't have any hopes for them moving controls over to Settings from Control Panel. I even made [this ](https://github.com/microsoft/microsoft-ui-xaml/issues/816) issue and the WinUI peeps said that it's out of their hands. It's what I was expecting from Microsoft

[2020-05-24 04:09] ShankarBUS commented on #2538
Do you have problems with  **MarkdownTextBlock's `LinkClicked`** event or **Frame's `Navigate`** method? What exactly is your issue?

Did you try setting a breakpoint to see if the
`LinkClicked` event triggers when a link is clicked.

[2020-05-24 10:19] FrayxRulez opened #2540 "Proposal: ItemsRepeater First/LastVisibleIndex"
# Proposal: ItemsRepeater First/LastVisibleIndex

## Summary
ListView's `ItemsStackPanel` and `ItemsWrapGrid` offer `FirstVisibleIndex` and `LastVisibleIndex` that can be used together with `ScrollViewer.ViewChanged` to perform further actions. Would be great to have the same feature in ItemsRepeater.

## Rationale

* Run hardware-intensive code only when items are actually visible (eg playing a v

[2020-05-24 16:31] shaheedmalik commented on #2236
Build has come and gone. This needs to be done before WinUI3 releases on a at least faux level for at least consistency purposes. If not, there will be a whole bunch of apps that are inconsistent which will deem WinUI3 a giant waste of time.

[2020-05-24 17:59] mqudsi commented on #1965
Is there some resource on migrating from WebView2 in WinUI 3.0 Feb 2020 Alpha to WinUI 3.0 Preview 1?

`UriSource` is gone, `WebView2.ExecuteAsync(@$"window.location = ""{url}"";")` throws an exception, `webview.NavigateToString($"<meta http-equiv='refresh' content='0; URL='{url}' />");` refuses to work with a `file:///` path (exception about loading local files), and even though it *appears* to w

[2020-05-24 18:04] mqudsi commented on #1967
I had alpha 1 working with `file:///` for local resources (after resolving a `ms-appx:///` url to a `file:///` via the `StorageFile` API) but with preview 1 I cannot get a local file to load via any means.

[2020-05-24 18:37] mfeingol opened #2541 "NavigationViewItem content clipping regression in 2.4.x"
**Describe the bug**

NavigationViewItem clips its internal contents in 2.4.x much more than 2.3.x. This makes it very difficult to render custom elements in NavigationViewItem alongside standard NavigationViewItem icons. The problem is visible when the NavigationViewItem is in collapsed mode.

The following are screenshots of the NavigationView's PaneFooter:

2.3.2:

![2 3 2](https://user-images.

[2020-05-24 18:38] jabak commented on #1967
Great! Good to know that I'm not the only one seeing this behaviour in preview 1. I guess we'll have to wait for the next update then.

[2020-05-24 19:18] terrycox commented on #2535
I'm having no luck updating the package reference. Nuget Console Manager 'Find-Package winui' shows the alpha (2.4.2) packages. If you have any specifics I'd be grateful.
The alpha version worked with Nuget; somehow that got dropped with the prerelease version. I find that confusing.
The loss of the 'how to upgrade a UWP project' notes is also confusing. It seems UWP got pushed aside by the effort

[2020-05-24 19:40] shaheedmalik commented on #2186
You're right. I am surprised at that. It seems like use cases such as that would be a common sense reason to use it.

[2020-05-24 20:25] yoshiask commented on #1286
I'm hitting this same error when attempting to build the Windows Community Toolkit Sample App, targeting Windows 10 18362, with Windows 10 18363.

[2020-05-24 23:22] eklipse2k8 commented on #2502
Sorry I don’t have the bandwidth to create an example app for you right now. Happy to help try some things in my code for you though.

[2020-05-25 00:15] shawly commented on #1495
Is there any progress yet? Removing this crap shouldn't be that hard... (sorry for my language but it has been 7 months now and nothing happened..)

[2020-05-25 01:49] zhuxb711 commented on #1820
@kaiguo @ranjeshj
I see other people asking the same question. Is there any progress in the investigation of this issue?

[2020-05-25 05:36] zhuxb711 opened #2542 "Dynamic assignment to ListView.ContextFlyout may cause ListView to scroll unexpectedly"
**Describe the bug**

Consider the following scenario, there is now a file manager, which needs to decide what CommandBarFlyout pops up based on the object selected when right-clicking

The following is pseudo code, where ListViewControl represents ListView, FileFlyout and FolderFlyout are CommandBarFlyout
[code]

#### Tip: ListViewControl must have enough objects so that it can scroll

### Now, s

[2020-05-25 05:47] ibonhub opened #2543 "Invalid link in documentation"
**Describe the bug**

Invalid link in documentation "Introduction to Windows app design"

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/uwp/design/basics/design-and-ui-intro
2. Click on ' Guidelines for tile and icon assets.'
![image](https://user-images.githubusercontent.com/65885231/82781891-b262ed00-9e63-11ea-9dd9-3db0167d0f3c

[2020-05-25 07:04] Poopooracoocoo commented on #1258
The whole Windows 10X being more familiar to new users thing is a bit confusing. People would probably be coming from iOS, Android and Chrome OS. iOS doesn't have radio buttons and Android and Chrome OS both have the outlined style radio button. I don't think that Windows 10X is targeting macOS and GNOME users. And besides, a different default UI wouldn't make a difference unless stuff actually ge

[2020-05-25 08:04] Plegin opened #2544 "ComboBox Not Rendering Correctly When ScaleTransform is Applied to Parent Canvas"
- Using VS2019 v16.6.0
- Start a new UWP project
- Use this MainPage Xaml:

<Page
    x:Class="ComboBoxBug.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:ComboBoxBug"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/marku

[2020-05-25 09:02] Felix-Dev commented on #2543
@ibonhub I created a PR [here](https://github.com/MicrosoftDocs/windows-uwp/pull/2483) to fix this.

Please note that this is wrong repo, UWP documentation issues (especially issues like broken links) should be posted in the [UWP Documentation repo](https://github.com/MicrosoftDocs/windows-uwp). Also note that from my experience, creating a PR fixing this issue instead of just creating an issue on

[2020-05-25 09:14] cheles commented on #934
@CodeForCSharp I haven't said that UWP team fixed all memory issues. I said just UWP 6.2.9 brought some memory consumption improvements per this [link](https://github.com/microsoft/dotnet/blob/master/releases/UWP/net-native2.2/README.md#uwp-629-august-23rd-2019)

https://github.com/dotnet/runtime/issues/12255 seems to have been marked for [Future release ](https://github.com/dotnet/runtime/milesto

[2020-05-25 09:30] CodeForCSharp commented on #934
@cheles Thank you for your work.I know it's getting better.
Many questions about UWP are usually unanswered, which is very disturbing.
UWP Framework also have many memory issues.Hope to fix it as soon as possible.

[2020-05-25 10:25] niels9001 commented on #1637
Not sure if this is the right issue since there are a couple around the ColorPicker control.

In the PowerToys settings application the use is able to set 3 different colors. We now have 3 colorpickers, which take a LOT of space and it's actually not really glanceable to see what color is selected.

We came up with the following solution, using a dropdown button with a colorpicker in the flyout:

[2020-05-25 13:30] chingucoding commented on #1637
I am not sure if I understand your request correctly @niels9001 .

So you want a compact state which shows a color or a very small layout that upon invoking opens the full color picker?

In that case I think someone already asked about this (or even create a proposal for this), but the WinUI team decided that it currently is not really "worth" it, since it is fairly easy to integrate a colorpicker

[2020-05-25 13:51] robloo commented on #1637
@niels9001 This is a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/2309 "Add a ColorSwatchPicker" control. Could you please duplicate your comment on that issue? I also think this is an important control to add to WinUI.

[2020-05-25 13:57] niels9001 commented on #1637
@chingucoding Exactly. I can imagine this might beyond the control.

@robloo Ah yes, I see now that there was already a concept that does the exact same thing. Duplicate :)

[2020-05-25 13:59] niels9001 commented on #2309
Would be really nice to have this, either in the Community Toolkit or WinUI.

We have created something similar in the PowerToys settings app:

![FZColors](https://user-images.githubusercontent.com/9866362/82731988-a6174c80-9d0a-11ea-824a-247a30b96f0d.gif)

[2020-05-25 14:46] LanceMcCarthy commented on #1286
@yoshiask The problem is in the 18362 SDK. Since there was no updated SDK for 18363, you needed to wait for the new SDK that has the fix: 19041, which is available now.

1. Open the Visual Studio Installer app
2. Click **Modify**
3. Switch to the **Individual Components** tab
4. Scroll down to and check the _Windows 10 SDK v19041_ option
5. Complete the update

![image](https://user-images.githubu

[2020-05-25 15:41] Sergio0694 opened #2545 "MissingMetadataException with .NET Native on 19041"
**Describe the bug**

I've recently updated to Windows 10 `19041.264`, and apparently many .NET Native builds are just flat out broken for me. This includes both the Windows Community Toolkit Sample app (straight from `master`, cc. @michael-hawker) as well as my own app Legere (cc. @LanceMcCarthy, since you helped me pinpoint the previous issue in #1286). Some info I managed to gather:

- The .NET

[2020-05-25 15:54] niels9001 opened #2546 "[NumberBox] Right-click menu appears when tapping on the spinner using touchscreen (in compact mode)"
**Describe the bug**
When a NumberBox is in compact mode a right-click menu appears when selecting it and sometimes blocking the actual buttons.

In my opinion, touching the buttons should only show the up and down spinner. Selecting the textbox should show the right-click menu, not the up and down spinners.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Make sure you have a

[2020-05-25 16:30] hansmbakker commented on #2515
I believe this is a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/1247. Feel free to add and comment there.

[2020-05-25 17:41] hansmbakker opened #2548 "Proposal: RadialController injection input"
# Proposal: RadialController injection input

## Summary

There is a [preview API to inject HID input](https://docs.microsoft.com/en-us/uwp/api/windows.ui.input.preview.injection?view=winrt-18362). Currently the input types are restricted to
- keyboard
- mouse
- gamepad
- pen

It would be great if RadialController (Surface Dial) input could be injected, too. This would enable making non-compatible

[2020-05-25 18:10] AzAgarampur commented on #2517
On the other hand, instead of removing animations altogether, use a different, shorter animation. The current animation of expanding from the top to bottom direction looks somewhat dated and is slow (in my opinion.)

Can a short popup-like animation be used? For example the menu popup menu animation that gtk uses is quick and clean.

[2020-05-25 19:11] ThE-TiGeR commented on #1780
This issue still happens with the version 2.4

![image](https://user-images.githubusercontent.com/4369528/82838336-3650bf80-9ecc-11ea-872f-3151a0b0aeb3.png)

[2020-05-25 19:57] shaheedmalik commented on #2517
It's like Tablet Mode being terrible the last 5 years. It's all on the Shell team.  I understand if stuff  takes long to to do, but something like Settings has made no real progress since Windows 8.

[2020-05-25 19:57] paulovila opened #2549 "Discussion: Adobe Illustrator api parity"
# Discussion:
 Adobe Illustrator has vector, brushes, brushes, shadows and other concepts for composing sophisticated UI.
A parity one-to-one with Adobe Illustrator format should guarantee that *anything* that you create in Adobe Illustrator can be exported as xaml, and run in an efficient,pixel reliable manner with the ability to animate anything.

## Related Links
https://www.adobe.com/ie/produc

[2020-05-25 20:32] shaheedmalik commented on #2546
That's not actually the right click menu.
![image](https://user-images.githubusercontent.com/51347950/82841698-0b9f4080-9ea5-11ea-8b04-3d51e286d9ce.png)
Right clicking on it brings up select all.
![image](https://user-images.githubusercontent.com/51347950/82841736-296ca580-9ea5-11ea-9032-405f0fbdc712.png)

I tell you what though; the bug is the menu is blocking the Up arrow on that control.

[2020-05-25 20:34] sylveon commented on #2429
[repro.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4678751/repro.zip)
Here's a minimum repro project

[2020-05-25 21:27] niels9001 commented on #2546
Ah, yes - my bad.

It's blocking, that's for sure. But I also think that no menu should pop-up whenever tapping the spinner buttons. Only when the text gets selected. It's distracting and unintentional.

[2020-05-25 21:50] shaheedmalik commented on #2546
That's the problem: it's being selected on first click.

[2020-05-25 23:13] AzAgarampur commented on #2355
**Is there any progress investigating this issue?**

[2020-05-26 02:00] AzAgarampur commented on #2355
Update on the issue: Even when using the platform control brush, the brushes always use fallback. I found out that excluding `XamlControlsResources` from the App resources solves the problem.

[2020-05-26 04:50] Poopooracoocoo commented on #2517
@shaheekmalik yeah they stopped moving settings since 2018. I think it has to do with resources. Microsoft really doesn't care about Windows anymore. The rewritten touch keyboard took so long to get to where it is now and the split keyboard still isn't decent. The rewritten task view is finally performant but still has various issues (including not being able to rearrange). the list goes on and on

[2020-05-26 04:52] Poopooracoocoo commented on #2517
@AzAgarampur
I thought GNOME got rid of menu bars. :/ IIRC there's no animation when switching menus. If you're referring to just menus, I totally agree.

[2020-05-26 04:53] AzAgarampur commented on #2517
@Poopooracoocoo Yeah that's what I meant, my bad. I should have said that.

[2020-05-26 07:22] hshristov commented on #2490
@stevenbrix Sorry for the delay. Forgot about this issue due to Build.
Exception is thrown if you try to create custom observable collection and implement **Windows.UI.Xaml.Interop.INotifyCollectionChanged** interface.

[2020-05-26 07:49] MichalStrehovsky commented on #2545
For .NET Native issues I suggest reaching out to dotnetnative at microsoft dot com. This is possibly an issue with the Windows SDK installation, but it's difficult to say.

[2020-05-26 11:12] LanceMcCarthy commented on #2545
@Sergio0694 I'll spin up a repro today and report it internally to MSFT SDK team.

My first suspicion is that there is some code being stripped out while compiling, this is the usual reason for MissingMetadataException.

In the meantime, you can avoid this by adding those assemblies to the 'include list". Here's an example of an external assembly that is skipped during .Netnative compilation

var

[2020-05-26 11:22] Sergio0694 commented on #2545
@LanceMcCarthy That's awesome, thanks! I have to say I did try to add some `.rd.xml` directives for those missing types, with no luck so far though. I'm sure others with more experience than me might have better results though, I'll try following that link you posted and trying again! 😄

Also I've added you as a collaborator to Legere again in case you need to repro the issue on that solution too.

[2020-05-26 12:58] Marv51 commented on #2011
I've hit this too today. Can we provide any more help, or repro cases? @Austin-Lamb

[2020-05-26 13:41] zadjii-msft opened #2550 "CornerRadius Graphics Corruption"
_Originally posted by @tomspilman in https://github.com/microsoft/terminal/issues/6142_

Refer to that thread for more details. Seem like this isn't local to just the Terminal on @tomspilman's machine, it's happening to all WinUI apps.

[2020-05-26 13:43] ranjeshj commented on #2550
@codendone @gegao18 Is this a rendering issue ?

[2020-05-26 14:08] NicTanghe commented on #2236
lol so the one think that makes this framework not useless is being pushed up. Windows sure as fuck don't know how to prioratise stuf ( unless this version allows me to toggle title-bars universally because then all is forgiven. and they made the correct thing the nr 1 priority.)

[2020-05-26 14:09] LanceMcCarthy commented on #2545
@Sergio0694 I would try setting the type to the exact one that code uses. Maybe somethign like this:

[code]

so that we don't clog up this thread, lets move the debugging investigation to a Legere Issue and then come back here with the final solution

[2020-05-26 15:05] christiannagel commented on #2240
this is now working with preview 1 👍 Closing the issue

[2020-05-26 15:38] LanceMcCarthy commented on #2545
Pro Tip for any future visitors, use the MissingMetadataException Troubleshooter to build the Default.rd.xaml file for you!

- For Types https://dotnet.github.io/native/troubleshooter/type.html
- For Methods https://dotnet.github.io/native/troubleshooter/method.html

[2020-05-26 15:48] Sergio0694 commented on #2545
Wait **WHAT!** Where has that been this whole time? 😱
And why is it not listed like **everywhere** in the UWP docs?

Thank you so much, I'll give this a shot! Also share those links in the Discord server 👍

[2020-05-26 17:08] shaheedmalik commented on #2550
I've had similar happen. Explorer crashed soon afterwards. It makes me think it is a Shell issue.

[2020-05-26 17:48] MikeHillberg commented on #2124
The technical difficulty with this in WinUI3 is enabling a custom title bar that the user can still drag and double-click on. This is enabled in WinUI2 with [Window.SetTitleBar](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Window.SetTitleBar), which registers with the shell the system (WinUI2) Visual behind the specified element. But with WinUI3 we need a new mechanism because we don't curre

[2020-05-26 18:45] tomspilman commented on #2550
I can say that i've been running now for a few days with the graphics glitch still occuring.  At no time did the Shell crash on me before or since.  Everything seems stable overall other than this.

I did have a situation a few weeks and at least one reboot ago where the mouse cursor was corrupted on one monitor only.  I had to do the trick of enabling mouse trails to have it fix itself.  Not sure

[2020-05-26 21:21] mdtauk commented on #2124
Could WinUI / Reunion include a TitleBar xaml control, with built in behaviours and the ability to re-colour and theme/re-template?

[2020-05-27 04:32] adambarlow commented on #1967
@codendone , which changes might have caused the local file loading to no longer function?

[2020-05-27 04:52] tajetaje commented on #1493
I know this is an old thread, but if line 259 in the code you referenced were changed to  BlurAmount = 0 would that not result in glass transparency?

[2020-05-27 06:20] BorzillaR opened #2551 "Is there a way to set the property of type 'Type' from xaml?"
I have a WinUI/UWP project. In my custom control I have a property of type Type. I tried to set it from xaml like ControlTemplate.TargetType property, but got an exception on InitializeComponent.

Is there a way to set such properties from xaml?

Sample control
[code]

Xaml

`<local:MyControl SomeProperty="Button" />`

[2020-05-27 08:46] rufw91 commented on #179
I hope so, i had to switch back to WPF, im actually just about done now.

[2020-05-27 08:53] luEbe commented on #2489
Here is a repro app for the issue:
https://github.com/luEbe/keyboard-accelerators-repro

As you will notice, the KeyboardAccelerator is working fine, but the ToolTip is not shown when hovering over the Grid.

[2020-05-27 09:22] MichalStrehovsky commented on #2545
It's supposed to be linked from the relevant exception messages. Not sure why there's no message on your screenshot - could be yet another bug. It definitely was part of the message when I originally added it for .NET Native 1.0. Those pages represent all the JavaScript I wrote in the past 10 years.

The problem with `Windows.Foundation.IReference<double>` is that this is a projected type (maps to

[2020-05-27 11:23] ocdtrekkie commented on #2497
Some manner of timeline on when support for VB will happen would be much appreciated.

[2020-05-27 11:24] ivanicin opened #2552 "AppBarButton doesn't react to AppBarButtonBackgroundPointerOver when in CommandBar"
**Describe the bug**
`AppBarButton `doesn't react to `AppBarButtonBackgroundPointerOver `when in `CommandBar`

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Use this code:
[code]

**Expected behavior**
The AppBarButton  should have AliceBlue color when the pointer is over

**Screenshots**

![Screenshot (23)](https://user-images.githubusercontent.com/20874207/83013380-357b7300-a0

[2020-05-27 13:05] ranjeshj commented on #2457
@RBrid can you please help investigate this crash ?

[2020-05-27 13:12] ranjeshj commented on #2127
@MikeHillberg @ptorr-msft This seems to be an issue with the way the appx packages are registered in the system across profiles. Can you help route this bug ? Should this be moved to the project reunion repo ?

[2020-05-27 13:14] ranjeshj commented on #2520
@ojhad can you investigate this issue ?

[2020-05-27 13:58] ranjeshj commented on #2491
Adding @anawishnoff @YuliKl and @chigy since we are talking about the design of NavigationView.

[2020-05-27 15:17] ranjeshj commented on #2527
@Sergio0694 Thanks for reporting. If you have a standalone repro app that you can share, that would be helpful. Thanks!

[2020-05-27 15:38] ranjeshj commented on #2531
This seems to be an error with the .net native compilation. If I turn it off, I do not see the crash anymore in release. Can you file this issue in the .net repo ?
![image](https://user-images.githubusercontent.com/28935693/83041489-60ea6780-9ff5-11ea-90ca-cab4288886ca.png)

[2020-05-27 15:52] ranjeshj commented on #2455
@chingucoding can you right click, say show external code and load symbols for windows.ui.xaml and see if that gives you a better stack ?

[2020-05-27 15:55] ranjeshj commented on #2360
@simeoncran Has this issue been resolved ? Can you share which insider build has the fix ?

[2020-05-27 15:57] chigy commented on #2491
@FrayxRulez , looks like there is the issue and the request.
In order to make it clear, I'd like to keep this GH for issue and the request be opened as a new item if you wish us to consider it. 1) weird motion issue, 2) make top NavView items scrollable.

Does this sound right?

[2020-05-27 16:00] ranjeshj commented on #2536
@niels90001 Would your scenarios be covered by the forms control as @mdtauk mentioned ? The proposal is [here](https://github.com/microsoft/microsoft-ui-xaml/issues/82).

[2020-05-27 16:04] ranjeshj commented on #524
If you are seeing a difference between WinUI2 and WinUI3 with regards to the styles, can you please open a new issue ? It might be a bug with regard to the merge of styles from WinUI2 into WinUI3.

[2020-05-27 16:11] ranjeshj commented on #2539
@stevenbrix @MikeHillberg as FYI

[2020-05-27 16:23] ranjeshj commented on #2540
@FrayxRulez I think it is good idea to have this in ItemsRepeater. We talked briefly about this in [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1847#issuecomment-574864446). I'll let @anawishnoff use either one of these proposals to track the work.

This is currently possible by looking at the layout bounds etc and calculating the first/last indices, but definitely more work than j

[2020-05-27 16:30] ranjeshj commented on #2541
@mfeingol is this the same as seen in [this ](https://github.com/microsoft/microsoft-ui-xaml/issues/2409)issue ? Does it repro with items only in the pane footer and no other items ?

[2020-05-27 17:07] FrayxRulez commented on #2540
Sorry, I actually missed there was a ticket already about this.
I have a ItemsRepeater that is used to display a list of MP4s that should play as soon as they enter in the view.
What happens technically is that I cycle from FirstVisibleIndex to LastVisibleIndex included, exclude items that are already playing, stop those that aren't visible anymore, and start the new ones by calling `TryGetElement

[2020-05-27 17:09] ranjeshj commented on #2535
@terrycox Are you trying to create a WinUI3 app ? Have you tried the steps mentioned [here ](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/)? Are you building UWP or Desktop WinUI3 app ?

[2020-05-27 17:16] stevenbrix commented on #2500
@smourier I'm a bit confused by your requirements. Where are you trying to deploy the unpackaged app? Are you just trying to run it on your machine, or do you want to place it on a different machine?

[2020-05-27 17:24] ranjeshj commented on #1820
@chingucoding Thanks for the PR. @StephenLPeters can you please review this PR ? Thanks!

[2020-05-27 17:25] smourier commented on #2500
@stevenbrix - I don't want to "deploy" an unpackaged desktop app (as in UWP "deploy"). I'd like it to be very simple to use it, for example just copying an .exe, without having to deploy 300 satellite dll like what's demonstrated in the current WinUI 3 preview.

I don't see this as a "requirement", this is what we have today with .NET Winforms, WPF, or with Plain Win32 app using any language or to

[2020-05-27 17:35] karenbtlai commented on #2445
@MarissaMatt would you be able to help determine the behaviour of padding?

[2020-05-27 17:40] ranjeshj commented on #2552
CommandBar uses reveal on its children which likely what is causing this. You cannot get both reveal and this color at the same time.

[2020-05-27 17:42] ptorr-msft commented on #2127
@jvintzel FYI.

[2020-05-27 17:42] ranjeshj commented on #2551
we don't have x:Type in WinUI. @MikeHillberg is there a way to achieve this ?

[2020-05-27 17:45] ranjeshj commented on #2548
can you please file this issue in [this ](https://github.com/microsoft/ProjectReunion)repo ?

[2020-05-27 17:46] simeoncran commented on #2360
The issue has been resolved in the OS (internal id: 26071662 fyi).
Flighting in: 20133.1000.rs_prerelease.200519-1427

[2020-05-27 17:49] ranjeshj commented on #2546
It looks like the text gets selected when tapping on the spinner and that causes the floatie to show up. Perhaps the text should not get selected when tapping the spinner.

[2020-05-27 17:54] shaheedmalik commented on #2546
One tap to activate spinner, another tap to bring up the floatie.

[2020-05-27 17:55] #2543 closed

[2020-05-27 17:55] MikeHillberg commented on #2551
I don't think so, and I can't find an existing Issue on it. It's supported for built-in properties (like Style.TargetType) but missing for custom properties. @alwu-msft?

[2020-05-27 17:56] marb2000 commented on #2497
Unfortunately, at this point we don't have a timeline for when WinUI will support VB.NET. I invite VB developers who are planning to use WinUI thumb-up this Discussion, so WinUI team is aware the impact of this request.

[2020-05-27 17:56] stevenbrix commented on #2500
@smourier I'm using the term "deploy" generally to refer to getting an app on a machine and running it. I'm not using it to distinguish between packaged/unpackaged. Is there a different term that I should be using?

From this part of your proposal, it seems like `PublishSingleFile` is exactly what you want, or am I missing something?

As for C++ apps, we don't support static linkage of our librari

[2020-05-27 18:03] ranjeshj commented on #2540
EffectiveViewportChanged should make this scenario quite straightforward I think. You can decide to play/stop based on the BringIntoViewDistrance available in the args and not have to worry about ViewChanged or caching indices..

[2020-05-27 18:09] ranjeshj commented on #2533
@MikeHillberg as FYI

[2020-05-27 18:14] mfeingol commented on #2541
@ranjeshj: not sure if it's the same issue.

It repros with with items under `NavigationView.MenuItems` as well as items under `NavigationView.PaneFooter`.

[2020-05-27 18:14] ranjeshj commented on #2522
Not exactly sure if this is a ListView issue or an app issue. Would it be possible for you to create a standalone repro outside of the settings app ? That would be very helpful.

[2020-05-27 18:16] ranjeshj commented on #2521
@ojhad can you investigate this keyboarding issue ?

[2020-05-27 18:17] alwu-msft commented on #2551
This works for me (my [test app](https://github.com/microsoft/microsoft-ui-xaml/files/4690911/CustomTypeProperty.zip)) whether the custom property of type System.Type is a DependencyProperty or a regular C# property.

@BorzillaR can you attach your repro project? It's possible my test app isn't doing the same thing as yours and that is responsible for the difference in behavior.

[2020-05-27 18:26] ranjeshj commented on #2516
Is this the same issue as  https://github.com/microsoft/microsoft-ui-xaml/issues/230 ?

[2020-05-27 18:27] #2515 closed

[2020-05-27 18:51] Sergio0694 commented on #2527
Hey @ranjeshj, thank you for chiming in!
I've managed to create a minimal repro, I've added a link to the main post! 😊

[2020-05-27 18:52] chingucoding commented on #2455
Using show external code, I get the following stacktrace:

[code]

[2020-05-27 19:02] stmoy commented on #2417
@piersdeseilligny @chingucoding @zadjii-msft - I pitched this to the team today and there was momentous applause 👏🥂🎉 - @SavoySchuler said it best: "I have been waiting for this to be added to TabView since TabView was released!"

Some small details that came out of the pitch:

- As @zadjii-msft mentions, we should resize on mouse exit, not on a timer
- This feature shouldn't need a new API; it sho

[2020-05-27 19:08] stmoy commented on #2417
@piersdeseilligny had some good questions; here are my thoughts:

Lets follow Edge and do bounds of the TabView _strip_. Note that since the TabView control also contains the page content beneath the strip, we should be careful to say that we want the tabs to resize when the user moves the mouse outside of the strip and not the whole TabView.

This is an interesting design paradigm. Again, my 2c w

[2020-05-27 19:16] ChristopheLav commented on #2516
@ranjeshj Like I said at the end of the issue, it seems to be similar. But the workaround is not working and all linked items in the #230 are resolved (and all solutions are not working).

The symptom seems the same but I'm not sure about the root cause. The #230 issue seems to be more broadly because all configurations are impacted. In my issue, it's working with Debug configuration but failed in

[2020-05-27 19:17] Poopooracoocoo opened #2553 "Two groups of radio buttons explicitly grouped by GroupName have scrollbars"
**Describe the bug**

Two groups of radio buttons explicitly grouped by GroupName have scrollbars that cannot be scrolled and so shouldn't be there.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Disable automatically hide scroll bars in Windows
2. Go to RadioButton control

**Expected behavior**

No scrollbars

**Actual behavior**

There are scrollbars

**Screenshots**

![im

[2020-05-27 19:23] chingucoding commented on #2417
@stmoy Sure, I would love to work on this. I don't think that a API spec is necessary for this, if there are any questions I'll get back to you.

@MikeHillberg This wouldn't need an API right?

@ranjeshj If me working on this issue is fine with you, could you add me to the list of assignees of this issue? 😄

[2020-05-27 19:31] BorzillaR commented on #2551
@alwu-msft, seems you created a classic UWP project and it works on my side. I created the [same project](https://www.dropbox.com/s/ukfrpbwdo0a320z/App12.zip?dl=0) for WinUI/UWP  and it fails. Looks like a bug.

[2020-05-27 19:32] FrayxRulez commented on #2540
But that requires Windows 17763 while I’m targeting 16299. This is a core functionality for me, I can’t really enable it on new Windows versions. Of course my plan is to migrate to WinUI 3, but I’m not sure this will happen as soon as I would need it 😅

[2020-05-27 20:10] anawishnoff commented on #2491
Thanks all - so if I'm understanding correctly, there isn't a bug with NavigationView itself but was caused by wrapping it in a ScrollViewer? @ranjeshj /@ojhad Why does a ScrollViewer block the NavigationView itself from being edited/updated?

As for NavigationView's overflow design, it seems to me that an overflow menu was created so that the difference between left and right or top and bottom pi

[2020-05-27 20:15] vsfeedback opened #2554 "MSBuild:UpdateDesignTimeXaml Code Generator Crashed. Not Connected."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1044217/msbuildupdatedesigntimexaml-code-generator-crashed-1.html)._

---
Although numerous other XAML files in the solution compiled, there were two files the generated the title error message. The files themselves have been successfully built for UWP, Android and iOS Simu

[2020-05-27 20:18] paulovila opened #2563 "RichEditBox crashes the app when typing fast"
**Typing text relatively fast makes the app crash**
The debugger doesn't even catches the error, and a new instance of Visual Studio is proposed to start the debugging.
**Steps to reproduce the bug**
1. Start debugging the XamlControlsGallery solution
2. Click on RichTextbox control (two text boxes appear)
3. In the large one, start typing fast.

**Expected behavior**
1. not crash
2. be able to de

[2020-05-27 20:25] alwu-msft commented on #2551
Thanks! You're right, the `Windows.UI.Xaml.Markup.XamlParseException` text displayed by VS tricked me into thinking that you were using UWP XAML rather than WinUI 3.

As it turns out, this is a known issue that we're already working on fixing, but we appreciate the report nonetheless!

[2020-05-27 20:27] anawishnoff opened #2555 "📞👩‍💻 WinUI *Bonus* Community Call - Preview 1 Q&A"
This community call Q&A session has ended.

See the recording here: https://aka.ms/winuibonuscall

------------------------------------------------------------------------------------------------------------

Now that you've all had the chance to play with Preview 1 a bit, we are planning a special bonus edition of the monthly WinUI Community Call - an hour-long Q&A live stream session to answer a

[2020-05-27 21:06] michael-hawker commented on #2555
🦙 The Llama will be there!

[2020-05-27 21:14] PaulaScholz commented on #2360
When is this going to hit Windows Update?  This is a blocker for me.

[2020-05-27 21:16] michael-hawker opened #2556 "Conditional XAML not working in ResourceDictionaries"
**Describe the bug**
Been having trouble trying to add more complex conditional XAML to our Resource Dictionaries (like just copying resources from the WinUI repo here that is using the same syntax is failing in our C# UWP Class Library).

The latest message I've received is `Type 'TemplateBinding' used after '{' must be a Markup Extension. Error code 0x09cc.` which seems similar to this [old thre

[2020-05-27 21:36] FrayxRulez commented on #2540
So I actually just tried to hook EffectiveViewportChanged event to the ItemsRepeater children and this seems to affect scrolling performances really bad...

[2020-05-27 21:42] mqudsi commented on #1967
@adambarlow fyi I filed a full issue for that in MicrosoftEdge/WebViewFeedback here: https://github.com/MicrosoftEdge/WebViewFeedback/issues/212#issuecomment-634195158

[2020-05-27 21:53] RealTommyKlein commented on #2508
Thanks Mike for digging into this - yes, x:Bind'ing to named elements outside of the scope is an intentional feature.  This is meant to be similar to the ElementName feature in {Binding}, allowing for binding to named elements outside of the current namescope.  But unlike {Binding} which walks the visual tree at runtime to perform the name lookup, x:Bind walks the "markup tree" at compile time so

[2020-05-27 23:34] RBrid commented on #2457
@dpaulino, @chingucoding, do you know how easily I should be running into this crash? I have been trying ~100 times with the latest master bits and have not hit the problem. Thanks!

[2020-05-28 00:06] dpaulino commented on #2457
@RBrid it crashes instantly for me in the xaml controls gallery app. Makes sure you scroll down to the demo for TabViewItemsSource. I just tried it now and still crashes instantly when I attempt a tab rearrange

[2020-05-28 00:09] dpaulino commented on #2457
The repro steps I noted at the top of the issue reliably reproduces the crash. Note that I'm using the app that is deployed to the store. And I'm not sure if master branch is ahead of the store build.

[2020-05-28 00:09] stmoy commented on #2457
@rbrid - I am able to repo 100% as well using the debug version of the Gallery from GitHub. It sounds like this also crashes on the store version. Perhaps it's OS related? I'm on 19635.mn_release.200522.

[2020-05-28 00:11] dpaulino commented on #2457
In case it helps, I'm on Windows 10 2004 Build 19041.264

[2020-05-28 00:22] ajbennet commented on #2360
The fix has been checked in. I don't have an exact ETA, because it still is being figured out internally,  but it will be available in an upcoming flight, because it . I will update this thread as soon as that I know.

[2020-05-28 00:26] RBrid commented on #2457
I could not repro whether I used the GitHub master version or the Microsoft Store version, on my machine which runs Windows 10.0.18362.836 (files from 05/12/2020).

I then installed the Store version on another machine that runs Windows 10.0.18362.1 (files from 03/18/2019). Bam! Instant and consistent crash.

So, it looks like, somehow we fixed it in the OS between the two versions above.

[2020-05-28 00:31] dpaulino commented on #2457
@RBrid can you record a video of your repro attempt and share it here? I'm curious if there's anything different about what you do and what I have done

[2020-05-28 00:46] RBrid commented on #2457
FYI I can also repro on a third machine with the Store version. It runs OS 10.0.18362.329 (from 01/10/2020).

What is special about the machine which runs Windows 10.0.18362.836 on which I cannot repro? Maybe it is that I use a 'Remote Desktop Connection' to try to repro on that machine since it is far far away from me...

[2020-05-28 00:59] RBrid commented on #2457
I think my assumption above was right.  If you turn off system animations on your machine, the bug will no longer repro. Remote Desktop Connection turns off animations by default.
(See 'Show animations in Windows' in the Settings app).

[2020-05-28 01:01] dpaulino commented on #2457
That's fascinating. I'll try to test that as well when I get back to my desktop.

[2020-05-28 03:41] MuziburRahman commented on #2555
How the questions will be taken, leaving a comment here or in the youtube chat?

[2020-05-28 04:09] hatharry commented on #2472
I'm trying to use ANGLE.WindowsStore and SwapChainPanel in WinUI 3, this is the function I'm using:

public EGLSurface CreateSurface(SwapChainPanel panel)
        {
            if (panel == null)
            {
                throw new ArgumentNullException("SwapChainPanel parameter is invalid");
            }

            EGLSurface surface = EGL_NO_SURFACE;

            int[] surfaceAttributes =

[2020-05-28 04:22] hatharry opened #2558 "WinUI 3 Preview 1, ANGLE.WindowsStore and SwapChainPanel"
I'm trying to use ANGLE.WindowsStore and SwapChainPanel in WinUI 3, this is the function I'm using:

public EGLSurface CreateSurface(SwapChainPanel panel)
{
if (panel == null)
{
throw new ArgumentNullException("SwapChainPanel parameter is invalid");
}
EGLSurface surface = EGL_NO_SURFACE;
int[] surfaceAttributes =
{
EGL_ANGLE_SURFACE_RENDER_TO_BACK_BUFFER, EGL_TRUE,
EGL_NONE
};
PropertySet surfaceC

[2020-05-28 08:28] hansmbakker commented on #2548
Done, please see https://github.com/microsoft/ProjectReunion/issues/54

[2020-05-28 08:28] #2548 closed

[2020-05-28 09:03] smourier commented on #2500
@stevenbrix  - About PublishSingleFile, you already asked above, and I believe I already answered. Will this include all the ~300 dll (and also non binary files) that I have today aside my WinUI 3 .exe?

A single .exe can be produced differently than using static lib. Anyway, I'm not looking strictly for a single .exe, I'm looking for a "decent" way of deploying an unpackaged app. Today it's almos

[2020-05-28 09:55] FrayxRulez commented on #2540
I truly think that First/LastVisibleIndex or some equivalent API should be exposed directly by ItemsRepeater as it is basically no op for it to expose them.

[2020-05-28 11:50] electronic-dk commented on #2555
Can we expect more first party apps from Microsoft based on WinUI 3? Be it new apps or updates of existing ones.

Cheers, thank you for all your work!

[2020-05-28 12:13] andreinitescu commented on #888
Is this something really on the roadmap or was just an assumption?

Just maybe abstracting it in a way which would make it possible for a third party to make it work on Android or iOS would be huge. I am sure the community can do this. I'd definitely contribute to it.

[2020-05-28 13:14] ranjeshj commented on #2540
Got it. WinUI3 will fix the downlevel issue, but unfortunately we have to live with it for now. Can you file an issue for the scrolling perf with effective viewport so we can track that in the backlog ?

[2020-05-28 13:22] ranjeshj commented on #2500
We need the dependent binaries somewhere. I think we are talking about these options.
1. Loose files next to the exe
2. In the exe itself using PublishSingeFile
3. As a framework package installed through the store (or some installer), and the app takes a dependency on the package.

@smourier, are you asking if there is some 'installer' option for unpackaged apps similar to msi ?

[2020-05-28 13:24] stevenbrix commented on #2500
Sorry, yeah `PublishSingleFile` will create a single .exe file without all the .dll's next to it. See this blog post for more on that https://www.hanselman.com/blog/MakingATinyNETCore30EntirelySelfcontainedSingleExecutable.aspx

[2020-05-28 13:37] ranjeshj commented on #2417
There is no new API here... so no API review :)

[2020-05-28 13:46] ranjeshj commented on #2553
@stmoy RadioButtons does not have ScrollViewer in its template. I believe we are seeing the ScrollViewer from the app. VerticalScrollbarVisibility can be set to hidden.

https://github.com/microsoft/Xaml-Controls-Gallery/blob/b68f65f64be67eff7c139149a3f7181b2cb5ac59/XamlControlsGallery/ControlPages/RadioButtonPage.xaml#L49

[2020-05-28 13:48] smourier commented on #2500
@stevenbrix - ok, so, making sure I understand, it means I will have a 170MB or so for a "hello world" app (with say, 1% of it taken by the hello world code)?

@ranjeshj - Maybe, I mean some support file that I don't have to ship with my binaries (bootstrapper, msi, runtime, nuget, winget, call it the way you want, possibly on the internet) and that will "just work" when I run my app.

It's not on

[2020-05-28 13:52] ranjeshj commented on #2500
@marb2000 @MikeHillberg @Austin-Lamb as FYI

[2020-05-28 13:55] ranjeshj commented on #2516
@llongley @kmahone can you take a look ?

[2020-05-28 13:59] ranjeshj commented on #2455
Still missing symbols. @RBrid can you help investigate this issue ?

[2020-05-28 14:27] ranjeshj commented on #2011
@JesseCol any ideas ?

[2020-05-28 14:39] ranjeshj commented on #2527
Hmm.. I'm not seeing the crash with the repro app with mouse wheel scroll or touch scroll. Does it crash immediately or take a while of usage ?

[2020-05-28 14:46] stevenbrix commented on #2500
If you use `PublishTrimmed` it will reduce a Hello World app from around 70MB to 28MB, and the WARP tool can take it down to 13MB. Definitely not ideal, and if the benefits of this deployment model don't outweigh the costs of the slight size increase of your app, then we can discuss something else.

I definitely sympathize with you. There are 2 major buckets that are causing slow compilations time

[2020-05-28 14:46] Sergio0694 commented on #2527
Huh, that's weird. Yeah it's pretty much instantaneous for me, I can repro this 100% of the time both in my app and in the repro project I shared. You're on Windows 10 19041 too, correct?

![2u4ovqDuyY](https://user-images.githubusercontent.com/10199417/83156352-9af55f80-a102-11ea-950c-4632fd3b2220.gif)

@kikisaints Have you had a chance to try the repro to see if it crashes on your PC too?

[2020-05-28 15:19] smourier commented on #2500
@stevenbrix  - well the other techs are really the legacy ones : Winforms, WPF, or plain/old Win32/desktop development. They're all very fast to compile, very easy to copy ("deploy") and run. But they are legacy.

For example, today, I can use the Microsoft.Windows.SDK.Contracts nuget with an "old" .NET Framework 4.8, C# 7. From there I can use Windows.UI.Composition which is a dual API, so is all

[2020-05-28 15:59] BorzillaR opened #2559 "Window.SetTitleBar method is missed in WinUI/Uwp"
Can`t find a [Window.Current.SetTitleBar](https://docs.microsoft.com/ru-ru/uwp/api/windows.ui.xaml.window.settitlebar?view=winrt-19041) method on migrating my project from Uwp to WinUI/Uwp. Was it renamed?

[2020-05-28 16:04] stevenbrix commented on #2500
Thanks @smourier, that really helped connect the dots. I now better understand the type of model that you are looking for.

So as @weltkante mentioned, this does exist today with .NET5 (at least in some form). If you try to run an app and the runtime isn't installed, you'll get a popup notifying you to go and install it with a link that you can click. It does require the user to have admin privile

[2020-05-28 16:36] Felix-Dev commented on #2543
@ibonhub The PR just got merged, the link is working again.

[2020-05-28 17:01] kmahone commented on #2516
I'll take a look.

[2020-05-28 17:14] anawishnoff commented on #2555
@MuziburRahman You can do either 😊

[2020-05-28 17:45] MuziburRahman commented on #2555
Is there any limitation for Win2D in Win32 apps using WinUI ? If so, is there any plan to bring it to win32? Direct2D is already available for win32 apps AFAIK.

[2020-05-28 17:48] MuziburRahman commented on #2555
Is there any plan for an API to generate PDF?  ( #672 )

[2020-05-28 18:09] codendone commented on #2544
This is a "windowed popup" bug.  If the ComboBox Flyout could be set to ShouldConstraintToRootBounds="true", then the problem wouldn't repro.  The other mode doesn't expect and handle extra scales which may be applied to any ancestor elements.

[2020-05-28 18:14] michael-hawker commented on #2555
🦙 There's an issue on the Win2D repo tracking WinUI support [here](https://github.com/microsoft/Win2D/issues/707).

[2020-05-28 18:23] smourier commented on #2500
@stevenbrix - I'm not sure yet :-) , the preview does not demonstrate these aspects. I understand the "cross platform" benefit, but I don't really want to pay for its probable burden if I'm only targeting (more than 1 billion?) Windows boxes. And AFAIK, from a high level, this "bundle" could also be just there, already installed, in the Windows case.

For example, UWP is very attractive (modern UI

[2020-05-28 18:28] Plegin commented on #2544
Thanks for the reply.  Can I expect this new behaviour to be corrected?

[2020-05-28 19:16] michael-hawker commented on #2527
This crashed for me right away as soon as I grabbed the scrollbar and dragged down on 19041.

[2020-05-28 19:35] ThE-TiGeR commented on #1780
I updated to VS2019 16.6.0 and SDK 10.0.19041.0, it still has this issue with the App Certification Kit 10.0.19041.0

[2020-05-28 19:51] mdtauk commented on #2559
It is not present at the moment, part of the limitations of the preview.

[2020-05-28 20:06] StephenLPeters commented on #2527
Removing needs-winui-3 because I suspect this is a swipe issue and could maybe be fixed before winui3

[2020-05-28 20:14] Sergio0694 commented on #2527
Hey @StephenLPeters - that's amazing!
So glad to hear that, thank you for looking into this! 😊

[2020-05-28 20:19] Felix-Dev commented on #2527
Crash does not happen on 18363.836 with 18362 SDK.

[2020-05-28 20:25] Sergio0694 commented on #2527
Thanks @Felix-Dev!
It really looks like this crash is only happening starting from Windows 10 19041 🤔

[2020-05-28 20:42] StephenLPeters opened #2560 "Narrator reading wrong index for Hierarchical Navigation items."
Navigate to any navigation view item in the XCG and notice that narrator reads "n of n" instead of "i of n".  You can also see this behavior in the MuxControlsTestApp on the "Hierarchical NavigationView DataBinding Test" page when selecting "Menu Item 17"

ported from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26617531)

[2020-05-28 20:43] StephenLPeters commented on #2560
@ranjeshj This seems bad to me, I think it is a candidate for cherry picking.

[2020-05-28 20:45] kmahone commented on #2516
@ChristopheLav I was able to reproduce the problem. I don't fully understand the root cause of the problem, but there is a work-around that I was able to apply. Adding a RevealBrush to a xaml file in the UnitTestProject is sufficient to fix the metadata problem. For example, in UnitTestApp.xaml:
[code]
Can you try out that work-around and see if that unblocks you?

It's a pretty arbitrary and magi

[2020-05-28 20:51] StephenLPeters opened #2561 "TreeView's MultiSelect check box is not distinguised from backplate while selected and in HighContrast."
Ported from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26499498).

Fixing this will require some minor design guidance to decide what colors to change.
![CheckBoxNoBorder](https://user-images.githubusercontent.com/7758786/83192348-3dedaf80-a0ea-11ea-9a50-fde7b94b6074.png)
![HC White Mode](https://user-images.githubusercontent.com/7758786/83192366-4514bd80-a0ea-11ea-95e6

[2020-05-28 20:52] StephenLPeters commented on #2561
@chigy for FYI

[2020-05-28 20:52] Ticomware commented on #2360
![Screenshot (9)](https://user-images.githubusercontent.com/16692240/83192063-ddf70900-a0e9-11ea-8821-40a04a7c2cf6.png)

Still broken on the latest Insider Fast Ring build.

[2020-05-28 20:55] StephenLPeters opened #2562 "ListView loses SelectedItem when the item is moved in ItemsSource"
Ported from internal [issue](https://microsoft.visualstudio.com/OS/_queries/query/b10a6c6c-8692-4d8e-8f7f-c978e523e904/).

**Describe the bug**
ListView loses SelectedItem when the item is moved in ItemsSource

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Create a ListView with ItemsSource binded to an ObservableCollection.
Select 1st item in list.
Call ObservableCollection.Mov

[2020-05-28 22:07] stmoy commented on #2424
Yes, this would be good to document. I'll take a look at this.

[2020-05-28 22:30] marb2000 commented on #2500
@smourier Thanks for your feedback and open this necessary discussion.

You have a very fair point about the WinUI deployment in Desktop apps just doing an Xcopy (no using packaging/deployment mechanism like MSIX, MSI, or ClickOnce).

The current footprints for C++ and .NET are approx.:
- .NET: 270 files
- C++: 60 files

I believe there are rooms for improvement for these footprints.

For instance

[2020-05-28 22:31] ChristopheLav commented on #2516
@kmahone I confirm your temporary workaround is working. Thank you so much for your help! 👍

[2020-05-28 22:40] MarissaMatt commented on #2445
@karenbtlai and @mdtauk the padding should be applied equally to all sides of the blue fill and should not change the background track. The MinHeight value can change the background track size.

[2020-05-28 23:19] zezba9000 commented on #888
@andreinitescu **Sorry for the rant and complaints but just my thoughts from what I understand:** While I'll use WinUI 3 to replace WPF for Windows / Win32 only stuff... Because WinUI on Windows uses a Windows only rendering API and not an agnostic one, WinUI seems to be relying off 3rd parties to re-implement / fragment (ugg) WinUI on other platforms (like the UNO proj, which is cool but it like

[2020-05-28 23:27] mqudsi opened #2564 "Question: is there no API exposed to manipulate the WinUIDesktopWin32WindowClass window size?"
For a C#/Win32 project using XAML Islands to host WinUI 3, there does not seem to be any API that I can find for interacting with the parent window? e.g. without manually obtaining the hWnd and using the native api, it seems that you have access to the "fake" CoreWindow but no access to the actual top-level Window.

For example, with ApplicationView.SetPreferredMinSize and ApplicationView.TryResiz

[2020-05-28 23:30] stmoy commented on #2454
Thank you for the update. Closing this issue since it was `CommandBar` related.

I believe the difference in behavior is because the TabView uses different Theme brushes for light and dark theme; the dark theme brush is slightly lighter to help increase the contrast between the selected tab and the background.

[2020-05-28 23:30] #2454 closed

[2020-05-28 23:33] mdtauk commented on #2564
There is a Window element, but with Win32 it links to the HWND, and with UWP it links to the CoreWindow.

The future direction and capabilities of Windowing is an ongoing topic, and Win32 enables you to go into the HWND, but UWP doesn't allow this.

[2020-05-28 23:34] mqudsi commented on #2564
Is there an abstraction over the two to set the window size?

[2020-05-28 23:35] mqudsi opened #2565 "SvgImageSource never renders"
**Describe the bug**

In a WinUI 3 preview 1 desktop application, an `<Image source="Foo.svg" />` never draws correctly and instead renders a grey box.

**Steps to reproduce the bug**

Add an svg as an asset to the spares package named "/Assets/image.svg"

Create an `Image` element in the XAML:

[code]

I believe the problem is that it only attempts to set the client render size once at startup wh

[2020-05-28 23:44] mdtauk commented on #2564
This is the spec as it is being developed AFAICT
https://github.com/microsoft/microsoft-ui-xaml-specs/blob/Win32/active/Win32/Window_and_Application_API_Spec.md

[2020-05-28 23:48] mqudsi commented on #2564
Thanks. I see it has this

I guess I should open an issue there? Because without additional APIs to support the Win32 case, there's a disparity in how much control the two different window modes give the application/developer (and ironically, uwp is giving more control than win32 in this case).

Then again, the entire `ApplicationView` class is not under the purview of WinUI (it still lives under

[2020-05-28 23:48] myokeeh commented on #2500
Does "Hosted App Model" help here? Can that concept be applied here to have the "just works" effect? https://blogs.windows.com/windowsdeveloper/2020/03/19/hosted-app-model or is this too round about/missing the point?

[2020-05-29 00:14] shaheedmalik commented on #2555
Is there an update on faux acrylic?

[2020-05-29 02:02] Poopooracoocoo opened #2567 "overscroll gets stuck when you move your cursor quickly (touchpad)"
**Describe the bug**

overscroll can get stuck when you move your cursor quickly (touchpad)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open something you can scroll. Let's go with the start menu
2. Scroll down a little bit using your touchpad (by moving your fingers up w/ default settings)
3. Scroll up (by moving your fingers down w/ default settings) and let go then quic

[2020-05-29 04:01] michael-hawker commented on #1494
I definitely feel like it'd be useful to split this into multiple scoped issues. There's a lot of great problems pointed out here, but I feel like this is hard to act on as an all-up sink.

I just realized that I [can't style an Icon/IconSource](https://stackoverflow.com/questions/41116779/fonticons-style-override-by-local-properties), when I get the `FontIconSource` from the developer's XAML it's

[2020-05-29 04:14] michael-hawker opened #2568 "IconSources don't respect Style values"
I just realized that I [can't style an Icon/IconSource](https://stackoverflow.com/questions/41116779/fonticons-style-override-by-local-properties), when I get the `FontIconSource` from the developer's XAML it's fixed at `20` for `FontSize`, any amount of style I have in my template is ignored and won't inherit or override that FontSize value, even if I call `ClearValue` on the FontIcon, as that ju

[2020-05-29 05:58] zenjia commented on #2028
Hi, I've just created two UWP projects(one with Winui, another is native UWP) , copied the code and run the test. The perf results of the two are almost the same -- about 300x faster than Winui/Desktop,  but still 10x slower than WPF! Does anything changed when Winui was decoupled from UWP code? Maybe we can find some clue by looking into the original UWP code.

[2020-05-29 06:02] Tlaster commented on #2500
Just happy to see WinUI 3 for Win32 to be self-contained without packaging. Current UWP app does look fancy and beautiful but not every UWP apps is suitable for store publishing, and side-loading UWP app is difficult and painful for most of the end-user.

[2020-05-29 07:23] smourier commented on #2500
@myokeeh - Thanks for pointing that article that I hadn't seen. It's a bit like the reverse of a runtime way. Well, that's another brick that could be used maybe, something like a universal "WinUI Host". Why not if it has all the benefit we want (fast compilation, xcopy deployment, etc.).

[2020-05-29 08:26] smourier commented on #2500
@marb2000 - thanks for the clarification about self-contained.

As a Windows developer, what I would expect is just use Win32 (or WinRT) and use WinUI 3 without any dependency.

If you look at the picture here: https://docs.microsoft.com/en-us/windows/uwp/composition/visual-layer, I can use all 3 layers with zero dependency, C# or C++ or any language that likes Windows (using a combination of Win3

[2020-05-29 10:26] quinmars commented on #2458
I really like your open source spirit. I had a similar issue with WPF a few years ago. But I would never have thought of reporting this. I would not have even known where. And here it was solved in less than two weeks. Thank you very much!

[2020-05-29 12:00] terrycox commented on #2555
The Windows.UI.Xaml namespaces are defined in the WinRT API, and Microsoft.UI.Xaml namespaces must be explicitly declared in Xaml and code-behind to access them. For example, if I use Preview 1 to create a WinUI in UWP app, App.xaml's Application and ResourceDIctionary classes are from the Windows namespaces, as are Page, StackPanel and Button in MainPage.xaml. If WinUI namespaces are to replace t

[2020-05-29 12:13] mdtauk commented on #2555
I assume the source for all those will move to Microsoft.UI.Xaml before launch

[2020-05-29 13:13] FrayxRulez opened #2570 "Question: Windows N features detection?"
Hello, this is probably the wrong repository, but I don't know where to ask.
I'm trying to make my app compatible with Windows N as there `Windows.Media` namespace is (mostly?) unavailable if users don't install the "Media Feature Pack" optional feature from system preferences.
Now, I guess that I could simply try-catch `new MediaPlayer()` and store a flag somewhere but I wonder if there's any bet

[2020-05-29 14:05] avakhrushev opened #2571 "AddWebAllowedObject dictates project structure, unusable"
**Describe the bug**
AddWebAllowedObject API is allowed to impose requirements on the project structure, unusable unless abided
See [https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.addweballowedobject#remarks](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.addweballowedobject#remarks)
the "must be imported from a Windows Runtime component" part.

[2020-05-29 16:39] mgoertz-msft commented on #673
FYI, Xamarin Forms went ahead with this open proposal and checked it in: https://github.com/xamarin/Xamarin.Forms/issues/7302 😕

[2020-05-29 17:55] RBrid commented on #2457
I created PR https://github.com/microsoft/Xaml-Controls-Gallery/pull/457 for the Xaml Controls Gallery repo.

A few details:
The Content of the dropped TabViewItem is being reparented while it is still parented by a CListViewItem : CContentControl.

Some of the stack trace:
[code]

Without animations, the old listview item container gets put into the recycling pool early enough that it is picked u

[2020-05-29 18:24] stmoy commented on #2457
Thanks @RBrid! A few questions:

- I thought @chingucoding identified that this was a regression? It sounds like this is a fundamental issue with ListView though, so I wouldn't expect it to be a regression. Any ideas about this disconnect? Is it not actually a regression?

- I'm worried about the app-developer experience here. Since the TabView has both the tab strip and the page content, using a

[2020-05-29 18:32] shaheedmalik commented on #2457
I tested this on my system as well running the Store Version of XAML and it crashes.
OS Build 19631.1

[2020-05-29 18:35] RBrid commented on #2457
This does not appear to be a regression. The TabView started to use an ItemsStackPanel in its inner ListView thus the ModernCollectionBasePanel involvement in the stack above. We did not run into this old bug before the TabView used a ModernCollectionBasePanel virtualizing panel.

[2020-05-29 18:39] stmoy commented on #2457
Hmm, so it sounds like the change to use ModernCollectionBasePanel introduced the issue? What was it using before? Should we revert?

[2020-05-29 18:42] sylveon opened #2572 "Access violation in auto generated x:Bind code"
**Describe the bug**
The auto generated `x:Bind` code triggers an access violation.

Additionally, both `TemplateBinding` and `Binding` seems to fail here... `TemplateBinding` says "Setter does not have a value" (despite that being entirely false) and `Binding` says "The parameter is incorrect"

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Clone and run https://github.com/syl

[2020-05-29 18:53] chingucoding commented on #2457
The problem is that, if we don't use the ItemsStackPanel, the items don't render properly (at least it did when I tried).

[2020-05-29 18:55] RBrid commented on #2457
Before the TabView used a regular StackPanel. I have been experimenting with a ListView alone and as I said it repros there too. With a StackPanel, I am seeing this report in VS when re-ordering items data-bound to a UIElement:

"Exception thrown: 'System.Runtime.InteropServices.COMException' in MUXControlsTestApp.exe
WinRT information: Element is already the child of another element."

But the ap

[2020-05-29 18:59] ajbennet commented on #2360
Thanks Ticomware for proposing that workaround, I d recommend using that workaround to get unblocked. I got some clarity on when this fix will reach Insiders Fast ring and its going to be in late June, unfortunately.

[2020-05-29 19:00] RBrid commented on #2457
FYI, the animations
<Setter Property="ItemContainerTransitions">
            <Setter.Value>
                <TransitionCollection>
                    <AddDeleteThemeTransition />
                    <ContentThemeTransition />
                    <ReorderThemeTransition />
                    <EntranceThemeTransition IsStaggeringEnabled="False" />
                </TransitionCollection>

[2020-05-29 19:01] PaulaScholz commented on #2360
I solved the issue by moving my development to Win 10 v1909 where the issue does not appear.

[2020-05-29 19:23] michael-hawker commented on #2457
@stmoy [the Toolkit version uses StackPanel](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/TabView/TabView.xaml#L144) and not ItemsStackPanel, so that's probably how we've avoided this issue.

[2020-05-29 19:28] michael-hawker commented on #2571
🦙 @adambarlow has the `AddRemoteObject` for WebView2 been added yet to play with? Do we know if it'll have the same restriction or will be more flexible as WebView2 targets .NET as well for Win32 apps?

[2020-05-29 19:32] sylveon commented on #2572
I stepped through the code yesterday, and it seems the issue is this:
![](https://cdn.discordapp.com/attachments/580484470877061120/715810908776955964/unknown.png)

- `Connect` with id 6 acquires a reference to the `ColorAnimation` that has its property bound to a value
- `Connect` with id 2 updates all values, assuming all other connections where done prior and all references are valid

For some

[2020-05-29 19:42] matthew4850 opened #2573 "x:Bind inside a ResourceDictionary but outside a DataTemplate does not work"
**Describe the bug**
If you have a ResourceDictionary with a code-behind and you try to x:Bind one element to the property of another but are not inside a data template it will generate a bad g.cs file that does not compile. It seems to assume the ResourceDictionary is a FrameworkElement as it uses the Loading property.

**Steps to reproduce the bug**
Create a ResourceDictionary with a code-behind

[2020-05-29 19:43] #2059 closed

[2020-05-29 20:26] stmoy commented on #2457
Gotcha, thanks all. @RBrid, it sounds like this scenario is broken with either a `StackPanel` or an `ItemsStackPanel`. No good!

Since neither panel works, it seems like we'll need to do two things:
1. Update the sample
1. Update the guidance

I'm still not sure how to do Step 2. What will we recommend people do? I see three options to update the guidance:
1. Either: Don't put UIElements in the Ta

[2020-05-29 20:27] SavoySchuler commented on #1925
Just assigned myself so that I can take a look at this.

[2020-05-29 20:34] michael-hawker commented on #2457
@stmoy @rbrid, that's an interesting note about the item losing content. I seem to remember someone mentioning an issue with TabView in the Toolkit and datacontext disappearing. I don't seem to be able to find an issue for it though, and I don't remember if it as related to drag and drop, but if so that could have been the underlying issue there as well.

[2020-05-29 20:40] RBrid commented on #2457
I am currently looking into [Issue #2455](https://github.com/microsoft/microsoft-ui-xaml/issues/2455) - it may be related. The scenario is a bit different because there the TabItemsSource is an observable collection of TabViewItem, as opposed to an observable collection of data objects.

[2020-05-29 20:52] RBrid commented on #2455
A few observations:
- the bug does not repro when turning off OS animations. Same as for Issue #2457.
- the fix described in https://github.com/microsoft/Xaml-Controls-Gallery/pull/457 fixes this bug too. That is removing the inner ListView ItemContainerTransitions' AddDeleteThemeTransition/ContentThemeTransition animations.

[2020-05-29 20:58] sylveon commented on #2572
Some more updates:
- This happens in C# as well, both x:Bind and TemplateBinding
- Binding decided to work in C# and C++ now because ???

[2020-05-29 21:06] sylveon commented on #2572
Even more updates:
- Binding was working because I forgot I had changed the `Setter` for the `Normal` visual state...
- If I revert that change in C# and C++ UWP projects it still works, however my XAML Islands project crashes when doing that

[2020-05-29 21:26] mqudsi opened #2574 "Question: How to use WinUI 3 XAML islands in an unpackaged WPF project?"
A .NET Core WPF project uses `<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">` with `<UseWpf>true</UseWpf>` , but that conflicts with the application definition that is added by including `<PackageReference Include="Microsoft.WinUI" Version="3.0.0-preview1.200515.3" />`

Is there a way to use the WinUI 3 package to host XAML islands in a WPF .NET Core app (i.e. with the WindowsDesktop SDK)?

[2020-05-29 21:43] alwu-msft commented on #2572
Yeah, they're deferred, but I would expect Connect() to be called when the transition is undeferred. Although I wonder if the undeferred ColorAnimation is then being immediately thrown away, rather than remaining undeferred... I'm not familiar with what VSM is doing under the covers so I don't know the answer off the top of my head.

[2020-05-29 22:03] RBrid commented on #2455
BTW, stacktrace for when the Content gets set to null:
[code]

[2020-05-29 22:13] chingucoding commented on #2385
Left this comment on the PR to depricate it in WCT, leaving this here too for clarity:

The WinUI brush uses the [CompositionRadialGradientBrush](https://docs.microsoft.com/en-us/uwp/api/windows.ui.composition.compositionradialgradientbrush?view=winrt-19041) which does not expose this property (or anything comparable). Maybe somebody else knows more about this, but I don't think that the current i

[2020-05-29 22:14] michael-hawker commented on #2568
It's odd too that these two scenarios produce different results because of this:

![image](https://user-images.githubusercontent.com/24302614/83309697-d35a7380-a1be-11ea-9306-e0dd2c55786d.png)

[code]

So even those these both end up as `SymbolIcon` the one coming from an IconSource doesn't respect the `FontSize` of the ContentPrenter.

![image](https://user-images.githubusercontent.com/24302614/8

[2020-05-29 22:17] michael-hawker commented on #2385
Thanks @chingucoding, I didn't realize it didn't eventually map down to the Win2D one. I guess this may be a WinUI 3 based ask then, as that brush should come along there too, eh?

[2020-05-29 22:23] chingucoding commented on #2385
Yes with WinUI 3 it probably would be possible to reach full feature parity. Also the limitation of 1803+ and the fallback are gone too with WinUI 3!

[2020-05-29 22:35] #1215 closed

[2020-05-29 22:35] #538 closed

[2020-05-30 01:33] maxkatz6 commented on #2570
I also would like to have ability to inform user about missing functionality in application, if Media Feature Pack is not installed.

[2020-05-30 06:03] zhuxb711 opened #2575 "When TreeViewNode.Children and IsExpanded change, HasUnrealizedChildren would not change"
**Describe the bug**

When the number in TreeViewNode.Children is not 0 and IsExpand = true, HasUnrealizedChildren will not automatically become false.

When the number in TreeViewNode.Children is 0 and IsExpand = false, HasUnrealizedChildren will not automatically become true.

#### This violates HasUnrealizedChilren's explanation: "Gets or sets a value that indicates whether the current node has

[2020-05-30 06:11] zhuxb711 commented on #2040
@YuliKl
@ranjeshj
Regarding this issue, is there any solution available?

[2020-05-30 07:27] Urmeli0815 commented on #2500
It may be worth to look at what the Edge-Chromium team does with the WebView2 distribution model. See https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#microsoft-edge-webview2-runtime

When I replace "WebView2" with "WinUI" and "Edge browser" with "WinUI-Runtime" it is almost the description of a perfect distribution model for me:
1. have the option to use/reference a

[2020-05-30 08:13] BenJKuhn commented on #2186
there was some good discussion about this. Generally speaking apps should be saving state that they need to during suspend, and the close event was designed for a fairly narrow use case. Not waking the app is a key component. Once suspend fires, the system assumes it can close the app without require the resources or time to wake the app again. What's being requested breaks that model. The current

[2020-05-30 12:14] DwainSnickles opened #2576 "Cant Install visx on VS 2019"
5/30/2020 6:04:23 AM - Microsoft VSIX Installer
5/30/2020 6:04:23 AM - -------------------------------------------
5/30/2020 6:04:23 AM - vsixinstaller.exe version:
5/30/2020 6:04:23 AM - 16.6.2051
5/30/2020 6:04:23 AM - -------------------------------------------
5/30/2020 6:04:23 AM - Command line parameters:
5/30/2020 6:04:23 AM - C:\Program Files (x86)\Microsoft Visual Studio\Installer\resourc

[2020-05-30 12:17] DwainSnickles commented on #2576
I think its because of my version according to supported products I have
Version 16.5.5

[2020-05-30 12:17] #2576 closed

[2020-05-30 13:18] terrycox commented on #2555
What I'm thinking is that as long as the Windows.UI.Xaml namespaces are in the API instead of the Microsoft.UI.Xaml namespaces, you'll have to manually declare them, such as by adding xmlns:mux="using:Microsoft.UI.Xaml" and   xmlns:muxc="using:Microsoft.UI.Xaml.Controls" statements to xaml files and then prefixing each control, for example, '<muxc:StackPanel' or '<mux.Style'.
Failing to do so will

[2020-05-30 13:50] terrycox commented on #2535
It's a UWP app, and it's attempting to update rather than create a new one from the new templates. Editing the .csproj file worked.
My primary question was why things went from a NuGet package for the Alpha to your unlisted package for the Preview. Seems regressive.

[2020-05-30 16:33] chingucoding commented on #2575
I am not sure if this is necessary since in that case, I would assume that HasUnrealizedChildren does not serve much purpose.

Automatically setting HasUnrealizedChildren to true when a node has no children and is not expanded would break a lot of applications. The idea behind `HasUnrealizedChildren` is that you can indicate that a node has children without actually having to render them.

This al

[2020-05-30 18:11] carmineos commented on #2575
Somehow related to https://github.com/microsoft/microsoft-ui-xaml/issues/2338 ?

[2020-05-30 19:58] chingucoding commented on #2575
Yes this touches the same API, but I think the proper fix for #2338 would be to have the GlyphOpacity to be 1 if HasUnrealizedChildren is true, and not setting the HasUnrealizedChildren flag in some cases without the developers consent.

[2020-05-31 02:20] zhuxb711 commented on #2303
I also encountered the same problem, whether it is setting the IsSelected property of the TreeViewItem or directly setting the SelextedNode property, there is a certain probability that fast fail.

This problem is extremely serious because the exceptions it triggers cannot be caught, and often cause the program to flash back directly

[2020-05-31 08:58] cirrusone commented on #2555
Will we be able to develop using Rust and WinUI? Any ideas on timescales and what that might look like, eg within VS/VS Code etc?

[2020-05-31 10:44] FrayxRulez commented on #2531
Here's the follow up ticket: https://github.com/microsoft/dotnet/issues/1210

[2020-05-31 12:49] ivanicin opened #2577 "Proposal: ComboBox should have the selected item template"
# Proposal: ComboBox should have the selected item template

## Summary
Currently when the CombBox is collapsed it shows the selected item using its ItemTemplate that is the same as the one for the dropdown. This needs to be customized.

## Rationale

* This is already available on other operating systems (e.g. Android - SpinnerAdapter)
* This UI is frequently used in applications - e.g. in font p

[2020-05-31 12:50] mobiletonster commented on #1780
I'm seeing the same issue with my WACK

![image](https://user-images.githubusercontent.com/3613397/83352739-fc881a80-a30a-11ea-8ba3-c542ab306811.png)

[2020-05-31 17:05] paulovila commented on #931
It's also useful for a simple scenario such as using ```x:Bind``` within the ```ListBox.ItemTemplate```.
where ```DataTemplate.DataType``` is generic. One should be able to declare the generic type and its parameters, with whatever syntax you guys decide, but then, within the template it should be possible to use ```x:Bind``` syntax in order to bind to the properties of the type.

[2020-05-31 19:42] KirillPom opened #2578 "No intellisense support in xaml editor"
![image](https://user-images.githubusercontent.com/65759581/83361217-cd67bc80-a38f-11ea-8dd7-600984aea2df.png)

There is no intellisense support in xaml editor.
Not showing any controls.

I created just blank C# winui app (packaged)

[2020-05-31 20:59] jonwis commented on #2186
Since this is more about platform functionality please do transfer it to https://github.com/microsoft/ProjectReunion/issues and we'll track it there.  I agree with @BenJKuhn , however, in that UWPs should save-suspend-terminate when prompted to do so.  Maybe there's something Project Reunion could do to help simplify save-and-restore-state behavior while we think about how to expand the windowing

[2020-06-01 00:21] jshanzeng commented on #716
I'm on windows version 1809 (build 17763.1217) and I seem to be getting a similar error only when trying to launch the Alexa app.

This is from Event Viewer:

Faulting application name: Alexa.exe, version: 1.0.0.0, time stamp: 0x5ebafaf8
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.17763.1217, time stamp: 0x2df2c0ae
Exception code: 0xc000027b
Fault offset: 0x0000000000701f82
Faulting p

[2020-06-01 08:55] KirillPom opened #2579 "App size is huge"
Created blank C# WinUI3 app (packaged)
After compilation app size in 127 mb and package size is 250+ Mb.
I compare it to simple WPF app size of 2-3 Mb.

Why so large size of app and package? How to lower it to 1,2,3 Mb?

[2020-06-01 09:36] FrayxRulez opened #2580 "EffectiveViewportChanged performance disruption"
**Describe the bug**
Hooking `EffectiveViewportChanged` to a `ItemsRepeater` children will cause the scrolling to lag in a distruptive way, even when the `ItemTemplate` only contains a `Grid`

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a ItemsRepeater to your view
2. Hook `EffectiveViewportChanged` to its `ItemTemplate` root
3. Try to scroll the list

**Expected behavi

[2020-06-01 09:38] FrayxRulez commented on #2578
You might want to take a look at the release notes before opening issues: https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#preview-1-limitations-and-known-issues

[2020-06-01 09:43] KirillPom commented on #2578
Sorry, but "Intellisense is incomplete" doesn`t mean to me "Intellisense not working at all"

[2020-06-01 14:37] niels9001 commented on #2536
I guess it would.. it would be nice to have this consistent, for usecases where only 1 control is used.

But yes, I could live with a forms control to solve this issue :)!

[2020-06-01 14:41] niels9001 commented on #82
Love this proposal!

One small comment: how would we deal with inconsistent spacing between controls?

**Example**
![image](https://user-images.githubusercontent.com/9866362/83420182-8bd62080-a426-11ea-9b21-e97e83cb8d33.png)

In this example, all input controls (ToggleSwitch / NumberBox / ToggleSwitch) have the same Margin: 0, 12, 0, 0.

As you can see this results in a consistency, as a ToggleSwi

[2020-06-01 15:15] DualBrain commented on #2497
@marb2000 I'm going to ask the question from a different direction...

Instead of asking when it will be supported, I'm going to (instead) ask what will it take to get it supported?

"Thanks. Actually, we should update the roadmap instead. Unfortunately, supporting VB.NET won't happen for 2020." -- marb2000

I would have been patient and take the wait-and-see approach with the above statement.  I

[2020-06-01 15:46] dmnmsc opened #2581 "Focus is on the list rather than on the menu when right clicking links"
Right click a link and try to navigate through menu with arrow keys: will move the list instead of menu.

Right click a message and try to navigate through menu with arrow keys: will work as expected.

![YVDRn7S1Qg](https://user-images.githubusercontent.com/8472142/83425858-98f70d80-a42e-11ea-9322-fed1ccdf51c0.gif)

Expected behavior:
Right clicking links working as right clicking messages.

Devic

[2020-06-01 16:26] ocdtrekkie commented on #2497
To echo @DualBrain here... if Microsoft isn't interested in putting the man-hours in on VB support, make it clear how we can contribute VB support. If someone comes up with, for example, a project template to support VB and some project stack, how do we get it into Visual Studio (since that's obviously not on GitHub). If Microsoft enables the points for the VB community to add support to things, M

[2020-06-01 16:34] Sergio0694 commented on #2545
Possibly related to this, I have another app that is exhibiting a similar behavior:

- Works perfectly fine in Debug
- Crashes at startup with .NET Native **only** on Windows 10 19041

![image](https://user-images.githubusercontent.com/10199417/83430412-f3479c80-a435-11ea-9323-76dcc0c77807.png)

Together with Legere and the Windows Community Toolkit ( @michael-hawker is that still the case), this

[2020-06-01 16:40] michael-hawker commented on #2545
🦙 FYI @TomMcDon

[2020-06-01 17:11] MattWhilden commented on #2545
@Sergio0694 ILCRepros are still quite helpful for app crashes. Being able to rebuild the package and run it lets us help test theories and fixes for runtime issues. 😊

[2020-06-01 17:15] joseartrivera opened #2582 "NavigationView causes startup time increase by ~40ms when updating from WinUI 2.0"
**Describe the bug**
NavigationView causes startup time increase by ~40ms when updating from WinUI 2.0

**Steps to reproduce the bug**
1. Clone the [Windows Calculator repo](https://github.com/microsoft/Calculator)
2. Build Calculator based on Commit [5dcfdd4](https://github.com/microsoft/calculator/commit/5dcfdd4ae020ba90bdd4796953e11e22a91977e2) to measure performance with WinUI 2.0
3. Build Cal

[2020-06-01 17:37] Sergio0694 commented on #2545
@MattWhilden Ah, awesome then! 😄
Will prepare one (or two) and send them to you guys then (`dotnetnative@microsoft.com`).

[2020-06-01 18:31] alvinashcraft commented on #2555
Does the Llama have any tips for building the WCT on the branch for preview 1? I'll admit, I haven't tried very hard yet. I pulled the code down, made sure the right workloads were installed in VS, and pulled the packages. I have a bunch of errors but not handy. I'll gather them up for tomorrow.

[2020-06-01 19:05] stevenbrix commented on #2500
@tlaster could you file an issue in https://github.com/microsoft/ProjectReunion repo detailing the trouble you are having?

[2020-06-01 19:48] tipa opened #2583 "XamlParseException on RS4 & RS5"
**Describe the bug**
App crashes on some users machines, crash reports coming from AppCenter:

One device running 10.0.17134
`Windows.UI.Xaml.Markup.XamlParseException: The text associated with this error code could not be found. Cannot locate resource from 'ms-appx://Microsoft.UI.Xaml.2.4/Microsoft.UI.Xaml/Themes/rs4_themeresources.xaml [Line: 0 Position: 0]
`

Another one running 10.0.1776:
`Win

[2020-06-01 20:08] StephenLPeters commented on #2583
@tipa can you confirm that you followed the getting started steps here: https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started and are still seeing the issue? if so can you please attach a repro app so we can take a look at the specific issue?

[2020-06-01 20:10] StephenLPeters commented on #2582
@bartekk8 you might have insight into how to track down this issue?

[2020-06-01 20:11] StephenLPeters commented on #2582
@ojhad and @ranjeshj for FYI

[2020-06-01 20:13] tipa commented on #2583
Yes I followed that guide. I can only see this crash being reported for 2 devices (out of a reported install base of currently ~2.000) so I don't know how this issue could be easily reproduced on one of our machines.
I am using the library in a UWP app if that helps...

[2020-06-01 20:14] StephenLPeters commented on #2581
Flyout from text has the correct behavior, flyout from the link should match

[2020-06-01 20:16] StephenLPeters commented on #2580
@ranjeshj for FYI. I'm not sure if this is on repeaters side or the EffectiveViewPortChanged API

[2020-06-01 20:18] StephenLPeters commented on #2579
@KirillPom is this app size issue specific to the preview1 version of Winui3 or were you noticing it with other Winui apps as well?

[2020-06-01 20:18] StephenLPeters commented on #2579
@MikeHillberg @Austin-Lamb for FYI

[2020-06-01 20:20] StephenLPeters commented on #2578
This is a known issue with preview1.

[2020-06-01 20:26] StephenLPeters commented on #2577
I think Selected is not quite the right word here. I think the proposal is to add a style which is used while the combo box's flyout is not open.  (an item is selected event when the flyout is open and I don't think you would want this new style to be applied in that case). I'm going to change the title assuming I'm right here, but feel free to comment if you disagree.

[2020-06-01 20:28] StephenLPeters commented on #2577
@kikisaints could you pass this to the right owner if that is not you?

[2020-06-01 20:30] StephenLPeters commented on #2574
@MikeHillberg and @JesseCol for FYI

[2020-06-01 21:54] Pinox commented on #2555
Feeling slightly confused here with WinUI3.0 and .Net 5 versus the current UWP model.

It seems that MS is recommending developers to use Winui3.0 with .NET 5 or that it is the future of desktop development for Windows.  If I do that and I would luv todo that because I think WinUI3.0 / .NET 5 will be multiple times more performant than running a UWP app in the sandbox what happens then to the cros

[2020-06-01 22:10] michael-hawker commented on #2555
@alvinashcraft did you follow the steps [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3295)? The WCT preview only works for WinUI 3 Desktop apps currently. If you're still having trouble, feel free to add a comment with your environment/error details to our issue over on the Toolkit repo. Thanks!

[2020-06-01 22:27] stevenbrix commented on #2555
@terrycox to answer your question, we will be switching to using Nuget delivered metadata for the Windows SDK that doesn't contain the `Windows.UI.Xaml` types.

However, even today you shouldn't need to define the namespaces like that, the default namespaces should now include `Microsoft.UI.Xaml`. Can you share your repro project?

[2020-06-02 01:52] mdtauk commented on #2577
CurrentItem?

ChosenItem?

[2020-06-02 01:56] gabbybilka commented on #913
Hello again! As an update on this I've recently re-pitched this proposal to the team and received the go ahead to further define this feature.

For the scenarios outlined previously, we're looking to move forward with creating a control currently titled the **InformationBar** (InfoBar for short) to represent long-lived, app-wide, essential status messages. The initial visual design thinking is ins

[2020-06-02 02:21] mdtauk commented on #913
The control should be designed to work well with templates and styling - so it can be moulded to fit the needs whilst all the behaviours are properties of the control.
Animate or Don't Animate.
Show Close Button or Hide it.
Position.
Show Icon or not.

etc

[2020-06-02 02:25] shaheedmalik commented on #913
It's great it going forward. Those visual style as shown it  your leave a lot of the be desired to the point I wouldn't want to use the app.

Designs that @mdtauk posted or the Cortana screenshots above would be way more preferable. The designs of apps need to go forward not be held back by programs.

[2020-06-02 02:53] michael-hawker commented on #913
Would/could this also act as a dismissible CommandBar like those used while presenting/desktop sharing? E.g.

![Presenting Bar](https://www.techmd.com/wp-content/uploads/2019/02/04-Stop-Presenting.png)

I know it wouldn't support the overlay over everything, but in terms of fixing it's width and putting it in an overlay layer of an app, I could see the overlap in design/functionality being similar

[2020-06-02 02:59] mqudsi commented on #2574
If you use the four separate projects approach with a regular UWP app hosting `XamlApplication`, the instantiation of the UWP app in `Program.cs` is rejected because `IXamlMetadataProvider` is now provided by WinUI, and there's no way to reference it without adding WinUI 3 to the WPF Core project (which again is not allowed).

It might be necessary to move `IXamlMetadataProvider` to a different as

[2020-06-02 05:22] marb2000 commented on #2497
First, thank you, @ocdtrekkie , @DualBrain , @SimonJonesFF, and others, for your feedback, enthusiasm about VB, and being open to collaborate in WinUI 3.

We are planning to make open-source WinUI 3 this summer so that you will be able to grab the code and compile it. We will also accept Pull Requests, so we will love to take PRs from the Visual Basic community.

Although I don't think the VB comm

[2020-06-02 08:44] huoyaoyuan commented on #2579
You should be comparing with .NET Framework or .NET Core framework dependent application. See https://docs.microsoft.com/en-us/dotnet/core/deploying/ .

Currently the default template creates a self-contained application. It's not related to WinUI.

Total size of WinUI introduced files are about 32MB.

If there is a mechanism to share WinUI components system-wide. This is opposite to the goal of e

[2020-06-02 08:50] KirillPom commented on #2579
@huoyaoyuan . Thank you.
But the question is - do you really need 127Mb of binaries just to show simple window with one button.
![image](https://user-images.githubusercontent.com/65759581/83500274-3867df00-a4c7-11ea-96e6-d05855fa303c.png)

[2020-06-02 09:38] huoyaoyuan commented on #2579
Then the topic comes to that how to delete unused code.

For .NET side, there is [trimming tool](https://docs.microsoft.com/en-us/dotnet/core/deploying/trim-self-contained), but still imperfect for UI applications.

Currently the SDK cannot analyze *what you need*. It can only grab everything *what they support* now.

I'd expect the successor of .NET native to trim across managed and native bounda

[2020-06-02 09:57] Alikont commented on #1247
We'd also like to see transparent borderless windows in WinUI

We want to:

1. Compose different windows of different processes on top of each other
2. Apply custom styling to windows

In [this picture](https://user-images.githubusercontent.com/2576513/83505289-3d7c5c80-a4ce-11ea-928d-04527cd6598c.png) you can see our product, which is a Windows 10 device with 3 running applications, 2 in yellow a

[2020-06-02 10:52] ivanicin commented on #2577
Considering the name scheme, I think the one on Android is a good one: View and DropDownView, which would translate into ItemTemplate and DropDownTemplate.

Though in this case UWP current default would be used for the collapsed item, so it is somewhat different than what title suggest but might be a good idea because it is intuitive wording. Other than that if drop down template is considered as

[2020-06-02 11:12] pajeroid commented on #716
I'm also getting this on a customers PC when they try and launch the Samsung Printer Experience app.

Faulting application name: PrinterApp.exe, version: 1.0.0.0, time stamp: 0x56ebdf42
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.18362.815, time stamp: 0x9fa806f2
Exception code: 0xc000027b
Fault offset: 0x0000000000713530
Faulting process ID: 0x41e0
Faulting application start time: 0x

[2020-06-02 14:07] stevenbrix commented on #2555
@Pinox we still very much believe in UWP. Kevin Gallo said if he were to create an app today he'd start with UWP. WinUI3 in Desktop is an ask from many customers who find that UWP doesn't meets their needs due to the restricted sandboxed environment that the apps run in.

This is precisely why we are still pushing UWP! WinUI in Desktop apps won't run on XBOX since they are desktop only.

I totally

[2020-06-02 14:17] alvinashcraft commented on #2555
Thanks, @michael-hawker. I'll give it another go this weekend. I've got a chapter dedicated to WCT in my Learn WinUI 3 book. I'll be writing the first draft of that chapter in a couple of weeks, so based on what's currently there, I will probably need to focus on WCT with WinUI 3 + Desktop apps to include some sample code.

[2020-06-02 14:19] jschroedl commented on #2555
What milestone could we expect to be able to create more than one top-level window with WinUI content from Win32?

[2020-06-02 14:21] jschroedl commented on #2555
Will there be a sample demonstrating how to combine WinUI with Direct2D?

[2020-06-02 14:23] alvinashcraft commented on #2555
Do you plan to update the [roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) soon? Do you know when you will know which features will make it to the go-live Preview 4 release this fall?

[2020-06-02 15:31] ijsankar commented on #2555
@Pinox winget doesn't host any packages it is only a frontend. But the store does. winget enables users to install an app from a source  using scripts for easy deployment . It also allows installation of UWP applications. So it never creates a problem with 10x or sandbox. Windows store or msix offers a clean packaging but not a sandbox. It is the UWP model offering the sandbox.

[2020-06-02 16:45] terrycox commented on #2555
You can see the namespace issue by simply using the Preview 1 UWP template, building the project, and browsing it's files. Assuming Intellisense is reporting correctly, they are all in  Windows.UI.Xaml namespaces.

[2020-06-02 17:20] ad1Dima opened #2585 "Proposal: Update Pivot selection indicator animation"
# Proposal: Pivot selection indicator should use same animation as NavigationView

## Summary
NavigationView has nice fluent animation. Pivot looks very similar, but has poor animation.

## Rationale
* Bring fluent to Pivot control
* Design consistency

[2020-06-02 17:36] vsfeedback opened #2586 "XAML generator error when DataTemplate is in ResourceDictionary"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1057560/xaml-generator-error-when-datatemplate-is-in-resou.html)._

---
There are no errors when when the very same DataTemplate resides in the page XAML file.

---
### Original Comments

#### Visual Studio Feedback System on 6/1/2020, 00:48 AM:

<p>We have directed your fe

[2020-06-02 18:05] chingucoding opened #2587 "Proposal: Provide an additional TabView "skin" that is based on the WCT TabView"
# Proposal: Provide an additional TabView "skin" that is based on the WCT look

## Summary

A lot of people coming from the Windows Community Toolkit TabView prefer the look of the WCT TabView compared to the WinUI TabView. To make the switch to the WinUI TabView easier, we should have a WinUI TabView style which is based on the look of the WCT TabView.

## Rationale

Since the WCT TabView is depr

[2020-06-02 18:07] chrisglein commented on #2538
Markdown has certainly surged in relevance over the past years, and having a good solution for mapping markdown to XAML elements does seem like a more common scenario. But I'm not sure why it's a problem keeping it in the Community Toolkit. The toolkit is open source, and it sounds like you've had some conversation about support level there. Can you link back to that conversation?

[2020-06-02 18:09] mc0re commented on #2586
I'm pretty sure I also posted a screen shot of the problem...

[2020-06-02 18:30] chingucoding opened #2588 "Animate TabView tab resizing"
This is a tracking/follow up issue for #2569 .
When the pointer leaves, we should animate the width change instead of having the items jump to their new width.

Context:

![gif](https://user-images.githubusercontent.com/16122379/83306756-76cd7780-a203-11ea-8724-a68f617a8c31.gif)

![gif](https://user-images.githubusercontent.com/16122379/83307001-f2c7bf80-a203-11ea-9d06-35de199957ea.gif)

[2020-06-02 18:49] ranjeshj commented on #2586
@mc0re unfortunately there isn't enough information in this issue to make it actionable. can you provide a repro or more details ?

[2020-06-02 18:54] Pinox commented on #2555
@stevenbrix thanks for your reply.   I think my impression comes from the fact that WinUI3.0 / NET 5 already works and UWP with .NET 5 is a work in progress with no definitive preview date except that it  will launch with .NET 5.

For me the best scenario will be to use the most performant channel for desktop apps on windows 10 and I think it is safe to say that it will **not be UWP sandboxed apps

[2020-06-02 19:20] shaheedmalik commented on #2588
Good job with the previous changes. Yep, it should animate.

[2020-06-02 19:25] shaheedmalik commented on #2585
As much as I would like it updated, Pivots are in maintenance only mode. I don't even think they work properly for swipe anymore.

[2020-06-02 19:29] mc0re commented on #2586
Please find the provided screen shot in the ticket mentioned above,

[2020-06-02 19:30] stevenbrix commented on #2555
@terrycox I think I see what's going on. The Xaml intellisense is hardcoded to use `Windows.UI.Xaml` for UWP projects. This is a known issue, and we plan on addressing it by Preview4.

Here are some screenshots to show you what I'm seeing.

Xaml Intellisense (which is incorrect):
![image](https://user-images.githubusercontent.com/9649518/83561434-b4185a80-a4cc-11ea-9789-587a421cc17b.png)

C# Intel

[2020-06-02 19:37] NGame1 commented on #2538
@chrisglein Hi there and thanks for your reply.
No I didn't have any conversation there, Because this issue is present in versions that no longer supported by Toolkit so I didn't reported there at all!
I checked this issue is not present at least on V6.0 and I finally got able to add it manually to my project without any issues, I just forgot to add the default style to app.xaml.
Anyhow, I think i

[2020-06-02 19:45] stevenbrix commented on #2555
@Pinox as I understand things, the single .NET Maui project structure doesn't change the platform targets or runtime behavior, it's just a simplification in development.

Are you saying you want to write a single app that will run in the `AppContainer` on XBOX/10X/HoloLens, but when on Desktop not run in the `AppContainer`?

[2020-06-02 20:00] ad1Dima commented on #2585
It works )

[2020-06-02 20:01] shaheedmalik commented on #2585
Not in Movies & TV.

[2020-06-02 20:04] ad1Dima commented on #2585
Not sure if it is pivot there.

In Xaml Controls Gallery Pivot is working

[2020-06-02 20:08] StephenLPeters commented on #2588
I'm not sure that we have the tools to do this easily with list view.

[2020-06-02 20:09] StephenLPeters commented on #2587
@chingucoding could you provide pictures as well?

[2020-06-02 20:10] StephenLPeters commented on #2586
I'm sorry, I don't see any screenshots in the attached link. could you put the screenshot in this github issue?

[2020-06-02 20:16] StephenLPeters commented on #2585
@shaheedmalik is right, we currently are not investing in pivot very much.  Tabview and top Navigation view are more modern controls we would like used instead. We understand that pivot has some functionality and sytle that is not covered by these.  If you have a scenario that you think requires pivot, we'd be interested to understand it in its entirety.

[2020-06-02 20:21] StephenLPeters commented on #2583
Are the 2 devices the only ones that are on RS4/RS5? Are there users on RS4/5 that aren't hitting this crash?

[2020-06-02 20:23] StephenLPeters commented on #2571
@codendone FYI

[2020-06-02 20:24] StephenLPeters commented on #2570
@MikeHillberg and @jonwis for FYI

[2020-06-02 20:32] StephenLPeters commented on #2567
@Poopooracoocoo We are having trouble reproducing this issue, if you could provide a recording of your repro that might be helpful for us. You can record your screen using Gamebar (invoked by windows key + G) or powerpoint.  Also, what version of Windows are you running on?

[2020-06-02 20:34] jingkecn commented on #798
My colleague got the this exact issue, any idea?

[2020-06-02 20:49] chingucoding commented on #2587
Sure thing @StephenLPeters, I've updated the issue to include gifs and pictures showing both versions.

[2020-06-02 20:59] under3415 opened #2589 "Proposal: Add navigation cancel to Navigation View events"
# Proposal: Add navigation cancel to Navigation View events

## Summary
In UWP page navigation OnNavigatingFrom event, developer can cancel navigation using NavigatingCancelEventArgs parameter.

Add similar functionality to NavigationView's SelectionChanged and/or ItemInvoked events.
This is useful in scenarios such as form validation.

Currently, if I make a call to NavView_Navigate method condit

[2020-06-02 21:00] under3415 commented on #2589
This is discussed on SO: https://stackoverflow.com/questions/62111803/how-to-cancel-navigation-on-validation-in-uwp-xaml-navigationview-control

[2020-06-02 21:32] terrycox commented on #2555
Ah. Thanks.On Jun 2, 2020 3:30 PM, Steve Kirbach <notifications@github.com> wrote:

You can see the namespace issue by simply using the Preview 1 UWP template, building the project, and browsing it's files. Assuming Intellisense is reporting correctly, they are all in Windows.UI.Xaml namespaces.

@terrycox I think I see what's going on. The Xaml intellisense is hardcoded to use Windows.UI.Xaml for

[2020-06-02 21:59] anawishnoff commented on #2540
Thanks for filing this, this issue seems more focused on First/LastVisibleIndex properties for ItemsRepeater, so I'd like to track the work here.

@FrayxRulez Do you mind if I edit your proposal above to reflect some more specifics about this proposal?

[2020-06-02 22:08] michael-hawker commented on #1286
To clarify, I've seen similar issue with "child node 3" and "child node 9", I think they're all related to the same root issue.

[2020-06-02 23:12] matthew4850 opened #2590 "Proposal: Allow hosting of UWP apps inside UWP apps"
# Proposal: Allow hosting of uwp apps inside uwp apps

## Summary
It would be awesome to be able to host a uwp app insider of another one.
This would be similar to what both My People and Xbox game bar do.

## Rationale
I am one of the developers of Quarrel which is an unofficial uwp discord client.
The developer of MyTube (an unofficial UWP YouTube client) kindly provided us with a dll that conta

[2020-06-02 23:54] michael-hawker commented on #2590
This is almost a more scoped version of a request around app extensions.

I mean if we just had C# Roslyn code generation supported in the sandbox, then we could leverage `XamlReader` and that to do something similar today...

[2020-06-03 00:01] codendone commented on #2320
Thanks for the bug report.  This appears to be a Composition issue, which we've opened a bug for ([internal link](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/26630020)).  Likely when that gets fixed it will also be fixed for WinUI 3.

[2020-06-03 00:04] jonwis commented on #2570
Can you transfer this to http://github.com/microsoft/ProjectReunion ? This is a general question I'm sure we can help you figure out.  Thanks!

[2020-06-03 00:08] Scottj1s commented on #2047
@dotMorten, et al - thanks for the feedback. We've reviewed the switch from double to float properties on Rect, Point, and Size. While it makes the projection technically "correct", it creates too much impedance with other double properties and variables, and it creates major compatibility issues. So we've decided to revert the change.

[2020-06-03 00:41] matthew4850 commented on #2590
This is different from app extensions as this should allow you to host a whole uwp app that is activated with `ActivationKind::Protocol` with a custom scheme name.
This should also be done from compiled code not from source, this can be done already as Xbox game bar does it, I just want that ability for all developers xD

[2020-06-03 01:48] michael-hawker commented on #2555
@alvinashcraft awesome, if you run into any issues, let us know on that linked issue in the Toolkit repo. Always happy to help!

[2020-06-03 02:53] codendone commented on #716
@jshanzeng and @pajeroid: Both of your crashes show Exception code: 0xc000027b, which means this is a [stowed exception crash](https://channel9.msdn.com/Shows/Inside/C000027B?term=stowed%20exception&lang-en=true).  There unfortunately isn't enough information in the text you provided to see the cause of a stowed exception crash.  (The "Report ID" _could_ be enough information, but it looks like Wi

[2020-06-03 03:01] ranjeshj commented on #2560
Agree. @ojhad one more your way.

[2020-06-03 03:04] ranjeshj commented on #2527
@StephenLPeters @michael-hawker If you can repro this, can you share the native callstack for the crash ?

[2020-06-03 03:38] ranjeshj commented on #2566
Yes. This was designed to behave this way. I'm not a huge fan of the overlapping either. The question is should scrollbars take layout space. Currently it does not. If it took layout space and the view is not scrollable, we would still end up taking that extra space which would look weird. @RBrid as FYI since we are talking about scrollbars.

[2020-06-03 03:39] ranjeshj commented on #2564
@marb2000 as FYI

[2020-06-03 03:48] Poopooracoocoo commented on #2567
@StephenLPeters idk if a screen recording will be very useful but ok. and wow. gamebar and powerpoint are what y'all recommend? i used sharex for this one:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/51363864/83593696-b9df7000-a5a0-11ea-9e19-bdef5fff8e56.gif)

I usually encounter this in the start menu but it happens in any UWP/XAML/WinUI (I don't really know the differenc

[2020-06-03 03:53] Poopooracoocoo commented on #2566
@ranjeshj honestly hate "conscious scrollbars". they don't even shrink upon overscroll either (which i've filed an issue for). super annoying after using apple devices for a while. the old edge and ie do it too.

what does that even mean? if something cannot be scrolled, why is there a scrollbar??

[2020-06-03 03:55] ranjeshj commented on #2457
Can you see if removing ReorderThemeTransition from the transition collection avoids the crash ? If that works, perhaps that is a more palatable workaround since the crash is in the OS XAML code and we cannot fix that until winui3 at the earliest.

[2020-06-03 04:10] mdtauk commented on #2587
You say Skin, do you mean bundling a **Style** for the control in the WinUI toolkit that, when applied, will give it the WCT/Legacy Edge look?

Or do you see it as being a more fundamental property like TabVisual.WCT | TabVisual.Edge?

[2020-06-03 04:10] #2531 closed

[2020-06-03 04:16] ranjeshj commented on #1780
@jevansaks Looks like we are hitting this issue again. Can you loop in the SDK folks who can help ?

[2020-06-03 04:17] mdtauk commented on #2588
Items Repeater?

[2020-06-03 04:26] ranjeshj commented on #2582
@ojhad and @bartekk8 tracked this down to the point where we added top nav which increased the number of elements in each NavViewItem. x:Load/pruning the elements in each Item are some options.

[2020-06-03 04:31] ranjeshj commented on #2580
ItemsRepeater just consumes EffectiveViewport framework feature. This sounds more like a perf issue with having many elements hookup to the EffectiveViewportEvent. I'm curious if we are doing extra transforms for each hookup as opposed to caching the viewport at the common parent.

[2020-06-03 04:32] Scottj1s opened #2591 "WinUI 3 VSIX project templates cause Properties dialog to not display"
VS 16.7 preview 2, created several simple projects from WinUI 3 preview VSIX templates. Right-clicking on the app’s csproj project node causes the project context menu to appear. But selecting Properties, nothing happens - no dialog.

Issue was originally opened in VS feedback, but they determined this is due to the WinUI VSIX:
[Project context menu does not launch Properties dialog](https://devel

[2020-06-03 05:07] ranjeshj commented on #2590
The title makes me think "UWP Inception" :)

Could the entire app be built as a custom control to achieve something like this ? That way we could leverage all the control library features for sharing/tooling etc ?  I suppose that needs extra work on the app side as opposed to just embedding the app wholesale though.

[2020-06-03 05:12] ranjeshj commented on #2588
@mdtauk Yes, ItemsRepeater can help with animations here and that is being tracked by a relatively large work item.

[2020-06-03 05:20] ranjeshj commented on #2587
I would expect this be a named style as opposed to an API on TabView. @chigy Is there a precedent/pattern for providing multiple styles for the same control ?

[2020-06-03 05:32] ranjeshj commented on #2566
Lets say that if the view is not scrollable then no scrollbar will be shown and the content takes up all the space. Now some content is added (or you expanded something) which makes is scrollable. Now we have to show a scrollbar and we want it to take layout space (not overlap), so we have to run layout and move things around to make space for that scrollbar.
The way I was thinking of avoiding tha

[2020-06-03 05:35] ranjeshj commented on #2567
@RBrid any thoughts ?

[2020-06-03 05:47] Poopooracoocoo commented on #2566
what happened before "conscious scrollbars"? Did scrollbars always take the layout space, even when not shown?

[2020-06-03 05:57] tipa commented on #2583
There are other RS4 and RS5 devices running my app but it only crashes on those 2 specific ones

[2020-06-03 07:00] Pinox commented on #2555
@stevenbrix  yes , the simplification in development is what I am referring to.

this is .net maui

![mauiu](https://user-images.githubusercontent.com/5297255/83605676-9bfe1500-a578-11ea-87ed-1ac13ea5c4ce.png)

this is what i am proposing :

![Uploading Winui3.0.png…]()

[2020-06-03 07:02] mdtauk commented on #2587
There is the AccentButton Style, as well as an Icon Button and Text Button

[2020-06-03 07:19] Felix-Dev commented on #2344
@stmoy Your thoughts on this?

[2020-06-03 09:08] chingucoding commented on #2587
Yes the idea is to provide a separate style for the WinUI TabView (as shown in the small example API snippet).

[2020-06-03 09:12] chingucoding commented on #2590
Would this allow apps to host apps that host apps that host app ... ?

How would/could this impact performance (which is one of the selling points of UWP)? Could we end up in the situation where UWP apps end up just like NPM modules, where we host an app for everything resulting in dozen dependencies?

[2020-06-03 09:41] chingucoding commented on #2521
I can't seem to repro this on my machine with your linked repro project:

![gif](https://user-images.githubusercontent.com/16122379/83621100-8693e580-a58e-11ea-9121-b5c638b9a895.gif)

Changing the size of the app e.g. maximizing or making the app smaller also doesn't change the behavior, the arrow navigation still works as expected.

[2020-06-03 10:24] chingucoding commented on #2303
This might be an issue with tracker ref:

![image](https://user-images.githubusercontent.com/16122379/83625887-edb49880-a594-11ea-9df6-21771cc0d6fe.png)

@ranjeshj  Would you like me to look into this? We might be getting into a bad state somewhere in the process of setting selection under certain circumstances.

@michael-hawker Can you try to create a minimal repro project or is this something th

[2020-06-03 10:38] zhuxb711 commented on #2303
@chingucoding
There is a hint that if the SelectedNode is set to null before assignment, the probability of such a crash will be greatly reduced (only the conclusion of the observation, may be incorrect, only for reference)

[2020-06-03 12:17] chingucoding commented on #2303
Thank you @zhuxb711 for the tip! This behavior would fit in with the theory that the reference is in a bad state, since setting the SelectedNode to null before that would likely get rid of the reference.

[2020-06-03 14:13] ranjeshj commented on #2583
If this crash is happening in just a handful of RS4/RS5 machines it makes me think there is some issue with the package installation. @kmahone was investigating a similar issue in our build/test pipelines where once in while a machine would end up in a weird state in down-level operating systems.

[2020-06-03 14:30] stonapse64 commented on #1494
@verelpode: Just by chance I discovered that a negative margin enables scaling to some extend. See you're code snippet below with this "hack"...

<Button Margin="20">
	<StackPanel Orientation="Vertical">
		<IconSourceElement Width="64" Height="64" Margin="**-24**">
			<IconSourceElement.IconSource>
				<SymbolIconSource Symbol="Refresh"/>
			</IconSourceElement.IconSource>
		</IconSourceElement>

[2020-06-03 14:43] Scottj1s commented on #2047
@benstevens48 - thanks for the reminder.  I'll also make the backing fields public for these structs.  Clearly, this is a special case that warrants bending the usual rules of data hiding, etc.

[2020-06-03 14:47] benstevens48 commented on #2047
@Scottj1s - can you consider exposing the backing fields via a property getter/setter that conforms to C# naming conventions?

[2020-06-03 14:59] binsys commented on #2024
Most of WinUI's technology comes from Sliverlight, and Sliverlight has actually achieved cross-platform. So WinUI cross-platform depends on strategy, not technology.

[2020-06-03 15:31] stevenbrix commented on #2047
@benstevens48 what exactly are you trying to accomplish? Is this for use with WinUI, or are you trying to use these types outside of WinUI?

[2020-06-03 15:45] Scottj1s commented on #2047
@benstevens48 - can you provide a specific example, say for Point?  Is this for binding purposes?

[2020-06-03 15:56] grokys commented on #1422
This actually isn't limited to situations where the cache length is set to 0, it can affect other layouts too.

The problem is demonstrated by the following trace log:

[code]

What happens is that `FlowLayoutAlgorithm` sets the origin of the anchor element at 0,0:

https://github.com/microsoft/microsoft-ui-xaml/blob/3e335559df87217eba0eddcab8d7ab5bbf218030/dev/Repeater/FlowLayoutAlgorithm.cpp#L11

[2020-06-03 16:07] grokys commented on #1422
Another question: is there any point in generating all of the items to fill the viewport when a scroll request is about to be received?

It feels like, when the anchor has to be realized, it should be sufficient to _only_ realize the anchor because we don't know ahead of time where the anchor will appear in the viewport after scrolling, i.e. when scrolling down currently the following happens:

-

[2020-06-03 16:09] benstevens48 commented on #2047
Actually, maybe it is better just to have the double properties exposed.

My main concern is that it should be clearly documented that the actual stored precision in single. This should include the docs you get on itellisense hover over the field, because sometimes that's all I use. I want to prevent other from making the same mistake I did of using these structures for GPS coordinates and the oth

[2020-06-03 16:22] RBrid commented on #2457
As you can see in my fix https://github.com/microsoft/Xaml-Controls-Gallery/pull/457, I am removing the AddDeleteThemeTransition/ContentThemeTransition animations.  Removing ReorderThemeTransition was the first thing I had tried and it did not help unfortunately.
Obviously replacing the tabViewItemsSourceSampleListView.ItemContainerTransitions collection with a new completely empty one also would

[2020-06-03 16:39] RBrid commented on #2567
@ranjeshj, no idea unfortunately. I think this would require a lengthy investigation.

[2020-06-03 17:13] Scottj1s commented on #2047
Changing the backing fields is a change to the ABI, with much greater ripples and compat issues, affecting other languages and component implementations that use those types.  Changing everything else (constructors, property accessors, methods, etc) only affects C# client code.

[2020-06-03 17:19] jtorjo commented on #2047
There are extension methods for that:

![image](https://user-images.githubusercontent.com/13891601/83667748-91269d00-a5d7-11ea-83b0-4676465075b7.png)

[2020-06-03 17:27] kmahone commented on #2583
The package itself must be getting installed, since M.U.X.dll is getting loaded (otherwise we wouldn't see this error).

For some reason, the process is failing to load resources from the package.

[2020-06-03 17:41] ranjeshj commented on #2583
Looking at the message again. Perhaps the app is failing somewhere and this is the message when trying to resolve some error text message ? If you happen to have a repro, can you enable native exceptions and get a callstack where it is thrown ?

[2020-06-03 17:42] matthew4850 commented on #2590
Nested hosting would be less useful so it's certainly not a requirement.
This would be optional so performance would really be dependant on how you use it but clearly the My People and Xbox game bar teams thought it was performant enough to use.

[2020-06-03 17:49] ranjeshj commented on #2561
We should add a black or white border matching the color of the check for the checkbox.

[2020-06-03 17:51] Poopooracoocoo commented on #2567
I'm pretty sure this has to do with scrolling stopping once you move your cursor (as I mentioned in the issue)

[2020-06-03 17:59] tipa commented on #2583
I cannot reproduce this locally on my machines unfortunately.
If it somehow helps, the app is available to download [in the Microsoft Store](https://www.microsoft.com/store/apps/9MV51B301WFD).
I can also now see 2 RS5 devices for which the app crashes (out  for a total 454 RS5 devices).

[2020-06-03 18:29] Qws commented on #2024
Honestly... it's actually so pathetic Microsoft is now trying to play catch up... they only care about "big" marketshare, they are not looking what their customers/product fans want.

Microsoft is the reason why DESKTOP APP development has shifted to the outdated WEB development, even when web is so horrible.

I'm sure every XAML dev agree that HTML/CSS is so garbage.

But still... HTML, CSS, DOM.

[2020-06-03 18:48] mdtauk commented on #2344
This should be worked into this proposal I think. #2587

[2020-06-03 19:04] matthew4850 commented on #2590
This is more in line with what I was thinking, it makes sense to require the hosted app supported being hosted and provide a specific page for that.

[2020-06-03 19:09] chingucoding commented on #2590
But if you try to host a page that already hosts content? E.g. I want to host a discord chat which uses a hosted youtube player?

[2020-06-03 19:21] grokys commented on #1422
My test case is when scrolling from index 0 to index 99999 so, the anchor definitely isn't in view ;)

That's what I was hoping the author(s) of the control could tell me. I can think of a few ways to make this work, but I'm not sure what the original author had in mind.

[2020-06-03 19:29] bkaankose commented on #2590
I don't think it's a useful feature by any means. It looks like a specific need for your app, but I can hardly imagine some other UWP app needing to be hosted in another one. This will bring confusion as well.

For example, what if I don't want my UWP app to be hosted in another app? Or let's say I want to, how can I restrict some apps or how am I supposed to allow some apps? I am not even talking

[2020-06-03 19:35] #1820 closed

[2020-06-03 19:35] #2463 closed

[2020-06-03 19:39] stmoy commented on #2587
I think it'd literally be a `Style`, similar to AccentButtonStyle.

[2020-06-03 19:41] marb2000 commented on #2564
In Preview 1 there is not an API that allows you to set the window size for Desktop. It's planned for future previews (TBD yet).

If you want to change the Window's size you can use Win32 APIs. For example using the SetWindowPos:

[code]
Then you can move it using the flag SWP_SHOWWINDOW

[code]
To get Window Handle you can you use the [IWindowNative](https://github.com/microsoft/WinUI-3-Demos/blo

[2020-06-03 19:42] stmoy commented on #2344
Depends. @Felix-Dev, is the motivation for this work to make the TabView look more like the one from Windows Community Toolkit? If so, agree that this should probably be bundled alongside #2587.

However, I think having more customizable light-weight styling keys seems like a righteous thing in general.

In terms of names, I'm conflicted about `TabViewSeparatorMargin`, as it really describes the h

[2020-06-03 19:48] matthew4850 commented on #2590
Sure it has some uses, and maybe this should be allowed, but the main focus would be non-nested hosting.

[2020-06-03 19:50] matthew4850 commented on #2590
Its a feature used by both My People and Xbox game bar so clearly it has some uses.
The idea is that this would be opt-in so it would not affect you if you did not wish to use it.

[2020-06-03 20:02] ranjeshj commented on #1422
Yes, but the anchor (99999) got placed at layout offset 0,0 so even thought it looks far away index wise, we laid it out within the existing viewport that the ScrollVeiwer is already showing. I was thinking from scrollviewer's point of view, that anchor is already in view.

Since layout is relative to the anchor, I think the anchor could be anywhere and 0,0 seemed like a reasonable point as any ot

[2020-06-03 20:07] bkaankose commented on #2590
I don't think it will work like that. I own AppA. You own AppB. I allow developers to host my app. Your AppB hosts my AppA. Then I update my app to host another UWP app called AppC. Or, I update it to host even your AppB. Suddenly your AppB hosts AppC inside my AppA, or there is a host-ception issue :) You can't rely on some other developer's app or published store app to just behave as it was in

[2020-06-03 20:09] marb2000 commented on #2590
Interesting. This scenario is more like an **App model scenario** rather than WinUI scenario.

Just thinking about the security implications here, it could take a tremendous amount of time to design it, if the security team doesn't block it, of course, but I think there are a lot of chances this happen.

 Adding @AdamBraden , who works in the app model, for awareness.

[2020-06-03 20:15] matthew4850 commented on #2590
This can be solved by just not allowing nested hosting, or maybe by requiring nested hosting be enabled for all apps in the hosting chain.

[2020-06-03 20:17] shaheedmalik commented on #2590
Better off just using hooks.

[2020-06-03 20:29] Felix-Dev commented on #2344
@stmoy The motivation for this proposal is to make styling the TabView (here: the TabViewItemSeparator) as easy as possible for developers without having to retemplate the control. This light-weight styling key *could* be used to create a TabView UI matching the Community Toolkit's TabView look but *it doesn't have to*. Developers/Designers can just pick any margin for the TabViewItemSeparator the

[2020-06-03 21:09] grokys commented on #1422
That doesn't seem to be quite how it works because measure coordinates are not the same as arrange coordinates.

My understanding of this is a bit fuzzy, but what seems to be happening is (with log excerpts to demonstrate):

## Measure

- Measure realizes the anchor at 0,0
- Measure calls `Generate` forwards and backwards, which manages to only generate one other item at 0,-63

[code]

- Measure s

[2020-06-03 21:11] StephenLPeters opened #2592 "Indeterminate check box state is not clearly identifiable in high contrast themes"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26425988?src=WorkItemMention&src-action=artifact_link).
Expected:
Indeterminate check box state should be as below in High contrast themes:
HC Black: Check box should be in 'Same as the disabled but change the green to blue.'
HC White: Check box should be in 'Same as the disabled but change the maroon to purple.'

A

[2020-06-03 21:18] StephenLPeters opened #2593 "Accent and toggle button high contrast improvements."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26425908?src=WorkItemMention&src-action=artifact_link)
Expected:
Accent Button (button that is accent colored as its rest state) should be as below in High contrast themes:
HC Black: Button text and the border should be in white color and the background should be in black color
HC White: Button text and the border s

[2020-06-03 21:23] StephenLPeters opened #2594 "MenuBar list items are not following high contrast in entire pane."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26330443?src=WorkItemMention&src-action=artifact_link).

**Pre-requisite: ​**
Turn on High Contrast Mode. (Keyboard Shortcut: Alt+Shift+PrintScreen).

**Repro steps :**
Launch XAML Controls Gallery.
Activate MenuBar from All Controls Page.
Navigate to File/Edit/Help ->Activate it and observe it in high contrast.

**

[2020-06-03 21:27] marb2000 opened #2595 "Proposal: Simplify the C# development experience when using classic COM interfaces needed for WinRT objects"
Some interfaces, like **IWindowNative, IInitializeWithWindow, IBufferByteAccess, or IDesktopWindowXamlSource**, are classic-COM interfaces requested to consume a few WinRT APIs from Win32.  For instance, the WinRT API File­Open­Picker looks for a Core­Window on the current thread to serve as the owner of the dialog. But when running in Win32 (WinUI 3 in Desktop), the APIs crash because there is no

[2020-06-03 21:29] StephenLPeters opened #2596 "XAML Controls Gallery : Open file/Save/Bold/Italic/Font Color buttons in RichEditBox high contrast improvements."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26097138?src=WorkItemMention&src-action=artifact_link).

**Pre-requisite: ​**
Turn on High Contrast Black Mode. (Keyboard Shortcut: Alt+Shift+PrintScreen).

**Repro steps :**
Launch XAML Controls Gallery.
Activate RichEditBox  from All Controls Page.
Go to the richeditbox present under the header "A Custom Editor Wi

[2020-06-03 21:34] StephenLPeters opened #2597 "Internally reported crash is list view."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/21623457?src=WorkItemMention&src-action=artifact_link).

[2020-06-03 22:32] Scottj1s commented on #2595
Definitely as a baseline, we should hand-roll these projections.  In addition, it's possible that a cswinrt project could use a source generator to 'reflect' on a developer's [ComImport] interfaces and attempt to project these.  At a minimum, the cswinrt generated As<>() helper and the new ICastableObject support could both assert that the target interface has a projection, and if not issue a help

[2020-06-03 23:25] StephenLPeters opened #2598 "XAML Controls Gallery : Narrator announces the state as collapsed for home, Settings button in Navigation View even though it's not applicable."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26617757?src=WorkItemMention&src-action=artifact_link).

**Pre-requisite:**
Install XAML CONTROLS Gallery from Store
Turn on Narrator.
Set narrator to item mode.

**Repro steps :**
Launch XAML Control Gallery app.
Activate "NavigationView" page from All Controls Page.
Navigate to "Hierarchical Navigation View ->Home

[2020-06-03 23:26] StephenLPeters commented on #2598
@ojhad for FYI

[2020-06-03 23:30] StephenLPeters opened #2599 "XAML Controls Gallery : Narrator does not announce about the state of "Account", Document options" upon activating the button in Navigation View."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26617896?src=WorkItemMention&src-action=artifact_link).

**Pre-requisite:**
Install XAML CONTROLS Gallery from Store
Turn on Narrator.
Set narrator to item mode.

**Repro steps :**
Launch XAML Control Gallery app.
Activate "NavigationView" page from All Controls Page.
Navigate to "Hierarchical Navigation View ->Acco

[2020-06-04 02:40] mdtauk commented on #2344
I was thinking more about how @chingucoding  would be able to apply a style to the TabView control, which would allow him to change the separator style between both Edge and Legacy Edge styles.

[2020-06-04 03:31] chinkan opened #2603 "NumberBox Font size not change the text inside the editor"
**Describe the bug**
I cannot change the font size of the NumberBox

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Add NumberBox to Page
2. Set the attribute FontSize to any size.

**Expected behavior**
The size of the UI and the number text will be change.

**Actual behavior**
Only the UI box changed and the number text nothing change.

**Screenshots**
![2020-06-04_112518](ht

[2020-06-04 05:39] michael-hawker commented on #1087
🦙 There should be a corresponding `ItemTemplate` called out here too. This should also apply to the `MenuBar` APIs.

It should also be possible to compose a menu of pieces that are static XAML and also parts driven by a list (think having a recent file list be part of a menu or sub-menu like in VS Code):

![image](https://user-images.githubusercontent.com/24302614/83718272-97257980-a5e9-11ea-8f98-

[2020-06-04 08:04] michael-hawker commented on #2555
@Pinox is there a MAUI issue somewhere where they talk about the Platforms tree?

I see things being more useful to be displayed underneath the file:

[code]

Clicking on the file itself would just take you to whatever current platform you have selected for debugging, but you could still drill-in to pull up the alternates (and they'd show up in search of course still).

[2020-06-04 08:12] grokys commented on #1422
The strange thing about this is that `MakeAnchor` calls `Algorithm_GetAnchorForTargetElement` which returns the correct offset for the item, but this value is ignored.

[2020-06-04 08:18] Pinox commented on #2555
@michael-hawker   agree , that will also be perfect.  Was just using the maui image , as I think uniformity is important in the .net ecosystem, but the important thing here is you are unifying UWP  + Winui3 Desktop. That and the fact that having most code in the same project will probably make things more efficient in Visual Studio , should increase performance and just make things generally way s

[2020-06-04 09:35] mdtauk commented on #2439
Is there any word on these icons?  Do they come with WinUI 3 or can they be added to WinUI 2.X?

[2020-06-04 12:40] ghost opened #2600 "Edit and Continue doesn't work when using DeviceFamily-Xbox folder"
Open a new solution.
Create a “DeviceFamily-Xbox” folder.
Copy your “MainPage.xaml” file in that folder.
Launch the app on Xbox One.
Try modifying something on the “MainPage.xaml” under “DeviceFamily-Xbox” folder.

Result: Edit and Continue cannot find elements to update.

[2020-06-04 12:58] antoniovecchio commented on #2600
Please resolve it ASAP, it's so frustrating!

[2020-06-04 15:10] sonnemaf opened #2601 "Proposal:"
# Proposal: ItemTemplate for a ResourceDictionary with a Code-behind

## Summary
I would love to have an option to add a ResourceDictionary with a Code behind. This would make defining DataTemplates with x:Bind much easier. Also usefull if you want event handlers in it.

![image](https://user-images.githubusercontent.com/9335559/83774359-e3be9280-a685-11ea-9765-01387bda43db.png)

I have already an

[2020-06-04 15:46] DaZiYuan opened #2602 "Does WinUI support multiple languages now ? It seems x:Uid doesn't work"
The same code works in UWP

[2020-06-04 19:24] chingucoding opened #2604 "Add button to test app that set's inner frame size to CI dimensions"
The CI pipeline renders the app in a certain size which is smaller than most devices. This results in some pages not working as expected because they work differently in the CI because of the different rendering sizes.

The exact value of the rendered innerframe in CI has to be determined, but as @kmahone mentioned, it is probably something around 1024x768 .

[2020-06-04 19:37] jonasnordlund commented on #717
I only have one comment as for the WinUI Roadmap. For being the native UI platform on Windows, I am surprised over the lack of consideration to have it actually be part of Windows 10 as well?

I've just tried the recent [WinUI 3 Preview 1 templates](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/get-started-winui3-for-desktop) for a C#/WinRT app, and the resulting Hello World app was a

[2020-06-04 19:54] chingucoding commented on #2603
Seems like we are just missing a template binding. Should be an easy issue to fix.

[2020-06-04 20:01] jonasnordlund commented on #1045
I just tried the new May 2020 templates for WinUI 3 Preview 1 for Desktop as I like this idea.

But I have one question. With WinUI to be the native UI platform on Windows, I am surprised over the lack of communication to have it actually be part of Windows 10 as well?

My resulting Hello World app was around 120 MB large. Sure, space is cheap, but I had no dependencies on my own here. Of this, Wi

[2020-06-04 20:02] StephenLPeters commented on #2604
Sounds like a good idea to me.

[2020-06-04 20:04] StephenLPeters commented on #2602
Could you please provide more information about what is not working for you? Is this specific to the Winui3 preview, or a particular version of winui 2?

[2020-06-04 20:07] StephenLPeters commented on #2600
Is this issue specific to a version of Winui or is it present in system xaml as well?

[2020-06-04 20:10] StephenLPeters commented on #2603
@MikeHillberg Does FontSize, FontFamily, etc. flow down the tree or do we need to explicitly template bind them?

[2020-06-04 20:11] StephenLPeters commented on #2599
@ojhad FYI

[2020-06-04 20:12] sylveon commented on #1045
@ryandemopoulos has said on Discord that WinUI will be delivered as a framework package, so apps using the Store or MSIX for distribution will not have to carry their own version of WinUI, as they will all share the same copy of it.

Making WinUI part of Windows itself would defeat the point of WinUI being decoupled from the OS.

[2020-06-04 20:12] StephenLPeters commented on #2596
@stmoy I think this could just be a XCG issue, not sure though.

[2020-06-04 20:19] StephenLPeters commented on #2593
The solution is to make the text White in light mode and black in dark mode so we can remove the test fallback highlight.

[2020-06-04 20:26] StephenLPeters commented on #2127
@ptorr-msft and @jvintzel pinging this thread.

[2020-06-04 20:45] chingucoding commented on #2596
Seems that we remove the border which is the only thing that changes for a normal buttons in HC on pointerover (the different colors specified in the resources apparently map to the same colors in the end).

So this is an issue with the XCG I think. Of course we could also think about updating the buttons to also change the background color on hover in high contrast (currently only the accentbutto

[2020-06-04 21:09] stmoy commented on #2596
+1, it seems like it could be a Gallery issue if this is the only place it's reported. I think those buttons have custom styling. Moving to XCG repo.

[2020-06-04 22:37] kmelmon opened #2606 "Proposal: Add better support for pointer input events on TextElement"
# Proposal:

[react-native] Add some method for allowing pointer input to be received by TextElement.

## Summary

In react-native, the Text component can be nested.  In this case the RNW code creates nested Spans.  Text can receive pointer events, but there's no equivalent in XAML for TextElement.  This makes it difficult to implement the feature.  For RNW, this could be solved a couple ways:
1.

[2020-06-04 23:50] ptorr-msft commented on #2127
John is OOF. Let me see if anyone else can help.

[2020-06-04 23:59] chigy commented on #2423
@ivanicin , I apologize for tardiness in response. Your comment just came as we were heads down for //Build prep, etc., vacation, and other project that took my time, I just had time to sit down to reproduce your issue.

_First_
I applied your code snippet and I am not seeing the issue. Maybe I'm doing something wrong. @ranjeshj FYI.

![image](https://user-images.githubusercontent.com/22958680/838

[2020-06-05 00:01] chingucoding opened #2607 "Crash using FlowLayout: Layout cycle detected"
**Describe the bug**

When scrolling an ItemsRepeater with FlowLayout, at some point it can randomly crash with an unhandled exception "Layout cycle detected.  Layout could not complete."

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open ItemsRepeaters page MUXControlsTestApp
2. Open "Flowlayout demo page"
3. Scroll up and down

**Expected behavior**

The app crashes with t

[2020-06-05 00:05] marb2000 commented on #2500
@smourier
_> If you look at the picture here: https://docs.microsoft.com/en-us/windows/uwp/composition/visual-layer, today, right now, I can use all 3 layers with zero dependency,_

You can do this because the framework is shipped within the OS. So, your app depends on the version of the OS. For example, the system XAML framework is on C:\Windows\System32\Windows.UI.Xaml.dll. **But WinUI is no par

[2020-06-05 00:14] ranjeshj commented on #2303
@kmahone can you help debug this issue ?

[2020-06-05 00:19] lmcdougald commented on #1045
"Reliably available and not in the size of the app" is the concern. I'd hope .NET 5 is distributed similarly.

[2020-06-05 00:35] marb2000 commented on #1045
@lmcdougald I invite you to open an issue at [.NET Core Installer](https://github.com/dotnet/installer/issues) and request .NET 5 use Framework Packaging for servicing as well.

[2020-06-05 00:38] marb2000 commented on #1045
@jonasnordlund there is another discussion #2500  where we are talking about the WinRT Runtime deployment. Perhaps you find some answer there. :)

[2020-06-05 01:07] lmcdougald commented on #1045
@marb2000 I've opened an issue, but I'm honestly baffled. Is this not seen as essential for any app that would deliver Windows 10X?

[2020-06-05 01:09] weitzhandler commented on #1045
Here's a compilation of some things, some of which are not directly WinUI, but are really lacking compared to features existing in web apps:

- Abstract client-side identity management API to be used from ViewModel
- Full data-annotations support, validations and UI titles, string lengths, required-attributes, read-only fields, watermarks etc. etc. etc.
- Improve OData so that it becomes a proper

[2020-06-05 01:45] DaZiYuan commented on #2602
Hi StephenLPeters,
I try to make app localizable with Winui3 preview but doesn't work.
the code in below picture works in UWP but not in Winui3 preview.
![image](https://user-images.githubusercontent.com/80653/83827438-f16d2a00-a710-11ea-86f5-0127de2ffcab.png)

[2020-06-05 01:48] lmcdougald commented on #2500
I'm confused how this thread got so out-of-hand. The author indicated that the primary weakness with "packaged apps" had to do with speed. It's conflation with UWP due to poor messaging.

WinUI 3 and .NET 5 with Framework Packaging, using a no-MSIX dev loop, should solve the entire problem. It even solves the "Any CPU" problem. Build the templates and help support [this](https://github.com/dotnet/

[2020-06-05 03:31] hupo376787 opened #2608 "NavigationView‘s style changed again?"
I update winui from 2.3 to 2.4, and I found my code not works.
[code]

So guys, I remember the left nav list control changed history:
`ListView` ----> `NavigationViewList` ----> `ItemsRepeater`

Do you have any detailed plan about where this control go.

[2020-06-05 03:59] mdtauk commented on #2608
NavigationView was/is being moved from a ListView to an ItemsRepeater

[2020-06-05 04:03] hupo376787 commented on #2608
So how to get all items of an `ItemsRepeater`.
I can easily get all items of a `ListView` using `foreach (var item in ListView.Items)`.

[2020-06-05 07:51] smourier commented on #2500
@marb2000 - I known perfectly well about Windows.UI.Xaml.dll being part of the OS, but precisely, I didn't understand so clearly that "WinUI is no part of the OS" (and so, maybe never will). Thanks for clarifying that. It's a big change from current techs, and also explains some current issues (dwm integration, back drop brush, etc.).

[2020-06-05 07:57] marb2000 commented on #1045
Thanks for your compilation @weitzhandler, very convenient.

WinUI team has a great relationship with Uno product team (non-Microsoft), Xamarin Forms/MAUI team, and React Native. We actively collaborate with them and we wish them a successful future.

About the missing WPF features, can you list your top ones, please? Closing the gap between WPF and WinUI is one of our goals. It will take several

[2020-06-05 08:04] lmcdougald commented on #2500
Microsoft.UI.Xaml (WinUI, yes this seems backwards but that's the naming) and Windows.UI.Xaml are cut from the same cloth. I'd be surprised if those "current issues" are much different come release.

"Will not replace Win32/..."

Uh, what? If you like UWP, then you'll get the same XAML, no compilation price, no sandbox, and the best one-click installation on Windows possible via MSIX with .NET 5 a

[2020-06-05 08:30] mdtauk commented on #1045
I made an issue to try to gather areas where WinUI is lacking compared to WPF #719 @weitzhandler @marb2000

[2020-06-05 08:44] tomasfabian opened #2609 "Question: WinUI3 dispatchers (And why is Window.Current null in Desktop?)"
I wanted to create a Rx DispatcherScheduler for WinUI 3 Preview 1 based on [UWP implementation](https://github.com/dotnet/reactive/blob/7ad606b3dcd4bb2c6ae9622f8a59db7f8f52aa85/Rx.NET/Source/src/System.Reactive/Platforms/UWP/Concurrency/CoreDispatcherScheduler.cs), but the static readonly property Window.Current is null. How should I or the Rx team get the corresponding CoreDispatcher?

**Steps to

[2020-06-05 09:10] Felix-Dev commented on #2609
Your stated expected behavior (WinUI UWP) does not match your bug description (WinUI Desktop). Is that intended?

`Window.Current` only returns a window instance when called from an UWP app's UI thread. In all other cases it returns `null`, including WinUI Desktop apps.

The CoreDispatcher is only available for UWP apps currently. Can you use the [Dispatcher class](https://docs.microsoft.com/en-us

[2020-06-05 09:38] baleszkr opened #2610 "Microsoft.UI.Xaml.Controls.NumberBox does not use "number" as it's input scope"
According to the documentation on [https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/number-box](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/number-box): _"Number will be used for the input scope. This input scope is intended for working with digits 0-9. This may be overwritten but alternative InputScope types will not be explicitly supported"_

[2020-06-05 09:48] Felix-Dev commented on #2610
@baleszkr This is being tracked by issue #1912 and PR #2605.

[2020-06-05 10:59] ivanicin commented on #2423
@chigy I agree with your points, good to know that we are on the same line. As we've talked about the design I am more likely to apply some different designs (though again they might have different issues to work with: https://github.com/microsoft/microsoft-ui-xaml/issues/2552 ), but no matter of that this remains as a bug and I've insisted exactly on that this is the bug question, not the design

[2020-06-05 11:08] mrlacey opened #2611 "Question: Is there an icon for the TwoPaneView?"
I can't find an icon for the TwoPaneView.
Is there one?

I also can't find an issue tracking this (and other controls) missing icons? Is there one? Or is this not something that's going to be done? (I'd expect it to be part of a checklist for [new] controls)

[2020-06-05 12:23] pjmlp commented on #719
Here are two from my side:

WPF can have 3D models without forcing developers to drag along a 3D game engine.

https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/3-d-graphics-overview

WPF can have nice UI effects without forcing .NET developers to write C++ code

https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.effects.shadereffect

[2020-06-05 12:28] tomasfabian commented on #2609
@Felix-Dev sorry I probably confused you, I didn't state that it's a bug, it was just my expectation.

I tried to get the dispatcher from .NET as you kindly suggested me. This returned null:
[code]
but I was able to get the dispatcher like this:
[code]

I have to admit that I'm confused, because I checked that for example a text box returns a CoreDispatcher from it's Dispatcher property:
[code]

I

[2020-06-05 12:38] weltkante commented on #2609
Your steps to reproduce are

But you say your expectation is

As such you are mixing up UWP/Desktop packaging in your issue description and were asked to clarify which of them is actually your problem.

[2020-06-05 12:59] tomasfabian commented on #2609
Packaged (WinUI in Desktop) app is my actual problem.
Packaged (WinUI in UWP) was an example how it could behave in Packaged (WinUI in Desktop), too.

[2020-06-05 13:15] tomasfabian commented on #2609
@Felix-Dev

Yes it was intended, but it is obviously confusing, sorry again.

So my main issue was to get the correct current dispatcher for switching from a background thread to the main UI thread. I wanted to use Window.Current.Dispatcher for that purpose in a Packaged  (WinUI in Desktop) app, but it was null.

[2020-06-05 13:36] Felix-Dev commented on #2609
@tomasfabian Interesting that you get a valid `CoreDispatcher` reference when accessing `MyTextBox.Dispatcher` in a WinUI Desktop app! I honestly thought a `CoreDispatcher` was related to a `CoreWindow` and as WinUI Desktop apps don't have a CoreWindow (they directly use the classic HWND) I was under the impression that there won't be a `CoreDispatcher` then for WinUI Desktop apps. If I'm wrong he

[2020-06-05 14:32] MikeHillberg commented on #2609
In a UWP WinUI app there's guaranteed to be one Window on the UI thread, because multiple windows aren't supported. To create a second Window you need to create a new thread. So Window.Current returns the Window on the calling thread.

In a Desktop WinUI app, in the current preview only one Window can be created, but the plan is to allow multiple Windows to be created on the same thread. So Window

[2020-06-05 14:55] tharun916 opened #2612 "NavigationViewItem.MenuItems not working in markup why?"

[2020-06-05 15:07] stevenbrix commented on #1045
@marb2000 could we bring Window Template Studio into our VSIX? Or perhaps vice-versa? Just use Window Template Studio as the vehicle for shipping all WinUI3 (and Project Reunion) templates moving forward?

[2020-06-05 15:12] mrlacey commented on #1045
👀 @crutkas @sibille

[2020-06-05 17:01] StephenLPeters commented on #2602
Thanks, that helps route the issue to the right spot :)

[2020-06-05 17:40] #2417 closed

[2020-06-05 17:52] ptorr-msft commented on #2127
We are trying to find out...

[2020-06-05 19:49] Patfreeze commented on #2496
Any progress ?

[2020-06-05 19:54] applefanbois commented on #2496
No, we tried many times and failed. This WebView2 won't run on UWP. We waited 10 years for a decent webview, we can wait another year. Our iOS/macOS/Android app has been released a while ago, but the Windows version will have to wait another year. We tell our client to invest in Apple product because it will always be the most advanced version because MS is not giving the dev decent SDK compared

[2020-06-05 19:58] vsfeedback opened #2613 "[DEBUG] error.cpp not found"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1063908/debug-errorcpp-not-found.html)._

---
This error occurs when I try to debug issues with a UWP application. It makes my workflow nearly impossible and is extremely frustrating. Repair install does not fix the problem. I am running the latest Windows Insider fast ring

[2020-06-05 20:07] StephenLPeters commented on #2612
@tharun916 thanks for the feedback, could you please include the markup which is not working so we can better understand the issue?

[2020-06-05 20:15] StephenLPeters commented on #2611
@mrlacey are you refering to the icons we used for the buttons on the main page of the MUXControlsTestApp or the buttons in XCG?

[2020-06-05 20:17] #2610 closed

[2020-06-05 20:17] StephenLPeters commented on #2610
closing as duplicate

[2020-06-05 20:18] tomasfabian commented on #2609
@Felix-Dev that's alright. Your constructive explanation was actually very helpful for me to learn that there is another (not used?) core dispatcher in the Desktop version which misled me.

**For all** I'm going to change the title to WinUI 3 dispatchers (Why is Window.Current null?) if it's not a problem for anyone.

I realize now, based on the information gathered by you, that my original questi

[2020-06-05 20:32] StephenLPeters commented on #2608
@ojhad and @ranjeshj FYI

[2020-06-05 20:42] mrlacey commented on #2611
@StephenLPeters
I wanted one for reference in WinTS.
I looked in the Gallery, the test app, and in the Toolbox, but it doesn't have one anywhere. :(

[2020-06-05 20:43] StephenLPeters commented on #2607
@ranjeshj this sounds familiar, is it a dupe?

[2020-06-05 20:44] BioTurboNick opened #2614 "x:Bind and ItemsControl behaves weirdly with null values"
**Describe the bug**
If an ItemsControl finds a null in its ItemsSource, it will instead bind the item to the ItemsControl's DataContext.

Note: I was directed here from https://developercommunity.visualstudio.com/content/problem/760441/xbind-and-itemscontrol-behaves-weirdly-with-null-v.html

**Steps to reproduce the bug**
XAML:
[code]

CS:
[code]

Result observed:

App1.Foo
5
App1.Foo
App1.Foo
5

[2020-06-05 20:44] StephenLPeters commented on #2606
@chigy thoughts on who this should be assigned to?

[2020-06-05 20:55] codendone commented on #1967
@mqudsi Is this still not working for you?  I see local files working fine in a Preview1 UWP with what sounds like the same approach you're using:

[code]

[2020-06-05 21:35] gabbybilka commented on #913
@mdtauk

@shaheedmalik

Thanks for your feedback there! I agree that the control should be flexible enough for this basic behavior and customizability in the Fluent Design system. The visuals I shared were mainly references of previously implemented examples.
We'll continue trying to strike the balance between overloading a single control with too much functionality while ensuring its customizable

[2020-06-05 23:29] codendone commented on #2565
Thanks for the detailed description!  SVG works fine in a UWP for Preview 1, but definitely has this problem for desktop apps.  I believe you correctly identified this as a sizing issue.

[2020-06-06 00:17] codendone commented on #2558
ANGLE.WindowsStore doesn't currently have any support for WinUI 3.  It would need to optionally support **Microsoft**::UI::Xaml::Controls::ISwapChainPanel in addition to the **Windows**::UI::Xaml::Controls::ISwapChainPanel it supports today.

[2020-06-06 01:50] Poopooracoocoo commented on #2585
dupe of #940

I still think that there's a place for pivots, just Android apps have both bottom/hamburger navigation and tab bars and as iOS apps have tab bars and segmented controls.

[2020-06-06 03:18] robloo commented on #719
@mdtauk I didn't see this issue earlier but it's a really good idea!

I've converted an internal document that outlines WPF/UWP differences to markdown and made it public. It was started when porting WPF code over to UWP a few years ago. I also started pulling in some of the comments above -- still more work to do.

It should be a good -- and visual -- summary of the differences that others can us

[2020-06-06 05:59] ranjeshj commented on #2384
Did a little bit of digging and it looks like this is a bug in the element clearing path. We set the data context on elements during ElementPrepared, but do not seem to clear it on ElementClearing. As a quick test to verify if this was the case, I added an ElementClearing event handler to the repeaters in the page and added this line in the handler which seemed to fix this problem.
[code]

The fix

[2020-06-06 08:12] mdtauk commented on #2585
It seems like because Windows Phone is gone, the app designers are not designing for or caring about people resizing windows to be small or narrow shaped.

[2020-06-06 09:14] jabak commented on #1967
@codendone You are right. Resolving the path as shown in your sample actually works. But loading local files by the following approach doesn't work:

this.webView.Source = new Uri("ms-appx:///Assets/SimplePage.html");
or
this.webView.Source = new Uri("file:///C:/temp/SimplePage.html");
or
this.webView.Source = new Uri("file:///C/temp/SimplePage.html");
or
this.webView.Source = new Uri("ms-appdata:

[2020-06-06 10:09] tharun916 commented on #2612
<Page
    x:Class="App14.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:App14"
    xmlns:controls="using:Microsoft.UI.Xaml.Controls"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
    xmlns:mu

[2020-06-06 10:14] shaheedmalik commented on #2585
It really does. I use snapped apps all the time and those designs could be used with Windows 10X.

[2020-06-06 17:02] pjmlp commented on #1045
I suggest spending some time with C++ Builder (VCL/FMX) and Qt Creator/Design studio, to learn what is possible with C++ and modern tooling.

Ideally WinUI would offer similar tooling to these products do already today for cross platform GUIs written in C++.

What I care about is the .NET development experience and having a similar experience for the use cases I am forced to use C++, that for what

[2020-06-06 17:07] mqudsi commented on #2564
Thanks, @marb2000 both for the future API info and especially for the `IWindowNative` info. I had already tried to use the native win32 APIs but was unable to figure out how to get the hWnd without digging through the process memory. I thought the abstraction over the two window types was in CLR and not in WinRT/COM, so I was barking up the wrong tree with my approach.

Note that it seems you must

[2020-06-06 17:48] sylveon commented on #1045
Why make this about .NET developers? The C++ XAML experience is just bad, doesn't matter if you're a C++ or .NET developer.

[2020-06-06 17:50] TonyHenrique commented on #1045
I believe that it will be great if they open road to enable the same XAML run on Desktop, Web (Edge), Mobile and IoT.

[2020-06-06 18:22] Felix-Dev commented on #2561
Looking into this issue, I also noticed the entire checkbox "disappears" when **unselected** on pointer over (the border color has already been changed in selected state as suggested by @ranjeshj):

| Selection state | HC Black | HC Light |
|:-------------:|:-------------:|:-----:|
| Unselected      | ![treeview-highcontrast-issue](https://user-images.githubusercontent.com/1398851/83950279-d17d598

[2020-06-06 18:58] bkaankose opened #2615 "Proposal: ItemTemplate/ItemTemplateSelector support for NavigationViewItem"
# Proposal:  ItemTemplate support for NavigationViewItem's MenuItems for visually better hierarchical navigation.

## Summary
With the recent changes to NavigationViewItem for enabling hierarchical navigation, it now supports additional menu items as MenuItems or MenuItemsSource. However, it lacks ItemTemplate /ItemTemplateSelector support. In general, anything that allows hosting additional conte

[2020-06-06 19:43] chingucoding commented on #2615
I am not sure if it makes sense to have to have a ItemTemplate property on NavigationViewItem if there already is one on the NavigationVIew. Is there a use case where you only want to specify a specific style/template for some of your NavigationViewItems but not all? Note that there also is a MenuItemTemplateSelecto property on NavigationView..

[2020-06-06 21:32] chingucoding commented on #2384
Awesome that you found the root of this issue. Would you like me to look fix this @ranjeshj?

Also is there a way we could add an automatic test for this? The crash itsself can't be reproduced in a reliable fashion. @StephenLPeters FYI.

[2020-06-06 22:05] chingucoding commented on #2561
In addition to changing the border color on hover, we should also think about changing the border color of the checkbox on an selecteditem. Having black on dark purple seems a problematic, especially if we are in high contrast which is designed to allow people with vision impairments.

[2020-06-06 22:34] Felix-Dev commented on #2561
@chingucoding Yes, I was initially thinking about that and was about to propose a checkbox border color change to white (in High Contrast Light mode) but then I thought, well, in high-contrast mode, the current color scheme will give us additional contrast between a selected item on pointer over (checkbox white border) and unselected item on pointer over (checkbox black border). This will give add

[2020-06-07 02:53] Poopooracoocoo commented on #2585
It's sad that Microsoft's UWP apps have become like this. Sort of off topic: Twitter's website isn't responsive like it used to be. I used to be able to shrink it horizontally and it'd have a mobile layout but then when they released it for all and redesigned it (at the same time argghh), they removed that. Super annoying and reminds me of many apps on Windows.

[2020-06-07 04:43] tharun916 opened #2616 "<Page"
[code]
_Originally posted by @tharun916 in https://github.com/microsoft/microsoft-ui-xaml/issues/2612#issuecomment-640028727_

[2020-06-07 07:29] Xarlot opened #2617 "Implicit value conversion doesnt work with TemplateBinding"
**Describe the bug**
TemplateBinding is broken if source and target properties have different but convertible types.
For example, source property Test is DateTime and target Text property is string.
//doesnt work
                                <TextBlock Text="{TemplateBinding Test}"/>
//works
                                <TextBlock Text="{Binding Path=Test, RelativeSource={RelativeSource Temp

[2020-06-07 09:45] FrayxRulez opened #2618 "Hyperlink hit test area is too wide"
**Describe the bug**
`Hyperlink` hit test area inside a `RichTextBlock` and `TextBlock` isn't constrained to last character

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a `Hyperlink` within a text wrapping `RichTextBlock` or `TextBlock`
2. Try to click next to the link last character
3. The link is still clickable

**Expected behavior**
`Hyperlink` hit test area should

[2020-06-07 10:03] MarcAnt01 opened #2619 "Proposal: Allow to select the whole paragraph with triple click"
In a TextBlock or in a RichTextBlock allow to select the whole paragraph with triple mouse/touchpad click

# Proposal: [Allow paragraph selection with triple click]

## Summary
In a TextBlock or in a RichTextBlock allow to select the whole paragraph with triple mouse/touchpad click

## Rationale
* Match textboxes behaviour

[2020-06-07 10:28] bkaankose commented on #2615
I didn't know it was inheriting template/selector from the parent :) This makes no sense then.

[2020-06-07 10:28] #2615 closed

[2020-06-07 10:57] Felix-Dev commented on #2619
Related #2128

[2020-06-07 15:43] wis commented on #1045
When will we be able to use WinUI 3 in a c++ project with no C#, Xaml or a designer?
also is there any news on the date of the open sourcing of WinUI 3's c++ core?

[2020-06-07 21:52] greek1979 commented on #716
Hi all,
Please excuse me for crashing into the party, but it seems as MS Photos app crashing for me may be related to this problem. It all started yesterday after Windows force-upgraded itself (I guess...) to the latest 2004 release. Everything was working just fine before, and I never had any issues with Calculator, Photos, Feedback Hub, etc. WS apps. But now none of them runs. I managed to get t

[2020-06-08 04:41] MikeHillberg commented on #2609
You're right that the DispatcherQueue isn't new, what's new to WinUI3 is that Xaml elements have a DispatcherQueue property. This works whether in a UWP or Desktop app, whether C++ or C#.

.Net has the similar but abstract concept of a SynchronizationContext, and in WinUI3 an implementation is provided that wraps the current thread's DispatcherQueue. As a result, in a c# app there's two ways to po

[2020-06-08 04:48] MikeHillberg commented on #2603
Yes, generally all of the text properties should inherit down the element tree.

[2020-06-08 06:59] MuziburRahman opened #2620 "NumberBox FocusState value remains to Unfocused even after getting focus"
**Describe the bug**
So the `FocusState` value seems to remain unchanged regardless of the actual focus state of the control.

**Steps to reproduce the bug**

**1. Minimal Xaml :**
[code]
**2. Code behind:**
[code]
3. Build and Run. Now focus and unfocus the NumberBox by clicking it and clicking in blank space, do it several times and notice in the output window, even in the `GotFocus` event, the

[2020-06-08 07:49] tomasfabian commented on #2609
I found `DispatcherQueue.GetForCurrentThread`, this works in **Desktop**:
[code]

@MikeHillberg you wrote that DispatcherQueue works also in **UWP**. I tried it and the methods are marked as Experimental. I would usually do this with MVVM, but I tried the code bellow to verify where will be the continuation executed and in **UWP** it was on a worker thread, not on main thread:
[code]
In spite of t

[2020-06-08 07:57] sonnemaf opened #2621 "Proposal:"
Can the source code of Microsoft.Expression.Drawing be added to this (or another OSS) repository. It contains Shapes classes like: Arc, Arrows, Callouts, Hexagon, Pentagon, Ring, Star and Triangle.

I would love to have them in WinUI too.

![image](https://user-images.githubusercontent.com/9335559/84004638-27f2b100-a96c-11ea-9d97-f660ff7a4b1a.png)

I have posted a similar issue in the WPF reposito

[2020-06-08 07:57] MuziburRahman commented on #2620
Setting `IsTabStop` to `true` sometimes print the first output as "Pointer", and after that, "Unfocused" every time.

[2020-06-08 08:33] luEbe commented on #2489
Is there any progress on this issue?

[2020-06-08 08:51] mdtauk commented on #2621
You may want to edit the issue to actually fill in the title

[2020-06-08 11:12] mdtauk commented on #2621
I can only think that it is because the ambition for WPF back in the day when it was being designed and built - was broader than what WinRT's Xaml was envisaged to be.

Expression Design was a general vector art tool, and so creating shapes, brushes, and geometry was there to power art tools, and create Path assets which could be used in WPF/Silverlight's Xaml.

But by the time WinRT was being bui

[2020-06-08 11:45] Sergio0694 commented on #2545
Hey @MichalStrehovsky and @tommcdon, I have some more info on the repro I sent you guys last week. In particular, I was having a ton of crashes with my second app (the one with that exception about `IReference<double>` missing, and it took a while but I eventually found a (very ugly) workaround.

I have a separate project which contains two self-contained controls I wrote for my app, which I just

[2020-06-08 12:33] FrayxRulez opened #2623 "StackLayout isn't thread safe"
**Describe the bug**
All `ItemsRepeater`s seem to automatically use a singleton instance of `StackLayout` as the default layout to arrange items.
The problem with `StackLayout` is that it isn't thread safe, and having it in multiple windows of the app will cause a crash because of cross thread access.

**Version Info**

NuGet package version:
[Microsoft.UI.Xaml 2.4.3]

| Windows 10 version

[2020-06-08 12:36] sonnemaf commented on #2621
Creating an Triangle in UWP isn't really hard. You only have to inherit form Path (not from Shape like in WPF) and set the Data property. Still it would be nice if they where the same.

[code]

[2020-06-08 13:48] ranjeshj commented on #2623
@FrayxRulez I assume there isn't a repro or crash dump to investigate ? If you have more information, can you share it ?

[2020-06-08 13:50] ranjeshj commented on #2600
@fabiant3 as FYI

[2020-06-08 14:05] ranjeshj commented on #2616
closing this issue since it is already tracked in #2612.

[2020-06-08 14:05] #2616 closed

[2020-06-08 14:07] ranjeshj commented on #2612
@tharun916 can you post a screenshot of what you are seeing when using this markup and what you expect it to show ?

[2020-06-08 14:17] ranjeshj commented on #2384
@chingucoding If you can make a fix that would be great. I think you can emulate the issue in a test using a single repeater by making the data context be set in that method (I think if you have a Binding in your template it will do that) and after the container gets recycled, you can check to see if the DataContext property of the container is null. The bug is that it is not null.

[2020-06-08 14:20] ranjeshj commented on #719
@predavid and @anawishnoff as FYI

[2020-06-08 16:06] codendone commented on #716
@greek1979 Thanks for sharing that dump. It looks like the Microsoft.UI.Xaml.Controls.XamlControlsResources couldn't be found, and Microsoft.UI.Xaml.dll isn't loaded like it should be, as if the framework package isn't properly installed. How did you check for the package?  If you run "get-appxpackage Microsoft.UI.Xaml.2.1" in a powershell, what does that show? (It should list two entries, one for

[2020-06-08 16:20] fabiant3 commented on #2600
@chabiss , @maxbrister could you take a look?

[2020-06-08 16:34] codendone commented on #1967
@jabak Thanks for providing those explicit examples.

- ms-appx:// and ms-appdata:// are not supported at all yet. This is being tracked both for WinUI3 ([internal workitem](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/22121415)) and for core Edge WebView2 (https://github.com/MicrosoftEdge/WebViewFeedback/issues/37).
- file:/// works, but only for files which the app has

[2020-06-08 16:47] chigy commented on #2606
@ryandemopoulos , who can look at the text feature request here?

[2020-06-08 17:14] jesbis commented on #2456
closing in favor of https://github.com/microsoft/ProjectReunion/issues/27

[2020-06-08 17:14] #2456 closed

[2020-06-08 17:25] ranjeshj commented on #2607
I don't believe this is a dup. This seems to be a layout cycle when items have different heights in a flow layout.

[2020-06-08 17:27] njsokalski opened #2624 "Title Bar Offsets TwoPaneView for Dual Screen"
When using TwoPaneView, the Title Bar causes Pane1 to cross over the gap between the screens of a dual screen device (I haven't actually tried it on a physical device, but this is what it does when using Microsoft Emulator). I originally posted the question at:

https://docs.microsoft.com/en-us/answers/questions/33043/avoiding-the-gap-in-dual-screen-uwp-apps.html?childToView=33194

Here is a scree

[2020-06-08 17:27] ranjeshj commented on #2611
@stmoy @chigy  Where do the icons come from for XamlControlsGallery. I don't believe the icons are in WinUI, so wondering if this bug needs to be moved to the XamlControlsGallery repo.

[2020-06-08 17:31] ranjeshj commented on #2608
@hupo376787 can you describe/share your markup and what you intend to do with the items ?

[2020-06-08 17:32] stmoy commented on #2611
For the XCG, individual sample owners generally create their own icon - we don't have a design backchannel to create these icons so we just make them up as we go 🤷‍♂️

FWIW, we don't even have a TwoPaneView sample in the XCG at the moment. That seems like a more fundamental issue. Adding one is tracked by: https://github.com/microsoft/Xaml-Controls-Gallery/issues/358

[2020-06-08 17:34] maxbrister commented on #2600
@fabiant3 Source info reported to VS excludes the DeviceFamily-XBox folder. It looks like an OS bug to me.

[2020-06-08 19:17] grokys commented on #1829
I've looked into this and here's what seems to be happening (with relevant parts if logs):

- User scrolls
- `ViewportManagerWithPlatformFeatures::OnEffectiveViewportChanged` called:

[code]

- Measure is carried out

[code]

- And ends expecting a viewport shift:

[code]

- Viewport shift is never recieved because we threw away all elements at the beginning of the measure, giving the `Scroller` n

[2020-06-08 19:56] chingucoding commented on #2384
From what I can see, the problem with the test is the following:

- The event gets raised first, then we run our custom recycle logic
- If we try to wait x milliseconds and then look at the item that got cleared again, the datacontext will already have changed. since elements only mostly only get cleared if we need a new on (from what I can understand)
- Running the clear datacontext logic before

[2020-06-08 20:13] StephenLPeters commented on #2620
Got focused is a routed event so it doesn't necessarily mean that the item where the event is triggered is the item with focus. I suspect what is happening here is that a template part of the Numberbox is getting focus (the text box almost certainly) not the number box itself.  The event args should have a pointer to the element which raised the event.

[2020-06-08 20:13] StephenLPeters commented on #2620
I'm going to close the issue, if you think that is in error feel free to reopen with more info :).

[2020-06-08 20:15] StephenLPeters commented on #2617
@MikeHillberg for FYI

[2020-06-08 20:24] StephenLPeters commented on #2613
This looks like a symbol/source loading issue to me.

[2020-06-08 20:24] FrayxRulez commented on #2623
No crash dumps for now, but if I’ll manage to get one I will definitely upload it here

[2020-06-08 20:25] StephenLPeters commented on #2611
We do have a test page in the MUXControlsTestApp but it doesn't have an icon either.

[2020-06-08 20:35] StephenLPeters commented on #2561
The black border on Dark purple background looks like it could be improved as well. I think the white on Purple from the selected state looks better.

[2020-06-08 20:47] greek1979 commented on #716
Hi @codendone,
When checking for the Xaml.2.1 package, I get the following output (omitted the x86 part, it is exactly the same except the x86):

[code]

The weird thing is, I did not absolutely anything to my Windows 10 installation. It was working just fine, all Store apps, the one day, and after self-upgrading to 2004, none worked, crashing at the start with the same error (as viewed in Event V

[2020-06-08 22:38] Felix-Dev commented on #2561
@StephenLPeters Like this then?
![image](https://user-images.githubusercontent.com/1398851/84086499-53b37c80-a9e8-11ea-929d-4518a71da561.png)
This means the checkbox border will have the *same* color in both selected state and unselected-with-pointer-over state:
![image](https://user-images.githubusercontent.com/1398851/84086669-b278f600-a9e8-11ea-8e83-931774828236.png)

In HC Dark mode, the check

[2020-06-08 23:14] ranjeshj commented on #2384
Yes, we should not set it to null before ElementClearing because you are correct, app might be looking at the data context in the ElementClearing handler.

You could use your own object instead of DataTemplate as the ItemTemplate and intercept the element in RecycleElement method. That will give you access to the recycled element after the logic has run. You could possibly reuse this [mock type](h

[2020-06-08 23:18] chingucoding commented on #2384
Alright, I see. That sounds like a good approach, I will take a look at this tomorrow.

[2020-06-08 23:34] codendone commented on #2386
@benstevens48 I'm not currently able to repro this issue. What language is your app written in? Can you try looking at the crash or a crash dump in WinDbg and then use !pde.dse to dump the stowed exceptions so we can see the error code and stack for the failure? !pde is available [here](https://onedrive.live.com/?authkey=%21AJeSzeiu8SQ7T4w&id=DAE128BD454CF957%217152&cid=DAE128BD454CF957) in the PD

[2020-06-09 00:04] codendone commented on #2229
@RaoHammas Were you reproing this using regular XAML (the version which is part of Windows), or was this using the WinUI 3 Alpha? The issue does repro in the WinUI 3 Alpha and in the Preview 1 released a couple of weeks ago, since those currently don't use the popup window support I mentioned previously. I'm still not able to repro this with regular XAML.

[2020-06-09 00:05] Felix-Dev commented on #2592
Should the checkbox look with PointerOver in indeterminate state be changed as well? And if yes, how should it then look like in HC Black and HC White?

In rest mode with requested change applied:
![image](https://user-images.githubusercontent.com/1398851/84091527-ece89000-a9f4-11ea-89cf-9166e25776ee.png)

Unchanged (as of yet) pointer over look:
![image](https://user-images.githubusercontent.com/

[2020-06-09 03:09] MuziburRahman commented on #2620
@StephenLPeters  My problem wasn't with the event args, rather with the `FocuseState` property. I had to determine whether the `NumberBox` has focus or not in a certain scenerio. I think the `FocusState` should not have the value `Unfocused` when the user is manually changing value in the underlying textbox.

[2020-06-09 03:14] RaoHammas commented on #2229
Sir it was happening with WinUi 3 alpha. I don't know if same happens with regular Xaml.

[2020-06-09 04:18] ranjeshj commented on #1422
Estimating layouts like StackLayout work using a relative layout system which allows negative offsets, but the XAML layout itself expects positive offsets. The layouts arrange elements during the measure pass in order to know when to stop measuring. But those can all be relative. However when we ultimately arrange the elements, the need to be adjusted so that the XAML layout system can get the cor

[2020-06-09 04:43] ranjeshj commented on #1829
@RBrid to help investigate

[2020-06-09 04:50] codendone commented on #2389
Thanks for providing a repro!

During the EffectiveViewport walk, the Viewbox has scale=0, so the Image with the EffectiveViewportChanged handler can't invert the transform matrix and crashes using a null transform. This is definitely a bug.

Here is the top of the stack:
[code]

[2020-06-09 06:17] phraemer commented on #1967
WebView2

Yep. Absolutely needed for us.

On Mon, 8 Jun 2020 at 18:34, Mike Crider <notifications@github.com> wrote:

[2020-06-09 07:11] fatmingwang opened #2628 "c++ UWP project"
a c++ UWP project  with  NuGet WINUI 2.4

in MainPage.xaml file

<Page
    x:Class="UWPServer2.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:UWPServer2"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibili

[2020-06-09 07:11] fatmingwang opened #2629 "c++ UWP project with NavigationView( WinRT information: Cannot find a Resource with the Name/Key TabViewButtonBackground [Line: 13 Position: 10] occurred)"
a c++ UWP project  with  NuGet WINUI 2.4

in MainPage.xaml file

<Page
    x:Class="UWPServer2.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:UWPServer2"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibili

[2020-06-09 08:04] fatmingwang commented on #2629
Sorry after change to VS 2019 everything works

[2020-06-09 08:04] #2629 closed

[2020-06-09 08:05] fatmingwang commented on #2628
Sorry after change to VS 2019 everything works

[2020-06-09 08:05] #2628 closed

[2020-06-09 08:45] emiliano84 commented on #638
I'd like the following feature when light dismiss is disabled:
- A property to remove the X button
- A property to block the rest of the UI (it's possible to click only on the teaching tip)
- A property to add some opacity to the rest of UI behind the teaching tip
Thanks

[2020-06-09 10:42] tomasfabian opened #2630 "WinUI 3 Desktop - Binding does not work"
In WinUI 3 Preview 1 Desktop - **Binding** markup extensions are not working correctly in some cases (see comments in XAML). Mode OneWay should be implicit, and all bellow mentioned bindings should work properly.

**Steps to reproduce the bug**

[code]

[code]
NuGet package version:
[Microsoft.WinUI 3.0.0-preview1.200515.3]

| Device form factor | Saw the problem? |
| :-------------------- | :----

[2020-06-09 12:33] MikeHillberg commented on #2617
The original intent of TemplateBinding is to be simpler and lighter weight than Binding, special purposed for control templates. So it doesn't support most of the features that Binding has, and as a fallback you can always use a Binding with a RelativeSource of TemplateParent as you did. That's the equivalent of a TemplateBinding and then has all the features of Binding.

That said, the case you'r

[2020-06-09 12:59] Xarlot commented on #2617
In WPF, this two expressions are almost same thing. I dont really know how UWP works, in WPF data binding engine calls typeconverter for implicit value conversion.
Since UWP doesnt support typeconverters, it probably has another mechanism replacing it.
There is no parity between two same bindings for now. Its just dangerous to use TemplateBinding, it can be broken at any time.

[2020-06-09 13:35] jeremyVignelles opened #2631 "Question: Will a WinUI app be able to call SystemMediaTransportControls from an unpackaged app?"
I am one of the LibVLCSharp maintainer, and we would like to provide examples for `SystemMediaTransportControls`.
For now, it's an UWP-only API. Will that change with WinUI becoming mainstream? Will any WinUI app be able to use SMTC in any app, including unpackaged ones? Are there any plans for a new API?

[2020-06-09 14:33] mdtauk commented on #638
Could there be a succession of Teaching Tips, used similar to a product tour, moving from feature to feature, with back and forward buttons.

Take a look at the **TeachingBubble with multi-steps**
https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble

----
Is there any value in looking at what **Coachmark** does?
https://developer.microsoft.com/en-us/fluentui#/controls/web/co

[2020-06-09 16:15] shaheedmalik commented on #2229
It happens on WinUI2+ too.

[2020-06-09 16:23] codendone commented on #2550
This looks like a Composition issue, and likely something in the graphics driver getting into a bad state.

[2020-06-09 16:51] bdbai opened #2632 "STATUS_STACK_BUFFER_OVERRUN crash on Application::Start with inappropriate SUBSYSTEM"
**Describe the bug**
STATUS_STACK_BUFFER_OVERRUN crash on Application::Start with inappropriate linker option `SUBSYSTEM`.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a Windows Console Application (C++/WinRT)
2. Write the following code in `main.cpp`
[code]
3. Build and run the program
4. The exit code is `-1073740791`, which is `0xc0000409, STATUS_STACK_BUFFER_OVER