[2020-04-10 06:14] NickAcPT commented on #2245
I'm really curious as to how they're gonna pull off support for both WinForms, WPF and UWP at the same time. Hope it'll be possible to just drag-drop controls around.

[2020-04-10 07:16] mdtauk commented on #2140
This is how I see it @Felix-Dev

![NavViewBadges](https://user-images.githubusercontent.com/7389110/78971415-6c480900-7b03-11ea-8ceb-1193b3e96a18.png)

The number badges could appear on the icon, with the collapsed state, but appear on the right for the expanded state.

There could be an option for an indicator icon, when a number does not make sense, or the developer does not wish to display it.

[2020-04-10 08:07] Felix-Dev commented on #2140
@mdtauk Looks good to me.

[2020-04-10 09:37] mdtauk commented on #2140
Another example of a similar idea...
![image](https://user-images.githubusercontent.com/7389110/78981030-f8176080-7b16-11ea-884f-150877c3a135.png)

[2020-04-10 09:45] Pinox commented on #2140
plse consider also a badge icon , badge icon with text

![image](https://user-images.githubusercontent.com/5297255/78981423-32d1c680-7b20-11ea-9956-f7f4dbb0ffc1.png)

[2020-04-10 10:05] mdtauk commented on #2140
There is some guidance on these icons from Microsoft
https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/badges

![image](https://user-images.githubusercontent.com/7389110/78982930-0ff0e380-7b1b-11ea-8995-76cc48b4a73b.png)

All of these should be included in some kind of badge control.  Not sure about including icons with numbers - not sure the space is available for

[2020-04-10 10:19] Pinox commented on #2140
agree, personally i would prefer using just an icon or badge number in compact mode , but icon with text in expanded mode.

[2020-04-10 11:23] harvinders commented on #2245
Is WinUI Desktop going to have a UWP style app lifecycle events? I saw @marb2000 post in twitter and saw `OnLaunched()` and `OnSuspending()` APIs as part of `App<T>`.
![image](https://user-images.githubusercontent.com/8557046/78987433-5bce7780-7b71-11ea-819e-839ac2e113fd.png)

[2020-04-10 13:50] ccornici opened #2264 "BUG: AppBarButton click doesn't trigger focus loss on previously focused inputs"
**// EDIT: initially this was a proposal and it unfolded into a bug. To get the full context please read all comments**

# Proposal: NumberBox NumberChanged event

## Summary
There is currently no way to get value updates from a `NumberBox` just-in-time as the user types (like you can with a `TextBox.TexChanged` event).

## Rationale
Given the summary above, this forces developers to make workarou

[2020-04-10 13:58] #1642 closed

[2020-04-10 14:15] ccornici opened #2265 "NumberBox has a top padding which breaks alignment"
**Describe the bug**
`NumberBox` has a top padding which breaks alignment.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Add this XAML (I removed the data bindings since not relevant)
[code]
2. Observe

**Expected behavior**
NumberBox has all padding 0 and doesn't break Center alignment

**Screenshots**
Everyone is aligned, besides that smart-guy...
![problem1](https://user-i

[2020-04-10 14:20] chingucoding commented on #2265
Can you please check if you can repro this with the latest pre release? I think we already merged a PR for this which is available in latest preview.

[2020-04-10 14:40] ranjeshj commented on #1372
@gegao18 looked at it and found that this is likely an issue in the composition stack. Still being investigated...

[2020-04-10 15:37] ccornici commented on #2265
I've read the MS page on the requirements/steps to get the 3.0 Alpha and I'm sorry to say that I'm not willing to do all that. It's OK, either way I'll sadly have to redesign that part of the UI until the (potential) fix is out of Alpha...

[2020-04-10 15:38] chingucoding commented on #2265
Oh haha, no I meant the 2.4 preview. That should also include the fix. Sorry about the confusion.

[2020-04-10 15:52] ccornici commented on #2265
OK, I tried the 2.4.0-prerelease.200322001 as I see this is the latest one.
It looks like it's fixed in this package version

![fix1](https://user-images.githubusercontent.com/15718751/79003682-5feb9c80-7b53-11ea-9a16-33499a5ce082.png)

![fix2](https://user-images.githubusercontent.com/15718751/79003691-6417ba00-7b53-11ea-95f0-7d305b124542.png)

Can you please give me an estimate of when this is g

[2020-04-10 16:29] chingucoding commented on #2265
As to when 2.4 is being released, I can't give you an definite answer, I suspect maybe in the next 1-3 months, but @ranjeshj definitely knows it better then me.

Usually the pre releases also include features that are still under preview and might change later. As long as you don't rely on them I think it's fine to use them (note that I am not a Microsoft employee and this is just my opinion here)

[2020-04-10 16:41] ranjeshj commented on #2265
@ccornici You can use the pre-release builds as @chingucoding mentioned above. We do the stable release builds about once a quarter and we are trying to get 2.4 stable out by the end of this month (Thank you for your patience). All the features that will be in the next stable release are already in the pre-release so you can give that a try. We are working on a handful of stability fixes now.

[2020-04-10 17:09] ranjeshj opened #2266 "Allow re-templating ProgressRing with custom lottie animation"
It should be possible to re-template the ProgressRing with a custom lottie animation source. It looks like we currently overwrite the source even if one is going to be set in the template.

[2020-04-10 17:12] ranjeshj opened #2267 "ProgressRing should be collapsed when IsActive is false"
Follow the same pattern as WUXC.ProgressRing and hide the control altogether when IsActive is false. This will allow it to be used in a transient way and not have to worry about fiddling with Visibility in the app.

[2020-04-10 18:50] anawishnoff commented on #2140
This is such great feedback, thanks everyone!

@chingucoding:

This is an issue I'm concerned about - the numbers being too small/unreadable if shown in compact mode. But that's something we may be able to discuss and work around. I think this is how I see the badge numbers working with HierarchicalNavView as well, although @mdtauk brings up a good point about these numbers maybe being confused as

[2020-04-10 19:01] joshkoon opened #2269 "NavigationView uses AutomationName for both full control and list of menu items"
**Describe the bug**
A change was made to bind the NavView automation name to the list of menu items [here](https://github.com/microsoft/microsoft-ui-xaml/commit/580e5cedfed05bb11f6b5bfdc74125ea6f3bfafb).

This created a new issue where the automation name is announced whenever focus is moved back to the NavigationView, such as when focus is moved from a control outside the NavView to the hamburge

[2020-04-10 19:04] chingucoding commented on #2140
Good idea, using the Accent color for the badge number could potentially create a separation between "child items (with black/white chevron)" and the badge number in accent color (which is also present for selection and in compact on items with badge).

Yes, that is indeed a problematic situation. I think the main problem is that in a lot of scenarios, the number is in the bottom right, and in a l

[2020-04-10 19:13] chingucoding commented on #2264
Just to clarify, the current [ValueChanged](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.numberbox.valuechanged?view=winui-2.3) event is not suitable for you?

Also, when would expect this new event to be raised? As soon as the user has pressed a key?
Couldn't this possibly create a problem if you enable evaluation and the user entered a non numerical key such as "+" or "/"

[2020-04-10 19:14] Felix-Dev commented on #2140
Why not then make the navigationview "strip" in closed compact mode wider a few pixels? Say, 4 px, which will mitigate this concern. After all, and I'm saying it again, overlaying an icon with an icon is not per se problematic. It works just fine in the taskbar app buttons. They are a bit wider than the navview strip though which likely comes into favour here. Hence the suggestion about increasing

[2020-04-10 19:18] chingucoding commented on #2140
What if users decide to change it back to the standard 40px? The bigger problem I see is that you would have a rectangle for the icons and not a square anymore which is a bit visually unpleasing (at least in my opinion) since all Segoe MDL2 icons are designed to work in a square.

[2020-04-10 19:33] chingucoding commented on #2269
Would anybody benefit from having the NavigationView have a different UIA name compared to its menu items? Afaik the menu items list is known to the narrator as list, so there probably is not much confusion about that.

To decouple those two values and enable easy setting of the list, we would need to create a new property. I am not sure if this would be a good from an API standpoint, just having

[2020-04-10 19:36] mdtauk commented on #2140
I can try placing the notification icon and numeric badge in the same place.  I don't think you would ever get a numeric and icon badge at the same time.  In fact it should probably be implemented in a way where it is an either/or property.

For the badge number size, I based it on the taskbar badge text - so it appears to be an OS wide design.

The notification dot, was again styled after the exi

[2020-04-10 19:43] Felix-Dev commented on #2140
Tbh, for the navview items *themselves* this looks pretty fine to me.
![image](https://user-images.githubusercontent.com/1398851/79017803-7e14c500-7b72-11ea-9ccd-fc813726c5be.png)
[code]
(We would have to adjust the other buttons, like the pane toggle button, too to now match the updated design. This shouldn't be a hurdle though.
And as always, a designer might see some additional issues I'm not s

[2020-04-10 19:52] mdtauk commented on #2140
I will make a mock up of how a wider width could be used with badges and numbers, but it would need to be wider than 44epx

[2020-04-10 19:56] Felix-Dev commented on #2140
@mdtauk You could also experiment with update *height* values for each navitem. Why should we only update the width alone? It might not look good to make the height the same as the width again (in compact mode, pane closed), but if the updated width > 40px seems *too* rectangle now for your test, you could also change the height a bit.

[2020-04-10 19:58] shaheedmalik commented on #2140
I would keep it at 40px, just make the number smaller.

[2020-04-10 20:49] mdtauk commented on #2140
![image](https://user-images.githubusercontent.com/7389110/79022003-e82e6980-7b74-11ea-9059-7b6027d30e3e.png)

With a 60epx width, you have just enough space to display the badge numbers at the same size as they appear in the expanded view.  As the pane transitions in and out, the badge numbers could be fixed to the right hand size as the pane size animates - giving a smooth transition for the ite

[2020-04-10 21:01] Felix-Dev commented on #2140
Yes, in small button mode, no badges are shown (even though I personally think it would still look acceptable).

I think it's fine if there is some overlap between badge and the underlying navviewitem icon. Experimenting with the width (i.e. 44px) thus was meant to make that overlapping area a bit smaller to make the underlying icon more easily identifiable if deemed necessary.

Either way, I woul

[2020-04-10 22:14] StephenLPeters commented on #2269
Does this repro with the latest prerelease?  The change you linked is to NavigationViewList which was removed recently with the refactor to use itemsRepeater.  @ojhad maybe you know?

[2020-04-10 22:19] #2265 closed

[2020-04-10 22:20] joshkoon commented on #2269
@StephenLPeters Yes, it still repros. I linked to the change where it was introduced, but it was brought forward to the ItemsRepeater.

@chingucoding I agree having a separate property just for the list isn't ideal from an API standpoint. I haven't had a chance to think through a proper fix, yet, but I did want to get the issue filed. The original request for a name for the list came from an acces

[2020-04-10 22:25] StephenLPeters opened #2270 "Remove Navigation view code for checking if selection really changed"
With #2253 checked in I think there is some code in navigation view which guarded against selection changed events that weren't real. We could now delete that code.

[2020-04-10 22:25] StephenLPeters commented on #2270
@ojhad FYI

[2020-04-10 22:29] ojhad commented on #2270
@StephenLPeters
See my comment regarding this here: https://github.com/microsoft/microsoft-ui-xaml/pull/2253#issuecomment-611794971

[2020-04-11 00:05] #2218 closed

[2020-04-11 00:27] #2103 closed

[2020-04-11 00:27] #2105 closed

[2020-04-11 11:56] ivanicin opened #2273 "RichEditBox highlighted on pointer over when IsHitTestVisible="False""
**Describe the bug**
This code should show no highlight on hover:

`<RichEditBox IsHitTestVisible="False">
                                        <RichEditBox.Resources>
                                            <SolidColorBrush x:Key="TextControlBackgroundPointerOver" Color="Transparent"/>
                                        </RichEditBox.Resources>
                                    </Ri

[2020-04-11 12:14] ccornici commented on #2264
Hi again @chingucoding

Actually, in itself, it is suitable, I think I found a bug in...I don't know...UWP...
You see, if I use a Button with the NumberBox, the ValueChanged works as expected: after I input a number in the numbox, I click the button, the numbox loses focus and triggers the ValueChanged, and then the button click event fires.

....but....I don't have a Button in main project, as pe

[2020-04-11 15:27] chingucoding commented on #2264
Thank you for the repro @ccornici !

It seems like this is an issue with the focus behavior. One possible workaround would be to set the focus manually upon button click so the NumberBox updates its value.

I think it's a bug with the AppBarButton as it should get focus upon click, just like a button. @ranjeshj What are your thoughts on this?

[2020-04-11 16:31] ccornici commented on #2264
@chingucoding something else I noticed:

In the repo above, in `MainPage.xaml`, if I remove the [`ValueChanged="NumberBox_ValueChanged"`,](https://github.com/ccornici/potential-uwp-bug/blob/18cea59f829eef57311c059b83f02dbb1898a1db/WinUIProblem/MainPage.xaml#L13) the only way that `MainPageViewModel.Amount` will be updated now is through the `x:Bind` present in the xaml.

Given the above, I would e

[2020-04-11 16:48] ccornici commented on #2264
I tried setting focus on pretty much all elements in that XAML and it doesn't work.
Then I tried unsetting focus on the NumBox and it throws an exception as follows:

![died](https://user-images.githubusercontent.com/15718751/79049622-f936b380-7c24-11ea-9d9a-92da811a0f71.png)

[2020-04-11 18:20] chingucoding commented on #2264
I think it is, but I am not really sure when bindings get evaluated. It may be a bug, but I think it's more based on the way bindings work in XAML. But again I am not sure on that.

Then I tried unsetting focus on the NumBox and it throws an exception as follows:

Hmm, it seems that setting the focus inside the event handler only raises ValueChanged after it finished the handler it is in. There ar

[2020-04-11 21:36] robloo commented on #2255
I've updated the proposal to capture the latest discussion. Thanks @mdtauk for the great illustrations and ideas.

[2020-04-12 05:00] shaheedmalik commented on #2255
Can you make one with MM DD YY format?

[2020-04-12 08:11] mdtauk commented on #2255
![image](https://user-images.githubusercontent.com/7389110/79064064-8d446180-7c9d-11ea-8c23-6b635ffd9099.png)

[2020-04-12 12:50] niels9001 commented on #2245
In the WinUI Community Call (Feb 19, 2020) it was mentioned that **Xbox app support** and **Full Gamepad Input support** was At Risk for WinUI 3.0.

My questions:
- How will game pads be supported in WinUI 3.0?
- Is there anything you can comment on in terms of Xbox app support?
- Is there anything you can comment on in terms of Windows IoT Core support?

[2020-04-12 16:01] Paul-Dempsey commented on #2251
For reference, Bing Translate says::

[2020-04-12 16:42] 8xiamaix8420 opened #2274 "Discussion: [your discussion title]"
# Discussion: [your title here]

## Related Links

[2020-04-12 19:30] chingucoding opened #2276 "Question: Benchmarking UI performance"
Currently there seems to be no good way to create a reliable benchmark of UI's. You can use the Performance profiler of Visual Studio, however to get a reliable result you need to rerun it multiple times to eliminate the factor of other apps on the PC stealing CPU usage.

Are there any way to do this? A good benchmark would include the time spent on different layout stages and also list the memory

[2020-04-12 19:51] mdtauk commented on #2140
Might be worth looking at this issue, and see how badging may be affected by it. #2051

[2020-04-12 22:18] chingucoding opened #2277 "Setting CompactPaneLength before rendering in XAML does not update pane correctly"
**Describe the bug**

**Steps to reproduce the bug**

1. Create NavView in XAML, set CompactPaneLength to a non standard value, e.g. 80
2. Open page with that NavView

**Expected behavior**

TogglePaneButton and BackButton get rendered correctly, that is the button icons are centered and the buttons take up the same space as the NavigationViewItems icons.
**Screenshots**

![image](https://user-ima

[2020-04-13 10:43] yinyue200 opened #2278 "Text rendering in winui3 is not as sharp as windows.ui.xaml"
**Describe the bug**

Text rendering in winui3 is **not** as sharp as windows.ui.xaml

**Steps to reproduce the bug**
open both version of XAML Controls Gallery
We can see that there are slightly differences in the texts between both version Especially "iscompact" and "toggle theme"

**Expected behavior**

Text rendering in winui3 is as sharp as windows.ui.xaml

**Screenshots**
![TIM截图202004131836

[2020-04-13 11:38] DierkDroth commented on #430
Thanks for your explanation.

However, I don't why understand why XamlControlResourecs is the **only** resource dictionary which my team can't merge in our projects. Frankly, this doesn't make any sense to me. I would kindly ask to seriously consider removing that limitation.

[2020-04-13 11:51] DHitchenUK commented on #1465
It is a minefield. Searching for files is just broken and Microsoft accept that, they have stated that "if you want access to large numbers of files, use WPF/WinForms/Win32". By "large number", they mean 400+

To give you idea of how bad it is in UWP, lets take the basic concept of enumerating files. If you use the index service (amazingly fast) you'll have major problems, The folder and sub-folde

[2020-04-13 13:08] chingucoding commented on #2222
I've tried to implement parts of those two scenarios (container that handles everything and attached behaviors) in a test project: https://github.com/chingucoding/ItemsRepeaterExperiments

I think there is a problem which we can't get around: We need a `Control` to enable using VisualStates and VisualStates are a bit fragile. Here a rundown of issues/problems for both proposed solutions:

### Cont

[2020-04-13 14:31] ranjeshj commented on #2278
@Austin-Lamb @codendone FYI

[2020-04-13 14:45] #2274 closed

[2020-04-13 15:13] chingucoding commented on #2270
If I understand @ojhad correctly, there is nothing to do here and this issue can be closed right?

[2020-04-13 17:11] ojhad commented on #2270
Yep, that's correct. @StephenLPeters closing this issue.

[2020-04-13 17:11] #2270 closed

[2020-04-13 17:16] chingucoding commented on #1046
Having looked into this, I am not sure if there is much we can do. The areas Acrylic,Reveal,Lights and Effects rely so heavily on each other (mainly Reveal depends on lights and effects).

One thing worth thinking about is removing parts of lights area and move it into the reveal project, but in the end it does not make a huge difference as those will need to be compiled again anyway.

ColorPicker

[2020-04-13 17:25] anawishnoff commented on #2222
Thanks so much for setting up this prototype and doing this research @chingucoding! This is really detailed and helpful. I've been playing around with the prototype and I have a few clarifying questions from your comment:

**> * If the user uses a `Control` as root element of the DataTemplate, the container won't be able to provide VisualStates**

**> * If we would provide a way to force a rerende

[2020-04-13 17:31] ojhad opened #2279 "Fix some HNav bugs"
Here are some bugs that need to be fixed:

1. NavigationViewItem content in Left Expanded mode needs an update to right padding
2. TopNav can get into a state where repeater is not being reparented properly
3. NavigationView mode switching from topnav (when opening a flyout several levels) and switching to left nav throws an exception on the collapsed event

[2020-04-13 17:40] ranjeshj commented on #444
We have LayoutPanel in preview which can be used with UniformGridLayout to achieve this i think.

[2020-04-13 18:02] chingucoding commented on #2222
With `Control` I was referring to the type [Control Class](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control?view=winrt-18362) which is not inherited by a lot of classes that are commonly used as layout roots for templates.

That is solely an issue for the TemplateSelector issue. Something that we could do to circumvent this is to just say that it is not recommended. For ot

[2020-04-13 18:22] yinyue200 opened #2281 "Can't drag tabs to adjust order in Winui3 for a tabview"
**Describe the bug**
  Can't drag tabs to adjust order in Winui3 for a tabview

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to Xaml-Controls-Gallery Tab View Page
2. Try to move document3 to front of document2 using a mouse

**Expected behavior**
moved

**Screenshots**

**Version Info**
winui3 alpha

NuGet package version:

| Windows 10 version                  | Saw the

[2020-04-13 18:45] #2279 closed

[2020-04-13 18:46] #2267 closed

[2020-04-13 19:15] marb2000 commented on #2245
@nc4rrillo Take a look to this [site](https://github.com/microsoft/Xaml-Islands-Samples) where you can find Win32, WPF, abd WinForms samples of XAML Islands.

[2020-04-13 20:06] StephenLPeters commented on #2281
@Austin-Lamb FYI, looks like a bug coming in from the work Xaml Controls Gallery did to run their tests against winui3.  We should investigate/track.

[2020-04-13 20:07] michael-hawker commented on #2222
@chingucoding yeah, this seems like there's potential for using the [Behaviors](https://github.com/Microsoft/XamlBehaviors) library to help hook this all together more easily. We have helpers in the Toolkit around this and a few Behaviors already.

Though I'm not sure how that'd play with the Visual State/Control stuff, not sure if I fully grasp that part of the issue you were facing yet, or if we

[2020-04-13 20:09] StephenLPeters commented on #2277
@chingucoding Looking at the description and the pictures provided, we aren't sure what is wrong, could you elaborate further?

[2020-04-13 20:11] chingucoding commented on #2222
The general question is: What would be the easiest for ItemsRepeater users without them having to start from scratch. Having a DP for IsSelected could also work in some cases, but maybe in other cases having a VisualState is better, especially when there are many things one wants to change for selected items.

[2020-04-13 20:12] StephenLPeters commented on #2273
Is this a scenario where you can use a RichTextBlock instead?

[2020-04-13 20:13] chingucoding commented on #2277
The expected behavior/UI would be that the pane and back buttons are centered too:

![image](https://user-images.githubusercontent.com/16122379/79156881-ef9f7e00-7dd3-11ea-8e32-b46c80ceb990.png)

[2020-04-13 20:24] StephenLPeters commented on #2269
Work arounds that you have access to now are retemplating the control and replacing the automationproperties.name with the name you want. Or you can use VisualTreeHelper to walk to the repeater from code behind and set the property there.  I'm not sure what the proper fix to this would look like. I don't think a new API is appropriate, perhaps we can figure out some way to expose this as a resourc

[2020-04-13 20:43] StephenLPeters commented on #430
I don't expect that there is something unique about these resouce dictionaries. Are you sure that if you  reproduced the described behavior in two other dictionaries this would not be an issue there? I suspect this just happens to be the only overrides being constructed from markup directly inside of a merged dictionary.  That being said, the experience does seem broken.

[2020-04-13 20:54] #2190 closed

[2020-04-13 20:57] codendone commented on #2199
@vibkumar I think the questions have been answered, so I'm closing this. Please let me know if you have more here.

[2020-04-13 20:57] #2199 closed

[2020-04-13 22:59] chingucoding commented on #2269
Adding a new API is indeed not ideal. A themeresource for would be a possible solution, though usually theme resources are used for "settings" that apply to all controls, and the UIA name of the list probably doesn't fit into that list that much.

[2020-04-13 23:02] anawishnoff commented on #2140
@mdtauk I agree and think that the badge should be overlayed in compact mode, rather than displayed next to it like in your last mockup.

@Felix-Dev I agree - I think that the 40px settings and badge overlay would be ideal, and we'll have to experiment with the font size a bit to make sure that double digits don't overwhelm the icon itself.

As for API/implementation details, I'm trying to concept

[2020-04-13 23:08] marb2000 commented on #2245
Some events will be supported, like OnLaunched, and others like OnSuspending won't be called.
More details at:
https://github.com/microsoft/microsoft-ui-xaml-specs/blob/Win32/active/Win32/Window_and_Application_API_Spec.md

[2020-04-14 00:07] codendone commented on #2229
@RaoHammas Is there anything special about your scenario or the version of Windows are you seeing this issue on?  Your gif either suggests windowed popups aren't being used, or that Windows is somehow confused in how it is drawing the min/max/close buttons.  Windowed popups should be used on any version of Windows 10 desktop, except when an app is running in Windows Mixed Reality.

I couldn't quit

[2020-04-14 01:05] saint4eva commented on #2245
Kindly shade more light on .NET and WinUI. And make it easy to develop WinUI apps using VS Code.

[2020-04-14 01:11] mdtauk commented on #2140
FWIW I would say there should be a Badge primitive control.
```<Badge></Badge>```

----

The Badge could append to a UI element with offset **Placement** position?
```<Badge Placement="BottomRight" />```
[code]

----

There could be a **BadgeType** property
```<Badge Type="Numeric" />```
[code]

If the BadgeType is set to **Numeric** then there would be a **Value** property
```<Badge Value="102" /

[2020-04-14 01:16] mdtauk commented on #2140
This Badge would be added to the NavigationViewItem's Icon, and the **BadgeValue**, **BadgeType**, exposed to the **NavigationViewItem** - the placement doesn't need to be passed on, but there is nothing to stop it from being there.

The BadgeValue would be used when the NavigationView's Pane is expanded, to display on the right.

[2020-04-14 03:24] ranjeshj commented on #2222
@chingucoding, Thank you for creating the prototype. Can you please add this to a prototype folder and create a PR ? We can use the PR to annotate and improve the prototype and discuss options through the PR.

Some notes regarding the prototype
* HandleContainer case
    * HandleContainer being a control, can have the visual states in its template, so you dont have to specific them inline in the I

[2020-04-14 04:35] RaoHammas commented on #2229
@codendone sir nothing special. just a normal windows environment.
Edition : Windows 10 Pro
Version : 1909
OS build : 18363.752

About Microsoft Edge  what i noticed is they never show tooltip above (they always show at bottom) that's why this issue is not happening with Edge.

[2020-04-14 08:18] ivanicin commented on #2273
From the theory standpoint yes, from the practical standpoint no. Meaning if RichTextBlock  supported all text formattings, yes, but it doesn't support even some basic things let alone some more complex things.

[2020-04-14 09:06] cirrusone commented on #1500
In no particular order of things that are often requested by clients that a grid should support

1.Ability to save, load and build filters. Eg filter to linq expression, filter to SQL query, filter to expression tree and the reverse. Example - https://querybuilder.js.org/demo.html
2. High speed real time data capabilities, performance matters.
3. Ability to specific sort order, eg i. sort high/low

[2020-04-14 09:50] agnauck commented on #1829
I can easily reproduce this also with a much low number of items (eg. 500).
It seems to depend also on the size/height of the individual items. Or on the spread of the different item heights.

I used TextBlocks to reproduce and filled them with random sentences. Here is a screenshot of the items I used.

![2020-04-14 11_44_04-ItemsRepeaterWinUI](https://user-images.githubusercontent.com/1344950/79

[2020-04-14 11:16] chingucoding commented on #2222
Do you want me to create the PR to a new prototype folder inside the WinUI repo?

My idea was that we just switch visual states and the end user can decide what action to take upon visual state switch, otherwise ItemsRepeater is just becoming a GridView with different layouts.

I've talked with @michael-hawker about this yesterday. Since he wanted to explore this too, what would be the best thing

[2020-04-14 11:27] ranjeshj commented on #2222
Yes. Please create a PR to a new feature branch named (feature\ItemContainerPrototype). The PR is just a way to comment on different parts of the code.

Yes. This option takes us closer to how ListViewItem works. You can still change what happens in the visual states by providing a style for the HandleContainer. One advantage I see with this option is ease of use since we can provide a default sty

[2020-04-14 11:37] DierkDroth commented on #430
Thanks for confirming.

My team did more research. Basically the problem is that resources defined in XamlControlResources can't be overwritten if both - XamlControlResources and the 'overwrite' - are defined in App.xaml.

However, the same works no problem if both - XamlControlResources and the 'overwrite' -  are defined at the FramewokElement level.

This seems to be inconsistent and likely shou

[2020-04-14 11:57] chingucoding commented on #2222
There currently is no branch "feature\ItemContainerPrototype" and since I do not have write access to the repository, I can't create it. Do you want me to create the PR just inside my fork or towards master branch of this repo?

Is that the direction we want to go? Currently almost any aspect of ItemsRepeater is more like "choose what you want, nothing preconfigured" and providing a Container that

[2020-04-14 12:08] ranjeshj commented on #2222
Yes. against master should be fine as well.

Making it easier to consume would involve providing some defaults. If there is a way to completely replace the visuals, then it is probably ok.  I agree that the default container would have a lot more than what one would need (similar to ListViewItem), but it could be a quick way to provide behavior/visuals that matches the current ListView for someone

[2020-04-14 12:21] chingucoding commented on #2222
I see, yes that makes sense. Created #2284 now with updated handle container.

[2020-04-14 13:06] jtorjo opened #2285 "MediaPlayer in FrameServer mode - sometimes returns blank frames"
**Describe the bug**

When using MediaPlayer with `IsVideoFrameServerEnabled=true`, and handling VideoFrameAvailable, sometimes I get blank frames (basically, the whole screen is black).

**Steps to reproduce the bug**

I'm writing a class to preview specific video frames. I have a function `public get_video_frame_info get_closest_frame(double ms)`, which gives me the closest frame I have cached.

[2020-04-14 13:16] jtorjo opened #2286 "MediaPlayer in FrameServer mode - sometimes it sends VideoFrameAvailable events indefinitely on the same frame"
**Describe the bug**

Using MediaPlayer with `IsVideoFrameServerEnabled=true`, it will sometimes send the VideoFrameAvailable indefinitely.

Every now and then, it comes back to normal (sending it one once, when it reaches a frame) - at this point, I can't figure out why this is happening.

**Steps to reproduce the bug**

You can use the example from https://github.com/microsoft/microsoft-ui-xaml/

[2020-04-14 14:57] ranjeshj commented on #1829
@agnauck please do share the repro app. Thanks.

[2020-04-14 15:29] ranjeshj opened #2287 "Add a bit of padding to NavigationViewItem to avoid occluding expand/collapse chevron"
Scrollbars should not occlude the expand collapse chevron.

![navview](https://user-images.githubusercontent.com/28935693/79243035-f1942c00-7e29-11ea-863b-aa533d705846.jpg)

[2020-04-14 15:43] agnauck commented on #1829
@ranjeshj I published a demo app here:
https://github.com/agnauck/ItemsRepeaterWinUI

here you can adjust the number of items:
https://github.com/agnauck/ItemsRepeaterWinUI/blob/7b20d82c5c864ced0a601e069207d8a4cc08427d/MainWindowViewModel.cs#L27

here you can the height of the items by adding more words or sentences to the demo data generator:
https://github.com/agnauck/ItemsRepeaterWinUI/blob/mas

[2020-04-14 15:45] ccornici commented on #2264
I wonder if @ranjeshj saw you tagging him above @chingucoding 😄

[2020-04-14 17:03] djordje200179 commented on #2245
Which new controls can we expect in WinUI 3?

[2020-04-14 18:12] Felix-Dev commented on #2287
I took a look at this and I'm having a question here. This is the current XAML code for the NaigationViewItem in left mode (content and chevron):

[code]
Why the width of 40 and the left margin of -16 for the expandCollapseChevron?

In my experimental code, I decided to use the same right margin for the chevron which is used for the content (16) and only set the width of the parent grid of the che

[2020-04-14 18:23] ranjeshj commented on #2287
@ojhad for the negative margin question.

[2020-04-14 20:16] ranjeshj commented on #2287
The entire chevron and hit target associated with it should move so that it is offset from the expanded scrollbar by 4 pixels. Can you share a picture of that with and without the scrollbar. This looks like an issue everywhere because the ScrollBar always seems to occlude the content. The problem with moving the chevron is that when there is no scrollbar, the chevron is going to look too far from

[2020-04-14 20:20] ranjeshj commented on #2277
@ojhad as FYI

[2020-04-14 20:23] ranjeshj commented on #2269
@joshkoon There does not seem to be a good fix for this issue and there are some workarounds. Would the workarounds suffice for you ? @anawishnoff as FYI.

[2020-04-14 21:20] Felix-Dev commented on #2287
@ranjeshj Using a margin of 16 (scrollbar thickness) + 4 (padding) = 20 gives the following images (margin the same for the content presenter and the chevron):

![image](https://user-images.githubusercontent.com/1398851/79275168-fdbdcf00-7ea5-11ea-86c2-1c006d9e7466.png)

![image](https://user-images.githubusercontent.com/1398851/79275203-0d3d1800-7ea6-11ea-93d2-53c392a87d4c.png)

![image](https://

[2020-04-14 22:55] stevenbrix opened #6600 "Perf: Minimize Reflection: Custom ComWrappers for WinUI"
The `ComWrappersSupport.InitializeComWrappers` method in `WinRT.Runtime.dll` has this summary:

[code]

Anything that can "fast-track...instead of using reflection" sounds like exactly what we want for WinUI - I'm just not exactly sure what this would look like. Is this something that needs to be generated by WinUI - or can cswinrt provide this for us? If WinUI needs to generate these wrappers, wh

[2020-04-14 23:14] michael-hawker commented on #780
Just realized I couldn't inherit from `AutoSuggestBox`... 😢

[2020-04-15 00:21] ojhad opened #2288 "Move NavigationViewItemPresenter ContentPresenter margin to a resource"
As of now, the "ContentPresenter" margin in `NavigationViewItemPresenter` is being defined in the control template. Move it to a resource so that it can be light weight styled as mentioned in [this comment](https://github.com/microsoft/microsoft-ui-xaml/pull/2280#discussion_r407627637).

[2020-04-15 01:17] duke7553 commented on #2245
Can @marb2000 talk a bit more about why WinUI Desktop apps won't use CoreWindow? Do these separate code paths provide a decent enough method to abstract away the differences between the traditional window design vs CoreWindow? (i.e. Caption button size/removal, extending content into titlebar, etc.)

Finally, what role will AppWindow play in this once it becomes a component of a later WinUI 3.x re

[2020-04-15 01:25] duke7553 commented on #2245
Will we see updated docs that reflect the change from UWP/Win32 => "Windows Apps" ?

Is there anything I can do to contribute to these docs before they're published? Perhaps WinRT, Win32, and .NET should be introduced better in the docs to reflect this change.

Finally, is there any work being done on bringing elements of newer WinUI (rounded corners, updated acrylic, fluid animations) to in-box a

[2020-04-15 03:27] MikeHillberg commented on #931
That looks good to me.

Nothing seems to be perfect, the curly braces look a little like a markup extension (but it's OK because this isn't in column zero), and square brackets looks like an array reference.

[2020-04-15 05:06] adambarlow commented on #2240
I would not be opposed to this.
@llongley what would be required here to achieve this?

[2020-04-15 06:27] VincentH-Net commented on #804
@gulshan said:

Actually, it's not that hard. #CSharpForMarkup is now built-in in Xamarin Forms as the **C# Markup** feature, and makes it easy to combine declarative and procedural buildup of markup.
It is currently in the 4.6 prerelease NuGet. The documentation will go live when 4.6 goes stable; for now see [the merged Xamarin Forms PR](https://github.com/xamarin/Xamarin.Forms/pull/8342) for ful

[2020-04-15 07:09] Pinox commented on #2245
Some clarity for me,    When will UWP (WinUI 3.0) work with .net core and which version of .net core ?  Current version or do we have to wait for .net 5 at the end of this year.   If it is .net 5 is it already possible to create a UWP app with  .net 5 preview and WinUI 3.0 ?

[2020-04-15 07:57] jtorjo opened #2289 "Should be able to load bitmaps in non-UI threads"
# Proposal: Should be able to load bitmaps in non-UI threads

## Summary
We should be able to load bitmaps in non-UI threads. I'm talking about BitmapImage and WriteableBitmap classes.

## Rationale
Forcing loading of bitmaps in the UI thread is a huge bottleneck when you need to deal with hundreds of bitmaps.

I completely understand forcing drawing the bitmaps only in the UI thread, but just loa

[2020-04-15 10:56] jtorjo commented on #2285
Another note: it seems that sometimes CopyFrameToVideoSurface fails silently. If we just had a way to know it failed, I'd be happy.

Like, simply return a bool.

[2020-04-15 11:13] ranjeshj commented on #2240
@MikeHillberg  @stevenbrix  Is this something that needs to be fixed in the interop layer ?

[2020-04-15 11:33] weltkante commented on #2285
I assume you made sure the "obvious" race condition doesn't happen where the next frame arrives before the previous finished copying? Your snippet above does not protect `rt.render_target` from being overwritten by the next available frame.

[2020-04-15 11:57] widersky commented on #2287
Scroll bars needs visual overhaul IMO to be less distracting at all. And, of course, rounded :)

[2020-04-15 11:59] jtorjo commented on #2285
@weltkante The use_render_target is so I can continue processing frames while I copy them to SoftwareBitmaps (basically, I lock a render target until it's done copying).

Even if you slightly modify the code to not use Task.Run(), the black frames will still happen.

[2020-04-15 12:01] ranjeshj commented on #2040
@llongley any thoughts on a fix for this issue ?

[2020-04-15 12:01] chingucoding opened #2290 "IndexPath: Post API review adjustments"
Once IndexPath has gone through API review we should do the following things:
- Adjust API (names, etc)
- Move IndexPath to public
- Switch from Vector to Array for storing the path indices

The API review can be found here: https://github.com/microsoft/microsoft-ui-xaml-specs/pull/81

[2020-04-15 12:09] ranjeshj commented on #2287
@widersky  - I think that was already proposed [here](https://github.com/microsoft/microsoft-ui-xaml/issues/987) atleast the rounded part.

@Felix-Dev, can you also add a picture without the indicator (not scrollable at all). I think the sliver will just go away in that case.
@chigy do the pictures look reasonable to make this update ?

[2020-04-15 12:18] Felix-Dev commented on #2287
@ranjeshj
![image](https://user-images.githubusercontent.com/1398851/79336345-defe1d80-7f23-11ea-84d0-0f48021fe823.png)

[2020-04-15 12:28] gulshan commented on #804
@VincentH-Net I followed the PR and I really admire what you did. But what I tried say is, Jetpack compose supports code like this-
[code]
We cannot put a loop or a conditional statement within a collection initializer in C#.

[2020-04-15 12:36] jtorjo opened #2291 "MediaPlayer in FrameServer mode - when changing position, the first few frames are incorrect"
**Describe the bug**

This is **really bad**. I'm trying to capture video frames by setting the player's `.PlaybackSession.Position` to a specific position.

I'm grabbing frames from several locations in the video, so I do change `.Position` quite a lot.
When I do change the Position, the first few frames are incorrect. By doing quite a bit of trial and error, this seems to be for the first 2-3 fr

[2020-04-15 12:50] ranjeshj commented on #1820
This is really weird behavior. I'm not sure yet why the expansion and populating of the children collection would affect the selection state. @zhuxb711 One hacky workaround to unblock you could be to save and restore the selection after the expand operation like so.

 var oldSelectedNode = FolderTree.SelectedNode;
            if (args.Node.HasUnrealizedChildren)
            {
                await

[2020-04-15 13:02] JohnnyWestlake commented on #2289
As mention in the `Optimize Image Resources` section here https://docs.microsoft.com/en-gb/windows/uwp/debug-test-perf/optimize-animations-and-media#optimize-image-resources , decoding is actually already done off the UI thread even if you create the BitmapImage itself on the UI thread, as long as you use SetSourceAsync(...)

To preserve XAML optimisations you should also make sure the BitmapImage

[2020-04-15 13:04] #2228 closed

[2020-04-15 13:08] jtorjo commented on #2289
@JohnnyWestlake That is fine. But at this time, you can't even create a BitmapImage on a non-UI thread.

[2020-04-15 13:16] JohnnyWestlake commented on #2289
Yes, but it is a UI construct for use on UI only, and by design of how XAML works, UI thread elements *need* to be manipulated on the UI thread to stop the universe imploding / requiring thousands of locks and waits.

Creating a blank BitmapImage on the UI thread doesn't cost much, seeing as it doesn't do much on creation. It's just a container. Calling SetSourceAsync doesn't cost much either, as

[2020-04-15 13:16] Kinnara opened #2292 "RadioButtons control initiates unexpected calls to IValueConverter.ConvertBack"
**Describe the bug**
RadioButtons control initiates unexpected additional calls to IValueConverter.ConvertBack with first param value (selected radio button index) equals '-1'.

**Steps to reproduce the bug**
1. Clone or download [the test project](https://github.com/Kinnara/RadioButtonsTest) and open MainPage.xaml.cs.
2. Set the breakpoint in ConvertBack function.
3. Debug the project and click o

[2020-04-15 13:51] ryanbley3 commented on #2127
Feedback hub will not load when this problem is occuring. Here is the error in the application log:
Faulting application name: PilotshubApp.exe, version: 1.1907.1911.11002, time stamp: 0x5dc9c390
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.18362.657, time stamp: 0xda02d3eb
Exception code: 0xc000027b
Fault offset: 0x0000000000712ec0
Faulting process id: 0x2700
Faulting application star

[2020-04-15 15:32] Austin-Lamb commented on #2291
The WinUI team doesn't author the MediaPlayer itself, just the MediaPlayerElement that ties MediaPlayer into a XAML element tree.  I've forwarded this feedback on to the other team at Microsoft that owns MediaPlayer.

[2020-04-15 15:32] Austin-Lamb commented on #2286
The WinUI team doesn't author the MediaPlayer itself, just the MediaPlayerElement that ties MediaPlayer into a XAML element tree.  I've forwarded this feedback on to the other team at Microsoft that owns MediaPlayer.

[2020-04-15 15:33] Austin-Lamb commented on #2285
The WinUI team doesn't author the MediaPlayer itself, just the MediaPlayerElement that ties MediaPlayer into a XAML element tree.  I've forwarded this feedback on to the other team at Microsoft that owns MediaPlayer.

[2020-04-15 15:38] Austin-Lamb commented on #2276
@chingucoding - could you describe more about what you'd like to profile?  Memory usage?  CPU cycles?  Disk I/O?

You mentioned wanting to see time spent during "different layout stages" - can you clarify what you mean there?  Do you mean just measure vs. arrange?  Or would you want to see template expansion as a separate 'stage'?  What about phased rendering (x:Phase)?

We are working on a perf l

[2020-04-15 15:38] stevenbrix commented on #2240
Yeah this is a known issue. I'd close this as a dupe of #1981

[2020-04-15 15:39] chingucoding commented on #2277
@ojhad @ranjeshj I would like to look into this. Would it be better to wait until the other NavView PR's have gone through, especially  #2271 to avoid merge conflicts?

[2020-04-15 15:40] stevenbrix commented on #2276
Adding @billwert from the .NET perf team in case he has any ideas

[2020-04-15 15:46] dotMorten commented on #2245
As usual, I'd like a status update for `SwapChainPanel` support :)

Will we be able to multi-target WinUI class libraries for UWP and Win32? Or will we even need to multi-target, but a single DLL that has a WinUI dependency will "just work" on both platforms?

[2020-04-15 15:52] chigy commented on #2287
@Felix-Dev , could you show the entire list not just snapshot?

[2020-04-15 15:53] chingucoding commented on #2276
The main things I would like to profile are Memory, CPU usage/cycles, I/O and networking.

Regarding the different layout stages: Yes I would mainly think about measure and arrange, since there aren't any other big UI lifecycle stages right? Phasing could indeed be interesting, but I think it would be to much right now, and would consider it more of a nice to have.

Something that might also be in

[2020-04-15 16:16] stevenbrix commented on #2276
All of this sounds like information we gather in the Diagnostics Tools window, but I'm not sure how discoverable it is.

Adding @SvetBonev and @srdjanjovcic who are the owners of those tools.

[2020-04-15 16:25] jtorjo commented on #2291
@Austin-Lamb Thanks! Where is that - I can post to another repository if needed. Anyway, I'm really curious about this, because this is pretty critical to me.

For the other 2 issues, I can have workarounds, but to this one, I don't know if there's any workaround.

[2020-04-15 16:29] Felix-Dev commented on #2287
@chigy
![image](https://user-images.githubusercontent.com/1398851/79362445-e5ea5780-7f46-11ea-8b21-dc98eacd6df3.png)

Let me know if you need more images.

[2020-04-15 16:51] stevenbrix commented on #2237
This seems like it would require a fundamental difference in design for `{x:Bind}`.

How do you propose we enable this to happen?

[2020-04-15 16:55] stevenbrix commented on #1557
I'm going to close this is duplicate of #1981

[2020-04-15 16:55] #1557 closed

[2020-04-15 17:01] MikeHillberg commented on #2237
Haven't thought about syntax, but it feels like some kind of a [let clause](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/let-clause) scenario.

[2020-04-15 17:04] stevenbrix opened #2293 "XamlCompiler improperly finds attached properties/methods"
Create a new C# app and put this in MainPage.xaml.cs:
[code]

This causes the following incorrect code to be generated:
[code]
Which leads to this error:

[code]

[2020-04-15 17:05] stevenbrix commented on #2293
Note that this is because the Xaml Compiler looks for static method that start with the `Set`. So if you hit this issue, you can workaround it by changing the method from `SetImageSourceAsync` to something like `DoSetImageSourceAsync`

[2020-04-15 17:48] Felix-Dev opened #2294 "Proposal: TabView should expose internally used ItemContainerTransitions as a property"
# Proposal: TabView should expose internally used ItemContainerTransitions as a property

## Summary
This came up recently in the UWP Discord Community. Someone wanted to remove the default animations of the TabView control (animation used for adding/deleting/reordering/... TabViewItems). In order to do that, the `TabViewListView` style can be overriden in XAML:
[code]
(Using code-behind is also p

[2020-04-15 17:52] Kinnara commented on #2277
The reason why calling `UpdatePaneButtonWidths` in `OnApplyTemplate` doesn't fix this is that `paneToggleButton`'s template hasn't been applied by the time the `NavigationView`'s `OnApplyTemplate` is called. And calling `GetTemplateChild` won't realize the child if the template hasn't been applied. Waiting for the `Loaded` event won't always help either, since a collapsed element can be loaded wit

[2020-04-15 17:53] Austin-Lamb commented on #2189
The WinUI team doesn't author the MediaPlayer itself, just the MediaPlayerElement that ties MediaPlayer into a XAML element tree. I've forwarded this feedback on to the other team at Microsoft that owns MediaPlayer.

[2020-04-15 18:07] StephenLPeters commented on #2277
@chingucoding I believe we would not accept a fix to this until #2271 is in so if you'd rather wait I think that is reasonable.

[2020-04-15 18:11] chingucoding commented on #2277
I'll wait then until #2271 is through :)

[2020-04-15 18:13] stevenbrix commented on #2237
As the user sees things, `x:Bind` doesn't use `DataContext` - that is what I was referring to about the fundamental difference in design.

Now we want to add a mode where it does bind to `DataContext` in some scenarios, but in others it uses the Page/UserControl.

I'm all for this, just not sure how to rationalize it in a way that doesn't cause things to blow up in complexity

[2020-04-15 18:17] ranjeshj commented on #2237
Propagating DataContext down the tree is quite expensive. If we can selectively propagate and scope down the tree explicitly using x:Bind, that would be great. In this specific scenario would x:Bind ViewModel.Phones  work ?

[2020-04-15 18:21] billwert commented on #2276
Hello!

As you point out the Diagnostics window has lots of good information here. It works by parsing the ETW events emitted by the UWP platform to show the breakdowns in question.

There's not a good off the shelf solution to this, sadly. Benchmark.NET is not really what you want for this, though it can be used for the purpose; it's much better at microbenchmark sort of things.
I don't know the

[2020-04-15 18:52] chingucoding commented on #1243
It seems like that the [UIViewSettings.UserInteractionMode](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.ViewManagement.UIViewSettings?redirectedfrom=MSDN&view=winrt-18362#Windows_UI_ViewManagement_UIViewSettings_UserInteractionMode) is our best bet to detect whether we are in tablet mode or not.

So if that's a suitable API to use here, I would like to fix this issue.

So to clarify, in Ta

[2020-04-15 19:32] deanchalk commented on #2292
I had a quick look at this out of curiosity
When the initial binding is setup, we get a hit on the Convert method with the current index (0), which is expected (Radio 1 is selected by default).
When you change to the Radio 2 button, the first button Radio 1 is deselected within the C++ source code and there are no buttons selected, so a -1 value is sent to ConvertBack. Then the second Radio is sel

[2020-04-15 20:09] ranjeshj commented on #2294
Currently we can retemplate the control to change this. Once we move TabView over from ListView to use ItemsRepeater, we will be using the ElementAnimator API instead. So I think we should not do this and for now let folks re-template to achieve this behavior. @stmoy would you agree ?

[2020-04-15 20:13] ranjeshj commented on #2292
@Kinnara can you describe what you are trying to achieve ? If you do a two way binding, I would expect convertback to be called. Is the issue that when switching from one item to the next, RadioButtons.SelectedIndex goes temporarily to -1 ?

[2020-04-15 20:18] ranjeshj commented on #2127
@ryanbley3 The log information you shared does not provide details to debug the issue. Can you try collecting a dump manually and sharing it ? Details on how to collect a local dump can be found [here.](https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps)

[2020-04-15 20:20] stmoy commented on #2294
Agreed. One of the big motivators to move to ItemsRepeater is animations. When we move to ItemsAnimator, we won't use ItemContainerTransitions so we shouldn't surface this API at this time.

[2020-04-15 20:46] weitzhandler commented on #2237
It's essential that as we drill down lower into the tree we should always be able to set deeper scopes of the bindings, like we can with legacy `Binding`. For example:

[code]

[2020-04-15 20:53] #2294 closed

[2020-04-15 21:24] jp-weber opened #2295 "Windows.UI.Xaml.dll read access violation: TeachingTip & static data source => **cornerRadius** was nullptr"
**Describe the bug**
By binding the TeachingTip (IsOpen) to a static data source, the app crashes after navigation to a page if go back and then open the TeachingTip.

[code]

test app to reproduce:
https://github.com/jp-weber/WinUITeachingTipBug

**Model**
[code]

**Data source**
[code]

**View**
[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Right click on an item to

[2020-04-16 00:04] chigy commented on #2287
@Felix-Dev , is this update something we can run and try out? Hard to figure out the experience with image alone.

[2020-04-16 03:28] h82258652 opened #2296 "Connected animation break down the app without exception"
**Describe the bug**

With some conditions, the connected animation will break down the app without any exceptions.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. The animation source is an Image control and the source is a gif image.
2. The animation target opacity property set to zero.
3. During the connected animation, set source opacity property to zero.

**Expected behav

[2020-04-16 04:25] Kinnara commented on #2292
Yes. Other selectors like ListBox or ListView (or even the original ListView-based RadioButtons, I beleive) don't have this intermediate step, and it would be reasonable for one to expect RadioButtons doesn't either. It certainly can be worked around in app code but it would be nice if RadioButtons can be changed to match other selectors in behavior. BTW the use of a converter is not really releva

[2020-04-16 08:01] VincentH-Net commented on #804
@gulshan said

Thanks for the complement!

Actually you **can** do this because #CSharpForMarkup has built-in helpers to mix-in logic with declarative markup: `.Invoke()` and `.Assign()`.
E.g. above could be:
[code]

Or, if you want the label text to update to changes in person, you can add a calculated property and bind it like this:
[code]

Or, you could factor out the logic to a method that eit

[2020-04-16 11:52] Sergio0694 commented on #931
@MikeHillberg posting here since it's still relevant for generic types in XAML in general, would this issue also cover the proper overload resolution of generic methods used in `x:Bind` paths? Right now they _\*kinda\*_ work but you need some tricks to make the code compile.

For instance, suppose I have this property in my viewmodel:

[code]

And then I have this extensions class:

[code]

Now su

[2020-04-16 12:44] ranjeshj commented on #2292
Got it. We should avoid going to -1 temporarily. It is likely because we do that when an item gets unchecked [here.](https://github.com/microsoft/microsoft-ui-xaml/blob/1a39aa787427b18264b4e154cb8c7225fea6fdb3/dev/RadioButtons/RadioButtons.cpp#L420) . @StephenLPeters do you foresee any issues if we remove the intermediate -1 ?

@Kinnara  Thanks for filing this issue. Would you like to contribute a

[2020-04-16 14:29] sharpninja commented on #931
[code]
Solved.  How the CS compiler will see that `p0` is typed and use the correct overload and `result` will be of `T`.

[2020-04-16 14:54] stevenbrix commented on #1891
@weltkante, so are you saying that you have native desktop applications that consume managed components?

[2020-04-16 15:16] ryanbley3 commented on #2127
[Here is a link](https://cincinnatilibrary-my.sharepoint.com/:u:/g/personal/ryan_bley_cincinnatilibrary_org/EctGmZum329GvHZsq80PKOwBIavXewMGxp9DXvSkYBKkPQ?e=9uHRya) to a dump.  Let me know what I can do or provide next.

Thanks!

[2020-04-16 15:52] Felix-Dev commented on #2287
@chigy I uploaded my current code in a branch of my WinUI fork [here](https://github.com/Felix-Dev/microsoft-ui-xaml/tree/user/Felix-Dev/navviewitem-padding). You can try to compile that branch (or ask the team to do that) and see the current padding live. Unfortunately, I could not create an app package of the WinUI TestApp, which I've been showing in all the pictures above, and upload that on Gi

[2020-04-16 17:03] gulshan commented on #804
@VincentH-Net Actually SwiftUI and Jetpack Compose both use a little bit of code generation along with built-in language syntax, specially for "Container" view (with children views), like this- https://stackoverflow.com/a/56474164/97714
I don't know if this is possible in C#. I think it will be something really nice to have in C#.

[2020-04-16 17:32] weltkante commented on #1891
Yes, we have applications which are mixing managed/native code and are communicating through COM interfaces/objects. That relationship goes both ways.

[2020-04-16 18:01] anawishnoff opened #2297 "Proposal: Change keyboarding behavior for HierarchicalNavigationView expand/collapse"
# Proposal: Change keyboarding behavior for HierarchicalNavigationView

## Summary
Currently, users on a keyboard use the space or enter key to expand a flyout, and the esc key to collapse/close/exit the flyout. Instead, arrow keys should be used to expand and collapse flyout sub-menus in Left compact and Top modes.

In top mode: the down arrow key will expand the flyout. The esc key will still be

[2020-04-16 18:24] anawishnoff commented on #2140
@mdtauk I like this idea - it does seem natural to have a badge control with properties exposed to the NavigationViewItem, and it also makes it easier to attach important properties that you mentioned above like placement, type, etc.

However, I'm trying to visualize the markup for the badge control. Take some standard NavigationView markup:

[code]

I think that if Badge was a separate control, y

[2020-04-16 18:46] ccornici opened #2298 "ComboBox Dictionary binding bug"
**Describe the bug**
When binding a `Dictionary<string, string>` to a `ComboBox` having the `SelectedValuePath="Key"`,
- the `SelectedItem` is not being updated.
- the `SelectedItem` set in the MainViewModel ctor is not being reflected in the UI

**Steps to reproduce the bug**

[Here's a repo which reproduces the issue.](https://github.com/ccornici/potential-uwp-bug) Please ignore the other contro

[2020-04-16 19:07] ocalvo opened #2299 "Discussion: Should we localize all error messages?"
# Discussion: Should we localize all error messages?

As a former Spanish-speaking student of computer science, I find that when learning a new technology and you don't speak the language, having errors and documentation in your native language is incredible useful, I think we have an opportunity here for improvement here.

## Related Links

[2020-04-16 19:39] benstevens48 opened #2300 "Proposal: [External] Enable users to download different versions of an app from the Store (especially LTS and beta)"
Firstly, apologies for submitting an issue which is not directly related to WinUI, but I think I read somewhere that this repository was accepting issues regarding general UWP app development, and for me as a developer the whole development process is connected. Please let me know if there is a better place to submit this issue (other than the Feedback Hub, which I have already tried). If not, I h

[2020-04-16 19:43] chingucoding commented on #2140
@anawishnoff Something that I think might be a suitable API could be:
[code]

Where BadgeNavigationViewItem is a subclass of NavigationViewItem. That way, we don't have to push the overhead on every NavigationViewItem and just have the additional overhead on items that will have that. Since devs will know which category will have badges, they can use the type for them. In the worst case, they make

[2020-04-16 20:51] jtorjo commented on #2291
I've played with this for quite a bit. The incorrect positioning happens while I change the `player.PlaybackSession.Position`. Contrary to docs, it can happen to up to 3 frames (so, I change the position, and then the first 3 received frames are incorrect).

I've temporarily solved this by listening to .`SeekComplete`, and from then on, disregarding the first 2 frames. It's pretty far from ideal.

[2020-04-16 23:10] chingucoding commented on #1853
It seems like that the NumberBoxAutomationPeer is causing issues here. As we present the NumberBox as `Spinner` and inside that, we have the textbox.

So what would the best way to fix this issue? If we are not a Spinner in the UIA tree, the increase/decrease buttons are problematic.

As to why it does not announce the first time: No idea. The Accessibility Insights app picks the name up properly,

[2020-04-16 23:45] chigy commented on #2287
@Felix-Dev , thank you for that. Please go ahead with the value you have in the image.

[2020-04-17 00:20] mdtauk commented on #2140
I like @chingucoding 's suggestion of having a **BadgeNavigationViewItem** so it improves performance of only using that template sparingly.

I was suggesting it be added to all NavigationViewItems, but even with the badge hidden by default, it could make the control templates too heavy.

----

An alternative would be to have a badge content presenter on all NavigationViewItems - then allow any Xa

[2020-04-17 00:29] mdtauk commented on #2297
This behaviour would have to adapt to handle **Right to Left** scenarios, and how would this affect those using a gamepad?

[2020-04-17 00:50] maxkatz6 commented on #2299
I am not sure, if it is really useful.
1. Most important fact, that it's a way more easier to find errors on English.
2. Services like AppCenter or HockeyApp group errors by exception messages. And sometimes we can see same error, but duplicated with translation on user PC language.
3. Usually error messages written with easy to understand English.
And more important fact, that it's a way more eas

[2020-04-17 01:44] asklar opened #2302 "UWP XAML Rotation property does not work from markup/creation"
(migrated from ADO 23848007)

The [Rotation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.rotation?view=winrt-18362) property does not work from markup. It however works when updating it in code behind (e.g. in a button click handler) but it _should_ just work. An alternative is to use a rendertransform.

[code]

[2020-04-17 01:49] #1610 closed

[2020-04-17 05:03] codendone commented on #2278
Likely a bug in pixel snapping, either in TextBlock's baseline alignment or in ScrollViewer's snapping.

[2020-04-17 07:00] weltkante commented on #2299
Considering .NET Core recently switched back to localizing exception messages it would be weird if WinUI wouldn't be following.

I don't know how its done in UWP/WinUI databinding, but WPF and WinForms databinding expose any error message happening during the databinding to the user. This means any exception that can reasonably be thrown in databinding writeback scenarios must be localized.

If Wi

[2020-04-17 07:42] michael-hawker commented on #2164
@stevenbrix is this with or without the new 'show just my xaml' feature?

[2020-04-17 07:43] michael-hawker commented on #2112
I've tested this out now and this appears to work, though when I rebind the collection, I do see that it does 'blink' between showing the root and having it expanded.

[2020-04-17 08:09] michael-hawker opened #2303 "Unhandled exception with TreeViewItem IsSelected"
**Describe the bug**
In a certain scenario, I'm getting an unhandled exception from within MUX that takes down the app/managed debugger when trying to set a `TreeViewItem.IsSelected` to `true`.

**Steps to reproduce the bug**
1. Clone this project: https://github.com/michael-hawker/XmlSyntaxVisualizerUWP
2. Turn on mixed managed/native debugging
3. Run the project
4. Once the editor in the top-lef

[2020-04-17 08:43] Felix-Dev commented on #2164
@michael-hawker Good call. Disabling *Just My XAML* now shows the created TreeViewItems as expected:

![vs_treeview_vtree](https://user-images.githubusercontent.com/1398851/79550020-11308c00-8098-11ea-9d86-c0b2e04227b8.gif)

@stevenbrix Seems like we can close this issue 🙂

[2020-04-17 09:02] michael-hawker commented on #2164
@Felix-Dev happy to help! 🦙

[This is a new feature](https://docs.microsoft.com/en-us/visualstudio/debugger/general-debugging-options-dialog-box?view=vs-2019) which I was enabled by default not long ago in VS. So, if you normally populate your items control via a collection, you won't see the containers by default vs. if you were writing a sample and putting all the items by hand in your XAML.

[2020-04-17 09:10] jtorjo commented on #2289
@JohnnyWestlake Sorry for the late reply. I've done some tests creating lots of BitmapImages on the UI thread. It is indeed very fast.

In this case, `SetSourceAsync` should be callable from any thread - since you're doing the processing on another thread, why force calling this from the UI thread? (I did test, and an exception gets thrown if SetSourceAsync is called from a non-UI thread)

Also, m

[2020-04-17 10:32] Kinnara commented on #2292
Sure, I'll try to find some time for it next week.

[2020-04-17 13:50] stevenbrix commented on #2164
I keep forgetting about this feature ☺️

@Felix-Dev if you have a custom `ItemTemplate` for the case where you're binding to a collection, do the items show up then?

[2020-04-17 13:51] MikeHillberg commented on #2299
WinUI is implemented as WinRT, and WinRT doesn't have a way to set an Exception.Message. So the error messages that WinUI generates are visible in the debugger, but should never be showing up to an end user like they do with WPF/WinForms. (WinUI generates errors using [RoOriginateError](https://docs.microsoft.com/en-us/windows/win32/api/roerrorapi/nf-roerrorapi-rooriginateerror), which is designed

[2020-04-17 16:26] chingucoding commented on #1595
I can't seem to repro this with the latest release of the XAML Controls Gallery. I have tested this on insider build 19608, and the collapsed/expand state get's only announced once.

Maybe this was an issue with narrator which is fixed now, and we can close this issue?

[2020-04-17 16:39] Felix-Dev commented on #2164
@stevenbrix Works as well.

[2020-04-17 16:43] stevenbrix commented on #2164
Awesome, closing this issue then!

[2020-04-17 16:43] #2164 closed

[2020-04-17 17:31] chingucoding commented on #2247
I think there isn't a solution for having the same object multiple times except using indices.

In most cases, having just the object is enough, but in some corner cases that can get problematic. To cover every case, we should probably include the indices too.

Would it make sense to decouple the event args from batching and have two proposals? Adding the event args is something we should probably

[2020-04-17 17:53] benstevens48 opened #2304 "Proposal: OrientedLine shape or alternative to support stretched line with StrokeDashArray"
Currently if you want to create a horizontal (or vertical) divider that is a dashed line, it's quite difficult. At the moment I use a bit of an ugly hack. I use a rectangle with height 2px, a clip 1px high and very wide, and a margin-bottom of -1px. I suppose I could also create a templated control and have a line updated on the `SizeChanged` event in the template, but really this capability shoul

[2020-04-17 19:36] chingucoding commented on #678
There are two/three ways we could improve the helpers:

- Rename them to `GetMajorSize` or `GetPointerToMajorSize`
- Provide a static SetMajorSize function that takes a float and a Size/Rect pointer
- Do both

What would be the best way to solve this @ranjeshj @StephenLPeters @jevansaks (because you were one of the people confronted with this during review) ?

[2020-04-17 20:01] chingucoding commented on #1004
I've created a PR over at the docs repo to fix the documentation, so we probably can close this issue now or move it to https://github.com/MicrosoftDocs/windows-uwp

[2020-04-17 22:05] chingucoding commented on #1228
There are different solutions we could use to fix this:
1.Add template settings to the AppBarToggleButton and do the calculations for that in there. That however won't be possible until WinUI 3.
2. Create a converter that takes the system accent color and returns the appropriate foreground color.

@ranjeshj What are your thoughts?

[2020-04-17 22:12] chingucoding commented on #340
It seems that for appx tests, you "only" need vstest console, which apparently ships with [the Microsoft.TestPlatform nuget package](https://www.nuget.org/packages/Microsoft.TestPlatform/). Since nupgk files are just zips and inside that zip, there is actually a vstest.console.exe we could use for the tests. Maybe that is a possible way to deprecate TAEF tests?

[2020-04-17 23:08] chingucoding commented on #1882
It seems like that the issue is caused by the following line:

https://github.com/microsoft/microsoft-ui-xaml/blob/1a39aa787427b18264b4e154cb8c7225fea6fdb3/dev/NumberBox/NumberBox.cpp#L587

One possible workaround (albeit not the perfect fix) is to select the complete text, that is change the line to:
[code]
which would result in the text being announced as "[value] selected" where value is the cu

[2020-04-18 00:56] Talal7000 commented on #2304
Hhh

[2020-04-18 05:23] mdtauk commented on #844
I think when this is looked at again, both for the selection indicator, usage, and font sizes - there should be some consistency brought to it in WinUI, FastDNA, and FluentUI

![image](https://user-images.githubusercontent.com/7389110/79628877-1562b500-813d-11ea-8f17-e5c95097fd05.png)

[2020-04-18 05:23] mdtauk commented on #940
I think when this is looked at again, both for the selection indicator, usage, and font sizes - there should be some consistency brought to it in WinUI, FastDNA, and FluentUI

![image](https://user-images.githubusercontent.com/7389110/79628877-1562b500-813d-11ea-8f17-e5c95097fd05.png)

[2020-04-18 09:50] chingucoding commented on #1912
@robloo Would you like to add the inputscope or would you mind me creating a PR for this quickly?

[2020-04-18 10:40] gwiesner opened #2306 "Such a shit ui element"
The user expects the back button to navigate to the previous location in the app's navigation history...
Except they dont. In fact they probably won't even see it when their focus is on toolbar in opposite corner....

[2020-04-18 10:44] Felix-Dev commented on #1925
@teaP Are you currently working on this (or soon) or is this issue up for grabs for the community?

[2020-04-18 13:26] mdtauk opened #2307 "Proposal: WinUI Live Tile shadow spec and templates"
# Proposal: WinUI Live Tile shadow spec and templates

## Summary
With the new Microsoft Fluent app Icons, the Live Tile assets make use of shadows to help them stand out from the tile background.  With future WinUI releases, could Microsoft create Live Tile Asset templates, and detail the Shadow "recipe" so other apps can maintain a consistent design as they update apps and icons.

## Rationale

[2020-04-18 16:13] JensNordenbro commented on #1965
Hi!

Will the .Net5 support for WinUI3 be cross platform or Windows-only?

[2020-04-18 17:24] jp-weber opened #2308 "NavigationView: Side buttons of the mouse are interpreted as input"
**Describe the bug**
Side buttons of the mouse, which can be used for forward and backward navigation, also cause an input at a NavigationView. If you hover over an item and have previously selected another item and press the back button of the mouse, this is interpreted as input and back command.

**Steps to reproduce the bug**
1. Click on a NavigationViewItem
2. Hover with the mouse over another

[2020-04-18 19:42] weitzhandler commented on #1965
It'll be Windows only, but you'll be able to use the [Uno Platform](https://bit.ly/2Viimjx) to make your WinUI app run on Android, iOS, Mac and as a website (WASM).

[2020-04-18 20:52] benstevens48 commented on #1959
@chrisglein - it turns out there are other scenarios when the PointerExited event does not fire. I have discovered this while trying to implement a drag and drop. Suppose we have a FrameworkElement A that undergoes the follow events:  PointerEntered, PointerPressed, **pointer capture is taken by some other FrameworkElement B outside element A**, then the pointer is moved outside element A, then th

[2020-04-18 20:54] benstevens48 commented on #1959
Also, this doesn't just apply to mouse (I don't know if the 'area-Mouse' label added to this issue includes touch as well), because the PointerEntered and Exited events will fire for touch too (when in contact).

[2020-04-18 21:41] robloo commented on #1912
@chingucoding Thanks for the reminder. I would rather keep this assigned to me and I'll finish it soon. It's an easy one but it will force me to setup the dev environment and read through the contribution docs. This will make future contributions easier.

[2020-04-18 21:52] chingucoding commented on #1912
Okay, sure @robloo . If you need help with setting up the environment or if you have troubles compiling, feel free to ask :)

[2020-04-18 22:02] robloo opened #2309 "Proposal: Add a ColorPickerButton Control"
# Proposal: Add a ColorPickerButton Control

The color picker is a big help when using WinUI. However, it takes a lot of space. A common design practice is to preview the color in a small button. Pressing the button will open the color picker in a flyout for editing. There are lots of different implementations for this and Microsoft even provides an example here: https://docs.microsoft.com/en-us/w

[2020-04-18 22:39] robloo commented on #2306
The back button is handled on a per-app basis. It can part of the titlebar, in the NavigationView or a custom button within the app. To approach this we will need a lot more details such as which app or control and screenshots would be helpful.

The title is also against the code of conduct guidelines so I suggest you change it if you don't want this closed immediately. We've all been frustrated a

[2020-04-18 23:02] #2306 closed

[2020-04-19 02:45] LucaLindholm opened #2310 "Proposal: Add a SegmentedControl, like the one in iOS"
# Proposal: [Add a SegmentedControl, like the one in iOS]

## Summary
We should introduce a SegmentedControl, like the one in iOS, in order to have a simple control to let user pick from multiple choice, without the wasting of space from all the radiobuttons.

This is the control proposed: [https://i.stack.imgur.com/1qX7L.png](url)

## Rationale

* It could let devs to add a multi-choice control t

[2020-04-19 03:56] robloo commented on #2310
![](https://i.stack.imgur.com/1qX7L.png)

[2020-04-19 04:20] mdtauk commented on #2310
WinUI has the Pivot control that does this

[2020-04-19 06:50] #444 closed

[2020-04-19 09:12] Felix-Dev commented on #1959
This behavior is called out in the [docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.pointerexited?view=winrt-18362#remarks):

[2020-04-19 09:27] benstevens48 commented on #1959
@Felix-Dev OK, but we need an event that is guaranteed to fire after pointer entered else how are we supposed to do things like set a different cursor or visual state on hover? If pointer exited never fires then the cursor or visual state will be changed permanently.

The quote you mentioned seems to be in contradiction to the following quote lower down the page.

[2020-04-19 10:26] Felix-Dev commented on #1959
I don't think there is a contradiction here:

The case mentioned in the docs above is about another element *capturing* the pointer, and not one of the UI state changes listed in the paragraph you are quoting from.

[2020-04-19 10:43] benstevens48 commented on #1959
Ok, well regardless of what it says in the docs there needs to be a reliable way of changing visual state and cursor on hover without the change being permanent.

[2020-04-19 14:10] robloo commented on #2310
The pivot is more like a tab view. This control would be a multi-toggle button.

[2020-04-19 14:12] mdtauk commented on #2310
Are there any other examples of a segmented control being multi-select?

[2020-04-19 14:59] mdtauk commented on #2310
Windows fluent UIs tend to use this method for filtering UX
![image](https://user-images.githubusercontent.com/7389110/79691267-56022180-8256-11ea-9679-4089b71e40a2.png)

[2020-04-19 14:59] weltkante commented on #2310
Its not about filtering.

I see this regularly in applications with complex UI, especially if they are visual editing tools. I've even seen it in Microsoft products like the Expression Blend/Design tools, though the edges aren't always rounded. Blender had this kind of visual grouping of controls for a very long time.

Its basically about grouping checkboxes and radiobuttons together visually, lik

[2020-04-19 15:14] mdtauk commented on #2310
Well the control is used for filtering as well as applying multiple attributes to a selection, and any number of other uses.

I encounter it a lot too, but it is still useful to gather any uses that Microsoft have had for such a control UX - to convince the WinUI team of the need for this kind of control.  My linking it to the Pivot, was attempting to make it easier to sell.

The control would nee

[2020-04-19 15:21] benstevens48 opened #2312 "Proposal: There should be a way to obtain the parent of an element when its parent is not in the visual tree."
At the moment, if you have an element A (e.g. a Panel or ContentControl) which has a child B, but A is not in the visual tree, then B.Parent and VisualTreeHelper.GetParent(B) both return null. However, obviously if I try to add B to the visual tree then that throws an error because it already has a parent. So internally there is some mechanism to identify the parent of B even when its parent is no

[2020-04-19 15:21] weltkante commented on #2310
I see where you are going. From a quick check all examples I find in the fluent design language are using separators and not framing to group buttons that belong together. Since there's no common frame they are not running into the problem of not having a control for this kind of grouping.

[2020-04-19 15:28] benstevens48 commented on #2312
It would also be nice if the VisualTreeHelper had a RemoveChild(DependencyObject parent, Int32 index) function, or a RemoveChild(DependencyObject parent, DependencyObject child) function, or if UIElement had a Remove() function which would remove it from its parent.

[2020-04-19 15:46] mdtauk commented on #2310
![Segmented](https://user-images.githubusercontent.com/7389110/79692495-5651eb00-825d-11ea-8516-60c45a591d9b.png)

Some quick ideas

[2020-04-19 17:54] JensNordenbro commented on #1965
Ok ;

Will the .NET 5 support at least be able to do what follows:
1. dotnet new winui3   // or similar, I am just mimcin .
2. dotnet publish -r win-x64
3. without having Visual Studio installed ?

Just like it is for wpf, winforms, asp.net on .net core 3.x !

That is, the .net core sdk style is used but with the difference that the source code for the UWP engine is not disclosed and Uno is a sepa

[2020-04-19 22:03] JohnnyWestlake commented on #2312
The `FrameworkElement.Parent` property should usually tell you the logical tree parent, even if you're not in the VisualTree.

You can find LogicalTreeHelpers [here](https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/logicaltree) - in terms in of XAML terminology most people consider the Visual Tree and the Logical Tree to be separate things, so I'm not sure updating VisualTreeHe

[2020-04-20 06:26] mdtauk opened #2313 "Proposal: Modern WinUI version of the TaskDialog"
# Proposal: Modern WinUI version of the TaskDialog
![Task Dialog framework](https://user-images.githubusercontent.com/7389110/79718676-7ec8fc00-82d4-11ea-9c13-485977c60a18.png)

Following WinForms adding support for the Win32 Task Dialog, a [twitter thread](https://twitter.com/fonssonnemans/status/1251621723180617731?s=20) was started by @sonnemaf and contributions from myself and @niels9001 discu

[2020-04-20 06:44] harvinders commented on #1947
@ranjeshj, I have tested it on the latest windows 10 insider preview and I don't see this issue. @sibille has also found it to be not an issue on 1909.

I have also tested it on another 1803, and I could reproduce this issue. Maybe, now if someone can independently verify it on 1803, we can know it is only happening in 1803.

[2020-04-20 07:58] sonnemaf commented on #2313
There is also a discussion on Twitter from [@NullRefExc](https://twitter.com/NullRefExc/status/1251948245053554691) and @michael-hawker whether the TaskDialog would be a [ContentDialog](https://twitter.com/i/status/1251480894436601857) (or subclass).

I think this is a big issues. If it is a ContentDialog the size can not really exceed 500x500 pixels. This is the size I usually set for an UWP app.

[2020-04-20 07:59] benstevens48 commented on #2312
Keeping them separate is fine (in my case it was the same). I guess the remove function would be in the logical tree.

FrameworkElement.Parent does return null if the parent is not in the visual tree.

[2020-04-20 08:55] mdtauk commented on #2313
I think it would need to generate an app window/sub window, rather than be an overlay - to be useful for both UWP and WinUI Desktop

[2020-04-20 09:14] sonnemaf commented on #2313
I agree with @mdtauk

[2020-04-20 09:25] Shad0wlife opened #2314 "Question: Is there an Event that fires on reordering a TreeView?"
I'm using a TreeView to display data from a database and the user is able to reorder elements (but not drag elements into new parents). I now want to be able to update the changed order in the database. I am currently exploring the possibility to either do so with every change or register that a change in order has been made to enable manually saving the new order later. Both would require that an

[2020-04-20 10:00] mdtauk commented on #2313
I believe this is what the future Windowing APIs are planning to deal with.  WinUI Desktop's Window object will support setting a size.

[2020-04-20 10:27] sonnemaf commented on #2313
Will there be a UWP and a different Desktop version of WinUI? I hope not.

[2020-04-20 10:30] mdtauk commented on #2313
WinUI is used for both, but some APIs and elements will behave differently.  WinUI will have a Window element, but in UWP this is wrapping around the CoreWindow, but with WinUI Desktop, it wraps around a HWND window.

Threading behaves differently with each, and so this causes some issues with parity between both lifecycles of WinUI

[2020-04-20 13:13] ranjeshj commented on #2314
@Shad0wlife The way to achieve this would be through the INotifyCollectionChanged on the ItemsSource. Is there a reason you are not using the ItemsSource with an ObservableCollection ?

[2020-04-20 13:30] chingucoding opened #2315 "Possible regression: NavigationView.ItemInvoked raised before selected item is updated"
With the last few pre release versions of WinUI, starting with 2.4.0-prerelease.200113001, ItemInvoked get's raised before the actual selection has changed, that is the selected item is out of sync when checking in ItemInvoked. In versions prior to 2.4.0-prerelease.200113001, the selected item was set before ItemInvoked was raised. Is this breaking change intentional?

[2020-04-20 13:37] ranjeshj commented on #2315
It is likely not intentional but @anawishnoff @ojhad can confirm.

[2020-04-20 13:48] ranjeshj commented on #1925
@Felix-Dev, it is up for grabs now :)

[2020-04-20 13:54] Felix-Dev commented on #1925
In that case, I would like to tackle this one.

[2020-04-20 13:58] Shad0wlife commented on #2314
To be honest: because I followed [this tutorial](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tree-view#fill-a-node-when-its-expanding) as it seemed fitting to my use case.
I also use a class derived from TreeViewNode, not the supplied class itself because I have every node hold a cancellationtoken for prematurely cancelling the population if the node is closed before

[2020-04-20 14:10] ranjeshj commented on #2314
I see. @predavid as FYI.
You should be able to assign ItemsSource from code.

[2020-04-20 14:27] ranjeshj commented on #2247
Sounds like two orthogonal problems to solve, so yes, they can be two separate proposals if that helps stage them independently. Thanks!

[2020-04-20 14:29] ranjeshj commented on #1595
@MayuriNaik can you please activate this issue if you are still hitting it ? Thanks!

[2020-04-20 14:29] #1595 closed

[2020-04-20 16:58] ranjeshj commented on #340
@llongley @kmahone could we use this nuget ? Are there any other issues you can think of that might be blocking this.

[2020-04-20 17:11] #1536 closed

[2020-04-20 17:11] ranjeshj commented on #1228
@chigy as FYI. Is this specific to this one brush or a more general issue ?

[2020-04-20 17:16] #1773 closed

[2020-04-20 17:30] chigy commented on #1228
This is a general problem of accent color. To handle accent color correctly, we need to not only figure this out for controls but sort of algorithm should be available for general usage, thus this has been an ask to shell team that has not been prioritized.

[2020-04-20 17:45] MikeHillberg commented on #2312
You're right that the current behavior is in order to avoid reference cycles. The issue with weak references is that they cause extra allocations, and allocations are a significant portion of the CPU cost to startup and navigation. (There's an extra allocation on the reference target, the first time a weak reference is created.)

I think there might be enough information to make this work though.

[2020-04-20 18:33] shaheedmalik commented on #2313
I think these should show in full screen when in a Tablet UI environment.

[2020-04-20 18:45] ranjeshj commented on #678
@jevan had a pretty good solution in the PR comments I think which we could run with.

[code]

[2020-04-20 18:45] mdtauk commented on #2313
What is your reasoning for this?  I think centred on the tablet screen makes sense, but not sure why the window should be larger than it needs to be.

- The UI would not stretch well;
- Body text blocks would have longer lines than is ideal for readability;
- You lose the visual indication that this is a modal UI;

This TaskDialog would need to be either followed through with, or dismissed, before

[2020-04-20 18:49] JohnnyWestlake commented on #2291
A usable workaround is to actually grab the frame from inside an IBasicVideoEffect (or IVideoCompositor) implementation, where you can actually determine the *exact* timing of each frame as they're rendered (because there's a video buffer you might get extra frames, but you'll know whether or not you want them).

As you don't instantiate your own VideoEffectDefinition's and the framework does it f

[2020-04-20 18:57] chingucoding commented on #678
Seems like a good idea. I will create a PR for this soon if that's fine with you.

[2020-04-20 18:59] ranjeshj commented on #678
Sounds good. Thanks!

[2020-04-20 19:02] niels9001 commented on #2313
@mdtauk Thanks for the write-up. Excellent examples. I would really welcome a more standardized and easy to use dialog control for OOBE/connection related tasks!

[2020-04-20 19:24] shaheedmalik commented on #2313
Bad experience with open & dialogue boxes. The ones in Tablet Mode where great in Windows 8.1 for usability and then in Windows 10, they took away them away. Because of that, any type of dialog like above bother me. They are never designed to scale for tablets. I have all of this screen real estate and the boxes are 500x500.

Why?

[2020-04-20 20:03] StephenLPeters commented on #2315
I think this needs to be fixed.. @chingucoding would you like to look into it?

[2020-04-20 20:18] jtorjo commented on #2291
@JohnnyWestlake Thanks! This is definitely something to keep in mind. Right now, I'm kinda' happy with my workaround, and I need to do quite a bit to integrate it into my app. Having said that, I've encapsulated the implementation so that I can easily change it to use what you're saying.

I'm curious if you know how this will behave to a lot of re-instantiations. In other words, assuming the user

[2020-04-20 20:21] StephenLPeters commented on #2310
What would the accessibility story look like here? would it report as a collection of items, would it report out selection states?

@kikisaints This looks pretty similar to radio buttons, but maybe with multi select. @chigy has some ideas.

[2020-04-20 20:24] StephenLPeters commented on #2309
@robloo is this achievable using a DropDownButton with colorPicker in the flyout? Seems like it shouldn't be too involved.

[2020-04-20 20:31] weltkante commented on #2310
Trying to draw parallels to existing controls behavior:
* I would expect the control to have an accesibility name so it can report the same grouping that is implied visually. How do Ribbon groups report themselves to accesibility?
* Individual items in a group can either behave as single select (radio buttons) or multi select (checkboxes) depending on control configuration. I don't know how radio

[2020-04-20 20:33] StephenLPeters commented on #2308
The desired behavior is that mouse button 4 would go to the previous selection and mouse button 5 would go to the go to the next selction, undoing a mouse button 4 input, same as backward and foreword buttons on a web browser.

@ojhad for FYI

[2020-04-20 20:49] chingucoding commented on #2315
Sure, if that behavior is not wanted, I will gladly fix this.

[2020-04-20 21:20] robloo commented on #2309
@StephenLPeters, You would think it could be implemented with a DropDownButton and a ColorPicker in a flyout -- and this would work if the implementation is done inside the application itself. However, the ColorPicker properties and methods need to be exposed by the new control. Therefore, it's better to inherit from ColorPicker and create the new control. Then re-implement the dropdownbutton in t

[2020-04-20 23:22] michael-hawker commented on #1170
🦙 Linking back to [this PR](https://github.com/microsoft/microsoft-ui-xaml/pull/1858) when Lottie was added to ProgressRing as a lot of community discussion around customizations of the animation occurred there, especially in regards to traditional XAML based Visual State Management/customization & styling.

[2020-04-20 23:27] michael-hawker commented on #2313
@shaheedmalik that sounds like a DPI issue?

Though that's the point of having a consistent control/paradigm in place here for modern applications. Then if there is something that can be addressed when in Tablet mode, then all the apps using this new Dialog can behave the same way and receive the same fixes/benefits of developing a solution for your issue on top of this control/platform.

[2020-04-21 00:14] MikeHillberg commented on #1542
This will be addressed in the next preview release.

[2020-04-21 00:14] #1542 closed

[2020-04-21 00:26] MikeHillberg commented on #2308
FYI these are aka XButton1 and XButton2 in [PointerPointProperties.PointerUpdateKind](https://docs.microsoft.com/uwp/api/Windows.UI.Input.PointerPointProperties.PointerUpdateKind).

[2020-04-21 03:42] mdtauk commented on #2310
This control would appear to be an amalgamation of various alternative UX approaches, except contained within a single control.

When considering how behaviours should be handled, we can look to these and see how they are handled there.  If this control were to be added, it should cover most of these scenarios below.

- AppBar / CommandBar with Toggle buttons (multi-select)
![image](https://user-i

[2020-04-21 03:47] ShankarBUS commented on #23
Hey @mdtauk, this will be helpful for apps that show taskbar flyouts like EarTrumpet. They achieve this by reading the `HKCU\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize\SystemUsesLightTheme` registry key. I don't know if you can read registries from UWP apps. This is not that important for **Pure UWP apps** and WinUI desktop apps can read the registry if needed.

[2020-04-21 03:49] mdtauk commented on #2313
Task Dialogs appear to stack the controls vertically, so the width encompasses the controls required, but the height adjusts to contain what is in them.

On Tablets, there will probably need to be support for vertical scrolling if the developer has put too much in a single screen - and has chosen not to paginate the task into steps.

So if the width is say as wide as a textbox with icon beside it,

[2020-04-21 04:10] #2223 closed

[2020-04-21 12:47] #678 closed

[2020-04-21 16:35] michael-hawker commented on #1965
@JensNordenbro I don't have any of those .NET 5 answers; not sure why you pinged me specifically. I maintain the Windows Community Toolkit.

Pinging @ryandemopoulos to help direct this WinUI 3 question. 🙂

[2020-04-21 16:53] mdtauk commented on #2140
I think if the Badge was it's own primitive control, the **BadgeNavigationViewItem** could use that **Badge** control, and pass through the properties to that TemplatePart.

That way the Badge could be used on ApplicationBar Buttons, or for any other control or element in Xaml.

[2020-04-21 17:07] chingucoding commented on #2140
@mdtauk idea is what I thought we would do with that. Having it also have a Badge property and pass through properties would be the best way to do this in my opinion.

[2020-04-21 17:18] benstevens48 commented on #2312
Sounds good. Here are a couple of things to think about. To avoid confusion I'm going to refer to this enhanced parent property as `FrameworkElement.LogicalParent` (or `UIElement.LogicalParent`).

Firstly, I want `LogicalParent == null` to guarantee that I can safely add the child to the visual tree as a child of another element. Therefore, if I request `LogicalParent` during the zombie state you

[2020-04-21 17:39] Felix-Dev commented on #2287
That question has been resolved (just as an information).

[2020-04-21 20:08] ranjeshj commented on #2309
I'm having trouble justifying creating a separate control for this. Would it make sense to have this as a sample/control in the community toolkit ? @michael-hawker ?

[2020-04-21 20:14] ranjeshj commented on #2307
@mdtauk Is this a request to figure out how to add shadows on icons ?

[2020-04-21 20:18] JensNordenbro commented on #1045
Dotnet cli tooling should be used together with a. Net core sdk.
Commands such as dotnet new and dotnet build should be enough, no Hard dependency of installing Visual Studio. Please, fully join the .Net Core Era!

[2020-04-21 20:21] ranjeshj commented on #2304
I assume we cannot just use Line ? @codendone as FYI

[2020-04-21 20:31] #2250 closed

[2020-04-21 20:31] #2266 closed

[2020-04-21 20:37] robloo commented on #2309
@ranjeshj I understand some of your apprehension about creating and maintaining a control for this; however, I find this type of color input is used in several different scenarios. It is definitely filling a gap in the toolkit and is something that historically has only been done by 3rd parties -- like the NumberBox.

The net benefit for Microsoft is more from a design standpoint than a technical

[2020-04-21 20:43] benstevens48 commented on #2304
Not as it stands, as far as I am aware. Although adding an extra property to line would be a solution, or possibly allowing double.NaN (Auto in XAML I guess) for X2 and Y2 to mean stretch.

[2020-04-21 20:45] carmineos commented on #668
Both WinForms ([dockpanelsuite](https://github.com/dockpanelsuite/dockpanelsuite)) and WPF ([AvalonDock](https://github.com/Dirkster99/AvalonDock)) have widely used third-party controls for docking. Another good example would be [UWP Docking Control by Syncfusion](https://www.syncfusion.com/uwp-ui-controls/docking). Having a control like this would make easier to migrate apps to WinUI.

[2020-04-21 21:46] ranjeshj commented on #2309
@robloo Thank you for elaborating. I can see the consistency argument. Thinking about this a bit more, this is likely more of a pattern where we have a picker (some input control that is relatively large layout wise) and we want to show the selected value after it has been picked. We have Date/Time/Calendar pickers for example. @chigy as FYI

[2020-04-21 23:05] ojhad commented on #2315
Yep, this behavior should be fixed.

[2020-04-22 00:07] shaheedmalik commented on #2313
I'm asking for it to scale to the device it is on. What you are suggesting is what happened to the open file dialog going from Windows 8 -> Windows 10. On Windows 8 they scaled to the device, on Windows 10 they no longer did that.

[2020-04-22 00:20] ojhad commented on #2287
Apologies for the delayed response.

The chevron is considered a separate hit target. It is a way of expanding an item without having to select the item itself. This is why I gave it a width of 40, to allow for a larger hit target.
I don't think we want to be reducing that hit target to only the size of the chevron. It might frustrate some users who will specifically only want to hit the chevron.

[2020-04-22 04:45] mdtauk commented on #2307
It's more of a request to ensure the Tile Asset documentation is updated now the app icons have a new style, and more tile changes are coming in the future.

Knowing how to make your assets consistent with Microsoft's will be useful to know going forward.  And any tooling that will make the tiles easier to make for WinUI Desktop apps, will hopefully encourage a good experience for the user who wan

[2020-04-22 04:50] SavoySchuler opened #2319 "Proposal: Provide Mechanism for Sharing Styling Resource from UWP Islands -> WPF"
# Proposal: Provide Mechanism for Sharing Styling Resource from UWP Islands -> WPF

## Summary

Styling resources are not capable of mapping back out from a UWP Island into Win32; which makes coloring/styling/theme awareness something that needs duplication across components and requires strict coordination to make changes to.

## Rationale

E.g., see [this PowerToys issue](https://github.com/micr

[2020-04-22 04:51] mdtauk commented on #2313
@shaheedmalik  by default, this task dialog would be in Xaml, so would support the same touch target sizing, and DPI scaling as other Xaml controls.

If you mean scaling as in making CheckBoxes, Buttons and TextBoxes larger than usual, and using massive Font sizes - why should these UI elements be scaled differently to others?

This would not be like a win32 UI, which refuses to be moved about the

[2020-04-22 04:54] mdtauk commented on #2309
This control of it is approved, would work well for a future WinUI ribbon control.

It could also be aligned with the horizontal mode issue, and the idea of a Swatch mode for the colour picker

[2020-04-22 04:57] mdtauk commented on #2304
Could you provide some images to show what the problem is, and how you expect it to look.

It would help to determine if it is a bug with the border drawing on general, or an edge case that needs it's own solution

[2020-04-22 06:04] JensNordenbro commented on #1965
Hi @michael-hawker, it was because you profil suggest you work at Microsoft. Weitzhandler who kindly answered seems to work at Uno. I hope for ryamdelopolus then.

[2020-04-22 07:12] Shad0wlife commented on #2314
Ok, I have now modified my sourcecode to use ItemsSouce and managed to x:Bind them in the DataTemplate. It works nicely, but as soon as I want to drag and drop move an Item (CanDragItems is false, CanReorderItems is true), the program now crashes with an InvalidCastException telling me an Interface is not supported and the Data contains something about System.Collections.ListDictionaryInternal.
Sa

[2020-04-22 07:46] aosyatnik opened #2320 "Bug: Background animation (opacity animation) flickering"
**Describe the bug**
Hi, I'm again back with strange bug/behavior, that I can not explain. This time I won't create reproducible repo, because it's only 2 files you need to have in order to reproduce this issue.
MainPage.xaml:
[code]

MainPage.xaml.cs:
[code]

I used this image:
![30c604ab29c5d0bfdd57b6036f97fe73](https://user-images.githubusercontent.com/8158404/79953469-32202500-847c-11ea-883e-1

[2020-04-22 08:04] benstevens48 commented on #2304
There's no bug. It's simply that with the `Line` shape, you have to specify X1, Y1, X2, Y2 as coordinates. There's no way to get it to automatically stretch either horizontally or vertically to its container. The `Shape` subclasses are the only UIElements that let you specify a StrokeDashArray (i.e. a dashed border), as far as I'm aware. You can't use Rectangle because there's no way to set the in

[2020-04-22 10:31] weitzhandler commented on #1965
@JensNordenbro lol, I don't work for either, I'm just an enthusiastic user.

[2020-04-22 10:32] Felix-Dev commented on #2287
@ojhad Agree. In my initial testing (using the MUXControlsTestApp) clicking *everywhere* on the NavigationViewItem expanded/collapsed the chevron which is why I was wondering about the separate hit target. However, there are scenarios where clicking the NavigationViewItem only selects the item and to expand the item, the chevron hit area has to be clicked. In this case, a hit target width of 40 ma

[2020-04-22 10:34] Sergio0694 opened #2321 "x:Bind doesn't work for static classes with no namespace"
**Describe the bug**

Currently it is possible to use `x:Bind` to bind either to instance properties/functions (which the codegen will lookup from the code behind), or to static function or properties. For instance:

[code]

The issue is that there isn't a way (or at least, I haven't been able to figure this out and couldn't find any docs about this) to bind to a static target from a class with no

[2020-04-22 11:29] ivayle opened #2322 "Bug: Combo box is empty when minimize window and hover on app in taskbar"
**Describe the bug**
It seems that combo box goes to some soft of intermittent state and loses its selected item, before the app window is actually restored from minimized state.

**Steps to reproduce the bug**

1. Create an empty UWP app
2. Create a combo box with a 3 items and set selected index to 0

[code]

3. Run the application
4. Open the combo box
5. Minimize the main window (without closi

[2020-04-22 12:39] JensNordenbro commented on #1965
Ok @weitzhandler ;)

I got the impression that Uno uses Xamarin.Forms underneath with som renderers  for WebAssembly and that the solutions presented where tied to the full Visual Studio.

I know from before that Xamarin.Forms is possible to build using CLI-only if one omitts the Android and IOS parts. Do you know if the same applies for Uno? (It relates to my question above).

[2020-04-22 12:43] ranjeshj commented on #2314
@Shad0wlife  Yes. Please file an issue for the crash and provide the repro app.

[2020-04-22 13:12] weitzhandler commented on #1965
It doesn't. For WASM it uses Mono, for Android and iOS, it uses Xamarin.Android and Xamarin.iOS respectively.

I'm sorry, I don't. I can only guess it's probably supported, because of the above, and the WASM project is an ASP.NET Core project.

[2020-04-22 13:39] benstevens48 opened #2323 "Drag and drop does not work in a flyout with ShouldConstrainToRootBounds set to false"
Drag and drop does not work in a flyout with ShouldContrainToRootBounds set to false. The DragOver and Drop events do not fire.

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :-------------------- |
| November 2019 Update (18363)  | Yes   |

[2020-04-22 15:36] chingucoding commented on #2308
@StephenLPeters just for clarification: In the XCG sample, when "Date and Time" is selected, when mouse button 4 is invoked, "Collections" should be selected and when button 5 is invoked, "Dialogs and Flyouts" should be selected?

[2020-04-22 15:44] joshhunt opened #2324 "NavigationView.cpp throws exception in Windows.UI.Xaml.dll: Access violation reading location 0x1B0144C4"
**Describe the bug**

I'm using NavigationView inside a [XboxGameBarWidget ](https://docs.microsoft.com/en-us/gaming/game-bar/) settings widget. The first time i open the Settings view with NavigationView, it works fine. However, the second time (or occasionally the problem takes a few more opens to trigger) the I get an exception:

[code]

That appears to be in `NavigationView::MeasureOverride` o

[2020-04-22 15:46] ranjeshj commented on #2324
@joshhunt can you try using the latest pre-release build ? There have been several updates to NavigationView since the last stable release.

[2020-04-22 16:12] joshhunt commented on #2324
@ranjeshj I installed `2.4.0-prerelease.200322001` from Nuget from within Visual Studio, and i get a load of "Payload file does not exist" errors. The previous prerelease also had the same problem.

![image](https://user-images.githubusercontent.com/46142/80006090-526fd400-84bc-11ea-8dc7-437514208e4e.png)

These files are indeed not in my filesystem. I downloaded the .nupkg from https://www.nuget.

[2020-04-22 16:33] ranjeshj commented on #2324
Can you try deleting the output folder, restarting VS and doing a clean build ? If you still hit it, can you share a repro ?

[2020-04-22 16:49] robloo commented on #2309
Yes, I agree and had that in mind as well. Inheriting from ColorPicker would keep all future changes to ColorPicker included in this control too.

It's also too bad the ColorPicker name is already used as this proposal more closely aligns with a picker. The existing ColorPicker is more like a ColorView or ColorPanel.

[2020-04-22 17:00] mdtauk commented on #2309
ColorSwatchDropDownPicker

ColorSwatchPicker

[2020-04-22 17:05] robloo commented on #2309
I like ColorSwatchPicker -- good idea

[2020-04-22 17:18] joshhunt commented on #2324
@ranjeshj Yeah, no dice. Here's the repo https://github.com/joshhunt/GhostOverlay

I made a new solution and was able to add the prerelease, so there must be something funky in this solution, but im unsure (I'm quite new to .Net development!)

[2020-04-22 17:41] Felix-Dev commented on #1925
To clarify: In SpinButtonPlacementMode.Inline, if we apply properties like BorderThickness and BorderBrush, is the desired look the following?

[code]

![image](https://user-images.githubusercontent.com/1398851/80014752-08ddb400-84d1-11ea-9cf7-37602588a012.png)

[2020-04-22 18:19] ranjeshj commented on #2324
well.. I am able to build the app without errors. I had to create a packages folder, rename the resw file and restore the nuget packages for it to work. Can you ensure that your nuget packages are restored without any errors ? Perhaps you are hitting issues with nuget restore which is causing other errors down the line.

[2020-04-22 18:35] mdtauk commented on #1925
I would say so yes

[2020-04-22 21:13] anawishnoff commented on #2140
So, the idea is to have a Badge control and a BadgeNavigationViewItem that includes that control in its control template? This does allow the badge to be more flexible for use in other controls, although I feel like there should be a way to use the Badge on a NavigationViewItem with less overhead. Correct me if I'm misinterpreting your idea!

[2020-04-22 21:18] chingucoding opened #2325 "Setting CompactPaneLength on NavigationView in XAML get's overriden"
**Describe the bug**

When setting CompactPaneLength on a NavigationView in XAML, it get's overriden:

[code]
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Take snippet from above
2. View compact pane length property after NavigationView has loaded.

**Expected behavior**

**Screenshots**

Setting the value in XAML gets respected and not ignored.

**Version Info**

Master bra

[2020-04-22 21:47] chingucoding commented on #2140
It kinda feels like it should, agreed. But the problem I see is just, how many more things are we gonna add to a NavigationViewItem?

But yes, you are interpreting the idea correctly :)

[2020-04-22 22:09] michael-hawker commented on #1809
Just hit this again, been scratching my head for hours on why my custom collection with `INotifyCollectionChanged` wasn't triggering the `ListViewBase` to update its view of my collection items... ☹

[2020-04-23 01:45] mqudsi opened #2327 "WinUI3 + WebView2 IReferenceTracker marshalling exception"
I've been previously using the latest WinUI3 (200210.0, if I'm not mistaken) OK with WebView2 (0.8.355, as 0.9.488 was incompatible) but without changing the code (I rolled back via git to double-check), I'm now unable to call `ExecuteScriptAsync()` without it throwing a COM exception trying to interface with `Windows.UI.Xaml.Hosting.IReferenceTracker`:

[code]

gives

[code]

I see my Edge Dev co

[2020-04-23 02:35] codendone commented on #2323
Yes, this is not supported with the current implementation of ShouldConstrainToRootBounds=false popups.  Originally that support was only used for tooltips and MenuFlyout, neither of which should be a drop target (and should usually auto-hide before any potential drag-n-drop operation). With the expanded use and exposure of the ShouldConstrainToRootBounds property, this is a limitation which you c

[2020-04-23 02:38] hipo760 commented on #1925
I can't image if the BorderThickness=0, what will spin button looks like?

[2020-04-23 02:50] mqudsi commented on #2327
Confirmed. Side-loading Edgium `81.0.416.62` did the trick.

[2020-04-23 08:36] Shad0wlife opened #2328 "TreeView drag&drop reordering inside a TreeView[Item] using ItemsSource crashes"
**Describe the bug**
When using the TreeView with an ItemsSource and Binding the TreeViewItems' ItemsSource, reordering the items inside one node by drag and drop will crash.
Reordering with ALT+SHIFT+[UP/DOWN] is works fine.
Drag and Drop into any position in any other Node works fine (when enabled, is disabled in reproduction code (given below) for simplicity).

**Steps to reproduce the bug**
St

[2020-04-23 10:26] joshhunt commented on #2324
Thanks for checking that @ranjeshj. I recloned the repo and then i was able to successfully install the prerelease version. Unfortunately, I still experience the same issue

![image](https://user-images.githubusercontent.com/46142/80088637-b0e89100-8554-11ea-9d30-a824b19ee10b.png)

If i get a moment I will see if I can create a repro test case that doesnt require the API. Right now, I'm unsure if

[2020-04-23 10:30] chingucoding commented on #2247
@grokys Do you want to create a separate proposal for batching or would you like me to do that?

[2020-04-23 11:40] grokys commented on #2247
Feel free to do it! I've not got a whole lot of time at the moment.

[2020-04-23 15:51] Felix-Dev commented on #957
@teaP Are you working on this right now or can I add a fix for this?

[2020-04-23 15:55] ranjeshj commented on #957
@teaP is not working on this. You can pick it up if @chingucoding is ok with it. It looks like he called dibs earlier in the conversation thread :)

[2020-04-23 16:01] luismts commented on #804
I think @VincentH-Net  the challenge now is getting C # HotReload into VS. If this is achieved, the number of people using C # projects will be massive.

LiveSharp is great, and it's not expensive. But many do not know it, and it is a disadvantage. The simple fact of knowing that you have to install a third-party tool, and more being paid, leaves this option for a specific audience.

[2020-04-23 16:11] weitzhandler commented on #804
@luismts I shall say hot reload + hot restart.

[2020-04-23 16:17] JaggerJo commented on #804
With a language that's more suitable for DSLs the UI declaration can be just code.

We don't need yet another Razor/xaml thing IMHO..

The code below is a sample of (https://github.com/AvaloniaCommunity/Avalonia.FuncUI) with [F#](https://fsharp.org). Might be interesting... here are [templates](https://github.com/AvaloniaCommunity/Avalonia.FuncUI.ProjectTemplates) if you want to give it a spin.

[

[2020-04-23 18:02] benstevens48 commented on #2323
Yes, at the moment it's just a nice-to-have feature for me. But it's not a totally outrageous thing to try to do. Basically I'm using the flyout as a menu with a list of items, but the user can reorder the items, for which I'm using the drag-and-drop functionality as it's convenient. I could rewrite my code not to use drag and drop, but that would be a bit time consuming, especially writing an alt

[2020-04-23 20:02] chingucoding commented on #957
Thanks for ping @ranjeshj ! @Felix-Dev If you would like to fix this, sure go for it.

[2020-04-23 20:12] ranjeshj commented on #2322
Selection seems to be gone. Even after maximizing again, the selection is empty. Looks like the flyout is forcefully closed and the control is missing this case.

[2020-04-23 20:23] MikeHillberg commented on #931
This looks worth a separate issue. Changing MyTask to be Task&lt;int&gt; rather than Task&lt;string&gt; makes it more obvious by causing a crash on the type cast.

[2020-04-23 20:28] MikeHillberg commented on #1809
@michael-hawker, what list interfaces does your collection implement?

[2020-04-23 21:36] chingucoding opened #2330 "Proposal: SelectionModel Batch Processing"
# Proposal: SelectionModel batch processing

## Summary

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason for why we should consider this proposal}
* {etc}

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This propos

[2020-04-23 21:45] chingucoding commented on #2247
@grokys Created #2330 for this. Could you update your proposal to only include the SelectionModelSelectionChangedArgs ? :) Thank you!

[2020-04-23 23:06] #1225 closed

[2020-04-24 07:37] zhuxb711 opened #2331 "ContentDialog background does not follow UI theme settings"
**Describe the bug**
Although I have set "RequestedTheme = ElementTheme.Dark" to ContentDialog
![image](https://user-images.githubusercontent.com/42038175/80186190-2e3d0000-8640-11ea-9972-01dfc5cd4d9d.png)

But its background part is still white following the system theme

If TeachingTip pops up at this time, ContentDialog will become more white and difficult to recognize

![image](https://user-im

[2020-04-24 07:41] zhuxb711 opened #2332 "TreeView does not set the IsExpanded property to false when removing the last child node"
**Describe the bug**
TreeView does not set the IsExpanded property to false when removing the last child node.

Logically speaking, if there are no child nodes in the TreeView, then the IsExpanded property should be automatically set to false instead of keeping the current value unchanged

**Expected behavior**
set the IsExpanded property to false when removing the last child node

**Screenshots**

[2020-04-24 13:13] ranjeshj opened #2333 "Remove MuxControlsAdhocApp"
Looks like the MuxControlsAdhoc app is not really used anymore but is still part of the solution and build.

[2020-04-24 17:01] codendone commented on #1372
The issue in the Composition code has been found and fix.  The fix will be in a future release of Windows, but will also be part of WinUI 3.  The workaround done for #2305 will cover other down-level scenarios in the meantime.

[2020-04-24 17:01] #1372 closed

[2020-04-24 17:09] codendone commented on #2323
Thanks for logging this.  The current thinking is that eventually we'd like to have ShouldConstrainToRootBounds=false popups use a XAML Island behind the scenes, at which point drag-n-drop should work as long as it works for islands.

Since we're not likely to get to this for a while, I'd like to close this.  But we definitely should support this eventually.

[2020-04-24 17:09] #2323 closed

[2020-04-24 17:20] codendone commented on #2304
This has come up a couple of times in the last several years.  The API for Line does make it inconvenient for this scenario where you just want layout to include a horizontal or vertical line.  Solution 1 would be a natural solution to this, though we'll need to evaluate all of the options.

[2020-04-24 17:47] codendone commented on #2289
We can consider this, but this tends to be a bit challenging.  Allowing `SetSourceAsync` to be called on a background thread limits the complexity of the change, but is only really useful if the UI thread has already created all of the BitmapImages it needs.  And if those BitmapImages haven't already been added into the UI on the UI thread, then it is still necessary to hop back to the UI thread t

[2020-04-24 20:05] #2333 closed

[2020-04-24 20:10] ranjeshj commented on #2331
The ContentDialog's content are reparented into a popup, which is likely what is causing this. It is disconnected from the parent chain to get any property that is not explicitly routed to the popup content anymore.

[2020-04-24 20:22] ranjeshj commented on #2264
Is the issue that NumberBox is not getting FocusLost in certain cases and we happen to update the value on FocusLost ? Do the elements that are not taking focus normally focusable ?

[2020-04-24 20:46] eluchsinger opened #2335 "Proposal: Support WinUI in VSIX"
# Proposal: Support WinUI in VSIX

## Summary

Use WinUI to build Visual Studio extensions with a new, modern look.

## Rationale

## Scope

## Important Notes

## Open Questions

One of the drawbacks to this proposal is that extensions will be able to look off compared with the current Visual Studio design, but I think believe that to be up to the developer of the extension.

[2020-04-24 21:02] #2288 closed

[2020-04-24 21:45] codendone commented on #2327
I'm glad you found a workaround.

There is one recent issue we're aware of (MicrosoftEdge/WebViewFeedback#156), but it looks like the build you had should have already had the fix, so perhaps there is another.  I expect things will be more stable in the next preview.

[2020-04-24 21:45] #2327 closed

[2020-04-24 21:47] #2039 closed

[2020-04-24 22:02] anawishnoff commented on #2247
Thanks for splitting up the issues! What are the loose ends here?

For the IndicesChanged list, providing that after an item is removed would only cause confusion and not be useful - for that reason, if it's possible we should return an IndicesChanged list for other collection change events, but not for removal.

[2020-04-25 02:06] matthew4850 commented on #614
This would be really useful, I hope this gets done soon!

[2020-04-25 10:19] huoyaoyuan commented on #2335
I wonder if Visual Studio itself can be rewritten in WinUI. It should be a big project.

[2020-04-25 10:28] zhuxb711 commented on #1820
@ranjeshj @kaiguo  But this code still looks strange. I also think that expanding a selected TreeViewNode will cause the selected item to change very strangely. Is there any progress in the investigation of the cause of this problem?

[2020-04-25 13:08] harvinders commented on #1954
Hi @ranjeshj @StephenLPeters

I have updated and simplified repo [here](https://github.com/harvinders/App7).

The repo shows that if I use GridView instead of ItemsRepeater, there is no leak, however when I start using ItemsRepeater it starts leaking. I have added `GC` calls already in the code so that GC should not be a factor. For quick summary, I am attaching the diagnostic view of heap using v

[2020-04-25 14:39] joshhunt commented on #2324
A little more investigation - if I launch the same Page in the main desktop app first, and then open the settings widget in Game Bar, this issue doesnt appear to occur.

[2020-04-25 16:14] chingucoding commented on #1954
I think the ItemsRepeater is leaking. We create 14 views, 13 with the actual item from the ItemsSource and one with no item set in binding. After navigating, we clear all elements that have an item set and then recreate 14 items, 13 with item and one without.

[2020-04-25 18:29] Felix-Dev commented on #2287
@chigy Sorry to bother you again but since I'm now working with the original settings (negative margin and hit test area of 40px) I would feel better if you could quickly look over the padding solution below to see if it still conforms with the desired design.
I'm adding a padding of 6px to the right for the chevron hit test area to get a 4px padding between the actual chevron and the extended scr

[2020-04-25 18:32] chingucoding commented on #2247
I am not entirely sure when exactly we should raise the event:
- When items get inserted?
- When items get removed?

On the one hand, developers in some instances need to know that indices changed, on the other hand raising the SelectionChanged event with empty lists could be confusing.

I think the rest of this proposal is pretty clear: We have a list of deselected and selected indices and items

[2020-04-25 23:48] kaiguo commented on #1820
@ranjeshj not 100% sure but it probably has something to do with this,
https://github.com/microsoft/microsoft-ui-xaml/blob/ca95be6f5248eaa55ec523f2d6e7b50f6e0d53e7/dev/TreeView/TreeViewList.cpp#L356-L359

I think this code was added to reverse some ListView selection changes we didn't want when using databinding. The demo code works on TreeNode directly and doesn't use ItemsSource binding. _Perhap

[2020-04-26 07:35] nikhil-anilkumar opened #2336 "Question: The Speech Recognition engine doesn't seem to start on my laptop"
Whenever I try to invoke the Speech Recognizer, the UI comes up and disappears immediately. I have allowed Microphone permissions for all apps. I don't know what is missing here. Can anyone help me

[2020-04-26 09:52] carmineos opened #2337 "Live Visual Tree still shows TreeViewItems after collapsing parent node"
**Describe the bug**

Sometimes Live Visual Tree still shows children TreeViewItems after collapsing parent node, I notice this happens when having nested TreeViewItems and you first collapse a more nested node and then its parent (or higher level).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a TreeView with some levels of nested nodes
2. Collapse a nested node firs

[2020-04-26 10:12] carmineos opened #2338 "TreeViewItem wrong chevron GlyphOpacity when using HasUnrealizedChildren"
**Describe the bug**

When binding TreeViewItem.HasUnrealizedChildren to a view model property sometimes the chevron `GlyphOpacity` is wrong, it has opacity 0 even if `HasUnrealizedChildren` is true while it's 1 even if `HasUnrealizedChildren` is false. In the first case chevron area will still be clickable.
It often happens after that after collapsing a node and clearing the `ItemsSource` binded

[2020-04-26 12:31] ldocquir opened #2339 "ItemsRepeater - NotImplementedException while moving an item inside an ObservableCollection bound to ItemsRepeater"
**Describe the bug**
My app uses ItemsRepeater to display a list of tasks. The list is an ObservableCollection<> bound to the control using the ItemsSource property. Adding, Inserting or Deleting items in the collection works just fine: the ItemsRepeater refreshes the UI to reflect the changes. But moving an Item position using the **Move method on ObservableCollection<> raises a NotImplemented Ex

[2020-04-26 13:32] joshhunt commented on #2324
I've created a minimal reproduction case that demonstrates the problem for me https://github.com/joshhunt/GhostOverlay/tree/nav-view-reproduction. Note that this is a branch `nav-view-reproduction.`

1. Ensure that you're running Windows 1903 or 1903 with all installed updates ([required for Game Bar widgets](https://docs.microsoft.com/en-us/gaming/game-bar/guide/windows-os))\
2. Build and run the

[2020-04-26 17:54] Felix-Dev commented on #1820
@kaiguo You might want to test it yourself but I went ahead and added your suggestion to the TreeViewList, then built a nuget package of WinUI and used it on the repro app. Result: I'm still seeing the same erroneous selection change behavior reported here.

[2020-04-26 18:44] mqudsi commented on #2278
It's probably the scroll viewer because I see the same thing with list view items but not with individual text blocks.

[2020-04-26 22:10] roman-shpuntov commented on #1535
Yes, the compile of xaml is take huge time... I have project without UI  - no problem with compile performance, but XAML/UWP/C++ very long compilation.

[2020-04-27 01:01] dpaulino commented on #2303
I'm getting the exact same error message. I get it when I assign a node to treeview.SelectedNode property to update the highlighted item in the tree.
WinUI version: 2.3.200213001
OS: Windows 10 2004 Build 19041.208

Note that on 90% of the cases, assigning a node to SelectedNode works fine. However, the crash occurs when I performs these steps:
- select the last item of the tree root
- delete that

[2020-04-27 09:19] jp-weber opened #2340 "Question: latest ProgressRing version and future development"
Due to the latest changes in the preview there are breaking changes. So setting values for progress is no longer possible. My question here would be whether there are plans for further development in this regard, or whether setting progress values for the element in the long term is no longer necessary.

[2020-04-27 11:02] rahulkps23 commented on #1045
- It will be good if the xaml designer is fast. The current XAML designer is slow and always throws some error saying some exception occured and it wont work. Please correct that and provide robust designer.

- currently uwp desn't have any APIs that can detect the lock screen. It will be good if we are provided with APIs that can detect lockscreen and give boolean as return values. We should be a

[2020-04-27 12:55] ranjeshj commented on #2340
@jp-weber, the early pre-release versions had the determinate part but we decide to pull it out since there were some open questions regarding the visuals and compatibility with the version of the same control in Windows.UI.Xaml. In WinUI3, this will replace the Windows.UI.Xaml.ProgressRing so it has to be compatible with the inbox control in order to avoid breaking apps that move to WinUI3. We ar

[2020-04-27 13:37] ranjeshj commented on #2339
Looks like it is indeed not implemented - code [here](https://github.com/microsoft/microsoft-ui-xaml/blob/ca95be6f5248eaa55ec523f2d6e7b50f6e0d53e7/dev/Repeater/ElementManager.cpp#L316). You can workaround by removing and adding the item to workaround.

[2020-04-27 13:44] #2336 closed

[2020-04-27 14:44] ldocquir commented on #2339
Hi ranjeshj,

Thanks for your reply.

In my repro app, your proposed workaround is already implemented but I feel it is a sub-optimal solution. In my use case I want to have my list synchronized with a local SQLite database, I planned to rely on the data source notifications to trigger DB updates. Removing and inserting an element will result in a record being deleted and then re-inserted which is

[2020-04-27 15:08] ranjeshj commented on #2339
@ldocquir Thanks for the context. This is specific to the layouts (not a repeater thing if I am correct). I agree that this is a bug. Would you like to contribute a fix ? This specific case would be similar in the ElementManager, call OnItemsRemoved and OnItemsAdded with the correct indices. My guess is that ElementManager was coded before we supported INotifyCollectionChanged which brought the mo

[2020-04-27 16:00] Felix-Dev commented on #125
I took a quick look at this and the culprit here seems to be the call to ListView's::PrepareContainerForItemOverride call [here](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TreeView/TreeViewList.cpp#L354). When we data bind a collection to the TreeView (using ItemsSource), set the TreeView to SelectionMode:Multiple and set a (two-way) bound IsSelected property in our bound data

[2020-04-27 16:16] chigy commented on #2287
@Felix-Dev , sorry but I am not quite sure exactly what you are asking. Are you asking if the chevron should be moved additional 4px to the left? Also, you are asking if the hit target should be shrunk by 4px so that it doesn't overlap the expanded scrollbar?

I am not too worried about hit target overlapping or not since the experience is likely not going to be impacted either way, however things

[2020-04-27 16:50] Felix-Dev commented on #2287
@chigy One question I had is if I should also add 4 additional pixel as padding to the NavigationViewItem's ContentPresenter to align it visually with the chevron. (That's the difference in the images above. In the first three images the chevron and the navviewitem content are not aligned visually to the right (text goes a bit more to the right until cut off). In the last two images, chevron and c

[2020-04-27 17:00] ldocquir commented on #2339
@ranjeshj I'm willing to contribute. I'll take a look at the code. I'll be working on this on my spare time as it is related to a side projet.

[2020-04-27 17:02] chigy commented on #2287
@Felix-Dev , yes, please visually align the chevron and the NavigationViewItem's _ContentPresenter_ as you suggest. Unfortunate about the hover overlapping but I don't think there is a feasible option without making the visual to be less optimal, so please keep it be.

[2020-04-27 17:10] jp-weber commented on #2340
Thank you very much for the explanation. Then I am really looking forward to the coming versions 😀

[2020-04-27 17:11] Felix-Dev commented on #1925
@hipo760
Setting the BorderThickness to 0 for the NumberBox would result in the following look:
![image](https://user-images.githubusercontent.com/1398851/80400212-c8a87800-88ba-11ea-8210-d1869b11a657.png)

and mouse hovering over the increase button:
![image](https://user-images.githubusercontent.com/1398851/80400296-dfe76580-88ba-11ea-8a35-97f135fa361a.png)

[2020-04-27 19:43] jlf0dev opened #2343 "Whitespace in Nuget file causes build to fail on Mac"
**Describe the bug**

I am building a Xamarin application that has iOS, Android, and UWP versions. I also have a shared library for all my views that has the Microsoft.UI.Xaml nuget package. When I attempt to build my solution on a Mac, whitespace in the Microsoft.UI.Xaml.Props file causes errors.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new xamarin project.
2.

[2020-04-27 21:17] anawishnoff commented on #2247
Are you referring to the SelectionChanged event?

When items are inserted, DeselectedIndices will return a list of the indices that were selected before this item's entrance (if it caused items to move around and the selection to change). If items are removed, and one of the removed items was previously selected, DeselectedIndices will return the index of the previously selected item that is now r

[2020-04-27 21:27] michael-hawker commented on #1809
@MikeHillberg originally it was just `IEnumerable<object>` and `INotifyCollectionChanged`, adding `IList` fixed the problem, but meant I had to add more implementation details (which I may have needed anyway in the future, but was testing out the basics first).

[2020-04-27 21:38] Felix-Dev opened #2344 "Proposal: Add lightweight styling resource(s) for TabView's Separator"
# Proposal: Add lightweight styling resource(s) for TabView's Separator

## Summary
Currently, the margin of the TabView's Separator cannot be easily modified:

[code]

This proposal would expose this value via a resource to enable easy styling. Proposed resources:
* TabViewItemSeparatorMargin

This will enable TabView's item separator to be styled like Edge UWP's TabView separator, for example:

[2020-04-27 21:53] Felix-Dev opened #2345 "Proposal/Question: Add Tooltips to TabView's scroll buttons"
# Proposal/Question: Add Tooltips to TabView's scroll buttons

This is more a question than a proposal as of now:

Edge UWP's TabView scroll buttons have Tooltips describing their functionality:
![image](https://user-images.githubusercontent.com/1398851/80423984-28197e80-88e1-11ea-990c-feeab6292826.png) ![image](https://user-images.githubusercontent.com/1398851/80423938-1a63f900-88e1-11ea-86fc-f98

[2020-04-27 22:07] tonuv opened #2346 "Positions reported by Manipulation_Delta are not correct"
**Describe the bug**
In using WinUI 3 the positions reported by the ManipulationDelta event seem to be scaled by a factor compared to real world. The same code compiled with Windows.UI references works perfectly

**Steps to reproduce the bug**
1. Create a WinUI3 C# application

Use this XAML:
    <Grid>
        <Path x:Name="theCircle" Fill="Red" ManipulationMode="TranslateX,TranslateY" Manipulati

[2020-04-27 22:09] tonuv commented on #2346
`    <Grid>
        <Path x:Name="theCircle" Fill="Red" ManipulationMode="TranslateX,TranslateY" ManipulationStarted="Path_ManipulationStarted" ManipulationDelta="Path_ManipulationDelta">
            <Path.RenderTransform>
                <CompositeTransform TranslateX="200" TranslateY="200"></CompositeTransform>
            </Path.RenderTransform>
            <Path.Data>
                <EllipseG

[2020-04-27 22:27] Felix-Dev opened #2347 "TabViewItem does not respect theme resource TabViewItemHeaderForeground"
**Describe the bug**
Changing the theme resource `TabViewItemHeaderForeground` does not change the foreground of the TabViewItem's header as expected. See this XAML:

[code]
The look we get is this:
![image](https://user-images.githubusercontent.com/1398851/80426651-6ebda780-88e6-11ea-8d3d-9838ce3e0419.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/1398851/80426557-

[2020-04-28 03:03] yoshiask commented on #1921
@ddalp

I can assure you that the font (and that script) is not a RTL language.
I noticed that the display issues occurred only in words that contained a jenkim/accent, which makes me suspect that. If it helps, the Unicode being used for the accent is `\u0300\u200D`.

[2020-04-28 04:42] MikeHillberg commented on #1809
And it looks like IList but not IList&lt;T&gt;. IEnumerable or IEnumerable&lt;T&gt; should be enough.

[2020-04-28 06:58] JensNordenbro commented on #1965
Yes @weitzhandler , that could be it!

I checked out Uno, it has recently gotten "dotnet new"-templates to do what I want for webassembly targets. Although it feel to ugh to rely on a smaller consultancy firm for cross platform. Microsoft buy these guys ;) Perfect complement to Xamarin!

[2020-04-28 07:33] sonnemaf commented on #2313
Windows Hello also uses a TaskDialog interface.

![image](https://user-images.githubusercontent.com/9335559/80459765-2b3d5a80-8933-11ea-880c-7b09f5371988.png)

[2020-04-28 08:25] chingucoding commented on #2247
Yes, sorry about the confusion.

That's true, returning null is probably be better. Though I am not such a fan of returning null in events as this would require additional code handling (check for null, then go through lists).

If we are really technical, the items that have been selected to not change when we insert items, only the index of those items (which we can't inform the user about what t

[2020-04-28 09:59] weitzhandler commented on #1965
@JensNordenbro
Read [this](https://platform.uno/blog/announcing-uno-platform-2-0/) article. They have tools to generate templates from cmd or vsix.

[2020-04-28 13:19] pedroemonteiro commented on #2307
Using the Windows Camera as an example, personally, it makes little sense to have this many versions of your app icon to be displayed in different places. For instance, the Start Menu app list and taskbar have no shadows while the tiles do.

Wouldn't it make more sense to provide a minimal icon set without a drop shadow and with only the necessary square sizes and then the surface it is being rend

[2020-04-28 13:38] mdtauk commented on #2307
@pedroemonteiro  It is possible that the upcoming Tile changes will enable a pairing down of the asset requirements.  If that is the case, there will be more reason to take a fresh look at the documentation and SDK tooling for creating these assets

[2020-04-28 15:43] dr1rrb opened #2349 "ItemsRepeater renders only the first item when no ScrollViewer in the visual tree under a popup"
**Describe the bug**
If there is no `ScrollViewer` in the parent visual tree of an `ItemsRepeater`, then it will render only the first item.

**Steps to reproduce the bug**
1. Create a blank app, in the `MainPage` put:

_MainPage.xaml_
[code]
_MainPage.xaml.cs_
[code]

**Expected behavior**
As the `Popup` is tall enough, we should see all 10 items.

**Screenshots**
![image](https://user-images.git

[2020-04-28 15:44] dr1rrb commented on #2349
This bug might be the root cause of https://github.com/microsoft/microsoft-ui-xaml/issues/2095

[2020-04-28 16:27] niels9001 commented on #778
@jevansaks Should we define all Reveal brushes in e.g. App.xaml referencing using the <muxm> namespace?

[2020-04-28 16:58] shaheedmalik commented on #2313
The difference for this is, it takes over the whole screen.

[2020-04-28 17:02] ranjeshj commented on #2349
@dr1rrb That is correct. ItemsRepeater uses the EffectiveViewport event which provides it the viewport (could be coming from scrollviewers in the tree above). Looks like there are cases where this event is not getting raised which leaves the rect to be empty. Stack/UniformGrid layouts use the realization rect to figure out how many items to realize. They realize the first element to figure out rel

[2020-04-28 17:04] shaheedmalik commented on #2313
I'm talking about avoiding stuff like this:
![image](https://user-images.githubusercontent.com/51347950/80515872-a5300c80-8950-11ea-9384-83f42a8c5e13.png)

This type of thing is annoying as hell to me. If I for watch ever reason miss pressing it, it will take me to the Start Screen.

[2020-04-28 17:21] #2277 closed

[2020-04-28 17:22] dr1rrb commented on #2349
Hi @ranjeshj , yes it works:
[code]
![image](https://user-images.githubusercontent.com/8635919/80516655-c8a78700-8951-11ea-90ee-d55a5348a43a.png)

But it's a valid use case to not use one. I would have fix it by myself, just I'm not a huge fan of C++ :)

[2020-04-28 17:25] ranjeshj commented on #2349
Thanks for confirming. I agree that the ScrollViewer should not be required. I think this is similar to #2102 and needs fix in the framework (will need to be post WinUI3).

[2020-04-28 17:25] rwx777 commented on #1925
That looks so great! Thank you.

[2020-04-28 17:27] hipo760 commented on #1925
Looks so great, thank you!!

[2020-04-28 17:27] niels9001 commented on #2313
We could catch that by drawing a backdrop, similiar to the default content dialog? Having a dialog full screen looks pretty bad, this would resolve both issues 👍.

[2020-04-28 17:31] dr1rrb commented on #2349
The issue is that if there is no scroller we don't even subscribe to the `EffectiveViewportChanged` event. So except if you plan that a root control (like the `Window`) implements `IScrollAnchorProvider`, I think that fixing #2102 would not fix this case.

[2020-04-28 18:32] chrisglein commented on #2319
@SavoySchuler Interesting problem. Do we have any potential solutions that have been put forward? Can you summarize what the customers like PowerToys would _like_ to see here?

[2020-04-28 19:40] #957 closed

[2020-04-28 20:05] ranjeshj commented on #2346
@gegao18 as FYI

[2020-04-28 20:07] ranjeshj commented on #2345
@stmoy This sounds like a reasonable request...

[2020-04-28 20:15] ranjeshj commented on #2343
@jlf0dev would you like to contribute a fix ?

[2020-04-28 20:23] ranjeshj commented on #2338
We only want to hide the glyph if Children is empty and HasUnrealizedChildren is false. @predavid does that sound reasonable ?

[2020-04-28 20:25] ranjeshj commented on #2337
@carmineos Are these elements only in the live visual tree and don't show in the view ? Do they have a size, position on screen ? I would expect this to be the same as what happens in ListView when items are removed from the list.

[2020-04-28 20:28] ranjeshj commented on #2335
@Austin-Lamb @marb2000 Is it possible to host WinUI3 inside an extension for Visual Studio (given that Visual Studio is WPF)

[2020-04-28 20:37] niels9001 commented on #778
`<Page
...
 xmlns:media="using:Microsoft.UI.Xaml.Media">
<Page.Resources>
<media:RevealBackgroundBrush x:Key="ButtonRevealBackground" />
<media:RevealBackgroundBrush x:Key="ButtonRevealBackgroundPointerOver" />
....
</Page.Resources`

Like this? There's quite a lot of them actually :-). We'd also need to check what the default values are or will that fall back to the default values if we use the c

[2020-04-28 20:45] michael-hawker opened #2350 "Unhelpful error message when invalid resource key"
**Describe the bug**
Was trying to launch my application and getting a `Error HRESULT E_FAIL has been returned from a call to a COM component.` message on start with no additional information or stacktrace as to what the problem was.

Turned out, I had a `StaticResource` key referencing something that didn't exist by mistake. It'd be great if VS could point this out ahead of time or the runtime er

[2020-04-28 21:14] anawishnoff commented on #2247
Hmm, okay, I'm definitely starting to come around to the idea of having a separate event for IndicesChanged. It makes more sense from an implementation side, but I'm not sure if it's something that would be so intuitive from the developer's side - i.e. developers may not think to listen for that event as they would selection changed.

However, if we had a separate event we could still return Selec

[2020-04-28 22:29] carmineos commented on #2337
Yes rhey don't show in the view, I've recorded a small clip with Xaml-Control-Gallery to show what I mean.
https://streamable.com/75640d

[2020-04-29 01:18] #2249 closed

[2020-04-29 06:35] #2314 closed

[2020-04-29 11:35] Felix-Dev commented on #1925
@ranjeshj Currently, we expose the border thickness of the NumberBox Inline SpinButtons as a resource:
[code]

Note that we don't set the left border side here. This way, the border between the two spin buttons has the same thickness as the other border sides (e.g. top, bottom) as can be seen in the images above.
In order to make the SpinButtons border settable via a BorderThickness TemplateBindin

[2020-04-29 11:48] ranjeshj commented on #1925
@Felix-Dev That sounds like a reasonable approach. This would be new API though, so adding @SavoySchuler and @MikeHillberg.

[2020-04-29 14:32] ranjeshj commented on #2324
@joshhunt I'm having trouble getting it to repro/debug. Would it be possible to create a standalone repro without the ghost overlay ?

[2020-04-29 15:50] jlf0dev commented on #2343
Created new fix for this: [#2351](https://github.com/microsoft/microsoft-ui-xaml/pull/2351)

[2020-04-29 16:19] codendone commented on #2296
Thanks for minimal repro!  This issue recently popped up in our crash data ([internal link](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/19224095/
)).  As you found, the problem is that if the source or target element isn't visible on the next frame (such as due to Opacity=0), then Connected Animations try to no-op but leave some incorrect state which results in an uncat

[2020-04-29 16:21] shaheedmalik commented on #2307
That's a crazy amount of icons. Is there a program that will automatically generate all of those sizes? The icons should be automatically scaled from a bigger one, tbh.

[2020-04-29 16:24] pedroemonteiro commented on #2307
There are times when the smaller versions need to be slightly adapted to be more legible.
However, I agree that the developer should provide only 3 sizes (small, medium, large). Or alternatively, the same behaviour of a .ico.

[2020-04-29 16:46] michael-hawker commented on #2163
@anurkalem this sounds like [this issue](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/205) we have on the toolkit repo. That repo would be the right place to file an issue if it's not a duplicate of the one I just linked to. Let us know.

@ranjeshj we can close this here. FYI @marb2000

[2020-04-29 16:52] #2163 closed

[2020-04-29 16:56] vsfeedback opened #2352 "UWP selected item is not focused/highlighted in masterdetailview"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1000691/uwp-selected-item-is-not-focusedhighlighted-in-mas.html)._

---
<p>I am setting the selecteditem of masterdetailview programmatically but item is not highlighted.
In MasterDetailView i gave selecteditem as a binding property whose mode is TwoWay, When I set this bin

[2020-04-29 18:02] chingucoding commented on #2247
Agreed, that is one potential downside. The change if indices is somewhat a selectionchange and somewhat it is not, so it is hard to argue here what is the right event to handle that kind of change.

Totally agree, I think we should still return the indices with the items that have been selected.

I think the best case would be something like "Old index -> New index" mapping that developers than c

[2020-04-29 18:55] carlos-zamora opened #2353 "TabView's New Tab Button color contrast ratio inaccessible (Light Theme)"
**Describe the bug**
The New Tab Button for the TabView does not meet a 3:1 color contrast ratio.

**Steps to reproduce the bug**
This can be seen in Windows Terminal's [TabRowControl.xaml](https://github.com/microsoft/terminal/blob/master/src/cascadia/TerminalApp/TabRowControl.xaml), where we replace the NewTabButton with a SplitButton matching the styling of the TabView's NewTabButton.

More eas

[2020-04-29 20:09] ranjeshj commented on #2353
@carlos-zamora Both TabView + and the splitbutton have this issue ? @chigy as FYI.

[2020-04-29 20:20] ranjeshj commented on #778
@niels9001  If you want to share them across the app, you can do the same in Application.Resources in App.xaml.  I am a little bit confused on what you need regarding fallback. Are you asking if there will be a default value available if Reveal is not available in a down-level OS release ?

[2020-04-29 20:44] niels9001 commented on #778
My question was about my sample XAML: should that work or do we need to add the actual colors for each brush as well (like how they are defined in generic.xaml (or themes.xaml?)?

That means that if, in theory, we have a UI with all controls, we'd need to add a lot of brushes in the Application.Resources. Would be nice to have that list copy-and-paste ready (with the right namespace) instead of go

[2020-04-29 20:55] carlos-zamora commented on #2353
Yeah. I assume this is different from https://github.com/microsoft/microsoft-ui-xaml/issues/1901 because it's a different resource dictionary, but if not, feel free to close it.

This is being tracked in the Terminal repo here (https://github.com/microsoft/terminal/issues/5392) and was submitted by the accessibility testers.

[2020-04-29 21:05] carlos-zamora opened #2354 "ContentDialog Text Color Contrast"
**Describe the bug**
The color contrast of hyperlinks and text in a ContentDialog does not meet the color contrast ratio of 4.5:1 for accessibility.

https://github.com/microsoft/terminal/issues/5395 is dependent on a fix for this issue.

**Steps to reproduce the bug**
This can be seen in Windows Terminal's [TerminalPage.xaml](https://github.com/microsoft/terminal/blob/master/src/cascadia/Terminal

[2020-04-29 21:28] anawishnoff commented on #2140
After doing some thinking on this and talking to some other UI teams, it seems like having the separate badge control, and implementing that control in the template of specific controls (i.e. NavigationView) is a common method of implementing badging. I think this is a good, flexible solution although it adds a bit onto NavigationViewItem.

With a Badge control, I think it would be easy enough for

[2020-04-29 21:59] chigy commented on #2353
@carlos-zamora , do you have screenshot of the offending UI?

[2020-04-29 22:01] carlos-zamora commented on #2353
Yes. They should be visible in the issue description above. Windows Terminal is on the left side, and Accessibility Insights is on the right detecting the issue.

[2020-04-29 22:04] chigy commented on #2353
@carlos-zamora , oops, I see it now. I wasn't clear what I was looking at. :)

@stmoy , is this issue with TabView or the way those resources are used within Terminal?

[2020-04-29 22:09] carlos-zamora commented on #2353
Huh. I just noticed that we do this:
[code]
Overriding the SplitButton's resources to match the tab view's button styles.

So this might actually be an issue with the TabView resources. And a duplicate of  https://github.com/microsoft/microsoft-ui-xaml/issues/1901. Sorry!

[2020-04-29 22:31] stmoy commented on #2353
Good question. I was under the impression that the SplitButton was custom for Terminal (as the regular ol' TabView doesn't have one built in) - but I think that it cannot be fixed independently of the TabView fix since it has a transparent background. I don't think it's actually a dupe of #1901 as I'm guessing there will need to be some custom work here, but I think the former must be solved befor

[2020-04-29 23:25] #2315 closed

[2020-04-30 00:42] michael-hawker commented on #2352
Thanks @ranjeshj, I commented on the VS forum about filing an issue on our repo instead with a bit more detail. You can close this issue here.

[2020-04-30 03:29] michael-hawker commented on #2242
Is this similar to what [CompositeCollection](https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-implement-a-compositecollection) did in WPF? Should it have a similar name/API for upgrade path scenarios?

[2020-04-30 03:32] michael-hawker commented on #1809
@MikeHillberg, yeah that's what I was expecting initially, but it would only listen to updates once it was an `IList`.

The problem I'm running into now is that if I don't raise the right `NotifyCollectionChangedEventArgs` than ListView tries to add an existing container to itself and I get an unhandled exception with a duplicate item in the tree.

Is this process documented anywhere with examples

[2020-04-30 03:36] michael-hawker commented on #2350
I can also get other weird errors during layout measure cycles with missing/invalid resource lookups from the resource dictionary. It really slows things down when I have to go hunt through my XAML to realize I didn't copy over another resource from some other dictionary.

It'd be great to improve all these dictionary miss type errors with more helpful error messages which call out at least the na

[2020-04-30 07:51] AzAgarampur opened #2355 "Reveal, Acrylic, etc. always use the fallback color when using WinUI in a custom control hosted in a Win32 Desktop Application"
**Describe the bug**
Whenever a `XamlCompositionBrushBase` is used from `Microsoft.UI.Xaml.Media` after following the steps at [Custom XAML Control](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands-cpp), all of the brushes use their fallback color instead of the correct color. This does not happen when using `XamlCompositionBrushBase` brushes fr

[2020-04-30 11:22] ranjeshj commented on #2242
@michael-hawker This is the same idea as CompositeCollection and would make sense to see/match the APIs if we end up doing this. The proposal was initially created to serve NavigationView as @chingucoding mentions, but a different solution was chosen. If we did this, it would support observable cases as well. The merged collection would listen to collection changed on each collection and raise INC

[2020-04-30 18:54] DHowett-MSFT opened #2357 "HyperlinkButton refuses to navigate to file:// URI"
**Describe the bug**

[code]

Clicking this button results in nothing happening (not even an exception).

**Steps to reproduce the bug**

As above. Have a file called `sad.html` in C:.

Terminal's use case was embedding third-party notices as an HTML file in our package and then launching the browser to that file.

**Expected behavior**
It works.

**Version Info**
Windows 10.0.19041.0
This is a pl

[2020-04-30 20:07] Felix-Dev opened #2358 "SelectionModel: SelectionChanged event not raised when switching SelectionMode"
**Describe the bug**
In ongoing PR #2284 it was noticed [here](https://github.com/microsoft/microsoft-ui-xaml/pull/2284#pullrequestreview-402919197) that the SelectionChanged event is not raised when a switch from SelectionMode `Multiple` to `Single` causes a selection change.

**Version Info**
NuGet package version:
Microsoft.UI.Xaml v2.4.0-prerelease.200422001

[2020-04-30 20:09] ranjeshj commented on #2354
@carlos-zamora  Is the blue color, the default blue shell accent color ?

[2020-04-30 20:15] ranjeshj commented on #778
I'm still wondering what you are trying to achieve. Are you trying to add reveal on all the built in controls ? Could you use the named styles to achieve that ?

https://docs.microsoft.com/en-us/windows/uwp/design/style/reveal#enabling-reveal-on-other-controls

If you want to change the defaults to the reveal styles for the entire app, you can do that as well by building on top of these named styl

[2020-04-30 20:16] michael-hawker opened #2360 "Randomly hitting 'read access violation' in CompositonVisualDiagnostics.cpp"
**Describe the bug**
I've started hitting an issue where VS will constantly hit a 'read access violation' in `CompositionVisualDiagnostics.cpp` and it won't let me continue execution of my application even after excluding the checkbox of breaking on this type of exception.

Restarting the app/unit test app (happens in both types) doesn't resolve the issue. I need to restart Visual Studio in order

[2020-04-30 20:19] ranjeshj commented on #2360
This is tracked by internal bug https://microsoft.visualstudio.com/OS/_workitems/edit/26071662
@simeoncran can you please confirm this is the same issue ?

[2020-04-30 20:24] carlos-zamora commented on #2354
Yes. This one was another one submitted by the accessibility testers. Personally, I feel that using the accent color is correct, but I get how that could create a situation like this where the color contrast is not acceptable.

CC'ing @DHowett-MSFT to keep him in the loop.

[2020-04-30 20:27] mdtauk commented on #2354
When choosing an Accent Color, it does warn where there could be visibility problems - so if the user has chosen such a colour - then we can presume they take that risk.

The Windows team should have chosen an accent colour that meets contrast ratio recommendations right?

[2020-04-30 20:36] niels9001 commented on #778
I'm trying to make Reveal work for a listview and a normal button in a Xaml Island.

My point was that I'd need to define 6 brushes for each control (Normal, PointerOver, Pressed for both the background and borderbrush).

Can you confirm that the code I posted above should work? Because somehow it isn't for me :(.

[2020-04-30 20:58] anawishnoff commented on #2247
Agreed - something specific like SelectedItemsIndicesChanged or even just SelectionChangedIndices would get the message across. This might be the easiest way to control what info we pass back when theres a selection or collection change. @ranjeshj What do you think of this method of having two separate events, so we can control where we provide information on indices (preventing us from providing

[2020-04-30 22:28] carlos-zamora commented on #2353
Ok, I went to the Xaml Controls Gallery and here are some more useful results:

Light Theme: fail
![light theme: fail](https://user-images.githubusercontent.com/11050425/80765094-04c81c80-8af7-11ea-8913-ff97873bc0bc.png)

Dark Theme: pass
![dark theme: pass](https://user-images.githubusercontent.com/11050425/80765120-16a9bf80-8af7-11ea-8e99-8f3a73bee3d9.png)

Note: the target ratio is 3:1 for UI c

[2020-04-30 22:52] chigy commented on #2353
@carlos-zamora , what is this measuring?

[2020-04-30 22:54] chingucoding commented on #2247
Great idea! I think for the indices changed event that is all the information one might need to deal with that event.

[2020-04-30 23:01] michael-hawker commented on #2242
Thanks for the info @ranjeshj, I've definitely seen a couple of different types of ObservableCollection wrappers that could be useful for developers. I'm working on one now in the Toolkit for one of our controls, so it could make sense to provide some solutions in the Toolkit package for now and look if any would make sense for WinUI in the future.

[2020-04-30 23:03] michael-hawker commented on #2360
Thanks @ranjeshj, this looks like the same issue. Is this an Insider build issue with the OS?

[2020-04-30 23:11] carlos-zamora commented on #2353
Oh sorry! I've been running around a bit today. The above ratios are measuring the color contrast of the New Tab Button that is included by default in a TabView. Color 1 is the color of the '+' (foreground) , and Color 2 is the background.

These buttons are shown here:
![dark theme: new tab button](https://user-images.githubusercontent.com/11050425/80767368-938b6800-8afc-11ea-8142-5be3b9aee66c.pn

[2020-05-01 00:07] simeoncran commented on #2360
I can confirm that is the issue. Not sure how far it escaped. It's a race condition so you can get unlucky, and turning on or off native debugging can perturb it.

[2020-05-01 00:18] wjk commented on #2313
My 2¢ on this issue: The main reason I still use the Vista-era TaskDialog is because it conforms to Vista-era design principles; namely, minimizing wasted white space. Just because WinUI 3 is designed as a "touch-first" toolkit, it doesn't mean that supporting touch as a first-class design feature is a good idea for every project. The example in the OP, while fine from a touchscreen perspective, h

[2020-05-01 00:31] mdtauk commented on #2313
Winforms has added a wrapper for the Windows 7/8/10 style control - so this doesn't totally replace it.

This proposal is about providing a similar UI for Windows 10 native looking apps, which can be called from WinUI apps, without looking vastly different from the new modern design.

If you do not want to support touch screens, and do not want to make your app look like a modern Windows 10 app -

[2020-05-01 00:33] wjk commented on #2313
@mdtauk: Because I want the app to look like a modern Windows 10 app. That does not necessarily imply first-class touchscreen support as far as I am concerned. I'm sorry if I didn't make this more clear.

[2020-05-01 00:34] mdtauk commented on #2313
There was discussion about this kind of thing in another issue #2122 and how you may introduce a visual style to suit modal dialogs and content dialogs.  Any "smoke" layer should be consistent with other modal UIs, but whether this is on the whole screen, or just for the window that summoned the TaskDialog - is possibly a discussion to be had.

[2020-05-01 00:37] mdtauk commented on #2313
Text Size for Windows 10 UI is 14pt for most body text with 12 for captions.  It is for modern accessibility, the WinUI anti-aliasing, that this is as it is.

Touch targets for buttons are a minimum of 32 px for touch targets, so to deviate from these standards, would make the UI not fit the new Shell design that Microsoft are moving towards.

I would suggest that if you wish to make Legacy lookin

[2020-05-01 01:27] shaheedmalik commented on #2313
I don't understand why people say a big control is wasting space. It's a dialog box. You can't do anything past it. It if is small like the Win32 example I posted, you can't do anything with that "saved" space.

I'm posting this message on my phone and I can't read what it even says from here.

[2020-05-01 03:59] ranjeshj opened #2363 "Fix flaky test AutoSuggestBoxTests.ValidateVisualTree"
This test is disabled since it was being flaky in the PR pipeline.

[2020-05-01 04:38] michael-hawker commented on #2313
There's also the notion of the Compact Styling option, so that should be the option available for this (like any other WinUI control) for targeting desktop only scenarios compared to touch-friendly defaults.

[2020-05-01 10:34] jtorjo opened #2364 "[uwp] Proposal: Have Window.Current.CoreWindow.Activate(); actually work"
# Proposal: [uwp] Proposal: Have Window.Current.CoreWindow.Activate(); actually work
There's a simple and elegant way to bring your window to the foreground - `Window.Current.CoreWindow.Activate()`. It doesn't work.

## Summary
There should be a way to bring the application to foreground.

## Rationale
The reason I want this is to handle drag and drop properly. My app needs to be full screen (sinc

[2020-05-01 11:18] chingucoding commented on #2364
There are also valid reasons to block apps from having them force their way to the foreground.

The sandbox is not designed to be perfect for every app. If you run into issues to often, you might want to consider switching to something else, though I can see that this often will be hard given the performance benefit of UWP.

Also something important is that there is a third party in that equation

[2020-05-01 12:32] jtorjo commented on #2364
While I disagree with a lot of what you said, I would be ok with having this, for starters.

[2020-05-01 12:39] jtorjo commented on #2364
I would have done this looooooooong time ago, had I truly had a choice. M$ locked me into UWP when it made win2d UWP-only (which clearly was the original intent)

[2020-05-01 13:05] Felix-Dev commented on #2364
As @chingucoding said, if the user drops something onto an app which is not in the foreground, the app should be allowed to activate itself (brought to the foreground and got focus). If I, as the user, drop something onto the app which then needs to be processed further by me, it is my expectation as a user that the app will be activated then. I should not have to explicitely bring it to the foreg

[2020-05-01 13:24] koenvd commented on #1965
Hi

I created a very basic UWP app with a WebVIew2 control on the MainPage.

When setting the `UriSource` it apperars that for some URL's (like http://www.google.com)  the webview doesn't become visible. However for other URL's it does work (eg http://www.bing.com).

Based on the requests it's doing it looks like the webview is fully active but just does not become visible. I already tried to set

[2020-05-01 14:01] jtorjo commented on #2364
I am in 100% agreement with you. And about your issue - yes, it definitely should work as you describe, I wasn't even aware of this issue, 'cause I would have definitely filed a request myself ;)

[2020-05-01 17:35] stmoy opened #2367 "NumberBox Header Missing in WinUI 2.4"
**Describe the bug**

The NumberBox samples in the Gallery use `Header` to provide context about the NumberBox. This used to work, but as of WinUI 2.4, the Headers seem to be missing.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to NumberBox page in the Xaml Controls Gallery
2. Notice the missing headers

**Expected behavior**

This is the version of the Gallery from the

[2020-05-01 17:41] stmoy commented on #2345
Seems reasonable to me too. We'll need to make sure that the strings are localized, but this otherwise seems straightforward.

[2020-05-01 18:03] Felix-Dev commented on #2345
@stmoy I would like to work on this then. I would follow the precedence set in my PR https://github.com/microsoft/microsoft-ui-xaml/pull/2022 where I only had to create the resources for US English with the localizations added to WinUI in a later [PR](https://github.com/microsoft/microsoft-ui-xaml/pull/2093) by the team.

[2020-05-01 18:21] MarissaMatt commented on #1170
@michael-hawker thank you for linking the PR! That gives me a lot of context around the customization of animations. My main takeaway from the other thread is that we need to provide an easy way for a user to swap in their own animations if they want to use something that is not a bar or a ring. This is primarily true for indeterminate progress but can be applied to both indeterminate and determin

[2020-05-01 18:48] ranjeshj commented on #1170
ProgressBar/Ring are expected to be compatible with the WUX version, so they will support custom templates that are storyboard based. The concern in the PR was that we were not going to allow customizing the template with storyboard animations which has been addressed.
Lottie has advantages with perf because under the covers it is all comp animations and avoids creating lots of storyboard/xaml obj

[2020-05-01 19:18] chingucoding commented on #2367
I will look into this this evening.

[2020-05-01 19:24] stmoy commented on #2367
Looks like this has actually been fixed already with this change: https://github.com/microsoft/microsoft-ui-xaml/commit/41c7fa3ea98e5df218fcbb559e43fb9b4633431b

The master version of the Gallery hasn't been updated to the latest 2.4 package yet, but I confirmed this issue is fixed on the latest package.

[2020-05-01 19:24] #2367 closed

[2020-05-01 20:57] rjewell999 opened #2370 "C++ example code is where?"
I would like to copy pixel data into a SoftwareBitmap and the simple task seems almost impossible. After a lot of reading I am searching for C++ sample code relating to WriteableBitmap.PixelBuffer. The page and various discussions online talk about C++/WinRT solutions (example code) but I can't find them. Could you add links to the page to the code examples?

[2020-05-01 21:04] ranjeshj commented on #2370
Are you looking for C++ winrt samples ? Is this what you are looking for ?
https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/

[2020-05-01 21:05] chingucoding commented on #2367
Oh right, you are right.

[2020-05-01 21:10] ranjeshj commented on #2354
@chigy can you route this bug ?

[2020-05-01 21:12] ranjeshj commented on #778
@kikisaints What is the best option here ?

[2020-05-01 23:01] chigy commented on #2354
We are aware of this issue and will be sure to share this as additional information to the team that owns addressing this issue.

[2020-05-02 02:29] jhanna opened #2371 "Support for webcam eye tracking"
Why is this just being restricted to hardware eye trackers?
xLabsgaze.com is the worlds leading webcam based eye and gaze tracking software solution. Since 2014 over 1.8m eye tracking sessions have been commercially successful with billions of data points driving  continuous improvements to the ML Lagos.
It’s proprietary. Runs really time interactive on device. And is comparable performance with h

[2020-05-02 04:13] tejaat1995 opened #2372 "Severity Code Description Project File Line Suppression State Error Payload file 'C:\Users\admin\.nuget\packages\microsoft.winui\3.0.0-alpha.200210.0\runtimes\win10-x64\native\Microsoft.UI.Xaml\DensityStyles\CompactDatePickerTimePickerFlyout.xaml' does not exist. XamlControlsGallery"
**Severity Code Description Project File Line Suppression State Error Payload file 'C:\Users\admin\.nuget\packages\microsoft.winui\3.0.0-alpha.200210.0\runtimes\win10-x64\native\Microsoft.UI.Xaml\DensityStyles\CompactDatePickerTimePickerFlyout.xaml' does not exist. XamlControlsGallery
**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Clone  'git clone --single-branch --branch

[2020-05-02 15:41] Felix-Dev commented on #2364
@jtorjo Would you agree in editing this issue (such as its title and summary) so we have it narrowly defined for the specific drag & drop app activation scenario?

In addition - if not yet done so - you should probably file a feedback hub item (and linking to this proposal perhaps) and also tag Ben Kuhn here.

With that you did everything we were told to do regarding sbmitting UWP feedback and we

[2020-05-02 16:17] mdtauk commented on #2364
Win32 made many many things possible for Windows app developers.

In hindsight, maybe it should not have done.

WinUI Desktop and UWP are Microsoft's considered approach, trying to put the user before the developer, and being judicious about what they allow applications to do.

For requests like this, where a useful (to the user) case is made, I think that will help the relevant teams look fondly

[2020-05-02 16:20] robloo commented on #2257
I still am looking forward to understanding how the ToggleButton solves this problem. Otherwise, I'll wait until WinUI 3.0 is open sourced and take a look myself. The same solution should be applied to AppBarToggleButton.

My guess is it is overriding the Foreground Brush based on the contrast with the Background Brush. My simple logic above would also work and could be extended to invert the Fore

[2020-05-02 16:25] mdtauk commented on #2257
If there was a **ForegroundContrastBrush** which took the pixel colour behind the element, and chose to use the light or dark specified colour - these situations would be eliminated.

[2020-05-02 17:06] KPixel opened #2373 "FlowLayoutAlgorithm.Generate() should take into account the spacing after the current element"
Currently, `FlowLayoutAlgorithm` considers that there is enough space for the current item if it fits:

https://github.com/microsoft/microsoft-ui-xaml/blob/1ced221991d3abd51875d24d69221afa878b6c5a/dev/Repeater/FlowLayoutAlgorithm.cpp#L324
However, it doesn't add `minItemSpacing` for that current item.

This is a problem because `UniformGridLayout` computes the number of items per line with the ass

[2020-05-02 18:03] Felix-Dev commented on #2364
@mdtauk WinUI Desktop is MSs offer to developers to be able to ship an app featuring a modern UI/UX while not having to deal with the limitations imposed upon them by the sandbox/UWP app model.

[2020-05-02 18:07] mdtauk commented on #2364
Yes, except WinUI 3 in general needs to work with UWP also, so any APIs or surfaces need to work on both.

[2020-05-02 18:18] Felix-Dev commented on #2364
We have a good example with the new Window class WinUI 3 will introduce where depending on the underlying app model (assuming a "win32 app model"). It will support features for classic Win32 apps even if those are not yet available on UWP (such as hiding a window from the taskbar).

WinUI Desktop will thus provide Win32 app developers a familiar experience even though there might not be support fo

[2020-05-02 21:27] jtorjo commented on #2364
@Felix-Dev Done.

@BenJKuhn Here's the ticket on feedback hub: https://aka.ms/AA8b8jh

[2020-05-02 21:33] jtorjo commented on #2364
@mdtauk I will very likely get flamed here, but I'm really curious where there's the research about whether users actually care about this or not. And basically, most of the sandbox restrictions except dealing with Files/Folders:
- do users really care about whether an app brings itself into the foreground? (when it makes sense)
- do users really care about whether an app tries to maximize itself

[2020-05-02 21:40] Felix-Dev opened #2374 "[UWP App Model] Proposal: Improve register-app-for-start-at-log-in Experience"
# Proposal: Improve register-app-for-start-at-log-in Experience (UWP App Model)

## Summary
Using the [StartupTask](https://docs.microsoft.com/en-us/uwp/api/Windows.ApplicationModel.StartupTask?view=winrt-18362) API app developers can register their app to automatically start at log-in. The API is available for both UWP apps and DesktopBridge apps (MSIX-packaged Win32 apps). Depending on the "app

[2020-05-02 22:57] Felix-Dev commented on #2364
@jtorjo
The way I see it, with the sandbox, these app restrictions are ON by default. You as a user don't have to hope that the developer of the app will listen to you and fix the issues you have with the app just doing as it pleases. You could uninstall the app, but what if the app is vital for you and and you can't really avoid using it?

In times like these a great example is Microsoft Teams. M

[2020-05-02 23:52] lmcdougald commented on #1051
Does this mean that WinUI 2.3 TwoPaneView doesn't respect the split? And if so, which WinUI version can we expect that to land in?

[2020-05-03 00:36] michael-hawker commented on #2374
Does this mean that if the app is disabled in settings, the app has no way to re-enable itself and has to get the user to go back to the settings dialog?

[2020-05-03 08:04] zhuxb711 opened #2375 "Strange behavior of TreeView control"
**Describe the bug**

Suppose there is a folder named "test" and its subfolder "NewFolder"
![image](https://user-images.githubusercontent.com/42038175/80908733-f6773c00-8d54-11ea-9047-d36d50504705.png)

When I remove the "NewFolder" folder, the following code is executed
[code]

Now the HasUnrealizedChildren property of the “test” folder is false
Therefore, the small arrow on the left should not b

[2020-05-03 08:58] Felix-Dev commented on #2374
@michael-hawker Yes. Just as with UWP/DesktopBridge apps today, the moment the permission is disabled in Settings by the user themself the app can no longer programmatically give itself that permission. The user will first have to allow the app to start at log-in via the Settings app again.

[2020-05-03 11:22] jtorjo commented on #2364
@Felix-Dev Many many thanks for the detailed explanation. Deeply appreciated!

Probably my anger comes from the fact that a lot of sandbox constraints have not been given any afterthought. Like, your issue, which makes complete sense - why should the app behave differently when closed from minimized or from normal state? Same here - this has been known for years, yet nothing has been done. And you

[2020-05-03 15:52] robloo commented on #2257
@mdtauk,

Yes, that would probably be the most robust solution. Something like the RevealBorderBrush which is dynamic and controlled by the platform. However, I wish all of this wasn't done with an unknown behind-the-scenes implementation. It would be ideal to somehow do all of this in XAML itself without 'magic' brushes. However, the precedent is already there and it would solve this problem quit

[2020-05-03 21:04] contextfree commented on #2364
I don't have any quantitative data of course, but if you do a search for "focus stealing" you can see that at least some people get really upset about it, e.g.:

https://www.change.org/p/microsoft-stop-focus-stealing ("Petition to Microsoft: Stop Focus Stealing!")

https://www.urbandictionary.com/define.php?term=focus%20stealing ("A very annoying feature in windows where an application foribly bri

[2020-05-03 21:08] mdtauk commented on #2257
I have suggested this kind of brush before on other issues.  You would create a brush resource with a light and dark value.  So the LightColor could use a dark black value, and the DarkColor could use a light white colour.

The colour used for the element would then pick which value gives the best contrast.

[2020-05-03 21:31] Felix-Dev commented on #2364
@jtorjo

I feel you. The UWP sandbox is a laudable concept yet in many cases, MS has not yet managed to implement the sandbox in a user-friendly way. That's an important point to keep in mind in any discussion about the sandbox. One of the fundamental issues I'm pointing out in my specific UWP App Model proposals is definitely not of the theme "Sandbox vs developer". No, it's about the sandbox in

[2020-05-03 22:44] rasyidf opened #2376 "Navigation View Scrollbar"
**Describe the bug**
When opening XAML Control Gallery with my small resolution (mine is 1366x768), the navigation menu item overlapped by the scrollbar when It's in compact mode.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Disable *Setting > Ease of Access > Automatically Hide Scrollbar in Windows*
2. Open Xaml Control Gallery (or Windows Security)
3. Resize to smaller vie

[2020-05-04 00:51] shaheedmalik commented on #2376
This has been marked already.

[2020-05-04 01:02] shaheedmalik commented on #2376
#1742

[2020-05-04 04:56] zhuxb711 opened #2379 "The SwipeControl control will prevent dragging of the GridViewItem when using touch screen"
**Describe the bug**

If there is no SwipeControl in the GridView DataTemplate, you can drag the GridViewItem completely normally

However, if there is a SwipeControl in it, it will get stuck when dragging the GridViewItem using the touch screen, and all drag related events will not be raised

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use touch screen
2. Insert SwipeContr

[2020-05-04 05:17] colinkiama opened #2380 "Proposal: DateTimePicker Control"
# Proposal: DateTimePicker Control

## Summary
A control that allows the user to select both a date and time.

## Rationale
- Simple data binding when working with both date and time
- Easier developer workflow as they no longer need to combine the results of multiple controls to retrieve a combined date and time.
- Easier transition from other operating systems (e.g. iOS and Android)

[2020-05-04 11:19] rasyidf commented on #2376
then, it's a duplicate.

[2020-05-04 11:40] Felix-Dev commented on #2376
@rasydif
To my understanding this is "fixed" in the sense that an app developer can now use the the [CompactPaneLength](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview.compactpanelength?view=winui-2.3)  API of the NavigationView to set an increased compact pane width if required.

The WinUI team opted for this per-app approach instead of a global change approach

[2020-05-04 11:44] rasyidf commented on #2376
Okay, so this is not an issue anymore, thank you.

[2020-05-04 11:52] Felix-Dev commented on #2376
I presume this issue can be closed then? Please do so if you agree. Thanks 🙂

[2020-05-04 13:03] #2376 closed

[2020-05-04 13:53] ranjeshj commented on #2373
@KPixel Thanks for the in-depth details. I'm a bit surprised about it repro'ing for just one orientation since most of this code is working on major/minor (scrolling vs not direction) instead of vertical/horizontal. When you switched orientation, did you change the ScrollViewer to switch its scrolling orientation as well ?. Would you be able to contribute a fix ?

[2020-05-04 14:06] ranjeshj commented on #2372
Did the nuget restore succeed without any errors ? you can force it by right clicking on the solution file and clicking on restore all nuget packages  and then looking in the output window for any errors.

[2020-05-04 15:05] mdtauk commented on #2380
Just a quick mockup...

![image](https://user-images.githubusercontent.com/7389110/80980826-052b2500-8e21-11ea-9b49-a2f91da93847.png)

[2020-05-04 15:47] shaheedmalik commented on #2364
It's already possible to do this via dragging to subject to the Taskbar but it doesn't work while in Tablet Mode. This aspect is on the shell team.

[2020-05-04 16:03] KPixel commented on #2373
I had also assumed that the bug would occur in both orientations.
I did change the ScrollViewer as required.

Regarding the fix, sorry, I can't submit a pull request.
But my understanding is that we should just change:

https://github.com/microsoft/microsoft-ui-xaml/blob/1ced221991d3abd51875d24d69221afa878b6c5a/dev/Repeater/FlowLayoutAlgorithm.cpp#L324

To:

[code]

But maybe I am missing somethin

[2020-05-04 16:13] jtorjo commented on #2364
@contextfree Thanks for pointing this out! I was not aware of it.

[2020-05-04 16:22] codendone commented on #2076
@duncanmacmichael Per our offline discussion, please take a look.

[2020-05-04 18:08] hihain opened #2382 "Question: Should NavigationViewItem work on 15063 like on later Windows versions?"
I thought that I should use `NavigationViewItem `inside my `MenuItemTemplate`, but that does not seem to work on 15063. Replacing it with a `TextBock` solves the difference in style and function between 15063 and newer versions of Windows. I use the current stable UI.XAML 2.3 release.

**Is it a bug or am I misunderstanding how to bind data to a `NavigationView`?**

My problem is, that it works fl

[2020-05-04 18:18] ranjeshj commented on #2382
@hihain can you try the latest 2.4 pre-release build ? There have been several changes to the NavigationView control since 2.3.

[2020-05-04 20:05] ranjeshj commented on #2380
@mdtauk can you share the iOS and android versions and typically where they are used ?

[2020-05-04 20:13] ranjeshj commented on #2379
@zhuxb711 The swipe is interfering with drag and drop gesture. I think this is by design. I don't see an easy way to get swipe and dragging working they way you are proposing.

[2020-05-04 20:34] mdtauk commented on #2380
Android Fluent Date and Time Picker
![image](https://user-images.githubusercontent.com/7389110/81010259-e1ca9f00-8e4d-11ea-8442-9e30ff8fd17c.png)

-----

iOS Fluent Date and Time Pickers
![image](https://user-images.githubusercontent.com/7389110/81010421-33732980-8e4e-11ea-9e0c-3aafda7a8d1b.png)

-----

iOS Default
![image](https://user-images.githubusercontent.com/7389110/81010897-e9d70e80-8e4e-1

[2020-05-04 21:41] codendone commented on #1965
@koenvd Do you also see this problem if trying to navigate to those URL's directly in the Edge Beta browser?  I don't repro this issue.  How recent is your install of Edge Beta?

Since you can also repro the issue outside of WinUI, please log your issue in the Edge WebView Feedback project here:  https://github.com/MicrosoftEdge/WebViewFeedback/issues/

[2020-05-04 22:35] gabbybilka commented on #913
Hi everyone! I'm a Program Manager for WinUI and am picking this proposal back up from @SavoySchuler. There's been a lot of great discussion and idea sharing already in this thread, thank you for all of your suggestions!

As it's been several months since there's been some activity here I wanted to check back in with everyone and re-iterate where we are currently.

As a summary of our current scop

[2020-05-04 23:14] jtorjo commented on #2364
@Felix-Dev

Thanks :)

Got it, it makes a lot of sense. Yes, I'm totally fine with the sandbox concept as well, practice is killing us ;)

Agreed, lets hope for the best :)

[2020-05-04 23:18] mdtauk commented on #913
Glad to see this proposal has not been forgotten @gabbybilka and thank you for taking it on!

If it is at all possible, you could contact those working on first party apps that include these kinds of notification UIs to make a list of requirements, for them to move from their custom solution, to a WinUI native control.  Their needs, combined with the community's wants and needs, should cover enoug

[2020-05-05 04:14] michael-hawker commented on #913
@gabbybilka we also have [the control in the Windows Community Toolkit](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/inappnotification), so happy to talk about that with you at any time. It'd be really great to have an upgrade path for our users here and migrate it from the Toolkit to WinUI.

I think from your initial summary that has most things covered, but could be good to

[2020-05-05 05:31] DHowett-MSFT commented on #674
Terminal is interested in this. Right now, we are rendering terminal content even when our controls are completely occluded or missing from the visual tree.

[2020-05-05 08:50] jtorjo commented on #1856
@BenJKuhn Someone (https://docs.microsoft.com/answers/questions/6112/updating-existing-app-with-new-certificate-uwp.html?childToView=25297#comment-25297) filed another ticket about the The "New certificate" issue here --> https://aka.ms/AA8bw9v

On the really bad side -- i tried to access this, and it tells me I don't have access to view this ticket. This really doesn't help with the credibility o

[2020-05-05 12:10] chingucoding opened #2384 "Error in KernelBase.dll when using nested ItemsRepeater"
**Describe the bug**

When scrolling nested repeaters, scrolling them for a certain amount will result in the following error:

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the project in #2284
2. Visit the second tab ("Nested selection demo"
3. Scroll down using mousewheel or clicking on the inside and pressing page down key

**Expected behavior**

Not to crash

[2020-05-05 12:15] jtorjo commented on #2289
@codenone Sorry for the late reply. It would be really useful to allow SetSourceAsync from a non-UI thread. This way, I don't have to call into the UI thread, while caching bitmaps.

Agreed 100%. Personally, I think loading bitmaps in non-UI thread pretty much means I'll add them to the UI programmatically, not via XAML.

Also , please don't forget about WriteableBitmap :)

[2020-05-05 13:13] #2343 closed

[2020-05-05 18:09] chrisglein commented on #2350
Looks like this is getting the outer exception, not the stowed exception. I would hope that .NET surfaces that error (because it's the real business), but it looks like this isn't the case. That's going to be part of the tool chain, not XAML itself.
@fabiant3 What's expected here from VS as far as giving the additional exception info?

@michael-hawker For your other mention of errors during layout

[2020-05-05 18:14] chrisglein commented on #2312
@benstevens48 Can you get more specific on the scenario in which you're doing this tree manipulation? We'd want to make sure to measure any solution we come up against that scenario to make sure we were actually solving the real problem (and understand what priority to apply to this - as it'd be an API change for XAML). Feel free to get nitty gritty on what you're doing and why :). And also realiz

[2020-05-05 18:16] chrisglein commented on #2273
@ivanicin Can you elaborate more on your scenario for wanting a RichTextBox that doesn't respond to any pointer/mouse input? This does seem like a bug, but understanding the reason you'd want this helps put the priority into context.

[2020-05-05 18:35] michael-hawker opened #2385 "RadialGradientBrush should expose Alpha/Color interopolation settings"
**Describe the bug**
One thing we did when we added the [RadialGradientBrush to the Windows Community Toolkit](https://docs.microsoft.com/en-us/windows/communitytoolkit/brushes/radialgradientbrush) is add an `AlphaMode` and `ColorInterpolationMode` properties from the underlying Win2D systems. This allowed for finer control of the brush settings, especially for transparency.  We left the defaults

[2020-05-05 18:40] michael-hawker commented on #2385
I did try to build a sample with both versions of the RadialGradientBrush, but then started getting a XamlParseException, so not too sure what's going on.

[2020-05-05 18:54] ivanicin commented on #2273
I need to highlight the text with a custom highlight color. That is impossible with the `TextBlock `for multiple reasons. First reason is that it doesn't have a `Background `property. Second reason is that dividing text into `Run` parts seem to be buggy and now and then text flow isn't stable. The final reason is that even if all those things worked sometimes I would need a flexible number of high

[2020-05-05 19:10] benstevens48 opened #2386 "SoftwareBitmapSource.SetBitmapAsync throws uncatchable exception in some circumstances"
**Describe the bug**
I've come across a (rare) scenario where SoftwareBitmapSource.SetBitmapAsync throws an unhandled Win32 exception (which can't be caught by the app). The background is slightly complicated: I am creating a SoftwareBitmap from a thumbnail embedded in an AVIF image file and displaying it using a SoftwareBitmapSource. I'm using WIC to extract the thumbnail. There is obviously a bu

[2020-05-05 20:08] StephenLPeters commented on #2375
@predavid fyi

[2020-05-05 20:09] StephenLPeters commented on #2375
@zhuxb711 if you reverse the order that you perform these repro steps in do you get the same result? for instance, set the isExpanded property to false and then remove the last child.

[2020-05-05 20:16] StephenLPeters commented on #2371
@SavoySchuler or @ryandemopoulos do either of you know where we could route this?

@jevansaks maybe you know the owners?

[2020-05-05 20:26] jeromelaban opened #2387 "[WinUI3] Microsoft.UI.Xaml.Thickness is missing methods"
**Describe the bug**
The `Microsoft.UI.Xaml.Thickness` only has properties when used from C#.

Other types have similar characteristics, such `Matrix` and `GridLength`, though `GridLengthHelper.FromValueAndType` exists.

**Expected behavior**
The `Thickness` type should have a constructor, and equality members, this is not something that is easily extensible.

If it's not possible/easy to add, cou

[2020-05-05 22:04] robloo commented on #2257
@mdtauk I like where you are going with that idea. There could be a new brush and during composition one of two defined colors would be used.

Below is my proposal.

[code]

[2020-05-05 23:03] robloo commented on #2380
Pulling this concept into WinUI would be great. I've already had to make my own control for this. Some additional suggestions are:
  * Support a vertical orientation
  * Allow selecting a windows time zone (This is a must-have for me)

Side note, I know @mdtauk won't like the comboboxes -- always go with his mock-ups over mine 😁

![clipme](https://user-images.githubusercontent.com/17993847/8112412

[2020-05-05 23:22] maxkatz6 commented on #1856
Actually, that's not true. You can't upload your application to MS Store and use appinstaller as alternative way to install app. My app was banned for that during certification.
MS Store Policies:
https://docs.microsoft.com/en-us/windows/uwp/publish/store-policies?redirectedfrom=MSDN#101-distinct-function--value-accurate-representation

Your app may promote or distribute software only through the

[2020-05-05 23:36] SavoySchuler commented on #1051
@teaP or @ranjeshj, will fixes for TwoPaneView like this be added to WinUI 2 or are we now looking at the WinUI 3 releases given the 10X focus shift to single screen? No pressure - I am only looking to provide accurate answers to a community member who was asking. Thanks! 🙂

[2020-05-05 23:49] hihain commented on #2382
Amazing! I switched to the today released 2.4 version and it works great!

BTW: How would you solve the challenge to support 14393? UI.XAML 2.1 does has the same problems as 2.2 and 2.3 (described above).

[2020-05-05 23:49] #2382 closed

[2020-05-06 00:23] zhuxb711 commented on #2375
@StephenLPeters I have reversed the order

But although this TreeViewNode has no child nodes, it still shows the small arrow on the left

[2020-05-06 00:58] ojhad opened #2388 "Using NavigationViewItem outside of MenuItems/MenuitemsSource causes exception"
**Describe the bug**
When a NavigationViewItem is used outside of the MenuItems/MenuItemsSource property an exception is thrown. This happens [at this line of code](https://github.com/microsoft/microsoft-ui-xaml/blob/1785888fe6408a9c57d7a44a9ed40b5e5b82cc17/dev/NavigationView/NavigationViewItemPresenter.cpp#L46) due to a missing null check.

**Steps to reproduce the bug**
1. Place a NavigationView

[2020-05-06 06:51] jtorjo commented on #1856
I'm not sure we're talking about the same thing here - in this day and age, I simply can't come up with a single reason to need or want the MS Store. My beef with it was it's insanely hard to develop an app and then deploy it outside the MS store.

[2020-05-06 07:07] JayBeavers commented on #2371
Hi jhanna, eye tracking in Windows isn't restricted to hardware eye trackers, though it was certainly designed with them in mind as it's based on receiving input from a USB HID specialty class device.  Why was it designed that way?  At the time this work started, webcam based eye trackers simply didn't exist in any meaningful form.

You can implement a HID driver that meets the specification requi

[2020-05-06 07:20] h82258652 opened #2389 "Add EffectiveViewportChanged event listener will break down the app while the control hosting under the Viewbox control"
**Describe the bug**

Add a control under the ```Viewbox``` control and add ```EffectiveViewportChanged``` event listener to the control. Run the app and the app crashed.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a control under the ```Viewbox``` control.
2. Add ```EffectiveViewportChanged``` event listener to the control.
3. Run the app.
4. The app crashed.

**Expec

[2020-05-06 07:31] LoriBru opened #2390 "Proposal: possibility to disable the Mercator in MapControl"
Right now there is no way to disable the Mercator projection when using the MapControl.
In this way, it is impossible to properly display merely flat, non-geographiacal images.

Having the possibility to disable the Mercator projection would allow the control to be used in a big number of applications where the user needs to navigate big images (e.g. medical images).

For an example, please refer

[2020-05-06 08:42] sibille opened #2391 "Show NavigationPane on collapsed by default on PaneDisplayMode Left"
**Describe the bug**
Unable to show NavigationPane collapsed by default for PaneDisplayMode Left

**Steps to reproduce the bug**
1. Create a new UWP App
2. Add a NavigationView Control to the MainPage
3. Set PaneDisplayMode to Left and IsPaneOpen to false

I've attached a repro project : [App207.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4585619/App207.zip)

**Actual behavior**
The

[2020-05-06 09:02] chingucoding commented on #2388
Can I fix this or is somebody already working on this?

[2020-05-06 09:03] Felix-Dev commented on #2391
I would like to look into this.

[2020-05-06 10:31] TheXamlGuy opened #2392 "WinUI SplitView Right Placement CompactInline DisplayMode behaves differs to UWP SplitView"
The WinUI SplitView control Right Placement CompactInline  DisplayMode behaviour is different to those found in in the inbox version of the SplitView control.

WinUI SplitView

![1](https://user-images.githubusercontent.com/14894973/81166026-eba5ec80-8f8a-11ea-820e-ce54b77ce723.gif)

UWP SplitView

![2](https://user-images.githubusercontent.com/14894973/81166562-acc46680-8f8b-11ea-8139-142321f1b7e

[2020-05-06 12:31] lazylazyllama commented on #1901
I think it would already be much better if the selected tab is brighter than the unselected one in dark mode like it is done in edge. Its weird that the foreground is supposed to be darker than the background.

Also the tabbar could be made acrylic like the old edge.

[2020-05-06 12:40] katan-ms opened #2393 "Question: [Release note for WinUI 2.4.0]"
There is a WinUI 2.4.0 package with no prerelease tag out on [nuget.org](https://www.nuget.org/packages/Microsoft.UI.Xaml/2.4.0), but I cannot find any release note neither on this repo nor on msdn. And this build seems to cut a lot of new features like RecyclePool, SelectionModel and LayoutPanel. Is this expected?

[2020-05-06 13:10] ranjeshj commented on #2393
@katan-ms This is the 2.4 stable release package. It does not contain the preview types like RecyclePool and SelectionModel. The preview types ship only in the pre-release packages. The release notes will be out shortly. @predavid as FYI

[2020-05-06 13:15] ranjeshj commented on #2391
@anawishnoff @ojhad I assume this is not by design ?

[2020-05-06 13:16] ranjeshj commented on #2388
@chingucoding Thanks! Go for it. @ojhad as FYI

[2020-05-06 13:53] sibille opened #2394 "WPF projects are missing DPI support"
This was reported by the WACK tests. We should add DPI support to the WPF templates.

[2020-05-06 13:53] #2394 closed

[2020-05-06 13:53] sibille commented on #2394
Sorry, wrong repo :S

[2020-05-06 14:12] keithnicholson commented on #2391
I was able to work around it by addign to the the ShellViewModel's OnLoaded method.

[code]

[2020-05-06 15:29] chingucoding commented on #2227
This also does not repro with the latest non prerelease version of WinUI (2.4). @duke7553 can you please look if the repro project should reproduce your issue?

[2020-05-06 16:20] duke7553 commented on #2227
@chingucoding Yes. I'll give this a try when I get another chance

[2020-05-06 17:42] StephenLPeters commented on #2375
Okay thanks that is good info. So we know how to prioritize fixing this with all the work we are doing for WinUI 3.0, is this a blocking issue for you? Have you been able to find a work around?

[2020-05-06 17:45] benstevens48 commented on #2312
@chrisglein Thanks for asking. Here is a rough summary of what I'm doing.

I have some data that has a tree-like structure. The data is visualised and updated in a corresponding UI tree-like structure. Each data item is represented by a UserControl. The data items can be quite different and the UserControl can be quite complicated, and also the UserControl may contain temporary state etc, so my ap

[2020-05-06 17:55] michael-hawker commented on #2350
Thanks @chrisglein, yup, just hit another case where I just got a blank "Value does not fall within the expected range"/"The parameter is incorrect" when I had a style for a ListViewItem container that held a duplicate reference to a visual item that then we being added to the visual tree a 2nd time when the next item was realized in the ListView. I can send you the details from a thread, and a li

[2020-05-06 19:26] Felix-Dev commented on #2391
The combinations

* PaneDisplayMode::LeftCompact & IsPaneOpen = true
* PaneDisplayMode::LeftMinimal & IsPaneOpen = true

are also not working (pane is closed in both cases).

Here the question as well: Is this by design or should this be fixed?

[2020-05-06 19:55] #2388 closed

[2020-05-06 19:56] #2358 closed

[2020-05-06 20:00] fabiant3 commented on #2350
Is this managed or C++? There should be stowed exceptions with more info (you might need to turn on mixed debugging).
As for the original issue _I had a resource that it did not really exist_, we had planned to make changes to our compiler pipeline to detect these cases and give you a compile time error (similar for Binding and other related misfires).
Unfortunately this will only happen post WinU

[2020-05-06 20:01] michael-hawker commented on #2350
Thanks for the info @fabiant3. I'm usually working in managed. When I hit an issue like this, I'll switch to mixed debugging. That sometimes gives me more info, but usually not much more to anything meaningful to feel that I can act on it.

[2020-05-06 20:06] ranjeshj commented on #2393
release notes are available now :)

https://docs.microsoft.com/en-us/uwp/toolkits/winui/release-notes/winui-2.4
https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.4.0

[2020-05-06 20:10] ranjeshj commented on #2392
@TheXamlGuy can you switch App1 to use the UWP SplitView (windows.ui.xaml.controls.splitview) and see if it has the same issue ? I'm wondering if the placement of the SplitView is causing the issue.

[2020-05-06 20:13] ranjeshj commented on #2391
I believe this is a bug. The behavior should follow those properties. @anawishnoff @ojhad as FYI. Please comment if you disagree.

[2020-05-06 20:13] dotMorten opened #2397 "Don't require targetversion to be latest for Class Libraries"
**Describe the bug**
When building a class library, the target version should not matter, as long as it's at least minversion. That check should only apply to app projects.

This check is done here and should have a condition for class libraries to ignore it (or check that target is at least minversion):
https://github.com/microsoft/microsoft-ui-xaml/blob/8f8cd0fe32754cfcd83dafb2fc8539703b6aec26/b