[2020-07-28 01:16] robloo commented on #2998
I think `Background`, `BorderThickness` and `BorderBrush` should apply to the entire NumberBox -- spin buttons included. That is most intuitive from my viewpoint. From a styling standpoint, if the background needs to change it's likely the spin buttons need to changes as well -- except in data validation scenarios.

So right now I would hook everything up to use background. In the future it might

[2020-07-28 01:22] robloo commented on #2993
This is also a show stopper for me switching to WinUI 3.0. This is a little off-topic but I'm curious when MapControl is going to be added in addition to when fixes like this get put in.

[2020-07-28 12:02] SetTrend commented on #3000
Thanks a lot for enlightening me, guys 👍

Many of this information is new to me. Let me try to reconcile my current observation from your replies:

I may be wrong, but the following statement seems the boiled down result of what I learned from you today:

It pretty much looks like there actually is no such thing like "XAML" (aka. "XAML language"). A construct like "XAML" doesn't exist. It's just t

[2020-07-28 13:11] hshristov commented on #2978
My point is that it is not that hard to go and sprinke preprocessor directives which I already did. But 3rd party libraries should have two different versions - one for UWP and one for Win32 which sounds like a lot of work.

[2020-07-28 13:14] robloo commented on #3000
XAML very much exists and is more-or-less standardized. It is simply a language, based on XML. However, the object model that language describes is very different and separate. So XAML is the same, object model is different.

Yes! As you point out the XAML syntax is the same with <Button> and <Burton> but they are creating two entirely different objects -- one Button and one Burton.

The evolution

[2020-07-28 13:14] niels9001 opened #3003 "[NumberBox] Header is not using correct brush when disabled."
**Describe the bug**
When the NumberBox is disabled (IsEnabled = false) the Header doesn't use the approriate brush and stays the same. It should be inline with ComboBox and TextBox brushes.

As a result, in PowerToys, we are now not using the Header but using a custom TextBlock which is an annoyance and breaks productivity.

**Steps to reproduce the bug**
1. Set NumberBox to IsEnabled = false.

*

[2020-07-28 14:10] dpierangeli commented on #1833
In our case we have a MFC control (yes, that's a very old application).

[2020-07-28 15:45] Felix-Dev commented on #2998
@robloo Yes, I agree. Applying the `Background` only to the input field background as shown in the opening post always looked kinda strange to me. And I think we will be fine for now if we only introduce a new `TextForeground` and possibly `TextBackground` API here as developers can use lightweight styling to individually style parts of the NumberBox. Put together, these customization options shou

[2020-07-28 15:49] SetTrend commented on #3000
Excellent and very informative comment 👍❤

[2020-07-28 16:27] Felix-Dev commented on #3003
Looks like we have to create a *Disabled* visual state for the NumberBox in its default control template where we will update the foreground color of the header.

[2020-07-28 16:31] abhi-msft opened #3004 "PRI252: 0xdef00071 - File (ProjectPath)\bin\x86\Debug\net5.0\(Project).pri not found when publishing the package"
WinUI-3 Desktop sideload publish is failing after adding a class library project with error - PRI252: 0xdef00071 - File (ProjectPath)\bin\x86\Debug\net5.0\(Project).pri. (Build and debug happening with out issues)

I see that process is trying to look for .pri file under the directory - \bin\x86\Debug\net5.0\ but the file is under the directory \bin\x86\Debug\net5.0\win-x86\

Seems like Class libr

[2020-07-28 16:44] hansmbakker commented on #1833
I am curious about this from WinForms, have an old application I received which I am trying to modernise.

Currently looking at XAML islands. The hardest part is the custom painting (System.Drawing) code.

Also unsure what a good replacement for that would be, since in WinUI there is no Win2D support yet and also no SkiaSharp.

[2020-07-28 17:07] robloo commented on #2998
I realize we should do something like [`AutoSuggestBox.TextBoxStyle`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.autosuggestbox.textboxstyle?view=winrt-19041). There should be style properties for both the increase/decrease spin buttons (they need to be separate because of corner radius handling). Exposing two new properties for this would allow whatever customization is nee

[2020-07-28 17:26] gabbybilka commented on #913
Hello everyone!
Apologies for the lack of time between the last update and now, we've been hard at work defining this control 😊
You might have seen @chenss3's [prototype](https://github.com/microsoft/microsoft-ui-xaml/tree/3a00f43620db8c69d8a2063ae0815e5b6dee1ca7/dev/InfoBar ) merge in the repo a few weeks ago, we're really excited to see this come to life! At this stage, we are interested in conn

[2020-07-28 17:58] JulienTheron commented on #599
Hi,

It doesn't seem the issue is fixed. I've got "PRI277: 0xdef00532 - Conflicting values for resource 'Files/Microsoft.UI.Xaml/DensityStyles/Compact.xbf'" with the following project dependencies:
- MyApp:
    - Microsoft.UI.Xaml 2.4.2
    - MyControlLibrary:
        - Microsoft.UI.Xaml 2.4.0

As far as NuGet versioning works, I would expect the App to use the contents of the 2.4.2 package, but r

[2020-07-28 18:21] kmgallahan commented on #913
Is this just available in WinUI 3, or is it going into a WinUI 2 pre-release?

[2020-07-28 18:23] Felix-Dev commented on #2998
@robloo The issue I'm seeing here is that some developers want to to easily change the foreground color of the input field of the NumberBox depending on the actual value. This doesn't strike me as a corner case so it should be something which can be easily achievable: I would consider having to create custom TextBox styles just for changing the text foreground color from red to green (and vice-ver

[2020-07-28 18:28] abhi-msft commented on #2985
Able to use AAD with logged in Windows credentials as described [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#uwp-does-not-use-the-system-webview) but with a limitation of using opening web browser under http://localhost:portnumber.

Is this a recommended practice? I see no other option for .NET Core(including .NET 5)

[2020-07-28 18:28] gabbybilka commented on #913
@kmgallahan WinUI 2 pre-release, not quite sure of the exact ship version yet as we want to receive a bit more feedback from the community and customers on the prototype and preview versions.

[2020-07-28 18:32] RDMacLachlan commented on #2127
Hello @ryanwb3,

Please follow the steps below to capture the log information using AppxDiag tool. Once you've successfully captured the logs, please share them with us for review.

**Steps:**
    - Save appxdiag.zip from http://aka.ms/appxdiagzip and unzip to c:\logs
    - From an admin command prompt,
    - C:\logs\appxdiag\appxdiag>appxdiag.cmd
    - Hit ‘Y’ for tracing and wait for repro to ha

[2020-07-28 18:44] nerocui commented on #2488
To me, the inspiration comes from a Rust GUI framework called vgtk.
https://bodil.lol/vgtk/

This framework's syntax is heavily inspired by React's jsx syntax for building declarative UI, and it's programming model is the nowadays popular MVU model.

To declare an app, you write
[code]
This is very close to jsx, but even more close to XAML which is perfect to use for WinUI. This syntax in rust is

[2020-07-28 18:45] kmgallahan commented on #913
To maximize early feedback I'd recommend making it as easy as possible to try out prototypes like this. Maybe push them into a pre-release builds with disclaimers, or provide dev/beta releases.

Being required to build a dev branch of WinUI to try prototypes provides a good bit of friction, especially if you are mainly a WinUI consumer rather than contributor (to the codebase anyways).

[2020-07-28 18:49] gabbybilka commented on #913
Agreed, once the prototype is in a solid state (looking similar to the mockups shown and with support of different input options) we'd like to put it in 2.5 preview. Would you be able/interested to try it out at that time?

[2020-07-28 18:56] kmgallahan commented on #913
I'm interested in trying it out now, I just prefer to consume from NuGet rather than adding a massive project like WinUI to my build.

For now I'll wait for whatever makes it into a preview.

[2020-07-28 20:01] licanhua commented on #599
2.4.x should have the new implementation #1603, so I expect the workaround doesn't work any more.
Because you are using two MUX versions, so two microsoft.ui.xaml.pri from different nuget are used. Look like compiler can't resolve the conflicts by itself, and it's possible for you to remove one of the microsoft.ui.xaml.pri during compilation.

[2020-07-28 20:08] robloo commented on #2998
Yes, you are certainly correct and there is always a trade-off with ease-of-use and functionality. Are there any other controls that use TextForeground? I can't recall any. Creating a new property like this is a big counter-intuitive considering all existing controls. We should really follow convention and I can't help but think a general-purpose solution would be better for all the cases we aren'

[2020-07-28 20:45] smj389 commented on #2704
Just to say, I have the same problem with Preview 2.

[2020-07-28 22:23] Felix-Dev commented on #2998
@robloo

The issue here really is only the special NumberBox spin button inline state and how we interpret `Foreground` and `Background`  in that case. If we say `Foreground` should just affect the input field foreground, then there is no need for a new API to be added. Otherwise, we have a situation special to the NumberBox (afaik there is no equivalent TextBox, PasswordBox, AutoSuggestBox or Com

[2020-07-28 22:57] robloo commented on #2998
@Felix-Dev I certainly understand your points. If it was up to me, I would go the styling route first (it's more powerful and fits convention). If after some time a lot of people are complaining then I would consider TextForeground-type properties. But before adding them to NumberBox I would consider other similar scenarios in other controls and how they are handled.

Anyway, that's my 2 cents. We

[2020-07-28 23:05] StephenLPeters commented on #3004
@alwu-msft FYI

[2020-07-28 23:11] robloo commented on #2789
@Felix-Dev pointed out this discussion to me as it relates to #2998. I think we should be adding Style properties like [`AutoSuggestBox.TextBoxStyle`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.autosuggestbox.textboxstyle?view=winrt-19041) in this scenario. Then the developer could completely swap out the style and template changing whatever is needed. It's possible the back

[2020-07-28 23:31] vadimkantorov commented on #2648
Maybe this issue now would be better transferred to https://github.com/microsoft/windev (as per too many libraries used by winrt and for optimizing down the working set of winrt/winui apps including Terminal)

[2020-07-28 23:50] TheMrJukes commented on #2716
I can't get any pickers to work at all in a Desktop (HWND) Win32 app.

necore\shell\lib\calleridentity\callerwindow_twinapi.cpp(116)\twinui.appcore.dll!00007FF8D3EC0BDC: (caller: 00007FF8D3E91E10) ReturnHr(1) tid(cd18) 80040155 Interface not registered
    CallContext:[\PickSingleFileAsync\SingleStorageItemOperation]
Exception thrown at 0x00007FF905DD226C (KernelBase.dll) in App2.exe: WinRT origin

[2020-07-29 00:16] michael-hawker commented on #2917
Should Tabbing out of a TextBox be working? (WinUI 3 Desktop project on Preview 2)

[2020-07-29 01:50] saint4eva commented on #3000
@robloo what do you mean by Maui is not a good idea?

[2020-07-29 02:29] robloo commented on #3000
@saint4eva I probably got a little carried away with that statement. I'm also biased having seen the evolution of this type of technology from the beginning picking it up back in WPF. However, the main disadvantages:

  1. It's a new object model that differentiates from the past in a number of key areas (for more bad than good I would argue). There are really too many differences to describe but

[2020-07-29 04:51] ceee commented on #808
Still broken in WinUI 3.0 Preview 2, @chrisglein @chingucoding

![image](https://user-images.githubusercontent.com/445092/88758045-0d141000-d157-11ea-8569-a9da61ab3c9d.png)

[2020-07-29 11:25] zadjii-msft opened #3006 "Fix "blurry" new tab icon on 100% DPI"
###### This is being moved from https://github.com/microsoft/terminal/issues/7111

# Description of the new feature/enhancement

This is a little graphic detail that I noticed long ago. The "new tab" icon in Windows Terminal (1.1.2021.0) **with 100% DPI scaling level** is somewhat _"blurry"_ or _"thick"_, in comparison of other "new tab" icons like Microsoft Edge.

![issue1](https://user-images.gi

[2020-07-29 11:32] zadjii-msft commented on #2648
IMO It would probably just get punted back to the experts over here, or to Kenny over in [microsoft/xlang](https://github.com/microsoft/xlang) / [microsoft/cppwinrt](https://github.com/microsoft/cppwinrt), but I doubt the language itself is at fault here - I'd imagine that those libraries are getting regardless if XAML is being used via c++/winrt, c#, rust, cxx, or whatever other language the xlan

[2020-07-29 12:00] hshristov opened #3007 "ItemsRepeater crash in WinUI 3 Preview 2 for Win32"
**Describe the bug**
When scrolling **ItemsRepeater** with **StackLayout** there is a crash when target is WinUI 3 Preview 2 Win32 application.

[RepeaterCrash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4994687/RepeaterCrash.zip)

**Steps to reproduce the bug**
1. Open the attached project
2. Select x86 and run the project
3. Drag the thumb around

**Expected behavior**
There should

[2020-07-29 12:05] Felix-Dev commented on #3006
The "+" glyph looks fine to me with 100% DPI scaling in the XAML Controls Gallery:
![image](https://user-images.githubusercontent.com/1398851/88797374-89344500-d1a3-11ea-916e-a410b25fe571.png)

and in a WInUI 2.4.2 (and WinUI 2.5 preview) test project:
![image](https://user-images.githubusercontent.com/1398851/88797833-4030c080-d1a4-11ea-8a64-96a5f529712e.png)

Seems to me this is a Terminal (XAML

[2020-07-29 12:09] chingucoding commented on #2776
@MartinZikmund Would you still like to look into this, or would you be fine with somebody else tackling this?

[2020-07-29 12:12] MartinZikmund commented on #2776
@chingucoding Oh, I didn't notice the original response. I will be happy to do this (if it is not a time critical issue right now)

[2020-07-29 12:14] chingucoding commented on #2776
Right, yes. I don't think it's not that time critical. If you need help with setting up the repro or getting started, feel free to ask!

[2020-07-29 12:18] Felix-Dev commented on #2391
@anawishnoff What are your thoughts on the `PaneDisplayMode` and `IsPaneOpen` API behavior outlined [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2391#issuecomment-648405069)?

[2020-07-29 12:20] JulienTheron commented on #599
If it's possible to remove one, how so? Also, should I open a new issue for that? Seems like it breaks the whole semantic versioning principles.

[2020-07-29 12:21] hshristov opened #3008 "WinUI 3 ItemsRepeater scrolling is slow"
When scrolling an **ItemsRepeater** with 10 buttons (in horizontal StackPanel) as an **ItemTemplate** the frame per seconds are below 10. Profiling shows that most of the time is spent in **Layout** (e.g. measure & arrange).
Is there a way to reach at least 30 fps or even better 60 fps?

Check the attached project for reference. You will also notice that when dragging the scrollbar thumb there is

[2020-07-29 12:26] hshristov opened #3009 "Discussion: Missing WPF features"
In WPF there is **OnRender** method which could be overriden in order to do custom drawing. There is also **FormattedText** class that can be use to measure and draw text in the **OnRender** method.
These classes are missing from **WinUI 3**.

What would be the recommended way to measure and draw text in **WinUI 3** without using **TextBlock** control?

[2020-07-29 13:57] huoyaoyuan commented on #2677
The VS issue is still present in 16.7P6. Please remember it before 16.7 is released.

[2020-07-29 15:57] vsfeedback opened #3010 "XAML parsing failed error on UWP app at specific case"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1125523/xaml-parsing-failed-error-on-uwp-app-at-specific-c.html)._

---
The issue is reproducable with a few steps:
1. Create new Blank UWP App. Min version: 1803, target version 2004
2. Add a `UserControl`, I named it `VideoCollection` in my case
3. change the parent class

[2020-07-29 15:59] DHowett commented on #3006
Yeah, this is a terminal issue. We forgot we were using our own custom Add Tab button.

[2020-07-29 16:02] zadjii-msft commented on #3006
🤦‍♂️ that's what I get for doing triage at _6 am_

[2020-07-29 16:02] #3006 closed

[2020-07-29 16:25] anawishnoff commented on #2391
Sorry for the late reply on this!

The table makes sense to me, and your example of manually setting `IsPaneOpen = true` in auto mode is interesting. The whole point of Auto mode is that the NavigationView resizes depending on the current situation. I think that being able to set IsPaneOpen as a specific one-off instruction and then having it go back to doing its Auto thing makes sense to me.

@Yu

[2020-07-29 17:33] Felix-Dev opened #3011 "Proposal: MenuBarItem: Add Click and Command APIs to enable a button-like interaction experience"
# Proposal: MenuBarItem: Add Click and Command APIs to enable a button-like interaction experience

## Summary
WinUI's [MenuBarItem](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.menubaritem) control can currently not be used like a simple button. WPF's [MenuItem](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.menuitem), however, can, which allows UIs lik

[2020-07-29 17:34] Felix-Dev commented on #2740
@michael-hawker @StephenLPeters Created an API proposal [here](https://github.com/microsoft/microsoft-ui-xaml/issues/3011).

[2020-07-29 17:54] licanhua commented on #599
Please open new issue. also please note down which language MyApp and MyControlLibrary you are using: C#, C++/Cx or CppWinRT.
It will be great if you can provide a simple repro project.

[2020-07-29 18:52] Felix-Dev commented on #2577
@ivanicin If I understand you correctly here, what you suggest is already possible in WinUI/UWP today using the [ComboBox.ItemTemplateSelector](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.itemscontrol.itemtemplateselector) API:
![combobox-with-templateselection](https://user-images.githubusercontent.com/1398851/88838949-91f43d80-d1da-11ea-9254-c45862503f05.gif)

The idea here

[2020-07-29 19:09] robloo commented on #3009
Proper text measuring API is likely needed for https://github.com/microsoft/microsoft-ui-xaml/issues/1520 as well

[2020-07-29 20:37] TomgGX commented on #2846
Hi Stephen,

As you might have guessed we found a work-around for the UWP DataPicker issue.

We have a different issue with the UWP TreeView control.

Our nodes are 3 levels deep, and if we select a top level node we only get one level down showing
up in the SelectedNodes collection. We have to expand the top level node as well in order to select
all the node’s children.  Where using this feature

[2020-07-29 20:44] TomgGX commented on #2846
We’re running in MultiSelect mode, so I can’t use the that click event handler.
Is there a way of picking up a click event on the top-level node after the tree-view
Is populated.  If I could do this I could automatically expand the node so the user
Would pickup all the data

From: Grosso, Thomas J
Sent: Wednesday, July 29, 2020 4:37 PM
To: microsoft/microsoft-ui-xaml <reply@reply.github.com>
Subje

[2020-07-29 21:56] StephenLPeters opened #3012 "TreeView does not respect the background property"
setting the background property on treeview doesn't do anything. The tree view template needs to template bind the TreeView's background to its templates TreeListView's background

[2020-07-29 22:01] Felix-Dev commented on #3012
I would take a look at this if it isn't being worked on already.

[2020-07-29 22:17] michael-hawker opened #3013 "WebView2 doesn't expose NewWindowRequested event"
**Describe the bug**
The `NewWindowRequested` event from [WebView (1)](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webviewnewwindowrequestedeventargs) and the underlying [WebView2 API](https://docs.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2#add_newwindowrequested) is not exposed to the XAML based WebView2. ☹

**Expected behavior**
`NewWi

[2020-07-29 22:20] ivanicin commented on #2577
@Felix-Dev I haven't tried the code yet, but the animation that you have posted is exactly what I wanted.

[2020-07-29 22:37] rcohn opened #3014 "Will WinUI 3.0 ever support unpackaged apps?"
Hello -

From what I am seeing, there seem to be no formal plans to support unpackaged apps.

This proposal addresses that: [Proposal: Deploy WinUI 3 runtime using Framework Packages for Packaged and Unpackaged apps #2767](https://github.com/microsoft/microsoft-ui-xaml/issues/2767).

Can anybody tell me if there are plans for WinUI 3.0 .NET support to be part of standard Windows updates (which wou

[2020-07-29 23:03] StephenLPeters commented on #3014
@ryandemopoulos and @MikeHillberg FYI

[2020-07-29 23:06] StephenLPeters commented on #3013
Not sure if this is a feature request or a bug. @adambarlow

[2020-07-29 23:06] StephenLPeters commented on #3012
Yes please :)

[2020-07-29 23:09] StephenLPeters commented on #3011
Would it be better to allow buttons to be added to the Menu's children?

[2020-07-29 23:13] StephenLPeters commented on #3010
Someone should try to repro this and see what the error is.  From the description it sounds like this is system xaml?

[2020-07-29 23:16] StephenLPeters commented on #3008
@jeffStall We've had some reported scrolling issues that I think ended up on IXP, could this be a dupe? From the description it sounds like it is Dmanip (from scrollviewer) though.  @ranjeshj has seen issues with EffectiveViewport which may also be contributing here.

[2020-07-29 23:22] StephenLPeters commented on #2846
Can you please open a new issue for the new treeview bug.

[2020-07-29 23:23] StephenLPeters commented on #2740
Thanks!

[2020-07-29 23:24] michael-hawker commented on #3013
@StephenLPeters it's exposed on the underlying WebView2 C++ API, it's just missing in the projection/wrapper in WinUI 3. So it's both? Maybe we call it an unimplemented requirement from the spec? 😂

[2020-07-29 23:24] Felix-Dev commented on #3011
If we were to allow Buttons to be added, we should also create a Button style matching the default `MenuBarItem` look so developers won't have to do additional styling work then. Perhaps named `MenuBarItemButtonStyle` or similar.

[2020-07-29 23:35] michael-hawker commented on #3011
Thanks @Felix-Dev for putting this together! The developer could also then easily hook a Click/Command into your 'Option 1', 'Option 2' spots too, eh?

[2020-07-30 00:03] tsvietOK commented on #2991
@niels9001 You could check how changing theme at runtime has been implemented in the source code of [Xaml-Controls-Gallery](https://github.com/microsoft/Xaml-Controls-Gallery)

[2020-07-30 00:14] michael-hawker commented on #2350
XAML Parsing Errors are equally unhelpful in many cases as well providing no details of what was failed to be parsed at runtime.

[2020-07-30 00:36] chingucoding opened #3015 "NavigationView selection change and child items"
When changing the selection state through the API, the newly selected item is not always visible, and might sometimes be hidden if it is a child item of a NavigationViewItem.

Should the behavior change in that regard? Should changing the selected item also result in the newly selected item being visible and on screen?

See this PR for more context: https://github.com/microsoft/Xaml-Controls-Galle

[2020-07-30 05:55] adambarlow commented on #3013
The WinRT wrapper for the WebView2 is still in the works. We hope to have something to share soon. But yes, it's neither bug nor feature request as it is in plan for delivery.

[2020-07-30 08:23] Felix-Dev commented on #3015
This issue has been mentioned in https://github.com/microsoft/microsoft-ui-xaml/issues/2845 and in my opinion should be fixed. I expect the selected item to show up as such in the NavigationView pane.

[2020-07-30 13:30] suleyth commented on #2488
Something also of note is that, XAML requires 'partial class' support, right? So you can add controls to the UI elements. Does Rust support this? Could you imitate it with procedural macros?

[2020-07-30 14:12] JulienTheron opened #3017 "Conflicting values for resource Compact.xbf"
**Describe the bug**

I get the following build error if the WinUI package is not consolidated to the same version throughout the solution:
2>GENERATEPROJECTPRIFILE : error : PRI175: 0x80073b0f - Processing Resources failed with error: Entrée en double. _(duplicate entry)_
2>GENERATEPROJECTPRIFILE : error : PRI277: 0xdef00532 - Conflicting values for resource 'Files/Microsoft.UI.Xaml/DensityStyles

[2020-07-30 15:40] weitzhandler commented on #179
I opened [this](https://bit.ly/3gcMJ3a) one.

[2020-07-30 16:09] kennykerr commented on #2488
Thanks for all the feedback! Keep it coming.

@suleyth - the Xaml API doesn't require partial classes. That's a feature of the C# language that the Xaml compiler makes use of. For C++ and now Rust we're exploring a completely different approach that is more natural to those languages. And yes, procedural macros are a great way to solve this in Rust. We use them extensively in [winrt-rs](https://gi

[2020-07-30 16:28] d2phap commented on #1138
I second this proposal!

[2020-07-30 17:28] chingucoding commented on #2776
Oh right, yes there a negation to much in there, you are right @StephenLPeters !

[2020-07-30 17:31] kikisaints commented on #2991
You can achieve a result like this by naming your root mainpage and flipping the requested theme there back'n forth (light-dark-light or dark-light-dark) and that should cascade down into all the controls that are children within that page - however, this method/hack falls apart a bit with menus and flyouts as they are out of that "root" tree and don't receive the requested theme toggle/flip.

I u

[2020-07-30 18:03] ranjeshj commented on #2917
@alwu-msft @stevenbrix  FYI

[2020-07-30 18:03] ranjeshj commented on #2917
@michael-hawker can you file a new issue ?

[2020-07-30 18:10] anawishnoff commented on #2917
@ranjeshj @tim-weis

The link to the instructions that Ranjesh posted are from the original branch, but they have since been updated. The WinUI.Dependencies option was an internal-only step that was included by mistake.

Please reference the instructions here: https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/preview_upgrade_instructions.md.

I'll also update this issue with the inst

[2020-07-30 18:20] StephenLPeters commented on #2935
@anawishnoff has this been addressed?

[2020-07-30 18:23] StephenLPeters commented on #2911
This is on my radar but I haven't had the time to investigate it yet. I'm sorry.

[2020-07-30 18:28] StephenLPeters commented on #2750
@Felix-Dev How does this implementation work with the Font Scaling setting in the settings app? I think this would cause the icons to scale up which would cause the hard coded negative margin to be incorrect?

[2020-07-30 18:43] YuliKl commented on #2750
We'll need to run the double-chevron icon idea by our internal design team. If they approve, it should be pretty straight-forward to have a new icon added to the font and eliminate the need for negative margins and overlapping glyphs.

[2020-07-30 18:48] StephenLPeters commented on #2950
@llongley If you still remember the context can you weigh in here?

[2020-07-30 19:00] YuliKl commented on #2750
@Felix-Dev, I'm looking at one of your earlier [comments](https://github.com/microsoft/microsoft-ui-xaml/issues/2750#issuecomment-655071334) highlighting the -4 bottom margin on the More button's chevron. While I'm not a fan of negative margins, there is a nice visual alignment between that glyph and the height of the font. This alignment is a bit off on the NVIs, with the chevron sitting visually

[2020-07-30 20:34] llongley commented on #2950
@chingucoding @boarder2 The sample code is using the default ContextFlyout, which would be the WUX version of the control.  You'd need to explicitly set the ContextFlyout property to an instance of the MUXC TextCommandBarFlyout to see breakpoints getting hit.

[2020-07-30 20:56] sukesh-ak opened #3018 "Discussion: Does UWP map control support GeoJson?"
# Discussion: Does UWP map control support GeoJson?

Does UWP map control support GeoJson? If not when do we expect to have this support added?

## Related Links

Bing maps v8 web control already supports it. [Link here](https://docs.microsoft.com/en-us/bingmaps/v8-web-control/modules/geojson-module/)

[2020-07-30 21:20] YuliKl commented on #2391
I also think all this makes sense.

One scenario I want to highlight is about the LeftCompact and LeftMinimal modes (and also when Auto places NavigationView into those modes): Because the Pane is open as a light-dismiss overlay in these modes, I'd like to avoid having the pane show as open on app launch. Respecting the app developer setting and launching with the pane open when IsPaneOpen gets ex

[2020-07-30 22:41] chingucoding commented on #2950
Thanks @llongley for the help!

@boarder2 If you add the following in your TextBox loaded, the behavior seems to function correctly, and the ContextFlyout does not clear itsself.

[code]

@StephenLPeters @ranjeshj Is there anything we or should do to make the default TextBox control (and others) make use of the MUXC one? Or is it easier to wait until WinUI 3? Is this bug report still actionable th

[2020-07-30 23:05] StephenLPeters commented on #3018
@MikeHillberg who can we ask about the map control?

[2020-07-30 23:10] StephenLPeters commented on #3017
@kmahone or maybe @jevansaks I think we've discussed this potential issue in the past but I'm having trouble remembering specifics

[2020-07-30 23:13] StephenLPeters commented on #3015
Sounds like we need to scroll into view the selected item? I think this is what list view does for instance.

[2020-07-30 23:16] StephenLPeters commented on #3017
@licanhua  @kaiguo sounds like you two might have some context on this issue as well?

[2020-07-30 23:21] kmahone commented on #3017
This scenario SHOULD work in the case where we are dealing with non-prerelease versions and packages with matching major and minor versions. So WinUI 2.4.0 should be compatible with WinUI 2.4.2, but not with WinUI 2.3.

No prerelease version is compatible with any other prerelease version.

If this issue is occurring when both of the above conditions are true (e.g. with 2.4.0 and 2.4.2), we should

[2020-07-31 01:12] ranjeshj commented on #2950
If it works with the MUXC.CommandBarFlyout, it should be fixed in WinUI3 as well, so closing this bug. Thanks @chingucoding !

[2020-07-31 02:49] boarder2 commented on #2950
If I set it to a new instance of the MUXC CommandBarFlyout none of the system level functions like copy/paste/undo, etc work. I'd have to build the whole text based menu manually. That doesn't seem like a great workaround here.

[2020-07-31 04:35] r2d2Proton commented on #2917
Is the goal to support non-WinRT applications with WinUI 3?
I was following the instructions on installing WinUI 3 Preview 2 but stopped because of a note on the VSIX page:

C# and C++/WinRT are the only languages supported at this time
https://marketplace.visualstudio.com/items?itemName=Microsoft-WinUI.WinUIProjectTemplates

[2020-07-31 10:43] BreeceW commented on #2795
In my scenario, I have a web socket client that is shared across multiple windows. I see two options for displaying content I get from that connection: I could keep redundant instances of my models in the page associated with the window and update them through events fired by web socket messages, or I could share all the models throughout the windows. I would rather do the second, as it would be m

[2020-07-31 10:56] maxkatz6 commented on #2795
For consistency I would expect same behaviour with old-style Binding as well.

[2020-07-31 11:13] Sergio0694 commented on #2795
Thank you for chiming in @BreeceW! Yes that's exactly one of the reasons why having this functionality be built-in would be great, and why handling the "UI thread" on the backend side (like some MVVM libraries do) is not only impractical and breaking the framework-agnostic architecture, but also still not a proper solutions if you have in fact more than one UI thread 👍

---

Just spotted a minor c

[2020-07-31 11:31] huoyaoyuan opened #3019 "VS reports warning "WMC9999: Type universe cannot resolve assembly" from xaml compiler"
**Version used:**
Visual Studio 16.7 Preview 6
WinUI 3 Preview 2
.NET 5 SDK Preview 7 (x64 only)

**Reproduce:**
It doesn't reproduce for templated project, but reproduces for my simple scaffold project.
There's warning `WMC9999: Type universe cannot resolve assembly: WinRT.Runtime, Culture=neutral, PublicKeyToken=null.` for every xaml file shown in VS error list window, but not in VS build output

[2020-07-31 11:35] huoyaoyuan commented on #3019
I did a `git clean` when uploading the reproduction. Then, when I compile it for the first time, the warning is not fully shown up. Restarting VS and building for a second time may be required to reproduce.

`NoWarn` cannot suppress the warning. The application runs well.

[2020-07-31 14:57] chingucoding commented on #2950
Yes you are right, and I made a mistake. Using MUXC.CommandBarFlyout works, but it is a normal ContextFlyout without the Paste/Undo... options. In your case you would need to use the MUXC.TextCommandBarFlyout, which does not work correctly.

I think we need to reopen this issue, mind if I work on this @ranjeshj ?

[2020-07-31 15:38] ranjeshj commented on #2950
ok. Sounds like there are issues with the MUXC flyout as well. @chingucoding go for it. Thanks!

[2020-07-31 16:11] Felix-Dev commented on #2391
@YuliKl I think this describes a different behavior than the one outlined above (and actually quite matches the current pane launch behavior more).

With the proposed table shown [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2391#issuecomment-648405069), a XAML markup like
[code]
would launch the pane in an opened state and a XAML markup like
[code]
would launch the pane in a closed

[2020-07-31 17:02] DHowett commented on #2991
Terminal is interested in this as well. We have had to do some pretty unfortunate things to set our app's Theme ☹️

[2020-07-31 17:36] Felix-Dev commented on #2911
@yoshiask Can you use the WinUI `SwipeControl` instead of the OS version? Your posted code works fine - tested on WinUI 2.4.2.

To make the switch easier from the OS `SwipeControl` control, you could use the following `using` statements:
[code]

[2020-07-31 17:39] chingucoding commented on #3015
Yes in addition to scrolling the selected item into view, we also need to expand the necessary NavigationViewItems, which might be a bit problematic, if the NavigationViewItems don't know their parent items.

[2020-07-31 17:43] YuliKl commented on #2391
Thank you, @Felix-Dev, sounds good.

[2020-07-31 18:04] StephenLPeters commented on #3015
When the navigationViewItem raises its selected changed event we can have the parent navigation view expand the tree it is in right?

[2020-07-31 18:08] StephenLPeters commented on #2911
The issues description says the exception is coming from Microsoft.UI.Xaml in the Additional Context section, so I assumed that the Winui versions of the controls are being used.  Perhaps its a winui 2 Swipe with an OS xaml swipeItem?  @yoshiask can you please confrim the repro with what @Felix-Dev suggested?

[2020-07-31 18:11] StephenLPeters commented on #2950
We should also open a new issue to track updating text block in Winui3 to use the updated commandbar flyout

[2020-07-31 18:13] StephenLPeters commented on #3017
@JulienTheron Can you confirm whether or not you are using 2 different preview winui packages across your app and class library?  @kmahone this means that we really not like control libraries or class libraries publish on a preview version huh?

[2020-07-31 18:20] kmahone commented on #3017
If a control library consumes a prerelease WinUI, then the app using that library would need to use the same prerelease version. The reason for this is that we do not guaranteed api compatibility across prerelease versions. For preview types, we add/remove/rename apis while they are in prerelease.

[2020-07-31 18:24] licanhua commented on #3017
His problem is related to framework package other than prerelease.
#1603 created microsoft.ui.xaml.pri, then there are two versions of .pri which is referenced by compiler. It should be Compiler's responsibility to choose one of them. From the description, look like both .pri are unpackaged, then merged and result into conflict.

[2020-07-31 18:25] JulienTheron commented on #3017
@StephenLPeters I'm using two different stable packages. 2.4.2 in the app project, 2.4.0 in the control library.

[2020-07-31 18:29] YuliKl commented on #2993
Based on information I received from the engineering team that owns MapControl, this behavior is by design, so I'm resolving this issue.

- Duplicate focusable sibling elements: the spatial nature of maps makes them difficult to represent faithfully to accessibility tools. We've taken the stance that all labels rendered on the map must appear in the UIA tree, and this means that elements with dupl

[2020-07-31 18:29] #2993 closed

[2020-07-31 18:33] #3012 closed

[2020-07-31 18:35] #2980 closed

[2020-07-31 18:39] YuliKl commented on #3018
The WinUI team does not own MapControl directly. I received some clarification from the team that does: there is currently no built-in support for GeoJson, this would be a new feature request. In the meantime, you should be able to parse the GeoJson and add MapElements yourself.

[2020-07-31 18:39] #3018 closed

[2020-07-31 18:45] Felix-Dev commented on #2911
@StephenLPeters I can confirm the exception reported by @yoshiask using the OS XAML `SwipeControl`. Code works fine using the WinUI version. If you happen to mix WinUI and OS XAML in the code snippet above, the code won't compile. Hence why I think @yoshiask is using the OS code here (would also match the repro code posted).

If they are using the WinUI controls already I will upload my working te

[2020-07-31 18:51] ranjeshj opened #3020 "Repeatedly building and deploying causes deployment errors due to file being held by another process error."
Repeatedly building and running a winui desktop C# app ends up with a build failure sometimes. You can recover by restarting visual studio. Also, I notice that sometimes rebuilding and F5 from visual studio does not terminate the app instance that is already running.

Here is the error message when it fails.
[code]
NuGet package version:
[Microsoft.WinUI 3.0.0-preview2.200713.0]

[2020-07-31 19:29] jwmsft opened #3021 "Tab navigation is broken when RadioButtons is first Control in visual tree"
**Describe the bug**
When RadioButtons is the first control in the visual tree, Tab navigation does not behave as [described in the documentation](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/radio-button#navigating-a-radiobuttons-group).

1) Initial focus is set to the second control in the visual tree, not to the first RadioButtons control.
2) When Tab focus reaches

[2020-07-31 19:36] chingucoding commented on #2950
Does the WinUI 3 use the MUXC contextflyout or is it using the WUXC one? Would you like me to create the tracking issue?

[2020-07-31 19:40] groovykool opened #3023 "When a Parent Grid has a BorderThickness>0 and Padding>0. Some BorderThickness/Padding values cause drawing/rendering issues on child grid borders."
**Describe the bug**
When a Parent Grid has a BorderThickness>0 and Padding>0. Some BorderThickness/Padding values cause drawing/rendering issues on child grid borders.

**Steps to reproduce the bug**
Have a parent grid with a border and padding.
Have child grids with borders.
Several combinations of BorderThickness/Padding cause the rendering/drawing of the child grid borders to be wrong.  Some b

[2020-07-31 19:54] chingucoding commented on #3015
Yes, the parent NavigationView could or rather should do that. Does the NavigationView know the parent of each of the NavigationViewItems? Is that the same as the VisualTreeParent?

[2020-07-31 20:09] fabiant3 commented on #3020
@ranjeshj - what is the process holding onto your build? Process Explorer will tell ya.

[2020-07-31 20:15] fabiant3 commented on #3020
per @Scottj1s https://msbuildlog.com/ should help generate a binlog which should help understand if this is a makepri regression.

[2020-07-31 20:22] fabiant3 commented on #2983
We currently don't have HotReload working for WinUI3, but we are working on it and expect to have it done part of the WinUI3. See current [release notes](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#developer-tools).

[2020-07-31 20:24] Felix-Dev commented on #3021
I would like take a look into this.

[2020-07-31 20:26] fabiant3 commented on #2975
It is unfortunate but we do not plan to have the designer available at the time we'll be shipping WinUI3. @dotMorten we do ship generic.xaml with our Nuget package since Preview2.

[2020-07-31 20:27] #2975 closed

[2020-07-31 20:29] ranjeshj commented on #3020
It looks like the running app instance is holding that file. I was able to get a consistent repro. I build and run using Ctrl+F5 and the app is running without debugging. Then I make a change to the markup and do Ctrl+F5, it gives the error. If I do another Ctrl+F5, VS terminates the running app and launches again with latest changes.

Its a bit more rare to get into the situation where it just st

[2020-07-31 20:30] #2928 closed

[2020-07-31 20:42] #2890 closed

[2020-07-31 20:49] Scottj1s commented on #3020
this sounds like a VS issue then - especially if the third Ctrl+F5 terminates the app (why doesn't the second one?)

[2020-07-31 21:00] ranjeshj commented on #2917
@r2d2Proton There have been proposals/requests for [Rust ](https://github.com/microsoft/microsoft-ui-xaml/issues/2488)and [F#](https://github.com/microsoft/microsoft-ui-xaml/issues/740), but C# and C++/WinRT are the only ones the team is currently working on supporting.

[2020-07-31 21:12] ranjeshj commented on #3020
Exactly.

[2020-07-31 21:23] Felix-Dev commented on #3021
@jwmsft

In your repro code, Focus *is* in the first RadioButtons control ("Option A"). While you don't see a focus rectangle, you can press the *Space* key to select the first item of "Option A" ("Option 1") or you can press the *down arrow* key to select the remaining items in "Option A".

I am working on a fix for issue 2.

[2020-07-31 21:29] #2774 closed

[2020-07-31 21:59] ranjeshj commented on #2781
I cannot repro it either with latest version of XamlControlsGallery. Closing this issue. Thanks @chingucoding

[2020-07-31 21:59] #2781 closed

[2020-07-31 22:12] abhi-msft commented on #2602
@StephenLPeters : Not sure I understand on why this is closed. Is it fixed? I am using Preview 2 and its not working for me.

[2020-07-31 22:14] dotMorten commented on #2975
@fabiant3 I know. It was more to point out that your Pack step doesn't pack the xaml when packing a WinUI class library with controls

[2020-07-31 22:20] StephenLPeters commented on #2602
This issue is not closed.

[2020-07-31 22:25] abhi-msft commented on #2602
Thank you!

[2020-07-31 22:25] robloo opened #3024 "Question: When is MapControl coming to WinUI 3.x?"
I have an app that depends on MapControl which isn't currently supported by WinUI 3.0. When might I expect that
to be added?

WinUI 3.0 Preview 2 lists MapControl as a missing platform feature with no timeline given.
https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#missing-platform-features

I don't even need all the advanced functionality -- just something that shows a 2D map and allow

[2020-07-31 22:40] yoshiask commented on #2911
I tried it again with the using statements you provided, and it does indeed work as expected. It turns out that I was using the OS `SwipeControl` (and all of the related classes). I'm glad that solves the issue, but why is the exception coming from WinUI?

[2020-07-31 23:01] YuliKl commented on #3015
I feel like @ojhad and I had discussed this scenario, but it's been too long and I can't recall the details 😕

I think I was more focused on making each item aware of whether it was expanded or had a selected descendent. I don't believe that we added any such tracking to NavigationView itself. So items have an `IsChildSelected` property, but no knowledge about their ancestors.

In XCG, we should b

[2020-07-31 23:06] ranjeshj commented on #3023
@codendone Could this be a layout rounding issue.

[2020-07-31 23:12] ranjeshj commented on #3019
@huoyaoyuan Is it an intellisense warning ? You can filter out build/intellisense warnings in the error window. NoWarn does not affect intellisense warnings.

[2020-07-31 23:15] ranjeshj commented on #2950
We don't need to fix this in WinUI3. In WinUI3 we are using MUXC one.

[2020-08-01 00:01] StephenLPeters commented on #3015
UIElement.BringIntoView() should do the trick.  I think this is a bug in NavView though, I feel like you shouldn't need to call that.

[2020-08-01 00:41] robloo commented on #2954
I'm going to close this as the version of WinUI 2.x used for the WinUI 3.0 preview is added (pictured below). I'm also glad there is a somewhat 'automated' method of syncing changes -- although I suspect it's not perfect like all things. Regardless, I can't think of any benefit keeping this issue open.

![image](https://user-images.githubusercontent.com/17993847/89089928-c6e4c980-d36d-11ea-8bb7-4a

[2020-08-01 00:41] #2954 closed

[2020-08-01 00:43] robloo commented on #3024
Adding @YuliKl who seems to be assigned MapControl-related issues.

[2020-08-01 01:44] IsmailHassani commented on #2545
This is weird, i have almost exact same exceptions in my framework project.
[I-Synergy. Framework](https://github.com/I-Synergy/I-Synergy.Framework)

I'm pulling my hair out for a week. Tried even to disect the .dmp file without luck.
I have a framework project with an UWP sample which crashes instantly on startup. The exceptions i get are:
- MissingMetaDataException: Windows.Foundation.IReference

[2020-08-01 02:56] r2d2Proton commented on #2917
@ranjeshj Thank you for the response ranjeshj. I am actively developing a C++ Windows SDK application. Currently I am using WC_TREEVIEW and other resources (.rc), for example, EDITTEXT, PUSHBUTTON, etc. for the user interface. No WinRT.
Will WinUI 3 work in this environment?

[2020-08-01 04:29] huoyaoyuan commented on #3019
@ranjeshj No, it goes under build category.

More information: after I changed the content of `MainWindow.xaml` (replacing with an empty `NavigationView`), the warning pointing it disappears. The warning pointing `App.xaml` is still present.

[2020-08-01 05:35] zhuxb711 commented on #2040
Is there any progress now? When will this be fixed?

[2020-08-01 12:03] MarkIvanDev commented on #2796
Any updates about this?

[2020-08-01 13:40] Jaiganeshkumaran opened #3025 "Proposal: Index based navigation for navigation view"
# Proposal: Index based navigation for navigation view
I would be really great if navigation view supported position based navigation using the menu key.

## Summary
Similar to the Windows Taskbar, where you can launch an app by pressing Windows key + icon index, NavigationView could have a feature like that using the menu key. Today to navigate to a specific item you either need to tap or click o

[2020-08-01 22:59] MikeHillberg commented on #2904
We need to ensure the fix for this doesn't cause a regression, see the discussion in this comment:
https://github.com/microsoft/microsoft-ui-xaml-specs/pull/91/commits/c0339629656d34f270efea5b3c63b97939dbe172#r461760606

[2020-08-01 23:20] SetTrend opened #3026 "Proposal: Improve theme resources system"
After reading [XAML theme resources - UWP applications ▷ Light and Dark theme colors]https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-theme-resources#light-and-dark-theme-colors), I'm missing a systematic approach to system color naming:

- What's the **_system_** behind the "Alt", "Base", "Chrome" names?
   - e.g.: what's "Alt"? Is it "Altitude", "Alternative", "Alta

[2020-08-02 05:04] licanhua commented on #3017
@JulienTheron You should be able to workaround the this issue by adding below target to WinUIConflictRepro. In my example, 2.4.2 microsoft.ui.xaml.pri file is removed. I can understand the compatibility between 2.4.0 and any 2.4.x, but I don't think mixing 2.4.x and 2.5.x will be supported.

@StephenLPeters , You can start discuss with compiler team who maintains `C:\Program Files (x86)\Microsoft

[2020-08-02 05:09] licanhua commented on #3017
Here is the build binlog with the 'conflicts' error.
[WinUIConflictRepro_Debug_x86_Build_2020-08-01T21_42_42.2247115-07_00.binlog.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5011669/WinUIConflictRepro_Debug_x86_Build_2020-08-01T21_42_42.2247115-07_00.binlog.zip)

[2020-08-02 08:23] sukesh-ak commented on #3018
Thank you @YuliKl
Is there a repo for MapControl where I can open a suggestion to track it?

[2020-08-02 13:16] mveril commented on #2631
It's not really a UWP or WinUI specific API, for example Edge chromium already use it
There is a Project Reunion discussions about that microsoft/ProjectReunion#127

[2020-08-02 16:09] chingucoding commented on #1954
Created a C++ version of the repro project and it seems that is issue is also existent there too.
We create one more view than we clean up, the repro project can be found here: https://github.com/chingucoding/RepeaterMemoryLeak

[2020-08-03 01:04] Chips1234 commented on #2594
@chingucoding No, this is in MUXControlsTestApp:
![Menu flyout high contrast bug](https://user-images.githubusercontent.com/47545798/89136850-99715a80-d4ea-11ea-8dea-f6ac3ea5b032.jpg)

[2020-08-03 08:15] chingucoding commented on #2594
I am not sure what you are referring to @Chips1234 , in the screenshot you posted the background of the flyout seems to be correct.

[2020-08-03 08:35] niels9001 commented on #2991
Right, you get so far with setting the RequestedTheme on e.g. a page. Stuff like tooltip fall through though. Here's an example of the PowerToys settings:

![App xaml](https://user-images.githubusercontent.com/9866362/89162748-cb2f0380-d574-11ea-8bc0-926bbe814b25.gif)

Both Flyouts do not adhere correctly to the theme.

[2020-08-03 10:06] chingucoding commented on #2941
It seems that the selection indicator does not get animated correctly since the template for the collapsed NavigationViewItem has not loaded yet, when you change selection. As a workaround, you can add `NavView.UpdateLayout()` before setting the selected item.

[2020-08-03 11:46] jsman123 opened #3027 "where is ItemsRepeater control in toolbox?"
Hello. I'm using WIUI 2.4, can't find out ItemsRepeater control in toolbox, see only ItemsControl and ItemsPresenter.

Do I need to install something others to get the ItemsControl?

thanks!

[2020-08-03 12:35] JulienTheron commented on #3017
@licanhua Thanks for the workaround, but why are you saying that mixing 2.4.x with 2.5.x shouldn't be supported? If 2.5.x only introduces new APIs (maintaining backward compatibility), then it should be the same as any NuGet package. I should be able to make a library that targets the minimum version needed, and let the application use whichever one it wants (while respecting the minimum version,

[2020-08-03 14:18] theromis commented on #2024
Mentioned in Lonje chat https://www.lonje.com/message/1968439855/

[2020-08-03 15:17] IsmailHassani commented on #2545
After investigating more this weekend i tried to push my updates to the Azure build pipeline.
If build 2020.1174.1 was build fine previously, and now it doesn't, maybe this is a local issue.
Strangely, i've got it right. The build has succeeded and the application is runnable just fine.
So why i'm getting these exceptions when i build a native release locally?

[2020-08-03 15:42] ranjeshj commented on #2917
@marb2000 @Austin-Lamb can you answer the hosting question ?

[2020-08-03 15:48] ranjeshj commented on #3019
@fabiant3 @stevenbrix as FYI.

[2020-08-03 15:56] MikeHillberg commented on #2896
I'd like to understand first what the details are.

[2020-08-03 16:21] robloo commented on #3020
I get similar errors from time-to-time when not using WinUI 3.0 previews. These errors have been around for as long as UWP itself. I definitely think this is a VS-related issue.

[2020-08-03 16:23] robloo commented on #3026
I definitely get confused by naming from time-to-time. This goes back a long time though, I think even WPF used existing naming conventions for system-related resources. It would be great to dig through all this and document things though.

[2020-08-03 16:56] anawishnoff opened #3029 "Bug/Feature Request: NavigationView FooterMenu - No overflow handling for Top mode"
**Describe the bug**
With the addition of the FooterMenu from Issue #375 and PR #1997, the corner case of having an overflow of footer menu items in a top mode NavigationView was not handled. Currently, if you add more footer items than can fit within the viewport of the NavigationView in top mode, the items will render "off-screen" - they aren't visible and they aren't able to be scrolled to.

**

[2020-08-03 17:28] ranjeshj commented on #1954
Thanks @chingucoding. Could you run an experiment to further track it down? Can you try providing a custom ElementFactory as ItemTemplate instead of DataTemplate. If it does not leak with a custom element factory, that will scope down the leak to DataTemplate. Thanks.

[2020-08-03 17:31] StephenLPeters commented on #3018
I think [Project Reunion](https://github.com/microsoft/ProjectReunion) is probably the best place

[2020-08-03 17:48] ranjeshj commented on #2419
There isn't much the framework can do here. ItemsRepeater cannot take focus because it is equivalent to a Panel. ScrollViewer can but we cannot change the default there (that is a breaking change). The workarounds are
(1) make the ScrollViewer a tab stop (set IsTabStop=true)
(2) have items inside the repeater be tab stops that can take focus. In the case of ListView for example ListViewItems can t

[2020-08-03 17:50] StephenLPeters commented on #2419
I'm going to close this issue as by design with work arounds.

[2020-08-03 17:50] #2419 closed

[2020-08-03 17:54] StephenLPeters opened #3030 "Null Reference Crash in TwoPaneView::ActualWidth"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/26111242?src=WorkItemMention&src-action=artifact_link)

The call stack makes it look like the size changed event handler isn't being detached.

[2020-08-03 17:57] StephenLPeters opened #3031 "Initials in PersonPicture are wrong for LATAM and other countries/culture that use more than 1 word for "last name'"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27686030?src=WorkItemMention&src-action=artifact_link)

"If last name has more than 1 word, the login screen in WCOS (10X) shows the initial of the first name followed by the initial of the last word of the last name, which is completely incorrect for LATAM (and other countries/cultures/people that have multi-word "

[2020-08-03 18:00] shaheedmalik commented on #3025
Calculator currently uses this but as ALT+1, ALT+2, ALT+3, etc.

[2020-08-03 18:01] Felix-Dev commented on #3031
I can take a look at this.

[2020-08-03 18:15] hooligan495 opened #3032 "Question: No Such interface supported"
When I'm running my UWP app I am consistently seeing the following output in the output window::

[code]

I'm trying to figure out ... How do I figure out what's causing this?  It is not crashing my application. But I sure would like to understand what's up with that.  I see a closed ticket #2327 in this forum that also references the same IID.  If anyone has any ideas on how to track down what's

[2020-08-03 18:19] ranjeshj commented on #2957
This does seem specific to Preview2. I see this issue when using any of the controls from WinUI2 so it seems more wide spread than just NavigationView. debug builds seem to work fine.

[2020-08-03 19:07] chingucoding commented on #1954
I've swapped out the DataTemplate in the linked repo with a custom ElementFactory, and with that, we always clear the same number of items, that we created, resulting in no memory leaks. So it is an issue with the DataTemplate not clearing the items correctly, given that an ElementFactory behaves as expected and results in no memory leak.

Btw: Thanks @harvinders for the repro project, that helped

[2020-08-03 19:20] chingucoding commented on #3030
Would creating a PR that detaches the event handler once the TwoPaneView get's collected be sufficient to close this issue?

[2020-08-03 20:14] licanhua commented on #3017
UI is subject to change from release to release. Some are considered as 'breaking change' from UI aspect, but from API part, it's the same. For example, #1961 proposal changed the space, and it's a break change if you app is very sensitive to the layout.
If the currently official version is 2.4.x, and 2.5.0 is actively under development. then the breaking change will goes to 2.5.0, and 2.4.x only

[2020-08-03 20:40] #535 closed

[2020-08-03 20:40] #2834 closed

[2020-08-03 20:51] #2604 closed

[2020-08-03 21:29] Chips1234 commented on #2594
@chingucoding Ah, I'm sorry. Now I see what the error is.

[2020-08-03 22:25] codendone commented on #2931
Today I'm reproing it, both with attempted two-finger scrolling with a touchpad and an old mouse.  Something is weird (and definitely broken) here...

[2020-08-03 22:40] ranjeshj commented on #1954
Thanks @chingucoding . That helps narrow it down. We could probably repro the issue with just a DataTemplate (no repeater). When the DataTemplate goes out of scope it looks like it is not cleaning all the containers recycled into it. It looks like navigating back and forth is making it show up more because we use a different DataTemplate object each time.

One mitigation could be to take the DataT

[2020-08-03 23:15] StephenLPeters commented on #3032
@hooligan495 could you try following the instructions here: https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/debugging_crashes.md to get more info on what is going on?

[2020-08-03 23:17] StephenLPeters commented on #3031
@YuliKl FYI.

@Felix-Dev you can take a look, however I worry that the behavior of choosing the R over the Q in the example would not be ubiquitous for all cultures.  I think we need to reach out to the original team that authored this control for their input. (It wasn't the winui team originally)

[2020-08-03 23:18] StephenLPeters commented on #3030
That would be my first guess, but I the internal issue has more context. @Teap FYI

[2020-08-03 23:27] StephenLPeters commented on #3027
@jevansaks and/or @MikeHillberg I don't know how the VisualStudio ToolBox feature works. Is there a step we are missing when publishing Winui 2.x to enable this?

[2020-08-03 23:37] StephenLPeters commented on #2958
related internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27503608)

[2020-08-03 23:50] StephenLPeters commented on #1954
@harvinders to see @chingucoding and @ranjeshj 's latest updates

[2020-08-04 00:22] #2941 closed

[2020-08-04 01:09] harvinders commented on #1954
@StephenLPeters , @chingucoding , @ranjeshj If I am not mistaken the early experiments that I did I compared `ItemsRepeater` with `ListView` keeping other things as such. If the issue is with `DataTempate` should we also not see the leak in `ListView`? However, I did not saw any leaks there when I did my early experiements.

[2020-08-04 04:21] jevansaks commented on #3027
It's a nuget feature. You include a specially named XML file and put it in the right place in the nupkg and then the gallery will show items from it. Our config file is here:
https://github.com/microsoft/microsoft-ui-xaml/blob/master/build/NuSpecs/VisualStudioToolsManifest.xml

And then if you want to add icons, they come from the design dll that's built and also included in the nupkg. It's here:

[2020-08-04 04:22] jevansaks commented on #3027
@StephenLPeters documentation about the nuget feature is here: https://docs.microsoft.com/en-us/nuget/guides/create-ui-controls#add-toolboxassets-pane-support-for-xaml-controls

[2020-08-04 05:55] VijayanRamachandran opened #3033 "Question: IMultiValueConverter support is missing ?"
Hi,

I am currently trying out some prototypes creating custom controls in WinUI.

During prototype I noticed that there is support for IValueConverter  ( available in Microsoft.UI.Xaml.Data ) but support or implementation is missing for **IMultiValueConverter**

Support for IMultiValueConverter will be available in near WinUI Preview release ?
Untill then any alternative shall be tried it out in

[2020-08-04 06:03] VijayanRamachandran opened #3034 "Question: XamlReader and XamlWriter Support is missing ?"
Hi,

I am currently trying out some prototypes creating custom controls in WinUI.

During prototype I noticed that support is missing for XamlReader and XamlWriter.
( In WPF we could see that support for XamlReader and XamlWriter is available in System.Windows.Markup. )

Support for XamlReader and XamlWriter will be available in near WinUI Preview release ?

I am using right now
VS => Version 16.7

[2020-08-04 06:21] VijayanRamachandran opened #3035 "Question: Sealed Types => ScrollViewer, TextBlock, TickBar ?"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls inheriting
from ScrollViewer, TextBlock, TickBar ( available in System.Windows.Controls ) and when we try to migrate those custom controls to WinUI then ScrollViewer, TextBlock and TickBar control types ( availab

[2020-08-04 06:29] VijayanRamachandran opened #3036 "Question: ToolBar, TabControl, HeaderedContentControl, DataGrid => Types not available in Microsoft.UI.Xaml.Controls"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls inheriting ( or using )
from ToolBar, TabControl, HeaderedContentControl, DataGrid ( available in System.Windows.Controls ) and when we try to migrate those custom controls to WinUI then ScrollViewer, TextBlock a

[2020-08-04 06:48] VijayanRamachandran opened #3037 "Question: Microsoft.Xaml.Behaviors.Wpf => Equivalent WinUI Nuget ???"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom behaviour types inheriting from **Microsoft.Xaml.Behaviors.Behavior<>** ( available in Nuget **Microsoft.Xaml.Behaviors.Wpf** ) and when i try to migrate those custom behaviours to WinUI i am not seeing the equivalent imp

[2020-08-04 07:03] VijayanRamachandran opened #3038 "Question: Brushes and Colors Implementation Missing ???"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls using **Brushes** and **Colors**( available in System.Windows.Media ) but equivalent implementation for WinUI is missing.

These implementations will be available soon in near WinUI Preview release ?

I am using

[2020-08-04 07:07] StephenLPeters commented on #3027
@jevansaks thanks! @jsman123 We haven't included ItemsRepeater, and a couple of other controls in the appropriate manifest. Thank you for bringing this to our attention!

[2020-08-04 07:30] VijayanRamachandran opened #3040 "Question: DependencyPropertyKey missing ?"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls using **DependencyPropertyKey** ( available in System.Windows ) but equivalent implementation for WinUI is missing.
( Below is the sample code snippet about how we are using DependencyPropertyKey )

These impleme

[2020-08-04 07:40] VijayanRamachandran opened #3041 "Question: DependencyProperty => RegisterReadOnly method missing ???"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls using DependencyProperty ( from System.Windows ) and the equivalent type DependencyProperty is available in WinUI ( from Microsoft.UI.Xaml ).

WPF DependencyProperty contains both Register and RegisterReadOnly me

[2020-08-04 08:50] ojhad opened #3042 "Fix recycling in NavigationViewItemsFactory autowrap case"
Recycling is currently broken for the cases where `NavigationViewItemsFactory` autowraps passed in elements with a `NavigationViewItem`.
When `NavigationViewItemsFactory` recycles the internally allocated `NavigationViewItem`, we need to also recycle the element retrieved from the passed in DataTemplate in the proper manner.

Refer to [this comment](https://github.com/microsoft/microsoft-ui-xaml/p

[2020-08-04 10:42] Felix-Dev commented on #3033
@VijayanRamachandran The recommended way in WinUI is to use [function binding](https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings).

[2020-08-04 10:45] Felix-Dev commented on #3035
Unsealing WinUI classes is on the mind of the team: https://github.com/microsoft/microsoft-ui-xaml/issues/780 It might take a while to arrive though.

[2020-08-04 11:17] Felix-Dev commented on #3036
You can use WinUI's [TabView](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view) control instead of WPF's TabControl. Fot the ToolBar control, you could use the [CommandBar](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/app-bars) control.

You will find controls like DataGrid and HeaderedContentControl in the [Windows Coomunity Toolkit](

[2020-08-04 12:29] JulienTheron commented on #3017
Thanks for the explanation. I understand the breaking change from a UI point of view, but that doesn't justify the fact that it doesn't compile. I don't think that's a proper way to inform developers that their UI layout may be misaligned.

[2020-08-04 16:25] robloo commented on #3041
I ran across the same issue a while ago and ended up asking in the Microsoft Docs repo at the time:

https://github.com/MicrosoftDocs/windows-uwp/issues/1878

Read-only dependency properties are especially important to implement collections. However, in UWP Collection-Type Dependency Properties are not supported. In fact, in UWP `SelectedItems` isn't even a DP which is really bad architecture. All

[2020-08-04 16:30] robloo commented on #3040
Same comment as here: https://github.com/microsoft/microsoft-ui-xaml/issues/3041#issuecomment-668695595

[2020-08-04 16:31] robloo commented on #3038
The equivalent does exist in UWP. However, the namespace was moved to Windows.UI.Colors in UWP and again to Microsoft.UI.Colors in WinUI.

Also, you might find this useful porting from WPF: https://github.com/robloo/PublicDocs/blob/master/UWPvsWPF.md

[2020-08-04 16:35] MikeHillberg commented on #3041
There's no near-term plan to add RegisterReadOnly. Agreed it's a useful feature, and should be used for some existing properties like [TwoPaneView.Mode](https://docs.microsoft.com/uwp/api/Microsoft.UI.Xaml.Controls.TwoPaneView.Mode) and [MenuBar.Items](https://docs.microsoft.com/uwp/api/Microsoft.UI.Xaml.Controls.MenuBar.Items).

[2020-08-04 16:35] robloo commented on #3036
Don't forget `Pivot` was the original replacement for TabControl. Pivot has some issues like it can't hide tabs though. The UI will have to be redesigned in this area migrating from WPF to WinUI.

[2020-08-04 16:36] robloo commented on #3035
This has been open a long time and honestly should be pretty quick to do. There is no reason this shouldn't be in the WinUI 3.0 previews.

[2020-08-04 16:37] robloo commented on #780
Can this be done in the next WinUI 3.0 preview? Seems very simple to do and would close a few issues and help people porting from WPF.

[2020-08-04 16:39] robloo commented on #3041
Thanks for the feedback. In my experience, if there is no near-term plan then there is no plan to do it and it likely won't happen. Honestly, doing it during WinUI 3.0 is really the best shot as well since it's a breaking change to do it properly and add to existing controls.

[2020-08-04 16:43] robloo commented on #3041
@ranjeshj @StephenLPeters @ryandemopoulos

I'll state this here but it could apply to many different issues. @VijayanRamachandran and all the issues he's filed recently is a good illustration of the problems many of us went through a while ago during the initial migration from WPF to UWP. This is now happening again as devs and companies are looking at going to WinUI. Missing features like this le

[2020-08-04 16:47] Felix-Dev commented on #3035
@robloo It comes down to priorities. There are just so many things the community wants the WinUI team to solve that some things will unfortunately be put on the backlog for now. For example, parts of the community have been very vocal about host backdrop acrylic missing in WinUI 3.0. Or bringing UWP titlebar customization APIs to WinUI Desktop.

Lats time I talked to @ryandemopoulos he said that t

[2020-08-04 16:54] assassin316 opened #3043 "Two Pane View control not working as expected"
**Describe the bug**

According to the Microsoft documentation, it states the following for the Two Pane View:

     By default, Pane1Length is set to Auto and it sizes itself to fit its content. Pane2Length is set to * and it uses all the remaining space.
With the following code, I don't see that defualt behavior being applied. Am I missing some extra properties I need to explicitly set? My end g

[2020-08-04 16:58] robloo commented on #3037
https://blogs.windows.com/windowsdeveloper/2015/11/30/xaml-behaviors-open-source-and-on-uwp/

[2020-08-04 17:03] robloo commented on #3036
Also, I did a comparison of controls between WPF/UWP right now this still applies for the most part with WinUI. Some (like DataGrid) are available in the community toolkit which does have a WinUI preview as well.

https://github.com/robloo/PublicDocs/blob/master/UWPvsWPF.md#Controls

[2020-08-04 17:20] robloo commented on #3035
@Felix-Dev Yes, I understand and you're right. As you said it just comes down to what features will be prioritized which unfortunately means whomever is loudest has a better chance of winning. This is a very simple change as I understand it though. It's something good to do to take your mind off harder problems :) That said, I don't need it personally so perhaps should quiet down for those feature

[2020-08-04 17:30] kmahone commented on #3017
CanHua brings up a good point with regards to changes in layout, etc as a reason why 2.3.x would not be compatible with 2.4.x.

However a more significant reason why this scenario would not work is that the ABI (binary interface) is not maintained across versions of the package with a different major/minor version. The API of a (non-preview) type stays backwards compatible (e.g. apis are only adde

[2020-08-04 17:31] robloo commented on #3038
I should add while all Colors should be supported, some Brushes are not. Some like VisualBrush are still missing and features like tiling are more difficult https://github.com/microsoft/microsoft-ui-xaml/issues/536

[2020-08-04 17:58] hooligan495 commented on #3032
THanks Stephen.

The thing is my app is NOT crashing..  i'm just seeing that output in teh VS output window when running release mode.  If I could force a crash then maybe I could use the info in that link.

[2020-08-04 18:00] jevansaks commented on #1954
I'm going to try debugging through and see what clues I can find about the leaked objects. I agree with @harvinders that if we don't see this issue with ListView that I suspect the issue is somewhere in between ItemsRepeater and DataTemplate. When I looked at this yesterday I didn't see any outstanding pointers to the leaked object so I suspect that these are ref count leaks. Such things are very

[2020-08-04 18:03] anawishnoff commented on #2935
@StephenLPeters
Sorry for the late reply, but yes that's been added. Thanks @mqudsi for pointing it out. I believe this issue can now be closed.

[2020-08-04 18:03] #2935 closed

[2020-08-04 18:17] Sergio0694 commented on #2166
+1 to this, there seem to be no proper way to have fine-tuned control for `null` values with `x:Bind` to function.
And the behavior itself also seems inconsistent as OP mentioned, with the function being invoked **only the first time** with just `null` as argument, and then further invocations just skipped, with `FallbackValue` being used. I think if `FallbackValue` is to be supported in this case

[2020-08-04 18:18] YuliKl commented on #2750
@Felix-Dev, the recommendation from our design team is to replace the More button and its chevron with an ellipse glyph. The same metaphor and visual treatment that CommandBar's overflow button has today.
![image](https://user-images.githubusercontent.com/13142665/89329796-2aa81480-d644-11ea-87d2-7c224d5f0179.png)

[2020-08-04 18:19] #2950 closed

[2020-08-04 18:23] ranjeshj commented on #1954
Thanks @jevansaks.
@harvinders  ListView does recycling on its own internally (does not leverage the IElementFactory). IElementFactory was introduced to decouple recycling from the collection controls when ItemsRepeater was created. It looks like we are leaking somewhere in this new codepath. Given that custom implementations of IElementFactory are not leaking (as @chingucoding investigated), I su

[2020-08-04 18:26] Felix-Dev commented on #2750
@YuliKl I haven't yet read through your previous comment (have been busy here the past days, sorry) but about your newest comment: What does that mean for the [NavigationView.OverflowLabelMode](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview.overflowlabelmode?view=winui-2.4#Microsoft_UI_Xaml_Controls_NavigationView_OverflowLabelMode) API? As far as I can tell, th

[2020-08-04 18:28] StephenLPeters commented on #3032
If you enable mixed mode debugging (native + managed) is the output more useful?

[2020-08-04 18:47] YuliKl commented on #2750
That's correct. @ranjeshj, @MikeHillberg can we deprecate `OverflowLabelMode` as part of this change? Or would it be better to keep a no-op property and avoid a breaking change?

[2020-08-04 18:51] jevansaks commented on #1954
From what I can see so far, the call in ItemsRepeater to LoadContent here:
https://github.com/microsoft/microsoft-ui-xaml/blob/6265117611bfd5bb84a3c582c67071775fa9a1ca/dev/Repeater/ItemsRepeater.cpp#L624

Is returning an element that has a ref count of 2 instead of 1. It doesn't appear to be doing anything different than the other LoadContent() call that produces the items which are then going int

[2020-08-04 18:52] stmoy commented on #2796
Hey @MarkIvanDev - thank you for your patience, no updates yet. The team has been very focused on WinUI 3.0 in the short term, but I'll re-poke the team to see if we can get something done here.

[2020-08-04 18:53] Felix-Dev commented on #2750
If we stick to [semver](https://semver.org/) we should keep that API but we should add a comment to its documentation stating it is now obsolete and will be removed in a future WinUI version (which would presumably bet either WinUI 3.0 or WinUI 4.0, depending on when the team feels comfortable to remove it. WinUI 3.0 would be fine with semver but the team wants to limit breaking changes to a minim

[2020-08-04 18:54] StephenLPeters commented on #2750
I don't think we want to deprecate or remove the API. Currently the only thing setting this api does is call GoToState on OverflowButtonWithLabel or OverflowButtonNoLabel.  Thus if we leave the code behind as is and just change the template to either remove these states, or remove the setters in the visual states, we could retain the ability for customers to retemplate back to the old style, or up

[2020-08-04 18:55] JulienTheron commented on #3017
I can confirm the workaround is working. But I think we'd like to exclude 2.4.0 pri file, and not 2.4.2 like what's proposed.

[2020-08-04 19:05] chingucoding commented on #2151
Since the `IsDeterminate` property was reintroduced with #2584, and the behavior is correct now, I think we can close this issue.

[2020-08-04 19:14] chingucoding commented on #2032
Something you can do, to make navigation (feel) more smoothly, is to do expensive operations, such as setting ItemsSource of the datagrid, in the Loaded event. Anything you do in the constructor of a page, will be executed before the navigation takes place, however anything done in Loaded happens after the navigation to the page has taken place, making switching pages feel more smoothly.

[2020-08-04 19:18] JuanMejiaVelez commented on #2647
One thought I had with this issue is to get the Boxing that happens around the Content of the RadioButton be extended to the ellipse so that it is guarded from the background color change. Is that possible?

[2020-08-04 19:29] robloo commented on #3036
For HeaderedContentControl, a `Header` property has been added to most controls instead.

[2020-08-04 19:38] Felix-Dev commented on #2750
@StephenLPeters If we don't find another use case for this API, I do think we should consider removing it as part of, say WinUI 4.0. I don't like the idea of "dead" public APIs which just "pollute" the API surface and don't have any effect when using the default control. If developers really want to get the old look back, even with this API removed, they can always re-template the control or even

[2020-08-04 19:47] mrlacey opened #3045 "Proposal: Automatically generate all needed file sizes"
# Proposal: Automatically generate all needed images from one source

## Summary

Where multiple images are needed for store assets, splash screens, tiles, etc. it would be great if the project only needed one (source) image and would automatically generate all the different needed ones from that.

## Rationale

* Remove the need to manually create multiple files.
* Keep the project leaner without

[2020-08-04 19:56] ParkhutRoman opened #3046 "Run as administrator crashes WinUI Desktop App"
Faulting application name: TYTYTY.exe, version: 1.0.0.0, time stamp: 0x5eda9993
Faulting module name: KERNELBASE.dll, version: 10.0.19041.423, time stamp: 0xed02c0bc
Exception code: 0xc000027b
Fault offset: 0x000000000010b3cc
Faulting process id: 0x6e34
Faulting application start time: 0x01d66a95fb1d5bdc
Faulting application path: F:\Work\net5\FWMonitor\TYTYTY\TYTYTY (Package)\bin\x64\Debug\AppX\T

[2020-08-04 20:09] chingucoding commented on #1792
@llongley Are you currently looking into this? Or would you be fine with me looking into this? @ranjeshj FYI.

Also looking at the code for the page, it seems that the CommandBarFlyout is not the owner of the popup, but rather the AppBarButton is. Should we add some code in the closed event to iterate over all the primary and secondary commands, and check if those are buttons, and hide the flyout

[2020-08-04 21:01] Going-Gone opened #3047 "How do you increase the text size in the TabViewItems header?"
I set
FontSize to a number, and the size stays the same. Is there something I'm missing?

`FontSize="500"`

[2020-08-04 21:07] Felix-Dev commented on #3047
@Going-Gone You can override the `TabViewItemHeaderFontSize` theme resource to set the FontSize for the header.

@StephenLPeters Should we template bind the TabViewItem's `FontSize` property here to its internal ContentPresenter?

[2020-08-04 21:20] chingucoding commented on #340
An additional motivation to move to MSTest only, is that we could safely start using DataTestMethods, to make it easier to write parameterized tests.

[2020-08-04 22:37] StephenLPeters commented on #3047
Yup, I agree. We need to be better about remembering to bind these inherited properties. @ranjeshj

[2020-08-04 22:44] #2520 closed

[2020-08-04 23:03] StephenLPeters commented on #3046
@llongley FYI

[2020-08-04 23:05] StephenLPeters commented on #3045
@fabiant3 fyi

[2020-08-04 23:10] StephenLPeters commented on #3043
@teaP can you weigh in on the two pain view API surface? I think you need to set some of the PaneConfiguration properties, but looking at the API it isn't obvious to me

[2020-08-04 23:10] StephenLPeters commented on #3043
@predavid-zz FYI

[2020-08-04 23:17] StephenLPeters commented on #3038
@VijayanRamachandran given Robloo's correct response, can you clarify what wpf feature you are missing?

[2020-08-04 23:18] StephenLPeters commented on #3037
@VijayanRamachandran does rob's response satisfy your requirement?

[2020-08-04 23:23] StephenLPeters commented on #3036
We have similar controls available in Winui or the Windows Community toolkit.

TabControl -> TabView/Top Navigation View
ToolBar -> CommandBar
DataGrid -> published in the Windows Community Toolkit
HeaderedContentControl -> published in the Windows Community Toolkit

If these are not sufficient we'd like to know why.

[2020-08-04 23:23] #3036 closed

[2020-08-04 23:25] StephenLPeters commented on #3035
@MikeHillberg FYI

[2020-08-04 23:27] StephenLPeters commented on #3034
I think XamlReader is available.. @fabiant3 ?

[2020-08-04 23:29] StephenLPeters commented on #3033
@VijayanRamachandran does Function binding solve your use case?

[2020-08-04 23:29] StephenLPeters commented on #3033
As a note, x:bind is not available in control templates so function binding is not possible from a template.

[2020-08-04 23:31] StephenLPeters commented on #3047
@MikeHillberg is FontSize Inherited? Should we need to template bind this to the template parts?

[2020-08-04 23:36] StephenLPeters commented on #3047
@Felix-Dev I think that the FontSize is intended to propagate to the tab's content, and the perscribed way of setting the header font size is through that light weight style.  If so, template binding the font size property to the header would be incorrect.

[2020-08-04 23:51] MikeHillberg commented on #3047
FontSize inherits, but a lot of controls set it in their default style, which will override anything that comes from a parent.

[2020-08-04 23:56] MikeHillberg commented on #3034
Yes, there is a [XamlReader](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Markup.XamlReader). There's no plan for a feature to serialize to Xaml (XamlWriter).

[2020-08-05 00:25] robloo commented on #3045
How would this be different from the asset generator built into visual studio for UWP apps? (Package > Visual Assets > Asset Generator) I always just specify an SVG and have it generate all the required sizes. This was added to solve this specific problem as far as I recall.

[2020-08-05 00:38] maxkatz6 commented on #3045
Must be related https://github.com/microsoft/ProjectReunion/issues/132

[2020-08-05 03:17] jevansaks commented on #1954
It appears that there's some kind of expectation of how we're supposed to handle the return value of DataTemplate.LoadContent() -- we can't just discard the result like we are doing here.

The good news is that another workaround in addition to the IElementFactory approach is a DataTemplateSelector in place of the direct DataTemplate works as well.

We'll continue to investigate what's going on he

[2020-08-05 05:41] VijayanRamachandran commented on #3033
@Felix-Dev

Thanks for information. As you mentioned i will check function binding.

@StephenLPeters

Let me check that Stephen in our end and get  back here ( probably after another 2 to 3 days ) and thanks for the hint about x:bind not compatible with ControlTemplate.

[2020-08-05 05:51] VijayanRamachandran commented on #3037
@robloo

Thanks for quick feedback. I will go through the link which you shared.

@StephenLPeters

I will check the link and come back here Stephen in case if there is any more doubts related to it.

Thanks for the clarification.

[2020-08-05 08:03] ad1Dima commented on #3029
Some screenshots for context
![image](https://user-images.githubusercontent.com/3244664/89387432-abdad680-d72c-11ea-8b45-b2a7c1bcb4a1.png)
![image](https://user-images.githubusercontent.com/3244664/89387464-b4331180-d72c-11ea-9662-321d4f800a8c.png)
![image](https://user-images.githubusercontent.com/3244664/89387484-bb5a1f80-d72c-11ea-9c63-3117cc74eabd.png)

[2020-08-05 08:23] mrlacey commented on #3045
The current asset generator creates all the files so they exist on disk and are part of the project. MAUI/Resizetizer only generates them at build time. This keeps the project smaller and means that any new file sizes that are needed in the future can be created automatically.

[2020-08-05 09:10] Felix-Dev commented on #3047
@StephenLPeters It does not have any effect at all on the Tab's content from what I can see:
[code]
![image](https://user-images.githubusercontent.com/1398851/89392218-8a1c2800-d709-11ea-9e72-e4637034dc03.png)

I also think if we have the `TabViewItem.FontWeight` property affecting the TabViewItem's header, so should `TabViewItem.FontSize`. Anything else would be unexpected API behavior to me. Alt

[2020-08-05 10:22] VijayanRamachandran commented on #3038
@StephenLPeters @robloo ,

I overlooked about Colors.
Yes i noticed now that Colors is available in Microsoft.UI and i could use that.
I am sorry about that. It was my mistake that i overlooked.

Similar like Colors in Microsoft.UI, i was talking about whether Brushes is also available in WinUI in my initial query.

Thanks.

[2020-08-05 10:27] VijayanRamachandran commented on #3035
@Felix-Dev @robloo @StephenLPeters

As per the conversation i understand that it will take some time to unseal the classes. No worries. Let me wait for some more time till it is unsealed.

Thanks for the quick feedback.

[2020-08-05 10:52] VijayanRamachandran commented on #3040
@robloo @StephenLPeters

Thanks for the clarification and assignment.

[2020-08-05 13:59] Going-Gone commented on #3047
The TabView control has a FontSize property as well as the TabViewItem. Sort of confusing to what font it affect.

[2020-08-05 15:38] MikeHillberg commented on #3038
For brushes you need to use the constructor:

[code]

In markup you can use all the same values (ex 'red' or '#FF0000'), whether the property is a Brush or Color type.

[2020-08-05 15:52] robloo commented on #3045
Generating at build time -- or even better just using an SVG in the package -- sounds like a great idea.

[2020-08-05 16:48] Kcomid opened #3049 "My NavigationView Items background color doesn't revert to its unselected color when I change selections. I have been trying all kinds of styles and settings and can't seem to get this working correctly."
![3b846060e2ba92e999d5fcd873fa67cf](https://user-images.githubusercontent.com/60628566/89440318-0f570b00-d711-11ea-9c97-43ba5a1b908b.gif)

Current XAML:
[code]
Visual Studio 2019 Enterprise Version 16.6.5
Target version: Windows 10, version 1903 (10.0; Build 18362)
Min version: Windows 10, version 1809 (10.0; Build 17763)

[2020-08-05 17:29] StephenLPeters commented on #3047
Hmm, @Felix-Dev your points are convincing, as the other API's are currently set up I agree I would expect font size to effect the header.  Unfortunate then that we already have a resouce which is driving this. Template binding the FontSize property would break anyone that was using the resource to customize this...

[2020-08-05 17:30] StephenLPeters commented on #3047
@Going-Gone I agree the scenario is confusing... @Felix-Dev if you set the FontSize property on the TabView does it do anything? Does setting the FontFamily on the TabView propagate to all of the TabViewItems?

[2020-08-05 18:14] robloo commented on #3047
I don't think we should be afraid of making breaking changes to fix template bindings. It just requires calling out clearly at the top of the release in a breaking changes section what apps need to update. This is especially true since upgrading WinUI is optional.

More generally, accumulation of errors is a problem that makes things tricky to use 10 years in the future. I brought this up in the p

[2020-08-05 18:35] StephenLPeters commented on #3047
I agree this shouldn't block us fixing the issue. Just wanted to get the issue on the books.

[2020-08-05 18:44] KodWhat opened #3050 "Teaching Tip doesn't move with the target"
**Describe the bug**
When the control targeted with a Teaching Tip moves or changes, the Teaching Tip does not follow.

To note: A window resize will replace the Teaching Tip in the right place.

This might be related to #1609, where the Teaching Tip was repositioned on window resize but not on control move.

**Steps to reproduce the bug**
Here are three ways to reproduce :
1. Have a Teaching Tip

[2020-08-05 18:44] Felix-Dev commented on #3047
@StephenLPeters The existing resource (TabViewItemHeaderFontSize), while not needed any longer if we template bind FontSize, would not cause a breaking change, if I add
[code]
 to the style of the TabViewItem.

Will check TabView.FontSize behavior soon.

[2020-08-05 18:44] rectified95 opened #3051 "Checkbox border resource broken"
The resource controlling the checkbox border at rest and unchecked does not work - CheckBoxCheckBackgroundStrokeUnchecked.
Its peers: CheckBoxCheckBackgroundStrokeUncheckedPointerOver, and CheckBoxCheckBackgroundStrokeUncheckedPressed work properly. The result is that when I specify all 3, the border only appears when I hover over or press the checkbox.

XAML version: 2.3_2.32002

[2020-08-05 18:47] StephenLPeters commented on #3047
I think that is true, but it would break the propigation behavior of FontSize, maybe that is okay though..

[2020-08-05 19:17] chingucoding commented on #1880
I think this issue was fixed with the recent changes we made to the TabView automationpeer. This behavior is not reproducable in the MUXControlsTestApp anymore, so I think it's fine to close it now.

[2020-08-05 19:20] chingucoding commented on #1835
Is this issue still relevant given that we moved to only using KeyDown some time ago?

[2020-08-05 20:35] Felix-Dev commented on #3047
@StephenLPeters The TabView.FontSize is inherited by the ContentPresenter (TabContentPresenter) of the TabView:

[code]

![image](https://user-images.githubusercontent.com/1398851/89460813-32aea400-d76b-11ea-9f42-a790a5fdc361.png)

As for the propagation of TabViewItem.FontSize, I think it should be fine here because it is only used for the ContentPresenter of the TabViewItem's header. The TabView

[2020-08-05 20:49] StephenLPeters commented on #2040
@zhuxb711 I got some time and looked into this issue today.  The bug in CommandBarFlyout is caused by this [line](https://github.com/microsoft/microsoft-ui-xaml/blob/83b95302a4f0715be1f3ebcc8744b2cb2cc09dc1/dev/CommandBarFlyout/CommandBarFlyout.cpp#L274). Normally when we attach the close function to the secondary item's click events we ignore the buttons which have flyout to prevent the closing b

[2020-08-05 21:10] StephenLPeters opened #3052 "Invoking an item in a secondary command's flyout does not close the command bar."
Repro in this gif:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7758786/89464252-0112ea00-d725-11ea-97cd-15461013d588.gif)

The 95% solution here is to, if the flyout is a menu flyout, recursively iterate through the children attaching the CommandBar close function to the MenuFlyoutItem's click event, the MenuFlyoutToggleItem's toggle event, and recursing on MenuFlyoutSubIt

[2020-08-05 21:11] StephenLPeters commented on #2040
There is an additional issue where invoking a button from a flyout of a secondary command (with any input) doesn't close the CommandBar.  Fixing this will be a little bit trickier,  I've opened issue #3052 to track

[2020-08-05 21:12] Felix-Dev commented on #2908
@StephenLPeters Have you heard any concerns about moving `Common_themeresources` to the `CommonStyles` folder?

[2020-08-05 21:56] teaP commented on #3043
Since Pane1 has no content or min width, Auto sizing gives it 0px of width in wide mode. If you add content or set MinWidth you will find that it appears when the window is wide enough.

[2020-08-05 21:56] #3043 closed

[2020-08-05 22:23] StephenLPeters commented on #2908
I haven't heard concerns and I think updating it would make sense.

[2020-08-05 22:34] chingucoding commented on #2340
@jp-weber With #2584, the determinate mode for the ProgressRing was added back again (now with lottie animations!).

[2020-08-05 23:10] jtbrower commented on #3019
I may as well add that I have been seeing this warning since preview version 1 as well as the other two in this screenshot.  I hadn't reported them yet because I have been using .Net 5.0 preview 7 with WinUI and as we know, that's not the currently supported version.  Since there doesn't seem to be a way to have side-by-side installations of previews of .Net (that I am aware of) I didn't take the

[2020-08-05 23:21] StephenLPeters commented on #3050
It was a conscious decision to not have the teaching tip move with a target, primarily because we didn't have a good story for what to do with the teaching tip when the target was scrolled out of the view port. In that case it was causing the tip to look as if it were pointing at a different object.  Our designers also found that a moving teaching tip was very distracting and thus the guidance is

[2020-08-05 23:25] StephenLPeters commented on #3051
@rectified95 it would be super helpful if you could include the xaml you are using as well as some screen shots of the result.

[2020-08-05 23:29] StephenLPeters commented on #3049
@ranjeshj and @ojhad @llongley seems similar to the issue you saw a couple weeks ago.  @Kcomid I don't think you are doing anything wrong.. This is probably a bug in the Navigation View's VSM

[2020-08-05 23:34] jevansaks commented on #1954
So we understand the problem and it is a bug in DataTemplate::LoadContent. We will work to get a fix in WinUI3 for it but in the meantime we'll need some kind of workaround in ItemsRepeater. The only way I can see to work around it is that the element returned by LoadContent needs to be added to a UIElement collection. It can be immediately removed after it's added.

The other option is to reconsi

[2020-08-05 23:41] StephenLPeters commented on #1954
@jevansaks did you want to open a new issue for the Winui3 work and leave your context there or is it pretty much all here?

[2020-08-05 23:43] jevansaks commented on #1954
Yes @StephenLPeters  I'll create another issue for the DataTemplate::LoadContent bug, we can use this one to track the ItemsRepeater workaround.

[2020-08-05 23:44] StephenLPeters commented on #3047
hmm, in that case these font properties feel a bit broken, I suspect we have this issue in a few places across the framework..

[2020-08-05 23:45] jtbrower commented on #2961
@abhi-msft I found that for many reasons it was easier for me to just completely remove the Win32 titlebar and border and add my own custom implementation in XAML.  It's much easier to control all of the content, but turned out to be most important when it came to handling DPI changed events.  There is a potential issue that I have not reported yet, but it has been on my TODO to consider reporting

[2020-08-05 23:45] KodWhat commented on #3050
Thank you for your answer.
To add more details about my use case :
I develop a weather app where the side picture is shown when there is a forecast available (Connected to internet and City selected).
When these conditions are not met or if the window is too small, that picture is hidden.
I use the Teaching Tip as a way to indicate what's new in an update (at least for now), so I show it as soon a

[2020-08-05 23:53] StephenLPeters commented on #3050
@KodWhat Could I trouble you to open a Feature Request issue?  I think the feature request and the details in this issue are different enough that we shouldn't repurpose this.

[2020-08-06 00:01] jevansaks opened #3057 "DataTemplate::LoadContent returns an object with an extra ref count"
See #1954 for more information, but the problem is that DataTemplate::LoadContent returns an extra reference on the peer object that it retuns. LoadContent and XamlReader::Load do similar things but XamlReader::Load (in the LoadImpl method) calls UnpegNoRef() which takes care of this extra reference. LoadContent doesn't have this and as a result the object returned to callers has a ref count of 2

[2020-08-06 02:22] #375 closed

[2020-08-06 02:22] #1572 closed

[2020-08-06 02:55] XamDR commented on #1986
Adding to what @SuhasSrinivasan said. Will this bug be fixed any time soon? For end users, it's displeasing to have this visual glitch when using notepad-like apps.

[2020-08-06 03:36] ad1Dima commented on #2814
@StephenLPeters i guess this can be closed also

[2020-08-06 03:36] ad1Dima commented on #2813
@StephenLPeters i guess this can be closed also

[2020-08-06 03:36] tom-huntington opened #3058 "MediaCapture: Window Closes but not Process"
**Describe the bug**

This doesn't happen when `MediaCapture` is locally scoped, only when it's a member of my MainWindow.

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run in Debug mode
2. Click on the close caption button

**Version Info**

NuGet package version:

[Microsoft.WinUI 3.0.0-preview2.200713.0]

| Windows 10 version                  | Saw the problem? |

[2020-08-06 05:15] asklar commented on #2728
Ok I got around to trying this - this won't work because an exception is thrown later on that says:
Access denied.  Calling TransformMatrix API is not allowed on this object at this time, as this object currently has the ElementCompositionPreview.GetElementVisual property in use.

So it seems like TransformMatrix isn't usable with ElementCompositionPreview.GetElementVisual

[2020-08-06 08:49] jp-weber commented on #2340
@chingucoding  Oh great, thanks for the hint😃 Then I am looking forward to the next pre release.

[2020-08-06 08:49] #2340 closed

[2020-08-06 09:34] ad1Dima opened #3059 "Proposal:"
# Proposal: [your title here]

## Summary

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason for why we should consider this proposal}
* {etc}

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow

[2020-08-06 09:45] ad1Dima opened #3060 "Proposal: ShareUI should not be constrained by window size"
# Proposal: ShareUI should not be constrained by window size

Since Windows 10 1903 flyouts can be rendered outside of window. But ShareUI is constrained by window:
![image](https://user-images.githubusercontent.com/3244664/89517349-c633b380-d803-11ea-9218-e311b4e35b53.png)

ShareUI should be shown full sized offside of app window if nessesary.

[2020-08-06 09:45] #3059 closed

[2020-08-06 11:49] Felix-Dev commented on #2843
@chigy Do you have an update on this?

[2020-08-06 11:54] Felix-Dev commented on #2808
@MikeHillberg Your thoughts on @StephenLPeters' question above? If you want to add this to your NumberBox spec, how should we handle the implementation (seing as NumberBox.TextAlignment is [already being implemented](https://github.com/microsoft/microsoft-ui-xaml/pull/2901))?

[2020-08-06 12:10] CesGan opened #3061 "RichEditBox dont match Theme"
**Describe the bug**
If you load a text to a RichEditBox when the Theme is in Dark mode the text will be black.

**Steps to reproduce the bug**
1. Just use the App XAML Controls Gallery version 1.2.16.0 and go to the RichEditBox control.
2. Go to the third example where you can upload a text file.
![image](https://user-images.githubusercontent.com/43221114/89530180-f9ffe080-d7e5-11ea-9ba9-bf348419

[2020-08-06 12:17] KodWhat opened #3062 "Proposal: Manually refresh Teaching Tip's position"
# Proposal: Manually refresh Teaching Tip's position

## Summary
Allow developers to manually ask for a repositioning of a Teaching Tip when needed.

## Rationale
As mentioned in #3050, when a control moves, an open Teaching Tip doesn't follow the targeted control.
One way to resolve this issue would be to allow the developer to call a method to reposition the Tip.

Such a method seems to already

[2020-08-06 13:49] Felix-Dev commented on #2750
@YuliKl Just to clarify: The Overflow button of the CommandBar has a reveal background and a reveal border:
![image](https://user-images.githubusercontent.com/1398851/89538095-70a6d900-d7fa-11ea-919b-9de3d08c0e79.png)
![image](https://user-images.githubusercontent.com/1398851/89538224-99c76980-d7fa-11ea-8dee-e8498a1a4364.png)

The NavigationView Oveflow button has neither of them (and is also a bi

[2020-08-06 14:26] Felix-Dev commented on #2926
@YuliKl Do you have an update here about the brushes to use?

[2020-08-06 14:50] chingucoding commented on #1954
@jevansaks Your workaround works, with it, we don't have a memory leak due to that `LoadContent` call!

You can find the testcode I used here: https://github.com/chingucoding/microsoft-ui-xaml/tree/itemsrepeaterleak-testcode
Note that the API test is broken though, not entirely sure why.

[2020-08-06 14:53] Felix-Dev commented on #2653
@stmoy What is the status here? Are there still open questions or can we proceed with a PR for this issue (by following the outlined Scenario 1)?

[2020-08-06 14:54] jevansaks commented on #1954
Thanks @chingucoding ! Did you build a new test to verify this functionality? If not I'll continue my tinkering to build one.

Which API test is broken with this change?

[2020-08-06 14:56] chingucoding commented on #1954
Oh right, should have mentioned this. I've added both a test UI and tried to add an API test for this, which you can find [here](https://github.com/chingucoding/microsoft-ui-xaml/blob/bc0368b4845b8a09090117322e15dede931811aa/dev/Repeater/APITests/RepeaterTests.cs#L615).
However that test does not work as expected, maybe this is a timing issue?

[2020-08-06 15:01] jevansaks commented on #1954
Check out LeakTests.cs for API tests that verify leaks in C#. The problem is that you'll need to poke the GC to get the garbage collector to run and clean up the objects. Try adding this just before your last check:

[code]

[2020-08-06 15:27] chingucoding commented on #1954
Adding the snippet worked, the test works now as expected! If you like, you can use that test, if you want to create a PR for this issue 😄

[2020-08-06 15:32] jevansaks commented on #1954
You did all the hard work, you should create the PR! But I'm happy to create the PR if you'd prefer. :)

[2020-08-06 15:36] chingucoding commented on #1954
You were the one finding a fix for this issue not me, so feel free to create the PR :)

[2020-08-06 15:37] ranjeshj commented on #1954
m_isItemTemplateEmpty  flag is quite straightforward when we are passed in a DataTemplate. I suspect that when using a template selector, we don't know if the selected template is empty or not until much later. What if one of the templates is empty and the others are not. We cannot use the same logic (if m_isItemTemplateEmpty is true, we currently short-circuit measure and report zero desired size

[2020-08-06 16:28] chingucoding commented on #3027
@StephenLPeters @ranjeshj Mind if I update the file to include the (new) WinUI controls? It seems there are a few missing.

[2020-08-06 16:57] Felix-Dev commented on #2750
Should we also look at the selection indicator and update its margin/width? Below is a gif which shows the selection indicator in Top mode for NavigationView items with icon + content/icon only/content only + with/without expand/collapse chevron:
![navview-selectionindicator](https://user-images.githubusercontent.com/1398851/89559886-8aeeb000-d816-11ea-8c5f-bc32a8920ba8.gif)

[2020-08-06 17:01] codendone commented on #3013
The work to expose the CoreWebView2 WinRT APIs with its full capabilities is starting now ([internal task](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/27381901)). And, we have another more specific task to ensure NewWindowRequested works ([internal task](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/21173937)).

[2020-08-06 17:16] StephenLPeters commented on #2728
@asklar This is expected, we should probably add BackfaceVisibility as a Facade so you don't have to access it via ECP, but until then are you able to achieve your look using more ECP properties instead of TransformMatrix which is incompatible with ECP?

[2020-08-06 17:17] codendone commented on #3009
**OnRender:** The rough equivalent of **OnRender** is to create Composition visuals (SpriteVisual/etc.) and attach those to an element via ElementCompositionPreview.SetElementChildVisual(). You'd need to listen for any events which may require you to update those visuals, such as the element size changing.

The Composition APIs are limited on what they can render, though, so this does currently me

[2020-08-06 17:23] StephenLPeters commented on #2813
Fixed with #1997

[2020-08-06 17:23] #2813 closed

[2020-08-06 17:24] StephenLPeters commented on #2814
Fixed by #1997

[2020-08-06 17:27] codendone commented on #2992
This may be something we eventually support, but it will not be supported in WinUI 3.

The rendering integration we can currently achieve does not allow a transparent background to properly show rendering from other WinUI elements beneath the WebView2. We'd like to change how this works in the future, which would also allow for transparency, but this will require significant changes in both the Ed

[2020-08-06 17:39] StephenLPeters commented on #3027
That would be awesome!

[2020-08-06 17:55] StephenLPeters commented on #2750
The Gif you attached looks pretty good to me, is there something you are trying to call out as a point which could be fixed by adding that customization knob?

[2020-08-06 18:13] asklar commented on #2728
@StephenLPeters thanks! Using ECP BackfaceVisibility with ECP TransformMatrix seems to not crash, which is a great first step :), but I'm not sure how we can use this though, considering that we use the transform façade property for animating rotations etc., so I think the path forward is for winui to implement a backfaceVisibility façade as you mentioned. Do you see another path forward in the me

[2020-08-06 18:18] Felix-Dev commented on #2750
@StephenLPeters I was wondering if it is desired that the selection indicator also covers (parts of) the expand/collapse chevron and not just the icon and/or content string.

[2020-08-06 18:35] Felix-Dev commented on #3031
@StephenLPeters Should I wait then until we heard from the original team?

[2020-08-06 18:35] michael-hawker opened #3064 "[Feature] x:Bind should support general string indexers without interface in C#"
**Describe the bug**
The documentation for [x:Bind here in the 'path to the function' section](https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings#path-to-the-function) specifies:

However, it appears that non-integer based indexers, e.g. strings, are not supported?

I was trying to bind directly to a Graph function with the Windows Community Toolkit's `GraphPresenter`:

[c

[2020-08-06 18:43] michael-hawker commented on #3064
FYI @oldnewthing even showed a string indexer as an example in [his article here](https://devblogs.microsoft.com/oldnewthing/20200131-00/?p=103388) in the opening paragraph:

[code]

Thanks @chingucoding for the article link! 🦙❤

[2020-08-06 18:50] Felix-Dev commented on #3064
@michael-hawker As he quoted from the documentation, here's the official part: https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/x-bind-markup-extension#collections

[2020-08-06 18:57] michael-hawker commented on #3064
Thanks @Felix-Dev, @chingucoding just pointed me to that doc as well. I think the "functions in x:Bind doc" should link to the main article, I'll open up a doc issue about that.

So it seems like this is a feature request then as this is currently expected behavior as documented. Just not looking at the right doc... 😋

[2020-08-06 19:00] MikeHillberg commented on #2808
This is a great change. I'd love to aggregate these spec-wise in a single batch. @SavoySchuler's been getting that organized.

But could we get this to be the default behavior, rather than having to do it manually? Isn't the SmallChange property enough to auto-generate the tool tip?

[2020-08-06 19:04] chingucoding commented on #3061
I am not sure if this is actually a bug. Per default text is black, so on black background you don't see anything. Similarly, if you load a file with white text into a RichEditBox in light theme, you can't read the text either.

[2020-08-06 19:32] oldnewthing commented on #3064
As noted in the documentation, the collection must be mutable. But your indexer is read-only.

[2020-08-06 19:34] Felix-Dev commented on #2808
What if developers want to create their own description? For example, "Increase by 50 cent" where the SmallChange property would be 0.5 (instead of "Increase by 0.5")?

[2020-08-06 20:01] jevansaks commented on #1954
Acknowledged @chingucoding , I'll get the PR ready.

[2020-08-06 21:12] #2040 closed

[2020-08-06 21:12] #2979 closed

[2020-08-06 21:18] StephenLPeters opened #3066 "GettingFocusEventArgs.OldFocusedElement() returns null when focus wraps."
The GettingFocus event has event args which contain a pointer to the OldFocusedElement().  When focus is on the last element in the tab focus order and tab is hit, causing focus to move to the first element in the tab focus element the OldFocusedElement points to null.  We expect it to point to the last element in the tab focus order.

As a part of fixing this issue please remove the work around i

[2020-08-06 21:19] StephenLPeters commented on #3066
@marb2000 I'm hoping that you can confirm that this is a bug and not by design

[2020-08-06 21:20] StephenLPeters commented on #3066
this PR #3048 is a work around for this issue in RadioButtons

[2020-08-06 21:20] StephenLPeters commented on #3066
@Austin-Lamb FYI

[2020-08-06 21:39] vsfeedback opened #3067 "error MSB4181: The "CompileXaml" task returned false but did not log"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1125615/error-msb4181-the-compilexaml-task-returned-false.html)._

---
[severity:I'm frustrated, but able to complete my work] [regression] "worked-in:actual on July 9, 2020"
The studio breaks its teeth on this fragment:
[code]
When you try to assemble a project in any of t

[2020-08-06 21:42] stmoy commented on #2653
Thanks for the reminder - let me ping the team. The biggest question is related to "is this a breaking change, and if it is, should we hold off?" - it's a philosophical question so it is taking longer than I'd hope 😅

[2020-08-06 23:07] StephenLPeters commented on #3067
Could the author please provide a repro app?

[2020-08-06 23:16] StephenLPeters commented on #3061
Yeah, I think this is by design.  With RichEdit, the text color is associated with the text itself so when you copy black text into a text box its supposed to be black. The background is also black though so you get this behavior.  We could have xaml controls gallery be responsive to this scenario but I'm not sure that is worth it. @stmoy

[2020-08-06 23:19] StephenLPeters commented on #3060
@YuliKl can you route this to the right team?

[2020-08-06 23:19] stmoy commented on #3061
The bug reported here doesn't repro on other RichEditBoxes - just this specific one that attempts to emulate a text editor (and specifically sets the text color to black). I think it'd be reasonable to move this over to the XCG repo. @chingucoding did you add this sample? Maybe instead of setting the color to black, it could be set to a ThemeBrush instead?

[2020-08-06 23:21] StephenLPeters commented on #3058
I'm guessing this is a desktop app but I'm not sure.  @tom-huntington are you able to provide a repro app?

[2020-08-06 23:54] michael-hawker commented on #3064
@StephenLPeters I understand that this was not intended as designed originally, but this is still a feature request.

Is there a reason the collection needs to be mutable to support this feature? Can we get a few more details here? I know it'll still need WinUI 3 to be fixed most likely in the future, if possible.

Thanks!

[2020-08-06 23:57] StephenLPeters commented on #3064
Sorry the triage team interpretated the conversation differently.  We can reuse this as a feature proposal

[2020-08-07 00:07] #2379 closed

[2020-08-07 00:07] #3021 closed

[2020-08-07 00:10] zhuxb711 commented on #2542
Is there any solution? What is the cause of this problem?

[2020-08-07 00:21] StephenLPeters commented on #3031
I think @YuliKl is reaching out to them. I think there needs to be some research done into what different cultures expect their initials to be before we can be confident what the right solution for this issue is.

[2020-08-07 00:27] StephenLPeters commented on #2728
In my opinion, RNW should either never use a facade or never use ECP.  There are benefits and disadvantages to both, Facades are easier to use, they work better with the controls libraries which are also using them, and I think they have performance benefits as the xaml renderer can't make assumptions about a visual when ECP.GetVisual has been called.  ECP has the benefit of being more fully featu

[2020-08-07 00:33] StephenLPeters opened #3069 "Crash in Microsoft.UI.Xaml.dll!GridLayoutState::SetSize"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27718884?src=WorkItemMention&src-action=artifact_link).

Could be caused by the app in question using an older version of WinUI.

@ranjeshj thinks this is a dupe.

[2020-08-07 00:37] StephenLPeters opened #3070 "Crash in Microsoft.UI.Xaml.dll!ParallaxView::EnsureProperties"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27565766?src=WorkItemMention&src-action=artifact_link).

Potentially from an app using older versions of WinUI 2.

[2020-08-07 00:40] StephenLPeters opened #3071 "Crash in Microsoft.UI.Xaml.dll!VirtualizationInfo::UpdatePhasingInfo"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27186342?src=WorkItemMention&src-action=artifact_link).

Potentially from an app using older versions of WinUI 2.

[2020-08-07 01:20] ranjeshj commented on #3069
This is likely already fixed. This is currently not actionable due to the lack of crash dumps.

[2020-08-07 01:20] #3069 closed

[2020-08-07 03:07] maxkatz6 opened #3072 "Proposal: Ability to configure RatingControl precision"
# Proposal: Ability to select fractional value in the RatingControl

## Summary
In my application I need ability to select rating value from 0 to 10. Only one way to implement it with RatingControl is to set MaxRating = 10. But as side effect it will increase number of stars used as well as total control width.
I propose to add ability to set RatingControl selection precision, that will allow to s

[2020-08-07 05:15] VijayanRamachandran commented on #3038
@MikeHillberg

As you mentioned for brushes i will use the constructor and check it.

Thanks.

[2020-08-07 06:51] Suvarnnan opened #3073 "Question: FrameworkPropertyMetadata and FrameworkPropertyMetadataOptions missing ?"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls using FrameworkPropertyMetadata and FrameworkPropertyMetadataOptions for DP but equivalent implementation for WinUI is missing.

These implementations will be available soon in near WinUI Preview release ?

I am

[2020-08-07 06:52] Suvarnnan opened #3074 "Question: UIPropertyMetadata is missing ?"
Hi,

I am currently doing some prototypes migrating custom controls available in our end from WPF to WinUI.

During prototype I noticed that, in our end there are some WPF custom controls using UIPropertyMetadata for DP but equivalent implementation for WinUI is missing.

These implementations will be available soon in near WinUI Preview release ?

I am using right now
VS => Version 16.7.0 Preview

[2020-08-07 08:32] FrogsLegs opened #3075 "WinUI 2.2 UWP User Defined Themes Possible?"
Hi Team,

Great effort on the Fluent XAML Theme Editor, just a quick question from me regarding exporting the theme:

Is there a way to dynamically import user defined themes from Microsoft Fluent XAML Theme Editor into a `ResourceDictionary` inside a UWP project? E.g if a user wanted to create their own theme and "import" it into my app, what would be the most straightforward way to approach this

[2020-08-07 08:46] zhuxb711 opened #3076 "CommandBarFlyout animation effect direction is wrong"
**Describe the bug**
If CommandBarFlyout is set to expand to the bottom right, and the mouse click is very close to the right edge of window, CommandBarFlyout will automatically expand to the bottom left, but the expansion animation at this time still starts from the upper left corner

**Steps to reproduce the bug**
Create a commandbarflyout and expand

**Expected behavior**

From which corner it

[2020-08-07 11:07] VijayanRamachandran commented on #3073
Example for above query..

public static readonly DependencyProperty exampleDependencyProperty =
            DependencyProperty.RegisterAttached("example", typeof(string), typeof(xyz), new
            **FrameworkPropertyMetadata**(string.Empty, **FrameworkPropertyMetadataOptions.BindsTwoWayByDefault,**
            NotifyPropertyChanged));

or

public static readonly DependencyProperty exampleDepen

[2020-08-07 13:24] chingucoding commented on #3061
There are two things here:

1. When loading a RTF file, the RichEditBox not only copies the text, but also the font colors, resulting in a rtf file with black text not being readable on dark theme.
2. There were a few changes made to the samples to deal with the lighttheme on focus, which are not up to date anymore. I am working on reverting those changes and will create a PR for this soon.

Regar

[2020-08-07 14:07] ranjeshj commented on #2542
@zhuxb711 This looks like it might be caused by ScrollHeader (with sticky mode) control from the toolkit. It looks like that control is also moving the ScrollViewer content. If I remove the ScrollHeader, I am not able to repro this issue. @Michael-hawker as FYI.

[2020-08-07 14:36] zhuxb711 commented on #2542
@ranjeshj
After deleting A, indeed all the problems disappeared. But I still need sticky header.
Is there any workaround?

[2020-08-07 14:41] ranjeshj commented on #2542
This looks like the ScrollHeader control is a bit more aggressive than it needs to be. The fix would have to be in that control. I can't think of an easy way to workaround that.

[2020-08-07 14:56] ranjeshj commented on #3047
@stmoy as FYI.

[2020-08-07 14:58] ranjeshj commented on #3049
@Kcomid which version of WinUI are you using? There have been some recent fixes. Could you try the latest pre-release ?

[2020-08-07 15:06] ranjeshj commented on #1792
@chingucoding go for it. Is this an issue with the control or the app code ? I would not have expected to write app code to close the submenu items.

[2020-08-07 15:20] zhuxb711 commented on #3076
Not a bug, Sorry

[2020-08-07 15:20] #3076 closed

[2020-08-07 15:43] chingucoding commented on #1792
I think it's a grey area here. On the one hand, the CommandBarFlyout is not really aware of the flyout as the secondary commands open it, which in theory don't have to be a button, they could be anything that opens some form of flyout through the Button.Flyout property. In that case we literally have no idea how to close existing flyouts without walking the visual tree.

In the case of Button.Flyo

[2020-08-07 16:12] Kcomid commented on #3049
We are using Microsoft.UI.Xaml Version 2.4.2. I will try the pre-release and let you know. Thanks.

From: Ranjesh <notifications@github.com>
Sent: Friday, August 7, 2020 9:59 AM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: Mello, Jeanne <Jeanne.Mello@state.sd.us>; Mention <mention@noreply.github.com>
Subject: Re: [EXT] [microsoft/microsoft-ui-xaml] My NavigationView I

[2020-08-07 16:33] ranjeshj commented on #2401
@Felix-Dev The default style for FlyoutPresenter works, so I'm guessing that some combination of properties is causing this. You could start with the default style and start trimming it down from that (like below, I just added the corner radius properties on top of the default style)

[code]

[2020-08-07 16:53] ranjeshj commented on #3075
@kikisaints as FYI

[2020-08-07 16:57] Kcomid commented on #3049
I have tried the new prerelease and things seem to be working better. Do you know when this will be released? I can’t use the prerelease in my project. Thank you.

From: Ranjesh <notifications@github.com>
Sent: Friday, August 7, 2020 9:59 AM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: Mello, Jeanne <Jeanne.Mello@state.sd.us>; Mention <mention@noreply.github.com>
Subj

[2020-08-07 17:03] ranjeshj commented on #3071
No crash dumps available for this to make it actionable.

[2020-08-07 17:03] #3071 closed

[2020-08-07 17:06] ranjeshj commented on #3070
No crash dumps, so this is not actionable.

[2020-08-07 17:06] #3070 closed

[2020-08-07 17:11] ranjeshj commented on #3049
@Kcomid I don't have a timeline yet for the next stable release. Most of the team is focused on WinUI3 at the moment.

[2020-08-07 17:32] stmoy commented on #3047
Thanks for the CC - I'll add this to the small pile of "TabViewItem customization doesn't work quite right" issues 😉

[2020-08-07 17:38] stmoy commented on #3061
For #1, I don't think we should do any sort of shenanigans to the copied text in the sample. I think the absolute easiest thing would be to change the background color back to white just for this sample.

[2020-08-07 17:41] StephenLPeters commented on #3061
I think you would still hit this issue when loading an rtf file with white text. Maybe that is a little less common though?

[2020-08-07 17:47] YuliKl commented on #2926
@Felix-Dev I think we have the green light to use the same brushes in TreeView and ComboBox as the updated brushes you added for ListView.

[2020-08-07 17:53] stmoy commented on #3061
True, and probably. This isn't mean to be a proper editor, just a simulacrum of one. It's ok if the edge cases don't work.

[2020-08-07 17:55] chingucoding commented on #3061
If we change the background, we also need to adjust the foreground, foregroundhover, foregroundfocused ... values. I am not sure if we want to go down that road, especially as it suggest that you should use the RichEditBox with changed background and foreground values.

[2020-08-07 18:18] chrisglein commented on #3074
WinUI Preview's release will most closely match UWP XAML (aka the version of XAML that ships inbox with Windows). There is no immediate work planned to align with WPF although we do of course take proposals for feature requests (you can use the issue template for that, fill out your scenario and such).

[2020-08-07 18:18] #3074 closed

[2020-08-07 18:19] chrisglein commented on #3073
Similar to the question for #3074. Different API, but same answer. WinUI will not necessarily align with WPF at release or afterwards, however you may submit a feature request (see issue template) to do so.

[2020-08-07 18:19] #3073 closed

[2020-08-07 18:26] stmoy commented on #3061
With this change, can we close this issue? https://github.com/microsoft/Xaml-Controls-Gallery/pull/524

[2020-08-07 18:27] chrisglein commented on #3041
Seeing a bulk of UWP vs. WPF issues. For example #3074, #3073, #3040, and this. For all of these, these are totally valid requests. But we are coming at this from the perspective of moving UWP XAML out of of Windows into a separate thing. Changes to the UWP API have to be handled as such: changes. These changes have cost, so we need to be intentional about what we do when, so I'm sorry to ask that

[2020-08-07 18:27] #3041 closed

[2020-08-07 18:28] chrisglein commented on #3040
Have also left comments on #3074, #3073, #3041, please spruce this up with some scenarios/priorities and such by going through our feature proposal process. Sorry for the extra red tape, but it helps us frame these as changes in plan, not questions.

[2020-08-07 18:28] #3040 closed

[2020-08-07 18:30] chrisglein commented on #2944
The sample in question has actually been removed: https://github.com/microsoft/Xaml-Islands-Samples/blob/master/Standalone_Samples/CppWinRT_Basic_Win32App/Win32DesktopApp/HelloWindowsDesktop.cpp

[2020-08-07 19:03] Felix-Dev commented on #2401
@ranjeshj Thanks for taking another look. Looks like this style will do it:
[code]
![image](https://user-images.githubusercontent.com/1398851/89679427-5ac80f80-d8f1-11ea-976b-539eecb5111b.png)

[2020-08-07 19:38] nCastle1 opened #3077 "Question: Are differences between UWP/WinUI and WPF path rendering expected?"
I'm currently working on an app with UIs for both UWP and WPF (long story) and would like to use `Path`s for vector icons.

Based on my reading of [path markup syntax doc](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/move-draw-commands-syntax#design-tools-that-produce-move-and-draw-commands) the behavior should be the same as WPF.

In practice, I see very different results; of the ve

[2020-08-07 19:50] #1954 closed

[2020-08-07 20:02] llongley commented on #1792
Hey, thanks for offering to take this on!

One interesting thing I should note is that if you uncheck "Long animations disabled" in the test app's main page, the issue stops reproducing, at least for me - in that case, the MenuFlyout closes when the CommandBarFlyout closes.  So there may be an issue where we're assuming that an animation will complete somewhere before we close the child flyout.  W

[2020-08-07 20:21] chingucoding commented on #1792
That's a very good observation. As it turns out, when we disable long animations, this code does not get called: https://github.com/microsoft/microsoft-ui-xaml/blob/2ec9b1cdc15c3aa3d459b926f7e4888234b30387/dev/CommandBarFlyout/CommandBarFlyout.cpp#L158-L165

Adding an `commandBar->IsOpen(false);` as an else case fixes the issue. I'll create a PR for this soon.

[2020-08-07 20:25] groovykool opened #3078 "<PathGeometry Figures="M406.39,333.45l205.93,0" /> does not Build"
**Describe the bug**
<PathGeometry Figures="M406.39,333.45l205.93,0" /> does not Build

ERROR:
Cannot assign text value 'M406.39,333.45l205.93,0' into property 'Figures' of type 'PathFigureCollection'

Docs show it should work.
https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Media.PathGeometry?view=winrt-19041

**Steps to reproduce the bug**
Use XAML of this form: <PathGeometry Figures="m

[2020-08-07 20:28] stmoy commented on #3061
Closing per the above PR

[2020-08-07 20:28] #3061 closed

[2020-08-07 20:42] chigy commented on #2843
@Felix-Dev , I was waiting for @kikisaints for her response but she is on vacation at the moment.
Her respond pending, the right design style that match our guidance and existing control would to do acrylic and do 1px border which matches the color that we use on controls like MenuFlyout.

[2020-08-07 21:18] Felix-Dev commented on #2843
@chigy Thanks for the update. I will wait for @kikisaints then to give her view on this.

[2020-08-07 22:46] bsld opened #3080 "What is the second parameter of `Microsoft::UI::Xaml::Controls::IFrame::Navigate`?"
I don't understand it. If I implement my own object with `IInspectable`, `IUnknown` and `IAgileObject` it gets queried for some unknown for me `IID` and then it crashes.

What interface should I use here?

[2020-08-07 22:49] #151 closed

[2020-08-07 23:08] StephenLPeters commented on #3080
According to this [documentation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.frame.navigate?view=winrt-19041) it is "The navigation parameter to pass to the target page; must have a basic type (string, char, numeric, or GUID) to support parameter serialization using GetNavigationState."

[2020-08-07 23:12] StephenLPeters commented on #3080
Internally we QI for Windows.Foundation.IPropertyValue, It might work if you implement that as well.

[2020-08-07 23:14] bsld commented on #3080
@StephenLPeters Would I ask if I haven't tried? - The basic type of `IReference` first don't have a string interface exported in the idl (winmd) files second the one that are don't have an defined `GUID` so how can the `Microsoft::UI::Xaml::Controls::IFrame::Navigate` method know the object type passed to it? I tried implementing one of those interfaces with its get method but its never even calle

[2020-08-07 23:16] StephenLPeters commented on #3080
let us know if it works

[2020-08-07 23:16] bsld commented on #3080
Definitely.

[2020-08-07 23:18] StephenLPeters commented on #3078
@codendone is this correct path geometry syntax?

[2020-08-07 23:19] chingucoding commented on #3078
I think the term "move and draw commands" is ambigous here. On the one hand, the string format is being referred to as "move and draw commands" however, the following is also using move and draw commands:

[code]

I think if you want to set it from a string, you need to use `Path.Data`.

[2020-08-07 23:19] StephenLPeters commented on #3077
@codendone fyi

[2020-08-07 23:20] chingucoding commented on #3078
This article (https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/move-draw-commands-syntax) also has a section called "Using move and draw commands versus using a PathGeometry", so I think the pure string syntax is not expected to be passed to the PathGeometry Figures property.

[2020-08-08 00:25] groovykool commented on #3078
Why is this in the Class documentation?
*****
<PathGeometry>
  oneOrMorePathFigures
</PathGeometry>
-or-
<PathGeometry Figures="moveAndDrawCommands">
****

I can only interpret the last line as:       Figures="A STRING"

[2020-08-08 00:38] groovykool commented on #3078
It builds and works fine in a WFP app.

[2020-08-08 00:42] llongley commented on #3002
I believe this is a WinAppDriver issue.  I've ported this issue to their repo here:

https://github.com/microsoft/WinAppDriver/issues/1261

[2020-08-08 00:42] #3002 closed

[2020-08-08 00:43] groovykool commented on #3075
Follow the instructions here?

https://github.com/Microsoft/fluent-xaml-theme-editor

[2020-08-08 04:13] robloo commented on #3077
Looks like a bug,. Path rendering should be the same between WPF and UWP.

[2020-08-08 08:03] knat opened #3081 "Question: C++ Class Library(WinUI in Desktop) project template?"
Hi, I'd like to know how to create a C++ Class Library(WinUI in Desktop) project?

[2020-08-08 12:12] chingucoding commented on #522
Given that we switched to ItemsRepeater for NavigationView, and we also handle expand/collapse with regard to UIA correctly, I think this issue can be closed.

[2020-08-08 17:12] ad1Dima commented on #2607
Got this on ItemTemplateDemo page on master brunch: just scroll up and down first repeater.

Also got this on my own layout and on UniformGridLayout.

[2020-08-08 17:20] mqudsi commented on #2931
This is a regression from the previous release, `WebView2` is not getting the mouse scroll events (even with a regular mouse, ie not a touchpad).

If you hold down the left mouse button while scrolling, the events are received and the web view scrolls.

[2020-08-08 17:37] ad1Dima commented on #2607
Ok i make 100 layoucycle test page and it's this simple:
[code]

Even Exception doesn't appear. Only infinity measures

[2020-08-08 23:43] tom-huntington commented on #3058
Hi Stephen, yes its a desktop app. The bug only happens in debug mode. The process closes successfully when I start without debugging. Sorry I should have checked this first.

https://github.com/tom-huntington/MediaCaptureBug

The only changes to the template are:

[code]

[2020-08-09 04:23] torynfarr commented on #1500
Perhaps this is already possible, and I just don't know how to accomplish it yet... but how about: custom row or cell styling?

The ability to target a specific row, alter the background and the text color would be great.

[2020-08-09 08:01] chingucoding opened #3083 "TabView doesn't correctly respect OverlayCornerRadius not specified in App.xaml"
**Describe the bug**

Paste the following code into an app:

[code]

The expected result would be:
![image](https://user-images.githubusercontent.com/16122379/89727554-49345400-da26-11ea-96b7-38a0383bada3.png)

The actual result is:

![image](https://user-images.githubusercontent.com/16122379/89727541-2dc94900-da26-11ea-826f-47a428ef7c3b.png)

I think this is caused by the fact that bindings insid

[2020-08-09 09:42] Felix-Dev opened #3084 "Proposal: TabViewItem should respect CornerRadius API"
# Proposal: TabViewItem should respect CornerRadius API

## Summary
To set the corner radius of a TabViewItem, developers today have to override the `OverlayCornerRadius` resource. They should also be able to use the `TabViewItem.CornerRadius` API for that.

## Example
[code]
![image](https://user-images.githubusercontent.com/1398851/89729309-97e8ea80-da34-11ea-8133-735052aacec8.png)

## Additiona

[2020-08-09 11:08] mc0re commented on #2964
Please?

[2020-08-09 11:10] mc0re commented on #2803
And it looks like using the `Deferral` from a wrong thread doesn't do anything.

[2020-08-09 11:57] seven-mile opened #3085 "Make a NavigationViewItem bahave like a button when pressed and released"
# Proposal: Make a NavigationViewItem bahave like a button when pressed and released

## Rationale

Generally on Windows (even on other most platforms), a button is regarded as "clicked" and to execute its command if and only if the cursor is pressed on it and released on it,

which means after pressed, the cursor can move freely, as long as the cursor is on the button when released.

* I have to

[2020-08-09 13:53] kmgallahan commented on #3085
Already resolved via #2625 and available in the latest preview release.

Note that tabs in Chrome / new Edge are activated before release, which is likely the predominant form of navigation in Windows by a large margin.

Other places where navigation doesn't require a release would be OneNote for W10 top nav, classic Excel bottom nav, File Explorer top nav.

[2020-08-09 14:29] seven-mile commented on #3085
Sorry, I had tested with WinUI 3 Preview 2 (yesterday I tried WinUI3 for Win32, so I did it.). But that problem still exists. Did I miss something? I don't know... But since it has been solved, that should be OK!

Indeed. But its behavior is kind of counter-intuitive, haha. Maybe the best design is worth discussing a little further.

[2020-08-09 15:12] kmgallahan commented on #3085
I know it is resolved in the [latest WinUI 2.5 pre-release](https://www.nuget.org/packages/Microsoft.UI.Xaml/2.5.0-prerelease.200708003). I'm not sure if it was pushed to the latest WinUI 3 preview yet or not. @RBrid

[2020-08-09 15:50] Felix-Dev opened #3086 "NavigationView: The OverflowMenu button will not collapse when the overflow menu only contains one item and NavigationView menu items are removed to empty the overflow menu"
**Describe the bug**
When the top NavigationView's overflow menu only contains a *single* menu item and
* either removing that item or
* removing menu item(s) to create enough room for the overflow menu item be displayed in the NavigationView pane area

will not collapse the OverflowMenu button (even though the overflow menu is now empty):

![navview-overflowmenubutton](https://user-images.githubu

[2020-08-09 19:00] bsld commented on #3080
@StephenLPeters I don't understand where to register said class I'm passing the metadata for. I tried dllgetactivationfactory but it doesn't seem to affect anything.

[2020-08-09 22:04] chingucoding commented on #3086
I think the issue here is that we simply forget to reevaluate the overflow menu situation when the list of NavigationViewItems changes.

[2020-08-09 22:05] Felix-Dev commented on #3086
@chingucoding Yes, I am already working ona  fix for this issue.

[2020-08-09 22:50] chingucoding commented on #3052
I would like to work on this issue, if nobody else is currently working on this.

[2020-08-10 00:27] shaheedmalik commented on #3085
A bunch of the updates on 2.5 haven't gone to WinUI 3.0 yet.

[2020-08-10 07:02] asierpn commented on #2032
@chingucoding we use a similar approach to improve the feel when navigating to a new created page, but this issue happens when you navigate to a cached page with a large visual tree, in this case navigation freezes despite of all controls of the page are loaded.

[2020-08-10 08:17] Jaiganeshkumaran commented on #3060
@ad1Dima Share UI isn't a WinUI flyout. It shown by the Windows Shell.

[2020-08-10 08:21] ad1Dima commented on #3060
True, but it is UWP-app. And WinUI team are working on UWP too.
I don't know where i can post issue on Windows Shell

[2020-08-10 08:28] Jaiganeshkumaran commented on #3060
@ad1Dima Share UI can be used in desktop too even without WinUI. You can keep this here itself because Microsoft is more active on GitHub these days rather than Feedback or Microsoft Tech Community.

[2020-08-10 16:42] RBrid commented on #3085
That is correct - for instance the #2625 fix has not been pushed into WinUI 3 yet. Thanks.

[2020-08-10 17:12] kikisaints commented on #2843
I believe less than 32x32 on both axes was the issue. If this new suggestion is bigger than 32 on either axis, it should be fine.

It's also not that we can't do it, it's more that something that small is spending a lot of cycles/performance to render something that's virtually undetectable. So if we feel this acrylic surface (which is in-line with the guidance by being a popup) is actually notice

[2020-08-10 17:26] Felix-Dev commented on #2843
@kikisaints The popup spin buttons are currently of size 40x32 (WidthxHeight): https://github.com/microsoft/microsoft-ui-xaml/blob/9b5509d02d1c8d074dbe6b0705d5893bfa87a7d4/dev/NumberBox/NumberBox.xaml#L194

I will hopefully be able today to create another screenshot showing how the design will look with the guidance given by @chigy.

[2020-08-10 19:08] venklar commented on #2428
This issue is listed under Preview 2's known issues and limitations ("No visual designer"). Can anyone advise on current status?

[2020-08-10 23:07] StephenLPeters commented on #3084
@stmoy fyi

[2020-08-10 23:15] StephenLPeters commented on #3081
I *think* you can just use a UWP c++ class library here. This should work because for c++ we go through the winmd's and there shouldn't been any difference between how you reference the dll. (where as with c# we reference the DLL directly and in that case we need a different UWP and Desktop project.)  @llongley and @alwu-msft FYI

[2020-08-10 23:21] YuliKl commented on #3085
This appears to be a WinUI 3 problem. WinUI 2 is already working as described here (and expected).

[2020-08-10 23:24] alwu-msft commented on #3081
"Class Library" is a .Net concept; you're probably thinking of a "Windows Runtime Component" project. We don't have one yet for C++ WinUI in Desktop, but it is part of our plans for WinUI 3.0.

[2020-08-10 23:25] Felix-Dev opened #3090 "Proposal: Add Windows app type (UWP/Desktop) question to bug report template for WinUI 3"
# Proposal: Add Windows app type (UWP/Desktop) question to bug report template for WinUI 3

## Summary
Since WinUI 3 Preview 1 has been released we have seen WinUI 3 issues being created for either WinUI 3 Win32 apps or WinUI 3 UWP apps. Take for example the recent issue https://github.com/microsoft/microsoft-ui-xaml/issues/3058 where the used WinUI 3 Preview version was specified but the informat

[2020-08-10 23:31] #1792 closed

[2020-08-11 00:04] ranjeshj commented on #3085
I suspect this is a point in time issue that should be fixed with the next merge of WinUI2 into WinUI3.

[2020-08-11 03:05] knat commented on #3081
A C++ Windows Runtime Component(WinUI in UWP) project cannot be referenced by a C# WinUI desktop app project:
[code]
I'd like to see C++ Windows Runtime Component(WinUI in Desktop) project template to be added in the next release.

[2020-08-11 04:09] bsld opened #3091 "WebView2 crashes my UWP app"
**Describe the bug**
`WebView2` suddenly crashes my UWP app. It worked before.

**Steps to reproduce the bug**
Create a new C++/WinRT WinUI 3 UWP blank app and add `WebView2` in the main page.

**Expected behavior**
Not crash.

**Screenshots**
![image](https://user-images.githubusercontent.com/16734426/89856097-fc28bd00-dba0-11ea-84d6-fb32a2501f8a.png)

**Version Info**

NuGet package version:

Mi

[2020-08-11 05:51] Austin-Lamb commented on #2956
At this time we don't support transparency in WinUI 3's background (for islands, desktop or UWP), but we are discussing adding that at a later time to at least Win32.

@smk2007 - there are two kinds of transparency, output and input.  Would you want output transparency (can see through to what's below), or also input transparency (input seamlessly flows through to what's below the transparent pixe

[2020-08-11 05:53] Austin-Lamb commented on #2681
@carlos-zamora - I don't expect we'd resolve this until WinUI 3 (or later).  Is this ok for Windows Terminal?

Do you know if this repros with WinUI 3 Preview 2?

[2020-08-11 05:54] Austin-Lamb commented on #2408
Thanks for reporting this - we are investigating, and think we may have a possible fix, but we'll do more testing.

[2020-08-11 05:55] Austin-Lamb commented on #2335
@ranjeshj - I don't know what VS extensibility supports, but I believe that at least some parts of the extensibility story rely on WPF (at least, some extensibility interfaces begin with "IWpf."

Recommend we move this ticket to the Visual Studio team's feedback system.

[2020-08-11 06:04] marb2000 commented on #2335
Agreed. Please, move this to Visual Studio team.

[2020-08-11 17:35] Felix-Dev opened #3092 "TreeView: Drag&Drop operation does not update selection state of affected parent items"
**Describe the bug**
Given a TreeView in multi-selection mode, drag&drop operations do not update the selection state of the affected parent nodes when dropping the selected items into a new node:

![treeview-multiselection-issue](https://user-images.githubusercontent.com/1398851/89929180-2ca44180-dc09-11ea-98a4-8be1f52acc8c.gif)

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1.

[2020-08-11 17:39] StephenLPeters opened #3093 "TabViewTests.GamePadTest is unreliable on RS2"
We've had a number of PR runs fail due to this test being unreliable. I've chosen to disable the test until we can come to a solution to make it more reliable.

[2020-08-11 17:41] smk2007 commented on #2956
I would like both :)

My scenario is that I would like most of the interaction to happen with the win32 window which controls a real time rendered dx app.

The underlying window renders a dx app with a real time loop. I want to add a XAML overlay so that it seamlessly integrates with the rendered content below. In order to do that we are experimenting with full screen overlays and chrome that fram

[2020-08-11 17:43] StephenLPeters commented on #3093
PR #3094 disables the test

[2020-08-11 17:49] #3003 closed

[2020-08-11 17:50] #1722 closed

[2020-08-11 18:10] kmahone commented on #340
We are fairly unlikely to ever move away from TAEF. It would be more likely that we would consolidate on TAEF (after getting them to work from within VS) and get rid of MSTest. One reason for this is that WinUI3 has thousands of tests, all written in TAEF and it would not be feasible to port them to MSTest.

[2020-08-11 18:22] Felix-Dev opened #3096 "TreeView: Dragging and dropping a selected item in single selection mode causes the item to be unselected"
**Describe the bug**
Given a TreeView in single-selection mode, dragging and then dropping a selected item causes the item to be unselected:

![treeview-singleselection-issue](https://user-images.githubusercontent.com/1398851/89933144-f10c7600-dc0e-11ea-85cb-78ccd1d1a34d.gif)

I view this as a bug. A drop should not cause the selected item to be unselected. In fact, it works as expected in multi-s

[2020-08-11 19:01] MarissaMatt commented on #2234
@niels9001 I apologize for the very late response to this proposal but would the scope of this proposal be to only have a way to include a progress ring to a button control? Or would this expand to have the progress ring be added to controls where a user would need to download or upload something?

[2020-08-11 19:11] MarissaMatt commented on #2802
@ratishphilip we are also considering adding support for markers or animation segments so you can control which part of the animation is played when a user interacts with it by hovering or press. Would support for multiple layers be to handle scenarios where the animation would need to respond to different interactions an end user could have?

@mdtauk that is a very good question. We are also cons

[2020-08-11 19:13] MarissaMatt commented on #2930
@mdtauk I am working with design to figure out the best solution for this issue but I just wanted to let you know I am looking in to this!

[2020-08-11 19:30] mdtauk commented on #2802
The ability to assign a colour which would make use of the Accent Colour shades that the XAML resources provide.

A way to specify the starting frame of each animation state, maybe with a marker or label.

The icons should probably be made "Fluent Icon" ready, should the MDL2 icons be replaced in the future.

Also will it be possible to tie the animation to things other than clicks, like dragging

[2020-08-11 19:39] niels9001 commented on #2234
This proposal is about adding a progress ring into a Button (and maybe @AppBarButton as @harvinders pointed out).

[2020-08-11 19:57] Felix-Dev opened #3097 "TreeView: Drag and drop of an unselected item should not drag and drop selected items"
**Describe the bug**
Given a TreeView in multi-select mode, a drag and drop operation for an *unselected* item should not drag and drop the *selected* items. Here are two examples showcasing the current behavior:

#### Example 1
![treeview-multiselection-unselecteditem-draganddrop-issue-1](https://user-images.githubusercontent.com/1398851/89941521-6c742480-dc1b-11ea-99a9-bb2856d1944d.gif)

#### Ex

[2020-08-11 20:38] ratishphilip commented on #2802
@MarissaMatt Yes that is the intended purpose for the layers. Another thing to consider would be to not to play the animation if the layer is hidden.

[2020-08-11 20:44] ranjeshj commented on #3090
Thanks @Felix-Dev for opening this issue.
We are currently labeling issues with appropriate tags during triage.

We could add these
WinUI2 vs WinUI3 (currently specified through nuget package used).
If using WinUI3, Is it UWP or Desktop

@Austin-Lamb @MikeHillberg any other details you can think of that would be useful to collect when issues are filed ?

[2020-08-11 21:09] sjb-sjb opened #3099 "TreeView expand node doesn't work for non-visible nodes, causing inconsistent state."
When using the new TreeView control in UWP, expanding of nodes only works if the node is visible in the window. For example, if you expand a root node that has many children (too many to fit vertically in the window) using TreeView.Expand( rootTreeViewNode) and then expand the following root node in the same manner, the following root node will not show as expanded in the tree. This has many bad c

[2020-08-11 21:11] chingucoding commented on #3050
Given that there is #3062, is there any benefit in keeping this issue open or can we close it?

[2020-08-11 21:21] ranjeshj commented on #2335
@eluchsinger  could you please file the issue through VisualStudio's "Help/Send Feedback/Suggest a Feature" ?

[2020-08-11 21:21] #2335 closed

[2020-08-11 21:46] chingucoding commented on #2762
Given that #1997 was closed, and I can't seem to repro this with the hierarchical databinding test page, I think we can close this issue.

[2020-08-11 21:56] MarissaMatt commented on #2234
Thank you @niels9001! This sounds more like a potential control that would fall under button so I assigned @kikisaints to look at this more.

[2020-08-11 22:02] Felix-Dev commented on #2814
Hmm, not sure what happened here but I can still repro that on newest WinUI master builds:

![navview-toplevel-selecteditem-display-issue](https://user-images.githubusercontent.com/1398851/89953237-fa0d3f80-dc2e-11ea-928a-6acbfc6bdb27.gif)

The expected result would me that Menu Item 29 is visible and selected when switching back to top navigation after selecting its child item.

[2020-08-11 22:08] mdtauk commented on #2234
The content of the button should probably change between the Rest, Loading, and Loaded states - it would be useful if this content could be set in XAML, and not require code behind to change the content strings.

[2020-08-11 22:08] chingucoding commented on #2137
Closing this, as the changes were made.

[2020-08-11 22:08] #2137 closed

[2020-08-11 22:09] chingucoding commented on #2234
Yes, totally agree with @mdtauk . I think having a RestContent, LoadingContent and LoadedContent property or something like that is the easiest way for developers.

[2020-08-11 22:32] mdtauk commented on #2234
![example loading button 1](https://camo.githubusercontent.com/f0b8dd151dc2026ccb5176083d81bd1ee3e71273/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6174686965756475746f75722f72656163742d70726f67726573732d627574746f6e2f6d61737465722f6578616d706c652f64656d6f2e676966)

![example loading button 2](https://user-images.githubusercontent.com/6943919/55510393-97686480-5634-11e9-8676-af96d39306df.gif)

[2020-08-11 23:06] StephenLPeters commented on #3099
@sjb-sjb Why are you changing the Microsoft to Windows in your repro examples?  The TreeView that is check into the OS is quite old, we have made a large number of fixes since then and this issue has likely already been fixed in the Microsoft.UI.Xaml version.

[2020-08-11 23:08] MarissaMatt commented on #2802
@mdtauk yes we are looking to handle button, toggle, and slider scenarios but the slider scenario is one we are still trying to work through. When you create Lottie animations do you use markers or labels to indicate each segment?

Could you go in to more detail on the color scenario you mentioned? I am thinking about colors in regard to making sure the icons respond to theming scenarios but I am

[2020-08-11 23:09] StephenLPeters commented on #3097
@predavid-zz FYI. @Felix-Dev I agree with your Expected Behavior

[2020-08-11 23:11] StephenLPeters commented on #3097
Open question: How should this work with non leaf nodes for all 3 selection states, unslected, partially selected (some, not all children selected), and selected.

[2020-08-11 23:11] mdtauk commented on #2802
@MarissaMatt  When the Progress Ring and Progress Bar controls updated to use Lottie animations, they made it possible for the animation shapes to use the Accent Colour, so it adapts to match the user's chosen colour.  This also allows it to adapt for Light and Dark themes.

I think they made changes to the generated code to do this, but it would be good to be able to set this at design time withi

[2020-08-11 23:13] StephenLPeters commented on #3096
Single selection we are inheriting from list view and multi select we rolled our own solution, so i'm not surprised there is differences.  Interestingly list view does keep selection during drag and drop, so we must be doing something to affect it.

[2020-08-11 23:15] StephenLPeters commented on #3092
@predavid-zz fyi

[2020-08-11 23:18] #3085 closed

[2020-08-11 23:23] StephenLPeters commented on #3081
@alwu-msft FYI

[2020-08-11 23:28] JustinXinLiu opened #3101 "Proposal: Make Icon of NavigationViewItem templatable"
# Proposal: Make Icon of NavigationViewItem templatable

## Summary

Make `Icon` a type of `object` that can take any element, and add an `IconTemplate` property that allows for full customization. The max width of the `Icon` element should respect the value of `CompactPaneLength`.

## Rationale

* The current `Icon` property only accepts elements of type `IconElement`, which limits its usage.

##

[2020-08-11 23:55] alwu-msft commented on #3081
@Scottj1s Is automatic generation of the interop assembly by CsWinrt for referenced .winmds in the works?

[2020-08-12 00:38] kmelmon opened #3102 "Pointer Replay feature is busted in XAML Islands scenario"
This bug was discovered by Facebook through react-native-windows.  See tracking bug:
https://github.com/microsoft/react-native-windows/issues/5671

The "pointer replay" feature replays the last valid pointer message whenever layout changes, so that these types of scenarios can work:
-The mouse is over an element
-The layout changes in such a way that the element moves
-The mouse does not move
In t

[2020-08-12 01:39] h82258652 opened #3103 "Proposal: [Missing API] Storyboard.GetIsPaused method"
# Proposal: Add ```GetIsPaused``` method to ```Storyboard```

## Summary

This API exists in WPF and it is missing in UWP.

## Rationale

In the WPF behaviors SDK, the ```StoryboardAction``` use ```GetIsPaused``` to detect the Storyboard is playing or paused. [link](https://github.com/microsoft/XamlBehaviorsWpf/blob/master/src/Microsoft.Xaml.Behaviors/Media/StoryboardAction.cs#L109)
But in the UWP

[2020-08-12 06:29] Psykobal opened #3104 "TabView throw ArgumentOutOfRange exception when TabItemSource is cleared"
**Describe the bug**
If you clear an ObservableCollection attached to TabItemsSource, app will crash with ArgumentOutOfRangeException

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open XamlControlsGallery project
2. Modify `private void TabViewItemsSourceSample_AddTabButtonClick(TabView sender, object args)` in TabViewPage.xaml.cs as follow:
`myDatas.Clear();`
 `// Add a new

[2020-08-12 06:44] bsld opened #3105 "'Failed to assign to property 'Microsoft.UI.Xaml.Controls.UserControl.Content'"
I'm trying to implement my own metadata provider and for now it's working good - it looks like the respective functions are called (i.e. for my App.xaml, MainPage.xaml, WebView2 component initialization , WebView2 Source property setting). However for said WebView2 control I'm getting the above error. Any ideas what is the common issue for this problem and how to fix it?

[2020-08-12 09:10] Felix-Dev commented on #3104
I would like to take a look at this if nobody else is already looking into it.

[2020-08-12 10:03] roonius opened #3106 "Unable to reorder tabitems in tabview winui 3"
**Describe the bug**
We were able to reorder tabitems in tabview in winui 2.4
Same application in winui 3 preview 2 displays "negative" sign
**Steps to reproduce the bug**
Create a tabview with 'CanReorderItems" property set to true
Add few tabitems
Try to reorder them

**Expected behavior**
TabItems reordered as in WinUI 2.4

**Version Info**
WinUI 3 Preview 2 Windows 10

[2020-08-12 10:45] SetTrend opened #3107 "Proposal: Accept icon font glyphs and SVG for notification button images"
# Proposal: Accept icon font glyphs and SVG for notification button images

## Summary
Currently, [according to documentation](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/adaptive-interactive-toasts#buttons-with-icons), a [ToastButton](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.notifications.toastbutton) only accepts rasterized images fo

[2020-08-12 11:41] LilyStilson opened #3108 "SplitView inline pane does not have animation with right placement"
**Describe the bug**
*Microsoft Docs sent me to this repo*
When `<SplitView />` Pane `PanePlacement="Right"` and `DisplayMode="Inline"`, animation when Pane opens or closes does not work.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a new UWP project with Blank page
2. Add following code to the `<Grid />` component on this page
[code]
3. Press **Toggle Pane** button a

[2020-08-12 12:12] ad1Dima commented on #3107
You can use several images for different scale https://docs.microsoft.com/en-us/windows/uwp/app-resources/tailor-resources-lang-scale-contrast

[2020-08-12 12:30] SetTrend commented on #3107
Indeed, yet they are unnecessarily bloating the assets folder with variations a font glyph or SVG provides automatically per definition.

[2020-08-12 12:59] Felix-Dev opened #3110 "Proposal: Split up TreeView's interaction test file into multiple files"
# Proposal: Split up TreeView's interaction test file into multiple files

## Summary
The TreeView's [interaction test file](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TreeView/InteractionTests/TreeViewTests.cs) currently consists of nearly 3000 lines and 88 interaction tests (and additional private methods).

As done with other interaction test files like the [NavigationView t

[2020-08-12 13:20] Felix-Dev commented on #3097
@StephenLPeters Below are my initial thoughts.

If a non-leaf node is started to be dragged while being
* Selected: Current behavior is that **all selected** items will take part in the drag and drop operation. No matter if they are child nodes of the dragged non-leaf node or not.

  I think we should keep that behavior as it is the same behavior we are seeing today when dragging a selected leaf n

[2020-08-12 15:32] SetTrend opened #3111 "Proposal: Improve Badge notification API"
# Proposal: Improve Badge notification API
I suggest to add two type-safe overloads for updating/setting tile/taskbar badge values.

## Summary
In order to support compile-time type checking and automated testing I suggest to add the following two uploads plus enumeration to the `Windows.UI.Notifications.BadgeUpdater` class:

[code]

## Rationale
Manipulating `XML` text doesn't seem either compile

[2020-08-12 15:36] Felix-Dev commented on #3111
@SetTrend I think [Project Reunion](https://github.com/microsoft/ProjectReunion) might be a better place for this issue (as the Badge APIs ae not part of WinUI).

[2020-08-12 15:37] SetTrend commented on #3111
Thanks for pointing me to the right direction. I'll drop the issue over there.

[2020-08-12 15:37] #3111 closed

[2020-08-12 17:18] StephenLPeters commented on #3097
The Selected and Unselected cases make sense to me.  I'm not sure about the Partially Selected case and would like to get some other people in the discussion.  @YuliKl @predavid-zz @ranjeshj

[2020-08-12 17:25] StephenLPeters commented on #2814
Dang, I'd say lets reopen the issue but looks like I never closed it.  Maybe my subconscious knew it wasn't resolved

[2020-08-12 17:26] StephenLPeters commented on #2762
Thanks!

[2020-08-12 17:26] #2762 closed

[2020-08-12 17:27] Felix-Dev commented on #3097
@StephenLPeters Would you currently be inclined to keep the existing behavior when dragging a partially selected node or do you have another possible suggestion?

[2020-08-12 17:29] StephenLPeters commented on #3050
I think that the two are slightly different.  But I think that we could potentially close this as 'By Design'. @ranjeshj are you okay with that?

[2020-08-12 17:33] StephenLPeters commented on #3097
I think there are a number of behaviors I could be convinced make sense; Treat it the same as the selected case, treat it the same as the unselected case, your suggestion, blocking drag and drop in this scenario.  I'm not confident I understand the space well enough to accurately choose the best solution.

[2020-08-12 17:42] AnFunctionArray opened #3112 "Expose `ICoreWebView2` in WinUI3"
## Summary
Allow something like `QueryInterface` from `Microsoft::UI::Xaml::Controls::IWebView2` to `ICoreWebView2`.

## Rationale
Features like `PostWebMessage` doesn't seem to be available under `Microsoft::UI::Xaml::Controls::IWebView2`, there only seem to be an option to add a handler for `WebMessageReceived`. I'm sure there are other features missing from it but those are of the top of my hea

[2020-08-12 18:03] ranjeshj commented on #3050
Looks like both are talking about similar issues. Lets dup this and add more details to #3062 if necessary. Thanks!

[2020-08-12 18:03] #3050 closed

[2020-08-12 19:26] jtbrower opened #3113 "Proposal: Remove Sealed modifier from RepeatButton"
# Proposal: Remove Sealed modifier from RepeatButton

## Summary
ButtonBase, ToggleButton, HyperLinkButton, DropDownButton, SplitButton and ToggleSplitButton, are all defined to be inheritable classes while RepeatButton is marked with the Sealed modifier.

## Rationale
It is beneficial when designing a user interface if you can subclass basic foundational types such as those that provide button fe

[2020-08-12 19:30] Felix-Dev commented on #3113
@jtbrower Your suggestion is part of proposal https://github.com/microsoft/microsoft-ui-xaml/issues/780 which as of now is still unclear when it will be acted upon. Make sure to make your voice heard in that issue as the team is monitoring how highly requested a feature this would be (everything unsealed).

[2020-08-12 19:35] jtbrower commented on #3113
@Felix-Dev sounds good, I will go ahead and close this out and provide feedback at #780

[2020-08-12 19:35] #3113 closed

[2020-08-12 19:38] jtbrower commented on #780
I am here to show support for as many unsealed classes as practically possible.  Virtual methods are always a huge plus too.

My main concern today is with respect to the RepeatButton.

ButtonBase, ToggleButton, HyperLinkButton, DropDownButton, SplitButton and ToggleSplitButton, are all defined to be inheritable classes while RepeatButton is marked with the Sealed modifier.  I will now need to re-

[2020-08-12 22:27] Felix-Dev opened #3114 "TabView: TabWidthMode set to Compact is ignored from XAML markup and for newly-added items when using data binding"
**Describe the bug**
The exact same issues reported in #2711 and #2724 also apply to the TabView when its tab items are supplied va data-binding:

#### XAML Markup issue
[code]
![image](https://user-images.githubusercontent.com/1398851/90073291-39a05e00-dcf9-11ea-9005-84af45438f70.png)

#### Adding an item to the bound data source:
![tabview-databinding-compact-issue](https://user-images.githubuse

[2020-08-12 23:03] anawishnoff opened #3115 "☎👩‍💻 August WinUI Community Call (August 19, 2020)"
The call has now finished, and you can watch the recording here: https://youtu.be/0SZWXDJaKYs!

Try out the WinUI 2.5 pre-release package and let us know what you think: https://aka.ms/winui2-prerelease

--------------------------------------------------------------------------------------------------------------------------------------------

### Details
Date: Wednesday August 19, 2020
Time: 16:0

[2020-08-12 23:16] bsld commented on #3115
OK my question is - would it be possible to expose `ICoreWebView2` in from `Microsoft::UI::Xaml::Controls::IWebView2` so we can do things like send web requests.

[2020-08-13 00:29] chingucoding commented on #3114
So you already have a fix for this issue at hand?

[2020-08-13 00:56] MarcoEnxuto opened #3116 "UWP PersonPicture gets cut when implemented on a NavigationViewItem"
Hello,
I already did this question, but i'm here because i told on Twitter i was going to open a question/issue or bug.
So until anyone claims this as a bug, i remain with a question.

_I'm implementing a navigation view with a login button, inside a NavigationView.
I would like to provide a good UI by placing the circular user photo on that button. In fact, it is a NavigationViewItem containing a

[2020-08-13 01:23] ZodmanPerth commented on #1465
Thank you @jtorjo for posting your pinvoke code, and @ptorr-msft for the lead.  For awareness, the pinvoke method throws Win32 exceptions when browsing certain folders (such as `C:\`; more details on [this Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/8279/why-does-findfirstfileexfromapp-throw-a-win32excep.html)).

This makes the pinvoke method unsafe to use for someone writing

[2020-08-13 01:40] tpxxn commented on #2845
The first time I chose sub-items instead of top-level items, I had this problem.

[2020-08-13 03:34] codendone commented on #3112
What you describe is indeed the plan. Quoting my comment in #3013:

The change will add a WebView2.CoreWebView2 property, which will return the CoreWebView2 WinRT object.

[2020-08-13 03:45] harvinders opened #3117 "NavigationView missing shadow when opening the panel in LeftMinimal mode"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open XAML Control gallary
2. Reduce the width of the application to make NavigationView go into `LeftMinimal` mode
3. Click on the hamburger menu to open the NavigationView panel
4. The panel shows the shadow, but it disappears after the panel is fully open

**Expected behavior**

Shadow to remain when the pa

[2020-08-13 05:05] jtorjo commented on #1465
@ZodmanPerth It's so sad. But I've gotten used to M$ just doing marketing instead of actual code, so it does not surprise me one bit.

Basically ALL of the issues I've filed in the last year - nothing has been fixed. So yeah, if you're writing a basic file-browser, it's pretty much "Mission impossible".

[2020-08-13 06:07] bsld commented on #3112
@codendone Thanks. I had an idea though - why not just allow `WebView2` to be queried for `CoreWebView2` directly instead of adding additional property.

[2020-08-13 07:13] LilyStilson commented on #3108
I found out that somebody already reported this issue, but it was closed with no resolve.
https://github.com/microsoft/microsoft-ui-xaml/issues/2392

The problem is that `<SplitView />` component style just does not have any `<VisualTransition />` for `<VisualState x:Name="OpenInlineRight" />`
![image](https://user-images.githubusercontent.com/42270214/90103983-ca714b00-dd86-11ea-8209-67e864559e8b

[2020-08-13 08:21] Felix-Dev commented on #3116
This is a duplicate of #2541.

@MarcoEnxuto A [fix](https://github.com/microsoft/microsoft-ui-xaml/pull/2717) is in the works and will hopefully be merged soon.

[2020-08-13 09:14] MarcoEnxuto commented on #3116
Hi, @Felix-Dev , sorry for the duplicate. By the title of issue #2541 i wasn't getting there but after reading everything, now i got it. Setting a margin of -6 is a thing that we need to implement? or it is also a bug in order to get the element aligned?
Thanks for your time.

[2020-08-13 10:14] Felix-Dev commented on #3114
@chingucoding Yes, my current implementation of a fix for this issue here (currently working on tests) also fixes issue #3104. Mentioned this above so that no one will invest time into specifically providing a fix for #3104 when a fix could already arrive with a PR for this issue.

[2020-08-13 12:02] chingucoding commented on #3117
I think the issue is that the shadow is exactly the same width as the pane, thus the shadow is hidden behind the pane:
Pane shortly before fully opened:
![image](https://user-images.githubusercontent.com/16122379/90132126-8887db00-dd6d-11ea-8bf9-daf0098d24b0.png)

Pane completely opened:
![image](https://user-images.githubusercontent.com/16122379/90132141-90477f80-dd6d-11ea-9049-8d1b85d680b3.png)

[2020-08-13 12:07] chingucoding commented on #3117
Also it seems that this is a regression (again): #1394 was filed in october last year and was fixed with #1398 .

[2020-08-13 15:43] MikeHillberg commented on #3090
This looks great, thanks @Felix-Dev!

[2020-08-13 17:05] Sergio0694 commented on #179
To follow up on this, after a conversation with @stevenbrix on Twitter, I've integrated the base `INotifyDataErrorInfo` implementation he provided [here](https://github.com/Microsoft/microsoft-ui-xaml/issues/179#issuecomment-601296844) into a new `ObservableValidator` class being included in the new MVVM Toolkit (the `Microsoft.Toolkit.Mvvm` library), which also implements `INotifyPropertyChanged`

[2020-08-13 17:42] Felix-Dev commented on #3097
@StephenLPeters I am starting to like the suggestion the actually blocking drag and drop for partially selected nodes. One reason being that if you drag such a node, the drag visual indicates you are actually dragging and dropping *this* node and thus on a successful drop placed it in a new position inside the TreeView. While this is indeed the case foth selected and unselected dragged nodes today

[2020-08-13 18:11] sis2004 opened #3119 "TreeView bound to ObservableCollection not updated on Move"
**Describe the bug**
When a TreeView has its ItemSource bound to an ObservableCollection, the tree doesn't get updated after calling the Move() method on that collection.

**Steps to reproduce the bug**
Here is a sample MainPage.xaml
[code]

And the code-behind MainPage.xaml.cs
[code]

Steps to reproduce the behavior:
1. Run the app.
2. Click on the 'Change List' button.

**Expected behavior**
Ite

[2020-08-13 18:27] ad1Dima commented on #1488
It seems it must be called NavigationViewItemProfile alongside with NavigationViewItemHeader and NavigationViewItemSeparator

[2020-08-13 18:29] chingucoding commented on #3097
I am not a fan of the partial selection blocks drag and drop idea. In selectionmode multiple, you would end up with a scenario where you aren't able to drag and drop a lot of child node.

In addition to that, I also find the current completely selected case a bit strange. What if I just want to drag and drop the children of a node? Do I really have to drag and drop one by one then? I think draggin

[2020-08-13 18:48] chingucoding commented on #3116
Setting a negative left margin is a workaround you can use now, but is not something that is expected to be used. Once #2717 gets merged and there is a new release with that fix in it, that negative margin is not needed anymore.

[2020-08-13 19:20] stmoy commented on #2653
CC: @StephenLPeters

One idea that was floated was moving the **unused** brush to a separate resource dictionary (like "DeprecatedResources" or something) so that it's still technically accessible while being in a place that clearly marks that it will be removed soon. This would be just another theme dictionary that gets merged in similar to TabViewThemeResources_RS1.xaml.

@Felix-Dev I think you'

[2020-08-13 19:32] Felix-Dev commented on #3090
Seems like I can create a PR then :)

[2020-08-13 19:44] chingucoding commented on #680
I think this was fixed with one of changes made to the NavigationView in the past few months, so we can probably close this.

[2020-08-13 20:13] ranjeshj commented on #2802
@mdtauk I agree, the colors should be exposed by the codegen so the developer does not have to do extra work here. @simeoncran and I discussed this a while back - Lottie code gen can expose the colors as brushes that can be bound to theme resources.

[2020-08-13 20:18] ranjeshj commented on #3102
@Austin-Lamb @ocalvo as FYI

[2020-08-13 20:22] ranjeshj commented on #3105
@alwu-msft as FYI. @bsld  could you provide a repro app ?

[2020-08-13 21:06] IrakliLomidze opened #3121 "Discussion: Do you think that it is too late to introduce a new UI Framework?"
Do you think that it is too late to introduce a new UI Framework?

In middle therm, Desktop application should go away. Every app in the future will be more or less web-based.
As I see the future, mostly desktop app will be converted to the web assembly.

Could you explain why to build another desktop framework for that short of time?

In my case, I have my legacy WinForm/WPF apps, and they need t

[2020-08-13 21:10] nerocui commented on #3115
Are there progress/decisions made in terms of [rust](https://github.com/microsoft/microsoft-ui-xaml/issues/2488) support?

Are there partners (internal or external) that are working with WinUI Team to use WinUI 3 in their apps?

[2020-08-13 21:54] Felix-Dev commented on #3116
@MarcoEnxuto @chingucoding There is indeed a reason why a negative margin has to be used here to visually align the Icont and Content of separate NavigationViewItems independently if #2717. See this screenshot:

![image](https://user-images.githubusercontent.com/1398851/90185173-931a9280-ddb6-11ea-98e4-2a11b86373ce.png)

What you see here are two NavigationViewItems with icon and content set ("Hom

[2020-08-13 22:13] Felix-Dev commented on #3101
One specific example where this would be helpful is developers wanting to show a *PersonPicture* element as the leftmost element of a NavigationViewItem (see [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2541) and [here](https://docs.microsoft.com/en-us/answers/questions/64597/uwp-personpicture-gets-cut-when-implemented-on-a-n.html?childToView=64821#answer-64821) for examples).

Due

[2020-08-13 22:37] chingucoding commented on #548
I am afraid, without WinUI 3 there isn't much we can do here. The CommandBarFlyout has the following event cycle with the repro code of this issue (note that opened doesn't even get raised):

1. Opening
1. Closing
1. Reopen
1. Closed

Even if we process the `ShowAt` in the CommandBarFlyout, the internal event cycle of Flyout seem to interrupt here and force to close that element. Even if we try to

[2020-08-13 22:47] #2805 closed

[2020-08-13 23:00] murilocurti commented on #673
A good point is that inline syntax will enable to configure the grid using Style Setters:

<Setter Property="ColumnDefinitions" Value="*,*,*" />

[2020-08-13 23:00] murilocurti commented on #2094
A good point is that inline syntax will enable to configure the grid using Style Setters:

<Setter Property="ColumnDefinitions" Value="*,*,*" />

[2020-08-13 23:15] StephenLPeters commented on #3116
@MarcoEnxuto If you feel like your question wasn't answered fully feel free to post here again.

[2020-08-13 23:15] #3116 closed

[2020-08-13 23:17] MarcoEnxuto commented on #3101
Exactly. I read this post earlier, i found this would be the closest to my question #3116

[2020-08-13 23:20] StephenLPeters commented on #3108
If this only requires template changes, then maybe we could fix this before WinUI 3. The template currently exists in WinUI 2 so its possible this is fixable now.

[2020-08-13 23:24] StephenLPeters commented on #3107
The ToastButton is a Windows Community Toolkit controls, can you please open this proposal on their [repo](https://github.com/windows-toolkit/WindowsCommunityToolkit)

[2020-08-13 23:24] #3107 closed

[2020-08-13 23:26] StephenLPeters commented on #3106
Drag and drop is not supported with the Winui 3 preview 2.  #2715 is the same issue.

[2020-08-13 23:27] StephenLPeters commented on #3106
#2783 also, I'm going to close this as a duplicate of that issue

[2020-08-13 23:27] #3106 closed

[2020-08-13 23:30] StephenLPeters commented on #3103
@codendone can you weigh in here? Is this covered by StoryBoard.GetCurrentState()

[2020-08-14 00:02] shaheedmalik opened #3123 "Proposal: NavigationView control should be updated to support swipe."
# Proposal: NavigationView control should be updated to support swipe.

## Summary
The NavigationView control should be updated to support swipe gestures to change to different menus and items.

## Rationale

## Scope

| Capability | Priority |
| :---------- | :------- |
| Improve the usability of touch applications | Must |
| This proposal will allow end users to accomplish X | Should |
| Provide

[2020-08-14 00:06] myokeeh commented on #2204
I'd like to see `IsReadOnly`, too

[2020-08-14 00:23] mdtauk commented on #3123
That is a Pivot, and the Pivot supports swiping.

[2020-08-14 00:26] shaheedmalik commented on #3123
Correct me if I am wrong, but pivot didn't support following of the finger. This particular customized control, follows the person's finger. Unless the creator, added finger following, and styled it like the NavigationView, I am pretty sure that is NavigationView.

[2020-08-14 00:37] bsld commented on #3105
@alwu-msft Sorry - I figured it out - it was my implementation of the inner/outter connection of interfaces was incorrect. After I fixed it the issue vanished. Closing this issue now.

[2020-08-14 00:37] #3105 closed

[2020-08-14 00:38] bsld commented on #3091
I reinstalled some stuff and it's working now. But I still have the dump of this instance if someone is interested to provide me some means to upload it.

[2020-08-14 00:40] bsld commented on #3080
I figured it out - and implemented my own metadata provider. Closing this issue now.

[2020-08-14 00:40] #3080 closed

[2020-08-14 00:48] harvinders opened #3124 "Clicking on NavigationViewItem does not dismiss the opened pane in when that item is already in selected state"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the XAML Control gallary
2. Reduce the width enough to collapse the NavigationView pane
3. Click on the hamburger menu -> Settings Items
4. Navigation Pane is dismissed
5. Click on the hamburger menu -> Settings Items
6. Navigation Pane is not dismissed this time

**Expected behavior**

Navigation pane s

[2020-08-14 05:12] Reintjuu commented on #2837
@IbrahimElshafey, I know this is closed but I've found a workaround. You can import the Shapes namespace in your view to prevent the conflict:

[code]

And use the namespace's Rectangle:

[code]

[2020-08-14 05:12] dpaulino commented on #3123
@shaheedmalik it's actually using pivot 😛

[2020-08-14 06:59] marb2000 commented on #3121
WinUI is not a new UI Framework; it's the evolution of an existing UI framework called UWP XAML. UWP XAML is a high-performance framework used by the Windows 10 OS. The simple fact of being built over a WebAssembly layer will impact on the performance dramatically. Perhaps that meets the requirements of a big set of customers and scenarios, but it won't meet the needs of the most demanding ones su

[2020-08-14 08:54] Felix-Dev commented on #3124
I cannot reproduce this issue on the WinUI master branch. As such, I suspect the fix will land in the next WinUI 2.5 preview version (current WinUI 2.5 preview versions still show this issue).

[2020-08-14 09:53] IrakliLomidze commented on #3121
Marb2000

Is Microsoft going to use new WinUI 3 in its own desktop products, such Office, Visual Studio? (do no refer calculator or notepad : ) )
In past few years Microsoft advertising FluentUI concept in the desktop app, that expected to came in Office but not happened.

So the question, in general, should it worth investing in desktop development at all.   I understand that native code will be

[2020-08-14 11:21] Felix-Dev commented on #2843
@kikisaints @chigy For demo purposes *only* I modified the NumberBox to show three SpinButton popups next to each other. The `MenuFlyout` and `ComboBox` styles use the `SystemControlTransientBackgroundBrush` theme resource for their transient UIs. The `CommandBarFlyout` style uses the `SystemControlAcrylicElementBrush`. So we have three transient UIs but the CommandBarFlyout uses a different backg

[2020-08-14 11:34] electronic-dk commented on #3121
I would take a native app over a web-based one any day, so I hope MS is going to widely adopt WinUI3 for lots of apps, this will also promote the framework among developers and send a good message, that MS is committed to this framework

[2020-08-14 12:50] ranjeshj commented on #3008
@hshristov Couple of things might be contributing to slower scrolling performance. 10 buttons in the item template expand into several elements in each item. Depending on how big your window is you get a page full of items + 4 more pages realized in order to ensure that you don't see empty space when you scroll. That could amount to a lot of elements that are going through layout when you start sc

[2020-08-14 13:00] mdtauk commented on #2843
@Felix-Dev the border in the Dark Theme, could do with being lighter, to help the buttons pop from the dark background

[2020-08-14 13:09] mdtauk commented on #3123
Pivot does follow your finger, and when it moves a certain distance, and releases, it completes the transition to the next Pivot Item.

It is only the selection indicator that does not follow your finger, or animate it's position.  The team felt there was not enough benefit to updating this control to support this, like the NavigationView's selection indicator. #2585

[2020-08-14 13:14] ranjeshj commented on #1488
Could the profile picture be added as content of the NavigationViewItem and used without setting an Icon (there might be an issue with margins when not using an Icon, but that sounds fixable).

[2020-08-14 13:22] Felix-Dev commented on #2843
@mdtauk The border I am currently using here is the same one used for the MenuFlyout and CommandBarFlyout - `SystemControlTransientBorderBrush`:

![image](https://user-images.githubusercontent.com/1398851/90253348-4b8d1880-de41-11ea-926f-8f65bff70417.png)
(A CommandBarFlyout shown on the default page background in dark theme)

As the `SystemControlTransientBorderBrush` is slightly visible in Light

[2020-08-14 13:23] ranjeshj commented on #680
PositionInSet and SizeInSet seem to be working now with latest prerelease.

[2020-08-14 13:23] #680 closed

[2020-08-14 13:38] chingucoding commented on #3117
I would like to work on this issue.

[2020-08-14 13:40] mdtauk commented on #2843
Maybe the top edge highlight should be used for these controls, as with 10X

![image](https://user-images.githubusercontent.com/7389110/90255351-1500cf00-de3c-11ea-8281-8d5c37e02494.png)

[2020-08-14 14:33] chingucoding opened #3125 "Reenable disabled tests"
The following tests are currently disabled (due to possible reliability issues)

* [ ] VerifyLightsOnSecondaryWindow (LightConfigurationTests), internal issue 18287798
* [ ] VerifyLightsAfterResettingContentOnSecondaryWindow (LightConfigurationTests), internal issue 17808897
* [ ] VerifyLightsAttachedDuringLayoutOnSecondaryWindow (LightConfigurationTests), internal issue 17808897
* [ ] RevealBrush

[2020-08-14 15:10] chigy commented on #2843
@mdtauk , @Felix-Dev ,
We use the same brush for the borders across all of our controls. Please stick with the same value.

[2020-08-14 15:12] mdtauk commented on #2843
That makes sense, however it is still harder to see the Popup Buttons in the Dark Theme, as it uses a dark border and not a lighter one.

[2020-08-14 15:17] Felix-Dev commented on #2843
@chigy I believe @mdtauk's suggestion here is to look at the borderbrush used in dark theme (SystemControlTransientBorderBrush) for transient controls and modify it slighty for better visibility. For example, see the color of the `SystemControlTransientBorderBrush` in Light theme: You can clearly see the border of the transient control. That's not the case in dark theme for now. The suggestion her

[2020-08-14 15:20] chigy commented on #2843
@mdtauk , @Felix-Dev ,
What I am asking is please don't design new behavior for this control. If you are suggesting to update the border, then please open a separate new GitHub item and address it for all controls. We do not want to introduce one-off.

[2020-08-14 15:21] Felix-Dev commented on #2843
@chigy It seems you have missunderstood me. I was not planning to update the border *just* for the NumberBox control here.

[2020-08-14 15:23] mdtauk commented on #2843
![image](https://user-images.githubusercontent.com/7389110/90265235-2e107c80-de4a-11ea-94ce-9e048ce2fac8.png)
![image](https://user-images.githubusercontent.com/7389110/90265276-3ff21f80-de4a-11ea-9433-76e6bfccdcb1.png)

It seems to me that if the border is there to improve visibility, the dark theme should use a lighter colour

![image](https://user-images.githubusercontent.com/7389110/90265384-6

[2020-08-14 15:25] Felix-Dev commented on #2843
@mdtauk Can we move updating the borderbrush for transient UIs in dark mode into its separate issue? It's not a NumberBox spin buttons popup specific issue (though if you plan to open a tracking issue for this you can reference the NumberBox as an example).

[2020-08-14 15:26] mdtauk commented on #2843
Feel free to use the images when setting up a new issue.

[2020-08-14 15:26] chigy commented on #2843
@Felix-Dev , I understood you perfectly.
I am asking, please do not introduce a change that impacts all of the controls through an issue that is specifically about NumberBox. Please open a separate one and we will discuss it seprately.

[2020-08-14 15:30] Felix-Dev commented on #2843
@chigy Ok, then it seems i have missunderstood you :)

Anyway, rest assured, I wasn't thinking about doing that here since that would be an update much broader in scope than just the NumberBox. This will be tracked in its own issue which with @mdtauk's consent I would open later today or tomorrow.

Back to the NumberBox specific issue here: Do you have an opinion on whether I should use the `Syste

[2020-08-14 15:43] chigy commented on #2843
@Felix-Dev , I don't know the specific brushes used but please match the color exactly with the MenuFlyout.
![image](https://user-images.githubusercontent.com/22958680/90267242-216c3400-de0a-11ea-8add-2c6c040a68c0.png)

[2020-08-14 15:46] Felix-Dev commented on #2843
@chigy Alright, will do.

[2020-08-14 15:53] shaheedmalik commented on #3123
Right. I commented on that one. NavigationView should really be updated to pivot.

[2020-08-14 16:49] codendone commented on #3091
@bsld Do you have the line number in CreateCoreWebView on that stack, and potentially the hresult value in the throw_hresult line?  Likely options include the WebView2 Runtime code returning an error, or the webview2loader.dll missing for some reason.

[2020-08-14 17:18] StephenLPeters commented on #3080
@bsld could you share you solutions incase someone else hits the issue?

[2020-08-14 17:24] mcooley opened #3128 "RadioButtons raises duplicate SelectionChanged events"
**Describe the bug**
The Microsoft.UI.Xaml.Controls.RadioButtons.SelectionChanged event is raised multiple times.

**Steps to reproduce the bug**
[Demonstration code is available in this gist](https://gist.github.com/mcooley/e5484c305005f3c2f8952a5b49b104b1).

1. Create a <muxc:RadioButtons> control containing three radio buttons
2. Switch the selection from one radio button to a different radio b

[2020-08-14 17:28] StephenLPeters commented on #3097
Hmm, I think another reasonable solutions is that dragging a non-leaf node always drags it and all its children, regardless of selection state. Is this behavior that we could see apps wanting to customize? What if selection is managed by the app (not the user) but they still want drag and drop, then it wouldn't be possible for the user to rearrange the selected items.

[2020-08-14 17:57] #3090 closed

[2020-08-14 17:59] Felix-Dev commented on #3097
WIth the current behavior, if you want to drag the children of a node, you just need to select them all and then start a drag operation. So that's definitely possible today.

I kinda like the current behavior when dragging a selected node. This allows me to do something like this:
![treeview-selection-example](https://user-images.githubusercontent.com/1398851/90278681-1942e180-de68-11ea-9ab5-69308

[2020-08-14 18:03] chingucoding commented on #3097
For partially selected this works (though your proposed solution to block drag and drop for partial selection would break that).
I was asking about a node where I want ALL of the children, but not the parent node. Currently, that would drag and drop both the children, and the parent of those items.

[2020-08-14 18:16] chrisglein commented on #2958
Potentially related issues on this repo: #1437 #2138.
Agree with Stephen's assessment above that while this is definitely broken, it is a less common user scenario so thankfully it isn't seen often.

[2020-08-14 18:24] Felix-Dev commented on #3097
I did not propose that as a solution :) Also I'm not sure why it would break that, because one of the ideas thrown into the ring here by @StephenLPeters originally was to block only dragging of the partially selected node. I can still drag and drop its children like shown in the gif above.

That said, dragging *all* of the children of a node currently isn't possible without dragging the parent nod

[2020-08-14 18:30] chingucoding commented on #3097
Oh sorry, must have misunderstood you regarding the blocking of drag and drop.

Regarding the fully selection mode, there is the following issue I see: What happens when I drag the children of Home remodel in this screenshot?

![image](https://user-images.githubusercontent.com/16122379/90281237-907a7480-de6c-11ea-974f-0c80b09fa733.png)

Should it drag and drop only "Paint Color Scheme" and "Floori

[2020-08-14 19:20] Felix-Dev commented on #3097
If I strictly apply the specific File Explorer behavior shown in the gif above, I think only "Paint Color Scheme" and "Flooring woodgrain type" would be dragged. So the other selected nodes like "Overall Project Plan" wouldn't be included.

In that case, dragging one of its children will include all four of its children (and only them) in the drag and drop operation.

Now, if I were to drag one of

[2020-08-14 19:22] chingucoding commented on #3097
But wouldn't make that selection a bit unpredictable? In some cases, you drag all items, in other cases you only drag a few items and currently, you might drag more than you expected to.

Maybe we should drag all items that are selected, however selecting all children of a node shouldn't select that node?

[2020-08-14 19:26] Felix-Dev commented on #3097
Yes, I am seeing that as well.

(Ok, watching Bayern - Barca now, so limited attention from me for now 😅)

[2020-08-14 19:33] sis2004 opened #3129 "TreeView - AccessViolationException with SelectedItem"
The TreeView still throws an AccessViolationException, in Microsoft.UI.Xaml 2.5.0-prerelease.200708003 despite issues #2405 and #2303 being reported as closed.

**Steps to reproduce the bug**
Here is a sample MainPage.xaml
[code]

And the code-behind MainPage.xaml.cs
[code]
Steps to reproduce the behavior:
1. Launch App1.
2. Observe it crash with the following exception:
[code]

**Expected behavio

[2020-08-14 20:36] chingucoding commented on #3129
The issues #2405 and #2303 were fixed by the switch away from a regular property to a dependency property for SelectedItem, as those both hit an issue where the `tracker_ref` ended up in a bad state.

This bug is different to the other bugs, but is a bug none the less. @ranjeshj I would like to look into this issue.

[2020-08-14 21:07] marb2000 commented on #3121
WinUI 3 is a customer focus product. It means that we add capabilities to the platform based on customer feedback and requirements. WinUI 3 is being developed with a set of internal and external customers that drive our initial set of requirements. We are fortunate to have the support and sponsor of all these customers. 😊

As you understand, we can't share customers' names (even internal names) wi

[2020-08-14 21:11] bsld commented on #3080
@StephenLPeters Sure - it's written in pure C btw - here is the [implementing source file](https://github.com/bsld/CWebView2/blob/master/metadataprovider.c).

[2020-08-14 21:38] azchohfi commented on #2216
@adambarlow any update on this?

[2020-08-14 22:35] harvinders commented on #3124
I can confirm that it seems fixed in the latest preview (Microsoft.UI.Xaml v2.5.0-prerelease.200812001).

[2020-08-14 22:35] #3124 closed

[2020-08-14 23:12] StephenLPeters commented on #2937
Turns out this is a bug in CalendarView's code behind

[2020-08-14 23:35] Parth opened #3131 "NavigationView - CanDrag causes all MenuItem's to remain highlighted once pressed"
**Describe the bug**

I'm using a Hierarchical Navigation View [as described here](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#hierarchical-navigation).

Works as expected, but when I add the `CanDrag` property to my `DataTemplate`, I experience what I believe is a rendering bug:

`Xaml` under normal circumstances:

[code]

Which produces:

![image](htt

[2020-08-14 23:54] mdtauk commented on #3121
I think frameworks like React Native will eventually make use of the WinUI/Xaml framework for handling the UI.

[2020-08-14 23:55] thsparks opened #3132 "TextAlignment DetectFromContent Does Not Change From Center"
**Describe the bug**
When dynamically changing a TextBox's TextAlignment from Center to DetectFromContent, the actual alignment of the text does not update. If the starting state is Left or Right, it works as expected (for example, English text will switch to the left, Arabic will switch to the right), but Center text remains in the center.

**Steps to reproduce the bug**
1. Create a UWP Button an

[2020-08-15 00:23] Felix-Dev commented on #2926
@YuliKl Unfortunately, I think I ran into an issue here when trying to bring over the updated ListView brushes to the TreeView.

As the TreeViewItem uses reveal highlight, we cannot simply re-use the ListView brushes here. Instead, the idea is to create a new set of *RevealBrushes* which are built the same as the ListView brushes. In other words, if we have a ListViewItem selected rest background

[2020-08-15 00:37] Felix-Dev commented on #3128
I would like to take a look at this.

[2020-08-15 01:54] asklar opened #3133 "Project fails to build when adding User control"
Setup: C++ WinRT component that references MUXC (but doesn't use it), and doesn't have any xaml markup.
Add the first XAML file, a user control, to the project.
The genrated `XamlTypeInfo.g.cpp` references WUX and MUXC's `TreeViewNode` which causes a build break unless I add this to pch.h:
[code]
Shout-out to @RealTommyKlein for debugging this (please add any details I may have missed :-) )

[2020-08-15 02:52] chungweileong94 commented on #3067
Yeah, I faced the exact same issue, works fine on both release & debug mode, but the error shows up immediately when I try to package it.

[2020-08-15 03:18] chungweileong94 commented on #3067
In my case, it seems like the `/obj` is outdated.
I managed to solve it by removing both `/obj` & `/bin` (you probably don't need to remove `/bin`) folders, then rebuild the project again.

[2020-08-15 10:15] Felix-Dev commented on #3128
So, there's not just the issue of the selection changed event being raised two times but also an issue with the [SelectionChangedEventArgs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.selectionchangedeventargs?view=winrt-19041) instance passed to the event handler. For example, when setting the initial selection (via code or click interaction), not only does the SelectionChan

[2020-08-15 11:20] Felix-Dev commented on #3128
Observation 2: The duplicated SelectionChanged event is only raised when the user changes the slection by *clicking*. Selecting a ne item either programmatically or via keyboard focus, only raises one SelectionChanged with both AddedItems and RemovedItems of the SelectionChangedEventArgs instance being populated correctly.

(Reason being that we listen to the RadioButton.Uchecked and RadioButton.C

[2020-08-15 12:10] harvinders opened #3134 "ProgressRing determinate mode animation feels slow (~3 s) when initial Value is set to 100"
**Describe the bug**

I have a ListView that display status of various items. One important thing the item display's is the download percentage. I am using the determinate ProgressRing to display the percentage.

One issue I noticed is that when the item view is displayed, the animation takes close to 3 seconds to animate to the 100% value. Which feels very slow. This is especially true, when the

[2020-08-15 12:13] lorisobi opened #3135 "Proposal: Add an option to open emojipicker from a textbox"
# Proposal: Add an option to open emojipicker from a textbox
For user friendly operation and better usage of emojipicker than just with a shortcut

![Proposal](https://user-images.githubusercontent.com/28399150/90312021-5f984f00-df01-11ea-8abc-8072adbca6bd.png)

## Summary
Add an option to WinUI textboxes to open emoji picker via an emoji button and use it in the textbox

## Important Notes

- it

[2020-08-15 22:43] chingucoding commented on #3015
@ranjeshj @StephenLPeters Would you be fine with me working on this issue?

[2020-08-15 22:44] chingucoding commented on #2845
@tpxxn Yes this is currently a limitation/bug with hierarchical NavigationView, see #3015 for additional context.

[2020-08-16 01:27] robloo opened #3139 "Proposal: Support DependencyPropertyKey and RegisterReadOnly as in WPF"
# Proposal: Support DependencyPropertyKey and RegisterReadOnly as in WPF

## Summary

Support is needed for read-only dependencies properties in UWP/WinUI. This is especially true for collection-type properties backed by a list that shouldn't be changed through the binding system. It will also allow several existing properties to be updated to support binding and MVVM (which is important in severa

[2020-08-16 01:28] robloo commented on #3041
Created feature-request here: https://github.com/microsoft/microsoft-ui-xaml/issues/3139

[2020-08-16 02:18] shaheedmalik commented on #3115
Any progress on fixing background acrylic? #2236

[2020-08-16 07:45] MartinZikmund opened #3140 "Dropdown glyph alignment and sizing"
**Describe the bug**

There are several controls which have a sort of "dropdown" glyph - `ComboBox`, `NumberBox`, `SplitButton`. Each, however, has a bit different glyphs as well as button alignment and size:

![image](https://user-images.githubusercontent.com/1075116/90329341-4e544e80-dfa4-11ea-9952-22ad0c08d209.png)

Only `SplitButton` and `ComboBox` seem to have "overlapping" arrows, but others

[2020-08-16 10:09] dwulive commented on #1500
As compared to the WCT UWP DataGrid:
1) Performance
2) More built in Column types (I assume that these have better performance than template columns)
3) Ability to hook mouse events per cell, i.e. tap, right tap, and hover, (or pointer down or whatever)
4) Keyboard events per Cell
5) If (3) is not workable, we could emulate if we had hit testing functionality
6) Performance

[2020-08-16 11:46] lorisobi opened #3141 "Proposal: Make middle mouse scrolling available to WinUI lists"
# Proposal: Make middle mouse scrolling available to WinUI lists

## Summary
Let the user fast scroll through WinUI list by clicking (+holding) the middel mouse button / the mouse wheel and dragging the mouse, just like in Browsers

[2020-08-16 14:40] robloo commented on #3140
NumberBox might make sense as a separate case. The up/down glyphs there are for a different purpose and differences for the repeat buttons might actually be a good idea.

ComboBox and SplitButton certainly should be the same. Alignment (right-side margin) in all the controls should be standard as well I think.