[2020-12-04 19:04] stevenbrix commented on #3741
@Ocalvo do you know what this error message means?

[2020-12-04 21:07] SavoySchuler commented on #913
@gabbybilka Love what you shared on decision making principles around API inclusion. I think it would be welcome to elevate the content you wrote here to some kind of "Tips & Best Practices" section of our "contribution guidelines" or similar. Creating clarity around the decision making process for identifying API inclusion cut lines stands to help everyone (especially repo rock stars) get the mos

[2020-12-04 21:10] robloo commented on #3024
The link below seems to be the best control available for replacement. Still not sure if the map provider is free though:

https://github.com/Mapsui/Mapsui

[2020-12-04 21:15] tipa commented on #3767
Thanks a lot for the update! Unfortunately I cannot use it in my apps as I rely on the [FlowLayout](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.flowlayout?view=winui-3.0-preview), which is only available in the `-previews`. Any news on when this will make it to the stable releases?

[2020-12-04 21:19] anawishnoff commented on #3767
Pinging @ranjeshj for your question.

[2020-12-04 21:21] tipa opened #3771 "[NavigationView] FooterMenuItems show unwanted scrollbar"
**Describe the bug**
NavigationView FooterMenuItems show unwanted scrollbar

**Steps to reproduce the bug**
1. Add a `NavigationView `and add some `NavigationViewItem`s
2. Hover with the mouse over the right area of the FooterMenuItems area

**Expected behavior**
No Scrollbar when there's enough space

**Screenshots**
![image](https://user-images.githubusercontent.com/2863198/101215745-a19afb80-36

[2020-12-04 21:24] gabors commented on #3771
Just ran into the same thing :(

[2020-12-04 21:45] Felix-Dev commented on #3771
Looks like we are missing
[code]
here: https://github.com/microsoft/microsoft-ui-xaml/blob/624ee5a70b183e08523208f47519a4516560e8f0/dev/NavigationView/NavigationView.xaml#L493

[2020-12-04 21:48] gabors commented on #3771
I did try this, but it has no effect, as soon as you hover around the right edge of the navigation view, the scrollbar shows up, only for footer menu items though.

[code]

[2020-12-04 21:54] Felix-Dev commented on #3771
@gabors We have to set the VerticalScrollBarVisibility mode on the *internal* scrollviewer used by the NavigationView for the footer menu items (you can see the internal scrollviewer in question linked above).

As a "hotfix" (until a WinUI version has been released with this fix) you can walk the visual tree and obtain the linked internal ScrollViewer (named "FooterItemsScrollViewer") and set the

[2020-12-04 21:56] gabors commented on #3771
@Felix-Dev Appreciate your help, I'll walk the tree for now, hopefully this is fixed soon :)

[2020-12-04 22:01] mdtauk commented on #3771
Is there a need for a
**<muxc:NavigationView BottomScrollViewer />**

as well as the
<muxc:NavigationView ScrollViewer />

[2020-12-04 22:08] chingucoding commented on #3505
I would like to look into this.

[2020-12-04 22:57] ranjeshj commented on #3767
@tipa  Thanks for your interest in FlowLayout. As you already mentioned, it is in pre-release and currently in the backlog. Unfortunately I don't have a target date for that yet since we are not actively working on that layout. During our initial review there was feedback about exposing this vs a more flexible Flex layout similar to the web.

[2020-12-04 23:44] robloo commented on #913
@gabbybilka I do appreciate you taking the time for such a thorough response. I should have changed the very last part of my comment above. Instead of asking for the event to be added by Microsoft I am only asking that it not to be rejected. This is a perfect place for a community contribution so there is no need for Microsoft to invest the limited resources you have on it -- only that you don't o

[2020-12-05 00:14] StephenLPeters commented on #3771
Thanks for reporting this! I think we can probably get a patch for the release for this.

[2020-12-05 00:15] StephenLPeters commented on #3766
@MikeHillberg FYI

[2020-12-05 00:20] StephenLPeters commented on #3763
@adambarlow Fyi

[2020-12-05 00:27] StephenLPeters commented on #3759
This is awesome! retemplating is great when it works. hopefully we can resolve these styling issues.

[2020-12-05 00:31] StephenLPeters commented on #3751
Awesome, sounds like we've identified a real issue in Content Dialog's code behind. It should be resilient to missing template parts. We can use this issue to track that, however its code wasn't lifted to Winui 2, so we will not be able to fix this until post winui 3.

Content Dialog is supposed to be horizontally centered when it opens. Can you share more info on that? We might need/want to open

[2020-12-05 00:41] #3473 closed

[2020-12-05 01:02] duke7553 commented on #3767
Are the new PaneFooter Items intended to be used by binding with a data source like ObservableCollection? We have an ItemTemplateSelector set up for the normal items and tried to use the same strategy with a separate dedicated data source for footer items. Unfortunately, the project still crashes on startup with these changes.

I guess I'll go ahead and report it as a bug if this behavior wasn't i

[2020-12-05 01:35] adambarlow commented on #3711
@Marv51 we appreciate your feedback. We understand the migration experience is a challenge. However, given a number of trade-offs and resource constraints we won't be able to address this. Let us know if you encounter issues while migrating to WebView2 and any issues that come up with that.

[2020-12-05 01:35] #3711 closed

[2020-12-05 01:36] adambarlow commented on #3722
Thanks for this feedback. We are working with out partners on the Edge team to further define the story for the WV2 runtime. This feedback is helpful!

[2020-12-05 03:03] davecarlisle opened #3772 "Multi-instance winui 3 UWP..."
Quick roadmap question. We're successfully using the multi-window support for desktop but have a question on the UWP side.

Is there an ETA on winui 3 multi-instance support will be available in preview for UWP apps?

Also, is there an ETA re a winui 3 multi-instance template?

Thanks much!

[2020-12-05 09:37] Gavin-Williams opened #3773 "ComObject from Window (.Net 5)"
I want to create a swapchain for the window without any xaml.

SharpDX has the following technique to construct a swapchain ...

`   using (var windowAsCom = new ComObject(coreWindow))
    {
        tempSwapChain = new SwapChain1(CoreGraphics.dxgiFactory, CoreGraphics.Device3d, windowAsCom, ref SwapChainDesc);
`

Can .Net 5 / WinUI provide a ComObject for this call?

[2020-12-05 10:06] Gavin-Williams opened #3774 ".Net 5 templates"
Can we please have .net 5 project templates.

I don't want to use Winforms, WPF or WinUI, I just want a raw .net 5 window - like the CoreWindow template for UWP (which was only ever explained for C++, but was buildable for C#).

[2020-12-05 17:38] lukasf commented on #913
I don't want to dive into the discussion @robloo started. But I think it is obvious that a control should communicate it's state. So we'd either want to have Opened/Closed events, or some DepencencyProperty we can listen to. To me, this is base behavior that any control should have. It does not need to be in V1. But if anyone wants to add it, then I don't see a logical argument against it.

[2020-12-05 17:58] chingucoding commented on #3736
I would like to work on this.

[2020-12-05 18:31] lukasf commented on #3761
IMO it should be considered base behavior that a control communicates it's state. It does not really matter what this will be used for. While I agree that normal end user apps / store apps should try to comply with W3 standards as far as possible, it is not absolutely neccessary, and even Microsoft does not follow these guidelines strictly. Plus, the majority of software is developed in companies

[2020-12-05 18:49] XamlBrewer commented on #3761
An 'Opened' event would be indeed an appropriate place for adapting layout, updating a counter, and/or starting a timer. The -already defined- 'Closed' event could then host the opposite action. Currently the API is unbalanced in this domain, with several events around closing ('CloseButtonClick', 'Closing', and 'Closed'), and not a single event on opening (although PropertyChanged could be used h

[2020-12-06 07:45] oldoldman opened #3778 "Question: How to get rid of the top padding of NavigationView"
I'm setting NavigationView.Header to a StackPanel control and found they can not top aligned. That is how to get rid of the gap between the 2 red lines ? Many thanks!!!
![image](https://user-images.githubusercontent.com/13962657/101274504-8bee1900-37d9-11eb-83b8-3c53541b8e3c.png)

[2020-12-06 10:58] #3778 closed

[2020-12-06 14:30] oldoldman commented on #3712
I found the missing piece : add a PackageDependency entry to AppxManifest.xml . Many thanks!!!

[2020-12-06 14:30] #3712 closed

[2020-12-06 15:30] Jaiganeshkumaran commented on #3583
Fluent UI is a bogus implementation that's claimes to call itself Fluent. Good try Microsoft but I would like to make it more Fluent like adding Reveal effects and try to optimize them for small devices. Edge is now just like reskinned Chrome. The last design refresh for Edge legacy looked really beautiful and was unique compared to other browsers while now it looks like any other browser. MS has

[2020-12-06 17:36] FrayxRulez opened #3779 "Proposal: make it easier to debug layout cycles"
# Proposal: make it easier to debug layout cycles

I know it's absolutely non-trivial, but I think that in some future WinUI 3.X version this should happen.
At the moment having a large code base it's pretty much impossible to find out where a layout cycle happens without being able to reproduce the issue. I released a update a couple of days ago and I'm just seeing the amount of crashes raising d

[2020-12-06 21:12] wjk commented on #1833
I also would want this. I am using [windowless Rich Edit controls](https://docs.microsoft.com/en-us/windows/win32/controls/windowless-rich-edit-controls) to render complex text layouts, but that control will only render into a raw `HDC`. Without the ability to host a raw WinForms control in the XAML tree that Rich Edit can use, I am forced to use multiple top-level Islands, which I understand is v

[2020-12-07 01:13] JanRajnoha opened #3804 "ContentDialog Input not working for TextBox"
**Describe the bug**
I tried create ContentDialog with input like TextBox or PasswordBox, but text input is not working. CheckBox (like in sample gallery) is okay. Shortcuts are okay and deleting chars (backspace or delete) is okay too. Content of ContentDialog is created as User Control (from WinUI 3) and testing it as Control in page is its behavior ok too. Is this behavior intentional?

**Steps

[2020-12-07 01:16] knightmeister commented on #179
Hi @stevenbrix, I see in the [roadmap](https://github.com/Microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) that this is now labelled a stretch goal.

I stopped working in Win UI because it felt too immature, but I really want to come back because I love the framework. Validation is absolutely critical and my concern is it's going to keep slipping (this has been coming soon for ages, iirc).

[2020-12-07 08:39] sonnemaf commented on #179
I totally agree with @knightmeister. Input validation is a MUST HAVE. Without it it is totally useless for LOB apps. How can I sell WinUI to WPF developer's without it? It must be reconsidered.

[2020-12-07 08:51] sonnemaf commented on #3759
I want the RadioButtons to have animations, see my mock-up video https://twitter.com/fonssonnemans/status/1334816598599880705

![image](https://user-images.githubusercontent.com/9335559/101329476-b986a100-3871-11eb-8c02-00a18727cb78.png)

[2020-12-07 09:38] alexserov commented on #3752
@Scottj1s I tried your solution - it works like a charm, thanks!

Your link to the header file helped me a lot.

[2020-12-07 09:38] #3752 closed

[2020-12-07 10:10] vgromfeld commented on #2640
`x:Load` shouldn't do the trick since it will be applied to the `AutoSuggestBox` and would still leave the presenter displayed.

I've made a quick try in my app to see what happens. It throws a `XamlParseException`:

[2020-12-07 12:26] weitzhandler commented on #179
Totally. Input validation is crucial.
Btw here's my related issue about generalvalidation in .NET:
[https://github.com/dotnet/extensions/issues/3379#winui](https://bit.ly/3gcMJ3a).

[2020-12-07 13:54] GeertvanHorrik commented on #179
Maybe you shouldn't? I think at this moment (not sure it will ever change in the future), the most reasonable path for most LOB developers is sticking with WPF, then consider Blazor / any other web technology standard next.

[2020-12-07 14:49] BrianDT commented on #3751
@StephenLPeters Regarding the horizontal centring.
It would seem that the Content Dialog control is positioned with its top left corner at the top right of its parent panel. In the sample app the Content Dialog is defined as a child of the red StackPanel shown in the attached screen shot. If the StackPanel is allowed to be the full width of the screen as was originally intended then the Content Di

[2020-12-07 15:21] anawishnoff commented on #3767
@duke7553 Thanks for your question. Yes, you should be able to bind [FooterMenuItems ](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.navigationview.footermenuitems?view=winui-2.5) to a data source such as an ObservableCollection. Please file a bug on this so we can take a look - thanks!

[2020-12-07 17:21] michael-hawker commented on #3767
@anawishnoff was just playing with the updated XAML Controls Gallery, noticed some issues with the new determinate Progress Ring:

- [ ] Value of 50 isn't half of the circle:
![image](https://user-images.githubusercontent.com/24302614/101382506-e4222b00-386c-11eb-9b58-6706e4610ca1.png)

- [ ] Values aren't determinate. Setting a value doesn't result in the same behavior all the time:
![image](http

[2020-12-07 17:39] anawishnoff commented on #3767
Thanks for pointing that out @michael-hawker. Handing this off to @MarissaMatt - perhaps we need a bug filed in the XCG repo for this.

[2020-12-07 18:36] MarissaMatt commented on #3767
@michael-hawker thank you for pointing this out! I'll investigate and file a bug.

[2020-12-07 19:12] under3415 opened #3780 "Windows Store App Certification Fails after upgrading Microsoft.UI.XAML to v2.5.0"
**Describe the bug**
After updating Microsoft.UI.Xaml from 2.5.0-prerelease201202003 to the v.2.5.0 (release) the UWP app got rejected from the store with the following errors. This was the only change to the app, It was all good with pre-release UI.Xaml

**FAILED**
    General metadata correctness

    Error Found: The general metadata correctness test detected the following errors:
        Param

[2020-12-07 19:32] mdtauk commented on #3546
![image](https://user-images.githubusercontent.com/7389110/101396047-ad76ff80-38c2-11eb-8fc3-a8b1e20317ad.png)
The Split Button, and Drop Down Button's chevron looks too low and perhaps too small in the current ``features/token-experiments`` branch
![image](https://user-images.githubusercontent.com/7389110/101396196-df886180-38c2-11eb-839f-4eee34035797.png)

[2020-12-07 20:23] StephenLPeters commented on #3751
Hmm, I just made a super simple
[ReproApp.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5655112/ContentDialog.zip) and a content dialog opened parented to a stack panel opens at the center of the app. Can you reproduce this issue with a UWP app?

[2020-12-07 20:44] StephenLPeters commented on #3759
I think its probably difficult to get this style of animation with a simple retemplate of RadioButtons... You might be able to do it with a new VSM group and calling go to state yourself in the checked/unchecked handlers of retemplated toggle switches you put as children of the RadioButtons. Seems tricky but maybe possible.

[2020-12-07 21:50] chingucoding commented on #3746
@YuliKl @stmoy Do you think that this is already covered by #1883? Otherwise, what do you think would be the best way to fix this (especially given that #3469 still seems to be an issue)?

[2020-12-07 22:11] chingucoding commented on #3513
I would like to look into this.

[2020-12-07 22:39] dotMorten opened #3781 "WinUI Compiler Crash"
**Describe the bug**
Trying to launch a WinUI Window from a console app works surprisingly well - until you try and add a Xaml window, then the app fails to compile with "Object reference not set to an instance of an object"

![image](https://user-images.githubusercontent.com/1378165/101413743-a5ef3080-3899-11eb-82cc-099ab273babc.png)

**Steps to reproduce the bug**
1. Run the following sample:
[W

[2020-12-07 22:56] dotMorten opened #3782 "Unit Test run crashes when calling Microsoft.UI.Xaml.Application.Start"
**Describe the bug**
I've been trying to launch a WinUI dialog from my test project for UI testing, but the app crashes (with not catchable callstack or breakpoint), when calling ` global::Microsoft.UI.Xaml.Application.Start(...)`;

**Steps to reproduce the bug**
1. Open the attached project:
[UnitTestApp.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5655691/UnitTestApp.zip)

2. Verify

[2020-12-07 23:23] stevenbrix commented on #3781
Thanks for filing this issue @dotMorten, can you try to accomplish this from a blank WinUI3 project, and see where things fall down? If you have an App.xaml, and need to write your own main method, you can add this to your project file in a `PropertyGroup` of the .csproij:

[code]

[2020-12-07 23:28] stevenbrix commented on #3774
I'm not exactly sure what you want, do you have an example? I'm also not sure if this is the most appropriate place for something not WinUI related, does the https://github.com/microsoft/windowsTemplateStudio repo seem more appropriate?

/cc @JeanRoca for fyi

[2020-12-07 23:32] stevenbrix commented on #3648
Interesting, I'm not aware of anything that would have changed here. @rohanp-msft, do you know if this is due to using the new PRI gen tooling?

[2020-12-07 23:58] rohanp-msft commented on #3648
looking now

[2020-12-08 00:21] YuliKl commented on #3780
Sounds related to #3298.

@StephenLPeters FYI.

[2020-12-08 00:30] YuliKl commented on #3772
@ryandemopoulos can you help?

[2020-12-08 00:33] rohanp-msft commented on #3648
@huoyaoyuan Hi Huo, what kind of winui3 project is this? Examples are below:
![image](https://user-images.githubusercontent.com/35987549/101421743-e5257d80-38a9-11eb-9a74-d56f53f0e8e3.png)

[2020-12-08 00:34] YuliKl commented on #3773
@Gavin-Williams I suspect your question would be better posed in one of the [.Net repos](https://github.com/dotnet) as it doesn't pertain to WinUI.

[2020-12-08 00:34] Gavin-Williams commented on #3774
I just want templates for
Blank App (.Net 5)
Class Library (.Net 5)

Is there even a .Net 5 way to make an application and window yet? I'm not sure there is, I'm looking but can't work it out. So a project template in VS would make it obvious.

To make a CoreWindow application I've always had to create a Blank App (Universal Windows) then delete the App and MainPage files and copy in a custom writ

[2020-12-08 00:39] stevenbrix commented on #3721
@mageshsankar does this work with `x:Bind`? And do you know if it's just `DateTimeOffset` or is it any nullable type?

[2020-12-08 01:26] mandalorianbob opened #3797 "Bug: Collection object reused when new control instantiated"
In the MUX github it said if I was having a UWP issue to post it here.

So I've got a fairly complex custom User Control that's referencing another custom User Control for trying to layout a master/details view.

I have a PopupHost that is a Popup which has a Grid, which has a control of type CustomPopup.

CustomPopup has a layout control in it, DetailPaneLayout, which takes a collection of depend

[2020-12-08 03:49] Gavin-Williams commented on #3773
Posted there as well ..
https://github.com/dotnet/runtime/issues/45735

[2020-12-08 04:25] dotMorten commented on #3781
@stevenbrix Pretty sure the crash is occurring because there's no ApplicationDefinition item in the build. Adding app.xaml.cs makes that problem go away (and disabling `DISABLE_XAML_GENERATED_MAIN`), and I can now compile - however this will crash at runtime because it can't do resource lookup for the XAML bit (probably because the package is unpackaged).

I realize that XAML probably wouldn't/sho

[2020-12-08 04:43] YuliKl commented on #3773
Great. Closing this question as it's not WinUI-related.

[2020-12-08 04:43] #3773 closed

[2020-12-08 06:33] huoyaoyuan commented on #3648
@rohanp-msft C# desktop, packaged. The project was manually updated from preview 2, which didn't request adding entry.

[2020-12-08 08:48] alexdi220 opened #3783 "ColorPaletteResources doesn't apply to custom control"
**Describe the bug**
Hi, I've tried to sort out the ColorPaletteResources and how it can be used in theming of the custom control. I found that the palette's accent color doesn't apply to brushes of control where used SystemAccentColor. For example `<SolidColorBrush x:Key="CustomControl1BackgroundBrushFocused" Color="{ThemeResource SystemAccentColor}"/>` . It works perfectly for standard controls

[2020-12-08 09:34] alexdi220 opened #3784 "How to apply the ColorPalettesResources in runtime?"
**Describe the bug**
Hi, how can I use the ColorPaletteResources to change colors of a control in runtime? I tried to set a new palette in `App.Current.Resources / App.Current.Resources.ThemeDictionaries` and update the RequestedTheme by a sample from [here](https://github.com/microsoft/fluent-xaml-theme-editor/blob/master/README.md#using-colorpaletteresources-in-code-behind) but it doesn't work.

[2020-12-08 11:05] BrianDT commented on #3751
@StephenLPeters  Oops I left a HorizontalAlignment="Right" in my sample. However, experimenting with the simple example and comparing results indicates that the issue only occurs when the ContentDialog is templated when the top left corner is centred and I assume the width is ignored. This can clearly be seen if the XAML in the simple example is adjusted to
    <Grid>
        <Grid.RowDefinitions>

[2020-12-08 11:47] mdtauk commented on #3549
I think the slider track may be a little dark, where the accent colour side of the slider can feel less distinctive compared to the rest of the track.

![image](https://user-images.githubusercontent.com/7389110/101480070-12763800-394b-11eb-873f-7725f96e0f06.png)

I know the Buffering one uses the distinction between lighter and darker shades, but could the lighter colour not work as the default, a

[2020-12-08 15:06] smj389 commented on #2704
I am also experiencing the same issue with Flyouts.

[2020-12-08 18:54] rohanp-msft commented on #3648
@stevenbrix For C# desktop, packaged apps, no, the new PRI gen tooling didn't introduce the need to do this. (The reason I asked about the type of project is that for class lib projects, I noticed that, both with winui 2 and 3, string resources don't make it into the class lib's PRI. That's what I'm working on figuring out now.)
CC @huoyaoyuan

[2020-12-08 19:19] StephenLPeters commented on #3751
I'm having trouble understanding what the repro steps you are outlining here are. Content Dialog is retemplated, what does top left corner being centered mean? How is the width ignored?

Using ContentDialogPlacement.InPlace means the dialog will be placed in its parent, rather than in a popup. So I would expect the dialog to be placed within the stack panel. Can you take a look at the LiveVisualTr

[2020-12-08 19:23] StephenLPeters commented on #3780
@kmahone and @ranjeshj FYI as well

[2020-12-08 19:31] michael-hawker commented on #3493
🦙 @chrisglein FYI, this is a duplicate of #546. I had added it early on specifically because of Expander and it's usefulness in other scenarios for the WPF gap.

[2020-12-08 19:31] michael-hawker commented on #719
@predavid this should get the wpf tracking label too.

[2020-12-08 19:32] michael-hawker commented on #546
@predavid this needs the wpf tracking label too.

[2020-12-08 20:00] Felix-Dev opened #3786 "WinUI build experience: Incremental building rarely working as of late"
Since roughly a week or so, I am starting to get build errors unrelated to code changes made by me when incrementally building WinUI (Microsoft.UI.Xaml). These build errors look like this:
![image](https://user-images.githubusercontent.com/1398851/101533779-8e49a200-3996-11eb-8b3f-aa1445de905e.png)

Sometimes, it takes 1-2 successive incremental builds for them to occur, but they are a common occu

[2020-12-08 20:03] chingucoding commented on #3786
Thanks for the ping, I am also experiencing this issue. It came up in the past few days, building the MUXControlsTestApp twice in a row almost always give me these errors which defeats the point of incremental compile as @Felix-Dev noted correctly.

[2020-12-08 21:02] yaichenbaum commented on #3326
I think it's important to take into consideration the size of the chevrons. We are currently using a custom implementation in [Files](https://github.com/files-community/Files) and users have given us feedback that the chevrons are hard to select with both touch and mouse input.
![image](https://user-images.githubusercontent.com/39923744/101540714-6cd4c000-396e-11eb-9db1-24a7ac2c7b9c.png)

[2020-12-09 00:03] StephenLPeters commented on #3786
@teaP and @llongley

[2020-12-09 00:07] StephenLPeters commented on #3784
The theme dictionary that is tittled "Default" is the dark theme dictionary. From your screen shots it looks like your app is currently in light theme. If you switch your app theme to dark does this code function?

[2020-12-09 00:12] StephenLPeters commented on #3783
I'm surprised this works at all, in the code you've posted CustomControl1BackgroundBrushFocused is defind only for the default (dark) theme. Your app looks like its in light theme so I would expect the system to have failed to find the CustomControl1BackgroundBrushFocused resource.  @kikisaints and @MikeHillberg ?

[2020-12-09 00:19] StephenLPeters commented on #3779
I would love this, its definitely not trivial though.

[2020-12-09 00:20] StephenLPeters commented on #3779
I think framework team owns layout?

[2020-12-09 00:22] StephenLPeters commented on #3774
@marb2000 and @MikeHillberg FYI.

[2020-12-09 00:26] StephenLPeters commented on #3780
The workaround is simple – app developers need to open the .csproj or .vcxproj file that has a reference to the Project which targets the winui2 nuget package (or includes a project which does, like lottie) NuGet package and insert this target at the bottom of the file right before </Project>:

  <Target Name="_AddXamlWinmdToPackageLayoutRoot" AfterTargets="_CreatePackageLayout">
    <Copy

[2020-12-09 00:28] MarissaMatt opened #3787 "Determinate ProgressRing not filling based off of the value entered"
**Describe the bug**
There are a few issues with the determinate progress ring not filling the circle correctly when a particular value is set. These values are described below:

Value of 50 isn't half of the circle:
![image](https://user-images.githubusercontent.com/62765959/101557561-1c5f6180-3972-11eb-93e6-011690c49800.png)

 Values aren't determinate. Setting a value doesn't result in the same

[2020-12-09 00:36] StephenLPeters commented on #3786
Looks like luke has a fix! :D

[2020-12-09 00:38] mdtauk commented on #3783
Perhaps the Default theme is used as a fallback, and that is why it works, whilst not working.

But yes, values should be provided for Default, Light, and HighContrast themes to be as compatible as possible

[2020-12-09 00:42] chrisglein commented on #3493
Duplicate of #546

[2020-12-09 00:42] #3493 closed

[2020-12-09 00:52] JeanRoca commented on #3045
I will go ahead and leave the issue open as it seems this one does not exclusively limit images to SVG as the other issue does. Unfortunately, we are unable to commit to this work right now and would have to look into it after WinUI 3.0. It seems more people are in favor of SVG support from the previous issue. I am curious to know if SVG support would work for your particular use case? If not, cou

[2020-12-09 00:55] under3415 commented on #3780
Not sure if I did the right thing. When you say "insert this target at the bottom of the file right before :" do you mean before a colon character or is something missing?

This is what the end of my csproj file looks like and this did NOT resolve the issue, it still got rejected by the store. Am I not doing it right?

` <Import Project="$(MSBuildExtensionsPath)\Microsoft\WindowsXaml\v$(VisualStud

[2020-12-09 03:33] zadjii-msft commented on #638
For the record, I'm interested in using an auto-dismissing "toast" like this in the Windows Terminal as well. As far as prior art goes, Android has [Toasts](https://developer.android.com/reference/android/widget/Toast) that are pretty similar to what I'm looking for. I don't super care about the duration - I'd probably just end up using the default. Android allows developers to specify [either a "

[2020-12-09 03:42] #3786 closed

[2020-12-09 04:12] FreddyD-GH commented on #3698
Are there any situations where the empty DesktopWindowXamlSource DOES NOT occur?  I've seen it 100% of the time when using Preview 3.  Perhaps it should be documented as a known issue at: [https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#preview-3-limitations-and-known-issues](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#preview-3-limitations-and-known-issues)?

[2020-12-09 05:03] huoyaoyuan commented on #3648
@rohanp-msft I mistyped it. I was using C# classlib.

[2020-12-09 05:04] jlnordin commented on #1495
Update from the OS team: a work around for disabling the automatic controller-to-keyboard mapping for UWP apps is now checked in to the main OS source repository.

Unfortunately this workaround missed the cut off for the next major OS update (the one that is currently being flighted on the Windows Insider dev channel), which means it will be a few more months at the minimum before this fix is avai

[2020-12-09 05:13] rohanp-msft commented on #3648
@huoyaoyuan Huo, that's something I've seen before. I tried to repro it today but couldn't. Here's the issue where I recorded my repro attempt: https://github.com/microsoft/ProjectReunion/issues/246
Can you repro it with a new WinUI class lib project? If yes, can you share your setup like what I shared in the link, please?

[2020-12-09 07:00] #3693 closed

[2020-12-09 07:42] alexdi220 commented on #3783
Thanks for the quick answers. I've modified my sample by your recommendations and it still not working.
Generic.xaml
[code]
MainPage.xaml
[code]

Is the `x:Key="Default"` dark theme? I supposed that is a Light and that if there are no specified resources for other themes (Dark, HighContrast) the Default resources will use instead. At now, it's not clear. Do you have any guide or any docs for the b

[2020-12-09 07:50] emiliano84 commented on #638
I'd love this, now I had to implement it myself using teaching tips

[2020-12-09 10:07] alexdi220 commented on #3784
[code]
No, it doesn't. The Light is my Windows' (system) theme. And I'm a little confused with Default, Light, Dark keywords using. This [topic ](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-theme-resources#guidelines-for-custom-theme-resources) describes that the Default != Dark and the resources of the Default will use if the resource for the specific theme wasn

[2020-12-09 10:22] katan-ms opened #3790 "Assign an Attached Property to x:Null in VisualState won't call PropertyChangedCallback and throws COMException"
**Describe the bug**

Setting an attached property to {x:Null} in visual state won't call the PropertyChangedCallback. This can be worked around by setting the PropertyType to object instead.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run the attached project
[AttachedPropertyTest.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5665179/AttachedPropertyTest.zip)

[2020-12-09 12:56] mdtauk commented on #3744
Github's new Dark Theme has a green looking green colour.

![image](https://user-images.githubusercontent.com/7389110/101632561-fc857780-3a1d-11eb-9016-bdb5a3e50af8.png)

[2020-12-09 13:03] reinux commented on #2236
Here's some history.

Performance is not the reason. It never was. It was almost certainly a PR decision.

Acrylic has been around since 2007. Back then, it was called Aero Glass, and everyone hated it because it supposedly decimated battery life because it required the GPU.

What people didn't realize (or didn't want to realize, because it was sensational) was that doing window compositing on the

[2020-12-09 13:16] reinux commented on #2236
That said, I want to pitch a compromise: Could Acrylic just paint part of the desktop wallpaper instead of all the windows behind it? Or maybe have that as an option?

Some old Linux terminals in the early 2000s did a thing where it would just paint the desktop wallpaper image at reduced contrast, and it would move the source rect based on where the window was relative to the wallpaper.

This has

[2020-12-09 13:41] mdtauk commented on #2236
@reinux  I proposed using the Desktop Wallpaper as a fallback option, and still think it would be a good middle ground, not just temporary whilst Acrylic is made to work with WinUI, but also for Inactive Windows, Tablet Mode, and other performance restricted devices.

AeroGlass was less GPU intensive as it was a blur over the back rendering, with a colour fill and PNG overlays to create the tintin

[2020-12-09 13:47] reinux commented on #2236
My bad, I should have read the prior discussion more carefully.

[2020-12-09 13:51] mdtauk commented on #2236
Your mockup is a great illustration!  Thank you for posting it.

[2020-12-09 16:33] anawishnoff opened #3791 "👩‍💻☎ December WinUI Community Call (Dec 16, 2020)"
### This call has now finished but you can watch the recording at the following link. Feel free to open up issues on this repo for any follow-up questions!
### https://youtu.be/RGmm341kJMI

## Details
Date: Wednesday December 16, 2020
Time: 17:00-18:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
This will be an informal interactive live stream dire

[2020-12-09 16:37] iomismo opened #3792 "TabView: TabItemsSource cannot be updated from another thread"
Updating a binded TabItemsSource ObservableCollection from another thread throws a Windows.UI.Xaml.UnhandledExceptionEventArgs (using dispatcher).

System.ArgumentException: Value does not fall within the expected range.

A server sends a message to a client, which parses the message and adds a tab to the observablecollection.

[code]
Exception does not throws immediately after adding the tab, but

[2020-12-09 16:50] mdtauk commented on #3791
Asking again as its almost a tradition now...

Progress on Acrylic and Reveal.

On a more serious issue - There have been a few visual updates proposed, for individual controls.  Is there a high level set of concept designs you could share, showing how you envisage the whole visual style looking for apps?

The roadmaps mention updates every 4 months, but is that set in stone, or could some missing

[2020-12-09 16:51] chingucoding commented on #1484
@StephenLPeters @ranjeshj Should this issue stay open or can this be closed given the recommendations from @simeoncran ?

[2020-12-09 17:14] Javier118 opened #10385 "PdfViewer control that supports ink"
there is no pdfviewer that works with Windows Ink, it would be to count a PDFViewer for UWP

[2020-12-09 17:20] stevenbrix commented on #2602
@alwu-msft is this a known issue?

[2020-12-09 18:53] alwu-msft commented on #2602
This should be functional, without need for workarounds, as of Preview 3.

[2020-12-09 19:50] tipa commented on #3744
I'm also not happy with the current InfoBar colors. The light theme backgrounds are too light and the dark theme backgrounds are too dark. That's without having measured any hues or contrasts (and I assume the users of my app aren't doing that either), the colors just "feel" weird.
If there's still a chance to redesign the InfoBar then I would also support the suggestion @mdtauk make here: https:/

[2020-12-09 19:55] mdtauk commented on #3744
@tipa   The design chosen matches the Fluent Web control which predates this one.

I think the GitHub info banner is a good middle ground between the mockups I did, and the current designs.  It would also help with contrast ratios, as the text is on a black/very dark or white/very light background, and the icon area features the more subtle background colour, with the foreground colour being promi

[2020-12-09 20:01] avknaidu opened #3793 "Issue with FooterMenuItems not showing Selection when manually added to xaml instead of FooterMenuItemsSource."
**Describe the bug**

If you have a `ObservableCollection` Bound to `MenuItemsSource` But if you add `FooterMenuItems` Manually in xaml, The selections do not appear on FooterMenuItems

**Steps to reproduce the bug**

Steps to reproduce the behavior:

Create a Blank UWP Project. Add 'Microsoft.UI.Xaml` Package.

In `MainPage.xaml` add below

        <muxc:NavigationView x:Name="MyNavigationView" >

[2020-12-09 22:05] wjk commented on #3791
What is the progress on open-sourcing WinUI 3? I see no reason why we cannot use a tiered model of source release (where only pieces of the codebase are released at a time, as they are ready, like what happened with WPF). Waiting until _all_ features are ready before allowing third-party contributions to _any_ of them does the community a great disservice. Many of the unhandled issues on this repo

[2020-12-09 23:41] JeanRoca commented on #3451
Thanks @roxc for filing this issue. We will investigate this on our side.

[2020-12-10 00:01] stevenbrix commented on #3219
@jtorjo, is there anything consistent with the machines that this fails on? And I'm a bit unsure what the current problem is, it sounds like one went away, but a different one crept up?

[2020-12-10 00:05] stevenbrix commented on #3273
@PetarMladenov, we had some C#/WinRT issues that would prevent templates from being applied. It sounds like this could be a dupe of #3309?

[2020-12-10 00:07] stevenbrix commented on #3285
This error message is generally a red herring, and as you pointed out, was hiding a real issue. I think @RealTommyKlein fixed this in Preview3, can you confirm this still repros?

[2020-12-10 00:13] JeanRoca commented on #3289
@chingucoding thanks for filing this. Would you be able to clarify what the expected behavior is here? A repro would also be useful if possible.

[2020-12-10 00:16] stevenbrix commented on #3372
@MelbourneDeveloper, I can't really speak on Xamarin.Forms, but that is correct. But to be clear, when we say that "UWP will not move to .NET5/6", what we really mean are the `Windows.UI.Xaml.*` APIs, and not the UWP app model itself. We'll support the UWP app model with WinUI3, and it will be using the SDK-style project format

[2020-12-10 00:24] RealTommyKlein commented on #3285
The fix didn't make it into Preview 3, but will be in the next WinUI 3 release.  For anyone else who sees this error, it will likely be accompanied by other errors - fixing those should make the CompileXaml task error go away.

[2020-12-10 05:02] yaichenbaum commented on #1500
We are currently using the DataGrid from the WCT and one of the things we would like in a modern DataGrid is a way to have an empty space between the last column and the vertical scrollbar that would allow users to right click in that space without selecting an item in the DataGrid. Right now, clicking in that empty space will select a row which is not always the desired behavior. The behavior we

[2020-12-10 06:55] pjmlp commented on #3791
The current contenders against WinUI are:

Visual Control Library and FireMonkey with C++ Builder.

https://www.embarcadero.com/products/cbuilder

With graphical designer VB/Delphi style and cross platform support, no need to manually copy files around or mess with IDL files, a couple of extensions similar to C++/CX are required. No big deal, latest versions of C++ Builder make use of clang anyway

[2020-12-10 07:18] hawkerm opened #3794 "TreeViewItem Template contains many nested Grids"
**Describe the bug**
Noticed that the `TreeViewItem` template has a parent grid which then contains a further **3** grids within it. These should theoretically be all collapsible to a single grid to improve performance. This could help later with #2077 as well.

**Expected behavior**
Use less nested layout components to optimize Visual Tree and improve performance.

<details>
<summary>Initial Test

[2020-12-10 09:11] jtorjo commented on #3219
@stevenbrix I wish there was :( The only thing I did find rather consistent is that it appears on machines with 4GB or 8GB of RAM.

Also, I create the control programmatically, not from XML. And the only thing that would be a bit out of the ordinary is that it contains a `MediaPlayerElement`, which I assume may take a bit longer to initialize.

That's all I can think of.

Note that this happens du

[2020-12-10 09:52] huoyaoyuan commented on #3648
@rohanp-msft Adding a resw using Visual Studio dialog adds `<PRIResource Include="Resources.resw" />` in the project file. If it's commented out, Visual Studio shows it as `None`.

[2020-12-10 11:46] chingucoding commented on #3289
The issue is that in high contrast , for some reason, the visual state manager return null for the list of visual state groups despite the same call returns something differently on other themes. See @StephenLPeters [comment](https://github.com/microsoft/microsoft-ui-xaml/pull/3201#issuecomment-690769812) for more context.

I hope that this app repros the issue (it did not repro on my machine back

[2020-12-10 12:13] tipa commented on #3744
Some more examples of better colors, taken from https://docs.microsoft.com/

### dark theme
css class `is-danger`
![image](https://user-images.githubusercontent.com/2863198/101770277-89950300-3ae8-11eb-985a-92401114fea8.png)
css class `is-warning`
![image](https://user-images.githubusercontent.com/2863198/101770294-90237a80-3ae8-11eb-994f-8d85a89597ff.png)
css class `is-info`
![image](https://user

[2020-12-10 15:11] sibille opened #3795 "Compile Error when setting Window Title in MainWindow.xaml in a Winui3 App (Packaged Desktop)"
**Describe the bug**
Setting Window Title inthe  MainWindow.xaml in a Winui3 App (Packaged Desktop) causes the following error when compiling:

[code]

**Steps to reproduce the bug**
1. Create a new Blank App, Packaged (WinUI in Desktop) with the WinUI Vsix (Preview 3)
2. Set the Title property on the MainWindow.xaml to "App1"
3. Build the app

**Expected behavior**
App should compile and show App

[2020-12-10 15:25] mrlacey commented on #3795
Dupe of https://github.com/microsoft/microsoft-ui-xaml/issues/3689 ??

[2020-12-10 15:30] sibille commented on #3795
Oh, yes, exact same issue.
Didn't see that one, sorry.

[2020-12-10 15:30] #3795 closed

[2020-12-10 15:54] chingucoding commented on #2776
@StephenLPeters @ranjeshj Given that this seems like an issue with binding, does this need to wait until WinUI 3?

[2020-12-10 18:43] rohanp-msft commented on #3648
@huoyaoyuan That's good to know. Was that line present in the project file before you upgraded to WinUI 3.0 from WinUI 2.0? Did it go away after the upgrade?

[2020-12-10 18:48] alexdi220 opened #3796 "ToggleSwitch ignores click"
**Describe the bug**
Hi,
If I click by switch a little faster it doesn't change state. Take a look at the GIF. Looks like click ignored during an animation.

**Steps to reproduce the bug**
![](https://i.imgur.com/GvoZvbC.gif)

**Expected behavior**
The ToggleSwitch should change state independently how fast you clicked

**Screenshots**

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0

[2020-12-10 22:18] Noemata commented on #2376
With 2.5 I see this:

![image](https://user-images.githubusercontent.com/6632315/101835951-8d398180-3b0a-11eb-92ed-413647172cfb.png)

All I did was set IsSettingsVisible="True", with nothing in the PaneFooter.

If I place markup in my PaneFooter to work around this issue (this previously worked), somehow my button is occluded and does not receive any events.

Note: this markup no longer works!!!

[2020-12-10 22:29] Noemata opened #3798 "Navigation View Scrollbar beside Settings button."
When the NavigationView flag IsSettingsVisible="True" is set to activate the Settings button in the footer the following is observed:

![image](https://user-images.githubusercontent.com/6632315/101836986-59f7f200-3b0c-11eb-8bb7-bc3d9405b066.png)

This is with the 2.5 version of ui-xaml.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Install version 2.5 of WinUI
2. Set IsSettin

[2020-12-10 22:34] chingucoding commented on #3798
Since the settings item will be added to the PaneFooterItems, this is a duplicate of #3771 .

[2020-12-11 02:46] Noemata commented on #3771
Looking at the source:

For the main section we have:

[code]

And for the footer it is:

[code]

There's no VerticalScrollBarVisibility="Auto" for the footer part.

I'm also miffed that this markup is now broken:

[code]

I was using this to fix the floaty Settings button issue, but also to implement an alternate strategy for using Settings that allowed me to have a separate Setting view for each

[2020-12-11 05:32] YuliKl commented on #3744
Thank you for the suggestions.

@gabbybilka, there's no color contrast ratio requirement that comes into play here (as long as the text remains legible and at 4.5:1 against its background, which is the case).

[2020-12-11 07:23] michael-hawker opened #3800 "Discussion: Lots of Private Branches"
# Discussion: Private Branches
We had an issue on the Windows Community Toolkit about the number of non-active/private branches we had on the main repo: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3321

Looks like WinUI is getting more branches too, which makes it a bit harder to realize there's release branches for each release.

Contributors should instead fork the repo and

[2020-12-11 10:48] huoyaoyuan commented on #3648
@rohanp-msft  I upgraded from WinUI 3 Preview 2. Preview 2 didn't require the line. I did the upgrade manually.

[2020-12-11 11:45] weitzhandler commented on #719
Another super important topic missing in UWP - Validation: #179 #2476.
Related: https://github.com/dotnet/runtime/issues/40157.

[2020-12-11 13:06] Alkanores commented on #3771
@Felix-Dev @gabors  can you show example how to fix this in C#/XAML?

[2020-12-11 13:47] Noemata commented on #3771
Here are the desired behaviors:

On load ->
![image](https://user-images.githubusercontent.com/6632315/101910065-6f146580-3b8c-11eb-99ee-b329932c3df8.png)

Settings button selected ->
![image](https://user-images.githubusercontent.com/6632315/101910125-82273580-3b8c-11eb-985a-0fe05b28061a.png)

Notice how I disable the menu buttons, for certain scenarios this is more desirable.  Also, use of toggl

[2020-12-11 14:12] Noemata commented on #3447
Please see notes I added to : https://github.com/microsoft/microsoft-ui-xaml/issues/3771

[2020-12-11 14:23] Noemata commented on #3771
To be clear, I should be able to get my desired behavior with something like this:

[code]

[2020-12-11 18:38] crutkas commented on #2172
PowerToys also has this bug.  https://github.com/microsoft/PowerToys/issues/3400.  the microsoft Arc mouse seems to be affected as well

[2020-12-11 19:00] chrisglein commented on #3371
Sorry for the gap in response, @chingucoding. I did check with someone to see if this was expected to be up and working on WinUI3 and it is, although there could be bugs. If you're still hitting this their recommendation was as follows:

As in try this on preview 3 and get the callstack at the point of failure, not in the unhandled state.

[2020-12-11 19:10] kmelmon opened #3801 "Proposal: Loosen ScrollViewer.MinZoomFactor limit of 0.1"
# Proposal: Loosen current limitation of ScrollViewer.MinZoomFactor (currently the min is 0.1)

## Summary

The Photos team ran into this limitation when trying to use a ScrollViewer to host their main image viewer component.  They need to be able to zoom the image out beyond a scale factor of 0.1, and cannot

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason

[2020-12-11 19:25] chingucoding commented on #3371
Unfortunately, this still repros with preview 3. The issue is that the app crashes almost immediately; MainPage.InitializeComponent does not even get called. So beside the unhandled exception stack trace, there isn't much I can provide here I'm afraid.

[2020-12-11 22:17] cdhawan opened #3802 "WebView2: UWP App crashes when minimizing maximizing or resizing."
**Describe the bug**
UWP App crashes when minimizing/maximizing/resizing. This may not happens at once, but if we keep using the app for some time, we can repro this.

**Steps to reproduce the bug**

Create a UWP app with WebView2
Set WebView2 source uri to "https://www.microsoft.com"
Launch the app
Minimize and maximize the app (or resize) for few times.
Keep the app minimized for some time
Try t

[2020-12-12 00:08] StephenLPeters commented on #3801
@RBrid FYI.  Does new Scrollviewer have the same restriction?

@anawishnoff FYI. this is collection control adjacent. not sure if there is a better PM contact. @ryandemopoulos fyi

[2020-12-12 00:09] StephenLPeters commented on #3800
@ranjeshj and @jevansaks FYI

[2020-12-12 00:11] StephenLPeters commented on #3798
I agree with this assessment: here is a link to the work around proposed in that issue: https://github.com/microsoft/microsoft-ui-xaml/issues/3771#issuecomment-739041735.

[2020-12-12 00:11] #3798 closed

[2020-12-12 00:12] StephenLPeters commented on #3796
This is not unique to Winui3, it occurs in system xaml as well.

[2020-12-12 00:15] StephenLPeters commented on #3796
I suspect that fixing this would require code changes, which would mean fixing this requires Winui3, however its possible there is a template change that would fix it.  @karenbtlai FYI for when you look at toggle switch.

[2020-12-12 00:18] StephenLPeters commented on #3794
Reducing the number of elements in the template is awesome. If we can resolve these issues we would take a change like this.

[2020-12-12 00:19] StephenLPeters commented on #3793
@avknaidu any idea if this was introduced with Winui 2.5 or if the issue was present in earlier versions of the package?

[2020-12-12 00:22] StephenLPeters commented on #3792
Xaml is almost completely single threaded. Changing the collection causes xaml to relayout, which must occur from the UI thread.  I think crashing here is expected behavior and you should dispatch this call back to the UI thread.

[2020-12-12 00:22] StephenLPeters commented on #3792
@MikeHillberg can you confirm?

[2020-12-12 00:26] StephenLPeters commented on #3787
@karenbtlai I think I remember there being some code which ensures that 99/100 looks clearly distinct from 100/100.  Is this code causing this?

[2020-12-12 00:29] StephenLPeters commented on #3784
What about if you change the code to look specifically for Light and/or Dark theme instead of going through the Default dictionary.  Just trying to narrow down where exactly the system issue is.

[2020-12-12 00:31] RBrid commented on #3801
The ScrollViewer's minimum MinZoomFactor of 0.1 is limited by the underlying DirectManipulation APIs.

The new ScrollPresenter, built on the new InteractionTracker APIs, is limited to 0.0 instead.

[2020-12-12 00:34] StephenLPeters commented on #3797
I'm having trouble picturing exactly what is going on from your description and could imagine a few things in the system that could cause something like this.  At the very least it would be helpful to see the xaml you are using, but event better would be that min repro app.

[2020-12-12 00:39] StephenLPeters commented on #3790
I'm going to reopen the original issue, and close this one. Please post your response to @chrisglein there :)

[2020-12-12 00:39] #3790 closed

[2020-12-12 00:40] StephenLPeters commented on #3564
@katan-ms responded in #3790

[2020-12-12 00:49] jevansaks commented on #3800
The PR policy to delete branches after merge helped a lot. But there's still quite a lot of stale non-working branches. Perhaps people who don't clean up their stale branches get their repo write permissions revoked? 😲

[2020-12-12 00:57] MarissaMatt commented on #3787
@StephenLPeters @karenbtlai part of it could be with the Lottie file as well so I will reach out to design and see if they can help.

[2020-12-12 01:20] gmgallo opened #3803 "XamlControlsResources "using:Microsoft.UI.Xaml.Controls" -> Namespace NOT found after installed nugget 2.5"
**Describe the bug**

The namespace Microsoft.UI.Xaml.Controls is not available after installing WinUI 2.5 NuGet package on a new project.

**Steps to reproduce the bug**

In Visual Studio create a new WPF project targeting .NET Framework 4.8.
Add WinUI 2.5 NuGet using "Manage NuGet Packages" by right clikcikng on the project explorer.
After installation Microsoft.UI.Xaml shows in the list of Refe

[2020-12-12 01:23] gmgallo commented on #3803
What is the installation path for this package, and the namespace files?
This may be an easy fix.

[2020-12-12 04:17] avknaidu commented on #3793
@StephenLPeters I think `FooterMenuItems` was introduced in 2.5.

[2020-12-12 04:48] iomismo commented on #3792
Already dispatching to the UI thread
[code]

[2020-12-12 06:59] niels9001 commented on #3791
Agree with @mdtauk - would be super nice to see some "concept art" of how the new control styles would look like in context.

[2020-12-12 11:21] pjmlp commented on #3774
@Gavin-Williams I think first we need to have official WinRT DirectX bindings, which apparently are never going to happen.

https://github.com/microsoft/ProjectReunion/issues/14

Even the new [.NET Gaming landing page](https://dotnet.microsoft.com/apps/games) is silent in regards to official DirectX support for .NET.

So we are stuck with having .NET 5 templates depend on some community bindings p

[2020-12-12 13:54] aerojam commented on #3791
Are they any plans if or when will be WinUI 3 adopted by Windows Shell and apps like File Explorer or Microsoft Office desktop? Thanks!

[2020-12-12 14:46] cirrusone commented on #3791
Is it possible now or in future to automate WinUI through COM Interop? For example can Excel/Word/Powerpoint add-ins use WinUI?

[2020-12-12 16:06] iomismo commented on #3792
The problem is the TabItemTemplate
[code]

Using a TabView with no DataTemplate, and only adding "normal" TabViewItem, does not throw exceptions.

[2020-12-13 07:01] Gavin-Williams commented on #3774
@pjmlp There are some projects I'm keeping an eye on, such as

* TerraFX by Tanner Gooding
* Veldrid by Eric Mellino

I think there is another engine/wrapper that's being worked on too, but not sure. But I haven't seen much broad discussion about these as a replacement for SharpDX, except in pretty narrow community discussions on Discord. Is that because they aren't quite ready? What is the vision

[2020-12-13 07:45] hawkerm commented on #2898
I was creating a new control wrapping `ItemsControl` and I had to give it a Style in XAML purely because I can't define it's `ItemsPanel` in code-behind with an `ItemsPanelTemplate`.

[2020-12-13 12:44] FireCubeStudios commented on #2309
@robloo have you thought about also including a onscreen (app) color picker like the eyedropper control from windows community toolkit?

[2020-12-13 14:23] mdtauk commented on #2309
I would like to see this control make its way to the WinUI kit, and see it as a layout option for the default control, as well as the flyout experience.

With WinUI 3 - all flyouts will need to be updated to support Compact Density IMO, so any pain points like text boxes, and new light dismiss behaviours, can be implemented then.

[2020-12-13 16:06] BrianDT commented on #3751
@StephenLPeters Because I am interested in controlling the placement of the dialog I am only interested in the variant using ContentDialogPlacement.InPlace, I have no issues with the pop-up based version. I think the attached image shows the positioning concern quite clearly, the top left corner of the content dialog is positioned at the horizontal centre of its parent panel, I would like to know

[2020-12-13 18:57] alexdi220 commented on #3784
Did you mean this? (The startup theme is Dark)
[code]
It doesn't work too. The ability to change ColorPalettes in RunTime is a major feature of the custom coloring. We would use it for our theming.

[2020-12-13 20:09] kmgallahan commented on #3800
@anawishnoff

ಠ_ಠ

![Screenshot 2020-12-13 150736](https://user-images.githubusercontent.com/5379488/102022460-f8769400-3d54-11eb-8a57-22dd3891d59a.jpg)

[2020-12-13 20:12] nnemkin commented on #3791
Will WinUI 3 ever support unpackaged (plain .exe) desktop applications?

Have you considered the possibility of exposing WinUI to other languages like Python or Java? With the current build and deployment requirements, it doesn't look good.

[2020-12-13 20:48] rohanp-msft commented on #3648
OK, thanks for the info, @huoyaoyuan. I'll try to repro that (creating a new WinUI 3 Preview 3 project works for me, but if I try upgrading to it, perhaps it won't).

[2020-12-14 08:48] dotMorten commented on #2942
Update: While the original scenario is much better, revisiting in a larger sample application, this keeps happening on and off, and I don't believe this issue is fixed. Opening one page with a swapchain, then switching to a new page with a different swapchain, the new swapchain more often than not will render below the first one.

[2020-12-14 08:51] huoyaoyuan commented on #3803
`Microsoft.UI.Xaml` package is for UWP project. How can you install it to WPF project without a warning?
It takes no effect to WPF.

[2020-12-14 12:08] sonnemaf commented on #3680
Any news on this. It is a blocking feature for me. I can't really use WinUI 3.0 preview 3 due to this.

[2020-12-14 12:34] chingucoding commented on #3669
@ranjeshj Do you know what the best way to fix this would be? Shouldn't a ToolTip ensure that it complies to animation settings?

[2020-12-14 13:32] chingucoding commented on #3735
@ranjeshj @MikeHillberg Is the proposed naming fine?

[2020-12-14 13:37] nnemkin commented on #3791
It seems that WinUI 3 carries its own copy of Windows Composition. Does it run in-process now? What about system-wide DWM integration? Has the development of built-in composition stopped?

[2020-12-14 14:38] Poopooracoocoo commented on #3669
apparently this won't be fixed because winui isn't from microsoft and ranjesh doesn't work at microsoft and windows isn't from microsoft either. **who knew**

[2020-12-14 14:49] mdtauk commented on #3669
Xaml animations were updated to adhere to these legacy settings.  I guess Tooltips were not separated to match this legacy setting.

Those settings were there to control GDI and Windows Vista/7 era UI frameworks.

[2020-12-14 14:50] sigmarsson commented on #3741
Howdy @ocalvo

I am furnishing you the artifacts, please hit F5 & tell if you face the same fact as I do. Many thanks.

[Repo](https://github.com/sigmarsson/3741)

[2020-12-14 15:21] sigmarsson commented on #1794
Howdy @ranjeshj

Have you made decision on this matter ? Will you either add the Telerik one or the LiveCharts ?

[2020-12-14 15:24] mdtauk commented on #1794
I don't think they will be added to WinUI, but Telerik will most likely update their controls to work with WinUI 3

[2020-12-14 15:48] sigmarsson commented on #1794
Do you reckon Telerik leave it on community channel or will merchandise those ?

[2020-12-14 15:51] anawishnoff commented on #3800
@kmgallahan just cleaned some of mine up :)

[2020-12-14 16:11] gmgallo commented on #3803
Hi, I started writing WPF in 2018 for embedded projects with Windows IoT. Now I want to use these controls in desktop applications as described in [this page](https://docs.microsoft.com/en-us/windows/apps/winui/), with Xaml Islands (until WinUI 3 gets released), so, I followed the instructions in this page [Getting started with the Windows UI 2.x Library](https://docs.microsoft.com/en-us/windows/a

[2020-12-14 16:23] mdtauk commented on #1794
You could ask in their Open Source repo...
https://github.com/telerik/UI-For-UWP

[2020-12-14 16:50] crutkas commented on #3459
any updates here?

[2020-12-14 18:36] abhi-msft opened #3805 "Error APPX3217: SDK folder containing 'UAP.props' for 'UAP 10.0.18362.0' cannot be located."
I have a WINUI desktop app project building fine in VS but when tried from cmd giving the error:
**C:\Program Files\dotnet\sdk\5.0.100-preview.5.20279.10\Microsoft\VisualStudio\v16.0\AppxPackage\Microsoft.AppXPackage.Targets(1063,5): error APPX3217: SDK folder containing 'UAP.props' for 'UAP 10.0.18362.0' cannot be located.**

I am trying to create a CI/CD pipeline from Azure DevOps hosted build a

[2020-12-14 18:59] StephenLPeters commented on #3793
It was present in the 2.4 prerelease packages as well.  If your not sure its okay, but would be useful for when someone gets time to fix this

[2020-12-14 19:06] chingucoding commented on #3793
I would like to look into this.

[2020-12-14 19:24] stmoy commented on #3804
I think there's still an issue in the XCG which needs to update the ContentDialog page to use XamlRoot. I wonder if this is a symptom of that.

[2020-12-14 19:38] JanRajnoha commented on #3804
Xaml root is not problem. I reported bug about it, but this is new. I assign into property button, which worked okay, everything was okay, but when I try text input, nothing.

[2020-12-14 19:47] sowenzhang opened #3806 "NavigationView overflow button freezes when using ItemTemplateSelector"
**Describe the bug**
When using `ItemTemplateSelector` to visualize menu items, the overflow button frequently freezes the app.

**Steps to reproduce the bug**
The code is simple, so I will just post here.

**MainPage.xaml**
[code]

MainPage.xaml.cs

[code]

**some view model stuff**
[code]

**template selector**
[code]

This appears to work properly; however, repeat the followings:

1. resize win

[2020-12-14 20:08] #3381 closed

[2020-12-14 21:24] stmoy commented on #3804
Thanks for clarifying @JanRajnoha - in that case, I agree with @YuliKl that it sounds like this might be a platform issue.

[2020-12-14 22:10] groovykool commented on #2932
Should I give up on Drawing on Grids and create a custom panel?

This is still an issue in 2.5

[2020-12-14 23:22] #1766 closed

[2020-12-15 00:06] StephenLPeters commented on #3805
@abhi-msft can you confirm that the issue is present when using preview3?

@stevenbrix FYI

[2020-12-15 00:07] yoshiask commented on #370
Since there seems to be some discussion about customization of the RatingControl, I'd like to point out that the `Foreground` property is completely ignored.

[2020-12-15 00:11] StephenLPeters commented on #3803
Unfortunately you cannot use release candidate builds with xaml islands. This is because you need the DLL's to be copied locally for a WPF app to reference them and that doesn't happen with a framework package, which is they way our release canditates work.  You'll instead need to use a prerelease package like this one: https://www.nuget.org/packages/Microsoft.UI.Xaml/2.5.0-prerelease.201202003 Wh

[2020-12-15 00:11] #3803 closed

[2020-12-15 00:15] StephenLPeters commented on #3792
So the issue doesn't have anything to do with updating from another thread?  Can you provide a repro app? the call stack provided doesn't really make sense.

[2020-12-15 00:16] StephenLPeters commented on #3784
@kikisaints Can you weigh in on these ColorPalettes questions? I'm not sure what the proper usage of them is.  @MikeHillberg FYI

[2020-12-15 00:20] StephenLPeters commented on #3804
@JanRajnoha do you know if this issue is unique to Winui3 or if its present in system xaml as well?

[2020-12-15 00:23] StephenLPeters commented on #3751
In your example the parent panel is a stack panel. When you use InPlace mode you are deferring to the parent for placement of the dialog. Stack panel places its first child at its top (or left for horizontally oriented stack panels.) So yes, I would say this is expected. You should be able to set the vertical alignement property on the content dialog to center to get it positioned in the center.

[2020-12-15 00:29] mdtauk commented on #3804
This may be related to an issue that Windows Terminal has found
https://github.com/microsoft/terminal/pull/8403#issuecomment-744827896

[2020-12-15 00:46] YuliKl opened #3808 "Revert color changes for ListBox"
**Describe the bug**

We checked in sweeping color changes in #3728. This PR had the unintended consequence of partially updating colors used by ListBox such that this control no longer meet contrast ratio requirements. We need to undo the problem by reverting a few changes to make sure ListBox can continue to use the colors defined in the OS generic.xaml

**ListBox**
The background of selected Li

[2020-12-15 00:55] mandalorianbob commented on #3797
I have no idea why I didn't provide a snippet haha. Here's a little snippet to help explain - I'll start working on trying to get a min repro.

[code]
Detail Pane is just a DO
[code]
And DetailPaneLayout has a Panes property set to be the Content Property
[code]

DetailPaneCollection is literally just
[code]

So I don't know if that helps, but I'll begin on a min repro. Hopefully just copying the

[2020-12-15 00:59] mandalorianbob commented on #3797
Oh right - the version of the SDK I'm building against is 16299. Undoubtedly that's relevant.

[2020-12-15 02:17] mandalorianbob commented on #3797
[CachingBugMinRepro.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5692605/CachingBugMinRepro.zip)
Oh, apparently it wasn't actually relevant. I'm in 16299, but I repro'd it in 19041 too.

So if you open the popup, then close it, when you reopen it, you'll see that it did not _not_ recreate the collection object. It's very obvious with this one, because it just makes multiples.

Even we

[2020-12-15 05:15] BioTurboNick commented on #2614
@JeanRoca - Ah, I didn't realize that existed. Yeah that would work, thank you. If this is by design, I suppose this can be closed. I'm not sure what component version would be involved, but I can check if you tell me how?

[2020-12-15 05:55] MikeHillberg commented on #3641
@lhak, thanks for reporting this, I think we found the issue.

[2020-12-15 06:50] Pinox commented on #3791
WinUI 3.0 desktop apps.

In UWP you obviously create an appx packages, but there is also an option to create an eappx package ( encrypted appx package - this carries MS enterprise encryption).  Is something like an encrypted single file exe package possible with WIN 3.0 desktop apps ?

[2020-12-15 06:59] StefanKoell commented on #3791
Not sure if this is the right place because the situation right now is more than confusing but what is the status of WPF in general and in regards of WinUI. It's really a shame that WPF doesn't get any love while WinForms has been getting fixes and even new features.

[2020-12-15 08:00] chr-knafl opened #3809 "x:Bind not refreshing on interface types"
**Describe the bug**

I have an interface with different viewmodels implementing it. The interface has two properties (IsActive and Name).
When I try to display the values in an ItemsControl with x:Bind (or also not working with ItemsRepeater) and update IsActive the UI is not refreshing as expected.

Changing to Binding however works as expected.

**Steps to reproduce the bug**

MainPage.xaml
[co

[2020-12-15 12:04] alexdi220 opened #3810 "Can't copy any code from demos"
**Describe the bug**
Hi,
WinUI's demos don't provide a way to copy code (text) of the sample

**Steps to reproduce the bug**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/47348109/102212794-ceed7200-3ee6-11eb-9ddb-258385a9c2fc.png)

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0.0-preview3.201113.0]

Windows app type:
| UWP

[2020-12-15 12:09] shahabganji commented on #3809
Every class/interface that are used in `<DataTemplate x:DataType="local:IPerson">` and property changes on them are required should implement `INotifyPropertyChanged` interface, so basically change the `IPerson` interface to the following :

[code]

[2020-12-15 15:20] gmgallo commented on #3803
Thanks for the clarification, I'll try that.
By the way, in my initial line I meant to say I was writing UWP since 2018, not WPF.

[2020-12-15 16:13] chingucoding commented on #3793
@avknaidu The issue is being caused by the usage of the MenuItemTemplate. As a temporary workaround, you can try to use NavigationView without a datatemplate, e.g. by implementing your own "ElementFactory" and pass the processed collection to NavigationView.

[2020-12-15 17:27] MikeHillberg commented on #3517
I think this is fixed now in cs/winrt: https://github.com/microsoft/CsWinRT/issues/286

[2020-12-15 17:30] dotMorten commented on #3517
@MikeHillberg not for UWP which this issue is for

[2020-12-15 17:45] iomismo commented on #3792
It is from another thread, so I need to use dispatcher to be able to update the collection. It all starts from a received message in a websocket:

(Simplified version)

[code]
I will provide a complete example later (bit bussy). When adding a tabitem to the TabView with itemdatatemplate (TabViewItemData), there is no problem if it comes directly from the UI thread, e.g.: clicking the add button, t

[2020-12-15 18:32] DHowett commented on #3804
Thanks for the link-up @mdtauk! Yeah, this is impacting us on system islands.

[2020-12-15 19:23] michael-hawker commented on #2309
@mdtauk the ColorPicker/Button control from @robloo should be in the [latest Toolkit Preview](https://github.com/windows-toolkit/WindowsCommunityToolkit/releases/tag/v7.0.0-preview4) if you want to check it out. Would love any feedback before we ship it.

[2020-12-15 19:50] huoyaoyuan commented on #3805
Preview 2 is only compatible with VS 16.7. This looks like the issue reported when using Preview 2 with VS 16.8.
The only solution should be updating to Preview 3.

[2020-12-15 19:53] MikeHillberg commented on #3671
@zsolt3991, is the setup like this?:

[code]

[code]

[2020-12-15 19:54] huoyaoyuan commented on #3791
Can you ship prerelease more frequently?
The quality of WinUI 3 Preview 3 is still far from GA. We need more previews to confirm that important bugs/workarounds are fixed.

[2020-12-15 19:54] abhi-msft commented on #3805
@huoyaoyuan I am using VS 16.7

[2020-12-15 19:56] abhi-msft commented on #3805
I uninstalled SDKs that came with VS and installed them using exes and then used msbuild which made it work. Earlier was using dotnet build which I believe is not using full capabilities of msbuild.

[2020-12-15 19:58] huoyaoyuan commented on #3805
AFAIK winui isn't compatible with `dotnet build` for now. Make sure you launch the correct version of msbuild shipped with VS.

[2020-12-15 20:00] abhi-msft commented on #3805
Yeah got to know after some searching, thank you @huoyaoyuan

[2020-12-15 20:09] ackh opened #3812 "Question: How to migrate a simple Win32 app to WinUI 3.0"
I'm currently attempting to figure out how to port my Win32 application to WinUI 3.0. To better understand how basic things are done I'm trying to turn [this](https://docs.microsoft.com/en-us/windows/win32/gdi/capturing-an-image#code-example) Microsoft Win32 sample app into a C++/WinRT based WinUI 3.0 app.

To do so I have installed the Visual Studio WinUI 3.0 Project Templates and have created a

[2020-12-15 20:21] zsolt3991 commented on #3671
@MikeHillberg I was setting the value of DataContext on the highest level element in XAML when it didn't work. Setting it in the codebehind file works.

[2020-12-15 21:42] jlnordin commented on #1495
Good news! This fix made it into build 21280 which will be flighted on the dev channel of the Windows Insiders program starting tomorrow morning.

Here is the new reg key you will need to create:

    HKLM\Software\Microsoft\Input\Settings\ControllerProcessor\ControllerToVKMapping

Then add a DWORD value named `Enabled` set to `0`.

Note that if you remove the `Enabled` value or the `ControllerToV

[2020-12-15 21:49] joaodforce commented on #1495
Im going to switch to the Dev channel tomorrow just to test out this feature!

[2020-12-15 22:17] JeanRoca commented on #2614
Sure thing. In Visual Studio go to Tools -> NuGet Package Manager -> Manage NuGet Packages for Solution and check the version of Microsoft.UI.Xaml or Micrtosoft.WinUI if using WinUI 3.

[2020-12-15 22:20] rohanp-msft commented on #3648
@huoyaoyuan Would you please share the pre-migration project file? Or point me to it?

[2020-12-15 22:46] JanRajnoha commented on #3804
@StephenLPeters ContentDialog with text input works fine in UWP and I suppose it is same bug which @mdtauk wrote.

[2020-12-15 22:52] michael-hawker opened #3813 "Proposal: Integrate XAML Behaviors to WinUI & WPF"
# Proposal: Integrate XAML Behaviors to WinUI & WPF

## Summary
The [XAML Behaviors](https://github.com/microsoft/XamlBehaviors) have been a relative staple for XAML development for a long time now having IDE support in Blend and working for both WPF and UWP directly with minimal changes (besides namespaces). Since they provide common patterns/interfaces for others to build upon, it could be handy

[2020-12-16 00:03] DHowett commented on #3804
@StephenLPeters Yeah -- Terminal is an app using system Xaml (Islands) that has the same issue.

[2020-12-16 00:14] YuliKl commented on #3810
@stmoy would you recommend moving this issue to XCG repo or leaving it here?

[2020-12-16 00:21] stmoy commented on #3810
This is an issue with the WinUI 3 version of the XCG - feel free to transfer.

[2020-12-16 00:57] YuliKl commented on #2354
This issue is now fixed in the OS ([by internal bug](https://microsoft.visualstudio.com/OS/_workitems/edit/26006362)). Corrected accent color will be the default in the next version of Windows.

[2020-12-16 00:57] #2354 closed

[2020-12-16 01:01] mdtauk commented on #2354
So this is the end of
# 00 78 D4

Looking at the design tokens, it looks like the way the Accent colour is applied to Light and Dark themes will be changing.  Any chance you could share some information about this new formula for picking colours?

[2020-12-16 07:52] hawkerm commented on #3047
I just noticed a similar problem for the parent containers like TabView and ListView. If you set the Font properties on the parent ListView it has no effect on the child ListViewItems as I may expect...

[2020-12-16 12:01] niclar commented on #3791
Are there any options for data grid controls in winui 3 c++/winrt available right now ?

[2020-12-16 13:06] wbokkers commented on #3791
Will using an ExecutionAlias be supported in the next release?
See this issue: https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap5-executionalias

What issues can we expect to be fixed in the next release?

[2020-12-16 13:10] wbokkers commented on #3791
I can make a single instance WinUI Desktop work with a mutex and a named pipe, but that's a bit cumbersome. Can we expect guidance here?

[2020-12-16 13:12] wbokkers commented on #3791
How can I get toast activation to work with WinUI Desktop? Will that work the same way as in current win32 apps? (https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/toast-desktop-apps)

[2020-12-16 13:21] bkaankose opened #3814 "NavigationView documentation is outdated."
**Describe the bug**
https://github.com/microsoft/microsoft-ui-xaml/blob/dfbe38bfb2996dfaa2f09544c4e86aa69ccc906b/dev/NavigationView/docs/rendering.md

This document says that '**SettingsNavPaneItem**' is part of the templated controls. However, I think recent changes in the control made this templated part to be moved somewhere dynamic. Potentially Pane Footer area.

**Steps to reproduce the bug*

[2020-12-16 13:47] cirrusone commented on #3791
There are many controls and new features suggested in the WindowsCommunityToolkit (WCT) but many have been there for months and years, eg canvas view, text editor, grid, propertygrid, ribbon control etc. Is it possible to

i) identify a roadmap by feature/control as to whether it's likely to be developed for WinUI or WCT?
ii) identify at least an general plan, eg feature/control parity with Winfor

[2020-12-16 14:12] smj389 opened #3815 "WinUI 3.0 Preview 3 Applications crash on startup in Windows Insider Build 21227"
**Describe the bug**
WinUI 3.0 Preview 3 Applications (both UWP and Desktop and both C# and C++) crash on startup in Windows Insider Build 21227. This behaviour was not observed in earlier builds.

**Steps to reproduce the bug**
Steps to reproduce the behavior:

1. Load Visual Studio 2019 Preview 2.
2. Create a new WinUI 3,0 Preview 3 Project (UWP or Desktop, C# or C++)
3. Build the Application (x

[2020-12-16 14:57] mdtauk commented on #2309
You could add a 4th pivot, and show the most recent colours picked.  Tapping the colour in this view, could populate the colour picker in the spectrum tab, to allow picking the shades/tones.

[2020-12-16 15:18] robloo commented on #2309
@mdtauk The future plan for a recent color palette is to keep it in the existing palette tab. Section headings would be introduced and then vertical scrolling if needed. So there would be a 'Standard Colors' heading then the existing palette and below/above it a 'Recent Colors' heading with N number of recent colors which could include an eyedropper button next to it. Recent colors would indroduce

[2020-12-16 16:04] IQBigBang opened #3816 "ObservableCollection binding not working for UWP"
**ObservableCollection bound to a ListView does not correctly update the ListView on UWP**
When a ListView is bound to an ObservableCollection with `x:bind`, it does not update when the collection is changed.
This bug only works for the UWP platform. Creating a _Packaged Desktop_ project works properly.

Steps to reproduce the behavior:
1. Create a new Blank App (WinUI in UWP)
2. Modify the code l

[2020-12-16 16:18] michael-hawker commented on #2309
@robloo if you check out the latest PowerToys update their [recent color list](https://github.com/microsoft/PowerToys/pull/7710) is an interesting model to check out to compare against:

![Color Picker with Recent Color History](https://user-images.githubusercontent.com/9866362/97857603-49c74880-1cfe-11eb-9003-c610b26aed5e.png)

[2020-12-16 17:11] robloo commented on #2309
@michael-hawker Ah yes, I had forgotten about that and do like that design better. @niels9001 (author of the ColorPickerUX PowerToys control) was also the one who suggested the accent colors next to the preview color as well.

This type of design would work great below the preview color I think:

 * Adds the recent colors list in a fixed-size way (scrolls as needed)
 * Adds the Eyedropper in a goo

[2020-12-16 17:33] eleanorleffler commented on #3791
Hi! Two questions!

The DataGrid in C# crashes for WinUI 3 when scrollbars are used. Is there a timeline for when we will see that fix?

Will Win2D will be added in a WinUI 3 Preview version, i.e. before the 3.0 Release?

Thanks!

[2020-12-16 19:04] wjk commented on #3791
@eleanorleffler Please see here: https://github.com/microsoft/Win2D/issues/707#issuecomment-740361674

[2020-12-16 19:42] michael-hawker commented on #3791
Great question @cirrusone, sorry I couldn't make the call this morning. Thanks @anawishnoff for fielding an answer. For background I talk about the relationship between the Toolkit and WinUI in [this video here](https://www.youtube.com/watch?v=DdpBMUXwtDY&t=2922s).

Just like the WinUI team we get many feature requests. There's so many great experiences developers need to build great apps. Both ou

[2020-12-16 19:43] mdtauk opened #3817 "Discussion: Can we talk about the new Alarms and Clock app UI changes..."
# Can we talk about the new Alarms and Clock app UI changes...

So as a little surprise, an updated Alarms & Clock app has shown up for Windows Insiders.  There have been lots of changes, but a couple I think should be called out and discussed.

The Time Pickers being used have ditched the standard WinUI/Xaml controls, and are doing something much more customised.
These changes seem to address som

[2020-12-16 21:21] mdtauk commented on #3817
There are more screenshots here looking at the New App UI

https://medium.com/changewindows/alarms-clock-10-2012-a-closer-look-3f47718bdfa6

Some other off topic things I have noticed.
- The CommandBars have been replaced with bottom aligned Buttons - maybe this is a direction other apps will move towards?
- There are "Card" like items in some of the views, which looks like a UI affordance that fe

[2020-12-16 22:27] sis2004 commented on #2458
As I reported under [another issue](https://github.com/MicrosoftDocs/winui-api/issues/31#issuecomment-742857849), I tried to upgrade to the recent stable release 2.5.0, and discovered that `TreeView.SelectedItem` is still not recognized as a dependency property there, apparently due to the fact that it was never moved out of preview.

@ranjeshj, @StephenLPeters and @MikeHillberg - can you tell why

[2020-12-16 22:43] joaodforce commented on #1495
I've added the key to the `DWORD` to the `Computador\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Input\Settings\ControllerProcessor\ControllerToVKMapping` key, and it did not work.

I guess the build you mentioned its not out yet, I upgraded to the Build `20231` on the dev channel. gonna keep my eyes open for an update.

[2020-12-17 00:04] StephenLPeters commented on #3817
@YuliKl FYI

[2020-12-17 00:07] StephenLPeters commented on #3816
@stevenbrix or @Scottj1s was this an issue that was fixed through cswinrt with desktop? If so, would this be fixed with UWP being on .net 5?

@MikeHillberg FYI

[2020-12-17 00:10] StephenLPeters commented on #3814
@chingucoding You authored that doc, right? Would you like to update it?

[2020-12-17 00:12] StephenLPeters commented on #3812
@marb2000 Could you weigh in? Do we have Winui3 xaml islands examples?

[2020-12-17 00:12] StephenLPeters commented on #3812
@Austin-Lamb and @anawishnoff  fyi

[2020-12-17 00:13] chingucoding commented on #3814
Sure! Feel free to assign me to the issue.

[2020-12-17 00:13] StephenLPeters commented on #3792
Got it, I think we will need to sample app to make progress on this.

[2020-12-17 00:18] StephenLPeters commented on #3797
@mandalorianbob Thanks for all the info, this should be actionable with your demo app. The team is very busy and many people are taking time off at the end of the year so I suspect we wont get to this until January.

[2020-12-17 00:24] StephenLPeters commented on #3804
@DHowett a fix to this issue would require system xaml changes and wouldn't go down level, thus I've marked the issue as needs-winui-3 to be addressed after winui3 is shipped.  Has Terminal team found a work around that we can post back here?

[2020-12-17 00:27] StephenLPeters commented on #2458
I'm not sure why it wasn't included in the 2.5 release. I'll talk to the team, maybe we can include this in a later patch to the 2.5 release. No promises though.

[2020-12-17 00:31] DHowett commented on #3804
No. The workaround we've chosen is to not use ContentDialogs.

[2020-12-17 00:31] StephenLPeters commented on #2354
@YuliKl ?

[2020-12-17 00:54] DHowett opened #3820 "Feature Request: ToolTipService.InitialShowDelay"
## Summary
WPF supports configuring the tooltip delay. We do not.

## Rationale

* This is [already part of WPF](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.tooltipservice.initialshowdelay?view=net-5.0)
* An application might conceivably want to configure it
* To "configure" it today, an application will need to manually implement its own tooltips (and painstakingly recreat

[2020-12-17 00:54] Scottj1s commented on #3816
The UWP support for WinRT in NetCore doesn't know about the new MUX interface IDs for INotifyPropertyChanged, etc.  Not sure how this could work without that support.

[2020-12-17 01:02] Felix-Dev commented on #3820
See issue https://github.com/microsoft/microsoft-ui-xaml/issues/2262 which asks for feature parity between UWP XAML's tooltip and WPF's tooltip.

[2020-12-17 01:04] DHowett commented on #3820
Ah. I searched the repo for specifically "InitialShowDelay", which as you might surmise turned up nothing.

[2020-12-17 01:04] DHowett commented on #3820
It does not appear to be in the "list of missing APIs"

[2020-12-17 01:09] #3820 closed

[2020-12-17 01:12] Felix-Dev commented on #3820
@DHowett I can remove the "Property" suffix from those APIs to make those APIs easier to find when searching for them - typically we would search for "InitialShowDelay" and not "InitialShowDelayProperty". Searching for "InitialShowDelayProperty" gives me that iisue as a result so I assume it will also show up when I remove the "Property" suffix and search for "InitialShowDelay".

[2020-12-17 01:13] DHowett commented on #3820
Thanks for finding the duplicate :smile:

[2020-12-17 01:16] Felix-Dev commented on #3820
Edited that issue: It should now show up when entering "InitialShowDelay" when searching the repo.

[2020-12-17 01:49] winston-de opened #3822 "NavigationView throws threading error when used in new window"
**Describe the bug**

As of WinUi 2.5, NavigationView throws the following error when used in a separate UWP window:
`The application called an interface that was marshalled for a different thread.`

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create UWP app
2. Add NavigationView to main page
3. Create new page with a NavigationView
4. Add code to launch a new window, and n

[2020-12-17 02:47] Noemata commented on #3791
I would like to get excited about WinUI.  What’s particularly frustrating about where things are headed is the fact that WinUI feels like yet another reboot of XAML tooling with steps being taken backwards rather than forwards.  May I please get a frank answer to the following:

(1)	Why is the .Net Native compiler being abandoned?  Is it because it’s hard?  There was a lot of fanfare around the or

[2020-12-17 03:42] dotMorten commented on #3640
@Felix-Dev Not entirely. It's already possible - I'm just advocating for a project template available out of the box, instead of asking people to set this up themselves.

[2020-12-17 03:44] dotMorten commented on #1952
I assume that's because they would have the same TFM by then? That would worry me though - there are certain things you can do in UWP that you can't in Desktop and vice-versa. We handle that today with multi-targeting, but how do we handle that if the TFM isn't the differentiator?

[2020-12-17 03:57] dotMorten commented on #2942
Here's an updated reproducer using page navigation instead:
[MyNativeControlLib.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5706887/MyNativeControlLib.zip)

![swp_issue](https://user-images.githubusercontent.com/1378165/102442229-c6756400-3fd8-11eb-80e3-918cc6e8a39e.gif)

It appears on page-back navigation the old one stays around, but in this case resize generally resolves the issue

[2020-12-17 07:16] mageshsankar commented on #3721
@stevenbrix  issue occurs only for nullable type,  X:Bind is working properly for DateTimeOffset ,But binding working properly for nullable DateTime type.

Issue only with nullable DateTimeOffset

[2020-12-17 09:07] JanRajnoha commented on #3804
Okay, but I think this problem will be more Serious after releasing version ready for production apps, so avoiding to use it is not good idea. 😕🤔

[2020-12-17 09:20] tbolon commented on #3791
It seems .net native compiler received no longer investment in favor of CoreRT, which was finally superseded by [NativeAOT](https://github.com/dotnet/runtimelab/tree/feature/NativeAOT) project, which aims to merge features of CoreRT with existing features from mono native AOT. The project was essentially reboot to benefit from mono AOT experience (used for mobile dev) and CoreRT experiment.

Becau

[2020-12-17 11:22] Poopooracoocoo commented on #3817
My reactions:
I hate the side navigation. Takes up so much space unnecessarily and you don't have labels.
The cards largen on hover, something I thought the designers had finally figured out that it is a bad experience.
The new design doesn't use the new Fluent UI icons.
The tooltips still have a bug with them in that the outline appears at full opacity during transitions.
It's funny that all of t

[2020-12-17 12:45] Elmarcotoro opened #3823 "RadioButtons does not support direct content."
I'm trying to place RadioButton inside the RadioButtons group as per [documentation](https://docs.microsoft.com/en-gb/windows/uwp/design/controls-and-patterns/radio-button).

[code]

I keep getting RadioButtons does not support direct content.
RadioButtons does not support layout controls like StackPanel or Grid.

The only way I seem I seem to get it to work is if I create my own RadioButton group

[2020-12-17 13:16] mdtauk commented on #3823
I believe the RadioButtons control takes String values, and it creates it's own RadioButton controls...

[code]

[2020-12-17 13:17] chingucoding commented on #3823
I think you can also just pass RadioButton controls and it will use them.

[2020-12-17 13:18] Felix-Dev commented on #3823
The RadioButtons control should be able to work with elements passed as a `RadioButton` though. We only wrap an element in a `RadioButton` control if said element is *not* a RadioButton.

[2020-12-17 13:39] mdtauk commented on #3817
To make it clear, I am happy with the new design, and I think there are some changes which are very interesting and curious.

Some UI changes feel like a shift in approach, but without any formalised documentation or conversation, I could be reading too much into some of these changes.

Buttons aligned to the bottom, replacing the Application Bar.  I am wondering if Microsoft feels that the AppBar

[2020-12-17 13:47] Noemata commented on #3791
@tbolon, thanks for the insight.  There are conflicting concerns that are often hard to reconcile.  It is clear that one set of objectives is overriding another with respect to where UWP in particular is going.  For serious companies publishing to the Microsoft Store, it's not feasible to be giving away your intellectual property in the form of easily decompiled IL, nor is it reasonable to be usin

[2020-12-17 14:50] Noemata commented on #686
Given this: https://github.com/microsoft/InsiderDevTourDemos19/tree/master/Sessions/ui

What's happening with SceneLoad.  If this is being abandoned, please say so.

[2020-12-17 14:58] Noemata commented on #3791
Here's the 3D UWP XAML starting point that hasn't been touched for months: https://github.com/windows-toolkit/SceneLoader

[2020-12-17 15:13] Noemata commented on #3791
Here's the promised INotifyDataErrorInfo for UWP: https://www.youtube.com/watch?v=4chzzzAZRNQ

[2020-12-17 15:15] Noemata commented on #3791
The start of the .Net Native hype: https://www.youtube.com/watch?v=JoE7OytQWj0

[2020-12-17 16:55] Felix-Dev commented on #3791
@Noemata Here is my understanding about the current and (forseeable) future landscape of Windows app development and why developers should consider picking the UWP app model.

1) One core feature of the UWP app model is the ability to target *all* Windows 1 device categories. Only with UWP, can developers write apps for Xbox, Surface Hub (running Windows 10 Team), Windows 10 IoT Core and HoloLens.

[2020-12-17 17:09] Noemata commented on #3791
@Felix-Dev thank you, that was very helpful.

[2020-12-17 17:11] benstevens48 opened #3825 "Bug: Problems with ScrollViewer, TextBox and focus"
**Describe the bug**
It's possible these issues have been resolved in the new ScrollViewer control, but I am using the OS built-in version.

Create a very simple page like this with a scroll viewer and text box.
[code]
[code]

Run it, click in and out of the text box - you will see the text block text update to "Has focus" and "Does not have focus". However, here is the first bug.

Comment out the

[2020-12-17 17:33] Elmarcotoro commented on #3823
@mdtauk @Felix-Dev Thank you for your reply.
If you use <x:String> value, or also as per the example shows in the docs <SymbolIcon> The same error is thrown.

The [docs](https://docs.microsoft.com/en-gb/windows/uwp/design/controls-and-patterns/radio-button) clearly state that the following can be implemented but the error "The type 'RadioButtons' does not support direct content" is thrown for each

[2020-12-17 18:03] pjmlp commented on #3791
@Felix-Dev @Noemata

Currently WinUI is reaching 14000 items, and it was clear from the community call that we should keep believing WinUI will have a place among Forms, WPF, Blazor, Xamarin, Uno, and whatever comes next.

Also that in what concerns 3D, the team position is that .NET developers should abandon the confort of .NET tooling and write raw C++ code, with a developer experience far from

[2020-12-17 18:07] Noemata commented on #3639
@mdtauk , I don't think you realize how muddled and compromised the messaging has become.  Use WPF, but only if you don't need x or y, use UWP but only if you have to, use Win32 and hope for the best.  It's not a good message.

The promise of UWP was huge.  It's extremely disappointing to see Microsoft back peddle on all those promises.  You can't have it any way you want these days.  UWP should h

[2020-12-17 18:10] Noemata commented on #3639
The simplest solution of all would have been to provide and unboxed execution context for UWP, with it having full access to Win32.  One way to author everything, and the Win32 folks can either choose to come on board the UWP or stay where they are.  I never did see a reason why WPF couldn't have been ported over to UWP.

[2020-12-17 18:31] Noemata commented on #3639
Tragically, the timelines for this are so uncertain, that you have to wonder where everything will land.  There was a pretty good rationale for UWP (secure and trusted sandbox execution model), automatic compatibility with multiple Windows platforms and CPU architectures, consistent UI, etc. ...

The implication is that WinUI throws all of that out the Windows window.  That won't work out.  A trus

[2020-12-17 19:23] YuliKl opened #3826 "Out for the holidays! ❄😴🐱‍💻🥳🎄😊"
Most of the WinUI team is taking some much needed vacation throughout December 2020. Thank you for being patient while we relax, recharge, and return to a normal responsiveness in January 2021. In the meantime feel free to continue to pose questions, open issues, and make feature requests - you just may not get a response right away.

[2020-12-17 19:27] Felix-Dev commented on #3826
Happy holidays to the team! See you all in 2021 😊

[2020-12-17 19:30] chingucoding commented on #3826
Happy holidays to everyone and the team, see you all in 2021!

[2020-12-17 19:38] Noemata commented on #3791
You write your app for a specific tech stack because of what it has to offer.  The Windows App store and trusted app deployment was a big selling feature of UWP among many other details.  If I really wanted a C# tech stack with maximum reach, Unity is probably the most pragmatic choice.  Unity is starting to cover a lot of ground, especially as we move into more graphically intense application dev

[2020-12-17 19:45] MikeHillberg commented on #3816
Until there's support for .Net5 in UWP, WinUI3 UWP apps need to use the INotifyCollectionChanged and INotifyPropertyChanged from the Microsoft namespace rather than the System namespace, which breaks ObservableCollection.

The Xaml Controls Gallery app has an implementation of ObservableCollection that implements the right interfaces for UWP though. You can [copy it from there](https://github.com/

[2020-12-17 19:50] MikeHillberg commented on #3713
Resolved in https://github.com/microsoft/microsoft-ui-xaml/pull/3739

[2020-12-17 19:50] #3713 closed

[2020-12-17 19:53] MikeHillberg commented on #3671
Can you add a code snippet of what that looks like?

[2020-12-17 21:12] mdtauk commented on #3826
I hope you all have a happy festive season, and return in the new year refreshed, and recharged.

[2020-12-17 23:43] Noemata commented on #1045
When evaluating the remarks by posters above, the first thing I do is look at their repo.  Is the repo representative of someone that's doing real work, is what I ask myself.  Suggest Microsoft does the same when evaluating the validity of comments given.

[2020-12-17 23:55] Noemata commented on #1045
Coming from the UWP side of things, all I need is a capability that allows my UWP App to run fully unrestricted with tooling that allows for linking against conventional Win32 libs.  I, and the rest of the posters above would be golden if they embraced UWP as it stands today with such a capability.  I could develop all manner desktop applications then.  So while WinUI spins on becoming real, we ca

[2020-12-18 00:00] mdtauk commented on #3787
If I were working on the Animation file, I would have Keyframes for:
- 0%
- 1%
- 25%
- 50%
- 75%
- 99%
- 100%

[2020-12-18 00:03] sylveon commented on #1045
Lets not gatekeep feedback.

[2020-12-18 00:15] YuliKl commented on #3825
The TextBox isn't losing focus because there are no other focusable elements on this page. Focus has nowhere else to go, so can't be lost.

@benstevens48 are you suggesting that releasing on the delete button should or should not cause the TextBox to lose focus? I would expect focus to remain on the TextBox because the delete button isn't a focusable element, not sure whether you agree.

[2020-12-18 00:17] lmcdougald commented on #1045
Worth also remembering that GitHub isn't the only VCS provider out there.

[2020-12-18 00:19] MarkIngramUK commented on #1045
And many developers will be using a private repo for their day job.

[2020-12-18 00:25] YuliKl commented on #3823
@Elmarcotoro just to confirm, you're using the WinUI (Microsoft.Ui.Xaml.Controls) namespace when declaring RadioButtons?

[2020-12-18 00:25] Noemata commented on #1045
If you're a serious C# / C++/WinRT / XAML / Microsoft dev, Github is the main event.  Not posting on Github is already a partial disqualifier because you're not really contributing the the community in an accessible way.  I have private repos in a few places.  I post on Github because that's what has the needed visibility with respect to the topic at hand.

[2020-12-18 00:29] shaheedmalik commented on #3817
I hate the side navigation as well as the color used for the Navigation Bar is not the same color as the Feedback Hub. It seems as Alarms and Clock has inverted the navigation menu color from the standard color to the background color and the background color to the navigation menu color.

The lack of back button in the Navigation menu stands out as well. It also doesn't support the Taskbar back b

[2020-12-18 00:54] mdtauk commented on #3817
The Card elements are lighter on a darker background, so it makes sense to darken the main area to accommodate for that.

I think when the new Design Tokens are in place, the default Black and White background colours will change.

Feedback Hub may need to be one of the next apps to get updated.

[2020-12-18 02:05] shaheedmalik commented on #3817
My thing is the Navigation Menu isn't the same color.

[2020-12-18 02:26] mdtauk commented on #3817
I do prefer the colours used for the new Alarms app, I think the contrast works well, and it better represents the fact that Acrylic looks lighter in the Dark Theme, so should look lighter with it's fallback colour

[2020-12-18 03:19] sjb-sjb opened #3827 "Bug: WinUI3 Preview 3, problems getting User"
I am using WinUI 3 Preview 3 with C#9 to create a desktop application with an MSIX package. I am converting from UWP to desktop, which I know is a somewhat retrograde thing to do but I would like to be able to use .NET 5 and the various things that go along with it.

In my App class I have

        protected override void OnLaunched(Microsoft.UI.Xaml.LaunchActivatedEventArgs e)

and in there I try

[2020-12-18 05:19] Jaiganeshkumaran commented on #3817
@Poopooracoocoo I agree that the hamburger menu is ugly and needs to be reconsidered but on a larger screen, it's better since without the app feels empty. Maybe on smaller window sizes put the navigation view on the top.

[2020-12-18 05:21] mdtauk commented on #3817
One solution would be at a certain width, the NavigationView switches to top orientation

[2020-12-18 05:24] Jaiganeshkumaran commented on #3817
One thing that I don't like with these newer apps is that they have a full-screen settings page instead of a side panel where 70% of the screen space is plain white or black by left aligning everything. Maybe on a 13-inch device, you would not see but on a larger display, it doesn't look good.

[2020-12-18 05:37] mageshsankar opened #3828 "Question: [How to get key character using Virtual Key without using Native code ]"
I have need to get key character value from Virtual Key while type in TextBox. Currently we are using below code but it is not working in **Release Mode**
[code]

**Requirement:** How to get key character while type in **TextBox** which needs work in both  Release and Debug Mode.

[2020-12-18 06:20] davecarlisle opened #3829 "Minimum windows 10 version for WinUI 3 GA..."
By chance is it already known what the minimum win 10 version requirement will be come the WinUI 3 GA? For preview 3 we see the minimum required version is 1803 and ideally would like to know if that will be the minimum for GA or if we should expect a higher minimum version requirement.

Thanks!

[2020-12-18 06:39] BorzillaR commented on #3389
@codendone, thank you.

I think it is one of the common migration issues from UWP. In WPF the popup is just a standalone window. In UWP there is only one CoreWindow per thread. It is no need to place the popup to the visual tree there. But in WinUI for Desktop popup should be the visual child of any element. We cant get the current window from our class libraries (this is impossible with such arch

[2020-12-18 07:14] BorzillaR opened #3830 "Question: How to show the svg image in its native size?"
Hello!

I have a simple svg image

[code]
When I set the Image.Stretch property to None I expect the image size will be the same as svg size (20x20).

`<Image x:Name="image1" Source="MyImage.svg" Stretch="None" HorizontalAlignment="Center" erticalAlignment="Center"/>`

But actually the image ocupies the entire window area.

Setting Width="20" and Height="20" solve this. But in my scenario I do not

[2020-12-18 07:52] IQBigBang commented on #3816
Ok thanks, but I think this should be mentioned somewhere in the documentation as I was going through the documentation for [ItemsSource](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.itemscontrol.itemssource?view=winui-3.0-preview#Microsoft_UI_Xaml_Controls_ItemsControl_ItemsSource), which points to the [INotifyCollectionChanged](https://docs.microsoft.com/en-us/do

[2020-12-18 09:49] benstevens48 commented on #3825
@YuliKl - no the first issue is a bug or at least a design flaw. If you don't have the scroll viewer then the text box will lose focus when you click outside. If you think about what the user expects then you want it to lose focus - e.g. think about renaming a file in File Explorer or Visual Studio. At the moment one has to put in an invisible button at the top of the scroll viewer - is that reall

[2020-12-18 10:17] benstevens48 commented on #3825
Upon further reflection, I've decided that I don't mind the first issue so much, where the text box does not lose focus when clicking outside, because I can work around it by using an invisible button and at least that gives me some degree of control. This isn't completely ideal though, and the WinUI team might want to have an internal discussion about it and/or open another issue. I've made a not

[2020-12-18 11:54] Felix-Dev commented on #3829
As per the [official documentation](https://microsoft.github.io/microsoft-ui-xaml/about.html#controls), 1803 and above will be the supported Windows versions for WinUI 3 (so the same as for the preview versions).

[2020-12-18 12:25] sigmarsson commented on #3620
Infragistics is also engaging WinUI :

https://www.infragistics.com/products/winui

[2020-12-18 14:14] Elmarcotoro commented on #3823
Hello @YuliKl.  Thank you for your response.  The project is a WinUI3 desktop project. running in Visual studio 2019 Preview.
I would have thought RadioButtons was part of the standard namespaces as the other controls are.  If I hover over <RadioButtons> it maps to Microsoft.UI.Xaml.Controls.RadioButtons and there are no squigglies unless I try to add content.

If I go to the Nuget Package manager

[2020-12-18 14:49] hooligan495 opened #3831 "Question: DatePicker Styling"
Hi,
I am trying to change the styling of the DatePicker's FlyoutPresenter.. specifically I'd like to change the hover and pressed states when you move your mouse pointer over a Month or Day or Year.. Currently in the "dark" theme this hover effect is a gray background.  I'd like to change it to a colored back ground (My UX team is needy) and the Pressed state seems to be a lighter gray.  And I als

[2020-12-18 15:17] mdtauk commented on #3817
I think those apps which originally had very few settings available, felt they could use sidebars or flyouts for them, have come to realise having an entire page makes it easier to add more settings as needed, and so much so, that the NavigationView has a consistent location for the Settings Page.

I happen to like the idea of a settings page, and find the Office UWP apps in particular, very out d

[2020-12-18 15:24] Jaiganeshkumaran commented on #3817
@mdtauk No you are wrong. Even if more settings are added they are added at the bottom and not in the side making it really bad requiring a lot of scrolling just to see a few options. Example Apps & features vs Programs & features. Even Visual Studio can fit may options in a dialogue than UWP apps will full screen available to them.

![திரைப்பிடிப்பு (160)](https://user-images.githubusercontent.co

[2020-12-18 15:30] mdtauk commented on #3817
I didn't mean you **can't** add new settings with a sidebar view, but Calculator for example, is adding a Settings page, instead of the current button flyout it uses.

My main issue with Settings in a sidebar is that, it is an out-dated design pattern from Windows 8, and it feels cramped and harder to read, when all the App's UI is still visible.

Your image examples are slightly skewing the conve

[2020-12-18 15:33] Jaiganeshkumaran commented on #3817
@mdtauk Apps should not waste a full page just for a some options that don't benefit from the full page frame model because they have put in the left. I would suggest putting each category next to each other on a larger screen and up and down on a smaller screen. Windows is not made only for small screen tablet users.

[2020-12-18 15:35] Jaiganeshkumaran commented on #3817
Why not something like this and remove content dialog max width limitations:
![திரைப்பிடிப்பு (165)](https://user-images.githubusercontent.com/45227503/102632196-beeac200-4174-11eb-9514-6cdea20fe53f.png)

[2020-12-18 15:39] Jaiganeshkumaran commented on #3817
Responsive UI should not be mobile-first UI that doesn't optimize itself on larger screens but should be UI that is optimized and appropriate the current screen size.

[2020-12-18 15:43] Jaiganeshkumaran commented on #3817
Full screen pages should be full screen only they fit the screen. This is a fundamental flaw in Modern UI and should be stopped or the page should be reconsidered to put overlay in the side on large window sizes

[2020-12-18 16:08] mdtauk commented on #3817
Modal Windows are something that modern apps try to avoid using.

We are not necessarily talking about mobile UIs here, Windows runs on many devices, including on displays running lower resolutions like 1024 x 768 (although I think 1366 x 768 is considered the baseline now)

![Screenshot (50)](https://user-images.githubusercontent.com/7389110/102635095-bb424580-414a-11eb-8f57-b22f0f6ccb1a.png)

Se

[2020-12-18 16:33] sigmarsson commented on #3741
- 1. This is yet persisting on my end in Mixed debug mode :

![image](https://user-images.githubusercontent.com/43340959/102637709-b1264400-4156-11eb-88d9-00818d141198.png)

- This exception is being thrown in Managed only :

`Opening a popup failed because the XAML runtime is running to support DesktopWindowXamlSource, and in this mode a popup must be a child of a live XAML element.`

Please advi

[2020-12-18 18:54] davecarlisle commented on #3829
Thanks @Felix-Dev!

[2020-12-18 18:54] #3829 closed

[2020-12-18 19:45] yoshiask commented on #3817
This is certainly true, but the design should work reasonably well for all screen sizes. The current settings layout works pretty well on mobile/small portrait devices and 13" laptops, but even on my 15" (125% scaled) laptop (which is pretty standard for a laptop), it looks like it's wasting some space. UWP XAML has the VisualStateManager, isn't this exactly what it's for?

[2020-12-18 20:00] mdtauk commented on #3817
And it already is in place.  The right hand sidebar moves below the main Settings screen.  The Sidebar then collapses down as it gets even narrower.

On the larger screens, you do have the option to size the Window, so there is no need to maximise it in those circumstances.

But yes, for really large resolutions, the layout will not fill the screen/panel.  But it is not because of modern UI or mob

[2020-12-18 20:14] MikeHillberg commented on #3823
@Elmarcotoro - I'm seeing this too (WinUI3 Preview3), but as an Intellisense error rather than a Build error. So when I build/run it actually works. Is this what you're seeing too?

[2020-12-18 20:49] MikeHillberg commented on #3816
Agreed, sorry it was difficult to find. I created an [Issue on the doc page](https://github.com/MicrosoftDocs/winui-api/issues/42). (There's also info in the [release notes](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#known-issues).)

[2020-12-18 20:49] #3816 closed

[2020-12-18 21:01] sigmarsson commented on #3389
Howdy,

Can you advise on [3741](https://github.com/microsoft/microsoft-ui-xaml/issues/3741) anything ? I face the same exception though having no popup.

[2020-12-18 21:10] MikeHillberg commented on #3827
About the signature of `OnLaunched`, you're talking about the change from the `Windows.ApplicationModel.Activation` namespace to the `Microsoft.UI.Xaml.LaunchActivatedEventArgs` namespace? That's intentional in WinUI3, but confusing because of the name duplication; we're planning to rename the type.

About the other problems (User and VCRTForwarders), could you split them into separate issues? The

[2020-12-18 21:29] MikeHillberg commented on #3822
@winston-de - are you able to get a call stack at the exception? I couldn't reproduce, using this as NewPage.xaml:

[code]

[2020-12-18 22:17] michael-hawker opened #3832 "Visual Artifacts and Behavior Discrepancies with Radial Progress Bar"
Was just playing with the updated XAML Controls Gallery, noticed some issues with the new determinate Progress Ring:

- [ ] Value of 50 isn't half of the circle:
![image](https://user-images.githubusercontent.com/24302614/101382506-e4222b00-386c-11eb-9b58-6706e4610ca1.png)

- [ ] Values aren't determinate. Setting a value doesn't result in the same behavior all the time:
![image](https://user-imag

[2020-12-18 22:18] michael-hawker commented on #3767
@MarissaMatt filed #3832

FYI you can turn any comment into a new issue, super handy:
![image](https://user-images.githubusercontent.com/24302614/102666443-c8a40380-413b-11eb-817c-ee53ad907b76.png)

[2020-12-18 22:19] chingucoding commented on #3832
I think that's a dupe of #3787.

[2020-12-19 00:07] YuliKl commented on #3832
Indeed, thank you @chingucoding. Closing this issue as a dupe.

[2020-12-19 00:07] #3832 closed

[2020-12-19 00:11] YuliKl commented on #3831
I would begin the hunt in DatePicker's themeresources files: https://github.com/microsoft/microsoft-ui-xaml/tree/master/dev/DatePicker

[2020-12-19 00:14] StephenLPeters commented on #3830
@BorzillaR what are the layout properties of the image? I think Horizontal alignment = stretch could cause this behavior as well.

[2020-12-19 00:18] StephenLPeters commented on #3828
KeyDown Event has a property of type VirtualKey. Which is an enum that contains all of the accepted keys.  Why can't you just use that property?

[2020-12-19 00:30] winston-de commented on #3822
@MikeHillberg There is no stack trace (that I know of). The entire output of the error is below. The only reason I figured this was an issue with NavigationView is because the issue started just after updating to WinUI 2.5 and switching to the Windows.UI NavigationView fixed the issue.

Also, give me a minute, I'll try and figure out why you can't reproduce the issue.

Here is the data from the er

[2020-12-19 02:25] michael-hawker commented on #3832
Ah, sorry I didn't see that one had already been filed based on my comment! 🤦‍♂️

[2020-12-19 02:26] michael-hawker commented on #3787
Originally posted from: https://github.com/microsoft/microsoft-ui-xaml/issues/3767#issuecomment-740059870

[2020-12-19 02:31] Jaiganeshkumaran commented on #3817
That's true but what I feel like is newer stuff are wasting more screen space. Whitespace should be used but 70% of the page should not be whitespace.

[2020-12-19 02:36] Jaiganeshkumaran commented on #3817
If the content is small obviously it will not fit but if there's a lot of content, I expect it to fit the screen. For example, the apps and features list would be better as a GridView

[2020-12-19 02:50] mdtauk commented on #3817
With the examples you have given, it does not make sense for the UI elements to move into multiple columns.  And if they are to follow the correct recommendation with line length etc - there is no benefit from stretching the content to fill the width available.

Your suggestion for the Apps and Features page has some merit to it, however, you then run the risk of the different Settings screens bei

[2020-12-19 02:56] Jaiganeshkumaran commented on #3817
@mdtauk I never said this is a fault. This is a fault of Microsoft designers you can't see beyond 13-inch screens. It does make sense to put each section in columns because you can see more options with less scrolling.

[2020-12-19 03:01] mdtauk commented on #3817
If your goal is to fill the screen with stuff, then yes columns make sense.

If you wish to provide a sorted list of settings controls, then the hierarchy of how they are listed matters, and how much you provide in one view, can overwhelm.

We are all entitled to our opinions of course, but trying to be inclusive and sticking to best practices of UI design and Information architecture - should ove

[2020-12-19 03:04] Jaiganeshkumaran commented on #3817
@mdtauk Yes there should be empty space to not overwhelm the user but at the same time, it should not require a lot of scrolling just to see a few options when enough screen space is available.

[2020-12-19 03:10] mdtauk commented on #3817
Long scrolling is probably more of a sign that the settings should be split onto multiple pages, or that there may be a need for expandable/collapsable sections of content.

Not necessarily a call for spreading it all out into multiple columns when the settings only make sense in a vertical single column view.

[2020-12-19 03:12] Jaiganeshkumaran commented on #3817
@mdtauk Why not change layout using VisualStateManager? Small screen users will get the same exact UI but wider screen users can see more by filling the screen more

[2020-12-19 03:17] mdtauk commented on #3817
VisualStateManager is already used to reposition the right hand sidebar content, to collapse and hide the left sidebar when narrow.

![image](https://user-images.githubusercontent.com/7389110/102679558-7fd66400-41a8-11eb-9b59-3f896bead840.png)
_Narrowest_

![image](https://user-images.githubusercontent.com/7389110/102679578-8ebd1680-41a8-11eb-8264-aa15244fd670.png)
_Narrow_

![image](https://user-

[2020-12-19 03:35] Poopooracoocoo commented on #3817
I wonder if that settings page would look less empty if the content were centred or had larger margins on the sides.

Something like Chrome's internal Polymer pages with its card UI? ~~Edge's pages have a larger width that increases the distance between a label and a toggle, and it lacks separators.~~ It's what Unigram does.

Photos is a better example than Alarms & Clock as you have more than one

[2020-12-19 03:45] mdtauk commented on #3817
The Photos settings page has headered sections, which could probably be split into Settings Pages, like the Your Phone Settings screens.

Many apps will increase the left and right margins as the window gets wider already.  I am not sure centring will do much good for the perception of space used.  Also most UWPs call for left alignment, so things would start to look odd, especially if content fro

[2020-12-19 03:59] Jaiganeshkumaran commented on #3817
This is the best-designed settings page in a UWP app according to me:
![திரைப்பிடிப்பு (167)](https://user-images.githubusercontent.com/45227503/102680251-a57d6080-41dc-11eb-88d9-8be107209c2c.png)

[2020-12-19 04:05] mdtauk commented on #3817
It's a nice layout, but it is only a few options, on a single page.

The Settings app itself, needs to accommodate a lot more variety of content and pages, which is why it has the widths and layouts that it does.

Alarms & Clock has a few settings, but not too many right now.

The only change I would make to it, is to move the About content to the right, as you see in Paint 3D and the right sideba

[2020-12-19 05:01] winston-de commented on #3822
@MikeHillberg
It seems like the issue occurs when you have two different windows with NavigationViews open simultaneously.
Try adding another NavigationView to your main page, or just open the window twice.

[2020-12-19 07:00] Jaiganeshkumaran opened #3833 "Question: How to get current cursor position in RichEditBox?"
I want to retrieve current cursor position in RichEditBox and I tried getting the Selection's start but that does not work if there's no text selected.

[2020-12-19 08:25] Elmarcotoro commented on #3823
@MikeHillberg Thank you, You are correct, it does build and run.  I never tried to build because of the error.  I feel foolish:-(
For the WinUI guys this is happening on the ProjectReunion nuget package.

[2020-12-19 08:25] #3823 closed

[2020-12-19 13:51] sjb-sjb commented on #3827
@MikeHillberg glad the namespace change is intentional.
The main point of my question is the User exception. I'd rather leave the other items in there because they could interact with the question about User throwing an exception, and I don't feel they need solving other than that. I will edit to reflect this.

[2020-12-19 14:42] pingzing opened #3834 "Bug: XAML children of a MapControl do not update location until the user interacts with the map"
**Describe the bug**
If a XAML element has been added to a MapControl, and that element's `MapControl.Location` attached property is changed, that change will not be reflected on the map until the user interacts with the map, or the map redraws. Things that seem to trigger an update:
 - Mousing over a MapIcon (anywhere on the map)
 - Zooming/panning/rotating/tilting the map
 - Mousing over a trans

[2020-12-19 16:04] sjb-sjb opened #3835 "Application.OnActivated is not called."
Using WinUI 3 Preview 3, use the project template to create a desktop app with MSIX package.

Add the following to App.xaml.cs:

        protected override void OnActivated(IActivatedEventArgs args)
        {
            Debug.WriteLine($"App activated! Kind is {args.Kind}");
            base.OnActivated(args);
        }

Expected: the method is called when m_window is activated
Actual: not called

[2020-12-19 18:25] sigmarsson opened #3836 "Window's visibility"
How to hide a WinUI window and its respective taskbar icon ? I can see only the opacity can be changed of the Content's UIElement.

[2020-12-19 19:41] scottkuhl commented on #2952
I was quite shocked to find out this feature was not implemented in UWP and has been brought up multiple times over the years with no fix.

[2020-12-19 19:46] mdtauk commented on #2952
I get the impression Microsoft sees little value in the Pivot control these days.

[2020-12-19 21:36] nahomebssa commented on #3737
In case it hasn't been mentioned, TabView should have a customizable tab strip background.

[2020-12-19 23:05] sjb-sjb commented on #2609
@MikeHillberg , you commented that "CoreDispatcher only works in a UWP app". Noting it will also work on a WinUI 3 desktop app that is in an MSIX package. To access the CoreDispatcher, create a Window in OnLaunched, assign the Content of the window to be a UI element ("rootElement"), and subscribe to the Activated event of the Window. Then in the Activated event, test that the WindowActivationStat

[2020-12-20 01:27] janos-ijgyarto commented on #3812
Seconded. I also have an old Win32 project that I would like to boost using WinUI, and the sample linked by the OP covers most of the use cases involved. The documentation keeps pointing to XAML Islands, but there is no comprehensive guide that describes, from start to finish, how to take a legacy project (i.e without any configuration for WinUI) and setting it up to use WinUI.

[2020-12-20 02:19] knightmeister commented on #179
@stevenbrix are we able to get an official position from Microsoft on this please - when/if it is likely to happen. I'm looking at starting a new project soon and validation is a major consideration for it as a LOB application.

[2020-12-20 02:25] scottkuhl commented on #2952
That would be a good question to ask on the next community call.  I found comments about this issue going back 6 years with no resolution.  I'm considering replacing the pivot control entirely because of this.

[2020-12-20 02:44] davecarlisle commented on #3835
Having the same issue with WinUI 3 Preview 3 with desktop...

[2020-12-20 04:29] robloo commented on #2952
The Pivot is not the only control that has been neglected since the beginning. Lack of fixes like this is often cited as one of the reasons devs went back to WPF.

On Microsoft's part: since everything historically shared the same UI framework including the OS, breaking changes were nearly impossible. With WinUI 3 decoupled and the compatible version set by each app I hope it all changes and we ca

[2020-12-20 21:12] sigmarsson commented on #3741
` <muxc:TabView x:Name="MainTabView">
            <muxc:TabView.TabItems>
                <muxc:TabViewItem Header="Welcome">
                    <muxc:TabViewItem.IconSource>
                        <muxc:SymbolIconSource Symbol="Placeholder" />
                    </muxc:TabViewItem.IconSource>

                </muxc:TabViewItem>`

Problem is vanishing if this line is kept uncommented.

This is

[2020-12-20 22:07] sigmarsson opened #3837 "<OutputType>Exe</OutputType>"
1. Why is there an assembly Weather.History.Splash.dll in the output folder even though I requested an Exe as output ?
2. Why is there a ./ref subfolder in the output folder, containg also an assembly with the same name ?

[code]

[2020-12-20 23:05] sigmarsson opened #3838 "Can I consume an app service from a WinUI ?"
Can I add a **Windows Runtime Component** to my WinUI project ? I guess no since that is an UAP. An app service must be hosted in this type of runtime component.

How can I integrate an app service into a WinUI exe ?

[Consume an app service](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/how-to-create-and-consume-an-app-service)

[2020-12-21 03:09] Jaiganeshkumaran opened #3839 "Discussion: Make acrylic a priority for WinUI 3 instead of a point 1 release"

[2020-12-21 03:10] Jaiganeshkumaran opened #3840 "Discussion: Make acrylic a priority for WinUI 3 instead of a point 1 release"
# Discussion: Make acrylic a priority for WinUI 3 instead of a point 1 release
Back in 2015 and 2016, the Feedback Hub was flooded with transparency related suggestions and so please make acrylic a priority for WinUI 3 instead of saving it for a minor release. When you can update visual styles, why can't you make acrylic come in WinUI 3 and then do other stuff in a minor release? It doesn't even c

[2020-12-21 03:11] #3839 closed

[2020-12-21 03:19] mdtauk commented on #3840
They mentioned they had started discussing how to achieve Acrylic, and they are looking at a 3.1 release for it - during the December 2020 WinUI Community Call

[2020-12-21 03:20] Jaiganeshkumaran commented on #3840
@mdtauk I know. What I'm asking it make it a high priority and delay WinUI 3 major launch for it/

[2020-12-21 06:02] Gavin-Williams opened #3841 "Can't enable debug layer"
From https://docs.microsoft.com/en-us/answers/questions/205298/can39t-enable-debug-layer.html

I'm using TerraFX DirectX wrapper in a Desktop.WinUI project / .Net 5.

I've enabled the debug layer with the following code.

[code]

This works for one project - samples that are available for TerraFX, but it doesn't work in my own project built from the Desktop.WinUI project template in VS.

Is there

[2020-12-21 06:23] Gavin-Williams commented on #3841
I needed to also set
[code]

[2020-12-21 06:23] #3841 closed

[2020-12-21 06:59] BorzillaR commented on #3741
Hello!

I  have reproduced this issue in a simple scenario

![image](https://user-images.githubusercontent.com/23479280/102744945-0c7d4f80-436c-11eb-9e43-359350f4b7b3.png)

It seems the bottom app bar in UWP is opened in popup and that popup needs to be placed in the visual tree.

[2020-12-21 07:58] BorzillaR commented on #3830
@StephenLPeters, you are right.

I tried to set different values for Image.HorizontalAlignment/VerticalAlignment/Stretch properties but without success. The image still has a large size.

For more clarity, I create an image with the one red rectangle inside and put it into the green border.

*The svg image*
![image](https://user-images.githubusercontent.com/23479280/102751996-ea8ac980-4379-11eb-93

[2020-12-21 09:24] grokys opened #3842 "ItemsRepeater does not respect HorizontalAlignment."
**Describe the bug**

`ItemsRepeater` does not respect the `HorizontalAlignment` property, always aligning with the `Stretch` strategy.

**Steps to reproduce the bug**

Example XAML comparing the behavior of `ItemsRepeater` and `ListView`:

[code]

(Note that I had to surround `ItemsRepeater` in a `Border` to get a background color because it also does not respect the `Background` property)

**Exp

[2020-12-21 09:53] BorzillaR commented on #3517
@dotMorten, did you try to use workaround as described [here](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#known-issues)?

[CollectionsInterop sample](https://github.com/microsoft/Xaml-Controls-Gallery/blob/winui3preview/XamlControlsGallery/CollectionsInterop.cs)

[2020-12-21 12:38] huoyaoyuan commented on #3838
Maybe you should look into **CsWinRT** repo to find how to reference winmd in .NET 5 project.
Even you can reference it, consuming app service may still not be supported.
This issue falls into the scope of CsWinRT or ProjectReunion.

[2020-12-21 12:41] huoyaoyuan commented on #3840
There should some technical difficulty. Acrylic is somehow provided by the OS itself. WinUI 3 need to define the communication between the OS, since the xaml platform is not provided by OS now.

[2020-12-21 12:56] huoyaoyuan commented on #3837
This is the structure of .NET Core output. The exe isn't managed if you inspect it with ILSpy. It's a native executable that starts coreclr. The dll contains actual managed application. *In fact, the exe is optional.*

Maybe some tooling requires it. I'm not sure.

[2020-12-21 13:06] huynhsontung commented on #2556
This problem persists even when targeting 19041 (min 17763).
![image](https://user-images.githubusercontent.com/31434093/102780072-2b6aea00-434a-11eb-8bd2-88810eaf704b.png)
It only affects `Setter`s in my case. I use `contract7Present:CornerRadius` and `contract7Present:Description` in other places in this file and it compiles just fine.

[2020-12-21 13:38] StevenTCramer commented on #2550
I have this issue right now.  And after reading this it probably did correlate with updating the Radeon graphics driver.

[2020-12-21 14:08] get-flat commented on #3827
https://github.com/microsoft/microsoft-ui-xaml-specs/blob/Win32/active/Win32/Window_and_Application_API_Spec.md#xamllaunchactivatedeventargs-class

"UWPLaunchActivatedEventArgs Gets the LaunchActivatedEventArgs from UWP. This property is null in a Desktop app." - can it be read as for winui3 you cannot use User info?

[2020-12-21 15:33] anawishnoff commented on #3812
Most of our team is on holiday break now, but I'm hoping when we return in Jan someone from the engineering side will be able to answer your specific questions, @ackh. Sorry about the delay here.

@janos-ijgyarto - as for documentation for migrating apps to WinUI 3, I know that this is a gap in our documentation. This is something we're hoping and aiming to provide at the WinUI 3.0 release, so sta

[2020-12-21 15:55] BorzillaR opened #3843 "The Window.Current.CoreWindow.PointerPressed event is never raised"
**Describe the bug**

Hello!

I subscribe to the Window.Current.CoreWindow.PointerPressed event in my WinUI for **UWP** application by this way

![image](https://user-images.githubusercontent.com/23479280/102795183-838f0400-43bd-11eb-8793-b5ef053d6950.png)

Event is never raised.

**Version Info**

Windows 10 1903 (OS Build 18362.1082)

**NuGet package version:**

WinUI 3.0.0-preview3.201113.0

**

[2020-12-21 16:19] sigmarsson opened #3844 "Prism.Uno + NInject"
1. Can you provide a documentation or example of Prism integration into a WinUI project?

2. Do you think if the Prism's IoC container can be configured by using a ready NInjectModule? I inherit from this class to set up unit tests but I wish to reuse that code in WinUI as well.

Thank you.

[2020-12-21 16:37] shaheedmalik commented on #3840
They are stubborn. I don't understand the point of Open Source if they don't listen in the first place. We have been asking them about a faux acryllic or fallback acryllic on every Monthly Call for months. In the amount of time, someone here could've ripped the acrylic from Notepads and implemented. The creator posted himself and told them exactly what he did.

They insist on creating inconsistenc

[2020-12-21 18:12] ShankarBUS commented on #3840
@shaheedmalik,

Ugh, you guys don't understand what they mean by **"acrylic is not supported in WinUI 3.0"**.

What they actually mean is WinUI 3 has it's own composition APIs (`Microsoft.UI.Composition`) and it doesn't use the `Windows.UI.Composition` APIs.

The `Compositor` provided with `Windows.UI.Composition` namespace has a method called [`Compositor.CreateHostBacdropBrush`](https://docs.mic

[2020-12-21 18:20] mdtauk commented on #3840
This issue is only here to encourage conflict as I see it.

The WinUI team has said Acrylic (Host Backdrop) _**is**_ a priority, but their approach is not only to enable Acrylic, but future materials and visual effects.

We have brought it up, I have brought it up at the past several WinUI Community Calls - and it is scheduled for the 3.1 release, which is about 4 months after the 3.0 release.

If

[2020-12-21 18:23] ShankarBUS commented on #3840
@mdtauk,

Well, I couldn't agree more.

[2020-12-21 18:26] mdtauk commented on #3840
In App Acrylic should still work as I understand it, but it does not have access to the background rendering to show the desktop and other windows with the brush.

[2020-12-21 19:03] YuliKl opened #3845 "Rename acrylic resources"
**Describe the bug**

With #3498 we added and updated acrylic resources. Now it's time to change the names of these resources to better align with other new colors/brushes that are being checked in.

I would like to see the following changes:
| Current resource name                  | New name |
| :--------------------------------- | :-------------------- |
SystemControlBaseAcrylicBrush | AcrylicB

[2020-12-21 19:04] YuliKl commented on #3845
@chingucoding FYI, just in case you would be interested in tackling this work.

[2020-12-21 19:05] chingucoding commented on #3845
Sure, I'll work on this.

[2020-12-21 19:07] BorzillaR opened #3846 "Question: Is it possible to show svg image in NavigationViewItem?"
Hello!

I want to show svg image in NavigationViewItem in my WinUI for UWP application.
Is it possible?

[2020-12-21 19:09] mdtauk commented on #3845
Is this for the main branch, or for the Design Tokens one?

[2020-12-21 19:46] YuliKl commented on #3846
@BorzillaR Ideally, you're looking for SVG support in BitmapIcon, as proposed in #1494. Unfortunately that doesn't work yet. Instead, you can retemplate your NavigationViewItems to use an Image instead of an icon, and add SVGs that way. Not sure if that feels like the right amount of work for your scenario.

[2020-12-21 19:51] ackh commented on #3812
Thanks @anawishnoff for your reply. I understand, it's not an urgent matter.

WinUI 3.0 could simplify my life a lot when it comes to Windows app development which is why I'm very interested in understanding how things are done with it. I see no reason for me to wait until it is finally released when I can already start developing with it now. So, I just hope someone can clarify how to port the Wi

[2020-12-21 20:38] BorzillaR commented on #3846
@YuliKl, thank you!

[2020-12-21 21:03] CrazyBatkin opened #3848 "Task view system animation broken for the past 2 years"
I know it's probably not the right place to talk about this, as you guys are the team working on UWP apps and not the Windows shell, but I was wondering if you could spread the word to the Windows shell team, as it's now been over two years and this bug still got no fix. It's hard for me to believe that none of the devs have noticed it yet, and I feel it's kind of a shame that this bug is still th

[2020-12-21 21:13] maxkatz6 commented on #3846
Also NavigationViewItem uses IconElement in the API, so it should be possible to define your own IconElement with svg support inside of its template or copy source of BitmapIcon. I haven't tested it, but should just work.

[2020-12-21 21:20] Felix-Dev commented on #3848
@CrazyBatkin Outside of the Feedback Hub, the right place to report this issue right now is the [WinDev](https://github.com/microsoft/WinDev) repo where an issue about this exact behavior already exists: https://github.com/microsoft/WinDev/issues/38 It is my understanding that the Windows engineering teams will use that issue for tracking and status updates.

[2020-12-21 23:26] CrazyBatkin commented on #3848
@Felix-Dev thanks a lot ! I'll have a look over there then :)

[2020-12-22 01:27] JsonTextfield opened #3849 "TabView: Closing left-most tab throws exception when IsAddTabButtonVisible = false"
**Describe the bug**

When closing the left-most tab, calling `sender.TabItems.Remove(args.Tab);` in the TabCloseRequested event handler
while `IsAddTabButtonVisible = false` causes a `System.ArgumentException`.

**Steps to reproduce the bug**

1. Create a TabView with some tabs, set `IsAddTabButtonVisible = false` and create an event handler for `TabCloseRequested`.
2. In the `TabCloseRequested`

[2020-12-22 02:57] shaheedmalik commented on #3840
I know what the issue is, as I have been one of the ones bringing up host acrylic monthly..

[2020-12-22 02:59] Jaiganeshkumaran commented on #3840
I believe they have some proprietary logic that's bundled with Windows which they can't simply make it available to the public.

[2020-12-22 03:19] ShankarBUS commented on #3840
@shaheedmalik,

I was just making it clear for you since you mentioned that the Notepads developer made his own acrylic brush. His method won't work either in WinUI 3. That was what I wanted to say.

@Jaiganeshkumaran, precise.

[2020-12-22 06:48] sigmarsson commented on #3838
Could you estimate the WinUI version that will support hosting and consuming app services ?

[2020-12-22 06:54] huoyaoyuan commented on #3838
This not bound to WinUI version. It's about .NET 5/UWP.
WinUI 3 for UWP should be able to consume app service from the start.

[2020-12-22 07:32] sigmarsson commented on #3838
I have a .NET 5 WPF (client) and the WinUI 3 (as service provider). I wish to alter some appearance of the WinUI application from the client, through this app service IPC. Can you advise how to integrate a **Windows Runtime Component (Universal Windows)** project through CsWinRT ?

[2020-12-22 07:33] huoyaoyuan commented on #3838
https://github.com/microsoft/CsWinRT/blob/master/docs/usage.md

[2020-12-22 08:33] Jaiganeshkumaran commented on #3833
End position seems to work but if I add Selection to a collection like vector and later access it, it reports the current one and not the one that was when the range was pushed.

[2020-12-22 09:29] sigmarsson commented on #3838
Do you think it is more straightforward than a classic named pipe empowered by the classic WCF ?
Frankly, I do not understand this :)

[2020-12-22 12:11] Changed-Daily opened #3850 "Should EF Core 5.0.1 work with WIN UI preview 3?"
Hi,

I am trying to get EF Core working in my test WIN UI project ("Packaged, WINUI in Desktop"). I have created the basic template packaged application and then followed the Getting Started guide for EF Core:

Install-Package Microsoft.EntityFrameworkCore.Sqlite
Added Model.cs
Install-Package Microsoft.EntityFrameworkCore.Tools
Add-Migration InitialCreate

At this point the process fails:

These

[2020-12-22 16:26] syndek commented on #3815
I'm having the same issue on build 21277.1000, but if my memory serves correctly, this was happening to me before I actually installed an Insider build. I don't have a machine to test this on right now, but I'm pretty sure this is unrelated to the Windows build you use.

[2020-12-22 16:38] BorzillaR opened #3851 "Question: What is the best architecture of a theme engine?"
Hello!

In our components, we want to have the ability to change themes. The main requirements which we want to fit are:

- Themes could change the entire style of the component, but not only its brushes or colors.
- Each theme should be separated from the main app. For-example, it could be a separate file on a drive (or in a cloud), which the end user can copy (download) and apply without reinsta

[2020-12-22 19:04] sigmarsson commented on #3741
Thank you @BorzillaR !

[2020-12-22 23:49] chingucoding commented on #3684
@mdtauk The separator does not reposition itsself or extend. The current behavior is that it moves up with the rest of the icons. I am not sure if that is the best behavior, but I think that it might look a bit weird if it rearranges itself to be the center of the larger row.

Also, I would like to work on this issue.

[2020-12-23 00:00] mdtauk commented on #3684
If the separator won't resize to be centred into the bar when it resizes to show the labels, it should at the very least remain in line with the icons.

But I think being centred in the bar, and resizing, would make the most sense.

![image](https://user-images.githubusercontent.com/7389110/102944169-e661c780-44b1-11eb-8263-58e41aeb8c37.png)

[2020-12-23 00:03] chingucoding commented on #3684
Looking at this now, the AppBarSeparator style doesn't seem to have already been added to WinUI. As part of my PR, I would add a new file "AppBarSeparator" with an appropriately named style for BasedOn usage and the AppBarSeparator style from the SDK generic.xaml file.

[2020-12-23 00:07] mdtauk commented on #3684
Would a Stretch Vertical alignment, with 4px top and bottom margin, do the trick, or do you manually have to adjust the height with a Storyboard?

Multi-line wrapped text would need to be considered too.

[2020-12-23 00:08] chingucoding commented on #3684
Yes, totally agree with you and this was my plan for the fix.

In most cases, yes it would probably be the best behavior. However, there are two issues here:
1. The sizing of items on the CommandBar is actually always the "expanded" height, only that the bottom part is hidden. Because of that, I am not sure if this is possible to implement just through the style
2. In the case of a CommandBar wher

[2020-12-23 00:14] mdtauk commented on #3684
AppBar/CommandBar is not open sourced yet, so changing the way it works would have to wait until 3.0 right?

It is also an older control, like Pivot - so probably has not been holistically looked at.  The CommandBarFlyout control is more modern, and seems to animate much more fluidly (guessing its composition animations?) so would it also make it easier if that control is updated?

[2020-12-23 00:27] chingucoding commented on #3684
Exactly, it might be that the ideal scenario is not possible to achieve until WinUI 3.

Does CommandBarFlyout even have vertical separators? None of the test pages in the MUXControlsTestApp seem to expose that. So I don't think that CommandBarFlyout would have an impact here.

[2020-12-23 00:29] mdtauk commented on #3684
Wasn't saying it did (although maybe it should) Only that the way CommandBarFlyout animates is a lot smoother than many other controls, so maybe the CommandBar/AppBar could gain something when you are able to edit/update it.

[2020-12-23 00:53] chingucoding commented on #3684
Oh misunderstood you there, sorry. I agree that other controls could get updated/edited animation wise given that CommandBarFlyout has very good animations.

[2020-12-23 05:31] CoderTyn opened #3853 "0x76C4A892 处(位于 App1.exe 中)引发的异常: Microsoft C++ 异常: winrt::hresult_error，位于内存位置 0x005CF0F0 处。"
**Describe the bug**
使用VS2019自带模板新建winui3 c++桌面项目，编译通过，运行报这个错误。

**Steps to reproduce the bug**

Steps to reproduce the behavior:
使用VS2019自带模板新建winui3 c++桌面项目，编译通过，运行报这个错误。

**Expected behavior**
正常编译运行

**Version Info**

winui3 preview3 Nov
NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  | Yes |

| Windows 10 version

[2020-12-23 10:23] Gavin-Williams opened #3854 "ExpIndependentPointerInputObserver - usage."
When setting up an ExpIndependentPointerInputObserver (the WinUI version of CoreIndependentInputSource) how do I get it to process events? The old way was..
[code]
But the DispatcherQueue for the new pointerObserver lacks the ProcessEvents method.

[2020-12-23 10:36] Gavin-Williams commented on #2609
Seems like it might be mighty sensible to make UWP and desktop behave the same way and have the same capabilities with regard to Windows. UWP is just a security model after all, not a model for application design.

[2020-12-23 11:48] Osaxely opened #3855 "Question: How to fix XML Exception when loading XAML with WinUI ?"
Hello,
I have an issue since about three days that affects the developement of my application. When I load my XAML page, I get an Xml unhandled exception :
![image](https://user-images.githubusercontent.com/59126998/102993177-f95db180-451c-11eb-948e-ebf65487b78f.png)
Here is the precise error.
[code]
When I load the XAML Designer without WinUI controls, it don't crash. I tried to reinstall the pac

[2020-12-23 17:05] chingucoding commented on #3855
Does this exception occur when you are loading the page in the designer? Which version of Visual Studio are you using? Have you updated your WinUI and/or Visual Studio version recently?

[2020-12-23 17:18] Osaxely commented on #3855
Hello, finally I get this error everytime, even with a blank new xaml page.
I updated all my references and Visual Studio to latest version

[2020-12-23 17:23] chingucoding commented on #3855
Oh, I thought that this might be an issue with WinUI 2, but if even a blank new XAML page (so no references to WinUI controls on that page) crashes the designer, this sounds like a regression with Visual Studio. Does this also happen when you create a blank project and don't reference WinUI 2?

This might be a long shot, but maybe you can try if you are able to use the designer without crashes usi

[2020-12-23 17:51] Osaxely commented on #3855
Ok I'm trying and will tell you if that's worked

[2020-12-23 20:30] Elmarcotoro opened #3856 "NumberBox appears to be throwing "Source information is missing" exception."
**Describe the bug**
We are running a WinUI3 desktop app with Visual Studio 2019 preview.
We have a NumberBox prepopulated using a Twoway x:bind to an integer.

**Steps to reproduce the bug**
If we edit the number box with another integer.
Tab or click away from the NumberBox control we receive the following error.

"Source information is missing from the debug information for this module."
"Unhan

[2020-12-24 07:00] #3285 closed

[2020-12-24 07:00] #3273 closed

[2020-12-24 11:12] Osaxely commented on #3855
I had to reinstall Windows, but now everything is working :) Thanks !

[2020-12-24 11:17] chingucoding commented on #3855
Glad to hear that it works now, even if you had to reinstall Windows.

[2020-12-24 13:33] Hakobyan8888 opened #4061 "TreeView crashes"
Hell I'm trying to use TreeView control but it crashes with this error

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> Windows.UI.Xaml.Markup.XamlParseException: The text associated with this error code could not be found.

Cannot find a Resource with the Name/Key TabViewButtonBackground [Line: 28 Position: 10]
   at Windows.UI.Xaml.Appl

[2020-12-24 14:33] huoyaoyuan commented on #3850
The EF migration command uses `dotnet build`, which is not supported by WinUI project now.
The workaround is defining EF related things in another project and reference it from WinUI project.

[2020-12-24 15:10] huoyaoyuan opened #3857 "Random 'cannot access disposed object' when using custom loaded image"
**Describe the bug**

I'm using `BitmapSource.SetSourceAsync` to load images, because the loading requires authorizing so that cannot be achieved by `UriSource`.

The image is used in a virtualized GridView.

Loading code snippet:

[code]

Throwing call stack:
[code]

I cannot find anything useful here.

If the application is launched with debugger, the exception will be ignored. One image control

[2020-12-24 15:48] huoyaoyuan opened #3858 "Proposal: provide some suggested approach or support for custom image loading"
# Proposal:
Provide some suggested approach or support for custom image loading

## Summary
Introduce a mechanism behaves like `BitmapImage.UriSource`, but the loading process is customized.

## Rationale
There are many images cannot be loaded with an uri only, for example websites requires authorizing. Currently the approach of customizing is not clear. I tried but met some issue #3857 .

## Scop

[2020-12-24 15:54] shresthasource commented on #448
Is that also the reason that the Accelerators for ListView ContextFlyout do not work when the ListView does not have any item?

[2020-12-24 16:13] huoyaoyuan commented on #3857
Looks like a duplicate of microsoft/cswinrt#640

[2020-12-24 16:22] Changed-Daily commented on #3850
Hello huoyaoyuan,

I already have my "Model" and "DataLayer" in separate projects so re-targetting those was easy. I of course also had to remove references to the Microsoft.WinUI package in those projects. They are all in the same solution as my WINUI project but setting the "DataLayer" (EF Core) project as the startup project for the Add-Migration - it works now. Great and thanks for your help.

[2020-12-24 17:58] zhuman commented on #719
A major barrier I would have to using WinUI right now is the inability to host a child HWND - or even better, bring back the IDCompositionDeviceDesktop::CreateSurfaceFromHwnd as a new function in Windows.UI.Composition to host layered child windows. Bringing CreateSurfaceFromHwnd into the new API would solve so many issues with hosting third-party plug-ins, the "airspace problem", and enable peopl

[2020-12-24 17:59] zhuman opened #3859 "Add CreateSurfaceFromHwnd to Windows.UI.Composition"
A major barrier I would have to using WinUI right now is the inability to host a child HWND - or even better, bring back the IDCompositionDeviceDesktop::CreateSurfaceFromHwnd as a new function in Windows.UI.Composition to host layered child windows. Bringing CreateSurfaceFromHwnd into the new API would solve so many issues with hosting third-party plug-ins, the "airspace problem", and enable peopl

[2020-12-24 23:32] chingucoding commented on #3670
I would like to look into this.

[2020-12-25 07:45] hupo376787 opened #3861 "Discussion: How to keep ItemsRepeater's all items"
# Discussion: [Keep ItemsRepeater's all items]
Suppose an `ItemsRepeater` is vertical, and it has 50+ items. If I scrolling down to the bottom, the top items maybe dispose of and regenerate when scrolling to the top.

I set the `VerticalCacheLength` to a number, like 100. But it seems the same things happen again.

So how to keep all items.

[2020-12-25 08:41] lorisobi opened #3862 "Proposal: Flexible Movable Ink Bar"
# Proposal:  Flexible Movable Ink Bar
Rebuild the Inkbar to be (optional) movable around the screen and adjust it's design to fluent

## Summary
A new, optimized Windows Ink Toolbar

## Rationale

* it allows more flexibility on touch devices
* it fits to Windows 10 X and the Fluent Design Guidelines

Concept/Idea (movable with the three dots):
![image](https://user-images.githubusercontent.com/28

[2020-12-25 13:04] aquinn39 commented on #3530
I have this issue too.
It is very annoying and is very easy for users to trigger.

[2020-12-25 21:12] chingucoding commented on #3398
Closing this issue now as searching for "WinUI" now also lists WinUI as the first result and as such has been resolved:

![Screenshot of search results for WinUI](https://user-images.githubusercontent.com/16122379/103142016-b60e6900-46fd-11eb-8306-521d5ae78a90.png)

Thanks to everyone who was involved in fixing this :)

[2020-12-25 21:12] #3398 closed

[2020-12-25 21:18] DiegoMagdaleno commented on #2236
So is Acrylic a planed thing? Until it is independent from the Operating System itself and depends on WinUI?

[2020-12-25 21:22] chingucoding commented on #2236
Yes Acrylic is a planed thing, however it will not arrive with WinUI 3.0. According to the [WinUI 3 roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) will arrive with a later WinUI 3 version.

[2020-12-26 07:00] #3564 closed

[2020-12-26 08:50] CoderTyn commented on #2500
I have the same question.

[2020-12-26 09:19] huoyaoyuan commented on #3861
This is a feature called UI virtualization. To avoid this, use a non-virtualizing `Layout`, or use `ItemsControl` with non-virtualizing `ItemsPanel`.

With that said, it's suggested to keep all required state in your view model. Control is much heavier than view model.

[2020-12-26 15:25] shresthasource commented on #889
I am seeing the same issue with keyboard accelerators assigned to a page inside a tab.
* Load a page with different arguments inside different tab items.
* The page has context menu items (and corresponding keyboard accelerators).
* Clicking a context menu item always executes command in the same page (inside currently selected tab). However, using keyboard accelerators assigned to the same contex

[2020-12-26 19:34] wjk commented on #3851
Hey there! The best way to accomplish this would be to implement the themes as XAML ResourceDictionary instances (which can contain both simple resources like colors and full-blown templates that completely redesign the control). Normally, these files are parts of the app’s source code and are compiled into non-editable XBF files during the build process. However, there is the [XamlReader class](h

[2020-12-26 21:01] carlsound opened #3863 "CMake support for Win32 desktop apps"
Will it be possible to use CMake to generate a Visual Studio solution for using C++/WinRT XAML UI's for Win32 desktop applications with 3.0?

[2020-12-27 03:41] hupo376787 commented on #3861
I used `StackPanel` to prevent virtualizing, In each item data template, I also used an `ItemsRepeater`, so it likes an matrix generally.

If I scroll the first row to the last item, and then scroll to the last row, then scroll back, the first row is scrolled to the 1st item.
I can use a picture to describle.

![image](https://user-images.githubusercontent.com/14960168/103163389-549ee500-4838-11eb

[2020-12-27 03:41] hupo376787 commented on #3861
So I just want to keep the all rows view state.

[2020-12-27 04:52] huoyaoyuan commented on #3861
I'm not sure the behavior here. But you may create a view model for each row to hold its selection state.

[2020-12-27 04:59] huoyaoyuan commented on #3863
Since WinUI is a Windows only concept, what's the benefit of supporting CMake?
The different between CMake and MSBuild is much more significant than .NET side. I think it's much harder than supporting .NET Core SDK.

[2020-12-27 05:07] maxkatz6 commented on #3861
If you want to disable virtualization with StackPanel, you need to wrap whole ItemsRepeater with it, so repeater will be measured with infinity height.
But I agree with @huoyaoyuan that you should keep all important for you state in the ViewModel.

[2020-12-27 15:38] sjb-sjb commented on #2609
@Gavin-Williams i agree they should do that as far as possible, including setting Window.Current equal to the first Window that is created (or the first in order of creation among all remaining windows). It might be a bigger challenge for the application lifecycle ... should be doable for a packaged desktop application though.

[2020-12-27 16:16] CoderTyn commented on #3853
when i run the packaged project,it works.but this error occurs everytime i run the project named App1(auto-generated).

[2020-12-27 23:04] vadd98 opened #3864 "PointerWheelChanged event is called only when pressing Ctrl while scrolling"
**Describe the bug**
I'm using the WinUI 3 Preview 3 and I'm trying to implement a method to handle the PointerWheelChanged event of a GridView in order to customize the scrolling behaviour (I'm implementing an horizontal scrolling when rolling the mouse wheel while pressing the Shift key). I noticed that PointerWheelChanged is called only when I roll the wheel while pressing the Ctrl Key, otherwi

[2020-12-28 00:12] hungnd1475 opened #3865 "ListView does not maintain current selected item when its SelectionMode is changed."
**Describe the bug**

When changing `ListView.SelectionMode` from `Single` to `Multiple` and vice versa, the current selected item is lost in the transition.

**Steps to reproduce the bug**

One simple way to reproduce the bug is using the XAML Controls Gallery app:

1. Go to `ListView` page.
2. Scroll down to the section about selection support.
3. When in `Single` mode, select an item, then use

[2020-12-28 03:47] hupo376787 commented on #3861
You mean I need to keep each row's selected item/index, when the row start to bring into view, then scroll to the item/index.

Am I right?

[2020-12-28 03:57] dotMorten opened #3866 "Improve error message when referencing WinUI3 from net5.0 project"
**Describe the bug**
The build error you receive when incorrectly targeting `net5.0` instead of `net5.0-windows10.0.xxxxx` is very unhelpful:
[code]

VS also shows the following tooltip error:
![image](https://user-images.githubusercontent.com/1378165/103188408-33acb300-487d-11eb-99bb-9b66005e1d05.png)

This issue was reported by a user in the WinUI Discord channel, and didn't know what to do at f

[2020-12-28 07:41] BorzillaR commented on #3851
Thank you, @wjk! I will try to use the approach suggested by you.

[2020-12-28 12:11] #3833 closed

[2020-12-28 12:27] zed220 opened #3867 "InputInjector.InjectKeyboardInput send NumBad2 instead of Down"
**Describe the bug**

I'm using the InputInjector.InjectKeyboardInput for input emulation.
I send the "VirtualKey.Down" on the focused TextBox. The TextBox shows the "2" value.

**Steps to reproduce the bug**
[App49.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5747278/App49.zip)
1. Run the attached project.
2. Wait 5 sec.

**Expected behavior**
Nothing shown in editor. The KeyDown eve

[2020-12-28 12:31] joslan commented on #1784
Still not solved. So sad...

[2020-12-28 16:59] Noemata commented on #179
@GeertvanHorrik , WPF was fantastic in its day and is still viable.  Suggesting it as an alternative to UWP for those of us that were coaxed away from WPF by Microsoft's UWP dream feels like a stab in the heart after the stab in the back with Silverlight.

On this particular topic, promises were made in 2018: https://www.youtube.com/watch?v=4chzzzAZRNQ

There was all sorts of hoopla about how grea

[2020-12-28 17:39] Noemata commented on #719
I would be happy to see UWP reach feature parity with where Silverlight and the Silverlight SDK left off (not even WPF).  LOB friendly controls for things like validation.  Feature parity and support for all the controls that were in Silverlight.  That includes the XNA like 3D features added near the end.  That shouldn't be a big ask given how straightforward porting most of the code should be and

[2020-12-28 17:49] Noemata commented on #719
Lastly, I did notice how easy it is to go from UWP to WinUI where things work.  I doubt WPF folks will find the transition that easy.  Wouldn't it have been easier to add a desktop capability (no sandbox) to UWP and port the existing WPF API over to UWP than the path being taken now?  WinUI 3.x on day one can't be missing things like the map control.  The current feature set of UWP should be seen

[2020-12-28 20:09] get-flat opened #3868 "Templated XAML controls for WinUI 3 C#"
**Describe the bug**

Exception on InitializeComponent:
Exception thrown at 0x75A246D2 in BgLabelControlApp.exe: Microsoft C++ exception: winrt::hresult_error at memory location 0x02DBDE68.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Follow instructions: https://docs.microsoft.com/en-us/windows/apps/winui/winui3/xaml-templated-controls-csharp-winui-3

**Expected behavior**

[2020-12-28 20:15] YuliKl commented on #3865
@hungnd1475 this behavior feels by design. While going from single to multi-selection and maintaining the currently selected item could make sense, this behavior definitely wouldn't work in reverse, when going from multi to single-selection. So for consistency, it feels best to have the same behavior regardless of current selection mode.

Closing this issue as by design.

[2020-12-28 20:15] #3865 closed

[2020-12-28 20:28] MartinZikmund commented on #916
I would definitely love to see this behavior adjusted. Maybe it could be controlled by a separate property like `SkipCollapsedSpacing`. Similarly it would be useful for `Grid` where it could be used to skip spacing for empty columns/rows.

[2020-12-28 22:26] YuliKl commented on #3853
@CoderTyn, can you please translate your issue description into English? This isn't actionable for us as written. Please reopen the issue with an English description.

[2020-12-28 22:26] #3853 closed

[2020-12-29 00:08] mdtauk commented on #3546
There was an issue posted some time back, about exploring changes to the Reveal effect.  As Button is one of the primary controls to use Reveal, I think it may be time to decide on the path to take, and to put it to use with the new Button visuals.

![image](https://user-images.githubusercontent.com/7389110/103249990-ae52fc80-4969-11eb-8275-f4f0b0feb5c4.png)
_At the moment the Reveal Button styles

[2020-12-29 00:16] mdtauk commented on #3546
There is also a related problem that has cropped up with the new Button visuals.  Many controls which use a Button as a primitive, are not removing their borders.  So lots of controls get faint outlines around them right now.

There should probably be a built in Style to remove all visual elements for these uses - the new Ghost Control colours could be used, or border thicknesses set to 0.

![imag

[2020-12-29 01:02] knightmeister commented on #179
I completely agree. It's incredible to me that a company as large as Microsoft can't even get validation - which was implemented in WPF years ago (they're using the same pattern!) - working in WinUI. Validation is absolutely critical for any LOB scenario. The silence is absolutely deafening on this one, there has been no response by @stevenbrix with me questioning whether this is going to be suppo

[2020-12-29 03:42] smk2007 commented on #2956
Hi is there any update on adding transparency to WinUI 3?

[2020-12-29 10:07] Elmarcotoro commented on #3649
I was able to get working as @huoyaoyuan suggested.  However I get the below exception.

`Exception thrown at 0x75D8A892 in [appName].exe: Microsoft C++ exception: winrt::hresult_error at memory location 0x0337E618.`

If I click continue in VS the app initialises and I can see the tooltip.

This is a more verbose exercise.  I would rather be explicit in the resw resource, especially where a contro

[2020-12-29 12:49] get-flat commented on #3868
May be duplicate of: https://github.com/microsoft/microsoft-ui-xaml/issues/3657
Could you please update documentation that even for the most basic examples from your documentation you have to apply hacky workarounds.

[2020-12-29 17:53] robloo commented on #916
This is more of a bug. I wouldn't advocate adding a new property to control this. Concerns about changing existing apps would be trivial. The change is non-breaking and would only slightly affect the look of some (an extremely small number) of apps.

[2020-12-29 19:42] jingkecn commented on #3822
I only used the MUXC version NavigationView but I also got crash w/ NV in a new window after updating to WinUI 2.5

[2020-12-29 19:56] MartinZikmund commented on #916
@robloo I am afraid people who come across this have actually employed some "hacks" to work around this (like negative margins), so it would be a breaking change. But it is probably an acceptable one. For `Grid` on the other hand, it could be a new (and useful) behavior.

[2020-12-29 20:03] robloo commented on #916
Non-breaking to me means the app will still compile, build and run without errors or crash. Of course visually these are differences but there are also differences when styling is updated from time to time. I agree that it is acceptable reguardless.

[2020-12-29 21:27] Noemata commented on #686
@sohchatt , Any news?

[2020-12-30 01:43] Poopooracoocoo opened #3870 "Empty scrollbars are often shown"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
I don't know. Open Intel Graphics Command Center.

**Expected behavior**

No useless scrollbars that overlap content?

**Screenshots**

**Version Info**

NuGet package version:

[Microsoft.UI.Xaml 2.4.0]

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

|

[2020-12-30 02:44] aschultz commented on #3017
I ran into this error with the following project configuration:
- React Native Windows 0.63 (references Microsoft.UI.Xaml.2.3.191129002)
- Custom C++/WinRT library project (references Microsoft.UI.Xaml.2.5.0 and RNW)
- C++/WinRT UWP app project (references Microsoft.UI.Xaml.2.5.0 and the other two projects)

Note here that none of this is pre-built. These are all being built from source as part of

[2020-12-30 06:52] smk2007 opened #3871 "Drag and Drop on GridView fails in desktop application with WinUI Xaml Islands"
**Describe the bug**
Cannot use Drag and Drop in GridView.

**Steps to reproduce the bug**
Build a XAML UserControl and embed into a native Desktop application.
Add a GridView and enable drag and drop functionality:

        <GridView x:Name="test_grid" Width="300" Height="90" **CanReorderItems="True" AllowDrop="True" CanDrag="True"**>
            <GridView.ItemTemplate>
                <DataTempl

[2020-12-30 07:16] smk2007 commented on #3871
Same issue with simpler XAML that works fine on UWP:

        <GridView MaxHeight="310" AllowDrop="True" CanReorderItems="True">
            <Rectangle Height="100" Width="100" Fill="Blue" />
            <Rectangle Height="100" Width="100" Fill="Red" />
            <Rectangle Height="100" Width="100" Fill="Green" />
        </GridView>

[2020-12-30 10:39] JanPeter commented on #3864
I can confirm the problem with Windows 20H2 build 19042. Seems odd to barely find any docs on how to introduce this scrolling behaviour.

[2020-12-30 12:10] Felix-Dev commented on #3870
I believe the "empty" scrollbars show up because the developers forgot to set the [VerticalScrollBarVisibility](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.scrollviewer.verticalscrollbarvisibility) to "Auto" on the used ScrollViewers. By default, it is set to "Visible" which explains why you see the scrollbar.

For the new WinUI ScrollView class, the default value for this AP

[2020-12-30 14:27] Elmarcotoro commented on #1755
Hello,
I'm testing two projects:
WinUI 3 with Microsoft.WinUI nuget.
WinUI 3 with Microsoft.ProjectReunion nuget.
Both are running in VS 2019 Preview.

I have followed these docs https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.BitmapIcon?view=winrt-19041
The image is in a folder called Assets.

I've tried to place a BitmapIcon in:
`
<AppBarButton >
                <AppBarButton.I

[2020-12-30 14:45] Elmarcotoro commented on #3709
I have the same issue with a WinUI 3 project in VS2019 Preview.

<AppBarButton Label="Square">
                <AppBarButton.Icon>
                    <BitmapIcon UriSource="ms-appx:///Assets/Test.png"/>
                </AppBarButton.Icon>
</AppBarButton>

The above does not display an image.  I've tested in a UWP project and it runs without fault.

I wonder if this a deeper issue with images in

[2020-12-30 14:47] Felix-Dev commented on #3763
Looks like a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/1967 (this issue has an additional error output description).

[2020-12-31 01:52] Shadowblitz16 commented on #1080
I would like to see support for hosting a window in a scrollable panel.
mainly because its good for single small/single monitors but also because it can be used with other gui patterns like docking.

[2020-12-31 02:19] Shadowblitz16 opened #3872 "Proposal: Designer for everyone"
# Proposal: [Designer for everyone]

## Summary

Can we have a designer that suits not only the needs of xaml designers but also winforms designers?
Here are a list of things I think are good qualities of both...
- Winforms property grid is easy to use
- Winforms events are easy to use
- Winforms supports static layout
- Winforms outline view can be dragged and dropped to rearrange the hierarchy o

[2020-12-31 04:51] sjb-sjb commented on #2609
@MikeHillberg  what I don’t understand about using DispatcherQueue instead of CoreDispatcher is that DispatcherQueue.TryEnqueue returns synchronously but CoreDispatcher.RunAsync returns an awaitable. How should I achieve the same effect as RunAsync using DispatcherQueue?

[2020-12-31 05:05] robloo commented on #3279
There is a need in some cases to prevent the expander from expanding/collapsing. However, it is very difficult to implement this correctly with the current control even in WPF. In order to support this I propose adding two things:

 1. PreviewExpanded/PreviewCollapsed events that allow cancelling the operation
 2. A new property IsPinned could be added to pin or lock the expander in the current st

[2020-12-31 07:00] #3792 closed

[2020-12-31 13:45] huoyaoyuan commented on #3872
The "rich" xaml designer is Blend. It hasn't been ported for latest xaml features though.

[2020-12-31 13:52] mdtauk commented on #3872
Blend hasn't been a rich or great Xaml designer since it became VisualStudio Blend

Expression Blend 3 was really a design focused tool.

I suspect the idea in the future, will be moving all/most design tasks to Figma, with a plugin to export XAML.  Fine for laying out UIs, but not great for animation, control templates, or visual states.

[2020-12-31 18:10] robloo commented on #3815
WinUI 3 was to decouple itself from the OS to prevent these sorts of issues and incompatibilities. I am very curious to know what is causing this from a technical standpoint.

[2021-01-01 19:49] sigmarsson commented on #3844
The next DryIoC nuget package will introduce the class DryIoCModule, which will act the same as the NInject counterpart.

[2021-01-01 19:49] #3844 closed

[2021-01-01 23:45] Shadowblitz16 opened #3873 "Question: [Is WinUI 3.0 going to use native controls for windows 8.1 and below?]"
**Is WinUI 3.0 going to use native controls for windows 8.1 and below?**
I don't see any point in people moving to this if their apps are not native by default on older systems.

Also the fact that win32 is backwards compatible back to win95 and dot.net is only backwards compatible back to WinXp without backwards compatible libraries and AOT.

I understand Microsoft wants to move more towards UWP

[2021-01-01 23:54] chingucoding commented on #3873
WnUI 3.0 as of right now will only be available to Windows 10 1803, so the question what controls are being used for Windows 8.1 and below does not arise at is not available for those platforms.

[2021-01-01 23:55] Shadowblitz16 commented on #3873
are there plans on eventually supporting all windows versions?

[2021-01-01 23:58] chingucoding commented on #3873
I wouldn't bet on it. If you need downlevel support, you should try out [Uno Platform](https://platform.uno/), especially if you want cross platform support.

[2021-01-02 00:00] Shadowblitz16 commented on #3873
Is uno even native on older versions of windows?

[2021-01-02 00:03] chingucoding commented on #3873
No for older Windows versions such as Windows 7, Uno platform can use a native shell. To read more about Windows 7 you can check this link out: https://platform.uno/windows7/

[2021-01-02 00:06] Shadowblitz16 commented on #3873
ok ty

[2021-01-02 00:07] #3873 closed

[2021-01-02 01:48] sjb-sjb opened #3874 "Bug: await CoreDispatcher.RunAsync does not continue."
This item was identified in the discussion thread #2609.

WinUI documentation says that the CoreDispatcher can be obtained from any UI element (https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.dependencyobject.dispatcher?view=winui-3.0-preview).

However, in a test of RunAsync the continuation did not execute.

Steps to reproduce: Install Visual Studio Version 16.9.0 Preview 2.

[2021-01-02 07:00] #3828 closed

[2021-01-02 15:48] sjb-sjb commented on #3827
@get-flat I don't think those are the same thing. For one thing, the UWPLaunchActivatedEventArgs is not null, for another the comment you quoted is not in the WinUI vesion of the docs (I have edited the original post and linked it above). This looks like a bug to me. Shouldn't the MSIX package should provide the user?

[2021-01-03 13:23] FireCubeStudios commented on #3862
![image](https://user-images.githubusercontent.com/40955345/103479625-44a27a80-4dcf-11eb-98f5-9f9990975e63.png)
i made a custom ink toolbar design for my app with some extra features. maybe it could be used

[2021-01-03 13:28] mdtauk commented on #3862
Maybe the same UX as the floating On-Screen Keyboard and the Powertoys ColourPicker could be a guide here, for how to move and drag the inking toolbar around

![image](https://user-images.githubusercontent.com/7389110/103479705-6c8de000-4dc7-11eb-8314-1b75cd4c263f.png)
![image](https://user-images.githubusercontent.com/7389110/103479720-862f2780-4dc7-11eb-9a58-f9b0ee2a335b.png)

[2021-01-03 15:57] FireCubeStudios commented on #3840
pls focus on fixing bugs rather than adding a visual affect as opaque colors can easily be used in meanwhile

[2021-01-03 17:10] lorisobi commented on #3862
i really like the design, its more obvious how to use, than the winui/vanilla uwp one

good idea I like it

[2021-01-03 18:22] sjb-sjb commented on #3874
I tested this on the master branch of the Xaml Controls Gallery, which is a UWP app, and it does give the expected behavior i.e. the output includes "Awaited.". Consequently this is not a problem with the VS 16.9 preview compiler or environment, nor is there some kind of logic error. This increases the confidence that this is a WinUI 3 bug.

[2021-01-03 19:25] Berkunath opened #3875 "Binding Enum Values as ItemsSource in ComboBox not working"
**Binding enum Values as ItemsSource in ComboBox not working**
I have several enum type in my library and trying to display the enum values in WinUI Desktop ComboBox by get collection using Enum.GetValues by passing Type to EnumValuesExtension class. It works for enum from Microsoft.UI.Xaml, But enum from my library not works.

**Steps to reproduce the bug**
Comment out the SizeMode and Shape Comb

[2021-01-04 05:11] carlsound commented on #3863
CMake simplifies generating a Visual Studio solution for a 3rd-party C++ SDK I use.  Being able to use WinUI 3.0 with that work flow would be beneficial.

[2021-01-04 06:55] huoyaoyuan commented on #3874
Can you confirm this with WinUI3 UWP and desktop? This looks like a CsWinRT issue, which shouldn't repro for WinUI3 UWP.

[2021-01-04 09:49] Elmarcotoro opened #3876 "Displaying Page in NavView Frame with desktop project."
Apologies if this seems like a rudimentary question but I cannot find a workable answer in any docs.

I'm creating a WinUI3 project in VisualStudio 2019 Preview with project reunion nuget package.  I'm trying to work out how to display the selected page into the NavigationView Frame.

I've created a NavView as a UWP project and can Navigate between pages using a switch statement and passing conten

[2021-01-04 11:16] Elttob commented on #3549
Just my two cents; I don't think the slider should have a shadow on this white outline:

![image](https://user-images.githubusercontent.com/11815374/103529678-fa2c0700-4e7d-11eb-8c49-abdb1d5424e5.png)

It doesn't line up with the designs for any of the other controls, and doesn't seem to have any usability benefit.

Everything else looks pretty good, not much else to add that hasn't already been s

[2021-01-04 11:21] huoyaoyuan commented on #3876
If you are using desktop for .NET 5, then `typeof` should just function well.

[2021-01-04 13:01] Elmarcotoro commented on #3876
Thank you @huoyaoyuan.

I'm using .NetCore in both the WinUI3 UWP project and the WinUI3 Desktop project.
I've discovered that "contentFrame.Navigate(typeof([Page]));" works if the view is a Page but not if it is a Window.

E.g. Blank Window (WinUI in Desktop).

Do you know the implementation in this case?

[2021-01-04 13:06] huoyaoyuan commented on #3876
You can only navigate to `Page` types inside a `Frame`. If you need to use the page as a separated window at the same time, you can consider `new Window { Content = new Page1() }`.

[2021-01-04 13:38] Elmarcotoro commented on #3876
@huoyaoyuan Thanks very much.

[2021-01-04 13:38] #3876 closed

[2021-01-04 15:31] YoungFcode opened #3877 "Question: Can UWP ComboBox max item display limit be overridden?"
I'm using the UWP ComboBox (VS 2019). There is apparently a built in max display limit of approximately 9 items depending on item height. So for example, I have a ComboBox with 12 items, when initially opened (with a mouse click) it displays 9 of the items even though there is plenty of real estate to display all 12 items.
If ComboBox is opened on a touch screen with a finger touch it displays ~6

[2021-01-04 16:10] Berkunath opened #3879 "Initialize Popup with IsOpen=true leads to crash in WinUI Desktop"
**Describe the bug**
Initiate Popup with Closed state and set IsOpen as True after view loading works. But Initialize Popup in Open state leads to crash in WinUI Desktop.

**Steps to reproduce the bug**
1. Run attached sample
2. Application crashes due to Popup is in Open state

**Expected behavior**
Application should run without crash

NuGet package version:
[Microsoft.WinUI 3.0.0-preview3.20111

[2021-01-04 16:50] JanRajnoha commented on #3815
I have this problem too. No workaround, no response from VS team, where i report it as bug, because one day I updated both, Windows and VS, and don't think this should be related to Windows.

[2021-01-04 18:20] mdtauk commented on #3549
The shadow exists because the Thumb Control Part overlaps the other parts of the Control.

The middle part grows and shrinks as part of it's VisualStates like other controls, so the outer shape ensures there is contrast and visibility where both the Thumb and the Value track, use the Accent Colour.

[2021-01-04 18:47] vsfeedback opened #3880 "Desktop.WinUI app has problems"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/DesktopWinUI-app-has-problems/1289360)._

---
[severity:It bothers me. A fix would be nice]
When I run the Desktop WinUI project template I get the following output...

Exception thrown at 0x756EA892 (KernelBase.dll) in TemplateDesktopWinUI.exe: 0x40080202: WinRT transform error (parame

[2021-01-04 18:48] vsfeedback opened #3881 "Adding WinUI 3 to .Net 5 Class Library"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Adding-WinUI-3-to-Net-5-Class-Library/1296796)._

---
\[severity:I'm unable to use this version\] I'm trying to create a .Net 5 Class Library with WinUI 3 preview 3 package. There is no nuget package available for WinUI 3, even with show preview version, and when i add this itemgroup to

[2021-01-04 19:10] Austin-Lamb commented on #3812
Hi @ackh!  Thanks for your patience as we were all taking some holiday vacations 😊

To answer your specific questions - in a WinUI app you do not need to write your own WinMain function, or your own message pump/WndProc.  The WinUI framework will manage that for you when you create the Application and Window objects that you see in the WinUI project templates.

The GetDC function is from GDI, whic

[2021-01-04 19:22] stevenbrix commented on #3881
The WinUI package is unlisted while we're still in preview. If you want to use VS16.8, the version you have to specify in your project file is 3.0.0-preview3.201113.0

[2021-01-04 19:23] michael-hawker opened #3883 "WinUI 3: LinearGradientBrush and RadialGradientBrush don't both inherit from GradientBrush"
**Describe the bug**
In WPF both [`LinearGradientBrush`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.lineargradientbrush?view=net-5.0) and [`RadialGradientBrush`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.radialgradientbrush?view=net-5.0) inherit from the [`GradientBrush`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.gradientbrush?vie

[2021-01-04 19:27] michael-hawker commented on #2350
Hit another case where I just got a unhelpful:

[code]

Coming from the ResourceDictionary type itself.

It was a case where I was trying to assign the wrong type of resource to another resource...

[code]

`RainbowBrush` in this case was a `LinearGradientBrush`, so loading this ResourceDictionary was failing at runtime, no indication that this was a problem or pointing me in the right direction..

[2021-01-04 19:32] michael-hawker opened #3884 "WinUI 3: Timeline should have a Started Event"
**Describe the bug**
The `Storyboard` class (via `Timeline`) has a `Completed` event but no corresponding `Started` event. If you wanted to coordinate anything else with the start of the storyboard, there doesn't seem to be a way to do this...

Kind of follows the discussion from #3761. It's helpful for developers to have the corresponding pair of events to be able to understand when things occur

[2021-01-04 20:56] ackh commented on #3812
Hey @Austin-Lamb, thanks for getting back to my questions!

The background information you provided is quite helpful but it leaves me wondering whether I could use my Win32 code in a WinUI 3.0 app at all. I was hoping that I could use WinUI 3.0 to combine my existing Win32 code (which makes heavy use of [StretchBlt](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-stretchblt) an

[2021-01-04 21:17] michael-hawker commented on #3883
In the meantime, it'd be nice if the `GradientStops` property was a `GradientStopCollection` explicitly vs. the `IObservableVector<GradientStops>`?

[2021-01-04 21:27] stmoy commented on #3870
Can confirm that @Felix-Dev's recommendation to set VerticalScrollBarVisbility to "Auto" solves this issue.

It's good that the default has been updated on the new WinUI ScrollView, but should we update the value on ScrollViewer to Auto as well?

[2021-01-04 21:33] chingucoding commented on #3870
I'm not sure if this would break existing applications/UIs if we switch this to auto.

[2021-01-04 21:42] FredipusRex commented on #3549
For the slider thumb, I think one way to look at it is in terms of attention - when hovering over it, the middle part should grow quite large as though trying to draw your attention to it, while when pressed it should all but disappear, as it already has your active attention. I think the grow/shrink dynamic is correct but simply too subtle.

[2021-01-04 21:51] stmoy commented on #3870
I guess I don't know what the behavior is now. Right now, it looks like "Auto" since it'll show/hide the scrollbars as appropriate _until the "Always Show Scrollbars" setting is enabled_ which seems like the wrong thing.

[2021-01-04 21:54] chingucoding commented on #3870
If you hover of where the scrollbar would be if there was something to scroll, the scrollbar would still show without visibility set to auto, so it's not only with the *"always show scrollbars"* settings; it's just hard to hit without that setting.

[2021-01-04 22:40] sjb-sjb commented on #3874
I have run the following variants of Xaml Controls Gallery

(a) The WinUI 3 desktop branch with the XamlControlsGallery.Desktop.sln solution. This is WinUI 3 in a packaged desktop app. The test failed, the continuation didn't run (as indicated by "Awaited." not being printed).

(b) The WinUI 3 desktop branch with the XamlControlsGallery.sln solution. This is a WinUI 3 UWP app. The test succeeded,

[2021-01-05 00:08] StephenLPeters commented on #3883
@jesbis Do you know why RadialGradientBrush wasn't a GradientBrush in the first place? @MikeHillberg fyi?

[2021-01-05 00:10] #3881 closed

[2021-01-05 00:11] StephenLPeters commented on #3880
@stevenbrix this is the issue we see when you use an incompatible version of visual studio right?

[2021-01-05 00:13] StephenLPeters commented on #3879
@kmelmon FYI

[2021-01-05 00:16] StephenLPeters commented on #3877
I think there is not anything exposed that would allow you to fix this.. @MikeHillberg maybe you know some secrets?

[2021-01-05 00:17] StephenLPeters commented on #3875
@stevenbrix or @Scottj1s this sounds like a cswinrt issue to me

[2021-01-05 00:19] StephenLPeters commented on #3874
@Scottj1s and @stevenbrix another cswinrt issue?

[2021-01-05 00:20] #3826 closed

[2021-01-05 00:22] StephenLPeters commented on #3871
@jevansaks FYI, I think you did some work in this space?

[2021-01-05 00:28] StephenLPeters commented on #3870
Ideally we would change the default value for the VerticalScrollBarVisibility property, but we can't because it drives some scrollViewer interactions and wouldn't preserve back compat. We probably aren't going to change this.

[2021-01-05 00:28] #3870 closed

[2021-01-05 00:30] StephenLPeters commented on #3868
@get-flat are you testing on preview 2 or 3? The version info states both :)

[2021-01-05 00:32] StephenLPeters commented on #3867
@jeffstall FYI

[2021-01-05 01:49] jesbis commented on #3883
It couldn't be a `GradientBrush` in WinUI 2.x since brushes other than `XamlCompositionBrushBase` aren't meaningfully extensible - there's no way to render custom brushes.

With WinUI 3 it would theoretically be possible to update the rendering pipeline and redo the brush class hierarchy.

Although maybe worth considering: what is the desired extensibility model for brushes overall? Would **all**

[2021-01-05 03:04] SunnyWang1012 opened #3888 "[WinUI3.0 Desktop(App and ClassLibrary)] A UserControl in a ClassLibrary can't be dynamically loaded by a custom AssemblyLoadContext class"
I create several projects and the relations are as following:
![structure](https://user-images.githubusercontent.com/7006770/103599885-1e045100-4f41-11eb-9f38-2bfdd6a8e3f3.jpg)

In short, I want to use WinUI 3.0 Desktop **App** to dynamically load a ClassLibrary named **HelloPlugin.dll**.

- Both **App** and **HelloPlugin.dll** add reference to an interface "ICommand" in **PluginBase.dll**
- **Hel

[2021-01-05 03:10] codendone commented on #3879
I think this is related to #3389, with the Popup trying to open before it knows which XamlRoot it belongs to. It theoretically should know which XamlRoot it belongs to in this case since the Popup is defined in MainWindow.xaml, but I think the loader creates the element tree before it gets attached to the root.

We might want to fix this by having Popup wait to open until it actually gets Loaded,

[2021-01-05 03:26] Austin-Lamb commented on #3812
@ackh - could you describe your scenario more?  Do you want to have, say, a whole window of your app be WinUI 3-based UI while another window is an old-school `HWND` that you use GDI in?  Or do you want to mix the two UI frameworks within a single top-level window?

If you want to mix them, could you explain more about how?  Do you want a small chunk of WinUI content within your larger GDI/HWND-ba

[2021-01-05 07:11] Poopooracoocoo commented on #3870
Anyone know about why these scrollbars show up in Intel Graphics Command Center?

[2021-01-05 08:54] ackh commented on #3812
Ideally, I would like to break up the functionality of my Win32 code into individual user interface elements and wrap them in C++/WinRT to provide a clearly defined interface for them via MIDL 3.0. Hypothetically, I would then combine those Win32 based user interface elements together with my SwapChainPanel based user interface elements in a single window, preferably defined using XAML.

XAML woul

[2021-01-05 09:29] chingucoding commented on #3870
Probably because they have not said the VerticalScrollBarVisibility to Auto?

[2021-01-05 09:51] WelterDevelopment commented on #3880
Well, I am using VS Community 2019 16.9.0 Preview 2.0 which should be working perfectly fine with WinUI 3 prev3. Even if I
create a new Solution with the latest "WinUI in Desktop" project template (version 3.0.0.2011130) I am getting the **exact** same list of errors that Gavin Williams originally posted. Even after repairing VS the problem persists.

[2021-01-05 13:49] mageshsankar opened #3889 "ArgumentOutOfRangeException was thrown when setting min date between 1/1/0001 and 31/12/1600 range in DatePicker and CalendarDatePicker control in WinUI Desktop"
**Describe the bug**
ArgumentOutOfRangeException was thrown when setting min date between 1/1/0001 and 31/12/1600 range in DatePicker and CalendarDatePicker control in WinUI Desktop. This issue does not happen in WinUI UWP.

**Steps to reproduce the bug**
1. Run attached sample
2. Application crashes when setting date between 1/1/0001 and 31/12/1600 range.

**Expected behavior**
Should be able to

[2021-01-05 17:05] Austin-Lamb commented on #3812
Here's how I think about this - a Win32 app is, at the end of the day, a tree of HWNDs.  When WinUI 3 runs inside a Win32 app, it can fill in one of those HWNDs with XAML content.  Right now, WinUI 3 needs to only fill and own an entire top-level window but that is a temporary limitation, eventually we will get XAML Islands working fully which will enable XAML's HWND to be a child HWND of a larger

[2021-01-05 17:07] Elmarcotoro opened #3890 "Visual State manager for adaptive size does not work with Window"
Application: WinUI 3
Nuget: Project Reunion
Visual Studio 2019 PREVIEW.

I'm trying to set adaptive visual states to a Window (WinUi Desktop) for when the app is resized.

VisualStateManager works when using a Page (winUI) But does not work if it is a Window.

Is this meant to be?

[code]
[code]

[2021-01-05 17:46] mdtauk commented on #3890
Can you host the page in the Window?  Maybe within a Frame?

[2021-01-05 17:55] Austin-Lamb commented on #3698
We have fixed this issue internally, it should show up in the next preview.

[2021-01-05 17:58] Austin-Lamb commented on #2438
We are not investing in MediaElement or Windows 10 Mobile.  For future media usage, I recommend MediaPlayerElement, as it is the replacement for MediaElement - though I don't know if it's available on mobile.

[2021-01-05 17:58] #2438 closed

[2021-01-05 17:59] Austin-Lamb commented on #2484
We have implemented this internally and it will be in the next preview release.  We'll also have support for customizing the title bar more (like you could in UWP) for WinUI 3 Desktop apps, so stay tuned for much better title bars.

[2021-01-05 18:01] Austin-Lamb commented on #2620
WPF has an API that we could consider copying - [UIElement.IsKeyboardFocusWithin](https://docs.microsoft.com/en-us/dotnet/api/system.windows.uielement.iskeyboardfocuswithin?view=net-5.0)

[2021-01-05 18:16] mdtauk commented on #2484
I am hoping the oft-reported and coming soon "Sun Valley" visual refresh will result in shared colour values and design aesthetics with the Win32 shell, window controls, etc - and with WinUI and XAML shell and app UI.

[2021-01-05 18:17] Austin-Lamb commented on #2632
It's expected that one needs /SUBSYSTEM:WINDOWS to use a GUI app (or you need to specify [w]WinMain() instead of main() so the linker detects that subsystem by default).

I don't think there's anything that needs to be done here, so I'm closing this issue.

[2021-01-05 18:20] shaheedmalik commented on #2484
I hate that title bars aren't standard and consistent.

[2021-01-05 18:28] kennykerr commented on #2632
You don't ever expect a console app to use UI? That's pretty common. As an example, the official git client does that today (for authentication). All of the command line Sysinternals tools do as well (for licensing).

[2021-01-05 18:33] Austin-Lamb commented on #3479
Lack of visibility into focus's more complex cases has been a sore point for many users, I agree this is a good feature proposal to have on the backlog.

As a mitigation, one thing that exists now is a set of static events on FocusManager which can tell you about any focus change occurring on the thread - even if they're in unparented popups, where you wouldn't have a good place to listen to a bub

[2021-01-05 18:35] Austin-Lamb commented on #2632
I hadn't thought of that scenario, it's an interesting one.  I usually think of GUI and console apps as two separate universes.

Thanks for bringing that one up, I'll reactivate this issue and leave it on the backlog, but it's low-priority at this time.

[2021-01-05 18:45] Austin-Lamb commented on #3524
@crutkas - what API are you using that opens that dialog?

[2021-01-05 19:05] michael-hawker commented on #3883
In some ways this is to raise awareness about a general issue about making sure the API surface is being unified as WinUI 2 and 3 come together. But this happens to just be a concrete example to show the point.

Yeah @jesbis if the `XamlCompositionBrushBase` is the best new base class for these brushes that's fine. `GradientBrush` could be built on top of that instead going in the other direction

[2021-01-05 19:06] mdtauk commented on #2484
Sounds like some improvements to the WinUI Desktop titlebars are coming - hopefully a design which matches the CoreWindow's Titlebar designs.

But apps using the NavigationView, or using Acrylic - should be encouraged to extend into the Titlebar area, as it makes the app feel more modern and more polished.

I am glad that extending will be supported for WinUI Sandboxed and Desktop apps, as will se

[2021-01-05 19:16] chingucoding commented on #3808
I would like to work on this.

[2021-01-05 19:40] Austin-Lamb commented on #2631
Closing this one out, as the reunion issue noted seems like the correct place to track this.

[2021-01-05 19:40] #2631 closed

[2021-01-05 20:17] ackh commented on #3812
Thanks a lot for you thoughts about this, @Austin-Lamb. This does sound promising to me and makes me worry less about what WinUI 3.0 is actually going to be. I'll play around a bit more with what is already available and look forward to the release of WinUI 3.0.

[2021-01-05 20:28] crutkas commented on #3524
hyperlink URI to "ms-settings:colors"

[2021-01-05 20:50] mdtauk commented on #952
So it may be time to consider this proposal again, now there is an effort to bring Win32, Fast, FluentUI, WinUI, together closer, with Fast and FluentUI based around Web tech and Web Standards.

[2021-01-05 23:46] stevenbrix commented on #3874
No, this is a difference between Desktop and UWP. In Desktop apps, `CoreDispatcher` doesn't work, and you instead need to use the `DependencyObject.DispatcherQueue` property. In fact, `DependencyObject.DispatcherQueue` will work in both UWP and Desktop, so it's recommended to use that always if you can

[2021-01-06 00:10] ranjeshj commented on #3888
@jevansaks @MikeHillberg any thoughts ?

[2021-01-06 00:15] ranjeshj commented on #3864
@vadd98 GridView has a ScrollViewer in its template which is probably handling the events. You can try hooking to the ScrollViewer' s events or use the AddHandler method to intercept handled events.

[2021-01-06 00:20] sylveon commented on #3863
@huoyaoyuan CMake is a very popular C++ build tool and MSBuild for C++ is horrific to deal with.

[2021-01-06 00:22] ranjeshj commented on #3861
@hupo376787 Couple of options. If you really need to not virtualize, you can write a custom non-virtualizing layout for ItemsRepeater (should be simple for Stacking layout). However, if you have reasonably large number or items, performance will take a big hit (hence the need for UI Virtualization). Keeping track of the selection state in the view model as @huoyaoyuan suggested seems like a reason

[2021-01-06 00:23] sjb-sjb commented on #3874
@stevenbrix, thanks, what you say here is consistent with @MikeHillberg’s comments in #2609.

In that case the CoreDispatcher documentation in the WinUI documentation set (linked above) is wrong and should be deleted or modified.

Can you explain how to implement an equivalent of RunAsync using the DispatcherQueue only? The equivalence is not clear to me, because CoreDispatcher.RunAsync waits for

[2021-01-06 00:23] ranjeshj commented on #3859
@jeffstall as FYI

[2021-01-06 00:28] ranjeshj commented on #3856
@Elmarcotoro can you provide a repro or the callstack ? There is some information on how to debug [here](https://github.com/microsoft/microsoft-ui-xaml/blob/dfbe38bfb2996dfaa2f09544c4e86aa69ccc906b/docs/debugging_crashes.md).

[2021-01-06 00:30] ranjeshj commented on #3855
Looks like the issue is resolved. If you have a consistent repro or see it again, please activate. Thanks.

[2021-01-06 00:30] #3855 closed

[2021-01-06 00:34] #3848 closed

[2021-01-06 00:40] ranjeshj commented on #3838
@stevenbrix @Scottj1s as FYI

[2021-01-06 00:44] ranjeshj commented on #3837
@Scottj1s @stevenbrix, do you know the answer to question (2) ?

[2021-01-06 00:45] ranjeshj commented on #3836
@marb2000  Is there a way to hide the Window ?

[2021-01-06 00:49] ranjeshj commented on #3834
Sounds like the item is not going to the correct visual states. MapControl is not in WinUI.
@MikeHillberg any thoughts ? can you help route this bug ?

[2021-01-06 00:53] ranjeshj commented on #3822
@winston-de Can you share a repro app ?

[2021-01-06 00:57] sjb-sjb commented on #3874
Also, any thoughts on how to get an event similar to CoreDispatcher.AcceleratorKeyActivated, in the WinUI environment ?

[2021-01-06 01:08] ranjeshj commented on #2109
Not sure why this did not show up in triage until now. Looks like the issue was filed in March 12th :0 .
One thought to avoid the duplicate solutions might be to add conditionals to the projects, just so we have less files to maintain

Very interesting idea. I'm not a huge fan of cross repo references. This sounds like a nice to have for sure.

[2021-01-06 01:43] tsvietOK commented on #3822
@ranjeshj
[TestApp.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5773466/TestApp.zip)

[2021-01-06 04:19] jevansaks commented on #3888
The error message in the output is "NamedResource Not found", coming from MRM.dll. That sounds like there's a path to an asset or something that's being requested which can't be resolved by MRT.

@SunnyWang1012 look closer at the HelloUserControl.xaml (or share more of the project for us to take a look at) to see where there might be a problem with an ms-appx or ms-resource URI in that file.

[2021-01-06 07:43] SunnyWang1012 commented on #3888
@jevansaks The following screenshots shows the details of HelloUserControl.xaml, it actually doesn't have any content yet. I create that WinUI 3.0 UserControl by "Add New Item" to HelloPlugin project. Do you know if there is any setting I need to do in order to let **App** load this UserControl correctly?

[2021-01-06 08:40] Elmarcotoro commented on #3890
@mdtauk The Idea of using a Window is that it is not sandboxed and we can access system files.  Hosting a page inside a Window surely loses that functionality?  Why would you go to that complication, if you are not concerned about being sandboxed would you not just use the page on its own?

I wonder why Windows do not get triggered by size change, is it the Frame that updates the size change?

[2021-01-06 08:45] mdtauk commented on #3890
AFAIU A Page is just a way to display a set of Xaml controls, and you can have a Window, with a Frame, and it handles navigation.

The NavigationView would work this way too.

If I am wrong, I would like to be corrected.

The CoreWindow is part of the Sandbox, and it hosts a page which can contain a Frame, which hosts multiple pages, and can navigate back and forward through a BackStack of pages

[2021-01-06 09:29] ValerCheck commented on #3888
@SunnyWang1012 possibly I have addressed similar [issue](https://github.com/dotnet/runtime/issues/46487) for dotnet/wpf repository. I may be wrong, but I had resource not found exception when was trying to load views from different plugins. Issue was closed and the answer was that it should be fixed in the scope of dotnet/wpf but not dotnet/runtime. The issue was found for views shared between mul

[2021-01-06 09:34] blueblizza opened #3893 "Templated XAML controls for WinUI 3 apps with C# won't work and crash."
**Describe the bug**
Templated XAML controls for WinUI 3 apps with C# won't work and crash.

**Steps to reproduce the bug**
1.Create a "Blank App, Packaged (WinUI in Desktop) project template" in WinUI3
Follow the instructions as "Templated XAML controls for WinUI 3 apps with C#"
https://docs.microsoft.com/en-us/windows/apps/winui/winui3/xaml-templated-controls-csharp-winui-3

2.Press F5(Starting

[2021-01-06 10:23] Elmarcotoro commented on #3890
@mdtauk

I think I understand what you are saying.

I do have a NavigationView in a Window hosting pages in a Frame.

With regards to hosting pages in a frame within a Window and Navigating back and forward through the backstack.  Won't any code in the code behind of the pages be sandboxed?

I'm interested in knowing if there are plans to allow the VisualStateManager to adapt if the Window size ch