[2020-05-06 20:19] katan-ms commented on #2393
Thanks ! I'll go check them out :D

[2020-05-06 20:19] #2393 closed

[2020-05-06 20:19] ranjeshj commented on #2387
@MikeHillberg @Austin-Lamb @fabiant3 I was sure this was documented and tracked somewhere but I'm having trouble finding it. If not we can use this issue to track value types usage.

[2020-05-06 20:24] ranjeshj commented on #2397
@jevansaks @llongley any ideas why 19H1 is required ?

[2020-05-06 20:29] jevansaks commented on #2397
Agree that the check for class libraries could be different. This check is serving two purposes:
1. For apps, it makes sure that you are running against a version high enough that we won't get "quirked" behavior from OS XAML.
2. For apps and class libraries, it's trying to avoid a confusing error message down the line because the WinUI WinMDs reference types in the Windows SDK that weren't introdu

[2020-05-06 20:34] anawishnoff commented on #2391
@ranjeshj It seems like a bug to me, the IsPaneOpen property is there for a reason and should react when it's changed.

[2020-05-06 20:54] dotMorten commented on #2397
I prefer keeping min and max version the same. This to avoid having to ensure we don't call APIs that aren't supported on that platform. If I don't need the latest features, why enable them?

I don't really get your second point. Why is it confusing to not see APIs that you can't call on the version you're targeting?

[2020-05-06 20:56] jevansaks commented on #2397
The problem is that the WinUI metadata has types it references that weren't introduced until a later version of the Windows SDK. You will get a bizarre compiler error about not being able to resolve types if you disable the check and target too old of a Windows SDK.

[2020-05-06 21:36] duke7553 commented on #2227
I'll reopen this if the issue occurs again.

[2020-05-06 21:36] #2227 closed

[2020-05-06 21:49] myokeeh opened #2398 "Visual Studio Debugging No Longer Works With 2.4 (Unhandled Exception)"
**Describe the bug**
Running into an unhandled exception that VS can't handle? "A debugger is attached to ___ but not configured to debug this unhandled exception. To debug this exception, detach the current debugger." with 2.4. Reverting back to 2.3.200213001 allows debugging again.

**Steps to reproduce the bug**
1. Update UWP project WinUI package to 2.4
2. Debug
3. Error will be shown.

**Expe

[2020-05-06 21:53] ranjeshj commented on #2398
@myokeeh can you enable native debugging and catch all exceptions and share the callstack ? or share the project so we can repro the issue ?

[2020-05-06 21:56] koenvd commented on #1965
@codendone I didn't see the issue when navigating to those URL's directly in (latest) Edge Beta.   However I uninstalled the beta and installed the stable version (81.0.416.68 (Official build) (64-bit)) and now everything started working! It looks great!!

Thanks for the support!

[2020-05-06 22:02] michael-hawker commented on #913
Following-up from the toolkit with some history of the control from the toolkit (it's been around a while):

- [Original Issue](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/1080)
- [First PR Review](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/1343)
- [GitHub History](https://github.com/windows-toolkit/WindowsCommunityToolkit/commits/master?path%5B%5D=Micros

[2020-05-06 22:07] myokeeh commented on #2398
@ranjeshj It also doesn't run after manually running it after a deploy.

Exception thrown at 0x00007FFA39041EA7 (Microsoft.UI.Xaml.dll) in [REDACTED].exe: 0xC0000005: Access violation reading location 0x0000000000000000. occurred

Microsoft.UI.Xaml.dll!00007ffa3def1ea7()
Microsoft.UI.Xaml.dll!00007ffa3df49a0d()
Windows.UI.Xaml.dll!00007ffa88069e46()
Windows.UI.Xaml.dll!00007ffa88069d83()
Windows.U

[2020-05-06 22:21] ranjeshj commented on #2398
can you resolve the symbols or share the crash dump ?

[2020-05-06 22:26] ranjeshj commented on #2398
Does your app have a navigation view with items in the pane footer ?

[2020-05-06 22:34] myokeeh commented on #2398
I can send you a crash dump. Can you provide an email or a direct contact method? Unfortunately, I can't share the project. The app does have a `NavigationView` with `PaneFooter`. Also, the app is very close to what you would get straight from Windows Template Studio with navigation view.

[2020-05-06 22:37] ranjeshj commented on #2398
Can you try removing the Items from the PaneFooter and see if that fixes it ? We just found and fixed issue #2388 where that was causing a crash. I'm curious if you are seeing the same thing. If that is not the issue, then I can give you instructions on how to share the crash dump through feedback hub.

[2020-05-06 22:47] myokeeh commented on #2398
Sorry. I left that out in my reply. Yes, removing the `PaneFooter` allows the app to run without the unhandled exception. I'm curious about sharing crash dump using Feedback Hub, though. I didn't know you could use it for that, too.

[2020-05-06 22:51] ranjeshj commented on #2398
@myokeeh Thanks for the confirmation. This issue is a dup then of @2388 then. If you want to share a crash dump, you can file a feedback hub issue and attach the dump there and share the link and we can internally track the crash dump.

[2020-05-06 22:53] myokeeh commented on #2398
@ranjeshj filing it under a specific category or under the entry of the app being debugged?

[2020-05-06 22:54] #2398 closed

[2020-05-06 22:56] ranjeshj commented on #2398
I think an category is fine, but you can always use this one.

![image](https://user-images.githubusercontent.com/28935693/81236459-20796a00-8fb2-11ea-9fc5-5f05626cfbb3.png)

[2020-05-07 00:14] #2345 closed

[2020-05-07 02:17] michael-hawker commented on #2385
@SavoySchuler actually looking at the updated docs from the release, what does the new [InterpolationSpace](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.media.radialgradientbrush.interpolationspace?view=winui-2.4#Microsoft_UI_Xaml_Media_RadialGradientBrush_InterpolationSpace) property do? Is that a superset of our `ColorInteropolationMode` property?

[2020-05-07 02:47] zhuxb711 commented on #2375
@StephenLPeters
There is no solution for the time being, all I can do is to set HasUnrealizedChildren=false instead of IsExpanded = false after removing the last child node

Does this bug require WinUI3 to be fixed?

[2020-05-07 05:28] mfeingol opened #2399 "Crash on upgrade to 2.4.0"
**Describe the bug**

[code]

**Steps to reproduce the bug**
I updated my app from the latest 2.3 release to 2.4.0. My app now crashes on startup

**Expected behavior**
No crash.

**Version Info**

NuGet package version:
2.4.0

Windows 10 19041

**Additional context**

[crash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4590856/crash.zip)

[2020-05-07 08:03] lhak opened #2400 "ProgressRing control does not work on Windows release 17134"
**Describe the bug**

The new ProgressRing control does not work on older Windows releases like 17134.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use a ProgressRing control on Windows version 17134

**Expected behavior**

The progress ring should be shown. If this is not possible, the fact that this control is only supported on more recent Windows versions should be point

[2020-05-07 08:30] phraemer commented on #1965
Any word on when we'll see the next Alpha of `WebView2`?

[2020-05-07 11:58] goranalkovic opened #2401 "NavigationView hierarchy dropdowns don't have rounded corners"
**Describe the bug**
When NavigationView has hierarchical items and you're in Left compact view mode or Top view mode, and you click on an item which causes a dropdown/flyout to appear, that dropdown/flyout doesn't have rounded corners. (See screenshot)

**Steps to reproduce the bug**
1. Open Controls gallery (or any app that implements WinUI 2.4 NavView)
2. Shrink the window so NavigationView goe

[2020-05-07 12:55] ranjeshj commented on #2401
@anawishnoff @chigy should we make the corners rounded ?

[2020-05-07 13:02] ranjeshj commented on #2400
@lhak Good point. @MarissaMatt can we please document this issue ? Lottie currently works only on RS5 and above. This will be resolved in WinUI3 when the platform is decoupled from the OS.

[2020-05-07 13:06] ranjeshj commented on #2399
@mfeingol can you try the [latest pre-release build](https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.4.0-prerelease.200506001)? We just fixed a crash caused by having a NavigationViewItem in the pane footer. Issue is #2388.

[2020-05-07 13:07] ranjeshj commented on #2398
@myokeeh The fix is in the [latest pre-release build](https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.4.0-prerelease.200506001) if you want to unblock in the mean time.

[2020-05-07 14:06] SFM61319 opened #2402 "How does WinUI create the color pallette(?) for a given (accent) color and color mode (dark/light)?"
[This noise PNG](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/Materials/Acrylic/Assets/NoiseAsset_256X256_PNG.png "Acrylic Noise") doesn't look like the noise texture **actually** used in acrylic. It has an `alpha` of value (possibly) `1`, which means it is not the noise texture PNG used in the real `AcrylicBrush`.

Please update the noise texture to the correct PNG to remove any

[2020-05-07 14:09] mdtauk commented on #2402
Acrylic's noise texture actually has an alpha of 100%, but when it is layered onto the surface, that layer is set to 2%

[2020-05-07 14:29] chingucoding commented on #2385
@micheal-hawker Yes the InterpolationSpace is essentially a superset of the WCT's RadialGradientBrushes ColorInterpolationMode. The WinUI one has more/different ways to interpolate between colors compared to the WCT one.

[2020-05-07 14:41] robloo opened #2403 "[Bug] Cannot Distinguish Checked from Unchecked in Disabled ToggleButton"
**Describe the bug**

The default ToggleButton style background colors do not convey enough information. A user cannot distinguish between Checked and Unchecked in a disabled ToggleButton.

**Steps to reproduce the bug**

The standard WinUI style has this issue and the XAML Controls Gallery can be used to reproduce.

**Expected behavior**

A disabled ToggleButton that is checked should have a dark

[2020-05-07 15:04] grokys opened #2404 "SelectionModel: No way to react to a child collection being replaced"
**Describe the bug**

If I have a `SelectionModel` over nested data, I use `ChildrenRequested` to get the child nodes of a particular node. Once I return the collection containing the child nodes, the `SelectionNode` listens for change notifications on this collection and updates the model accordingly

The problem comes when the child collection object is _replaced_ on the source data. The `Select

[2020-05-07 15:25] DehghaniHootan opened #2405 "TreeView - AccessViolationException on remove an item"
**Describe the bug**

**System.AccessViolationException**
{"Attempted to read or write protected memory. This is often an indication that other memory is corrupt."}

**Steps to reproduce the bug**

Steps to reproduce the behavior:
I have a TreeView which its ItemSource binded to a Collection. When i remove an Element in that Collection i got this Exception before i can handle it.

**Expected behav

[2020-05-07 15:43] mfeingol commented on #2399
@ranjeshj: `2.4.0-prerelease.200506001` appears to solve the problem, thanks.

[2020-05-07 15:57] adambarlow commented on #1965
@phraemer, the latest improvements will be coming in the Preview 1 release of WinUI 3 that is going to release for BUILD 2020.

[2020-05-07 16:06] phraemer commented on #1965
Great news @adambarlow , thanks!

[2020-05-07 16:19] vsfeedback opened #2406 "UWP datagrid / Erratic Tab key navigation"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1014322/uwp-datagrid-erratic-tab-key-navigation.html)._

---
When using DataGridTemplateColumn, and having a textbox in edit mode,
when we are pressing the Tab key the application is selecting the colun header.

The the second Tab key press will go to the next cell. But aft

[2020-05-07 16:25] anawishnoff commented on #2401
@chigy would be the authority on this, but if there's rounded corners in Flyout and MenuFlyout I don't see why there wouldn't be here.

[2020-05-07 16:26] ranjeshj commented on #2406
@michael-hawker This is an issue for the community toolkit.

[2020-05-07 16:30] Felix-Dev commented on #2406
Is there a way to improve the "vsfeedback" system so that issues like these will be posted to the correct repo - the Windows Community Toolkit - in the first place? I believe we have seen a number of these issues showing up here over the past months when they were actually community toolkit issues.

[2020-05-07 16:42] Felix-Dev commented on #2401
If no one else is working/wants to work on this and this is confirmed to be an oversight, I would like to fix this.

[2020-05-07 16:57] SFM61319 commented on #2402
Oh, thanks!

[2020-05-07 17:12] mdtauk commented on #2401
As it is a flyout/pop over - it should probably use a 4px Corner Radius, but yea, only @chigy would know for sure

[2020-05-07 17:25] Felix-Dev commented on #2401
The flyout of the NavigationView's overflow button in Top mode is also missing rounded corners:
![image](https://user-images.githubusercontent.com/1398851/81325331-7c1e2300-9098-11ea-9ef6-a9062981b855.png)

[2020-05-07 17:33] michael-hawker opened #2407 "Proposal: x:Bind should support calling another function within its parameter list"
# Proposal: x:Bind [functions](https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings) should support calling another function within its parameter list
From comment [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1630#issuecomment-601279183), Related #1630

## Summary
It's difficult to do complex expressions in x:Bind to composite to UI triggers/converter replace

[2020-05-07 17:39] vsfeedback opened #2408 "Alt-F4 keyboard shortcut not working with XAML island"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1019177/alt-f4-keyboard-shortcut-not-working-with-xaml-isl.html)._

---
I'm implementing a native desktop app using winrt. I'm using Visual Studio 2019 16.5.4, Windows 1909 (Build 18363.778)

Pressing Alt F4 is not working to close the application window when the applicatio

[2020-05-07 18:29] JuanMejiaVelez opened #2409 "Visual regression in PointerOver when no MenuItems are defined in NavigationView"
**Describe the bug**
When no MenuItems are defined in a NavigationView the Settings (and PaneFooter if using a NavigationViewItem) do  not get the PointerOver background extended to the full width of the control.

**Steps to reproduce the bug**
1. Add a NavigationView control
2. Do not add any MenuItems to the control only the NavigationView tag
3. Run the app

**Expected behavior**
When hovering

[2020-05-07 18:40] ranjeshj commented on #2409
@JuanMejiaVelez Does setting HorizontalAlignment=Stretch on the NavigationViewItem fix the issue ? @ojhad can you take a look and recommend a fix ?

[2020-05-07 19:08] michael-hawker commented on #2385
Thanks @chingucoding, I've updated to just scope to the `AlphaMode` then. It's a tiny property, but really makes a nice looking difference I find with transparent stops.

[2020-05-07 19:09] michael-hawker commented on #2385
@SavoySchuler @stmoy should we have a `Windows Community Toolkit Migration` type label for issues like this one, the now closed #2007 🎉, and #2216 for things missing from WinUI migrated components preventing their deprecation in the toolkit?

[2020-05-07 19:11] chingucoding commented on #2385
Great idea! That would definitely make it easier to filter through issues (and see where one might easily contribute).

[2020-05-07 19:17] michael-hawker commented on #2385
@chingucoding exactly, usually most of the heavy lifting on these items is done in the initial feature work. For instance, I imagine adding this last property should be pretty straight-forward for RadialGradientBrushes case (famous last words). 😋

[2020-05-07 20:08] ranjeshj commented on #2405
@DehghaniHootan can you please share a repro app ?

[2020-05-07 20:13] ranjeshj commented on #2403
@robloo  This has been the behavior for as long as @chigy and I can remember. Is there a scenario where this is problematic ? The issue is to figure out how we could change it so that we don't make it easy to figure out if it is disabled or not.

[2020-05-07 20:15] chigy commented on #2401
@mdtauk , that is right.

[2020-05-07 20:16] ranjeshj commented on #2401
@Felix-Dev You can pick this up. Thanks !

[2020-05-07 20:18] #2399 closed

[2020-05-07 20:18] mdtauk commented on #2401
There should be a Style resource you can use to give it the correct corner radius, so the value can be changed by the developer if they wish to, and it keeps it consistent with the other controls

[2020-05-07 20:20] chingucoding commented on #2401
I think it should use the OverlayCornerRadius resource.

[2020-05-07 20:20] Felix-Dev commented on #2401
@mdtauk The resource I would use is the `OverlayCornerRadius` one which has been introduced for UI elements like these. It woudl resolve to a 4px corner radius.

[2020-05-07 20:25] mdtauk commented on #2401
Thanks, I couldn't recall the resource name

[2020-05-07 21:03] joseartrivera commented on #2360
I noticed the issue doesn't seem to occur if I use the restart button after hitting it to deploy again instead of stopping and deploying again.
![image](https://user-images.githubusercontent.com/6334170/81344337-752ceb80-906b-11ea-853b-64e9dbace97c.png)

[2020-05-07 21:43] StephenLPeters opened #2410 "SplitView placement right + displayMode CompactOverlay doesn't work"
in the Xaml Controls Gallery Split View page set the placement to right and the display mode to CompactOverlay and notice that the content is clipped.  Its possible this is a XCG bug, since changing the OpenPaneLength and CompactPaneLength can reveal the content if the correct settings are chosen.

[2020-05-07 22:00] Felix-Dev commented on #2401
@ranjeshj I modified the flyout XAML from
[code]
to
[code]

For an ItemsRepeater as the flyout content this causes the following effect:

Before change:
![image](https://user-images.githubusercontent.com/1398851/81347964-7ab32180-90bd-11ea-992e-6e4b5bb7bc6a.png)

After change:
![image](https://user-images.githubusercontent.com/1398851/81347981-81da2f80-90bd-11ea-834f-976eeb8626be.png)

I have test

[2020-05-07 22:04] Felix-Dev commented on #2401
@chigy Could you confirm if the corner radius of the Overflow menu in Top mode (https://github.com/microsoft/microsoft-ui-xaml/issues/2401#issuecomment-625391360) also needs to be changed to the *OverlayCornerRadius* value?

[2020-05-07 22:09] chigy commented on #2401
@Felix-Dev , I'm a bit confused by the before/after shot. Why is the menu wider? I assume that's what you are asking @ranjeshj , but wanted to double check.

[2020-05-07 22:09] chigy commented on #2401
@Felix-Dev , yes all 4 corners should be rounded since they are not connected to the bar.

[2020-05-07 22:11] robloo commented on #2403
I realize this is consistent with some past thinking. However, all other controls I can recall convey state/selection information whether the control is enabled or not. The ToggleButton should do the same for consistency.

One aspect that is different from older styling/frameworks is that the button has the same background whether it is enabled/disabled. Historically, (WPF and before if I recall c

[2020-05-07 22:53] ranjeshj commented on #2409
When there are no Items it looks like the PaneContentGrid sizes to the footer items and aligns to the left instead of stretching to take the entire pane width.

@ojhad Should this be Stretch instead of Left ?
https://github.com/microsoft/microsoft-ui-xaml/blob/de7ddff2f1e5e228a698293b888575d046f8198d/dev/NavigationView/NavigationView.xaml#L373

[2020-05-07 23:21] shaheedmalik commented on #2410
#2392

[2020-05-07 23:55] tejaat1995 commented on #2372
Thanks for the reply ranjeshj. I Tried that and NuGet packages are successfully configured but i dont have a CompactDatePickerTimePickerFlyout.xaml file in C:\Users\admin\.nuget\packages\microsoft.winui\3.0.0-alpha.200210.0\runtimes\win10-x64\native\Microsoft.UI.Xaml\DensityStyles\

[2020-05-07 23:59] JuanMejiaVelez opened #2411 "TeachingTip buttons are not following CornerRadius guidelines"
**Describe the bug**

As part of the recent Fluent UI guidelines most controls on windows have CornerRadius values set so that they are rounded. Button is one of such control, although the buttons that are shown in the UI for Teaching tip are not following this.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new UWP app
2. Add a teaching tip to the page and make it v

[2020-05-08 02:10] DehghaniHootan commented on #2405
[Sample_app](https://github.com/DehghaniHootan/TV_Remove)
I find out that when i tried to remove a selected node that exception happen. so first i have to change isSelected to false. (in the sample_app when i hit remove button 2 times i got this exception)

[2020-05-08 09:50] Trolldemorted opened #2412 "focus of textbox (and derivatives) is glitchy"
**Describe the bug**
If a textbox (or a derivative control) does not have focus when your app loses focus and you click directly into that textbox, it appears to have focus (it is highlighed, a cursor appears, the cursor blinks), but you can't type anything into the box.

Note that
- if a textbox has focus when the app loses it, this particular textbox will always work
- this behaviour is not winu

[2020-05-08 12:43] ranjeshj commented on #2405
@DehghaniHootan I am unable to repro this. When I hit the remove button twice I get this error which seems to be an app issue since SampleItems seems to be empty.

![image](https://user-images.githubusercontent.com/28935693/81406594-b4e8e700-90ee-11ea-8798-142078ff4ae9.png)

[2020-05-08 13:36] DehghaniHootan commented on #2405
@ranjeshj don't you have these 3 Companies when you run the app. If not, LoadDataAsync method in TreeViewViewModel.cs does not do its job.
![Companies](https://user-images.githubusercontent.com/39124067/81410307-c1ecf100-9155-11ea-80e0-fd6f598ed5e4.png)

[2020-05-08 14:42] robloo opened #2414 "Question: In WinUI 3.0 will all the conditional XAML be removed?"
Lots of XAML has conditions Contract7Present, Contract7NotPresent, etc. I assume this will all go away in WinUI 3.0, correct?

Will someone go through and remove all the conditions before open sourcing?

[2020-05-08 15:08] ranjeshj commented on #2414
@robloo Yes. You are correct. These will not be needed in WinUI3. @llongley  as FYI.

[2020-05-08 15:09] robloo commented on #2414
@ranjeshj Ok, good news, that cleans up the XAML quite a bit! Thanks for answering

I'll close this question.

[2020-05-08 15:09] #2414 closed

[2020-05-08 17:13] Felix-Dev commented on #2401
@chigy Yes, that's exactly what I'm asking @ranjeshj 😁

PS: If needed, I can create a repro app showcasing this behavior.

[2020-05-08 17:30] soumyamahunt opened #2415 "Unable to change scroll position programmatically in some cases and weird behavior in RichEditBox inside ScrollViewer"
**Describe the bug**
[Here](https://github.com/JasonStein/Notepads/pull/495) is a pull request to a simple text editor app in which I implement changing scroller position from scrollbar context menu. However the view is reset when app comes into focus. Changes have been made to change scroller position after RichEditBox comes into focus which makes it work for vertical scrollbar but for horizontal

[2020-05-08 17:42] vsfeedback opened #2416 "App does not start in release mode"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1021790/app-does-not-start-in-release-mode.html)._

---
Hi,

I have an Xamarin UWP App.
When I compile it in Debug mode, everything wokrs fine.
When I compile it in Releasemode the desaster begins. Emdiatly after starting the App I receive an unhandled exception in Windows.

[2020-05-08 18:05] piersdeseilligny opened #2417 "Proposal: Defer tab resizing in order to maintain the close button under the pointer"
# Proposal: Tab resizing should be differed in order to maintain the close button under the pointer

## Summary

When a tab is closed, the current behaviour is to instantly resize all the remaining tabs, as such:
[![Image from Gyazo](https://i.gyazo.com/678ea70ad36e546698554ce2282ba859.gif)](https://gyazo.com/678ea70ad36e546698554ce2282ba859)
However, this makes it unnecessarily difficult to quick

[2020-05-08 18:07] ojhad commented on #2409
If I remember correctly, changing that property to `Stretch` will break the control when collapsing the pane into compact mode. This is due to `PaneContentGrid` still being full width (just hidden) even when in compact mode. So I think the problem lies somewhere else.

[2020-05-08 19:51] NGame1 commented on #673
What do your idea about auto incrementing items Grid.Row or Grid.Column by default
for example I want to use a Grid with many rows (Instead of using StackPanel because I want to add it in to a ScrollViewer or some other reason) Then I have to add Grid.Row or Grid.Column property to all my elements But when I have auto increment it will add Grid.Row=0 to my first children and to second one it will

[2020-05-08 19:53] dotMorten commented on #673
@NGame1 That would be a breaking behavior. However it would actually be pretty easy to make a custom panel that does this for you. See my video here where I more or less build that: https://www.youtube.com/watch?v=mT4B9DcWiM0&t=7s

[2020-05-08 20:04] NGame1 commented on #673
@dotMorten Yes, I'm sure it's not so much hard to create such behavior.
But I thought official presence of such feature maybe not bad.

[2020-05-08 20:07] ranjeshj commented on #2417
@stmoy This looks like a good behavior to have.

[2020-05-08 20:08] dotMorten commented on #673
Right but you can't really change the default behavior like that. In most cases I use grid because I need to overlay stuff, so such a change would break a lot of people.
IMHO I'd think a new panel would be cleaner (in toolkit perhaps), or the very least a property to set to opt in for that behavior

[2020-05-08 20:09] ranjeshj commented on #2416
Posted on feedback link. Need a repro to debug.

[2020-05-08 20:12] NGame1 commented on #673
Yeah surely also a property for enable/disable this behavior can be nice👌
Anyhow it was just an idea because I really not going to use StackPanel because of its disadvantages. I think Grid is a more handy element.

[2020-05-08 20:15] anawishnoff commented on #673
Thanks for the suggestion @NGame1! As @dotMorten said, a default behavior/feature like this may break the current behavior of Grid, which in turn could break apps using it - which is something we want to avoid.

It does definitely sound like an interesting idea though, and I'd encourage you to file your suggestion on the[ Windows Community Toolkit repo](https://github.com/windows-toolkit/WindowsCo

[2020-05-08 20:17] ranjeshj commented on #2411
Looks like some of the buttons don't get rounded corners, especially in popups/dialogs.

[2020-05-08 20:22] ranjeshj commented on #2410
#2392 looks related but this could be another similar issue in the style.

[2020-05-08 20:37] michael-hawker commented on #673
🦙 @NGame1 the [UniformGrid](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/uniformgrid) in the toolkit does this for you already. 😊

[2020-05-08 20:45] Martin-Stein commented on #2416
Hi,
It looks like I have found the reason:
My ImageSource needed to have the Assembly as a parameter, like this:

ToolbarConfig.IconImageSource = ImageSource.FromResource("VisitorCounter.Assets.icons.Settings.png", typeof(MainPage).GetTypeInfo().Assembly);

You can close the case.

Thank you

[2020-05-08 20:46] #2416 closed

[2020-05-08 20:54] NGame1 commented on #673
@michael-hawker oh my god. What a great Control. 👌👌 Really thanks. 🙏

[2020-05-08 20:59] michael-hawker opened #2419 "ItemsRepeater in ScrollViewer with no focusable elements ignores keyboard navigation"
**Describe the bug**
If you're trying to use PageDown/PageUp or Up/Down to scroll a ScrollViewer with an ItemsRepeater in it, it will not work if the ItemsRepeater contains no focusable elements. It can only be scrolled with the mousewheel or using the scrollbar handle directly.

Discovered while adding ItemsRepeater layouts to the Toolkit [here](https://github.com/windows-toolkit/WindowsCommunity

[2020-05-08 21:49] stmoy commented on #2417
+1 - this seems like a great improvement! I would love to see this feature added to TabView!

[2020-05-08 21:51] chigy commented on #2068
This is now fixed.
https://docs.microsoft.com/en-us/uwp/toolkits/winui/release-notes/winui-2.4

[2020-05-08 21:51] #2068 closed

[2020-05-08 22:24] chingucoding commented on #2417
How much time should we wait until we resize tabs? Is there any guidance on this?

Also is there a "smart" way to solve this beside just waiting x milliseconds before we call resize (or something along those lines)?

[2020-05-08 22:39] zadjii-msft commented on #2417
I believe most browsers wait until the mouse pointer leaves the tab strip before resizing the tabs, dunno if that's possible to replicate here but that would be my suggestion

[2020-05-08 22:44] piersdeseilligny commented on #2417
I don't know exactly how it's implemented in Edge and Chrome, but they seem to only resize if the pointer leaves the tab area (if it's a mouse, the tabs never resize as long as there is a pointer within the bounds of "`TabView`"). However, when using a touch screen, they seem to resize after about two seconds without a pointer detected in the TabView. Firefox doesn't use this delay, from what I ca

[2020-05-09 00:57] michael-hawker commented on #179
🦙 Wondering if the new source generator paradigms could help out here as well?

[2020-05-09 04:56] shaheedmalik commented on #2419
I've experienced something similar in New Edge. If I click the scrollbar and then try to press the up or down arrows, nothing happens.

[2020-05-09 05:48] sylveon commented on #242
With the advent of XAML Islands, I am now in a state where I need to implement a close button in XAML for my XAML Island windows. The tilt animation is the last remaining thing before I get consistent with the normal system controls, so adding the possibility to opt-out via a single property would be nice, instead of having to retemplate the whole control (which I'd really like to avoid)

![image]

[2020-05-09 07:58] maxkatz6 commented on #1406
@jevanks hello!
Sorry for commenting on closed issue, but I have finally started to use WinUI in my project, and have now one issue.
I build with 1607 as min target and WinUI 2.1. Everything works fine for me and most of my users on all supported devices including Mobile.
But I see in AppCenter crashes from small percent of users with next message and stacktrace:
[code]

I have read related issues

[2020-05-09 07:58] chingucoding commented on #2417
Thanks @zadjii-msft for your input and especially @piersdeseilligny for your pseudo code (which is very helpful). Resizing only when the user has left the "Tab area" seems like a good idea and can definitely be implemented.

@ranjeshj @stmoy Would you like me to work on this issue?

[2020-05-09 08:01] maxkatz6 commented on #1406
Probably it is related to https://github.com/microsoft/microsoft-ui-xaml/issues/1712. As I understand there is a bug in Windows, which is fixed with current insider (May 2020 Update?). But will it be fixed for older Windows versions?

[2020-05-09 08:32] thomasclaudiushuber commented on #179
Yes @michael-hawker, I like your thoughts!

 I had the same thoughts a while ago when I first read about the new source generator possibilities.

I think with the new source generator paradigms we can build / generate a lot of stuff behind the scenes for INotifyDataErrorInfo and INotifyPropertyChanged.

I have a WPF course on Pluralsight that does exactly this with T4, INotifyPropertyChanged and I

[2020-05-09 09:00] wu23873chen commented on #2251
How to play sound with C++？

[2020-05-09 14:52] robloo commented on #2411
Related to #1345

[2020-05-09 16:32] mdtauk commented on #2411
Do they not use the default control templates?

[2020-05-09 17:12] JohnnyWestlake commented on #2384
I think this is a symptom of the fact that it does not properly recycle / handle virtualisation when nested. You'll see in the live visual tree the visual count always goes up and up, even if you scroll up and down to the same range.

[2020-05-10 02:04] 0x7c13 opened #2421 "Question: Why the file dragged into a UWP app is read-only?"
Hey folks,

I have a question bothers me for quite a while: "If user drag a storage file into a UWP app, it will be read-only by default. If you try to save changes on top of this file, you will get UnauthorizedAccessException, but why?"

For example, this is how you get the file(s) from DragEventArgs:
[code]
And this will be true for the files you dragged in:
[code]
And you will see exception if

[2020-05-10 02:06] yaichenbaum commented on #2421
@michael-hawker

[2020-05-10 02:14] yaichenbaum commented on #2421
Regarding whether files that are dragged into the app should be read only or not, I would say that they shouldn't be. The reason for having read only access for files is so that an app can't start making changes without the user giving permission. However actions such as using the file picker, launching an app from a file or dragging a file into the app are all actions initiated by the user and sh

[2020-05-10 02:26] maxkatz6 opened #2422 "[BUG] From AppCenter: Cannot create instance of type 'Microsoft.UI.Xaml.Controls.XamlControlsResources'"
**Describe the bug**
Everything works fine for me and most of my users on all supported devices including Mobile.
But I see crashes from small percent of users (about 0.09%) with next message and stacktrace from AppCenter (unfortunately not really helpful in this case):
[code]

**Steps to reproduce the bug**
Install application from store on specific devices.
I can't reproduce on my dev machine, b

[2020-05-10 04:57] RobbyRobbyRobby commented on #2421
Yeah, this is a royal pain and I can't see any logic to it.  I figure it must be a mistake.

Please can we get this fixed.

[2020-05-10 05:34] soumyamahunt commented on #2421
I think this has to do with DataPackage and DataPackageView classes especially how DataPackage.SetStorageItems method is implemented. The default behavior of SetStorageItems is to make the provided storage items readonly unless the app explicitly provides readonly attribute as false when drag of an item is starting from a given app. MS has to change this default behavior or make changes to set the

[2020-05-10 09:20] DiverseTGM commented on #1446
![image](https://user-images.githubusercontent.com/63060694/81495370-c5908d00-92a7-11ea-9a0e-ef8c77d05770.png)

Im getting this error still.

[2020-05-10 11:40] joshhunt commented on #2324
@ranjeshj from the best i can tell, the issue only occurs when using NavigationView within a widget in the Windows Xbox Game Bar https://docs.microsoft.com/en-us/gaming/game-bar/overview. I have not been able to replicate this issue outside that.

I get reports from users that this issue happens to them as well. Sometimes it takes a few opens to trigger, but I'm able to fairly consistently replica

[2020-05-10 12:59] joshhunt commented on #2324
It appears I've resolved the problem by using the default platform NavigationView rather than the one from the NuGet package.

[2020-05-10 13:33] landonth commented on #491
Echoing the ideas of @jevansaks and @mdtauk to cache the last active buffer for acrylic on inactive windows, one could take inactive acrylic a step further into the middle ground by setting a low quality acrylic profile with reduced resolution / lower blur quality and maybe even reduce the rate of the shader / effect execution to once every n frames. Perhaps with frame interpolation up to the curr

[2020-05-10 13:54] ivanicin opened #2423 "AppBarButton CornerRadius is not properly applied to the background bottom corners"
**Describe the bug**
The border is always painted properly. However the background is not - at the top it is clipped by rounded corners but at the bottom it goes beyond the rounded corners (unless the CommandBar is expanded).

Just setting the background and cornerradius will result in this:
`<AppBarButton Icon="Add"  Background="{ThemeResource SystemAccentColor}" Foreground="White" CornerRadius="

[2020-05-10 14:24] chingucoding commented on #2423
I think this is more an issue with how the commandbar renders the AppBarButtons. What it does is render them at full height, but cut them off, resulting in the behavior outlined.

While generally it is discouraged to apply cornerradius in that case (T-rule: Don't round corners that are at two elements touching each other and forming a T with their borders), this is still a bug.

The only way we pr

[2020-05-10 14:47] ivanicin commented on #2423
@chingucoding while I agree with you, please note that corner radius renders border properly (if set). So it should be technically possible and fairly easy to have a proper behavior.

Also that design rule interpretation is hard to agree with as there are no borders visible in the default template, so there are no T lines in the default state. If you decide to accent one control this way it can't

[2020-05-10 15:09] robloo commented on #2411
This issue is present in the latest version of the XAML controls gallery as well.

![image](https://user-images.githubusercontent.com/17993847/81502869-acd7a580-92ae-11ea-87e2-9976af7c77a2.png)

[2020-05-10 15:19] chingucoding commented on #2423
The problem is that the reveal border is rendered on a different part of the control than the background, hence the clipping issues. Also I assume that you only experience this issue inside a commandbar? Just having that button without a commandbar works just fine on my machine, so maybe you could update your issue description to reflect the exact scenario where you encounter this clipping issue.

[2020-05-10 15:28] robloo commented on #2411
I took a look at the XAML: https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TeachingTip/TeachingTip.xaml

I don't know the control at all, but it looks like the problem is here:

https://github.com/microsoft/microsoft-ui-xaml/blob/9b99426c9c2846468f1f420b595273b1631072ec/dev/TeachingTip/TeachingTip.xaml#L574

and

https://github.com/microsoft/microsoft-ui-xaml/blob/9b99426c9c2846468f

[2020-05-10 15:49] chingucoding commented on #2411
Yes the problem are those two styles, which are probably "empty" (and might contain corner radius = 0 because of that).

A way we could fix this is adding the following line (in case of ActionButton, other buttons are similiar):

[code]

I am not sure though if there would be side effects if we do this.

Also what is a bit confusing, is that there are properties on the TeachingTip control for thos

[2020-05-10 15:52] ivanicin commented on #2423
I have mentioned CommandBar in the description, I would assume it is enough, also to confirm that it is required to reproduce the issue.

I am not talking just about the reveal border but also setting the border itself. It works with the corner radius when it is set. Obviously it is a different element than the background but technically there can't be huge differences to achieve the proper implem

[2020-05-10 16:19] chingucoding commented on #2423
I assumed that the behavior was inherently broken, not only in CommandBar since you only said it works in the expanded CommandBar.

Oh right I see. Yes that's strange. Having looked at the template quickly, the wiring of the binding mostly seems correct. Someone probably has to take a close look where exactly is rendered what.

[2020-05-10 18:12] robloo commented on #2411
@chingucoding Good catch, I hadn't checked and these are dependency properties of the control so they can be re-styled without retemplating.

This means the code should be "Binding" instead of "TemplateBinding" -- this is a bug. Then the default value of the DP should be the standard DefaultButtonStyle. We shouldn't create new styles for these buttons. They are supposed to look like normal buttons

[2020-05-10 18:34] benstevens48 commented on #2421
Yes, this is extremely annoying. My users expect to be able to open files by drag and drop and then edit them. In my case I use a workaround if the file happens to be in the Pictures library because I have the Pictures library capability, so when the files are dropped I check if they are read only, and if so I try to load them, from the file path. This is very cumbersome and only works if the file

[2020-05-10 18:40] Aberro opened #2424 "UnauthorizedAccessException in UIElement."
**Describe the bug**
Consecutive changing two properties of a UIElement causes exception.

**Steps to reproduce the bug**
1. Create UWP application with following code:
[code]
2. Run it
3. See error

**Expected behavior**
No exception.

**Screenshots**
![image](https://user-images.githubusercontent.com/3986884/81507522-b7258e00-9306-11ea-892c-cea243c15344.png)

**Version Info**

NuGet package vers

[2020-05-10 21:10] r2d2rigo opened #2425 "Disabled MenuBarItem can be opened with keyboard navigation"
A user is able to open disabled menu bar items when using keyboard navigation.

**Steps to reproduce the bug**
1. Add the following XAML code to a sample project:

2. Run the project. Notice that the "Edit" menu bar item is disabled.
3. Click on the "Edit" menu bar item. Notice that nothing happens.
4. Click on the "File" menu bar item. Notice that it opens.
5. Press the "right arrow" keyboard key

[2020-05-11 04:47] dstaley commented on #1965
I also want to echo the experience that @koenvd had. I had the latest Edge Canary and Dev installed, and my WebView2 components wouldn't render correctly. Uninstalling both Canary and Dev and installing Stable fixed the issue.

[2020-05-11 05:31] ratishphilip opened #2426 "LoadedImageSurface - LoadCompleted event - status is not coming as success"
I am trying to load an image using the LoadedImageSurface.StartLoadFromUri() method.

When the LoadCompleted event fires and I check for the LoadedImageSourceLoadCompletedEventArgs.Status property it always comes as LoadedImageSourceLoadStatus.Other and the LoadedImageSurface.DecodedPhysicalSize is <0,0>.

Here is the sample code I am using
[code]

I am loading an image from the Assets folder, so

[2020-05-11 07:52] harvinders opened #2427 "TabView's TabItemTemplate seems to be broken in 1803"
**Describe the bug**

When binding data to `ItemSource` of `TabView` to display `TabViewItem`s

1. the `Content` property in the data template does not do anything
2. Setting the `Header` sets the content instead.
3. Content also displays the cross on the right hand margin.

        <winui:TabView.TabItemTemplate>
            <DataTemplate x:DataType="models:TabViewItemData">
                <winu

[2020-05-11 12:26] JunaidQadirB opened #2428 "Question: Why I can't see the XAML designer?"
I'm using WinUI 3.0.0.alpha.200210.0 and I'm using Visual Studio 2019 Community Edition.
I created a new Blank App (WinUI UWP) project and restored the dependencies.

App compiles and runs fine but the problem is I cannot see the XAML designer. it just displays the XML markup only.

XAML designer works fine with WPF apps.

How do I enable XAML designer?

[2020-05-11 13:18] ranjeshj commented on #2384
Recycling is done by the DataTemplate instance, so if the DataTemplate instance is shared across the repeaters, it should be recycling. If we are doing that and still see the count not settling down, that is a bug. Can you resolve symbols, enable native debugging and see if you can get a callstack ? Is this a layout cycle crash ?

[2020-05-11 13:57] chingucoding commented on #2384
Here is the stack trace:

https://gist.github.com/chingucoding/099a42851fd3b4c687d47f2519b65ae0

This seems to be an layout cycle issue:

![image](https://user-images.githubusercontent.com/16122379/81569870-226f6e80-93a0-11ea-9ca2-fcba2db13646.png)

[2020-05-11 14:07] MuziburRahman commented on #784
Any update on this? It's been a while.

[2020-05-11 15:00] ratishphilip commented on #2426
Sorry. my bad. The URI was missing an '/' after the ms-appx:

[2020-05-11 15:00] #2426 closed

[2020-05-11 17:02] #79 closed

[2020-05-11 17:02] #837 closed

[2020-05-11 17:03] #266 closed

[2020-05-11 17:03] #2175 closed

[2020-05-11 17:20] sylveon opened #2429 "'XamlBindings': undeclared identifier in C++/WinRT"
**Describe the bug**
I get the compiler error `'XamlBindings': undeclared identifier` when using x:Bind in a ControlTemplate as part of a XAML document that isn't in the root namespace with C++/WinRT.

**Steps to reproduce the bug**
1. Create a new C++/WinRT UWP app (with minimum version 17763)
2. Create a page that isn't in the project's root namespace (ex `BlankApp1.Foo.MyPage`)
3. Within that p

[2020-05-11 17:22] michael-hawker commented on #2421
This definitely seems like a bug in drag-n-drop, the developer should have access to a file if a user drops it into the app. This seems no different than opening the file via activation arguments, which works fine right?

Also, can't the developer still take the StorageFile from the drag-n-drop arguments and add it to the app's Future Access List and still open/access it later for both read & writ

[2020-05-11 17:25] JasonStein commented on #2421
You can if you add it to the future access list but it won't take effect for the current run tho.

[2020-05-11 18:16] robloo opened #2430 "Bug: Should not be able to add same item to ListView.SelectedItems more than once"
**Describe the bug**

On a list view with existing items, the following code:

[code]

will result in;

`listView.SelectedItems.Count = 2`

**Expected behavior**
Should not be able to add the same item to the selection multiple times. There should be tests to detect this. ListView should function like ListBox and simply check that the item is already selected and, if so, do nothing.

**Additional

[2020-05-11 18:22] michael-hawker commented on #2421
@JasonStein even if you close the reference from the DataView and just re-open the file directly from the access list?

[2020-05-11 18:26] JasonStein commented on #2421
I have not tried that way but I would assume no, not for the current run. @yaichenbaum I think you tried that, did you?

[2020-05-11 18:28] yaichenbaum commented on #2421
I tried adding the storage item to the future access list but it didn't help, I didn't try closing the reference though so it could be that would help.

[2020-05-11 18:33] JasonStein commented on #2421
Even if that works, I would still prefer to use PathIO since it is more straight forward anyway :)

[2020-05-11 18:35] yaichenbaum commented on #2421
That is why I ended up going with PathIO as well.

[2020-05-11 19:14] chingucoding opened #2431 "NavigationView: Settings item has no pointerover change in top mode"
**Describe the bug**

When hovering over the settings item in a NavigationView in top mode, the icon does not visually change.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open XAML Controls Gallery
2. Go to settings and set to top mode
3. Hover over the settings item
**Expected behavior**

The background has a reveal effect.
**Screenshots**

![gif](https://user-images.gith

[2020-05-11 20:03] dunclaw commented on #2390
This is currently by design. The UWP map control is not intended for working with non-geographic tile sets. If you're just looking for something to display a large tile set, you could try the WPF map control (or even the Multi-scale-image control directly which the WPF control uses). The nuget for the WPF control is here: https://www.nuget.org/packages/Microsoft.Maps.MapControl.WPF

[2020-05-11 20:08] ranjeshj commented on #2429
You cannot use x:Bind in the control template currently. You can use TemplateBinding or Binding instead for this case.

[2020-05-11 20:14] ranjeshj commented on #2427
There was a feature that was added to ListView to be able to use the container as part of the DataTemplate (as used in this example). This feature is not available in earlier version of the OS. That might explain why this works in Xaml controls gallery on later OS builds. In WinUI3, the fix will go down-level as well, so I expect this to be fixed once we have WinUI3.

To verify, can you see if the

[2020-05-11 20:18] ranjeshj commented on #2425
@adbarlow as FYI. I think when the menu bar item is disabled, it should not react to interactions keyboard or mouse.

[2020-05-11 20:19] ranjeshj commented on #2424
I believe this is by design. These two properties are mutually exclusive and the exception message seems to convey that.

[2020-05-11 20:22] ranjeshj commented on #2423
Can you please share some pictures ? That would really help understand the issue at hand. Thanks!

[2020-05-11 20:28] ranjeshj commented on #2422
@maxkatz6 I'm not sure what the issue exactly is from the details here. XamlControlsResources is the first type that gets activated, so anything going wrong in activation could be causing this error.

[2020-05-11 20:33] sylveon commented on #2429
According to documentation linked below, `x:Bind` in control templates is supported since 17763: https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/templatebinding-markup-extension#xbind-in-controltemplate

It indeed works fine when using C#, and the C++/WinRT code for it is generated as well, it's just a omission of a namespace qualifier for a `make_self<>` call in a part of the codegen.

[2020-05-11 21:07] Aberro commented on #2424
Why they are exclusive, why docs doesn't say anything about it and why exception doesn't say that these properties are exclusive? Why, in the first place, throw an exception, instead of just overriding value?

[2020-05-11 21:19] ivanicin commented on #2423
![screenshot](https://user-images.githubusercontent.com/20874207/81612834-bdd30480-93dd-11ea-8f92-f72310141188.png)
Sure, I omitted to add it to the original post by mistake.

[2020-05-11 21:33] chigy commented on #2423
@ivanicin , per rounding [corner guideline](https://docs.microsoft.com/en-us/windows/uwp/design/style/rounded-corner), we do not round corners of appbar buttons that are used inside command bar. This is because we do not want to show an awkward gap between the items when the items are next to each other, thus we do not round list and grid items.

I wonder why you decided to round the corner here?

[2020-05-11 22:09] ivanicin commented on #2423
First there is no need to discuss whether this is the bug or not, it is. If the background and border act differently on corner radius one of those is wrong, which one is right we can discuss on that, though at least for me it is more than obvious.

Second, I don't see the point of the question why I need some specific style. Microsoft went from Windows Forms to WPF and XAML exactly because any st

[2020-05-12 00:40] mcooley opened #2432 "MenuFlyout should have page background color in high contrast"
**Describe the bug**
In recent versions of WinUI, MenuFlyouts have a gray background in high contrast themes. They should have the page background color.

**Steps to reproduce the bug**
Add the following XAML to a test app:
[code]

**Expected behavior**
The background of a MenuFlyout should match the user's preferred background color, like it does in Windows.UI.Xaml.

**Screenshots**
![image](http

[2020-05-12 04:07] codendone commented on #2422
This sounds like a known race condition issue in the appx installer which can result in the .pri file not getting installed.  That known issue has been fixed, but I believe the fix has not yet gone out on Windows Update.  If it is this issue, a user could theoretically uninstal all apps using the affected version of WinUI and reinstall to fix the problem.

[2020-05-12 06:19] LoriBru commented on #2390
I know that's by design, this is why I am suggesting to change it. I think that this limitation is really a pity. Thank you for the suggestion, I'll have a look even if it looks quite old and not mantained anymore.

[2020-05-12 06:51] ymjia opened #2433 "Question: [How can I use local file as xmlns in activeCodePage]"
I am trying to use utf-8 in an existing executable following this [page](https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/use-utf8-code-page)

It works ok, but cannot work offline, so Is it possible to save the code page 'http://schemas.microsoft.com/SMI/2019/WindowsSettings' and make xmlns point to that local file?

[2020-05-12 07:39] weltkante commented on #2433
This is not an online resource, why do you think it doesn't work offline? Its just a way to disambiguate names.

[2020-05-12 09:24] jtorjo commented on #2291
@Austin-Lamb I've updated the bug description - I hope it's easier to understand now.

@Austin-Lamb Is what I want doable, and if so -- in the more or less near future (1-2 months)? This is a quite important feature for me. I need to be able to accurately grab frames

@JohnnyWestlake I've thought about this quite a bit. At this time, i can't really use your workaround, because I'm about to impleme

[2020-05-12 15:23] ranjeshj commented on #2429
@sylveon Thanks for the correction.

[2020-05-12 16:20] patriksvensson opened #2435 "Question: Possible to know when a user started swiping a SwipeControl?"
Hello,

In a list item, I have a couple of UI elements I want to hide once the user starts to swipe. Is there an event I can listen to that tells me this? I've tried reacting to the `ManipulationStarting` etc, but that doesn't seem to do anything.

Any help is appreciated here. Thanks!

[2020-05-12 16:40] msavazzi opened #2436 "Update of data behind a binding makes the Expandable icon to disappear"
**Describe the bug**
The TreeView control is bound to an ObservableCollection. When the collection get sorted/updated the expandable icon disappears

**Steps to reproduce the bug**
here is the link project and test database. You should import in SQLEXPRESS.
[1drv.ms/u/s!AohVtHaw3aCiwaE8ADrS0bbIbs6vkA?e=FqRZXi ](url)
I've updated the code in the folder and added a video where I do everything in a v

[2020-05-12 16:54] dunclaw commented on #2390
The suggestion is appreciated, but it's really an entirely different use case. The UWP map control is pretty fundamentally designed to work with geographic coordinate systems - it wouldn't make sense to try and force it to behave as a simple bitmap display mechanism. It would be quite a bit of work to remove the complicated display logic for displaying a correct 3D surface based on the WGS84 ellip

[2020-05-12 17:13] anawishnoff opened #2437 "👩‍💻📞 WinUI Community Call (May 20, 2020)"
This community call live stream has ended, but you can watch the recording here:

https://www.youtube.com/watch?v=TeS4rX3i_Ls

## Details
Date: Wednesday May 20, 2020
Time: 16:00-17:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
This will be an informal interactive live stream directly with members of our engineering team.

## Format
In this commun

[2020-05-12 17:20] #2245 closed

[2020-05-12 18:07] chrisglein commented on #2415
@ranjeshj This seems to be scrolling related, or do you have some context here that indicates it's a rich edit bug?
@RBrid Anything look familiar here with regards to programmatic interactions with ScrollViewer?

[2020-05-12 18:10] chrisglein commented on #2412
This sounds like the same as #1849.
Please speak up if that doesn't seem like the case to you, and feel free to add detail to that issue.

[2020-05-12 18:40] mrlacey commented on #2435
If you set `ManipulationMode` you can enable the `ManipulationStarting` Event. This should be what you're after.

[code]

[2020-05-12 19:26] tipa commented on #125
I spent the whole day wrapping my head around what seems to be the same issue as [this one](https://github.com/microsoft/microsoft-ui-xaml/issues/337) until I finally found this issue.
I am also using databinding and the selection state seems to be very unreliable - usually only one checkbox is selected even though multiple should be ticked.

Would be awesome if this could be fixed at some point -

[2020-05-12 20:12] ranjeshj commented on #2432
This does look like a bug. We should match the behavior of Windows.UI.Xaml in this case.

[2020-05-12 20:18] ranjeshj commented on #2419
Would this be any different from any panel, say StackPanel or Grid ? If nothing can take focus, then where would the key events bubble from ?

Where is focus in this case when you press the keys ?

[2020-05-12 20:24] ranjeshj commented on #2324
The NavigationView in MUX has a lot of updates compared to the one in the platform. Once you update to WinUI3, you will get the MUX one as well, so it would be good to not revert back to the one in the platform. If we can figure out what the crash is then it would be helpful.

[2020-05-12 21:01] patriksvensson commented on #2435
@mrlacey This solved it for me! Thank you!

[2020-05-12 21:01] #2435 closed

[2020-05-12 21:41] MarissaMatt commented on #1170
Hi everyone! I am picking this proposal back up from @YuliKl and @kathyang and since it has been several months since this proposal had activity, I updated the proposal with what we are currently thinking for this control. I also added an open question I was hoping to get some developer feedback on. @michael-hawker if you have any insight in to this that would be really helpful!

[2020-05-12 21:56] mdtauk commented on #1170
**ActivityAnimation** could be a more generic name and approach for this control.

Support for idle and progress animation loops, before having a completion animation?

The Android Bootscreens do this, and whilst this could be achieved with just the Lottie player control - it may be a relevant consideration for this control.

[2020-05-12 21:58] mdtauk commented on #1170
With the right naming of elements, it could also be possible to support Xaml brushes, for things like Light and Dark theming of a single animation, as well as a more traditional progress control scenario.

You could even override any colour directly in Xaml, to allow for reusing of existing Lottie animations, but customising without having to go back into After Effects, or the JSON and C code.

[2020-05-12 22:08] ranjeshj commented on #1170
@mdtauk  If the animations expose the appropriate properties (foreground/background colors) then that could be done without edits to the lottie files/json.

One advantage of having a separate control over AnimatedVisualPlayer is that you would get the appropriate accessibility patterns with this control which are not on the player.

[2020-05-12 22:32] kaiguo commented on #125
@Felix-Dev's observation is correct, the rudimentary cause of this problem is the underlying ListView's selection mode being set to none. Skipping the "super" call will cause bunch of other unexpected behaviors. To fix the issue we probably need to either make changes in ListView to make it comply with TreeView or swap out the underlying implementation using [ItemsRepeater](https://docs.microsoft.

[2020-05-12 23:07] mdtauk commented on #1170
This proposal is about providing more complex visual progress scenarios as I understand it.  Some of these kinds of illustrations and animations, may need more than one or two colours applied.

Something like this, is used by Windows 10X for their OOBE experience.
![image](https://user-images.githubusercontent.com/7389110/81754276-ae22f100-94ad-11ea-9e49-ab42b96cecf2.png)

It would be good to be a

[2020-05-12 23:17] MarissaMatt commented on #1170
@mdtauk thank you for the feedback! In reference to your suggestion about idle and progress animation loops, are you referring to a scenario where you might want to convey that something is about to load vs actively loading and swapping animations when you transition from one state to the next?

[2020-05-13 00:06] stevenbrix commented on #2429
@sylveon yes it has! Glad that you were able to discover that :)

[2020-05-13 00:22] mdtauk commented on #1170
You could imagine various scenarios where that would be helpful to have.  But I am just thinking out loud.

It should be the customers and experienced devs who's needs are met first.

[2020-05-13 00:27] NGame1 opened #2438 "[W10M] MediaElement Hangs on full screen"
Starting from Microsoft.UI.Xaml V2.2.X update every time I try to bring media element to the full screen view I get a black screen and phone will going into a hanged state. sometimes it reboots automatically sometimes I have to hold power key to soft reset.

I tried this on W10M build 15254 on Microsoft Lumia 950XL DS RM-1116

A very simple MediaElement even run in this issue
[code]

[2020-05-13 04:53] Neurrone commented on #1045
Along the lines of @JensNordenbro's comment, any chance that this will work with just Vs Code?

[2020-05-13 06:52] tipa commented on #125
Thanks, that workaround seems to work. I can still use databinding, but have to manually add the item to the `SelectedItems` list

[2020-05-13 08:09] h82258652 commented on #2424
```UIElement.Translate```, ```UIElement.Rotation``` and ```UIElement.Scale``` are base on ```Composition API``` and they can not use with ```UIElement.RenderTransform``` and ```UIElement.RenderTransformOrigin```. But I think it is very necessary to display a friendly error message.

[2020-05-13 08:17] mdtauk commented on #869
I know this was closed, but it appears that MDL2 Icons have been replaced with the open source Fluent Icons...

https://medium.com/microsoft-design/developing-an-open-source-icon-system-at-microsoft-b1796315df9f

[2020-05-13 08:59] mdtauk opened #2439 "Question: Will WinUI switch from MDL2 Icons to Fluent Icons?"
It seems that Microsoft has decided to modernise their UI Icons to make them rounder, and more friendly.

![image from the Microsoft Design Medium article](https://user-images.githubusercontent.com/7389110/81793078-c7a15880-9500-11ea-8449-5649c5238b8f.png)

https://medium.com/microsoft-design/developing-an-open-source-icon-system-at-microsoft-b1796315df9f

- So will these replace the MDL2 ones wit

[2020-05-13 09:33] myokeeh opened #2440 "ProgressRing Crashes App"
**Describe the bug**
Switching to new WinUI `ProgressRing` crashes app.

**Steps to reproduce the bug**
Using WinUI ProgressRing like below results in the exception.
[code]

**Expected behavior**
New ProgressRing in app without errors/exceptions

**Screenshots**

**Version Info**
2.4.0-prerelease.200506001

NuGet package version:
2.4.0-prerelease.200506001

| Windows 10 version                  |

[2020-05-13 09:48] chingucoding commented on #2437
A great question from @mdtauk : #2439
Will the Segoe MDL2 icons be replaced with the fluent icon system?

Something I wonder: Once WinUI 3 has been released, are there already plans on what will done next? Any controls that are planned, that will be developed (immediately) once WinUI 3 shipped?

[2020-05-13 09:48] Pinox commented on #2399
@ranjeshj  By using version number 2.4.0-prerelease.200506001  it looks like this is a prelease to stable version 2.4.  please consider changing version numbers so that it actually appear after the stable version 2.4 on nuget as it's slightly confusing.

[2020-05-13 09:51] chinwobble commented on #2388
`NavigationPaneFooter` also doesn't appear to be working.

In the last example of `Xaml Control Gallery` project the pane looks like this:
![image](https://user-images.githubusercontent.com/18226001/81798181-15df4780-9553-11ea-98ce-7f696f1f55b0.png)

But the code is:
[code]

[2020-05-13 09:52] mdtauk commented on #2437
@chingucoding  I know Input Validation is on that todo list.

Also there is the DataGrid and WinUI Ribbon.  I guess there is stuff from the freezer to be considered.

[2020-05-13 09:53] Felix-Dev commented on #2437
@mdtauk Input Validation will come with WinUI 3.0 if nothing unexpected happens.

[2020-05-13 10:17] ShankarBUS commented on #2439
Aren't they already being used in Microsoft's mobile apps such Edge, Outlook?

[2020-05-13 10:24] carmineos commented on #2437
Any info about https://github.com/microsoft/microsoft-ui-xaml/issues/668 and https://github.com/microsoft/microsoft-ui-xaml/issues/1080 would be appreciated

[2020-05-13 10:25] mdtauk commented on #2437
I thought it had been scaled back quite a bit to hit 3.0 release?

As for other controls, some I have noted are:
- Long Lived Status Messages; #913
- Pagination Control; #60
- UWP Ribbon; #168

Some proposals I would like to see personally:
- Task Dialog; #2313
- Prefix and Suffix for TextBoxes; #784
- Pivot fit and finish; #940 #844
- Updated Light and Dark theme colours; #920
- Better Shadow sup

[2020-05-13 10:29] mdtauk commented on #2439
Android and iOS have gotten them first, with the Office app redesign.

AFAIK Edge on Windows is still using MDL2

[2020-05-13 11:26] Felix-Dev commented on #2437
@mdtauk To my understanding it wasn't scaled back. Instead, some folks have certain extra wishes (like support for attributes such as `MaxLength(n)`) which would likely only arrive post WinUI 3.0. Input Validation will work just fine with WinUI 3.0 (i..e checking for a min/max input length).

Working on new controls immediately after WinUI 3.0 is out is nice and all but in my view, signinifcant re

[2020-05-13 12:06] harvinders opened #2441 "TreeView ItemSource data binding broken in 1803"
**Describe the bug**
Tree view items are not shown properly in 1803

**Screenshots**

Screenshot from XAML Gallary
![image](https://user-images.githubusercontent.com/8557046/81810236-f56cb880-9565-11ea-9744-c2404776d83f.png)

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :-------------------- |
| Insider Build (xxxxx)              | No   |
| Nove

[2020-05-13 12:41] chingucoding commented on #2437
I think to summarize/reiterate over the last few comments: What are the immediate plans after WinUI 3 release? What are the next steps steps the team is planning to do after the WinUI 3 release?

[2020-05-13 12:50] Felix-Dev commented on #2441
Sounds like related to https://github.com/microsoft/microsoft-ui-xaml/issues/2427.

[2020-05-13 13:34] ranjeshj commented on #2388
[code]
@chinwobble  Visibility of the StackPanel is set to collapsed which explains why it is not showing up.

[2020-05-13 13:37] ranjeshj commented on #2399
@Pinox Thanks for the feedback. I'm updating the pre-release to 2.5 and we will be doing a 2.4.1 stable release with this fix shortly.

[2020-05-13 13:45] ranjeshj commented on #2440
@myokeeh The markup you have shared works fine for me in a blank app as a user control. Can you share the repro app ? The callstack above does not have the symbols resolved, can you try resolving symbols or share the crash dump ?

[2020-05-13 13:55] chinwobble commented on #2388
@ranjeshj I tried to run the following code and it also crashed.

I'm having trouble with the debugging so I can't seem to get the exception.

[code]

[2020-05-13 14:00] ranjeshj commented on #2388
@chinwobble are you using the latest 2.4 pre-release build ?

[2020-05-13 16:08] myokeeh commented on #2440
@ranjeshj Does this help? https://aka.ms/AA8fb05

    KernelBase.dll!RaiseException()	Unknown
 	combase.dll!00007fffa19b9832()	Unknown
 	combase.dll!00007fffa18daadd()	Unknown
 	[Inline Frame] Windows.UI.Xaml.dll!Windows::Foundation::Diagnostics::OriginateError(HRESULT) Line 177	C++
 	Windows.UI.Xaml.dll!DirectUI::ErrorHelper::OriginateError(HRESULT hrEncountered, const xstring_ptr_view & strErro

[2020-05-13 16:14] ranjeshj commented on #2440
Just curious, do you have XamlControlsResources in App.xaml ? Just looking at the stack, it looks like the style for ProgressRing is not being found.
https://docs.microsoft.com/en-us/uwp/toolkits/winui/getting-started

[2020-05-13 16:28] myokeeh commented on #2440
Yes, it is.

[2020-05-13 17:11] Trolldemorted commented on #2412
Yeah, this looks like #1849 to me too. Sorry, I didn't find it while searching for potential duplicates!

[2020-05-13 17:11] #2412 closed

[2020-05-13 17:22] Trolldemorted commented on #1849
@Austin-Lamb is fixing this issue in the core framework out of the question? Has this issue been around forever, or was it introduced recently? This bug is affecting every UWP app out there, isn't it?

[2020-05-13 17:26] ranjeshj commented on #2440
can you please share a repro app ?

[2020-05-13 19:17] PaulaScholz commented on #2360
I am hitting this also with WinUI 2.4.

Windows 10 Enterprise Insider Preview
Version 2004
OS Build 19624.1000
Windows Feature Experience Pack 120.10601.30.0

Exception thrown: read access violation.
this->m_spCompDiagInterop.**ptr_** was nullptr. occurred
source is in compositionvisualdiagnostics.cpp

[2020-05-13 20:04] ranjeshj commented on #2441
Yes. TreeView and TabView use ListView under the covers so it is quite possible that you are hitting the same issue across controls.

[2020-05-13 20:12] ranjeshj commented on #2421
@chrisglein @Austin-Lamb can you route this bug ? With win32 support perhaps some of these restrictions can be relaxed.

[2020-05-13 20:16] myokeeh commented on #2440
I'm having a hard time quickly creating a repro app I can share. I have to rip out a bunch of things. But to provide you another data point, I just created an app with Windows Template Studio with a basic NavigationView and MVVMlight and the usercontrol with `ProgressRing` as shown above. It doesn't reproduce on that one. Works fine. I'll need more time to try and get you a repro app.

[2020-05-13 20:21] robloo commented on #2439
I know I'm asking too much, but please consider open sourcing these new icons or font if it will replace MDL2.

[2020-05-13 20:26] robloo commented on #2437
Microsoft **must** spend the time after the initial WinUI 3.0 release to fix the open bugs. This is the best way to get confidence back in Microsoft XAML tooling. It will also make development a joy again which will spur new ideas, new applications and new developers. I continuously find bugs that would never happen in the WPF days.

[2020-05-13 20:33] mdtauk commented on #2439
They are open, on Figma

[2020-05-13 22:02] robloo commented on #2439
Open as in licencing too? In other words can I use these icons for iOS/Android apps via Uno Platform?

[2020-05-13 22:04] mdtauk commented on #2439
**Our icons are available for everyone to use!**

[2020-05-13 22:08] weltkante commented on #2439
Note that the license still requires attribution (CC BY 4.0), at least thats what the Figma page says.

[2020-05-13 23:10] groovykool opened #2443 "In 2.4 NavigationView Items don't display correctly if a drag is attempted from unselected item."
**Describe the bug**
In 2.4  NavigationView Items don't display correctly if a drag is attempted from unselected item.
The reveal style is shown and sticks in pointerover mode?
**Steps to reproduce the bug**

Repo:  https://github.com/groovykool/WinuiNavView1.git
1. Run/debug repo project.
2. Try to drag an unselected NavigationViewItem,
3. Try multiple drags.

**Expected behavior**
The attempts t

[2020-05-14 05:00] maxkatz6 commented on #2439
While I am fine with Fluent Icons, there could be ability to switch back to MDL2 Icons.

[2020-05-14 06:34] LoriBru commented on #2390
Thank you for your detailed reply. Of course I understand that this would require some work, but I think it could allow the control to be used in very interesting use cases. The possibility to navigate a tiled image, which has different zoom levels structured in a pyramidal way has a lot in common with what the MapControl already does. You are mentioning simpler and more performant options, but ac

[2020-05-14 07:24] michael-hawker commented on #2419
@ranjeshj I think that's the key, if there's nothing to focus on in the ItemsRepeater, why isn't the focus on the ScrollViewer? Is there any tool in VS currently which shows you what has the current focus?

I care less about something in the collection having focus, then the ability to scroll the viewport with the keyboard like I can with the mouse wheel (just like I would a webpage or any other c

[2020-05-14 09:05] chingucoding commented on #2443
It looks like that clicking and then moving the pointer off the NavigationViewItem results in the "Clicked" state not being unregistered properly.

[2020-05-14 09:33] SynChLa opened #2444 "GridView not visible in GUI when Visibility of first GridViewItem is set to collapsed"
**Describe the bug**
I am currently struggling with a bug or an unexpected default behaviour of the GridView in Cpp/WinRT. A minimal working example is given below. This code does not show the GridView at all.

**Steps to reproduce the bug**
XAML:
[code]

Cpp-Header:
[code]
Cpp-Code:
[code]

**Expected behavior**
The idea is to be able to collapse some of the grid elements to create different patt

[2020-05-14 10:31] amyhaber commented on #1531
any news about WinUI3.0 with **win32** app model?
I can't wait for it.

[2020-05-14 10:41] Felix-Dev commented on #1531
@amyhaber A WinUI Desktop preview with Win32 support is slated to be released around Build next week.

[2020-05-14 10:59] amyhaber commented on #1531
awesome!

[2020-05-14 11:13] Pinox commented on #1531
@Felix-Dev  Is win32 and .net core the same thing here ?

[2020-05-14 12:17] ranjeshj commented on #2444
@SynChLa
you should not have to call UpdateLayout on initGrid.
You can also set the ItemsWrapGrid properties in Markup
[code]

The issue is that you are trying to set the visibility of the container. ContainerContentChanging might be a better event to handle that because that will get called when containers are recycled.

Depending on what you are trying to achieve ItemsRepeater might provide you

[2020-05-14 12:22] ranjeshj commented on #2419
ItemsControl probably works because focus is on the ItemsControl. As a workaround you can wrap the ItemsRepeater something that can take focus like a UserControl and ensure IsTabStop is set to true on it.

The best way to track focus issues is to add an OnGotFocus handler on the page and tracing it out to debug output.

[2020-05-14 12:23] chingucoding commented on #2411
@ranjeshj Shouldn't we expose the ActionButtonStyle and CloseButtonStyle in the template settings? Currently there are these properties on the TeachingTip class, but they are not used at all. Shouldn't those do something?

[2020-05-14 12:24] mdtauk commented on #1531
AFAIK WinUI Desktop will support C++ and C# with .net core

[2020-05-14 12:40] ranjeshj commented on #2411
@StephenLPeters as FYI.

[2020-05-14 12:45] mdtauk commented on #2439
Microsoft could include the Full MDL2 Assets font within WinUI, so developers can opt into using them with various controls.  But I think Fluent Icons should become the default

[2020-05-14 12:55] SynChLa commented on #2444
@ranjeshj
Thank you for the quick response. The number of columns and rows and the GridViewItem visibility are set flexible (by a user/file/server) during execution time. Therefore i can not define this information in XAML. As far as I understood your answer, you are suggesting a work around? Could you present further details on this? What should be handled on ContainerContentChanging? Does an Ite

[2020-05-14 12:59] mdtauk commented on #2411
I would suggest every control that contains templated parts or sub controls - should expose any styles of templates to the control proper.

[2020-05-14 13:05] ranjeshj commented on #2444
The likely reason why you are seeing thing disappear is because you are setting visibility during initialize which gets called once, but the GridView recycles its GridViewItems, so it will not stay up to date when items are recycled. You will also need to set the visibility of GridViewItems in ContainerContentChanging event which gets called during recycling.

ItemsRepeater is more of a building b

[2020-05-14 13:12] ranjeshj commented on #2411
TemplateSettings are usually readonly. If the control has these style properties already, I would expect it to be wired up to the template. If we did not have these properties, one option could be use theme resources like we use for brushes.

[2020-05-14 13:12] Felix-Dev commented on #1531
@Pinox As @mdtauk said. Taken from the WinUI 3 [roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-3):

![image](https://user-images.githubusercontent.com/1398851/81935511-08789a80-95f1-11ea-823a-d696280825d7.png)
AFAIK .NET Framework support is not going to be added to WinUI Desktop.

[Here](https://youtu.be/kVbu2ZWCMhU?t=2170) is also a comment by @ryandemo

[2020-05-14 13:36] SynChLa commented on #2444
@ranjeshj
I just added the ContainerContentChanging event. The behavior does not change and the problem remains.

Please note that the solution stated in the beginning works in all cases except those where the first item is set to collapsed. To me this definitely looks like a bug or an unexpected default behavior.

If possible i would like to stick with the GridView instead of implementing a separ

[2020-05-14 13:59] gopal-amlekar commented on #2437
Hi, a very basic question. Sorry if that is already answered somewhere else. Apps developed with WinUI with .net core - Will they run on Windows 7 as well?

Thanks a lot,

[2020-05-14 14:04] ranjeshj commented on #2444
Just tried the repro. The issue seems to be that you set visibility of the first item to false. ItemsWrapGrid uses the size of the first item to size all its items. Can you try setting  ItemsWrapGrid.ItemWidth/Height properties so that ItemsWrapGrid uses that to size its items instead of the first item ?

[2020-05-14 14:19] mdtauk commented on #2437
I think it is safe to assume WinUI still depends on Windows 10, and for Windows 7 or 8 you will need to use WPF, or WinForms - which are also now Open Source

[2020-05-14 14:20] chingucoding commented on #2437
Another option you can use is the Uno project: https://platform.uno/

That allows you to run WinUI apps on Windows 7, the web and mobile platforms.

[2020-05-14 14:37] gopal-amlekar commented on #2437
Yes, we are using WPF. (Can XAML islands be used for an app targeting compatibility with Windows 7?)

That is great, yes I am tracking Uno as well.

Thank you very much for your replies @chingucoding !

[2020-05-14 17:03] carldebilly opened #2445 "ProgressBar: problems with `Padding`"
**Describe the bug**
There's many bugs in the ProgressBar when using the `Padding` property. Those tests has been done using the `WinUIProgressBarSimple` sample on the Uno project (unmerged yet, in this PR: https://github.com/unoplatform/uno/pull/3083).

1. Changing the `Value` is causing the left-hand edge of the indicator to move with a padding is applied:
   ![progressbar-bug5](https://user-ima

[2020-05-14 17:07] mdtauk commented on #2445
Should the padding be affecting the background track, as well as the progress indicator bar?

[2020-05-14 17:35] ShankarBUS commented on #2437
Hey @gopal-amlekar, how about using [Kinnara/ModernWpf](https://github.com/Kinnara/ModernWpf). It has necessary controls and styles for WPF to match WinUI and will be useful for non-win10 projects

[2020-05-14 17:58] chingucoding commented on #2410
I think this is an issue with the XAML Controls Gallery. The content inside the pane has a lot of right padding. Since the content gets positioned to the left of the right border, by "coincidence" we show essentially nothing. If we have content in there that has no right padding, and instead content, there won't be this lack of content.

[2020-05-14 18:00] chingucoding commented on #2392
The problem here is the sample in the XAML controls gallery. If you open the pane, the SplitView will expand to show both the open pane and not occlude it's main content. If we set the width of the SplitView, it stops this behavior and only expands to the left when set to right placement.

[2020-05-14 19:06] shaheedmalik commented on #2439
Would it be easy as replacing the font?

[2020-05-14 19:06] dunclaw commented on #2390
For WPF apps, WPF Map Control NuGet should be much better at addressing this scenario and even though it hasn't been recently updated is still supported and works for arbitrary tiles
For UWP, the VirtualSurfaceImageSoure appears to be what best addresses the large bitmap display scenario https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.virtualsurfaceimagesource?view=winrt-190

[2020-05-14 19:22] mdtauk commented on #2439
I can't say for sure, but if there is a 1:1 16px version of the icons, and the font uses the same unicode values for the equivalent icons - it should only require a change of FontFamily value in the Resource Dictionaries

[2020-05-14 20:57] MikeCodesDotNET commented on #2428
I’m experiencing the same issue. Is this intended behaviour?

[2020-05-14 21:44] weitzhandler commented on #2437
Please talk about input validation. It's a deal breaker and I'm so glad it's in progress. Please elaborate on your implementation plans.
Thanks folks, you're awesome!

[2020-05-15 00:15] stmoy commented on #2417
@chingucoding - thank you for offering your help! Let me run this past the team internally and I'll get back to you. Please hold off on implementing this until I pitch it to the team (scheduled May 27).

[2020-05-15 02:57] HppZ opened #2448 "wrong behavior when mouse over and exit"
repo: https://github.com/HppZ/BitmapIconBug

[2020-05-15 04:25] Stanzilla commented on #2307
Yup this needs to be standardized and ideally enforced.

[2020-05-15 06:09] chinwobble commented on #1244
+1 this I was relying this behaviour too

[2020-05-15 07:26] SynChLa commented on #2444
@ranjeshj
Thank you for the repro. I just tested your suggestion. Setting the ItemsWrapGrid.ItemWidth/Height in XAML does not work for me. But if I set it in the the Cpp Code it works. I just added the lines:
`geom.ItemHeight(60);`
`geom.ItemWidth(60);`
Of course I will have to add an extra resource in XAML to make the size settable there. Your suggestion will work for me as a work around. Thank y

[2020-05-15 12:22] LoriBru commented on #2390
Thanks very much for the support, once again.
I didn't know about the VirtualSurfaceImageSoure so thank you for the suggestion. Unfortunately, it requires a different set of skills (DirectX, XAML interop) and there is very little documentation and no sample anywhere. While it's pretty easy to have a small testable prototype using the UWP Map control, trying to use this class would require a much b

[2020-05-15 13:03] ranjeshj commented on #2444
@SynChLa glad to hear that worked. ItemsWrapGrid sizing all its items based on the first item's size (by default) when ItemWidth/ItemHeight is not provided is by design.

Looking at the documentation for ItemsWrapGrid, that information is not clear. @anawishnoff can you please help update the docs here ?
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.itemswrapgrid?view=winrt-190

[2020-05-15 13:40] dragus0 opened #2451 ""By default, the DataGrid.ColumnWidth property is set to SizeToHeader", or is it!"
While not specified in the XAML Code, but shown as SizeToHeader in the Properties Window, it actually behaves like SizeToCells.

https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/sizing-options-in-the-datagrid-control

Sorry if this is the wrong repo. It probably is lol.

<DataGrid x:Name="Tables_DataGrid" Grid.Row="3" Grid.RowSpan="1" Margin ="0" RowDetailsVisibilityMode="VisibleWhen

[2020-05-15 13:43] ranjeshj commented on #2451
@dragus0 If this issue is regarding the WPF DataGrid, can you post it in the WPF repo ? https://github.com/dotnet/wpf

[2020-05-15 13:45] dragus0 commented on #2451
sure. thanks

[2020-05-15 13:45] #2451 closed

[2020-05-15 14:20] SFM61319 commented on #2402
I have a few more doubts.
1. If the blur radius is `30.0f` in `C++`, then how many `px` (pixels) is the blur radius (in `CSS`)? (I'm trying to learn to code in XAML and CS for UWPs and I would find it easier if I try it in `CSS`, as I know some `CSS`)
2. What is the background-size of the noise PNG used? (A small one would make no difference and a big one will increase the size of the noise textur

[2020-05-15 15:23] mdtauk commented on #2402
CSS is very different from XAML.

The Background Noise file I believe is either 256x256 but is tiled, so it repeats and is layed over the surface it is applied to.

The Blur would be 30px.

There are various over layers that make the Acrylic effect though.

![image](https://user-images.githubusercontent.com/7389110/82066779-c66e5800-96c7-11ea-873f-b0269f11bdde.png)

This is how I do it for Mock Up

[2020-05-15 15:56] ackh opened #2452 "Question: How to author dependency properties that depend on each other?"
I'm working on a C++/CX based user interface element and I'm stuck with a particular problem. I'm asking here because I cannot find documentation or sample code that would help. I've asked the same question on [Stackoverflow](https://stackoverflow.com/q/61804996) but it seems to be largely ignored by people. Apologies if this is not the right location but I'm frankly running out of options.

My C+

[2020-05-15 15:56] ackh opened #2453 "Question: How to use a custom enum in a dependency property?"
I'm working on a C++/CX based user interface element and I'm stuck with a particular problem. I'm asking here because I cannot find documentation or sample code that would help. Apologies if this is not the right location but I'm frankly running out of options.

On my C++/CX user interface element I need to add a dependency property that uses a custom `enum class` as type. Here's the code that I h

[2020-05-15 18:25] SFM61319 commented on #2402
1. I know that the noise is tiled (because the noise image would be stretched or zoomed to fit if not tiled), but I don't know the scale value or the dimensions (other than 256x256) to which the noise is set (I think the noise PNG is resized to a smaller value because 256x256 doesn't look like the correct noise texture used in acrylic).

2. At first, I too thought the blur would be `30px`, but whe

[2020-05-15 18:33] mdtauk commented on #2402
DPI scaling may be a factor.

The Noise asset is from the SDK, so is direct from Microsoft.

Originally the Noise was set to 5% but in the next versions after, Microsoft changed this value and introduced Saturation Boost and Luminosity layers.

[2020-05-15 18:34] JasonStein commented on #2421
Btw, same applies to StorageFile.RenameAsync API. But there is no literally no alternative way to rename a dragged file.

[2020-05-15 18:39] soumyamahunt commented on #2421
Also with `LaunchFileAsync` fails for files whose extension isn't declared in manifest.

[2020-05-15 19:45] msavazzi commented on #2436
here is a project and video to show very well the issue. It just uses the template un VS2019 and adds a simple sorting: https://1drv.ms/u/s!AohVtHaw3aCiwrw81EYHqNY-9Xtqfg?e=4AOIaN

[2020-05-15 19:55] massijay commented on #2437
News about ink controls like InkCanvas, InkToolbar? It would be also nice to have ink integration in the new Webview2 (like the old Edge)

[2020-05-15 20:09] ranjeshj commented on #2452
@MikeHillberg as FYI.

[2020-05-15 20:11] ranjeshj commented on #2448
@HppZ can you provide more details on what the current behavior is and what you expect ? Pictures showing the current state would be very helpful as well. Thanks!

[2020-05-15 20:15] #2444 closed

[2020-05-15 20:17] ranjeshj commented on #2443
@groovykool NavigationView does not support drag/drop, so I'm curious what you are trying to do. Is it an issue that if someone tries dragging we get into a weird state ?

[2020-05-15 21:19] RobbyRobbyRobby commented on #2421
I've resorted to warning the users that they need to enable BroadFileSystemAccess just to accept dragged file properly (in apps where it needs to save over/rename, etc)

frustrating and not a good experience for dev or user.

[2020-05-15 21:34] JasonStein commented on #2421
Exactly, and it makes no sense to let user give BroadFileSystemAccess to a simple notepad app.

[2020-05-15 22:35] groovykool commented on #2443
Why wouldn't someone try dragging?  I have Drag and Drop working fine with NavigationViewItems.  They are UIElements and they DO support drag and drop.

Regards,
Tony

[2020-05-15 22:45] ranjeshj commented on #2443
@groovykool I see. You are using the UIElement drag/drop APIs to achieve this. Can you provide more detail on your scenario? Collection controls like ListView had explicit support/APIs for drag/drop/reorder which is what I meant NavigationView did not have.

@anawishnoff as FYI since you might be hitting a scenario that we did not consider.

What you are seeing does look like a bug.

[2020-05-16 00:14] maxkatz6 commented on #2422
@codendone thanks for information.
I think it could be closed for now.

[2020-05-16 00:14] #2422 closed

[2020-05-16 00:31] chingucoding commented on #2402
@SFM61319 The thing with XAML rendering is that there is no such unit like PX in CSS. All measurements are done in "Pixels" which then are converted into DPI pixels/PPI which are aware of factors such as display scaling and screen size. So on my device 40 "pixel" would be the same size as on a device with a smaller or larger screen, because those units get scaled to ensure that text is readable et

[2020-05-16 02:03] HppZ commented on #2448
mouse over then exit those two controls respectively, then:
![image](https://user-images.githubusercontent.com/12285582/82107657-0717b100-975c-11ea-9877-c0dd601ca5f1.png)

click on them to check them, then mouse over then exit those two controls respectively:
![image](https://user-images.githubusercontent.com/12285582/82107709-5cec5900-975c-11ea-8753-d2782e5f2c05.png)

[2020-05-16 02:59] harvinders opened #2454 "TabView header looks different in dark and light theme"
**Describe the bug**

The header looks different. It seems the light mode is the right one and dark mode is where it is off.

**Screenshots**

![image](https://user-images.githubusercontent.com/8557046/82108824-c5dfcb00-9774-11ea-9da5-c038e89d55b1.png)

**Version Info**

NuGet package version:

2.4

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :

[2020-05-16 03:07] shaheedmalik commented on #2454
I'm not sure what I am looking for, but I can say that Light Mode has an incorrect contrast ratio for the text / gyph.

[2020-05-16 06:24] dpaulino opened #2455 "Bug: TabView content disappears after dragging."
I set up a tabview by binding an observable collection to the control's `TabItemsSource`. I then tried dragging tabs around, but the content disappears after dragging. I'm not sure if this is a bug or if I'm just not using the control properly. Can someone help?
Video: https://streamable.com/htc4sp

WinUI version: 2.4
Windows version: Windows 10 2004 Build 19041.264

[2020-05-16 07:37] smourier commented on #2437
I'm very excited with the WinUI plan (at last a serious UI strategy for Windows), and I can't wait for it :-) My questions:

I understand WinUI will run only on Windows 10 (as I understand, uno on Windows 7 is "just" PWA or electron based) , but what version explicitly as there are many? Will it be possible to use some features on 1703, others 1809, and so on?

Also any reasonable WinUI 3 release

[2020-05-16 08:21] soumyamahunt opened #2456 "Question: Why users can't set uwp app as default opener for custom/undeclared file types"
For win32 apps user can provide path of .exe to open a custom file type, this is especially helpful for text editor apps as it is impossible to declare all file types. But in uwp there is no way to do this, currently in [this PR](https://github.com/JasonStein/Notepads/pull/534), I am implementing desktop extension so user can choose to open file with the extension which then redirects activation t

[2020-05-16 08:47] JasonStein commented on #2456
One thing I want to add here: It is not possible to even rename a file without extension in UWP.
You can register extensions like ".txt" or ".md" with your app and your app can deal with them nicely but once you use StorageFile.RenameAsync to change a file from "file.txt" to "file", you will get blocked because you have do not have support for that and there is no way to specify no extension regis

[2020-05-16 08:58] soumyamahunt commented on #2456
Yes, also for `Launcher.LaunchFileAsync()` if you pass any file type that isn't supported by uwp it won't open even if you specify `TargetPackageFamilyName` and `ContentType` in `LauncherOptions`. It doesn't throw any exception or return any value the execution just stops.

[2020-05-16 09:21] michael-hawker commented on #2452
@ackh posted a suggestion on StackOverflow, hope that helps. For this specific scenario, I think you can just have a common callback for all three of your color value properties and use that to construct the color as needed.

In other cases, I've found using the [Behavior](https://github.com/Microsoft/XamlBehaviors) pattern to be useful when I need to have multiple values loaded before processing

[2020-05-16 09:41] dragonwolf83 commented on #491
Use the Power Preferences and Battery mode to dynamically configure how transparency and background affects work. You see this today with the Desktop Slideshow paused on battery and enabled when plugged in.

Battery Mode and Maximum Battery Life settings could freeze the transparency or change latency to values best suited for that mode. Possibly kick it back in if the window is moved around if it

[2020-05-16 09:44] Felix-Dev commented on #2437
@smourier

WinUI 3 will run on 1803 Windows 10 and above. If you need to target even older Windows 10 versions, you will need to use WinUI 2 (at least 1703 and above).

A first WinUI preview will be released around Build next week. Release of WinUI 3 is currently slated for end of the year.

XAML Islands will be *included* in WinUI 3 going forward. You can still modify your existing Win32 apps pro

[2020-05-16 11:26] michael-hawker commented on #1286
FYI @jevansaks @ranjeshj hit this same issue or something pretty similar just now on 2004 (it's building fine on another machine with 1909). It's something in this [commit range](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3112/files/900bd8797e1cf5df6974391fbca3d6a735415cca..dd7af19683f211849f994b1b94eed393f4f60764) to the sample page xaml file there at the top. I'll try and fi

[2020-05-16 12:28] ranjeshj commented on #2455
@dpaulino I don't see this issue in XamlControlsGallery.  Do you have a style for TabViewItem ? Is there something else different about your app ? Can you see if you can repro it in a blank uwp app and if so can you share the repro ?

[2020-05-16 16:16] satishraopublic commented on #2020
Is there another simple, elegant and intuitive way for background process to interact with users, without needing to be a windows based app. If so, then may be system tray is redundant, if that is the only way, then it needs to be retained. I think there are plenty of use cases for it.

[2020-05-16 16:37] Felix-Dev commented on #2020
An app can be pinned to the Windows 10 Start menu and use the [Badge API](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/badges) to notify the user of certain events. Right-clicking on the app's entry in the Start menu opens a context menu which can be populated using the [Jumplist API](https://docs.microsoft.com/en-us/uwp/api/windows.ui.startscreen.jumplist?view

[2020-05-16 16:46] mdtauk commented on #2020
10X is not removing a notification area, but only displaying the notifications, without a sidebar.

The quick actions are going in their own separate UI area.

Tray Icons could theoretically be placed in either of those spaces, except that for 10X, they idea of background apps being installed is possibly something they wish to avoid.  There are other ways to achieve the same things, but until 10X

[2020-05-16 16:51] Felix-Dev commented on #2020
@mdtauk With "10X removing the notification area" I mean the area I believe folks here are describing as the "system tray": https://docs.microsoft.com/en-us/windows/win32/uxguide/winenv-notification

[2020-05-16 16:55] mdtauk commented on #2020
System Tray is how I think of it - so I just wanted to distinguish that and the Windows 10 area where notifications are kept.

[2020-05-16 17:12] Felix-Dev commented on #2020
`Action Center` is the name of the UI region where notifcations are kept in Windows 10. MS seemingly contributes to the confusing by using both "system tray" and "notification area" term for the saem UI region, yet the documentation states:
![image](https://user-images.githubusercontent.com/1398851/82125557-09532d00-97a7-11ea-8271-597e94f2ad04.png)
Yet somehow system tray became the term many are

[2020-05-16 17:44] dpaulino commented on #2455
@ranjeshj Here's a sample app with full repro instructions and video in the readme: https://github.com/dpaulino/tabview-content-disappearing

repro video https://streamable.com/c4nbil

### Repro steps

1. Clone this repo
1. Open in VS2019 and launch by pressing F5
1. Window opens with two tabviews in the app, one at the top half of the page and another at the bottom half of the page.
    - The top

[2020-05-16 18:09] dpaulino commented on #2455
The main difference between the two tabviews is that the broken tabview uses `TabItemsSource`. Should developers not be using that property with the TabView? Or is the expectation that the TabView performs identically whether or not a developer uses `TabItemsSource`?

[2020-05-16 18:19] dpaulino opened #2457 "App crashes when rearranging tabs in TabView where TabItemsSource is used"
**Describe the bug**
If you try to rearrange tabs in the TabView which uses describes how to use `TabItemsSource`, the app crashes.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the app, version 1.2.15.0
1. navigate to tabview samples page
1. scroll down to the section titled `A TabView bound to a collection of MyData objects`
1. Try to rearrange the tabs in that sectio

[2020-05-16 18:53] chingucoding commented on #2457
I was able to get this under the debugger finally, and it seems that we a TabItemTemplate which binds to the content is an issues. If we remove the binding of content, the app does not crash. The error message:

[code]

[2020-05-16 18:53] chingucoding commented on #2457
@stmoy @ranjeshj Mind if I look into a fix for this issue?

[2020-05-16 18:58] mdtauk commented on #2020
Mostly its for apps running without any UI or window, which then opens a window or displays UI when interacted with.

As there is no window open or minimised, there is nothing to switch to on the taskbar, and no window to display in the timeline or task switcher views.

[2020-05-16 19:07] shaheedmalik commented on #2020
Developers tend to put their app in the system tray because they have a sense that their app is ultra important. As a user, 99% of the time the app isn't as important as the developer thinks.

Right now I have Defender, Bluetooth Devices, Nvidia Settings, Dolby Audio, Ear Trumpet, and OneDrive running in my system tray. Out of all of these, probably only Ear Trumpet needs to be down there. The res

[2020-05-16 19:37] quinmars opened #2458 "Proposal: Make TreeView.SelectedItem a DependencyProperty"
# Proposal: Make `TreeView.SelectedItem` a `DependencyProperty`

## Summary
The TreeView.SelectedItem property is not a DP, hence it is not possible to bind to the view model with the `TwoWay` mode.

## Rationale
One common pattern for a list or tree view is the master detail pattern. The user selects an item from an items view (`ListView`, `ComboBox`, `ListBox`, `TreeView` etc.) and in a secondar

[2020-05-16 19:57] dragonwolf83 commented on #2020
Not important to you, however, they are important to me and many Windows users. Without system tray, they will move to taskbar which is worse.

System tray is primarily a place for services and background apps to show they are running while allowing some from of control over it's state without polluting the main taskbar. They are intended for at-a-glance status with quick interactions.

Apps in ta

[2020-05-16 20:00] Felix-Dev commented on #2020
@mdtauk

Using the Start menu as described above would work just fine for those types of apps. I have such an app myself which can start completely minimized (no taskbar app icon, no app window) yet I can use the Badge API and notifications to inform the user when something happened and they can decide to bring it to the foreground using the Start menu (just as they would with the notification are

[2020-05-16 20:48] MartinZikmund commented on #2458
I am all for this proposal, I spent quite a few minutes trying to understand why my binding was not working until I found out it is not in fact a dependency property 😀

[2020-05-16 20:52] sylveon opened #2459 "Proposal: Remove requirement for VCRTForwarders"
# Proposal: Remove requirement for VCRTForwarders

## Summary
Currently, usage of WinUI in non-UWP scenarios requires carrying a set of DLLs known as the VCRT forwarders, which forward methods from the app CRT (which is unavailable in non-UWP, even if packaged) to the corresponding desktop CRT methods. This actually breaks unpackaged .NET scenarios, and is generally not useful. They should be remo

[2020-05-16 21:17] chingucoding commented on #2458
Yes, this should definitely be a DP in my opinion.
If this proposal get's accepted, I think it would be pretty straightforward to implement.

[2020-05-16 21:31] dragonwolf83 commented on #2020
I strongly disagree. I don't know your app so I can't speak to your user story but a whole class of apps do not work well buried inside hidden surfaces such as Start Menu or Action Center. These apps include: signal strength indicators, battery level, CPU/GPU Temperatures, Sync statuses, Message Indicators, etc.

How can we classify all these apps to better understand them? I think we understand n

[2020-05-16 21:38] dpaulino commented on #2458
Yes please

[2020-05-16 21:50] colinkiama commented on #2020
I'd like the system tray experience to be revamped. Something similar to macOS' menu bar apps.

[2020-05-16 21:59] shaheedmalik commented on #2020
This would be a problem with the notification system. As Windows evolved, one doesn't need a system tray icon running just to notify you of potential messages. One can receive messages without cluttering up the system tray.

[2020-05-16 22:07] shaheedmalik commented on #2456
They actually added that ability to Windows Insider recently.

[2020-05-16 22:13] soumyamahunt commented on #2456
That's just adding search ability in default apps settings, that's not what the question is about.

[2020-05-16 23:47] dpaulino opened #2460 "Bug: Pivots inside of a TabView's content disappear when rearranging the selected tab"
**Describe the bug**

Pivot headers inside of a TabView's content will disappear when you rearrange the selected tab, **but only if you perform the drag drop slowly such as ~3 seconds**.
Video of bug: https://streamable.com/mzrxvs

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Follow instructions here: https://github.com/dpaulino/tabview-content-disappearing/tree/disappearing

[2020-05-16 23:48] michael-hawker commented on #1286
Yup, I've confirmed it looks like a weird version of the [same issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1286#issuecomment-529599610) @jevansaks linked to.

As if I add the extra namespaces to the top:
[code]
Then I can build again.

The weird thing though is that it seems to work for others on 1909 targeting the 18362 SDK in VS 2019. However, trying to compile on OS 2004 caused

[2020-05-16 23:59] Sergio0694 commented on #1286
According to the tracking issue in the VS feedback hub ([here](https://developercommunity.visualstudio.com/content/problem/544057/uwp-visual-studio-2019-targetting-1903-18362.html)), the fact that it builds fine when targeting the 19041 SDK makes perfect sense, as this issue was apparently caused by a XAML compiler bug in the toolchain set for the 18362 SDK. The super weird things though are:
- Th

[2020-05-16 23:59] LanceMcCarthy commented on #1286
It just seems to come down to using any properties that are only defined on the base class that has no xmlns.

e.g.
[code]

and a control that inherits from that:

[code]

If you use that control and set the DependencyProperty that is defined in the base...

[code]

that replicates the issue.

The workaround is to make sure the compiler has access to the base where the DP is defined:

[code]

@mic

[2020-05-17 00:05] michael-hawker commented on #1286
Also, running a Release mode version of the package built on 1909 worked fine on 2004, so it appears to be purely a build issue.

[2020-05-17 06:10] myokeeh commented on #2440
@ranjeshj I've uploaded the VS solution as an attachment: https://aka.ms/AA8fb05

[2020-05-17 08:58] chingucoding commented on #2455
It looks like we are setting the content of the tabviewitem to null when it get's dropped onto the TabView again. That is definitely a bug.

[2020-05-17 10:19] NPadrutt commented on #424
I tried that, but it didn't work as well.

[2020-05-17 12:27] 0x7c13 opened #2461 "ContentDialog rendering z-order should be higher than FlyoutBase"
Screenshots are pretty much self explained:

![image](https://user-images.githubusercontent.com/1166162/82145322-d046a700-97fe-11ea-82d0-4f02f2737c0b.png)

![image](https://user-images.githubusercontent.com/1166162/82145531-f704dd80-97fe-11ea-8d4e-d6bdf1263a47.png)

![image](https://user-images.githubusercontent.com/1166162/82145562-fc622800-97fe-11ea-888a-599150777cf5.png)

If not, I need to mana

[2020-05-17 12:44] jtorjo commented on #2437
Compilation times please - will these be improved any time soon? Or do we need to wait another year?
(my app right now compiles in about 2 minutes 13 seconds, which is insanely much)

[2020-05-17 12:46] mdtauk commented on #2461
This seems like a good suggestion, I am curious as to how your flyouts are appearing when the UI behind the content dialog is not supposed to be interactive?  The Smoke layer is supposed to prevent buttons being hit.

[2020-05-17 12:48] JasonStein commented on #2461
The flyouts were opened before ContentDialog is showing, not after.

[2020-05-17 16:33] chausner opened #2462 "Hamburger menu button appears at wrong location when changing NavigationView.PaneDisplayMode from Top to LeftCompact"
**Describe the bug**
When `NavigationView.PaneDisplayMode` is changed programmatically from `Top` to `LeftCompact`, the hamburger menu button appears at the wrong location. Once you force a layout update (e.g. by resizing the window), it jumps to the expected location.

**Steps to reproduce the bug**
1. Create a new blank WinUI 3 app.
2. Add a `NavigationView` with `PaneDisplayMode` set to `Top`.

[2020-05-17 16:41] chausner commented on #148
I just ran into this issue with the latest WinUI 3 release (3.0.0-alpha.200210.0), so the issue should probably be re-opened. #1997 supposedly fixes it but that MR has not been merged yet.

[2020-05-17 17:22] cirrusone commented on #2437
I have a few questions
1) What timescales/features are likely for new datagrid?
2) Will community toolkit datagrid work for potential preview release in May on Win32?
3) Is there a propertygrid in the pipeline for WinUI?
4) Is there a roadmap outlining what is likely to be delivered and when?

[2020-05-17 20:43] chingucoding commented on #2462
The NavigationView inside the "latest" WinUI 3 alpha version is a bit old and probably does not contain the latest bug fixes. Since the WinUI 2 NavView does render this correctly, maybe this was an issue that was already fixed, but has to be released in WinUI 3.

[2020-05-17 21:00] msavazzi opened #2463 "Expand messes up selected item"
**Describe the bug**
When the item is expanded the selected item is messed up, goes to a random one, and often is out of screen

**Steps to reproduce the bug**
download solution: [https://1drv.ms/u/s!AohVtHaw3aCiwaE8ADrS0bbIbs6vkA?e=DaJGvn](https://1drv.ms/u/s!AohVtHaw3aCiwaE8ADrS0bbIbs6vkA?e=DaJGvn)
1. Compile
2. Click on the first folder - Pictures (NOT on the expand glyph)

**Expected behavior*

[2020-05-17 21:45] chingucoding commented on #2461
What if somebody has some fields/buttons in the ContentDialog that can create a flyout? Which should have precedence there?

[2020-05-17 22:26] soumyamahunt commented on #1986
I tried using ScrollViwer Extensions from [Windows Community Toolkit](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI/Extensions/ScrollViewer) to apply scroll with mouse middle click. But the pointer type doesn't change when pointer is over RichEditBox control. May be adding ability to change cursor type to anything would be better instead of restric

[2020-05-17 22:45] michael-hawker commented on #2437
🦙 @cirrusone some quick initial info for you:

1. I'm assuming they won't work on new DataGrid until after WinUI 3 ships, so see 4 below.
2. We've been doing some tests of the Toolkit with WinUI 3, but not sure if we've tested the current DataGrid yet - I'll have to check. However, to use the Toolkit with WinUI 3 you would need a version of the Toolkit built for WinUI 3. While we have a branch we'

[2020-05-17 23:18] harvinders commented on #2454
Here is a closeup. The background behind the tabs and header open area is same in light mode, but different in dark mode

![image](https://user-images.githubusercontent.com/8557046/82162496-538ff780-98e8-11ea-84c8-d72897e9eb74.png)

[2020-05-18 03:06] zhuxb711 commented on #2437
Even after a long period of investigation, WinUI Team cannot found the cause of the following problems. I hope these very obvious bugs can be resolved as soon as possible.
#1820 #2040 #2331

[2020-05-18 05:42] lmcdougald commented on #1045
I'd like to see an application template that creates a .NET 5 application with WinUI 3.0 UI that references a .NET 5 store host application. This would allow for fewer redundant installations of .NET 5.0

[2020-05-18 06:53] Pinox commented on #2437
Is there any progress / timeframe on nugets for us to convert existing UWP to  UWP (winui3.0) + .net core.

When are we going to see :
1) Winui3.0  Preview Nugets
2) Winui3.0 templates for UWP/.net core
3) Windows Community Preview (based on winui3.0) nugets.

Too really add value / spot issues we need the above to start converting existing projects.

[2020-05-18 08:47] michael-hawker opened #2464 "Documentation: Add Style Migration Guides"
The 2.4 WinUI update changed the NavigationView's style template (as has been done numerous times in the past as well). This makes it hard for developers who re-style controls to upgrade to the new library, especially when it's a minor version update (for instance the Windows Community Toolkit reserves breaking style changes for major version updates).

Even then, it'd be great to see a document/g

[2020-05-18 10:59] electronic-dk commented on #2020
For me, the use case for the tray icons is simple: I want to see the apps that run in the background there and for the icon in the tray to indicate either a continuous status (e.g. a CPU load/temperature indicator) or a discrete indicator that something's happened (say a messaging app icon saying that I got a new message). The actual message notifications go to the action center. If the app is not

[2020-05-18 14:08] ackh commented on #2453
It seems that I need to first cast `e->NewValue` to `int` before I can cast it to `DemoEnum`. Interestingly this is only necessary when changing the dependency property in the XAML designer. If the application is running it works without the cast to `int`. It eludes me why this is the case, XAML designer magic I guess.

The corrected code looks like this:

void MyUserInterfaceElement::OnDemoChange

[2020-05-18 18:00] tzdlr commented on #1154
Small question on this topic. Is this change approved for stable releases? Wasnt able to work with the sample app provided on this topic.

[2020-05-18 18:04] chingucoding commented on #1154
I think the change should be in the latest (pre)release version of WinUI.

[2020-05-18 18:09] tzdlr commented on #1154
Well, the latest pre-release i found is 2.4.0-prerelease.200506001 where there is a 2.4.0 stable release. The topic was opened on an 2.3 and i'm still missing the "NewParent" property on TreeViewDragItemsCompletedEventArgs

[2020-05-18 18:13] chingucoding commented on #1154
The "NewParent" property is still marked as preview, so it currently should only be available in prereleases.

[2020-05-18 18:14] tzdlr commented on #1154
as said, i tested with several 2.4 pre releases, an wasn't able to access it

[2020-05-18 18:25] chingucoding commented on #1154
It was renamed with #1692, the property is called "NewParentItem" now. Sorry about the confusion.

[2020-05-18 18:28] tzdlr commented on #1154
Namingconversion are no problem in general... but, i cant find any. There are only two acessable properties, Items and DropResult. Call me dumb, but i'm not able to get a working solution.

[2020-05-18 18:40] chingucoding commented on #1154
I've updated the linked project from @kaiguo to use the newest prerelease. Can you clone the following project and check if it compiles for you?

The updated sample: https://github.com/chingucoding/TreeViewConditionalReorderSample

[2020-05-18 18:47] msavazzi commented on #2437
Is it possible to have an update and a discussion of all the bugs I'm finding on TreeView?

[2020-05-18 18:52] msavazzi opened #2465 "Treeview selection leads to a complete crash"
**Describe the bug**
I sort couple of times the tree and then when I select an Item I get a complete crash - not an exception.

**Steps to reproduce the bug**
Download project here: TreeView.[TreeView Error 2](https://1drv.ms/u/s!AohVtHaw3aCiwrw81EYHqNY-9Xtqfg?e=GqeqSA)
Compile it.
Once executed you can select an item.
click couple of times on the Alpha Sort icon (the one on the right) and then se

[2020-05-18 18:55] tzdlr commented on #1154
Yes, it does and works like a charme. Well, obivously i missed out my usings...
Both, Microsoft.UI.Xaml.Controls as Microsoft.UI.Xaml.Controls have an own CompletedEventArgs.... never saw this discrepancy -.- thanks for pushing me into right direction

[2020-05-18 19:02] chingucoding commented on #1154
Glad to hear that we found the issue, happy that I could help you :)

[2020-05-18 19:22] SuhasSrinivasan commented on #1986
Hi,
Is there a timeline when this issue is planned to be fixed?
This reduces the user experience for certain UWP text editors e.g. Notepads.
This issue exists in Windows 10 1909, Build 18363.836.

[2020-05-18 19:42] christiannagel opened #2466 "Proposal: NumberBox enhancement for the decimal type"
# Proposal
`NumberBox` enhancement for the `decimal` type

## Summary
The `NumberBox` is based on the `double` type. It should be as easy to use the `decimal` type instead.

## Rationale
Many applications use the `decimal` instead of the `double`. If a property of type `decimal` is used with compiled binding, a casting exception is thrown. With reflection-based binding, the value is always `0`.

*

[2020-05-18 20:00] kmelmon commented on #2424
Apologies for the lack of clear documentation.  In your example, you've used two properties that are incompatible with each other.  The Rotation property is part of a new set of "simple properties" that will eventually take the place of the RenderTransform property.  Right now we support both sets of properties because so many apps are using RenderTransform.

For this example you should use the UI

[2020-05-18 20:09] ranjeshj commented on #2464
Re-templating a control is essentially forking the code. We need an equivalent of merging in the changes made in the framework to your own app where the template was copied.

If there are ways we can expose the customization points through the control, then we can avoid re-templating in most cases and mitigate this issue a bit.

Both the old style and the new styles are open, so is this specific a

[2020-05-18 20:13] ranjeshj commented on #2463
This looks like the same/similar issue as #1820

[2020-05-18 20:14] ranjeshj commented on #2462
@chingucoding is correct. Can you see if this repros with the latest winui 2.4 prerelease ?

[2020-05-18 20:21] chingucoding commented on #2462
I've tried switching from Top to LeftCompact in the MUXControlsTestApp and XAML Controls Gallery and couldn't repo the issue.

[2020-05-18 20:22] ranjeshj commented on #2461
When the content dialog opens, it should dismiss any existing light dismiss flyouts. If a flyout is opened from the content dialog, it should be above the content dialog. Any non light dismiss flyouts should be below the content dialog.  When the dialog is dismissed, the non light dismiss flyout will still be available.

@chigy as FYI.

[2020-05-18 20:22] vsfeedback opened #2467 "After adding new templated control to my namespace running into XamlCompiler error WMC0610: The XAML Binary Format (XBF) generator reported syntax error '0x09c6'"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1034515/after-adding-new-templated-control-to-my-namespace.html)._

---
Facing this error across many places during compilation after adding a templated control (often) on the working namespace and sometimes while referring to his namespace  (some cases),

Removing back the

[2020-05-18 20:22] msavazzi commented on #2463
in my case it does not always select the item below, it's more random

[2020-05-18 20:24] ranjeshj commented on #2460
@RBrid Does this issue look familiar ?

[2020-05-18 20:32] RBrid commented on #2460
@ranjeshj No - I don't think that's the same bug as the Pivot bug I am currently investigating for WinUI 3.0 Desktop.

[2020-05-18 20:38] ranjeshj commented on #2459
@Austin-Lamb @MikeHillberg as FYI

[2020-05-18 20:58] stevenbrix commented on #2459
@Scottj1s and @stwish-msft for more info on some plans for the CRT. My understanding is that there are plans to make the VCRTForwarders package no longer needed.

[2020-05-18 21:09] chingucoding opened #2468 "Cleanup NavigationView tests"
Currently there are a few tests which are not that helpful and should be cleaned up or removed:

- EnsureNoCrashesInHorizontalFlipMenuItemsSource <- Can this be removed or what is the description meaning
- EnsureNoCrashesInHorizontalFlipMenuItems <- Same as above
- MenuItemKeyboardInvokeTest <- Should probably be a test
- CanDoSelectionChangedOfItemTemplate <- `Should probably verify more

[2020-05-18 21:11] #2347 closed

[2020-05-18 21:26] #1785 closed

[2020-05-18 21:31] Scottj1s commented on #2459
Yes, plans are being developed.  Will report more details here when available.

[2020-05-18 21:33] robloo commented on #2466
I asked for the same when we were first discussing the spec for the NumberBox

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-497545781

This is important for currency and other monetary information. However, you are correct that this isn't possible because decimal is not in WinRT.

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-497564896

There are

[2020-05-18 21:48] robloo commented on #2465
I ran across a similar issue when the TreeView was first released. I was trying to .Clear() the selection and the app completely crashed -- no exception. I filed an issue in UserVoice I believe at the time and never looked back. TreeView to this day is not stable enough for production.

[2020-05-18 21:57] dotMorten commented on #2437
@pinox

Both those things were already in the alpha (except .net core support which they didn't commit to supporting until preview)

[2020-05-18 22:05] sylveon commented on #2459
Awesome!

[2020-05-18 22:07] MartinZikmund commented on #2437
Yes! Excited to see Uno Platform on the schedule! 🎉

[2020-05-18 22:55] NGame1 opened #2469 "Override AutoSuggestBox TextBoxStyle with the DefaultTextBoxStyle"
The issue is so simple and simple to fix also But unfortunately I can't test because I'm getting this issue when trying to debug the code
Type 'StaticResource' used after '{' must be a Markup Extension. Error code 0x03e9.
The main issue is that the AutoSuggestBox style is different from TextBox
![image](https://user-images.githubusercontent.com/19765248/82266915-3e66a780-9980-11ea-8061-6942834ae06

[2020-05-18 23:26] chingucoding commented on #2469
I am not entirely sure what the issue here is. On my machine the TextBox and the AutoSuggestBox look quite the same except for the quereybutton:

![image](https://user-images.githubusercontent.com/16122379/82268573-a8c31c00-996f-11ea-9030-da523b70b2a1.png)

![image](https://user-images.githubusercontent.com/16122379/82268607-b8dafb80-996f-11ea-98cb-c6837645209c.png)

[2020-05-18 23:41] NGame1 commented on #2469
uh You're right @chingucoding
Is there any way to exclude any of the styles in Microsoft.Xaml.UI
Seems this style https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/CommonStyles/MediaTransportControls_themeresources.xaml
is causing this issue on mobile:
https://github.com/microsoft/microsoft-ui-xaml/issues/2438

And another question is there any way to reference the MS.UI.Xaml styles i

[2020-05-18 23:48] chingucoding commented on #2469
Afaik there is no good way to exclude styles. If the old style of a control is not causing this issues, you could get the old style and add it to your application (or page) resources.

Regarding merged dictionaries:

In the [XAML Controls Gallery](https://github.com/microsoft/Xaml-Controls-Gallery), we do the following to load the WinUI resource dictionary alongside another dictionary:

[code]

[2020-05-18 23:52] myokeeh commented on #2440
@ranjeshj were you able to access the zip file?

[2020-05-18 23:54] NGame1 commented on #2469
Thanks really for your helps @chingucoding

[2020-05-18 23:54] #2469 closed

[2020-05-18 23:56] michael-hawker commented on #2464
@ranjeshj, yeah there's a few parts:

1. Calling out the policy that you don't consider style updates breaking changes for minor releases (as that seems a bit unusual).
2. Documenting breaking changes to styles as part of releases notes (e.g. the controls which styles have significantly changed and wouldn't be compatible with a style based off the previous version)
3. **MVP** Have documents linked

[2020-05-18 23:57] chingucoding commented on #2469
Happy that I could help you :)

[2020-05-19 00:19] NGame1 commented on #2438
Finally with helps from @chingucoding I find a temporary workaround for this issue.
The main issue is coming from the MediaTransportControl style overriding of MS.UI.Xaml
My workaround is like this hope can help other Devs.
[code]
This will ignore the MS.UI.Xaml styles

[2020-05-19 01:06] mdtauk commented on #2464
This could be solved by including more detailed change logs for control changed

[2020-05-19 01:14] mdtauk commented on #2466
Could there be an added property.  An Enum with ValueType including Decimal and Double options?

[2020-05-19 05:56] Aberro commented on #2424
Yes, that explains. But still, though, I hope MSDN would be updated with some clarification for other devs to avoid this. Should I close this issue?

[2020-05-19 06:07] christiannagel commented on #2466
@mdtauk just one added property would not be enough. The `Value` property is of type `double`. Two properties could be a solution (e.g. `ValueDecimal` and `ValueType`)

@robloo

That's an important point. In several scenarios I'm using this wouldn't be an issue - however this again would limit the usability, and there should be a different option.

This shouldn't be the answer as it limits the usa

[2020-05-19 10:09] eugenegff opened #2471 "Why reinvent the wheel instead of using KeyRoutedEventArgs.KeyStatus.RepeatCount ?"
https://github.com/microsoft/microsoft-ui-xaml/blob/c99f508d96b395c49c9730360294e39e0e14e8dd/dev/NavigationView/NavigationView.cpp#L2178

[2020-05-19 10:39] eugenegff commented on #2471
Correction: CorePhysicalKeyStatus.WasKeyDown should be used instead of CorePhysicalKeyStatus.RepeatCount

[2020-05-19 13:09] ackh commented on #2452
Thanks for the reply on StackOverflow, @michael-hawker, really appreciated that you took the time.

Currently, I'm using separate callbacks to react on property changes. The combined color property callback updates the other three color channel properties if necessary. To prevent infinite loops it sets a boolean variable for each of the three color channels. In the callbacks of the three color pro

[2020-05-19 13:30] ranjeshj commented on #2440
@karenbtlai can you help debug this crash ?

[2020-05-19 14:59] mdtauk commented on #2466
My suggestion was that the Value type would change, based on the ValueType chosen.  So it could be a double by default, but if the control was set to a ValueType of Decimal, then that would be the type used by the Value property.

[2020-05-19 15:33] adambarlow opened #2472 "WinUI 3 Preview 1 – Featuring Desktop App Support 💻🎉"
# WinUI 3 Preview 1 – Featuring Desktop App Support
As mentioned in the recent community call, and this morning at //BUILD, today we are releasing [WinUI 3 Preview 1](http://aka.ms/winui3/preview1).

We are excited to bring you this release, which includes the following high-level feature additions:

- Ability to create Desktop (Win32) Apps with WinUI
	- Including using .NET 5 (for Win32)
- Featur

[2020-05-19 15:41] dotMorten opened #2474 "Win32: Wrong field datatypes on Rect and Point"
**Describe the bug**
The Win32 projection of `Windows.Foundation.Point` and `Windows.Foundation.Rect` has the wrong datatype. They consist of floats instead of doubles.
The inconsistency makes it really hard to create code that works on both the same way, and historically UI as always been using double-precision values. These types are used throughout the WinUI controls.
I literally have 100s of b

[2020-05-19 15:45] chingucoding commented on #2474
The problem is that the winrt types are actually only using floats, however those can't be passed through the ABI correctly, that's why they are exposed as doubles for language projection in UWP.

See this issue for more context: #2047

[2020-05-19 15:48] dotMorten commented on #2474
@chingucoding I'm more against the difference between UWP and Win32, then I'm against floats instead of doubles. They shouldn't be different. I'd have to create literally 100s of if-defs to compile for both targets.

[2020-05-19 15:50] dotMorten commented on #2047
This is a problematic difference. Everything else in the UI layout is using doubles, like ActualWidth/Height, Width/Height, GridLenght,Value, Thickness, etc etc. We be casting to doubles everywhere.

[2020-05-19 15:55] chingucoding commented on #2474
The question is what data type is correct here, which platform behaves correctly here? If we are actually using floats under the hood, lifting the win32 apis up to `double` might not be the best solution.

But yes, I agree that it's crucial that those type's behave the same regardless of win32 or UWP.

[2020-05-19 16:04] dotMorten commented on #2474
Also you'd need to change all the other double values used in XAML that relates to positioning of UI

[2020-05-19 16:08] msavazzi commented on #2465
@robloo this is bad. As treeview is the core element of my app it means I cannot use UWP :( it's very bad

[2020-05-19 16:45] stevenbrix commented on #2474
I'm going to explain my thoughts/rationale on why this discrepancy exists today. We're definitely open to having a conversation on this, and come to an agreement on what the right course of action is.

Absolutely agree, the difference between the two is a point-in-time issue. It's not really about UWP vs Desktop, it's more .NET Native vs .NET5. Once we are all on the same system, there won't be th

[2020-05-19 16:51] dotMorten opened #2475 "Win32: GridLength doesn't match UWP GridLength"
**Describe the bug**
`Microsoft.UI.Xaml.GridLength` is very different on Win32 vs UWP.

For instance Microsoft.UI.Xaml.GridLength has different constructors between UWP and .NET Core, and the .NET Core one is immutable. So I had to do this:
[code]

Win32 version:
[code]
UWP version:
[code]

**Steps to reproduce the bug**
Inspect the `Microsoft.UI.Xaml.GridLength` type on both Win32 and UWP and not

[2020-05-19 17:02] stevenbrix commented on #2047
Can you share the code that you have? These are the perfect examples that we need to have to make the right decisions.

[2020-05-19 17:29] mrlacey opened #2476 "Lack of validation for XAML Style BasedOn & TargetType properties"
**Describe the bug**

There is no validation (in the designer/language service or at compile time) to confirm that a style is based on an appropriate type.
Without this check developers do not know what is wrong until running the app and experiencing a `XamlParseException` with very limited details.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new, blank app
2. Add

[2020-05-19 17:29] #2432 closed

[2020-05-19 17:33] dotMorten opened #2477 "Win32: Packaging bug for control libraries"
**Describe the bug**
When packacing a custom control library, `Generic.xaml` isn't included in the lib folder.

**Steps to reproduce the bug**
1. Open the attached project: [PackagingBug.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4652195/PackagingBug.zip)
2. Build+Pack project
3. Inspect the package and notice it only includes the .dll and .pri in the lib folder. The .pri file actua

[2020-05-19 17:35] Poopooracoocoo opened #2566 "when "automatically hide scroll bars" is off in Windows, the content isn't pushed"
**Describe the bug**

when "automatically hide scroll bars" is off in Windows, the content isn't pushed and can make things tight

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Enable "Automatically hide scroll bars in Windows"
2. Click on '....'

**Expected behavior**

**Actual behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/51363864/82359087-

[2020-05-19 17:41] robloo commented on #2466
@christiannagel

If precision isn't an issue, I don't think you need decimal. Just use Convert to go between double/decimal as you desire (assuming .net). Converting values is quite easy and I don't think limits usability of NumberBox at all. In fact I could argue the opposite and say double is far more commonplace than decimal and switching to decimal hinders ease of use.

@mdtauk

That isn't pos

[2020-05-19 17:45] Poopooracoocoo opened #2478 "When automatically hide scroll bars is off, scroll bars are initially collapsed and then expand"
**Describe the bug**

when "automatically hide scrollbars" is off in Windows, when you first open the app, the scrollbars are collapsed and then expand. This behaviour is consistent across Windows. The Start menu is where I notice this most often.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Enable "Automatically hide scroll bars"
2. Open XAML Controls Gallery

**Expected b

[2020-05-19 17:47] robloo commented on #2475
The Win32/WinRT version looks a lot more feature-complete to me. What is the issue here? I like the new APIs and it's fully compatible with UWP from what I can see. I bet UWP is updated to support the new members... whenever they update UWP (if ever).

[2020-05-19 17:51] dotMorten commented on #2475
It's not about completion, but about consistency. You need completely different code to create a GridLength on the two platforms, because one is not even a subset of the other.

[2020-05-19 17:56] robloo commented on #2475
I just checked in a UWP C# app, the UWP version has the same signature as the Win32 version you mentioned above. Did you switch around the titles for the API examples?

Regardless, the constructors might be the same. Why are you setting Value and type directly instead of through a constructor? Also, if you are using C++ it seems GridLengthHelper is what you should be using.

https://docs.microsoft

[2020-05-19 18:04] #2452 closed

[2020-05-19 18:12] MikeHillberg commented on #2475
Yes, there's a difference currently in the WinUI3 preview.

In WinUI _2_ (Xaml in Windows) GridLength has a constructor. In the current state of WinUI3 Preview, on the other hand, when using .Net Native (which is the version used for a UWP app), that constructor isn't present. That's because the .Net Native projection doesn't recognize GridLength in its new namespace (Microsoft instead of Windows)

[2020-05-19 18:13] michael-hawker commented on #2452
@MikeHillberg is there a recommended pattern here? I still think it could be handy to have more docs/samples around these types of coercion scenarios.

[2020-05-19 18:17] mdtauk commented on #2475
If it comes to making choices between .NET / Win32 / UWP implementations of Xaml and other features.  Should WinUI aim to be a superset?

Take pain points from one implementation and aim to fix them.

If good detailed documentation of every change is available, perhaps even with reasonings why a change is being made - how it benefits the platform.  It would make the process of moving from a previo

[2020-05-19 18:22] dotMorten commented on #2047
@stevenbrix here's just one simple example, but quickly gets more and more of it. The code compiles for UWP, and not for Win32:

[code]

[2020-05-19 18:32] SFM61319 commented on #2402
Oh, thank you, @chingucoding! I have another question. Do you know like the conversion factor or value or the logic used in the saturation and brightness of Acrylic based on `acrylicOpacity` (i.e., the logic which uses `12%` saturation and `(80+10)%` luminosity when `acrylicOpacity` is `0` and a different value, which keeps on increasing or decreasing by a factor/value, for when the `acrylicOpacit

[2020-05-19 18:37] dotMorten commented on #2047
...also for those of us who reuse code with WPF it's even more disruptive

[2020-05-19 18:40] mdtauk commented on #2402
There is something I was wondering @chingucoding
Windows has traditionally used 96 dpi as it's 100% scaling value, unlike Adobe and Apple which uses 72dpi.  Does UWP Xaml use 96 or 72 (as the 100% scale factor)?

[2020-05-19 19:08] dotMorten commented on #2475
No they are not. The UWP one doesn't have a constructor. Also you're comparing to Windows.UI.Xaml.GridLength, not Microsoft.UI.Xaml.GridLength on UWP. Those are not the same types.

[2020-05-19 19:09] dotMorten commented on #2475
This is WinUI in both cases! It's just a matter of whether I'm compiling for UWP or Win32.

[2020-05-19 19:11] BreeceW opened #2479 "WinUI Win32 apps missing window close animation"
**Describe the bug**
Usually, with system animations enabled, Windows apps (that is, both UWP and Win32) play a shrinking and fading animation when closed. WinUI Win32 apps play no animation when closed. See below for a comparison.

**Steps to reproduce the bug**
1. Open a WinUI Win32 app
2. Click close

**Screenshots**
| Expected | WinUI Win32 |
| :-: | :-: |
| ![Normal closing](https://user-imag

[2020-05-19 19:14] SFM61319 commented on #2402
Hey @mdtauk, since you are online, can you please answer [this question](https://github.com/microsoft/microsoft-ui-xaml/issues/2402#issuecomment-631002457 "The one above your latest comment")?

[2020-05-19 19:17] stevenbrix commented on #2474
Closing for #2047

[2020-05-19 19:17] #2474 closed

[2020-05-19 19:19] mdtauk commented on #2402
I thought I had.  The Noise texture is tiled and set to a 2% opacity on top of the other layers that make up Acrylic

[2020-05-19 19:23] SFM61319 commented on #2402
Oh no, that was not my question, @mdtauk. I was talking about saturation and luminosity for different acrylic opacities.
It's ok if you don't know it, I just read you were not a Microsoft employee (I thought you were an employee the whole time)

[2020-05-19 19:24] BreeceW opened #2480 "WinUI Win32 app opens and closes in taskbar before opening"
**Describe the bug**
A WinUI Win32 app pops up in the taskbar before disappearing, before reappearing and finally opening. See the animation below.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open a WinUI Win32 app (through Start, search, or desktop icon—doesn’t seem to matter)
2. Observe taskbar (slightly different behavior that is also wrong if pinned to taskbar)

**Expe

[2020-05-19 19:25] weltkante commented on #2047
What impact do you expect this compatibility to take? These properties were literally always floats, C# just never saw them as such because the projection was wrong.

- do you expect to always project float to double for C# ?
- or only in selected WinUI APIs ?
- or in WinUI as a library ?
- or also in user defined C++ libraries ?

The scope of preserving the projection bug seems very unclear to me

[2020-05-19 19:30] dotMorten commented on #2047
And what about the other properties that are "really" floats like ActualWidth/Height etc? It has to be all or nothing, or IMHO the argument for this change falls apart.  But if you do all, we can really start talking about a disruptive change.
I don't really get the benefit of changing to float. Seems more academic than about something we actually need.

[2020-05-19 19:30] weltkante commented on #2047
They aren't changed, they always have been, the projection just had a bug.

[2020-05-19 19:33] dotMorten commented on #2047
@weltkante they did change. The api surface literally changed. The backing field is irrelevant.
Also this change doesn't explain why all doubles-that-are-really-floats weren't changed too

[2020-05-19 19:33] chingucoding commented on #2402
@SFM61319 The source code for AcrylicBrush is available online.

The logic for determining the luminosity is the following:

https://github.com/microsoft/microsoft-ui-xaml/blob/6381f8207a29b20bd417c8b7202926e3ccffe8be/dev/Materials/Acrylic/AcrylicBrush.cpp#L414-L463

All logic done to calculate the correct colors can should be in that page, albeit a bit nested or "hidden".

@mdtauk I don't know wh

[2020-05-19 19:37] weltkante commented on #2047
[UWP 10240](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.point.x?view=winrt-10240) was already float for Point members in the API

[2020-05-19 19:39] BreeceW opened #2481 "Can’t close WinUI Win32 apps with alt+F4"
**Describe the bug**
Alt+F4 commonly closes windows on Windows. I assume that this shortcut not working is not deliberate as I have seen it before with XAML islands somehow consuming this shortcut.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. In a WinUI Win32 app, press alt+F4
2. Observe the app remain opened

**Expected behavior**
The app should close on key down of alt+F4

[2020-05-19 19:50] SFM61319 commented on #2402
@chingucoding I already read the source code online, and I did not quite understand some stuff.
I did understand that a value of `0` acrylic opacity is actually `0.125` and `1` is `0.965` (and not `1`) (I don't know if I am correct). But what I did not understand is why the value of `luminosityOpacityRangeMax` particularly `0.88` (`1.03 - 0.15`) and how can I represent it in CSS (like `brightness(

[2020-05-19 20:04] chingucoding commented on #2402
Why some values are exactly the values they are is probably something @chigy or @kikisaints know.

Regarding the calculated luminosity, here is CSS pseudo code (assuming you have set aOpacity to the respective opacity (a value from 0 to 1) ):

[code]

[2020-05-19 20:06] SFM61319 commented on #2402
Oh, thanks, @chingucoding!

[2020-05-19 20:07] ranjeshj commented on #2480
@MikeHillberg @Austin-Lamb Any ideas what might be happening here and where this issue needs to be routed ?

[2020-05-19 20:08] ranjeshj commented on #2479
@MikeHillberg @Austin-Lamb Can you help route this ?

[2020-05-19 20:10] mdtauk commented on #2402
Luminosity was a recent addition, and I think it is used to solve the visibility of shadows within the Acrylic surfaces

[2020-05-19 20:13] ranjeshj commented on #2477
@fabiant3 @stevenbrix as FYI

[2020-05-19 20:22] ranjeshj commented on #2471
That sounds like a good idea. We can avoid the member variable as well. @chingucoding as FYI. @eugenegff would you like to contribute a fix ?

[2020-05-19 20:28] ranjeshj commented on #2467
can you please provide a repro project ?

[2020-05-19 20:29] MikeHillberg commented on #2047
That's right, that's exactly what it is. The WinRT API was and is single precision, as are the fields in the .Net Native projection. But that projection has double-typed properties that wrap the fields and do the type casting.

So this issue is specifically about the projection. And the preview projection for .Net5 doesn't have the double conversion.

[2020-05-19 20:31] ranjeshj commented on #2457
Thanks @chingucoding.  You can go ahead with investigating a fix for this.

[2020-05-19 20:35] BreeceW opened #2482 "Can’t scroll with Synaptics touchpad in WinUI Win32 apps"
**Describe the bug**
This issue echoes [https://github.com/microsoft/microsoft-ui-xaml/issues/2172](https://github.com/microsoft/microsoft-ui-xaml/issues/2172) except it also applies to WinUI Win32. Scrolling does not work using an HP Spectre x360 that’s a few years old and does not have a precision trackpad, just like in the Windows Terminal’s issue. Windows has historically had issues with touch

[2020-05-19 20:41] stevenbrix commented on #2477
Thanks @ranjeshj

You should be able to add this as a workaround until the fix comes out in the next preview:

[code]

@dotMorten does this work for you?

[2020-05-19 21:08] dotMorten opened #2483 "WinUI3 Assembly is not strong named"
**Describe the bug**
When compiling a class library with strong name enabled and referencing WinUI, I'm getting the following build warnings:
[code]

**Steps to reproduce the bug**
1. Create a strong-named class library and reference WinUI
1. Compile
2. Observe the warning

**Expected behavior**
No warning generated / assemblies should be strong named.

**Version Info**
3.0.0-preview1.200515.3

Nu

[2020-05-19 21:15] chausner commented on #2462
Thanks for the hint. I can confirm I cannot reproduce the issue anymore after updating to NuGet package version 3.0.0-preview1.200515.3.

[2020-05-19 21:15] #2462 closed

[2020-05-19 21:22] BreeceW opened #2484 "Proposal: WinUI Win32 apps should use dark title bar when app is in dark mode"
# Proposal: WinUI Win32 apps should support dark title bar

## Summary
A few versions back, File Explorer got a dark mode makeover, including a dark titlebar. WinUI Win32 apps use the standard white title bar regardless of whether the rest of the app is dark or not. WinUI Win32 apps should use the same API to make themselves have a dark title bar when the main content is in dark mode.

## Rational

[2020-05-19 21:26] mdtauk commented on #2484
This should be supported when the theme setting is changed whilst the app is open.

It should also support the App being set to a theme, as well as the Window element having it's theme set.

[2020-05-19 21:44] adrientetar commented on #2472
Congrats!! Btw it would be nice to have the Win2D support, I need it for my project unfortunately.

[2020-05-19 21:46] benstevens48 commented on #2047
@dotMorten I do agree that it would probably make sense to change all doubles-that-are-really-floats to floats if this happens at all. Is that being considered? In an ideal world I think the best solution would be that all the doubles-that-are really-floats would in fact be doubles-that-are-really-doubles, but that's not going to happen as far as I can see. I no longer know what the best solution

[2020-05-19 21:46] adrientetar commented on #2484
I'm not sure such API exists in win32, isn't explorer handling theme change events and drawing a custom title bar rather?

[2020-05-19 21:48] BreeceW commented on #2484
I should have been more clear. Officially, no, there is no dark mode title bar. Unofficially, [some people have already figured it out](https://github.com/ysc3839/win32-darkmode). I was just using that for a mockup. Either way, I think WinUI Win32 apps should look like that in dark mode.

[2020-05-19 21:49] Eltypo opened #2485 "Winui 2.4 NavigationView. App crashes without error"
Hello. I'm trying to implement NavigationView with some nested items but app crash and i can't even use debugger with UWP app.
Default example works but i can't add Separator or Header to it.
Also i don't quite understand how to bind nested items to NavigationViewItem MenuItems datatemplate.
Could you please give me solution to use this control?

MainPage.xaml

[code]

MainPage.xaml.cs
[code]

Men

[2020-05-19 21:58] ranjeshj commented on #2485
@Eltypo XamlControlsGallery has a few usage samples if you have not seen it before. https://github.com/microsoft/Xaml-Controls-Gallery/blob/master/XamlControlsGallery/ControlPages/NavigationViewPage.xaml

The app itself also uses hierarchy for its own navigation now.

[2020-05-19 22:02] stevenbrix commented on #2047
Same same :)

I don't think moving all the WinUI type to `float` is feasible. It would be too large of a breaking change that would make migrating more difficult.

I think it's most important to maintain source compatibility, and the pain this causes folks who want to interop with WPF/UWP is not worth the change.

One thing that I think we could do, is provide two constructors for these types, one

[2020-05-19 22:06] dotMorten commented on #2047
I'm sort of torn now that I'm realizing the WinRT type is float. It's ugly to deal with but I sort of also get it now.

[2020-05-19 22:09] dotMorten commented on #1778
Just pointing out that this is still an issue in Preview 1

[2020-05-19 22:18] Yen opened #2486 "Framerate annihilation on iteraction with UI elements"
When interacting with the button on the default template for C# blank app in preview 1, the framerate of my entire desktop gets lowered drastically for up to a second at which point it returns to normal. Both clicking and just hovering over the button cause this to happen.

Note that I am recording this on a high refresh rate monitor (144hz) and as such, samples and videos shown below might not be

[2020-05-19 22:30] mdtauk commented on #2047
If you keep the defaults default for both Win32 and UWP - is there a way to enable developers to override the double and use a float?

[2020-05-19 22:32] Eltypo commented on #2485
I have seen some examples. Most of them have already predefined items inside. I'm wondering how could I implement menu dynamically and binding child elements recursively.
Also i prefer to split xaml and cs files. Default MenuItemTemplateSelector.cs contains xaml code. I have presented converter in my first message that use datatemplates to specify elements inside xaml file and i hope that it's pos

[2020-05-19 22:33] ranjeshj commented on #2486
@MikeHillberg @jeffstall @codendone as FYI

[2020-05-19 22:37] ranjeshj commented on #2485
You can bind to MenuItemsSource in NavigationViewItem to the next level.
@anawishnoff @ojhad do we have an example of recursively binding the nested elements ?

[2020-05-19 23:01] Xarlot opened #2487 "WinUI 3 - Horrible dependency property performance, more than 1000-3000 times slower than in wpf"
Please tell me Im doing something totally wrong.
I can`t even imagine that so long waited WinUI 3 has such terrible and unusable performance

**Steps to reproduce the bug**
Download repo https://github.com/Xarlot/dependencypropertytest
Run WinUI and WPF app

200k dp write
WPF - ~40 ms
WinUI 3 - ~44500 ms

200k dp read
WPF - 5 ms
WinUI 3 - 18000 ms

**Expected behavior**
WinUI dependency property s

[2020-05-19 23:11] IngmarBitter opened #2488 "Proposal: WinUI 3 rust support"
Rust is becoming increasingly popular. It already can drive DirectX 12 but only in full screen mode or via UI libraries that look like they are made by engineers for engineers.  Having WinUI3 support for rust would allow to build rust apps that look modern and polished and under the hood enjoy all the advantages of rust. That would make engineers and marketing happy, i.e. make this combination via

[2020-05-19 23:25] ranjeshj commented on #2487
@bartekk8 @stevenbrix @MikeHillberg @Austin-Lamb

[2020-05-19 23:31] weltkante commented on #2488
Language mappings seem to be already underway: https://github.com/microsoft/winrt-rs

[2020-05-19 23:40] robloo commented on #2475
It has been communicated since the beginning that Windows.UI.Xaml and Microsoft.UI.Xaml will be pretty much the same. I'm not confusing the two, I'm just using Windows.UI.Xaml to check what the API should be. This is just a bug in type projection (thanks @mikehillberg for checking) It't not a change to the intended API's.

[2020-05-19 23:44] robloo commented on #2487
WinUI is powered by a highly optimized C++ core that delivers blistering performance, long battery life, and responsive interactivity that professional developers demand. Its lower system utilization allows it to run on a wider range of hardware, ensuring your sophisticated workloads run with ease.
https://microsoft.github.io/microsoft-ui-xaml/

Some work left to do :)

[2020-05-19 23:48] stevenbrix commented on #2487
There is already an open issue regarding DependencyProperty performance: https://github.com/microsoft/microsoft-ui-xaml/issues/1633

Any problems with closing this one as a dupe?

[2020-05-20 00:01] Scottj1s commented on #2047
This is a tough call, which is why we're previewing with the switch from double to float, so we can collect community feedback.  Regarding converting comprehensively from double to float, it's only an issue for the 3 geometry structs.  These were [custom WinRT/.NET type mapping conversions](https://docs.microsoft.com/en-us/windows/uwp/winrt-components/net-framework-mappings-of-windows-runtime-type

[2020-05-20 00:04] Scottj1s commented on #2047
@mdtauk, yes, we could certainly provide conditional compilation to switch between double and float at the property accessors, constructors

[2020-05-20 00:06] ranjeshj commented on #2487
I'll link and up it. I can add the preview tag to that bug. Definitely a work in progress.

[2020-05-20 00:07] ranjeshj commented on #1633
Still an issue in Preview bits per linked issue.

[2020-05-20 00:08] ranjeshj commented on #2487
@Xarlot Thanks for reporting. Lets track it as part of the linked bug since it is the same issue.

[2020-05-20 00:08] #2487 closed

[2020-05-20 00:57] kmelmon commented on #2424
@stmoy can we get a doc bug filed to improve the docs on "simple properties"?  I'll leave this open for a bit to track that request.

[2020-05-20 01:16] IngmarBitter commented on #2488
`winrt-rs` is maybe able to achieve the connection, but an explicit winui3-rs crate that pulls in the necessary dependencies and has a working hello world will make it much much more accessible.

[2020-05-20 02:00] weitzhandler commented on #179
Ideally, WinUI should automatically inject all necessary UI according to the bound model's DA attributes, not limited to validation but also display name, max-length, data-type and so on.
Just like in ASP.NET Core (see [this](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#client-side-validation).

[2020-05-20 02:17] shaheedmalik commented on #2484
UWP lacks this as well. There should be a dark mode title bar.

[2020-05-20 03:18] groovykool commented on #2443
My scenario is that I will have sections of NavigationViewItems that can be reordered by dragging and dropping.  I will also have a set of NavigationViewItems that are fixed.  I have this working in 2.32 with one workaround.  In 2.4 dragging from no drag items causes the UI issues

Would it be possible to set the Drop Target Item to the Normal Visual state after drop?  Right now it gets set to the

[2020-05-20 03:34] dotMorten commented on #2047
I littered the headers of my code with this:
[code]

Then use `var` instead of `double` to rely on implicit types and generally cast like this:
`new Point((uiunits)x, (uiunits)y);`

That made the code changes a little more bearable, but it was still over a 100 files I had to touch.

[2020-05-20 03:36] dotMorten commented on #2047
Here's an alternative idea: Introduce Microsoft.UI.Xaml.Point/Rect/Size and use those for all the UI layout stuff instead, and make these double-precision, so we don't have to do all this casting back and forth.

[2020-05-20 03:43] lorisobi commented on #2484
Maybe WinUI 3 should generally use a more modern title bar like in UWP apps

[2020-05-20 03:55] BreeceW commented on #2484
Agreed—thing is, having the normal Win32 title bar dark mode-aware would be a nice stopgap without having to make any new APIs in WinUI until a better title bar could be made. If there were going to be a “modernized” title bar, I would hope it would be exactly identical to the UWP title bar—not a crude imitation like in Windows Terminal.

[2020-05-20 04:57] ojhad commented on #2485
Hey @Eltypo,

Take a look at the [HierarchicalNavigationViewDataBinding test page](https://github.com/microsoft/microsoft-ui-xaml/blob/98a6b746dc409fa3c64bca4db2c3e6aa31e73470/dev/NavigationView/TestUI/HierarchicalNavigationViewDataBinding.xaml#L14) we have in this repo. I believe this is what you are looking for. You can bind the children to the `MenuItemsSource` property of the `NavigationViewIt

[2020-05-20 06:54] luEbe opened #2489 "KeyboardAccelerators ToolTip is not shown when using x:bind for the Key and Modifiers Properties"
Hello!
I am trying to use a KeyboardAccelerator within a reusable UserControl I wrote. I am now having a problem, when I try to set the Key and Modifiers Properties using x:Bind. The Accelerator works fine, but the ToolTip is not automatically shown, as it would normally be, without using x:Bind.

This is the part in question of my xaml File:
`<Grid.KeyboardAccelerators>
<KeyboardAccelerator Key="

[2020-05-20 07:55] leoniDEV commented on #2437
I just finished seeing [The Journey to One .NET](https://mybuild.microsoft.com/sessions/b7e27509-c56c-42ad-9ce2-34270ecb0a38) session from [Build 2020](https://mybuild.microsoft.com/home) and heared about [Multi-platform App UI (MAUI)](https://github.com/dotnet/maui).
So the questions are what will be the relation (if there will be a relation) between this two projects?
There will be integration b

[2020-05-20 08:00] benstevens48 commented on #2047
@Scottj1s - this may be true in terms of types, but is is true for all properties which are projected as doubles, e.g. ActualHeight, ActualWidth? I haven't tested it, but given that the new ActualSize property is floating-point, I find it difficult to believe that ActualWidth and ActualHeight are really doubles. I suppose this doesn't matter so much since you can't actually set these, but it would

[2020-05-20 08:21] lhak commented on #2437
Will Microsoft provide a preview version of win2d for winui 3.0 soon?

[2020-05-20 08:29] kakone commented on #2437
Very good question. And please update the license of the Segoe MDL2 icons font, we want to use it on other platforms than Windows with Uno Platform.

[2020-05-20 09:18] JanKupke1 commented on #1500
I won’t be able to Bind to the Columwidth from the Header directly. In WPF I must use a BindingProxy Object in that case.

[2020-05-20 11:22] ranjeshj commented on #2353
@stmoy @chigy  do we need to update the colors for the add/close buttons ?

[2020-05-20 11:45] hshristov opened #2490 "Question: ObservableCollection for WinUI Win32"
**Microsoft.UI.Xaml.Interop.INotifyCollectionChanged** is missing from **WinUI Win32** namespaces. Using the default **ObservableCollection** doesn't work with **ItemsControls** and implementing **Windows.UI.Xaml.Interop.INotifyCollectionChanged** throws _The application called an interface that was marshalled for a different thread. (0x8001010E (RPC_E_WRONG_THREAD))_

So what is the correct way t

[2020-05-20 12:04] ranjeshj commented on #2404
Interesting issue. We don't have the collection changed events in that case. I am curious if INotifyPropertyChanged can be leveraged for this case.

[2020-05-20 12:37] ranjeshj commented on #2401
@Felix-Dev sorry for the delayed response. I don't see any reason why ItemsRepeater would be different in this case. @ojhad  any ideas what might be happening here ?

[2020-05-20 12:43] Eltypo commented on #2485
Great, thank you. Sub category works.
What about header and separator template? It gives uncaught Win32 exception

[2020-05-20 12:51] #2485 closed

[2020-05-20 13:04] stmoy commented on #2353
@ranjeshj - yes, but it's more than that. Several parts of TabView (background/foreground, buttons, text) don't meet the updated contrast ratio guidance. #1901 tracks taking a holistic pass across TabView to bring it up to compliance. We should probably close this one as a dupe of #1901 if @carlos-zamora believes that updating the defaults will fix this case.

[2020-05-20 13:14] FrayxRulez opened #2491 "NavigationView doesn't handle MenuItemsSource changes properly"
**Describe the bug**
`NavigationView` doesn't seem to properly handle `MenuItemsSource` changes when the source is a `ObservableCollection`.
In particular I can describe few odd behaviors:
- `Reset` event leaves the list blank
- `Add` event is completely ignored
- Replacing `MenuItemsSource` will trigger some awkward animations
![alt](https://media.giphy.com/media/H1MFoQC0KnfWEPFYrr/giphy.gif)

Th

[2020-05-20 13:23] chingucoding commented on #2457
This seems to be an issue with binding (and probably listview in that regard). Using `Binding` instead of `x:Bind` fixes the crashes, but results in "detached" bindings:

![gif](https://user-images.githubusercontent.com/16122379/82451122-dada9800-9aad-11ea-8b8b-28593f253a54.gif)

[2020-05-20 13:30] mariusbancila opened #2492 "Cannot create WinUI3 C++ app for desktop or UWP"
I am trying to create a WinUI 3 Preview 1. I have followed every step for configuring my dev environment from here [https://docs.microsoft.com/en-us/windows/apps/winui/winui3/](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/). I am running on Windows 10 build 18362.

I have installed all the work loads and packages as required. Screenshots of it can be viewed [here](https://pbs.twimg.c

[2020-05-20 14:00] simonrhart opened #2493 "Error on VSIX install: This extension is not installable on any currently installed products"
I am trying to install the VSIX from here on my Windows 10 machine: https://marketplace.visualstudio.com/items?itemName=Microsoft-WinUI.WinUIProjectTemplates

And the installer fails with the following log:
20/05/2020 14:53:05 - Microsoft VSIX Installer
20/05/2020 14:53:05 - -------------------------------------------
20/05/2020 14:53:05 - vsixinstaller.exe version:
20/05/2020 14:53:05 - 16.5.2047

[2020-05-20 14:12] edcurtin opened #2494 "WinUI Project Templates extension not install able on any currently installed products"
**Describe the bug**

Tried to install templates and met with an error Visual Studio Professional 16.5.4 - 2019 - Windows 10 1903

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Install templates fails

**Expected behavior**

templates should of installed

20/05/2020 15:06:27 - Microsoft VSIX Installer
20/05/2020 15:06:27 - -------------------------------------------
20/05/2020 1

[2020-05-20 14:21] Hanzalah-Adalan opened #2495 "Cannot use PathIconSource for TabViewItem.IconSource"
When I use `SymbolIconSource` or `FontIconSource` for `TabViewItem.IconSource`, the application is happy.. but when I use `PathIconSource` for example:
        `<MUXC:TabViewItem Header="Bookmarks"
                          IsClosable="False">
            <MUXC:TabViewItem.IconSource>
                <MUXC:PathIconSource Data="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>

[2020-05-20 14:22] ranjeshj commented on #2493
@stevenbrix can you take a look ?

[2020-05-20 14:31] applefanbois opened #2496 "Proposal:PDF Viewer with support for search, annotations and digital signature validation."
It is no secret that developing a business software for Windows is very costly compared to Android, iOS and macOS because they have almost zero support for PDF in the native SDK. So you have to pay 10 000$us per year for 3rd party SDK just to display a simple pdf in your native app while on other platforms they have fully functionals tools in the SDK for free.

Our app like all modern accounting a

[2020-05-20 14:33] SimonJonesFF opened #2497 "Discussion: Support for VB.Net"
I think that supporting C++and C# only is short-sighted. Supporting VB.Net (and for that matter F#) should be seriously considered. If you want WinUI 3 to have broad adoption you should not restrict which languages can be used.

[2020-05-20 15:00] wbokkers commented on #2437
Some guidance on porting a UWP app with desktop extensions to WinUI for Desktop would be great. (activation, getting win32 companion app in the main UWP app, conversion tools)

[2020-05-20 15:06] Scottj1s commented on #2047
@benstevens48 - I was only referring to the switching pain to fix what were formerly projected (incorrectly) as doubles - the geometry types.  ActualHeight and ActualWidth may well be stored internally as floats, given ActualSize is a vector2, as you point out.  But that's an implementation detail of UIElement/FrameworkElement.  These properties are already projected faithfully as doubles.
@dotMor

[2020-05-20 15:09] MikeHillberg commented on #2493
The VSIX requires the preview of Visual Studio 16.7. http://aka.ms/winui3 has a link.

[2020-05-20 15:11] MikeHillberg commented on #2494
This VSIX requires the VS preview version of 16.7, or you'll see this message. There's a link at http://aka.ms/winui3

[2020-05-20 15:22] MikeHillberg commented on #2492
In the Installation Details on the right-hand side of the installer, try checking the 142 option there. It turns on multiple of the individual components.

![image](https://user-images.githubusercontent.com/18429489/82464507-055b2f80-9a73-11ea-8775-8f8d1131168c.png)

[2020-05-20 15:31] Poopooracoocoo commented on #2482
the on screen touchpad is a PTP.

i don't think microsoft cares that win32 apps don't have overscroll or smooth scroll despite using it themselves.

[2020-05-20 15:43] tombogle commented on #1500
Convenient dynamic resizing of the active row for easier editing.
Full control of context menus in edit mode.

[2020-05-20 15:43] TheXamlGuy commented on #2484
Probably relevant to this discussion. I am assuming the [TitleBar](https://docs.microsoft.com/en-us/windows/uwp/design/shell/title-bar) API is currently non-functional? I did attempted to extend the view into the TitleBar by setting ExtendViewIntoTitleBar to true with a Desktop WinUI project and it did not work as expected.

Any plans to support the TitleBar API within desktop WinUI?

[2020-05-20 15:47] robloo commented on #2490
This is a duplicate of #1557

This really should have been fixed before the preview though. ObservableCollection is fundamental to ALL user interfaces.

[2020-05-20 16:13] shaheedmalik commented on #2484
Personally, I think the title bar should be locked off for consistency purposes. There should be one maintained title bar instead of every app having their own implentmentation.

[2020-05-20 16:20] mdtauk commented on #2484
By default the titlebar should use the system design, and match the theme set in the App.xaml or WinUI Window element.

The titlebar being customisable in appearance, but consistent in behaviour and the Window Control placement is a good thing.

Controls like the NavigationView extending into the TitleBar area are important for giving apps a modern and clean appearance.  If a developer does someth

[2020-05-20 16:22] mdtauk commented on #2484
I think this is on the roadmap, but WinUI Desktop apps using Win32, has the ability to access the HWND for the window, to do things - but I agree that customising that window, should be possible with a modern and clean API, as is the case with UWP apps and their CoreWindow

[2020-05-20 16:40] mrlacey opened #2498 "Proposal: Remove the need to specify XAML files in project files"
# Proposal: Remove the need to specify XAML files in project files

## Summary

"WinUI in Desktop" apps use the new SDK style projects but still require specifying the *.xaml files explicitly. The need to specify them here should be removed.

## Rationale

* Will make managing files in a project easier.
* The expectation of SDK file projects is that all projects in the directory are included by de

[2020-05-20 17:15] dotMorten opened #2499 "Proposal: Support Blazor Syntax"
# Proposal: Evolve XAML Syntax to also support a more blazor-like syntax

## Summary
I saw @jeromelaban today show an experiment with using Blazor-like syntax for XAML, and I think this would be a good evolution of XAML:

![image](https://user-images.githubusercontent.com/1378165/82475704-bbc61100-9a81-11ea-9e3a-87bf5eadda82.png)

## Rationale
I've for a long time thought that XAML needed to evolv

[2020-05-20 17:23] #2437 closed

[2020-05-20 17:23] mrlacey commented on #2497
For developers who currently use VB.NET in WinForms or WPF, the lack of support for VB.NET in WinUI is a barrier to adopting new technologies and migrating existing apps.

[2020-05-20 17:26] #2332 closed

[2020-05-20 17:26] maxkatz6 commented on #2498
It should be fixed with migrating to new .Net core SDK.

[2020-05-20 17:27] #2411 closed

[2020-05-20 17:28] #2431 closed

[2020-05-20 17:35] smourier opened #2500 "Discussion: Simplify WinUI3 deployment for unpackaged Win32 desktop app"
# Discussion: Simplify WinUI3 deployment for unpackaged Win32 desktop app.

Today (and this has been like that for about 20 years...) if I want to write any kind of UI App for Windows (and want to stick with Microsoft tech and languages), I will use one of these:

* A plain C++ Window Win32 app
* A Winforms .NET app (C#)
* A WPF .NET app (C#)

With these technologies, it basically "_just works_".

[2020-05-20 17:57] #2494 closed

[2020-05-20 17:57] #2493 closed

[2020-05-20 18:10] dansiegel commented on #1347
I should add besides just control libraries, this would also be very welcome for frameworks. This is something that we've been wanting to add for Prism.Uno.

[2020-05-20 18:21] simonrhart commented on #2493
Excellent, thanks. Can I install the preview of VS along side VS2019 without issue?

[2020-05-20 18:24] chingucoding commented on #2493
Yes, you can install them side by side.

[2020-05-20 19:04] eklipse2k8 opened #2502 "Null pointer exception in RecyclePoolProperties::GetPoolInstance()"
**Describe the bug**
I upgraded my project to 2.4.2 (from 2.3) and it looks like there's a crash tryring to build the navigation view in RecyclePoolProperties::GetPoolInstance()

**Steps to reproduce the bug**
1. Switch to 2.4.2 from 2.3 with no code changes

**Expected behavior**
Should not crash

NuGet package version:  Microsoft.UI.Xaml 2.4.2

| Windows 10 version                  | Saw the pro

[2020-05-20 19:38] ranjeshj commented on #2502
@eklipse2k8 can you provide a repro app ?

[2020-05-20 19:53] SFM61319 commented on #2402
I am so sorry for raising these many doubts but I have one more doubt, @chingucoding (This is another doubt I realized I didn't raise).
What/where is the variable for the luminosity blend and what equation is used to calculate the luminosity blend value? The one in the code:
[code]
gives you the `tintOpacity` but not the luminosity blend value. I believe that luminosity value increases with `tintO

[2020-05-20 19:56] ranjeshj commented on #2457
Can you track back and see when it stopped working by trying each of the pre-releases builds ? I assume this is not an issue in the platform's listview since we have not made any recent changes there.

[2020-05-20 19:57] ranjeshj commented on #2491
@FrayxRulez can you please share a repro app ?

[2020-05-20 19:59] ranjeshj commented on #2443
@ojhad can you please take a look/suggest a fix/workaround ?

[2020-05-20 20:08] carlos-zamora commented on #2353
Yeah. Feel free to mark this as a duplicate of that one :)

[2020-05-20 20:12] ranjeshj commented on #2353
ok. Lets track this as part of the other issue then. Thanks

[2020-05-20 20:12] #2353 closed

[2020-05-20 20:12] robloo commented on #2499
It was really cool to see that on the call today. @jeromelaban and the nventive team are invaluable to the future of XAML and cross-platform. I'm continuously astounded by what they are cooking up.

[2020-05-20 20:44] FrayxRulez commented on #2491
Hi Ranjesh, this seems to be actually caused by how I customized the NavigationView.
I actually modified it to wrap the TopNav into a ScrollViewer, to actually prevent the overflow menu from getting created.

[2020-05-20 20:51] michael-hawker commented on #2047
🦙 Cross-linking to the new [CS/WinRT repo](https://github.com/microsoft/CsWinRT/issues/280).

[2020-05-20 21:03] eklipse2k8 commented on #2502
Microsoft.UI.Xaml.dll!winrt::impl::consume_Windows_UI_Xaml_IDependencyObject<winrt::Windows::UI::Xaml::DataTemplate>::GetValue(const winrt::Windows::UI::Xaml::DependencyProperty & dp) Line 867
	at d:\a\1\s\BuildOutput\Intermediates\Microsoft.UI.Xaml\obj\Generated Files\winrt\Windows.UI.Xaml.h(867)
Microsoft.UI.Xaml.dll!RecyclePoolProperties::GetPoolInstance(const winrt::Windows::UI::Xaml::DataTemp

[2020-05-20 21:07] ranjeshj commented on #2491
Curious why you did that. Another control that is similar but does the scrolling behavior is TabView. @anawishnoff as FYI

[2020-05-20 21:15] dpaulino opened #2503 "Proposal: Fluid Framework Control"
# Proposal: FluidView - a control that lets developers add Fluid Framework components easily into their WinUI-based app.

## Summary

With Microsoft's recent announcements of Fluid Framework, it is clear that the future of Office apps, Microsoft 365 apps, and other applications will make use of Fluid Framework components. If we can either make a native-version of this control OR simply make a wrap

[2020-05-20 21:15] ranjeshj commented on #2502
@eklipse2k8 If you can share the sources for a standalone app with this crash, that would be very helpful to debug. Its hard to say from the stack what went wrong or what is different about this particular case to cause the crash.

[2020-05-20 21:30] darenm opened #2504 "ContentDialog fails to display WinUI 3 Preview 1 and .NET 5 Desktop"
**Describe the bug**
While trying out WinUI3 and .NET 5 desktop app, I tried to display a ContentDialog both in code and via a XAML definition. In both circumstances I received the the following exception:

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create new **Blank App, Packaged (WinUI in Desktop)** app
2. Open **MainWindow.xaml.cs**.
3. Update the **myButton_Cl

[2020-05-20 21:33] BreeceW opened #2505 "WinUI 3 UWP does not load smoothly like the built-in XAML"
**Describe the bug**
When a UWP XAML app opens, it shows its splash screen, which then fades away to show the XAML content, already loaded. This does not appear to be happening for WinUI 3 UWP apps, however. WinUI 3 UWP apps show their splash screen, then the icon fades away, leaving the color of the splash screen visible for a noticeable amount of time, and then the XAML content loads. Worse, whe

[2020-05-20 21:37] BreeceW commented on #2503
It would be very encouraging to see a native (not web-based) version of this technology.

[2020-05-20 21:38] FrayxRulez commented on #2491
I find TabView design too much prominent, as navigation here is secondary in the app. Also we have a design more similar to NavigationView on iOS and Android counterpart apps.
I ended up by making a control that looks exactly the same by myself, but I think it would be nice to have this built in WinUI!

[2020-05-20 21:46] mdtauk commented on #1901
Eventually all the Light and Dark theme resources should be reviewed, and Accessibility contrast-ratios should be adhered to. #920

For now, can someone from the design team audit it, or checks done to ensure the design specs are being matched in the Xaml Resources?

[2020-05-20 21:52] mdtauk commented on #2503
Even if a native control or set of control behaviours is some way off, perhaps something could be done by wrapping a simple WebView control into a control that can have behaviours, properties, and events included, which will make it easy to host Fluid content and experiences in WinUI apps.

[2020-05-20 21:54] dpaulino commented on #2503
@mdtauk I would not be opposed to that either as a first iteration. Anything to make the process simpler for devs using WinUI. Makes me wonder if WCT would make more sense for a v1 of a control like this.

[2020-05-20 22:00] mdtauk commented on #2503
I am not immersed in Fluid's code, I assume its web based and uses Javascript.

For native Xaml, I doubt the sum of all of Fluid's capabilities could be wrapped in a single control.  It would need to either wrap around various text, list, and other controls - binding to a Fluid datasource and the Microsoft Graph.

[2020-05-20 22:04] StephenLPeters commented on #2505
@jeffstall @MikeHillberg @codendone for FYI, looks like the container animations aren't playing.

[2020-05-20 22:11] BreeceW opened #2506 "WinUI 3 (Win32 and UWP) lags in resizing"
**Describe the bug**
UWP XAML windows fairly smoothly fit their content to the window as it is resized. WinUI 3 apps, both Win32 and UWP, do not. Win32 apps reveal a white background underneath, and UWP apps reveal the splash screen background color (yellow in the middle GIF below).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open a Win32 or UWP app that uses WinUI 3
2. Dr

[2020-05-20 22:18] StephenLPeters commented on #2498
@stevenbrix for FYI

[2020-05-20 22:22] StephenLPeters commented on #2495
To be sure, does this same PathIconSource work outside of a Tabview, like in a grid?

[2020-05-20 22:24] StephenLPeters commented on #2492
If these instructions don't resolve your issue, feel free to reopen.

[2020-05-20 22:24] #2492 closed

[2020-05-20 22:26] StephenLPeters commented on #2491
@FrayxRulez did you consider the pivot control? It is close to a TopNav without the overflow.

[2020-05-20 22:31] StephenLPeters commented on #2490
This is slightly different than the issues linked here.  This is for a Win32 app which is going through CSWinrt which should have a solution for this issue. Looks like a CSWinrt bug. @stevenbrix for FYI

[2020-05-20 22:32] Felix-Dev opened #2507 "Question: Do we still need the [Mobile] device form factor in the issue templates?"
Windows 10 Mobile support ended in January this year. Do we still need the *Mobile* device form factor listed in the issue templates or can we remove it?

![image](https://user-images.githubusercontent.com/1398851/82503843-4e09fb80-9afa-11ea-93f3-3d833d2ccf4a.png)

[2020-05-20 22:34] StephenLPeters commented on #2489
I think that this should work, would it be possible to provide a repro app so we can take a look at the issue?

[2020-05-20 22:34] Sergio0694 opened #2508 "x:Bind outside data templates is extremely inconsistent"
**Describe the bug**

Apparently it is possible to use `x:Bind` to bind to a field in code behind **outside** a data template. Basically, escaping from the data template in use. Not entirely sure whether this is by design or just a lucky quirk of the XAML compiler and codegen (especially since this is not mentioned anywhere in the docs), but it works.

As a code example:

[code]

You can see how t

[2020-05-20 22:41] stevenbrix commented on #2498
Adding @davkean and @davidwengier

We had the same issue in WPF, and are doing the same thing that they did to fix it: https://github.com/dotnet/wpf/issues/685

We're doing the same globbing that WPF does, but it doesn't seem to be working. Any ideas?

[2020-05-20 22:44] stevenbrix commented on #2498
For reference, here is what we are doing:
[code]

I can remove the entries that VS puts into the project file and those files are still being picked up and passed to the Xaml Compiler, so this does seem to be working (to some extent)

[2020-05-20 22:45] davkean commented on #2498
Point me to your SDK?

[2020-05-20 22:49] stevenbrix commented on #2498
https://dev.azure.com/microsoft/winui/_git/microsoft-ui-xaml-lift?path=%2Fpackaging%2Fbuild%2FMicrosoft.WinUI.props

[2020-05-20 22:49] StephenLPeters commented on #2455
@chingucoding do you already have context on the fix? If so do you want to tackle it?

[2020-05-20 22:52] StephenLPeters commented on #2454
@stmoy is this by design? #1901 could be related here.

[2020-05-20 22:52] davkean commented on #2498
That looks like a NuGet package? Globs can't come from NuGet packages, VS opens the project before they exist.

[2020-05-20 22:59] stevenbrix commented on #2498
Ahh I see, that's good to know. Even after the Nuget has been restored?

Adding @vatsan-madhavan and @ryalanms

We were originally planning on making an MSBuild SDK, but then didn't because we heard that the `Microsoft.NET.Sdk.WindowsDesktop` was going away. Is this still the plan?

[2020-05-20 23:01] davkean commented on #2498
The WindowsDesktop is merged into another SDK.

SDK's were invented entirely to fix globbing.

[2020-05-20 23:01] StephenLPeters commented on #2508
@fabiant3 For FYI

[2020-05-20 23:02] StephenLPeters commented on #2507
I think we could probably remove it.

[2020-05-20 23:03] StephenLPeters commented on #2506
@bartekk8 for FYI

[2020-05-20 23:07] stevenbrix commented on #2498
I'm not exactly sure what you mean? My understanding was that WindowsDesktop was going away because it makes multi-targeting impossible. If this isn't correct, then we can bring back our msbuild sdk. If it is correct, and it's being folded into the `Microsoft.NET.Sdk`, then we'll need to make sure the globbing works for WinUI projects as well.

[2020-05-20 23:21] StephenLPeters commented on #2419
Closing this as by design. If you think that's in error feel free to reopen with your thoughts.

[2020-05-20 23:26] stevenbrix commented on #2490
Can you share a repro app?

I'm not seeing a crash, but it doesn't seem to be working. I have a repro here that is using markup like this:

[code]

[code]

[WinUIDesktopCS0515-3.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4659714/WinUIDesktopCS0515-3.zip)

Not sure if this is related to https://github.com/microsoft/CsWinRT/issues/272

[2020-05-20 23:28] chingucoding commented on #2457
I've tested the XAML Controls Gallery sample with the commit it was added with, and it still crashed. The sample was added 7 months ago and used WinUI 2.2, I am trying to find out which commit exactly could have caused this (the first versions of drag and drop did in fact not crash), but building the solution in those old states is difficult at times.

[2020-05-20 23:29] chingucoding commented on #2455
@StephenLPeters Looking at the code, there does not seem to be any change of a TabViewItems content inside the TabView control, but I can take a closer look when exactly the values changes.

[2020-05-20 23:29] ranjeshj commented on #2457
Might be easier to do in a blank app than controls gallery. Thanks!

[2020-05-20 23:49] michael-hawker commented on #2419
@StephenLPeters I think this is still a bug, it seems like the hosting `ScrollViewer` should still be getting the keyboard input to respond to the key events. It responds to Mouse Events (scroll wheel), so it's really odd this isn't keyboard accessible by default like the previous panel based models.

We shouldn't be putting extra onus on the developers using ItemsRepeater to have to do additional

[2020-05-20 23:52] chingucoding commented on #2457
The earliest version where the crash occurs is 2.2.190822001-prerelease. I will look into what changed between the release before that and that prerelease.

[2020-05-20 23:54] michael-hawker commented on #1286
@StephenLPeters if you need another repo, building the Sample App out of the current master of the Windows Community Toolkit should exhibit the problem: https://github.com/windows-toolkit/WindowsCommunityToolkit#-required-dependencies

My co-worker hit it on their machine as well running 2004.

[2020-05-20 23:58] shaheedmalik commented on #2419
It's definitely a bug. If I have a scroll bar I should have the ability to scroll. I stated above, I had the same thing happen in Chromium Edge where scroll had focus and nothing would happen. I am using a update version where it is fixed as it was a bug.

A user is going to expect to be able to scroll.

[2020-05-21 00:06] ranjeshj commented on #2419
Does the ScrollViewer have IsTabStop set to true and focus is on the ScrollViewer ? I would expect the same experience if i replaced ItemsRepeater with a StackPanel

[2020-05-21 00:13] michael-hawker commented on #2419
@ranjeshj I can check, but in the [two samples](https://github.com/microsoft/microsoft-ui-xaml/issues/2419#issuecomment-628443530) I provided the only difference to see the keyboard behavior change was swapping ItemsControl/UniformGrid for the 'equivalent' ItemsRepeater/UniformGridLayout.

[2020-05-21 00:28] Hanzalah-Adalan commented on #2495
yes it does work outside of a Tabview.. in my case it works fine in `NavigationViewItem`..

[2020-05-21 01:07] stmoy commented on #2454
Not by design, but also no repro in the Xaml Controls Gallery. I see a settings button on the right side of the screenshots above - that might be related.

@harvinders can you please post your Xaml to debug further?

Here is the Xaml Gallery sample that has Header and Footer set, no repro.

![image](https://user-images.githubusercontent.com/25991996/82512372-c48c0680-9ac4-11ea-8189-6d3504fd5ebf.pn

[2020-05-21 01:24] ranjeshj commented on #2419
The difference is that ItemsControl is a 'Control' that can take focus, have a template etc. but ItemsRepeater is not a control and does not take focus. ItemsRepeater is more like a Panel.

[2020-05-21 01:58] harvinders commented on #2454
@stmoy My mistake, My TabStripFooter have a CommandBar. Setting the `Background ="Transparent"` fixed it. Ideally speaking it should have impacted both the light and dark mode equally.

[2020-05-21 02:20] dstaley opened #2509 "Calling ApplicationView.GetForCurrentView throws an error"
**Describe the bug**

Calling `ApplicationView.GetForCurrentView()` in `App.OnLaunched()` throws this error:

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a Blank, Packaged WinUI 3 C# app
1. Add the following code to beginning of the `App.OnLaunched` method in `App.xaml.cs`

[code]

**Expected behavior**

App launches without an uncaught exception.

**Version

[2020-05-21 02:23] dstaley opened #2510 "PreferredLaunchViewSize has no effect"
**Describe the bug**

Setting `ApplicationView.PreferredLaunchViewSize` does not result in the app launching at the provided size on subsequent launches.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a Blank, Packaged WinUI 3 C# app
1. Add the following code to beginning of the `App.OnLaunched` method in `App.xaml.cs`

[code]

3. Close the app, and then reopen it

**E

[2020-05-21 02:33] vatsan-madhavan commented on #2498
IIRC It’s being folded into net.sdk. But net.sdk.windowsdesktop would have to be retained to ensure that projects migrating from 3.1 -> 5 keep on working. So we’ll likely have both worlds - net.sdk as the mainstream scenario, and net.sdk.windowsdesktop as a fully functional alternative. I suspect that the implementation details would still stay on in net.sdk.windowsdesktop for some time.

 @fabian

[2020-05-21 02:44] robloo commented on #1920
Check out this idea: https://github.com/microsoft/microsoft-ui-xaml/issues/2499 "Proposal: Support Blazor Syntax"

[2020-05-21 02:46] fabiant3 commented on #2498
@vatsan-madhavan , I was considering migrating from 3.1 to 5 from a project plan is the thing you do if you want to be running in 5. I wasn't thinking about supporting 3.1 project style and compile with net5. So yeah, support net.sdk only. Appreciate your thoughts.

[2020-05-21 03:23] stevenbrix commented on #2498
@fabiant3 is there a GitHub issue tracking this work? We'd like to make sure that this works for WinUI, so if we need a property like `UseWinUI`, then we can do that.

[2020-05-21 04:11] davkean commented on #2498
The tooling must be backwards compatible, we only ship on in VS and it supports all versions.

[2020-05-21 07:21] kmelmon opened #2511 "Opacity facade animation doesn't work in edge case - element remains Opacity 0"
**Describe the bug**
We found a scenario where an Opacity 0 element stays invisible when animating its Opacity to 1 using Facade animations.  This bug was found by a real react-native-windows customer.  See:  https://github.com/microsoft/react-native-windows/issues/4312

**Steps to reproduce the bug**

Steps to reproduce the behavior:
I managed to get this down to XAML min repro app.
Unzip the att

[2020-05-21 07:25] hiteshvb opened #2512 "Proposal: A tool to migrate old MFC UI to WinUI"
MFC is old and still new at the same time. Many applications are still being built using this framework. Over years there is a lot of code/UI built using this and it would be difficult to developers to migrate them to WinUI manually, one dialog at a time. It would be helpful if there was a wizard or a tool that could migrate these MFC projects to WinUI projects. Enabling organization to quickly ad

[2020-05-21 07:34] kmelmon commented on #2511
I debugged this down to a dirty flag issue in the facade animations code:

_Check_return_ HRESULT CUIElement::StartAnimationImpl(_In_ WUComp::ICompositionAnimationBase* animation, bool isImplicitAnimation)
{
    IFC_RETURN(FacadeAnimationHelper::StartAnimation(this, animation, isImplicitAnimation));

    if (!HasFacadeAnimation())
    {
        SetRequiresComposition(CompositionRequirement::HasFac

[2020-05-21 07:44] BreeceW opened #2513 "WinUI 3 has inferior “scrolling personality” compared to UWP in some scenarios"
**Describe the bug**
UWP apps on devices with precision trackpads have a silky-smooth feel as you scroll through them with two fingers with a touchpad. It glides down pages and slows down as you release your fingers and bounces when you hit the ends. This experience continues in UWP apps using WinUI 3 in UWP. WinUI 3 apps in Win32, however, have a very choppy feel, where the scrolling does not gli

[2020-05-21 07:51] jamesmcroft commented on #2508
This almost looks like it shouldn't work at all. The `DataTemplate` has a defined `DataType` which it uses for its bindings.

I know with old-style `Binding`, this was possible with `ElementName` but I think there's an argument for having this functionality work correctly with `x:Bind`.

[2020-05-21 08:04] MikeHillberg commented on #2508
{Binding} and ElementName will walk up the element tree at runtime. IIRC x:Bind will statically search up the naming scopes -- the DataTemplate then the x:Class.

[2020-05-21 08:07] michael-hawker commented on #2419
Thanks @ranjeshj, so the better comparison is to place a Grid of elements in a ScrollViewer and see that it doesn't scroll via keyboard. I did notice in that scenario even, if I click on the scrollbar and drag it and then try and use the keyboard, nothing happens still.

[2020-05-21 08:29] Gavin-Williams opened #2514 "How do I get key events?"
I have the following to collect keyboard from the window, but it's now working.
[code]
How do I collect input?

[2020-05-21 09:03] Felix-Dev commented on #2507
Let me know if I should create a PR to remove it.

[2020-05-21 09:16] Felix-Dev commented on #2514
Seems to work fine for me. In the following cases, the event is not raised according to the [documentation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.corewindow.keydown?view=winrt-18362):
* Is fired when a non-system key is pressed.
* Apps do not receive this event when an Input Method Editor (IME) is enabled. The Input Method Editor (IME) handles all keyboard input and sets Handled

[2020-05-21 09:25] Gavin-Williams commented on #2514
OK, I was about to delete this question, because I was being lazy. I need to check the documentation. But thanks for the info - I was worried that I was going to find my whole Platform layer (UWP) not compatible with .Net 5. But if that works, then that's good.

For me, CoreWindow is null.

I've only just loaded the VS template for WinUI for Desktop and added a SwapChainPanel and a couple controls

[2020-05-21 09:35] Felix-Dev commented on #2514
@Gavin-Williams Only UWP apps will have a CoreWindow, there is no CoreWindow for WinUI Desktop apps.

[2020-05-21 09:38] Gavin-Williams commented on #2514
Hmm, that's what I was worried about. So I will have to rewrite a whole heap of code.

[2020-05-21 09:48] Felix-Dev commented on #2514
@Gavin-Williams This sounds like something [Project Reunion](https://github.com/microsoft/ProjectReunion) can help with (by providing a similar CoreWindow implementation for Win32 apps). Alternatively, the new [WinUI 3 Window class](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/Win32/active/Win32/Window_and_Application_API_Spec.md) (which abstracts both a CoreWindow for UWP apps and a

[2020-05-21 09:52] Gavin-Williams commented on #2514
@Felix-Dev OK. Thanks for highlighting all that for me. Good to know. In the mean time, I'll have to dig into the preview and see what I can work out.

[2020-05-21 10:41] Sergio0694 commented on #2508
@jamesc I actually believe this was in fact supported, in particular because VS even has dedicated warnings for this. Like, if your `x:DataType` model has a property with the _same name_ as the one from code behind, and you `x:Bind` to it, VS will say something like:

As in, it looks like the system is perfectly aware of the possibility of binding outside of a data template, as @MikeHillberg said.

[2020-05-21 10:44] Sergio0694 commented on #1286
To add to this, I can confirm that in my case, setting the 19041 SDK as target SDK for my app solved the issue, I can now finally build it without having to change anything. For reference, if I keep the target SDK to 18362 and try to build an app package from a PC with Windows 10 19041, the app package creation will just fail with that "child node 2 exited" error message.

[2020-05-21 11:10] Nukepayload2 commented on #2497
The lack of VB WinUI template should be documented in the "Preview 1 limitations and known issues" section of https://docs.microsoft.com/en-us/windows/apps/winui/winui3 . Because "Visual Basic" is currently on the [roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md).
![image](https://user-images.githubusercontent.com/10798596/82553378-7ba48280-9b96-11ea-9e55-737a1e

[2020-05-21 11:20] mariusbancila commented on #2492
This solution fixed the problem. Thank you.

[2020-05-21 11:21] ranjeshj commented on #2419
Yes. That is exactly correct. The workaround is to have some control take focus so that there is a place for key events to start bubbling up from. If the ScrollViewer itself has focus, I believe that should work.

[2020-05-21 11:21] TheXamlGuy opened #2515 "Proposal: Window Transparency support"
It'd be nice to see support for window transparency which will allow us to draw our own desktop overlay. Currently we are able to do just that in WPF by declaring the following properties on a Window `<Window  WindowStyle="None" AllowsTransparency="True" Background="Transparent" />` however if we were to implement WindowsXAMLHost in a WPF application to host modern controls, it is currently not su

[2020-05-21 11:44] ChristopheLav opened #2516 "Unable to execute Unit Tests in Release mode (.NET Native) when Microsoft.UI.Xaml is used"
**Describe the bug**

When I execute the unit tests project in Visual Studio (F5 or with the Tests Explorer), a fatal failure occurs at startup. I encounter the same issue with VSTest in my Azure DevOps pipeline.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the repro project
2. Select 'Release' configuration and 'x64' platform
3. Make sure .NET Native tool chain is ena

[2020-05-21 12:57] applefanbois commented on #2496
For reference, the Apple PDFKit should be the base reference
https://developer.apple.com/documentation/pdfkit

At minimum, WinUI should have all the exact same features. But it would not be difficult to do improve and make it simpler to use.

[2020-05-21 13:03] applefanbois commented on #2496
Android SDK has a much less powerful pdf tools in their SDK than Apple, but it is still miles ahead of windows native SDK.
https://developer.android.com/reference/kotlin/android/graphics/pdf/package-summary

Just look at this miserable pdf support on Windows
https://docs.microsoft.com/en-us/uwp/api/windows.data.pdf?view=winrt-18362

PDF is as important as webview for business app.

[2020-05-21 13:08] Poopooracoocoo opened #2517 "Proposal: Do not show animations when switching menus in the MenuBar"
# Proposal: Do not show animations when switching menus in the MenuBar

## Summary

Do not show animations when switching menus in the MenuBar.

## Rationale

* Feels faster
* Consistency with whatever notepad uses

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Sho

[2020-05-21 13:08] applefanbois commented on #2496
We need to be able to create, edit and view (with text search and selection) pdf.

[2020-05-21 14:13] kmgallahan commented on #2513
This, #2506, and #2486 seem related in that interactions with WinUI elements running in a Win32 process are rendered at 30 fps. @ranjeshj

[2020-05-21 14:17] chingucoding commented on #2457
So I've finally found out what causes the crash. Turns out using ItemsStackPanel as the ListView's panel, is causing the crash. Unfortunately removing the ItemsStackPanel (e.g. switching to StackPanel or removing the setter for the `ItemsPanel` property) results in the TabViewItems not rendering correctly.

What would be the best direction moving forward with this? @ranjeshj @teaP

[2020-05-21 15:18] ranjeshj commented on #2458
@MikeHillberg graciously offered to do the spec work for this. Thanks!  @dpaulino/@chingucoding, would one of you be able to create a PR ?

[2020-05-21 15:20] chingucoding commented on #2458
If @dpaulino does not want to create a PR I would step in, but I'll leave it up to @dpaulino to decide :)

[2020-05-21 15:23] dpaulino commented on #2458
@chingucoding unfortunately don't have bandwidth this week. Please feel free to take this Marcel

[2020-05-21 15:26] chingucoding commented on #2458
Right, will do. Thanks.

[2020-05-21 15:36] chingucoding commented on #2458
While we are at it, should `SelectedNode` also become a DP?

[2020-05-21 15:37] weltkante commented on #2515
Last I checked WPF doesn't use OS support for transparent windows, as far as I'm aware its a hack transferring every rendered frame through system memory into a GDI surface, using UpdateLayeredWindow. Very CPU intensive especially when animated or scrolling.

The docs say native OS support for transparent windows is "optional" (depending on the graphic driver) and may not be available, so I'm wond

[2020-05-21 15:54] mdtauk commented on #2515
I seem to remember Microsoft considering transparent windows, a security concern.  Apps capturing their window's content, and the contents of the windows below being visible.

[2020-05-21 15:58] mqudsi opened #2518 "Uncatchable COM interop exception crossing abi boundaries"
**Describe the bug**
I have a very basic repro for a memory reference exception calling `Geolocator.GetGeopositionAsync()` from a new WinUI3 project on Windows 10 18363. The initial call to `Geolocator.RequestAccessAsync()` succeeds, but the followup call to `GetGeoPositionAsync()` always crashes in both x86 and x64 modes with the following messages in the output window:

[code]

This crash does *

[2020-05-21 16:07] weltkante commented on #2515
While this might have been true in olden times when transparency was just overpainting, these days composition is out of process by a separate compositor, so I don't think capturing a windows content will reveal underlying windows if the compositor doesn't want to go out of its way to implement that. Also the legacy GDI transparency is still supported, just expensive and awkward to use with modern

[2020-05-21 16:08] ryandemopoulos opened #2519 "Proposal: Bring C# 9 "Init-Only" properties to XAML"
# Proposal: C# 9 "Init-Only" properties in XAML

Init-only properties are a set-on-initialization-only accessor in C# 9.  Morten has suggested that we bring this to XAML: https://twitter.com/dotMorten/status/1263284520364564481

Interesting idea to explore.  It would allow the instantiation of read-only / immutable values in XAML markup.

## Summary

Unsure if this would require a syntax change/ex

[2020-05-21 16:10] ryanbley3 commented on #2127
Any update @ranjeshj ?

[2020-05-21 16:13] MikeHillberg commented on #2519
Big fan of this. The Xaml 2009 spec has an x:Arguments syntax for this, allowing you to pass arguments to the constructor:

https://docs.microsoft.com/en-us/dotnet/desktop-wpf/xaml-services/xarguments-directive

[2020-05-21 16:14] FrayxRulez commented on #2491
Hi @StephenLPeters, I honestly consider Pivot quite obsolete in terms of UI, and I don’t use one directly since a long time now.
There are actually few views in the app where I rather use a headerless Pivot inside a NavigationView.

[2020-05-21 16:56] ranjeshj commented on #2458
SelectedItem is definitely useful as a dependency property so that it can be bound. I'm not sure if there is much use making SelectedNode a dependency property.  I might be wrong.

[2020-05-21 17:35] michael-hawker opened #2520 "NavigationView in 2.4 doesn't return the Item anymore in ItemInvoked"
**Describe the bug**
The 2.4 release broke the `ItemInvoked` API contract by returning the realized UI Element from the new underlying ItemsRepeater _instead of_ the `Item` from the underlying `MenuItemsSource` collection.

**Steps to reproduce the bug**

<details><summary><b>Sample Code</b></summary>
<br/>

[code]

<details><summary><b>Code Behind</b></summary>
<br/>

[code]
</details>
</details>

[2020-05-21 18:04] michael-hawker opened #2521 "NavigationView Keyboard Focus is Broken in Top Navigation Mode"
**Describe the bug**
I'm noticing issues with Keyboard focus navigation of the arrow keys on `NavigationView` when in Top `PaneDisplayMode`. However, the weird thing is, I can see similar (though slightly different) issues between 2.3.2002 and 2.4.2 even though they're different implementations with the ItemsRepeater!

I have a [branch here](https://github.com/michael-hawker/NavView24Test/tree/foc

[2020-05-21 18:07] stevenbrix commented on #2500
As you alluded to, this can be accomplished in .NET apps through `PublishSingleFile`.

There isn’t a way to accomplish something similar in C++. if you want an unpackaged Win32 app in c++, you need to ensure the .dlls are copied next to the exe.