[2020-10-30 05:03] YuliKl commented on #3521
Closing as a dupe.

[2020-10-30 05:09] YuliKl commented on #3296
Closing based on @chingucoding's last comment

[2020-10-30 05:09] #3296 closed

[2020-10-30 05:19] YuliKl commented on #2870
This issue was opened first, but resolving as a duplicate of #3525

[2020-10-30 05:19] #2870 closed

[2020-10-30 05:22] crutkas commented on #3521
This isn't a dup, this is an issue that should be tracked.  Just because it is internally tracked doesn't mean it shouldn't be externally.

[2020-10-30 05:23] crutkas commented on #3521
Please reopen

[2020-10-30 09:11] Felix-Dev commented on #3527
Also see issue https://github.com/microsoft/microsoft-ui-xaml/issues/3144. I plan to take a look at that next week. If I don't find the time, I'll let the team know so somebody else can look into it.

[2020-10-30 09:16] Felix-Dev commented on #3521
To add to what @crutkas said, tracking issues externally (even though they might already be tracked internally) will allow the community to contribute fixes if desired by the team.

[2020-10-30 13:33] mdtauk commented on #3525
As you have access to the month names, should they not be in the tooltip/accessibility name?

[code]

[2020-10-30 14:59] chingucoding commented on #1615
@ranjeshj @teaP Is this safe to work on? This bug has also caused issues in the XCG for quite some time now.

[2020-10-30 15:12] ranjeshj commented on #1615
@chingucoding go for it.

[2020-10-30 15:19] kmgallahan commented on #3527
Ref: #1650 #1519 #1413 and [this comment](https://github.com/microsoft/microsoft-ui-xaml/issues/1650#issuecomment-557232921).

[2020-10-30 16:16] ranjeshj commented on #3521
Leaving it open for tracking in github.

[2020-10-30 17:43] vsfeedback opened #3529 "Xaml Islands Win32 MenuFlyoutSubItem crash"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Xaml-Islands-Win32-MenuFlyoutSubItem-cra/1236135?preview=true)._

---
<p class="">Use any Xaml Islands Win32 sample as base, e.g. <a href="https://github.com/microsoft/Xaml-Islands-Samples/tree/master/Samples/Win32" target=_blank class=redactor-added-link tabindex=0>Xaml-Islands-Samples

[2020-10-30 17:44] vsfeedback opened #3530 "Xaml Islands Win32 MenuFlyoutSubItem crash"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Xaml-Islands-Win32-MenuFlyoutSubItem-cra/1237929?preview=true)._

---
[severity:It's more difficult to complete my work]
Use any Xaml Islands Win32 sample as base, e.g. Xaml-Islands-Samples

Add a MenuBar with two MenuFlyoutSubItem elements. E.g:

	<MenuBar>
		<MenuBarItem Title="MenuBa

[2020-10-30 21:30] liquidboy commented on #536
I was looking for a similar brush too, i vote  for bringing this to winui

[2020-10-30 21:45] msbrunoalves opened #3532 "Jelly effect when writing/drawing with a pen on WinUI ink canvas"
**Describe the bug**
Writing/drawing on WinUI applications has a very noticeable jelly effect that affects the confidence of using the pen to write or draw.
I am using a Wacom Intuos S Tablet.
It's an issue that has been reported for years and nothing has been done about it except saying "use the old OneNote, that one doesn't have the issue".
https://www.reddit.com/r/Surface/comments/41kxd0/can_yo

[2020-10-30 21:45] msbrunoalves opened #10617 "Jelly effect when writing/drawing with a pen on WinUI ink canvas"
**Describe the bug**
Writing/drawing on WinUI applications has a very noticeable jelly effect that affects the confidence of using the pen to write or draw.
I am using a Wacom Intuos S Tablet.
It's an issue that has been reported for years and nothing has been done about it except saying "use the old OneNote, that one doesn't have the issue".
https://www.reddit.com/r/Surface/comments/41kxd0/can_yo

[2020-10-30 21:57] michael-hawker commented on #3237
@Felix-Dev looks good to me as the OP. 🦙❤

[2020-10-30 22:40] michael-hawker commented on #3240
@StephenLPeters this shouldn't need WinUI 3, eh? The style provided in WinUI 2.x can just expose a new resource value in the resource dictionary:

https://github.com/microsoft/microsoft-ui-xaml/blob/f5034668462987302f1e1c58d1e055e45e40c658/dev/Pivot/Pivot_themeresources.xaml#L9

And then use it here:

https://github.com/microsoft/microsoft-ui-xaml/blob/f5034668462987302f1e1c58d1e055e45e40c658/dev/

[2020-10-30 23:11] StephenLPeters commented on #3526
dupe/related to #3513

[2020-10-30 23:14] StephenLPeters commented on #3525
I think that would be awesome, but probably requires winui 3. we can get static labels in winui2

[2020-10-30 23:16] StephenLPeters commented on #3524
@Austin-Lamb FYI, I'm not sure where the message dialog would be getting the "applications" string.

[2020-10-31 00:01] crutkas commented on #3524
My thought was the manifest I think the node is applications.

[2020-10-31 03:54] roxk opened #3533 "WinUI 3 Preview 2 Win2D Blur brush has a gradient masked effect around element/window border"
**Describe the bug**

Using Win2D `GaussianBlurEffect` in WinUI 3 Preview 2 produces weird artifact around element/window border regardless of border mode. In particular, the artifact is a black gradient around element border, and no blur around window border.

**Steps to reproduce the bug**
1. Clone the minimal reproducible repo: https://github.com/roxk/winui3-blur-brush-bug-min-repro
2. Build th

[2020-10-31 18:36] yoshiask commented on #783
I also ran into this issue recently while working on a ribbon control. I suspect it has something to do with how the height of the AppBarSeparator (and anything that's not an AppBarButton) is determined. The simple but kind of ugly workaround for this is to set the CommandBar height to 40 (the default collapsed height).

[2020-10-31 19:24] MartinZikmund commented on #2310
Agreed, I would also appreciate such control

[2020-11-01 09:09] sylveon commented on #2408
If you do any processing of ALT+some key it seems that you have to the same. I just needed some special alt+space processing, and had to replace that if by `if (msg.message == WM_SYSKEYDOWN && (msg.wParam == VK_F4 || msg.wParam == VK_SPACE))` to get things to work.

As for WPF, you need to use `ComponentDispatcher.ThreadFilterMessage` @crutkas. I haven't personally tested it, but it's how the WPF

[2020-11-01 09:17] Felix-Dev commented on #3525
Binding the button tooltip content to the UIA name property of the respective button will give us "Previous" and "Next" as tooltips. Seems fine for now and we can add the month name once WinUI 3 has been open-sourced (for which we should create a new tracking item/proposal).

I would like to work on this.

[2020-11-01 09:24] yoshiask commented on #168
@adambarlow Can you elaborate on what you meant by "Support for mandatory text labels" in the original proposal?

[2020-11-01 09:38] Felix-Dev commented on #3527
Adding IsTextScaleFactorEnabled=False to the TabView scroll buttons gives us the following result with 200% text scaling mode:
![image](https://user-images.githubusercontent.com/1398851/97778281-9253fa00-1b76-11eb-8306-2bc1ece6c46a.png)

We currently align the scroll buttons to the bottom of the tab strip and control the width/height of the scroll button via theme resources (TabViewItemScrollButto

[2020-11-01 10:51] chingucoding commented on #3527
What about having all buttons be aligned to the bottom:

![image](https://user-images.githubusercontent.com/16122379/97800802-892b6180-1c38-11eb-94ad-697909e7eaf9.png)

Having a button centered but not take up the vertical space seems a bit odd to me.

[2020-11-01 11:04] Felix-Dev commented on #3527
Looking at how I would naturally tab tabs (touch screen), I would tab these tabs at the height of their header. So in case of the scroll buttons (and even the Add button) I would then have to move my finger down a bit, as opposed to having them centered. (The Add tab button would still work since its height is the same as the height of the tab but I would naturally be inclined to tab the button wh

[2020-11-01 11:18] chingucoding commented on #3527
I guess in the touch screen scenario it is more convenient, however, you would be left with inconsistency in the sizing behavior. If the pointer is not near the buttons, you see this:

![image](https://user-images.githubusercontent.com/16122379/97801291-e4ab1e80-1c3b-11eb-9ddd-0ca26f722f2b.png)

But if users try to hover of them, users will be surprised to see that one icon is only centered, while

[2020-11-01 11:49] Felix-Dev commented on #3527
I am assuming the scroll buttons not stretching vertically like the Add button is desired though since we've introduced theme resources to customize the width and height of the scroll buttons. That design could be changed so we have matching button designs for the TabView. Edge UWP for example uses more or less the same design for the scroll and add buttons.

I am writing these ideas under the pre

[2020-11-01 11:57] chingucoding commented on #3527
I think the introduction of those themeresources was done without accounting for this kind of scenario. Given that those resources where introduced quite some time now, we will need to figure a way out of fixing this without removing said resources or ignoring them. Since text scale changing is nothing I would expect developers to listen too to account for the correct sizing, the only feasable opt

[2020-11-01 12:08] Felix-Dev commented on #3527
I will use this occasion to bring these design discussions to the attention of @mdtauk since this could be interesting to him as well.

[2020-11-01 12:58] jtorjo commented on #3468
@ranjeshj I ended up doing something different altogether. Basically, I would have a `VirtualPosition`, and a  `VirtualWidth` for the canvas and its children. The Canvas itself its regular size, and I've implemented another `Scroll` control that would operate on `VirtualPosition` and `VirtualWidth`. Thus, I would constantly move/show/hide all children based on their `VirtualPosition` and `VirtualW

[2020-11-01 12:58] #3468 closed

[2020-11-01 13:37] mdtauk commented on #3527
Your mention of the way Firefox did it, strikes me as a good solution.  I would ask how this might affect Windows Terminal, which uses a split drop-down button for their add tab UI. How would other content alignment with the tabs and scroll buttons?

[2020-11-01 18:52] chingucoding opened #3534 "Question: Will WinUI 3 TextBlock,TextBox and RichEditBox peers implement IText(Range)Provider interface?"
According to the [documentation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.provider.itextprovider?view=winrt-19041#remarks) (and verified through manual testing), inbox windows runtime automation peers do not implement the ITextProvider, ITextProvider2 and ITextRangeProvider interface. Will this also be true for the WinUI 3 controls or will that change?

[2020-11-02 01:41] Wbhsuanming opened #3535 "Discussion: [your discussion title]"
# Discussion: [your title here]

## Related Links

[2020-11-02 12:58] FrayxRulez opened #3536 "UWP apps freeze for few seconds when system theme/accent color changes"
**Describe the bug**
All UWP apps seem to be affected by this bug, some of them less (I guess simpler UI tree) and some more.
Whenever the system theme changes, the apps will freeze for few seconds (1-5?).
Something interesting that we found out while researching about this behavior:
- The freeze affects the app in any case, even if it explicitly sets a `RequestedTheme` in `App`.
- Resizing the ap

[2020-11-02 13:48] SnowyWreath commented on #1652
This bug is inhibiting me from offering a Recent Files submenu in my app.

[2020-11-02 15:24] Felix-Dev commented on #3527
@mdtauk Terminal titlebar currently looks like this with 200% text scaling:
![terminal-200-text-scaling](https://user-images.githubusercontent.com/1398851/97885542-c91d4200-1d27-11eb-8006-f23dd735787b.gif)

So a vertically stretching scroll button would fit nicely with the rest of the UI.

[2020-11-02 15:40] Felix-Dev opened #3538 "Proposal: Add tooltips to the navigation buttons of the FlipView"
# Proposal: Add tooltips to the navigation buttons of the FlipView

## Summary
Similar to https://github.com/microsoft/microsoft-ui-xaml/issues/3525 for the CalendarView, we should probably add tooltips to the navigation buttons of the FlipView as well.

![image](https://user-images.githubusercontent.com/1398851/97885997-5d87a480-1d28-11eb-816c-976c47e4105c.png)
(A FlipView with horizontal navigat

[2020-11-02 16:26] roxk opened #3539 "AutoSuggestBox TextChanged reports reason as UserInput when programmatically setting AutoSuggextBox.Text in SuggestionChosen handler in C++ (and in C# as well under certain circumstances)"
**Describe the bug**

`AutoSuggestBox`'s suggestion collection binding and text updating routines do not work well with collection item whose type is not string. `AutoSuggestBox` has some undocumented usage of `ToString` and some behavior related to these usage is inconsistent between C# and C++. On top of that, `TextChanged` would incorrectly report any change to `AutoSuggestBox.Text` in `Suggest

[2020-11-02 16:36] Felix-Dev opened #3540 "CalendarView: Navigation buttons do not change appearance when disabled"
**Describe the bug**

This post is a bug + an additional feature request for now (could be decoupled idepending on what gets approved).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the XAML Controls Gallery
2. Go to the CalendarView control page
3. Scroll until year 1920 (the earliest year available by default)
4. Observe that the foreground of the navigate-to-previous

[2020-11-02 16:42] chingucoding commented on #3527
The problem is that having the scroll buttons stretch will be almost impossible to achieve without ignore the existing theme resources/API for that :/

[2020-11-02 18:53] chigy commented on #842
As far as I am aware, we have no plan to address this in the (immediate) future. We will open a new issue with reasons, etc. but closing this to keep the query clean.

[2020-11-02 18:53] #842 closed

[2020-11-02 18:56] sylveon opened #3541 "ColorPicker: Crash in XAML islands when exiting app"
**Describe the bug**
When using ColorPicker in XAML islands, if the app is exited within a short timespan of tearing down a XAML island (or directly after), it will cause an access violation in `Windows.UI.Xaml.dll`.

**Steps to reproduce the bug**
1. Create a new blank WPF .NET Framework app.
2. Add the `Microsoft.Toolkit.Wpf.UI.XamlHost` NuGet package.
3. Add a project reference to the Universal

[2020-11-02 19:19] benstevens48 opened #3542 "TappedRoutedEventArgs.GetPosition is inaccurate compared to PointerRoutedEventArgs.GetCurrentPoint.Position"
**Describe the bug**
TappedRoutedEventArgs.GetPosition can be 1 or 2 physical display pixels different from PointerRoutedEventArgs.GetCurrentPoint.Position (e.g. if handling PointerPressed PointerReleased vs Tapped). This is awkward when providing pixel-perfect drawing or similar, especially as you may use PointerRoutedEventArgs.GetCurrentPoint.Position during PointerMoved to show a preview of the

[2020-11-02 19:58] FrayxRulez opened #3543 "Discussion: Reordering ListView items shouldn't require AddDeleteThemeTransition"
# Discussion: Reordering ListView items shouldn't require AddDeleteThemeTransition

I don't see any real connection between `AddDeleteThemeTransition` and reordering items animation, but I would expect `ReorderThemeTransition` to handle this scenario.
I have a chat list, where items are moved pretty quickly, and `AddDeleteThemeTransition` just doesn't fit, because it is too attractive for the eye

[2020-11-02 20:14] anawishnoff opened #3544 "Proposal: Update the designs of ListView and GridView!"
# Proposal: Update the designs of ListView and GridView!

## Summary

I'm proposing design changes that would affect the way that ListView and GridView show items in their non-resting state (selected, on hover, etc.). The bulk of these design changes would be rounding the corners of List/GridView items, rounding the corners on their selection checkbox in multi-select mode, and changing the color s

[2020-11-02 20:18] chingucoding commented on #3544
How would the dark and high contrast variation of the new styles look like?

@mdtauk I think this might be interesting for you!

[2020-11-02 20:32] mdtauk commented on #3544
I will need to have a think on this before I make any concrete suggestions.

Things I'd like to initial think about...

How will these work with Reveal and Xbox navigation/reveal focus visuals?

Is the padding/margin between items, something that should be an exposed style value?

What about horizontally aligned and scrolling list views with text and other objects, does the selection indicator sti

[2020-11-02 21:00] Sergio0694 commented on #536
Not sure if this is a perfect workaround for what @verelpode is trying to do, but we have at least partial support for such a feature in the various brushes and effects in the [Windows Community Toolkit](https://aka.ms/wct), specifically in the `Microsoft.Toolkit.Uwp.UI.Media` package.

In particular, there's the `PipelineBuilder` class (and accompanying [`PipelineBrush`](https://docs.microsoft.co

[2020-11-02 22:20] gabbybilka commented on #913
Hi everyone, as an update the InfoBar control is now in preview 🎉 If you have an application that would benefit from this control please try it out and share your feedback with us.
https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.5.0-prerelease.201027002
Thank you for all of your engagement so far for this control!

[2020-11-02 22:20] dotMorten commented on #3544
Personally if I wanted rounded corners, I'd put corner radius inside my item template. I do however see the issue with the selection box then not matching it.
I'd be worried though that this breaks the look of existing apps though, and adds unexpected rounding on things that doesn't look well for the specific design. Is there a guarantee that the corners of the item inside the item template won't

[2020-11-02 23:10] YuliKl opened #3546 "Proposal: Update visuals of various buttons"
# Update visuals of various buttons

## Summary

Change the default appearance of various button controls.

## Rationale

* XAML controls are inconsistent with how web and mobile apps are evolving.
* This is part of the work to refresh Xaml UI to align with other platforms while looking familiar on Windows.

## Comps showing proposed changes

### Button
![image](https://user-images.githubuserconte

[2020-11-02 23:20] YuliKl commented on #1054
Closing this issue for now. We won't be adding distinct styles at this time, but proposed changes to the default styles are summarized in #3546.

[2020-11-02 23:20] #1054 closed

[2020-11-02 23:48] dan-meier opened #3547 "Proposal: Add "ClearAll" method to TreeView control"
This method would DEselect all nodes in the tree -- the analog opposite of the existing SelectAll method.

Currently, clearing all checked nodes is unintuitive. Creating a straightforward method that matches the simplicity of the SelectAll method would reduce developer friction, particularly for those new to the control.

[2020-11-02 23:53] dan-meier opened #3548 "Proposal: Add "ItemSelected" event to TreeView control"
This event would occur when a TreeView item's checkbox is checked or unchecked (when the control's SelectionMode property is "Multiple"). The event should include an argument containing the related node object and the new checkbox state (i.e., IsChecked).

There is currently no way to detect when a node checkbox is checked or unchecked.

[2020-11-03 00:04] Felix-Dev commented on #3548
The TreeView control currently has in API preview (WinUI preview versions) a SelectionChanged event which should come with the necessary data requested here. PR [here](https://github.com/microsoft/microsoft-ui-xaml/pull/2063) and spec (draft) [here](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/80).

[2020-11-03 00:04] StephenLPeters commented on #3548
There is a selection changed event in preview. Does that cover your needs?

[2020-11-03 00:07] StephenLPeters commented on #3547
There is the SelectedNodes and a selectedItems property on treeview, you can just call clear on those collections right?

[2020-11-03 00:12] StephenLPeters commented on #3543
@stmoy fyi

[2020-11-03 00:13] mdtauk commented on #3544
The Corner Radius values are changing to 4px for controls, and 8px for Overlays.

The 4px grid that WinUI uses for its layout - may be the reason for this change in value - it was partially discussed in another issue

_Originally posted by @Felix-Dev in https://github.com/microsoft/microsoft-ui-xaml/pull/3514#discussion_r513780900_

[2020-11-03 00:20] StephenLPeters commented on #3540
the disabled state is for sure good. I think I agree with the resources as well

[2020-11-03 00:20] StephenLPeters commented on #3540
@kikisaints fyi

[2020-11-03 00:25] stmoy commented on #3543
@FrayxRulez - thanks for filing this issue! Agreed that the GIF looks pretty broken.

ListView has four transitions by default:

[code]

Can you confirm which transitions your list has? I agree that `AddDeleteThemeTransition` shouldn't break the reordering, but the ThemeTransition types are mysterious and interconnected in ways that aren't obvious.

[2020-11-03 00:26] mdtauk commented on #3546
I notice there is a different Accent colour for the Dark Theme images.  Is this something new coming to the platform and Accent Colour choices?

----

The backgrounds for these controls are off white and off black. Is this a change to the ThemeResources so a white button would actually stand out?  I proposed these kinds of changes here:
- #920 Proposal: Improve the default Light and Dark Theme col

[2020-11-03 00:27] StephenLPeters commented on #3536
I don't think this is a winui issue, its a system/uwp issue. @MikeHillberg or @jevansaks do you think there is anything we can do from our side?

[2020-11-03 00:37] dan-meier commented on #3547
@StephenLPeters   Yes...but it took a bloody long time to figure that out!  Given there are matching ExpandAll/CollapseAll methods, it makes intuitive sense to add a ClearAll method to the existing SelectAll, even if it's just a wrapper over SelectedNodes.Clear().

[2020-11-03 00:57] YuliKl opened #3549 "Proposal: Update visuals of other basic input controls"
# Update visuals of other basic input controls

## Summary

Change the default appearance of toggle switch, slider, and rating controls. This proposal is closely related to #3546.

## Rationale

* XAML controls are inconsistent with how web and mobile apps are evolving.
* This is part of the work to refresh Xaml UI to align with other platforms while looking familiar on Windows.

## Comps showing

[2020-11-03 01:02] dan-meier commented on #3548
Yep...that'll work. Thanks!

[2020-11-03 01:02] #3548 closed

[2020-11-03 01:08] mdtauk commented on #3549
Will these changes be purely styling, or will some of these controls receive feature or behaviour parity with Fluent UI for Web?

[2020-11-03 01:12] YuliKl commented on #3546
We're still evaluating any potential changes that may impact accent color variants. Stay tuned.

WinUI can't control the exact colors apps choose to use for their backgrounds, so I wouldn't read too much into the background colors in these comps.

There is no Ghost button style in WinUI. We do have AccentButtonStyle, but as I mentioned the accent color values are still being explored.

Sorry about

[2020-11-03 01:14] YuliKl commented on #3549
@mdtauk do you have any examples of the kind of changes you would like to see?

[2020-11-03 01:31] mdtauk commented on #3546
The Xaml Theme brushes set as default can be changed though.  The current buttons with a semi-transparent coloured background will stand out from most backgrounds - but with dark backgrounds it can become a contrast ratio problem.

These designs seem to use white as a background fill, which stands out well on an off-white background, but would be somewhat lost on a pure white background.  I would

[2020-11-03 01:34] mdtauk commented on #3549
Slider doesn't have a range option - which would be useful for media trimming or editing experiences.

The Command Button is an example of a button style for FluentUI - but is not built into WinUI's buttons.

Fluent UI has various controls or UIs which are not in WinUI right now. :)

[2020-11-03 02:17] Jaiganeshkumaran commented on #3544
This looks great but instead of the navigation view like selection for list view, why not highlight the border like what GridView does?

[2020-11-03 02:20] mdtauk commented on #3544
Multiple list items beside each other, could look very messy and visually heavy with borders around everything.

It could also make it harder to distinguish between a selected item, and a focused item

[2020-11-03 02:25] Jaiganeshkumaran commented on #3544
How about highlighting with an accent colour like the old design?

[2020-11-03 02:34] Jaiganeshkumaran commented on #3546
Why is WinUI always trying to match other platforms? when the exiting controls are fine

[2020-11-03 02:43] Jaiganeshkumaran commented on #2236
Fluent was originally created due to the lack of transparency complains from users. But now you are removing it entirely.

[2020-11-03 02:47] mdtauk commented on #3546
It is rumoured that Windows is refreshing its UI - with Fluent Design at its core.  FluentUI controls are cross platform, and will be used increasingly for windows apps.

These proposals are just bringing WinUI designs in line with other Microsoft implementations of Fluent design - to bring consistency across Windows apps and shell, as well as Web Apps, React Native, etc.

[2020-11-03 02:49] Jaiganeshkumaran commented on #3546
To be consistent with Google's material so that their Android devices will have a consistent design. Fluent has lost all effects like Reveal, Acrylic etc...

[2020-11-03 02:50] mdtauk commented on #3544
I would guess they are trying to create less cluttered approaches to handling list selections, and to better distinguish between item states like Hover and pressed, focused states, and selected states.

[2020-11-03 02:52] Jaiganeshkumaran commented on #3546
The old Edge had the best UI... Now with the new Edge, it is plain and boring. There was a proposal that wanted to redesign Edge UI but Microsoft simply said this is the new Fluent and it looks terrible.

[2020-11-03 02:55] mdtauk commented on #3546
I still believe Reveal and Acrylic will be back (I will be the first to complain if they don't) - but when users are moving between their Android phone, their PC or Laptop - familiarity is not a bad thing.

At the moment there is FluentUI which is cross platform, and web supported.  Then there is Fast which is a framework for web controls, with a Fluent design provider which is optional - and then

[2020-11-03 02:56] mdtauk commented on #2236
Microsoft has said they need more time to make Acrylic work, when WinUI is no longer part of the OS, but running separately

[2020-11-03 02:56] Jaiganeshkumaran commented on #3546
I didn't buy a Windows PC to be familiar with Android. In fact, the Android UI is really bad and Microsoft shouldn't adapt their ugly design and go their own way.

[2020-11-03 02:57] Jaiganeshkumaran commented on #2236
I don't care about acrylic anyway, however, hope they will not remove it completely.

[2020-11-03 02:58] Jaiganeshkumaran commented on #3546
@mdtauk Microsoft Edge doesn't use WinUI

[2020-11-03 02:59] Jaiganeshkumaran commented on #3546
I don't think they will put reveal effects in the new Edge when they can update WinUI to not use it instead of doing the hard-work of updating old Chromium UI

[2020-11-03 03:02] Jaiganeshkumaran commented on #3544
For single selection, it's fine but multiple selections look weird

[2020-11-03 03:03] mdtauk commented on #3546
Microsoft Edge uses Fast, which has a Fluent Design component

[2020-11-03 03:04] Jaiganeshkumaran commented on #3546
Fluent UI, in my opinion, is a fake web implementation that claims to "Fluent". It's sad to see WinUI adapting their bad design instead of the other way around. Fast is also not really Fluent. It just looks like a regular Microsoft skinned design which is not the same as real fluent/

[2020-11-03 03:08] mdtauk commented on #3546
Different technologies will always exist, trying to use similar or identical designs for familiar controls and UI is a sensible thing to do.

Not all WinUI controls have a perfect or brilliant design - and some of them look better the way FluentUI or Fast does them.

The Button has many issues with contrast ratios, and looks better the way FluentUI does it. IMO

[2020-11-03 03:09] robloo commented on #3544
The rounded corners on the `ListViewItem` don't look good to me:

 1. It looks a bit unprofessional for some reason. Like something for a school classroom.
 2. The density is a problem. ListView is used to display data -- with virtualization a lot of data. I don't want the padding there and the first thing I would do is remove it so a decent number of items can be displayed when needed.
 3. I thou

[2020-11-03 03:13] Jaiganeshkumaran commented on #1126
Technically it is possible to create Reveal effects in CSS. However, performance could be an issue. Reveal is a great design choice and I miss it when switching to other platforms.

[2020-11-03 03:14] Jaiganeshkumaran commented on #1126
I think the outline border is distracting and should be removed for a clean look.

[2020-11-03 03:18] mdtauk commented on #3544
That may well be valid feedback.  The proposed list view Selected indicator falls in line with controls like the NavigationView and Pivot.  Now does that present a behavioural expectation from a list view?  Would it confuse people to have a ListView with this style, alongside the NavigationView's sidebar?

Xbox's Notification display has the **new** indicator full height with the ListView Item.

P

[2020-11-03 03:20] Jaiganeshkumaran commented on #3544
@mdtauk Apps are free to customize but after a point, it causes inconsistency. Simple customizations are fine but customization like changing how the selection is done should not be done.

[2020-11-03 03:21] Jaiganeshkumaran commented on #3546
@YuliKl Please don't remove the underline from hyperlinks. It may look good but it's not clear to the user.

[2020-11-03 03:24] mdtauk commented on #3544
If a developer has not customised the style or template of their List and Grid Views, these would automatically be the new defaults.

The ListViewItems are just containers displaying the Xaml UI that the dev has chosen.  Selection and states are handled by the ViewItem

[2020-11-03 03:27] Jaiganeshkumaran commented on #3544
The new styles seem to bit larger which can be reduced for density purposes but separate cards look better

[2020-11-03 03:32] Jaiganeshkumaran commented on #2236
I don't understand why WinUI 3 can't support Acrylic. WinUI 3 doesn't need to do the work, let it handle it the compositor on the supported platform and no need to make it open source.

[2020-11-03 03:33] mdtauk commented on #3546
There are Hyperlinks and Hyperlink Buttons.  I don't think Buttons need an underline, as they have padding around them, and Hover and Pressed state backgrounds

[2020-11-03 03:35] Jaiganeshkumaran commented on #3546
@mdtauk The control may be named Button but they need an underline to be noticeable. Please don't blindly copy the trends of web apps and reduce accessibility

[2020-11-03 03:37] mdtauk commented on #3546
Part of this redesign is to make it consistent.  Web Trends are what is familiar

[2020-11-03 03:38] Jaiganeshkumaran commented on #3546
@mdtauk No.

[2020-11-03 03:39] yoshiask commented on #3546
Maybe the typical user doesn't care, but I prefer apps that adopt the styles and designs of the platforms they run on. The Todoist apps were a great example of this: they all had the same basic layout, but used the styles and animations of the platforms they were running on. Trying to make everything look like web is making everything feel bland and oridinary.

[2020-11-03 03:40] Jaiganeshkumaran commented on #3546
Radio buttons look horrible. They are nothing like the old Radio buttons. This proposal makes it even worse.

[2020-11-03 03:44] yoshiask commented on #3549
The Windows Community Toolkit has a RangeSlider (@mdtauk). Those styles will need to be updated to align with these new ones.

[2020-11-03 05:55] YuliKl commented on #3549
I see. This proposal is about visual changes to existing WinUI controls. Any new APIs are outside the scope of what I'm proposing.

[2020-11-03 07:12] FrayxRulez commented on #3543
My collection has all of the default ones, but `AddDeleteThemeTransition`!

[2020-11-03 08:46] mdtauk commented on #3478
I am hoping this is a temporary change until WinUI 3.X gets support for HostBackdrop Acrylic or some form of Fauxcrylic as has been discussed and was said to be under consideration during numerous WinUI Community Calls?

#3401 #2236

[2020-11-03 08:56] chingucoding commented on #3549
This might be due to the screenshot and actually not be that much of a problem in an app, but the differences between normal, hover and pressed for the ToggleSwitch look really small and hard to notice.

[2020-11-03 09:11] Felix-Dev commented on #3546
Speaking of the specific proposed HyperlinkButton changes, I have to say I am not really seeing "refresh Xaml UI to align with other platforms while looking familiar on Windows" in use here. The new style doesn't look familiar to the current style (using underline) at all and looking through older Windows UI elements like in the Control Panel, I notice the underline style used as well (it might no

[2020-11-03 09:49] Felix-Dev commented on #242
@kikisaints @chigy Experimental work https://github.com/microsoft/microsoft-ui-xaml/pull/3514 removed the button tilt effet for now without a replacement. Can we expect more design evaluations about the tilt effect (i.e. replacing it with a different animation, making it opt-in,....) or should we expect only foreground/background button color changes from now when pressing a button?

The new XAML

[2020-11-03 10:06] Felix-Dev commented on #3544
It would be nice if as part of this work item we could improve the customization story for the selection checkbox of the GridView. See https://github.com/microsoft/microsoft-ui-xaml/issues/2067 for more details. Depending on how this will be implemented, we might not have to introduce new APIs here.

@anawishnoff Looking at the image below, I am a bit confused:
![image](https://user-images.githubu

[2020-11-03 10:38] harvinders commented on #3549
@YuliKl If we look at the states for radio button and slider, in both the hover state the circle becomes little bigger and when in pressed state it become smaller. Whereas for toggle switch on hover it becomes bigger and for pressed it becomes even bigger (elongated). Visually looks little inconsistent to me.

Should toggle switch circle also be not smaller when pressed?

[2020-11-03 10:45] Selvamz opened #3560 "Question: [In UWP, how to skip tab key navigation for an UserControl and all of its child element?]"
In UWP, I want to handle and skip the tab key navigation for particular set of controls dynamically.

For e.g., I've two user controls (Both have lot of children which will be added dynamically) in my main page and want to skip tab key navigation for one usercontrol dynamically on specific scenario for a moment.

So I've tried to set "IsTabStop" as false to that UserControl. But which is not effec

[2020-11-03 11:13] alexserov commented on #3437
After looking into the @BorzillaR sample, I see that the issue reproduces when the `coreclr!RCWWalker::s_pGCManager` field is not null. So I can hardly imagine how to work with native (COM) Windows runtime types since this may lead to application hanging.

To reproduce this, you can create a blank app from the Visual Studio template and replace the MainWindow ctor with the following code:
[code]

[2020-11-03 14:15] mdtauk commented on #3549
I agree with this mostly.  This was why I wondered about contrast ratios.

It's good to give each control is own focus, care, and attention, but it still feels like a piece of a larger puzzle.  How does it look on a form, or in the settings screens, and what would an entire window look like on the desktop, or with multiple Windows open.

The original MDL2 controls were not subtle, being blocky wit

[2020-11-03 15:50] mdtauk commented on #3546
Hyperlink and Hyperlink Button are two different controls.  One is designed to sit within a body of text, the other is designed to sit alongside buttons.

![image](https://user-images.githubusercontent.com/7389110/98007917-ddc30e00-1deb-11eb-907d-16334dcf87d5.png)
_Android equivalent_

![image](https://user-images.githubusercontent.com/7389110/98008046-00552700-1dec-11eb-8f78-5bc4d6de308c.png)
_Bu

[2020-11-03 15:55] Jaiganeshkumaran commented on #3546
@mdtauk Not technically in XAML. A hyperlink is a hyperlink button inside a text control.

[2020-11-03 15:58] mdtauk commented on #3546
[code]

[code]

[2020-11-03 16:02] mdtauk commented on #3544
Maybe add a **GridViewItemCheckmark** API where you can replace the default checkbox to add some other kind of element.  Maybe it has a placement option too, which could provide greater customisation without the need to re-template.

[2020-11-03 16:04] chingucoding commented on #833
@ranjeshj @StephenLPeters Should we close this issue than and update the documentation to point out that placing items in the PaneFooter is discouraged and those items should be placed in the FooterItems? Regarding prohibiting it, I am not sure what we can do, after all items could be placed in other elements and then we would need the entire visual tree to check if users used NavView items in the

[2020-11-03 16:06] chingucoding commented on #1119
@ylluminate Friendly ping.

[2020-11-03 17:30] Austin-Lamb commented on #3437
I think Marshal.GetIUnknownForObject and other Marshal helpers may not be correct to use with C#/WinRT's projections.  @stevenbrix or @Scottj1s do you know if that may be what's going on?  Is it a CLR bug?

[2020-11-03 17:36] alexserov commented on #3437
@Austin-Lamb, by the way, as far as I know, the code from the original sample works fine both for UWP and WinUI for UWP platforms.

[2020-11-03 18:16] caiovictor opened #3550 "Narrator cannot identify/read items in NavigationView's PaneFooter."
**Describe the bug**

Narrator is not reading the items that are in NavigationView.PaneFooter using the mouse click (not a key or mouse focus). With the click of the mouse, the automation properties do not work. Can be reproduced at XamlControlsGallery.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open Narrator and XAML Controls Gallery
2. In Xaml-Controls-Gallery select Na

[2020-11-03 18:23] chigy commented on #242
@Felix-Dev , we are not currently looking at replacing tilt with another effect, but it doesn't mean we might not introduce something in the future. New design is not built to rely on tilt, so adding additional effect later will only strengthen, but not weaken it, IMO.

Tilt effect was a carry over of Metro design but it does not have a place in the current design language. It has issues such as t

[2020-11-03 19:42] anawishnoff commented on #3544
Wow, lots of feedback already! Thanks everyone for your suggestions and thoughts. Going to do my best to address all of the open-ended feedback here. I've read all of the comments and have started compiling a list of feedback to take back to the team.

@chingucoding I don't have mockups for the high-contrast view yet, but here's a look at dark mode for ListView and GridView:

![image](https://user

[2020-11-03 20:36] Maoni0 commented on #3437
@alexserov you mentioned it's a deadlock, can you please show the stack that holds the lock this thread wants?

in any case though, this is not a GC issue - xaml just takes the opportunity when a GC is triggered and do their reference walk.

[2020-11-03 21:14] stevenbrix commented on #3437
I just tested this out with our preview3, and it doesn't look like this will be an issue anymore. But yes, the usage patterns are now changing. With Preview3, the code in the example should just look like this:

[code]

@angelazhangmsft, is this documented anywhere in the cswinrt repo?

See https://github.com/microsoft/CsWinRT/issues/561

[2020-11-03 21:21] angelazhangmsft commented on #3437
@stevenbrix No, should this be documented as a breaking change in v1.0 of cswinrt?

[2020-11-03 21:34] alexserov commented on #3437
@Maoni0 I don't see any other callstacks related to the lock, however, I might have missed something due to the lack of experience in such cases… From my side, it looks like there are several AcquireSRWLockExclusive calls without calling the ReleaseSRWLockExclusive on the same thread. Anyway, it seems that the issue is already resolved in the Preview3, according to the https://github.com/microsoft

[2020-11-03 22:02] mc0re commented on #3407
@StephenLPeters I have crafted a sample project, which includes the text handling part of the main project. As said, it only fails on 10.0.17763, so I do not know whether it can reproduce the error. How do I send it to you guys? It's a mere 64 KB archive.

[2020-11-03 22:07] jevansaks commented on #3536
Someone would need to debug it. I recommend a WPA trace with CPU Precise events (with call stacks) to see what's causing the app to wake when it finally unblocks (which would tell us what the app is getting stuck on).

I'll take a trace now and see if anything jumps out at me.

[2020-11-03 22:49] chingucoding commented on #2425
I would like to look into this.

[2020-11-03 23:38] mdtauk commented on #3544
@dotMorten @anawishnoff  This has given me a thought.  Is there some way to bubble up the default lightweight styles for the controls through Autocomplete or some kind of designer UI / Fluent Theme Editor / Figma Plugin - to make these more discoverable.  Now they are being formalised with WinUI 3.X

[2020-11-03 23:43] mdtauk commented on #3546
Being nit picky a little bit here...
![checkboxes light theme example](https://user-images.githubusercontent.com/13142665/97929057-2f509780-1d1d-11eb-8710-745d1e20ffef.png)
The check mark and indeterminate/three state mark seem a little small and thin compared to the Check Box.  These icons should probably be prepared for using Fluent Icons instead of MDL 2 Icons.

[2020-11-03 23:48] mdtauk commented on #3546
What is the thinking with the Radio Button bullet changing size with the hover and pressed states?

![radio buttons example](https://user-images.githubusercontent.com/13142665/97928974-f9131800-1d1c-11eb-8b73-c4b2c25098ac.png)

None of the other WinUI controls exhibit this kind of visual behaviour, nor does it feature in FluentUI or Fast's controls.

[2020-11-04 00:00] ranjeshj commented on #3447
We need to have the settings item and footer item stick to the bottom and not scroll away to keep the behavior from changing from what we previously had. I'm not sure if two scroll viewers are the best option though. Don't we always want the settings item to be pinned to the bottom ? If footer items are in a ScrollViewer we could end up with it going out of view.

What if we took the footer and fo

[2020-11-04 00:04] sis2004 opened #3554 "Error in Create App Packages for Microsoft Store from a .wapproj"
**Describe the bug**
Creating app packages for MS store using a Packaging project with a UWP app fails with an error about Microsoft.UI.Xaml\Assets\NoiseAsset_256X256_PNG.png

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new solution.
2. Add a new UWP app
3. Add a dependency on the Nuget package Microsoft.UI.Xaml.2.5.0-prerelease.201027002
4. Add a new UWP project o

[2020-11-04 00:07] chingucoding commented on #3447
I think having the footers have row height auto is the best approach here, usually there are only a few items in the footer while the MenuItems will contain a lot of items. Of course developers could choose to do it the other way around, but I think that isn't very common if it happens at all. Trying to find a solution that works well for both cases would probably be too expensive (dynamically det

[2020-11-04 00:21] YuliKl commented on #3447
I agree with that.

And while I also agree with @ranjeshj's suggestion of giving footer menu items all the room they want, I worry about the corner cases. Can we define their row height as auto but also specify a max height? I just don't know what to set the max to...ideally something like `(window height) - NavigationViewItem.Height - PaneToggleButton.ActualHeight - BackButton.ActualHeight - Navi

[2020-11-04 00:35] jevansaks commented on #3536
I got a trace of the Alarms app running the stopwatch where I did a theme change and I saw that the stopwatch stopped updating for ~2 seconds so that showed that the UI thread was freezing in this scenario. In WPA's CPU Precise view I see no activity for 2 seconds:

![image](https://user-images.githubusercontent.com/20667023/98054078-eb2dc780-1dee-11eb-9e39-05810435b77f.png)

So I look in there fo

[2020-11-04 00:41] ranjeshj commented on #3447
we could set a min height on the menu items (at least one item height) so that it doesn't just disappear if there are too many footer items. @YuliKl  If we had lots of menu items and lots of footer items, how much space should each get ? I'm wondering if there is a simpler way to achieve the calculation you have above. If we set a max height on the footer items, we would end up clipping once it go

[2020-11-04 00:44] jevansaks commented on #3536
Oh ... hmm ... so it's because we're switching AcrylicBrush instances between Light and Dark theme which is causing the OnConnected call to be made and the AcrylicBrush needs to discover that state from scratch. But I still think we can probably watch for and cache the IsFullScreenMode flag in MaterialHelper instead of calling it each time an AcrylicBrush gets connected for the first time.

[2020-11-04 01:04] YuliKl commented on #3447
Right. I think footer menu items need to be in a scroll view to prevent clipping from happening. Hopefully we can make their max height tall enough that most of the time (assuming a small number of footer items) the scroll bar would not show.

Let's stipulate that footer menu items are allowed to get all the space they need up to a certain max height. Main menu items will get the rest. I suspect t

[2020-11-04 01:54] Jaiganeshkumaran commented on #3546
I think the underline should be removed for both with a clean look but hovering could reveal the underline for clearness.

[2020-11-04 01:56] mdtauk commented on #3546
Underline on hover for the Hyperlink control sounds good to me, but not for the HyperlinkButton as that would look odd alongside regular Buttons

[2020-11-04 01:59] Jaiganeshkumaran commented on #3546
@mdtauk A regular user will not notice the difference so both should have the same behavior

[2020-11-04 01:59] mdtauk commented on #3546
Not sure I agree, but its a fair comment to make

[2020-11-04 02:24] Jaiganeshkumaran commented on #3546
@YuliKl Will these buttons still have optional reveal effect or did you remove that to be consistent with the web?

[2020-11-04 02:32] Jaiganeshkumaran commented on #3546
@YuliKl These buttons don't have a clear distinction between the part background

[2020-11-04 02:44] Jaiganeshkumaran commented on #242
@chigy Please don't remove this. It may not have a place in the current design language however combining with reveal makes it better so it could be an optional thing. Also, the issues that you mention can be fixed like text scaling instead. Please don't do this because the web and other platforms don't have it. I'm worried that Fluent is becoming more material day by day. You first removed Acryli

[2020-11-04 03:21] Poopooracoocoo commented on #242
The square/tile aesthetic is still unique as both Google and Apple have very round elements. There are some elements in some new designs that have a pill/stadium shape and it makes me think about unique elements in Microsoft's design. The tilt isn't one of them anymore. Office's new logo still has the angle that was consistent with the button tilt and the animation for opening apps in Windows 8. W

[2020-11-04 05:36] sylveon commented on #2683
I removed the flyout from ColorSpectrum because it was causing crashing issues in XAML islands and now it's as snappy as my Win32 implementation.

[2020-11-04 06:46] robloo commented on #2683
@michael-hawker This might explain the crash with ColorPickerButton in islands too.

[2020-11-04 08:46] Jaiganeshkumaran commented on #242
The tilt effect provides visual feedback, especially on touch devices. Please don't remove it.

[2020-11-04 13:07] chingucoding commented on #3447
How would the panefooter play into this? What if both the PaneFooter and the FooterItems request space and that would end up being too much for the whole pane? I would argue that we should do something like this, but I am not sure if it's ideal:

[code]

[2020-11-04 15:35] sis2004 commented on #3554
I have installed the latest Windows SDK 10.0.19041.0, and have confirmed that the issue is still present.

[code]

Please let me know of any workarounds to allow publishing the package asap, as we need to deploy the app to our client.

[2020-11-04 16:59] ranjeshj commented on #3447
@chingucoding If we give auto height to menu items, when it grows, it will take up as much as it can and push everything out. I think menu items should get * size (to take up remaining space).

Footer getting auto makes sense. Probably don't need a min height on Footer, since there can be no footer also in which case we don't want to take up that space.

FooterItems is the tricky one. If we did au

[2020-11-04 17:07] chingucoding commented on #3447
Good point. I think having no second scroll viewer is the best way to handle this. Two scrollviewers underneath each other would look quite odd. Putting only the main items in a scrollviewer and let the main items take whatever is left of the pane seems like a good plan to me.

[2020-11-04 18:23] dragonDScript commented on #242
I think exactly the same @Jaiganeshkumaran
The tilt effect provides visual feedback, which improves user experience. And as @Jaiganeshkumaran, especially on touch screens where you don't have a mouse and don't feel that.

[2020-11-04 20:35] chigy commented on #3546
You can ignore the look of MDL 2 icons for now. As mentioned on another comment, we are looking to update the icons so these visuals are not 100% final.

That said, our designer educated me "In general, having a glyph with comfortable negative space is a good design practice."

[2020-11-04 20:48] mdtauk commented on #3546
I agree with this.  I just feel the Checkbox example illustrated feels uncomfortable, and off balance - as if the glyph inside is being suffocated - which could also have accessibility problems with not being clear enough.

The examples from the FluentSystemIcons project, feels better, and is more easily readable. - But this is just an opinion to add to the thoughts of others.

![image](https://us

[2020-11-04 20:54] Jehoel commented on #2737
@arcadepro I'm running NVIDIA cards too, but I don't see any setting in NVIDIA's control panel named "Color range" and nothing named "Limited" or "Full RGB" - can you share a screenshot?

This is what I see:

![image](https://user-images.githubusercontent.com/1693078/98166822-e0ca0700-1e9c-11eb-9d06-4e9af1fbafe1.png)

[2020-11-04 21:02] chigy commented on #242
@Jaiganeshkumaran , @dragonDScript , @Poopooracoocoo , @Felix-Dev ,
Thank you for your comments. As someone who was part of the team that introduced tilt back in phone days as well as brought it to Windows, tilt removal is somewhat personal so I understand your feeling. So I can assure you that this decision was not made in a vacuum. That said, tilt as in today's form no longer fits within our des

[2020-11-04 22:35] FrayxRulez commented on #3536
Hi @jevansaks, thanks for looking into this!
Actually I'm not sure that AcrylicBrush is the only problem, as my app hangs as well, but it doesn't use AcrylicBrush anywhere, and I think that if there isn't any of them in the UI tree OnConnected shouldn't get invoked?

[2020-11-04 22:37] jevansaks commented on #3536
Is your app one that I can install myself? Can you share it?

[2020-11-04 23:38] mdtauk commented on #3546
Regarding the Button hover state...

![image](https://user-images.githubusercontent.com/7389110/98179170-1bac5900-1ef6-11eb-82ba-33dc432136ab.png)

At a first glance, which of these buttons is being hovered over?

I would suggest the hover state in the light mode is too subtle and becomes a usability problem.

In the Dark Theme, it may be a little easier to see, but its still very subtle.

![image

[2020-11-05 00:06] StephenLPeters commented on #3554
@sis2004 is this the same issue as #2859?

[2020-11-05 00:13] StephenLPeters commented on #3547
Hmm, I see... I think it probably makes sense to have a clear all if there is a SelectAll as well. @predavid-zz

[2020-11-05 00:18] StephenLPeters commented on #3407
@mc0re either upload it to github or attach it to a comment as a zip file.

[2020-11-05 00:43] sis2004 commented on #3554
It does look similar, but I'm not sure if this is quite the same one. I tried [the workaround](https://github.com/microsoft/microsoft-ui-xaml/issues/2859#issuecomment-659007800) by @stevenbrix, but it didn't work for the test project. I saw that he opened an internal issue for the VS team, but I don't have visibility into its status.

You should be able to reproduce it easily given the steps I pro

[2020-11-05 00:45] StephenLPeters commented on #3447
I think that the easiest way to fix this is to make the pane for the foot items maximum height be half of the navigation views height (minus the hamburger and auto suggest box). I think the way to do this is attach to the navigation view pane's size changed event and from code behind ( 👎  )set the maximum size of the pane footer items to 1/2 the actual size of the navigation view pane. This will c

[2020-11-05 00:58] YuliKl commented on #3447
I like the plan @StephenLPeters just proposed. We'll need two scroll viewers to guarantee that a user can always reach all items in the pane, no matter how short their app window is. Two distinct scroll bars isn't so bad, especially because they should not both show in a majority of use cases. But we cannot make the assumption that all footer menu items will always fit without scrolling.

Also wan

[2020-11-05 02:42] Jaiganeshkumaran commented on #242
@chigy Why? Because the Windows team is increasingly going towards using web components in their OS. Since web frameworks don't have such effects, if they remove it they can have a consistent UI with the new web stuff and they don't need to update their framework.

[2020-11-05 03:01] mdtauk commented on #242
With CSS Perspective and Perspective-Origin - the tilt effect could be replicated on the web, but its not about replicating, an effect the design team no longer wishes to use.  Also web technologies have been built into windows since Windows 98.  Those rich folder views and control panel UI was done with HTML code built into the File Explorer code.

The blending/merging/melding of WinUI Xaml contr

[2020-11-05 03:24] Jaiganeshkumaran commented on #242
@mdtauk Those web stuff ran in IE which was really lightweight. Although Chromium is better, loading it in every process multiple times like Electron causes huge performance issues.

[2020-11-05 03:59] mdtauk commented on #242
Acrylic within the browser window is being experimented with I believe.

Reveal may well be changing, so possibly in a way that can work on the web too, but @chigy would know more about that.  I made my thoughts clear in the discussion thread #1126 _Proposal: Improve reveal visual_

Electron is not a great experience, hopefully Microsoft can transition away from it to PWAs and even better React Na

[2020-11-05 06:04] ad1Dima commented on #3447
In good old times of Windows Phone there was trick for messengers: Rotate ScrollView by 180° and then rotate items back by 180°. Not sure this is good method in this case.

[2020-11-05 07:27] alexserov opened #3557 "Performance issue - Subscribing\Unsubscribing to events"
**Describe the bug**
When profiling our test application, we've seen that every event subscription takes a noticeable time.
In our case, this slows down  the application startup for about 200ms.

I made a small sample that shows the issue. I've also prepared the WPF test application so you can compare performance.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Download from t

[2020-11-05 09:55] arcadepro commented on #2737
Look in the Change Resolution menu. Scroll down. There should be 4 boxes that allow you to change Nvidia colour settings.

[2020-11-05 10:35] mc0re commented on #3407
I couldn't find the "attach" button. But now I noticed the footnote about drag-and-drop :-)
[ProcentTwoError.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5493671/ProcentTwoError.zip)

[2020-11-05 11:16] Rothanan commented on #597
Any news on this?

[2020-11-05 13:15] BorzillaR commented on #3437
@stevenbrix, I have changed my code according to your recommendations

![image](https://user-images.githubusercontent.com/23479280/98245231-ac7c4680-1f81-11eb-9ff7-a23b6bd7d227.png)

Nothing was changed. It still hangs.

[2020-11-05 14:33] Jehoel commented on #2737
@arcadepro  I tried that just now but unfortunately it did not work for me at all.

[2020-11-05 19:02] SetTrend opened #3558 "UWP: Drop ThemeResource functionality"
# Proposal: Drop ThemeResource functionality

## Summary

Currently, when referencing theme colors, UWP comes with two different flavors of resource references:

1. [`StaticResource`](https://docs.microsoft.com/windows/uwp/xaml-platform/staticresource-markup-extension)
1. [`ThemeResource`](https://docs.microsoft.com/windows/uwp/xaml-platform/themeresource-markup-extension)

... with `ThemeResource

[2020-11-05 20:13] mdtauk opened #3559 "Proposal: Update WinForms, UXTheme and WPF default control styles to match WinUI and FluentUI"
# Proposal: Update WinForms, UXTheme and WPF default control styles to match WinUI and FluentUI

## Summary
There are rumours of a visual refresh coming to Windows 10/10X on or around build 21H2 of Windows next year.
This effort will not be nearly as consistent and successful without the other major frameworks, adapting to match the fonts and stylings.

## Rationale

* Win32 GDI and WPF rendering

[2020-11-05 20:14] stevewri commented on #3559
Not a Reunion (API) issue. XAML folks own comctl and WPF as well as the WinUI/Fluent story, so transferring this to their repo.

[2020-11-05 20:15] stevewri commented on #3560
WinUI controls issue.

[2020-11-05 20:21] mdtauk commented on #3559
Really, the WinUI team own the Win32 Common Controls?

[2020-11-05 20:25] SetTrend opened #3561 "Proposal: Use vector graphics for Windows WinUI app icons"
# Proposal: Use vector graphics for Windows WinUI/UWP app icons

## Summary
The process of publishing an app to the Microsoft Store is accompanied by publishing loads of raster images to be displayed in Windows and the MS Store.

Although Visual Studio 2019 comes with a feature to generate a plethora of raster images from a vector graphics file, it would make more sense to publish just the vectori

[2020-11-05 20:26] stevewri commented on #3561
WinUI folks - this is something that would require shell work (since it's start menu et al. that need to be able to consume SVG icons). Are you better poised to drive this with shell?

[2020-11-05 21:51] FrayxRulez commented on #3536
Absolutely, here you go: https://www.microsoft.com/en-us/p/unigram-a-telegram-universal-experience/9n97zckpd60q

[2020-11-05 22:19] MarissaMatt opened #3562 "ProgressRing does not jump backward to a lower value when progress decreases"
**Describe the bug**
When the ProgressRing needs to reduce the amount of progress made, the ring does not move backwards it only moves forwards.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set ProgressRing to a value of 60.
2. Set the value to 50.
3. ProgressRing completely fills in and animates forward to the value of 50.

**Expected behavior**
ProgressRing will jump back

[2020-11-05 22:21] chingucoding commented on #3562
I think this is a duplicate of #3173, @MarissaMatt can you confirm?

[2020-11-05 22:25] MarissaMatt commented on #3562
You're correct! @ranjeshj could we assign someone to the issue that @chingucoding mentioned above? I'll close this one after the other bug is assigned. Good catch @chingucoding!

[2020-11-06 00:06] StephenLPeters commented on #3562
@chingucoding I saw you said you would like to look into the duplicate issue. Did you run into an issue with AVP that prevented the negative playback rate from working?

[2020-11-06 00:13] StephenLPeters commented on #3554
@stevenbrix Can you weigh in on this issue as well?

[2020-11-06 00:18] StephenLPeters commented on #3560
I think the way to do this is subscribe to the GettingFocus event on your control and you can use the TryCancel method on the args when you determine this shouldn't get focus. Then you can use GetNextFocusable element to find the next thing in the tab order and call SetFocus using focus type programatic (which will behave the same as the last user input for touch/mouse differences).  Pretty compli

[2020-11-06 00:32] StephenLPeters commented on #3561
I think there are 3 pieces here. One on the UWP packaging team to package SVG's as your app image, One on shell to handle displaying SVG's in the task bar and file explorer (and other places). And (potentially one on xaml to support svg's in icons which we have a proposal for here: #3323 @bschoepke fyi

[2020-11-06 00:33] StephenLPeters commented on #3561
@jevansaks could you help with looping in the right people?

[2020-11-06 00:41] StephenLPeters commented on #3407
@chrisglein and @fabiant3 I suspect this is a platform issue with MarkupExtension, not sure which team owns it.

[2020-11-06 01:15] chrisglein commented on #3407
Based on this involving a custom markup extension I'd guess team-Markup.

[2020-11-06 06:00] stmoy commented on #3543
@FrayxRulez - thank you for confirming. That is very strange indeed. I don't have any insightful workarounds offhand - this just seems like a bug to me. 🤷‍♂️

[2020-11-06 08:09] chingucoding commented on #3562
@StephenLPeters The issue is that the animation does in fact not play in reverse. When setting the playback rate to -1, instead of animating to that value, the progressring immediately jumped to that value. It would probably require some digging into the animation to figure out why a negative playback rate does not work as expected.

[2020-11-06 08:58] Berkunath opened #3563 "Frequently WinUI desktop application crashes when load content in NavigationView"
I have created the application with Navigation View contains Frame and loaded the content view inside the Frame. Frame contents are loaded another Class library. Views are loading properly but sometimes
 application crashes with below error messages.

Exception thrown at 0x759E0EA3 (KernelBase.dll) in sampleApp.exe: 0xC0000005: Access violation reading location 0xFFFFFFFF.

*Expected behavior**
Ap

[2020-11-06 09:29] TANG-Kai opened #3564 "Attached Property doesn't get updated to x:Null when property type is MenuFlyout"
**Describe the bug**
Setting an attached MenuFlyout to {x:Null} won't update the property nor will it call OnPropertyChanged. This can be worked around by setting the PropertyType to object instead.

**Steps to reproduce the bug**
1.Run the attached project [AttachedPropertyTest.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5500322/AttachedPropertyTest.zip)

2. In AttachedPropertyClass

[2020-11-06 15:53] shaheedmalik commented on #3549
Maybe with the state for the buttons "Pressed State" could be in the middle?

![image](https://user-images.githubusercontent.com/51347950/98386542-50b3cb00-201e-11eb-880f-a84d8652c290.png)

[2020-11-06 16:21] mdtauk commented on #3549
The thumb moves along with your mouse cursor when pressed down - so the position of it is not a state indication.

[2020-11-06 16:28] grokys commented on #1829
Not true - AFAICS it can estimate the height of all items based on the ones currently visible and make a guess as to what to display for any particular scroll position. In fact this is working. As I mentioned [in my comment](https://github.com/microsoft/microsoft-ui-xaml/issues/1829#issuecomment-640820784) if you remove the code that sets `m_unshiftableShift` it does work correctly for a while, un

[2020-11-06 16:32] chingucoding commented on #1829
Well it can estimate, yes agreed. But it can never know for sure, and what I noticed with the thumb drag with variable sized items is that the thumb kept jumping up and down and ending up not where the mouse cursor is, which I think is less then ideal.

[2020-11-06 16:46] grokys commented on #1829
Yeah that's unavoidable I think. Scroll anchoring fixes it for scrolling small increments, but for bit increments #435 would be required to prevent the thumb jumping.

In the meantime though, not displaying a blank list would be an improvement.

[2020-11-06 16:59] mdtauk commented on #3549
![image](https://user-images.githubusercontent.com/13142665/97934480-b3f5e280-1d2a-11eb-8a1e-2928ac984e7f.png)

I think I can see where the slightly elongated Thumb comes from.  The iOS React Native control exhibits this behaviour.

![image](https://user-images.githubusercontent.com/7389110/98393272-f4b66a00-2050-11eb-9ecc-2505101d7bac.png)

This however is slightly at odds with the other pressed

[2020-11-06 16:59] ranjeshj opened #3566 "InfoBar strings are not localized"
InfoBar is missing localized strings.

I think we need to add an entry to the loc config here - https://github.com/microsoft/microsoft-ui-xaml/blob/master/build/Localization/Settings/LocConfig.xml

We should take a look at other controls and make sure they are not missed out as well.

[2020-11-06 17:40] fabiant3 commented on #3407
@alwu-msft - please take a look when you get a chance

[2020-11-06 17:50] chingucoding commented on #3566
I would like to look into this, it seems that there are a few controls missing from that list.

[2020-11-06 18:11] JosephMart commented on #1652
@SnowyWreath running into the same issue. A hack I have found that seems to work so far is to reinstantiate `MenuFlyoutSubItem` every time you need to update it's Items.... 🤢

[2020-11-06 18:47] ranjeshj commented on #3562
Jump when going backwards is what the spec calls for.

[2020-11-06 18:53] chingucoding commented on #3562
Oh I did not know that. In that case, I updated the PR description to close both this and #3173, I am sorry about the confusion and delay caused.

[2020-11-06 19:23] mdtauk opened #3568 "Proposal: Update Focus Visual for controls"
# Proposal: Update Focus Visual for controls

## Summary
Add appropriate Corner Radius values and lightweight style resources for the default Focus Visual and Reveal Focus Visual.

## Rationale

When a Corner Radius was originally applied to the standard controls, the Focus Visual retained it's squared off design by design.  With the corner radius being increased, I think it would look better if t

[2020-11-06 19:45] mdtauk commented on #3544
![image](https://user-images.githubusercontent.com/7389110/98408076-85e50b00-2068-11eb-9c74-2caaffd1f391.png)

Looking at this image from the Xbox - the edge of the List Item has a selected indicator, rounded only on one side, and the full height of the item container.

[2020-11-06 20:48] shaheedmalik commented on #3544
It definitely should match up with Xbox.

[2020-11-06 23:45] Shadowblitz16 commented on #2024
I really think WinUI should also support native theming on Mac and Linux while still supporting custom theming.
I'm not sure about Mac users but the Linux community likes to control how their desktop looks.
They already have Gtk which I think would be a good thing to wrap into the WinUi framework

[2020-11-07 00:07] ranjeshj commented on #3563
@Berkunath could you please share a repro app ? Thanks!

[2020-11-07 00:33] #2401 closed

[2020-11-07 00:42] ranjeshj commented on #3447
The approach Stephen outlined about sounds like a good option. For the scroll into view behavior we are looking for here, setting [ScrollViewer.VerticalAnchorRatio]([url](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.scrollviewer.verticalanchorratio?view=winrt-19041)) to 1.0 might do the trick.

[2020-11-07 03:01] jevansaks commented on #3536
@FrayxRulez  I don't have a Telegram login ... is there a way to skip it and still see your main UI with the theme change animation?

[2020-11-07 12:38] zhuxb711 commented on #3373
Is there any progress in investigating this issue? Because this phenomenon is often encountered

[2020-11-07 12:50] handicraftsman commented on #2024
It is most definitely hard to do as WinUI is a style language, and underlying XAML frameworks require you to do theming yourself, while default themings are provided too.

[2020-11-07 13:28] chingucoding commented on #3558
What would happen if a library (such as WinUI 2) expects a resource to be a themeresource, but the developer has decided to make it a non theme resource? Or what about something that a library thinks is a static resources, but the developer decides to have a different value for the resource based on theme? Would the library/reference break in that case as there would be a mismatch between "Referen

[2020-11-07 13:30] #3566 closed

[2020-11-07 16:00] ad1Dima commented on #1829
ListView also works like that.

[2020-11-07 19:04] mdtauk commented on #2024
I have suggested in the past, that the project should be structured in a way that enables the community to develop a Metal Renderer for macOS and iOS - and possibly a Skia renderer for Android.

The same default Styles and Templates could be used on all platforms, or Android and macOS styled default templates and resources could be created.

[2020-11-07 20:18] mdtauk commented on #3546
I think it would be good for Buttons to use the Semibold weight as with FluentUI - this will help the more subtle buttons stand out compared to just body text

[2020-11-08 08:01] FrayxRulez commented on #3536
Currently it is possible to switch to test servers only after the first login, but if you need so, I can add a toggle to switch earlier.

[2020-11-08 10:48] ccarlo88 opened #3571 "CalendarDatePicker when selecting same date. Exception "Nullable object must have a value""
Hello,

I am having an issue on UWP with CalendarDatePicker when trying to x:Bind it to my model which uses DateTimeOffset. It throws a "Nullable object must have a value" if I select the same date which is already selected.

I could use a converter in the middle, which may solve the problem (didn't try it) but I don't see a reason on to why using it as both uses the same data type, correct?

I al

[2020-11-08 12:18] SetTrend commented on #3558
Would you mind elaborating on a particular case of your concern? Is it about ...
- [a] - themed resources,
- [b] - inheritance, or
- [c] - color scheme?

I tried, but I don't seem to be able to follow you. I cannot come up with a situation where issues may occur. Perhaps I'm missing something.

[2020-11-08 13:07] SetTrend commented on #3558
To better reflect the difference between the current `Style` semantics and the - to be introduced - themed resource semantics, I renamed `ThemedStyle` to `ThemedResource` above.

A `ThemedResource` would just be a `StaticResource` with additional properties, similar to this:

[code]

``StaticResource`` could then only reference `ConstantResource` while `ThemeResource` could only reference `ThemedR

[2020-11-08 13:56] SetTrend commented on #3558
To better tell the existing idea of a `Style` from the suggested `ThemedStyle` I renamed my suggestion above to `ThemeFaced`. The suggested **Facet** is supposed to serve as an intermediate layer between styles and resources.

A `ThemeFacet` is more or less a `StaticFacet` with more than one single value; similar to this:

[code]

(NB: I comprehend that the above are COM interfaces in the real wor

[2020-11-08 17:47] marcinsmialek commented on #2949
With .NET 5 just around the corner, when do you think this will be fixed?

[2020-11-08 19:49] chingucoding commented on #3558
Since it is probably easier, I will take your example and adjust it to illustrate the problem I see.

Take the following XAML:

[code]

Now the example above should compile, everything is a staticresource and is referenced as such. But what happens if I decide to override the resource `MyMargin` like in the example below:
[code]

Hope that helps.

[2020-11-08 20:37] FrayxRulez opened #3572 "RichEditBox: setting Link to a zero width space crashes the app"
**Describe the bug**
I have a chat application where I use a RichEditBox to compose messages. Once sent, messages including a link will generate a preview for the webpage, hence it is a common practice for users to use a zero width character as the display text for the link, to get the preview without the url being visible in the message itself.
Now the problem is: if I try to set `Link` property

[2020-11-08 20:45] MarcAnt01 commented on #3412
@StephenLPeters can you please reopen this ticket?

[2020-11-08 20:50] MarcAnt01 opened #3573 "Textbox context menu doesn't detect touch keyboard presence"
**Describe the bug**
The keyboard goes over the context menu

**Steps to reproduce the bug**
1. Add a textbox in the bottom part of the app;
2. Long press on it while focused in tablet mode or without a keyboard attached

**Expected behavior**
Firstly open the keyboard, then display the context menu in the right position (over it)

**Screenshots**

![image](https://user-images.githubusercontent.co

[2020-11-08 21:03] kmgallahan commented on #3573
Pretty sure no content appears over on-screen keyboards on any OS by design.

[2020-11-08 21:07] MarcAnt01 commented on #3573
I think long press shouldn't open the keyboard, but I was told this is intended (even if I think this behavior is very bad).

[2020-11-08 23:01] mdtauk commented on #2802
Could the [Fluent UI System Icons](https://github.com/microsoft/fluentui-system-icons) team be brought into this discussion and development effort.  They are the ones who will be providing the Icons which will replace the Segoe MDL2 Icons - and they may want to adjust their workflow to allow for the Animated states, and possibly to enable animated icon support for Android which I believe is the on

[2020-11-08 23:56] mdtauk commented on #2802
Another thing, can an animation loop in one state, before transitioning to another state and stopping?

I am thinking of a loading scenario, before transitioning to a success state.

[2020-11-09 04:39] syncsiva commented on #3517
Team: Any update on this?

[2020-11-09 06:23] Berkunath opened #3574 "WinUI Dekstop app crashes on Navigate to View from another Library"
I have created the application with Navigation View contains Frame. While try to navigate to the view from another library using Frame.Navigate method application get crash. If the view is inside the same library, Frame.Navigate works properly.

![image](https://user-images.githubusercontent.com/74045266/98506348-46453b80-2281-11eb-8c68-cb1ba4dff2a3.png)

**Steps to reproduce the bug**
1. Run the

[2020-11-09 06:55] FrayxRulez commented on #3536
Hi @jevansaks, if you update to version 5741 you can login this way:
- Click 10 times in the app version at the bottom of login screen
- Switch "Use Test DC" toggle on.
- Restart the app.
- Use +9996634567 as phone number and 33333 as security code.

[2020-11-09 06:57] Poopooracoocoo opened #3582 "pressed state is stuck when you click, drag and release on items in the navigation pane"
**Describe the bug**

Pressed state is stuck when you click, drag and release on items in the navigation pane

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open Gallery
2. Click and hold on a NavigationView item in the left pane
3. While clicking, drag outside of the window

**Expected behavior**

Pressed state is cancelled

**Actual behavior**

Pressed state persists

**Scr

[2020-11-09 09:53] Isopod opened #3575 "Xaml island: Copying text to clipboard does not work"
Copying text to the clipboard does not work inside a Xaml island. When trying to paste the copied text, nothing happens. Pasting fails both in the island itself as well as any other application. Pasting text from other applications works, however.

**Steps to reproduce the bug**
1. Download [this simple demo project](https://github.com/Isopod/xaml-bugs/tree/main/clipboard-bug) and run it
2. Enter

[2020-11-09 10:12] Isopod opened #3576 "Xaml island: Setting "RequestedTheme" results in broken theming and unreadable text when value differs from system-wide setting"
When setting the "RequestedTheme" property of an element to a value differing from the system-wide setting (e.g. `RequestedTheme='dark'`, when system setting is "light" and vice versa), parts of the UI are rendered inconsistently. For example, the window background color does not respect the local setting, instead using the value from the system-wide theme. (This particular issue can be worked aro

[2020-11-09 10:21] Isopod opened #3577 "Xaml island: ContentDialog backdrop does not resize when window is resized"
The dialog backdrop stays at its initial size even when the island window is resized while the dialog is open.

**Steps to reproduce the bug**
1. Download [demo project](https://github.com/Isopod/xaml-bugs/tree/main/dialog-bug) and run it
3. Click on the button in the middle
4. Dialog opens
5. Resize the window
6. Backdrop is not resized

**Expected behavior**
The backdrop should always cover the

[2020-11-09 11:48] harvinders opened #3578 "Question: error/warning ILT0005: Type '*' from assembly 'Windows' was not included in compilation, but was referenced in the application. There may have been a missing assembly, or a dependency on a more recent Windows SDK"
My apologies, I know this is not a pure WinUI question, however given the type of error/warning message I am seeing whilst compiling an UWP app I thought someone else might have also seen this issue. The application is built against 1903 with min target of 1803 using visual studio 2019 and WinUI preview 2.5.

I get following warning and sometimes whilst compiling these warning convert into errors

[2020-11-09 12:14] FrayxRulez commented on #3572
Same applies to a wide variety of character, including space.

[2020-11-09 12:19] SetTrend commented on #3558
Ah, I see.

Yes, it'll break, right as you'd have expected:

That's because in the latter example, you've deliberately chosen to create a new resource, a local page resource, that's overriding any external resource. So, each of the references later on the same page now references your local resource rather than the control's resource.

![Proposed style inheritance](https://user-images.githubuserco

[2020-11-09 12:31] chingucoding commented on #3558
Yes it is. However with the current styling system, I wouldn't get a compiler error because of that and would still be able to use the styles. I don't think that that kind of overriding should result in compiler errors as it makes lightweight styling more unpredictable and tedious to use. So in order to prevent those errors to happen, every library would need theme resource referencing everywhere

[2020-11-09 12:48] SetTrend commented on #3558
How can a compiler error in the case you've described lead to confusion? In the code itself, a `ThemeResource` has been created and addressed. I don't see the confusion.

It's just like defining a certain type in `<DataTemplate x:DataType="models:Title">` and then using a invalid model member in `Text="{x:Bind Id}"`.

[2020-11-09 13:24] andrii-pukhkalo commented on #1658
@adambarlow, is there progress in the availability of WebView2 and WinUI in general for the **Xbox** platform? Can we expect a Prerelease this year that will include this?

[2020-11-09 13:29] chingucoding commented on #3558
That assumes that you actually have the source code of the styles. Sure, you can dig them up, but you are heavily relying on the fact that the compiler gives a reasonable response, which is not often the case looking at errors like [this](https://stackoverflow.com/questions/32231928/generic-xaml-xaml-compilation-gives-error-wmc0610-xbf-generation-error-code-0x3) and [this](https://stackoverflow.co

[2020-11-09 13:33] FrayxRulez commented on #2623
So now that I moved StackLayout creation in App.xaml.cs I started to see a lot of this errors in AppCenter:
Windows.UI.Xaml.Markup.XamlParseException: Cannot create instance of type 'Microsoft.UI.Xaml.Controls.StackLayout'

[2020-11-09 13:37] hansmbakker commented on #1658
same question for Windows IoT Core

[2020-11-09 14:19] zhuxb711 opened #3579 "One or more arguments are invalid"
**Describe the bug**
Due to unknown reasons, the UI framework throws this exception and the source cannot be traced

**Steps to reproduce the bug**
1. Unknown

**StackTrace**
[StackTrace.txt](https://github.com/microsoft/microsoft-ui-xaml/files/5511026/StackTrace.txt)

**Version Info**
2.5.0-prerelease.201027002

NuGet package version:
[Microsoft.UI.Xaml.2.5.0-prerelease.201027002]

Windows app ty

[2020-11-09 15:16] gascardi commented on #2583
@kmahone The app I work on also logs crashes in several OS Versions (10.0.17763, 10.0.18363, 10.0.19041, and more) with no other details and no local repro.

| errorCode | exceptionType | exceptionMessage | exceptionStackTrace |
| --- |  --- |  --- |  --- |
| -2144665590 | XamlParseException | The text associated with this error code could not be found. Cannot create instance of type 'Microsoft.UI

[2020-11-09 16:15] LadislavPataki opened #3580 "Hierarchical NaviagationView doesn't work properly using Xaml Islands"
**Describe the bug**

I have a WPF application which is using Xaml Islands to host winui hierarchical NavigationView (see code sample below). The issue is that only the first item of the submenu is displayed. I've also checked  the control in an UWP app and it worked fine.

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run the application.
2. Expand one of the expanda

[2020-11-09 16:20] #3173 closed

[2020-11-09 16:20] #3562 closed

[2020-11-09 17:43] gabbybilka opened #3581 "InfoBar icon theming incorrect"
**Describe the bug**
![infobar-icon](https://user-images.githubusercontent.com/20007011/98576558-8dc2cc00-226f-11eb-98f6-4d8769a56053.png)

The icon foreground color does not react to theme change, it should be white instead of black.

**Reproduce the bug**
The XCG generated with the 2.5 prerelease.201027002 package at user/gabilka/InfoBar in the XCG repo shows this bug on theme change from light

[2020-11-09 17:49] mdtauk commented on #3581
Switch to using ThemeResource Brushes

[2020-11-09 18:35] anawishnoff commented on #375
Hey @ad1Dima, now that the implementation for this feature is complete (a huge thank you to you!), have you tried out the feature and added it to an app yet? If so it would be great to hear more about your scenario and any more feedback you might have. Let me know! 😊

[2020-11-09 18:55] kmgallahan commented on #3582
Dupe of #2860 & already resolved in one of the WinUI 2.5 Pre-releases.

[2020-11-09 19:05] YuliKl commented on #3582
I was going to call this a dupe of #2966 :)

[2020-11-09 19:28] ad1Dima commented on #375
I used it for almost year since my first PR )

hope #3101 will be on the way soon. It'll keep my code cleaner

![image](https://user-images.githubusercontent.com/3244664/98586856-ed66b900-22fb-11eb-9246-89f3e8804037.png)

[2020-11-09 19:42] AathifMahir opened #3583 "Proposal: Consistent Acrylic"
Love to see Acrylic applying across all the apps instead of selected apps that uses acrylic theme Resource,

for example:
Whenever user enables acrylic or transparency effect windows like below image, All the apps should follow a kind of acrylic enabled UI and UX,
![Screenshot 2020-11-10 010101](https://user-images.githubusercontent.com/17165402/98587589-59dbbb00-22f0-11eb-8702-5106b4f58380.png)

[2020-11-09 19:54] mrlacey opened #3584 "Question: What are the plans for supporting testing of projects using WinUI3?"
I'm interested to know the broad plans for testing support of apps built using WinUI3. This doesn't appear to have been documented or discussed publicly previously.

Specific questions to help prompt a broad answer:

- Will there be a test project option available specifically tailored to WinUI3 projects? (Currently an MSTest project--targetting either .NET Framework or .NET Core--cannot reference

[2020-11-09 21:26] jevansaks commented on #3536
Thanks, @FrayxRulez ! Actually the background of NavigationView's pane is Acrylic. I confirmed that it's there by setting a breakpoint on MIcrosoft.UI.Xaml!AcrylicBrush::OnConnected and seeing that it fires on theme change, so I suspect my fix will help you too.

[2020-11-09 22:46] #2104 closed

[2020-11-09 22:47] #2472 closed

[2020-11-09 22:47] #3269 closed

[2020-11-09 22:47] #3418 closed

[2020-11-10 00:08] ranjeshj commented on #3580
This looks like a dup of #2102

[2020-11-10 00:08] #3580 closed

[2020-11-10 00:09] ranjeshj commented on #3579
can you please attach a repro app ?

[2020-11-10 00:15] ranjeshj commented on #3577
Possibly related to #3307

[2020-11-10 00:17] ranjeshj commented on #3582
@Poopooracoocoo can you please reopen this if you see this issue with the latest WinUI 2.5 prerelease ?

[2020-11-10 00:17] #3582 closed

[2020-11-10 02:31] Poopooracoocoo commented on #3582
@stmoy xaml controls gallery really needs an update

[2020-11-10 02:42] zhuxb711 commented on #3579
It is temporarily unclear what UI controls cause this problem. But it may be related to double-clicking the ListView/GridView that enables drag and drop.

[2020-11-10 03:16] srdjanjovcic commented on #3554
I looked from VS point of view:

- It reproduces easily with plain WAP project + UWP using UI.Xaml 2.5.0
- It does not repro with 2.4.3
- It is caused because that PNG file arrives to WAP payload both through CopyLocal mechanism (as an asset of NuGet package) and as a file referenced from Microsoft.UI.Xaml.pri, which is not part of runtime payload (it was not in 2.4.3)

[2020-11-10 04:12] Poopooracoocoo commented on #3544
god the listview updates suck. imagine using file explorer with selected states looking like that. y'all need jeebus

[2020-11-10 04:15] Poopooracoocoo commented on #3549
The iOS-ey design makes sense given their rationale (my emphasis)

[2020-11-10 04:26] Poopooracoocoo commented on #3583
Also see: #2236 #761

but to me the more pressing issue is that shadows are bundled with that transparency effects options. it's terrible but the WinUI team just said that it's not their problem to go the FBH. You cannot get a consistent experience.

It doesn't help that acrylic feels like a hacky implementation when you look at when the start menu or action centre opens, or at the taskbar when yo

[2020-11-10 04:50] YuliKl opened #3585 "NumberBox up/down arrows default to being disabled"
**Describe the bug**

When using NuberBox, its increment/decrement buttons are showing in their disabled state by default.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add NumberBox to a sample app `<muxc:NumberBox SpinButtonPlacementMode="Inline" />`
2. Run the app
3. Note that the buttons are disabled

**Expected behavior**

Buttons should be enabled by default, and only

[2020-11-10 05:30] mdtauk commented on #3583
Acrylic 2.0 when WinUI 3.0 is done, should get a serious look at.

- Desktop PCs with AC Power and decent graphics cards - should have an option to use Acrylic for Active and Inactive Apps;

- The next level down should use it for Active Apps only - either a user choice, or based on hardware specs.

- Then there should be a Fauxcrylic which only shows through the desktop wallpaper with the Blurs,

[2020-11-10 05:54] mdtauk commented on #913
Here is another example of an Information Bar/Box/Card

![image](https://user-images.githubusercontent.com/7389110/98633390-37aa6300-2319-11eb-96f2-c63f820adfbb.png)

[2020-11-10 07:00] #3380 closed

[2020-11-10 08:25] FrayxRulez commented on #3536
... I'm sorry, being it collapsed most of the time I completely forgot about it.
Thank you for investigating, I hope to see an improvement indeed!

[2020-11-10 08:45] alexdi220 opened #3586 "The FocusManager.TryMoveFocusAsync throws exception"
**Describe the bug**
Hi,
I've tried to use the FocusManager.TryMoveFocusAsync method and got an exception:

**Steps to reproduce the bug**
MainWindow ctor:
[code]

**Expected behavior**
The exception shouldn't throw or hide the TryMoveFocusAsync method

**Screenshots**

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0.0-preview2.200713.0]

Windows app type:
| UWP              | Win32

[2020-11-10 08:51] alexdi220 opened #3587 "The FocusManager.TryMoveFocus doesn't move focus"
**Describe the bug**
Hi,
When I use the FocusManager.TryMoveFocus method to move focus to the next element (TextBox) it always returns false and the focus doesn't move. What I do wrong and how I can move focus to the next?

**Steps to reproduce the bug**
MainWindow.xaml
[code]
MainWindow.xaml.cs
[code]

**Expected behavior**
After FocusManager.TryMoveFocus the focused element should be the TextBox

[2020-11-10 09:49] LadislavPataki commented on #3580
@ranjeshj Thanks for the response. I thought it was fixed in some of the previous releases because this [#2102](https://github.com/microsoft/microsoft-ui-xaml/issues/2102) was about the menu items not about the submenu items. Non collapsible menu items works fine in my case (all are shown not just the first one).

Is there possibility to somehow overcome this issue? Is it going to be fixed in the

[2020-11-10 11:51] Jaiganeshkumaran opened #3588 "Proposal: Allow me to disable Ctrl+Tab in RichEditBox"
# Proposal: Allow me to disable Ctrl+Tab in RichEditBox
In my app, I use Ctrl+Tab for switching between different pages that are running in a tab like a pattern but I noticed that I was not able to disable it inside Ctrl+Tab. I tried setting handled = true for a keyboard accelerator but it's not firing since RichEditBox consumes the event and handles it. Please provide a way to disable that.

## R

[2020-11-10 11:57] Jaiganeshkumaran commented on #3583
Microsoft has started to use more web stuff which can't implement background desktop acrylic so this should not be done for a consistent experience with web-based stuff. From Microsoft: XAML controls are inconsistent with how web and mobile apps are evolving. Obviously web and mobile don't have background acrylic so WinUI shouldn't have it as well since their new policy is to copy mobile and web p

[2020-11-10 12:23] Jaiganeshkumaran commented on #3588
It works if you intercept the CoreWindow AcceleratorKeyActivated event but I want MS to provide an easy way to disable it from RichEditBox.

[2020-11-10 14:06] mdtauk commented on #3583
Most of Acrylic is possible with CSS https://stackoverflow.com/questions/44522299/css-only-acrylic-material-from-fluent-design-system

However access to the image behind the Window is the thing Microsoft says they need more time to lift out of the OS and into WinUI 3.X

[2020-11-10 14:14] Jaiganeshkumaran commented on #3583
@mdtauk In-app acrylic will be there in WinUI 3 as well and can be implemented via CSS. However, I'm talking about desktop background acrylic which will require more time for WinUI 3 and for the web it's not that easy since the browser will not allow access. I wish Fluent UI does acrylic for in-page elements like collapsed navigation view and flyout menus.

[2020-11-10 14:16] BorzillaR opened #3589 "Question: How to get a string resource from code?"
I try to use UWP approach to get a resource identified by resource id.

https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.resources.resourceloader?view=winrt-19041#examples

But I got the following exception.

![image](https://user-images.githubusercontent.com/23479280/98683322-f1cfb800-2375-11eb-850f-1d6af79db04f.png)

What a true way to get the string resource by resource id in W

[2020-11-10 14:19] mdtauk commented on #3583
The browser doesn't have to provide it generally.  They could support it with a WebView within a WinUI app, like the Microsoft Store - or create a special window type for Edge to use with PWAs.  React Native apps can already use Acrylic Brushes in WinUI 2 - like the ToDo app, and the Calendar preview app AFAIK.

When WinUI 3 can use it, no reason to think why other apps and browsers couldn't use i

[2020-11-10 14:28] Jaiganeshkumaran commented on #3583
@mdtauk Then why doesn't Fluent UI show acrylic flyouts like what WinUI 3 does? MS Edge is a native app that doesn't use acrylic and Microsoft has already said this is the new Fluent and they will not add acrylic. Fluent UI could add in page acrylic that doesn't need desktop access but they will not since acrylic is not Fluent anymore. They will not and should not accept this proposal since Acryli

[2020-11-10 14:31] mdtauk commented on #3583
The WinUI team is still using Acrylic for menus and flyouts.  Edge is a Win32 app as it shares a codebase with Chromium.  So maybe when WinUI 3 is out and stable, Edge may use some of those features in it's UI.

[2020-11-10 14:33] Jaiganeshkumaran commented on #3583
@mdtauk What about the web? Their new mantra is to keep it consistent with Fluent UI. Fluent UI should have acrylic for popup menus and flyouts to be consistent with Windows native.

[2020-11-10 14:44] mdtauk commented on #3583
Cross Platform UI is 20% identical and 80% native.  The control designs are being updated and refreshed.  Older design elements from Windows Phone and Windows 8 are being removed or replaced.  Acrylic is not being removed from Windows, it just wont support HostBackdrop Acyrlic with WinUI 3.0 at launch.

On macOS they will support Vibrancy, on Windows will support Acrylic, and on the Web (at least

[2020-11-10 14:45] Jaiganeshkumaran commented on #3583
@mdtauk I'm taking about Fluent UI. It has no acrylic, no reveal nothing from Fluent.

[2020-11-10 14:59] mdtauk commented on #3583
Doesn't mean it wont have it in the future.  FluentUI is focusing on Office add-ins and business like web UIs.  It uses React, but React Native for Windows, will use WinUI.

[2020-11-10 15:22] Isopod opened #3590 "Xaml island: Having more than one island kills Acrylic effect"
When you have more than one Xaml island in an application, the Acrylic effect stops working. Even when you remove the additional islands later, the functionality does not return.

**Steps to reproduce the bug**
1. Download [this demo project](https://github.com/Isopod/xaml-bugs/tree/main/acrylic-bug) and run it
2. Click the button to spawn an additional window with a xaml island
3. Observe how the

[2020-11-10 15:30] anawishnoff commented on #375
@ad1Dima  Awesome, thanks so much! Glad it's been working for you.

[2020-11-10 18:02] crutkas opened #3591 "Xaml Islands, ms-settings with WPF app as admin mode won't launch"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an application with a XAML island v1
2. Have a Hyperlink to ms-settings:colors
3. launch application under admin

**Expected behavior**

Colors launches, with a pure WPF implementation, this works as expected

**Screenshots**

![image](https://user-images.githubusercontent.com/1462282/98712735-84069a80

[2020-11-10 21:53] jevansaks commented on #3536
I confirmed that my change fixes the issue for Alarms so can you try out the latest CI build? Here's the nupkg from the CI: https://dev.azure.com/ms/_apis/resources/Containers/7941289/drop?itemPath=drop%2FMicrosoft.UI.Xaml.2.5.0-ci.201109002.nupkg

[2020-11-11 00:12] ranjeshj commented on #3591
@chrisglein @MikeHillberg  I remember there was some issue with launching from hyperlink inside a XAML island, but fail to recollect it.

[2020-11-11 00:14] ranjeshj commented on #3590
@codendone @DmitriyKomin any ideas what might be happening here ?

[2020-11-11 00:15] ranjeshj commented on #3589
@stevenbrix @alwu-msft as FYI

[2020-11-11 00:20] ranjeshj commented on #3585
@SavoySchuler [Value seems to default to quiet_nan](https://github.com/microsoft/microsoft-ui-xaml/blob/9b264ff73eeea18f6e13abe0b8ad9395b1c0138b/dev/NumberBox/NumberBox.idl#L43) which is probably why we are seeing this behavior. Should the default be something else ?

[2020-11-11 00:21] ranjeshj commented on #3580
Unfortunately this is a platform bug which will have to be fixed in WinUI3 codebase.

[2020-11-11 00:27] ranjeshj commented on #3564
Is the default already null  in which case setting it to x:Null is a no-op ?

[2020-11-11 00:27] DmitriyKomin commented on #3590
Unfortunately, this is a known limitation – sharing of AcrylicBrush / RevealBrush across islands is not supported (additional work is required that we have not undertaken). IIRC, the behavior in that case is: usage in 1st island is correct acrylic, in other islands it will always be in fallback.

As a workaround you should be able to duplicate the brush instance for each island and avoid cross-isl

[2020-11-11 01:01] alwu-msft commented on #3589
@BorzillaR This is a known issue (string resources not being added to the expected resource map) with Preview 2 that will be addressed in Preview 3. In the meantime, you may be able to workaround this by calling [`GetForCurrentView()`](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.resources.resourceloader.getforcurrentview?view=winrt-19041#Windows_ApplicationModel_Resources_Res

[2020-11-11 03:28] ptorr-msft commented on #1756
I have the same problem -- I cannot get a container for a node if it's not already visible... at which point, `BringIntoView` is meaningless because it's already in view. For example, past this into a default C# project and run it...

[code]

[2020-11-11 05:46] sylveon commented on #3577
Can confirm as well:

![image](https://user-images.githubusercontent.com/6440374/98773660-62e38f80-23b7-11eb-81c6-f66466759f4c.png)

[2020-11-11 06:32] Isopod commented on #3590
Actually, as you can see in the video, both islands start to use fallback as soon as the second island is opened, and this is permanent, i.e. continues even after the second island has been closed again.

How do I do that?

[2020-11-11 07:19] huoyaoyuan commented on #2917
It's time for Preview 3. With the release of VS16.8, currently there are no version of VS can work with WinUI desktop.

[2020-11-11 08:48] FrayxRulez commented on #3536
It seems that I'm not authorized to access the page

[2020-11-11 09:09] chingucoding commented on #2917
@huoyaoyuan You might want to check out next weeks App Delopment Community Standup in which they will talk about WinUI 3 Preview 3! Link: https://www.youtube.com/watch?v=aerGF9kqMJY&feature=youtu.be

[2020-11-11 10:01] FrayxRulez commented on #3536
Actually, I just tried and I see absolutely no difference using debug configuration :(

[2020-11-11 12:02] SetTrend commented on #3558
There is already strong IntelliSense support for data binding (see my previous comment). Plus, there's already strong IntelliSense support for referencing resources. It should be a snap to have Visual Studio filter the list of items presented by IntelliSense after typing `StaticResource` or `ThemeResource` according to facet type.

The same is true for reporting errors in Visual Studio. It should

[2020-11-11 13:30] chingucoding commented on #3558
Right I see. You might actually be able to create custom resource dictionaries and types yourself so you don't have to rely on the framework implementing this since this proposal will definitely take some time if it gets accepted.

Ok, if we want to limit what reference type can reference, that behavior makes sense.

I am not sure how good of an idea that would be given that that would require a t

[2020-11-11 13:45] zh4ui commented on #911
Regarding **Define a ContextFlyout on a custom ListViewItem style**, it's also possible to get the DataModel like this:

[code]
From [here](https://github.com/microsoft/Windows-universal-samples/blob/master/Samples/XamlContextMenu/cs/Scenario2.xaml.cs).

[2020-11-11 14:20] chingucoding commented on #3515
I would like to look into this.

[2020-11-11 14:55] SetTrend commented on #3558
Ah, yeah, right. I think I got carried away :blush:

[2020-11-11 15:06] ranjeshj commented on #3447
@chingucoding would you be interested in contributing a fix for this ?

[2020-11-11 15:19] chingucoding commented on #3447
Sure, feel free to assign the issue to me.

[2020-11-11 16:00] BorzillaR commented on #3589
@alwu-msft, thank you!

[2020-11-11 18:37] chingucoding commented on #3447
To clarify, the Settings item will stay a part of the FooterMenuItems? During the API review for that (https://github.com/microsoft/microsoft-ui-xaml-specs/pull/101) it seemed more natural to have the settings item be a distinct item and not be part of the FooterMenuItems while also being seperated from FooterMenuItems through the PaneFooter. @MikeHillberg @anawishnoff FYI.

[2020-11-11 18:40] anawishnoff commented on #3447
@chingucoding Correct, we ended up **not** changing this after the API review. As was the case previously, the settings item is technically a part of FooterMenuItems, but it doesn't get added to that list until the app runs. Thanks Marcel!

[2020-11-11 18:42] chingucoding commented on #3447
Alright, thanks for the clarification Ana!

[2020-11-11 20:27] SetTrend commented on #3558
### The proposal also boils down to another aspect (or, advantage):

If `StaticFacet` and `ThemeFacet` were introduced, the current differenciation between static and theme resources may be dropped. I.e. no [`StaticResource`](https://docs.microsoft.com/windows/uwp/xaml-platform/staticresource-markup-extension) **vs.** [`ThemeResource`](https://docs.microsoft.com/windows/uwp/xaml-platform/themereso

[2020-11-11 20:57] codendone commented on #3484
I think what you're seeing is the expected behavior. The problem is that GetFocusedElement() becomes ambiguous if there is more than one Window, since we don't know which window you want the focused element from. The solution is to pass in the XamlRoot for the desired window, and in this example you can use textBox.XamlRoot if the textBox is in the window you're interested in.

[2020-11-11 21:11] eduardoaguacate opened #3595 "Keyboard focus is moving to the last list item in navigation views and items repeater."
**Describe the bug**
When tab'ing through an items repeater, or a navigation view (which uses one): after the tab focus returns to the items repeater (upwards or back tab direction), the focus will go to the last element of an items repeater.

**Steps to reproduce the bug**
1. Tab through an items repeater
2. Tab to the next element that's not an items repeater
3. Shift + Tab. Notice how that will

[2020-11-11 21:15] maschgit opened #3596 "Possible Failure of Target Platform detection?"
**Describe the bug**

After update of Visual Studio to version 16.8.0 I get the following failure:
.nuget\packages\microsoft.ui.xaml\2.4.3\buildTransitive\Common.targets(10,5): error : Microsoft.UI.Xaml nuget package requires TargetPlatformMinVersion >= 10.0.15063.0 (current project is -1)
No idea why the microsoft.ui.xaml detect 10.0.15063.0, because I have only installed the Windows 10 SDK 10.0.

[2020-11-11 22:10] duke7553 opened #3597 "TabView: Memory usage does not go down after opening/closing tabs"
It appears that there are invisible items in the WinUI TabView visual tree which stick around even after they are removed. This behavior isn't desirable because users could have many TabViewItems with memory-intensive pages as their content.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a project where TabViewItems have a ContentTemplate property of a Frame with somew

[2020-11-11 22:18] mdtauk commented on #3558
I find great interest at anyone who can propose making changes at a core level to make the platform more stable, reliable, and easier to implement and use.

As someone on the design side, I would just like to ask @chingucoding how any changes to styling and theming would work with compared to the current Xaml way, compared to something like CSS?

[2020-11-11 22:24] chingucoding commented on #3558
I am not sure if I understand your question correctly, are you asking how XAML theming is different to CSS theming from a designer standpoint? The answer to this depends on how involved the designer is in the actual implementation, e.g. if the designer is only involved in creating mockups and leaving the rest to developers or if they are also involved in the actual coding so to speak.

[2020-11-11 22:51] stevenbrix commented on #3502
@robloo can you try adding this in your control as a workaround?

[code]

[2020-11-11 23:13] twhall-umich commented on #1571
@kmahone  +1 for making MIDL, MDMERGE, CPPWINRT, and the "Xaml Compiler" usable from CMake.  This is something I have been struggling with for some time: there is very little documentation for using any of those tools directly in a command-line, batch file, or CMake script.  I think I've finally got a handle on most of them, except for the "Xaml Compiler" -- which I have not been able even to loca

[2020-11-11 23:17] chrisglein commented on #3591
Believe that the launch APIs may have assumptions about package identity, so Hyperlink may have issues outside of that context?
We have an existing issue report on this.
Duplicate of #2357.

[2020-11-11 23:17] #3591 closed

[2020-11-11 23:18] chrisglein commented on #2357
Adding information from duplicate of linked PowerToys issue: https://github.com/microsoft/PowerToys/issues/7819

[2020-11-11 23:26] chrisglein commented on #3564
This `default(MenuFlyout)` should resolve to null, not an empty `MenuFlyout` type, correct?
@TANG-Kai what default value are you expecting here? Does it work if you change between other non-null values?

[2020-11-11 23:31] chrisglein commented on #3557
@alexserov WinUI3 is more similar to UWP XAML than WPF. Are you seeing similar behavior in an app built off of inbox XAML?
@Austin-Lamb Here someone is looking at performance of subscribe/unsubscribe of events of WinUI3. Is this something you or @bartekk8 have looked into?

[2020-11-12 00:04] mdtauk commented on #3558
I am wondering how this proposal would change XAML styling.  Does it move things closer to CSS which is a well known standard, or does it move XAML further away?

[2020-11-12 00:37] robloo commented on #3502
@stevenbrix Thanks for that trick, I never knew that property existed allowing you to set the default style location. Always relied on the magic generic.xaml being found behind the scenes. Regardless, this did "fix" the issue or at least provide a work-around. I guess this is one of those things that will just disappear with WinUI 3.0 so the work-around is probably enough for now.

[2020-11-12 00:42] SetTrend commented on #3558
Good quesion, @mdtauk!

I suppose it's moving things closed to CSS. Actually, when I was hitting edges in UWP so far I always thought to myself: "Why isn't referencing rather like cascading in CSS."

[2020-11-12 01:03] crutkas commented on #2357
Is this one related to running under admin?

[2020-11-12 01:05] Fabi commented on #2917
In addition to that it got support for Preview as stated in the release post. Still waiting for it tho...

[2020-11-12 01:07] jevansaks commented on #3536
Thanks for trying it! Would you be able to share out (just attached to the comment in github) the appx for me to side-load? Or if you don't want to share broadly, you can email me or DM me on Twitter.

[2020-11-12 01:16] mdtauk commented on #3558
Thank you for the clarification.  The code snippits you shared seem quite sensible, and thankfully not too verbose.

I know the WinUI design teams are planning to move the workings into using Design Tokens, and there is a pipeline being developed to output XAML or CSS etc from a single design source (a plugin for Figma)

I wonder if there is some synchronisation that could happen regarding Themes

[2020-11-12 04:14] DHowett commented on #2357
No.

[2020-11-12 04:45] jevansaks commented on #2357
I suspect this is because LaunchUriAsync and ShellExecute are not the same. I don't see "file:" as one of the schemes in https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-default-app (though "file" is in the list of reserved schemes). I also see that there's "LaunchFileAsync" that got added so presumably we are supposed to call that for file paths ... though it's weird that file sc

[2020-11-12 06:16] alexserov commented on #3557
Hello @chrisglein , I've just measured my tests for UWP XAML and WinUI3 (Preview2) for UWP, and here are the results:

Case # | Description | UWP XAML | WinUI for UWP
-- | -- | -- | --
1 | Subscribe to 1 button event with 1 method 1000 times | 2 | 2
2 | Subscribe and Unsubscribe to 1 button event with 1 method 1000 times | 27 | 23
3 | Subscribe to 1 button event with 1000 methods 1 time | 44834 |

[2020-11-12 06:40] alexdi220 commented on #3484
Thank you for your answer. I already use the GetFocusedElement(XamlRoot) method. But in what cases the GetFocusedElement() returns not null? Otherwise, it seems useless. Also, the WPF has only one method with a focus scope argument and it looks more clear.

[2020-11-12 07:06] Berkunath opened #3598 "WinUI Desktop app crashes on scroll NavigationView"
I have created application with NavigationView with MenuItemsSource. Navigation View have scrollviewer due to insufficient space. While scrolling NavigationView items, application get crash.  Adding NavigationViewItems not throws exception on scrolling but Application crashes only when items populated through MenuItemsSource.

**Steps to reproduce the bug**
1. Run the application
2. Scroll down to

[2020-11-12 10:09] FrayxRulez commented on #3536
Here you go: https://www.dropbox.com/s/agvfhprkz8m8h1n/Unigram_7.2.5764.0_x64.appxbundle?dl=1

[2020-11-12 13:40] Cfun1 opened #3600 "Proposal: Visual Studio xaml editor is not showing color inline preview when using AppThemeBinding in Xamarin"
Related link to Xamarin.Forms repo: https://github.com/xamarin/Xamarin.Forms/pull/11012
[Themes for Xamarin.Forms](https://devblogs.microsoft.com/xamarin/app-themes-xamarin-forms/) enables to fast implementation of dark/light themes.

when using for example:
[code]
 ## Summary
Visual studio should display an incline color preview near beside `Dark=#2196F3`" and `Light=#2196F3` the same way it did

[2020-11-12 13:42] zed220 opened #3601 "Compositor Lines have a strange color with StrokeThickness=1"
**Describe the bug**
Compositor Lines have strange color and stroke thickness with StrokeThickness=1. Also, lines are blurry with odd StrokeThickness.
I have created two crossed lines with StrokeThickness=1 and the crossed pixel has the wrong color (lines at all have the wrong color too). I have attached an image.

**Steps to reproduce the bug**
Create two crossed lines via Compositor with StrokeT

[2020-11-12 18:04] chrisglein commented on #3574
Reminding me of #3371, which also was an issue doing things cross-library with WinUI3 preview.

[2020-11-12 18:57] ranjeshj commented on #3581
Looks like we are already using theme brushes for the icon.

[2020-11-12 19:58] ejserna commented on #3595
A ListView, in comparison, will always focus the first element of the list, independent of whether it's forward or back tab navigation.

[2020-11-12 20:24] gmurray81 commented on #3310
There a good work around for this? Exceedingly difficult to make anything interesting work when I'm constantly hitting this in different scenarios.

[2020-11-12 20:45] gabbybilka commented on #3464
Thanks @mdtauk and @chingucoding for your suggestions so far! I've added the ideas in the general pip UI needs table.

Since opening this proposal we have decided that instead of adding a Pips DisplayMode to the PagerControl to instead create a new PipsPager control altogether. The rationale for this split is included in the initial issue text and below:

We've also opened up a PR for the PipsPage

[2020-11-12 21:10] mdtauk commented on #3464
This is a fair decision, as it has a much simpler set of behaviours.

In the examples I posted before, I think the ability to display some text with each Page Item / Pip Item, whatever you call them.

For a step counter mode, you would need an additional state, so Completed, Current, Still to Come.

Pips does kind of pigeon hole the visual style of the glyph indicator.  SimplePager, or PageIndicat

[2020-11-12 21:11] sis2004 commented on #3554
@StephenLPeters and @stevenbrix is there any update on this?

[2020-11-12 23:48] gabbybilka commented on #3464
I'll add this to the table however I'm unsure how this would tie into the simplicity of only assigning an indicator style on whether the page is selected or unselected. Each page would then have a unique text value tied to it. How would this adapt if only some pages had text associated? If the number of pages changes, would the text also change?

I also like IndicatorPager however I'm unsure if th

[2020-11-13 00:05] mdtauk commented on #3464
I wonder if there is any use in having a **ShowLabels** option, and when the Labels are turned off, the text is displayed as a tooltip?

----

Hmm, I think looking at the naming used by other platforms may help in deciding on the right name.

Speaking of the clickability, should there be an option to have the Pips visual only, without the ability to click/navigate?

----

Hyperlinks have a Visited

[2020-11-13 00:33] beatnikthedan commented on #1334
how would I do this with SelectedItemsChanged? i'm trying to keep track of selected items. right now I'm doing it from a Tapped event on the treeview and have to loop through the entire treeview and figure out what is checked in my treeview and what is checked in my model that the nodes are bound to. if I bind to IsSelected it only works for single selection not multiple selection

[2020-11-13 00:34] beatnikthedan commented on #322
any word on this?

[2020-11-13 00:37] Felix-Dev commented on #322
@beatnikthedan The API is currently in preview (available in WinUI preview versions like 2.5 previews). API spec (draft) [here](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/80).

[2020-11-13 00:44] codendone commented on #2636
This has now been fixed, and will be in the next WinUI3 preview.

[2020-11-13 00:44] #2636 closed

[2020-11-13 00:46] codendone commented on #2651
This issue has been fixed, and will be part of the next WinUI3 preview.

[2020-11-13 00:46] #2651 closed

[2020-11-13 01:01] robloo commented on #2380
I've noticed a lot of other platforms have an actual analog clock representation for time pickers. This is useful to set times faster in most cases. This control would benefit from that idea as well. It might also be necessary to split this out and, similar to CalendarDatePicker, have a ClockTimePicker control.

[2020-11-13 01:07] robloo opened #3605 "Proposal: New ClockTimePicker Control"
# Proposal: New ClockTimePicker Control

## Summary

Date and time pickers have some gaps in functionality illustrated as below:

 * DatePicker : Used to set a date by inputting individual components
 * CalendardDatePicker : Used to set a date by visually selecting its representation on a calendar
 * TimePicker : used to set a time by inputting individual components
 * **ClockTimePicker** : Propos

[2020-11-13 01:24] robloo commented on #2309
Quick update: This is being released in the Windows Community Toolkit version 7.0. The hope is to gain plenty of feedback with the new designs and then to add the control to WinUI at a later date.

[2020-11-13 02:30] mqudsi commented on #2636
Thanks. Any idea when we can expect to see a preview?

[2020-11-13 03:04] prayaas-a commented on #3605
Only if done right. I know many people find the analog time picker control on Android to be clunky and confusing.

[2020-11-13 03:35] codendone commented on #3484
GetFocusedElement() without a XamlRoot works in a UWP to get the focused element for the CoreWindow on the thread. As you suggest, it might make sense to remove that old API in WinUI3 and require always using the scope version.

[2020-11-13 03:43] codendone commented on #2636
We haven't announced when the next preview will be released; we'll make that public as soon as we know.

[2020-11-13 05:44] alexdi220 commented on #3484
Yes, it would be clearer

[2020-11-13 07:00] #3495 closed

[2020-11-13 07:47] mdtauk commented on #3605
I don't think displaying an analog clock is a great idea, but some kind of circular time picker, similar to Android is not out of the question.

Back in the Windows Phone days, I designed an app called MetroTime, and we included a circular picker, before the same kind of control showed up in Windows 8.

![image](https://user-images.githubusercontent.com/7389110/99042021-e5b94580-2583-11eb-8608-64a

[2020-11-13 10:58] eugenegff opened #3606 "Windows.UI.Input.PointerPoint.Timestamp is unreliable on Surface Pro 7 - drifting away from QPC during gesture"
Pointer messages can be delivered faster than they are processed by application. It's natural to try to handle this problem by ignoring late PointerMoved events, so that things "stick to the fingers". Win32 has GetMessageTime+GetTickCount pair for this, macOS has NSEvent.timestamp, iOS has UIEvent.timestamp. UWP has only Windows.UI.Input.PointerPoint.Timestamp.

PointerPoint.Timestamp is always eq

[2020-11-13 12:43] robloo commented on #3605
It certainly doesn't have to look like the analog clock on Android. The main point is hours/minutes can be selected quickly because all values are visible at once due to the circular arrangement being more efficient with available space. @mdtauk Has some good pictures there. My only suggestion would be to find a way to show the other numerical values all around the circle at least during selection

[2020-11-13 12:51] mdtauk commented on #3605
A lot of thought will need to go into this control.
- How will it work with HoloLens?
- How does it work on Xbox?
- How would Compact density impact this control? (This one may require WinUI 3 as flyouts can not currently change based on density) #925
- How does it adapt between Touch and Pointer invocation? Some ContextMenus currently increase touch targets when invoked by a touch gesture.
- How

[2020-11-13 13:04] kmgallahan commented on #3606
[ProjectReunion](url) @ranjeshj @stevewri ?

[2020-11-13 13:13] prcdpr opened #3607 "Cannot create WinUI project in Visual Studio 2019 16.8.1"
**Describe the bug**

When trying to create a blank app WinUI project, it shows an error and the solution doesn't compile.

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Selecte "Create a new project". Choose C#/Windows/WinUI
2. Create a new Blank App, Packaged (WinUI in Desktop).

**Expected behavior**
It should create a new project and it should compile and run out

[2020-11-13 13:35] eugenegff commented on #3606
The problem occurs only for finger, not for mouse. Here is the log where DeliveryDelay calculated as (Timestamp - QPC) and DeliveryDelay2 as (GetTickCount  - GetMessageTime). Unfortunately code with GetMessageTime does not pass WACK checks.

TS = 64758185353, DeliveryDelay = 6497, DeliveryDelay2 = 0
TS = 64758195353, DeliveryDelay = 6440, DeliveryDelay2 = 0
TS = 64758204353, DeliveryDelay = 7647,

[2020-11-13 16:55] stevenbrix commented on #3607
@prcdpr thanks for filing this issue! This is a known issue that will be fixed when we release preview3 in a week

[2020-11-13 16:55] #3607 closed

[2020-11-13 16:59] stevenbrix commented on #3607
Also, this is a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/3282

[2020-11-13 18:00] kmahone commented on #1571
@alwu-msft is it possible to invoke the Xaml Compiler directly outside of MSBuild? Or is this something that only MSBuild is able to do?

[2020-11-13 18:12] MarissaMatt commented on #2802
@mdtauk I've been thinking about this and trying to determine if this is a scenario that could be part of the ProgressUI proposal (https://github.com/microsoft/microsoft-ui-xaml/issues/1170). The benefit of having a control specific to progress scenarios is to take advantage of the accessibility requirements build in to progress controls and the APIs would be similar in structure to ProgressBar an

[2020-11-13 18:19] ranjeshj commented on #3597
@duke7553 can you see if this is resolved in the latest pre-release ? Do you happen to know if this regressed or something that is in older releases as well ?

[2020-11-13 18:44] DHowett commented on #3485
Terminal just hit this attempting to _add a MUX type as a member_ to an idl.

[code]

[code]

(/cc @carlos-zamora)

[2020-11-13 19:01] alwu-msft commented on #1571
@RealTommyKlein created a CLI version of XamlCompiler that is included in the Nuget package. We ourselves don't use it yet, though.

[2020-11-13 19:06] PureWeen commented on #3310
Here's a reproduction based on the original posters code
[Issue3310.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5538845/Issue3310.zip)

[2020-11-13 19:51] stevenbrix commented on #3502
@robloo, yeah this was something that I just came across a well. I agree, I like this better than the magical generic.xaml.

I don't think WinUI3 will fix this issue. The WCT had the exact same problem with WinUI3.

I agree 100%. I think there are ways we could have our default item templates set this.

@MikeHillberg, do you have any thoughts?

[2020-11-13 19:59] stevenbrix commented on #3437
@angelazhangmsft, yeah we should document the new way to interop with COM when using cswinrt. I would follow up with Scott, I think he's started on some documentation for this.

[2020-11-13 20:01] stevenbrix commented on #3437
@BorzillaR, yeah I think you would need to be using a more recent version of the .NET5 runtime to validate this with preview2 bits.

Our Preview3 release is coming out soon, so this should be addressed by then, where you can use .NET5 GA

[2020-11-13 20:06] mdtauk commented on #1170
Regarding my comment in another issue, where you would support a looping animation in the similar vein to an indeterminate progress control, then transitioning into a **Completed** animation.

I would like to cite the Android Boot Screens you see on phones.  Whilst the OS is loading an animation plays, looping until the load is complete, where the final loop plays out the final part of the animati

[2020-11-13 20:10] sylveon commented on #3590
You're using ThemeResources for the acrylic brush. Instead, manually declare the brush, for example like this:
[code]

This will use a different instance of AcrylicBrush for each new island instead of sharing the same instance across islands.

[2020-11-13 20:10] mdtauk commented on #2802
I posted some thoughts in the issue you mentioned.

Both this issue and the other one, would really on functionality added or tweaked to the Lottie control I think.

The ProgressRing and Progress at now use Lottie.

This proposal wants an AnimatedIcon based on Lottie.

Both of these controls could be used to form ProgressUI.

[2020-11-13 20:37] duke7553 commented on #3597
@ranjeshj Thanks for getting back to my issue. This has been an issue with use of TTabViewin our project for a long time. Probably since we switched to the WinUI TabView. Since this could very well be an issue with my app specifically, I am working on a sample project to demonstrate if the behavior is reproducible or not.

I expect to add it to this issue report soon.

[2020-11-13 21:09] #3104 closed

[2020-11-13 21:09] #3114 closed

[2020-11-13 21:09] #3351 closed

[2020-11-13 21:23] ranjeshj commented on #3597
Thanks @duke7553 for the clarification. A repro app would be great.

[2020-11-13 21:25] Austin-Lamb commented on #2716
Sorry for leaving this dormant for so long.  We have confirmed this is fixed in WinUI 3 Preview 3 which will be coming out soon - when that comes out we will also be publishing a new version of the XAML Controls Gallery app to its GitHub, which will show how to do this so you can see the app code needed.

In short, it looks like this (but again, this may not work fully until WinUI 3 Preview 3).  N

[2020-11-13 22:00] ericleigh007 commented on #1500
Sorry for putting a very late input to this thread, but to me it is "new" ;)

In working with DataGrid toward making an explorer like interface for cloud drives, I found that determining the row and cell that is tapped seems impossible.

In my design, the rows represent files or folders (DriveItems).  The detail view shows more details about the item.

I wanted to create an ability to click on a f

[2020-11-13 23:55] arcadepro commented on #2737
As a belated follow-up to this you could try disabling the blur effect on the windows log in screen. Either using regedit or the app Winaero Tweaker. For some reason on my system it works as an inverse toggle. i.e. if logon screen blur is on, all other blur is off. Possibly a broken Windows setting somewhere since this installation is an in place upgrade over a day one Windows 7 build. I'll do a c

[2020-11-14 00:09] StephenLPeters commented on #3606
Pointer Point is owned by IXP right? @jeffstall is this your teams issue?

[2020-11-14 00:12] StephenLPeters commented on #3601
@codendone FYI

[2020-11-14 00:14] StephenLPeters commented on #3600
@fabiant3 I'm not sure if this is us or VS's issue

[2020-11-14 00:15] StephenLPeters commented on #3598
@ojhad FYI

[2020-11-14 00:15] StephenLPeters commented on #3601
@gegao18 FYI

[2020-11-14 00:19] StephenLPeters commented on #3596
Our projects work with VS 16.8.0, could you provide a repro project for us to debug to find the issue?

[2020-11-14 00:27] StephenLPeters commented on #3595
I think this is by design... Panels that have TabNavigation set to Once (like repeater) by default put focus on the first child they find in the tab direction you are searching from. So shift tabbing gets you this behavior.  If you want to change that behavior I think you need to use the GettingFocus handler to direct focus to the appropriate target.  @Austin-Lamb will know for sure though.

[2020-11-14 00:44] duke7553 commented on #3597
@ranjeshj This is a v2.4 sample app which reproduces the bug in a minimal way.

Download APPX Package for x64:
https://1drv.ms/u/s!AvgU7aa_XojB6RIRaTmDb65Jsb1W?e=PJu6V6

Download source code:
https://1drv.ms/u/s!AvgU7aa_XojB6RPkbJxFtH3P-p1U?e=y7Kl9N

[2020-11-14 02:11] feisu commented on #3606
@eugenegff thanks for reporting the issue. Can you explain in more details what you are trying to do?

If app doesn't pick up messages quickly enough, touch messages will coalesce in the queue so app will always retrieve the latest touch event, with the option to get intermediate coalesced touch points. You can choose to ignore those coalesced points since they are not the latest.

Digitizer timer

[2020-11-14 03:50] robloo commented on #3605
No experience with HoloLens so have no idea.

Those XBox control analog sticks with 360-degree input would actually be quite useful to quickly choose a position on a circle.

Should do what the CalendarDatePicker does, if anything. These controls are more physicalized and should probably be desiged for touch from the start.

Don't thing there is really a need to differentiate the two on such a pro

[2020-11-14 03:53] jevansaks commented on #3536
@FrayxRulez I'll also need the public key cert it was signed with, I can't install that bundle without it!

[2020-11-14 04:53] mdtauk commented on #3605
Good Call, wonder if you should switch between hours, and minutes with a button, or allow the two analog sticks to control each separately?

The Radius of the radial selections needs to be large enough in touch so you can drag outside of the circle, and have finer precision picking.  Then you need to consider how that would work with Light Dismiss behaviours on the flyout containing the control.

[2020-11-14 05:42] robloo commented on #3605
@mdtauk Yes, there is definitely more that needs to be planned, discovered and discussed, I was just hoping to start the discussion here. For this one unfortunately I don't have a clear design in my head -- yet.

My proposal is for a new control. Just as the DatePicker and CalendarDatePicker exist for different reasons, the TimePicker and ClockTimePicker would exist for similar use cases.

[2020-11-14 08:23] dpaulino commented on #913
@gabbybilka I'm going to use infobar in my Nightingale REST client app. It's perfect for one of my scenarios. In my quick testing, it looks like the icon in the info bar doesn't support light theme? Or maybe I'm doing something wrong in my XAML usage of the control. Here are some screen shots
![image](https://user-images.githubusercontent.com/7649589/99143055-7a1cba00-260f-11eb-9b59-060ad1d7b5d1.p

[2020-11-14 09:01] Isopod commented on #3590
@sylveon Thank you, I can confirm this works as a workaround.

Although, there is some weirdness still: At first, all windows created this way use the Acrylic effect, even the ones that are not in the foreground, as long as the application is focused (not sure if this is intended?). But when the application loses focus, after gaining focus again, only the last active window uses Acrylic while the

[2020-11-14 09:14] sylveon commented on #3590
Yes, there is a lot of brokenness with multiple Islands in a single thread - I learnt that the hard way.

My solution was to use an unique thread for each XAML Island, and recycle those threads (because for some reason tearing down the WindowsXamlManager in a thread broke creating a new one in every other thread). Then everything, including acrylic, seems to work fine.

[2020-11-14 09:59] zsolt3991 commented on #3211
Since Visual Studio 16.8 is now GA, when can we expect a compatibility update to be able to use WinUi project templates?

[2020-11-14 10:47] FrayxRulez commented on #3536
@jevansaks you can actually get it from file Properties, Digital Signatures tab :)

[2020-11-14 13:23] mdbaal opened #3608 "Question: How do I fix the 'failed to find element named "ZoomSlider" ' and the empty tool box?"
When I open the example for uwp fotobooth I get the cant find error and my toolbox is empty.

[2020-11-14 13:38] zed220 opened #3609 "Question: How to use CompositionPathGeometry and CompositionPath?"
Hello,

I try to use CompositionPathGeometry like this:

[code]

But I can't find how to create the source (IGeometrySource2D).

Can you create an example?

[2020-11-14 18:50] jevansaks commented on #3536
@FrayxRulez oh cool, I didn't know that! So now I have it installed but this version (showing as 38833FF26BA1D.UnigramPreview_7.2.5764.0_x64__g9c9v27vpyspw) doesn't respond to system theme changes when I change the system theme. Is there a setting somewhere I need to turn on to make that happen?

The app theme changes if I click the sun/moon in the nav view.

[2020-11-14 21:10] FrayxRulez commented on #3536
@jevansaks, bit tricky. Might set system theme as default in future versions :)
Settings > Chat settings > Auto-Night Mode > ✅ System default

[2020-11-14 21:38] jevansaks commented on #3536
Thanks, that made it work. So on my machine this makes the theme change instantaneous (once your app gets the notification), whereas before I was seeing the Unigram app get the theme change notification but then be blocked. I don't see the app freeze anymore. But I do notice that each window seems to change one at a time, so I wonder if the problem is that on your machine there's an app that's run

[2020-11-14 22:20] dylech30th opened #3610 "Error when trying to create a new win32 WinUI project"
I'm trying to try WinUI 3 preview-2 by following this [article](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/), but when I created the project, it shows that "CS0234: The type or namespace 'UI' does not exist in the namespace 'Microsoft'" and all the namespaces and XAML controls are unavailable (including FCL namespaces such as `System` where I showed below). There're both x86 and x6

[2020-11-15 01:39] robloo commented on #3218
I'm hoping this will be considered with all the styling rework ongoing within Microsoft. I believe they also plan to generate all styles for web/uwp, etc. from common design elements and definitions (I can't find the repo a the moment). Something like this would then be quite useful to combine css/xaml ideas.

[2020-11-15 01:50] robloo commented on #3026
Is this getting addressed? I read in a comment recently that the system control brushes are falling out of favor. Next year would be a perfect time to address this along with cleaning up the styling resources considering the internal design rework ongoing within Microsoft.

[2020-11-15 02:23] mdtauk commented on #3218
As I understand it, there will be a Figma plugin, which will allow you to set both global and specific properties on components you use to design your apps.  It will then allow you to export:
- XAML Resource Dictionaries for WinUI (possibly also React Native for Windows;
- CSS/TypeScript for Fast and FluentUI React web;
- iOS and macOS resources for FluentUI components and React Native for macOS;

[2020-11-15 02:26] mdtauk commented on #3026
https://github.com/microsoft/microsoft-ui-xaml/issues/3218#issuecomment-727297180

This is what I have gathered so far about future implementation (and consistency merging) of Fluent Design UIs

[2020-11-15 02:36] robloo commented on #3218
Really awesome summary @mdtauk, Thanks! Thats exactly the info I was looking for.

I'm excited about this all coming together. I hope they dont hit any technical roadblocks. High-level meta concepts are really a fundamental component of cross platform development in the future.

I also envision a future where control logic can be defined, for example, mathematically like Modelica. Then even source

[2020-11-15 02:46] mdtauk commented on #3218
I think this is why we are seeing new Control designs being proposed now, so they can share values with these Design Tokens alongside FluentUI Web (which may get a design refresh to match, or if not, will match better with the updated WinUI designs)

[2020-11-15 02:58] mdtauk commented on #3218
From what I see in the tokens branch XAML - the new naming conventions are logical and clear, however something like **ControlAAFillColorDefault** - I can't figure out what the AA stands for, but @chigy informed me its not a final name, so hopefully once the Design Token work is done - hopefully that will change.

It also seems the plugin will possibly replace the Fluent Theme Editor, and allow ex

[2020-11-15 05:37] mdtauk commented on #3218
The Button is one of the XAML controls updated to use the new Design Tokens in the feature branch, so I am illustrating how they reference the Lightweight styles, and they reference the Global Design Tokens

![Illustrating the xaml style referencing](https://user-images.githubusercontent.com/7389110/99177666-cfd28e80-2703-11eb-8ca2-7dc7a8d16250.png)

Using the plugin, I think you will be able to o

[2020-11-15 10:14] huoyaoyuan commented on #3610
WinUI 3 Preview 2 is only supported by .NET 5 Preview 5~7. Please wait for Preview 3 at next week.

[2020-11-15 10:59] dylech30th commented on #3610
I am indeed using preview 5

[2020-11-15 11:05] huoyaoyuan commented on #3610
As I tried, it must be used with the combination of SDK Preview 5~7 and VS16.7 . VS16.8 won't work.

[2020-11-15 13:55] amocsy-cc commented on #2917
WinUI 3 Preview 2 also seems to [depend on .net 5 preview 5](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#install-winui-3-preview-2). Since .net 5 is released, we need a new WinUI 3 preview for stable .net 5 as well.

[2020-11-15 18:27] robloo commented on #3024
On the latest roadmap this is considered a stretch goal even after 3.0 release. I'm guessing that means this control might not get updated for years -- if ever. What is the alternative? I could use Bing maps hosted in WebView2 if only it was possible to put pins on the map. Bing doesn't support that though. Can we get that team involved and come up with something at least in the interim?

[2020-11-16 04:54] Jaiganeshkumaran commented on #2851
@jeganrajm Pass item by const& like this auto const& item : stringCollection

[2020-11-16 06:31] sylveon commented on #2851
This doesn't make a difference, because when enumerating a WinRT collection, you always get the item "by value", the `auto item` version will move the hstring, not copy.

[2020-11-16 06:33] Jaiganeshkumaran commented on #2851
Won't it call AddRef and Release?

[2020-11-16 06:38] sylveon commented on #2851
No, this is an hstring. As for reference types, this still holds, because AddRef is called for copies, but the type is moved here.

[2020-11-16 07:14] zhuxb711 commented on #3209
This problem only occurs when the Placement is set to "RightEdgeAlignedTop" and the space below is not enough to expand the menu, it will automatically expand upwards.

Another problem is that if the CommandBarFlyout expands upwards, it does not start from the position of the mouse click, but a small offset. This does not happen when expanding down.

[2020-11-16 13:04] sigmarsson commented on #3211
![image](https://user-images.githubusercontent.com/43340959/99255670-92a9f180-2814-11eb-8b58-78b1657c7be6.png)

[2020-11-16 16:13] eugenegff commented on #3606
I'm developer at[ Live Home 3D](https://www.livehome3d.com/) project, that was released in 2007 for Mac, in 2014 [for Win8.1](https://www.microsoft.com/en-us/p/live-interior-3d-free/9wzdncrfj165), in 2016 for Win10 as [UWP app](https://www.microsoft.com/store/apps/9pg2cxwtkvb1), and in 2019 for iOS.

At late 2016 our application was mature enough, worked really well with mouse, pen and touch input

[2020-11-16 16:33] ericleigh007 commented on #1045
Certainly it's a preview, and that means I shouldn't expect much, but WinUI 3 preview 2 was disappointing for me.

	My biggest need is in the area of XAML designing. I was pretty taken aback by the fact that the XAML designer didn't work at all, and so far I've found no clear information as to when it will.

	Yes, I agree the current XAML Designer in Visual Studio is very slow, and it breaks when

[2020-11-16 16:43] #3581 closed

[2020-11-16 17:01] solocle opened #3612 "Access Violation (Null Pointer Dereferenced) in Windows.UI.Xaml.dll"
**Describe the bug**
Combo Box crashes application

**Steps to reproduce the bug**
Click multiple times on a combo box.
TODO - this only happens with some combo boxes, so it'll take time to come up with a repro app.

**Expected behavior**
Combo box keeps selecting, not a crash!

**Screenshots**

**Version Info**
Windows 10 version 1903
SDK - 10.0.18362.0

NuGet package version:

Windows app type:

[2020-11-16 17:10] stevenbrix commented on #3310
Sorry for the lack of response on this. Thank you all for the details and repro apps.

We don’t currently have a workaround, I’ll spend some time this morning validating this is fixed with preview3 and respond to this thread.

[2020-11-16 17:40] angelazhangmsft commented on #3437
@stevenbrix Scott has added this [COM interop guide](https://github.com/microsoft/CsWinRT/blob/master/docs/interop.md) to the CsWinRT repo

[2020-11-16 18:49] feisu commented on #3606
For the scenario you described, you can rely on Windows' coalescing feature. The internal pointer messages are coalesced if they are the same type and when app retrieves a pointer move, it will be the latest one so app has a chance to catch up if it falls behind momentarily. Though Windows doesn't artificially throttle 100Hz touch input down to 60Hz. If app is fast, it can receive each one of thos

[2020-11-16 19:16] stevenbrix commented on #3310
@PureWeen and @BorzillaR, I just validated that the attached repro app no longer has an issue with preview3

[2020-11-16 21:09] sylveon commented on #1045
I think hot reload has mostly deprecated that "view-only" purpose of the XAML designer.

[2020-11-16 22:59] ericleigh007 commented on #1045
But we're talking about WinUI tooling here.  Hot reload and live visual tree don't work for WinUI either.

What I meant with the View Only designer was "I could settle for that if it was something we could put into an upcoming preview"

I could be wrong (AND please TELL me if I am), but right now, the only way to see your UI in WinUI is to build and run it.

[2020-11-17 00:07] StephenLPeters commented on #3612
@codendone This looks like an issue with windowed popups to me, based on the call stack. That's rendering right? @solocle That repro app would be really useful, the call stack isn't very helpful

[2020-11-17 00:08] StephenLPeters commented on #3610
That's correct. Preview 3 wont have these limitations but for preview 2 you need to use SDK Preview 5~7 and VS16.7

[2020-11-17 00:08] #3610 closed

[2020-11-17 00:12] StephenLPeters commented on #3609
@jesbis @jeffstall could one of you weigh in here?

[2020-11-17 00:15] StephenLPeters commented on #3608
Can you please provide more information, like a link to the project. What a zoom slider is, etc.

[2020-11-17 00:29] jesbis commented on #3609
@duncanmacmichael do we have a sample for this or should we update the docs?

@zed220 I believe you can use the Win2D CanvasGeometry as a concrete implementation:

http://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_Geometry_CanvasGeometry.htm

e.g.:

[code]

[2020-11-17 02:46] zhuxb711 commented on #3457
@harvinders
AppBarElementContainer should help you. It allows you to use custom layout controls.

By default, the elements in AppBarElementContainer are different from AppBarButton, but you can use the following Style to make it same. Here is an example style for Button.

[code]

At last remember to set AppBarElementContainer.HorizontalContentAlignment = HorizontalAlignment.Stretch

[2020-11-17 03:49] codendone commented on #3612
The location of the crash according to the callstack suggests some possible reentrancy which may have left things in a bad state. If the repro steps include selecting a different value in the combo box, the code responding to selection changed may be calling an API which allows reentrancy.

The best option to get more information would be to grab a Time Travel trace. To do that, launch the app wit

[2020-11-17 04:47] dotMorten commented on #2933
Just confirming that I'm seeing this is fixed with the latest preview

[2020-11-17 04:47] #2933 closed

[2020-11-17 06:28] tipa opened #3614 "MapControl crashes with zoom level > 4.5 and MapStyle.Road"
**Describe the bug**
MapControl crashes.
This issue started to happen a few hours ago, out of nowhere (Nov 17th midnight UTC).
It happens locally when debugging (see demo project below) and all my live apps for seemingly all my users!
Developer dashboard reports the crash as: `fail_fast_fatal_app_exit_c0000409_bingmaps.dll!mapcontrol::detailtexturesource::begingettexture`

This is an excerpt from

[2020-11-17 06:31] dpaulino commented on #3614
video of crash https://streamable.com/09m2lk

[2020-11-17 09:01] solocle commented on #3612
Hi, I wasn't able to get WinDbg to do TTD with our pure UWP configuration, but the Xaml Islands configuration I was able to get to attach, and replicate the bug.

How do I best share the trace with you? Github is complaining that 700MB is rather bigger than their 10MB limit.

[2020-11-17 10:27] trsht-tmyk commented on #168
Hello,

How can I design it to look like this image?
I'm new to XAML / C # (WinUI ??).
I would like to know if possible.
I also want you to upload that code as OSS to your GitHub.

Thanks.

[2020-11-17 10:52] v-amnat opened #3615 "Bug: WinUI-2.5: Accessibility: [MAS4.2.1]: The screen reader user is not aware about the availability of the spinner when user is navigating with the Tab key"
**Tags**
Accessibility, A11yFT,  A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, WinUI-2.5, Win32, Wipro

**User Impact**
The screen reader user is not aware about the availability of the spinner when user is navigating with the Tab key. So the screen reader user might face difficulty to navigate/find it.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
Launch the WinUI_2.5_Te

[2020-11-17 11:05] perssondan commented on #3614
We're experiencing the same issue with our wpf application. Here's the result from windbg:
KEY_VALUES_STRING: 1

    Key  : Analysis.CPU.mSec
    Value: 127046

    Key  : Analysis.DebugAnalysisProvider.CPP
    Value: Create: 8007007e on DESKTOP-CDBMDLO

    Key  : Analysis.DebugData
    Value: CreateObject

    Key  : Analysis.DebugModel
    Value: CreateObject

    Key  : Analysis.Elapsed.mSec

[2020-11-17 11:52] DaanTul opened #3616 "MapControl with default Style crashes UWP app"
**Describe the bug**
Showing MapControl with default Style crashes UWP app.

Style="Aerial"

**Steps to reproduce the bug**
1. Add MapControl to xaml page
2. Open page

**Expected behavior**
App doesn't crash

Multiple Versions

[2020-11-17 12:29] tipa commented on #3616
There's already an issue for this here: https://github.com/microsoft/microsoft-ui-xaml/issues/3614

[2020-11-17 12:29] #3616 closed

[2020-11-17 12:48] moshegutman commented on #3614
I have the same issue, and posted on StackOverflow
https://stackoverflow.com/questions/64870089/uwp-mapcontrol-crashes-after-zooming-in

[2020-11-17 13:43] premiaware commented on #3614
same issue!!!!
but ms can't block apps with this bugs, i work with my app!!!.
It is unacceptable that it does not work. Who can we write to to solve this problem quickly?

[2020-11-17 13:45] moshegutman commented on #3614
A quick workaround is to start the map in Aerial mode
[code]

[2020-11-17 13:46] DevEddy commented on #1446
I still get this error, any updates?
Any updates on this?

@DiverseTGM have you resolved the issue?

-- Eddy

[2020-11-17 14:12] v-amnat opened #3617 "Bug: WinUI-2.5: Accessibility: [MAS1.4.4]: Action/Informational link text is getting truncated in Infobar tab content when TextScaling is applied to 200%"
**Tags**
Accessibility, A11yFT,  A11yMAS, A11yMediumImpact, MAS1.4.4, Large Text, Sev3, WinUI-2.5, Win32, Wipro

**User Impact**
People with Low vision are not able to identify the Action button/Informational link in Infobar canvas area.

**Steps to reproduce the bug**
Settings-->Display-->Set TextScaling to 200%

Steps to reproduce the behavior:
Launch the WinUI_2.5_TestApp

1. Go to 'Infobar' ta

[2020-11-17 15:45] BobbyCannon commented on #3614
Workaround is awesome, however if you switch back into Terrain it will then crash.

[2020-11-17 15:48] moshegutman commented on #3614
Yeah, someone from Microsoft needs to fix this ASAP!

[2020-11-17 16:17] moshegutman commented on #3614
@MikeHillberg @Scottj1s do you know who to contact?

[2020-11-17 16:51] dotMorten commented on #2942
It's much better in Preview 3, but I'm still seeing this.
The first two times I added a swapchain it was ok. 3rd time I saw a "flash" of the old swapchain right at first, and now when I resize fast, I again see remnants of the removed view:
![winuibug](https://user-images.githubusercontent.com/1378165/99348517-a2462c00-284e-11eb-930a-30df1c09326c.gif)

[2020-11-17 16:55] anawishnoff opened #3620 "Announcing WinUI 3 Preview 3! ✨🎉"
# WinUI 3 Preview 3

As mentioned in this morning's App Development Community Standup, we've just released WinUI 3 Preview 3! This release consists of a few key new features, improvements on existing functionality, and bug fixes.

WinUI is going to be released in a series of previews through 2021, when we expect to ship the WinUI 3.0 GA release.

## New features in Preview 3

Here are some capabil

[2020-11-17 17:15] mraju2 opened #3623 "Discussion: Tabview control in winui version 2.4 not renderd properly with Bindng x:bind in windows 10 OS 17134."
I have used winui 2.4(Microsoft-UI-XAML) tab view control to display data.
But in Windows OS version  17134  tab control not displaying the data , in the next versions 17763,18363 able to see the data in a tab view. I suspect is it problem with tabcontrol along with binding(x:bind).  tab headers are bind with `data`

wrong display os version 17134
![image](https://user-images.githubusercontent.com

[2020-11-17 17:15] dotMorten opened #3624 "SDK-style project tries to add Generic.xbf from an incorrect path"
**Describe the bug**

Creating a multi-targeted SDK style project to build a UWP Control Library that targets both UWP and .NET5, causes project references to the project to fail, due to XBF files incorrectly being added from an invalid path.

**Steps to reproduce the bug**
1. Open attached repro: [WinUIControlLib.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5551658/WinUIControlLib.zi

[2020-11-17 17:28] dpaulino commented on #3614
Hi all, I'm an engineer at Microsoft. I've been tracking this issue with tipa since before this ticket was created. I don't work with the mapcontrol team, but I wanted to help out with this issue. So, I've reached out to the relevant teams internally. This issue was caused by an issue server side that was published recently. They're rolling back the server-side changes, so hopefully we see the con

[2020-11-17 17:33] ricavir11 commented on #3614
Thank you for this feedback @dpaulino
All of my apps in prod have crashed today... A big big mess that I didn't had sine 15 years at least

[2020-11-17 17:36] Felix-Dev commented on #3623
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/2427.

[2020-11-17 17:41] moshegutman commented on #3614
I got this message from Microsoft:

[2020-11-17 17:48] tomzorz commented on #3291
Any updates to this, now that we've got to the preview 3 release?

I tried asking @ryandemopoulos during the community standup, but we didn't got to this question.

[2020-11-17 18:05] dpaulino commented on #3614
The crash doesn't seem to be happening anymore in this app that tipa reported: https://www.microsoft.com/en-us/p/xaml-ui-controls/9nblggh31bxt.

Can others confirm if the control is working normally in your apps?

[2020-11-17 18:07] DaanTul commented on #3614
Can confirm it works in our apps as well.

[2020-11-17 18:11] moshegutman commented on #3614
Yes working again. @dpaulino can you pass along these comments to the map control team:

- Bing Maps UWP team really needs to be on GitHub, we need an official place to report issues
- Bing Maps needs to communicate with customers during outages. They have a Twitter (@bingmaps), use it.
- It was great of @dpaulino to step in to help connect, but where is the Bing Maps team?
- Can we expect a RCA o

[2020-11-17 18:13] jamesmcroft commented on #263
Brought this up in the questions of today's session and wondered if it had already been requested. Is this something that we might see come in WinUI 3 or potentially post RTM @SavoySchuler ?

I've previously built a custom control which provides ComboBox-like support for multi select taking advantage of the UWP ListView control but it would be awesome to see this done natively instead.

[2020-11-17 18:14] sigmarsson opened #3625 "Cannot locate resource from 'ms-appx:///Microsoft.UI.Xaml/Themes/themeresources.xaml'."
I just created a Blank WinUI 3 preview 2 project and hit F5 , encountered this exception :

Cannot locate resource from 'ms-appx:///Microsoft.UI.Xaml/Themes/themeresources.xaml'. [Line: 9 Position: 40]

**Csproj:**

[code]

**The generated file :**

![image](https://user-images.githubusercontent.com/43340959/99428785-60c58780-2907-11eb-9560-76e4a795eaad.png)

**Windows Version:**

![image](https:/

[2020-11-17 18:17] stevenbrix commented on #3437
Great, thanks @angelazhangmsft!

I'm going to close out this issue now that preview3 has been released. @BorzillaR, if you see this issue again, please respond and I will re-open. Thanks!

[2020-11-17 18:17] #3437 closed

[2020-11-17 18:18] stevenbrix commented on #3310
@BorzillaR - I'm closing this out now that preview3 has been released. Please respond if you are still experiencing this issue.

[2020-11-17 18:18] #3310 closed

[2020-11-17 18:19] stevenbrix commented on #2477
Closing now that preview3 has been released. Please reply if this is incorrect.

[2020-11-17 18:19] #2477 closed

[2020-11-17 18:20] dotMorten commented on #2477
Confirmed fixed!

[2020-11-17 18:27] dpaulino commented on #3614
@moshegutman I passed it along. I'm sorry this happened. I have a few production Windows app in the store myself. It's frustrating to realize that some server side dependency that's out of our control can shut down our production apps so suddenly. Fingers crossed that the team can provide some transparency.

[2020-11-17 18:33] ricavir11 commented on #3614
@dpaulino : you express exactly my actual feeling...

[2020-11-17 18:49] Austin-Lamb commented on #3625
I've seen some folks hit this when leaving the application project as the startup project - make sure you set the Packaging project as the startup project as Preview 3 only supports packaged apps.

[2020-11-17 18:55] adambarlow commented on #168
@yoshiask , it's been a long time since I wrote this. But I believe that I meant that the ribbon author should be able to force an item to display a text label if they want, instead of an icon.

@trsht-tmyk , this control doesn't yet exist, so sadly it's not available to open source or use.

[2020-11-17 19:02] sigmarsson commented on #3625
Yeah maybe it would be good to strip off this dependency because running the makeappx.exe in the CI may be regular. Maybe people have already the msix comprising a WPF. They wish to try WinUI for size maybe without packaging a piece of migrated software.

[2020-11-17 19:07] #3409 closed

[2020-11-17 19:25] michael-hawker commented on #168
Thanks @adambarlow, @yoshiask I think you support the labels already as you're just using the standard CommandBarItem, eh?

@trsht-tmyk we have a PR for this open by Yoshi on the Windows Community Toolkit here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3556

You can find out about pulling a preview NuGet of it from our preview feeds here: https://github.com/windows-toolkit/Wi

[2020-11-17 19:27] stmoy opened #3627 "Proposal: Don't close MenuFlyout on ToggleMenuFlyoutItem selection"
# Proposal: Don't close on ToggleMenuFlyoutItem selection

## Summary

ToggleMenuFlyoutItem allows a user to check/uncheck items in a MenuFlyout. However, as soon as the user selects an item, the menu closes. This issue is exacerbated when the ToggleMenuFlyoutItems are mutually exclusive.

This can partially be solved by cancelling the Closing event of MenuFlyout; however, if the toggle items are

[2020-11-17 20:17] DEVBOX10 opened #3628 "Do you consider rename this repo as WinUI?"
Hello.
I would like to ask these questions.
Do you consider rename this repo as WinUI?
And will it use the name of package of the library like this "Microsoft.UI.Xaml 3.x" after the release WinUI 3 too?

When I have got some news about WinUI, it always makes me confuse the name of this repo and future roadmap.
This repo or WinUI will represents only XAML?
And between WinUI and WinForm will be as s

[2020-11-17 20:25] JeanRoca commented on #2141
Assigning back to team-Controls since this is WinUI 2

[2020-11-17 20:26] JeanRoca commented on #2157
Closing due to unsupported version of VS.

[2020-11-17 20:26] #2157 closed

[2020-11-17 20:30] JeanRoca commented on #2166
Thanks for filing this bug. We will look at fixing this post WinUI 3.0.

[2020-11-17 20:35] JeanRoca commented on #2230
Hey @paulovila thanks for filing this issue. Would you be able to verify if this issue repros in a WinUI 3 Desktop app using the latest Preview 3?

[2020-11-17 20:40] JeanRoca commented on #2302
Closing as duplicate of #2048

[2020-11-17 20:40] #2302 closed

[2020-11-17 20:47] JeanRoca commented on #2387
Hey @jeromelaban thank you for filing this bug. This is currently fixed for WinUI 3 in Desktop and will be fixed for UWP once we move to .NET 5.

[2020-11-17 20:47] #2387 closed

[2020-11-17 20:49] asklar commented on #2302
@JeanRoca that's a different problem... this doesn't result in a compile time error, this just doesn't do anything

[2020-11-17 21:11] BrunoBlanes commented on #3625
Why aren't both projects united? Why can't the package be part of the Desktop application?

[2020-11-17 21:16] MikeHillberg commented on #3586
It looks like some code was trying to use the wrong type for the IAsyncAction (Windows namespace rather than the Microsoft namespace). But this is no longer happening in the Preview3 version.

[2020-11-17 21:16] #3586 closed

[2020-11-17 22:21] yoshiask commented on #168
I don't, precisely because I'm using a standard CommandBar. The AppBarButton template(s) assume that you'll always have both a label _and_ an icon, not one or the other. As a result, if you only use a label or icon, the content of the button will be off-center.

I think I can fix this, but I would have to duplicate the template and switch it from hardcoded margins to ColumnSpacing

[2020-11-17 22:34] robloo commented on #3628
In the past I know it was mentioned that a completely new repo might be created for the open-source WinUI. Then this would become a sub-repo for just the controls. Not sure how much further that line of thinking progressing inside Microsoft though.

Also see: https://github.com/microsoft/microsoft-ui-xaml/issues/1908

[2020-11-17 22:39] robloo commented on #3620
Great news! When do we get to see the code? (I'll not ask latest timing of WinUI 3.0 as that gets mentioned in almost every community call)

[2020-11-17 23:36] MikeHillberg commented on #3081
To the original point, there is a C++ WinUI Runtime Component project template now.

[2020-11-17 23:36] #3081 closed

[2020-11-18 00:10] ranjeshj commented on #3623
@mraju2 can you try this with latest winui 2.5 prerelease bits ?

[2020-11-18 00:15] ranjeshj commented on #3617
The height is [fixed to 24](https://github.com/microsoft/microsoft-ui-xaml/blob/fa324b3433c5352bba719d866e9e1e6f97dca250/dev/InfoBar/InfoBar_themeresources.xaml#L103) which is what is causing it. If we remove it button will by default get 32 pixels. @gabbybilka Is there a requirement to keep the height 24 ?

[2020-11-18 00:18] ranjeshj commented on #3615
@SavoySchuler Any particular reason why NumberBox is not a tab stop by default ?

[2020-11-18 00:19] ranjeshj commented on #3614
Looks like the issue is unrelated to WinUI and already resolved, so closing this issue.

[2020-11-18 00:19] #3614 closed

[2020-11-18 00:23] ranjeshj commented on #2141
From the link you shared, it looks like it was fixed in VS and not a WinUI issue.

[2020-11-18 00:23] #2141 closed

[2020-11-18 00:23] chingucoding commented on #3615
I think it should be focusable or if not focusable, should not expose itsself as spinner. @YuliKl FYI

[2020-11-18 00:25] gabbybilka commented on #3617
The height of the button is 24px (compact styling) as the control height itself is only 40px so we needed ample spacing. We wanted to keep the control vertically short as it is likely to be horizontally long to reduce visual impact of what is often just a single line of text. We're currently looking into increasing the height to 48px as part of a styling update anyways. The designs with the increa

[2020-11-18 03:35] BrunoBlanes commented on #3625
Also, is package `Microsoft.VCRTForwarders.140` going to be a thing in the final version?

[2020-11-18 04:27] JeanRoca commented on #2302
This has been fixed for WinUI 3.

[2020-11-18 04:41] JeanRoca commented on #1045
Hey @ericleigh007 have you had a chance to check out our latest release WinUI 3 Preview 3? We recently added many tooling improvements such as IntelliSense, Hot Reload, Live Visual Tree and Live Property Explorer. You can check the release notes [here](https://github.com/microsoft/microsoft-ui-xaml/issues/3620) and get the latest preview [here](https://docs.microsoft.com/en-us/windows/apps/winui/w

[2020-11-18 05:46] ad1Dima commented on #168
@adambarlow why did you close this?

[2020-11-18 05:49] v-amnat opened #3630 "Bug: WinUI-2.5: Accessibility: [MAS4.2.1]: Narrator: For the Message length combo box, narrator says as "message" instead of "Message length""
**User Impact**
For the Message length combo box, narrator says as "message" instead of "Message length", so its not descriptive enough for the screen reader user.

**Steps to reproduce the bug**
Launch the WinUI_2.5_TestApp
1. Go to Info Bar-> Navigate to the Message Length Combo box-> Observe the narrator behavior for the message length combo.

**Expected behavior**
Narrator should say as "Messa

[2020-11-18 06:25] dotMorten commented on #3517
Same issue in Preview 3 when using UWP (Works in Win32)

[2020-11-18 06:35] v-amnat opened #3631 "Bug: WinUI-2.5: Accessibility: [MAS4.2.1]: Narrator: Radio buttons under the "pager display mode" heading are not associated with header."
**User Impact**
If the radio buttons under the "pager display mode" heading are not associated with header, then narrator does not read the header name. Thus it impacts the screen reader user.

**Repro-Steps**
1. Launch the WinUI_2.5_TestApp
2. Navigate to the Pager control Tab
3. Navigate to the  radio buttons under the "Pager Display Mode" header
4. Observe the narrator announcement for these ra

[2020-11-18 06:36] niels9001 commented on #3628
Naming is a bit messy really. @WindowsUI on Twitter, WinUI is the name and NuGet packages / this repo is Microsoft.UI.Xaml. i understand why, but it doesn't help :-)

[2020-11-18 06:37] VagueGit commented on #3620
Installed VS 2019 preview
Installed vsix for WUI project templates
Created a WinUI Packaged desktop app
Won't build.
[code]
Upgraded Nuget for Microsoft.VCRTForwarders.140 but that didn't help.

[2020-11-18 06:49] dpaulino commented on #3517
Big showstopper for me. I won't even bother trying the preview or any WinUI 3 production builds unless this is fixed for UWP. I hope this issue is addressed before WinUI 3 is released for UWP.

[2020-11-18 07:00] alexserov commented on #3557
I've updated my initial post with the measurements for the WinUI3 Preview3. I see the progress; however, the issue still exists.

Case # | Description | WinUI 3 pre-3
-- | -- | --
1 | Subscribe to 1 button event with 1 method 1000 times | 0
2 | Subscribe and Unsubscribe to 1 button event with 1 method 1000 times | 7
3 | Subscribe to 1 button event with 1000 methods 1 time | 341
4 | Subscribe and U

[2020-11-18 07:08] dotMorten commented on #3517
I did find that if I implement `Microsoft.UI.Xaml.Interop.INotifyCollectionChanged` in a custom class, I can sort of make it work, but it's not a trivial interface to implement (mostly due to the EventRegistrationToken you need to manage) and [doc even tells you not to implement it from .NET](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Interop.INotifyCollectionChanged?view=winrt-19041

[2020-11-18 07:13] v-amnat opened #3632 "Bug: WinUI-2.5: Accessibility: [MAS2.4.3]: Keyboard: The loss of keyboard focus and improper focus order is observed while user navigate to the Pager control data grid using Tab key"
**Tags**
Accessibility, A11yFT,  A11yMAS, A11yMediumImpact, MAS2.4.3, Keyboard, Sev3, WinUI-2.5, Win32, Wipro

**User Impact**
Loss of keyboard focus or improper focus order may lead difficulty to the keyboard user. Thus it impacts the keyboard user.

**Repro-Steps**
1. Launch the WinUI_2.5_TestApp
2. Navigate to the Pager control tab
3. Navigate to the Pager control data grid and  using Tab key f

[2020-11-18 07:35] v-amnat opened #3633 "Bug: WinUI-2.5: Accessibility: [MAS4.1.1 - Parsing]: Narrator: The keyboard and narrator focus is not in sync using Tab key for the pager control data grid elements"
**Tags**
Accessibility, A11yFT,  A11yMAS, A11yMediumImpact, MAS4.1.1, Narrator, Sev3, WinUI-2.5, Win32, Wipro

**User Impact**
The keyboard and narrator focus is not in sync, so the narrator user might face difficulty to traverse the pager control data grid elements using Tab key.

**Repro-Steps**
1. Launch the WinUI_2.5_TestApp
2. Navigate to the Pager control tab
3. Navigate to the Pager control

[2020-11-18 07:56] sigmarsson commented on #3625
No. Dev -> QA ->  ... ->  Packaging, Deployment. Since dev & deployment aren't adjacent in sw life cycle therefore must not incorporate. That is simply a weird dependency that due to the absence of the shipping package, you cannot debug.

[2020-11-18 08:34] mraju2 commented on #3623
@ranjeshj I have tried with 2.5 prerelease bits but still facing the issue

[2020-11-18 08:47] v-amnat opened #3634 "Bug: WinUI-2.5: Accessibility: [MAS4.2.1]: Narrator: The name property is not defined for the progress edit box"
**Tags**
Accessibility, A11yFT,  A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, WinUI-2.5, Win32, Wipro

**User Impact**
The screen reader user would face difficulty to find the purpose of the edit box, if name property is null for the progress edit box

**Steps to reproduce the bug**
Steps to reproduce the behavior:
Launch the WinUI_2.5_TestApp
1. Go to 'Progress Spinner'  edit box
2. Run t

[2020-11-18 08:51] huoyaoyuan commented on #3620
@VagueGit It successes on one of my machine, and fails on another. I suspect it requires "C++ tools for UWP" workload. Comfirming.

[2020-11-18 09:01] ganesanviji commented on #3037
Hi

Is the Microsoft.Xaml.Behaviors.WinUI.Managed NuGet package supporting for the WinUI UWP application. because I can't install this NuGet package in the WinUI UWP application. Please let me know whether this NuGet support or not for WinUI UWP. if not, let me know when will it be supported

[2020-11-18 10:14] VagueGit commented on #3620
@huoyaoyuan I have Windows SDK 10.0.19041.1. In `C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs` I have `Microsoft.VCLibs.Desktop.110` and `Microsoft.VCLibs.Desktop.120` but not version 14. Do you know where it comes from?

[2020-11-18 10:21] huoyaoyuan commented on #3620
@VagueGit After trying, `Microsoft.VCLibs.Desktop` comes with C++ UWP tools workload. But `Microsoft.VCLibs` still doesn't come. I've confirmed it's not included in minimal C++ desktop workload, nor UCRT SDK.

I have versioned `Microsoft.VCLibs.120`, `Microsoft.VCLibs.Desktop.110`, and `Microsoft.VCLibs.Desktop.120`.

[2020-11-18 10:34] huoyaoyuan commented on #3620
Commenting out the `SDKReference` in package project works for my application upgraded from Preview 2, but doesn't work for template project.

My project can run, but will fail with `Can't find ResourceMap` when loading any page with localization.

[2020-11-18 10:42] Felix-Dev commented on #3631
This sounds like a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/3183.

[2020-11-18 11:13] pjmlp commented on #1045
@JeanRoca Unfortunely catching up with C++/CX development experience wasn't one of those tooling improvements. Don't expect much developer love for WinUI when the proposed C++ tooling feels like going back to 2000, writing IDL files in notepad (without any editor support) and manually copying files around.

It makes me stay in .NET as much as I can, or just keep using C++/CX despite the warnings t

[2020-11-18 11:17] bent-rasmussen commented on #1500
Sticky groups: when browsing datasets with large groups there should be context about which group (or groups, i.e. breadcrumb) is being viewed. This seems like an essential usability feature for all list-based view, incl. tree views.

[2020-11-18 11:29] zed220 commented on #3609
@jesbis As I can see, the CanvasPathBuilder is a part of the nuget package Win2d.uwp. In my opinion, it shouldn't be used in WinUI?

[2020-11-18 11:53] huoyaoyuan opened #3635 "Cannot build WinUI3 Preview3 desktop package project in fresh installed VS"
Originally posted at https://github.com/microsoft/microsoft-ui-xaml/issues/3620#issuecomment-729466735 by @VagueGit .

*This issue involves machine-wide shared component. You may need to reproduce it in a new VM.*

I have two dev machines. One can build the preview 3 template project, one can't. The error is `Can't find SDK reference Microsoft.VCLibs and Microsoft.VCLibs.Desktop`.

The **working**

[2020-11-18 11:56] BorzillaR commented on #3360
I`ve checked it on Preview 3. It seems the issue was fixed.

[2020-11-18 12:19] BorzillaR commented on #3367
Any news about it?

[2020-11-18 12:21] #3447 closed

[2020-11-18 12:21] ScriptBox21 commented on #3628
Thanks for the comments.
Well, as for me, WinUI the name and some parts of documentation looks like represents its more broad concept can be total approach for the UI on Windows at least.
It may not ready to share to the public, how can be evolved include WinForm too.
At the moment, by .NET 6 roadmap, I hope we could see MAUI, especially Blazor style model which can adopt CSS styling, web-friendly

[2020-11-18 12:23] BorzillaR commented on #3368
JFYI: it still exists on Preview 3.

[2020-11-18 13:08] ranjeshj commented on #3617
ok. we can just remove the Height on the buttons and hyperlink then and let it grow based on text scaling.

[2020-11-18 13:16] hernandik commented on #230
Hello. Sorry, but that is not clear how to put this in the file UnitTestApp.zaml, since it has only resource dictionarie entries.
Could someone please supply a more 'complete' version of the xaml containing this fix?

[2020-11-18 13:34] charlesroddie commented on #3628
Related to https://github.com/microsoft/microsoft-ui-xaml/issues/392

[2020-11-18 14:48] FrayxRulez commented on #3536
Hi @jevansaks sorry for the late reply.
Yeah, you're right, theme switches immediately now, but still the window is frozen for ~4 seconds after the theme change.
I guess that this doesn't depend on WinUI, but maybe this can be reported to the right team?

[2020-11-18 14:55] ericleigh007 commented on #1045
Thanks for the update;  Will be trying that today, and will report back.    🤞

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: JeanRoca<mailto:notifications@github.com>
Sent: Wednesday, November 18, 2020 4:41 AM
To: microsoft/microsoft-ui-xaml<mailto:microsoft-ui-xaml@noreply.github.com>
Cc: Eric<mailto:ericleigh007@outlook.com>; Mention<mailto:mention@noreply.

[2020-11-18 15:17] prashant-gupta-dev commented on #3517
This is a show stopper for me. .

[2020-11-18 15:18] niclar commented on #1045
-There is no wysiwyg editor / method that works with winui3 c++ (desktop) right now, right ?

[2020-11-18 15:34] robloo commented on #1045
Microsoft is managing to alienate C++/CX users as well? This whole thing isn't shaping up well at all. Anyone who adopted the technology Microsoft was pushing a few years ago for UWP whether .net or c++ is in trouble now without support from Microsoft.

It seems WinUI 3 is only catering for desktop apps written in WPF -- but they are going to quickly realize that UWP doesn't have all the features

[2020-11-18 16:13] get-flat commented on #3635
https://developercommunity.visualstudio.com/content/problem/1256345/uwp-build-fails-after-update-to-1682-error-msb3774.html

[2020-11-18 16:13] anawishnoff commented on #3620
@stevenbrix @alwu-msft any insight on the issues mentioned above?

[2020-11-18 16:15] RVPE opened #3637 "Build error when there is a property with an init accessor in the app"
Error in XamlTypeInfo.g.cs when there is a property with an init accessor in the app

Steps to reproduce the bug
1- create a new desktop app in Visual Studio
2- add a property with an init accessor in MainWindow class. Example  :  public string String1 { get; init; }
3- build

Versions :
Visual studio : Version 16.9.0 Preview 1.0
[Microsoft.WinUI 3.0.0-preview3.201113.0]
[Microsoft.VCRTForwarders.

[2020-11-18 16:35] DmitriyKomin commented on #3013
With the recently released [WinUI Preview3](https://docs.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.newwindowrequested?view=WebView2-dotnet-1.0.674-prerelease), this is now exposed as [WebView2.CoreWebView2.NewWindowRequested](https://docs.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.newwindowrequested?view=WebView2-dotnet-1.0.674-prerelease)

[2020-11-18 16:35] #3013 closed

[2020-11-18 16:36] stevenbrix commented on #3620
Many folks have been hitting this issue. For some, doing a repair of their VS install fixed it, for others it didn't.

I will reply back if I learn any more than that.

[2020-11-18 16:37] aoshiwik commented on #3635
![settings](https://user-images.githubusercontent.com/5297420/99559040-37454400-2979-11eb-8027-586c1f390933.PNG)

[2020-11-18 16:37] adambarlow commented on #168
@ad1Dima mistaken button press. Thank you.

[2020-11-18 16:42] aoshiwik opened #3638 "WinUI 3 preview c# blank desktop app exception on launch "Cannot locate resource from 'ms-appx:///Microsoft.UI.Xaml/Themes/themeresources.xaml'""
created a new c# desktop project from the template, no modifications made, getting an exception on launch. using nuget package 3.0.0-preview3.201113.0, exception is not thrown after removing the line "XamlControlsResources xmlns="using:Microsoft.UI.Xaml.Controls" />" from the app.xaml.

![exception](https://user-images.githubusercontent.com/5297420/99559486-b2a6f580-2979-11eb-913e-98ca82f9e869.PNG

[2020-11-18 16:42] pjmlp commented on #1045
@robloo As someone that used to advocate UWP they lost me, it is WPF and Win32 until they sort out the mess.

C++/WinRT was a political move, and we were told just to suck it up and wait until ISO C++ eventually provide reflection and metaclasses support, for Visual Studio team to replicate the C++/CX experience.

As mentioned even editing IDL files is no different than using raw Notepad.

That we

[2020-11-18 16:51] placasse commented on #3635
Thanks aoshiwik. This is effectively part of the [documentation](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/) for WinUI 3. Unfortunately, it was already selected in my installation
![image](https://user-images.githubusercontent.com/3594016/99560030-6799dc00-2993-11eb-8058-e79f0c0dbb6e.png)

There is a manual workaround, I found
C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\

[2020-11-18 16:54] ScriptBox21 commented on #3628
Thanks for the comment.
I could read that #392 issues.
It would be better to offer more details and some changes in coming schedule.

[2020-11-18 16:58] huoyaoyuan commented on #3635
@aoshiwik as I mentioned, this brings VCLibs.Desktop, but not VCLibs for me.

[2020-11-18 16:58] robloo opened #3639 "Discussion: WinUI 3 Strategy for Existing Developers & Apps"
# Discussion: WinUI 3 Strategy for Existing Developers & Apps

WinUI 3 is a great idea. Decoupling from the OS solves a lot of problems to fix issues without compatibility concerns, ensure apps can ship with the framework they test with, and new features are available earlier - all great. Open sourcing is another huge win as well. However, this great vision is shaping up to be something less. WinU

[2020-11-18 16:59] akanieski commented on #2716
When I try the above with `Microsoft.WinUI 3.0.0-preview3.201113.0` I get the below error:

[code]

Am I using the right nuget that includes this fix?

[2020-11-18 17:06] duke7553 commented on #1500
@RBrid Coming back to this ~1 year later. I realized that ItemsRepeater, although it has an object ItemsSource doesn't actually have built-in support for the following interfaces necessary for working with virtualized data sources:
- ISupportIncrementalLoading
- IItemsRangeInfo
- ISelectionInfo

[2020-11-18 17:09] niclar commented on #1500
-What about getting a MVP in there now so we can use a Datagrid from c++.

[2020-11-18 17:13] jesbis commented on #3609
There are a couple issues tracking enabling WinUI support:

microsoft/Win2D/issues/707

microsoft/ProjectReunion/issues/213

[2020-11-18 17:14] jtorjo commented on #3639
Agree 100%! Thanks for taking the time to write this up! I really hope Microsoft considers this, and give us a clear roadmap and strategy for us to go forward with WinUI 3.

[2020-11-18 17:29] sukesh-ak commented on #3639
Thank you for the write-up @robloo
Since we have gone through many iterations of half-hearted approach earlier from UI/UX perspective this "Commit to WinUI for the next 10+ years." becomes even more important.

I need mapcontrol and inkcanvas. Both missing without any timeline.
Works on Windows 10X is also pushed without timeline. Does that mean ARM64 is also gone?

[2020-11-18 17:29] duke7553 commented on #3639
### Allowing developers to keep their investments regardless of app model
An important use-case of WinUI that the team should facilitate before general availability is moving a project from WinUI 2.X (UWP) -> WinUI 3 (Desktop). For instance, what if an organization started out by investing in UWP for the latest XAML UI experience, but now that this is ubiquitous with WinUI WinUI desktop and even P

[2020-11-18 18:01] stevenbrix commented on #1778
This issue has also been fixed, as always, thanks for filing @dotMorten!

[2020-11-18 18:01] #1778 closed

[2020-11-18 18:03] jevansaks commented on #3536
What do you mean by "frozen"? Like you can't move the window or you can't click inside it or what?

[2020-11-18 18:05] dotMorten opened #3640 "Proposal: Provide multi-targeted WinUI3 class library"
# Proposal: Provide multi-targeted WinUI3 class library

## Summary
Currently you get these two project templates:
![image](https://user-images.githubusercontent.com/1378165/99569338-55b13c80-2985-11eb-8aef-94298d48009f.png)

It would be great with a 3rd multi-targeted option that combines both target frameworks, so that our control libraries can be used for both targets.

## Rationale

WinUI supp

[2020-11-18 18:10] dotMorten commented on #1778
Thank you @stevenbrix

Confirmed fixed:
![Untitled Project](https://user-images.githubusercontent.com/1378165/99569928-1800e380-2986-11eb-86f7-a4d558a9d3c5.gif)

I did notice the build action for `Generic.xaml` is slightly different in the two cases:

Win32:
![image](https://user-images.githubusercontent.com/1378165/99570017-31a22b00-2986-11eb-9383-c38a0640f419.png)
UWP:
![image](https://user-imag

[2020-11-18 18:12] placasse commented on #2716
WinUI3 Preview 3 is already available since yesterday.
I tested the XAML Controls Gallery app and the RichEditBoxPage that uses a FileOpenPicker now work correctly with c# debugger on.
So the issue is fixed.
I don't have the error @akanieski mention.

I installed Visual Studio 16.9 Preview 1 (with a fix for installation (bug)[https://github.com/microsoft/microsoft-ui-xaml/issues/3635]
git pulled t

[2020-11-18 18:12] Felix-Dev commented on #3640
Looks to me as if that is covered by https://github.com/microsoft/microsoft-ui-xaml/issues/1952 and the comments in that issue.

[2020-11-18 18:23] YuliKl commented on #3632
Closing this issue because the data grid is not a WinUI control.

@MarissaMatt FYI in case you decide to use the data grid in the future. I recommend filing a bug on the owners of that control.

[2020-11-18 18:23] #3632 closed

[2020-11-18 18:25] YuliKl commented on #3633
Closing this issue as well because the data grid is not a WinUI control. Related to #3632.

@MarissaMatt FYI in case you decide to use the data grid in the future. I recommend filing a bug on the owners of that control.

[2020-11-18 18:25] #3633 closed

[2020-11-18 18:30] YuliKl commented on #3634
Sounds like a dupe of #1854, which claims to be fixed but the issue is still reproing. Same problem mentioned in #2951.

[2020-11-18 18:34] roxk commented on #3620
Encountered the same issue for my own UWP app. While doing a a repair in visual studio installer fixes the VC lib not found issue, I get the same `ResourceMap` not found problem as @huoyaoyuan . Here are some relevant logs:

[code]

Looks like MRTCore is the culprit?

[2020-11-18 18:39] alwu-msft commented on #3620
@huoyaoyuan @roxk Would it be possible for you to share the project where you're seeing the "ResourceMap not found" error?

[2020-11-18 18:43] roxk commented on #3620
@alwu-msft It's a private repository for now, just invited you as collaborator. It's the main branch.

Thanks for the quick response!

[2020-11-18 18:45] placasse commented on #2716
@akanieski the As method used in Xaml-Controls-Gallery refers to WinRT.CastExtensions.As<TInterface>(this object value).
Maybe you need to add
using WinRT;

[2020-11-18 19:03] stevenbrix commented on #1778
Does this cause a problem, or is it just a difference?

[2020-11-18 19:22] dotMorten commented on #1778
Just an odd difference. Not sure if it'll be a problem. Maybe? 🤷‍♂️

[2020-11-18 19:22] alwu-msft commented on #3620
@roxk The exception is non-fatal and execution can be continued past it. You're seeing it because you specified an x:Uid (on line 58 of MainPage.xaml) that does not have any matching string resources.

[2020-11-18 19:29] lhak opened #3641 "WinUI 3: Clicking on a ToggleSplitButton causes the application to crash"
**Describe the bug**

Clicking on a ToggleSplitButton causes the app to crash with the following debug message:

onecoreuap\windows\moderncore\inputv2\inputhost\inside\lifted\compositioncontent.cpp(971)\Microsoft.UI.Input.dll!18430561: (caller: 18431213) FailFast(1) tid(738) 8000FFFF

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a ToggleSplitButton
2. Click on it

**Expe

[2020-11-18 19:38] sylveon commented on #1045
The XAML designer sort of works, but it wasn't really designed for wysiwyg editing to begin with. Hot reload (which now works in preview 3) works better.

[2020-11-18 19:43] DHowett opened #3642 "2.5RC: Hierarchical NavigationView hides nested items when used in Xaml Islands"
**Describe the bug**

A hierarchical navigation view dropped in a Xaml island will only display the first sub-item for any item.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Host a NavigationView in a Xaml island
2. Add multiple sub-items to a toplevel item

**Expected behavior**
1. They all appear (as they do in a non-island)

**Screenshots**

![image](https://user-images.

[2020-11-18 19:58] DHowett commented on #3642
This does not repro outside of islands.

The behavior changes if you use the nav view in collapsed mode and open the flyout:

![image](https://user-images.githubusercontent.com/189190/99581169-3f12e180-2995-11eb-9f6f-25d6cf2ee12b.png)

![image](https://user-images.githubusercontent.com/189190/99581183-42a66880-2995-11eb-90da-748a8347ebf1.png)

after this, "Two" appears in the list:

![image](https

[2020-11-18 20:22] arivoir opened #3643 "Microsoft.UI.Colors throwing TargetInvocationException"
Since I updated to version 3.0.0-preview3.201113.0, I'm getting the following exception when accessing Microsoft.UI.Colors.Red static property

[2020-11-18 21:18] chingucoding commented on #3617
I would like to work on this.

[2020-11-18 21:34] gabbybilka commented on #3617
Thank you!

[2020-11-18 22:03] stmoy commented on #3084
This seems totally reasonable/righteous to me. One step further, I'd expect that this value should probably inform both the curves at the top of the tabs as well as the curves at the bottom of the selected tab (rather than having separate knobs for each). @chingucoding - thoughts?

I'm marking this as help wanted and unassigning myself since I don't have further action to take on this issue.

[2020-11-18 22:05] ericleigh007 commented on #1045
live visual tree and live prop view worj great in preview 3.  when is designer scheduled to be available?

Also noticed the desktop (not UWP) designer used to work in 2.4 but now isn't again? or am I missing something (else)?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: JeanRoca <notifications@github.com>
Sent: Wednesday, November 18, 2020 4:41:54 AM
To:

[2020-11-18 22:21] Felix-Dev commented on #3084
@stmoy The `CornerRadius` API should work just as the `OverlayCornerRadius` today - affecting all four sides of a (selected) tab. So if I specify a CornerRadius value of 0, then I get 0 radius on all four sides. If I specifiy a corner radous value of "0,0,4,4", for example, then only the top corners of a tab are straight. The bottom corners of a (selected) tab would be rounded with radius 4 each.

[2020-11-18 23:30] stevenbrix commented on #2429
@sylveon, gotcha, so this is just a simple bug in the C++/WinRT codegen, then?

[2020-11-18 23:31] stevenbrix commented on #2429
@RealTommyKlein can you take a look at this? This sounds like a simple fix we could make in the 3.0 timeframe?

[2020-11-18 23:31] sylveon commented on #2429
Yes, it's simply missing a namespace qualifier

[2020-11-18 23:32] JeanRoca commented on #2453
Closing this issue as resolved.

[2020-11-18 23:32] #2453 closed

[2020-11-18 23:36] stevenbrix commented on #2476
@mrlacey can you confirm if this issue repros in WinUI2.x? It sounds like from your issue this is WinUI3.0 only, but I just want to confirm.

[2020-11-18 23:49] stevenbrix commented on #2489
Hey @luEbe, sorry for the delay - thanks for opening this issue. We don't have any progress on this issue.

@RealTommyKlein can you take a look and see if this is an x:Bind issue?

[2020-11-18 23:54] #3436 closed

[2020-11-18 23:54] stevenbrix commented on #2508
@hansmbakker does using `{x:Bind ElementName=workaroundNameForControl, Path=IsEditing}` work?

[2020-11-18 23:55] stevenbrix commented on #2498
@mrlacey, I'm going to keep this open to track the work required after https://github.com/dotnet/sdk/issues/12520

[2020-11-19 00:00] stevenbrix commented on #2516
I'm glad you found a workaround to this issue. I'm going to close this out, as there is a very low probability of this issue ever being fixed since WinUI3 is moving towards .NET5. If you feel like this is in error, please reply, thanks!

[2020-11-19 00:00] #2516 closed

[2020-11-19 00:04] ranjeshj commented on #3643
@Scottj1s as FYI

[2020-11-19 00:06] ranjeshj commented on #3642
@DHowett This is a known issue with effective viewport being broken in xaml islands - #2102

[2020-11-19 00:06] #3642 closed

[2020-11-19 00:07] stevenbrix commented on #2539
@mqudsi does this issue still reproduce? If so, can you confirm whether or not it reproduces in UWP?

[2020-11-19 00:12] ranjeshj commented on #3638
@aoshiwik Do you see two projects in your solution ? Do you have the start up project as the package ?

[2020-11-19 00:15] ranjeshj commented on #3634
@teaP  can you take a look ?

[2020-11-19 00:18] #3416 closed

[2020-11-19 00:18] #3415 closed

[2020-11-19 00:18] #3414 closed

[2020-11-19 00:21] #3413 closed

[2020-11-19 00:33] stevenbrix commented on #3163
Thanks for the follow up @robloo, sorry for the slow response. This should be improved in 16.8 and 16.9 Preview 1, where the `Microsoft.UI.Xaml.Markup.XamlParseException` should be enabled by default.

@robloo thanks for linking those other issues. I know the experience still isn't great, so I'm not going to close this issue out, as we can keep it open to track this.

[2020-11-19 00:35] llongley commented on #3635
[This looks like an issue with the VS installation](https://developercommunity2.visualstudio.com/t/UWP-build-fails-after-update-to-1682--/1256345?preview=true).  A workaround for now that seems to work for some people is to grab the directory at C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.VCLibs from an install of an earlier version of VS and copy that over (and s

[2020-11-19 00:48] chanallenk commented on #3635
Anybody have a copy of the binaries in that folder for those who don't have another machine?

[2020-11-19 01:46] JeanRoca commented on #2591
Closing as just validated this has been fixed as of WinUI 3 Preview 3.

[2020-11-19 01:46] #2591 closed

[2020-11-19 01:47] placasse commented on #3635
Here is the two folders I took from my PC
https://github.com/placasse/MicrosoftSDKs

[2020-11-19 02:03] roxk commented on #3620
@alwu-msft Thanks! I see 2 points here:
1. IIRC missing resources would not throw any exception in preview 2, is it an intended new behavior to throw for missing resources? (Not that I am against it, since it safe guards devs)
2. The reason why those resources are missing is to avoid a bunch of `XXX.ToolTipService.ToolTip` exception. You should be able to reproduce it in the commit with the messag

[2020-11-19 02:04] santhoshkumarmk opened #3644 "Designer issue"
Why designer is not working in winui 3.0 framework.

[2020-11-19 03:49] billwoo opened #3645 "Why do you waste dev's time with unusable releases ?"
Having installed _all_ the prerequisites for the new WinUI release:

1. A UWP WinUI project fails to load: VS 2019 Version 16.9.0 Preview 1.0 hangs, and has to be closed using the task manager.

2. attempt at making a WinForm WinUI:

Severity	Code	Description	Project	File	Line	Suppression State

Error	MSB3774	Could not find SDK "Microsoft.VCLibs.Desktop, Version=14.0".	WinUI Test Nov 2020 (Package

[2020-11-19 04:13] groovykool commented on #3639
This [roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-30-feature-roadmap)  Clearly shows what the priorities are.  Apparently  the near future(2-3 Years) is Win32 with a subset of UWP/WinUI 2.X  called WinUI 3.  And in the far future(3 -5 years) maybe we get .Net 5 on UWP and eventually they add more of the WinUI 2.X features to WinUI 3.X.  It looks like t

[2020-11-19 04:22] robloo commented on #3639
Yes, I think we are all aware of the roadmap. You're absolutely right that its quite problematic from a UWP standpoint.

Thinking about this some more, I guess it only makes sense if you are coming over from old C++ frameworks like MFC. Being overly optimistic, maybe Microsoft is internally making WinUI 3 to first modernize Windows shell and apps themselves with XAML tech. In that context things w

[2020-11-19 05:01] codendone commented on #3611
Duplicate of #3450.

[2020-11-19 05:01] #3611 closed

[2020-11-19 05:02] huoyaoyuan commented on #3645
#3635
It's actually an external issue

[2020-11-19 05:27] billwoo commented on #3645
"It's actually an external issue"

A release that hangs Visual Studio, or that won't compile a simple test, is an _internal_ Microsoft issue suggesting lack of thorough testing.

[2020-11-19 05:53] huoyaoyuan commented on #3645
Another Microsoft team is **external**. They rely on and trust each other.

The issue relates to upgrading path of installer. There's nothing to blame WinUI team here, because they shouldn't waste time testing every possible combination.

[2020-11-19 06:09] BorzillaR commented on #3386
The issue is reproduced in Preview 3.

![image](https://user-images.githubusercontent.com/23479280/99628007-5eb61280-2a46-11eb-8704-8a40ff4103b5.png)

Call stack:

` 	KernelBase.dll!CompareStringOrdinalCounted()	Unknown
 	KernelBase.dll!_CompareStringOrdinal@20()	Unknown
 	combase.dll!WindowsCompareStringOrdinal(HSTRING__ * string1, HSTRING__ * string2, int * result) Line 377	C++
 	Microsoft.ui.x

[2020-11-19 06:11] BorzillaR commented on #3377
The issue is reproduced in Preview 3.

![image](https://user-images.githubusercontent.com/23479280/99628007-5eb61280-2a46-11eb-8704-8a40ff4103b5.png)

Call stack:

` 	KernelBase.dll!CompareStringOrdinalCounted()	Unknown
 	KernelBase.dll!_CompareStringOrdinal@20()	Unknown
 	combase.dll!WindowsCompareStringOrdinal(HSTRING__ * string1, HSTRING__ * string2, int * result) Line 377	C++
 	Microsoft.ui.x

[2020-11-19 06:17] mdtauk opened #3646 "Proposal: Update Icon controls when Fluent Icons replace MDL2"
# Proposal: Update Icon controls when Fluent Icons replace MDL2

## Summary

Introduce properties into Icon controls such as FontIcon and SymbolIcon - to set a **TargetSize** so the correct scale icon can be provided, and possibly a **Filled** property for also selecting the correct glyph.

## Rationale

![example of Fluent Icon scaling](https://user-images.githubusercontent.com/7389110/99626980-4

[2020-11-19 07:47] zhuxb711 opened #3647 "Click PrimaryCommandButton in CommandBarFlyout will not close whole flyout"
**Describe the bug**
![image](https://user-images.githubusercontent.com/42038175/99636252-28948500-2a7e-11eb-827c-b8d5586ff623.png)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Click any primarycommandbutton

**Expected behavior**
Should close whole commandbarflyout.

**Version Info**

NuGet package version:
[Microsoft.UI.Xaml.2.5.0-prerelease.201027002]

Windows app type:

[2020-11-19 09:01] pjmlp commented on #3639
Which is exactly why betting on classical WPF and Win32 seems the more sane thing to do, unless Microsoft really adresses these issues.

So far we have only gotten promises that things will get better, and I don't know why Windows 10X even keeps poping up, there is no device available with it, the Win32 sandbox was dropped from the design and eventually not even the hardware itself is going to hap

[2020-11-19 09:17] huoyaoyuan opened #3648 "WinUI3 Preview 3 package misses globbing pattern for PRIResource"
**Issues I've met when upgrading a functioning project from preview2 to preview3:**

### Can't find ResourceMap:
https://github.com/microsoft/microsoft-ui-xaml/issues/3620#issuecomment-729589622
/cc @roxk

#### Cause:
The preview 3 nuget package doesn't include a glob pattern for `PRIResource`, while preview 2.

#### Workaround:
Add this to your project file:
[code]

<s>
### XamlParseException

[c

[2020-11-19 09:25] huoyaoyuan commented on #3019
Looks to be solved in preview 3.

[2020-11-19 09:25] #3019 closed

[2020-11-19 09:25] BorzillaR commented on #3386
The issue is not reproduced in Preview 3. I have check it.

[2020-11-19 09:29] huoyaoyuan commented on #3644
I remember it worked for me yesterday, but currently it doesn't work for me on both machines.

[2020-11-19 09:32] BorzillaR commented on #3388
The Issue is not reproduced in Preview 3 and can be closed.
Thank you!

[2020-11-19 09:37] santhoshkumarmk commented on #3644
we need proper solution for this . Any body can help one this ?

[2020-11-19 09:42] santhoshkumarmk commented on #3644
I working on Blankapp, Packaged(WINUI in Desktop)

[2020-11-19 09:44] BorzillaR commented on #3394
I have checked this issue in Preview 3 and it is still reproduced.

[2020-11-19 10:02] billwoo commented on #3645
Your opinions are not valuable.

[2020-11-19 10:15] FrayxRulez commented on #3536
All of them so far, I get west-est resize cursor and clicks get processed after the freeze

[2020-11-19 10:22] BorzillaR commented on #3434
I have check my project in Preview 3. Now it failed after the first line executed:

 var storageFile = await StorageFile.GetFileFromApplicationUriAsync(new Uri("ms-appx:///App30/TextFile1.txt"));

![image](https://user-images.githubusercontent.com/23479280/99653320-ed885680-2a69-11eb-9a56-3bd6ecf4ce13.png)

Call stack:

` 	combase.dll!RoFailFastWithErrorContextInternal2(HRESULT hrError, unsigned l

[2020-11-19 10:55] wbokkers commented on #2716
Unfortunately I still get this, with all the latest bits:
![image](https://user-images.githubusercontent.com/4835617/99657146-10147280-2a5e-11eb-9138-58b58c9ce86c.png)

[2020-11-19 11:50] p2pbsh commented on #3024
Bump on this one. The MapControl is pretty much the centrepiece of my UWP app, seeing it listed as stretch goal of 3.x is slightly ominous in regards of me being able to adopt WinUI. Could someone please elaborate with some more concrete info on the plans for MapControl please?

[2020-11-19 12:02] huoyaoyuan opened #3649 "Setting tooltip using attached method syntax in resw no longer works in WinUI 3 Preview 3"
**Describe the bug**
Setting tooltip using attached method syntax in resw no longer works in WinUI 3 Preview 3

**Steps to reproduce the bug**
1. Start with WinUI 3 Desktop app template

2. Declare some UI element with Uid:
[code]

3. Create `Resources.resw` under `Strings\en`, and add a `<PRIResource Include=Strings\**\*.resw` to the project.

4. Add tooltip in the resource file. According to [UW

[2020-11-19 12:04] roxk commented on #3648
@huoyaoyuan Thanks for the heads up. In my case, I found that the `.resw` files are already included in the project file so my crash seems to be different than yours. Specifically, `XXX.Label` and `XXX.Text` works fine, but `XXX.ToolTipService.ToolTip` would crash. Workaround is just removing these tool tip resources😅 I will file a new issue once I have a minimal repro.

[2020-11-19 12:13] huoyaoyuan commented on #3649
@roxk I've also met the tooltip issue here

The current workaround is explicitly define a `ToolTip` element:

[code]

and set `button1ToolTip.Content` in resources.

[2020-11-19 12:20] huoyaoyuan commented on #3620
@anawishnoff Can you create a highlighted issue for collections of known issues of preview 3?

I've found three (#3635, #3648, #3649). After doing workaround for them, my project is running well.

During the lifetime of preview 2, I've seen several times people creating duplicated issues for the known issues.

And they should be also added to [here](https://docs.microsoft.com/en-us/windows/apps/wi

[2020-11-19 12:55] roxk commented on #3649
@huoyaoyuan That was speedy :D I'm here to report that while the workaround fixes the exception, tooltip would not actually show when the ui element is hovered.

[2020-11-19 13:05] BorzillaR commented on #3442
Reproduced in Preview 3

Updated project:

[xBindConverterIssue.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5566885/xBindConverterIssue.zip)

[2020-11-19 13:21] BorzillaR commented on #3487
The issue is reproduced in Preview3 too.

[2020-11-19 13:33] BorzillaR commented on #3496
This issue is reproduced in Preivew 3.

Updated project:

[PropertyChangeIssue.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5567029/PropertyChangeIssue.zip)

[2020-11-19 13:39] BorzillaR commented on #3500
This issue is reproduced in Preview 3.

Updated project:

[IssueSample.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5567063/IssueSample.zip)

[2020-11-19 13:43] BorzillaR commented on #3509
I have checked it on Preview 3. Still reproduced.

[2020-11-19 13:50] huoyaoyuan commented on #3649
The workaround works for me. There may be other minor differences.

[2020-11-19 13:57] BorzillaR commented on #3587
I have reproduced this issue in Preview 3.

[2020-11-19 14:32] mrlacey commented on #2476
@stevenbrix Yes, the initial repro was for UWP (WinUI 2)

With WinUI3 (preview 3), the same exception is still thrown but a better error message is included:
`Can only base on a Style with target type that is base type of this style's target type.`

Ideally it would still be better to see this issue at compile or design time.

[2020-11-19 14:38] Scottj1s commented on #3386
@BorzillaR thanks for confirming