[2019-10-24 23:27] verelpode opened #1494 "An Iconic Disaster"
WinUI has delivered innovative and impressive new GUI elements, designs, and techniques, and the WinUI team has implemented many clever improvements.  But of course, nobody is capable of 100% pure perfection, so some deficiences must exist in WinUI.  So now I'd like to talk about a glaring exception in the impressive track record of WinUI; an area desperately in need of improvement:  Icon renderin

[2019-10-24 23:31] verelpode commented on #768
@be5invis -- I remembered additional icon rendering problems, more than I mentioned in my previous message, so I followed your suggestion to open a new issue:
[An Iconic Disaster #1494](https://github.com/microsoft/microsoft-ui-xaml/issues/1494)

[2019-10-25 00:39] verelpode commented on #1478
@kmgallahan

The WinUI team can still answer the question because if they really _wanted_ to use C# then they could.  It is an option in theory.  Even an operating system (even including hardware drivers) could be written entirely in C# without any C++ code -- theoretically -- because C# does actually support pointers and has an `unsafe` keyword.  However, certain C# or CLR features might be switc

[2019-10-25 01:15] ad1Dima commented on #375
that's true. We need both.

My question was about: should it be list of bottom items, or adding one or two item to the bottom will be fine?
After all space is limited and scrolling list of bottom items will cause bad UX

[2019-10-25 01:26] mdtauk commented on #1478
If there was a WinUI running on Android story, the Surface Duo could replace the AOSP inbox apps, with the ones from Windows. (Calculator, Alarms & Clocks, Voice Recorder, Camera, Photos, People, etc)

[2019-10-25 01:36] mdtauk commented on #1493
To put it another way, to fit into the Fluent Design concept of materials.

*Acrylic* - Blurred, Translucent, sometimes Tinted, subtle grainy noise Texture.

*Perspex* - Transparent, no Blur, sometimes Tinted.

*Glass* - Transparent, slight Blur, sometimes Tinted, Reflective shimmer

----

You could even take HoloLens effects, and categorise them as materials.  The colour shifting as you move your

[2019-10-25 01:39] mdtauk commented on #1491
How do you demonstrate indeterminate progress without an animation?

[2019-10-25 03:15] KevinTXY commented on #483
Haha I would have liked to keep working on this passively but this semester has run me over. Glad to see it's getting wrapped up I'll keep an eye on it!

[2019-10-25 07:15] lukasf commented on #1461
@charlesroddie

You always need a framework to develop your controls against. You need base classes to inherit from, interfaces to implement. You need classes to access control trees, templates, etc etc. So you really can't separate controls from frameworks. No control can work in multiple frameworks, unless those frameworks use exactly the same concepts, classes and namespaces.

You could share s

[2019-10-25 07:35] chingucoding commented on #1491
That is a very good question! What should the ProgressBar behave like without animations? Should it just be blank (and look like a 0% progress)? Or should we render a bar in the middle, which would look a bit like a glitch?

I can't think of a way to show "indeterminate" while having no animation. However showing an animation despite the user requesting to not show one is also not a good solution.

[2019-10-25 07:36] charlesroddie commented on #1461
This is not true. I gave two ways in which controls can work in multiple frameworks. The first approach is writing platform-specific code. Then you need to know the frameworks you support to hook up your platform-specific code to each framework; you can do this right now but the scaffolding can be made easier in future. The second approach (platform-independent rendering) is very easy and is being

[2019-10-25 07:48] shaheedmalik commented on #563
It seems like this behavior has reverted back to the problem state. I was going to file Feedback in the Hub for this issue appearing again in the Store app when I noticed it is appearing again in Feedback Hub as well. This issue was previously fixed.

It works as intended currently in the XAML Controls Apps still. It doesn't work as intended anymore in Feedback Hub or Microsoft Store,

[2019-10-25 08:38] lukasf commented on #1461
@charlesroddie Okay maybe I got your post wrong. But then the control is not really independend of the framework. It can only be installed in those apps whose framework is explicitly supported by the control. And rendering is only a small part of a control. Control logic, data binding and input handling must be implemented for every single supported framework, in every such control, even if you us

[2019-10-25 09:13] lukasf commented on #1461
If you want data binding to work in WPF or WinUI, then you have to declare DependencyProperties. I strongly doubt that anyone would use a XAML control that does not work with data binding. Data binding is at the very hear of these frameworks, and it requires DependencyProperties to work, if you like them or not. If you don't add them, you cannot use your control in any of the current Windows platf

[2019-10-25 09:26] charlesroddie commented on #1461
That's not true. A control that does not implement dependencyproperties can be used in WPF/WinUI. This is one of the flaws of data binding that it encourages adding spurious depencency properties to controls that already define settable properties. Huge code duplication. (By the way a cross platform control would not be a "XAML control" and you shouldn't be taken in by the misuse of "XAML" in the

[2019-10-25 10:41] adrientetar commented on #1494
In this case it is, that's why it's called **Font**Icon.

[2019-10-25 10:57] Sergio0694 commented on #890
Hello, are there any updates on this? The `SwipeControl` alone is currently responsible for the two most frequent crashes I'm getting in my app 😟

![image](https://user-images.githubusercontent.com/10199417/67565967-ea1b8200-f726-11e9-8b04-871e204ab918.png)

Please let me know if there's any way I can help you guys track this issue, I'm happy to help if I can!

[2019-10-25 11:25] xiler8 commented on #1045
Tools like Template10 and Windows Template Studio are signs of lacking basic functionality. With WinUI3 there should be functionality in place for what these tools do. I am betting that a lot of developers are doing this basic scaffolding over and over... it should be part of the framework. No extra tools should be needed. Maybe you should even have to turn off the MVVM scaffolding for those rare

[2019-10-25 12:12] verelpode commented on #1494
It's called FontIcon not TextIcon therefore it shouldn't behave like text, but currently it does behave like text and this text-like behavior causes failures.  We could interpret (or re-interpret) it as being named "FontIcon/FontIconSource" because the icon comes from a glyph in a font, and don't interpret the name "FontIcon" as meaning that it should behave like text.   Thus it shouldn't have a p

[2019-10-25 12:57] sharpninja commented on #1045
I don’t think that the presence of Template systems shows a lack of basic functionality, I think it highlights the quality of the supporting communities that would put together these template systems.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Stefan Ahlm<mailto:notifications@github.com>
Sent: Friday, October 25, 2019 6:25 AM
To: microsoft/microsoft-ui-xa

[2019-10-25 13:09] verelpode commented on #1494
# An analogy with the Image Control
`Windows.UI.Xaml.Controls.Image` defines these `Source` and `Stretch` properties:
[code]

The current design of the `Image` Control works well.  Now imagine what would happen if you remove the `Stretch` property from `Image` and instead place it in `ImageSource`.

[code]

That would be madness, but let's imagine making it even worse by adding settable sizing pro

[2019-10-25 14:48] shaheedmalik commented on #1491
I think the best way is just to display the only the third frame for those who have this setting off.

[2019-10-25 14:56] mdtauk commented on #1491
You run the risk of the control looking glitched or broken

[2019-10-25 16:46] mrlacey commented on #1045
I see things like this as an extension to basic functionality. Of course, things like this could be brought in house but it's then more for the core team to maintain and support. As the core team does more it tends to mean they are spread more thinly and so everything takes longer. If Msft feel they have budget to bring things like this into the main team I'd love to have a talk with someone about

[2019-10-25 17:30] YuliKl commented on #563
The only app that the WinUI team has direct influence over is the Xaml Controls Gallery. I'm not sure whether the other apps' behavior reverted or wasn't fixed, but we can't force them to use the correct version of WinUI with this fix in place.

[2019-10-25 17:54] #1432 closed

[2019-10-25 18:06] #1436 closed

[2019-10-25 18:09] jevansaks commented on #1481
@teap @stmoy bug or spec issue? We discussed a little bit in email but didn't close.

[2019-10-25 18:58] YuliKl commented on #1491
@mdtauk, I hear your concern about not showing any motion, but I think we need to respect the user preference on this one. This is an accessibility setting, likely chosen by users due to specific types of disabilities. I don't think this has anything to do with performance.

I'm inclined to agree with @shaheedmalik and just show a single frame with the colored bar somewhere in the middle-ish of th

[2019-10-25 18:59] kikisaints commented on #1494
@jevansaks - is this a proposal? It feels more like a discussion that should lead to one or more proposals.

@verelpode you make some really good points - to summarize and ensure I understand what you're saying, it's that:

- IconSource's API structure/behavior is inconsistent with that of similar components, like Image and ImageSource
- Subclassing IconSource to Bitmap/Symbol/Font/PathIconSource

[2019-10-25 19:27] joaodforce opened #1495 "Proposal: Add option to disable Xinput control on UWP Apps"
# Proposal: Add option to disable Xinput control on UWP Apps

## Summary

Later Windows 10 builds, automatically use Xinput devices to control UWP Apps, and some parts of the Windows UI. However this approach proves to be troublesome, because assuming the device is not being used results in terrible experiences.

## Rationale

* This feature would resolve issues people are having when using Xinput

[2019-10-25 19:53] JoshWobbles opened #1496 "End user option to disable controller input in UWP apps, especially non-games."
**Describe the bug**
UWP Controller support cannot be disabled. leading to unwanted controller input in applications that have no business reading controller input, such as the Start menu. This can even lead to the random selection and unwanted scrolling when Windows interprets the inputs incorrectly.

**Steps to reproduce the bug**
Connect a DirectInput type of controller, hotas etc
Launch UWP ap

[2019-10-25 21:16] shaheedmalik commented on #1496
This is absurd. I actually want UWP experiences to be controller capatible. You want Microsoft to disable something for a unlicensed third party app?

[2019-10-25 21:22] JoshWobbles commented on #1496
I want it to be opt in, as in optional, as in my computer isn't a game console so don't introduce bugs into simple start menu navigation when I don't want it....

[2019-10-25 21:26] shaheedmalik commented on #1496
If I leave something on my keyboard, should developers remove keyboard functionality because of it?

UWP apps are designed more than just Windows desktops. Just unplug  your controller.

[2019-10-25 21:28] JoshWobbles commented on #1496
Unplugging the controller causes the random scrolling. I did mention that just like I mentioned that it should be opt in, not removed....

[2019-10-25 22:08] michael-hawker commented on #1487
Great to see support for this already! 🙂

To add to the rationale based on the investigations @DavidShoe has been doing.  We've actually had issues trying to replace the default menu in its entirety as well. I'll coordinate with him next week after we ship the toolkit to file a bug with details on what we've tried and have had issues with there.

Thanks!

[2019-10-25 23:25] shaheedmalik commented on #1491
I mean that what happens when you turn all animations off. 🤷🏾‍♀️

[2019-10-26 00:01] mdtauk commented on #1491
How does the Win32 control look with animations off?

[2019-10-26 01:47] kaiguo commented on #1489
The ItemsSource binding was implemented in an async way initially, I tried removing it and everything seemed to be working just fine.

https://github.com/microsoft/microsoft-ui-xaml/blob/ed988d471e56464cc9f73c5b0a606a8a8df0d03c/dev/TreeView/TreeViewItem.cpp#L324-L337

@knightmeister Could you try the package produced in this [build](https://dev.azure.com/ms/microsoft-ui-xaml/_build/results?buildId

[2019-10-26 01:48] kaiguo commented on #1489
I uploaded the package here: [Microsoft.UI.Xaml.2.3.191026001-prerelease.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3774320/Microsoft.UI.Xaml.2.3.191026001-prerelease.zip)

[2019-10-26 03:35] be5invis commented on #1478
I am curious about whether WinUI team will **officially support** various cross-platform GUI frameworks (RN, Flutter, ...) to built over WinUI stack?

[2019-10-26 06:50] mdtauk commented on #1478
React Native for Windows will be built on top of WinUI

[2019-10-26 08:01] Nirmal4G commented on #1496
I have not seen these issues, when I use my controller on my PC (both laptop/desktop).

I play games sometimes in the middle of coding when I get stuck. When I get an idea or solution to my problem during the play, I'll switch to write code / note an idea using the chatpad on my controller (_sometimes, I'll even run a **quick** debug of the program using the controller with chatpad_), then I'll sw

[2019-10-26 08:12] Nirmal4G commented on #1496
@JoshWobbles

You see, the root of the problem is not the input device, it's the bugs. So, ask @microsoft to fix the bugs.

**Note**: People will always use something we create in ways we didn't even imagine or we didn't want them to.

Sure, you can argue that I have not got the resources to support the other input devices, you don't have to, you just need to adjust their behavior to your applicat

[2019-10-26 08:37] Nirmal4G commented on #1496
#### Update

I read the other issues, I see what you got there, when using input mapping, these issues do happen because both the mapping app and system process the input simultaneously.

#### What I would do

Since UWP Apps support XInput, you can blacklist them from the Mapping app. So that the mapping doesn't apply to those apps. Do they support blacklisting apps? If not, you can request them.

[2019-10-26 08:40] Nirmal4G commented on #1495
https://github.com/microsoft/microsoft-ui-xaml/issues/1496#issuecomment-546582991

[2019-10-26 08:44] Nirmal4G commented on #1478
### Why the rename from `Windows.UI.*` to `Microsoft.UI.*`?

I **REALLY** **REALLY** want to know. **PLEASE**

https://github.com/microsoft/microsoft-ui-xaml/issues/1045#issuecomment-513326079

[2019-10-26 11:27] joaodforce commented on #1495
I see your point, that would be a viable solution for some people.

However the problem I outline here is _**"Assuming that the user is not using his xinput device for something else its a bad User Experience, so this UWP auto map should be OPTIONAL"**_

This only further perpetuates the stigma of UWP Apps not being as popular, its because of the little things you know?

If this Mapping was System

[2019-10-26 11:28] joaodforce commented on #1496
https://github.com/microsoft/microsoft-ui-xaml/issues/1495#issuecomment-546594322

[2019-10-26 12:02] Nirmal4G commented on #1495
Yeah, I know. Microsoft is really bad at this. That's why many of their ideas fail at the entry level into the market. Vista, 8.x, Silverlight, DUI, WinFS, and much more.

[2019-10-26 12:16] Nirmal4G commented on #1495
To Windows team, UWP is the next application model after Win32. It's incomplete, yes... still in development, yes... Even for those reasons, they are not going to put a system wide settings to disable other input modals. WinUI can do it, if they want too, but if it does, it'll be a developers' choice for the app and not the users' choice for the whole system!

You could find a registry setting for

[2019-10-26 14:38] kmgallahan commented on #1478
@Nirmal4G

There aren't going to be any more UWP updates beyond security & critical fixes, per [the roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md):

You either develop for the legacy UWP UI framework, or WinUI 3.0 - hence separate namespaces make sense, as they aren't the same thing.

But, we'll see what the devs have to say that they haven't already said [her

[2019-10-26 16:52] shaheedmalik commented on #1495
The UWP version of Explorer is controller compatible. The old Win 32 version of Explorer isn't. It takes time to replace things.

[2019-10-26 16:53] JoshWobbles commented on #1495
The worst part is that it doesn't just iterate XInput devices, which are typically better behaved, but it also seems to apply to DirectInput devices enumerated. This is a pain for me because my HOTAS throttle and sliders seem to control the navigation meaning I have to carefully center everything before returning to Windows, it gets even worse if I unplug the device the scrolling will go crazy and

[2019-10-26 17:05] joaodforce commented on #1495
This only enforces my point. I'm not here to hate on Windows or Microsoft, I just want to help improve the products I use daily.

This issue is not an open invite to random opinions, it's a formal proposal directed to the Windows UI Development team. It is their job to take it in consideration or not.

@shaheedmalik start your own issue discussion thread.

If this does not affect you please get ou

[2019-10-26 18:08] Nirmal4G commented on #1478
@kmgallahan

You know, humans are people and people can tell **WHITE** lies.

The CShell Windows components use UWP XAML, Input and Composition. So, why (more accurately how) do they obselete it? More variants of the CShell (aka Windows 10X) are coming, It's a critical component of Windows.

Either they move the namespace to `WindowsInternal.UI.*` or `Windows.Internal.UI.*` inside the WinMD and ke

[2019-10-26 18:38] lukasf commented on #1478
@Nirmal4G

No one has said that UWP UI will be removed from the OS. UWP will have to stay in the OS for a very long time, since legacy apps (including OS apps and components) might still use it. The UWP APIs also won't have their namespace changed, since that would break all legacy apps. Everything stays as is now. Maybe in the long run, UWP UI APIs might be set to "deprecated". But since only Win

[2019-10-26 18:45] Nirmal4G commented on #1478
@lukasf

I'm sorry if you don't understand.

What I'm saying is that they were not being deprecated, they are saying that's the case, but its not true. All I'm saying is that they could be more honest (open) about their decision and we might surprise them with our ideas/solutions.

[2019-10-26 18:46] JoshWobbles commented on #1495
@joaodforce It all supports the proposal to be able to disable controller navigation, which if I am not mistaken is what you are asking for.

[2019-10-26 18:52] lukasf commented on #1478
@Nirmal4G They are being deprecated. Just because they are not removed does not mean they are not deprecated. Deprecated means you can still use it, but you should better use something different (usually something better).

And as you write it it sounds like UWP is the good UI stuff (which they hide from us like DirectUI) and WinUI is the bad UI stuff. The opposite is true: WinUI 3.0 when released

[2019-10-26 19:00] Nirmal4G commented on #1478
@lukasf

I'm just saying, let there be one UI library by Windows Team for Windows and friends. That's all.

Just increase the contact version and introduce a store `FrameworkDependency` msix/appx package similar to .NET Native framework, and we can all happily live ever after.

Everything you, they said but without changing namespaces.

[2019-10-26 19:04] JoshWobbles commented on #1496
@Nirmal4G I dont use a mapping app for my HOTAS, it is natively supported in games.

[2019-10-26 19:18] lukasf commented on #1478
@Nirmal4G Oh so the namespace change is what troubles you? Don't worry, when you switch to WinUI 3.0, you won't have to specify namespaces in XAML anymore. You can just use normal XAML names as you would with UWP XAML. The namespaces are only needed during transition, while you mix both WinUI and UWP UI in one app.

[2019-10-26 19:42] Nirmal4G commented on #1478
@lukasf

I know that. Still you have to change code-behind. I don't mind these at all. A good namespace change is always welcome. But here, we don't even need that change. It'll work as it is.

My Q is, Why the namespace change? Is it political (OSS / Windows Souce) or Technical. Please Explain in detail.

Because, I built a WinRT Component duplicating the standard namespaces and no, they don't cl

[2019-10-26 19:46] Nirmal4G commented on #1496
@JoshWobbles

I know, I was talking in general, the side of input modality in windows, you know how the system calls intercept from the input devices and send them through driver filter and all that...!

[2019-10-26 20:36] JoshWobbles commented on #1496
@Nirmal4G I think you may be referring to a double input, which I am not experiencing, the issue I am having is that my throttle and sliders map to what Windows believes is a X & Y and is trying to navigate start menu and etc based on the position of the throttle and my air brake slider. When the HOTAS is unplugged these values must default to the maximum even though the device is no longer presen

[2019-10-27 01:34] kmelmon commented on #1187
Confirmed this is a bug that was introduced in 1903.  There is a work-around, which is to set a very small rotation transform on your ViewBox.  The rotation will be so small that it won't have any visisble effect on screen, but this will disable windowed popups for its children, including the ComboBox popup.  Thus the bug will be masked.

Here's an example of how to do the workaround:

        <Vi

[2019-10-27 03:11] adrientetar commented on #1491
On the mac, they have stripe pattern for indeterminate state, which conveys it nicely imo.

![image](https://user-images.githubusercontent.com/1250894/67629008-ca43a580-f86f-11e9-8251-b2db3d7428ac.png)

[2019-10-27 10:27] thomasclaudiushuber commented on #1408
@clurch I was able to reproduce this issue. I think @ocalvo accidentally pointed you to a branch of the repo that does not exist anymore. This is the link from the master branch that works: https://github.com/marb2000/XamlIslands/tree/master/1903_Hands_On_Labs/Exercise01

What you can see there is that a XAML application object is created. When you look at the section **Creating the XAML applicati

[2019-10-27 13:54] mdtauk commented on #1478
I would expect from 20H1 onwards, applications compiled will be warned/moved to use WinUI, instead of the OS framework.  Like dot net Core over dot net Framework

[2019-10-27 16:32] zipswich commented on #1461
@robloo I will have a party to celebrate it when this happens.

@verelpode
I share the same concern probably more than most others.  I use much less open-source packages not backed major companies (e.g. Oracle, Google, Microsoft) than average.  I believe both of the following conditions have to be met for this to happen:
1.	Nventive closes its business.  Nventive relies on Uno for its bread-and-bu

[2019-10-28 08:51] JKennedy24 opened #1498 "Cannot discover whether a Keyboard is attached to a Surface device in a UWP app"
As advised from this issue:
https://github.com/MicrosoftDocs/windows-uwp/issues/1977

I am now posting this here for a response:

I have a UWP app running on a surface pro device and I am trying to tell if a keyboard is attached to the device (this is the surface pro keyboard so attaches to the bottom, not usb) so that my application can go down different code paths.

Here is the list of things I

[2019-10-28 09:27] GeorgeS2019 commented on #996
There has been progress made with #686. Members who are interested on gITF 3D model viewer do contribute new issues to [#686](https://github.com/microsoft/microsoft-ui-xaml/issues/686)

[2019-10-28 09:38] GeorgeS2019 commented on #686
Godot receive [grant ](https://godotengine.org/article/george-marques-will-be-working-full-time-project) from Microsoft! Excellent!  C# will be further supported in the next Godot 3.2 version. gITF for skeletal animation import will be further improved in 3.2.  Godot export to UWP uses Angle. However, to have a 3D Model Viewer UI control, we still need the work on going with #686

[2019-10-28 15:08] shaheedmalik commented on #1478
Windows 10X and Windows Core are going to be running on WinUI 3, that's why they are delayed until 2020 as 20H1 with WinUI 3.0 isn't available yet.

[2019-10-28 15:17] mdtauk commented on #1478
So some clarity on **when/if the Windows team will adopt WinUI 3.0 for it's inbox apps and the Composable Shells - and when Windows.UI.Xaml will be deprecated by Internal teams?**

[2019-10-28 17:12] jevansaks commented on #1489
@kaiguo sounds like this should be changed to a bug?

[2019-10-28 17:42] jevansaks commented on #1498
@jkennedy24 Our platform tries to encourage you to think not just about one device since your for WinUI could run on desktop, xbox, surface, hololens, etc.

I think a more "universal" way to ask your question might be: "If I were to put focus in a TextBox right now, would the software keyboard show up"?

If you had an answer to that question, would it help your scenario?

[2019-10-28 17:59] kmahone commented on #890
Hi @Sergio0694, sorry for the lack up updates on this.

The issue is due to some problem with the interaction between WinRT weak references with .net types derived from WinRT types.

Unfortunately, I have never been able to reproduce this crash - I tried on multiple devices including a Surface Pro 4.  I have been able to get crash dumps though which shed some light on the problem. One thing that w

[2019-10-28 18:21] anawishnoff opened #1500 "Discussion: Modern WinUI DataGrid - Input Needed"
# Discussion: Modern WinUI DataGrid

Hey community members! We've seen that DataGrid has been a valuable piece of the Windows Community Toolkit for many of you and we are interested in graduating it to a native WinUI control (!!). I need your help to figure out what would be needed to make a full-scale DataGrid the best it can be.

I want to hear your input on all things DataGrid. To get started,

[2019-10-28 18:22] jaredhms opened #1501 "Setting AnimatedVisualPlayer to loop doesn't do anything if it's already playing"
I'm implementing a version of ReactNative's LottieView for Windows.  The Play command can come through just before the prop update to set Loop to true.  This works properly on other platforms, but special care must be taken with AnimatedVisualPlayer to ensure that:

a) The animation starts to loop.

and

b) The animation completed event does *not* fire for the short-lived animation that played bef

[2019-10-28 18:24] jaredhms opened #1502 "AnimatedVisualPlayer doesn't appear to allow playing animations in reverse"
LottieView allows you to invert the start/end frames to play the animation in reverse.  However, AnimatedVisualPlayer doesn't appear to support wiring this up.

Here's how it's handled on Android, but I don't see a way to support this functionality on Windows:
https://github.com/react-native-community/lottie-react-native/blob/efd58fab776c2043775f16a07d57e7893acff1fb/src/android/src/main/java/com/a

[2019-10-28 19:30] mdtauk commented on #1500
More viewmodes.  Take a look at File Explorer and it's Icon views.  The DataGrid should be able to show icons/items in a grid with grouping, as well as the headed rows and columns.

I know this may not be possible, or out of scope - but it is an aspect of WinUI vs Win32 that isn't as easy as 1:1 - and a modern version of File Explorer, or the Common File Dialogs - may have need of such a control.

[2019-10-28 19:47] Pinox commented on #1500
My wishlist :  to me a good datagrid includes all the following features by default. I'm borrowing some screenshots from the html world.

Easy filter the whole page with preferred row count.

![1](https://user-images.githubusercontent.com/5297255/67711215-2ae6f580-f9ca-11e9-8b09-97c66a1cdc0a.PNG)

Select / Deselect Visible Columns , Column Sorting , Copy , Print

![2](https://user-images.githubuse

[2019-10-28 20:03] ArchieCoder commented on #1500
A good starting point is looking at your partner Telerik with their RadDataGrid (UWP Open Source). With one of my clients, I used it and it actually works well. It is hyper fast and versatile. The only thing that is difficult is their code, there is no way to modify anything from their engine without a good comprehension of the architecture.

I would expect the new DataGrid to be as performant as

[2019-10-28 20:12] YuliKl commented on #1491
That is nice. Maybe we can combine @mdtauk's four frames into a static "dashed-line" feel.  The gradient feels a little out of place relative to the other states of the control.

[2019-10-28 20:38] duke7553 commented on #1500
I'm very glad to see the WinUI team is considering a DataGrid control.

The most substantial improvements I'd like to see from a new control to replace the Toolkit DataGrid:
- The ability to retrieve a DataGridRow by index
- Events specific to the DataGridRows themselves. For instance, DoubleTapped and RightTapped.
- Smooth scrolling
- Input validation for cell renames
- A DataGridColumn designed

[2019-10-28 20:49] jesbis commented on #1478
Hi all,

We uploaded a recurring event you can add to your calendar here (.ics):

https://aka.ms/WinUICommunityCall

or

https://microsoft.github.io/microsoft-ui-xaml/communitycalls/WinUICommunityCall.ics

We're hoping you can all make it on Wednesday! (or watch a recording after)

[2019-10-28 21:30] simeoncran commented on #1502
To play in reverse, set the playback rate to -1.
See: https://docs.microsoft.com/en-us/windows/communitytoolkit/animations/lottie-scenarios/playback
The design is intended to allow playing of sections of loops that roll over the end point in either direction. The sign of the playback rate determines direction. The start and end points determine the start and end points.

[2019-10-28 21:48] #1502 closed

[2019-10-28 22:03] simeoncran commented on #1501
The work you're having to do to manage the state of the player is a reflection of the Windows architecture: the animations are being calculated and rendered in another process (DWM) using Windows.UI.Composition animations. Looping isn't something that can be changed on the fly - it requires a reconfiguration of the animation once it has been started.

Handling it the way you are seems reasonable,

[2019-10-28 22:10] jaredhms commented on #1501
By fragile, I mean that AnimatedVisualPlayer could more easily handle this 'gotcha' internally (even if that means replacing DWM commands) than it was for me to figure out the right pattern here.  An official ReactNative implementation is not currently possible due to the need to code gen the animations.

[2019-10-28 22:23] azchohfi commented on #284
Win2D now supports ARM64 https://www.nuget.org/packages/Win2D.uwp/1.24.0

[2019-10-28 22:25] licanhua commented on #1349
spec: https://github.com/microsoft/microsoft-ui-xaml-specs/pull/50

[2019-10-28 22:31] simeoncran commented on #1484
This is by design. This mimics the behavior of most media (e.g. sound and movie) players.

A PlayOnNextLoadAsync could be added to give the behavior you want, however we figured that most scenarios that use asynchronously loaded content need finer control over what happens if the asynchronous loading doesn't complete on time or as expected. I.e. it's usually simpler to wait for loading, then play,

[2019-10-28 22:38] simeoncran commented on #1501
Is there an API that you would like added to AnimatedVisualPlayer that would satisfy this?

[2019-10-28 22:58] simeoncran commented on #1480
This seems to indicate that OnLoaded was called, but there was no OnUnloaded before the destructor ran. The failfast there is there to assert that this is not a valid state. @jevansaks  - is this state actually expected?

[2019-10-28 23:02] adrientetar commented on #1491
I mean the gradient is reminiscent of Vista-era indeterminate progress bar.

![image](https://user-images.githubusercontent.com/1250894/67724468-5f18e100-f9df-11e9-82b2-60662ed6adeb.png)

So to me at least, it's not unfamiliar.

[2019-10-28 23:27] jevansaks commented on #1480
Yes, this is a problem that the XAML framework has had for a while. IIRC Loaded fires async but Unloaded is sync so you can get out-of-order and also inconsistent number of events. In RS5 framework added the IsLoaded property which I believe can be used as a replacement to get more reliable event ordering. Or maybe not a replacement but in conjuction with? @ddalp @mikehillberg where did this end u

[2019-10-28 23:41] jaredhms commented on #1501
The API seems fine to me, but it would be great if updating the loop value would update the internal state even if that means kicking off a new set of composition calls _internally_.

The out-of-order play call and property updates from the below code are by design in react native, yet the Android and iOS implementations handle this calling pattern without any issues.

            <LottieView

[2019-10-28 23:58] stmoy opened #1503 "ReorderThemeTransition doesn't work"
**Describe the bug**

(Originally filed by @DRAirey1 here: https://github.com/microsoft/uwp-experiences/issues/52)

There are no examples anywhere in the internet that show ReorderThemeTransition working. Tried to wire it using this example:
[code]

The insert and delete animation work just fine, but when I execute:
`
     observableCollection.Move(5, 2);
`
from a button, I get a reset of the list

[2019-10-29 02:03] shaheedmalik commented on #1185
That final logo turned out great. It really pops.

[2019-10-29 02:31] NoahFeller commented on #1500
The option to have an edit button which puts draggable icons next to each row to move the order would be a useful feature. It would also be great to see some shadows behind the row being lifted up and moved (since one of the main Fluent attributes is depth). Small up and down arrows might be good next to the dragging icon to move the rows more easily with mouse input.  If a row is moved using the

[2019-10-29 02:34] yaichenbaum commented on #1500
@NoahFeller That type of action makes more sense for a List View. With a Grid view you are not rearranging the order, there should be sort options but the user is not dragging things around.

[2019-10-29 02:44] NoahFeller commented on #1500
***Edit**
After thinking about it a little more, I do see how such an option can be useful. However, I definitely don't think this should be the default behavior.

Yeah you're probably right @yaichenbaum. I was envisioning those suggestions as the ability to do a custom sort and I thought dragging might be useful for that. So I agree, definitely not default but it might be pretty useful as an opti

[2019-10-29 02:53] Nirmal4G commented on #1496
HDR and Dolby Atmos are known issues, so they'll fix them by next major update.

[2019-10-29 02:56] Nirmal4G commented on #1496
This, they can do a fix.

[2019-10-29 04:19] shaheedmalik commented on #1491
If not @mdtauk design, maybe something like this?

![image](https://user-images.githubusercontent.com/51347950/67737486-b8820f80-f9e1-11e9-9995-4b48670b2c72.png)

[2019-10-29 04:27] Laz3rPanth3r commented on #1500
The simplicity of the WPF datatable to datagrid function. I've actually been fighting for the past week or so trying to get a UWP datagrid to work how I had it in WPF where I could just bind a Datagrid to a Dataview, then fill the Dataview from SQL with a datatable.defaultview. The grid then just displayed the data table. It was amazingly simple to do, and UWP so far has made this ridiculously com

[2019-10-29 05:55] mdtauk commented on #1491
I get the idea behind it, but it does kind of look like a glitch

[2019-10-29 08:00] sockfish commented on #1500
make it cross platform

[2019-10-29 08:52] JKennedy24 commented on #1498
@jevansaks  **My issue is -** when I focus a textbox the keyboard pops up and covers the textbox I am typing into.

**my solution is:**
if the keyboard is not attached (i.e. the popup keyboard is going to display) then show a popup page with a textbox in it to allow the user to type into.

**problem**
You state:

I understand the point you make, but I know my app will only ever run on a desktop/su

[2019-10-29 11:12] verelpode commented on #1494
Hi @kikisaints, thanks for the quick reply.

Correct.

Correct.

There's a typo in that point.  The typo can be correct as follows:

"If IconSource's sizing behavior operated in a similar way to how Image and ImageSource work, it would mean that ~~FontIconSource~~ the property `FontIconSource.FontSize` is practically obsolete, because ...."

The `FontIconSource` class is a good idea; don't throw i

[2019-10-29 11:25] verelpode commented on #1494
# Library of icons in app (re ResourceDictionary)
I remembered another important part of this issue.  When using `PathIconSource`, obviously every app needs to store a collection of all the icons that the app uses (icons as paths/geometries in the case of `PathIconSource`).  This should be super simple to do because WinUI already supports the excellent `ResourceDictionary` feature.  Therefore, our

[2019-10-29 12:39] keeganatorr commented on #1500
I would like to request a single cell selection mode, excel style.
The ultimate goal being a mode with the exact behaviour as a WinForms DataGridView.

[2019-10-29 13:47] Felix-Dev commented on #705
Any updates on this? Experiencing the exact same problem.

[2019-10-29 14:07] JoshWobbles commented on #1496
I'm not holding my breath, been a mess for over a year now lol

[2019-10-29 14:18] chiefklondog commented on #1500
Having an assortment of virtualization options that can support different use cases (From plain scrolling virtualization options like recycling to other concepts like data paging)
Often (In similar desktop controls that support this) some of these options begin to fail when used with custom templates for columns with unique data. The more they can support in those cases, the better.

[2019-10-29 14:25] mdtauk commented on #1500
If at all possible, the Paging Control #268 proposal, should be synced, and any hooks required be added to the DataGrid control.

[2019-10-29 14:29] maxkatz6 opened #1504 "Proposal: Add more build-in StateTriggers"
# Proposal: Add more build-in StateTriggers

## Summary
Add more StateTriggers that can be used in VisualStateManager-driven UI development.

## Rationale
* Make VisualStateManager more usable and flexible
* Reduce needs of custom StateTriggers, when they can be build in
* WPF hasn't any kind of StateTriggers, so it should with WinUI 3.0 support

## Scope
| Capability | Priority |
| :---------- |

[2019-10-29 14:32] mdtauk commented on #1504
Devices like Surface Duo and Neo should be considered when designing new Triggers.

And if WinUI apps were ever to become a cross platform option with Android, then Triggers to support system calls should also be considered...

[2019-10-29 14:33] Tirraon commented on #1504
I have also found some StateTriggers in Windows Calculator repository:
https://github.com/microsoft/calculator/tree/master/src/Calculator/Views/StateTriggers

[2019-10-29 14:34] Tirraon commented on #1504
Agree, DeviceFamilyStateTrigger from WindowsStateTriggers already supports something like that: Desktop, Mobile, Xbox, Hololens, but without Duo/Neo, because they were not exist in 2016.

[2019-10-29 14:54] Tirraon commented on #1504
There is already created issue to improve StateTriggerBase: https://github.com/microsoft/microsoft-ui-xaml/issues/1460

[2019-10-29 15:03] Tirraon commented on #1504
After some research I have found, that @dotMorten has started porting WindowsStateTriggers to https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3030

I am not sure, how features are distributed between WinUI and CommunityToolkit. And are they related at all.
So I will leave this issue at least for discussion.

[2019-10-29 15:41] robloo commented on #1500
This is good news! I've been waiting for something official on the DataGrid front for a while ever since it appeared in the community toolkit. This is really the last control missing from WinUI 3.0 that the community toolkit doesn't have a good alternative for.

First, please, don't reinvent the wheel. As a base start with the WPF implementation of the DataGrid (I know you can't use the code but p

[2019-10-29 16:02] jevansaks commented on #1498
Thanks for clarifying! This should automatically work in XAML apps. There is a feature where TextBox with focus should scroll into view and even if you don't declare a ScrollViewer there is a magic RootScrollViewer that appears at the root of the window to scroll the whole window contents if it has to.

So just to check, which OS version are you running on?

And are you able to share a repro app o

[2019-10-29 16:09] jevansaks commented on #705
@stephenlpeters is picking up RadioButtons and can look into this as part of that work.

[2019-10-29 17:02] chigy commented on #1126
Poopooracoocoo , sorry I do not understand the issue you are pointing out. Can you elaborate?

[2019-10-29 17:15] dotMorten commented on #1504
@Tirraon I'd personally like to see 1460 you linked to addressed first, as this opens up the ability to create much more advanced triggers. I really don't care where the set of extra triggers live, but I'd lean towards the community toolkit and keep the main WinUI framework leaner and meaner.

[2019-10-29 17:44] teaP opened #1505 "Feature: NumberBox (dev tracking)"
Tracking for #483

- [x] Initial checkin after preliminary cleanup
- [x] Reimplement AcceptsCalculations et. al. Some notes for the current implementation:
    - [ ] Negative not supported in front of parens, e.g. "2 * -(3 + 2)"
    - [x] (3) doesn't evaluate to 3.
    - [x] -2 - 5 doesn't evaluate to -7.
    - [x] 5.09 + 14.333 = 19.423000000000002, why
    - [x] . needs to be globalized
    - [x

[2019-10-29 18:28] chingucoding commented on #1126
@jevansaks I would happily help out with that, when it is clear what exactly should be done :)

@chigy I think @Poopooracoocoo is referring to the fact that the button does not have a lighter gray when it has reveal visual applied to it and the user hover overs the button.

[2019-10-29 18:44] jaredhms commented on #1484
There are enough knobs/toggles here to allow for more advanced usage if/when needed, but I don't understand why set source+play isn't the 'golden path' for this API, since that allows you to pick up the API and use it with little to no friction.

More advanced developers can worry more about timing, but I'd expect that most developers won't need to worry about it. Our use case is tied into React N

[2019-10-29 19:31] zadjii-msft commented on #1386
To throw 2¢ in from the Terminal team:

This is definitely a feature I'd look for as well. One thing we want to support in the future is the [ConEmu "progress" VT sequences](https://conemu.github.io/en/Progress.html#progress-on-windows7-taskbar), which can be used for setting the "taskbar progress status" for the terminal. Since we could have multiple tabs, each with their own progress status, I'd

[2019-10-29 20:16] verelpode commented on #1494
# Classes were not updated for IconSource

When the `IconSourceElement` and `IconSource` classes was created in WinUI in order to replace the defective `IconElement` subclasses, unfortunately various other classes were not updated accordingly.  They should have been updated at the same time as when `IconSource` was released.  For example, in order to update `MenuFlyoutItem`, this needed to be done

[2019-10-29 21:27] teaP opened #1508 "TabView: Close, <, and > button need accessible names"
Copied from VSTS bugs 23644886 and 23644967.

[2019-10-29 22:48] jaredhms opened #1510 "AnimatedVisualPlayer.PlayAsync often completes before the animation is actually finished rendering/animating"
One of our animations is performed in 3 phases: 1. Play the 'inrto', 2. Loop in the middle, 3. Play the 'outro'.

It often works fine, but other times the 'intro' phase completes almost immediately.

Phase 1: Play from 0.0->43.333
Phase 2: Once phase 1 completes, loop from frames ~43.333->80.00
Phase 3: Upon an external trigger, animate from ~80.00->100.0

The problem is that we're often seeing 'p

[2019-10-29 23:36] ZhaoMJ opened #1511 "TabView: Closing a tab is not as good as the Chromium Edge"
**Describe the bug**
The animation when closing a tab is not consistent and looks strange compared to Chromium Edge. Sometimes there will be no animation and sometimes after closing a tab, all tabs disappear and then reappear with very strange animation. (See my gifs below.)

**Steps to reproduce the bug**
1. Open an app using TabView.
2. Open a few tabs.
3. Close some of them.
4. Observe the anim

[2019-10-29 23:47] licanhua opened #1512 "Allow user to disable the compilation of Compact.Xaml to avoid XamlCompiler error WMC1007: Cannot resolve 'Windows.metadata'"
I can't use WinUI framework package in ReactUWP project because I run into `XamlCompiler error WMC1007: Cannot resolve 'Windows.metadata'`.

ReactUWP itself is a DLL (Univeral Windows – C++/CX) project.  From the Xaml compiler's team, currently Xaml+Native DLLs is not a supported scenario since we don’t produce a .winmd to get metadata from.

In framework package, Compact.xaml is injected into the

[2019-10-30 00:05] shaggygi commented on #1478
@jesbis

Why couldn't this be part of [.NET Foundation on YouTube](https://www.youtube.com/channel/UCiaZbznpWV1o-KLxj8zqR6A) and streamed live like the other shows?

//cc @jongalloway on thoughts/help

[2019-10-30 00:50] shaheedmalik commented on #1511
Terminal is running on a prototype version of Tab View, not the current WinUI version.

You'd probably be better off posting the terminal feedback at the on the Terminal GitHub.
https://github.com/microsoft/terminal

Chrominum Edge isn't the same TabView as the one running on XAML, if I am correct.
The WinUI team are working on a new TabView
Here's the issue for it: https://github.com/microsoft/mi

[2019-10-30 02:23] mdtauk commented on #1511
The point to take from this issue is that the closing animation for the TabView should either match Edgium's or be smoother/better.

[2019-10-30 02:34] mdtauk commented on #1386
When/If the status bar gets added to Terminal, this would also be a good place to display a progress element.

[2019-10-30 03:09] ZhaoMJ commented on #1511
@shaheedmalik
Thanks for your info. However, I just checked the source code of Terminal, and I believe they've moved to UI.Xaml.2.2.190917002. Moreover, this seems not a Terminal-only problem for me since I can see the closing animation of TabView in XAML Controls Gallery is not good as well. Here are some examples:
The animation is missing when closing tabs too fast.
![xaml1](https://user-images.

[2019-10-30 04:07] jesbis commented on #1478
Thanks for the suggestion!

WinUI isn't specific to .NET and isn't a .NET Foundation project, but we'll make sure we can host the recordings somewhere.

We'll be streaming live through the Teams call if you'd like to join!

[2019-10-30 04:45] mdtauk commented on #913
Just seen this screenshot of Cortana...
![image](https://user-images.githubusercontent.com/7389110/67829647-e9407280-facf-11e9-8ab0-4b4a896f6203.png)

[2019-10-30 05:03] SavoySchuler commented on #483
# [Initial commit of NumberBox live now!](https://github.com/microsoft/microsoft-ui-xaml/pull/1507)

PLEASE - Keep in mind this is still a work-in-progress with active issue tracking on both the [dev](https://github.com/microsoft/microsoft-ui-xaml/issues/1505) and [PM](https://github.com/microsoft/microsoft-ui-xaml/pull/1507#issuecomment-547734915) side of things. If you see bugs or general loose

[2019-10-30 08:51] surzoprovakar commented on #1470
Will it be fixed at later update version?

[2019-10-30 12:03] electronic-dk commented on #1511
IMHO, the WinUI TabView's closing animation is better than Chromium Edge's (as long as it's working consistently). So I'd rather have the Chromium Edge's animations match WinUI TabView's animations (as soon as they're fixed) than the other way around.

[2019-10-30 14:05] verelpode commented on #719
This WPF features issue has turned into a useful reference/list of the missing features.  Here's another one for the list:

In WPF, you can use `PathGeometry` in a `ResourceDictionary` XAML file.  For example, you can use it to store the various icons/symbols that your app needs.  Unfortunately, the WinUI XAML compiler produces an error message when it tries to compile `PathGeometry` (it compiles

[2019-10-30 14:29] mdtauk commented on #1386
Sure, I mean one implementation of progress, can power both controls.

That would mean as well as the loading of a Tab powering the Progress Ring, there would need to be control events/methods to control the Progress Ring when it is visible.  And it will need a progress value to be passed, as well as an indeterminate implementation.

[2019-10-30 15:49] verelpode commented on #1500
Suggested new events, and some improvements to preexisting events:

| Event | Comments |
| :--- | :--- |
| `ContextRequestedForColumnHeader` | To support showing a context menu (or other flyout) when a column header is right-clicked.  The same as `Windows.UI.Xaml.UIElement.ContextRequested` but for column headers instead of the entire DataGrid. |
| `ContextCanceledForColumnHeader` | The same as `W

[2019-10-30 16:56] simeoncran commented on #1510
@jaredhms any chance of a simple repro?

[2019-10-30 17:09] Felix-Dev commented on #304
@marb2000 @SavoySchuler @jesbis @jevansaks

Pinged everyone one of you guys from the recent community call 😁
About technical acrylic titlebar support in Xalm Islands (Windows Terminal), see my posts above and which were already partly answered by @stmoy

Here are three of the main points taken from my posts and the replies above:

Reply by @stmoy:

My question:

Thanks for answering 😁

[2019-10-30 17:14] jevansaks commented on #1511
I think we're using the stock ThemeTransitions here but I agree they don't look great and seem to have many glitches. @chigy is there a motion comp for the tab animations?

[2019-10-30 17:15] jevansaks commented on #1512
@licanhua can I give this to you since you added that file and have the most context on how to fix it? :)

[2019-10-30 17:33] jesbis commented on #1478
Thanks everyone who was able to call in to our first community call! We really appreciate the interest, questions and feedback.

We're working on the recording for anyone who wasn't able to call in.

**Please do fill in the survey to let us know if you have any feedback on the format or content:**

**https://aka.ms/winuisurvey**

[2019-10-30 17:37] verelpode commented on #1500
@dotMorten

I wish for that as well.  In order to assist with supporting a million rows (and I mean assist, not necessarily the complete solution), I suggest that DataGrid should make its current **data-binding** technique optional.  I believe currently data-binding is mandatory (unless my knowledge is no longer up-to-date with the latest version of DataGrid).  DataGrid shouldn't require use of `W

[2019-10-30 17:53] chigy commented on #1511
@jevansaks , no I don't have it and will see if there is something I can gather.

[2019-10-30 18:04] chigy commented on #1126
@chingucoding , @Poopooracoocoo , @jevansaks ,
Checking with design because this is part of improving reveal visual discussion.

[2019-10-30 20:07] hemantbajpai4 opened #1515 "Failed to navigate to a XAML View page by using HyperlinkButton"
Affected Branch: master
Affected Build: 29422.223
Affected SKU: ENT
Affected Product Language:  EN
Operation System Information:19h1
Machine: XETLAB030(10.195.200.193）
Workloads:.NET desktop development + Universal Windows Platform development

**Steps to reproduce**:
1. Create a C# Blank App(Universal Windows).
2. Right project->Add new item->Try to add a XAML View to the project and named it as

[2019-10-30 21:01] #1245 closed

[2019-10-30 21:25] totallymonkey opened #1516 "Calling FindNextElement with Direction as Next or Previous on FocusManager with FindNextElementOptions throws exception"
**Describe the bug**
When trying to find the next focusable element using FindNextElement on FocusManager, you can't provide FindNextElementOptions with a SearchRoot if using Next or Previous as the Direction.

**Steps to reproduce the bug**
1. Populate a FindNextElementOptions structure with a SearchRoot
2. Call FindNextElement on FocusManager, provide the options and specify Next or Previous as

[2019-10-30 21:37] anawishnoff commented on #1500
First off, wow!! Thanks so much to everyone who's contributing their ideas. I have a few specific responses below, but overall I wanted to say that I am saving a ton of these comments and really enjoying hearing how we can build an awesome modern DataGrid. Keep it coming!

@Pinox thanks so much for that detailed response and the screenshots. Your wishlist is awesome (especially those cool animatio

[2019-10-30 21:46] kmgallahan commented on #1516
As [the `FindNextElement` docs state](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.input.focusmanager.findnextelement):

So not a bug.

[2019-10-30 22:00] verelpode commented on #1500
Thanks for the great work on DataGrid and the request for feedback!  Here are a few more suggested enhancements.

## Need more subclasses of DataGridColumn

The current subclasses/implementations of `DataGridColumn` are insufficient.  I suggest making the following new subclasses of `DataGridColumn`:

| Proposed Subclass | Description |
| :--- | :--- |
| DataGridIconColumn | A common requirement i

[2019-10-30 22:39] Austin-Lamb commented on #1516
My team added this API and it's a bug that we don't support these two directions, moving this to my team.  We'll look at addressing this in WinUI 3+.

[2019-10-31 00:17] shaheedmalik commented on #1478
@jesbis I mean in addition to for the replay.

I had a bit of trouble setting up Teams for it when I really just wanted to listen in.

[2019-10-31 00:50] verelpode commented on #1500
## Get and set sort-order in one hit
When apps are opened and closed, they need the ability to save and restore the end-user's configuration of the DataGrid, including the sort order and other settings.  Sort order meaning the list of columns that were selected by the user.  Note this is a list, not a single column.  More than one column may be selected simultaneously, meaning the primary column f

[2019-10-31 02:10] yaichenbaum commented on #559
@SavoySchuler tagging you since I don't remember who it was on the Win UI call told me to tag here. Whats going on with this issue?

[2019-10-31 06:31] Nirmal4G commented on #1478
You could ask @shanselman and @jongalloway for format on Community Standups. I really like their format. Me and many others expressed interest on bringing the similar format across .NET, they delivered.

If you need some guidance, you could ask them and others hosting the .NET Community Standups. Including @Golnaz89 who's been there since the ASP.NET Community Standup moving into M$FT Ch9 studio.

[2019-10-31 07:40] mdtauk opened #1517 "Discussion: WinUI 3.0 and XAML Performance"
# Discussion: WinUI 3.0 and XAML Performance

During the WinUI community call, there was a comment about improvements coming to the performance of XAML Rendering with WinUI 3.0

I thought I would start a discussion thread where people could collate performance quirks they have come up against, but for my own view, I would just like to ask if the team working on it, could write up some blog posts t

[2019-10-31 09:43] thomasclaudiushuber commented on #1500
Wow, incredible discussion here. ❤️

I also agree to the WPF DataGrid API. The WPF DataGrid is really the DataGrid I want for WinUI 3.0.

But even that WPF DataGrid lacks some features. In the past, most of my customers used a more powerful 3rd party DataGrid to get these features:
- Filters in the Column Headers
- A complete filter row at the top of the DataGrid
- Powerful display of hierarchical

[2019-10-31 10:39] WrongBit opened #1518 "Too tricky explanation of Win32 support"
Knowing MS style of "avoiding inconvenient facts", I want to see in description of WinUI **explicit declaration** what Windows versions will be supported.
As everybody knows, Win10 fails in many aspects and TONS of people still sit in Win7x64. I want to know will WinUI work on Win7 and all necessary details if this "support" will be limited/tricky some way.

[2019-10-31 10:59] mdtauk commented on #1518
WinUI is Windows 10 onwards.

I think it will support the Creators Update (**15063**) onwards.  But it is possible that as a new version of Windows 10 comes out, the lowest supported version may be dropped.  So that would be roughly 3 years of previous versions supported with each release.

As for the details of precise Win32 support - we will learn more during Ignite this coming week.

Windows 7

[2019-10-31 11:32] Poopooracoocoo commented on #1126
@chigy in those two screenshots I have transparency effects enabled so they should be the same. Speaking of that setting, it's very confusing and doesn't imply that it disables reveal or shadows and I've commented on the latter before. Personally, I think the outline feels unique to Windows 10.

[2019-10-31 11:46] WrongBit commented on #1518
@mdtauk : I do NOT need to upgrade, you miss the point. Avoiding Win10 is intentional, because I don't want my PC to have buggy, ugly, spying rubbish.

Tech Q: What "exciting and unique" you have in Win10 that your GUI lib(!!!) cannot work on Win7? Obviously if your lib so "independed" from platform, there is no any problem to support it on Win7. Moreover: Win10 is FAR from be the dominating OS, a

[2019-10-31 11:50] mdtauk commented on #1518
The short answer is that WinUI relies on the underlying OS, even in it's decoupled state.  WinUI is the UI framework, and can be updated faster than the OS.

As for your views about Windows 10, you are entitled to believe what you like, but Windows 7 is coming to an end, and if you do not wish to remain a Windows user, there is macOS and various forms of Linux, for you to choose from.

I however s

[2019-10-31 11:59] kmgallahan commented on #1518
@WrongBit Review the [Microsoft Open Source Code of Conduct](https://opensource.microsoft.com/codeofconduct/).

This isn't some Reddit thread for you to vent.

[2019-10-31 12:32] harvinders commented on #1478
@jesbis
The survey asks the question

 Attended
 Watched a recording
 Didn't attend or watch

However, I could not find any links here to the recording. Could someone please post the link to the recording.

Thanks

[2019-10-31 12:47] WrongBit commented on #1518
@mdtauk : I don't know what exactly you count "disingenuous" - don't I look fair in my valuation of Win10?? Shortly, it's THE WORST system MS made (after Millenium). That's why I feel disappointed(angry) that you support Win10 and WITHOUT ANY REASON drop support for Win7.
The fact I cannot call MS to support Win7 DO NOT means 3rd party products (like your) should drop support too. Actually only MS

[2019-10-31 12:51] WrongBit commented on #1518
@kmgallahan : Sorry, but speaking about "professionals" better TO BE professional. I have doubts you are, because you miss absolutely tech question, which I can cite AGAIN:

And funny, but NOT A SINGLE ANSWER were given by... hm... "professionals". Maybe you will?

[2019-10-31 12:57] Tirraon commented on #1518
So, that's answer. You just do not need "features from win10" like WinUI.

[2019-10-31 12:57] kmgallahan commented on #1518
@WrongBit I have no desire to provide a professional response based on your attitude. You really need to take a step back and consider how you present yourself publicly.

[2019-10-31 13:51] kmgallahan opened #1519 "SplitButton & ToggleSplitButton's chevron gets clipped when text scaling >= ~200%."
**Describe the bug**
The SplitButton & ToggleSplitButton each use a chevron for their dropdown menu, and it gets clipped when text scaling is set high enough (~200%). Preceding that it goes off-center to the left more and more.

**Steps to reproduce the bug**
1. Set text scaling to 200% or 225%
2. Open the XAML Controls Gallery
3. View the SplitButton and/or ToggleSplitButton

**Expected behavior*

[2019-10-31 14:04] kmgallahan opened #1520 "CheckBox & RadioButton labels become off-center when text scaling >= ~150%."
**Describe the bug**
The built-in text labels for both the CheckBox and RadioButton controls gradually gets more and more off center as the system's text scaling % increases.

**Steps to reproduce the bug**
1. Set text scaling to 150% or higher
2. Open the XAML Controls Gallery
3. View any of the CheckBox or RadioButton controls

**Expected behavior**
The text labels should remain aligned.

**Scre

[2019-10-31 14:36] mdtauk commented on #1518
@WrongBit  WinUI has dependencies on APIs, code, and systems that were built for Windows 10, and require Windows 10 to function.

WPF and WinForms frameworks are there and open which support Windows 7 for the time being.  These frameworks were supported when Windows 7 was being developed, and this is why support is being maintained, but WinUI is the WinRT/UWP core that was built for Windows 10, an

[2019-10-31 14:37] mdtauk commented on #1478
@harvinders  Perhaps wait until the recording has been made available, before submitting your survey?

[2019-10-31 14:44] adrientetar commented on #1519
Yeah I'm not sure about that IsTextScaleFactorEnabled workaround, although it's in the guidelines apparently I mean say you're on 300 or 400% scaling it means you have a large text with a very small icon? I would think allocating more space is the proper resolution indeed.

[2019-10-31 14:54] kmgallahan commented on #1519
@adrientetar The Settings app's slider only goes up to 225%.

Although there might be a way to go higher elsewhere (registry?), I'd consider 225% to be the highest "supported" text scale factor that all stock controls should take into consideration. That is to say, although it might not look optimal at 300-400% scaling, it looks fine enough for lower values.

A quick fix is better than doing nothi

[2019-10-31 15:12] verelpode commented on #1500
@thomasclaudiushuber

Agreed!  In our case, DataGrid is a critically essential component that we use in multiple places and cannot live without.

I'm torn on that topic because -- like you -- I would find a hierarchical DataGrid useful in some situations, but my concern is that if DataGrid does implement hierarchical functionality, then it could become excessively complex and difficult, and the re

[2019-10-31 15:25] mdtauk commented on #1478
Also this? #804

[2019-10-31 15:47] verelpode commented on #1500
@Pinox

@thomasclaudiushuber

Filters would be great for helping end-users quickly find a row or rows, instead of the current situation of being forced to manually look at a large number of rows to find what they're looking for.

But what about the problem of matching the user's filter text with non-text columns?  Meaning columns other than `DataGridTextColumn`, such as filtering with `DataGridTem

[2019-10-31 16:14] jevansaks commented on #1518
@WrongBit please refer to the [Code of Conduct](https://opensource.microsoft.com/codeofconduct/), specifically the Be Respectful section. This is not the right forum to complain about Windows 10 in general.

It is true that Windows 7 is still in use. But it goes out of support soon and so WinUI won't support it either.

[2019-10-31 16:14] #1518 closed

[2019-10-31 16:19] RUSshy commented on #1478
no, what you want is a "new" language

what i suggest is no new language, just C#

reason why SwiftUI/Flutter/Compose works is because you only have to learn and use 1 and only 1 language

so in order to achieve this, C# needs to implement new features to allow writting DSLs easily and more powerful

why just one language ?

- Less dependencies
- Easier to teach
- Easier to use
- Less Frictions
-

[2019-10-31 16:29] jevansaks commented on #369
The internal issue is marked as fixed. I don't have information at this time about what releases will contain the fix.

[2019-10-31 16:29] #369 closed

[2019-10-31 16:30] jevansaks commented on #588
The internal issue is marked as fixed now. Thanks for reporting!

[2019-10-31 16:30] #588 closed

[2019-10-31 16:45] jimm98y opened #1521 "ReflectionXamlMetadataProvider GetXamlType taking more than 17 seconds to execute at app startup"
**Describe the bug**
We have a large (104 DLLs and 1 EXE referencing all the DLLs) UWP app that was ported from WPF into UWP. The app uses many custom Xaml controls and forms spread out in ~50 DLLs. In Release with NET Native enabled, the app launches quickly (~3 seconds). In Debug, however, the code execution goes from App.cs into autogenerated XamlTypeInfo.g.cs, there it goes into GetXamlType(st

[2019-10-31 16:50] jevansaks commented on #1441
@ranjeshj can you look into getting the documentation updated or created to help layout authors with navigating this space?

[2019-10-31 17:02] khoshroomahdi commented on #1500
Easy copy past from excel
Now there no way to use ctrl+v to copy Excel cells content to datagrid. Now it copy all cells content to one cell in data grid.

[2019-10-31 17:06] chigy commented on #1126
@Poopooracoocoo , this is the current design because reveal means there's an outline border. This proposal is tracking what it means when reveal doesn't have border.

[2019-10-31 17:14] jevansaks commented on #1515
Sorry, this worked for me. Could you make a simple repro app?

[2019-10-31 17:14] #1515 closed

[2019-10-31 17:18] khoshroomahdi opened #1522 "Proposal:bootsrap grid"
# Proposal: bootstrap grid

## Summary

Use classes like bootstrap instead of visual State to make app responsive.look at the gridextra on github
https://github.com/sourcechord/GridExtra
# Rationale

* I think it's easir and familiar and needs less code to make app responsive.

[2019-10-31 17:18] jevansaks commented on #1519
Agree that the chevron shouldn't get bigger as only text should. We should just set IsTextScaleFactorEnabled=false on the chevron.

[2019-10-31 17:21] jevansaks commented on #1521
There is a compile time flag to turn off the ReflectionMetadataProvider. I can't find the docs on what the property is though. @Fabiant3 @danzil can you help?

[2019-10-31 17:23] jevansaks commented on #1520
Agree, we should try to make the layout handle the text getting bigger in a more reasonable fashion. We've had this problem across many controls so whoever picks this up don't feel limited to just fixing these two. :)

[2019-10-31 17:24] jevansaks commented on #1522
Duplicate of #1466 .

[2019-10-31 17:24] #1522 closed

[2019-10-31 17:25] mdtauk commented on #1126
I don't think the outline is the main issue, but that the button fill colour doesn't get lighter with the reveal hover effect

[2019-10-31 18:24] carmellolb opened #1523 "Proposal: Re-add Background Acrylic to NavigationView in expanded mode"
As stated a while ago, BG Acrylic should be re-added to NavigationView in expanded mode. I am proposing this again, in hope of it coming back with WinUI 3.0.
-->

Proposal: Re-add Background Acrylic to NavigationView in expanded mode

Summary:
BG Acrylic was removed a while ago, in favor of a plain grey, the fallback color. Acrylic is a key, major feature of Fluent Design that was removed without

[2019-10-31 18:39] kmgallahan commented on #1523
This does not make my experience using the Settings app better in any way:

![Annotation 2019-10-31 143412](https://user-images.githubusercontent.com/5379488/67976328-44678780-fbec-11e9-9f7d-4971757ac2ed.png)

[2019-10-31 18:40] adrientetar commented on #81
I don't know if it's on purpose but I noticed the AutoSuggestBox TextChanged event is very slow, TextBox TextChanged happens almost instantaneously in comparison.

Much of the animated things in UWP (ContextMenu opening, AutoSuggestBox suggestion list popping up, ListView add items animation...) are rather slow. Animations should be about subtle visual cues, not slowing down users... Material desi

[2019-10-31 18:42] carmellolb commented on #1523
Settings’ Acrylic is very transparent. It can be a bit much. Settings’ version may be a bit distracting. But it doesn’t need to be that transparent. Also, you said it doesn’t make it better, but does it make it worse? Because for a huge majority of people, it does make it better. And if you don’t like it, why don’t you simply turn transparency off? What we want is CHOICE!

[2019-10-31 19:06] alexyak commented on #1500
Please provide a proper multiple selected items support, by making SelectedItems as a dependency property to allow using data binding when managing selected rows.

[2019-10-31 19:10] kmgallahan commented on #1523
Yes, it makes usability worse due to:

- Variable and lower than desired text contrast ratios
- Unintended coloration of menu elements that has no bearing on application context
- Can be more difficult to locate the selection indicator
- All the above multiplied many times over if a video is playing in the background

Telling users to disable a system-wide setting is not the right approach when de

[2019-10-31 19:39] carmellolb commented on #1523
The issues you listed are all when Acrylic is very transparent. It could simply use the transparency level of the taskbar and start menu, which they did not remove Acrylic from!

[2019-10-31 19:46] shaheedmalik commented on #1523
This just reminds me that the settings app needs to be retemplated.

[2019-10-31 19:48] shaheedmalik commented on #1520
Is there a vertical center option in WinUI?
I feel something of the sort would fix stuff like this.

[2019-10-31 20:05] michael-hawker commented on #81
@adrientetar I've noticed some oddities around AutoSuggestBox TextChanged too as well as the behavior of the Suggestion Popup as we've been working on the toolkit's TokenizingTextBox and how they behavior together and differently between keyboard and mouse inputs. I definitely need to quantify some of the issues we've been seeing and will follow-up here or with separate issues.

[2019-10-31 20:29] carmellolb commented on #1523
Oh no, does this mean Acrylic will be gone from yet another place?

[2019-10-31 20:49] salmanmkc commented on #1520
I couldn't replicate the scaling being off, but I changed some values within the project so that there is not any weird rounding

[2019-10-31 20:52] salmanmkc commented on #1517
This may be completely irrelevant, but retargeting the SDK takes forever for the XAML UI project, this may be a performance issue for VS itself though, not sure where it lies. I had my reasons for retargeting, I know it may sound really weird.

[2019-10-31 20:57] jevansaks commented on #1520
Yup! (VerticalAlignment) Agree it should be easy-ish to fix.

[2019-10-31 21:03] salmanmkc commented on #1520
updated the ones that were shown in the image, pending PR, will go through and check for more

[2019-10-31 21:14] salmanmkc commented on #1520
Okay, I've fixed all of them in the solution

[2019-10-31 21:28] kmgallahan commented on #1520
@jevansaks @salmanmkc

This is a general issue with the CheckBox and RadioButton controls, rather than their specific usage in the XAML Controls Gallery.

As as with most issues, I just noticed that the problem is more complicated that I originally thought. Refer to checkbox usage in the Settings app:

![Annotation 2019-10-31 172605](https://user-images.githubusercontent.com/5379488/67987354-8f40c

[2019-10-31 21:40] chingucoding commented on #1484
I'm confused now. So is the behavior intentional? Should PlayAsync not wait for the animation? Or should we change that, so that calling PlayAsync waits for the animation to have finished loading, and then start playing?

If the latter is the case, I would be happy to try to fix this. :)

[2019-10-31 22:30] danzil commented on #1521
We use the reflection metadata provider in debug configs to help speed up incremental builds. For your case, it looks like the large number of dll is actually making things worse, so the best course of action is to disable it using this property in your project that is referencing the dlls.

[code]

[2019-10-31 22:49] shaheedmalik commented on #1520
First line vertical center probably would be the best solution. Unless there is a way to measure how much the space is taken up by the text and centered off of that.

[2019-10-31 22:57] Noemata commented on #888
So are we getting rid of the UWP sandbox?  Which in turn implies UWP in it's current form is also going away, and with it the protected sandbox of the App Store as we know it?

[2019-10-31 23:04] jevansaks commented on #1520
Very cool! Should I assign this issue to you, then? And did you submit a PR yet? I didn't see one come through.

[2019-10-31 23:05] salmanmkc commented on #1520
I already submitted a PR for it in XAML-Controls-Gallery, although my PRs are very messy at the moment, watching some videos to improve

[2019-10-31 23:12] jevansaks commented on #1520
I see. I was expecting a PR to this repo since I expect the fixes to be in the platform control styles.

[2019-10-31 23:23] chingucoding commented on #1519
@jevansaks I would be happy to fix this :)

[2019-10-31 23:34] kmgallahan commented on #1519
Should this be the case for any chevrons used throughout WinUI controls?

Other examples:

- DropDownButton
- ~~TreeView~~ already changed
- CalendarDatePicker
- CalendarView
- ~~DatePicker~~ already not scaled
- ~~DatePicker~~ already not scaled

[2019-10-31 23:56] chingucoding commented on #1519
I don't think that those three need to change, since those do not begin to look weird or start clipping:
(Screenshots taken with text scaling set to 225%)
DropDownButton:
![image](https://user-images.githubusercontent.com/16122379/67993660-262c7680-fc42-11e9-9043-0a1d3de99523.png)

CalendarDatePicker:
![image](https://user-images.githubusercontent.com/16122379/67993706-55db7e80-fc42-11e9-9a8d-c508

[2019-11-01 00:00] davidfishlock commented on #588
Will this fix require an SDK/framework target upgrade or an updated OS version? Just wondering how this fix will be released so I can communicate to our users.

[2019-11-01 00:12] michael-hawker opened #1526 "Conditional XAML doesn't work for Attached Properties"
Originally Filed here: https://github.com/MicrosoftDocs/windows-uwp/issues/1378

**Describe the bug**
Conditional XAML doesn't seem to work on Attached Properties.  No mention of this limitation was called out in the docs, thus the original bug above.  This should be expected to work?

**Steps to reproduce the bug**
Steps to reproduce the behavior:
Create a class library
Add `contract6Present:Auto

[2019-11-01 00:13] kmgallahan commented on #1519
@chingucoding For the DropDownButton at least I think it is more a case of consistent sizing, rather than fixing visual issues.

It's possible a DropButtonButton could appear right next to a SplitButton / ToggleSplitButton and the chevrons would have mixed sizes.

[2019-11-01 00:14] jtorjo commented on #888
getting rid of the UWP sandbox would be insanely awesome!

[2019-11-01 01:25] jesbis commented on #888
That definitely doesn't mean that UWP is going away. The Universal Windows Platform is the only way to natively build for the full spectrum of Windows devices (PC, Xbox, HoloLens, etc.) and is where Windows is focusing its native platform investments. RE: sandboxing in particular: appcontainer isolation continues to provide a lot of important benefits for apps and users of both UWP and desktop app

[2019-11-01 04:13] michael-hawker commented on #1500
@verelpode I can see individual cell selection being useful for any spreadsheet type application, no?  I think it matters more in edit scenarios vs. view scenarios.  When viewing data in a datagrid without edit, I agree I wouldn't see a use for individual cell selection and always have full row selection.

@anawishnoff I think @Laz3rPanth3r would agree and the couple of issues [here](https://githu

[2019-11-01 04:44] verelpode commented on #1500
In a spreadsheet, the column headers are named with ascending letters of the alphabet, A, B, C, D, … and the type of every column is the same, as if every column uses `DataGridTextColumn` and no other column type is needed, and column names aren't really needed either because they're generated automatically from the alphabet.
Another difference between DataGrid and a spreadsheet is that a spreadsh

[2019-11-01 04:59] mdtauk commented on #888
UWP will be one of the options for building a WinUI 3.0 app.  Using the UWP will allow your app to run on Xbox, Hololens, etc.

But you can also build a Win32 app with WinUI 3.0 and access UWP APIs - but where your app can run will be more limited.

[2019-11-01 05:03] mdtauk commented on #1523
PLEASE NO, don't take away the Acrylic from Settings!!!

[2019-11-01 05:04] duke7553 commented on #1523
The acrylic in the Settings app looks simply out of place and distracting.

[2019-11-01 05:08] duke7553 commented on #1523
With all due respect, if you want full Acrylic in your app by default then by all means you can implement it, but there is a strong consensus among the community and designers that it is distracting and becomes unappealing after extended exposure. I think this issue should be closed because it doesn't fit the direction of this UI framework.

[2019-11-01 05:25] mdtauk commented on #1523
Define Strong Consensus?

The conversation doesn't have to be Acrylic or no Acrylic.  But what percentage transparency should be the default and recommendation.

I believe Settings uses a 60% value, but changing it to 80% would preserve the transparency, but make it less "distracting".

So why not update the AcrylicBrush theme resources used by the controls, to use a different percentage opacity?

[2019-11-01 05:27] mdtauk commented on #761
I mentioned this in another thread, but as a counter to the argument of the Acrylic sidebar being "distracting" (which doesn't seem to be an issue where it is used on macOS or other platforms)

[2019-11-01 07:34] benstevens48 commented on #1441
@jevansaks , please don't label this as just a docs issue. It's a serious flaw which needs addressing. Actually, I think perhaps you should hold off documenting the effects of layout rounding until you've reviewed it. This problem is not confined to control authors but also affects everyday developers. My previous example showed it's impossible to fill a fixed width stackpnel exactly with fixed wi

[2019-11-01 07:50] mdtauk opened #1527 "Unable to build solution"
**Describe the bug**
I am unable to build the solution in VS Community 2019

**Screenshots**
![image](https://user-images.githubusercontent.com/7389110/68010333-3bbe9200-fc7c-11e9-9d5d-f42bfdc2ca70.png)

**Version Info**
Visual Studio Community 2019 Preview - 16.4.0 Preview 2.0

**Additional context**
Source file ____ could not be found.    MUXControlsTestAppWPF
- NavigationViewTestPage.g.cs
- Xam

[2019-11-01 09:07] jtorjo commented on #888
@mdtauk @jesbis I'm totally for UWP, but at this time:
1. compilation times are insanely slow! (pretty much, 6 times slower that WPF - i'm using target version build 1809 - build 17783)
2. I know StorageFolder file enumeration API is not part of UWP, but that is insanely slow. The UWP sandbox (at least on Windows Desktop) is hurting more than helping.
3. Sure, async programming is fun, but in UWP,

[2019-11-01 09:27] mdtauk commented on #888
It would be useful for this to be posted in this thread #1517 and hopefully you can include in a name of someone from the SDK team

[2019-11-01 09:31] MarkIngramUK commented on #888
@jtorjo

Are you using C++/WinRT? If so, are you using pre-compiled headers?

[2019-11-01 09:53] jtorjo commented on #1517
Here are my performance issues, when it comes to UWP:

1. uwp: compilation times are insanely slow! (pretty much, 6 times slower that WPF - i'm using target version build 1809 - build 17783)
2. I know StorageFolder file enumeration API is not part of UWP, but that is insanely slow. The UWP sandbox (at least on Windows Desktop) is hurting more than helping.
3. async programming is fun, but in UWP,

[2019-11-01 09:57] jtorjo commented on #888
@mdtauk just posted there

@MarkIngramUK It's c# code

[2019-11-01 10:02] charlesroddie commented on #1517
1. Please don't use XAML ambiguously in discussions. "XAML Performance" could refer to the parsing of XAML files or it could refer to the performance of the WinUI framework. My guess is that this thread is about the latter.

2. On UWP performance, this is very good at the moment in release mode using .Net Native. I expect that with .Net 5 it will be similarly fast using AOT. I am concerned that in

[2019-11-01 10:20] jtorjo commented on #1517
@charlesroddie Your comment is about the initial discussion, or my comment?

[2019-11-01 10:52] charlesroddie commented on #1517
About the initial post and title, but applies to a lot of threads in this repo.

[2019-11-01 11:05] carmellolb commented on #1523
Its transparency can be simply reduced.

[2019-11-01 11:06] carmellolb commented on #1523
If AcrylicBrush was less transparent by default, then it could be re-added into NavigationView in expanded mode without being distracting.

[2019-11-01 11:09] carmellolb commented on #1523
There is also a “strong consensus” across thousands of people on many platforms, as mentioned in the description of this proposal, to do the opposite. With all due respect, there are just as many other people that believe the opposite.

[2019-11-01 13:09] chingucoding commented on #1527
Can you look what the output of the build process is? I have noticed, that sometimes the output from the build process and the error output/list of Visual Studio differ with the error list being somewhat unreliable. Taking a look at the output window can help identify what is failing.

[2019-11-01 15:17] shaheedmalik commented on #1478
Is the recording up yet?

[2019-11-01 15:40] Felix-Dev commented on #1523
@duke7553
Second what @mdtauk and @carmellolb have been saying (and what we've been saying since months now in other issues in this repo). It's not about adding back "full acrylic" but replacing it with a less strong acrylic effect. @mdtauk is proposing using an 80% acrylic brush and I haven been pointing to the acrylic brush used in the Windows shell (jump lists, start menu,...) and even the acry

[2019-11-01 16:52] jevansaks commented on #1527
Also please attach the full build output? Usually something failed to build early on and the errors window is sorted in a very unhelpful way (the top error is not the first error).

[2019-11-01 16:58] jevansaks commented on #1441
@benstevens48 thanks for sharing your thoughts. This behavior has been this way for quite some time and I believe the general design is correct. You may be identifying some bugs and we can look into that first, so I've changed this from doc -> bug label. But I think the core approach is working as intended.

Of course layout rounding is a tradeoff, and you can opt out if it isn't working well for

[2019-11-01 18:00] mdtauk commented on #1523
There is an option to turn of transparency effects if a user really finds it distracting.  I think that more than covers the situation for those who don't want it.

[2019-11-01 18:01] mdtauk commented on #1478
I wasn't making a request or suggestion, but opening a discussion topic on alternative ways to making UI with WinUI 3.0 that is not XAML.  I think this qualifies in some ways, but what you are asking for are language features for C# to enable you to use it for making UI.

[2019-11-01 18:18] anawishnoff commented on #1500
@verelpode Your contributions are so detailed and thought-out, thank you so much for all of that! I want to talk about the idea of binding a data source/the ItemsSource property of DataGrid, as you mentioned and @michael-hawker did as well.

This is interesting, and I'd like to look more into it as we are really interested in performance. What sort of data situation/scenario are you looking for, s

[2019-11-01 18:41] khoshroomahdi commented on #1500
@anawishnoff yes exactly.
I have some data in excell cells and want to copy them in running app.

[2019-11-01 18:41] RBrid commented on #1500
For non-data-bound scenarios, we should look at how the WinForms DataGridView control, which I wrote many years ago, supported a virtual mode: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagridview.virtualmode

[2019-11-01 18:41] robloo commented on #1500
I agree that would be nice as well. I'm thinking something like ListBox where you can either add Items manually or set the ItemsSource. That said, in the past I just generate a new DataTable representing a partial view of the full database to implement paging (which is a good use case for this). A view of that DataTable can then be set to ItemsSource. So while I definitely think this is nice to ha

[2019-11-01 18:56] chigy commented on #1511
@jevansaks , couldn't get motion comp but got motion value that is being evaluated (so not the same as Chrome). Is this sufficient input?
Duration: 300ms
Bezier: .3, .2, .2, 1

[2019-11-01 19:00] robloo commented on #1520
Similar to HorizontalContentAlignment/VerticalContentAlignment on other controls, it seems a new property is needed here to cover all cases including multi-line checkbox content. Something like Vertical<Check?>Alignment, etc.

This would mean it's up to the developer and their specific UI design to fix this. Otherwise, the control would have to make some difficult (and likely not general-purpose)

[2019-11-01 21:07] carmellolb commented on #1523
Yes, the Acrylic in the To Do app is a perfect example of what they should implement. Not too strong, not at all distracting, but provides depth, and beauty.

[2019-11-01 21:15] jesbis commented on #1478
Hi folks - Here's a [temporary download link to the first call recording (OneDrive)](https://1drv.ms/u/s!AiwORAw49JWcgfscNqygZINFumdKEA?e=9xaVDW) - we're looking into a better streaming/hosting approach with .NET and Channel9 for the future.

[2019-11-01 22:03] verelpode commented on #1500
@anawishnoff wrote:

Thanks, I'm glad to hear that my contributions are useful in making DataGrid even better :)

That's still too smart.  This smart behavior prevents different apps from performing the data retrieval in different manners.  Different apps have vastly different circumstances, thus the "best" data retrieval system is different for different apps -- no single "best" exists.  For exam

[2019-11-01 22:03] dan-meier opened #1528 "MenuBar Vertical Orientation???"
Is it not possible to create a vertical menu using the MenuBar control???  I haven't found a way to do this, but perhaps I'm missing something...

[2019-11-01 22:43] alexyak commented on #1500
We need a proper two way databinding for viewmodels to manage multiple selections

[2019-11-01 23:27] RBrid commented on #1500
@verelpode, we had modeled the WinForms DataGridView model after the even older Win32 ComCtl32 controls. In particular, I'm thinking about how the list-view control used the LVN_GETDISPINFO message in virtual mode (see https://docs.microsoft.com/en-us/windows/win32/controls/list-view-controls-overview#handling-virtual-list-view-control-notification-codes and https://docs.microsoft.com/en-us/window

[2019-11-01 23:59] jevansaks commented on #588
I believe it would just be an OS update.

[2019-11-02 00:23] verelpode commented on #1500
@RBrid
Good point about `GetDeferral()` being the new standard pattern.  In this particular case of `CellValueNeeded`, it seems much more difficult to use `Deferral` than in other cases/events.   Correct me if I'm wrong, but I think the problem with using `GetDeferral()` in this particular case is that `GetDeferral()` creates a new object every time it is invoked, and this would lead to an excessi

[2019-11-02 01:27] RBrid commented on #1500
@verelpode, yes that's a valid concern. I would expect the DataGrid to own a pool of recyclable Windows.Foundation.Deferral objects. We would need to confirm the feasibility and perf for sure.

[2019-11-02 03:40] kaiguo commented on #559
@yaichenbaum there might be some lower level rendering issue associated with this, we probably won't be able to fix this until WinUI 3.

[2019-11-02 05:09] mdtauk commented on #1528
I don't believe the MenuBar control has an orientation property.  You should add a feature request for that feature.

MenuBar.Orientation.Top/Bottom/Left/Right maybe, with the direction of the flyout menus set correctly as the orientation changes

[2019-11-02 12:57] lukasf commented on #1517
@jtorjo

I guess you are talking about Release build times right? The Release build is so slow because of .NET Native. It makes build times much slower, but gives you major improvements in startup times, XAML rendering (data binding) and memory usage. In Debug mode, apps should usually build pretty fast, so this does not really affect development cycles that much IMO. At least, I usually only buil

[2019-11-02 13:51] jtorjo commented on #1517
@lukasf Thanks for replying!

I'm talking about Debug times, **without** .Net Native. For me .Net Native generated a weird crash a while ago, and I haven't tested it since. My project in Debug x86 (it is slightly faster than Debug x64), usually takes 30-40 seconds to compile.

Once again, this is build 17783 - I have read on the internet that lower builds generate faster time - I think it's on you

[2019-11-02 13:58] shaheedmalik commented on #1523
I'm not even sure that is even see-through.

[2019-11-02 14:15] carmellolb commented on #1523
What are you talking about? Open a surface that uses it and put something behind it. It IS see through.

[2019-11-02 16:51] asierpn commented on #1517
In our case we are using UWP for a LOB app and we have found big performance issues in two common scenarios:

1. We need to put a lot of data in some views, so we use use datagrid inside pivot or tab controls, this generates big visual trees of more than 5000 items which are hard to reduce more. The first load of the visual tree or when you switch from one tab to another is not smooth.

2. Somethi

[2019-11-02 17:56] lukasf commented on #1517
@jtorjo
The problem is that FileInfo APIs do not work well with permissions and sandboxing. If you can just create an instance from a file path, the system cannot know if/how you got access to that file. So I think a new file API is required, but one that is optimized for performance. One that does not query lots of data, when all you need is the plain folder+file names.

If you want good file per

[2019-11-02 18:57] jtorjo commented on #1517
@lukasf Thanks for the advice. I wish that were true. That was also my idea - to just do it in another thread. But in my tests, the gain is close to 0%.

About a new file API is required: I just don't understand why MS won't simply allow System.IO over all HDD, once you've requested broadSystemAccess. It's clearly possible, since if I write a Desktop Bridge app, I can use System.IO all over the pl

[2019-11-02 21:19] Angr1st commented on #1478
Maybe if you want to build a DSL you could try F#

[2019-11-03 01:15] shaheedmalik commented on #1523
If it is already there, then their is no need to add it?

The settings version is one of poorest implementations of it. It was the the reason it was taken away.

[2019-11-03 02:05] carmellolb commented on #1523
Then why can it be reimplemented in a better way rather than being removed? This is the all or nothing approach, which is a very bad practice.

[2019-11-03 10:15] AntiPasha commented on #1045
Just a few thoughts about simplified styling and control templating, like make it easier to add custom behavior for built-in styles and controls. Perfect example here is `Button` styling, when we need to override the entire control template to change the hover color or use border radius. Setting some of them directly, like in `css`, will prevent creating kilometers of XAML code

[2019-11-03 11:00] Felix-Dev commented on #1523
@carmellolb @shaheedmalik Please stop creating these "extended quotation" messages. It makes it very hard to see the acual reply and. Much appreciated 🙂

[2019-11-03 11:40] Poopooracoocoo opened #1530 "Proposal: point/spot InkToolbarEraserButton (that is accessible like ruler/protractor (InkToolbarStencilButton))"
# Proposal: [your title here]

Proposal: point/spot InkToolbarEraserButton (that is accessible like ruler/protractor (InkToolbarStencilButton))

## Summary

A regular eraser in addition to a stroke eraser. It's pretty necessary for drawing apps and having to make a custom implementation seems like a load of work. This could totally be the wrong place to suggest this so I apologise if so

## Ration

[2019-11-03 14:49] Felix-Dev commented on #1045
@AntiPasha Have you heard of [Ligthweight styling](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-styles#lightweight-styling)? With it you can easily change the hover color without having to re-create the entire style:

Changing the hover color for a button then would just be:
<Button>

                <Button Content="MyButton">
                    <Button.Resource

[2019-11-03 15:04] shawly commented on #1495
I wish we wouldn't need a proposal for something like this.
I've been using Controller Companion to control my desktop for years now and when this "feature" was forced on me, I wasn't able to control anything related to UWP apps, so I looked in every thinkable setting in Windows to disable this and to my surprise there was NO OPTION, not even a registry key to disable this.
I have to disable my th

[2019-11-03 21:45] chingucoding commented on #1447
I would like to look into this :)

[2019-11-04 03:51] Elttob commented on #1523
Having read all of the above, here's what I know and what I'm understanding;

- There is no consensus either way on this issue (some people want it to stay the same, some people want it gone, some people want their own variant of it, etc.)
- The current implementation of Acrylic is inconsistent across the UI (Settings vs To-Do - Settings has too much transparency, but To-Do doesn't have this issue

[2019-11-04 08:12] bent-rasmussen commented on #1500
Having taken a dependency on the Windows Community Toolkit Datagrid which has Row Details as feature (albeit with a serious performance bug - with a workaround), we would really like this new Datagrid to have that as a feature as well - with the same option to have multiple row details concurrently. Using it for a server to client streaming data scenario.

[2019-11-04 12:48] carmellolb commented on #1523
@mdtauk @Felix-Dev @Elttob @shaheedmalik
Something just dawned on me. With an effect such as Background Acrylic, you can see what is behind the window. So therefore, in the real world, if something shines through to what is behind it, it is likely in the back. Like if you have a set of real objects, piled on top of each other, the ones on top would be transparent only to the object acting as the b

[2019-11-04 12:57] jimm98y commented on #1521
Thank you! It helped!

[2019-11-04 13:09] verelpode commented on #1500
Re a million rows versus a **paging** GUI, @robloo wrote:

Paging is a useful technique and worthwhile mentioning, but it has substantial disadvantages:  It makes DataGrid's sorting feature practically useless.  Likewise for a filtering feature in the next version of DataGrid.  Paging makes sorting and filtering useless or at least much less useful.

For example, imagine that 2 or 3 columns are da

[2019-11-04 14:38] jesbis opened #1531 "First WinUI 3.0 Alpha now available 🚀👩‍💻🎉"
# WinUI 3.0 Alpha now available!

As mentioned in the [community call](https://github.com/microsoft/microsoft-ui-xaml/issues/1478) last week **we now have a super-early WinUI 3.0 Alpha build available**!

We'd love it if you could try it out and let us know what you think about the direction and roadmap.

Please note that it's a very early prerelease and has lots of known issues and missing functi

[2019-11-04 14:53] thomasclaudiushuber opened #1533 "Proposal: WinUI 3.0 - VS template descriptions for Windows Runtime Components"
To me it looks like the description of the Windows Runtime Component template for C++ is a bit off, as it talks about "Windows Universal apps" while all other template descriptions talk about "Universal Windows Platform apps". Also the word "Component" starts with a lowercase letter for the C++ template and starts with a capital letter for the C# template. Here the screenshot from the docs.

![ima

[2019-11-04 15:20] danzil commented on #1533
Thanks for the feedback @thomasclaudiushuber! We'll reevaluate these descriptions when we add more language templates.

[2019-11-04 16:01] dbeavon commented on #1478
I have it myself, since I was on the call.  But is there any way to capture and publish the chat from the call?  There was lots of good interaction with Dmitry Lyalin, etc.

[2019-11-04 16:12] kmgallahan commented on #1531
So is the alpha still running on .NET Native or .NET Core 3.0? If the former, will 3.0 not be a target in the future?

[2019-11-04 16:13] christian-clausen commented on #1500
Link to the Row Details performance issue: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2842
Repro: https://github.com/observito/DataGridRowDetailsPerfTest

[2019-11-04 16:17] thomasclaudiushuber opened #1534 "WinUI 3.0: Named elements appear in codebehind intellisense only after building the project"
**Describe the bug**
Named elements appear only in code-behind Intellisense after building the project. Looks like the intermediate output folder is not generated/updated when editing the XAML doc.

**Steps to reproduce the bug**
1. Create a new WinUI 3.0 UWP app
2. Add this TextBox to the MainPage.xaml file

[code]
3. Save the file
4. Go to MainPage.xaml.cs and go to the constructor.
5. Type "tex

[2019-11-04 16:20] jesbis commented on #1531
The alpha is on .NET Native for now, and RTM will target .NET Core. Really it probably shouldn't say 3.1 at this point since we still need to work out the details with the .NET team but hopefully it'll be open source before then so it should be easy for everyone to stay up to date on what's going on 🙂

[2019-11-04 16:27] dbeavon opened #1535 "Discussion: WINUI 3.0 and XAML *Compile* Performance"
# Discussion: WINUI 3.0 and XAML **Compile** Performance

There was another discussion about XAML performance (runtime performance of xaml rendering).  I didn't want to hijack that completely ... so I am opening this separate discussion about xaml compiler performance.

Here is the starting point for the discussion.  @jtorjo said :

I definitely agree.  Debug/run iterations (development "inner loo

[2019-11-04 16:37] dbeavon commented on #1517
I agree.  I started to reply, but decided it makes sense to take this to another discussion (specifically related to compilation performance):

## Related links.
- https://github.com/microsoft/microsoft-ui-xaml/issues/1535

[2019-11-04 16:51] danzil commented on #1534
Thanks for the bug report! Any chance you could confirm your version of Visual Studio?

[2019-11-04 16:57] jevansaks commented on #1478
If you join the teams call again, the chat should all be there from last time. I don't know of a way to save off all of the chat in one go, unfortunately. If you figure it out maybe you can post the chat log?

[2019-11-04 16:58] kmahone commented on #1534
@danzil, I can repro this in both:
Visual Studio 2019 Preview: Version 16.4.0 Preview 3.0
Visual Studio 2019: Version 16.3.6

[2019-11-04 17:04] Austin-Lamb commented on #1495
Unfortunately, this isn't something done by the XAML UI framework, so this GitHub isn't the correct place to track this feature proposal.  Game controllers being promoted up to a form of keyboard input in UWP apps is done by a lower level of the input stack - XAML responds to these events, but the promotion, and thus ability to disable it system-wide, happens beneath us.

The team that does own th

[2019-11-04 17:08] chingucoding opened #1536 "WinUI 3.0α : Scrollviewer behaves strangely with touchpad scroll"
**Describe the bug**

When scrolling a `ScrollViewer`/`GridView` with touchpad (using 2 finger swipes) the scrolling behaves strangely. When reaching the bottom, using the 2 finger gestures one can swipe even further down despite there not being items. I found this while using the WinUI 3.0α version of the XCG.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Visit page with Scr

[2019-11-04 17:09] ranjeshj opened #1537 "Issue using winui in arm64"
**Describe the bug**
Crash when buliding app using arm64 version of winui

**Steps to reproduce the bug**
Yup, repro should be:

1)	Clone Toolkit repo: https://github.com/windows-toolkit/WindowsCommunityToolkit
2)	Make sure to do msbuild /restore from root in VS Dev prompt (see https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3012)
3)	Open VS (should default to building Microsoft.

[2019-11-04 17:23] vitorgrs commented on #1531
When will the code be open?

[2019-11-04 17:28] jesbis commented on #1531
@vitorgrs we don't have a firm date yet but we're working on it now - it's currently our main focus.

[2019-11-04 17:28] vitorgrs commented on #1531
Thanks!

[2019-11-04 17:29] MuziburRahman commented on #1531
Don't forget the Compact Sizing in WinUI 3. It was announced at probably build '18 but supports just 2-3 controls till now.

[2019-11-04 17:31] jesbis commented on #1536
Thanks @chingucoding! Gifs are super helpful!

That sounds like the known issue mentioned here:

https://docs.microsoft.com/uwp/toolkits/winui3/#interactivity

Multi-touch interactions on a touchscreen or precision touchpad can make scrolling and touch responsiveness unpredictable within the app and should be avoided at this time.

[2019-11-04 17:38] chingucoding commented on #1536
Oh I did not see that section,my bad 😅

[2019-11-04 17:42] jesbis commented on #1531
@MuziburRahman have you tried using the Compact style dictionary in WinUI 2 (and 3)?

https://docs.microsoft.com/windows/uwp/design/style/spacing#fluent-compact-sizing

It should automatically adjust various Text and List controls, ContentControl, TreeView, DatePicker, TimePicker, ComboBox, NavigationView, etc.

Are there specific other controls you think should be adjusted?

[2019-11-04 17:48] MuziburRahman commented on #1531
@jesbis  Of course, what about RadioButton, CheckBox ?

[2019-11-04 17:49] thomasclaudiushuber commented on #1534
@danzil I'm using 16.4.0 Preview 3.0.
@kmahone Thanks, great you were able to repo it.

I've created a PR for the docs: https://github.com/MicrosoftDocs/winrt-related/pull/153

[2019-11-04 17:55] #1519 closed

[2019-11-04 18:01] jesbis commented on #1531
@muziberrahman those should also have compact margins already by default when using the compact style:

![image](https://user-images.githubusercontent.com/16565497/68145116-e7b8e500-fee9-11e9-8680-544a067d9269.png)

[2019-11-04 18:12] jevansaks commented on #1528
This isn't supported for MenuBar. Depending on your scenario it might be more appropriate to use NavigationView for a left-docked bar. With the upcoming hierarchical support (#79) this might cover your needs.

[2019-11-04 18:13] jevansaks commented on #1527
It also occurred to me that you might not have all of the C++ support installed. Try installing all the optional C++ components too.

[2019-11-04 18:13] #1527 closed

[2019-11-04 18:14] jevansaks commented on #1526
@danzil is this a known issue?

[2019-11-04 18:23] danzil commented on #1535
For the Alpha we released today we focused on bringing existing functionality up as soon as possible to get everybody's feedback. This release did not yet include the performance fixes we talked about before in a developer community thread ([linked above](https://developercommunity.visualstudio.com/content/problem/692141/build-time-of-uwp-c-projects-takes-too-long.html)). Now that the Alpha is out

[2019-11-04 18:25] #1307 closed

[2019-11-04 18:25] #1309 closed

[2019-11-04 18:26] teaP commented on #1481
Reverting my previous change so that sizeToContent wins.

[2019-11-04 18:33] danzil commented on #1537
@ranjeshj, I think @RealTommyKlein added an error to specifically call out we don't yet support ARM/ARM64.

[2019-11-04 18:42] YuliKl commented on #1491
Yes. Or maybe
![image](https://user-images.githubusercontent.com/13142665/68147733-94e22c00-feef-11e9-985f-d52741abfbbb.png)

I guess I figured we would keep the indeterminate pill shape the same whether or not it's allowed to animate.

[2019-11-04 19:29] jtorjo commented on #1535
@dbeavon I've compiled VanArsdel, on 17763 build. Note that at this time, I can't change the min version, since I get a compile error.

Build vanarsdel ,debug x64, build 17763

1>Project Performance Summary:
1>    12521 ms  C:\john\code\buff\__photawe\VanArsdel-master\VanArsdel\VanArsdel.csproj   1 calls
1>              12521 ms  Build;BuiltProjectOutputGroup;BuiltProjectOutputGroupDependencies;De

[2019-11-04 19:30] jtorjo commented on #1535
@danzil This is amazing news! Any ETA when this may be addressed?

P.S. I can't target anything lower than 17763 in my app, because of my dependencies.

[2019-11-04 20:20] weitzhandler commented on #1531
Wow!! The Uno bit enlightened my day!
That is freaking awesome! Congrats Microsoft and Uno 🍻

[2019-11-04 20:34] stevenbrix commented on #1347
Thanks for filing this @dotMorten, I definitely agree this is something we should support. There are a handful of other nice features that are in WPF/Xamarin.Forms that we also don't have in UWP, which I'd love to see brought over as well.

One thing that I've been investigating and trying to gauge whether there is interest, is around making a single XAML toolchain that works for all XAML platform

[2019-11-04 20:46] dotMorten commented on #1347
Am I ok waiting until then? Well I've waited for years (initially requested this when Windows 8 xaml shipped). What's the timeline you're thinking?
It would be awesome to have this with WinUI3 to come together with this clean xaml break.

[2019-11-04 20:47] danzil commented on #661
We fixed this issue in the upcoming version of the Windows SDK and it is also fixed in WinUI 3.0 Alpha that we just released for preview today.

[2019-11-04 20:47] #661 closed

[2019-11-04 20:48] danzil commented on #661
We fixed this issue in the upcoming version of the Windows SDK and it is also fixed in WinUI 3.0 Alpha that we just released for preview today.

[2019-11-04 20:59] stevenbrix commented on #1521
@realtommyklein I'm assigning this to you to see if there is any way this can be improved. Are we able to provide hints to the `ReflectionMetadatProvider` so that it can more efficiently find types, or maybe figure out which projects might run into this issue and fire warnings?

[2019-11-04 21:05] danzil commented on #1114
I was able to easily reproduce.

[2019-11-04 21:24] #811 closed

[2019-11-04 21:25] danzil commented on #811
I opened an issue in the WPF repo: https://github.com/dotnet/wpf/issues/2156

[2019-11-04 21:36] stevenbrix commented on #1347
🤦‍♂️

Timeline I'm thinking is November 2020 by .NET 5. One of the key things I'm trying to light up is better Xaml Island syntax then what we have today, and allow for natively embedding WinUI markup in WPF markup (with support for things like x:Bind) rather than having to specify the type name like we have today.

If early on it starts to look like it would be pushed out until .NET 6 time frame,

[2019-11-04 21:40] danzil commented on #1535
@jtorjo We plan to address this with WinUI 3.0 in 2020, which is planned to be able to target down-level to that SDK ([roadmap](https://github.com/Microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md)).

[2019-11-04 21:47] #660 closed

[2019-11-04 21:48] danzil commented on #660
I've reactivated the VS developer community issue because this is not a Xaml Compiler issue. If the compile task does not receive the right references, that points to a UWP project system issue and not the task itself.

[2019-11-04 21:53] YuliKl commented on #1523
I appreciate your passion about this subject but don't have anything new to add. In other issues, I have already explained the rationale for acrylic having been removed. The introduction of WinUI 3.0 in no way changes the principles behind the Fluent Design System. So this issue remains a duplicate of #716.

As several of you have noted, there are differences across Microsoft apps in how/at what t

[2019-11-04 21:53] #1523 closed

[2019-11-04 21:56] danzil commented on #1526
Looks like something we should look at according to @alwu-msft

[2019-11-04 22:02] stevenbrix commented on #662
The syntax for function binding is this: `{x:Bind ns:Helpers.SomeMethod(Prop, 'arg')}`

The syntax described in the bug is for casting of types, and when I use it I see different errors than what's being reported. I'll need a sample app that repros this in order to investigate this any further.

I created a repro and I see errors like this:
`  C:\Users\skirb\source\repos\WinUI3App\App1\MainPage.xa

[2019-11-04 22:08] danzil commented on #715
@SvetBonev, any chance you could look at this issue? It looks like another interaction between NuGet and the project system that missed a reference to be passed to the Xaml Compiler.

[2019-11-04 22:12] danzil commented on #1117
@SvetBonev Svet, any chance you guys could have a look at this issue so we can close on it?

[2019-11-04 22:16] danzil commented on #662
@stevenbrix (cs2:Class1.SomeMethod('red')) looks like an invalid x:Bind to me. Your function binding syntax that you said works - {x:Bind ns:Helpers.SomeMethod(Prop, 'arg')} is the way to go.

[2019-11-04 22:16] #662 closed

[2019-11-04 22:40] YuliKl opened #1539 "Setting SelectionFollowsFocus causes focus rect to not render"
**Describe the bug**

When NavigationView's SelectionFollowsFocus="Enabled", the menu items no longer render focus rects while they have keyboard focus.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create new test app with
[code]
2. Tab through the controls in the app
3. Note that the focus rect disappears between  hamburger and settings buttons.
4. Change SelectionFollowsF

[2019-11-04 22:56] RealTommyKlein commented on #1521
Yes, we can definitely improve the search behavior by following the WinRT naming convention (e.g. when searching for "Foo.Bar.Employee" type, first look for a "Foo.Bar" assembly, then a "Foo" assembly).  We can also raise a warning when this would be insufficient because a type violates the naming convention, and there are many assemblies referenced by the project.

[2019-11-04 22:59] RealTommyKlein commented on #1537
Is this issue for the WinUI 3.0 alpha, or WinUI 2.x?  I don't see a WinUI 3.0 branch of the WindowsCommunityToolkit, and when building ARM and ARM64 versions of the WinUI 3.0 alpha XamlControlsGallery I do see the expected build errors that ARM isn't supported yet.

[2019-11-04 23:01] danzil commented on #1521
I don't know if the Xaml Compiler should be in the business of raising warnings about how types are organized in assemblies. We could definitely better optimize those lookups.

[2019-11-04 23:05] vsfeedback opened #1540 "Unhandled exception at Windows.UI.Xaml.dll (Access violation)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/803359/unhandled-exception-at-windowsuixamldll-access-vio.html)._

---
<p>Our team is working on a UWP application which includes Drag-and-Drop functionality. </p><p><strong>Context</strong>: </p><p>We have a user control which is reused in multiple places in the applicatio

[2019-11-04 23:23] ranjeshj commented on #1537
This is for 2.x (unrelated to winui3alpha).

[2019-11-05 00:11] dotMorten commented on #1347
I didn't expect anything until then, so that's fine by me

[2019-11-05 01:28] stevenbrix commented on #662
@danzil thanks for closing this. I left this open because of the claim that the same x:Bind worked outside of a control template. But closing is more appropriate.

I'm wondering if there was missing a reference, since the bug claimed that the same code worked when moving it between projects.

I wish the vsfeedback used peoples GitHub account so we could follow up with them.

[2019-11-05 02:56] Poopooracoocoo commented on #242
I really dislike the tilt effect in menus but I'm fine with it on buttons

[2019-11-05 04:28] huoyaoyuan commented on #662
@stevenbrix @danzil It was me to open the vsfeedback issue.
I can confirm all references are present, because missing reference also breaks same expression out of control template.

[2019-11-05 04:33] dotMorten opened #1541 "WinUI 3.0a: SolidColorBrush uses Windows.UI.Color types"
**Describe the bug**
It seems weird to me that the Color property of the SolidColorBrush is the `Windows.UI.Color` WinRT type and not `Microsoft.UI.Color`.
(Also it would be nice with implicit conversion to/from `System.Drawing.Color`)

**Steps to reproduce the bug**
Inspect the Color type on SolidColorBrush.

**Expected behavior**
Don't rely on a WinRT type.

**Version Info**

NuGet package versi

[2019-11-05 08:18] #774 closed

[2019-11-05 08:29] harvinders opened #1542 "WinUI 3.0 alpha App deployment error"
**Describe the bug**

I get the following error when I try to run the app build using WinUI 3.0 alpha

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create the WinUI 3 app from the Visual studio project template

**Version Info**

WinUI 3.0 Alpha

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :-------------------- |
| Inside

[2019-11-05 09:18] llongley commented on #1407
Fix checked into WinUI 3.0 branch.

[2019-11-05 09:18] #1407 closed

[2019-11-05 10:08] mrlacey opened #1543 "WinUI 3.0 Alpha Template Icons are all the same"
**Describe the bug**
All the icons in the template selectors (project & item) use the same icon, this adds extra cognitive load to distinguish between them making selection slower and more error prone.

I know you like the new icon but this over-use of it is unhelpful in aiding the ability to distinguish between the different options.

**Steps to reproduce the bug**
Open a New project or new Item

[2019-11-05 12:21] mrlacey opened #1544 "WinUI 3.0 Alpha Template comment links"
**Describe the bug**

The links in the comments in the code generated by the new project and new item options do not direct to the content the comment describes.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new Blank App (WinUI UWP) project
2. Open MainPage.xaml.cs

There's a link in the comment in that file to https://go.microsoft.com/fwlink/?LinkId=402352&clcid=0

[2019-11-05 13:44] mrlacey opened #1545 "WinUI 3.0 Alpha templates - simple opportunities for improvement"
**Describe the bug**
The WinUI 3.0 templates have a number of opportunities for improvement.

- [ ] AssemblyInfo.cs (in all 3 project templates) contains 3 counts of trailing white-space. Remove these are they're unnecessary and things like StyleCop will report them for formatting issues in default settings. Changing these three instances of the issue at the source will remove the need for, potent

[2019-11-05 15:45] danzil commented on #1545
Thanks for reporting these code style issues @mrlacey. I too wish we had these templates open-sourced by now. I hope to be able to do that soon.

[2019-11-05 15:47] danzil commented on #1545
@SvetBonev, the same issues apply to the UWP templates that ship with VS. Do you want to open a bug to fix those, too?

[2019-11-05 15:50] danzil commented on #1544
Thanks for the detailed feedback @mrlacey. We'll address this. @SvetBonev, the same issues apply to the UWP templates that ship with VS. Do you want to open a bug to fix those, too?

[2019-11-05 17:20] stevenbrix commented on #662
Hey @huoyaoyuan, thanks for helping us solve the mystery ☺️

Are you able to share a repro project so we can have a better understanding of what's going on? Otherwise, I'm afraid there isn't enough information in this bug report for us to move forward

[2019-11-05 17:46] kmahone commented on #1542
@harvinders, can you try the following work-around:

In Solution Explorer, right click on References and select Add Reference. Under Universal Windows, Extensions, add a reference to 'Visual C++ 2015 UWP Desktop Runtime for native apps' and click OK. Switch from 'Debug' configuration to 'Release' configuration and try to build and launch again.

[2019-11-05 17:47] jevansaks commented on #1540
We need a repro app to be able to investigate further. Closing until more information is provided. (I've also posted back to the devcommunity thread).

[2019-11-05 17:55] joseartrivera opened #1546 "Proposal: Top Navigation for NavigationView should support collapsing to an icons only mode before showing the overflow menu"
# Proposal: Top Navigation for NavigationView should support collapsing to an icons only mode before showing the overflow menu

## Summary
Much like the LeftCompact option in the PaneDisplayMode there should be a "TopCompact" or "IconsOnly" option for the PaneDisplayMode. This option would allow NavigationView to collapse the content of the NavigationViewItem when the screen size becomes too small

[2019-11-05 18:17] YuliKl opened #1547 "Targeted TeachingTips don't change position when the window is resized by changing maximized state."
@Nacimota commented on [Tue Nov 05 2019](https://github.com/microsoft/Xaml-Controls-Gallery/issues/259)

**Describe the bug**
Targeted TeachingTips don't change position when the window is resized by changing maximized state.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Go to `All Controls` > `TeachingTip`
2. Click `Show TeachingTip` under `Show a targeted TeachingTip [...]`

[2019-11-05 18:25] kmahone commented on #1542
You should also be able to work around this issue by manually installing the appx dependency. It is likely available on your machine under a path such as:
`C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.VCLibs.Desktop\14.0\Appx\Retail\x86\Microsoft.VCLibs.x86.14.00.Desktop.appx`

Please let me know if the package is not available on your machine or if installing it d

[2019-11-05 19:58] llongley commented on #1542
If you've created this project using the WinUI 3.0 alpha VSIX, you'll also need to remove this line from Package.appxmanifest using Notepad before you can deploy a project built using Debug configuration:

`<PackageDependency Name="Microsoft.VCLibs.140.00.UWPDesktop" MinVersion="14.0.24217.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />`

[2019-11-05 20:23] stevenbrix commented on #1045
@Tirraon this is a really interesting example, but I think when we talk about unifying tooling, it's better to start in the mindset that the the platforms are going to exist as they do today, and we aren't trying to create another Xaml Standard equivalent.

We can use the default namespace to differentiate which "top-level" platform the xaml file belongs to, so for example, we could have the follo

[2019-11-05 20:26] FrancoisM commented on #1500
The syncfusion grid features are great but they aren't mvvm friendly. So you could do better.

[2019-11-05 21:01] harvinders commented on #1542
Thanks, Adding the appx and removing the entry from manifest worked.

[2019-11-05 21:14] dbeavon commented on #1535
@jtorjo looks similar to my results.  There are two variations of this perf summary.  One for the first compilation of a project and one that you see after making incremental  changes to code/xaml.  Both variations are about the same where "compilexaml" task is concerned.

 The most discouraging thing that I had noticed is when I add the very first xaml control to a Uwp project and the compile tim

[2019-11-05 21:58] jtorjo commented on #1535
@dbeavon I totally feel you! That's what's killing me as well... I know I've seen somewhere on the internet (maybe it was you who said it) breaking up the UI into several assemblies.
I may end up doing just that...

As I've said in some other posts, I really need UWP, since I have to use win2d - so no matter how I slice and dice it, I still need to put up with those times.

@danzil That sounds rea

[2019-11-05 22:06] danzil commented on #1535
Unfortunately, I don't know of any workarounds besides just installing the latest VS that has fixed a couple of regressions in that area a few months ago.

[2019-11-05 23:00] StephenLPeters opened #1549 "UniformGridLayout reports the wrong size during measure override"
When you specify a MaximumRowsOrColumns value on UniformGridLayout the layout reports its size as if this value was one instead of the provided value during its measure cycle, resulting in repeater taking a lot of extra space.

[2019-11-06 00:41] vsfeedback opened #1551 "C++/WinRt with XAML only works on flat-directory project structure"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/804459/cwinrt-with-xaml-only-works-on-flat-directory-proj.html)._

---
Steps:
1) In the PhotoEditor sample app, create subfolder PhotoEditor/MyViews
2) In Solution Explorer add a filter of the same name
3) In the PhotoEditor/MyViews folder add a blank user control named MyU

[2019-11-06 01:07] agoodwin commented on #1531
First I'd just like to say thanks to everyone involved in WinUI. WPF has been the most "cutting-edge" Windows UI framework that I've had the chance to work with in my career, generally because of the restrictions of UWP combined the usual legacy code problems that make modernising difficult, so I am really looking forward to using WinUI 3.0.

Everything I've read since first coming across the road

[2019-11-06 01:37] MikeHillberg commented on #1541
The thinking on this is that Color isn't likely to change, and it's used for more than just Windows.UI. For example it's used in [MediaClip.CreateFromColor](https://docs.microsoft.com/uwp/api/Windows.Media.Editing.MediaClip.CreateFromColor) and [DataPackagePropertySet.LogoBackgroundColor](https://docs.microsoft.com/uwp/api/Windows.ApplicationModel.DataTransfer.DataPackagePropertySet.LogoBackground

[2019-11-06 02:25] dbeavon commented on #1535
The ramdisk wouldn't perform much better than ssd.  The bottleneck during builds is single-threaded CPU for a given project. (Although multiple projects might build in parallel if they are independent of each other.)  I would invest in > 4 GHz CPU if possible and make sure none of that is being wasted on defender or telemetry/insights or whatever.   There are several things you can do in your debu

[2019-11-06 03:25] MuziburRahman opened #1552 "AutosuggestBox , when ItemsSource bound to a CollectionViewSource, chooses 1st suggestion automatically on TextChanged event"
If not bound to a `CollectionViewSource`, it works.
But when it's `ItemsSource` is bound to a `CollectionViewSource`, on the `TextChanged` event, it automatically chooses the first of the suggestions, thus, changing the text once again.

**Steps to reproduce the bug**
1. Create a blank UWP C# app
2. Change the MainPage.xaml to this:
[code]

and the *MainPage.xaml.cs* to this:
[code]
3. Now build a

[2019-11-06 03:28] MuziburRahman commented on #1552
I am thinking of an ugly work around, which involves checking the `args.Reason` in the `TextChanged` event handler. I hope this critical bug will be addressed as soon as possible.

[2019-11-06 06:16] jevansaks commented on #1541
I was feeling ok about the ABI-level types being Windows.UI.* but that was when I thought that the projections would all map it to local types. For cases like this I wonder if we should reconsider -- .NET does have a pretty well-established Color type that we should maybe map to and it would avoid this oddity.

[2019-11-06 06:19] dotMorten commented on #1541
I don't really get that color is like the rect type. IMHO that should move too then.

[2019-11-06 07:52] jtorjo commented on #1535
@dbeavon I see... Yeah - I disabled Windows defender years ago. No telemetry either.

Dividing the code into smallish projects will probably be my best bet.

About the shared output directory: Is this what you're referring to: https://blogs.msdn.microsoft.com/kirillosenkov/2015/04/04/using-a-common-intermediate-and-output-directory-for-your-solution/ ?

I wasn't aware of it, since i never needed i

[2019-11-06 07:53] dpaulino commented on #1531
Let me know if this is the wrong place to ask, but is there a migration path from current uwp apps to WinUI + dotnet core 3? Will the migration require code changes?

[2019-11-06 08:18] yanshouwang opened #1553 "NavigationView display bug when use a transparent color as pane color"
**Describe the bug**
NavigationView displays another color on the left or right side of the pane when use a transparent color as pane color

**Steps to reproduce the bug**
1. Add a new NavigationView
2. Custom Pane Color in the App.Xaml like this:
[code]
3. Run the application

**Expected behavior**
NavigationView should dispaly the pane with a single color as we set.

**Screenshots**
![批注 2019-11

[2019-11-06 09:53] ZeBobo5 opened #1554 "Question: Is there any DirectX surface ?"
I would like to use DirectX, or any other solution to draw custom video renderer. Is there any solution for that on WinUI ?

[2019-11-06 11:00] adrientetar opened #1555 "Cannot click-drag TextBox text when windows is out of focus"
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open a window with a TextBox, add some text to the TextBox
2. Focus a different window, with the TextBox window still visible
3. Try to select some text in the unfocused window TextBox by clicking and dragging in it.

It doesn't work. You can click the TextBox but not drag a selection. You have to do an extra click just to focus t

[2019-11-06 12:32] mdtauk commented on #1531
Will the Uno implementation be in a browser, or will it be possible to rub the app in its own window?

[2019-11-06 13:41] dbeavon commented on #1535
@jtorjo For instructions on setting a common output directory, see this:
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-build-to-a-common-output-directory?view=vs-2019

I would create new/separate project configurations that are copied from your Debug ones.  Call them DebugFromCommon or something and set the common output directory where you want all the outputs to go.  Then create a Deb

[2019-11-06 13:52] AkshathaKukkemane commented on #1540
Hi,

I have attached a sample UWP application(App1.zip) in which the issue can be reproduced.

Steps:
1)Run the application
2)Main page shows a single text block with a text "Drag Me"
3)Click on this text continuously as fast as can until the application crashes.
4)Application crashes within few seconds.

Background:
I'm switching the state of  "CanDrag" property of this textblock every second.

[

[2019-11-06 14:22] sonnemaf opened #1556 "Discussion: Why have a Microsoft.UI.Xaml.Data.INotifyPropertyChanged in WinUI 3 Alpha"
While converting an app to WinUI 3 Alpha I noticed that there is a new  Microsoft.UI.Xaml.Data.INotifyPropertyChanged interface. It replace the  System.ComponentModel.INotifyPropertyChanged interface. Why? You need it for OneWay databinding but is this wise?

Some existing classes like System.Collections.ObjectModel.ObservableCollection<T> implement the System.ComponentModel.INotifyPropertyChanged

[2019-11-06 14:28] MikeHillberg commented on #1556
We're working on a fix to this. The INotifyPropertyChanged and INotifyCollectionChanged interfaces have always been in the Windows.UI.Xaml.Data namespace, but in C# there's an interop layer that converts them to System.ComponentModel. That conversion isn't happening for the interfaces in the alpha.

[2019-11-06 14:34] sonnemaf opened #1557 "WinUI 3 Alpha Theading problem with ObservableCollection<T> databinding"
Hi,

I get this **'System.Runtime.InteropServices.COMException: 'The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E (RPC_E_WRONG_THREAD))''** exception when I add an item to an ObservableCollectionOfT which is databound to the ItemsSource of a ListView.

[code]

[code]

**Steps to reproduce the bug**
Take the code and click on the bu

[2019-11-06 14:35] sonnemaf commented on #1556
Hi Mike, that makes sense. With this you can close the issue. I will wait for a new version.

[2019-11-06 15:16] dpierangeli commented on #1531
"Run your app on Chromium through Electron"

[2019-11-06 17:31] #1556 closed

[2019-11-06 17:34] stevenbrix commented on #1551
Hmm, I wonder if this is a cppwrint or xaml compiler issue. @kennykerr do you know?

[2019-11-06 17:43] kennykerr commented on #1551
The cppwinrt compiler provides a few different ways to structure includes, but I believe the combination of msbuild and xaml takes a narrower path. @danzil or @Scottj1s may have additional commentary but I don't think this is open to change at this point.

[2019-11-06 17:44] danzil commented on #1531
@dpaulino We're looking at all options for migration to WinUI. Currently, we're seeing a migration path where all you'd need to do is target the WinUI nuget and search and replace "Windows.UI.Xaml" to "Microsoft.UI.Xaml" + small code changes for certain types that don't benefit from .Net's custom projections such as constructors for Color, Thickness or INotifyPropertyChanged, etc. Our goal is to m

[2019-11-06 17:46] kmahone commented on #1557
This is a known limitation of the WinUI 3 Alpha release. The issue is with how certain special WinRT interfaces (such as Windows.UI.Xaml.INotifyPropertyChanged) get projected into .net (as System.ComponentModel.INotifyPropertyChanged). This same mapping does not currently work for the WinUI types (under Microsoft.UI.Xaml.*). The workaround for the Alpha is to not implement the .net interface (Syst

[2019-11-06 17:48] danzil commented on #1551
cppwinrt.exe emits this file 'MyUserControl.g.h', so there is where the bug lies, I believe. Kenny's right, there are some limitations regarding project structure that impose a certain flatter project structure. @Scottj1s may know if this is fixable.

[2019-11-06 17:53] Austin-Lamb commented on #1496
I'm going to close this as a duplicate of #1495 - please see the last comment I put there before that issue was closed.  I'll work with the input team internally to get any additional information added to 1495.

[2019-11-06 17:53] #1496 closed

[2019-11-06 17:57] stevenbrix commented on #1543
We do like the new logo 😂

It does look like we've broken from the norm here, which probably isn't good. The other project templates differentiate based on the type of project:

![image](https://user-images.githubusercontent.com/9649518/68323888-2e8a1480-007b-11ea-84ad-099f45bafdec.png)

Similar thing goes for ItemTemplates as well, as shown in the original post.

@mrlacey, do you think we should

[2019-11-06 18:01] stevenbrix commented on #1526
@michael-hawker do you think there is a need for conditional xaml with WinUI3? It was created to solve the downlevel issue, which seems to be a problem we should fundamentally no longer have with WinUI3.

[2019-11-06 18:06] stevenbrix commented on #1521
We should definitely optimize our lookup. But if we're shipping a feature that fundamentally degrades the user experience in certain scenarios, and we can detect those scenarios, then I think raising a warning is appropriate.

Actually, activating types in this scenario (when violating WinRT naming conventions) doesn't even work does it? If that's the case, would disabling the feature entirely mak

[2019-11-06 18:08] #1384 closed

[2019-11-06 18:12] stevenbrix commented on #1517
@jtoro I have heard this from customers that this would be preferable (and I have to agree). I think the appropriate place to have this discussion is in the xlang project, and I opened this issue a while back for this exact issue https://github.com/microsoft/xlang/issues/484. Please go comment/upvote if you'd like to see that 😄

[2019-11-06 18:24] michael-hawker commented on #1526
@stevenbrix assuming everything works in WinUI3 for all OS versions with the exact same behavior, will that still be the case for all OS platforms? I can also see the `IsTypePresent` and `IsPropertyPresent` conditionals being useful for other libraries and cases beyond just WinUI, especially if loaded via dependency injection?

[2019-11-06 19:07] benstevens48 commented on #1441
Thanks for the reply. A pixel snapping API that happens on render relative to a global origin would be great, assuming it could apply to all controls. Hopefully this could include shapes like Rectangle (maybe via an option) - at the moment Rectangle stroke is not snapped to display pixels, which means a Rectangle with a stroke width of 1 at 150% display scaling looks slightly blurred compared to a

[2019-11-06 19:10] danzil commented on #1543
The intent with the icons was to eventually create distinct ones based on the type of the project/item being represented (what you're suggesting). For Alpha, we only had that many design resources to create the single awesome icon based on the design that the community created for us. :-)

[2019-11-06 19:14] mrlacey commented on #1543
That's perfectly reasonable.
But it's still necessary to document the intended desired future version and create a task to track work toward that 😄

[2019-11-06 19:15] stevenbrix commented on #1526
Yes, that is the main motivation for lifting the entire WinUI platform out of the OS :)

Interesting, I hadn't thought of that! Can you explain why they would be useful? It would be nice to have a better understanding of what problems it solves in the WinUI3 world.

[2019-11-06 19:30] danzil commented on #1521
We're already having a lot of trouble with MIDL and WinRT imposing these silly assembly naming conventions. Since type activation in .Net does not require it (you can reference a Class Library instead of a Windows Runtime Component), I don't believe the Xaml Compiler should either. We should fix our perf and perhaps warn about the reflection provider not being the right mechanism to use if it real

[2019-11-06 19:36] danzil commented on #1543
Yes, absolutely! 😊

[2019-11-06 20:00] TheManFromDelmote commented on #716
Faulting application name: SecHealthUI.exe, version: 10.0.18362.387, time stamp: 0x5d8990a3
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.18362.449, time stamp: 0xb90db728
I have been trying to add another exclusion to defender, now the windows closes and I get this message after selecting the drop down item containing File/Folder/File type/Process

Exception code: 0xc000027b
Fault offs

[2019-11-06 21:03] mgollubske commented on #230
I get  the error " System.TypeLoadException: 'Could not find Windows Runtime type 'Microsoft.UI.Xaml.Controls.XamlControlsResources'.' in my UWP.  It has me very confused as it works fine in the Debug Configuration.  However, the project also has a configuration called Test that I will get that error for?  Is there something with the nuget library and different configurations that it has issues wi

[2019-11-06 21:06] llongley commented on #230
I think you're hitting a regression that was introduced recently.  [This pull request](https://github.com/microsoft/microsoft-ui-xaml/pull/1560) should fix the issue you describe.

[2019-11-06 21:24] mgollubske commented on #230
Do you have an estimate of when that fix may be available via nuget?

[2019-11-06 21:29] llongley commented on #230
Once it's checked in, which should happen as soon as PR checks pass, it should be available in prerelease after the CI build picks up that commit.  That generally happens about an hour after checking in.

[2019-11-06 22:47] jevansaks commented on #716
Sorry this one fell off my radar, I have some diagnostic cabs now that I'm going to follow up with @DanZil on.

[2019-11-06 23:00] AlexanderYW commented on #716
No problem 😊

[2019-11-06 23:19] harvinders commented on #1557
@kmahone, @jevansaks
It would be nice to collect these limitations at one place. The page https://docs.microsoft.com/en-us/uwp/toolkits/winui3/ already lists some.

[2019-11-06 23:24] kmahone commented on #1557
@harvinders, I agree. This limitation actually is called out on that page, under the **Controls and features** list, but it is not very clear and the work-around is not really elaborated on.

@jesbis @MikeHillberg can we get that page updated with a clearer description of this limitation? I expect this is an issue that will be hit a lot, and it is not obvious what the problem is when it is hit.

[2019-11-07 00:03] llongley commented on #230
Actually, sorry, I misremembered - our CI build publishes to a private feed to test nuget restore; that doesn't go to nuget.org.  We publish to nuget.org on a monthly basis, so the regression I mentioned shouldn't have been published yet.

[2019-11-07 04:14] MikeHillberg commented on #1541
Rect and Color are both referenced by types outside of Windows.UI. They're broader in scope than just WinUI. So we could create a new Color type, but I don't see the benefit to it. (There are other types that Xaml references that aren't in WinUI either, like SoftwareBitmap.)

[2019-11-07 04:17] jevansaks commented on #1557
Anyone can make a PR to edit the docs page. :) But I think it's a good idea to have some more specific guidance. @ranjeshj you did the workarounds for the test apps, right? Could you write up a blurb to add as a new section in there, like "If you see an exception like this then ..."

[2019-11-07 04:34] jevansaks commented on #1541
But in the same way that String is mapped to HSTRING, could we not map System.Drawing.Color to Windows.UI.Color? Is the conversion too lossy?

[2019-11-07 04:49] dotMorten commented on #1541
I find that a little weird too. I assume my question would apply to c++ as well so not just a question of language projection.
Also weird for Uno to have Window.UI.* as a first class type in an x-plat API.

It would also make the story much clearer to change everything under the Windows.UI namespace when moving to WinUI. It is UI after all

[2019-11-07 05:19] jevansaks commented on #1540
Thanks, @AkshathaKukkemane ! We'll take a look at the repro.

[2019-11-07 06:31] jesbis commented on #1531
@agoodwin thanks for the comments! We greatly appreciate the feedback - it's especially helpful to hear about what kinds of apps people are building and what features are important. We definitely aim to make it easier to develop modern native apps with WinUI 3.

If your release timeframe is only 2-3 months away then extending your existing app does sound like the most reasonable approach. If you'r

[2019-11-07 08:14] GeorgeS2019 commented on #686
@jevansaks  It would be a great idea to showcase [openai/gym](https://github.com/openai/gym) reinforced training in 3D in Hololens 2.0 using [SciSharp/Gym.NET](https://github.com/SciSharp/Gym.NET) and godot(UWP) compiled with Angle (Hololens)

[2019-11-07 08:57] sonnemaf commented on #1557
The TestObservableCollection solved my problem. It is a great workaround. Thanks!

[2019-11-07 12:03] carmineos commented on #1531
I can't wait for WinUI in win32/desktop with .NET Core!

[2019-11-07 12:27] mdtauk commented on #1531
WinUI 3.0's stable release will be the start.  What happens after will make or break the platform in the longer term.

Will it speedily address the needs of developers from all camps?

Will inbox apps currently "stuck" in Win32 legacy UIs, be moved to WinUI?

Will "limited" UWP apps find better performance and new powerful capabilities, when released from the sandbox?

Will the dev story be clear

[2019-11-07 14:18] Tirraon commented on #1045
@stevenbrix
In your example for UWP it will render both buttons, isn't it?
I mean, for case, when xmlns=".../xaml/presentation" is "top level" and UserControl and StackPanel are available in both uwp and wpf, then wouldn't second Button be available also in both platforms?

Yeah, I am totally agree with it.

[2019-11-07 14:28] Gavin-Williams opened #1562 "Question: When will SwapChainPanel be available?"
I tried the WinUI 3.0 for UWP and got 'Unknown type 'SwapChainPanel' in XML namespace'

I need to be able to create a SwapChain for both SwapChainPanel and CoreWindow (Xaml-less window).

C#.

[2019-11-07 14:48] stevenbrix commented on #1045
The example I gave is purely for the WPF application that uses Xaml Islands to incrementally modernize their application. It isn't intended for a "standard" markup that is used between WPF and WinUI applications, does that make sense?

Currently, app authors wanting to use Xaml Islands have to create user controls for every island. They then reference the type via a string in their WPF markup, rat

[2019-11-07 15:04] Tirraon commented on #1045
@stevenbrix
Oh, now I got you, thanks.

[2019-11-07 15:13] stevenbrix commented on #1045
@Tirraon great! Glad we're on the same page ☺️

Sorry if my idea seemed to come out of left field, we've been in early discussions of how we could potentially unify tooling, with the goal of improving the Xaml Island scenario. Do you think there's value in something like that?

FWIW, I definitely think there's merit in something like what you were proposing. But I'm trying to focus on something th

[2019-11-07 15:25] sharpninja commented on #1045
Figure out how to render WinUI Xaml to some pipeline that translates the output to a native canvas and receive input from a native message system.  Like WinUi.Adapters.DirectX, WinUI.Adapters.WASM, WinUi.Adapters.X, WinUi.Adapters.Android.

Implementing all of the adapters isn't necessary at Launch, just the ones that are required to support Windows 10.
________________________________
From: Steve

[2019-11-07 16:13] sylveon commented on #1045
Yes please, the XAML Island scenario is horrible at the moment

[2019-11-07 16:37] Scottj1s commented on #1551
Yes, this is a known limitation of cppwinrt.exe, which does not have access to the project structure, as the xaml compiler does.  There is some support for nested folders, which must follow namespace hierarchy, but not generalized folder layout.

[2019-11-07 17:00] Tirraon commented on #1045
@sharpninja
You should take a look at Uno
https://platform.uno/
Also it's going to support WinUI 3.0 for every platform
https://platform.uno/winui-on-windows7-via-unoplatform/

@stevenbrix
I am not really experienced with Xaml Islands and work usually with plain UWP. But I definitely need to look at it closer.
My proposal wasn't related to Xaml Islands itself, but more related for WinUI in general

[2019-11-07 17:15] kmahone commented on #1557
I've created a PR that updates the docs:
https://github.com/MicrosoftDocs/winrt-related/pull/154

[2019-11-07 17:24] kmahone opened #1563 "Test pass should include chk coverage"
We can switch over one of our OS configs to test chk. We are already **building** chk, so adding it to the test matrix would not require new build configs.

There will likely be a set of tests that don't pass reliably in this config, so part of this work would be to fix any failing tests.

[2019-11-07 17:36] stevenbrix commented on #1045
@Tirraon, yup I totally get it, and absolutely love where your head is at 🙌

I've briefly spoken with @jeromelaban and company about exactly what you're proposing, and there is definitely interest. There's no concrete plan or commitments yet, as we are still in the very early stages of discussions. This sort of input is great, and helps us better understand the value it brings to our customers 😄

[2019-11-07 17:44] sylveon commented on #1045
By the XAML island scenario I mean the C++ one. See my previous messages in this thread for the list of issues I've faced.

[2019-11-07 17:48] Karl-Bridge-Microsoft commented on #1557
PR revised slightly and merged. Should be live soon.

[2019-11-07 17:54] stevenbrix commented on #1045
@sylveon I see your comments (links below), and yeah that sounds pretty terrible.
https://github.com/microsoft/microsoft-ui-xaml/issues/1045#issuecomment-512945553
https://github.com/microsoft/microsoft-ui-xaml/issues/1045#issuecomment-513505038

Have you seen [this](https://youtu.be/qeb6xJYpi4s?t=2296) video on the updated Xaml Island experience? That link should start the YouTube video at the po

[2019-11-07 17:59] robloo commented on #1045
@stevenbrix

There is so, so much interest! (This conversation pops up everywhere) If WinUI post 3.0 shifted to cross-platform implementations you would have a lot of developer support. Just look at the discussion on #1461. In the short term using Uno Platform tech to convert XAML/C# into HTML/WASM to get UWP apps running on all platforms would be amazing. Longer term I'm concerned about the perfo

[2019-11-07 18:20] YuliKl commented on #1540
@ranjeshj can you take a look?

[2019-11-07 18:20] sharpninja commented on #1045
WinUi is the only sane path that leads to both Neo and Duo surviving
________________________________
From: robloo <notifications@github.com>
Sent: Thursday, November 7, 2019 12:00:07 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xaml] WinUI 3.0 Develope

[2019-11-07 18:28] YuliKl commented on #1562
@Austin-Lamb can you take this one?

[2019-11-07 18:30] YuliKl commented on #1554
@Austin-Lamb can you help?

[2019-11-07 18:44] mdtauk commented on #1045
I tend to agree, but getting the same UI from a Windows app, running on Android and the Surface Duo.  With minimal intervention from the developer - that is the holy grail.

If WinUI has any chance of being a primary development platform, and giving Windows a chance against becoming just a receptacle of other platform's apps in the long term.

[2019-11-07 20:32] jevansaks commented on #716
I've followed up with a couple of the bucket issues here but crashes that appear here aren't actually WinUI issues, they're app problems. That said, we should do better to make these issues identify the app more clearly when they occur so let's use this issue to track that problem.

[2019-11-07 21:40] jesbis commented on #1562
Thanks for trying out WinUI 3!

Unfortunately SwapChainPanel isn't available yet: you can find the list of missing features we're still working on for WinUI 3 here (including SwapChainPanel):

https://docs.microsoft.com/uwp/toolkits/winui3/#controls-and-features

We don't have an exact availability date yet for SwapChainPanel but it should start appearing in preview builds before shipping next yea

[2019-11-07 21:40] #1562 closed

[2019-11-07 22:10] jesbis commented on #1554
Hi @ZeBobo5 are you asking about WinUI 2 or the WinUI 3 Alpha?

---

For the WinUI 3 Alpha, unfortunately DirectX swap chain interop isn't available yet: you can find the list of missing features we're still working on for WinUI 3 here (including SwapChainPanel):

https://docs.microsoft.com/uwp/toolkits/winui3/#controls-and-features

---

If you need to ship an app before WinUI 3 is ready then we

[2019-11-07 22:11] #1554 closed

[2019-11-07 23:10] YuliKl commented on #1553
@yanshouwang what you're seeing is actually expected behavior. Depending on NavigationView's mode (Minimal, Compact) the layers underneath the Pane vary. In Compact mode, the Content panel is pushed to the right because the Pane panel will always take up some amount of width, whether the Pane is open or closed. The same is not true in Minimal mode because, in that case, the closed Pane takes up no

[2019-11-07 23:54] danzil commented on #1551
Closing per Scott's comment

[2019-11-07 23:54] #1551 closed

[2019-11-08 00:04] danzil opened #1566 "WinUI 3 dlls' version does not match NuGet's version and is rather confusing"
WinUI 3 dlls' version does not match NuGet's version and is rather confusing

**Steps to reproduce the bug**
* Create a new WinUI App
* Set breakpoint in MainPage's constructor
* F5
* Load modules' window and look at the Win UI dlls' version

**Expected behavior**
Version should match nuget version

[2019-11-08 00:46] YuliKl commented on #1546
We'll want to complete #378 before starting work on this issue. Un-assigning myself for now, will look into this once the refactor is completed.

[2019-11-08 02:43] Gavin-Williams commented on #768
I prefer cleartype over grayscale per pixel dithering. When I switched to UWP, I noticed it straight away as having inferior text rendering.

[2019-11-08 03:44] jevansaks commented on #1557
Thanks @kmahone and @Karl-Bridge-Microsoft !!

[2019-11-08 06:04] bmeersma commented on #1283
The Ctrl key is a Narrator shortcut to stop typing so we probably shouldn't use it for this purpose. In Office we use Ctrl + Shift + F10 to invoke tooltips. Can we also use this shortcut to dismiss tooltips?

[2019-11-08 06:48] dragonwolf83 commented on #768
I've always noticed OneNote UWP being more blurry, this certainly help explains it.

ClearType is an important feature that needs to carry forward until a superior global replacement is introduced. It was marketed as a key Windows differentiator and had many release cycles to bake it into more of Windows. It works, and many find it to be better than known alternatives. This is a major consistency

[2019-11-08 08:47] yanshouwang commented on #1553
@YuliKl I only set "IsTitleBarAutoPaddingEnabled" and "IsBackButtonVisible" and override the Pane's background.
My scenrario is that actually I want to set the pane's background with an acrylic brush and set a transparent color as it's fallback color, so when the window is inactive, the pane will show the fallback color.
So if this is a expected behavior I think maybe the Docs should write somethi

[2019-11-08 12:11] Gavin-Williams commented on #1562
Excited about WinUI, and .Net 5, I just hope game development isn't lost along the way. Remember that SharpDX is the only DirectX wrapper on the table. So any DX interop elements have to work with that.

[2019-11-08 14:59] adrientetar commented on #1255
Why you want bake a heuristic into the control? Besides not every font is guaranteed to have these and it probably does not make sense in scripts other than latin.

[2019-11-08 15:00] vgromfeld opened #1570 "Add flyout support to NavigationViewItem"
Add flyout support to `NavigationViewItem`. It can either be done directly on `NavigationViewItem` or through a new `NavigationViewButtonItem` type;

## Summary
We often need to add a "global"/primary action at the beginning of our navigation items.
We can add custom controls but they do not always integrate well in all display modes (top, left or compact). When a single action is needed, we can u

[2019-11-08 17:20] kmahone commented on #890
@Sergio0694 I have made a fix to SwipeControl that I think should resolve this issue. However, since I cannot reproduce the issue myself, there is no way for me to confirm that the issue has been fixed. Probably the best thing to do is to wait for a new WinUI prerelease to get published on nuget.org and then update your app and see if the crash goes away.

Alternatively, if you don't want to wait

[2019-11-08 17:20] #890 closed

[2019-11-08 17:36] MarkIngramUK opened #1571 "Question: Will WinUI 3.0 be buildable with Clang/LLVM (and CMake/Ninja)?"
[Assuming that WinUI 3.0 will be compilable from source, rather than relying on Nuget packages...]

Given CMake is a first class citizen in Visual Studio now, will it be a supported build system for WinUI 3.0? Also, for cross platform projects that use clang on other platforms (e.g. macOS) it is useful to use the same compiler on Windows to minimise (or compare) performance and compilation differe

[2019-11-08 17:40] shaheedmalik commented on #1570
This issue:

https://github.com/microsoft/microsoft-ui-xaml/issues/79

[2019-11-08 17:42] jevansaks commented on #1570
I think #79 covers this request, does it not? @vgromfeld what would you like to see out of hierachical navigationview that #79 doesn't encompass? We aren't currently planning support for arbitrary content in the flyouts, is that what you are looking for?

[2019-11-08 17:46] Sergio0694 commented on #890
Hi @kmahone - I was just about to reply to your previous comment, thanks!
I've followed your advice and refactored my code, instead of inheriting from `SwipeControl` I'm now using a templated `ContentControl` with a `SwipeControl` and a `ContentPresenter` in the template, and placing those relay properties in that control, as you suggested.
I've just pushed an update to production with this change

[2019-11-08 17:54] jevansaks commented on #890
Can you elaborate? Do you have a link to the tracking issue and the response you've gotten?

[2019-11-08 18:08] #1512 closed

[2019-11-08 18:44] Sergio0694 commented on #890
@jevansaks Sure! Paging @LanceMcCarthy as he was so kind to take the time to help me out and investigate the issue. He also has more insights into what is happening exactly.
I can give access to the repo to you or someone else from the WinUI team in case you're interested, that was you'll also be able to see the full investigation that Lance did there.

From my understanding, there were a number o

[2019-11-08 18:45] YuliKl commented on #1553
Thank you for the explanation. Agreed that we should make this information clear in our documentation, so reactivating this issue to track a doc update.

[2019-11-08 18:47] jevansaks commented on #890
Sounds like something @DanZil and @alwu-msft should help with. Is the app open source or could you share the XAML file that's failing to compile? Have you narrowed it down to specific syntax or structure in the XAML file that's tripping this?

[2019-11-08 18:58] LanceMcCarthy commented on #890
@jevansaks You can ping Kevin Larkin for the MSFT internal BR. The issue was fixed in insider preview builds 18970 or newer.

[2019-11-08 19:04] #1489 closed

[2019-11-08 20:11] mdtauk opened #1572 "Settings does not display indicator with PaneDisplayMode = Top"
**Describe the bug**

**Steps to reproduce the bug**
- Open XAML Controls Gallery (WinUI 3 Alpha) and navigate to the NavigationView example page
- Scroll down to the _NavigationView with PaneDisplayMode set to Top_ and tap the settings item

**Expected behavior**
Navigating to Settings should display the selected indicator as the other navigation links do.

**Screenshots**
![image](https://user-i

[2019-11-08 20:45] agoodwin commented on #1531
Thanks for the clarification, I didn't realise C++ was another option for short term usage of WinUI 2 without .NET Core, so that's good to know.

Realistically we probably shouldn't use C++ in the specific application I was referring to, but we do have some C++ stuff so it could be useful for that.

Anyway, it sounds like for now we should hope the migration to .NET Core works for us and then work

[2019-11-08 21:03] dan-meier commented on #1528
Unfortunately, the NavigationView won't work in the scenario I'm working with.  I'm simply launching open file dialogs and the like, so the "back" button is problematic.  I would use the Menu control in the Windows Community Toolkit (which has an Orientation property), but I'm scared away by the warning banner indicating, "This control will be removed in a future release. Please use the MenuBar co

[2019-11-08 21:05] licanhua opened #1573 "Duplicate type error when both c++/winrt app and c++ windows runtime component are using WinUI framework package"
How to repro:
Download and compile [BlankApp2.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3826216/BlankApp2.zip)

Both BlankApp2 {Blank App(C++/WinRT) template} and RuntimeComponent1 {Windows Runtime Component (C++/WinRT) template} are cppwinrt project which is created by https://marketplace.visualstudio.com/items?itemName=CppWinRTTeam.cppwinrt101804264
Both projects have reference t

[2019-11-08 21:16] chingucoding commented on #1528
You can disable and hide the "back" button by setting `IsBackEnabled="False"` and `IsBackButtonVisible="Collapsed"` respectively. So that would make it feel a bit more like a MenuBar.

[2019-11-08 21:25] chingucoding commented on #1572
This issue is also present in WinUI 2(.3)

[2019-11-08 21:30] robloo commented on #1572
Funny, but I just noticed this a few hours ago myself.

Also present in Microsoft.UI.Xaml 2.2.190917002

[2019-11-08 23:08] kmahone commented on #1571
When WinUI 3 goes open source, it will be compilable from source. It uses MSBuild and the msvc compiler to build.

With regards to your questions about CMake and Clang. Are you asking if you will be able to build a WinUI 3 **app** using these tools? Or are you asking if you will be able to build the WinUI runtime itself from source using these tools?

When it comes to compiling a WinUI app in C++

[2019-11-08 23:37] CheathamPatrick opened #1576 "Question: is ItemsRepeater only allowed in XAML for Custom Control Templates?"
I notice that though I use examples from the UWP documentation on ItemsRepeater, my MainPage.xaml file and editor will not accept usage of the control in markup. Is this only to work in a custom control situation? Thank you for your time in answering!

[2019-11-08 23:45] danzil commented on #1573
@Scottj1s looks like this error comes from mdmerge, invoked from 2>C:\Users\danzil\Desktop\BlankApp\packages\Microsoft.Windows.CppWinRT.2.0.190530.8\build\native\Microsoft.Windows.CppWinRT.targets(340,9): error MSB3073: The command "mdmerge @"ARM\Debug\mdmerge.rsp"" exited with code 2.

[2019-11-09 00:10] kmahone commented on #1576
Can you share the xaml that is causing problems for you?

When you say the "editor will not accept usage of the control", what do you mean by this? Are you getting compiler errors? Can you share the error?

Have you included the Microsoft.UI.Xaml nuget package in your project? ItemsRepeater is only available in that package. It is not available from the Windows SDK.

[2019-11-09 00:12] kmahone commented on #1082
@Sergio0694 since #890 is now closed, I am going to close this issue also. If this particular issue remains a problem for you, please let me know and I can reactivate.

[2019-11-09 00:12] #1082 closed

[2019-11-09 00:44] kaiguo commented on #559
Adding the 2 rendering bugs for tracking (MS internal links):

[Bug 23957752](https://microsoft.visualstudio.com/OS/_workitems/edit/23957752): 19H1 regression breaks MUX reveal border
[Bug 23932680](https://microsoft.visualstudio.com/OS/_workitems/edit/23932680): CornerRadius + BorderBrush with opacity breaks reveal background

[2019-11-09 02:09] Poopooracoocoo commented on #1531
off topic-ish:

after i read mdtauk's comment I realised that Google and Facebook don't even have any native apps for Windows (except Google Drive's backup). Facebook used to have UWP apps that were ports from iOS but they ditched them. I can imagine FB releasing native apps using react native once/if react-native-windows gets merged with react native

I'm interested in what Spotify and Adobe will

[2019-11-09 02:18] Poopooracoocoo commented on #1332
@shaheedmalik i think thats normal behaviour so it's easy to drag tabs and the 1px line is the active window border

[2019-11-09 02:43] lindexi commented on #1531
I do not think support win7 by Electron is good way. Why we need to run in our platform but dependent on Electron.

[2019-11-09 02:59] jevansaks commented on #1573
It is surprising to me that Microsoft.UI.Xaml.winmd is in the RuntimeComponent1 output location. Is that expected @scott1js?

[2019-11-09 03:31] hupo376787 opened #1577 "ItemsRepeater throws System.InvalidCastException when using converter"
**Describe the bug**
I'm designing an app like NetFlix home page. For a better user experience, I used some converters in `ItemsRepeater` data template.
Then the app crashes every time staring,  and throw exceoption `System.InvalidCastException`.
But if I don't use converter, the app starts and runs well.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to MovieTemplate, cha

[2019-11-09 04:19] #800 closed

[2019-11-09 08:05] monkeynoises commented on #717
You Blazor team should work with Uno to get some of its hosting models included in Uno, and/or to get the Uno UI (and thus WinUI 3) rendering/visual layer useable by Blazor....and/or maybe Xaml Islands for Blazor ?

[2019-11-09 08:31] micahl commented on #264
https://github.com/micahl/microsoft-ui-xaml-specs/blob/scrollviewer/active/ScrollViewer/ScrollViewer.md

[2019-11-09 10:58] Tirraon commented on #1531
@lindexi
It's better than nothing, when Win7 shouldn't be supported at all.
Also full backporting to Win7 is time consuming, so it's better to spend Microsoft resources to make WinUI better on Win10. IMHO.

[2019-11-09 11:21] mdtauk commented on #256
I am guessing this is when the Calendar View is displayed as a flyout, and not when placed as a control?

[2019-11-09 11:23] mdtauk commented on #761
Here is an illustration of the before and after, with 80% acrylic
![image](https://user-images.githubusercontent.com/7389110/68527825-4cf24900-02e3-11ea-8e3d-56bc165ac720.png)

[2019-11-09 11:24] mdtauk commented on #1523
Here is an illustration of both 60% and 80% acrylic

![image](https://user-images.githubusercontent.com/7389110/68527842-714e2580-02e3-11ea-8919-4f392c94ca9b.png)

[2019-11-09 12:35] Berrysoft commented on #1531
I try to port a small program to WinUI 3 Alpha, and it surprises me that it lacks the DPI awareness... It's not by design, right?😂

[2019-11-09 14:30] carmellolb commented on #1523
This is perfect! Acrylic is still visible, and it is not distracting, but still beautiful. Why on earth can they not implement this?

[2019-11-09 16:07] robloo commented on #1331
I recently noticed that using the VisualTree is actually required in the NavigationView in some cases according to the documentation. Further evidence that locking down the VisualTree is generally problematic in some edge cases.

https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview?view=winui-2.2

This is probably a bad implementation in the NavigationView though and

[2019-11-09 17:49] RyoukoKonpaku commented on #1461
@stevenbrix

An interesting discussion, also noticed Blazor Native being mentioned here as well.

There's been a new NDC conf from Steve with Blazor that might be interesting to consider, the video above using Blazor + Native used Flutter as a renderer. But in a new [NDC Conf video](https://www.youtube.com/watch?v=6BT2AF9PO5g&feature=emb_title) Steve now uses `Xamarin.Forms` to render mobile UI wi

[2019-11-09 18:56] Scottj1s commented on #1573
Can we reevaluate with the latest C++/WinRT vsix/nuget/templates?  @jlaanstra has made some significant improvements to the msbuild support, addressing duplicate type definition errors like this, among others.

[2019-11-09 20:14] verelpode commented on #1461
UPDATE:
A new version of MS Teams was released recently, and it improves the time taken to view the most recent chat message.  In a previous message, I mentioned that it took approx 27 seconds, but thankfully the new version is faster at showing the most recent chat message.

Thank you to the Microsoft staff members who worked on this improvement. :smile:

[2019-11-09 22:49] adrientetar commented on #1576
Make sure you add xml namespace xmlns:muxc="using:Microsoft.UI.Xaml.Controls" then write muxc:ItemsRepeater

[2019-11-10 00:04] jlaanstra commented on #1573
@jevansaks @Scottj1s VS tends to copy Reference entries to the output folder which will then be picked up by mdmerge, because it uses the output directory as a metadata_dir. I have a OPR out internally to make mdmerge support files so we can be more specific about what we pass to mdmerge.exe.

In the meantime you can use this as a workaround:

[code]

[2019-11-10 02:43] Berrysoft opened #1579 "WinUI 3 sometimes doesn't render clearly"
**Describe the bug**
WinUI 3 sometimes not renders texts clearly, when setting the Margin of TextBlock to some certain value.

**Steps to reproduce the bug**
[code]

**Expected behavior**
The text should all be clear.

**Screenshots**
![image](https://user-images.githubusercontent.com/37586447/68537855-d36f5f00-03a5-11ea-8c03-1693962b21ef.png)

When Margin is 2 or 5, the texts are rather blurred.

[2019-11-10 10:02] MuziburRahman opened #1581 "TabView's desired width doesn't increase when HorizontalAlignment isn't set to Stretch"
I inspected with visual studio and found that it's desired size only decrease when available space is less, but doesn't increase when available space is more.

![output](https://user-images.githubusercontent.com/21083609/68542057-062f4c80-03d2-11ea-8b14-8a310a9e557f.gif)

The bug also appears in Windows Terminal Preview:
![image](https://user-images.githubusercontent.com/21083609/68542066-4abae800

[2019-11-10 15:23] kmgallahan commented on #1579
Probably related to #1441

[2019-11-10 19:27] mfeingol opened #1582 "MessageDialog does not respect app theme"
**Describe the bug**

I'm not entirely sure this falls within your bailiwick, since MessageDialog is an OS control at the moment. But I wasn't sure where else to file it. This may ultimately be a feature request for a proper dialog box control.

In short, I have a UWP app that allows the user to select between light and dark themes. When the latter is selected on an OS whose default is the light t

[2019-11-11 00:57] lindexi commented on #1531
@Tirraon I total agree with your point. But this behavior will zip the WPF space in Win7. "Look at here, the UNO use Electron, the Electron is better than WPF ... "

[2019-11-11 03:12] Berrysoft commented on #1531
You're right, but every new-born framework may zip the old ones. UWP will zip WPF on Windows 10, and WinUI with Xaml island will zip it too.

[2019-11-11 03:15] lindexi commented on #1531
I dont think the Electron is in dotnet technology stack. I am willing the UWP zip WPF but I dont like the Electron zip WPF.

[2019-11-11 04:38] weitzhandler commented on #1531
I think the most cheerful and important thing here is Microsoft and the WinUI team's recognition of the need for xplat, and the willingness to work with the Uno team. This is a great start, and I hope it doesn't too long to spread deeper and wider.

[2019-11-11 06:15] #1498 closed

[2019-11-11 06:21] AccessibilityTestingTeam-TCS opened #1584 "A11y_OSvisualupdate_MiniControGallery_ CalenderandColorPickerControls_Keyboard : The keyboard focus is not clearly visible for the color picker control."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #MAS2.4.7, #Keyboard

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with Calender and Color Picker controls would appear on right

[2019-11-11 06:21] jevansaks commented on #1582
This is by design for MessageDialog, that's showing a dialog from the system and so it follows the system theme. We would encourage you to use ContentDialog.

For ContentDialog, if you create it from code-behind then yes you would need to set RequestedTheme on it. But (and possibly surprisingly) you can actually add ContentDialog to your tree and in that case it will inherit the theme so you don't

[2019-11-11 06:24] jevansaks commented on #1581
Good find! Looks like we stash some information in MeasureOverride, I wonder if we're not getting re-measured (only re-arranged) and we need to InvalidateMeasure somehow?

[2019-11-11 06:32] MayuriNaik opened #1585 "A11y_ControlUIupdatebasedonSantoriniOSvisualupdate_MiniControGallery_GenericControls_Keyboard : The "Hello World" text besides Tooltip receives keyboard focus which is incorrect."
GitHubTags: #A11y_ControlUIupdatebasedonSantoriniOSvisualupdate, #A11yMAS, #A11yTCS, #Win10, #DesktopApp, #WindowsUILibrary, #MAS2.1.1, #Keyboard

**Environment Details:**
Application Name: Control UI update based on Santorini OS visual update
Application Version: 1.0.1.0
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App fro

[2019-11-11 08:24] MarkIngramUK commented on #1571
Hi @kmahone , I'm talking about the compilation of the actual WinUI library, not an app that uses WinUI. My plan is to compile WinUI from source, within our solution. Currently we have a `.sln` and a `CMakeLists.txt` which we maintain side-by-side. The app is developed and built using Visual Studio (via `.sln` file), but we also compile for performance tests and validation using CMake | clang | Ni

[2019-11-11 08:39] arieradle opened #1586 "Proposal: Provide XAML basic functionality as a standalone library"
# Proposal: Provide XAML basic functionality as a standalone library

## Summary
XAML basic functionality should be available as a separate set of APIs for serialization/deserialization purposes, configuration etc.

## Rationale
* Many project utilize XAML generic functionality as a rich ML for configuration or serialization/deserialization. XAML is tightly coupled to UI platforms, and for no good

[2019-11-11 09:33] MayuriNaik opened #1587 "CalendarView: The selection of the date is just represented by a different color border."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #MAS1.4.1, #Keyboard

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of the sc

[2019-11-11 09:47] MayuriNaik opened #1588 "A11y_OSvisualupdate_MiniControGallery_GenericControls_Screenreader : The table headers for the calendar were not announced for screen reader users."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win10, #DesktopApp, #WindowsUILibrary, #MAS4.2.3, #NVDA, #Narrator

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of

[2019-11-11 09:52] MayuriNaik opened #1589 "A11y_OSvisualupdate_MiniControGallery_GenericControls_Screenreader : Using NVDA the screen reader users are unable activate the control while navigation using "Insert + arrow keys"."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win10, #DesktopApp, #WindowsUILibrary, #MAS1.3.1, #MAS2.1.1, #NVDA

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of

[2019-11-11 09:55] MayuriNaik opened #1590 "CalendarView : The present day in the calendar is represented with different color but the same is not informed to the screen reader users."
GitHubTags: #A11y_OSvisualupdate;#A11yMAS;#A11yTCS;#Win32;#DesktopApp;#WindowsUILibrary;#MAS1.3.1;#MAS4.2.1;#Narrator;#NVDA; #A11ySev2;#Benchmark

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce**:
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls woul

[2019-11-11 09:58] MayuriNaik opened #1591 "A11y_OSvisualupdate_MiniControGallery_GenericControls_Screenreader : Several controls in the calendar pop up are not provided with descriptive names."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win10, #DesktopApp, #WindowsUILibrary, #MAS1.3.1, #MAS4.1.2, #Narrator, #NVDA

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on l

[2019-11-11 10:01] MayuriNaik opened #1592 "A11y_OSvisualupdate_MiniControGallery_GenericControls_Screenreader : Using narrator when screen reader users activate the "CalDatePicker" control some unnecessary content is announced."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win10, #DesktopApp, #WindowsUILibrary, #MAS1.3.1, #Narrator

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of the sc

[2019-11-11 10:04] MayuriNaik opened #1593 "When screen reader users navigate to "Time Picker" and "Date Picker" controls the current time and date is announced."
GitHubTags: #A11y_OSvisualupdate;#A11yMAS;#A11yTCS;#Win32;#DesktopApp;#WindowsUILibrary;#MAS1.3.1;#NVDA;#Narrator;#A11ySev2;#Benchmark

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on

[2019-11-11 11:45] MayuriNaik opened #1594 "A11y_OSvisualupdate_MiniControGallery_GenericControls_Screenreader : The expand content is not announced for screen reader users on activating the “DropDownBtn” and “SplitButton” controls."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #MAS1.3.1, #NVDA, #Narrator

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of

[2019-11-11 11:50] MayuriNaik opened #1595 "Narrator announces the expand/collapsed state of SplitButton control twice"
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #MAS1.3.1, #Narrator

**Environment Details:**
Application Name: OS visual update
Windows Version: Windows10
Screen Reader: Narrator, NVDA 2019.2

**Steps to Reproduce:**
1. Launch Mini Control Gallery App from the installer location.
2. Screen with all generic controls would appear on left side of the sc

[2019-11-11 12:28] MayuriNaik opened #1596 "A11y_OSvisualupdate_MiniControGallery_ CalenderandColorPickerControls_AI4D : (MiniControlGallery/list item 'RGB') An onscreen element must not have a null BoundingRectangle property."
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #MAS4.2.1, #AI4D, #A11yAuto

The following accessibility issue needs investigation.

**App:** MiniControlGallery

**Element path:** list item 'RGB'

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/guidelines-and-sta

[2019-11-11 16:12] MarkIngramUK opened #1597 "WinUI 3.0 app fails to build when it has a reference to a WinUI 3.0 class library (C++)"
**Describe the bug**
Adding a reference to a class library results in many MDMERGE errors, e.g.

[code]

**Steps to reproduce the bug**
1. Create a new solution with a WinUI 3.0 app, and a WinUI 3.0 class library, using C++.
2. Add a reference to the class library from the app.
3. Build.

**Expected behavior**
Build to complete successfully.

**Version Info**
Visual Studio 16.4.0 (Preview 4.0)
Win

[2019-11-11 16:35] Scottj1s commented on #1573
There is also an open issue to make duplicate type definitions (those that clearly don't violate ODR, such as from identical files) benign in mdmerge.

[2019-11-11 17:21] #1573 closed

[2019-11-11 18:10] jevansaks commented on #1572
Good issue! I think this is one that I wouldn't want to try to fix until @ojhad's refactor is complete. But maybe @ojhad you can keep a list of these issues (and PRs) that we want to revisit when the NavView refactor is in?

[2019-11-11 18:12] danzil commented on #1597
This is a known issue with C++/WinRT and MDMERGE. See #1573

[2019-11-11 18:12] #1597 closed

[2019-11-11 18:21] jevansaks commented on #1577
@ranjeshj @danzil Does x:Bind do something to understand the difference between an ItemTemplate context and a UserControl context? Or is this a logic issue in ItemsRepeater?

[2019-11-11 18:21] jevansaks commented on #1577
@hupo376787 did you file a separate issue for this? @DanZil FYI

[2019-11-11 18:30] jevansaks commented on #1584
We've had an internal issue tracking this for a while, but we can use this one going forward. Problem is that the focus visualization in the color area doesn't have great contrast so it is a little hard to tell where focus is. On the other hand, the tooltip is visible when you're doing this so maybe that's enough of a clue?

This is what was spec'd as the focus solution so we would need design to

[2019-11-11 18:42] danzil commented on #1577
x:Bind has some different handling when inside of a ControlTemplate vs a DataTemplate. For this particular case, when using a converter, it expects whatever the converter returns to be castable to the property being bound to.

[2019-11-11 18:45] danzil commented on #1577
@hupo376787 please let me know of a sample converter markup that crashed for you in winui3.

[2019-11-11 18:46] mfeingol commented on #1582
That's unfortunate about MessageDialog. Would it make sense for the WinUI project to provide a better "standard" MessageDialog? It seems like every app presenting its own variation on something so simple would be detrimental to the platform.

When you mention adding ContentDialog to the tree, do you mean having it embedded in a page's XAML with an `x:Name` and then displayed on demand?

[2019-11-11 18:50] jevansaks commented on #1582
ContentDialog should encompass all the scenarios. What specifically do you prefer about the MessageDialog solution?

Exactly. Or if you create it from code-behind then you can find a Grid or other panel in the tree and do `.Children.Add(...)` from code-behind.

[2019-11-11 18:59] mfeingol commented on #1582
Well, except in cases where differentiation is strategic for some reason, I'm a big fan of using standard controls instead of custom controls. MessageDialog it's a turnkey way to display error or confirmation text with 1-2 buttons, without worrying about alignment/placement/button width/etc., and while (at least theoretically) presenting a familiar pattern to the user that looks like everything el

[2019-11-11 19:06] mdtauk commented on #1582
MessageBox/Dialog is a Win32 outdated way to display a message to the user, and the preferred way to do it is by displaying a ContentDialog.

This does bring up a point with WinUI encouraging people to move from Win32 UIs to WinUI with the same code behind.

Should a MessageWindow be a top level object in XAML with WinUI 3?
Should there be a way to send a RequestedTheme to the existing Message Dia

[2019-11-11 19:38] CheathamPatrick commented on #1576
Thanks all. The problem was simply the lack of Microsoft.UI.Xaml installed.

[2019-11-11 19:52] kmahone commented on #1576
@CheathamPatrick Happy to hear that this is resolved for you.

[2019-11-11 19:52] #1576 closed

[2019-11-11 19:59] danzil opened #1599 "Xaml Compiler generated code should emit winrt::guid instead of GUID for C++/WinRT"
See: https://github.com/microsoft/cppwinrt/issues/412

[2019-11-11 21:34] kmahone commented on #1571
With the source code as it is today (and as it will be when it is make is OSS), it would not be possible to compile it with clang. The code is close to C++ standards conformance, but not entirely. For example there are cases where msvc will allow an implicit cast that is not standard. There are also a few places where we use msvc specific features such as [__super](https://docs.microsoft.com/en-us

[2019-11-11 22:52] YuliKl commented on #1585
Because the purpose of the app is to show visual changes at a glance, the app has very atypical usage of the ToolTip control. In practice, ToolTips aren't used in this way. Because this app does not ship to customers, we won't update this ToolTip behavior.

[2019-11-11 22:52] #1585 closed

[2019-11-11 23:00] YuliKl commented on #761
@mdtauk, would you mind filing this feedback through the Feedback Hub? Your proposal to change Settings to use 80% acrylic feels good, and isn't up to the WinUI team to implement. We already provide a variety of [AcrylicBrush resources](https://docs.microsoft.com/en-us/windows/uwp/design/style/acrylic#acrylic-theme-resources), including `SystemControlAcrylicWindowBrush`. The Settings app would nee

[2019-11-12 02:14] hupo376787 commented on #1577
@danzil I got it. For image, the converter should return `BitmapImage`.
And this is a small [repo](https://github.com/hupo376787/winui3-items-repeater-crash-demo) for winui 3.0 alpha.

[2019-11-12 02:33] hupo376787 opened #1600 "ItemsRepeater template crashes when using x:Phase, and set x:Phase > 0"
**Describe the bug**
I used x:Phase in ItemsRepeater data template. When set x:Phase = 0, app runs well.
But when set x:Phase = 1, then the app crashes every time staring, and throws exception `Access violation`.

**Steps to reproduce the bug**

Go to MovieTemplate, change Image's phase to 1
`<Image x:Phase = "1"/>`
Run app.

**Expected behavior**
App runs well and show the normal home page.

**Ve

[2019-11-12 03:02] hupo376787 opened #1601 "ItemsRepeater jumps back and forth when scroll to last item using mouse"
**Describe the bug**
ItemsRepeater jumps back and forth when scroll to last item using mouse.
Note: this bug not occurs every time, and as the items count varies(go to another repeater), it may behave normal.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Build and run my sample repo
2. Scroll to the last item.

**Expected behavior**

Scroll to the last item normally.

**Scre

[2019-11-12 03:50] michael-hawker commented on #716
@jevansaks I'm having a similar type of issue using 2.2.190917002 (looks like fault offset is different though):

[code]

App seems to run fine in release mode from VS, but when deployed through app package crashes on splash screen startup (though then works fine if I debug installed app package, so not sure how to get more info).

[2019-11-12 05:38] ad1Dima commented on #1570
@jevansaks As for me - HierarchicalNavigationView may be too complicated for several scenarios: it will have different states for different pane position that may be not necessary.
Flyout property that act same way as button's one will make NavigationViewItem good building block for custom scenarios like three dot menu in Microsoft Store or Side menu at Start

[2019-11-12 05:40] ad1Dima commented on #1570
disagree. It can be easily added to the Content of NavigationViewItem if necessary

[2019-11-12 05:47] ad1Dima commented on #1572
This can be fixed alongside with  bottom pinned menu items (#375) as i do in #1497

[2019-11-12 07:11] ojhad commented on #1572
Good idea! I moved the list of issues and PRs that will need to be revisited to the [ItemsRepeater move dev task](https://github.com/microsoft/microsoft-ui-xaml/issues/1477)

[2019-11-12 08:50] verelpode commented on #1255
@adrientetar -- I'd be happy to think about a different way of calculating the width-as-pixels from the width-as-characters.  What do you suggest?  What's a better way of calculating it?

If I make a TextBox and set its Width to a hardcoded constant number of pixels, then it breaks when users change the font size in the Settings panels in our app, especially if the TextBox is for the purpose of ed

[2019-11-12 09:00] mdtauk commented on #761
@YuliKl  I created the image to try to illustrate the difference.  I have no problem with the 60% Acrylic - but would rather see it change to 80% than have the Acrylic removed all together, if that is seriously being proposed on the grounds of it being distracting.

I'd also prefer the NavigationView to have its acrylic restored, with either 60% or 80% Acrylic - but I suspect that "battle" has bee

[2019-11-12 12:10] carmellolb commented on #761
It’s really a shame too, because it was one of the best features of fluent design, and one of the most well known. Also, NavigationView was one of the most prominent areas. Maybe one day they will change their mind and reapply it.

[2019-11-12 12:48] verelpode commented on #1494
# Icons in "Visual Assets" in manifest
On the topic of icons, unfortunately I also had a disappointing experience when configuring the icons in the "Visual Assets" tab in the "Package.appxmanifest" of a WinUI UWP app in Visual Studio 2019.

### Lack of knowledge of runtime image scaling
The current design of "Visual Assets" represents a surprising lack of knowledge of the commonly-known fact that

[2019-11-12 14:34] MarkIngramUK commented on #1571
A couple of reasons why I'd like to build WinUI from source and preferably with CMake (and Ninja):

1) We're a cross-platform application. CMake is the cross-platform build system.
2) All third party libraries are built from source as part of our application build (we have approx. 35 third party libraries built this way).
3) Building from source avoids potential pitfalls such as C++ ABI breaks, mi

[2019-11-12 15:30] verelpode commented on #1494
On a few occasions in the past, I produced amateurish work, but I'm proud to say that I revisited my work and transformed it from amateurish to professional, and the customers loved receiving the improvements.  Everyone produces amateurish work sometimes.  The current version of "Visual Assets" is one of these examples of things that need to be transformed from amateurish to professional.

Here is

[2019-11-12 15:38] moshegutman commented on #1494
I struggled with that form too. I was trying to figure out the unplated/plated/light mode/dark mode rules and this form was no help. It is a very unintuitive “tool”.

[2019-11-12 16:13] michael-hawker commented on #716
Circling back the error I faced was because I had a WinUI component referencing a non-WinUI style (from generic.xaml) for NavigationViewItem.  I was able to prefix the style with `MUX_` as appears to be done internally for the NavigationView component in order to work around the issue.

However, it was a bit weird this error didn't really come-up right away when running in Debug or Release mode.

[2019-11-12 17:19] teaP commented on #1508
Fixed in #1538.

[2019-11-12 17:19] #1508 closed

[2019-11-12 17:19] teaP commented on #1481
Fixed in #1538.

[2019-11-12 17:19] #1481 closed

[2019-11-12 17:50] verelpode commented on #1494
@moshegutman -- Oh yes, "unplated" is another problem; thanks for reminding me.  I can explain "unplated".  Surprisingly, the newly-invented term/jargon "unplated icon" means "a normal icon" in the normal sense of the word "icon".

This raises the question:  If "unplated icon" just simply means a normal icon, then why not speak normally and just simply say "icon" instead of confusing everyone by i

[2019-11-12 17:57] moshegutman commented on #1494
Yeah, I think it goes back to the windows phone says where the tile background in the start menu is the “plate” that the icon is on. But either way, through Visual Studio it isn’t possible to make all the variations of icons needed for a proper app.

[2019-11-12 18:11] jevansaks commented on #1582
@mfeingol can you share the code for showing a MessageDialog that you feel is hard or impossible to do with ContentDialog? There may be a feature gap here that we should close.

[2019-11-12 18:17] jevansaks commented on #1587
@mayurinaik can you elaborate on why it is incorrect that selection is just shown by a color border? Thanks!

[2019-11-12 18:19] jevansaks commented on #1588
This seems to be a narrator choice. The UIA elements have this information provided but I think the default narrator read-out must be excluding it. If you increase the verbosity (with Caps+V) to, say, level 5, then the headers do get read out. This is working as intended.

[2019-11-12 18:19] #1588 closed

[2019-11-12 18:21] kmahone commented on #1571
Thanks for the info. I should also point out that WinUI itself has some dependencies on nuget packages. So even if you were compiling WinUI from source, there would still be a requirement to pull down some packages.

We do not currently have any plans to publish WinUI as a vcpkg since nuget will be our primary distribution method. But this might be something that could be driven by the community.

[2019-11-12 18:21] jevansaks commented on #1590
@kikisaints @yulikl This has been an issue for a while, we can fix this but we need to know where we should actually encode this information in the UIA properties. Should the element with the current day be amended to have this in the "Name"? That seems weird but maybe...

[2019-11-12 18:22] jevansaks commented on #1589
I don't know enough about NVDA, what patterns or properties are different such that Narrator works but NVDA doesn't?

[2019-11-12 18:22] #1589 closed

[2019-11-12 18:25] jevansaks commented on #1591
This is by design -- Next/Previous are contextual based on the "zoom level" of the control, same as "November 2019" button. We don't do much to help the sighted user here either so it seems ok.

[2019-11-12 18:25] #1591 closed

[2019-11-12 18:27] #1592 closed

[2019-11-12 18:29] ranjeshj commented on #1600
If you have both phase 0 and phase 1 in the template does it work ?

[2019-11-12 19:11] mfeingol commented on #1582
Okay, I gave ContentDialog a quick spin and it looks like it's going to work fine. Apologies for not checking on this earlier. It looks like ContentDialog has seen some upgrades over the years.

[code]

[2019-11-12 19:11] #1582 closed

[2019-11-12 19:11] jevansaks commented on #1255
I think it makes sense to have a "MaxLines" for TextBox (it exists in WPF), and we could scope this proposal to just that.

But I agree with @adrientetar that MaxCharacters is problematic for many reasons.

There was another proposal (#1226) to measure text without having it on screen, which if it existed would be my suggestion for how to do this (measure offscreen and then use that width as the W

[2019-11-12 19:21] ranjeshj commented on #1577
I see what the issue is. In your DataTemplate, you are saying that the type of the items are NameS, but the collection that you are setting on the ItemsSource is a list of strings (not NameS). If you change the ItemsSource to be a collection of NameS objects, it works as expected.

 private List<**NameS**> listName = new List<**NameS**>();
        public MainPage()
        {
            this.Initi

[2019-11-12 19:22] #1577 closed

[2019-11-12 19:38] mdtauk commented on #1255
Could it be possible to "scan" the font that is chosen, and determine the width of the widest glyph, and then base the measurement on that?

[2019-11-12 19:42] #670 closed

[2019-11-12 19:46] mdtauk commented on #1494
I suspect that the Visual Assets recommendations will be changing with WinUI 3.0 - because of the new icon styles used by Windows 10 X

[2019-11-12 19:53] jevansaks commented on #1255
The widest glyph of all possible glyphs? Or all "likely to be used" glyphs? What about glyphs that are the result of OpenType features? What if the text that's input isn't in the font so a different fallback font is selected? It's not an easy question to answer. :)

[2019-11-12 19:55] jevansaks commented on #1582
No problem, thanks for following up! Please holler if there are scenarios you think should be easy that aren't.

[2019-11-12 20:35] ranjeshj commented on #1600
This seems to be the same issue as
https://github.com/dotnet/coreclr/issues/22324

A possible workaround is to enable compilation for .net native. In project properties, go to Build section and check the "Compile with .Net Native tool chain"

[2019-11-12 20:38] ranjeshj commented on #1537
This seems to be an issue with one of the IXMP providers in projects referenced by the app. A simple app with MUX built for arm64 seems to work fine.

[2019-11-12 20:38] #1537 closed

[2019-11-12 20:40] ranjeshj commented on #477
Fixed in the platform codebase.

[2019-11-12 22:22] chingucoding commented on #1547
I would like to look into this :)

[2019-11-12 22:55] ranjeshj commented on #1540
This does look like a bug in the drag drop code.

[2019-11-12 23:04] anawishnoff commented on #1500
Hey again all! Let's keep this conversation going. What are your thoughts on the DataGrid documentation that currently exists?

Here's a [link](https://docs.microsoft.com/windows/communitytoolkit/controls/datagrid) to the main documentation page that links to all of the other relevant pages.

If we create a new DataGrid, we want to make sure the documentation that accompanies it will be top-notch,

[2019-11-12 23:06] mdtauk commented on #1500
Images showing typical DataGrid setups, along with the xaml and code to make them, would be useful.

[2019-11-12 23:12] anawishnoff commented on #1500
@mdtauk Are there any specific DataGrid setups that you find to be "typical", or use cases in which you consistently find DataGrid being the best choice to use?

[2019-11-12 23:15] mdtauk commented on #1500
I think for the WinUI 3.0 timeframe, showing common WPF, Win32 data grid/icon view scenarios.  As well as what Microsoft considers Fluent/Modern DataGrid UI designs.

That is if the idea behind the control, is to encourage moving from old UIs to WinUI 3

[2019-11-12 23:25] kmelmon opened #1604 "Proposal: Add XamlIsland-aware version of DisplayInformation::GetForCurrentView"
# Proposal: Add XamlIsland-aware version of DisplayInformation::GetForCurrentView

React-native exposes an Orientation event which is used by community authored extensions.  RN4W is adding support for hosting within XamlIslands and will need a XamlIslands-friendly version of the current API that's used to retrieve the device orientation.
Currently, RN4W doesn't fire the device orientation event, t

[2019-11-12 23:53] michael-hawker commented on #1500
@anawishnoff I think some of the questions we had from the toolkit in terms of things people were looking for documentation on where more of these scenarios as well:
 - Theming/Re-templating/Alignment
 - Data Binding (in general and in XAML)
 - Event/Selection Handling/Casing
 - Editing behaviors (especially edit on click)
 - Multi-paging (which should pair well with #60 and #268)
   - Loading ani

[2019-11-13 05:09] duke7553 commented on #1500
I noticed that the existing Toolkit DataGrid requires a IEnumerable for it's ItemsSource property. While this seems like a logical decision, it makes setting the object returned by Windows.Storage.BulkAccess.FileInformationFactory.GetVirtualizedItemsVector() as this property impossible. (Unless there is a way to cast the object returned) Furthermore, other controls like ListView and GridView suppo

[2019-11-13 06:28] hupo376787 commented on #1577
OK, thanks, guys.

But I wish `WinUI` can do something more, such as allowing `string` type when setting `Image`'s `Source`, and `int` type when setting `Height`/`Width`.

[2019-11-13 06:33] hupo376787 commented on #1600
If set phase both 0 and 1, it also crashes.

And thanks for the workaround, it works : )

[2019-11-13 07:36] AkshathaKukkemane commented on #1540
Could you please let me know if any changes will be done in the framework or Is there any workaround for this issue?

[2019-11-13 07:50] MayuriNaik opened #1605 "Update Accessibility Conformance Documentation"
GitHubTags: #A11y_OSvisualupdate, #A11yMAS, #A11yTCS, #Win32, #DesktopApp, #WindowsUILibrary, #A11YAAT

Recommendation: "Fix and close other bugs before starting accessibility conformance documentation. Any bug that will not be fixed and closed within SLA must be declared in the AAT. The SLA for this bug is also 60 days."

[2019-11-13 12:37] harvinders commented on #1505
@teaP I am not sure if raising a issue is the best way to give feedback on something that is still under construction. I am using the latest preview and found following.

* Setting `numberBox.Header = null` throws exception. Says, can't be set to null. However, for other controls like `ComboBox` , `TextBox` etc we are able to set it to `null`.
* Also, could you please add support for `HeaderTempla

[2019-11-13 15:55] jevansaks commented on #1605
@mayurinaik can you provide a link to the documentation you're referring to? I don't have context on this doc. Also if it's an internal doc I would recommend you follow up with the owner over email, this repo is for bugs about the WinUI product and not accessibility documentation.

[2019-11-13 15:56] mdtauk commented on #1500
Win32 example (File Explorer)
![image](https://user-images.githubusercontent.com/7389110/68779172-1c384980-062c-11ea-8fe3-f929ff8b4d07.png)

WPF example
![image](https://user-images.githubusercontent.com/7389110/68779253-3ffb8f80-062c-11ea-8437-5676eb2b2390.png)

Fabric Web example
![image](https://user-images.githubusercontent.com/7389110/68779669-f6f80b00-062c-11ea-8ce2-48a80a90ca1d.png)

UWP ex

[2019-11-13 16:43] ranjeshj commented on #1540
Yes. I'm working on a fix in the framework. I'm not sure if there is an easy workaround apart from not switching the CanDrag property often. There is a short time between when the property change handler is called and the other handlers like PointerMoved and PointerPressed etc where the state is not setup correctly causing the nullref. Is there a way to achieve your scenario without changing the C

[2019-11-13 16:49] ranjeshj commented on #1577
Ok. That sounds like you are asking for more implicit converters. Can you file a new bug/feature request for that with more details on exactly which ones would be useful ?

[2019-11-13 17:09] ranjeshj commented on #1601
@hupo376787 Which version of the OS are you running on ? I cannot repro this on a recent built of windows. If you are running on an older version of the operating system ScrollViewer does not have some of the features to enable Repeater's viewport management features. You will need to wrap it in an ItemsRepeaterScrollHost to make it work there. In more recent versions of the OS ItemsRepeaterScroll

[2019-11-13 18:17] danzil commented on #1577
@hupo376787 x:Bind is a typed binding system unlike Binding. Whatever is in the x:DataType must match the Item. If that's not the intended behavior, and you want flexibility at the expence of perf, perhaps you need to use a converter that just calls ConvertValue, or do the conversion yourself by calling the constructor for ImageSource.

[2019-11-13 18:32] ranjeshj commented on #1600
I've created a new .net core bug to follow up https://github.com/dotnet/coreclr/issues/27860 since the old one was closed. Resolving this bug as closed since this is not a bug in Microsoft.ui.xaml.