[2019-11-13 18:32] #1600 closed

[2019-11-13 18:47] danzil opened #1606 "Codegen bug with 'DoNotGenerateOtherProviders' w/ cppwinrt"
XamlMetaDataProvider::AddOtherProvider(IXamlMetadataProvider otherProvider) is marked as const in C++/WinRT code-gen. It should not be because the projection generated by cppwinrt is not.

1>TestApp\XamlMetaDataProvider.h(36): message :  see declaration of 'winrt::TestApp::implementation::XamlMetaDataProvider'
1>TestApp\XamlTypeInfo.Impl.g.cpp(26,9): error C2352:  'winrt::TestApp::implementation::

[2019-11-13 18:48] adrientetar commented on #1255
Not calculate it? There's two kinds of measurements, fixed ones or those that grow with container size. Usually you have a UI designer who makes redlines with specified width where they're fixed. The designer can consider the space for the intended content (using the target font/size etc.) but also other considerations like how much space should this part of the UI take. For instance, a sidebar sh

[2019-11-13 19:00] MuziburRahman opened #1607 "Proposal: Add a Opened event in TeachingTip similar to Closed event"
`TeachingTip` has an `Closed` event, but surprisingly it doesn't have a similar `Opened` event.

Please add this event.

[2019-11-13 20:56] kikisaints commented on #1493
@shaheedmalik I believe Notepads would be using an effect brush that they created from composition APIs. This is something that @bitcrazed could do, but I believe here he's asking that we support a more systematized blur effect - correct?

[2019-11-13 21:11] hansmbakker commented on #1298
Also, a `WebAccountProvider` used to be able to read or set (session) cookies from / on behalf of a signed in user account: if you added the account to windows using `WebAccountProvider`, then the browser could automatically have a session for the accompanying website based on cookies that the `WebAccountProvider` set. Also, the `WebAccountProvider` could read (session) cookies from the browser. T

[2019-11-13 21:38] anawishnoff commented on #1500
@mdtauk Thanks for those screenshots! I definitely think it's important to highlight the key elements that have worked in previous versions of the control and document how they can be achieved with the new control.

@michael-hawker Awesome. I'm already seeing a few topics in there that have been brought up multiple times on this thread, so those are definitely a good place to start.

@duke7553 I'm

[2019-11-13 21:49] RBrid commented on #1500
@anawishnoff & @duke7553, I would build the new DataGrid control on top of the new WinUI ItemsRepeater control. And that control exposes its ItemsSource as an Object:
`    Object ItemsSource { get; set; };
`

[2019-11-13 21:55] teaP commented on #1505
Thank you, @harvinders, for bringing this to my attention! Header was defined as a string for some reason, it's an object now like all the others. I've also added HeaderTemplate. The fixes will be in my next checkin, hopefully early next week.

[2019-11-13 22:26] #1480 closed

[2019-11-13 22:26] #1510 closed

[2019-11-13 22:37] chingucoding commented on #1607
I am surprised that the TeachingTip does not provide such an event. I agree that the TeachingTip should have such an event.

[2019-11-14 00:03] adrientetar commented on #483
@SavoySchuler, will you open a new PR for the spec? Also, did you take note of what I write in [this comment](https://github.com/microsoft/microsoft-ui-xaml/pull/1042#issuecomment-523880317) particularly around NaN display? Thanks.

[2019-11-14 01:55] hupo376787 commented on #1601
Previously I run my app on 1903, but last night my pc update to 1909,  so I can't reproduce either.

So I'll keep watching on. Thx.

[2019-11-14 01:55] #1601 closed

[2019-11-14 02:06] Poopooracoocoo commented on #1587
icymi, @jevansaks the author updated the issue

[2019-11-14 02:08] Poopooracoocoo commented on #848
so the winui 3.0 alpha has been released and i'd really like to hear further explanation. sorry for the trouble @YuliKl @jevansaks

[2019-11-14 03:46] hupo376787 opened #1610 "ItemsRepeater can't scroll manually using ChangeView when used in ScrollViewer"
**Describe the bug**
Hi, I'm using `ItemsRepeater`, and surrounded in a `ScrollViewer`. I have disabled `ScrollViewer`'s `HorizontalScrollMode` and `VerticalScrollMode`. And I want to use `ChangeView` method to scroll.
But it doesn't works.
However, `ScrollToHorizontalOffset`/`ScrollToVerticalOffset` works.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
[code]

Then use this cod

[2019-11-14 04:08] jevansaks commented on #1587
Thanks @poopooracoocoo, I did miss it. @MayuriNaik please leave a comment when replying to a "needs-author-feedback" issue, the bot rule only updates it back to "needs-triage" after you leave a comment.

But still, I talked with @yulikl and we don't see a problem here. Maybe you can follow up with us over email to explain what guideline this breaks? This has been the behavior for a long time and w

[2019-11-14 04:08] #1587 closed

[2019-11-14 07:38] MartinZikmund commented on #1416
I'm sorry I didn't get to this earlier. Seeing this is now being implemented, I will unassign myself

[2019-11-14 07:40] AkshathaKukkemane commented on #1540
Hi Ranjesh,

Thank you for your response. Yes I have found a workaround by creating that same control twice, one with drag behavior attached and one without. I will change the visibility of these controls based on my requirement.

[2019-11-14 09:15] Holo-Krzysztof opened #1612 "Using IMap/IObservableMap as ItemsSource for ListView"
Also posted [here](https://github.com/microsoft/cppwinrt/issues/418).

I've described the problem on [StackOverflow](https://stackoverflow.com/questions/58816784/binding-iobservablemap-to-an-itemscontrol-e-g-listview) already and also filed a [docs issue](https://github.com/MicrosoftDocs/windows-uwp/issues/2077) before finding out that the docs are actually technically right.

To summarize, I can

[2019-11-14 10:54] Poopooracoocoo commented on #1587
@MayuriNaik it would be a nice idea to do the same recording but with the greyscale filter on. You can search for it in the UWP Settings app.

[2019-11-14 13:52] vgromfeld commented on #1570
@jevansaks, for my current needs, *HiearchicalNavigationView* + `SelectsOnInvoked="False"` should be enough. For now, I'm only planning to add "direct" actions as in the sample.

If later I want to do something more complicated like having a complete flyout menu with sub items, separators, etc.. or having a fully custom flyout, the *HiearchicalNavigationView* will not be enough.

@ad1Dima I agree

[2019-11-14 13:55] mdtauk opened #1613 "WinUI 3 alpha - Gallery App - What's New header issue"
**Describe the bug**
On the home page of the Gallery App, when you scroll down, the "What's New" text is rendered on top of elements once the header is scrolled off screen

**Steps to reproduce the bug**
- Open XAML Controls Gallery (WinUI 3 Alpha)
- Scroll down

**Expected behavior**
The "What's New" header text should be contained within the Header as it scrolls out of view.  Or the heading shou

[2019-11-14 14:19] mdtauk commented on #1570
I have a couple of points to mention.

When you have a NavigationViewItem selected within a flyout, do you use a different selection indicator style on the "always visible" sidebar/top bar?
![image](https://user-images.githubusercontent.com/7389110/68864879-bca07380-06e9-11ea-927d-00da97e584f7.png)

Will these flyouts only work when there is not enough space to display items?  If not could say a L

[2019-11-14 14:52] kmgallahan commented on #1613
This should probably go to the [gallery repo](https://github.com/microsoft/Xaml-Controls-Gallery/) which houses the [WinUI 3 Alpha Gallery codebase](https://github.com/microsoft/Xaml-Controls-Gallery/tree/winui3alpha) - unless you think the issue is caused by WinUI 3 iteself.

[2019-11-14 14:57] vgromfeld opened #1614 "Update NavigationView to meet MAS 4.1.2"
**Describe the bug**
When testing our app accessibility, we had a bug assigned to us where the control type reported by the accessibility tool is not the expected one for `NavigationViewItem` and was breaking [WCAG rule 4.1.2](https://www.w3.org/WAI/WCAG21/Understanding/name-role-value).
The `NavigationViewItem` are reporting a `ListItem` control type whereas they should report `TabItem`.

Accordi

[2019-11-14 15:05] mdtauk commented on #1613
@kmgallahan  You are correct, I guess I posted it here by mistake.

[2019-11-14 15:05] #1613 closed

[2019-11-14 16:27] yanshouwang opened #1615 "TabView: Change TabStripFooter's MinWidth when app started with a narrow window is not take effect"
**Describe the bug**
 After extend TabView into the title bar, we need to change the TabStripFooter's MinWidth to keep off the title bar buttons. But change TabStripFooter's MinWidth when app started with a narrow window is not take effect

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Extend the TabView into the TitleBar, and change the TabStripFooter's MinWidth when "OnTitle

[2019-11-14 16:56] ranjeshj commented on #1540
That sounds like a reasonable workaround for now.

[2019-11-14 17:36] ranjeshj commented on #1290
Closing this issue since it is not actionable without a repro. Please feel free to activate it once you have one. Thanks.

[2019-11-14 17:36] #1290 closed

[2019-11-14 19:05] YuliKl commented on #1594
This problem appears to be specific to MiniControlGallery app and doesn't repro in Xaml Controls Gallery. Because MiniColntrolGallery will never ship to customers, we should not fix this.

[2019-11-14 19:05] #1594 closed

[2019-11-14 19:09] YuliKl commented on #1595
Minor issue that repros in both MiniControlGallery and Xaml Controls Gallery.

[2019-11-14 19:12] YuliKl commented on #1596
I don't understand how this issue impacts users. This issue feels very app-specific, and MiniControlGallery will never ship to customers. So I don't think we should spend time fixing this issue.

[2019-11-14 19:12] #1596 closed

[2019-11-14 19:18] YuliKl commented on #1614
@vgromfeld thank you for the bug report. The role of `NavigationViewItems` actually depends on NavigationView's `PaneDisplayMode`. The items are more similar to TabItem in top mode, and more similar (and are implemented using) ListItem in left mode. Sounds like we need to change the role dynamically.

[2019-11-14 19:23] YuliKl commented on #1615
@teaP can you take a look?

[2019-11-14 19:31] verelpode commented on #1255
@jevansaks

This proposal can also be simpler than WPF's `MinLines` and `MaxLines` properties.  I suggest these 2 simplifications:
* Don't recreate WPF's `MinLines` property in WinUI.
* Don't make `MaxLines` operate as a maximum.  Instead simplify it to be a fixed number of lines.  In this case, it would also make sense to use a different name instead of `MaxLines`.  For example, it could be named

[2019-11-14 19:36] YuliKl commented on #1587
I'm aware that relying on a color-change only violates accessibility rules. But in this case, the selection border introduces both a color and a geometry change.

[2019-11-14 19:53] mdtauk commented on #1614
If they perform a navigation, they behave like tabs.

If they display a flyout, they behave more like menu items.

[2019-11-14 20:16] verelpode commented on #1255
@adrientetar

Not calculating it means that the problem continues to exist without a solution.

Fixed?  That's how GUI was designed in the 1990's (fixed layout), but WPF and WinUI replaced it with a much better system (flowing layout etc).

Actually, no.  The GUI designer is unable to set `TextBox.Width` and `TextBox.Height` when he/she is unable to know which font size and font family will be use

[2019-11-14 20:31] YuliKl commented on #848
@Poopooracoocoo I'm not sure I understand what explanation you're looking for in relation to the WinUI 3.0 alpha. If anything, I expect that having tried the alpha you might get a sense for the more fundamental work still left for us, which I believe takes precedence over new features for Pivot.

[2019-11-14 20:31] #1571 closed

[2019-11-14 20:36] mdtauk commented on #848
@Poopooracoocoo  WinUI 3.0 is not finished yet, and so at the earliest, it will be next year once it is released, that they will consider taking a new look at Pivot, and deciding if and what changes should be made.

[2019-11-14 22:52] verelpode commented on #1255
A comparison with HTML is useful.  In most cases, WinUI is more advanced and more powerful than a GUI built in HTML (and that's how it should be), but textbox sizing is an exception to this.  HTML is much more advanced than the current version of WinUI in the specific area of textbox sizing.

In WinUI currently, the options for setting the textbox width and height are:
1. Width and height as a num

[2019-11-15 04:09] verelpode commented on #1494
Here are a few more things that are unfortunately bungled in "Visual Assets".
Firstly, imagine that I wrote an app and in my app there is a place to choose a color for some purpose.  However, instead of using something like [ColorPicker](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.colorpicker), I use `TextBox` and require the user to type in a hexadecimal RGB color.  It would

[2019-11-15 05:48] Poopooracoocoo commented on #848
@mdtauk I understand that WinUI 3.0 isn't finished yet. I was a bit worried about this issue as it was closed and probably won't be looked at again because it's closed.

[2019-11-15 09:35] jtorjo commented on #1535
@dbeavon Sorry for the late reply - it's been hectic for me lately.
I followed your instructions.

The big "lightbulb" for me has been the check/uncheck of projects to build. I knew about this setting for years, but never truly needed it. But now that I think of it, I managed to uncheck 9 projects - so I'm only compiling 5. This, together with the deployment, boils down to 10-12 seconds until my a

[2019-11-15 10:40] vgromfeld commented on #1614
@YuliKl, I think the `NavigationViewItem`s can always keep the `AutomationControlType.TabItem`. They always behave as "navigation tabs" whether they are displayed in top or left mode

[2019-11-15 15:21] sharpninja commented on #1045
I'm creating my own Application oriented language and want to support using WinUI with XAML and my language for code-behind.  It would be good if the tooling offered the ability for a language to provide code generation for the XAML.  What would be even better is if the XAML code-generator built IL as a partial class that could be completed using any language.  That would mean the the code generat

[2019-11-15 15:32] mdtauk commented on #1045
There is XAML Direct, but it is supported by C# and C++ at the moment.
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.core.direct

[2019-11-15 16:42] sharpninja commented on #1045
That's not what I mean.  I mean that the output of the code generation tool be IL, not C# or C++.   That way my compiler can transform the XAML to IL and then inherit that class.

[2019-11-15 17:40] stevenbrix commented on #1612
Collections and generics are a notoriously difficult problem with.

The CLR wraps the collection with one that implements the [IBindableIterable](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Interop.IBindableIterable) interface (and any other IBindable* interface).

I'm fairly certain the CX projection layer does this as well, but I'd have to double check. Does your issue reproduce the

[2019-11-15 17:43] verelpode commented on #1494
Unfortunately I still haven't finished the substantial work of documenting the list of defects in "Visual Assets" :frowning_face:
In the following screenshot, you can see that I've set **"Tile background"** to a blue color, and understandably this blue color is displayed in the previews in the sections "Small Tile", "Medium Tile", "Large Tile".  That part of it behaves correctly.

![image](https:/

[2019-11-15 17:52] stevenbrix commented on #1586
@arieradle is there something in particular you are looking for that `System.Xaml` doesn't currently provide?

[2019-11-15 18:37] ranjeshj commented on #1540
Fixed in platform code.

[2019-11-15 18:37] #1540 closed

[2019-11-15 19:20] jevansaks commented on #1595
Agreed, this is minor. It could also be a Narrator bug. We should check to see if there are any spurious events being fired in this scenario.

[2019-11-15 19:21] jevansaks commented on #1610
@ranjeshj is the problem that downlevel the customer needs the ItemsRepeaterScrollHost?

[2019-11-15 19:21] jevansaks commented on #1610
Oops I see it in the repro. Ok, @Ranjeshj can you investigate?

[2019-11-15 19:24] jevansaks commented on #1612
There's an email thread going about this with @kennykerr to try to figure out what we should do. .NET implements `IEnumerable<KeyValuePair<...>>` on its Dictionary type so C++/WinRT could implement similar for consistency. @kennykerr if you agree this is on cppwinrt can we create the issue over in that repo?

[2019-11-15 19:26] ranjeshj commented on #1610
@RBrid  - Is this expected behavior with ScrollViewer ? I know that setting some properties on ScrollViewer stop it from scrolling through interaction but i dont remember of the top of my head. Is that the same for using the APIs as well ?

[2019-11-15 19:34] kennykerr commented on #1612
We already have an issue for this: https://github.com/microsoft/cppwinrt/issues/418

The main unknown is this:

What exactly C++/WinRT should implement is the question and one that only the Xaml team can definitively answer. C++/WinRT already implements `IMap<K, V>`, `IOberservableMap<K, V>`, and `IIterable<IKeyValuePair<K, V>>`. `IEnumerable<...>` is a .NET type and thus not something that C++/Wi

[2019-11-15 21:13] YuliKl commented on #1614
I may be wrong, but I believe users have an expectation that tab items are laid out horizontally. Users will attempt to use left/right arrow keys to move between tab items, which won't work when NavigationView is in left mode.

[2019-11-15 21:50] kikisaints commented on #1590
@jevansaks I believe we do something similar with checked radiobuttons/checkboxes. The screen reader says "<label> CheckBox, selected" - could we not follow the same pattern here?

[2019-11-15 21:56] jevansaks commented on #1590
But it's not "selected" (there's another date that is "selected"). It's the "Today" date that has special visual treatment but appears the same via UIA. Is there another automation property we could set, perhaps?

[2019-11-15 22:16] kikisaints commented on #1590
I'm not sure, seems like a question for @YuliKl... but going out on a limb here, there appears to be an [itemstatusproperty](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationproperties.itemstatusproperty#Windows_UI_Xaml_Automation_AutomationProperties_ItemStatusProperty) available in the automation properties class. Could that be used?

[2019-11-15 22:32] MikeHillberg commented on #1612
.Net implements IEnumerable<KeyValuePair<K,V>>, which projects to WinRT as IIterable<IKeyValuePair<K,V>>. It also implements IEnumerable<Object>, which projects as IIterable<IInspectable>.

Could e.g. winrt::impl::observable_map similarly implement IIterable<IInspectable>? It means that observable_map in this case needs to implement an adapter that's a pass-through for instance types, and does box

[2019-11-15 22:41] kennykerr commented on #1612
`IIterable` of what? `IIterable` is a generic/parameterized interface. Do you mean `IIterable<IInspectable>`? Then what is the `IInspectable`?

[2019-11-15 22:46] YuliKl opened #1621 "New ProgressBar doesn't always show the right width"
**Describe the bug**

Under certain circumstances, the new ProgressBar disappears, presumably because its width goes to 0.

**Steps to reproduce the bug**

[code]

**Expected behavior**

Both ProgressBar controls are visible on screen.

**Screenshots**

![ProgressBarWidth](https://user-images.githubusercontent.com/13142665/68980771-46b60e00-07b6-11ea-8c45-f08600294fe2.gif)

**Version Info**

NuGet

[2019-11-15 22:50] MikeHillberg commented on #1612
Sorry, yes, I meant IIterable<IInspectable>. Generalizing to the IIterable<T> case, when T is an instance type the IInspectable is the T instance. When T is a value type, IInspectable is a boxed T.

[2019-11-15 22:55] kennykerr commented on #1612
Sure, that's what we do for vectors already - box the value. The question is what to do with associative containers where there is a key *and* a value. How do we box the pair such that Xaml will accept it?

[2019-11-15 23:34] YuliKl opened #1622 "Proposal: Move ElementAnimator out of preview and into release"
# Proposal: Move ElementAnimator out of preview and into release

## Summary

ElementAnimator has been marked as a preview component for quite a while. Is it time to release it?

## Rationale

* Windows 10X shell would benefit from the ability to use ElementAnimator but can't take a dependency on prerelease WinUI packages.

## Scope

| Capability | Priority |
| :---------- | :------- |
|  | |

##

[2019-11-16 00:06] stevenbrix commented on #1612
@kennykerr I would imagine you are correct here in that it is `IIterable<IInspectable*>`. In this case the `IInspectable` is the `IKeyValuePair<X,Y>`, I don't think there needs to be any special boxing since the IKeyValuePair already is an `IInspectable`

[2019-11-16 00:14] RBrid commented on #1610
@ranjeshj, no - there is no way to turn off programmatic view changes, like for user interactions.

The first key questions to answer are:
- when the call is made, what are the values of
    sss.ActualWidth
    sss.ViewportWidth
   sss.ScrollableWidth
?
- what is the return value of ChangeView?  True or False?
- is a finger down on the ScrollViewer when the call is made?  (is the call triggered by

[2019-11-16 00:15] kennykerr commented on #1612
Sure, we can do that. 👍

[2019-11-16 01:12] MikeHillberg commented on #1612
Right, the ListView doesn't have to understand the properties of the item type, the DataTemplate takes care of that.

[2019-11-16 03:03] kennykerr commented on #1612
Forgive me for being skeptical, but if the `ListView` doesn't know how to handle generics like `IIterable<IKeyValuePair<K, V>>` and I must provide `IIterable<IInspectable>`, what makes the `DataTemplate` able to unpack an IInspectable that's actually an `IKeyValuePair<K, V>`? Does the  `IIterable<IInspectable>` maybe need to iterate over `IInspectable` values that are actually `IKeyValuePair<IInsp

[2019-11-16 06:31] MikeHillberg commented on #1612
One mechanism the DataTemplate has is reflection (if you're using {Binding} in a C# app). And in fact in a C# app, even if the ItemsSource isn't a C# collection, ListView runs the ItemsSource through C# to get it to reflect. So this scenario still works.

The other mechanism the DataTemplate has is code gen (if your're using {x:Bind}, or optionally when using {Binding} in a C++ app).

There's almo

[2019-11-16 06:46] verelpode commented on #1494
I've saved the best for last.  Here is the number 1 most absurd thing about the current version of "Visual Assets".  When you use "Asset Generator" with its "Recommended Scales" setting, and you want to use the full tile area thus you untick "Apply recommended padding" (or tick it if you want), and you give it a source tile image of a reasonable size such as 300x300 or whatever, then as I said it

[2019-11-16 10:30] Nirmal4G commented on #1045
@sharpninja It would also be beneficial, if it can also generate LLVM Bytecode instead of just C++ code.

That way we can combine it with MIDL and XLang to generate COM library and WinMD files to use in all XLang supported scenarios.

[2019-11-16 14:23] lhak opened #1624 "Upper part of the application window is cut off when snapped"
**Describe the bug**

When a UWP/WinUI application is snapped to one side (in desktop or tablet mode), the upper part of its window is cut off.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open a UWP app (e.g. the store)
2. Snap it to the left side (e.g. via keyboard short)
3. Oberserve that the upper part of the window is cut off.

**Expected behavior**

**Screenshots**

*

[2019-11-16 15:59] kmgallahan commented on #1624
Can't be reproduced.

You'd need to provide screenshots and detailed information about your display hardware/settings/configuration to get anywhere with this.

[2019-11-16 18:50] lhak commented on #1624
Screenshot of Microsoft Edge when maximized:

![image](https://user-images.githubusercontent.com/38145893/68997716-a9d49d00-08a9-11ea-933e-cf92de538757.png)

Window snapped to the left with Win+Left shortcut:

![image](https://user-images.githubusercontent.com/38145893/68997746-f4eeb000-08a9-11ea-92cb-bd8d07006d66.png)

I can see this issue on a Surface Go (1820x1200 Resolution, 150% scaling) and

[2019-11-16 19:19] kmgallahan commented on #1624
There must be some edge-case, non-standard setting or software on both systems. Otherwise it'd be easy to repro and heavily reported by now. Try logging into Safe Mode or a different user account to see how it appears there.

The Windows Sandbox shows it working fine:

![Annotation 2019-11-16 141535](https://user-images.githubusercontent.com/5379488/68998093-c954d100-087b-11ea-94e5-7f32410ef917.pn

[2019-11-16 21:39] kennykerr commented on #1612
Here is a simple implementation that implements IIterable<IInspectable>, as has been suggested by the Xaml team. If someone can test this against Xaml and confirm that this provides the desired behavior then we can update C++/WinRT to do the same.

https://gist.github.com/kennykerr/6eace7378a1a06b5e2f21da127be102a

[2019-11-17 00:10] yaichenbaum commented on #1555
I would like to point out there is the same issue with the `RichEditBox` control as well.

[2019-11-17 06:44] sharpninja opened #1625 "Proposal: Instantiate Resources from Dependency Injection"
# Proposal: Instantiate Resources from Dependency Injection

## Summary
Use `Microsoft.Extensions.DependencyInjection` or other framework that implements `IServiceProvider` to instantiate resources to instantiate Resources from XAML..

## Rationale
* Dependency Injection allows for creating loosely coupled resources such as View Models that are defined in separate or distant (not in same solution)

[2019-11-17 10:34] MuziburRahman opened #1626 "Question: How do I remove the default rounded corner of Buttons and TextBoxes?"
After upgrading to the latest WinUI library, the Buttons and TextBoxes have rounded corners. But I want the previous sharp corners.
Manually setting CornerRadius to 0 fro all the controls is a pain. Is there a `ThemeResource` which I can override to set the default corner radius to 0 for Buttons and TextBoxes?

[2019-11-17 11:51] Felix-Dev commented on #1626
@MuziburRahman There is a global control corner radius theme resource which you can use: `ControlCornerRadius`

Example:
[code]

This sets the corner radius for every control on that page to 0 (excluding overlay controls such as Popup and Flyout). If you only want to change the control corner radius for select controls, I'm afraid you currently have to use styles to achieve this.

Note that if you

[2019-11-17 12:02] Felix-Dev commented on #1486
Any updates on this one?

[2019-11-17 15:48] MuziburRahman commented on #1626
@Felix-Dev thanks a lot. :D

[2019-11-17 15:48] #1626 closed

[2019-11-17 18:39] chingucoding commented on #1486
I've tried to reproduce the issue, but using the XCG as test project, and adding

`<CornerRadius x:Key="ControlCornerRadius">0,0,0,0</CornerRadius>`

 to the ResourceDictionary of App.xaml, components that use this resource (e.g. buttons) seem to render correctly and without rounded corners.

[2019-11-17 18:44] chingucoding commented on #1626
As @Felix-Dev mentioned there is an open issue regarding the setting of this value in application resources. However maybe this issue was partially resolved, since I was able to remove the corner radius by adding the following

`<CornerRadius x:Key="ControlCornerRadius">0,0,0,0</CornerRadius>`

to the application resources.

[2019-11-17 19:21] Strypper opened #1627 "Windows 10 optimization with UWP"
**Describe the bug**
UWP don't consume my laptop ram as task-manager reported, but always felt choppy and unresponsived. It's hardly animate anything on 60fps when on 3000x2000 screen (from 2000x1500 fine though)

**Steps to reproduce the bug**
Scale Windows 10 up to 3000x2000 or higher, then begin use any WinRT app like (old edge browser) I'm sure you will see the difference between 30fps and 60f

[2019-11-17 20:51] robloo opened #1628 "Bugs in ProgressBar style"
**Describe the bug**

There are several bugs in the ProgressBar style. This needs to be reviewed in detail by MSFT.

Foreground is set twice in the XAML style of progress bar:

[code]

A brush is being set as thickness

[code]

Setting a clipping here also seems to be unnecessary but I might be missing something.
[code]

Please, please take care in code reviews!

**Lines of code are here**

https:

[2019-11-17 21:05] adrientetar commented on #1085
FYI, I just updated to v1909 and recompiled but the issue is still present. There's no new SDK in this update so maybe that's why the bug is still there?

[2019-11-17 22:14] Felix-Dev commented on #1486
@chingucoding Tested it on my local machine with the latest release and preview-release versions of WinUI (no WinUI 3.0) and SDK 18362 and the resource override is still not applied when located in App.xaml. Are you already running on 19H2 and if yes, could the fix for this issue be at the OS level then? 🤔

[2019-11-17 22:38] chingucoding commented on #1486
@Felix-Dev I am running the Insider version 19018.

Maybe this is really a bug that lays inside the OS, though I am very confused why that would be something inside the OS.

[2019-11-17 23:00] dotMorten commented on #1627
Is the app running on the Nvidia GPU or the integrated GPU? There's been a firmware issue that made Microsoft disable the Nvidia GPU. Could just be it can't keep up. Also are you using an external monitor and if so how's it connected?

[2019-11-17 23:28] Strypper commented on #1627
This happen to both OnBoard-Intel GPU and Nvidia 940M. And no, I connected to no external display

[2019-11-18 01:54] adrientetar commented on #1627
FYI my laptop is 3000×2000 (Matebook X Pro, Intel GPU) and I don't have this issue. It's probably the specific hardware configuration or install of Windows.

[2019-11-18 04:53] adrientetar commented on #1505
Could ValueChanged only be sent when the user changed the value and not when programmatically setting it? Right now, I have to exclude that case manually cc @SavoySchuler

[2019-11-18 08:13] Strypper commented on #1627
Downloaded Intel Graphics Command Center
Disable Panel Self Refresg + Maximum Performance
Still the same

[2019-11-18 09:20] v-wenjuz opened #1629 "[UWP] Set Brush properties are invalid for control ScrollBar"
Steps to reproduce:

1. Create a  C# UWP application.
2. Open the MainPage.xaml, and add a ScrollBar inside the Grid.
3. Try to set the background or borderbrush for ScrollBar.

Expected:
the properties are all valid for ScrollBar

Actual:
the properties are all invalid for ScrollBar

**Version Info**
Affected Branch: master/16.4/16.3
Affected Build: 29511.173/29511.114/29509.03
Affected SKU: ENT

[2019-11-18 09:21] Holo-Krzysztof commented on #1612
![cppwinrtMapBinding](https://user-images.githubusercontent.com/22612985/69039642-99790b00-09ec-11ea-9fa0-853d3f46c26f.png)

The default output is slightly weird (compared to C# which stringifies the KeyValuePair), but it does work. Usually there's a DataTemplate and controls are binding to more specific properties anyway, so it should be ok.

Thanks a lot for the fix and the quick responses!

[2019-11-18 11:55] weitzhandler opened #1630 "Proposal: Enable basic expressions and calculations in XAML"
# Proposal: Enable basic expressions and calculations in XAML

## Summary
I often want to bind to a value but need to make an addition/subtraction, negation, string concatenation or a different simple mathematical formula.

It would be great, that instead of creating and maintaining a gazillion converters, there should be a built-in set of syntax conventions, such as simple arithmetic functions, n

[2019-11-18 12:02] weitzhandler commented on #1586
Related: #1630.

[2019-11-18 13:30] DRAirey1 opened #1632 "Runtime error: can't find Microsoft.UI.Xaml.Controls.XamlControlsResources"
[old-merlin.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3865451/old-merlin.zip)
Runtime error:
System.TypeLoadException: Could not find Windows Runtime type 'Microsoft.UI.Xaml.Controls.XamlControlsResources'.
   at ThetaRex.Merlin.UWP.App.OnLaunched(LaunchActivatedEventArgs launchActivatedEventArgs)

**Steps to reproduce the bug**
I had a working project on Friday.  On Sunday, I took

[2019-11-18 14:28] DRAirey1 commented on #1632
The problem definitely developed on the upgrade to Xamarin.Forms 4.3.0.991211

[2019-11-18 14:52] shaheedmalik commented on #1624
Easy to reproduce.

![image](https://user-images.githubusercontent.com/51347950/69062503-07233800-09e9-11ea-8037-65fe4c41f84d.png)

[2019-11-18 15:46] kmgallahan commented on #1624
@shaheedmalik

The OP clearly stated:

It is not reproducible in desktop mode on any of my devices.

If it only repros in tablet mode then that is an important detail and the issue should be corrected, including the title.

[2019-11-18 15:51] lhak commented on #1624
I tested it again on another machine (with a completely unrelated non-microsoft user account) and see the same issue. All machines are on build 18363.476 and I can reproduce it in desktop and tablet mode.

[2019-11-18 16:05] kmgallahan commented on #1624
If anyone outside of @lhak can repro this in a normal Windows desktop environment, then please let us know.

Until then this is the difference between an issue impacting:

- 800+ million desktop users
- ~1 million tablet mode users
- ? users in desktop or tablet mode under very specific, yet unknown circumstances

[2019-11-18 16:41] shaheedmalik commented on #1624
It's easily reproducible in both modes.

![image](https://user-images.githubusercontent.com/51347950/69071562-22e20a80-09f8-11ea-810b-fd14e9d35e4c.png)

Open window in desktop mode. Win+Up, Win+Left

![image](https://user-images.githubusercontent.com/51347950/69071680-4efd8b80-09f8-11ea-8bed-b6f7901b5232.png)

[2019-11-18 17:33] kmgallahan commented on #1624
So if you specifically:

1. First hit the Win+Up to maximize a window
2. Hit Win+Left/Right to snap the window

then the issue can be repro'd (goes away if you his Win+L/R again).

**However**, this happens to all windows, not just UWP/WinUI ones. So this is a Windows 10 issue that belongs in the Feedback Hub, rather than something that should be addressed here.

[2019-11-18 18:04] shaheedmalik commented on #1624
You're welcome!

The issue also occurs when you snap a window at the the top of the screen (via mouse) to maximize it.
![image](https://user-images.githubusercontent.com/51347950/69077548-dac8e500-0a03-11ea-987e-ecb01919004b.png)

[2019-11-18 18:26] Xarlot opened #1633 "Discussion: Dependency property is much slower in WinUI 3 than in WPF"
Based on my quick test WinUI 3 dependency property nearly 50 times slower than in WPF.
https://github.com/Xarlot/dependencypropertytest
Do you have any plans to improve this behavior?

[2019-11-18 18:30] StephenLPeters opened #1634 "RadioButton OnKeyDown wrong behavior"
RadioButton has an OnKeyDown event handler whose presence adds a lot of complexity to RadioButtons.  We should alter or remove this handler to play nicer with RadioButtons.

[2019-11-18 19:22] YuliKl commented on #1628
@karenbtlai can you take a look?

[2019-11-18 19:23] YuliKl commented on #1629
@v-wenjuz can you clarify what you mean by invalid?

[2019-11-18 19:37] benstevens48 opened #1635 "Lots of errors of the type stowed_exception_8000ffff_windows.ui.xaml.dll!directui::dxamlcore::getwindowforscaling"
In the Partner Center health report, I get lots of errors of the type stowed_exception_8000ffff_windows.ui.xaml.dll!directui::dxamlcore::getwindowforscaling. The stack trace is below. These seem to occur on Windows 10 1903, but not on 1809 (or at least they are not reported). It's difficult to see how this can be a bug in my app, although if it is, I apologise. I am using multiple views in my app

[2019-11-18 19:50] YuliKl commented on #1624
@lhak thank you for opening this issue. As @kmgallahan pointed out, the problem isn't limited to UWP apps and won't be fixed in WinUI. Feedback Hub is definitely the best place for these types of issues, so please feel free to upvote the [feedback](https://aka.ms/AA6lruh) I opened based on the information that was provided here.

[2019-11-18 19:50] #1624 closed

[2019-11-18 20:56] robloo commented on #1630
The Avalonia project already has some of these (such as negation). It might be useful to study the syntax.

[2019-11-18 21:10] danzil commented on #1612
Yeah, thanks for the quick response @kennykerr!

[2019-11-18 22:40] chingucoding opened #1637 "Proposal: ColorPicker horizontal mode"
## API spec proposal: https://github.com/microsoft/microsoft-ui-xaml-specs/pull/53

# Proposal: ColorPicker horizontal mode

## Summary

The current layout of the ColorPicker is mainly designed to grow in height. However in some cases, it may be better to have the ColorPicker to be wide, not high.
## Rationale
* In cases were height is limited, the ColorPicker is problematic to use
* Retemplating

[2019-11-18 23:23] mdtauk commented on #1637
Maybe the control should be made responsive, so it can re-arrange to fit the space available to it?
![image](https://user-images.githubusercontent.com/7389110/69102444-62414300-0a5a-11ea-8ae6-b3ffeb9f9eb7.png)

Win32:
![image](https://user-images.githubusercontent.com/7389110/69101556-cf070e00-0a57-11ea-8208-2d51e026c97c.png)

UWP:
![image](https://user-images.githubusercontent.com/7389110/6910157

[2019-11-18 23:29] kmahone commented on #1635
@benstevens48, thanks for reporting this issue. Are these errors actually causing your app to crash? Or is the issue that they are generating unhelpful noise in the debugger output?

[2019-11-19 00:17] SpencerHurd opened #1639 "Acrylic brushes change the values I provide"
When using an acrylic brush, there is math applied to the color value, tint value, and luminosity value that change these values to make the acrylic work more like rs4 acrylic - this conversion changes our desired results, and means designers literally cannot achieve their designs - the values they hand off to code do not get reproduced by the brush. not only that, because there are value caps in

[2019-11-19 00:34] SpencerHurd opened #1640 "Theme shadows need more 'top edge' - surfaces disappear on the top."
Current shadows don't have enough top edge definition and when used without a border the top edge can disappear into the background. A small adjustment would fix this, as well as match the updated fluent shadows edge is spearheading.

[2019-11-19 02:43] VagueGit commented on #717
I feel a little out of it here because most of the feedback comes from devs who work primarily in the xaml space. They generally seem to be looking for a better version of what they've got already. That might be good for existing users but I don't know if it will pull in many devs who have shunned UWP to date.

My team has developed only 1 UWP app. We won't be developing any more.

The insurmounta

[2019-11-19 03:38] jevansaks commented on #837
My preference is Option 2, Background is the whole background's color simply because it's most consistent with other controls. When faced with this problem we usually offer a "lightweight styling key" solution. It's not great, but it's consistent.

Going forward I hope that we can design a holistic solution that makes it so that lightweight styling keys can be API, but for now that's the approach

[2019-11-19 07:32] jasonwurzel commented on #1624
Sorry to bump up this closed issue, but I can't seem to open your link for the feedback issue @YuliKl is there a Issue ID or smth I can search for? I'd like to vote for it because apparrently I'm one of the 800million users affected by this. Though I wouldn't have noticed without this issue.

[2019-11-19 08:17] benstevens48 commented on #1635
These errors are reported as crashes in the Partner Center heath report. It's quite difficult to interpret the errors in the health report (it would be good if there was some guidance on this). It looks like a genuine crash, but I don't really know how the error reporting works, and whether it could simply be the last thing that happened before a crash that was caused by something else. What I wou

[2019-11-19 08:47] zhuxb711 opened #1641 "AutoSuggestBox sometimes gets focus when setting the Text property"
I found that when setting the Text property of AutoSuggestBox, it will occasionally cause the AutoSuggestBox to get the focus.

I only set the Text property of the AutoSuggestBox without setting any focus.

Like this:

![bug](https://user-images.githubusercontent.com/42038175/69130637-cd872580-0aeb-11ea-8825-ef46e7b52f19.gif)

OS Version: Win10 1909  18363.476
Microsoft.UI.XAML Version:  2.2.19091

[2019-11-19 09:19] chingucoding commented on #1637
Yes that would definitely be an improvement. Maybe this could also be a setting, just like the NavigationView handles it.

[2019-11-19 12:17] Elmarcotoro commented on #717
I agree fully.  How can we develop modern business apps without a reporting system that can be easily integrated with the app?  it is a massive canyon that will stop developers moving over.

Business users need to be able to interact with tabulated data and then print it or export it into other formats.  They also need to be able to create Invoices, quotes, statements and other instrumental docume

[2019-11-19 17:23] codendone commented on #1635
This stack is a noisy stowed exception which is non-fatal, assuming you don't have DebugSettings.FailFastOnErrors=true.  Unfortunately, there are some times when the real error stack is not included with the crash information, which results in crash bucketing incorrectly blaming this stack.  We'd need to more specifically look at crashes in your app to see if we find the real cause.

(In WinUI 3.0

[2019-11-19 18:12] jevansaks commented on #1633
Great feedback, thanks for calling this out! Closing gaps like this with WPF is certainly a goal. @Austin-Lamb is on the hook to investigate.

[2019-11-19 18:28] jevansaks commented on #717
Thanks for the feedback @VagueGit and @Elmarcotoro ! Enterprise controls are a gap for us right now. But your timing is good, we are collecting feedback for the design of a DataGrid control. Please read and give feedback over here: #1500 .

[2019-11-19 18:30] jevansaks commented on #1632
@DRAirey1 Thanks for filing and narrowing down to the addition of XF. Can you share a solution project (either GitHub repo link or .zip attached to the issue description or comment) for us to repro locally and investigate?

[2019-11-19 18:34] DRAirey1 commented on #1632
I attached the project.  If you unzip it and upgrade to the latest Xamarin.Forms, then compile and run, you should see the error.

[2019-11-19 18:35] jevansaks commented on #1632
Thanks!

[2019-11-19 18:43] robloo commented on #1637
It would also be great if we could re-arrange the RGB entry text boxes themselves into a horizontal layout. A layout like what is shown below would be ideal to reduce space. That said, I'm pretty sure this was done due to localized text taking up a lot more space -- would be great to have it as an option though.

![image](https://user-images.githubusercontent.com/17993847/69175785-6dd05080-0ad2-11

[2019-11-19 18:43] jevansaks commented on #1624
Yulia's issue is internal and I don't know how to make it public. @jasonwurzel (or anyone) can you file a Feedback Hub item? I'll link it to the one Yulia created.

[2019-11-19 19:52] benstevens48 commented on #1635
Thanks for the reply - that's helpful to know. Based on your comments, perhaps I can turn this into some suggestions regarding error reporting in the Partner Center (feel free to suggest that I move it to another issue if that seems sensible).

Firstly, I'd like to suggest that there should be some guidance on how to interpret the health report in the Partner Center. Note that this should be aimed

[2019-11-19 19:57] mdtauk commented on #837
Background = Ring colour
Foreground = Progress colour

[2019-11-19 20:28] LucasHaines commented on #1586
Can you outline your scenario a bit more? This is linked to 1630 and maybe there is something we are missing?

[2019-11-19 20:37] weitzhandler commented on #1586
@LucasHaines I deleted my previous comment. I think the OP was referring to the ability to manipulate or read XAML files from a non XAML project, i.e. .NET Standard.
Am I wrong @arieradle?

[2019-11-19 21:11] GeorgeS2019 commented on #717
Likewise, beside square tabular data control, we need an opensource UWP graph control to creatively in democratise way share complex relationship through [diagram control ](https://github.com/microsoft/microsoft-ui-xaml/issues/730)

[2019-11-19 22:44] DHowett-MSFT commented on #1581
(If this can help Terminal, I'd love to peep a fix for it :smile:)

[2019-11-19 22:52] teaP commented on #1505
Hi @adrientetar, thanks for your feedback! In the prerelease control, the value should be committed on loss of focus -- is that not working for you? I also couldn't repro the disabled issue.

I've added the long press arrow key feature to my todo list. My next update will also treat NaN as an empty value. I'll start a discussion about Shift+up/down and get back to you on that one.

[2019-11-19 22:52] chingucoding commented on #1520
I would like to try to fix this issue :)

[2019-11-19 23:48] StephenLPeters opened #1642 "SelectionModel fires selection changed events when selection hasn't changed"
I think that this issue is exclusive to SingleSelect. Selection Model clears selection as the first action whenever you call select on it.

[2019-11-20 01:56] hupo376787 commented on #717
For a reporting system, I think Telerik UI is the best choice currently. For the lack of various controls, we should not blame this team, but for the whole MS strategy. From the beginning of abandon mobile, they prefer ios & android better. For now, there is a arguement named "UWP is dead", I think MS should clarify this.

[2019-11-20 04:37] adrientetar commented on #1505
@teaP, actually yeah, the value is committed on loss of focus. My issue is that if I click on my app canvas it will deselect the items before the NumberBox has a chance to commit, because I guess focus lost event isn't sent out immediately but needs wait for the event loop to return.

[Video](https://www.youtube.com/watch?v=IuduYV9G2DI). The code change is [here](https://github.com/adrientetar/Fon

[2019-11-20 05:13] humhei commented on #931
Can we
Just keep `Page`?
As `x:Class` already specify which class it is part of?

Otherwise we have to specify `TypeArugments` in every xaml page every time, And we have to change the root `Page` to specify page type while we just want to have a typed viewmodel type

[2019-11-20 05:38] Poopooracoocoo commented on #1332
Also, dragging tabs with the current implementation doesn't feel nice.

It would be better if other tabs that are not selected/being dragged don't shrink or become "inactive" (greyed out). It should also snap to the tab strip so that there needs to be some force to create a new window. Chrome/Chromium/Edge (Anaheim) are like epitome of tabs :p

[2019-11-20 07:18] MarkIngramUK commented on #717
You’ve just posted that on the roadmap thread...

[2019-11-20 07:44] GeorgeS2019 commented on #717
A Chinese proverb says "One must not stop half way"
Microsoft ecosystems has after a long long time, finally converging to .NET5, the future for c# developer to write once and deploy everywhere and WinUI 3.0 will play a major part to that.

==> Microsoft has to stop relying on Telerik UI and  Syncfusion UI on saving UWP --

At this moment, there are still hardcore developers who understand this fr

[2019-11-20 09:03] niels9001 opened #1643 "Discussion: WinUI, Mixed Reality and the Future of Windowing"
# Discussion: WinUI, Mixed Reality and the Future of Windowing
One of the great things about WinUI, are wide range of input modalities such as mouse, keyboard, touch, controller, voice and even gaze! Another part is the cross platform model that is able to run our experiences on a wide range of device types, and even work in the Mixed Reality world on Immersive Headset and HoloLens.

However, thes

[2019-11-20 10:20] edetoc opened #1644 "Proposal: Add support for Pickers objects in XAML Islands"
# Proposal: Add support for Pickers objects in XAML Islands

## Summary

In a pure UWP world it is possible to create a custom user control and show a Picker object, like a FolderPicker for instance, from its code behind:

[code]

The link below describes and provides a sample on how to create a custom UWP user control as a XAML Island in a WPF application:

https://docs.microsoft.com/en-us/window

[2019-11-20 11:15] mdtauk commented on #1643
Part of this will probably require OS APIs and changes, and not something that can be done entirely within WinUI - but it will be good to see some movement on this, especially for enabling Win32 apps to replace existing UI to XAML, with modal windows, tool windows, and possibly MDI parent windows, with the TabView.

[2019-11-20 13:19] Elmarcotoro commented on #717
@jevansaks  Thanks for the info on the Datagrid control.  This does not deal with the issues of printing reports and pagination, exporting and such.  These are real life business scenarios that need to be dealt with, not whether some button animates (as nice and as cool as this can be).

@hupo376787
"For a reporting system, I think Telerik UI is the best choice currently."

From what I can see Dev

[2019-11-20 18:23] StephenLPeters opened #1645 "SelectionModel SelectionChangedEventArgs should be expanded"
The selection changed event should report the previous and currently selected indices. Currently there is no way to know which index was selected before the changed event, in case you need to do clean up on those indices.

[2019-11-20 18:53] Austin-Lamb commented on #1633
@Xarlot - thank you for making such a minimal repro, that is greatly appreciated :)  I'm about to go on vacation for Thanksgiving, so I won't be able to get to this until early December, but I'm putting it in my queue and will get back to you.

[2019-11-20 19:11] jevansaks commented on #1637
@chingucoding (or anyone else) this seems reasonable to us. The next step would be to propose an API for it and go through the API spec process. In this case it should be as simple as making a markdown file from [this template](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/master/spec_template.md) and putting out a PR. Once that's approved then we can greenlight this for implementation

[2019-11-20 19:19] jevansaks commented on #1641
@zhuxb711 are you sure it's because the Text property is changing? We also notice in your video that the back button is getting clicked on and then disabled. It seems likely that clicking the back button sets focus to it and then the button gets disabled so XAML tries to find another focusable element, which might be the AutoSuggestBox.

Can you provide a standalone repro that demonstrates this pr

[2019-11-20 19:21] jevansaks commented on #1642
@StephenLPeters from the description this seems simple enough. Can you take it?

[2019-11-20 19:24] jevansaks commented on #1645
@ranjeshj @stephenlpeters can you recommend the API to use here? Presumably we have prior art from ListView that we can follow.

[2019-11-20 19:26] ranjeshj commented on #1645
AddedItems/RemovedItems is what Selector exposes. I would recommend AddedIndices/RemovedIndices since selection model works with indices and not the items.

[2019-11-20 19:47] mdtauk commented on #1637
**Does something like this make any sense @chingucoding ?**

NavigationView.Arrangement = Arrangement.Vertical

- Arrangement.Vertical
- Arrangement.VerticalCompact
- Arrangement.Horizontal
- Arrangement.HorizontalCompact

[2019-11-20 20:10] jevansaks commented on #1645
Is RemovedIndices useful after the collection changes? Items makes sense, but I'm struggling to see how Indices would be used in practice.

[2019-11-20 20:23] chingucoding commented on #1637
Something like this would make sense. However what is "Compact" in this case? There is already a way to achieve compact sizing. Also there should be an "Auto" mode shouldn't it?

[2019-11-20 20:29] mdtauk commented on #1637
I would say @robloo 's layout could be compact, maybe "inline" may be better to avoid confusion with the Compact Density.

[2019-11-20 20:38] mrlacey opened #1647 "NavigationView prevents full navigation with an xbox contoller on Windows 10"
**Describe the bug**
Having Settings visible on a NavigationView can prevent navigation to content in the page.

**Steps to reproduce the bug**
1. In a new blank app, add the following.

[code]

2. Connect an XBoxOne controller to a Windows desktop PC.
3. Run the app and notice that it's possible to use the controller to move focus to all 3 of the radio buttons.
4. Close app.
5. Change the [above]

[2019-11-20 20:38] mrlacey opened #1648 "TabView only supports closing tabs with a pointer device"
**Describe the bug**
It is not possible to close a `TabViewItem` using just the keyboard - likely ALLY issue.

**Steps to reproduce the bug**

1. In a blank app, add a `TabView` control.
2. Add some `TabViewItem`s to the `TabItems` collection.
3. Add a handler for the `TabCloseRequested` event.
4. Set a break point in the event handler.

[code]

5. Run the app.
6. Try and close a tab without using

[2019-11-20 20:49] chingucoding commented on #1637
I think this "inline" mode won't work as some color translations can get lengthy and might overflow. For example: "Xanh dương" is blue in vietnamese. How should this be handled? Should the ColorPicker get wider even though our intent is to save space?

[2019-11-20 21:07] ranjeshj commented on #1645
probably a better name would be SelectedIndices and DeselectedIndices or something along those lines .

[2019-11-20 21:08] mdtauk commented on #1637
*Inline* does not necessarily equate to less space.  It is more a declaration of how the constituent parts of the control arrange themselves.

[2019-11-20 21:10] #1478 closed

[2019-11-20 21:58] contextfree commented on #1644
It's apparently possible to use UWP pickers in Win32 apps now via the IInitializeWithWindow pattern, an explanation and example using C++/WinRT is here: https://devblogs.microsoft.com/oldnewthing/20190412-00/?p=102413

And here's an example of using IInitializeWithWindow in C# (for a different scenario): https://www.codeproject.com/Articles/5162896/Monetize-your-App-in-Microsoft-Store

This is a b

[2019-11-20 22:10] chingucoding commented on #1637
Maybe having this as separate option, such as "UseInlineLabels" would be better than having that built into the DisplayMode. If this would be something that you would think that would be a useful addition, I will be happy to add that to the API spec :)

I have also created an API spec PR over at [microsoft/microsoft-ui-xaml-specs](https://github.com/microsoft/microsoft-ui-xaml-specs), FYI @jevansa

[2019-11-20 22:15] kaiguo commented on #1154
@dpaulino I updated the [sample app](https://github.com/kaiguo/TreeViewConditionalReorderSample) to use the latest TreeView changes, I think this should solve the issue you mentioned in this [comment](https://github.com/microsoft/microsoft-ui-xaml/issues/1154#issuecomment-526470293).

[2019-11-20 23:11] jevansaks commented on #1645
But if an item is removed then I assume SelectionModel would "deselect" it, right?

[2019-11-20 23:15] DRAirey1 commented on #1632
This is a bigger problem that just me.  Open Visual Studio, create a new Mobile application with UWP.  Update the packages to latest.  Run.
It crashes with this error.  It's effecting new projects created from templates.

[2019-11-20 23:32] adrientetar commented on #1645
I think you can just use Old/New like other eventargs already do.

[2019-11-20 23:33] karenbtlai commented on #1621
@YuliKl Turns out this is because the `ProgressBar` in WUX has an extra `StackPanel` in the XAML that gives it a minimum width from the `EllipseOffset` template settings property.

So, if `IsIndeterminate` starts out as `false`, the **WUX ProgressBar** has 0 width as well and only appears when `IsIndeterminate` switches to `true`. It also stays at that minimum width when switched back to `false` (

[2019-11-20 23:45] JerryNixon opened #1649 "Proposal: Tab Index button on In-App Toolbar"
# Proposal: Tab Index button on In-App Toolbar

## Summary
Especially for UWP, working with tab index order is a challenge. I am building bigger and bigger forms over data for enterprises and, well, this is a pain point.  I propose adding the tab index management functionality as a button on the in-app toolbar.

Something like this:

![image](https://user-images.githubusercontent.com/1749983/69287

[2019-11-20 23:46] ranjeshj commented on #1645
I see what you mean. The old index probably does not make sense once the item has been removed from the collection but old item does. If the index is removed, then we don't care about restoring the selection state for that container, so should it not be in the list ?

[2019-11-20 23:47] kmahone commented on #1632
Ok, I think there are two issues here.

1. The app is not directly using Microsoft.UI.Xaml. It is directly using Xamarin.Forms. The older version of Xamarin.Forms (4.2.0.848062) does not depend on Microsoft.UI.Xaml, but the new one (4.3.0.991211) declares a dependency on M.U.X. (2.1.190606001). We previously had an issue in our nuget package where we were not handling these "transitive dependencie

[2019-11-20 23:51] mdtauk commented on #1649
Is there a way to render arrows from tab index to tab index?  And if you can, is there any point to visualise the flow?  Are the complex tab order controls that could benefit?

[2019-11-20 23:51] jevansaks commented on #1645
[SelectionChangedEventArgs](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.selectionchangedeventargs?redirectedfrom=MSDN&view=netframework-4.8) has only AddedItems and RemovedItems, I suspect for a similar reason.

Thinking more about @StephenLPeters's scenario I wonder if what we really want is AddedContainers+RemovedContainers? That way you can directly manipulate and clean

[2019-11-21 00:15] JerryNixon commented on #1630
And let !true equal Collapsed on Visibility properties, of course.

[2019-11-21 00:17] weitzhandler commented on #1630
Exactly. And other common scenarios. General idea is reduce XAML hassle and verbosity. Thanks Jerry tha Nixon!

[2019-11-21 00:29] kmgallahan opened #1650 "The TabView's close tab button's ╳ becomes clipped when text scaling >=175%."
**Describe the bug**

The TabView's close button's ╳ character becomes clipped when text scaling >=175%.

**Related**: The add new tab button's 🞡 character seems to be scaling as well, but it isn't getting clipped at least.

**Steps to reproduce the bug**

1. Set text scaling to 175% or greater
2. Open the XAML Controls Gallery
3. View the TabView example

**Expected behavior**

The ╳ should stay

[2019-11-21 00:32] ranjeshj commented on #1645
SelectionModel just tracks the collections and selected index ranges. It does not track containers (decoupled from the containers).

[2019-11-21 00:35] kevin-jing commented on #1500
Hope it support CellDecorationStyleSelector as in Telerik.

[2019-11-21 01:19] jesbis opened #1651 "👩‍💻📞 WinUI Community Call #2 (November 27)"
## Update:

Thanks everyone!

**The call recording is available here:**
https://1drv.ms/v/s!AiwORAw49JWcgfshJXoU3UvhWjZjeg?e=ulfPcY

We'll hopefully have a better streaming setup in the new year.
There's also a .vtt captions file available in the same folder.

----

Hi all -

The November WinUI Community Call will be next week!

We had a great time with the [first community call](https://github.co

[2019-11-21 01:42] kmahone commented on #1632
I am trying out a fix for the second part of the issue by removing the \<Configuration\> element from the \<AppxPackageRegistration\>.

[2019-11-21 02:05] MouriNaruto commented on #1531
Looks good. But I wonder to know when WPF XAML will replace the WinUI XAML because we want a universal modern user experience.

[2019-11-21 02:35] zhuxb711 commented on #1641
@jevansaks you are right. XAML will try to find another element. This problem disappears when I set the property "AllowFocusWhenDisabled" of the back button to "True"

[2019-11-21 02:35] #1641 closed

[2019-11-21 05:08] YuliKl commented on #1621
Agreed that this sounds like a bug in WUX, so closing this issue.

[2019-11-21 05:08] #1621 closed

[2019-11-21 07:22] ad1Dima opened #1652 "Changes to MenuFlyoutSubItem.Items don't update UI"
**Describe the bug**
Changes to `MenuFlyoutSubItem.Items` don't update UI. Sub menu shows previous items.

**Steps to reproduce the bug**
1. Create `MenuFlyout` with `MenuFlyoutSubItem` within.
2. Fill `MenuFlyoutSubItem.Items`
3. Show `MenuFlyout` and check content of  `MenuFlyoutSubItem` submenu
4. Call `MenuFlyoutSubItem.Items.Clear()` and than fill  `MenuFlyoutSubItem.Items` with new items
5.

[2019-11-21 08:19] JerryNixon commented on #1649
Visualizing the flow, especially for controller navigation for apps on the Xbox would be another neat feature, for sure. Good idea, Martin. You should submit a feature proposal.

[2019-11-21 10:07] chingucoding commented on #1649
This is a great idea! This would definitely make it easier to test for tab order!

I am not quite sure if those arrows would work, since complex layouts may have a complex tabbing order, where arrows would intersect a lot and the visualization would look rather messy than being helpful.

[2019-11-21 10:17] chingucoding commented on #1520
As @kmgallahan and @shaheedmalik already pointed out this is quite a difficult issue.
Supporting multi line text is really difficult, since we don't know if the text is multiline or not. For larger font sizes, the checkbox needs to center, for smaller font sizes, the text needs to center. This however is problematic with multiline text.

For text that is single line, finding a solution is quite ea

[2019-11-21 11:13] kmgallahan commented on #1520
@chingucoding

According to the `CheckBox_themeresources.xaml`, the label and checkbox are contained in columns of a Grid ("RootGrid").

If the checkbox [here](https://github.com/microsoft/microsoft-ui-xaml/blob/9d0819d48b6532b260d41df67700ce830d2027bf/dev/CheckBox/CheckBox_themeresources.xaml#L644) had a new outer container, then that container could have:

* `VerticalAlignment="Center"`
* Logic

[2019-11-21 12:53] salmanmkc commented on #1651
Am I the only one who has been getting calendar notifications like 15 days in advance? (from the last calendar invite)

[2019-11-21 12:54] mayankkrjain opened #1653 "WinUI fails to compile on VS2019-16.4.0"
**WinUI fails to compile on VS2019-16.4.0 (Preview 5.0)**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Install VS2019 Preview from https://visualstudio.microsoft.com/vs/preview/
2. Build the solution with following configuration - x64, Debug

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :-------------------- |
| May 2019

[2019-11-21 13:03] mdtauk commented on #1649
I tend not to make proposals on ideas I am unsure would be worth doing, hence a series of questions for those who want some better Tab Index visualising. 😀

[2019-11-21 13:07] mdtauk commented on #1531
Xaml Standard fizzled and died.  WPF XAML is I think a 2009 spec, whereas WinUI XAML is 2006.

I hope .Net Core 5 and WinUI 5 could perhaps complete a transition to a unified and open spec 2021 XAML spec.

[2019-11-21 13:15] chingucoding commented on #1520
While this is a very good idea, unfortunately, this (currently) does not work for two reasons:
1. The actual logic behind the control is currently not open source. This means we can not subscribe to events or do any calculations.
2. While testing your idea, I found out that, the LineHeight of both the TextBlock and the ContentPresenter are not the values you would exspect. The TextBlock has LineHe

[2019-11-21 13:37] mdtauk commented on #1653
I have been unable to compile and build the solution for about a month now.
Says Microsoft.UI.Xaml cannot be referenced, and a load of errors which may be resulting from that warning.

[2019-11-21 13:50] shaheedmalik commented on #1647
I figure this would also affect using a controller on Hololens and Xbox as well. If I could, I would use the controller to control the entire OS.

[2019-11-21 13:55] kmgallahan commented on #1520
Is that going to change with WinUI 3 release? If yes and that is the main roadblock to a proper solution, then this issue could just be marked 'Needs WinUI 3' for now.

The [property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textblock.lineheight) is supposed to be a `double` - I guess 'Auto' interferes with getting the actual number?

Requiring a reskin isn't particularly

[2019-11-21 13:58] StefanJKern commented on #1414
Hi,
thank you for fixing this bug. It actually took me half an hour to realize the exception is not causing my crash.

But I am having a crash succeeding this exception which occured in code that worked for 2 years after upgrading from 1803 to 1903 (problem persists in 1909) in our Visual C++ Application (compiled with vc12).
It almost always crashes after entering (valid or invalid) credentials i

[2019-11-21 14:05] chingucoding commented on #1650
I agree, the tab close button should not scale. Should the + button scale?

Without + button scaling:
![image](https://user-images.githubusercontent.com/16122379/69344216-4b276e80-0c6f-11ea-827f-4a537e233765.png)

With + button scaling:
![image](https://user-images.githubusercontent.com/16122379/69344280-68f4d380-0c6f-11ea-9894-97050b426301.png)

All buttons scaling:
![image](https://user-images.g

[2019-11-21 14:15] kmgallahan commented on #1650
I think this aligns with the question of what chevrons should be scaled presented in #1519

The question is: when is it appropriate to be scaling these text symbol icons vs. when is it not?

In some cases it just looks better having them scaled next to text as seen above, but then the tab icons would also probably look better is they were scaled up too, and thus things get complicated...

[2019-11-21 15:11] DRAirey1 commented on #1632
Perhaps I didn't explain the second problem: this bug occurs with a virgin Mobile project.  Just create a Mobile application and update the NuGet packages.  You can't expect everyone who want's to make a simple mobile app to have to debug this issue and monkey with the generated files.

[2019-11-21 15:45] shaheedmalik commented on #1649
Do it!

[2019-11-21 16:20] kennykerr commented on #1612
@Holo-Krzysztof are you actually able to retrieve the key and value from the pairs within the data template?

[2019-11-21 16:29] asierpn commented on #1517
nobody talks about navigation performance of cached pages with a large visual tree? Why a cached page needs so much time to be rendered again? For us this is more important than shadows, lights, or rounded corners... @jevansaks you pointed me to start a discussion here, but I don't see any interest in improving performance, and I think there is a lot of work to be done in this area.

[2019-11-21 16:30] mdtauk commented on #1637
![image](https://user-images.githubusercontent.com/7389110/69356907-1f5eb580-0c7c-11ea-83cc-83558c4e0678.png)

Here is my thinking for both the Orientation and the Mode of the colour picker

[2019-11-21 16:58] Nirmal4G commented on #1651
That's a live calender url.

[2019-11-21 17:27] kmahone commented on #1632
@DRAirey1, I was not able to reproduce the problem with the new project. I used Visual Studio 2019 to create a new "Mobile App (Xamarin Forms)" and included UWP support. After upgrading all the nuget packages, the app continued to work. Could you share a zip of your project that demonstrates this problem so I can compare it with mine to see what is different?

I agree. The workaround that I shared

[2019-11-21 17:27] teaP commented on #1505
@adrientetar, hmm, would it help if you had a way to force validation of the text before you deselected the item in your canvas?

[2019-11-21 17:45] kmgallahan commented on #1651
I'm not sure if the call should be used in this way, but can we advocate for support of other MS projects that are related to WinUI and would provide value to the devs here?

In particular, [VS App Center](https://docs.microsoft.com/en-us/appcenter/) is currently building out a [data sync system for Cosmos DB](https://docs.microsoft.com/en-us/appcenter/data/). However, they are only focused on And

[2019-11-21 18:10] mdtauk commented on #1649
Not sure if the arrows are needed, but grouping with colour, and the use of a decimal delimiter could  help show the tabbing, as well as the arrow to change focus.
![image](https://user-images.githubusercontent.com/7389110/69364427-30aebe80-0c8a-11ea-8589-b833bec5c3b8.png)

[2019-11-21 18:25] StephenLPeters opened #1654 "RadioButtons last or first item disabled keyboarding"
There is a bug in radiobuttons where when the last or first item in the collection is not a tab stop or is disabled, pressing right or left on the last or first focusable item will move focus to the first or last item.  This is due to RadioButton's key down handler. There is probably a work around or in WinUI 3 we could remove the key handler for radio button.

[2019-11-21 18:26] StephenLPeters opened #1655 "RadioButtons BasicKeyboardTest crashes"
Something to do with the test apps handling of multiple items sources.

[2019-11-21 18:43] jesbis commented on #1651
@salmanmkc as far as I know the previous .ics invite didn't have a default reminder set - does your calendar app let you change it? The recurring .ics didn't work very well for some people so we're likely going to take a different approach in the future - we'll briefly talk more about that next week.

---

@kmgallahan I think that's a great type of topic to discuss and raise awareness about!
Also

[2019-11-21 19:13] jevansaks commented on #1414
@StefanJKern This sounds like a different issue, could you open a new issue to track it? Also please attach a simplified repro project or a crash dump at the point of the call stack (you can save one from visual studio's Debug menu) when you do. Thanks!

[2019-11-21 19:14] jevansaks commented on #1641
Well, thanks for including a video! It helped a lot. :)

[2019-11-21 19:15] jevansaks commented on #1647
@Austin-Lamb can you help take a look?

[2019-11-21 19:17] jevansaks commented on #1648
It's intentional that the close button isn't reachable with keyboard (same as Edge/Chrome).

@mrlacey Does Ctrl+F4 not work? @Stmoy what is the keyboard accessible expectation?

[2019-11-21 19:19] jevansaks commented on #1650
I think the default answer is: don't scale icons, even if they're glyph-based. The user wanted text to be bigger but if we made icons bigger too it would be the same behavior as DPI scaling for the most part. The spirit of the setting is that just text gets bigger.

So the fix for these would be to set IsTextScaleFactorEnabled=false on both + and x.

[2019-11-21 19:22] jevansaks commented on #1652
Interesting bug! Probably a missing binding or something. I imagine the bug is in the framework so this would need WinUI 3 for a fix.

[2019-11-21 19:25] jevansaks commented on #1655
@StephenLPeters I assume this is something you want to follow up on after your first checkin so I'm giving this to you?

[2019-11-21 19:27] adrientetar commented on #1505
@teaP, not really because that would introduce too much coupling between parts of my app. I think I just need to do something like call CoreDispatcher.ProcessEvents so that the focus out event is processed immediately and before I deselect. So I don't think anything is required on the control, that's just something I thought I would note.

[2019-11-21 19:51] kmgallahan commented on #1651
@kikisaints

Maybe you could release the latest version of the [Fluent XAML Theme Editor](https://github.com/microsoft/fluent-xaml-theme-editor) during/for the call (as seen in [this MS Ignite session @27:15](https://myignite.techcommunity.microsoft.com/sessions/81330?source=sessions)). Not sure if that code is already in the repo and just needs to be released to the Store or something else.

Coul

[2019-11-21 19:55] mdtauk commented on #1651
There is a branch for the updated editor, but its not yet complete, as it has no font options right now, but it does have the corner radius properties.

![image](https://user-images.githubusercontent.com/7389110/69371958-bb96b580-0c98-11ea-962d-05b1bac01385.png)

![image](https://user-images.githubusercontent.com/7389110/69371991-c94c3b00-0c98-11ea-8fc9-5458c257d7fe.png)

![image](https://user-ima

[2019-11-21 20:13] kmgallahan commented on #1651
@jesbis

I don't know if it would necessarily have a _net positive impact_, but it would probably increase in size  of the audience if the call were mentioned on the [Windows Developer](https://blogs.windows.com/windowsdeveloper/) blog.

[2019-11-21 20:29] mrlacey commented on #1648
Does Ctrl+F4 does nothing.

[2019-11-21 20:37] stmoy commented on #1648
Ctrl+F4 should raise the TabCloseRequested event automatically. This sounds like a bug in TabView.

We also discussed the TabView raising TabCloseRequested on Ctrl+W, but decided that the app can handle that case if appropriate.

[2019-11-21 20:55] jesbis commented on #1651
Definitely agree and we'll be doing that starting in the new year!

[2019-11-21 21:20] mrlacey commented on #1648
I take it back. Ctrl+F4 does raise the right event. (My sample app had been modified so I didn't see it when I initially checked.)

The [docs](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.tabview?view=winui-2.2) also say "mousewheel" should trigger the event too, but I don't see that.

Is there also a way to close a tab if using an Xbox game controller connected to a PC?

[2019-11-21 21:44] adambarlow opened #1658 "Proposal: A WebView based on Microsoft Edge (Chromium) in WinUI 3"
# Proposal: A WebView based on Microsoft Edge (Chromium) in WinUI 3

## Summary

The Microsoft Edge browser is moving to be based on the Chromium web engine. This proposal is to create a WebView in WinUI 3 which takes advantage of the [Microsoft Edge Webview2](https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2). This will allow WinUI 3 apps to host web content in the most relevant an

[2019-11-21 21:48] kmahone commented on #1653
@mayankkrjain do you also hit this problem with the release version of VS 2019? Or is this issue specific to the Preview 5 version?

[2019-11-21 21:57] mdtauk commented on #1653
I am only running the preview version of VS 2019, with VS 2017.  I will try on release

[2019-11-21 21:59] stmoy commented on #1648
Interesting. This should also be automatically handled by the TabView control. It appears to work this way in the Gallery. Can you double check this one as well? By "mousewheel" we mean "middle click" (which is usually done by the mousewheel).

Good catch. The expectation is that the app places a context menu/MenuFlyout on each tab with a "close tab" option.

Thinking out loud: we explicitly *don'

[2019-11-21 22:30] chingucoding opened #1659 "Proposal: ColorSwatches in ColorPicker"
![](https://user-images.githubusercontent.com/7389110/69379335-34513e00-0ca8-11ea-8969-6e3755371314.png)
Credit: @mdtauk
# Proposal: ColorSwatches in ColorPicker

## Summary

The win32 ColorPicker has swatches, the WinUI colorpicker should too!

## Rationale

* Close gap between win32 and WinUI
* Ability for developers to let users input accent colors easily
* Enables history of colors chosen by u

[2019-11-21 22:52] mdtauk commented on #1659
Thank you for writing this up as a proper proposal @chingucoding I could imagine there may be scope for further "sections" that could be added to the ColorPicker, if some compelling ideas were to be proposed.  Failing that, there could be custom XAML content added.

[2019-11-21 23:12] mdtauk commented on #1169
Is this refined animation the one currently present in the XAML Controls Gallery?

The animation currently appears like a bad loop.  And is missing the starting easing and the second slower ease out as is demonstrated by the [FastDNA Indeterminate Progress](https://explore.fast.design/components/progress) animation

[2019-11-21 23:18] mdtauk commented on #1653
It works in the release version, but not in at least the past 3 Visual Studio 2019 previews

[2019-11-21 23:39] jevansaks opened #1660 "Need automated test coverage for Islands scenarios"
We are lacking test coverage for Islands scenarios. This issue is to track adding the infrastructure and some initial tests for this scenario.

[2019-11-21 23:55] shaheedmalik commented on #1659
Yes. It looks great.

[2019-11-22 00:20] VagueGit commented on #717
Please @hupo376787 check your facts. [Telerik Reporting](https://www.telerik.com/products/reporting.aspx) supports WPF, WinForms but NOT UWP.

[DevExpress](https://docs.devexpress.com/XtraReports/5159/create-end-user-reporting-applications) also support reporting in WinForms and WPF. But NOT UWP

There is an old proverb, "Check your facts before committing yourself to an error that will be preserv

[2019-11-22 00:45] shaheedmalik commented on #1637
Maybe instead of having different ones just have one that you can resize.

If you have the size at 240x500 for instance would be horizontal and if you have one at 500x240 would be vertical for example.

That way there would be some consistency.

[2019-11-22 00:49] shaheedmalik commented on #1658
This is already in progress.
"Webview2"
https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2

[2019-11-22 00:54] shaheedmalik commented on #1651
Is the replay for this up? I missed it.

[2019-11-22 01:41] jesbis commented on #1651
@shaheedmalik the recording from October is posted [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1478). The November call is next week - hope you can make it!

[2019-11-22 01:59] shaheedmalik commented on #1651
Don't mind me, I am an idiot. I thought call 2 was yesterday.

[2019-11-22 03:04] kmgallahan commented on #1658
@shaheedmalik

Perhaps you should more carefully read the issue...

[2019-11-22 05:10] YuliKl commented on #1169
The Gallery currently has the old progress bar, I'm in the process of updating. The updated version is on the right:
![IndeterminateProgressBars](https://user-images.githubusercontent.com/13142665/69399530-598f7d80-0ca3-11ea-8313-ea6db62135d7.gif)

[2019-11-22 05:19] adrientetar commented on #1659
Why not put R,G,B on the same line and the legends below?

[2019-11-22 05:45] myokeeh commented on #597
Is it possible to get this prioritized higher?

[2019-11-22 08:23] chingucoding commented on #1659
There were also some thoughts put into this idea in #1637. The main problem I saw is how to deal with lengthy translations.

[2019-11-22 08:24] StefanJKern opened #1662 "CredUIPromptForWindowsCredentials crashes in Win32 application"
**Describe the bug**
Invoking `CredUIPromptForWindowsCredentialsW` spuriously crashes the program after numerous Exceptions finally with Exception code: 0xe06d7363 in KERNELBASE.dll.

Our Application is a non-unicode Win32 Qt Application.

**Steps to reproduce the bug**
1. Invoke  `CredUIPromptForWindowsCredentials` from Main Thread multiple times until the program crashes. The bug usually occurs

[2019-11-22 08:25] hupo376787 commented on #717
OK, I think we have the different understanding of Reporting. I mean https://www.telerik.com/universal-windows-platform-ui and https://www.devexpress.com/products/net/controls/win10apps/.

[2019-11-22 08:26] chingucoding commented on #1637
I can see why that may be useful however this "Auto" may a quite complicated: Which orientation is preferred? What if there is not enough space in either orientation?

In addition to this, the easiest way would be to let developers choose which orientation is appropriate for their use case.

[2019-11-22 08:28] StefanJKern commented on #1414
@jevansaks Thanks for your feedback. I opened #1662 for this issue.

[2019-11-22 08:59] mdtauk commented on #1169
Yes that's the animation I saw in the controls gallery, it seems to zip forward and then slow at the end, and repeats it over and over.

It looks like a visual bug, compared to the animation used in the FastDNA and FabricUI versions of the control.

Have you been given the correct animation values?  You may want to ask the design team to look at it @chigy

[2019-11-22 10:18] Felix-Dev commented on #1637
I would leave that up to the developer. With adaptive triggers, the developer can easily change the Orientation whenever they want to.

[2019-11-22 10:41] Felix-Dev commented on #1662
@StefanJKern It does not appear to me - based on the context you have provided - that this is an issue for the WinUI team. Feedback Hub might be a better choice.

[2019-11-22 11:58] petroemil commented on #1643
I think in the context of WinUI what we can realistically talk about is a 2.5D kind of UI elements... with a bit of thickness, some dropshadow, a bit of perspective... maybe positioning windows in the 3D space. But at the end of the day we have to keep in mind the "cross-platform" or "cross-device" nature of WinUI. Something truly 3D wouldn't work on any other device other than Mixed Reality devic

[2019-11-22 12:10] mdtauk commented on #1643
There were some early experiments with 3D Markup being explored.  Also Build mentioned taking XAML elements, and rendering the controls outside of the window, attaching them to your hands, etc.
![image](https://user-images.githubusercontent.com/7389110/69424640-08be6a00-0d21-11ea-9539-8f03458a56d7.png)
![image](https://user-images.githubusercontent.com/7389110/69424647-1116a500-0d21-11ea-8fc0-be37

[2019-11-22 13:33] shaheedmalik commented on #1637
I was thinking the developer sets the size and have the control wrap around based on the dimensions.
500x240 might be horizontal while 240x500 would be vertical for example. Then the user can freely resize it based on preference.

Maybe have an initial orientation set like horizontal or vertical but then have it still fluid?

[2019-11-22 14:08] Elmarcotoro commented on #717
I was incorrect, Dev Express do not provide reporting for UWP.  It appears no third party tooling developer does!  I contacted Dev express through their chat, about whether they had a road map for providing reporting for UWP.
They said,
"The XtraReports Suite uses the functionality provided by the System.Drawing assembly and the thing that prevents us from implementing the same set of tools for Un

[2019-11-22 14:13] niels9001 commented on #1643
Agreed.. for full-blown 3D experiences Unity would be the better option. But to have 2.5D slates out side of the main view, with 2.5D styling would already be a super great start.

[2019-11-22 14:22] Dean-NC commented on #717
Just from a WinForms perspective, I've used both Telerik and DevExpress (even their latest versions), and while Telerik was good, I think DevExpress not only has a better overall designer and experience, but has a lot more subtle features that make complex layouts easier than Telerik.

[2019-11-22 15:17] moshegutman commented on #1658
Please add printing, and print-to-PDF APIs. This is super useful when generating reports based on HTML. The current print options in UWP are terrible. `WebViewBrush` is not vector based.

https://stackoverflow.com/questions/39012591/uwp-print-webview

[2019-11-22 15:49] martinsuchan commented on #1658
Back in 2016 when I was developing full featured UWP browser for Windows Mobile I wrote this blog post about missing features in the original WebView. Some of the ideas are a bit dated, most of them are still relevant:
https://www.suchan.cz/2016/04/make-webview-great-again/

My favourite points:
**Proper access to Frames**
There is no way in the current WebView how to uniquely identify Iframes in

[2019-11-22 16:39] michael-hawker commented on #1658
I know important features that came late (or didn't come to the original WebView) are:
- Intercepting each resource request (e.g. being able to add custom headers for auth, serve content from a cache, or filter out bad actors)
- Independently controlling each WebView's cache, be it sharing from a central cache, or independent from others so that it can be wiped separately from entire app.
- Access

[2019-11-22 16:56] jevansaks commented on #717
Thanks for the call-out. We'll reach out to them as well.

[2019-11-22 17:10] jevansaks commented on #1662
Thanks for all the details. I was able to track down an existing internal bug for this. Since it's not an issue in WinUI (it's in the OS), I'm going to close this issue. If you want to be able to track the internal issue and see when it gets resolved yourself, you can file a Feedback Hub item and share the link to it here. I can connect the feedback item to the existing bug so you can see when it'

[2019-11-22 17:10] #1662 closed

[2019-11-22 17:27] StefanJKern commented on #1662
Thank you @jevansaks  for your help. I will file an issue next week. Hopefully I can get some information how to work around this issue until this issue is resolved.

[2019-11-22 18:19] jevansaks commented on #597
Unfortunately this isn't something we can fix any sooner. It is tagged with "needs-winui-3" which means we'll review it as soon as we're able to start thinking about bug fixes on top of Winui 3.

[2019-11-22 18:26] Elmarcotoro commented on #717
Thanks for the call-out. We'll reach out to them as well.

It may be worth talking with all of them and seeing what the blocks are? Telerik, Grapecity, DevExpress etc.

[2019-11-22 18:35] jevansaks commented on #717
For sure, that's our plan.

[2019-11-22 18:46] hansmbakker commented on #1658
Please also refer to https://github.com/microsoft/microsoft-ui-xaml/issues/1298 (proposal for access to cookies in WebView)

[2019-11-22 19:15] jevansaks commented on #1648
Is that even possible?

I think just offering a default context menu seems best. That makes it more obvious for keyboard and gamepad users.

[2019-11-22 19:25] #1629 closed

[2019-11-22 19:27] jevansaks commented on #1614
So the change would be: change the role dynamically; ListItem in left nav and TabItem in top nav?

[2019-11-22 19:29] #86 closed

[2019-11-22 19:53] shaggygi commented on #1658
Ability to view PDFs and SharePoint docs (Word, Excel, etc.) by navigating to URL.  Printing APIs would be nice, too.

[2019-11-22 20:26] mrlacey commented on #1648
Yes, I was middle-clicking with the mousewheel but it did not realize the cursor has to be over the tab and this doesn't work if the cursor is over the tab's content.

A default content item would be a good solution. Also having the Ctrl+F4 shortcut documented somewhere a user might possibly find it would also be good. I expect to see it as a tool-tip on on the close button.

[2019-11-22 20:58] jevansaks commented on #408
@ranjeshj can you provide some more details from the internal issue in this issue so that we can enable the community to help us fix it?

[2019-11-22 20:59] jevansaks commented on #467
@StephenLPeters is this fixable within the new RadioButtons list, or does it require a fix to RadioButton's code?

[2019-11-22 20:59] codendone commented on #1635
1. Yes, all three categories represents termination of the app.
2. They are all still real crashes, but the cause of the crash may not be visible in the title or stack trace if a 'noisy' exception was incorrectly blamed for the crash.
3. Determining whether a crash was caused by your app is not always easy.  For example, one relatively common crash is with Windows_UI_Xaml!DirectUI::ButtonBase::OnC

[2019-11-22 21:12] StephenLPeters commented on #1447
This issue has popped up in the RadioButtons Commit #1623 . I'm going to reopen the issue.  You can reproduce the issue by running the new RadioButtons test ControlKeyKeyboardTest, which passes on OS versions higher than RS2 despite showcasing this bug.

[2019-11-22 21:35] jevansaks commented on #716
The fix for the original issue still hasn't made it out to servicing. If you are affected then the manual remediation is to uninstall all the affected apps and then re-install them from the store.

If you’re comfortable with PowerShell then you can search for the apps that are using the shared framework (Either Xaml.2.0, Xaml.2.1 or Xaml2.2) and uninstall all of them. For example to identify all t

[2019-11-22 21:37] dpaulino commented on #1154
Thanks for the update. Is this available in a prerelease package that I could try out?

[2019-11-22 21:47] ranjeshj commented on #1447
I think Stephen figured out the issue. It is repro'ing for NonVirtualizing layouts - so the fix needs to be taken out of the if block.

[2019-11-22 22:28] kaiguo commented on #1154
Yeah, you can find the prerelease package in the sample app [here](https://github.com/kaiguo/TreeViewConditionalReorderSample/tree/master/localpackages).

[2019-11-22 22:42] adambarlow commented on #1658
@martinsuchan thank you for posting this blog. I'll take some time to go through this.

@michael-hawker given Edge Chromium's planned distribution model the main case I am referencing in this failure mode would be a machine that has not been updated or in an organization that has not yet pushed the update.

Yes, it would work regardless of app model. The Uno angle is a good question. Thanks for ad

[2019-11-22 22:49] robloo commented on #1628
This should be an easy one to fix/review. Any feedback?

[2019-11-22 23:17] chingucoding commented on #1651
A few questions:
- Will the project (structure) change a lot with WinUI 3.0?
- How does Windows deal currently with changes in WinUI (e.g. the Settings app) and how will this change with WinUI 3.0?
- Beside XCG, Fluent XAML Theme Editor and the Windows Community Toolkit Sample App, what are apps that you can recommend/develop for developers?

[2019-11-22 23:29] salmanmkc commented on #1651
For some reason it had 24 days as the reminder time, so I've been getting a reminder every day since haha
![image](https://user-images.githubusercontent.com/32169182/69467452-f0ca0300-0d7f-11ea-8524-e00b662acbdb.png)

[2019-11-23 01:12] jevansaks commented on #1628
@robloo if you're suggesting that you want to do a PR to fix, we would be happy for you to do that. :)

[2019-11-23 01:13] jevansaks commented on #1628
Also if it means that we're lacking test coverage which would have caught it, please add some as part of the change!

[2019-11-23 01:15] karenbtlai commented on #1628
@robloo Thanks for submitting the issue and I apologize for the late response! The fix for this will actually be in the PR that will be submitted later tonight along with other accessibility features.

[2019-11-23 08:28] vitorgrs commented on #1658
So a question need to be asked. Would this work on Xbox? And what about IoT?
Most TV apps on Xbox are actually PWA or Webview apps. This seems very basic. If don't come, Xbox will be stuck with EdgeHTML forever?

I currently have an app for Xbox and Windows that uses the normal WebView when clicking on links there, but the perf is not that great, and I would switch instantly. But not having on Xbo

[2019-11-23 09:20] #705 closed

[2019-11-23 09:20] #946 closed

[2019-11-23 13:05] martinsuchan commented on #1658
@vitorgrs Great question! The new Chromium based WebView2 should be available on Xbox and IoT as well. Ideally the Chromium WebView should be a separate package downloadable in Store, just like it works on Android, where all apps share the same Chrome WebView, that can be updated separately in Google Play.

[2019-11-23 15:03] mayankkrjain opened #1666 "Clipping issue in RadioButtons items"
**It seems the first item in RadioButtons is defining the max-width for all the remaining items. If an item with index>0 is having size more than the size of the first item (and greater than min-width) it will get clipped. This issue can also be seen in the test app where the last disabled item is clipped.**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to RadioButtons Sa

[2019-11-23 15:59] Felix-Dev commented on #1666
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/705 which has just been fixed in commit https://github.com/microsoft/microsoft-ui-xaml/pull/1623.

[2019-11-23 16:43] mayankkrjain commented on #1666
@Felix-Dev - Yes. I am able to see the fix in the latest master. Thanks!
 However it seems the Focus navigation behavior is changed now. Earlier the selected item in the group used to get the focus. Not it's the first item in the focus direction which gets focused (and selection). Is this expected?

[2019-11-23 16:49] StevenTCramer commented on #716
@jevansaks Yes Srinivas helped me to do just this on two different occasions.  Hopefully the fix will make it out soon.

[2019-11-23 17:00] jevansaks commented on #1666
I don't think that's expected. @kikisaints @stephenlpeters can you comment?

[2019-11-23 17:08] robloo commented on #1628
@jevansaks I'm always happy to help where I can! Hopefully, it didn't sound like I was pushing too much (I know you all are busy). I just knew it was easy and didn't want it to get lost with the other changes. In the future I would be happy to help with XAML fixes like this; however, UI unit tests I would have to read up on more.

@karenbtlai Ok, awesome! Thanks for following up with this :)

[2019-11-23 17:18] robloo commented on #1659
Yes, when I added the suggestion I also mentioned translation could be an issue. However, there are some methods of fixing this:
 1. The text could have trimming
 2. The control could resize itself
 3. Just use color component abbreviations like Photoshop(r) has: just 'R', 'G', 'B'

I like #3 the best and would argue if the user is editing the components directly they already know what they are do

[2019-11-23 17:21] robloo commented on #1637
Concerning putting all components on the same horizontal line:

![image](https://user-images.githubusercontent.com/17993847/69482618-b1d19700-0deb-11ea-959b-68273bf02000.png)

I thought of three possibilities to fix the potential localized text length issue:

 1. The text could have trimming...
 2. The control could resize itself (I realize that's not ideal at all)
 3. Just use color component abb

[2019-11-23 17:33] #1650 closed

[2019-11-23 18:09] adambarlow commented on #1658
Working on all OS versions where WinUI 3 is supported is certainly a goal, as called out in the scoping section. We will be able to get more specific moving forward about supported endpoints for the v1, but we really love getting this feedback. The user removing the Edge browser will not be an issue as the APIs necessary for the WebView will be available as part of an OS update.

[2019-11-23 18:25] jevansaks commented on #1666
Yeah I see the bug too. It seems to be when going from one RadioButtons control to another (if the previously focused control was not a RadioButtons then it seems to behave correctly). I wonder if some state is being shared. We'll need to trace through the GettingFocus logic.

[2019-11-23 18:44] benstevens48 commented on #1635
Thanks very much for the detailed feedback. Have you considered converting it into an article or blog post? I'm sure others would find it useful.

Regarding point 7 - I haven't had one of these errors in a while, but from memory the function is renamed slightly in a way which seems to suggest it's referring to part of an async function, but I guess you need to know how the compiler splits the func

[2019-11-23 20:25] #1628 closed

[2019-11-23 21:07] #381 closed

[2019-11-23 21:07] #1154 closed

[2019-11-24 01:58] noseratio commented on #1658
These days, nearly every single Desktop app has an HTML view in some form, and unfortunately, many of them are still stuck with IE WebBrowser-based wrappers. Providing a modern WebView for modernizing those existing apps is a great initiative and is a step in the right direction, thanks for that.

However, if I was to start a new Desktop app development today, I'd be looking for a cross platform U

[2019-11-24 02:23] MuziburRahman commented on #1581
A lot of things in the design of the `TabView` control rise question in my mind.
Can anyone explain why the `TabColumn` isn't given the star width instead of the `RightContentColumn` here :
![image](https://user-images.githubusercontent.com/21083609/69488437-8efabd80-0e93-11ea-8b33-e3893b1d5a3b.png)

[2019-11-24 06:13] arieradle commented on #1586
In our case, we use XAML to create complex graphs of objects using the ability of XAML to specify references among the objects. **It has nothing to do with WPF or any other UI infra.** It is used purely for it's advanced features as a markup language.

Currently, XAML cannot be used in .NET Core projects, intended to be run on Linux.
Correct me if I'm wrong, but there is no System.XAML nuget, targ

[2019-11-24 06:34] weitzhandler commented on #1586
The immediate solution that comes in mind for your scenario @arieradle, is obviously the [Uno Platform](https://platform.uno).
Uno brings XAML projects and makes the same code work on iOS, Android, and also as a WASM website!
Although it's UWP-based rather than WPF, I'm sure, if you talk to the Uno team via their website or their twitter, they'll be happy to listen and try to help.
It also [looks]

[2019-11-24 08:50] jasonwurzel opened #1668 "Question: WinUI 3 and external libraries"
In our currently developed project (UWP) we are using some external libraries, eg.: ReactiveUI, Win2D, CompositionProToolkit, Microsoft.Toolkit.*
We are very eager to upgrade to WinUI 3 when the time has come and the project has matured enough.
But the question is, there would have to be a special WinUI version for all of our dependencies, right? This could mean a fair amount of extra work being t

[2019-11-24 09:02] humhei commented on #712
can repro on xaml controls gallery

[2019-11-24 11:54] kmgallahan commented on #1668
https://github.com/microsoft/microsoft-ui-xaml/issues/717

[2019-11-24 13:58] benstevens48 opened #1669 "TextBlock.ActualWidth is sometimes incorrect - doesn't match ActualSize.X"
**Describe the bug**
I was just writing some code using the Composition API to create a shadow on a TextBlock. At some point the size of the shadow visual needs to be set to the size of the TextBlock. Therefore I am listening to the SizeChanged event for the TextBlock and updating the size of the shadow as necessary using TextBlock.ActualWidth (and height). However, the shadow was occasionally the

[2019-11-24 16:48] deanchalk opened #1670 "Question: Where are the standard UWP Controls ?"
On the WinUI page https://docs.microsoft.com/en-us/uwp/toolkits/winui/ we have this statement

**The library also contains updated versions of existing Windows platform controls that you can use with earlier versions of Windows 10.**

But when I add the xaml namespace **xmlns:controls="using:Microsoft.UI.Xaml.Controls"** to my project, the namespace doesnt include standard controls like 'button' o

[2019-11-24 17:33] shaheedmalik commented on #1669
That seems like a bug.

[2019-11-24 20:41] chingucoding commented on #1670
The way this works is the following:

Windows has some build in controls (such as buttons, textblock,...) whose behavior and "logic" comes from the operating system. However the template of those controls can be overridden, by defining a new template in the App.xaml. When installing the WinUI nuget package, you need to add the following lines to the App.xaml
[code]

By adding this line to your App

[2019-11-24 21:39] deanchalk commented on #1670
Thanks a lot for that clarification. This means therefore that an app that target version 2.x will need to be refactored for 3.x as you will be using controls from the wrong namespace.

[2019-11-24 21:49] chingucoding commented on #1670
Yes, unfortunately you will need to refactor your app. However, this should mostly only result in just changing "Windows.UI.Xaml.Controls" to "Microsoft.UI.Xaml.Controls".

With the release of the WinUI 3.0 Alpha, the XAML Controls Gallery was also "ported" to WinUI 3.0 Alpha. While the Alpha does fall short on some areas, a lot was already implemented. If you want to check out what had to be chan

[2019-11-24 22:17] chingucoding commented on #1447
From my understanding, the fix for VirtualizingLayouts is relying on `VirtualizingLayout::OnItemsChangedCore` which is only available for VirtualizingLayouts.

@ranjeshj, @StephenLPeters Do you have any idea what might help in that situation? 😅

[2019-11-24 22:49] StephenLPeters commented on #1447
I have a fix for this, ill push a PR tomorrow probably.

[2019-11-25 07:53] arieradle commented on #1586
Well actually, I would like to refrain from referencing any UI framework in my code. It's a huge overkill.

All I need is a simple nuget, similar to Portable.XAML, where I can load object graphs, defined in XAML. That's the whole purpose of the suggested feature - simply split some basic XAML functionality into a separate nuget - `System.XAML.Base` - and ship it publicly.

[2019-11-25 08:40] deanchalk commented on #1670
OK, Im still confused.

1) The default 'Button' control sty;e (for example) is exactly the same (in Generic.xaml) between standard UWP button, Winui 2.x and Winui 3 alpha, so the WinUI project is offering nothing so far for changes or improvements to the standard UWP control collection.
2) The XAML Control Gallery (where there is a Winui3alpha branch to showcase winui3) still references standard U

[2019-11-25 08:51] weitzhandler commented on #1586
That's what Uno does. The UWP head remains untouched.

[2019-11-25 09:55] chingucoding commented on #1670
I think the first goal of WinUI 3.0 (and the alpha) is to port existing types from build in windows controls into the WinUI repository and nuget package. After that a lot of improvements can be made, however getting there is probably difficult.

Regarding your questions:

1. I think the reason, why the default button style is exactly the same between those three may be because there were no change

[2019-11-25 09:56] Holo-Krzysztof commented on #1612
I just tried, and I'm not quite sure how to do that since there is no concrete type I can set on DataTemplate's `x:DataType`.

If there was a way to just get the boxed value the container returns I think I could use function bindings to cast from `IInspectable` to `IKeyValuePair` and retrieve the data I want, but `x:Object` as data type is not supported in UWP XAML.

Is there a way to tell the Dat

[2019-11-25 10:08] arieradle commented on #1586
I don't understand why UNO team should really work on this.
Basic XAML should be a standalone component, not a part of any kind of framework or infrastructure. Same as YAML, XML, JSON parsers and DOMs.

[2019-11-25 11:56] Felix-Dev commented on #1670
As @chingucoding said, currently, WinUI 3.0 Alpha is still developed in private. The WinUI team stated though that it is hard at work at open-sourcing the development of WinUI 3.0 so you can expect the source to be made publicly available *before* the release of WinUI 3.0. The team will perhaps announce more information in one of their upcomming Community Calls, you might want to check out [the ne

[2019-11-25 13:26] deanchalk commented on #1670
@chingucoding - thanks for the reply, I really appreciate it.

Regarding point 2 - if you look at the source for the XAML Control Gallery (Winui3alpha branch) you will see that, for example, the 'Button' demo page references the standard UWP button rather than any button included in the winui package. This is the same for all of the controls that already belong inside UWP - they are referencing th

[2019-11-25 13:27] deanchalk commented on #1670
@Felix-Dev - thanks very much for the clarificatio

Dean

[2019-11-25 15:56] #1666 closed

[2019-11-25 16:47] chingucoding commented on #1670
Yes, they do not explicitly declare that those are WinUI controls. If you look at the generated files (e.g. ButtonPage.g.cs) you can see that those are all controls from Microsoft.UI.Xaml.Controls.

WinUI 3.0 automatically overwrites the Windows SDK's controls , so the XAML compiler will choose the WinUI controls instead of the Windows SDK.

[2019-11-25 17:08] StephenLPeters opened #1671 "ItemsRepeater.GetElementIndex does not check for ownership"
ItemsRepeater should check that it owns an element before returning the index stored in the VirtualizationInfo attached property.  If the repeater doesn't own the element it should return -1 for the index.

[2019-11-25 18:15] jevansaks commented on #1612
I'm going to reopen this issue just so that @danzil sees this discussion when he gets back. :)

[2019-11-25 18:22] deanchalk commented on #1670
@chingucoding - Ahhhhh, that makes complete sense. Thanks so much for that insight.
I think all of my questions are now answered - thanks so much

Dean

[2019-11-25 18:23] chingucoding commented on #1670
Happy I could help you :)

[2019-11-25 18:27] #1670 closed

[2019-11-25 18:40] kmgallahan commented on #1651
This should probably be addressed:

https://blogs.windows.com/windowsdeveloper/2019/11/25/developing-for-the-new-category-of-dual-screen-devices-built-for-mobile-productivity/

The excitement for this new device category creates a great opportunity for developers to innovate and reach new customers – enabling them to be more productive and engaged while on-the-go. We are in the process of identify

[2019-11-25 18:45] mdtauk commented on #1651
While some value being able to deliver a UI that adapts to the target platform's UI - and others are happy to develop web apps - There is a group who want to develop one app, with one UI, that looks the same on all platforms.

Windows developers who bet on dotNET and investments in Windows Apps - could expand their audience if they can develop once, and run everywhere.

WinUI being extracted from

[2019-11-25 18:49] robloo opened #1672 "Proposal: New Grid ColumnDefinition and RowDefinition Constructors"
# Proposal: New ColumnDefinition and RowDefinition Constructors

I've often wondered why the constructors for ColumnDefinition and RowDefinition don't have an overloaded constructor that allows passing a GridLength directly. Adding this would potentially simplify a lot of code. I know this doesn't matter in pure MVVM, but when you have to do code-behind it would be quite helpful.

## Summary

Befo

[2019-11-25 19:00] danzil commented on #1612
@Holo-Krzysztof there's currently no way to pass the "item" to a function binding in the same scope. Nor there is a way to pass a generic type into x:DataType. The only way to make this work is if the items in the collection you set in ItemsSource are castable to a non generic type that you can pass into x:DataType. We have a work item to add support for accessing "item" in function binding parame

[2019-11-25 19:04] chingucoding commented on #1672
You can already do the following, which is almost like your proposal:
[code]

Instead to make it easier, maybe the following would be even more convenient:

[code]

However this may be a bit unclean dependency wise, so I understand if this might not be the right way.

[2019-11-25 19:09] chingucoding commented on #1659
This would also make sense. Maybe color swatches could have a DisplayMode with values "Hidden", "Inline" and "Tab".

[2019-11-25 19:10] robloo commented on #1672
Yes, object initializers are always nice! I don't believe they exist in the C++ world for example though.

And it's a good idea to take the arguments from GridLength and also expose them in the Column/RowDefinition directly!

[2019-11-25 19:11] chingucoding commented on #1637
I agree, that the second option is not optimal. Maybe #3 is the best solution. I think this should be an option for the developer to choose, what is suitable for them.

[2019-11-25 19:14] jevansaks commented on #1668
Yes, that's correct for where we're at with WinUI 3. We'd love your feedback on the threads that @kmgallahan linked. Especially if you have ideas about how to make this easier for scenarios like this. :)

[2019-11-25 19:14] #1668 closed

[2019-11-25 19:16] mdtauk commented on #1637
Things like HSV or HSB, and even CMYK - could use the Initials, but if this is the case, could the full word still appear with a Tooltip when hovering over the TextBox or the Header?

And is there any thought about using NumberBoxes for these controls?

[2019-11-25 19:18] jevansaks commented on #1672
I think this is covered by #673?

[2019-11-25 19:21] chingucoding commented on #1672
Oh yes forgot about that. The creation of columns and rows should not be so "complicated" regardless of the language used!

I think #673 only covers the XAML part. Maybe it is better to keep code behind and the XAML separated when discussing "API" changes?

[2019-11-25 19:22] robloo commented on #1672
@jevansaks, @chingucoding Yes, #673 only applies to XAML (which is more important BTW!).

[2019-11-25 19:24] chingucoding commented on #1637
Yes, that is a brilliant idea! The R,G,B and Opacity textbox should be replaced with NumberBoxes.

[2019-11-25 20:27] StephenLPeters opened #1674 "RadioButtons SelectedItem isn't settable with data types"
When RadioButtons uses a c++ collection, like when the items are defined via the Items property, we cannot set the selected item via the SelectedItem api if the item is a data object because the collection compares different boxes of the same data object.

We should find a way to have the collection, or repeater, compare the data values when the boxes don't match.

[2019-11-25 22:55] anawishnoff commented on #1672
As stated above, yes - #673 just deals with the XAML side of things. However, I'm always interested in an issue that leads us to shorter code and improved developer efficiency! This seems like a good match to #673 as it extends its motive into the code-behind.

In response to this point:

We want to make sure we're keeping all of our Windows devs in the loop regardless of the language/platform the

[2019-11-26 03:12] hippieZhou commented on #1446
@dpaulino ,I still have this issue when updated.

![Snipaste_2019-11-26_11-10-16](https://user-images.githubusercontent.com/13598361/69596459-9d84d880-103d-11ea-9247-954ae4dc5371.png)

![Snipaste_2019-11-26_11-08-31](https://user-images.githubusercontent.com/13598361/69596465-9fe73280-103d-11ea-9efe-0b1791b725b3.png)

[2019-11-26 03:15] dpaulino commented on #1446
@hippieZhou Are you seeing the error in the local Windows App Certification Kit (WACK) tool or are you seeing the error from the Dev Centre Portal after submitting your app package?

If you are seeing the error in the local WACK tool, then you can ignore the error. The WACK tool does not have the bugfix, but the Dev Centre Portal DOES have the bugfix.

[2019-11-26 03:23] hippieZhou commented on #1446
@dpaoliello ,thanks for your help. I'm trying to submit it to the Dev Center.

[2019-11-26 06:42] sharpninja commented on #1399
Will NavigationView be expanded to allow for two Frames which can be oriented side-to-side or top-and-bottom by the developer (and swap as the device is rotated)  It would be good for a NavigationView to treat both displays individually while also being able to apply a menu or command bar(s) across the top as a single app spanning both displays.

[2019-11-26 11:08] jasonwurzel commented on #927
Hi, why was this closed? The solution posted in [microsoft/Win2D#660](https://github.com/microsoft/Win2D/issues/660) talks about using Win2D in XamlIslands, if I'm not mistaken (was my colleague that posted the XamlIsland Sample ;-) ). This issue here explicitly asks for using win2d without XamlIslands.

[2019-11-26 12:59] jtorjo commented on #927
I'm not sure why it was closed, as I said in another thread, I assume this may work on WinUI3.0, the question would be "when".

[2019-11-26 15:17] robloo commented on #1672
I'm fine if that's the only change that makes it in. I think we all understand it breaks a few concepts having the constructor parameters from GridLength within a Column/RowDefinition directly. One might normally not expect that from a class design standpoint. That said, it's so obvious that a Column must have a width and a Row must have a height that there could be some debate like we are having.

[2019-11-26 15:27] robloo commented on #1637
@mdtauk, @chingucoding Using the NumberBox in the ColorPicker was one of the original design goals.

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-500140203

I know @SavoySchuler discussed this at Microsoft internally:

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-500618794

[2019-11-26 16:17] robloo commented on #483
@SavoySchuler Some comments on the spec/NumberBox code so far. Hopefully, comments to this can end up in the spec/documentation too. Overall, it's great to see this coming together!

## StepFrequency

Using the word 'Frequency' here just doesn't sit right with me. In the Slider control TickFrequency makes sense because the ticks are calculated and shown on a modulus of the overall max-min range. H

[2019-11-26 17:05] mdtauk commented on #483
A quick thought.  Should there be an **Angle Mode** which would append the degree glyph to the value (and any logic for the 360° wrap around)
# °

Or would this appendage be better handled in the future with my Suffix proposal for the TextBox #784

[2019-11-26 17:13] robloo commented on #483
@mdtauk, Adding the degree symbol would be possible with an INumberFormatter2 -- that's another good reason this needs to be kept generic. You can do whatever is necessary to convert a number to a string and pass the string back to the control.

For wrapping, actually that's what the IsWrapEnabled property is for... I need to read the end of the documentation next time.

Bottom line I think we can

[2019-11-26 17:18] jdsemma commented on #716
Reregistering the Microsoft.UI.Xaml.2.0 and 2.1 packages in a logon script is working for our users on mandatory profiles under 1903. We were only seeing the crashes with Photos and Paint3D, but also hadn't tried checking every UWP app out there. Will be glad to see the fixes appear in an update!

[2019-11-26 17:24] mdtauk commented on #483
I know the Min, Max, Wrap, handles it, but are Degrees common enough to have an explicit Angle mode for the box?  And should it display the symbol in the TextBox Text, while the internal Value is just the number.

[2019-11-26 17:40] mdtauk commented on #1637
Good memory recall @robloo

If the Suffix/Prefix feature for the TextBox is accepted #784  They could be used to further minify the ColorPicker

![image](https://user-images.githubusercontent.com/7389110/69658301-d63fa480-1073-11ea-85c2-667942e6ca0d.png)

[2019-11-26 18:27] jevansaks commented on #927
I'll reopen just so that the Rendering folks see this.

[2019-11-26 18:53] mdtauk commented on #483
Looking at the new Compact SpinButtonMode, would it be possible to add a show and hide animation to the overlayed Spin Buttons?

Also have you considered adding Acrylic to this, to better match ComboBoxes and other form fields with flyout elements?

[2019-11-26 18:56] Kinnara opened #1678 "RadioButtons SelectedIndex doesn't work properly"
**Describe the bug**
[code]
The result is no item is selected.

**Expected behavior**
The "Green" item is selected.

**Version Info**
NuGet package version:
2.3.191125001-prerelease

| Windows 10 version                  | Saw the problem? |
| :--------------------------------- | :-------------------- |
| Insider Build (xxxxx)              |    |
| May 2019 Update (18362)            | Yes   |
| Oc

[2019-11-26 19:37] robloo opened #1679 "Proposal: Allow Multiple ContentDialogs to be Open"
# Proposal: Allow Multiple ContentDialogs to be Open

As stated, allow multiple content dialogs to be displayed on top of each other (like classic Windows allows) and make it the responsibility of the App to manage them correctly.

## Summary

There are some cases where multiple content dialogs are almost unavoidable (See rationale below). However, if you try to show more than one the app crashes

[2019-11-26 19:47] SavoySchuler commented on #483
@adrientetar for sure. When NumberBox is empty, `Value` will be set to NaN (as you have requested) and `PlaceholderText` will show.

[2019-11-26 20:15] SavoySchuler commented on #483
I have shared this feedback with @MikeHillberg and we are talking about it now. To be self-documenting among all the other properties here, we're considering something along the lines of "SpinButtonStep" should this reasoning be justification enough to deviate. I'll let you know. Thanks for raising the point!

The user can enter any numerically or legally formulaic input they like. See the formatt

[2019-11-26 20:22] SavoySchuler commented on #483
@mdtauk

So far, NumberBox does not support display of any non-numeric characters (as even formulaic characters are removed on evaluation of expressions).

I think your proposal for #784 is by far the most comprehensive for our platform. If that proposal does not get acted upon, it strikes me as an appropriate V2 feature NumberBox as a fallback.

We're already planning on a V2 to release alongside

[2019-11-26 20:33] jevansaks commented on #483
I see that StepFrequency is what Slider uses, so I think we were trying to be consistent with that terminology. Don't forget that it isn't just for spin buttons but also for the dragging and UIAutomation provider change values.

[2019-11-26 20:39] SavoySchuler commented on #483
@robloo and @mdtauk, I should have read further into the thread before replying about °. I do not believe it is currently supported to have this symbol show inside `Text` as NumberBox keeps `Text` and `Value` tightly in sync so for the purpose of allowing you as developers can grab which ever type you need without the overhead of conversion. I didn't see a way to achieve this through the formattin

[2019-11-26 22:18] SavoySchuler commented on #483
@adrientetar, scroll-to-change made it in for V1 but drag-to-change was delayed to V2. As we're still looking to complete those features, we have not yet made it around to discussing your request that Shift+Up/Down step in unites of 10 and Ctrl+Shift+Up/Down step in units of 100.

Could you give me more context on the scenarios you would use this feature in? How do your users know this is availabl

[2019-11-26 22:43] kwiqniss commented on #1465
Linking to duplicate post in Microsoft Q&A.
https://docs.microsoft.com/answers/questions/608/please-either-allow-systemio-all-over-hdd-or-drast.html

[2019-11-26 22:48] jtorjo commented on #1465
@kwilkins Right, just please know that the original request is still unanswered correctly. At this time, there is no solution for this.  If you look at answers in Microsoft Q&A ,you'll see that they both missed the point :(

[2019-11-26 23:17] RBrid opened #1681 "Proposal: Have MUX ScrollBar implement IScrollController and move interface from MUXC to MUX"
# Proposal: Have the MUX ScrollBar implement IScrollController and move that interface from MUXC to MUX

## Summary
The ScrollingView (formerly MUXC ScrollViewer) control currently works with the WUX ScrollBar. It uses an internal implementation of IScrollController that works with that WUX ScrollBar.  In WinUI 3.0, the ScrollingView will work with the MUX ScrollBar instead. And instead of using a

[2019-11-26 23:51] robloo commented on #483
@SavoySchuler

Thanks a lot for your comments.

I like that terminology a lot, I missed that Slider has the StepFrequency property already though. Since that's the case it doesn't make sense to deviate from convention as @jevansaks stated.

Let's say the user enters "1 / 3" in the NumberBox. Is the following sequence then correct:
 - At loss of focus / enter the expression will be evaluated and th

[2019-11-26 23:58] robloo commented on #1637
@mdtauk I really, really like that design. I was also thinking of putting the abbreviations next to the text boxes but adding at a prefix like (especially if TextBox gets that implemented) that would take it to a whole new level!

As you stated earlier, that could be the VerticalCompact display mode as well. We could theoretically keep the standard Vertical option if people wanted it.

[2019-11-27 01:26] harvinders commented on #1651
Some questions for the call @jesbis

1. Can we expect monthly release cadence for the alpha/beta/preview releases?
2. When does the controls developed in WinUI 2.x moves to WinUI 3 releases? Are only released controls going to be in WinUI previews or in preview controls in WinUI2.x can also be expected to be in WinUI 3 previews?
3. Milestones, I understand the first priority is to open source WinU

[2019-11-27 03:26] mdtauk commented on #483
One should be a Larger increment, and the other should be smaller - similar to nudging selected areas/objects in Adobe apps

[2019-11-27 05:03] adrientetar commented on #483
It's great when you want to change a value with visual implications (for instance rotation of an object) but you're not sure how far you want to go. So it's good for visual design.

It's just a feature that modern tools have, e.g. Adobe XD, Framer...

I think it's good to have this when you're on a touch device, that's a convenient way, tap-drag, to tweak a given value (kinda like phone time choos

[2019-11-27 05:03] #886 closed

[2019-11-27 08:12] riverar commented on #1651
Potentially off-topic: Would like to hear how Win32/.NET apps can modernize with WinUI. We keep hearing it's the future but it's _still_ not possible to align an app's look and feel with Windows 10. Microsoft does not provide guidance/resources for Win32 or .NET app alignment, and WinUI + XAML Islands is insufficient due to airspace issues.

[2019-11-27 08:40] #1547 closed

[2019-11-27 08:52] riverar commented on #1247
Adding a data point, our app ([EarTrumpet](https://www.microsoft.com/en-us/p/eartrumpet/9nblggh516xp?activetab=pivot:overviewtab)) requires this functionality.

[2019-11-27 09:31] eugenegff commented on #483
RangeBase has properties SmallChange and LargeChange. We at BeLight Software in our version of NumericUpDown are derived from RangeBase and change value by SmallChange using ArrowUp and ArrowDown shortcuts, and by LargeChange using PageUp and PageDown shortcuts

[2019-11-27 10:29] DHitchenUK opened #1684 "Question: System.Windows.Window part of WinUI?"
WinUI is looking great and I'm looking forward to translating my WPF apps to use it.

One of the areas we struggle with is System.Windows.Window, specifically all the UWP goodness like control of the title bar, extending the UI into the chrome area.

**Will there be a Windows.UI.Xaml.Window with full control similar to UWP ?**

[2019-11-27 12:23] atrauzzi commented on #1651
I'd like to know if there is active work to ensure that all of this can be leveraged from react-native-windows.

[2019-11-27 12:28] mrlacey commented on #1679
That trying to open multiple dialogs causes a crash is a bug and should be treated as such.

I'm not convinced by the rationale for adding this.
- How does an app indicate the context of each dialog when multiple ones are shown? I'd expect having multiple dialogs open at once to be potentially confusing to the user and the developer/designer would likely need to do a lot of work to make sure this

[2019-11-27 14:16] yaichenbaum commented on #1679
I have a Notepad app that has a content dialog with a text box that lets the user goto a different line on the main editing text box. If that dialog is open and the user presses the close button on the app it will try to open a confirm dialog if there are unsaved changes. The second that second dialog comes up the app will crash because there is already an existing content dialog open.
In my case

[2019-11-27 14:56] zadjii-msft opened #1685 "Proposal: TabView should have a mode for locking tab dragging within the tab row"
# Proposal: TabView should have a mode for locking tab dragging within the tab row

## Summary

This is a proposal based on https://github.com/microsoft/terminal/issues/3734

We should add a setting to the TabView that enables drag reordering of tabs, but only within the tab row itself. For applications that don't support tab tear-out, but _do_ want to support tab reordering, this would possibly b

[2019-11-27 15:28] robloo commented on #1679
@mrlacey We could talk about application architecture endlessly but that would be a bit out of scope I think. However, since you are curious here is the full scenario:

 * User starts a search which runs in the backend (Here it is possible to press ‘Enter’ very rapidly in the frontend and schedule two searches one after the other. Yes, that could be changed/filtered but complexity goes up a lot co

[2019-11-27 16:04] robloo commented on #1684
Allowing multiple Windows in UWP now WinUI is something that I believe Microsoft promised back at Build 2018.

https://mspoweruser.com/microsoft-finally-makes-it-easier-to-create-multi-window-experiences-in-uwp-apps/

Take a look at `AppWindow` [Preview AppWindow Class Docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.windowmanagement.appwindow)

I believe this is coming in WinUI 3.0 now?

[2019-11-27 16:15] robloo commented on #1651
I will miss the call today; however, it would be nice to know how WinUI 3.0 is going to get migrated into the existing WinUI repository. Will controls just be pulled over one at a time like the ProgressBar?

NumberBox architecture for `Value` -> `Text` conversion seems like an issue in the V1 control. Developers need control of how the double value is converted to text and a good internal architec

[2019-11-27 16:36] DHitchenUK commented on #1684
I asked if this was coming to WPF, not UWP - we already have this in UWP as you mentioned.

[2019-11-27 17:23] shaheedmalik commented on #1684
The point is to move over to WinUI 3.

[2019-11-27 17:24] adrientetar commented on #1505
@teaP, it seems the NumberBox introduces 2 elements in the visual tree that receive focus

![image](https://user-images.githubusercontent.com/1250894/69745728-a639e500-10f7-11ea-9b21-38e4fbfcb9d0.png)

Here I see NumberBox get focus when tabbing and then InputBox as well. Shouldn't only NumberBox be in the tab focus order?

[2019-11-27 17:37] shaheedmalik commented on #1684
WinUI is the where everything is moving to.

[2019-11-27 17:49] #855 closed

[2019-11-27 18:02] atrauzzi commented on #1651
There a recording? :)

[2019-11-27 18:07] riverar commented on #1651
@atrauzzi Looks like Teams is saving it to file right now. Standby!

[2019-11-27 18:09] tbolon commented on #483
Just one remark regarding the keyboard keypad.

In most apps, the "." keypad button is still mapped to "." character, which is different from the decimal separator when using a non english language (for example "," in French).

Some apps (Excel is the most known about that) change this key behavior to reinterpret any key press on the keypad "." as a decimal separator input. It's more compatible wi

[2019-11-27 18:10] patware commented on #1651
Thanks again for this Community Call, great format and subject.  Two "technical notes" about the call:
1. The Microphone was picking up keyboard hits.
2. The screen had a label "Calling..." in the middle.

![image](https://user-images.githubusercontent.com/1571612/69748840-27ed3b00-1117-11ea-93ba-fa0cd71af226.png)

[2019-11-27 18:23] XamlBrewer opened #1686 "ContentDialog does not respect ContentDialogMaxWidth"
**Describe the bug**
From WinUI v2.3pre on, it looks like ContentDialog does not respect ContentDialogMaxWidth setting anymore. It stays a lot smaller than in v2.2.

**Steps to reproduce the bug**
Download an run the XamlFlix sample from https://github.com/XamlBrewer/UWP-ItemsRepeater-Sample.

Click on a movie and press any of the commands button to start the trailer. It looks like this:
![Content

[2019-11-27 18:34] patware opened #1687 "Discussion: Prezi-like 3D/Immersive Navigation View"
# Discussion: Prezi-like 3D/Immersive Navigation View

https://prezi.com/ blew my mind with a new way of doing presentations - in a 3D/Immersive manner.  Would such a 3D/immersive View Navigation make sense in a rich client world ?

## Related Links
[Prezi](https://prezi.com/)

[2019-11-27 18:39] jevansaks commented on #1169
Feature is done but leaving open for @yulikl to follow up on animation values.

[2019-11-27 18:39] #333 closed

[2019-11-27 19:00] jevansaks commented on #1686
Thanks for reporting @XamlBrewer! @kaiguo said he could take a look.

[2019-11-27 19:02] jevansaks commented on #1505
Thanks for letting us know @adrientetar, do you mind opening this as a new issue just so we don't lose it?

[2019-11-27 19:06] jevansaks commented on #1505
That is standard TextBox behavior and not something NumberBox is doing. I think it might be intentional. You might have seen it because you were trying the "hyper scrolling" feature which we ended up cutting from the 2.3 release.

I tried this in the test app and I don't see this. Only one thing is getting visited by Tab when I tab through the page. Can you share a repro app?

I see this, it's bec

[2019-11-27 19:07] Kinnara commented on #1684
There are some WPF libraries that implement the "ExtendViewIntoTitleBar" feature. Just to name a couple:

1. [ModernWpf](https://github.com/Kinnara/ModernWpf) (disclaimer: I'm the author)
2. [FluentWPF](https://github.com/sourcechord/FluentWPF)

[2019-11-27 19:16] chingucoding opened #1688 "Discussion: Apps/Resources for developers"
# Discussion: Apps/Resources for developers

The aim of this discussion is to compile a list of apps and resources, that are useful for WinUI/UWP developers.

Comment apps and resources you think are helpful, I will add them to this issue!

# Tools
## XAML Controls Gallery
Shows all of the XAML controls in an interactive format. This app is the interactive companion to the Fluent Design Guidelines

[2019-11-27 19:24] jevansaks commented on #1688
Thanks so much for putting this together, @chingucoding! We can help keep the description up-to-date as well as people post suggestions.

[2019-11-27 19:34] kaiguo commented on #1686
We had issues with app level resource overriding earlier, this might be related to #1486, which also assigned to me. This probably won't be a quick simple fix, I'll do some more investigation and update the thread when I have new findings.

[2019-11-27 20:05] Felix-Dev commented on #1688
@chingucoding Just a list of links for now, if you want you can flesh them out with pics (or update the descriptions which I just took from the corresponding github pages) like you've already done with the apps/resources above 😁 (If not, I could also do, but that would probably be tomorrow at earliest)

- [Universal Windows Platform (UWP) app samples](https://github.com/microsoft/Windows-universal

[2019-11-27 20:09] mrlacey commented on #1688
I feel I should also mention:

- [Windows Template Studio](https://marketplace.visualstudio.com/items?itemName=WASTeamAccount.WindowsTemplateStudio) - Accelerate the creation of new UWP apps using a wizard-based UI.

[2019-11-27 20:18] matthew4850 opened #1691 "Question: How do sticky groups stay at the top in listview"
I know that the RenderTransform is set on ListViewHeaderItem so that it stays at the top but that means it appears on top of the ListViewItems. I know this is solved by setting the clip of the ItemsControl but why does this not clip ListViewHeaderItem?

[2019-11-27 20:22] jesbis commented on #1651
Thanks again everyone who could make it!

Also a big special thanks to @sonnemaf for joining us to talk about his [NumberBox control](https://github.com/microsoft/microsoft-ui-xaml/issues/483) proposal and walking us through an example of porting an app to run on the WinUI 3 Alpha!

---

**The call recording is available here:**
https://1drv.ms/v/s!AiwORAw49JWcgfshJXoU3UvhWjZjeg?e=ulfPcY

We'll ho

[2019-11-27 21:12] chingucoding commented on #1688
Thank you @Felix-Dev and @mrlacey for your suggestions! I have updated the issue :)

[2019-11-27 21:14] #1678 closed

[2019-11-27 21:25] duke7553 commented on #1684
Hey guys. Glad to see I'm not the only one hoping for a UWP-Style Window control in WinUI. In case anyone is curious, I previously filed [a report](https://github.com/microsoft/microsoft-ui-xaml/issues/1215) asking about this where I received a response. Unifying the windows across all WinUI apps would improve consistency and help with other projects such as Windows Terminal where what appears to

[2019-11-27 21:33] mdtauk commented on #1684
It would be good to have some "proper" design resources, based around building core elements of an app, and showing how the Windows Shell of the future, and Inbox Apps which should be held up as exemplar for best practice - design and build those UI bits.

Common dialogs, Common navigation patterns, Common templates, etc.

There should be templates for adding common Content Dialogs, menus, flyouts

[2019-11-27 21:42] mdtauk commented on #1169
Glad to hear on the second community call, that some more polish is coming to the Progress Bar.

On a slightly related subject - will the Determinate ProgressRing make it into preview soon?

[2019-11-27 21:48] mdtauk commented on #1323
So CoreWindow will be contained within the UWP runtime, and WinUI Desktop will use the HWind interfaces.  What does this mean for C# development, and other managed runtime languages?  Will there be new APIs developed which offer the same CoreWindow experience (extend into title area, acrylic, window control re-colouring)?

[2019-11-27 22:05] jevansaks commented on #1684
Do I understand that the original question is about bringing CoreApplicationView capabilities to WPF's Window? I think such a question/discussion should be asked in the https://github.com/dotnet/wpf repo.

WinUI will be bringing its own top-level Window abstraction for the WinUI Desktop scenario and, where possible, it will do the things that you could do in UWP for drawing in the title bar. What

[2019-11-27 22:06] jevansaks commented on #1169
Yes! It's in PR now, will be one of the first things you'll see in 2.4 prerelease.

[2019-11-27 23:14] mdtauk commented on #1505
Assuming the default CornerRadius is set properly, here is the current styling in Light and Dark themes, as well as with different backgrounds

![image](https://user-images.githubusercontent.com/7389110/69765381-8b08bd00-116b-11ea-8d09-85c1b46ed451.png)

The compact flyout is visibly lost in the Dark Theme - using Acrylic for this flyout would be one way to solve it, as well as adding borders to t

[2019-11-27 23:20] Felix-Dev commented on #1688
How do we want to proceed further with this issue?
- Would it have a chance of being stickied and as suggested, be monitored for relevance (i.e. new tools/samples, samples listed now which will be outdated in the future,...).
- Would it make sense to incorporate this issue - or parts of it - into the official UWP documentation? For example the [UWP app sample section](https://developer.microsoft.c

[2019-11-28 03:28] harvinders opened #1694 "NumberBox visuals seems broken on 1803"
**Describe the bug**

The visuals for NumberBox in 1803 are not looking like the proposal or the demo

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a simple UWP project and add following
[code]
2. Run the app on 1803.

**Screenshots**

![image](https://user-images.githubusercontent.com/8557046/69770961-18392980-11df-11ea-8801-ec06df9236f5.png)

**Version Info**

NuGet

[2019-11-28 04:12] mdtauk commented on #1694
Do you happen to have shadows turned off?

[2019-11-28 04:35] mdtauk commented on #1659
Posting this by way of an example of another Fluent based UI kit from Microsoft doing Color Picking and Swatches...

![Fabric Web - Color Pickers](https://user-images.githubusercontent.com/7389110/69777501-7b539d80-1198-11ea-8890-4f5099f65c78.png)

[2019-11-28 05:00] harvinders commented on #1694
1803 don't have shadows, I believe.
Also note the non-rounded corners for `Inline` and `Compact`.

Even selection highlight is different for `Compact`. It should be like
![image](https://user-images.githubusercontent.com/8557046/69778371-29426480-11f8-11ea-81c3-33a6699af2e4.png)

[2019-11-28 05:03] mdtauk commented on #1694
So I am guessing the conditional XAML is not yet in place, or not working correctly.
@teaP @SavoySchuler

[2019-11-28 07:11] Kinnara opened #1695 "RadioButtons grows wider than its parent container"
**Describe the bug**
[code]
![image](https://user-images.githubusercontent.com/1617766/69784405-ac5fbc80-11f0-11ea-9465-da53dd2854de.png)
As the image shows, RadioButtons shows 3 columns and gets clipped.

**Expected behavior**
RadioButtons shows 2 columns.

**Version Info**
NuGet package version:
2.3.191127001-prerelease

| Windows 10 version                  | Saw the problem? |
| :-------------

[2019-11-28 07:17] MartinZikmund opened #1696 "Scale qualifiers do not work with XAML"
**Describe the bug**

I have encountered a question on Stack Overflow, where the OP was trying to apply `scale` qualifiers to XAML files. The expectation was that it should function the same way as in the case of device family-specific qualifier. Unfortunately, that was not the case.

This might be intended behavior, as display scaling might change anytime, but in such case, we should probably [no

[2019-11-28 08:13] StefanKoell commented on #1651
The call recording isn't working anymore: "The person sharing the video exceeded the sharing limits"

Can you provide this video as a download somewhere?

Thanks!

[2019-11-28 14:40] jtorjo opened #1697 "Discussion: WinUI - how will it bridge UWP and WPF?"
# Discussion: WinUI - how will it bridge UWP and WPF?

I know that on WinUI 3.0, we'll be able to use WinUI3.0 controls from both UWP and WPF apps.

My questions are:
1. How will this work, since as far as I know WPF is based on DirectX9 and UWP is based on DirectX11. Those are very huuge differences, and if you won't port WPF to DX11, how will this work?

2. We can load bitmaps in WPF pretty much

[2019-11-28 16:03] jtorjo commented on #1651
Hi guys: just to understand - can anyone participate, do you need to fill anything ?
I would certainly like to participate in the next call if it's allowed.

[2019-11-28 16:42] Felix-Dev commented on #1651
@jtorjo
![image](https://user-images.githubusercontent.com/1398851/69822284-45e59900-1206-11ea-884d-21b00576b647.png)

You only need a MS Teams account. Nothing else required.

[2019-11-28 16:45] shaheedmalik commented on #1651
You don't even need a Teams account. Guess login via web.

[2019-11-28 17:10] Felix-Dev commented on #1651
Indeed! Just checked it and you don't even need an account as Shaheed said.

[2019-11-28 17:20] jtorjo commented on #1651
@Felix-Dev @shaheedmalik Thanks guys, that's what I wanted to know :)

[2019-11-28 17:28] deanchalk commented on #1651
me too - thanks

[2019-11-28 21:30] lukasf opened #1698 "MediaTransportControls show non-localized tooltips without a way to override them"
**Describe the bug**
The MediaTransportControls contain tooltips for all of the buttons inside the control. However, these tooltips are not localized. So even if my OS and app language is German, I still see English tooltips.

The tooltips are not set in the control template, they are somehow set by the control itself in a hidden, non-overridable way. Some buttons change their tooltip as state cha

[2019-11-28 23:02] riverar commented on #1651
Here's a mirror for folks having trouble: https://www.youtube.com/watch?v=e4C3jAMpUX8

[2019-11-29 05:58] meteorsnows commented on #1461
My perspective:

Microsoft: Can develop a minimum Webview2 (Similar to [Carlo)](https://github.com/GoogleChromeLabs/carlo) that can disable almost all feature and reduce to only event binding to HTML UI...possible all others are developing in C#/native.

Microsoft: Can power off one ram of 8/32gb of those who had 4x 8gb/ 4x 32gb...Saving a lot of energy.

To do this, we get rid dozen of app that d

[2019-11-29 09:01] hupo376787 opened #1699 "Question: Memory control on setting ItemsRepeater's VerticalCacheLength control"
Hi, I'm designing an app like NetFlix's home page, and using `ItemsRepeater`.

As I has many horizontal repeaters(20+) in an vertical repeater, like the pic shows.
![image](https://user-images.githubusercontent.com/14960168/69856670-2499b100-12c9-11ea-803b-121f309a2468.png)

If I set `VerticalCacheLength` to 30, scroll up and down several times, the app's memory is about 200M all the time.
![image

[2019-11-29 10:09] eugenegff commented on #1679
User attention is a resource, and as always, exclusive access to resource should be queued.

That is especially true when current user activity contains asynchronous continuations, like in chain like 'Ctrl + S shortcut' => FileSaveDialog.ShowAsync => StorageFile.WriteAsync => 'HideModifiedMark or ShowError'. Any background activity should queue attempt to access user till the current and all previ

[2019-11-29 18:08] michaelosthege commented on #562
What a ride 😲.
After an hour of testing autoscroll behaviors from StackOverflow (they were all using outdated UWP APIs) I was excited to learn about `VerticalAnchorRatio` and re-targeted my app to 1809 😃

Then this bug.. Again back to the attached properties, but in the end I gave up on them 🤧, set the `x:Name` and used this extension method:

[code]

[2019-11-30 08:15] Strypper commented on #1627
Seriously you guys gonna ignore this ? all of the High Resolution laptop in my office are really suffer from Frames Drop and Freezing. All of them are WinRT app. Win32 don't have issue

[2019-11-30 11:11] jtorjo opened #1700 "Question: where to place winrt/uwp questions?"
WPF has its own repository on github. Toolkit - same. WinUI - same.

Winrt / UWP - not so much.
It's really weird that Microsoft wants us (or does it?) to use UWP , but there's no place to ask questions about it.

No, stackoverflow is not the place to ask advanced questions about winrt/uwp.
No, Feedback Hub is not the place to ask questions about winrt/uwp - not sure if anyone reads it.
No, the ne

[2019-11-30 12:51] Felix-Dev commented on #1700
WinUI is based on the UWP UIs APIs so any development you are currently seeing in this repo is still "UWP development". It's just decoupled from the rest of the UWP APIs.
With every Windows 10 SDK release, the Windows Runtime will get new and improved APIs. Those SDK releases might not contain the changes you want to see but the Windows Runtime is clearly in active development.

As to where to lis

[2019-11-30 16:01] chingucoding commented on #1649
You might want to look the Accessibility Insights extension for the Microsoft Edge Beta for inspiration, which already has this feature:

![Screenshot of tab order of GitHub page microsoft-ui-xaml](https://user-images.githubusercontent.com/16122379/69902881-cc2ee600-1392-11ea-8f95-08dc37868ea0.png)
_Tab order visualized for the WinUI GitHub page_

[2019-11-30 17:10] duke7553 commented on #1332
### TabView Unintended ListView Behavior
@stmoy In my app scenario, we have an ObservableCollection containing InstanceTabItem class objects which each contain a property for the Content. This collection is binded to the TabItemsSource property. The Content property contains a Frame that becomes the content of the TabView ContentPresenter. However, I noticed that closing each TabViewItem won't rel

[2019-11-30 17:15] robloo commented on #1697
As I understand it, WPF can only use WinUI 3.0 with XAML Islands. You will have to host WinUI 3.0 controls inside a WPF window. This is just like you would host WPF in WinForms historically. How that works from a technical standpoint (DirectX versions) I have no idea. Disclaimer, this is now just guessing: You also probably won't be using WinUI 3.0 file dialogs for file pickers and things in WPF s

[2019-11-30 17:20] robloo commented on #1679
@eugenegff I agree with everything you said and that is certainly the best way of handling it. Implementing a queuing system would be a lot easier if there was an 'IsContentDialogOpen' API some place in the platform though. Otherwise developers have to write extra code to manage this themselves.

The app also should be able to make a judgement call of whether to close an existing ContentDialog and

[2019-11-30 18:00] jtorjo commented on #1700
I understand, but what useful stuff has happened there (in WinRT)? For us developers, that is?
How is Microsoft listening for our voice, if there's pretty much no place for us to actually have one?

**I simply don't understand how I can implement any bitmap caching strategy, with the crappy API that comes from WinRT.**

Got it, thanks!

Agree 100% about the WinUI team - it is doing an awesome job!

[2019-11-30 18:12] jtorjo commented on #1697
I was quite curious, because I simply need win2d - as long as that internally uses the "great" StorageFile and the like, we're back at square one.

Yeah, that will, for lack of a better word, suck.
I'm not sure who came up with the great UWP app model, but that is beyond obsolete.

That would actually be interesting to see. In other words, I'm dealing right now with SoftwareBitmap in UWP , and the

[2019-11-30 22:22] rbwhitaker commented on #1372
I had this happen with the XAML Controls Gallery. It is clipping some of the text, but not the first time it comes up. Only subsequent opens. When I restart the app, it works again the initial time, and fails afterwards.

![image](https://user-images.githubusercontent.com/3482875/69906723-0db89480-1385-11ea-88c7-2658ce58b22a.png)

[2019-12-01 02:18] zhuxb711 commented on #1372
Same as @rbwhitaker
![image](https://user-images.githubusercontent.com/42038175/69908414-e369e400-1423-11ea-87a9-41305712839a.png)

[2019-12-01 09:05] jp-weber commented on #1372
With the newer preview versions I don't have any problems anymore.

[2019-12-02 02:09] DRAirey1 commented on #1632
I can confirm that the problem is related to the configuration names.  If I take a virgin project and create a configuration called 'Local', it breaks with the message in the original post.

[2019-12-02 07:12] Gavin-Williams commented on #1700
"[winrt] Loading bitmaps only on the main thread" - Maybe this is true for some particular bitmap functions. But you can use SharpDX.WIC to load bitmaps on any thread. DirectX allows resource creation on any thread. Except if you need to do any ImmediateContext work such as for constructing a texture array, you'll have to do that work on your rendering thread.

[2019-12-02 07:38] jtorjo commented on #1700
Please give me ONE bitmap class where the above it not true.

Clearly, DirectX allows resource creation on any thread - unlike the "great" winrt. I don't see any possible way to load a bitmap that I would then use with win2d, other than on the main thread. If you know of a way, please share it.

(side-note: the only "shortcut" that I had found was to use DDS files - but in my tests, DDS files trim

[2019-12-02 09:38] Gavin-Williams commented on #1700
I'll try to put something together for you and make sure it's actually possible to get it into Win2d.

And a note on DDS, I used to use that format all the time, and you can have uncompressed DDS which looks as good as bitmaps. These days I use PNG's because of there not being even basic support in Windows (like viewing DDS and and icon generation in Explorer) - And I'm aware of the NVidia plugins

[2019-12-02 09:53] ad1Dima commented on #1477
FYI: Updated #1497 based on your PR
https://github.com/ad1Dima/microsoft-ui-xaml/tree/user/ad1Dima/NavigationView_BottomMenuItems_repeaterbased

[2019-12-02 10:14] Zyrhine opened #1701 "TreeView missing children when returning to previous ItemSource"
**Describe the bug**
Populating the collection that ItemSource is set to, with the items from a collection that the TreeView had displayed previously (i.e. in the event the user decides to return to the data set they were looking at before) all child nodes are then missing in the TreeView.

Potentially related issue: #523

**Steps to reproduce the bug**
An example of code that reproduces the bug c

[2019-12-02 10:31] jtorjo commented on #1700
Thanks, look forward to it! I only hope it's actually possible!

In my testing, the work decent only if loading from the main thread. Long story short, I tried using that, and if you don't do it from the main thread, the time penalty is obscene - I would wait like 5-6 SECONDS for a bitmap to load.

Yeah, DDS is a weird beast. Uncompressed DDS is worse than PNG - basically, I use 1280x720 files - P

[2019-12-02 13:20] vgromfeld opened #1702 "NavigationView is opening the left pane when leaving LeftMinimal display mode"
**Describe the bug**
When changing the `NavigationView` display mode from `LeftMinimal` to `LeftCompact` the pane is opened.

**Steps to reproduce the bug**
1. Add a `NavigationView` in an app.
2. Set its display mode to `LeftMinimal`
3. On some condition, change the display mode to `LeftCompact`
4. The left pane is opening

**Expected behavior**
The left pane remains closed

**Screenshots**

**Ve

[2019-12-02 17:10] yaichenbaum commented on #1688
[Windows Composition Samples](https://www.microsoft.com/store/productId/9N1H8CZHBPXB)

[2019-12-02 17:29] kmahone commented on #1632
Thanks for the confirmation DRAirey1. I have made the fix for the Configuration problem in #1657 and the issue will be resolved in the next release of WinUI (2.3). Since Xamarin is currently using WinUI 2.1, this fix will not resolve the issue that you are seeing until Xamarin picks up the 2.3 release. You may want to create an issue on Xamarin's github that outlines your problem so that they pick

[2019-12-02 17:29] #1632 closed

[2019-12-02 17:31] jevansaks commented on #1627
Sorry, we've been on Thanksgiving holiday for the last few days. We'll need you to take some traces to diagnose further -- I've sent email to my colleagues and I'll get back to you.

[2019-12-02 17:32] DRAirey1 commented on #1632
I can also confirm that screwing with the .csproj file fixes this problem, but you need an entry for every configuration (in my experience, it's not uncommon to find "Production", and "Development" configurations as well).

[2019-12-02 17:33] kmahone commented on #1632
If you actually get rid of the Configuration tag entirely, you should be able to get away with only one entry per Architecture.

[2019-12-02 17:36] chingucoding commented on #1688
Thank you @yaichenbaum for this suggestion. I have updated the issue :)

[2019-12-02 19:15] jevansaks commented on #1679
We agree that multiple ContentDialogs should not cause a crash. There's additionally a bug in the platform today with XAML Islands where each island can't have a dialog open because the tracking of this state is per-thread.

[2019-12-02 19:17] jevansaks commented on #1681
@Rbrid assigned to you to pitch this.

[2019-12-02 19:17] #1684 closed

[2019-12-02 19:22] jevansaks commented on #1691
If you're trying to implement sticky headers yourself, you might take a look at [this doc page](https://docs.microsoft.com/en-us/windows/uwp/composition/scroll-input-animations). To answer the question of how this works specifically in ListView, I think the best would be to wait until WinUI 3.0 is open source and then take a look at that code. :)

[2019-12-02 19:22] #1691 closed

[2019-12-02 19:24] jevansaks commented on #1695
Great bug, @Kinnara! We'll take a look.

[2019-12-02 19:28] jevansaks commented on #1698
@lukasf can you share a repro app? Are you doing the thing where you set your app's language to the current system language?

https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/manage-language-and-region

[2019-12-02 19:42] matthew4850 commented on #1691
Yeah, hopefully this will be soon :)

[2019-12-02 20:01] jesbis opened #1704 "ProgressBar incorrectly runs transition animation when switching between paused and error states"
**Describe the bug**
Switching the new indeterminate ProgressBar from `IsError=True` to `ShowPaused=True` causes the thumb(?) to briefly appear and disappear.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open Xaml Controls Gallery using new progress UI
2. Toggle between Paused and Error states

**Expected behavior**
Since ProgressBar isn't visible in either Paused or Error

[2019-12-02 20:12] jesbis opened #1705 "NumberBox should correctly handle mousewheel events"
**Describe the bug**
When you spin a NumberBox using the MouseWheel, it doesn't set IsHandled on the event and it bubbles up to any parent ScrollViewer, resulting in the NumberBox value changing AND the parent form scrolling.

This makes the scrollwheel behavior unpredictable and can cause unintentional input or loss of user input in a scrolling form with one or more NumberBoxes.

**Steps to repro

[2019-12-02 20:24] chingucoding commented on #1705
I think it would be better to handle the event instead of disabling the mouse wheel support. In most cases having the mouse wheel support would be the better behavior. If the user can't scroll because the NumberBox is getting the scroll, I don't think this would be a large impact, especially since there are different ways to scroll for the user.

If it is okay, I would like to fix this @jevansaks

[2019-12-02 20:29] jesbis opened #1706 "NumberBox keyboard navigation requires 2 tabs"
**Describe the bug**
It takes two tab keystrokes to move focus in/out of a NumberBox, and in between the key events seem to bubble up to the parent.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add NumberBox to a page
2. Attempt to tab and shift-tab back and forth in and out of a NumberBox

**Expected behavior**
Keyboard focus navigation should be consistent with other cont

[2019-12-02 20:32] jesbis opened #1707 "NumberBox: down arrow key has inconsistent behavior"
**Describe the bug**
Two issues with down arrow key:

1. When caret is at position 0, the down arrow key doesn’t do anything (in contrast to up arrow key, which works as expected at position 0)

2. When caret is at (0 < position < EOS), the down arrow key moves the caret to EOS but doesn’t decrement the value (in contrast to up arrow key, which correctly does both operations)

**Steps to reproduce

[2019-12-02 20:38] jesbis opened #1708 "NumberBox shouldn't default to "0" (especially if PlaceholderText is set)"
**Describe the bug**
NumberBox always defaults to showing "0" if a value isn't explicitly set.

**Steps to reproduce the bug**
1. Add NumberBox to a page, set PlaceholderText
2. Run app

**Expected behavior**
NumberBox should show PlaceholderText instead of "0" by default if no value is explicitly set.

Actually it should probably **never** default to 0 and should just stay unset/null?  Defaulting

[2019-12-02 20:41] jesbis opened #1709 "NumberBox spin buttons are clipped by edge of window"
**Describe the bug**
NumberBox spin buttons are clipped by edge of window.

**Expected behavior**
Spin buttons popup should probably either a) escape window bounds or b) reposition within the window bounds (similar to tooltip implementation)

**Screenshots**

![image](https://user-images.githubusercontent.com/16565497/69993549-e38be180-1500-11ea-9aba-8b22472045b8.png)

**Version Info**

NuGet pack

[2019-12-02 21:17] robloo commented on #1708
The default value should probably be double.NaN. When the value is double.NaN, Text should be an empty string and any PlaceholderText should be shown.

[2019-12-02 21:20] jevansaks commented on #1705
Sure @chingucoding! You got it.

[2019-12-02 22:03] MartinZikmund opened #1710 "Proposal: Allow changing NavigationViewItem Icon size"
# Proposal: Allow changing NavigationViewItem Icon size

## Summary

Currently, it is very hard to change the `NavigationViewItem`'s icon size. By default, it is measures only 16 effective pixels, which makes it hard for the icon to stand out if the developer needs more eye-grabbing navigation. Unfortunately the icon size is (as far as I am aware) hardcoded as part of the `NavigationViewItemPresen

[2019-12-03 00:04] mariorancic01 commented on #1651
Hi everybody,

does anybody have some sample of ItemsRepeater with Scroller or with
InteractionTracker.

Thx,

Mario

El mié., 27 de nov. de 2019 a la(s) 02:26, harvinders (
notifications@github.com) escribió:

--
Mario Rancic
Software Engineer
Microsoft Certified Professional

[2019-12-03 00:04] RBrid commented on #562
Thanks for the report @michaelosthege and sorry for the troubles. I am not sure how quickly we will be able to investigate this. In the meantime, I am concerned about the strict equality above, scroller.VerticalOffset == scroller.ScrollableHeight, because of rounding errors.
The ScrollViewer uses a 0.1px tolerance, so it would become something like:
`
    _autoScroll = scroller.ScrollableHeight -

[2019-12-03 06:12] theultramage opened #1712 "Windows.UI.Xaml.dll crash at startup for all ms store apps"
I have found that all builtin apps (even Calculator) crash at startup after briefly showing a blank window. This started happening on one newly created user account on one of three newly purchased HP desktops, a day after I finished configuring it and installing everything. My Administrator account on the same PC runs them fine. The other two PCs also don't have this issue. OS is Windows 10 Pro x6

[2019-12-03 08:52] Strypper commented on #1627
If you want more evidence I will upload more of Surface devices to show you
I've been dig in and see what XAML element cause this and the Answer are

- GridView
- Acrylic

I thought I didn't applying it right but then I notice many big UWP app on the store all have the same issue

- This is my app https://github.com/Strypper/OClubs
- Awesome Tube
- Microsoft Edge

[2019-12-03 17:27] #1416 closed

[2019-12-03 18:22] jevansaks commented on #716
Once they are uninstalled then they will get re-installed by the installation of a dependent app that uses them.

[2019-12-03 18:23] lukasf commented on #1698
I am sorry, this was my fault. As soon as I added other localized resources, the tooltips also came up localized. So it seems that we need to have at least one localized resource for a language, then the tooltips will also come up in that language.

[2019-12-03 18:23] #1698 closed

[2019-12-03 18:23] jevansaks commented on #1712
Thanks for reporting and digging in. This sounds like #716? See this comment for some details about how you could remediate manually:

https://github.com/microsoft/microsoft-ui-xaml/issues/716#issuecomment-557703128

[2019-12-03 18:28] jevansaks commented on #1698
I'm not super familiar with this, but I could believe that the auto-language choosing logic relies on you having those resources available. You can also force it by setting [PrimaryLanguageOverride](https://docs.microsoft.com/en-us/uwp/api/Windows.Globalization.ApplicationLanguages.PrimaryLanguageOverride), per those docs:

_The app can set it to override the top language of the user's ranked list

[2019-12-03 18:35] kikisaints commented on #1695
Interesting! Thanks for logging @Kinnara - it looks like you're specifically setting the width to 260 in this case. That actually means the container is doing what a lot of our controls do when the width is set directly, which is to just clip.

However, in the case of RadioButtons we have an option to simply rearrange the radiobuttons within the contrainer to be 2 columns (or 1) if there's not eno

[2019-12-03 18:40] lukasf commented on #1698
Yes that makes sense. Thank you.

[2019-12-03 18:55] theultramage commented on #1712
I am not sure, the report is light on details. I can however confirm that not 'all' apps crash, only those with this library dependency. I will try uninstalling all of them via commandline and then adding them back in via store.

I have searched for mentions of XamlControlsResources and found multiple discussions pointing to pull request 1560, mentioning some kind of recent regression that caused

[2019-12-03 21:26] jevansaks commented on #1712
There have been OS bugs regarding the framework package installations getting corrupted. They've been fixed in the insider builds but haven't been taken to servicing yet.

I don't know what *caused* it exactly, but I suspect it's just that more apps are taking a dependency on the framework package and I believe the issue has to do with something going wrong during the installation or build-to-buil

[2019-12-03 21:49] jevansaks commented on #1695
My feeling is that MaxColumns is a *maximum* but it's not a hard requirement. So I think we should have the available width win out in this case and have only 2 columns show up. This is what i talked to @StephenLPeters doing today and he agreed.

[2019-12-03 22:06] kikisaints commented on #1695
I also agree with that solution, it feels like the appropriate thing to do in this situation.

[2019-12-04 00:35] #1712 closed

[2019-12-04 00:45] jdsemma commented on #716
I made a powershell logon script with a couple of lines. Basically I ran get-appxpackage Microsoft.UI.Xaml.2 and looked for the full command line to use for both 2.0 and 2.1 versions, x86 and x64. Like this:

add-appxpackage -disabledevelopmentmode -register "C:\program files\windowsapps\Microsoft.UI.Xaml.2.1_2.119whateveritwas\AppxManifest.xml"
Add-AppxPackage -DisableDevelopmentMode -Register "C

[2019-12-04 07:14] ChainReactive opened #1714 "Allow bindings inside resource dictionary"
I want XAML that resembles this:

	<DataTemplate x:Key="myTemplate">
		<Grid DataContext="{Binding Content}">
			<Grid.Resources>
				<ui:MyValueConverter x:Key="myValueConverter" MyProp="{Binding MyViewModelProp1}"/>
			</Grid.Resources>
			<GridView...>
				<GridView.ItemTemplate>
					<DataTemplate>
						<Grid Background="{Binding MyViewModelProp2, Converter={StaticResource myValueConverter}}"

[2019-12-04 08:58] Kinnara commented on #1695
Auto-rearrangement is what I excepted. As @jevansaks said, `MaxColumns` is just a maximum.

[2019-12-04 09:36] fitojb commented on #1658
This isn’t something to be proud of at all. </offtopic>

[2019-12-04 10:39] noseratio commented on #1658
@fitojb

I know, but that's the reality. You might be surprised at how many Microsoft's own projects use Chromium in some form. To check it out, go to https://thirdpartysource.microsoft.com and type in `Chromium` in the `Filter` field.

[2019-12-04 13:19] TANG-Kai opened #1715 "CommandBar height not correct when text scaling > 100%"
**Describe the bug**
When system text scaling is set to be > 100% the CommandBar's height does not grow as the AppBarButtons inside it do.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Settings > Display > Make text bigger > set to be 100%.
2. Open the XAML Controls Gallery > Menus and Toolbars > CommandBar.
3. Settings > Display > Make text bigger > set to be greater than 10

[2019-12-04 13:59] Felix-Dev commented on #1715
Seems to me this issue is covered by https://github.com/microsoft/microsoft-ui-xaml/issues/1454.

[2019-12-04 17:26] StephenLPeters commented on #1695
Thanks all!

[2019-12-04 17:43] jesbis commented on #1697
@robloo is correct that this will require using Xaml Islands. There's more info on Xaml Islands in [this blog post](https://blogs.windows.com/windowsdeveloper/2019/06/13/xaml-islands-v1-updates-and-roadmap/). Currently Xaml Islands are only available for UWP Xaml but they will be included in WinUI 3 as well.

The separate DirectX device etc. is all handled for you by the Xaml Island infrastructure

[2019-12-04 18:05] jesbis commented on #1700
I see you got some replies on the Q&A page and @Felix-Dev was spot on, but just to reiterate:

We definitely do watch Feedback Hub and that's the best current option, though I agree it often isn't obvious that the feedback is actually seen. We're working on how to better accept and acknowledge feedback on other non-UI WinRT stuff, but we want to make sure it's a sustainable process so that takes t

[2019-12-04 19:17] #716 closed

[2019-12-04 19:19] jevansaks commented on #1699
@hupo376787 Can you attach a repro project that shows this? Or maybe rephrase your question? What are you wondering?

[2019-12-04 19:26] ranjeshj commented on #1699
CacheLength describes the number of viewports (that you see on screen) that will be realized after the visible part of the screen has been realized. 30 viewports seems excessive. I believe the default is 2 viewports. Also when you have nested repeaters in opposite directions, you have this happening in the outer and inner repeaters. I am guessing that a lot got realized which is reflected by the l

[2019-12-04 19:26] #1709 closed

[2019-12-04 19:26] #1707 closed

[2019-12-04 19:26] #1706 closed

[2019-12-04 19:27] #1715 closed

[2019-12-04 19:42] YuliKl commented on #1710
@MartinZikmund thank you for the proposal. Do you have a specific example/illustration for when you would want the icon to be larger?

The current 16x16 size was deliberately chosen to fit well into the Fluent design grid and to look proportional in compact and top NavigationView modes. Larger icons would look unbalanced and/or clipped in these modes, depending on icon size. So I'm hesitant to add

[2019-12-04 20:04] kmelmon commented on #1627
@Strypper Can you capture a trace using this tool and share with us:
https://answers.microsoft.com/en-us/windows/forum/windows_10-update/windows-performance-recorder/a1648e8c-50c7-4243-9f1d-4216385c7ff3
The settings you'll want to turn on for the trace:
-Under Scenario Analysis:
    Xaml App Responsiveness
    Video Glitches
-Under Resource Analysis:
    CPU activity
    GPU activity
This should g

[2019-12-04 20:13] jesbis commented on #1625
@sharpninja to make sure I understand, would your goal be to replace codebehind like this that would register a service instance (which should work with Xaml types today even with non-default constructors):

[code]

with your example markup?

[2019-12-04 20:48] michael-hawker commented on #686
Wanted to link to @JustinXinLiu's preview sample from InsiderDevTour: https://github.com/microsoft/InsiderDevTourDemos19/blob/master/Sessions/ui

[2019-12-04 20:52] jtorjo commented on #1697
@jesbis Thanks for answering!

Got it, was curious about it, since I ported my app to UWP - and it's been a huuuge pain. Having said that, I was interested if I could be using WPF in the future (with win2d from Xaml Islands), because clearly that's what I'd prefer.

However, kwnowing it's UWP under the hood, I'll probably stick to UWP.

Got it.

Indeed, turns out I was wrong about loading bitmaps

[2019-12-04 20:52] #1697 closed

[2019-12-04 20:55] jesbis commented on #888
Closing - please direct roadmap and alpha feedback to: #1531

[2019-12-04 20:55] #888 closed

[2019-12-04 21:04] jtorjo commented on #1700
Right, looking forward to when you'll streamline the process!
My biggest pet peeve now is this: https://docs.microsoft.com/answers/questions/608/please-either-allow-systemio-all-over-hdd-or-drast.html

Everything else - I've figured out in one way or another. Since I can now load SoftwareBitmaps in non-UI threads, I'm happy :)

I'm not very interested in Image/BitmapImage, since those are pretty m

[2019-12-04 21:17] GeorgeS2019 commented on #686
@michael-hawker
Please keep sharing anything related to 3D ModelViewer control for WinUI here.
FYI  [Skeletal and vertex animation library](https://github.com/vpenades/SharpGLTF/issues/30#issuecomment-559786926) with potential for porting to WinUI 3.0

As Hololens 2.0 is now available to independent developers, 3D WinUI pioneered in 3.0 is very important.

[2019-12-04 21:18] jesbis commented on #1700
It's more complex but another currently available option for multithreaded image loading and drawing might be to use `IWicBitmapDecoder` to load images into DirectX texture(s), e.g. using `ID2D1RenderTarget::CreateBitmapFromWicBitmap`.

You can then efficiently draw Direct2D surfaces in Xaml UI trees using one or more `SurfaceImageSources` (or `VirtualSurfaceImageSource` if the images are huge), p

[2019-12-04 21:24] MartinZikmund commented on #1710
@YuliKl I am building a port of an application from Android which uses rich iconography for the main sections of the app. As the application has primary and secondary navigation, it would be very useful if it was possible to make the primary navigation and its icons and font size stand out. If this change would be problematic, however, then custom template it is 😀

[2019-12-04 21:40] YuliKl commented on #1710
To educate me, can you show a screenshot of the Android app's navigation?

[2019-12-04 21:45] jtorjo commented on #1700
Yeah, unfortunately Win2D doesn't expose `CreateBitmapFromWicBitmap` - but I'll create a request.
It's imperative to me to be able to do things synchronously, since when it's my turn to draw, I can't load the image right then, `LoadAsync()` APIs are simply useless.

[2019-12-04 21:59] zezba9000 commented on #1531
Any thoughts when a WinUI 3.0 alpha for Win32/Desktop will be available?
For work this is the only target that has enough features for our management software. Can't wait to dable in it there.

[2019-12-04 22:22] jevansaks commented on #1700
This is obviously an area for improvement, but one that I'm passionate about us doing better on. It's going to take some time.

Windows APIs at large have the same problem. It's just that a lot of those old Win32 APIs have been around so long that there are lots of experts outside Microsoft that can answer questions about them just as well as folks inside. :)

To start with, we will start promotin

[2019-12-04 22:44] kmahone commented on #1563
I've kicked off a chk test pass here:
https://dev.azure.com/ms/microsoft-ui-xaml/_build/results?buildId=52834

There will probably be at least a few test failures unique to chk.

[2019-12-04 22:46] myokeeh commented on #686
I'm really interested in this.

[2019-12-04 22:50] GeorgeS2019 commented on #686
@myokeeh keep pushing awareness of this. I think Microsoft will hopefully allocate more effort into 3D for WinUI 3.0

FYI We need View3D UWP app now appears as WinUI 3.0 control :-)

[2019-12-04 22:50] Felix-Dev commented on #686
You can also find the link to that demo here: https://github.com/microsoft/microsoft-ui-xaml/issues/1688

This post shows me more should be done to bring awareness to that post, which is precisely about developer resources.

[2019-12-04 22:56] Felix-Dev commented on #1688
@jesbis @jevansaks @chingucoding In [this thread](https://github.com/microsoft/microsoft-ui-xaml/issues/686) it appears me to some folks would have benefitted from better visibility of this thread (and more in-depth content description - btw, that's not meant as criticism of the nice work you have done here so far, @chingucoding, but just a potential future work item for this topic 🙂). Do we have

[2019-12-04 23:00] GeorgeS2019 commented on #1688
@jesbis @jevansaks @chingucoding It shall soon be more than just creative UI, but how to combine [AI ](https://github.com/SciSharp/Gym.NET/issues/4#issue-532988757)with these incredible (especially) 3D UI

[2019-12-04 23:09] jtorjo commented on #1700
Hi @jevansaks ,

Thanks for taking the time to reply!

I get that and I'm fine with that - as long as we know where to ask, and what to expect.

I'd really like a place where people could see what's happening to WinRT - stuff Microsoft is working on, and ETAs - and clearly, in that same place, people would ask/vote for the things they want.

As far as I understand (please correct me if I'm wrong),

[2019-12-04 23:14] myokeeh commented on #686
@GeorgeS2019 does this proposal include the scope to translate/rotate separate objects relative to each other with code? Think about an assembly with moving parts and relationships.

[2019-12-04 23:19] GeorgeS2019 commented on #686
@myokeeh, it is important to encourage the team (e.g. @sohchatt)  to continue [the effort](https://github.com/windows-toolkit/SceneLoader/issues/8#issue-444748449)  by actively providing feedback to the SceneLoader development

Yes, we are talking of bones :-)

[2019-12-05 00:04] #1705 closed

[2019-12-05 06:18] riverar commented on #1247
Anything we can do to get this out of the freezer? https://github.com/microsoft/microsoft-ui-xaml/projects/4#card-25842420

I believe filling in functionality and API gaps should rank much higher. Frankly, I think it's critical to WinUI XAML adoption.

[2019-12-05 08:22] dpaulino commented on #322
I desperately need this feature. Any ETA?

[2019-12-05 09:06] sonnemaf opened #1720 "NumberBox properties are not in the Common category but in Miscellaneous"
**Describe the bug**

The properties like Value, SpinButtonPlacementMode, Minimum, Maximum are not in the Common category of the Properties window. They are in Miscellaneous. This makes it hard to discover.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Select a NumberBox in the XAML Designer.
2. View the Properties window.

**Expected behavior**
NumberBox properties in the C

[2019-12-05 09:13] sharpninja commented on #1625
@jebris - You would indeed still need to register the object as you listed so that XAML gets instances of that object from the IServiceProvider specified in the XAML.  And this really can extend beyond just resources to all objects such that an entire object try in XAML could be constructed from DI.

[2019-12-05 09:24] hansmbakker commented on #1247
@SavoySchuler @jevansaks ?

[2019-12-05 10:33] sonnemaf opened #1721 "Numberbox throws StackOverflowException when you clear it and it is TwoWay databound to a Double"
**Describe the bug**
You get a StackOverflowException when you clear a NumberBox which Value is databound (x:Bind, TwoWay) to a property of the type Double. This happens when you use the X button in the TextBox or when you have no Text and do a LostFocus. It doesn't happen with an Int32.

**Steps to reproduce the bug**
Take the following code, start the app and clear the Salary or Bonus NumberBoxe

[2019-12-05 10:49] sonnemaf opened #1722 "Proposal: Add TextAlignment property to NumberBox"
# Proposal: Add TextAlignment property to NumberBox

## Summary
It would be nice if NumberBox also had a TextAlignment property.

In this screenshot the NumberBoxes have Right TextAlignment
![image](https://user-images.githubusercontent.com/9335559/70228718-1cbc8f80-1755-11ea-8348-6274242f3806.png)

## Rationale

* Make it consistent with TextBox and Excel
* Creating a Template for the NumberBox w

[2019-12-05 17:33] kmahone commented on #1563
Results looks reasonably good. Two unique chk failures:

- IXMPTestApp.Tests.MetadataProviderTests.CanLoadXamlFragments
- RepeaterTests.RepeaterTests.VerifyCurrentAnchor

Investigating these failures now.

[2019-12-05 18:59] jesbis commented on #1625
So is your proposal that this markup:

[code]

would automatically register that `IMyResource` instance with the referenced `ServiceProvider`?

Would that `ServiceProvider` instance be created by the framework or the app?  If it was created by the app, how would you propose that the Xaml framework get the associated `ServiceCollection` and rebuild the `ServiceProvider`?

A more complete example mi

[2019-12-05 19:22] YuliKl commented on #1721
@teaP can you take a look?

[2019-12-05 20:13] sharpninja commented on #1625
You would still need this:

__Startup.cs__
[code]

Once all of the DI is defined, your code can look like this.

__SomeDataModel.cs__
[code]

__MainPageViewModel.cs__
[code]

That would allow this:

__App.xaml__
[code]

`App` must expose an instance of `IServiceProvider` named `ServiceProvider` that can be resolved by `x:Bind` once.

__MainPage.xaml__
[code]

__SomeTemplate.xaml__
[code]

__SomeTe

[2019-12-05 20:48] jesbis commented on #1531
We don't have a firm date for the win32 preview yet but we'll let everyone know when we do!

[2019-12-05 21:19] jesbis commented on #1651
@mariorancic01 we don't have many samples yet but you can find one in [this Scroller test page](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/Scroller/TestUI/ScrollerRepeaterAnchoringPage.xaml) that's part of one of our test apps. You can find more info on running the test app under the [developer guide](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/developer_gui

[2019-12-05 21:59] kmahone opened #1725 "RecyclingElementFactory.Templates cannot be set from Xaml on RS4 and below in debug configuration (using reflection provider)"
Try to load this Xaml:

[code]

When building the app in Debug configuration, loading this Xaml fails with this call stack:
[code]

Building with EnableTypeInfoReflection=false will not hit this issue.

This does not repro on the latest version of Windows. It is only hit on RS4 and lower.

This issue is hit regardless of whether \<RecyclingElementFactory.Templates\> is set explicitly in Xaml, or i

[2019-12-05 21:59] Austin-Lamb commented on #1647
Thanks for reporting this!  I'm going to put this on my team's backlog - it may be related to the XYFocus system we have, but I'm not sure yet.

[2019-12-05 22:04] Austin-Lamb commented on #1644
It wouldn't make sense for XAML Islands to establish a window for the thread, as a Win32 app is allowed to have multiple top-level windows on the same thread.  Those windows could be on different monitors, which would affect where you'd want the picker to show up - so the IInitializeWithWindow pattern is the correct way to do this as far as I know.

@edetoc - I'm going to close this, but please re

[2019-12-05 22:04] #1644 closed

[2019-12-05 22:08] kmahone opened #1726 "Test Failure: RepeaterTests.VerifyCurrentAnchor"
The following test fails when run in chk configuration on 19H1:
Windows.UI.Xaml.Tests.MUXControls.ApiTests.RepeaterTests.RepeaterTests.VerifyCurrentAnchor

Log output:
[code]

For now, the test has been disabled in chk configuration. It should get re-enabled when this issue is resolved.

[2019-12-05 22:25] stmoy commented on #1648
We're investigating what else we can/should do for the next rev of TabView. I've added this as an item in that list tracked in #1332.

[2019-12-05 23:07] jevansaks commented on #322
Realistically we wouldn't get to this at least until the new year, but I think we would accept a contribution for either the API spec proposal and implementation. If you could propose an API we could help write up that API spec proposal and then we can tag this with "help wanted" to get some external help.

[2019-12-06 00:29] mdtauk commented on #806
@chigy  Figma has now added support for Auto Layouts.  This is a very big feature and I think all future versions of the Figma toolkits for WinUI, as well as Fabric, Fluent Web, etc should be updated/redone to take advantage of this...

https://www.figma.com/blog/announcing-auto-layout/

[2019-12-06 00:36] chigy commented on #806
@mdtauk , thank you for letting me know. I am not sure of the implications as our platforms may not automatically layout so if we make this available, will designers be able to create some UI that our platforms will not do? That said, I'll look into it.

[2019-12-06 00:38] YuliKl opened #1727 "When in high contrast mode and navigating with the keyboard the focused tab is barely visible"
**Describe the bug**

In High Contrast mode, the keyboard-focused NavigationView item is barely discernible from non-focused NavigationView items.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Turn on HC
2. Open Xaml Controls Gallery, press Tab to move keyboard focus
3. Use arrow keys to continue moving focus within the list of items

**Expected behavior**

It's easy to see

[2019-12-06 00:45] mdtauk commented on #806
On a cursory look into the implementation, it solves so many problems like creating buttons which resize as text changes.  Stuff that HTML and XAML does by default.  As well as creating list components, like menus and flyouts.

[2019-12-06 00:51] chigy commented on #806
@mdtauk , thanks. Checked with the team who does the kit and they are aware. Unfortunately, the one we are working on right now might not have it so we can release it soon but stay tuned for the one following.

[2019-12-06 00:54] #1447 closed

[2019-12-06 01:20] jaredhms opened #1728 "Nuget 2.3 fails to load Microsoft.UI.Xaml.dll due to mismatched vcruntime140_1_app.dll dependency"
After upgrading to 2.3, none of the Microsoft.UI.Xaml classes are registered at runtime.  It looks like this is due to our inability to load vcruntime140_1_app.dll.  Our app is using a different version than the 2.3 Microsoft.UI.Xaml:

**Microsoft.UI.XAML:**
\WindowsApps\Microsoft.VCLibs.140.00_14.0.27810.0_x64__8wekyb3d8bbwe\vcruntime140_1_app.dl

**Our App :**
\WindowsApps\Microsoft.VCLibs.140.0

[2019-12-06 04:46] shaheedmalik commented on #1247
Those designs in the tweet look great.

[2019-12-06 08:29] edetoc commented on #1644
thanks @Austin-Lamb @contextfree
indeed the IInitializeWithWindow  pattern helped me resolves this issue.
see my sample here:  [https://github.com/edetoc/samples/tree/master/WpfXamlIslandTest](url)

[2019-12-06 09:28] sonnemaf commented on #1721
Would it be possible to add an EmptyValue property to the NumberBox (type Double)? This would hold the value which the NumberBox gets when you clear the Text.

Just an idea.

[code]

[2019-12-06 10:54] mariorancic01 commented on #1651
Hi Jesse,

thx for your help and instructions.
I saw Scroller test page and I run the tests but the test app
disappears after test is done. Is it possible to run TestApp as a
standalone app.

Also I replaced ScrollViewer with Scroller and I made separate project with
ItemsRepeater and Scroller fulfilling whole page, I test it on my fast
laptop and slower touch Win10 device and Scroller is much muc

[2019-12-06 14:18] simop-msft opened #1731 "NavigationView's Settings button overwrites any custom tooltip set in code"
### Description
If the Settings button's tooltip is customized in code and the NavigationView is in Left mode, it will eventually be overwritten when the pane is open and closed.

### Repro steps
Create a page with the following code, similar to [the sample for access keys in navigation view](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview?view=winui-2.3#access-k

[2019-12-06 15:11] shaheedmalik opened #1732 "Discussion: [WinUI 3 App Design Ideas]"
# Discussion: [Win UI 3 App Designs - Concepts]

I came across these designs on twitter. They are concepts of how Windows Phone would look if it was still being worked on. These are some great designs for how UWP could look in WinUI 3 on Windows 10X & Windows 10. Tablet Mode would also benefit from apps designed like this.

This is the type of consistency I am looking for.
I would love for the XAM

[2019-12-06 17:39] jevansaks commented on #1728
@kmahone @ranjeshj I can't think of a good way to address this. The problem is that we now need apps to depend on the newer VCLibs. This works if the app is built by VS 16.3 (maybe even 16.1 or .2) but older versions of VS like VS2017 won’t produce the right dependency.

Maybe we just emit an error if we detect this condition?

[2019-12-06 17:39] kmahone opened #1734 "NavigationViewTests.EnsureDynamicSizeForPaneHeaderFooterAndCustomContent fails in CHK configuration on RS2"
Log:
[code]

Disabling the test on chk for now.

[2019-12-06 17:40] jevansaks commented on #1728
(This is because VS 16.3 made the new C++ exception handling on by default and that requires runtime support in VCLibs)

[2019-12-06 17:42] #1695 closed

[2019-12-06 17:43] benstevens48 opened #1735 "DependencyProperty changed event fires when value is unchanged for (non-primitive) value types"
**Steps to reproduce the bug**
Create a C#/XAML UWP app. Write a custom control and register a DependencyProperty in the stanadrd way with a changed handler. Make sure the type of the DependencyProperty is a non-primitive value type, e.g. Color, Thickness. Set the value of the property from outside the control. Keep setting the value to the same thing. The changed handler keeps on firing.

**Expec

[2019-12-06 17:45] #1700 closed

[2019-12-06 19:42] ryandemopoulos commented on #1460
@dotMorten Sorry for the long delay here.  This was put in the Freezer, but I'm also adding the needs-winui-3 label too.  As I think you know we're working to get open source asap, and once that happens I think we'll have more ability to evaluate suggestions like this.  I appreciate the time you took to file it Morten.

[2019-12-06 19:51] ryandemopoulos commented on #1435
I'm adding the needs-winui-3 label to this issue, @robloo.  I want to take another look at this once we get open source for WinUI 3; the team is mainly focused on that right now.  Seems like a good request we should visit soon after that happens.

[2019-12-06 19:54] SavoySchuler opened #1736 "Proposal: NumberBox V2"
# Proposal: NumberBox V2

## Summary

Finish up NumberBox feature work that was blocked on WinUI 3.0 or did not make the V1 cut.

## Rationale

* UWP has controls for Text, Date and Time values. Why not for Numeric values? Numbers are very common. They deserve an own input control. It will help all enterprise app developers who create data entry dialogs.

* Similar proposal found on Calculator's r

[2019-12-06 19:59] shaheedmalik commented on #1736
I like the second one.

[2019-12-06 20:03] ryandemopoulos commented on #1255
@verelpode Good proposal; being able to specify in number of lines seems like a no brainer, and we should continue discussion about using characters as width.  Your contrasting with HTML was very helpful--thanks for that.

There are an accumulating number of "make TextBox great again" feature proposals and I'd like to revisit them holistically once we've made WinUI 3 open source.  I'm also going t

[2019-12-06 20:09] dotMorten commented on #1460
Oh no worries. I wasn't expecting it until then.

I'll be more than happy to implement it as well and submit the PR once the source is live.

[2019-12-06 20:48] YuliKl commented on #1590
Added a **proposed fix** into the issue description:

[2019-12-06 21:00] YuliKl commented on #1584
The tooltip is acting as a supplemental focus indicator. I believe that in practice users won't have any trouble finding the currently-focused element, so closing this issue.

[2019-12-06 21:00] #1584 closed

[2019-12-06 21:00] RBrid commented on #1651
Hello @mariorancic01, thanks for trying out the new Scroller control!

Because the new Scroller and ScrollViewer controls are still in preview mode, you can only use them in a preview nuget package like 2.3.191127001-prerelease.

You can run the MUXControlsTestApp as a standalone app. You just need to compile and deploy the MUXControls.sln solution and that will install the MUXControlsTestApp test

[2019-12-06 22:07] jevansaks commented on #1639
Per email discussion it sounds like the request is to do the color adjustment only when TintLuminosityOpacity = 1.0. If TintLuminosityOpacity < 1 then don't adjust the color. Seems simple enough? Adding help wanted. :)

[2019-12-06 22:11] jevansaks commented on #1720
Here's the documentation for doing VS design light-up via nuget: https://docs.microsoft.com/en-us/nuget/guides/create-ui-controls. It's pretty thin and I don't see anything about how to customize the properties pane.

@karann-msft @chabiss @svetbonev Is this something that's possible to customize with nuget today?

[2019-12-06 22:15] jevansaks commented on #1727
Agree with @yulikl's proposed fix.

[2019-12-06 22:41] chingucoding commented on #1727
I would be happy to fix this :)

[2019-12-06 22:59] SavoySchuler commented on #483
# V2 NumberBox Proposal: https://github.com/microsoft/microsoft-ui-xaml/issues/1736

Hello wonderful WinUI Community! Thank you sincerely for helping us drive home our first community proposed control to see release. We know this was a huge undertaking and that all of you invested a significant amount of time into crafting the best collection of V1 features we could design together.

We also know

[2019-12-06 22:59] #483 closed

[2019-12-06 23:03] SpencerHurd commented on #1639
Its this, if no TintLuminosity value is supplied, letconversion logic is applied, if any value at all is supplied (0 - 1.0) do not use the conversion logic.

Cheers,

S

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jevan Saks <notifications@github.com>
Sent: Friday, December 6, 2019 2:07 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com

[2019-12-07 00:12] SavoySchuler commented on #1722
Linked in: https://github.com/microsoft/microsoft-ui-xaml/issues/1736

[2019-12-07 00:15] mdtauk commented on #1736
How about adding a Mini Calculator popup with a Calculate icon for more complicated calculating scenarios?

![image](https://user-images.githubusercontent.com/7389110/70364803-03ffc700-1886-11ea-802a-3a2e10ce28f8.png)

Also more options for positioning the Spin Buttons could be considered

![spin buttons alt forms](https://user-images.githubusercontent.com/7389110/70364822-22fe5900-1886-11ea-9ff2-

[2019-12-07 00:19] mdtauk commented on #1590
"Today" or "Today's Date", basically consideration for the context in what the picker scenario is.  And would there also be the concept of "Tomorrow" and "Yesterday"?

[2019-12-07 00:27] YuliKl commented on #1590
I don't think so. The issue here is that sighted users get information (in the form of an accent-colored background) that's not available to blind users. The lack of equity needs to be corrected. But we don't color-code tomorrow or yesterday, so shouldn't provide this information to ATs.

[2019-12-07 00:51] mdtauk commented on #1732
I do think a less "free" approach when recommending and inbox UIs would do a lot for bringing a greater sense of consistency and coherence - which could encourage other apps to do the same.

Microsoft should put forward an "opinion" on how app UIs should look on Windows, and "sell" that opinion.

[2019-12-07 00:55] mdtauk commented on #1590
I was thinking more about context in how it is announced.  If you are picking a date, then announcing Today instead of Today's Date may feel odd?

[2019-12-07 01:10] ojhad opened #1739 "ItemsRepeater overwrites DataContext"
**Describe the bug**
There is a scenario where `ItemsRepeater` overwrites `DataContext` on elements that are passed in via `ItemsSource` and are intended for display without wrapping.

The Scenario:
If there is an `ItemTemplate` set on the `ItemsRepeater` that simply returns the element that is stored in the `ItemsSource`, the `ViewManager` overwrites the `DataContext` on that specific element. Th

[2019-12-07 10:42] sonnemaf commented on #1736
@mdtauk I really like the Mini Calculator idea. I had this 20 years ago in Smalltalk.

The Prefix and Suffix are also very nice (Must have). I'm not sure about the Masked one. That would be a nice to have.

[2019-12-07 10:44] sonnemaf commented on #1736
Maybe there should also be an **IsReadOnly** property. Similar to TextBox. In turned on the spin buttons should hide.

[2019-12-07 10:51] sonnemaf commented on #1736
Should the NumberBox prevent alphanumeric keyboard input when AcceptsExpression is turned off. You can then only enter 0-9, minus, dot and a comma.

Take extra care about pasting a new from the clipboard.

I'm not sure about this feature. It should be an optional thing. I'm also not sure if this would introduce extra localization issues.

[2019-12-07 13:50] lhak commented on #1531
I did not see AppWindow on the list of the currently not supported features, but it seems that the required APIs are currently missing.

[2019-12-07 14:02] lhak commented on #1736
Some features that could be added:

- If the input has been modified, pressing the TAB key will set it as the new value. Add a property to control this behavior, i.e. allow the modified input to be discarded in this scenario.
- An event that fires if the modified input has been discarded by pressing the ESCAPE key.
- Make it possible to add tooltips to buttons.

[2019-12-07 16:27] nirbil opened #1741 "WebView gets stuck on blank http error responses"
Loading the Windows.UI.Xaml.Controls.WebView with certain URLs results in a stuck navigation, where the NavigationStarting event is called but the NavigationCompleted is never called.

To reproduce it, you can use this site - https://www.mocky.io/ to produce a URL that returns an Http error response with a blank body.
Here's a sample 'Internal Server Error' response - http://www.mocky.io/v2/5debd1

[2019-12-07 17:20] robloo commented on #1736
I'm definitely behind:

 * TextAlignment
 * IsReadOnly
 * Prefix/Suffix (I would use for currency codes or symbols)
 * Spin buttons separated on both sides of the control like in OneNote UWP (Realize that was already shot down in the last discussion)
 * Calculated preview (Not to be confused with the mini calculator. A mini calculator would be too heavy for this control I think)

@sonnemaf I also

[2019-12-07 20:12] jesbis commented on #1531
@lhak sorry, thanks for pointing that out - it's not currently supported. I just opened a PR to get it added to the known Alpha limitations.

[2019-12-08 20:45] DragoCubed commented on #1530
https://techcommunity.microsoft.com/t5/Articles/PDF-Inking-on-Microsoft-Edge/m-p/1016006
Edge (Anaheim, Chromium) doesn't use WinUI but it's worth having a link here anyway.

OneNote has a point eraser and I think Sketchpad did too IIRC but that was removed.

[2019-12-08 22:39] chingucoding commented on #1688
@Felix-Dev Sorry for answering on that topic only now 😅
I agree that this issue/thread/discussion would benefit from being pinned or mentioned somewhere. As you already mentioned, as more and more issues are being submitted, this issue will slowly "disappear". Maybe there would also be a better way to handle this topic/discussion than in a GitHub issue. Maybe a separate GitHub repository?

Yes, I

[2019-12-09 03:38] jesbis commented on #1688
I pinned it for now 🙂

@chigy who might have thoughts on including content like this in the documentation.

[2019-12-09 13:00] duke7553 commented on #1732
Microsoft should also make it very clear to third-party developers what the utility of a second screen is on the new dual-screen form factor.

Complimented by appropriate documentation, I expect there to be controls optimized for these devices. For instance, the SplitView should include a `FormFactor` property which adjusts the control's resizing behavior to work on them.

[2019-12-09 14:37] vgromfeld opened #1742 "NavigationViewItem template should respect CompactPaneLength"
**Describe the bug**
The `NavigationViewItem` are partially hidden by the `MenuItemsHost`'s scrollbar when `NavigationView.PaneDisplayMode="LeftCompact".

**Steps to reproduce the bug**
1. Create a new app with a `NavigationView` containing a lot of `NavigationViewItems`
[code]
2. Run the application
3. Resize the window to force the `MenuItemsHost` to show its scrollbar

**Expected behavior**
The

[2019-12-09 15:16] mariorancic01 commented on #1651
Hi Regis,

the mouse wheel like you said only worked in prerelease version of
Microsoft.UI.XAml nuget package, it was enabled by default and I was able
to disable it with IgnoredInputKind  property.

The problem about zooming. I tried to do pinch to zoom , I slightly modifed
ItemsRepeater from XamlControlsGallery sample where I replaced ScrollViewer
with Scroller. But while I tried to zoom it i qu

[2019-12-09 16:06] shaheedmalik commented on #1732
I agree with this. Just as important that we have feature complete finished templates that are so good that the developer don't feel the need to change them.

[2019-12-09 16:12] shaheedmalik commented on #1732
@zeealeid check this out.

[2019-12-09 16:41] ranjeshj commented on #1742
Scrollbar by default overlays on top of the content. In this case it might make sense to add some extra spacing. @chigy @ojhad  Thoughts ?

[2019-12-09 17:15] chigy commented on #1742
@ranjesh, I'd need to check with the design team and this is just my personal feedback. But it feels the most natural and the way it won't impact the rest state design would be to draw the scrollbar outside (to the right of the navbar). Assuming this would be technically challenging?

[2019-12-09 17:18] #1563 closed

[2019-12-09 17:28] chigy commented on #1688
I'd like to pose a question to the audience. IF we have this information in our documentation set, where would you look for this type of information? How would you search for it? (i.e. search keyword) Do you expect this type of information be given to you in the official documentation set or as a GitHub item like this one?

I am asking this because we are evaluating the effectiveness of our custom

[2019-12-09 17:37] FJduFou opened #1743 "Acrylic does not appear in drop-down menus"
**Acrylic does not appear in drop-down menus**

**Screenshots**
![image](https://user-images.githubusercontent.com/46401854/70458080-a5b72c00-1ab1-11ea-8263-35ea9f1109e9.png)
![image](https://user-images.githubusercontent.com/46401854/70458877-55d96480-1ab3-11ea-898a-1d6e826fe3e1.png)

**Version Info**
NuGet package version: Microsoft.UI.Xaml 2.3.191129002
Windows version: Windows 10 v.1909

| Win

[2019-12-09 18:05] shaheedmalik commented on #1688
I think this type of information should be implemented in Visual Studio as a resource.

[2019-12-09 18:17] teaP commented on #1721
@sonnemaf, could you suggest the EmptyValue property on #1736? Thanks!

For the bug itself, this isn't an issue with NumberBox so much as the property system itself. Unfortunately, NaN isn't equal to itself, as you've probably noticed. If you want to allow the box to be empty, you could check for

`if (value != _salary && !(Double.IsNaN(value) && Double.IsNaN(_salary)) { ... }`

or similar.

[2019-12-09 18:19] teaP commented on #1505
V1 finished, additional comments should go to #1736,

[2019-12-09 18:19] #1505 closed

[2019-12-09 18:41] RBrid commented on #1651
Thanks @mariorancic01, I am not sure what you meant with "But while I tried to zoom it i quickly lost it." and I don't have the zip file for the complete app, but I tried your XAML fragment and a modified version worked fine for me:

[code]
I also added this line of code in the page constructor:
`
repeater01.ItemsSource = Enumerable.Range(0, 500);
`

Maybe that is what you meant to do.

[2019-12-09 18:54] anawishnoff commented on #1672
Hey @robloo, I'd like to pitch this proposal to the WinUI team here, but was hoping to make some edits. Wanted to check with you first if it would be alright to edit your proposal directly, or if you preferred that I start a new proposal (Github issue) and referenced yours.

Thanks! Looking forward to working on this.

[2019-12-09 19:00] YuliKl commented on #1731
@simop-msft Thank you for reporting this. I think the best solution here would be to provide a SettingsTooltip property on NavigationView. The current code snippet is a hack, we don't really want to force users to walk the visual tree.

Not showing any tooltip when the pane is open is indeed the intended behavior. Our goal is to avoid unnecessary tooltips, and showing the same text that's already