[2021-04-07 15:54] anawishnoff commented on #4722
@Rand-Random That's a good question. @manodasanW how does the .NET SDK usually get updated?

[2021-04-07 16:08] Noemata commented on #4733
@StephenLPeters , TabView will eventually crash any UWP app as well.  You just need the right test jig to surface the problem sooner.

Have a look here:

https://github.com/Noemata/RosettaNavigation

[2021-04-07 16:17] ranjeshj commented on #4325
@MagicAndre1981 that bug seems unrelated.

The issue here is that when you derive a content dialog the new control has its own template. The new styles that come via WinUI2 are not 'default' styles, they are implicit styles, so if you want to derive, then the derived type's style should do one of two things

1. Don't re-template (i.e dont touch the template property). Instead, just build on top of

[2021-04-07 16:17] #4325 closed

[2021-04-07 16:25] rozele commented on #4730
Turns out this isn't too terrible to work around. If you subscribe to pointer events using `TextBlock.AddHandler(..., handledEventsToo: true)`, and subscribe to `GotFocus` and `LostFocus`, we don't need to use the Click event.

[2021-04-07 19:08] jeffstall commented on #4732
@MikeHillberg, this is a crash in Xaml. Can you triage appropriately?

[2021-04-07 19:53] codendone commented on #4732
There is a known issue with this page, which we expect to be fixed when we update to the latest CsWinRT. We'll be validating that soon, and Project Reunion 0.5 will soon be updated to the latest CsWinRT.

[2021-04-07 23:03] rohanp-msft commented on #3648
Hi @huoyaoyuan,
As you pointed out, this falls under https://github.com/microsoft/ProjectReunion/issues/613.
You beat me to suggesting duping this to that bug.
Sorry about the delay here. The issue was not fully understood until recently.
The fix should be available in v0.8 preview of Project Reunion which starts shipping this month.
Please follow https://github.com/microsoft/ProjectReunion/issues

[2021-04-07 23:10] StephenLPeters commented on #4757
@RealTommyKlein and @fabiant3 FYI

[2021-04-07 23:13] StephenLPeters commented on #4756
@jevansaks can you take a look at the videos (2 and 3 especially).

[2021-04-07 23:14] StephenLPeters commented on #4755
@ryandemopoulos or @anawishnoff FYI

[2021-04-07 23:27] StephenLPeters commented on #4751
https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.notifycollectionchangedaction?view=net-5.0 ObservableCollection only has certain collection changed actions that get raised. Namely Add, Move, Remove, Replace, and reset.  If you change multiple items in your observable collection at the same time the only action that makes sense is a reset.  I *think* list view assumes tha

[2021-04-07 23:30] StephenLPeters commented on #4750
@Scottj1s This seems like a CsWinrt issue, do you agree?

[2021-04-08 00:03] Noemata opened #4758 "WebView exhibits small memory leak when used with Navigation Frame."
**Describe the bug**
WebView control exhibits a small memory leak when used with Navigation Frame.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Go to this repo: https://github.com/Noemata/RosettaNavigation
2. Build WebViewUwp1 project.
3. Run WebViewUwp1 app.
4. Observe reported leak when NavigationCacheMode = NavigationCacheMode.Disabled (default)

**Expected behavior**
No

[2021-04-08 00:35] duke7553 opened #4759 "[WinUI 2.6 Preview] Release mode crash caused by NavigationView ItemsRepeater"
**Describe the bug**
After upgrading to the WinUI v2.6 preview, my UWP app crashes at runtime only when compiled in release mode. The crash is hard to debug this way, but I've attached the stack trace. The stack trace indicates the issue lies somewhere in NavigationView's ItemsRepeater FlowLayout.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Upgrade a UWP app with a WinUI N

[2021-04-08 00:40] jevansaks commented on #4756
Looks like a problem with HostBackdropBrush (used by Acrylic). @strathdeek what version of the OS and graphics card do you have?

@StephenLPeters we'll need someone from composition team to take a look at this.

[2021-04-08 01:42] v-xuyan opened #4760 "3 errors and 1 warning show in the Error List when adding a WinUI Custom Control(WinUI) to C++ Blank App(WinUI in UWP) project."
**Describe the bug**
3 errors and 1 warning show in the Error List when adding a WinUI Custom Control(WinUI) to C++ Blank App(WinUI in UWP) project.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a C++ Blank App(WinUI in UWP) project.
2. Build the project and no error.
3. Add a WinUI Custom Control(WinUI) to the project.

**Expected behavior**
No error and warning show

[2021-04-08 02:35] limefrogyank commented on #3907
For UWP with WinUI2, the preview build that is referenced in #3969 fixes this faulty behavior for me.

[2021-04-08 03:07] codendone commented on #4709
@aqibbanday Yes, that code works in preview builds.

[2021-04-08 04:22] Jaiganeshkumaran commented on #2020
Please don't. If apps want to use System tray, let them use the Win32 APIs available for that. No need for a WinRT API for a legacy feature

[2021-04-08 05:08] syncsiva commented on #4204
@codendone I have replicated this issue in simple app.

**Steps to reproduce the bug**
1. Run the sample.
2. Click the button
3. Scroll or mouse wheel over navigation view where app hangs.

Looks like some problem with re-using of the items.
[project reunion uwp (2).zip](https://github.com/microsoft/microsoft-ui-xaml/files/6276167/project.reunion.uwp.2.zip)

**Version Info**
Microsoft.ProjectReuni

[2021-04-08 06:12] sampathnarine commented on #4676
Hi @codendone,

The provided solution works fine for me. Thanks for your update.

Regards,
Sampath Narayanan.S

[2021-04-08 06:29] Jaiganeshkumaran opened #4761 "Packaged apps: Automatically set window title to be the app name specified in the manifest"
By default, the window title should be set to the app name and the icon should be the app icon unless the developer changes it manually

[2021-04-08 07:08] Jaiganeshkumaran commented on #3683
You are passing the implementation type instead of the projection type. This issue occurs when you are inside the implementation namespace. Instead write the fully qualified type name eg: YourApp::YourPage instead of just YourPage

[2021-04-08 07:13] AtosNicoS commented on #4751
I even tried a manual sorting implementation which only does move operations, and also shifts around the selected item, without any luck. Here is the extension method:

[code]

[2021-04-08 07:32] Vinothini-V opened #4762 "Memory in custom controls derived from Button"
Cleared all instance of custom control derived from Button. But still  instance is showed in memory profiler.

I have created custom control derived from Button and also user control which contains Button. In both the cases, after implementing dispose and setting the Button instance to null, it shows instance in Memory profiler as shown in the below screenshot.

![image](https://user-images.github

[2021-04-08 08:52] NeelakandanKannan commented on #4654
Hi @chrisglein ,

Thanks for your update.

The following callstack is getting when error is thrown,

   at WinRT.ExceptionHelpers.ThrowExceptionForHR(Int32 hr)
   at ABI.Microsoft.UI.Xaml.IFrameworkElement.global::Microsoft.UI.Xaml.IFrameworkElement.SetBinding(DependencyProperty dp, BindingBase binding)

The UI element's datacontext is,

Employee class which has following properties,
* Name
* ID
*

[2021-04-08 08:52] thomasclaudiushuber commented on #4750
@StephenLPeters I was not asked, but I agree. :) I will look into this today, as I got some experience with C#/WinRT and DatePicker (With solving this issue #4719 ).

As C#/WinRT is delivered with the .NET SDK, maybe we should adjust the template for issues on this repo to include a "dotnet --list-sdks" result.

@jasonjtyler Could you run "dotnet --list-sdks" on the command line and post the insta

[2021-04-08 09:03] jtorjo commented on #1517
@ranjeshj Yes, will do, but it will be a good few days before I can do that. I'm already behind everything on launching my app. As soon as I have a few hours, I'll do it.

As a side note, the first thing I wanted to do was to do some profiling, but I ran into the other Windows bug (https://developercommunity.visualstudio.com/t/No-Data-in-CPU-Usage-Tool-Windows-Updat/1384519). I lost several hours

[2021-04-08 09:25] thomasclaudiushuber commented on #4750
Ok, it is C#/WinRT related.

Reproducable with **.NET SDK 5.0.201**
Solved with **.NET SDK 5.0.202**

Issue can be closed.

@jasonjtyler Please go to https://dotnet.microsoft.com/download and download and install the latest .NET SDK for .NET 5.0 (you'll get .NET SDK 5.0.202, you can verify this after installation by running "dotnet --list-sdks" on the commandline).
After the installation, you need

[2021-04-08 09:37] AtosNicoS commented on #3108
Is there a workaround available to patch this from my uwp application directly?

[2021-04-08 09:41] asklar opened #4763 "Keyboard events behave differently between UWP and Islands"
**Describe the bug**
(Using System XAML)
We should reconcile how keyboard input is treated in UWP and xaml islands (and winui3 Desktop apps)

**Steps to reproduce the bug**
in a Textbox, handle KeyDown and set `e.Handled=true`

in UWP, the input still reaches the textbox
in xaml islands, the input is blocked from reaching the textbox

**Expected behavior**
keyboard behavior is the same; setting Ha

[2021-04-08 10:23] rick-palmsens opened #4764 "Incorrect progress bar animation when going backwards"
**Describe the bug**
When reducing the value of a progress bar it is incorrectly animated. The instead of moving the right side of the progress rectangle to the left, the left is moved to the right and then the entire rectangle moves left. See the attached GIF for better visualization.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Make a progress bar
2. Set it to a high value

[2021-04-08 10:49] thomasclaudiushuber commented on #4746
Hey @AghaKhan, doesn't the Path shape and the Geometry classes fit your needs?

Here's a link to the docs with [the path shape](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/shapes).

The DrawingImage as in WPF is not supported by WinUI. See also [this issue](https://github.com/microsoft/WindowsCompositionSamples/issues/16) in the WindowsCompositionSamples.

[2021-04-08 11:02] prabakaran-sangameswaran opened #4765 "ColorPicker's selection pointer and tooltip updated inversely (mirrored) in ring shaped color spectrum"
**Describe the bug**

While using `ColorSpectrumComponents` value as either `ValueHue` or `SaturationHue`  in ring shaped color spectrum , location of selection pointer and tooltip are mirrored to the location of mouse pointer

Sample:

[ColorPicker_Issues.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6278113/ColorPicker_Issues.zip)

**Steps to reproduce the bug**

Steps to reproduce t

[2021-04-08 12:05] prabakaran-sangameswaran opened #4766 "Tooltip in colorpicker shown when mouse pointer is outside of the control and control has focus"
**Describe the bug**

Tooltip shown without hovering the mouse pointer on the color spectrum in ColorPicker when control got focus.

Sample:

[ColorPicker_tooltip_issues.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6278549/ColorPicker_tooltip_issues.zip)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run the sample
2. Select color from `ColorPicker 1` and note `C

[2021-04-08 13:19] sylveon commented on #4725
This is an old issue and I've opened a bug about it in Project Reunion. It also reproduces when you have GIMP open, or any program that holds a lock on the entire AppData folder.

https://github.com/microsoft/ProjectReunion/issues/101

[2021-04-08 13:24] sylveon commented on #4701
Is it possible to add an option to not copy the file still, since C++ based Xaml islands apps don't need the winmd.

[2021-04-08 13:33] alexdi220 opened #4767 "Popup's Width and Height don't affect the size of the content"
**Describe the bug**
Hi,
when I set the Width and Height properties of the Popup and opened it, the content will be invisible because its size is 0,0

**Steps to reproduce the bug**
[code]
[code]
**Expected behavior**
The size of the Grid (inside Popup) should be 100,100

**Screenshots**
https://i.imgur.com/jhoilXr.gif

**Version Info**

NuGet package version:

[WinUI 3 - Project Reunion 0.5: 0.5.

[2021-04-08 13:58] Jaiganeshkumaran commented on #4224
It would be nice to have Windows+Shift+Enter shortcut for full screen in all WinUI desktop apps

[2021-04-08 14:05] alexdi220 opened #4768 "Why the Child property of the Popup marked as EditorBrowsableState.Never?"
**Describe the bug**
So the title is a question. What reason? And what the best way to set Popup's content in code?

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

[WinUI 3 - Project Reunion 0.5: 0.5.0]

Windows app type:
| UWP              | Win32            |
| :--------------- | :-----

[2021-04-08 14:15] Jaiganeshkumaran opened #4769 "Modern title bar context menu"
Today WinUI desktop uses the old title bar context menu which is used in UWP apps and old Win32 apps while the tooltip is modern. This weird combination should be eliminated and the context menu should be a modern XAML one

[2021-04-08 14:25] alexdi220 commented on #4768
I guess should use the Content property

[2021-04-08 14:25] #4768 closed

[2021-04-08 14:28] Jaiganeshkumaran commented on #4769
Also the height of the custom "title bar icons" when the title bar is extended is very small compared to modern Windows apps making it inconsistent and not that touch friendly. I think the size should be same as most modern apps

[2021-04-08 15:11] oldnewthing commented on #4224
I don't think unilaterally going full screen the sort of thing the framework should be doing without the app's permission. Would only the island go full screen, and the non-WinUI app content just disappears? What if the app has multiple islands? Do they somehow negotiate to share the full screen equitably?

[2021-04-08 15:47] strathdeek commented on #4756
![Screenshot 2021-04-08 at 17 40 51](https://user-images.githubusercontent.com/24235448/114056138-a4f2fd80-9891-11eb-8f4a-5dd8c420ff5b.png)

@jevansaks Thanks for quick feedback! The windows version is 1909 Build 18363.1379 (see screenshot above). I believe the graphics card is an Intel UHD Graphics 620.

Do you have any suggestions for workarounds in the meantime?

[2021-04-08 16:13] jevansaks commented on #4756
Do you see it in any other apps in the system that use acrylic, like Settings or Calculator or Xaml Controls Gallery?

[2021-04-08 16:14] AghaKhan commented on #4746
Thank you for your reply.
I understand that DrawingImage as in WPF is not supported by WinUI.
Bust I was not asking for DrawingImage.
Now in dynamic chart (chart will be an image) we have to draw complex shape where one of them is a path. In WPF and even in SVG image we are using mini language to draw various shapes. How this can be done in WinUI?
Now suppose I am porting some other application to

[2021-04-08 16:16] strathdeek commented on #4756
No, we tested settings, calculator, etc.. and we were unable to reproduce the flickering.

[2021-04-08 16:23] AghaKhan commented on #4746
Hi:
I just looked and found out that WinUI does support mini language.
For example
<Path Stroke="DarkGoldenRod"
      StrokeThickness="3"
      Data="M 100,200 C 100,25 400,350 400,175 H 280" />

But that is not an image, where I was looking how I could create an image with mini language.

Best regards
Agha Khan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From:

[2021-04-08 18:05] winston-de commented on #4603
This seems to be resolved as of the latest preview, so I'm going to close this
![image](https://user-images.githubusercontent.com/59544401/114075171-1911af00-985a-11eb-8b73-7e4bc61e6184.png)

FYI though, this one is a little off.
![image](https://user-images.githubusercontent.com/59544401/114075231-2e86d900-985a-11eb-90ca-262a46a49373.png)

[2021-04-08 18:05] #4603 closed

[2021-04-08 18:26] #3900 closed

[2021-04-08 22:32] under3415 commented on #3780
Hi
I can confirm this is still an issue with the latest versions of UI XAML and Lottie:

- Microsoft.UI.XAML 2.6.0-prerelease.210405001
- Microsoft.Toolkit.Uwp.UI.Lottie v7.0.2

[2021-04-08 22:35] nickrandolph commented on #3685
What's the status of this - Seems to me that a common scenario would be for a WPF app that wants to make use of Project Reunion (and eventually winui3 via xaml islands - I know this isn't there yet). You'd have thought just adding project reunion ref to existing wpf project should just work?
cc @andrewleader I know that @dotMorten has raised this (https://github.com/microsoft/ProjectReunion/issues

[2021-04-08 22:41] andrewleader commented on #3685
@nickrandolph microsoft/ProjectReunion#593 was closed because it's fixed and will be released in the next servicing update. When Hui closed it, Hui left a comment explaining that.

Once that servicing update to 0.5 is released, you'll be able to use Project Reunion features like MRT Core from your WPF apps.

[2021-04-08 23:03] nickrandolph commented on #3685
Thanks @andrewleader (🤭 I missed the comment about it being fixed as was busy reading @dotMorten s comments lol)
 I assume this issue on WinUI repo can be closed too?

[2021-04-08 23:07] andrewleader commented on #3685
I think this specific issue thread is asking to be able to intermix WinUI and WPF (a.k.a. XAML Islands), which is a slightly different topic and not supported yet. I'll leave it up to the WinUI folks to decide whether they want to use this issue to track that request (or maybe they already have one for that, I haven't looked personally).

Although it sounds like the DockPanel from Windows Communit

[2021-04-08 23:08] asklar opened #4770 "Support text elements hit-testing"
**Describe the bug**

In several scenarios it is important to be able to hit test different text elements/sub-elements.
Apps and frameworks alike need to do it, and their implementations will invariably vary.
React-native-windows is having to implement this and "rolling our own".
For OS HandwritingView we also had to implement this.

RichEdit already supports hit-testing of text elements via [ITex

[2021-04-09 00:28] NathanBrooks commented on #4014
Has any more information been found on this?

[2021-04-09 01:48] nCastle1 commented on #4741
Possibly the same issue as https://github.com/microsoft/microsoft-ui-xaml/issues/3077

[2021-04-09 02:00] manodasanW commented on #4737
Some of the cast issues mentioned here should be resolved with the CsWinRT fix in .NET SDK 5.0.202.

[2021-04-09 02:34] codendone commented on #4676
I'm glad that's working for you. I'm closing this issue since this has been solved.

[2021-04-09 02:34] #4676 closed

[2021-04-09 04:37] Grinch commented on #4709
@codendone How does one work with preview builds specifically? I'm not seeing anything specific to using those off-hand.

[2021-04-09 05:56] jaigak opened #10419 "Rethink app back navigation once again"
# Proposal: Rethink app back navigation once again
Back navigation patterns are inconsistent across different apps and a unified, standard model should be introduced.

# Summary:

Before Windows 10, this was fairly straightforward. Each app would render its own in-app back button or even a forward button and handle it on its own. On Windows Phone though, there was a system-wide back button and whi

[2021-04-09 05:59] aqibbanday commented on #4709
@Grinch I think you need to install preview WinUI 3 project templates.

[2021-04-09 06:00] aqibbanday opened #4772 "Question: In preview is it possible to show window as a dialog like we do in WPF with window.ShowDialog(); method."

[2021-04-09 06:00] aqibbanday commented on #3685
It works.
Also: https://github.com/microsoft/microsoft-ui-xaml/issues/4772
https://github.com/aqibbanday/WinUIWPFSample

[2021-04-09 06:52] JeanRoca commented on #4140
We currently do not support the in app toolbar and are unsure of when we can prioritize this. If this is something that you would really like to see please provide feedback on your specific scenario.

Unfortunately, the earliest we could have them out of VS preview would be 16.10 GA :/

[2021-04-09 06:58] shelllet opened #4773 "The keyboard accelerator will cause webview2 to fail to respond to the English "." And the "delete" key"
1. can't input english '.' in editbox.
    load a url  with input control can reproduce。

2.  don't respond forward delete.
    load a url  with input control can reproduce。
3. conflict KeyboardAccelerator with key ='T'

[code]
If i press `t` and will trigger `f5` handler.
![image](https://user-images.githubusercontent.com/16729017/114141256-f2c83e00-9943-11eb-96e3-f243bca16d81.png)

[2021-04-09 07:53] Herdubreid commented on #3868
The good news is that I don't get an Exception, the downside however is that I can't get this to work at all.

Also, isn't there something missing for this handler to be called? (I assume the curly bracket repeat is just a typo):
[code]
My project:
https://github.com/Herdubreid/BgLabelControlApp

[2021-04-09 07:59] Banyc commented on #2499
Any update on this proposal?

[2021-04-09 08:17] thomasclaudiushuber commented on #4746
Hey @AghaKhan, yes, as I mentioned already, the Path shape and also Geometries support creating paths in XAML.

Regarding the image, you have different options in WinUI, like for example these:
a) Use Path shape, and if you need it as an Image source (I don't know why you want to do this), you could use [RenderTargetBitmap](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.ren

[2021-04-09 09:16] vijayarasan opened #4774 "How to Create the DataTemplate with Converter using StringBuilder(CodeBehind) in UWP ?"
I have tried to create the application with full code behind in UWP. But I have to get an exception. When I try to use XAML code it is working properly but the same code using StringBuilder Issue occurs.

Here is the working Xaml code:
[code]

Screenshot for your reference,
![WorkingXAMLCodeScreenShot](https://user-images.githubusercontent.com/58214164/114158109-f8248900-9941-11eb-8c86-7df26a24c09

[2021-04-09 09:19] vijayarasan opened #4775 "How to define the code behind Converter for Style applied in Button Control in UWP?"
I have tried to fully code behind display control in the UWP application. While Applying Style in Button control I need to use the Converter for apply style in Button control. But Unfortunately Converter not triggered for Button Control.

Here is my attempt to recreate it in CodeBehind, but it is unfortunately not working.

[code]
Screenshot for your reference,
![CodeBehindConverter](https://user-

[2021-04-09 12:34] billhenn commented on #4632
I believe I am running into the same thing in our app now.  I _think_ it started happening after upgrading to .NET SDK 5.0.202.

We have a PropertyGrid control and this line triggers an `ExecutionEngineException`, whereas it didn't used to:
[code]

The `this` is our `PropertyGrid` control, which inherits `ItemsControl`.

In our VS Output, I see:
[code]

And the stack trace is:
[code]

Is this a ne

[2021-04-09 12:37] kristianpinke commented on #125
@tipa What do you mean by "I can still use databinding"? Because when I do `IsSelected="{x:Bind IsChecked, Mode=TwoWay}"` IsChecked does not gets updated whenever I make changes on the UI.
Please don't get me wrong, I understand that I need to modify `SelectedNodes` to reflect UI changes from the code, but I want to have information in my ViewModel about IsSelected changes that were made on UI.
Di

[2021-04-09 12:47] billhenn commented on #4675
I was just about to post the same question.  My app starts up with 6 lines like this too:

[code]

I also see additional similar lines popping up as I navigate through our app's UI views.

I have no idea if it's something on my end but I'm guessing not.  It is pretty annoying to constantly see these lines in the VS Output though if they aren't legit issues that I need to address.

[2021-04-09 13:13] Gavin-Williams commented on #4675
Yeah, I hope Microsoft takes these reports (and there are several such reports) as an indication that they need to fix something. Too often the response I see is 'it's not an issue, so these messages can be ignored'.

Of course we ignore them, but we also don't want these messages to show up, it's a problem in Microsoft's code. We use debug output window for our own debugging purposes. If Microsof

[2021-04-09 13:21] billhenn commented on #4675
Coming from more of a WPF and WinForms background, I love how in those platforms you basically get a handful of lined-up assembly load output messages and then it's very clean for your own output beyond that.

[2021-04-09 14:58] Noemata opened #4776 "WinUI 0.5 Treeview not yet functional. Same UWP code causes exception in WinUI."
**Describe the bug**
The WinUI Treeview code is generating an exception in code that works correctly in UWP.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Goto https://github.com/Noemata/RosettaNavigation and create local copy of repo
2. Build and run TreeViewUwp1 solution.
3. Observe how it is supposed to run.
4. Build and run TreeViewWinUI1 solution.
5. Crashes on load.

*

[2021-04-09 15:00] Jaiganeshkumaran commented on #4761
An icon property of type BitmapImage can also be added so developers don't need to use ICO files and they can use other file types such as PNG, JPEG etc... and WinUI 3 will convert them automatically

[2021-04-09 16:14] jasonjtyler commented on #4750
Oops. I should have thought to update the SDK. That was sort of out of sight, out of mind to me. I was more focused on the NuGet package versions. Updating to 5.0.202 did resolve the issue, thank you very much!

[2021-04-09 16:14] #4750 closed

[2021-04-09 16:32] AghaKhan commented on #4746
Thank you.
I was able to resolve my issue.
Once again, for showing new ways to achieve my objectives.

Best regards
Agha Khan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Thomas Claudius ***@***.***>
Sent: Friday, April 9, 2021 1:17 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [microsoft/microsoft-ui-xaml] Drawing Image in XAML file (#474

[2021-04-09 17:25] billhenn commented on #4737
@manodasanW - I am on .NET SDK 5.0.202 and have a error when binding one POCO property of type `int?` (nullable Int32) to another dependency property on our `DoubleEditBox` control that is also type `int?`.

This is for code from UWP that is being ported to WinUI and never threw an error before in UWP.  In WinUI, I get this in VS output:

[code]

Is this a known issue?

To summarize it again:

- D

[2021-04-09 17:59] billhenn opened #4777 "Question: Is Window going to be enhanced with necessary properties/methods?"
_I apologize if others have asked similar questions but searching in the issues on "window" turns up thousands of results since almost every issue mentions the text "window" in it._

The WinUI `Window` class as it currently stands in Reunion 0.5 is not usable from a developer point of view and is missing the most basic things like [being able to set the icon that shows in the title bar](https://gi

[2021-04-09 18:00] billhenn commented on #4056
I added this question... feel free to comment and add support:  https://github.com/microsoft/microsoft-ui-xaml/issues/4777

[2021-04-09 18:25] drewbatgit commented on #3868
Thanks for catching this. In order for the changed handler to be invoked you have to register the callback:
[code]

The article has been updated with this change (and the superfluous brackets have been removed). Thanks again!

[2021-04-09 18:26] billhenn commented on #4769
In addition to making the context menu not look Win32 by default, it would be great to also have options to fully customize the title bar context menu too with custom menu items.

[2021-04-09 18:32] marb2000 commented on #4709
Closing the issue given it's a temporary limitation of the platform that will be solved, hopefully, for Reunion v1.

[2021-04-09 18:32] #4709 closed

[2021-04-09 19:11] marb2000 commented on #4777
Hi @billhenn

We are aware of the current implementation of Microsoft.UI.Xaml.Window lacks a lot of basic and expected functionality. This gap is even more significant when you compare it with the WPF/WinForm API set. We are want to add these functionalities to the Window class. However, per our current engineering plan, I don't believe we can do it by Reunion v1.0. These APIs can be workaround'ed

[2021-04-09 19:13] billhenn commented on #4777
Thank you, I appreciate the update @marb2000!

[2021-04-09 20:59] chingucoding commented on #3907
@MartinStrbak Can you see if this also repos with the latest WinUI 2 prerelease?

@StephenLPeters If this doesn't repo with latest prerelease, could this be closed than since the changes would only have to be backported to the next WinUI 3 release?

[2021-04-09 23:06] StephenLPeters commented on #4776
Do you have easy access to the callstack of the crash? :)

[2021-04-09 23:12] StephenLPeters commented on #4775
Instead of:
[code]
you should be doing this:
[code]

Also you shouldn't need to add the converter to a resource dictionary.  From code behind you can just do
[code]

[2021-04-09 23:13] #4775 closed

[2021-04-09 23:16] StephenLPeters commented on #4774
The string being produced by string builder doens't look equivalent to the xaml to me.  The string builder version has an element name property set to something which doesn't seem to exist?

[2021-04-09 23:20] StephenLPeters commented on #4773
@shelllet can you provide more information about your scenario? what is the editbox you are referring to? What do you mean by foreword delete, the delete key? what type of input control is being used.  Thank you!

[2021-04-09 23:21] StephenLPeters commented on #4772
I'm guessing no, but @MikeHillberg might know better.

[2021-04-09 23:23] StephenLPeters commented on #4769
@pratikone and @Austin-Lamb FYI

[2021-04-09 23:33] StephenLPeters commented on #4767
Pretty strange..  the height and width of the popup are being used to position the origin of the popup but aren't being used by the content of the popup in measure or arrange.

![image](https://user-images.githubusercontent.com/7758786/114250039-36757480-9951-11eb-8566-aa462322efee.png)

@kmelmon FYI

[2021-04-09 23:34] StephenLPeters commented on #4767
@alexdi220 you can set the height and width on the content root to work around thid.

[2021-04-09 23:38] StephenLPeters commented on #4766
This is because clicking outside of the color pickers is actually giving the outer scroll viewer the chance to handle the click, which it does by placing focus on its first element.  This is by design, although i'll admit that it is pretty weird.

[2021-04-09 23:39] #4766 closed

[2021-04-09 23:41] StephenLPeters commented on #4765
likely present in winui2 as well. I think we are likely just doing math wrong when these combinations of setting are used...

[2021-04-09 23:44] StephenLPeters commented on #4764
@karenbtlai FYI  I think this is likely an issue in winui2 as well.

[2021-04-09 23:47] StephenLPeters commented on #4763
UWP uses tfs 3 Islands uses tfs 1, which probably explains the difference.  This difference is, I think still present in winui between desktop and UWP apps.

[2021-04-09 23:48] StephenLPeters commented on #4763
https://docs.microsoft.com/en-us/windows/win32/tsf/text-services-framework

@Austin-Lamb FYI

[2021-04-09 23:50] StephenLPeters commented on #4762
@Scottj1s Is this the same cswinrt memory issue?

[2021-04-09 23:50] llongley commented on #4763
To expand on that, TSF 1 allows through the WM_CHAR message which is handled by the XAML input stack, which pays attention to the Handled property on the event args.  TSF 3, by contrast, handles the WM_CHAR message itself, so XAML never sees it and never has a chance to note that the event shouldn't be handled.

[2021-04-09 23:51] StephenLPeters commented on #4761
@pratikone and @Austin-Lamb fyi

[2021-04-09 23:52] StephenLPeters commented on #4760
@alwu-msft and @fabiant3 FYI

[2021-04-09 23:56] StephenLPeters commented on #4759
@ranjeshj I think this needs to be fixed for 2.6.   @ojhad thoughts?

[2021-04-09 23:56] StephenLPeters commented on #4759
@chingucoding I think I remember you looking at flow layout in the past, does this ring any bells?

[2021-04-09 23:57] StephenLPeters commented on #4759
@duke7553 are you putting custom types into your navigationview items?

[2021-04-09 23:58] StephenLPeters commented on #4758
Could be the cswinrt leak @Scottj1s

[2021-04-10 00:02] duke7553 commented on #4759
@StephenLPeters We're using a DataTemplateSelector (which it still crashes in release even when this isn't set).

We do have various custom types which act as the model for each item in their DataTemplate. One of them is LocationItem:

[code]

Example codebehind:
[code]

[2021-04-10 00:31] Noemata commented on #4776
@StephenLPeters , just run the sample for yourself.  I've pinpointed where the crash happens for you in the code comments.  I wish I got this level of information from my clients ;-)  These samples were built specifically to ease the process of vetting the remaining issues with UWP and WinUI.  Run them!

[2021-04-10 00:35] Noemata commented on #4758
@StephenLPeters , this looks to be something different.  It's a rather small leak.  The others are significantly larger in comparison.

[2021-04-10 00:36] Noemata commented on #4758
Also, you may want to take note of the performance gap highlighted by these samples when compared to UWP.  It is significant.

[2021-04-10 01:42] shelllet commented on #4773
i use webview2 to load monaco-editor .
yeah, it's delete key , i'm sorry for  my spell error.

I found it why,  i defined `MenuFlyout` in projectpanel.  simple project to reproduce: https://github.com/shelllet/simple

[2021-04-10 01:56] AghaKhan commented on #4746
Hi:
Is there any working sample using 3D model?
Best regards
Agha Khan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Agha ***@***.***>
Sent: Friday, April 9, 2021 9:32 AM
To: ***@***.***>
Subject: RE: [microsoft/microsoft-ui-xaml] Drawing Image in XAML file (#4746)

Thank you.
I was able to resolve my issue.
Once again, for showing new ways to achieve my obj

[2021-04-10 03:08] codendone commented on #4204
Thanks for that repro, @syncsiva! I'm able to hit an issue with that, and see the app getting stuck forever doing layout. I didn't easily find a cause for that, so I'll need to spend more time debugging.

[2021-04-10 04:24] Jaiganeshkumaran commented on #3840
No please focus on adding acrylic first before WinUI 3.0

[2021-04-10 05:21] Jaiganeshkumaran opened #4780 "Proposal: Single instance WinUI desktop apps"
# Proposal: Single instance WinUI desktop apps
Unlike UWP apps which are single instance and for multiple instances need to be enabled manually, Win32 apps are multi instance by default. While this is fine for most apps, some apps particularly need single instancing and today WinUI desktop doesn't provide a way to do that easily.

## Summary
Add a property named SingleInstance in the App class. If

[2021-04-10 05:42] Jaiganeshkumaran commented on #4780
See also https://github.com/microsoft/ProjectReunion/issues/111

[2021-04-10 08:06] Herdubreid commented on #3868
Thanks for clearing that up @drewbatgit

I can successfully set a breakpoint on the handler, so the property is definitely updated.
I can't however get it to show up.

You can check my code here: https://github.com/Herdubreid/BgLabelControlApp

[2021-04-10 09:42] Jaiganeshkumaran opened #4781 "Add width, height, minimum height and minimum width property in the Window class"
Add properties to change the width, height, minimum height and minimum width of a WinUI 3 desktop or UWP app window.

[2021-04-10 10:15] gscheartA opened #4782 "Is there any method or workaround to use system tray in WinUI3 desktop App?"
I am developing a **desktop app** using winui3, and I am going to put the app into **system tray** after user closing it by X button. Only user right click the icon in system tray and choose exit then the app could be finally closed.
I am not sure if currently there is any API related it. If no, is there any workaround to get it? Thank you for your kindly help.

[2021-04-10 10:32] chingucoding commented on #4759
Looking at the stacktrace, it seems that it crashes because measuring the NavigationViewItem objects fails. Flowlayout shows up because ItemsRepeater meaasures everything for layouting purposes, when it encounters an element that fails to measure properly, flowlayout would be the first to notice.

[2021-04-10 11:32] agnauck commented on #693
I really like this proposal 👍
Currently I implemented my own derived Frame which is using property injection.

Here is a nice UWP project using the same approach:
https://github.com/MrCSharp22/UWP-IoC

[2021-04-10 12:23] chingucoding commented on #4759
Hmm, not sure if I did everything correct but I wasn't able to repro this issue. @duke7553 if you have the time, it would be amazing if you create a repro app that can be used to dig into this.

[2021-04-10 13:13] pjmlp opened #4783 "Proposal: Support WPF 3D capabilities on WinUI"
# Proposal: [3D Support on WinUI]

WPF has support for 3D programming on LOB applications, without having to leave .NET languages.

https://docs.microsoft.com/en-us/dotnet/desktop/wpf/graphics-multimedia/3-d-graphics-overview?view=netframeworkdesktop-4.8

WinUI should provide similar support as upgrade path.

## Summary

Basically port the XAML controls and .NET classes from WPF into WinUI, used b

[2021-04-10 14:30] duke7553 commented on #4759
@chingucoding I hate to give you an app which has unrelated code, but I can only reproduce this one in Files main branch which should reference the latest WinUI preview.

https://github.com/files-community/Files

[2021-04-10 19:07] LouChiShu opened #4784 "Does/Will WinUI 3 have support for movable/dockable panels"
As the title says, does or will WinUI 3 have support for movable/dockable panels. I would like make a 3D engine project and one of the features I would like would be the ability to resize move and dock the various panels as the user sees fit. Moving the panels to a separate window would be a bonus, but not necessarily required.

[2021-04-10 21:39] JanRajnoha commented on #4140
It's okay without it, but some mention would be nice for other people. Maybe I missed it in docs.

[2021-04-11 02:41] shelllet opened #4785 "Question: Reunion 0.5 preview features :Multi-window support in desktop apps"
when i create multi-window, but run error:
[code]
but the doc(https://docs.microsoft.com/en-us/windows/apps/winui/winui3/release-notes/winui3-project-reunion-0.5-preview) says:

Support for multiple windows in desktop apps is in progress, but not yet complete and stable.
Please file a bug on our repo if you find new issues or regressions with multi-window behavior.

[2021-04-11 02:52] Jaiganeshkumaran opened #4786 "Add property to show or hide the icon on the title bar"
Add a property named ShowIcon for the Window class which decides whether to show the icon in the title bar or not.

[2021-04-11 04:51] JaiganeshKumaran opened #4787 "[C++/WinRT] Two way binding from String to IInspectable not compiling"
**Describe the bug**

Binding a string two way to a control where the property is actually an IInspectable and not an hstring doesn't seem to compile.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Define a string in IDL and implement INotifyPropertyChanged
2. Try binding it to a control's property where the type is an IInspectable and not a hstring
3. See error

**Expected b

[2021-04-11 05:02] Jaiganeshkumaran opened #4788 "Proposal: Supported old INotifyPropertyChanged and IValueConverter interfaces"
Many code have been written to use Windows.UI.Xaml.Data.INotifyPropertyChanged and Windows.UI.Xaml.Data.IValueConverter. With WinUI 3, these interfaces can't be used as it only knows about Microsoft.UI.Xaml.Data.INotifyPropertyChanged and Microsoft.UI.Xaml.Data.IValueConverter respectively. These interfaces are exactly the same except the GUID, so why not let them be used for data binding and for

[2021-04-11 09:31] sigmarsson commented on #4374
@asklar frankly, no idea. It is however an old element introduced in `Windows 10.0.10240.0`.

[2021-04-11 09:38] sigmarsson commented on #4303
@ranjeshj , will you provide an alternative of `CoreApplication.CreateNewView()` , if so what version ? Or would you please share your take on what @vitorgrs is demonstrating ?

[2021-04-11 12:47] mrjfalk opened #4789 "Access violation at startup when targeting x86"
**Describe the bug**
When I'm launching a new WinUI Desktop app and compiling for x86 the app crashes at startup (before any window is visible) with the exception:

Exception thrown at 0x1000B481 (HsSrv.dll) in TestWinUI.exe: 0xC0000005: Access violation reading location 0x019A0000.

If I switch to x64 the app runs fine.

**Steps to reproduce the bug**
1. Create a new WinUI app with the template "

[2021-04-11 12:56] jindal1979 commented on #4682
Will there be incremental release for bug fixes before next major release for 0.5 version.

[2021-04-11 15:32] Jaiganeshkumaran commented on #4780
The problem with this is that the main process doesn't know it's window has been activated through a new process. It should be possible but then you can't use the same OnLaunched method and instead a custom one

[2021-04-11 18:38] Noemata opened #4790 "WinUI 0.5 Crashes when using NavigationView, exact same code works correctly in UWP."
**Describe the bug**
There appears to be a cross threading bug in WinUI when the NavigationVIew control is used.  The exact same code works as expected in UWP.  WinUI crashes on start because of this problem.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create local copy of repo at: https://github.com/Noemata/RosettaNavigation
2. Build and run the NavigationViewUwp1 project

[2021-04-11 19:28] duke7553 commented on #4327
Fixed in Reunion v0.5. Closing this now

[2021-04-11 19:28] #4327 closed

[2021-04-11 21:44] chingucoding commented on #4759
After debugging it a bit, it seems like an issue with the Version 2 styles, more importantly probably with the NavigtaionViewItem(Base) one as those crash in `MeasureOverride`.

[2021-04-12 00:55] Noemata commented on #4789
@mrjfalk , I've never seen this happen.  I've created dozens of x86 WinUI apps.  Based on the failing DLL, perhaps your audio interface components need an update.

[2021-04-12 02:09] hupo376787 commented on #4002
Closing as no one uses it.

[2021-04-12 02:09] #4002 closed

[2021-04-12 02:14] #3455 closed

[2021-04-12 02:27] #868 closed

[2021-04-12 02:41] dbeavon opened #4791 "Question: Support for MAUI on WinUI in a WPF application window"
Congratulations on the WinUI release for desktop applications!

_(If I understand correctly, the MAUI team is already starting to use WinUI, and relies on it as the underlying technology for
targeting the windows desktop.  Apparently they have a preview release that makes use of WinUI for desktop applications.)_

My question is in regards to the following three technologies for building "native U/

[2021-04-12 03:04] marb2000 commented on #3717
It's unlikely that this scenario will be enabled by the next release of XAML Islands.  XAML Islands content (the WinRT types used) requires registering the classes that will be used by the Island. This registration is done in the application manifest, which goes with the EXE of your app. Given this is a plugin and I guess you won't be able to add the info to the manifest, you won't be able to load

[2021-04-12 03:05] #3717 closed

[2021-04-12 06:23] BorzillaR commented on #4461
@manodasanW, thank you!
I have updated NET 5 SDK to v. 5.0.202. All works as expected now.

[2021-04-12 06:42] alexdi220 commented on #4767
Thank you @StephenLPeters . I've seen this way

[2021-04-12 08:03] Marv51 commented on #4785
Are you using the 0.5 preview or the 0.5 release? The multi window support is a preview feature that is in the 0.5 preview (see also the release notes you linked to) but as with all preview features has been removed from the 0.5 stable release.

See also this comment: https://github.com/microsoft/microsoft-ui-xaml/issues/4777#issuecomment-816900808

[2021-04-12 08:46] gscheartA opened #4792 "No alternative method for App_Closing or CloseRequested?"
I am try to develop a **desktop App** using WinUI 3 0.5. I am researching a method to prevent native close event and replacing with other code. I found that App_Closing, Closing and even CloseRequested method could not work currently which caused by remove of  GetForCurrentView and some other API.
May I know if there is any method to prevent the native close event of the App and execute some other

[2021-04-12 09:10] shelllet commented on #4785
yeah!

this is `packages.config` content.
[code]

[2021-04-12 09:19] shelllet opened #4793 "Bind Resource 's property will cause compilation error."
[code]

compile error:
[code]

if i bind `Hotkey`  the compliation is successfule. i don't know why?

[2021-04-12 14:03] rmbl-xD commented on #4710
I am also looking forward for the CaptureElement. I think it is necessary for the MediaCapture class to show a preview.

[2021-04-12 14:12] jschwizer99 opened #4794 "WebView2 is blank if other applications like e.g. Inkscape are running"
**Describe the bug**
When other applications are running that lock the ApplicationFolder any WebView2 will remain blank. The issue is most likely related to https://github.com/microsoft/microsoft-ui-xaml/issues/4725#issue-849401247. I guess a workaround would be redirecting the cache folder of the webview to the local folder of the application. This would require access to ` CoreWebView2Environmen

[2021-04-12 14:22] BobPalank opened #4795 "C++ WinUI 3 Desktop App"
C++ WinUI 3 Desktop App:
When I start a new application, I use the CPP/CLR controls toolbox to build the GUI for the app by dropping controls on the form.
How do I drop controls on a form do in WinUI 3 ?
Bob

[2021-04-12 15:54] Tam66662 opened #4796 "Adding Microsoft.Toolkit.Uwp.UI.Controls nuget package to UWP project breaks XAML Islands WPF app"
**Describe the bug**
I have a functioning WPF app that hosts a UWP user control, using XAML Islands. I wanted to add a RadialGauge UWP control to my UWP project, but simply adding the Microsoft.Toolkit.Uwp.UI.Controls nuget package to my UWP project prevents the WPF app from launching anymore.

**Steps to reproduce the bug**
1. Follow Microsoft's guidance on [hosting a standard UWP control inside

[2021-04-12 16:53] StephenLPeters commented on #4759
Thanks for the added information both of you!

[2021-04-12 18:14] FrayxRulez opened #4797 "Properly support CurrencyFormatter in NumberBox"
**Describe the bug**

Currently, it is possible to set a custom `INumberFormatter2` to a `NumberBox` to format the values typed by the users.
However, this doesn't seem to work properly when `Formatter` is set to a `CurrencyFormatter`.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set a `CurrencyFormatter` as `NumberBox.Formatter` (current setup: EUR, it-IT).
2. Launch the a

[2021-04-12 18:24] FrayxRulez commented on #4797
Ok, I figured out that's not definitely your fault and that I can workaround this on my side

[2021-04-12 18:24] #4797 closed

[2021-04-12 18:32] mandalorianbob opened #4798 "Discussion: Scheduling work to the UI Thread via Task Scheduler instead of Dispatcher"
# Discussion: Scheduling work to the UI Thread via Task Scheduler instead of Dispatcher
I was recently talking with my team about the relationship between Tasks, Task Scheduler, Synchronization Context, and the Dispatcher, and I realized that the typical pattern for scheduling work to the UI Thread was odd. You either pass the Dispatcher to the relevant classes or call Windows.ApplicationModel.Cor

[2021-04-12 21:17] chingucoding commented on #4759
Also, @StephenLPeters I am looking to this issue, feel free to assign this to me.

Also also, if we can't find a way to repro this in MUXC test app, is it still fine to create a PR?

[2021-04-12 22:19] dannyp32 opened #4800 "Navigation view separator line does not update when the size of the content changes. Only updates when the window is resized."
Navigation view separator line does not update when the size of the section content changes. Only updates when the window is resized. Ignore the separator line above settings in the screenshot. That one is added by our code.

To repro make the content there visible, then collapsed it. The separator will still appear at the height where it should have been when the content was visible.

![image](ht

[2021-04-12 22:59] chrisglein commented on #4651
Could be a way for apps to workaround platform limitations (stuff like #4443). Would be good to fix the underlying issues and provide something beyond `StaticResource`/`ThemeResource`, but that's a much larger proposition and this would likely be inexpensive in comparison. Interesting suggestion.

[2021-04-12 23:11] StephenLPeters commented on #4800
@ranjeshj and @karenbtlai FYI

[2021-04-12 23:14] StephenLPeters commented on #4798
@Austin-Lamb can you weigh in?

[2021-04-12 23:15] StephenLPeters commented on #4796
@michael-hawker does WCT support xaml islands?

[2021-04-12 23:18] StephenLPeters commented on #4795
It sounds like your talking about some UI design tool. Can you provide a link to the "CPP/CLR controls toolbox" you are referring to?  The VS designer is not supported by winui3 currently.

[2021-04-12 23:19] StephenLPeters commented on #4794
potentially related: https://github.com/microsoft/microsoft-ui-xaml/issues/4725

[2021-04-12 23:19] StephenLPeters commented on #4794
@codendone and @anawishnoff FYI

[2021-04-12 23:22] StephenLPeters commented on #4793
Looks like a xaml compiler bug,  @RealTommyKlein and @fabiant3 .

@shelllet can you provide a repro app?

[2021-04-12 23:24] StephenLPeters commented on #4792
@marb2000 @Austin-Lamb and @MikeHillberg FYI

[2021-04-12 23:26] StephenLPeters commented on #4791
@ryandemopoulos FYI

[2021-04-12 23:28] StephenLPeters commented on #4790
@ojhad FYI

[2021-04-12 23:32] StephenLPeters commented on #4789
I agree with Noemata. I don't think this is related to our package. A quick search seems to point at sound drivers.  Very strange...  @alwu-msft Just in case do you have any ideas?

[2021-04-12 23:34] StephenLPeters commented on #4788
@MikeHillberg FYI

[2021-04-12 23:36] StephenLPeters commented on #4787
@RealTommyKlein FYI

[2021-04-12 23:41] StephenLPeters commented on #4786
@pratikone and @Austin-Lamb FYI.

I would think this would be the same API as the one suggested here https://github.com/microsoft/microsoft-ui-xaml/issues/4056 and here https://github.com/microsoft/microsoft-ui-xaml/issues/4777 and that setting the window's Icon to null would cause it to hide.

[2021-04-12 23:42] StephenLPeters commented on #4785
@Marv51 is correct, multi window support is currently a preview feature and not present in the 0.5 release bits. If you want to experiment with the feature you can use the prerelease package.

[2021-04-12 23:43] #4785 closed

[2021-04-12 23:46] StephenLPeters commented on #4784
This should be possible to do today with windowed popups and drag and drop. But we don't have a control designed to do this. I think it is a possibility, you should open a feature request :) @ranjeshj and @MikeHillberg and @ryandemopoulos

[2021-04-12 23:47] shelllet commented on #4785
tks

[2021-04-12 23:48] StephenLPeters commented on #4783
@codendone FYI

[2021-04-12 23:49] StephenLPeters commented on #4782
similar to https://github.com/microsoft/microsoft-ui-xaml/issues/4792  @MikeHillberg and @Austin-Lamb and @marb2000

[2021-04-12 23:50] StephenLPeters commented on #4781
@marb2000 FYI

[2021-04-12 23:53] StephenLPeters commented on #4759
I think we need to fix it. Not being able to repro in our app doesn't change that :)

[2021-04-12 23:54] #4784 closed

[2021-04-13 00:03] marb2000 commented on #4792
I wrote a sample that implements the Window.Closing event in Reunion 0.5 GA. You can find it [here](https://github.com/marb2000/DesktopWindow). It should be good enough for this release because we only allow one Window per app, so basically closing the Window is like closing the app.

[2021-04-13 00:03] #4792 closed

[2021-04-13 00:19] marb2000 commented on #4782
It's not a built-in feature of WinUI3 and I don't have a sample that demonstrates how to do it. @dotMorten do you have any?

These are good docs to reuse from Win32 APIs and encapsulate it into a helper like the @dotMorten [sample](https://github.com/dotMorten/WinUIEx/) or [mine](https://github.com/marb2000/DesktopWindow).

[2021-04-13 00:25] marb2000 commented on #4781
Thanks for opening this proposal @Jaiganeshkumaran, It's something that we want to add to the Window class when we finish first with the top blocker issues. Honestly, per the current engineering plan, I don't believe this will happen for Reunion 1.0 in Fall 2021. However, I have created this [sample](https://github.com/marb2000/DesktopWindow) that implements these behaviors.

[2021-04-13 00:27] marb2000 commented on #4781
Also, this is a dupe of #2731, so closing this request,

[2021-04-13 00:27] #4781 closed

[2021-04-13 00:38] adderthorn commented on #2731
Is there a workaround for **getting** the current size? I am working on an app whose layout is dependent on physical window size and just want to read the width of the window and am struggling to do so.

[2021-04-13 01:24] mdtauk commented on #2731
Would that size include any window borders, and titlebar height, or just the client drawing area?

[2021-04-13 01:43] adderthorn commented on #2731
Ideally, just the client size.

On Mon, Apr 12, 2021, 21:24 Martin Anderson ***@***.***>
wrote:

[2021-04-13 02:23] dotMorten commented on #4782
@marb2000 @gscheartA Yes my repo does show how to minimize to tray here: https://github.com/dotMorten/WinUIEx/blob/3aaa34b58c488dba054e80311bfc3aa1cc772950/src/WinUIExSample/MainWindow.xaml.cs#L70-L80

[2021-04-13 03:29] marb2000 commented on #2731
You can find a couple of helpers in GitHub that tell you the width and height of the Window. using Win32 APIs,
[WinUIEx](https://github.com/dotMorten/WinUIEx/) from @dotMorten  and [DeskopWindow](https://github.com/marb2000/DesktopWindow).

To get the size of the client area you should ask for the size of the [XamlRoot](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.xamlroot.

[2021-04-13 04:00] shelllet commented on #4793
When i create a new app, the compliation is successfule.  this is a weird question.
It takes a long time to troubleshoot this problem，so i closed this qustion first.

[2021-04-13 04:00] #4793 closed

[2021-04-13 04:57] mrjfalk commented on #4789
I do have the latest driver, and I've used this sound card for a very long time, and it has never caused issues like this before developing eg uwp, wpf, c++ apps, etc. So even if it is caused by the sound card driver winui should not crash.

[2021-04-13 07:00] #4664 closed

[2021-04-13 08:02] rajeshangappan commented on #3780
Please anyone suggest which version is working fine for store submission. I tried the below version and facing some other exceptions.
Microsoft.UI.Xaml - 2.5.0-prerelease201202003 and Lottie - 6.1.0

[2021-04-13 08:50] jp-weber commented on #3780
@rajeshangappan
I have successfully made the store submission with the following packages in the last days:
Microsoft.UI.Xaml -2.6.0-prerelease.210227001 & the newest Lottie version.

[2021-04-13 09:14] KanniyappanP opened #4802 "Popup theme resource binding not working"
I'm using the Popup control in my custom gallery control, and when I load/switch the theme to Dark in the application, the Popup background and foreground are not updated, but the colors are updated to the popup child via **theme resource** binding.

When I did this with template binding, this issue did not occur, and it only occurred in desktop applications, while UWP applications worked fine.

*

[2021-04-13 09:20] HppZ opened #4803 "Question: Non-shareable objects are not allowed on Style Setters"
why can't I do this:
![image](https://user-images.githubusercontent.com/12285582/114529467-8e2b1d00-9c7c-11eb-9947-c2b956c20b93.png)

[2021-04-13 09:30] KanniyappanP commented on #4802
Hi Team,

I have created this issue in ProjectReunion portal, Please find the link below.

https://github.com/microsoft/ProjectReunion/issues/722

[2021-04-13 09:45] JohnnyWestlake commented on #4798
```First, the documentation tells you to create a Task Completion Source for async code, haha```

You laugh this off, but what is wrong with this approach? Most people will wrap this up in an extension method for Dispatcher and be on their merry way.

[2021-04-13 10:14] Herdubreid opened #4804 "Mouse right-click in TextBox crashes the application"
**Describe the bug**
Mouse right-click in TextBox crashes the application.

**Steps to reproduce the bug**
- Create new WinUI 3 in Desktop project.
- Add a TextBox to MainWindow.xaml
[code]
- Run the application
- Right-click with the mouse pointer inside the TextBox

**Expected behavior**

Application doesn't crash.

**Screenshots**

**Version Info**

NuGet package version:

WinUI 3 - Project Reu

[2021-04-13 11:22] KarthikRajaAKR opened #4805 "Compact mode sizing not applied for ContentDialog"
**Describe the bug**
Compact sizing is not applied for the content of ContentDialog.

**Steps to reproduce the bug**
1. Run the attached sample. Compact Mode is set for the whole page.
2. Click Show editor button
3. Note that Compact sizing is not applied for the TextBoxes inside ContentDialog. But compact sizing is applied for the Textboxes of MainPage alone.

**Expected behavior**
ContentDialog

[2021-04-13 11:23] LeftTwixWand opened #4806 "WinUI 3 & Reunion 0.5 error: Microsoft C++ exception: winrt::hresult_error at memory location 0x..... when NavigationView is using"
**Describe the bug:**
Impossible to use NavigationView component in WinUI 3 and Project Reunion 0.5.

**Steps to reproduce the bug:**
All you need to do for the bug reproducing, is to add NavigationView item to your XAML code:
[code]

**Screenshots:**
![image](https://user-images.githubusercontent.com/50652041/114544395-39c77380-9c63-11eb-81a9-5c0dd704e009.png)

**Version Info**

NuGet package ver

[2021-04-13 12:12] Noemata commented on #4789
@mrjfalk , I would tend to agree.  All I can suggest is to update the OS to the latest bits, update VS2019, and simplify the execution environment.  Temporarily disable any background tasks (if you have something like an animated desktop, etc.).  Also, don't have any other processes running concurrently with Visual Studio.  If that doesn't work, you may have to try an exorcism on your PC, making s

[2021-04-13 12:37] Noemata commented on #4806
@LeftTwixWand , same.  Looks like you narrowed it down further.  When I singled stepped through initialization, I was able to get to a running state, so I assumed it was a bit more complicated and related to a background thread.  Regardless, NavigationView is presently unusable with WinUI.

[2021-04-13 13:33] LeftTwixWand commented on #4806
@Noemata, unfortunately, WinUI 3 is not open source yet, and we can't to check what is happening inside(
Even if I'll get a source code of components from the generic.xaml file, I can't see the C++ code with a logic.
So - we just have to waiting for a fix from the Microsoft guys.

[2021-04-13 15:04] Noemata commented on #4806
@LeftTwixWand , indeed, we must wait.  Hopefully, Microsoft will change its definition of production ready.  This release is a curious kind of production grade.

[2021-04-13 15:20] nbevans opened #4807 "UWP .appinstaller which depends on Microsoft.UI.Xaml crashes when ran through App Installer"
If the .appinstaller file specifies a Dependencies Package for Microsoft.UI.Xaml then when ran via App Installer it will crash. If ran via PowerShell's Add-AppxPackage using the -AppInstallerFile option, it does not crash.

App Installer does not have an issues board so there is nowhere else to report this except here.

[2021-04-13 15:36] Noemata commented on #4804
Screenshot of where it crashes:

![image](https://user-images.githubusercontent.com/6632315/114579914-573d1300-9c4c-11eb-9ac8-626dc7b7181b.png)

Just including the control is enough to cause the crash on a right click.

[2021-04-13 15:40] Noemata commented on #4804
Having devs do all the unit testing results in problems like the one above.  Developers are too well behaved and scoped when evaluating their own work.

[2021-04-13 16:00] BorzillaR opened #4808 "Question: How to create a custom effect for Compositor.CreateEffectFactory?"
Hello!

I wonder if it possible to create a custom IGraphicsEffect for ProjectReunion (Desktop) application using C#? Is there a sample how to do this?

[This](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.composition.compositor.createeffectfactory?view=winui-3.0) article says that I can use effects from Win2D library, but I did not find an article about writing the custom effect

[2021-04-13 16:48] chrisglein commented on #4557
Confirmed that on UWP XAML that this works and falls back to an implicit ToString conversion.
So there's something wrong here in either CsWinRT or WinUI3.

[2021-04-13 17:02] dotMorten commented on #3658
@codendone Any update on this? Sounds like an easy fix, and some might consider this a breaking change down the line once it's v1.0

[2021-04-13 17:07] mandalorianbob commented on #4798
Well, a couple things. There's the (perhaps minor) performance implications of the extra allocations.

However, there's a kind of "architectural" concern to me of passing an async lambda to an async method within an async method - and then having to use a TCS in order to tell when it's finished. I'm not saying TCS only has one purpose, but usually you don't find it being used to indicate when Task

[2021-04-13 17:22] smourier commented on #4670
Hi, any new about this?

[2021-04-13 17:49] huoyaoyuan commented on #4806
When the exception caught by VS, press F5 and continue works for me.

[2021-04-13 17:51] huoyaoyuan commented on #4803
Non-sharable objects should be set with templates, including ControlTemplate and DataTemplate. You can use ContentPresentor and its ContentTemplate for simple scenario.

[2021-04-13 20:14] omikhailov commented on #4798
There is nothing wrong in using TaskContinuationSource with Dispatcher - it asynchronously places delegate in the queue, nothing more. And this is exactly what you want in 99% of cases - just fire and forget.
If subject is what is the purpose of the Dispatcher, there is at least one obvious answer: UI runs in STA and priority queue is only way to set priorities for UI updates.

[2021-04-13 20:19] Marv51 commented on #4513
Experience seems somewhat better with the Reunion 0.5 stable release to me. Closing for now.

[2021-04-13 20:19] #4513 closed

[2021-04-13 20:34] under3415 commented on #3780
If you are on version 2.5, it worked in 2.5.0-prerelease.201202003, but not the release 2.5.0

[2021-04-13 20:44] mandalorianbob commented on #4798
For context: My understanding from reading the WPF ref source, is that there is a SynchronizationContextTaskScheduler that schedules work to the SynchronizationContext.Current - which is itself a DispatcherSynchronizationContext that queues work to the Dispatcher.

So, again as far as I understand it, on the UI thread Tasks are scheduled to the Task Scheduler, which posts to the Sync Context, whic

[2021-04-13 23:05] StephenLPeters commented on #4808
@jeffStall FYI

[2021-04-13 23:11] StephenLPeters commented on #4807
@nbevans is this also an issue for the prerelease versions of the Microsoft.UI.Xaml nuget package?

@jevansaks do you know if AppInstaller supports framework package dependencies?

[2021-04-13 23:13] StephenLPeters commented on #4806
@ojhad FYI

[2021-04-13 23:21] StephenLPeters commented on #4805
It looks like you've added the Compact.xaml file to the resources of your Page.Resource dictionary.  ContentDialog unparents its children from itself and moves them into a popup which is not parented to the page (its parented to the application's popup root).  Thus when the textbox's in the ContentDialog resolve their style they wont see your page level resource dictionary.  If you set the XamlCon

[2021-04-13 23:22] #4805 closed

[2021-04-13 23:22] StephenLPeters commented on #4805
Feel free to comment here if you have more questions about this.

[2021-04-13 23:26] StephenLPeters commented on #4804
Is this another first chance exception that can be continued through?

[2021-04-13 23:32] StephenLPeters commented on #4803
You cannot do that because styles are shared across all instances of a control.  So this style will be applied to every button.  This style will try to set the Button.Content property to the instance of the Grid that is owned by the style.  When that grid is parented to a second button via the content property, we'd be attempting to give a UI element 2 parents, which is not how the UI tree design

[2021-04-13 23:32] #4803 closed

[2021-04-13 23:32] StephenLPeters commented on #4803
Feel free to ask more questions here if you want :)

[2021-04-13 23:36] StephenLPeters commented on #4802
@MikeHillberg and @bartekk8 I don't know what could cause this difference between UWP and desktop apps for resource resolution.  It kinda seems like the popup root either doesn't have or isn't receiving RequestedThemeChanged events.

[2021-04-13 23:37] StephenLPeters commented on #4802
@codendone Assigning to rendering as the popup owner.

[2021-04-13 23:39] ethindp commented on #2488
@kennykerr I'd love to see how creating a WinUI app is right now. It might be clunky, but I'd still love to see how far I can take it so long as the way to do it is at least somewhat documented. Example code would be wonderful to have.

[2021-04-13 23:47] jevansaks commented on #4807
I haven't explicitly tried it, but all store apps have a package dependency on either VCLibs or .NET Native (or both) so package dependencys *should* work. @nbevans can you share a package that repros this crash?

@drustheaxe, any ideas? We should transfer this problem to the ProjectReunion repo as MSIX issues are being actively addressed over there.

[2021-04-14 01:06] DrusTheAxe commented on #4807
AppInstaller the app? Should honor *.appinstaller files, which do support dependencies

If you 'transfer' the issue please include cwruss (Carl) who'll know more (including if/who else to pull into the issue)

[2021-04-14 01:12] Herdubreid commented on #4806
There is a simple workaround for this, as explained in https://github.com/microsoft/microsoft-ui-xaml/issues/4496#issue-829730597

[2021-04-14 01:18] llongley commented on #3780
@under3415 Do you have or could you create a repro app that you could share, by any chance?  I created a test app that includes Lottie 7.0.2 and WinUI 2.6.0-prerelease.210405001, and the AppX produced passes WACK metadata tests, so I haven't been able to repro the issue you're seeing.

[2021-04-14 01:48] under3415 commented on #3780
This issue is not picked up by the certification app, or even in the Store in the test flight!
It is only rejected by the Store when you try to submit to "production", so it is really hard to test and replicate.
You have to deploy the app to the public store to see the issue.

[2021-04-14 02:52] ti82 opened #4811 ""Cannot find a Resource with the Name/Key" when ResourceDictionary contains one resource"
**Describe the bug**
A runtime UnhandledException occurs when a StaticResource references a resource defined in a ResourceDictionary B that only contains a single resource, which itself has a StaticResource to another ResourceDictionary A. Both ResourceDictionary A and B are included in App.xaml as MergedDictionaries.

**Steps to reproduce the bug**
1. Create a new project using the blank UWP temp

[2021-04-14 02:59] HppZ opened #4812 "Question: How to create an object with parameters in XAML"
`<CustomControl Property="1, test"></CustomControl>`
`Property` is of type `Test` with constructor:
`public Test(int i, string str){}`

[2021-04-14 04:18] HppZ opened #4813 "Question: How to reuse VisualStateManager.VisualStateGroups"

[2021-04-14 04:19] HppZ commented on #4803
Thanks~

[2021-04-14 04:29] JaiganeshKumaran opened #4814 "Proposal: Enable WinUI 3 Desktop apps to detect whether the shell is in tablet mode"
# Proposal: Support UIViewSettings in desktop apps
It seems like WinUI 3 doesn't support it in desktop apps anymore but UIViewSettings is very much relevant since Windows still runs on tablets (don't forget that) and UIViewSettings is required to detect whether the shell is in tablet mode or not so the app can adapt for a touch friendly layout when running in tablet mode and a mouse optimized layo

[2021-04-14 04:41] Jaiganeshkumaran commented on #2500
Please use MSIX if you need an installer. Keep it unpackaged only if you don't need an installer

[2021-04-14 04:44] codendone commented on #3658
I agree, and I had hoped we'd get to this sooner. This is scheduled to be fixed for 0.8, and hopefully will be completed around the end of April.

[2021-04-14 06:30] nbevans commented on #4807
I tried the latest prerelease nuget and no; it seems not an issue now because when generating the Appx Package the .appinstaller no longer specifies the Microsoft.UI.Xaml dependency. Bizarre.

However I cannot use the prerelease because it breaks some styling that Xamarin Forms controls.

[2021-04-14 06:38] susmitha-sundar commented on #4244
Hi Team,

Any update on this?

[2021-04-14 07:10] huoyaoyuan commented on #4414
Confirmed that fixed by VS 16.9.4 and .NET SDK 5.0.202

[2021-04-14 07:10] #4414 closed

[2021-04-14 08:37] AtosNicoS opened #4815 "ContentDialog BorderThickness gets ignored"
Setting the Borderthickness of a ContentDialog gets completely ignored. I wanted to remove the border and the only workaround I found is to set the color to the exact same as the background color. I am using windows build 19041

[2021-04-14 11:37] LeftTwixWand commented on #4806
So strange. In one project I can just skip the error, and it will work. But in another, any manipulations with a NavigationView also will throw an exception: `Access violation reading location`

[2021-04-14 11:50] wbokkers opened #4858 "WebView2 will raise the F5 keyboard accelerator when pressing the t-key."
**Describe the bug**
When I handle the F5 key with as a KeyboardAccelerator, and the t-key is pressed in an WebView2 child control,
the keyboard accelerator is invoked!

**Steps to reproduce the bug**
[code]

[code]

**Expected behavior**
Do not raise the F5 key when pressing the t-key in a WebView2

**Version Info**

NuGet package version:
Microsoft.ProjectReunion 0.5.0

| Windows 10 version

[2021-04-14 12:27] MRahilly commented on #2488
I expect furious work is needed first before Rust/WinRT versions of HelloXaml and Blocks ... samples can be posted alongside Ocr sample.

[2021-04-14 12:50] Noemata commented on #4804
@StephenLPeters , despite some of these exceptions being benign (you can continue), they are a performance drain and need to be stomped out.  They also contribute to a negative developer experience.

[2021-04-14 13:43] kennykerr commented on #2488
Xaml still requires more work to enable, but the [Windows crate](https://crates.io/crates/windows) for Rust (formerly Rust/WinRT) already supports building DirectX and Windows.UI.Composition apps.

Here's a [Direct2D example](https://github.com/microsoft/windows-rs/tree/master/examples/clock):

<img src=https://user-images.githubusercontent.com/9845234/106089513-ef5f3d80-60dc-11eb-9aee-f89d2416f34

[2021-04-14 14:23] gitspeaks commented on #2488
@kennykerr

Is this something currently being worked on ?

, but the [Windows crate](https://crates.io/crates/windows) for Rust (formerly Rust/WinRT) already supports building DirectX and Windows.UI.Composition apps.

How far can go with Composition apps in terms of accepting keyboard text input / list view display?

[2021-04-14 14:29] MRahilly commented on #2488
Translation in time of the cppwinrt samples like Ocr (done) and HelloXaml, Blocks etc. allows instructive one to one comparisons for those new to Rust.

[2021-04-14 17:23] DmitriyKomin commented on #4752
WebView2.Close() can be used to immediately destroy the underlying CoreWebView2 and associated Anaheim objects. Otherwise, the timing of cleanup is dependent on garbage collection scheduling (for C#).  Note that WebView2 UIElement leaving the live tree does not itself cause CWV2 to be destroyed, though (for C#) assuming no outstanding references, it should happen shortly via WV2 destruction. Also,

[2021-04-14 17:27] anawishnoff opened #4816 "👩‍💻☎ WinUI Community Call - April 21, 2021"
This call has now ended. Thank you everyone for joining! You can find the recording of the call here:

**https://youtu.be/SyLXctia1B0**

# Details
Date: Wednesday April 21, 2021
Time: 16:00-17:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
This will be an informal interactive live stream directly with members of our engineering team.

# Format
The

[2021-04-14 17:41] huoyaoyuan commented on #4812
There's no direct support for constructor with parameter. You can make a custom MarkupExtension, or use x:Bind to call a static helper method.

[2021-04-14 17:50] jevansaks commented on #4807
@nbevans Prerelease is packaged differently (dlls included in your app instead of in framework package), it's not a apples-to-apples comparison. The problem will likely reoccur in our next stable release.

[2021-04-14 17:59] StephenLPeters commented on #4804
I agree.  I'm just trying to get information that might be useful for the team.  I suspect that a lot of these types of issues have similar  root causes.

[2021-04-14 19:14] chingucoding commented on #4759
@StephenLPeters Over at the files repo, we finally have a good fix for this: https://github.com/files-community/Files/pull/4606/

The only changes made are the removal of the corner radius setter which seemed to cause the issues on this. What are your thoughts on this? @ranjeshj FYI

[2021-04-14 19:36] marb2000 commented on #4814
@Jaiganeshkumaran, rather than adding an existing WinRT API, I think the proposal is to enable developers can detect whether the shell is in tablet mode so the app can adapt for a touch-friendly layout. I will be also nice to have a counterpart event that fires when the OS switches.
Having these WinRT APIs in Reunion is very handy. Meanwhile, you can use Win32 APIs like GetSystemMetrics (using SM_

[2021-04-14 19:39] marb2000 commented on #4782
Closing the issue given @dotMorten provides a workaround.

[2021-04-14 19:39] #4782 closed

[2021-04-14 20:51] arivoir commented on #4540
This was fixed in _.NET SDK 5.0.202_

[2021-04-14 20:51] #4540 closed

[2021-04-14 21:13] Meloman19 commented on #4741
@nCastle1 Yeah. Same issue. But bug is not in the rendering, but in the parsing.
You can try
`M 8.023 1.023 L 0.023 5.523 L 8.023 10.023 L 16.023 5.523 Z M 2.063 5.523 L 8.023 2.171 L 13.983 5.523 L 8.023 8.876 Z M 16.023 8.523 L 8.023 13.023 L 0.023 8.523 L 1.043 7.95 L 8.023 11.876 L 15.003 7.95 Z M 8.023 14.876 L 15.003 10.95 L 16.023 11.523 L 8.109 15.975 A 0.175 0.175 0 0 1 7.938 15.975 L 0.0

[2021-04-14 21:15] llongley commented on #3780
Ah, I see the WACK failure now that I tried to submit the test app to the store.  Thanks, we'll investigate.

[2021-04-14 21:38] AathifMahir commented on #4816
When we can expect parity between UWP App Model and win32? Is Reunion 1.0 would form a parity between UWP and Win32 app model and completely removes the lines between both models? Therefore developers no longer need to pick between both the models

[2021-04-14 21:47] Noemata commented on #4804
@StephenLPeters , hopefully the next WinUI release will calm things down a little.  I've got a dozen other bugs I'll report when the next release is out.  It's best not to distract too much at this point.  Most of the bugs have existed in UWP for years.  I'm hoping both UWP and WinUI can get sorted out simultaneously.  These are all UI related.

[2021-04-14 21:48] #4083 closed

[2021-04-14 21:58] Noemata commented on #4816
May we expect performance improvements in the next release?  Currently, performance is hindered by memory leaks and exceptions that shouldn't be thrown.  Much of this is related to C#/WinRT interop instability and lack of caching.  Does C#/WinRT pose an upper limit to performance for WinUI?

As a related question, why was it decided to not use the UWP JIT interop model?  It seems to be much faster

[2021-04-14 22:11] JeanRoca commented on #3423
@marb2000 moving this over to the backlog

[2021-04-14 22:12] JeanRoca commented on #4119
No further information provided, closing for now. Feel free to reopen if there is more info.

[2021-04-14 22:49] legistek commented on #2236
As far as I can tell it still just equivalent to a SolidColorBrush.  Am I not using it right?

[2021-04-14 23:29] StephenLPeters commented on #4815
I agree that the BorderThickness does seem to be ignored by content control, however I am seeing the opposite problem that you are describing. With the default ContentControl template I can't get a border to show up at all.  Can you give more specifics about your scenario?

default:
![image](https://user-images.githubusercontent.com/7758786/114793098-7ddb7680-9d3e-11eb-9093-830478e97c35.png)
updat

[2021-04-14 23:29] StephenLPeters commented on #4815
@ranjeshj I think we should update the content control to template bind these border properties.

@jevansaks or @MikeHillberg do you know if there is a good reason it doesn't today?

[2021-04-14 23:31] StephenLPeters commented on #4813
I don't understand the question, please provide more info.

[2021-04-14 23:31] StephenLPeters commented on #4812
Correct, there is not support for parameterized constructors from markup.

[2021-04-14 23:32] #4812 closed

[2021-04-14 23:35] StephenLPeters commented on #4811
@bartekk8 and @MikeHillberg weird bug.  Maybe there is some optimization for RD with a single element?

[2021-04-14 23:45] bartekk8 commented on #4597
@Noemata Regarding the VS issue, I think the reason you were seeing worse performance when debugger is attached to WinUI app is because of this code in NativeDrawLine method:
[code]

Throwing exception will cause a message to be written to Debug Output, which is very slow and will slow down execution of your benchmark (try commenting this code out).  I also noticed a small improvement in execution

[2021-04-15 00:31] mdtauk commented on #4816
Just a few questions...

- How long until all of UWP and Win32's feature sets will be 100% available in Reunion/WinUI?

- Once Reunion and WinUI have their source opened, will there be a mechanism or process to request new Windows or OS features which could be useful to devs, which can't be encapsulated with Reunion or WinUI?

- Will the WinUI or Reunion teams be open for creating app to app integ

[2021-04-15 01:48] IngwiePhoenix commented on #2179
What's the current status of this?

I am looking at the current situation of GUI toolkits across platforms (cocoa, win32, gtk - wxWidgets, Qt, FLTK, lvgl, ...) and noticed that there are quite a few ways to make GUIs on Windows. The most modern looking seems to be WinUI. But the XAML part is - albeit readable - also a little confusing. So I was looking to see if WinUI could be used from C/C++ with

[2021-04-15 02:10] jevansaks commented on #4815
I'm sure it's just an oversight. But a plain ContentControl isn't very exciting on its own though, you really need to subclass it to do anything and when you do you would provide your own template.

@atosnicos, just curious what your scenario is for using ContentControl in this way as opposed to maybe Border or Grid if you just want decoration around some content?

[2021-04-15 02:15] codendone commented on #4804
I debugged this, and the caught exception comes from AcrylicBrush.

[2021-04-15 03:19] kmgallahan commented on #4816
Is there anything the WinUI community can do to convince corporate MS to direct some of that [sweet $19.7 billion in cash used to acquire a speech recognition company](https://news.microsoft.com/2021/04/12/microsoft-accelerates-industry-cloud-strategy-for-healthcare-with-the-acquisition-of-nuance/) towards tackling the growing issue backlog of their flagship native Windows UI product?

That isn't

[2021-04-15 04:29] llongley commented on #3780
Sorry for the trouble - I have [a fix out for PR](https://github.com/microsoft/microsoft-ui-xaml/pull/4820).

[2021-04-15 05:16] HppZ commented on #4812
why I can use this: `<Thickness x:Key="ItemMargin">1,2,3,4</Thickness>`

[2021-04-15 05:20] HppZ commented on #4813
I need a `Button` based control, and I want reuse those `VisualState` in Button control template, can I do that?

[2021-04-15 05:43] Qdigital opened #4821 "Discussion: [your discussion title]"
# Discussion: [your title here]

## Related Links

[2021-04-15 05:43] Qdigital opened #4822 "Issue: Bug report"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

| Windows 10 version                  | Saw the problem? |
| :---------------------------

[2021-04-15 05:44] Qdigital opened #4823 "Proposal:"
# Proposal: [your title here]

## Summary

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason for why we should consider this proposal}
* {etc}

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow

[2021-04-15 05:44] Qdigital opened #4824 "Question: [your question here]"

[2021-04-15 06:30] #4652 closed

[2021-04-15 06:36] HppZ opened #4825 "Question: How to do lightweight-styling per style?"
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-styles#lightweight-styling
![image](https://user-images.githubusercontent.com/12285582/114824840-02d69680-9df8-11eb-9ddb-43f42866c751.png)

[2021-04-15 07:00] #4696 closed

[2021-04-15 08:34] Marv51 commented on #4752
@DmitriyKomin Thank you for looking into this and explaining. **Calling Close() works** (don't know how i missed that, sorry). I have added Close() to the unload event of my pages and that reliably closes the tabs and terminates webview2.

But, I can confirm that if I don't call Close() on the WebView2, the tab stays alive for me.

I can confirm that no other instances of the app running. And no o

[2021-04-15 08:59] MRahilly commented on #2488
In the early days of cppwinrt there was a step by step guide to Migrate C++/CX code to C++/WinRT. A guide to reorganize and rewrite a small C++/WinRT click event handler for the Windows Crate for Rust would be great when you get a chance. This would increase the motivation to learn Rust.

[2021-04-15 10:08] pjmlp commented on #4816
I have now started to do requirements analysis with C++ Builder and Qt/Creator/Designer as possible replacements for what are actually modern tooling for C++ developers.

However I would rather stay on Microsoft ecosystem, is there any hope that the lack of tooling caused by killing C++/CX gets adressed, instead of handwaving into some future ISO C++ standard in a couple from years to come?

Curre

[2021-04-15 12:11] alexdi220 opened #4826 "The descendant of the CustomControl doesn't apply default style"
**Describe the bug**
Hi,
If I've inherited a control from my own custom control it doesn't apply a default style. Take a look at the code. It's a critical issue. We faced it while porting WinUI UWP to the Desktop. Also found if I add the style of the CustomControl2 to generic.xaml ` <Style TargetType="local:CustomControl2" BasedOn="{StaticResource baseStyle}"/>` it'll apply although the DefaultSty

[2021-04-15 12:49] alexdi220 opened #4827 "The custom control doesn't apply the default style when the Style property was bind or set to null"
**Describe the bug**
Hi,
When I bind a style property of the CustomControl, it stops applying the default style. The property (which is bind) is null, not initialized. The same effect you can see if set the Style to {x:Null} in XAML.
We use the same approach in our components to provide a way to customize parts of the control. There is no issue in WinUI UWP.

**Steps to reproduce the bug**
[code]

[2021-04-15 13:06] R3voA3 commented on #3605
https://user-images.githubusercontent.com/7389110/99042299-67a96e80-2584-11eb-9b5c-55805d2ccd1f.png

This is one of the best designs. The main advantage over the current time picker we have is, that I can select any value for hours and minutes without scrolling. It's just so much faster and easier to use.

[2021-04-15 13:06] Marv51 commented on #2715
Same issue here as @wbokkers, even with newest CSWinRT from April .net update that fixed quite a few other issues.

 Is there any additional info that is needed to fix this? Maybe @anawishnoff can help channel to the right people?

[2021-04-15 13:19] Noemata commented on #4597
@bartekk8 , that is indeed the case.  However, I did revise my benchmarks after running the series without VS in the mix.  WinUI was still significantly slower than UWP.  I was generous in stating it was 3 times slower.  I excluded any benchmarks that were obviously affected by memory leaks.  I also excluded benchmarks that highlighted compute related tasks, since UWP has a clear advantage there.

[2021-04-15 13:48] Noemata commented on #4804
@codendone , thank you for the clarification.  Before you put out the next release, I suggest you run through these samples (release build, without VS attached):  https://github.com/Noemata/RosettaNavigation

UWP runs most of these indefinitely.  So should WinUI.  Presently, all except the WebView test end in a crash within a couple hours of runtime on a system with 16GB of ram.

[2021-04-15 15:54] arivoir opened #4828 "Clipping content of ScrollViewer"
How can I make the content of ScrollViewer to be clipped?

I'm using ScollViewer to create a data grid, where the column headers are rendered in the TopHeader.

![image](https://user-images.githubusercontent.com/17496741/114899259-31994080-9de9-11eb-9fe3-32dfd26622a3.png)

The Content renders behind the TopHeader.

I know there is the property CanContentRenderOutsideBounds, but it is false by defa

[2021-04-15 17:03] StephenLPeters commented on #4807
@nbevans can you provide a repro project and then I will transfer to the ProjectReunion repo.

[2021-04-15 19:00] #4138 closed

[2021-04-15 19:30] mc0re commented on #4138
So far I failed to create a repro. What I can say is that it definitely involves a custom markup extension - as it is its type it cannot load. And it does not matter for how long I wait on the break point, pressing `F5` immediately still yields that exception. So it's about the way VS loads a UWP project for debugging.

[2021-04-15 20:02] adderthorn opened #4829 "Flyout appears behind CommandBar overflow"
**Describe the bug**
If a `CommandBar` `AppBarButton` opens a flyout and the button is currently on the overflow of the `CommandBar`, when the flyout is opened it appears behind the overflow menu and there is no way to view the flyout contents.

**Steps to reproduce the bug**
1. Create a `CommandBar` and add a button to the secondary commands
2. Add a Flyout to this button
3. Launch the app and ac

[2021-04-15 20:44] eleanorleffler opened #4830 "[WinUI3 Reunion 0.5] ScrollViewer on Navigation View Settings Button"
**Describe the bug**

When hovering over the right-hand side of the Settings Button at the bottom of the NavigationView (in WinUI 3, Reunion 0.5), a scrollbar appears.

The scrollbars are not necessary. In UWP, the scrollbars do not appear.

It seems this behavior was introduced when the NavigationFooterItems were added to NavigationView.

**Steps to reproduce the bug**

Steps to reproduce the beh

[2021-04-15 21:09] eleanorleffler opened #4831 "[WinUI3 Reunion 0.5] Window Resizing Not Handled on Flyouts and Content Dialogs"
**Describe the bug**

Flyout and Content Dialogs should be aware of the application window size and
resize and show/hide scrollbars as needed.

In UWP, this works correctly both when a flyout or content dialog is initially
opened AND when the application window is resized after the flyout or content
dialog has been opened.

In WinUI 3, Reunion 0.5, this only works when a flyout or content dialog i

[2021-04-15 21:21] eleanorleffler opened #4832 "[WinUI3 Reunion 0.5] "mailto:" Hyperlink Not Working"
**Describe the bug**

The hyperlink to a website works (opens website in browser window), but the hyperlink with mailto: does not do anything. It does not launch your email application, as it does in UWP.

**Steps to reproduce the bug**

1. Clone the [WinUI3Reunion05_Problems](https://github.com/eleanorleffler/WinUI3Reunion05_Problems).
2. Go to the WinUI3IssuesReunion05 folder.
3. Open the WinUI3

[2021-04-15 21:24] arivoir opened #4833 "WinUI AddVisualChild?"
Is there any way to add children of a control(or framework-element) dynamically?

I know I can create a control with a template and add a panel inside, but that ends up impacting performance. I want to make the visual tree as small as possible.

[2021-04-15 21:33] eleanorleffler opened #4834 "[WinUI3 Reunion 0.5] Hover Cursor on GridSplitter Not Displaying & Unable to Set Window Cursor"
**Describe the bug**

In UWP, the cursor changes when hovering over a GridSplitter.
In WinUI 3, Reunion 0.5 it doesn't change until you click and drag the GridSplitter.

In attempt to fix this, we would like to set the window cursor programmatically. But, we were unable to do so.

In WinUI 3 Reunion 0.5, there is no way to set the Window Cursor in the code.
For example, we want to change the curso

[2021-04-15 22:34] eleanorleffler commented on #2716
@Austin-Lamb @wbokkers I have created a new issue in the Project Reunion repository. See mentioned issue above!

[2021-04-15 22:57] #4549 closed

[2021-04-15 23:02] eleanorleffler opened #4835 "[WinUI3 Reunion 0.5] "ExtendsContentIntoTitleBar" Hides Min/Max/Close Buttons"
**Describe the bug**

In WinUI 3 Reunion 0.5, using "ExtendsContentIntoTitleBar" when the background is set on the
control to be used as the title bar results in the standard action buttons on the window
(minimize, maximize, close) being hidden.

Additionally, the action buttons are a smaller height when "ExtendsContentIntoTitleBar" is used.

In UWP, this was accomplished with code like this:

[2021-04-15 23:05] StephenLPeters commented on #4835
@pratikone and @Austin-Lamb FYI

[2021-04-15 23:06] StephenLPeters commented on #4834
@Austin-Lamb and @michael-hawker FYI

[2021-04-15 23:12] StephenLPeters commented on #4833
I don't think so. We don't directly expose a way to set children on arbitrary controls.  Panels expose a children collections, which is the point of them.  There might be something in XamlDirect, but I'm not familiar enough to say for sure.

[2021-04-15 23:15] eleanorleffler opened #4836 "[WinUI3 Reunion 0.5] AppBarButton with Flyout on CommandBar displays ">" symbol"
**Describe the bug**

In WinUI 3 Reunion 0.5, the AppBarButton with a flyout (Open icon) displays the ">" symbol, which does not match the look of the other buttons.

In UWP, the AppBarButton with a flyout (Open icon) does not display the ">" symbol.

**Steps to reproduce the bug**

1. Clone the [WinUI3Reunion05_Problems](https://github.com/eleanorleffler/WinUI3Reunion05_Problems).
2. Go to the Wi

[2021-04-15 23:17] StephenLPeters commented on #4832
@MikeHillberg @Austin-Lamb putting on reach because I think they own the xaml link code, however I wouldn't be surprised if this was a ProjectReunion issue and should be moved there.

[2021-04-15 23:19] StephenLPeters commented on #4831
@marb2000 and @Austin-Lamb FYI

[2021-04-15 23:20] StephenLPeters commented on #4830
@karenbtlai and @chingucoding this is very familiar, have we fixed this in winui2 already?

[2021-04-15 23:23] StephenLPeters commented on #4829
@karenbtlai and @llongley fyi

[2021-04-15 23:26] StephenLPeters commented on #4828
I think I would just make your header have an opaque background, or put the header outside of the scrollviewer (don't use the header property).

@RBrid FYI

[2021-04-15 23:31] StephenLPeters commented on #4827
@bartekk8 and @MikeHillberg it looks like default style merging isn't performed when you set the style to null, but only in Desktop. I woulnd't expect desktop vs. UWP to affect this behavior... Thoughts?

[2021-04-15 23:32] eleanorleffler opened #4837 "[WinUI3 Reunion 0.5] Flyout Closes when ComboBox Clicked"
**Describe the bug**

The same problem exists in UWP as in WinUI 3 Reunion 0.5. A certain combination of click events will cause the Flyout to close when trying to open a ComboBox.

**Steps to reproduce the bug**

1. Clone the [WinUI3Reunion05_Problems](https://github.com/eleanorleffler/WinUI3Reunion05_Problems).
2. Go to the WinUI3IssuesReunion05 folder.
3. Open the WinUI3IssuesReunion05.sln solu

[2021-04-15 23:33] StephenLPeters commented on #4826
@MikeHillberg and @bartekk8  I'm guessing whatever difference between Desktop and UWP that is causing this issue is also causing #4827

[2021-04-15 23:39] StephenLPeters commented on #4825
Style does not have a Resources property.  If you are a control author that wants to use the light weight style model for the controls in your library the method to do this is to have your control templates reference well known resources by name using {StaticResource} or {ThemeResource} and then publish the default value for those resources along with your styles.  If you are an app author you can

[2021-04-15 23:40] #4824 closed

[2021-04-15 23:40] #4823 closed

[2021-04-15 23:40] #4822 closed

[2021-04-15 23:40] #4821 closed

[2021-04-15 23:42] #3780 closed

[2021-04-15 23:47] StephenLPeters commented on #4813
The template property on control is an atomic property. If you are providing a new template you need to provide it in its entirety.  The VisualStateGroups are a part of the template, so if you require a new template for your button based control then you will need to copy the visual states into your template as well. If you can use the DefaultButtonStyle's template then having your template be Bas

[2021-04-15 23:53] StephenLPeters commented on #4836
This was fixed by this check in https://github.com/microsoft/microsoft-ui-xaml/pull/4801  and will make it to Winui3 -Soon TM-

[2021-04-15 23:54] #4836 closed

[2021-04-16 00:48] HppZ commented on #4825
I am an app author, I want to override the well known named resources at **Style level**, not app level or control level. I need ButtonStyle1, ButtonStyle2, ButtonStyle3 with different overrides. How to do that?

[2021-04-16 00:59] mdtauk commented on #4825
Can you use ``BasedOn`` to reference an existing Style?

[2021-04-16 01:03] HppZ commented on #4825
but how to override Brushs(ButtonBackgroundPointerOver ...) per Style?

[2021-04-16 01:07] mdtauk commented on #4825
I don't think you can per Style.  You would have to override the style in a page or panel's resources.

[2021-04-16 01:10] HppZ commented on #4825
I think it is not flexible so I ask for help here, I thought there is a better way.

[2021-04-16 01:38] HppZ commented on #4813
there is no `DefaultButtonTemplate` or `DefaultButtonStyle`, the default Button style is `<Style TargetType="Button">` with no key specified.

[2021-04-16 03:02] codendone commented on #4834
Is this not a dup of #4201?

[2021-04-16 03:04] codendone commented on #4835
Dup of #4209?

[2021-04-16 03:15] codendone commented on #4832
Same underlying cause as #4438 (Hyperlink and HyperlinkButton use the same code to launch the Uri).

[2021-04-16 03:15] #4832 closed

[2021-04-16 04:42] APerricone commented on #2497
in vb.net you can do everything you can do in c#. I don't understand the hatred towards vb.net. It is not an obsolete language

[2021-04-16 05:15] NeelakandanKannan commented on #4654
Hi @chrisglein ,

Is there any update regarding this?

[2021-04-16 06:48] #4738 closed

[2021-04-16 06:52] gscheartA opened #4838 "[WinUI3 Desktop App] Could I execute some code in the process of install and uninstall?"
I am developing a desktop app using WinUI3. I would execute some code or call some other exe to initialize in the install process and also do same things in uninstall process. Currently I could not found any method to access it. Is there any demo or API instruction about it? Thank you for your kindly help.

[2021-04-16 07:18] vijayarasan commented on #4774
Sorry for the delay.

We are a little unclear with your answer. Our provided XAML code used in MainWindow is working properly but the same code using StringBuilder Issue occurs. If possible please provide the properly working code in the string builder.

Regards,
Vijayarasan S

[2021-04-16 07:21] chingucoding commented on #4830
@StephenLPeters I'm fairly sure this was fixed in WinUI 2 recently.

[2021-04-16 07:28] shelllet opened #4839 "Question: How to create a control by the runtime class name, such as TextBox?"
I have a custom winrt class, such as "SomeClass", i can create an object  through the `winrt_get_activation_factory` function in `modue.g.cpp`. may be have a better way .

but how does the internal winrt class  create objects by the runtime class name?

[2021-04-16 10:55] alexdi220 opened #4840 "Adding a style in code throws COMException"
**Describe the bug**
Hi,
Just trying to add a style of the Button to resources in code and got an exception -System.Runtime.InteropServices.COMException: 'Unspecified error'

**Steps to reproduce the bug**
[code]
[code]
**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/47348109/115014692-5827ac00-9ebb-11eb-942a-86c74edcee09.png)

**Version Info**

NuGet pack

[2021-04-16 11:18] Alexander-Kamenchuk opened #4841 "Compact mode problem"
**Describe the bug**
Hi,
I've researched the Compact Mode feature and not at all controls work the same way. The compact mode works only for editors (TextBox, CheckBox ...) but not for CommandBar, Menus and etc. I also notice that some of the editors, for example, the CalendarDatePicker, don't support compact mode.

What is the main idea of this feature? Will other controls, for example, CommandBa

[2021-04-16 13:47] alexdi220 opened #4842 "XamlTypeInfo unexpected throws System.InvalidCastException"
**Describe the bug**
Hi,
We faced a weird and critical issue and have no idea how to fix it. Our application is the NavigationView with ContentControl. Each item of the navigation represents some UI (view). When the selected item was changed a new view placed in the ContentControl. Sometimes when the view changed we got the InvalidCastException 'Unable to cast object of type 'Windows.UI.Text.FontW

[2021-04-16 13:51] arivoir commented on #4828
None of them is applicable, the opaque background doesn't let customers set their own background properly and it can not be out of the scroll-viewer because the headers also need to scroll horizontally.

[2021-04-16 13:58] eleanorleffler commented on #4834
Hi @codendone ,

My team has been updating to each of the releases to test changes in bugs and functionality. This issue is for the most recent release of Reunion 0.5 while the other issue is for Preview 4.

However, the bug is the same -  we just wanted to supply an updated solution for the bug!

Thanks!

[2021-04-16 14:03] eleanorleffler commented on #4835
Hi @codendone ,

Same bug, new issue for more recent release with an updated solution!

We have been updating to each of the releases to test and track changes in bugs and functionality.  This issue is for the most recent release of Reunion 0.5 while the other issue is for Preview 4.

Thanks again!

[2021-04-16 14:45] zadjii-msft opened #4843 "Opening/closing animation to ContentDialog do not play in Xaml Islands"
# Proposal: Add an opening/closing animation to ContentDialog

## Summary

This is inspired by https://github.com/microsoft/terminal/issues/9853

Presumably, developers would have to opt their dialogs into the animations, as to not break back-compat.

[2021-04-16 15:05] gaoyulei1983 opened #4844 "DropDownButton doesn't support access key like AppBarButton."
**Describe the bug**
I want to add access key to DropDownButton's one menu item. In the DropDownButton, I add AccessKey="C"

**Steps to reproduce the bug**
1) Edit the the code DropDownButtonPage.xaml in https://github.com/Microsoft/Xaml-Controls-Gallery project like this.
                `<muxc:DropDownButton AccessKey="C" Content="Email">
                    <muxc:DropDownButton.Flyout>

[2021-04-16 16:43] chingucoding commented on #4825
I'm afraid there isn't much you can do or this. Styles don't allow overriding the Resources property so you would have to override the resources on every control.

[2021-04-16 17:16] mdtauk commented on #4825
Having said that, **Style.Resources** sounds like it could be a useful feature for "bundling" up all the light-weight styles associated with a control and it's template.

[2021-04-16 17:17] mdtauk commented on #4843
There is already an animation for the Content Dialog.  A Zoom and Fade transition when it shows and hides.

[2021-04-16 17:19] chingucoding commented on #4825
Yes there should be an there already is a proposal/discussion for this: https://github.com/microsoft/microsoft-ui-xaml/issues/3939

[2021-04-16 17:43] mdtauk commented on #4825
I do remember this being proposed, and I did comment on the proposal - but I didn't connect the two weirdly.

[2021-04-16 17:53] vijayarasan commented on #4775
Hi @StephenLPeters,

Sorry for the delay.

I have already mentioned my requirement is needed to apply Style using converter in mentioned target type via code behind in UWP Platform. Can you please share any ideas to trigger the code behind the converter in the UWP Platform?

Regards,
Vijayarasan

[2021-04-16 17:57] zadjii-msft commented on #4843
Huh. It does looks like there's a very subtle animation after all. I wonder if you don't see that in the Terminal because it's a XAML Island application...

[2021-04-16 20:04] wbokkers commented on #4565
This has been mostly solved in Reunion 0.5.5 because the view that is causing the high CPU usage does no longer stay active in memory. I am not sure why the particular control is using this much CPU. There's not much happening in my code, so it must be the XAML.

[2021-04-16 20:51] rozele opened #4845 "Proposal: Give apps control over Paste option in TextBox context menu"
# Proposal: Give apps control over Paste option in TextBox context menu
The WUX TextBox has a `Paste` event that allows apps to customize paste behaviors when content from the Clipboard is pasted. By default, the TextBox only shows the Paste context menu option when `TextBox.CanPasteFromClipboard` is true. I'd like to be able to "override" the default behavior and show the Paste menu option based

[2021-04-16 21:06] mdtauk commented on #4845
What about a "Paste as plain text" option?

[2021-04-16 21:50] wbokkers commented on #4565
After investigating my XAML (and leaving out parts to see the impact on the CPU load), it seems to be related to using a group style in a listview

[code]

[2021-04-16 22:36] marb2000 commented on #2715
It still can repro this in Reunion 0.5.5. It seems to me a C#/WinRT projection bug. I opened a bug in the C#/WinRT site:

https://github.com/microsoft/CsWinRT/issues/807

@Scottj1s , @angelazhangmsft,  @AdamBraden, and @manodasanW  for awareness.

[2021-04-17 01:26] WamWooWam commented on #4127
asdsa

[2021-04-17 02:11] rozele commented on #4845
The proposal would allow developers to implement something along these lines for whatever their definition of plain text might be. For example, you could have a textbox that allowed you to paste a storage item and in the Paste callback it converted the storage item to items path and copied the text into the textbox.

Technically you can already do that today with WUX using a TextBox, the Paste eve

[2021-04-17 04:26] saint4eva commented on #4816
When is support writing UI in C# coming?

[2021-04-17 04:39] saint4eva commented on #4816
Regarding .NET Maui, how would it target Xbox and other platforms since WinUI is only about desktop?

[2021-04-17 06:05] mdtauk commented on #4816
WinUI 2.X still works with UWP and Xbox etc - but the plan is eventually have WinUI 3 work for UWP and Desktop.  It's just Desktop is the first milestone they are planning to hit.

[2021-04-17 07:50] jordan-msftfan commented on #4308
Is this has already been done with #4460?

[2021-04-17 07:59] saint4eva commented on #4816
Looking forward to using UWP app model in WinUI.

[2021-04-17 09:34] oldoldman opened #4847 "Question: Why Selector is "abstract" ?"
I trying to implement a custom control. Which I choose to derive from Selector, in cppwinrt I should write something like this
[code]
This code does not compile, since there is no such struct as SelectorT.
Despite of this, I dived into this [doc](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.primitives.selector?view=winrt-19041) found that Selector has no public accessible cons

[2021-04-17 11:21] piksel commented on #2232
Use case for `x:Array` can be found in [the VS docs for XAML](https://docs.microsoft.com/en-us/visualstudio/xaml-tools/xaml-designtime-data?view=vs-2019#design-time-data-for-listviews) (design-time populating ListBox/View)

Reference to documentation issue: https://github.com/MicrosoftDocs/visualstudio-docs/issues/6600

[2021-04-17 20:12] Brouilles commented on #4722
Same problem here.

[2021-04-18 04:03] shaheedmalik commented on #4816
When will UWP be updated to WinUI, so Xbox can take advantage of the features? Win32 in WinUI3 is great, but not really a serious path forward for Universal Windows.

[2021-04-18 04:49] shelllet opened #4848 "Binding does not work in winrt c++ desktop"
# Binding does not work in winrt c++ desktop

binding code in cpp.

[code]

idl defined in used component.

[code]

if I add `Dynamic` property in `MainWindow` idl file , this works fine.  otherwise if I comment `Dynamic` property, the binding will don't work. maybe `biding2.Path(PropertyPath(L"Value"));` has inernal bug. and if i remove binding path set, it's also works fine.

Test code: https://

[2021-04-18 05:49] pjmlp commented on #4816
I fear that in regards to XBox it will be dealt the same way as XNA was.

[2021-04-18 10:02] BierDav commented on #108
I would really like to see a feature for panning with mouse. I have already looked into the source code and in my opinion you just have to change if from PointerType.Touch to a dynamic Variable. Please Mircosoft, be so kind and implement that.

[2021-04-18 12:43] mrjfalk commented on #3046
I'm running into a similar issue in the Reunion 0.5 release. When pressing Debug in Visual Studio I get the UAC dialog, but after allowing that nothing happens (the debugger still seems to be attached though). But if I press "Break All" button it says "No processes are currently being debugged", so it's most likely crashed.

[2021-04-18 16:26] chingucoding commented on #4515
I'll look into this.

[2021-04-18 19:31] winston-de opened #4850 "ListViewBase.SelectedItems.Add() performs poorly"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an app with a single list view with a large data set
2. Manually select all items using ListViewBase.SelectedItems.Add()
3. App freezed

**Expected behavior**
ListViewBase.SelectedItems.Add() should perform well so that attempting to add a large amount of items to the list won't freeze the app. Specifi

[2021-04-18 23:56] ethindp commented on #2488
That'll work, but I use a screen reader and so Windows.UI.Composition isn't accessible. Is it possible to use the standard win32 controls but with WinRT and without the hastle of XAML?

[2021-04-19 05:54] lingguang8 opened #4851 "CoreTextEditContext.TextUpdating In English input method the update could not be triggered"
Custom text input
https://docs.microsoft.com/en-us/windows/uwp/design/input/custom-text-input

` CoreTextServicesManager manager = CoreTextServicesManager.GetForCurrentView();`
`var editContext = manager.CreateEditContext();`
`editContext.TextUpdating += Edit_TextUpdating;`

Edit_TextUpdating Normal in UWP.

In ProjectReunion 0.5 Desktop Project.
TextUpdating does not receive any keyboard input wh

[2021-04-19 06:59] rajeshangappan opened #4852 "Xamarin UWP: Refresh View is not working on 2.6.0-prerelease.210227001 version"
Just add the refresh view in any xaml page. complete UWP app is hanged and throws win32 unhandled exception.

[2021-04-19 07:17] smourier commented on #4816
I'm not sure I will be able to attend the call, but can someone tackle this question "Is ActiveX Control support possible/planned for WinUI 3 ": https://github.com/microsoft/microsoft-ui-xaml/issues/4670

I think it's important for a scenario where a legacy Win32 that uses lots of (external) ActiveX controls must be migrated to WinUI 3. It would allow a smooth transition (rewrite the host, and con

[2021-04-19 08:02] MRahilly commented on #2488
The Win32/WinRT Desktop Bridge might help,
https://techcommunity.microsoft.com/t5/windows-dev-appconsult/desktop-bridge-8211-the-bridge-between-desktop-apps-and-the/ba-p/316488

[2021-04-19 08:55] Marv51 opened #4853 "Combobox positioning wrong with custom ItemsPanel"
**Describe the bug**
When creating a multi-column Combobox the Flyout is opened detached from the Combobox itself.

**Steps to reproduce the bug**
[code]

[UniformGrid](https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/dev/7.0.1/Microsoft.Toolkit.Uwp.UI.Controls.Primitives/UniformGrid) is from Community Toolkit.

**Expected behavior**
Combobox flyout should be attached/near the combo

[2021-04-19 08:58] jschwizer99 opened #4854 "Live Visual Tree crashes WinUI Application due to Access Violation"
**Describe the bug**
With a fully updated development environment, Visual Studio 2019 16.10.0 Preview 2 and WinUI Reunion 0.5.5 clicking on a control in the Live Visual Tree triggers an Access Violation. The break-point cannot be silenced as other exceptions. As a consequence, the Live Visual Tree cannot be used anymore.

The issue seems not to be related to the latest Reunion 0.5.5 update as it c

[2021-04-19 09:40] jschwizer99 commented on #4396
@StephenLPeters Will https://github.com/microsoft/microsoft-ui-xaml/pull/4469 fix this issue with the borders as well?

[2021-04-19 14:40] kalin-todorov opened #4855 "[WinUI3 Reunion 0.5.5] StyleTypedProperty, TemplateVisualState and TemplatePart attributes cannot be set multiple times anymore"
**Describe the bug**
Cannot build our WinUI3 desktop project after upgrading to Reunion 0.5.5 due to the StyleTypedProperty, TemplateVisualState and TemplatePart attributes. They don't allow to be set multiple times as before.

**Steps to reproduce the bug**
Try to build the following code:

[code]

**Screenshots**
Here the StyleTypedPropertyAttribute definition before:
![image](https://user-image

[2021-04-19 15:31] sylveon commented on #2817
This seems to have broken again in 16.10 Preview 2 :(

![image](https://user-images.githubusercontent.com/6440374/115262716-ca3e0200-a102-11eb-908e-a749d61fc46c.png)

I'm surprised a test scenario covering this wasn't added for XAML islands apps after this issue. Can we reopen the issue and try to resolve it before 16.10 GA?

[2021-04-19 16:56] StephenLPeters commented on #4396
I don't think so.. @chingucoding thoughts?

[2021-04-19 17:17] arivoir commented on #4833
I didn't find anything in XamlDirect. It's a pity WinUI forces a poor performance approach

[2021-04-19 18:07] michael-hawker commented on #4834
Yeah, this is a dup of #4201, there's been no change to the WinUI API surface or the Toolkit surface in this time. I'll add more info to the Preview 4 bug.

[2021-04-19 18:10] michael-hawker commented on #4201
Based on how `GridSplitter` is currently implemented, it has issues with how the Hover is implemented since we don't have access to set the `Cursor` property. There's an issue tracking adding `Cursor` to FrameworkElement like it was in WPF. @codendone when is that currently scheduled to be exposed?

We may refactor this control in the 7.1 version of the Toolkit which slipped from 7.0. Though we no

[2021-04-19 18:58] jschwizer99 commented on #4396
Many thanks for the confirmation. Will offer to test it if it finally makes it into a release.

[2021-04-19 20:17] jsedlak commented on #4722
You can manually install from dotnet.microsoft.com - https://dotnet.microsoft.com/download/visual-studio-sdks

I don't think I've seen .NET 5 SDK installed via the Visual Studio Installer.

[2021-04-19 21:47] DmitriyKomin commented on #4752
Thanks, Have you tried calling GC.Collect() in Page.OnNavigatedFrom handler? It does seem strange that waiting 10 minutes + applying memory pressure to the system didn't trigger GC...

One other idea - looking at https://github.com, that is a very complex webpage with live animations and a bunch of <video> elements... I wonder if some of those are keeping CoreWebView2 alive? Does the problem repro

[2021-04-19 21:49] DmitriyKomin commented on #4752
<video> elements - it's possible that something like a playing video keeps CoreWebView2 alive. Does it repro with a very simple webpage (eg http://www.brainjar.com/java/host/test.html)?

[2021-04-19 22:15] HoChiWaWa commented on #1495
I've been searching for a solution to this for something like 4 years now, if your support isn't functional enough to use stand alone it should not be forced onto us when it will interfere with all other possible solutions.

[2021-04-19 22:18] joaodforce commented on #1495
We have been through this already, the solution was already developed and issued for he next major windows update, now we just have to wait until it gets to the consumer ring.

[2021-04-19 22:50] chrisglein commented on #4833
Doesn't seem like something XamlDirect would help with.

@arivoir Can you help us understand your scenario more? There is a gap here where there's no single API to add children (will depend on the type). I think the answer to your question is "no", but this could be reframed as a feature request.

[2021-04-19 22:56] chrisglein commented on #4811
Well, good news is that you have a workaround. But yeah... that definitely sounds like a bug. Perhaps some sort of optimization/confusion with the difference between a collection and a single item.

[2021-04-19 23:05] StephenLPeters commented on #4855
@MikeHillberg I'm not sure what team this would fall under, thoughts?

[2021-04-19 23:06] StephenLPeters commented on #4854
@alwu-msft FYI

[2021-04-19 23:08] StephenLPeters commented on #4852
@rajeshangappan is RefreshView a control from xamarin?

[2021-04-19 23:08] alwu-msft commented on #4854
@StephenLPeters, this is @RealTommyKlein's bailiwick.

[2021-04-19 23:09] StephenLPeters commented on #4851
@chrisglein FYI

[2021-04-19 23:13] StephenLPeters commented on #4848
@chrisglein and @MikeHillberg FYI

[2021-04-19 23:15] StephenLPeters commented on #4847
Are you specifying that MyControl derives from Selector in your .idl file?  Then MyControl should derive from MyControlT<MyControl> in your cpp file.

[2021-04-19 23:17] StephenLPeters commented on #4845
@chigy and @ryandemopoulos FYI

[2021-04-19 23:20] StephenLPeters commented on #4844
In your markup you've set the access key of the button to C, so pressing alt and then C invokes the button. Are you saying that you have another access key on the send menu flyout item that also has it's access key set to C?

[2021-04-19 23:22] StephenLPeters commented on #4843
@zadjii-msft So should this be repurposed into a xaml islands bug?

[2021-04-19 23:25] StephenLPeters commented on #4842
@RealTommyKlein and @fabiant3 is this a xaml compiler bug?

[2021-04-19 23:28] StephenLPeters commented on #4841
Compact mode is still in preview. At this time there are some notable controls which do not have a compact style.

[2021-04-19 23:32] StephenLPeters commented on #4840
Why are you adding the style to the Button's Resources?  If you want to set the style from code you can do `myButton.Style=style`  I think the resources property is probably null here and would need to be initialized to a ResourceDictionary if you did want to put the style in the resources (which you shouldn't).

[2021-04-19 23:34] arivoir commented on #4833
I need to implement something like Border, a control that can have an arbitrary child, and also the ability to draw a series of rectangles and paths behind the child as well as clipping the child. I can implement this like a templated control, the problem is defining all these elements and hiding the not used is poor in terms of performance. Having the ability to change the visuals of a control dy

[2021-04-19 23:35] StephenLPeters commented on #4838
Are you talking about the Appx install process?  I don't think we expose any hooks for that. @MikeHillberg ?

[2021-04-19 23:36] StephenLPeters commented on #4825
Yes, today the resource system does not have a notion of resources associated with a style.  I do think this could be a valuable addition to the system though.

[2021-04-19 23:36] #4825 closed

[2021-04-19 23:42] StephenLPeters commented on #4813
Here is the Winui2 published DefaultButtonStyle: https://github.com/microsoft/microsoft-ui-xaml/blob/e22113fc87a77bd7c3ab24849f6504c3ac2549a9/dev/CommonStyles/Button_themeresources.xaml#L136 In that same file we have an unnamed style which is based on this.

[2021-04-19 23:51] StephenLPeters commented on #4774
[code]
This part of your string builder looks strange to me:
[code]
I think it can just be deleted. The DataTemplate will have as its binding context the object it is templating, so you shouldn't need to point it at your button. Additionally, I don't think you can simply name a UIElement and then sucessfully reference them from a markup string. In markup the named element and the reference to it n

[2021-04-19 23:54] StephenLPeters commented on #4858
@anawishnoff and @marb2000 FYI

[2021-04-19 23:57] RealTommyKlein commented on #4842
@StephenLPeters - I don't think so.  The generated code in the screenshot looks correct (assuming `DevExpress.WinUI.Grid.GridTextColumnBase.TextTrimming`'s is a property of type `Microsoft.UI.Xaml.TextTrimming`, which seams reasonable).  I'm guessing something is going wrong with the metadata APIs the framework uses, and it's calling the wrong property setter (e.g. at this point in the parsing, we

[2021-04-20 00:36] chrisglein commented on #4851
@lingguang8 This was filed as a `question`, but based on the report I think you more meant this as a `bug` report. Unless I missed the question in there. There's more information in the bug report form. Can you provide this?

<details>

[code]
</details>

[2021-04-20 01:51] gscheartA commented on #4838
Hi @StephenLPeters  Thanks for your answer. I would call some exe and dll in the install flow like some win32 app installer. So you mean currently here is no method to execute these in the install/uninstall flow or pre-install/pre-uninstall flow, does it?

[2021-04-20 02:35] codendone commented on #4855
@Scottj1s The issue discussed earlier today...

[2021-04-20 02:49] codendone commented on #4201
@michael-hawker As @jschwizer99 said, I think `GridSplitter` should be able to use the `UIElement.ProtectedCursor` property. This is a protected property, but GridSplitter is a subclass so it has access.

We plan to eventually have a public `UIElement.Cursor` property as well, but don't have a timeframe for that yet. It is not planned for Project Reunion 1.0. But I think this should not be a block

[2021-04-20 05:57] alexdi220 commented on #4840
The same code (setting a style) using in our tests and it works in WinUI UWP. I can't use `myButton.Style=style` by a test logic. But after upgrade the framework and reunion to 0.5.5 the issue stoped reproduce. So I'll close this thread

[2021-04-20 05:57] #4840 closed

[2021-04-20 06:07] alexdi220 commented on #4841
Could we expect it's in the future? I mean do you plan that all controls will have a compact style or only some of them like TextBox?

[2021-04-20 07:10] jschwizer99 commented on #4854
@RealTommyKlein Many thanks for the help. The side-by-side installation of Preview 1 to Preview 2 was smooth. With Preview 1 the Live Visual Tree can be used again.

[2021-04-20 07:18] #4701 closed

[2021-04-20 08:03] wbokkers opened #4860 "High CPU load when using a GroupStyle in a ListView"
**Describe the bug**
When a GroupStyle is defined in a ListView, the CPU load is very high (> 2 % on my Core i9 8th gen).
Even when the view is not used or inactive.

**Steps to reproduce the bug**
1. Define a ListView
2. Add a GroupStyle to the ListView.GroupStyle property
3. Create a default style resource for TargetType="ListViewHeaderItem"
4. Create a grouped list and assign it to a Collection

[2021-04-20 08:07] wbokkers commented on #4565
I created another issue that is more specific on the cause and adds a link to a github repo that reproduces the issue:

https://github.com/microsoft/microsoft-ui-xaml/issues/4860

https://github.com/wbokkers/reunion-issue-high-cpu

[2021-04-20 08:37] omikhailov opened #4861 "Question: Could you please backport NavigationBackButtonNormalStyle to WinUI 2?"
Fluent design guidelines suggest to use branding colors for NavigationView, but if you'll actually try it with latest WinUI 2.6 Preview, you'll notice that Back button foreground color does not match foreground of other elements within NavigationView. This seems already fixed in WinUI 3, because there are two styles in the repository:

https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev

[2021-04-20 09:39] oldoldman commented on #4847
In my case , where MyControl will be used in the same compilation unit, there  is no need of modeling it with idl. What makes me confused is how can we get an instance of Selector without using a factory.

[2021-04-20 12:19] jordan-msftfan commented on #4010
it seems that winui team has already [start update](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/regisb/CalendarView/active/CalendarView/CalendarViewSpec1.md) the calendarview in both functionality and aesthetics

[2021-04-20 13:48] zadjii-msft commented on #4843
Yea, sounds like it.

[2021-04-20 15:57] anawishnoff commented on #4858
Thanks @wbokkers, this looks like a bug and will need some investigation. @DmitriyKomin any ideas?

[2021-04-20 16:24] sylveon commented on #4843
Yes, I am not seeing the animation either in my XAML islands application

[2021-04-20 18:15] michael-hawker commented on #4201
@codendone the current version of `GridSplitter` has a 'wrapper' class that provides the hover functionality which is outside the base class (I don't know why it was done this way initially, but we later added helpers for UWP to make it easier to change the cursor). In either case, this contained helper class doesn't have access to the `ProtectedCursor` of its parent currently. Thus, why this does

[2021-04-20 18:29] omikhailov opened #4863 "Bug/Proposal: NavigationViewItemHeaderTextStyle should not use default foreground"
**Describe the bug**
NavigationViewItemHeaderTextStyle is based on BaseTextBlockStyle and does not override default foreground color property. When you change background of NavigationView, you have to change foreground of all elements within it. They all have special resources for overriding like NavigationViewItemForeground, NavigationViewItemSeparatorForeground and so on, but there is no such re

[2021-04-20 20:56] michael-hawker commented on #3064
@JeanRoca @StephenLPeters @oldnewthing does this restriction apply to regular bindings and VisualStates as well?

@ismaelestalayo was just trying to change `DataGrid.Columns` with indexing with the standard syntax as well, and couldn't get it to work. Looks like `DataGrid.Columns` was defined directly as an `ObservableCollection` vs. an `IList`. (FYI @anawishnoff @RBrid)

[code]

[2021-04-20 21:59] arivoir opened #4866 "WinUI Live Visual Tree exception thrown"
When using Live Visual Tree to debug the visual tree of a WinUI 3 for Desktop application an exception is thrown when clicking any item in the tree

![image](https://user-images.githubusercontent.com/17496741/115468984-3e170200-a20a-11eb-9007-578875bb7f28.png)

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.10.0 Preview 2.0

Project Reunion 0.5.5 extension

[2021-04-20 22:05] michael-hawker commented on #179
@ryandemopoulos is there plans to service #4092 in the near future so this feature can get feedback sooner than later for the future? Who should be assigned to his issue now as the PM?

[2021-04-20 22:16] jschwizer99 commented on #4866
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/4854#issue-861074276.

[2021-04-20 22:27] michael-hawker commented on #4702
Sorry was OOF, adding @Sergio0694 as well who recently helped us on the extensions. We have unit tests covering these scenarios for UWP, so assuming this scenario works there, @omnilogix? Also, have you tried with the latest Project Reunion 0.5 based packages? https://aka.ms/wct-winui3

@chrisglein @StephenLPeters `FindChild` is a Logical tree helper, so it doesn't use the `VisualTreeHelper` class

[2021-04-20 23:01] DmitriyKomin commented on #4773
@shelllet - to confirm, are you using ENG / US Keyboard or some other? With that configuration at least, I don't repro (1) or (2) in simple test app with WV2 navigated to webpage with <input> element such as https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_placeholder.

Also, can  you elaborate on how MenuFlyout in projectpanel.simple is related to the WebView2 input issue? Is this

[2021-04-20 23:05] StephenLPeters commented on #4866
@RealTommyKlein FYI

[2021-04-20 23:13] StephenLPeters commented on #4861
NavigationBackButton_v1.xaml and NavigationBackButton.xaml are both used in Winui2 (and currently winui3 as well).  They are swapped in and out using the XamlControlsResources ControlsResourcesVersion property.  Today by default we use the V1 styles, but if you set that property to Version2 we'll use the updated styles. It sounds like you are reporting an issue with the V1 style in winui2? Can you

[2021-04-20 23:14] RealTommyKlein commented on #4866
Closing as a dupe of #4854 - this will be fixed in 16.10 Preview 3, and a workaround is available in [this comment](https://github.com/microsoft/microsoft-ui-xaml/issues/4854#issuecomment-822852473).  Thanks!

[2021-04-20 23:14] #4866 closed

[2021-04-20 23:14] StephenLPeters commented on #4860
@bartekk8 and @MikeHillberg FYI

[2021-04-20 23:15] Sergio0694 commented on #4702
I'm having issues with the WinUI 3 project on my machine right now as I think the .NET 6 Preview SDK I have installed is causing conflicts, will try that again tomorrow. I did setup a UWP project though (using `WinUI 2.5` and `Microsoft.Toolkit.Uwp.UI 7.0.1`), and that works just fine, the `TabView` control is loaded correctly and there's no crash.

Especially considering the really odd exception

[2021-04-20 23:17] michael-hawker commented on #3685
@aqibbanday why are you still trying to use the `<UseWPF>` flag in the project? Can you explain in more detail exactly what you're trying to accomplish and how you are blocked?

If you follow the guidance provided by the WinUI docs and our guide for the Windows Community Toolkit for WinUI 3 [here](https://aka.ms/wct-winui3). Then you shouldn't have a problem using a `DockPanel` type control (that

[2021-04-20 23:18] StephenLPeters commented on #4847
because Selector is abstract the only way to "derive" from it in cppwinrt is to do so in an idl definition of your type and then use the cppwinrt generated classes to derive from the projection. What you're attempting to do is implement Selector with MyControl, which isn't allowed because Selector is abstract.

As to why Selector is abstract, I'm not sure.  @MikeHillberg or @ranjeshj might know.

[2021-04-20 23:19] StephenLPeters commented on #4843
@Austin-Lamb and @JesseCol FYI

[2021-04-20 23:19] dotMorten commented on #3685
That's excluding the scenario where you might want to use a non-UI class from one framework within the other app. It's sort of rare that referencing one nuget package would break another nuget package in the way that this does it. IMHO there should be nothing wrong with referencing both, just like there's nothing with referencing both WinForms and WPF in the same app.

[2021-04-20 23:25] michael-hawker commented on #4796
@StephenLPeters it should. Our early 7.0 previews were working fine, but then investment in the base helpers for XAML Islands [aren't being maintained anymore](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32#xaml-islands-notice) as everything has shifted to working on WinUI 3. We also pivoted to supporting [WinUI 3](https://aka.ms/wct-winui3) in the Toolkit.

FYI @marb2000 @ocalvo @azch

[2021-04-20 23:28] rectified95 opened #4868 "KeyUp events don't match KeyDown for Ctrl/Alt/Shift"
**Describe the bug**

`KeyDown` [events ](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.keydown?view=winrt-19041) for keys: `ControlLeft, ShiftLeft, AltLeft` have incorrect `KeyUp` analogs, with the code being `ControlRight, ShiftRight, AltRight`, respectively.

**Steps to reproduce the bug**

Register KeyDown and KeyUp handlers on a XAML `TextBox`, and inspect the key code fo

[2021-04-20 23:39] andrewleader commented on #3685
@dotMorten the scenario you described works as of 0.5.5 of Project Reunion. You can reference 0.5.5 from a WPF app and use non-WinUI classes from Project Reunion in your WPF app.

We previously had a bug in the first version of 0.5 that caused that to break, but we fixed that in the 0.5.5 servicing update.

In the future, we hope to allow mixing UI of WinUI and WPF (XAML Islands), but right now yo

[2021-04-20 23:43] dotMorten commented on #3685
@andrewleader But not the other way around: If I want to use a WPF class in my WinUI app, I get this:
![image](https://user-images.githubusercontent.com/1378165/115476816-79f49c00-a1f7-11eb-974c-70f744c7ee76.png)

[2021-04-21 00:14] michael-hawker commented on #3237
@Felix-Dev I thought I remember seeing a PR for something like this? Did it not get linked or am I thinking of something else?

[2021-04-21 00:16] andrewleader commented on #3685
@dotMorten what non-UI-related WPF APIs are you trying to use in your WinUI app?

[2021-04-21 00:16] nickrandolph commented on #3685
@dotMorten (and I'm asking this to you because you're more familiar with WPF and what devs may want to use from that framework) are there clear scenarios where it makes sense to support WPF inside a Reunion app?

My concern is that we're asking a lot for there to be bi-directional support - I'd have assumed that the most common scenario is existing WinForms/WPF apps that want to leverage Reunion,

[2021-04-21 00:18] michael-hawker commented on #2350
Also see #1943

[2021-04-21 00:23] michael-hawker commented on #4260
Yeah, we added a [`Debounce`](https://docs.microsoft.com/dotnet/api/microsoft.toolkit.uwp.ui.dispatcherqueuetimerextensions.debounce) method to the Toolkit to help with this type of scenario.

[2021-04-21 00:57] omnilogix commented on #4702
@Sergio0694 - I tried to test, but get this error after upgrade to 0.5.5
**This version of Project Reunion requires WinRT.Runtime.dll version 1.2 or greater.**
How do I resolve this?

[2021-04-21 02:28] codendone commented on #4201
@michael-hawker What is `GridSplitter` a wrapper class for? If it is a wrapper for another subclass, that subclass could create its own public property or accessor functions.

The `ProtectedCursor` property enables many scenarios, including ones which weren't available in system XAML. We do still need an equivalent of `CoreWindow.PointerCursor`, as well as the eventual `UIElement.Cursor`, but don'

[2021-04-21 02:43] dotMorten commented on #3685
@andrewleader Personally I'm not at the moment, but that's what this issue is about. Generally referencing a few assemblies shouldn't step on referencing a few other assemblies. But I could imagine prior to getting xaml islands, you could launch multiple windows and have them be mixed, so one is a winui window, the other a WPF window.
But also base libraries like System.Xaml have some useful stuff

[2021-04-21 02:51] shelllet commented on #4773
I recorded a video to show this problem. This video shows the complete process and includes how to comment the code to get webview2 back to work.

youtube link: https://youtu.be/fTEBiSCSbsw

[2021-04-21 05:36] gaoyulei1983 commented on #4844
Yes, I have another access key "O" on the menu flyout item which want to continue to be used after Alt+C is activated. You can see it works on AppBarButton.

[2021-04-21 06:45] aqibbanday commented on #4772
@MikeHillberg

[2021-04-21 07:11] aqibbanday commented on #3685
In preview i launched a WPF window as Dialog (referenced WPF class library in WinUI)

            Window win = new Window();
            win.ShowDialog();

Exception thrown at 0x00007FFF37D24B59 (KernelBase.dll) in WinUIApp.exe: 0x0000071A: The remote procedure call was canceled, or if a call time-out was specified, the call timed out.
Exception thrown at 0x00007FFEE086D6AC (Microsoft.ui.xaml.dll)

[2021-04-21 07:20] aqibbanday commented on #3685
The problem is WinUI window has very less properties and customization available as compared to WPF.
eg. I want a to show a window as dialog, with no borders and transparent background.

[2021-04-21 08:34] alexdi220 opened #4870 "The ContentDialog.ShowAsync throws the ArgumentException"
**Describe the bug**
Hi, the ShowAsync throws the ArgumentException `Value does not fall within the expected range.`

**Steps to reproduce the bug**
[code]
[code]

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

[WinUI 3 - Project Reunion 0.5: 0.5.5]

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  | Yes |

| Wi

[2021-04-21 10:06] nbevans commented on #4807
Here you go.

Sideload certificate (Local Machine > Trusted People): http://byteflagshared.blob.core.windows.net/files/sguwpcert.cer

App installer: http://byteflagshared.blob.core.windows.net/files/panconnect.mobile.uwp.broken.appinstaller

[2021-04-21 10:34] nbevans commented on #4807
If I remove the dependencies for Microsoft.UI.Xaml emitted in the .appinstaller file - then it works fine. It is almost as though those dependencies were emitted in error?

[2021-04-21 11:17] HppZ opened #4871 "Question: How to set Uri in a Style setter?"
`<Setter Property="Uri" Value="ms-appx:///test.png"></Setter>`
Uri is a dep property, but it does not work.

then I try to create a Uri in XAML and use StaticResource to ref it.
`xmlns:sys="using:System"`
`<sys:Uri x:Key="TestUri">ms-appx:///test.png</sys:Uri>`
but it can't compile:
`Unknown type 'Uri' in XML namespace`

[2021-04-21 11:31] Marv51 opened #4872 "RadioButtonOuterEllipseFill lightweight radio button style does not work"
**Describe the bug**
The lightweight style `RadioButtonOuterEllipseFill` (see documentation [here](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.radiobutton?view=winrt-19041)) does not work. This was working before in UWP at some point.

**Steps to reproduce the bug**
[code]
RadioButton is filled white, and when hovered over changes to green, when it should be shown as a radiob

[2021-04-21 11:47] omikhailov commented on #4861
Sure, V1:

![image](https://user-images.githubusercontent.com/75426711/115548366-111d2a80-a2b0-11eb-90e7-e88556ff6358.png)

V2:

![image](https://user-images.githubusercontent.com/75426711/115548440-23976400-a2b0-11eb-9503-ceacc4acec3f.png)

Thanks for the help!

[2021-04-21 12:05] HppZ commented on #4871
emmm……

[2021-04-21 12:05] #4871 closed

[2021-04-21 12:10] omikhailov commented on #4861
V2 is still under construction, right? After switching to this version I immediately noticed that hamburger menu button does not work correct in LeftMinimal mode. Should I report such bugs or these styles will be anyway tested before release?

[2021-04-21 12:16] chingucoding commented on #4861
I think it's still worth pointing out those bugs and creating issues. Regarding the BackButton style, @StephenLPeters can we just backport the V2 changes/style or is there anything we need to watch out for? I would look into this then.

[2021-04-21 12:52] jschwizer99 commented on #4870
@alexdi220 Try out some magic by adding `dlg.XamlRoot = this.Content.XamlRoot;`. See https://github.com/microsoft/microsoft-ui-xaml/issues/2504.

[2021-04-21 12:58] harvinders opened #4873 "The underline for NavigationViewItems in horizontal mode is too small (new UI)"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create NavigationView with couple of items and set the mode to Horizontal
2. The selected item is underlined
3. The underline is too small and easy to miss

**Expected behavior**
Selected underline should cover the whole text

**Version Info**

NuGet package version:
[Microsoft.UI.Xaml.2.6.0-prerelease.210405

[2021-04-21 12:59] Marv51 commented on #4816
Can you speak about the plan for open-sourcing again? I understand that it is a somewhat high priority now that WinUI 3 stable has shipped.

What is the goal when you say open-sourcing WinUI? Will the code just be dumped/mirrored here, or is the plan to open up the development process?
Is the end goal something like what the dotnet project is doing? They have public planning, public issues, live-s

[2021-04-21 15:25] omikhailov opened #4874 "It is hard to hit the menu button of NavigationView when app extends view into Title Bar"
**Describe the bug**
When NavigationView is in LeftMinimal mode, menu button works not as expected.

**Steps to reproduce the bug**
Create new UWP app with WinUI 2.6 and set styles version = Version2

[code]

Add NavigationView to the MainPage

Run the app and decrease window width. NavigationView will switch to LeftMinimal mode.

Try to click in the center of hamburger menu button - it will not o

[2021-04-21 16:11] terrycox commented on #4816
I just heard that Pivot won't be available until 0.8. Can you expand on that?

[2021-04-21 16:11] terrycox commented on #4816
There is news of a refresh of the Windows App Store. How does this affect WinUI 3 and Reunion?

[2021-04-21 16:17] arivoir opened #4875 "Inherited DataTemplate not rendering in WinUI for Desktop"
The following markup renders correctly

[code]

But if DataTemplate is inherited, nothing is rendered

[code]

[code]

Here it is the repo project

[App9.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6352306/App9.zip)

[2021-04-21 16:24] arivoir commented on #4875
More info. Calling LoadContent of the inherited DataTemplate doesn't work either. It returns null.

[2021-04-21 17:21] anawishnoff commented on #4816
@terrycox About your Pivot question - Pivot will be available in the upcoming 0.8 **Preview** release, which you can expect by the end of April 😊. It will continue to be available in WinUI 3 through the subsequent preview and stable releases.

[2021-04-21 17:22] anawishnoff commented on #4816
@terrycox About your Pivot question - Pivot will be available in the upcoming 0.8 Preview release, which you can expect by the end of April 😊.

[2021-04-21 17:49] michael-hawker commented on #4702
@omnilogix did you follow the upgrade steps from https://aka.ms/projectreunion/update-your-app?

[2021-04-21 17:49] codendone commented on #4190
This is fixed in Project Reunion 0.5.5, which was released last Friday.

[2021-04-21 17:49] #4190 closed

[2021-04-21 18:03] omnilogix commented on #4702
@michael-hawker Thanks for the link.  The app does not crash with the latest bits.

[2021-04-21 18:10] codendone commented on #4397
I don't know what SystemHook.dll is. This does not exist on my machines, and is not something WinUI interacts with. Its name implies that it applies some system-wide hooks which can interact with any processes. It is probably an x64 dll which is why it can't load into x86 process to affect them.

[2021-04-21 18:43] alexdi220 commented on #4870
@jschwizer99 Thanks. This WA works for me.

[2021-04-21 19:07] michael-hawker commented on #2802
Is there an example of how to use this from start-to-finish with the WinUI 2.6 previews? @nishitha-burman @eliezerpMS

[2021-04-21 19:26] michael-hawker commented on #4702
@StephenLPeters seems like this is good now, not sure if it was resolved as some other fix or not, so feel free to continue investigation from the WinUI or C#/WinRT side or close.

[2021-04-21 19:42] terrycox commented on #4816
Thanks for the response.

I thought from the timetable that 0.8 was out in June.

From: Ana Wishnoff ***@***.***>
Sent: Wednesday, April 21, 2021 1:22 PM
To: microsoft/microsoft-ui-xaml ***@***.***>
Cc: Terry Cox ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/microsoft-ui-xaml] 👩‍💻☎ WinUI Community Call - April 21, 2021 (#4816)

@terrycox <https://github.com/terrycox>  About your Pivot

[2021-04-21 19:43] terrycox commented on #4816
0.8 Preview, got it.

Thanks much.

From: Ana Wishnoff ***@***.***>
Sent: Wednesday, April 21, 2021 1:22 PM
To: microsoft/microsoft-ui-xaml ***@***.***>
Cc: Terry Cox ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/microsoft-ui-xaml] 👩‍💻☎ WinUI Community Call - April 21, 2021 (#4816)

@terrycox <https://github.com/terrycox>  About your Pivot question - Pivot will be available in the upc

[2021-04-21 19:51] Tam66662 commented on #4796
@michael-hawker No, there is no exception that I'm able to capture from code in Visual Studio.  When I run the app (F5) it immediately returns back to the Visual Studio UI.  The app crashes before it can even render.  In EventViewer, it says that it crashes inside of Windows.UI.Xaml.dll.

![image](https://user-images.githubusercontent.com/12551526/115609288-34d67580-a29c-11eb-8d45-548f81baad8f.png

[2021-04-21 20:08] codendone commented on #4425
This works for me in Project Reunion 0.5.5, which was released last Friday. I tried both x:Bind and setting in code. There was a big CsWinRT update that in release, which I suspect fixed this.

[2021-04-21 21:23] michael-hawker commented on #4796
Thanks @Tam66662 not sure if the WinUI folks may have more suggestions for getting more details outside of turning on mixed/native debugging and turning of 'my code only'.

Is it only if you include the Controls package? It's a meta package now comprised of multiple sub-packages, so wondering if you'll get similar errors if you include 7.0.1 of `Microsoft.Toolkit.Uwp.UI.Controls.Primitives` or `Mi

[2021-04-21 23:36] #4868 closed

[2021-04-22 05:16] marb2000 commented on #4302
The difference between the UWP and Desktop folder structures is because there is a checkbox on the project creation wizard that allows you to generate the solution on the same folder that the project. That’s it. It doesn’t matter what folder structure do you choose in the Windows Template Studio.

[2021-04-22 05:16] #4302 closed

[2021-04-22 06:15] vijayarasan commented on #4774
Hi @StephenLPeters ,

Can you please provide any working solution to achieve the DataTemplate with Converter using StringBuilder in code behind? if possible please provide the working sample to achieve this.

Regards,
Vijayarasan S

[2021-04-22 06:24] DmitriyKomin commented on #4858
Thanks for reporting this, @krschau will investigate this.

[2021-04-22 07:22] aqibbanday commented on #3685
Have you tried using a WPF Class library in WinUI?

[2021-04-22 07:25] aqibbanday commented on #3685
Can we know what non-UI API's are available, maybe prepare a list?

[2021-04-22 08:14] wbokkers commented on #4574
I see this crash happening in Reunion 0.5.5 as well.

[2021-04-22 09:46] Marv51 commented on #4752
Hi, GC.Collect() was very helpful in getting to the bottom of this. Thank you!

I tried to create a sample for you. And during this process I significantly narrowed down on the issue!

To me it looks like if you add a handler to the WebMessageReceived event inside of a ListView ItemTemplate. That prevents it from being disposed.

[code]
See complete sample [here](https://github.com/Marv51/WebView2

[2021-04-22 10:03] zhuxb711 opened #4878 "Set AlwaysExpanded=True will cause CommandBarFlyout clipped when closing"
**Describe the bug**
If I change PrimaryCommand and close CommandBarFlyout, it will clip itself.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set AlwaysExpaned = True
2. Change PrimaryCommand to hidden one
3. Close CommandBarFlyout

**Expected behavior**
Should close itself like it used to be.

**Screenshots**
I click "Copy" twice and it work well.
But if primary command ch

[2021-04-22 12:03] get-flat opened #4879 "Question: Documentation ProjectReunion/WinUI"
Following: https://docs.microsoft.com/pl-pl/windows/apps/project-reunion/get-started-with-project-reunion step 6

Following: https://github.com/microsoft/microsoft-ui-xaml/issues/4140

I don't see "Enable UI Debugging Tooling for WinUI 3 Projects" item in VS Version 16.10.0 Preview 2.0.

[2021-04-22 12:34] Marv51 commented on #4752
Switching from a ListView to an ItemsControl has completely solved this issue for me.

Should I update the issue description and title? Or should I file a seperate issue?

[2021-04-22 13:27] dotMorten commented on #3685
Also, try removing arm64 from Platforms tag.

I already removed it from the RIDs. The platforms tags are just for the configuration manager. It has no effect on the error I showed above

[2021-04-22 13:41] aqibbanday commented on #3685
I was able to reference project's both side and build successfully. With no reference to any API.

[2021-04-22 13:57] aqibbanday commented on #3685
I was even able to show WPF window in WinUI project, worked as multi window as well.

[2021-04-22 15:45] #4533 closed

[2021-04-22 15:45] #4534 closed

[2021-04-22 17:06] sylveon commented on #4870
An alternative is putting the ContentDialog directly in the XAML code, then the XamlRoot is automatically assigned and as a bonus localization is easier since resw just works.

[2021-04-22 17:10] sylveon commented on #4397
According to a quick Google it looks to be from [ObserveIT](https://documentation.observeit.com/installation_guide/excluding_observeit_processes_from_antivirus_software.htm)

[2021-04-22 17:51] winston-de opened #4881 "CommandBarFlyout content extends beyond the taskbar"
**Describe the bug**

CommandBarFlyout secondary commands content extends below the taskbar, which cuts off the commands. It does seem to recognize the bounds of the window itself (and will adapt when the content would extend below the window), just not the taskbar. This occurs when the taskbar is in bottom and left positions, it does not occur when the taskbar is in top or right positions.

**Ste

[2021-04-22 19:40] marb2000 commented on #4843
Hi @zadjii-msft !

Unfortunately, as we announced more than one year ago, OS XAML is something that we are not inventing right now. All the investments go to WinUI 3 that will support XAML Islands. It's expected that all these animations work on the WinUI 3 version.

Thanks
-Miguel

[2021-04-22 19:40] #4843 closed

[2021-04-22 20:10] sylveon commented on #4843
But WinUI 3's XAML Islands are still very far away :/

[2021-04-22 20:50] marb2000 commented on #4843
No really! We are super close to the engineering plan for v1, and Islands is part of it. By mid-May we should be able to commit specific work.

[2021-04-22 21:13] chingucoding commented on #4544
I would like to take a look at this.

[2021-04-22 23:02] StephenLPeters commented on #4879
@JeanRoca FYI

[2021-04-22 23:05] StephenLPeters commented on #4878
@teaP FYI

[2021-04-22 23:07] StephenLPeters commented on #4875
@arivoir do you know if this works in a UWP?

@MikeHillberg FYI

[2021-04-22 23:09] StephenLPeters commented on #4874
I tried this out with my test app and am not able to reproduce the issue. Could you please make a gif of the issue?

[2021-04-22 23:11] StephenLPeters commented on #4873
@chigy FYI

[2021-04-22 23:15] StephenLPeters commented on #4873
![image](https://user-images.githubusercontent.com/7758786/115796042-edc4af00-a385-11eb-80fe-95bda480882d.png)

@karenbtlai FYI as well

[2021-04-22 23:22] StephenLPeters commented on #4872
I think your analysis is correct. That line should be a theme resource. I beleive if you provide it in the override in this location it will work:
[code]

[2021-04-22 23:23] StephenLPeters commented on #4872
Additionally, this visual state group is the default state and should not have any setters: https://github.com/microsoft/microsoft-ui-xaml/blob/2c1d7144a0c5ffe4fae25f0be2fdaf40bd41973c/dev/CommonStyles/RadioButton_themeresources.xaml#L220

[2021-04-22 23:23] StephenLPeters commented on #4872
@karenbtlai FYI

[2021-04-22 23:25] StephenLPeters commented on #4870
@sylveon is correct, the best work around it to parent the content dialog somewhere in your xaml tree, preferably from markup.

[2021-04-22 23:25] #4870 closed

[2021-04-22 23:30] StephenLPeters commented on #4861
I don't think we should use the V2 style in V1, the V2 style uses animated icon.  It does seem like there might be a color issue with the V1 style.  @chingucoding if you'd like to take a look that would be awesome.

[2021-04-22 23:31] StephenLPeters commented on #4844
It works with an appbar button that on invocation opens a flyout with another button in it?

[2021-04-22 23:32] StephenLPeters commented on #4844
Does pressing alt what the popup is open result in the access key being displayed?

[2021-04-22 23:37] karenbtlai commented on #4873
This is a design bug that I can definitely bring up with the design team.

[2021-04-22 23:42] StephenLPeters commented on #4736
Great discussion! @gabbybilka and @ryandemopoulos FYI

[2021-04-22 23:48] karenbtlai commented on #4872
The setters for the CommonStates were necessary for the colour animations to animate back to the correct colour. It seems when the colour animation bindings were updated they weren't removed, let me investigate and will remove them if necessary.

I can send a fix out for that as well.

[2021-04-23 00:57] kat-y commented on #2310
Thanks everyone for your great comments! Sorry for the delay here - to give some explanation, we heard the community's frustration at Pivot's removal from WinUI 3 and we've been discussing if, where, and how any work done to 'fill the gap' could be delivered in WinUI.

I'm hoping to understand your needs and the scope involved for 1) supporting a horizontal selection pattern (this issue) and 2) bu

[2021-04-23 01:11] kat-y commented on #4555
Thank you @robloo for opening this issue! And thanks everyone for your great comments! (Restating what I shared on #2310 Sorry for the delay here - to give some explanation, we heard the community's frustration at Pivot's removal from WinUI 3 and we've been discussing if, where, and how any work done to 'fill the gap' could be delivered in WinUI.)

I understand a lot of these points. I'll echo wha

[2021-04-23 01:18] yaichenbaum commented on #2310
@kat-y I noticed that this proposal is for a horizontal selection control, what about expanding it to include a vertical option as well?

[2021-04-23 01:23] kat-y commented on #2310
@yaichenbaum That's a good point! I changed the name to Grouped selection support this time 😄. I've also added the orientation functionality to the scope table. I see horizontal as in-scope for a v1 and see vertical as important, but not critical for a v1 ButtonsGroup. Let me know if you think otherwise!

| Capability | Priority |
| :---------- | :------- |
| Support horizontal orientation | Must

[2021-04-23 02:14] riverar opened #4883 "Missing symbols for x86 genxbf.dll in microsoft.projectreunion.winui\0.5.5\tools"
Microsoft.ProjectReunion.WinUI 0.5.5 ships genxbf.dll in tools\[arch] folders. The Microsoft symbol server contains symbols for x64 and arm64 images, but not the x86 image.

**Steps to reproduce the bug**
1. Navigate to `%UserProfile%\.nuget\packages\microsoft.projectreunion.winui\0.5.5\tools` via a command prompt
2. Issue command: `"C:\Program Files (x86)\Windows Kits\10\Debuggers\x86\symchk.exe"

[2021-04-23 02:18] gaoyulei1983 commented on #4844
An AppBarButton opens a flyout with the access key "O" displayed when you press alt+C. It is a continuous behavior without pressing alt again.

[2021-04-23 02:42] robloo commented on #4555
@kat-y I'm going to very blunt:

 1. Have you personally ever developed applications before? What about with XAML? If you had I think you would quickly see the value in a stand-alone TabControl.
 2. Nearly all UI toolkits I'm aware of across Linux, macOS, iOS, Android and historically Windows have had a TabControl. It's there for good reasons: It improves developer productivity and standardizes a

[2021-04-23 08:04] NeelakandanKannan commented on #4654
Hi @chrisglein ,

Is there any update on this?

[2021-04-23 08:33] alexdi220 commented on #4842
Any updates? At now it's the main showstopper for our development.

[2021-04-23 09:15] alexdi220 opened #4884 "Unexpected Access violation reading location exception"
**Describe the bug**
Hi,
I've faced with AccessViolation while testing our app. The exception was raised on ItemContainerGenerator::UnlinkContainerFromItem. There is no stable way how to reproduce only a stack trace

**Steps to reproduce the bug**
[code]

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:
[WinUI 3 - Project Reunion 0.5: 0.5.5]

Windows app type:
| UWP

[2021-04-23 10:44] AndyMahub opened #4900 "Inherits TabViewItem crash with Microsoft C++-Exception: winrt::hresult_error"
Hi,

i have created only a empty MyTabViewItem-Class with inherits to TabViewItem like this:

using Microsoft.UI.Xaml.Controls;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
namespace VereinsOrdner
{
    public class MyTabViewItem : TabViewItem
    {
    }
}

Nothing more. Then i have in MainWindow-Class this method:

        {

[2021-04-23 11:56] rajeshangappan commented on #4852
This issue happens due to below issue fix.
https://github.com/microsoft/microsoft-ui-xaml/issues/3017#issuecomment-667628206
Now, i have removed that above workaround and found some other fix for resource conflicts.

[2021-04-23 11:56] #4852 closed

[2021-04-23 12:04] Shomnipotence commented on #4873
Amazing Design~~~~

[2021-04-23 12:07] harvinders commented on #4873
While it is looked at, maybe designers should also consider if it makes
sense to have the underline beneath the icon too.

On Fri, 23 Apr 2021, 22:04 Shomnipotence, ***@***.***> wrote:

[2021-04-23 12:20] LeftTwixWand opened #4885 "WinUI 3 - ProjectReunion: ComboBox expander not applying RequestedTheme"
**Describe the bug**
I have an application, where App.RequestedTheme = ApplicationTheme.Light
But, when I'm creating a ComboBox, which has RequestedTheme = Dark, expander will be Light

**Screenshots**
![image](https://user-images.githubusercontent.com/50652041/115868353-00ea8400-a445-11eb-8dc7-291a03548a16.png)
![image](https://user-images.githubusercontent.com/50652041/115868363-03e57480-a445-11

[2021-04-23 13:42] omikhailov commented on #4874
@StephenLPeters Seems like this happens only when application extends view into Title Bar. Here is a sample project to reproduce:
[App2.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6365677/App2.zip)

[2021-04-23 13:46] omikhailov commented on #4861
@StephenLPeters  I agree, moving only one line from V2 to V1 would be enough to fix color:

`<Setter Property="Foreground" Value="{ThemeResource NavigationViewItemForeground}" />`
instead of
`<Setter Property="Foreground" Value="{ThemeResource SystemControlForegroundBaseHighBrush}" />`

[2021-04-23 14:01] arivoir commented on #4875
No. I know it works in WPF

[2021-04-23 15:22] Marv51 opened #4886 "DataTransferManager.GetForCurrentView() in WinUI 3"
**Describe the bug**
Calling `DataTransferManager.GetForCurrentView()` fails with a `System.Runtime.InteropServices.COMException: 'Element not fount'.` This is somewhat expected, given the 'GetForCurrentView' name.

However, I have not found any mention of this particular class. Especially not in the [WinRT API changes for Desktop apps](https://github.com/microsoft/microsoft-ui-xaml/blob/master/do

[2021-04-23 15:45] Marv51 commented on #4548
This is still an issue to me. The roadmap show on the last community call is not reflected in the document. There are comments all over the issues shedding a bit of light on the actual roadmap.

Some ideas for the updated roadmap:
* You plan on having a 0.8 preview in [late April](https://github.com/microsoft/microsoft-ui-xaml/issues/4816#issuecomment-824228704), early May
* You said preview featu

[2021-04-23 15:58] carldebilly opened #4887 "Grid: RowDefinition's MaxHeight is not working when placed in a StackPanel"
**Describe the bug**
Put the following XAML in _XAML Studio_:
[code]
Output in XAML Studio:
![image](https://user-images.githubusercontent.com/4174207/115898075-24083a00-a42b-11eb-84b8-f03a66f61579.png)

**Expected behavior**
I Expect the result to be like the following:
![image](https://user-images.githubusercontent.com/4174207/115897193-2a49e680-a42a-11eb-91cb-745e57808f24.png)

Since the `MaxHe

[2021-04-23 16:21] anawishnoff commented on #4548
Hi @Marv51, on the feature roadmap portion you can see that certain features are marked with a diamond at the 0.5 and 0.8 release columns - this means that these features will be included in the previews for those releases. So multi-window support for example has a diamond underneath the 0.8 release column - that means it'll be included in the 0.8 preview. If this system is confusing as a whole, l

[2021-04-23 16:27] chrisglein commented on #4654
No updates. As is we would need to engineer a repro to try to reproduce the same state. Which as you've stated you didn't have luck with.

Unfortunate that the exception doesn't contain the to/from types for the cast. In C# I generally expect something more like this:
[code]
Although maybe that's a C#/winrt thing where the types aren't shown. @Scottj1s is that expected?

For the stack you provided

[2021-04-23 16:46] Scottj1s commented on #4654
@manodasanW, does this look familiar?

[2021-04-23 18:20] jeromelaban commented on #4855
This is indeed a blocker to upgrade to 0.5.5 for Windows specific controls of Uno Platform as well.

[2021-04-23 18:26] Scottj1s commented on #4855
@jeromelaban, this issue has been resolved and will be included in the next Project Reunion servicing release (tentatively, version 0.5.6).

[2021-04-23 18:26] #4855 closed

[2021-04-23 18:42] mgoyalitm commented on #2236
What about using IHostbackdropProvider interface in dotnet 5 and use dll import somehow and wire it up with windows at least, probably a nuget package WinUI.Lasthope.Windows?

Or Just do it in your own way.

[2021-04-23 21:21] codendone commented on #4240
Do you still see this issue on Project Reunion 0.5.5? This picked up a new CsWinRT, and so far I'm not seeing this problem when playing around in WinUI 3 Controls Gallery.

[2021-04-23 21:32] BladeXR commented on #3316
I'm finding myself in the very same problem. Is there any update on this or a workaround you've found @vgromfeld ?

[2021-04-23 23:18] StephenLPeters commented on #4887
Wow, this is so strange.  To be clear, this issue is present in System Xaml and is not unique to XamlStudio.  Removing the outermost stack panel results in the expected picture.

[2021-04-23 23:19] StephenLPeters commented on #4887
@MikeHillberg and @chrisglein FYI, I'm not sure who owns this, putting it on Controls for now.

[2021-04-23 23:20] codendone commented on #3663
This works on Project Reunion 0.5.5, presumably due to the new cswinrt in that release.

[2021-04-23 23:20] #3663 closed

[2021-04-23 23:24] arivoir commented on #4240
Yes, it´s still in Project Reunion 0.5.5

[2021-04-23 23:29] StephenLPeters commented on #4885
This does not reproduce with Winui2. @Austin-Lamb or @codendone FYI. Do we need to do something to propagate requested theme to parented popups in winui3?

[2021-04-23 23:32] StephenLPeters commented on #4884
@codendone FYI

[2021-04-23 23:34] StephenLPeters commented on #4883
@alwu-msft FYI

[2021-04-23 23:35] #4425 closed

[2021-04-23 23:40] StephenLPeters commented on #4874
Thank you! the repro is very helpful.

[2021-04-23 23:44] StephenLPeters commented on #4874
This issue does not appear to be unique to the new styles, Changing the ControlsResourcesVersion to Version1 still has the issue.  @jevansaks or @Austin-Lamb do you know if extends view into title bar is supposed to be eating mouse input?

[2021-04-23 23:47] StephenLPeters commented on #4844
@Austin-Lamb can you weigh in on this access key behavior?

[2021-04-23 23:47] jevansaks commented on #4874
Yes. ExtendsViewIntoTitlebar means you need to supply a visual that represents the hittable region of your titlebar. Are you calling [Window.SetTitlebar](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.window.settitlebar?view=winrt-19041)?

[Do define a draggable region that matches the visual title bar.](https://docs.microsoft.com/en-us/windows/uwp/design/shell/title-bar#dos-and-donts)

[2021-04-24 01:08] SavoySchuler commented on #4555
@robloo Please stop taking this to the extreme. This has not been "thrown out," @kat-y is just giving the expected investigative diligence to understanding what the current alternative is. My expectation is that team members will be always attentive to first asking fundamental questions: _"Have you tried something else? What was missing from that thing? Are there alternatives _almost_ do the right

[2021-04-24 01:59] codendone commented on #4842
Do you still repro the issue with the Project Reunion 0.5.5 servicing release which went public last Friday (7 days ago)? If you see Microsoft.UI.Xaml.dll being loaded from a directory `Microsoft.ProjectReunion.0.5_0.52104.*` with 52104 rather than 52103, then you're getting 0.5.5. There is a new version of CsWinRT in that release which might help with this.

[2021-04-24 02:13] codendone commented on #4240
Thanks for checking. Do you have more info on how to repro?

[2021-04-24 02:14] Tam66662 commented on #4796
@michael-hawker

Microsoft.Toolkit.Uwp.UI.Controls.Primitives 7.0.1: FAILED
Microsoft.Toolkit.Uwp.UI.Controls.Layout 7.0.1: FAILED
Microsoft.Toolkit.Uwp.UI.Controls 7.0.0_preview2: PASSED
Microsoft.Toolkit.Uwp.UI.Controls 7.0.0_preview4: PASSED
Microsoft.Toolkit.Uwp.UI.Controls 7.0.0_preview5: FAILED

So it appears that something broke between 7.0.0_preview4 and 7.0.0_preview5.

Regards,
Tam

[2021-04-24 05:50] robloo commented on #4555
With the removal of the Pivot in WinUI 3 (before it will be added back this year for previews) Microsoft most certainly has 'thrown-out' the concept of a TabControl. This issue exists because there is a gap in functionality for a general-purpose tab control that has been discussed extensively elsewhere. I was not referring to throwing-out or closing this issue by itself -- the wording could have b

[2021-04-24 13:51] TheColdPot opened #4890 "Question: Why MenuItems does not found on NavigationViewItem"
(*I am using Visual Studio Chinese translated, the sentence below is translated which may be difference than Oringinal.*)
When I typed these code, editor tells me `Unexpected symbol "MenuItems"`
[code]
Why and what happends?

[2021-04-24 15:55] soumyamahunt opened #4891 "FlowDiection is based on system language instead of app language"
**Describe the bug**
Many apps provide users option to change app language from the app itself rather than changing system language. But if the system language is LTR type and app language is RTL type then the control `FlowDiection` is kept LTR instead of RTL.

**Steps to reproduce the bug**
1. Keep system language to any language that supports LTR layout.
2. Implement a sample app with changing a

[2021-04-25 00:00] #4544 closed

[2021-04-25 01:17] sylveon commented on #4886
You need to use [IDataTransferManagerInterop](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-idatatransfermanagerinterop)

[2021-04-25 01:23] sylveon commented on #4839
RoGetActivationFactory works much in the same way and takes a string

[2021-04-25 01:26] sylveon commented on #4831
Looks like a bug carried over from Xaml islands (#3577)

[2021-04-25 01:41] sylveon commented on #4798
Keep in mind Dispatcher and DispatcherQueue are fully native code so they can't interop fully seamlessly with C#'s tasks. They need to be usable from C++ code as well.

You don't need to await RunAsync because awaiting the TCS right after achieves the same, and on the new DispatcherQueue (the CoreDispatcher is actually deprecated) you actually *can't* await it, since there's no method to do so.

Y

[2021-04-25 01:51] sylveon commented on #4783
Can't you use one of the managed DirectX libraries available (like Vortice and TerraFX) in combination with SwapChainPanel to avoid dropping down to C++?

[2021-04-25 01:55] sylveon commented on #4769
The Win32 context menu can already be customized, by calling the GetSystemMenu API and then using APIs like InsertMenuItem and RemoveMenu.

[2021-04-25 01:59] sylveon commented on #4769
But yes, a modern context menu would be nice and I've already achieved it in my xaml islands implementation. It's actually one of the reasons I'm staying on xaml islands for now (besides the obvious fact winui 3 won't support islands at launch)

![](https://user-images.githubusercontent.com/6440374/97798246-43e44100-1bf2-11eb-9958-ffd6b8ab8a1b.gif)

Related: https://github.com/microsoft/ProjectReu

[2021-04-25 02:04] sylveon commented on #4691
Duplicate of #3331 :)

[2021-04-25 02:09] sylveon commented on #4598
Replace void by winrt::fire_and_forget and use co_await as usual

[2021-04-25 02:12] sylveon commented on #4523
16.9 and 16.10 both work with my C++ xaml islands app. Seems c# specific.

[2021-04-25 02:29] shelllet commented on #4839
thks, i will try it

[2021-04-25 06:02] pjmlp commented on #4783
No, because that is yet another re-write being pushed by Microsoft, the main reason why UWP has failed the market, the majority of us is fed up with the code rewrites being pushed since Windows 8, while the platform keeps lagging behind what WPF and Win32 were capable of in 2011.

[2021-04-25 13:35] Jaiganeshkumaran commented on #4847
Standard C++ has no abstract keyword. It's an extension in Visual C++ however C++/WinRT doesn't use it to be portable. I guess the documentation is wrong and I have reported it: https://github.com/MicrosoftDocs/winrt-api/issues/1971

[2021-04-25 14:08] marcelwgn opened #4893 "RadioButtons: Changing ItemsSource and SelectedItem/SelectedIndex consecutevily does not update selection"
**Describe the bug**

When having a RadioButtons control with ItemsSource and either Selection property bound oneway/twoway does not update correctly if we reset the collection beforehand.

Here is a brunch with the respective setup already being done in the WinUI repo:
https://github.com/chingucoding/microsoft-ui-xaml/tree/user/chingucoding/radiobuttons-selection-collection-bug
**Steps to reprodu

[2021-04-25 14:38] oldoldman commented on #4847
my dear @Jaiganeshkumaran  I am not sure if this is off topic.

[2021-04-25 15:00] tedekeroth opened #4894 "WinUI in VS 2019 Preview gives error "... requires WinRT.Runtime.dll version 1.2 or greater" and more"
**Describe the bug**
Unable to build "Blank App, Packaged (WinUI 3 in Desktop)". The error list contains:

I also note that I have yellow triangles in the Dependencies regarding the WinUI, see below.

**Steps to reproduce the bug**
1. I installed the VS 2019 Preview from microsofts webpage, version is Version 16.10.0 Preview 2.1
2. I followed the instructions here: https://docs.microsoft.com/en-us

[2021-04-25 16:38] tedekeroth commented on #4894
I just noticed this thread, which reports the same problem:

https://github.com/microsoft/ProjectReunion/issues/740

I didnt see it at first, as I was directed to https://github.com/microsoft/microsoft-ui-xaml for any WinUI bugs found. This bug report is in https://github.com/microsoft/ProjectReunion.

Thanks.

[2021-04-25 22:43] Marv51 commented on #4886
Thanks! IDataTransferManagerInterop is exactly what I was looking for.

I'm using CsWin32, and with that the code to get the DataTransferManager for the current view is:
[code]

I filed an [issue](https://github.com/microsoft/CsWin32/issues/246) over at CSWin32 to see if that can be simplified in the future, but it works for now.

Thanks!

[2021-04-25 23:20] Marv51 opened #4895 "StorageFile.CreateStreamedFileAsync throws wrong thread exception"
**Describe the bug**
[code]
throws a COMException with is claiming to be on the wrong thread. This is happening for me on the UI thread, which I think should work and has worked in WinUI 2.
(I have some difficulty in providing more information, as for me VisualStudio 2019 16.10 Preview 2.1 becomes completely unresponsive when this exception is encountered. Restarting explorer.exe enabled me to rec

[2021-04-26 05:53] alexdi220 commented on #4842
@codendone yes, it still reproduces with the 0.5.5

[2021-04-26 07:48] thomasclaudiushuber opened #4896 "Proposal: Rename the default branch to "main""
# Proposal: Rename the default branch to "main"
Currently the default branch uses still the non-inclusive term. All other repos in the .NET space, like [WPF](https://github.com/dotnet/wpf), [WinForms](https://github.com/dotnet/winforms), or [.NET Core](https://github.com/dotnet/core), and also the [Project Reunion repo](https://github.com/microsoft/ProjectReunion) use _main_ already as name for th

[2021-04-26 07:54] chingucoding commented on #4896
Also relevant as there was more discussion around this there: https://github.com/microsoft/microsoft-ui-xaml/issues/2676

[2021-04-26 13:38] omikhailov opened #4897 "Proposal: TitleBar mode for NavigationView"
# Proposal: Consider adding TitleBar mode for NavigationView

## Summary
There are three cases for app with NavigationView:

1. It does not change TitleBar:
![image](https://user-images.githubusercontent.com/75426711/116087577-abfb7780-a6a9-11eb-8b73-2129cff0f653.png)

2. It extends view into TitleBar and NavigationView.IsTitleBarAutoPaddingEnabled="True":
![image](https://user-images.githubuserco

[2021-04-26 13:42] omikhailov commented on #4874
Ok, I checked and agree, this behavior is exactly what standard UWP NavigationView had. So, this is not a bug, but a missing feature that would be nice to have in future versions of WinUI.

[2021-04-26 13:42] #4874 closed

[2021-04-26 14:12] arivoir opened #4898 "wapproj files not loading with Net6 sdk"
After installing Net 6 SDK 6.0.100-preview3.21202.5 the .wapproj projects of WinUI 3 for desktop don't load anymore

Is there any way of using WinUI with Net6 sdk installed?

[2021-04-26 14:27] arivoir commented on #4240
Unfortunately I just installed Net6 sdk, and WinUI 3 stopped working, but you should be able to easily reproduce the problem by calling _VisualTreeHelper.GetParent_ method

[2021-04-26 16:12] codendone commented on #4545
Since #4528 is the same issue, I'm going to close this issue. You can track that one for status.

[2021-04-26 16:12] #4545 closed

[2021-04-26 16:27] codendone commented on #4562
I don't repro the issue, even when trying the attached repro app running on the 0.5.0-prerelease. Do you still repro the issue? Are there any extra steps to hit the issue?

[2021-04-26 16:39] arivoir commented on #4898
It seems this problem only happens in VS 16.10.0 Preview 2.0. It works in the non-preview one.

[2021-04-26 16:44] vgromfeld commented on #3316
I know that an OS fix is coming but I don't know in which build it will be delivered.

[2021-04-26 16:51] arivoir commented on #4240
I could create a repo sample

`<Grid Background="Transparent" PointerPressed="OnPointerPressed"/>`

With the following code behind
[code]
Enable seeing the handled exceptions

![image](https://user-images.githubusercontent.com/17496741/116120624-1d312f80-a696-11eb-8d47-1a9a3d88641c.png)

Run the app and click everywhere

![image](https://user-images.githubusercontent.com/17496741/116120671-2cb0788

[2021-04-26 17:08] kmahone opened #4899 "Test MUXControls.ReleaseTest.RepeaterNoCrashTest is unreliable"
I am seeing failures in this test show up in the CI and Release Pipelines.

[2021-04-26 17:16] huoyaoyuan commented on #4890
What version of WinUI are you using? It was introduced in very recent version.

[2021-04-26 17:43] mandalorianbob commented on #4798
I guess I have not been explaining this very well. However, "Tasks aren't compatible with C++" does explain The Why.

Again, for clarification, I'm not talking about using the Dispatcher - I _already_ use the Dispatcher. (Also, two side notes: you should never leave a Task unawaited, that's how errors get uncaught. And I don't want to be calling thread switching code within a method, on account of

[2021-04-26 17:43] #4798 closed

[2021-04-26 17:45] asklar commented on #4894
Duplicate of microsoft/ProjectReunion#740

[2021-04-26 17:46] asklar commented on #4894
Workaround is to add a global.json in the solution folder:
[code]

[2021-04-26 17:56] omikhailov commented on #4890
There is no property "contents", try "Content" instead

[2021-04-26 19:14] codendone commented on #4546
Note: Still repros on the 0.5.5 release. (And, as noted above, this works properly on system UWP XAML.)

[2021-04-26 19:26] DmitriyKomin commented on #4752
@Marv51 thank you for the additional investigation! I recently became aware of a a known issue causing leaks on navigation in C#/winrt apps -  microsoft/cswinrt#413. I wonder if that could be what we're seeing here? That problem was recently fixed with microsoft/cswinrt#782, available in servicing update Reunion 0.5.5.

Can you check if you are using 0.5.5? There is info on upgrading [here](https:

[2021-04-26 21:55] nishitha-burman commented on #2802
There is sample code in this branch in the Xaml Controls Gallery repo: https://github.com/microsoft/Xaml-Controls-Gallery/tree/feature/token-experiment/XamlControlsGallery/ControlPages

[2021-04-26 22:03] Sergio0694 opened #4904 "Question: consistency of XAML/Visual transform properties and related APIs"
## Overview
Opening this issue as a follow up to [this Windows Community Toolkit PR](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3956) related to introducing an attached property for the "Visual.Transform" property. While working on it I've noticed a number of inconsistencies with the way some related APIs are currently structured and documented, and it took me a while to actua

[2021-04-26 23:49] lyahdav commented on #3529
I found a workaround for this:

1. Instead of using MenuBar/MenuFlyout, switch to a CommandBar/CommandBarFlyout.
2. Subclass AppBarButton:
[code]

3. Use that subclass instead of AppBarButton. You can create submenus by setting the [AppBarButton.Flyout](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.button.flyout?view=winrt-19041#Windows_UI_Xaml_Controls_Button_Flyout) property

[2021-04-26 23:49] lyahdav commented on #3953
I found a workaround: https://github.com/microsoft/microsoft-ui-xaml/issues/3529#issuecomment-827211418

[2021-04-26 23:50] lyahdav commented on #3530
I found a workaround: https://github.com/microsoft/microsoft-ui-xaml/issues/3529#issuecomment-827211418

[2021-04-27 00:04] SavoySchuler commented on #4555
Hi @robloo, I think you bring up some fair points and, FWIW, I am genuinely interested in improving this repo and our processes. Would you please reach out to my email address, saschule@microsoft.com? I tried find yours, but it didn't appear to be available on your profile. I'd like to find some time for us to chat offline, maybe even over a Teams call if you're interested, so that I can build big

[2021-04-27 00:23] JeanRoca commented on #4879
@RealTommyKlein I just updated to VS 16.10 P2.1 and am also not seeing the option to enable UI Tooling. Is this a known issue?

[2021-04-27 00:31] RealTommyKlein commented on #4879
@JeanRoca @get-flat - that step should no longer be required as of 16.10 Preview 2, the tooling is enabled by default.

[2021-04-27 02:14] codendone commented on #4240
Thanks, that repros for me! (And, sorry, I missed your earlier comment about that VisualTreeHelper method hitting this issue.)

[2021-04-27 02:19] zhuxb711 commented on #3373
ComboBox has the same issue

[2021-04-27 05:28] tedekeroth commented on #4894
Hello, I tried that, and yes, the errors did disappear, but it wont start anyways. Perhaps a new ticket is required, but the error when running it in debug is:

[2021-04-27 05:37] tedekeroth commented on #4537
I tried that, but I get the same error as described here, when creating a new project:
![image](https://user-images.githubusercontent.com/10088477/116190477-04bf2480-a72b-11eb-9e36-2c478a813cd4.png)

I just copy the global.json file and edit the csproj file (see here https://github.com/microsoft/ProjectReunion/issues/740) but the same error persists.

[2021-04-27 06:01] Marv51 commented on #4752
I am using 0.5.5 now. For me this issue has been narrowed down to the ListView control. The disposing of WebView 2 works for me now under most circumstances, very possible that 0.5.5 fixed this. I am not sure if 0.5.5 was already out when I first filed this issue.

Something about the usage inside a DataTemplate for a ListView does keep the WebView from being disposed correctly. Especially if you

[2021-04-27 06:14] asklar commented on #4894
@tedekeroth you have to create the global.json file first, then create the project (which should create 2 projects). If you create the global.json file after you get that error, only the app project will have been created, not the packaging project which is the one you want to run, which is probably why you're hitting the error.

[2021-04-27 06:14] asklar commented on #4894
in other words: delete the projects that were created, ensure you have an empty folder, add the global.json, then create the solution in that folder which should create 2 projects in that solution.

[2021-04-27 06:19] tedekeroth commented on #4894
You suggest that add the global.json to a folder, then create a solution (.sln) inside that same folder, and then on top of that add the projects? I will try that and report back!

[2021-04-27 06:20] asklar commented on #4894
yes, those are the steps that worked for me

[2021-04-27 06:24] alexdi220 commented on #4842
We just updated it to 0.5.6 and the issue still repro

[2021-04-27 07:00] #4795 closed

[2021-04-27 07:09] alexdi220 commented on #4842
Another StackTrace:
System.InvalidCastException: Unable to cast object of type `System.Double` to type `System.ComponentModel.PropertyChangedEventHandler`.
[code]

[2021-04-27 07:23] tedekeroth commented on #4894
Alright, that worked in the sense that the Package project was created correctly. I then added the ItemGroup in csproj. It then builds, and looks ok, even though it does not start, it fails in runtime as stated above.

[2021-04-27 07:27] asklar commented on #4894
yes, the package project is the one to start, can you try that?

[2021-04-27 07:30] tedekeroth commented on #4894
Yes, that worked. I was very confused from this thread [here](https://github.com/microsoft/microsoft-ui-xaml/issues/4537#issuecomment-800721624), where I thought they said that it is _not_ the package project that should be started:

That sounded to me that Packaging shouldn't be run. Apparently, I misread of they said the wrong thing.

Thanks for your input asklar =)

[2021-04-27 08:48] alexdi220 opened #4906 "The app was frozen with the NtWaitForSingleObject()"
**Describe the bug**
Hi,
Sometimes our application deadlock. It may be a different code but all are constructors of the DependencyObject. It reproduces when we change the Content property of the ContentControl and place the new UserControl with other UI. I've attached a stack trace and as I said it may be different stacks but the all end with `NtWaitForSingleObject`

**Steps to reproduce the bug**

[2021-04-27 09:56] omikhailov commented on #4896
Let's not touch on this topic. The discussion itself will look more chauvinistic than the name of the branch.

[2021-04-27 10:00] alexdi220 commented on #4906
Another stack
[code]

[2021-04-27 15:13] asklar commented on #4886
CC @anawishnoff to see if we can update the winui doc to mention this api. In general, any GetForCurrent*** api will not work and you need to use an alternative, but sometimes like in this case the alternative may not be obvious.

[2021-04-27 16:29] anawishnoff commented on #4886
Thanks! We're planning on publishing this doc to our official docs site soon with some changes and this API should be included.

[2021-04-27 17:43] DefaultRyan opened #4907 "XamlTypeInfo.g.cpp adds providers for project references, but doesn't #include needed headers"
(See discussion started here: https://github.com/microsoft/ProjectReunion/discussions/763)

- Create a blank WinUI app (App1)
- Add a WinUI Runtime Component (Controls1)
- Using the template, add a UserControl to the Runtime Component (Controls1)
- Add a project reference in the app to the component (App1 references Controls1).

Building the project after this results in a build error in XamlTypeI

[2021-04-27 18:16] anawishnoff commented on #3694
Hi @j0shuams, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this bug!

[2021-04-27 18:17] anawishnoff commented on #4179
Hi @lhak, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this!

[2021-04-27 18:17] anawishnoff commented on #4499
Hi @kalin-todorov, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this!

[2021-04-27 18:29] anawishnoff commented on #4804
Hi @Herdubreid, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this!

[2021-04-27 18:30] anawishnoff commented on #4806
Hi @LeftTwixWand, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this!

[2021-04-27 18:32] anawishnoff commented on #1104
You should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon.

FYI @Hppz who filed the original bug related to this at #1048.

[2021-04-27 18:32] anawishnoff commented on #4510
Hi @Noemata, you should see a fix for this bug in the upcoming WinUI 3/Project Reunion 0.8 Preview, which you can expect soon. Thanks for filing this!

[2021-04-27 19:56] Scottj1s commented on #4240
This is a known issue in the Windows OS, and is not likely to be addressed until later this year.  The issue is due to an erroneous return string from a system Windows Runtime component's IInspectable::GetRuntimeClassName().  The C#/WinRT runtime attempts to resolve this string to a type, which fails with the given exception.

[2021-04-27 21:05] LeftTwixWand commented on #4806
Thanks for everyone, who making such cool technologies)

[2021-04-28 00:45] shaheedmalik commented on #2676
Go with "main".

[2021-04-28 02:14] Noemata commented on #4510
@anawishnoff , thank you.

[2021-04-28 08:44] HppZ opened #4912 "null ref exception when click on an element in Visual Tree"
why this happen? vs16.9.4

![image](https://user-images.githubusercontent.com/12285582/116374433-da5f8b00-a840-11eb-9263-0cf06d47665d.png)

[2021-04-28 09:50] get-flat commented on #4879
@RealTommyKlein It does not work for me. (no UI reload, no in-app toolbar etc.)
Additionally  selecting anything in Live Visual tree throws:
Exception thrown at 0x7A938221 (Microsoft.VisualStudio.DesignTools.WinUITap.dll) in App1.exe: 0xC0000005: Access violation reading location 0x0000001C.

 	Microsoft.VisualStudio.DesignTools.WinUITap.dll!winrt::Windows::Foundation::operator==(struct winrt::Win

[2021-04-28 12:28] dim-37 opened #4913 "Swapping view model (same type, new instance) that exposes ICustomPropertyProvider does not trigger Bindings update"
In the uploaded semple we replace the current page data context with a new instance of the view model.
The number on the screen in a number of view model instances.

1. Lunch UWP app on x64
![1](https://user-images.githubusercontent.com/29534485/116400927-4b984180-a833-11eb-8ad5-8fe4cbae7423.png)
2. Click on 'To test page' button
![2](https://user-images.githubusercontent.com/29534485/116401303-c2

[2021-04-28 13:43] JanRajnoha opened #4926 "Null Reference Exception in ABI.Microsoft.UI.Xaml.Data.ICustomProperty"
**Describe the bug**
First think, I'm not sure, it should be here, but I don't know about better place.

In my app I get Null Reference exception, when I'm trying to Notify Property Change. Null exception but throw after some time, with no specific time or user flow through app, it is random. Problem is probably in function Do_Abi_GetValue_2, but i'm not sure. Here is stack trace of exception:
![i

[2021-04-28 15:36] omikhailov commented on #4896
Guys, you can downvote as much as you want, but "master" in Git is a noon that means "original". It contains original code, while branches contain modified code. When you see something else here and make such proposals, _that_ makes other people to feel awkward and _that_ is non-inclusive.

[2021-04-28 15:54] chingucoding commented on #4896
While `master` has been the default branch (that's how most resources refer to it), that does not mean that that can't change. Saying renaming this thing is not *inclusive* because some people might not have heard about it is a very weak argument. I really doubt that anyone feels awkward about the name "main" for the *MAIN* development branch of a repository. For me, it's  a lot more "awkward" rig

[2021-04-28 15:56] jp-weber commented on #3787
Any new info on this? It would be great if with WinUI 2.6 release the ProgressRing would work properly.

[2021-04-28 19:09] RealTommyKlein commented on #4879
@get-flat - the in-app toolbar isn't currently supported, so that's expected.  For the LVT exception, that looks like #4854, which will be fixed in 16.10 Preview 3 (and is also likely causing the no Hot Reload issue - if you don't select anything in the Live Visual Tree, does Hot Reload work?).  There's also a workaround [here](https://github.com/microsoft/microsoft-ui-xaml/issues/4854#issuecommen

[2021-04-28 20:26] Scottj1s commented on #4240
Rather than waiting that long for a Windows OS fix, I've added caching to C#/WinRT to prevent the exception storm:
https://github.com/microsoft/CsWinRT/pull/828

I expect this fix will be available in the next public release of C#/WinRT - early May.

[2021-04-28 22:46] lyahdav commented on #3529
I forgot another step is required, below. We have to hook into the Closed event to hide any flyouts, likely due to the overriding of `OnPointerExited`.
[code]

[2021-04-28 22:54] chingucoding commented on #4019
I would like to take a look at this.

[2021-04-28 23:05] kennykerr commented on #2488
I just implemented weak references in Rust ([#718](https://github.com/microsoft/windows-rs/pull/718) and [#745](https://github.com/microsoft/windows-rs/pull/745)), a prerequisite for Xaml/WinUI support. More to come! 😉

[2021-04-28 23:10] StephenLPeters commented on #4912
I'm not sure. We'll need more information to answer the question.

[2021-04-28 23:13] ranjeshj commented on #4913
@dim-37 could you provide a simplified repro with just a uwp app ? I'm unable to load and build the attached project.

[2021-04-28 23:14] StephenLPeters commented on #4907
@alwu-msft FYI

[2021-04-28 23:16] StephenLPeters commented on #4906
@jevansaks thoughts?
@MikeHillberg and @chrisglein FYI

[2021-04-28 23:18] StephenLPeters commented on #4904
@jeffstall and @codendone FYI

[2021-04-28 23:18] StephenLPeters commented on #4904
@gegao18 and @kmelmon as well

[2021-04-28 23:20] StephenLPeters commented on #4898
I wasn't aware we supported .net 6 yet.  @alwu-msft  thoughts on the VS version specific issue?

[2021-04-28 23:22] StephenLPeters commented on #4897
@YuliKl and @anawishnoff FYI

[2021-04-28 23:23] alwu-msft commented on #4907
@RealTommyKlein I remember this coming up before around the Preview 1 timeframe, but I don't recall why we left it the way it was.

[2021-04-28 23:26] StephenLPeters commented on #4895
@Scottj1s could this be a cs winrt issue?

@Austin-Lamb or @MikeHillberg FYI

[2021-04-28 23:27] StephenLPeters commented on #4894
@alwu-msft FYI

[2021-04-28 23:29] StephenLPeters commented on #4893
@chingucoding thoughts on the cause of the issue?

[2021-04-28 23:30] alwu-msft commented on #4898
This is a known issue in the .NET SDK which has been fixed (https://github.com/dotnet/sdk/pull/17042) and will be available in VS 16.10 Preview 3.

[2021-04-28 23:30] StephenLPeters commented on #4891
This seems like a good change.  @chrisglein and @MikeHillberg FYI

[2021-04-28 23:38] StephenLPeters commented on #4890
@omikhailov is correct, contents is not a property on NavigationViewItem, the name of the property is **content**.

MenuItems was added to NavigationViewItem in Winui 2.4 (or maybe even 2.5...) make sure you have an updated winui2 package.

If both of those don't fix it, can you try adding a NavigationViewItem to the MenuItems. Its possible that an empty collection is not supported.

[2021-04-28 23:41] StephenLPeters commented on #4900
@karenbtlai who saw something similar to this recently as well

[2021-04-28 23:45] StephenLPeters commented on #4900
@beervoley the tabview expert

[2021-04-28 23:59] RealTommyKlein commented on #4907
@alwu-msft - IIRC that was a slightly different self-sufficiency issue (some of the compiler's generated code relied on the default `pch.h` - if the default `#include`s were removed, we'd get errors similar to this bug).  For this issue in particular, the compiler needs to dynamically determine which headers it needs to include.

I don't think that would be too difficult for `XamlTypeInfo.g.cpp` s

[2021-04-29 01:58] jevansaks commented on #4906
This is WinUI3, i'm not familiar with this stack. Perhaps a deadlock on GC? @alexdi220 if you can save a dump file in this state that would help folks investigate.

[2021-04-29 03:26] HppZ commented on #4912
what do you need?

[2021-04-29 05:23] codendone commented on #4895
Some StorageFile APIs, such as CopyAsync(), only work in a UWP. I'm not sure if that is impacting here.

Is the error happening in the StorageFile.CreateStreamedFileAsync call itself, or is the error perhaps happening in your OnStorageFileNeeded callback?

[2021-04-29 05:45] KarthikRajaAKR commented on #4805
Hi @StephenLPeters,

This works for compact keys from winui framework. But in our case, we are having some compact size keys defined within our source. For normal pages, we will merge those keys in resource dictionary of the respective page. But with ContentDialog it only gets themeresources from framework level even if we merge our themeresource keys to App.Xaml resources. Can you please suggest

[2021-04-29 06:00] alexdi220 commented on #4906
@jevansaks This is a dump with the stack of the previous comment. [Link](https://devexpress-my.sharepoint.com/:u:/p/alexander_didenko/EU2FvmRSpExMmSoCe3_WiSsB-2U3m1loNw_QET8dmJ7uEQ?e=GYD1lP)

[2021-04-29 07:01] chingucoding commented on #4893
I would suspect a timing issue/life-cycle issue. If you call `UpdateLayout` after updating when using SelectedIndex for binding, the selection indicator shows up.

[2021-04-29 08:59] Marv51 commented on #4895
@codendone Any call to `StorageFile.CreateStreamedFileAsync` throws this exception for me regardless of context.

[2021-04-29 10:19] TheColdPot commented on #4890
Sorry I have a wrong typing in issue, it's caused by myself, in my code it is `Content` instead `contents`
(*I fixed my issue body*)
This app was I created last week, so it should be last version of WinUI as expected (I'm using UWP)

**All normal `NavigationViewItem` is work as expected**, only `NavigationMenuItem.MenuItems` is wrong.

What should I do next?

[2021-04-29 11:26] xperiandri commented on #4913
@ranjeshj you can remove or unload all the projects except all F#, Elmish, Shared, and UWP

[2021-04-29 11:36] AtosNicoS commented on #4815
@jevansaks I so super sorry, I made a huge mistake in my bugreport. I was referring to a **ContentDialog**, not a ContentControl. I will edit the original post and title.

[2021-04-29 12:55] AghaKhan commented on #4894
Today I tried to build simple application with WinUI, but it failed.
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>net5.0-windows10.0.19041.0</TargetFramework>
    <TargetPlatformMinVersion>10.0.17763.0</TargetPlatformMinVersion>
    <RootNamespace>Agha</RootNamespace>
    <ApplicationManifest>app.manifest</ApplicationManifest>
    <Pl

[2021-04-29 14:58] dim-37 commented on #4913
@ranjeshj Here is the corrected version
How to run :
1. Open ErrorReproducing\ErrorReproducing.slnf
2. Build Elmish.Uno.Uwp.
3. Run ErrorReproducing.UWP
[ErrorReproducing.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6399612/ErrorReproducing.zip)

[2021-04-29 16:16] omikhailov commented on #4890
You can try to change namespace to **Microsoft**.UI.Xaml.Controls. Windows.UI.Xaml.Controls contains platform controls, not WinUI.

[2021-04-29 18:23] kmahone commented on #4896
The current convention used across Microsoft is for the primary branch to be named main. I've updated this repo to be consistent with that.

[2021-04-29 18:23] #4896 closed

[2021-04-29 20:22] JanRajnoha commented on #4926
@andrewleader thanks for response.

[2021-04-29 20:43] kmelmon opened #4929 "Improve docs for ElementCompositionPreview.SetIsTranslationEnabled"
This came out of discussion on:  https://github.com/microsoft/microsoft-ui-xaml/issues/4904

From the post:
The docs for ElementCompositionPreview.SetIsTranslationEnabled don't mention where the enabled property actually is (as in, that it's in the .Properties object of Visual). I think the docs should be updated to add more context, such as how to get/set values for this properties directly (usin

[2021-04-29 20:55] #2676 closed

[2021-04-29 21:05] chingucoding opened #4930 "Proposal: Allow overriding/disabling default TabView close tab hotkey"
# Proposal:  Allow overriding/disabling default TabView close tab hotkey

## Summary

Not all apps benefit from using Ctrl+F4, some also register a second hotkey for closing a tab, e.g. Ctrl+W as this is also commonly used. Devs should be able to disable or replace the hotkey in case it is conflicting or there is a better suited alternative.

## Rationale

* Ctrl+F4 might already be in use inside

[2021-04-29 21:07] kmelmon opened #4931 "Improve docs for UIElement facades not being compatible with ElementCompositionPreview"
This came up as part of discussion of this issue:
https://github.com/microsoft/microsoft-ui-xaml/issues/4904

From the post:
I noticed that when using properties such as UIElement.Rotation, or UIElement.Scale, trying to then use ElementCompositionPreview.GetElementVisual on a UIElement throws an exception (UnauthorizedAccessException) saying eg. "Access denied. Calling ElementCompositionPreview.Ge

[2021-04-29 21:09] kmelmon commented on #4904
Hi @Sergio0694,

Thanks for your observations and questions!  I'll try and answer them and provide some context to help clarify.

First:  The Visual obtained by ECP.GetElementVisual is an object from a lower level component in the platform.  See https://docs.microsoft.com/en-us/windows/uwp/composition/visual-layer for a good overview and explanation of the layering.  This layering produced a numbe

[2021-04-29 21:09] #4904 closed

[2021-04-29 22:50] kmahone opened #4933 "WinUI-MUX-PGO-Instrument Pipeline failing"
Recent runs of WinUI-MUX-PGO-Instrument are failing.
https://dev.azure.com/ms/microsoft-ui-xaml/_build?definitionId=163&_a=summary

##[error]Failing tests:
##[error]Release.x64.MUXControls.ReleaseTest.XamlIslandsTests.XamlIslandCanaryTest
##[error]Release.x64.MUXControls.ReleaseTest.XamlIslandsUnpackagedTests.XamlIslandCanaryTest

Issue likely introduced by:
Fixing XAML islands and adding XAML isl

[2021-04-29 23:04] codendone commented on #4562
Closing as not reproing. Please reactivate with more info if you still see this.

[2021-04-29 23:04] #4562 closed

[2021-04-30 00:10] nickrandolph commented on #1954
I know this issue is closed but I'm just using the ItemsRepeater and noticing that if I dynamically add and remove items (via databinding to an ObservableCollection), if I remove all items from the collection there is still one item that never gets cleaned up. Is this a known issue? I'm testing this on 0.5.6 of WinUI3

[2021-04-30 00:22] RBrid commented on #4619
Closing this issue since we have no plan to address this in a future release.

[2021-04-30 00:22] #4619 closed

[2021-04-30 00:37] nickrandolph commented on #4736
Just to add to this discussion - my view is that closing and item should only be done when the item has actually shipped to production. I understand why the team might want to close issues, to reduce the overall issue count and make it easier to track what's still to be worked on but closing an issue prior to it being shipped leads to the issues @mrlacey raised about not knowing which version a fi

[2021-04-30 02:59] codendone commented on #4686
Also the same as #4510, which will be fixed in the upcoming 0.8 preview. That item can be used for further tracking.

[2021-04-30 02:59] #4686 closed

[2021-04-30 03:16] codendone commented on #4670
There aren't plans in the near future to add ActiveX control hosting in WinUI 3. The easiest option would be to host the ActiveX control via a child HWND (using the HWND from the WinUI window as the parent), but that will have airspace issues. It would be far more complicated to try to host without the airspace limitation.

[2021-04-30 03:25] codendone commented on #4894
@AghaKhan Did you try the option of adding this block in your .csproj file?
[code]

[2021-04-30 03:35] plane5 opened #4934 "Bug Report for 'NavigationView'(Top PaneDisplayMode) in 'Microsoft.UI.Xaml.Controls' from UWP"
Summary :
application freezes
when NavigationView's 'More button'(kebab button, button with three dots icon) is clicked
and no exceptions occurred.

Conditions
- UWP application
- PaneDisplayMode = "Top"
- MenuItemSources = List that contains its Type of Lists(tree-like structure)
- Shrunk window(it creates 'More button' as there is not enough space for MenuItem's content)

Version
- Microsoft.Too