[2020-10-06 00:39] chigy commented on #3365
@jolleekin ,
It is because compact mode is a mode to update controls sizing and not a UI scale feature.
The only font sizes that are impacted by the update to control sizing are automatically impacted. Other text sizes are not.

[2020-10-06 01:34] zhuxb711 opened #3373 "CommandBarFlyout sometimes has dim color"
**Describe the bug**
In some case:
<img width="190" alt="无标题" src="https://user-images.githubusercontent.com/42038175/95148667-75661a00-07b6-11eb-93c3-873df86c4d1c.png">

We expect:
<img width="189" alt="屏幕截图 2020-10-06 092814" src="https://user-images.githubusercontent.com/42038175/95148686-81ea7280-07b6-11eb-88ca-bbc07d9e7cfa.png">

It is worth noting that if the CommandBarFlyout is in a dimly c

[2020-10-06 03:41] awildtechno commented on #3364
This is needed! Windows is falling behind in the apps race because it doesn't have a straightforward solution for beginners to try their hand at making native apps.

[2020-10-06 03:49] jolleekin commented on #3365
@chigy Thanks for the answer. I'll close this one then.

[2020-10-06 03:49] #3365 closed

[2020-10-06 04:11] AzizAlqasem commented on #3364
I am very excited to see Windows (WinUI3) supports Python, and I hope Microsoft approve that as soon as possible!

[2020-10-06 05:22] weitzhandler commented on #3372
For instance, I am able to create a project that contains UWP XAML files, which is a multi-targeting project, and I'm able to link to it from an UWP project properly, while the XAML files can hot-reload and preview properly.

[2020-10-06 05:27] MelbourneDeveloper commented on #3372
@stevenbrix I really need this as well. I'm currently using the SDK Extras and it's a pretty horrible experience. My library sits across UWP, Android, and .NET Core. You can see the csproj [here](https://github.com/MelbourneDeveloper/Device.Net/blob/7b59889f9d96d20edc91337b74742253ae56a0a4/src/Device.Net/Device.Net.csproj#L1).

The biggest issue I face is that I have to exclude UWP specific files

[2020-10-06 07:00] jeganrajm opened #3374 "Discussion: WinUI UWP App publishing fails in certificate test"
# Discussion: WinUI UWP App publishing fails in certificate test
Publishing WinUI UWP app fails in certificate testing

I have faced certificate issue while try to publish my application. To narrow down the issue, removed all my code and tried, still faced the issue.

So, Created empty WinUI UWP project and tried to run certificate test in this. (No codes included, just default template), still fa

[2020-10-06 07:13] BorzillaR commented on #3368
Thank you, @StephenLPeters!
Workaround works.

[2020-10-06 07:42] Rand-Random commented on #3370
@StephenLPeters my question is about WinUI 3.0, so I guess I am in the correct repo?
At least thats the way I followed searching for the answer
https://microsoft.github.io/microsoft-ui-xaml/
https://docs.microsoft.com/en-us/windows/apps/winui/winui3/
and finally here
https://github.com/microsoft/microsoft-ui-xaml

Tough if I am not mistaken the "Windows Terminal **preview**" project is written wit

[2020-10-06 09:12] aeroaks commented on #3364
Have developed GUIs with Python on Windows platform for few years. Had to use win32 and some other libraries to use specific functionalities. This support would have helped a lot.

[2020-10-06 09:13] aeroaks commented on #3364
Have developed GUIs with Python on Windows platform for few years. Had to use win32 and some other libraries to use specific functionalities. This support would have helped a lot.

[2020-10-06 09:19] vgromfeld opened #3375 "MediaTransportControls is overriding AudioMuteButton's accessible name (and others)"
**Describe the bug**
We cannot set a custom accessbile name to `AudioMuteButton`. The value we set is overridden by the `MediaTransportControls` implementation.
This is also breaking the automatic keyboard accelerator integration in the button tooltip.
The same behavior applies to all the other MTC buttons. The `MediaTransportControls` implementation is forcing all the values to some default we ma

[2020-10-06 09:39] prayaas-a commented on #3370
My educated guess would be that only 2019+ would work. 2016 is based on the same code base as Windows 10 1607 IIRC and I'm assuming that whatever OS components WinUI relies on that are present in (or polyfilled for) 1803 and above made it to Server 2019.

[2020-10-06 11:02] Rand-Random commented on #3370
@prayaas-a
Thanks for your guess, had the same train of thought, but still wanted to know the "official" statement.

@StephenLPeters after re-reading my question I noiced I wrote "terminal session" what I actually meant was "remote session on a terminal server" maybe thats where the confusion came that I was talking about the "terminal" app.

[2020-10-06 11:11] arcanosam commented on #3364
Would be awesome indeed 👐✌😀

[2020-10-06 11:40] BorzillaR opened #3376 "Question: Is there analogue for Window.Current.Compositor in WinUI for Desktop?"
Hello!

I am porting UWP application to WinUI (Desktop) and found an issue with porting custom composition brushes.

The issue is when composition brush connected, I should get Compositor to create effects, as described in [this](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.xamlcompositionbrushbase?view=winrt-19041) article.

![image](https://user-images.githubusercontent.com/234

[2020-10-06 13:02] harvinders opened #10969 "Include a UI testing framework in Project Reunion"
# Proposal: Include a testing framework in Project Reunion

## Summary
Project reunion is an overarching project to bring different UI stacks (WPF and UWP) using WinUI 3. However, the recommended testing framework (WinAppDriver) doesn't seems to maintained any longer.

## Rationale

* WinAppDriver is not maintained and we would like an officially sponsored project for testing needs.
* WinAppDriver

[2020-10-06 13:24] zed220 opened #3377 "ItemsReperater with Binding in ItemTemplate throws exception on vertical scrolling"
**Describe the bug**
ItemsRepeater with Binding in ItemTemplate throws exception on vertical scrolling.

**Steps to reproduce the bug**
1. Create a WinUI app for c#.
2. Create a class like following:
[code]
3. Create xaml:
[code]

4. Make a source with 1000+ items for the ItemsReperater.
5. Run.
6. Scroll to about 1000 lines with the mouse wheel.
7. See an exception.

**Expected behavior**
Scrolli

[2020-10-06 13:38] stevenbrix commented on #3372
@MelbourneDeveloper what is so terrible about the experience?

If we were to multi-target using Microsoft.NET.Sdk, what could we do differently?

The current thinking is that there won't be a uap TFM anymore, and we'll just use net5.0-windows tfms for uap as well. Would that make it simpler for either of you to accomplish your goals, or more difficult?

[2020-10-06 14:52] weitzhandler commented on #3372
Proper XAML support (preview, hot-reload), in those libraries, ability to have the main library run as startup project while being SDK (currently not possible). My take at this.

[2020-10-06 16:59] ejserna commented on #2422
We're experiencing this too in our app. This started happening in 2.4.2.

[2020-10-06 17:08] crutkas commented on #3179
Hi everyone, just to flag this, we got flagged by accessibility on this bug and we pointed back at this bug.

[2020-10-06 17:20] chingucoding commented on #522
@StephenLPeters ping

[2020-10-06 17:24] ejserna commented on #2422
[Internal bugs](https://microsoft.visualstudio.com/DefaultCollection/OS/_search?text=Cannot_create_instance_of_type__Microsoft.UI.Xaml.Controls.XamlControlsResources&type=workitem&pageSize=25&filters=Projects%7bOS%7dStates%7bClosed%7d)
[Our bug](https://microsoft.visualstudio.com/OS/_workitems/edit/25626560/)

[2020-10-06 17:42] StephenLPeters commented on #522
sounds good, thanks. @ojhad and @licanhua fyi

[2020-10-06 17:42] #522 closed

[2020-10-06 18:26] chingucoding commented on #1178
I tried the repro project with the latest WinUI prerelease, and in the around 50 tries, everytime, the pane rendered correctly. Maybe this is something fixed with the latest Windows builds or changes made to the NavigationView? Can this issue be closed then? @StephenLPeters FYI.

[2020-10-06 18:34] chingucoding opened #3378 "Move styles from RevealBrush_..._themeresources.xaml to appropriate control projects"
Unless there is a specific reason for this, I think it would be better to move reveal styles into the control projects. When trying to search for something like "AppBarButtonRevealStyle", most people would probably look in the AppBarButton_themeresources.xaml file. Given that the RevealBrush project isn't directly visible as it sits inside the Material folder, people might not find the resources w

[2020-10-06 18:44] chingucoding commented on #2421
@StephenLPeters @jevansaks Would it make sense to move this issue over to the project reunion repository as this is related to the app model?

[2020-10-06 18:45] Palatis opened #3379 "ResourceManager.LoadPriFiles() throws InvalidCastException"
**Describe the bug**
[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. just call the `ResourceManager.Current.LoadPriFiles()`...

**Expected behavior**
pri file loaded successfully

**Screenshots**

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0.0-preview2.200713.0]

Windows app type:
| UWP              | Win32            |
| :--------------- | :-----------

[2020-10-06 18:57] dannyp32 opened #3380 "ItemsRepeater Scroll Loop Bug"
**Describe the bug**
In some cases, when scrolling all the way to the bottom in an items repeater, it loops around the last and 2nd to last items. I've attached a gif that shows this in more detail.

**Steps to reproduce the bug**

We are able reproduce with the Your Phone app in the notifications section. The current repro has about 16 items in the list.
The easiest way to repro is as soon as the

[2020-10-06 19:05] dannyp32 opened #3381 "ItemsRepeater list blank rendering bug"
**Describe the bug**
This does not repro 100% of the time, but there are cases where the items of the list do not render. Scrolling fixes the issue if there are enough items to scroll.

I’ve attached an image of what this bug looks like to users in the Your Phone app. As you can see in the picture the scrollbar is visible and shows that there are several items in the list. Typically when scrolling

[2020-10-06 19:09] Felix-Dev commented on #2364
This issue should probably be moved to Project Reunion @jevansaks @StephenLPeters

@jtorjo FYI.

[2020-10-06 19:17] marb2000 opened #3382 "UWP XAML Templated Control is broken in VS2019 Preview 1.0"
**Describe the bug**
In the past, the item template for a XAML Templated Control generates a simple sample that compiles and builds properly. However, this item template no longer compiles and builds.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open VS2019 Version 16.9.0 Preview 1.0
2. Create a UWP Class Library in C#
3. Add an New Item - Templated Control
4. Compile

**Ob

[2020-10-06 21:12] MelbourneDeveloper commented on #3372
@stevenbrix have you tried it?

It's nothing particular to UWP. This is a problem for all platforms that don't support the SDK format automatically. This is how I'm forced to edit my project currently. I literally cannot search through UWP code, and I have to do a rebuild on the library every time. There may be a better way, but nobody has articulated it to me. That's only the start of it.

![imag

[2020-10-06 21:22] MelbourneDeveloper commented on #3372
@stevenbrix I just got a message from someone who cloned my library. He doesn't have the Visual Studio UWP tools installed. So, the library does not compile. Also, the library does not compile on macOS Visual Studio. So, the only option I know about is to manually the csproj file and remove targets that are not installed.

Again, I don't think this is your responsibility. This is a Visual Studio i

[2020-10-06 22:31] dannyp32 commented on #3381
Gif showing inserting multiple items can cause the issue to appear

![itemsrepeaterBug](https://user-images.githubusercontent.com/921928/95266881-f3431900-07e8-11eb-8109-33750f7ef6fa.gif)

[2020-10-06 22:34] StephenLPeters commented on #769
Thanks!

[2020-10-06 22:34] #769 closed

[2020-10-06 23:05] StephenLPeters commented on #3381
@ranjeshj thoughts?

[2020-10-06 23:06] StephenLPeters commented on #3380
@ranjeshj thoughts here as well?

[2020-10-06 23:08] StephenLPeters commented on #3379
@stevenbrix or @alwu-msft thoughts here? my hunch is a cs winrt bug?

[2020-10-06 23:10] StephenLPeters commented on #3378
I think I agree.

[2020-10-06 23:11] StephenLPeters commented on #3377
@ranjeshj FYI

[2020-10-06 23:13] StephenLPeters commented on #3376
The desktop app template has a MainWindow which derives from Window which you can grab the compositor from.

[2020-10-06 23:13] #3376 closed

[2020-10-06 23:18] StephenLPeters commented on #3375
Looking at the code, in OnApplyTemplate we set the automation name unconditionally. This is definitely a bug but @vgromfeld you may be able to work around this by setting the automation name after the template is applied (like in the OnLoaded event).  This will require winui 3 before we can fix.

@Austin-Lamb is reach the MTC owner?

[2020-10-06 23:20] alwu-msft commented on #3379
Yeah, most likely a CsWinrt bug. @Scottj1s

[2020-10-06 23:22] StephenLPeters commented on #3374
@ryandemopoulos @MikeHillberg @Austin-Lamb FYI.

[2020-10-06 23:25] StephenLPeters commented on #3373
@codendone and @gegao18 The taking a screenshot fixing the issue makes me think this is a rendering bug.

[2020-10-06 23:30] StephenLPeters commented on #3370
what prayaas-a says sounds correct (although I don't know). However I'm a bit confused what your scenario is. What sort of winui 2 application are you hoping to run on windows server?

[2020-10-06 23:32] StephenLPeters commented on #3364
@ryandemopoulos and @pag3 fyi as well

[2020-10-06 23:34] beervoley commented on #3284
@OnlyOnePro @chingucoding Please have a look at this [PR](https://github.com/microsoft/microsoft-ui-xaml/pull/3383) that addresses this issue

[2020-10-07 01:57] codendone commented on #3373
Since taking a screenshot fixes the problem, it sounds like there is a Composition bug here, such as not rendering the last frame of fade-in animation.

[2020-10-07 02:22] codendone commented on #3297
@benstevens48 Yes, you understood that correctly.  We agree this is potential reentrancy is bad, but it can only be fixed by each API which uses a synchronous COM call.  Those calls can really only be fixed by getting rid of the synchronous COM call, which typically either means having the API cache any data it may return or switch to become asynchronous.  Switching to asynchronous usually means g

[2020-10-07 04:23] Rand-Random commented on #3370
@StephenLPeters
First of all I am talking about WinUI 3.0 and not 2.0, to be precise a desktop WinUI 3.0.

https://docs.microsoft.com/en-us/windows/apps/winui/winui3/get-started-winui3-for-desktop

Second, my own application and we are currently evaluating our options what to use, if we should transition to WinUI 3.0 or stay with WPF.

To make a decision we need to know the minimum requirements ne

[2020-10-07 04:24] weitzhandler commented on #3372
As I said in my original post, this will definitely require some collaboration between teams, but WinUI without proper SDK-Style support is a major bummer.
I opened [this](https://bit.ly/3d3sHr5) issue.

[2020-10-07 04:42] codendone commented on #2820
@okkarkp Dispatcher.RunAsync won't affect this issue.

If you can share a full memory dump for a crash hitting this issue (the [regkey option](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/debugging_crashes.md#other-options) is good for capturing such a dump), I can look at that to see where this is coming from.

[2020-10-07 04:57] BorzillaR commented on #3376
@StephenLPeters, yes, when brush classes is defined in the application this approach will work. But we have custom brushes in a custom class library. We have no access to the application and the main window. How we can get Compositor in this case?

[2020-10-07 06:22] ArkNieckarz commented on #3364
I have legacy win32 apps that are waiting to be redone in Python and WinUI 3 will be needed.
Yes very interested in Python Support for WinUI3.

[2020-10-07 06:56] alik472 commented on #3364
Yes Please!

[2020-10-07 08:17] DierkDroth commented on #2715
Hi, is there any update available on that issue? Could we expect to see it addressed with next WinUI 3 preview?

[2020-10-07 11:03] vmadurga opened #3384 "Theme is not applied to NavView items on App Startup when assigning Dark or Light Theme"
**Describe the bug**
Theme is not applied to NavView items correctly on Application Startup when assigning Dark or Light Theme:

**Steps to reproduce the bug**

In the attached repro project

1. Start ThemeSupportApp
2. Go to the setting page
3. Change to Dark theme
4. Close the app
5. Start ThemeSupportApp again

**Observed**

=> NavViewItem Text is not shown (see screenshot)
![imagen](https://us

[2020-10-07 11:08] vmadurga opened #3385 "App does not respond to theme changes in Windows when selecting Windows Default theme until restarted"
**Describe the bug**
App does not respond to theme changes in Windows when selecting Windows Default theme until restarted

**Steps to reproduce the bug**
In the attached repro project

1. Start ThemeSupportApp
2. Go to the setting page
3. Ensure Default Theme is selected
4. Open Windows Settings and change default app mode to Dark

**Observed**

The App continues to show in Light Theme
Re-opening

[2020-10-07 11:58] chingucoding commented on #434
I think this sounds more like a new API then a bug. Could this be realized through a custom ElementFactory? If the developer provides their own ElementFactory, you can handle recycling as you want, e.g. release the items instead of putting them into a RecyclePool to access them later. What do you think @ranjeshj ?

[2020-10-07 12:50] chingucoding commented on #1044
I'm not sure if I understand this correctly. Are you proposing that we create a new project inside the MUX.dll that contains those file and that we enable/disable them through feature flags? Does setting a compiler flag on the test app projects propagate down to MUX.dll?

[2020-10-07 13:52] BorzillaR opened #3386 "App crashed on set attached property with a DependencyObjectCollection descendant type"
**Describe the bug**

I have the following class in my class library.

![image](https://user-images.githubusercontent.com/23479280/95338902-1b4f7c80-08bc-11eb-9833-061bed5df0a1.png)

'Collection' is the attached property. It`s type is DependencyObjectCollection descendant.

In my app I set this property to visual element in the main window`s constructor.

![image](https://user-images.githubusercon

[2020-10-07 16:26] chingucoding commented on #1887
I would like to look into this issue (feel free to assign this to me),

[2020-10-07 17:59] #3235 closed

[2020-10-07 18:12] adambarlow commented on #3230
I spoke with @cdhawan and he isn't aware of any others. Do we know what would be needed in Edge to support this?

[2020-10-07 19:02] adambarlow commented on #3231
@DmitriyKomin , will this be fixed by work items we have for Preview 3?

[2020-10-07 19:55] thomasclaudiushuber commented on #3372
I would assume that the SDK-style format support comes with the .NET 5 support.

![image](https://user-images.githubusercontent.com/7116546/95380802-8cf0f000-08e7-11eb-822d-53144a39cd36.png)

@stevenbrix If that's the case, we could update the entries in the roadmap for .NET 5 with this prefix " (includes SDK-style project format)"

[2020-10-07 20:08] BorzillaR opened #3388 "Application crashed on set binding from code"
**Describe the bug**

I tried to set binding from the code

![image](https://user-images.githubusercontent.com/23479280/95382056-bc0c5f00-08f1-11eb-9e9f-024029119a7a.png)

Application crashed on start up. I noticed that this happens when MyViewModel is descendant of DependencyObject

**Steps to reproduce the bug**

1. Open and run a sample in attachment

**Version Info**

Windows 10 1903 (OS Build

[2020-10-07 20:58] BorzillaR opened #3389 "Unhandled exception on popup open"
**Describe the bug**

Such a code causes an unhandled exception

![image](https://user-images.githubusercontent.com/23479280/95386719-625b6300-08f8-11eb-921d-dc49b69ca7b3.png)

**Steps to reproduce the bug**

1. Create a blank WinUI app for desktop
2. Add the following code in MainWindow constructor after InitializeComponent.

[code]

3. Run application

**Version Info**

Windows 10 1903 (OS Build

[2020-10-07 23:09] StephenLPeters commented on #3389
@BorzillaR is this a desktop or UWP application? do you have and stack info you can share?

[2020-10-07 23:10] StephenLPeters commented on #3389
@codendone putting on rendering because I suspect this is popup related.

[2020-10-07 23:16] ranjeshj commented on #3386
@Scottj1s Is this an issue with cs/winrt ?

[2020-10-07 23:21] ranjeshj commented on #3384
Can you try to repro with an item that does not have an icon and see if the text is clipped ?

[2020-10-07 23:24] ranjeshj commented on #3370
@Austin-Lamb @MikeHillberg does WinUI3 supported on Server 2016 ?

[2020-10-08 01:59] okkarkp commented on #2820
@codendone  Thank you.

https://1drv.ms/u/s!Aju2_sr9Rue0rXsSzaxrVOU5zrSc?e=bDDcnO

You can get the crash dump from the above link.

Really appreciated.

[2020-10-08 07:00] #3318 closed

[2020-10-08 07:19] phraemer commented on #3308
Could really do with some insight here so I can help a customer out.

[2020-10-08 07:27] phraemer opened #3390 "Is it expected that x:DeferLoadStrategy changes order of loading?"
Create a custom control `Widget` (note: not a user control!) and the consumer of that control adds the attribute `x:DeferLoadStrategy="Lazy"` to it in their XAML the order of the following calls and events changes like so:

Without the attribute:

1. Widget() constuctor
2. OnApplyTemplate()
3. Loaded()

But with the attribute:

1. Widget() constuctor
2. Loaded()
3. OnApplyTemplate()

This has the

[2020-10-08 07:47] vmadurga commented on #3384
Hi @ranjeshj ,

Removing the NavigationViewItem Icon:
![imagen](https://user-images.githubusercontent.com/25466105/95428755-c0646680-0949-11eb-98e9-c5f6b59401d2.png)

If we select a navigation item, the content still doesn't show propertly:
![imagen](https://user-images.githubusercontent.com/25466105/95428848-dd009e80-0949-11eb-8c72-dd843f5c8729.png)

It's look like the content does not calc the c

[2020-10-08 08:37] JohnF38 opened #3391 "Winui 3.0 licensing scheme"
Hi !

I'm considering the forthcoming Winui 3.0 for a new data visualization application.
This new app would be commercial one, so I'm wondering : what is the licensing scheme of Winui 3.0 ?

Do we have to buy a license to release commercial apps based on Winui 3.0 ?

Thanks,
John

[2020-10-08 08:39] BorzillaR commented on #3389
![image](https://user-images.githubusercontent.com/23479280/95435069-c747a500-095a-11eb-94a4-8160cf3eee85.png)

Stack details:

[code]

[2020-10-08 12:42] alexdi220 opened #3392 "Application crasches when Window has content with CustomControl"
**Describe the bug**
Hi, I've faced an issue when I put an inheritor of the FrameworkElement to MainWindow.Content the app crashes without any exception. The stack and project were attached.

[code]

NuGet package version:
[Microsoft.WinUI 3.0.0-preview2.200713.0]

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
| No | < Yes |

| Windows 10 version

[2020-10-08 14:41] kmgallahan commented on #3391
https://github.com/microsoft/microsoft-ui-xaml/blob/master/LICENSE

[2020-10-08 17:06] jp-weber commented on #3173
Any updates? For this problem only a new animation would have to be implemented, which is used when the new value of the property change is smaller than the old one.

[2020-10-08 17:41] BorzillaR opened #3394 "System.InvalidCastException on CollectionView enumeration"
**Describe the bug**

I create CollectionViewSource and enumerate items in View.

[code]
Code failed with "System.InvalidCastException: 'Specified cast is not valid.'" exception

![image](https://user-images.githubusercontent.com/23479280/95494068-fdf6dd00-09a5-11eb-8457-c8c7e90afff0.png)

Exception details:

[code]

Call stack:

[code]

[2020-10-08 17:58] chingucoding commented on #1396
@StephenLPeters Can I look into this issue or are you currently looking into this?

[2020-10-08 18:09] beervoley commented on #2295
@jp-weber I've run your code and spent some time debbuging the issue, here's what I found: when the first time you open the page and listview is being populated with entries, for each of those elements a TeachingTip is created. When we leave the page and come back to it, same thing happens: listview is being populated with entries and for each of those elements a TeachingTip is created. But - the

[2020-10-08 22:07] stevenbrix commented on #3372
Adding @JeanRoca for FYI

@MelbourneDeveloper, this sounds like something that will be coming in .NET6 once there is iOS and Android support built-in to `Microsoft.NET.SDK`, but @terrajobst and @clairernovotny can speak to that better than I can

@weitzhandler, what do you classify as "proper SDK-style support"? Our Desktop projects are SDK-style, or are you referring to the fact that we don't hav

[2020-10-08 22:17] StephenLPeters commented on #1396
I'm not, please take it :)

[2020-10-08 22:24] MelbourneDeveloper commented on #3372
@stevenbrix just to confirm...

I guess what we're touching on here is a huge topic. I've tried to follow the conversation, but I'm still not clear on many things. The community would benefit from a write-up about this.

Please correct any of my misunderstandings here. My naive understanding is that .NET 5 and .NET 6 are in alpha/preview stage. The plan is to roll .NET 5/6 out to Android, and iOS

[2020-10-08 23:05] StephenLPeters commented on #3394
@stevenbrix is this another manifestation of the cswinrt issue?

[2020-10-08 23:10] StephenLPeters commented on #3392
@stevenbrix Is this also a cswinrt bug? the provided call stack doesn't have any useful symbols, but I don't see any dll names that would suggest cswinrt... however the C# derivation usually points to this.

[2020-10-08 23:10] StephenLPeters commented on #3391
You do not need to buy a license.

[2020-10-08 23:10] #3391 closed

[2020-10-08 23:13] StephenLPeters commented on #3390
I wouldn't expect this to change the order of events.  Maybe @MikeHillberg could explain why. However, why are you calling GetTemplateChild() in OnLoaded()? I think you should only be calling that in OnApplyTemplate() since these calls are not necessarily tied together.

[2020-10-08 23:15] StephenLPeters commented on #3385
We saw an issue similar to this about switching high contrast theme, which is a bug that has been in the system for effectively ever.  This however appears to be a Winui 3 regression.

[2020-10-08 23:26] StephenLPeters commented on #3384
I beleive this is an issue that was fixed in winui 2.5 which has not yet been ported to Winui3. However I can't seem to find the issue or the PR.  @chingucoding or @Felix-Dev I believe one of you fixed the issue (Thank you!) do you know its number?  @YuliKl do you remember? I think the your phone team was hitting it.

[2020-10-08 23:34] chingucoding commented on #3384
The issue with content clipping was fixed with #2717 by @Felix-Dev . Not sure what is happening with the theme issue here, don't think that happened in WinUI 2 yet.

[2020-10-09 03:30] SavoySchuler commented on #3324
@bschoepke and @YuliKl - I've updated this to include CommandBarFlyout because this work is needed there as well.

@ranjeshj, is it OK to track this as one issue? I wanted to avoid synchronization issues that could arise from tracking the same ask on two similar controls as independent issues (+ consolidates discussion, any evolution of requirements, etc.).

[2020-10-09 03:35] mdtauk commented on #3324
I would like to also add a mention for Flyouts supporting Compact sizing when the parent control or window is using the Compact mode ResourceDictionary.

When I asked about this before, it was said that that couldn't happen until WinUI 3 - but it seems that a change in flyout sizing and rendering, should/could also take this into account.

[2020-10-09 06:59] phraemer commented on #3390
@StephenLPeters , in this particular case the custom contains a named `WebView` (declared in the `Generic.xaml`) which needs some initial setup, adding navigating completion handlers, etc that should happen when it's added to the visual tree.

If a `Page` containing the control has `NavigationCacheMode="Required"` then `OnApplyTemplate` is called only the first time the app navigates to the page s

[2020-10-09 08:49] chingucoding commented on #1520
@StephenLPeters I think the "good first issue" label is a bit missleading as this most likely requires WinUI 3 and probably deeper layout changes to center the labels with the first line of text.

[2020-10-09 10:11] chingucoding opened #3398 "NugetPackage: Searching "WinUI" does not show WinUI package in first 30 results"
When searching for "WinUI" on nuget.org or the VS Nuget Package Manager, WinUI shows up very low in the list. Maybe we can add tags or update the description of the package so it shows up higher in the list?

[2020-10-09 10:22] chingucoding commented on #1615
@teaP Are you looking into this issue right now? If not, can I look into this issue? @StephenLPeters FYI.

[2020-10-09 10:34] alexdi220 commented on #2573
Hi @matthew4850
I've noticed that you used the x:Name instead of x:Key. Try to replace it.

[2020-10-09 13:15] placasse commented on #2716
This issue is closed but I still face the same exact issue and I can not find a solution in this thread.
The InitializeWithWindow was already used in the question (see screenshots).

The given workaround to "set the Debug -> Debugger Type -> Application proccess to Native Only"  works but the  hability to debug Managed code is considered essential in our development workflow so is not a long term

[2020-10-09 13:38] kmgallahan commented on #3398
![Screenshot 2020-10-09 093756](https://user-images.githubusercontent.com/5379488/95589733-249f2d00-0a13-11eb-8396-0d46aa072850.jpg)

[2020-10-09 13:43] chingucoding commented on #3398
![image](https://user-images.githubusercontent.com/16122379/95590199-0a327700-0a46-11eb-96cc-2c7e54d1b2d1.png)

Notice that WinUI (not winui) is the official capitalization of this project, using the official name should not result in the product ending on page 2 of the nuget searches.

[2020-10-09 13:47] KiruyaMomochi opened #3399 "FileSavePicker.FileTypeChoices throws InvalidCastException"
## Describe the bug

**Trying to execute any methods of `folderPicker.FileTypeFilter` will throw an exception.**

## Steps to reproduce the bug

Steps to reproduce the behavior:
1. Clone https://github.com/microsoft/WinUI-3-Demos/
2. Edit [36-45 Lines of MainWindow.xaml.cs](https://github.com/microsoft/WinUI-3-Demos/blob/0bc934a6716235a7f55e3f2a90f4dbb045a0697d/DemoBuildCs/DemoBuildCs/DemoBuildCs/

[2020-10-09 13:51] Felix-Dev commented on #3398
The following tags in use are displayed by the VS Nuget Package Manager:

![image](https://user-images.githubusercontent.com/1398851/95590847-da37a380-0a46-11eb-9353-ee69987945d2.png)

A "WinUI" tag is already included, yet searching for "WinUI" still doesn't make it show up high in the list:
![image](https://user-images.githubusercontent.com/1398851/95591106-297dd400-0a47-11eb-87c7-028cc5b95da7.p

[2020-10-09 13:56] chingucoding commented on #3398
So the nuget search is just bad in that regard? What's the purpose of the tags then if they don't seem to help. Maybe adding the "WinUI" to the description helps? I'm quite confused now what exactly is being used to order the list of search results.

[2020-10-09 14:13] kmgallahan commented on #3398
Apparently capitalization matters, as the owners of the package are Microsoft and winui, rather than WinUI.

Seems more of a problem with the nuget search function than anything, as changing to owner to WinUI would then presumably produce the same bad results while searching for winui.

[2020-10-09 14:24] kmgallahan commented on #3398
Further, the search seems equally bad in the regard that the "WinUI" string is completely absent from their description/tags/owners/etc. E.g. https://www.nuget.org/packages/Microsoft.Win32.Registry

[2020-10-09 15:14] KiruyaMomochi opened #3400 "WinUI-3-Demos crashes in Release mode"
**Describe the bug**

WinUI-3-Demos crashes in Release mode.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Clone https://github.com/microsoft/WinUI-3-Demos
2. Open DemoBuildCs.sln in Visual Studio
3. Update WinUI Package Reference to preview 2. In DemoBuildCs.csproj:
[code]
4. Run app in release mode, the app start and crash immediately.

**Expected behavior**
The app runs s

[2020-10-09 15:18] Javier118 commented on #3101
Hello:
you could add Svg support for icons in NavigationViewItem in this winUi3 version.

[2020-10-09 16:11] Alkanores opened #3401 "Question: What is the future of the Acrylic material?"
In the newest versions of WinUI library for UWP we cannot use the Acrylic material as background in NavigationView and  MenuFlyout controls by default. What is the future of the Acrylic material?

+
In video "Windows 10 reaches 1 Billion" we see new design concept, how many time will need to realize this in the WinUI?

![image](https://user-images.githubusercontent.com/49155506/95606515-1b3db100-0

[2020-10-09 17:50] hansmbakker commented on #439
@jevansaks I cannot reopen this issue as I'm not the original poster.

I found [this stackoverflow answer](https://stackoverflow.com/a/57801129/1114918) which explains why it does not work, and the person who answered it seems to hold a good reputation around the UWP topic.

I don't know whether this is a fundamental issue or whether it is possible to fix by Microsoft, but as a developer the point

[2020-10-09 17:51] codendone commented on #2820
@okkarkp Thanks for the dump! I spent a while looking at that with another dev, and it looks like you're hitting a leak bug in XAML ([internal link](https://microsoft.visualstudio.com/OS/_workitems/edit/25655660)).  It turns out this bug was just fixed and the fix should go out in Windows Update for versions 1809+ in the next couple months.

It is worth noting that the dump is from 1803, which is

[2020-10-09 18:47] hansmbakker commented on #439
Thank you!

All documentation currently mentions only the `Invoked` option, like [here](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/swipe#handle-an-invoked-swipe-command) but the point is that it is confusing that the available `Command` property does not work as expected.

[This answer](https://stackoverflow.com/a/56228314/1114918) **seems** like a possible workaroun

[2020-10-09 19:33] hansmbakker commented on #276
To add to this, I would expect that this would be possible to enable / disable individual SwipeItems using the `CanExecute` property of the already existing `SwipeControl.Command` --> by indicating that the command cannot execute, you disable the SwipeItem

[2020-10-09 21:25] hansmbakker opened #3402 "NumberBox height behavior is inconsistent with TextBox"
**Describe the bug**

The vertical behavior of `NumberBox` is different than from `TextBox`:
- `TextBox` seems to follow the height of its container
- `NumberBox` seems not to follow the height of its container.

**Steps to reproduce the bug**
Code to reproduce:
[code]

**Expected behavior**

Since `NumberBox` looks like a `TextBox` with additional number capabilities, I would expect `NumberBox` t

[2020-10-09 21:56] #3148 closed

[2020-10-09 23:09] StephenLPeters commented on #3401
We've had a few discussions about this in the past, I can point you to @ryandemopoulos reponse to one of them here: https://github.com/microsoft/microsoft-ui-xaml/issues/2236#issuecomment-610120152

[2020-10-09 23:09] #3401 closed

[2020-10-09 23:12] StephenLPeters commented on #3400
Upgrading the winui3 preview package from version 1 to 2 is not supported. Unfortunately you will need to make a new project with the updated Vsix project template. This will not be the case for RTM.

[2020-10-09 23:19] StephenLPeters commented on #3390
That is generally the strategy we take (to save member pointers to template parts in on apply template), however you do need to be careful to clean these up properly. The WinUI 2 project does this via the Tracker_Ref object.

[2020-10-09 23:20] StephenLPeters commented on #3390
@chrisglein and @fabiant3 (or @MikeHillberg) could one of you weigh in on the x:deferloadStartegy question?

[2020-10-09 23:23] StephenLPeters commented on #3399
@stevenbrix this seems very similar to some previous file picker issues we've had, but we are having trouble finding them.  I'd guess another cswinrt issue.

[2020-10-09 23:24] StephenLPeters commented on #3399
@Scottj1s FYI

[2020-10-09 23:25] StephenLPeters commented on #3398
Thanks for the report, following up with some folks internally.

[2020-10-09 23:28] StephenLPeters commented on #3384
Ah, I think @ranjeshj found it https://github.com/microsoft/microsoft-ui-xaml/pull/2810  This change should fix that issue but is not included in the current preview of winui3.

[2020-10-09 23:55] KiruyaMomochi commented on #3400
Thanks for your reply.

The actual reason I open this issue is that my own app also behaves like this.
However, my app is built from the updated project template (i.e. WinUI 3.0 Preview 2 Win32 Project).
I use the demo app to submit the issue since I think it can is easier to reproduce.

I will try the demo app with new project template then.

[2020-10-10 15:44] Jaiganeshkumaran commented on #3399
File picker isn't part of WinUI

[2020-10-10 15:48] Jaiganeshkumaran opened #3406 "Discussion: Stop using rounded corners by default in Fluent and Windows"
# Discussion: Stop using rounded corners by default in Fluent and Windows

I always liked MDL and Fluent because the have sharp corners which I really like. It's the unique thing that was different for Microsoft products and please stop using Rounded Corners and please stop copying other designs in the name of Fluent. I hate rounded corners and even with 2px it's bad and only wastes power and has

[2020-10-10 16:18] Felix-Dev commented on #3406
@Jaiganeshkumaran You can read through use https://github.com/microsoft/microsoft-ui-xaml/issues/524 which first introduced rounded corners to WinUI to find out why Microsoft Design wanted these changes.

We already have quite a few issues where rendering is called out: https://github.com/microsoft/microsoft-ui-xaml/issues/2751 and https://github.com/microsoft/microsoft-ui-xaml/issues/1953 for exa

[2020-10-10 16:40] KiruyaMomochi commented on #3400
**Update**: I have create a new "WinUI 3.0 Preview 2 Win32" project.
After merging the code by copying the class definition and views, it **still crash** on release mode.

[code]

@StephenLPeters

[2020-10-11 03:41] AzAgarampur commented on #3406
Honestly, I've always loved Windows especially because of the sharp corners. The UI is pleasant and looks professional. I don't think we can use rounded corners in just WinUI, as the rest of the OS (non UWP aka Win32) still has sharp corners.

IMO making everything have a soft corner gives a very "fisher-price" feel to me. Many people complain that a rectangle-like UI element looks old, but with a

[2020-10-11 04:13] mdtauk commented on #3406
For your own apps, you can set the CornerRadius values to 0 to remove them.

But this is the new Fluent Design which has taken over from MDL2 and the previous Metro design elements.  Android, iOS, macOS, and pretty much most Linux distros - all make use of rounded corners, as did Windows 7, Vista, XP.

Fluent and Windows 10 is about making the UI feel familiar among other devices, whilst also rema

[2020-10-11 04:28] Jaiganeshkumaran commented on #3406
@mdtauk Just because other operating systems use doesn't mean Windows should use it. Rounded corners are ugly and looks bad.

[2020-10-11 04:33] mdtauk commented on #3406
This is your personal subjective opinion, of which I disagree,

My comment before was just to illustrate that rounded corners are not abnormal, and certainly not new to Windows.

[2020-10-11 09:32] okkarkp commented on #2820
Noted and thank you, @codendone

[2020-10-11 12:15] mc0re opened #3407 "Failed to assign to property 'Windows.UI.Xaml.Controls.AppBarButton.Label' because the type '%2' cannot be assigned to the type 'Windows.Foundation.String'"
**Describe the bug**
All the description I have is here:
https://appcenter.ms/users/admin-shieldplayer/apps/Shield-Player/crashes/errors/3448336883u/reports

The error report looks like this.
[code]

***ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)***
System.Exception: Failed to assign to property 'Windows.UI.Xaml.Controls.AppBarButton.Label' because the type '%2' cannot be assigned

[2020-10-12 05:18] DrusTheAxe opened #3408 "Proposal: Enable DynamicDependencies"
# Proposal: Extensibility hooks in generated main

## Summary
Optionally add hooks in the generated main code for developers to provide code to execute before any WinUI code. Bonus points for hooks at the end of the generated main and other useful points for developers to add functionality without manually editing or otherwise hacking generated files in fragile ways.

## Rationale
* [MSIX Dynamic

[2020-10-12 05:45] ad1Dima commented on #3101
@Javier118  In UWP ImageSource supports SVG files. If WinUI3 version of ImageSource doesn't support it, you'd better to make new proposal for this.

[2020-10-12 10:20] zed220 opened #3409 "Binding with complex path does not work"
**Describe the bug**
Binding with complex path like "{Binding Path=MyClass.Value}" does not work.

**Steps to reproduce the bug**
1. Create some class with property like following:
[code]
2. Bind from xaml to it's property:
`<TextBlock Text="{Binding Path=MyClass.Value}"/>`
3. Run app.

**Expected behavior**
Binding works fine.

**Version Info**
NuGet package version:
[Microsoft.WinUI 3.0.0-previe

[2020-10-12 10:55] james28909 commented on #1495
Any updates to this? I'm so ready for this to be back working like it was before. So tired of the issue where..... I use my controller for a mouse and have 'x' and 'o' buttons mapped as right and left click, and the left joystick as the mouse cursor. When I pull up the start menu. Omg. It makes me feel like I am retarded, and I have been using computers since I was a young whipper snapper, mildly

[2020-10-12 11:22] jdm7dv opened #3410 "Windows Repo Access"
In WinUI 2.1 Release

There was a a batch file in the Windows Porting Directory  called 'PerformFullOSBuild'

I installed GVFS but my Microsoft account login fails after I set the initial passwords.

Do I need to set the System32 on the path? I might but it's the Microsoft Account. in the end.

what is 'rm' it's not in System32 or SystemWOW64

https://stackoverflow.com/questions/97875/rm-rf-equiva

[2020-10-12 16:32] stevenbrix commented on #3399
@KiruyaMomochi we're preparing for the upcoming Preview3 release of WinUI3, and there have been a lot of C#/WinRT and .NET5 changes since then. I'm sorry you are running into this, I personally won't be able to debug into this issue with Preview2. `System.InvalidCastExceptions` are fairly common in earlier versions of C#/WinRT, but should hopefully be fixed with the introduction of https://github.

[2020-10-12 19:37] sylveon commented on #3410
What

[2020-10-12 19:37] yoshiask commented on #3410
eh?

[2020-10-12 19:44] jdm7dv commented on #3370
@ranjeshj In theory you should just need the Visual Studio 2019 build tools.

[2020-10-12 20:02] LanceMcCarthy commented on #3410
Hi Johnathan,

I'd like to help point you in the right direction, but I'm having difficulty in finding what you're trying to accomplish.  I'm not familiar with the folder path I see in that screenshot, it seems to be a old private repository, not this one.

![image](https://user-images.githubusercontent.com/3520532/95785509-e7050300-0ca3-11eb-878e-9a7f75552b68.png)

Try starting fresh:
1. Clone th

[2020-10-12 20:11] LanceMcCarthy commented on #3410
Quick follow up, I found the part of the script that is requiring ADAL login. This is indeed for internal build agent access and is not intended for use externally. See https://github.com/microsoft/microsoft-ui-xaml/blob/master/tools/BuildMachineUtils.psm1

Looping in @jevansaks

Jevan,
Johnathan is attempting to build this repo using the Microsoft PowerShell tasks. This requires authentication fr

[2020-10-12 20:29] sharpninja commented on #3344
Hi, any word on how I should approach this?

[2020-10-12 20:49] jevansaks commented on #3410
None of these scripts/resources should be needed to build the project, as you suspect it's all for internal stuff. Much of it is deprecated now that we're shipping only out of band (and not as Windows.UI.Xaml.Controls.* also).

If you want to build just clone the repo and build in VS or with "build.cmd".

[2020-10-12 21:08] marb2000 commented on #3399
@stevenbrix sure, demo samples will be updated.
@KiruyaMomochi I will take a look to this issue to see if it repros in the next Preview.

[2020-10-12 21:57] gabbybilka commented on #913
Apologies for my delay in response here, @robloo thanks for sharing your perspective and the comparison table from a couple of weeks ago. I really appreciate all of the thoughts and considerations going into making WinUI better! 😊

In InfoBar and throughout the platform, my view is that while designing we are striving to find the right balance for controls to be specially designed for specific sce

[2020-10-12 23:31] StephenLPeters commented on #3407
I don't have access to that link, can you provide more details in this issue description?

[2020-10-13 00:02] karenbtlai commented on #2483
Closing this task as it is now resolved in the Azure Devops repo. The assembly is now strong-named signed with additional versioning information.

[2020-10-13 00:03] #2483 closed

[2020-10-13 01:03] adambarlow commented on #3406
@Jaiganeshkumaran we really appreciate your opinion and sharing the way you feel. The rounded corners are a deliberate design choice and represent and aesthetic quality that we are comfortable with and excited about!

[2020-10-13 01:03] #3406 closed

[2020-10-13 01:27] placasse opened #3411 "How to embed another executable inside a UserControl with WinUI 3 desktop (win32)."
It is possible to embed a Unity engine game inside an application.
They give a working example using Windows Form [here](https://docs.unity3d.com/uploads/Examples/EmbeddedWindow.zip).
I'd like to reproduce this example with WinUI 3 for desktop (not UWP).

An example with notepad.exe embed into a wpf application can be found [here](https://www.codeproject.com/Tips/673701/Hosting-EXE-Applications-in

[2020-10-13 02:29] jdm7dv commented on #3410
I guess I'll work on systems engineering and work on engineering a star on earth. goodbye.

[2020-10-13 02:35] jevansaks commented on #3410
Windows Repo Access is not publicly available. There's some scripts in here that can do things if you work at Microsoft and have access to the right resources, but most of them should just be deleted as they aren't even used anymore.

If you are looking to build the code in the open-source repo you can follow the [Developer Guide](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/dev

[2020-10-13 02:42] jdm7dv commented on #3410
According the Harvard Microsoft has lost there way I remember full OS source code licenses. at the academic level

[https://web.archive.org/web/20010418220512/http://research.microsoft.com/programs/NTSrcLicInfo.asp](url)

[2020-10-13 02:46] jdm7dv commented on #3410
Per United States Policy 20% of a companies code must be open.

[https://www.cio.gov/2016/08/11/peoples-code.html](url)

[2020-10-13 02:49] sylveon commented on #3410
This policy is only for government-developed source code. Microsoft still (and can) keeps Windows closed source.

[2020-10-13 02:54] jevansaks commented on #3410
Since this question is unrelated to this repo or component, I'm going to close this issue.

[2020-10-13 02:54] #3410 closed

[2020-10-13 02:58] jdm7dv commented on #3410
According to Harvard Microsoft has lost there way There used to be better university programs. [https://hbr.org/2012/08/how-microsoft-and-netflix-lost](url)

[2020-10-13 03:58] michael-hawker commented on #3292
🦙 @stevenbrix Win 8.1 left mainstream support in Jan 2018. It's only extended support until Jan 2023: https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet

Also see [Support Policy Info](https://docs.microsoft.com/en-us/lifecycle/policies/fixed).

[2020-10-13 04:13] jdm7dv commented on #3410
[https://www.quora.com/How-do-I-enable-hacker-mode-in-CMD](How to enable hackermode in ipconfig)

[2020-10-13 04:33] shaheedmalik commented on #913
The point of having structure is so programmers can code quicker with less errors in order to have high quality code.

Because much of Microsoft are siloed teams, in many cases there are multiple ways to do something but no unification of said procedures which results in redundancy and trying to fix something that is already fixed.

After WPF was created, Microsoft went into a "it's good enough mi

[2020-10-13 04:41] mdtauk commented on #913
Giving the developer options, for how they use controls has its positives too, instead of locking them into a single way of managing messaging and notifications.

But ensuring whatever option they pick, looks and behaves in a familiar way, and "belongs" with Fluent Design - has the benefit of consistency.

So if the controls themselves in WinUI don't provide a unified approach, perhaps the Windows

[2020-10-13 07:43] MarcAnt01 opened #3412 "Long press on textbox with no keyboard attached shouldn't open the keyboard"
# Proposal: [Don't open the keyboard with long press on  a textbox]

## Summary

I don't think that long press should open the keyboard, just a tap should

## Rationale

* A user could simply want to paste a photo or some text, without modifying it through keyboard
* This is the behavior of Android and I think it's more intuitive rather Windows one.

## Scope

| Capability | Priority |
| :--------

[2020-10-13 07:57] Rand-Random commented on #3370
@jdm7dv Thanks for the information, but it doesn't really answer my initial question at all, which @ranjeshj tried to sum up and notify @Austin-Lamb @MikeHillberg about.

I really start to question what may I be doing wrong here and why my question is so hard to understand.

Just imagine you write a simple "Hello World" application in Win UI 3.0 and want to publish it on a Windows Server machine.

[2020-10-13 09:06] jdm7dv opened #3413 "Discussion: Employee or Independent Contractor? The Implications of Microsoft III"
"One might ask: "Who cares?" Until recently, the answer was: "The Internal Revenue Service cares." Obviously, an employer's report of an employee's earnings is presumed to be more accurate than an employee's individual return (if any). Further, withholding by the employer creates a more steady cash flow for the government than does the worker's annual return, even if quarterly estimated payments a

[2020-10-13 09:14] mc0re commented on #3407
Updated the description.

[2020-10-13 09:24] jskeet commented on #3413
I have contacted @jdm7dv as I believe their GitHub account has probably been compromised. (It posted a similar message in the .NET Foundation members team.)

[2020-10-13 09:43] juanfranblanco commented on #3413
Edited and changed the content too now

[2020-10-13 09:45] Felix-Dev commented on #3413
On the website https://www.jonathanmoore.net/ they claim to have officially worked on WinUI 2.1 as part of their Microsoft career. If that were true, the WinUI team should be able to easily recognize them.

I'm not sure if this isn't a bot account after all...

[2020-10-13 09:46] jdm7dv opened #3414 "Discussion: A bright future for Moore’s Law"
Moore’s Law has been the guiding principle for the semiconductor industry for more than fifty years. For thirty of those years, I have had the privilege of working in Intel’s technology development organization — giving me a bird’s eye view of the breakthrough innovations that have enabled continued improvements in transistor density, performance, and energy efficiency. While there are many voices

[2020-10-13 09:49] jdm7dv opened #3415 "Discussion: Intel Clear Linux is a distro that outperforms Windows 10 and Ubuntu… on cheap AMD hardware"
Intel’s Clear Linux distribution looks like it could be the best operating system to run on cheap AMD hardware, with benchmarks showing it outperforms Windows 10 and Ubuntu on a $199 laptop with a budget AMD Ryzen 3200U processor.

[Intel Clear Linux is a distro that outperforms Windows 10 and Ubuntu… on cheap AMD hardware](https://www.msn.com/en-us/news/technology/intel-clear-linux-is-a-distro-th

[2020-10-13 09:52] mdtauk commented on #3415
What has this got to do with WinUI?

[2020-10-13 09:52] mdtauk commented on #3414
What has this got to do with WinUI?

[2020-10-13 09:54] Felix-Dev commented on #3415
@mdtauk This might be a bot/compromised github account (also see [this issue]/https://github.com/microsoft/microsoft-ui-xaml/issues/3413)).

[2020-10-13 09:55] mdtauk commented on #3415
I am coming to that conclusion

[2020-10-13 10:05] jdm7dv commented on #3413
No my GitHub was not compromised I've had it with Microsoft's promises.

[2020-10-13 10:16] mdtauk commented on #3413
Not sure this is the appropriate place to bring up this subject however.

[2020-10-13 10:37] BorzillaR commented on #3310
Seems another case of this issue.

If I set a descendant of FrameworkElement to custom dependency property, application is crashed too.
[code]

There is a message in output:

[code]

[2020-10-13 11:52] jdm7dv opened #3416 "Discussion: Windows is probably a VMS and VAX fork."
[Windows NT](https://en.wikipedia.org/wiki/Windows_NT)

OpenVMS with be available on my github next week.

[The Unix Heritage Society](http://mirror.cc.vt.edu/pub/Ancient_Unix/Documentation/TUHS/)

[2020-10-13 13:17] ChrisSchaller opened #3417 "After convert from Toolkit to muxc:TabView lots of Layout cycle detected"
**Describe the bug**

Converted an LOB application from using the Toolkit [TabView](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/tabview) over to the new TabView in this project, after doing so many (not all) pages with TabView control now experience UnhandledException: A cycle ocurred while layout out the GUI.

![image](https://user-images.githubusercontent.com/7519539/95820

[2020-10-13 15:11] anawishnoff opened #3418 "👩‍💻☎ October WinUI Community Call (October 21, 2020)"
Join us for our October Community Call! The call is a live-streamed event and can be watched on YouTube using this link:

### https://www.youtube.com/watch?v=pzM1it35nbc

## Details
Date: Wednesday October 21, 2020
Time: 16:00-17:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
This will be an informal interactive live stream directly with members of

[2020-10-13 16:43] winston-de commented on #3123
I would like to add that pivots are great with trackpads, too. I love being able to use two-finger horizontal swipe to  quickly navigate through pages without every having to click or tap.

[2020-10-13 17:11] stevenbrix commented on #3344
@sharpninja thanks for the ping. I don't think this works today, @marb2000 can provide more information on when we plan on supporting this configuration in a natural way.

[2020-10-13 17:12] CXCubeHD opened #3419 "Custom Window Border, Dragable Controls & Unclickable Window (-> Overlay)"
# Proposal: [Custom Window Border, Dragable Controls & Unclickable Window (-> Overlay)]

## Summary

Add support for Custom Window Borders, Dragable Controls (not drag & drop) and to make a window unclickable (for overlay)

## Rationale

we need Custom Window Borders, because the default Win32 borders are ugly and don't fit mostly into our applications.
Also we could make OVERLAYS with unclickable

[2020-10-13 17:40] stevenbrix commented on #2716
@angelazhangmsft are you able to confirm if this issue has been fixed? I thought there was an associated C#/WinRT issue for this, but am not seeing it in this thread.

[2020-10-13 18:31] angelazhangmsft commented on #2716
@Scottj1s @j0shuams do you know if this issue has been fixed?

[2020-10-13 20:43] niels9001 opened #3420 "[ColorPicker] R/G/B or H/S/V fields should not accept alphabetical characters - move to NumberBox?"
**Describe the bug**
The input fields in the ColorPicker control should only accept numerical values, not alphabetical values. When entering an alphabetical value and tabbing to the next inputfield will remove the incorrect character.

This is fine. However, Windows Narrator will still announce the alphabetical character and will not let the (visually impaired) user know that the value was incorre

[2020-10-13 20:50] mc0re commented on #3407
Found some additional, potentially useful info.

The `Label` property is set in XAML via a custom markup extension:
[code]

The extension creates a `Binding` object, which points to a `string`.

Maybe, `Binding` is not supported in that version of Windows (17763)? If so, I can return a static string (which becomes non-updateable), but how do I know, which version(s) of Windows to do that for, and

[2020-10-13 23:12] StephenLPeters commented on #3419
These types of features would end up being implemented and owned by different technology teams at Microsoft.  Can you please open up separate feature proposals for each so I can loop in the right teams.

[2020-10-13 23:12] #3419 closed

[2020-10-13 23:16] StephenLPeters commented on #3417
Unfortunately this isn't a known issue and with the current repro steps this is going to be very difficult for us to investigate. Is it possible to get more information or a repro app for the team to use?

[2020-10-13 23:19] StephenLPeters commented on #3412
We open the soft keyboard whenever a text box gets focus, and by long pressing on the textbox you are putting focus on the text box. I think this is by design.  For example, if you wanted to long press text to highlight it all to delete it, how would you do that without the soft keyboard opening?

[2020-10-13 23:22] StephenLPeters commented on #3411
I highly doubt this is supported (especially in UWP) but maybe @MikeHillberg knows how the WPF application hosting works and what winui might be missing for that.

[2020-10-13 23:25] StephenLPeters commented on #3408
Can you explain the scenario in which you need this? It will help the team understand the requirements better and prioritize it against our other work.

[2020-10-13 23:25] StephenLPeters commented on #3408
The App constructor happens very early on, that is a potential place for you to put the code you want to run, is it not?

[2020-10-13 23:31] StephenLPeters commented on #3407
Can you provide a repro app as an attachment to the issue? without it there isn't much we can do here.

[2020-10-13 23:35] StephenLPeters commented on #3400
@alwu-msft I'm not sure if this is in your wheelhouse or not.  @Austin-Lamb and @MikeHillberg FYI.

@KiruyaMomochi Thanks for the investigation! Can you attach the repro project to the github issue? it will make looking into this much easier.

[2020-10-13 23:40] alwu-msft commented on #3004
Preview 3 will resolve this issue.

[2020-10-13 23:46] DrusTheAxe commented on #3408
It's required to use [Project Reunion](https://github.com/microsoft/ProjectReunion).

Non-packaged processes must call [MddBootstrapInitialize()](https://github.com/microsoft/ProjectReunion/blob/master/specs/dynamicdependencies/DynamicDependencies.md#54-packaging---projectreuniondll-and-projectreunionbootstrapdll) before they can access any resources in the Project Reunion Framework package includ

[2020-10-13 23:48] DrusTheAxe commented on #3408
@StephenLPeters  The App constructor happens very early on, that is a potential place for you to put the code you want to run, is it not?

Please define 'very early'? Does this happen before ALL calls to WinUI?

MddBootstrapInitialize and Dynamic Dependencies APIs must be called before any attempt to `LoadLibary(winui.dll)`, `ActivateInstance(microsoft.ui.xaml.whatever)`, etc

[2020-10-14 02:04] sylveon commented on #2817
Fixed in 16.8 Preview 4!

[2020-10-14 02:56] KiruyaMomochi commented on #3400
@StephenLPeters
Here it goes: https://github.com/KiruyaMomochi/WinUI-3-Preview2-Demo

[2020-10-14 03:08] AzizAlqasem commented on #3418
WinUI team,

Would you please discuss the possibility of adding Python support to WinUI3. Below is a proposal that was written by @freakboy3742 :
[Proposal: Add Python support to WinUI3](https://github.com/microsoft/microsoft-ui-xaml/issues/3364)

Thank you,

[2020-10-14 05:12] densonpd opened #3421 "How to get notification in MFC application from UWP UI during user operations (E.g. Button click)?"
I have an MFC dialog based application and need to change that UI with UWP UI.
For that, designed a UWP UI and hosted on MFC application using XAML Hosting API.
But the problem is to invoke event handlers already present MFC application during a user operation on UWP UI.

For example; MFC button click event is handled in MFC application. Some logics are already implemented in this handler function

[2020-10-14 07:14] MarcAnt01 commented on #3412
@StephenLPeters good point, but imagine the scenario where there is no text in the textbox, in this case I think it is a good idea not to open the keyboard, your thoughts? Also imagine a messaging app with a textbox to write a message, long pressing it will open the context menu first and the keyboard later, making the experience annoying

[2020-10-14 13:18] jp-weber commented on #2295
Thank you for investigating the error. In a more complex construction with an adapted navigation, this unfortunately does not work. I am currently using [Template10 ](https://github.com/Windows-XAML/Template10)and I have not yet found a suitable approach to implement the workaround here.

The workaround I currently use is to reload the ObservableCollection with the data

[2020-10-14 13:31] Shad0wlife commented on #944
Sorry for the necro, but I was just looking for this feature. I'd also add that if a Command capability is added, a CommandParameter should be usable as well.
For me, the commands would be especially useful in the footer, eg. If I want to have a print Item there, that needs to do more work than just change the selection maybe. A command would feel cleaner than subscribing to the Selection event, o

[2020-10-14 15:12] chingucoding commented on #3420
@StephenLPeters Mind if I work on this issue?

[2020-10-14 15:19] Felix-Dev commented on #3420
@niels9001 The NumberBox control is currently designed to validate entered input on focus lost (or enter key pressed). The reason behind this has been given by @SavoySchuler [here](https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-498449641):

As such, even if we use a NumberBox, it will still currently render invalid characters when entered a string like "25a" in the R/G/B fi

[2020-10-14 15:53] chingucoding commented on #1883
@YuliKl Just to clarify, when the close button or the add tab button get's invoked, we should move the focus next focusable UI element? So in the case of the add button, it most likely would move the focus inside the content of the currently selected TabViewItem.

@StephenLPeters I would like to look into this.

[2020-10-14 16:29] TheWebartist commented on #2422
I've experiencing the bug on another PC on 2004 Windows 10 version.
I've downgrading the version of Microsoft.UI.Xaml to 2.4.0 (in replacement of 2.4.3 version) and I've no issue on this device.

[2020-10-14 17:37] simeoncran commented on #1484
@chingucoding right, I would advise against changing the design to make this rare case easier at the expense of making all cases harder to reason about. Is this actually causing anyone any pain that can't be solved by simply setting IsAnimatedVisualSourceDynamic to false?

[2020-10-14 17:44] j0shuams commented on #2716
From what I could tell these are not C#/WinRT issues. When I encountered this it was with XCG and had to do with their implementation -- I made an issue there https://github.com/microsoft/Xaml-Controls-Gallery/issues/559

Doesn't look like it has been fixed. @stevenbrix is [this](https://github.com/microsoft/CsWinRT/issues/409) the issue you are talking about? I think it is a different issue than

[2020-10-14 17:46] chingucoding commented on #1484
I would argue that it's more in the range of "nice to have" rather than a major pain point, though I haven't worked that much with AVP. I can see why it would make sense for very simple scenarios to have PlayAsync to wait, however as you noted, more complex scenarios will get harder to reason about. I'm inclined to say that it might be better to leave as is then, @StephenLPeters @jaredhms, your th

[2020-10-14 17:48] simeoncran commented on #1484
What is the simple scenario where you'd prefer to have it wait rather than making the content non-asynchronous to begin with?

[2020-10-14 17:49] Austin-Lamb commented on #3370
@Rand-Random, my GitHub notifications seem to be messed up, and I didn't see the mention from last week - thanks for your patience.

Windows 10 versions can certainly be a bit confusing and you need a decoder ring to really make sense of them across different Editions like Server, Xbox, and so on.  The way that's easiest to think about this is in terms of build numbers - those are shared across th

[2020-10-14 17:55] chingucoding commented on #1484
Thinking about it, when you can't make it non-asynchronous (e.g. loading files or something like that), you need to handle failure anyway. I can't think of a simple scenario where making the content non-asynchronous wouldn't work. Now I am even more convinced that the current is probably the best way to handle this, thank you @simeoncran for helping us/me this scenario better!

[2020-10-14 19:35] niels9001 commented on #3420
@Felix-Dev Agreed :)! Thanks for the elaborate explanation.

I guess we can use the same validation message for Narrator to call out when selected?

[2020-10-14 19:55] stevenbrix commented on #2716
@j0shuams the symptom of this issue is that debugging a .NET app with just the native debugger works, but when you attach the managed debugger, you get an issue. I can't tell from that linked issue whether that is the same issue as this one, but my gut is that it isn't (I could be wrong of course)

[2020-10-14 20:48] j0shuams commented on #2716
@stevenbrix No I don't think the two are related (the issue I linked and this one). My understanding of the issue of this thread was it had to do with providing a window handle hint to Picker objects (FileSavePicker, etc). I don't think there is a C#/WinRT issue about debugging with managed being broken -- is that a C#/WinRT issue? I don't think I know enough to make that call; if you think so the

[2020-10-14 21:02] jevansaks commented on #2716
Apologies for closing this and missing that IInitializeWithWindow was already being used. I'll reopen this until folks figure out whether this is a WinUI3 or CSWinRT issue and route the bug report accordingly.

[2020-10-14 21:21] AathifMahir commented on #3418
What's the future of UWP, Since UWP is superior and modern platform than Win32. Is UWP going to get underhood improvements and new features in the future or else we need stay with what we have now and just keep using win32 for Advanced App Development that UWP doesn't support?

[2020-10-14 21:30] SetTrend opened #3422 "Discussion: ToastNotification - ExpiresOnReboot (= true) should become default"
# Discussion:

## ToastNotification - `ExpiresOnReboot = true` should become default
To my experience, most (if not all) of the standard Toast notifications, like _"Windows has been updated. Restart now."_, _"App has been installed. Try now."_ or _"No threats have been found by Windows Security."_, lose their significance (or even meaning) after a user session has ended or when Windows has been re

[2020-10-14 23:07] marb2000 opened #3423 "MRT Integration issue: BitmapIcon doesn't participate in resource qualifier change"
**Describe the bug**

#### The scenario
Terminal app is using a **BitmapIcon**. The app supports per-monitor DPI, switching on/off high-contrast, and light to dark themes. BitmapIcon is handful because it automatically recolors to match the foreground and works properly on high-contrast without having to ship a whole bunch of recolored image assets.

#### The issue
There is a bitmap icon’s source

[2020-10-14 23:44] shaheedmalik commented on #3418
What is the status of adding a faux AcrylicBrush to represent the Host Acrylic functionality in 3.0 until the proper fix is done?

[2020-10-15 00:27] bcassell opened #3424 "ComboBoxBackgroundUnfocused is not used reasonably"
**Describe the bug**
In order to change the background of a ComboBox when it becomes focused, you have to modify the ComboBoxBackgroundUnfocused brush, since this controls HighlightBackground, which becomes opaque only on focus.

**Steps to reproduce the bug**
Try in vain to style the focus look of the background of a ComboBox using lightweight styling only to find out you have to modify ComboBoxB

[2020-10-15 00:29] j0k3p opened #3425 "Discussion: [your discussion title]"
# Discussion: [your title here]

## Related Links

[2020-10-15 06:50] Rand-Random commented on #3370
@Austin-Lamb
Thanks alot, for the in depth information, highly appreciated.

[2020-10-15 06:50] #3370 closed

[2020-10-15 06:56] nnemkin commented on #3418
Visual layer seems to be missing two crucial features: hit testing and text display. Are there plans to improve these areas? What are the best practices for text display and input handling using the existing Windows Composition API? (No UWP, Win32 only).

[2020-10-15 10:18] mdtauk commented on #3420
Validation would have to be linked to the current value mode of the box.

Hex would need 6/8 digits allowed, with 0-9 A-F all being supported. (ARGB / RGBA as Hex)

But if the value were numerical digits only, A-F would not be valid - and then for R G B numberboxes, 255 would be the max value, and anything above that would be invalid.

[2020-10-15 10:23] mdtauk commented on #3123
I disagree with this, the Pivot and NavigationView (set to top mode) are fundamentally different controls, and swiping with NavigationView would have lots of usability issues with the content in the pages themselves, if it "ate" the input.

Also NavigationView pages, do not necessarily have a chronological or logical grouping, so quick swipe actions would have to go through each of the pages one b

[2020-10-15 11:46] Felix-Dev opened #3427 "NavigationViewItem: Empty tooltip is shown when content is set to the empty string"
**Describe the bug**
A `NavigationViewItem` displays an empty tooltip if its content is set to the empty string.
[code]
![image](https://user-images.githubusercontent.com/1398851/96117379-4eac8f80-0eea-11eb-96f0-20a8f2af98f9.png)

**Expected behavior**
[We should not show an empty tooltip.](https://github.com/microsoft/microsoft-ui-xaml/issues/3329#issuecomment-701540214)

**Version Info**
WinUI m

[2020-10-15 12:23] massijay commented on #3418
When templates for icons/tiles will be available? (Issue #2307)

[2020-10-15 13:14] carmineos commented on #3418
An update on multi-window support and eventually on a DockManager control (https://github.com/microsoft/microsoft-ui-xaml/issues/668) would be nice!

[2020-10-15 14:28] Felix-Dev commented on #2808
@MikeHillberg @SavoySchuler Friendly ping.

[2020-10-15 14:29] Felix-Dev commented on #3237
@StephenLPeters Friendly ping.

[2020-10-15 15:50] kmgallahan commented on #3418
The number one thing I want is a temporary solution for using .NET 5 with UWP & WinUI 3.

I don't care how janky it is for now - make it desktop only, no MS Store submissions, MSIX only, "not officially supported", manual editing of solution files, no VS templates, whatever you need to do.

Otherwise, being a UWP developer over the next 1-2 years is just going to be horribly painful:

❌ No .NET 5

[2020-10-15 17:34] chingucoding commented on #3402
I would like to work on this.

[2020-10-15 22:36] Whoerr opened #3432 "Proposal:"
# Proposal: [your title here]

## Summary

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason for why we should consider this proposal}
* {etc}

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow

[2020-10-15 23:03] #3432 closed

[2020-10-15 23:07] #3425 closed

[2020-10-15 23:08] StephenLPeters commented on #3424
Thanks for reporting this! definitely seems like a bug.

[2020-10-15 23:12] StephenLPeters commented on #3421
@Austin-Lamb or @marb2000 FYI

[2020-10-15 23:13] StephenLPeters commented on #3408
No, we will have loaded winui before the app constructor is called. Seems like we'd need to implement this for your scenario.

[2020-10-15 23:15] StephenLPeters commented on #3408
@fabiant3 this is a tooling proposal, is there a PM in this space we can assign it to?

[2020-10-15 23:32] marb2000 commented on #3421
Did you take a look at the [XAML Islands Samples](https://github.com/microsoft/Xaml-Islands-Samples)? There is a MFC sample using XAML Islands.

[2020-10-16 00:04] crutkas commented on #3420
Note in PowerToys, we got flagged for accessibility on this.

[2020-10-16 00:05] crutkas commented on #3183
Note in PowerToys, we got flagged for accessibility on this

[2020-10-16 02:47] fabiant3 commented on #3408
Adding @marb2000

[2020-10-16 06:56] BorzillaR opened #3434 "'Specified cast is not valid.' exception on stream copy"
**Describe the bug**

In my WinUI/Desktop app I tried to copy txt file content to memory and got an exception

![image](https://user-images.githubusercontent.com/23479280/96222051-3f821c00-0f94-11eb-8626-c59b71d64674.png)

Exception details:
[code]

Call stack:

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run app in attachement

[App30.zip](https://github.com/micros

[2020-10-16 09:55] chingucoding commented on #3424
I would like to work on this.

[2020-10-16 10:39] Felix-Dev commented on #3247
@kikisaints @StephenLPeters I am thinking about not adding a *Pressed* visual state for the RadioButtons control (so no *Pressed theme resources like `RadioButtonsBackgroundPressed`). The RadioButtons control has no *in-built* press action, compared to its individual RadioButton items (or other controls like Buttons/ListView items). As such, it would look weird to me if clicking on the RadioButton

[2020-10-16 10:50] Felix-Dev commented on #3254
@SavoySchuler Ping for your thoughts on the apparent mismatch between the documentation and the actual behavior of the `HeroContentPlacement` API in regards to affecting the teaching tip's placement.

[2020-10-16 12:11] mrlacey commented on #3418
Can you provide an updated estimate of when a version of WinUI3 with support for production apps will be released?
Is there anything that will prevent apps built with preview3 being submitted to the Store before a GA release?

[2020-10-16 12:23] mrlacey commented on #3418
Previously, when discussing the changes to the roadmap it was explained that the reason for you doing less frequent preview releases was due to the amount of time and effort required to produce a release. The current "wisdom" around DevOps and releases is that if they are hard you should do them more often so that they become easier.
- Was this concept considered when plans were made to slow relea

[2020-10-16 12:26] Felix-Dev opened #3436 "TeachingTip: Regression - Background of custom content of light-dismissable tip no longer matches rest of the background"
**Describe the bug**
The newest WinUI 2.5 prerelease comes with a TeachingTip regression (presumably caused by PR https://github.com/microsoft/microsoft-ui-xaml/pull/3205). The background of the custom content of a *light-dismissable* tip no longer uses the background used for the rest of the tip's UI.

[code]
![image](https://user-images.githubusercontent.com/1398851/96257385-8f73d980-0fba-11eb-8

[2020-10-16 14:01] BorzillaR opened #3437 "Application hangs on GC.Collect()"
**Describe the bug**
Some of our components use DirectX to fast render. On porting I found an issue that application hangs when I put such components in window`s content. After some researching I suggest that the issue relates to GC and interrop services. I prepared a synthetic sample to reproduce this issue. In my sample I create a descendant of SurfaceImageSource. After initialize component I qu

[2020-10-16 18:40] marck7jr opened #3439 "Question: Is possible to implement with current version of the NavigationView like the Microsoft Store Style in Build 2017?"
I would like to implement like that way, because for NavigationView with PaneDisplayMode set to Top, I prefer hidding some itens and show others instead the current Hierarchical behavior and honestly, I love how the animations and items respond in each context. Sorry if have any documentation with code sample, but I tried to search and I didn't find it, just only a sample in the presentation in th

[2020-10-16 23:09] StephenLPeters commented on #3439
@marck7jr simply setting the navigation view's PaneDisplayMode to top will give the layout that is being presented in the youtube clip you linked.  If you are concerned with the over flow menu, which is when there are too many items to show in your navigation view and we end up showing a more button with the rest of the items in a drop down, you can see that store also does this at the 38:33 minut

[2020-10-16 23:09] StephenLPeters commented on #3439
I'm going to close the question, but if this didn't answer it feel free to post again and I'll reopen.

[2020-10-16 23:09] #3439 closed

[2020-10-16 23:12] StephenLPeters commented on #3437
@codendone thoughts no this?

[2020-10-16 23:13] StephenLPeters commented on #3436
eeek, thanks we should fix this before the 2.5 full release.

[2020-10-16 23:15] StephenLPeters commented on #3434
@stevenbrix another to add to the cswinrt bug bucket?

[2020-10-16 23:25] marck7jr commented on #3439
Thanks @StephenLPeters I suspected that the implementation would be like this, but I was worried about the animations that, how I said, they are so good, but I think that with the implicit animations I can do something similar. So again, thanks for support.

[2020-10-16 23:26] #3424 closed

[2020-10-16 23:30] StephenLPeters commented on #3439
Thats right, I think that store acheived these animations using implicit animations. Unfortunately I think it would be hard to dig up the specific implementation used in this demo... :/

[2020-10-17 02:23] j0shuams commented on #2716
This is actually a different issue than I was talking about. They say that switching the debugger solves the problem for FilePicker but not FileOpenPicker and FileSavePicker. @RealTommyKlein and I have discussed this and think it is some kind of issue with Desktop apps and file pickers. We came to this after I found [this](https://github.com/microsoft/Xaml-Controls-Gallery/issues/572) in a test ru

[2020-10-17 17:59] chingucoding commented on #696
Just out of curiosity, what happened to this proposal? The CSS grid layout is very powerful and I would love to be able to have something like that in XAML.

[2020-10-17 18:38] Felix-Dev commented on #3436
The hero content background is also not following the rest of the background of a light-dismissable tip:
[code]
![image](https://user-images.githubusercontent.com/1398851/96336072-62d4c600-107d-11eb-97cc-830a17ce64ec.png)

This happens since the introduction of the TeachingTip control in WinUI 2.1. I think this is a bug too as I would expect the HeroContent's default background to match that of th

[2020-10-17 20:33] jonasnordlund commented on #3014
I have wondered the same but I assume so given the [WinUI Library Roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) released since you asked your question, although this will apparently be a post-3.0 release.

[2020-10-18 11:41] benstevens48 opened #10841 "Custom cursor doesn't respond to DPI changes (and is inconvenient to add in C# app)"
I've just been experimenting with adding a custom cursor in my UWP app like this.
[code]
It works OK, except that if I change the system DPI when the app is open then the cursor does not update to use the appropriately sized bitmap in the cur file, unlike the system cursors. It just gets scaled and looks pixelated. It does work if I restart the app after the DPI change. (Note that my cur file cont

[2020-10-18 13:04] mrlacey opened #3441 "WinUI3 apps close after showing the splash screen when launched with an executionAlias"
**Describe the bug**

If a WinUI3 app is launched with an [execution alias](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap5-executionalias) the app starts but automatically closes after briefly showing the splash screen.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new, empty WinUI3 desktop app from the VSIX template (version

[2020-10-18 13:15] mrlacey commented on #3418
Are there any plans, details, or information available relating to analytics services support for WinUI3 app?

Ideally I'd like to see an official SDK for integrating directly with (Azure) Application Insights, but would settle for App Center support, knowing exporting from App Center is possible.

[2020-10-18 14:33] MarcAnt01 commented on #3412
This "intended behavior" is bringing horrible results (part of the context menu is hidden), like this one, can this be reopened?
![image](https://user-images.githubusercontent.com/43090263/96370850-8ff9a500-115f-11eb-97b0-9f402e8282dc.png)

[2020-10-18 19:13] Scottj1s opened #3443 "In Media -> Person Picture, changing radio button from Person Picture to something else, then back, causes crash"
Found while validating C#/WinRT release:

Source:
x86chk internal build from winui3

Repro:
Load the Motion | Person Picture page
Change the radio button to Display Name
Change the radio button back to Profile Image
App crashes with unhandled exception in DXamlCore::FireEvent

Call stack excerpt:

 	[Lightweight Function]
 	Microsoft.WinUI.dll!ABI.Microsoft.UI.Xaml.UnhandledExceptionEventHandler.D

[2020-10-19 01:02] nl-n commented on #717
Speaking strictly as an invidual user (ie: non-corporate/company) and c++ only, even if i am just a lone voice shouting into the void, i feel the need to say, that as long as any of these new UI systems are tied to UWP and that horrible packaging system they build into, then i'm afraid it will always be in the dark whatever you do. (Speaking from WinRT experience, havn't tried WinUI yet but it loo

[2020-10-19 01:33] dotMorten commented on #717
@nl-n you should be happy to know that one of the big deals with WinUI is that it doesn't require to run as a UWP app. In fact this has been possible since preview 2.
Currently it does require packaging as msix (afaik that limitation is planned to go away), but msix is actually a pretty decent way to distribute (and update) your apps.

[2020-10-19 01:56] nl-n commented on #717
@dotMorten That's one of the big issues: requiring side-loading/installing via the store. i don't know a single person who doesnt disable/strip the store before (or just after) installing windows, so how are we supposed to distribute them?.
I know that's somewhat rhetorical but it serves the point. I should just be able to zip up the build directory and distribute it (or an installer if warranted)

[2020-10-19 02:07] dotMorten commented on #717
@nl-n who said anything about the store? MSIX isn't really different from installing from MSI. It's just an app installer. Double click it to install. No store needed. Guarantees a 100% clean uninstall too (as opposed to MSI which makes a giant mess)

[2020-10-19 02:09] maxkatz6 commented on #717
It's not common though.

First of all, you need to inform users to not disable the store)

MSIX can be installed without a store. With latest Windows versions user don't need to enable anything for that. Of course if package was signed before with trusted certificate. But yeah, if user removed store from the PC, then he could also remove MSIX/APPX AppInstaller from it as well. In that case they pr

[2020-10-19 09:15] VitalyTVA commented on #3392
This issue also exists in C++/WinRT - see attached sample.

[code]

[code]

[App2CPP.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5400524/App2CPP.zip)
[stack.txt](https://github.com/microsoft/microsoft-ui-xaml/files/5400562/stack.txt)

[2020-10-19 11:05] EricPlayZ commented on #2775
Damnit, I'm having the same problem when trying to run a WinUI in Desktop app. Is there nothing I can do? I was hoping I could switch from using FluentWPF with a WPF application, since it's pretty unoptimized and it creates so much lag when creating more than 10 buttons with the reveal effect...

[2020-10-19 11:13] chingucoding commented on #945
@YuliKl @StephenLPeters Is it fine to remove the margin as it doesn't seem to make a difference and causes some spacing issues?

[2020-10-19 11:45] EricPlayZ commented on #2775
Now I'm trying to build it as x86 and it gives me this: `Method not found: 'Void System.Runtime.InteropServices.ComWrappers.RegisterForTrackerSupport(System.Runtime.InteropServices.ComWrappers)'.`

[2020-10-19 13:31] huoyaoyuan commented on #3434
Duplicate of Microsoft/CsWinRT#359

[2020-10-19 13:54] alexdi220 opened #3442 "x:Bind with ValueConverter raises exception"
**Describe the bug**
Hi,  I've x:Bind with a converter that is set from StaticResource. When I start an application, it crashes with the exception - System.Runtime.InteropServices.COMException: 'Unspecified error Cannot find a resource with the given key: BoolToVisibilityConverter.'

**Steps to reproduce the bug**
Run the attached project. [xBindConverterIssue.zip](https://github.com/microsoft/mic

[2020-10-19 15:00] Scottj1s opened #3444 "Motion-> Animation Interop controls crashes on x86chk MUXL build"
Found while validating C#/WinRT release:

Source:
x86chk internal build from microsoft-ui-xaml-lift repo

Repro:
Load the Motion | Animation Interop page
Click around on several of the first options (radio button, slider, Item button)
After several clicks, crashes in various places

CUIElement::CollectTransformsAndTransformToInner:
  ...
  ASSERT(has3D == Has3DDepth());

CUIElement::BoundsTestChil

[2020-10-19 15:10] james28909 commented on #1495
Sorry for the double post. A developer in know that manages multiple other controller/device inputs has taken their time to help me figure out how to disable this for DS4 v1 controllers (ds4 v2 controllers don't have the issue of ui navigation).

The developer that figured it out Is located here - https://steamcommunity.com/id/FirstPlato/ and here - https://forzatools.weebly.com/about.html

the de

[2020-10-19 15:20] james28909 commented on #1496
Sorry for the double post. A developer in know that manages multiple other controller/device input projects has taken their time to help me figure out how to disable this for DS4 v1 controllers (ds4 v2 controllers, that have the light bar in the touch pad, don't have the issue of ui navigation input).

The developer that figured it out Is located here - https://steamcommunity.com/id/FirstPlato/ an

[2020-10-19 18:34] chingucoding commented on #2495
I would like to look into this.

[2020-10-19 18:38] zipgenius commented on #3326
A breadcrumb control must definitely be included in WinUI. In my application, ZipGenius 6, I had it because Delphi had plenty of VCL components for this specific task and one of them was a perfect clone of File Explorer's one from Windows Vista/7.
I would surely use a breadcrumb bar in ZipGenius new version, which I'm developing with WinUI, .Net, C# and so on. This kind of control is absolutely ne

[2020-10-19 19:38] Felix-Dev opened #3445 "NavigationView: PaneFooter containing NavigationViewItem crashes app when navigating focus via TAB to Settings item (Regression)"
**Describe the bug**
When putting a NavigationViewItem inside the `NavigationView.PaneFooter` area as the *last* item and then moving focus to the NavigationView's in-built Settings item via TAB, the app crashes:

[code]

![navview-regression-focus-crash](https://user-images.githubusercontent.com/1398851/96502590-4dfd5b80-1252-11eb-87b9-8844ace56efe.gif)

Note that for the crash to happen, an exis

[2020-10-19 20:25] Felix-Dev opened #3447 "NavigationView: Menu items push Footer area + Settings item out of view (starting with 2.5 prerelease)"
**Describe the bug**
Originally reported by @Parth [here](https://github.com/microsoft/microsoft-ui-xaml/issues/3290#issuecomment-699687352). With PR #1997 (shipped with WinUI 2.5.0-prerelease.200812001) adding the new FooterMenuItem APIs, we now end up with (primary) menu items pushing the NavigationView's PaneFooter items and Settings item out of view in Left navigation. See the following GIFs:

[2020-10-19 20:56] stevenbrix commented on #2775
@EricPlayZ do you also have other versions of .NET5 preview installed? You might need to use global.json to make sure the preview5 sdk is actually used.

[2020-10-19 21:03] EricPlayZ commented on #2775
No, as I've always uninstalled the latest version whenever I tried an older one.

[2020-10-19 21:09] stevenbrix commented on #2775
@EricPlayZ, can you please share a binlog?

See https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/debugging_buildfailures.md for how to collect binlogs

[2020-10-19 21:14] EricPlayZ commented on #2775
Sure, I will when I have time!

[2020-10-19 21:29] nl-n commented on #717
That was from the description visual studio gives you, 'for sideloading/installing via the microsoft store', the only other information i've found on msix is from the msdn, which basically says: msix packages are sandboxed/virtualized 'appx' applications, which is pretty much a killer for anything working directly with the winapi. And they **require** signing to even be installable?...

It could a

[2020-10-19 21:47] StephenLPeters commented on #945
After reading the thread I think it would be safe but I'm not positive.  I don't think there would be a breaking change but I'm not sure if it is present for a reason.

[2020-10-19 21:53] chrisglein commented on #3409
@zed220 Did this equivalent markup+project worth without WinUI3?
(I'm assuming given that you're targeting WinUI3 that this is a regression relative to WinUI2/OS XAML)

[2020-10-19 21:56] chrisglein commented on #3385
Do we have anything to show that? My assumption is that this issue that existed in OS XAML has persisted into WinUI 3. Which is unfortunate but expected.

See this issue #2958.

[2020-10-19 22:01] chrisglein commented on #3371
@chingucoding It sounds like you suspect this has to do with specific resource dictionary references. Do you know when this started to reproduce for you? (as in which bit of markup triggered it). Do you have the full stack trace?

[2020-10-19 22:03] StephenLPeters commented on #3385
The issue you linked is about changing high contrast themes where this is just windows theme, dark to light.  You can see this working with xaml controls gallery today by changing your theme from light to dark with it open.

[2020-10-19 22:07] StephenLPeters commented on #3412
That does seem like a bug, the context menu should not open in the space reserved for the soft keyboard. But I think it is a different issue than long pressing not opening the keyboard. Are you suggesting repurposing this issue or that we should open another?

[2020-10-19 22:17] chingucoding commented on #3371
Just ran the app again and now I am able to view the exception message (not sure why now):

The crash happens when I am trying to reference the resource dictionary. Commenting out the resource dictionary reference in the "Library1/Controls.xaml" file "fixes" the issue, however it does not include the resource dictionary in the merged dictionary.

Here is the stacktrace (albeit not a very helpful o

[2020-10-19 23:14] ranjeshj commented on #3445
@Felix-Dev Thanks for filing the issue. Please go ahead with your investigation. Thanks!

[2020-10-19 23:14] ranjeshj commented on #3445
@YuliKl  as FYI

[2020-10-19 23:21] stevenbrix commented on #3434
Yeah, this looks like a dupe. I just verified that this isn't happening anymore on recent builds

[2020-10-19 23:21] #3434 closed

[2020-10-19 23:50] YuliKl commented on #3447
I believe as part of adding the FooterMenu API we moved the Settings item into FooterMenu. We automatically add a ScrollViewer to both FooterMenu and the primary MenuItems. We don't add a ScrollViewer to PaneFooter.

I think what we need are three distinct areas: MenuItems docked to the top, FooterMenu docked to the bottom, and PaneFooter floating between them. I'm not sure that we can correctly c

[2020-10-20 00:27] sylveon commented on #2408
Can reproduce this

[2020-10-20 00:35] ht-thomas commented on #3364
I definitely cannot wait for this feature to role out...

[2020-10-20 03:27] crutkas commented on #2408
affecting powertoys.

[2020-10-20 03:59] ad1Dima commented on #3447
There is one UX concern  with pinned footer: sometimes my users don't understand that there is more items in main menu.
![image](https://user-images.githubusercontent.com/3244664/96538474-cef43b80-12c2-11eb-9110-abe86e6f39e4.png)

Should it be first FooterItem or should it be SettingsMenuItem?

[2020-10-20 04:00] ad1Dima commented on #3447
May be it should be an option to pin or unpin footer menu?

[2020-10-20 04:02] ad1Dima commented on #3447
there is issue for this #3029

[2020-10-20 04:03] sylveon commented on #2408
My crude workaround was putting this before `PreTranslateMessage`
[code]
to send back the message to my hosting window.

[2020-10-20 05:46] zed220 commented on #3409
Hi,

WPF, UWP and WinUI on UWP applications with similar binding works fine.

I can't test this on WinUI2.

[2020-10-20 06:57] jtorjo opened #3468 "Question: [uwp] Is Canvas optimized for huge sizes (1 million px width or height)?"
I have a `Canvas` control with around 300 children controls, which get resized as the user increases/decreases a zoom factor.
Worst case scenario, this canvas would end up having lets say 1,000,000 pixels in width.

My assumption is that the UI layer would simply figure out what needs to be drawn from each of the canvas's children and draw only that -- so it would be very efficient.

Is my assumpt

[2020-10-20 07:07] zed220 opened #3448 "ItemsRepeater.ItemTemplate does not work with RecyclingElementFactory or IElementFactory"
**Describe the bug**
I try to use the RecyclingElementFactory or IElementFactory as an ItemsRepeater.ItemTemplate but fail - app crashes.
Doc here - [https://docs.microsoft.com/ru-ru/uwp/api/microsoft.ui.xaml.controls.itemsrepeater.itemtemplate?view=winui-2.4](https://docs.microsoft.com/ru-ru/uwp/api/microsoft.ui.xaml.controls.itemsrepeater.itemtemplate?view=winui-2.4)

**Steps to reproduce the bu

[2020-10-20 07:11] pjmlp commented on #3418
No question, more of a feedback kind of comment, feel free to adress it, discuss it privately or whatever.

The way we have multiple reboots since Windows 8 introduction, first with single project per deployment target, then the initial unification via UAP, followed up by UWP and now Reunion.

Alongside dropping WinJS, never caring for exposing certain COM APIs to .NET devs, but at least we had C+

[2020-10-20 07:14] chingucoding opened #3449 "New control script should include APITest project"
A lot of the time, when the new control script is used, later, an API test project will be added. However, this often leads to issues as they might not be added properly or referenced in both solution files. In addition to this, anything that can be verified through an API test should be verified through that as they are faster and more reliable than interaction tests. Not having the API test proj

[2020-10-20 08:18] Vinothini-V opened #3611 "TitleBar cannot be accessed in TabWindowing sample."
**Describe the bug**
TitleBar cannot be accessed in TabWindowing sample in WinUI 3

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to 'TabViewWindowingSamplePage'
2. Click on 'Launch window'
3. Now hover the TabItems in the window. But it cannot be accessed.

**Expected behavior**
We should able to access this.

**Actual behavior**
Now we unable to click on the TabItems.

*

[2020-10-20 08:23] Vinothini-V opened #3450 "TitleBar cannot be accessed in TabWindowing sample."
Describe the bug
TitleBar cannot be accessed in TabWindowing sample.

Steps to reproduce the bug

Steps to reproduce the behavior:

Go to 'TabViewWindowingSamplePage'
Click on 'Launch window'
Now hover the TabItems in the window. But it cannot be accessed.
Expected behavior
We should able to access this.

Actual behavior
Now we unable to click on the TabItems.

Screenshots

**Version Info**

NuGet

[2020-10-20 08:55] MarcAnt01 commented on #3412
@StephenLPeters I am changing this issue to be a feature request and I will open another ticket for the mentioned bug, is that all right?

[2020-10-20 11:43] TartanLlama commented on #2828
What's my best option to do this from a C++/WinRT application?

[2020-10-20 13:43] roxk opened #3451 "WinUI 3 item template file generation is inconsistent from project template"
**Describe the bug**

Files generated by starting a new C++ UWP WinUI 3 project have `.h` and `.cpp` (e.g. `MainPage.h`) file extensions, but files generated via Add -> New Item -> WinUI -> Any Template (e.g. `BlankPage`) have `.xaml.h` and `.xaml.cpp`, and `.idl` file is not grouped together with `.xaml` (if any) in the solution explorer pane.

The project compiles just fine, but this inconsisten

[2020-10-20 14:19] chingucoding commented on #2495
I think I found the issue, the `PathIcon(Source).Data` property is causing us problems here as it can't be shared, see #827. A possible solution would be to set the icon sources data to null while the TabViewItem consumes it. This of course is not ideal though. Another option would be to copy the data, however I am not quite sure how we would do this.

[2020-10-20 14:43] Felix-Dev commented on #3448
Typically, you would provide a subclass of `RecyclingElementFactory` with a custom implementation by overriding the *ElementCore() methods like `GetElementCore(ElementFactoryGetArgs)`. When you just pass the base class, we currently throw an exception with message "Templates property cannot be null or empty."

Should we keep throwing an exception here, just show "nothing" or provide a basic Item.T

[2020-10-20 15:35] chingucoding commented on #2495
While not ideal, I think the "clearing" approach might be the best here given that it can not be shared anyway. If we are not choosing that approach, I would open a PR to at least catch PathIcons and skip them to not cause crashes.
@stmoy What are your thoughts on this?

[2020-10-20 16:06] chingucoding commented on #3448
It is not that easy to "show nothing", that's why we also throw an exception for null DataTemplates. One workaround we currently use in ItemTemplateWrapper is to render Rectangle elements for every data entry.

Regarding the RecycleFactory without recycle override, I think this fails since we create items to measure them for layouting and recycling them right away, that's why it doesn't just rende

[2020-10-20 17:06] YuliKl commented on #3447
I think we should pin the **last** FooterItem to match the bottom-aligned behavior I'm aiming for. That will result in the settings item being the visible one most of the time, unless the has chosen to set `IsSettingsVisible` to False.

NavigationView is such a complex control already I worry about introducing even more APIs. @ad1Dima, is this something you feel you need, or was this just an idea

[2020-10-20 18:09] FrayxRulez commented on #2623
So @ranjeshj this is kinda late but if I understood correctly this happens when a new ItemsRepeater with a ItemTemplate and **standard Layout** gets created and there's more than a window open for the app.

[2020-10-20 18:14] FrayxRulez commented on #2623
Even removing the ItemTemplate the app is obviously crashing due to cross thread calls.

[2020-10-20 18:38] StephenLPeters commented on #3412
Sounds correct to me.

[2020-10-20 18:41] chingucoding commented on #3191
I am unable to reproduce this issue. Can you try out the latest WinUI prerelease or provide a repro app? @StephenLPeters FYI

[2020-10-20 18:45] chingucoding opened #3453 "Bug: TabView shadow does not update receivers when dropped on TabView"
**Describe the bug**

When dragging and dropping TabView items, the shadow does not update their receiver list leaving the TabViewItem with no shadow when moving to a different TabView.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
0. Override TabViewItemHeaderBackgroundSelected resource to Transparent to have shadow be easily visible
1. Have two TabViews
2. Drop a TabViewItem

[2020-10-20 19:55] MichaeIDietrich commented on #3409
Hi, correct me if I am wrong, but I don't see where you set the `DataContext` property in your code.

Could it be that you mixed up `{Binding}` and `{x:Bind}`?

`{Binding}` as in WPF uses the `DataContext` of the surrounding `FrameworkElement` while `{x:Bind}` uses the properties of the surrounding `FrameworkElement` directly.

[2020-10-20 20:05] MarcAnt01 commented on #3412
I have refactored the issue into a feature request

[2020-10-20 21:45] NyntoFive commented on #3364
YesYesYes

[2020-10-20 23:11] ranjeshj commented on #3453
@adambarlow and @chigy as FYI.

[2020-10-20 23:17] ranjeshj commented on #3448
@zed220 what is it you are trying to achieve by passing an empty data template ,selector or factory ? You can pass in a rectangle or something which is not visible which could achieve the same desired result perhaps ?

[2020-10-21 02:12] ChrisSchaller commented on #3417
In trying to create a minimum reproducible code sample I have identified that the root cause of my issue is to do with an event handler registered on `ScrollViewer.ScrollableHeightProperty` on a `ScrollViewer` that was a child element of an affected tab page.

Although this was not an observable issue with the toolkit version of the application, it is an anti-pattern that is discouraged so I have

[2020-10-21 02:12] #3417 closed

[2020-10-21 02:46] zhuxb711 commented on #3191
@chingucoding
Here is a repro:
[TabDragBug.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5412950/TabDragBug.zip)

It is worth noting that you should open two instances and drag tabs between the windows. Make sure the tab you drag is released above the selected tab in another window

[2020-10-21 04:26] ad1Dima commented on #3447
I made same same behavior in my app before i used `NavigationView`.  So yes i would like to have an option to have all menu in one `ScrollView`. I think it would be better case for non-hierarchical menu. But i understand inconveniences in hierarchical case.

And I don't like idea of scroll sized as one element at all. It will be frustrating with touchscreen and not obvious with mouse.

[2020-10-21 06:29] hupo376787 opened #3455 "Proposal: Bring native NavigationView experience to XBox"
Currently, XBox's `NavigationView` control has the same behaviors as the desktop. Like all the other controls, we have to customize their appearance to adapt to Xbox. Most of them are simple, but `NavigationView` is a special case.

Many behaviors and appearance of `NavigationView` seems perfect on desktop, but performs terribly on the Xbox platform. I tried to modify some of the xaml resource and

[2020-10-21 06:44] maxkatz6 commented on #3455
It's not clear enough for me, what exactly wrong on this video and what can be improved.

[2020-10-21 06:59] hupo376787 commented on #3455
@maxkatz6 I have updated the comment, thx.

[2020-10-21 07:02] zed220 commented on #3409
Hello,

Thanks for your answer. As I can see, bindings to the Window class does not work at all because it does not have the DataContext property. Is it right behavior? Why the Window class does not have
the DataContext property? Is It by design?

Thanks.

[2020-10-21 07:29] zed220 commented on #3448
Hello,

I have created a simple project with overriding the GetElementCore and the RecycleElementCore and all works fine.

Am I right that the RecyclingElementFactory class can not work without custom implementation for
the GetElementCore and the RecycleElementCore methods?

As I can see, the RecyclingElementFactory class have the [complex and interesting implementation](https://github.com/microso

[2020-10-21 07:42] Marv51 commented on #3418
What are the issues or reasoning behind doing very big milestone previews in contrast with more a faster preview release cadence?
Projects adopt different release speeds, all the way from no previews at all to nightly builds. For WinUI 3 you chose 3-5 months between previews. What do you feel is the advantages of that?

[2020-10-21 08:09] FrayxRulez commented on #2623
So I've updated the ticket with a bit more of infos.

[2020-10-21 08:24] mdtauk commented on #3455
Once WinUI 3.0 is out, I hope every control will get a ControlTemplate with all the typographic and metric changes needed so when running on Xbox, the controls will look and behave correctly.

I suspect Microsoft will push more towards ReactNative for Xbox, as the new Store uses it to render the native controls, and WinUI 3.0 wont be supported at launch on Xbox, or non Desktop/Tablet form factors.

[2020-10-21 08:33] hupo376787 commented on #3455
I have also noticed the new app store, seems better.

[2020-10-21 08:45] chingucoding commented on #3448
Hi @zed220 , you can in fact use the RecyclingElementFactory in your app. For example, you can do the following:

[code]

[2020-10-21 08:52] chingucoding commented on #3453
Note that this is not caused by ThemeShadows but rather TabView. The only scenario where the receivers for the TabView are being set is in ApplyTemplate. After that, the receivers are not being updated so moving to a different TabView leaves the TabViewItem with no shadow as the new TabView hasn't been added to the list of receivers.

[2020-10-21 10:31] zed220 commented on #3448
Hi again,

All works as expected.

Can I use the x:Bind in the last example as following:

[code]

I try to set it in my project but fail.

Thanks

[2020-10-21 11:28] chingucoding commented on #3448
Does your Item class have a `Value` property? Using x:Bind should work in a DataTemplate and is also used in the samples of the XAML Controls Gallery. If you are getting an exception or build errors, it would be helpful to share them so we can see what is causing the issue.

[2020-10-21 11:57] chingucoding commented on #3191
Thank you for the repro app, I am able to repro this now. I'll take a look what is causing this behavior.

[2020-10-21 11:58] zed220 commented on #3448
I have mistaken. All works as expected. For example:

[code]

[code]

Many thanks!

[2020-10-21 12:45] Shad0wlife opened #3456 "NavigationView OpenPaneLength does not apply to PaneToggleButton automatically"
**Describe the bug**
When changing the OpenPaneLength of a NavigationView (on the left of the window) while the Pane is Expanded, the Pane area is correctly changed, but the button area of the PaneToggleButton does not change with it. It only updates after Toggling the Pane twice.

**Steps to reproduce the bug**
1. Create a NavigationView
EDIT: 1.5: Set the PaneTitle of the NavigationView
2. Bind

[2020-10-21 13:04] Felix-Dev commented on #3456
@Shad0wlife This is how it looks for me:

![navview-panetogglebutton](https://user-images.githubusercontent.com/1398851/96722584-d3e1e980-13ad-11eb-8731-1e17a0c0d87f.gif)
where clicking the button increases the OpenPaneWidth by 50 on each click.

This looks like the correct behavior to me. The PaneToggleButton is not a NavigationViewItem which fills the complete pane width. It's a button with widt

[2020-10-21 13:31] harvinders opened #3457 "Question: How to add layered Icon to AppBarButton"
I am not able to figure out how do I add a layered icon to an AppBarButton, something that is described [here](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font#layering-and-mirroring).

It was suggested online that we can use a `<Grid>` and add two `<FontIcon>` s, something like

[code]

However, if we do this the Icons won't be displayed if the item moves to the over

[2020-10-21 15:16] marcelwgn opened #3458 "Dropping element on ListViewItem leaves drop target in bad VSM state"
**Describe the bug**

When dropping an element on a ListViewItem, the ListViewItem gets stuck in a bad state where it thinks that the pointer is still above it.

[ListViewDragBug.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5416939/ListViewDragBug.zip)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Run the attached app and drag one ListViewItem onto another one.

**

[2020-10-21 15:21] chingucoding commented on #3191
Unfortunately, this is not an issue with TabView but rather an issue with the underlying ListView which takes care of the visual states (also the issue is not about shadows but the pointerover behavior). See #3458 for more context.

There are multiple ways TabView can deal with this:
1. Switch to ItemsRepeater, this however is not a small task and will take quite some time
2. Handle the PointerOve

[2020-10-21 15:34] Felix-Dev commented on #3097
@StephenLPeters Did you find some time to discuss this with other members of the team?

[2020-10-21 15:50] zhuxb711 commented on #3191
@chingucoding  I don't know VisualState very well, could you provide some code to alleviate this problem? Thanks a lot~

[2020-10-21 16:15] hansmbakker commented on #3418
Agree about the direction-shifting. "UWP is the way to go" was a clear message that got blurred afterwards.

A clear direction, less vague timelines, and also: alignment inside Microsoft teams to follow that direction themselves (not really the case now - for example see Teams where somebody decided it was a good idea to use Electron, being slow as a result), would be greatly appreciated.

I am no

[2020-10-21 16:26] chingucoding commented on #3191
I'm afraid, there is no simple way to mitigate this for you. One thing you could do is handle the pointer over logic yourself, that would mean:

- Listen to PointerExited
- Listen to PointerEntered
- Listen to Drop
- Listen to DragEnter
- Listen to DragLeave

and respond accordingly.

In addition to that, you would also need to retemplate TabView and remove the "PointeOver" visual state while intr

[2020-10-21 16:36] zhuxb711 commented on #3191
This is a fairly low-level BUG. ListView is the most basic control. It should not have such or other problems and cannot be fixed in time.

Please set this problem as an urgent problem in WinUI3，and I hope that WinUI3 can be released as scheduled and not delayed like WinUI2.5.

[2020-10-21 17:07] AathifMahir commented on #3418
@ryandemopoulos Please would you mind answering this question, seems like this question got missed on Win UI community call

[2020-10-21 17:28] Chiramisu commented on #3418
I have a **VERY** legacy WinForms app built on .NET Framework 3.5. I'm trying to plan my migration path with WinUI 3 as the end goal. I've found these articles. Am I on the right track or going in the wrong direction? I need to modernize this desktop app, hopefully with the flexibility to make it cross-platform later on, depending on business needs.

1. [Migration Guide](https://docs.microsoft.com

[2020-10-21 18:08] arjunbalgovind opened #3459 "NavigationView appears blurry temporarily at 125% scaling for WPF XAML Islands"
**Describe the bug**

If the system is set to 125% scaling a NavigationView initially appears blurry and after a short duration (less than a second) renders normally for WPF Xaml Island projects. The bug can be reproduced on PowerToys.  https://github.com/microsoft/PowerToys/issues/6592 is the tracking issue on our repo.

**Steps to reproduce the bug**

WPF Xaml Islands project with NavigationView

[2020-10-21 18:24] Felix-Dev opened #3460 "TreeView: DragItemsCount is not updated when removing selected items"
**Describe the bug**
When dragging selected items in the TreeView, a drag item count is being displayed to indicate how many items are included in the drag operation. This variable is not being updated when removing selected items:

![treeview-DragItemsCount-issue](https://user-images.githubusercontent.com/1398851/96759696-b1b19100-13d8-11eb-8c5f-52927f53a60a.gif)

While the initial drag count of

[2020-10-21 18:28] crutkas commented on #2408
@sylveon that is the c++ workaround, now to see what the WPF workaround is :)

[2020-10-21 18:43] crutkas commented on #2408
https://github.com/microsoft/microsoft-ui-xaml/issues/2481 looks to be the same issue

[2020-10-21 18:44] StephenLPeters commented on #3448
@zed220 glad your issue was resolved, I'm going to close it. If something else comes up feel free to post back here.

[2020-10-21 18:54] Felix-Dev commented on #3448
@StephenLPeters Do we want to close this issue even though we still have all these app crashes? Ideally we can do something about that since app crashes really should be avoided whenever possible. Since we have already seen some discussion about them in this issue, the discussion, if desired, could be continued here.

[2020-10-21 18:58] StephenLPeters commented on #3448
Yeah, okay, my mistake.

[2020-10-21 18:58] chingucoding opened #3461 "API tests should enforce CI dimensions"
Similar to the interaction tests, the API tests also should enforce the CI dimensions to minimize the difference between local test runs and CI test runs.

I can work on this, if that's fine.

[2020-10-21 19:17] mc0re commented on #3407
I can try putting together the code pieces I posted above. But I do not know whether this will reproduce the issue, I do not have that old version of Windows 10. Is it not possible for you guys to scan the code for "%2"? It's not often "%2" is used in C#...

[2020-10-21 22:53] SvetBonev opened #3463 "[Localization]Warning did not translated when created an UWP Application without enable Developer mode"
[Environment]

OS: Windows-10-Enterprise-19H1-VSDrop-ja-jp

VS: 16.8 Preview 5(d16.8/30615.102)

Repro steps:

1. Create a UWP Application

2. Don't enable Developer mode

[Expected]

Warning should be translated

[Actual]

Warning did not translated
![attachments](https://user-images.githubusercontent.com/46607019/96798335-8a959800-13b5-11eb-8eb4-7c094f21d35f.png)

[2020-10-21 22:53] SvetBonev commented on #3463
The warning comes from Microsoft.Windows.UI.Xaml.Build.Tasks.dll in the Windows 10 SDK.

[2020-10-21 23:06] gabbybilka opened #3464 "Proposal: PipsPager - UI to support glyph-based pagination"
# Proposal: PipsPager - UI to support glyph-based pagination

## Summary
In various types of media apps there is a common pattern to show content that is not explicitly ordered but paginated with glyph-based indicators instead of numbers. This concept of glyph-based representations of numbers can be noted as **Pips**.
We'd like to introduce a baseline set of features for this visualization current

[2020-10-21 23:07] StephenLPeters commented on #3463
Warnings and errors are always presented in English, this is by design for errors in Winui to reduce our package size. I'm not positive about this specific error but it is a pretty common pattern to not locallize these, just like we don't localize our API names.

[2020-10-21 23:11] StephenLPeters commented on #3460
I assume this is caused by us only changing the number in the selected items changed event, not in the collection changed events as well. Please go ahead and take a look :)

[2020-10-21 23:11] michael-hawker commented on #1289
Just had to spend another chunk of time debugging another similar scenario. I moved a style from within a control to outside as part of a resource dictionary. Within that style was a VisualStateManager which had the following XAML defined:

[code]

However, the converter was a local resource in the original spot, so now `ContrastBrush` wasn't a valid resource. This was crashing at runtime in the m

[2020-10-21 23:15] gabbybilka commented on #60
For anyone interested in pip pagination (oriented vertically and horizontally) leveraging PagerControl, please continue the discussion in this recently opened issue #3464. Thanks!

[2020-10-21 23:20] SvetBonev commented on #3463
There are certain expectations from Microsoft products to comply with Accessibility, World Ready, and other requirements. Package size concerns shouldn't trump those.

[2020-10-21 23:21] StephenLPeters commented on #3457
If you leave or set the icon to null does the content get pushed into the overflow menu? ContentPresenter does some magic to set up that wiring by default.

[2020-10-21 23:25] StephenLPeters commented on #3456
@Felix-Dev can you try this repro with the PaneTitle property set to something? I think that changes this behavior.

[2020-10-21 23:27] mdtauk commented on #3464
The new ReactNative Xbox Store app has this kind of pips display.
![image](https://user-images.githubusercontent.com/7389110/96799443-0e25a800-13fb-11eb-91c3-330b527e277b.png)

The original Xbox One setup OOBE, used a similar step pager control
![image](https://user-images.githubusercontent.com/7389110/96800034-4ed1f100-13fc-11eb-9c2b-ccc44d370f0d.png)

So I think navigation pattern with the Contr

[2020-10-21 23:27] chingucoding commented on #3464
I think a common scenario for pips are (image) carousels, like here: https://owlcarousel2.github.io/OwlCarousel2/demos/basic.html

A common expectation for those carousels is that you can swipe to get to the next page, so having support for this would be great on touch devices, though it might be a bit tricky to get the API right here if PagerControl is not page aware like it is right now.

[2020-10-21 23:28] StephenLPeters commented on #3456
@Shad0wlife do you have the PaneTitle property set to something?

[2020-10-21 23:35] mdtauk commented on #3464
I would call it a **Steps** mode, I would also allow adding text to each _step_ as well as states for:
- Completed Steps
- Current Step
- Steps to come

The developer could provide the icon or shape of the indicator, so a bullet or pip could be used without text, or a horizontal/vertical bar like with the navigation view, or the Windows OOBE steps.
![image](https://user-images.githubusercontent.co

[2020-10-21 23:35] StephenLPeters commented on #3448
Talking with @ranjeshj I think we actually do want to crash, I don't think there is a real scenario where the developer would be in this scenario outside of a test environment and it is easier to debug this crash than it is to debug an empty screen.

[2020-10-21 23:36] maxkatz6 commented on #3463
@SvetBonev there is another issue for that https://github.com/microsoft/microsoft-ui-xaml/issues/2299
As for me, it is controversial topic. A lot of developers do not prefer localized exception messages.

[2020-10-21 23:39] StephenLPeters commented on #3407
%2 is coming from the formatted string for the error message, the parameter is null. This will be difficult to track down just from a source scan.

[2020-10-21 23:44] harvinders commented on #3457
If I keep the XAML like below, and when the button goes to overflow menu, the menu does show the Label correctly. However, Content, in this case `Grid` with `FontIcon`s, is not displayed.

[code]

[2020-10-21 23:45] Felix-Dev commented on #3456
@StephenLPeters Yep, this should be it:

![navview-panetogglebutton](https://user-images.githubusercontent.com/1398851/96801465-f43e9200-1407-11eb-809f-a6acd3b56c8b.gif)

I assume this is a bug then and I could take a look at this.

[2020-10-22 02:22] JeanRoca commented on #3418
Thank you so much for taking time to continuously provide us with feedback. I want to assure you that your voice is heard and feedback like this is the only way we can commit to delivering an improved developer experience to the community. There is no such thing as an irrelevant minority in the Windows roadmap ☺

Before I address your response I wanted to give a really brief disclaimer that I am s

[2020-10-22 05:52] Pinox commented on #3418
Awesome to see some progress on UWP with .NET5 in the community call demo. Well done MS !!

[2020-10-22 06:08] Shad0wlife commented on #3456
Yes, I have the Pane Title set. (It also happens with localization via x:Uid and Resources.resw)
Thanks for looking into it!

[2020-10-22 09:12] Shad0wlife opened #3466 "Proposal: Allow for Input filtering in NumberBox"
# Proposal: Allow for Input filtering in NumberBox

## Summary

For now, using a NumberBox to handle Number-only inputs is sometimes less preferable to using a TextBox, since the TextBox can be tweaked to have an input filter that disallows adding any characters that are not digits for example.
With a TextBox this can be done with the BeforeTextChanging-Event (like [this](https://stackoverflow.com

[2020-10-22 12:13] benstevens48 commented on #3458
This might be related to this fundamental issue that I created a while ago - https://github.com/microsoft/microsoft-ui-xaml/issues/1959. (Note the title was changed to add the 'When pointer captured' bit, but I think there might other circumstances where entered/exited are not properly fired in pairs, e.g. during drag and drop).

[2020-10-22 15:02] sbrian26 commented on #2949
Is this issue expected to be fixed when using VS 16.8.0 Preview 5.0+ and .NET 5.0.100-rc.2?

[2020-10-22 15:29] chingucoding commented on #3461
Closing this as API tests seem to respect the CI dimensions. The [test failure mismatch with CI](https://github.com/microsoft/microsoft-ui-xaml/pull/3430/files#r509972753) is still pending, but not necessarily caused by the dimensions but might be a timing issue.

[2020-10-22 15:29] #3461 closed

[2020-10-22 17:01] virzak commented on #1500
When is the alpha expected to be released? Will it be open to contributions? Trying to ditch an outdated data grid and really looking forward to this, especially virtualization feature.

[2020-10-22 17:11] chingucoding opened #3467 "Providing custom AutomationPeer when deriving from RangeBase can crash app on value change"
**Describe the bug**

When creating a custom control that is derived from RangeBase, providing an AutomationPeer (by overriding OnCreateAutomationPeer) can crash the application when the value property changes while narrator is on.

See following demo project:

[RangeBaseCrash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5424397/RangeBaseCrash.zip)

Switching the base class of the pee

[2020-10-22 17:27] ad1Dima commented on #3455
And NavigationView too
![image](https://user-images.githubusercontent.com/3244664/96907860-0252e800-14c6-11eb-8e87-09bd31140ae6.png)

try `PaneDisplayMode="Left"` and `SelectionFollowsFocus="Enabled"`

[2020-10-22 17:28] ad1Dima commented on #3455
this is interesting

[2020-10-22 17:35] ad1Dima commented on #3455
ListView had same reveal focus style.
![image](https://user-images.githubusercontent.com/3244664/96908786-50b4b680-14c7-11eb-8515-e6a55e8e5763.png)

I believe NavigationViewItem shold have same reveal focus style. Since it has moved on `ItemsRepeater` it lost it.

[2020-10-22 17:41] stevewri commented on #3468
XAML specific question about the canvas control.

[2020-10-22 17:41] vsergeyev commented on #3364
Yes please! Python applications for Machine Learning may greatly benefit from this.

[2020-10-22 17:57] chingucoding commented on #3458
Yes, I noticed that PointerEntered/PointerExited are not being raised when the cursor drags something over the item. Though, in contrast, DragEnter and DragLeave seem to work correctly and could be used when implementing your own control pointer over behavior.

[2020-10-22 18:07] benstevens48 commented on #3458
PointerEntered/PointerExited need to be guaranteed to fire in a pair in all circumstances in order to void bugs like this. I suppose they should even fire when dragging, otherwise you can have DragEnter then drop, then PointerExited, which would violate the pair rule. Alternatively, rather than being guaranteed as a pair, it should at least be guaranteed that PointerExited always fires if PointerE

[2020-10-22 20:07] chingucoding opened #3469 "Calling AutomationPeer.RaiseEvent and AutomationPeer.RaisePropertyChangedEvent does not seem to work"
Not sure if this is the correct repo for this, however WinUI is also affected by this. When implementing an AutomationPeer, raising the `AutomationPeer.RaiseEvent` function does not always seem to work and calling `AutomationPeer.RaisePropertyChangedEvent` does not trigger narrator announcing changes either. A good example of this is the NumberBox control which calls `AutomationPeer.RaisePropertyC

[2020-10-22 21:35] chingucoding opened #3470 "Placeholder names on NumberBox result in strange narrator behavior"
**Describe the bug**

When the value of the NumberBoxes is set, narrator still reads out the placeholder, resulting in announcment likes "0.00, edit 100".

@SavoySchuler @YuliKl FYI as I am not sure if this is the best behavior for NumberBox.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open NumberBox page
2. Start narrator
3. Enter value in NumberBox
4. Switch to and from

[2020-10-22 23:07] ranjeshj commented on #3470
I'm guessing the narrator behavior is coming from TextBox since we just template bind placeholder text, but I'm not seeing the same behavior in TextBox. It is possible that this is caused by the way TextBox is being used by NumberBox.

[2020-10-22 23:19] ranjeshj commented on #3457
This does not look like it is currently supported because Grid is not an IconElement. We need a new feature here to stack icons to enable this.

[2020-10-22 23:20] ranjeshj commented on #3456
Thanks @Felix-Dev - that makes it very clear. Please go ahead with your investigation. Thanks!

[2020-10-22 23:23] ranjeshj commented on #3468
@jtorjo If the content is that big and has 300 children controls, perhaps some sort of virtualization is in order to get decent perf.

[2020-10-23 00:34] mitran79 opened #3471 "Can't work with C# WinUI in Desktop projects."
**Describe the bug**

Can't create new Blank App(WinUi in UWP) in either C# or C++.
Unable to sucessfully open WinUi-3-Demo DemoBuildCs.
Dialog reports:
The expression "[Microsoft.Build.Utilities.ToolLocationHelper]::GetPlatformSDKLocation(",10,0.18362.0)" cannot be evaluated. Parameter "targetPlatformIdentifier" cannot have zero length.

**Steps to reproduce the bug**

Steps to reproduce the beha

[2020-10-23 01:58] hupo376787 commented on #3455
@ad1Dima I also noticed `SelectionFollowsFocus`, but when set PaneDisplayMode="LeftCompact", there is a bug when opening `NavigationView` using `NavigationView.IsPaneOpen=true`. It closes immediately after opening.

[2020-10-23 06:07] ad1Dima commented on #3471
Did you install Universal Windows Platform Development?
![image](https://user-images.githubusercontent.com/3244664/96962200-82ae3300-1530-11eb-85cc-05810f81d66a.png)

[2020-10-23 07:00] jtorjo commented on #3468
@ranjeshj  Thanks. I do get some virtualization would be needed - but how do you actually implement that? I don't see a `VirtualCanvas` class.

One idea I have is to hide the controls that are not visible - is this what you mean?

[2020-10-23 07:17] DHowett opened #3472 "System Xaml Islands: user reports blank content after VM resume from suspend"
**Describe the bug**
In microsoft/terminal#7957, @strw22 reported that Terminal was blank after they resume their Parallels VM from suspend.

I asked them to run another app that uses system xaml islands. It exhibits the same behavior.

**Steps to reproduce the bug**

Quoted:

**Expected behavior**

Content comes back.

**Screenshots**

Screenshots in linked issue.

**Version Info**

NuGet package

[2020-10-23 09:40] chingucoding commented on #3470
Yes, this seems to be an issue with the TextBox jumping in and providing the UIA name here instead of the NumberBox, which in it's current implementation wouldn't even report the value. Is it intended that the NumberBoxAutomationPeer does not read out it's current value if Narrator would use it?

[2020-10-23 13:14] chingucoding commented on #3449
I would like to look into this.

[2020-10-23 15:28] mitran79 commented on #3471
Yes, I sure did. With a whole lot of other stuff too.
<img width="655" alt="Capture" src="https://user-images.githubusercontent.com/36862623/97022879-68ac3900-15a0-11eb-9674-62cb96582f4f.PNG">

[2020-10-23 17:00] joshkoon opened #3473 "TeachingTip: Closed TeachingTips appear in tab order"
**Describe the bug**

TeachingTips declared in XAML do not have IsTabStop set to False by default. The result is they appear as ghost tabs in the tab order.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a TeachingTip to XAML, with IsOpen=False
2. Tab through the controls. TeachingTip appears in the tab order.

**Expected behavior**
TeachingTip shouldn't appear in the tab

[2020-10-23 18:13] chingucoding commented on #945
Seems like that margin has been here since the initial commit on the GitHub repository. This might be a long shot but @ojhad, do you know why this margin is there even though it doesn't seem to make a difference?

[2020-10-23 18:32] mc0re commented on #3407
What parameter?

[2020-10-23 18:32] chingucoding opened #3475 "Can we remove " Tests" from test inventory button UIA names?"
The test inventory automatically appends " Tests" to the top level page buttons:

https://github.com/microsoft/microsoft-ui-xaml/blob/560b07508af2d8e49a1b36b7607ebcb3c1b6ea74/test/TestAppUtils/TestDeclaration.cs#L23

This is not documented though and can be really confusing to people new to the project as the test helper references "NavigationView Tests", though when opening the app, there is no b

[2020-10-23 20:27] zadjii-msft opened #3476 "Impossible to pick any color other than black after setting ColorPicker to black"
This issue was originally found over in https://github.com/microsoft/terminal/issues/7948. I'm moving relevant details to the WinUI repo for more discussion on this behavior, despite us working around this in the Terminal.

The Terminal is using MUX 2.5.0-prerelease.200609001.

## TL;DR

If you use the ColorPicker with `IsColorSliderVisible=False` then set the color of the picker to Black (`#00000

[2020-10-23 20:43] jindal1979 opened #3488 "Cannot Submit Xaml Island App to Microsoft Store"
I am trying to submit an App built using XAML ISLAND based WPF .Net Core 3.1 App. However, the package is failing with:

WAP_3.20.1.0_x64_bundle.msixupload121.2 MB
Package acceptance validation error: You cannot submit pre-compiled .NET Native packages. Please upload the Microsoft Store appxupload file and try again

I have built the sample Xaml Island Apps from this github also, however they all

[2020-10-23 21:15] michael-hawker opened #3477 "Proposal: GetTemplateChild should have strongly typed equivelent"
# Proposal: GetTemplateChild should have a strongly typed equivalent

## Summary
When writing custom templated controls, we use the `TemplatePart` attribute to specify which components we expect to find in the XAML template. This attribute also specifies a strong type to be associated with the name for VS to help with validation. In the majority of cases, the component author is casting to this ty

[2020-10-23 23:03] YuliKl opened #3478 "Update acrylic theme resources"
# Proposal: Update acrylic theme resources

## Summary

Update some existing AcrylicBrush theme resources, add a few more, and update controls to reference correct resources.

## Proposed changes

1. Update SystemControlTransientBackgroundBrush
To take advantage of the (not so new) `TintLuminosityOpacity` property, update the existing `SystemControlTransientBackgroundBrush` to use new values.

  |

[2020-10-23 23:06] StephenLPeters commented on #3477
@michael-hawker in Winui2 we use this helper method we wrote ourselves to achieve this: https://github.com/microsoft/microsoft-ui-xaml/blob/607b6de45ac355b4bf7d1db102c35430d3da54e9/dev/inc/CppWinRTHelpers.h#L137

[2020-10-23 23:07] SvetBonev commented on #3463
@maxkatz6 Thank you for the pointer to the other issue.

Because this is an error message issued by MSBuild which is part of Visual Studio, the error message needs to follow the Visual Studio localization rules.
It is a matter of providing consistent experience within the Visual Studio product as well as ensuring regulatory compliance with the laws of different countries and regions.

[2020-10-23 23:12] StephenLPeters commented on #3476
I think this is by design, the color spectrum area lets you set the saturation and hue while the slider lets you set the color value.  If you set the value to 0 (which is what choosing black color does) than any hue and saturation combination is also going to be black.  Since there is no way to change the value with the spectrum and you've hidden the value slider then yes there is no way to change

[2020-10-23 23:12] YuliKl commented on #2125
This topic is now covered by #3478

[2020-10-23 23:12] #2125 closed

[2020-10-23 23:14] #3476 closed

[2020-10-23 23:15] StephenLPeters commented on #3475
Seems fine to me.

[2020-10-23 23:18] StephenLPeters commented on #3473
This is because of teaching tips weird behavior of reparenting its children and placing them in a popup. The teaching tip itself remains in the tree but has not children and therefore doesn't render. To fix this we need to make sure that the teaching tip itself is not a tab stop while maintaining its children's tab stop settings.

[2020-10-23 23:21] StephenLPeters commented on #3471
This is caused by Visual studio version 16.8, it is incompatible with Winui3 preview 2. The solution is to either use VS16.7 (the non preview version) or wait for Winui3 preview 3 which will support it and be here soon _TM_

[2020-10-23 23:21] #3471 closed

[2020-10-23 23:24] StephenLPeters commented on #3407
The parameter to whatever formatted string the error system is attempting to present. We need a repro under a debugger to see what it is.

[2020-10-23 23:29] StephenLPeters commented on #3463
@jevansaks FYI.

[2020-10-23 23:42] mdtauk commented on #3478
Is this just a refresh for consistency sake, or is there a change/tweak to the direction from a high level design pov?

Are these changes also taking into account the temporary loss of the HostBackdrop Acrylic for WinUI 3.0?

[2020-10-23 23:50] scout208 commented on #1780
I can confirm that installing the latest prerelease version of Microsoft.UI.Xaml (v2.5.0-prerelease.200923002) fixes this issue. So, I'm guessing that this will be resolved in the next general release of Microsoft.UI.Xaml?

[2020-10-24 01:50] kmelmon opened #3479 "Proposal: Add tracing/tooling to aid in tracking focus state changes"
# Proposal: Add tracing/tooling to aid in tracking focus state changes

## Summary

This came out of root causing https://github.com/microsoft/react-native-windows/issues/6181
To debug this issue, I had to manually debug through FocusManager code, which is very time consuming and requires deep knowledge of the focus code.  There are many scenarios (eg TabFocusNavigation behavior, apps changing foc

[2020-10-24 04:05] roxk commented on #2429
Could reproduce similar issue in WinUI3 as well. I have a `PostsPage` in `root-namespace.Presentation.UI.Posts` and when building the project the compiler complains it cannot find `XamlBindingTrackBase`.

**Screenshot**
Notice how `XamlingBindingTrackBase` lack namespace prefix, while `ReferenceTypeXamlBindings` below have it.
![image](https://user-images.githubusercontent.com/16918354/97067552-d8

[2020-10-24 08:03] Felix-Dev commented on #3473
@StephenLPeters Seeing as there is no "help-wanted" tag, are you taking a look at this? Otherwise, I wouldn't mind fixing this.

[2020-10-24 10:27] Felix-Dev commented on #3455
@hupo376787 This is by design. See the discussion starting [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2391#issuecomment-666708683). Feel free to voice your concerns in that issue (and perhaps include pinging YuliKI from the WinUI team) if you disagree with that design thought.

We also still need to add that info to the NavigationView IsPaneOpen documentation (if kept) and I plan

[2020-10-24 11:49] chingucoding commented on #3475
Is this something that should wait until WinUI 3 to be merged in this repo to prevent merge conflicts?

[2020-10-24 18:07] chingucoding opened #3480 "Question: Controls with AccessibilityView=Content return null as AutomationPeer"
I noticed that a few controls such as StackPanel or Grid have AccessibilityView set to `Content`, however those elements return null when calling `FrameworkElementAutomationPeer.CreatePeerForElement`. According to [the documentation on the control-view tree](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-treeoverview#content-view), such controls should specify `IsControlElement=true

[2020-10-24 18:17] chingucoding commented on #3478
If this is good to work on, I would gladly work on this. Regarding the RS2 resources, the simplest way would be to leave out the tint-luminosity-opacity for those brushes, not sure if that is the best solution. Maybe @chigy has an idea?

[2020-10-24 18:35] shaheedmalik commented on #3478
I think you need to make a proposal for this one.

[2020-10-24 18:38] chingucoding opened #3481 "Setting Text property on TextBox results in Accessibility Insights check failure"
Creating a TextBox with just the TextBox property set, Accessibility Insights reports a check failure:

![Image showing Accessibility Insights error](https://user-images.githubusercontent.com/16122379/97089384-94c6c900-1637-11eb-923b-f4e9a5644da2.png)

The XAML used:
[code]

Narrator announces the text of the control correctly though, so this might be an issue with Accessibility Insights. Creating

[2020-10-25 00:19] sylveon opened #3482 "XAML Islands: Broken rendering after closing a window"
**Describe the bug**
If multiple XAML islands windows are hosted on the same thread, closing one of those windows can lead to the rendering on other windows (both existing and any newly created) to stop working correctly.

**Steps to reproduce the bug**
1. Create a new blank WPF .NET Framework app.
2. Add the `Microsoft.Toolkit.Wpf.UI.XamlHost` NuGet package.
3. Add a project reference to the Univ

[2020-10-25 14:05] hansmbakker commented on #1024
This is not only a problem when it is at the top of the page. It also makes it impossible to vertically center `CommandBar.Content` elements, and it produces an ugly gap below the buttons.

There is a 4px shift up of all elements inside the `CommandBar` when `IsOpen` switches to `true`, and I believe this is a bug.

[2020-10-25 14:17] hansmbakker commented on #1024
![CommandBar-bug](https://user-images.githubusercontent.com/3463496/97109727-26d0df00-16d5-11eb-9d29-7c79e335b757.gif)
![CommandBar-bug-top](https://user-images.githubusercontent.com/3463496/97109728-27697580-16d5-11eb-8fa1-02991634d922.gif)
![CommandBar-bug-verticallyalign](https://user-images.githubusercontent.com/3463496/97109729-28020c00-16d5-11eb-8303-11e1ab2249a0.gif)

[2020-10-25 19:14] alexdi220 opened #3484 "FocusManager.GetFocusedElement() always returns null"
**Describe the bug**
Hi,
the GetFocusedElement method always returns null. How can I get a focused element?

**Steps to reproduce the bug**
Check focused element on TextBox's TextChanged:
[code]

**Expected behavior**
The focused element should be null

**Screenshots**

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0.0-preview2.200713.0]

Windows app type:
| UWP              | Win32

[2020-10-25 19:14] SFM61319 commented on #2402
I didnt want to open another issue so i am renaming and reopening this issue

[2020-10-25 19:15] SFM61319 commented on #2402
How does WinUI create the color pallete (like `themePrimaryColor` which is what the user gives, `themeSecondaryColor` which is part of the pallette which is calculated by WinUI)?

[2020-10-25 19:16] SFM61319 commented on #2402
and no this doesnt need triage, bot

[2020-10-25 19:20] SFM61319 commented on #2402
like how does [Fluent UI Theme Designer](https://aka.ms/ThemeDesigner) do that (too)?

[2020-10-25 20:34] chingucoding opened #3485 "Inheriting from WinUI 2 Control in C++/WinRT results in compile issues"
**Describe the bug**

When inheriting from a MUXC control in MIDL, the compilation fails with errors like this:

[code]

[RepeaterCompileCrash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5435895/RepeaterCompileCrash.zip)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create new C++/WinRT project
2. Add WinUI package and update pch.h
3. Create new control, inheri

[2020-10-26 02:09] schallot commented on #2303
I believe I'm experiencing the same issue.  I've posted detailed steps to reproduce here: https://github.com/schallot/Microsoft.UI.Xaml.Controls-TreeView-Selection-Issue

[2020-10-26 03:14] hupo376787 commented on #2391
I have one concern, I'm designing apps for Xbox, so we use focus to open the `NavigationView`.
Suppose I set the `NavigationView.PaneDisplayMode=LeftCompact`, and a `Button`.
![无标----题](https://user-images.githubusercontent.com/14960168/97130351-2b040780-177c-11eb-9c00-be54b67bdc25.jpg)

I have to use focus to open the `NavigationView`. But when press the left button, `NavigationView` closes immed

[2020-10-26 03:36] WashingtonARamos opened #3486 "ContentDialog doesn't use WinUI Styling in runtime but does in the designer"
**Describe the bug**
When designing a ContentDialog it shows rounded corners but in runtime it shows square corners. Some child controls receive rounded corners but others remain with square corners.

**Steps to reproduce the bug**
Have Microsoft.UI.XAML v2.4.3 installed, create a new ContentDialog and show in application.

**Expected behavior**
ContentDialog and child controls receive WinUI styli

[2020-10-26 06:48] jtorjo commented on #2364
@Felix-Dev thanks, I'm assuming only @jevansaks  or @StephenLPeters can move it, righ?

[2020-10-26 07:21] alexdi220 opened #3487 "The Path with specific data has rendering artifacts"
**Describe the bug**
Hi,
I use the Path figure (see attached XAML) and it renders different from WPF. The WinUI's Path has an additional vertical line (see screen1). WPF not (screen 2). It looks like a bug.

**Steps to reproduce the bug**
XAML to reproduce:
[code]

**Expected behavior**
Should works like WPF

**Screenshots**
![image](https://user-images.githubusercontent.com/47348109/97143964-b083

[2020-10-26 12:18] tonecool commented on #2949
The same here, VS 16.8 Preview 5.0 and .NET 5 rc2
![image](https://user-images.githubusercontent.com/12557893/97171290-81c60d00-178d-11eb-822f-4cde050643c3.png)

[2020-10-26 13:04] SFM61319 commented on #2402
@chingucoding uhh sorry for pinging you but this was the fastest way...

[2020-10-26 16:09] chigy commented on #3478
@chingucoding , is it possible to prototype the fallback without the tint-luminosity-opacity as you suggest?

[2020-10-26 16:14] chingucoding commented on #3478
I can create the brushes without said property and show how they compare to the brushes with tint-luminosity-opacity specified. However, I'm not quite sure if they will render exactly the same on RS2 compared to later versions where that property exists but is not specified.

[2020-10-26 16:30] chigy commented on #3478
@YuliKl , @kikisaints , I would think the visual should not be different between property existing but not set, vs. property not existing?

[2020-10-26 16:45] chingucoding commented on #3478
From left to right in every row, we have:
- the light theme version
- the light theme version without TintLuminosityOpacity
- the dark theme version
- the dark theme version without TintLuminosityOpacity

![gif](https://user-images.githubusercontent.com/16122379/97201529-daf46780-17b2-11eb-9eaf-faad42421e60.gif)

Interestingly, the dark theme versions differ quite a lot when leaving out the tint l

[2020-10-26 17:04] chingucoding commented on #2402
I don't know how the different shades for a given accent color is being generated, sorry. Maybe someone from the team knows more.

[2020-10-26 17:07] mdtauk commented on #2402
I think the Fluent Xaml Theme Editor is open source, so you could look at how they generate their shades.  I am not sure WinUI 3.0 will contain the code, as it may remain a Windows OS feature - but it is possible WinUI 3.0 will contain the code to do it, for backwards compatible support?

[2020-10-26 17:12] SFM61319 commented on #2402
oh, np.

&nbsp;&nbsp;

Yep I'll take a look at it, thanks!

[2020-10-26 17:18] SFM61319 commented on #2402
Also, I am kinda confused. How is the `tintColor` in acrylic set again? Like i said a while ago, i was trying to implement acrylic and reveal brushes in CSS and JS to have a better understanding of how it all works. I wrote the exact same functions written in `AcrylicBrush.cpp` but in js, but i dont know how to get the final color, opacity, saturation and brightness for the acrylic. i will be past

[2020-10-26 17:24] SFM61319 commented on #2402
[code]

[2020-10-26 17:26] hansmbakker commented on #1024
For me, there is a workaround shared by @v-zhumin [on StackOverflow](https://stackoverflow.com/questions/64524669/uwp-commandbar-moves-vertically-when-isopen-changes):

[code]

That one worked for me.

However, I see that @YuliKl did not use `AppBarSeparator`, so for her it must be caused by something else?

Can you pick this up and solve the bug so that the workaround is not needed anymore?
Can y

[2020-10-26 17:27] SFM61319 commented on #2402
what confuses me even more is there are two different functions for the colors (`GetEffectiveTintColor` and `GetEffectiveLuminosityColor`) and idk which is to be used for the final background color and which returns the filters like `saturate` and `brightness` along with `blur` (which we know to be `~20px`)

[2020-10-26 17:44] SFM61319 commented on #2402
@mdtauk i could not find the editor's source which creates the themes based on the accent color passed (and the color mode - light/dark - iirc)...

[2020-10-26 17:59] alwu-msft commented on #2949
This will be fixed in WinUI 3 Preview 3. Unfortunately .NET 5 has had a lot of breaking changes since we released Preview 2; you will need to stick with VS 16.7 and .NET 5 Preview 5 (although I've seen some reports that .NET 5 Preview 7 is the most recent version that is still compatible).

[2020-10-26 18:11] chingucoding commented on #2402
AcrylicBrush is not just a simple color, it consists of multiple different layers that are stacked on top of each other:

![Image showing recipe](https://user-images.githubusercontent.com/16122379/97211107-d5048380-17be-11eb-9798-996ea61e05a6.png)

So in order to properly implement that, you would need to be able to stack multiple different filters on top of each other.

[2020-10-26 18:27] SFM61319 commented on #2402
@chingucoding yes I know that but in CSS you can use multiple (backdrop) filters in a single frame(?) by doing:
[code]
and i wanted to know how to calculate the `r`, `g`, `b`, `a` values (idk which function of the above functions to use) for the *background-color* (passing an opaque color (i.e. `alpha = 1`) is returning an opaque color but thats not what `AcrylicBrush` does, it's minimum opacity i

[2020-10-26 18:32] chingucoding commented on #2402
Both the tint and luminosity layer have colors and both of them are stacked on top of each other from what I can tell. If you don't want to use a luminosity layer, just use the `_getEffectiveTintColor` method.

[2020-10-26 18:41] AathifMahir opened #3489 "Fluent Icons Support"
Currently, Microsoft Fluent Icons Supports Android and iOS but not Windows Yet, Would love to see Fluent Icons makes the way to Windows app with the Support for UWP, Win32, etc..

For making the UI consistent with icons.

# Proposal: [Microsoft Fluent Icons Nuget]

## Summary

Microsoft Fluent Icons Support across the Windows Platforms.
## Rationale

* Fluent Icons is already available on Third-pa

[2020-10-26 19:01] mdtauk commented on #3489
#869    #2439

[2020-10-26 19:39] BrayanKhosravian opened #3490 "[Bug] Button CharacterSpacing is not working"
**Describe the bug**
The `CharacterSpacing` property does nothing for a Button.
I was actually trying to fix a bug in Xamarin.Forms.
After not being able to fix the issue, I created a new UWP app and reproduced the issue.

**Steps to reproduce the bug**
Repro:
[uwptemp.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5441167/uwptemp.zip)

1.) create a blank uwp app
2.) add the following c

[2020-10-26 19:53] shaheedmalik commented on #3486
Wasn't this a glitch that the Shell team needed to fix? I remember seeing something like this before?

[2020-10-26 19:56] shaheedmalik commented on #3486
Check #1405

[2020-10-26 20:16] ejserna opened #3491 "FindElement.Refresh stuck in infinite loop when setting a child's events source to the parent's"
**Describe the bug**
If you set a control's events source to a parent's, the ````foreach```` loop in ````FindElement.Refresh()```` will get stuck in an infinite loop.

**Steps to reproduce the bug**
Try this code:
**XAML**:
[code]
**XAML.CS**
[code]
**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :-------

[2020-10-26 21:06] michael-hawker commented on #1780
@scout208 the pre-release builds are built differently than the main releases, so a test with a build from their main pipeline should be done.

[2020-10-26 21:08] ranjeshj commented on #3468
Right, you would have to look at the Scrollviewer's viewport and just measure/arrange items within what. Another option could be to see if you can use ItemsRepeater and write a custom virtualizing layout (where you get the rect of what is visible/realized). That way your custom layout can be de-coupled from the ScrollViewer.

[2020-10-26 21:08] ejserna opened #3493 "No LayoutTransformControl in WinUI"
**Describe the bug**
For #3492, we need a ````LayoutTransformControl````, which WinUI doesn't have (yet).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

| Wi

[2020-10-26 21:10] mdtauk commented on #3493
The Windows Community Toolkit has one
https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/layouttransformcontrol

[2020-10-26 21:57] ranjeshj commented on #1923
Yes. If ItemsRepeater is setting the datacontext, it should clear the datacontext when recycling. We have to be careful to not stomp though (there might be a case where the provided element might already have datacontext set on it)

[2020-10-26 22:37] chingucoding commented on #1923
I just tried the sample code you shared in the MUXControlsTestApp and it seems that the DataContext does get cleared correctly already. After changing the datasource, 5 items have a DataContext while the other 5 items have their DataContext set to `null`. Looks like that this was fixed with #2626 .

[2020-10-26 22:40] chingucoding commented on #1923
Also, the changes made in #2626 only affect items that have their datacontext set by the ElementFactory. Items whose DataContext was not set by the repeater are unaffected.

[2020-10-26 22:50] kmgallahan commented on #1024
@hansmbakker

I believe you are running into the same issue described in #1454.

[2020-10-26 22:57] chingucoding commented on #1853
I'm very certain that this is because of narrator. When changing the AutomationControlType from `Spinner` to `Edit` narrator starts to announce the name of the complete NumberBox. @YuliKl Is that behavior intended?

Also given that users can also enter mathematical expressions such as "2+4*3", would the AutomationControlType `Edit` make more sense for NumberBox? Or should it at least depend on how

[2020-10-26 23:06] ranjeshj commented on #3493
WPF supports LayoutTransform in the framework so this is a gap. Unfortunately render transform does not update the layout bounds of the element.

[2020-10-26 23:08] ranjeshj commented on #3491
@ejserna  Is this an issue with the test code in WinUI ?

[2020-10-26 23:11] ranjeshj commented on #3490
Looks like CharacterSpacing is not template bound to the content presenter in the Button's template.

[2020-10-26 23:14] chingucoding commented on #2951
@MikeHillberg Is there anything we can do in WinUI 2 to prevent the TextBoxAutomationPeer to interfere with us here and allow us to pass Min/Max to UIA?

@ranjeshj Would it be fine if I create a PR to pass the AutomationProperties.Name to the TextBox so we can fill that gap? Also, when AutomationProperties.Name is not set, but the header of the NumberBox is set, should we pass the header value as

[2020-10-26 23:15] ranjeshj commented on #3486
@WashingtonARamos are you seeing this issue with latest pre-release bits ?

[2020-10-26 23:15] chingucoding commented on #3490
I would like to work on this.

[2020-10-26 23:17] ranjeshj commented on #3485
@jevansaks any ideas ?

[2020-10-26 23:17] WashingtonARamos commented on #3486
No, this is the `2.4.3` version of Microsoft.UI.Xaml. Are you asking me to install the pre-release build and see if it happens there too?

[2020-10-26 23:18] mdtauk commented on #3493
The need for it in WinUI is to enable the new Expander control to be able to expand to the Left or Right.

In time, this may also allow for Vertical Tabs which can be rotated and placed to the left or right.

[2020-10-26 23:19] stevenbrix commented on #3488
@marb2000 and @ocalvo, is this a known issue with mixing WPF and UWP?

[2020-10-26 23:19] ranjeshj commented on #3482
@marb2000 as FYI

[2020-10-26 23:19] BrayanKhosravian commented on #3490
Is it possible to solve it by my own?
I mean is the repo with the issue open source?

[2020-10-26 23:21] chingucoding commented on #3490
Yes, sure the template of the Button control is open source on this repository, you can find it here: https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/CommonStyles/Button_themeresources.xaml

[2020-10-26 23:23] ranjeshj commented on #3481
GetName returning empty sounds reasonable. If you set AutomationProperties.Name, you would get it. If there is a header, you can get that as well. So everything seems fine from the control side. The element path issue sounds suspect and I wonder if it is an issue  with the rule itself.

Can we file this issue on the accessibility insights repo ?
https://github.com/Microsoft/accessibility-insights-

[2020-10-26 23:24] ranjeshj commented on #3480
@MikeHillberg do you know ?

[2020-10-26 23:26] BrayanKhosravian commented on #3490
Ok thanks a lot. I didn't know that it's open source tbh. I'll investigate this.
This would be my fist fix for uwp.
It's OK for me when you want to pick this up as I might need a bit longer fixing it and you were faster then me. @chingucoding  🙂

[2020-10-26 23:26] ranjeshj commented on #3479
Sounds like a great idea. The two tools I have found useful in the past are to put breakpoints in the framework code and adding a page level FocusChanged event to trace out who got focus.

[2020-10-26 23:27] chingucoding commented on #3490
If you want to work on this, go for it, even if it takes some time. In case you have any questions with setting up the repo or getting started, feel free to ask!

[2020-10-26 23:29] mdtauk commented on #3490
I have noticed a few of these "forgotten to bind to the template" issues.

I wonder if there ought to be some kind of UI property test, to iterate through inherited UI Element/Control properties, and flag them up if they have no impact on the visual rendering of the control.

Then whatever properties get flagged, someone can compare the visuals and see which properties **should** create a visual c

[2020-10-26 23:34] ranjeshj commented on #2391
@hupo376787  Could you explain more? Is navigation view is already open (since you are saying that it is closing). Can you share a video or gif ? Thanks!

[2020-10-26 23:37] chingucoding commented on #3481
These might be the column headers for the failed rules below, created https://github.com/microsoft/accessibility-insights-windows/issues/980.

Since the behavior is expected in this case, I'll close this issue as there is nothing to track here then.

[2020-10-26 23:37] #3481 closed

[2020-10-26 23:39] BrayanKhosravian commented on #3490
@chingucoding Thanks a lot. I will ask here when having any questions.

[2020-10-26 23:41] YuliKl commented on #3478
@chingucoding I have basically the same prototype and feel that just leaving out TintLuminosityOpacity is not acceptable (primarily for dark theme). Will try to propose replacement values shortly.

And yes, please add the new resources to the RS1 dictionary. They should just be solid color brushes with the fallback color as their values.

[2020-10-26 23:42] ranjeshj commented on #3381
@dannyp32 sorry about the delayed response. Would you be able to provide a standalone repro to debug ?

[2020-10-26 23:44] mdtauk commented on #3478
Some of those fallback colours are near indistinguishable from the base White and Black colours.  Is that intended?

[2020-10-26 23:44] ranjeshj commented on #3380
@dannyp32 sorry for the delayed response, if you can share a standalone repro, that would be very helpful. Are items being added when you are scrolling ? (I see refreshing... at the top)

[2020-10-26 23:44] arjunbalgovind opened #3494 "Narrator does not read out the NavigationView button after activating close/open NavigationView button in WPF Xaml Islands"
**Describe the bug**

If the user has tab focus on the Open/Close NavigationView button, the Narrator will initially read out "Close Navigation..." and after pressing Enter on it, the NavigationView closes but it does not read out the new name "Open Navigation...". On all examples of NavigationView on the Xaml Controls Gallery app, this behavior does not happen. The button is read out by the narra

[2020-10-26 23:45] ranjeshj commented on #3377
This might be related to the effective viewport issue in Winui3

[2020-10-26 23:46] BrayanKhosravian commented on #3490
I can see that everything is very good documented.
https://github.com/microsoft/microsoft-ui-xaml/blob/master/README.md
https://github.com/microsoft/microsoft-ui-xaml/blob/master/CONTRIBUTING.md
https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/developer_guide.md#Prerequisites

[2020-10-26 23:48] ranjeshj commented on #434
Yes. An API or some method where we don't keep the containers still parented to the repeater is what we need here. A custom factory which does this is a reasonable workaround in its place.

[2020-10-26 23:52] BrayanKhosravian commented on #3490
Does this mean that my request has to be approved?
And does that also count for the first contribution?
![image](https://user-images.githubusercontent.com/35541212/97240428-8b339180-17ee-11eb-9a73-e5c6189f10fb.png)

[2020-10-26 23:56] chingucoding commented on #3490
If you request a new feature or API, yes it has to be approved. In this case however, this is a big which does not need API review and approval, so it is good to go.

You can ask the WinUI team to assign the issue to you, though I think it is clear for others that you want to work on this issue, so I think that it's not needed to assign it to you.

[2020-10-27 00:03] YuliKl commented on #3478
Updated the description with what I believe to be reasonable RS2 alternatives. They don't look as great as the new values but remain usable.

@mdtauk, yes. Because acrylic ought to be used on transient surfaces, most users shouldn't see the fallback color at all. When acrylic is completely turned off on the user's system, the backgrounds they see should match the color of the base page background.

[2020-10-27 00:07] mdtauk commented on #3478
How would this affect usability for things like the Numberbox pop over buttons, or context menus.  Unless of course the guidance stipulates borders and shadows should be used on these transient surfaces. (and even then the user can turn shadows off, which will also hamper visibility)

[2020-10-27 00:10] YuliKl commented on #2391
@hupo376787, the View button on the Xbox controller (the small round button with two overlapping rectangles as its icon) opens NavigationView. Does that help with your scenarios?

[2020-10-27 00:10] chingucoding commented on #3478
Awesome! Since there don't seem to be any open questions on this proposal, I'll start working on this.

[2020-10-27 00:17] YuliKl commented on #3478
Yes, borders feel like the right answer.

[2020-10-27 00:26] mdtauk commented on #3478
What values would be used for the borders, and will they be documented.  It would be good to find a consistent set of values, for all controls to use - if you are in the process of updating style resources.

[2020-10-27 00:40] mdtauk commented on #698
This image was released with the announcement of the changes coming to Xbox's Dashboard for Xbox One, Xbox One X | S and **Xbox Series X | S**.
![Xbox_Scarlett_Visualrefresh_FR](https://user-images.githubusercontent.com/7389110/97242556-19f2df00-17ec-11eb-9b5b-9ab304d744c8.png)

I think this, and whatever internal figma, design kits, or Xaml ResourceDictionaries have been developed for the updated

[2020-10-27 01:29] jevansaks commented on #3485
This sounds like a MIDL bug that was already fixed but I don't remember the details. @BenJKuhn @DefaultRyan can you take a look? The IDL is simple:

[code]

Was this one of the issues where it's a bug with /reference imports but not import statements with idls directly?

[2020-10-27 01:57] yoshiask commented on #3299
Is there a reason why there isn't a TopPaneBackground property or something? I'm making a templated control that uses a NavigationView internally and I need to use a TemplateBinding on the background

[2020-10-27 02:07] hupo376787 commented on #2391
Navigation is `LeftCompact`. When putting focus on the button and press left, this happens. The same happens on Xbox.

![GIF](https://user-images.githubusercontent.com/14960168/97248156-1be48e80-183c-11eb-81e0-471d63e784c7.gif)

[2020-10-27 03:09] hupo376787 commented on #2391
Nope, view button still can not open `NavigationView`.

See 👇
![cc6bd06f459afd0e4c60617496d18355 (2)](https://user-images.githubusercontent.com/14960168/97252260-8b5e7c00-1844-11eb-9c37-c0d0f533bcc3.gif)

[2020-10-27 03:11] YuliKl commented on #3478
[SystemControlTransientBorderBrush](https://github.com/microsoft/microsoft-ui-xaml/blob/d883cf3593912ded1a1fcc73f38768fda8ee3a45/dev/Materials/Acrylic/AcrylicBrush_rs2_themeresources.xaml#L435)

[2020-10-27 03:15] YuliKl commented on #2391
@hupo376787 what is you remove the custom code you've added? The View button is default behavior what's working for me in Xaml Controls Gallery.

[2020-10-27 03:25] hupo376787 commented on #2391
I set `IsPaneToggleButtonVisible="False"`.

See my [sample repo](https://github.com/hupo376787/NaviViewOnXbox2).

[2020-10-27 05:49] zhuxb711 opened #3495 "An exception is thrown when assigning a value to the SelectedNode of the TreeView: a fatal exit is requested"
**Describe the bug**
When assigning a value to the SelectedNode of the TreeView, the following error occurs in some cases:

#### Here is StackTrace:
ucrtbase.dll!00007ff959d3287e()	Unknown
ucrtbase.dll!00007ff959d07e4d()	Unknown
ucrtbase.dll!00007ff959cd532c()	Unknown
Windows.UI.Xaml.dll!00007ff9286f0015()	Unknown
Microsoft.UI.Xaml.dll!ITrackerHandleManager::NewTrackerHandle(TrackerHandle__ * & ha

[2020-10-27 08:16] chingucoding commented on #3299
This is because that would be a property which would only be relevant in some scenarios but not in all scenarios. Such kind of API is not ideal and the API surface of NavigationView is already fairly complex, having a property for the TopPaneBackground does not make this easier. Also when this kind of property would be introduced, we would also need to introduce a new property for the left panebac

[2020-10-27 09:56] Marv51 commented on #3418
Question for next community call: Why was Windows 10 1803 chosen as the base line for supporting WinUI 3?

Both 1803 and 1809 now _expire_ May 2021 with the extension of the 'extended support end date'. So by _early 2021_ when WinUI 3 is ready that leaves a couple months for these releases at most?

This seems curious to me, as the next release 1903 was also the minimum requirement for XAML Island

[2020-10-27 10:06] alexdi220 opened #3496 "The control doesn't raise IsEnabledChanged"
**Describe the bug**
Hi,
I have an inheritor from the Control class (CustomControl) and the event IsEnabledChanged doesn't raise.

**Steps to reproduce the bug**
MainWindow.xaml
[code]
MainWindow.xaml.cs
[code]
**Expected behavior**
The event should be raised

**Screenshots**

**Version Info**

[Microsoft.WinUI 3.0.0-preview2.200713.0]

Windows app type:
| UWP              | Win32            |
| :

[2020-10-27 10:25] alexdi220 opened #3497 "Standard visual states doesn't work for custom control"
**Describe the bug**
Hi,
I have a custom control that inherits from Control. My control has a style with the standard VisualState x:Name="Disabled" and it doesn't work when IsEnabled=False (you can see a red border instead of black)

**Steps to reproduce the bug**
MainWindow.xaml
[code]
MainWindow.xaml.cs
[code]

**Expected behavior**
The state should work and CustomControl will be black

**Screen

[2020-10-27 11:11] Felix-Dev commented on #2391
@hupo376787 This appears to be fixed starting with WinUI 2.5.0-prerelease.200812001. Can you report the fix on your systems as well when using this preview version (or a later one)?

[2020-10-27 11:16] Felix-Dev commented on #3497
@alexdi220 This is expected. See [this discussion](https://github.com/microsoft/microsoft-ui-xaml/pull/3005#discussion_r465237827). You will have to listen to the property change and go the disabled visual state yourself.

[2020-10-27 11:32] mdtauk commented on #3478
I think there may be a mistake with the Dark Theme value
``<SolidColorBrush x:Key="SystemControlTransientBorderBrush" Color="#000000" Opacity="0.36" />``

Shouldn't that be **Color="#FFFFFF" Opacity="0.36"**

I think I brought this same point up when the Numberbox Flyout buttons were changed #3127

[2020-10-27 11:36] chingucoding commented on #3478
I think you are right, but @YuliKl or @chigy probably know more on this.

[2020-10-27 11:36] hupo376787 commented on #2391
@Felix-Dev Thx, mine is 2.4.3. I update to 2.5.0-preview, seems ok on my pc now.

[2020-10-27 11:38] alexdi220 commented on #3497
Hi @Felix-Dev,
Thank you for a quick answer. What is the reason then I need to use this state if I will code myself? I mean in this case, it's useless, I can use any custom visual states. It looks like a bug. The standard states like Normal, Disabled, Focused, PointerOver, Pressed for Button should work out of box. In WPF it works. I've also faced an issue that the IsEnabledChanged event isn't rai

[2020-10-27 11:43] Vinothini-V opened #3499 "Custom style is not applied"
**Describe the bug**
I have a custom control derived from DropdownButton and have style for this control. But custom style is not applied.

**Steps to reproduce the bug**
  public sealed class CustomControl1 : DropDownButton
    {
        public CustomControl1()
        {
            this.DefaultStyleKey = typeof(CustomControl1);
        }

        protected override void OnApplyTemplate()

[2020-10-27 11:43] alexdi220 opened #3500 "x:Bind throws NullReferenceException if it binds to StateTrigger.IsActive inside ControlTemplate"
**Describe the bug**
Hi,
I faced the nullref when I try to use StateTrigger and x:Bind. The template of CustomControl has a visual state with a trigger. IsActive property binds to IsEnalbed property of the control.

**Steps to reproduce the bug**
MainWindow.xaml
[code]
MainWindow.xaml.cs
[code]

**Expected behavior**
The StateTrigger should work

**Screenshots**
![image](https://user-images.github

[2020-10-27 11:51] Felix-Dev commented on #3478
Note that I tried to update that brush locally for me back then as I also view this as a mistake but it didn't work. See my [Note] remark.

[2020-10-27 13:19] hansmbakker commented on #1024
@kmgallahan
Please check my repro, because although there is similarity, there are really differences as well.

I am not using scaled text for example, which the issue you mention is about.

[2020-10-27 13:36] chingucoding commented on #434
Given that there is no API on ItemsRepeater to get the realized items, what is the easiest way for users to clear unused elements then? Should we expect users to get the children through the visual tree and pass them to the ItemsRepeater to have them freed detached from the repeater?

[2020-10-27 13:41] gruntfutuk commented on #3364
That would be awesome.

[2020-10-27 13:41] BrayanKhosravian commented on #3490
I want to share my investigation.

When looking into the `TextBox_themeresources.xaml` then I can't see a templetebinding for CharacterSpacing.
But the spacing works for the `TextBox` because of some reason.
https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/CommonStyles/TextBox_themeresources.xaml

Adding a templetebinding for the buttons resource dosnt solve the issue.
But maybe I am

[2020-10-27 13:43] BrayanKhosravian commented on #3490
Is it possible to debug the unmanaged code which is located in the `Button` class?
It seems like everything in DLLInjected

[2020-10-27 13:47] ranjeshj commented on #3469
This is an issue with the way Narrator understands what the control is providing. Tracked by an [issue ](https://microsoft.visualstudio.com/OS/_workitems/edit/28082781)on the narrator side internally.

[2020-10-27 14:15] Marv51 opened #3501 "Proposal: Add Orientation Property to RadioButtons"
# Proposal: Add Orientation Property to RadioButtons

## Summary
Currently RadioButtons are arranged vertically. With the MaxColumns property we can create a Grid of RadioButtons. However these are arranged like this:

| Item 1 | Item 3 |
| Item 2 | Item 4 |

A `Orientation="Horizontal"` RadioButtons would be arranged like this:
| Item 1 | Item 2 |
| Item 3 | Item 4 |

## Rationale
This is a very

[2020-10-27 14:17] ranjeshj commented on #3448
If there are specific scenarios that are crashing unexpectedly, I think it makes sense to fix those. I think we discussed the scenarios in length in these two PRs.
https://github.com/microsoft/microsoft-ui-xaml/pull/1389
https://github.com/microsoft/microsoft-ui-xaml/pull/1358

Closing this bug for now. Please feel free to re-open if there is a specific scenario that is painful.

[2020-10-27 14:23] ranjeshj commented on #2623
StackLayout is stateless, so it can be shared, however I think there is an expectation that everything is on the same UI thread. @MikeHillberg @Austin-Lamb @jevansaks do we need to be able to work cross thread in the multiple window scenario ?

[2020-10-27 14:26] ranjeshj commented on #1923
Thanks for verifying @chingucoding. Closing this issue.

[2020-10-27 14:26] #1923 closed

[2020-10-27 14:28] ranjeshj commented on #1853
Tracked via[ internal bug ](https://microsoft.visualstudio.com/OS/_workitems/edit/24650137)on narrator

[2020-10-27 14:35] ranjeshj commented on #2951
@chingucoding lets give the same treatment for automation name in the mean time (and open a separate issue to track TextBoxAutomationPeer to understand the templated parent scenario).

[2020-10-27 14:36] mdtauk commented on #3478
I know you worked on the Numberbox Flyout buttons, to try to stop them "disappearing" into the backgrounds

[2020-10-27 14:38] chingucoding commented on #3490
It seems that something strange is going on with the templatebinding, according to the live property view, templatebinding to `CharacterSpacing` does not result in a binding for some reason.

Using the following binding `CharacterSpacing="{Binding Path=CharacterSpacing,RelativeSource={RelativeSource TemplatedParent},Mode=OneWay}"` I get the following strange behavior:

![gif](https://user-images.g

[2020-10-27 14:41] chingucoding commented on #2951
@ranjesh Just to be sure, so should we apply to the same header handling logic to numberbox or should we just pass the `AutomationProperties.Name` value to the textbox?

[2020-10-27 14:47] BrayanKhosravian commented on #3490
That is interesting.
I just wonder why it works for the textbox as there is clearly no binding for CharacterSpacing visible in the resources files.

[2020-10-27 14:49] ranjeshj commented on #434
The only other way I can think of is by setting ItemTemplate and ItemsSource to null, which I think will end up removing everything (based on the code [here](https://github.com/microsoft/microsoft-ui-xaml/blob/607b6de45ac355b4bf7d1db102c35430d3da54e9/dev/Repeater/ViewManager.cpp#L144))

[2020-10-27 14:53] mdtauk commented on #3490
That could just be inheritance, that is implicit.  Without access to the Button or TextBox code, its hard to know for sure.  Guess that will be when the WinUI 3.0 code drops.

[2020-10-27 14:57] BrayanKhosravian commented on #3490
I think the characterspacing for the button should be implemented the same way as it is for the textbox and textblock

[2020-10-27 14:58] ranjeshj commented on #2951
Do we have the header handling logic in WinUI already ? If so, lets match that pattern. I was thinking we can lookup the automationproperties.name and use if if it is valid, if not fallback to the header.

[2020-10-27 14:58] FrayxRulez commented on #2623
I think that this is what developers would expect. At least the fact that this scenario isn't supported isn't clear at all and I had to debug WinUI directly to find out.

[2020-10-27 15:05] chingucoding commented on #2951
I think we have a helper for this that get's us the appropriate UIA name depending on the properties set. Though this would require us to listen to changes on the `AutomationProperties.Name` property so we can update the textboxes UIA name accordingly.

[2020-10-27 15:08] chingucoding commented on #434
Yes, setting the itemtemplate or itemssource to null doesn't sound like a good way to handle this. Would this new API require us to have a new method on ElementFactory to "clear" the element? After all, a RecyclePool or ElementFactory could do some stuff behind the scenes that would expect it to get every element back, e.g. when all templates in an array. Detaching the elements without telling the

[2020-10-27 16:08] jevansaks commented on #2623
StackLayout is a DependencyObject, and DependencyObject is fundamentally affinized with the thread it was created on. I think there's a world where we could make "Agile" DOs that can be shared across threads, but that would require quite a bit of work we haven't planned. 😐

Is there a way for us to provide a better error so you don't need to debug into our code, perhaps?

[2020-10-27 16:21] scout208 commented on #1780
@michael-hawker Yeah, that's what I started with and that one doesn't work.

[2020-10-27 16:31] michael-hawker commented on #741
@alwu-msft is this in any of the WinUI 3 previews yet? Or will it be part of Preview 3?

[2020-10-27 16:57] vednig commented on #3364
👍

[2020-10-27 17:48] ejserna commented on #3491
@ranjeshj yes, this is an issue in the test infrastructure, in ````FindElement.cs````.

[2020-10-27 18:15] chrisglein commented on #3477
The way this looks is going to be different depending on language. In C# it'd be a genericized method like you've called out. In C++ there'd probably be a templated header you can pull in. But there wouldn't be a single language-independent way of filling this in. Which is fine... it's still useful! It just means we need a place to plug in helpers like this that improve the experience on different

[2020-10-27 18:36] chrisglein commented on #3409
This sort of scenario definitely works in plain UWP against the `Page` type. This may be something specific to the WinUI3 `Window` type where it doesn't set up the binding context the same way that Page does. I'll follow up.

As general rule it's worth trying out `{x:Bind}` where you can. It's a bit more sensitive to the types of the objects involved so I find you can get clearer errors.

[2020-10-27 19:06] alwu-msft commented on #741
@michael-hawker It will be part of Preview 3.

[2020-10-27 19:23] marb2000 commented on #3409
@zed220 Are you assigning the ViewModel to the XAML's Window object? XAML's Window isn't a DependencyObject and doesn't have DataContext.

[2020-10-27 19:57] robloo commented on #3485
The inheriting issue might be a broader problem. I discovered a bug over the weekend and it really doesn't work at all. Will file an issue right now.

[2020-10-27 20:03] robloo opened #3502 "Bug: Unable to Inherit from MUX WinUI 2.x Controls in C#"
**Describe the bug**

Unable to create new controls inheriting from a MUX WinUI 2.x base control. The control template will never be applied.

**Steps to reproduce the bug**

Using the attached repro project:

 1. Using the WUX namespace set a breakpoint on `base.OnApplyTemplate()`. When code is run the breakpoint should be hit:
     ![image](https://user-images.githubusercontent.com/17993847/9735

[2020-10-27 20:14] robloo commented on #3420
Changing these input boxes to NumberBox was always the plan:

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-500140203
https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-500618794

[2020-10-27 20:18] arjunbalgovind opened #3503 "Keyboard focus is lost on tab navigating into ComboBox with no selection"
**Describe the bug**

If you tab to a ComboBox which doesn't have a selection and you press Enter, the keyboard focus is lost and requires you to press down arrow key in order to get focus on the first element.

This causes another issue if you have many items in the ComboBox (more than the MaxDropDownHeight), then when you open the ComboBox the middle of the ComboBox item list is visible rather t

[2020-10-27 20:34] robloo commented on #3502
Seems I missed a bug report as well: #3499

[2020-10-27 20:38] robloo commented on #3499
Since I can see my Bug report #3502 getting closed as duplicate :) I'm duplicating my report for a similar issue below:

----------------------------------------------

**Describe the bug**

Unable to create new controls inheriting from a MUX WinUI 2.x base control. The control template will never be applied.

**Steps to reproduce the bug**

Using the attached repro project below:

[InheritTest.zi

[2020-10-27 20:39] robloo commented on #3485
Also see #3499

[2020-10-27 22:07] shaheedmalik commented on #3503
Does this happen on the Touch Keyboard?

[2020-10-27 22:41] arjunbalgovind commented on #3503
I have not tried it with the Touch keyboard, but it happens on normal physical keyboards as well as the On-Screen keyboard. I added the use of On-Screen keyboard in the gif so that the repro steps are clear.

[2020-10-27 23:12] ranjeshj commented on #3499
This looks like WinUI3 vs the other issue is in WinUI2.x

[2020-10-27 23:19] ranjeshj commented on #3495
@zhuxb711  Could you please provide a repro app/instructions if you can ? Hard to say from the callstack what might be going wrong here.

[2020-10-27 23:21] ranjeshj commented on #3494
This seems to be specific to being inside an island. I can see that Xaml Controls Gallery works as expected.

[2020-10-27 23:22] ranjeshj commented on #3486
Yes. That was the request. Thanks

[2020-10-27 23:34] WashingtonARamos commented on #3486
@ranjeshj updating Microsoft.UI.XAML to version `2.5.0-prerelease.200923002` (current latest) did not solve the issue. I also tried updating all Microsoft.Toolkit.* packages to the latest `7.0.0-preview3` version and it didn't help either.

[2020-10-27 23:40] ranjeshj commented on #3467
This seems to be a bug in RangeBase code. When the value property changes, RangeBase is assuming the peer is a RangeBaseAutomationPeer and casting to it instead of checking if it is indeed a rangebaseautomationpeer.

[2020-10-27 23:42] chingucoding commented on #3467
Hmm, guess this will have to wait until WinUI 3 then. At least it's in the backlog now, so people experiencing such a crash can find a workaround.

[2020-10-27 23:44] robloo commented on #3493
LayoutTransform really needs to be in the framework itself like RenderTransform. What was done in the WCT to create a separate control is only a work-around.

[2020-10-28 00:27] stevenbrix commented on #3499
While these are similar, I agree with @ranjeshj that they are most likely different.

This particular issue, which is a WinUI3 one, seems like a dupe of https://github.com/microsoft/CsWinRT/issues/345

[2020-10-28 02:08] zhuxb711 commented on #3495
@ranjeshj @chingucoding I believe this question is similar to issue #2303, the issue is not really solved.

[2020-10-28 04:34] YuliKl opened #3505 "Narrator fails to read the name for all the editable number boxes in "Number Box" page."
**Steps to reproduce the bug**

Pre-requisite:
- Turn on Narrator.

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery.
2. Activate "number box" from home page.
3. Navigate to all the editable number boxes in the page.
4. Observe narrator's description for the same.

**Expected behavior**

Narrator should read unique name, role for the all the respective number boxes.

**Screenshots*

[2020-10-28 04:35] YuliKl commented on #3505
@SavoySchuler , there was a question for you in the original issue:
What is the expected behavior here ? When Narrator lands on the NumberBox it does not read anything. However, there are two more stops, one for the header and another for the TextBox where the expression is present and they are read out. Should NumberBox have a default automation name if one is not provided ? I think providing an

[2020-10-28 05:03] YuliKl opened #3506 "Touch +Narrator: Narrator is announcing incorrect group name for popup window on navigate to close button"
**Describe the bug**

The New flyout is opening in its own window. The flyout traps focus, the rest of the window is an implied close button to enable light dismiss.
![image](https://user-images.githubusercontent.com/13142665/97392835-03a65b00-18a0-11eb-96da-3da39d48cd7d.png)

**Steps to reproduce the bug**

Pre-requisite:
- Turn on Narrator on a touch screen

Steps to reproduce the behavior:
1. O

[2020-10-28 05:29] YuliKl opened #3507 "When an unselected tab is dragged, narrator does not read the Name and Index of the Tab."
**Describe the bug**

**Steps to reproduce the bug**
Pre-requisite:
- Turn on Narrator.
- Set Narrator in Item Mode.

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery application.
2. Navigate to "All Controls" button and activate it.
3. Navigate to "TabView" and activate it.
4. create at least 3-4 tabs.
5. Navigate to any unselected tab(**Do Not activate this tab item**).
6. Drag t

[2020-10-28 05:30] YuliKl commented on #3507
Suggestion in the original issue:
For that to happen, you have to appropriately raise PropertyChanged events for structural properties (PositionInSet, for instance) as they change. Right now, tab items in XAML do not.

[2020-10-28 05:30] robloo commented on #3505
Another duplicate of #2951 I believe.

[2020-10-28 07:34] AlexZhangrj opened #3508 "Proposal: I suggest there should be a property to set the Header to left side in TabView"
'm doing something using UWP TabView. I want to let the Headers be on the left side of the TabView Controller. I found there is a way to do this in WPF, while we can use TabStripPlacement="Left" and use LayoutTransform in DataTemplate.
That's a perfect way to show my design.
But there is no TabStripPlacement property in UWP.
So, I suggest we should add a property in TabView.

[2020-10-28 08:48] chingucoding commented on #3495
Without a repro project or instructions this is really hard to debug, the stacktrace is not really similar to the one in #2303 .

[2020-10-28 08:51] chingucoding commented on #3505
This is not exactly the same as #2951 as textbox controls also provide a UIA name even if AutomationProperties.Nam is not set (e.g. by taking the header into account). This might be related to or a duplicate of #1853 .

[2020-10-28 08:53] zed220 commented on #3409
Hello,

Yes, right. In WPF I use the Window's DataContext property to set the root view model (MVVM). So, in WinUI I will place some container in Window's content and use it as a root object with the DataContext.
Thanks

[2020-10-28 09:40] Felix-Dev commented on #3508
@AlexZhangrj Does proposal https://github.com/microsoft/microsoft-ui-xaml/issues/2194 cover your suggestion (if not, it's probably better to add your suggestion there so we can use one issue to track these placement requests and close this one as a duplicate).

[2020-10-28 12:30] FrayxRulez commented on #2623
That would help. Currently a generic XamlParseException is raised.

[2020-10-28 13:07] BorzillaR opened #3509 "Exception on XamlDirect.CreateInstance call"
**Describe the bug**

Hello!

When I try to create an IXamlDirectObject the following exception throws.

![image](https://user-images.githubusercontent.com/23479280/97439507-4bc48c80-1937-11eb-9215-fa57fe84efa4.png)

**Version Info**

Windows 10 1903 (OS Build 18362.1082)

**NuGet package version:**

WinUI 3.0.0-preview2.200713.0

**Windows app type:**

| UWP              | Win32            |
| :-

[2020-10-28 15:04] mysteryx93 opened #3510 "Question: Can WinUI Use Processes and Files?"
I just read about WinUI. I was wondering whether it can replace WPF. The main issue with UWP is that it can't start processes, access the file system, access Win API, and is thus useless for many types of Windows applications.

Can WinUI start processes and access the file system, or does it have the same restrictions as UWP?

[2020-10-28 15:06] chingucoding commented on #3510
WinUI desktop projects are Win32 projects exactly like WPF and Winforms, so a WinUI 3 Desktop app can start processes and access all files. WinUI 3 UWP projects will still be limited to the features of the UWP container, e.g. not starting a process or only accessing certain files.

[2020-10-28 18:31] chingucoding commented on #3507
Hmm, what currently get's announced is certainly not ideal (something along the lines of "Dropped [item name 1] between [item name 2] and [item name 3]"). The issue however with PropertyChanged is issue #3469 which seems to be an issue with narrator. Would just implementing the property changed be fine, even if narrator currently does not properly handle that? If so, I would be more than happy to

[2020-10-28 19:05] chingucoding commented on #3491
I would like to look into this.

[2020-10-28 20:38] chingucoding commented on #3491
It seems that this is not an issue with the test infra, but rather the underlying framework/library that provides us with the `UIObject` objects. In the scenario described by @ejserna , the list of descendants seems to be infinite, at some point it keeps containing the same element over and over again. So the only efficient solution I can think of is save the previous element and break the for loo

[2020-10-28 20:38] joshkoon opened #3513 "TeachingTip buttons do not expand when content is wider than 50% of the teaching tip width"
**Describe the bug**

TeachingTip buttons do not expand when content is wider than 50% of the teaching tip width.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a teaching tip to a button
2. Set the ActionButtonContent to a long string

**Expected behavior**
Button should expand to hold the specified content. Workaround is to set the content to a text block that wraps.

*

[2020-10-28 23:08] StephenLPeters commented on #3513
I think that this is by design. @SavoySchuler Can you confirm?  The design is that the close and action buttons take up 50% (minus some padding) of the width of the teaching tip. We should probably make the content wrap though.

[2020-10-28 23:09] StephenLPeters commented on #3513
@joshkoon are you asking for the button width to expand past the 50% mark or its height to expand to fit the content?

[2020-10-28 23:12] StephenLPeters commented on #3510
@chingucoding is correct. With winui3 you can use desktop apps to access this functionality.  UWP apps will still not be able to do these things.

[2020-10-28 23:12] #3510 closed

[2020-10-28 23:15] StephenLPeters commented on #3509
@jevansaks I don't know very much about Xaml Direct. I don't know if it is in the Winui 3 radar at all. Can you shed light on what this issue might be or suggest who would be able to?

[2020-10-28 23:25] StephenLPeters commented on #3507
looking at the internal narrator issue, I think #3469 is specific to numberbox's template setup. I don't think tab view would it that. However if we can't get this working, we shouldn't check in code we cant test.  I'm a bit confused what is going on here though, tabview is just a list view, why is the selected item drag drop different from other items.

[2020-10-28 23:30] #3499 closed

[2020-10-28 23:31] jevansaks commented on #3509
@jonthysell was driving this. @MikeHillberg  can probably help though. It's less relevant with WinUI 3 because we're taking the opportunity to flatten the ABI so the vtable/vfptr explosion is contained -- but XAML Direct still allows you to construct objects without immediately faulting in the XAML "peer" objects, so it still can be useful.

[2020-10-28 23:34] stmoy commented on #3508
This is duplicate of #2194.

[2020-10-28 23:34] #3508 closed

[2020-10-28 23:55] ejserna commented on #3491
@chingucoding I think that's a good workaround.

[2020-10-29 00:08] MikeHillberg commented on #3509
We'll need to debug, it might be fixed in the upcoming preview; a lot of the c# projection has been updated.

[2020-10-29 01:52] DHowett commented on #3351
[Terminal](https://github.com/microsoft/terminal) is in an unfortunate position here. It needs many of the NavigationView fixes in later 2.5 prereleases, but can't move beyond the 2.5 June preview because of this crash. It's pretty much a full blocker on forward progress. :)

[2020-10-29 03:14] TheConfax commented on #1495
@james28909 it works! Thank you so much 👍🏻

[2020-10-29 03:19] zhuxb711 opened #3515 "The PrimaryCommand of CommandBarFlyout closes faster than the SecondardCommand"
**Describe the bug**
![GIF 2020-10-29 11-13-49](https://user-images.githubusercontent.com/42038175/97521280-35224200-19d8-11eb-9281-e747ef5b0cf8.gif)

**Expected behavior**
Close animation should be same as SecondaryCommand

**Version Info**
2.5.0-prerelease.201027002

NuGet package version:

[Microsoft.UI.Xaml.2.5.0-prerelease.201027002]

Windows app type:
| UWP              | Win32            |

[2020-10-29 04:33] robloo commented on #2683
In the WIP Windows community toolkit's ColorPickerButton I worked around this by only re-rendering every N milliseconds using a timer.

[2020-10-29 06:26] jeganrajm commented on #3499
@StephenLPeters  @stevenbrix  I can't see solution for this issue in [microsoft/CsWinRT#345](https://github.com/microsoft/CsWinRT/issues/345) (Closed) or am i missing?

[2020-10-29 06:34] StephenLPeters commented on #3499
It should be Fixed with CsWinRT1.0.1 which is included in Winui3 preview 3. so the issue should be resolved by upgrading to that when it becomes available.

[2020-10-29 09:08] zhuxb711 commented on #3495
Another stacktrace message:

0	ucrtbase.dll	abort	0x000000000000004E
1	ucrtbase.dll	_purecall	0x000000000000002D
2	ucrtbase.dll	__crt_state_management::wrapped_invoke_int (__cdecl*)	0x0000000000000018
3	Windows.UI.Xaml.dll	ctl::WeakReferenceSourceNoThreadId::CreateTrackerHandle	0x0000000000000025
4	Microsoft.UI.Xaml.dll	ITrackerHandleManager::NewTrackerHandle	0x0000000000000015
5	Microsoft.UI.Xaml

[2020-10-29 09:52] VigneshRameshh opened #3517 "ItemsControl not get updated while dynamically adding or removing items in its itemsource collection."
**Describe the bug**
I have a simple ItemsControl and bind the string ObservableCollection to its ItemsSource. If I change the collection dynamically, then the ItemsControl not get refreshed/updated.

**Steps to reproduce the bug**
1.Run the sample [WinUITest.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5457413/WinUITest.zip)
2.Click Add/Remove button
3.You can see, the ItemsControl n

[2020-10-29 10:02] danwalmsley commented on #1829
@chingucoding does some of your PRs fixing issues with items repeater / layouts fix this?

[2020-10-29 10:54] chingucoding commented on #1829
@danwalmsley I'm afraid not, the issue still persists even with the latest changes made to ItemsRepeater.

@ranjeshj I can take my shot on this if that's fine.

[2020-10-29 11:23] FrayxRulez opened #3518 "Proposal: RichTextBlock TextPointers should be available after Measure."
Right now `TextPointer.GetCharacterRect(LogicalDirection)` returns correct values only after the parent `RichTextBlock` has been arranged, and this is a problem for complex layouts.

I have a scenario where there are a `RichTextBlock` and a control within a custom `Panel`.
The `RichTextBlock` is supposed to wrap around the other control that aligned bottom-right, as in the following screenshot:
![

[2020-10-29 16:06] joshkoon commented on #3513
@StephenLPeters it seems like a bug that if there is only one button, it is still limited to 50% width. I also agree that the content should wrap by default. As it is today, it's easy to end up with clipped UI due to localization or text scaling.

[2020-10-29 17:43] jkw commented on #716
Got this issue in Windows 10 Pro Insider Preview Build 20226.rs_prerelease.200925-1415. Shout if I can post any more useful info.

From logbook (Swedish):
[code]

[2020-10-29 17:53] chingucoding commented on #3507
Hmm that's a good point. I've tried adding the code below in the OnItemsChanged of the TabView (since these drag/drop operations are implemented as remove item, then readd item). Narrator didn't seem to pick that up.

[code]

Could it be that the selected item works correctly as it changes the selection and thus should announce the changed selection?

[2020-10-29 19:47] kat-y commented on #3279
I've added initial info to [the Expander spec](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kat-y/expander/active/Expander/Expander.md) and [opened a PR ](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/100)- please feel free to continue spec discussion there! It's PR 100 on the spec repo 😄

[2020-10-29 20:19] #3449 closed

[2020-10-29 22:03] crutkas opened #3521 "Tooltip not respecting a on-mouse hover for accessibility"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to tooltip
2. hover so it becomes visible
3. move mouse on it

**Expected behavior**

according to https://w3c.github.io/wcag21/understanding/content-on-hover-or-focus.html 2nd bullet, it is supposed to not be dismissed

This was flagged in PowerToy's accessibility pass.  https://github.com/microsoft/Power

[2020-10-29 23:20] ranjeshj commented on #3521
This is a known accessibility bug tracked internally [here](https://microsoft.visualstudio.com/OS/_workitems/edit/24000491).

[2020-10-29 23:25] ranjeshj commented on #3515
@zhuxb711 good find. It looks like the animations on the primary and secondary are not the same.

[2020-10-29 23:41] YuliKl opened #3522 "NavigationView's pane sometimes traps Narrator focus when closed, preventing user from navigating to content"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. With Narrator running, launch Xaml Controls Gallery app
2. Navigate to NavigationView sample page
3. Press Space to open the pane of the first sample
4. Press Escape to close the pane
5. Using Items navigation, attempt to move Narrator focus to “Sample Page 1” content

**Expected behavior**

Narrator users ar

[2020-10-30 00:09] YuliKl opened #3523 "Unable to close editable combobox for the 1st time & for second time on trying to close narrator focus moves to 1st list item."
**Describe the bug**

**Steps to reproduce the bug**

Pre-requisites:
- On a touchscreen device, launch Narrator

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery.
2. Activate Combo-box from All Controls Page
3. With item navigation (touch gesture swipe right) bring narrator focus to combo edit text box present under the header "An Editable Combo Box".
4. Double tap to activate it.

[2020-10-30 00:13] crutkas opened #3524 "Links to MS Settings displays "Applications" in XAML Islands v1"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Have hyperlink to settings
2. click settings
3. dialog comes up with 'applications' but no where is the title set to that.

Tried the WPF and Native XAML implementations.  Both affected, see screenshots

**Expected behavior**
Says application's title.  Preferable the set by the parent application.

PowerToys

[2020-10-30 02:20] zhuxb711 commented on #3515
Just default.

Here is an example:
[code]

[2020-10-30 03:28] YuliKl opened #3525 "CalendarView: Tooltip is not provided for "Next" and "Previous" month buttons."
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open Xaml Controls Gallery and navigation to CalendarView page
2. Navigate to Previous, Next buttons
3. Observe the issue.

**Expected behavior**

Tooltip should be provided for "Next" and "Previous" month buttons.

**Screenshots**

![image](https://user-images.githubusercontent.com/13142665/97656599-0bdbd300

[2020-10-30 03:41] YuliKl opened #3526 "TeachingTip: Toggle theme now button text is not completely visible in 200% text scaling mode."
**Describe the bug**

**Steps to reproduce the bug**

Pre-requisite:
- Change the system resolution to 1280 * 768.
- Open Ease of Access settings and change the text Scaling to 200% (Ease of Access settings -> Display -> Make Text Bigger -> Change the slider to 200% -> Apply).

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery.
2. Activate Teaching Tip from All Controls page.
3. Act

[2020-10-30 03:56] YuliKl opened #3527 "TabView: Forward tab button is clipped in 200% text scaling mode."
**Describe the bug**

**Steps to reproduce the bug**

Pre-requisite:
- Settings--> Ease of Access-->Display-->Drag the Display slider  to  200%-->Apply
- Screen Resolution Should be "1280*768"

Steps to reproduce the behavior:
1. Launch XAML Control Gallery app.
2. Navigate to TabView button and activate it.
3. Navigate to TabStripHeader and TabStripFooter content region->add some more tabs so for

[2020-10-30 05:01] YuliKl opened #3528 "TabView: Unable to perform drag operation on Tab items using touch Narrator"
**Describe the bug**

**Steps to reproduce the bug**

Pre-requisite:
- Turn on Narrator.
- Set Narrator in Item Mode.
- Touch supported monitor required.

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery application.
2. Navigate to "All Controls" button and activate it.
3. Navigate to "TabView" and activate it.
4. create at least 3-4 tabs.
5. Navigate to any tab and double tap to a