[2020-02-07 19:56] ToddThomson commented on #1861
@YuliKl I'm not sure if anyone would be interested, but here is what my solution was:

1. SplitPaneView Control. Like the SplitView/TwoPaneView, but with:
- Vertical and Horizontal orientation for the split.
- The 2 content Panes can be ordered Pane1 - Pane2 or Reversed Pane2 - Pane1
- The Panes have settable Lengths
2. ToolbarNavView Control. Uses the SplitPaneView with a customized ListView base

[2020-02-07 20:01] ryandemopoulos commented on #1842
_(pasting this from the Discord conversation we had, so others can see it)_

Thanks for highlighting this Sergio.  This issue is a reasonable request, and I appreciate how you scoped it too.  What I don't know is when we'd be able to do this--the team is largely focused on 3 areas right now:

1) De-coupling WinUI 3 from the OS (largest use of our resources)
2) Getting us ready to go open source (a

[2020-02-07 20:19] ToddThomson commented on #1861
<img width="440" alt="SplitPaneView" src="https://user-images.githubusercontent.com/918658/74062827-01b00b00-49a4-11ea-9c2d-e05d4c67c08d.png">

[2020-02-07 21:30] BreeceW opened #1953 "Discussion: Improvements to border rendering"
# Discussion: Borders and lines in XAML occasionally blurred
![Border](https://user-images.githubusercontent.com/18747724/74065474-00daa180-49c3-11ea-8fe5-7b7ca18fb019.png)
Above is a screenshot of the XAML Controls Gallery app showing off the newly introduced rounded corner default styles on a TextBox. Given for comparison below is a similarly styled HTML input rendered in the new Chromium-based

[2020-02-07 21:46] jsidewhite commented on #1939
It was fixed in build 18967, so that won't make it to the November 2019 Update (which is build 18363), sadly.

There's no plan, currently, to service the fix to builds predating 18967, because we had no customer data suggesting people were impacted at the time the fix was made - however - I've forwarded your request to our servicing lead.  Will update.p  Fwiw, I'm adding a test to prevent toast-ac

[2020-02-07 21:55] michael-hawker commented on #1952
This would be invaluable for the Windows Community Toolkit.  We plan to port over to WinUI 3, so if we could easily ensure that the majority of our controls could work in both landscapes, that'd be a huge win for everyone.

I honestly was just kind of expecting this to be the case and work for anything built on-top of WinUI 3; so glad it's being called out specifically as it'd be good to know the

[2020-02-07 22:31] robloo commented on #1953
This discussion might be related:
https://github.com/microsoft/microsoft-ui-xaml/pull/1894#issuecomment-579859700

[2020-02-07 22:45] chingucoding commented on #1672
The next question then would be where exactly one should get this information from? There is no such thing as "Current Columns/Rows" property. The Colunm/Rowdefinition is, as far as I know, the only way we have access to that information.

So having to deal with the list of columns/rows is easier than just changing a property of one entry?

[2020-02-07 22:50] logikonline commented on #138
Heads up = I keep testing this on every release and pre-release and it is still crashing.
On 2.2.1908300001 - it crashes with this response:
Failed to assign to property 'Windows.UI.Xaml.Controls.ContentPresenter.Content'. [Line: 12611 Position: 49]

On 2.3.1912110002 - it crashes with this one:
Failed to assign to property 'Windows.UI.Xaml.Controls.ContentPresenter.Content'. [Line: 13237 Position

[2020-02-07 23:32] ranjeshj commented on #138
@licanhua can you provide the repro app you used ? Also, NavigationView has gone through a complete refactor, so I would be curious to see if this still repro's in latest preview pacakge.

[2020-02-07 23:44] logikonline commented on #138
I did try the latest pre-release and it is still failing.  I cannot provide my production app (although I would screenshare so you can see it) but I can provide the specific error number for that version.

[2020-02-07 23:51] logikonline commented on #138
Failed to assign to property 'Windows.UI.Xaml.Controls.ContentPresenter.Content'. [Line: 13428 Position: 49]

this is for : 2.4.0-prerelease.200203002

[2020-02-08 00:04] logikonline commented on #138
If you review the message thread, licanhua did reproduce it too.  I was delayed in testing this because of a bug with the IDE which prevented developers from compiling the apps with the new target of 1903 which this library requires.  Thus I got blocked from confirming if this was working - you can see that message thread [here ](https://developercommunity.visualstudio.com/content/problem/544057/u

[2020-02-08 00:47] ItzLevvie commented on #995
The hover light issue seems to have been fixed in latest Insider builds :)

cc @duke7553 you may want to check it out as well as other places of the OS.

[2020-02-08 02:16] #1939 closed

[2020-02-08 02:42] harvinders opened #1954 "Is ItemsRepeater leaky"
**Describe the bug**
@ranjeshj
When navigating away from a page containing `ItemsRepeater`, `ItemsRepeater` does not release the all the Item views.

**Steps to reproduce the bug**
Please get the repo app from [here](https://github.com/harvinders/ItemsRepeaterAnimationApp)

Steps to reproduce the behavior:
1. Click on a image, it takes you to next page
2. Click back button
3. Repeat [1] and [2] mu

[2020-02-08 02:48] michael-hawker commented on #1487
Just realized re-searching for my own issue that this seems to be closely related to #911 as well, which is very similar.  Maybe this should be combined with that one?

[2020-02-08 04:01] ranjeshj commented on #1954
@harvinders I think the issue is garbage collection is not kicking in and cleaning up yet. Try adding a destructor on MainPage and see if it is getting hit. It will not get hit every time you navigate back and forth. At some point (when gc runs) it will get hit and everything will get cleaned up.

Alternatively you can try forcing a gc by running gc.collect() in your code to see things getting cle

[2020-02-08 04:28] harvinders commented on #1954
@ranjeshj I added following code on the DetailPage (The page I navigate to) and still see the count keep on increasing.

[code]

[2020-02-08 05:15] ranjeshj commented on #1906
@havinders  If I change the data template to the following, the order looks correct when going full screen.
<Button Content="{x:Bind Name}" Width="100" Height="100"/>

which gave me the impression that there is something wrong with the ViewModel's binding.

On looking closer, your StoryView should be implementing INotifyPropertyChanged and when ViewModel is changing, it should raise PropertyChange

[2020-02-08 06:09] harvinders commented on #1906
Yes, this seems to work. I am going to spend some time understanding your logic here, I have never seen  `PropertyChanged`  raised for `ViewModel` from a `View` before. Is it because of recycling in `ItemsRepeater`. Would I have to do same changes if it was a GridView or ListView? Apologies @ranjeshj, If I am asking stupid questions.

However this did not help with #1954.

[2020-02-08 06:11] Poopooracoocoo commented on #995
@ItzLevvie holy cow that took forever. More than a year and it's something so prominent.

[2020-02-08 08:41] Gavin-Williams commented on #1952
What do you mean here with Win32? Do you mean .Net Standard, .Net Core or C++/Win32 (legacy C style app)?

There shouldn't be an app platform that isn't universal. So really, Win32 should be removed from Windows and UWP/WinRT app model should be extended to run both in the UWP container and as an unrestricted application. That would be the best way to universalize WinUI, do we really want to keep

[2020-02-08 09:02] soumyamahunt commented on #1451
Any parent except **MenuFlyout** produces the issue, also the keyboard accelerator text isn't shown. Alternatively I use a custom style of **AppBarButton** with label on right which gives similar effect to **MenuFlyoutItem**:
`<Style x:Key="CustomAppBarButtonLabelToRightStyle" TargetType="AppBarButton">
        <Setter Property="Background" Value="{ThemeResource AppBarButtonRevealBackground}"/>

[2020-02-08 09:19] soumyamahunt commented on #1451
Any parent except **MenuFlyout** will produce the same issue, also the keyboard accelerator text isn't shown. I use a custom **AppBarButton** style with label on right to give same effects as **MenuFlyoutItem**:

[code]

[2020-02-08 11:41] Felix-Dev commented on #1939
@jsidewhite Thank you for your reply and for passing on my request :)

In the meantime, I will likely use COM Activation then as the working alternative.

[2020-02-08 12:09] ranjeshj commented on #1906
The behavior should be the same for ListView/GridView. The problem is that ViewModel property gets assigned by the x:Bind on StoryView, however that does not trigger the binding in StoryView to re-evaluate because the property is not INPC. There is a mainpage.g.cs file that is generated by the markup compiler in the output folder where you can see the hookup (you can set breakpoints there to see i

[2020-02-08 12:12] #1906 closed

[2020-02-08 12:58] Felix-Dev opened #1955 "Proposal: Add a Windows Runtime event apps can listen to to be notified of notification setting changes."
## Summary
Windows 10 native toast notification settings can be changed by the user in the Windows Settings app (i.e. which app is allowed to send notifications). Apps cannot programmatically change this setting. There are still cases though where an app is interested in tracking the current state of notification permissions granted by the user to this app. Currently, the Windows Runtime only prov

[2020-02-08 20:33] YuliKl commented on #995
@Poopooracoocoo unfortunately making changes to to operating system components just isn't a quick process. There's inherent complexity to an OS that Store-updatable apps aren't burdened with.

Sounds like this is resolved so closing the issue.

[2020-02-08 20:33] #995 closed

[2020-02-08 20:35] YuliKl commented on #1487
@michael-hawker agreed. I'll close this issue for now.

[2020-02-08 20:35] #1487 closed

[2020-02-08 20:36] YuliKl commented on #911
Making a note to also consider #1487 when designing this feature.

[2020-02-08 20:37] clarkezone commented on #1323
Sorry for the delay in replying.  AppWindow remains the forward looking strategy as witnessed by the fact it’s the primary way native windowing works on 10X but we are certainly behind where we wanted to be advancing it beyond v1 since the 10X project has taken all our dev cycles.  We will hopefully have an update to share in the build timeframe.

[2020-02-08 21:18] Felix-Dev commented on #1323
@clarkezone Thanks for the reply. Yeah, would be nice if you guys will be able to share an updated roadmap about AppWindow in a few months then with us.

[2020-02-08 21:25] chingucoding commented on #1206
Thanks @chrisglein for your input! In some simple cases, this formatter solution might be enough.

The idea of this component came from the XAML Controls Gallery, where this already is a custom component. The main advantage I see is that I can simply enable/disable substitutions or replacements.

I am not quite sure if this would be possible at all or how convenient that would be if one would try

[2020-02-08 21:59] duke7553 commented on #995
Just installed today. Happy to see this fixed @YuliKl

[2020-02-08 22:10] duke7553 commented on #1323
@clarkezone That's certainly understandable, and it's always delighting to hear those little tidbits about 10X. It sounds like a massive undertaking that all of the greatest Microsoft engineers are working on. (like yourself) You can bet I'm counting down the days until the availability of the 10X emulator!

No rush at all, because I think we all appreciate the development effort going into these

[2020-02-08 23:28] carmellolb commented on #761
Updates on this issue? Any news? Still no plans to re-add? @YuliKl @chigy

[2020-02-09 12:02] DZetko opened #1957 "FontVariants.Superscript only supports certain character"
**Describe the bug**
When using FontVariants.Superscript in Run in XAML, only some characters are superscripted. Namely, numbers and the character _n_ for example, but not other characters (_x_, _q_, _f_, ...).

**Steps to reproduce the bug**
When using this code in my XAML view file, the _x_ stays inline with the 10 (10x).
`<TextBlock>Velocity: 10<Run Typography.Variants="Superscript">x</Run></Te

[2020-02-09 12:13] Felix-Dev commented on #761
@carmellolb Last info we got was:

(https://github.com/microsoft/microsoft-ui-xaml/issues/1523#issuecomment-549564417)

So for this specific request you would have to talk to the Fluent Design team directly. This repository here, I'm afraid, is unfortunately not the right place for that.

[2020-02-09 13:12] Felix-Dev opened #1958 "Question: The State of Live Tiles on Windows"
Some of us in the [UWP Community](https://discordapp.com/channels/372137812037730304/) are getting concerned for some time now about the future of the Windows Live Tiles. We've seen multiple reports over the past months about Windows 10X and its new Start menu which is supposedly similar to app launchers we know from Android and Co. Recently, (early) images of the revamped Start menu where shared

[2020-02-09 15:14] benstevens48 opened #1959 "PointerExited event not always fired"
If I mouse over a control (so PointerEntered is fired), press, then drag outside the control, the PointerExited event does not fire in at least some cases. I didn't spend a long time testing but it definitely occurs when ManipulationStarted is triggered (and maybe even if not - I didn't test it). It would be useful if we could guarantee the PointerExited event fires. This is important because, for

[2020-02-09 16:18] Arlodotexe commented on #1958
As a **heavy** user of the tile interface (not necessarily the live part) and a UWP dev, I would also like to know if the interface is here to stay.

I think the tiled interface is one of the best things about Windows 10. It makes ALL my apps very accessible and gives them a visual hierarchy (judging importance at a glance), and does so while keeping clutter under control.

Every app I'll ever nee

[2020-02-09 18:04] lhak commented on #1323
The issue is that the AppWindow implementation has been left incomplete for a long time while the alternative (using multiple ApplicationViews) is basically broken (see bug #802).

[2020-02-09 20:36] soumyamahunt opened #1960 "Tap and key events doesn't work for TeachingTip Controls"
**Describe the bug**
For a TeachingTip control tapped events like single tapped, double tapped, right tapped and key events like key up, key down aren't invoked.

**Steps to reproduce the bug**
Simply implementing TeachingTip control in xaml produces the issue.

**Expected behavior**
These events should be invoked and their subsequent method should be executed.

**Version Info**

NuGet package ver

[2020-02-10 02:24] prayaas-a commented on #1952
@Gavin-Williams WinRT wasn't a complete rewrite. It's a subset of Win32 and depends on it. You can't "remove" Win32. Older parts of it could be deprecated, APIs replaced. Further, there are many Win32 APIs that have no convenient UWP replacement yet and need work.
WinUI 3 will allow WinForms, WPF, and MFC developers to support a modern UI. None of those platforms are "universal" and it looks like

[2020-02-10 18:00] Sergio0694 opened #1961 "Proposal: lightweight styling for NavigationView top button spacing"
# Proposal: lightweight styling for `NavigationView` top button spacing

_This issue is a follow up from a conversation we've had with some WinUI engineers and other developers over at the [UWP Community discord server](https://discord.gg/yn7a8zU), specifically the thread [starting with this message](https://discordapp.com/channels/372137812037730304/671870147354427422/676109329849647104)._

## Su

[2020-02-11 00:07] StephenLPeters commented on #1960
I think this is likely a symptom of the way teaching tip displays its content, by putting it in a popup. That being said, why do you want a click handler on your teaching tip? wouldn't it be more appropriate to but the handler on the teaching tips content (which will work).

[2020-02-11 00:22] StephenLPeters commented on #1952
@marb2000 maybe you can weigh in here?  @jesbis fyi.

[2020-02-11 00:32] StephenLPeters commented on #1946
@JohnF38 could you link to an example that you found particularly helpful? So I can pass along the format when we propose this to the team.

[2020-02-11 01:21] ojhad opened #1962 "SelectionModelChildrenRequestedEventArgs returning incorrect source index"
**Describe the bug**
The incorrect `IndexPath` is being returned when retrieving the `SourceIndex` parameter from `SelectionModelChildrenRequestedEventArgs`. It returns the `Source`'s parent's IndexPath.

**Steps to reproduce the bug**
1. Create a nested scenario within the `SelectionModel`
2. Register for the `ChildrenRequested` callback
2. Select some item that is deeper than the first level
3.

[2020-02-11 03:13] shaheedmalik commented on #1958
I hate the lack of tiles in Windows 10X.

[2020-02-11 08:13] JohnF38 commented on #1946
Hi Stephen,

Sure, easy !
You could take a look at   https://github.com/wxWidgets/wxWidgets/tree/master/samples

Those samples really made my life easier when it came to understand a particular use/feature of controls.
Furthermore, they're also valuable since providing some kind of starting point.

[2020-02-11 16:31] JustinXinLiu opened #1964 "IsTitleBarAutoPaddingEnabled of NavigationView not working on Windows 10X Emulator"
**Describe the bug**
The `IsTitleBarAutoPaddingEnabled` property of `NavigationView` is not working on the Windows 10X Emulator but working fine on desktop.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an empty app and then place a `winui:NavigationView` in it.
2. Enable custom title bar.
`CoreApplication.GetCurrentView().TitleBar.ExtendViewIntoTitleBar = true;`
2. R

[2020-02-11 17:03] adambarlow opened #1965 "WinUI 3.0 Alpha (February 2020) w/ WebView2 🚀👩‍💻🎉"
# WinUI 3.0 Alpha (February 2020) w/ WebView2
As mentioned in the recent [community call](https://github.com/microsoft/microsoft-ui-xaml/issues/1857) **we now have a WinUI 3.0 Alpha available w/ Chromium-based Microsoft Edge WebView2**!

Please note that WinUI 3.0 Alpha is a very early prerelease and has lots of known issues and missing functionality, so it isn't ready for production apps. Future

[2020-02-11 17:23] adambarlow commented on #1658
We have now released a preview of the control in [WinUI 3.0 Alpha (February 2020)](https://github.com/microsoft/microsoft-ui-xaml/issues/1965) 🚀👩‍💻🎉

[2020-02-11 17:33] abbasms opened #1966 "Narrator gives inappropriate announcement on selecting text in 'Search' edit field."
**Describe the bug**
When selecting text content in the Search box (in the navigation menu), the Narrator announces 'A document selected', instead of the text.

**Steps to reproduce the bug**

Steps to reproduce the behavior:

- Open the Xaml Controls Gallery app and the narrator.
- Type something in the Search box.
- Select the text in the Search box (Ctrl + A). (Consistently reproducible if the

[2020-02-11 19:54] weitzhandler commented on #1965
Are .NET Core 3, C#8 and there newer csproj type ready?

[2020-02-11 19:56] mdtauk commented on #1965
Is WebView2 the only change, is there a fuller changelog available somewhere?

What progress is there with Win32 runtime support with WinUI 3.0 XAML UI?

[2020-02-11 20:00] adambarlow commented on #1965
@mdtauk
The Feb 2020 alpha refresh includes all of the work since our last release in Nov. Although WebView2 is the biggest new feature, a number of other fixes have been made to increase stability and to prepare for open source. Progress was made on Win32 runtime support, however, it was not complete enough that we recommend additional self-hosting exploring of this functionality at this point in

[2020-02-11 20:04] mdtauk commented on #1965
Thank you for the reply.  Good to know things are happening.  Once the thing has been open sourced, change logs will become the norm :)

[2020-02-11 20:05] adambarlow commented on #1965
Yes, they will be very easy to produce and peruse as well!

[2020-02-11 20:08] danzil commented on #1965
@weitzhandler Support for .Net 5 and SDK-style projects is not yet ready. We're currently working on this as we speak.

[2020-02-11 20:47] #1934 closed

[2020-02-11 21:05] ranjeshj commented on #1964
@Austin-Lamb Is this a known issue with CoreApplicationView on 10X ?

[2020-02-11 21:13] ranjeshj commented on #716
@adixon501 This is a very generic crash and from the event viewer information hard to figure out if this is the same issue as this bug. Could you collect a crash dump and share it to make this actionable ?

[2020-02-11 21:18] adixon501 commented on #716
I just reset my pc. no more crash

[2020-02-11 21:19] mykebates opened #1967 "WebView2 not loading local app package file"
**Describe the bug**
Not sure if I have goofed something up in my setup or not... but I cannot seem to get WebView2 to load a file from the app package. Setting the UriSource to a web url local/remote works just fine.

But when trying to load an html file from the root of the project "/index.html" the screen stays blank and the NavigationCompleted event never fires.

**Steps to reproduce the bug**

[2020-02-11 21:26] StephenLPeters commented on #1946
Awesome, thanks @JohnF38.  I don't think we have the bandwidth to address this while we are actively working on WinUI 3.0 but this feedback will be useful once we land WinUI 3.0 and can shift focus!  If you (or anyone else) is passionate about this and built your own samples I think we would consider how we could incorporate them into our documentation.

[2020-02-11 22:04] ranjeshj commented on #1967
@adambarlow @codendone does WebView2 support URIs into the app package ?

[2020-02-12 00:23] robloo commented on #1959
PointerExited should always fire if PointerEntered did, if it doesn't that's a bug.

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.pointerexited

[2020-02-12 00:36] YuliKl commented on #1966
Based on internal discussion with Narrator team, this behavior is by design.

[2020-02-12 00:36] #1966 closed

[2020-02-12 03:49] codendone commented on #1967
WebView2 _will_ support that, but ms-appx-web:/// and ms-appx-data:/// support is not yet implemented.

[2020-02-12 06:02] ranjeshj opened #1968 "Customizing ProgressRing, Markup friendly animated visual player"
Here are the different ways one could approach customizing the ProgressRing control.
1. Changing the colors (foreground, background)
2. Updating the animation
3. Changing the template (including updating the animations)

(1) is currently achieved through exposing properties on the ProgressRing for the app developer to change/bind to. I can imagine this to be a relatively common scenario and should

[2020-02-12 07:01] hanneslarsson commented on #1531
Would love for the PermissionRequested event to be in there in an early stage as this is an important one for accessing camera and microphone in order to use WebRTC.

[2020-02-12 07:53] grokys opened #1969 "Discussion: SelectionModel and TreeViews"
# Discussion: SelectionModel and TreeViews

I notice that `SelectionModel`'s support for hierarchical data is based on a "checkbox" model where a non-leaf node is considered selected if all of its children are selected, that is:

`IsSelected(0) == null` when some but not all children are selected

[code]

`IsSelected(0) == true` when all children are selected

[code]

Note that in this example, "R

[2020-02-12 13:06] ranjeshj commented on #1969
@grokys The current implementation of TreeView in WinUI was built before ItemsRepeater/SelectionModel was available so it does not use it. TreeView's multiselection does behave to get automatic selection of non-leaf nodes. Are you thinking of a different TreeView ?

![image](https://user-images.githubusercontent.com/28935693/74337434-20702200-4d55-11ea-92d9-4859bfe77d4c.png)

[2020-02-12 13:19] grokys commented on #1969
I'm thinking of a `TreeView` like in the VS solution explorer or Window Explorer for example:

![image](https://user-images.githubusercontent.com/1775141/74338351-4bcd2e00-4da2-11ea-995b-3384f487750b.png)

Here, selecting `TeachingTip_InteractionTests` does not select the child nodes, and selecting both child nodes does not select the parent. I think this is the most common type of `TreeView`?

`S

[2020-02-12 16:39] ranjeshj commented on #1969
I see. Yes currently this is not exposed and the default is a tristate, but this seems like a reasonable thing to do. SelectionNode::IsSelected returns true/false  based on its selection and we also have SelectionNode::IsSelectedWithPartial which is what is currently used. Perhaps it just needs to be exposed though SelectionModel. SelectionChanged args will also need to differentiate between the t

[2020-02-12 16:49] MuziburRahman opened #1970 "How does Compact density work for controls other than TextBox ?"
Grid level resources don't seem to change the density of the controls other than textbox.
When I asked about it, I was given [this reply](https://github.com/microsoft/microsoft-ui-xaml/issues/1531#issuecomment-549474475) which show compact density is working. But the result I got is this:
![image](https://user-images.githubusercontent.com/21083609/74357039-7ee6e000-4de9-11ea-8375-3f24c69fa72a.png)

[2020-02-12 17:02] grokys commented on #1969
Thanks! I put together a quick hack in our Avalonia port which added a property `SelectOnlyLeafNodes` that when set to true enables the current "CheckTreeView" behavior, and when false works as a standard `TreeView` selection:

https://github.com/AvaloniaUI/Avalonia/commit/9b77a737e480bb48475c7786f90845f0be65401e
https://github.com/AvaloniaUI/Avalonia/commit/24a054137e6e08e8b572b34e3fc8163859a2fb9

[2020-02-12 17:12] ranjeshj commented on #1969
Thanks. Please keep these feedback issues coming. SelectionModel is still in preview and we can make api updates as needed. As you are already aware, most of the team is focused on WinUI3 so we won't be able to get to these until then.

[2020-02-12 17:29] #1962 closed

[2020-02-12 18:56] abbasms opened #1971 "SizeOfSet and PositionInSet are not set for a NavigationViewList in NavigationView.PaneFooter"
**Describe the bug**
The 'Accessibility Insights' tool expects the 'SizeOfSet' and 'PositionOfSet' items to be set for every item in a list. In the NavigationView, these items are set for the main list and the Pane Footer if we use the default Pane Footer with 'Settings'.

However, if we use a NavigationViewList as Pane Footer list, the values are not set for these items.

**Steps to reproduce the

[2020-02-12 20:28] soumyamahunt commented on #1960
I wanted the teaching tip to close when a user taps anywhere on it.

[2020-02-12 21:14] ranjeshj commented on #1971
@abbasms This is a scenario that we currently do not support well. There is a proposal to improve this [here](https://github.com/microsoft/microsoft-ui-xaml/issues/375). The only workaround we can think of is to set the size and position properties on the items manually. You should also not use the NavigationViewList outside of its current usage in the template. With the latest updates to Navigati

[2020-02-12 21:16] ranjeshj commented on #1970
@LucasHaines @licanhua @chrisglein  do you know what might be happening here.

[2020-02-12 21:18] chingucoding commented on #1814
@kmahone I think we can close this now, as @karenbtlai PR was merged successfully and reliability has improved (at least it seems like that)

[2020-02-12 21:18] #1814 closed

[2020-02-12 22:02] YuliKl commented on #1960
@soumyamahunt, this behavior doesn't really fit into our overall [light dismiss guidance](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/flyouts#light-dismiss-behavior) and would be unexpected for users. Typically on Windows, users expect to tap a dedicated close button or use a light dismiss gesture (e.g. tapping outside the UI panel) to dismiss the

[2020-02-12 22:02] #1960 closed

[2020-02-12 22:08] jesbis commented on #1910
Thanks everyone for the feedback! This is useful as we plan future content.

We'll be sticking with YouTube for this month again since it takes time to get other targets set up but will look into expanding to other targets like Mixer if interest continues.

[2020-02-12 22:08] #1910 closed

[2020-02-12 22:24] jesbis opened #1972 "👩‍💻📞 WinUI Community Call (Febuary 19, 2020)"
Update: thanks everyone who was able to watch live and talk with us, or watch the recording!

---

Hi all -

The next WinUI Community Call will be on Wednesday Feb 19.

We'll be broadcasting live on the Windows Developer YouTube channel again:

### https://www.youtube.com/watch?v=tasbSc3771A

## Details

Date: **Wednesday February 19**
Time: **17:00-18:00 UTC** (9:00-10:00am Pacific)

Anyone and e

[2020-02-12 22:57] abbasms commented on #1971
So in the future we can expect the NavigationView control to have improvements, which will help fix this issue?

Also this [article](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/items-repeater#is-this-the-right-control) talks about when to use ItemsRepeater vs ListView. With the ListView gone, is the expectation to switch to using ItemsRepeater (which requires custom t

[2020-02-12 23:19] ranjeshj commented on #1971
@abbasms This specific issue is tracked by the proposal I mentioned above. ListView is still available (not gone). **NavigationViewList** is a derived type of ListView specifically for usage in NavigationView. NavigationViewList is gone with the most recent refactor of NavigationView. NavigationView internally uses ItemsRepeater instead in preparation for allowing hierarchical navigation support.

[2020-02-12 23:25] Felix-Dev commented on #1919
@andrewleader

I tested out an MSIX packaged desktop app on the new Windows 10X emulator to see how badge suport is currently looking like and I'm happy to report that badges show up in both the taskbar and and the new Start menu!
![10X-shell-badge](https://user-images.githubusercontent.com/1398851/74386650-caec5180-4df6-11ea-80cf-0f8acb70ea1b.png)
and a closer look:
![10X-shell-badge-2](https://u

[2020-02-12 23:41] licanhua commented on #1970
I think it's expected.
For compact, it only applies to Controls like CombBox, TreeView, NavigationView. You can see the full list by [compact.xaml](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/dll/DensityStyles/Compact.xaml). The ones you questioned is not in the list.

For 19H1(possible RS5) or above, we implemented 'density' in OS(a smaller size than rs5-).
To support down-leve

[2020-02-13 03:13] nabilahmed739 commented on #1965
@adambarlow with WebView2 can a Progressive Web App (PWA) be installed or rather can service worker registration?
The scenario is to run a PWA application inside a WebView2 in a WPF app.
Reasons for not wrapping it in a UWP could be:

- App needs to start and communicate with third party console apps or windows services (In UWP there is a restriction for such communication within the app package)

[2020-02-13 07:25] MuziburRahman commented on #1970
Is there any plan to extend compact into other controls?

[2020-02-13 07:31] widersky commented on #1958
As long as I can remember, the tiles have always made an incredible mess of Windows for me. Maybe if MS standardized their appearance strongly, it would be better. At the moment we have different colors, different styles of application icons, different sizes of icons, there is a picture on some tiles, on others icons, some are moving, others are not. I think that sooner or later the tiles will lan

[2020-02-13 07:34] winsrp opened #1973 "Cannot start to use UI.XAML searched all over the web but cannot figure it out.. help!"
Using VS 2019 or VS2019 preview 2, making a blank C# WPF project, added nuget package on version 2.3.191211002 and added the code

[code]
to my app.xaml results in an error :

The name "XamlControlsResources" does not exist in the namespace "using;Microsoft.UI.Xaml.Controls".

No other line of code added, how can I move forward and remove this issue, this is surely something stupid that I have not

[2020-02-13 09:44] jessestr opened #1974 "Build error on adding new page in new UWP Win UI 3.0 C# project"
**Describe the bug**
Build error on adding new page in new UWP Win UI 3.0 C# project

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new C# UWP Win UI 3.0 project
2. Add a new page
3. Build

**Expected behavior**
Shouldn't give an error on adding a new page

**Screenshots**
![image](https://user-images.githubusercontent.com/55050897/74421499-6dcfba80-4e4d-11ea-8946-a7

[2020-02-13 13:52] ranjeshj commented on #1974
@jessestr Please use the Add New Page (WinUI) instead of the Add New Page item.
![image](https://user-images.githubusercontent.com/28935693/74441491-c2127480-4e24-11ea-86c0-a9fce8911338.png)

The Add New Page template adds page with the Windows.UI.Xaml namespace hence the error complaining about the base class.

@danzil Is there a way to filter the item types for a WinUI3 project so that the OS XA

[2020-02-13 14:04] jessestr commented on #1974
Thanks! Actually just tried it and the Blank Page (WinUI) wasn't an option. Had to reboot before it showed up as an option.

[2020-02-13 14:29] ranjeshj commented on #1973
@winsrp WinUI needs XAML islands to work in a WPF project which needs more steps. This will work if you create a blank UWP app. @Austin-Lamb @marb2000 can comment on usage of XAML islands if that is what you are trying to do.

[2020-02-13 14:37] winsrp commented on #1973
I was trying to setup WinUI in a WPF project for testing how controls would look but it seems I would need the XAML host controller according to my research, right?

[2020-02-13 15:13] aosyatnik opened #1975 "UWP MediaElement Stop and Start called after each other will stop video"
**Describe the bug**
I created a minimal reproducible scenario here:
https://github.com/aosyatnik/UWP_StartStopVideo_Issue

In short, when you call `Stop` and `Play` of `MediaElement` one after another, video won't be played even if you called the `Play` method.

**Steps to reproduce the bug**
1. Run application.
2. Click "Stop and start" button. It will load one of a random video among 3 availabl

[2020-02-13 15:51] tesar-tech commented on #1975
I don't think it is related to winUI. MediaElement is not part of WinUI.  (it's from `Windows.UI.XAML` namespace).

Anyway expected behavior is not correct. Because it has this timeline: Button Click  -> Video is stopped -> Video is played -> `Video_MediaOpened` is called and it will stop the video (Autoplay is set to false). That is the reason, why your workaround 1 works.

It will not stop the s

[2020-02-13 16:16] Noemata commented on #686
The WPF 3D Xaml capability was used in hundreds of internal and external facing engineering projects and is still in use.  Most of these are corporate style initiatives that have little visibility yet are very strategic.  A UWP GLTF based alternative, with Xaml like binding capability cannot come soon enough.  Having bindings for a GLTF bone structure and animations would be extremely useful/power

[2020-02-13 16:24] GeorgeS2019 commented on #686
@sohchatt @ChewWorker please update the decision to support and keep us up to date.
With Microsoft introducing Windows 10X and more emphasis on UWP, WinUI 3D control is very important.

@Noemata it is important to get more people to feedback to this topic.

The best chance to get GLTF bone structure to WinUI 3D [for desktop or VR/MR) is the MIT open source godot (rewarded recently with huge Mega-g

[2020-02-13 17:50] winsrp commented on #1973
honestly, I finally got it to work following this [steps](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands) and I can tell, I will wait for it to someday work without the 100 steps involved and not to mention the amount of errors I had to google to get this to work starting from a fresh VS install.

[2020-02-13 17:50] #1973 closed

[2020-02-13 18:25] danzil commented on #1974
There should be a way for us to make it show only WinUI Item Templates. I'll keep this issue as a bug to figure out how to do that.

[2020-02-13 21:05] #1971 closed

[2020-02-13 21:09] StephenLPeters commented on #686
@GeorgeS2019 did you mean to close this proposal?

[2020-02-13 21:10] ranjeshj commented on #1955
@jesbis Can you please route this to the appropriate team ?

[2020-02-13 21:15] mdtauk commented on #1970
I think most controls fall into the 16px, 24px, and 32px categories - with controls that default to 40px being shrunk

[2020-02-13 21:26] GeorgeS2019 commented on #686
@StephenLPeters I will reopen it. Close accidentally.

[2020-02-13 21:30] MikeHillberg commented on #1900
We've done some work to correct these events, but ran into some compatibility issues and not shipped any fix yet.

The Loaded event is raised during a layout/render tick. So if you add an element to the tree, Loaded should raise on the next tick. The Unloaded event is also async -- it also doesn't raise when you remove an element from the tree -- but in this case the notification is posted to the

[2020-02-14 04:18] Austin-Lamb commented on #1975
@aosyatnik - do you see the same with MediaPlayerElement?  MediaElement is deprecated and has been replaced with MediaPlayerElement.

[2020-02-14 04:24] Austin-Lamb commented on #1945
Hi @dpaulino!

I would recommend starting with XAML Islands and WinUI 2.x.  That way all the UI you build, all the bindings you set up, all the localization you do with x:Uid, and so on, will all translate well to WinUI 3.  To do this, you'd have a host framework like WPF or Windows Forms that you use just to basically get the window on-screen, set a title on the window, stuff like that, and the e

[2020-02-14 07:38] imthewiseguy opened #1976 "NavigationView displaymode changing and ItemInvoked call"
**Describe the bug**
when the NavigationView Display mode changes "Top" <---> Left, the selected NavigationViewItem will re-invoke causing unwanted commands to run (i.e. Page Navigation)

**Steps to reproduce the bug**

I have Visualstates to change the displaymode.
If i switch visualstates (and thus changing the displaymode) the above mentioned action occurs

**Expected behavior**
The NavigationV

[2020-02-14 07:45] imthewiseguy commented on #1976
![example](https://user-images.githubusercontent.com/25320332/74511429-d1440180-4eba-11ea-8326-cf51c156cfa2.gif)

[2020-02-14 07:58] rudyhuyn commented on #1964
This is a known problem, which is not related to NavigationView but to the title bar., `CoreApplicationViewTitleBar->IsVisible` returns False + `CoreApplicationViewTitleBar->Height` returns 0 when `ExtendViewIntoTitleBar = true`, it's currently under investigation by the team in charge.

[2020-02-14 08:09] LiangJianyi commented on #1896
Finally I found the solution. First, declare WinUI application resources in App.xaml:
[code]

Then also add the following header file.

`#include "winrt/Microsoft.UI.Xaml.XamlTypeInfo.h"`

At last, rebuild the project and it work.

[2020-02-14 08:09] #1896 closed

[2020-02-14 08:15] jp-weber commented on #1972
I have a question regarding the Windows 10X development. To develop for it I need the emulator, when will there be support for AMD processors (nested virtualization)? Can we count on the Windows 10 2003 version?

[2020-02-14 11:48] NitradoJustus commented on #369
How exactly was this fixed? Was the cursor completely removed?? How do you solve recaptchas then?

[2020-02-14 12:07] ranjeshj commented on #1976
@imthewiseguy are you using Windows.UI.Xaml.NavigationView ? If so can you try using Microsoft.UI.Xaml.NavigationView from the latest prerelease of microsoft.ui.xaml nuget package. There have been some recent changes made for NavigationView in the latest prerelease.

[2020-02-14 14:02] tang-kai-ms opened #1977 "Build error on master branch"
**Describe the bug**
Contrary to what is documented in developer_guide#Prerequisites, the master branch doesn't build with VS 2019 and WinSDK 18362 + 17763.

First I encountered duplicate project item in Microsoft.UI.Xaml.vcxproj. After resolving it, it shows the project asserts the CPPWINRT_VERSION to be 2.0.191217.1, which is higher than what is publicly available in WinSDK 18362.

**Steps to re

[2020-02-14 15:57] mdtauk commented on #1972
AMD Ryzen support is preventing me from running the Emulator, so any word on when that will be rectified will be good to hear.

[2020-02-14 16:37] MikeHillberg commented on #1840
Right. Doc update: https://github.com/dotnet/dotnet-api-docs/pull/3771

Thank you @Kill4kan and @Felix-Dev

[2020-02-14 16:37] #1840 closed

[2020-02-14 16:51] MikeHillberg commented on #931
For x:DataType we could also use parens to get the language keyword into one attribute:

[code]

The confusing thing about the following is that it looks like it's instantiating a DataTemplate&lt;string&gt;

[code]

[2020-02-14 17:02] Sergio0694 commented on #931
@MikeHillberg That syntax with parents looks great to me! 😄

I just have a question regarding the difference in the syntax for the type arguments in data templates compared to other cases (eg. the `MainPage<T>` example in the first post). I personally don't mind the difference, but I'm wondering whether it'd be possible to always enable that parens syntax at this point, to have a uniform syntax th

[2020-02-14 17:23] MikeHillberg commented on #931
Good question. I think the spec on x:TypeArguments is that it closes the open type indicated by the property element tag (&lt;ReactivePage&gt;), which is what we're doing in the x:Class case. Put another way, use x:TypeArguments to close ReactivePage whether you're creating one or deriving from one.

(I never loved the x:TypeArguments name. It's exactly the right technical term, but I thought x:Of

[2020-02-14 17:26] Felix-Dev commented on #1972
@jp-weber @mdtauk

This is the official wording (https://docs.microsoft.com/en-us/dual-screen/windows/get-dev-tools):

If you want more info you should probably contact dualscreendev@microsoft.com. I doubt WinUI is the correct team.

[2020-02-14 17:40] Sergio0694 commented on #931
Oh I see now, I was reading that wrong 😄

The distinction between `x:TypeArguments` in that `ReactivePage<TViewModel` example and the parens syntax for data templates makes perfect sense now, thank you for explaining that!

[2020-02-14 17:43] kmahone commented on #1977
@tang-kai-ms we don't use cppwinrt from the Windows SDK. Instead we consume it from a nuget package. Did you run nuget restore on the solution before building? In Visual Studio, in the Solution Explorer pane, right click on the MUXControls solution and select Restore NuGet Packages.

Try that and see if it resolved your issue. If so, we should make sure to add that step to the readme.md.

[2020-02-14 17:47] jesbis commented on #1972
Thanks @Felix-Dev - that's correct, the docs are the best place to get the latest status on the 10X emulator, and that email address is the best contact for other 10X questions that aren't specific to WinUI.

[2020-02-14 18:44] codendone commented on #1957
This is weird. I repro the issue on the latest version of Windows and on RS4, so it appears this has been around for a while and still exists.

The font impacts this. The Segoe UI font showing proper superscript only for lowercase 'i' and 'n', along with the 0-9 digits. Arial and Times New Roman don't show superscript for any letters.

I don't know why this is happening, and I'm following up with

[2020-02-14 18:55] vigouredelaruse commented on #1780
i find i can reliably fix this issue with a commit that looks as per the attached image - the issue is still current to the WACK insider windows 10 sdk/build

![image](https://user-images.githubusercontent.com/31052867/74559025-6c77be00-4f31-11ea-8fc5-e09a696aa6e9.png)

[2020-02-14 20:39] chingucoding commented on #933
@sonnemaf Since there is a MaximumRowsOrColumns property now, is there still a need to manually specify Rows/Columns?

Or do you think that the main idea of this proposal was addressed (and hence we can close it)? 😅

[2020-02-14 21:45] YuliKl opened #1978 "NumberBox isn't supporting context menu operations"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Launch XAML Controls Gallery.
2. Activate AutomationProperties from All Controls Page.
3. Right Click on text box present beside Font Size of texts text box and try to perform Cut/Copy etc operation.
4. Switch to the NumberBox page and attempt a Cut operation.

**Expected behavior**

Users should be able to p

[2020-02-14 21:48] YuliKl opened #1979 "ListView does not report IsOffscreen correctly"
**Describe the bug**

ListView is not correctly reporting when it is offscreen.

**Steps to reproduce the bug**

Repro can be achieve by creating an empty UWP app and adding a single element to it:

        <ListView Margin="500,500,0,0">
            <ListView.Items>
                <ListViewItem Content="Test" />
                <ListViewItem Content="Test" />
            </ListView.Items>

[2020-02-14 22:08] StephenLPeters commented on #1978
@teap fyi

[2020-02-14 22:15] StephenLPeters commented on #369
@jevansaks do you happen to remember any of the context around this? I followed the internal bug but it isn't clear to me how this is was fixed from that's resolution.

[2020-02-14 22:39] jevansaks commented on #369
@stephenlpeters I don't have any more context on the fix, sorry.

[2020-02-14 23:52] tfennel commented on #1955
Thanks for the suggestion and well thought out proposal.  I've filed this in my team's ADO (we are the notification platform team in Windows).  Sorry it's not publicly viewable, but trust me it's in the backlog!

[2020-02-14 23:52] #1857 closed

[2020-02-14 23:58] SavoySchuler commented on #1206
Unassigning myself as this is item does not fall under my current area of ownership. Tagging @ranjeshj for reassignment.

[2020-02-15 00:06] #1955 closed

[2020-02-15 01:22] SavoySchuler commented on #1925
@ranjeshj - thanks for the chat, that's exactly what we should do. @teaP is there anything you need from my end to expose these TextBox properties onto NumberBox through a template bind?

[2020-02-15 01:29] azchohfi opened #1981 "Missing Implicit convertions on WinUI3"
**Describe the bug**
CS0029 Cannot implicitly convert type 'System.TimeSpan' to 'Microsoft.UI.Xaml.Duration'
This worked fine for **Windows**.Ui.Xaml.Duration.

**Expected behavior**
Should work as expected. Some implicit conversions are missing from WinUI3.

**Version Info**
February refresh of WinUI3.

NuGet package version:
Microsoft.UI.Xaml 3.0.0-alpha.200210.0

| Windows 10 version

[2020-02-15 01:34] codendone commented on #1967
The internal task to implement this is https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/22121393.

[2020-02-15 01:39] SavoySchuler commented on #1736
Apologies, I missed this discussion taking off here too. The first thing I want to do is clarify: what I intended to say is that the full feature set promised for v1 NumberBox won't be available until WinUI 3. This is because **input validation** was moved from WinUI 2 to WinUI 3 _after_ we had defined our intended NumberBox v1 feature set, of which input validation is a part of. I know how desire

[2020-02-15 02:23] ranjeshj commented on #1981
@MikeHillberg Is this known ?

[2020-02-15 03:40] MikeHillberg commented on #1981
Yes, there are several limitations in the C# projection of the WinUI 3 Alpha. Mostly they're related to members on structs, such as constructors. There's a related limitation is described in the release notes for [INotifyPropertyChanged](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/#inotifypropertychanged-and-inotifycollectionchanged).

Most/all of the missing struct functionality is avail

[2020-02-15 07:13] dpaulino commented on #1945
@Austin-Lamb I haven't had a chance to use xaml islands yet. Is it capable of running all uwp controls? Or does it only have support for a subset?

[2020-02-15 09:46] mdtauk commented on #1972
Fair enough, will have to wait until Microsoft are ready to talk about it.

Looking at Windows 10X, Win32 apps run in a VEIL container.  What about WinUI 3.0 non UWP apps?

Will they appear to run as native UWP apps do on 10X?

[2020-02-15 09:57] Damonsoft opened #1982 "How to properly compile?"
Hello! I just have a simple question. I've been trying to get debugging going on WinUI, and I'm a little lost. I cloned the repository and updated my Visual Studio to version 16.4.5. I also made sure the SDK's 17763 and 18362 we're properly installed. When selecting Debug, x64, and the project MUXControlsTestApp, executing a build causes the following error.

Error		Cannot resolve Assembly or Wind

[2020-02-15 10:39] Felix-Dev commented on #1945
@dpaulino Since you host your custom UWP control (which can exist of multiple controls - think UserControl) in your WPF app that should be the case. At least I haven't noticed any UWP control not yet working. The [documentation](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands) is also not mentioning any restrictions regarding UWP controls. If @

[2020-02-15 10:41] chingucoding commented on #15
Since Windows Mobile is now discontinued, should we still keep this issue in the backlog?

[2020-02-15 10:46] Felix-Dev commented on #1972
Since WinUI Desktop apps are not native UWP apps, I don't think they will run in the UWP container. I believe they will still run in the mentioned Win32 container (as they will have (all) the capabilities of Win32 apps.

[2020-02-15 11:42] infoequipt commented on #1972
I'm also interested to know what the plan is for WinUI app isolation going forward.  From an enterprise perspective, we need isolation/sandboxing and capability control (not user opt-in).  So, putting this out there as a topic for Miguel..

[2020-02-15 13:02] kmgallahan commented on #1972
How hard would it be to add better overload resolution for functions inside {x:bind}? Right now:

The current approach makes working with methods like String.Format & String.Concat painful as although they have 8 - 10 overloads, you can only access a few of those, and whichever happened to of been defined first for however many parameters you want to provide.

An example of this issue is that [the

[2020-02-15 13:41] ranjeshj commented on #1982
@Damonsoft can you try running restore nuget packages (right click on MuxControls.sln in solution explorer) and do a rebuild from VisualStudio ?

[2020-02-15 15:20] JohnnyWestlake commented on #1957
Likely because that Typography.Superscript doesn't force rendering superscript characters - it only enables support for superscript characters the font itself actually declares as superscript variants. Arial and Times New Roman don't actually have superscript or subscript support inside their fonts, where as Segoe UI does for all numbers and i & n.

Same at the DirectWrite level underneath (which

[2020-02-15 17:34] JohnnyWestlake commented on #1968
An unfortunate side effect of using Lottie here is you only supported SolidColorBrush for foreground rather than any Brush (gradient, XAMLComposition, etc) that practically every other control in the framework supports for their brush properties. Seems like a strange little quirk to throw in.

[2020-02-15 17:35] mdtauk commented on #1972
This is a little disappointing.  Win32 apps seem to exhibit different windowing behaviour, and darken the screen when they are in the foreground.  So switching also behaves differently.

Using a Xaml UI, is have hope a WinUI Desktop app would be a best of both worlds scenario at least on the surface to the user

[2020-02-15 17:36] mdtauk commented on #1968
Something like this should be documented

[2020-02-15 18:46] Felix-Dev commented on #1972
@mdtauk As the current 10X emulator image released to us is still very early I'm pretty sure the issues/behavior you noticed (I did too in my tests) will be addressed/altered until release (i.e. I also have Win32 apps which just fail to load right now.)

That said, I will be happy to be corrected on the WinUI Desktop app container on 10X. My current thinking is based on what we've been told about

[2020-02-15 20:12] dpaulino opened #1983 "Question: How come NavigationView's collapsed pane width is 40px instead of 48px? 48px is width of start menu button."
NavigationView's default collapsed pane with is 40px. When you maximize your UWP app, here's how the collapsed pane aligns with the start menu:
![image](https://user-images.githubusercontent.com/7649589/74594489-0c921d80-4fec-11ea-8dfe-0d05a282a0b0.png)

I performed 3 changes to the style and the constants used by the navigation view to change this to 48px, and now it lines up well with the start

[2020-02-15 21:40] grokys opened #1984 "SelectionModel.SelectRange throws with nested data"
**Describe the bug**

`SelectionModel.SelectRange` throws with nested data (and even if it didn't I suspect the current logic is wrong or at least very confusing, see note below)

**Steps to reproduce the bug**

The following are unit test fragments in the MUXControls `SelectionModelTests.cs` file:

With a simple flat list, `Select()`-ing multiple items has the same behavior as `SelectRange()`. Th

[2020-02-15 22:05] JustinXinLiu commented on #1983
No, they shouldn't need to be made aligned. `40px` is the standard size of buttons used on the `NavigationView` and works well with both touch and mouse. On the Start Menu, the Start button is wider than the rest of the app icons which I believe are also `40px` wide.

Note you could make all the buttons on the Start Menu smaller too. They are just not meant to be aligned with your app's side navig

[2020-02-15 23:56] rudyhuyn commented on #1983
The NavigationView's  pane shouldn't align with the Start Menu for many reasons, including the ones explained by Justin but I would add:
- 8px is a lot (it's a 20% increase), especially when in Portrait (snap view or tablets), we shouldn't decrease the space available for the rest of the app for this reason.
- Not align the start menu and this pane is probably a good idea in reality, it creates a

[2020-02-16 01:38] leoniDEV commented on #1972
@Felix-Dev according to the same video you mentioned (How Windows 10X runs UWP and Win32 apps) at minutes 20:18 says that hybrid apps (Win32/UWP) are not supported (yet) and my understanding is that an app which uses XAML Island is an hybrid app.

[2020-02-16 02:21] chingucoding commented on #1639
Hi @SpencerHurd , I would like to look into this issue, however I am not quite sure how I would be able to test/verify a suitable fix. Do you have a demo or a code snippet that I could try or use?

Also I assume with `LuminosityTintColor` you mean `TintColor` ?

[2020-02-16 06:07] Gavin-Williams commented on #1952
This is a bit off topic, but my perspective is trying to bring Windows developers onto a common app model and api surface. So ...

I don't mean get rid of all Win32 API's. I mean that the Win32 application models, templates, input API's, graphics API's (GDI+) and probably a few more things, should be removed from Windows and Visual Studio. When a developer sits down in 2021 to write a Windows desk

[2020-02-16 06:23] imthewiseguy commented on #1976
Unfortunately the Microsoft.UI.Xaml NavigationView does the same thing

Sent from my iPhone

On Feb 14, 2020, at 4:07 AM, Ranjesh <notifications@github.com> wrote:

﻿

@imthewiseguy<https://github.com/imthewiseguy> are you using Windows.UI.Xaml.NavigationView ? If so can you try using Microsoft.UI.Xaml.NavigationView from the latest prerelease of microsoft.ui.xaml nuget package. There have been so

[2020-02-16 07:53] Gavin-Williams commented on #1972
Why is WinUI desktop not running on UWP by now? People above are talking about WinUI having it's own container or worse - running on Win32 - what madness is this? Win32 is meant to be for backward compatibility - WinUI apps should be running inside the UWP container. I don't even know what .net 5 will be running in - if it's consuming WinRT shouldn't it be running in a UWP container?

I'm confused

[2020-02-16 08:25] Damonsoft commented on #1982
@ranjeshj Hey, so I did a fresh Git Clone of the repository and I right clicked the MuxControls.sln in solution explorer and did a nuget restore. The output stated all nuget packages were already installed.

`All packages are already installed and there is nothing to restore.`

I then did a rebuild and I got around 12 errors at least, all stating the same general error of missing Microsoft.winmd c

[2020-02-16 10:31] Felix-Dev commented on #1972
@leoniDEV Much of this is still speculation what exactly is meant by "hybrid apps". See [this twitter thread](https://twitter.com/gcaughey/status/1227562453740990466) for example where it is said that XAML Island apps don't belong into that category (Matteo Pagani works at Microsoft as a `Windows AppConsult Engineer`). A MS employee in the [UWP Community](https://discordapp.com/channels/3721378120

[2020-02-16 11:27] Felix-Dev commented on #1952
@Gavin-Williams This is indeed getting off-topic for this specific proposal. I would kindly suggest issue https://github.com/microsoft/microsoft-ui-xaml/issues/1856 to you where you can voice your view on Win32 vs UWP and how they should be treated by Microsoft going forward. There are fundamental UWP API gaps around which will force devs to currently write apps based on the Win32 app model and th

[2020-02-16 13:12] shaheedmalik commented on #1983
It should line up.
You can't have consistency without being consistent.

[2020-02-16 13:46] robertsundstrom commented on #1972
I would like to hear more about any thoughts on potentially being able to use other programming languages, such as Java, Python, JavaScript etc, when building apps using WinUI / Microsoft UI.

I know there is a project called Xlang (cross-lang) - which essentially seems like what .NET should have been, a better COM.

How does that relate to WinUI?

[2020-02-16 13:49] sonnemaf commented on #933
No this is already perfect. I will close the issue. Thanks

[2020-02-16 13:49] #933 closed

[2020-02-16 15:03] mdtauk commented on #1983
10X doesn't have the start button on the left by default, and not every app runs in full screen - so this is one of those areas where alignment only matters in a small case, but has lots of consequences.

[2020-02-16 15:44] mdtauk opened #1985 "Cannot resolve Assembly or Windows Metadata file 'Y:\Dev\Repos\microsoft-ui-xaml\BuildOutput\Debug\x64\Microsoft.UI.Xaml\Microsoft.winmd'"
**Describe the bug**
Cannot resolve Assembly or Windows Metadata file 'Y:\Dev\Repos\microsoft-ui-xaml\BuildOutput\Debug\x64\Microsoft.UI.Xaml\Microsoft.winmd'

**Steps to reproduce the bug**
Trying to build the project and run the MUXControlsTestApp as startup project

**Expected behavior**
Build should complete and Test App runs

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-02-16 18:03] shaheedmalik commented on #1983
Not only that, Windows10X doesn't have the same type of Start Menu. The issue probably won't come up.

[2020-02-16 19:35] soumyamahunt opened #1986 "Change mouse pointer to arrow when scroll bar on focus"
**Describe the bug**
In Richeditbox and Textbox when scrollbar is in focus the mouse pointer is still an ibeam instead of an arrow.

**Steps to reproduce the bug**
Implement standard Richeditbox and Textbox with scrolling support in your app.

**Expected behavior**
When scroll bar is on focus the pointer should change to an arrow, and when content is in focus pointer would change back to ibeam.

*

[2020-02-16 20:03] Felix-Dev commented on #1939
@jsidewhite Ok, this has the potential to be quite frustrating....

I went with option 1 as said previously (using the COM Activator) because the app activation behavior by clicking on a toast notification is vital for the app experience I want to create. The [helper implementation](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.Notifications/DesktopNo

[2020-02-16 20:31] contextfree commented on #1972
xlang is essentially a cross-platform open source version of the Windows Runtime (WinRT), though it wasn't going to be fully compatible. The purpose of WinRT is what you said, interoperability between languages. WinUI's APIs are built on WinRT which is how it supports both C++ and C#. There are other languages with various levels of support for WinRT, including [Python](https://github.com/Microsof

[2020-02-17 00:08] robloo commented on #1736
@SavoySchuler @teaP It's awesome to see the last few updates to NumberBox following the initial release. Thank you both so much for going through the open issues! The control is in a much better state of usability now and I'm glad it was not abandoned until WinUI 3 :)

[2020-02-17 03:09] Gavin-Williams commented on #1972
xlang looks dead to me. C++/WinRT wasn't ever really finished - it was left with bugs and a very odd-ball usage story, making it undesirable for the average developer. I struggled for many, many hours to get C++/WinRT working, and failed to do what I did in 30 minutes with C++/CX. And C++/CX was easier to use by a long shot. If Microsoft want these cross language tools to be usable by the Average

[2020-02-17 04:04] MikeKenyon commented on #1045
I've had a considerable amount of struggle trying to switch over to WinUI.  There are a number of both 1st and 3rd party libraries that aren't using WinUI at the moment and dependencies on them become problematic.  For example, the Behaviors SDK.

[2020-02-17 06:25] Xarlot commented on #1972
For now UWP and it's successor WinUI is not ready for LOB applications

There are several problems we are facing
* Poor performance. For example WinUI dependency property is 50 times slower than https://github.com/microsoft/microsoft-ui-xaml/issues/1633 .
* Poor compilation performance. Several times slower than wpf
* dotnet native
* A lot of breaking changes between releases.
* Sandboxing and per

[2020-02-17 08:04] imthewiseguy commented on #1976
this issue needs to be fixed because for some reason on first run when the display mode changes the control is effectively reloaded thus causing the re-invoking.

[2020-02-17 08:11] pjmlp commented on #1972
I have a couple of issues with the current state of WinUI.

C++/WinRT is still a very poor developer's experience compared with C++/CX tooling and overall developer experience. If we are expected to deal with WinUI components written in C++, having at very least 1:1 coverage for what C++/CX tooling is capable of is to be expected.

Being standard C++17 is of no use to me if my productivy suffers v

[2020-02-17 09:13] ad1Dima commented on #1866
It seems like VS update fixed this for me

[2020-02-17 09:13] #1866 closed

[2020-02-17 12:55] Gavin-Williams commented on #1830
I'm not a heavy Xaml user, and I've found the notion of separate Width & Actualwidth (and apparently there are more .. Rendersize.Width) completely ridiculous and bug prone. Maybe it all serves some purpose. But I only ever want a single variable representing the width of a control.

Even in my own custom UI's I've never needed more than a single variable to represent pixel width which should be c

[2020-02-17 13:47] carmellolb commented on #1972
When will Windows 10X UI elements make their way to desktop Windows 10?

[2020-02-17 14:00] Gavin-Williams commented on #1972
@carmellolb 2022-2025?

[2020-02-17 16:51] ranjeshj commented on #1982
@Damonsoft This looks like a duplicate entry in one of the included projects. I created a PR to remove the duplicate entry - try pulling that change and see if it fixes it for you.
https://github.com/microsoft/microsoft-ui-xaml/pull/1987

Also, delete the BuildOutput folder before loading the solution and do a full rebuild to ensure that you start at a clean point. It takes a little while during t

[2020-02-17 16:58] soumyamahunt opened #1988 "Selection in RichEditBox returns wrong properties in some cases while word wrap enabled"
**Describe the bug**
In a Richeditbox if word wrap is enabled, a line which is of higher length than of the control width it is divided into multiple parts. If a mouse click is done at the end of the first part the selection property returns property for the beginning of the next part. Also the position at which cursor starts blinking isn't part of the document(there is no way to reach that positi

[2020-02-17 17:33] soumyamahunt opened #1989 "Text not rendered in RichEditBox when large number of lines present"
**Describe the bug**

When large number of lines are inserted(around 15000 and above) after certain amount of line(around 13000) the text is not rendered. Although other operations can be done on those invisible texts (i.e. copy pasting).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a RichEditBox control.
2. Insert around 15000 lines
Or just copy and paste all the lines

[2020-02-17 19:50] robloo commented on #1830
Hi @Gavin-Williams, I'm going to be a little blunt here so please forgive me. The various flavors of Microsoft UI tech that use XAML as markup have a very powerful layout system. It is far more advanced than Windows Forms where everything is just arranged on a panel-type control with Top/Left/Height/Width properties. Both Width and ActualWidth are mandatory for the layout system and cannot be remo

[2020-02-17 22:44] chingucoding commented on #1787
This issue was addressed with #1788, closing it now.

[2020-02-17 22:44] #1787 closed

[2020-02-18 00:08] yaichenbaum commented on #1989
This sounds similar to #1842

[2020-02-18 03:34] JasonStein commented on #1989
This is related to WinRT ScrollViewer. The WinRT RichEdit control itself can handle such amount of text but the ScrollViewer cannot since there is an upper rendering limit set inside ScrollViewer.

[2020-02-18 05:55] Gavin-Williams commented on #1972
@Felix-Dev "WinUI Desktop .. will enable Win32 apps to have full access to the UWP UI APIs .. excluding a few APIs like CoreWindow.

Excluding CoreWindow? OMG - That's the first and most important API that should be pulled out of UWP. It's the most foundational API that provides the basic window functionality. It needs to be universal, inside and outside the UWP container. Until it's brought out w

[2020-02-18 06:01] myokeeh commented on #1972
About the call: why did you move away from Teams? YouTube didn't work out so well on the last one.

[2020-02-18 10:22] harvinders opened #1991 "Question: Is there a color/brush resource to display validation error text?"
I know there is some work started for input validation and wondering if some theme resource were created which developer can also use?

[2020-02-18 11:06] Felix-Dev commented on #1972
@Gavin-Williams

From comment https://github.com/microsoft/microsoft-ui-xaml/issues/1215#issuecomment-531994216:

The team also said it is looking to provide APIs like [CoreApplicationViewTitleBar.ExtendViewIntoTitleBar](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.core.coreapplicationviewtitlebar.extendviewintotitlebar#Windows_ApplicationModel_Core_CoreApplicationViewTitleBar

[2020-02-18 11:10] jess-rod opened #1992 "<TextBox TextWrapping="Wrap" ... /> hides text in some layout updates"
**Describe the bug**

Given a TextBox, if TextWrapping is set to Wrap, HorizontalAlignment is set to Stretch, VerticalAlignment is not set to Stretch and Text is set to some text long enough so that the number of lines changes depending on its actual width, then its actual height doesn't update when a significant and sudden change to its actual width happens, at least, not always. The result is so

[2020-02-18 12:04] Gavin-Williams commented on #1215
If you replace Win32 Window with CoreWindow for non-contained / non-Xaml scenarios, and also provide CoreWindow to .Net 5 Non-UWP then we can have a unified app/window model across Windows for non-Xaml work. That makes more sense than holding onto Win32 FOR EVER or making up new App models.

Why should we have to rewrite the application layer just because we want to switch between contained and no

[2020-02-18 14:31] chingucoding commented on #1303
If it is a suitable fix, I can reorganize them in the solution view as such:
![image](https://user-images.githubusercontent.com/16122379/74745102-a31c4400-5263-11ea-96d1-d530fe0fee2b.png)

I've tried organizing them into (sub)folders, but with that I got the following errors when trying to compile:
![image](https://user-images.githubusercontent.com/16122379/74744999-7cf6a400-5263-11ea-93c1-cdf79cc

[2020-02-18 14:51] leoniDEV commented on #1972
@Felix-Dev From the documentation seems that XAML Island don't strictly implies an hybrid app, you could call the UWP XAML hosting API directly from your Win32 app at the expense of loosing some functionality, like use of custom controls, if I understand correctly the docs (and the note in the docs):

[Host a standard UWP control in a WPF app using XAML Islands](https://docs.microsoft.com/en-us/wi

[2020-02-18 15:25] chingucoding commented on #1985
I also get the same error when downloading a fresh copy. If you revert [to this commit](https://github.com/microsoft/microsoft-ui-xaml/commit/f0643470a2d60d58c3d793748582f1a046f2a4e6) you should be able to compile again.

[2020-02-18 16:25] martind0 commented on #517
or make `Thickness` a class

[2020-02-18 16:42] ranjeshj commented on #1985
This is likely the same issue being fixed by this PR - https://github.com/microsoft/microsoft-ui-xaml/pull/1987

[2020-02-18 16:43] #1985 closed

[2020-02-18 16:50] mdtauk commented on #1991
I believe it will use the SystemErrorText color

[2020-02-18 17:02] ranjeshj commented on #1303
@chingucoding That looks like a good place to start. Also, while we are at it, can we name the folder ItemsRepeater to match the API name. View management and phasing should probably be under ItemsRepeater  since they are specific to ItemsRepeater. Not sure about the build errors for sub folders.

[2020-02-18 17:11] ranjeshj commented on #1989
@RBrid does the Mux.ScrollViewer support very large extents ?

[2020-02-18 17:19] jesbis commented on #1972
@Gavin-Williams, @pjmlp have you opened issues in the [cppwinrt](https://github.com/Microsoft/cppwinrt) repo for the issues you're finding? Or are they problems specific to WinUI that you could open issues for in this repo? We're actively working on C++/WinRT support so it would be great to hear any details on what's not working well for you. We're using it ourselves too - new WinUI features are a

[2020-02-18 17:23] jesbis commented on #1972
If you mean the audio issues: we think we had a bad cable last month and are hoping it should be better tomorrow. YouTube seemed to be more accessible for most people, and the Channel9 studio has way better audio and video than the conference room we were using for Teams.

----

RE: CoreWindow, win32 support, containers - we'll talk about our current direction during the community call tomorrow wi

[2020-02-18 17:52] ddalp commented on #1988
Looks like a RichEdit bug.

[2020-02-18 18:06] ddalp commented on #1941
@sharpninja let me understand there are two issues, can you confirm?
1. RichEdit should append EOP after each SetText call and should not fire text changed event. SetText is actually synchronous but TextChanged event is async.
2. RichEdit should not replace CRLF with CR as it's own EOP.

[2020-02-18 18:32] azchohfi commented on #1981
Is it still the plan to migrate those for stable v3? Devs could just move to the helper methods, but that seems like an unnecessary breaking change.

[2020-02-18 19:07] jsidewhite commented on #1939
Thanks for the feedback @Felix-Dev, and apologies for the frustration.  I'm escalating the servicing priority.

[2020-02-18 19:39] pjmlp commented on #1972
@jesbis Thanks for getting back to us.

There are no issues to open, because C++/WinRT approach to development is completely backwards to the productivity offered by C++/CX.

With C++/CX I initially thought that Microsoft was finally selling Visual C++ the right way, 25 years later Visual C++ had caught on with the RAD experience of C++ Builder.

Instead what C++/WinRT gives me is a return to the

[2020-02-18 20:17] anawishnoff commented on #1969
@grokys  Excited to see a proposal on this. As Ranjesh said, SelectionModel is slightly flexible as its still in preview so your feedback comes at a good time - this seems like a good thing to implement for the WinUI TreeView. I'll circle back when we may have more capacity to look into this!

[2020-02-18 20:31] jrahma opened #1994 "Error creating WinUI blank App"
Hi,

I am trying to create a new Blank WinUI App (C#) but getting this error:

![WinUIError](https://user-images.githubusercontent.com/6236241/74775348-f5cf1d80-52ae-11ea-900e-665bad1ea667.png)

I am using Visual Studio Version 16.4.5

Thanks,
[Jassim](https://www.emiratesangels.org)

[2020-02-18 20:34] Felix-Dev commented on #1939
@jsidewhite No worries and thank you for your help. Much appreciate it (no matter the result) 🙂

[2020-02-18 20:36] jesbis commented on #1972
@pjmlp thanks for the details - I'm checking with some people to see if there's any more info to share on C++/WinRT tooling, although I probably won't have good answers by tomorrow. We're focused on C++/WinRT for new development, but we do have it on our roadmap to hopefully have C++/CX templates for WinUI 3 as well if that helps.

[2020-02-18 20:40] ranjeshj commented on #1994
@jrahma Are you seeing this after just creating a blank app ? Are there any other changes to the blank app ? Can you share a callstack ?

[2020-02-18 20:40] jesbis commented on #1972
@infoequipt could you elaborate on what you mean by isolation? E.g. like [AppContainer](https://docs.microsoft.com/windows/win32/secauthz/appcontainer-isolation) support?

[2020-02-18 20:41] jesbis commented on #1972
@Xarlot what breaking changes were causing problems for you? With UWP APIs we try to maintain a high degree of compatibility every release.

[2020-02-18 20:44] jrahma commented on #1994
It's just when I try to create a new blank app like this:

![WinUIErrorScreen](https://user-images.githubusercontent.com/6236241/74776426-f963a400-52b0-11ea-8e6b-5d97c5c3fd34.png)

[2020-02-18 20:46] grokys commented on #1969
Thanks @anawishnoff for the feedback. I've implemented this functionality in the Avalonia port of `SelectionModel` in these commits if anyone is interested:

https://github.com/AvaloniaUI/Avalonia/pull/3583/commits/96fbd6c531313dc0ab9fc3eeb7265a693b58e75f
https://github.com/AvaloniaUI/Avalonia/pull/3583/commits/f103df6a9a8dba4ae5880b1abee937a76b30b37c

[2020-02-18 20:52] ranjeshj commented on #1994
@danzil can you help ?

[2020-02-18 20:59] Sergio0694 commented on #1972
@Gavin-Williams Regarding `SharpDX` being deprecated, you might want to look into [`Vortice.Windows`](https://github.com/amerkoleci/Vortice.Windows), which is a great alternative for it. @Aminator is currently using it in his own fully UWP/C#/XAML DX12 game engine and editor, [`DX12GameEngine`](https://github.com/Aminator/DirectX12GameEngine). Hopefully that suits your needs in your apps! 😄

[2020-02-18 21:01] danzil commented on #1994
@jrahma, do you have the following 3 Visual Studio workloads installed?

  * .Net Desktop Development
  * Desktop Development with C++
  * Universal Windows Platform development

[2020-02-18 21:07] ranjeshj commented on #1991
You can use SystemErrorText, but that is defined only in October 2018 Update (17763 aka "Redstone 5") or later builds. The other option if you want to go further down level is to use your own resource.

[2020-02-18 21:07] #1991 closed

[2020-02-18 21:11] jrahma commented on #1994
@danzil only (Desktop Development with C++) was not installed but I am getting the same error even after installing it.

[2020-02-18 21:16] ranjeshj commented on #1983
@YuliKl can you route this issue to the appropriate folks ?

[2020-02-18 21:20] Felix-Dev commented on #1972
@leoniDEV You can also host custom controls just fine I think or do you see any difference specifically between standard controls and custom controls regarding "hybrid app" in the docs? On first view I didn't notice an obvious difference important here.

[Host a custom UWP control in a WPF app using XAML Islands](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-w

[2020-02-18 21:24] ranjeshj commented on #1976
@imthewiseguy @ojhad Is this the same as  #1956

[2020-02-18 21:31] danzil commented on #1994
Bummer, that works for me (I'm on an even newer VS pre-release version). Any chance you could start VS using the "devenv.exe /log file.log" command and try reproducing again, and see if the log file reveals more details on what's failing? See the [VS /Log switch](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2010/ms241272(v=vs.100)?redirectedfrom=MSDN) for details o

[2020-02-18 21:45] jesbis commented on #1972
@pjmlp another thing that might be of interest if you haven't seen it is this session by Kenny Kerr and Scott Jones from the last Build conference, particularly the last ~11 minutes where they talk about some prototyped improvements to bindings, and some C++ tech specifications for adding reflection and metaclass support that could completely remove the current IDL & metadata codegen requirements:

[2020-02-18 22:00] ojhad commented on #1976
Based on the gif, it looks like top nav settings is left selected when the display mode is changed. Is that correct @imthewiseguy ? In that case, it is the same issue.

[2020-02-18 22:01] jrahma commented on #1994
@danzil here is the log file:

[winuilog.log](https://github.com/microsoft/microsoft-ui-xaml/files/4221849/winuilog.log)

[2020-02-18 22:05] jrahma opened #1995 "Unify Controls and Properties with Xamarin Forms"
Hi,

Please make all Microsoft controls unified,

You cannot use Label in Xamarin Forms and TextBlock in WinUI for example

This applies to all other controls

In addition, we should have the same properties, e..g HorizontalOptions should be the same for the XF as well as WinUI

Thanks,
[Jassim](https://www.emiratesangels.org)

[2020-02-18 22:10] pjmlp commented on #1972
Thanks @jesbis, I am aware of that talk. It is still too far in the future as I can tell.

Right now it looks more likely that I will port my existing DirectX code to something like the Vortice library, pointed out by @Sergio0694 than wait for such tooling to bare fruits.

I do admire your efforts, but here from the trenches, after Silverlight, XNA, WinRT, UAP, UWP, WinUI, .NET Framework, WCF, EF6

[2020-02-18 22:47] dpaulino commented on #1983
I appreciate the discussion. I wasn't proposing anything official. I was mostly wondering about the design decision. Closing ticket.

[2020-02-18 22:47] #1983 closed

[2020-02-18 22:51] YuliKl commented on #1983
@dpaulino, NavigationView's design is not expected to align perfectly with Windows 10 Start button, for the reasons @JustinXinLiu, @rudyhuyn and @mdtauk described. I want to add that several releases back we had tightened up NavigationView's UX to address feedback that the 48px widths felt insufficiently dense.

[2020-02-18 23:05] chingucoding commented on #1972
As @Sergio0694 already asked, will WinUi 3.0 be used not only to switch namespaces but also contain other breaking changes, that are needed to fix bugs such as incorrectly applied spaces?

If so would there be a chance to rename the `NavigationView.IsBackButtonVisible` property to `BackButtonVisibility` as the name and type currently do not really line up (IsBackButtonVisible is an NavigationViewB

[2020-02-18 23:12] Felix-Dev commented on #1972
@chingucoding I recall the team said that for WinUI 3.0 itself (breaking) changes should be minimal to make porting apps to it as straightforward as possible. I suspect these changes, if approved, will be implemented in subsequent WinUI 3.x releases.

[2020-02-18 23:19] danzil commented on #1994
Thanks for sharing the log. I'm trying to figure out what's going on, it looks like a path is not being formed correctly - don't know why yet.

[2020-02-18 23:20] kikisaints commented on #1639
Thanks @spencerhurd - in the future please refrain from posting internal email on issues - just for other people's privacy. :)

I have not been able to loop back on this since you first requested it. So I have no updates.

@chingucoding - he's actually referring to the property on Acrylic called [```TintLuminosityOpacity```](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.acrylicbru

[2020-02-18 23:43] robloo commented on #1995
This was supposed to happen. Then XAML standard (announced a few years ago now) died and nobody from Microsoft has ever explained why. It's Xamarin Forms that needs to change to the other XAML flavors -- perhaps this would be better in their repo. I still can't fathom why they every decided to change names like that.

[2020-02-19 00:18] chingucoding commented on #1639
@kikisaints Thanks for the clarification!

[2020-02-19 00:55] #999 closed

[2020-02-19 01:05] Gavin-Williams commented on #1045
This is an idea I had while talking about StatusBar in the UWP Community Discord ..

In Visual Studio, have the toolbox include entries for WPF controls that are missing from UWP and when those entries are selected, show a popup explaining how to simulate the traditional control.

This idea comes from a desire to ease the transition for people coming from WPF (or other frameworks) where they expec

[2020-02-19 01:52] imthewiseguy commented on #1976
Yes that’s correct

Sent from my Windows 10 device

From: Dilip Ojha<mailto:notifications@github.com>
Sent: Tuesday, February 18, 2020 2:00 PM
To: microsoft/microsoft-ui-xaml<mailto:microsoft-ui-xaml@noreply.github.com>
Cc: Tyler A<mailto:imthewiseguy@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xaml] NavigationView displaymode changing and ItemInvo

[2020-02-19 02:28] SavoySchuler commented on #1912
I believe this is not a proposal, but a bug as NumberBox's spec notes here that "Number" should be used as the InputScope of NumberBox: https://github.com/microsoft/microsoft-ui-xaml-specs/blob/master/active/NumberBox/NumberBox.md#input-scope

@teaP if there was a reason for this change that I forgot to note in the spec, please let me know.

Thanks for filing this @robloo!

[2020-02-19 04:39] riverar commented on #1972
Will WinUI Desktop enable desktop app devs to _finally_ use `AcrylicBrush` with `HostBackdrop`? We previously used composition attribute `WCA_ACCENT_POLICY` with `ACCENT_ENABLE_ACRYLICBLURBEHIND` but Microsoft critically broke this in 19H1+ and our app has been suffering since. (It also affected things like the Emoji Picker but Microsoft serviced those components to use non-acrylic method instead.

[2020-02-19 05:24] MuziburRahman opened #1996 "Proposal: Add Orientation Property in RadioButtons"
The default `Orientation` of `RadioButtons`  control is vertical, but what if horizontal orientation is needed?

Actually, there should be two properties:
 1. placement of the header with respect to the RadioButtons (`HeaderPlacement` property which could be left or top)
 2. orientation of the RadioButtons themselves (`Orientation` property: Vertical or Horizontal)

[2020-02-19 05:32] MuziburRahman commented on #1996
Ohh, sorry, I see there is a `MaxColumns` Property

[2020-02-19 05:32] #1996 closed

[2020-02-19 06:17] pnp0a03 commented on #1972
About WebView2:
https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2

My question is .. Is it planned that the .NET Version of WebView2 SDK that applicable for Win8.1, 8 and 7?
I have a concern that parhaps WebView2 on .NET is supported only via WinUI3. In my understanding, WinUI3 WinForms app support is only applicable for .NET Core based and only for Win10.
Let me explain the my situ

[2020-02-19 08:26] zezba9000 commented on #1972
**If possible:**
* Win32 ETA on a preview build for WinUI 3.0

* If source code is not ready to share, maybe giving out a already complied demo exe of some UI elements running we could download and play with would be cool to show off to fellow co-workers.

* Does WinUI 3.0 support custom shader effects like WPF/Silverlight did? If not are there any thoughts on adding them later? Is the rendering l

[2020-02-19 09:56] jess-rod commented on #1992
I've run some tests and I believe it's a race condition. In some cases, like the test above, it happens some times, whereas, in other scenarios, it happens every time.

Anyway, in one test, I modified the TextBox's width with the aid of two buttons which increased or decreased the width by one pixel. At the threshold, the TextBox's height and/or text wrapping didn't adjust to the content as they s

[2020-02-19 12:40] rogihee opened #1998 "Numberbox does not format placeholder text to the system specified number format."
**Describe the bug**
The number box in the sample uses a fixed decimal separator in the sample text and placeholder, but uses the current culture separator for formatting.

Not sure this is a general bug in the control, or only a wrong configuration in the sample.

**Steps to reproduce the bug**
1. Open the Controls Gallery app, go to Text -> NumberBox and the last sample that rounds to the neares

[2020-02-19 12:44] Felix-Dev commented on #1972
@leoniDEV I went ahead and created a XAML Island project as you highlighted (so no separate UWP project). It contains a single UWP inbox control (a button) and works fine on 10X. No surprise for the container story...it runs in the Win32 container as expected.

So yeah, currently at least there is not yet full support for XAML Island apps consuming a separate UWP project. Whether that points to th

[2020-02-19 14:27] GraniteStateHacker commented on #1972
I'm looking at doing v-next of a legacy WPF app.  I can probably use .NET Core WPF, but I really want to use WinUI.  I'm running into issues with libs like Prism still deriving from Windows.UI.Xaml (as opposed to Microsoft.UI.Xaml).  It feels like these types of issues are foundational. Is there solid PnP guidance for WinUI, yet, or is it too soon?

[2020-02-19 14:33] matthew4850 commented on #1972
Is it possible to get someone from the shell team or inbox apps team on to talk about why the start menu and file explorer on Windows 10x are web-based instead of using WinUI?

[2020-02-19 15:57] MikeHillberg commented on #1981
Yes, we're hoping to have those migrated.

[2020-02-19 16:01] zadjii-msft opened #1999 "TabView: Tab opening animation not as good as Chromium Edge"
On a surface level, this is basically the same as #1511, but for when tabs are **opened**. In Chromium Edge, the tabs seem to "slide in", increasing their width smoothly from 0 to (some tab width) as the tab is added to the view. In the `Microsoft.UI.Xaml.2.3.191217003` release being used by the Windows Terminal currently, the tab view seems to reserve the entire width of the new tab immediately,

[2020-02-19 16:05] dwalleck commented on #1972
How likely is it that WinUI 3.0 will be ready to launch when the first Windows 10X devices launch? I'm interested in jumping into the Windows dev world and I'm trying to decide what approach makes the most sense at this point.

[2020-02-19 16:12] ranjeshj commented on #1999
@stmoy TabView uses the theme transitions currently. We could possibly re-visit this once we move to ItemsRepeater where we have better options to customize the animations.

[2020-02-19 16:53] stmoy opened #2000 "Question: Issue 2000"
No specific question, but reserving issue 2000 in case we want to do something fun.

[2020-02-19 17:25] chigy commented on #806
@mdtauk , finally WinUI 2.3 Figma version is out.
https://docs.microsoft.com/en-us/windows/uwp/design/downloads/

Still unknown when/if Sketch and Adobe XD kit will be out but still working on getting the right resource to work on them.

We are planning on deprecating Illustrator and Photoshop, FYI.

[2020-02-19 17:35] sharpninja commented on #1045
It would be great if snippets were inject to the xaml with a normal use case, too.
________________________________
From: Gavin-Williams <notifications@github.com>
Sent: Tuesday, February 18, 2020 7:05:39 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xam

[2020-02-19 17:41] SpencerHurd commented on #1639
I’m sorry I don’t know what you mean? I filed the big the way you wanted, then emailed you to follow up on it 😊.

How do we get this tackled? This is causing accessibility problems.

S

From: Kiki Saintonge <notifications@github.com>
Sent: Tuesday, February 18, 2020 3:20 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: Spencer Hurd <spencer@xbox.com>; Mention <mention@

[2020-02-19 18:21] mdtauk commented on #1045
The developer story should include a sort of comparison list.

Concepts that are intrinsic to Win32 apps, so Status Bars, Toolbars, Menus, Grippers, Tabs, etc  In one list, and the WinUI equivalents on the other.

The page itself including code samples from both, to show how an existing App's UI could be moved over to WinUI.

[2020-02-19 19:01] FrecherxDachs commented on #1939
I just want to add my experience in the development of a business app using UWP notifications so far. Maybe this is a help for someone.

I also came to the point where I realized activating a desktop app (.NET Framework, no MSIX, just running an exe) using the COM activation callback when clicking on a UWP notification worked completely unreliable. Sometimes it worked without any problem and then

[2020-02-19 19:25] jesbis commented on #1972
Thanks everyone for the questions and for watching if you could make it!  The recording is live at the same link.

There were lots of questions we didn't get to - I'll try to summarize them and post some responses here soon.

[2020-02-19 19:33] infoequipt commented on #1972
Good show guys, thanks for taking my question and for Miguel presenting.

[2020-02-19 19:35] GraniteStateHacker commented on #1972
I'm thinking too much in terms of legacy,  I think....  I'm considering ReactiveUI as the MVVM framework, which I believe also gets me DI, plus the Observable pattern support.

[2020-02-19 19:47] Felix-Dev commented on #1939
@FrecherxDachs Thanks for the input! It sounds like an approach I could try out (I'm familiar with the second app instance being launched and having to send some data to the primary app instance then exiting because of Win32 Jumplists). If I happen to need to look at some code snipptes for help I will gladly ask you :)

@jsidewhite Obviously I would still very much like a backport of the fix in 20

[2020-02-19 19:49] jschroedl commented on #1972
I'll add a few more questions I'm left with in hopes that they'll be addressed.

1. Traditional Win32 apps draw to the screen in WM_PAINT.  XAML apps are retained mode. We draw WAY too many things to the screen to create individual objects/controls. Will there still be a WM_PAINT equivalent to allow me to draw to the window but with more modern API? Win2D or some other immediate-mode API?

2. Acce

[2020-02-19 20:55] jesbis commented on #1972
Starting to catch up on some questions:

WinUI is specifically the UI layer and doesn't include other aspects of the UWP app platform like the app model for suspend/resume, background tasks, etc.

For UWP apps, it can specifically replace `Windows.UI.Xaml`, `Windows.UI.Composition` and parts of `Windows.UI.Input`.

---

@Felix-Dev we haven't explored the idea yet of better single-instance support

[2020-02-19 21:06] StephenLPeters commented on #1332
@stmoy we also have #1999 similar to #1511 we should make sure that both closing and opening animations get updated with vnext.

[2020-02-19 21:07] StephenLPeters commented on #1999
@zadjii-msft this will likely get rolled into #1332

[2020-02-19 21:15] pnp0a03 commented on #1972
@jesbis Thank you for your answer, but my concern was not solved unfortunately.
Currently, WebView2 SDK Win32 "C++" SDK (preview) version is released from this site. It supports Win7, 8 and 8.1.
https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2
My question is about .NET version. Currently, .NET version is only supported by WinUI 3, But, as you know, we can't use WinUI 3 on Win7, 8,

[2020-02-19 21:20] StephenLPeters commented on #1998
@rogihee I think what you are saying is that the placeholder text that is provided to the numberbox ("0.00") is not being formated with the correct user specified separator.  I think if it was, the issue you are presenting would be resolved?  @teaP do we do any processing of the place holder text right now?

@stmoy While looking into this I was playing around with the xaml controls gallery numberb

[2020-02-19 21:25] StephenLPeters commented on #1998
@teaP playing around a bit more, it looks like the number parser can not take in numbers which have separators which are not '.'  so if you change your number separator to ',' you can't do expressions in numberboxes any more.

[2020-02-19 21:32] StephenLPeters commented on #1998
@SavoySchuler I think we should examine what it will take to truely support the custom number format settings in windows.  There are a number of settings that our expression parser is not remotely equipped to handle. Getting this exactly right seems hard.
![image](https://user-images.githubusercontent.com/7758786/74878476-43ce3a80-531c-11ea-804c-c4dee4d6cb08.png)

[2020-02-19 22:07] pjmlp commented on #1972
@jesbis Thanks for replying to my questions, although it felt demotivating.

Trying to be constructive here.

So the best that Microsoft can offer regarding C++/WinRT tooling is to point out to some up in the air proposals, that with luck might land on ISO somewhere between C++23 or C++26, if at all. And then wait for Visual Studio team to eventually rebuild C++/CX on top of them, which makes it a

[2020-02-19 22:26] chingucoding commented on #1645
I would like to take my shot at this, but I am a bit lost right now what the best option would be. Should we add "RemovedIndex" and/or "RemovedItem(s)" or what would be the right direction here?

[2020-02-19 22:32] jesbis commented on #1972
@pjmlp general C++/WinRT feedback is probably best directed to the cppwinrt repo. ISO standard updates take time but I hope it'd be less than the timeframes you mentioned - reflection support is a top priority and they were just discussing it at the C++ conference in Prague last week.

DirectXTK is still in development has been getting regular updates.

In terms of Xaml framework APIs, WinUI is th

[2020-02-19 22:55] adambarlow commented on #1972
@pnp0a03 there are efforts to bring .NET elements to market as well. I cannot give specific dates, but we are aware of the demand for this and are working out the details.

[2020-02-19 23:22] StephenLPeters commented on #1645
@ranjeshj @chingucoding reading through the comments I'm not sure a behavior has been decided on.  I think before someone tries to fix the issue we should have a doc which explains the proposed API and goes through the edge cases discussed here.

[2020-02-20 00:13] ranjeshj commented on #1645
There are a bunch of details in this issue thread. @grokys - since you have gone through this process, would you be able to write down the details as a proposal with all the necessary details ? That would be really helpful.

[2020-02-20 01:03] SpencerHurd commented on #1639
Hi @chingucoding! Fantastic you are interested in helping, thank you so much! Sorry for the delayed response - I was figuring out how to use Github.

The issue: its kind of hard to describe whats happening. I am a designer and cannot refer to the code of it. But Ill describe it as best I can. The acrylic brush has is comprised of a few layers that stack together to create the effect, from top to b

[2020-02-20 01:27] codendone commented on #1957
Thanks @JohnnyWestlake, you are exactly correct.  The text dev I checked with provided a similar description:

As noted above, I've submitted a change to the Typography.Variants documentation to briefly mention that this depends on support in the font.

[2020-02-20 06:10] rogihee commented on #1998
@StephenLPeters Yes, that is what I mean. I had not realized that WinUI is C++ not C#, there you have the NumberFormatInfo CultureInfo classes that handle all this nicely for your. Let's not talk about datetime formatting then or left to right support ;-).

[2020-02-20 07:05] widersky opened #2002 "Proposal: Make 1px tooltips and menus borders semi-transparent"
# Proposal: Make 1px tooltips and menus borders semi-transparent
Currently the tooltips and menus in UWP applications have a grey frame. This does not go well with colored backgrounds, especially dark ones. My suggestion is to take from macOS and some Linux interfaces the solution of using a slightly transparent frame.

## Rationale
* Using a translucent frame looks better than a grey one.
* No ma

[2020-02-20 07:41] pjmlp commented on #1972
@jesbis As mentioned I don't believe complaining on cppwinrt will do anything, I rather complain by not adopting C++/WinRT unless for the use cases I am cannot avoid, specifically because the roadmap is to adopt feature that might not even be accepted into ISO.

Regarding DirectXTK, I was giving yet another example on how Microsoft has forced us to rewrite our C# code into C++, with less capable t

[2020-02-20 14:43] tang-kai-ms commented on #1977
It still doesn't work on my workstation nor on those of my colleagues and nuget package restore doesn't change that. But on my newly installed laptop it builds normally without any issue. I'll investigate more to see if there is anything incompatible in our environment.

Thanks for replying.

[2020-02-20 14:43] #1977 closed

[2020-02-20 16:30] stevenbrix commented on #1633
@danzil are you aware of the issue of not being able to build Release apps?

@Austin-Lamb are you alright if I take this? I'd be hesitant on doing any further investigation at the moment. Debug builds don't use the .NET Native toolchain, so the better comparison would be to use UWP w/o WinUI and test Release vs Release. However, that might even be a moot point because the current plan of record is

[2020-02-20 16:35] ranjeshj commented on #1633
tagging @bartekk8 since this is related to perf.

[2020-02-20 16:46] kmahone commented on #1977
@tang-kai-ms Interesting. If you do find out what the issue is, please let me know and we can see if we can address the problem, or at least mention it in our readme. Thanks.

[2020-02-20 18:34] skendrot opened #2003 "Scaling the ItemsRepeater crashes application"
**Describe the bug**

When scaling the ItemsRepeater using a Storyboard the application crashes

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Using the following xaml:
`    <Page.Resources>
        <Storyboard x:Key="ScaleStoryBoard">
            <DoubleAnimation Storyboard.TargetName="ScaleGrid"
                             Storyboard.TargetProperty="(UIElement.RenderTransform

[2020-02-20 18:39] ranjeshj commented on #2003
@skendrot can you please attach a repro app ? Thanks!

[2020-02-20 18:52] danzil commented on #1633
@stevenbrix Are you referring to the issue that when you target SDK 10.0.17763.0 you get an internal compiler error when building release (this test project targets that SDK and fails to build Release)? I have not seen that error previously, but if you build against a newer SDK like 10.0.18362.0 it works fine.

[2020-02-20 18:53] skendrot commented on #2003
@ranjeshj Honestly it would probably take longer to download, unzip, open and run than it would to just copy the lines above.

[2020-02-20 18:55] chingucoding commented on #1639
@SpencerHurd Thank you for the detailed explanation! This sure helps a lot. So the expected behavior is the following:

_No luminosity opacity specified:_ Color will be taken if V (from HSV) is between 0.125 and 0.96, otherwise take the closest of those values.

_Luminosity opacity specified:_ Take opacity and color as is, no "bounds" checking. (Currently this case also does bounds checking, which

[2020-02-20 19:00] ranjeshj commented on #2003
@skendrot :) I was able to repro. I updated the repro steps a little bit. Here is the callstack. This seems to be an acesss violation during the effective viewport walk.

 	Windows.UI.Xaml.dll!CUIElement::TransformToElementCoordinateSpaceThroughViewports(const std::vector<CUIElement::TransformToPreviousViewport,std::allocator<CUIElement::TransformToPreviousViewport>> & transformsToViewports={...},

[2020-02-20 19:06] Austin-Lamb commented on #1633
@stevenbrix - this is about runtime perf rather than build perf, so I'm going to assign it over to @bartekk8

[2020-02-20 19:22] skendrot commented on #2003
@ranjeshj Great! Hopefully all of that makes sense to you! 😄

[2020-02-20 19:40] stevenbrix commented on #1633
@austin-lamb i'm not sure this is runtime perf. in a regular c++ app i'm seeing it's much faster (by about 10x). I'm thinking this might be because of the interop layer, which is something that I'm looking into validating we don't regress with CS/WinRT

[2020-02-20 19:47] stevenbrix commented on #1633
I think we may want 2 issues. We are definitely slow, a C++ app is around 400ms, which we can definitely improve on. But a C# app is about 3500-4000ms on my machine, so we need to make sure the interop layer is much more efficient.

[2020-02-20 20:23] zezba9000 commented on #1972
@pjmlp Speaking of DirectX, I'm **actively working on** a portable and agnostic C# graphics, audio and input framework **in my free time** that will be capable of running D3D12/11 etc in a WinUI view.... among many other things.

It supports a much more modern and performance focused approach of rendering vs something like XNA. Its not ready for use but is something many people have wanted includi

[2020-02-20 20:40] Felix-Dev opened #2005 "Proposal: Have WinUI Desktop support the UWP Jumplist API"
*Copied from the WinUI February Community Call thread to be used for tracking.*

Currently, MSIX packaged desktop apps cannot effectively use the [UWP Jumplist](https://docs.microsoft.com/en-us/uwp/api/windows.ui.startscreen.jumplist) API because the app cannot be activated via jumplist tasks (see Windows Terminal issue https://github.com/microsoft/terminal/issues/576 for a brief overview of the p

[2020-02-20 21:16] ranjeshj commented on #2005
@jesbis Can you please route this ? It looks like it might be part of the shell.

[2020-02-20 21:18] ranjeshj commented on #2002
@chigy FYI

[2020-02-20 21:28] chigy commented on #2002
@widersky , thank you for your suggestion.
While it may not work on a colored background, we have a reason why it is the gray (and this very specific color of gray).

We introduced shadow to create contrast between the popup UI and the page. However shadow is something that turns off 1) if user choose to do so, 2) power capability does not allow it. So without the shadow, popup would blend in with

[2020-02-20 22:01] danzil commented on #1994
@jrahma while I wait for an answer from the Visual Studio team, I installed the same version of VS that you have (and made sure I checked all the 3 boxes I mentioned above). The same scenario works for me.  Are you able to create the equivalent (a regular) UWP C# app? Have you made any additional changes to your VS installation that I should know about in order to reproduce? Thanks!

[2020-02-20 22:04] jrahma commented on #1994
@danzil No changes at all, just the VS only with no special configuration

yes, I am able to create UWP and Mobile apps too (Xamarin)

[2020-02-20 22:17] kikisaints commented on #1639
@chingucoding your summary is correct to my understanding of the problem. If you'd like to go ahead and take this bug/issue, that's more than okay with me :smile: design has been looking forward to this change for a little bit now.

[2020-02-20 22:40] BrandonKuenzi opened #2006 "Question: Can ConnectedAnimationConfigurations be Applied to Coordinated Animations?"
We are trying to update our projects targeted Windows version to 1809 but the changes to how coordinated animations work create a very ugly UX in our app. Previously navigating to a new page would cause a button's image to translate to the new page's header (Connected Animation) and a couple different text elements would follow right below this image as if they are pinned below (Coordinated Animat

[2020-02-20 22:40] stmoy opened #2007 "Proposal: TabView Parity with WCT TabView"
# Proposal: TabView Parity with WCT TabView

## Summary

The WinUI TabView is missing two main features relative to the Windows Community Toolkit TabView:

**Tab Width Behavior: Compact** [API Link](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.ui.controls.tabwidthmode?view=win-comm-toolkit-dotnet-stable)

The unselected tabs show only their icon and no text until they are sele

[2020-02-20 23:12] mdtauk commented on #2007
Can we get Tab Placement for sides and bottom at some point too?

[2020-02-20 23:13] stmoy commented on #2007
This issue is specifically about getting to parity with the Windows Community Toolkit version. We'd like to have alternate Tab Placement modes, but those features are tracked in #1332.

[2020-02-20 23:22] mdtauk commented on #2002
This is similar to a suggestion I made before about inner and outer borders for pop-over and flyout surfaces.

![Flyout Designs](https://user-images.githubusercontent.com/7389110/74989225-b5e77200-5437-11ea-9ef7-8a0d93f95967.png)

This ensures with or without a shadow, there is still some kind of border, which doesn't look quite as awkward.

[2020-02-20 23:42] SpencerHurd commented on #1639
@chingucoding What you are saying is correct, if _Luminosity Opacity_ is specified then we want to remove the bounds on the luminosity color value so it inherits the tint color value unaltered. We also want to make sure tint opacity uses the supplied _tint opacity_ value unaltered.

Very cool, thank you!

[2020-02-21 00:01] chingucoding commented on #1639
From the source code, it seems like the tint opacity does get in fact get altered, when we use it for the tint layer.

For the luminosity layer, we are using the "raw" value i.e. we take the tint color and set its alpha value to the tint opacity value, and then continue calculating the luminosity color.

Is this what you would expect @SpencerHurd ?

[2020-02-21 02:09] MikeHillberg commented on #1633
This in part is likely boxing overhead, the kind of thing that would be helped by using [XamlDirect.GetInt32Property](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Core.Direct.XamlDirect.GetInt32Property) rather than DependencyObject.GetValue.

[2020-02-21 07:43] pjmlp commented on #1972
@zezba9000  Thank you for the information, lots of impressive stuff you have done, kudos!

I guess in what concerns managed support for DirectX we can only count on community efforts like yours, after tanking Managed DirectX and XNA, the C++ MS crowd took over DirectX development efforts.

At very least any of these projects can count with my advocacy, as marketing to show others that it doesn't n

[2020-02-21 09:48] chingucoding commented on #2007
I would like to tackle this issue :)

CC @ranjeshj @jevansaks

[2020-02-21 13:50] Felix-Dev opened #2008 "Proposal: Single-instance mode for WinUI Desktop"
## Summary
Currently, Win32 apps are multi-instance by default. If you want to realize the default UWP single-instance behavior developers need to add additional logic to implement this behavior which might not be straightforward. It would be nice if WinUI Desktop apps can easily switch between single-instance and multi-instance behavior thanks to in-built framework support.

## Rationale
With Des

[2020-02-21 17:29] dotMorten commented on #2008
@Felix-Dev Doesn't this apply to all kinds of Win32 apps and not specific to the UI Framework you chose to use? And if so, shouldn't this issue really be in the .NET 5 repo?

[2020-02-21 18:29] m2058 opened #2009 "Why you people still can't provide a consistent UI? Whats wrong with you people?"

[2020-02-21 18:30] Felix-Dev commented on #2008
@dotMorten I don't know about the the roadmap and plan of investments for Win32 apps going forward. We do know that many future investments in the desktop space will happen in WinUI Desktop such as new Windowing APIs like easily extending into the titlebar. Currently, this is the best place to ask about WinUI Desktop and, from what I've seen, the only MS repo for now where WinUI Desktop has consid

[2020-02-21 18:48] ranjeshj commented on #2009
@m2058 Can you provide more details ? What do you find to be inconsistent with what ?

[2020-02-21 18:51] m2058 opened #2010 "The following are the requested features...."
Context menus need to be consistent. if possible, make them like these:
![image](https://user-images.githubusercontent.com/39938037/75062597-3c20b880-550b-11ea-91de-a3a54812b9bc.png)

and also the login scree, profile image is too huge.
proposed design:
![Login Screen](https://user-images.githubusercontent.com/39938037/75062840-b81b0080-550b-11ea-92ac-fdef237542f8.png)

[2020-02-21 18:53] SpencerHurd commented on #1639
Lets see 'm not 100% sure.

Once luminosity opacity is supplied:
- We do not want to adjust the _tint opacity_ value at all, but use the original provided value.
- The _luminosity color_ should have nothing to do with _tint opacity_ at all, just use the raw color (not opacity) of the tint color value, with no brightness caps on getting too white or black.
-The _luminosity opacity_ should use the _

[2020-02-21 19:00] joseartrivera opened #2011 "ItemRepeater with ItemTemplate crashes when used in multiple views with ApplicationView API"
**Describe the bug**
ItemRepeater with ItemTemplate crashes when used in multiple views with ApplicationView API

WinRT information: Failed to assign to property 'Microsoft.UI.Xaml.Controls.ItemsRepeater.ItemTemplate'. [Line: 0 Position: 0]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Download repro app: [ItemRepeaterCrash.zip](https://github.com/microsoft/microsoft-ui-xaml

[2020-02-21 19:08] kikisaints commented on #1639
It's important to call out, since we don't want to eliminate any pre-existing behavior that app developers may be relying on, that:

- If the luminosity opacity/alpha value is **not set**, it operates the way it does today in the code snippets you've highlighted
- If the luminosity opacity/alpha **is set** then it should be set directly and in the ways Spencer has detailed above

[2020-02-21 19:18] ranjeshj commented on #2011
@Austin-Lamb @kennykerr any ideas why we might be hitting this ? Seems to happen only for ItemsRepeater, other controls from muxc seem to work fine.

 	KernelBase.dll!RaiseException()	Unknown
 	combase.dll!SendReport(HRESULT error=RPC_E_WRONG_THREAD The application called an interface that was marshalled for a different thread., unsigned int cchMax=0, const wchar_t * message=0x00007ffe3c0748f0, u

[2020-02-21 19:31] yoshiask commented on #1958
@widersky That isn't a problem with tiles though. That same issue will continue with or without tiles or live tiles.

[2020-02-21 19:34] zezba9000 commented on #1972
@pjmlp Ya the CS2X part is what will allow for writing agnostic GPU shaders in C# (which is cool because you will be able to Unit-Test your shaders in theory).  For targets that can make use of a C# subset, CS2X allows me/others to target platforms outside what current .NET runtimes support with an very lightweight runtime as CS2X can compile C# to a C89 runtime.  Because the Orbital-Framework can

[2020-02-21 20:30] ranjeshj opened #2012 "leverage C++ modules support recently added to Winrt/C++ to improve build times"
https://github.com/microsoft/cppwinrt/pull/495 added support for C++ modules as an alternative to precompiled headers. This can help reduce build times and improve incremental build times.

[2020-02-21 21:17] chingucoding commented on #1639
Yes the only case where we want to change stuff is when luminosity opacity is actively set.

Yes this whole maths is a bit complicated. So summary:

The Luminosity layer should behave the following:

* Luminosity not specified: Leave as is
* Luminosity specified: Use `tint color`, `tint opacity` and `luminosity opacity` all unmodified

The other layers are already correct as they are. Is this corr

[2020-02-21 21:33] kikisaints commented on #1639
@chingucoding that looks correct to me. That you for summarizing.

[2020-02-21 21:48] mariorancic01 commented on #1972
Is it going to be possible to use HwndHost with WinUI 2.4
I tried at prerelease version and this didn't work.
Also  is it going to be possible with WinUI3 with all this new planned Windowing (XAML Window) and Application (XAML Application) and if yes when we can expect first preview to see that.
Actually if it is going to be possible in WinUI3, will this functionality be added to WinUI 2 new relea

[2020-02-21 23:32] SpencerHurd commented on #1639
That is correct! Love it! thanks for stating it so simply.

[2020-02-22 02:15] m2058 commented on #2009
context menus, app layouts, flyouts,and more

[2020-02-22 12:30] kmgallahan commented on #2010
@m2058 This repo is not the place for random Windows 10 feedback.

[2020-02-22 12:31] kmgallahan commented on #2009
@ranjeshj Fairly sure he doesn't understand the purpose of the repo, and thinks it is just for Windows 10 feedback. #2010

[2020-02-22 12:33] #2009 closed

[2020-02-22 12:33] #2010 closed

[2020-02-22 13:53] ranjeshj commented on #2009
@m2058 More details/pictures on specific UI side by side and what you find inconsistent (which apps it came from and maybe which technology) would be helpful and possibly actionable. In this repo, we build framework/controls and we try to be consistent in the set of controls we build. App developers can use it to build apps and customize it to fit their needs. Unfortunately without more informatio

[2020-02-22 14:52] kmgallahan opened #2013 "Discussion: Let's try to get this repo into the Discussions beta"
# Discussion: Let's try to get this repo into the Discussions beta
I just learned that GitHub has introduced [Discussions in beta](https://github.com/zeit/next.js/discussions).

Let's get rid of these "discussion issues", and try to be an early adopter of the new Discussions feature!

Good idea? Bad idea?

Where should proposals fit in? Issues or discussions?

I personally have always disliked cal

[2020-02-22 17:32] jtorjo commented on #1972
@zezba9000

Good luck with this! It's an insane amount of work!

[2020-02-22 19:44] jtorjo commented on #1972
**Will WinUI 3 improve on the processing of videos?**

(side note: what UWP has right now, IMO are some things you can't tweak much, and you pretty much need to start off from preexisting examples, and pray they'll eventually suit your needs. the Media.Editing documentation is severely lacking)

The following may seem convoluted, please let me know if it doesn't make sense. Long story short, what

[2020-02-22 19:59] Felix-Dev commented on #1939
@FrecherxDachs I seem to be in a pitch again. Using protocol activation I can launch a second app instance just fine, the issue is I currently don't know how to bring my primary ap instance to the foreground with **focus**. I am calling [AllowSetForegroundWindow](AllowSetForegroundWindow) from my second app instance and passing it the process ID of my primary app instance. The function returns suc

[2020-02-23 12:42] contextfree commented on #1972
There's an issue open for a way to host user32/comctl or WPF UI inside WinUI XAML: https://github.com/microsoft/microsoft-ui-xaml/issues/1833

It looks like it won't be made until after 3.0, if it is made.

[2020-02-23 13:03] jtorjo opened #2015 "Proposal: Media Composition done right"
# Proposal: Media Composition - allow access to all input media clips, when drawing

## Summary

Say I want to render some complex media clips to into a video. Right now (at least to my knowledge), I can only do slight modifications to each video (like offseting + opacity, using overlays). However, if I want to do anything more complex, it's impossible.

**What we need - on each output frame, to h

[2020-02-23 13:08] chingucoding commented on #2007
I have already finished most features of this proposal, however there are a few questions that came up during development:

1. How should we handle "Compact" mode with tab items that have no icon? Should we show nothing (which looks a bit confusing in my opinion)
2. How should the "Auto" `CloseButtonOverlayMode` work?

Current status:
![intial-feature-set-tabview-v1 1](https://user-images.githubus

[2020-02-23 15:14] Felix-Dev commented on #2013
This repo is currently also the only place where we can have discussions about the WinRT API surface/UWP app model in an acceptable fashion. As a result, we've seen multiple proposals/discussions being opened over the past weeks and months which do not belong to WinUI at all. In that sense, having those threads grouped outside of the WinUI issues space seems like a good call to me and the new Disc

[2020-02-23 15:42] Felix-Dev commented on #2007
@chingucoding Based on a [previous spec](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/28#discussion_r288385627) for TabView:

**CloseButtonOverlayMode**

@stmoy can say if anything has changed since then (I'm not aware of a spec change). I think it's fine if you'll go ahead and treat `Auto` as mapping to `Persistent`.

[2020-02-23 15:59] chingucoding commented on #2007
If `Auto` should behave like `Persistent` is there any reason to have that option at all?
Having multiple options that are equivalent creates unnecessary confusion in my opinion.

[2020-02-23 16:07] Felix-Dev commented on #2007
@chingucoding Reading further through the spec review of TabView V1, it seems there is still room for discussion about this setting in a future TabView V2 spec. The default value itself (currently `Persistent`) might be up to a change. Based on this thinking, using `Auto` in your UI would always give you the current default button overlay mode if your app's TabView should follow the default system

[2020-02-23 19:23] jtorjo commented on #2013
@Felix-Dev

Agreed 100% !

[2020-02-23 21:08] Felix-Dev opened #2018 "TabView: Close button of tab items shows item header on hover"
**Describe the bug**
When hovering over a TabView item's close button, the displayed tooltip reads the content of the item header. Instead, the displayed content should match that of Edge UWP/Edge Chromium:
![image](https://user-images.githubusercontent.com/1398851/75119930-a8282b80-5687-11ea-8a8b-f400749b801e.png)

**Steps to reproduce the bug**
1. Open the XAML Controls Gallery
2. Go to the TabV

[2020-02-23 22:30] benstevens48 commented on #802
@jevansaks - I have new information that will help solve this absolutely critical bug. Please take a look at it. If this issue doesn't get any attention I will open a new one.

I have created an absolutely minimal project to demonstrate the issue - [TestMultipleViews.zip](https://github.com/microsoft/microsoft-ui-xaml/files/4242513/TestMultipleViews.zip)

Steps to reproduce the issue are the same.

[2020-02-24 00:24] chingucoding commented on #2007
There are pro's and con's to that reasoning. On the one hand, yes developers always align with the system when we say "Auto will always be the default, but what Auto will actually be may change".

But what happens if we change what `Auto` maps to? Then, apps behaviors may become more inconsistent as the TabView has changed without the app being updated for that accordingly i.e. that there may be v

[2020-02-24 08:38] mariorancic01 commented on #1833
We also have similar problem. Right now we have WPF app that uses lot of c++ code through HwndHost control. We are planing to move Wpf app to WinUI and moving Xaml works great without problems, but what about HwnHost, is this going to be possible with WinUI3.

[2020-02-24 08:51] mariorancic01 commented on #1972
I post this to #1833
<https://github.com/microsoft/microsoft-ui-xaml/issues/1833> but I ll copy
it here too:  Right now we have WPF app that uses lot of c++ code through
HwndHost control. We are planing to move Wpf app to WinUI and moving Xaml
works great without problems, but what about HwndHost, is this going to be
possible with WinUI3.  In our case we are doing interoperability with
DirectShow

[2020-02-24 10:27] jtorjo opened #2019 "Proposal: A fast in-memory video frame reader"
# Proposal: A fast in-memory video frame reader

We need a fast way to read video frames. MediaPlayerElement is tied to the UI thread, and is too slow.

## Summary

We need a fast way to load in memory the information for several seconds of footage from a video.

## Rationale

This is an alternative to #2015 . Having both would be great, but having this would be enough.

Lets call this class `Fast

[2020-02-24 16:40] ranjeshj commented on #2018
@stmoy Does this sound reasonable to you ?

[2020-02-24 16:49] ranjeshj commented on #2013
@kmgallahan Thank you for suggesting. Definitely looks interesting. Taking a look. @jesbis as FYI.

[2020-02-24 17:51] stmoy commented on #2018
Seems righteous to me! I believe the current ToolTip comes from the tab itself (ie. the x-to-close button doesn't have its own tooltip), but I think matching the behavior of Edge seems like a good thing to do.

[2020-02-24 18:13] Felix-Dev commented on #2018
@stmoy Correct. I had to add a tooltip specifically for the tab close button. Without that, the tooltip shown is the tab tooltip, i.e. [SecondTab] if that's the header of the tab (see pic above).

[2020-02-24 19:25] mveril opened #2020 "Proposal:"
# Proposal: system tray icon for WinUI 3 Desktop (Win32 and .net Core)

## Summary

Add the ability to create NotifyIcon in system tray area. for WinUI 3 Desktop

## Rationale

* Allow user to access to the app anywhere.
* Allow an app that run in background to propose a context menu.
* Increase portability of classic Win32 apps based on the system tray model.

## Scope

| Capability | Priority |

[2020-02-24 19:26] stmoy commented on #2007
In general, my philosophy is: do what WCT does (unless what WCT is bad).

WCT behavior in this case seems to be agnostic to the Icon/Content - meaning the Tab always has a fixed width for both the unselected and selected state. This results in the behavior of the Text showing when the tab is unselected, which I don't think is a great look.

The following markup produces the following visuals:
[cod

[2020-02-24 20:40] shaheedmalik commented on #2020
Windows 10X doesn't support this. I don't think it should be brought back.

[2020-02-24 20:50] chingucoding commented on #2007
Yes that seems to be the best way in my opinion. Showing 3 letters of the TabItem header usually isn't really helpful, so I think this is the best way to handle missing icons.

Oh, I see. I have updated the PR accordingly so that `Auto` behaves the same as `Persistent` .

[2020-02-24 20:57] shaheedmalik commented on #1958
I wish for the tiles in start menu to mirror the way that icon, list, and detail views are in Explorer. They all should be a different view.

[2020-02-24 22:38] chingucoding commented on #1332
Something that might be worth exploring and @Felix-Dev and I discussed on the UWP Community Discord is the ability to change the keyboard accelerator for closing tabs. For example, some developers might want to use the same hotkey as Edge for closing tabs, which currently would be a bit hard to implement.

[2020-02-24 22:45] chingucoding commented on #142
@chigy Have you had time to check with design whether we want the proposed design instead of the current? 😅

[2020-02-25 00:00] JohnnyWestlake commented on #2019
Surely this can already be done with MediaPlayer, which is *not* tied to the UI thread?

[2020-02-25 00:04] JohnnyWestlake commented on #2015
(If you want to do this now with UWP, you can using MediaOverlays which can stack as many MediaClips on top of each other as you want, and through your own implementation of IVideoCompositor you can choose how to blend and show them. It can get a little awkward queing them up as you might need to put a bank clip in the base MediaComposition, but something for you to look at)

[2020-02-25 00:11] jtorjo commented on #2019
I will need to retest this. I did not use FrameServer mode initially, and it was very slow. Will retest. Thanks for the suggestion!

[2020-02-25 00:19] jtorjo commented on #2015
@JohnnyWestlake Thanks! Will definitely take a look! So long story short, I would just use MediaOverlays instead of MediaClips, and create a Video compositor.

I'll try this for sure! Will keep you posted as soon as I try it.

[2020-02-25 00:33] JohnnyWestlake commented on #2015
In essence yes, but it's not the most intuitive set of API's. The duration of the video is still determined by the contents of MediaClips (you can generate a blank clip from something like MediaClip.FromColor), so you still need something there, even if blank. And you have to deal with creating a WindowsRuntimeComponent and queuing the MediaOverlays correctly which can get awkward.

It's all techn

[2020-02-25 01:00] jtorjo commented on #2015
@JohnnyWestlake Sounds cool! :D Having said that, I will certainly give it a try.

About using the MediaClip.FromColor trick - already been doing that in another place so I'm aware of that trick :)

About creating a WindowsRuntimeComponent - that was weird - but I've end up making it work somewhere else, so I can do it again.

Queing the MediaOverlays correctly - I don't see that as the main probl

[2020-02-25 13:12] Felix-Dev opened #2023 "Framework-provided keyboard accelerators should be localized"
**Describe the bug**
When discussing issue #2018 with @chingucoding we noticed that currently framework-provided keyboard accelerators are not localized. For example, setting the app language to German and using the `Copy` StandardUICommand for a context menu item, we get the following result:
![image](https://user-images.githubusercontent.com/1398851/75249796-3bbc4200-57d7-11ea-8d5b-573ed20e0adb.

[2020-02-25 13:32] SuperJMN opened #2024 "Discussion: WinUI should be cross-platform"
Hello everyone.

For those that don't know me, I've been a veteran, die hard XAML developer since 2008. I've been involved in almost everything that was minimally related XAML (including WPF, Xamarin Forms and UWP, among others) and the only reason I'm writing this is to help and **to be the voice a huge number of Forgotten Developers that are out of the loop** already and **jumped ship** because

[2020-02-25 14:07] MartinHorst opened #2026 "UWP TextBox backspace not working"
**Describe the bug**
I add a normal TextBox inside a page.
`<TextBox x:Name="textBoxTest" TextAlignment="Center" Width="76" />`

In the code behind file I assign a text to the TextBox control

this.textBoxTest.Text = "1";

**Steps to reproduce the bug**
Click inside the TextBox between the text and the clear button near to the right side of the text.
In some case the TextBox got the focus. I can i

[2020-02-25 14:25] Noemata commented on #1438
The de-emphasis of UWP has been painful to witness.  Now, when you do a search on channel 9 for UWP content, you get Xamarin content.  It's such an obvious ploy.  Please stop trying to morph UWP into something else!  Re-invest, double down, and make it work.  UWP does not need a course correction, it needs a the Xamarin and Office teams to get on board.  Internal Microsoft politics are killing UWP

[2020-02-25 14:42] TonyHenrique commented on #2024
I think that Xamarin will merge into .NET 5;
It would be great if they adopt the UWP XAML as the standard and work from there on, Microsoft and UNO making it the best for Desktop, Mobile, Web Browser (Azure) and IoT. They could call it
UWP vNext (WinUI based)/ Silverlight 6 (UNO)

[2020-02-25 17:07] #1821 closed

[2020-02-25 18:12] ranjeshj commented on #2020
@jesbis can you please route this request ?

[2020-02-25 18:20] ranjeshj commented on #2006
@stmoy as FYI.

[2020-02-25 18:21] yaichenbaum commented on #2020
@shaheedmalik I would argue that just because Windows 10X doesn't support it, it doesn't mean Windows 10 shouldn't. Keep in mind there are over 950 million users of Windows 10, while some might make the switch to Windows 10X, Windows 10 will still be around for quite some time.

[2020-02-25 18:28] FrecherxDachs commented on #1939
@Felix-Dev Sorry for the delay, I was busy the last days.

If I get it right, the main problem seems to be the restrictions by the OS regarding to bringing some window in the foreground.

In our solution we use [Remoting / IpcChannel](https://docs.microsoft.com/de-de/dotnet/api/system.runtime.remoting.channels.ipc.ipcchannel) to call into the primary app and then we use WPF APIs to bring the windo

[2020-02-25 19:06] RChrisCoble commented on #717
Support the Blazor hosting model native in WinUI.  This would allow a Blazor control to be used directly in Client/Server web, or used directly in WinUI.  The Blazor roadmap has this future concept without using a WebView control.  This way the control's UI runs native with the .Net Standard portion of the code also running native.

[2020-02-25 19:10] Felix-Dev commented on #1939
@FrecherxDachs I'm already using `SendMessage` to call back into the primary process itself. Here's an overview of my current process. Note that when a notification arrives, my app might be in the background (so calls to `SetForegroundWindow` won't work). In light of this, here's the approach:

User clicks on a notification -> a second app instance is launched
1. The second app instance calls `All

[2020-02-25 19:18] sharpninja commented on #2024
Everything you guys want is already happening with Uno.  MS would be wise to buy those guys out and then hire them to shepherd along the final development of Uno.

[2020-02-25 19:19] jesbis commented on #2020
@marb2000 FYI

[2020-02-25 20:46] Mike-EEE commented on #717
Discussed on the Blazor side, FWIW:
https://github.com/dotnet/aspnetcore/issues/11082

[2020-02-25 21:53] nerocui commented on #2024
This is probably the wrong place to request a feature like this. As much I would like to agree to everything in this request, I believe the WinUI team and a lot of senior dev in the Windows community hold WinUI to be defined very narrowly.

In an ideal world, WinUI would just be like Material Design. There will be ways to have it in any platform with all kinds of library that implements it. Howeve

[2020-02-25 22:11] robloo commented on #1972
Really good WinUI Community call last week! The content was very interesting and detailed/technical enough to provide a lot of insight. The roadmap/development status updates are also extremely valuable for consumers of WinUI and our own development roadmaps. I look forward to the next call!

[2020-02-26 00:23] Gavin-Williams commented on #2024
No it shouldn't be cross-platform. It's called Windows UI for a reason. Let's just get a UI system that works across all of Windows (platforms and languages) to start with hey? That hasn't even been achieved yet. We are still split between .net framework, .net core, uwp, and then the C++ story, which at least has uwp, but no game dev's use it, because UWP/WinRT still isn't mature enough for game d

[2020-02-26 01:32] Gavin-Williams opened #2027 "Proposal: Provide API to disable TitleBar and TaskBar popups"
An issue exists with UWP applications and presumably with any WinUI that builds against UWP where the TitleBar and TaskBar popups interfere with the applications user interface, when in fullscreen. I can't believe I even have to explain this stuff. But after the last WinUI community call, it was evident that some people have a very narrow understanding of how apps should behave, and this needs to

[2020-02-26 01:49] Gavin-Williams commented on #1323
There are many problems with the application/window model on Windows, different frameworks and languages have different API's and behavior.  Features are missing in one or the other. This stuff is way overdue. Some serious issues have existed from the start of UWP. Don't think it's just one thing or another. There are many issues that all need to be fixed.

[2020-02-26 03:29] lindexi commented on #1438
@Noemata Is it an office note?

[2020-02-26 04:28] stevenbrix commented on #1633
@MikeHillberg, @AaronRobinsonMSFT looked at this the other day and found that there is a lot of GC overhead that we are causing, most likely due to the high amount of allocations. Hopefully with cs/winrt we can improve this, although unlikely in the WinUI3.0 timeframe.

[2020-02-26 04:34] stevenbrix opened #2028 "Perf: managed interop overhead"
Creating this issue so this can be tracked. There's nothing I have in mind at the moment that needs to be addressed immediately.

Basically what I found was that in the simple repro app provided (see #1633), the managed app had 10x worse perf than native. Digging into the issue showed that 25% of the time was due to GC caused by Xaml. While this app was not the best of benchmarks, we need to under

[2020-02-26 04:36] stevenbrix commented on #1633
I've created #2028 so we can track the managed interop layer. We should move any discussion about that there, and let this issue stay related to `DependencyObject.SetValue` perf, which was still much worse for native WinUI apps than WPF

[2020-02-26 05:38] MikeHillberg commented on #1633
You're seeing GC overhead even when using [XamlDirect.GetInt32Property](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Core.Direct.XamlDirect.GetInt32Property) instead of GetValue? GetInt32Property is typed so that boxing isn't necessary, which saves a lot of allocations.

[2020-02-26 05:58] stevenbrix commented on #1633
No, just with DependencyObject.SetValue. Let's continue discussion on the other issue, so this can stay focused on DependencyObject.SetValue perf and not related to interop overhead.

[2020-02-26 06:04] stevenbrix commented on #2028
From #1633

@MikeHillberg, I didn't test out this scenario, because I didn't think we recommended developers to use these APIs? I feel like it's important to measure the actual scenarios. Or do you think that will help narrow down the issue?

The GC overhead I'm referring to is from Jupiter calling out to .NET through the IReferenceTracker interfaces. I was thinking this was mostly due to the even

[2020-02-26 06:29] Nirmal4G commented on #2018
Close button should show `close <tabName> tab` text while the tab tool tip should show `<tabName/tabTitle>` itself. here, `tabName` should be a short 64char limited friendly identifier (e.g.: domain name part of the url, friendly short name, etc...) and `tabTitle` can be anything the user/app sets it to (e.g.: page title in the case of web page).

I prefer this kind of behaviour.

[2020-02-26 08:27] aosyatnik commented on #1975
Hi, @Austin-Lamb , sorry for the long reply. I can not reproduce this issue with `MediaPlayerElement`. Just pushed new changes. Thanks.

[2020-02-26 08:38] jtorjo commented on #2028
@stevenbrix
You said in the other thread:

That would be prety sad, because using dependency properties is a must in any decent app. I'm using it heavily in my apps. I'm pretty sure this would be a blocker for me and for others.

[2020-02-26 09:18] SuperJMN commented on #2024
@Gavin-Williams

Wonderful, let's do a slightly evolutionary upgrade over WPF.

"All Windows devices run UWP" means nothing without mobile. HoloLens is niche, Surface Hub is niche, Windows 10 IoT Core is a joke.

As a developer, hard coupling gives me goosebumps. Is there any major reason why the graphics stack cannot be interchanged?

It's called "modularity". Microsoft has always struggled with

[2020-02-26 11:12] zenjia commented on #1517
Just as as **jtorjo**  mentioned, the compiling of UWP/C# projects is many times slower than WPF(even in release mode and the .NET Native checkbox is unchecked), which is very frustrating for me. Hope WinUi can change this.

[2020-02-26 11:46] Mike-EEE commented on #2024
I think it's worth mentioning and reminding that Google is developing Flutter and they are not calling it GoogleUI or AndroidUI.  It works everywhere -- even on the web and desktop.  I state this as there seems to be a propensity to "just get it working on Windows" but if another competitive offering exists that is cheaper, faster, easier to use, AND works on Windows + everything else... what will

[2020-02-26 12:38] Gavin-Williams commented on #2020
I think system tray icons should be removed from Windows completely. We should move to having all applications on the task bar for consistency. It is nonsensical to see apps in both places. Why is one app on the task bar and another in the sys-tray, and another in both? There is no logic to it.

If you want some icons on the right and some on the left - we don't need a system tray, what we need is

[2020-02-26 12:40] zhuxb711 opened #2029 "NavigationView a blank space of back button"
**Describe the bug**

If the IsBackButtonVisible property of A is set to Collapsed, there will still be a blank space at the position of the return key.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set IsBackButtonVisible = Collapsed

**Expected behavior**

Without blank space like this:
![image](https://user-images.githubusercontent.com/42038175/75345620-08151100-58d8-11ea

[2020-02-26 13:26] Xarlot commented on #1633
We definitely can use more efficient API. Thanks for the hint.
However, we expect the new framework to be faster and more efficient. What the point of the new framework if it`s slower than 10+ years old predecessor (WPF)? ;)

Looking forward to net core 5 integration

[2020-02-26 13:29] mveril opened #2030 "Proposal: WizardView control"
# Proposal: A WizardView control

## Summary
Add a WizardView control in WinUI.

## Rationale

* Wizard is a very common control especially for win32 apps.
* That can be useful to create app based on the wizard model.
* That can be useful for first configuration step.

This control can follow the same way that [Extended WPF Toolkit wizard control](https://github.com/xceedsoftware/wpftoolkit/wiki/W

[2020-02-26 13:40] asierpn commented on #2024
Porting DirectX to other platforms seems a vaste work, maybe the solution is to use OpenGL or Vulkan instead of DirectX

[2020-02-26 13:41] Nepxune commented on #1958
Live tiles are very, if not extremely integral to my workflow, Live tiles when utilized correctly can transform the start menu into a versatile central hub of information, which is how I currently utilize it. I can take a quick glance at my Start screen and if I see anything important I can choose to go to the app and view the context, otherwise I would be dependent on waiting for a push notificat

[2020-02-26 13:46] vascofernandes commented on #1965
I ma not able to run a WinUI3 UWP app with WebView2 v0.9.430.

The app just crashes.

https://www.nuget.org/packages/Microsoft.Web.WebView2/0.9.430

[2020-02-26 14:05] zhuxb711 commented on #2029
IsTitleBarAutoPaddingEnabled="False" works

[2020-02-26 14:05] #2029 closed

[2020-02-26 14:13] mveril commented on #2020
Maybe I am not sure. For me system tray icons don't have the same utility as the  taskbar icons:
- The taskbar icons  are for open windowed apps and interact with it.
- The system tray icons are for background applications (antivirus, cloud synchronization) and allow us to interact with these activities without opening any windows (with context menu and flyoutsl like OneDrive, the sound icon and m

[2020-02-26 14:13] chigy commented on #142
@chingucoding , yes as a matter of fact.
@YuliKl , we can consider this change for the controls update for the future.

That said, please don't add the vertical line you added. That's not part of the design.

[2020-02-26 14:44] ranjeshj commented on #1517
@danzil @fabiant3-zz - FYI for compiler/tooling performance. @bartekk8 @Austin-Lamb - FYI for runtime performance.

Looks like there is another discussion on compiler performance [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1535).

@asierpn If you have a specific scenario (navigation) that is not performant, can you please open an issue with a repro so it can be investigated indepe

[2020-02-26 14:52] ranjeshj commented on #2028
@stevenbrix Are these mainly allocations that is causing the overhead ? Are there any low hanging transient allocations that we could avoid ? @bartekk8, this would be a good scenario to track performance on.

+1 on improving GetValue. Looking at GC overhead of XamlDirect.GetInt32Property might provide some clues.

[2020-02-26 14:54] #1975 closed

[2020-02-26 15:05] ranjeshj commented on #2027
@Gavin-Williams are you talking about [windows notifications](https://support.microsoft.com/en-us/help/4028678/windows-10-change-notification-settings)  ?

[2020-02-26 15:56] stevenbrix commented on #2028
It's a little early to tell. It's definitely due to allocations of some sort, and it would probably be good to look into `XamlDirect.GetInt32Property` to see if this is mostly due to boxing or the creation of event args. Or we could measure the current scenario, but not use a custom DP with a callback (to avoid event args creation).

@jtorjo I just mean by the time we release WinUI3. The unfortuna

[2020-02-26 16:15] jtorjo commented on #2028
@stevenbrix I can imagine it's a lot of work. I was a bit circumspect from the start that we'll see  a WinUI 3 so soon.

Having said that, if I were to use WinUI3 from a non-sandbox model, once WinUI3 is released, will I suffer from the same issue as outlined by this bug, or will this be 100% UWP related?

(I'm assuming it's the former, but just want to be sure)

[2020-02-26 16:20] stevenbrix commented on #2028
@jtorjo - correct, this doesn't really have anything to do with the sandbox. It's still unclear what the characteristics will be in WinUI3, since we're moving to something new.

[2020-02-26 16:29] MikeHillberg opened #2031 "Text doesn't respect requested High Contrast colors"
**Describe the bug**
Xaml text has a feature where it ensures text is high contrast when the user has enabled high contrast mode. It does this by ignoring any Foreground color that's been specified for the text, and by adding a fixed background.

You can disable this behavior with the [UIElement.HighContrastAdjustment](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.UIElement.HighContrastAdjust

[2020-02-26 16:38] paulovila commented on #2024
@Gavin-Williams, I don't know if you are familiar with UWP, but when you build/distribute you target a specific version (or version range) of Windows. That idea is absolutely coupled, and one of the reasons why UWP didn't go as mainstream as WPF did.
@nerocui the whole purpose of a UI language is to de-couple the UI design from the raw drawing in a screen. That's why you see HTML being able to ren

[2020-02-26 16:53] #1984 closed

[2020-02-26 17:35] chingucoding commented on #142
Thanks for the update @chigy !

Is this proposal a change the WinUI team would like to do now, or something that should be done later?

If this is something that would be fine to do now, I would love to implement this!

[2020-02-26 18:23] sharpninja commented on #1958
Move tiles to desktop with more shapes and arrangement options.

[2020-02-26 18:51] danzil commented on #1517
We're well aware that UWP/WinUI project compile performance, including full and incremental builds, can be way better and we're taking steps to make it so. Issue #1535 that Ranjesh mentioned tracks that.

[2020-02-26 18:51] asierpn opened #2032 "Navigation and render performance is slow"
**Describe the bug**
In our case we are using UWP for a LOB app and we have found big performance issues in two common scenarios:

1. We need to put a lot of data in some views, so we use use datagrid inside pivot or tab controls, this generates big visual trees of more than 5000 items which are hard to reduce more. The first load of the visual tree or when you switch from one tab to another is no

[2020-02-26 18:54] asierpn commented on #1517
@ranjesh I've opened the issue #2032  explaining better our scenario and with a sample app.

[2020-02-26 18:59] jtorjo commented on #1535
@danzil About your post on #1517 : That's great! Is there any ETA when we'll have something?
As an FYI, the more recent of a Windows version you're targeting, the worse the compile time.

Right now, I'm targeting 1903, and just the deployment itself takes 6+ seconds! (no building at all). On 1809, deploment was less than 1 second.

Anything you can give us would be great - I don't mind creating a

[2020-02-26 19:28] danzil commented on #1535
@jtorjo please add your voice to #1517, especially the numbers you've just listed. That helps us back the investment we're adding behind that effort. I wish I could give you a definitive ETA, but I can't. All I can say at the moment is that we've identified a substantial amount of design improvements we want to make and they're all queued up in our internal work item tracking system.

[2020-02-26 19:43] ryandemopoulos commented on #1323
Note: During our last community call, Miguel Ramos mentioned that he's working on a Windowing spec for WinUI that will introduce proper types/concepts for application & window objects.  The spec should be made public soon; he showed off parts of it on the call.

Link: https://www.youtube.com/watch?v=tasbSc3771A&feature=youtu.be&t=2370

[2020-02-26 19:49] jtorjo commented on #1517
@danzil As an FYI, the more recent of a Windows version you're targeting, the worse the compile time.

Right now, I'm targeting 1903, and just the deployment itself takes 6+ seconds! (no building at all). On 1809, deploment was less than 1 second.

Here are a few other notes:
- if I have a project, say edit_ui, and another project depends on it, say test_ui. If I modify anything in the xaml part o

[2020-02-26 19:49] jtorjo commented on #1535
@danzil Done, thanks!

[2020-02-26 19:59] danzil commented on #1517
@jtorjo thanks for adding your experience! We've got all these issues in mind as we're designing the upcoming performance improvements in XAML compilation.

[2020-02-26 20:01] Noemata commented on #2024
I respectfully disagree with @SuperJMN.  Certainly, UWP has not yet attained feature parity with WPF.  Despite it’s limitations as a framework for building kernel level tooling, for virtually every other software development task, with the right capabilities specified in the app manifest, you have a much better user experience from multiple perspectives (security, ease of deployment, install/unins

[2020-02-26 20:04] jtorjo commented on #1517
@danzil Cool! Trust me, I'm more than looking forward to any improvements you guys may have. Probably on a daily basis, I'm wasting at least 45 minutest just compiling/deploying stuff.

[2020-02-26 20:06] benstevens48 commented on #2024
I very much agree that WinUI should aim to be cross-platform in the future. Here are some further thoughts.

### Immediate priorities
I agree with some of the comments that the immediate priority should be ensuring WinUI 3 works on Windows with .Net 5 integration and that bugs are fixed. However, if it is not already too late, when making architectural decisions, the aim of being cross-platform in

[2020-02-26 20:14] adambarlow commented on #1965
@vascofernandes we did not test with this version of the WebView2 nuget package (as it wasn't released yet). Please try version 0.8.355. Also please open a new issue so we can discuss there.

@nabilahmed739 the goal is to have a WPF element as well. So you would use that element and not the WinUI version for WPF apps.

[2020-02-26 20:18] Noemata commented on #2024
Looking at the evidence, folks like @SuperJMN have a lot of credibility given the content of thier repositories.  I can see @SuperJMN probably gave up on UWP while it was still maturing (understandable).  Microsoft would do well to review the repositories of folks commenting here.  Some voices aren't particularly credible based on the body of work they present to the world.

[2020-02-26 20:27] ipjohnson commented on #2024
@Noemata I used to be a huge XAML+MVVM fan. I've worked with it in Silverlight, WPF, WindowsPhone, Metro(WinRT). I burned out when it came to UWP and Xamarin ...

It's hard to see what separates this iteration vs. all of the other times I've looked at a new XAML stack.

[2020-02-26 20:45] jess-rod commented on #1992
Anything?

[2020-02-26 21:08] StephenLPeters commented on #2032
Are your issues exclusive to datagrid?  If so it might be more appropriate to open an issue on their repository: https://github.com/windows-toolkit/WindowsCommunityToolkit. Performance could likely be impoved on that control. My understanding is that it was a rather targeted addition and could maybe use some further optimization.  @RBrid for FYI.

[2020-02-26 21:21] StephenLPeters commented on #2030
@predavid this looks like a gap between WPF and winui that you (might be) looking into?

[2020-02-26 21:49] Noemata commented on #2024
Microsoft has put out some fantastic UWP sample apps.  They really do showcase nicely what's possible.

Here's a partial list:

https://github.com/Microsoft/Windows-appsample-customers-orders-database
https://github.com/microsoft/InventorySample
https://github.com/microsoft/VanArsdel
https://github.com/microsoft/BuildCast
https://github.com/microsoft/Windows-appsample-shopping

There are many more

[2020-02-26 22:46] marb2000 commented on #1972
**About HwndHost in WinUI 3.**
HwndHost allows to host  Win32 content inside of WPF.  Unfortunately there is no plan in WinUI 3.0 to support this, including in WinUI 3.0 Desktop or WinUI Islands. About the scenario @mariorancic01 described, did you evaluate UWP MediaPlayer APIs instead of DirectShow?

[2020-02-27 00:01] Gavin-Williams commented on #2027
@ranjeshj No, just the TaskBar and TitleBar popups.

[2020-02-27 01:36] jtorjo commented on #2024
@Noemata I agree, they really cool samples. But developing a complex app is insane, using UWP. It's certainly possible, but it's a lot harder. Yes, I do miss the WPF's "it just works" times.

One of the first things MS should give as a sample is a simple UWP app that that you can publish outside the MS store (and yes, it's not as easy as you'd think)

Another thing that does not sit well with me i

[2020-02-27 08:17] Gavin-Williams commented on #1958
I think icons, live tiles and shortcuts need to be upgraded so that we have even more flexibility with how we organize and control our apps.

* Rounded edges.
* Increase Win32 icon graphics to be consistent with UWP.
* Bigger icon grids, as big as we want.
* Live tiles / on desktop - this would be part of a live tile / icon unification.
* Separate background images for categories.

[2020-02-27 10:39] mariorancic01 commented on #1972
Well Uwp Camera looks better, but not sure can we use it in our scenario.
We are using camera as virtual camera with DirectShow and we need it show
video, to grab the camera stream for a photo and also with PjSip in the
same time, before we could just do it with DirectShow.  Can we use this Uwp
MediaPlayer with PjSip.

El mié., 26 de feb. de 2020 a la(s) 23:47, Miguel Ramos (
notifications@github.

[2020-02-27 11:41] mfe- commented on #2024
Greetings everybody,
as this a general discussion issue, and I don't know where to place my UWP wishes/ feature requests anywhere else..... I take the opportunity in this thread:

- Better support for integrating [uwp apps into the contextmenu of windows explorer](https://stackoverflow.com/questions/50664134/how-integrate-uwp-app-into-context-menu-of-windows-explorer-for-jpg)
  - Please support us

[2020-02-27 12:33] zipswich commented on #2024
Love the phrase "The Forgotten Developers".   I know lots of them who are talented, experienced, passionate about technologies.   They are veteran .Net developers.  I have no doubt they, generally speaking, can make better apps than many kids who thrive on app development for iOS and Android.
If WinUI can provide a pleasant and robust path for them to utilize their extensive experience in C# + .Ne

[2020-02-27 13:40] klettier commented on #1940
as @kmgallahan mentioned the search issue disappeared and I cannot reproduce the error ```Windows.UI.Xaml``` anymore.

Cheers

[2020-02-27 13:40] #1940 closed

[2020-02-27 14:03] sharpninja commented on #1958
I want this more than an other UI improvement for Windows.

[2020-02-27 15:49] Mike-EEE commented on #2024
[Got you covered here](https://github.com/microsoft/microsoft-ui-xaml/issues/741) @mfe- !

(Also, I am trying to post reactions to some of these posts but GitHub appears to be uncharacteristically grumpy this morning!)

[2020-02-27 16:32] jtorjo commented on #2024
@Mike-EE Wow, that's awesome! I remember running into this when I wanted to port CalcBinding to UWP. What I ended up doing is a workaround where I add readonly values in the view model.

[2020-02-27 17:06] solomonfried commented on #1446
This still fails in the WACK 10.0.18362.1
Is there a fix in the works? Has a new version of the SDK been released or announced?

[2020-02-27 17:56] chrisglein commented on #1992
Thanks for the detailed bug report, @jess-rod. I have tried but been unable to repro it so far. Your info includes the version of the Microsoft.UI.Xaml, but the steps from building a blank project didn't include adding its application resources - did you also do that (I tried with and without and it didn't seem to affect it, but it's worth asking)? What was the min/max tested version for your app?

[2020-02-27 18:50] jevansaks commented on #1446
I think the fix is only in the insider SDK, not the 18362 SDK. Sorry, I don't have any more info at the moment. Is this blocking your CI pipelines or store submissions?

[2020-02-27 19:26] asierpn commented on #2032
No, the issue happens when you have a page with a big visual tree, I've created the sample app using the DataGrid to show you easily the real scenario where we need to deal with big visual trees. If you change the DataGrid with a any other big visual tree you will get the same behavior.

[2020-02-27 19:35] ddalp commented on #1992
It's likely a bug in the CTextBoxView::MeasureOverride and ArrangeOverride. We do things special for TextWrapping wrap. It looks like we probably skipped or did not ask RichEdit to redo the text layout and used the NaturalSize(GetTextNaturalSize) instead.

[2020-02-27 19:48] solomonfried commented on #1446
This is not a block. Just a bit unnerving to always see the "Failed" message and then having to look at the report to make sure that the failure is not this issue.

Thanks

[2020-02-27 19:52] screaney opened #2033 "Question: How to reference resource dictionary brushes from control resources"
Given that I have a UI element like so:
`<Button Style="{StaticResource ButtonRevealStyle}"><Button.Resources></Button.Resources></Button>`
And I want to use a brush from a resource dictionary like this for the background:
`<AcrylicBrush x:Key="CustomAcrylicBrush" ... />`
Current, I am doing something like this:
`<Border.Resources>
<AcrylicBrush x:Key="ButtonBackground" ... />
<AcrylicBrush x:Key=

[2020-02-27 20:02] JustinXinLiu opened #2034 "TwoPaneView should display its children correctly on Designer UI"
**Describe the bug**
The `TwoPaneView` control is currently neither displaying any children on the _Document Outline_ panel in Visual Studio 2019 nor on the _Objects and Timeline_ panel in Blend.

This makes locating individual child elements very difficult. The control should be designed to work well with Designer tooling.

**Screenshots**
![TwoPaneView issue 2](https://user-images.githubusercont

[2020-02-27 21:22] stmoy commented on #2006
@BrandonKuenzi - thank you for opening this, I'm following up internally. I'll circle back after we do a bit more investigation.

[2020-02-27 22:36] stmoy opened #2035 "Coordinated Animations cannot be Configured"
**Describe the bug**

#2006 uncovered an issue where coordinated animations always play the default Gravity configuration even when the connected animation has a configuration set.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
https://stackoverflow.com/questions/60290093/uwp-version-1809-connected-coordinated-animations-not-configured-the-same

**Expected behavior**

Coordinate

[2020-02-27 22:39] stmoy commented on #2006
After looking through the coordinated animation code, we've determined that this scenario is unfortunately broken. There is no way to configure the coordinated animation at this time and the coordinated animations will always have the default Gravity configuration.

I've filed #2035 to track this gap. Since Connected Animations are slated to be part of the WinUI 3.0 release, we'll need to wait for

[2020-02-27 22:39] #2006 closed

[2020-02-27 23:08] chingucoding commented on #2033
Just so I understand correctly, you want to define the resource once, and use it everywhere, right?

In that case, you can simply put the brush in the resources of App.xaml file. Every resource you define there will be available throughout all XAML files in your project. That however also means, if you set "ButtonBackground" in App.xaml, that every button will use that.

You can find an example wh

[2020-02-27 23:48] guybark opened #2036 "ListView contained in a ListViewItem that's scrolled out of view does not get its UIA IsOffscreen property set True."
**Describe the bug**
ListView contained in a ListViewItem that's scrolled out of view does not get its UIA IsOffscreen property set True.

**Steps to reproduce the bug**
1. Create a new UWP XAML app containing the following XAML.

        <StackPanel>
            <ListView AutomationProperties.Name="Outer" Height="20">
                <TextBlock Text="Hello" />
                <ListView Automation

[2020-02-28 00:44] stmoy commented on #1332
@chingucoding @Felix-Dev

Agreed that developers should be able to set/change/customize the keystrokes that a user pushes to close a tab. The way that we recommend apps achieve that behavior today is documented in the [TabView Keyboarding Guidance Doc](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view#keyboard-guidance-for-app-developers)

I'm not at all opposed to

[2020-02-28 03:49] jdrch commented on #2024
Microsoft moved away from this a while back.

[2020-02-28 09:28] Mike-EEE commented on #2024
Nice work all WE'RE FAMOUS! 😅

https://www.theregister.co.uk/2020/02/28/winui_cross_platform/

[2020-02-28 09:51] Beelzenef commented on #2024
Let's organize under the name of that name! 💪

[2020-02-28 09:57] sungaila commented on #2024
I just wish for a cross-platform UI framework developed and supported by Microsoft. There is just nothing for the .NET ecosystem out there except for _Uno Platform_ and _Xamarin.Forms_ (if they are still working on targeting the desktop).

And even if I decide write a Windows-only business application from scratch, I do not believe that  Microsoft fully commited to UWP. Correct me if I am wrong bu

[2020-02-28 12:11] AlperOZCAN commented on #2024
Holly 🤭

Super! Let's expand other big journals, web sites, etc 😛

[2020-02-28 13:48] aosyatnik opened #2039 "Rotated text blurring inside of viewbox"
**Describe the bug**
I want to share with you one of the controls, that was developed for one of my projects. It's some kind of textblock, that is animated and can be pairwise scaled with another textblock. Check the video how it updates with 0 rotation:
![img](https://github.com/aosyatnik/UWP_IssueBlurringTextInViewBox/blob/master/Images/pairwise-scalling.gif?raw=true)

I tried to reduce source c

[2020-02-28 14:18] screaney commented on #2033
To clarify:
I don't want to apply these brushes to all buttons, just this specific one.
For the default background, I know I can use a staticresource reference `Background={StaticResource MyCustomBrush}`, however, I still need to override the PointerOver and Pressed backgrounds, which cannot be applied this way.

[2020-02-28 15:33] zhuxb711 opened #2040 "Question: How to use menuflyout in CommandBarFlyout with touch screen"
If the mouse pointer is placed on MenuFlyout in a mouse environment, it will automatically open and work fine. However, in a touch screen environment, it must be clicked to expand MenuFlyout, but CommandBarFlyout will automatically close at this time, so MenuFlyout cannot be expanded in a touch screen environment. I want to know if there is any way to make the touch screen work properly?

Here is

[2020-02-28 16:11] chingucoding commented on #2033
Oh yes, I understand your problem.

In that case, you can define your brush in App.xaml and add a `StaticResource` with the `ResourceKey` set to the name of your custom brush.

An example:

[code]

[code]

If you want to change the brush based on theme, unfortunately you need this snippet (at least that's the only thing that worked for me):

[code]

[2020-02-28 16:29] screaney commented on #2033
Ok, I was able to use `<StaticResource />` to apply those brushes successfully. I did notice that the hot reloading doesn't take effect, so the app has to be restarted, however, it does work after a restart.  This is very helpful, thank you

[2020-02-28 16:29] #2033 closed

[2020-02-28 16:30] Noemata commented on #2024
For those seeking a cross platform solution for developing apps, you need look no further than Unity:

https://unity.com/

Like all such solutions, you wind up with a framework that encompasses a mini operating system.  Java was the operating system cleverly disguised as a programming language.

A modern browser is now a mini OS.  I think we have enough of these.  WinUI/UWP is supposed to be the n

[2020-02-28 17:03] Felix-Dev commented on #1332
@stmoy Thank you for linking the document. We currently have three in-built keyboard accelerators for the TabView control:
* Ctrl+F4 which closes the selected tab (note that the document recommends the developer to use `Ctrl+W`. We should probably address (either by updating the in-built close tab keyboard accelerator to (also) use Ctrl+W or change the documentation to recommend Ctrl+F4).
* Ctrl+T

[2020-02-28 17:39] chrisglein commented on #2026
@MartinHorst Can I assume in your version table that you tested on 17763 but not the others? I just want to clarify if you're saying that's where you saw this, versus you saw it there but explicitly _not_ on other versions you tried (you can leave those blank).

I'm having some trouble reproducing this. Can you provide a screenshot of where exactly you're clicking? Or better yet, use the game bar

[2020-02-28 17:44] benstevens48 opened #2041 "Flyout shadow is drawn on top of sub-flyout"
**Describe the bug**
Create a flyout which contains a button which opens another flyout that is displayed on top of the original one. Then the shadow from the original flyout is drawn on top of the just-opened flyout.

As a workaround, I've had to disable FlyoutPresenter.IsDefaultShadowEnabled, which is a real pain since I'm targeting versions of Windows 10 without conditional XAML.

**Expected be

[2020-02-28 17:49] chrisglein commented on #1986
@soumyamahunt I'm unable to reproduce this so far with some quick testing. I'm seeing the I-beam transition off and on as I move around. Can you please provide more detail about how your TextBox and scroller are configured? Provide some sample markup, and screen captures are always nice.

[2020-02-28 17:51] chrisglein commented on #1981
@MikeHillberg where are you tracking that work? I don't want this issue to turn stale if we're tracking this elsewhere internally.

[2020-02-28 17:52] jtorjo commented on #2024
@Noemata That sounds cool! I'm quite curious!

[2020-02-28 18:39] soumyamahunt commented on #1986
The issue I am describing is when the scroll bar is focused (dragged up and down or just hovered over) the pointer doesn't transition from I-beam to arrow. Here is a comparison of a sample Richeditbox control and default notepad app:
![fl7Fj9C4N7](https://user-images.githubusercontent.com/51203900/75577038-20775e00-5a87-11ea-88ef-e7a1591c8164.gif)
Notice how the pointer transitions when scroll bar

[2020-02-28 18:43] vsfeedback opened #2042 "Provider.GetXamlType on ARM64"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/933011/providergetxamltype-on-arm64.html)._

---
We have an app in the Microsoft Store (UWP) that is complied for x86 and ARM and they work well. With the exact code we target ARM64 and when the first XAML page load (using UWP) we get this error:

public global::Windows.UI.

[2020-02-28 18:58] nerocui commented on #2024
If you all want a .Net based, cross platform UI framework that can adapt to any design language. Look no further, Comet is it.

https://github.com/Clancey/Comet

If you have some spare time, go contribute since it's still at it's early stages.
Comet targets basically all platform in existence, and it gives you the choice to target native control in each platform or use Skia to draw everything so t

[2020-02-28 19:04] ranjeshj commented on #2042
@danzil Is this a known issue ? It looks like an issue in the OS XAML not WinUI.

[2020-02-28 19:06] chrisglein commented on #1959
@benstevens48 definitely a bug if these events aren't paired. Can you give more detail on your specific configuration for this? I'm unable to reproduce this so far.

To reproduce I tried setting up something like this:
[code]

[code]

![image](https://user-images.githubusercontent.com/26607885/75579161-12d7bf00-5a1a-11ea-9d92-482e5fc6d24d.png)

I can never get the event counts to drift apart. Can

[2020-02-28 19:15] ranjeshj commented on #1372
@gegao18 can you please help debug this issue ? @StephenLPeters has looked at it and can provide more context/repro.

[2020-02-28 19:31] ranjeshj commented on #2013
The discussions beta seems to be in pretty early stages. While it looks promising, it might be worth waiting a little bit before adopting for a few reasons.
•	It seems to cater more towards questions with a marked answer (which is sort of similar to Microsoft Q&A).
•	We already have lots of discussions in issues with ‘discussion’ label and no straightforward one shot move to the new discussions fe

[2020-02-28 20:07] danzil commented on #2042
I asked Ryan to try disabling the reflection type info provider (which is a feature that speeds up incremental builds in debug project configs), by adding this to the project file (it will only affect arm64 in debug).

<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|ARM64'">
  <EnableTypeInfoReflection>false</EnableTypeInfoReflection>
</PropertyGroup>

If this works, please use it

[2020-02-28 20:17] shaheedmalik commented on #2040
That's a bug.

[2020-02-28 20:55] YuliKl commented on #142
@chingucoding please go ahead and fix this soon 😀

[2020-02-28 20:57] benstevens48 commented on #1959
@chrisglein - it actually seems to be related to pointer capture. Try this instead.
[code]
[code]
Click on the red square then drag outside the beige container and release. This is presumably due to the way pointer capture works. In my opinion the PointerExited event still needs to fire at some point though. Either when the pointer leaves the grid or when the pointer capture is released outside th

[2020-02-28 21:09] ranjeshj commented on #2041
@benstevens48 can you please share a picture/reporo app ?

[2020-02-28 21:22] RealTommyKlein commented on #2042
Yes, we have a bug open on this - the issue is with Debug ARM64 apps that consume another Debug component.  We correctly disable the reflection provider in the app since we know the .NET Native toolchain is being used, but components don't know what toolchain will be used and still use the provider.

[2020-02-28 21:47] YuliKl commented on #1995
@jrahma at this point in time, both Xaml and Xamarin.Forms have sizable developer communities and updating API names would constitute a significant breaking change. A renaming exercise just isn't feasible at this time for either framework. And adding new control aliases to Xaml (e.g. <Label/> would just create a <TextBlock/>) would lead to API bloat and runs the risk of making Xaml even more diffi

[2020-02-28 21:48] #1995 closed

[2020-02-28 21:58] YuliKl opened #2043 "AutoSuggestBox control Accessibility - When a user types into the search box, narrator does not announce the number of suggestions shown"
**Describe the bug**

The documentation suggests that the AutoSuggestBox control will provide the following Accessibility inbox, but the number of suggestions is never read and "Suggestions Available" is only sometimes read.

If you are using an assistive technology, such as Narrator, to interact with the AutoSuggestBox the accessibility experience has already been hooked up for you. A user will:

[2020-02-28 22:07] ranjeshj commented on #2043
This looks like a documentation issue. Please check if docs need to be updated or this is something that we need to fix in the control.

[2020-02-28 22:07] benstevens48 commented on #2041
@ranjeshj - something like this is enough.
[code]
![flyout-shadow](https://user-images.githubusercontent.com/10088503/75590996-7bed2000-5a76-11ea-8aa2-790152e8539f.png)

It seems like it's not exactly the shadow, but maybe the backing visual for the shadow, that's drawn on top. It's definitely related to the shadow because setting FlyoutPresenter.IsDefaultShadowEnabled to true fixes it.

[2020-02-28 22:10] ranjeshj commented on #2041
@jesbis Do you know what might be happening here ?

[2020-02-28 22:17] ranjeshj commented on #2027
@Gavin-Williams can you please share some pictures ?

[2020-02-28 22:26] danzil commented on #2034
I would start with notifying @chabiss, for it may be a Live Visual Tree issue. Or @fabiant3-zz as it may very well be a XAML diagnostics infrastructure issue. If those components do the right thing, Charles or Fabian could point to what the control is doing wrong to break this.

[2020-02-28 22:53] JBenda commented on #588
It's works with the insider build. Thank you very much for fixing it. 😄

[2020-02-28 23:09] jesbis commented on #2041
Not sure - @codendone ?

[2020-02-29 02:07] rudyhuyn opened #2044 "TwoPaneView crashes after page navigation and window resizing in C++ apps"
**Describe the bug**

`TwoPaneView` crashes C++ apps if the page hosting the control isn't one currently displayed and if the window is resized whatever the reason (manually, change screen orientation, span/unspan the window, ...)

**Steps to reproduce the bug**
- Create a C++ app with 2 pages.
- Include a TwoPaneView in the first page
- Navigate to the second page
- Resize the window (or change t

[2020-02-29 02:12] chrisglein commented on #1959
Gotcha. Thanks for the details on that @benstevens48, much appreciated!
Will require WinUI3 to complete (this code is not in WinUI2), tagging as such.

[2020-02-29 03:21] mdtauk commented on #142
The Rest and Hover states for the TextBox uses semi-transparent backgrounds, with it going 100% opaque black on Focus/Typing states

[2020-02-29 03:37] mdtauk commented on #2034
Have you checked if the **Show Just My Xaml** toggle is on, or if that is hiding the elements?

![image](https://user-images.githubusercontent.com/7389110/75600223-c5ecfa80-5aa4-11ea-940d-d03785d81c5c.png)

[2020-02-29 05:20] MikeHillberg commented on #1981
Let's keep track of it here until it's addressed.

[2020-02-29 05:26] YuliKl commented on #2040
This definitely feels like a bug. Seems that CommandBarFlyout is a bit too aggressive in closing when it loses focus. I tried changing its ShowMode and also tried setting the button's AllowFocusOnInteraction property to False but neither helped.

@zhuxb711 one thing to try is replacing your AppBarButton with attached Flyout with:

[code]

I saw two problems with this approach but am curious if thi

[2020-02-29 06:23] codendone commented on #2041
This is a known bug (tracked internally as https://microsoft.visualstudio.com/OS/_workitems/edit/20538560) in the Composition ProjectedShadow code that could result in a shadow from a visual to draw on another visual at the same Z depth.  The bug has been fixed and will be in the next release of Windows.  (It will also be fixed in WinUI3.)

This can theoretically be worked around by ensuring the n

[2020-02-29 07:54] zhuxb711 commented on #2040
@YuliKl

I tried it according to your method, but there are some problems, including: the icon does not render correctly, it is shorter than the entire CommandBarFlyout.

In addition, although it works correctly under the touch screen, it cannot be closed once it is expanded

like this:

<img width="294" alt="无标题" src="https://user-images.githubusercontent.com/42038175/75603674-9a512b00-5b0b-11ea-

[2020-02-29 09:05] chingucoding commented on #142
Yes @mdtauk , good catch! The preview was just to demonstrate that it was possible, and how a dark caret would look on an image. The opaqueness of the "unfocused" will (of course) not change.

[2020-02-29 09:24] jtorjo commented on #2024
@nerocui this sounds cool, but at least from looking at it, there's no XAML designer. Building complex UIs is probably insane at its current stage. But it does look promising.

[2020-02-29 10:23] Felix-Dev commented on #1939
Ok, so after some more testing protocol launching a desktop bridge app via a toast notification just doesn't get focus (focus is in the shell). If I launch a UWP app like Settings via the toast, the app gets focus just fine. Anyway, I'm using Window.TopMost to bring the window of my app to the foreground again (and then unset Window.TopMost again). While not in focus this will work for me.

Howeve

[2020-02-29 10:26] chingucoding commented on #1332
@stmoy Thanks for linking that document! Those ways to add new keyboard accelerators seem feasible for most devs.

One problem I see however is, what one should do if they already use Ctrl+F4. From what I can see, it currently is not possible to unassign a keyboard accelerator. So developers are need to ensure that they don't use Ctrl+F4 anywhere else, which may be a bit problematic.

I agree with

[2020-02-29 14:38] ranjeshj commented on #1981
@stevenbrix  Can we feed this requirement into cs/winrt so that these are available in the projection ?

[2020-02-29 17:45] sharpninja commented on #2024
And it's not about drag-and-drop, it's about real-time preview of the UI in the designer when a change is made in the code.

[2020-02-29 17:47] sharpninja commented on #2024
Is this using NoesisGUI?  If so, there's a LOT of missing functionality that would be necessary for LOB apps.  Now, WinUI targeting Unity would be awesome.

[2020-02-29 19:28] sharpninja commented on #2024
I've created a repo for documenting the current state of XAML and hopefully folks will help out and contribute with insights and actual code snippets that list how to accomplish tasks in the various flavors of XAML.

[2020-02-29 20:02] JustinXinLiu commented on #2034
keep in mind that the issue only occurs in the designer tree when the app is not running. Elements shows up OK when the app is running in the Live Visual Tree.

[2020-02-29 20:10] benstevens48 commented on #2041
I created a workaround. In case anyone else wants it, use this class instead of the Flyout class for nested flyouts.
[code]

[2020-03-01 02:00] anthonyadame commented on #2024
Simple issue, move beyond the sandbox of today and embrace what is required for cross platform. Already doing it for every other aspect of Windows/OS why not the UI.

[2020-03-01 04:54] sharpninja commented on #2024
Take the sandbox cross platform.
________________________________
From: anthonyadame <notifications@github.com>
Sent: Saturday, February 29, 2020 8:00:13 PM
To: microsoft/microsoft-ui-xaml <microsoft-ui-xaml@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/microsoft-ui-xaml] Discussion: WinUI should be cross-platform (#202

[2020-03-01 09:28] benstevens48 opened #2047 "Proposal: C# projections of Point, Rect, Size should not pretend to be double-precision"
In C#, it looks like Point, Rect and Size have double precision since all their properties are doubles. But in fact this is not the case, they are actually single precision. This is very confusing and extremely bad practice in my opinion. In case anyone wants to verify this, try the following code.

[code]
It prints
[code]
(Note that you may be thinking the above number is laughably small, but in

[2020-03-01 09:35] benstevens48 opened #2048 "Proposal: XAML and dependency properties should accept floats"
At the moment you can't really create a DependencyProperty of type float on a custom control (I'm using a C# app). Well, you can create it, but then if you try and set the value in XAML you get an error, whether you use something like `20` or `20.0` in the XAML. I also tried `20.0f` but that's not valid syntax.

In my opinion it is important to support it. Why? Well, a lot of properties, especiall

[2020-03-01 09:35] chingucoding opened #2049 "ProgressRing get's announced as image"
**Describe the bug**

Using narrator, the ProgressRing get's announced as image, not as ProgressRing with a percentage.

**Steps to reproduce the bug**

1. Start Narrator
2. Open MUXControlsTestApp
3. Navigate to ProgressRing page
4. Tab to the ProgressRing, oberserve that it gets anounced as image.

**Expected behavior**

When the progressring is indeterminate, it should get announced as "busy pr

[2020-03-01 11:14] benstevens48 opened #2050 "Text scaling does not work properly with LineHeight"
**Describe the bug**
Create a text block as follows.
[code]
Ensure it's in a situation where the text wraps. Increase the text scaling factor in Settings > Ease of access > Vision to something quite large. The lines of text will then overlap. Reset the scale factor 100% and the lines of text do not overlap. This basically makes it impossible to change the line height of text if you want it to work

[2020-03-01 12:42] EternalSaga commented on #1946
I have the same proposal at present. The WinUI seems fantastic but I only can find one example of c++/winrt on the [Microsoft Documentaion](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/simple-winui-example). I hope there are more examples and documentations for c++/winrt.

[2020-03-01 21:07] mklemarczyk commented on #1169
What the hell is happening here? I thought it should bring the Fluent Design into my app, not to restyle it all. Give the people control back over the style of theirs controls! This library is overriding all styles including the custom styling. It should enrich the basic application with Fluent Design approach. All controls now looks different that the standard ones documented!

Are you going to d

[2020-03-02 00:27] skyanchor opened #2052 "Proposal: Enable IME when opening up a ComboBox"
# Proposal: Enable IME when opening up a ComboBox

## Summary
I used to use this feature in order to locate the desired items quickly in win32 combobox controls (say in Control panel). But now I found I can't type a CJK character because the IME is set to type Latin characters when the combobox is opened.

## Rationale

* Easy to locate an item in a looooong list (say region setting and choosing a

[2020-03-02 00:32] Zofware commented on #1187
@kmelmon OMG what a lifesaver. Thanks for posting this workaround. I wish I had seen it a few months ago but it's still a big help. Thank you!

[2020-03-02 02:40] MikeHillberg commented on #2048
This looks more like a bug than a feature. The Error is

`Failed to create a 'Windows.Foundation.Single' from the text '20'`

It's a bug in the custom type path; the built-in [ScrollViewer.MaxZoomFactor](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Controls.ScrollViewer.MaxZoomFactor) works correctly.

[2020-03-02 03:42] YuliKl commented on #1169
@mklemarczyk please keep the [code of conduct](https://opensource.microsoft.com/codeofconduct/) in mind when leaving comments in this repo. All of us strive to keep our choice of language professional.

[2020-03-02 03:49] YuliKl commented on #1169
@mklemarczyk as for the content of your last comment, it doesn't sound like it's addressing the ProgressBar style.

https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/index

The Progress controls page in the docs, https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/progress-controls, shows exactly what the control looks like with the change tracked by t

[2020-03-02 03:51] YuliKl commented on #1169
Closing this issue because the style change has shipped and is documented in the Controls Gallery and docs site.

[2020-03-02 03:51] #1169 closed

[2020-03-02 06:25] LeadAssimilator opened #2053 "pull/#1223 causes theme inconsistencies and breaking changes"
**Describe the bug**

#1223 introduces breaking and inconsistent object types for ToggleSwitch control properties.  Specifically ToggleSwitchFillOnPointerOver, ToggleSwitchFillOnPressed, ToggleSwitchStrokeOnPointerOver, ToggleSwitchStrokeOnPressed defaults changed from Brush to Color, but are still treated as Brushes in subsequent states.

This inconsistency is confusing since one would expect the

[2020-03-02 07:00] MartinHorst commented on #2026
Hi,

I was also able to reproduce this on a Surtface Pro 6 with the Windows version 1903. It is easier to reproduce this if the TextAlignment is set to center. Screenshots won't help much because everything looks pretty normal. As I mentioned, the textbox handles normal keys but not backspace or arrow keys. It's important to position the mouse pointer as close as possible to the right side of the

[2020-03-02 08:32] jtorjo commented on #2047
I more than second that. It took me quite a while to figure this one on myown -- since I also assumed they would be double, only to see that they are not. So basically, any `set` you do is converted to float.

[2020-03-02 09:52] chingucoding commented on #2047
I think the problem is that, when using a Point in XAML, specifying a float (a.k.a Single) is not supported/working.

From the [documentation](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/xaml-cust-ctrl):

So my guess is that, in order to support using points in XAML, they defined them as double in the abstraction layer.

[2020-03-02 10:05] jess-rod commented on #1992
I've just reproduced the bug by creating a blank project with 1903 (10.0; Build 18362) as the target and minimum version (the only NuGet package installed is Microsoft.NETCore.UnversalWindowsPlatform 6.2.9). Then, I've followed the steps above.

[code]

To see the bug in action, you need to fill the text box with some text so that there be (if there wasn't a bug) (A) a one-line text box when the w

[2020-03-02 10:14] jess-rod commented on #1992
Actually, you can hold and drag and still reproduce the bug, but you need to be very precise (1-pixel precise) to stop holding right before the transition is to occurs. One thing is true, being that precise, the bug happens every single time.

[2020-03-02 12:17] Felix-Dev commented on #1169
@mklemarczyk You can partly revert back to the previous control look (border thickness, corner radius) by using the [Fluent XAML Theme Editor](https://github.com/microsoft/fluent-xaml-theme-editor/blob/master/README.md). It will generate XAML which you just have to copy into your app.

[2020-03-02 13:06] pjmlp commented on #2024
@Noemata Except what I care about is not having to write C++ to start with, WinDev keeps botching all attempts that would make .NET languages equal eye to eye in regards to C++ APIs, Managed Direct X, XNA, proper AOT compilation of .NET code, COM features, ....

[2020-03-02 14:47] aosyatnik opened #2054 "Question: ElementName binding doesn't work in EntranceThemeTransition"
I'm not sure if it's a bug or I'm doing something wrong. In order to reproduce it you will need source code: https://github.com/aosyatnik/UWP_ElementNameBinding_Issue

# Steps to reproduce:
1. Build and run the app. You will see a list of 10 numbers and "Redraw" button.
2. Click on "Redraw" button. See, that the whole list is updated at once.
3. Go to `\Themes\Generic.xaml` and fine next code:
[co

[2020-03-02 14:58] RyanSpark commented on #2042
The suggestion of adding <EnableTypeInfoReflection>false</EnableTypeInfoReflection> worked.

As the project contains referenced projects, all the projects referenced required the same edit.

Thank you.

[2020-03-02 17:40] ranjeshj commented on #2054
Not quite sure if this related to #560. This seems to be specific to just element name bindings within a control template while the other is about reaching out of the data template in an items control.  @MikeHillberg @danzil  Is this a known limitation of what can be done within a control template ?

[2020-03-02 17:49] ranjeshj commented on #2049
ProgressRing needs to implement an automation peer just like ProgressBar

[2020-03-02 17:50] benstevens48 commented on #2048
Also, if you try to write `<x:Single>20</x:Single>` in XAML it says something like this is not supported in a UWP project.

[2020-03-02 17:54] benstevens48 commented on #802
@ranjeshj - did the comment I made above come to the team's attention? I'm not sure I mentioned the right team member. Just trying to make sure someone from the team has read it in case there's a chance to fix it in the platform codebase for the 2020 H1 update (although it's probably too late I guess).

[2020-03-02 17:57] ranjeshj commented on #802
@chrisglein did you get a chance to look at this issue ?

[2020-03-02 17:59] stmoy commented on #1332
These are interrelated. Since there isn't a good way to unassign a built-in keyboard accelerator, we deliberately did not build-in very many accelerators in case the app is already using a particular key combo.

Agreed and we spent a bunch of time debating this topic. As above though, this was a deliberate omission. We added the accelerator to close a tab because this combo was one that accessibil

[2020-03-02 19:48] stevenbrix commented on #1981
@ranjesh, yeah these are being tracked in the cs/winrt repo. @LucasHaines  for FYI

[2020-03-02 21:12] #1982 closed

[2020-03-03 00:13] StephenLPeters commented on #2053
Looking at the commit this definitely looks wrong, do you feel comfortable making the fix yourself and submitting the PR since you have the context @LeadAssimilator? I think it is probably as simple as changing the theme dictionary to reference a brush for those 4 types.

[2020-03-03 02:20] robloo commented on #1721
@ranjeshj x:Bind doesn't work in ResourceDictionary. This is a problem as I'm trying to use the NumberBox in a custom TemplatedControl as visualized below. I'm attempting to use NumberBox as a replacement for TextBox that already exists in control template and uses TextBoxRegex Validation from the community toolkit.

![GeoPosition](https://user-images.githubusercontent.com/17993847/75736508-98799a

[2020-03-03 02:26] robloo commented on #1912
I should get to this next week. @teaP please let me know if there was a reason it wasn't already done.

[2020-03-03 02:33] robloo opened #2055 "Proposal: Add Paste/CopyingToClipboard/CuttingToClipboard Events to NumberBox"
# Proposal: Add Paste/CopyingToClipboard/CuttingToClipboard Events to NumberBox

## Summary

Expose the underlying TextBox events below in NumberBox. This is needed to use the NumberBox in place of the TextBox in some cases further described below.

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textbox.paste
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.text

[2020-03-03 02:38] robloo commented on #1736
I attempted to integrate NumberBox into a production control. I ran into a few show-stoppers that ideally would be addressed in NumberBox v2.

#2055 Proposal: Add Paste, CopyingToClipboard, and CuttingToClipboard Events to NumberBox
https://github.com/microsoft/microsoft-ui-xaml/issues/1721#issuecomment-593731932

I keep saying this, but it's imperative for a number of things that the flow of data

[2020-03-03 02:57] robloo commented on #1998
This is an old discussion. See some of my past comments trying to avoid these sorts of foreseen issues.

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-488530306

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-497545781

https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-496750885

https://github.com/microsoft/microsoft-ui-xaml/is

[2020-03-03 03:28] ranjeshj commented on #1721
Sorry. I did not mean to close this bug. The intention was to keep this bug open for the binding case (need winui3 for that). We have a bot that does some bookeeping. When I submitted the fix for x:Bind, the bot closed the bug as part of the PR submit since the PR mentioned this bug.

[2020-03-03 03:36] ranjeshj commented on #1721
@robloo I did not spent too much time trying to find a workaround for the Binding case. Would it be possible for you to share a small standalone repro of your specific scenario ? I wonder if there is a way to add a check for NaN somewhere in the callstack to avoid the stack overflow as a temporary workaround in the app code.

[2020-03-03 05:31] robloo commented on #1721
@ranjeshj Ok, thanks for explaining about the bot auto-closing this issue. That makes sense!

Concerning a repro app, I'm not sure that's needed. My understanding is x:Bind simply isn't supported in Styles. This includes the default style defined in a ResourceDictionary (Generic.xaml) of a TemplatedControl. If that's my misunderstanding please let me know.

If you are suggesting I use Binding inst

[2020-03-03 10:50] LeadAssimilator commented on #2053
I didn't see existing brushes referencing SystemAccentColorLight1 and SystemAccentColorDark1 that could be easily referenced.  While I could certainly add some brushes, I'm not entirely sure what to name them or where to put them ideally.  While each control could redefine the same two brushes over and over, it would be better if only two brushes could be added in some common location and referenc

[2020-03-03 11:18] chingucoding commented on #2053
The fact that those colors (SystemAccentColorLight1 etc) don't have corresponding SystemBrushes was the reason why the colors were used.

I think one place to put them is in a separate file in the CommonStyles folder (e.g. it could be called "CommonBrushes". We could also place it in the "Button_themeresource.xaml" file as the AccentButton style also is in that file, and it makes use of those colo

[2020-03-03 12:56] sharpninja commented on #168
I think it's important to allow icons and buttons of differing sizes as it helps the user identify coomon and not-common functions in the same group.

[2020-03-03 17:18] StephenLPeters commented on #2053
@kikisaints are you still the owner of this space? could you weigh in on the proper fix and proposed names?

[2020-03-03 17:19] jtorjo opened #2056 "Using CanDrag as bound dependency property causes UNCACTHEABLE crash in d3d11"
**Describe the bug**

I have an ItemsControl, with items placed from left to right.

Around edges, my code will catch that and allow the item to be resized. Otherwise, items can be dragged around (so user can move the items where he wants to).

This crashes when I resize an item, stop, then resize it again (when moving mouse very fast).

**Steps to reproduce the bug**

Side note: This was **insane

[2020-03-03 17:26] FrecherxDachs commented on #1939
@Felix-Dev I have created a sample that uses COM activation in an unpackaged .NET Core 3 application and simply prints out the notification arguments and brings the main window into foreground.
I hope this is a help somehow: [GitHub sample](https://github.com/FrecherxDachs/UwpNotificationNetCoreTest)

_The source code might be a bit quick and dirty, though_ 🙄

[2020-03-03 17:52] jtorjo opened #2057 "Discussion: [uwp] Will Microsoft ever admit when it's its fault?"
# Discussion: [uwp] Will Microsoft ever admit when it's its fault?

Long story short, when I have a bug that is my own, and my app crashes, it's my responsibility. It was my fault -- I could have caught the exception or whatever, recovered and/or logged something, optionally shown something to the user and that's that.

But when the crash happens on some of Microsoft's assemblies, and the crash is

[2020-03-03 18:18] codendone commented on #2041
Great job, @benstevens48!  Thanks for sharing!

Since this issue has been fixed for future versions of Windows using system XAML and will also be fixed in WinUI3, I'm closing this issue.  See helpful workaround above if you need a workaround prior to WinUI3.

[2020-03-03 18:18] #2041 closed

[2020-03-03 18:30] ranjeshj commented on #2056
@jtorjo Thanks for reporting this crash. Crashes in native code (access violations for example) do not get bubbled up to the managed layer to be able to provide a .net exception. You can enable native exceptions in visual studio to see the entire stack (native and managed) when the crash happens to see exactly where the failure happened. Unfortunately screenshots/error reporting don't really help

[2020-03-03 18:33] Felix-Dev commented on #1939
@FrecherxDachs Thanks for the sample code! I will carefully look though it the following days. I'm already seeing that for it to work in unpackaged .NET Core 3 apps quite a bit of code has to be added. Perhaps some of it can be removed for packaged apps to get a leaner workaround solution (i.e. the shortcut part)😅

Appreciate your help!

[2020-03-03 19:06] jesbis commented on #633
For workarounds in the meantime, you could potentially either:
- set image sources to an explicit path rather than using the `ms-appdata` scheme: for example, to get a path equivalent to `ms-appdata:///local/` you can use the [ApplicationData](https://docs.microsoft.com/uwp/api/Windows.Storage.ApplicationData) class: `Windows.Storage.ApplicationData.Current.LocalFolder.Path`.
  * If you need to se

[2020-03-03 20:16] jtorjo commented on #2056
@ranjeshj

I've enabled native exceptions

![image](https://user-images.githubusercontent.com/13891601/75815450-195c9280-5d9c-11ea-9fa2-f5c1cb71259c.png)

![image](https://user-images.githubusercontent.com/13891601/75815663-78baa280-5d9c-11ea-911e-d764e67a5cfd.png)

The same thing happens.

I can't share a standalone app - there's a lot of code involved.

[2020-03-03 20:26] ranjeshj commented on #2056
Would it be possible for you to capture a crash dump and share that ? Instructions can be found here - https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps . Use the Full dump type.

[2020-03-03 20:35] jtorjo commented on #2056
@ranjeshj

Here it is - https://phot-awe.com/ScriptedSandbox64.exe.8800.dmp.zip - please let me know after you've downloaded it, so I can delete it.

Also, please let me know if it's ok.

[2020-03-03 20:44] ranjeshj commented on #2056
Thanks. I got it, so you can remove the dump from your share. This seems to be a crash in d3d11. @codendone Can you please route this bug ?

[code]

[2020-03-03 20:55] jtorjo commented on #2056
@ranjeshj Thanks, removed

[2020-03-03 21:28] codendone commented on #2056
@jtorjo I think that dump is not from the right process. This ScriptedSandbox64.exe crash might be a side-effect of your app crashing. Please try turning off Tools | Options | Debugging | "Enable Diagnostic Tools while debugging" in Visual Studio and then run your scenario. Hopefully that will cause it to break in for the crash in your app so you can grab a dump of that.

[2020-03-03 22:35] colinizer commented on #633
Re: "set image source to an explicit path" or "set image source source through file references"
Your response suggests using a file path.  The Apis only mention a Uri (explicitly or auto converted from a string, or a Stream).

So are you saying an absolute file path should work as the BitmapImage.UriSource or Image.Source or a file:/// Uri ?

[2020-03-03 22:37] matthew4850 opened #2059 "Question: When using UniformGridLayout items cannot expand"
I have an items control that uses a horizontal uniform grid layout. It fixes the hight of each item as the hight of the first item, this means that if any item after the first has a larger height it does not expand.
XAML:
[code]
data source:
[code]
Nothing past the first row of text shows. How can I make it so the hight of each item expands to the hight of the largest? Ideally, if items are wrappe

[2020-03-03 22:39] colinizer commented on #633
I also experimented by to binding to a BitmapImage property having called Bitmap.SetSource() - checking to see if that also hangs onto the file stream.

[2020-03-03 22:43] brunofpa opened #2060 "Proposal: Update Adobe XD design toolkit to WinUI 2.3"
# Proposal: Update Adobe XD design toolkit to WinUI 2.3

## Summary
It would be great if you update the Adobe XD design toolkit to WinUI 2.3, not only Figma. And please include dark mode.

## Rationale

* WinUI 2.3 changed much of the design to rounded corners
* I think Adobe XD is better than other design apps performance-wise
* You haven't updated it since January 2019

## Scope

| Capability |

[2020-03-03 22:51] jesbis commented on #633
Your response suggests using a file path. The Apis only mention a Uri (explicitly or auto converted from a string, or a Stream).
So are you saying an absolute file path should work as the BitmapImage.UriSource or Image.Source or a file:/// Uri ?

@colinizer yes you should be able to use a file path for the UriSource. It doesn't have to be http or a "ms-" scheme.

[2020-03-03 22:58] jtorjo commented on #2056
@codendone https://phot-awe.com/dumps.zip - for some strange reason, two files were created. Archived both. Please let me know after you've downloaded it so I can erase it.

[2020-03-03 23:11] ranjeshj commented on #2059
@matthew4850 That is by design. The issue is that it is a virtualizing layout, so it does not measure all the items to know the largest size. If you know ahead of time what the largest size is going to be you could set ItemWidth/Height properties on the layout or set MinWidth/Height on the items.

[2020-03-04 00:37] matthew4850 commented on #2059
@ranjeshj I do not know what the high will be ahead of time, do you have any ideas on how to make this work? Are there any non-virtulising layouts that might work?

[2020-03-04 01:04] SavoySchuler commented on #2055
Great suggestion, @robloo, and thanks for being so complete in your write-up here. I'm on-board! I've forwarded your suggestion to @ranjeshj and @teaP to validate that there's nothing unexpected here. I hope to write back soon about whether and when we might be able to make this happen.

[2020-03-04 01:20] chrisglein commented on #802
Not yet. Thanks for the detailed (and minimal!) repro @benstevens48! We'll get this under the debugger.

[2020-03-04 05:13] robloo commented on #2057
You are really testing the content moderators again. Let me go start the popcorn :) As I said in the past, I share several of your frustrations with the UWP/WinRT tooling (such as #1830). It happens to those of us that use it every day.

Post WinUI 3.0, Microsoft needs to make quality/stability the number 1 priority and close the vast majority of severe bugs. If they don't I'm afraid widespread ad