[2019-02-07 23:50] chrisglein commented on #279
I'm not sure I follow. Can you give an example?
What's outlined here isn't a fundamental change to how styles layer in XAML. More it's a suggestion for how to target properties that aren't on the control class itself (by allowing you to target known named parts of the template and the sub-properties on them).

[2019-02-08 00:00] JosephClampett commented on #229
That's not really true.

[2019-02-08 00:12] chrisglein commented on #228
Why the change in term?

[2019-02-08 00:15] chrisglein commented on #228
Your example filters based on property name. It might be handy to write a filter that can filter on value. Particularly whether the property matches the default value.

[2019-02-08 00:18] chrisglein commented on #228
In this example you specifically change theme, but in the next you passed in an arg. The XAML is the same in the first example regardless of theme. Can you just specify the theme instead? Can you pass in multiple themes as flags?

[2019-02-08 00:20] chrisglein commented on #228
VerifyVisualTree(xaml);

Why isn't the filter an arg to VerifyVisualTree like it seems to be for DumpToXML?

[2019-02-08 00:22] chrisglein commented on #228
This is a pretty important point and worth expanding on. You outlined a CustomFilter, but I think we should talk through what some standard filters should be. Just hierarchy, bounding boxes, colors, etc. We're going to want standard options and guidelines on when to use them.

[2019-02-08 00:24] chrisglein commented on #228
And then what? How do we want to use that file moving forward? Does it live in a repo somewhere? Is it the same one? Can we automate updating the golden files into the repo so maintaining these files is painless in the common case?

[2019-02-08 00:27] bschoepke commented on #279
@kikisaints This looks great, and would go even further than "lightweight styling" did to reduce the need for re-templating. My only comment so far is that I would like to be able to replace things like PointerDownThemeAnimation with a Windows.UI.Composition-based animation.

I'll have to digest this a little before I can comment more.

[2019-02-08 10:30] dimOk00 commented on #235
Maybe add something like in SplitView?

[2019-02-08 13:14] Berrysoft commented on #266
@michael-hawker The one added to the Windows Community Toolkit isn't compatible with C++/WinRT. There's also a [bug](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2733) of it.

[2019-02-08 16:05] michael-hawker commented on #266
@Berrysoft yes good call.  That's one of the scenarios we don't cover as the toolkit is mostly C#.  We've since started adding more support for some things in C++, but it's a good call out that by adding it to WinUI it'll work for both. :)

[2019-02-08 17:01] #272 closed

[2019-02-08 17:49] jevansaks commented on #276
@kikisaints can you pitch this and then @japf I would be more than happy for you to contribute this once the spec is approved. Thanks!!

[2019-02-08 17:53] jevansaks commented on #260
Interesting request! I'm torn on whether this is a TreeView request or a DataGrid request so adding both @predavid and @harinikmsft as the respective feature owners. There's also an ItemsView prototype being worked on in the feature/ItemsView branch and maybe this could be an interesting addition there as well. @micahl @ranjeshj for awareness on that.

[2019-02-08 18:04] kmahone opened #284 "Enable testing on Arm64 platform"
Helix has Arm64 queues so we should be able to use them to execute Arm64 tests.
The taef.redist.wlk nupkg does contain Arm64 versions of the taef binaries, so we should be good there.
The WDK also includes an Arm64 version of wttlog.dll, so we can use that.

First we need to be able to build and run our test collateral for Arm64.

[2019-02-08 19:08] licanhua commented on #228
Master is hard to u

The pull request #126 already provides a function in IFilter for this:
` IsKnownProperty(string propertyName, string value)
`
I will add an example for this

[2019-02-08 23:01] licanhua commented on #228
Removed 'golden'

[2019-02-08 23:32] thomasclaudiushuber commented on #279
@kikisaints Nice idea. The first two snippets in your proposal confused me a bit, as I guess some elements are missing? :-)

### First snippet
In the first snippet the element `<Style TargetType="RadioButton">` is missing.

Should be
[code]
instead of
[code]

### 2nd snippet
The property element `<RadioButton.Style>` is missing:

Should be
[code]
instead of
[code]

Maybe you can adjust it in your

[2019-02-09 00:05] thomasclaudiushuber commented on #279
Something we need to be aware of:

This feature means that the code of many developers will have dependencies to the named elements that are inside the ControlTemplates. This means if you want to change a ControlTemplate of a Control in the platform, you could break a lot of things. And with this feature enabled this is also true for any control library developer.

That means that this idea makes

[2019-02-09 04:51] jevansaks opened #290 "Need to add automated Helix test coverage for Nuget package tests"
We need to add a job to at least the CI (if not the PR) pipeline to send nuget package tests off to Helix to run.

We need both the dll-based and framework package-based nuget packages exercised.

[2019-02-11 15:12] Scottj1s opened #294 "NuGet package does not support win32 projects"
The build\native\Microsoft.UI.Xaml.targets contains this ItemGroup condition:
  <ItemGroup Condition="'$(TargetPlatformIdentifier)' == 'UAP'">

This prevents application of the winmd reference to win32 projects.  The condition can be removed.

[2019-02-11 15:15] Scottj1s opened #295 "NuGet package does not robustly detect missing WindowsTargetPlatformMinVersion"
The NuGet package build\Microsoft.UI.Xaml.targets file attempts to validate the minimum target SDK version, but does not account for projects that don't have the WindowsTargetPlatformMinVersion project property.  An existence check for this property should be added, or a task used to validate, as the Win2D project uses:
https://github.com/Microsoft/Win2D/blob/master/build/nuget/Win2D.common.target

[2019-02-11 15:21] Scottj1s commented on #295
Repro project:
\UWPCompositionDemos\HelloVectors\HelloVectors_win32_cpp\HelloVectors_win32_cpp.vcxproj
https://github.com/clarkezone/UWPCompositionDemos/tree/vectors

[2019-02-11 15:21] Scottj1s commented on #294
Repro project:
\UWPCompositionDemos\HelloVectors\HelloVectors_win32_cpp\HelloVectors_win32_cpp.vcxproj
https://github.com/clarkezone/UWPCompositionDemos/tree/vectors

[2019-02-11 18:04] chrisglein commented on #279
My assumption is that Path would support more than just TargetName.Property. As in instead of just A.B it would support A.B.C, if that makes sense. If there aren't any scenarios that require that then describing it as a 'Path' might be overkill.

[2019-02-11 18:11] chrisglein commented on #279
This is definitely true, and should be handled with intention. There's one callout to it in the requirements list:

The first thing that comes to mind for me are C#'s [null-conditional operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-conditional-operators). This sort of Path isn't targeting a real control type, only the template. Which as you mention is c

[2019-02-11 18:50] mdtauk commented on #279
If this is a fundamental look at how Styling should work, perhaps if there are any errors, the control should fall back onto the default template - with error/warning highlighting with debugging and Intellisense.

[2019-02-11 21:53] lukasf commented on #279
I like this proposal a lot!

And I agree with @thomasclaudiushuber that it should be TargetName and Property. This would be more in line with other style elements. Path is always a property path until now, and it should stay that way. In the original proposal, it would be a mixture of element name and property path, which is irritating. And it would cause conflicts when there is also a real proper

[2019-02-12 17:59] kmahone commented on #239
I'm not seeing this in recent test passes. If this issue occurs again we can try can get logs.

[2019-02-12 22:03] #51 closed

[2019-02-12 23:55] SavoySchuler commented on #266
Thanks @michael-hawker and @Berrysoft, I have updated the proposal with those details and upgraded the priority to "Must" for that feature.

[2019-02-13 01:42] stmoy opened #304 "Proposal: Tabs Control"
# The WinUI Team has opened a [spec](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/stmoy/tabs/active/tab/tabcontrol.md) and [PR](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/28) for this feature.

# Proposal: Tabs Control

## Summary

The Tab control is a way to display a set of tabs and their respective content. Tab controls are useful for displaying several pages (o

[2019-02-13 02:26] MikeHillberg commented on #304
Should add a link to the Van Arsdel sample

[2019-02-13 09:58] mdtauk commented on #304
I think the more generic controls from the Toolkit should always find their way ported to C++ and available in the Windows UI Library.  Tabs control when it is mature and stable enough should make its way too.

It happened with the Main Menu control :)

[2019-02-13 13:21] lukasf opened #306 "Proposal: Add StandardUICommand"
# Proposal: Add StandardUICommand

## Summary
The StandardUICommand class is very useful. But it is impossible to add this to apps targeting older Windows versions. Using StandardUICommands for newer Windows versions plus manual commands for older versions would cause lots of extra code. It could also lead to inconsistent UI between old an new, because manual translations, shortcuts, etc might be

[2019-02-13 13:26] lukasf commented on #276
I totally agree, this would be very useful!

[2019-02-13 13:31] lukasf commented on #242
@kikisaints This could be solved by having an enum TiltMode: { Disabled, Control, Content } ;) Not sure if it is a relevant scenario though.

[2019-02-13 13:57] dgomezc opened #307 "CommandBar in NavigationView Header show incorrect font size in secondary command"
**Describe the bug**
When I add a CommandBar in NavigationView Header, the secondary command font size is too large.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a blank UWP app.
2. Add NavigationView control to MainPage
3. Add in NavigationView HeaderTemplate a CommandBar with some SecondaryCommands.
4. Run app and open secondary commands in CommandBar.

**Expected b

[2019-02-13 14:01] lukasf commented on #170
Oh yeah. I also have one of those helpers. This would be very useful. And it might be possible to do this in a more performant way, when directly adding it into TextBlock. Then, duplicate measure on the rendered text size could perhaps be avoided.

Currently, I only enable my behavior explicitly on selected, important fields. For many fields it is not needed (they cannot shrink due to layout), plu

[2019-02-13 17:12] MikeHillberg commented on #276
Can this be done today by setting SwipeContro.IsEnabled to false?

[2019-02-13 18:13] ranjeshj opened #308 "Fix manifest in arm64 framework package."
**Describe the bug**
The framework package creation scripts use the manifest from the test app to create the activatable type entries. Since the test app is not building for arm64, this gets ignored and will cause apps to not launch in arm64. We either need to change the way the manifest is updated or build the test app for arm64.

[2019-02-13 20:01] japf commented on #276
That won't work I think if the item contains elements you want to keep interactive. For example:

[code]

[2019-02-13 21:14] #159 closed

[2019-02-13 21:46] jevansaks commented on #308
@ranjeshj you have a PR open for this, right? If so please assign to yourself, thanks!

[2019-02-14 00:53] licanhua opened #310 "Proposal: strip xPresent prefix for 'xPresent:StaticResource' and 'xPresent:Setter Property' before compile themeresources"
# Proposal: strip xPresent prefix for 'xPresent:StaticResource' and 'xPresent:Setter Property' before compile themeresources

## Summary
 It's hard to merge rs1-19h1 theme resources to one file without this feature.
We can strip the prefix before compile XAML files.

Benefit:
It will significantly remove XAML duplication and easy to maintain in the future.

Downside:
Because it's not offical featu

[2019-02-14 03:01] doghappy opened #311 "There is a bug when PersonPicture in ListView？"
**Describe the bug**
There is a bug when `PersonPicture` in `ListView`?
I tried to bind a **FontFamily** to `PersonPicture`, it works for a single `PersonPicture`, but in `ListView`, the binding does not seem to work.

**Steps to reproduce the bug**

### Result

![image](https://user-images.githubusercontent.com/20038914/52759412-b8560580-3046-11e9-8014-136c15c81163.png)

### Code behind

[code]

[2019-02-14 05:56] jevansaks commented on #310
I'm not sure I follow. One of the goals of merging all the styles/resources using conditional XAML was to avoid needing to have our merging script at all (well, we need it for RS1 but RS2+ should use conditional XAML).

It sounds like you're proposing to continue using the merging script and add some new functionality to it.

Perhaps there's another way to do this by using conditional XAML on an e

[2019-02-14 08:43] sonnemaf opened #312 "An Image with SVG source is not correctly Center, Right or Bottom aligned."
**Describe the bug**
An Image with SVG source is not correctly Center, Right or Bottom aligned.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an UWP app with the following XAML in the MainPage
[code]
2. Run the app.

**Expected behavior**
I would expect that the SVG image was aligned to the Right Bottom corner of the page. It is not. The SVG I used has a Width and Hei

[2019-02-14 16:00] licanhua commented on #310
Here maybe another way which would using official conditional XAML by keyed the Template part. then provides different Style part per release.
The problem is that we still can't achieve the goal of not using merging script.

RS4:
[code]
RS5:
[code]

[2019-02-14 18:20] jevansaks commented on #267
Sounds very similar to #203, and I expect the fix would be similar. @JohnnyWestlake do you want to take a crack at the fix? :)

[2019-02-14 18:24] jevansaks commented on #275
@licanhua we've wrestled with the layout of this control a bunch, especially with density and text scaling. Can you take a look at this?

@dPJinjo the title of the bug proposes a fix but I am not totally clear on the problem. Could you fix the title and make the problem a bit more clear? I think it's that if you change the height of the AppBarButton that the reveal border doesn't take the full hei

[2019-02-14 18:30] jevansaks commented on #311
Interesting bug. I don't see any obvious reason why the FontFamily on PersonPicture wouldn't get the right value. Did you happen to debug into the code or look at the values in the live visual tree to see what might be wrong?

[2019-02-14 18:32] jevansaks commented on #312
@codendone Can you take a peek at this and advise?

[2019-02-14 19:50] licanhua commented on #275
It's worth to dig into it and support the auto scaling. We have debate about this before, and finally we decided that we hard-coded a lot of parameters.

When you make change to AppBarThemeCompactHeight, I expect you will tune the following parameters too. And that's what we did to support density

[code]

[2019-02-14 19:52] reddvid commented on #312
No problems on 18834 insider build. (Target version: 17763)

[2019-02-14 20:36] kikisaints commented on #279
@lukasf The original intent to use Path with "dotting" was to reduce the verbosity of the styntax for styling and to potentially support situations like Chris has already mentioned - "dotting" more that one property deep:

[code]
Harder to do if you only have one property available to you... but perhaps we could do this with nested setters. Might get messy, however.

[2019-02-14 21:18] lukasf commented on #279
@kikisaints I don't know if it is true for 100% of controls, but usually all elements inside a stock ControlTemplate do have a name. So we can access and change every property of every element in the ControlTemplate using a setter like this:

```<Setter ElementName="HorizontalThumb" Property="Width" Value="20"/>```

For the example you posted, the SliderThumbStyle is not even an element in the Con

[2019-02-14 23:09] kikisaints commented on #279
I see your point, and also that my example wasn't great - I was trying to portray that there may be scenarios where we would want to index more than two property layers deep, with the Element/TargetName, Property, and then Value syntax route we limit ourselves a little bit in that regard.

That being said, I don't have a good scenario that I can come up with at this time for why we *would* want to

[2019-02-14 23:34] mdtauk commented on #279
The problem as I see it, is how the control will function if it has been re-templated and elements renamed, removed, or changed.  The Style dot naming will throw up an error.

[2019-02-15 00:14] chrisglein commented on #279
Your ```SliderThumb.Border.Width``` example above was approaching this. If there's anything that people want to style that's a property of a property we'd need some sort of "Path" like option. Isn't ```x:Bind``` the better comparison here about using more code-like syntax? As much as I agree that usually it's only as far as ElementName.Property I wouldn't want us to box ourselves out of the possib

[2019-02-15 01:26] mdtauk commented on #279
Silently not applying is fine, but it would be useful for debugging if there was a warning when style elements will not apply because of a mis naming, or a missing target.  We can assume named parts are required and would break the whole control if removed from a ControlTemplate.

Would control states be accessible via this new Styling syntax?  Pressed, Hover, Disabled, etc

[2019-02-15 05:13] licanhua commented on #311
From the live visualtree, PersonPicture itself is with FontFamily="Segoe MDL2 Assets", but InitialsTextBlock inside PersonPicture is "Segoe UI". We have TemplateBinding between InitialsTextBlock and PersonPicture style, so we expect it should work but not.
Problem should related to x:bind, so I suggest we start the investigation from compiler.

[code]

[2019-02-15 05:19] jevansaks commented on #311
Thanks for investigating. x:Bind just sets values the same as if you'd done from code-behind -- it just does it later. @harinikmsft is there a way to make x:Bind set values during template construction instead of deferred? That seems to be the difference between the working/not-working scenarios.

[2019-02-15 05:20] jevansaks commented on #312
Thanks, @reddvid ! I'm following up to see if this is something that the team fixed in this release to explain the fact that it's fixed on latest insider.

[2019-02-15 09:46] sonnemaf commented on #312
I confirm that it is fixed in the insider build.

[2019-02-15 15:19] MikeHillberg commented on #311
It should always be valid to change the PersonPicture.FontFamily, just like it is to change the TextBlock.FontFamily.  This looks like some kind of change notification issue in PersonPictures.

[2019-02-15 18:42] chrisglein commented on #279
Agreed. I think a warning would be very appropriate.

The proposal above does touch on that in the "Changing Properties on Visual States" section. By being able to specify a `VisualState` scope underneath the `Style` you could append styling rules onto the existing state machine. Do you think that'd be helpful?

[2019-02-15 18:44] jevansaks commented on #312
Closing since it has been resolved.

[2019-02-15 18:44] #312 closed

[2019-02-15 19:02] lukasf commented on #279
I do not think that the current proposal on VisualStates is fully fleshed out. VisualStates usually have multiple animations to change values. Having only property setters for VisualStates would be very limiting, because it would prevent us from using animations.

But maybe we don't even need special syntax for VisualStates? If also all elements inside these VisualStates, including each animation,

[2019-02-15 19:40] kikisaints commented on #279
@lukasf I wouldn't want this to fully replace our old styling system, at least not right off the bat. I will call out in requirements that this is an alternative to what we have today.

[2019-02-15 19:57] jevansaks commented on #307
This is somewhat expected. The header uses a larger font than the default and most of our controls don't explicitly set a FontSize and just inherit it down the tree. If you want to try to use a CommandBar here and have it be the default size then you'll need to set FontSize to 14 to go back to the default.

[2019-02-15 19:57] #307 closed

[2019-02-15 20:01] thomasclaudiushuber commented on #279
Hi all,

fantastic discussion here. I got the influenza this week, my wife and my kids too, and I enjoyed reading all of this discussion. I'm still running on 38.5°C, so I hope everything I write here is understandable. With my overclocked brain, I got a few new inputs and thoughts. ;-)

### Path
I see that point that not using a Path could lock us out of some specific scenarios. But even with Tar

[2019-02-15 20:04] lukasf commented on #279
@kikisaints I was not saying that the styling system should be replaced. I just say that all UWP contol styles should be checked and x:Name should be applied to all elements in the ControlTemplate which currently do not have a name. This would not change any behavior. But it makes all elements accessible by the new overrides. These updated style definitions could be shipped with WinUI, to allow ov

[2019-02-15 21:02] michael-hawker commented on #304
Link to [Tab Tear-Off sample](https://github.com/windows-toolkit/Sample-TabView-TearOff) called out in the proposal as well.

[2019-02-15 21:53] SavoySchuler opened #317 "Bug: Shadow missing from TeachingTip."
**Describe the bug**

The shadow feature is not enabled for TeachingTip. There was a change that moved theme shadows from the Internal SDK to the Insider SDK and TeachingTip's use of it wasn't moved.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Clone, build, and run TeachingTip's [working branch of the sample gallery](https://github.com/Microsoft/Xaml-Controls-Gallery/tree/

[2019-02-15 22:07] kaiguo opened #320 "Investigate using container jobs in AzDO pipelines to help control VS/SDK versions in our build machines"
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=vsts&tabs=yaml

[2019-02-16 00:10] SavoySchuler opened #321 "Bug: TeachingTip fails to show when used inside parented ResourceDictionary"
**Describe the bug**

A non-pointing TeachingTip must be implemented via ResourceDictionary to avoid having it show in the visual tree. However, this causes TeachingTip to throw an unhandled exception on show when contained inside a ResourceDictionary that has a parent (e.g.: <Button.Resources>).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Implement TeachingTip inside of a

[2019-02-16 00:23] jevansaks commented on #311
Looking at [the code](https://github.com/Microsoft/microsoft-ui-xaml/blob/050168409f55530c4af2bf17a6831b1be0a922b6/dev/PersonPicture/PersonPicture.cpp#L158), the control is doing something weird to explicitly set FontFamily from code-behind. I think we should probably shift this to use VSM so that it can set the font but also unset it, which is what the code seems to want to do.

[2019-02-16 01:10] mdtauk commented on #304
Does tearing off a tab spawn a new AppWindow, new CoreWindow, and how do you handle fallback where the new window APIs are not present?

[2019-02-16 06:26] michael-hawker commented on #304
@mdtauk the sample uses the older multi-windows ApplicationView API currently, the window gets created in a default position instead of where dragged.  I've been testing with AppWindow and hope to update the sample for the new SDK.

[2019-02-16 08:24] lukasf commented on #279
@thomasclaudiushuber Good point, style overrides should be available both in Xaml and Code-behind! Your proposal would sure solve this. We could then also have a second property VisualStateOverrides with a specialized collection that allows fully featured modification of VisualStates, including animations (we'd have to come up with a concept for how that works).

[2019-02-16 08:40] thomasclaudiushuber commented on #279
@lukasf I didn't mean Code-Behind. I meant also XAML, but locally without a Style. Like this:

[code]

Yes, I agree, there could be another property called VisualStateOverrides on the Control. But maybe it would be cleaner to have all in one place? For example, if we make TemplateOverridesCollection a TemplateOverrides class, it could be reasonable to have it directly there. What I think about loo

[2019-02-17 01:04] AlexeyBKuznetsov opened #322 "Proposal: TreeView selection changed event"
# Proposal: TreeView selection changed event

## Summary
What is the right way to get notified when TreeView selection changed. Would it be possible to introduce something similar to the list view selection changed

[2019-02-18 08:40] doghappy opened #323 "There is a bug when NavigationView in Flyout?"
**Describe the bug**
When the `NavigationView` is in the `Flyout` control and `Flyout` first expands, the `NavigationView` works, but if `Flyout` loses focus(Flyout is closed), click the Button again, all `NavigationViewItem` cannot be clicked.

**Steps to reproduce the bug**

### XAML

[code]

| Windows 10 version                  | Saw the problem? |
| :-------------------- | :------------------

[2019-02-18 08:43] doghappy commented on #323
May be caused by Flyout cache Content

[2019-02-18 10:04] sonnemaf opened #324 "Grid.ChildrenTransitions are not always animated when using States"
**Describe the bug**
I have created a Style/Template which makes a CheckBox look like an ToggleButton. Don't ask me why I just did. The Template contains a blue (AccentColor) slider Rectangle which is moved to a different column using a Setter in the Checked states. The Grid has a RepositionThemeTransition in the ChildrenTransitions. This should animate the Column change. This works in DEBUG mode

[2019-02-18 13:43] dgomezc commented on #307
@jevansaks Thanks for looking into this. We adapt our templates.

[2019-02-19 18:43] jevansaks commented on #217
@MuziburRahman Have you tried to use [ItemsRepeater](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.itemsrepeater)? VirtualizingPanel isn't public because this is really hard to expose as today it requires a bunch of internal hooks from XAML to properly implement.

[2019-02-19 22:54] michael-hawker commented on #60
Related to this [UserVoice item](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36536572-circular-flipview-control-with-position-indicators) as well.

[2019-02-19 23:12] jevansaks commented on #323
This sounds like #18 which is fixed in the latest prerelease MUX. Could you give [this nuget package](https://www.nuget.org/packages/Microsoft.UI.Xaml/absoluteLatest) a try? (You would need to switch your usage of NavigationView from the SDK to Microsoft.UI.Xaml)

[2019-02-20 02:43] #323 closed

[2019-02-20 04:45] MuziburRahman commented on #217
@jevansaks seems it has as less documentation as it could have. How do I use `ItemsRepeater`?

[2019-02-20 09:50] pavelshapovalov opened #328 "NavigationView.ShoulderNavigationEnabled Property with value Always work as WhenSelectionFollowsFocus"
**Describe the bug**
When I set value `Always` in the `NavigationView.ShoulderNavigationEnabled` property, it still work as `WhenSelectionFollowsFocus`. This bug related with function [NavigationView::BumperNavigation](https://github.com/Microsoft/microsoft-ui-xaml/blob/master/dev/NavigationView/NavigationView.cpp#L1541). Which have incorrect check in [line](https://github.com/Microsoft/microsoft-

[2019-02-20 15:38] GRS-Leedo opened #329 "ContextFlyout>MenuFlyout Doesn't Work After Windows 1809 Update"
**Describe the bug**
I am developing a Windows UWP app targeting Windows 10 1803.  On Monday, my development machine was running 1803 and my app behaved as expected.  On Tuesday morning, my machine received the 1809 update.  Afterwards, I opened VS2017 to continue development and the ContextMenu no longer appeared as it should.  No errors were generated.

I created a very simple app with minimal U

[2019-02-20 18:11] jevansaks commented on #322
Looks like we just neglected to add this event when bringing Selection-things to TreeView. Seems like a reasonable request, @predavid can you take a look?

[2019-02-20 18:13] jevansaks commented on #324
@stmoy is there a more reliable solution that facades offers here?

[2019-02-20 18:18] jevansaks commented on #329
That's frustrating, we'll investigate.

[2019-02-20 18:38] stmoy commented on #324
Hi @sonnemaf ! It sounds to me like there is a bug in RepositionThemeTransition if it's only animating sometimes but not other times. I will follow up with the team.

Regarding facades/simple animatable properties - you can potentially leverage TranslationTransition to automatically animate changes to the Translation property on UIElement. A few caveats: the Translation property and TranslationTra

[2019-02-20 20:02] kmahone commented on #329
@GRS-Leedo, thank you for reporting this issue. I can reproduce the problem. It is a bug in the Xaml platform that was introduced in the 1809 release. We will investigate fixing this in a future version of Windows.

The problem is that a ContextFlyout on a TextBlock will not show unless that TextBlock has text selection enabled.

In order to get your application to function on existing versions of

[2019-02-20 23:06] jevansaks commented on #217
Looks like the documentation hasn't been populated yet. @chigy do you know if there's anything that can be shared about this yet? There is a [XamlControlsGallery sample](https://github.com/Microsoft/Xaml-Controls-Gallery/blob/master/XamlControlsGallery/ControlPages/ItemsRepeaterPage.xaml) for it but it's a bit thin at the moment.

[2019-02-21 00:01] kmahone commented on #329
Filed an [internal issue](https://microsoft.visualstudio.com/OS/_workitems/edit/20587589) on this.

[2019-02-21 09:44] sonnemaf commented on #324
The composition animation alternative is not an option for me. I really need it in a Style/Template. I have been using this technique since Windows 8.0 and just recently noticed this bug while creating this demo for a UWP App development Training. Might have been there for a while though.

Thank you for checking this with the team.

[2019-02-21 19:27] jevansaks commented on #240
Fix will be available in an upcoming Windows SDK.

[2019-02-21 19:27] #240 closed

[2019-02-21 19:29] jevansaks commented on #229
@JosephClampett please report this issue through the VS reporting tool. If you are still seeing the rebuild issue I can help you get that ported over to the xlang repo.

[2019-02-21 19:29] #229 closed

[2019-02-21 19:29] SavoySchuler commented on #21
# [TeachingTip is in prerelease!](https://github.com/Microsoft/microsoft-ui-xaml/releases/tag/v2.1.190219001-prerelease)

You can find the release notes and the link to the public NuGet package through the link above.

Thanks again to our contributors so far: @michael-hawker, @mdtauk, @TiredTrident, and @invigoro. We will be continuing to improve this control and shape it up for a full release, so

[2019-02-21 19:49] jevansaks commented on #259
Unfortunately I wasn't able to correlate that event with any crash data. Hopefully you're unblocked now?

[2019-02-21 19:49] #259 closed

[2019-02-21 20:03] kikisaints opened #333 "Proposal: Add a RadioButton group control"
# Proposal: Add a RadioButton Group Control

## Summary
Enable the developer to create a group or collection of RadioButtons that do not use/need a StackPanel.

## Rationale
The behavior for grouping RadioButtons today (via using StackPanels and labeling RadioButtons individually through GroupNames) on UWP differs greatly from our Win32 version - both in narrator experience and expected keyboardin

[2019-02-21 21:34] adambarlow opened #334 "Change the RadioMenuFlyoutItem glyph"
**Describe the bug**

The glyph for the RadioMenuFlyoutItem is currently a checkmark and should instead be a dot as in other 'Radio' experiences, like RadioButtons.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a multiple RadioMenuFlyoutItems with the same group name
2. Look at the glyph provided

**Expected behavior**

The glyph should be a bullet (dot). The correct g

[2019-02-22 14:34] doghappy opened #337 "Bug: TreeViewItem bind data"
**Describe the bug**

When data has child nodes, the binding value is not expected

**Steps to reproduce the bug**

[code]

[code]

![image](https://user-images.githubusercontent.com/20038914/53249038-0a0b2980-36f2-11e9-8432-2c5b232fe193.png)

[2019-02-22 15:03] BlaiseD opened #338 "Can't change sound behavior when a NavigationViewItem is added or removed at run time."
There does not seem to be a way to turn the sound on or off when a menu item is added or removed at run time.  The behavior when `PaneDisplayMode == Top`  (always on) is different from `PaneDisplayMode == Left` (always off).

**Expected behavior**: (Consistency for sound between pane display modes and a switch to change the behavior) OR (Sound always off allowing for custom sound invocation).

**A

[2019-02-22 16:12] BlaiseD commented on #338
May have a workaround by updating the NavigationView style.

Setting `ElementSoundMode=Off` in the Flyout seems to get rid of the sound when `PaneDisplayMode == Top`.
[code]

[2019-02-22 17:37] jevansaks commented on #337
@doghappy to clarify, is the issue that IsChecked is not taking effect for the treeview sub-items?

@kaiguo want to take a look?

[2019-02-22 17:46] jevansaks commented on #338
Thanks for reporting this, @BlaiseD , we'll take a look. The workaround gives us a big clue as to why the sounds are playing. :)

[2019-02-22 18:37] YuliKl opened #339 "Proposal: Update CommandBarFlyout's keyboard behavior"
# Proposal: Update CommandBarFlyout's keyboard behavior

## Summary

We should optimize the number of keystrokes required to move focus to a given item within an open CommandBarFlyout. One way to streamline keyboard navigation is to reduce the number of Tab stops.

## Rationale

Today, every item in CommandBarFlyout's primary area is a Tab stop. To navigate to the first secondary item, users are f

[2019-02-22 19:05] kaiguo commented on #337
@jevansaks I believe that's the known "IsSelected" issue. TreeViewItem is inherited from ListViewItem, the underneath ListView is set to non-select mode when TreeView operates in multi-select mode, which creates some conflicts. I'll take a look.

[2019-02-22 19:48] kmahone commented on #339
Currently up/down keys only move between More Button and secondary items. It would probably be better if you could also use up/down to move from primary items into the secondary items. Right now, from the first primary item you have to go Right, Right, Right to get to the More button, and then press Down to get the the secondary items. It would be quicker to be able to directly go down.

[2019-02-22 21:00] llongley opened #340 "Consolidate tests on either MSTest or TAEF instead of cross-compiling for both"
Our automated testing is currently split into two parts: MSTest for local test runs and TAEF for remote test runs.  This adds ultimately unnecessary complexity to our solution and means that we need to build more binaries than we actually are likely to want to use.  We should ultimately move away from TAEF and only use MSTest, but before we can do that, we need to find a way to run the tests that

[2019-02-22 21:50] gegao18 commented on #324
Hi @sonnemaf, I debugged your repro and it's a general bug with Xaml's ThemeTransitions.

In this case, since the target of the transition is a Rectangle element created from a control template, Xaml doesn't fully create the element. There are parts that are created lazily as they're needed. ThemeTransitions happen to check whether one of these parts exists, but doesn't try to create it if it does

[2019-02-23 09:05] andreinitescu opened #348 "Proposal:"
Support bool ClipToBounds property

# Proposal: UIElement.ClipToBounds

## Summary

Is there a specific reason not to support ClipToBounds?

## Rationale

## Functional Requirements

## Important Notes

## Open Questions

[2019-02-23 12:56] doghappy commented on #337
yeah, the issue you pointed out is only one of them.

I didn't click on any node, only the last worked

[2019-02-24 00:12] duke7553 opened #349 "TeachingTip throws exception when calling isOpen"
**Describe the bug**
Defining a TeachingTip in XAML markup and setting the `isOpen` property will cause the app to crash after throwing a `Microsoft C++ exception: winrt::hresult_error at memory location 0x0000001B01A7DF90`. Since this is definitely a low level error, it requires certain debug symbols for the Microsoft.UI.Xaml.dll module that are not present on my machine, even after loading all s

[2019-02-24 08:54] asmaaswt commented on #348
**totally with it**

[2019-02-25 02:53] DL444 opened #350 "CommandBarFlyout.ShowMode is not available in earlier target platform minimum versions"
**Describe the bug**
CommandBarFlyout.ShowMode property is not available in earlier target platform minimum versions

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a UWP project targeting minimum versions earlier than 17763
2. Create a `CommandBarFlyout` element in XAML markup.
3. Try to set its `ShowMode` property in XAML.
4. Build the project.

**Expected behavior**
T

[2019-02-25 17:32] jevansaks commented on #349
Thanks for the report! The missing symbols is something that was broken for this build which I've corrected for future builds, but I did go back and try to re-publish symbols for this prerelease. Hopefully that will be working by the end of today.

As for the crash you're seeing, @StephenLPeters can you please take a look when you're back tomorrow?

[2019-02-25 17:58] jevansaks commented on #339
@yulikl You filed this as a "feature request", are you going to bring it through the pitch process before dev should pick it up?

[2019-02-25 17:59] jevansaks commented on #337
Thanks, assign to yourself when you start the investigation.

[2019-02-25 18:18] jevansaks commented on #350
You can use [Conditional XAML](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-xaml) to make it so that you only use ShowMode on supported platforms. Unfortunately with the split between WinUI and the platform today we can't make all functionality available on downlevel Win10. In particular with CommandBarFlyout there is some Flyout functionality that was implemented in th

[2019-02-25 18:18] #350 closed

[2019-02-25 18:20] jevansaks commented on #348
I'm not sure if there was a good reason this didn't get brought forward from WPF. I agree, we should add it! :)

[2019-02-25 18:44] chigy commented on #304
"Although these workarounds have helped bridge the platform gap from WPF, they have a number of limitations, including:"

You should list keyboarding here as well.

[2019-02-25 18:56] jevansaks commented on #349
@duke7553 look like symbols are published now, could you try resolving symbols and getting a crash stack now? Thanks!

[2019-02-25 22:01] duke7553 commented on #349
@jevansaks I just tried to resolve the symbols, and everything went fine until I received an error related to **base.h** not being found.
![9454975c-fe21-4f10-9c70-8733a0c87f8e png](https://user-images.githubusercontent.com/20365014/53371575-9306a880-391e-11e9-9790-9109694c06c5.jpg)
![annotation 2019-02-25 165556](https://user-images.githubusercontent.com/20365014/53371577-9306a880-391e-11e9-849a-

[2019-02-25 22:47] michael-hawker commented on #304
Comments on open questions from what we've heard in the toolkit:

I think it's important for the Tab Control to handle the dragging and recombining between TabViews (hosting the same data type) and exposing an drag-out event, with the ability to inspect/intercept.

But I don't know if it's important for the TabView to also directly manage the window lifecycle as that gets more tricky.  A developer

[2019-02-25 23:05] jevansaks commented on #349
Could you copy/paste the text from the Callstack window? Some of the files (like base.h) are from generated files and therefore aren't possible to source index since they don't live in GitHub.

[2019-02-25 23:24] duke7553 commented on #349
This is everything I found in the call stack window
[code]

[2019-02-25 23:25] jevansaks commented on #349
Thanks! We'll investigate.

[2019-02-25 23:36] YuliKl commented on #47
Very brief spec for this feature request is now available here: https://github.com/Microsoft/microsoft-ui-xaml-specs/pull/8

[2019-02-26 04:26] SavoySchuler commented on #349
@duke7553, I know in the earlier version of the control there is a bug that causes the tip to crash if it does not contain fields for an icon and hero (formerly "bleeding") content. It is something that should be fixed in the updated version. But to help you where you're at, I've included the code from my working branch of the XAML Sample Gallery below. Does adding the IconSource and BleedingImage

[2019-02-26 19:17] StephenLPeters commented on #276
If the swipe control is currently Open and CanSwipe is set to false, would we close the SwipeControl, Leave it Open and interactable until the next time is closes, or leave it open and not interactable?

[2019-02-26 19:51] #338 closed

[2019-02-26 23:42] #310 closed

[2019-02-27 09:17] japf commented on #276
That's a good question. Both options are valid (stay open until next swipe or close) I'd say. I don't have a preference on this.

[2019-02-27 09:24] lukasf commented on #276
I'd say, if the dev sets CanSwipe to false, he doesn't want the user to be able to access those swipe commands. So if the user has already opened the control, it should immediately close when CanSwipe is switched to false. At least for me, that would be the logical behavior.

It would also seem like a glitch if the control stays open, can be closed, and then cannot be opened again. Also if it stay

[2019-02-27 18:14] jevansaks commented on #230
Tracked as dotnet/test-templates#56, closing this issue.

[2019-02-27 18:50] kikisaints commented on #276
I second Lukas in that the SwipeControl should just close if the CanSwipe is suddenly disabled.

[2019-02-27 18:58] jevansaks commented on #311
Fixing this requires API additions, proposed in Microsoft/microsoft-ui-xaml-specs#9.

[2019-02-27 19:09] StephenLPeters commented on #349
@duke7553 I've done some digging and found this issue, it is a bug in teaching tip and we are very grateful for your help finding it.  If you need a work around right now you can either set an Icon on your teaching tip, or, because of a very strange quirk in this bug, run your app without a debugger attached.

This is actually why this bug escaped us, the crash will only occur while a debugger is

[2019-02-27 19:17] kmahone opened #362 "Install-WindowsSdkISO.ps1 should optionally install full sdk."
Currently the script only installs UWPCPP which is what the CI build requires. It would be useful to optionally install the full sdk for people that use this script on their own development machines.

[2019-02-27 20:18] sohchatt opened #363 "AnimatedVisualPlayer should work on RS2+ (and Fallback only if Source fails)"
**Describe the bug**
AVP has unnecessarily restrictive `!SharedHelpers::IsRS5OrHigher()` code that needs to be removed. The expected behavior is for it to:

- work on RS2 and greater
- fallback only if Source fails; the implementation of OS checks to cause failure is left up to the Source author.

**Steps to reproduce the bug**

https://github.com/Microsoft/Xaml-Controls-Gallery/issues/66

**Expec

[2019-02-27 23:21] chigy commented on #217
@jevansaks , sorry late response but we should have related documentation out shortly.

[2019-02-28 19:08] #101 closed

[2019-02-28 21:56] licanhua opened #368 "Investigate why TextControlThemeMinHeight should be defined 3 times and be put into ThemeDictionaries"
**Describe the bug**
This is found when providing compact dictionary. In PR #351 ,
We have to define the key like TextControlThemeMinHeight three times.
`            <x:Double x:Key="TextControlThemeMinHeight">24</x:Double>`

Otherwise the setting is ignored in following app.xaml setting.
[code]

[2019-02-28 23:27] RobbyRobbyRobby opened #369 "WebAuthenticationBroker on Xbox doesn't pop soft keyboard"
**Describe the bug**
WebAuthenticationBroker on Xbox doesn't pop soft keyboard.
This prevents signing in to any OAuth protected APIs as the user can't type.
It used to work months ago, now it doesn't.

**Steps to reproduce the bug**
1) Create a blank UWP app.
2) Add a WebAuthenticationBroker (For example, to Pinterest).
3) Deploy to Xbox.
4) Notice that the WebAuthenticationBroker doesn't pop the

[2019-03-01 05:15] h82258652 opened #370 "How to set RatingControl star size?"
**Describe the bug**

I want to use the ```RatingControl``` in my project, but I think it is too big. I set the ```FontSize``` property, but it does not work.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

Can set ```FontSize``` property value to set the star size.

**Screenshots**

**Version Info**

Windows 10.0.17763

N

[2019-03-01 16:18] mrlacey commented on #333
Some questions/observations

- If this is an extension of `ListView`, will all inherited properties be available also? The proposal is currently vague on this.
- Is there any way to modify the individual styling of elements in the group? Either on a collective, or individual basis.
- What happens if "non-RadioButton elements" are specified? Do you just take the text from them and use only that? If

[2019-03-01 17:42] jevansaks commented on #368
@licanhua are you going to investigate this one?

[2019-03-01 17:44] jevansaks commented on #369
@Austin-Lamb any thoughts on this issue?

[2019-03-01 17:44] licanhua commented on #368
Not right now. From my aspect, I think it's low priority since we can workaround the problem.

[2019-03-01 17:45] jevansaks commented on #368
Doesn't seem worth putting on the backlog.

[2019-03-01 17:45] #368 closed

[2019-03-01 18:21] jevansaks commented on #369
We've filed an [internal issue](https://microsoft.visualstudio.com/OS/_workitems/edit/20695059) for tracking.

[2019-03-01 22:55] kikisaints commented on #333
This was actually a spec that was approved before the repo was created, and I was asked to put in an issue surrounding it - apologies if some details were missed, this was previously in a different format.

No, the properties available on this control are a portion of ListView's and an added one for organizing the RadioButton group into columns:

Here's the list:
[code]

Only to the same extent th

[2019-03-02 22:04] duke7553 commented on #349
@StephenLPeters I tried the workaround to add an IconSource and start without a debugger, but one of two things happen:

- If IsOpen is set from source code, it does not display at all, but no crash.
- If IsOpen is set from markup, it crashes with a similar error as last time.

Not sure if your PR fixes this, but I thought I should report it.

[2019-03-03 09:30] DL444 opened #374 "Proposal: Add incremental loading support for ItemsRepeater"
# Proposal: Add incremental loading support for ItemsRepeater

## Summary

Add incremental loading support for ItemsRepeater.

## Rationale

Currently ItemsRepeater control does not support item sources implementing incremental loading (`ISupportIncrementalLoading` interface). Using such source results in no items being load.

However, right now using ItemsRepeater and creating custom Virtualizing

[2019-03-04 11:58] llongley commented on #339
This sounds great to me - I've already heard from one customer who wanted to know how to do this.  Should we perhaps also bring this same behavior to the CommandBar?  It has always seemed strange to me how tab moves through all the primary commands and then just in and immediately out of the secondary commands.

I'm also curious if we should make the right key continue to iterate through the secon

[2019-03-04 16:55] MikeHillberg commented on #339
Shift-tab is a way to do the original scenario here.  But I like Keith's suggestion which is basically that command flyout should support 2D navigation using the keyboard.

[2019-03-04 18:31] jevansaks commented on #370
@kikisaints do you have any context on why the font size of RatingControl is hardcoded?

@LucasHaines is this a control whose size you were considering when looking at density?

[2019-03-04 19:35] YuliKl commented on #339
Thank you for the suggestions! We need to ensure that CommandBarFlyout works well for both sighted and blind users. In talking to our resident SME, blind users definitely want to use the arrow keys and expect that down (or right) will take them to the next item. CommandBarFlyout's secondary commands are drawn directly below the primary commands. So following 2D navigation, down from the first prim

[2019-03-04 19:52] michael-hawker commented on #304
Also forgot to call out for Requirement 9, we had a discussion originally on whether or not to use the Edge model (like the toolkit control currently behaves) or the NavigationView model where it creates a drop-down chevron.  We thought maybe in the future we'd support both.

We ended up going with the Edge model as it was simpler to implement, as then we didn't need a `SplitObservableCollection`

[2019-03-04 20:25] kikisaints commented on #370
@jevansaks I'm pretty sure this control was made to a very specific design based on Store's feedback. It's possible that resizing of the stars was not in scope or simply overlooked in the original spec.

I do think it's work it to allow sizing of the stars though.

[2019-03-04 20:54] ranjeshj commented on #111
Fixed

[2019-03-04 21:21] jevansaks commented on #349
Thanks for the extra details, we'll make sure we try both of those scenarios ASAP.

[2019-03-04 22:30] jskollin opened #375 "Proposal: Enable "bottom-pinned" NavigationMenuItems in the NavigationView control"
# Proposal: Enable "bottom-pinned" NavigationMenuItems in the NavigationView control

## Summary
There are 3 issues that prevent users from easily being able to add new items to the Footer of the NavigationView (elaborated on in the rationale section):
1) Narrator issues
2) There is no SelectionIndicator for Footer items
3) Animation inconsistency

## Rationale
Similar to the built-in Settings Nav

[2019-03-04 22:38] jskollin opened #376 "Proposal: Turn off animation of SelectionIndicator"
# Proposal: Enable turning off animation of SelectionIndicator in NavigationView

## Summary
Users have no way to turn off the animation of the SelectionIndicator in the NavigationView. In other words, users cannot use the SelectionIndicator without the animation in the top part of the NavigationView.

## Rationale
Rationale can be found with this feature request: https://github.com/Microsoft/micr

[2019-03-04 23:51] YuliKl opened #378 "Proposal: Update NavigationView to use ItemsRepeater"
# Proposal: Update NavigationView to use ItemsRepeater

## Summary

Instead of ListView, perhaps NavigationView should use ItemsRepeater as an implementation detail. This shouldn't have any direct impact on users but would help clean up the code.

## Rationale

Currently NavigationView has a dependency on ListView in order to display the MenuItems. This becomes a drawback in places where we have t

[2019-03-05 09:08] knightmeister opened #380 "TreeView: Large amount of space is reserved for checkbox"
**Describe the bug**
A large amount of space is reserved for the selection checkbox and chevron as can be seen in the below image. The checkbox space is reserved even when the selection mode is set to None.

**Steps to reproduce the bug**
All TreeViewItems exhibit this behaviour.

**Expected behavior**
The space for the checkbox should not be reserved unless required. At the minimum, there should

[2019-03-05 09:33] knightmeister opened #381 "Proposal: Ability to support reorder and drag & drop for specific items only"
# Proposal: Ability to support reorder and drag & drop for specific items only

## Summary
The UWP TreeView exposes only two events for supporting drag and drop, and by extension, reordering. These events are [DragItemsCompleted ](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.treeview.dragitemscompleted)and [DragItemsStarting](https://docs.microsoft.com/en-us/uwp/api/windows.ui

[2019-03-05 13:37] lukaszorg opened #382 "Crash when using TreeView on 15063 and lower and navigating back/forth"
**Describe the bug**
Sometimes when I navigate several times to page which have TreeView control on it application crashes with Access Violation exception.

**Steps to reproduce the bug**
1. Create page with frame and button
2. Create another page with TreeView control
3. On button click navigate to page with TreeView control
4. Repeat until app crashes
Bug is can be only reproduced in release mod

[2019-03-05 16:15] MikeHillberg commented on #382
In step 4, are you navigating to a new instance of the page with the TreeView control?  Or are you navigating back/forth between two pages?  Could you add the Xaml files?

[2019-03-05 18:31] jevansaks commented on #382
@lukaszorg if you've got this under windbg would you be able to take a heap dump at the time of the crash and attach it to this issue? Run:

[code]

[2019-03-05 18:32] jevansaks commented on #111
PR is still active.

[2019-03-05 19:14] #317 closed

[2019-03-05 23:12] YuliKl commented on #334
@jevansaks @teaP - can this be fixed soon, perhaps this week?

[2019-03-06 00:34] h82258652 commented on #370
@kikisaints
I use the VS debugger to attach the store app and I found it does not use the ```RatingControl```.
![snipaste_2019-03-06_08-31-37](https://user-images.githubusercontent.com/5144550/53847131-8bb06080-3fea-11e9-8d59-bcc3586b9c9f.png)
It uses a custom control and the control has a ```StarFontSize``` property.

[2019-03-06 00:37] jevansaks commented on #370
@h82258652 would you want to contribute a fix for this? Basically making the control consume the FontSize property instead of using a hardcoded value?

[2019-03-06 00:48] h82258652 commented on #370
@jevansaks I'm sorry, maybe it is too hard for me. I am not good at C++.
@JustinXinLiu @HHChaos Hey, my friends, can you take a moment to fix it?

[2019-03-06 01:25] michael-hawker commented on #348
Could we broaden this to be "Clip Improvements"?  E.g.

- [ ] `Clip` in WPF could accept any geometry, but in UWP only accepts Rectangle. [UserVoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/13134915-uielement-clip-should-accept-any-geometry)
- [ ] Probably outside of scope for the XAML controls, but the [CompositionGeometricClip](https://docs.microsoft.com/

[2019-03-06 01:33] michael-hawker commented on #333
I can see certain folks wanting to restyle the radio button look itself, would that be possible somehow?

Will there be an `Orientation` property to allow showing the buttons horizontally vs. vertically? (Or would they change the `ItemsPanel` like a regular ListView?)

Assuming `SelectedItem` and Binding would work like ListView as well?

[2019-03-06 07:22] HHChaos commented on #370
This is hard to fix because I found that `FontSize` is set in `DataTemplate`. It will be a breaking change.
https://github.com/Microsoft/microsoft-ui-xaml/blob/53fb4d96f1b17acecf068fc4f4bb46db4e351578/dev/RatingControl/RatingControl_themeresources.xaml#L44-L62

[2019-03-06 10:06] knightmeister opened #386 "Not possible to select treeview nodes programmatically"
**Describe the bug**
Previous Windows tree views had properties such as SelectedNodes which allowed you to set the nodes which are selected/highlighted in the control.

The UWP treeview exposes a `SelectedNodes` [property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.treeview.selectednodes) which is a collection. The collection is read only and calling `.Add` on it and specify

[2019-03-06 17:36] kikisaints commented on #370
@h82258652 You're probably not seeing it in Store because often times we design controls for teams that are either adopted by them later or sometimes not at all. Unfortunate, but it happens.

On the other hand, if they are not using it, perhaps it's because it doesn't have a star size property :smile: .

[2019-03-06 17:49] kikisaints commented on #333
@michael-hawker yes SelectedItem and Binding work like the ListView does.

There is no orientation property. The closest is the ```MaxColumns``` property, where you can tell it the # of columns you want and the control will auto fill them in an accessibility-friendly format:

It would look like this:
[code]

![image](https://user-images.githubusercontent.com/6964369/53901742-848e5000-3ff4-11e9-9ee

[2019-03-06 17:50] jevansaks commented on #370
I thought about this more and I don't think just using FontSize property on RatingControl is right because it seems like it should apply to the Header property if the control had one. We should probably add a StarFontSize property like you saw the Store app do.

I think changing that data template to not set the FontSize and instead use one inherited from the ContentPresenter it's in should be fin

[2019-03-06 18:29] jevansaks commented on #376
The animation issue seems ok, I'd rather spend time on #375 and fix this more holistically.

[2019-03-06 18:29] #376 closed

[2019-03-06 18:32] jevansaks commented on #380
@predavid please find the figma file and then we can fix this to match the design comp.

[2019-03-06 18:33] jevansaks commented on #349
@StephenLPeters Once you've verified that this is fixed, please close.

[2019-03-06 18:39] jevansaks commented on #381
We think this might be possible, @chrisglein  is going to poke around.

[2019-03-06 18:40] jevansaks commented on #386
@kaiguo Is this something you fixed recently or is it part of the pending PR you have out?

[2019-03-06 18:42] jevansaks commented on #378
@ojhad Can you add some details about the pro/cons of this? We talked about it offline and it seems righteous but is it worth the cost?

[2019-03-06 19:05] kaiguo commented on #386
SelectedNoes collection only works in multi-select mode, @knightmeister can you set TreeView to multi-select and see if it still repros?

We are working on adding a new SelectedNode property for single selection. See PR #243

[2019-03-06 19:29] jevansaks commented on #386
Shouldn't we make SelectedNodes contain the one and only selected item in single select? I'm pretty sure Selector.SelectedItems works this way.

[2019-03-06 19:39] jevansaks commented on #334
@teaP said she'll do it today.

[2019-03-06 20:08] kaiguo commented on #386
@jevansaks Yeah I think that works, then we can probably just get rid of the singular form SelectedItem and SelectedNode?

[2019-03-06 20:13] knightmeister commented on #386
@kaiguo Yes, it works when SelectionMode=Multiple.

[2019-03-06 20:31] jevansaks commented on #386
No, having the singular one is still convenient when in single select mode.

[2019-03-06 20:41] kaiguo commented on #386
I see. I'll make some updates in #243

[2019-03-07 08:52] lukaszorg commented on #382
Heap dump can be found here: https://drive.google.com/open?id=17MNefD185KM2qLSlQeY3MU767blDH5E3

In step 4 I'm navigating to new instance of the page with TreeView.

[2019-03-07 18:04] jevansaks commented on #386
Ok, i'll assign this to you then.

[2019-03-07 18:16] #311 closed

[2019-03-07 19:37] jevansaks commented on #382
Awesome, thanks. We'll investigate and see if there's something we can do to work around this downlevel XAML framework bug from the controls side.

[2019-03-07 22:56] Karl-Bridge-Microsoft opened #389 "Proposal: Append keyboard shortcut to UIElement tooltip"
# Proposal:Append keyboard shortcut to UIElement tooltip

## Summary
I'd like to have my keyboard shortcut appended to my element tooltip.

## Rationale
Currently it's exclusive - either one or the other. My shortcut is either the default tooltip, or my explicit tooltip is the tooltip, but not a concatenation. If I specify a tooltip, my shortcut is not displayed. Makes the tooltip difficult if not

[2019-03-07 22:59] Karl-Bridge-Microsoft commented on #389
Looks like my example was truncated.

<Button Name="MoveItemRightButton" ToolTipService.ToolTip="Click to move item right" KeyboardAcceleratorPlacementMode="Auto"
		Margin="0,10,0,10" Width="120" HorizontalAlignment="Center"
		Command="{x:Bind Path=ViewModel.MoveRightCommand}">
	<Button.KeyboardAccelerators>
		<KeyboardAccelerator
			Modifiers="Control"
			Key="Add" />
	</Button.KeyboardAccelerato

[2019-03-07 23:00] Karl-Bridge-Microsoft commented on #389
Example truncated in OP.

<Button Name="MoveItemRightButton" ToolTipService.ToolTip="Click to move item right" KeyboardAcceleratorPlacementMode="Auto"
		Margin="0,10,0,10" Width="120" HorizontalAlignment="Center"
		Command="{x:Bind Path=ViewModel.MoveRightCommand}">
	<Button.KeyboardAccelerators>
		<KeyboardAccelerator
			Modifiers="Control"
			Key="Add" />
	</Button.KeyboardAccelerators>
	<StackP

[2019-03-07 23:01] Karl-Bridge-Microsoft commented on #389
`<Button Name="MoveItemRightButton" ToolTipService.ToolTip="Click to move item right" KeyboardAcceleratorPlacementMode="Auto"
		Margin="0,10,0,10" Width="120" HorizontalAlignment="Center"
		Command="{x:Bind Path=ViewModel.MoveRightCommand}">
	<Button.KeyboardAccelerators>
		<KeyboardAccelerator
			Modifiers="Control"
			Key="Add" />
	</Button.KeyboardAccelerators>
	<StackPanel>
		<SymbolIcon Symbo

[2019-03-07 23:05] jevansaks commented on #389
I edited the description of the issue to have the text render correctly. I think the tags were being treated as HTML by the markdown renderer. :)

[2019-03-08 03:56] StephenLPeters opened #390 "Teaching Tip does not forward all needed properties to the popup."
**Describe the bug**
Teaching tip was changed to put a child of itself into the popup which means it needs to forward some properties to that child.  Fixing this issue entails enumerating the properties which should be forwarded and ensuring that process works.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots*

[2019-03-08 05:48] #111 closed

[2019-03-08 09:30] charlesroddie opened #392 "Proposal: remove XAML from name"
This project is called microsoft-ui-xaml, even though XAML is only an optional way to use it.
Moreover XAML is an optional way to use other Microsoft UI frameworks too (WPF, Xamarin).
So UWP does not imply XAML and XAML does not imply UWP.

This misnaming affects the github name of this project (microsoft-ui-xaml) and also namespaces. "Windows.UI.Xaml" has nothing to do with Xaml. This is confusin

[2019-03-08 17:50] Austin-Lamb opened #393 "Proposal: Adopt __CxxFrameHandler4 for improved binary size"
# Proposal: Adopt __CxxFrameHandler4 for improved binary size

## Summary
See this blog post for details, using MUX as an example already:
https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/

## Rationale
If this is turned on for MUX, the binary size reduces significantly, which helps with disk space, package size, disk I/O and so on.

This benefits every consumer of

[2019-03-08 18:21] jevansaks commented on #363
PR was merged so this should be closed now, right @improbabilityphysics ?

[2019-03-08 18:21] #363 closed

[2019-03-08 18:26] jevansaks commented on #390
@StephenLPeters Can you add more specifics for this issue? Also is this required to ship TeachingTip?

[2019-03-08 18:45] StephenLPeters opened #394 "Implement custom Keyboarding and Accessibility for TeachingTip."
Teaching Tip's spec calls out some custom keyboarding and accessibility features that have not yet been implemented.

- [ ] Keyboarding
- [ ] Narrator experience
- [ ] High contrast
- [ ] Tooltip for close button

[2019-03-08 18:53] StephenLPeters opened #395 "Add PointerMode API to teaching tip."
# Proposal: Add PointerMode API to teaching tip.

## Summary

Add an enum proprety for teaching tip named PointerMode of type TeachingTipPointerMode.
Add an enum name TeachingTipPointerMode with Auto, On, and Off value.

## Rationale

In order for teaching tip to work more effectively in island scenarios we need to include an api to force the pointer to show even if the target property is not set.

[2019-03-08 19:02] StephenLPeters opened #396 "TeachingTip api renamed or have their types changed."
There are a few teaching tip api's which need to be renamed:
- [ ] Bleeding->Hero
- [ ] [Action/Close]ButtonText -> object instead of string
- [ ] SubText->SubTitle
- [ ] Placement -> PreferredPlacement

[2019-03-08 19:25] StephenLPeters opened #397 "Remove the CloseButtonKind API from Teaching Tip"
During API review it was determined that the CloseButtonKind API and its related enum are not desirable and this should be removed and replace by automatic behavior.

[2019-03-08 19:36] StephenLPeters opened #398 "Update TeachingTip PlacementMode names"
The current placement of teaching tip does not match Flyout's placement when and aligned placement mode is elected. Currently the teaching tip is placed to maximize the placement in that direction while maintaining the pointer is positioned at the center of the target. Instead the aligned placement should align the edge of the tip with the edge of the target and attempt to get the pointer as close

[2019-03-08 20:45] #321 closed

[2019-03-08 22:54] #334 closed

[2019-03-09 00:38] micahl opened #403 "UniformGridLayout sometimes leaves holes in the layout"
**Describe the bug**

Using an ItemsRepeater with the UniformGridLayout and scrolling through a large list or resizing the content sometimes a hole will appear where an item should be.  For example, in the screenshot below Item #2838 is missing.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Created a dummy app with the markup below and tried scrolling through the content and re

[2019-03-09 06:58] #267 closed

[2019-03-09 08:13] andreinitescu opened #405 "Proposal: Have PropertyChangedEventArgs carry the new property value"
## Proposal: Have PropertyChangedEventArgs carry the new property value

### Summary

Currently PropertyChangedEventArgs only has the property name, not the new value. So all listeners must read the value of the sender on the PropertyChanged event handler.

## Rationale

Having to read the value on every PropertyChanged event listener can be avoided by simply having the PropertyChangedEventArgs ca

[2019-03-10 02:56] contextfree commented on #392
Yes, it's always been really confusing that there's basically no accepted name for this UI framework - calling it "XAML" is doubly confusing for the reasons mentioned in @charlesroddie 's post. (Some people conversely use "UWP" to refer specifically to this XAML framework, which is also wrong/misleading since UWP apps don't necessarily use it) I wish we could all decide on a name for it that doesn

[2019-03-10 03:08] contextfree commented on #392
Here's a list of names I've seen used for this framework and what's wrong with them:

- "XAML": You can use controls from this framework in code (or through another framework like React Native built on top of them) without needing XAML; other frameworks like WPF and Silverlight also use XAML

- "UWP": UWP apps don't have to use this framework; they can be written for example using HTML, game engin

[2019-03-10 06:20] RafalSkorka opened #406 "Proposal: Expose TreeNodeSelectionState for TreeView node"
# Proposal: Expose TreeNodeSelectionState for TreeView node

## Summary
When a TreeView is set to `SelectionMode="Multiple"` there is no way to find out if a parent node which is selected is only partially selected or all its children are selected without iterating over children's collection.

## Rationale
In order to find out if a parent node is fully or partially selected, I need to match all se

[2019-03-10 21:03] contextfree commented on #333
This definitely seems valuable, I'd like to highlight one question that @mrlacey  raised:

Being able to easily individually style elements (or just provide individual labels for each item that are specified in the view) seems especially important for a RadioButton group, relative to a ListView. I would think the common use cases are different in that a ListView is typically used to display a dyna

[2019-03-11 16:48] micahl opened #407 "UniformGridLayout doesn't virtualize when Orientation is the same direction as the scrolling direction"
**Describe the bug**

See the markup below.  Virtualization breaks if someone sets the layout's Orientation to be "vertical" when the scrolling direction is also up/down.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Use the markup below in a dummy app.  Note that the default scrolling direction of ScrollViewer is up/down and the Orientation of the layout is vertical meaning th

[2019-03-11 16:53] micahl commented on #407
I initially thought ItemsStretch should still work here, but thinking about it more I don't know that is reasonable since they're defined to stretch in the direction of layout and here it's vertical with infinite space so there isn't really any extra dead space they can stretch to fill.

[2019-03-11 17:23] jevansaks commented on #407
So this is trying to use UniformGridLayout as a stack layout? If this is easy enough to support, then we can do it.

[2019-03-11 17:50] ranjeshj opened #408 "ItemsRepeater: FlowLayout repositions items during scroll"
**Describe the bug**
ItemsRepeater: FlowLayout repositions items during scroll

[Internal Issue](https://microsoft.visualstudio.com/OS/_workitems/edit/19618165)

[2019-03-11 17:51] jevansaks commented on #405
I believe the rationale for leaving this out is a few things:
1) It's costly to make callers put the new value in.
2) If you include the new value then people are likely going to want the old value too, which is potentially even harder/more costly for implementers to include.
3) In cases where the property is value-typed, then the object-typed property will force boxing of the value which is bad f

[2019-03-11 17:53] jevansaks commented on #408
@ranjeshj do we need this for the 2.1 release?

[2019-03-11 17:54] micahl commented on #408
Not needed for the 2.1 release since FlowLayout is still in 'preview'.

[2019-03-11 17:54] ranjeshj commented on #408
Not required for 2.1 release. Flow layout is still in preview and this seems to be pronounced in this particular scenario where flow layout is being customized.

[2019-03-11 18:30] jevansaks commented on #392
Great feedback. :) I agree, the terminology in this space is hopelessly confusing. Unfortunately this isn't something we're in a position to change now.

[2019-03-11 19:31] MikeHillberg commented on #405
(Note that the Xaml [PropertyChangedEventArgs](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Data.PropertyChangedEventArgs) is special in C#/VB, as there it projects as the [.Net version](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.propertychangedeventargs?view=netframework-4.7.2).)

In general, we've been getting more consistent about not putting convenience APIs

[2019-03-11 19:37] andreinitescu commented on #405
Thanks for the feedback.
So I suppose allocation is more costly even when you have 2 or 3 listeners which read a bindable property which require unboxing

[2019-03-11 20:34] jevansaks commented on #333
Could you elaborate on what your data model looks like that you think data binding would be cumbersome? I want to make sure we build something easy to use, but it's hard for me to picture what is difficult/unintuitive in your mind. Maybe give an example of what you think the "hard to achieve" scenario would look like?

[2019-03-11 20:59] MikeHillberg commented on #405
Thanks for the proposal!

The APIs you really need to have on event args are those that are temporal; they're only possible in the context of raising the event.  For example, passing the old value on a property changed event really has to be on the args, because it's not on the sender anymore.  Once you reduce the args to that, a lot of (most?) events don't need args, so the perf savings is that n

[2019-03-11 21:03] jevansaks commented on #380
Here's the values from the spec:
![image](https://user-images.githubusercontent.com/20667023/54157845-61a1d880-4406-11e9-9485-e5f4de70928f.png)

[2019-03-11 23:13] micahl commented on #205
@MuziburRahman, thanks for the proposal!  I've been out of the office since just a few days before this was opened so apologies for the slow response.  Is there a specific control you'd like to build where you'd like to start from ItemsControl versus a more derived type that already supports selection behaviors such as ListBox?

[2019-03-11 23:29] YuliKl commented on #328
Here's the documentation for [ShoulderNavigationEnabled](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.navigationview.shouldernavigationenabled) and [SelectionFollowsFocus](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.navigationview.selectionfollowsfocus#Windows_UI_Xaml_Controls_NavigationView_SelectionFollowsFocus) properties. The behavior described in thi

[2019-03-12 01:06] michael-hawker commented on #333
@jevansaks maybe @contextfree's talking about a scenario where he has a data model like:

[code]

How would you XAML bind the RadioButtons to be the set of Name or Addresses from the Friends group?

Or if you have an enum for different values like `LightMode`, `DarkMode`, `CustomMode` but want them to show up differently within the choices? e.g. `Light`, `Dark`, and `Custom`?

[2019-03-12 05:27] MuziburRahman commented on #205
@micahl Yes, I was trying to build a custom control that is almost like a `ToggleSplitButton`, except for the fact that it will use ItemsControl as the base class. I was almost done with it, but then had one little annoying problem (please have a look at [this](https://stackoverflow.com/questions/53571737/itemspresenter-in-a-popup-of-a-templated-itemscontrol-shows-only-1-item-on-first)), which I b

[2019-03-12 07:40] pavelshapovalov commented on #328
@YuliKl Unfortunately not. Because I have toggle switch control into the navigation view, and SelectionFollowsFocus breaks the logic of the work. I will need to go through three tabs to enable or disable toggle in this case.
I've added other temporary work around. I added function like BumperNavigation which handle key up event for navigation view on page.

[2019-03-12 11:16] contextfree commented on #333
Thanks for reading my comment, sorry I phrased it in a convoluted way. What I had in mind was something closer to @michael-hawker 's second example: binding each radio button to a different enum value, where it might show up as a longer descriptive string that's different from the name of the enum value in code. The common way to do this since WPF has been to write an `EnumToBoolean` converter tha

[2019-03-12 15:23] adamhewitt627 opened #410 "Proposal: Add IconSourceElement"
# Proposal: Add IconSourceElement [docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.iconsourceelement)

## Summary
This library includes support for the various `IconSource` implementations, but we should be able to leverage those icon sources in places that expect an `IconElement`.

## Rationale
I would expect any control in `Windows.UI.Xaml.Controls` to also exist in this

[2019-03-12 17:23] jevansaks commented on #382
Looking at the heap dump we see that the framework is crashing accessing a ItemTemplateSelector property, so we might be able to work around this by holding a strong ref to the ItemTemplateSelector property. Need to make a repro and then validate this workaround.

[2019-03-12 17:26] jevansaks commented on #324
@gegao18 did you file an internal issue to track fixing this for real?

[2019-03-12 17:28] #392 closed

[2019-03-12 17:52] jevansaks commented on #324
[Internal issue](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/20607945)

[2019-03-12 19:45] micahl commented on #205
Ah, I see.  I don't think Selector will necessarily solve the issue you're hitting.  Instead of deriving your SplitToggleButton from ListViewBase try deriving from ListView.  And if you anticipate that the number of items may be quite large then be sure to explicitly set a height on the PopupBorder to constrain the layout of its children such that virtualization can kick in.

[2019-03-12 19:48] micahl commented on #217
Initial documentation can be found here: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/items-repeater

I expect to add more, specifically a section on creating a custom virtualizing layout.  Your input can help guide what gets added so let us know what you'd like to see in this space.

[2019-03-12 20:00] jevansaks commented on #393
I hear that what we need for this is in VS2019 RTM so we'll wait for that to ship and for Hosted agents in azure pipelines to be available with that before we switch.

[2019-03-12 21:42] chrisglein commented on #381
Just to make sure I'm following. You have some situation like this:
![TreeView_PreDrag](https://user-images.githubusercontent.com/26607885/54237077-63d16900-44d2-11e9-9085-6c85b317dd27.png)
You can use `TreeViewDragItemsStartingEventArgs.Cancel=true` to stop your fixed items from being a drag source, and you can use `UIElement.AllowDrop=false` to prevent dropping on top of your fixed item. But the

[2019-03-13 04:01] MuziburRahman commented on #205
@micahl Thanks. But it was a single selection control. `ListViewBase` is a multi-selection control. `Selector` is the base class for single selection controls. Apart from the problem I described above, if I want to create a single selection control, there's no way I can do that now because of the inability to derive from `Selector`

[2019-03-13 04:26] MuziburRahman commented on #217
@micahl Great! That solves the problem.
Btw, it'd be great to have a short example of how to implement Selection behavior. Though I have an initial idea, but I'd love to see some recommendation about it.

[2019-03-13 05:31] MuziburRahman opened #416 "TextBox changes height unexpectedly in single line mode when using TextWrapping"
In an attempt to hide the cross button, I set the `TextWrapping` to Wrap while not accepting returns. This works a lot of times, except when the `TextBox` has enough space to grow vertically, it will try to grow vertically, and then will grow horizontally afterwards :

![hh](https://user-images.githubusercontent.com/21083609/54255473-6e4b3b80-4582-11e9-9e59-ab0a78f3dbf3.gif)

**Steps to reproduce

[2019-03-13 13:56] ranjeshj opened #418 "Use MaxViewport instead of EffectiveViewport for ItemsRepeater"
**Describe the bug**
ItemsRepeater currently uses EffectiveViewport which can be relatively small when it is somewhere deep in the tree. We should use MaxViewport to bring get enough realized ahead of time. This will increase the amount of items we realize in nested cases, but we can dial it down using the scrolling distance.

[2019-03-13 16:26] micahl commented on #205
The alternative to deriving from a specific control (an "is-a" approach) is to use composition (a "has-a" approach).  With the latter approach you wrap the control(s) you need and only expose the properties/method/events you want.  Although there's some extra wire up it has the advantage of better encapsulation.  You're not automatically inheriting and exposing a number of things from ItemsControl

[2019-03-13 16:31] MuziburRahman commented on #205
@micahl both, to be honest.  Primarily for my own app. But I had a plan to make that public if I could build it.

[2019-03-13 17:26] jevansaks commented on #416
Interesting. Short of re-templating to remove the delete button, I don't see another workaround. I'm asking the team about the height jumping problem, that just seems weird.

[2019-03-13 18:16] jevansaks commented on #416
We found an internal issue that sounds like this bug. It regressed in 17763 but is fixed in insider builds. Can you try on insider?

[2019-03-13 18:16] #416 closed

[2019-03-13 18:25] dannyp32 opened #419 "High Contrast PointerOver and Pressed colors do not work in HyperlinkButton"
**Describe the bug**

When I have a textblock inside of a hyperlink button in high contrast mode, the color doesn't change when I hover over it or click on it.

        <HyperlinkButton>
            <TextBlock Text="hello"></TextBlock>
        </HyperlinkButton>

**Expected behavior**

PointerOver and Pressed states should change the color of the text in high contrast mode.

**Screenshots**

![ima

[2019-03-13 20:52] jevansaks commented on #239
Just saw this here: https://github.com/Microsoft/microsoft-ui-xaml/pull/412/checks?check_run_id=77188765

[2019-03-13 21:14] kaiguo opened #422 "Include test setup errors in AzDO log snippet"
We currently don't show test setup errors in the log snippet, those errors should be included too to make logs more useful.

Need to update ConvertWttLogToXUnit.cs to include setup errors.

[2019-03-13 21:15] knightmeister commented on #381
@chrisglein you make a good point about stopping reordering above the fixed part of the tree, which I'd not considered, I'm not sure how this would be best served, perhaps by exposing two properties such as `NodeBefore` and `NodeAfter` in `DragItemsCompleted`.

The `TreeViewNode` element is missing `AllowDrop` property and setting `AllowDrop` on a `TreeViewItem` does not prevent me from dropping a

[2019-03-13 21:26] knightmeister opened #423 "Proposal: Add ability to easily remove chevron from AppBarButton with flyout when not contained in an CommandBar"
# Proposal:  Add ability to easily remove chevron from AppBarButton with flyout when not contained in an CommandBar

## Summary
When adding AppBarButtons to a container other than an AppBar/CommandBar and there is an attached flyout, a chevron will be shown. This can be removed with great difficulty ([see this SO question](https://stackoverflow.com/questions/55038971/remove-the-chevron-arrow-added

[2019-03-13 21:27] jevansaks commented on #423
Could you use a different control here? Like Button (it has a Flyout property too). What's the motivation to use AppBarButton outside a CommandBar?

[2019-03-13 21:48] knightmeister opened #424 "Unable to set width of ContentDialog"
**Describe the bug**
Using the properties `MinWidth`, `MaxWidth` and `Width` have no effect on the width of the ContentDialog but break the ability to resize the window and keep the ContentDialog centered. There are [numerous ](https://stackoverflow.com/questions/45917333/contentdialog-max-width)[questions ](https://stackoverflow.com/questions/52101328/uwp-content-dialog-width-stays-the-same)[on](

[2019-03-13 21:57] jevansaks commented on #422
Do you have any details for future us about _how_ to do this? :)

[2019-03-13 22:09] kaiguo commented on #422
Yep I updated the issue description.

[2019-03-13 22:56] #158 closed

[2019-03-13 23:18] ranjeshj opened #425 "layout cycle when flow direction is same as scroll direction"
**Describe the bug**
When the flow direction is the same as the scroll direction, we end up with a layout cycle some of the time. This is because we try to perform line alignment in the virtualizing direction which ends up causing the anchor to move back and forth causing scroll anchor provider to jump back and forth leading to a layout cycle. When in this mode, we should not do line alignment bec

[2019-03-14 01:20] #395 closed

[2019-03-14 02:38] micahl commented on #217
Good feedback.  I'll see about adding some details there.

[2019-03-14 02:47] micahl commented on #205
Ok, then I definitely think a has-a approach is worth considering.  I'll look at getting an example that combines this need with #217.  It might not be "short" yet, but hopefully it is understandable and something we can work on making shorter over time.

[2019-03-14 04:34] SaravananAyyanar opened #427 "UWP - AmbiguousMatchException thrown when binding TextBlock.Text property to the property which exists in both base and derived class"
**Describe the bug**
I have a property in same name in both base and derived class with different data type. When binding the property to TextBlock.Text property, exception occurs while binding itself.
NOTE: Exception is throwing only in UWP. But works fine in WPF.

**Steps to reproduce the bug**
BindingCode:

[code]

Model:

[code]

Run the sample.

**Expected behavior**
Exception not occured.

*

[2019-03-14 16:17] ranjeshj opened #428 "’Element is already the child of another element' exception when navigating pages"
**Describe the bug**
When navigating back and forth from a page hosing a repeater, we seem to hit an exception saying 'Element is already the child of another element'.

**Steps to reproduce the bug**
Try navigating back and forth in the ItemsView sample. This is not a consistent repro.
TBD: partner has hit this as well- I'm trying to get a more consistent repro.

**Expected behavior**
No crash

[2019-03-14 16:19] jevansaks commented on #428
@ranjeshj -- do you want me to track this for 2.1?

[2019-03-14 16:19] ranjeshj commented on #428
no

[2019-03-14 16:23] ranjeshj opened #429 "In ItemsView prototype when switching views one container is not recycled from the previous view."
**Describe the bug**
when switching views in the ItemsView prototype, it looks like one of the items seem to be held onto and does not get the new template. There might be a case where the pinned element is being held onto when it should be recycled.

**Steps to reproduce the bug**
Switch views in itemsview prototype.

**Expected behavior**
when the view is switched all items should get the new te

[2019-03-14 16:27] ranjeshj commented on #428
No

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jevan Saks <notifications@github.com>
Sent: Thursday, March 14, 2019 9:19:27 AM
To: Microsoft/microsoft-ui-xaml
Cc: Ranjesh Jaganathan; Mention
Subject: Re: [Microsoft/microsoft-ui-xaml] ’Element is already the child of another element' exception when navigating pages (#428)

@ranjeshj<https://nam06.safelinks.pro

[2019-03-14 16:35] jevansaks commented on #424
Good bug. I believe this is because ContentDialog is a FrameworkElement but it moves its content to a popup so the layout-related properties don't take effect. We can probably make the *Width/*Height properties work.

[2019-03-14 16:59] jevansaks commented on #427
I could not get this sample to produce an AmbiguousMatchException on latest insider. It either gave no errors (but also didn't work) if I did it from XAML and from code-behind it was giving a debug output error:

[code]

@SaravananAyyanar can you provide the version of Windows you're running against and a more complete sample?

I'm also confused by the setting of "myBinding.ElementName" in the rep

[2019-03-14 17:10] jevansaks commented on #419
Does it work if you don't use TextBlock but just set `<HyperlinkButton Content="hello"/>`?

[2019-03-14 17:12] jevansaks commented on #419
Nevermind, I set up the repro and see it for both. Very odd. We'll take a look.

[2019-03-14 17:17] jevansaks commented on #419
We also had an [internal issue](https://microsoft.visualstudio.com/OS/_workitems/edit/19322324) tracking this as well.

[2019-03-14 17:43] adclements commented on #428
I have a consistent repro. Min version is rs3, target version is rs5, running on rs5.  Started happening with version 2.1.181217001-prerelease.

This is using an ItemsRepeater with a bound DataTemplateSelector, and an ItemsSource with a bound list.

The exception is always thrown under the following conditions:
1) Create and render a virtualizing layout with the ItemsRepeater, and have the data bo

[2019-03-14 18:30] licanhua opened #430 "Investigate why Compact.xaml doesn't work in MergedDictionary in Application.Resources"
**Describe the bug**
Because XamlControlsResource is already a dictionary, and we need make it to MergedDictionary if we want to add Compact.xaml too. But actually it doesn't work and need to investigate why

![image](https://user-images.githubusercontent.com/6290692/54381946-327ca880-464c-11e9-81f6-73bc5ba7e10b.png)

[2019-03-14 20:30] knightmeister commented on #423
I could probably use a button; I wanted the appearance of `AppBarButton`s. I'm not using an AppBar as I'm laying them out in a grid.

[2019-03-14 22:06] #403 closed

[2019-03-14 22:09] #407 closed

[2019-03-14 22:37] #396 closed

[2019-03-14 22:37] #397 closed

[2019-03-14 23:08] yowl opened #432 "Proposal: Please add CarouselPanel here"
# Proposal: Can we get CarouselPanel in here

## Summary
Related to https://github.com/Microsoft/microsoft-ui-xaml/issues/36, in that CarouselPanel is used by UWP ComboBox.  I did look for a feature request just for ComboBox, but I didn't see one so I'm creating this so as to encourage a high performance ComboBox as the CarouselPanel shoud virtualize.

## Rationale
High performance ComboBox's whic

[2019-03-15 14:47] #425 closed

[2019-03-15 16:14] ranjeshj opened #433 "Downlevel scroll anchor support for Repeater leads to jank on RS5"
**Describe the bug**
Downlevel scroll anchor support for Repeater leads to jank on RS5

Internal issue: https://microsoft.visualstudio.com/OS/_workitems/edit/19501499
See internal bug for repro.

[2019-03-15 16:16] ranjeshj opened #434 "ItemsRepeater - Unable to explicitly detach recycled element from being parented to ItemsRepeater."
**Describe the bug**
I was creating a small sample of how ItemsRepeater could be used in response to https://stackoverflow.microsoft.com/questions/123242/best-approach-for-simple-non-scrolling-ui-virtualization#comment107458_123242.  I have a simple custom layout that only requests enough UIElements to fill the viewport and no more.  This is unlike ItemsControl which will first create all the UIEl

[2019-03-15 16:59] jevansaks commented on #432
The carousel functionality is useful but CarouselPanel itself isn't something we can easily expose (especially since it uses a bunch of internal hooks). But it would be beneficial to build something like that on top of ItemsRepeater. @micahl @ranjeshj do you have any samples like this?

[2019-03-15 17:05] ranjeshj commented on #432
I don't have a sample, but it should be relatively easy to build it on top of ItemsRepeater i think.

[2019-03-15 17:25] micahl opened #435 "Proposal: Enable more accurate scrollbar positioning for virtualized layout"
# Proposal: Enable more accurate scrollbar positioning for a virtualized layout

## Summary

Applications or control authors that utilize a virtualizing layout with items that vary wildly in size can provide users with a more accurate scrolling experience by aiding the layout in generating more accurate estimates of the content's size.

## Rationale

Users rely on a ScrollBar both to navigate over

[2019-03-15 17:43] #228 closed

[2019-03-15 17:58] yowl commented on #432
Thanks for the replies.  To be honest I wasn't aware of the ItemsRepeater.   If that could be used in the ComboBox ItemsPanel to get virtualization then that would be good.  I'll close this.

[2019-03-15 19:37] drchilds opened #439 "Swipe control SwipeItem Command Binding is Ignored"
**Describe the bug**
A SwipeItem with a Command bound to a valid ICommand in a view model ignores the binding.

**Steps to reproduce the bug**
1. Using a sample project with a ListView of SwipeControls, bind a ViewModel Command to a SwipeItem.
2. Launch the project and attempt to invoke the command from the SwipeItem.
3. Observe that nothing happens.
4. Set the Invoked event and set a breakpoint i

[2019-03-15 19:45] jevansaks commented on #432
I'd like to keep this open to track at least getting a CarouselPanel sample built using ItemsRepeater.

[2019-03-15 19:53] drchilds commented on #439
See also:  https://stackoverflow.com/questions/53560468/swipeitem-xaml-binding-ignored

[2019-03-15 19:54] drchilds commented on #439
Accidentally hit close. Apologies.

[2019-03-16 00:16] #380 closed

[2019-03-17 23:12] davidfishlock commented on #428
I see the same issue when nesting ItemsRepeater to present hierarchical data. When scrolling and the containers are recycled, the same exception is thrown.

[2019-03-18 01:51] avknaidu opened #443 "Proposal: SplitButton, Disable/Enable only Button portion."
# Proposal: SplitButton, Disable/Enable only Button portion.

## Summary

It would be a good feature to disable only the button portion of the Splitbutton but still give an option to keep flyout enabled.

## Rationale

See Example below.

## Functional Requirements

A New Property called `IsButtonPartEnabled` that will enable/disable the button but will keep the flyout part always enabled.

## Imp

[2019-03-18 04:54] ranjeshj commented on #428
can you please share a repro app ?

[2019-03-18 08:43] davidfishlock commented on #428
It's not a very complex repro, the ItemsRepeater just needs to be inside a DataTemplate and bound to something. It will throw an exception when user scrolls and the parent container is recycled.

https://dev.azure.com/davidfishlock/ItemsRepeater

[2019-03-18 16:11] MuziburRahman opened #444 "Proposal: Allow WrapGrid to be used without ItemsControl"
## Summary
I don't understand why `WrapGrid` can't be used without `ItemsControl`.
I just had to create my own WrapPanel because of that.
If there is no inconvenience, then please allow us to use this `Control` .

[2019-03-18 16:12] MikeHillberg commented on #33
Grouping in combo box is a standard part of the Ribbon UI as well.

[2019-03-18 16:18] MikeHillberg commented on #263
What does the closed state look like? Could this but a [DropDownButt](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.DropDownButton) with a ListView?

[2019-03-18 17:21] jevansaks commented on #423
Seems like we're missing IconButton or similar to handle this scenario.

[2019-03-18 17:24] jevansaks commented on #443
This isn't what we intended SplitButton to be used for. It sounds like you want suggestions, so have you considered [AutoSuggestBox ](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.autosuggestbox) or ComboBox with [IsEditable ](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.combobox.iseditable)= true?

[2019-03-18 17:28] jevansaks commented on #439
Interesting bug, thanks for the extra details from the SO link. We'll have to debug and see if it's a Swipe problem or Binding.

Could you try using x:Bind instead of Binding to see if that changes anything?

Also what happens if you use Binding to set the SwipeItem's Text property?

[2019-03-18 17:29] jevansaks commented on #444
@micahl is this a job for flex?

[2019-03-18 18:09] SavoySchuler commented on #263
@MikeHillberg I added an image of what I was imagining to the summary. Please let me iknow what you think!

[2019-03-18 18:11] SavoySchuler commented on #263
@mdtauk I believe you are correct, I have updated it.

[2019-03-18 18:13] SavoySchuler commented on #263
@ChainReactive, this is awesome! Thank you for sharing this with us! It's clear that we have room to make this more easily achievable and your work is an excellent starting point for figuring out how.

[2019-03-18 19:30] mrlacey commented on #179
Is there a timeline for when a formal spec/proposal will be released for this?
What can I do to help this get into the product sooner?

[2019-03-18 20:18] drchilds commented on #439
Binding on the text property works as expected.

Changing to x:Bind and moving the SwipeItems out of a page resource and into the body of the SwipeControl itself seems to have done the trick, making me think that perhaps I had a problem with my binding syntax. I'll research this a little more when I have a chance.

[2019-03-18 21:43] micahl opened #446 "VirtualizingLayoutContext.GetElementAtCore incorrectly named"
**Describe the bug**

Looks like we missed something during the big rename after API review.  This protected method should match the public one (GetOrCreateElementAt) instead of being just GetElementAt.

The IDL currently has this:
overridable Windows.UI.Xaml.UIElement GetElementAtCore(Int32 index, ElementRealizationOptions options);

It should be this:
    overridable Windows.UI.Xaml.UIElement Ge

[2019-03-18 21:46] jlaanstra opened #448 "KeyboardAccelerators do not fire in CommandBarFlyout if flyout is closed."
**Describe the bug**
When assigning a CommandBarFlyout to the ContextFlyout property, KarboardAccelerators on the individual buttons inside the flyout do no activate when the flyout is closed. However when you assign a MenuFlyout, the buttons do activate when the accelerator is pressed and the flyout is closed.

**Steps to reproduce the bug**
Assign a CommandBarFlyout that contains a button with a

[2019-03-18 22:02] SavoySchuler commented on #33
@niels9001, @ChainReactive, and @mdtauk, thank you all for getting this feature started!

# It has been approved and I have opened up a spec for it [here](https://github.com/Microsoft/microsoft-ui-xaml-specs/blob/user/savoyschuler/comboboxgrouping/active/comboboxgrouping/GroupingSupportInComboBox.md).

We would be eager to see you all involved in our spec writing process also where you can start t

[2019-03-18 22:08] SavoySchuler commented on #263
@mdtauk and @ChainReactive, thank you both for also helping to getting this feature started!

# It has been approved and I have opened up a spec for it [here](https://github.com/Microsoft/microsoft-ui-xaml-specs/blob/user/savoyschuler/comboboxmultiselect/active/comboboxmultiselect/MultiSelectFunctionalityForComboBox.md).

As noted on [Grouping Support for ComboBox](https://github.com/Microsoft/mic

[2019-03-18 22:13] RBrid opened #449 "Scroll snap points hinder mouse-wheel scrolling"
Scroll snap points, which are now all mandatory, make it hard to scroll with the mouse wheel. If the natural target offset is closer to the current position (a mandatory snap point) than the next snap point, the offset won't change.
A single mouse-wheel delta should allow you to leave the current position. As it is, the mouse-wheel is almost ineffective when scroll snap points are defined.

[2019-03-18 22:22] kaiguo opened #450 "NavigationView pane occasionally left open in compact mode after resizing"
**Describe the bug**
NavigationView pane gets stuck with open pane after resizing, and light dismiss layer stops working.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to NavigationView test page in MUXControlsTestApp.
2. Quickly changing window width to make NavView switch between expand and compact mode.
3. After resizing a few times, NavView pane will stuck open in com

[2019-03-19 00:38] avknaidu commented on #443
Hello @jevansaks, Thanks for your quick response.

I am not looking for a list control with suggestions here. If you look at the GIF above, you can see the flyout has a separate purpose ( in this case loading or saving comments typed into the textbox ) and split button is used to add the comment itself which does not get enabled until certain length of text is typed in. But need users to still ope

[2019-03-19 01:56] xiedongweo opened #452 "TextBlock.SelectionFlyout doesn't work"
**Describe the bug**
I’m trying to use the [TextBlock.SelectionFlyout](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textblock.selectionflyout#Windows_UI_Xaml_Controls_TextBlock_SelectionFlyout) property, but the flyout doesn’t show when text is selected.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
[code]

1. Select the text on the TextBlock
2. The flyout

[2019-03-19 14:41] japf opened #454 "Proposal: add AppBarElementContainer in WinUI"
# Proposal: add the AppBarElementContainer control to WinUI

## Summary

When using the `CommandBarFlyout` control via WinUI, we need to use a specific control that implements `ICommandBarElement` and `ICommandBarElement2` to wrap custom controls in the command bar.

When targetting RS5+ devices, we can use the `AppBarElementContainer` but when using WinUI to target downlevel OS versions, we need

[2019-03-19 17:08] jevansaks commented on #446
@ranjeshj seems like something we should do for 2.1. Can you take a look?

[2019-03-19 17:13] jevansaks commented on #448
There have been platform bugs where we don't connect accelerators in non-visible trees. Some of these we can fix, some we can't. @marb2000 was working on refining the doc guidance for this, I think.

[2019-03-19 17:14] jevansaks commented on #449
Is this a bug or does this feature need some spec work?

[2019-03-19 17:15] jevansaks commented on #450
@kaiguo is this something you think can be fixed in the next couple of weeks? Is it possible to work around what I assume is a SplitView bug?

[2019-03-19 17:21] RBrid commented on #449
@jevansaks, I consider this a bug. I don't expect any API or design change to address this.

[2019-03-19 18:16] chrisglein commented on #381
In my head I was thinking `CanReorder`* would control a couple things:
1. Can't be dragged
2. Can't be dropped onto
3. Disallow any drop operation that would change this items position in the list

*CanReorder may be the wrong description of the policy I'm trying to capture here. If you have ideas for better names definitely suggest them.

That 3rd item is where there are interesting edge cases. F

[2019-03-19 18:20] jevansaks commented on #452
@xiedongweo can you clarify the input action? Selecting text with *touch* will display the flyout but with keyboard and mouse the flyout will only appear on right-click. We can clarify that in the API documentation if it's missing.

[2019-03-19 18:28] kaiguo commented on #450
I *think* I have a fix for it, I'll ask Ramaswamy to verify first.

This is actually different from the SplitView bug, I wasn't able to repro it in a standalone SplitView.

The SplitView bug is, when you turn off animation, IsPaneOpen property changes correctly but visual transition doesn't happen. This bug happens when animation is turned on. If you close NavView pane and then expand it again bef

[2019-03-19 21:16] contextfree commented on #333
One idea for improving this that seems promising to me is just having a compact string format for simple text-based DataTemplates. If you could write

     <RadioButtons SelectedValue="{x:Bind SelectedTheme, Mode=TwoWay}" SelectedValuePath="Content">
             <RadioButtonsItem ContentTemplate="Dark theme">
                 <local:Theme>DarkMode</local:Theme>
             </RadioButtonsItem>

[2019-03-19 22:01] jevansaks opened #458 "TeachingTip in RTL treats Placement=Left as physical instead of logical"
Forking off this issue from #390 since this is one thing that we know we need to handle. The rest of #390 needs a bit more information/investigation before it's fully actionable.

[2019-03-19 22:44] #290 closed

[2019-03-19 23:06] jevansaks opened #459 "Change FrameworkPackage generation to be in the Nuget generation job"
Currently the pipelines invoke MakeFrameworkPackage during the build pipelines but that means they're using unsigned binaries now in the Release pipeline. Need to update this to be later to grab the signed binaries.

[2019-03-19 23:09] jevansaks opened #460 "Make ScrollAnchorProvider public in 2.1"
We're shipping ItemsRepeater but in order to make it all work downlevel with ScrollViewer we need this compat helper. This issue is to be used to track that work.

## Release Checklists
### Prerelease readiness
- [ ] Dev: quality review + code review done
- [ ] Dev: test coverage added
- [ ] Dev: initial accessibility review done
- [ ] Dev: data metrics plan ready
- [x] PM: spec up to date
- [x] P

[2019-03-19 23:09] kmahone commented on #329
The internal issue has been resolved and the fix will be available in a future release of Windows.

[2019-03-19 23:09] #329 closed

[2019-03-19 23:27] micahl commented on #217
Fyi, I just posted docs on creating a custom virtualizing layout with ItemsRepeater.

[Attached Layouts](https://docs.microsoft.com/en-us/windows/uwp/design/layout/attached-layouts).

[2019-03-20 02:04] xiedongweo commented on #452
@jevansaks  I select the text with mouse, but even if I right-click, it open the default contect menu `Copy/Selecte All`, not the flyout that I set in `TextBlock.SelectionFlyout`.

[2019-03-20 08:07] knightmeister commented on #179
I'm with @mrlacey above... I could really use this now, so I'm happy to help out where I can.

[2019-03-20 14:33] #428 closed

[2019-03-20 17:29] YuliKl commented on #443
@avknaidu - You have three distinct commands that you want to offer to your app users: add, save, load. I believe you're trying to make the statement that Add will be used most frequently, which is why you've placed Save and Load into a flyout not always visible on screen. However, SplitButton doesn't convey the right relationship between the commands you're offering. The best usage of SplitButton

[2019-03-20 17:29] #443 closed

[2019-03-20 18:09] jevansaks commented on #439
@drchilds please let me know what you find. Thanks!

[2019-03-20 20:43] #308 closed

[2019-03-20 21:48] micahl commented on #432
@yowl, the ComboBox's CarouselPanel does UI virtualization today.  Are you hitting a situation where it's not?

[2019-03-20 22:08] yowl commented on #432
@micahl, you mean the UWP one? That is fine.  I was refering to this code repo, if I search for CarouselPanel here, https://github.com/Microsoft/microsoft-ui-xaml/find/master, nothing comes back.  I suppose a bit of background to my question is in order as I can see why there is confusion.  Some other projects would benefit from the source code to a virtualizing combobox, and I was thinking of htt

[2019-03-20 22:25] YuliKl commented on #452
@xiedongweo - unfortunately the behavior you're seeing is by design. The SelectionFlyout property's name is somewhat misleading because of the behavior @jevansaks described. Xaml text controls use this property internally to achieve a very specific experience of showing the standard CommandBarFlyout context menu in its closed state when text inside a RichEditBox is selected with any input device,

[2019-03-20 22:36] micahl commented on #432
@yowl, thanks for clarifying.  It sounds like the ask here is similar to #217.  You may find it useful to see these two docs (one which I just posted yesterday)

[Custom collection views / ItemsRepeater guidance](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/items-repeater)
[Attached Layouts](https://docs.microsoft.com/en-us/windows/uwp/design/layout/attached-layouts) -

[2019-03-20 22:36] yowl commented on #432
And something to mitigate myself.  We have a large investment in Silverlight and hence looking for ways to not throw that away.

[2019-03-20 23:34] jevansaks commented on #382
Sorry for the delay here. I tried to write an app as you described but I could not get it to crash running in either release or debug , with or without a debugger attached, on 15063.

Can you provide a repro app?

[2019-03-21 00:29] xiedongweo commented on #452
@YuliKl  So, the [TextBlock.SelectionFlyout](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textblock.selectionflyout#Windows_UI_Xaml_Controls_TextBlock_SelectionFlyout) document needs to be updated. We need to explain the use of this property. Otherwise, other developers will misunderstand it.

[2019-03-21 00:54] chrisglein commented on #57
The NavigationViewBackButton is set to 40x40 by its style. 24pt icon. Picked up from rs_generic.xaml.
The TogglePaneButton is set to 48x44 according to its RS2 style. 16pt icon.

Running the same app on desktop (not phone), we pick up RS5 styles and TogglePaneButton has dropped to 40x40 according to the new RS5 standard density. The NavigationViewBackButon remains at 40x40. So they match in footpr

[2019-03-21 05:03] micahl commented on #374
@DL444, are there layout(s) you already have in mind with which you'd want to use incremental loading?

An alternative to ISupportIncrementalLoading on which I'd be interested to hear your feedback would be to observe the position of the ScrollViewer's viewport and load more data in your items source as the viewport approaches the extent.  With ListView/GridView that would have been hard to do.  T

[2019-03-21 05:26] DL444 commented on #374
@micahl It was a custom virtualizing layout that I created, basically the same layout as the `StaggeredPanel` in Windows Community Toolkit. I also noticed there is a `PinterestLayout` in test code, the same as well.
I've tried the alternative, and it works, I'm using it right now.

[2019-03-21 05:53] micahl commented on #54
Hey folks, I only recently returned from being gone since mid-January and have been catching up on things.  I apologize if it seemed like I went dark.  If it happens again I'll be sure to mention it beforehand or at least set my GitHub status.

Good discussion and thanks for all the input!

@JustinXinLiu, its interesting to think about lifting the layout out of a control such that it can be more e

[2019-03-21 16:30] jevansaks commented on #57
Sadly, phone is going out of support at the end of the year so unless we have a repro on a supported platform (desktop, xbox, etc) then we can't justify spending time on this.

[2019-03-21 16:30] #57 closed

[2019-03-21 16:51] kikisaints opened #464 "RadioButtons does not select first item when tabbing into a group that has no checked items set"
**Describe the bug**
When using the RadioButtons container control with some items set inside it, but no SelectedIndex has been set and I tab into the group keyboard correctly puts focus on the first item but does not select it. This in turn causes the narrator to not read out the full n of N as it should.

Once I navigate within the list, selection is set with focus and everything's good.

**Step

[2019-03-21 17:01] kikisaints opened #465 "RadioButtons does not respect XYFocus with Gamepad"
**Describe the bug**
When navigating a list of RadioButtons with MaximumColumns set, XYFocus is not respected.

**Steps to reproduce the bug**
- Create an app and RadioButtons list with MaximumColumns set to >= 2
[code]
- Use the gamepad controller to navigate to Item 1
- Attempt to navigate to Item 3 by moving the L stick down
- Observe that instead you move to Item 2, which is expected *keyboard

[2019-03-21 17:05] kikisaints opened #466 "RadioButtons selects with focus navigation when using gamepad"
**Describe the bug**
When navigating through a RadioButtons list with gamepad, notice that the selection of the items follows focus.

**Steps to reproduce the bug**
- Create an app and a RadioButtons list
- Navigate through the list with a **gamepad** or Xbox controller
- Observe that the selection follows focus, which is expected behavior with the *keyboard*, but not with gamepad

**Expected beha

[2019-03-21 17:08] jevansaks commented on #464
Great bug. Even greater is this gif. How did you make it? :)

[2019-03-21 17:09] kikisaints opened #467 "RadioButtons does not work with AccessKeys"
**Describe the bug**
When setting an AccessKey on the RadioButtons list control and invoking it in the app at runtime, nothing happens.

**Steps to reproduce the bug**
- Create an app and put the follow markup into it:
[code]
- Run the app and press alt, observe the access key showing up
- Press Alt+R
- Observe that nothing happens

**Expected behavior**
If an AccessKey is set, pressing Alt+R shou

[2019-03-21 17:09] jevansaks commented on #464
@chigy @kikisaints if there's an easy way for people to make gifs like this, we should doc it somewhere and put it in the bug template. Can you share how you made it?

[2019-03-21 17:11] kikisaints commented on #464
For me, it requires Photoshop - but once you have that, it's relatively easy to make.

[2019-03-21 17:23] jevansaks commented on #430
@licanhua We should split this issue out since the linked PR won't fix this problem. Maybe use #98 in your PR instead?

[2019-03-21 17:24] jevansaks commented on #398
Discussed offline, we're going to update the enum names instead.

[2019-03-21 17:28] licanhua commented on #430
We won't fix this bug. Instead we workaround the problem by API

[2019-03-21 17:28] #430 closed

[2019-03-21 17:33] chigy commented on #464
@kikisaints @jevansaks , it is so fanny but we just created gif for one of our docs. You might want to search for gif creation tools on store. There are multiple free apps out there.

[2019-03-21 18:10] chrisglein commented on #464
But just imagine if it was built into the Snipping Tool or the Game Bar...

[2019-03-21 18:47] chigy commented on #464
@chrisglein only if they had Git Repo where we can make requests. :)

[2019-03-21 19:52] ahhlun opened #468 "Proposal: Give api to disable shadow on flyouts in 19h1+"
![flyout](https://user-images.githubusercontent.com/6519300/54780825-fa3f1200-4bd7-11e9-9f96-494d6f6cb5f0.PNG)

# Proposal: Give api to disable shadow on flyouts in 19h1+

## Summary
I want a way to disable the shadow effects on flyouts in 19h1+

## Rationale
We are using commandbarflyout, and we have custom types that expand off that of type Panel that doesn't have shadow. So want an option to di

[2019-03-21 19:56] jevansaks commented on #464
Generally the app teams want feedback and upvotes via Feedback Hub.

[2019-03-21 20:40] micahl commented on #374
@DL444 Cool.  Given your experience, which approach would you prefer to use?  Should we keep this proposal open as-is or modify it to track updating [the doc](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/items-repeater) to explicitly call out this approach to incrementally load data?

[2019-03-22 16:04] jesbis commented on #468
Are you planning to add shadows to your custom types eventually?

In the meantime does setting IsDefaultShadowEnabled=false on the FlyoutPresenter do what you want?

e.g.:
[code]

[2019-03-22 18:03] #450 closed

[2019-03-22 20:38] lukasf commented on #381
Can't be dragged
    Can't be dropped onto
    Can only be dropped above if there is an item above and it is CanReorder=true
    Can only be dropped below if there is an item beow and it is CanReorder=true

If it is so hard to describe what a property does, then it is probably not a good idea to add it. And I think we don't even need that property:

In DragItemsStarting, we can set Cancel=true, if

[2019-03-22 20:48] jevansaks commented on #381
Does the [DragOver](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.UIElement.DragOver) event do what you need here? Handle it and set args.AllowedOperations = None when dragging on the items in question?

[2019-03-22 22:21] chigy commented on #468
@ahhlun , we recommend turning on the shadow for the sub-menu using the code Jesse provided above.

[2019-03-23 03:09] #459 closed

[2019-03-23 14:07] hig-dev opened #477 "[Bug] [Crash] - LayoutCycleException because of Slider under certain circumstances"
If you set a specific value on a Slider that is specifically sized, the UWP app crashes with:

Exception: Windows.UI.Xaml.LayoutCycleException

_Message: Layout cycle detected. Layout could not complete.\r\nLayout cycle detected. Layout could not complete._

I can confirm that the app crashes on the Surface Pro 6 with a screen scale value of 175% but I think it crashes also on displays with a scal

[2019-03-23 15:35] DL444 commented on #374
@micahl Well, I think it's okay to just update the document and close this for now, but I still want this implemented in the future, as the alternative solution:

- Sounds more like a hack
- Requires some extra work by developers
- Is somewhat harder to implement using MVVM

But the alternative solution does work, and I understand that you might have priorities, so for now I think both is okay.

[2019-03-23 18:03] micahl commented on #374
Good feedback!  I'll add a note to the docs. Let's also keep this proposal open to discuss options and potential requirements for enabling support for incremental loading.

[2019-03-24 01:51] StephenLPeters opened #478 "TeachingTip needs to have a ShouldConstrainToRootBounds API"
The tips api should foreword to the containing popup to allow tips to go out of window bounds.

[2019-03-24 01:53] StephenLPeters opened #479 "Teaching Tips that do not fit on screen should not show"
When a developer attempts to show a tip which does not fit on screen, it should not show but instead fire a closing and then closed event

[2019-03-24 11:17] ghord opened #481 "NavigationViewItem does not respect HorizontalContentAlignment"
**Describe the bug**
Setting `HorizontalContentAlignment` does not work as expected in `NavigationView` in `PaneDisplayMode` set to `Left`

**Steps to reproduce the bug**
Set `HorizontalContentAlignment` to stretch on your `NavigationViewItem`.

**Expected behavior**
Content gets stretched to the full width of the pane

**Screenshots**
![obraz](https://user-images.githubusercontent.com/10825459/54

[2019-03-25 09:00] lhak opened #482 "Proposal: Add IsTargetElement property to additional navigation transitions"
# Proposal: Add IsTarget property to additional navigation transitions

## Summary

Currently, the IsTargetElement is only present for the EntranceNavigationTransitionInfo. It would be very useful if it could be extended to additional transitions like DrillInNavigationTransitionInfo to limit the animation to specific elements on the page.

## Rationale

Different pages of an application might cont

[2019-03-25 09:59] SaravananAyyanar commented on #427
complete sample:
[UWPArgumentException.zip](https://github.com/Microsoft/microsoft-ui-xaml/files/3002629/UWPArgumentException.zip)

ScreenShots:
![image](https://user-images.githubusercontent.com/44993310/54910118-b6b71180-4f11-11e9-9443-75bcd9bab96a.png)

I have tested latest version and also other version, but exception thrown when run the sample and also output window shown the  error,
Error: B

[2019-03-25 15:03] YuliKl commented on #452
We've updated the documentation.

[2019-03-25 15:03] #452 closed

[2019-03-25 15:06] sonnemaf opened #483 "Proposal: NumberBox control"
# The WinUI Team has opened a [spec ](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/savoyschuler/numberbox/active/NumberBox/NumberBox.md)and [PR ](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/29)for this feature.

## Proposal: NumberBox Control

## Summary
The NumberBox control provides developers a fully featured control for receiving a numeric (integer, floating poi

[2019-03-25 15:52] ArchieCoder commented on #483
As a starting point, Telerik has one https://www.telerik.com/universal-windows-platform-ui/numericbox. It is available in Open Source too: https://github.com/telerik/UI-For-UWP/blob/master/Controls/Input/Input.UWP/NumericBox/RadNumericBox.cs.

What I like from them is their approach for the formatting with the property ValueFormat.

Example: ValueFormat="{}{0,0:C2}"

[2019-03-25 15:57] #446 closed

[2019-03-25 15:57] #460 closed

[2019-03-25 17:09] jevansaks commented on #481
Seems like a reasonable request. :)

[2019-03-25 17:09] jevansaks commented on #479
@stephenlpeters is this needed for 2.1? What happens if we don't do this?

[2019-03-25 17:13] jevansaks commented on #477
Thanks for reporting this issue, we'll debug it!

[2019-03-25 17:14] StephenLPeters commented on #479
If we show tips which do not fit in window/on screen there is a chance a tip would open which has a clipped close button and would not be able to be close by the user (in easy ways).  This scenario is covered by #480.  The second part is to avoid the app leaking resources that were intended for the tip and were supposed to be cleaned up in the closed event handler.

[2019-03-25 20:31] knightmeister commented on #381
Apologies for my late reply on this one.

No, I think you've summarized the issue well. I would expect the majority of developers to have fixed items at the top of the tree. As you say, exposing a hook for querying will give the ultimate flexibility.

[2019-03-25 21:52] lukasf commented on #381
You are very focues on these fixed items. Think of a file explorer. Some drives might be read-only, others can be written to. Drives cannot be re-orderd, but maybe they can be dragged (copied) into other folders. Think of a music player where you might have folders "favorite artists", "favorite albums". You can re-order inside favorite artists, but you cannot drop an artist into favorite albums.

[2019-03-25 22:20] adclements opened #484 "Bringing element into view with ItemsRepeater not working properly"
After getting an element via ItemsRepeater.GetOrCreateElement(index), and then calling element.StartBringIntoView(), the RealizationRect in the layout attached to the ItemsRepeater is not updating properly - it is static and no longer updates due to scrolling.  Also, sometimes the element is not scrolled into view.

@ranjeshj - Have repro, will send.

**Version Info**
Microsoft.UI.Xaml - 2.1.19031

[2019-03-26 15:25] micahl opened #486 "The UniformGridLayout with ItemsRepeater doesn't correctly size the first item to enable proper text wrapping."
**Describe the bug**

Opening this bug to track an issue originally reported in the docs with https://github.com/MicrosoftDocs/windows-uwp/issues/1554.

See the first item in a set of identical items.  The text in the first one should wrap just as the others do.
![image](https://user-images.githubusercontent.com/1009123/55008951-0a237100-4f9f-11e9-9dc0-8a422f21269a.png)

**Steps to reproduce the b

[2019-03-26 18:43] jevansaks opened #487 "New resource merging task doesn't work with incremental builds"
The logic today relies on someone setting NineteenH1ThemeResourceFileNeedsCompilation but that doesn't seem to be set anymore in Microsoft.UI.Xaml.vcxproj.

[2019-03-26 21:51] #98 closed

[2019-03-26 23:34] LucasHaines commented on #98
Hey @deanchalk (and everyone) are interested in testing the new CompactResource dictionary? We included this in the latest preview WinUI image. We identified a bug so it only works at Page.Resoruces and Grid.Resources, but we would like to get some customers to look at it too.

    <Page.Resources>
        <ResourceDictionary Source="ms-appx:///Microsoft.UI.Xaml/DensityStyles/Compact.xaml" />

[2019-03-27 00:21] llongley opened #490 "The Verify*DictionariesWereMergedCorrectly tests should be made aware of resources defined in other files"
To verify that our XAML dictionaries are merged correctly, we individually parse them all into ResourceDictionaries and then parse the merged dictionary into a ResourceDictionary, and make sure that everything in one is in the other.  However, this can fail in the case of resources that refer to resources defined in another file - e.g., if a XAML file has a <StaticResource> whose source is actuall

[2019-03-27 04:19] SaravananAyyanar commented on #427
Any update on this query ?

[2019-03-27 04:28] ahhlun commented on #468
@jesbis can you provide an example using c++ or c++/winrt code behind and not XAML?
The uwp doc site has a lot of setting styles through XAML but I need to do this in code behind.

I have trouble figuring out how to construct "TargetType" and how to set the Setter for the style.

[2019-03-27 05:08] #394 closed

[2019-03-27 05:27] jevansaks commented on #468
To set TargetType from code in C++/WinRT you can use the [xaml_typename helper](https://docs.microsoft.com/en-us/uwp/cpp-ref-for-winrt/xaml-typename).

The style setter would need to take a boxed boolean, which you can make through winrt::box_value(false).

[2019-03-27 08:22] mike0891 opened #491 "Proposal:Background acrylic should still be rendered if the program is in the foreground."
# Proposal: Background acrylic should still be rendered if the program is in the foreground.

## Summary
As proposed here: [https://github.com/Microsoft/calculator/issues/397](https://github.com/Microsoft/calculator/issues/397)
A application that is on a second monitor should not lose background acrylic when it is still the main visible application on that screen but does not have focus.

## Ratio

[2019-03-27 16:27] #487 closed

[2019-03-27 17:10] jevansaks commented on #484
@ranjeshj if you want us to track this for 2.1 please add it to the 2.1 milestone.

[2019-03-27 17:12] jevansaks commented on #491
Unfortunately this behavior is a performance-based limitation. The shell imposes a policy that acrylic for inactive windows will be forced to be opaque, so there's not much we can do here.

The suggestion to try to choose a better opaque color is interesting, that certainly could be something that we can improve if we can figure out what the predominant color is. Or maybe we can freeze acrylic for

[2019-03-27 17:33] jevansaks commented on #427
Sorry for the delay, we'll debug and take a look. That said, this is probably just an accidental difference between the XAML binding behavior and the WPF binding behavior.

Is using x:Bind an option for you?

[2019-03-27 18:52] Sergio0694 commented on #117
Hey @jevansaks - sorry for the late reply!
I've just tried the workaround (just setting `ContextFlyout="{x:Null}"`, as the `RichEditBox.SelectionFlyout` property isn't available in the 17134 SDK) and it did work the issue, the event is now reporting the right cursor offset and I can finally open the custom menu in the right position 🎉

Thank you so much for your help!
Cheers, have a nice day!

[2019-03-27 19:45] jevansaks commented on #97
XamlDirect was designed for middleware (like React Native) to activate and get/set properties faster than through the WinRT API and without needing the overhead of "peers" (an internal implementation detail that adds overhead to some objects when calling through the WinRT ABI). XAML / XBF still has size/performance advantages over code-based approaches. I think Michael's suggestion to have it be a

[2019-03-27 19:46] #97 closed

[2019-03-27 19:47] jevansaks commented on #439
@drchilds, please reopen once you've had time to investigate and determine this is a platform issue you'd like us to look at.

[2019-03-27 20:47] #486 closed

[2019-03-27 21:24] jevansaks commented on #56
I can confirm this is fixed in latest insider builds and the style for MenuFlyoutItem with this fix is in the Microsoft.UI.Xaml nuget package so if you grab the latest (https://www.nuget.org/packages/Microsoft.UI.Xaml/absoluteLatest) you will see the fix there.

![image](https://user-images.githubusercontent.com/20667023/55113301-fc9fe100-509b-11e9-9d94-9e39008b2677.png)

[2019-03-27 21:24] #56 closed

[2019-03-27 22:05] #478 closed

[2019-03-27 22:05] #479 closed

[2019-03-28 00:21] DHowett-MSFT opened #494 "Proposal: [Build Infrastructure] MUX should be usable from non-UAP applications"
# Proposal: Microsoft.UI.Xaml should be usable from applications that are not `TargetPlatformIdentifier` == `UAP`

This will aid in support for Xaml Islands consumption of MUX.

## Summary
Right now, the nuget package's winmd, pri and dll are only included if the package is being referenced from a project those `TargetPlatformIdentifier` is `UAP`, as enforced [here](https://github.com/Microsoft/mi

[2019-03-28 11:14] SaravananAyyanar commented on #427
We are binding the property in code behind for our internal purpose. So, x:Bind is not an option for us. We needs this bug to be fixed.

[2019-03-28 20:07] fabiant3 commented on #427
@SaravananAyyanar, thank you for reporting this issue around Binding. Chances are that this bug requires framework changes and since that portion has not been open sourced just yet, we won't be able to give you a speedy update. Second, Microsoft's investment has been in x:Bind for the last few years, we see x:Bind as a much better alternative to Binding.
1. I encourage you to unblock yourself by s

[2019-03-29 04:13] alanlai-ms opened #503 "RTL bug in CommandBarFlyout's Keyboard navigation"
**Describe the bug**

In RTL, when you are at either end of the primary commands, say if you are at the “…” button and you key press LeftArrow, it moves focus to the next item (as screen shot)

If you are at the Highlight picker on the right end, and you press RightArrow, focus moves to Bold button.

![image](https://user-images.githubusercontent.com/49052408/55209096-24776d80-519e-11e9-9614-510a9

[2019-03-29 06:31] SaravananAyyanar commented on #427
@fabiant3 ,can you provide the code for x:bind in code behind as mention above.
 We are binding in code behind for our internal purpose. We needs this bug to be fixed.

[2019-03-29 15:50] #484 closed

[2019-03-29 18:18] jevansaks commented on #494
There are a number of things to make this work in the build pipeline. @rbrid is investigating all the different parts. I think this is already on his radar, so assigning to him.

[2019-03-29 18:36] jevansaks commented on #477
Also reported here: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37099210--uwp-layout-cycle-bug-in-slider

[2019-03-29 19:01] YuliKl commented on #339
I've updated the issue with agreed-on design resulting from review on 3/27/19

[2019-03-29 19:08] benstevens48 commented on #477
Hi, I was the one who reported this on UserVoice. I will try to do some more investigation in the meantime, but I wanted to reiterate here that I think **this is a very serious issue with the layout system which really needs fixing, and does not just apply to the slider**.

I think it has to do with the process of rounding during the layout process. Between the measure pass and the arrange pass, v

[2019-03-29 20:20] benstevens48 commented on #333
Does this proposal include fixing the current bug with radio buttons reported here - <https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36047965--uwp-radiobutton-ischecked-in-xaml-does-not-work>? Also, it's sometimes necessary to place radio buttons in the same group in different parents. Does this proposal cover that scenario? If not, would you consider either chang

[2019-03-29 21:09] hig-dev commented on #477
@benstevens48 Can you share the code of your slider (maybe as a Gist)?

[2019-03-29 21:26] benstevens48 commented on #477
@hig-dev here it is - https://gist.github.com/benstevens48/8ad13f1a8f62302af06667da2f885e82. Note that I've extracted it straight from my app so the template may need modifying slightly - I've made a note about that in the Gist.

[2019-03-29 22:11] adrientetar opened #506 "Proposal: Improved Cursor APIs"
# Proposal: Improved Cursor APIs

## Summary

UWP's story around custom cursors currently is suboptimal &ndash; one has to [create a .cur file and build it into a .rc file](https://blogs.msdn.microsoft.com/devfish/2012/08/01/customcursors-in-windows-8-csharp-metro-applications/) packaged at compile time in order to use custom cursors in the code. We ought to allow runtime-creation of cursors (ther

[2019-03-29 22:28] mdtauk commented on #506
Microsoft is overhauling the Cursor settings in 19H1 to include scaling and colourisation.  Whatever APIs get added, there needs to be consideration with how custom cursors could work with that,

Perhaps the cursors can become SVG based, and colourised by the OS.  Font Glyph based, or masked so they adopt the colours chosen.

Then what about inverted states, and cursor shadows/trails?

![image](ht

[2019-03-29 22:55] HppZ opened #507 "Proposal: Improve SVG APIs"
# Proposal: Improve SVG APIs

## Summary

SvgImageSource needs dynamically change colors.
as discussed here:
https://github.com/MicrosoftDocs/winrt-api/issues/375

## Rationale

## Functional Requirements

## Important Notes

## Open Questions

[2019-03-29 23:50] YuliKl opened #508 "Proposal: Improve UX of menus opened with mouse"
# Proposal: Improve user experience around focus and keyboard interactions within menus opened with mouse

## Summary
When a user opens a Xaml context menu by right-clicking with mouse, no focus rect is visible. When the user hits the down arrow key inside the open menu, a focus rect gets drawn around the second item in the menu. This behavior doesn't meet user expectations, especially for users m

[2019-03-30 00:55] SavoySchuler opened #509 "A targeted TeachingTip does not get unloaded when its target does"
**Describe the bug**

A targeted TeachingTip does not get unloaded when its target gets unloaded.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a targeted teaching tip to a page-specific instance of a UI element.
2. Navigate to that page and prompt the tip to open.
3. Navigate away from that page.

**Expected behavior**

I expect the teaching tip to get unloaded when its

[2019-03-30 09:01] mani009 opened #512 "Proposal: Treeview SelectionMode Multiple select only parent"
Hello,

it would be great to select only the parent node.

As far as i can see in multiple mode i can`t only select parent node.

[2019-03-30 16:52] mscherotter opened #513 "TeachingTip.Attach property not found"
**Describe the bug**
TeachingTip.Attach property is not found in 2.1.190319001-prerelease

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a blank UI Project
2. Add Microsoft.UI.Xaml nuget package to the project
3.  Add a teaching tip to a page
xmlns:muxc="using:Microsoft.UI.Xaml.Controls"

      <Button Content="test me">
            <muxc:TeachingTip.Attach>

[2019-03-30 16:53] mscherotter commented on #513
[NoTeachingTipAttach.zip](https://github.com/Microsoft/microsoft-ui-xaml/files/3025726/NoTeachingTipAttach.zip)

[2019-03-30 18:02] hig-dev commented on #477
@benstevens48 Thank you for the workaround, I added support for the thumb tooltip and I am just using the default Slider style. https://gist.github.com/hig-dev/49154bc603c77a1925d586244da90f7c

[2019-03-30 18:40] benstevens48 commented on #477
Great! Does it really work with the default style? I made some changes to the HorizontalTemplate and VerticalTemplate parts due to using a render transform to move the thumb and set the filled-in rectangle width, and I wouldn't expect it to work without updating the template for these bits.

[2019-03-30 18:50] hig-dev commented on #477
@benstevens48  As far as I know it works, I didn't see an issue.

[2019-03-30 21:02] mikedn commented on #508
That's basically what the Win32 menus do, with one exception. In Win32 menus do not actually show a focus rect (thin dotted line), the menu item is simply show as selected no matter if keyboard or mouse navigation is used.

IMO that's a bad alternative. Not only that it behaves differently from Win32 but the XAML focus rect is pretty ugly/intrusive/distracting compared to the Win32 one.

[2019-04-01 17:01] jevansaks opened #514 "XBF files do not produce deterministic outputs on rebuild"
This issue was reported in dotnet/roslyn#372. I'm filing this issue here to track the issue for GenXBF not producing deterministic outputs. @martinsuchan said there is a repro app in dotnet/roslyn#23456.

As an aside, when we've looked at this kind of problem in the past in Windows it's related to buffers with uninitialized (but unused) being written out to disk.

[2019-04-01 17:12] jevansaks commented on #509
Agreed that when the TeachingTip itself gets unloaded we should hide the popup. I'm not sure about watching the target.

[2019-04-01 17:14] jevansaks commented on #513
Thanks for reporting, this was an API change that came about during spec review. You can see the final API proposal here: https://github.com/Microsoft/microsoft-ui-xaml-specs/pull/

The Attach property is now Target and is not an attached property. You can find updated sample snippets here: https://github.com/Microsoft/microsoft-ui-xaml-specs/blob/38e440ad3b0338994457ae7c408db9b25e07b395/active/te

[2019-04-01 17:14] #513 closed

[2019-04-01 17:27] #398 closed

[2019-04-01 18:00] LucasHaines commented on #179
We are working on an open spec and I will let everyone know it's available in the spec repo.

[2019-04-01 18:03] GeertvanHorrik commented on #179
Question: why not support IDataErrorInfo as well? It's supported in .net standard, and it would be weird not to support it? This should not affect performance for the people not using it since it could even be checked at compile time which interface to use for the binding?

[2019-04-01 20:14] SavoySchuler commented on #513
Hi, @mscherotter, I am the PM for TeachingTip. Thank you for reaching out and for using our prerelease! I am looking into this issue now and I hope to have an answer to you shortly.

[2019-04-01 20:45] SavoySchuler commented on #513
@mscherotter Thanks again for reaching out. A teaching tip is not visible by default as it is not a part of the visual tree. As such, it must be opened with .IsOpen=true in the codebehind.

Using your code sample, I added an x:Name for the teaching tip and a Click Event on the button to call  TestTip.IsOpen = true.

.xaml
`
<Grid>
        <Button Content="test me" x:Name="Button" HorizontalAlignme

[2019-04-01 20:57] chigy commented on #468
@ahhlun , were you able to get this to work? It is preferred that we show shadow on your example case so hope you were able to handle it.

[2019-04-01 21:17] #173 closed

[2019-04-01 21:22] SavoySchuler commented on #513
@mscherotter If you were specifically looking to have the tip show right away, you can use a Loaded event to do so:

.xaml
`    <Grid>
        <Button x:Name="Button" Content="test me" HorizontalAlignment="Center" Loaded="TestButton_Loaded" >
        </Button>
        <muxc:TeachingTip x:Name="TestTip" Title="title" Subtitle="subtitle" Target="{x:Bind Button}" />
    </Grid>`

.xaml.cs
`        pr

[2019-04-01 23:41] jevansaks commented on #458
I'm addressing the content part of this issue with #515 but we still need to fix the fact that placement modes are essentially treated as physical instead of logical.

[2019-04-02 17:25] jevansaks opened #517 "Proposal: Make UWP XAML able to struct fields in XAML markup"
# Proposal: Make UWP XAML able to struct fields in XAML markup

## Summary

This was reported by a customer issue on the doc repo. Filing it here so that we can track making this improvement in the product.

Customer said:
<I>This doesn't seem possible and it's a fundamental oversight. We should be able to set them directly in XAML and with bindings. Once again, WPF was the pinnacle of XAML It has

[2019-04-02 19:09] MikeHillberg commented on #517
Love this. Couple of things we need to be careful about ...

The interesting thing about structs is that they're value types. So you can't modify `Margin.Left` (it generates a compiler error in C#). Instead you read out the `Margin`, modify the `Thickness`, and write the whole thing back.

That's not something that `Binding` can handle, which is part of why WPF doesn't support `Binding` on struct

[2019-04-02 19:19] adrientetar commented on #108
@micahl I don't understand why ScrollFrom is called that way. Isn't it just like ScrollBy but with a velocity parameter?

[2019-04-02 21:15] micahl commented on #108
@adrientetar are you asking why not have another overload of ScrollBy with a different set of parameters instead of naming it ScrollFrom?

[2019-04-02 21:19] adrientetar commented on #108
Yea I guess 😃 but I imagine the concept behind ScrollFrom is to move in a direction with a given velocity? as opposed to ScrollBy which is just move to a given point.

[2019-04-02 21:32] micahl commented on #108
That's right.  We had 3 situations in mind:

1. I don't care what my current position is.  I want to scroll/zoom TO a specific destination.
2. I care what my current position is and I want to scroll/zoom BY a specific amount relative to that position.
3. I don't care what the final destination is.  I just want to scroll/zoom FROM my current position.

A scenario for the latter might be something l

[2019-04-02 21:39] adrientetar commented on #108
Thanks, that clears things up. I think I'm more looking to use ScrollBy for my own mousewheel-click experience, but I can see ScrollFrom being useful in specific cases.

[2019-04-02 22:11] michael-hawker commented on #506
As called out for the reason for custom cursors being needed, another auxiliary topic that can be discussed here is that it's a chore to change them dynamically, especially to track the cursor last used if moving between things that both have custom cursors.

It's why we have the [Mouse.Cursor](https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/mousecursor) XAML extension propert

[2019-04-02 23:41] micahl opened #518 "Proposal: Support more border/background options on Panels"
# Proposal: Support more border/background options on Panels

## Summary

Enable Panel (or a derived Panel) to support more options for borders and background.  Specifically, support:

- Per-edge border colors
- Per-corner radius
- Per-edge border thickness
- Support for showing a solid, dotted, or dashed border stroke
- The equivalent of [backfaceVisibility ](https://developer.mozilla.org/en-US/d

[2019-04-03 00:06] mdtauk commented on #518
Good rule of thumb for future additions to XAML...

If its possible in CSS, it should be possible in XAML.

[2019-04-03 14:34] jskollin opened #519 "MAS2.4.3 Violation: Focus order is illogical when NavigationView in Left DisplayMode"
**Describe the bug**
Violation of MAS Rule 2.4.3 - Focus Order

When the NavigationView is in the Left DisplayMode, the top NavigationViewItems and the NavigationViewItems in the Footer are not only displayed as two separate lists, but are read by the narrator as two separate lists. Because of this, users would assume that continually hitting the down arrow from the top NavigationViewItems would e

[2019-04-03 23:54] licanhua opened #522 "Implement data automation peer for hierarchical NavigationView"
hierarchical NavigationView have the same problem will treeview. narrator may use wrong automationpeer after items are collpsed, then expanded.
Details please see #500

[2019-04-03 23:57] frauenholz opened #523 "recycled TreeViewItems may not generate child TreeViewItems in UWP TreeView"
**Describe the bug**
When binding an ObservableCollection of hierarchical data objects to the Windows.UI.Xaml.ControlsTreeView ItemsSource,
if a data object is removed from the ObservableCollection (removing the corresponding TreeViewItem and its children), and the data object is added back to the ObservableCollection (adding a recycled TreeViewItem), the added TreeViewItem's child items are not g

[2019-04-04 03:29] ahhlun commented on #468
we plan to do this soon

[2019-04-04 16:18] chigy commented on #468
@ahhlun, great! In that case, may I close this issue?

[2019-04-04 17:24] jevansaks commented on #519
To a keyboard only user, the current behavior is desirable. But because the main list and the footer list are separate, it might not be clear to a narrator user.

That MAS rule says that focus order should be logical, and it seems like that's the case.

This might not be the perfect narrator experience, but it seems ok. Certainly doesn't seem like a MAS focus order violation to us.

[2019-04-04 17:24] #519 closed

[2019-04-04 17:25] jevansaks commented on #522
@licanhua you don't need to file an issue to complete a PR. If you wanted to track the bug, the bug should describe the user impact. Thanks!

[2019-04-04 17:26] jevansaks commented on #523
Thanks for the detailed bug report! We will investigate.

[2019-04-04 17:44] licanhua commented on #522
@jevansaks This is not for Treeview's PR, but to track the same issue which NavigationView should resolve.

[2019-04-04 18:23] sravya03 opened #524 "Proposal: Update the corner radii of common controls to be consistent with web and app style direction"
# Proposal: Update default control styles with rounded corners and make them easy to customize

---
### [Corner Radius (aka Rounded Corner) How-To document PR](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/34) is created.
This will be added to docs.microsoft.com as a documentation.
It will be a new page under https://docs.microsoft.com/en-us/windows/uwp/design/style/.

**Ask to communi

[2019-04-04 18:42] jevansaks commented on #522
Oops! Sorry, my bad. Will fix tags.

[2019-04-04 18:52] jevansaks opened #525 "ItemsRepeater crashes in release builds because RecyclePool type is not exposed"
Internally we have code in repeater that’s trying to activate internal types. Stack is:

[code]

And the source line is:

[code]

this goes through the RecyclePool activation factory which is not public.

[2019-04-04 19:04] lhak commented on #108
In the current ScrollViewer control, it is possible to bind to the ViewportWidth and ViewportHeight properties, but this does not seem currently possible in the new ScrollViewer control. Will this be added?

[2019-04-04 20:48] micahl commented on #108
@lhak, what would you bind those values to?  Adding them wouldn't be a big change.  Depending on the context for your scenario there might be a different approach we'd recommend rather than binding.  While we want to be sensitive to differences that make it difficult to move from one to the other we also want to promote alternatives if they're better.

[2019-04-04 22:21] michael-hawker commented on #108
@micahl I'm pretty sure I've used those values in the past too for some calculations.  Not sure if I've bound to them.

[2019-04-04 22:34] micahl commented on #108
@michael-hawker to be clear, the properties will be available on the ScrollViewer.  However, in the proposed API they're exposed as regular properties rather than as DependencyProperties.  These same values will be available as part of the ExpressionAnimationSources property for situations where someone is building input-driven animations based on Composition.

[2019-04-04 23:38] #525 closed

[2019-04-05 00:53] HppZ opened #527 "[BUG] GroupStyle.Panel"
GroupStyle.Panel does not work when set ItemsWrapGrid to GridView.ItemsPanel.

[2019-04-05 01:07] HppZ opened #528 "Imporve ItemsWripGrid"
# Proposal:  ItemsWripGrid needs support for different size children

## Summary

I need use different ItemsContainers for different Models, different ItemsContainers have different sizes, their sizes are calculated based on factors like Model properties, Panel‘s size, Window's size or something else.

## Rationale

support this feature makes ItemsWrapGrid more flexible and UWP apps more functiona

[2019-04-05 07:29] lhak commented on #108
I currently use some code similar to the following in my application:

[code]

This makes it possible to scroll/zoom the inner xaml element (which has a fixed size) while keeping its aspect ratio. The behavior is similar to the photos app showing an image, with the exception that the xaml element is never smaller than the viewport of the scrollviewer.

[2019-04-05 10:26] lymims opened #530 "Using MUX in WPF app -- The expression "[System.Version]::Parse('')" cannot be evaluated"
**Describe the bug**
Cannot install this package with NuGet.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a new WPF project.
2. Install Microsoft.UI.Xaml with NuGet Package manager
3. Got an error:

**Screenshots**
![image](https://user-images.githubusercontent.com/9443706/55621308-b7805b00-57cf-11e9-8aa3-c5ae5c1f9bec.png)

**Version Info**

NuGet package version:
Mic

[2019-04-05 16:47] jevansaks commented on #530
@lymims is this still a problem? Did you mean to close this issue?

[2019-04-05 16:58] lymims commented on #530
I think it is because I'm trying to add an UWP package to a WPF project.
When i do this in a UWP project, everything is ok.
thank you for your reply.

[2019-04-05 17:00] jevansaks commented on #530
Yes, this is known to be a problem for unpackaged apps. If you use [desktop app packaging (called "Desktop Bridge")](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-root) then this works better. There's still some issues that @rbrid is looking into.

[2019-04-05 18:07] chrisglein commented on #528
ItemsWrapGrid is only built to be a uniform grid. We have other ideas for layouts to expand our options here to hopefully meet your needs. @micahl can you wrap this into your existing feature requests and make sure it's covered?

[2019-04-05 18:08] #528 closed

[2019-04-05 18:12] chrisglein commented on #527
@HppZ can you clarify what you mean by "does not work"? Was this a compile time issue? Failure at runtime? Or silent failure (didn't do what you expected)? Do you have any code/markup example you can point us to? Thanks!

[2019-04-05 18:18] micahl commented on #528
@HppZ, are there examples of the kind of layout you're targeting?  Is the size of the items independent from all the others (e.g. the main view in the Photos app), or is the expectation that if they change size based on some factors like those you mention that they all change equally (e.g. a grid view of album art that adapts to window resizes)?

[2019-04-05 19:59] micahl commented on #108
@lhak, good scenario!  Thinking out loud on how this scenario might be accommodated in the current proposal... I *think* we could add another option for the ContentOrientation property.  The current options in the proposal:
- None = No preferred orientation.  Give the content infinite available size in both directions.
- Horizontal = Give the content infinite available size only horizontally and c

[2019-04-05 21:10] LucasHaines commented on #179
We started open spec review for Input Validation in the open spec repo. https://github.com/Microsoft/microsoft-ui-xaml-specs/pull/26

[2019-04-05 22:01] #21 closed

[2019-04-05 23:10] PeterWone opened #534 "Proposal:Redraw should support continuation"
# WebViewBrushRedraw continuation support

## Summary
`WebViewBrush.Redraw` is async. Therefore it should support continuation.

## Rationale
Redraw is async. Actions dependent on its completion need support for continuation.

## Functional Requirements
Support continuation.

## Important Notes
### Use case
If you need to wait for render because you are paginating a print job you currently have to

[2019-04-05 23:41] micahl opened #535 "Scrolling down a collection of nested ItemsRepeater with UniformGridLayout as inner layout causes layout cycle hang"
**Describe the bug**

See title

**Steps to reproduce the bug**

Steps to reproduce the behavior:

1. Build and run the attached repro.  It's using nested repeaters.  The outer is using a StackLayout and the inner for the items uses a UniformGridLayout.
2. Scroll down a few pages.  The app will seem to hang.

[App10.zip](https://github.com/Microsoft/microsoft-ui-xaml/files/3049946/App10.zip)

**Ex

[2019-04-07 18:24] adrientetar commented on #108
@micahl Have another question: I would like to change the mouse wheel handling of Scroller to make zoom faster (bigger increments) and remove the smoothing animation. It seems like there's no API to tweak the wheel zooming, do I need to handle mouse wheel event manually?

[2019-04-07 18:36] verelpode opened #536 "Proposal: Bring back vector-based tiled brushes"
# Proposal: Bring back vector-based tiled brushes

## Summary
Could you please consider bringing back the ability and documentation for how to make vector-based tiled brushes such as checkerboard and gridline brushes?  This already existed previously but disappeared in UWP.  Prior to UWP, TileBrush had a derived class called [DrawingBrush](https://docs.microsoft.com/en-us/dotnet/api/system.windows

[2019-04-07 19:16] verelpode opened #537 "Proposal: Support Web Open Font Format (WOFF), dynamically loaded without resource or file"
# Proposal: Support Web Open Font Format (WOFF), dynamically loaded without resource or file

## Summary
Support the use of a [WOFF](https://en.wikipedia.org/wiki/Web_Open_Font_Format) and/or TTF font that is NOT stored as a resource in the app package, and not a file, and not installed in the OS font collection.   In other words, the app loads the binary font data into RAM by itself (the font dat

[2019-04-07 19:28] verelpode commented on #507
I guess that @HppZ would like to use a SVG file in a manner similar to setting [Path.Data](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.shapes.path.data) along with setting [Path.Fill](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.shapes.shape.fill) to the desired brush/color.   In other words, the ability to convert an SVG file to a [Geometry](https://docs.microsoft.com/en-

[2019-04-07 23:14] duke7553 commented on #349
@StephenLPeters The TeachingTip is now able to display when IsOpen is called from non-markup code. I'll close this issue.

[2019-04-07 23:14] #349 closed

[2019-04-07 23:28] duke7553 opened #538 "TeachingTip does not display on the target control and IsOpen can't be set from markup"
**Describe the bug**
Targeting a teaching tip to a control may display the TeachingTip elsewhere.

**Steps to reproduce the bug**
I'm unaware of a pattern that can be replicated.

**Expected behavior**
The TeachingTip should mount/attach itself to the targeted control-in the correct position.

**Screenshots**
This screenshot shows the teaching tip, which is targeting the bottom of the "Navigate to

[2019-04-08 12:21] tonuv opened #539 "Unit test app referencing UWP app that uses Windows.UI.Xaml crashes"
**Describe the bug**
UWP unit test app references an application which references Windows.UI.Xaml will consistently crash and hence unit tests cannot be run

**Steps to reproduce the bug**
1. Create UWP C# application (App1)
2. Add reference to Windows.UI.Xaml using nuget manager.
3. Add
    <Application.Resources>
        <XamlControlsResources xmlns="using:Microsoft.UI.Xaml.Controls"/>
    </App

[2019-04-08 13:55] HppZ commented on #528
1,
Here is my example code:
https://github.com/HppZ/LayoutApp

2,
The Photos app's panel is not one of those panels in UWP API, right?

[2019-04-08 14:00] HppZ commented on #507
Yes, I would like to use a SVG in a Button style so that I don't need three images (normal pressed hover).
and no more scaled assets needed.

[2019-04-08 14:09] mrlacey commented on #539
This sounds like [the issue I had](https://github.com/Microsoft/microsoft-ui-xaml/issues/230).
Can you try [this workaround](https://github.com/Microsoft/microsoft-ui-xaml/issues/230#issuecomment-458309951)?

If it's that issue, the test project templates have been updated but not released yet. Use the workaround until then.

[2019-04-08 14:24] HppZ commented on #527
This is my example code:
https://github.com/HppZ/GroupStyleApp
1,
seems GridView.ItemTemplate not work.

2,
if I change line 75 to ItemsWrapGrid in MainPage.xaml, then GroupStyle.Panel does not work.

[2019-04-08 16:48] jevansaks commented on #539
Thanks @tonuv for the report and @mrlacey for the pointer. I agree it does seem like the same problem. The external issue in the test templates repo (https://github.com/dotnet/test-templates/pull/56) seems to be resolved.

@mayankbansal018 how can we get the fix? Is it part of Visual Studio? If so, which version?

[2019-04-08 16:57] mayankbansal018 commented on #539
@jevansaks, yes the fix will be available in VS, I'm hoping it should be in VS2019 update 1

[2019-04-08 17:04] jevansaks commented on #538
@duke7553 thanks for the bug report! I tried your snippet and wasn't able to repro. When are you setting IsOpen=true? I could believe there is a timing issue where perhaps the TextBox isn't at its final layout position when we try to calculate the TeachingTip position, but I'd like to make sure that's what you're seeing. Do you have an app we could install and debug through?

[2019-04-08 17:07] jevansaks commented on #534
Good feedback!

[2019-04-08 18:31] jesbis commented on #536
@verelpode would [Win2D](http://microsoft.github.io/Win2D/html/Introduction.htm) work for your scenarios?

You can see an example of how it's used to create a repeated checkerboard in the "drawimage enumerations" example in the [Win2D Gallery](https://github.com/Microsoft/Win2D-Samples) sample app by tiling the result of [CreateFromColors()](http://microsoft.github.io/Win2D/html/M_Microsoft_Graphi

[2019-04-08 18:55] verelpode commented on #536
@jesbis Thanks for the idea.  Correct me if I'm wrong, but that Win2D object cannot be converted to `Windows.UI.Xaml.Media.Brush`, therefore it would be difficult to integrate.  I was expecting vector tiled brushes to be usable anywhere that `Windows.UI.Xaml.Media.Brush` is usable (like how it was in WPF-Desktop), including assigning a vector tiled brush to these properties:
* `Windows.UI.Xaml.Con

[2019-04-08 20:01] jesbis commented on #536
Thanks for clarifying! Xaml, Composition and Win2D are mostly built on the same graphics engine and just provide different levels of abstraction, but I can see the value of having it supported as part of the Xaml API.

Right now you have a couple options for Brushes:

Win2D has a [CanvasImageSource](http://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_UI_Xaml_CanvasImageSource.htm) wh

[2019-04-08 20:07] duke7553 commented on #538
Yes, I do have a public app that has this problem.

1. Check out the source code at the "newui" branch found here: https://github.com/duke7553/files-uwp/tree/newui
2. In the file **ProHome.xaml.cs**, find the constructor and set the `PathBarTip.IsOpen` property to **true**
3. You can now execute the app and discover the bug.

Thanks for your help.
UNRELATED: The sample app is a project of mine dev

[2019-04-08 20:08] duke7553 commented on #538
I also noticed setting the IsOpen property from markup fails completely.

[2019-04-08 20:29] jesbis commented on #507
@HppZ, @verelpode do you have any thoughts on which of these would be most useful:

1. Ability to convert an svg document to a Xaml Geometry
2. Ability to convert an svg document to a Win2D or Windows.UI.Composition geometry/shape
3. Ability to apply Xaml styles to svg elements in an SvgImageSource (e.g. similar to styling svg elements with CSS classes)

?

[2019-04-08 20:33] michael-hawker commented on #518
For `CornerRadius` is this about moving it to the base Panel?  As it already supports per-corner values, eh?

![image](https://user-images.githubusercontent.com/24302614/55754988-bedb7a80-5a02-11e9-9053-8ea3e6bf517f.png)

[2019-04-08 20:34] micahl commented on #528
No there isn't a virtualizing panel in UWP that already provides the layout of the Photos app.  Is that the kind of layout you're trying to achieve where each item can be a different size?  Or does the variable item size not matter in your scenario and you're just interested in having the equally sized items be able to stretch to fill the available space for things like window resizing?

[2019-04-08 20:50] micahl commented on #518
Yes, this idea would be about enabling the base Panel type to have built-in support for rendering something like borders such that a derived Panel could easily have that behavior.  This proposal is to track exploring whether that idea may or may not be useful for the React Native on Windows project.

CSS has been around a while and does a lot of things.  I'm not taking the default position that th

[2019-04-08 20:57] verelpode commented on #507
Considering that we both thought of using SVG files/resources as icons for buttons or as other symbols in the GUI, and considering that buttons are normally composed of Xaml elements, then I think the most useful ability is to convert SVG to Xaml Geometry (not CompositionGeometry) and assign it to `Path.Data`.  Importantly, this also makes it compatible with `Windows.UI.Xaml.Controls.PathIcon.Data

[2019-04-08 21:32] verelpode commented on #536
Aha.  Although I've not yet used the new Composition API, it looks like the idea of subclassing `XamlCompositionBrushBase` is the best solution, and it is a "modern" solution in the sense that it is based on the latest API (the Composition API).  This solution seems to be a modern UWP equivalent to the [System.Windows.Media.VisualBrush](https://docs.microsoft.com/en-us/dotnet/api/system.windows.me

[2019-04-08 21:40] jevansaks commented on #536
I would recommend using a CompositionEffectBrush. You can create an effect graph using Win2D. One of the effects in there is [BorderEffect](https://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_Effects_BorderEffect.htm) which lets you tile its source.

You might be able to glean some info from the AcrylicBrush that we have implemented in this repo (https://github.com/Microsoft/microso

[2019-04-08 22:19] jesbis commented on #536
You shouldn't need to use anything to do with Visuals.

For reference here's a basic C# example of a tiling brush based on XamlCompositionBrushBase:
https://gist.github.com/jesbis/774eb0294132a7137957cb9b39b44717
Disclaimer: just an example, and not 100% tested or guaranteed.

[2019-04-08 22:42] verelpode commented on #536
hmm, if it doesn't use a Visual object to represent the checkerboard or other vector-based pattern to tile, then what other object should be used to represent the pattern?  The link to ImageTileBrush.cs is helpful except one thing needs to be replaced:  Instead of using a raster image (the `ImageTileBrush.ImageSourceUri` property), I guess that `BorderEffect.Source` should be somehow linked to a V

[2019-04-08 23:15] SavoySchuler opened #540 "Theme Changes Propagate to the Target of TeachingTip"
**Describe the bug**

Theme changes propagate to the target of a TeachingTip even if the target is in a different branch of the tree that shouldn’t be getting theme changes. TeachingTip only holds a referance to its target and has no special logic to propagate a theme change. This is possibly a bug in the framework.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open, build,

[2019-04-08 23:47] SavoySchuler commented on #21
# V1 is live!

Thanks again to @michael-hawker, @mdtauk, @TiredTrident, and @invigoro for your influence on this development. I am excited to see this launch and start working for you!

[You can find the official release of TeachingTip in the most recent stable release of WinUI](https://github.com/Microsoft/microsoft-ui-xaml/releases).

[Guidelines](https://docs.microsoft.com/en-us/windows/uwp/des

[2019-04-09 00:18] micahl opened #541 "ScrollViewer / Scroller doesn't re-rasterize the content after a zoom"
**Describe the bug**

ScrollViewer/Scroller doesn't re-rasterize the content after a zoom

**Steps to reproduce the bug**

Steps to reproduce the behavior:

1. Use the Microsoft.UI.Xaml.Controls.ScrollViewer control to display some zoomable content that contains text (e.g. TextBlocks)
2. Set ZoomMode="Enabled"
3. Zoom in/out
4. The text isn't re-rendered after the zoom and remains fuzzy

**Expecte

[2019-04-09 02:44] HppZ commented on #528
Yes, I want each item to have a different size.
just like the layout in my example code: I want show 4 folder items per row & 5 photo items per row, and they are grouped.

[2019-04-09 04:55] micahl commented on #108
You may have to handle mouse wheel manually, but it would be unfortunate if it turns out that you end up needing to re-implement what the control does.  We think there might be a way to achieve what you're after.  The gist of it would be to set the ZoomInertiaDecayRate to some value close to 1.0 and then define a repeated zoom snap point.  It's something to try once we've added the ZoomInertiaDeca

[2019-04-09 04:57] arcadiogarcia opened #542 "TeachingTip creation error: Cannot find a Resource with the Name/Key TeachingTipBackgroundBrush"
**Describe the bug**
An exception is thrown when trying to create a TeachingTip following the instructions from the documentation.

**Steps to reproduce the bug**

1. Create a new UWP C# project, targetting the 19H1 SDK
2. Install the Microsoft.UI.Xaml package, version v2.1.190405004
3. Add a button with a teaching tip using the code from https://docs.microsoft.com/en-us/windows/uwp/design/control

[2019-04-09 06:09] micahl commented on #528
This may be a lower-level than what you're asking for, but take a look at the new [ItemsRepeater control](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/items-repeater). We ship two virtualizing layouts with ItemsRepeater that are discussed in that doc.  Both of them are optimized cases of a more general kind of wrapping layout for variable height/width items we call Flo

[2019-04-09 09:18] adrientetar commented on #108
@micahl Thanks! I'm not sure what scenario you calibrated the mouse wheel behavior against, personally I like the way it is e.g. in Adobe XD: there's a bit of an accelerating animation it seems but it's snappy and has large enough zoom increments. Scroller mouse wheel zoom animation feels a bit sluggish and has really small zoom increments imo.

[2019-04-09 17:21] tonuv commented on #230
I tried the workaround suggested - did not fix the issue

[2019-04-09 17:22] tonuv commented on #539
I tried the workaround suggested, but I still get a crash

[2019-04-09 18:39] chrisglein commented on #542
I'm able to reproduce that error message, but only if I skip the step in the readme.txt and [getting started guide](https://docs.microsoft.com/en-us/uwp/toolkits/winui/getting-started) of adding this to app.xaml:

[code]

Can you confirm if this is present or not in your application?
The error message here is certainly not clear enough if this is the error. We'll follow up on that once we confirm

[2019-04-09 20:59] pedrolamas opened #543 "XAML compiler fails for specific cultures"
**Describe the bug**
XAML compiler fails for specific cultures, when a compiled binding has a function in which one of more arguments are decimal values.

**Steps to reproduce the bug**
1. Ensure you have your regional settings set to "pt-PT" (Portuguese Portugal)
2. create a new UWP blank app
3. add this function to the code behind:
[code]
4. Change the XAML root Grid element to the following:
[c

[2019-04-09 21:00] mdtauk commented on #108
Any kind of variable that controls increments and values - could be made into overridable properties

[2019-04-10 03:05] jesbis commented on #536
All content is eventually rasterized, so it's just a matter of what stage you do it at. Using pre-generated image files can often yield better performance if it works for your scenario.

If you do want to generate the content at runtime then instead of this line in the gist above:
[code]
you could draw your own content, e.g.:
[code]

[2019-04-10 04:04] verelpode commented on #536
Correct me if I'm wrong:  If the content is loaded from a raster image file OR drawn at runtime using CreateDrawingSession, either way, this pre-rasterized solution would be incompatible with [ScrollViewer.ZoomFactor](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.scrollviewer.zoomfactor) and  [Viewbox](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Viewbox) e

[2019-04-10 04:40] mayankbansal018 commented on #539
@tonuv, can you please share a sample app, for us to investigate?

[2019-04-10 16:37] arcadiogarcia commented on #542
Oops looks like my app overrides the application resources later on, so that would definitely explain it, and I forgot that step when creating the minimal repro 🤦‍♂️ Thanks for the help

[2019-04-10 16:37] #542 closed

[2019-04-10 19:49] joshkoon opened #544 "ItemsRepeater within ListView causing layout cycles"
**Describe the bug**
"Layout cycle detected" exception when using ItemsRepeater inside a ListView

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create an app which uses a ListView, e.g. https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlBottomUpList, using the Incremental Loading example
2. Add an ItemsRepeater control to the data template for the

[2019-04-10 23:38] micahl commented on #108
Right.  One challenge for us here is that on Win10 version 1809 and later the control hands off mouse wheel input to the underlying InteractionTracker to let it be processed off the UI-thread for smoother motion.  Those overridable properties would need to first be exposed at the lower-level.  For versions of Win10 before 1809 we're adding logic to have the control process mouse wheel input on the

[2019-04-11 01:49] adrientetar commented on #108
So the current zooming behavior is baked in to InteractionTracker with no way of overriding it? And I guess now there's no way to change it because it would break backwards-compatibility 🤔 cc @likuba

[2019-04-11 14:57] jesbis commented on #536
If you need to support dynamic scaling at runtime then you do need something Visual-based after all 😊

In the latest insider SDKs you can use Windows.UI.Composition.CompositionVisualSurface, which is similar to the WPF VisualBrush but a) faster and b) more flexible.

Here's an example that uses high-performance composition shapes and supports scaling (with ViewBox, ScrollViewer, etc.):
https://gis

[2019-04-11 17:37] verelpode commented on #536
Looks good, thank you!  That example could also be used as the basis for creating `Windows.UI.Xaml.Media.VisualBrush`.   Although WPF VisualBrush inherits `System.Windows.Media.TileBrush`, I don't think it's a problem in practice if UWP VisualBrush inherits `XamlCompositionBrushBase` instead of the existing `Windows.UI.Xaml.Media.TileBrush` (or at least it wouldn't bother me personally).

Alternat

[2019-04-11 17:43] michael-hawker opened #546 "Proposal: Add FrameworkElement.LayoutTransform"
# Proposal: Add FrameworkElement.LayoutTransform

## Summary
LayoutTransform is missing from FrameworkElement.  This makes it harder to port WPF code and perform some advanced transforms which need to impact layout to work.

## Rationale
LayoutTransform was available in WPF and provided a useful way for transforming elements in ways that effect layout.  This is useful for certain controls like Exp

[2019-04-11 18:11] michael-hawker commented on #536
Little late to the thread, we do have a [Tile Control](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/tilecontrol) in the Toolkit, but it's a bit limited and a wrapper.

I agree this should just be a brush based thing which can be applied as a background anywhere.

[2019-04-11 21:30] alanlai-ms opened #548 "CommandBarFlyout - Calling Show after Hide quickly doesn't actually show the floatie."
**Describe the bug**
Calling Show after Hide quickly doesn't actually show the Floatie.

In OneNote, when we double click on a text, we show the transient floatie.
But one thing users do is double click > right click

In code, what it would do is a quick Hide then Show.

Expected = the full context menu shows
Actual = full context menu does not show.

**Steps to reproduce the bug**
Min repro:

myC

[2019-04-11 21:57] likuba commented on #108
I think there are some options on InteractionTracker that could help here 😊.  Specifically, we built features like [PointerWheelConfig](https://docs.microsoft.com/en-us/uwp/api/windows.ui.composition.interactions.visualinteractionsource.pointerwheelconfig#Windows_UI_Composition_Interactions_VisualInteractionSource_PointerWheelConfig) and [DeltaScaleModifier ](https://docs.microsoft.com/en-us/uwp/a

[2019-04-12 04:42] hippieZhou opened #549 "TeachingTip can't auto update location when window size changed"
**Describe the bug**

![11](https://user-images.githubusercontent.com/13598361/56012702-420d1100-5d20-11e9-90cd-1dc0a6dc917e.gif)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

| Windows 10 version                  | Saw the problem? |
| :-------------------------

[2019-04-12 15:21] MuziburRahman opened #550 "Allow developers to control the transition time of `AddDeleteThemeTransition`"
The transitions in UWP are nice , but this particular transition - `AddDeleteThemeTransition` has relatively larger transitions time than other transitions. This transition starts after a certain time it's supposed to start (of 0.2 or 0.3 seconds) , which seems like UI is lagging when actually it's not. I think this behavior is intended and was particularly designed for `ListView` and similar cont

[2019-04-12 16:55] micahl opened #551 "Scroller is arranged incorrectly"
**Describe the bug**

Scroller isn't being a good citizen in the layout process which causes unexpected behavior when doing things like setting a Horizontal/VerticalAlignment.
![image](https://user-images.githubusercontent.com/1009123/56053359-bc319b80-5d08-11e9-81ab-3b3eef6e0a12.png)

In the picture above the left side is using Scroller and the right side is using the old ScrollViewer, but otherw

[2019-04-12 18:10] jevansaks commented on #539
We'll use #230 to track.

[2019-04-12 18:10] #539 closed

[2019-04-12 18:18] jevansaks commented on #548
@llongley can you help take a look?

[2019-04-12 18:19] ranjeshj commented on #535
This seems to be a bug caused by ownership of the first element in uniform grid and sharing of the template. We get into a situation in some cases where two repeaters are just stealing recycled elements between each other and constantly invalidate measure because of that.

[2019-04-12 18:19] jevansaks commented on #549
In general, TeachingTip isn't going to reposition on target re-layouts, but I think watching for the window/XamlRoot size changed is feasible.

[2019-04-12 18:21] jevansaks commented on #550
@stmoy Either a doc issue to guide people away from theme transitions to the new comp animation based "show" animations, or a feature request to make this possible.

[2019-04-12 18:25] jevansaks commented on #551
@regisb want to take a look?

[2019-04-12 19:48] duke7553 commented on #329
I don't intend to "wake up" this closed issue, but this bug still affects the latest 1809 releases. The ContextFlyout is a crucial part of the app I'm working on, and creating a MenuFlyout and attaching it to a Grid with `Grid.ContextFlyout ` results in no flyout. The ContextRequested event isn't fired for that matter. I am also unable to display these on the `Page`.

[code]

[2019-04-12 20:00] azchohfi opened #552 "Can't build if VS2019 is installed"
**Describe the bug**

If you have VS2019 installed, the Build.cmd script will run .\tools\NugetWrapper.cmd, which will call nuget.exe with no specific MSBuild version specified, which will find VS2019's MSBuild 16, which won't be able to restore the dependencies, failing the build.

**Steps to reproduce the bug**
1) Install VS2017 (15.9.11)
2) Install VS2019 (16.x)
3) Clone the repo and run .\Buil

[2019-04-12 20:04] jevansaks commented on #552
Thanks for letting us know. Does this still happen if you run "DevCmd" from the repo? In general the scripts expect that you're using a Visual Studio Developer Command prompt (which DevCmd helps set up against latest stable VS).

Also in general our devs open the MUXControls.sln file and build from inside VS, which works from both VS2017 and VS2019 today. That's the approach I'd recommend.

[2019-04-12 20:11] azchohfi commented on #552
From what I could see, Build.cmd calls DevCmd internally.
I've just tested it here and yes, the same problem happens even if I call DevCmd.
The problem is that NuGet.exe that is called to restore the packages is called with no specific MSBuildPath, so it get's the latests.
I managed to fix the issue if I set the MSBuildPath variables manually.
Would you like me to send the PR?

[2019-04-12 20:35] RBrid commented on #551
Hey Jevan, yeah feel free to assign to me.
-Régis at the fabulous Ocean Shores

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jevan Saks <notifications@github.com>
Sent: Friday, April 12, 2019 11:25:21 AM
To: Microsoft/microsoft-ui-xaml
Cc: Regis Brid; Mention
Subject: Re: [Microsoft/microsoft-ui-xaml] Scroller is arranged incorrectly (#551)

@RBrid<https://nam0

[2019-04-12 20:36] jevansaks commented on #552
Oh I see what you're saying. I'd rather fix whatever isn't working about nuget restore with MSBuild 16. What is the nuget restore error you get with MSBuild 16?

[2019-04-12 20:40] duke7553 commented on #329
Is there at least a workaround I can apply to my project? I just need to add a right click ContextFlyout to a Grid with empty space.

[2019-04-12 20:43] azchohfi commented on #552
[code]

[2019-04-12 20:48] kmahone commented on #329
@duke7553 if you set Background="Transparent" on the Grid, does that result in it being shown? The bug that this issue is tracking is a bug in the framework that prevents ContextFlyout from working on TextBlock/RichEditBlock. It should not affect Grid.

[2019-04-12 20:48] azchohfi commented on #552
The solution I provided is exactly the same as the one being used a few lines below it (at line 129).

[2019-04-12 20:55] duke7553 commented on #329
@kmahone Setting the background to transparent seems to have fixed it. Still un-intuitive, but thank you!

[2019-04-12 20:55] jevansaks commented on #552
Ah, I see. Seems like we'd want to make this work for a machine with *only* VS2019 installed. Let me comment on the PR.

[2019-04-12 20:58] kmahone commented on #329
@duke7553 good to hear. The reason this makes a difference is that ContextFlyout needs something to hit test against in order to work. An empty Grid does not contain anything hit-testable, so right clicking on it will not result in it processing any input. Setting a Background to anything (even Transparent) will make it hit-testable.

[2019-04-12 20:59] duke7553 commented on #329
@kmahone Good to know

[2019-04-12 21:00] GRS-Leedo commented on #329
I am not sure about adding it to a grid.  You may need to put a border inside of your grid and attach to that.

What I ended up doing is creating a MenuFlyout in code behind.  Create the MenuFlyout, add MenuFlyoutItems to it and assign methods to their click events and then use Flyout.SetAttachedFlyout to attach to your border.

I have 2 different flyouts that I attached to 8 (in my case textblock

[2019-04-12 22:54] llongley commented on #230
@mayankbansal018 - I've uploaded a repro app here: [Issue230ReproApp.zip](https://github.com/Microsoft/microsoft-ui-xaml/files/3075386/Issue230ReproApp.zip)

If you remove the reference to App2 in UnitTestProject and instead add an explicit reference to Microsoft.UI.Xaml, the issue no longer repros.

[2019-04-13 00:21] azchohfi opened #554 "TeachingTip does not work inside a XamlIsland"
**Describe the bug**
TeachingTip does not workin when used in the context of a Xaml Island. I'm assuming that the internal popup that is created by the TeachingTip class does not have it's XamlRoot set, so I'm getting a "Catastrophic failure" exception.

**Steps to reproduce the bug**
1. Instantiate a Xaml Island and set it's Child to an instance of TeachingTip
2. Call TeachingTip.IsOpen = true;
3

[2019-04-13 04:17] #552 closed

[2019-04-13 13:23] frauenholz opened #555 "TreeView selected item changes binding source value"
[treeViewSelectedBug_MainPageXaml.zip](https://github.com/Microsoft/microsoft-ui-xaml/files/3076222/treeViewSelectedBug_MainPageXaml.zip)
setting TreeViewList.SelectedItem, either by setting the SelectedItem.Binding Source, or by directly setting TreeViewList.SelectedItem, retains the original value and updates any binding sources with the original value

note: I originally submitted this issue to

[2019-04-13 14:21] frauenholz opened #556 "TreeView drag items does not update ItemsSource ObservableCollection"
**Describe the bug**
When dragging TreeViewItems that are part of an ItemsSource that is bound to by an ObservableCollection, it is expected that the bound ObservableCollection would be automatically updated, and that the  ObservableCollection.CollectionChanged event would fire, like in a ListView as described by this article by Jerry Nixon
http://blog.jerrynixon.com/2013/06/walkthrough-reordering

[2019-04-14 12:34] Sergio0694 opened #558 "Using Microsoft.UI.Xaml overwrites existing XAML styles even for non-MUX controls"
**Describe the bug**

I'm using a few custom styles in my app, and as soon as I've included the `Microsoft.UI.Xaml` library in my app, I noticed that some of my styles were being overwritten by the library, which is not what I was expecting.
I just want to use specific controls from the `Microsoft.UI.Xaml` library, with the included styles (eg. the `NavigationView` or `TeachingToolTip` controls),

[2019-04-14 16:05] Sergio0694 opened #559 "The XamlControlsResources break the reveal effect for context menu flyouts"
**Describe the bug**

As soon as you reference the `Microsoft.UI.Xaml` library and include the required resource dictionary, the reveal highlight effect is lost on `MenuFlyout`s used in the `ContextFlyout` property of a `UIElement`. Using them in other places (eg. `Button.Flyout`) works as expected.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new UWP app targeting

[2019-04-15 08:43] JohnnyWestlake commented on #537
The ideal solution for this in my eyes would be able to construct a FontFamily from an IRandomAccessStream at the XAML Layer level, and underneath it uses DW's existing support for WOFF.

For ease of use with composition, Win2D should also support an overload to create a CanvasFontSet from an IRandomAccessStream

[2019-04-15 08:58] JohnnyWestlake opened #560 "ElementName bindings don't work inside ItemsRepeater DataTemplate"
**Describe the bug**
As described, using ElementName bindings inside the datatemplate of an Items Repeater appears to fail. The same template inside anything that inherits ItemsControl works fine.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an ItemsRepeater
2. Inside it's DataTemplate, use an elementname binding to something outside of the ItemsRepeaters VisualTree.

[2019-04-15 19:09] micahl opened #561 "Scroller stutters at anchoring content to the bottom after a swipe up"
**Describe the bug**

Scroll anchoring on a bottoms up list has problems making up its mind.

**Steps to reproduce the bug**

See [https://github.com/micahl/bottomsuplist](https://github.com/micahl/bottomsuplist) for repro steps and code

**Screenshots**

![repro-video](https://user-images.githubusercontent.com/1009123/56158523-1c2d7980-5f77-11e9-8ebc-dd865e1b4d2b.gif)

**Version Info**

Microsoft

[2019-04-15 20:59] micahl opened #562 "ScrollViewer isn't consistently anchoring the viewport to track a growing extent"
**Describe the bug**

When scrolled to the bottom of a list with a ScrollViewer that is configured to anchor at the extent (VerticalAnchorRatio = 1.0) then the viewport should automatically shift to track the very end, but it doesn't always.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Clone the https://github.com/micahl/bottomsuplist repo
2. Checkout the [oldscrollviewer ]

[2019-04-15 21:27] micahl commented on #544
This issue should be fixed by #557

[2019-04-15 22:47] YuliKl opened #563 "Proposal: Revisit back and hamburger buttons placement for LeftMinimal NavigationView"
# Proposal: Revisit back and hamburger buttons placement for LeftMinimal NavigationView

## Summary

Currently, when the NavigationView is closed, the control draws the back button in its top left, and the hamburger button immediately to the right of the back button. When the pane is open, the back button disappears and the hamburger button moves over to be positioned in the top left. This transit

[2019-04-16 17:24] jevansaks commented on #559
Thanks for the report. @chrisglein can you take a look? Seems like we accidentally lost reveal.

[2019-04-16 17:25] jevansaks commented on #558
@Sergio0694 can you be more specific about step 2 for the custom style? Where is that style specified? Is it on the Page or in app.xaml? If it's in app.xaml, what does that look like relative to where you put XamlControlsResources?

[2019-04-16 17:28] joshkoon opened #564 "NavigationView menu items list does not have AutomationProperties.Name set"
**Describe the bug**
The NavigationView control does not have AutomationProperties.Name set on the list of menu items, nor can this property be set by consumers of the control

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a NavigationView control to an app with a few menu items
2. Activate Narrator and navigate to the list
3. Narrator reads the name of the item, and "1 o

[2019-04-16 17:34] jevansaks commented on #564
Is there a missing TemplateBinding to make AutomationProperties.Name work? @joshkoon would you be willing to contribute a fix? :)

[2019-04-16 17:44] jevansaks commented on #556
Thanks for reporting this!

[2019-04-16 17:44] jevansaks commented on #555
Thanks for the report and repro project!

[2019-04-16 19:27] Sergio0694 commented on #558
Hi @jevansaks - the style was defined in a `ResourceDictionary` that was referenced by the `ResourceDictionary.MergedDictionaries` property in the `App.xaml` file.
The `WinUI` dictionary was declared right below it.
I followed your suggestion and tried to move the `WinUI` dictionary right before the reference to this one, and I can confirm that the local styles take precedence in that case.

I mea

[2019-04-16 21:04] chrisglein commented on #558
Yep, we're going to do exactly that :) We'll add notes to hte docs to make it clear that the WinUI resources need to be first in the order.

[2019-04-16 21:21] Sergio0694 commented on #558
That's perfect, and I'm glad that working around this was just a matter of changing the order of the declared resource dictionaries. Thanks for the help and for the quick follow up, have a nice day! 😄

[2019-04-16 23:05] #503 closed

[2019-04-16 23:06] jevansaks commented on #558
Re-opening this to track updating the documentation with this information.

[2019-04-17 00:18] EriWong opened #569 "Focus does not move to the first item of the navigation view when in LeftMinimal mode and an item header is present."
**Describe the bug**
The first time a navigation view in LeftMinimal mode is opened via keyboard, and the first item is a item header, focus does not move to the first item non-header item in the list.  Every other time it is opened, focus moves correctly.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
xaml for minimal repro:
[code]
1. Tab to the navigation view
2. hit enter to

[2019-04-17 00:52] DHowett-MSFT commented on #294
Oh, it looks like I accidentally filed a duplicate as #494. Sorry.

[2019-04-17 00:57] Scottj1s commented on #294
no worries - might help to get it fixed

[2019-04-17 01:17] ranjeshj opened #570 "Repeater should not run layout when viewport changes for non-virtualizing layouts"
**Describe the bug**
When using a non-virtualizing layout with repeater, we end up running layout every time the viewport changes. This is bad for perf and unnecessary. We should not run layout in this case.

[2019-04-17 03:59] YuliKl opened #571 "Update UIA name of NavigationView's back button"
**Describe the bug**

The back button is violating MAS requirement 4.2.1: The name property of an element should not contain the element's control type.

Issue copied from an [internal bug](https://microsoft.visualstudio.com/OS/_workitems/edit/20149843).

**Proposed fix**: Update UIA name to "back" (instead of "back button")

[2019-04-17 05:07] #551 closed

[2019-04-17 18:32] verelpode commented on #537
@JohnnyWestlake The API as you've described would be excellent.  It's also good to know that preexisting WOFF support exists and can be used in the internal implementation, therefore I guess this feature request is not a huge amount of work, rather it's more like a case of hooking up preexisting components to provide the "missing link".

Our users want to use any font in their content, but the pro

[2019-04-17 20:25] JohnnyWestlake commented on #537
@verelpode For what it's worth, you can currently already use user defined font's in XAML in your application (for the font file formats XAML currently supports).

Below is an example - take in a users sotrage file, copy it to somewhere that a XAML Font Family can construct from (i.e., the Apps' local storage), then use Win2D to access DirectWrite and get the appropriate FontFamily constructor inf

[2019-04-17 22:01] danbelcher-MSFT opened #573 "NavigationView - In "Minimal" mode, clicking the SelectedItem does not close the menu flyout"
**Describe the bug**

Given a NavigationView with PaneDisplayMode="LeftMinimal" and three items, clicking the SelectedItem does not close the menu flyout.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a NavView as described above.
2. Launch the app.
3. Open the menu.
4. Select Item 1.  Menu closes.
5. Open the menu.
6. Item 1 is selected.  Click on Item 1.

**Expected

[2019-04-17 22:31] #571 closed

[2019-04-18 13:50] #570 closed

[2019-04-18 16:45] jesbis opened #578 "Should avoid triggering CI builds and checks for docs changes"
**Describe the bug**
Currently the Azure build pipeline and GitHub check suite run for all changes, including docs.
This seems like an unnecessary use of time and resources.

The Azure build pipeline should support excluding paths/files:
https://docs.microsoft.com/azure/devops/pipelines/build/triggers?tabs=yaml#pull-request-validation

Would need to verify this also skips auto-triggering the GitHu

[2019-04-18 17:12] jevansaks commented on #578
Interesting, we'll see if skipping the trigger on the PR build would fix this.

[2019-04-18 17:31] dotMorten opened #579 "There shouldn't be an build error for libraries targeting AnyCPU or below the version version."
**Describe the bug**
I can't use this library from another library that references AnyCPU.
There's no reason why this library can't be used by an AnyCPU library, except you have a build task preventing me from doing that.
You also require MinVersion and Version to be 14393 and 17763, which again shouldn't matter for class libraries.

**Steps to reproduce the bug**
1. Create an AnyCPU class library

[2019-04-18 17:47] jevansaks commented on #579
I was under the impression that if your package contained native dlls then the whole app needs to be compiled as native per-platform. Maybe this has changed?

If there's a doc explaining how to do this, we'd be happy to support it. Have you seen a project that has been able to make this work?

Also note that your error is about the **VCLibs** dependency, not Microsoft.UI.Xaml.

[2019-04-18 17:47] #405 closed

[2019-04-18 17:48] dotMorten commented on #579
Yes but I'm not compiling an app, but just a class library.

[2019-04-18 17:48] jevansaks commented on #382
Closing until we get more details.

[2019-04-18 17:49] dotMorten commented on #579
Yes. I work on the ArcGIS Runtime SDK for .NET. It does this and works just fine. https://www.nuget.org/packages/Esri.ArcGISRuntime.UWP/

[2019-04-18 17:52] dotMorten commented on #579
Avoiding vclibs reference:
[code]

[2019-04-18 18:02] dotMorten commented on #579
I noticed there's `SkipMicrosoftUIXamlCheckTargetPlatformVersion` I can use to at least turn the version check off. That'll do for that bit

[2019-04-18 18:17] jevansaks commented on #579
You should also be able to have your component library build against the previous 2.1 -prerelease package which doesn't force in the SDKReference dependency like this. The APIs are the same so your component would be compatible. I think that would unblock you for now.

But I'm taking a look into making this change.

[2019-04-18 18:21] dotMorten commented on #579
@jevansaks I've submitted a PR for review

[2019-04-18 18:44] jevansaks commented on #579
I missed this in the initial report. The 17763 target version dependency is required because you need to compile against a new enough Windows SDK in order for the metadata references in the MUX package's winmd to be resolved. If it's too old you'll get weird compiler errors about type references.

For the MinVersion check: I still kind of like having it because I'd like you to know that our projec

[2019-04-18 18:45] dotMorten commented on #579
Setting `SkipMicrosoftUIXamlCheckTargetPlatformVersion` works for me. I can continue targeting 16299.
I don't think this check really applies for a class library. The specific underlying APIs are needed until runtime.

[2019-04-18 18:47] licanhua commented on #573
@YuliKl Do we need to minimize navview when an item is selected?
It will have problem to select any item except the 1st item when SelectionFollowsFocus is enabled.

[2019-04-18 18:59] YuliKl commented on #573
@licanhua - We already close the pane (if it's a flyout) as soon as the user selects an item. This bug is tracking the discrepancy in behavior when selecting the currently-selected item, as opposed to one that's not already selected. Whether or not the pane closes should not depend on which item the user selected.

[2019-04-18 19:14] jevansaks commented on #578
I tried excluding the folder and, indeed, the PR build no longer triggers. Unfortunately the CI check is blocked:
![image](https://user-images.githubusercontent.com/20667023/56385203-53986200-61d3-11e9-90b6-a6b6bd0dd353.png)

So we'll have to do something more fancy in the yaml pipeline itself to skip the build and quickly report back a check.

[2019-04-18 20:49] #294 closed

[2019-04-18 20:49] #494 closed

[2019-04-18 22:02] duke7553 commented on #538
@jevansaks

[2019-04-18 23:03] mrjfalk opened #585 "Proposal: Option to disable automatic top padding for navigation view"
# Proposal: Add option to disable automatic top padding for navigation view

## Summary

When using the navigation view and extending the view into the title bar: `CoreApplication.GetCurrentView().TitleBar.ExtendViewIntoTitleBar = true;`

then the `NavigationView` automatically adds a ContentTopPadding to the layout. This results in the following:
![image](https://user-images.githubusercontent.com

[2019-04-18 23:12] jevansaks commented on #538
Thanks! @StephenLPeters can you debug this project too?

[2019-04-18 23:20] adrientetar commented on #506
So I think 19H1 is feature complete by now but is this something that could get added to 19H2, @ryandemopoulos ?

[2019-04-18 23:36] #579 closed

[2019-04-19 05:44] dpaulino commented on #556
I'm seeing this same issue as well when binding the ItemsSource with an ObservableCollection. I would appreciate if this bug can be investigated soon!

[2019-04-19 16:03] micahl opened #587 "The scrollbar's separator in the bottom right doesn't coordinate with the conscious scrollbars (ScrollViewer V2)"
**Describe the bug**

As soon as the pointer is over the scrolling area the separator fades in while the scrollbars remain conscious/minimal.

![image](https://user-images.githubusercontent.com/1009123/56432211-623d5280-6281-11e9-99b5-2f5693146dda.png)

**Expected behavior**

Behaves like the existing ScrollViewer control.

**Version Info**

NuGet package version: Microsoft.UI.Xaml 2.1.190405004

[2019-04-19 16:56] davidfishlock opened #588 "Multi-Layer keyboard mappings do not function correctly on the UWP framework since Creators Update"
Multi-Layer keyboard mappings like neo2 do not work correctly within UWP apps. Characters in the upper layers are inaccessible.

- Run a UWP app with neo2 keyboard layout
- Attempt to enter a '!' character

**Expected behavior**
It is possible to enter a '!' character, or any other character in the higher levels of the mapping

**Version Info**
Any Windows 10 OS version since Creators Update

**Ad

[2019-04-19 16:57] jevansaks commented on #587
@micahl this is only an issue with the new scrollviewer, right?

[2019-04-19 17:23] micahl commented on #587
@jevansaks, yes, I'm seeing this on the new scrollviewer.

[2019-04-19 18:05] jevansaks commented on #585
@yulikl sounds like a dupe but I can't find it. :)

[2019-04-19 18:07] jevansaks commented on #588
I need to track down who owns this area. Following up.

[2019-04-19 18:49] teaP opened #590 "Proposal: TabView"
- [ ] Check in current state
    - [ ] Remove and resolve all TODO comments
    - [ ] Add tests

[2019-04-19 18:56] jevansaks commented on #588
We've filed an [internal issue](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/21268092) on the team. Thanks for reporting!

[2019-04-19 18:59] davidfishlock commented on #588
Thanks @jevansaks, I'm not able to view the internal report but will this item be updated in the event of this issue being resolved?

[2019-04-19 18:59] YuliKl commented on #585
This is tracked by #47. @mrjfalk, please up vote that issue and provide feedback in case it's missing anything.

[2019-04-19 18:59] #585 closed

[2019-04-19 19:00] jevansaks commented on #588
Yes we'll circle back and comment here when there's a resolution. Alternatively you can file on Feedback Hub and I can link the issue so you can get status that way.

[2019-04-19 19:46] jevansaks opened #591 "NavigationView: Settings button repositions itself with some delay"
Opening this bug on behalf of @fede9876, from https://github.com/MicrosoftDocs/winrt-api/issues/881.

When resizing the height of the NavigationView, the Settings button reposition itself to the correct position with some delay.
The problem is very noticeable when positioning a PaneFooter element near the Settings button because the PaneFooter doesn't have this problem, so for a short time they ov

[2019-04-19 20:50] RBrid commented on #180
@micahl, this bug is no longer valid, right?

[2019-04-19 21:05] micahl commented on #180
I haven't tried it on an older version yet, but I'd assume that with your most recent changes it would no longer be valid.  Feel free to dupe to your PR.

[2019-04-19 23:32] RBrid commented on #180
This is expected to work now after the work done for Issue #421.

[2019-04-19 23:32] #180 closed

[2019-04-19 23:42] RBrid opened #593 "Consume Windows.UI.Input.MouseWheelParameters in Scroller's low-level mouse-wheel scrolling support"
**Describe the bug**
For OS versions older than RS5, the Scroller hardcodes the number of pixels scrolled for each mouse wheel delta. It should adapt that number based on the MouseWheelParameters system settings.
Starting with RS5, the built-in InteractionTracker behavior does take those settings into account.

**Steps to reproduce the bug**
The Windows' Control Panel UI has a page called Mouse Pr

[2019-04-20 04:07] Berrysoft opened #594 "Cannot use ScrollViewer in UWP project"
**Describe the bug**
Failed to assign to property 'Microsoft.UI.Xaml.Controls.Primitives.Scroller.IgnoredInputKind'. [Line: 1710 Position: 777]

**Steps to reproduce the bug**
Add Microsoft.UI.Xaml NuGet package 2.2 preview, and simply add a ScrollViewer to the page. Run the project, and it crashes with the exception above.

**Expected behavior**
Nothing wrong happens.

**Version Info**
Windows ve

[2019-04-20 06:00] micahl commented on #594
@Berrysoft, we ran into this internally as well and determined that 1) it happens in Debug builds and 2) is caused by a bug in the markup compiler that was fixed and should be available in the [latest Win 10 SDK](https://developer.microsoft.com/en-US/windows/downloads/windows-10-sdk).  I don't believe you have to retarget your project and that you just need to have the latest SDK.  Can you confirm