[2019-07-11 16:32] kikisaints commented on #1031
@mdtauk the way we're approaching this is to ensure that the BorderThickness **property** on the UIElement itself responds to the correct/appropriate control part(s) when set implicitly or explicitly. Then, we'll probably introduce individual thickness resources for each control as needed moving forward (release to release).

Staggering the work like that means a higher likelihood of it getting do

[2019-07-11 16:39] mdtauk commented on #1037
You wont always know what background the control will be on.  A search box on an acrylic surface, for instance, would not be solved by an additional backing plate.
![image](https://user-images.githubusercontent.com/7389110/61068314-9ef09400-a401-11e9-9351-28f4b781b9ec.png)

That's not to mention effects like Reveal with elevated elements.

A shadow layer, with a masked cutout - with its own Corner

[2019-07-11 16:43] brunasilvalopes commented on #1034
I don't know how to answer your first question, but about the second, I was reading online about this problem and apparently we are missing overriding the IsControlElementCore method on the automationPeer of the NavigationView:
[code]

Source: https://thinkrethink.net/2019/02/11/wpf-narrator-reads-collapsed-content/

[2019-07-11 16:48] mdtauk commented on #1031
Makes total sense.

Update the controls so border thickness will function properly, make resources for global values, resources for each control, then fix the templates to use them.

The Calendar flyout example wouldn't strictly use a border thickness value in this scenario, but would use margins, widths, or padding to control the spacing between the Day buttons.

I know this comes at the Template

[2019-07-11 16:56] ceee commented on #808
Any updates on this?

[2019-07-11 17:14] jevansaks commented on #1026
I think Loaded might be too early -- Layout hasn't run yet. @RBrid can you recommend a different event to listen for in this scenario?

[2019-07-11 17:16] jevansaks commented on #1028
Thanks for filing and debugging it too! I wonder if we could use DependencyObject.Parent instead of VisualTreeHelper::GetParent?

[2019-07-11 17:21] jevansaks commented on #1034
Thanks @brunasilvalopes ! I would have thought that the framework uses visibility to hide UIA elements, but maybe there's something odd for ListViewItems. If you want to take a crack at fixing this, we would welcome the contribution! :)

[2019-07-11 17:23] jevansaks commented on #1035
@yulikl thinks there might be a way to do this, but if it's not straightforward then a new property on MenuBar & MenuBarItem for the style seems fine.

[2019-07-11 17:57] LucasHaines commented on #888
@MartinZikmund We want to avoid this scenario. When using WinUI 3 you should only have access to controls from the package. The idea being that we have everything you need with the latest and greatest changes.

[2019-07-11 18:26] #92 closed

[2019-07-11 20:12] r7dev commented on #934
I also have this problem with the same settings cited.

[2019-07-11 20:37] SavoySchuler commented on #913
@sapallie Your note on critical error circumstances is interesting with respect to the suggested guidance that status banners point the user to a solution.  My intuition is saying that you may also need an API to disable, or at least temporarily dismissability?

@mrlacey, great callout! Fortunately, I have worked through a significant portion of this during consideration of timed auto-dismiss on T

[2019-07-11 20:55] mdtauk commented on #913
Could there be the ability to add a HyperlinkButton linking to a solution, or to a settings shortcut, like Networking?

[2019-07-11 20:56] ryandemopoulos commented on #755
I'm going to close this and re-open it to test something on GitHub.  Ignore the next couple of changes.  :)

[2019-07-11 21:01] jesbis commented on #1036
I don't think we have too many examples for C++/WinRT yet.
[Calculator](https://github.com/microsoft/calculator) is one example but it's not very basic 🙂

You should be able to use the basic ["Blank app" C++/WinRT template](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt#visual-studio-support-for-cwinrt-xaml-the-vsix-extension-and-the-nuget-package), then ju

[2019-07-11 21:34] YuliKl commented on #1035
@jordui
I was able to modify the style of MenuBarItem's flyout by placing an implicit style in my App.xaml resources.
[code]
This had the effect of coloring the backgrounds of all MenuBarItems and all MenuFlyouts in my app.

Can you tell us more about your scenario? Are you trying to style the Flyout of a single MenuBarItem, or all flyouts in a MenuBar? What aspects of the flyout do you need to st

[2019-07-11 21:40] r7dev commented on #934
@Opiumtm explain it [here](https://github.com/Windows-XAML/Template10/issues/777#issuecomment-282553261), but it doesn't demonstrate the code.

[2019-07-11 21:58] ryandemopoulos commented on #996
@FredeJ, thanks for filing this issue.  This class isn't part of WinUI, but since I couldn’t find a good place to route this request to, I decided to chat with some folks internally on what our plans are here.

The short answer is that ProjectionManager is actually on path to be deprecated in the future, but the functionality it provides is being planned to be built into the new AppWindow class.

[2019-07-11 23:17] RBrid commented on #937
@adrientetar, today the fix for the "scroll+zoom leads to wrong position" bug got merged into master.
I also spent some time with the Fonte application. Your ViewTo call when the app loads seems to land on the requested view. I did not notice anything wrong at the Scroller level at this point. Replacing it with an old platform ScrollViewer resulted in the same behavior. Maybe you can elaborate on

[2019-07-12 00:07] adrientetar commented on #937
@RBrid, yeah you are right that it behaves correctly. I tried changing to ScrollViewer and indeed I do need to premultiply my offsets to account for the changing zoomFactor (I thought it might be done internally but I see that it makes more sense to let caller do it as needed). My bad and thanks for the help.

[2019-07-12 00:07] #937 closed

[2019-07-12 01:17] RBrid commented on #1026
@harvinders, could you please listen to the ScrollViewer.ExtentChanged event. That should work. Thank you.

[2019-07-12 01:31] RBrid commented on #1026
@harvinders, also make sure that you are using the appropriate ScrollViewer,ContentOrientation property value. It looks like you want Horizontal instead of Vertical.

[2019-07-12 04:49] Nirmal4G commented on #888
@MartinZikmund
@LucasHaines

One fix should be, that you can exclude `Windows.UI.Xaml.*` WinMD references from build. Now the build targets reference only the Unified WinMD aka. `Windows.winmd`, add an option in the targets to also refer individual WinMDs, that way, we can include or exclude the references based on the App we're building.

Is this the way, then there's no need to change namepaces,

[2019-07-12 04:54] Nirmal4G commented on #888
Benefits:

1. Don't have to change code back and forth.
2. Once local WinUI code has been stabilized, you can merge back into windows platform, so that system apps and LOB apps can take advantage of the new improvements, on every new windows release.
3. One side it's a highly stable system framework with high compatibility like .NET Framework. And the other side it's like .NET Core, with changes a

[2019-07-12 06:39] jordui commented on #1035
@YuliKl Ah yes you're right, I put the implicit style into my App.xaml and it worked. I thought it would work implicitly in my local usercontrol xaml resources (I also tried inside the MenuBarItem overridden Style.Resources).

I am currently working with a customized version of the 19H1 Win32 XamlIslands sample using cppwinrt and mux as we need to use win32 for our app (at least for now). We have

[2019-07-12 07:05] vgromfeld commented on #1028
I've tried and it is not working, both `VisualTreeHelper::GetParent()`  and `Parent` return `null` 😥

[2019-07-12 08:50] HppZ opened #1040 "Question: duplicated XAML resources"
1, why there are many duplicated XAML resource definitions in generic.xaml and themeresources.xaml files here
C:\Program Files (x86)\Windows Kits\10\DesignTime\CommonConfiguration\Neutral\UAP\10.0.18362.0\Generic

2, why do you use two files for theme resources, what is their difference?

[2019-07-12 09:42] vgromfeld commented on #941
I've integrated the following code in our app and it works (tested on RS3 and 19H1).

[code]
I've only tested the back button because we are not using the default settings button because of #591.

Do you plan to integrate the utility method soon ?

[2019-07-12 10:01] mdtauk commented on #1028
Is there no "buffer" for UI Elements that exist, but are not in the visual tree?

[2019-07-12 10:07] mdtauk commented on #1040
My understanding is, XAML uses the **generic.xaml** for for handling control templates unlikely to change at run time, whilst colours, metrics, and other shared resources that could change whilst the app is running, would be in the **themeresources.xaml**.

With WPF where the apps will run on older versions of Windows going back to XP, there would be Theme Resources to match the Aero, Royale, Luna

[2019-07-12 12:10] knightmeister opened #1041 "Question: Reducing the size of AppBarButtons inside a CommandBar"
In my app, I need to display small buttons to control formatting for a text field (such as bold, italic, underline, etc).

The default size of an `AppBarButton` inside a `CommandBar` is quite large. I reduced the size by specifying the height & width of it, which worked fine, until the width becomes too small and buttons start being moved to the overflow menu area of the CommandBar. Here, the text

[2019-07-12 12:23] adrientetar commented on #108
@micahl I see that Scroller does not send StateChanged events when performing a non-animated zoom, is that by design?
I do set my CanvasVirtualControl scaling when Scroller becomes Idle, as you suggested in https://github.com/microsoft/microsoft-ui-xaml/issues/541#issuecomment-488749469, such that the control does not end up rasterizing too large portions of the canvas relative to the zoom factor.

[2019-07-12 12:29] mdtauk commented on #1041
Is there a reason why you can't use the CommandBarFlyout control for this.  It is used by Office for their Text Formatting?

![image](https://user-images.githubusercontent.com/7389110/61128065-eaaa4880-a4a8-11e9-95b9-83d738a7cd57.png)

Is there some scope in enabling the CommandBarFlyout to be used like a Toolbar, or to provide styling for the ApplicationBar so it uses the same smaller buttons and

[2019-07-12 12:43] FredeJ commented on #996
Thanks a lot for getting back to me! That certainly sounds like the right path - I'm looking forward to seeing.

Any chance you can lift the lid a little bit for when I can expect this? I get that you probably don't want to commit to a timeline or anything similar, but it would be nice to know if it's this year, for example.

From my point of view the question is: Should i wait for this to be impl

[2019-07-12 13:09] RyoukoKonpaku commented on #804
@Mike-EEE You guys might be interested on this recent NDC conference with Steve Sanderson (Lead dev of Blazor). He managed to do what I assumed was possible on the above discussion regarding Blazor using non HTML controls (in this case native WinUI controls). [Here's the NDC link and it's around 54 min mark](https://youtu.be/uW-Kk7Qpv5U?t=3255) where he uses a Flutter backend + Blazor to render a

[2019-07-12 13:10] FredeJ commented on #996
Oh, and specifically I would want to render a 3D model. Do you know if there's any planned support for that?

[2019-07-12 14:22] DuncWatts commented on #597
Is there a workaround for this issue? I'm seeing this from a Xamarin.Forms UWP application but can also replicate it on a standard UWP app.  Is there a way to make the ScrollViewer accept focus itself so it doesn't auto-focus the first focusable control within its children?

[2019-07-12 14:26] Mike-EEE commented on #804
I am amazed.  Blamazed even (sorry, couldn't help it -- but now have the name for my next project 🤣).

If @stevesanderson / @danroth27 / Blazor leadership team doesn't productize this Blutter product idea (with a better name, of course 😉), it will **easily** be the worst disaster MSFT mistake since Clippy shelved Silverlight. 😆

You are basically saying you have built an idiomatic bridge to your d

[2019-07-12 15:54] jevansaks commented on #597
I know that I talked to @Rbrid about this but I can't remember where we landed. We recognize it's a problem but I don't know if there's a good workaround. You could try putting a panel behind your whole ScrollViewer content that handles the mouse clicks so ScrollViewer doesn't get a chance to see them and try to set focus to itself.

[2019-07-12 15:55] jevansaks commented on #996
Check out #686.

[2019-07-12 16:11] DuncWatts commented on #597
On a simple UWP repro app - ScrollViewer containing a StackPanel containing multiple TextBox control - I can workaround this by setting IsTabStop="True" on the ScrollViewer.

This doesn't work on the Xamarin.Forms application as it isn't the same issue but I've got a workaround there as well.

[2019-07-12 16:28] chigy commented on #839
### Status update
[Checkbox consistency detailed design PR](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/35) with visual change detail is created.

[2019-07-12 16:38] myokeeh commented on #597
@DuncWatts thanks! I think that works for me.

[2019-07-12 17:25] KevinTXY commented on #483
Update: A [Code PR](https://github.com/microsoft/microsoft-ui-xaml/pull/1042) now exists 🎆!

I'm tracking some issues there, though most are not design related.

[2019-07-12 17:30] jevansaks commented on #1028
Well I would have expected DependencyObject.Parent to work (the "logical" tree in WPF terms) but we'll have to debug it. 😕

[2019-07-12 17:49] ranjeshj opened #1043 "Move AdditionalStyles.xaml to scroller tests project"
**Describe the bug**
Remove the dependency on muxcontrolstestapp on this file and load it from the test pages that require it instead.

Once this is done the FEATURE_SCROLLER_ENABLED define can be removed as well.

[2019-07-12 17:50] ranjeshj opened #1044 "Factor out DisableAnimationsStyles*.xaml into appropriate feature areas"
**Describe the bug**
DisableAnimationsStyles.xaml and DisableAnimationsStylesOutsideStore_rs2.xaml are currently hardcoded to load from the test app. We should factor this out into individual projects and load them automatically when the project is compiled into mux.dll

Once this is done INNERLOOP_BUILD define can be removed

[2019-07-12 17:54] LucasHaines opened #1045 "WinUI 3.0 Developer Experience and Tooling - Input Needed"
# WinUI 3.0 Developer Experience and Tooling - Input Needed

With the release of WinUI 3.0 we want to create the best developer experience we can. For that, we would love your help and feedback. This discussion topic is a focus on the Development experience and tooling for WinUI 3.0.

## Topics Covered

- WinUI in Desktop Apps
- WinUI 3.0 Development Templates and New Application Creation
- Langua

[2019-07-12 18:02] jevansaks commented on #1041
@lucashaines possibly a job for density?

[2019-07-12 18:05] jevansaks commented on #1036
Agreed, this should "just work". Let us know if you have any more questions!

(As an aside we'll expand the docs to include these details, @yulikl is following up on that)

[2019-07-12 18:07] jevansaks commented on #1040
In the system there's just generic.xaml. I believe these are split apart for the VS designer for some reason. @fabiant3 may be able to explain why it continues to exist.

[2019-07-12 18:09] jevansaks commented on #544
Per @micahl's comment, I"m going to close this. Please let us know if you still see it?

[2019-07-12 18:09] #544 closed

[2019-07-12 20:19] Pinox commented on #888
Just watched an awesome presentation by Steve Sanderson on Blazor + (non html) UI wrapped in native app.   About 52 minutes into the video.  A must view for UWP , WinUI and c# fans.

https://youtu.be/uW-Kk7Qpv5U

[2019-07-12 20:51] mdtauk commented on #1045
Probably a far off thing, but Blend needs to be overhauled and needs a design focused workflow.

The XAML designer needs to be robust, and powerful.

Some way to visualise the layered structure of the page/window, especially important with elevated controls.

Ways to visualise UI elements outside of a page, such as an individual control/template.

Display control customisations that are made for C

[2019-07-12 21:11] ranjeshj opened #1046 "Untangle Acrylic, Reveal, Effects and ColorPicker in feature area builds"
**Describe the bug**
Currently Acrylic, Reveal, Lights, Effects and Color picker are kind of using each other in code/tests.. Would be nice to untangle them so that they can be built separately or other feature areas can be built without these.

This involves commenting these out in featureareas.props, building and making the parts that fail conditional compile.

[2019-07-12 21:21] brunasilvalopes commented on #1034
Yes, I'll try to fix this when I have some free time.

[2019-07-13 00:31] SavoySchuler commented on #483
Thank you, @xyzzer and @mdtauk! We have checked out RangeBase and it appears to carry just as much baggage as subclassing TextBox would. As of now, we'll stick with containing a TextBox in the control and adding only the necessary properties and accessibility features. This was still a worthwhile consideration and helped inform our accessibility conversation which is occurring now.

@mdtauk, thank

[2019-07-13 02:43] harvinders commented on #1026
@RBrid, thanks for that. I am not 100% sure but it seems my code worked with `Windows.UI.Xaml` `ScrollViewer`. Anyway other thing I noticed is that signatures for some event has `object` parameter instead of class derived `EventArgs`

    public extern event TypedEventHandler<ScrollViewer, object> IScrollViewer.ExtentChanged;
    public extern event TypedEventHandler<ScrollViewer, object> IScrollV

[2019-07-13 03:09] wjk commented on #1045
My thoughts are as follows:

1. MSIX is all well and good, but I still use good old MSI to install more complex applications that require features that MSIX doesn't support. I am also leery to use MSIX because of how expensive the required Authenticode certificates are. (I can easily sign my code with a self-signed cert, which I believe is just as secure as one I buy from a firm, but then Windows

[2019-07-13 03:31] vitorgrs commented on #1045
1. What I'm wondering here, is... Well, will I need to use  the namespace prefix like <winui:Listview or <controls:listview or whatever the devs decides? I think it would be much better, if possible, to use have the same experience as now, just <Listview, no prefix.
Prefix is ok, and awesome, for just a few controls. But when you start using all over the place, this makes XAML reading a nightmare

[2019-07-13 03:37] vitorgrs commented on #888
One thing that I forgot to say in these discussions, that I find important is...
Does WinUI 3.0 itself have any performance improvements? It's XAML Rendering engine being just decoupled or is having changes? Will XAML controls use Composition mainly, and thus, off-thread and dwm driven like DirectUI was with DComp?

Some controls performance, and RAM usage, could be much better, Like ListView/Grid

[2019-07-13 04:08] Poopooracoocoo commented on #1041
@mdtauk oh hey. the commandbarflyout doesnt look like the one in Office. The layout is better and has more (although that's onenotes fault :P).

![image](https://user-images.githubusercontent.com/51363864/61166819-94f0a180-a577-11e9-907f-e9205eb48813.png)

[2019-07-13 09:48] HppZ opened #1048 "TemplateBinding and TemplatedParent Binding return different values (UnsetValue vs null) on failure to resolve"
using TemplateBinding in VisualState.Setters will make app crash while using TemplatedParent won't.

[2019-07-13 13:35] huoyaoyuan commented on #1045
1. We need robust, xaml code editor with IntelliSense separated from designer.
Most of the time I'm just writing xaml code like C#. Currently, the code editor is slow and fragile, explained in [my previous comment](https://github.com/microsoft/microsoft-ui-xaml/issues/717#issuecomment-493034446). The IntelliSense experience is also quite simple. No quick documentation info, no member renaming.
2.

[2019-07-14 00:42] weitzhandler commented on #804
@Mike-EEE I've watched the whole video through and looks amazing indeed.
However, I'm still more a fan of sticking to non-HTML UIs we're already used to, such as XAML. BUT, it might be a great idea if we could integrate C# snippets into XAML like Razor does. If they do that, that'd be a complete game changer for XAML.

[2019-07-14 02:14] wjk commented on #1045
Oh, and another thing. I would really, _really_ appreciate it if something could be done about how vcxproj requires the use of packages.config for NuGet package references. WinUI is distributed as a NuGet package, as is C++/WinRT and other key components. I am really don't like using packages.config. PackageReference is much more efficient (and it doesn't result in a broken build if you move the v

[2019-07-14 09:56] Tirraon commented on #1045
I would be nice, if WinUI support new project sdk - [Microsoft.NET.Sdk](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props) or [MSBuild.Sdk.Extras](https://github.com/onovotny/MSBuildSdkExtras).
Old style csproj files are hard to maintain. And we can't use multiple [TargetFrameworks](https://docs.microsoft.com/en-us/dotnet/standard/framewo

[2019-07-14 11:20] ekral commented on #804
Actually, their last demo in the video presents Blazor with the Flutter UI renderer instead of the HTML UI.

[2019-07-14 11:26] ekral commented on #804
Personally I found out the Razor syntax for Flutter better then the Flutter Dart syntax or Swift UI.

[2019-07-14 11:40] Mike-EEE commented on #804
Agreed @ekral.  Call me old-fashioned, but I _far_ prefer having markup represent UI/controls than code.  Conceptually, I like having a clear cognitive separation between "presentation" and "code."  I don't mind Blazor's binding syntax too much, but I can see how others might have a problem with it, especially with a Xaml background.

I guess after suffering nearly a decade from a lack of true .NE

[2019-07-15 06:28] weitzhandler opened #1049 "Proposal: implicit DataTemplates"
# Proposal: Enable implicit `DataTemplate` in UWP

In WPF, you can add `DataTemplate` resources without a key, so at runtime, they get resolved according to their `DataType` property.
Sadly, looks like this functionality isn't implemented in UWP. This feature has been [proposed](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18575131-add-implicit-datatemplates-to-

[2019-07-15 07:16] huoyaoyuan commented on #1049
Note: your code currently DOES work in CoreCLR (Debug) build, but DOES NOT work in .Net Native (Release) build. The AOT system cannot create a `System.Type` from xaml.
I would like this feature, and wrote almost same code in my app. But it seems needs xaml enhancement.

[2019-07-15 07:23] weitzhandler commented on #1049
I'm using it in a UWP project and it runs fine in debug mode. Should I give up?

[2019-07-15 13:36] vgromfeld opened #1050 "Proposal: Add Command property to KeyboardAccelerator"
# Proposal: Add `Command` property to `KeyboardAccelerator`

## Summary
[`KeyboardAccelerator`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.input.keyboardaccelerator) exposes an `Invoked` event to let us know when the keyboard shortcut has been invoked.
In order to have something more MVVM friendly, it would be great to have a `Command` property of type `ICommand` exposed by `Keyboard

[2019-07-15 15:06] robloo commented on #483
### Naming

There were so many comments the spec got away from me so I'm just starting to take a look after things settled down. First, I noticed some naming that doesn't really follow the C# convention -- yes I know these controls are written in C++ but I still think it's inconsistent with other naming in the platform.

| Type | Current Name | Proposed Name |
|-------|----------------|-----------

[2019-07-15 16:26] eugenegff commented on #483
Converting from double to text should be customizable via ValueConverter, in spirit of Slider.ThumbToolTipValueConverter. In that way the most complex part could be customized for any need, look at some real world examples below

![image](https://user-images.githubusercontent.com/34012295/61232189-6bca3f80-a736-11e9-9a94-58e4c72ad6a8.png)

[2019-07-15 16:55] jevansaks commented on #1022
Problem is understood. I'll work on a fix for WinUI, @codendone will bring a fix in the OS.

[2019-07-15 17:10] jevansaks commented on #1050
Seems like a great idea, but would require framework changes. Tagging as post-WinUI 3.0.

[2019-07-15 17:12] jevansaks commented on #1048
They should be behaviorally equivalent, with the Binding to TemplateParent enabling more complex paths and converters. But I wouldn't have expected TemplateBinding to crash. What is the call stack you see?

[2019-07-15 17:16] jevansaks commented on #1049
.NET Native requires that you explicitly list the types you want reflection on in the .rd.xml file, but otherwise the feature should in AOT I think.

[2019-07-15 17:31] SavoySchuler commented on #784
@mdtauk - I'm about to make a few edits to the proposal as I am prepping to pitch this to the team today, I hope this is OK?

Thanks for helping get this jump-started everyone! Love where this is going! 😄

[2019-07-15 17:56] teaP opened #1051 "Update TwoPaneView to use ApplicationViewMode::Spanning"
Since this enum value doesn't currently exist in the published SDK that WinUI is using, I am hardcoding it. Once we upgrade to a new SDK which has the value this should be updated.

[2019-07-15 18:07] SavoySchuler commented on #913
I was envisioning the subtext containing a hyperlink to an in-app or Settings App (see TeachingTip's Xaml Control's Gallery Code) page. Were you thinking of something more standardized @mdtauk?

[2019-07-15 18:55] robloo commented on #483
@eugenegff You have a really good idea to make the number to string conversion generic. This would let me handle localization but also allow devs to do whatever else they might want such as adding units.

The only complexity I see is keeping a Culture/NumberFormatInfo related to the control. I guess this could be a converter parameter in XAML going to custom IValueConverter but there should probab

[2019-07-15 19:28] MikeHillberg commented on #784
There should be a 'must' for the prefix/main/suffix text to all be baseline aligned.

[2019-07-15 20:47] RBrid commented on #1026
@harvinders, thanks. That is intentional. There are many controls that follow that pattern. Here are just a few as examples:
    event Windows.Foundation.TypedEventHandler<NavigationView, Object> PaneClosed;
    event Windows.Foundation.TypedEventHandler<NavigationView, Object> PaneOpened;
    event Windows.Foundation.TypedEventHandler<NavigationView, Object> PaneOpening;

    event Windows.Founda

[2019-07-15 20:48] #1026 closed

[2019-07-15 21:34] ranjeshj opened #1052 "disable RTTI for mux"
**Describe the bug**
MUX.dll is currently compiled with RTTI information enabled. Person picture seems to be the only control using typeid which relies on RTTI. If we disable RTTI, we can get some savings on some disc space.

[2019-07-15 21:47] mdtauk commented on #784
@SavoySchuler  Please share how it is received, and the changes you make.

[2019-07-15 21:49] jesbis commented on #1036
There's now a documentation page that walks through the steps for a "Hello world" WinUI + C++/WinRT in more detail:

https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/simple-winui-example

[2019-07-15 21:49] alwu-msft commented on #1048
@HppZ if you could provide a repro project that would be ideal as it would ensure that we are investigating the right thing.

[2019-07-15 21:50] #1036 closed

[2019-07-15 21:52] mdtauk commented on #913
@SavoySchuler  Content property instead of MessageText?

[2019-07-15 22:16] SavoySchuler commented on #784
@mdtauk, of course! You can view the edit history at the top of the proposal by click the "edited by..." text.

## Pitch Review Summary

The consensus on adding Prefix and Suffix text properties was unanimously positive.

Where things got more interesting was in respect to the concept of making these properties content areas to embed Xaml controls (ComboBox, Button). @chrisglein noted that this co

[2019-07-15 22:20] ryandemopoulos commented on #996
@FredeJ Yeah, I definitely don't want to commit to a timeline (and actually, it's not even my timeline to commit to since I don't own this :)  My best guess is sometime next year--that is a guess, and not a particularly informed one.

Definitely check out #686 though, as Jevan linked.  (@GeorgeS2019 might be able to provide an update on how that is progressing over on that issue)

[2019-07-15 22:20] #996 closed

[2019-07-15 22:22] mdtauk commented on #784
A Control Combiner as it stands right now feels like an overdesigned solution - but the Ribbon is full of combined controls I guess, and that control has been on the backlog for a long time, so it may be part of the step to realising that.

Would there be a list of controls that get combined?

Would there be a syntax for defining where one control combines with another?

Is it just a XAML Parent c

[2019-07-15 22:28] chigy commented on #952
### Status update
Discussed with shell design team and agreed to put this in future consideration, but not act on it now.

[2019-07-15 23:25] chigy opened #1054 "Proposal: Define and implement distinct button styles, outline, fill, and ghost"
# Proposal: Introduce button styles, outline, fill, and ghost

## Summary
Upon close visual analysis as part of request logged with #953 , it came to our attention that controls in WinUI appear to use mix of multiple button styles in one. This proposal is to clearly define each style and implement them as such for cleaner visual look and feel as well as better developer story.

## Rationale
* XAML

[2019-07-15 23:27] HppZ commented on #1048
https://github.com/HppZ/TemplateParentBug

[2019-07-15 23:29] chigy commented on #953
### Status update
This proposal is being closed in favor of the another proposal that was created that better defines the scope of the ask.

BTW, I do believe the other proposal does cover the suggestion @mdtauk mentioned in one of the feedback.

@mdtauk , @sravya03 FYI

[2019-07-15 23:55] mdtauk commented on #1054
Would these be provided as a style a dev can choose to use, or perhaps as an **enum** of something like **ButtonKind** with
* ButtonKind.Default
* ButtonKind.Primary
* ButtonKind.Outline

And if this is implemented, would these styles or enums extend to TextFields with buttons, or Dialogs and Message Boxes?  What about System UI like the Share Dialog?

[2019-07-16 00:19] chigy commented on #1054
Currently, I'm thinking it is a "could" option. Given shell is not using the outline, before we would supply something built into the system, I'd rather it be tested through style.

There is no TextFields with button today. That'll be just a button that is used next to TextFields. Dialog should be using default button style and it should use the fill style unless decided otherwise, but good point,

[2019-07-16 05:55] Code-ScottLe commented on #591
This is the behavior when it is on top mode:

https://gfycat.com/definitefixedinchworm

[2019-07-16 06:12] huoyaoyuan commented on #1049
@weitzhandler I think this should be considered blocked now, until the xaml platform is open sourced, which is announced for future in WinUI 3 roadmap.
And also, the announcement of .NET 5 contains a full-featured AOT solution, to get rid of differences between Debug and Release in UWP.

[2019-07-16 08:17] weitzhandler commented on #1049
Any alternatives?

[2019-07-16 08:48] sapallie commented on #913
Yeah, possibly I guess… Definitely doesn’t hurt to add it. It adds flexibility after all and will probably be quite useful for some use cases.

[2019-07-16 12:52] mdtauk commented on #1054
Looking at a few common controls next to each other, in **Outline**, **Default** (Filled) and **Primary** (Accent) style

![button styles extended](https://user-images.githubusercontent.com/7389110/61295336-be0b6f00-a7cf-11e9-82ca-8daf316b5715.png)

The CheckBoxes being proposed would be a mix of these.  Accent for Checked States, but Outline for Unchecked.
But Filled for use on GridViews.

Text B

[2019-07-16 13:19] mdtauk commented on #1054
Just to add some more to the discussion.  Windows Phone 8 moved controls from a filled style to an outline style compared to Windows Phone 7.

![comparison-3](https://user-images.githubusercontent.com/7389110/61296896-f791a980-a7d2-11e9-8011-971a571ab8fa.jpg)

Windows 8 used an outline style for some controls in Light Mode, but Filled in Dark
![image](https://user-images.githubusercontent.com/7389

[2019-07-16 14:15] vgromfeld opened #1056 "AppBarButton.IsInOverflow property not working"
**Describe the bug**
I'm trying to have a different access key placement for `CommandBar`'s `AppBarButton`s when in primary or overflow menu.
This behavior is not supported by default so I've tried with some custom code and found that the `AppBarButton.IsOnOverflow` is not behaving as expected.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a new application with the fo

[2019-07-16 14:25] vgromfeld opened #1057 "Proposal: Add a property to CommandBar to set the KeyTipPlacementMode for the overflow menu items"
# Proposal:  Add a property to CommandBar to set the KeyTipPlacementMode for the overflow menu items

## Summary
Most of the time, we need to use a different placement mode for the access key tooltips when they are in the primary or the overflow menu. Today, the same key tip placement is used and provides a bad user experience with overflow commands labels being hidden.

## Rationale
* Each app ne

[2019-07-16 15:00] huoyaoyuan commented on #1049
Currently I just check the type name, instead of the `System.Type` object, as there are only 2 or 3 choises.

[2019-07-16 16:02] ranjeshj opened #1058 "Fix incremental builds"
**Describe the bug**
Touching a cpp or xaml file seems to compile more than what is necessary in incremental builds.

[2019-07-16 17:05] #838 closed

[2019-07-16 20:38] alwu-msft commented on #1048
Thanks for the repro! So it seems like your template binding (whether as `{TemplateBinding}` or `{Binding RelativeSource={RelativeSource TemplatedParent}})` doesn't resolve to a value. However, there is a subtle difference in what the two markup expressions return: in the former case it's `unset value` whereas in the latter case it's `null`. VSM setters raise an error (when a debugger is attached)

[2019-07-16 20:42] micahl opened #1061 "Proposal: Framework-level support for saving/restoring UI state"
# Proposal: Framework-level support for saving/restoring UI state

## Summary

In applications that use a navigation model where users move between pages users expect to be able to navigate back to a previous page and have it appear as it did before (perhaps with refreshed content).

## Rationale

An easy option might be to cache the page, however, this consumes resources and may not be an option

[2019-07-16 20:46] KevinTXY commented on #483
It's a property of the [DecimalFormatter](https://docs.microsoft.com/en-us/uwp/api/Windows.Globalization.NumberFormatting.DecimalFormatter) class in windows. Is it weird? Probably. There are some properties like IsGrouped and localization properties that we left out so perhaps this one isn't necessary either. At the same time it's also already implemented so removing it would have no purpose other

[2019-07-16 20:58] micahl commented on #1049
Another data point to include in this conversation (not meant to detract from the proposal, just add some extra info)... a while back I took a look at how DataTemplateSelector was being used in 1st party UI across the system and one thing that stood out was the different pattern used in C++ versus C# code.  Managed code overwhelmingly would have a base type and various derived types.  Selecting wh

[2019-07-16 21:28] mdtauk commented on #1061
Anything that can make it easy and automatic would be welcome I imagine, with a way to opt out.

Ideally it would be achievable in XAML, perhaps on the **Page** element, some property like **ManageState** set to True by default in a new WinUI 3.0 project

[2019-07-16 21:52] jevansaks opened #1062 "WinUI dev team is hiring!"
If you are interested in working on the WinUI dev team, [check out our job posting](https://careers.microsoft.com/us/en/job/659304/SOFTWARE-ENGINEER)!

We are hiring for an entry level software developer, primarily working in C++, C# and XAML. Email me ([in my GitHub profile](https://github.com/jevansaks)) or DM me on twitter (@JevanSaks) if you have questions!

https://careers.microsoft.com/us/en

[2019-07-16 22:31] jevansaks commented on #1056
Looking at the code, it makes sense that IsInOverflow wouldn't be updated yet -- it's DynamicOverflowItemsChang<B>ing</B> so it hasn't changed yet. The delay until the dispatcher event seems like a good workaround ... but I can't explain why it doesn't work in RS3. With WinUI 3.0 you'll get the 19H1 behavior everywhere so I wouldn't spend too much time looking at RS3.

I'm inclined to close this i

[2019-07-16 23:44] HppZ commented on #1048
since it is a bug, please fix it, thanks!

[2019-07-17 00:57] TonyHenrique commented on #1045
Why no F# support?

[2019-07-17 04:41] #1022 closed

[2019-07-17 05:15] kmgallahan commented on #1045
Should Azure DevOps and Visual Studio App Center functionality be discussed here?

[2019-07-17 05:35] micahl commented on #830
@DragoCubed, dunno.  We did introduce the setting to keep scrollbars always visible with v1803.  Perhaps something with that change is related to the issue.  I haven't noticed any choppiness with the scrollbar on the start menu.  I assume that's where you're seeing the choppiness.  Any chance you have a video that demonstrates it?

[2019-07-17 07:16] Guruumeditation commented on #1045
Like @vitorgrs , I prefer native controls without namespace prefix, it add "noise" to the code. And it helps to see which are native controls, and which are 3rd party.

A migration tool would be nice, of course. If it works with the big 3rd party providers (Telerik, DevExpress,...) that would already be a big thing.

[2019-07-17 07:39] JohnF38 opened #1065 "Proposal: example for each control"
Hello users !

It would be great to have a simple code example for each control type.
So you can clearly understand how to use specific features of a control, without being flooded by useless code.

The wxWidgets project has kind of samples; it's extremely valuable for new users (like me ! ).

Cheers
John

[2019-07-17 08:22] thomasclaudiushuber commented on #1045
### Templates

From my side there's no need to keep the templates. But could it be that UWP has a Control that is not in WinUI? If that could happen, then this could be a valid reason to build a traditional UWP app and migrate it to WinUI when the required Control is there. Then the template might be needed.

Maybe it's also confusing for developers if you have built an app and you can't create it

[2019-07-17 08:31] vgromfeld commented on #1056
I've spent more time on this and found that I can use the `AccessKeyDisplayRequested` event to do what I want. When raised, all the controls are in the appropriate state to do the key tip placement mode change I want.
This approach is working fine on RS3.

[code]

@jevansaks Agree to close this one and focus on #1057 for WinUI 3.x.
I'm fine to use my workaround until WinUI integrates #1057.

[2019-07-17 08:46] huoyaoyuan commented on #1065
Is the [Xaml Controls Gallery](https://github.com/Microsoft/Xaml-Controls-Gallery) enough?

[2019-07-17 09:11] touseefbsb commented on #1045
add winui 3.0 templates to windows template studio.

[2019-07-17 09:33] tbolon commented on #1045
As a .net developer, this is the part I am most interested in.

Depending on the number of templates. If the number is low (eg. only the "Blank App (Universal Windows)" per language, so 1 in the case of c#), the noise is low and can be supported. But if it involves more than a few templates, then do not include them by default and add an optional VS install component to add them.

Keep a real blan

[2019-07-17 11:42] mdtauk commented on #1045
Will the WinUI version of the Windows 10 SDK and the WinUI Xaml designer, be made open source?

Will we be able to post requests for the design time workflow, and experience?

Will the SDK follow a similar release cadence as WinUI's nuget releases?

[2019-07-17 12:27] huoyaoyuan commented on #1045
Some additional pain:
improve the managed-unmanaged mixing debug experience.
Currently when exception happens in unmanaged code, `COMException` is shown in managed debug site. Things may be worse if the call stack crosses managed/unmanaged boundary more than 1 time.
Comparing to WPF, the managed call stack is always available, and the thrown exception carries a string that's helpful for debug.
I k

[2019-07-17 14:05] shaggygi commented on #1045
We rely heavily on ClickOnce, so it would be nice to support for the short term.  We would be willing to migrate to MSIX, but after similar features are offered.

As for templates, it would be nice to have one that provides boilerplate UI and code for a NavigationView and navigation.

Thx

[2019-07-17 14:14] mdtauk commented on #1045
The most common App "shell" structure and patterns - should be available as templates so developers can get up and running quickly.  Microsoft's first party apps should be exemplars in these layouts and act as best practice in terms of behaviour, consistency, and adhearing the UI design norms for Fluent Design, and WinUI.

[2019-07-17 14:37] Felix-Dev commented on #1045
@shaggygi @mdtauk
For "most common App "shell" structure and patters" and "As for templates, it would be nice to have one that provides boilerplate UI and code for a NavigationView and navigation." there is the [Windows Template Studio](https://github.com/Microsoft/WindowsTemplateStudio) which is maintained and developed by both Microsft and the Community. To quote its introduction:

[2019-07-17 14:42] shaggygi commented on #1045
@Felix-Dev will there eventually be WPF templates in addition to UWP?

[2019-07-17 14:53] Felix-Dev commented on #1045
@shaggygi There might be some good news for you! See [this thread](https://github.com/microsoft/WindowsTemplateStudio/issues/316). While seemingly nothing is guaranteed at this point the idea of providing templates specifically for WPF projects is apparently being explored. As noted in the linked thread, there was a non-public sneak peek session called "Windows Template Studio - WPF Edition" hoste

[2019-07-17 14:55] jordui commented on #1045
We don’t use the xaml designer or binding at the moment. But we will be creating controls at runtime and styling them possibly via UWP xaml. We will also need dialogs and modeless child Windows with xaml islands including docking/floating windows etc.

[2019-07-17 15:59] robloo commented on #483
Ok, I think I understand the fundamental problem here. In the C++ world you have access to DecimalFormatter but in the C# world (were I consume WinUI) I would normally use an IFormatProvider (NumberFormatInfo from a specified Culture). NumberFormatInfo already has most of the properties (missing IsZeroSigned coincidentally) so I was thinking just allow devs to specify that or an IFormatProvider. W

[2019-07-17 17:06] jevansaks commented on #1065
Thanks @huoyaoyuan ! Yes, I agree that Xaml Controls Gallery is our solution here. If there's a sample missing there, please file an issue on that github to request it!

[2019-07-17 17:06] #1065 closed

[2019-07-17 17:07] #1056 closed

[2019-07-17 17:46] YuliKl commented on #1035
@jordui, sounds like your issue is resolved so I'll go ahead and close it. Please reopen if I'm misunderstanding.

[2019-07-17 17:46] #1035 closed

[2019-07-17 17:55] YuliKl commented on #957
NavigationViewItem has a boolean IsSelected property. When all of NavigationView's MenuItems set IsSelected to false, NavigationView should return null as its SelectedItem.

@vgromfeld, would the behavior above fix the issue you've encountered?

[2019-07-17 18:01] predavid commented on #1007
Good suggestion indeed. Still awaiting higher number of upvotes on this one to pitch it. However, this is likely to be worked on only after WinUI3.0. So adding the appropriate label.

[2019-07-17 18:03] predavid commented on #983
Good suggestion indeed. Still awaiting higher number of upvotes on this one to pitch it. Added the WinUI vNext so that it stays on our monitoring radar

[2019-07-17 18:15] predavid commented on #197
Updated to move to BackBurner.

[2019-07-17 18:19] predavid commented on #201
Good suggestion indeed, but awaiting higher upvotes before pitching. Labeling it for WinUI vNext so that it stays on our radar for the next version.

[2019-07-17 18:25] SavoySchuler commented on #784
@mdtauk -  I spoke with @ryandemopoulos and the over-designed concern exists here too. I am going to pitch this again to a broader team audience and see if we can ignite more discussion on this. The goal, ultimately, is to ensure we aren't only bolting on after-market features but also giving headspace to flexible, Fluent solutions with respect to the idea of embedding XamlControls in the Prefix/S

[2019-07-17 18:32] SavoySchuler commented on #913
@mdtauk - Yes, I certainly mean content property!

@sapallie

On one-hand you have a non-dismissable pop-up covering the UI (and possibly causing its own scenario-based error in doing so) and on the other you an have app warning/critical error that is non-persistent which also makes my spidey-senses tingle.

Perhaps rather than an over UI + tip-style pop-up, would an in UI + edge-to-edge banner (t

[2019-07-17 18:40] YuliKl commented on #306
@lukasf, I completely agree with your sentiment and this request is already in plan for WinUI 3. I'll close this issue because we don't need to keep track of this class separately, this is simply a part of lifted Xaml that's already on our roadmap.

[2019-07-17 18:40] #306 closed

[2019-07-17 18:41] jesbis commented on #888
Performance is definitely something we want to keep investing in, but I wouldn't expect any improvements for 3.0. The initial 3.0 effort is mostly focused on decoupling Xaml to ship as a NuGet package and open-sourcing.

WinUI 3.0 (like UWP Xaml today) is built on the composition layer and runs much of its rendering and animation off-thread via the DWM.

(WPF is even worse than UWP XAML in my opin

[2019-07-17 18:43] micahl commented on #166
This would be gated on WinUI 3.0.

[2019-07-17 18:45] dimOk00 opened #1069 "Proposal: Binding in ListView"
# Proposal: [your title here]

## Summary

## Rationale

* {First reason for why we should consider this proposal}
* {Second reason for why we should consider this proposal}
* {etc}

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow

[2019-07-17 18:45] #1069 closed

[2019-07-17 18:50] micahl commented on #912
Closing out this issue.

[2019-07-17 18:50] #912 closed

[2019-07-17 19:26] #393 closed

[2019-07-17 19:41] jevansaks commented on #483
We hear you! It's something that we've been investigating offline but fundamentally .NET does its own localization separate from the platform. I think a callback to override is a great escape hatch, but I am hopeful that your option 1 is the route we can go. At the moment the WinRT APIs for formatting and parsing don't have all the customization knobs we need. We're still investigating.

[2019-07-17 19:44] mdtauk commented on #913
@SavoySchuler There could be a behaviour on the control, where it puts the header and content on a single line, if the control width is wide enough.

My earlier suggestion with the different positioning layouts would also work if the control slides out from the edge of another control - not just within the window or panel.

[2019-07-17 20:04] mdtauk commented on #784
@SavoySchuler   I can't think of any other XAML control in UWP, WPF, Silverlight, or Windows Phone.  The closest I can think of is the Adorner in WPF?

The point of a ControlCombiner seems to be solving the design problem of integrating controls within controls, so they visually appear to be a single control, yet it also needs to:
* Support Styling individual template parts via ResourceDictionarie

[2019-07-17 20:09] kikisaints commented on #235
Adding a property to change colors or edit styling values kind of goes against our general styling model of having resources and style tags where all your visual information is held.

Thurs, I'm going to close this one - however if you feel strongly that this is something we should do, please re-open the issue with more scenarios supporting why properties would be better to have versus resources.

[2019-07-17 20:09] #235 closed

[2019-07-17 20:42] micahl commented on #1061
@mdtauk, agreed on the importance of making it easy.  In terms of prior art, UIKit has [this](https://developer.apple.com/documentation/uikit/view_controllers/preserving_your_app_s_ui_across_launches).  SwiftUI obviously uses a different mechanism and is designed around the notion of state being lifted out of the "controls".

Removing myself as the assignee.  This proposal will have to sit on the

[2019-07-17 20:59] YuliKl commented on #47
Reopening the issue to make sure I update documentation. @RBrid, can you double-check that the Release Checklist is accurate?

[2019-07-17 21:06] RBrid commented on #941
@vgromfeld, thank you for testing that code. Given this workaround, we are not planning to do a product change for this in the coming WinUI 2.2 release. We will reconsider this for a later release.

In the meantime, you should use the kind of code above in your application as a workaround. Sorry for the inconvenience.

[2019-07-17 22:34] YuliKl commented on #941
I've opened a doc bug to share this workaround more broadly. Closing this issue as the immediate problem is resolved.

[2019-07-17 22:34] #941 closed

[2019-07-17 22:45] chrisglein commented on #784
It's entirely possible a "control combiner" is over-designing the problem. But it's also possible we're hitting up against a general pattern here and a shared utility could simplify some controls and/or make others redundant. I don't know where this one would fall, as my thinking on it is pretty fresh.

Visually there are a couple of areas we've hit that need to be coordinated when doing this kind

[2019-07-17 22:51] #1052 closed

[2019-07-17 23:00] mdtauk commented on #784
@chrisglein  I posted a proposal #899 about Text and Form controls, which compare controls which all share a design.
![Comparing Similar Controls](https://user-images.githubusercontent.com/7389110/61417132-1042b200-a8ee-11e9-9bfc-6e2aafe743e4.png)

Other than the Button/SplitButton - I can't think of other controls which are so intrinsically intertwined visually.  So perhaps this is something to b

[2019-07-18 01:47] HppZ commented on #1040
@fabiant3 please help

[2019-07-18 01:54] HppZ opened #1074 "Popup & ThemeShadow (windowed popups can't cast shadows on other popups)"
**Describe the bug**
when set Popup's ShouldConstrainToRootBounds to true, the ThemeShadow behaves strange.

**Steps to reproduce the bug**
https://github.com/HppZ/PopupThemeShadowBug

**Screenshots**
![QQ截图20190718093810](https://user-images.githubusercontent.com/12285582/61423322-efa44780-a941-11e9-9f4e-e172ab9ce1ea.png)
![QQ截图20190718094601](https://user-images.githubusercontent.com/12285582/61

[2019-07-18 02:43] marb2000 commented on #170
@shufan  Thank you so much for this feature request. Unfortunately, given the huge amount of work this feature request won't be addressed soon. However, we do see the value and we will keep it in the backlog for future consideration. @bschoepke, @mdtauk, @lukasf, and @micahl Thank you for all your insights.

Best regards.

[2019-07-18 09:05] sapallie commented on #913
Yeah, that works too. 👍

[2019-07-18 14:09] DotNetRussell opened #1075 "Page doesn't allow for Retemplating"
**Describe the bug**
I attempt to subclass page and retemplate it using a templated control. However, it doesn't currently work. The consumer's content overrides the templated controls style.

**Steps to reproduce the bug**
1. Open a new blank UWP app
2. Right click on the csproj and add a new templated control named `TestPage.xaml`
3. Open `TestPage.xaml.cs` and sublcass Page
4. Open `Themes/Gene

[2019-07-18 14:18] MouriNaruto commented on #888
I hope Microsoft can provide a new comctl32.dll and comdlg32.dll which is based on WinUI 3.0.

Because most of Win32 apps will have the modern UI experience and it will help the developers to adapt their apps to modern UI.

Many Win32 developers needs to adapt several Windows versions. So they can't directly use WinUI today. It's excellent if Microsoft can provide a method to help them reduce the

[2019-07-18 14:21] MarkIngramUK commented on #1035
@YuliKl is it intentional that styling the flyout only works globally (via `App.xaml`) as opposed to locally in `MyUserControl.xaml`? For reference, we're using XAML Islands in Win32, so in theory we might want to have the ability to style menus differently depending on what window or dialog they appear on.

[2019-07-18 14:28] MarkIngramUK commented on #888
@MouriNaruto you can use [FileOpenPicker](https://docs.microsoft.com/en-us/windows/uwp/files/quickstart-using-file-and-folder-pickers) today (from Win32).

[2019-07-18 14:33] MouriNaruto commented on #888
I know, but I hope all modern common controls and dialogs will bring to Win32.

[2019-07-18 14:44] Nirmal4G commented on #888
@MouriNaruto

Technically It's possible. But the Windows devs have to re-create not only the exact behaviors of the `COMCTL` and `COMDLG` implementations but also the known and unknown bugs that exist in the codebase.

Compatibility is our **frenemy**!

Even if they do it, by the time they complete it, Every software using those libs would have enough time to migrate to WinUI! The irony!! 🤨🤣

[2019-07-18 14:50] Nirmal4G commented on #888
@MarkIngramUK

**FYI**: `FileOpenPicker` is not a native WinRT Dialog/Control. It's essentially a wrapper of `ExplorerFrame` which is itself written in **`DirectUI`** (developed by ATG Team and based on `DirectX`) and `COM`!

[2019-07-18 14:55] MouriNaruto commented on #888
I don't think it's easy to migrate to WinUI without that because of the reality.

You have said "Compatibility is our frenemy!". Yes, it's also one of reasons of my suggestions. The irony!! 🤨🤣

[2019-07-18 14:56] mdtauk commented on #888
I would just be happy for a XAML WinUI version of the common dialogs, even if WPF and WinForms would have to opt in to use the new versions.

[2019-07-18 15:02] DerGary commented on #666
@micahl is there a plan to ship the fix of this issue as an update for Windows Versions prior to 1903? Our Company is currently mostly on 1809 and the responsible staff has no intention to update to 1903 in the near future they might skip this and update next year to 1909. But our users can't wait that long for a fix for this issue.

[2019-07-18 16:32] jevansaks commented on #1074
This is because all the non-windowed Popups cast shadows onto the (hidden) PopupRoot. When they're windowed then they cast onto the desktop.

I'll let @codendone decide out whether this is a "bug".

[2019-07-18 18:07] #836 closed

[2019-07-18 18:39] kathyang commented on #688
Thank you everyone for your help with this, I've started the spec [here](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kathyang/progress/active/progress/progress.md) and the PR is [here](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/36). I'd love to keep getting your thoughtful contributions and feedback on the spec!

[2019-07-18 18:40] kathyang commented on #837
I've started the spec for progress style updates (and ProgressRing determinate mode) [here](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kathyang/progress/active/progress/progress.md) and the PR is [here](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/36). I'd love to keep getting your thoughtful contributions and feedback on the spec!

[2019-07-18 18:40] kathyang commented on #880
Thank you everyone for your help with this, I've started the spec for Progress controls updates (including guidance for different states and modes) [here](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kathyang/progress/active/progress/progress.md) and the PR is [here](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/36). I'd love to keep getting your thoughtful contributi

[2019-07-18 18:49] YuliKl commented on #1035
I definitely would not call this intentional. While I didn't try adding the style to a user control, I did try making it a resource of the Page and more specific components. @MikeHillberg, any thoughts on this?

[2019-07-18 18:49] fabiant3 commented on #1040
Those are included in the SDK for use by the designer. Themeresources.xaml is a subset of generic.xaml, hence the duplication of resources. Visual Studio verified a few months back that they only use generic.xaml. I don’t know why or how the SDK originally decided it should include both (rather than just generic.xaml).
When we ship the WinUI 3.0 Nuget, it will only be including generic.xaml. Are y

[2019-07-18 19:02] sylveon commented on #1045
I've tried writing XAML for my C++ app and boy was the experience painful.

I've had to add many project properties which are undocumented and some other hacks to correctly generate everything and package it correctly.

For example:
- When creating a project to store my XAML pages into, I had to add `    <_NoWinAPIFamilyApp>true</_NoWinAPIFamilyApp>` and `<_VC_Target_Library_Platform>Desktop</_VC_

[2019-07-18 20:16] Nirmal4G commented on #1045
Is it possible to not to change the namespaces when using WinUI?

https://github.com/microsoft/microsoft-ui-xaml/issues/888#issuecomment-510743347

[2019-07-18 20:50] knightmeister opened #1076 "Proposal: TextBlock editing"
# Proposal: Enable editing for TextBlocks

## Summary
I recently raised #1007 for being able to edit a TreeView. I think that this is probably the correct way of implementing this feature, and will be far more powerful and extend to many other elements of WInUI.

In this issue, I'm proposing that TextBlock (or at the least, a Run within a TextBlock) are made editable. Textblock's are used everywhe

[2019-07-18 20:55] mdtauk commented on #1076
File Explorer uses F2 and the Context Menu to go into Editable mode for the currently selected item.

Some Adobe Software allows double clicking a Layer/Item's Text area, to enable in place renaming.

[2019-07-18 21:13] mdtauk commented on #836
Will the border around the ToggleSwitch control be updated to 1px, as with the borders on the other XAML controls?

[2019-07-18 21:54] kaiguo commented on #836
Yeah it'll be updated, see the list here: https://github.com/microsoft/microsoft-ui-xaml/issues/835

[2019-07-18 22:03] mdtauk opened #1077 "Proposal: Add Range support to Slider Control"
# Proposal: Add Range support to Slider Control

## Summary
Add the ability to display, select, and output a Range value using the Slider Control.

## Rationale
FastDNA's Slider control supports adjusting both left and right values with the Slider.
![image](https://user-images.githubusercontent.com/7389110/61494786-08971200-a9af-11e9-829d-f5d75cb699ba.png)

The Community Toolkit contains a Range S

[2019-07-18 22:05] mdtauk commented on #836
@kaiguo  Thank you

[2019-07-18 22:36] micahl commented on #666
@DerGary, no promises, but I have started an thread internally to raise the issue.

[2019-07-18 23:25] HppZ commented on #1040
Are you seeing an actual issue?
No. I just feel confused. Thanks for your answer.

[2019-07-18 23:41] mdtauk commented on #1040
@fabiant3 This issue is listed as a question.

I suspect the answer to your question @HppZ goes far back, because I believe WPF, Silverlight, and Windows Phone have similar generic.xaml and themeresources separation.

![image](https://user-images.githubusercontent.com/7389110/61499055-b3aec800-a9bd-11e9-94a7-a65180b92463.png)

[2019-07-19 00:33] mdtauk opened #1079 "Question: Top and Bottom padding for flyouts - can it be removed?"
![image](https://user-images.githubusercontent.com/7389110/61500621-f5db0800-a9c3-11e9-869f-1bd4c81ac78a.png)

All flyout menus have uneven padding at the top and bottom, compared to the sides.  Why is this the case, and should it be removed so menu items will be flush with the edges of the flyout - or at least even padding on all edges?

Adding the rounded corners may be an opportunity to reconsi

[2019-07-19 03:45] YuliKl commented on #389
@Karl-Bridge-Microsoft, thank you for the feature request. This feels like a great change that we will look into after WinUI ships.

[2019-07-19 06:26] DerGary commented on #666
@micahl thank you very much, that is very kind of you. In the meantime (maybe I should have asked that first) is there a known workaround that I can build inside the app to prevent this issue from happening in the first place?

[2019-07-19 08:00] JohnF38 opened #1080 "Floating Windows"
Hello !

It would be nice to have windows that could freely float and move (I don't mean dock) within a parent one.
This is extremely useful, for example, when several representations (2D, 3D, histogram,...) of the same data set are needed.

Are floating windows planned for WinUI 3.0 ?

John

[2019-07-19 09:01] verelpode commented on #825
When you use the SVG `viewBox` attribute, you need to also set the `preserveAspectRatio` attribute.  As I said, you need to stop using unreliable/unnecessary "features" of SVG.  It's not your fault, rather it's the fault of the unnecessary complexity in the SVG specification.  Unfortunately SVG defines the `preserveAspectRatio` attribute with this default value:
[code]

Don't use that "feature" --

[2019-07-19 09:57] mdtauk commented on #1080
There are new Windowing APIs in development.  Not sure if they will make it for WinUI 3.0, or even if they are part of it, and not part of the OS.

Maybe someone can provide more info.

[2019-07-19 12:13] Felix-Dev commented on #1080
@JohnF38 @mdtauk See the [Build 2019 Windows Presentation Platform session](https://mybuild.techcommunity.microsoft.com/sessions/77008?source=sessions):

![image](https://user-images.githubusercontent.com/1398851/61533876-56069400-aa2e-11e9-83d4-8eba5cc30a51.png)

As you can see "windowing" is mentioned for WinUI 3.x. In the session (starting at roughly 56:00) it is said that shipping the new 1903

[2019-07-19 15:47] micahl commented on #108
@adrientetar, there's some overhead to creating event args to pass back and forth between the framework and the app.  Because the event arg would only be providing a copy of properties exposed by the sender our current design is to not have the event arg.

Yes, the current design is that in a non-animated zoom you invoke programmatically the StateChanged doesn't fire.  The ZoomCompleted and Scroll

[2019-07-19 17:50] RyoukoKonpaku commented on #1045
### Migration
Automation for step 1-3 is defintely helpful especially since renaming namespaces on hundres of files is very time consuming and prone to errors. On top of that an compat analyzer would be nice just like the .net framework > .net core one which creates a report on how compatible the current codebase is and notes all the possible changes needed.

### Tooling
As others have already sai

[2019-07-19 17:58] mdtauk commented on #1045
I would like to think that the WinUI 3.0 version of the Page control would do away with the need to use a prefix for those controls.  I guess this would be an SDK level thing.

[2019-07-19 18:14] Nirmal4G commented on #1045
Is it possible to not to change the namespaces when using WinUI?

One fix should be, that you can exclude `Windows.UI.Xaml.*` WinMD references from build. Now the build targets reference only the Unified WinMD aka. `Windows.winmd`, add an option in the targets to also refer individual WinMDs, that way, we can include or exclude the references based on the App we're building.

Is this the way, then

[2019-07-19 18:24] Sergio0694 commented on #890
Hey @RBrid - just though I'd give you an update on this.
This crash keeps happening pretty frequently for me, here's a screenshot of the latest recorded devices and OS versions (this is just from the crashes in the last week or so), in case it helps:
![image](https://user-images.githubusercontent.com/10199417/61551725-35eacb00-aa56-11e9-8257-369d31e84934.png)
I tried replicating this multiple time

[2019-07-19 18:42] MarkIngramUK commented on #1045
I wouldn't think it were necessary to provide a porting tool. It's a one time change, reasonably easy with Find&Replace, and the number of instances are going to be fairly low.

[2019-07-19 18:49] allan-ok opened #1081 "Disabled ToggleSwitch is actionable"
**Describe the bug**
Grayed-out(Disabled) ToggleSwitch is actionable by tabbing into it and pressing space bar when AllowFocusWhenDisabled="True". Clicking and tapping still do not trigger a change in the toggle switch as expected.

**Steps to reproduce the bug**
-Have a ToggleSwitch, with properties 'IsEnabled' set to false and 'AllowFocusWhenDisabled' set to true.
-Tab into the ToggleSwitchand h

[2019-07-19 18:49] SavoySchuler commented on #268
I am unassigning myself for now due to lack of community interest. I am intending to resume work on #60 in the foreseeable future and will leave this open for the time being in the case community interest occurs.

[2019-07-19 18:51] chigy commented on #1054
### Status update
Updated the proposal to prepare for the pitch review as well as based on discussion with design team about how to rationalize the styles.

[2019-07-19 18:54] SavoySchuler commented on #913
It seems like it would be ideal to have both inline and overlay options as in retrospect the Office Suite is able to rely on all of their apps having a Ribbon. @mdtauk I like your suggestion that's starting to hint at how we think about appearance/disappearance behavior.

@all, can anyone share with me specific scenarios in your real apps where you envision this control being used? Specifically, I

[2019-07-19 18:58] mdtauk commented on #60
Will there be support for pages of content without data binding?

Something like:
[code]

It would be useful for Custom Controls like signup or login forms, which could be used throughout an app

[2019-07-19 19:27] SavoySchuler commented on #784
Accidental close - I am still actively working on this issue.

[2019-07-19 19:34] YuliKl commented on #1080
@JohnF38, are you looking for child windows with caption controls (minimize, maximize, close)? Or movable panels within a parent app window? What capabilities would you expect these floating windows to have? For example, in addition to moving them, should users be able to close or resize them? Would you want the floating windows to be movable outside the parent window?

[2019-07-19 19:52] adrientetar commented on #108
Ah okay, I understand now. Maybe the event could fire always and contain an origin parameter, like SetFocus, but maybe there's some overhead to doing that.

Okay, so for my use-case I have to handle ZoomCompleted and StateChanged iff State == Idle, depending on whether the change is programmatic or not. Isn't that weird? I mean, to have different events with different names for the same thing only

[2019-07-19 20:29] Sergio0694 opened #1082 "Short, incomplete swipe gestures on the SwipeControl sometimes cause it to break down and stop swiping"
**Describe the bug**

This bug is probably related to #890.
Basically, if you perform some incomplete swipe actions on a `SwipeControl`, and then make a full gesture, the control will just break down and stop responding to new swipe gestures.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Get the repro: [SwipeGlitchRepro.zip](https://github.com/microsoft/microsoft-ui-xaml/fil

[2019-07-19 21:47] mdtauk commented on #913
@SavoySchuler  Considering Entrance and Exit, it could slide in from an edge, but also animate in as a floating overlay if the developer chooses.  Sliding in from the right edge of the screen at OS level - from the right edge of an app window, or out towards from the edge of a control or UI element.

There is a close button for dismissal, but for touch displays, the ability to slide it in the reve

[2019-07-19 21:52] micahl commented on #108
Regis and I had a brief chat about introducing a new state "Transitioning" and making some minor renames.  Let us know if this would make more sense for your use-case.

The idea discussed was that when a change to the scroll/zoom position is about to be serviced (whether user initiated or programmatic) we'd raise the StateChanged event and report the current state as Transitioning.  Here's what th

[2019-07-19 22:56] saniyamazmanova commented on #659
Is it possible to get corner radius values for the items on the list?

[2019-07-19 22:58] adrientetar commented on #108
@micahl Yes, that looks very much like what I would expect! Someone who'd want to only handle animated changes can intercept the Animating state. For the names, I would keep Idle not Idling ("Scroller is idle"/"Scroller is animating"), Transitioning &rarr; Stirring? (Transitioning is very confusing, I'd rather we convey that it's at the start of the motion so imo stirring [might work better](https

[2019-07-19 23:21] micahl commented on #108
Stirring initially made me think of blending.  :)  API review will want to weigh in when we finalize names and tends to look for precedent.  It's always good to have some options.  Other alternatives could be Unknown or Pending.  There's precedent in existing APIs for both of those along with Idle which means we'd probably not do Idling.

[2019-07-19 23:29] mdtauk commented on #659
When placed as a control it should use the 2px corner radius right?  4px when used as a flyout?

[2019-07-19 23:33] micahl commented on #264
@rbrid added another line item to this set of tasks to adjust StateChanged behavior and include another value in the enum.

[2019-07-19 23:39] adrientetar commented on #108
Cool cool. Pending sgtm, imo Unknown is even more confusing than Transitioning.

[2019-07-19 23:39] micahl commented on #666
@wbokkers, you did something to avoid hitting this issue, right?  What was it?  @DerGary, unfortunately I'm not aware of a guaranteed workaround.

[2019-07-19 23:48] RBrid commented on #890
Thank you and sorry for the delay @Sergio0694, I will be gone for a month. @jevansaks, you may want to re-assign this during my absence.

[2019-07-19 23:51] kaiguo commented on #659
The default values are 2 for controls and 4 for overlays. https://github.com/microsoft/microsoft-ui-xaml-specs/pull/32/files#diff-7e5bdf641a5e75aa9cef33ea78c49a71

[2019-07-19 23:56] kaiguo commented on #659
Correct, CalendarView has 2px CornerRadius, and it gets 4px radius when used inside the CalendarDatePicker Flyout.

[2019-07-20 01:18] verelpode commented on #825
@jevansaks

It comes from the initial size of the app window (the window size that can be changed by invoking `Windows.UI.ViewManagement.ApplicationView.TryResizeView`).  "Initial size" meaning the size of the app window _before_ the XAML Image element is created, regardless of whether the user subsequently resizes the window.  I've created an example to demonstrate how the window size influences

[2019-07-20 01:43] verelpode commented on #825
For further reference, the cropping bug still occurs when the SVG file begins with any of these examples:
[code]
The cropping bug disappears if you use this:
[code]
I don't have access to the SVG renderer source code, but if I did, I believe the first thing to do should be to look at how it ends up using the app window size in the rendering.  To improve reliability, make it render entirely indepen

[2019-07-20 12:23] wbokkers commented on #666
@michahl, no I couldn't avoid hitting the issue, as far as I can remember. I can't reproduce the issue now, and there are no user complaints about it either.

[2019-07-20 14:00] HppZ opened #1084 "Why ThemeShadow looks not right?"
https://github.com/HppZ/ThemeShaowApp

![image](https://user-images.githubusercontent.com/12285582/61579551-18daf880-ab39-11e9-804e-fbbf3a4ddf3a.png)

[2019-07-20 14:03] mdtauk commented on #1084
How ThemeShadow works is explained in this duplicate issue #1037

[2019-07-20 14:08] HppZ commented on #1084
is there any solution available?

[2019-07-20 14:15] mdtauk commented on #1084
For shadows in general?  I'd say not right now,  I don't think shadow rendering is something that will be fixed before WinUI 3.0 is out at the end of the year or early next year.

Have you considered using the [**Teaching Tip**](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip) control - you seem to be building the same kind of thing.

![im

[2019-07-20 14:26] HppZ commented on #1084
1, so it will be fixed in WinUI 3.0?

2, the TeachingTip control is great, but I don't like the border line, if I remove  the border, the shadow behind the triangle(that Polygon) is almost invisible, and that looks bad.

3, if I set the shadow on the border itself, it looks like this, the shadow on the top is almost invisible.
![image](https://user-images.githubusercontent.com/12285582/61579861-4e

[2019-07-20 14:34] mdtauk commented on #1084
Nothing has been confirmed, but there is another issue about this, but someone from the team @jevansaks has commented.

I imagine the border around the control was to deal with the issue of the tail arrow being lost because of the box shadowing.

[2019-07-20 14:41] HppZ commented on #1084
the border looks really bad, what do you think? @mdtauk @jevansaks

[2019-07-20 14:53] mdtauk commented on #1084
I personally like the border on the TeachingTip, but I have an issue (#895) which is calling for borders on all elevated Acrylic surfaces and controls.

[2019-07-20 22:55] sylveon commented on #1045
Also encountered more issues:

- After adding resources to the `App` class, my XAML could not find it until I added, again found from the Terminal app and with not much idea about what it really does does:
[code]
- The build with completely break at random with an error similar to `cannot find type Microsoft.Toolkit.Win32.UI.XamlHost.XamlApplication` and the only way to get the project building ag

[2019-07-20 23:03] adrientetar opened #1085 "Scroller wheel zooming while scrolling ends up way off"
**Describe the bug**

I have a very large canvas in a Scroller. If I scroll down with the wheel and immediately unzoom by pressing Ctrl with it, I end up in position very far away (going towards bottom right of the scrollable area).

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Have a scroller with a large scrollable+zoomable area
2. Scroll down the mouse wheel
3. Hit Ctrl w

[2019-07-21 00:54] knightmeister commented on #1008
Hey guys, I think this can be closed. Possibly, the documentation should be updated. I figured out how to do it last night with a ListView and (thankfully we have consistency) it's the same way to do it for the treeview.

Rather than showing the menu flyout automatically I'm going to show it manually in response to the [RightTapped](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielemen

[2019-07-21 23:18] Poopooracoocoo commented on #848
@YuliaKl How does this not scale? As @mdtauk said, this is not about matching the position of the finger. This is more of a touch thing. 24 inch monitors are usually not touchscreens. This is more for laptops and tablets but really any touch device. Every Surface device has a touchscreen

[2019-07-21 23:25] Poopooracoocoo commented on #1054
Why are you introducing an outlined style?

btw we can't forget that Windows has links. Look at the wifi flyout for example

[2019-07-21 23:44] mdtauk commented on #1054
Hyperlink Button is a separate control in WinUI XAML

[2019-07-22 00:58] Poopooracoocoo commented on #830
@mmicahl I remember the choppiness being there before that setting was introduced. By the way, content doesn't get pushed when pushed when hiding scrollbars are disabled. If I record it I'll update this

[2019-07-22 07:49] JohnF38 commented on #1080
Thanks everybody for your answers !

Please take a look at the screenshot below, there is a main window that is parent of several floating windows used for various representation of the dataset.

Floating window have their own menu bar for features adjustments.
Each floating window is moveable, resizable and closable.
Floating windows do NOT need to be moved outside their parent main window.

![Fl

[2019-07-22 08:32] HppZ commented on #1074
@codendone please help

[2019-07-22 11:14] knightmeister opened #1086 "Bug: Incorrect BasedOn causes crash when debugger not attached"
**Describe the bug**
This bug took me a bit to track down. The behavior is very specific to reproduce.

When a style is defined in a resource dictionary, and applied to a control that is incompatible with the `BasedOn` attribute of the style, the application will crash when the debugger is not attached.

**Steps to reproduce the bug**
1. Create a new solution
2. Add a new page
3. Create a ToggleBu

[2019-07-22 11:16] knightmeister opened #1087 "Proposal: Add binding support to MenuFlyout"
# Proposal: [Add binding support to MenuFlyout

## Summary
Presently items in a flyout need to be defined ahead of time and cannot be bound to a collection. Add an `ItemSource` property and enable databinding.

## Rationale
* Supports binding to arrays for displaying menu options corresponding to an array, enumeration or similar
* Adds consistency with most other elements which support this form o

[2019-07-22 11:20] knightmeister opened #1088 "Question: Multiple views binding to the same source - is this a bad idea"
My app supports 3 different views of data, which the user can select. Essentially a grid, a list and details view.

The controls being used are:

Grid - ListView with horizontal wrap grid
List - ListView with (most likely) vertical wrap grid
Details - DataGrid from the community toolkit

These three controls will all bind to the same view model property and visibility will be controlled based on w

[2019-07-22 13:56] JKennedy24 commented on #597
@duncWatts

Experiencing this in Xamarin.Forms UWP application. Whats the workaround you mention?

[2019-07-22 14:02] DuncWatts commented on #597
I duplicated the ScrollViewRenderer and stripped off the IDontGetFocus interface.  See the linked issue Xamarin.Forms issue above and related commits.  Once that issue has been fixed in a released build I can just remove my custom renderer.

[2019-07-22 14:21] JKennedy24 commented on #597
Might be a bit cheeky but any chance you can share the renderer? I duplicated the renderer and stripped off the interface but I'm still getting the behavior

[2019-07-22 14:23] DuncWatts commented on #597
This is the code I'm using in my UWP project.

https://gist.github.com/DuncWatts/2c9dd44e13d29a0e6fdc72c659532bb6

[2019-07-22 14:29] JKennedy24 commented on #597
@DuncWatts brilliant thanks!

I'll also mention that you also need to have `IsTabStop="true"` as well as the renderer, I was setting it to false which is why I still saw the behavior

[2019-07-22 16:56] jevansaks commented on #1008
We would recommend using ContextRequested since that will catch invocations of the menu from sources other than right-click. But otherwise that makes sense, I'm glad you figured it out.

[2019-07-22 16:56] #1008 closed

[2019-07-22 17:24] ocalvo opened #1089 "MUXC cannot be referenced in a .NET Core 3.0 projects"
**Describe the bug**

Dotnet core project do not include the targets file in the native folder (by design) and the reference to the winmd is not created.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new DotNet core project.
2. Add a NuGet reference to Micrsosoft.
3. Declare a variable of type Microsoft.UI.Xaml.Controls.WhatEver

**Expected behavior**
Project builds

[2019-07-22 17:49] YuliKl commented on #668
Related feature request - #1080

We definitely need additional innovation in this space but won't be able to begin implementation until after WinUI 3.

[2019-07-22 17:55] shaggygi commented on #668
@YuliKl

That is completely understandable.  I'm very glad the team is considering this control.  Look forward to WinUI 3.0 and future goodness 😄

[2019-07-22 18:07] ryandemopoulos commented on #677
Removing myself as an assignee since I'm not actively working on it right now.  We should at least revisit this later after WinUI 3 ships--a lot of good commentary in here on making it easier for controls/UI to size itself intelligently based on locally-available space.

[2019-07-22 18:32] jevansaks commented on #1082
Sounds like a dupe. @RBrid is on vacation but I think @KMahone might have some time to take a look at these two together.

[2019-07-22 19:30] jevansaks commented on #1081
My guess is that AllowFocusWhenDisabled was added after many of our controls were implemented. @Austin-Lamb perhaps AllowFocusWhenDisabled should block keyboard input to the controls when focus is disabled?

[2019-07-22 19:34] jevansaks commented on #1089
@ocalvo, Could you include more repro steps or a sample project? It's normal that .NET projects only include the "build" directory, but it sounds like .NET Core's build targets don't correctly reference the winmd which would be a .NET Core issue. Obviously we could work around it but it seems better to have .NET fix it.

[2019-07-22 19:38] jevansaks commented on #1088
Yes, controls consume resources when collapsed -- not as much as when visible, for example a ListView should avoid stamping out UIs for its items but it will still be listening to changes on the items source. I think you'd be fine having them collapsed and still listening to the ItemsSource, though from a perf perspective.

Better than visibility for this scenario is [x:Load](https://docs.microsof

[2019-07-22 20:52] chigy commented on #1084
@HppZ , @mdtauk is right about the border. We indeed added it to make sure the tip is visible. We experimented with a lot of options and we settled with the current design.

We also have the border around the control because the control would be invisible (you cannot tell against the background) when the page's color and flyout's color are the same. As common control creators, we have to anticipat

[2019-07-22 20:55] chigy commented on #1054
@Poopooracoocoo , could you explain why you don't think it is a good idea to introduce outlined style? As is on any platform, there are many styles that a button can support?

I am not sure what your comment about the links. I do not believe links is neither a fill nor outline?

[2019-07-22 21:17] LucasHaines commented on #82
I'm removing the assignee field to indicate that this proposal is going to the freezer for us to take a look at later.

[2019-07-22 22:47] ocalvo commented on #1089
This [issue](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1563) tracks updating the docs

[2019-07-22 22:54] ocalvo commented on #1089
Here a minimal .NET Core project that repro the issue: [Repro.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3419410/Repro.zip)

The guidance for native winrt components is incorrect, this [issue](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1563) tracks updating the docs

[2019-07-22 22:58] ocalvo commented on #1089
This is not a problem with .NET Core, this behavior is by design, see this native [component](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/blob/master/Microsoft.Toolkit.Win32.UI.XamlApplication.Package/Microsoft.Toolkit.Win32.UI.XamlApplication.Package.csproj#L81-L96) that include the correct targets file.

[2019-07-23 03:12] KevinTXY commented on #483
Haven't checked if this has been discussed already, but wanted to quickly ask if anybody sees a great need for function support for calculations, meaning any of the below or more:
`cos(), sin(), tan(), asin(), acos(), atan(), sqrt(), log(), abs(), ceil(), floor(), hyperbolic functions, etc`

I'm stitching together a math parser and functions complicate the process of converting to RPN (that said I

[2019-07-23 03:33] xyzzer commented on #483
I think these wouldn't be very discoverable in most cases and if anyone needs support for more complicated functions - it's better to work on opening up the parsing to a callback event allowing users to implement their own parsing or preprocessing logic.

What would be more valuable is to allow to start typed in text with an operator, so if you click the text - it would select all by default and y

[2019-07-23 05:06] DHowett-MSFT commented on #708
FWIW, this happens for almost all `VK_OEM` keys.

[2019-07-23 08:34] eugenegff commented on #483
We (BeLight Software, Live Home 3D project) need pluggable ValueConverter for value <=> text conversion, otherwise NumberBox would be unsuitable for us.

[2019-07-23 09:25] adrientetar commented on #483
I think the use of those functions would be pretty rare, I have an angle input in my app but it's just a degree value. The most important use for me is to be able to add a value to existing or divide existing by a number, just to save time and avoid to do that calculation mentally. (Btw I think that's what Adobe apps have, the 4 arithmetic operators: https://adobexd.uservoice.com/forums/353007-ado

[2019-07-23 10:43] adrientetar opened #1092 "Proposal: Add Label to Button"
# Proposal: Add Label to Button

I have a Button, with a KeyboardAccelerator and a Tooltip description, and I would like the framework to display the KeyboardAccelerator at the end of the tooltip for me, e.g. I would set the description to "Copy" and the tooltip would be "Copy (Ctrl+C)".

It seems this is possible today using AppBarButton by setting its Label property with the description. The pro

[2019-07-23 11:04] knightmeister opened #1093 "Setting TextDecoration = None on TextBlock does not remove the strike through after applying it"
**Describe the bug**
I am trying to strike through a TextBlock when the user taps it. This works great, but it's not possible to clear the strike through decoration once it's been applied.

**Steps to reproduce the bug**
1. Add a TextBlock to a page
2. Add a Tapped event
3. Add the following code:

[code]

**Expected behavior**
Tapping the TextBlock applies a strike through and changes the colour

[2019-07-23 12:30] lhak commented on #829
@RBrid Thank you very much for the code. I added it to my application and it is working great with smooth animations. I actually clamp the rectangle for the zoom operation to valid values in my application so I could remove the code in the if(disableAnimation) block.

[2019-07-23 16:21] mrlacey commented on #1093
@knightmeister Yes, this totally looks like a bug in the `TextBlock` control. As a guess, I'd say it's not looking to do anything when the decoration is set to None, when it should also look to remove anything that's already there.

Fortunately, there's a simple workaround:

[code]

[2019-07-23 16:42] YuliKl commented on #1092
Hi @adrientetar, thank you for the suggestion. I believe you're asking for a specific case of the broader topic suggested in #389. Would you agree? If you do, I'll close your issue as a duplicate of the other.

[2019-07-23 17:30] verelpode commented on #1080
My understanding is that overlapping/floating windows were deliberately excluded from UWP because they are considered to be an obsolete GUI design, and they are incompatible with the "U" in UWP.  "U" for "Universal" meaning all computing devices including tablets, smartphones, desktop computers, notebooks.  Floating windows are practically incompatible with touch-based devices that don't have a mo

[2019-07-23 18:13] Austin-Lamb commented on #1081
@marb2000 - assigning to you for now.  I think Jevan's suggestion is interesting, but may have unintended consequences we should think through.  This feels like a feature request, so tagging that way.

@jevansaks - Note this could be fixed in ToggleSwitch more immediately if this feature request for AllowFocusWhenDisabled moves too slowly.

[2019-07-23 19:49] KevinTXY commented on #483
Ok great! Sounds similar to what @xyzzer proposed. I'll take a look at similar implementations and see if it can fit in appropriately.

I took a look at the Slider example you gave and it sounds very reasonable - I could see value in an IValueConverter for NumBox. I'll look into it soon and we'll try to decide if it fits into the spec appropriately.

[2019-07-23 20:57] adrientetar commented on #1092
@YuliKl Yes indeed, thanks.

[2019-07-23 20:57] #1092 closed

[2019-07-23 21:35] codendone commented on #1074
In general, the ShouldConstrainToRootBounds=true rendering, where the shadow from the second popup projects onto the first popup, is the intended/desired behavior.  By default, popups should be able to project shadows on other popups plus the main app content.

When popups are windowed (ShouldConstrainToRootBounds=false), the shadows are drawn outside of XAML's popup window via the Windows shell.

[2019-07-23 21:35] SavoySchuler commented on #60
This is a must (I have heard the same ask from internal customers) and I have updated the Requirements list to reflect this. My current understanding is that the API can (mostly) look the same as it will in solutions that leverage data binding, the distinguishing work will need to be handled in the navigation events that would require some special casing to handle navigation calls to content that

[2019-07-23 23:06] chigy commented on #895
### Status update

Turning this into a "Discussion" category since there is no known immediate plan to look at flyout design.

[2019-07-23 23:13] chigy commented on #1010
@h82258652 , as I mentioned, at this point in time, unless you want to make the flyout less rounded, the option is to turn off shadow and I've provided the link above.

[2019-07-23 23:13] #1010 closed

[2019-07-24 02:30] codendone commented on #1093
Yes, this is an old bug.  The TextDecoration property incorrectly does not mark the element as needing rendering when its value changed.

[2019-07-24 05:59] Poopooracoocoo commented on #1054
@chigy I'm not saying that I think it's a good or bad idea. I'm just wondering why. :)

I know Material Design has a filled, outlined and text buttons but Chrome/ChromeOS don't (or rarely) use text buttons. I mentioned links because links are like text buttons from Material Design.
Windows has accent buttons, primary filled buttons and links. Primary filled buttons are kinda like outlined buttons

[2019-07-24 06:38] Djohnnie commented on #1088
If I understand the question correctly: I mostly make use of DataTemplateSelectors for this purpose. You could create three data templates containing one of the three controls each and write the selector to select the appropriate one depending on some flag or setting on your ViewModel.

[2019-07-24 11:37] knightmeister commented on #1093
Thanks for the work around @mrlacey, works well.

[2019-07-24 11:37] knightmeister commented on #1088
Thanks for the info @jevansaks, exactly what I was after.

[2019-07-24 13:02] JohnF38 commented on #1080
@ verelpode, thanks for such a detailed answer !
You're definitely right when you state that my GUI reflects the software insights.
I have to say I'm impressed by your analysis.

Since you're obviously an expert (and I'm not ;)  ) , I have to agree with your point of view.
But practically speaking, how to get several data representations side by side without floating/overlapping windows ?

It woul

[2019-07-24 14:23] verelpode commented on #1080
@JohnF38 -- I'm glad to hear that you found my analysis helpful.

Thanks, but actually user-friendly GUI design is not my strong suit.  I'm not an expert in that department, rather I'm a software engineer who accepted critique from users and then implemented improvements, and this ended up making everyone happier including myself.  Now I recognize this problem quickly and I have a good _understand

[2019-07-24 14:48] verelpode commented on #1080
Questions for Microsoft staff in relation to alternatives to floating/overlapping windows:

**ApplicationView:**
Why do [ApplicationView's](https://docs.microsoft.com/en-us/windows/uwp/design/layout/show-multiple-views) force the use of a separate Dispatcher/thread?  Creating a second or third Dispatcher only makes sense in some apps, not all.  When an app has multiple Dispatchers, this causes sub

[2019-07-24 16:07] hig-dev commented on #477
A user on the MSDN forums suggested this fix:
[code]

Source: https://social.msdn.microsoft.com/Forums/windowsapps/en-US/0d3a2e64-d192-4250-b583-508a02bd75e1/uwp-bug-crash-layoutcycleexception-because-of-slider-under-certain-circumstances?forum=wpdevelop

Maybe this helps to fix the problem. Please fix this problem, we shouldn't be forced to use a workaround for months.

[2019-07-24 16:18] jevansaks commented on #1080
Starting in 19H1 you can use the [AppWindow API](https://docs.microsoft.com/en-us/uwp/api/windows.ui.windowmanagement.appwindow) to create multiple windows on the same thread.

#190 has some discussion of these proposals. The UWP community toolkit has a GridSplitter and we've discussed bringing that into WinUI as well, we just haven't had the time.

[2019-07-24 16:19] #1088 closed

[2019-07-24 16:46] chigy commented on #1054
The reason is because we saw some inconsistencies in the UI. We felt our UI was using fill and outline somewhat interchangeably. Also, Fabric UI uses outline while Windows use fill. This is purposeful. So, rather than keeping it at the confused state, we decided to clearly define and describe where to use which style and we are starting this with WinUI.

We are trying to establish Fluent Design _S

[2019-07-24 17:28] chigy opened #1096 "Proposal: Update checkbox's outer boxes to have rounded corner by default inside List and GridView"
# Proposal: Update checkbox's outer boxes to have rounded corner by default inside List and GridView

## Summary
During issue #524, we identified the checkbox's outer boxes cannot be rounded until the control is exposed to WinUI which won't happen until later release.

## Rationale

- As a system, we should update everything consistently
- We also have dependencies to other work. This update was d

[2019-07-24 17:28] chigy commented on #524
### Status Update
Created a separate issue to track work to round the corner of checkbox inside List and GridView

[2019-07-24 17:30] brunasilvalopes commented on #1034
I've investigated this issue and realized it also happens with ListViewItems, which means this bug is on the XAML Framework. I tried overriding IsControlElementCore as I mentioned above, but that didn't solve the problem.
There is one workaround, which is to set the AccessibilityView property of the hidden menu item to Raw. To do that, I binded the AccessibilityView property to the same property t

[2019-07-24 17:33] jevansaks commented on #1034
Thanks @brunasilvalopes ! This looks like a good workaround, I don't know why this isn't happening in the framework. We'll look post-WinUI 3.0.

For your workaround since you're using x:Bind you might consider [function bindings](https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings) instead of converters? They're a lot simpler to use/write.

[2019-07-24 18:30] SavoySchuler commented on #913
@mdtauk, fantastic work on the videos! 🎉 They are beyond helpful in bringing life to these ideas.

The need for persistence is an excellent point and I think the dismiss feature could also be mitigated with Guidelines that suggest making the status notifications persistently available in a notification pane if critical or, _possibly_ resurfacing them at non-invasive intervals if problems persist.

[2019-07-24 19:57] #1040 closed

[2019-07-24 20:03] fabiant3 commented on #1048
Changed title, we'll be considering this issue in the future (bug, not a question anymore). Thanks for reporting and providing the sample code HppZ!

[2019-07-25 00:13] Avid29 opened #1097 "Proposal: HandledSelection in ListView"
# Proposal: HandledSelection in ListView

## Summary
When an Item is clicked, it's selected status doesn't change unless the command/function for ItemClick changes the SelectedItem(s) to include that item.

## Rationale
At the moment, there's no way to have SelectedItems in the ListView and have items you don't want selected. This would allow selected ListViewItems to be handled uniquely. For exam

[2019-07-25 12:07] mrlacey commented on #483
@KevinTXY I suspect that adding the functions you mention [above](https://github.com/microsoft/microsoft-ui-xaml/issues/483#issuecomment-514036417) would open the door to more problems than the value it may provide. This is because it would allow the typing of a wider number of characters (basically any letter) in to the control. In turn this would make it easier to accidentally type something inv

[2019-07-25 12:12] mrlacey commented on #483
I'm surprised there are still questions about localization. As the control will (must?) inherit from `FrameworkElement` it will have access to the [Language property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.language) and so, like every other FrameworkElement, support setting the locale directly and not rely on system locale UI settings.
This means that things like

[2019-07-25 12:46] mrlacey opened #1098 "Question: Why no code analyzers (or linters) for the code base?"
Based on the number of comments on [this PR](https://github.com/microsoft/microsoft-ui-xaml/pull/1042) that are about basic style and code formatting, I was surprised to see that there are no analyzers (or equivalent) set up to automatically check for issues like white-space use or naming conventions.

Is there a reason these can't be added?

There would be two immediate benefits:
1. Code would be

[2019-07-25 13:01] shaggygi commented on #1098
I guess the editorconfig could be improved or [FxCopyAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers) added maybe.

[2019-07-25 13:48] tipa commented on #99
I just built my app with the latest available toolings 1 week ago and I still see this crash happening on 17763 devices. Are there any ways to prevent/workaround this?

[2019-07-25 13:54] mrlacey commented on #1098
I was thinking StyleCop.Analyzers for the C# code. I'm not sure what's best for C++ though.

[2019-07-25 14:08] mrlacey commented on #913
There seems to be differences between the Status Banners mocked-up in the OP and the full-width notification as seen in Office (images above in earlier comments) or Visual Studio (as below)

![VS Designer banner showing 2 separate links](https://docs.microsoft.com/en-us/dotnet/framework/winforms/media/disable-dpi-awareness-visual-studio/scaling-gold-bar.png)

The differences between the two mean I

[2019-07-25 14:09] mrlacey commented on #913
How would animated status banners support displaying multiple notifications at once?
Or is this now out of scope?

[2019-07-25 14:14] vgromfeld opened #1099 "CommandBar is not properly rendering compact AppBarButtons"
**Describe the bug**
The `CommandBar` is not able to display both labeled and compact (not labeled) buttons in the same `CommandBar` instance.

**Steps to reproduce the bug**

1. Add the following code in a XAML page:
[code]
2. Run the application
3. You'll see the following result:
![image](https://user-images.githubusercontent.com/20152272/61880943-1809e400-aef6-11e9-8b4a-b7336b127310.png)

**Ex

[2019-07-25 14:26] mrlacey commented on #913
This level of OS integration shows ambition beyond a single control and beyond WinUI.

Would "standard localised banners" be all that's available or would these be in addition to being able to have something fully customizable?
If providing some by default, what will they be?
I would be concerned that only providing a limited set of options would be unnecessarily limiting of the potential of such

[2019-07-25 16:15] Austin-Lamb commented on #708
@DHowett-MSFT - yeah, the bug is about a range check we do.  Can you please add to this issue the list of all the VK_* entries that you'd want supported so we're sure to get them all when we address this?

[2019-07-25 17:05] verelpode commented on #1080
@JohnF38
Consider also [BladeView](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/bladeview).  Even if you end up deciding that BladeView doesn't suit your particular app, you'll still get a benefit anyway, because thinking about BladeView will expand your GUI perspectives and it may also serve as inspiration.  Solutions are sometimes found via an indirect path or researching a

[2019-07-25 17:27] jevansaks commented on #1075
I believe that is because Page is a UserControl so the Content property is the only thing that's visible. So this is currently by design.

What is the scenario for this?

[2019-07-25 17:29] jevansaks commented on #1085
Thanks for reporting! @RBrid is obviously the expert here but he's on vacation until late August. Would you like to take a crack at debugging it, @adrientetar  ? :)

[2019-07-25 17:32] jevansaks commented on #1097
@Avid29 can you elaborate on the scenario? It sounds like you want something like group headers or header/footer (which are all ListView features today). Maybe a screenshot of the scenario would help.

[2019-07-25 17:34] DotNetRussell commented on #1075
The scenario is creating a pre designed page that has default chrome that the consumer would get when they used this page. For example maybe I want the page to have an application notification control, or a status bar or a context ribbon. I don't want my consumer to have to implement that in every page. I would rather implement it once, then have the consumer use my page over and over.

[2019-07-25 18:12] mrlacey commented on #1075
Possible work-around (depending on your exact requirements):
- You could retemplate `frame` to have the global elements in it, rather than having copies of them in each page.
- Create a page that has the desired global elements in it and host a frame within that that loads all the other pages.

Having a single version of the global elements, rather than copies of them on each page, has made things

[2019-07-25 18:20] adrientetar commented on #1085
@jevansaks Sure, I don't think I've a debug environment setup for the MUX package though. I'd have to go build it on my machine?

[2019-07-25 18:20] DotNetRussell commented on #1075
@mrlacey I agree that both of those should be work arounds. Unfortunately, this is an existing enterprise application that has existing design choices that prevent this.

[2019-07-25 19:18] jevansaks commented on #1085
@adrientetar the symbols are [indexed on MSDL](https://docs.microsoft.com/en-us/windows/win32/dxtecharts/debugging-with-symbols#using-the-microsoft-symbol-server), and source indexed to point at GitHub. So you should be able to debug through the code without a MUX setup and likely figure out the problem that way.

But if you want to clone the repo and build it, you just need Visual Studio 2019 wit

[2019-07-25 19:30] jevansaks commented on #1098
@RanjeshJ is working on getting clang-tidy and clang-format enabled to run on the codebase and I think that should help for C++. MSVC just doesn't have a good linter as far as we've seen.

For C# there's the [new editorconfig stuff](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2019) that we have set up and should be taking effect in C# files. If t

[2019-07-25 19:36] jevansaks commented on #483
The problem is that Language isn't the thing that controls formatting, it's the region/culture settings. Localization is about getting the UI strings updated to display in the correct language whereas the number/currency/datetime formatting is controlled by region. More info here: https://docs.microsoft.com/en-us/globalization/locale/locale-and-culture. And to complicate matters  Windows allows yo

[2019-07-25 20:06] Ambigulous commented on #666
@DerGary, what is your company?  I am preparing to bring the fix to Windows 10 1809 per your request, some information about your company and the product would help to make the business case.  If you have a support agreement with Microsoft, we could even send you a private update for you to verify ahead of time. Thanks!

[2019-07-25 20:06] mrlacey commented on #483
[`Language`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.language) takes a value that is translated into a [`CultureInfo`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo?view=netcore-2.2)--note that a culture is called a locale in unmanaged code development. This contains a [`NumberFormat`](https://docs.microsoft.com/en-us/dotnet/api/syst

[2019-07-25 20:31] jevansaks commented on #483
Not in native/WinRT, we just get a BCP-47 langs string. And that's the problem. In .NET you bundle up CultureInfo which has the language settings *and* the format settings. In WinRT it's separate and there's not an equivalent to the CultureInfo object.

I heard that the [ICU APIs](http://site.icu-project.org/) may enable what we're looking for but we haven't had a chance to investigate that yet.

[2019-07-25 20:52] brunasilvalopes commented on #1034
Thanks for the suggestion Jevan, I didn't know that function bindings existed!

[2019-07-25 21:09] tipa commented on #99
Does this mean the XamlRenderingBackgroundTask will inevitably crash on 17763 or is there any workaround?

[2019-07-25 21:29] LiZhao-MSFT opened #1103 "Proposal: Expanding navigation view automatically when hovering mouse or pen focus in the area"
# Proposal: Expanding navigation view automatically when hovering mouse or pen focus in the area

## The Navigation Pane expands automatically on hover mouse or pen focus in the area instead of requiring the hamburger button to be clicked. It collapse automatically once the focus is moved out of the area. It appears users find this easier to discover items in the navigation view area than via tool

[2019-07-25 21:39] shaggygi commented on #1045
Related stuff on [Windows Desktop: .NET Community Standup - July 25th, 2019](https://www.youtube.com/watch?v=CczRoN9H1Xg) if interested.

[2019-07-25 22:05] grork commented on #1075
Based on my prior experience with this, and attempting to solve a similar problem across 3 separate apps: Create a custom control, with it's own template, and use that as a wrapper around the content of the page (`Page->(New Control)->Whatever you'd put in your page normally`). This enables 3 use cases:
1. Your primary use case of consistency for page-level framing
2. Because your 'wrapper' contro

[2019-07-25 22:07] #1005 closed

[2019-07-25 22:07] michael-hawker commented on #1076
I think TextBlock needs to be kept simple though, it's main purpose is to just display text.

It's pretty straight-forward to have both a textblock and a textbox in a template and swap between the two on clicking the textblock/list item.  That's what I've done in the past for these scenarios.

Otherwise, I'd see the inverse being the more practical and having something like TextBox's IsReadOnly ha

[2019-07-25 22:09] michael-hawker commented on #1080
@verelpode [GridSplitter](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/gridsplitter) is in the Windows Community Toolkit.

[2019-07-25 22:19] alwu-msft opened #1104 "VSM Setter quirk for raising exception has backwards logic"
VSM Setters have a behavior of raising an exception if Setter.Value is “unset value” only when a debugger is attached (combination of bogus “compat” reasons and fundamental disagreements about how permissive VSM Setters should be). For 19H1, as part of some x:Bind in VSM work, a quirk (AllowVisualStateTransitionOnUnsetSetterValue) was added that permits apps targeting 19H1 and beyond to have VSM S

[2019-07-25 22:20] michael-hawker commented on #913
Just found this issue from the Twitter post about the animated mock-ups.  It does seem to overlap a lot of the work we've done with the [InAppNotification](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/inappnotification) control in the toolkit.  Including things like how multiple messages are handled.

We've learned that while this appears like a simple control, it's pretty co

[2019-07-25 22:27] alwu-msft opened #1105 "Template binding in VSM unexpectedly not resolving"
From #1048, the template binding in the [repro project](https://github.com/HppZ/TemplateParentBug) *should* be evaluating to the string "Content2" (the value of the CustomControl1.Content2 property on the templated control) but is instead failing to resolve; I would expect this to work.

[2019-07-25 22:32] alwu-msft commented on #1048
Created issues #1104 and #1105 to track different aspects of the overall reported failure.

[2019-07-25 23:26] chigy commented on #1079
Checking with our design team.

[2019-07-26 00:35] kmelmon opened #1106 "Rendering issue with rounded corners"
![ClippingBug](https://user-images.githubusercontent.com/33470154/61917562-9bc9cd80-af02-11e9-94d9-6f1e816b8d1f.png)
**Describe the bug**

When using certain sizes in combination with rounded corners, there's a rendering bug - the child of the element with rounded corners can have its corners "poke out" instead of being clipped to the rounded corner.

**Steps to reproduce the bug**

Steps to repro

[2019-07-26 01:51] Avid29 commented on #1097
I just want the ability to manage what is selected myself **and** have SelectedItems. For my situation, a **collapsible** group header would work (which doesn't exist). However, I also might have two different types of items in the same list, and want to be able to handle their selection myself rather than handled by the Framework in a way that doesn't suit my usage.

As for context, I'm looking a

[2019-07-26 07:30] DerGary commented on #666
I'm working for the s.Oliver Bernd Freier GmbH & Co. KG. We are employing about 7000 people worldwide. We have 2 UWP Apps that are used each by around 300 employees. We have usage of around 150-180 unique users per day per app. The Users depend on these apps because they have no other way of doing there work currently. And yes we do have a support agreement with Microsoft.

[2019-07-26 07:48] JohnF38 commented on #1080
@ verelpode  👍
Thanks so much for all your advices !

[2019-07-26 08:00] adrientetar commented on #666
Pay attention this person just signed up on gh, it looks like a phishing attempt. And mentions "1809" an old release of Windows.

[2019-07-26 09:20] Felix-Dev commented on #666
@adrientetar Reading up on the latest comments, I'm not sure this is a "phishing attempt". @DerGary is explicitly asking for a 1809 backporting of the fix and @micahl did say a couple days ago he was starting a thread internally about backporting it. Since github is also a relatively new way of interacting with customers for certain parts of MS, the sign-up date also doesn't have to necessarily be

[2019-07-26 10:15] verelpode commented on #1080
@JohnF38
To clarify, even though I find the current design of GridSplitter problematic, and the unofficial GridSplitter in Community Toolkit has the same problematic design, you could still use it anyway.  It's still usable, and the problems mainly impact us programmers rather than the end-users.  It has unexpected quirks, such as when trying to limit the user to a minimum pane size without breaki

[2019-07-26 13:02] DerGary commented on #666
I was also sceptic about the signup date. But I did not provide any confidential information and I also won't do that in a public forum. But thanks for your concerns @adrientetar and @Felix-Dev. I would also be happy if @micahl would clarify that account.

[2019-07-26 13:11] jevansaks commented on #666
I was giving @ambigulous the benefit of the doubt as well but their account isn't associated with the Microsoft org on GitHub so now I'm suspicious too.  @ambigulous can you email me so we can get this sorted out?

[2019-07-26 16:46] michael-hawker commented on #590
@teaP I noticed the TabView doesn't appear to have an `ItemClick` event like ListView has.  This would be useful for the Ribbon implementation for collapsing the view as called out [in this comment](https://github.com/microsoft/microsoft-ui-xaml/issues/168#issuecomment-453719874).

[2019-07-26 18:12] #1098 closed

[2019-07-26 18:57] licanhua opened #1108 "Proposal: Supports application e2e testing in Xaml framework"
# Proposal: Supports application e2e testing in Xaml framework

## Summary

[Appium with WinAppDriver is suggested](https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2019) to do UI automation testing. There are two restrictions:
1. Test stability. Selenium kinds of framework depends on manual 'sleep'. If you write a swipe gesture test, maybe 1/10 failed

[2019-07-26 19:17] micahl commented on #666
@DerGary, i've reached out to the folks with whom I've been communicating and will update once I know.  fyi, we do have an internal issue tracking the request to backport to 1809 that is going through review.

[2019-07-26 19:44] touseefbsb opened #1110 "Proposal: AutoSuggestBox with SelectedItem property"
I have a pretty simple and straightforward **feature proposal** so will keep it brief. There should be  **SelectedItem** and **SelectedIndex** property on **AutoSuggestBox** along with **ItemFocusChanged** and **SelectionChanged** events. There can be many use cases where we want to do custom stuff with the suggestion list so these basic collection properties and events will help a lot in that reg

[2019-07-26 20:02] Ambigulous commented on #666
I am properly linked now.  Sorry for causing doubt, but it is good to see the high level of caution  :)  Yes 1809 is an old version of Windows but it is still supported.  That is the work I am involved in, providing security/functionality/reliability updates to in-market versions of Windows, via Windows Updates.

[2019-07-26 20:05] jevansaks commented on #666
Thanks @Ambigulous!!

[2019-07-26 20:07] DerGary commented on #666
@Ambigulous are you sure you are properly linked? Github does not show me that you are a member of the microsoft organization?

[2019-07-26 20:09] adrientetar commented on #666
One thing with GitHub is organization memberships aren't public by default, you have to go to that organization page and hit the lock icon next to your alias in the members list.

[2019-07-26 20:10] jevansaks commented on #666
It takes a little while for that card in the activity feed to show up, but I confirmed on the internal site for linking accounts that @Ambigulous is a Microsoft employee helping out with servicing this fix. :)

[2019-07-26 20:11] micahl commented on #666
Yep, we're all good.  Thanks everyone!

[2019-07-26 20:44] #757 closed

[2019-07-26 21:14] mdtauk commented on #1080
Many applications have pull out panels that dock to the sides of the app window, but also can be pulled out into floating Windows

[2019-07-26 21:57] mrjfalk commented on #959
Can confirm this as well, I just spent a long time trying to figure out why my autosuggestbox didn't work, as mentioned rolling back to 2.1.18... fixes it.

[2019-07-26 23:14] chigy commented on #1054
### Status update
Upon further examination of the system with design team, we are adding ghost style to the list of styles. I'm still waiting for the comp from design to add it before the review.

[2019-07-26 23:33] mdtauk commented on #1054
Ghost Style.  Is that a new name for the outline style, or is this something new and different.

[2019-07-26 23:50] chigy commented on #1054
@mdtauk ,
Ghost style is something that we identified used for shell and Edge. Hopefully I can update the comp soon (Monday for sure). Naming could change, that's what design team calls it so I'm just using it as is for now.

That's the idea. As soon as I get this proposal approved, we will move onto the guidance/spec piece where you will see those definitions.

[2019-07-26 23:55] chigy commented on #1079
In theory, we agree with the question that we probably don't need these added padding anymore with changes happening with the visuals. That said, in practice, there could be a consequence by doing so, one question I have is if it would look nice with the focus rect. And this is not a priority so we will address it when we have a chance. I'll add this to the visual change backlog.

[2019-07-27 00:02] chigy commented on #1054
### Status update
Ghost comp added

[2019-07-27 14:50] mdtauk commented on #1054
@chigy so Ghost is basically a **Borderless** style, to go along with Outlined, Filled, and Accent Filled styles.

But no text decoration or accent colour as with the hyperlink button.

[2019-07-27 14:53] mdtauk commented on #1079
@chigy the Xbox shell already had a focus visual that extends beyond the bounds of the control.  I think there is precedence there

[2019-07-27 17:54] duke7553 commented on #920
# Expanded Documentation of Color Usage
Great work on these mock-ups @mdtauk . Even if there aren't any improvements to the Light and Dark theme colors at this time, I think it would benefit the community (and internal Microsoft developers) to have clear documentation on the following aspects:

- **What background colors should be used for the dark theme?** It's understood that a "one size fits al

[2019-07-27 19:37] robloo commented on #735
I ran across a strong need for this as well. When selecting a date close to today the calendar flyout selection works fine. However, when the date is say 10 years before present, that requires a lot of clicks in the calendar flyout. Additionally, those clicks are not 100% intuitive for all users (navigating back to decade view, etc.).

The ability to type in a date directly will be extremely usefu

[2019-07-27 19:45] robloo commented on #918
I definitely think this is needed if for nothing more than to allow directly typing into the control as an alternative to selecting from a flyout. With a keyboard typing '7' [tab] '58' [tab] [up] to select 7:58pm would be a lot quicker and useful for desktop scenarios.

[2019-07-27 20:00] robloo commented on #483
I think Microsoft is going to have to consider biting the bullet on this one and fully implementing a conversion mechanism between .net cultures/localization (CultureInfo) and native/WinRT. Ideally you would not be considering a new way of doing things:

![](https://imgs.xkcd.com/comics/standards.png)

I think managed code is what the majority of LOB apps are written in and this needs to be done c

[2019-07-29 01:53] Poopooracoocoo commented on #1054
Ghost complicates everything. How will users know what is a button and what is text?

[2019-07-29 10:15] MartinZikmund commented on #920
I really like this proposal 👌 . The suggested sets of color are more pleasing to the eye. The original "all white" and "all black" were too strong - and apps did look a bit too simplistic and less polished and I am aware many developers manually adjusted their defaults.

Definitely I am all in for consistency across the board, especially for first party apps 😊

[2019-07-29 12:57] sharpninja commented on #1045
LONG time WinForms, WPF developer here with some UWP experience.  Here's my 2 cents:

## Migration
* A tool to migrate existing UWP apps to WinUI is a must.
* A tool to convert WinForms or WPF controls to WinUI controls in an existing app would be beyond awesome.  By convert the controls, I mean change the references in the container to the individual controls.
* A tool to migrate Xamarin Forms to

[2019-07-29 13:41] touseefbsb commented on #1045
all of these templates and pages etc are already being done in Windows Template Studio project, why not follow the same route instead of recreating all of it ?

[2019-07-29 15:57] chigy commented on #1079
@mdtauk , can you point out where this is seen?

[2019-07-29 16:03] petroemil commented on #1045
**SDK Style project file**
One of the most important bit I'd like to see - as many others have also mentioned - is the support for the new SDK Style project file format for both UWP and "Desktop XAML" apps.

**Migration between UWP and Desktop XAML app models**
If we start to build a "Desktop XAML" app, how far will it be from a UWP app? Will it be trivial to turn it into a UWP app later on if we

[2019-07-29 16:22] mdtauk commented on #1054
The guidance will help decide when each should be used, as will the apps that use that style - acting as best practice examples.

**Edge's uses...**
![image](https://user-images.githubusercontent.com/7389110/62063771-72bb7c80-b223-11e9-89a5-cb982d654868.png)

**UWP uses**
![image](https://user-images.githubusercontent.com/7389110/62064320-7ef40980-b224-11e9-9aa6-965ca1c0b4b3.png)
![image](https://

[2019-07-29 16:36] mdtauk commented on #1079
![image](https://user-images.githubusercontent.com/7389110/62065629-4ace1800-b227-11e9-89b6-4ff3ecc013df.png)

I added some lines to this screenshot.  You see the controls are lined up, and the Focus Visual appears around the outside of the control

[2019-07-29 19:27] vsfeedback opened #1114 "XAML Compiler Error WMC9999 related to C# code (not XAML) - very odd"
1. Create a new UWP 'blank' app -- any Windows SDK version.
2. Add the following to MainPage.xaml.cs inside the class MainPage:

[code]

3. Try to build. Receive, as a reward:

[code]
If you remove the 'Foos' property, or remove either overload in class 'Foo', the error disappears.

Odd, eh?

This is VS2019 16.1.5. I didn't have this issue before now, though I admit I've upgraded VS2019 a few time

[2019-07-29 19:48] SavoySchuler commented on #33
I'll be taking this again to pitch to refine the scope once more. @niels9001, @ChainReactive, and @mdtauk, were any of you _**needing**_ collapsible or multi-tiered groups for a published or in production app? Or are these two features properly labeled as a "could"?

[2019-07-29 19:59] Nirmal4G commented on #1045
I'm with Template Studio support.

[2019-07-29 20:02] niels9001 commented on #33
I personally would be fine with a simple implementation, that lets me group certain items. And a styleable groupheader.

Collapsing and multi-tiered groups would be a nice-to-have!

[2019-07-29 21:07] SavoySchuler commented on #33
Re-pitched and marking "multi-level/hierarchical groups" as a requirement "won't" due to Flyout + TreeView solving same scenarios more capably (noting this capability could be due for a refresh via a separate proposal).

I am ready to revisit spec writing, but will be blocked on a dev resource commitment until a validation partner is located. @Niels9001, @ChainReactive, @mdtauk, could any of you p

[2019-07-29 23:34] mdtauk commented on #33
@SavoySchuler Can't cite an app specifically, but the Fluent Web ComboBox supports it, so that would bring parity, but there is also the Ribbon, which has headered sections in drop downs, and a UWP Ribbon has long been on the "coming soon" ticket.

![image](https://user-images.githubusercontent.com/7389110/62089532-40c90b00-b261-11e9-9254-94c7f91653c3.png)

![image](https://user-images.githubuserc

[2019-07-29 23:35] mdtauk commented on #1045
Does Template Studio support XAML C++ projects?

What Template Studio is doing, should be part of the WinUI SDK IMO

[2019-07-30 00:13] chigy commented on #1079
@mdtauk , thank you!

What you are showing, though, the focus rect is still flesh with the control border so they do not leave gaps whereas if we have a focus rect on flyout without the padding, there's going to be some gap between the flyout and focus rect.
![image](https://user-images.githubusercontent.com/22958680/62091029-e78eb680-b223-11e9-80ff-29310717986a.png)

Talked with the design team a

[2019-07-30 00:53] mdtauk commented on #1079
I don't think the focus rect looks too bad extending outside of the Flyout

![image](https://user-images.githubusercontent.com/7389110/62092381-dc13ad80-b26c-11e9-852b-dcc45d0023b2.png)

[2019-07-30 00:56] chigy commented on #1079
@mdtauk , you missed the one in question. Please put the focus on the item that is actually rounded...

[2019-07-30 01:00] mdtauk commented on #1079
In the bottom example, the top item is rounded.  The focus rectangle remains squared off as is the guidance.

[2019-07-30 04:38] Nirmal4G commented on #1045
Should be a part **Visual Studio IDE** IMO! 😎

[2019-07-30 05:03] SavoySchuler commented on #33
Awesome.

Two customers direct messaged me to let me know they are planning to use this feature in their apps. As soon as I've wound down NumberBox, and as per the advice from @mrlacey, I will complete the first draft of the spec prior to publishing it on the spec repo - that way there's no time lost guessing what's an oversight vs. what's in-development. Until then, I welcome API, behavioral comp

[2019-07-30 15:45] mdtauk commented on #33
**ComboBoxGroup** - A XAML element with a header property containing ComboBox Items

**ComboBoxGroup.Header** - Item that can not be hovered or selected, but is a header for grouping items

[code]

ComboBoxGroup should probably be designed to allow developers to derive from it, and create their own Groups with logic as they need.

Because the ComboBox uses a Flyout to display its contents, perhaps

[2019-07-30 15:52] vsfeedback opened #1117 "Visual Studio 2019 16.1.1 Remote Debugging failed (UWP)"
When I try to debug Remote from Windows 1903 to WIndows 1709 or 1803 the App failed on start with the current VS 2019 16.1.1. Local Debugging worked on both machine with same Code.
This Error is thown:
&quot;Cannot deserialize XBF metadata type list as 'XamlControlsResources' was not found in namespace 'Microsoft.UI.Xaml.Controls'. [Line: 0 Position: 0]&quot;

When I enable native toolchain this E

[2019-07-30 17:55] touseefbsb commented on #1045
guys the point is windows template studio is doing an all in one stuff for UWP project creation so keeping that in mind if something is missing like xaml c++ support, we should considering adding that to windows template studio, I think it will be faster and more efficient if all new innovations in uwp projects remain in one project.

[2019-07-30 21:23] robloo commented on #1076
I agree with @michael-hawker. Please don't add the ability to edit the TextBlock -- it is not the use case of this control. TextBox is the control to use when you want to edit text. That is a pretty fundamental concept all the way back from the WPF days.

The functionality you are looking for can be done with the TextBox, new styling and changing from IsReadOnly on the DoubleTapped event.

[2019-07-30 21:46] shaggygi commented on #1076
I know this is a separate issue, but it would be nice for the TextBlock to get a Selectable (or similar) property.  There have been many times we needed to be able to just highlight and copy the text to paste info in emails or elsewhere.

[2019-07-30 21:48] mdtauk commented on #1076
@shaggygi  You mean **IsTextSelectionEnabled="True"** - It exists.

[2019-07-30 21:53] shaggygi commented on #1076
@mdtauk   > You mean IsTextSelectionEnabled="True" - It exists.

I didn't think this was in WPF?  Anyways, I'm glad it will be in WinUI.  Thanks for pointing this out.

[2019-07-30 21:57] mdtauk commented on #1076
WinUI 3.0 is about UWP XAML - WPF controls are part of [dotnet](https://github.com/dotnet/wpf).

If its not part of the WPF TextBlock, you should probably propose it in that repo.

[2019-07-30 22:24] chigy commented on #339
@yulikl , did any documentation or sample app get updated as a result of this feature? I'm not seeing the indication of it and I feel the keyboard guidance might need some additional info added? (Sorry if this was the same one you already updated... :|)

[2019-07-30 22:25] chigy commented on #98
@LucasHaines , pinging again as I have not heard about the documentation update.

[2019-07-30 22:26] chigy commented on #563
@YuliKl , I am not seeing any mention of documentation or sample. Does this require update if so was that done?

[2019-07-30 22:29] YuliKl commented on #339
@Chigy - Xaml Controls Gallery now shows the correct behavior. I updated the (Popup UI)[https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-interactions#popup-ui] section of the keyboarding doc to talk about cycling.

[2019-07-30 22:35] chigy commented on #339
Moving to archive.

[2019-07-30 22:37] YuliKl commented on #563
@Chigy, I don't believe this requires any doc updates. The new behavior should light up in the Controls Gallery once we switch to using a newer version of WinUI. I don't see anything in the (NavigationView article)[https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview] discussing the old behavior. I feel like this is a bug fix.

[2019-07-30 22:39] mdtauk commented on #563
@YuliKl  Do the images need updating?

[2019-07-30 22:41] YuliKl commented on #563
@mdtauk, which images?

[2019-07-30 22:48] mdtauk commented on #563
@YuliKl  Any docs images showing the Left Minimal pane, with the Back Button alterations - or mentions of the fact the Back Button in that state will hide the pane?

[2019-07-30 23:02] YuliKl commented on #563
@mdtauk, I don't see any images of the pane opened in Minimal mode, which makes me believe there are no images to update.

It's true that in this state, the back button will always perform a close action, never a back navigation. But I honestly feel like this is a very small nuance that will 1) feel natural to users and 2) will not require any action by app developers. So I don't see any value in

[2019-07-30 23:03] mdtauk commented on #563
And I assume one the pane is closed, the normal Back Button will be visible, and behave like it should, navigating back?

[2019-07-30 23:05] YuliKl commented on #563
Correct.

[2019-07-30 23:21] #124 closed

[2019-07-30 23:21] #197 closed

[2019-07-30 23:21] #386 closed

[2019-07-30 23:39] chigy commented on #1054
### Status update
Based on team pitch review, this item is being tabled for future release and I'm bringing the #953 so we can have the border removal in the WinUI2.2 timeframe. This proposal is going to be a bit more lengthy than what we could do in that timeframe.

[2019-07-30 23:42] chigy commented on #953
### Status update
Re-opening this because more systematic update to the button (#1054) was tabled but we still want to do the visual update to remove the border during hover state in WinUI2.2 to bring the design more in line to be more coherent and familiar.

[2019-07-30 23:45] chigy commented on #839
### Status update
Since #953 was approved, doing this change in tandem would ensure system stays intact for coherent design. Reaching out to engineering to ensure this can be done in time.

[2019-07-31 00:08] ylluminate opened #1119 "Discussion: How to reach UI/UX decision makers at Microsoft to discuss Universal Keybindings?"
How can I get in touch with folks at Microsoft who make decisions about keybindings and such UI/UX issues?  I need to have a conversation with them...

As a long term Windows AND macOS (and *nix) user (over 30 years), I have some important feedback that has never seemed to reach anyone through normal feedback channels.

Apple arguably has most cohesive and well-defined user experience / UI model a

[2019-07-31 01:40] llongley commented on #959
Should be fixed by https://github.com/microsoft/microsoft-ui-xaml/pull/1116 - thanks!

[2019-07-31 01:40] #959 closed

[2019-07-31 19:58] michael-hawker commented on #1108
🦙 @hassanuz as FYI for WinAppDriver.

[2019-07-31 21:19] michael-hawker commented on #1080
@verelpode would you mind summarizing the problems you have with GridSplitter as a [new issue](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/new) for the toolkit?

I've been wanting to make some improvements along with an alternate type of splitter I created for XAML Studio, but I haven't had a chance to work on them.

@jevansaks should there also be an issue here in WinUI abou

[2019-07-31 23:36] mdtauk commented on #1054
Pushing forward with thinking through the Outlined button style.

### Toggle Button

![image](https://user-images.githubusercontent.com/7389110/62253580-4738bd80-b3ee-11e9-91e8-391967734fbf.png)

Here are some rough initial thoughts.  I made some changes to the existing Filled and Accent button styles, as well as came up with an idea for the Outlined and Ghost Styles.

- With Accent style being ma

[2019-08-01 00:57] DmitriyKomin opened #1122 "C"
**Describe the bug**
Xaml's UIElement.CharacterReceived event includes only 1 byte of data (via CharacterReceivedRoutedEventArgs.Character, which is a 2byte "Char" IDL type, but Xaml erroneously truncates the data to the 1 lower byte).

This is in contrast to the analagous CoreWindow.CharacterReceived event which passes the 2byte UTF16 value (via CharacterReceivedEventArgs.KeyStatus).

Attached ap

[2019-08-01 07:15] jordui commented on #1080
@verelpode Floating/Docked windows are a must-have and can be achieved with XamlIslands. Our users have multiple monitors when working on the desktop (and use them extensively). Desktop and mobile/tablet user interaction methods are fundmentally different.

[2019-08-01 10:04] MarkIngramUK commented on #1080
@verelpode The "Universal" part of UWP is now dead. It was a grand idea, allowing any application to run on Desktop, or Tablet, or HoloLens, but in reality - what applications would that actually work for? The huge compromises that would be required make it unfeasible to work with. We make professional desktop applications, and our users demand floating windows (and documents) and support for mult

[2019-08-01 10:08] MarkIngramUK commented on #1119
This is a decision for application developers themselves, Microsoft does not force keybindings on developers (though they do issue [guidance](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/dnacc/guidelines-for-keyboard-user-interface-design)).

[2019-08-01 13:50] verelpode commented on #1080
@jordui

I'm confused by your comment.  Did you accidentally say XamlIslands instead of some other tech?  XAML Islands are not for the purpose of creating floating nor docked windows.  XAML Islands are for the purpose of using UWP Controls (especially WebView and InkCanvas) in older WPF apps.  XAML Islands are very helpful for migrating large WPF apps to UWP.  We're using XAML Islands in the migra

[2019-08-01 14:13] MarkIngramUK commented on #1080
@verelpode,

No, but with Win32 (or WinForms / WPF) and XamlIslands you can achieve modern UI and floating Windows, prior to the AppWindow API in UWP.

Thanks - our 3 apps are already in the store, so I'm pretty familiar with it :-)

No :-)

The point I was trying to make is: If your customers want floating windows, use them, if they don't, don't use them. But that decision shouldn't be dictated b

[2019-08-01 14:50] verelpode commented on #1080
@MarkIngramUK -- UWP's ability for multiple windows is not new.  I mentioned [ApplicationView](https://docs.microsoft.com/en-us/windows/uwp/design/layout/show-multiple-views) in a previous message.  ApplicationView was introduced in Windows v10.0.10240, released during 2015.  To me, your description sounded like an understandable complaint about WP8 (2014) but not UWP.

Check out this screenshot o

[2019-08-01 15:13] MarkIngramUK commented on #1080
@verelpode, yes, it will launch a new window attached to a different UI thread (and on the desktop, with a new app icon in the Taskbar).

[2019-08-01 15:26] verelpode commented on #1080
@MarkIngramUK -- and you dislike the different thread?  I agree with you.  I complained about this threading issue already in [my previous message](https://github.com/microsoft/microsoft-ui-xaml/issues/1080#issuecomment-514664194).  Thankfully jevansaks then pointed out that this issue is solved starting in version 19H1.

However, I wouldn't recommend that @JohnF38 solve his particular issue by us

[2019-08-01 16:01] JohnF38 commented on #1080
Hi everybody,
I wasn't expecting my question would trigger such an avalanche !   :)

@MarkIngramUK  : Ok understood, it's not a black/white issue.

So, let's consider a "careful" use of floating windows:
  - Do you think WinUI is actually an appropriate choice for a new 100% desktop application ?

I'm not an expert in GUI design.
Just a guy that comes from the wxWidgets world and who's wondering w

[2019-08-01 16:26] verelpode commented on #1080
@JohnF38

Definitely (except in very special cases).  When you make a new project in Visual Studio 2019, you have the choice between these project templates:
* "Blank App (Universal Windows)"
* "WPF App (.NET Framework)"

For a new app, I would definitely choose the Universal Windows template, because if you choose WPF, then you'll suffer the burden of having to migrate your WPF app to Universal W

[2019-08-01 17:04] jordui commented on #1080
An interesting discussion. Thanks all. :)

[2019-08-01 17:12] verelpode commented on #1080
@michael-hawker

OK, I've opened [issue #2976](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2976).

[2019-08-01 17:17] mdtauk commented on #1080
Have you taken a look at the **Windows.UI.WindowManagement.AppWindow**
API, it creates a window, I believe on the same thread.

[Building powerful desktop and MR applications with new windowing apis](https://www.youtube.com/watch?v=hZU0HDTI-zs)

[2019-08-01 17:36] jesbis commented on #1009
We created the [Shadow](https://docs.microsoft.com/uwp/api/windows.ui.xaml.media.shadow) base class so that we could theoretically implement ```<DropShadow />``` in the future. That's definitely something we should consider for future releases but it would have to be after WinUI 3.0.

[2019-08-01 17:50] verelpode commented on #1080
Re the comments about docked windows, note that `AppWindow` is unnecessary for creating a so-called "window" in a docked state.

### Dock + Auto Hide:
 If the "docked window" should be temporarily shown when a "docking tab" is clicked, meaning like the "Dock" + "Auto Hide" options in Visual Studio, then this effect can be achieved by using [Flyout](https://docs.microsoft.com/en-us/windows/uwp/desi

[2019-08-01 18:58] LucasHaines commented on #98
@chigy The documentation went live when the Nuget packaged was released. https://docs.microsoft.com/en-us/windows/uwp/design/style/spacing

[2019-08-01 19:37] chigy commented on #98
Moving to archive

[2019-08-01 19:43] ryandemopoulos commented on #768
Unassigning myself for now; will keep this active to see if others the community jump on this Issue and have other ideas/comments to contribute.

[2019-08-01 19:55] reli-msft commented on #768
Most complains about lacking LCD AA comes from China and Japan —— due to the complexity of the geometries in their  writing system. These complains are written in their native languages, not English. Most of them are really vague complains about text not “being clear enough” or “being beautiful enough”. It needs a lot of work to identify *exactly what* caused their complain.
PC market has been sta

[2019-08-01 20:02] mdtauk commented on #768
Without being able to see the rendering code, none of us know what would be required to implement ClearType with WinUI Xaml.

There will be some devices and screens where ClearType should revert to greyscale anti-aliasing - but where a standard screen can use ClearType effectively - it probably should.  It could even be made a display setting:
☑ **Use ClearType™ for application text**

[2019-08-01 21:52] licanhua opened #1123 "Proposal: RN-Windows feature: caretHidden property for TextBox"
# Proposal: caretHidden for TextBox
Feature Parity with Android and iOS for [carethidden](https://facebook.github.io/react-native/docs/textinput#carethidden)
If true, caret is hidden.
RichEditBox has RichEditBox.TextDocument.CaretType provides similar control, but TextBox doesn't

[2019-08-01 21:56] ylluminate commented on #1119
I can't see that as being true for general text editing and system tools/utilities. So there's no way to assign via the operating system that <cmd-e> also acts as the <end> key?

[2019-08-01 22:08] contextfree commented on #1080
Just to note, multiple floating windows have always been available in UWP for as long as it's been called UWP (i.e., since launch Windows 10), though the APIs and support has gotten more flexible over time. Even back in Windows 8.1 when they were still called Metro-style apps they supported multiple windows in splitscreen (which is how UWP windows still work in tablet mode).

[2019-08-01 22:23] michael-hawker commented on #1080
@JohnF38, @verelpode

If you do create a new WPF app, pick the `.NET Core` option over the .NET Framework one!

[2019-08-02 06:02] mdtauk commented on #986
I have updated my design following the proposed 4 button styles

![image](https://user-images.githubusercontent.com/7389110/62347987-8997f280-b4f3-11e9-8149-6d3b9633476e.png)

[2019-08-02 06:03] mdtauk commented on #1054
### Split Button
![image](https://user-images.githubusercontent.com/7389110/62348017-a0d6e000-b4f3-11e9-98ed-d096922a7e95.png)

[2019-08-02 06:07] mdtauk commented on #1054
Will Buttons use the Semibold font weight like Edgium and Fabric Web, as opposed to the regular weight like UWP XAML and FastDNA. as well as Hyperlinks and Body text?

![image](https://user-images.githubusercontent.com/7389110/62345126-e510b300-b4e8-11e9-8cab-1599149115c2.png)
_200% scale_

[2019-08-02 10:26] verelpode commented on #1080
@michael-hawker -- Although I can think of reasons to choose the .NET Core option over Framework, I don't know the best reason.  What's the best or most important reason?  Earlier access to improvements?

[2019-08-02 18:02] kikisaints commented on #370
Changed this issue to reflect the style of a pitch... so I can pitch it 😄

[2019-08-02 18:05] kikisaints commented on #84
Updated this issue to be more pitch-pleasing.

[2019-08-02 18:10] mdtauk commented on #370
What about having a **Width** and **Height** for each Rating Icon, so someone could swap out the Font Glyph for a Path or SVG, and the same property would apply.  There could be lightweight styles for the Selected and Unselected Icons, so instead of a colour change, you could have a hollow and filled icon?

Also, as there is a behaviour which resizes the Icons on hover, perhaps you should also hav

[2019-08-02 18:12] michael-hawker commented on #1080
@verelpode the OSS version of WPF is the .NET Core one; so yup, you'll get better access to improvements.

Also, next year when .NET 5 releases, it'll be mainly converging from the .NET Core side, so you'll have an easier time upgrading from a .NET Core project base than a .NET Framework one.

.NET Core, in general, also has improvements for packaging and performance. @azchohfi is there a good lin

[2019-08-02 18:37] mdtauk commented on #84
There is a plan to move away from 2 px border thickness values, so how would this affect reveal borders on the various controls?

[2019-08-02 18:58] kikisaints commented on #84
I believe we're moving from 2px to 1px borders, on items that have borders today. So this *shouldn't* affect Reveal approach/border effect. Controls with borders and border Reveal will behave as they do today, post 2px changes, as far as I know. @chigy to confirm.

[2019-08-02 20:18] kikisaints commented on #370
@mdtauk, I like this, but for the purpose of this proposal, I think enabling svgs is a bit out of scope. However, I will add items around the being able to set the max size for the hovered item - I think that falls within the scope of this.

[2019-08-02 20:21] mdtauk commented on #370
Fair enough, Max hover size and normal size, with font glyphs is a good start.

[2019-08-02 20:35] jwoo-msft opened #1125 "Hyperlink consumes hit-testing in an unexpected way"
**Describe the bug**
Hyperlink's hit testing bounds seem strange when used as the first inline in a TextBlock with TextAlignment="Right"

**Steps to reproduce the bug**
When using this markup:

        <TextBlock TextAlignment="Right">
            <TextBlock.Inlines>
                <Hyperlink>
                    Test
                </Hyperlink>
                <Span>content</Span>
            <

[2019-08-02 21:28] azchohfi commented on #1080
I recommend this presentation on Channel 9: https://channel9.msdn.com/Shows/On-NET/Supporting-Windows-Forms-and-WPF-in-NET-Core-3

[2019-08-02 21:31] chigy commented on #1054
No, we plan on keeping it on regular.

[2019-08-02 22:01] chigy opened #1126 "Proposal: Improve reveal visual"
# Proposal: Improve reveal visual

## Background
During pitch process for #1054, I was requested we track "reveal all up" topic as a new GitHub item.

## Summary
Reveal is a unique to Windows experience that was introduced with Fluent. As we were re-evaluating the visual updates, we wanted to improve the reveal visual on some controls to more in line with cleaner look that the rest of the control

[2019-08-02 22:03] chigy commented on #1054
### Status update
Created #1126 to cover the topic of reveal and removed it from this proposal.

[2019-08-02 22:57] chigy commented on #84
Very interesting... I just opened #1126 which originated from design team's desire to remove border reveal. We did notice some controls were no longer showing the reveal and it was actually what design wanted happen. So let's figure out the output we need. It is possible this might not be needed or maybe not exactly the same way we used to have it...

[2019-08-02 22:58] mdtauk commented on #1126
Initial thoughts, anything that interacts with a click, should have reveal.

**_TextBox_**
![image](https://user-images.githubusercontent.com/7389110/62401682-1c7c6f80-b57c-11e9-8426-e21ad301710a.png)

Edge UWP uses reveal on the 1px border around the Address Bar.  This could be expanded to all Text Box and Form Picker controls

----

**_Button_**
![image](https://user-images.githubusercontent.com

[2019-08-02 23:03] chigy commented on #1126
@mdtauk , the proposal wasn't clear (since we don't have a firm plan yet), but the direction our design team is going for is to not have the border reveal but have just the spotlight effect. Though I am not sure if it should be just for light theme since dark theme seem to do this well. I've opened this item to track ideas for now so thanks for jumping on. That said, if you could explorer doing re

[2019-08-02 23:29] mdtauk commented on #1126
@chigy  I am surprised by the team asking for this.  I can't help but feel this is similar to the proposal of adding a light inner border on flyouts. #895   Helping the surface stand out in both Light and Dark themes...

One way to make the spotlight effect work in Light theme, whilst taking away the border effect - would be to either ensure no reveal controls are placed on white surfaces.

The sp

[2019-08-03 00:07] mdtauk commented on #1126
I know this darkening effect used to exist before it was removed from the light theme, but without borders, Reveal would be barely visible without it.

![image](https://user-images.githubusercontent.com/7389110/62404304-ff9b6880-b58a-11e9-85e6-cabddceb96a9.png)

[2019-08-03 02:16] jevansaks commented on #1126
We stopped doing the darkening effect in light theme because we got a lot of feedback that it looked "too gloomy" and "like a storm cloud following me". So we changed to reveal always lightening in both dark *and* light theme -- which meant that in light theme there had to be a slightly darkened base layer that could be lightened up.

[2019-08-03 02:38] mdtauk commented on #1126
If the Reveal borders are being taken away, then something will have to be done with the Outlined Buttons, or the Text Boxes and Pickers - which don't use a darkened plate.

Without pure white surfaces, the highlight may be more visible, but there has not been any progress on proposals to change the default Light and Dark Theme Resources.

[2019-08-03 11:52] be5invis commented on #491
How slow could it be? Are there any measurements?

[2019-08-03 12:00] be5invis commented on #1045
There are many big-iron C++ applications that wanted to use WinUI's functionalities to modernize its UI, but **they don't want XAML or even MVVM** — they already have something similar in their codebase.

[2019-08-03 12:04] be5invis commented on #1045
More important thing:

**Make people believe that WinUI is not a toy. It can support serious software.**

[2019-08-03 12:11] be5invis commented on #1045
Let there be some method to use the lower layer of WinUI 3's stack directly without XAML or even MVVM. This is especially useful for existing big-iron C++ software which are already have some sort of MV-whatever architecture in their codebase. They just want something better than HWND + GDI.

And, please make people think that **WinUI 3 is not a toy, it can really s upport serious softwares**.

[2019-08-03 15:49] MarkIngramUK commented on #1045
@be5invis I agree completely. The only solution right now is XamlDirect, but that’s more targeted at middleware developers.

[2019-08-03 17:22] verelpode commented on #1080
@michael-hawker @azchohfi
Thanks for the helpful video!  Re the project templates, I just checked and VS 2019 (16.2.0) does not have any project template named **"WPF App (.NET Core)"**.
* Exists:  "Console App (.NET Core)"
* Exists:  "WPF App (.NET Framework)"
* Does not exist:  "WPF App (.NET Core)"

Maybe I need to tick something in VS Installer, but I looked through the list and everything see

[2019-08-03 18:09] sylveon commented on #1045
You can manually build content with Xaml Islands already. Just get a DesktopWindowXamlSource working and attached to a window, then create and arrange/layout controls in code.

https://gist.github.com/sylveon/5bc68b2801333b24f7b3165c3f098cc9#file-picker-cpp-L46

[2019-08-03 18:52] mdtauk commented on #491
Has the idea of _Always_ Acrylic been profiled on a Desktop PC, rather than a Laptop?  Also in Tablet Mode Acrylic is just turned off, which is unfortunate.

Rather than be a live rendered Acrylic, could there be a pre-rendered version, just taking the Background colour - which Tablet Mode could use, as well as inactive windows?

[2019-08-04 08:27] PedroLamas commented on #543
Just checking, but is there any update on this issue?

[2019-08-04 10:09] andreinitescu opened #1127 "Proposal: Documentation - Show derived classes in a consistent and simpler way"
# Proposal: Documentation - Show derived classes in a consistent and simpler way

The UWP documentation shows the derived classes at the end of the **Remarks** section:

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.primitives.buttonbase#remarks

Sometimes it's even harder to get to it, because it's after some subsections within the **Remarks**:
https://docs.microsoft.com/en-us

[2019-08-04 12:13] be5invis commented on #1045
@MarkIngramUK They may need something more “complete”, like replacing `CreateWindow` with WinUI functions.

[2019-08-05 12:13] DerGary commented on #666
@Ambigulous was the information I provided sufficient for your business case?

[2019-08-05 16:29] michael-hawker commented on #1080
@verelpode they're still rolling in support as .NET Core 3 isn't set to release until the end of September.  I think the project templates show up once you install the .NET Core 3 SDK that or it requires the VS 2019 Preview.

@azchohfi isn't the WPF designer supported now for .NET Core?  I feel like that note is out-of-date?

[2019-08-05 17:17] mijacobs commented on #1127
I've forwarded this on to the engineering team.

[2019-08-05 17:19] jevansaks commented on #1108
@licanhua assigning this to you to refine the proposal and pitch it.

[2019-08-05 17:21] jevansaks commented on #1117
@SvetBonev If the project works locally but not remotely that points at a VS issue. Is VS deploying all dependent framework packages? I've seen that fail in the past.

[2019-08-05 17:23] mijacobs commented on #1127
We're switching over to the .NET rendering pipeline, at which point the docs will have derived type info like the WPF docs do. This work is being tracked in our internal Azure Devops database.

[2019-08-05 17:23] #1127 closed

[2019-08-05 17:26] jevansaks commented on #1119
@chigy and others put a lot of time into the keyboarding guidance docs: https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-interactions

@ylluminate assuming you agree with those keybindings (or please call out any important ones you think are missing) then is the problem just that across Windows the different apps/controls don't consistently respect them?

Personally as a heavy us

[2019-08-05 17:37] chigy commented on #1119
Hello @ylluminate,
Thank you for your feedback. Let me try to understand just exactly what you are suggesting we consider. For one, I would like to understand better what you are asking for Windows keybindings to do differently. As you may be aware, there are multiple causes that Windows keybindings might not do what exactly you want to do but I must first understand what you want which I am not c

[2019-08-05 18:07] azchohfi commented on #1080
It's on preview versions of VS, yes. But for a fully supported with stable version of VS, you need the hack with the .net framework proj. You need to enable preview versions of .net core on the preview tab on VS settings.

[2019-08-05 18:10] JustinXinLiu commented on #1079
I do like some paddings for each group sections. One of the reasons is that this way, we don't need to provide a different border style for the very top or bottom menu item. I believe this is how Material Design has done it too.

However, we should get rid of the left and right paddings.

[2019-08-05 18:35] SavoySchuler commented on #913
Conferring with @ryandemopoulos, and I want to refactor this initial conversation a little to focus on the problem (need for error UI) before the solution (any specific piece/pieces of error UI).

To this end, my first goal is to lock down the scenarios and requirements for error UI (@sapallie, your "Critical: wifi connectivity lost" scenario is a perfect start). From there, we can work together t

[2019-08-05 18:52] SavoySchuler commented on #913
I have updated the Issue to reflect this problem-focused approach and I have cataloged the requirements, scenarios, and solution possibilities described so far.

@sapallie I tried to be courteous as I could in preserving your initial work. Version history is viewable under the "edited by..." drop down at the top of the issue. Please let me know if I did not capture anything correctly.

[2019-08-05 20:20] #726 closed

[2019-08-05 21:10] fabiant3 commented on #1086
Nothing special about Style from a markup point of view, moving to FX. First suspect is metadata (somehow it doesn’t think that Button is assignable from ToggleButton).

[2019-08-05 21:11] ramaswamyranganathan opened #1128 "XAML Image control unable to render animated GIF with unsupport value for the disposal method header"
The Gif89a spec allows for values 0-7 (3 bits) for disposal method header (see Graphic Control Extension in https://www.w3.org/Graphics/GIF/spec-gif89a.txt). Even though values 4-7 don’t have assigned values, common gif decoder as well as other open source decoders fallback to 0 if the value is 4-7.

Attached are GIFs that fail to render for the above reason.

[GIFs that fail to render.zip](https:

[2019-08-05 21:30] fabiant3 commented on #543
@PedroLamas , the short answer is that the compiler does not have support for non-English cultures. But the error you are getting is not something we were expecting, so we would like to take a look at it at some point in time. Moved to Backlog for now, we appreciate you reporting this issue.

[2019-08-05 21:43] SavoySchuler commented on #913
I pitched this to the WinUI team and we believe that the functionality defined here would be capable of serving not just error messages but long-lived app-wide status messages as a whole. This includes  "update available" and "back-up complete" kind of status messages in addition to error-specific scenarios.

I have updated the issue to reflect this more holistic approach. I am hoping to finalize

[2019-08-05 23:05] kmahone commented on #1105
I would expect TemplateBinding to work in this scenario.

[2019-08-05 23:27] mdtauk commented on #1079
![image](https://user-images.githubusercontent.com/7389110/62500899-5baafa80-b7e0-11e9-8ce4-baff758e4e28.png)
![image](https://user-images.githubusercontent.com/7389110/62501046-d8d66f80-b7e0-11e9-8825-80c7ed2cc0d3.png)

_Material Design Menu_

Not sure I agree with your reasoning there.  I find the top and bottom padding to be a little distracting, it adds more visual clutter, seeing the small ga

[2019-08-06 00:18] Ambigulous commented on #666
@DerGary, yes it helped a lot, thank you!
We have already made the fix to Windows 10 1809, and is being tested. It should become available in the September 17th "Preview of Monthly Rollup" optional update.

[2019-08-06 00:31] DHowett-MSFT opened #1132 "TabView.SelectionChanged() event handler: sender is not TabView"
**Describe the bug**
In my event handler for a TabView's SelectionChanged, I am observing the `sender` to be the private inner `ListView`. This change was introduced by #971.

**Steps to reproduce the bug**
1. Use `Microsoft.UI.Xaml.2.2.190731001-prerelease`
2. Subscribe to `SelectionChanged` on a `TabView`
3. Observe that the sender is not the tab view, but instead something else.

**Expected beh

[2019-08-06 00:35] DHowett-MSFT commented on #1132
(TabView is just forwarding along the event here:)

https://github.com/microsoft/microsoft-ui-xaml/blob/40a8a80972fb8796586b4424aa1d4dd7ddeb2f1c/dev/TabView/TabView.cpp#L250-L260

[2019-08-06 01:23] DHowett-MSFT opened #1133 "TabView: the tooltip for every item is `Ctrl+F4`."
**Describe the bug**
Regardless of whether I'm hovering over the `[x]`, the tooltip for each tabview item i've put in my tabview is `Ctrl+F4`.

**Expected behavior**
The tooltip would only show above the `[x]`

**Screenshots**
![image](https://user-images.githubusercontent.com/14316954/62504555-efaf9e80-b7ad-11e9-9ab2-72625d8f8df1.png)

**Version Info**
`2.2.190731001-prerelease`

[2019-08-06 02:07] dpaulino commented on #1002
Hey all, any updates on this issue? Let me know if I can help determine root cause. My customers have been asking for drag and drop in my app for 3 months now and this issue is blocking me.

[2019-08-06 07:49] PedroLamas commented on #543
@fabiant3 thank you, but I think you might have missed my point here a bit: I don't expect the compiler to support non-English cultures, I expect it to always use Invariant Culture when parsing the code I write!

The problem here is that currently, **the compiler is using the user set culture to parse numbers in x:Bind expressions!**

I didn't change my code to mitigate this problem, but I had to

[2019-08-06 09:44] adrientetar commented on #913
It's worth noting that, imo, popup dialogs should be avoided if possible. The web is full of popups prompts everywhere and they interrupt the flow trying to catch your eye. For instance, I think empty status ([example](https://dribbble.com/shots/5906167-Cute-Fresh-Empty-Status)) should be preferred e.g. if something could not be loaded in a control.

With respect to the visuals @mdtauk posted, do

[2019-08-06 10:08] adrientetar opened #1134 "Proposal: KeyboardAcceleratorPlacementMode should default to Hidden"
# Proposal: KeyboardAcceleratorPlacementMode should default to Hidden

When I add KeyboardAccelerators to my Page control, I get one of the accelerators displayed in a tooltip when hovering the page[\*]. That doesn't make much sense, and I had to go find KeyboardAcceleratorPlacementMode in the docs to disable it. Afaict, it only makes sense to default enabled for clickable items like Buttons (actu

[2019-08-06 10:55] mdtauk commented on #913
Flyouts have a placement concept, this control could do the same thing.  Appears from the inner edge of a container control, be it a Page or Tab Content are, etc.

@adrientetar  Not every app is the same, so whilst there will be a default for this control, there needs to be a way for developers to change this location, without having to re-template, or re-engineer the control.

Office uses the spa

[2019-08-06 11:41] HppZ opened #1135 "LightStyling Bug"
**Describe the bug**
Normal Foreground is not correct once you move your pointer over the button for more than one time.

**Steps to reproduce the bug**
https://github.com/HppZ/LightStylingBug

[2019-08-06 11:48] mdtauk commented on #1126
I have started making a Figma file, for my various control designs I have been making over the past few months, and I came up with another idea for the reveal effect.

Probably out of scope as the request is to lose the borders, but I thought I would share it anyway.

![Reveal Ideas 2](https://user-images.githubusercontent.com/7389110/62537487-68633900-b848-11e9-8027-4b2e58c3b97d.png)

Inner and o

[2019-08-06 13:06] Felix-Dev commented on #1126
I'm a fan of the border reveal effect and as @Chigy said it works just fine in Dark mode (it actually adds visual beauty to the UI without negative side effects, such as distraction). @chigy Can you please tell us why the Design team feels they have to remove the border reveal effect?

[2019-08-06 15:55] Skynet094 opened #1136 "Need workaround for removing Shadow from controls for project built with SDK version < 1903, but project deployed to devices running Windows 1903"
Hi, I am trying to remove shadow from a CommandBar, that initially did not have any MenuFlyout for the OverflowButton (More-button), it had SecondaryCommands, however there was this issue of shadow  around the pop up, as the Popup is has a large corner radius (26px) it looks bad with shadow. So we don't want it.  Also, we have several content dialogs, from which we were able to remove the shadow f

[2019-08-06 16:53] #724 closed

[2019-08-06 18:09] fabiant3 commented on #543
Thank you for the clarification @PedroLamas, that makes sense. A long time ago, the compiler used to support non-English cultures, but since then we switched it to invariant culture. It sounds like we still have some reminiscent issues in that space. We'll take a look as time permits.

[2019-08-06 18:21] adrientetar commented on #1136
Isn't that what [conditional XAML](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-xaml) is for?

[2019-08-06 18:54] kaiguo commented on #1002
Looking at it now...

[2019-08-06 20:17] DHowett-MSFT commented on #1020
I'm not seeing this any more.

[2019-08-06 20:21] kmahone commented on #1082
I cannot reproduce this issue (or the crash #890) on my desktop machine (with a Dell touch monitor) or on my Surface Pro 4.

I CAN reproduce this issue (but not the crash) in the Simulator using the mouse simulated as touch input. But using real touch input in the Simulator does NOT reproduce this issue.

@Sergio0694 did you ever hit this issue on a real device? Or has this only been seen in the S

[2019-08-06 20:31] Sergio0694 commented on #1082
Hi @kmahone - thank you for the follow up!
So, I haven't been able to personally repro this on a real device, as I don't actually have a Windows 10 device with a touch screen to test this on, but I do see hundreds of occurrences for this crash on AppCenter, plus additional reports from individual users, so I can definitely confirm that this is a real issue happening on real devices.

Here's a scre

[2019-08-06 21:26] chigy commented on #1126
@Felix-Dev , I am trying to get to the bottom of the feedback. There are a few things going on... We currently do not make theme unique. Meaning light is opposite of dark, we don't make dark theme completely different from light. So to make light theme look better, removal is one option. Another is the fact many surfaces use HTML today and it doesn't support reveal. This would be inconsistency and

[2019-08-06 22:26] kmahone commented on #1082
@Sergio0694 thanks for the info with regards to the crash.

For the problem in this issue (where the SwipeControl becomes non-responsive but does not crash), it sounds like this has only ever been seen in the Simulator? Is that correct? Or have you gotten reports from users about this problem also?

[2019-08-06 22:33] kmahone commented on #890
@Sergio0694, I am not able to reproduce this crash either in the repro app or in Legere from the Store. I tried on both a desktop machine and a Surface Pro 4.

It is difficult to determine the root cause from the call stack. But I do have a question: are you using a SwipeControl directly, or have you made a custom type that derives from SwipeControl? The callstack looks like it is calling out to m

[2019-08-06 22:47] #295 closed

[2019-08-06 23:09] xyzzer opened #1138 "Proposal: Enable pixelated scaling (nearest neighbor interpolation) in XAML"
# Proposal: Enable pixelated scaling (nearest neighbor interpolation) in XAML

## Summary
Expose a property enabling nearest neighbor scaling for bitmap images hosted in a `ScrollViewer` to make it easy to enable to view and edit individual pixels of images.

## Rationale
* This should make it much easier for drawing apps or ones like Snip & Sketch to enable pixel-perfect editing
* It might be ver

[2019-08-06 23:18] kaiguo commented on #1002
@dpaulino Some operations are async due to the way ItemSource and Layout update works, so the children collection in ItemsSource doesn't have anything yet when you try to access it.

It should work if you put the code in a dispatcher like this,

[code]

I think you can probably consider overriding OnDrop method on TreeViewItem to prevent the operation happening from the beginning instead of manual

[2019-08-06 23:26] Sergio0694 commented on #1082
Yes, that is correct. I've mainly opened this issue as I thougth it could provide additional info, but this one in particular I've only managed to reproduce through the simulator, and I haven't received reports about it. Users only mentioned straight up crashes, so what's detailed in #890.

[2019-08-06 23:36] Sergio0694 commented on #890
Hi @kmahone - that is correct, I am in fact using the `SwipeControl` through an inherited control, though I'm not actually modifying anything in particular, just adding an extra event.
This is the code for the custom control I'm using:

[code]

The reason why I'm doing this is that I'm using this control as the root control in some of my user templates, and since users in Legere can customize the

[2019-08-07 01:07] mdtauk commented on #1126
@chigy  Windows needs to find a way to expose the Accent Colours to WebViews and Edgium/PWAs.  The Windows Store defaulted to blue, because it uses mostly HTML and Fluent Web controls and styles.

Reveal is something exclusive to Windows, and because HTML is not capable of making use of it right now, should not mean removing it from the OS.

Dark and Light theme colours could do with some updating

[2019-08-07 01:18] Skynet094 commented on #1136
Conditional xaml is available for when the min version of the project is 15063. For our case it's slightly lower , 14393.

But that's not the issue, I can use ApiInformaion to know whether the property exists before applying .

Our issue is our target build version is not 1903. Where that property is exposed. But our app will run on devices that run min version to 1903 (this is where the shadow is

[2019-08-07 04:44] jevansaks commented on #1126
@mdtauk would you be able to share the effect recipe / formula you used to make the reveal effect? We've run into trouble with some of the designs in the past using effects that we can't do due to the limited blend modes we have available in Composition. Basically the "light" layer can use any effects it wants but when blending the light layer with the destination it has to be just a normal alpha

[2019-08-07 04:54] JustinXinLiu commented on #1079
I am referring to the corner radius of the context menu.

If there’s no gap, then the top most menu item will have a different corner radius than zero, same as the bottom most one.

Potentially, they could be taller than the rest of the menu items too if you ever want to give the context menu a padding.

[2019-08-07 05:07] mdtauk commented on #1079
The flyout shape would crop, so the rounded corners would come for free essentially.  I don't see the rounding being a problem personally.

Like most panel controls, the internal padding would affect the contents, I would imagine by default the flyout padding would be set to 0, so by default, they would look as they should.

This also feeds into a question I have.  At the moment, flyout menus adap

[2019-08-07 05:12] mdtauk commented on #1126
I am using simple radial gradients, the central point being where the cursor is.  White 100% Opacity > White 0% Opacity (with the same thing using black for the dark gradients, but the central point is 0% opacity and outside 100%) and just reducing the opacity on the whole border element.

I know the effect via composition is more complicated, as it is an actual point light, but when making mock u

[2019-08-07 08:46] adrientetar commented on #1136
Then the only way would be to use reflection if that works, there's no magic here.

[2019-08-07 09:26] Felix-Dev commented on #1126
This. So much this. It saddens me to see these kind of UI proposals which take away Windows' unique features because some external UI platforms are looking different. While Windows should be open to take inspirations from other UI platforms out there, ultimately, it should still follow it's own unique UI path. It's Windows after all and not Web OS.

You've said it yourself, reveal is unqiue to Win

[2019-08-07 10:04] mrlacey commented on #1123
I get that you want this for parity with other platforms but what are the practical reasons for wanting a TextBox that accepts input but doesn't show the caret?
The caret is a usability aid that indicates where entered text will be displayed. I understand that other styling or affordances may also show focus but I don't understand the desire to remove a usability aid.
This is not a criticism, I'm

[2019-08-07 11:13] grokys commented on #997
Closing this as it looks like the problem was caused by a mistake in porting.

[2019-08-07 11:13] #997 closed

[2019-08-07 13:59] Skynet094 commented on #1136
I feel like you are not getting the issue. Obviously not expecting any magic.

[2019-08-07 17:16] chigy commented on #1079
@mdtauk , We considered that and we ended up not having enough resources to implement. As far as I am aware, no user has complained to us about the sizing being an issue.

[2019-08-07 17:42] chigy commented on #1126
@mdtauk and @Felix-Dev , I hear you. Why do you think I've opened this GitHub proposal which says to "improve reveal" rather than to remove reveal?

Designing a system is complicated. There are reasons (good or bad) behind all the ideas you talk about here and I know why we do not do them. I am not saying I agree with them, but it is complicated. I try to decompose the complicated so that we can c

[2019-08-07 19:44] codendone commented on #1125
I agree this could be better.  The same problem occurs for left-aligned text which ends in a hyperlink.

For non-wrapping text, this can be worked around by instead setting HorizontalAlignment on the TextBlock, so that it will only be the size of its text and get aligned by layout.  With just TextAlignment set, the TextBlock gets the default HorizontalAlignment="Stretch", so it is the full width o

[2019-08-07 20:10] Felix-Dev commented on #1125
I'm also seeing this in the "About" dialog in the newest released Windows Terminal store version (0.3.2171.0). Checked the Terminal github and I didn't find any commit addressing this issue, so I presume it hasn't been fixed yet. Pinging @DHowett-MSFT for awareness of the described workaround by @codendone.

[2019-08-07 22:28] premiaware commented on #597
I have the same issue, has anyone found a solution?

[2019-08-07 23:04] jevansaks commented on #597
@premiaware someone recommended a workaround above, can you try this:

[2019-08-07 23:06] mdtauk commented on #1126
@chigy going back to the original request made of you, to remove the border on Reveal...

Can you offer any more information about why this request was made?  All we know is that you were asked to open a discussion on GitHub about changing the Reveal effect, with a view to removing the borders.

In the Dark theme, the light shows up in a pleasing way within the "plate" of the controls, as well as

[2019-08-07 23:11] mdtauk commented on #1079
@chigy  Compact density has not really been implemented in any first party apps, to have gathered feedback on.  But it seems a shame to allow this inconsistency to continue, because of a lack of interest or resources, the second being understandable, the former very disappointing.

The fact the selected part of the flyout is taller than the control which is summoning it, looks like a bug, rather t

[2019-08-08 07:26] premiaware commented on #597
Thank's for answer, in my sample UWP IsTabStop=True not working. if you have time to try my sample i have attached it.
click in the first textBox, scroll the view to the botton, click in the checkbox in left botton corner.
result, the view autoscroll to the top :-(
[Ricorsivo.zip](https://github.com/microsoft/microsoft-ui-xaml/files/3480376/Ricorsivo.zip)

[2019-08-08 07:55] DuncWatts commented on #597
I can't replicate this with your code, however I notice you don't have "Build" or "Deploy" checked against the AnyCPU in the Configuration Manager, so you may not have been testing the change.

[2019-08-08 08:10] premiaware commented on #597
sorry, maybe it was removed by deleting the configuration files before running the zip. but were you able to compile and start the app? following the procedure described, in your pc work? from me in 3 different PCs does not work

[2019-08-08 16:50] premiaware commented on #597
After 1 day of investigation i have found the problem, if the UWP App have Light theme all working OK using IsTabStop = true, if the App have Dark Theme the Scrollviewer not working also if i set IsTabStop = true, the sample is attached.
It is an absurd situation, If you open the App.xaml and remove RequestedTheme="Dark" the app working.

[Ricorsivo2.zip](https://github.com/microsoft/microsoft-ui-

[2019-08-08 16:58] jevansaks commented on #597
It's possible that in dark theme the background is Null, which will cause the mouse clicks to not "hit" the ScrollViewer background. Try setting the ScrollViewer's background to Transparent and see if that helps make it hit-testable.

[2019-08-08 17:05] premiaware commented on #597
i have set:
 <ScrollViewer
            Background="Transparent"
            Padding="50"
            VerticalScrollBarVisibility="Auto"
            VerticalScrollMode="Auto"
            IsTabStop="True">

but the problem is the same.

[2019-08-08 17:09] jevansaks commented on #597
Did you set the background on the ScrollViewer? Either way I tried your project on latest Windows 10 (1903) and it worked fine. Here was I did to try to repro:
1) Scroll down
2) Put focus in a TextBox
3) Click on blank space to the right side of the TextBoxes

Result: TextBox loses focus but ScrollViewer scroll position doesn't change.

Are your repro steps different? Or are you seeing different b

[2019-08-08 17:11] jevansaks commented on #1133
@kmahone can you take a look at this?

[2019-08-08 17:13] jevansaks commented on #1134
@Austin-Lamb what is the recommendation for how to set up page-level KeyboardAccelerators like this?

@adrientetar could you provide the snippet of code for how you specified the accelerator? I'm wondering if this is more of a bug than a spec issue.

[2019-08-08 17:16] kmahone opened #1142 "TabView: Middle click on tab should close the tab."

[2019-08-08 17:19] jevansaks commented on #1136
@Skynet094 can you elaborate on why you can't target 1903? Is there a limitation with your build environment?

[2019-08-08 17:21] premiaware commented on #597
you must build and run my new sample "ricorsivo2.zip"  start the APP.
- SET THE FOCUS in the FIRST TEXTBOX
- SCROLL DOWN to the botton
- Click on blank space or click the checkbox in the left, botton corner.

result: the scroll auto return to the top.

[2019-08-08 17:29] premiaware commented on #597
the problem is the TextBox Theme, if in the textBox i set the Light theme
<TextBox Width="200" RequestedTheme="Light"/>
All working ok!
This is not solution because my app use Dark theme.

[2019-08-08 17:40] vsfeedback opened #1143 "WPF App using ,Net Core 3 preview cannot load Microsoft.Ui.XAML nuget package"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/681541/wpf-app-using-net-core-3-preview-cannot-load-micro.html)._

---
Just updated VS 2019 Enterprise to latest 16.2.1. Have latest .Net Core 3.0 preview.
Tried to add the Microsoft.UI.XAML nuget package but got an error displayed just above the Manage Packages dialog read

[2019-08-08 17:44] adrientetar commented on #1134
@jevansaks, I just wrote my accelerators in `<Page.KeyboardAccelerators>` in the Page XAML.

[2019-08-08 17:45] Felix-Dev commented on #741
@Mike-EEE In case you haven't noticed it yet, seems like this work item was done in Win 10 Preview SDK 18950!

[2019-08-08 17:53] chigy commented on #1079
@LucasHaines to comment on the fact compact density entry point would open up non-compact one causing the sizes to be inconsistent. Do we have a backlog on this or is this intentional?

[2019-08-08 17:57] chigy commented on #1079
@mdtauk , I understand. However we do not have unlimited resources so we need to prioritize our work. We do try to prioritize things customers see often and are commonly used first. And we know the Date/Time picker is not used very much by our customers so we cannot justify spending a lot of time on it.

[2019-08-08 18:14] adrientetar commented on #1133
In Edge & Chrome, the main shortcut to close tabs is Ctrl+W so why not make that one the default? Also, the tooltip when hovering the close button should really say "Close Tab (Ctrl+W)" but maybe we want to wait for #389 for that.

[2019-08-08 18:28] kaiguo opened #1144 "Control border thickness checklist"
Checklist to track border thickness changes.

* Basic Input
  - [x] Button
  - [x] Checkbox
  - [x] DropDownButton
  - [x] RadioButton
  - [x] SplitButton
  - [x] ToggleButton
  - [x] ToggleSplitButton
  - [x] ToggleSwitch

* Text Input
  - [x] AutoSuggestBox
  - [x] PasswordBox
  - [x] RichEditBox
  - [x] TextBox

* Pickers
  - [x] CalendarDatePicker
  - [x] ComboBox
    - [x] EditableComboBox

[2019-08-08 19:43] premiaware commented on #597
Finally i have fix the problem, changing Template now working ok!. Thank's for support.

[2019-08-08 21:16] mdtauk commented on #1144
I am guessing the Figma file is an internal one.  Clicking the link just brings up a 404 error for me.

[2019-08-08 21:30] dpaulino commented on #1002
I will try the OnDrop method, and I'll report back soon.

[2019-08-08 22:19] mdtauk commented on #1079
I understand why, but it is still unfortunate.

[2019-08-09 00:13] chigy commented on #1079
@mdtauk , what you could do if you want to make a difference here and any other issue like this is if you could make a case from usability perspective. Inconsistency sometimes cause usability issues. Those are types of issues that is easier to get traction than a small annoyance. I know that small issues become a bigger annoyance (thousand paper-cuts) but we have to start somewhere... And if we ar

[2019-08-09 00:41] chigy commented on #1037
@Yakehira , what's the reason why you are adding the shadow to AutoSuggest control? We intend the ThemeShadow to be used for transient UI to receive attention of the user to get quick action but not intended to used for this type of UI and thus not designed to work well. https://docs.microsoft.com/en-us/windows/uwp/design/layout/depth-shadow

[2019-08-09 01:55] mdtauk commented on #1079
@chigy  I don't have the data to put forward a detailed case, other than the fact it visually looks like a bug, and is inconsistent to other controls which both adapt to touch/cursor input, and Compact Density.

ComboBox flyouts are larger when you use a touch screen to make it drop down, compared to using a cursor.
Calendar, Date and Time Pickers, do not, and perhaps they should.

The design of t

[2019-08-09 12:59] mdtauk commented on #913
The Your Phone team have one of these kinds of controls, so maybe you could ask them what issues they came across, and persuade them to move to using the WinUI control when its done and included?

![image](https://user-images.githubusercontent.com/7389110/62780575-ef651b00-baad-11e9-95b3-a1c44fa762e4.png)

[2019-08-09 16:05] chigy commented on #1079
@mdtauk , I am not debating it is indeed a bug or something we *should* fix. I am letting you know that we do not have the resources to fix everything so we use the severity and data to make a call. In this case, this issue does not meet the bar. However as you mentioned, if we do the other proposals, then this should be considered. You should mention this bug in the other 3 proposals but I cannot

[2019-08-09 17:17] Mike-EEE commented on #741
Wow, @Felix-Dev that's pretty cool!  Thank you for the update. @alwu-msft are you able to officially confirm/comment?

[2019-08-09 18:00] stefankueng opened #1146 "Hover animations don't work if FocusVisualKind is set to Reveal"
**Describe the bug**
As soon as the FocusVisualKind property is set to FocusVisualKind.Reveal the mouse-over/hover animations on at least some controls stop working. I've confirmed this with the NavigationViewItem and the buttons in the TabView control. There might be other controls affected, but I haven't tested those.

**Steps to reproduce the bug**
Create a new project, best with the "Windows T

[2019-08-09 18:19] jevansaks commented on #1143
Dupe of #295 .

[2019-08-09 18:19] #1143 closed

[2019-08-09 18:38] savatia commented on #1144
You should also add RichEditBox to the checklist

[2019-08-09 18:38] savatia commented on #1144
@mdtauk yes its internal

[2019-08-09 18:40] kaiguo commented on #1144
Added

[2019-08-09 19:04] kmahone opened #1147 "TabView: Crash if TabViewItem.Icon is unset"
Create a TabView and add a TabViewItem, with content but no Icon. TabView will crash on load.

TabViewItem's ControlTemplate includes:
<ContentPresenter x:Name="Icon"
    Content="{TemplateBinding Icon}"
    Foreground="{TemplateBinding Foreground}" />

I THINK the issue is that ContentPresenter automatically binds to ContentControl.Content unless something else is specified. So, if Icon is null,

[2019-08-09 19:20] mdtauk opened #1148 "Flyouts do not adapt to match Compact Density"
**Describe the bug**
ComboBox flyouts are larger when you use a touch screen to make it drop down, compared to using a cursor.
Calendar, Date and Time Pickers, do not, and perhaps they should.

The design of the Date and Time picker centres the flyout above the control, and so the selection matches the 32px height, so it appears seamless, as if the whole control is expanding out.

When Compact Den

[2019-08-09 19:24] mdtauk commented on #1079
Thank you @chigy, now it is considered a bug, I have submitted it as such. #1148

[2019-08-09 19:25] mdtauk commented on #925
Following a discussion with @chigy, I have submitted it as a bug.  #1148

[2019-08-09 19:29] jgrieves opened #1149 "Tooltips should be exposed even if the control is disabled"
**Describe the bug**
We have buttons that have tooltips.  The buttons are disabled because they cannot be active given the state of the UI, but users still want to know what the buttons are for (and what the keyboard shortcuts are

**Steps to reproduce the bug**
1.  Create a XAML app with disabled buttons that have tooltips
2. Hover over the button with the mouse

**Expected behavior**
Tooltip app

[2019-08-09 19:58] jevansaks commented on #1149
I think this would require disabled controls to get mouse input but it's something we've been asked to do in the past.

[2019-08-10 00:06] chigy commented on #1126
@mdtauk , feedback like what you say is the reason why I've opened this ask. The whole reason why this item is here is to discuss open issues like what you mention with the design team, but this proposal is not currently worked on today.

[2019-08-10 00:15] alanlai-ms opened #1152 "When Secondary items has too many elements, it could show up weird on a small screen device."
**Describe the bug**
Porting bug from https://office.visualstudio.com/OneNote/_workitems/edit/3546459
When Floatie is too long, the expected behavior is it opens up if there's no room.
In pre_release OS build 18956, we are noticing that is no longer the case.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. install onenote
2. insert picture
3. right click picture near bottom of

[2019-08-10 04:43] PatrickDesign commented on #569
I wasn't able to repro this issue in the newest build.  I'm running windows version 1903  -- maybe this has been taken care of?

Here's the xaml I tested this with:
[code]

[2019-08-10 08:04] andreinitescu commented on #1127
Hi @mijacobs

How can I track the status on this? Thanks!

[2019-08-10 19:17] dpaulino commented on #1002
@kaiguo can you point out exactly which "OnDrop" method I'm supposed to use? I tried the code below but the event is never fired when I drop a tree view item onto another tree view item.

[code]

[code]

Here's a branch you can clone to test out the above code: https://github.com/dpaulino/treeviewtest/tree/dropOnTreeViewItem

[2019-08-10 22:13] charlesroddie commented on #1138
Just use code instead of xaml surely? Or by xaml do you mean winui without xaml?

[2019-08-11 01:02] mdtauk commented on #1144
Could I suggest the Editable ComboBox template be fixed to remove this visual bug?

![image](https://user-images.githubusercontent.com/7389110/62828352-17529c80-bbdc-11e9-8543-f2b3be44202b.png)

[2019-08-11 02:13] CarlSharp commented on #670
Thank you for looking into this. In the meantime, is there a suggested work around for this?

Will explicitly setting TargetFramework on the project allow the package to function as expected?

[2019-08-11 06:05] dpaulino opened #1154 "Question: How to block a drop using the DragOver event in TreeView or TreeViewItem?"
I have a TreeView that contains two types of tree items, `Leaf` and `Group`.

Leaves can be children of groups.
Groups can be children of groups.
Leaves cannot have children.

Within the same tree, I want to allow my customers to reorder the tree and to move items to different groups by dragging and dropping elements. Based on the rules provided above, I need to be able to conditionally block cert

[2019-08-11 06:19] dpaulino commented on #1002
By the way, it may be possible to close this issue if this question could be answered: https://github.com/microsoft/microsoft-ui-xaml/issues/1154

[2019-08-11 14:17] duke7553 commented on #995
@jevansaks This also raises the question of why these shell flyouts still have reveal highlight when the guidelines now state "Don't use Reveal on popups, flyouts or dropdowns."

[2019-08-11 21:28] adrientetar opened #1155 "Question: Writing a custom control"
There are several ways to do a custom control and they're all pretty confusing to me. Let's say I want to make a button with some extra properties.

- Should I subclass Control and apply a custom template with a Button in it (templated control), subclass UserControl or subclass Button?

- Should I make a .xaml.cs file and a .xaml with root element Control/UserControl/Button? Or a .cs file and .xam

[2019-08-11 22:27] adrientetar commented on #1134
@jevansaks, why would this not be a spec issue, do you mean that the spec already includes the behavior that I suggest in the OP? cc: @marb2000

[2019-08-12 00:55] savatia commented on #1144
I noticed this and I believe I have fixed this:
![image](https://user-images.githubusercontent.com/11960777/62841816-1d3e9100-bc61-11e9-85b9-369882d9a110.png)
 Can you pull changes and confirm?

[2019-08-12 07:46] mdtauk commented on #1144
I had to grab your forked version of the repo, but it seems like, you have fixed it.

![image](https://user-images.githubusercontent.com/7389110/62851314-98de2380-bcdd-11e9-9457-6c7b13f587f0.png)

[2019-08-12 11:48] shaggygi opened #1156 "Question: Plans for a ReportViewer"
Just wondering if there are plans to offer a ReportViewer control?  This is mainly a question to make sure this wasn't a duplicate issue.  If not, details can be modified with more information.  Thx

[2019-08-12 14:49] fforjan opened #1157 "Question: Performance of XAML Island ?"
The typical use case is that we would like to reuse the markdown viewer… for example in our application, we have the equivalent of an error list in message windows
![image](https://user-images.githubusercontent.com/601810/62874109-7942fd00-bcd5-11e9-941c-d011f7bfee62.png)

But we would like to use the markdown viewer for the description field.

What would be the performance impact (memory/CPU) to

[2019-08-12 17:18] jevansaks commented on #1147
@teap I think the changes you're working on address this, but please take a look.

[2019-08-12 17:19] jevansaks commented on #1148
I think this was a known limitation of the density work and will require WinUI 3.0 fixes to address. Is that right, @chrisglein @LucasHaines ?

[2019-08-12 17:23] jevansaks commented on #1156
We don't have plans for such a thing. The Windows Community Toolkit has the DataGrid control now and we're looking at adding support for Flex and CSS Grid-style layouts which would enable table layouts like this very easily. Would either of those work for you?

[2019-08-12 17:34] shaggygi commented on #1156
I don't think so.  I'm thinking of a little more support for reports like using RDL files and printing as we use Microsoft.ReportViewer.* packages today.

[2019-08-12 17:35] chrisglein commented on #1148
@licanhua did the work on compact. I know there were open issues with the dictionary and API that had the feature left in preview. But I don't remember what the limitations were. For app.xaml level customization I would expect this to work. @licanhua was this part of the known issues with where we left compact?

[2019-08-12 17:51] kmahone commented on #1133
@DHowett-MSFT I am not able to reproduce this issue. I don't get any Ctrl+F4 tooltips on the tabs. Is this something that you added?

The expected behavior is that the tooltip of the tab is set to the Header string. This was not implemented in 2.2.190731001-prerelease, but it is available in recent CI builds.

@adrientetar since this issue is specifically tracking a tooltip issue, please file a se

[2019-08-12 17:53] MikeHillberg commented on #674
Note that a related and also useful feature would be the ability to see if an element is on screen, and this proposal is not that; this IsVisible API doesn't detect that an element is clipped or occluded. Clipping is more detectable now with [FrameworkElement.EffectiveViewportChanged](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.FrameworkElement.EffectiveViewportChanged), but occlusion would

[2019-08-12 18:07] mrlacey commented on #1156
@shaggygi Not what you're directly asking, but in that it might help unblock you, Syncfusion have such a control https://www.syncfusion.com/reporting-tool/uwp/report-viewer.
It's not free but it's the only one I'm aware of.

[2019-08-12 18:13] shaggygi commented on #1156
@mrlacey  Thanks for the link.  I've seen similar with other 3rd-party vendors, as well.  This issue was seeing if something similar would be provided in core controls/APIs.  Also did a similar ping related to [diagram control](https://github.com/microsoft/microsoft-ui-xaml/issues/730#issuecomment-493670179).

[2019-08-12 19:13] DHowett-MSFT commented on #1133
If you’re asking whether we are explicitly setting the tab Header or tooltip to the string `Ctrl+F4`, I’m gonna have to say “that’s not it” :smile:

If the Header being used as the tooltip wasn’t implemented until after the version I reported, that lack is probably the cause of this issue.

[2019-08-12 19:25] kmahone commented on #1133
@DHowett-MSFT even with 2.2.190731001-prerelease, I cannot reproduce the issue. Can you share a xaml snippet that reproduces the issue? I can't get a 'Ctrl+f4' tooltip to show up at all.

[2019-08-12 19:35] jevansaks commented on #1134
Right, I mean that I'm not actually sure what the "expected" behavior is here, so I defer to @austin-lamb and @marb2000.

[2019-08-12 19:45] jevansaks commented on #995
@chigy opened issue #1126 in which we hope to revisit the visuals and possibly the guidance as well. I agree the guidance is vague and inconsistently applied for reveal.

[2019-08-12 19:48] #1142 closed

[2019-08-12 19:50] licanhua commented on #1148
I will try to list the restrictions I remeber one by one here:
1. Xaml framework treats the keys differently based on if it's defined in generic.xaml or not.
For example, compact/density may not work well in below situation or may have down-level problem.
Because the TextBox/ComboBox and other controls existing in WUX is defined in os generic.xaml, and it has high priority in resource lookup. And

[2019-08-12 19:57] licanhua commented on #1148
2. In below example, Color Red is actual selected.

[code]

Here is the explain from Alan:
You have to look at it from the perspective of (a) what the framework knows about (i.e. what global dictionaries exist), (b) what the parser knows about while reading the current XBF, (c) and how this affects what the resource resolution walk encounters. The reason this doesn't work is a fairly straightforwa

[2019-08-12 20:14] chigy commented on #995
I feel this conversation is mixing multiple issues in one. Let me try to untangle one by one:

- Shell MenuFlyout doesn't support reveal - I think this is a bug that we don't see reveal on menus lately... I don't know if we have an issue for this. @DmitriyKomin ?
- Should MenuFlyout be using reveal? - I believe so, I do not recall that part of the rule being changed, but will take a look with @kik

[2019-08-12 20:24] licanhua commented on #1148
3. some height is hard coded to 44 before RS4. Most likely part of this bug is because of this. The flyout may look differently in RS5+.
for example: DatePickerFlyoutPresenterItemHeight.
Expect this problem is resolved automatically in winui 3.0.

[2019-08-12 20:49] kikisaints commented on #995
I think this is an oversight - we had a small window of time where it wasn't on popups and flyouts before we introduced it. Think this statement was overlooked when the docs were updated.

Thanks for pointing it out! It most certainly does belong on flyouts, popups and dropdowns! 😅

[2019-08-12 22:02] YuliKl commented on #1149
@jgrieves, the issue description specifically mentions showing tooltips on mouse hover. I have a few follow-up questions.
1. Should the disabled controls be able to receive keyboard focus? Should users be able to Tab over to these buttons?
2. Did the study consider pen or touch? Should tooltips show up on pen hover or touch press-and-hold?
3. The description mentions keyboard shortcuts - can you e

[2019-08-12 22:07] YuliKl commented on #974
@Poopooracoocoo, do you think #1103 would solve the problem that this issue is tracking?

[2019-08-12 22:20] micahl commented on #933
Here's a PR to add support for a MaximumRowsOrColumns property that can be used with ItemsStretch as discussed earlier in this thread: https://github.com/microsoft/microsoft-ui-xaml/pull/1068

[2019-08-12 23:13] duke7553 commented on #995
@chigy Thanks for the response. The shell MenuFlyouts actually does display the reveal highlight effect, but it's displayed incorrectly. For instance, the border will correctly follow the pointer, but the "hover light" won't. (Described in detail above)

I do, however, notice reveal effect is not displayed properly on the MenuFlyout's within my app. Not sure if it's because I set the CornerRadius

[2019-08-13 00:17] chigy commented on #995
@kikisaints , do you know what's going on here?

[2019-08-13 02:33] jgrieves commented on #1149
Should the disabled controls be able to receive keyboard focus? Should users be able to Tab over to these buttons?

That's still a debate for accessibility.  I would follow the traditional Windows pattern of no until the industry or governments settle on this as a requirement.

Did the study consider pen or touch? Should tooltips show up on pen hover or touch press-and-hold?

No the study was only

[2019-08-13 02:40] mdtauk commented on #1148
This order of inheritence sounds like it is going to be something to change when WinUI 3.0 is released.  The OS should not override any control templates, but instead just provide the colours, theme choice, and user settings, for XAML to consume - but hopefully everything else bar the core windowing, would be owned by Microsoft.UI.Xaml

[2019-08-13 03:24] alanlai-ms commented on #1152
Ok, after trying it again, I dont think it is a regression.
But say on your laptop with a smaller screen like Surface Pro4 or Surface Book,
 Set text scaling to 300%, and try right clicking on a picture in OneNote. (Or rather, in your own sample app, create a context menu with many secondary items (Ours had 10)

In this situation, I guess no matter the secondary menu opens up or down it still wont

[2019-08-13 03:52] jevansaks commented on #1148
Yes, this is a temporary problem so we should do the best we can for compact density and the new visual updates -- but it may mean that there are some visual updates we can't make or that we can't make easy for developers to opt out. Hopefully we won't be in this limbo for too long.

[2019-08-13 03:53] jevansaks commented on #1152
Looks like @llongley didn't reply here but he found that this is due to the fact that we don't have access to monitor APIs in UWP so this is a known limitation and not a regression. We can still use this for tracking but you should work around it (as it sounds like you plan to do) for now.

[2019-08-13 06:37] alanlai-ms opened #1159 "CommandBarFlyout: When you have a Secondary command button that opens up another CommandBarFlyout, that second commandbarflyout just flickers."
**Describe the bug** (Sent email to you about this but I think it got lost, so filing this bug to track this work item)
When you have a Secondary command button that opens up another CommandBarFlyout, that second commandbarflyout just flickers.

On Paste (clicking on paste button within commandbarflyout), the Commandbarflyout goes away due to the action.
At this point, we want to launch a 2nd comm

[2019-08-13 07:53] sonnemaf commented on #933
Thank you @micahl. You saved me from learning modern C++ and implementing it myself. Not that I don't want to learn it. I just don't have the time for it.