[2020-08-16 22:26] Parth commented on #3131
This seems to happen even when dragging is completely disabled. If you try to click on a `NavigationItem` and move away without unclicking the item remains highlighted.

[2020-08-16 23:27] Parth commented on #3131
Able to completely suppress the issue by adding these:

[code]

As a short term workaround.

[2020-08-17 06:58] jenishngl commented on #716
Been busy at work and was not able to respond earlier.
A complete reinstall of windows fixed all my issues

[2020-08-17 09:15] ivanicin opened #3142 "RichEditBox CharacterFormat BackgroundColor doesn't work with transparency"
**Describe the bug**
RichEditBox CharacterFormat BackgroundColor doesn't work with transparency

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Use this code:
`MyRichEditBox.Document.GetRange(0, 5).CharacterFormat.BackgroundColor = Windows.UI.Color.FromArgb(150,0,0,0);`

**Expected behavior**

The background of the first 5 characters should be gray, but it is black. Similar featu

[2020-08-17 09:56] Shivamd1 opened #3143 "A11y_WindowsUILibraryv2.4_HomeScreen_ListItemsPane_ScreenReader: Narrator announces incorrect numbering of list items."
"[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_WindowsUILibraryv2.4;#A11yTCS;#A11yMAS;#DesktopApp;#WCAG1.3.1;#Windows UI Library;#STP;#NVDA;#Win32;#Narrator;#FTP;#Benchmark;#A11ySev2

**Environment Details:**
Application Name: Windows UI Library v2.4
Version: Version 2.4

[2020-08-17 10:46] MartinZikmund commented on #2776
I have looked into the issue and it seems this might be a problem with how `Binding` works under the covers. If the dependency property value is changed within the `PropertyChangedCallback` (which happens here during `CoerceValue`), the new value is not propagated back to the source in case of `TwoWay` binding. This seems like a platform bug. Simple unit test to see this scenario:

[code]

I am no

[2020-08-17 13:18] zadjii-msft opened #3144 "Tab scroll button inconsistently clipped"
_Originally posted by @simonratner in microsoft/terminal#7313._

# Environment

[code]

# Steps to reproduce

Open more tabs than fit horizontally across the window, and observe the tab scroll buttons.

# Expected behavior

Tab scroll buttons consistent in size and style to other buttons in the tab/title bar (new tab, dropdown, min/max/close), and aligned to the same baseline

# Actual behavior

T

[2020-08-17 16:05] chingucoding commented on #780
@ryandemopoulos Do you have any updates on this issue? Is it already known which steps there are to unseal all the things?

Maybe this is something the community can help with when WinUI 3 is open source.

[2020-08-17 16:19] chingucoding commented on #2202
Unless someone else is looking into this, I would like to work on this.

[2020-08-17 16:20] adambarlow commented on #3115
@bsld thank you for your feedback. We are planning on having core webview access by our November preview for WinUI. We are also prioritizing local file access, so we certainly haven't forgotten about this. In terms of the binary web messages I'll have to defer to @liminzhu. Perhaps you could ping him for an update on that public issue that you have posted.

[2020-08-17 17:44] StephenLPeters commented on #2776
Interesting, @MikeHillberg and/or @chrisglein do you have more incites on this behavior?

[2020-08-17 17:46] cirrusone commented on #3115
Any chance of some progress updates on these issues? [Bugs to be fixed in WinUI 3 Preview 2](https://github.com/microsoft/microsoft-ui-xaml/issues/2643)

[2020-08-17 17:47] StephenLPeters commented on #3015
That would be great @chingucoding !

[2020-08-17 17:48] riverar commented on #3115
[cut/paste]

Q: Where is the WinUI 3 dev status document shown during the February WinUI Community Call? Developers still have no idea what's truly landing in WinUI 3 and we're inching closer to preview go-live.

![image](https://user-images.githubusercontent.com/475132/90427293-30a3e980-e077-11ea-9fe6-928d15f2ae17.png)

[2020-08-17 17:52] StephenLPeters commented on #3067
Hmm, @chungweileong94 what version of WinUI 2 are you using?

@ranjeshj @and @llongley or maybe @jevansaks. Does the fix of deleting the /obj directory point to something in our packaging being broken?

[2020-08-17 18:08] liminzhu commented on #3115
@bsld thanks for reminding us of the arraybuffer issue. Is this something you need, or an example you pick? I'm more than willing to discuss your scenario and see if this needs to be re-prioritized.

I can say that the WebView2 project is ongoing and a high priority to us. We are at the moment working on some of the more pressing issues for GA. As you can see there are ~400 GitHub issues on our fe

[2020-08-17 18:14] StephenLPeters commented on #2202
Is your plan to try replacing the wait for miliseconds with a wait for idle?

[2020-08-17 18:20] bsld commented on #3115
@liminzhu Thanks for replaying. Well yes as I've mentioned I would need this features if I want to implement sending back and forth vertex and index data for my render. I would like to use the Windows back-end to parse 3mf files and send them as array-buffers to the WebView2 as requested. Then possibly I would like to send back some data to be processed by the faster native hosting app.

Maybe jus

[2020-08-17 18:23] AnriaruDoragon commented on #3067
Had the same problem, but without error code, description only.
I deleted `/obj` folder and tried to package again, now everything is works fine.
`Microsoft.UI.Xaml` version: `2.4.2`

[2020-08-17 18:32] Felix-Dev opened #3147 "Proposal: Update the borderbrush for transient UIs in Dark mode"
# Proposal: Update the borderbrush for transient UI in Dark mode

## Summary
Today, transient UIs such as flyouts and popups have a visible border in Light mode, however, in Dark mode, the border is not really visible at all:

| Theme | MenuFlyout | NumberBox Popup (*) |
|---|---|---|
| Light | ![image](https://user-images.githubusercontent.com/1398851/90419203-877ce380-e0b6-11ea-806f-b190a2699da7

[2020-08-17 18:34] niels9001 commented on #3115
What updates are there, related to:

- Customizing the window: the ability to create borderless (and transparent) windows (#1247)
- Acrylic support in 3.0 or 3.1 (#2236)

[2020-08-17 18:47] chingucoding commented on #2202
It seems that in some cases, we can listen to KeyUp and have a checkbox that we could look for. In some cases however, the KeyUp get's swallowed by the control, e.g. pressing GamePadA on a Button. In that case, we either fall back to the current solution, wait for idle, or both. I am not sure what's the best solution is here.

Knowing when the key was received by the app does help us though, for e

[2020-08-17 19:29] jevansaks commented on #3067
@fabiant3 @stevenbrix can you assist with this CompileXaml regression?

[2020-08-17 19:52] mdtauk commented on #3147
I used #ffffff with 14% Opacity. The WinUI figma used #000000 with 14%

[2020-08-17 20:08] Felix-Dev commented on #3147
@mdtauk The second set of images show that color in use for the border ("An alternative").

[2020-08-17 20:37] AaronViviano opened #3148 "Exception: iertutil.dll Access violation reading location 0x0000000000000000"
**Describe the bug**
Application crashes on exit at base.h loc 2088 with the following exception.

Exception thrown at 0x00007FFA74BC12AA (iertutil.dll) in App3.exe: 0xC0000005: Access violation reading location 0x0000000000000000.

[code]

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a C++ WinUI 3 desktop application.
2. Modify MainWindow.xaml to the following:

[cod

[2020-08-17 20:55] liminzhu commented on #3115
@bsld thanks for the details! I will make sure this additional input gets factored in when we're looking at our backlog. Right now, it would still be behind some other items.

Local fs access is definitely way, way up in terms of priority, as this is critical path for a lot of apps. You will likely see support for this sooner than the arraybuffer one. I believe we're aiming to have local fs access

[2020-08-17 21:37] chingucoding opened #3149 "NVI.IsSelected is ignored in hierarchical NavigationView for unrealized items"
**Describe the bug**

**Steps to reproduce the bug**

Create a NV with hierarchical NVI defined in XAML and set `IsSelected` to true on one of the child items.
In the loaded event handler of that NV, observe how `SelectedItem` is null.

This behavior is also present when setting the IsSelected property later, as long as the item has not been rendered.

**Expected behavior**

The NV should know tha

[2020-08-17 22:03] StephenLPeters commented on #2202
You can register a handler that will run even for events marked as Handled using the AddHandler method.

[2020-08-17 22:34] chingucoding commented on #2202
Oh I didn't knew that existed. With that, we could probably get rid of the sleep entirely.

[2020-08-17 22:39] chingucoding commented on #3015
I think we need to rethink this a bit more. If an item has not been realized (which is the case quite often as we might recycle them), the NavigationView and the NavigationViewItems are disconnected meaning that you can tell either side that the NVI is selected, yet beside saying "yup the NVI is selected", they can't do much more.

We have no fast way to determine the parent of a NVI. We could ask

[2020-08-17 22:40] jtbrower commented on #3121
@IrakliLomidze as the owner of a company that (so far) only develops desktop applications for enterprise customers, I can attest to the fact that the demand for non-web native applications is definitely there.  Unfortunately, I would debate that entirely too much emphasis has been placed on Web technologies and or other sandboxed frameworks such as UWP, over the last 8 years.

As @marb2000 pointed

[2020-08-17 22:47] #2750 closed

[2020-08-17 23:05] StephenLPeters commented on #3148
I beleive this is a known issue with the Preview2 release.  @MikeHillberg @Austin-Lamb or maybe @stevenbrix can confrim?

[2020-08-17 23:10] StephenLPeters commented on #3144
similar to #1650

[2020-08-17 23:14] StephenLPeters commented on #3143
I think this is an issue with Hierarchical Nav View not reporting the correct size position and depth of set.  #2627 may have fixed this already? @YuliKl

[2020-08-17 23:20] StephenLPeters commented on #3134
Would it be possible to include Gif's of the animation in question?

[2020-08-17 23:21] stevenbrix commented on #3067
@chungweileong94 and @AnriaruDoragon if you could share either repro project or binlog that would be incredibly helpful.

To get an appropriate binlog that simulates building for the store, you can build your project from a Developer Command prompt with this command:
`msbuild /p:AppxBundlePlatforms=x86 /p:Platform=x86 /p:Configuration=Release /p:BuildAppxUploadPackageForUap=true /bl`

If you do th

[2020-08-17 23:28] stevenbrix commented on #3148
@StephenLPeters I'm not sure without more information. Is this re### lated to MenuBar?

@AaronViviano can you share the callstack?

[2020-08-17 23:29] StephenLPeters commented on #3131
@Parth we made a few fixes in this space, can you try again with the latest 2.5 prerlease and report back if it still reproduces?

[2020-08-17 23:34] StephenLPeters commented on #3140
@chigy fyi

[2020-08-17 23:35] jtbrower commented on #3115
### Debugging Difficulties and Guidance
I have now been developing in WinUI for about a month or so.  I started out by writing libraries that could fill in for the missing Window features, compared to those available in WinUI.  Once I had a decent start on those I began porting one part of my rather large WPF application.  Although I really enjoy learning new frameworks and solving technical probl

[2020-08-17 23:43] AaronViviano commented on #3148
@stevenbrix  Sure thing.

[code]

[2020-08-18 00:22] stevenbrix commented on #3148
@AaronViviano are you able to load symbols for Microsoft.ui.xaml.dll?

[2020-08-18 00:44] AaronViviano commented on #3148
@stevenbrix Indeed. Here you go:

[code]

[2020-08-18 02:07] chungweileong94 commented on #3067
I'm using `v2.4.3`.
From what I found, it's mainly because I changed the `x:name` for one of the elements, then for some reason, the obj not getting the update and it still referencing the old name.

[2020-08-18 02:09] chungweileong94 commented on #3067
I will try my best to reproduce that again.

[2020-08-18 03:00] asklar commented on #3133
See also: [Bug 21300449: C++/WinRT XamlTypeInfo.g.cpp should include winrt/* headers for namespaces that we use from references](http://osgvsowi/21300449)

[2020-08-18 05:46] marb2000 commented on #3135
@lorisobi Thanks for opening this proposal. IMO this is a "nice to have" feature and it will help the Emoji picker's discoverability for users who don't know that pression Windows+"." will shows it up.

[2020-08-18 07:06] harshgangrade111 opened #3150 "A11y_WindowsUILibraryv2.4_Tab View_Tab View with close button_Keyboard: Closed Tab button is not in keyboard focus order."
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**#A11y_WindowsUILibraryv2.4;#A11yTCS;#A11yMAS;#DesktopApp;#WCAG1.3.1;#WCAG2.1.1;#A11ySev2;#Windows UI Library;#STP;#NVDA;#Win32;#Narrator;#FTP;#Benchmark;#A11ySev2

**Environment Details:**
Application Name: Windows UI Library

[2020-08-18 08:09] Felix-Dev commented on #3150
See https://github.com/microsoft/microsoft-ui-xaml/issues/1648:

[2020-08-18 11:32] AnriaruDoragon commented on #3067
@stevenbrix I tried to build a project using this command, no errors occurred, the project was built and works, but when I try to pack it again from menu, it gives the same error, deleting the `/obj` still solves this problem.

Here is the repository, in the readme I described the versions and how to get this error.
[AnriaruDoragon/UWP-MSB4181-CompileXaml](https://github.com/AnriaruDoragon/UWP-MSB

[2020-08-18 12:01] Shivamd1 opened #3151 "A11y_WindowsUILibraryv2.4_HomeScreen_RadialGradientBrush_Screenreader: NVDA is not announcing the heading like "Radial Gradient brush" and the description present under the heading"
"[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_WindowsUILibraryv2.4;#A11yTCS;#A11yMAS;#DesktopApp;#MAS1.3.1;#Windows UI Library;#STP;#NVDA;#Win32;

Environment Details:
Application Name: Windows UI Library v2.4
Version: Version 2.4
OS: Windows10

Additional Details:
MAS

[2020-08-18 13:11] harvinders commented on #3134
@StephenLPeters Give me a day or so, I need a tool record it. Gaming bar is disabled for me.

[2020-08-18 13:20] huoyaoyuan commented on #2677
@stevenbrix I have to mention you again, because this issue prevents me from building the WinUI3 desktop branch of xaml controls gallery.
It generates two errors for missing reference assemblies for `.NET Framework, Version=4.5.1` and `.NET Framework, Version=5.0`. Your workaround only eliminates the first one. Confirmed on VS16.7.1.
Is the fix applied in 16.8?

[2020-08-18 15:26] Felix-Dev commented on #3144
I would like to take a look at this.

[2020-08-18 16:24] Felix-Dev commented on #2391
@YuliKl

We might have to look at IsPaneOpen acting as a one-off instruction in *Auto* mode again. Outside of explicitly setting IsPaneOpen to *false*, the pane can also be closed by using the oane toggle button:

![navview-panetoggle](https://user-images.githubusercontent.com/1398851/90538933-81066e80-e17f-11ea-8069-b3c277b7eedb.gif)

I think we should treat closing the pane via the Toggle button

[2020-08-18 16:41] stevenbrix commented on #2978
@hshristov are you using a .NET Standard MVVM library in your app?

[2020-08-18 16:59] #3027 closed

[2020-08-18 17:14] StephenLPeters commented on #3144
Awesome, thank you!

[2020-08-18 17:18] StephenLPeters commented on #3134
PowerPoint has a good screen recording option if that is available to you.

[2020-08-18 17:40] dotMorten commented on #3115
During the Uno conf, @ryandemopoulos presented a roadmap that yet again changed, now skipping a much needed September preview. Why the constant changes to the roadmap?

[2020-08-18 18:53] groovykool opened #3154 "A Flyout Menu with a KeyboardAccelerator that has ScopeOwner set Does Not Work."
**Describe the bug**
A Flyout Menu with a KeyboardAccelerator that has ScopeOwner set Does Not Work.  The KeyboardAccelerator only works if the Flyout Menu is open.
If ScopeOwner=null  (Global Scope)  then the KeyboardAccelerator works.

**Steps to reproduce the bug**
Repo:https://github.com/groovykool/OwnerScope.git
Set OwnerScope to Grid.
Try CTRL_R KeyboardAccelerator
Set OwnerScope to Global
T

[2020-08-18 19:03] jtbrower commented on #3115
@dotMorten thank you for sharing that information.  The sooner I know these things the quicker I will be able to decide if I can continue to hang in there or potentially focus my attention on other parts of my effort.  I think the sure size of their effort must be overwhelming, but I also worry that Microsoft will suddenly switch focus making my plans for Desktop WinUI irrelevant.  Speaking of Uno

[2020-08-18 19:31] stevenbrix commented on #2677
@huoyaoyuan i'm updating to vs16.7.2 and will let you know what i find

[2020-08-18 20:05] aerojam commented on #3115
First, thank you for this great UI library, its potential is huge. My question is: Are there any plans for more specific UX Guide for using WinUI? Or will be some 1st class Windows applications (Mail, Photos, File Explorer, Office) that would inspire, how to use WinUI and Fluent Design together to make great Windows apps for touch, mouse and ink? Thank you!

[2020-08-18 20:15] #2818 closed

[2020-08-18 20:38] stevenbrix commented on #2677
@huoyaoyuan I wonder if your VS config is a bit off. I was able to build with VS16.7.2.

Here is a link to my [vs config](https://github.com/microsoft/microsoft-ui-xaml/files/5092689/vsconfig.zip)

See the documentation for how to import this file: https://docs.microsoft.com/en-us/visualstudio/install/import-export-installation-configurations?view=vs-2019#import-a-configuration

This should hopefu

[2020-08-18 20:54] cyrusdiego opened #3155 "Interpretation of GIF loopCount is incorrect"
**Describe the bug**

When viewing GIF's with a specified loop count, the XAML Image class does not properly interpret the loop count. The animation loop is off by one. This behaviour was found from a bug that is filed with the PhotosUWP application but can be reproduced by other UWP applications using the Image class.

**Steps to reproduce the bug**

1. Create a GIF with a loop count of 1 (define

[2020-08-18 20:54] SavoySchuler commented on #1722
Sorry for the late reply @Felix-Dev, it appears @sonnemaf and @StephenLPeters have already merged the PR.

[2020-08-18 21:43] alekhyareddy28 opened #3156 "RadioButtons control does not support keyboard navigation in XAML islands"
**Describe the bug**

The RadioButtons control (which is used to group multiple radio button controls together allows navigation as follows-
* Pressing tab into the radio buttons control should bring focus to the selected radio button. If no radio button is selected, pressing tab should bring focus to the first radio button.
* Pressing tab again takes focus out of the radio buttons control. Howeve

[2020-08-18 21:46] Felix-Dev commented on #3156
This should be fixed with https://github.com/microsoft/microsoft-ui-xaml/pull/3048 which is shipped with the newest WinUI 2.5 preview - Microsoft.UI.Xaml v2.5.0-prerelease.200812001.

[2020-08-18 21:49] alekhyareddy28 commented on #3156
@Felix-Dev Is the Arrow key navigation issue fixed as well (which is the bigger issue as it renders the other radio buttons inaccessible)?
The arrow key navigation issue is noticed only with XAML islands and works fine otherwise. Thank you.

[2020-08-18 21:55] Felix-Dev commented on #3156
@alekhyareddy28 I haven't explicitly checked arrow key navigation in XAML Islands, sorry. The linked PR #3048 only focused on fixing setting focus on the selected item. So my guess here would be that keyboard arrow navigation would still be broken for XAM Islands, but I can't tell for sure.

Perhaps you could check this out in XAML Islands and report back if you are still seeing this issue!

[2020-08-18 23:05] StephenLPeters commented on #3156
@Austin-Lamb and/or @JesseCol are there xy focus issues in xaml islands? (Winui 2)

[2020-08-18 23:13] StephenLPeters commented on #3151
@YuliKl can you investigate?

[2020-08-18 23:40] harvinders commented on #3134
@StephenLPeters
The one drive video link is https://1drv.ms/v/s!AjCjW_y_qIQIga88B8RNM1f1r4Dsbg?e=L9IJPH

Many of the items have the download status of 100%. Notice when I first load the items. The progress ring takes time to reach 100%. I think the animation should not take that long.

Also at the very end of the video, when I scroll down and scroll up again I suspect the virtualisation kicks in a

[2020-08-18 23:42] StephenLPeters commented on #3134
Thanks, very helpful!

[2020-08-19 00:54] Parth commented on #3131
This seems to be fixed in 2.5 🎉

[2020-08-19 00:54] #3131 closed

[2020-08-19 03:45] jtbrower commented on #3115
After learning from @dotMorten that there was an updated schedule presented at the Uno conference on August 12th, I decided to dig through the 4.5 hour long video to [this location](https://youtu.be/nbqe9uHWT_c?t=3818) where @ryandemopoulos shared that the September preview has been cancelled.  The github roadmap [here](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) ne

[2020-08-19 06:27] YuliKl commented on #3150
Following up with accessibility team to determine the best resolution for this issue. Expecting recommendation by 8/27.

[2020-08-19 06:33] YuliKl commented on #3151
Because this issue is not reproing with Narrator, and because this is a test app rather than a shipping product, I believe we should not attempt to fix this bug. The issue is not related to RadialGradientBrush, which is the product actually being shipped. Closing.

[2020-08-19 06:33] #3151 closed

[2020-08-19 07:40] SavoySchuler opened #3158 "Proposal: NumberBox V2 - Polish API with Additional Properties and Events"
# Proposal: NumberBox V2 - Polish API with Additional Properties and Events

## Summary

Center NumberBox V2 around polishing API surface by exposing or adding customer requested APIs for additional properties and events.

## Rationale

Larger NumberBox features are still blocked on requiring WinUI 3.0, however, a meaningful V2 can still be delivered to active customers by focusing on exposing or

[2020-08-19 07:55] huoyaoyuan commented on #2677
@stevenbrix I've installed a brand new instance with your config, but was still not able to build it.

To be clear, the solution I built is [XamlControlGallery.Desktop.sln](https://github.com/microsoft/Xaml-Controls-Gallery/blob/winui3preview/XamlControlsGallery/XamlControlsGallery.Desktop.sln) in **winui3preview** branch. Could you confirm that your configuration does work with that solution? Tha

[2020-08-19 10:15] huoyaoyuan commented on #2988
I'm able to reproduce it. The reproduction is quite unstable. I've tried many operations, but no one can stabilize it.

[2020-08-19 11:21] MarcoEnxuto commented on #2917
@anawishnoff Quick question. Since this is a preview, are you expecting to support minimum 15063 at a later date?

[2020-08-19 12:35] Felix-Dev opened #3159 "RadioButtons: Custom ItemTemplate is not automatically prefaced by a RadioButton if it doesn't specify one itself as its root element"
**Describe the bug**
According to https://github.com/microsoft/microsoft-ui-xaml/issues/333#issuecomment-468839517 by @kikisaints, a custom ItemTemplate for the `RadioButtons` control will be prefaced by a RadioButton icon:

Thus, if we have the following XAML:
[code]
and code-behind like this:
[code]

The expected UI is this:
![image](https://user-images.githubusercontent.com/1398851/90634864-ae5

[2020-08-19 12:44] pjmlp commented on #3115
@jtbrower As things currently are, specially given the unclear roadmap on Project Reunion side, where they just ask for what we would like, once again a survey about AOT instead of clear message on .NET Native, I am sorry for the ongoing WinUI team efforts, but from the outside I would rather stay on WPF.

Still too much WPF features missing from WinUI, if you need to use C++ alongside .NET, C++/W

[2020-08-19 13:25] ranjeshj commented on #3015
Trying to catch up to this conversation. Is the intention that the selected item should always visible.  This is currently not possible through the UI, since you have to bring the item into view in order to select it but possible if done programatically (like the case you mention with search)

Changing selection programmatically causing expanding and bringing items in view sounds a like a lot of s

[2020-08-19 13:33] chingucoding commented on #3015
That's a very good point you are raising here. Changing selection should probably not have those side effects. Having a separate API for this is probably the better solution here, that way we don't force so many UI updates on simple operations such as selection change.

Regarding the IsSelected what would the expected behavior for #3149 be then? Only update the SelectedItem once that item get's ad

[2020-08-19 13:39] Felix-Dev commented on #3015
@ranjeshj

What definitely should work is the following issue: https://github.com/microsoft/microsoft-ui-xaml/issues/2814

I would look into that issue but it seems to me @chingucoding is also focusing on that area for now and he perhaps plans to fix that.

[2020-08-19 13:41] chingucoding commented on #3015
This issue and #2814 are orthogonal I think and have little overlap. Given that this issue might need a bit more consideration, I would say, feel free to work on #2814 .

[2020-08-19 13:42] robloo commented on #3158
I will circle back around to number 1 (#2710) hopefully this weekend and open a PR.

[2020-08-19 13:48] robloo commented on #3159
It seems like the current functionality might be by design. How do you change the look of the radio button itself otherwise?

[2020-08-19 14:02] Felix-Dev commented on #3159
@robloo The issue that the current impementation makes this RadioButtons control more or less useless when a custom ItemTemplate is specified. You cannot select items mutually exclusive any longer, let alone select them at all.

I'd say this is the same as if I specifiy a button as a child element of a RadioButtons controls:

[code]
![image](https://user-images.githubusercontent.com/1398851/906435

[2020-08-19 14:06] stevenbrix commented on #3067
Thanks @AnriaruDoragon for the repro. I'm bummed that didn't work...I wonder if you need to specify both x86 an x64 for the AppxBundlePlatforms property to simulate the environment more correctly?

[2020-08-19 14:35] chingucoding commented on #1188
I would like to look into this.

[2020-08-19 15:06] robloo commented on #3159
I definitely see there is an issue here, but we don't want to make it useless for those that need to change the radio button style too :)

I couldn't agree more!

I agree with your thinking overall, we just have to figure out how to support styling the radio button itself too separate from the item content if needed. Changing the DefaultRadioButtonStyle across the board should be supported -- but

[2020-08-19 15:14] ranjeshj commented on #3015
@Felix-Dev I agree that #2814 is a bug and likely orthogonal to this. After switching to top, the parent should show selected. If we are using the same selection model, I wonder why it does not show up selected already. In any case, that sounds like a bug.

@chingucoding  I would say last one with IsSelected=true added to the tree wins. That is likely the simplest to implement and likely cover mos

[2020-08-19 15:21] ranjeshj commented on #3159
Would the below pattern work ? That way you can set the properties on the RadioButton directly and don't need a Style.
[code]

[2020-08-19 15:29] cosminstirbu opened #3161 "Question: Adopt WinUI 2.4 in an existing UWP application"
Hello,

I'm trying to wrap my ahead around the steps required adopt WinUI 2.4 in an existing UWP application.

I have read the [docs](https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started) and also browsed the code in [Xaml-Controls-Gallery](https://github.com/Microsoft/Xaml-Controls-Gallery) and I would like to double check that I understood the migration path correctly.

The

[2020-08-19 15:40] AathifMahir commented on #3115
Let's forget about Project Reunion and Win Ui 3, What's the future of UWP? Are we going to see performance improvements, New features, etc..

[2020-08-19 15:44] Felix-Dev commented on #3159
@ranjeshj That works as expected (only adjusted some Margins for better design):

![image](https://user-images.githubusercontent.com/1398851/90657902-3a7a4800-e243-11ea-8e32-45b0828dc002.png)

This should also make RadioButton customizattion easily achievable by just setting the style on the RadioButton.

The question is: Is this just a workaround? or is this how the ItemTemplate has to be styled?

[2020-08-19 15:51] ranjeshj commented on #3159
I see. If the RadioButton containers are automatically created by RadioButtons control, then there is no easy way to style that without exposing a Style/StyleSelector.

[2020-08-19 15:57] chingucoding commented on #3149
Copying @ranjeshj from #3015 for context: We will only update selection with items whose IsSelected property was set when they are visible in the VisualTree. The order would be: latest item loaded wins.

@anawishnoff @YuliKl FYI.

[2020-08-19 16:00] robloo commented on #3159
A DataTemplate that requires a RadioButton as the root element actually makes sense to me in this case. It is a RadioButtons control after all. Technically speaking, are there actually any limitations with @ranjeshj solution? It seems to me it works in all cases. If you aren't using a RadioButton in the style then another repeater control should be used. We should just add a note in the documentat

[2020-08-19 16:04] Felix-Dev commented on #3159
@robloo @ranjeshj How about this: If we don't specifiy a RadioButton as the root of our ItemTemplate, then WinUI will wrap that ItemTemplate in a RadioButton. No easy customization available.

However, if more styling flexibility for the RadioButton itself is required, I can specify a RadioButton as the root of the ItemTemplate and set all kinds of properties on it. In that case, WinUI won't wrap

[2020-08-19 16:08] Felix-Dev commented on #3159
@robloo Do you think we should also an an ItemTemplateSelector to the RadioButtons control? That API is missing so far and would give even more fine granular styling possibilities. Plus, it would help bring the same level of customization options to the RadioButtons control as known from other such Item controls.

[2020-08-19 16:16] robloo commented on #3159
It wouldn't hurt. However, I'm not sure it's really justified. The RadioButons is not a general-purpose control. I can't really envision scenarios where we would need to change the template... Except maybe for when an item is checked.

[2020-08-19 16:17] stevenbrix commented on #3115
@jtbrower thank you for sharing your difficulties in debugging. Regarding the xaml parse exceptions, this seems to have gotten worse compared to UWP (at least from what I can remember) - can you please file an issue?

As for the xaml compiler running out of memory, that's not something I've seen. How much memory does your machine have? I'm curious if you're running out of machine memory, or if VS

[2020-08-19 16:32] ranjeshj commented on #2867
@StefanKoell could you open an issue so we can track this need. Thanks

[2020-08-19 16:37] Felix-Dev commented on #3159
@robloo Yeah, I do not recall `ItemTemplateSelector` being an API request until now. Thta might change but it seems like we don't have to invest resources into that for now.

And yes, we should add documentation how to customize the actual RadioButtons for the RadioButtons control (for example by specifying an ItemTemplate with a `RadioButton` as its root element).

[2020-08-19 16:38] michael-hawker commented on #2917
@MarcoEnxuto is there a specific reason you need 15063? 14393 is the older LTSC in support after November. Then it's 1809 (17763).

[2020-08-19 16:48] Scottj1s commented on #3081
@alwu-msft No, there's no explicit backlog item for that, for two reasons: 1) we'd prefer all component/framework developers (e..g, WinUI) to produce and distribute an interop explicitly, avoiding concerns over type identity, etc; 2) we've done some experimenting with slipstreaming an interop in for a winmd reference and there are some rough edges that could make this approach unreliable.  Alterna

[2020-08-19 16:58] AathifMahir commented on #3115
Any news on .net 5 Official support for uwp?

[2020-08-19 17:44] StephenLPeters opened #3162 "Crash in NavigationViewItemPresenter OnKeyUP"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/27185458?src=WorkItemMention&src-action=artifact_link)

The app these crashes are coming from is using an extremely old version of Winui 2. I believe this is likely the source of this issue.

[2020-08-19 17:50] jtbrower commented on #3115
@stevenbrix Hi Steve, thanks for the kind response, you are always so helpful.

### Compiler Memory Issue
My laptop has **128 gig** of ECC protected memory (Dell was having a sale, LOL).  When I use the process explorer to show live graphing of memory while using Visual Studio, it was only listing 2.5 gig in use when the targets file reports the out of memory condition.  Trying to avoid my love fo

[2020-08-19 18:04] jtbrower opened #3163 "XAML Parsing Exception Messages are not Useful"
I was asked to open an issue by @stevenbrix when I mentioned this over on the August 19th community call announcement.  Note that in my case, I was creating WinUI Desktop applications.

I find the XAML Parsing exception messages to be near useless when trying to correct parsing mistakes.  I have an extensive background in WPF application development so its not as if I am new to using XAML.

While

[2020-08-19 18:31] shaheedmalik commented on #2236
Since Background Acrylic will not make 3.0, can we have a faux Acrylic in 3.0 in the meantime?

[2020-08-19 18:55] Elttob commented on #2236
A placeholder background acrylic brush which just renders the fallback colour would also be acceptable in my mind - that way, the brush can start being used in interfaces right away. Later when the background acrylic brush is properly implemented with proper translucency effects, it would then retroactively apply to those interfaces which used the placeholder, without requiring any code changes.

[2020-08-19 19:03] chingucoding opened #3164 "Proposal: MUXC ScrollView should implement IScrollAnchorProvider"
# Proposal: MUXC ScrollView should implement IScrollAnchorProvider

## Summary

The muxc ScrollView should implement the IScrollAnchorProvider interface, just like the wuxc version does.

## Rationale

* Consistency with wuxc ScrollViewer
* Makes it easier to switch to muxc ScrollViewer

## Scope

| Capability | Priority |
| :---------- | :------- |
| Be consistent with existing wuxc ScrollViewer

[2020-08-19 19:38] SavoySchuler commented on #1533
@ranjeshj or @fabiant3, I believe this issue may need to see triage again?

[2020-08-19 19:48] SavoySchuler commented on #375
@ranjeshj or @YuliKl, does this issue need to sit in the backburner for tracking if its closed?

[2020-08-19 20:20] chingucoding commented on #2202
Given that #3152 was merged now, what are the next steps regarding unreliable gamepad tests?

[2020-08-19 20:20] #328 closed

[2020-08-19 22:02] robloo commented on #3161
Button, TextBlock, etc. are also not included. A good rule of thumb: If you don't have reason to use the WinUI 2.4 version (i.e. you don't know why you need it) then just use what is in Windows.UI.Xaml. Documentation listing the control in WinUI 2.4 is here: https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls?view=winui-2.4

Note that WinUI also includes new styles for nearly ALL c

[2020-08-19 22:42] chingucoding commented on #1188
After 7 hours of debugging I am quite sure now, that the issue here is the MUXC ScrollView. I think the easiest way to explain the issue is through visualzations. First of all it is important to note that ItemsRepeater contains logic to "clean up" after measure to throw away all items that are outside of the current view window it has. This step is called "DiscardElementsOutsideWindow" and checks

[2020-08-19 22:50] YuliKl commented on #3015
@ranjeshj I'm sorry, I'm not quite following. What do you mean by the last item added to the tree?

[2020-08-19 22:54] chingucoding commented on #3015
The last item added to the tree would essentially mean, the last item we got to render. For example:

- Item 1
- Item 2 (Collapsed)
  - Item 3 (IsSelected=true)
  - Item 4
  - Item 5 (IsSelected=true)

If we expand Item 2, the last item added to the tree with IsSelected=true would be Item 5, thus this will be the selected item. All other items which have IsSelected item set to true will be ignored

[2020-08-19 23:01] YuliKl commented on #3015
Oh, I see, thank you for the explanation @chingucoding! NavigationView doesn't support multiselect as a concept, but IsSelected is a property on the item and we're not enforcing any sort of exclusivity.

Yes, this approach sounds good to me.

[2020-08-19 23:08] StephenLPeters commented on #3164
@RBrid I'm surprised this isn't already the case.. I this a bug or a feature proposal?

[2020-08-19 23:10] chingucoding commented on #3164
The interesting thing is that ScrollPresenter does implement that interface, but the ScrollView which contains a ScrollPresenter does not.

[2020-08-19 23:11] StephenLPeters commented on #3162
Please update the version of Winui you are using and if the issue is still present we can reopen this.

[2020-08-19 23:11] #3162 closed

[2020-08-19 23:14] RBrid commented on #3164
Yes this is intentional - By Design. The ScrollView publicly exposes the three IScrollAnchorProvider APIs and delegates the calls to its inner ScrollPresenter which actually implements the interface.

[2020-08-19 23:15] chingucoding commented on #3015
@Felix-Dev I assume you would like to work on #2814 right? To prevent merge conflicts, would you like me to wait with #3149 or would you like to tackle that too?

[2020-08-19 23:20] StephenLPeters commented on #3161
There are quite a few bug fixes to the controls which exist in both name spaces, so I think that I would encourage you to take a look at this doc https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls?view=winui-2.4, identify the controls which you are using from the Wux namespace and update to the Mux version to pick up those fixes. Unfortunately there is not a good tooling story for

[2020-08-19 23:21] chingucoding commented on #3164
@RBrid [ScrollView](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.scrollview?view=winui-2.5.0-prerelease.200708003) does implement RegisterAnchorCandidate and UnregisterAnchorCandidate, but I can't seem to find the [CurrentAnchor property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.iscrollanchorprovider.currentanchor?view=winrt-19041#Windows_UI_Xaml_Con

[2020-08-19 23:25] RBrid commented on #3164
I added it recently - it should be in the code at least:  see #2936 "Adding public ScrollView.CurrentAnchor read-only property"
Not sure if the doc was updated accordingly.

[2020-08-19 23:28] chingucoding commented on #3164
Oh must have missed that PR, sorry about that. In that case, there isn't anything to track with this issue then, given that it is by design to not implement the interface on ScrollView but instead on ScrollPresenter.

[2020-08-19 23:28] #3164 closed

[2020-08-19 23:37] RBrid commented on #3164
Thank you Marcel!

[2020-08-19 23:38] chingucoding commented on #138
@logikonline Can you share a repro project? I can't seem to repro this issue using the test app which has a test page which leverages a custom DataTemplate. Opening the overflow menu seems to work fine for me.

[2020-08-19 23:42] chingucoding commented on #833
@ranjeshj @StephenLPeters Do you think it is still worth looking into this given that we now have FooteMenuItems?

[2020-08-19 23:47] RBrid commented on #1188
Thanks much @chingucoding, unfortunately the situation here is complex enough that I cannot provide more info without doing a deep dive investigation (like you). I would hold off putting a workaround in the ItemsRepeater at this point and wait until someone has time to dig into this further.

[2020-08-19 23:49] robloo commented on #3161
As the app is already UWP, I'm assuming any bugs have already been worked around. I still wouldn't spend the time to transition all controls over unless you have the need (run across a bug and realize it's fixed in WinUI). If you do decide to use all the WinUI controls possible remember you are going to have to remove the namespace definitions in all the XAML files again when you transition to Win

[2020-08-20 00:18] chingucoding commented on #1848
Since CurrentAnchor was added by @RBrid with #2936, I think this issue can be closed right? @ranjeshj FYI

[2020-08-20 00:20] StephenLPeters commented on #3161
I suspect that there are apps out there which don't have a work around for the system xaml bugs because they didn't realize that they were present. These are the type of issues I would hope to solve by suggesting people update to use the Winui versions. Of course this update process has a cost and for bigger projects it can be quite large so it is understandable if some app developers do not want

[2020-08-20 00:23] StephenLPeters commented on #833
Does this mean you've confirmed that it still reproduces?

[2020-08-20 00:28] StephenLPeters commented on #3015
I think we do enforce exclusivity, but we can't while the item is not realized.  Both of these elements are getting realized at the "same" time and thus we have to pick one.   So in Marcel's case the IsSelected property of Item3 would be set to false.  @chingucoding to make sure I'm remembering this correctly?

[2020-08-20 00:31] #2843 closed

[2020-08-20 00:34] StephenLPeters commented on #2202
@kmahone my best idea is to enable all of them and see if they start failing.  I think this ends up having a pretty high cost if the reliability isn't fixed though.

[2020-08-20 00:36] robloo commented on #3161
@StephenLPeters Agree, a main point just to be more clear is WinUI 3.0 is expected to be ready for production by end of this year / early next. In my opinion that throws the cost/benefit in favor of waiting to adopt the changes in medium/large apps.

[2020-08-20 00:39] chingucoding commented on #833
Setting NavView.SelectedItem seems to animate correctly, setting IsSeletced on items in the pane footer does not work though.

[2020-08-20 00:46] chingucoding commented on #3015
Setting IsSelected on multiple items in XAML leaves us with the multiple items having IsSelected set to true. The same does not happen if you set IsSelected to true on multiple items. In that case it's last man standing. So in the example, as Stephen correctly said, we would set IsSelected to false on Item3.

[2020-08-20 03:02] YuliKl commented on #833
I think items in the footer not playing the selection animation is expected. That was actually one of the primary motivations for adding FooterMenuItems, there the selection animation does play.

[2020-08-20 05:00] alekhyareddy28 commented on #3156
@Felix-Dev Wanted to get back to you after upgrading to Microsoft.UI.Xaml v2.5.0-prerelease.200812001. Both the issues **still persist in XAML islands**, ie. tab sets the focus on the first element irrespective of the radio button that is selected and arrow based navigation does not work.
However, I did try the radiobuttons control in a basic UWP app after upgrading to the 2008 version and tab wor

[2020-08-20 05:54] cosminstirbu commented on #3161
Thank you for your replies.

It seems that at this point, given that our codebase is fairly large and also that WinUI 3 is scheduled for a release at the beginning of 2021 it would only make sense to adopt WinUI 2.x for the following reasons:

- Leverage the new styles
- Replace an existing control that might be buggy
- Use a new control that is found only in WinUI 2.x

Thanks,
Cosmin

[2020-08-20 05:54] #3161 closed

[2020-08-20 07:00] #3037 closed

[2020-08-20 07:00] #3033 closed

[2020-08-20 08:40] ad1Dima commented on #168
Just noticed that WPF Ribbon was opensourced https://github.com/dotnet/wpf/tree/master/src/Microsoft.DotNet.Wpf/src/System.Windows.Controls.Ribbon/Microsoft/Windows/Controls/Ribbon

[2020-08-20 08:52] chingucoding commented on #833
If the animation not working for the PaneFooter is by design, I don't think there is anything to investigate here. I wasn't able to repro the behavior of some items not being selectable.

[2020-08-20 10:26] Felix-Dev commented on #3015
@chingucoding

Hmm, for #2814, at least in data-binding mode, I would also need to find the top-level parent of a selected child (as only the top-level parent is shown in the pane).

So if I have something like this:
* Item 1
[...]
* Item 10 (in overflow menu in Top mode typically)
  * Item 10.1 (selected)

and then switch from Left mode to Top pane display mode, I need to show Item 10 as the righ

[2020-08-20 10:37] AnriaruDoragon commented on #3067
@stevenbrix `/p:AppxBundlePlatforms="x86|x64"`, `/p:AppxBundlePlatforms="x86|x64|ARM|ARM64"` and `/p:AppxBundlePlatforms="x86|x64" /p:Configuration=Debug` works fine too.
The error is thrown regardless of platform or configuration. Tried packaging Release for `x86` and `ARM|ARM64` only, and Debug for `x86|x64|ARM` via the context menu in Solution Explorer, it still throws this error.

[2020-08-20 10:43] AnriaruDoragon commented on #3067
Note: After causing this error i still can run project in `Debug x86`, but `Release x86` won't start and thrown this error.

I'll try to upload broken `/obj`.

[2020-08-20 10:47] Shivamd1 commented on #3151
@YuliKl  If the issue is specific to the screen reader NVDA then we need to file an external bug against the NVDA
and this bug should not be closed by product team .So confirm us whether this is specific to screen reader NVDA then we will log an external bug.

[2020-08-20 11:01] AnriaruDoragon commented on #3067
I uploaded broken folder to and update [repo](https://github.com/AnriaruDoragon/UWP-MSB4181-CompileXaml). Link to the folder in README.

[2020-08-20 12:25] chingucoding commented on #1425
I would like to look into this issue.

[2020-08-20 13:08] chingucoding commented on #1484
@MikeHillberg @ranjeshj @StephenLPeters What are your thoughts on this? Should we change the API surface or should PlayAsync change here?

[2020-08-20 13:52] Felix-Dev commented on #2779
I would like to take a look at this.

[2020-08-20 14:58] ad1Dima commented on #833
@ahmar20 [latest 2.5.0 prerelease ](https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.5.0-prerelease.200812001) contains FooterMenu implementation. Does this solve your problem?

[2020-08-20 15:08] ad1Dima commented on #1488
Yes it could. But I think this is common scenario, why don't we make solution for that?

[2020-08-20 16:24] chingucoding commented on #821
During the past couple of months, I haven't noticed that VS wanted to add entries to MUXC.vcxproj.filters so maybe this issue has resolved itsself now?

[2020-08-20 16:29] francoistanguay commented on #2898
Would IElementFactory be used by ContentControl as well?

Otherwise pretty much back to square one,

Not being able to instantiate templates from C# is the main and almost only blocker to a C# first syntax.

[2020-08-20 16:36] chingucoding commented on #8
@ranjeshj @jevansaks Can we close this issue now? The corresponding issue over at WindowsTemplateStudio has been closed and it sounds like the fix for this was already added back then.

[2020-08-20 17:02] hshristov commented on #2978
@stevenbrix Nope, I'm working on 3rd party controls library.

[2020-08-20 17:11] licanhua commented on #138
@chingucoding It's hard for you to debug it without the source code from Xaml. It's possible a bug from platform, and most likely Icon property trigged the problem.
@ranjeshj I forwarded the email about my investigation before.

Here is the code I used to repro the problem:
[code]

[2020-08-20 17:37] asklar opened #3169 "[RNW] Xaml Islands application leak memory when closing an instance of DesktopWindowXamlSource"
This has already been fixed in winui3 but we need a public issue to track for our partners using OS XAML
[Bug 24039954](http://osgvsowi/24039954)

[2020-08-20 17:38] chingucoding commented on #138
Thanks for the repro code @licanhua ! This still seems to repro, though in my case, the app just becomes totally unresponsive instead of crashing. Removing the binding from content seems to "fix" this issue. Also in the sample you posted, the binding of the Tag property is invalid as the Customer object doesn't have an Id property.

Switching out `Binding` with `x:Bind` does seem to work though, s

[2020-08-20 17:39] ranjeshj commented on #138
There have been many updates to NavigationView since 2.1 release, so it is possible that this does not repro anymore. @chingucoding could you try to see if this repros with licanhua's snippet above. Thanks!

[2020-08-20 17:40] chingucoding commented on #138
@ranjeshj The issue still repros, though with different "artifacts". Instead of throwing an exception, it seems that the app just doesn't respond anymore.

[2020-08-20 17:49] YuliKl commented on #3151
@Shivamd1 you had stated that

I can confirm, the app works as expected with Narrator. The WinUI team will not be fixing problems with NVDA so this issue does not belong in our repo. I closed the issue because I don't believe it to be actionable for us.

[2020-08-20 18:03] MarcoEnxuto commented on #2917
Hi @michael-hawker, i would like to keep supporting Mobile. Are you expecting to support ARM32?

[2020-08-20 18:13] chingucoding commented on #3015
I am not sure if I correctly understood the issue, but let me try to recap here:

When switching from left to top, we would like the top most parent of the selected item be present in the list of visible items and be selected And for that to work, we need to figure a way out to find the parent of a selected item which might not be realized.

Regarding Item 10 not being realized, you can "force" cr

[2020-08-20 18:15] jevansaks commented on #8
No objections from me.

[2020-08-20 18:26] chingucoding commented on #974
@Poopooracoocoo Is the following behavior fine with you, or is this to much delay between hiding the old tooltip and showing the new tooltip?

![gif](https://user-images.githubusercontent.com/16122379/90810369-21e15f00-e323-11ea-9b2f-c249e05ceb73.gif)

[2020-08-20 18:36] Felix-Dev commented on #974
This would also make sense for the TabView control (especially for tabs hosted in compact mode). Would, in my view, significantly improve the user experience and would also match Edgium's behavior (and Edge UWP's). Will open an issue for that soon.

[2020-08-20 18:42] robloo commented on #3163
Agreed, this has been discussed a few places before as well. I haven't been able to locate the issues to link to though.

[2020-08-20 19:06] StefanKoell opened #3171 "Question: can individual WinUI controls be used?"
As requested here: https://github.com/microsoft/microsoft-ui-xaml/issues/2867

Will there be a way to pull in individual WinUI controls without applying the style to the whole application? the reason I ask this is, that I am also dependent on 3rd party UI controls (e.g. docking library) and applying styles on a global scope would mess with their styles.

[2020-08-20 20:06] chingucoding commented on #198
I think this was fixed, using the item navigation, I was able to navigate between the primary and secondary commands without getting stuck:
![gif](https://user-images.githubusercontent.com/16122379/90820190-480dfb80-e331-11ea-974d-7f4f0cdcb9ee.gif)
(The focus switching doesn't always work as simulating the touch gestures with a mouse is not that easy and often narrator didn't recognize the gesture

[2020-08-20 20:08] chingucoding commented on #390
@StephenLPeters I am not sure which properties would be needed to pass forward. Do we need to do this for the sake of it, or would this change behaviors or allow more customizations?

[2020-08-20 20:56] jp-weber opened #3173 "ProgressRing: Determinate with Lottie only works with increasing value"
**Describe the bug**
ProgressRing with Lottie not working if the value is counted down. When the value is started for example with the maximum value and count down, the Lottie animation breaks.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Set the value (for example same as maximum)
2. Set IsIndeterminate to false
3. Count down the value (with timer or something else)

**Exp

[2020-08-20 21:50] stmoy commented on #3169
If this has already been fixed, should we close this?

[2020-08-20 21:59] asklar commented on #3169
@stmoy it's only fixed in WinUI 3, it would still repro in OS XAML which is what current partners would use

[2020-08-20 22:21] michael-hawker commented on #168
Thanks @ad1Dima, we've been aware. 🙂 I believe @yoshiask is looking at that occasionally as a reference, but WPF and UWP are pretty different and the UX designs for this pattern have changed recently, so we're not trying to port it directly.

[2020-08-20 22:22] chingucoding commented on #762
I think this was a framework bug, this issue does not reproduce on current insider builds with the posted repro project. @ranjeshj @StephenLPeters Should we close this issue then?

[2020-08-20 22:57] VagueGit commented on #1045
I think maybe UWP and Universal Windows as terms should go away. The terms carry some unfortunate baggage. Perhaps we could replace UWP with Win64? Then have the option of Desktop or Store?

[2020-08-20 23:09] sylveon commented on #1045
Win64 is confusing - it would imply that the Win32 API only supports 32-bits, and that conversely UWP only supports 64 bits, both of which are false.

The Win32 name on its own already confuses a ton of beginners, we don't need Win64 to make matters worse.

[2020-08-20 23:25] marb2000 commented on #1045
@VagueGit  something I have learned is that picking the right name and crafting the story is one of the more complicated things. Better than replace a name, we (Microsoft) should deliver the right product (and story) to help you succeed. UWP is a well-known terminology as Win32, so we should continue to use them.

This is our approach (very simplified):

**WinUI in UWP app**s and **WinUI in Deskto

[2020-08-20 23:28] sylveon commented on #3169
Note that I **cannot** use WinUI 3 because of the recent announcement of unpackaged support being pushed back to 3.1. So this bug and #2817 are still relevant, huge blockers, and should be fixed. I cannot wait to late 2021.

[2020-08-20 23:28] sylveon commented on #2817
VS 16.7 is now shipped to the public. This is universally broken.

[2020-08-20 23:34] VagueGit commented on #1045
@marb2000 Naming things is hard, agreed. But some names are unfortunately toxic and should be left behind. That's why from time to time products are rebranded. UWP is one, but that's only my view ... and everyone I talk to. But there you go.

We have a UWP app that we want to migrate to WinUI. We don't use the Win32 api and we don't want to use the store. How does that fit?

[2020-08-21 00:30] shaheedmalik commented on #1045
Who is the app for, exactly?

As a consumer who goes out of his way to use UWP apps, if the app isn't in the store, I'm probably not going to touch it, let alone see it.

[2020-08-21 01:01] robloo commented on #3024
@YuliKl Any news on this?

[2020-08-21 01:05] robloo commented on #3035
@StephenLPeters Should this one now be closed in favor of #780? The question itself has been answered I think.

[2020-08-21 01:07] robloo commented on #3163
Here is the other issue I was thinking of: https://github.com/microsoft/microsoft-ui-xaml/issues/2350 and a comment https://github.com/microsoft/microsoft-ui-xaml/issues/2861#issuecomment-656951583.

[2020-08-21 01:46] alekhyareddy28 opened #3174 "NumberBox control is not completely accessible"
**Describe the bug**

The number box control is composed on a spinner and a text box. However, the name that we set for the number box is only applied to the spinner but the editable text box has a null name property.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run accessibility insights on a NumberBox.

**Expected behavior**

When the Accessible name property is set using

[2020-08-21 01:58] harvinders opened #3175 "NavigationView Selection lost after changing the PaneDisplayMode"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open the XAML Control Gallary
2. Go to NavigationView example about PaneDisplayMode
3. Select any menu item
4. Reduce the width of the window
5. NavigationView display mode changes
6. MenuItem is no longer selected
7.Increase the winodw width
8. MenuItem is still not selected

**Expected behavior**

MenuItem

[2020-08-21 02:11] VagueGit commented on #1045
Don't worry @shaheedmalik we won't be asking you to touch it :-). We write business apps. Win32 and UWP. We have a UWP app which has been in the store for a few years but not visible in the store. We have an established business customer base going back 30 years. They are happy with our UWP app but unhappy with the store experience so we are moving it out of the store.

So we know there is a marke

[2020-08-21 02:26] weitzhandler commented on #1045
@VagueGit WinUI sounds good to me as someone who have been following along this cinema since the WinForm days through WPF & Silverlight. Especially given the new icon. And that's about branding, which is to me less meaningful and negligible compared to actual productivity.

[2020-08-21 02:31] alekhyareddy28 commented on #3156
To add to that the screen reader does not read the heading when we tab into a radio button (when it is grouped by the RadioButtons control with the header property set. When we group it using a stack panel and add a reference to the heading in a text block using `AutomationProperies.Labeledby` it works fine. Trying to do the same with the radio buttons control does not work as well), it just reads

[2020-08-21 03:39] tajetaje commented on #1247
@marb2000 Hate to clog your mentions, buuuuut, any updates on this since preview 2 was released?

[2020-08-21 03:44] tajetaje commented on #2236
Something else that contributes (or so far as I can tell) to this is #1247

[2020-08-21 06:14] marb2000 commented on #1045
So do you want to migrate a UWP to WinUI 3 and deploy outside of the Store? A naïve question: did you try the MSIX's [sideload](https://docs.microsoft.com/en-us/windows/uwp/get-started/enable-your-device-for-development#sideload-apps)? Any reason besides the Store that stops you use UWP?

One question, Win64 stands for a lot of things. e.g. apps compile for x64. What does Win64 mean for you?

[2020-08-21 07:19] VagueGit commented on #1045
@marb2000 UWP has poor support for business reporting. We think that rebranding might help kickstart the development of third party tools like report writers. We've had a play with side-loading but it was not feasible for us until 20H1 as sideloading was not enabled by default.

We think Win64 is the way forward on Windows. Micro$ has in the past attempted to pitch Win32 as legacy without success

[2020-08-21 07:43] sylveon commented on #1045
As the confusion from @marb2000 shows, the term Win64 is already (poorly) used. I've also pointed that out earlier.

I agree that a rebranding might be needed, but Win64 is a terrible way of doing it. Until there is something official, you should use the term UWP to be understood by everyone.

[2020-08-21 08:07] Poopooracoocoo commented on #974
@chingucoding It looks like there's too much of a delay. Ideally there'd only be an animation for the first tooltip and then there wouldn't be anymore (or faster) animations until the last tooltip with an exit animation. Here's what I mean:
![ndvW3bojP0_Trim](https://user-images.githubusercontent.com/51363864/90867455-bd80d700-e3d8-11ea-9bf4-5a65494ac4ba.gif)

[2020-08-21 08:10] VagueGit commented on #1045
@sylveon UWP is understood by everyone to be a failure. We like it but few others do. That's why rebranding is important. What do you think of WinUI (Deskop) or WinUI (Store) as project templates?

[2020-08-21 08:12] sylveon commented on #1045
WinUI (Store) is not good because you can also ship Win32 apps in the store, or ship UWP apps outside of the store. WinUI (Desktop) is good however.

[2020-08-21 08:19] VagueGit commented on #1045
@sylveon WinUI (Store) doesn't preclude other projects that target the store. It just means you want to start with the set of capabilities that enable release through the store.

[2020-08-21 08:22] sylveon commented on #1045
It's bad enough to confuse beginners.

[2020-08-21 08:33] Poopooracoocoo commented on #2236
Also related: #761

[2020-08-21 08:35] chingucoding commented on #974
Thanks for the clarification @Poopooracoocoo !

[2020-08-21 08:49] Poopooracoocoo commented on #2236
@mdro

I pointed out something similar in #816 but they said that it's not their problem. Welcome to the Microsoft world. The most I've seen Microsoft do for itself recently is adding APIs to Windows for Edge (Chromium) and improving WinUI for PowerToys and Terminal. They refuse to update the styles of their other UIs which they obviously still use in Windows. lol

[2020-08-21 10:47] Felix-Dev opened #3176 "Proposal: TabView should not have a show delay between TabViewItem tooltips"
## Proposal: TabView should not have a show delay between TabViewItem tooltips

## Summary
Similar to proposal https://github.com/microsoft/microsoft-ui-xaml/issues/974, there should be no show delay between the tooltips of the TabViewItems. This behavior can be seen in Edgium, for example:

![tabview-item-tooltips](https://user-images.githubusercontent.com/1398851/90881821-2d786880-e3ab-11ea-9cf7

[2020-08-21 12:05] chingucoding opened #3178 "TeachingTip: setting SubTitle to null crashes app"
**Describe the bug**

Setting SubTitle of TeachingTip to null crashes app.

**Steps to reproduce the bug**
Run the following code:

[code]
**Expected behavior**

TeachingTip is being shown, subtitle textbox is collapsed and app does not crash.
**Screenshots**

**Version Info**

NuGet package version:

Microsoft.UI.Xaml 2.5.0-prerelease.200812001

Windows app type:
| UWP              | Win32

[2020-08-21 12:36] Poopooracoocoo opened #3241 "When you go to a sample page from the search, the navigationview should close (if it is in compact mode)"
Repro:
1. Open Xaml Controls Gallery so primary navigation is in LeftCompact mode
2. Search for Button and chose this page from the ASB dropdown

Actual behavior: XCG navigates to another page but NavigationView pane remains open.
Expected: XCG navigates and also closes the pane.

[2020-08-21 15:15] alekhyareddy28 opened #3179 "Navigation view does not work with Arrow keys, hence inaccessible by keyboard (on specific screens)"
**Describe the bug**

**Navigation Issue**: Navigation view control is expected to navigate using the up and down arrow keys, but it does not happen. The weird thing is that when I try to do the same on the monitor attached to my laptop it works fine but just not on my laptop screen. Seems like it has something to do with the hardware configuration of my laptop screen as it works fine on the attac

[2020-08-21 18:48] MarcAnt01 opened #3180 "Proposal: Content Dialogs without a description"
# Proposal: [Content Dialogs without a description]

Content Dialogs without a description

## Summary

I'd like to use Content Dialogs without a description, but currently that results in a blank space which is annoying,

## Rationale

Users should be free to choose if their dialogs require a description or not. For example in a "Do you want to save" dialog, description is useless. I'd rather not

[2020-08-21 23:22] alekhyareddy28 opened #3183 "Screen reader does not read the heading of RadioButtons control"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a radiobuttons control as follows
[code]

**Expected behavior**

When we tab into the radio button the narrator must read the heading as well as the radio button that is in focus.
Eg:  something along the lines of "abcd grouping Item 1 button 1 of 3".

**Actual Behavior**

It just says "Item 1, 1 of 3"

[2020-08-21 23:32] adarshrema opened #3184 "Color contrast issue on UWP vertical scroll bar"
While investigating the issue below, the root cause seems to be the default XAML scroll bar failing color contrast requirement:
[Color contrast for vertical scrollbar is not meeting the text and graphical component and UI object ratio](https://github.com/microsoft/accessibility-insights-windows/issues/898) reported by @kianrp

We are able to reproduce this in the XAML Controls Gallery app from the

[2020-08-22 17:32] Alkanores opened #3185 "MenuFlyout acrylic effect doesn't work in light theme"
### **Describe the bug**
MenuFlyout acryllic effect show dark solid color (it is possible that this is due to the shadows of this menu, I link 2 images, which prove it).

### **Steps to reproduce the bug**

1. Create any element & add Menu Flyout
2. Add this Acryllic for light/dark theme(change TintColor to White/Black respectively)
3. Add Grid MenuFlyout (or any MenuFlyout)

[code]

4. See, what

[2020-08-23 16:24] chingucoding opened #3187 "Cleanup: Remove BUILD_WINDOWS code blocks"
Those seem to be used for compiling inside the OS, however in WinUI 2 and possibly 3, those no longer make sense to carry around.

Should this be postponed until WinUI 3 just like #1751 ?

[2020-08-23 17:11] benstevens48 opened #3188 "Question: When is it OK to dispose a CompositionGraphicsDevice?"
I'm using a CompositionGraphicsDevice to create a CompositionDrawingSurface. In order to keep memory usage low, I'm calling CompositionGraphicsDevice.Dispose immediately after creating the surface. This seems to be OK. I can draw to the surface fine afterwards. However, one thing I can't do is resize the surface (I expected this might be the case).

Is what I'm doing reasonable? Does the implement

[2020-08-23 17:21] chingucoding commented on #634
What area is causing this problem given that it was a missing depency in the appxmanifest? Is this a VS issue or a Nuget issue? If this isn't an issue with the WinUI nuget package itsself (which seems to be the case based on the workaround/fix), should this be marked external or closed? @ranjeshj @StephenLPeters Your thoughts?

[2020-08-23 17:27] chingucoding commented on #1048
@StephenLPeters Should this be marked as WinUI 3 since this is currently part of OS XAML?

[2020-08-23 17:34] chingucoding commented on #1233
@YuliKl How could this be fixed? Should we pick a darker gray for the track so we meet the new requirement?

[2020-08-23 17:57] chingucoding commented on #1187
@StephenLPeters I think this is something that can only be fixed with WinUI 3, since most of ComboBox and ViewBox are not in WinUI 2.

[2020-08-23 18:15] chingucoding commented on #1764
@StephenLPeters Seems like a framework issue, so it probably needs WinUI 3.

[2020-08-23 18:43] chingucoding commented on #1901
Using the darkest/lightest color that would ensure a 3:1 contrast ratio, we would get the following:

Light theme (with background using #949494)
![image](https://user-images.githubusercontent.com/16122379/90986174-01aedb80-e581-11ea-9ae8-02bbffe7ea0e.png)

Dark theme (with background being #5A5A5A):
![image](https://user-images.githubusercontent.com/16122379/90986164-ed6ade80-e580-11ea-8663-b9223

[2020-08-23 19:23] chingucoding commented on #1766
So current behavior with determinate error state is this:

![gif](https://user-images.githubusercontent.com/16122379/90986874-86e8bf00-e586-11ea-8a8b-bcf2fa6163f3.gif)

Is it expected that it switches color when changing the value?

[2020-08-23 19:44] chingucoding commented on #2107
I think this was an issue with the XAML Controls Gallery. The crashed I was able to repro was one that was caused by a null value which we didn't check for. @stmoy FYI

[2020-08-23 19:51] chingucoding commented on #2151
@StephenLPeters @ranjeshj FYI

[2020-08-23 20:00] chingucoding commented on #1901
Having a selection indicator is also an interesting idea, though it's a bit uncommon for this kind of control I would say.

Regarding Edge, the way it behaves on my machine is the following (not sure if this is currently the default or not):

![image](https://user-images.githubusercontent.com/16122379/90987530-f6ad7880-e58b-11ea-9311-d4a5d21a8b84.png)

With having a non gray background, we would e

[2020-08-23 20:05] chingucoding commented on #2108
The behavior is still present, however we now have NavigationView FooterMenuItems, so putting items inside the PaneFooter is not our preferred or recommended way anymore. @YuliKl What are your thoughts on this issue given that putting items in the FooterMenuItems results in the desired narrator behavior?

[2020-08-23 22:19] Felix-Dev commented on #2108
I don't think that's correct. There are different use cases for putting items in the PaneFooter or the FooterMenuItems section. Some items might require selections, others don't. Those who don't will still be put inside the PaneFooter and as such should be read correctly by the Narrator. (FooterMenuItems section is for menu items which need to participate in the selection).

Groove is an example a

[2020-08-24 01:01] robloo commented on #3134
Here is the referenced video as a gif in case the OneDrive link goes bad in the future. If you didn't want this so prominently displayed I can delete this comment.

![ezgif-7-832a45dedf22](https://user-images.githubusercontent.com/17993847/90993652-ab8f6780-e583-11ea-91da-00ffeffc043d.gif)

[2020-08-24 01:28] harvinders commented on #3134
@robloo. I would appreciate it if we can remove the gif, it is from an
unreleased app.

I would try to upload another video before I remove this one from onedrive.

On Mon, Aug 24, 2020 at 11:01 AM robloo <notifications@github.com> wrote:

[2020-08-24 01:31] robloo commented on #3184
This might be a special case. The slider is also designed to fade out of view and becomes harder to see on purpose.

The contrast analyzer is also checking the foreground/background color as if it was text. No text will be applied in this case. It does fall into the graphical object and UI components section though which is also indicating failure.

![90723284-187fd480-e2da-11ea-849d-b1e0d31c5a95]

[2020-08-24 05:21] codendone commented on #687
@chingucoding In theory this code could drop to the abi for this call, so it can handle or ignore the hresult without an exception.  DispatcherHelper's TryGetCoreApplicationCurrentView() was changed to do this.

[2020-08-24 06:30] Poopooracoocoo commented on #3158
https://github.com/microsoft/Xaml-Controls-Gallery/issues/534

[2020-08-24 06:34] StefanKoell commented on #3171
That sounds great. I then only hope that there's proper documentation on how to do that (which styles to include).

Thanks!

[2020-08-24 08:56] chingucoding commented on #687
I assume this would be something that needs to be done inside the OS? Or is this something we could achieve inside WinUI 2? Would that be the preferred solution for this issue?

[2020-08-24 09:16] hez2010 opened #3189 "TextBlock text in AppBarButton.Flyout cannot be selected"
**Describe the bug**
TextBlock text in AppBarButton.Flyout cannot be selected

**Steps to reproduce the bug**
[code]

**Expected behavior**
With IsTextSelectionEnabled="True", the text in textblock should be able to be selected.

**Version Info**
WinUI: 2.4

NuGet package version: Microsoft.UI.Xaml 2.4.3

Windows app type:
| UWP              | Win32            |
| :--------------- | :-------------

[2020-08-24 09:27] chingucoding commented on #1539
I would like to look into this.

[2020-08-24 10:14] CodeBehemoth commented on #2775
@Fernand-Delavy : I hope, I have a solution for you.
I have had the same problem: created "Blank App, Packaged ( WinUI in Desktop )", select my project a Startup Project and I have got the same error message.
But, after selection of another, **package** project as startup project, the application runs without problems.
I'm a newbee in WinUI, so I cannot say why it's so, I'll try to find it out now

[2020-08-24 11:16] chingucoding commented on #429
I think this is the exact same issue as #1954 and the underlying framework bug #3057. Since ItemsRepeater has a workaround for #1954 now, we can probably close this @ranjeshj @StephenLPeters .

[2020-08-24 11:58] chingucoding commented on #1342
@Phranky Can you share a video of this issue? I tried the repo app on my machine and the scrolling seemed to behave correctly.

[2020-08-24 17:44] chingucoding commented on #2727
@StephenLPeters @ranjeshj What steps are needed to move the template inside WinUI 2? Given that this is an accessibility issue which we could solve easily just with the ScrollViewer template, this seems reasonable to think about now.

[2020-08-24 17:45] chingucoding commented on #2594
@StephenLPeters Can you still repo this issue?

[2020-08-24 18:05] jevansaks commented on #687
@chingucoding We can do it in WinUI2 if we want to avoid the crash, you can take a look at #1434 for the strategy. Basically you need to find the ABI definition of the interface (you can find it in the SDK headers or in the C++/WinRT generated headers). Make sure to keep any parameter types that we don't call as void* to reduce the amount of ABI types you need to pull in.

In fact, now that I look

[2020-08-24 18:19] chingucoding commented on #687
I didn't know that, great that we can make this change in WinUI 2. @ranjeshj Do you think we should do this now or is this something that needs wait on anything else?

Regarding reusing the existing TryGetCoreApplicationCurrentView, I am not sure if we could use this. The documentation doesn't really state when GetCurrentView might crash and thus the helper return null. If those are the same, yes

[2020-08-24 19:25] #1427 closed

[2020-08-24 23:15] YuliKl commented on #3185
Thank you for reporting this. I think you're seeing expected behavior with shadows rendering behind the acrylic, causing the flyouts to look very dark. In part, this is because we don't really support such transparent acrylic to avoid legibility concerns.

[2020-08-24 23:15] #3185 closed

[2020-08-25 00:36] simeoncran commented on #1484
To make AVP start playing an asynchronously loaded animated visual as soon as it finishes loading:

        static void WaitForLoadThenPlayAsync(AnimatedVisualPlayer player)
        {
            if (player.IsAnimatedVisualLoaded)
            {
                _ = player.PlayAsync(0, 1, true);
            }
            else
            {
                player.RegisterPropertyChangedCallback(Anima

[2020-08-25 01:00] #2502 closed

[2020-08-25 03:50] zhuxb711 opened #3191 "When dragging a tab to the top of another tab and dropping it, the shadow is displayed incorrectly"
**Describe the bug**
When dragging a tab to the top of another tab and dropping it, the shadow is displayed incorrectly.

If you drag to the edge of the TabItem, the problem disappears.

In addition, when dragging Tab to the TabStrip area, the corresponding TabStripDragOver event will not be triggered (the triggerable area is too small)

**Steps to reproduce the bug**

Steps to reproduce the behav

[2020-08-25 08:47] chingucoding commented on #3173
I would like to look into this, if that's fine with everyone else.

[2020-08-25 09:39] Alkanores commented on #3185
But why then Acrylic effect works in dark theme?

[2020-08-25 14:10] chingucoding commented on #1877
It seems that the linked issue was fixed. Does this mean, that we can remove the defines now @kmahone ?

[2020-08-25 14:34] Going-Gone opened #3193 "Question: How do you set selected and unselcted foreground color for a textblock in a MenuItemTemplate for the NavigationView control?"
Is there a way to modify the template textblock behavior based on the navigation view visual state?
When the menu item is selected, the text foreground should be black.
When the menu item is not selected, the text foreground should be white.

I've not been able to figure out how to modify the behavior of the template textbox for the menu items.

[code]
       <muxc:NavigationView
                x

[2020-08-25 16:26] karenbtlai commented on #3173
I believe it may be something to do with the playback rate for AnimatedVisualPlayer. Counting down is currently not a supported ProgressRing scenario, and will need to be implemented.

[2020-08-25 16:33] karenbtlai commented on #1766
@chingucoding @YuliKl This is a bug. This is because every time it is being updated, it quickly switches to an `Updating` Visual State for the animation. That visual state's foreground is the system foreground colour, and will need to update to Error colour when updating.

[2020-08-25 16:51] chingucoding commented on #3173
So this isn't supported by the animation itsself? I was able to "support" this by setting the playback rate to -1 when decreasing, however the progress  just jumps to the new value, it doesn't animate.

[2020-08-25 17:03] chingucoding commented on #1766
Thanks for the clarification @karenbtlai ! I assume, it is better to leave this issue (both #1766 and the color switch bug) to you? Or would you mind me helping out here? @ranjeshj FYI.

[2020-08-25 17:08] chingucoding commented on #1880
@StephenLPeters @ranjeshj FYI

[2020-08-25 17:13] kmahone commented on #1877
Yes. We can remove it now.

[2020-08-25 17:18] chingucoding commented on #1877
Thanks for clarification, I'll create a PR for this then, if that's fine.

[2020-08-25 17:46] YuliKl commented on #3189
@hez2010 can you try setting the AppBarButton's [AllowFocusOnInteraction](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.allowfocusoninteraction?view=winrt-19041#Windows_UI_Xaml_FrameworkElement_AllowFocusOnInteraction) property to True?

[2020-08-25 17:55] stevenbrix commented on #2677
Hmm I was able to build and run the desktop sln as well @huoyaoyuan

[2020-08-25 18:07] Felix-Dev commented on #2391
@YuliKl @anawishnoff Friendly ping in cased it got missed (feel free to ignore if you are currently busy with something else).

[2020-08-25 18:50] YuliKl commented on #2391
Yes! One command is coming from the end-user, the other from the app developer, but they are both intended to have the same result on NavigationView's appearance/state.

And thank you for the ping @Felix-Dev, the quick reminder is really helpful in trying to keep up with active discussions.

[2020-08-25 19:10] sis2004 commented on #3129
Is there any ETA on when the fix will be available?

[2020-08-25 19:15] #2992 closed

[2020-08-25 19:22] codendone commented on #3103
GetCurrentState() does not provide information on whether or not it is paused.  A new property or method would indeed be needed to expose this information.

[2020-08-25 22:27] YuliKl commented on #1766
@chingucoding feel free to take this one! @karenbtlai is heads down on WinUI 3 work, so your help would be much appreciated.

@MarissaMatt FYI

[2020-08-25 22:38] chingucoding commented on #1766
Alright, I'll work on this!

[2020-08-25 23:11] YuliKl commented on #3191
@stmoy and @teaP FYI

[2020-08-25 23:15] YuliKl commented on #3185
Both acrylics work, but the shadow is making the acrylic look darker. In dark theme, the darkening looks as expected, while it looks too dark in light theme.

[2020-08-25 23:21] Alkanores commented on #3185
Will this be fixed? Or this isn't bug?

[2020-08-25 23:23] YuliKl commented on #3193
@Going-Gone to double-check, do you mean TextBox or TextBlock? You're using `TextBlock` in your data template.

Are you also planning on changing the background of the selected menu item to ensure the text remains legible?

[2020-08-25 23:38] YuliKl commented on #3193
If I'm understanding your scenario correctly, the easiest way to achieve this is with light weight styling. Overwrite the brushes defined for NavigationViewItemForeground* resources to use values you prefer. https://github.com/microsoft/microsoft-ui-xaml/blob/4d0baa4cc846de73969953b8e57772e97d8e3149/dev/NavigationView/NavigationView_rs1_themeresources.xaml#L32

[2020-08-25 23:40] michael-hawker commented on #1952
@sonnemaf I think the crux of this issue is the .NET 5 story. It's the same problem. Once everything is aligned on .NET 5, this should just work. That's why we've migrated our previews in the WCT to .NET 5 for WinUI 3 Desktop and focusing on the previews there.

@ryandemopoulos getting to .NET 5 for both Desktop and UWP should be part of the release criteria for 3.0. It's going to be too painful f

[2020-08-25 23:44] #2893 closed

[2020-08-25 23:57] mcarthur-cpt opened #3198 "Proposal: Redesigned Windows File Explorer"
While a lot of the UI's present in Windows are being redesigned the File Explorer has basically stayed the same(more or less). Wouldn't WinUI  look better or a Fluent based one.
![WinUI File Explorer](https://user-images.githubusercontent.com/69404152/91239291-6b74e400-e73f-11ea-95b0-f97eb9e865fd.png)

[2020-08-26 00:14] stevenbrix commented on #2775
@CodeBehemoth that is expected at this point, we don't currently support unpackaged desktop apps in preview2

[2020-08-26 01:43] Going-Gone commented on #3193
Apologies, TextBlock.
Yep the background is set with
[code]

[2020-08-26 01:55] Going-Gone commented on #3193
That works, Thanks.

[2020-08-26 02:55] AzAgarampur commented on #3198
This is something up to the shell team at Windows, so the folks at WinUI probably can't do anything about it.

Let's ignore that for a moment - File Explorer will probably not use XAML controls because of their runtime overhead and dependencies for Direct3D, Direct2D, DirectComposition, etc. Also, they are all GPU-intensive frameworks. For something like File Explorer, when listing thousands of fi

[2020-08-26 05:34] icnocop commented on #2372
This is happening when building in Release mode and the Microsoft.WinUI NuGet package 3.0.0-preview2.200713.0.
[code]

[2020-08-26 07:00] #3099 closed

[2020-08-26 10:21] shaheedmalik commented on #3198
This happened because the feedback was misinterpreted.  People wanted dark mode for all apps but for some reason they thought they wanted it just for Explorer.

[2020-08-26 11:59] hez2010 commented on #3189
@YuliKl I've verified and it works. Thanks!

[2020-08-26 12:44] mcarthur-cpt commented on #3198
If they can't make XAML controls the default then maybe as an optional extra for people with high end graphics.

[2020-08-26 14:16] SlowPokeInTexas commented on #1498
Is there a fix in place or a fix in flight? I'm still encountering this issue.

[2020-08-26 14:32] Going-Gone commented on #2405
@ranjeshj this does appear to be happening with the navigation view as well.

If you try to set the MenuItemSource to a different collection the same exception occurs. If you first set the selected item to null, it allows the items source to be modified.

[2020-08-26 14:53] Felix-Dev commented on #2405
@Going-Gone I cannot reproduce this on the newest 2.5 preview:

![navview-itemssource-change](https://user-images.githubusercontent.com/1398851/91319299-82a5e700-e7bc-11ea-985f-6bf7818477eb.gif)

Are you doing anything else or could you upload a repro app?

[2020-08-26 15:11] andrewleader commented on #2719
This still isn't fixed? I'm using version `2.4.3` and still hitting this, would be useful to know when fixes will be released and in what version

[2020-08-26 15:23] Going-Gone commented on #2405
It appears that with the Top Pane mode, the exception happens, but it doesn't happen with Left pane mode.

[2020-08-26 15:24] Felix-Dev commented on #2719
@andrewleader This should be fixed in the newest WinUI 2.5 previews (200708003 and 200812001).

If you can't use those preview versions, you also use the following workaround on 2.4 and below (from @kmahone):

Add the following XAML to your Application resource dictionary:
[code]

[2020-08-26 15:29] Felix-Dev commented on #2405
@Going-Gone Thanks! I can repro it now. I can take a look at this issue.

[2020-08-26 15:31] Going-Gone commented on #2405
Awesome, thanks.

[2020-08-26 15:35] andrewleader opened #3199 "Cannot resolve TargetName HeaderContentPresenter on 17134 and lower"
I'm seeing crashes appear in App Center specifically on users running build 17134 and lower with the following...

[code]

**Repro steps**
Not sure... It seems like a problem with using WinUI in a complex app

**Expected behavior**
Don't crash

**Version Info**

NuGet package version:
Microsoft.UI.Xaml 2.4.3

Windows app type:
| UWP              | Win32            |
| :--------------- | :---------

[2020-08-26 15:48] jasonvasquez commented on #2949
Just as an update, with VS 16.8.0 Preview 2, and .Net5 Preview 8 (x86 and x64 sdks installed), I am observing the same behavior on new project creation.

[2020-08-26 15:55] Felix-Dev opened #3200 "NavigationView: App crash on Top mode when clearing the items collection while a MenuItem is selected"
**Describe the bug**
As reported by @Going-Gone [here](https://github.com/microsoft/microsoft-ui-xaml/issues/2405#issuecomment-680917932) the app crashes when clearing the items collection used to populate the NavigationView in **Top** pane display mode *and* with a MenuItem selected (either MenuItems or MenuItemsSource, whatever is in use).

This is a regression introduced in the newest WinUI 2.5

[2020-08-26 15:55] ahmar20 commented on #833
I have not had the time to look at it in a while. If it has been implemented, then this issue can be closed.

[2020-08-26 16:31] jindal1979 commented on #2917
Can we publish apps to Microsoft Store using WINUI 3 Preview 2 ? I know that it is not production ready, but still I would like to publish the app to Microsoft Store for limited use within organization. Will Microsoft Store all the app to be published (WINUI 3 Preview 2) ?

[2020-08-26 17:05] anawishnoff commented on #2917
Hi @jindal1979, I don't believe that you can publish apps to the Microsoft Store that are using WinUI 3 Preview 2, because as you said it's not yet production app ready.

[2020-08-26 17:08] YuliKl commented on #3189
Sounds like the issue is resolved. Closing.

[2020-08-26 17:08] #3189 closed

[2020-08-26 17:22] anawishnoff commented on #2589
Hi @under3415, sorry for the super delayed reply on this.

Reading through the stack overflow post you linked, it seems like you're trying to perform validation once a page is navigated away from, and stop navigating to that page if the validation fails. However, when you use ItemInvoked to navigate away from a page, it calls SelectionChanged and there's no way to get around the page changing.

@o

[2020-08-26 17:29] anawishnoff commented on #2685
@FrayxRulez, thanks for submitting this. My apologies that it's taken so long to get a reply!

@ranjeshj is there a reason that grouped CollectionViewSources don't allow for incremental loading?

[2020-08-26 18:51] YuliKl commented on #3150
Following up with the Edge team to understand their motivation for close buttons' focus behavior.

[2020-08-26 19:56] stevenbrix commented on #2949
Sorry for not responding to this earlier - yeah we have incompatibilities with preview8 of net5 and 16.8 Preview2.

The only current recommendation I can give is to stay on VS16.7.2 and .NET5 Preview5 (not great, I know).  If you want to keep preview8 installed, I'd recommend installing .net5 preview5 using the dotnet install scripts and use global.json to make sure it's picked up.

[2020-08-26 19:59] stevenbrix commented on #2949
Here is the install script I use [Install-DotNet.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5132546/Install-DotNet.zip)

If you run this in an admin powershell window: `Install-DotNet -version 5.0.100-preview.5.20279.10`. This will install both x86 and x64 to program files.

Then you can add a global.json that looks like this:

[code]

[2020-08-26 21:03] SetTrend opened #3203 "Proposal: Have AnimatedVisualPlayer play animated SVG"
# Proposal: Have AnimatedVisualPlayer play animated SVG

## Rationale
While _Lottie_ is a proprietary animation format, SVG animations is a W3C Recommendation.

It would be a great long-term option to be able to playback a standard vector animation format, too.

[2020-08-26 23:00] YuliKl commented on #2589
What's conceptually tricky about this is that NavigationView does not perform any navigation. The SelectionChanged event is most often a direct result of user action, and cancelling a user-initiated interaction feels wrong. While I understand your scenario, this concept may be difficult to work into NavigationView. Sounds like you have a workaround for now, perhaps we can get back to this proposal

[2020-08-26 23:02] stevenbrix commented on #1045
@VagueGit I'm glad that you have found success with UWP. Naming is hard, and the fact that we call it the "Universal Windows Platform" and it's not really tenable by the vast majority of Windows developers makes it, well, not very "universal". An accurate summary of Project Reunion is to fix this and make every aspect of UWP truly accessible by all Windows developers.

I agree that UWP has a bad n

[2020-08-26 23:12] YuliKl commented on #3198
Thank you for the the proposal @mcarthur-cpt. The WinUI team does not own the File Explorer app, so this work would be outside our scope.

[2020-08-26 23:12] #3198 closed

[2020-08-26 23:13] YuliKl commented on #3193
Sounds like the question is resolved. Closing.

[2020-08-26 23:13] #3193 closed

[2020-08-26 23:15] YuliKl commented on #3185
It's not a bug, although we are looking into updates to the shadow implementation to enable some sort of cutout that avoids the muddy visual you're seeing.

[2020-08-26 23:37] AzAgarampur commented on #3134
Question: Why did we move away from the spinning dots? Almost every progress ring uses that, even the Windows bootloader.

[2020-08-27 04:57] VagueGit commented on #1045
I like the idea of WinUI Desktop template. More appropriate than Win32 and forward looking. It's the template we would start with whereas Win32 suggested a 32bit constraint. WinUI Desktop will hopefully get some traction in the media and among devs.

[2020-08-27 05:06] VagueGit commented on #1045
When a UWP app is released outside the store the package is .appinstaller. If we upgrade that app to Win UI Desktop, the installer package changes from appinstaller to msix.

Assuming we keep the details within the app package the same and bump the version appropriately, will Windows recognise this is a new version of the same app and preserve local data, or will it install it as a different app?

[2020-08-27 06:04] thsparks commented on #3132
Thanks for taking a look. That does capture the scenario, yes, and I see that it doesn't repro in Uno Playground, but it still repro's for me in a local app (i.e. built and run from Visual Studio). I'm not sure if there would be any expected differences between the two... If you have time to give it a try, are you able to repro outside of Uno Playground?

Initially I tried it using the code behind

[2020-08-27 07:31] lmcdougald commented on #1045
From my understanding, WinUI 3.0 will never be consumed from .NET Framework <= 4.8. So if we're talking about WinUI, we're either talking about .NET Native or .NET 3.1/5+.

Any suggestions as to how to advance/ask further about framework packaging for .NET 5 (or I guess 6 at this point)? I opened an issue and got no response. Bundling .NET 5 in-app is a nonstarter.

[2020-08-27 07:52] pjmlp commented on #1045
@stevenbrix

Unfortunately another big difference is .NET developers being forced to drop to C++ for APIs like DirectX, whose team clearly refuses to make them UWP compatible in spite of being COM based.

And in the process drop back to the productivity days of manually writing MIDL with a nice notepad like experience, and copying files around, apparently Windows team cannot let go of ATL like dev

[2020-08-27 07:54] #2589 closed

[2020-08-27 07:55] under3415 commented on #2589
No worries. I ended up coding it myself with frame instead of using navView.
thanks
D

[2020-08-27 08:36] Felix-Dev opened #3204 "NavigationView: Cleanup overflow button logic"
With PR https://github.com/microsoft/microsoft-ui-xaml/pull/3063 now merged several cleanup changes were not yet made in order to preserve backward compatibility. Once we can release WinUI in a version where we are allowed to make breaking changes, we should:

* merge the styles `NavigationViewOverflowButtonStyleWhenPaneOnTop` and `NavigationViewOverflowButtonNoLabelStyleWhenPaneOnTop` into a new

[2020-08-27 10:41] icnocop commented on #2957
Is there a work-around?

[2020-08-27 13:49] densonpd commented on #2512
While migrating from MFC to WinUI (I.e. Create WinUI Desktop application and reuse the logic in MFC application), can we use MFC classes such as CString, CArray etc in WinUI project?

[2020-08-27 15:27] chingucoding commented on #390
Right I see. I'll look into this.

[2020-08-27 16:28] stevenbrix commented on #2957
This sounds somewhat familiar, can you try adding this to your project file:
[code]

[2020-08-27 16:43] sylveon commented on #1045
The DirectX APIs cannot be modified for WinRT compatibility because it would be a significant API break for existing consumers, and that just cannot happen.

There are multiple managed wrappers available for DirectX, like [TerraFX](https://github.com/terrafx/terrafx.interop.windows) which is a raw 1:1 binding or [Vortice](https://github.com/amerkoleci/Vortice.Windows) which is a more C#-style API

[2020-08-27 16:58] pjmlp commented on #1045
@sylveon

Don't be surprised that the Windows development community ignores whatever comes out of Redmond.with such justification for productivity drop.

[2020-08-27 17:01] sylveon commented on #1045
The same was happening with CX... it was largely unused because C++ developers don't like proprietary language extensions.

[2020-08-27 17:14] stevenbrix commented on #1045
@VagueGit, this is a great question. At the end of the day, the tech for installing UWP and Desktop apps is the same. I feel like the answer is yes? I think as of more recent SDKs, even UWP apps have the .msix extension (I could be wrong, so don't quote me). I'm sure you could try this out locally and find out? @adambraden for fyi.

@lmcdougald I think I know which issue you are referring to (but

[2020-08-27 18:41] lmcdougald commented on #1045
Thank you for the response – I’m content with “everyone is aware this is something that needs to be done” and I’ll live with an inflated binary for a year or so.
From: Steve Kirbach<mailto:notifications@github.com>
Sent: Thursday, August 27, 2020 10:15 AM
To: microsoft/microsoft-ui-xaml<mailto:microsoft-ui-xaml@noreply.github.com>
Cc: lmcdougald<mailto:luke.mcdougald@outlook.com>; Mention<mailto:m

[2020-08-27 20:16] AdamBraden commented on #1045
@stevenbrix and @VagueGit - you should still be able to use an appinstaller file for your msix packages.  the appinstaller file is nothing more than a json file providing the uri to your packages. Since you mentioned enterprise scenarios, you could customize the appinstaller uri's appropriately for internal locations, or make them different for external access as well - all dpeendent upon your CDN

[2020-08-27 21:43] eduardoaguacate opened #3206 "Navigation View selection not always showing up when adding items in asynchronous thread."
I think this is related to:  https://github.com/microsoft/microsoft-ui-xaml/issues/3015 NavigationView selection change and child items

When the selection is done in an async way, it never updates the UX with this.

Github repo: https://github.com/ejserna/MenuExample-WinUI-2.4.3-C-CX

This code is in `MainPage.xaml.cpp`
**Steps to reproduce the bug**

![NoSelection_WinUI_NavView](https://user-ima

[2020-08-27 23:00] RicardoCorralT commented on #2669
@codendone Hi Mike, do you know if the PrintDialog team has any updates? Thanks.

[2020-08-27 23:01] #1877 closed

[2020-08-27 23:05] YuliKl commented on #3206
I believe this is a dupe of #2845

[2020-08-27 23:07] icnocop commented on #2957
Thank you, @stevenbrix!

That worked! 🎉

[2020-08-27 23:29] ejserna commented on #3206
I see how  they are related. However, in that bug it's about selecting an item in a hierarchical navigation view. This navigation view isn't hierarchical.

[2020-08-28 01:54] gabbybilka commented on #913
Hello again! A few updates:

- The spec has continued to be reviewed and iterated upon. Please feel free to check it out at this [PR](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/94) and leave comments. A notable change is the addition of a generic ActionButton property that will take in your own content that inherits from ButtonBase.
  - An inconsistency in the current mockups I woul

[2020-08-28 01:58] zhuxb711 opened #3208 "Proposal: allow select all text in AutoSuggestBox like TextBox"
# Proposal: [allow select all text in AutoSuggestBox like TextBox]

## Summary

## Rationale

* AutoSuggestBox is based on TextBox, so it should be allowed to select all text

## Scope

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow develop

[2020-08-28 01:59] zhuxb711 commented on #3191
Any solution about this?

[2020-08-28 02:59] zhuxb711 opened #3209 "Sometimes CommandBarFlyout will separate when it first pops up"
**Describe the bug**

Sometimes PrimaryCommand and SecondaryCommand will separate when it first pops up

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Try repeatedly, there is a certain probability that it will trigger

**Expected behavior**

Should not be separated

**Screenshots**

![image](https://user-images.githubusercontent.com/42038175/91516189-67062200-e91d-11ea-8ce2-

[2020-08-28 07:58] Felix-Dev commented on #3208
@zhuxb711 Do you mean adding a [SelectAll()](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textbox.selectall?view=winrt-19041#Windows_UI_Xaml_Controls_TextBox_SelectAll) API to the AutoSuggestBox? (You can already select all the text in a AutoSuggestBox per click interactions like with a TextBox today.)

[2020-08-28 08:16] zhuxb711 commented on #3208
@Felix-Dev Yes, but I could not found SelectAll() in AutoSuggestBox

[2020-08-28 09:25] densonpd opened #3210 "Question: Do WinUI Desktop Application (C++) support MFC classes and COM Interfaces?"
In an MFC application, there will be logic implemented in event handlers and those logics may contain MFC classes.
- While migrating an MFC UI to WinUI application, is it possible to re-use those logics containing MFC classes CString, CArray etc?
- Is it possible to include a library which has MFC dependency in WinUI Desktop Application?
- Can WinUI applications communicate with other COM applicat

[2020-08-28 11:06] kareemsulthan07 commented on #3067
I have an UWP project. Recently I successfully created a package and submitted to the Microsoft Store. Today (28/Aug/2020), after changing some UI, when I try to create another package with higher version number for submitting it to the Microsoft Store, it is throwing this error. "The "CompileXaml" task returned false but did not log an error."

This error is particularly happening when Visual Stu

[2020-08-28 13:28] stevenbrix commented on #3067
@kareemsulthan07 can you try running this command from a developer command prompt?

[code]

[2020-08-28 14:05] stevenbrix commented on #3067
@kareemsulthan07 and @AnriaruDoragon, are there any other errors or warnings you see in the ErrorList or Build output window?

[2020-08-28 15:41] jasonvasquez commented on #2949
@stevenbrix no problem! Thanks for the update and workaround.

[2020-08-28 17:38] Manuel637 commented on #3115
Interoperability Question: For extensive 3D applications I would like to know if it is easily possible to use the awesome WinUI GUI features in combination with raw DirectX processing so that e.g. the WinUI controls either overlays the DirectX output or the DirectX output is written to a Panel/Control?

[2020-08-28 18:16] dotMorten commented on #3115
@Manuel637 It is! Jump to the 18:30 point in this presentation to see my demo where I do exactly that! https://channel9.msdn.com/events/Build/2020/INT116?term=winui&lang-en=true
The control I use is the `SwapChainPanel` control.

[2020-08-28 18:37] alexandrevk opened #3211 "Visual Studio 2019 Preview Version 16.8.0 Preview 2.0 unable to create WinUi 3 project"
**Describe the bug**
Unable to create WinUi project in Visual Studio 2019 Preview Version 16.8.0 Preview 2.0
The above VS version is incompatible with .NET 5 preview 5. WinUi in desktop project failed to create with .NET 5 preview 8

Steps to reproduce the behavior:
1. Go to 'File/New/Project
2. Select C# Windows WinUi Blank App, Packaged(WinUi in desktop)  template
3. Click Create

**Expected beh

[2020-08-28 18:49] pjmlp commented on #3115
@Manuel637 It is via  `SwapChainPanel`, the caveat is that you will be forced to use C++, as there isn't any MS support to do it from . NET directly.

[2020-08-28 19:43] lolametro commented on #3211
Can reproduce, I have the same problem.

[2020-08-28 20:13] dennykim commented on #2011
Are there any updates on this? Using a `ListView` as a workaround isn't an ideal solution.

[2020-08-28 20:14] alwu-msft commented on #3211
VS 2019 16.8 Preview 2 includes .Net 5 Preview 8, which WinUI 3 Preview 2 is unfortunately not compatible with. However, now that VS 2019 16.7 is generally available, our recommendation is that you use that instead of the VS 2019 Preview for now while we work on supporting newer previews of .Net 5.

[2020-08-28 20:24] lolametro commented on #3211
Thanks for the info, this works!
Could you also update the documentation to mention this? https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#install-winui-3-preview-2

[2020-08-28 20:48] alwu-msft commented on #3211
I'm glad to hear that it works for you! We've already started the process of updating the documentation.

[2020-08-28 22:44] JeanRoca commented on #1045
@stevenbrix @VagueGit I will reply with the information I currently have on the wizard like experience. I am still very new in this role so feel free to take everything I say with a grain of salt. With that being said, my team is currently driving the efforts in [Windows Template Studio](https://github.com/microsoft/WindowsTemplateStudio). This application currently lets you create a new WPF or UW

[2020-08-28 23:05] YuliKl commented on #3210
@MikeHillberg FYI

[2020-08-29 01:00] #2415 closed

[2020-08-29 01:33] akunzz commented on #2949
I got the same error, pls helps....

[2020-08-29 07:25] huoyaoyuan commented on #2677
@stevenbrix I tried on my another machine, and the issue is still present.
Here is the binlog produced.
[XamlControlsGallery.binlog.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5144885/XamlControlsGallery.binlog.zip)

[2020-08-29 14:23] kingofthebongo2008 commented on #2422
I am experiencing this crash when i try to use examples here for XAML Islands

100% repro

Os : 20h2 19042.487

Microsoft.UI.Xaml version 2.4.3

https://github.com/freistli/ModernizeApp/tree/master/MFC/MFCAppWinUI

[2020-08-29 14:44] AnriaruDoragon commented on #3067
@stevenbrix No other errors.

An error occurs when you trying to generate app bundle for Release x86 and x64

`msbuild /p:AppxBundlePlatforms="x86|x64" /p:Configuration=Release /p:BuildAppxUploadPackageForUap=true /p:AppxBundle=Always /bl`
returns error (russian, sorry)
[code]

**[msbuild.binlog (Google Drive)](https://drive.google.com/file/d/15Gujo0wdz_lazexVVI9QSELMZuOzYCNL/view?usp=sharing)**

[2020-08-29 17:34] ad1Dima commented on #3101
I think this is better than #1488

[2020-08-29 21:17] AnriaruDoragon commented on #3067
After `msbuild` command Build works fine until you change something.

[2020-08-29 21:55] stevenbrix commented on #2949
@akunzz you can either uninstall preview8 and install preview5 of .net5, or keep preview8 installed and use the install scripts and global.json workaround I described above.

Either way, you need to use VS16.7.2.

[2020-08-29 21:56] isaac-mcgarvey opened #3213 "TeachingTip crash (null dereference in CDependencyObject::ValidateCornerRadiusValue)"
**Describe the bug**
I'm seeing a crash when trying to hook up a TeachingTip to a custom button control. The TeachingTip is assigned to the button via a dependency property, similar to Button.Flyout. I've created a small repro app:

https://github.com/isaac-mcgarvey/TeachingTipCrash

Here's the XAML:
[code]

And the control:
[code]

I've also tried doing this this as an attached property on Button

[2020-08-30 07:03] nickrandolph commented on #2949
A couple of extra comment for anyone trying to get this:
- Run the Install-Dotnet script from an elevated prompt
- If you're creating a new solution, create an empty solution, put the global.json file in the same folder as the .sln file and **then** you can add the WinUI for desktop project to the solution. If you don't do this, you'll see the error listed in the issue above, even if you've run th

[2020-08-30 07:33] nickrandolph commented on #2949
Now getting the following error when attempting to build and run - any help would be appreciated:

 error NETSDK1005: Assets file 'c:\temp\App5\App1\App1\obj\project.assets.json' doesn't have a target for '.NETCoreApp,Version=v5.0'. Ensure that restore has run and that you have included 'net5.0' in the TargetFrameworks for your project.

[2020-08-30 07:53] hupo376787 opened #3214 "Image control become black sometimes when used in ItemsRepeater"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
I'm using Image control in ItemsRepeater. The general XAML is like below.

[code]
But sometimes, when I go to other pages and back, some Image control becomes black. Sometimes, I scroll up/down, then scroll back, the same situation. I guess the image is disposed of by memory when navigating to other pages. But I

[2020-08-30 08:22] pjmlp commented on #1045
They love them on clang, GCC, Intel. xlCC, PGI, CUDA, C++ Builder and the plethora from embedded platforms.

Obviously CX was killed due to politics that cannot accept a C++ RAD environment coming from Microsoft, and rather have us all doing MDIL/ATL with a notepad like experience instead.

[2020-08-30 08:35] sylveon commented on #1045
I avoid them at all costs no matter the compiler. Especially when said proprietary extension is a completely different language on its own.

[2020-08-30 08:46] pjmlp commented on #1045
Then why coding against a proprietary UI like WinUI, just use open standards like X Windows instead.

[2020-08-30 09:15] sylveon commented on #1045
... as if that's usable on Windows. I avoid compiler extensions because I want to multitarget compilers (Clang and MSVC) for standards compliance validation and want to use newer C++ standards.

My code uses C++20. Many language extensions lack C++17 support or got it very late. This situation will repeat with C++20 (or worsen since C++20 has a lot more new stuff than 17 did). For example, you can

[2020-08-30 10:06] mc0re opened #3215 "What magic is applied to Binding.Path property so it is default?"
I'm trying to create a custom extension (localization from a server-side database).
The goal:
[code]
I tried:
[code]

But having the parameterized constructor does not seem to help, I get an error:
[code]

So I assume there is a class or property attribute. But I can't find the source code for `Binding` markup extension. Can you help me out here?

[2020-08-30 12:51] pjmlp commented on #1045
@sylveon You perfectly portable C++20 for WinUI is completely useless outside Windows, go have fun with Qt without extensions as well.

Because nothing else worth using is left for C++ desktop users.

Thanks for confirming that senseless politics are what killed CX.

[2020-08-30 13:46] hansmbakker commented on #1045
Suggestion for both to be friendly to each other. I cannot comment on the technical c++ arguments and won't judge who is right.
The point is that phrases like `go have fun with X` are not setting a friendly and collaborative ambience here.

[2020-08-30 16:40] stevenbrix commented on #1045
Thanks @hansmbakker ☺️

@pjmm and @sylveon I appreciate the passionate and honest conversation, it's great to have customers like you that care.

Both points are extremely valid, and I think the world is big enough for both you to be right.

@pjmlp we are not satisfied with the current experience for c++, and do recognize that we need to do something before c++ metaclasses. We've had some discussi

[2020-08-30 17:48] Difegue commented on #2685
In a similar fashion, CollectionViewSources don't implement `IItemsRangeInfo`, which is classically used in [random access data virtualization.](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/listview-and-gridview-data-optimization#random-access-data-virtualization)

Both `ISupportIncrementalLoading` and `IItemsRangeInfo` are usually the go-tos for data virtualization in ListViews, a

[2020-08-30 18:46] sylveon commented on #1045
I'd be very much interested in an IDL free C++/WinRT.

The IDE experience isn't the best either. For example we can't create an event callback from the XAML editor like we can with C# (the create new callback drop-down does nothing). Navigate to definition from the XAML editor also doesn't works.

Other problems with it are the various XAML compiler bugs I filled in this repo, which makes me requi

[2020-08-30 19:10] jindal1979 commented on #1710
This is very much desired functionality. The developer should be able to change the size of icon, this is particularly useful with Navigation at Top. I would like to Upvote for this functionality.

[2020-08-30 21:26] MarkIngramUK commented on #1045
@stevenbrix , I'd like to add my voice to IDL-free C++/WinRT (and certainly don't want to see a return to C++/CX). We write cross-platform software, and we compile with both MSVC and LLVM (including on Windows), so standards compliant C++ is very important to us.

[2020-08-31 01:03] mustafaasaber opened #3218 "Cascading styles in xaml"
I hope introducing cascading styles in xaml like one on css

[2020-08-31 03:47] kareemsulthan07 commented on #3067
Alright, I fixed this issue. This is what was wrong with my solution and what I did to resolve the issue.

1. I renamed a Xaml resource key, but in one file of the project (UWP) was still using the old resource key. I changed it to the new resource key.
2. In my solution, projects were using different versions of the same nuget packages, like ms.netcore.uwp, ef core, uwp community toolkit, etc., I

[2020-08-31 06:47] pjmlp commented on #1045
@stevenbrix ,

Which just goes to show how bad this whole idea with C++/WinRT was to start with, ramping it down on us without any consideration for our productivity drop.

To put this in perspective, long time developer whose Windows developer experience goes all the way back to Windows 3.0, and nowadays C++ is mostly relevant to be used alongside .NET based applications, never on its own alone.

[2020-08-31 07:02] sylveon commented on #1045
C++ is very much still relevant standalone. A lot of applications are written in raw C++ without any managed code running. In fact, the entire UWP runtime and XAML/WinUI framework is native C++. An UWP app written in C++ has (thankfully) no managed language involved.

I'd argue that if you feel the need to drop to C++ in .NET, you should ask yourself *why* and try to address those issues directly

[2020-08-31 07:34] pjmlp commented on #1045
@sylveon Easy, because of the APIs that the Windows team refuses to make available as UWP and no third party bindings don't count, not everyone is blessed with a legal department that lets anything go, without considerations of license and future support issues.

Borland (now Embarcadero), and The Qt Company have shown how to do it, it is up to Microsoft to decide how relevant they want to keep th

[2020-08-31 07:55] MarkIngramUK commented on #1045
@pjmlp  we have cross-platform applications with millions of lines of ISO C++ that work just fine on iOS/macOS/Windows. C++ is the only language to use when you care about performance and / or battery life. C++ extensions are no good for us as we use multiple compilers (who obviously don't implement each other's extensions).
We've used C++/CLI previously and it is such a pain. Restrictions such as

[2020-08-31 14:15] jtorjo opened #3219 "[uwp] crash XamlParseException: The text associated with this error code could not be found."
Basically, this happens to about 5% of my users, and I simply don't understand why. This happens EXACTLY at startup, roughly 5-20 seconds in.

[code]
This clearly works correctly on most machines, so I really don't know why this would happen. It might happen on slow machines, and/or related to something async. Anyone can shed any idea on this? Thanks!

[2020-08-31 18:45] Felix-Dev commented on #1710
@janismarieafable It suspect what you are *primarily* asking for here is an increase of the hit target area, especially in closed compact mode:
![image](https://user-images.githubusercontent.com/1398851/91747491-91c2d580-ebbe-11ea-8c4b-5590152d3c66.png)

Those hit target areas can definitely be too small if I picture such a scenario you are mentioning here.

There already exist a few APIs today wh

[2020-08-31 18:59] jp-weber opened #3220 "Proposal: ContentDialog.ShowAsync() should be extended by ShowAsync(CancellationToken)"
## Summary
Currently it is not possible to dismiss the ContentDialog in a simple way outside the user control (for example for multiple ContentDialogs). It would be great, if 'ShowAsync()' would be expanded with the option to pass a CancellationToken.

## API Changes

[code]

[2020-08-31 19:22] abhi-msft opened #3221 "Is setting environment variables allowed in WinUI3 Desktop app? (Error: Requested registry access is not allowed)"
**Is setting environment variables allowed in WinUI3 Desktop app?**

I am seeing '**Requested registry access is not allowed**' error with Stack Trace :
at Internal.Win32.RegistryKey.OpenSubKey(String name, Boolean writable)
   at System.Environment.OpenEnvironmentKeyIfExists(Boolean fromMachine, Boolean writable)
   at System.Environment.SetEnvironmentVariableFromRegistry(String variable, String

[2020-08-31 20:27] #155 closed

[2020-08-31 20:27] #2202 closed

[2020-08-31 20:47] stevenbrix commented on #2677
@huoyaoyuan do you have the setting in VS to enable preview versions of .NET Core SDKs?

![vs-enablepreview](https://user-images.githubusercontent.com/9649518/91767086-73de7c00-eb90-11ea-9663-6b497202e27c.png)

[2020-08-31 21:05] YuliKl commented on #3143
I'm not able to repo the problem. The "radial gradient brush" item is being announced as "1 of 2, level 2" as expected.

[2020-08-31 21:05] #3143 closed

[2020-08-31 21:13] #3129 closed

[2020-08-31 22:45] Felix-Dev commented on #3183
I'm no expert with the implementation of accessibility info so I don't assume I have the complete picture here. That said, I took a closer look at this. According to the documentation, headered controls typically would use the [AutomationProperties.LabeledBy](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationproperties.labeledbyproperty?view=winrt-19041) API to read out

[2020-08-31 22:47] arjunbalgovind opened #3222 "UWP or Xaml Island app crashes on pressing the clear button in the hex Input textbox in ColorPicker"
**Describe the bug**

If a ColorPicker element is declared with the `muxc` namespace as in the following snippet, then the entire app crashes without any exception trace on clicking the clear button on the hex input box. This can also be reproduced on the Xaml Controls Gallery repository.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run Xaml Controls Gallery and open the Co

[2020-08-31 22:50] arjunbalgovind commented on #3222
On a related note, I wanted to clarify should all the xaml controls be accessible without the `muxc:` reference if `<XamlControlsResources xmlns="using:Microsoft.UI.Xaml.Controls"/>` is added in the `ResourceDictionary` ? I observed that if I don't add `muxc:` before a `NumberBox` element it can't be found. If this is unexpected behavior or not a known issue I can create a separate issue for this.

[2020-08-31 23:03] Felix-Dev commented on #3222
I would like to look into this issue.

[2020-08-31 23:09] StephenLPeters commented on #3221
Administrator access is not currently supported so if your environment variable accesses a part of the registry that requires it you wont be able to. Otherwise it should work.

[2020-08-31 23:11] abhi-msft commented on #3221
I am trying to add a simple environment variable which is resulting in error.

[2020-08-31 23:11] abhi-msft commented on #3221
If it doesn't work, do we have any alternative?

[2020-08-31 23:16] StephenLPeters commented on #3219
@jtorjo unfortunately we are going to need more info to get to the bottom of this. Is there anyway that you can provide a repro for us to debug or maybe a crash dump?

[2020-08-31 23:18] StephenLPeters commented on #3215
@MikeHillberg Can you weigh in here?

[2020-08-31 23:20] StephenLPeters commented on #3214
@hupo376787 Are you able to provide a repro app that we could use to debug this issue?

[2020-08-31 23:23] Felix-Dev commented on #3222
@arjunbalgovind To my understanding, this is expected because the [documentation](https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started) states that you should add
[code]
to your XAML files where you want to use WinUI controls (and thus preface them with "muxc:"). Not prefacing controls with "muxc:" (or however else you named that XAML namespace) will mean that the OS XAML wil

[2020-08-31 23:24] StephenLPeters commented on #3206
I think you are right, this sounds different.

[2020-08-31 23:27] ranjeshj commented on #3222
Looks like the crash is at this point. I think we need a null check.

![image](https://user-images.githubusercontent.com/28935693/91778216-ae531380-eba6-11ea-9a3f-9136f9875071.png)

 	[Inline Frame] Microsoft.UI.Xaml.dll!winrt::Windows::UI::Xaml::SizeChangedEventHandler::<lambda_116d06a59ca91ebc1c22d588fa239c31>::operator()(const winrt::Windows::Foundation::IInspectable &) Line 13334	C++
 	Microso

[2020-08-31 23:29] Felix-Dev commented on #3222
@ranjeshj Yes, already added one. Will also look into creating test coverage for this. If it's fine with you I'd create a PR tomorrow.

[2020-08-31 23:32] StephenLPeters commented on #3199
Without a crash dump, or at least knowing which type is causing this crash I think it is going to be difficult to track this down. Is there anymore info you are able to provide?  I wonder if we have a type that we changed the template for and removed the HeaderContentPresenter, but the app was referencing it and that is causing the crash on newer versions.

[2020-08-31 23:33] StephenLPeters commented on #3199
here is some info on collecting crash dumps https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps

[2020-08-31 23:34] StephenLPeters commented on #2422
@codendone FYI

[2020-08-31 23:42] StephenLPeters commented on #3221
@stevenbrix @Austin-Lamb or @JesseCol fyi?

[2020-09-01 01:31] edward-a commented on #1959
Is this going to be fixed in WinUI 3? This is a serious flaw regardless what docs say.

[2020-09-01 03:54] jtorjo commented on #3219
@StephenLPeters Well, this is quite sad, because those customers have clearly uninstalled my app and are far gone now. Had it happened on my computer, I would have provided you with anything you want. But this is not the case.

I mean, if there's anything more I can do on my end, so that if this happens in the future, I can record more info, for sure I'll do it. Just please let me know how I can d

[2020-09-01 04:24] andrewleader commented on #3199
Closing as dupe of #2719, I'm no longer seeing this crash after implementing the workaround in #2719. So must have been related to that (hopefully this issue helps anyone else who runs into that!)

[2020-09-01 04:24] #3199 closed

[2020-09-01 06:27] huoyaoyuan commented on #2677
@stevenbrix Thanks, that solves the problem. I always use `global.json` to specify preview SDK and have nearly forgotten the global switch.

[2020-09-01 06:32] #1880 closed

[2020-09-01 09:44] worldbeater commented on #1948
Well, even with the workarounds suggested in the [article](https://www.irisclasson.com/2014/03/02/6-ways-of-setting-design-time-data-in-windows-store-apps-xaml-and-c/), design-time instances still aren't supported for the `{x:Bind }` markup extension. There are [questions](https://stackoverflow.com/questions/31766366/uwp-xbind-and-design-time-data) on StackOverflow regarding this topic since 2016,

[2020-09-01 10:18] Austin-Lamb commented on #3221
@abhi-msft - This is unrelated to WinUI - which is just a UI framework, so most likely the security restriction you're experiencing is due to the security container that Desktop Bridge apps (aka MSIX) are put in.  See here for more details: https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-behind-the-scenes

I'm going to close this issue since it's not something that the UI fram

[2020-09-01 10:18] #3221 closed

[2020-09-01 11:29] worldbeater commented on #1948
None of the suggested approaches that use `x:Bind` worked, so writing the following code seems to be the only way of supporting both design time instances and `x:Bind` markup extension. Appears to be quite verbose though.
![MJ7wWH9VwTI](https://user-images.githubusercontent.com/6759207/91844017-63490700-ec5f-11ea-9afc-27867595d761.jpg)

[2020-09-01 14:27] yaichenbaum commented on #3180
Removing the blank space is something I would like to see as well, this an issue I sometimes run into even with a description in the dialog. An example where I recently had this issue was with a confirmation dialog for deleting files. The dialog still had a description letting the user know the number of files selected, however it was very short and there was unnecessary blank space in the dialog.

[2020-09-01 14:40] MarcAnt01 commented on #3180
Yeah, I think having a minimum eight that cannot be reduced makes no sense at all, too

[2020-09-01 15:12] stevenbrix commented on #2677
@huoyaoyuan, fantastic! Yeah, I usually get different errors when I don't have this enabled, you can thank @alwu-msft for this one :)

[2020-09-01 15:28] stevenbrix commented on #3017
This seems problematic for unpackaged apps, which will essentially behave identically to pre-release versions of WinUI2.x.

@JulienTheron what is the expected/desired behavior in this scenario?

[2020-09-01 17:17] JulienTheron commented on #3017
@stevenbrix I'm sorry but I'm not following you there. WinUI 2.x is a library for UWP apps. What do you mean by "unpackaged"?

[2020-09-01 17:19] arjunbalgovind commented on #3222
@ranjeshj when can we expect a pre-release with this fix?

[2020-09-01 17:49] chingucoding opened #3225 "Setting REB Document Selection Foreground doesn't skip if new foreground is the same as the old"
**Describe the bug**

When setting the Foreground property on the Selection of a RichEditBox Document object, it does not get ignored when the new value is actually the same as the old one. See [this PR for more context](https://github.com/microsoft/Xaml-Controls-Gallery/pull/535).
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create RichEditBox
2. Set foreground through:
[co

[2020-09-01 18:14] StephenLPeters commented on #3183
The TextBox hack is pretty funny but seems unreasonable. @YuliKl do you know the proper way to set up this relationship? @MikeHillberg we've been doing a lot of changing properties which would naively be strings to objects instead to allow for more customization.  This could be a potential issue with that strategy?

[2020-09-01 18:22] StephenLPeters commented on #2594
I agree, this doesn't repro for me.

[2020-09-01 18:22] #2594 closed

[2020-09-01 18:28] StephenLPeters commented on #2727
It would be the Scrollbar template that would need pulling out right?  @llongley I think you did a lot of that work right? would it be easy enough?

[2020-09-01 18:30] chingucoding commented on #2727
Yes, I think for this specific case, it would be the ScrollBar which turns out is already in WinUI. I'll take a look at this issue then, if that's fine.

[2020-09-01 18:37] stevenbrix commented on #3017
Sorry, I was referring to WinUI3, which will support unpackaged desktop apps.

The way that apps will consume WinUI3 in unpackaged desktop apps will be very similar to how apps consume preview bits of WinUI2.x

[2020-09-01 18:40] StephenLPeters commented on #2727
Huh, for some reason I thought that hadn't been lifted out. Cool! yeah I think this is actionable in winui2

[2020-09-01 18:43] YuliKl commented on #3183
I don't know the right way to implement this. The issue definitely feels like a bug we should try to fix. @kmahone any ideas?

[2020-09-01 18:46] StephenLPeters commented on #429
That's believable, @ranjeshj can you confirm and close?

[2020-09-01 18:50] Felix-Dev commented on #2757
I have added a separate test page to play around with the `HexadecimalFormatter` implementation in [my local repo](https://github.com/Felix-Dev/microsoft-ui-xaml/tree/user/Felix-Dev/numberbox-hexsupport):

![hexademimal-formatter](https://user-images.githubusercontent.com/1398851/91893275-2b0feb80-ec94-11ea-8ffc-670e94acb06c.gif)

The test page can be found on the new landing page for NumberBox te

[2020-09-01 18:51] #2151 closed

[2020-09-01 18:55] Felix-Dev commented on #3183
The header is read out fine by Narrator for a `ComboBox`, for example, which seems to have more or less the same setup as our `RadioButtons` control here (it also uses a `ContentPresenter` for its header). So my first thought here would be to just take a look at how the ComboBox implements this Narrator behavior and then just shamelessly copy/paste that login into our `RadioButtons` control.

[2020-09-01 18:57] StephenLPeters commented on #1764
I'm not sure where the issue is, it could be a framework issue, but it could also be a weird by design quirk with how the app is importing the winui 2 package.. I think this could be looked into more before we push it to winui 3, however I don't think we have the resources.

[2020-09-01 19:02] StephenLPeters commented on #1048
I think it should actually just be closed, Winui 3 wont have OS version specific code and from the comments it looks like this was fixed in 1903 so it should already be fixed in Winui 3. @alwu-msft can you confirm and close?

[2020-09-01 19:15] StephenLPeters commented on #2204
agreed, should be easy, of note though, https://github.com/microsoft/microsoft-ui-xaml/issues/2672 IsReadOnly on textbox doesn't offer any affordance of read only.

[2020-09-01 20:15] robloo commented on #1764
I certainly agree there is no need to look at this before WinUI 3.0. Let's wait until WinUI 3.0 is solid and then I can test again to see if it has been fixed. I expect it is a strange case that might just disappear by then.

[2020-09-01 20:34] robloo commented on #2204
@StephenLPeters Well, the best we can do is match the behavior of the TextBox and I think that's fine for this. If/when TextBox is improved the NumberBox would automatically get the same improvements as it will just forward to the InputBox.

The only added complication I thought of for the NumberBox is we will have to adjust the visual states. The up/down buttons will need to be disabled as well.

[2020-09-01 20:41] ranjeshj commented on #2405
Thanks @Going-Gone  and @Felix-Dev. Reopening this issue since we do have a repro.

[2020-09-01 20:47] ranjeshj commented on #833
It does seem weird to show the selection indicator and selection animation for the main menu items and the settings item, but not the footer items that go in between them.

[2020-09-01 20:52] ranjeshj commented on #2917
@jindal1979 Ana is correct. WinUI3 Preview2 is not production ready. An app built on WinUI3 Preview2 can get broken by an update to the OS currently, so this is not recommended or supported got production apps.

[2020-09-01 20:54] Felix-Dev commented on #2405
@ranjeshj I couldn't repoduce this for the **TreeView** control. @Going-Gone and I above managed to repro an issue in the **NavigationView** control here which is tracked by issue https://github.com/microsoft/microsoft-ui-xaml/issues/3200. I think you can close this issue here again until someone manages to repro this specific TreeView on the newest WinUI bits again.

Sorry for the confusion.

[2020-09-01 20:55] chingucoding commented on #833
The question here is, whether we still aim to support putting them in the panefooter instead of using the new FooterItems API here. There are arguments for both sides here. Fact is that the FooterItems work fine, however NavViewItems in the PaneFooter are only partially functional.

I think the reason why the pane footer configuration is not really working is based on the fact that the NavViewItem

[2020-09-01 21:02] ranjeshj commented on #2685
Both ISupportIncrementalLoading and IItemsRangeInfo seem targeted towards flat collections, not collection of collections, so I'm not entirely sure how these map in grouped cases. @MikeHillberg any ideas ?

[2020-09-01 21:14] ranjeshj commented on #3129
@sis2004 Given that the fix is in master, it should be available in the next pre-release (couple of weeks time).

[2020-09-01 21:27] ranjeshj commented on #3222
@arjunbalgovind assuming the fix goes in before the next pre-release, it should be available in the next pre-release (couple of weeks time).

[2020-09-01 21:33] ranjeshj commented on #429
I could not reproduce this recently, so we can close this. Thanks for pinging on this issue @chingucoding

[2020-09-01 21:33] #429 closed

[2020-09-01 21:45] robloo opened #3226 "Bug/Refactor: Function declaration should be in Header File"
I believe the following code should be moved to ColorHelpers.h

https://github.com/microsoft/microsoft-ui-xaml/blob/986d48adaccaabd569dab76137543b1102b24b6c/dev/ColorPicker/ColorHelpers.cpp#L11-L18

[2020-09-01 21:53] ranjeshj commented on #3183
Looking at ComboBoxAutomationPeer, we override GetNameCore, call the base to see if there is already a name set (through automation name property). If an automation name is not set, then we provide the header as the name.

[2020-09-01 22:00] robloo commented on #3218
WPF is also a bit more functional in this area.

[2020-09-01 22:00] #2405 closed

[2020-09-01 22:04] Felix-Dev commented on #3183
@ranjeshj I will take a look if that will work here as well.

[2020-09-01 22:20] worldbeater commented on #179
Could you please give us an update on this? Curious if UWP 10.0 18362 supports `INotifyDataErrorInfo`. According to the following documentation page, https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.inotifydataerrorinfo?view=netcore-3.1 `INotifyDataErrorInfo` "applies" to UWP 10.0. However, with UWP 10.0 18362 installed and targeted, the text boxes aren't displaying `INotifyDataEr

[2020-09-01 22:54] robloo commented on #2757
@Felix-Dev This is all really good stuff!

Since we don't have access to WinRT it makes sense to put this where you have it in the WinUI Repo I think.

[2020-09-01 23:03] StephenLPeters commented on #3226
agreed

[2020-09-01 23:05] StephenLPeters commented on #3218
@kikisaints fyi

[2020-09-01 23:31] ranjeshj commented on #833
I see. I think its fine to leave this as is and recommend using FooterItems/FooterItemsSource. @YuliKl should we deprecate this property now that we have FooterItems/FooterItemsSource (remove it in WinUI4 )

[2020-09-01 23:33] StephenLPeters opened #3228 "The texts in calendar flyout overlaps for some languages while using text scaling."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/28770721).

Steps:
1) Go to Settings --> Time & Language --> Date & Time.
2) Select "Simplified Chinese" for Show additional calendars in the taskbar.
3) Click the date and time area in the taskbar to confirm the additional calendar is displayed.
4) Go to Settings --> Ease of Access --> Display.
5) Slide the slider

[2020-09-01 23:43] StephenLPeters commented on #833
The panefooter is where we suggest placing things which are not nav view items, like app branding or a button or something. I don't think we are suggesting removing it.

I think we should either not allow nav view items in the pane footer (or strongly encourage against it) or fix the selection issue.

[2020-09-02 00:11] robloo commented on #3226
Just wanted to get your feedback, I'll do the PR

[2020-09-02 00:40] arjunbalgovind opened #3229 "Setting IsTabStop attribute to False doesn't work for ListView"
**Describe the bug**

IsTabStop does not seem to be recognized for ListView. In my scenario I have a ListView which is "read only" as the SelectionMode is set to None. I would like to remove it from tab navigation for accessibility since the ListView isn't interactive. Setting IsTabStop to false had no effect.

Here is an example code snippet

    <ListView x:Name="Control2"

[2020-09-02 03:47] MuziburRahman commented on #2204
How about some kind of lock icon that will be visible when it is locked?
Like this:

![image](https://user-images.githubusercontent.com/21083609/91929781-f7b77600-ed00-11ea-9747-c0e7bc181018.png)

This way user can easily distinguish it with editable NumberBoxes. Besides, if the spin buttons are inlined, then in 'IsReadOnly' mode, those spins buttons won't be visible anymore. That's another indica

[2020-09-02 04:28] hupo376787 commented on #3214
I'm trying to reproduce a repo.

[2020-09-02 04:38] zalaps commented on #1946
Hello All,
This is indeed necessary. We have started to migrate from MFC to C++/WinRT. Experience has been struggling for now. We have done fair amount of work on sampling of C++ controls. Let me see if I can create a sample public repo for the same.

[2020-09-02 04:51] cdhawan opened #3230 "WebView2: HTML Option element is broken"
**Describe the bug**
HTML Option element is doesn't work in WebView2. The list doesn't opens.

**Steps to reproduce the bug**
1. Create a UWP app with WebView2
2. Set WebView2 source uri to "https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_datalist"
3. Launch the app
4. Try to expand the list from right pane.

**Expected behavior**
The list should expand for the selection. But the list d

[2020-09-02 04:59] cdhawan opened #3231 "WebView2: Tab key doesn't work to switch the focus between elements"
**Describe the bug**
WebView2: Tab key doesn't work to switch the focus between elements

**Steps to reproduce the bug**
1. Create a UWP app with WebView2
2. Set WebView2 source uri to <b>https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_test</b>
3. Launch the app
4. Click on first input box (First name) on the right pane
5. Press tab key to move the focus to the next input field.

*

[2020-09-02 09:06] Shad0wlife commented on #2328
Updated version info after checking on new package and Windows versions. Crash still happens.

[2020-09-02 11:06] Felix-Dev commented on #833
Definitely not remove the PaneFooter API as that allows us to place (interactive) elements inside the NavigationView pane which do participate in the selection model (like @StephenLPeters said).

Adding a recommendation to the documentation sounds good to me (including a note that NavigationViewItems placed inside the `PaneFooter` do not take part in the NavigationView selection). While no functio

[2020-09-02 12:57] JulienTheron commented on #3017
Then it will be a nightmare for library authors as they will have to release a new version of their libraries for each release of WinUI 3.
The expected behavior (at least in C#), is to be able to make a library using, say WinUI 2.4, and to have an application use this library with any version of WinUI greater than or equal to 2.4 (as long as the major version is the same).
This is what any .NET de

[2020-09-02 13:48] SnowyWreath commented on #783
This may be related: in Win10 1809 I've noticed that when an AppBarSeparator is present in the primary commands, it causes the overflow button to always be visible. My command bar only contains primary commands, the default label position is right, and the command bar is wide enough so nothing overflows. If I remove the AppBarSeparator elements, the overflow button disappears.

[2020-09-02 15:04] stevenbrix commented on #3017
No one is forced into this behavior, you can choose to package your app if you like.

WinUI stays up to date due to a tech called "Framework Packages", which are an MSIX package. We only use Nuget as a delivery mechanism for this framework package. I think for most Nuget packages, the binaries are copied to the app output and ship with the app, so your dependencies are pinned.

[2020-09-02 15:16] stevenbrix commented on #179
@worldbeater this is only in available in the latest previews of WinUI3, are you using that?

[2020-09-02 17:44] worldbeater commented on #179
Thank you @stevenbrix! Going to try out WinUI3. Glad to hear `INotifyDataErrorInfo` and UWP are befriending, finally ✨

[2020-09-02 18:52] mc0re commented on #3215
Bonus question - how do I force the app to redraw when the user changes the language?

[2020-09-02 19:55] #2713 closed

[2020-09-02 21:32] robloo opened #3234 "Bug: ColorSpectrum Left/Right Arrow Key Navigation is Reversed."
**Describe the bug**

ColorSpectrum Left/Right Arrow Key navigation is reversed.

**Steps to reproduce the bug**

Navigating on a ColorSpectrum (by itself, works fine in the ColorPicker) by pressing the left arrow will actually move the selected color to the right. Pressing the right arrow moves the selected color left.

Edit: It only happens in certain Components. Setting to Components="Saturatio

[2020-09-02 23:04] StephenLPeters commented on #3234
I confirmed this does repro in the Mux Controls test app.

[2020-09-02 23:14] StephenLPeters commented on #3229
ListView is already not a tab stop, ListViewItems are tab stops by default. You'll need to update the ListViewItemContainterStyle on ItemsControl which sets the IsTabStop on the items to false.

[2020-09-02 23:15] StephenLPeters commented on #3229
I'm going to close the issue, if this doesn't resolve your issue comment here and we can reopen it.

[2020-09-02 23:15] #3229 closed

[2020-09-02 23:16] StephenLPeters commented on #3228
@kikisaints fyi

[2020-09-02 23:37] #3222 closed

[2020-09-02 23:40] #3200 closed

[2020-09-02 23:50] robloo commented on #3234
Ok, I'll add this to my list of things to circle back to.

[2020-09-02 23:57] arjunbalgovind commented on #3229
@StephenLPeters thanks for the help! I was able to prevent the ListView items from getting tab focus using those steps, however I still see that I need 2 tabs to cross a ListView instead of 0. When I tab to it, instead of reaching the next control after the list I'm able to move the horizontal scrollbar with the left/right arrow keys. Is there another property I need to set to avoid this?

[2020-09-03 00:05] robloo commented on #1331
And another use of this directly in WinUI where this request would work perfectly:

https://github.com/microsoft/microsoft-ui-xaml/blob/9c0115f57c21ba1eb7d9e01c5b400356c4d317c1/dev/ColorPicker/ColorPickerSlider.cpp#L197-L210

[2020-09-03 02:00] robloo opened #3235 "Bug: ColorSpectrum off-by-1 Rendering?"
**Describe the bug**

It appears the ColorSpectrum has an off-by-1 bug when rendering the Ring (Box looks OK). The off-by-1 is on the bottom and potentially the right as well.

**Expected behavior**

The bottom and Right of the Ring should not have the last pixel clipped.

**Screenshots**

![image](https://user-images.githubusercontent.com/17993847/92062805-91b20980-ed67-11ea-95c8-31b86a6ce5c6.png

[2020-09-03 02:32] rajeshjha96 commented on #2499
This syntax will really welcome new devs to try out Windows development using XAML. It is short and sweet.

[2020-09-03 05:29] stevenbrix commented on #179
@worldbeater, it's still in preview, so we would love to get your feedback on it! 💪

[2020-09-03 06:02] maxkatz6 commented on #179
@worldbeater by the way, docs says it's available on UWP 10.0, but it doesn't mean it's supported by it. Documentation isn't clear enough.

[2020-09-03 08:47] Felix-Dev opened #3236 "NavigationView: Remove logic checking for WUX NavigationViewItems (WinUI 3)"
With PR https://github.com/microsoft/microsoft-ui-xaml/pull/3232 we are adding back logic to throw an exception when WUX NavigationViewItems are added to a MUX NavigationView. This logic is only needed for WinUI 2 and is not necessary for WinUI 3 and thus should be removed from the WinUI 3 code base.

@StephenLPeters FYI.

[2020-09-03 10:48] andreinitescu commented on #2499
1.

@dotMorten You mention an important aspect, but your example doesn't show the part with "too much code-behind".
In my experience the code behind is necessary only to cover specific lack of MVVM support in the controls. So the actual problem is else where. Even with in the current state, a good way to handle this is by some reusable behaviors so you don't actually have to write that code behind

[2020-09-03 16:43] codendone commented on #2669
@RicardoCorralT They have reassigned the issue to someone who can look at it sooner, but looks like they still haven't started the investigation.

[2020-09-03 17:06] Felix-Dev commented on #3183
@ranjeshj As I thought to recall, overriding GetNameCore() alone doesn't appear to work. Here is what I did:

I created a new `RadioButtonsAutomationPeer` class and overrode `GetNameCore()` like this:
[code]

When focus enters a RadioButtons control with a header "TestRadioButtons", the header isn't read out even though GetNameCore() returns the correct value:

![image](https://user-images.githubu

[2020-09-03 17:07] Austin-Lamb commented on #2704
This bug appears to be fixed internally, hopefully it will be in Preview 3 later this year.

[2020-09-03 20:00] michael-hawker opened #3237 "ColorPicker Tooltip doesn't disappear when focused"
**Describe the bug**
When using the ColorPicker, the tooltip doesn't disappear unless the user clicks somewhere else that takes focus. This causes the tooltip to overlay itself when scrolling. This can be seen pretty easily in the Control Gallery Sample.

![image](https://user-images.githubusercontent.com/24302614/92161184-18f19280-ede5-11ea-9005-bcb6d65b70cd.png)

**Steps to reproduce the bug**
1

[2020-09-03 20:40] Sergio0694 opened #3238 "x:DataType doesn't work with nested types from other assemblies"
**Describe the bug**

Using `x:DataType` doesn't work with nested types from other assemblies.

Consider the following viewmodel code:

[code]

**NOTE:** this code _must_ be placed in a separate project (eg. a .NET Standard 2.0 lib) to repro the issue.
It works fine if the classes are right in the UWP app project.

And the following XAML code:

[code]

The app will fail to build and that data type

[2020-09-03 20:52] Felix-Dev commented on #3097
@chingucoding @StephenLPeters

I have summarized the current most promising ideas being floated around in this issue below. My hope is this will help push this issue forward until it is ready to be implemented.

I think pretty much agreed on this is suggested updated drag & drop behavior of an unselected node. Here it is:
| Selection state | leaf node | parent node |
|---|---|---|
| Unselected | D

[2020-09-03 20:58] chingucoding commented on #3097
Thank you for the detailed post @Felix-Dev !

I would say it is partially selected since its tree is not entirely unselected, however its entire subtree isn't selected either. So neither unselected nor selected are entirely true, leaving us with partially selected. Unfortunately though, this would be a (major) breaking change if I am not mistaken.

Same as an unselected node, drag and drop the nod

[2020-09-03 21:04] Felix-Dev commented on #3097
@chingucoding So the same as suggestion 1 then. This means the two suggestions will only differ in how a drag & drop operation looks like for *selected* nodes.

@StephenLPeters To comment on when a change in the in-built selection logic of the TreeView would be a feasible change - if it should be done.

[2020-09-03 21:18] michael-hawker opened #3240 "Pivot's HeaderClipper HorizontalContentAlignment Property should be exposed as a resource"
**Describe the bug**
Because the Pivot's `HeaderClipper` `HorizontalContentAlignment` property is not exposed and set to `Stretch`.

https://github.com/microsoft/microsoft-ui-xaml/blob/b34c799a11fc9a8237943979b22d335241e78527/dev/Pivot/Pivot_themeresources.xaml#L427

This means to have a pivot with centered header items requires overriding the entire style. This property should be bound to a resou

[2020-09-03 21:27] #3117 closed

[2020-09-03 21:31] #3086 closed

[2020-09-03 22:17] alekhyareddy28 commented on #3179
@ranjeshj There is also an issue (I'm not sure if it is only specific to xaml islands) where we navigate only to the first element of the navigation view on pressing tab and not the selected item.

Ideally we would like to go to the Keyboard manager item, but we always go to general.
![6304](https://user-images.githubusercontent.com/10995909/92176242-e9498700-edf2-11ea-8705-be651cdf316b.gif)

[2020-09-03 22:35] Felix-Dev commented on #3179
Is this really an issue though? The selected NavigationViewItem can be reached with the arrow keys. The documentation also doesn't appear to state this behavior.

Should the NavigationView behave like the RadioButtons control and set focus to the selected item when focus reaches the menu items lists? @YuliKl

[2020-09-03 22:53] Felix-Dev commented on #1955
@tfennel Seeing as Project Reunion is the new home for these types of requests and now also covers on the notification story for UWP and Win32 (see [Notification API spec](https://github.com/microsoft/ProjectReunion/blob/6a430c3bd71b516b93fb6ae71d55841c4222d556/specs/notifications-api/notifications-api.md)) could this proposal be transferred to the Project Reunion Github repo and be re-opened?

cc

[2020-09-03 22:59] Felix-Dev commented on #1919
@marb2000 @andrewleader This seems like a fitting issue for Project Reunion (extended to all Windows apps - UWP and Win32).

[2020-09-03 23:03] marb2000 commented on #1919
@Felix-Dev, yep, this sounds like a Windowing project Reunion thing.

[2020-09-03 23:04] Felix-Dev commented on #2005
This issue should be moved to Project Reunion (and extended to cover all Win32 apps and not just WinUI Desktop apps). Pinging @stevewri as they assigned themself to another [UWP Jumplist API request](https://github.com/microsoft/ProjectReunion/issues/169#issuecomment-686283626).

[2020-09-03 23:07] robloo opened #3242 "Proposal: Add ColorPicker Architecture Docs"
# Proposal: Add ColorPicker Architecture Docs

## Summary

Just like NavigationView, add some docs explaining how the ColorPicker works internally.

## Rationale

As previously discussed, docs help contributors and those that need to make changes in the future.

## Scope

## Important Notes

I have a draft already started and will open a PR to commit it myself.

[2020-09-03 23:12] StephenLPeters commented on #3237
@kikisaints I think we could probably do something with effectiveViewPortChanged to fix this but some thought would need to go into the desired behavior.

[2020-09-03 23:16] StephenLPeters commented on #3235
Where did this screenshot from? I see the clip on the right and bottom in the MuxControlsTestApp but i don't see the red strip appearing on the left like your screenshot.

[2020-09-03 23:17] alekhyareddy28 commented on #3179
@Felix-Dev you're right. Seems like windows also behaves in the same way.

[2020-09-03 23:19] chingucoding commented on #3242
I think a separate proposal for this is not necessary, if you want to work or are starting to work on the documentation for a specific control, it is better to comment on the existing thread regarding the architecture documentation: #2812

[2020-09-03 23:19] Felix-Dev commented on #3237
@StephenLPeters What speaks against collapsing the tooltip as soon as the user starts scrolling? The tooltip wouldn't be aligned with the "actual" color picker (the circle users can drag around the color panel to select a color) any longer and it rapidly starts to look visually unpleasing.

[2020-09-03 23:21] chingucoding commented on #3241
I would like to look into this. For clarification, when the pane was opened using the hamburger button, and the user clicks inside the search and then clicks outside of it, should the pane stay open? I would say yes, however that would increase complexity here I think.

[2020-09-03 23:22] Poopooracoocoo commented on #3241
^i don't think the pane is supposed to stay open in that situation

[2020-09-03 23:24] Felix-Dev commented on #3241
@chingucoding The pane is light-dismissable in minimal/compact mode so it should close if the developer clicks outside the pane.

[2020-09-03 23:25] chingucoding commented on #3241
No I mean, what if you click inside the pane, but outside the AutoSuggestBox?

[2020-09-03 23:26] Poopooracoocoo commented on #3241
i'd expect the pane to stay open if you're clicking on it

[2020-09-03 23:27] ejserna opened #3243 "Single enter key does not trigger NavigationView's ItemInvoked event"
**Describe the bug**
When using the keyboard to select items in a navigation view, a single enter won't work. For it to work, the user needs to hit the enter key twice so that the navigation view item gets selected. This is very glitchy, since it works sometimes, and sometimes it doesn't.

[Related internal issue](https://microsoft.visualstudio.com/OS/_workitems/edit/28843453/)

**Steps to reprodu

[2020-09-03 23:27] Felix-Dev commented on #3241
I would say the same behavior as can be seen today then? (I.e. close if a NavigationViewItem is selected and stay open if no interactive UI is clicked on the pane surface).

[2020-09-03 23:27] robloo commented on #3242
Even small issues like this are necessary just to communicate things are being worked on in my opinion.

[2020-09-03 23:30] chingucoding commented on #3242
In my opinion, leaving a comment saying "I would like to work on the ColorPicker documentation" is enough, especially since I probably would look at that thread for any updates and wouldn't expect a separate issue to be opened for each control.

[2020-09-03 23:33] Felix-Dev commented on #3241
@Poopooracoocoo Point 4 ("if it's navigating to a page the pane should close") is problematic in the following sense:

![navview-pane](https://user-images.githubusercontent.com/1398851/92183365-71a94580-ee4e-11ea-860a-b5d9096484ae.gif)

So if you click a top-level NavigationView item, the pane shouldn't close as can be seen in the XCG gif since the user might want to select one of its children. Th

[2020-09-03 23:35] chingucoding commented on #3243
I can't seem to repro this with the latest commits of the XAML Controls Gallery. The store version shows this behavior, but given that the store version is probably not using the latest WinUI bits. Given that this behavior also doesn't repro in the MUXControlsTestApp, this was probably already fixed.

[2020-09-03 23:37] YuliKl commented on #3179
I expected NavigationView to behave like RadioButtons and ListView, put focus on the selected item. Checking (WinUI 2) Xaml Controls Gallery, that's not the behavior I'm seeing. This feels like a separate issue from the one originally reported, would be great to get a new bug opened.

[2020-09-03 23:38] robloo commented on #3235
Screenshot is just from a test app comparing side-by-side two different implementations. It was useful to kind-of see the right of the other control being clipped as well. I probably should have cropped this better though.

[2020-09-03 23:42] Felix-Dev commented on #3179
@alekhyareddy28 @YuliKl This issue seems to be fixed with the newest WInUI Preview release. Can you give that a try?

[2020-09-03 23:44] chingucoding commented on #3241
That makes sense, thanks @Felix-Dev and @Poopooracoocoo . @YuliKl Do you agree with our assessments?

[2020-09-03 23:54] ejserna commented on #3243
@chingucoding I noticed this. Is there any workaround we can use? We are stuck with 2.4.2 for now and can't move over to 2.5 yet.

[2020-09-03 23:59] chingucoding commented on #3243
I'm afraid beside listening to the `KeyDown` event yourself, there isn't much you can do. I think the issue that caused this was faulty logic to determine whether we are in a "repeated keypress" state, which was refactored later and fixed. If you are using a template for all of your NavigationViewItems, the best would be to listen on those for the `KeyDown` event. In the case of NavigationViewItem

[2020-09-04 00:01] BreeceW commented on #3238
As pointed out by [reflectronic](https://github.com/reflectronic), this can be accomplished by replacing `x:DataType="local:RootViewModel.NestedViewModel"` with `x:DataType="local:RootViewModel+NestedViewModel"`. The above sample works when this is done.
Hopefully there is a place in the docs where this can be mentioned explicitly.

[2020-09-04 00:08] Felix-Dev commented on #3242
@robloo @chingucoding I think leaving a short note on the original thread #2812 - which covers adding documentation for *all* WinUI controls - would be more than fine. I.e. if I were to start working on documentation for control X, I would write something like "Chingucoding, Ranjesh (as mentions) I would like to work on the architecture docs for the control X, if you don't mind."

That would clear

[2020-09-04 00:12] chingucoding commented on #3242
That sounds like a good idea @Felix-Dev . I've added a table at the top of the proposal showing the status of WIPs and finished controls.

[2020-09-04 00:30] robloo commented on #3242
Thats fine its just a different way of managing things. With large projects communication is key. It's also sometimes good to have a request/bug-report to close with a corresponding PR for tracking purposes.

[2020-09-04 00:36] #3242 closed

[2020-09-04 04:49] riverar opened #3246 "Unused XAML namespaces are emitted into compiled XAML Binary Format output"
The XAML compiler does not seem to perform any optimizations on the input XAML, resulting in unused namespaces and (potentially) other extraneous metadata emitting into the final output XBF. This could snowball and potentially impact perf, especially on constrained devices such as HoloLens or IoT. A single extraneous namespace, for example, can occupy an additional ~150 bytes.

**Steps to reproduc

[2020-09-04 06:30] kmelmon commented on #3102
This bug got fixed by:
https://microsoft.visualstudio.com/WinUI/_git/microsoft-ui-xaml-lift/pullrequest/5127704
@Austin-Lamb FYI
RNW can wait until we re-target to WinUI 3, as the only known customer has a workaround.

[2020-09-04 08:27] mdmozibur opened #3247 "RadioButtons doesn't respect BorderThickness or BorderBrush property"
Setting these two properties has no effect on the Control.
I am not sure if it's bug or just intentionally designed in this way.

[2020-09-04 11:21] Felix-Dev commented on #3247
@MuziburRahman I agree that these properties should have an effect:

[code]

should result in:
![image](https://user-images.githubusercontent.com/1398851/92232086-30e11900-eeae-11ea-9313-2e0435313386.png)

Alongside the `BorderThickness` and `BorderBrush` APIs we should at least also support the `Background`, `Padding` and `CornerRadius` APIs, so that we can do something like this:
[code]
![image]

[2020-09-04 11:57] Felix-Dev commented on #3238
While the '+' syntax works, the VS XAML editor currently lacks proper support for it: It keeps complaining that the type "local:RootViewModel+NestedViewModel" does not exist:
![image](https://user-images.githubusercontent.com/1398851/92236042-f9c23600-eeb4-11ea-865c-8718025d9172.png)

And as a consequence of that, x:Bind also does not list any of the public APIs of the `NestedViewModel` class in V

[2020-09-04 12:01] Sergio0694 commented on #3238
Oh that explains it! I had in fact tried to use `+` already, but assumed it wasn't supported when I saw VS showing those errors.
I'm glad to hear the feature itself is technically working instead, and that it's mostly an issue with the tooling in VS 😄

Should I open this as a feedback in the VS feedback hub and close this issue?

[2020-09-04 15:02] Felix-Dev commented on #3213
So after some initial debugging (still need to do some more investigations and ready a fix) it appears that the binding https://github.com/microsoft/microsoft-ui-xaml/blob/d6b425170a7ce5e28d46c3803e086986fdf536de/dev/TeachingTip/TeachingTip.xaml#L115 can not be resolved (more precisely: `{Binding CornerRadius, RelativeSource={RelativeSource TemplatedParent}`). If a FallbackValue is specified for t

[2020-09-04 15:06] Sergio0694 commented on #3238
Alright I figured out what is causing the issue 🚀

@BreeceW Looks like the XAML compiler fails whenever the target type is defined in a separate assembly. In my case, I have a separate .NET Standard 2.0 project with all my viewmodels, and with that even the `x:DataType="ns:Root+Nested"` syntax fails.

You should be able to repro this locally by just creating a .NET Standard 2.0 project and moving

[2020-09-04 15:19] Felix-Dev commented on #3238
@Sergio0694 Sorry, just saw your ping now.

Yes, if I move the class to a separate assembly, I cannot compile any longer as well (previously, I had both the XAML and the ViewModel class in the same assembly).

[2020-09-04 16:20] andrewleader commented on #1955
Transferring this proposal to the Reunion repo sounds good to me! Just an FYI to set expectations, it's unlikely we'd prioritize this anytime soon as we're already going to have our hands full implementing notifications themselves in Reunion first, but we should still get the issue logged so others can add feedback/requests to it!

[2020-09-04 16:35] MuziburRahman commented on #3247
Also it should have a default Padding. Without padding it looks ugly.

[2020-09-04 16:41] StephenLPeters commented on #3247
I don't think we need the resources right? we add resources for customization points on template parts which are not exposed on the root control. These customization points will be settable on RadioButtons' without a resource.

[2020-09-04 16:44] MuziburRahman commented on #3247
I agree. I think it would be just creating those properties and then TemplateBinding them with the root StackPanel.

[2020-09-04 16:51] Felix-Dev commented on #3247
@StephenLPeters I suggested creating resources because that would match the current resource system. The `Button` control, for example has `ButtonBackground` and `ButtonForeground` theme resources, even though we can already customize the foreground and background of a button with the `Background` and `Foreground` APIs.

[2020-09-04 17:16] StephenLPeters commented on #3247
ButtonBackground is used as the default value for the Background property (via a setter). This is useful for two reasons; First it allows us to pick a non-standard default value, second it allows an app to change all of their button's backgrounds by setting the ButtonBackground resource.  In this case I don't think that we should be choosing a non-standard default value, however the second reason

[2020-09-04 17:18] StephenLPeters commented on #3235
ah so that is a second color spectrum, got it.

[2020-09-04 17:19] StephenLPeters commented on #3237
I think the options are either close the tip or move it with the color spectrum. you are right we wouldn't want it to be misaligned (as it is currently)

[2020-09-04 17:47] StephenLPeters commented on #3097
I think that both solutions make sense to me, however I think I slightly prefer suggestion 2 as it seems simpler and easier for the user to understand how it works. And I agree with marcel, all children selected means the parent is partially selected. @chingucoding can we flesh out why this is a breaking change?  I see some niche cases that would potentially change behavior but not ones that would

[2020-09-04 17:55] Felix-Dev commented on #3097
I don't think changing the in-built selection logic would lead to app crashes (and also no compilation crashes). What would be the case is that developers today relying on the selection logic that selecting *all* the children of a node also selects their parent would need to adapt to the changed behavior. Is that a major concern? I'm not sure here (missing data)

[2020-09-04 17:55] chingucoding commented on #3097
This wouldn't be a breaking change in the sense that existing code crashed or fails to compile. However some apps might have this assumption that if all child nodes are selected, that the parent is selected. In some cases, this might result in a lot of nodes being marked as selected despite only the leaves of the tree being selected.

If we now mark the parent as partially selected, we would break

[2020-09-04 18:03] StephenLPeters commented on #3097
Cool, that is what I think as well, just wanted to make sure I wasn't overlooking something.

[2020-09-04 18:13] Felix-Dev commented on #3097
I am preferring suggestion 2 as well as the solution moving forward. Only child nodesshould be automatically selected if their parent node is selected. Other nodes (like a prent of child nodes) should require manual selection. As suggested by all three of us, a parent node with all its children selected, but which isn't selected itself, should be be shown as a partially selected node.

[2020-09-04 18:23] StephenLPeters commented on #3097
I'm going to ask some other members of the team to weigh in here as well, I don't feel like I can unilaterally decide this, but I'll report back soon.

[2020-09-04 18:41] kmelmon commented on #3102
george tells me pointer replay is still broken... reopening for now

[2020-09-04 18:54] chingucoding commented on #3237
I think closing the tooltip makes more sense, otherwise we would need to check when the colorspectrum is actually visible on screen and didn't get occluded by something else as part of scrolling.

[2020-09-04 19:36] StephenLPeters commented on #3237
EffectiveViewportChanged lets us do just that though

[2020-09-04 20:51] ranjeshj commented on #3183
I don't see anything else that might affect it in ComboBox. I do notice that in the case of ComboBox, ComboBox can take focus, so that might be when Narrator is reading it out. Following up with accessibility folks.

[2020-09-04 21:12] YuliKl commented on #3150
Resolving this issue as by design. Accessibility team suggested that we should avoid polluting keyboard focus order with extra focus targets. Users are able to close the selected tab using the Ctrl+F4 shortcut. This does imply that there's no built-in way for users to close the focused not-selected tab, but that limitation was deemed acceptable.

[2020-09-04 21:12] #3150 closed

[2020-09-04 23:06] ranjeshj commented on #3247
@kikisaints to weigh in for light weight styling here.

[2020-09-04 23:13] ranjeshj commented on #3243
Closing this issue given that this is not repro'ing in mux controls test app and the issue seems fixed.

[2020-09-04 23:13] #3243 closed

[2020-09-05 00:56] DHowett commented on #3104
I believe Terminal is running into this reliably on startup now that it has moved to the latest prerelease.

[2020-09-05 04:14] isaac-mcgarvey commented on #3213
@Felix-Dev Thanks for the investigation and I appreciate the workaround. I can confirm that the workaround does work for me.

[2020-09-05 07:00] #3051 closed

[2020-09-05 14:13] chingucoding opened #3249 "Question: [your question here]"

[2020-09-05 18:03] chingucoding commented on #3237
That's true yes. Should we follow the TeachingTip behavior in this case? A persistent ToolTip like in this case seems is quite similar to a TeachingTip in this regard.

[2020-09-05 18:31] Felix-Dev commented on #3237
I implemented my suggestion outlined above in WInUI for better visualization:

![colorpicker-example](https://user-images.githubusercontent.com/1398851/92311242-abe12700-efb5-11ea-9b96-69b9c633180c.gif)

The tooltip got a default show duration time of 5 seconds (meant to match UWP's default tooltip duration time). Changing the position of the circle either by mouse/touch or keyboard will show the

[2020-09-05 19:23] Thomas1664 commented on #1916
@chrisglein Given that I spent 2 hours figuring out why rounded corners of a `TextBox` aren't displayed when I add custom styles to it, I think you should at least fix it in WinUI 3!

[2020-09-06 09:20] ccornici commented on #2264
Hey @ranjeshj @chingucoding . Hope you're both doing good.
Are there any status updates on this bug?

[2020-09-06 10:27] Felix-Dev opened #3250 "Proposal: TextBox, PasswordBox and AutoSuggestBox should show tooltips for their action buttons"
# Proposal: TextBox, PasswordBox and AutoSuggestBox should show tooltips for their action buttons

## Summary
Controls like the `TextBox`, `PasswordBox` and `AutoSuggestBox` feature action buttons in their input fields, yet there is no tooltip shown for them. For better UX, these tooltips should be added.

![image](https://user-images.githubusercontent.com/1398851/92323696-2011de00-f03b-11ea-9ab1-

[2020-09-06 10:40] Felix-Dev opened #3251 "PasswordBox: The password cannot be unmasked per keyboard"
**Describe the bug**
The [documentation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.passwordbox?view=winrt-19041#password-reveal-mode) states the following:
*Windows 10, version 1607, introduces a new keyboard shortcut for accessibility. When the focus is in the PasswordBox and the password reveal button is visible, the user can press and hold Alt+F8 to reveal their password

[2020-09-06 10:50] Felix-Dev opened #3252 "PasswordBox: Password reveal button is not shown any longer when re-entering the control"
**Describe the bug**
By [default](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.passwordbox?view=winrt-19041#password-reveal-mode) the `PasswordBox` shows a password reveal button when the PasswordBox has focus and some content. However, when stepping out of the PasswordBox and then back into it, the password reveal button is no longer shown. Instead, the user will first have t

[2020-09-06 11:06] chingucoding commented on #3252
This is by design. See #1224 where I also raised that concern.

[2020-09-06 11:16] chingucoding commented on #3251
That's strange, I wasn't able to repro this both in the XCG nor the MUXC app. In both cases, pressing alt+f8 reveals the entered text.

[2020-09-06 11:24] Felix-Dev commented on #3252
Re-opening this issue as I think we should add the "by design" information to the documentation (meant as tracking the documentation issue). Just so we will avoid repeated mentions of this behavior as a bug in the future.

I could create a PR in the docs repo shortly.

@YuliKl FYI.

[2020-09-06 11:50] Felix-Dev commented on #3251
Hmmm...I tested other Alt+ keyboard combinations in VS (like Alt+F2 for opening the Performance Profiler) and they don't work either. Perhaps this is a Dell device configuration issue (I have a Dell laptop)?

I am searching the Internet right now to see if I can find something here but so far, no real luck. Alt+F4 works, heh, but it's a bit unfortunate that apparently in-app Alt+Fn keyboard shortc

[2020-09-06 17:01] benstevens48 opened #3253 "More bugs in the HEIF/HEIC decoder"
Having previously found an HEIF decoder bug in #2386 I've now found another one. I'm running into an unhandled Win32 exception when displaying HEIC images. The image is loaded via BitmapImage.SetSourceAsync, then used as the source of an Image control. The image displays OK for a second but then the app crashes with an unhandled Win32 exception. It's not completely consistent. Sometimes it only cr

[2020-09-06 19:28] chingucoding commented on #2264
I don't think there is something we can do about the binding timing issues you encounter. However there thing we can do to make the workaround easier for you. I think having a TextChanged event sounds like a reasonable addition to the NumberBox control. Note that input validation only happens on focus lost, not when text get's entered. So in the case of a TextChanged event, there is no guarantee t

[2020-09-06 19:48] ccornici commented on #2264
Sorry, maybe you forgot the latest context here, this is a bug with the AppBarButton as in when you click it it doesn't trigger the focus loss of..pretty much any previously focused input. That's why it's marked as a bug. You can use the repo as per my instructions above, to get a hands-on refreshment.

So do you still think there's nothing you guys can do about it?

[2020-09-06 20:11] chingucoding commented on #2264
Oh right, I see. Sorry that I forgot the latest changes here, should have read this more carefully.

It's a bit strange that the AppBarButton does not receive focus. @YuliKl @ranjeshj Is this behavior intended? Are there any reasons to not focus it here?
@ccornici This is something that can definitely be fixed, I think the code that causes this behavior is the following line:

https://github.com/m

[2020-09-06 21:36] mcobrahacker opened #3261 "On TabViewItem Add - The parameter is set incorrectly"
Hello, I using simple code for add tab item (Tabs.TabItems.Add(item);). I using Microsoft UI XAML to do it. But when I need to add TabItem I have this error "The parameter is set incorrectly". A few month ago before use Microsoft UI Xaml this action work well

[2020-09-06 21:58] Felix-Dev opened #3254 "TeachingTip: HeroContentPlacement API has several issues"
**Describe the bug**
The [HeroContentPlacement](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.teachingtipherocontentplacementmode) API of the `TeachingTip` control has a few issues. The documentation for it states that it is responsible for positioning the hero content inside the TeachingTip. So If I set a `HeroContentPlacement` of `Bottom` then the hero content should be dis

[2020-09-07 05:13] ccornici commented on #2264
I hope not since it causes serious issues and unexpected/inconsistent behavior 😄

[2020-09-07 09:07] chingucoding commented on #3252
I think it makes sense to also mention this on the main page, not everyone will read the API documentation if they want to use the PasswordBox, especially since the API is not too surprising (in my opinion).

[2020-09-07 14:14] Poopooracoocoo commented on #3243
@ranjeshj hey do you know when there will be a new release of xaml controls gallery?

[2020-09-07 22:29] mc0re opened #3255 "Failed to assign to property 'Windows.UI.Xaml.Controls.ContentPresenter.Content'"
Playing video, seeking in the file. Eventually, this exception comes, and the player crashes. I know it is related to the layout, but it seems impossible to hush it even though I have tried to add `FallbackValue` to all `Content` bindings.

The video is played back from a custom stream (using encryption). It has a customized transport control (see the style definition below).
The seeking can be pe

[2020-09-08 06:37] MartinZikmund commented on #1710
@Felix-Dev That would work (as long as the paddings around the icons are a bit bigger) 👍

[2020-09-08 13:33] nilaysanghvi opened #3256 "Unable to customize Teaching Tip"
I am using the Teaching Tip control in a UWP app, and I am unable to change the background colour. The “IsLightDismissEnabled” property is set to True. On exploring further, the cause of the issue is in the Xaml file of TeachingTip - [link](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TeachingTip/TeachingTip.xaml#L32) - where the background is being set to a fixed value when IsLi

[2020-09-08 13:47] Felix-Dev commented on #3256
@nilaysanghvi To customize the teching tip background, would overriding the `TeachingTipTransientBackground` resource be a solution for you here? You would have to override it on the app level.

[2020-09-08 13:53] nilaysanghvi commented on #3256
@Felix-Dev Thankyou for your prompt reply. I am sorry the solution given by you would not work for me. As I said, I need to customize other things as well. For example, I do not want the vertical scroll bars to appear but I cannot override the behaviour as it is set in the [Xaml file](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/TeachingTip/TeachingTip.xaml#L554). The scroll bars

[2020-09-08 13:57] Felix-Dev commented on #3256
`For example, I do not want the vertical scroll bars to appear but I cannot override the behaviour as it is set in the Xaml file. The scroll bars automatically appear on hovering on the edge of the Teaching tip`

@nilaysanghvi This particular bug was fixed in OR https://github.com/microsoft/microsoft-ui-xaml/pull/2748 and is included in the newest WinUI 2.5 preview versions.

[2020-09-08 14:10] nilaysanghvi commented on #3256
@Felix-Dev Thanks. But still, is there any way to edit the XAML file of the Teaching Tip?

[2020-09-08 14:15] nilaysanghvi opened #3257 "Focus is completely lost with Teaching tip"
I am using the Teaching Tip control in a UWP app. However, I am not able to get focus on the teaching tip. As suggested in the documentation, pressing F6 does not help. The focus is completely lost and I am not able to navigate using the tab key even in the rest of the app. The only option is to press the Esc key which dismisses the teaching tip.

The reason I suspect this happens is because the "

[2020-09-08 14:17] Felix-Dev commented on #3256
About the XAML parse error: If your app runs on 1809 or newer you can keep line 15 (<contract7Present:Setter Property="CornerRadius" Value="{ThemeResource OverlayCornerRadius}" />) but remove the `contract7Present` prefix (since it will always be fulfilled).

If you need to target OS versions older than 1809, one solution here is to define *two TeachingTip styles (one for 1809 and above and one fo

[2020-09-08 15:50] JagadeesanPichaimuthu opened #3258 "ContentControl not properly measured while adding ContentTemplate"
**Describe the bug**
ContentControl not properly measured while adding ContentTemplate. In our application, we defined the DataTemplate for item and tried to calculate the height by assign the DataTemplate to the ContentControl in code behind. When create the ContentControl and measure the size in code behind without attach visual tree, it not properly calculated the size. It always return the hei

[2020-09-08 16:24] alekhyareddy28 opened #3259 "IsControlElement Property of Text Box is false when empty"
**Describe the bug**

The `IsControlElement` property of the text box control must always be true. However, it is false when it is empty.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Add a text box with place holder text and no text.
2. Run accessibility insights on the app.
3. The `IsControlElement` Property is set to false when there is no text entered. This property cann

[2020-09-08 17:19] ranjeshj commented on #3243
That would be a question for @stmoy.

[2020-09-08 17:21] stmoy commented on #3243
The next release is likely to align with WinUI 2.5 unless there is a pressing need to release another version earlier than that.

[2020-09-08 19:03] fabiant3 commented on #3067
Thanks for the follow up @kareemsulthan07 .

[2020-09-08 19:03] #3067 closed

[2020-09-08 19:26] ranjeshj commented on #3183
These are the 3 requirements for the screen reader to read it out.

1.	The element that you want to be read as a _context_ of other controls has to be an ancestor of those other controls. (in the UIA tree).
2.	The element has to have an accessible name (in your case, AutomationProperties.Name).
3.	The element has to be one of control types that Narrator perceives as a context control (for instance

[2020-09-08 21:49] #2391 closed

[2020-09-08 22:14] chingucoding opened #3263 "Proposal: More flexible ColorAnimation"
# Proposal: More flexible ColorAnimation

## Summary

There are two main problems with current ColorAnimation: Theme switches are not respected and using SolidColorBrushes is only supported implicitly through binding. A more flexible ColorAnimation or new SolidColorBrushAnimation needs to fill this gap

## Rationale

* SolidColorBrush is only supported through binding to the Color property in curr

[2020-09-08 22:32] YuliKl commented on #3252
The behavior is documented [here](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/password-box#peek-mode) but I agree would also be useful on the main API page. Can someone open a doc bug (by providing feedback for this page) on the [main API page](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.passwordbox)?

![image](https://user-images.githubuserconte

[2020-09-08 22:37] Felix-Dev commented on #3252
@YuliKl I would just open a PR with the updated documentation instead (and link it here). Will get the change faster into this docs based on previous experiences :)

[2020-09-08 22:40] chingucoding opened #3264 "IconSource does not forward Foreground Property"
IconSource and the respective subclass do not forward the Foreground property. This issue is just for tracking/searching purposes.

[2020-09-08 22:42] YuliKl commented on #2264
AllowFocusOnInteraction defaults to False for AppBarButton (and all its children, for example in a flyout that opens when an AppBarButton is clicked). There are some historical reasons we chose this default, primarily centered around touch scenarios. Can you easily set AllowFocusOnInteraction to True? Does that fix this bug for you?

[2020-09-08 22:51] #3159 closed

[2020-09-08 22:52] #1539 closed

[2020-09-08 22:53] YuliKl commented on #3252
Thank you, our docs team loves user contributions!

[2020-09-08 23:14] StephenLPeters commented on #3258
It looks like you haven't added the contentControl to the visual tree, does adding it to the page resolve the issue? Does calling ApplyTemplate on the content control before calling measure fix the issue? I'd kind of expect the code you have currently to work, although it is a weird scenario and I could imagine content control having some optimization in it to not bother expanding the template whi

[2020-09-08 23:25] StephenLPeters commented on #3257
Seems like a few issues. First is an oversight in the F6 logic, that at tip could have no close button, we should fix this so it works with your content.  Second, the isOpen property on teaching tip is async, which means you cannot set it to true and immediately call focus on your content.  You should be able to do this if you attach to the TestButton.Loaded event and call focus in there.  But per

[2020-09-08 23:26] StephenLPeters commented on #3257
Help wanted for the F6 portion.  @SavoySchuler fyi about the opened event.

[2020-09-08 23:30] StephenLPeters commented on #3256
If a customization knob you require is not available your only immediate option is to retemplate the control. I think that the points that you have brought up so far all have resources or api's associated with them that will allow you to customize them, but if you have more that don't then retemplating is your way to go. Or you can tell us about them and we can discuss adding them to a future rele

[2020-09-08 23:38] StephenLPeters commented on #3254
This is very strange, the MUXControls test app does not behave this way.  There is a design requirement that for auto placement mode we do not open in a position which the pointer extends from the hero content. Which means when you set your HeroContentPlacement to bottom the auto placement is going to prefer bottom instead of top, which you can see in the mux controls test app. However I don't see

[2020-09-08 23:41] StephenLPeters commented on #3261
@mcobrahacker are you mixing name spaces?  for instances is your TabView a **Microsoft**.UI.Xaml.Controls.TabView while your tab view item is a **Windows**.UI.Xaml.Controls.TabViewItem?

[2020-09-08 23:41] StephenLPeters commented on #3261
barring that guess, could you please provide more info like a repro app?

[2020-09-08 23:42] StephenLPeters commented on #3253
@codendone FYI

[2020-09-08 23:56] Felix-Dev commented on #3252
@YuliKl Created PR https://github.com/MicrosoftDocs/winrt-api/pull/1811.

[2020-09-09 00:02] #3252 closed

[2020-09-09 04:07] RobertVS-MS opened #3266 "StackOverflowException when custom class derives IEnumerable with an Add function that takes the class as a parameter"
**Bug description**
When building a UWP project w/ a minimum target version > 10586, a Debug app that has a custom class that derives from IEnumerable and contains a function named Add() that takes a parameter of the class custom class type will crash with a StackOverflowException.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a blank UWP project
2. Add the following c

[2020-09-09 04:37] toyssamurai commented on #1461
I am not 100% convinced that Electron is the to blame. Visual Studio Code is said to be based on the Electron, too, but its performance is pretty solid. Electron apps are basically web apps, and there are thousands of reasons behind a badly performed web app.

[2020-09-09 05:16] ccornici commented on #2264
@YuliKl @chingucoding Setting that property to `True` fixes the issue and makes the `AppBarButton` act like the other buttons, thanks! Verified with the test repo above.

[2020-09-09 08:06] nilaysanghvi commented on #3256
@Felix-Dev My app targets both the versions. I do not understand why but the solution given by you doesn't work for me. However, I have found a workaround. Since I do not require corner radius, I have removed all the conditional XAML setters from the TeachingTip.xaml file (and not just the one that was giving error on Line 15), and now it is working fine and I am able to edit the XAML file accordi

[2020-09-09 08:16] nilaysanghvi commented on #3257
@StephenLPeters Thanks, the TestButton.Loaded solution worked. However, the problem with that solution is that the narrator announcement is not made due to the Focus shifting to the button immediately.

[2020-09-09 09:24] Felix-Dev commented on #3257
I would like to take a look at the Focus keyboard shortcut problem (F6) if that's fine with everybody.

@nilaysanghvi

Where exactly did you find that in the documentation I checked the TeachingTip [main documentation](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip) page but found no mention of F6 setting focus into the TeachingTip. I onl

[2020-09-09 09:40] nilaysanghvi commented on #3257
@Felix-Dev I'm sorry it is not in the documentation but the [spec](https://github.com/Microsoft/microsoft-ui-xaml-specs/blob/user/savoyschuler/teachingtip/active/teachingtip/TeachingTipSpec.md#keyboard-navigation).
Also if you switch on the narrator service then it announces that you need to press F6.

[2020-09-09 09:43] Felix-Dev commented on #3257
Definitely should be added to the TeachingTip's main documentation page then. Can open a PR for that later today.

[2020-09-09 09:50] nilaysanghvi commented on #3257
@Felix-Dev there is another issue regarding the narrator not announcing the subtitle? Should I open a new issue for that?

[2020-09-09 10:00] Felix-Dev commented on #3257
@nilaysanghvi Yep :)

[2020-09-09 10:28] DierkDroth commented on #2715
This issue is getting in our way quite significantly, in particular in the scenario mentioned in #3106

Is there any ETA on when this problem would be fixed/addressed? May be with next preview?!?

[2020-09-09 13:55] nilaysanghvi opened #3267 "Teaching Tip that blocks interactions with app window like Content Dialog"
Is it possible to display a Teaching Tip that blocks UI interactions until explicitly dismissed? A content dialog does this where the user can only interact with the dialog or close the app -

![image](https://user-images.githubusercontent.com/70956797/92607141-5a94a880-f2d1-11ea-99e0-1415793f5b8e.png)

Is there any workaround through which we replicate the above functionality of the content dialo

[2020-09-09 14:30] Felix-Dev opened #3268 "RadioButtons: SelectionChanged event argument can contain null items as its selected/deselected items"
**Describe the bug**
The RadioButtons.SelectionChanged event args contain `null` items as selected/deselected items. For example, when setting the initial `RadioButtons` selection (via code or click interaction), not only does the [SelectionChangedEventArgs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.selectionchangedeventargs) instance say that an item has been selected, but

[2020-09-09 14:56] chingucoding commented on #2264
Glad to hear that you can workaround the issue by setting AllowFocusOnInteraction to true @ccornici !

@YuliKl If this was by design, is this issue a "no-fix/by design" and should be closed as such then? Or should this behavior be updated given that some controls rely on focus shifts?

[2020-09-09 15:42] Felix-Dev commented on #3254
@StephenLPeters

I can reproduce this in the MUXControls test app: (WinUI master build)
[code]

[code]
![image](https://user-images.githubusercontent.com/1398851/92619615-08985680-f2c2-11ea-884c-475902864e34.png)

Either the implementation is wrong or the documentation. According to the documentation, the [PreferredPlacement](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.teac

[2020-09-09 16:18] StephenLPeters commented on #3254
Does the repro have something to do with setting those properties from markup? because setting those same properties using the test pages combobox's does not reproduce the issue.

The preferred placement does (should) not affect the HeroContentPlacement (unless HeroContentPlacement is auto). However HeroContentPlacement does affect the teaching tip placement. The PreferredPlacement is called prefe

[2020-09-09 16:28] StephenLPeters commented on #2715
@Austin-Lamb or @MikeHillberg ?

[2020-09-09 16:28] ranjeshj commented on #2264
Closing this issue since this is by design and there is a straightforward workaround. I assume we don't want to change the default here due to compat.

[2020-09-09 16:28] #2264 closed

[2020-09-09 16:30] Felix-Dev commented on #3254
@StephenLPeters

This is not what the [documentation](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.teachingtipherocontentplacementmode?view=winui-2.4) is saying though. So the documentation needs to be updated here if that is desired behavior.

I haven't checked the TeachingTip testing page. I have instead created my own teaching tip using the XAML markup above. Setting Hero

[2020-09-09 16:35] StephenLPeters commented on #3254
@SavoySchuler Can you weigh in on the pointer  protruding from the hero content? I agree that this is confusing, I feel like we had our reasons previously, and those reasons should be documented.

@Felix-Dev if setting heroContentPlacement from markup doesn't cause the controls VSM to go to the appropriate states (like it does when you set the property from code) then that is certainly a bug.

[2020-09-09 16:38] StephenLPeters commented on #3256
@nilaysanghvi if you could enumerate the changes that you end up making to the xaml file, so we could potentially expand the customization points on the control, that would be really great.

[2020-09-09 16:44] ranjeshj commented on #3266
@RobertVS-MS can you share a repro app ? How are you using this User class in your app ?

[2020-09-09 16:51] ranjeshj commented on #3267
@nilaysanghvi [TeachingTip](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip) is designed to not block user interactions with the app. Can you explain the scenario you are trying to achieve, perhaps you need to use a different control ?

[2020-09-09 16:53] ranjeshj commented on #3268
This sounds like a bug but @StephenLPeters can confirm if there was a reason for this behavior.

[2020-09-09 16:54] StephenLPeters commented on #3268
Yup, does sound like a bug :/

[2020-09-09 16:57] Felix-Dev commented on #3254
Here is how I would expect the `PreferredPlacement` and `HeroContentPlacement` APIs to behave:
* The position of the TeachingTip should only be controlled by the `PreferredPlacement` API
* The position of the hero content is only controlled by the `HeroContentPlacement` API:
  * If I want my hero content to be placed at the top of the TeachingTip (regardless of the tail position) then I set it to

[2020-09-09 17:03] kikisaints commented on #3247
I agree we should have lightweights styling resources for this control. Even if the default is transparent.

Looking at generic.xaml for RadioButton (non-plural) we have the following definitions:
[code]

They may all be set to transparent because they are not being used in our current design system definition, however I don't think that negates the need for them to be available.

We should have s

[2020-09-09 17:03] #3115 closed

[2020-09-09 17:10] anawishnoff opened #3269 "👩‍💻☎ September WinUI Community Call (September 16, 2020)"
### This community call has ended! Thanks to all who submitted questions and joined us.
## Watch the recording of the call here: https://youtu.be/rlIStd_Lz04

## Details
Date: Wednesday September 16, 2020
Time: 16:00-17:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - no pre-registration is required.
This will be an informal interactive live stream directly with members of our engin

[2020-09-09 17:13] bschoepke commented on #1622
@YuliKl @ranjeshj what's the status on ElementAnimator?

[2020-09-09 17:14] Felix-Dev opened #3270 "TeachingTip: HeroContentPlacement is ignored when set from XAML markup"
**Describe the bug**
Given the following XAML
[code]

The expected position of the hero content is this:
![image](https://user-images.githubusercontent.com/1398851/92630479-3a181e80-f2d0-11ea-8133-94170e9abf8a.png)

Yet the actual result is this:
![image](https://user-images.githubusercontent.com/1398851/92630499-400dff80-f2d0-11ea-9618-8880ce14dec5.png)

**Version Info**

NuGet package version:
W

[2020-09-09 17:24] nilaysanghvi commented on #3267
@ranjeshj My scenario is that on clicking a button I want to show 2-3 targetted Teaching tips to the user to highlight the core functionalities of the app (X button does A, Y pane contains B, etc). While showing these tips I do not want to give the option to the user to interact with the other elements in the app or exit this guided flow. Such guided tours are frequently seen in Android apps for w

[2020-09-09 17:34] nilaysanghvi commented on #3256
@StephenLPeters I am not sure if my changes would be useful to you since they are very specific to my requirements. For example, I have shifted the subtitle's location to be in the same row as the Action button and Close button. Also, rather than the Close button being Stretched to cover the available space, I have set it to take in only the space that is required.
![image](https://user-images.git

[2020-09-09 18:22] #2541 closed

[2020-09-09 18:38] StephenLPeters commented on #3256
Are you forced to do this because there is no way to have teaching tip be non-lightdismiss and not display either of its close buttons and you don't like the layout of the default close buttons? I wonder if this is an argument to allow a tip without a close button with the understanding that the app author is providing their own button that will close the tip.

[2020-09-09 20:11] thomasclaudiushuber commented on #3269
Looking forward to it. I hope I can make it next week.

I have one little question, not directly related to WinUI, but related to WinUI and Windows Terminal. It came up after I read this fantastic blog post: https://blogs.windows.com/windowsdeveloper/2020/09/08/building-windows-terminal-with-winui/

Hey, I have to say here that I really enjoyed reading it! Well done!

**My question is:**
The Windo

[2020-09-09 23:11] StephenLPeters commented on #3267
One of teaching tip's core design principles was to not be modal. However this does seem like legitimate teaching scenario teaching tip could service.  Could you open a feature proposal so we can think about including this in a future update.  As a work around you could probably disable your app while the tips are open using either the Disabled Property or the IsHitTestVisible property on your roo

[2020-09-09 23:12] #3267 closed

[2020-09-09 23:14] StephenLPeters commented on #3255
Its hard to know what the issue is based on the large amount of xaml code you've provided. Can you please produce a minimal repro app that you can share with us to track down the root issue?

[2020-09-09 23:18] StephenLPeters commented on #3251
alt F8 is only supposed to be working in the scenarios where the reveal button is visible.  @chingucoding are you seeing something different?

[2020-09-09 23:21] StephenLPeters commented on #3251
Its possible that you have software on your computer that is overriding these commands. For instance on my home PC alt F8 opens the GForceExperience app and doesn't show the password box.

[2020-09-09 23:22] StephenLPeters commented on #3251
@Austin-Lamb or @MikeHillberg do you happen to know details about when/why alt F8 could be disabled?

[2020-09-09 23:30] StephenLPeters commented on #3249
Good point, unfortunately we've shipped the API and wont be able to change this until potentially Winui 4.

[2020-09-10 05:15] jevansaks commented on #2716
Since WinUI3 allows multiple windows on the same thread, the pickers can no longer assume there's just one and use it as the owner. You will need to use the IInitializeWithWindow interface to give the hint. Looks like the documentation has been updated to give some clues about this now:

[FileOpenPicker](https://docs.microsoft.com/en-us/uwp/api/windows.storage.pickers.fileopenpicker.-ctor?view=win

[2020-09-10 05:16] jevansaks commented on #2973
Duplicate of #2716 (use [IInitializeWithWindow](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-iinitializewithwindow#when-to-use) to give the owner window).

[2020-09-10 05:16] #2973 closed

[2020-09-10 05:18] nilaysanghvi commented on #3256
@StephenLPeters Yes, that is the reason I am doing this. Also, an easier solution would be to have no close button and subtitle, and add my own button and textbox in the content of the teaching tip. However, the problem with that is the narrator announces press F6 to go to the teaching tip but that does not work with LightDismiss true and with no close or action buttons.

[2020-09-10 06:01] nilaysanghvi commented on #3267
@StephenLPeters Yes sure, I will open a feature proposal.
Could you please give some more idea about the smoke layer and how to do add that? It would be really helpful to me!

[2020-09-10 11:46] STSjeerasak opened #3272 "Title"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

| Windows 10 version                  | Saw the problem? |
| :---------------------------

[2020-09-10 11:47] #3272 closed

[2020-09-10 12:41] nilaysanghvi commented on #3267
@StephenLPeters Thanks for your suggestions, I was able to add the UI blocking behaviour that I needed. Whenever the tip is displayed, I initialise a user control - which is simply a grid with background taken from the [Content Dialog](https://github.com/microsoft/microsoft-ui-xaml/blob/dc08d9b429755dd73e581d45764d61a4205f94d4/dev/ContentDialog/ContentDialog_themeresources.xaml#L87). Then I add th

[2020-09-10 13:09] PetarMladenov opened #3273 "XAML parser not reading dependency property as expected"
[Definitions_WinUI_Isolation.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5201798/Definitions_WinUI_Isolation.zip)
[Definitions_WPF.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5201799/Definitions_WPF.zip)

**Describe the bug**
Difference between XAML Parser in WPF and WInUI

**Steps to reproduce the bug**
Put breakpoint in CollectionChanged in code behind.
Run the attach

[2020-09-10 15:09] Chakosai opened #3274 "ืnmshop2020.com"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

| Windows 10 version                  | Saw the problem? |
| :---------------------------

[2020-09-10 17:17] ranjeshj commented on #3273
The Index property seems to be set but not the template.

[2020-09-10 17:33] DmitriyKomin commented on #3230
Thanks for reporting this! This is a class issue affecting webpage-originated popup UI that's rendered via separate HWNDs, which are not owned by the Anaheim Browser HWND (as is the case for browser-originated popups like context menu) Xaml WV2 isn't being informed of these currently and they're not rolled into the page content  rendering so they currently don't show up.

This issue was recently a

[2020-09-10 18:10] StephenLPeters commented on #3267
Cool, this is very hacky, Im hopeful that we can enable you scenario in a future update to TeachingTip.

[2020-09-10 19:05] hupo376787 opened #3275 "Bring native MediaPlayerElement UI to XBox"
Currently `MediaPlayerElement ` on Xbox has the same UI with the desktop version, this makes it very anti-human while using Xbox controller.
For more user interactions, please refer to android tv and apple tv native player.

[2020-09-10 19:36] chingucoding commented on #3249
Alrighty then, guess we will revisit this with WinUI 4 then.

[2020-09-10 19:41] #3264 closed

[2020-09-10 19:43] #3226 closed

[2020-09-11 07:51] sammi commented on #1045
Could we have a xaml compiler, such as xaml.exe to compile xaml files, similar with  midl.exe, cl.exe, or link.exe?  It would be very useful to build auto pipeline for winui application.

Sometimes, we don't want use visual studio to do the develop, maybe using any editor we want, but keep a build pipeline separated. It seems that the winui application xaml is special part and it seems that there

[2020-09-11 11:30] Poopooracoocoo commented on #1401
any updates on this? would be neat if this could make it to v2.5 :)

[2020-09-11 11:32] nilaysanghvi opened #3277 "Teaching tip narrator announcement does not announce the subtitle"
The current narrator announcement is - "Press F6 to go to new notification from [App name]. [Teaching tip Title]".
Ideally, the subtitle should be announced too, and if not then at least the developer should be given the option to control if the subtitle should be announced or not.