[2021-01-06 10:32] chingucoding commented on #3890
If something gets sandboxed (if we are talking about UWP sandbox) does not depend on if you load it in a window or page but rather who created it, i.e. the project type. Since you are using WinUI desktop, it shouldn't matter if you do something in the windows code behind or the pages code behind, both are have the same level of access and sandboxing.

[2021-01-06 10:48] Elmarcotoro opened #3894 "Window size changes on navigation"
**Describe the bug**

When I run the app the Window displays as not full screen.
If I maximise the Window to full screen and then Navigate to a new Window the new window resizes back to the original not full screen size.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Run the application
2. Maximise screen
3. Navigate to a new Window
4. New window returns back to original not

[2021-01-06 10:57] Elmarcotoro commented on #3890
@chingucoding Thank you for that clarification.  I have misunderstood this (I did mean UWP sandbox).
In that case I should be able to use Pages and still have access to system files from the code behind?

I'm sorry to ask this but I have struggled to find a satisfactory answer.  What is the benefit of using a Window over a Page in a Desktop app?

[2021-01-06 11:52] chingucoding commented on #3890
Yes you should be able to use pages and be able to access system files.

Window and Page are two different things. A Page is part of an window, a window can have multiple pages, pages get switched out inside windows and you can navigate between pages. Windows on the other hand are top level elements, everything you see  has a window at it's visual tree root. You can not navigate between windows. T

[2021-01-06 12:56] YoungFcode commented on #3877
Moving forward is there any chance Microsoft will be updating the UWP ComboBox to allow display of all items?

[2021-01-06 13:41] huoyaoyuan opened #3895 "Desktop WinUI 3 window may appear behind other windows"
**Describe the bug**
Desktop WinUI 3 window may appear behind other windows when operating other windows, and disappear in task bar.

**Steps to reproduce the bug**
1. Do some change in the project to trigger rebuild.
2. Launch the entry app in Visual Studio by F5. This will take some time to build it.
3. **Keep operating** on other window, for example browser. This is the requirement to reproduce

[2021-01-06 13:59] mdtauk commented on #3890
@chingucoding  I think the WinUI 3.0 documentation would benefit from a "blueprint" of an app, with the Window > Frame > Page construct detailed with an illustration.

A basic set of guides and examples of how you navigate your app structure, as well as showing the alternate patterns such as NavigationView (Top and Side) - TabView (document model) - Immersive (calculator, acrylic) etc

[2021-01-06 14:09] Elmarcotoro commented on #3890
@chingucoding @mdtauk
Thank you both for you clarification, it has been very helpful with getting a better understanding and moving forward.  I agree with @mdtauk that some documentation would really help especially at these early stages.  I was quite confused.

[2021-01-06 14:09] #3890 closed

[2021-01-06 15:03] chingucoding commented on #3890
I agree with you @mdtauk and @Elmarcotoro, this might be good to explain in the documentation. I'm not sure though who would be the right person to direct this to, @ranjeshj do you happen know who is the right person for this?

[2021-01-06 15:58] Austin-Lamb commented on #2956
No update yet - but the request for both types of transparency is being tracked as a feature request.  I think it will be a while before we can get to it, and it's possible we will do output transparency first and input transparency at a later time (we're treating the two separately as some folks only need output).

[2021-01-06 16:08] Sergio0694 opened #3896 "Proposal: TypeConverter-equivalent for class properties (attribute)"
# Proposal: TypeConverter-equivalent for class properties

## Summary

In WPF, it's possible to define a `TypeConverter` type to manually implement conversion logic from a `string` to arbitrary types when parsing XAML code. This is not supported on UWP. UWP does have the [[CreateFromString]](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.metadata.createfromstringattribute?view=winrt-1

[2021-01-06 16:24] ranjeshj commented on #2458
The spec is already updated. @chingucoding can you move this API out of preview ?

[2021-01-06 16:26] chingucoding commented on #2458
Sure, I'll create a PR shortly.

[2021-01-06 18:24] mdtauk commented on #1958
Interesting new "Live Tile" like UI for a Taskbar Flyout - **Insider Build 21286**
![image](https://user-images.githubusercontent.com/7389110/103806072-66f4fc00-504c-11eb-9e31-e99381fa18f1.png)

[2021-01-06 18:33] Elttob commented on #3549
Maybe not completely disappear, but a smaller thumb for more precision is an interesting idea!

[2021-01-06 18:48] yoshiask commented on #1958
That's an interesting development. It's basically a new flyout specifically for live tiles, which doesn't make a whole lot of sense. Isn't that what the tiled Start Menu is for? And if Microsoft really wants to have taskbar widgets... well, Windows already has those in the form of toolbars, like this one for Zune Desktop. Why not improve live tiles and modernize the taskbar toolbar APIs?
![image](

[2021-01-06 18:52] StephenLPeters commented on #3877
ComboBox is not a control shipped in Winui2, meaning changing it would require an OS update or Winui3.  We could examine this once WinUI3 ships.

[2021-01-06 18:57] mdtauk commented on #1958
10X has removed Live Tiles from their Launcher (Start Menu) and also removes Taskbar flyouts and icons.

So is this a way for 10X to add support for Tiles in the future?

**Brandon LeBlanc** on Twitter is saying we shouldn't read too much into this, and says its an exclusive UI for News and Interests.  And talks about it being a **Windows 10** thing, and is not discussing this feature with **10X**

[2021-01-06 19:03] Susko3 commented on #1495
Should be available in build 21286. Downloading and installing now and will update if it works!

https://blogs.windows.com/windows-insider/2021/01/06/announcing-windows-10-insider-preview-build-21286/

@joaodforce Keep in mind if you upgrade from one Insider build to another, you won't be able to go back to regular Windows. Only by reinstalling will you be back on the normal version. I tell you th

[2021-01-06 19:20] StephenLPeters opened #3899 "Appcrash due to unsafe property registration"
Port of internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/17585616?src=WorkItemMention&src-action=artifact_link)

there is a race condition in the MUXC dependency property initialization code if two threads try to initialize it at the same time. We are initializing two threads and cores at the same time and they both call out to EnsureProperties?

This should be fixable with t

[2021-01-06 19:21] StephenLPeters commented on #3899
@jevansaks FYI

[2021-01-06 20:03] ranjeshj commented on #1402
Discussed with some folks internally and I think it makes sense to just update this in the WinUI2 style and let it flow to WinUI3.

Adding this to the ListView style should do the trick
<Setter Property="HorizontalContentAlignment" Value="Stretch"/>

[2021-01-06 20:09] chingucoding commented on #1402
@ranjeshj Is this good to work on then? Would you like me to create a PR for this?

[2021-01-06 20:11] robloo commented on #1402
@ranjeshj That's great to hear!

@chingucoding If you don't I will. I'm glad to finally see this closed.

[2021-01-06 20:22] chingucoding commented on #1402
@robloo If you want to create the PR for this, sure go for it (assuming it's fine with the team which it seems).

[2021-01-06 20:58] Susko3 commented on #1495
It works!

Made a quick gist with a .reg file: https://gist.github.com/Susko3/a59aace42579222e351e57abfad0cef5

[2021-01-06 21:28] chingucoding commented on #2109
Maybe a more appropriate way to solve this nice to have would be to have XCG as a git submodule reference? Given that VS and other clients usually don't clone submodules this should be fine. If someone wants to try changes out with the XCG, they can still do that.

[2021-01-06 21:45] robloo commented on #1402
@chingucoding I didn't mean to take your steam on this. Feel free to add it yourself!

There is also no default style for this in WinUI at this point. I'm not sure how to add that and make sure it's properly registered. Additionally, this isn't the ListView style itself.: it's the ListViewItemRevealStyle style as demonstrated below:

[code]

[2021-01-06 21:52] carlos-zamora opened #3900 "NavigationView's Settings menu item space is still present when `IsSettingsVisible` set to false"
**Describe the bug**
In a `NavigationView`, when the Settings `NavigationViewMenuItem` is hidden with `IsSettingsVisible="False"`, the spacing for that menu item still exists.

**Steps to reproduce the bug**
<details>
<summary> Sample Code</summary>

[code]
</details>

Steps to reproduce the behavior:
1. Create a muxc:NavigationView with a PaneFooter and `IsSettingsVisible="False"` (see sample cod

[2021-01-06 22:26] chingucoding commented on #1402
And we have to override this in the ListView template? Shouldn't it be enough to add the modified reveal style to WinUI 2 then?

Also, please if you want to work on this feel free to do so!

[2021-01-06 23:19] stevenbrix commented on #3219
@jtorjo, do you know if once a machine is in this state, does it always fail, or is it random?

@alwu-msft, does this look like the activation issue that carl russel is tracking?

[2021-01-06 23:22] stevenbrix commented on #3289
@chingucoding, VSM is designed somewhat like `{Binding}`, where it is supposed to silently fail. It sounds like you're asking that we change this behavior, correct?

[2021-01-06 23:29] stevenbrix commented on #3303
I agree with @benstevens48, that this seems unlikely to be an issue with `x:Bind`. In a purely managed app, the generated code can't be responsible for memory leaks since it's all managed.

@StephenLPeters, would you be able to take a look at the control and make sure that the leak isn't coming from there?

[2021-01-06 23:30] chingucoding commented on #3289
I suppose, yes. But the VSM can also crash when switching to states with invalid references which is why this behavior was confusing to see.

[2021-01-06 23:32] stevenbrix commented on #3306
Thanks for filing this Luke! There are probably a few error messages that we should clean-up now that we aren't shipping in Windows anymore

[2021-01-06 23:34] stevenbrix commented on #3320
Thanks for filing this issue @chingucoding. I agree this is clunky and should be fixed.

[2021-01-06 23:40] stevenbrix commented on #3334
@sis2004, does this repro with `{Binding}`?

@RealTommyKlein, do you see any way that we could address this in x:Bind? It feels like there is an ordering issue, but I don't know if there is anything x:Bind can do.

[2021-01-06 23:43] stevenbrix commented on #3335
Thanks @BorzillaR and @Xarlot.

@bartekk8 can you see if this is still reproing on the latest?

[2021-01-06 23:45] stevenbrix commented on #3338
Thanks @huoyaoyuan for filing this. It sounds like this is a feature request?

[2021-01-06 23:47] stevenbrix commented on #3339
@Scottj1s this sounds like a C#/WinRT issue - would you be able to take a look?

[2021-01-06 23:51] RealTommyKlein commented on #3334
@stevenbrix - it would probably entail a new feature/directive to re-order x:Bind evaluations instead of evaluating x:Binds in the order they're declared in markup.  I was originally thinking we could repurpose `x:Phase`, but that's on a per-element basis instead of per-x:Bind, and requires the x:Bind to be used in a virtualizing control that would invoke x:Bind with its different phases.  Could s

[2021-01-06 23:54] stevenbrix commented on #3382
@jordanisaacs thanks for your input, can you confirm that this is a regression?

[2021-01-07 00:10] stevenbrix commented on #3893
@blueblizza, if you disable mixed mode debugging, does that fix this issue?

[2021-01-07 00:11] sis2004 commented on #3334
@stevenbrix  this does not repro with `{Binding}` , since it doesn't use generated code the way `x:Bind` does.

You can try to make x:Bind more clever and generate the code in the right order, but that sounds like a complicated task to me that could result in a messy design.

Alternatively, you can try to update the Pivot control to make it tolerant to the order its properties are updated in (with

[2021-01-07 00:14] stevenbrix commented on #3390
@phraemer, does this happen with `x:Load`?

[2021-01-07 00:19] stevenbrix commented on #3339
Closing this since there is a C#/WinRT issue (mentioned above) tracking this

[2021-01-07 00:19] #3339 closed

[2021-01-07 00:53] StephenLPeters opened #3901 "DatePicker control doesn't work normally after pressing mouse to loop the picking time for about 40 seconds."
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/30806508?src=WorkItemMention&src-action=artifact_link)
Steps to repro:
- Run the demo source as attached. (DatePicker.zip)
- Watch the repro video as attached. (DatePicker.mp4)
- You can find that if you keep pressing the mouse at the DatePicker control, and let the minutes part loop for about 40 seconds. Then you c

[2021-01-07 00:57] StephenLPeters opened #3902 "Using a StackPanel as the ItemsPanel for a ListView regresses drag-drop announcements in Narrator"
Copied from Internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/30205930?src=WorkItemMention&src-action=artifact_link)
Create a reorderable UWP ListView with a custom ItemsPanel that uses a StackPanel (instead of the default ItemsStackPanel).
Start Narrator.
Use Alt+Shift+arrow keys to reorder elements in the ListView.
Narrator will always read "drop to place before [first item

[2021-01-07 00:59] StephenLPeters commented on #3902
Replacing ItemsStackPanel with StackPanel isn't recommended. StackPanel does not do UI virtualization, so if you have a lot of items, perf will suffer badly. However, this is an easy mistake for a developer to make (see my PR to MSDN). Even if a developer chooses the wrong StackPanel subtype, drag and drop should still work properly in Narrator.

[2021-01-07 01:01] alwu-msft commented on #3407
@mc0re Sorry for the delay in responding; I thought I'd already answered your question, but I'm failing to find it so maybe it was just in my head. :(

Unfortunately the behavior you're trying to take advantage of (return a `Binding` from a custom markup extension to set up a binding targeting a non-`Binding` property) was only added with Windows 10 1903 (18362). You can use the [`ApiInformation.I

[2021-01-07 01:05] StephenLPeters opened #3903 "Crash in Microsoft.UI.Xaml.dll!NavigationView::UpdateSelectionModelSelection"
copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/30122254?src=WorkItemMention&src-action=artifact_link).

[2021-01-07 01:57] blueblizza commented on #3893
hi @stevenbrix , I change debugger type to "managed only" and this issue is fixed.
On the other hand, if I change debugger type to "native only", this issue reproduced.

[2021-01-07 02:06] huoyaoyuan commented on #3338
@stevenbrix Yes. I'd expect to prepare a major update on xaml after you open source it.

[2021-01-07 03:04] SunnyWang1012 commented on #3888
Thanks @ValerCheck
I disabled "JustMyCode" setting and found the exception occurs inside "this.InitializeComponent()" of HelloUserControl.xaml.cs. The following is the screenshot:
![error](https://user-images.githubusercontent.com/7006770/103845799-c2200080-50d7-11eb-90c0-26687e594d09.jpg)

I try to add **HelloPlugin** as reference project to **App** project, then it will be no problem. It seems t

[2021-01-07 03:10] jevansaks commented on #3888
That makes sense ... but without a repro project we can't help too much. In general assets should get carried through `<ProjectReference .../>` in csproj/vcxproj but there may be some more knobs you need to set.

[2021-01-07 04:01] robloo commented on #1402
And we have to override this in the ListView template? Shouldn't it be enough to add the modified reveal style to WinUI 2 then?

I was saying, no, we don't modify the ListView template (as Ranjesh implied). Yes, we should just modify the ListViewItemRevealStyle.

I do not know how styles are picked up by the WinUI library though -- I'm not sure how they are registered. I have only ever modified ex

[2021-01-07 04:57] Jaiganeshkumaran commented on #952
Please don't do this. Hand cursor should be used for elements that look like a hyperlink and not thick buttons or navigation view. Better move this issue to Fluent UI repo to get rid of the unwanted hand cursor.

[2021-01-07 05:41] Jaiganeshkumaran commented on #242
Asking for the last time, please don't remove this. Although it's not nice plainly with reveal effect it is really good and would like to see it more on the web and mobile. Don't remove this from Windows.

[2021-01-07 05:44] Jaiganeshkumaran commented on #3817
One change that I noticed in Alarms and Clock is dialogs are light dismissable. Are there any plans to bring this to WinUI?

[2021-01-07 10:05] JohnF38 commented on #1080
Hi everybody !

I definitely agree with @EasifyDev ,
Floating Windows provide invaluable flexibility when it comes to reorder windows or put several alongside for comparison.

Although I've tried the 'Tab Option' , usability was really poor.
It would be great not to forget _traditional_ Desktop applications developers ...  ;-)

Regards,
John

Oh yes, pleeeease : release decent control use examples

[2021-01-07 12:20] miaoweiwei opened #3904 "Proposal:插件化"
# Proposal:插件化
建议类似NotePad++那样可以运行开发者自己制作插件，这样就更完美了。

[2021-01-07 12:21] #3904 closed

[2021-01-07 13:45] chingucoding commented on #1402
Given that the ListViewItem style is already in WinUI, you would probably just need to modify this line https://github.com/microsoft/microsoft-ui-xaml/blob/2f6f77ca5cb9b9d206fe0a3922219de96d9024df/dev/CommonStyles/ListViewItem_themeresources.xaml#L164

as ListView just pick this style up as we registered it as the default style for ListViewItem.

[2021-01-07 14:09] SunnyWang1012 commented on #3888
@jevansaks
I have uploaded my projects. For your reference. thanks.
https://github.com/SunnyWang1012/WinUILoadPlugin/blob/main/README.md

[2021-01-07 14:55] YoungFcode commented on #3877
I would highly recommend this update.

[2021-01-07 15:13] robloo commented on #1402
Ah, I did not know of the common styles directory, thanks!

[2021-01-07 15:42] Jaiganeshkumaran commented on #3546
The proposed button style doesn't look that clear and I think depth needs to be increased to be noticed.

[2021-01-07 16:04] huoyaoyuan commented on #3672
Additional context:
When packaging from command line in Release, it will fails with error in `UseDebugCRT` from `Microsoft.VCRTForwarders.140`, which shouldn't been invoked. (Not invoked in template app). Adding `/p:VCRTForwarders-IncludeDebugCRT=false` solves it and gets the same behavior in Visual Studio.

Full command line used:
[code]

[2021-01-07 16:13] mdtauk commented on #3546
I would probably like a stronger border, and brighter fill for Dark Theme buttons

[2021-01-07 16:23] huoyaoyuan commented on #3672
When building from command line for Release, I get the MakePRI error even when packaging for a single platform. This differs from Visual Studio. Packaging for Debug is always good.

[2021-01-07 16:25] #2458 closed

[2021-01-07 16:27] #3845 closed

[2021-01-07 19:03] dragonDScript commented on #242
They are not removing this feature

[2021-01-07 19:07] mdtauk commented on #242
The intent is to remove the tilt effect when pressing these controls, because it was a Windows Phone and Windows 8 metro effect, and they are moving to a new Fluent Design across Web, Windows, and Mobile Cross-Platform.

[2021-01-07 19:09] yoshiask commented on #825
This is a viable workaround, but it's hardly a solution. XAML files generated from SVGs can't be used in other non-UWP apps, while SVG is [supposed] to be supported by all of them. A better solution would be to embed that conversion code into XAML's SVG 'parser'. That way, you can supply an SVG and it will be converted to XAML at runtime, rather than requiring devs to put together a second set of

[2021-01-07 19:11] mdtauk commented on #242
I assume the Tilt effect will remain in the WinUI repo, but you would have to retemplate to re-add it to the controls.  Maybe @chingucoding, @chigy, or @anawishnoff will be able to clarify that.

[2021-01-07 19:17] chingucoding commented on #242
Yes you would need to retemplate controls to add the tilt effect to controls as you need to have the [PointerUpThemeAnimation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.animation.pointerupthemeanimation?view=winrt-19041) and [PointerDownThemeAnimation](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Media.Animation.PointerDownThemeAnimation?redirectedfrom=MSDN&view=wi

[2021-01-07 19:20] Austin-Lamb commented on #3812
Great.  I'm going to close this issue since it seems like your questions have been answered - if you have more specific questions as you go, feel free to open issues on those.

[2021-01-07 19:20] #3812 closed

[2021-01-07 20:14] asears opened #3905 "MSBuild - Xaml MarkupCompile passes slow"
**Describe the bug**

References: https://github.com/dotnet/wpf/issues/3954

When running msbuild against a uwp project, the steps to compile XAML are very slow performing in relation to other tasks.
Are there any improvements or caching that can be done to speed up compilation times related to XAML?

Running Windows 10.0.17763.0 XamlCompiler.

C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763

[2021-01-07 20:46] licanhua opened #3906 "Enable test case which is disabled in feature/token-experiment branch"
Search below text in PR #3887
// TODO: fix failing tests after color updates

[2021-01-07 21:25] stevenbrix commented on #3289
Oh geese, does the repro you provided have that scenario? It would be helpful to have that scenario. Inconsistent behavior is worse than consistently incorrect behavior.

[2021-01-07 21:33] chingucoding commented on #3289
IIRC, yes the repro was exactly that case where in high contrast (I think), we failed to look up a resource but instead of crashing we just got an empty list of visual states.

[2021-01-07 21:56] sylveon commented on #242
Retemplating to add/remove this effect is way too much code.

[2021-01-07 22:28] chingucoding commented on #242
Unfortunately, because how XAML works, beside adding a new API on the button itself to toggle this, there is no other option. With styling concepts like CSS this would be a lot easier, but the animations are part of the VSM and can't be changed without retemplating unfortunately.

[2021-01-07 22:45] MartinStrbak opened #3907 "SelectedItem change is not reflected in TabView UI after adding item to TabItemsSource collection"
**Describe the bug**
When item is added to TabItemsSource collection and SelectedItem is changed to this newly added item, TabView UI does not reflect this (corresponding TabViewItem remains unselected).

**Steps to reproduce the bug**
1. Run attached project
[Sample project.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5784283/Sample.project.zip)

2. Clicking on first button works cor

[2021-01-07 22:58] mdtauk commented on #242
@chingucoding  You may want to keep a mental note of that.  It should not be that hard to alter any of the default Theme Transitions for controls - it may be worth trying to add these as lightweight overridable values.

ButtonPointerDownThemeAnimation
ButtonPointerUpThemeAnimation

Both of these can be set to a blank Animation by default, but you can assign a bundled Fluent Animation, or a custom

[2021-01-07 23:14] #3906 closed

[2021-01-07 23:19] MikeHillberg commented on #2609
I would use a Semaphore and wait on it from the non-UI thread. CoreDispatcher.RunAsync can be a bit difficult to use, because it returns/completes early if the code itself makes an async call.

@scott-moore-ms  FYI

[2021-01-07 23:26] chingucoding commented on #242
The issue is that there doesn't seem to be a way to make this a lightweight styling resource. StoryBoard doesn't expose anything that we could bind to a resource, you have to set it's children in XAML. Either you set the children or you don't, however you can'T have an animation resource and use that in there from what I can tell. I'm afraid VSM needs to expose more properties for this to work.

[2021-01-07 23:32] mdtauk commented on #242
So, it looks like WinUI 3.X will need to create a new API to allow for re-usable Animation or Storyboards - which can be applied to a control's VisualStates

[2021-01-07 23:36] chingucoding commented on #242
Yes, this needs changes in VSM and Storyboards so will need to wait until WinUI 3.X.

[2021-01-07 23:41] mrlacey commented on #242
If this is removed but lots of people want it, it should be simple enough to add a `TiltButton` to the community toolkit to make this behavior available to those who want it.

[2021-01-07 23:45] mdtauk commented on #242
Very nostalgic, as there was a Windows Phone custom control released to simulate the 3D camera perspective tilts that the DirectUI internal APIs supported in the Windows Phone UX - And later the concept of Theme Animations added to the Windows 8 controls by default.

[2021-01-07 23:45] chingucoding commented on #242
Agreed, though you would need a `TiltButton`, `TiltAccentButton` and `TiltRevealButton` to have a consistent experience.

[2021-01-07 23:47] mdtauk commented on #242
The tilt effect is also used for the List and Grid Views, which I believe is also going to be removed when they update.

[2021-01-08 00:03] StephenLPeters commented on #3907
@MartinStrbak do you know if this issue is unique to winui3 or if it is present in winui2 as well?

[2021-01-08 00:04] StephenLPeters commented on #3905
@alwu-msft or @RealTommyKlein fyi

[2021-01-08 00:10] StephenLPeters commented on #3896
@ryandemopoulos seems like a cool idea

[2021-01-08 00:13] StephenLPeters commented on #3895
@Austin-Lamb FYI

[2021-01-08 00:17] StephenLPeters commented on #3303
regardless this functionality isn't in winui2, its in system xaml so we wont be able to deliver a fix for this until we get winui3.

[2021-01-08 00:47] sylveon commented on #242
@mrlacey The community toolkit is in C# and therefore I can't use it (my program is in C++). I feel like this might be better suited as a built-in WinUI style

[2021-01-08 01:19] MikeHillberg commented on #3874
@sjb-sjb, could you explain that last part? You're expecting to get a KeyUp while the key is still down?

[2021-01-08 04:31] licanhua commented on #3877
I didn't do the testing, maybe you can try re-template the ComboBox and set MaxDropDownHeight to a larger number. Currently it's hard coded with 504

 <Setter Property="MaxDropDownHeight" Value="504" />

https://github.com/microsoft/microsoft-ui-xaml/blob/c464079156f3731165ba5068277935c8ed174207/dev/ComboBox/ComboBox_themeresources.xaml#L393

[2021-01-08 05:38] darkguy2008 commented on #2992
Just maybe a far-fetched idea, but would it be possible to override WebView2's OnPaint() method (if it has any?) and take the WebView2's view and paint a color key (like Chroma key works) with a transparent color or something that Windows sees as transparent? Somewhat like Win98, WinXP and so on managed transparent windows in game installers, WinAmp and so on?

Yeah I know I'm talking about WinFor

[2021-01-08 07:26] MartinStrbak commented on #3907
@StephenLPeters  I tried in only on Win32 windows app type for WinUI (therefore WinUI3 only), as I am not familiar with UWP development.

I tried to replicate it on UWP with this result (see attached projects):
1. UWP + WinUI2 (Nuget package Microsoft.UI.Xaml 2.5.0) - same result as in Win32 + WinUI3 (SelectedItem change does not work after adding new item)
2. UWP + WinUI3 - same behavior as in Wi

[2021-01-08 09:51] Jaiganeshkumaran commented on #242
Please don't remove this

[2021-01-08 09:53] Jaiganeshkumaran commented on #242
Why can't they make it part of Fluent? I checked Windows 8 and tilt was present only on the tiles and Windows 10 did add tilt to other controls like buttons while Windows Phone already had it. This is an excuse not a real reason. And if you add reveal to tilt it does look good

[2021-01-08 09:54] Jaiganeshkumaran commented on #242
Why can't they change or improve this? If not tilt at least provide a Z index based effect for visual feedback

[2021-01-08 10:01] mdtauk commented on #242
There are some concerns about how the text rendering gets distorted as the control tilts.  It is an effect that would mess up the ThemeShadow if it was based on the Z-index.  Like the indeterminate Progress Bar and Ring, moving away from the dots to a different animation - it is a Metro and MDL2 (Microsoft Design Language 2) feature, and it is not a feature they wish to continue using, or bring ov

[2021-01-08 10:06] Jaiganeshkumaran commented on #242
@mdtauk What's the point of open source if MS doesn't listen to feedback? I'm not telling I don't like design refreshes but this is something unnecessary to remove

[2021-01-08 10:15] Jaiganeshkumaran commented on #242
Tilt can go away but there needs a click effect for touch feedback. Google has ripple for this but doesn't work well on a mouse

[2021-01-08 11:53] mdtauk commented on #242
I'm suggesting that there may be more feedback asking for it to be removed, than there is asking for it to stay

[2021-01-08 11:54] mdtauk commented on #242
There is a pressed state, s change in colour.  You are suggesting it may not be enough or strong enough a change.  I think I may agree, but that would need to be a new proposal.

[2021-01-08 13:25] phraemer commented on #3390
@stevenbrix I've actually moved on from this job but @gabrielbunselmeyer should be able to check for you

[2021-01-08 13:26] phraemer commented on #3308
@gabrielbunselmeyer you might want to subscribe to this one too

[2021-01-08 14:01] MichaeIDietrich commented on #3896
Optionally one could think about separating the source type information from the `MethodName` property, to make such references to break less likely on code refactorings:

[code]

[2021-01-08 15:36] YoungFcode commented on #3877
In generic.xaml (v10.0.18362.0) I do see a hardcoded MaxDropDownHeight = "504" for the ComboBox.
My project is actually using generic.xaml (v10.0.17763.0) which does not contain a MaxDropDownHeight (for any control).
Just to be sure I changed MaxDropDownHeight = "1200" in v10.0.18362.0, but had no effect.
I also explicitly set MaxDropDownHeight on the ComboBox control itself in the xaml, again to

[2021-01-08 16:13] jtorjo commented on #3219
@stevenbrix @alwu-msft I can say I'm pretty sure that once a machine is in this state, it will always fail. I've never seen a machine to fail a few times and then work

Having said that, my current hypothesis is that this may be related to Windows Media Player being in a corrupt state. I have searched the internet, and it can happen, and my take is that most people won't even notice it because mos

[2021-01-08 16:26] mdtauk commented on #3744
You may want to reconsider the InfoBar colour used by default, now that the Page Background colour has changed for the Light Theme. **(This is when using the Latest visuals)**

![image](https://user-images.githubusercontent.com/7389110/104039194-f70e7f00-51cd-11eb-836b-e201786042fd.png)

The Dark Theme is also hard to distinguish too

![image](https://user-images.githubusercontent.com/7389110/1040

[2021-01-08 19:29] alwu-msft commented on #3219
@jtorjo
1. Yes, that is pretty likely. If you have a crash dump that you can share, we can check it for any inner exceptions that were masked.
2. My understanding is that the N editions don't include Windows Media Player (users need to download and install it separately) so you might be onto something. @Austin-Lamb do you know how MediaPlayerElement interacts with a Windows 10 N install that doesn

[2021-01-08 19:54] mandalorianbob commented on #3797
FWIW, I did run into an issue where I had a crash that seemed related to this on first launch, which is bizarre. But I got "Element already child of another element" on first launch. But I can't seem to reproduce it which is disconcerting.

When you do find out what's up, any work arounds to try to prevent this would be appreciated.

[2021-01-08 21:02] mdtauk commented on #3817
A nice touch with the TimePickers, is being able to use the scroll wheel while hovering over the value

[2021-01-08 21:38] beervoley opened #3910 "PipsPager: Navigation arrows don't become visible after being Tabbed Into"
**Describe the bug**

If the visibility of Navigation Buttons is set to **Visible On Hover** then when the user will use keyboard to Tab into Navigation Buttons, they won't become visible.

**Steps to reproduce the bug**

1. Set PreviousButtonVisibility and NextButtonVisibility to VisibileOnHover.
2. Navigate to the 2nd pip in the PipsPager.
3. Tab into the Navigation Buttons using Keyboard.
4. Ob

[2021-01-08 22:02] StephenLPeters opened #3911 "ListViewBaseItem assumes mouse pointer is not over it in its pointer-caption-lost processing and enters Normal visual state"
copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/31251587?src=WorkItemMention&src-action=artifact_link).

When you press and release the left mouse button over a ListViewItem, it goes into the Normal visual state instead of the PointerOver visual state. You then need to nudge the mouse pointer a bit for the PointerOver state to be entered.

That's because the List

[2021-01-08 23:03] stevenbrix commented on #3905
Thanks for filing this issue @asears.

We have #1535 open related to compiler perf, unless you think there is a reason to have separate issues, I'll close this as a dupe

[2021-01-08 23:08] stevenbrix commented on #3672
Thanks for the additional context @huoyaoyuan.

The paths being different for Debug/Release sounds expected. Do you think this is causing an issue?

[2021-01-08 23:10] stevenbrix commented on #3893
Thanks @blueblizza, this sounds like a known issue. Do you need mixed mode or native only debugging? Our plan to address this is to change the default to managed debugging only

[2021-01-08 23:41] stevenbrix commented on #3657
@wbokkers I just tested this with a UWP project and it does look like it's happening, although maybe there was some regression in UWP that was missed?

[2021-01-09 00:15] stevenbrix commented on #3850
@Changed-Daily and @huoyaoyuan, it sounds like you figured this out so I'm going to close this out. If this is incorrect, please respond and I'll open it.

[2021-01-09 00:15] #3850 closed

[2021-01-09 01:09] stevenbrix commented on #3805
Sorry that you came across this issue @abhi-msft. I'm going to close this since it no longer repros.

Thanks @huoyaoyuan for helping @abhi-msft, you're a rockstar!

[2021-01-09 01:09] #3805 closed

[2021-01-09 08:19] huoyaoyuan commented on #3672
@stevenbrix The error message is about xbf in control library project, so I think there might be case not considered for project reference.

It doesn't matter whether the control library project is x64 or anycpu.

[2021-01-09 09:55] asears commented on #3905
Sure thing, close it as a duplicate unless you can use this issue to target / track optimizing the 2 Xaml compile tasks and targets.   Might be simpler.  The issue you linked seems to relate to upgrading to fix the performance regression issues.  A drop-in replacement to these xaml tasks & targets or some pointers on addressing the build issues with msbuild flags would be much appreciated instead

[2021-01-09 13:39] Sergio0694 commented on #3896
@MichaeIDietrich That certainly would be a welcome addition, though since that change would apply to the `[CreateFromString]` attribute as it already works today (as in, that would work when used normally over custom types too), I think that should go in a differeent proposal, to keep this one as small scoped as possible, so that it's easier to work on for the team 🙂

[2021-01-09 15:23] fgoulet opened #3912 "Content set using WindowHandle get overlapped"
**Describe the bug**

I have this small fun project that I try to port from WPF to WinUI 3 Desktop. In short, it use a nice .net 5 library (VST.Net) to play music with VST software synthesiser plugin via interop. There is a method in this library that accept a window handle (HWND) to display the "editor" of the plugin.

**Steps to reproduce the bug**

In WPF, I do something like that
[code]
And th

[2021-01-09 17:42] Tropix126 commented on #242
I really view tilt as part of what makes fluent unique and would hate it if went.

[2021-01-09 17:49] ranjeshj opened #3913 "Investigate enabling brush transitions on new styles that were disabled by accent brush update"
Accent brush PR #3909 is removing brush animations since we hit an issue, This issue is to track investigating a way to enable that back.

[2021-01-09 19:20] mdtauk commented on #3913
Could it be an issue with the ``ColorAnimationByKeyFrames``

What about something like this
[code]

Maybe @JustinXinLiu could offer an insight, he has done a lot of Xaml animation stuff

Essentially, what is needed is for the system provided Accent Colour to be given to WinUI - and for that to generate the needed AccentColor and AccentAAColor variations as both brushes and colours in the WinUI The

[2021-01-10 05:08] Jaiganeshkumaran opened #3915 "Proposal: Navigation View - Don't use LeftMinimal & LeftCompact and use top mode for smaller screens when auto mode is set"
# Proposal: Navigation View - Don't use LeftMinimal & LeftCompact and use top mode for smaller screens when the auto nide is set
Hamburger menus are not that intuitive and hard to use. In left mode, it is not an issue since it's open but in left compact and minimal it hard to use especially on a touch screen. I would suggest to get rid of them and use top mode on smaller screens.

## Summary

Hamb

[2021-01-10 07:54] mdtauk commented on #3915
I think there is a place for moving from a side orientated NavigationView to a top orientated one - for certain apps when the window or screen size is narrow/small.

But it should not be a default behaviour, because this is not an ideal situation when there is a large amount of NavigationView Items, or when a developer wishes to not use icons alongside text labels for their Nav View.

The "Hamburg

[2021-01-10 07:56] Jaiganeshkumaran commented on #3915
@mdtauk However I find hamburger menus hard to use and should not be the default in auto mode.

[2021-01-10 08:08] mdtauk commented on #3915
If you are making a proposal for a big change in default behaviour, you will need to provide a more detailed explanation of what exactly is wrong, provide a technical think through of the implications of making the change, and find evidence of others who have a similar opinion.

Now when Windows 10 was in development, I was quite vocal about the use of the "Hamburger Menus" and there have been a f

[2021-01-10 08:13] mdtauk commented on #3915
The default behaviour, relies on the user seeing the Toggle button with the "Hamburger Icon" - and that will show the labels for the Icons which are visible in the compact mode.  When the app window is wide enough, the sidebar expands to show Icons and Labels.

The collapsed mode, I don't think is used by default.

[2021-01-10 10:26] jtorjo commented on #3219
@alwu-msft
1. I would happily provide one, but I don't really have any. No one is willing to give me one.
2. If you can provide me with a link to a windows 10 N ISO, I can try this myself on a virtual machine. Thanks!

[2021-01-11 01:05] shresthasource commented on #3256
I am having trouble changing the background color of a TeachingTips.
These codes below appear to do nothing to the background of a new MUXC.TeachingTip(){Content = "Something"}

teachingTips.Resources["TeachingTipTransientBackground"] = new SolidColorBrush(Colors.Red);

OR

            Application.Current.Resources["TeachingTipTransientBackground"] = new AcrylicBrush()
            {

[2021-01-11 07:12] blueblizza commented on #3893
Hi, @stevenbrix, I need mixed mode, because I also include a WinRT algorithm module in my project written in C++.

[2021-01-11 08:59] hupo376787 commented on #3861
And recently we found items that may disappear randomly using up/down key to focus.

My xaml [gist](https://gist.github.com/hupo376787/496aee061296136102bcb66037b84054).

https://user-images.githubusercontent.com/14960168/104161564-0b50b700-542e-11eb-990b-b576d0bb4ea6.mp4

[2021-01-11 10:34] alexdi220 commented on #3496
Any updates? At now it a critical behavior and I can't manage the visual state of the control when it was disabled.

[2021-01-11 10:35] alexdi220 commented on #3497
It would be nice to have the Disabled state out of box. It looks strange when control has property but has no state. Another reason is a [bug](https://github.com/microsoft/microsoft-ui-xaml/issues/3496) and I can't change the visual state of my control

[2021-01-11 10:36] huoyaoyuan opened #3916 "IComponentConnector uses duplicated id causes x:Bind fails with InvalidCastException"
**Describe the bug**
The issue is quite a coincidence. I confirmed it by setting break point in `IComponentConnector.Connect` in `.g.cs`.

It should be hard to reproduce, but I can share some analysis:

There's a custom control with dependency property.
The control's template uses `x:Bind`. This requires a code behind in it's theme dictionary. This works fine alone.
The control is used in a data t

[2021-01-11 10:44] huoyaoyuan commented on #3916
Note: this only reproduces if the control is the root element of data template.

[2021-01-11 10:47] dylech30th opened #3917 ""WinRT originate error - 0x800F1000 : Cannot Resolve TargetName" when using Storyboard"
the same code snippet behaves correctly in a UWP app(except the \<Window\> mark is replaced by \<Page\>), but cannot run properly in a WinUI 3 preview 3 Desktop project:
MainWindow.xaml:
[code]
MainWindow.xaml.cs:
[code]
start debugging the program, move the pointer over the red area, and you will get a crash will error message:
[code]

[2021-01-11 11:33] ssaran046 opened #3918 "Combobox items are not selected properly when using the custom items panel"
**Describe the bug**

Combobox items are not selected properly when using the custom items panel.

_Sample link:_  https://1drv.ms/u/s!AsISs7GoFbYYgsFYiS9jJmnpHeB5_w?e=ObT7oK

**Steps to reproduce the bug**

1. Run the provided sample
2. Click on Combobox dropdown

**Expected behavior**

Only one Combobox item needs to be selected.

**Screenshots**

![image](https://user-images.githubusercontent.c

[2021-01-11 11:44] ShaneOss commented on #1446
I'm also seeing the issue. Seems it's been around for about a year now. Any ETA on fix for WACK tool? So workaround is build without certifying and upload package manually to dev portal?
Also seeing another false positive of... Error Found: The high OS version validation detected the following errors:
        Task failed to enable HighVersionLie.

[2021-01-11 13:45] paaKways commented on #3364
I support this!

[2021-01-11 16:38] iandk commented on #2550
Same issue here

[2021-01-11 18:30] beervoley opened #3919 "PipsPager: first focused pip should be the selected one"
**Describe the bug**

Currently the first pip that gets focused (when tabbing into the control) is the first one. It's not intuitive and the first focused pips should be the selected one.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Tab into the control.
2. Observe the first focused pip to be the first pip in the list (not the selected one).

**Expected behavior**

The first

[2021-01-11 18:40] beervoley opened #3920 "PipsPager: HighContrast theme resources are not being applied"
**Describe the bug**

When HighContrast is on in the system, PipsPager doesn't pick up the resources defined in the dictionary for HighContrast theme.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Switch Windows to HighContrast mode.
2. Override themeresources to guarantee the change (**PipsPagerPageNavigationButtonBackgroundPointerOver** for example)
3. Observe no change in

[2021-01-11 18:43] beervoley opened #3921 "PipsPager themeresources typo"
**Describe the bug**

In both the templates for **NavigationButton** and **PipsPagerButtonBaseStyle** the brushes for Pressed state are not correct - it's a typo:
![image](https://user-images.githubusercontent.com/21356912/104224361-bd21c080-53f9-11eb-8e5b-fce097a54537.png)

**Expected behavior**

Correct the visual states to use correct themeresources.

| Device form factor | Saw the problem? |
|

[2021-01-11 19:15] karenbtlai commented on #3913
Unfortunately, this syntax also requires the TargetProperty to be a colour, not a brush, so also does not work ([Docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.animation.coloranimation?view=winrt-19041)). And you are right, some investigation is needed to re-enable the colour transitions.

[2021-01-11 19:19] #1402 closed

[2021-01-11 19:19] #3682 closed

[2021-01-11 19:20] stevenbrix commented on #3893
Gotcha 👍

Until the next release is out where we have this fixed, you can disable the exception in the exception settings:
![image](https://user-images.githubusercontent.com/9649518/104227860-e55fee00-53fe-11eb-8bef-3c465d0daef1.png)

[2021-01-11 19:34] #3808 closed

[2021-01-11 19:35] glowtape commented on #3014
I tried to figure out what the plan is nowadays, just to find out that it's been deprioritized and postponed to the very least release 3.1

I'm not entirely sure what alternate reality Microsoft is living in, but one thing I don't see is an abundance of ~~WinRT~~ WinUI apps in the wild. And I can tell you at least one reason why, and that's the lack of unpackaged apps. Endless requests for this go

[2021-01-11 19:46] ryandemopoulos commented on #3014
Unpackaged support remains something we intend on adding.  As @jonasnordlund pointed out, we expect to add this post-3.0--probably later this year alongside full Islands support.  That's the soonest we'd be able to introduce it, given the other priorities we're working on now.

Happy to answer any additional question you have; I'll close this Issue for now since I think the original question has b

[2021-01-11 19:46] #3014 closed

[2021-01-11 19:48] rcohn commented on #3014
Thanks for the responses, all.  For now, I'm going with WPF + xaml islands.

[2021-01-11 20:01] RealTommyKlein commented on #3905
@asears - unfortunately, there isn't much in the way of MSBuild flags to address the performance issue.  The current slowness in the Windows.UI.Xaml compiler is due to its core logic of evaluating which .xaml files it needs to reparse.  As far as MSBuild flags, it looks like you're looking at the documentation for the WPF compiler.  The Windows.UI.Xaml compiler doesn't have that `AlwaysCompileMark

[2021-01-11 20:05] chingucoding commented on #3921
@ranjeshj @beervoley Mind if I fix this?

[2021-01-11 20:07] mdtauk commented on #3921
@chingucoding  You may also want to set the border explicitly to transparent or thickness of 0 - it looks odd with the new button Visual Styles that are coming.

[2021-01-11 20:14] chingucoding commented on #3921
I am not sure if that would be the right PR to fix that but if @ranjeshj is fine with it, sure. Otherwise, I think it would be better to handle that separately.

[2021-01-11 20:51] beervoley commented on #3921
that would be very helpful, thank you 👍

[2021-01-11 20:51] beervoley commented on #3921
I'll create a new ticket regarding this for 2.6

[2021-01-11 20:56] beervoley opened #3922 "PipsPager: missing Border thicknesses and Border brushes"
**Describe the bug**

Control as well as **Pips** and **Navigation Buttons** (NavigatonButtonBaseStyle and PipsPagerButtonBaseStyle) are missing their own border thickness and border brush.

**Expected Behaviour**
Add transparent border to the control, pips and buttons so it doesn't use the default inherited values.

| Device form factor | Saw the problem? |
| :----------------- | :---------------

[2021-01-11 20:56] beervoley commented on #3921
@chingucoding @mdtauk FYI [3922](https://github.com/microsoft/microsoft-ui-xaml/issues/3922)

[2021-01-11 21:05] alwu-msft commented on #3219
Based on this [list](https://visualstudio.microsoft.com/vs/benefits/#software-and-downloads?cat=visual-studio-enterprise-subscription-with-github-enterprise) it looks like it's available as part of a Visual Studio Professional or Enterprise subscription. I don't know offhand of any non-subscription method of acquiring an ISO, but I'm also not an area expert.

[2021-01-11 21:05] mdtauk commented on #3922
This is how they look with the ``Latest`` Visual Styles on them

![image](https://user-images.githubusercontent.com/7389110/104237942-bb371c00-5450-11eb-9cf3-30524d674ada.png)

[2021-01-11 21:10] abhi-msft commented on #3046
Any update on this?

[2021-01-11 21:35] mc0re commented on #3407
Thanks, this is the answer I needed.

[2021-01-11 21:35] #3407 closed

[2021-01-11 22:32] chingucoding commented on #3922
@mdtauk Would you like to work on this issue by any chance? It seems that you already have a good idea of what needs to be fixed here.

[2021-01-11 22:33] mdtauk commented on #2802
Has there been any thought as to how you would preview the animations and transitions at Design Time and in the Designer?

[2021-01-11 22:38] mdtauk commented on #3922
I think we have established I am not super confident with doing Pull Requests, so I am happy to sit this one out, and just act as a signpost lol.

It is also worth mentioning that the Expander is exhibiting the same issue - but work is still on-going with that control, and I don't think any of the design work has been finalised.

![image](https://user-images.githubusercontent.com/7389110/104246349

[2021-01-11 22:42] MarissaMatt commented on #2802
@mdtauk that is a great question and something we are definitely considering! My current thinking is to create a new tool that's geared towards designers to view the file at different marker transitions or we could possibly add this to the LottieWindows [LottieViewer](https://www.microsoft.com/en-us/p/lottie-viewer/9p7x9k692tmw?rtc=1&activetab=pivot:overviewtab) and maybe have the markers highligh

[2021-01-11 22:44] chingucoding commented on #3922
I would say practice makes perfect, but of course you are already doing so much on this repository! If you and @ranjeshj and @beervoley don't mind, I would like to look into this. @mdtauk since it looks like you got an idea of what the problem is, can you recommend what the best way to fix this would be? Also @Felix-Dev since you also have good ideas regarding these kind of scenarios.

[2021-01-11 23:21] mdtauk commented on #2802
This is a very very rough mockup of something I think would be useful in the designer, but it could also appear in a preview panel docked alongside Properties or Objects and Timeline

![image](https://user-images.githubusercontent.com/7389110/104249540-8d0f0780-5463-11eb-8cf1-276c78474364.png)

Viewing the animations themselves in the LottieViewer is good to.  And there should probably be a good d

[2021-01-11 23:31] mdtauk commented on #3922
I think it is because only the Button Foreground and Background theme resources are included, so there is no override for the border strokes.

https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/PipsPager/PipsPager_themeresources.xaml

This is ok with the WinUI2_dot_5 visuals, as the buttons don't use borders.  Setting the border strokes to **Transparent** and/or setting the **BorderThi

[2021-01-11 23:45] chingucoding commented on #3922
Thank you @mdtauk , I'll create the PR in the next few days then.

[2021-01-11 23:48] MarissaMatt commented on #2802
An AfterEffects template is something I haven't thought of yet so that is a great suggestion. For documentation we are thinking about publishing developer and designer documentation along with guidance on when/where animated icons should be used.

[2021-01-12 00:05] StephenLPeters commented on #3918
@ssaran046 do you know if this issue is unique to Winui3 or if it is present in winui2/system xaml as well?

[2021-01-12 00:06] chrisglein commented on #3825
It does seem like the down click would grant focus although maybe the click release is what's triggering that? (as in did this thing every get focus at all during this transaction?) I haven't seen anything here to indicate that this is a regression. So that affects the relative priority of getting a fix for WinUI3 (which would have the same behavior as in the OS).

[2021-01-12 00:06] StephenLPeters commented on #3917
@RealTommyKlein fyi

[2021-01-12 00:08] StephenLPeters commented on #3916
@huoyaoyuan can you provide a repro project? I think it would be pretty valuable in tracking this issue down.

[2021-01-12 00:09] mdtauk commented on #2802
There is a gradual move from the MDL2 Icons to the new FluentUI Icons.  It may be worth coordinating the introduction of this control, its documentation and design guidelines (as well as possibly a set of pre-made AnimatedIcons) to avoid having to re-do any work on them.

I would imagine something like the ``SymbolIcon`` would be useful, where there is an enum list of pre-made icons, given names -

[2021-01-12 00:09] StephenLPeters commented on #3916
@stevenbrix / @RealTommyKlein

[2021-01-12 00:10] chrisglein commented on #3779
As someone who has debugged more than their fair share of layout cycles, I heartily agree! However... I'm very curious what ideas you have for how that process could be improved. I generally use trace breakpoints as live debugging is worse for layout debugging than aggregate/log style analysis. On a previous framework I worked on I spent a lot of time building layout diagnostics tools only to real

[2021-01-12 00:10] mdtauk commented on #3922
There is the 2dot5 and the Latest ThemeResource Dictionaries now, so it whilst only the ``Latest`` visuals have the problem, it would be wise to include the Border resources in both sets.

[2021-01-12 00:12] chrisglein commented on #3766
Not a surprising gap given that WinUI3 is coming from the code written to target UWP and not Win32, and in UWP absolute file paths are not so much a thing.

To be clear, this is a mismatch with WPF, not a mismatch between inbox OS XAML and WinUI3?

[2021-01-12 00:15] ranjeshj commented on #3497
Agree with @alexdi220 this is by design. This allows deriving controls to handle it any way they want to.

[2021-01-12 00:15] #3497 closed

[2021-01-12 00:16] chrisglein commented on #3743
Agree with what's said above, specifically that there is no guarantee that you only get measured/arranged once... but also if this is a change in behavior between inbox OS XAML and WinUI3 that it could indicate an unintentional regression (even if this symptom should be benign).

@sheiksyedm What's the impact on this issue to you? Your statement about expected behavior ("Method should be called on

[2021-01-12 00:16] ranjeshj commented on #1446
@KevinLaMS FYI

[2021-01-12 00:18] mdtauk commented on #3497
@ranjeshj Could the SDK Templated Control template, include some commented out boilerplate code to switch to a Disabled state, or to explain the rationale for not handling it by default?

[2021-01-12 00:23] chrisglein commented on #3709
I _think_ this is the critical comment:

WinUI3 generally is by default going to behave the same as inbox OS XAML. If it didn't work on that (and WinUI2) then it isn't going to start working without additional work that hasn't happened yet. Which is to say this doesn't sound like a regression, but is a gap. Lots of things in XAML work in markup but don't work in code, which creates gaps like this

[2021-01-12 00:26] chrisglein commented on #3663
If this did work with a classic UWP with inbox OS XAML then this could either be a WinUI3 regression or a cswinrt issue. @stevenbrix how do we resolve if this is a cswinrt issue?

[2021-01-12 00:30] chrisglein commented on #3574
@JesseCol The actual crash seems to be in the UDK. Is that expected to show up that way or is that a red herring in this type of issue?

@Berkunath Could you try this repro on preview3 of WinUI3? Also, does this same scenario work without WinUI3 on a plain OS XAML app?

[2021-01-12 00:59] YuliKl opened #3925 "RatingControl color fix"
**Describe the bug**

With the new colors we introduced in the token-experiment branch, we broke RatingControl's unselected rest state - it's now almost invisible in both light and dark theme, and definitely doesn't meet any contrast ratio requirements.

![image](https://user-images.githubusercontent.com/13142665/104255279-8a91bb00-542d-11eb-9dd4-5f3be99b8a1f.png)
![image](https://user-images.gith

[2021-01-12 01:07] mdtauk commented on #3925
@YuliKl You may want to take a look at the InfoBar colours too... #3744

[2021-01-12 01:12] RealTommyKlein commented on #3917
Looks like an issue with using Storyboards as children of a Window - this works when using a Page instead, even in a Desktop app.  As a workaround, you could try moving your UI logic from `MainWindow` into a new Page object (e.g. a `BlankPage`).  In App.xaml.cs, you could change the `OnLaunched` event like so to create a basic Window then populate it with your Page which actually has your UI conte

[2021-01-12 02:21] zhuxb711 commented on #3373
Is there any progress on fixing this issue now?

[2021-01-12 02:23] mdtauk commented on #3373
I've experienced this, it seems to affect menus too.

Could it be a ThemeShadow issue, it rendering above the menu or flyout itself?

[2021-01-12 02:30] blueblizza commented on #3893
Thanks, @stevenbrix
This solution works well.

[2021-01-12 02:37] zhuxb711 commented on #3373
It only appeared after a certain version of 2.5.0.prerelease

[2021-01-12 02:54] beervoley commented on #3922
@chingucoding sure, go ahead :) I think just by adding the border brush and thickness to the buttons should do the trick

[2021-01-12 02:59] SunnyWang1012 commented on #3888
@MikeHillberg @jevansaks  Any thought?

[2021-01-12 05:01] #3921 closed

[2021-01-12 06:45] huoyaoyuan commented on #3916
https://github.com/huoyaoyuan/EHunter/blob/77aed3d5f82846a38082c7a9683b04efeb2eaad7/Source/Pixiv/UI/Views/User/UserTab.xaml#L188-L190

The original application requires login and is not friendly to debug, but you can inspect the XBF. I'll try to construct a minimal repro.

[2021-01-12 07:42] BorzillaR commented on #3367
@Austin-Lamb, the main goal to launch the packaged WinUI app from command line as like as Win32 app.

[2021-01-12 08:45] huoyaoyuan commented on #3916
Minimal repro added:
[repro-3916.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5800826/repro-3916.zip)

break at `MainWindow_obj4_Bindings.Connect` (should be L76)

[2021-01-12 10:16] ssaran046 commented on #3918
@StephenLPeters Not sure about winui2/system XAML.

[2021-01-12 10:46] JohnF38 opened #3928 "Question: Which Windows version for Development and/or running"
Hello,

I'm a bit confused with the minimum required Windows 10 version for developing and running WinUI 3.0 applications.

What about current state and future plans : to develop a WinUI3.0  app and to run a WinUI3.0 app ?

Thanks for your help !
BR
John

[2021-01-12 12:04] get-flat commented on #3868
@StephenLPeters I'm using version [Microsoft.WinUI 3.0.0-preview3.201113.0]
(16.9.0 Preview 2.0, I mean Preview 2 of Visual Studio version 16.9.0. I wasn't sure if VS ver is relevant)

[2021-01-12 14:50] chingucoding commented on #3925
I would like to work on this.

[2021-01-12 15:02] gavinwilliams commented on #3880
Having the same issue, also very confused! Have a real TENET moment right now

[2021-01-12 17:08] Sergio0694 opened #3931 "The Windows.UI.Color type has no fields in ref assembly"
**Describe the bug**

The `Windows.UI.Color` type in the `System.Runtime.WindowsRuntime` ref assembly shipped with the UWP SDK is incorrecty trimmed and contains no fields. This causes the C# compiler to allow methods that have an `out Color` parameter and no definite assignment to it. Given that the type actually does have fields, this technically breaks the C# spec and can result in incorrect be

[2021-01-12 17:24] robloo commented on #3745
I believe this is closed now via #3923

[2021-01-12 17:24] #3745 closed

[2021-01-12 21:46] mrlacey commented on #3709
@chrisglein  The difference with WinUI2 is that it doesn't support adding a BitmapIconSource to a TabViewItem.IconSource **in any way**.

If I try and add one in XAML I get compile errors.

![image](https://user-images.githubusercontent.com/189547/104377563-9ad59300-551e-11eb-92d3-24b015fd0626.png)
![image](https://user-images.githubusercontent.com/189547/104377931-19323500-551f-11eb-96f2-a0ea6778

[2021-01-12 21:53] ranjeshj commented on #3497
I think it is a good idea to add this to the visual studio template. @mdtauk can you open a new issue for that ? We can send that to the tools team.

[2021-01-12 21:55] ranjeshj commented on #3922
we are going to be updating pips pager style shortly :)

[2021-01-12 22:03] zadjii-msft commented on #3466
This is something that the Terminal would also like added. For the Settings UI, we're using NumberBox's for things that can only be numbers, but being able to type non-numeric input into them definitely seems weird.

[2021-01-12 22:59] mdtauk opened #3934 "Proposal: Update the Templated Control item template with code for Disabled visual state."
# Proposal: Update the Templated Control item template with code for Disabled visual state.

## Summary

In a different GitHub issue #3497 there was some confusion regarding the Disabled state not working by default with a Custom Control.  It was determined that this is by design according to @ranjeshj and so to make this easier and less confusing in the future, it may be a good idea to include bo

[2021-01-12 22:59] mdtauk commented on #3497
Done
https://github.com/microsoft/microsoft-ui-xaml/issues/3934

[2021-01-12 23:03] fgoulet commented on #3917
Same for me, calling the Begin method on a basic Storyboard raise "System.Exception: No installed components were detected"

[2021-01-13 00:14] StephenLPeters commented on #3928
WinUI 3.0 requires the minimum target version for your app to be RS4 (build 17134) or higher and that you have very specific versions VS 2019.  you can find more info at https://docs.microsoft.com/en-us/windows/apps/winui/winui3/

[2021-01-13 00:14] #3928 closed

[2021-01-13 00:16] StephenLPeters commented on #3868
@alwu-msft FYI

[2021-01-13 01:06] alwu-msft commented on #3868
@get-flat Thanks for your report! The exception you're seeing is known and non-fatal; execution can be safely continued past it. Alternatively, if you find it too noisy, you can disable the `winrt::check_hresult` exception in Visual Studio's Exception Settings window.
![image](https://user-images.githubusercontent.com/50890554/104393034-4e775c80-54f8-11eb-8958-440c8209bcbc.png)

I'll talk to our w

[2021-01-13 05:02] Jaiganeshkumaran commented on #3915
Maybe on small screens, instead of an icon only with overflow on a more menu, could be like the old pivot style. Today Navigation view top can't be swiped which needs to bring back. However the problem is for more than 5 items, pivot swipe becomes confusing so navigation view top, unlike pivot, should not go back to the first item after reaching the last item and should be done manually by swiping

[2021-01-13 05:05] StephenLPeters commented on #3373
@jeffstall FYI

[2021-01-13 05:09] StephenLPeters opened #3937 "Touch narrator focus is moving to the background elements while navigating in the drop down list in Colors and Captions window"
Copied from internal [issue](https://microsoft.visualstudio.com/OS/_workitems/edit/29036974?src=WorkItemMention&src-action=artifact_link).

Build Details:
Version: 2004
OS Build: 20204.1000
AT: Touch + Narrator.

Pre-Requisite: Turn ON narrator

Repro steps:
Open the Settings app.
Navigate to "Personalisation->Colors" and invoke it
Now swipe to Choose your mode drop-down and double-tap to invoke i

[2021-01-13 10:15] sonnemaf opened #3939 "Discussion: Add a new Style.Resources property to simplify Lightweight Styling"
# Discussion: Add a new Style.Resources property to simplify Lightweight Styling.
It would be nice we could add a Resources property to the Style class. It would allow you to define the Resources for this Style. This would simplify [Lightweight Styling](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-styles#lightweight-styling).

![image](https://user-images.githubus

[2021-01-13 10:24] chingucoding commented on #3939
Great idea, would love to be able to set the resources in style and not otherwise. This would probably also make it a lot easier to create new styles/facets of a button, especially when thinking about design tokens (@mdtauk this might be interesting for you).

[2021-01-13 11:15] mdtauk commented on #3939
I read the blog post when it first went up, and then noticed Rudy's Twitter response, and noted the blog post was updated.

I can't say I have my head around it tbh, and as light weight styling is still relatively new for Xaml as an approach, I can't speak to the long term affects it may have.

Anything that makes styling controls easy is a good thing.

----

When I was first designing controls ba

[2021-01-13 11:31] susmitha-sundar opened #3940 "ContentPresenter Background brush not filled for text background in SystemHighContratTheme"
**Describe the bug**

ContentPresenter background color not filled for entire control. ContentPresenter's content background filled with black color while applying the system highcontrast theme.

**Steps to reproduce the bug**
1. Run the attached sample.
2. ContentPresenter's content background filled with black color.

**Expected behavior**

ContentPresenter's background color should applied for

[2021-01-13 11:57] chingucoding commented on #3939
Good question, this wouldn't really change how we expose lightweight styling resources. This would only make it easier to override them in style instead of defining your new resources globally or on a per instance basis.

I would assume that the ResourceDictionary would apply to every instance that uses that style. This would be equivalent to setting the resources property of the control.

I hope

[2021-01-13 12:04] chingucoding commented on #3940
@YuliKl Is this a behavior to ensure that contrast ratios for text are always met?

[2021-01-13 12:44] mdtauk commented on #3939
I think this is a problem that will need to be solved in time, and Lightweight Styles and StyleResources should be formalised in the SDK so Intellisense can provide a list of all the lightweight resources the Control has, and provide autocomplete, as well as property grid entries for viewing and changing them.  So almost treating them as if they are dependency properties.

Maybe this could be some

[2021-01-13 13:11] zed220 opened #3941 "SVG image does not support styling via class"
I have created a sample WinUI on UWP project.
SVG image does not support styling via class

**Steps to reproduce the bug**
[App22.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5808750/App22.zip)
1. Open attached project.
2. Run

**Expected behavior**
The circle should be green.

**Screenshots**
![image](https://user-images.githubusercontent.com/7091626/104456210-682ca880-55b9-11eb-8b7c

[2021-01-13 14:20] sheiksyedm commented on #3743
@chrisglein Yes, if I add any logic and some layout flows inside the measure and arrange method based on available size, it will unnecessarily execute on the second time when control is loading at the initial time.

[2021-01-13 14:38] chingucoding commented on #3939
This definitely sounds like an interesting idea. How would this differ from the regular resources though? Do I have to use every resource in there? My concern is that this might make getting started with XAML even more difficult as it already is.

Yes, the support should be better for these kind of things.

Not entirely sure how this would work as I'm not really familiar how that plugin will work,

[2021-01-13 14:41] gavinwilliams commented on #3815
Same issue on build 21286.1000 for both Desktop and UWP apps. UWP app launches and then the debugger crashes, Desktop app doesn't even launch. The same happens with the XAML Controls Gallery app.

[2021-01-13 14:50] mdtauk commented on #3939
Because lightweight styling is just using Resources listed in the Resource/Theme Dictionaries - there is no way I know of, for Intellisense and the Designer to know which of these is currently used/intended to be used by the control.

My thinking is that by putting them into a group, with a ``TargetType`` - they will still be treated like Resources by the Dictionary, but that would be a hint to th

[2021-01-13 15:04] chingucoding commented on #3939
You could scan inside the template the resource dictionary is in if it's used in there or not, but that is only a partial solution here.

I like the idea, but the issue I see is that we introduce even more classes and concepts to the XAML world. And when should you use those new resourcedictionaries over a style? My guess would be that the general developer guidance would be "just use a style with

[2021-01-13 15:09] mdtauk commented on #3939
The solution should always be to make the IDE/Intellisense/Autocomplete/SDK smarter - rather than adding things to try to hint or help.  If there is a way for the Designer and IDE to surface these lightweight styles for the developers - this would be preferable.

Even adding a comment or a XAML Region around the lightweight style resource, to help the tooling expose these, would be preferable.

[2021-01-13 15:49] CoderTyn commented on #3625
I can't agree more.

[2021-01-13 16:39] chrisglein commented on #3743
@sheiksyedm What's the impact on your app of the extra layout measure? As stated above, extra measure/arrange isn't necessarily an error state.

[2021-01-13 18:07] YuliKl commented on #3940
@susmitha-sundar I believe you're seeing the [HighContrastAdjustment property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.highcontrastadjustment?view=winrt-19041) in action. Try setting it to `None` if you don't want the black color behind your text to show up in HC.

[2021-01-13 19:13] anawishnoff opened #3942 "👨‍💻☎ WinUI Community Call - January 20, 2021"
This call is now over, but you can watch the recording at the link below! This issue will be closed in a day or two, afterwards feel free to post any lingering questions as an issue on this repo or as a question for the next Community Call.

### https://youtu.be/MulUg7iD2-s

## Details
Date: Wednesday January 20, 2020
Time: 17:00-18:00 UTC (9:00-10:00am Pacific)

Anyone and everyone is welcome - n

[2021-01-13 19:18] mdtauk commented on #3942
Can you possibly detail how extensive the "Sun Valley" design refresh for Windows will be?
- Will the UXTheme and MsStyles be updated?
- Dark Mode for GDI apps?
- Updated WPF Control Templates and support for Dark Mode?
- Updates to FluentUI to match WinUI for PWA and WebView apps?\

oh and another confirmation Acrylic wont be too far away from 3.0's release (I always ask this question!)

[2021-01-13 21:44] #3922 closed

[2021-01-13 21:58] VBAndCs commented on #2024
Microsoft flushed us out of the market, by it's unwise windows-protective strategy. This can end up flushing windows itself out of life!

[2021-01-14 04:18] hupo376787 commented on #3861
This problem is caused by we set `ItemsRepeater`'s `Visibility` to collapse when data is loading, now we set `ItemsRepeater`'s `Visibility` always visible.

But there are still other bugs.
1. The `Windows.UI.Xaml.Controls. Image` goes totally black sometimes like below.
![image](https://user-images.githubusercontent.com/14960168/104543917-8c43c480-5661-11eb-83be-daf406c2ad2d.png)
2. Updating the v

[2021-01-14 04:20] codendone commented on #3941
Yes, the current SVG support does not support styles. See #625 for more info.

[2021-01-14 04:23] codendone commented on #3815
Thanks for the report. We believe this is an issue we recently fixed, and are working to confirm that.

[2021-01-14 12:17] zadjii-msft opened #3945 "Proposal: Automatically scroll to selected TabViewItem"
See https://github.com/microsoft/terminal/issues/8785

Say an app has many tabs open, such that the tabs must scroll in the tab view. If the app selects a tab that's currently not visible, then the TabView should automatically scroll that TabViewItem into view.

Either that, or provide some way of manually scrolling the TabViewItems so we can implement it ourselves.

[2021-01-14 12:59] harvinders commented on #424
Setting `<x:Double x:Key="ContentDialogMaxWidth">800</x:Double>` in `app.xaml` on Windows 10 1909, worked for me.

[2021-01-14 16:13] gavinwilliams commented on #3815
Just curious, is there a workaround for those of us who are super keen to have a play with WinUI in the mean time?

[2021-01-14 16:59] JohnnyWestlake opened #3946 "Issue: ImageIcon (& AnimatedIcon?) do not support IconElement's Foreground colour"
**Describe the bug**

 ImageIcon appears to be missing support from `IconElement`'s `Foreground` property, which other `IconElement` support.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use 2.6. pre-release pacakge
2. Create an ImageIcon in XAML, set the source to a coloured image, and then set Foreground to green
3. Image is loaded with foreground not applied

**Expected

[2021-01-14 17:24] huoyaoyuan commented on #3942
It's 2021 now. What's the progress of open source?

[2021-01-14 18:04] skullbrb commented on #3942
Are the Fluent System Icon set on Figma planned to come to Windows soon?

[2021-01-14 18:06] saint4eva commented on #3942
When do we expect the open source, and when is the support for dotnet and UWP coming?

[2021-01-14 18:07] saint4eva commented on #3942
Tell us more about the tooling.

[2021-01-14 20:40] mandalorianbob commented on #3797
I did find a work around.
[code]
This seems to work, though it's a bit weird..
I'm curious ... is this not a fundamental design issue with the way DependencyProperties work with default values? If your default value is a reference type how could you not have _every_ instance of the DependencyObject have the same value? It appears that once it's applied, it's sealed, and the value doesn't change. S

[2021-01-14 20:58] TheJoeFin commented on #3942
It seems like Windows Ink has been largely ignored for years now. Is there any plan to bring some of the "rich inking" experience (like in Microsoft's apps like Whiteboard and OneNote) into WinUI?

[2021-01-14 22:01] BorzillaR commented on #3941
btw, is any way to bind some svg colors to the system brushes? I want to use the svg icons in the toolbar items and cant find a way to change theirs colors depending on the current theme (Light, Dark)

[2021-01-14 23:39] licanhua opened #3949 "Enable ImageIconTest"
reenable what is disabled in  #3948
                /*
                This is an unparented ImageIcon, so looking up the default foreground and verifying
                is a bit wierd. The colors are also chaning, so this is going to fail with those changes
                So commenting this check out for now to make the test more resilient.

                var theme = Application.Current.Reque

[2021-01-14 23:43] michael-hawker commented on #3945
@zadjii-msft in the meantime, could you use the `TabView.SelectionChanged` event to then grab the selected `TabViewItem` object and call `Focus` on it?

[2021-01-14 23:47] YuliKl opened #3950 "TabView color problems"
**Describe the bug**

With the new colors we introduced in the token-experiment branch, we broke TabView items' contrast. There are two specific problems that need to be corrected:
1. **Icon color** - currently it's almost invisible
![image](https://user-images.githubusercontent.com/13142665/104660759-03865200-567c-11eb-9c82-67fa0d6c19b3.png)
![image](https://user-images.githubusercontent.com/1314

[2021-01-14 23:47] chingucoding commented on #3945
@stmoy What do you think about this? Would this be fine to work on?

[2021-01-14 23:51] mdtauk commented on #3950
👍 for Semibold

[2021-01-14 23:52] chingucoding commented on #3950
I would like to work on this.

[2021-01-14 23:54] mdtauk commented on #3950
You may want to give the Windows Terminal guys a heads up on the changes you make.

[2021-01-14 23:56] stmoy commented on #3945
Seems like a righteous feature to me, though I am curious if the workaround that @michael-hawker proposed would work.

[2021-01-15 00:11] ranjeshj commented on #3949
@StephenLPeters FYI

[2021-01-15 00:14] ranjeshj commented on #3946
Thanks for the quick feedback @JohnnyWestlake  :)

I believe ImageIcon does not support the Foreground property. @MarissaMatt @StephenLPeters  as FYI. The Spec should include details - https://github.com/microsoft/microsoft-ui-xaml-specs/pull/109

[2021-01-15 00:16] chingucoding commented on #3945
Michaels workaround should work and would also be the way to solve this in TabView.

[2021-01-15 00:57] MarissaMatt commented on #3946
Thank you @JohnnyWestlake for bringing this to our attention! I will update the spec to document that ImageIcon does not support the foreground property but @ranjeshj is correct that AnimatedIcon does support the foreground property. I will make it clearer in the AnimatedIcon spec and the guidance documentation for icons where the foreground property is/isn't supported.

[2021-01-15 02:00] sylveon opened #3953 "MenuFlyout crashes in Xaml Islands"
**Describe the bug**
When opening submenus in quick succession in MenuFlyout on Xaml Islands, there is a chance it can crash the whole program.

**Steps to reproduce the bug**
1. Create a new blank WPF .NET Framework app.
2. Add the `Microsoft.Toolkit.Wpf.UI.XamlHost` NuGet package.
3. Add a project reference to the UniversalApiContract winmd from the Windows SDK.
4. Add an app manifest to the app

[2021-01-15 03:17] sjb-sjb commented on #3874
No, what I meant was this: the accelerator key activated event occurs when the ALT key is pressed and then released, i.e. it occurs when the key is released. If you try to simulate this by trapping KeyDown and KeyUp, you will not succeed because if the ALT key is held down for a while then when it is released the KeyUp will not be generated. You will not be able to generate the simulated Accelerat

[2021-01-15 09:34] FireCubeStudios commented on #1530
i would like this too

[2021-01-15 10:08] wbokkers commented on #3942
I really want WinUI 3 to succeed, since it will bring many benefits for our app's users.
Unfortunately, I still can't get these features to work:
- Use toast notification activations on desktop
- Use protocol activations on desktop
- Get WebAuthenticationBroker to work on desktop
- Drag/drop (using custom bitmaps)
- Open the app using an execution alias
Without these features, we can't migrate our

[2021-01-15 10:13] wbokkers commented on #3942
I don't understand all the fuzz about open sourcing, fluent design, theming and other gold plating features when there are so many issues in getting LOB features to work on WinUI.

[2021-01-15 12:45] mrlacey opened #3954 "WinUI3 apps not running on Windows Insider build 21292.1000"
**Describe the bug**

WinUI3 apps do not run on the latest Windows Insider build (21292.1000)
- Running the app once installed closes immediately it with no prompt
- Running app under debug in VS16.9preview2.0 closes the app and causes VS to restart
- Running app under debug in VS16.8.2 & VS16.8.4 give me this error:

`Unhandled exception at 0x7559581E (combase.dll) in App219.exe: 0xC0000602:  A f

[2021-01-15 13:21] Rand-Random commented on #3370
@Austin-Lamb
An update from myside, after alot of back and forth with the team and clients, we came to the conclusion to NOT use WinUI 3 for our new product.

The main reason being the lack of support on Windows Server versions, escpecially since those Windows Server 2012/2016 are still atleast on extended support if not still on full support mode from Microsoft and we didn't want to force a more

[2021-01-15 15:03] mveril commented on #3942
Hello
For protocol activation it's independent of the UI framework. you can normally do this with the MSIX manifest and by calling the [AppInstance.GetActivatedEventArgs](https://docs.microsoft.com/uwp/api/windows.applicationmodel.appinstance.getactivatedeventargs) static function.
I have already used it for file activation but I have not tested it for protocol activation. You can also take a look

[2021-01-15 15:04] mveril commented on #3942
Hello
For protocol activation it's independent of the UI framework. you can normally do this with the MSIX manifest and by calling the [AppInstance.GetActivatedEventArgs](https://docs.microsoft.com/uwp/api/windows.applicationmodel.appinstance.getactivatedeventargs) static function.
I have already used it for file activation but I have not tested it for protocol activation. You can also take a look

[2021-01-15 15:06] mveril commented on #3942
Hello @wbokkers
For protocol activation it's independent of the UI framework. you can normally do this with the MSIX manifest and by calling the [AppInstance.GetActivatedEventArgs](https://docs.microsoft.com/uwp/api/windows.applicationmodel.appinstance.getactivatedeventargs) static function.
I have already used it for file activation but I have not tested it for protocol activation. You can also t

[2021-01-15 15:10] mdtauk commented on #3942
The idea is to decouple the WinUI framework from the OS version.  Once WinUI has been lifted out of the Windows codebase, then it allows them and the community to update, add features, fix bugs, and move the framework forward, rather than being tied to the twice yearly OS updates, and ensure new features be available for the other supported versions of Windows 10

[2021-01-15 15:11] wbokkers commented on #3942
@mveril Thank you, Mickaël. I couldn't get it to work using the MSIX manifest for desktop, but I'll look into it again.

[2021-01-15 17:43] licanhua opened #3956 "Re-enable the failed test cases because testapp is changed default style to latest"
reenable the test case which is disabled in PR #3948
search 3956

[2021-01-15 18:56] mdtauk opened #3957 "Proposal: Pivot visual refresh"
# Proposal: Pivot visual refresh

![image](https://user-images.githubusercontent.com/7389110/104764614-8c29ee80-575f-11eb-851c-63e85a188deb.png)

https://user-images.githubusercontent.com/7389110/104976838-0a072780-59f6-11eb-8ceb-3c163fe23b84.mp4

_This example uses a selection indicator to fit the text string, as suggested by @Jaiganeshkumaran_

## Summary

As most of the the WinUI controls are b

[2021-01-15 19:57] crutkas opened #3959 "NumberBox has a precision floating point bug"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
Use the following code:
`<muxc:NumberBox
    Margin="0, 10, 0, 0"
    Header="Search weight:"
    Value="1"
    SpinButtonPlacementMode="Compact"
    SmallChange=".01"
    LargeChange=".1"
    Minimum="0"
    Maximum="5"
    />`

Then do a small or large change,

**Expected behavior**

Get proper precision, to s

[2021-01-15 20:12] SavoySchuler commented on #3959
This bug would be coming off the [iNumberFormatter2 object](https://docs.microsoft.com/en-us/uwp/api/Windows.Globalization.NumberFormatting.INumberFormatter2?view=winrt-19041) consumed by NumberBox  [here](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.numberbox.numberformatter?view=winui-2.5#Microsoft_UI_Xaml_Controls_NumberBox_NumberFormatter).

My assumption is th

[2021-01-15 20:25] zadjii-msft opened #3961 "Light-dismiss doesn't work on ComboBox in XAML Islands"
**Describe the bug**

I'm testing this with a build of the Terminal with the Settings UI enabled, terminal version 1.6.10101.0+. This will probably repro with any old C++/WinRT+Xaml Islands application.

If you click on a combo box, then click outside the bounds of the flyout, usually the flyout dismisses itself. This is the behavior in the XAML Controls gallery.

However, in the Terminal, these c

[2021-01-15 23:18] michalleptuch commented on #3488
@jindal1979 Did you fix it? I have got the same issue.

[2021-01-16 00:16] ranjeshj commented on #3954
@codendone as FYI

[2021-01-16 00:18] ranjeshj commented on #3953
Can you please attach a repro app ?

[2021-01-16 00:51] sylveon commented on #3953
Sure, here you go: [WpfApp2.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5823539/WpfApp2.zip)

[2021-01-16 04:03] ranjeshj opened #3965 "Add ability to test without root scrollviewer"
Need to add test infrastructure to verify [this PR.](https://github.com/microsoft/microsoft-ui-xaml/pull/3964)

[2021-01-16 07:34] nguyenkien commented on #2254
Is this what you want?
https://stackoverflow.com/questions/59590199/uwp-how-to-get-a-navigationview-inner-shadow-projected-by-the-content-pane?rq=1

[2021-01-16 14:26] #3861 closed

[2021-01-16 19:12] codendone commented on #3954
@JesseCol It looks like your fix for the earlier issue [(internal link)](https://microsoft.visualstudio.com/OS/_workitems/edit/30671042/) went in for 21280. Is this another problem?

[2021-01-16 19:16] codendone commented on #3815
@gavinwilliams Unfortunately, the only workaround for this issue is to use an older build of Windows. And #3954 just reported a similar issue on a newer build which should contain the fix here, so we need to investigate that.

[2021-01-16 23:58] mdtauk opened #3967 "Proposal: InfoBar V2 - InfoCard control"
# Proposal: InfoBar V2 - InfoCard control

https://user-images.githubusercontent.com/7389110/104827033-afcd6180-5851-11eb-8abb-5c2aa64df248.mp4

## Summary

Ideally this could be merged into the InfoBar control, with an API to switch to a Card or Overlay mode.  But if not, this could be an additional control called **InfoCard**

## Rationale

* InfoBar will push content as it appears on screen, it

[2021-01-17 00:56] JesseCol commented on #3954
Hi, thanks @mrlacey  and @codendone.  Unfortunately WinUI 3 Preview 3 won't work on any new insider builds, we'll have to wait for the next WinUI 3 release.

[2021-01-17 04:08] harvinders opened #3968 "Increasing the FontSize of AutoSuggestBox should not increases the size of the Cancel icon as well"
**Describe the bug**
Increasing the font size of AutoSuggestBox increases the size of the Cancel (X) icon, however the QueryIcon size is not changed.

**Steps to reproduce the bug**
[code]
**Expected behavior**
QueryIcon should also scale up

**Screenshots**

**Version Info**

NuGet package version: Microsoft.UI.Xaml 2.5.0

Windows app type:
| UWP              | Win32            |
| :-------------

[2021-01-17 05:26] Tropix126 commented on #3546
My main complaint here is with the RadioButton pressed state, especially in dark mode. I feel there should be more contrast, maybe invert the coloring between light/dark?

![image](https://user-images.githubusercontent.com/42101043/104831879-3c781f80-5852-11eb-9125-5067ca99d832.png)

[2021-01-17 07:24] Jaiganeshkumaran commented on #3957
@mdtauk I feel like your proposal has a very small underline and needs to be increased. Maybe 24px from left and right of the text

[2021-01-17 07:25] sylveon commented on #3953
After playing a bit with it, it seems this is triggered when a sub-menu is opened while the animation for opening the previous sub-menu hasn't finished playing. I've had a few crashes not triggered like that, but since the crash is the exact same the fix would probably resolve them too.

[2021-01-17 07:40] huoyaoyuan commented on #3967
This design is flyout like.
I also want a static control that takes place in layout and not closable, to be a status indicator.

[2021-01-17 09:03] huoyaoyuan commented on #3942
I've mentioned that new members introduced in WinUI 2.5 (InfoBar, NavigationView.FooterMenuItems) not available in WinUI 3 Preview.

When will they be ported? When can we switch to WinUI 3 as default branch?

[2021-01-17 10:07] mdtauk commented on #3957
That is a fair point, the width of the underline could be variable to the width of the text.

For the proposal, I thought it would be easier to specify at sizes, and it would be visually distinctive.

The key part would be the animation of the Selection Indicator as you hover and press each pivot header.

[2021-01-17 10:13] mdtauk commented on #3967
The InfoBar currently sits in the UI and moves other elements or of it's way.

But I don't see why InfoCard couldn't have an ``Overlay`` and an ``Inline`` option.

[2021-01-17 10:18] mdtauk commented on #3546
@Tropix126 are you using a dark grey accent colour?

I think there is an intention to alter the way the dark and light variations of the Accent Colour are generated, so the dark text contrasts over the Accent AA colours in dark mode.

But a recent PR reverted the hard coded colours with the System brushes, and the variations are not stark enough to always contrast well

[2021-01-17 10:18] mrlacey commented on #3954
Is this publicly documented anywhere?

As the next version of WinUI3 is the GA release and not due until "the first half of 2021" this is assumed to imply May/June, this is not good.

I suspect that developers testing the preview release of WinUI3 are also likely to be testing the insider builds of Windows.
As Windows Insiders are aggressively updated this is going to affect more and more people g

[2021-01-17 10:20] Jaiganeshkumaran commented on #3546
Please use a darker colour for buttons, the current ones are not that clearly recognizable.

[2021-01-17 10:20] mdtauk commented on #3968
I think by design the system does not automatically scale icons in line with text sizes.

So adjusting the font sizes in system settings doesn't make all icons bigger.

You may need to adjust the lightweight style for the Glyph to match the font size you are changing

[2021-01-17 10:32] chingucoding commented on #3968
@mdtauk is correct, icons are usually not scaled with text scale changes but rather stay the same size (e.g. TabView or NavigationView exhibit the same behavior).

[2021-01-17 12:30] MartinZikmund opened #3969 "TabView.UpdateSelectedItem sets incorrect item"
**Describe the bug**

While porting `TabView` to Uno Platform I have noticed, that when the items are data bound (via `TabItemsSource`), the item selection is buggy. While debugging I noticed that the `UpdateSelectedItem` method is doing the following:

[code]

Notice the code tries to set the `SelectedItem` of `ListView` to the `TabViewItem`. However, when I checked the control at runtime, the it

[2021-01-17 12:31] MartinZikmund commented on #3969
If you agree this is a bug, I am happy to implement the fix :-) .

[2021-01-17 13:55] JanRajnoha commented on #3954
I am windows insider on all my machines. some are stopped (laptop has some stable insider version because I want to try features and not all bug fixes) and some are active (work pc has every build few hours after release). Yeah I know, this is extreme hazard, but if you know, what are you doing, it is safe. I am currently doing master thesis with WinUI3 technology as successor for desktop apps and

[2021-01-17 16:53] jtorjo commented on #3219
Thanks! Unfortunately I do not have a subscription. I will have to find another way.

[2021-01-17 16:59] Tropix126 commented on #3546
These are just screenshots of earlier previews in this discussion.

[2021-01-17 19:00] mveril commented on #3942
@wbokkers Sorry I have tested it this weekend and effectively it's not working for WinUI 3 desktop contrary to WPF

[2021-01-17 23:16] llothar commented on #3639
No it's so much easier. The big changes like the jump to Swift or SwiftUI or even Storyboards are purely optional. You still can use Objective-C as i do. For other parts the path was always incremental. Microsoft has the write it once and never touch it again strategy for backward compatibility. Why is desktop developing so heaven like on Apple? Why are the best Desktop apps now only happening on

[2021-01-18 02:42] mdtauk commented on #3967
This is a nice to have, not a must have - but the same InfoCard could possibly update as a status changes, when a prior piece of information is no longer true or relevant.  This would be preferable to the InfoCard transitioning out, and a new one transitioning in.

https://user-images.githubusercontent.com/7389110/104866550-beda0f80-5936-11eb-9d1f-e512cb1c321b.mp4

[2021-01-18 04:19] Mogikan commented on #3024
I haven't thought WinUI 3.0 could be incompatible with existing UWP app. Please provide controls which were available in UWP. It is a bad tone to decide to throw away controls! This is a really a stopper problem for my app.

[2021-01-18 05:00] jindal1979 commented on #3488
@michalleptuch, yes I resolved it by adding the reference xaml island project into the installer project.

[2021-01-18 06:55] oldoldman opened #3970 "newbie question about OnApplyTemplate"
I'm trying to override the default functionality of the clear button of the TextBox . From the doc it  seems that OnApplyTemplate is the right place, so I have my class derived from TextBox as follow (CppWinRT)
[code]
but it never get called. How does this happen? Many thanks!

[2021-01-18 08:04] chingucoding commented on #3970
Have you created a MyTextBox or TextBox control in XAML? If you create a TextBox, your MyTextBox.OnApplyTemplate will not be called as no MyTextBox instance gets its template applied.

[2021-01-18 08:33] SunnyWang1012 commented on #3888
Some updates...

- I add **HelloPlugin** as a reference for **WinUILoadApp**, then the UserControl can be loaded successfully.
- I do another POC named WpfLoadDll project to implement the same way in .NET framework. It can successfully load the UserControl

[2021-01-18 08:50] zed220 opened #3971 "Improve missing Resource Not Found exception info"
**Describe the bug**
I'm using the WinUI in UWP. I have created a class library with custom control (such as "Class1") and refer to it in my project. Custom control has default style with setter to missing static resource. If I create this control dynamically and add it to window content, app crashes with no additional exception info.

**Steps to reproduce the bug**
1. Run example.
2. Click on but

[2021-01-18 09:08] oldoldman commented on #3970
No.  My use case is : create MyTextBox instance in code , set its Style to my customized style (which is a modified copy of TextBox default Style) and add the instance to an Xaml Page. I my understanding, in the process of setting Style, the OnApplyTemplate will be called. If not , how can I get the instance of the clear button ?

[2021-01-18 09:22] chingucoding commented on #3970
This is strange, if you are doing everything correct, that should create call OnApplyTemplate. It's hard to tell what is going on here without the actual code.

[2021-01-18 09:23] mdtauk commented on #3967
Whilst I have a preference for the designs in the main proposals - there may be some in the WinUI Design Team which may wish the InfoCard to closer match the InfoBar design.

![simpler design](https://user-images.githubusercontent.com/7389110/104896008-7e968380-596e-11eb-81f6-a7fa71768046.png)
_Outer border and a 16px Elevation Shadow_

![image](https://user-images.githubusercontent.com/7389110/10

[2021-01-18 09:41] mdtauk commented on #3957
Here is an example of the Pivot Selected Indicator reduced 12px from either side at **Default** and reduced 24px from either side at **Pressed**

![image](https://user-images.githubusercontent.com/7389110/104898289-5ceacb80-5971-11eb-9510-e40694d11498.png)

[2021-01-18 09:55] oldoldman commented on #3970
I can confirm that everything is correct, because the visual appearance changed according to my customized Style. And tried the Loaded callback, it not works
[code]

[2021-01-18 10:00] chingucoding commented on #3970
How are you adding the control to a page? Is the page added in the visual tree (that is rendered)? Given that loaded is not being called, this sounds like a possible issue of your control not being rooted in the visual tree.

[2021-01-18 10:34] oldoldman commented on #3970
The outline of my app is
1. MainPage.xaml
[code]
2. MainPage.h
[code]
3.  App.h
[code]
4. on some none-UI thread
[code]

[2021-01-18 11:34] Elmarcotoro opened #3972 "Reporting solutions for LOB"
# Proposal: Reporting solutions for LOB apps

## Summary
Winforms and WPF apps as I understand are mostly built for line of business (LOB).
A primary feature of LOB apps is to be able to deliver reports, importantly Invoices and statements to clients.

## Rationale
I've been looking at third party tooling vendors such as Telerik, Grape city and Syncfusion for reporting solutions in WinUI 3.
From w

[2021-01-18 12:08] partmachine opened #3973 "Proper place to call _CrtDumpMemoryLeaks"
I have implemented a WinRT Component and created an App (Universal Windows Blank App) for testing.
I would like to call _CrtDumpMemoryLeaks to check for memory leaks but since the startup code is generated I cannot put it in wWinMain. I also tried the App destructor but the destructor isn't called.
What would be the proper place for this?

[2021-01-18 15:16] BorzillaR opened #3974 "Is there any way to "bind" the svg colors to system brushes/colors?"
Hello!

I use svg images in my app. I want them to change colors according to the current color scheme / accent colors. For-example, in toolbar items the svg colors should be consistent with the text color in different visual states/themes.

Is there any way to change svg colors at runtime?

[2021-01-18 15:44] jp-weber commented on #3957
It would also be great if the line under the items could be implemented with connected animations like the NavigationView and the individual items.

[2021-01-18 16:56] gavinwilliams commented on #3815
@codendone that's frustrating, more so for you guys I assume, I know quite a few Windows dev's are all running Insider builds so the feedback on WinUI 3 must be limiting.

[2021-01-18 17:01] mdtauk commented on #3957
That is one of the open questions, but will require a lot of work to re-implement the control.

[2021-01-18 19:06] eleanorleffler commented on #3942
Hello! I have three questions:

1. Will there be a WinUI Preview 4? If so, when?

2. Is there a fix for the DataGrid (Windows Community Toolkit) crashing when scrollbars are needed? If so, will it be in the Preview 4 or will there be a new Windows Community Toolkit release (preview or regular) that will have a fix?

3. Will there be a public release of Win2D (preview or regular) that supports WinU

[2021-01-18 20:09] kcovert opened #3975 "PersonPicture not displaying image"
Please ignore, was a pathing issue.

Kirk

[2021-01-18 20:14] #3975 closed

[2021-01-18 20:14] kcovert commented on #3975
Was a pathing issue, resolved.

[2021-01-19 01:31] mdtauk commented on #3957
Adding a motion example of the Pivot states and transitions

https://user-images.githubusercontent.com/7389110/104976838-0a072780-59f6-11eb-8ceb-3c163fe23b84.mp4

[2021-01-19 05:23] codendone commented on #3974
The current svg support is static with no object model support. The only option I can think of is to load the svg file into a buffer and search/replace the desired colors.

[2021-01-19 05:54] mageshsankar commented on #3889
Hi Team,

Any update on this issue?

[2021-01-19 08:05] atiyka commented on #3488
@jindal1979 I got the same issue, thanks for sharing! It was working to me as well

[2021-01-19 08:59] FrayxRulez commented on #3779
Hi @chrisglein, I'm not sure I have some really concrete view, but I think that I would be happy already to have some traces of where the cycle happens, as with a stack overflow.
Just consider a scenario where you have hundreds of xaml files and templated controls. Finding out with SizeChanged/MeasureOverride/ArrangeOverride is causing the problem is going to be a nightmare, even more if you can't

[2021-01-19 10:40] huoyaoyuan commented on #3954
Please ship preleases much more frequently. The quality of Preview 3 is still far from GA. There must be a Preview 4.
Ideally there should be monthly prerelease like WinUI 2.

[2021-01-19 12:00] zadjii-msft commented on #3953
FYI this looks related to #3529 and #3530, and is _probably_ the root cause for https://github.com/microsoft/terminal/issues/8238

[2021-01-19 12:37] Berkunath commented on #3574
@chrisglein After WinUI 3 Preview 3, It seems working fine without crash.

[2021-01-19 13:11] YoungFcode opened #3976 "Question: Can mouse enter/leave be detected for a specific item (selected item) in UWP ListBox?"
I'm using a UWP ListBox and would like to be able to detect when the mouse pointer enters / leaves the SelectedItem in ListBox list.
The ListBox does have an associated PointerExited event, but that is for the whole ListBox itself.
I need to detect the mouse pointer on the specific item.

[2021-01-19 15:14] sheiksyedm commented on #3743
@chrisglein I have measured and arranged the control's inner elements inside the measure/arrange method.  But, in load time, that flow was run two times without making any layout changes that would lead to some loading performance issue.

[2021-01-19 15:34] mdtauk commented on #3976
Have you tried looking at the ListBoxItem?

[2021-01-19 15:53] citelao commented on #1622
(For reference: [ElementAnimator.h](https://github.com/microsoft/microsoft-ui-xaml/blob/dfbe38bfb2996dfaa2f09544c4e86aa69ccc906b/dev/Repeater/ElementAnimator.h); I don't see any immediately-relevant specs)

[2021-01-19 16:45] mrlacey commented on #3942
Is it true that WinUI3 isn't going to work on Windows Insider builds until it goes GA? ([source](https://github.com/microsoft/microsoft-ui-xaml/issues/3954#issuecomment-761707737))

[2021-01-19 16:45] YoungFcode commented on #3976
Do you mean putting ControlTemplate for ListBoxItem inside ListBox?
Then yes I tried this, but no event fired:
                        <ControlTemplate TargetType="ListBoxItem">
                                <Border
                                    PointerExited="ListBoxItem_PointerExited">
                                </Border>
                        </ControlTemplate>

[2021-01-19 17:24] alvinashcraft commented on #3942
1. I'm also curious if there will be a WinUI 3.0 Preview 4. If there is a Preview 4, will it have a 'go-live' moniker (no breaking changes)?
2. Can you get more specific yet about the WinUI 3.0 release date, or is it still 2021 H1? (Launching during Ignite or Build?)

My editors are hoping to sync up my book's release as close as possible with RTM.

[2021-01-19 18:09] mdtauk commented on #3942
At the moment the roadmap has a bunch of things listed as ``Post-3.0 (3.x releases)``
https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md

Will we be getting the Roadmap updated with specific lists for **3.1** and **3.2** etc - and possible dates these releases will be aiming for?

[2021-01-19 18:11] almedina-ms opened #3977 "[Breadcrumb] Last item doesn't raise prepared event when pressing enter"
**Describe the bug**

When pressing enter/space on any intermediate breadcrumb item the collection updates but the last element doesn't raise the OnPreparedElement event which results in the penultimate element to have the last element style.

Known issue from:
https://github.com/microsoft/microsoft-ui-xaml/pull/3891#discussion_r558420625

**Steps to reproduce the bug**
1. Go to dev/Breadcrumb/Bre

[2021-01-19 18:27] #3574 closed

[2021-01-19 18:32] YoungFcode commented on #3976
Is there a ListBoxItem 'PointerExited' Visual State?

[2021-01-19 18:34] almedina-ms opened #3978 "[Breadcrumb] Missing Keyboard navigation functionality"
**Describe the bug**

Some keyboard navigation has not been defined and, as such, it has not been implemented, for example, the Home/End keys may navigate to the first visible item or the last one

Known issue from:
https://github.com/microsoft/microsoft-ui-xaml/pull/3891#discussion_r553067321

[2021-01-19 18:37] almedina-ms opened #3979 "[Breadcrumb] Missing interaction tests"
**Describe the bug**
No interaction tests were added to the first merged version of Breadcrumb. Those tests are important to verify the functionality of the ellipsis item and the raising of the ItemClicked event

[2021-01-19 18:39] mdtauk commented on #3976
Could you check if the ListBoxItem moves from the **PointerOver** state back to the **Default/Rest** state?

Looking at the docs, all UIElements have a **PointerExited** event
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.pointerexited?view=winrt-19041

[2021-01-19 18:40] vsfeedback opened #3980 "ComboBox binded with Enum Description - TextSearch looking for key instead of value"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/ComboBox-binded-with-Enum-Description---/1311799)._

---
[severity:It bothers me. A fix would be nice]
We have created a simple sample with Combobox bound with enum description. Combobox displays the enum description values properly. when I have searched the description value by pressin

[2021-01-19 18:49] almedina-ms opened #3981 "[Breadcrumb] Control doesn't match design"
**Describe the bug**
The control doesn't currently match the proposed design.

Known issue from:
https://github.com/microsoft/microsoft-ui-xaml/pull/3891

[2021-01-19 18:51] YoungFcode commented on #3976
Indeed, the UIElements do have a PointerExited event. Where would I find an example of the PointerExited event implementation for a UWP ListBoxItem?

[2021-01-19 19:05] #3925 closed

[2021-01-19 19:11] #3505 closed

[2021-01-19 19:18] StephenLPeters opened #3982 "Re-enable Unreliable color picker visual verification test."
The ColorPicker's visual verification test is currently disabled because it is unreliable. We should fix the reliability issue and reenable the test.

[2021-01-19 19:20] chrisglein commented on #3779
That seems possible. The layout cycle is detected by tracking a count in the layout manager and when it exceeds some threshold flagging it as a layout cycle. It seems like it'd be possible to use that threshold to trigger a diagnostic mode, let layout run a couple more cycles, and report what was invalidating layout within that window. Maybe even getting really fancy and reporting what layout numb

[2021-01-19 20:26] chingucoding commented on #3982
Are there specific PR runs that you can link for this to make investigation easier?

[2021-01-19 20:41] chingucoding commented on #3919
@ranjeshj Mind if I work on this? Also what is the best way to solve this? Just check when pips got focus and then select focused item? That's what NavigationView is doing.

[2021-01-19 20:50] ranjeshj commented on #3919
@gabbybilka @beervoley Is the expected behavior to have tab land on the selected item instead of the first ?

[2021-01-19 21:04] chingucoding commented on #3919
It would seem reasonable to me given that PipsPager is a selection control and other selection controls such as ListView, TabView or NavigationView follow this pattern. So following that behavior in PipsPager would make the experience more consistent.

[2021-01-19 21:36] stevenbrix commented on #3749
For WinUI3 RTM, we'll set `PublishTrimmed` to false, and include an error that ensures that property isn't set. To follow when trimming will be officially supported for C#/WinRT assemblies, see https://github.com/microsoft/CsWinRT/issues/373

[2021-01-20 00:03] LuanVSO commented on #3942
will there be an update with the newer fluent icons for the "Segoe MDL2 Assets" font in windows?

[2021-01-20 00:04] StephenLPeters commented on #3981
@almedina-ms When convenient, please post a link to the design and provide info about what is missing.

[2021-01-20 00:07] StephenLPeters commented on #3978
@almedina-ms please provide a link to the keyboard section of the spec when convenient.

[2021-01-20 00:16] StephenLPeters commented on #3976
ListBox is a pretty old control, I'd recomend using ListView instead if possible.  However attaching to the PointerExited event of your ListBoxItem should be pretty easy. I don't have an example on hand but if you have retrieved the ListBoxItem as a local variable it should be as easy as:

`LocalListBoxItem.PointerExited += MyPointerExitedHandler`

We have examples where we do this for other contr

[2021-01-20 00:17] #3974 closed

[2021-01-20 00:18] StephenLPeters commented on #3973
@kennykerr or maybe @jevansaks can you weigh in?

[2021-01-20 00:22] StephenLPeters commented on #3972
@SavoySchuler or maybe @stmoy FYI

[2021-01-20 00:26] StephenLPeters commented on #3971
@zed220 If you enable all of the exception in the exception settings do you get more info? If so, Is this essentially a feature request to expand the error reporting for this case?  Is this the same behavior as Winui2 or system xaml or is this a regression with Winui3?

[2021-01-20 00:30] mdtauk commented on #3981
The Breadcrumb control is still being built - the styling for the buttons etc will come once it is functioning, I would imagine.

[2021-01-20 00:32] StephenLPeters commented on #3970
Hmm, can you provide a zipped up copy of a repro app so one of us can take a look? I don't see anything wrong from the provided code.

[2021-01-20 00:34] StephenLPeters commented on #3969
Yeah, seems like you figured it out! Thanks!  And we would definitely appreciated the fix.

[2021-01-20 00:38] StephenLPeters commented on #3968
It is correct that by design icon's do not scale. So I think the issue here is that the x button scales with font size not that the search button doesn't.

[2021-01-20 00:43] StephenLPeters commented on #3953
@Austin-Lamb and @JesseCol for the XamlIslands perspective

[2021-01-20 01:50] MikeHillberg commented on #3883
This is a result of
* we're trying to keep WinUI3 APIs compatible with WinUi2 (caveat the namespace change)
* we expected the polymorphism to be based primarily on Brush rather than GradientBrush (and they share the Brush base)

[2021-01-20 03:16] MikeHillberg commented on #3896
I like the approach of [CreateFromString] supporting the property case.

What I don't like about type converters is that there's no type information telling you what input types are supported or what type you're going to get out. With CreateFromString it's more clear (though you still don't know the specific string syntax). It's also nice that CreateFromString is clear as to how to get the same fu

[2021-01-20 04:09] oldoldman commented on #3970
Found why, if I use make in step 4 , it will work
[code]

[2021-01-20 04:15] jeganraj-m opened #3985 "Discussion: Compact sizing for Button controls"
# Discussion: Compact sizing for Button controls
WinUI support compact sizing for textbox, Calendar controls, but not support button controls like Button, DropDown Button, RadioButton, ToggleButton.

Any reason for not providing compact sizing for Button controls or any plan in future?
## Image
![image](https://user-images.githubusercontent.com/74640452/105126046-db777280-5b03-11eb-81e6-8a1f10f3ae

[2021-01-20 04:18] mdtauk commented on #3985
I am guessing the thinking was that the compact controls are typically long enough to make touching them easier - but, the InfoBar's ActionButton is 24 px high - which is inline with the other controls, so maybe it is time to include compact styles.

WinUI 3.0 will be required to bring compact support for flyout controls however.

[2021-01-20 04:30] MikeHillberg commented on #3308
I don't think there's any API that a control can listen to to determine it's in a Frame and no longer cached. You will get destructed/GC'd though, are you trying  to close the timing window on that?

Side note, the Loaded and Unloaded events have an ordering issue that gets in the way as described here. More info at https://github.com/microsoft/microsoft-ui-xaml/issues/1900.

[2021-01-20 05:01] MikeHillberg commented on #3496
@alexdi220, I think the issue is that this event doesn't raise as it should when the property is set in markup like this. As a workaround for now you should be able to do initialization by listening to the Loaded event (but still hook up the IsEnabledChanged handler).

[2021-01-20 05:07] mdtauk commented on #3496
#3934 I made an issue about doing something about this in the Templated Control item template

[2021-01-20 05:17] MikeHillberg commented on #3779
I think the layout-cycle error is raised during layout, when it detects that it's about to run one too many layouts. Maybe one simple thing we could do is raise the error when N-1 layouts have run, and layout is getting invalidated. For example if the problem (or part of the problem) is some code that's setting an element Width, that call to the setter would be on the call stack.

[2021-01-20 06:42] alexdi220 commented on #3496
Hi @MikeHillberg and @mdtauk. Thanks for the answers. The workaround is well and I have used it. But still waiting for a fix. There is the [issue](https://github.com/microsoft/microsoft-ui-xaml/issues/3557) found by my colleague. The subscription of the standard events causes performance issues. We facing cases 5 and 6 in huge components like DataGrid, ToolBars, Ribbon, etc, or enterprise applicat

[2021-01-20 06:45] alexdi220 commented on #3783
Any updates? Could we expect the correctly working of the ColorPalettes to use for our themes engine?

[2021-01-20 06:53] alexdi220 commented on #3784
Have any updates? We would like to advise this way to our customers when they want to change the colors of the theme dynamically.

[2021-01-20 07:00] #3856 closed

[2021-01-20 07:22] StefanKoell commented on #3942
There are still many reasons for WPF apps and sometimes it is the only choice due to technical constraints (controls ecosystem, embedding ActiveX, compat., running as Admin, etc.). When do we see some investments in WPF? Better, faster rendering, compiled bindings, etc.

[2021-01-20 08:59] michael-hawker commented on #3883
@MikeHillberg but this means that unlike WPF there's no common pattern between the two brushes. Nor have their properties at least been implemented similarly (i.e. using `GradientStopCollection`). They both have a collection of `GradientStops` but implement them in entirely different ways.

This means there's no way to extend or write a helper that easily can help generate or manipulate gradient s

[2021-01-20 09:00] #2440 closed

[2021-01-20 09:00] Gavin-Williams opened #3986 "Gather keyboard input"
In UWP, this would be how I get keyboard input for a Xaml application ...

[code]

This doesn't work for WinUI, with output... Microsoft.UI.Xaml.Window.Current.**get** returned null. How do we get keyboard input for the Window?

I should mention that gathering from a control, such as SwapChainPanel also doesn't work. It's a pretty weird design for sure.

[2021-01-20 09:56] samueljohn commented on #3364
would be cool, indeed!!

[2021-01-20 10:09] alexdi220 opened #3987 "NumberBox's inline buttons looks strange"
**Describe the bug**
The buttons look strange and overlap the focused border

**Steps to reproduce the bug**
[code]

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/47348109/105159716-73835500-5b20-11eb-915a-106ad7876b60.png)
![image](https://user-images.githubusercontent.com/47348109/105160679-96623900-5b21-11eb-8e95-e0d0127f73e7.png)

**Version Info**

[2021-01-20 10:23] harvinders commented on #3968
@StephenLPeters Bit of a context, I am developing application for kids and hence I would like to increase the font size. In my use case I would like the icon size to increase as it helps kids click the find button with ease.

If I take my use case for other controls like navigation button, I think for kids the icon size should increase. I think, it is more of accessibility issue, if you consider f

[2021-01-20 10:26] harvinders commented on #3942
@ranjeshj It would also be great to try out our apps with the new styles for controls (through preview releases of 2.6). This way we would be able to give any feedback we may have using it in real world apps.

[2021-01-20 10:35] chingucoding commented on #3942
@harvinders You can already test the news styles with this snippet:

[code]

Note that this API is still a WIP and might change.

[2021-01-20 10:39] niclar commented on #3942
What's the status of the wysiwyg editor for XAML (for winui3/c++) ?

[2021-01-20 10:58] Gavin-Williams commented on #3986
So I can get input from the SwapChainPanel, but not by any way that I would imagine. I can't get keyboard input from the SwapChainPanel itself, even though it exposes KeyUp and KeyDown events. I have to get input from a Grid that contains the SwapChainPanel. But the SCP is a Grid itself, but don't let that fool you, This Grid needs to be inside a another Grid - lol. This is a wacky design.

Can we

[2021-01-20 11:12] MartinZikmund commented on #3987
This happens when the `Width` you set is too small, so it doesn't "fit" inside the given space. However, not sure why there is a min width limitation for the text box

[2021-01-20 11:13] MartinZikmund commented on #3969
I'm on it :-)

[2021-01-20 11:17] alexdi220 commented on #3987
Buttons overlap border by height. The spin buttons should look like ComboBox
![image](https://user-images.githubusercontent.com/47348109/105167745-286e3f80-5b2a-11eb-87f5-73d27b6c3e52.png)

[2021-01-20 11:31] Gavin-Williams commented on #3880
I'm using VS 16.8.4.

[2021-01-20 11:41] Gavin-Williams commented on #1119
I think he is just wanting the ability to customize hot-keys? So dot-point 3 on chigy's list.

[2021-01-20 11:42] #2514 closed

[2021-01-20 12:32] zed220 commented on #3971
1. No, exception settings are not affected.
2. I can't test it in WinUI 2, sorry.

[2021-01-20 12:42] huoyaoyuan commented on #3857
Further information:

If I change the call to synchronized `SetSource` AND change the backing stream to WinRT `InMemoryRandomAccessStream`, the issue seems to disappear.

Projected .NET stream with `SetSource` will get a deadlock in UI thread.

It seems to be caused by the source stream containing corrupt image.

[2021-01-20 12:59] mdtauk commented on #3968
There are light weight styles you can override if you wish to increase the sizes of these things.

I don't believe the TextBox currently uses light weight style values for it's glyphs, which is probably an oversight that should be fixed @StephenLPeters

Would there be any issues with putting the UI you wish to resize in a ViewBox and scaling/zooming?

[2021-01-20 12:59] omikhailov commented on #3972
I totally agree!

Today the main problem of UWP is the focus on consumer applications. At the same time, it is most often used to build internal tools, including tools for administrators and engineers (due to highly secure nature of platform), and custom applications for tablets, which are developed for working with documents, electronic signatures and Microsoft Office documents. In other words, c

[2021-01-20 13:26] mdtauk commented on #3986
Doesn't the WinUI Window API spec mention being able to reference the CoreWindow for UWP, and the HWND for Win32 apps?

This is mentioned in the spec, but may not be implemented yet in preview 3

[code]

[2021-01-20 14:06] harvinders opened #3989 "Application crashed with unhandled exception "Layout cycle detected. Layout could not complete.""
**Describe the bug**
Not sure if I have enough information, but one of my applications crashed with the following exception. I thought it is something that the team would like to know. I have never seen such exception before.

My application has a ListView and the ListItems has few ItemsRepeater.

I would add more information if I see it happen again.

  | Name | Value | Type
-- | -- | -- | --
◢ |

[2021-01-20 15:25] #3950 closed

[2021-01-20 16:15] deanchalk opened #3990 "The process has no package identity - Error in XAML Islands"
**Describe the bug**

After following exactly this tutorial:
https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands
I get an error 'The process has no package identity. (0x80073D54)'.
This error occurs in the UWP App (Initialize()) that runs with the WPF app.

If I don't add the Microsoft.UI.XAML nuget to the solution, and use standard controls instea

[2021-01-20 17:22] stevenbrix commented on #3942
@saint4eva, do you have more specifics? I just want to make sure we actually answer your question, because I could probably say a lot about this :)

[2021-01-20 17:38] FireCubeStudios commented on #3942
I've noticed some PRs in the microsoft-ui-xaml repo which make significantly large changes to common controls such as buttons and sliders. What's the goal of these changes, and is there a roadmap?

[2021-01-20 17:48] michael-hawker commented on #2898
FYI @MikeHillberg this is the issue around DataTemplate's being XAML only we were just discussing on the WinUI Community Call.

[2021-01-20 17:48] Tropix126 commented on #3942
​Is there a plan to update UXTheme styles to match WinUI controls on windows?

[2021-01-20 17:50] francoistanguay commented on #2898
As food for thoughts, even though IELementFactory would work for ItemsControl-based controls, we need to consider other controls like ContentControl.

[2021-01-20 18:38] jevansaks commented on #3973
UWP apps don't do an orderly shutdown, they get called to suspend and then they're TerminateProcess'd. As a result I guarantee that the shutdown code (even if you can make it happen) is not leak-free even from the OS components. But leaks at shutdown aren't indicative of runtime leaks. If your goal is to find and fix memory leaks (especially ones that aren't in the CRT allocator), you probably wan

[2021-01-20 19:14] MikeHillberg commented on #3888
@stevenbrix, could this be an issue that when dynamically loading the DLL we're not finding the user control's XBF?

[2021-01-20 19:26] MikeHillberg commented on #3883
Yeah, I get it. It's a tradeoff and between easing migration and taking this as an opportunity to make some incompatible improvements. The decision we made for WinUI 3.0 is to be compat with WinUI2 wherever possible, because we thought it was important, and because there are some unavoidable incompatibilities that will already bring us below 100%.

It's too late to revisit that decision now for 3.

[2021-01-20 19:27] mrlacey commented on #3942
**For future calls**: as you record via MSTeams, please can you enable live captioning to help those of us who have difficulty hearing

[2021-01-20 19:34] anawishnoff commented on #3942
@mrlacey - That's an excellent suggestion, thank you! I'll look into that for the next call.

[2021-01-20 19:44] MikeHillberg commented on #2898
Thanks for tagging this from the call @michael-hawker.

IElementFactory is actually supported by [ItemsRepeater](https://docs.microsoft.com/uwp/api/Microsoft.UI.Xaml.Controls.ItemsRepeater) today, but not ItemsControl or ContentControl.

DataTemplate implements the interface, so what we need to do is have it re-expose the functionality. I don't think it's possible today to derive from DataTemplate

[2021-01-20 20:45] stevenbrix commented on #3888
@SunnyWang1012 if you disable mixed mode debugging, does this error still persist? I'm wondering if this is the same issue as #3893

[2021-01-20 20:45] stevenbrix commented on #3888
@alwu for FYI

[2021-01-20 21:55] kikisaints commented on #3784
As far as I know, the `ColorPaletteResources` api will only update if you've defined it (before building the app) in a resource dictionary (mydictionary.xaml) that's themed (default, light, dark, high contrast, etc.). Then the "trick" that Stephen showed will work (for most cases) in order to simulate the effect of dynamic color changes.

That being said, WinUI doesn't really support full runtime

[2021-01-20 22:34] mdtauk commented on #3784
I know there is a Figma plugin in the works, but I wonder if there is some value to including an **AppTheme** item template in the WinUI SDK/repo - so you can get a ResourceDictionary in your app, with all the light-weight styles there to be edited.

I know the Fluent Theme Editor exists, but its not currently synced with WinUI work, and the visual refresh is changing lots of the resource names an

[2021-01-20 22:47] sjb-sjb commented on #2854
Why wouldn’t you just do a port of the UWP pickers?

[2021-01-20 23:36] Gavin-Williams commented on #3986
@mdtauk I can't understand why I shouldn't get the CoreWindow, whether I'm building a UWP.Desktop app or NonUWP.Desktop app, it's a modern window model, and should underlay all windowed applications. Shouldn't it? The name gives it away, it's a *CORE* Window. What's the thinking behind keeping around legacy models when they could be replaced with modern variants which are just as capable and use m

[2021-01-20 23:36] mdtauk commented on #2854
UWP apps on Windows 10 - display the Win32 pickers.  On Xbox, 10X, and I think Hololens / Surface hub use a Windows 10 Mobile era File Explorer app as it's picker interface.

So a new shared API spec, needs to provide more from it's Picker interface - and if you do that, why not extend it to add new features and support for cloud storage as well as Xaml apps and File System access.

[2021-01-20 23:43] mdtauk commented on #3986
Win32 apps don't use a CoreWindow - it uses the normal win32 HWND interface,

CoreWindow has sandbox restrictions because it is for the UWP lifecycle.

WinUI's Window is a top level API that wraps both the HWND and CoreWindow, and re-directs to the appropriate one, depending on if you are in the UWP sandbox or not.

You can stay in the Window API level, but if you need to customise your window bey

[2021-01-21 00:59] Gavin-Williams commented on #3986
My app isn't UWP, but I'm using as much UWP code as possible, because really, all I want is UWP (with .Net 5 + NoOverlays + Steam support) which is only available via the desktop app model. If .Net 5 gets UWP and UWP get's Overlay suspension and .Net 5 compilation to get away from .Net native then I will likely go back to UWP. But we are stuck on what's being called Desktop - even though UWP is de

[2021-01-21 01:13] kikisaints commented on #3784
Can you elaborate a bit on what you mean? Are you asking for a way to import a dictionary that has a list of all the lightweight styling resources there, and nothing else? I believe the WinUI repo has a list of all the controls in [resource dictionaries here.](https://github.com/microsoft/microsoft-ui-xaml/tree/master/dev)

You are correct, and that's an item I plan on addressing - merging our new

[2021-01-21 02:27] mdtauk commented on #3784
I was wondering if this may be a good idea:
In VisualStudio you go to Add a new file, and one of the options is a CustomTheme - which creates a new ResourceDictionary - pre populated with all the light-weight styles used by WinUI - which can be edited and then referenced in App.xml

Basically what the editor would export, but with the default values already there.

[2021-01-21 02:33] mdtauk commented on #3986
Well for the foreseeable, CoreWindow is off limits.  That is why it returns NULL

You will have to do it the Win32 way until more fundamental changes come, probably through Reunion APIs

[2021-01-21 03:04] jordan-msftfan opened #3992 "Discussion: can we talk about new edge's navigation view design"
# Discussion: can we talk about new edge's navigation view

In July 2020, Microsoft discussed the definition of Fluent Design in the Edge discussion forum, and where Fluent Design is headed.It has mention that:

In the past discussions, we have created a lot of topics about Acrylic and Reveal, but very little attention has been paid to other parts of the other Edge design area like **Navigation Vi

[2021-01-21 03:17] mdtauk commented on #3992
WinUI is moving closer to Edge with the Grid and List View changes being introduced.

The Windows 10X settings app has started moving to the more modern WinUI visual look also, not sure when it will make its way to Windows 10 however.  It is on 10X and Hololens right now.

![image](https://user-images.githubusercontent.com/7389110/105275382-242c3b80-5b97-11eb-8da0-8d910a9dd376.png)

[2021-01-21 04:40] jordan-msftfan commented on #3992
They may overhaul the Windows 10 Settings App in the rumored "Sun Valley.

Beyond that, it's good to hear that WinUI design specifications are moving closer to Edge.
I haven't seen any news about the change to Navigation View yet (in WinUI3), but I think it will happen in the future.
The current Navigation View is outdated by design, for the most part, it cannot give Windows 10 modern appeal.

How

[2021-01-21 05:16] susmitha-sundar commented on #3940
Hi Team,

Thanks for your solution.

Its working.

Regards,
Susmitha S

[2021-01-21 06:50] alexdi220 commented on #3784
Thank you all for your answers. Let me know about any plans\suggestions\discussions for this feature.

[2021-01-21 06:55] beervoley commented on #3989
@harvinders do you by any chance have a ListView or ItemsRepeater inside ListView wrapped into ScrollViewer?

[2021-01-21 07:11] Noemata commented on #3942
First, I'd like to qualify the following remarks as a personal view only, I don't pretend to speak for the wider WPF or UWP dev community.  I still find the communications associated with WinUI bewildering.  Community calls seem to be devolving.

The messaging around WinUI needs to change dramatically; because WinUI timelines have become opaque; because the premise of WinUI has become even more op

[2021-01-21 08:22] wjax commented on #3024
I have tumbled here because I wanted to evaluate porting my WPF app to WinUI. I wanted to use the great Map Control from UWP... Seems there is no chance and I will keep using my old but bullet proof WPF Win32 apps.

[2021-01-21 08:55] huoyaoyuan commented on #3942
Thanking for asking my both questions. I'll do some explanation about them.

Currently I'm unsatisfied with the preview experience:
- There are several critical bugs living for several prereleases, like the nested NavigationView one. Some of them prevents a feature to be used totally.
- The intervals between previews are long. We have to wait for the bug fix. And if it's not fixed in one preview,

[2021-01-21 09:23] carmineos commented on #3942
Is "Multi-window support for Desktop apps" included in March release coming with Project Reunion 0.5?

[2021-01-21 09:36] VincentH-Net commented on #2898
@MikeHillberg (@jeromelaban) The UNO implementation  realizes this by adding these members to `DataTemplate` :
[code]

I find them pleasant to use. Would this be an option?

[2021-01-21 10:05] Berkunath commented on #3563
@ranjeshj I could not able to reproduce this after WinUI 3 preview 3. If I faced the same issue again, I will update the details. Thanks.

[2021-01-21 10:37] SunnyWang1012 commented on #3888
@stevenbrix  After reading the issue #3893, I try to disable **winrt::hresult_error** and the UI control can be loaded successfully. Thank you so much :)

[2021-01-21 11:46] Berkunath commented on #3875
@StephenLPeters Any work around solution for this?

[2021-01-21 11:52] huoyaoyuan commented on #3857
Whether .NET or WinRT stream passed into it can cause different exceptions. This indicates a CsWinRT issue. Moving to them.

[2021-01-21 12:45] saint4eva commented on #2898
This blocker should be resolved as soon possible.

[2021-01-21 16:49] huoyaoyuan commented on #3986
Unifying them is the goal of Project Reunion, which is not yet ready now. It is on the roadmap.

[2021-01-21 17:13] licanhua commented on #3956
@karenbtlai Can you take a look at the left test cases? two of the radiobutton test cases are missing the definition of RadioButtonCheckGlyphFillPressedDisabled
I don't know who is working on TabView and GamePadTest should be enabled

[2021-01-21 17:43] beervoley commented on #3919
@chingucoding yup, you can fix it :)
check when the pips get focus and go to the selected pip (not skipping navigation buttons because they also can be focused)

[2021-01-21 17:44] beervoley commented on #3919
@ranjeshj @chingucoding yes, it is expected behavior to go to the selected pip first. We discussed it with @gabbybilka

[2021-01-21 18:02] StephenLPeters commented on #3875
@stevenbrix can you weigh in?

[2021-01-21 18:06] Scottj1s commented on #3875
sounds like this issue:
https://github.com/microsoft/CsWinRT/issues/605

[2021-01-21 19:01] StephenLPeters commented on #3783
@alexdi220 do you know if this issue is unique to Winui3 or it it occurs with system xaml (winui2) as well?

[2021-01-21 19:03] StephenLPeters commented on #3970
great!

[2021-01-21 19:46] StephenLPeters commented on #3968
@harvinders I understand your concern, the issue that we frequently run into when Icon's do scale up is that Icon's are usually placed in locations with limited space.  There is a windows setting to increase font scaling across the system that frequently causes our font icon's to scale but past their bounding box size and get clipped (when we forget to disable text scaling on the font icon).  We d

[2021-01-21 20:21] JanRajnoha commented on #3942
Some people mentioned here bugs, that, maybe, will be fixed next preview version, but some developers, who loves testing new features, including myself, are stopped with current preview 3 and insider builds on without any option to develop again their apps, because of some bug in Windows insider versions. No workaround, no further information, just message, we must wait to next release, which will

[2021-01-21 20:29] JohnnyWestlake commented on #560
Is there any follow up on this? Almoat 2 years later and it seems like a pretty big thing to be missing, especially if we want ItemsRepeater to replace ListView/GridView, where it works fine.

[2021-01-21 20:32] arivoir commented on #3643
Copying the "build" folder worked. Thanks for the workaround!

[2021-01-21 20:32] #3643 closed

[2021-01-21 21:13] arivoir opened #3994 "Sealed Microsoft.UI.Xaml.Controls.Primitives.RepeatButton"
Unlike Button, RepeatButton is sealed, which forbids inheriting to extend its features. In WPF this same control is not sealed.

Why? Could the sealed modifier be removed?

[2021-01-21 21:41] chingucoding commented on #3994
Unsealing all controls is planned for WinUI 3.X. See #780 for more context.

[2021-01-21 21:55] gavinwilliams commented on #3942
Have to agree with this, coming from Swift when Apple make a development decision and do pre-releases, we're in a position to not just build MVP's but know that in 12 months it can be production ready and released to market.

I was at WWDC when Apple announced Swift, there were grumbles after the announcement, but everyone knew on that day that Swift was the future and everyone had their hands on

[2021-01-21 23:05] JanRajnoha commented on #3942
I remember days, when was Windows 8 introduced and Microsoft had great plans to merge mobile and desktop platforms together. OneNote for Windows 8 was great app with, in my opinion, revolution radial context menu. MS has great concepts, great plans, but sometimes many of them fail, because ... it is hard to make it real? i don't know, but progress last years is extremely slow to compare to effort

[2021-01-21 23:57] almedina-ms opened #3997 "[Breadcrumb] Investigate an alternative for PreviewKeyDown on RS2"
**Describe the bug**
The BreadcrumbItem relies on the PreviewKeyDown event to invoke via keyboard the OnItemClick event, this generates test issues as that event was introduced in RS3. Currently, the tests have been unblocked by adding a RS check around the assignment of this event but an alternative must be found to support older versions of windows.

| Windows 10 version                  | Saw t

[2021-01-22 00:08] StephenLPeters commented on #3986
@Austin-Lamb FYI

[2021-01-22 00:09] StephenLPeters commented on #3971
My last message wasn't clear, so I edited it. Is this issue essentially a feature request to expand the error reporting?

[2021-01-22 00:10] #3940 closed

[2021-01-22 00:25] mdtauk opened #3999 "Proposal: Pre-emptive NavigationView visual refresh"
# Proposal: Pre-emptive NavigationView visual refresh

## Summary

I know there is probably work and code ready to add to the repo for this control, but it would be good for the community to submit ideas and feedback before work is done with this control's refresh.

![Visual Mockup example 1](https://user-images.githubusercontent.com/7389110/105447773-c23e0580-5c6c-11eb-8f11-1fa691d4965c.png)

![V

[2021-01-22 00:27] mdtauk commented on #3992
I just submitted a proposal for changes to this design, so please feel free to add your thoughts to it, and lets see if Microsoft take any of them on-board when they check in work on this control. #3999

[2021-01-22 01:52] harvinders commented on #3989
No @beervoley , I am not using ScrollViewer, as I kept the top most control as `ListView` following is my XAML files

MainPage.xaml

[code]

MeaningView.xaml
[code]

Also, after adding `<controls:ItemsRepeater Grid.Column="1" Grid.Row="2" ItemsSource="{x:Bind Synonyms}" >` the scrolling performance was also very bad.

[2021-01-22 01:52] harvinders commented on #3989
No, following is my XAML files

MainPage.xaml

[code]

MeaningV.xaml
[code]

[2021-01-22 02:19] harvinders commented on #3968
@StephenLPeters Thanks, that was helpful

[2021-01-22 03:28] jordan-msftfan commented on #3999
This design looks fantastic!

One question is that NavigationView has 2 different PaneDisplayMode, one is at left like the design the other is at the top.
How about NavigationView with PaneDisplayMode set at top? Should it also have a new design, or be part of Pivot or TabsView?

[2021-01-22 04:21] mdtauk commented on #3999
I need to have a think about the top design mode - it has other considerations but is not radically different to the side aligned version

[2021-01-22 05:44] alexdi220 commented on #3783
@StephenLPeters I didn't check it on WinUI 2. So I don't have an answer.

[2021-01-22 06:48] hupo376787 opened #4002 "ItemsRepeater performs bad when scrolling fast on Xbox"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
I have attached a reproduced repo, please run it on Xbox one S/X, Xbox Series S/X still not good.
**Bug1, On Xbox, press and hold GamepadDPadDown/GamepadDPadUp, the focus moves quickly to the bottom and top, then the focus may be lost, and the UI update very slow.**

Press GamepadDPadDown every second, the focus

[2021-01-22 07:44] hupo376787 commented on #4002
For now, I have to use the delay method to stop users scrolling too fast.
I know this is not a good solution, can you provide any other solution, thanks.
![image](https://user-images.githubusercontent.com/14960168/105461767-9e101200-5cc8-11eb-8c75-55d4c1a2817e.png)

[2021-01-22 10:29] zed220 commented on #3971
Yes, I think this is a feature request. This is very important for us because we work with a lot of controls in many xaml files.

[2021-01-22 10:46] chingucoding commented on #3968
Sure thing, PR's out.

[2021-01-22 11:13] chingucoding commented on #4002
Have you tried setting [VerticalCacheLength](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.itemsrepeater.verticalcachelength?view=winui-2.5) to a higher value (e.g. 2 or 3)? This could potentially improve scrolling performance as the virtualization area get's larger and thus more items would be available to scroll to without having to recycle elements.

[2021-01-22 11:42] vadd98 opened #4005 "Possible memory leak in WinUI 3 Preview 3 when using ContentDialogs and UserControls"
**Describe the bug**
I'm developing a Win32 Net5 app using the WinUI 3 Preview 3 and I'm getting some problems with possible memory leaks. I have a complex app which uses a lot of UserControl and ContentDialogs but, after they are out of scope, their memory is never released.

I'm trying to do some memory analyses using DotMemory and in the screenshot below it is possible to see one of the UserCon

[2021-01-22 12:02] Marv51 opened #4006 "Update roadmap to include more details about 2021 feature status"
On the January Community Call (#3942) there was a clear promise to update the [public roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) document to reflect the current schedule.

While I'm sure you have some sort of internal work item to track that, maybe this is a good way to track the progress on that.

[2021-01-22 12:26] JohnnyWestlake commented on #4002
That still won't fix the root issue - it's worth noting that ListViewBase internally handles its own focusing logic to avoid this sort of issue and to vastly improve the performance on focus logic. As ItemsRepeater isn't a direct replacement for ListViewBase but a lower-level alternative, you would probably have to roll your own focusing logic based on the known layout of items to handle this. (An

[2021-01-22 12:36] chingucoding commented on #4002
Yes, VerticalCacheLength won't fix focus issues, however it can (and most of the time does) fix issues with stuttering when scrolling. From the videos, it looks like that the ItemsRepeater is not able to get the next elements in time which then confuses the focus logic resulting in that weird behavior.

[2021-01-22 12:43] hupo376787 commented on #4002
I'll try setting `VerticalCacheLength` tomorrow on my Xbox one s.

And for focusing logic, I once wrote my own to override FocusManager's logic, the same happens if I press and hold GamepadDPadDown.

[2021-01-22 12:51] JohnnyWestlake commented on #4002
For rolling your own focusing logic, the general idea is you know the exact layout of items (especially on Xbox where you have a fixed layout), so you would explicitly call something like
[code]
on GamepadButtonDown, and handle the original event to stop FocusManager doing it itself. This would realise and focus the element. Setting VerticalCacheLength typically just delays the inevitable (and, es

[2021-01-22 13:44] sjb-sjb opened #4007 "Question: where is System.Media and SystemSounds?"
Using WinUI 3 preview and VS preview , I created a project with the "Class Library (WinUI in Desktop)" template and tried to access SystemSounds. But, there does not seem to be any System.Media namespace linked in. For example on the using statement, intellisense did not find Media as a namespace within System. What package do I need to include?

[2021-01-22 14:41] Gavin-Williams commented on #3986
OK. Thanks guys. I guess I was thinking that .Net 5 and WinUI were basically done. But maybe I'm jumping the gun a bit, and the picture isn't yet complete. I'll have to exercise some patience over the next year and wait and see what happens.

[2021-01-22 19:17] licanhua opened #4008 "WinUI version schema sometime can't applied to MinVersion"
Add PackageDependency like below:
[code]
Run into build error:
error : Error info: error C00CE169: App manifest validation error: The app manifest must be valid as per schema: Line 14, Column 51, Reason: '2.62101.13002' violates pattern constraint of '(0|[1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])(\.(0|[1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0

[2021-01-22 19:24] jevansaks commented on #4008
That version string passes the regex in the error message. I suspect MakeAppx has a bug that it's using different code to validate the string.

Regardless we will legitimately start failing this in WinUI 2.7 if we continue with this scheme for the package versions (because the 2nd component would be 7xxxx > 65535). So we'll need to do something soon. The framework package version doesn't really ma

[2021-01-22 20:07] #3997 closed

[2021-01-22 22:49] mdtauk commented on #3999
Guess I was right to put **Pre-emptive** in the title lol

#4009  **Navigation View Visual Update**

[2021-01-22 23:17] marb2000 commented on #3942
We've read a lot of thoughts, suggestions, and opinions here. And we are grateful for all of them, even the criticism, because we can learn from them and serve you better. Sometimes we have the time to respond to the community, others we don't have the bandwidth to give you a proper answer on time, my more sincerest apologies for that. Please, continue giving us your feedback; there is always room

[2021-01-23 00:06] StephenLPeters commented on #4007
@Austin-Lamb  or maybe @alwu-msft fyi

[2021-01-23 00:07] StephenLPeters commented on #4006
@anawishnoff FYI

[2021-01-23 00:09] StephenLPeters commented on #4005
@Scottj1s and @stevenbrix is this the same memory as this? https://github.com/microsoft/CsWinRT/issues/413

[2021-01-23 00:13] StephenLPeters commented on #4002
@ranjeshj FYI

[2021-01-23 00:17] StephenLPeters commented on #3783
@kikisaints FYI.

[2021-01-23 01:57] jordan-msftfan commented on #3999
Interestingly, this design is highly consistent with Microsoft's new style.

[2021-01-23 02:01] mdtauk commented on #3999
When you see the direction the wind is blowing, its not too difficult to put yourself into the mindset of what is to come.

But I went a little further with some details like the Selected Item States and the Inset Shadow.

The Overlay/Flyout mode is also a new feature I am proposing, rather than just a visual update.

[2021-01-23 02:23] jordan-msftfan commented on #3999
There's still a lot of room to enhance NavigationView in terms of functionality

For example, in WinUI 3, Hierarchical NavigationView is currently ignored.

In have multiple items in the navigation menu, if there is the Overlay/Flyout navigation menu mode and compact mode 2 kind of variable type, I'll prefer to go to choose the Overlay/Flyout mode.

Under the compact mode while it is possible to s

[2021-01-23 02:30] crutkas commented on #3959
Im reporting the issue with how to reproduce it easily. Sadly I don’t have cycles to dive in more. Please fix as this makes it unusable for decimal based numbers and should be an easy thing to validate with unit tests.

[2021-01-23 02:31] mdtauk commented on #3999
When WinUI 3 is out, all the updates and controls from WinUI 2's modern branches will be merged back in

[2021-01-23 05:03] saint4eva commented on #3986
Could you explain this: cswinrt vs cswin32 vs project reunion?

[2021-01-23 05:27] saint4eva commented on #3942
@marb2000 Thank you Miguel for providing answers to some of the questions in a more sincere and open-manner - we appreciate it. One more question, please could throw more light on the state of UWP app model on WinUI and the status of the .NET support for UWP/ WinUI.

Thank you in advance.

[2021-01-23 07:08] mdtauk opened #4010 "Proposal: Pre-emptive CalendarView visual refresh"
# Proposal: Pre-emptive CalendarView visual refresh

## Summary

![image](https://user-images.githubusercontent.com/7389110/105571173-e6214a00-5d45-11eb-9a12-70a1de5835c5.png)

With all the WinUI controls receiving visual refreshes, The CalendarView I think requires a serious refresh, as it looks very out of place with the cleaner and softer appearance of the other controls.

## Rationale

* The c

[2021-01-23 07:36] hupo376787 commented on #4002
Hi, guys, I have changed the focusing method as @JohnnyWestlake said.
The new repo is [https://github.com/hupo376787/TestRepeaterWithCustomFocus.git](https://github.com/hupo376787/TestRepeaterWithCustomFocus.git).

But it still has problems when press and hold up/down button.

The key code like:
[code]

[2021-01-23 09:24] Shomnipotence opened #4011 "Question: Is reveal possible to return?"
I love reveal effect, I think this is one of the souls of Fluent Design (the other is acrylic). I noticed that the new design no longer has reveal, is it possible to return?

![image](https://user-images.githubusercontent.com/6630660/105574416-5f995680-5d9f-11eb-9023-3d91e49179ec.png)
![image](https://user-images.githubusercontent.com/6630660/105574420-6627ce00-5d9f-11eb-8a6e-c6c299fe37c9.png)

[2021-01-23 10:40] mrlacey commented on #3620
@anawishnoff  please can you update the "Issues and workarounds" section in the OP to include that **apps created with WinUI3 Preview 3 will not run on the latest Windows Insider builds**. (#3954 & #3815)

[2021-01-23 10:43] mrlacey commented on #3942
We know you can't always give a quick answer to every question but this response could easily be interpreted as implying "we're to busy to engage with the community." For a project that wants lots of community engagement and intends to eventually be fully open-source, this doesn't send a good message.

Also supporting the need for more communication is that (from my perspective) a lot of questions

[2021-01-23 16:48] mdtauk commented on #4011
@chigy had said they were not happy with Reveal and are adding animations to controls to meet the same goal of indicating interactive controls on hover.

There was a proposal that was discussing possible changes, but it seemed to not go anywhere
https://github.com/microsoft/microsoft-ui-xaml/issues/1126

They may be open to future ideas, but are not actively working on a replacement for now.

[cod

[2021-01-23 20:45] gitspeaks commented on #2488
Can you post example code for a basic xaml app ?

[2021-01-23 21:53] sjb-sjb commented on #4007
Another similar question, again in a "Class Library (WInUI in Desktop)" project:

I have "using Microsoft.UI.Xaml.Input" and the compiler allows the use of the KeyboardAccelerator class; however the ICommand interface is not found. I get CS0246, the type is not found. Yet the [docs](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.input.icommand?view=winui-3.0-preview) clearly

[2021-01-24 02:13] harvinders commented on #3989
@beervoley Changing the layout to `WrapLayout` from windows community toolkit improved the performance and I am not seeing another crash, it may happen I might have to stress the app a little more.

[code]

[2021-01-24 02:44] oldoldman commented on #3970
Sadly, I have to reopen this issue :). This time I'm extending the ContenControl as follow
[code]
```make<MyControl>()``` does not work for ContenControl (OnApplyTemplate does not get called). Please help!

[2021-01-24 03:23] beervoley commented on #3989
@harvinders that's interesting, I will try to have a look during the week :)

[2021-01-24 05:10] sjb-sjb commented on #4007
Maybe ICommand was not moved from System.Windows.Input to Microsoft.UI.Xaml.Input as the documents claim it was -- ?

Still missing SystemSounds.

[2021-01-24 07:25] huoyaoyuan commented on #4007
See the [doc](https://docs.microsoft.com/en-us/dotnet/api/system.media.systemsound?view=dotnet-plat-ext-5.0): it's available as platform extension in .NET Core.

You can add the nuget package [System.Windows.Extensions](https://www.nuget.org/packages/System.Windows.Extensions/).

[2021-01-24 10:53] axcadsd commented on #2236
I would also prefer the Desktop Wallpaper faux acrylic effect. Can windows team maybe consider adding a global setting through which we might be able to use the faux effect globally for all apps that support acrylic? Seeing the background applications through acrylic effect is distrating and sometimes reduces readability...

[2021-01-24 16:22] sjb-sjb opened #4013 "Error while loading project properties - WinUI 3 preview 3 - Packaged Desktop App"
Using: Visual Studio Version 16.9.0 Preview 2.0, WinUI 3 preview 3

Steps to reproduce:
- Create a new project using the "Blank App, Packaged (WinUI in Desktop)" template.
- Right-click on the Package project and select "Properties" at the bottom of the context menu.

Expected: should open the properties window for the project
Actual: an exception message occurs as follows:

**An error occurred wh

[2021-01-24 17:46] tvanderstad opened #4014 "RichEditBox Pastes Twice With DisabledFormattingAccelerators="All""
RichEditBox is pasting text twice with `DisabledFormattingAccelerators="All"` in xaml. The clipboard contents are correct when copying from the app and pasting into another app. With a custom paste handler using `Paste="MyPasteHandler"`, the handler is called twice. It only seems to happen when the text is highlighted with the mouse and the copy command is issued with the keyboard, but once the bu

[2021-01-24 18:40] tvanderstad commented on #4014
Hacky workaround (for those interested): add the following handler for pasting to ignore a paste if it happens within 10ms of the last one
[code]

[2021-01-24 19:22] AJLeuer commented on #4011
Please don't get rid of it. WinUI on the desktop is in desperate need of any kind of visual flourish it can get - it looks barren and lifeless as it is. And it appears as though the acrylic material isn't available in desktop apps as well. If that's the case, that's again a real shame, for the same reason.

[2021-01-25 02:33] sjb-sjb commented on #4007
Hmmm, RTFM ... OK so what I take from this is that if the Version dropdown on the class documentation says .NET Platform Extensions 5.0 then I should load the NuGet package whose name matches the DLL shown next to "Assembly". Easy as pie.

Seems to all be linking now. Admittedly I did also upgrade VS, install a new .NET 5 version, and update the projects to 19041 (the templates seem to put in 1836

[2021-01-25 02:58] riverar commented on #3954
## Workaround for **x64** targets
1. Open Visual Studio
2. File > Open > Select `%UserProfile%\.nuget\packages\microsoft.winui\3.0.0-preview3.201113.0\runtimes\win10-x64\native\Microsoft.Internal.FrameworkUdk.dll` > click the arrow on the [Open ▼] button > Open With... > Binary Editor
3. Edit > Go To > Go To (or type CTRL-G)
4. Input `0x1ac64` and click the OK button
5. The selected byte (may be a

[2021-01-25 03:04] vitorgrs commented on #3954
Tested and worked on 21296.rs_prerelease too.

[2021-01-25 09:31] crramirez commented on #2704
Please add this to the WinUI 3.0 Milestone. The march version shouldn't be shipped without this been solved.

[2021-01-25 11:16] Jaiganeshkumaran commented on #4011
Microsoft got rid of Reveal because it's hard to implement on their websites efficiently and users do except a similar look across platforms.

[2021-01-25 11:20] mrlacey commented on #3954
Workarounds are great but it will also be useful to know:
- Why/how this happened?
- What's being done to ensure it doesn't happen again?

[2021-01-25 12:09] zed220 opened #4015 "Question: ListBoxItem common visual states"
Hello,

What common visual states support the ListBoxItem in ListBox?

I have found in the ListBoxItem template the following states: Normal, Disabled, PointerOver, Pressed, Selected, SelectedUnfocused, Focused, SelectedPointerOver, SelectedPressed. Are these all visual states?

Thanks

[2021-01-25 12:15] ssaran046 commented on #3918
Hi Team,

Any update on this issue?

[2021-01-25 15:32] anawishnoff commented on #2704
@smj389, @crramirez It looks like this bug will be fixed in the next release of WinUI 3.

[2021-01-25 17:05] YuliKl opened #4016 "Add colored acrylic theme resources"
# Add accent-colored acrylic theme resources

## Summary

Add new AcrylicBrush theme resources for showing accent-colored acrylics and overlays. Related to #3478.

## Proposed changes

1. Add new theme resources

1.1 Create `AccentAcrylicBackgroundFillColorDefaultBrush` using the following properties.

  | TintColor | TintOpacity | TintLuminosityOpacity | FallbackColor | BackgroundSource
-- | -- |

[2021-01-25 17:26] karenbtlai commented on #3956
I am unable to test for TabView's GamePadTest since I don't have a gamepad to debug. Who can be assigned to that test failure?

[2021-01-25 17:34] chingucoding commented on #4016
I'll work on this.

[2021-01-25 17:34] shaheedmalik commented on #3942
It's better to release a huge RTM than a half baked or a stable, feature incomplete WinUI3.0 that doesn't have feature parity with WinUI2.5.

Microsoft releasing unfinished products is a main complaint about Microsoft from people in general. People keep complaining about it but Microsoft keeps doing it and wonder why people aren't using the products and cancels them.

https://answers.microsoft.com

[2021-01-25 17:35] chingucoding commented on #3956
I can take a loo at the GamePad test failure. Is the test failure only on lower versions or across all versions?

[2021-01-25 19:03] YuliKl opened #4019 "ToggleSplitButton's "On" state looks wrong while its flyout is open"
**Describe the bug**

Opening a ToggleSplitButton's flyout causes the button to "grey-out", looking like it's in the Off state.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Open ToggleSplitButton page in Xaml Controls Gallery
2. Make sure the ToggleSplitButton is On, painted with accent color.
![image](https://user-images.githubusercontent.com/13142665/105752653-6a1d3280-5e

[2021-01-25 19:35] JanRajnoha commented on #3954
it working, great work

[2021-01-25 20:00] StephenLPeters commented on #3918
@ranjeshj FYI

[2021-01-25 20:16] #3684 closed

[2021-01-25 20:59] #3968 closed

[2021-01-25 22:52] stmoy commented on #3972
Thank you for reaching out @Elmarcotoro & @omikhailov! This issue has several facets that I want to address – please let me know if I’ve misunderstood your intention or have more thoughts.

Today, Windows developers have a lot of choices to consider to build native apps, including deciding which frameworks to use (WPF, WinForms, UWP) and which environments to target (Desktop, Universal, etc.). Pro

[2021-01-25 23:57] MartinZikmund opened #4020 "Question: Type of DataPackagePropertySetView.Thumbnail"
Is there a reason why `DataPackagePropertySetView.Thumbnail` property in UWP is a `RandomAccessStreamReference` instead of `IRandomAccessStreamReference`? Other similar properties in the same type have use `IRandomAccessStreamReference` instead and the `Thumbnail` property of `DataPackagePropertySet` uses `IRandomAccessStreamReference` as well. Is this just an oversight?

[2021-01-26 00:04] StephenLPeters commented on #4020
@MikeHillberg This isn't Winui but do you happen to know? @jeffStall is this a ProjectReunion issue?

[2021-01-26 00:07] StephenLPeters commented on #4015
Yes, these are visual states.  A control only supports states which are present in its template, so if your looking at the template that is an exhaustive list.  Also, we do encourage people to use ListView instead of ListBox where possible.

[2021-01-26 00:08] #4015 closed

[2021-01-26 00:10] StephenLPeters commented on #4014
How strange! @chrisglein FYI

[2021-01-26 00:11] StephenLPeters commented on #4013
@alwu-msft FYI

[2021-01-26 00:25] StephenLPeters commented on #3970
The FooT<Foo> pattern in cppwinrt is used for types defined in your IDL.  If you have a MyControl runtimeclass defined in your IDL which inherits from ContentControl You should be able to do something like

[code]
Should work. See some more documentation here: https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-apis#if-youre-authoring-a-runtime-class-in-a-windows-runtime-compone

[2021-01-26 00:34] StephenLPeters commented on #3959
@teaP Do you know if there are settings we can tweak on the default number formatter to get something a bit nicer here? Would this require exposing those settings on numberbox as well?

[2021-01-26 01:36] jeffstall commented on #4020
@MartinZikmund , can you specify the full type names for the members that you are talking about? For instance, if it is in the Windows.* namespace, this would be an OS design issue that can't really change. If it is in the Microsoft.* namespace, then we can pass this along as a potential fix that could be made.

[2021-01-26 02:03] ryandemopoulos commented on #3942
I appreciate the many questions here.  Beyond what Miguel wrote, allow me to address what’s been asked so far—and as always I’ll aim to be as transparent as possible:

@eleanorleffler @mrlacey @huoyaoyuan  @JanRajnoha  Yes, we are planning to ship a Preview 4 in early-mid Feb.  We decided to do this after last week’s Community Call, which is why I didn’t mentioned it on the call.  There’s three mo

[2021-01-26 04:38] Noemata commented on #3942
@ryandemopoulos , your remarks, more than any others give me a little piece of mind.  In particular your "probably a year or two" remark about of parallel UWP/WinUI development helps a lot.  I still think there needs to be a better answer than obfuscation for managed code developers, else Unity might start to grow even faster.  I really dislike how Unity is starting to fragment .Net.  I've had sim

[2021-01-26 04:45] sjb-sjb commented on #3648
I had a similar problem. In addition to adding the globbing pattern in a PRIResource tag, I had to go to each of the various .resw files in my project and verify that the build action was set to PRIResource. Even though all of the .resw files were added to the project in the same manner (by copying them into the project directory using FIle Explorer) some of them had the PRIResource build action w

[2021-01-26 04:46] llothar commented on #3942
Could you please consider publishing at least a few parts of your code as open source?
It doesn't need to be compileable into a useable artefact.
I just want to see the code of some controls so i can use it aside with the documentation to develop my app.
I'm an old time MFC C++ programmer and i don't find the documentation satisfying at the moment. So anything will help.

[2021-01-26 05:19] marb2000 commented on #3942
@llothar you can find the source code of some WinUI 2 controls which are very similar (identical?) to WinUI 3 at [here](https://github.com/microsoft/microsoft-ui-xaml/tree/master/dev/). For example, the [NavigationView](https://github.com/microsoft/microsoft-ui-xaml/tree/master/dev/NavigationView) control has a complete implementation in WinUI 2.x.

Also, you can find a couple of WinUI 3 demos in

[2021-01-26 05:26] oldoldman commented on #3970
I've checked my code carefully and found why. I just ```make<MyControl>()``` and does not add it to the visual tree (for example add as content of Page), so OnApplyTemplate does not get called. Very sorry for my careless. :)

[2021-01-26 05:26] #3970 closed

[2021-01-26 05:32] sjb-sjb commented on #2854
@mdtauk how do I call the Win32 pickers from a Desktop+WinUI app? The "Windows.Storage.Pickers" namespace is not on [the list of Windows Runtime APIs available to desktop apps](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-supported-api).

Seems like something that should be do-able. Personally I don't need anything beyond what UWP offers.

[2021-01-26 06:15] codendone commented on #3954
The short summary of the cause is that the UDK library failed to properly call through to the OS dll when it should have, which resulted in it not accounting for OS changes on recent insider builds. An automated test was unfortunately missing for this, and a test was added with the fix.

FYI, we are planning to ship a Preview 4 in early-mid Feb., which will include the fix.

[2021-01-26 06:19] codendone commented on #3815
@gavinwilliams Yes, certainly a very unhappy situation. On the plus side, we are planning to ship a Preview 4 in early-mid Feb, which will have the fix.

[2021-01-26 06:41] mdtauk commented on #2854
I would assume its Project Reunion, as it will have to provide the security around the file access - this topic would be for the visual design and UX

[2021-01-26 07:45] MartinZikmund commented on #4020
This is in the `Windows.ApplicationModel.DataTransfer`. I was mainly curious if there was some reason behind it, or an accidental type mismatch, as I was porting the typ to Uno Platform and noticed this difference

[2021-01-26 07:50] alexdi220 opened #4021 "The Border with 1px thickness and corner radius are blurred"
**Describe the bug**
Hi, I've faced this issue due to a review of our designer. It is curiously that I didn't pay attention. The Border with BorderThickness=1 and CornerRadius is blurred (without CornerRaidus it's well). Take a look at the screenshots. Also, standard controls like TextBox or ComboBox have the same issue.
I have checked version 3.0.0-preview2.200713 and there is no issue here (look

[2021-01-26 07:52] StefanKoell commented on #3942
This alone, shows how little MS understands what the dev community really needs. I have talked with many devs who do desktop development and really everyone, without any exception agrees that the issue is **not that we WANT to use WPF**, the issue is that **we MUST use WPF** because UWP don't work for us. That's what's so frustrating.

I want compiled bindings. I want the better compositor and fas

[2021-01-26 11:04] JesperTreetop commented on #3942
I agree with @StefanKoell but I also think about it differently.

Metro/WinRT started out as its own thing and bifurcated all Windows software, few developers and users were comfortable with how it looked, felt and behaved, and then Microsoft attempted to bring their focus back to the desktop by taking WinRT kicking and screaming into UWP.

As a programmer and as a product developer, I appreciate

[2021-01-26 11:39] wbokkers commented on #3942
Thanks @marb2000 and @ryandemopoulos for answering some questions.
Are you willing to answer me as well on the state of these open issues regarding WinUI 3 for desktop:

**WebAuthenticationBroker not working**
https://github.com/microsoft/microsoft-ui-xaml/issues/3692

**Drag/Drop not working**
https://github.com/microsoft/microsoft-ui-xaml/issues/2715#issuecomment-733202320

**Execution Alias not

[2021-01-26 13:12] ivanicin opened #4022 "CommandBar items should show the label when collapsed if there is no other tooltip"
**Describe the bug**
`CommandBar `items should show the label as tooltip if there is no other tooltip when the `CommandBar `is collapsed.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use the code:
[code]
2. Run the app and place the pointer over 'Test'

**Expected behavior**

The app should show a tooltip 'Test'
**Screenshots**

**Version Info**

NuGet package version:
Micr

[2021-01-26 13:19] sjb-sjb commented on #2854
@mdtauk thanks for the comment. With Desktop+WinUI there are no security limitations, I believe. So, I am still trying to figure out: how can I call the Win32 pickers from Desktop+WinUI ?  Should be do-able currently ... I'm just new to the Desktop+WinUI programming environment.

[2021-01-26 15:43] stevenbrix commented on #4005
@StephenLPeters, yeah this does look like the same C#/WinRT issue.

[2021-01-26 15:52] stevenbrix commented on #3875
@Berkunath, could you convert the enum values to a list of string:

[code]

[2021-01-26 15:54] stevenbrix commented on #3888
Awesome, I'm glad to hear you are unblocked! I'll close this as a dupe of #3893 then :)

[2021-01-26 15:54] #3888 closed

[2021-01-26 16:14] Scottj1s commented on #4005
Yes, this looks like a duplicate of microsoft/CsWinRT#413

[2021-01-26 17:15] stevenbrix commented on #3692
Adding some folks who may know if this API works in Win32 or not. @MikeHillberg @jonwis @oldnewthing

[2021-01-26 17:25] carlos-zamora commented on #3183
Windows Terminal will probably get flagged for accessibility on this too.
CC @dhowett and @cinnamon-msft for visibility

[2021-01-26 17:26] wjk opened #4023 "Immediate crash on launch"
### Describe the bug
Any WinUI 3/Win32 app I run on my system crashes immediately on launch. In fact, it crashes so quickly that it causes the debugger process (msvsmon) to crash as well! I had to extract the stack trace from the dump file using WinDbg; it is included below.

### Steps to reproduce the bug
1. Install Windows build 21296. (I believe the problems started at about the time that this

[2021-01-26 17:48] huoyaoyuan commented on #4023
Duplicate of #3954

[2021-01-26 18:11] teaP commented on #3959
This didn't readily repro in the test app, so I'd have to dig a bit deeper.

[2021-01-26 21:13] crutkas commented on #3959
[TestUxForPlugin.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5876113/TestUxForPlugin.zip)

Here is the app i used to find the issue.

[2021-01-26 22:52] dotMorten opened #4027 "Feature Proposal: Layout Anchors"
iOS has a great concept of layout anchors. You can for instant link control A's top anchor to the bottom of control B. So if control A moves down, control B's top will move down with it.
This is a bit like the relative layout panel, but without the need for a relative layout, and provides a lot of additional flexibility.
And it becomes a lot more advanced once you start exposing additional anchors

[2021-01-27 00:32] ranjeshj commented on #4027
@chrisglein @MikeHillberg as FYI.

[2021-01-27 00:33] ranjeshj commented on #4023
@wjk closing this issue since this is a dup.

[2021-01-27 00:33] #4023 closed

[2021-01-27 00:39] ranjeshj commented on #4021
@codendone as FYI

[2021-01-27 00:45] dotMorten commented on #2942
Here's a more realistic end-to-end app that reproduces the problem:
Clone the `winui` branch of `https://github.com/Esri/arcgis-runtime-samples-dotnet`

Open and run the `src/WinUI/ArcGISRuntime.WinUI.Viewer.sln` solution (https://github.com/Esri/arcgis-runtime-samples-dotnet/blob/winui/src/WinUI/ArcGISRuntime.WinUI.Viewer.sln)
When running it, switch between the various samples, and notice that w

[2021-01-27 00:53] sjb-sjb opened #4030 "Discussion: Missing classes and types in Microsoft.Foundation"
Currently many of the WinUI classes and methods depend directly on types from Windows.Foundation. An example would be TypedEventHandler, and I am there are many other examples.

It would be more logical to eliminate this dependency on Windows by putting the types into Microsoft.Foundation. After all, the objective is to separate the UI classes from Windows.

Is it planned to make that change, or t

[2021-01-27 01:00] mdtauk commented on #4027
How different is this to the RelativePanel, which also does positioning based on other elements in the panel?

[2021-01-27 01:33] sjb-sjb commented on #2609
@MikeHillberg I did it with a TaskCompletionSource, which is a bit lighter-weight than Semaphore.

As a philosophical comment, it seems funny to have the Windows.UI.Core namespace mixed up in the signatures in WinUI.

[2021-01-27 01:34] mdtauk commented on #3549
It may also be worth mentioning, the inverted Tooltips have not been added yet with the rest of the visual refresh... @YuliKl

[2021-01-27 02:28] mdtauk commented on #4010
Here is how the updated CalendarDatePicker would look with this new CalendarView control proposal

![image](https://user-images.githubusercontent.com/7389110/105934050-59c59e80-6047-11eb-9302-d4b7f3491e1f.png)

[2021-01-27 04:09] dotMorten commented on #4027
@mdtauk It would negate the need for relative panel (and be able to be used anywhere), but the main difference is in the first example I provided, where a control could have multiple custom anchors in addition to just the edges.

[2021-01-27 04:40] huoyaoyuan commented on #4030
This should be non-goal. The UI always dependents on Windows. The goal is to dependent on **a fixed version of Windows** with different versions of UI.

[2021-01-27 05:01] mdtauk opened #4032 "Proposal: Round(ed) Button"
# Proposal: Round(ed) Button

## Summary

![image](https://user-images.githubusercontent.com/7389110/105944523-6227d480-605b-11eb-9875-e5b6c3f7314a.png)

This would be a button which overrides it's ``CornerRadius`` value to always create a rounded "pill" like appearance

## Rationale

* Based on Button, except the CornerRadius is determined to always be half the height of the button as rendered
*

[2021-01-27 05:57] huoyaoyuan commented on #4032
It definitely should. Creating new control for this is opposed to the spirit of xaml that don't create new controls for duplicated functionality with just styling.

Styling system should be improved to make that possible.

[2021-01-27 06:06] mdtauk commented on #4032
Yea the idea of duplicating or even just Deriving new controls for one behaviour change feels bad to me in general.  Ideally there would be a property which would override the CornerRadius which updates anytime the control's content updates, or rendering size changes.  Could be as simple as an ``IsRounded`` or ``IsCircle``

The styles can set the CornerRadius, however styles do not compute their v

[2021-01-27 06:11] huoyaoyuan commented on #4032
I've met other issues that requires updatable binding to ActualSize. This could be the point to improve.

[2021-01-27 06:47] ssaran046 opened #4033 "System.ArgumentOutOfRangeException: 'Not a valid Win32 FileTime.' for formatting default DateTimeOffset value"
**Describe the bug**

In WinUI Desktop, ArgumentOutOfRangeException is thrown when formatting the default value of DateTimeOffset. Please find the code details below,

DateTimeOffset date = new DateTimeOffset();
DateTimeFormatter formatter = new  DateTimeFormatter("month");
string monthName = formatter.Format(date);

**Steps to reproduce the bug**

Run the sample with the below code,

DateTimeOffs

[2021-01-27 08:18] Marv51 commented on #4006
This is even more relevant now that the team has announced a preview 4. Please communicate using the published documents.

[2021-01-27 08:23] Marv51 commented on #3675
Is there something out there how to do this? I can't find anything. @anawishnoff do you know?

[2021-01-27 08:59] Jaiganeshkumaran opened #4034 "Proposal: Use standard button order in ContentDialog"
# Proposal: Use standard button order in ContentDialog
For a long time, Windows has used a system where the primary button is kept first which is not the standard on most other platforms.

## Summary

To be consistent with the web and other platforms, consider changing the button order in ContentDialog from Primary, Secondary, and Close to Secondary, Primary, and close.

## Rationale

* Users expe

[2021-01-27 10:15] ssaran046 opened #4035 "Combobox SelectedValue property not working"
**Describe the bug**

I'm facing the same issue already reported https://github.com/microsoft/microsoft-ui-xaml/issues/3875.

Additionally, The `SelectedValue` property binding is not working for the framework type. So the Combobox item is not selected.

_Sample_: [ComboBoxwithEnumvalues.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5879246/ComboBoxwithEnumvalues.zip)

**Steps to repro

[2021-01-27 10:54] huoyaoyuan commented on #4035
Also #3339

[2021-01-27 10:54] ssaran046 opened #4036 "Exception is thrown when performing touch interaction on ColorSpectrum control"
**Describe the bug**

Below Exception is thrown when performing touch interaction on ColorSpectrum control or window that contains ColorSpectrum control and close the window.

Exception thrown at 0x7770B373 (ntdll.dll) in App2.exe: 0xC0000005: Access violation writing location 0x00000014.

_Sample_: [ColorSpectrumException.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5879611/ColorSpec

[2021-01-27 10:59] huoyaoyuan commented on #4034
Primary button first is **standard on Windows**, with a history much longer than mobile systems and maybe some desktop environment.

WinUI is **native Windows component** and should follow Windows everywhere.

[2021-01-27 12:02] niels9001 commented on #4032
+1 for this ask.

This style is also coming back a lot with Windows 10X and even the new News & Weather UX, so it would be nice to have a default style / control for it.

![image](https://user-images.githubusercontent.com/9866362/105988462-f025ae80-609f-11eb-9739-e70e086e32ee.png)

[2021-01-27 12:32] huoyaoyuan commented on #4033
Related: #3889

[2021-01-27 12:39] huoyaoyuan commented on #3889
The marshaling is performed in CsWinRT:

https://github.com/microsoft/CsWinRT/blob/5351b4bab3148715969529d358e07f864f43ac8d/src/WinRT.Runtime/Projections/SystemTypes.cs#L65

which directly calls `ToFileTime()` in CLR.

1601-1-1 0:00 UTC is the zero point of file time. I think it should be asked CLR team "why UWP CLR allowed this".

[2021-01-27 13:46] axcadsd commented on #920
The current pure white / pure black themes look pretty bland/ugly to me. Hopefully the sun valley refresh improves the themes.

[2021-01-27 14:57] anawishnoff commented on #4006
Thanks @Marv51 - we have been working on this, expect to see an updated roadmap within the next day or two.

[2021-01-27 15:28] anawishnoff commented on #4027
I think this is a great idea - this would create a ton of flexibility in layouts and make it easier to create more complex layouts. I also like the idea of internal elements having anchors, which would definitely help with animation, but also would generally provide new functionality in terms of aligning things exactly the way you want them.

Anchors may also provide some cool stuff in the way of

[2021-01-27 15:54] anawishnoff commented on #3675
@Marv51 - this is a great question, and I know that this is a gap in our documentation. While WinUI 3 is still in preview, we're recommending creating new WinUI 3 projects rather than adding it to an existing project. This is why there aren't any docs on adding WinUI 3 to an existing app yet.

Our local WinUI 3/Desktop expert @marb2000 may have some more detailed advice here.

[2021-01-27 16:51] mrlacey commented on #179
The title of this issue specifically mentions UWP but is it reasonable to assume this issue is also being used to track the implementation of Validation support for WinUI for Desktop too?

If so, can it also be assumed (based on this being in the freezer) that there's won't be validation support in version ReunionV0.5?

When might validation support be available? reunion-v0.8? reunion-v1.0?  somet

[2021-01-27 16:57] ranjeshj commented on #3284
I'm reverting the fix since it regressed TextBox. Reopening this issue since the change is being reverted.

[2021-01-27 18:25] ChewWorker commented on #2486
I just checked this with a recent windows build with a 144Hz monitor.  I tried a variety of different scenarios including the blank sample app not in focus and hovering over the button.  I couldn't reproduce the issue.  If this is still reproing we need more information to be able to reproduce your configuration or get a trace from this machine/configuration.

Thanks!

[2021-01-27 18:40] chrisglein commented on #4014
@tvanderstad  Thanks for logging this issue and for the video repro. Agreed, very strange.
Was this on WinUI3 or WinUI2/OS XAML?

[2021-01-27 18:41] Yen commented on #2486
@ChewWorker Would you be able to see if you can reproduce this on a machine with both a 144hz monitor and a 60hz monitor attached at the same time? This is the only other thing I can think of that has caused issues for me in the past as far as high refresh rate goes.

[2021-01-27 18:43] chrisglein commented on #3971
The information you need is probably available in a stowed exception or some internal data structures, but it doesn't surface through the error you're seeing. Agreed this could be better. After WinUI3 has transitioned to open source and we start looking at debugging tools/extensions this seems like a candidate for improvement.

[2021-01-27 18:49] chrisglein commented on #3557
Thanks for the extra data, we really appreciate it.

For what it's worth this isn't necessarily true:

WinUI3 isn't guaranteed to have the same performance profile as UWP XAML. There are places where it may be better, places where it'll be worse, and places where it is the same. But moving the platform out of the OS into separate infrastructure will cause changes. We're working on measuring this a

[2021-01-27 19:01] chrisglein commented on #3494
Looks like Ranjesh has confirmed that this doesn't repro outside of an islands context, so it doesn't seem to be an issue with that control. Not sure how this is influenced by being in an island. @Austin-Lamb what's your take on what would be different here?

[2021-01-27 19:32] chrisglein commented on #3336
This assumption isn't going to be universally true:

While of course there is a desire to make WinUI3 the clear choice, the reality is that while the project is in transition there are going to be gaps. The closer comparison is going to be against UWP XAML rather than WPF, as WinUI3's origins are in UWP XAML. It'd be helpful to see a comparison of this scenario against UWP XAML to see if the incre

[2021-01-27 20:52] gabbybilka commented on #3967
@mdtauk Thank you for opening up and creating this comprehensive proposal and designs!

This is definitely a feature on our radar to include in an InfoBar v2. We aimed to add an Overlay mode as part of the initial InfoBar but decided to focus on the inline usecases for the first iteration and make sure we designed the right architecture to support stacking the cards. In general, I agree with the n

[2021-01-27 21:07] mdtauk commented on #3967
I think the strip of colour is bolder and stands out, almost like it's calling for your attention.  The text being on the neutral theme colours also solves any issues with legibility.

The strip of colour leads the direction of the animation, which helps draw the eye.

The Attention colour was present in the recently Added theme resources, so I included it for the sake of completeness

[2021-01-27 21:28] #4016 closed

[2021-01-27 21:37] anawishnoff commented on #2699
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-27 21:37] anawishnoff commented on #2704
Confirming - this bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-27 21:42] chingucoding commented on #3284
@ranjeshj I think you can close this again since #4037 won't revert the changes to AutoSuggestBox anymore.

[2021-01-27 21:57] anawishnoff commented on #2942
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-27 21:57] anawishnoff commented on #3695
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-27 21:58] anawishnoff commented on #3729
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-27 22:01] anawishnoff commented on #2931
It looks like we weren't able to repro this internally, so I'll be closing this issue. If this issue still persists in WinUI 3 Preview 4 (to be released in early February), please re-open this issue.

[2021-01-27 22:01] #2931 closed

[2021-01-27 22:05] crramirez commented on #2704
Wiiiii, thanks a lot for letting us know.

[2021-01-27 22:07] #2942 closed

[2021-01-27 22:10] #3284 closed

[2021-01-27 22:33] dotMorten commented on #2942
Awesome! Thank you! This was my #.1 issue.

[2021-01-27 22:51] mdtauk commented on #3967
The shadow and subtle border may be enough to help the more subtle backgrounded InfoCards stand out from the surface and content beneath it.

[2021-01-27 22:58] mandalorianbob commented on #3797
Okay so I found the PropertyMetadata.Create function with the factory delegate. As pointed here: https://devblogs.microsoft.com/oldnewthing/20191002-00/?p=102950 this is incorrect and doesn't work as expected because the factory delegate is called constantly.

Thankfully, Raymond posted the correct solution. https://devblogs.microsoft.com/oldnewthing/20191003-00/?p=102959

It keeps the Dependency

[2021-01-27 22:58] #3797 closed

[2021-01-28 00:06] StephenLPeters commented on #4036
@ssaran046 do you know if this issue is exclusive to Winui3 or if it reproduces with winui2 as well?

[2021-01-28 00:20] StephenLPeters commented on #4033
Agreed.

[2021-01-28 00:20] #4033 closed

[2021-01-28 00:21] StephenLPeters commented on #3889
@Scottj1s @stevenbrix FYI

[2021-01-28 00:46] alwu-msft commented on #514
This is fixed both in WinUI 3 and UWP XAML (starting with the 19041 SDK).

[2021-01-28 00:46] #514 closed

[2021-01-28 01:52] llongley commented on #2480
This looks like it's fixed in the latest preview version.  Let me know if that's not the case.

[2021-01-28 01:52] #2480 closed

[2021-01-28 02:30] Shomnipotence commented on #4032
My God，NOOOOOO@@！！！！

[2021-01-28 02:33] tvanderstad commented on #4014
I don't know, how do I find out?

[2021-01-28 04:21] ssaran046 commented on #4036
@StephenLPeters not sure about winui2

[2021-01-28 04:30] mageshsankar commented on #3721
Hi Team,

Is there any workaround solution to resolve the binding issue in custom control(CustomPicker) itself instead of using x:bind in application level.

[2021-01-28 07:28] zed220 commented on #3971
It would be great for this functionality to appear!

[2021-01-28 09:41] hupo376787 commented on #4002
Hi, guys. Any ideas? Thanks.

[2021-01-28 12:15] JacqueSatan opened #4045 "Application crashes on start with 0xC0000602"
**Describe the bug**

Hello, I am trying to execute/debug my WinUI 3 app. It does compile, but the following error appears instantly when I try to run the app:

    Unhandled exception at 0x00007FFAB70351F9 (combase.dll) in WinUITest.exe : 0xC0000602:  A FailFast exception has occurred. The exception handlers will not be called and the process will end immediately.

The code shown by Visual Studio

[2021-01-28 12:39] huoyaoyuan commented on #4045
Duplicate of #3954 and #4023

[2021-01-28 16:07] JacqueSatan commented on #4045
thanks ans sorry for disturbing

[2021-01-28 16:07] #4045 closed

[2021-01-28 16:45] anawishnoff commented on #3954
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-28 16:45] anawishnoff commented on #3815
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-28 18:35] StephenLPeters commented on #3797
@MikeHillberg or maybe even @oldnewthing FYI

[2021-01-28 19:19] beervoley opened #4046 "ScrollBar Thumb BorderThickness Binding"
**Describe the bug**

At this moment the Thumb StrokeThickness is binded to StaticResource. It shouldn't be the case and should bind to TemplatedParent Border Thickness. In order to do that a converter has to be specified that will convert thickness to double. The binding change is in [this PR](https://github.com/microsoft/microsoft-ui-xaml/pull/4031))
**Expected behavior**

When border thickness

[2021-01-28 19:43] stmoy commented on #4034
Hi @Jaiganeshkumaran - thanks for filing this issue. You're correct to observe that the order of the buttons in dialogs are different on other platforms compared to Windows. This is a multi-faceted issue, but it boils down to what @huoyaoyuan mentions: that the order of the dialog buttons in Windows should be consistent across Windows.

Part of the reason is history (ie. long-time Windows users ar

[2021-01-28 19:43] #4034 closed

[2021-01-28 19:56] beervoley opened #4047 "ComboBox text color issue"
**Describe the bug**

Wrong default text color displaying in Dark mode in editable combobox. It's displaying TextFillColorSecondaryBrush (placeholder color) instead of Primary text brush. If a color (that's not just black or white, red for example) is set, then it's being displayed properly.
On top of that, when we switch back from Dark Mode to Light Mode - that Secondary text color stays unchange

[2021-01-28 20:03] alwu-msft commented on #4013
@sjb-sjb Thanks for your report! From the exception call stack, this appears to be an issue residing in the VS Project System rather than WinUI. Could you open a new issue in [dotnet/project-system](https://github.com/dotnet/project-system) so that the appropriate team can take ownership of the investigation? I suspect that they'll want additional details about the repro as well (e.g. how consiste

[2021-01-28 21:17] anawishnoff commented on #3337
Hi, it looks like we couldn't reproduce this bug, so I'm going to close this issue. If this bug still persists in Preview 4 (which will be released in early February), please re-open the issue and let us know. Thanks!

[2021-01-28 21:17] #3337 closed

[2021-01-28 22:01] JesseCol commented on #3587
Thanks BorzillaR!

It should work if you scope the "SearchRoot" to the relevant XamlRoot.Content with TryNextFocus like this:

[code]

In the future the platform and app may support multiple "fragments" of XAML on the same thread.  This code will keep working if that happens.  The "XamlRoot" object above is basically a handle to the fragment of XAML that contains the Button.

Granted, we need a be

[2021-01-28 22:01] #3587 closed

[2021-01-29 01:11] chrisglein commented on #3557
One addition to the stack in this case is going to be CsWinRT. There's still analysis of that happening elsewhere, which could uncover potential improvements with events specifically (e.g. [this issue](https://github.com/microsoft/CsWinRT/issues/648))

[2021-01-29 02:00] beervoley commented on #4047
This only happens if the color set for focused state of the textbox is a shade of grey.
![image](https://user-images.githubusercontent.com/21356912/106221477-8e923c80-6192-11eb-9bdd-5e8fac9a18ce.png)
ContentElement.Foreground is what controls the color.

I'm not sure why that happens and by setting the focused color on ContentElement itself (as property when defining) seems to do the trick.

[2021-01-29 03:04] codendone commented on #3337
Slight correction: we were able to repro this, but then the problem stopped reproing recently and we aren't sure exactly which change fixed it. But we believe this is fixed for Preview 4.

[2021-01-29 04:15] lorisobi commented on #3862
Probably the we could also talk here about an optimized inkbar design, to fit the new winui style

[2021-01-29 04:33] lorisobi commented on #3862
I updated the initial comment with a new optimized image - but at the moment I kept the layout itself. Maybe we should also talk about changing the Layout

[2021-01-29 04:44] lorisobi opened #4050 "Proposal: Redesign commandbar to fit the new style"
# Proposal: Redesigned commandbar to fit the new style
Change the design of the commandbar and optimize some of the strange layout parts of it

## Summary
As every other control the commandbar also needs some love to fit the new styling. I am unsure where changes would be also needed, but I see styling problems for the AppBarButtons and the flyout

![image](https://user-images.githubusercontent.co

[2021-01-29 04:51] lorisobi opened #4051 "Discussion: We should talk about color"
![image](https://user-images.githubusercontent.com/28399150/106232867-5f60e700-61f5-11eb-8987-c7d0c13085cd.png)
The Fluent Web UI uses colors for many elements and sometimes even for buttons and flyouts which is a bit inconsistent.
With the new proposed WinUI style color isn't implemented that well. We should discuss, whether we use (accent) colors to signalize something (Importance or Selection).

[2021-01-29 05:02] lorisobi opened #4052 "Proposal: Change the styling of the AppBarToggleButton"
# Proposal: Change the styling of the AppBarToggleButton

## Summary
![image](https://user-images.githubusercontent.com/28399150/106233305-7a802680-61f6-11eb-9388-ea7fa2eca338.png)
AppBarButtons styling is low-contrast-y and not anyhow fitting fluent design so it should be redesigned. There are multiple options for this: I added my Ideas below:

![image](https://user-images.githubusercontent.com/2

[2021-01-29 05:11] mdtauk commented on #3862
Having a grabbable and dockable Ink Toolbar, within an Ink Canvas or other panel, would be a nice touch.

![image](https://user-images.githubusercontent.com/7389110/106234272-6b967580-61f0-11eb-8cf1-583edfd9543c.png)

[2021-01-29 05:14] codendone commented on #2482
I believe this was fixed in Preview 3. If you still repro on Preview 3 or the upcoming Preview 4, please reactivate.

[2021-01-29 05:14] #2482 closed

[2021-01-29 05:32] lorisobi commented on #3862
yep. maybe it could even align vertically if vertically placed

[2021-01-29 05:51] mdtauk commented on #3862
![image](https://user-images.githubusercontent.com/7389110/106237088-f6c63a00-61f5-11eb-92a9-4376b2f8e5f9.png)

[2021-01-29 06:05] codendone commented on #3443
This works in Preview 3.

[2021-01-29 06:05] #3443 closed

[2021-01-29 06:08] ssaran046 opened #4053 "ColorSpectrum thumb moves slowly"
**Describe the bug**

ColorSpectrum thumb moves slowly when I write a code on the `ColorChanged` event.

Code,

_XAML_

**\<ColorSpectrum ColorChanged="ColorSpectrum_ColorChanged"/>**

_CSharp_

**private void ColorSpectrum_ColorChanged(ColorSpectrum sender, ColorChangedEventArgs args)
{
             Debug.WriteLine("It takes time to move");
}**

**Steps to reproduce the bug**

Steps to reproduce

[2021-01-29 06:38] MoueenShaik opened #4054 "Not able to use the Microsoft.Toolkit.Uwp.Notifications package in win ui 3 preview"
**Requirement**: I want the implement windows toast messages in WINUI3 application,
 For this requirement, I am using Microsoft.Toolkit.Uwp.Notifications package, But unfortunately after adding this package I am getting below error's

**Error	CS0433	The type 'ToastNotification' exists in both 'Microsoft.Windows.SDK.NET, Version=10.0.18362.6, Culture=neutral, PublicKeyToken=null' and 'Windows.Found

[2021-01-29 07:07] Jaiganeshkumaran commented on #4034
@stmoy What's this then? Please tell everyone to follow the guidelines
![திரைப்பிடிப்பு (232)](https://user-images.githubusercontent.com/45227503/106243023-a15a4f00-622e-11eb-8632-9a87c3be3ca1.png)

[2021-01-29 07:31] huoyaoyuan commented on #4054
From which channel are you using WCTK, 7.0 or 8.0?
Only 8.0 supports WinUI 3, and it is published into another feed other than nuget.org. See https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3295.

[2021-01-29 08:01] Berkunath opened #4055 "Splash screen not displayed for WinUI Desktop"
**Splash screen not displayed for WinUI Desktop**
I have WinUI Desktop application and I would like to display the Splash screen before content of Window loads. But splash screen not displayed even we have Splash screen Images. Currently empty screen displays for 2 to 3 seconds.

**Expected behavior**
Splash Screen should display on start up of the application

**Version Info**
[Microsoft.WinUI 3.

[2021-01-29 08:05] Berkunath opened #4056 "How to change the Window Icon in WinUI Desktop"
**How to change the Window Icon in WinUI Desktop**
I have WinUI Desktop application and I would like to change the Window Icon which displayed at top left corner of the Window. I could not find any Icon property in Window to change the icon.

**Expected behavior**
Option to change the Window Icon

**Screenshots**
![image](https://user-images.githubusercontent.com/74045266/106248242-b935d100-6236-1

[2021-01-29 08:31] KarthikRajaAKR opened #4057 "Element binding not working in interactivity behavior of WinUI desktop project"
**Describe the bug**
I'm trying to use ChangePropertyAction trigger using [Microsoft.Xaml.Behaviors.WinUI.Managed](Microsoft.Xaml.Behaviors.WinUI.Managed) package, but trigger not working.

So I have checked the issue by porting [XamlBehavior](https://github.com/microsoft/XamlBehaviors/tree/master/src/BehaviorsSDKManaged) code into my testing project and found that element binding value not update

[2021-01-29 10:08] hoffe86 commented on #2042
Any updates on this BUG?
I have also this issue with "Release|x86"

[2021-01-29 15:13] anawishnoff commented on #3641
This bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-29 15:14] anawishnoff commented on #3698
Confirming that this bug has been fixed, and the fix will be available in our next release - WinUI 3 Preview 4. We're hoping to ship this preview release in early February. Thanks!

[2021-01-29 15:16] anawishnoff commented on #2829
This functionality was provided with WinUI 3 Preview 3, so I'm going to close this issue. Feel free to re-open and let us know if the issue persists.

[2021-01-29 15:16] #2829 closed

[2021-01-29 15:18] anawishnoff commented on #2949
This was fixed in WinUI 3 Preview 3, so I'm going to go ahead and close this issue. Feel free to re-open and let us know if the issue still persists.

[2021-01-29 15:18] #2949 closed

[2021-01-29 15:18] anawishnoff commented on #3004
This was fixed in WinUI 3 Preview 3, so I'm going to go ahead and close this issue. Feel free to re-open and let us know if the issue still persists.

[2021-01-29 15:18] #3004 closed

[2021-01-29 15:19] anawishnoff commented on #3230
This was fixed in WinUI 3 Preview 3, so I'm going to go ahead and close this issue. Feel free to re-open and let us know if the issue still persists.

[2021-01-29 15:19] #3230 closed

[2021-01-29 15:19] anawishnoff commented on #3315
This was fixed in WinUI 3 Preview 3, so I'm going to go ahead and close this issue. Feel free to re-open and let us know if the issue still persists.

[2021-01-29 15:19] #3315 closed

[2021-01-29 15:20] anawishnoff commented on #3589
This was fixed in WinUI 3 Preview 3, so I'm going to go ahead and close this issue. Feel free to re-open and let us know if the issue still persists.

[2021-01-29 15:20] #3589 closed

[2021-01-29 16:06] crramirez commented on #3698
Wiiiiiii

[2021-01-29 17:33] asears commented on #1826
Seeing similar regression issue.  Is there a fix planned for this or flag to adjust behavior?
StringBuilder should handle this use case?

https://docs.microsoft.com/en-us/dotnet/api/system.environment.newline?view=net-5.0
*NewLine is automatically appended to text processed by the Console.WriteLine and StringBuilder.AppendLine methods.*

[2021-01-29 18:57] chingucoding commented on #3900
Would you like to take a look at this @carlos-zamora ? The issue is very likely related to this [section](                                                <RowDefinition x:Name="FooterItemsRow" Height="Auto" MinHeight="{ThemeResource NavigationViewItemOnLeftMinHeight}"/> ) where we set the minimum height.

[2021-01-29 19:33] stmoy commented on #4034
@Jaiganeshkumaran - thanks for bubbling this up. Even though our intent is to unify the button order across all Windows experiences, not every team does the right thing - and sometimes, there are discrepancies within the same experience.

For example, the website has the right order:

![image](https://user-images.githubusercontent.com/25991996/106317967-ec229980-6223-11eb-92f8-6782111e8586.png)

B

[2021-01-29 22:32] carlos-zamora commented on #3900
I'm curious what would happen if I remove `MinHeight`. If you/somebody can direct me to resources on how to build/test this, I'd be down to give it a shot.

[2021-01-29 22:53] chingucoding commented on #3900
Of course, you can find the building steps here: https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/developer_guide.md#building-the-repository

Regarding removing `MinHeigh`, you will need to look at `dev/NavigationView/NavigationView.xaml` (line 462). Best case would be that we can just remove the line and everything works fine. In case you want to run to check if that broke somethin