[2022-03-01 19:54] StephenLPeters commented on #6475
@gegao18 and @codendone FYI, a little more info about this issue.

[2022-03-01 20:05] #6506 closed

[2022-03-01 20:15] StephenLPeters commented on #6502
Your analysis makes sense to me, another solution would be to navigate on key up instead of key down, and handle that event.

[2022-03-01 20:19] StephenLPeters commented on #6501
@FrayxRulez I don't reproduce this issue. I suspect there is more repro steps needed.  What scale factor are you running at? what version of win 11 are you using? Thanks

[2022-03-01 20:20] StephenLPeters commented on #6500
@chigy FYI, can you suggest the proper behavior?

[2022-03-01 20:24] StephenLPeters commented on #6499
@llongley and @ranjeshj FYI

[2022-03-01 20:27] StephenLPeters commented on #6498
@codendone any idea of a root cause?

[2022-03-01 20:33] StephenLPeters commented on #6497
@gegao18 and @codendone FYI

[2022-03-01 20:43] asklar commented on #6451
WinUI3 does not support UWP apps in stable (which loosely translates to corewindow + appcontainer support); If you created the project with an old version of WinUI 3 (the UWP template) then it won't work going forward. You can read more about appcontainer here:
- https://docs.microsoft.com/en-us/cpp/build/reference/appcontainer?view=msvc-170
- https://docs.microsoft.com/en-us/windows/uwp/get-start

[2022-03-01 20:50] SecondThundeR opened #6776 "WinUI Design Toolkit Bug: Wrong Windows logo color on Guidance page"
## WinUI Toolkit Bug Report

---

**Name of component or part of Toolkit:** Dark Theme Colors Guide Page

**Describe the bug:** The Windows logo in the header on the Dark Theme Colors page is set to the wrong color

<img width="733" alt="image" src="https://user-images.githubusercontent.com/36604233/156246231-3dacd5f8-2e4f-479a-ba7a-b1fe3d9afe43.png">

**Version Info:** 2.7 (2.28.22)

**Additional

[2022-03-01 21:10] StephenLPeters commented on #6496
Hmm, AnimatedIcon is infact a Windows.UI.Xaml.Controls.IconElement.  It does that in a round about way by internally deriving from PathIcon (since IconElement doens't have a public constructor) but I don't think that is the cause of this issue..... I suspect this is a codegen issue with x:Bind, could you try changing the x:Bind to Binding and see if that resolves the issue? @kengwang

[2022-03-01 21:13] StephenLPeters commented on #6493
@ojhad and @karenbtlai thoughts on a root cause?

[2022-03-01 22:02] StephenLPeters commented on #6491
@chigy the current NavigationView design doesn't support anything but clipping very long text, which is much easier to hit at 225% scale.  Does this need to be updated?

[2022-03-01 22:04] StephenLPeters commented on #6488
@bpulliam and @JesseCol this sounds familiar... thoughts?

[2022-03-01 22:12] StephenLPeters commented on #6485
@ryandemopoulos and @MikeHillberg

[2022-03-01 22:13] StephenLPeters commented on #6484
I think this is a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/6404

[2022-03-01 22:13] #6484 closed

[2022-03-01 22:26] StephenLPeters commented on #6483
@gegao18 or @stmoy is this an understood issue? I don't see anything obviously wrong.

[2022-03-01 22:31] StephenLPeters commented on #6482
This issue has been rosolved.

[2022-03-01 22:31] #6482 closed

[2022-03-02 00:07] EugenM88 commented on #6472
Excelent news! Thank you!

[2022-03-02 00:17] StephenLPeters commented on #6481
Microsoft.UI.Xaml.Controls.StylesVersion is a preview API... is that the cause of the exception? can you try switching to ControlsResourcesVersion?

[2022-03-02 00:24] StephenLPeters commented on #6534
@pratikone and @bpulliam is this possible today?

[2022-03-02 00:33] StephenLPeters commented on #6533
@vijayarasan do you have to put the converter into the page resources if your creating and setting it from code?  @RealTommyKlein is vijayarasan missing something?

[2022-03-02 00:39] RealTommyKlein commented on #6533
I think the issue is the use of a `Binding` in a Style Setter, which isn't supported; see the docs here: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.setter?view=winrt-22000#migration-notes

Is it possible for the converter to run before applying the Setter/Style, and setting the outcome of the converter as the Setter's value instead of a `Binding`?

[2022-03-02 00:43] StephenLPeters commented on #6532
Your code says TabViewAddTabButtonClick**Event**Args but the error message says TabViewAddTabButtonClickArgs, do you have a typo?

[2022-03-02 00:45] StephenLPeters commented on #6531
@gegao18 and @codendone this is a pixel snapping issue. This issue has come up a lot and I wonder if we could consider a more wholistic solution than twiddling the numbers in Winui3.

[2022-03-02 00:46] StephenLPeters commented on #6530
@MikeHillberg FYI

[2022-03-02 00:52] StephenLPeters commented on #6528
Yeah, this is a pretty confusing issue.  The problem is that because the Expander control is authored in the winui2 package we don't have to include its style in XamlControlsResources.  It is the metadata defined default style for the control so any style that is not explicitly based on some other style will be based on the one with author in Winui2.  With the other controls in your example, they

[2022-03-02 00:52] #6528 closed

[2022-03-02 01:02] StephenLPeters commented on #6526
This sounds like a xaml compiler issue to me, I think custom enums can be a bit tricky to set up if I remember right @RealTommyKlein thoughts?

[2022-03-02 01:06] StephenLPeters commented on #6525
@SPG-144 your markup defines the click handler as Test_Click but the code has SomeButton_Click, is that the issue?

[2022-03-02 01:08] StephenLPeters commented on #6523
@MikeHillberg @ryandemopoulos thoughts?

[2022-03-02 01:10] StephenLPeters commented on #6520
@evelynwu-msft FYI

[2022-03-02 01:14] StephenLPeters commented on #6519
@pratikone FYI

[2022-03-02 01:18] StephenLPeters commented on #6518
Present in winui2 as well.  @karenbtlai I think you may have looked into this in the past, right?

[2022-03-02 01:20] StephenLPeters commented on #6516
BreeceW is correct, this is how we recommend

[2022-03-02 01:20] #6516 closed

[2022-03-02 01:21] StephenLPeters commented on #6515
@pratikone FYI

[2022-03-02 01:24] StephenLPeters commented on #6511
@ojhad this suggestion seems like the right behavior, do you agree?

[2022-03-02 01:24] #6538 closed

[2022-03-02 01:26] StephenLPeters commented on #6510
@gegao18 thoughts on whats going on here?

[2022-03-02 01:29] StephenLPeters commented on #6508
@zyont1000 is this issue unique to cppwinrt?

[2022-03-02 01:31] StephenLPeters commented on #6507
@codendone and @gegao18 FYI

[2022-03-02 01:54] FrancisKoo commented on #6393
@StephenLPeters @RealTommyKlein
Thanks so much  for your reply. I add it in my IDL and build successful. But it still crash when I open the Teachingtip in C++ unpackaged app. It works good in C++ packaged app.

[2022-03-02 02:29] evelynwu-msft commented on #6522
This should be reported through Visual Studio's [Send Feedback](https://developercommunity.visualstudio.com/report?entry=problem) menu option.

[2022-03-02 04:04] codendone commented on #6507
[Internal issue](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/35195843)

[2022-03-02 12:59] sjb-sjb opened #6777 "TextBox selection font"
Need a property on the TextBox to set the color of the font in selected text. The SelectionHighlighColor sets the background color for the selected text, but there does not seem to be a way to set the font / foreground color.

[2022-03-02 13:33] harvinders opened #6778 "Changing the theme of the application programmatically is resetting the `TopNavigationViewContentGridCornerRadius` to `0 0 0 0`"
### Describe the bug

Changing the theme of the application programatically is resetting the `TopNavigationViewContentGridCornerRadius` to `0 0 0 0`

### Steps to reproduce the bug

1. Create a XAML something like below

[code]

2. the view looks something like
![image](https://user-images.githubusercontent.com/8557046/156370198-46552305-ecb7-40b8-b827-0f874b2192a2.png)

3. Change the theme to dar

[2022-03-02 15:07] chingucoding commented on #6493
I would like to take a look at this.

[2022-03-02 17:15] StephenLPeters commented on #6560
@RBrid do you have ideas?

[2022-03-02 17:22] StephenLPeters commented on #6558
@RealTommyKlein FYI

[2022-03-02 17:28] #6556 closed

[2022-03-02 17:29] StephenLPeters commented on #6555
@ranjeshj do you know what API's are available here?

[2022-03-02 17:32] StephenLPeters commented on #6554
@ranjeshj FYI

[2022-03-02 17:35] StephenLPeters commented on #5370
@marb2000 FYI, we also have a duplicate issue here: https://github.com/microsoft/microsoft-ui-xaml/issues/6553

[2022-03-02 17:36] #6553 closed

[2022-03-02 17:39] StephenLPeters commented on #6550
There has been some work done on tabview in Winui2 and I think this issue will be resolved when we port that work to winui3 next.

[2022-03-02 17:42] StephenLPeters commented on #6549
IconElements are UIElements, which can be parented in the visual tree.  UIElements cannot have multiple parrents and an exception will be thrown if you try to add them in multiple places.  This is what we created IconSource for, to have a sharable object that can create IconElements for cases like this.

[2022-03-02 17:49] StephenLPeters commented on #6549
The view model contains unique symbol icons so I don't think this is a case of multiparenting the icon..  @RealTommyKlein is there something wrong with the generated code for the x:bind?

[2022-03-02 17:51] StephenLPeters commented on #6547
@karenbtlai I thought we resolved this issue? is this a corner case we didn't catch?

[2022-03-02 17:59] StephenLPeters commented on #6544
@evelynwu-msft ?

[2022-03-02 18:01] StephenLPeters commented on #6543
@chigy FYI

[2022-03-02 18:05] StephenLPeters commented on #6539
@codendone FYI

[2022-03-02 18:11] StephenLPeters commented on #6537
@saravanan-2112 there are many xyfocus navigation api's.  You could use the Control.XYFocusDown and Control.XYFocusUp api's to accomplish this.  Im sure there are other ways too.  https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.xyfocusdown?view=winrt-22000

[2022-03-02 18:12] #6537 closed

[2022-03-02 18:18] StephenLPeters commented on #6535
@WelterDevelopment the CorVirtualKeyStates uses a flags enum (https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.corevirtualkeystates?view=winrt-22000) so that every key can behave similarly to the caps lock key where pressing it once puts you into the locked state.  In order to check for none vs down results (ignoring the locked state) you should bitwise & your result with the enum value yo

[2022-03-02 18:18] #6535 closed

[2022-03-02 18:23] StephenLPeters commented on #6521
The code snippet in the documentation works for resources defined in ThemeDicitionaries of XCR because the lookup order is BaseDictionary->MergedDictionaries->ThemeDictionaries.  The order that you have suggested will not work because the system originates resource lookups for resources referenced in styles defined in App.xaml from the dictionary the style is defined in.  This means the system won

[2022-03-02 18:24] #6521 closed

[2022-03-02 18:25] StephenLPeters commented on #6509
@chigy FYI

[2022-03-02 18:31] StephenLPeters commented on #6606
I believe this is a known behavior where Styles with TargetType=Foo do not get automatically applied to FooDerived. The system does its walk looking for a style and doesn't commit to the style that targets the parent type because it would prefer to find one that targets its type.  But when it doesn't find one it then defaults to the meta-data defined default style which for calendar view is the on

[2022-03-02 18:31] karenbtlai commented on #6547
I thought we did as well. I can investigate into this.

[2022-03-02 18:33] karenbtlai commented on #6518
Yes I have. Let me investigate further.

[2022-03-02 18:38] jeremyVignelles opened #6779 "Question: Where is the best place to release the resources of my SwapChainPanel"
I have a WinUI unpackaged app with just a SwapChainPanel subclass inside it.

In my constructor, I have:
[code]

The loaded event does get triggered, but the unloaded event does not get triggered when I close the application.
I could listen for the window to be closed, but my end goal would be to redistribute that component (trying to implement a WinUI port of [LibVLCSharp](https://code.videolan.o

[2022-03-02 18:41] StephenLPeters commented on #6602
@chigy and @marksfoster FYI

[2022-03-02 18:46] StephenLPeters commented on #6597
@MikeHillberg thoughts?

[2022-03-02 18:49] StephenLPeters commented on #6596
@codendone @marb2000 @MikeHillberg any of you know the correct way to do this in Winui3?

[2022-03-02 18:50] RBrid commented on #6560
I am afraid there is no way to show the built-in selection indicator in Multiple mode. Two ideas:

#1, tweak the ListViewItemBackgroundSelected, ListViewItemBackgroundSelectedPointerOver & ListViewItemBackgroundSelectedPressed resources in Default, Light and HighContrast themes to get more contrast.

#2, draw your own selection indicator as part of the ListViewItem Content, when the item is select

[2022-03-02 18:56] StephenLPeters commented on #6595
@RBrid I think we would have noticed this in Winui2 if it was a controls problem.. no?  @gegao18 and @codendone is this behavior in winui3 understood? is the corner radius clip removing the border?

[2022-03-02 18:57] StephenLPeters commented on #6594
This makes sense to me. @chigy do you think disabled or hidden is more appropriate?

[2022-03-02 19:12] StephenLPeters commented on #6569
The conditional xaml in winui2 is a custom implementation which is handled by preprocessing the xaml file and generating different xaml files for the different contracts.  It is indeed very usful.  making this standard sounds cool.  @licanhua and @fabiant3 FYI

[2022-03-02 19:21] StephenLPeters commented on #6567
@tristanlabelle I think the behavior you are describing is a standard GridView, no?

@ranjeshj FYI about the repeater layout issues.  @chingucoding might have thoughts too.

[2022-03-02 19:27] StephenLPeters commented on #6566
@evelynwu-msft FYI

[2022-03-02 19:39] #6566 closed

[2022-03-02 19:54] StephenLPeters commented on #6614
@ranjeshj FYI

[2022-03-02 19:56] StephenLPeters commented on #6613
@harvinders can you please provide more information. Its not clear to me what the proposal is.

[2022-03-02 19:58] chingucoding commented on #6567
@tristanlabelle The behavior of the items only being on the left can be changed with the `ItemsJustification` property. If you set it to SpaceAround or SpaceBetween,  you can see how they are taking up all the space with padding between them. But I think @michael-hawker is also right with his explanation why the borders don't take up more space, I think they just render their minimum size and don'

[2022-03-02 19:58] StephenLPeters commented on #6612
@RBrid @codendone and @MikeHillberg FYI about this 1.0 regression.

[2022-03-02 20:00] #6760 closed

[2022-03-02 20:01] #6354 closed

[2022-03-02 20:01] #6438 closed

[2022-03-02 20:05] StephenLPeters commented on #6611
@ranjeshj @llongley @kmahone I believe this is the CommandBarFlyout stealing focus away from the text element.  I think this (as well as another issue we triaged recently) should be prioritized pretty highly.

[2022-03-02 20:07] StephenLPeters commented on #6610
@asklar and @ocalvo FYI

[2022-03-02 20:17] krschau commented on #3230
I think there were two issues contributing to this. As said above, one was fixed in Edge, the other is #5570. I'm going to keep this closed as a dupe of that one.

[2022-03-02 20:22] StephenLPeters commented on #6608
We use this property all over the code base like here: https://github.com/microsoft/microsoft-ui-xaml/blob/d7b8e9bf27e1e79512582297cf10fd2ba548bcab/dev/Breadcrumb/BreadcrumbBar.xaml#L331.  In those cases I'm confident it does work.  Can you provide more info  on what you've done for that screenshot? markup as well as what version of winui you are using.

[2022-03-02 20:27] Pariventhan2015 opened #6781 "WinUI 3.0 with UWP"
Is the Win3.0 fully supports for UWP? We have a Project in UWP we are looking that to migrate. Any suggestion? or Best article to refer it.

[2022-03-02 20:29] StephenLPeters commented on #6564
or maybe @chigy

[2022-03-02 20:31] StephenLPeters commented on #6562
I suspect ListViewItemPresenter assumes in code that its parent will be a ListViewItem.  What does wrapping the LVIP afford you?

@RBrid could maybe confirm my suspicions.

[2022-03-02 20:32] StephenLPeters commented on #6561
@ocalvo @asklar FYI

[2022-03-02 20:34] asklar commented on #6561
I don't work on Media stuff so tagging @codendone

[2022-03-02 21:13] castorix commented on #6781
Did you see MSDN articles like [Migrate from UWP to the Windows App SDK](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/migrate-to-windows-app-sdk-ovw) ?

[2022-03-02 21:53] alejo4000 commented on #6776
Thanks for bringing this to our attention, @SecondThundeR ! You'll see this fix in our next update.

[2022-03-02 21:53] #6776 closed

[2022-03-02 21:57] chigy commented on #6491
@niels9001 , @StephenLPeters , we are not required to support over 200% scale so for WinUI, we are not looking to fix 225%.

[2022-03-02 23:03] michael-hawker commented on #780
Have been refactoring our `GridSplitter` in the Toolkit and was wondering why we never tried inheriting from `Thumb` as it is in WPF... finally just realized looking at it again that it's `sealed`... 🤦‍♂️ But it's a primitive...

Not sure if I should file an issue specifically for that or just add on to this one as I am doing here. But figured I'd call this out again, as it's a lot of duplicated e

[2022-03-02 23:21] StephenLPeters commented on #6648
The problem here is that a resource lookup that originates from a dictionary in App.xaml originates that new lookup form the dictionary that the reference is in.  In this case, the look for DefaultListViewItemStyle is originating from the sibling dictionary and the lookup will not search the siblings.

What you've done by putting XCR inside of your custom dictionaries' MergedDictionaries resolves

[2022-03-02 23:21] #6648 closed

[2022-03-02 23:24] #6645 closed

[2022-03-02 23:35] StephenLPeters commented on #6643
I don't reproduce this issue.  @zhit-microsoft could you provide more info?

[2022-03-02 23:37] StephenLPeters commented on #6640
@ojhad is this behavior expected?

[2022-03-02 23:41] StephenLPeters commented on #6639
@rozele the CubicBezier easing function should cover almost all the bases no? https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.composition.cubicbeziereasingfunction?view=winui-3.0

[2022-03-02 23:42] StephenLPeters commented on #6638
@chigy FYI

[2022-03-02 23:50] StephenLPeters commented on #6642
@SathiyathanamSathish your ArrangeOverride method is calling ApplyInline which clears the text box and then adds new content, this is causing the layout to be dirtied which is causing a new layout to be run which repeats the process causing a cycle.

[2022-03-02 23:50] #6642 closed

[2022-03-02 23:51] zhit-microsoft commented on #6643
@StephenLPeters, what information do you need?

[2022-03-03 00:01] StephenLPeters commented on #6635
Similar to https://github.com/microsoft/microsoft-ui-xaml/issues/5717 although I think not the same root cause.

@RBrid any idea what is going on here? Maybe the LVI style in code behind isn't properly listening to the Background property changed event?

[2022-03-03 00:17] chigy commented on #6564
Hope @alejo4000 can help.

[2022-03-03 00:19] #6634 closed

[2022-03-03 02:12] yoshiask commented on #6771
Did `SelectedValue` not fit your needs?

[2022-03-03 03:47] codendone commented on #6608
The `FontIcon` control specifically forces IsTextScaleFactorEnabled="False" on the TextBlock it creates to draw the icon. (This happens in CFontIcon::ApplyTemplate.) Because of this, setting IsTextScaleFactorEnabled="True" on it has no effect, which is wrong.

[2022-03-03 03:53] codendone commented on #6565
This issue is caused by the flyout positioning code of ComboBox assuming that IsConstrainedToRootBounds="False" is supported. Since that isn't yet functional in WinUI3, this problem can result.

[2022-03-03 04:10] codendone commented on #4804
This is a noisy exception. F5 in the debugger will continue, or the debugger could be changed to not always break in on C++/WInRT exceptions.

The noisy exception is coming from CommandBarFlyoutCommandBar::UpdateVisualState(), which is calling ApplicationView::GetForCurrentView(). Some other places guard against causing an exception by only making this call "if (winrt::CoreWindow::GetForCurrentThr

[2022-03-03 07:09] HavenDV commented on #6648
But what if you want to have styles organized like this and based on WinUI styles? As I understand it, including XamlControlsResources in each of these files slows down the resulting Lookup in the global space.
[code]

[2022-03-03 10:18] mirkomaga opened #6782 "VS2022 Compile: Cannot resolve metadata for WinUI types. Please ensure that Nuget Restore was successful"
Hi
Has this ever happened to you? how do i solve?

![image](https://user-images.githubusercontent.com/56160646/156544700-fe7248e4-a029-4b36-b104-c36ca07f0e8c.png)
![image](https://user-images.githubusercontent.com/56160646/156544741-90a18219-297d-4234-8324-ae455afe19e7.png)

[2022-03-03 11:13] gwalschlager opened #6783 "InfoBar icons unclear"
### Describe the bug

The InfoBar is great! However, it is difficult to visually distinguish between the informational "i" and the warning "!".  I would suggest something like the typical triangle for warning, or whatever works to distinguish between them. I know the background color is different too, but I think for new users of an application, they look at the icon.

### Steps to reproduce the b

[2022-03-03 11:43] harvinders commented on #6281
@StephenLPeters the code used to change the theme is generated by Windows Template Studio and in short looks like

[code]

[2022-03-03 11:55] harvinders commented on #6613
@StephenLPeters I am talking about the `Layer` concept described at [Layering and elevation in Windows 11](https://docs.microsoft.com/en-us/windows/apps/design/signature-experiences/layering)

![image](https://user-images.githubusercontent.com/8557046/156559785-7509746f-2adf-4cd6-8028-7c93b3f00f89.png)

[2022-03-03 12:15] harvinders commented on #6468
@StephenLPeters A light weight resource would be really good. Microsoft may feel the default is solving the needs, but our customers are reporting difficulty figuring out which tab is selected easily. They really had to look for it, rather than just taking a cursory glance.

[2022-03-03 16:27] akash07k commented on #6728
Ok

[2022-03-03 17:41] RBrid commented on #6635
I think the ListViewItemPresenter code will overwrite the ListViewItem.Background brush when the pointer gets over it no matter what. So I think a more successful approach may be to use a background color as part of the ListViewItem's ItemTemplate. I started to muck around with this:

[code]

Hope this helps.

[2022-03-03 18:36] karenbtlai commented on #6468
I can take a look. Let me also bring this issue up with design.

[2022-03-03 18:51] StephenLPeters commented on #6652
Loaded/Unloaded events are asynchronous events and aren't guaranteed to be ordered the way you'd expect.  Additionally, when the icon moves from the overflow menu to the main menu it is unloading from the overflow menu.  So the unloaded event is expected and the framework does not guarantee that it will be delivered in the order you'd expect.

[2022-03-03 18:53] #6652 closed

[2022-03-03 19:01] StephenLPeters commented on #6648
Yeah, that would be expensive.  In the winui2 project we don't hit this issue because we have a build step where we combine all of our "Foo.xaml" files into one xaml file.  I don't see a good way of doing this with the way the resource lookup system works today... I think the only option is to define this dictionary in your visual tree instead of your app.xaml. Definitely a big issue, but not one

[2022-03-03 19:02] StephenLPeters commented on #6643
The build of windows you are using, the version of winui you are using. any repro steps that you are doing beyond launch the app and hit tab.

[2022-03-03 19:07] StephenLPeters commented on #6633
This code doesn't make sense to me:
[code]
the ImageIconSource you created isn't used anywhere, the tmp1 variable isn't defined, and you fucntion return type is IconSource but you are returning an ImageIcon.  Something isn't right here, I'm not sure how this code compiles.

[2022-03-03 19:10] StephenLPeters commented on #6631
@codendone I'm unfamiliar with CanvasImageSource. Do you know what this is? Is it a Winui type?

[2022-03-03 19:11] StephenLPeters commented on #6630
@ojhad FYI

[2022-03-03 19:24] StephenLPeters commented on #6628
Similar to some older issues: https://github.com/microsoft/microsoft-ui-xaml/issues/349 however I thought we had squashed all of these bugs... https://github.com/microsoft/microsoft-ui-xaml/pull/619.   Looking through the code I think its possible that this change could have fixed this issue: https://github.com/microsoft/microsoft-ui-xaml/pull/6541 but doesn't exist in winui3 yet. There also looks

[2022-03-03 20:16] maxes-pl commented on #6633
Sorry, my mistake - this is not the code I pasted. Correct is:

[code]

[2022-03-03 20:21] maxes-pl commented on #6633
And then tries to attach an icon to the element:

`<IconSourceElement
  Width="24"
  Height="24"
  HorizontalAlignment="Left"
  IconSource="{x:Bind IconSource24, Mode=OneWay}"/>`

[2022-03-03 20:45] gascardi opened #6785 "Accessibility: SizeOfSet and PositionInSet include offscreen RadioButtons items"
### Describe the bug

Offscreen children of a `RadioButtons` control are counted to calculate `SizeOfSet` and `PositionInSet`. This is an accessibility violation, since visually impaired users who rely on screen reader will face difficulty if narrator announces a position that does not correspond with the items they can interact with.

### Steps to reproduce the bug

1. Include a `<RadioButtons>`

[2022-03-03 21:53] #6256 closed

[2022-03-03 22:32] tonyhallett commented on #6631
Yes.

[2022-03-03 22:32] #6631 closed

[2022-03-03 22:40] StephenLPeters commented on #6625
AnimatedIcon is used in a few of the built in controls as well, which is likely the cause.  The callstack is pretty confusing... the https://github.com/microsoft/microsoft-ui-xaml/blob/397647efba2406b2df2ddc37cf2225c966d63d20/dev/AnimatedIcon/AnimatedIcon.cpp#L594 ForegroundPropertyChanged event handler looks pretty benign.. perhaps there should be a null check before the try_as, however with Fore

[2022-03-03 22:44] StephenLPeters commented on #6623
@MikeHillberg and @fabiant3 FYI

[2022-03-03 22:58] StephenLPeters commented on #6619
I think that this is expected.  x:Bind need to have information about the type in order to generate the code propertly and has these public property requirement (and idl definition in cppwinrt) @RealTommyKlein can you confirm?

[2022-03-03 23:10] StephenLPeters commented on #6615
@harvinders chigy FYI

[2022-03-03 23:13] StephenLPeters commented on #4804
@llongley FYI

[2022-03-03 23:43] StephenLPeters commented on #6633
I see, and I assume this works with BitmapIcon instead of ImageIcon?

[2022-03-03 23:47] StephenLPeters commented on #6697
This is definitely considered a bug by the team and we recognize that it is frustrating.  The by design part of our explination is simply how the system works today, not how we want it to work. Unfortunately this is a challenging issue to fix, but it is definitely on our radar.

[2022-03-03 23:47] #6697 closed

[2022-03-04 00:20] maxes-pl commented on #6633
Yes. It also works for :

[code]
And bind to xaml element:

[code]

[2022-03-04 02:55] codendone commented on #6617
I'm assuming the Noto Color Emoji font is a symbol font. Font fallback explicitly does not happen if the font being used is marked as a symbol font, since character codes in that case are symbols and there is no automatic information for how to fall back to an appropriate symbol from another font.

[2022-03-04 03:02] AgneLukoseviciute commented on #6431
@lyahdav is your JAWS version still 2022.2112.24? I've tested and wasn't able to repro with NVDA as well, so we'll go ahead and file this as a bug with JAWS.

[2022-03-04 03:03] codendone commented on #6648
Yes, the plan is to remove XamlControlsResources in WinUI3 ([internal task](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/21236506)). Not sure yet which release that will be in.

[2022-03-04 03:40] tripjump commented on #6642
I have got the same error using MAUI with ListView.
When the control containing the ListView is made invisible then visible I got the crash.

[2022-03-04 05:02] zhuxb711 opened #6786 "TabView can crash if its Content property is not a Frame."
### Describe the bug

https://github.com/microsoft/microsoft-ui-xaml/blob/f4e655087e73363d603ac0351d651f7f9309c292/dev/TabView/TabView.cpp#L916
[code]

### Steps to reproduce the bug

Not sure as I could not reproduce this issue in Sample app.

But it might be related to the TabViewItem which was included in NavigationView.
For more information please go to my [repo](https://github.com/zhuxb711/RX

[2022-03-04 05:46] zhuxb711 commented on #6786
Replace this
[code]
With
[code]
Will fix this issue. I have no idea but I think it should be a bug in UWP framework.

Reference code [Here](https://github.com/zhuxb711/RX-Explorer/blob/eb04bdd273834779b7408a7ba05354f68995caa2/RX_Explorer/View/TabViewContainer.xaml.cs#L803)

[2022-03-04 07:35] HppZ opened #6788 "NavigationView crashes when full screen"
### Describe the bug
NavigationView crashes when app switches to full screen sometimes.

### Steps to reproduce the bug

### Expected behavior

_No response_

### Screenshots

_No response_

### NuGet package version

_No response_

### Windows app type

- [X] UWP
- [ ] Win32

### Device form factor

Desktop

### Windows version

Windows 10 (2004): Build 19041

### Additional context

Microsoft (R

[2022-03-04 09:02] huoyaoyuan commented on #6726
There definitely needs more developers for WinUI, or the whole xaml ui area. PRs in WPF are unreviewed for a long time.

I inspected several new Windows components (notepad, taskmgr) and find they are using WinUI 2 (Windows class with `Windows.UI` namespace`. The controls of WinUI 3 is left behind WinUI 2. WinUI 3 is still not open-sourced. It's a big architectural change, but it seems that the fo

[2022-03-04 09:05] huoyaoyuan commented on #6767
For VS 17.1, you can install the template via VS installer. You can try to install or uninstall and see if there's still problem.

[2022-03-04 10:03] andreaslennartz opened #6789 "Standard window icons (Close, Minimize,Maximize) disappear after minimizing when ExtendsContentIntoTitleBar is used"
### Describe the bug

When we use the `ExtendsContentIntoTitleBar` feature (as described in the [docs](https://docs.microsoft.com/en-us/windows/apps/develop/title-bar?tabs=winui3)) with the current WinUI 3 version, the standard icons at the top right (Close, Minimize, Maximize) disappear when the window was minimized. They reappear when hovering over the icons with the mouse.

Before minimizing:
!

[2022-03-04 13:30] rick-palmsens commented on #6726
Is interactive content in custom title bars on the todo list? It is not a very useful feature if I can't even put a menu in it. UWP supported it just fine, but in WinUI the title bar feel the need to simply consume all input.

https://docs.microsoft.com/en-us/windows/apps/develop/title-bar?tabs=winui3#interactive-content

[2022-03-04 16:06] Kurt-von-Laven commented on #6767
This issue is about that process not working as intended.

[2022-03-04 16:20] mdtauk commented on #6613
#6543

[2022-03-04 19:53] Tropix126 commented on #6726
I can say with almost complete certainty that none of the production-ready OS apps or the shell use WinUI 3 at all. At the moment this is pretty identifiable due to the fact that the Windows App SDK doesn't yet support mica transparency, only the fallback colors. Paint, Notepad, Terminal and the new Task Manager apps all use XAML Islands, while the rest use WinUI 2.4 - 2.7 or System XAML.

[2022-03-04 20:27] StephenLPeters commented on #6657
ScrollIntoView already exists, however I don't think it will expand the parent tree view nodes needed to ensure visibility.  Thanks for the suggestion.

[2022-03-04 20:32] StephenLPeters commented on #6656
@sps014 do you have a callstack with the crash? I suspect this has to do with the min/max tested version you've specified, but a callstack would be really helpful.

[2022-03-04 20:46] StephenLPeters commented on #6703
Confusingly, what you've linked to the ScrollView code (a winui2 control) where as the ScrollViewer (a system xaml control) is the control in question.  ScrollViewer's scrollbar integration is a little wonky, and is one of the things that was fixed in ScrollView.  @RBrid correct me if i'm wrong, it is by design that the auto and visible behave the same here.  I think there are some differences bet

[2022-03-04 20:49] StephenLPeters commented on #6702
@karenbtlai FYI. @ranjeshj easy perf gain

[2022-03-04 20:50] #6699 closed

[2022-03-04 20:54] StephenLPeters commented on #6701
@RealTommyKlein I think this is a dupe but I can't find the issue.

[2022-03-04 20:57] StephenLPeters commented on #6692
@DmitriyKomin or @jevansaks is this expected/understood?

[2022-03-04 20:58] StephenLPeters commented on #6690
@gabbybilka and @ryandemopoulos FYI

[2022-03-04 21:00] StephenLPeters commented on #6689
Thanks kmgallahan! @fabiant3 FYI on the Binding issue.

[2022-03-04 21:08] StephenLPeters commented on #6688
ExpanderChevronGlyphSize is referenced via static resource https://github.com/microsoft/microsoft-ui-xaml/blob/397647efba2406b2df2ddc37cf2225c966d63d20/dev/Expander/Expander_themeresources.xaml#L365, which unfortunately means that the UI Tree resource dictionary wont be searched (because this style is defined in your app.xaml)  Additionally the resource is defined in the base dictionary of XCR htt

[2022-03-04 21:11] StephenLPeters commented on #6684
@chigy FYI

[2022-03-04 21:13] StephenLPeters commented on #6682
@ranjeshj I think we need to make this property public. this is pretty broken.

[2022-03-04 21:14] StephenLPeters commented on #6682
@karenbtlai FYI

[2022-03-04 21:17] StephenLPeters commented on #6681
@ranjeshj I think this makes sense, we should consider it for future developments.

[2022-03-04 21:20] StephenLPeters commented on #6678
NavigationView's template should allow for the Autosuggest box to expand vertically in this scenario.

[2022-03-04 21:20] StephenLPeters commented on #6678
@karenbtlai FYI

[2022-03-04 21:21] TamBuiWork commented on #6699
@StephenLPeters Can I better understand why this issue was closed?  If it's because this was filed to the [Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-16100-breaks-support-for/1634426), that ticket's supposed "resolution" is to refer to _this_ Github issue 6699. As far as I can tell, this issue still exists in Visual Studio 2019 version 16.11.

[2022-03-04 21:24] StephenLPeters commented on #6674
@LeftTwixWand I don't understand your latest comment, is this issue resolved? Also see the discussion in the linked issue.

[2022-03-04 21:35] StephenLPeters commented on #6671
I think WelterDevelopment's suggestion is what I would recommend, but @MikeHillberg might have other suggestiosn as well.

[2022-03-04 21:43] StephenLPeters commented on #6668
@HO-COOH does this same code work if the content dialog is defined in the tree?

[2022-03-04 21:45] StephenLPeters commented on #6666
@zadjii-msft have you tried to customize this value with light weight styling?

[2022-03-04 21:46] StephenLPeters commented on #6666
@chigy FYI

[2022-03-04 21:47] StephenLPeters commented on #6664
@gabbybilka and @ryandemopoulos FYI

[2022-03-04 21:48] StephenLPeters commented on #6663
@MikeHillberg thoughts?

[2022-03-04 21:49] StephenLPeters commented on #6661
@ranjeshj FYI, thoughts on whats going on?

[2022-03-04 21:52] StephenLPeters commented on #6750
@codendone FYI

[2022-03-04 21:58] StephenLPeters commented on #6743
I tend to agree, @chigy thoughts?![image](https://user-images.githubusercontent.com/7758786/156847485-a3954698-3817-4690-8123-ef216bcf5401.png)

[2022-03-04 21:59] StephenLPeters commented on #6742
@ryandemopoulos FYI

[2022-03-04 22:03] StephenLPeters commented on #6735
same as https://github.com/microsoft/microsoft-ui-xaml/issues/6740

[2022-03-04 22:05] #6734 closed

[2022-03-04 22:08] StephenLPeters commented on #6732
This is expected behavior and isn't enumerable from code behind for performance reasons. @MikeHillberg to keep me honest.

[2022-03-04 22:08] #6732 closed

[2022-03-04 22:11] StephenLPeters commented on #6728
ContentDialog requires a xaml root in order to draw to the screen.  If your app doesn't have any other content drawing to the screen then ContentDialog wont work for your scenario. I'd suggest making a window to contain the UI you intend to show.

[2022-03-04 22:11] #6728 closed

[2022-03-04 22:12] StephenLPeters commented on #6725
@marb2000 @bpulliam FYI

[2022-03-04 22:12] StephenLPeters commented on #6723
@bpulliam FYI

[2022-03-04 22:14] StephenLPeters commented on #6721
@RBrid FYI, this might be easier track down now.

[2022-03-04 22:15] StephenLPeters commented on #6715
@karenbtlai can you link the PR that fixes this?

[2022-03-04 22:16] StephenLPeters commented on #6714
@RealTommyKlein FYI

[2022-03-04 22:17] StephenLPeters commented on #6713
@licanhua @MarissaMatt @codendone FYI

[2022-03-04 22:20] byrialsen commented on #6291
For me this is a major problem with a custom app that my company sold to several customers.

Any workarounds or at least any status on a fix for this. Please🙏

[2022-03-04 22:25] StephenLPeters commented on #6712
@ojhad thoughts?

[2022-03-04 22:26] StephenLPeters commented on #6711
What input methods allow you to navigate to that item? Mouse, touch, keyboard, programmatic?

[2022-03-04 22:30] StephenLPeters commented on #6710
This is because VSM is tied to a template, not an element.  VSM has a requirement that it be placed on the root element of a control template in order to work, so while it can be placed on any framework element, it only functions on framework elements that are associated with controls.

[2022-03-04 22:30] #6710 closed

[2022-03-04 22:30] StephenLPeters commented on #6710
@plonkaadam what is the reason you want VSM on arbitrary Framework elements?

[2022-03-04 22:51] StephenLPeters commented on #6707
@chigy FYI

[2022-03-04 23:01] StephenLPeters commented on #6716
@gegao18 and @codendone FYI

[2022-03-04 23:04] StephenLPeters commented on #6717
@RBrid FYI, could also be a pointer event issue.. @JJBrychell

[2022-03-04 23:32] StephenLPeters commented on #6789
@codendone and @pratikone FYI

[2022-03-04 23:35] StephenLPeters commented on #6788
@HppZ what version of Winui are you seeing this issue with?

[2022-03-04 23:46] StephenLPeters commented on #6786
@gabbybilka FYI

[2022-03-04 23:52] StephenLPeters commented on #6785
This isn't quite accurate is it?  If the radio button was disabled you would still want it included in the count correct?  I guess there is some amount of narrator interaction that is allowed with disabled elements.

[2022-03-04 23:54] StephenLPeters commented on #6783
@gabbybilka FYI

[2022-03-04 23:56] StephenLPeters commented on #6782
@evelynwu-msft any known issues that explain this?

[2022-03-04 23:57] StephenLPeters commented on #6781
Winui3 does not fully support the UWP app model currently.  @ryandemopoulos FYI

[2022-03-05 00:00] RBrid commented on #6703
It seems to work for me as expected: even when using ScrollBarVisibility.Visible, the user needs to hover over the scrollbar area for a couple seconds before it appears.

[2022-03-05 00:00] StephenLPeters commented on #6779
@codendone FYI

[2022-03-05 00:05] StephenLPeters commented on #6778
This doesn't appear to be an issue in winui2.  Perhaps issue with the port @llongley ?

[2022-03-05 00:12] StephenLPeters commented on #6784
Resources in dictionaries are keyed to by strings, not by DependencyProperties: https://github.com/microsoft/microsoft-ui-xaml/blob/8faca194c943df556afa1f0f8a44ad9697cb43ad/dev/CommonStyles/ContentDialog_themeresources.xaml#L20  If you want to override this resource I would recomend that you do so in a markup file.  If you must do it in code behind you should be using the string "ContentDialogMaxW

[2022-03-05 00:13] HppZ commented on #6788
winui 2.7

[2022-03-05 00:14] StephenLPeters commented on #6771
Thanks yoshiask!

[2022-03-05 00:15] #6771 closed

[2022-03-05 00:15] StephenLPeters commented on #6768
@evelynwu-msft FYI

[2022-03-05 00:16] StephenLPeters commented on #6767
@evelynwu-msft FYI

[2022-03-05 00:17] #6765 closed

[2022-03-05 00:19] #6759 closed

[2022-03-05 00:20] StephenLPeters commented on #6757
@evelynwu-msft FYI

[2022-03-05 00:25] StephenLPeters commented on #6752
@mqudsi the bug title says 0.8.7-preview1 but in the description it says you are using WinApp sdk 1.0.  Is the 0.8.7-preview1 version referring to some other package? does this reproduce in WinAppSDK1.0?

[2022-03-05 00:26] StephenLPeters commented on #6751
@gegao18 this seems similar to a hyperlink issue you fixed recently. @codendone FYI

[2022-03-05 00:27] StephenLPeters commented on #6788
Are you able to reproduce it with the 2.8 prerelease package? There was a code fix in this code path that fixed an issue like this already.

[2022-03-05 00:46] kmgallahan commented on #6703
@RBrid I believe the issue was created because the OP wants the scrollbar to always be visible, even if no scrolling can be performed. That would be the differentiation between using Auto and Visible.

[2022-03-05 01:13] Pariventhan2015 commented on #6781
I gone through Microsoft article, and before that want to understand is that fully available to migrate. We have developed enterprise application. We are thinking to migrate that.

[2022-03-05 01:15] michael-hawker commented on #190
FYI, in the [8.0 release of the Windows Community Toolkit later this year](https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4488) we'll have a new `PropertySizer` (name TBD) control which enables this scenario on a `NavigationView` out-of-the-box with no modifications. It will be the sample for this control in our sample app. If you want to try it out, you can find out PR for it

[2022-03-05 03:11] codendone commented on #6713
I believe this behavior is by design. The Segoe UI font includes the star glyph, which is not colored. Because it has the glyph, font fallback will not be involved and won't find/use the more colorful glyph from the Segoe UI Emoji font. Explicitly specifying Segoe UI Emoji is the right solution.

[2022-03-05 03:11] #6713 closed

[2022-03-05 04:26] HO-COOH commented on #6668
@StephenLPeters If you mean directly put the ContentDialog inside the Grid, no, it does not appear either.

[2022-03-05 07:09] HO-COOH commented on #6619
How to make it work in cppwinrt then @StephenLPeters

[2022-03-05 08:28] sps014 commented on #6656
@StephenLPeters I have created an minimal reproduceable sample here : https://github.com/sps014/uwpTestMica
Actually debugger fails to attach so i am not able to send you call stack.
Hope this helps.
Thanks

[2022-03-05 11:38] AndradeL commented on #6688
I've already found a way to fix this problem on my code by customizing a copy of the ControlTemplate, however I believe it's important to have it consistent with documentation specified on https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.expander?view=winui-2.6#remarks

[2022-03-05 15:40] jevansaks commented on #6692
It depends what version of Windows 10. IIRC that logic relies on the ActualThemeChanged event which didn't appear until 10.0.16299.0. @acouvert-msft what version of Win10 are you running on? Is it <16299?

[2022-03-05 16:31] akash07k commented on #6728
ok, thanks

[2022-03-05 16:33] HppZ commented on #6788
not sure.
the crash is from one of my app users, I can't reproduce it on my devices.

[2022-03-05 20:46] orapps44 commented on #6711
Input method used : Mouse

[2022-03-05 21:33] LeftTwixWand commented on #6674
Firstly, I gave incorrect description of the bug, and after the @kmgallahan comment I've changed it.
So not the bug description is actual, and the bug is still existing.

[2022-03-05 22:46] d2dyno1 commented on #5221
You might be interested in `TaskScheduler.UnobservedTaskException` @Panchus

[2022-03-05 23:51] Aldrich-Code commented on #3364
Python很多库就是这么干的

[2022-03-06 02:15] dylech30th commented on #3364
WinUI team needs more developers, from what I can see it's already been hard for them to triage and solve the huge amount of issues. Since the current WinUI 3 itself is really half-baked, I think the priority target of the team would be implementing features and handling bug&performance issues, I suspect that a proposal like foreign language support must have a relatively low priority until they m

[2022-03-06 15:05] DilanBoskan commented on #5974
I really hope that this issue will be resolved in the coming months. It is crucial for the development and then publishment of my app.
Would appreciate anyone who knows this framework better than me to take a look at this.

[2022-03-06 16:09] omikhailov opened #6791 "Discussion: Have you seen real projects using WinUI?"
I heard that Windows 11 preinstalled apps are made with WinUI 2, and they are being developed by a team from the Chinese office, but it would be interesting to know how and where folk use WinUI elsewhere. Do you know about commercial projects built with WinUI? What kind of apps were they? Was it a good experience?

P.S. Sorry for the flooding, I'm just curious.

[2022-03-06 17:26] Panchus commented on #5221
I tried that, but in only triggers when you dont await Tasks, this isn't what I want
In any case I know now that there's no way to do this since they are essentially different threads and therefore every async method must catch their own exceptions
Thanks anyways!

[2022-03-06 19:53] asklar commented on #6754
Some reasons Clipboard.GetContent might throw:
- it wasn't called from the UI thread
- another app had locked the clipboard
- the app didn't have focus (wasn't in the foreground) when trying to read the clipboard

[2022-03-07 00:11] sharpninja commented on #6784
[code]

This compiles, there is no overload that takes a string.

[2022-03-07 00:13] sharpninja commented on #6784
That is precisely what I did as attempt #1 that generates the first exception I posted.

[2022-03-07 03:00] shelllet commented on #6791
I have developed a simple `rpa` tool by c++/winui3, but I would like to say that the current progress and featurs of winui3 cannot develop commercial applications,
![image](https://user-images.githubusercontent.com/16729017/156960353-503bdd74-967c-4dd4-9408-d8f2285ba7f5.png)

[2022-03-07 07:15] marwalsch commented on #6732
Understood, but then the section in the docs implying otherwise should probably be changed/clarified.

[2022-03-07 07:59] marwalsch commented on #6703
Thanks for following up.

@RBrid
@kmgallahan is right. I would argue that `ScrollBarVisibility.Visible` still requiring a hover to have it appear at all might be a good fit as long as `ScrollBarVisibility.Auto` exists. I noticed as well that even when hovering it in a `ScrollViewer` not being overflown, the arrows appear, but the actual bar does not (which I'd expect to at full length at this poin

[2022-03-07 08:22] wbokkers commented on #6754
@asklar If it just throws an exception, I can handle, that would be no issue I would complain about. The clipboard crashes the app without getting the opportunity to catch the exception.
Of course I checked all your bullet points.
* I make sure the clipboard is always called from the UI thread.
* Maybe this is the case, but I don't think so, because I can access it with win32 api's without issues.

[2022-03-07 08:44] asklar commented on #6754
@wbokkers  I just tried to reproduce it myself, and I don't see the crash either.
I suggest you take a look at the instructions for investigating stowed exceptions here: [Stowed exception crashes](https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/debugging_crashes.md#stowed-exception-crashes-exception-code-0xc000027b).

[2022-03-07 08:51] wbokkers commented on #6754
I don't see the issue myself if I try to reproduce. The crash occurs seldom.
Why is it so difficult to catch these kind of exceptions and throw them as managed exceptions instead?
I don't want to 'investigate a stowed exception'. That is really not the point. There should be no exceptions I can't handle myself. This is the issue.

Maybe I should rephrase it:
What am I supposed to do in my code to

[2022-03-07 09:30] acouvert-msft commented on #6692
@jevansaks I got the issue on Windows 10 for at least 20H2 (19042.1526) and 21H2 (19044.1526). I didn't check other Windows 10  versions.

[2022-03-07 09:56] vgromfeld commented on #6502
@StephenLPeters I think this bug should remain open. The click event is triggered only for a sequence of key down/key up events for all the other controls.

[2022-03-07 11:21] llothar opened #6792 "Question: Is it already possible to use CMake to build C++ WinUI3 apps?"
Is it already possible to use CMake to build C++ WinUI3 apps?

 If it is, where can i find an example.
 And if not is this on microsofts todo list or will it be left as a todo for the cmake project volunteers?

[2022-03-07 11:23] zadjii-msft commented on #6666
@StephenLPeters I haven't tried that yet. I'd bet it'd probably work. I just wanted to make sure this was on the radar as an intentional ControlsV2 change. I don't want other 3p developers to be surprised by this as well ☺️

[2022-03-07 12:16] kmgallahan commented on #6732
What section? Where it states it implements `IEnumerable`?

It is enumerable, there just isn't custom logic to start enumerating other dictionaries outside of the one you are working with. That doesn't mean it doesn't abide by the `IEnumerable` interface.

Imagine you had a research paper that uses `IEnumerable` to get all of its sentences. On reaching the references section you wouldn't expect th

[2022-03-07 12:37] SPG-144 commented on #6525
Hi Stephen
The problem is this:
The button_Click to a  Frame.Navigate(typeof(Page));  command  inside a GridView element it does not work, and comes up with the error code that I posted.
If you install this same scenario in a StackPanel or a Frame or anything else the button click to page navigation works. this does not make any sense.

Try it out for yourself set up an Mvvm template with 2 pages

[2022-03-07 14:42] marwalsch commented on #6732
[Application.Resources](https://docs.microsoft.com/en-us/dotnet/api/system.windows.application.resources?view=windowsdesktop-6.0):

[ResourceDictionary ](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.resourcedictionary?view=winui-3.0)

[ResourceDictionary and XAML resource references](https://docs.microsoft.com/en-us/windows/apps/design/style/xaml-resource-dictionary):

Sinc

[2022-03-07 14:48] DeepthiCG opened #6793 "Hosting a control from C# component using XAML Island in MFC not working"
### Describe the bug

Xaml Island hosting in MFC not works, if the C++WinRT dll used for xaml hosting refers C#WinRT dll.

### Steps to reproduce the bug

There are 3 components
1. C# WinRT component containing a XAML page
2. C++WinRT dll that supports hosting controls in MFC application
3. MFC application

Dependency is like
MFC -> C++WinRT Dll ->C#WinRT component
I have to use a custom xaml user

[2022-03-07 17:50] chigy commented on #6666
The official design should be in the toolkit. https://aka.ms/figmatoolkit

[2022-03-07 19:56] UpsettingBoy opened #6794 "Question: Order of page loading/unloading events during navigation"
WinUi 3 Win32 app.

During page navigations, I have detected that the loading event of the next page happens before the unloading event of the previous one. Is this normal/expected behaviour?

[2022-03-07 21:32] lyahdav commented on #6431
@AgneLukoseviciute yes, thanks!

[2022-03-07 22:00] jevansaks commented on #6692
Hmmm ... I don't know, then. @StephenLPeters someone will need to debug. Sorry. :(

[2022-03-08 02:00] llothar commented on #6791
I'm listening to a lot of solo developers in the independent app scene (former known as shareware).
And i can answer with a clear no.  At the moment nobody i know is even planning to go this way.

[2022-03-08 02:52] StevenEdwardWood opened #6798 "Apps wider than left monitor in 2 or more monitor system is forced into Full Screen on left monitor."
### Describe the bug

Windows 10 is supposed to restore applications to the same size and position as when they were closed...as long as the size and position is not invalid. But, when some applications were resized on a system with more than one monitor so that the width of the application is larger than the width of the left monitor Windows 10 forces the application into full screen on the left

[2022-03-08 03:33] roxk commented on #5046
Close as #6354 is closed by #6775

[2022-03-08 03:33] #5046 closed

[2022-03-08 04:38] dongle-the-gadget commented on #6791
Well there are many production apps currently using WinUI 2, not sure about WinUI 3 though.

[2022-03-08 04:43] dongle-the-gadget commented on #6726
Emoji panel is whole WebView, touch keyboard looks like native except for the emoji/GIF thingy.

[2022-03-08 05:43] HHChaos opened #6799 "Bug title"
### Describe the bug

When we use two ItemsRepeater with UniformGridLayout in one page, and if they use the same ItemTemplate, the uwp app will be frozen.

I have created a demo repo to show this bug: https://github.com/HHChaos/ItemTemplateTest

### Steps to reproduce the bug

1. Compile and run my demo app (https://github.com/HHChaos/ItemTemplateTest)
2. Click the "Load the same ItemTemplate" but

[2022-03-08 07:01] HppZ commented on #6788
@StephenLPeters

[2022-03-08 07:17] marwalsch commented on #6703
@RBrid
Thanks, I wasn't aware of the windows-wide scrollbar setting, now it makes more sense. I assume there is no way to activate this setting on application scope regardless of the Windows setting, the same way we can force a specific theme on application root?

[2022-03-08 07:17] #6703 closed

[2022-03-08 07:39] iloxmn commented on #5398
Why is it still open? This is a simple question. And we just want a official respond because it's clearly dead.

[2022-03-08 07:41] DominicMaas commented on #5398
From my understanding, .NET Native (CoreRT) has become NativeAOT (for .NET 7)

[2022-03-08 07:49] levinli303 commented on #6791
I have an unarchiver app written in WinUI3, also available on Microsoft Store. It's cross platform, sharing some objective-c(++) code under the hood with iOS/macOS. The UI part is entirely WinUI3. It is lacking some features for sure (drag and drop virtual file without needing a dll extension), but mostly it is ok as an unarchiver.

https://www.microsoft.com/en-us/p/easy-unarchiver/9nkl1jq5c62v

[2022-03-08 08:25] felinepunch opened #6800 "Image Source Uri path(ms-appx) problem"
### Describe the bug

```<Image Name="Logo" Width="300" Source="ms-appx:///tiger.png"/>```

is working well. but
```<Image Name="Logo2" Width="300" Source="ms-appx:///images/tiger.png"/> ```
dose not show any image. (///)

```<Image Name="Logo2" Width="300" Source="ms-appx://images/tiger.png"/> ```
shows image well. (//)

https://docs.microsoft.com/en-us/windows/uwp/app-resources/uri-schemes
In th

[2022-03-08 08:55] pjmlp commented on #6792
Nope, https://github.com/microsoft/cppwinrt/issues/1080

[2022-03-08 09:05] MEK3DK commented on #6791
As others here say WinUI 3 is not ready for commercial applications.

We did an investigation into WinUI 3, whether we could start changing some apps to use WinUI 3 instead of WPF, but there are a lot of features missing and the amount of bugs makes it unrealistic.

WinUI 3 is only for hobby apps atm, my best estimate is 2 years untill it might be ready, depending on what resources Microsoft apply

[2022-03-08 09:10] MEK3DK commented on #6781
I think you need to read up on the difference between WinUI 2 and WinUI 3 they are 2 completely different things even though their names are almost the same....
In regards of WinUI 3 then no it is not ready atm for enterprise applications.

[2022-03-08 09:31] pjmlp commented on #3364
They already can't manage just with C# and C++, let alone adding more languages into the mix.

[2022-03-08 17:37] karthikraja-arumugam commented on #2331
In my case above workaround works only the first time of content dialog opening, and while showing dialog on next time the content doesn't update with dark theme. Please fix this bug. Due to this we can't go with ContentDialog and need to write our own popup control.

[2022-03-08 17:40] karthikraja-arumugam commented on #424
I'm still getting this issue, unable to set width, max-width, and padding properties of content dialog. Please fix this bug, ContentDialog has some good styles but these kinds of restrictions make it unusable.

[2022-03-08 18:32] mstasak commented on #3689
The bug which could not die.  <hopeful> Maybe in 1.1? </hopeful>

[2022-03-08 18:35] lyahdav commented on #2331
@karthikraja-arumugam if the workaround only works the first time the content dialog opens, you can just recreate the ContentDialog each time it needs to be opened. For context, you can see that workaround in React Native Windows here after it creates a ContentDialog each time: https://github.com/microsoft/react-native-windows/blob/main/vnext%2FMicrosoft.ReactNative%2FModules%2FAlertModule.cpp#L40

[2022-03-08 19:10] SamChaps commented on #6385
@StephenLPeters I was using the WinUI 2.7.

[2022-03-08 19:16] StephenLPeters commented on #6385
@llongley known issue?

[2022-03-08 20:21] llongley commented on #6385
@StephenLPeters I don't believe I've seen these symptoms before, no.

[2022-03-08 20:48] Calphalon opened #6802 "UWP XAML exception when showing a ToolTip based on a user control, but only on second try"
### Describe the bug

When trying to show a tooltip based on a user control that contains a ListView it works perfectly the first time the ToolTip is shown, but when requested a second time, UWP throws an unhandled XAML exception: "The parameter is incorrect. The value does not fall into the expected range", this appears to be from System.Collections.ListDictionaryInternal.NodeKeyValueCollection.

[2022-03-08 21:56] Marv51 commented on #6713
@codendone Where should I file a bug to remove that star glyph from Segoe UI? It is not what the customer expects. When customers copy text from many places (iOS, Android, Firefox, Word, etc...) it looks broken.

[2022-03-08 22:20] bogdan-patraucean commented on #6688
@AndradeL can you please give me a sample? I try to remove the padding but with no succes..

[2022-03-09 03:00] codendone commented on #6713
@Marv51 Even if the font owners wanted to remove the glyph, they can't do it at this point because it would be a breaking change which could negatively impact any app using the font. We're unfortunately stuck with this behavior at this point.

[2022-03-09 04:15] Jeyasri-Murugan commented on #2331
@lyahdav  - We have the base content dialog in that we have added the editor to open the other content dialog,

Due to this framework limitation with muti content dialog popup (https://github.com/microsoft/microsoft-ui-xaml/issues/6473)-  we have intailized the content dialog in theme file to resolve the multi content dialog , we could not initialize every time, is there any other way to resolve?

[2022-03-09 05:02] zyont1000 commented on #6508
Yes in C# WinRT, we could access that property.
The issue is with C++ WinRT were we cannot access that property .

[2022-03-09 05:04] zyont1000 commented on #6508
In C# WinRT, we could get the actual offset values.
But in C++ WinRT, its always giving value as 0.

[2022-03-09 06:24] karthikraja-arumugam commented on #2331
@lyahdav as @Jeyasri-Murugan mentioned we can't use popup or any other dialog within ContentDialog, that's why we need to reuse the same dialog instance.

[2022-03-09 15:57] AsladaGSX opened #6804 "Click on HTML Content in WebView2 cause other window disappear."
This is duplicated. https://github.com/MicrosoftEdge/WebView2Feedback/issues/2244

**Description**

see https://stackoverflow.com/questions/71369678/when-i-click-objects-in-webview2-contents-in-other-window-disappears

**Version**
SDK: Microsoft.Web.WebView2 installed with Microsoft.UI.XAML 2.8.0-prerelease.210927001 from nuget.
Runtime: 99.0.1150.30
Framework: UWP, WinUI2, AppWindow
OS: Win10 21H

[2022-03-09 16:19] fredemmott commented on #6791
Hobbyist with a cross-platform (mostly Qt, little bit of wxWidgets) background; I just ported my app to WinUI3 with C++/WinRT.

There's a lot of rough edges in winui, winui's documentation, and MSIX, especially when not distributing in the MS store. MSIX is not part of WinUI, but there's such a bias towards 'packaged' apps in WinUI and the App SDK that it feels fair to bundle.

Overall, Qt is leag

[2022-03-09 17:10] fredemmott commented on #6792
It is - but if you want to use anything that takes a winrt::xaml_type (e.g. Frame.Navigate instead of setting content), you need to implement xamlmetadataprovider yourself. Example using Content: https://github.com/fredemmott/cmake-cpp-winrt-winui3

In a real world hobby project, i've integrated a winui frontend in a mostly cmake project by making cmake call msbuild, but this is nasty: https://git

[2022-03-09 17:38] lyahdav commented on #2331
@Jeyasri-Murugan I'm not really sure then. Perhaps using an event other than ContentDialog.Opened to add the workaround may help, e.g. [Loaded](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.loaded?view=winrt-22000) event.

[2022-03-09 18:27] #6493 closed

[2022-03-09 19:53] mqudsi opened #6805 "TextBox IsSpellCheckEnabled breaks after WinAppSdk 1.0"
### Describe the bug

After upgrading from 0.8.7-xxx to Windows App SDK 1.0, I have observed that my application with a spellcheck-enabled `TextBox` always ends up behaving as if `IsSpellCheck = false` after some time (i.e. it starts up with spellcheck support correctly performing auto replacements of typos and flagging misspelled words, but after leaving the app running overnight, the next day th

[2022-03-09 20:43] xperiandri opened #6806 "Question: Is Hub control deprecated?"
[This section](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Hub?view=winrt-22000#remarks) of docs tells that usage of Hub control is not recommended. Why?

Also, it is still not open-sourced #5598

Because of that remark, the Uno Platform team decided not take any action to port it
https://github.com/unoplatform/uno/issues/5249

And how would you recommend implementing such UI

[2022-03-09 22:17] nkasco commented on #3652
This still appears to be an issue, setting MinWidth to 0 does resolve it. Very odd and unexpected.

[2022-03-10 07:21] pjmlp commented on #6792
That kind of manual workarounds is anything but "supported".

[2022-03-10 07:23] BSchafer01 commented on #6757
Is there any feedback or guidance on this issue? I'm running into the same issue with the MSIX produced for sideloading a winUI 3 application.

[2022-03-10 11:15] dongle-the-gadget opened #6809 "(WinUI 3) Color banding in Navigation View content when in dark mode"
### Describe the bug

There's a color banding in Navigation View when the application is in dark mode.

### Steps to reproduce the bug

XAML code:
[code]

### Expected behavior

There shouldn't be any color banding.

### Screenshots

![Color banding present in Navigation View](https://user-images.githubusercontent.com/29563098/157650776-1e78d02d-09ca-4575-9a7f-a71961020ee8.png)

### NuGet package

[2022-03-10 12:55] ifgotmoney opened #6810 "Question: [Using Composition with Canvas]"
Hello,

I want to build a desktop app with WinUI3, to allow draw some simple diagrams like flowsheet, etc, show texts along with lines or blocks.

in WPF I can either inherit from `DrawingVisual` object or `Shape` object. but I don't find enough examples to do this in C++/WinRT + WinUI3.

Question 1:   what's the proper way to do it in WinUi3? I'm trying to use `Microsoft.UI.Composition` to do thi

[2022-03-10 13:31] rozele commented on #6639
If we want the animation behavior to match the React Native behavior precisely, then no. For example, CubicBezier would not allow us to implement a decay function or a custom spring behavior.

[2022-03-10 13:43] fredemmott commented on #6792
Agreed, but “possible”

[2022-03-10 14:02] hassaanmasood opened #6811 "Proposal: Ribbon Control Availability in WinUI Controls"
It would be great if a full featured Ribbon Control can be made available as part of WinUI Library. Like the one designed in new Windows 11 MS Paint App but with Tabs ( like in Windows 10 MS Paint). I am aware that a few third party controls are available for UWP. But why not have it as a first party control available both for UWP and WinUI3 featuring Win11 style control.

## Rationale
* Ribbons a

[2022-03-10 14:24] yoshiask opened #6812 "AutoSuggestBox menu is zero-height"
### Describe the bug

The suggestion menu of a WinUI AutoSuggestBox appears to be near zero height, even when list of suggestions is not empty.

### Steps to reproduce the bug

1. Install and open [XAML Studio](https://www.microsoft.com/store/apps/9NTLS214TKMQ).
2. Copy the following XAML into the editor:
[code]
3. Type some text into the box. Observe that a tiny sliver of the suggestions menu app

[2022-03-10 14:26] daoluong commented on #5917
Hat off to any one who created WinUI 3 control gallery. Did he made it without monitor?

[2022-03-10 14:42] mqudsi opened #6813 "WebView2 interop layer access violation handling NewBrowserVersionAvailable"
### Describe the bug

After upgrading from 0.8.7 to WinAppSdk 1.0, I routinely get memory access violations attempting to read from a NULL ptr when the `NewBrowserVersionAvailable` handler is called.

This is a managed exception not wrapping an unmanaged exception:

The stack trace:

[code]

### Steps to reproduce the bug

1. Use an older version of the evergreen WebView2 system SDK
2. Install an

[2022-03-10 14:57] #6752 closed

[2022-03-10 14:59] mqudsi commented on #6757
You probably don't have it set to self-contained.

[2022-03-10 15:08] mqudsi commented on #6713
This is by-design from Unicode. You need to use the variation selector codepoint to force the colored emoji to show.

(So you put the start emoji and the next character (before the space or anything) should be U+FE0F)

[2022-03-10 15:20] kmgallahan commented on #6811
Dupe of #168 and proposal is essentially dead.

[2022-03-10 15:21] kmgallahan commented on #6810
Another option: https://github.com/microsoft/Win2D

[2022-03-10 15:27] kmgallahan commented on #6809
This is probably yet another consequence of this bug: #6194, with these dupes: #6207 #6419 #6475, that has been open for over 4 months.

¯\\_(ツ)\_/¯

@StephenLPeters

[2022-03-10 15:30] kmgallahan commented on #6809
Top left of the main pane has a rounded corner, the other 3 aren't rounded.

[2022-03-10 15:31] dongle-the-gadget commented on #6809
Yeah but are those related to setting different corner radiuses for the 4 corners?

[2022-03-10 15:35] dongle-the-gadget commented on #6809
Idk why they are applying gradients for some reason, I just used ApplicationPageBackgroundThemeBrush (or sth i don't remember the exact name)

[2022-03-10 15:37] dongle-the-gadget commented on #6809
It looks fine in light mode
![image](https://user-images.githubusercontent.com/29563098/157697022-389d1610-e9c4-4a4d-8dae-2f559a64ef9a.png)

[2022-03-10 16:33] hassaanmasood commented on #6811
Also, I strongly believe that Win UI 3 should emerge as a preferred framework for UI development on Windows. Winform & WPF, even UWP should be discarded and best of all these feature should be merged into WinUI 3. So that in future Windows and apps could have consistent UI\UX. And in case the control design changes in Win UI 3 they can be easily reflected with just a library update. Since the intr

[2022-03-10 16:36] hassaanmasood commented on #6811
The point is developer should have full confidence in WinUI and they should not be choosing WinForm or WPF for new apps at least. And this would be only possible if WinUI library has a wide range of controls and features.

[2022-03-10 16:36] kmgallahan commented on #6811
I'm simply stating that an MS employee closed the issue that represented a ribbon control proposal in this repo, and this issue is a dupe of that one, so the purpose of this issue isn't clear.

If you want a standing open issue proposing a ribbon control then you should propose that #168 be reopened, instead of just creating a new issue with much less detail #168.

@StephenLPeters @adambarlow

[2022-03-10 16:39] hassaanmasood commented on #6811
@kmgallahan I got your point. I just wrote my view on this. Also #168 is a bit different control than what I am talking about here. That is a minimized or single row version of the ribbon. I am talking about a full size ribbon like in the MS Office or new MS Paint.

[2022-03-10 16:44] kmgallahan commented on #6811
Functional Requirement 9 states:

Which means it would support any height.

[2022-03-10 19:10] gabbybilka opened #6815 "👨‍💻☎ WinUI Community Call: March 16, 2022"
### This live event has now ended, but you can view the recording on YouTube at the link below. If you didn't get your question answered, feel free to [open it up as a question](https://github.com/microsoft/microsoft-ui-xaml/issues/new?assignees=&labels=question&template=question.md&title=Question%3A+%5Byour+question+here%5D) on this repo. Thanks all for joining!
### https://youtu.be/fRpXbB8WUko

[2022-03-10 19:20] gabbybilka commented on #6726
Closing as the March community call issue is live! #6815

All questions that were asked in this thread will be added to our list to address during the March community call.

[2022-03-10 19:20] #6726 closed

[2022-03-10 20:23] bogdan-patraucean opened #6816 "RadioMenuFlyoutItem IsChecked not considering default value"
### Describe the bug

I tried to use a **ContextFlyout** in a **Grid** but when I set **IsChecked** to **True** it's not taken into consideration. The False value is set directly.

This are the ways I tried to set it:

[code]

[code]

[code]

None of this are working.

### Steps to reproduce the bug

1. Create a FlyoutMenu with at least one option.

[code]

2. Use this menu in a Grid

[code]

###

[2022-03-10 21:16] meirumeiru commented on #6811
What is this? [Windows Ribbon Framework](https://docs.microsoft.com/en-us/windows/win32/windowsribbon/-uiplat-windowsribbon-entry) ... can we use this together with WinUI 3? And... when it already exists. Why can it not become a part of WinUI 3?

[2022-03-10 21:29] kmgallahan commented on #6811
@meirumeiru

It was/is used by the old Win32 UI framework.

Only if you use [XAML Islands](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/using-the-xaml-hosting-api), of which I'm unsure how production ready it is.

For the same reason all other Win32 & WPF controls aren't a part of WinUI, they are separate UI frameworks.

[2022-03-10 21:51] meirumeiru commented on #6811
I didn't want to ask this in this thread, but since you mentioned it... I'm confused about this article. It's talking about "WinRT XAML" ... what's that?  WinUI 3? WinUI 2? I'm asking this, because later down it explains "WindowsXamlManager" "This class represents the UWP XAML framework..." ??? So... didn't Microsoft say, that WinUI 3 isn't available for UWP? So then... is this article not relevan

[2022-03-10 22:06] kmgallahan commented on #6811
Disclaimer: I don't care about XAML islands and have never used them so I don't know much about them or their state.

The [WinUI 3 section of the WinUI roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/roadmap.md#winui-3) mentions:

And down in the feature matrix it is listed as experimental at the moment.

Not sure if they refer to both UWP / WinUI 2 XAML & WinUI 3 XAML as "W

[2022-03-10 23:43] StephenLPeters commented on #6816
@bogdan-patraucean Radio Button's have logic in them to Group the radio button elements together. This is so that only one radio button from each group can be selected at a time.  If you don't specify a group yourself then the system will do its best to assign a group to your radio button elements.  I wonder if this radio menu flyout item is assigned to a group which has another selected radio but

[2022-03-10 23:45] StephenLPeters commented on #6813
@krschau FYI

[2022-03-10 23:54] StephenLPeters commented on #6812
This is the UI i get when I use your pasted markup:
![image](https://user-images.githubusercontent.com/7758786/157775108-ea9cb075-0d58-42e9-a94e-c09d2d36607f.png)

[2022-03-10 23:55] #6811 closed

[2022-03-10 23:55] StephenLPeters commented on #6811
Closing as a duplicate

[2022-03-10 23:57] StephenLPeters commented on #6810
@codendone and @MikeHillberg Thoughts?

[2022-03-11 00:00] StephenLPeters commented on #6809
Another duplicate of this same issue which is actively being looked into.

[2022-03-11 00:01] StephenLPeters commented on #6809
@codendone and @gegao18 FYI

[2022-03-11 00:05] StephenLPeters commented on #6806
Yes, the hub control is not in active development and is not recommended for use. This UI looks like it would be acheivable with a combination of GridView's and ScrollViewers

[2022-03-11 00:05] #6806 closed

[2022-03-11 00:07] StephenLPeters commented on #6805
@codendone and @MikeHillberg FYI

[2022-03-11 00:07] StephenLPeters commented on #6804
@krschau and @DmitriyKomin FYI

[2022-03-11 00:11] StephenLPeters commented on #6802
This seems like a pretty strange usage of ToolTip. While it should work, and this does appear to be a bug, I don't think it will meet our bar for investigating any time soon.

[2022-03-11 00:13] StephenLPeters commented on #6800
@codendone putting this on rendering for the image area, but it could be a xaml parser issue @RealTommyKlein

[2022-03-11 00:14] StephenLPeters commented on #6799
@ranjeshj FYI

[2022-03-11 00:15] StephenLPeters commented on #6798
@MikeHillberg thoughts on where to route this issue?

[2022-03-11 00:17] StephenLPeters commented on #6794
This is expected behavior with the Winui framework. These events are asynchronous and you can't depend on them occurring in the expected order. Instead of using these events you can use the Page.OnNavigatedFrom and Page.OnNavigatedTo overloads, which will occur in the expected order.

[2022-03-11 00:17] #6794 closed

[2022-03-11 00:19] StephenLPeters commented on #6793
@DeepthiCG is this a Winui2 or Winui3 issue?

@bpulliam FYI

[2022-03-11 00:20] StephenLPeters commented on #6792
It is possible, but not supported, as fredemmott points out. @RealTommyKlein or @evelynwu-msft  might be able to share more specifics.

[2022-03-11 00:21] StephenLPeters commented on #6791
@ryandemopoulos FYI

[2022-03-11 00:25] StephenLPeters commented on #6788
https://github.com/microsoft/microsoft-ui-xaml/pull/6797  The callstack is similar to an issue that this PR fixes. without a repro it will be difficult to say for sure though.

[2022-03-11 00:27] StephenLPeters commented on #6711
Pivot isn't in active development so I don't think this will get addressed over other issues any time soon.

[2022-03-11 00:30] StephenLPeters commented on #6674
@RealTommyKlein could this be a parser issue?

[2022-03-11 00:33] StephenLPeters commented on #6668
In that case I think there must be something wrong with how you are attempting to show the dialog. Looking at the code you pasted the call to `MyDialog.StartBringIntoView();` is suspect to me. You should only need to set the xaml root and call show async.

[2022-03-11 00:35] StephenLPeters commented on #6639
@aborziak-ms @jeffStall FYI

[2022-03-11 00:38] StephenLPeters commented on #6525
Can you clarify what you mean by does not work?  Is there a crash, or is just nothing happening? if you set a breakpoint in the event handler is the call to frame.navigate occuring?

[2022-03-11 00:39] StephenLPeters commented on #6508
@Scottj1s or @kennykerr can you weigh in on possible causes?

[2022-03-11 00:42] StephenLPeters commented on #3652
@nkasco are you setting the property on toggle switch or the resource ToggleSwitchThemeMinWidth?

[2022-03-11 01:23] sjb-sjb opened #6817 "Exception thrown by minimal program"
### Describe the bug

Exception thrown at 0x76C4B922 (KernelBase.dll) in TestApp2.exe: WinRT originate error - 0x80000013 : 'The given object has already been closed / disposed and may no longer be used.'.

The exception is received when a minimal program is exited.

### Steps to reproduce the bug

1. Install VS 2022 Community Edition with WIndowsAppSDK.

2. Create a test solution using the "Blank

[2022-03-11 01:39] nkasco commented on #3652
On the Toggle Switch XAML directly:
`<ToggleSwitch Name="SettingStartupBehavior" HorizontalAlignment="Right" Grid.Column="1" OffContent="" OnContent="" MinWidth="0"/>`

[2022-03-11 02:24] HO-COOH commented on #6668
Removing that `MyDialog.StartBringIntoView();` line does not show either.

[2022-03-11 03:24] yoshiask commented on #6812
That's weird. I just tried the same repro on my dev box (which is on Win11 10.0.22572) and I get this:
![image](https://user-images.githubusercontent.com/7549325/157796227-69e09227-f81e-460f-a8b6-a2161851d6eb.png)

[2022-03-11 03:31] codendone commented on #6809
I agree the cause is the same as #6194. Please track progress via that issue.

[2022-03-11 03:31] #6809 closed

[2022-03-11 04:24] wherewhere commented on #6791
Mine! Mine! Mine! [APK Installer](https://github.com/Paving-Base/APK-Installer)
![mmexport1645260410258.png](https://user-images.githubusercontent.com/27689196/157800968-3272a2fc-28f8-4f79-b4a5-4450abc28ee5.png)
However, I use it only because it can use process. In fact, I don't like Windows App SDK at all. It write like UWP, looks like UWP. But it doesn't feel like UWP. What we need is a UWP whic

[2022-03-11 05:15] yume-chan commented on #6812
I can reproduce using the given markup.

To me it looks like `AutoSuggestBox` doesn't pass `Items` to `ListView` (only passes `ItemsSource`), so directly add items in `<AutoSuggestBox>` doesn't work.

[2022-03-11 06:16] StevenEdwardWood commented on #6798
Thanks for responding. My question in the UWP Developer forum was answered by RoyLi-MSFT indicating that I should open the issue you are responding to. According to Roy there is no programmer access for me to fix this behavior. I would assume that the current behavior is how Windows handles UI-XAML for single monitor systems and there was no additional cases handled for multiple monitor systems. O

[2022-03-11 06:50] ksmutny commented on #6562
@StephenLPeters Thank you. I was looking for ways to solve this issue: https://github.com/microsoft/microsoft-ui-xaml/issues/6560

What am I loosing from ListViewItemPresenter functionality, if I were to replace it by generic ContentPresenter? I read LVIP implements some ListView related optimizations, but didn't find any specifics.

[2022-03-11 07:16] ksmutny commented on #6560
@RBrid Thank you for your answer!

A. In general, shouldn't the component support such a use case with rendering the selection indicator, if checkboxes are off? I believe it would improve user experience if it were built in.

B. This is what I came up with so far:

<UserControl
    x:Class="PowerCommander.Controls.FolderBrowserPanel"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presenta

[2022-03-11 07:38] tinmac commented on #6815
Can you update us on the windowing API's that are being developed, is there an issue we can follow?

[2022-03-11 08:48] xperiandri commented on #6806
How is the main page built within Windows Store? I cannot attach to process to view a live visual tree
![image](https://user-images.githubusercontent.com/2365592/157833483-8d91e79f-9760-412b-a0c8-f266464e7356.png)

[2022-03-11 16:20] samyun commented on #6608
What Michael said - the attribute works for TextBlock, but not for FontIcon. This has been like this since at least Windows 10 TH1, and probably earlier.

[2022-03-11 17:14] #6204 closed

[2022-03-11 17:29] ryandemopoulos commented on #6791
This is good timing, so thanks for starting the discussion @omikhailov -- our community call next week will talk to this a bit. We have a couple partnerships with substantial apps (Fortune 500 companies that aren't Microsoft) happening right now, but I can't share specifics due to agreements with those companies. One or perhaps both of those apps will ship this year and we'll be able to talk about

[2022-03-11 17:33] kmgallahan commented on #6817
WinUI throws native exceptions constantly, including at app launch, app close, and when interacting with various controls such as opening drop downs.

The team is aware of this, but since the exceptions don't impact program execution I doubt that the situation will change.

#6352

[2022-03-11 17:36] yoshiask commented on #6812
Yes, that seems to be the issue. Binding `ItemsSource` to the data context works as expected.
![image](https://user-images.githubusercontent.com/7549325/157919429-5b66a375-e051-4222-922b-46683211ea99.png)

[2022-03-11 17:51] scout208 commented on #6815
Could you please address the issue with the touch keyboard not displaying when text input controls get focus? (https://github.com/microsoft/microsoft-ui-xaml/issues/6291)

[2022-03-11 18:09] prabakaran-sangameswaran opened #6818 "Left-right keyboard navigation not moved to previous or next row items in a ItemsControl"
### Describe the bug

When we use the right arrow key to move the focus from the last item in a row to the next row item, the focus does not move and vice versa.

### Steps to reproduce the bug

1. Download and run the [ItemsControl_Navigation_Issue.zip](https://github.com/microsoft/microsoft-ui-xaml/files/8234347/ItemsControl_Navigation_Issue.zip) sample

2. Select second item (Pumpskins) from th

[2022-03-11 19:15] Tropix126 commented on #6815
This might be WAY out of the scope of what can be answered in the community call, but this has been worrying me. New inbox apps on Windows 11 and many other cruical areas of the shell have been undergoing large overhauls from Win32/GDI to UWP Xaml. If these core components of the operating system are only now being migrated, and UWP is already on life support, how is support expected to be maintai

[2022-03-11 19:43] kennykerr commented on #6508
Sorry, nothing comes to mind.

[2022-03-11 21:37] bogdan-patraucean commented on #6816
@StephenLPeters There is only one menu flyout with only one group of radio buttons. But, what I did not considered and thought it should work by default, is that if I use a context menu in a UserControl, and that user control is used in a ListView, the Group is not scoped for each UserControl instance, but for the entire Page. What I did is adding a  unique GroupName like this: "Group-UserControlI

[2022-03-12 10:28] DierkDroth commented on #808
Still broken after releasing WindowsAppSdk. Confirmed with TextBox/TextBlock + Roboto font.

[2022-03-12 10:34] kengwang commented on #6496
I'm currently working on UWP and `Binding` seems not working.
For `Binding` there's no icon displayed, and no error is thrown.

[2022-03-12 10:39] kengwang commented on #6496
https://github.com/HyPlayer/HyPlayer.UWP/blob/73c72b0c4f14eb3dc33d68e82b843b57c7bdd79c/HyPlayer.UWP/Views/Pages/BasePage.xaml#L120
Project which can reproduce it is here.
I've been removed the line for `Icon` when committing.

[2022-03-12 14:38] saint4eva commented on #3364
That is what you get when a team decides to bet the feature of their on a less productive stack - C

WinUI itself is far from being feature complete. Do you think they would ever touch that python package again? CS/WinRT, CS/ Win32 and C++/WinRT have many issues that need to be resolved.

[2022-03-12 17:29] saint4eva commented on #6726
It does not matter which stack you are using. If Google flutter is more efficient and productive for you to build amazing Windows apps, kindly use it. As you can see, WimAppSdk and WinUI are progressing in a very slow manner.

[2022-03-12 19:54] AzAgarampur commented on #6815
Not sure if this is the right place to ask this but will comctl32/uxtheme GDI controls from classic windows desktop applications ever have a dark mode to match the themes that WinUI/XAML apps have?

[2022-03-13 05:16] shenan-shenan opened #6819 "Proposal:doc"
<Have c++ code if possible.

[2022-03-13 09:25] MajidAbuRmelah commented on #4710
@StephenLPeters @bkudiess
I am having the same issue. If this is not the way to do this, is there any **possible** way in WinUI3 we can use the webcam?
If not, what are the alternatives to solve this issue and will that option be available in the future releases?

[2022-03-13 10:09] harvinders commented on #6299
WE have further found few more things

[1] It is possible to load multiple UserControls, however you would need to do it in the code and then assign then to the Content properties, something like

[code]

[code]

[2] Also, these UserControls can't have a `DependencyProperty`.

[3] Also, the plugin can't define a `AttachedProperty` that can be used in the `UserControl`s XAML

[2022-03-13 10:25] rgomez90 commented on #4710
@MajidAbuRmelah @TamBuiWork I have checked back, and created a new sample project and this solution appears only to work if you set your platform to 'x64'.

I don't really know why this is so, only found [this](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/winrt-com-interop-csharp#troubleshooting-and-known-issues) but I am not sure if related....maybe @bkudiess can tell us someth

[2022-03-13 10:37] prabakaran-sangameswaran opened #6820 "NumberBox focus lost sometime anonymously when it got focus using mouse click"
### Describe the bug

Focus lost anonymously when try to focus on NumberBox using mouse click especially click on right most text area.

### Steps to reproduce the bug

1. Download and run the [NumberBox-Focus.zip](https://github.com/microsoft/microsoft-ui-xaml/files/8239365/NumberBox-Focus.zip) sample
2. Mouse click on the right most text or control area
3. First, control got focus and then lost

[2022-03-13 11:01] wnstngs opened #6821 "XAML automatic completion doesn't work in C++ project"
### Describe the bug

There is no autocompletion for markup in the C++ WinUI 3 project. In the C# project it works.

### Steps to reproduce the bug

1. Create new 'Blank App, Packaged (WinUI 3 in Desktop' project (C++ language)
2. Open `MainWindow.xaml` file
3. Try to create new Button control
4. Try to configure Button properties

### Expected behavior

_No response_

### Screenshots

_No respons

[2022-03-13 13:44] harvinders opened #6822 "Question: Is TabViewItem suppose to have shadow?"
If I understand correctly, figma toolkit shows TabViewItem without any shadow, however WinAppSdk 1.0 has TabViewItem with shadow.

Which is correct? I am trying to create a ribbon control directly beneath the TabViewItems and need to decide if that control should have shadow and how much.

[2022-03-13 15:28] wnstngs commented on #6515
With custom title bar minimize, maximize and close buttons very often are not handling mouse events.

[2022-03-13 15:40] nikolayvpavlov commented on #6815
We need to hear what the actual commitment of Microsoft on Windows App SDK and WinUI 3.0 is.

1. Are there Microsoft Windows applications (like, Notepad) developed in WinUI 3?
2. What is Microsoft's actual commitment, when news has it that a project like One Outlook (Project Monarch) is reportedly built on web technologies and not native? If Microsoft are not basing their core products on WinUI, w

[2022-03-13 16:07] brechtb86 commented on #4516
The issue is still there on the release version and .NET 6 .NET 6 and WinUI3 Windows 11 SDK, I committed my sample project in my repository [https://github.com/brechtb86/microsoft-ui-xaml-issues](https://github.com/brechtb86/microsoft-ui-xaml-issues). @ranjeshj Care to look at it if you have time?

[2022-03-13 17:52] pubtom commented on #6815
Please weake up Microsoft and add .NET 7/8 support to UWP!

https://developercommunity.visualstudio.com/t/Add-NET-678-support-to-UWP/1596483?space=61

[2022-03-13 19:20] mrlacey commented on #6815
I think it's worth adding the main docs page for WinUI to the list of places that need to get updated for each community call:

![image](https://user-images.githubusercontent.com/189547/158075529-8ff6f7cc-2da5-4b76-83d5-aa6081c488f7.png)

[2022-03-13 21:47] MarkBrainfire commented on #6454
I also experienced this same bug.

[2022-03-13 23:11] mc0re opened #6823 "UWP: Media playback crashes the app"
### Describe the bug

The app users complain that the video playback sometimes crashes the app after 10-20 minutes. No exception handler is triggered (I have three on the `App` level - `App.UnhandledException`, `AppDomain.CurrentDomain.UnhandledException` and `TaskScheduler.UnobservedTaskException`).

I couldn't reproduce the problem in Visual Studio (and after some updates I cannot even start the

[2022-03-14 04:27] Ritvik-UX opened #6824 "Question: How To Connect XAML Button To Custom C++ Code?"
Hello!
I'm new to XAML and WinUI.
I needed to open an SDL Window after clicking the XAML Button.
Can you explain how this can be achieved,
Thanks :)

[2022-03-14 06:08] seven-mile commented on #6815
😉Long time no see. Would you release a 1.1preview build or 1.0servicing at this time point? After silence for several months, I think most of developers are thirst for new releases. At least, please disclose more information about your recent progress! As promised WinUI3 is going to be open-source, currently it's too mysterious for us however.

[2022-03-14 11:46] VincentH-Net commented on #4127
See [C# Markup 2](https://github.com/VincentH-Net/CSharpForMarkup) for a developer-friendly C# Markup API for WinUI 3 (and other .NET UI frameworks as well).

WinUI 3 example using shorthand (for common property value combinations) and a few Flutter-like patterns:
![image](https://user-images.githubusercontent.com/1872271/158164844-189ec15d-ff3d-4e74-8998-1740ef83243f.png)

[2022-03-14 12:04] MEK3DK commented on #6815
As others write, please in this community call, focus on what **Microsoft** wants with WinUI 3.
I think it is safe to say that the community is in doubt whether Microsoft is committed to delivering WinUI 3 for professional use.

Example of an issue regarding whether WinUI can be used/is used.
[Real projects with WinUI](https://github.com/microsoft/microsoft-ui-xaml/issues/6791)

Since there is 250

[2022-03-14 12:12] fsuk commented on #6256
I was able to fix this issue in UWP by placing a Grid control around the WebView2 control

[2022-03-14 12:15] mayurpaghdal commented on #2020
@shaheedmalik  it depends on what type of app and for which users the app is being created. You or I cannot decide what % of the time any app is important or not.

I personally have clients who require tray icon and many module interaction based on that. (even if you look here, you wlil find many of the LIKERS are not agree with you.

Conclusively, one way or other, we need functionality of tray/n

[2022-03-14 12:16] nikolayvpavlov commented on #1500
@marb2000, thank you for your honest and clear answer.  I do appreciate it, and I am sure many of my dev colleagues do, too.

Unfortunately, your answer reveals that WinUI 3 will not be production ready by end of 2023.

[2022-03-14 14:14] RealTommyKlein commented on #6792
It isn't possible right now due to a reliance on build tasks only available via MSBuild.  There is an executable version of the Xaml compiler which is planned to ship in Windows App SDK 1.2, but its inputs handled via JSON are also generated via MSBuild - CMake could also generate those input JSONs though.  However other MSBuild tasks, like packaging/resource generation, may also need to be ported

[2022-03-14 14:21] JosHuybrighs opened #6865 "MenuFlyoutItem doesn't support KeyValuePair as CommandParameter in Winui Desktop"
### Describe the bug

I am porting a UWP desktop bridge app to WinUI3 Desktop and found an issue when assigning a KeyValuePair to the CommandParameter of a MenuFlyoutItem.
The following code generates an exception when executing:
[code]
The exception is:
[code]

When I remove the CommandParameter assignment or assign a 'real' object to it then it is OK.
I can work around this by creating a special

[2022-03-14 14:49] Ritvik-UX commented on #6824
@castorix | Thank You So Much For Clarification... Will try implementing 😃👍

[2022-03-14 19:58] VagueGit commented on #1500
As the WinUI team has not prioritized a DataGrid, the mass of business app developers have disengaged from the WinUI project. Corporate developers are not onboard with this project. The WinUI team has lost an important source of guidance for the project's direction.

The WinUI team is left to draw guidance from developers who are already onboard with xaml. 'Preaching to the converted'.

Without co

[2022-03-14 20:01] robloo commented on #1500
WinUI essentially is serving Windows needs at this point. I raises several similar concerns in the past that they are repeating the same UWP-type mistakes. Project management is aware but they never responded to those issues. My company as you said has disengaged and is moving to Avalonia. This is an issue for C++ apps.

[2022-03-14 21:00] mc0re commented on #6481
I have the exact same error. And I don't use `StylesVersion` in my code.

[2022-03-14 22:14] ojhad commented on #3652
@nkasco what version of WinUI are you using?

[2022-03-14 22:21] ojhad commented on #6496
@evelynwu-msft @RealTommyKlein This seems like an XMP issue because the error is failing to set the IconElement property to an instance of an AnimatedIcon. Any idea what might be going on here?

[2022-03-14 22:32] chingucoding commented on #6681
@StephenLPeters and @ranjeshj Should dictionaries be updated in chunks as separate PRs or would it be better to just change files if they are just being touched by a different fix/feature?

[2022-03-14 22:44] ojhad commented on #6562
@ksmutny You are not going to be able to put a grid between ListViewItem and ListViewItemPresenter. However you should able to place the grid within the ListViewItemPresenter to achieve the customizations you need.

[2022-03-14 22:48] ojhad commented on #6668
@HO-COOH what version of WinUI are you using?

[2022-03-14 23:00] ojhad commented on #6812
I can't reproduce this either. @yoshiask what SDK version are you using?
 @RealTommyKlein Any ideas as to what could be going wrong here?

[2022-03-14 23:09] ojhad commented on #6816
This definitely sounds like a bug. It works in standard situations like multiple panels in a page with their own sets of radio button elements. I suspect the issue here is arising due to the buttons being in a popup. I assume that the radio button group is being associated with the popup root.
I'm glad you found a workaround!

[2022-03-14 23:11] ojhad commented on #6817
Marking as duplicate of: https://github.com/microsoft/microsoft-ui-xaml/issues/6818
Thanks Kevin!

[2022-03-14 23:11] #6817 closed

[2022-03-14 23:20] ojhad commented on #6818
This is by design. ItemsControl is a low level component and is just using XYFocus. GridView has the behavior you are looking for and may be more suited for your needs.

[2022-03-14 23:20] #6818 closed

[2022-03-14 23:21] #6819 closed

[2022-03-14 23:25] ojhad commented on #6821
@evelynwu-msft FYI

[2022-03-14 23:27] ojhad commented on #6822
Figma and WinUI2 are correct. WinUI3 should get an update shortly to include this functionality. @chigy FYI

[2022-03-14 23:27] #6822 closed

[2022-03-14 23:30] ojhad commented on #6823
@ocalvo @asklar FYI

[2022-03-14 23:34] asklar commented on #6823
I don't work in this area, perhaps you wanted to tag @codendone :)

[2022-03-14 23:48] rmarinho commented on #6293
Can we try wpf on net6 with winUI via yaml islands?

[2022-03-15 00:09] MikeHillberg commented on #6471
Can you use the [TextBox.BeforeTextChanging](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Controls.TextBox.BeforeTextChanging) event? This is intended for text filtering scenarios.

[2022-03-15 01:19] yoshiask commented on #6812
@ojhad I'm targeting v2004 / b19041.

[2022-03-15 03:05] Gavin-Williams commented on #2020
Conclusively, we also need functionality to configure whether an app resides in the taskbar corner.

[2022-03-15 03:14] kotx commented on #2020
That's... out of scope for this project?

[2022-03-15 08:00] pjmlp commented on #6815
Hope alone doesn't cut it any longer:

- Rewrite Win32 into Windows 8 WinRT model, using three API models across mobile, tablet and desktop
- Rewrite Windows 8 WinRT into Windows 8.1 UAP model, using two API models across mobile/tablet and desktop
- Rewrite Windows 8.1 UAP into Windows 10 UWP model, using one Core model across mobile, table, desktop, HoloLens and XBox
- Merge classical Win32 with

[2022-03-15 09:51] AtosNicoS commented on #1541
Hey guys,
I just wanted to write a new WinUI 3 Application (1.0.0 release) and noticed, that specifying a ResourceDirectory with a simple color wont work. You explicitely need to add a using for that. That feels weird. Is that related to this issue?

[code]

[2022-03-15 13:36] RealTommyKlein commented on #6812
This is what I found as well.  This is unrelated to Binding/x:Bind, setting `ItemsSource` works but `Items` doesn't.  @ojhad here's a repro in a VS project, where the project's markup uses `Items` which doesn't work, but clicking the Button sets `ItemsSource` in code-behind which then works: [AutoSuggestBoxRepro.zip](https://github.com/microsoft/microsoft-ui-xaml/files/8253750/AutoSuggestBoxRepro.

[2022-03-15 14:00] brechtb86 commented on #4516
Update, if I set the VerticalCacheLength to a high number, the issue does not present itself, VerticalCacheLength then needs to be higher than the actual amount of items. Is this normal behaviour?

[2022-03-15 14:13] chingucoding commented on #4516
I think this is an issue with the virtualization code not updating the containers correctly.

The TL,DR; version of this is that the ItemsRepeater creates a fixed number of realized templates (in your case DummyObjectControl) and keeps updating the controls to what object in the collection they should render. If they don't update correctly, it seems as they will get "shuffled" around since ItemsRe

[2022-03-15 15:26] shaheedmalik commented on #2020
Sure I can. I am the user. The user decides.

[2022-03-15 15:27] brechtb86 commented on #4516
@chingucoding alright, in my actual app these user control items will contain a background image, this will slow down scrolling depending on the amount of items am I right? I will set the VerticalCacheLength to a high number for the time being, I don't expect a very large number of items for now, but it would be nice if this could be fixed.

[2022-03-15 16:09] RealTommyKlein commented on #6549
@StephenLPeters - this is the multiparent icon issue (same callstack) - I suspect this is virtualization related.  When the 4th entry for `Mail` is present for some reason the navigation view reapplies the 3rd entry, `Phone`, after applying `Mail`.  Not sure if it's worth duping this to #6496 (more info/workaround in [this comment](https://github.com/microsoft/microsoft-ui-xaml/issues/6496#issueco

[2022-03-15 16:19] SeidChr commented on #2020
Great, I am the user too. I find it super duper important. so add it!

[2022-03-15 17:03] HO-COOH commented on #6668
The default WinUI that bundles with Windows 11, I think. I did not used anything from `Microsoft.UI.Xaml.Controls`. (Updated in the issue.)

[2022-03-15 19:00] chingucoding commented on #4516
Yes that would slow down scrolling performance at some point (depending on the size of items and number of items). Agree with you that it be good if this was fixed.

[2022-03-15 19:12] nor0x commented on #5386
any updates on this? I tried `VerticalContentAlignment` but it doesn't change the placeholder position
![image](https://user-images.githubusercontent.com/3210391/158453542-2c5351e5-acd4-464b-970a-a8d7d7b57d3d.png)

[2022-03-15 20:11] vickoza opened #6832 "Treeview in WinUI3 crashes on pressing the close button"
![image](https://user-images.githubusercontent.com/14866412/158463169-462827fc-4a72-43bc-8129-5a62425d355a.png)

[2022-03-15 22:04] nkasco commented on #5918
Any workarounds for this?

[2022-03-15 23:27] ojhad commented on #6668
This does look like a bug, I can reproduce it. I suggest trying to define the contentdialog in the tree or creating it in code behind. Those two methods worked for me. Also in SystemXaml defining the XamlRoot is not necessary.

[2022-03-15 23:40] dotMorten commented on #1541
@AtosNicoS Are you sure? I have this in my resource dictionary and works just fine in WinUI 3 v1.0:
[code]

[2022-03-15 23:41] ojhad commented on #6832
What version of WinUI3 are you using? Are you able to make a minimum repro project for the issue?

[2022-03-15 23:50] ojhad commented on #6496
Thanks Tommy! Strange that for the author this works with FontIcon. @kengwang can you Tommy's suggestion?

[2022-03-16 00:52] vickoza commented on #6832
I believe the latest stable version but how do I check and how do I create a minimum repo project for the issue?

[2022-03-16 02:12] codendone commented on #6823
The error shown here is a noisy exception. I'm assuming this exception was hit via a call from the media playback code, but I can't tell from this callstack since it happened on a background thread-pool thread. It is possible here that whatever caller this is might end up using the wrong DPI if this error is unexpected, but it won't cause a crash. A debugger may or may not break in on OriginateErr

[2022-03-16 03:42] AndrewKeepCoding commented on #4516
I manage to reproduce your problem and got to fix it by making the `Title` Dependency Property `static`. So, I guess this problem it's not related to the `ItemsRepeater` itself. At least, I hope so since I want to use as a main component in a app. (・∀・)

[2022-03-16 05:59] gabbybilka opened #6836 "📢 Call for Feedback for WinUI Community Calls"
As we kick off Year 3+ (🎉!) of the WinUI community call I wanted to invite you, our community, to reflect and leave comments on what you would like to see in the monthly call. Thank you in advance for your feedback!

If you're unfamiliar with the WinUI community call, it is a call among the WinUI team that is live-streamed onto YouTube. We present on new updates, share information, welcome guests,

[2022-03-16 06:20] DeepthiCG commented on #6793
This is a XAML Island related issue. In C# component,  native winrt controls are only used. Also This C# component can be used in C++WinRT Blank app without any issues. Issue exists when hosting in an MFC application using XAML Island.

[2022-03-16 07:00] #6533 closed

[2022-03-16 07:00] #6532 closed

[2022-03-16 07:00] #6501 closed

[2022-03-16 07:01] brechtb86 commented on #4516
@AndrewKeepCoding This example is just the bare minimum, I'm actually using DP in my real control in an other project, I'll try and make them static too tonight and see what it does, however it still smells fishy to me, we should have to "work around" like this.

[2022-03-16 07:49] AndrewKeepCoding commented on #4516
@brechtb86 Just to clear. By adding `static` I mean the `TitleProperty` not the actual `Title` property. My understanding is that you need them to be `static`. The code below is from your repo. Your `TitleProperty` is not `static`.

[code]

[2022-03-16 07:57] MartinZikmund opened #6837 "`NavigationView` selection indicator sometimes stays in incorrect location"
### Describe the bug

We noticed this problem in our ported version in Uno Platform (specifically https://github.com/unoplatform/uno/issues/5704). This problem occurs when `NavigationView` is in "minimal" mode and closes after item selection. In such case the selection indicator in some cases does not correctly move to the newly selected (and collapsed) item. It becomes even more visible for neste

[2022-03-16 07:57] MartinZikmund commented on #6837
We have already fixed the problem in Uno Platform via https://github.com/unoplatform/uno/pull/8272, so I can replicate the same fix here as well - please assign this to me 👍

[2022-03-16 10:37] szblajos commented on #6454
Yes, this issue still exists, but DisplayAreaWatcher works as expected so its relatively easy to make a workaround until this is fixed.

1. Make your class Implement IDisposable interface
2. Declare a collection e.g an ObservableCollection that holds DisplayArea data.
3. Manage the collection with DisplayAreaWatcher and its events. (Display_Added, Display_Removed)
4. Stop watcher when your class i

[2022-03-16 11:51] wherewhere commented on #3364
After J#, C#, F# and B# (VB.NET), it will comes out P#?

[2022-03-16 12:44] terrycox commented on #6815
Can you address how WinUI 2 is playing out against WinUI 3? When does WinUI 2 go into maintenance mode?

[2022-03-16 13:54] harvinders commented on #6815
Recently, the team has mentioned that they would like to concentrate on improving the quality and address fundamental infrastructure pieces. I am wondering if it would mean addressing an issue about loading Xaml controls using reflection from assemblies not part of the main app? This would enable many of us to start writing applications with plug-in architecture. Please see #6299 for more details.

[2022-03-16 13:57] iloxmn opened #6838 "Proposal: Add duration for InfoBar"

[2022-03-16 14:03] odyright opened #6839 "Question: [How to add ResourceDictionary with Code-behind] C++/WinRT"
I got that error : ` This Xaml file must have a code-behind class to use {x:Bind}` when I was compiling.

[2022-03-16 14:18] llothar commented on #6815
Can we make the Xaml compiler a standalone executable, or even as a standalone/redistributeable DLL.
This is one missing feature if  we want to use easily cmake integration.

Also it should be able work in interpreter mode so we can integrate it with script languages and script plug-in architecture as mentioned by @harvinders  above.

[2022-03-16 15:10] huoyaoyuan commented on #6815
I mentioned that in Reunion roadmap updated today, you say you will increase usage of WinUI 3 in the Windows OS.
**Please hurry up.** The first release of Windows 11 looks very incomplete, as the same of WindowsAppSDK 1.0.

I can understand you are getting rid of design debt of Windows 8, which coupled too much things. But the transition period is too long. **It's 10 years from Windows 8 release n

[2022-03-16 15:59] llothar commented on #6815
When 1.0 or 1.1 gives us more freedom to deploy non MSIX packages, are you going to provide WiX (Windows Installer XML Toolkit) with samples and tutorials?

[2022-03-16 17:08] SavoySchuler commented on #6815
@tinmac

Hi, @tinmac! These can be found on the [1.1 WinAppSDK Roadmap](https://github.com/microsoft/WindowsAppSDK#roadmap). 🙂

[2022-03-16 17:26] BestOwl opened #6840 "Unable to display device paring UI in a WinUI 3 app"
### Describe the bug

Unable to display `Windows.Devices.Enumeration.DeviceInformationPairing` device pair UI to pair bluetooth devices in a WinUI 3 desktop app. When you call `DeviceInformationPairing.PairAsync()`, nothing happens and the pairing process will fail in a few seconds.

The workaround mentioned in this doc does not work for this case
https://docs.microsoft.com/en-us/windows/apps/deve

[2022-03-16 17:32] #6815 closed

[2022-03-16 17:39] kmgallahan commented on #6836
A list of deep dive topics populated by the WinUI team & community could be provided and voted on. The winner(s) could then get a companion blog post and be discussed on the call.

Most of the code isn't open source, so talking about the closed source code and sharing diagrams/details and explaining what makes working with it complicated (I imagine) would be interesting.

The blog post could be re

[2022-03-16 17:59] kmgallahan commented on #2013
@gabbybilka Just bumping this suggestion to add Discussions that I made ~2 years ago.

A good amount has changed since the beta, including the addition of labels for discussions.

At a minimum discussions should existing as a place to reroute all/most Issues flagged with the Question label.

Release and community call announcements could definitely be moved there as well.

The WindowsAppSDK setup

[2022-03-16 18:50] TamBuiWork commented on #6815
Thank you for addressing a rough timeframe for media controls on WinUI3. Sounds like Ryan Demopoulos says he's confident it should arrive with SDK 1.2 (2H'22?). This gives developers like me a clear direction for the coming year on how I want to approach projects related to those features, and which frameworks to use.

For anyone else interested in what was said, fast forward the stream to approx

[2022-03-16 19:11] markolbert opened #6841 "XAML 2009 support?"
Does WinUI 3 v1 support XAML 2009? If so, how do I engage it (i.e., assemblies to install, xmlns referenes, etc.)?

[2022-03-16 19:21] wbokkers commented on #6836
Please stop ignoring me and fix these issues that plague our users the most:
- layout cycle crashed due to a scrollviewer bug: https://github.com/microsoft/microsoft-ui-xaml/issues/6218
- drag/drop crashes: https://github.com/microsoft/microsoft-ui-xaml/issues/4574
- Recently I found that a lot of our users run into an issue with the clipboard: https://github.com/microsoft/microsoft-ui-xaml/issues

[2022-03-16 19:22] wbokkers commented on #6836
The servicing release is very disappointing. None of the issues I listed are addressed afaik. And they are major issues.

[2022-03-16 19:40] kmgallahan commented on #6836
@wbokkers unclear how complaining about open bugs relates to the subject of this issue.

[2022-03-16 19:41] Pinox commented on #6815
I literally can't watch these community calls anymore, it just makes me sad :((

I was hoping that open sourcing WinUI can solve some of the 2.5k issues we have but to me it's starting to look like a lost cause as it's probably only going to increase the issues we have.  Sad that we still have to wait more years for open sourced WinUI.

The whole time I'm thinking MS does not have the resources to

[2022-03-16 19:42] wbokkers commented on #6836
@kmgallahan unclear how these issues are not related? These issues are open for months. Used in a big app. And we really, really want them to go away. I tried every channel to bring them to the attention of Microsoft.

[2022-03-16 19:48] akash07k opened #6842 "Missing WYSIWYG editor Functionality in WinUI?"
### Describe the bug

It seems that WYSIWYG editor functionality is missing in WinUI.
I checked all the documentation, classes etc. related to WinUI but couldn't find such component.
The thing is that I'm developing an open source note taking application.
I want to provide the functionality to the user where they can implement the headings, lists, links, tables etc. in for the text right there in

[2022-03-16 19:51] akash07k commented on #6725
@castorix
I don't know if it is a wrong way. if it is a wrong way then I'd love if someone from MSFT please guides me on this

[2022-03-16 20:06] kmgallahan commented on #6836
This issue is asking about how to improve the community calls. I don't see how providing a list of open bugs translates to a change you'd like for future community calls.

Everyone wants their bugs to get fixed. That doesn't mean everyone should list their bugs here.

[2022-03-16 20:18] wbokkers commented on #6836
@kmgallahan I am not sure why you are the one to decide what another member of the community thinks is important.
To me improving community calls is start listening to all members of the community. This is not about my issues per se, it is about not taking issues seriously. In the previous Community Call, as you might remember, there was a lot of talk about this.

[2022-03-16 20:32] kmgallahan commented on #6836
@wbokkers again, this issue is about improving **the community calls themselves**, not WinUI. Fixing misc bugs isn't a change to the community calls.

[2022-03-16 20:39] MEK3DK commented on #6836
@kmgallahan I agree with you, but the problem atm is that there is no feedback from the team on issues in this forum. To many this is very frustrating and community calls seems to be the only place to raise issues/get a response.

[2022-03-16 20:48] wbokkers commented on #6836
@kmgallahan To me, improving the community calls themselves is focusing more on what the community, making real world apps and relying on WinUI, is coming across using WinUI. It's a **WinUI** Community Call after all. This kind of conceptual blah blah about the purpose of this post is a bit too much.... What is the best place to show my frustration with some change Microsoft is listening? During C

[2022-03-16 20:50] kmgallahan commented on #6836
@MEK3DK Yes, and the normal community call announcements are a great place to ask for feedback. Here though:

MS: "How can we improve future calls?"
Reply: "Here are some bugs"
MS: "???"

[2022-03-16 20:53] wbokkers commented on #6836
MS: "How can we improve future calls?"
Reply: "Here's a list of bugs I repeatedly bring up during Community Calls: don't ignore me"
MS: Ah, I see. Maybe we should show progress on issues and give insight in how we prioritize those issues.
Reply: "Yeah, exactly, it didn't cross my mind to formulate it in this better way, but thank you for understanding what's going on"

[2022-03-16 21:18] MrDeej commented on #6836
Great that multi-window support is included in 1.01, looking forward to trying it out!

[2022-03-16 23:47] myokeeh commented on #6836
Just about everything I've used for my current apps broke or are in limbo.

(Windows) Template Studio - 🤷
Wind2D - 🤷
Kiosk mode / assigned app - 🤷
Store for Business - 🤷

How do I even start/restart?

[2022-03-16 23:47] kmgallahan commented on #6842
https://github.com/microsoft/microsoft-ui-xaml/issues?q=is%3Aissue+in%3Atitle+designer+

[2022-03-17 05:44] akash07k commented on #6842
@kmgallahan
There's no issue at this link which talks about this functionality.
any specific reason to provide the link please?

[2022-03-17 06:36] pjmlp commented on #6842
If you actually read the contents,.you will see it is the search results from all issues complaining about a missing designer.

TL;DR; be happy there is hot reload, and maybe some day a designer might be reintroduced in WinUI 3.0.

[2022-03-17 06:42] akash07k commented on #6842
No my bro, my issue is not about XAML designer.

My issue is regarding an editor component (Kind of an extension to
RichEditBox) where we can implement the headings, tables etc.

Yes, XAML designer is also quite important.

I agree.

On 3/17/2022 12:06 PM, pjmlp wrote:

[2022-03-17 07:05] pjmlp commented on #6836
Nowadays I just follow the community calls to keep an eye on how the pain points are being sorted out, and if it is worthwhile to ever advise anyone to use WinUI for a greenfield application, other frameworks and Web, pay my bills now, after 6 years desilusion with WinRT management.

While the effort put by the team is very appreciated, I have the feeling that you lack resources, are lost in a kin

[2022-03-17 10:09] dongle-the-gadget commented on #6836
Kenny Kerr, but anyway I'm not sure who decided to deprecate C++/CX in favor of C++/WinRT when the Visual Studio team haven't made the tooling perfect.

[2022-03-17 10:15] dongle-the-gadget commented on #6836
Win2D: `Microsoft.Graphics.Win2D` NuGet package?

[2022-03-17 10:19] wbokkers commented on #6836
I think C++/WinRT was the right move. But it can only work with powerful tooling. Now Kenny Kerr is working on Azure IoT. Azure gets all the attention at Microsoft. Maybe WinUI should be rebranded as Azure UI.

[2022-03-17 10:26] dongle-the-gadget commented on #6836
Honestly I just want MS to continue working on C++/CX

[2022-03-17 10:34] mrlacey commented on #6836
@myokeeh I expect a Template Studio announcement next month 😉

[2022-03-17 11:13] MEK3DK commented on #6836
I think this post should be renamed to: "Let us hear about your frustrations regarding WinUI" and then create a new one regarding call feedback. :-)

I think this post have gone to much off track to be usefull for feedback.

@gabbybilka please fix the post.

[2022-03-17 11:14] IVVOVVI opened #6845 "Is it possible to use WinRT XAML controls in WinUI 3?"
I know the XAML Islands, but these existing docs are all about Win32, WinForm and WPF. How to use custom and 3rd party WinRT (UWP) XAML controls in WinUI3?

[2022-03-17 11:27] wbokkers commented on #6836
An attempt to answer the questions:

**What should we do more of?**

* Answer questions listed in the feedback on a more technical level when possible.
* Show progress on the github issues.
* Show changes in prioritization on the github issues.
* Try to meet the community where they are struggling getting things to work: migration paths, examples, workarounds,...
* Really listen to feedback. Try t

[2022-03-17 11:42] harvinders opened #6846 "Expander Control visuals seems incorrect"
### Describe the bug

1. The expander header area has shadow. Pay attention to bottom right of the header

![image](https://user-images.githubusercontent.com/8557046/158799887-0d899e8f-4e9f-4f57-ad69-acb6db99fd0c.png)
![image](https://user-images.githubusercontent.com/8557046/158799964-1b66a789-aa21-43aa-bfcb-106f6b2a39da.png)

2. The Expanded region doesn't stand out in light mode, dark mode it w

[2022-03-17 12:29] chrkon opened #6847 "WinUI3 - ManipulationStarting Event only occurs on first touch -> e.Container Property is null in following manipulation events"
### Describe the bug

I want to read the Container Property from the ManipulationEventArgs. But I get a null reference Exception for this property if I touch the Screen a second time.
As a second effect the Touch Position contains an offset. It seems that the Position is relative to the parent control.

### Steps to reproduce the bug

1. create a sample WinUI 3 App with a rectangle as content.
2.

[2022-03-17 12:47] YunyiZhang commented on #4377
How to call ICoreWebView2Interop,  I used the following definition of [ICoreWebView2Interop](https://github.com/microsoft/microsoft-ui-xaml/blob/main/dev/WebView2/TestUI/WebView2BasicPage.xaml.cs#L1955), but it still didn't work

[2022-03-17 12:49] YunyiZhang commented on #4377
How to call [ICoreWebView2Interop](https://github.com/microsoft/microsoft-ui-xaml/blob/main/dev/WebView2/TestUI/WebView2BasicPage.xaml.cs#L1955), I used the following definition of ICoreWebView2Interop, but it still didn't work

[2022-03-17 12:59] chrkon commented on #6847
A new information on this issue: If you make a single tap (or just a mouse click), then the next pan gesture will send all Manipulation Events (including the ManipulationStarting event).

[2022-03-17 13:21] kmgallahan commented on #6846
Probably another dupe of #6194 @StephenLPeters ?

[2022-03-17 13:44] chrkon commented on #6810
Win2D is a good Option. Just drawing on a SwapChainPanel.
Take a look on this discussion [https://github.com/smourier/DirectN/issues/8](https://github.com/smourier/DirectN/issues/8) for more information.

[2022-03-17 15:32] jrhale200 opened #6848 "When I view the Visual Studio toolbox and view all, the tool list is all grayed out. My previous sign-in email needed to be deleted because the internet service provider was no longer in business and I forgot the password. As a result, I am now set up in Sign-in for my current email, but I don't know where I am going wrong to get Visual Studio Community to work correctly in developer mode. Please advise when you can. thank you."

[2022-03-17 17:17] byrialsen commented on #6291
@gabbybilka: Is anyone looking into this.

This error makes it impossible to enter text into a Texbox on a Surface Tablet without hard-keyboard. 🙈🙈

[2022-03-17 17:50] bryfa opened #6849 "CommandBarFlyout doesnt work or unstable"
### Describe the bug

Exception thrown at 0x753D60B2 in WinUI3FlyoutCommandApp.exe: Microsoft C++ exception: winrt::hresult_error at memory location 0x0337D6B8.

### Steps to reproduce the bug

1. Just create a WinUI3 packaged desktop app for C#
2. Copy the sample code from the docs
3. Run it and try it out

### Expected behavior

Should be stable

### Screenshots

_No response_

### NuGet package

[2022-03-17 17:56] bryfa opened #6850 "ColorPicker crashes"
### Describe the bug

In some situations the ColorPicker crashes.

### Steps to reproduce the bug

1. Just create a WinUI3 desktop app
2. Add the control and use, it try to select a color

We had problems in some situations. If you create a new app and use the colorpicker then it works fine.
In other more complex scenario's where we have all kind of components in our setup,  it crashes.

I could n

[2022-03-17 18:43] mmthomas commented on #5299
Is there any update on this issue on Windows 10?  Using InkCanvas in several places, including the main posture of the app.  Is there another workaround than removing round corners in ContentDialogs and main root containers of InkCanvas elements?

[2022-03-17 19:37] Phil4121 commented on #6782
Same issue here after updating to the new Microsoft.WindowsAppSDK (1.0.1)

[2022-03-17 22:14] ojhad commented on #6832
Can you recreate the crash in a separate project that has the minimum required code to do so? Alternatively, could you provide the code you are using and the steps you take to cause the crash?

[2022-03-17 22:17] ojhad commented on #6837
@MartinZikmund thanks for finding a fix! Assigned the issue to you.

[2022-03-17 22:19] ojhad commented on #6838
This seems simple to do for the app itself with a DispatchTimer. @gabbybilka assigning this to you for evaluation

[2022-03-17 22:22] ojhad commented on #6839
x:Bind is a Xaml markup exclusive feature, so you unable to utilize it from code-behind. Beyond that, we would need more details about your specific scenario to be able to answer your question.

[2022-03-17 22:22] #6839 closed

[2022-03-17 22:26] ojhad commented on #6840
@codendone @MikeHillberg Any ideas on where this issue should go?

[2022-03-17 22:29] ojhad commented on #6841
@fabiant3 @MikeHillberg Can you weigh in?

[2022-03-17 22:42] ojhad commented on #6845
Components targeting the UWP platform (System Xaml) like Windows Community Toolkit are not compatible with WinUI3 by default. Windows Community Toolkit and many of our other partners have produced compatible versions.

WinUI3 does not support islands to WinUI2.

@MikeHillberg to double check

[2022-03-17 22:42] ojhad commented on #6845
@marb2000 FYI

[2022-03-17 22:44] ojhad commented on #6846
@codendone FYI another instance of gradient bug

[2022-03-17 22:44] #6846 closed

[2022-03-17 22:46] ojhad commented on #6847
@JJBrychell FYI

[2022-03-17 22:51] ojhad commented on #6848
We can't help with this issue. You should try submitting feedback here: https://developercommunity.visualstudio.com/

[2022-03-17 22:51] #6848 closed

[2022-03-17 22:56] ojhad commented on #6849
Is this a first chance exception which is handled if you continue past the error?

[2022-03-17 22:57] ojhad commented on #6850
Without repro steps this is going to be challenging to track down. Can you try and get a crash dump with your app?

[2022-03-17 23:19] MusixTX commented on #6782
Same here after updating to the new Microsoft.WindowsAppSDK (1.0.1)

[2022-03-17 23:23] gabbybilka commented on #5615
Fixed in Windows App SDK 1.0.1, check out the [release notes](https://github.com/microsoft/WindowsAppSDK/discussions/2291) for more info.

[2022-03-17 23:23] #5615 closed

[2022-03-17 23:24] gabbybilka commented on #5570
Fixed in Windows App SDK 1.0.1, check out the [release notes](https://github.com/microsoft/WindowsAppSDK/discussions/2291) for more info.

[2022-03-17 23:24] #5570 closed

[2022-03-17 23:24] gabbybilka commented on #6333
Fixed in Windows App SDK 1.0.1, check out the [release notes](https://github.com/microsoft/WindowsAppSDK/discussions/2291) for more info.

[2022-03-17 23:24] #6333 closed

[2022-03-17 23:24] gabbybilka commented on #6246
Fixed in Windows App SDK 1.0.1, check out the [release notes](https://github.com/microsoft/WindowsAppSDK/discussions/2291) for more info.

[2022-03-17 23:24] #6246 closed

[2022-03-17 23:34] harvinders commented on #6846
@ojhad What about point 2? In light mode the expanded area background is barely distinguishable from the page background.

![image](https://user-images.githubusercontent.com/8557046/158800308-0c57ea97-8ab0-4fdd-83e4-ca1df1905d5e.png)

However, dark mode it is easy to differentiate.

![image](https://user-images.githubusercontent.com/8557046/158800351-08940a4a-f09c-4f18-a548-29d3e61e5718.png)

[2022-03-18 01:00] #6643 closed

[2022-03-18 02:17] iloxmn commented on #6838
Yes it's simple, but it needs extra code.

The InAppNotification control in Windows Community Toolkit have this, don't know why InfoBar doesn't have it. It's basically the same stuff.

[2022-03-18 04:04] codendone commented on #5918
Multiple Windows on the same thread is now supported in Windows App SDK 1.0.1. Check out the [release notes](https://github.com/microsoft/WindowsAppSDK/discussions/2291) for more info.

[2022-03-18 04:04] #5918 closed

[2022-03-18 05:45] Linjie123 opened #6851 "The scroll bar display problem of listview under stackpanel and grid？"
The listview in the stackpanel layout cannot display the scroll bar. In the grid layout, the listview displays the sliding bar and the mouse can scroll.

<Grid Height="500">
        <Grid.ColumnDefinitions>
            <ColumnDefinition />
            <ColumnDefinition />
        </Grid.ColumnDefinitions>

        <StackPanel Grid.Column="0" Orientation="Vertical">
            <TextBlock FontSize=

[2022-03-18 07:03] bryfa commented on #6850
Exception thrown at 0x00007FF80BD2354C in TCScripter.exe: Microsoft C++ exception: winrt::hresult_error at memory location 0x00000072137A8520.

![image](https://user-images.githubusercontent.com/8579202/158952764-c5826b78-7a9a-4fd5-9ce0-59c61d147603.png)

[2022-03-18 07:07] bryfa commented on #6850
![image](https://user-images.githubusercontent.com/8579202/158953373-c0974857-b78b-47e5-824a-da063854a89d.png)

[2022-03-18 07:22] bryfa commented on #6850
Faulting application name: TCScripter.exe, version: 1.0.0.0, time stamp: 0x6216d2c0
Faulting module name: Microsoft.ui.xaml.dll, version: 3.0.0.2111, time stamp: 0xde84111e
Exception code: 0xc000027b
Fault offset: 0x0000000000766328
Faulting process id: 0x0xF7EC
Faulting application start time: 0x0x1D83A986060C311
Faulting application path: C:\Users\...\bin\x64\Debug\AppX\TCScripter\TCScripter.exe

[2022-03-18 07:57] bryfa commented on #6850
sorry closed this issue by accident..
The crash dump:
https://moworksnl-my.sharepoint.com/:u:/g/personal/barry_faassen_moworks_nl/Ee_zD6hVFX9Nrx9uCi3mXm4BxZ5ImDF4E2XMoHzlBaVhIQ?e=YLpw4v

[2022-03-18 09:03] rmoergeli commented on #6782
Same here after updating to the new Microsoft.WindowsAppSDK (1.0.1)

[2022-03-18 09:03] IVVOVVI commented on #6845
Thanks for your reply. I have two problems here.
1. I've made a lot of custom controls over the past decade, based on C++/CX and PPL. The Windows App SDK only supports C++/WinRT, so rewriting them will take a lot of work. And I also have some 3rd party controls, not WinUI2. Is there a way to keep using these controls? Or will it be supported in the future?
2. It seems that WinUI3 Composition can't

[2022-03-18 11:56] TheOnlyBeardedBeast commented on #2499
I saw an article for something similar https://matteo.tech.blog/2020/10/26/template-based-code-generation-with-razor-and-roslyn/

[2022-03-18 12:02] Mephisztoe commented on #6112
I just migrated from Preview 13 to Preview 14 and also updated the nuget package Microsoft.WindowsAppSDK from 1.0.0 to 1.0.1. I don't know actually if any of these triggered that error, but now I cannot build my app anymore because of the same messages stated above:

1>....csproj : XamlCompiler error WMC1007: Cannot resolve metadata for WinUI types. Please ensure that Nuget Restore was successful.

[2022-03-18 12:09] Mephisztoe commented on #6782
Same here after updating to the new Microsoft.WindowsAppSDK (1.0.1)

[2022-03-18 12:50] Mephisztoe commented on #6782
Have a look at your csproj file. Because upgrading to 1.0.1 adds a reference there which is not being removed when downgrading again. As soon as you remove the additional line you should be good to go.

[2022-03-18 12:51] Mephisztoe commented on #6782
@ajgarciaj [ajgarciaj](https://github.com/ajgarciaj)
Have a look at your csproj file. Because upgrading to 1.0.1 adds a reference there which is not being removed when downgrading again. As soon as you remove the additional line you should be good to go.

[2022-03-18 13:19] kathigeiger42 commented on #6280
Any news on this? I'm also having this problem.

[2022-03-18 13:35] wbokkers commented on #6218
@gabbybilka @RBrid @marb2000

Why is this not fixed in the servicing release 1.0.1? All of our users with a scaling other than 100% will see frequent crashes. This bug even occurs in your own WinUI 3 gallery app.

This would be a blocking issue in every other professional software development organization! Why can Microsoft can get away with this?

[2022-03-18 13:55] kmgallahan commented on #6782
I've done these steps before to get past a similar problem:

1. Visual Studio > Build > Clean Solution > Close VS
2. Project Folder > Delete **bin** & **obj** folders
3. User Folder > Delete **.nuget** folder (or at least the microsoft.windows*.* folders inside)

---

FYI, I'm running 1.01 right now just fine and didn't run into this problem - unclear on the cause.

[2022-03-18 15:16] ajgarciaj commented on #6782
This seemed to be not working for me, i changed 2 references in csproj file and the error persist. Thanks.

[2022-03-18 15:21] robloo commented on #6468
@karenbtlai Here is the place where this is set. It has been re-templated for now in the app to solve the issue. A fix in WinUI likely needs two new resources for Width and HorizontalAlignment.

https://github.com/microsoft/microsoft-ui-xaml/blob/01eea310f89b72109a36de6537e3357fb2421556/dev/NavigationView/NavigationView_rs1_themeresources.xaml#L1209

[2022-03-18 15:29] ajgarciaj commented on #6782
Thnks, it's working

[2022-03-18 16:13] IVVOVVI commented on #6851
This is by design since the first version of WPF in 2006. StackPanel doesn't FIT parent panel, StackPanel OVERFLOWs the parent panel. In other words the Height of the StackPanel is infinite.

[2022-03-18 16:23] IVVOVVI commented on #6851
This is by design since the first version of WPF in 2006. StackPanel is a simple panel. It uses infinite height to layout.

[2022-03-18 16:35] IVVOVVI commented on #6851
I'm not good at English, don't know how to explain this. You can check this doc (https://docs.microsoft.com/en-us/windows/apps/design/layout/layout-panels#stackpanel). In short, StackPanel just stacks all child elements.

[2022-03-18 18:31] Linjie123 commented on #6851
我应该理解这个问题了，stackpanel默认高度是没有限制的，所以里面的listview中的内容应该是全部展示的

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年03月19日 00:36 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [microsoft/microsoft-ui-xaml] The scroll bar display problem of listview under stackpanel and grid？ (Issue #6851) |

I'm not good at English, don't know how to explain this. You can check this doc (https://

[2022-03-18 18:34] robloo commented on #2257
Note that in Fluent v2 the `AppBarToggleButton` was fixed to update the Foreground correctly.

![image](https://user-images.githubusercontent.com/17993847/159063197-f67b4f4a-e3d8-4bda-9d50-9b5e44aa7122.png)

This issue is still valid though as it's a feature request for a more generic solution.

[2022-03-18 18:50] StephenLPeters commented on #5768
@crramirez @gus33000 check out the new 2.7.1 stable release patch, which includes this fix (as well as a couple others).

[2022-03-18 18:55] crramirez commented on #5768
Hello @StephenLPeters ,

I have been working with the 2.7.1 prerelease without any problem. I'll test with the stable release and will back to you.

Thank you

[2022-03-18 19:23] myokeeh opened #6852 "2.8.0-prerelease.220118001 WebView2.dll Microsoft Store certification failures"
### Describe the bug

See https://github.com/MicrosoftEdge/WebView2Feedback/issues/1868

I've been struggling with apps that fail certification ("Attention needed") because of WebView2.

Submitting it a few more times will eventually get it to pass. How or why I don't know.

[code]

### Steps to reproduce the bug

Use 2.8.0-prerelease.220118001 in app
Submit app to Store

### Expected behavior

Ap

[2022-03-18 20:21] ghost opened #6854 "ToolTip corner radius"
ToolTip currently uses ControlCornerRadius, but since it's an overlay, shouldn't it use OverlayCornerRadius?
From my understanding, there was an issue with shadows which made them look ugly with a large corner radius, but now on Windows 11 it was fixed.

Current vs suggested:
![old](https://user-images.githubusercontent.com/101892345/159077833-464e0b88-c12a-471f-8358-16b9c995fb44.png)
![new](https

[2022-03-18 23:04] Rarisma commented on #6836
Please improve the quality of the calls, considering this is a business and not some guy in thier basement doing a passion project. I'm pretty sure MS should be putting thier best foot forward here.

The calls only seen by those who have a deep intrest in winui so please stop trying to push marketing stuff aswell, as it stands the video has just under 1k views.

The samples repo is not very helpfu

[2022-03-18 23:14] ojhad commented on #6851
@IVVOVVI is correct, this is by design. StackPanel will grow to contain whatever content you place inside it. What are you trying to achieve?

[2022-03-18 23:19] ojhad commented on #6852
@krschau any ideas on what could be going on here?

[2022-03-18 23:27] ojhad commented on #6854
@chigy do you know what the correct approach here is?

[2022-03-19 04:44] robloo commented on #6469
@chigy @StephenLPeters My recommendation is to add another Secondardy/Alternate ListViewItem style that supports the gray background and selection pill design used in the ComboBox. That would allow apps to quickly switch to a container style that doesn't have this issue.

![](https://camo.githubusercontent.com/6dd53e664d17a5138cac6f6615b0460593bcc1a6e9f30a0ae82615072bf4ed0c/68747470733a2f2f646f637

[2022-03-19 05:13] rcohn commented on #2945
Hello -
Is using PInvoke.User32.WindowMessage.WM_GETMINMAXINFO, as described above, really the only way to set the minimum size of a C# WinUI3 desktop app?

I'm using Windows App SDK 1.0.  Is there no property that can be set, either at the App or Window level?

Thank you.

[2022-03-19 08:39] IstvanKor commented on #5573
If you change the target version of your project to Windows 11 SDK (22000), then open animation of ContentDialogs works correctly in both Win11 and Win10. Min version can be left as your request.

[2022-03-19 09:30] ghost1372 commented on #6071
any help?

[2022-03-19 09:57] dansmor7 opened #6855 "Discussion: Menus and buttons with duplicate functionality"
Currently, there is duplicate functionality with MenuFlyout and CommandBarFlyout. They are very similar menus, but they use different item controls.

MenuBarFlyout:
* MenuFlyoutItem
* MenuFlyoutSubItem
* ToggleMenuFlyoutItem
* RadioMenuFlyoutItem
* MenuFlyoutSeparator

CommandBarFlyout
* AppBarButton
* AppBarToggleButton
* AppBarSeparator

It doesn't natively support sub items, so you'll need to h

[2022-03-19 10:02] dansmor7 commented on #2310
I think the second solution from #6855 would be pretty good for this proposal.

It would also allow using a ToggleSplitButton, if you need custom options:
[code]
And it would be very useful for various menus:
[code]

[2022-03-19 10:20] brechtb86 commented on #4516
@AndrewKeepCoding Indeed, it fixes the issue, another issue I had was that I set the x:Bind mode not to OneWay, this last fixed the issue when the Observable collection would change. (like filtering the list with a search function).

[2022-03-19 10:20] #4516 closed

[2022-03-19 13:32] AndrewKeepCoding commented on #4516
@brechtb86 Great!

[2022-03-19 14:12] AndrewKeepCoding commented on #6850
I think I got to reproduce your problem by making a right-click in any of the `TextBox`es inside the `ColorPicker`. Your problem might be related to #4804. It's still open but it seems to have high priority so let's be patient.

One walk around I would suggest "for the moment", is to override the `TextBox` style inside the `ColorPicker` by setting `IsHitTestVisible` to `false` and ignore any click

[2022-03-19 15:47] bryfa commented on #6850
At the current setup it crashes directly without any mouseclick

[2022-03-19 19:47] rcohn commented on #2945
Hello @marb2000 -

I tried the PInvoke.User32.WindowMessage.WM_GETMINMAXINFO as described above, and NewWindowProc is never receiving any messages.  Again, I am running a C# WinUI3 desktop app.

Do you have any advice at this point?

Thank you.

[2022-03-19 20:13] rcohn opened #6856 "How can we set up to capture WndProc messages in a WinUI3 desktop app?"
Hello -

I've seen a couple variations of this question.  #2945 has code to set up a WndProc message handler, but that method does not intercept any messages (I used the code in that response verbatim).  My goal is to handle the WM_GETMINMAXINFO message to limit window size.

Running on Win10, using Windows App SDK 1.0 as a WinUI3 C# unpackaged desktop app.

Any pointers would be most appreciated.

[2022-03-19 21:11] castorix commented on #6856
I had posted a sample with **SetWindowSubclass** in [this thread](https://github.com/microsoft/WindowsAppSDK/discussions/2101)

[2022-03-19 21:16] AndrewKeepCoding commented on #6850
I haven't heavy used the `ColorPicker` so much but, besides the `TextBox` problem, I`ve never had a problem. You might need to isolate the problem and share your minimal project.

[2022-03-19 22:49] odyright commented on #6839
I found what i was looking for: [resource-dictionaries-with-xbind](https://docs.microsoft.com/en-us/windows/uwp/data-binding/data-binding-in-depth#resource-dictionaries-with-xbind)
but when i tried to create a Resource dict. file, it doesn't generate the nested file for code behind.
![Screenshot 2022-03-16 135343](https://user-images.githubusercontent.com/4316506/159141011-cbcc9117-eefb-46db-99dd-

[2022-03-20 13:36] harvinders opened #6858 "Extending to titlebar is not working as expected (WinAppSDK 1.0.1)"
### Describe the bug

After following the [titlebar customisation](https://docs.microsoft.com/en-us/windows/apps/develop/title-bar?tabs=winui3) for a WinUI 3, WinAppSDK 1.0.1 app, following observations are made

[1] Setting the title bar with a `Margin=0,0,120,0`
 - A gray overlay is displayed over the titlebar, except at the either end of the titlebar, both left and right. On `Right` it is expec

[2022-03-20 15:12] fredemmott opened #6859 "Regression: Minimize/maximize/close broken by 1.0.1 runtime update with customized title bar"
### Describe the bug

I am using Microsoft::UI::Xaml::Window with ExtendsContentIntoTitleBar

This works fine but is a bit awkward with the 1.0.0 libraries.

With 1.0.1 runtime - no rebuild - they visually act as expected (hover/click color changes), but they don't minimize/maximize/close the window.

### Steps to reproduce the bug

1. Get a clean windows install with no Windows App runtime
2. man

[2022-03-20 16:27] JanRajnoha opened #6860 "Can't run app from Store, but could from Visual Studio"
### Describe the bug

I recently published app to Store, but found out app could not launch. So I try run app from Visual Studio and everything is okay. App is WinUI 3 packaged, C#, desktop type.

Event viewer report:
Faulting application name: CloudCash.Client.exe, version: 1.0.1.0, time stamp: 0x61e1d74c
Faulting module name: Microsoft.ui.xaml.dll, version: 3.0.0.2203, time stamp: 0x18fd9864
Exc

[2022-03-20 17:23] riverar commented on #6782
Make sure your `<TargetFramework>` points to a Windows-specific (`-windows`) target framework moniker (e.g. `net6.0-windows10.0.17763.0`).

[2022-03-20 18:23] iamdroppy commented on #6112
If you don't need to compile for Windows, you can simply remove microsoft references from the csproj. Works just fine then. Of course, this should be fixed. In addition to all TargetFrameworks from windows that you must remove, also remove
[code]

[2022-03-20 18:55] Petrarca181 opened #6861 "Any winui 3 app does not work on windows 10"
Fresh installed Windows 10, downloaded from  MS site.  All SDK dependencies installed. Net  6 installed.  Any winui 3 app just does not start, both packaged and unpackaged.  Any suggestion where start to search?

[2022-03-20 19:08] castorix commented on #6861
Have you installed the Runtime ?
[Current releases](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/downloads#current-releases)

[2022-03-20 19:13] Petrarca181 commented on #6861
Yes.

[2022-03-20 19:26] castorix commented on #6861
WindowsAppRuntimeInstall.exe, which must return 0 for each package

[2022-03-20 20:11] fredemmott commented on #6859
So, this is broken if I follow the instructions at https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/experimental-channel and https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.window.settitlebar?view=winui-3.0

The 1.0.1 release notes at https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/stable-channel mention:

It was not clear this was a breaking change,

[2022-03-21 01:25] Gavin-Williams commented on #6836
More talk about graphics, interop and tooling around interop. There is still no good solution to calling DirectX from C#. My graphics work has mostly stopped for the past 2 years, because the new C++ -> C++/WinRT -> C#/WinRT -> C# system is just unusable. I have not in all this time been able to get it to work. I've tried several times. It's complex, it's fragile, it's cumbersome.

Also, can we se

[2022-03-21 02:33] danielttran commented on #6620
Is this the "next" generation of MS program? Project reunion? My experience has been nothing but bad about this WIN UI thing. Please make it an exe and when i double click on it, it runs everywhere.

[2022-03-21 02:50] aybe commented on #2835
This is still happening as of today.

[2022-03-21 03:03] Realinspirer commented on #6620
WinUI3 is still improving day by day. Don't worry everything will be fixed. And for the time being, you can use the MSIX packaging system, so it's not a big deal. Unpackaged apps are also there, but I think there's some deployment issue with that.  And also, why to keep using the old school things, that's what I think. So, think ahead, and don't become a conservative. ☺️

[2022-03-21 03:15] GaryGormley commented on #6782
Also tried what @kmgallahan suggested. Can build windows, but not android or ios, keep getting this Error	WMC1007	Cannot resolve metadata for WinUI types. Please ensure that Nuget Restore was successful. ! !

[2022-03-21 04:35] roxk commented on #4301
Cannot reproduce. The command bar flyout would be shown upwards when the menu target is at the bottom of the screen/xaml root. Could you provide a minimal repro? Even when the menu is opening downwards, there is a scrollbar inside the menu by default when there are many items.

[2022-03-21 05:28] roxk opened #6862 "Proposal: Add `CommandBarStyle` and `FlyoutPresenterStyle` to `CommandBarFlyout`"
# Proposal: Add `CommandBarStyle` to `CommandBarFlyout`

## Summary
Fixes #4301 in a robust way and allow per-control customization

## Rationale
* Currently, to customize any properties of command bar flyout that are not covered by light weight styling, users have to resort to overriding the default style. This is typically done by inserting a style targetting `CommandBarFlyoutCommandBar` in `App

[2022-03-21 10:30] crramirez commented on #5768
Hello @StephenLPeters,

Tested with 2.7.1 stable and everything is ok.

Regards,
Carlos

[2022-03-21 11:55] ajgarciaj commented on #6782
Uninstall 1.01 version from Nuget packets administrator works fine finally. Now i can build with alls platforms.

[2022-03-21 12:16] Petrarca181 commented on #6861
Yes everything is installed correctly. But leave apart unpackged apps. Why .msix bundles do not work?

[2022-03-21 13:24] roxk opened #6863 "Long-touching navigation view item would cause the pressed backplate to stay"
### Describe the bug

Long touching navigation view item would cause the pressed backplate to stay. Only reproducible with touch. Cannot reproduce with right click.

### Steps to reproduce the bug

1. Launch Xaml Control Gallery
2. Long touch any item until context menu shows up
3. Dismiss the menu.
4. Observe the backplate of the item pressed in (2) remained visible.

### Expected behavior

The b

[2022-03-21 17:35] melvyniandrag commented on #3032
@loics2 @hooligan495  I get the same issue in an app using Xamarin.UWP.
I have gotten a couple of crashes that seem to be related, but can't be sure.

Are you using Xamarin?

 Hope you guys can remember this issue.

[2022-03-21 17:56] roxk opened #6864 "Dynamically adding `AppBarButton` to `CommandBarFlyout`'s secondary command clips the background"
### Describe the bug

Dynamically adding items to secondary command of a `CommandBarFlyout` has rendering artifact.

### Steps to reproduce the bug

1. Create a new UWP blank app
2. Add the follow context flyout to `MainPage.xaml`
[code]
3. Add the following to `MainPage.cpp`
[code]
4. Launch the app, right click the button to show command bar flyout
5. Observe the command bar flyout has normal ba

[2022-03-21 21:47] molozano-msft opened #6867 "[TeachingTips][Accessibility] Action buttons name not read by narrator"
### Describe the bug

When using teaching tips with action buttons, narrator has no property name to read. Tabbing to an action button reads as "- button" instead of the using the defined value of the action button content.

### Steps to reproduce the bug

**Pre-requisites:**
- The code use to repro the bug is the one provided on this [teaching tip guide - add buttons](https://docs.microsoft.com/e

[2022-03-21 23:07] ojhad commented on #6865
Confirmed this is a bug, please continue to use your workaround until we can take a look.

[2022-03-21 23:12] ojhad commented on #6855
@ranjeshj FYI

[2022-03-21 23:15] ojhad commented on #6855
Thanks for your feedback and there are some good ideas here. Unfortunately, this most likely won't be something we'll be able to get to in the near term.

[2022-03-21 23:20] ojhad commented on #6856
@bpulliam FYI

[2022-03-21 23:24] ojhad commented on #6858
@bpulliam @pratikone please take a look

[2022-03-21 23:25] ojhad commented on #6859
@bpulliam @pratikone please take a look

[2022-03-21 23:28] ojhad commented on #6860
@JanRajnoha Are you able to launch the app via sideloading by creating an MSIX package? Are you able to share a crash dump?

[2022-03-21 23:31] ojhad commented on #6861
@Petrarca181 would you be able to share a crash dump? Which app are you trying to run?

[2022-03-21 23:34] ojhad commented on #6862
@ranjeshj fyi

[2022-03-21 23:36] ojhad commented on #6863
@chingucoding assigning to you. Thanks for taking a look!

[2022-03-21 23:36] rcohn commented on #6856
Hi -

Yesterday I found your code example on http://pastebin.fr/101995, and it worked fine.  I appreciate your very quick response and the solution to a trick problem.

Thanks very much.

[2022-03-21 23:38] ojhad commented on #6864
@RBrid does this look like a bug you've seen before?

[2022-03-22 01:46] RBrid commented on #6864
@ojhad, yes, as a matter of fact I am in the process of fixing this here: https://github.com/microsoft/microsoft-ui-xaml/pull/6868

[2022-03-22 03:41] roxk opened #6869 "`MenuFlyout` and `CommandBarFlyout` have different opening animation"
### Describe the bug

A menu flyout opens by sliding in, whereas a command bar flyout opens by fading in.

### Steps to reproduce the bug

1. Create `MenuFlyout` and `CommandBarFlyout`
2. Open them.
3. Observe different opening animation

### Expected behavior

The animation should be the same?
Also, it seems the command bar flyout isn't aligned to the mouse cursor, whereas menu flyout is aligning

[2022-03-22 04:57] chabiss opened #6870 "[Watson] moappcrash: FAIL_FAST_EXCEPTION_c0000602_Microsoft.UI.Xaml.dll!winrt::impl::consume_Windows_Foundation_Collections_IMap_winrt::Windows::UI::Xaml::ResourceDictionary,winrt::Windows::Foundation::IInspectable,winrt::Windows::Foundation::IIns..."
### Describe the bug

Top Crasher for DevDiv [Bug 1492791](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1492791): [Watson] moappcrash: FAIL_FAST_EXCEPTION_c0000602_Microsoft.UI.Xaml.dll!winrt::impl::consume_Windows_Foundation_Collections_IMap_winrt::Windows::UI::Xaml::ResourceDictionary,winrt::Windows::Foundation::IInspectable,winrt::Windows::Foundation::IIns...

[Investigate via Watson]

[2022-03-22 07:57] JanRajnoha commented on #6860
@ojhad Nothing is working, just launching from Visual Studio, so official package through store or installing via PowerShell script (sideloading) is same -> not working. Crash dump I'll try to find

[2022-03-22 08:11] gus33000 commented on #5768
Hello, can also confirm it's fully fixed on my side! Thanks a lot!

[2022-03-22 08:23] ghost1372 commented on #6861
Self Contained is not working and will be available in WASDK v1.0.X

[2022-03-22 10:54] ghost opened #6871 "CommandBarFlyout should have primary and secondary backgrounds"
In Windows 11, menus and apps with primary and secondary content use different brushes to differentiate between those surfaces.
CommandBarFlyout has a similar structure, so I suggest updating it to do the same.

Current vs proposed:
![oldnew](https://user-images.githubusercontent.com/101892345/159465967-2647f5d6-4952-45d5-b22e-cd049ecbfcbe.png)

[2022-03-22 14:24] DeanFaizal opened #6872 "WebView2 in a Window crashes the app when the Window is closed."
### Describe the bug

I can open a Window with a WebView2 as the Content, but when I close the window (X button), the app crashes.

### Steps to reproduce the bug

1. Create a new WinUI3 app with C#
2. Use the following in the csproj:
[code]
3. Add the code in the button click handler:
[code]
4. Run the app.
5. Click the button
6. Close the window

Expected behavior: Able to open and close the win

[2022-03-22 15:53] JanRajnoha commented on #6860
I don't know, where to find dump file, but I could provide file from WinDbg.

[2022-03-22 16:16] Balkoth commented on #6836
I just watched the last community call, this are my takeaway points:

- I am shocked about how bad the quality of the presentation (audio, video) is.
- The audio is constantly lagging behind the voice translation, so that it is almost unusable.
- Not your whole audience are native english speakers, so brief your guests that it is important to speak at a reasonable pace and with clear articulation.

[2022-03-22 16:39] roxk commented on #6872
Is it multi-window? Multi-window is not supported in 1.0.

[2022-03-22 16:42] kumaresan-cgvak opened #6874 "Setting Maximized for PreferredLaunchWindowingMode in UWP is not working"
Xamarin Forms - UWP

**Describe the bug:**
Setting `ApplicationViewWindowingMode.Maximized` for `ApplicationView.PreferredLaunchWindowingMode` is not working in Xamarin Forms UWP projects.

`ApplicationView.PreferredLaunchWindowingMode = ApplicationViewWindowingMode.Maximized`

**Version Info:**
Latest Version

Sample:
[MaximiseSample.zip](https://github.com/microsoft/microsoft-ui-xaml/files/83262

[2022-03-22 16:44] Petrarca181 commented on #6861
My personal app i'm writing.  But also just create new blank app and pack, same result.

https://www.mediafire.com/file/ggharbzaj7zfkdu/dumps.zip/file

[2022-03-22 16:46] JanRajnoha commented on #6860
[WinDbgReport.txt](https://github.com/microsoft/microsoft-ui-xaml/files/8326305/WinDbgReport.txt)

[2022-03-22 17:15] JanRajnoha commented on #6860
It is problem in Microsoft.UI.Xaml, but fyi @danielayala94 @Scottj1s maybe you will know more

[2022-03-22 20:02] dansmor7 opened #6876 "Proposal: XAML as drag and drop UI"
If you want a custom drag UI, you currently have to use a bitmap, which isn't always convenient.

Let's say you want to make an element react to being dettached, hovered above a target and dropped, all with animations.
Currently you'd have to render those states somewhere else and then convert them to bitmaps and attach them to the visual, which won't have the best performance.

It would be easier

[2022-03-22 20:41] alejo4000 commented on #6874
Removing design and toolkit tags, this is not related to the WinUI toolkit.

[2022-03-22 20:44] mc0re commented on #6481
I see the author has gone offline. Maybe satisfied with the `x86` workaround :-)
Is there anything I can provide to help investigate this?

[2022-03-22 22:00] mpettus commented on #6329
I am having a similar issue. Right clicking a textbox throws an error if debugger is attached. If it is not, default context menu is displayed properly.

[2022-03-23 05:33] dongle-the-gadget commented on #6856
Or you can use the WinUIEx NuGet package.

[2022-03-23 06:45] LeWindowsCoder opened #6877 "Debug build failing for XAML Island hosted application in latest Windows 10 SDK versions"
### Describe the bug

When trying to build the solution in Debug mode with Windows SDK 10.0.19041.0 or 10.0.20348.0, build fails with below mentioned errors.
However, build succeeds in Release mode (10.0.19041.0 or 10.0.20348.0) as well as with 10.0.18362.0 (both release and debug).

Errors obtained are:

Error	C2259	'winrt::TestUWP_Dll::implementation::XamlMetaDataProvider': cannot instantiate ab

[2022-03-23 06:59] AndreasErikCoder opened #6878 "Debug build failing for XAML Island hosted application in latest Windows 10 SDK versions"
### Describe the bug

When trying to build the solution in Debug mode with Windows SDK 10.0.19041.0 or 10.0.20348.0, build fails with below mentioned errors.
However, build succeeds in Release mode (10.0.19041.0 or 10.0.20348.0) as well as with 10.0.18362.0 (both release and debug).

Errors obtained are:

Error C2259 'winrt::TestUWP_Dll::implementation::XamlMetaDataProvider': cannot instantiate ab

[2022-03-23 06:59] #6877 closed

[2022-03-23 07:34] DeepthiCG commented on #6878
Same issue reproducible here also.

This is reported in below link, but not found any replies.
https://techcommunity.microsoft.com/t5/windows-dev-appconsult/host-custom-uwp-controls-in-mfc-mdi-project-using-xaml-islands/bc-p/2853092/highlight/true#M579

[2022-03-23 09:56] lhak commented on #6836
I would definitely like to see if feedback for specific bugs is given (what is the status, when it is going to be fixed). Currently, as others have also observed, serious issues without workarounds are ignored, sometimes for years.

[2022-03-23 10:46] wbokkers commented on #6791
Xelion is using WinUI 3 for their Windows app. You need a Xelion account to run it.
https://appinstaller.xelion.com/winapp/v8/

[2022-03-23 12:59] Petrarca181 commented on #6861
Little update: after some  test i noticed  that  apps created with Single Projeckt MSIX   does not work.  If I port me app to the old template  everything works fine.

[2022-03-23 13:21] ifgotmoney commented on #6810
#https://github.com/microsoft/Win2D/issues/869#issue-1176955673

Thank you for your replies above. I have tried with win2D, with either `CanvasControl `and `CanvasSwapChainPanel` , successfully draw about 2000 circles on the canvas, this is fine to me. but I have a problem here, and I'm not sure it's a Win2D problem or a WinUi3 problem.

the problem is : I have hooked up with the `PointerPressed `

[2022-03-23 13:33] ifgotmoney commented on #6810
A snap video to show the lag between mouse cursor and dragged object

https://user-images.githubusercontent.com/34210461/159711458-f9fc7c3c-4b98-41f0-8db4-e1af4ff67c56.mp4

[2022-03-23 14:00] rcohn commented on #6856
Hi @dongle-the-gadget -
WinUIEx looks pretty useful.
Thanks for the tip.

[2022-03-23 14:16] DFFspace opened #6879 "Launching a second window crashes WinUI 3 desktop app"
When I launch my WinUI 3 desktop app though VS Studio 2022 in either debug or release it opens successfully the second window. When I try to do the same after having published my app (Framework-dependent or self-contained) the second window opens and shows blank, and after 5 seconds the app crashes.

In event viewer it shows up as application crash:
Module error: CoreMessagingXP.dll, version: 10.0

[2022-03-23 16:18] Visual-IT-2021 commented on #6782
Same here. Problems for months. David and James are always very excited in their videos. But my enthusiasm isn't that big anymore.

Uninstalling the SDK was the solution.

[2022-03-23 16:22] bdbai commented on #3544
May I know whether these changes will come to WinUI 2.x? It would be great to see the new designs in a UWP!

[2022-03-23 16:24] dylech30th commented on #3544
@bdbai It's already come to WinUI 2.x, this is also the default style for Windows 11

[2022-03-23 16:38] robloo commented on #3544
I agree that new ListView style needs to come over to WinUI2 and Windows 10 -- I'm not sure if it is even default on Windows 11.

https://github.com/microsoft/microsoft-ui-xaml/issues/6469

[2022-03-23 16:40] bdbai commented on #3544
@dylech30th thanks for pointing that out! However, I could not see the new appearance in a WinUI 2.7.1 UWP project on Windows 10. Steps to reproduce:

1. Create a new UWP project in Visual Studio 2022.
2. Install the latest WinUI 2 package.
![image](https://user-images.githubusercontent.com/5270106/159750002-d1573099-c3c6-47ae-acaa-ccb375308bdc.png)
3. Apply WinUI resources to `App.xaml`.
[code]
4

[2022-03-23 16:43] dylech30th commented on #3544
Since I'm using WinUI 3 not 2 so I cannot give a definite answer, but from the official documentation it seems that the control with new designs in WinUI 2 are laid in different namespaces, maybe you need to prefix the control with the correct namespace, in your case is `muxc`

[2022-03-23 16:47] dylech30th commented on #3544
@bdbai You can follow [this tutorial](https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started), it explains the steps in detail

[2022-03-23 16:49] bdbai commented on #3544
@dylech30th I tried to prepend `muxc:` to `ListView`, but build failed:
[code]
Anyway, thanks for your help😊

[2022-03-23 16:52] robloo commented on #3544
@bdbai

You didn't miss anything. There is no new ListView Style in WinUI 2. I've looked through the styles for this extensively in process of fixing #6469 in an app. I ended up writing my own style based on ComboBoxItem which uses the same selection pills.

[2022-03-23 17:01] bdbai commented on #3544
@robloo

Cool! I noticed a few controls in WinUI 2 that already adopted the new designs for lists, but never thought of exploiting them as a workaround. Thanks for the creative idea!

[2022-03-23 17:12] dylech30th commented on #3544
@robloo I also tried and proved that you are correct, but that really makes me curious about how Xaml Controls Gallery can reveal the correct style for ListView using WinUI 2

[2022-03-23 17:12] scout208 commented on #6291
@byrialsen During the community call last Wednesday I learned they have been investigating the issue and gotten closer to the source but don't have an ETA yet.

[2022-03-23 17:24] markolbert opened #6880 "FlyoutBase.ShowAttachedFlyout() throws exception on return to page"
### Describe the bug

This is in a WinUI 3 (v1) app using a NavigationView to display various Page elements. One of the pages has a ListView which, in turn, has a flyout which opens when you select an item in the ListView:

[code]

The flyout is opened when an item is selected:

[code]

### Steps to reproduce the bug

This works correctly when you initially navigate to the page with the ListView a

[2022-03-23 17:34] BenBtg commented on #6070
I'm experiencing the same issue working on an WinUI that requires interactive elements in the TitleBar.
Only workaround I have found is to not call SetTitleBar(CustomTitleBar). But that just leaves a very small area on the right of the title bar as draggable.

[2022-03-23 17:47] byrialsen commented on #6291
@scout208. I actually streamed the Community Call myself late in the evening. Maybe to late as I missed that this issues was mentioned 🙈. Thanks for the brush up 👍

[2022-03-23 19:42] scout208 commented on #6291
@byrialsen It wasn't mentioned in the video so no surprise you missed it. I actually asked the question and got a response in the chat. Look in the chat around [36:02](https://youtu.be/fRpXbB8WUko?t=2164) in the video and you should see my question and Mike Hillberg's response.

[2022-03-23 20:12] PierreHenriKT commented on #5172
Hello,

Thanks to @asklar's sample, I managed to publish a [NuGet package that provides a Media Player Element for WinUI 3](https://www.nuget.org/packages/KlearTouch.MediaPlayer.WinUI/). You can find [a sample here](https://github.com/KlearTouch/KlearTouch.MediaPlayer/tree/main/samples).

It is still fairly basic and there are some issues to resolve, so the package is marked as prereleased for now

[2022-03-23 20:29] dansmor7 opened #6881 "Question: WinUI in the Windows shell"
I have two questions regarding WinUI and the Windows shell.

First:
How often does Windows update WinUI versions?
WinUI updates every 6 months, and Windows updates every year. Are they aligned in any way?

There was a small issue (#4561) which was fixed in March 2021, but you can still see it in the Windows shell today, and it will probably continue existing until the Fall update.
Is it intentiona

[2022-03-23 21:36] ojhad commented on #6860
@JanRajnoha Here are some instructions on how you can collect a crash dump: https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/debugging_crashes.md

[2022-03-23 21:55] ojhad commented on #6874
This API is not part of WinUI. @bpulliam do you have an idea of where this could be routed?

[2022-03-23 21:59] ojhad commented on #6879
@bpulliam fyi

[2022-03-23 22:04] ojhad commented on #6880
@markolbert Is your SelectedItemchanging upon return to the page? (The SelectedPoint that you bind to SelectedItem)

[2022-03-23 22:06] ojhad commented on #6880
@markolbert are you able to provide a minimum repro of this issue? Also could you provide the crash stack as well?

[2022-03-23 22:07] KasperHoldum commented on #3835
Any update on this? There is documentation for activation on MSDN but only with c++ examples.

[2022-03-23 22:12] ojhad commented on #6881
@dansmor7 Where are you seeing this toggle switch issue? If a control is re-templated then they lose fixes like this unfortunately. Lightweight styling is an option to avoid re-templating issues you mentioned: https://docs.microsoft.com/en-us/windows/apps/design/style/xaml-styles#lightweight-styling

[2022-03-23 22:35] ojhad commented on #6870
Looks like this [internal bug](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/33817206) which was fixed in this PR: https://github.com/microsoft/microsoft-ui-xaml/pull/6665

[2022-03-23 22:35] #6870 closed

[2022-03-23 22:43] ojhad commented on #6879
@DFFspace Could you provide a crash dump?

[2022-03-24 01:37] markolbert commented on #6880
Happy to provide the crash stack but I’m not sure how to grab it and send it to you.

A minimal repro would be harder given time constraints. But the project itself is open source so you should be able to build it from GitHub. I’d just have to send you a password to gain access to the 3rd party  server it works with. Would that suffice?

- Mark
Sent from my iPhone

On Mar 23, 2022, at 3:06 PM, Dil

[2022-03-24 01:40] markolbert commented on #6880
No, the SelectedItem and SelectedPoint should be the same. SelectedPoint is a viewmodel property and the viewmodel is a single instance so I don’t see how it could change.

- Mark
Sent from my iPhone

On Mar 23, 2022, at 3:05 PM, Dilip Ojha ***@***.***> wrote:

﻿

@markolbert<https://github.com/markolbert> Is your SelectedItemchanging upon return to the page? (The SelectedPoint that you bind to Se

[2022-03-24 02:39] codendone commented on #6810
Much of this likely comes down to how expensive is it to handle each input event and render the updated content. Measuring those two steps on a Release build might help identify room for optimization.

For example, XAML will send all pointer input it receives, and orders the pointer input vs. rendering as a queue. If, for example, 5 pointer input events get queued and the handling of that first ev

[2022-03-24 07:35] saravanan-2112 opened #6882 "Window Title property is not working"
### Describe the bug

I have created a simple sample and set "Title" to the window. Then if I build the sample, then it shows the below error.

The XAML Binary Format (XBF) generator reported syntax error '0x09C4' : Property Not Found	App1	D:\syncfusion\winui\samples\App1\MainWindow.xaml	9

**Sample:** [App1.zip](https://github.com/microsoft/microsoft-ui-xaml/files/8339317/App1.zip)

### Steps to

[2022-03-24 08:02] DFFspace commented on #6879
I dragged the .exe file to a empty Visual Studio and run it from there and it showed these exceptions:

[code]
Is the above, the crash dump you asked for. Or do I need something else?

Some other things that I noticed is that my published app doesn't show the images that my app should display. However, when I copy paste the Assest folder with the images to the publish location the images show up o

[2022-03-24 14:42] markolbert commented on #6880
I was able to determine the problem was caused by the flyout display logic (in the code behind) being triggered by the SelectionChanged event rather than the Tapped event.

SelectionChanged gets triggered, if you've previously selected something, whenever you navigate back to the page with the flyout (which makes sense in the context of wanting to maintain knowledge of which item has been selected

[2022-03-24 14:42] #6880 closed, assigned to nobody

[2022-03-24 15:52] chris-atk opened #6883 "ListView bound to ISupportIncrementalLoading collection causes application crash."
### Describe the bug

I'm getting a crash to desktop and the following error message when binding ListView or GridView to an item source that implements ISupportIncrementalLoading.

[code]

I have reproduced this issue in a minimal project using the VS2022 built in WinUI 3 project template. The behaviour is the same when targeting x86 and x64 and when targeting Windows 10 19044 and 18363 builds.

[2022-03-24 16:00] JWMikesell commented on #5917
Completely agree, as it really helps productivity and helps underserved populations enter the technology by lowering the learning curve.

From: ryanackley ***@***.***>
Sent: Thursday, March 24, 2022 8:13 AM
To: microsoft/microsoft-ui-xaml ***@***.***>
Cc: JWMikesell ***@***.***>; Comment ***@***.***>
Subject: Re: [microsoft/microsoft-ui-xaml] Discussion: WinUI 3.0 XAML Designer (#5917)

Visual des

[2022-03-24 17:16] LasmGratel commented on #6883
Facing same issue here, I'm using IncrementalLoadingCollection from CommunityToolkit.WinUI and it throws the exact same exceptions.

[2022-03-24 17:18] dylech30th commented on #6883
Me and one of my friends are also facing this problem, I suspect this is relevant to the OS version, since the code and project configuration didn't change at all after the last time I build it, and the last build works perfectly fine, but once I rebuild it, this problem occurred, the only thing changed during these two builds is the OS Version.

[2022-03-24 17:21] dylech30th commented on #6883
This is a severe issue, the main functionality of those content-heavy apps are almost broken at all, this should not happen in a so-called production-ready framework/OS, please address it quickly

[2022-03-24 19:55] Pariventhan2015 opened #6884 "Textbox cursor focus is not happening sporadically in UWP application"
We have UWP application and Have Templated Control for TextBox which is extended the TextBox control.
We are getting an issue sometimes. The cursor is not visible, but able to type,  also not able to capture the Control GotFocus event as well.

The UWP application is running in KIOSK mode (using shell Launcher V2).

When we got know this issue and trying to remote the system and verifying it, the

[2022-03-24 23:13] ojhad commented on #6883
@MikeHillberg is this a known issue?

[2022-03-24 23:16] ojhad commented on #6884
@Pariventhan2015 would you be able to provide a minimal repro/steps for this issue?

[2022-03-25 01:19] Pariventhan2015 commented on #6884
1. We have an UWP application, which has more than 200 pages
2. We have customized most of the controls, Textbox, ComboBox, RadioButton, etc..
3. The application has lock concept, when the system is idle for an hour, the software (UI UWP application) got locked automatically.
4. The Lock window is a dialog.
5. So far it was occurred 5 to 6 times, most of the time issue happened after we unlock the

[2022-03-25 07:00] #6525 closed

[2022-03-25 07:50] dansmor7 commented on #6881
It can be seen in various Settings pages, such as taskbar options.
I see that this one is not an issue with the WinUI version, because it was fixed in 2.6 and the latest stable Windows build uses 2.7. I'm not sure if it still happens in the preview builds, but I hope this kind of issue can be fixed and rolled out before the full yearly updates.

[2022-03-25 09:36] Poopooracoocoo commented on #5600
@ojhad Were you guys going to close this duplicate?

[2022-03-25 11:07] ghost opened #6885 "BackgroundSizing doesn't update when CornerRadius is not 0"
### Describe the bug

If you have a control with a different BackgroundSizing in certain states, it won't update if CornerRadius is anything other than 0.

### Steps to reproduce the bug

[code]

### Expected behavior

BackgroundSizing would update when hovering the button.

### Screenshots

![image](https://user-images.githubusercontent.com/101892345/160108276-ae893afc-dd7c-4f42-8f41-32e6f8125f0b

[2022-03-25 12:13] VoidExploiter commented on #6836
Hi everyone,
We have migrated our app from UWP to Windows App SDK with WinUI 3. While migrating we faced a quite few challenges and had few inferences which we would like to share here.

**Challenges faced:**
1. Finding an alternative to Window.Current, Dispatcher, ApplicationView.GetForCurrentView and implementing them.
2. We have used FocusManager for accessing fields in form with Arrow keys. Im

[2022-03-25 17:19] DeanFaizal commented on #6872
Also happens on Windows App SDK 1.0.1 https://www.nuget.org/packages/Microsoft.WindowsAppSDK/

[2022-03-25 20:30] asklar commented on #6882
Duplicate of #3689

[2022-03-25 20:30] #6882 closed

[2022-03-25 20:35] asklar commented on #6879
IIRC multi-window isn't available in stable, only experimental, see https://aka.ms/winui3/feature-roadmap

[2022-03-25 20:46] asklar commented on #6842
RichEditBox exposes a RichEditTextDocument through its Document property. This wraps the richedit text object model, however only a few properties are exposed through WinRT so it isn't set up to handle editing formatting. Ideally, we could expose the RE TOM directly from the WinRT RETD if folks need finer grain control.

See #6436 as a prerequisite

[2022-03-25 20:54] DFFspace commented on #6879
Ooh, I see! Thank you for the clarification!

[2022-03-25 20:57] asklar commented on #6879
@DFFspace actually looks like this _may_ have been fixed in 1.0.1 (and the roadmap hasn't been updated yet :)); paging @gabbybilka. So if you are using 1.0.1, more data will be needed (call stack at least).
Can you follow these instructions?
https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/debugging_crashes.md

[2022-03-25 23:02] DFFspace commented on #6879
[code]

[2022-03-25 23:05] asklar commented on #6879
@DFFspace thanks - it looks like this is a stowed exception, can you follow the steps at the bottom of the page I linked? pasting the direct link here for convenience https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/debugging_crashes.md#stowed-exception-crashes-exception-code-0xc000027b

[2022-03-25 23:14] DFFspace commented on #6879
I followed those steps and got this:

[code]

[2022-03-26 09:28] kengwang commented on #6496
Thanks, it works!

[2022-03-26 09:28] #6496 closed

[2022-03-26 14:16] akash07k commented on #6842
@asklar
I checked your provided link but I couldn't get any way to acomplish the thing which I'm looking about.
Any guidance please?

[2022-03-26 14:19] akash07k commented on #6436
What will be the advantage if xthe richedit document cojntrol will be exposed?
Will be able to define the headings, tables etc?

[2022-03-26 22:11] duke7553 opened #6886 "Question regarding uses of APIs incompatible with `AppWindow` and `DesktopWindowXamlSource`"
## How certain are we that erroneous uses of APIs incompatible with `AppWindow` and `DesktopWindowXamlSource` do not linger in platform XAML or WinUI?

As mentioned [here](https://docs.microsoft.com/en-us/windows/apps/design/layout/show-multiple-views#make-code-portable-across-windowing-hosts), it is advisable for UWP developers to make their visual layer portable across the windowing hosts with X

[2022-03-26 22:13] duke7553 commented on #6886
FYI @chingucoding
and
@StephenLPeters (fixed a potentially similar issue found in TeachingTip: https://github.com/microsoft/microsoft-ui-xaml/pull/6807)

[2022-03-27 04:41] markolbert commented on #5917
I was hesitant about developing without a visual designer. But I’ve been pleasantly surprised with hot reload. Yes, it doesn’t work consistently yet. But it works well enough that I can evolve the UI fairly efficiently. Plus, I no longer have to address supporting design time with my view models. I hope it gets better and the other UI limitations get addressed.

[2022-03-27 06:18] xtuzy opened #6887 "Question: [How to deal with TextBox when custom layout at WinUI3?]"
Hello, I'm making a ConstraintLayout of Android for WinUI,  i get DesireSize of UIElement after use UIElement.Measure(), then ConstraintLayout according it to calculate children position and size, i get the position at ArrangeOverride and use UIElement.Arrange() to set child position and size (TextBox size is equal to DesireSize). But i find the width of TextBox is not correct like use StackPanel,

[2022-03-27 08:49] terrycox commented on #6436
In our case, we use multiple RichEditBox controls in our app, and both create reports and export them to another app by combining them into composite documents. This requires removing duplicate and unnecessary document properties from the RTF documents beneath each RichEditbox.

[2022-03-27 09:35] jkommeren commented on #5917
Here's a thought:

Why not initially make a designer that only allows to navigate between components' xaml code and renders them without template support?
Would that lighten the load? (Ie no drag drop or adjustments in designer, no toolbox)

because that's how I'd use it. Just a quick way to do some ui stuff (without having to start and navigate through the entire application)

[2022-03-27 11:15] MartinZikmund opened #6888 "`ScrollViewPresenter` BringIntoView handling does not properly handle direct content"
### Describe the bug

When `StartBringIntoView` is called on the direct content of `ScrollView`, nothing happens.

### Steps to reproduce the bug

Consider the following:

[code]
When `Item.StartBringIntoView()` is called, nothing happens.

### Expected behavior

Should bring into view.

### Screenshots

_No response_

### NuGet package version

Microsoft.UI.Xaml 2.7.0

### Windows app type

- [X]

[2022-03-27 15:49] amzon-ex commented on #2484
This discussion seems super promising! However, considering I'm on Win11 Dev channel (now in 22H2) and dark mode for Win32 titlebars is still not here yet, is it possible to provide an update on this?

[2022-03-27 17:13] chingucoding commented on #6702
I would like to look into this.

[2022-03-27 21:01] cmsdesigner commented on #6782
Make sur you have this in you .csproj
<ApplicationId Condition="$(TargetFramework.Contains('-windows'))">01837340-F8F7-4005-8980-CE617BD87B29</ApplicationId>
clean solution and rebuild is
that works for me

[2022-03-27 22:25] duke7553 commented on #6886
It seems like setting:
<x:Boolean x:Key="ThemeShadowIsUsingDropShadows">False</x:Boolean>
in App.xaml fixes the issue completely.

Going to investigate this some more with @chingucoding and I'll open a bug report here to reflect the new information.

[2022-03-28 00:39] xperiandri opened #6890 "[Samples] Proposal: Add samples that show collection item placeholders while loading data"
# Proposal: For each collection add samples that show collection item placeholders while loading data to **XAML Controls Gallery** and **WinUI 3 Controls Gallery** apps

## Summary
Usually, when you don't have any data in your app immediately you want to show some placeholders (probably animated) that show the user that the data is being loaded.
Something similar to https://flutterappworld.com/flu

[2022-03-28 03:47] camhw opened #6891 "Question: Gamepad support in WinUI 3"
Is there any info on gamepad support in Windows App SDK for WinUI 3?  Is it possible that it'd make it into WinAppSDK 1.1 or 1.2?  I haven't seen mention of it in the [WinAppSDK roadmap](https://github.com/microsoft/WindowsAppSDK/blob/main/docs/roadmap.md), [WinUI 3 roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/roadmap.md#winui-3-feature-roadmap), or in any of the communit

[2022-03-28 05:41] VoidExploiter commented on #6836
Hi @gabbybilka ,
As you mentioned that you're interested in giving a demo of applications using WinUI and development journey, we would like to be a part of it. We already shared our development journey in the previous comment and sharing here the application link:
https://www.microsoft.com/store/apps/9P1K7PZCTMS0

If you want to check out our application we can provide you with the testing creden

[2022-03-28 07:05] lyf6lyf opened #6892 "CornerRadius doesn't take effect in NavigationBackButtonNormalStyle"
### Describe the bug

When we use `NavigationBackButtonNormalStyle`, set `CornerRadius` doesn't take effect.

### Steps to reproduce the bug

1. Create an UWP project.
2. Add a button ```        <Button
            Margin="200"
            CornerRadius="8"
            Style="{StaticResource NavigationBackButtonNormalStyle}" />```
3. run the project

### Expected behavior

The button should have co

[2022-03-28 07:30] JanRajnoha commented on #6860
I found solution for this problem. I have wrong entry point in package manifest.

[2022-03-28 07:55] lhak opened #6893 "RenderTargetBitmap does not include the output from swapchains in WinUI 3"
### Describe the bug

RenderTargetBitmap includes the output from swapchains when used in a XAML island. However, it does not do this when used in a WinUI 3 application.

### Steps to reproduce the bug

Create a WinUI3 application with a swapchain (e.g. using Win2D) and try to get its output with RenderTargetBitmap.

### Expected behavior

RenderTargetBitmap should include the output from swapchai

[2022-03-28 08:09] koenvd commented on #2680
Is this still something on the radar? Or is there some sample code available on how to work around is?
It's not really expected for a desktop app to not remember the last window position and size.

Thanks for feedback!

[2022-03-28 08:29] lhak opened #6894 "Adding event handlers in data templates pointing to methods of parent classes leads to memory leaks in WinUI 3"
### Describe the bug

Adding event handlers (or referencing resources) in data templates (e.g. of a treeview item) that point to methods (or resources) of parent classes causes memory leaks (i.e. in c# the treeview items are not collected anymore). The same code in a UWP app does not show this behavior.

### Steps to reproduce the bug

Consider the following code from the repro project:

[code]

T

[2022-03-28 10:25] bugproof commented on #3689
Are you serious? You can't even set title in WinUI3 app?

[2022-03-28 11:12] Symbai commented on #3689
Which is exactly what the first post says. But yeah, that's just one of the wonderful experience developers get when they try out WinUI.

[2022-03-28 12:05] JanRajnoha commented on #6860
I found solution for this problem. I ahve bad entry point in package manifest and therefore app could not start properly

[2022-03-28 12:06] bugproof commented on #3656
Is it just me or there is no intellisense for C++ WinUI3 apps in XAML files?

![image](https://user-images.githubusercontent.com/3116731/160394309-afecd93c-77c2-46b5-92ac-e9ce9465212b.png)

[2022-03-28 12:14] bugproof commented on #2731
😂 😂 😂

[2022-03-28 12:53] chingucoding commented on #6890
@gregwoo-microsoft Maybe this is more fitting for the XCG/WCG?

[2022-03-28 14:17] Wandtket commented on #4419
Working with WinUI and still waiting on PrintDocument to be updated to WinUI.

[2022-03-28 16:59] kmgallahan commented on #6258
@chingucoding Do you get pile of these errors when using windowless testing?

[code]

Also, does your ability to run tests fail if you upgrade to `MSTest.TestAdapter` & `MSTest.TestFramework` 2.2.9 preview? (if you use those)

VS 17.2.0 Preview 2.1

[2022-03-28 17:34] chingucoding commented on #6258
Yes @kmgallahan I can confirm that they also happen on my machine. Regarding the EnvDTE things, I think that this was not the case with VS 2019 (but don't quote me on that). The MSTest version has always been a problem, some versions just don't work or just work partially.

[2022-03-28 18:14] NPadrutt opened #6895 "Caption Buttons do not work on certain platforms when content extended into titlebar"
### Describe the bug

I have a WInUI 3 application that I migrated from UWP over that extends the content into the titlebar. When I add a margin to the div in the title on certain platforms the caption buttons do no longer work as if they are covered by the div.

I orignally made a StackOverflow post that you can find here: https://stackoverflow.com/questions/71563972/caption-buttons-do-not-work-w

[2022-03-28 20:38] capegreg commented on #6219
Is this issue waiting on me for anything "1 of 2 tasks"?

[2022-03-28 21:35] chingucoding commented on #6219
@capegreg This is something GitHub renders because there are two checkboxes and only one of them is ticked.

[2022-03-28 23:18] ojhad commented on #6881
Thanks for the feedback!

[2022-03-28 23:18] #6881 closed

[2022-03-28 23:21] ojhad commented on #6884
Without the ability for us to reproduce this issue, there is not much we can do. Are you able to put together a minimal repro which we can look at?

[2022-03-28 23:28] ojhad commented on #6886
@bpulliam fyi

[2022-03-28 23:46] ojhad commented on #6891
@codendone Is there any info on this?

[2022-03-29 06:54] castorix commented on #6891
Gamepads work with WinUI
I tested with an old gamepad which is not recognized by XInput, but then I tested  with [DirectInput ](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ee416842(v=vs.85)) and it worked
 (I added a WM_TIMER message to check button status with [IDirectInputDevice8::GetDeviceState,](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ee417897(

[2022-03-29 07:33] LasmGratel commented on #6883
Any updates on this?

[2022-03-29 09:37] dynsim opened #6896 "ToggleSwitch stroke resources not respected"
### Describe the bug

ToggleSwitch has some stroke resources that do not seem to work. When they are set, the stroke instead becomes transparent/removed.

This includes the following resources:
[code]

Similar behavior is seen with a RadioButton and the following resources:
[code]

A sample repository can be seen here: https://github.com/dynsim/WinUI3ControlResourceIssues

### Steps to reproduce t

[2022-03-29 09:49] gwalschlager commented on #424
Yes, this is still an issue for me too. Adding a line like <x:Double x:Key="ContentDialogMaxWidth">1600</x:Double> to your App.xaml <resources> section is a workaround and dialog will set its width to the contents as long as contents are within that value. However, the dialog buttons at bottom become inordinately wide along with expanding to content width. A real solution is still needed.

[2022-03-29 10:11] robinwilson16 commented on #6757
Still happens whatever options are picked and just doesn't work

[2022-03-29 10:41] wbokkers commented on #6754
It just crashed again. I managed to save a crash dump. Where can I send the crash dump?

![image](https://user-images.githubusercontent.com/4835617/160593888-9099f056-9c3f-46b2-8889-29679f36634f.png)

The following message appears in the output window:

`onecore\Base\AppModel\Runtime\Src\PackagePath.hpp(144)\kernelbase.dll!00007FFC618F67CD: (caller: 00007FFC618F5FCE) ReturnHr(8) tid(8074) 80073D5B

[2022-03-29 10:58] wbokkers commented on #6754
Opened the dump file with WinDbg. I don't know what to do exactly, but I got this messages:

[code]

[2022-03-29 11:01] wbokkers commented on #6754
@asklar Can I send the dump-file to you or someone else at Microsoft?

[2022-03-29 11:14] wbokkers commented on #6754
@asklar Here is the WinDbg analysis:
[ClipboardGetContent-WinDbg-Output.txt](https://github.com/microsoft/microsoft-ui-xaml/files/8370762/ClipboardGetContent-WinDbg-Output.txt)

[2022-03-29 18:50] deepthi-msft commented on #6454
@Scottj1s /@angelazhangmsft I think this is CSWinRT issue:
https://github.com/microsoft/CsWinRT/issues/747

[2022-03-29 23:19] ojhad commented on #6893
@codendone FYI

[2022-03-29 23:21] ojhad commented on #6894
@RealTommyKlein This looks like a bug in the Xaml Compiler or CSWinrt?

[2022-03-29 23:22] ojhad commented on #6895
@pratikone Do you know what's going on here?

[2022-03-29 23:30] ojhad commented on #6896
Can you try to change your definition to use Color instead of SolidColorBrush? This should fix your issue.

[2022-03-29 23:30] #6896 closed

[2022-03-30 00:40] gabbybilka opened #6900 "Announcement: WinUI 3 in Windows App SDK 1.1 Preview 1 🎈"
### 1.1 Preview 1 Release of Windows App SDK

We've just released our first preview of the 1.1 release of the Windows App SDK! This preview includes several new capabilities for WinUI 3 apps, including:
- Support for running applications with elevated privileges
- Self-contained app deployment
- Support for multi-window applications (also available in version 1.0.1 and newer)
- Push and app notifi

[2022-03-30 01:49] kmgallahan commented on #6900
@gabbybilka per https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/preview-channel#version-11-preview-1-110-preview1

Could use an update.

[2022-03-30 04:40] codendone commented on #6754
@wbokkers Thanks for sharing that debugger output! What the stack shows is unsupported reentrancy, where the Clipboard.GetContent() call went into CoCreateInstance() to create an out-of-proc COM object, which created a COM message pump (combase!ModalLoop) which pumped a message which ended up back in XAML (Microsoft_ui_xaml!CXcpDispatcher::OnReentrancyProtectedWindowMessage). The complete stack is

[2022-03-30 06:18] wbokkers commented on #6754
@codendone Thank you for your response.

Currently when I want to run something on the UI-thread I do the following:
`  if (dispatcherQueue.HasThreadAccess)   action();   else  dispatcherQueue.TryEnqueue(() => action());`
Is this sufficient to prevent the reentrancy issue? I suspect that I should not check for thread access and always dispatch the action. Is this true? If this is true, is it alway

[2022-03-30 06:20] pavel-zhukov opened #6901 "ExtendsContentIntoTitleBar and wrong window top border color"
### Describe the bug

In WinUI 3 project, the top border of window is drawn black when `ExtendsContentIntoTitleBar` is `true`.

### Steps to reproduce the bug

1. Create 'Blank App, Packaged (with WinUI 3 in Desktop)'
2. Set `ExtendsContentIntoTitleBar` to `true` in the MainWindow constructor

### Expected behavior

_No response_

### Screenshots

![winui](https://user-images.githubusercontent.com

[2022-03-30 06:53] AtosNicoS commented on #1541
Yes I am sure. Your minimal example also does not work. However I noticed, that the code will still compile. Just the intellisense is not sure which type I am using. Maybe this is also related to resharper that I am using.

This is how it looks:
![grafik](https://user-images.githubusercontent.com/37442184/160769750-889514f0-c5d8-4fcf-bfb8-6f32f2f1265b.png)

The first works, but is marked red, the

[2022-03-30 07:34] akbayt commented on #6895
Hi, we have a live and active game on the store and the buttons stopped working for our game as well. As @NPadrutt mentioned removing margin fixes the issue. Now the solution looks simple: just removing the margin. However, if this is a bug with one of the windows update:

- after removing the margin, the buttons will stop working for the users who don't have the latest windows update
- when the M

[2022-03-30 08:06] mc0re commented on #6481
@StephenLPeters Do you need anything?

[2022-03-30 10:49] brabebhin commented on #6610
I actually been trying to get 1 to work for quite some time now, and it just doesn't work. I don't think trying to render subtitles with win2D is a realistic solution, especially when you get to nasty stuff like SSA/AAS or other scripted formats.

[2022-03-30 11:27] dynsim commented on #6896
@ojhad: Thank you for your answer. It does work indeed.

Can you shed some light on when `Color` should be used over `SolidColorBrush`? Should `Color` generally be used?

It seems that some resources work just fine using  `SolidColorBrush`, e.g. `ToggleSwitchStrokeOff`:
[code]

Which produces this result:
![image](https://user-images.githubusercontent.com/71330283/160815971-b2b0cb84-e74b-483c-b66f

[2022-03-30 12:36] chingucoding commented on #1607
If you want to try your changes with Terminal, yes I think this is the easiest way. You could also try to set up your local Terminal repository to also include the Microsoft.UI.Xaml project so you use the output of that project, but I think I tried that and wasn't so successful. In case you only want to check if it works in general, you can (and maybe should) use the MUXControlsTestApp. Also, real

[2022-03-30 15:28] Pseudocode99 commented on #6883
Any updates on this?

[2022-03-30 16:11] sakurai-5317 opened #6903 "SetTitleBar partially occludes the supplied UIElement"
### Describe the bug

Calling `Window.SetTitleBar` with a `UIElement` causes that `UIElement` to be partially occluded by an acrylic brush, mostly hiding the `ULElement` from view and making `SetTitleBar` pointless.

### Steps to reproduce the bug

Create a `Window` with the following XAML:

[code]

Then in the window's code behind:

[code]

### Expected behavior

The `UIElement` passed to `SetTit

[2022-03-30 16:25] sakurai-5317 commented on #6895
I've encountered this on Windows 10 and 11 with both Windows App SDK 1.0.0 and 1.0.1.

[2022-03-30 18:06] michael-hawker opened #6904 "Application Hangs with UniformGridLayout with Data Binding using XamlReader"
### Describe the bug

When loading some XAML with ItemsRepeater and a UniformGridLayout dynamically via XamlReader:

[code]

With an associated DataContext, the application will hang indefinitely.

I hit this when upgrading XAML Studio to use WinUI 2.7.1 from 2.3.1911. Thought I had broken something else, but this broke my go-to example of a conversion of the Toolkit's AdaptiveGridView to use Unif

[2022-03-30 19:13] lukasf commented on #6610
Guys, this is really important. You cannot release a UI framework which cannot render videos. Using UWP MediaPlayer in frame server mode (even if it would work correctly) is a poor workaround. The whole point of WinUI is to have open source code where devs can debug and improve stuff. This is not the case when using UWP APIs and rendering the results into WinUI.

The UWP MediaPlayer and related AP

[2022-03-30 19:53] brabebhin commented on #6610
Agreed. The sooner the winUI media engine becomes open source, the faster we can start debugging known issues and provide fixes/troubleshooting.

[2022-03-30 21:09] tuggernuts opened #6905 "Question: Location of WinUI 3.0 Default Control Templates"
Where exactly can I find the current default control templates for WinUI 3.0? I've been searching here and elsewhere for definitive information on this, and I can't find any guidance. There seems to have been changes over time as to the location on disk.

Specifically, I just need to get at the default template for a TextBox. Everything I've been able to locate on my machine appears to be slightly

[2022-03-30 21:15] chingucoding commented on #1607
Awesome @zadjii-msft ! I guess the next step is creating a PR and go over your changes :)

[2022-03-30 21:40] thiago-cs commented on #6318
Same here. I am working with **en-US**, **es-ES**, and **pt-BR**.
During development everything works great, but once installed from the store or sideloaded, I cannot get **es-ES** to work on my pc.
I installed my app from the store on a virtual machine and only **en-US** works in that VM (i.e. not even **pt-BR** works).
I am running Win10 Pro (fully updated) on both machines.

[2022-03-30 23:48] dotMorten commented on #3689
Just tried with the latest `v1.1.0-preview1` and still doesn't work. And to make matters worse, the error message is extremely unhelpful with no indication about what property or where:

[2022-03-30 23:48] williamfigtree opened #6907 "TeachingTip does not reposition during vertical app resize when it is assigned a Grid row with Auto height"
### Describe the bug

When resizing an application using the bottom or top app border the TeachingTip control does not reposition so that its content remains on screen when the TeachingTip is assigned a Grid.Row with RowDefinition.Height = Auto. When resizing using the left or right app border the position of the TeachingTip is corrected.

### Steps to reproduce the bug

1. Create a blank WinUI3 a

[2022-03-31 00:47] castorix commented on #6905
It should be in **generic.xaml**
at
`<Style TargetType="TextBox">`

[2022-03-31 01:13] tuggernuts commented on #6905
I'm sorry, but this is not helpful. Obviously, the template is going to be in Generic.xaml.

The question is: where can the applicable generic.xaml file be found for a WinUI 3 app?  How do I know what template is being applied? I've found several on my machine, but some do not contain the template for a TextBox, and some contain a template that appears to be different than the template that is app

[2022-03-31 01:42] shelllet opened #6916 "1.1 preview1, Generate wrong `xaml.g.h` file"
### Describe the bug

bad code， missing some codes and closing character.
![image](https://user-images.githubusercontent.com/16729017/160958794-bb0eae05-231d-493c-8d72-9d7ff75e145d.png)

right code:
![image](https://user-images.githubusercontent.com/16729017/160958853-4f4fbd49-2db4-4d20-a85a-da82fe0d6f03.png)

### Steps to reproduce the bug

write the flowing idl code:
[code]

### Expected behavio

[2022-03-31 04:11] LeWindowsCoder commented on #6878
@oldnewthing Could this error be related to the issue mentioned in [your blog here](https://devblogs.microsoft.com/oldnewthing/20190605-00/?p=102543)

I tried adding the header file "winrt/Windows.UI.Xaml.Markup.h" but in vain.

[2022-03-31 04:53] codendone commented on #6754
The code you mentioned is great if you need to ensure some code runs on the UI thread. Your suspicion is correct that for this Clipboard issue it is additionally necessary to ensure the UI thread stack doesn't have XAML in a "no reentrancy allowed" state, and therefore the safest bet for that is to always `dispatcherQueue.TryEnqueue(() => action())` even if already on the UI thread.

We do want to

[2022-03-31 06:18] ParkhutRoman commented on #6905
@tuggernuts  `%USERPROFILE%\.nuget\packages\microsoft.windowsappsdk\[lib version]\lib\[TargetFramework]\Microsoft.WinUI\Themes`
for example
`%USERPROFILE%\.nuget\packages\microsoft.windowsappsdk\1.1.0-preview1\lib\net5.0-windows10.0.22000.0\Microsoft.WinUI\Themes`
don't edit generic.xaml, just use for reference or to override default in your own generic.xaml

[2022-03-31 06:29] ParkhutRoman commented on #6905
now no way to know, we need to wait Xaml Designer to work with WinUI 3.0

[2022-03-31 06:50] ParkhutRoman commented on #6903
You can edit default WindowChromeStyle , more here https://github.com/microsoft/WindowsAppSDK/issues/1626

[2022-03-31 07:48] lhak commented on #6185
Seems to be fixed in 1.0.1

[2022-03-31 07:48] #6185 closed

[2022-03-31 07:53] wbokkers commented on #6754
Thank you @codendone !
I did not yet run into the crash when following your advice. So hopefully this solves our issue for the time being.

Nice to know that this is on your radar and that XAML will be improved to better fit WinUI3.

Do you think it is wise to always run TryEnqueue and never check for thread access first every time I want to run something on the UI to prevent these type of issues?

[2022-03-31 10:31] LucaCris opened #6908 "RichEditBox RTF colors are lost on theme change"
### Describe the bug

**XAML Controls Gallery - RichEditBox**

Open a simple RTF with a foreground color.

![immagine](https://user-images.githubusercontent.com/50824617/161034421-ed4edecb-bdb1-4245-90aa-c1c71da2a31c.png)

Press:

![immagine](https://user-images.githubusercontent.com/50824617/161034659-8ad3dc3f-1e38-4219-af81-6a0b8ac0733c.png)

(and press again for a better check)

The result is:

[2022-03-31 11:13] lhak commented on #6903
There has definitely been a change in the template of the window controls styles. In 1.0.1 the buttons are now on top of the window content. In my opinion this makes it a lot easier to implement custom titlebars and works similar to the UWP titlebar.

I think the SetTitleBar() call only sets the area where the window can be draged. It does not change the rendering of the passed UIElement.

[2022-03-31 11:53] SubashiniMahendran opened #6909 "ArgumentException was thrown when trying to get the resources using Windows.ApplicationModel.Resources.Core.ResourceManager.Current.MainResourceMap in WinUI unpackaged project"
### Describe the bug

ArgumentException was thrown when trying to get the resources using Windows.ApplicationModel.Resources.Core.ResourceManager.Current.MainResourceMap in WinUI unpackaged project with latest  WinUI Microsoft.WindowsAppSDK (1.1.0-preview1)

Note: This issue occurs only with unpackaged sample with latest Microsoft.WindowsAppSDK (1.1.0-preview1). It works properly in Microsoft.Wind

[2022-03-31 13:37] tuggernuts commented on #6905
Thank you, @ParkhutRoman.

I understand how to use these files. I just don't know WHERE to find these files - other than blindly fumbling about.  And if there is no way to know what template is being applied, how can you point me to those .nuget directories with any confidence?

Because when I swap out the template (which I don't intend to do in production) using a style taken from the location yo