[2020-09-11 11:45] chingucoding commented on #1401
Unfortunately almost all of the Tooltip code still sits in the OS right now, which means many changes to tooltip, including this issue, can only be done inside the OS or with WinUI 3. That's also why it is marked as "needs-winui-3".

[2020-09-11 12:20] sylveon commented on #1045
This is required for scenarios such as cmake: https://github.com/microsoft/ProjectReunion/issues/58

[2020-09-11 20:52] ejserna opened #3279 "Proposal: Adding a Expander Control to the set of WinUI controls."
# Proposal: WinUI Expander Control
A  [spec](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kat-y/expander/active/Expander/Expander.md) has been opened with [a PR](https://github.com/microsoft/microsoft-ui-xaml-specs/pull/100) for this issue. Feel free to continue general discussion in this proposal!

## Summary
Throughout Windows, different expander controls are used by Windows Se

[2020-09-11 22:23] jevansaks commented on #2783
I've checked in fixes for a few different drag&drop issues in WinUI3, and they'll be in the next preview.

[2020-09-11 22:23] #2783 closed

[2020-09-11 22:26] jevansaks commented on #2715
I've fixed an issue blocking drag&drop in WinUI3 so this works for some cases but I'll leave this open as there's one last problem with accepting files in a drop operation and that is that the "DataView" property isn't working in .NET 5 due to a Cs/WinRT issue. @Scottj1s is going to look into that and then this scenario should work for all cases.

[2020-09-11 22:28] jtbrower commented on #1045
@sammi does #1433 summarize a plausible solution to what your looking for?

[2020-09-11 22:42] sammi commented on #1045
@jtbrower, that is exactly feature I'm looking for, thanks!

[2020-09-12 00:18] codendone commented on #3091
Closing this issue, since reinstall fixed it and we don't have more info.  We'll continue to keep watch for any potential install issues.

[2020-09-12 00:18] #3091 closed

[2020-09-12 03:35] sylveon commented on #1433
"The tasks will support C++ apps" needs to be a must - C++ developers should not be forced to the inferior experience, especially considering it's the same XAML compiler ultimately.

[2020-09-12 04:40] pjmlp commented on #1433
This includes a proper experience for the IDL files required to bind into XAML, with syntax highlighting and code completion, and no manual copying of generated files.

[2020-09-12 08:59] DierkDroth commented on #2715
Thanks. Appreciate the continued work on that issue...

[2020-09-12 15:30] wjk commented on #1433
Updated OP. The only real reason I put that as a "should" was to indicate that (to me) it was of lower priority, and that I was OK if only the C# version shipped first. Now I see I was in error. I absolutely agree with all of the complaints about the C++/XAML experience.

[2020-09-12 15:49] Thomas1664 opened #3280 "TabView in title bar of window below buttons to minimize, maximize and close the window"
**Describe the bug**
When you want to use `TabView` control in combination with `ExtendViewIntoTitleBar`, the tabs are visible underneath the window controls

**Steps to reproduce the bug**
Follow the guidelines in the [docs](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tab-view#display-tabview-tabs-in-a-windows-titlebar) or see the "Complete TabView windowing sample"

[2020-09-12 16:05] chingucoding commented on #3280
@stmoy Is this a scenario we actively support/encourage? I know that in the case of the XAML Controls Gallery, that sample has multiple problems which are on our side (i.e. XAML Controls Gallery, not WinUI side).

[2020-09-12 16:25] sylveon commented on #1433
@pjmlp IDL is the responsibility of cppwinrt, this issue is about the XAML compiler. Currently, outside C++-specific codegen bugs, the XAML compiler experience is on par with C#.

[2020-09-12 17:50] pjmlp commented on #1433
@sylveon After killing the productivity we had with C++/CX the responsibility to fix it seems to belong always to someone else.

From C++/WinRT team apparently ISO C++ is to blame and we should now just sit and wait for the day that ISO C++ might support C++/CX features, nice service.

[2020-09-13 02:56] robloo commented on #3280
I think this is useful to support. It's convention now to extend into the title bar even with tabbed interfaces like this example. It should be possible to at least set a custom margin to push the tab headers out from under the window buttons.

[2020-09-13 03:00] robloo commented on #3279
Expander is very useful and I've been using the Windows Community Toolkit version since it was added. I wouldn't re-invent the wheel too much though, just porting over the code from the toolkit would be perfect for version 1.0 in my opinion.

Another example: the ColorPicker with it's 'MoreButton' could use this.

[2020-09-13 03:08] jevansaks commented on #2782
I verified that the same fix that address #2783 fixed this. Will be in the next WinUI3 preview. Thanks for the report!

[2020-09-13 03:08] #2782 closed

[2020-09-13 06:27] chingucoding commented on #3280
You can put content inside the TabStripFooter, e.g. an empty Grid occupying the necessary space to achieve the necessary padding. The question is if there should be a separate API here, similar to the [NavigationView.IsTitlelBarAutoPaddingEnabled](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview.istitlebarautopaddingenabled?view=winui-2.4#Microsoft_UI_Xaml_Control

[2020-09-13 15:34] chertpong commented on #2820
Hi team,
Finally, I got the full crash dump.
But I think I'm stuck here, I don't know how can I investigate further.
Could you help, please?

[code]

[code]

[2020-09-13 15:40] mfe- commented on #2232
Any update on this? Would be a really nice feature as I used it in some wpf projects.

[2020-09-13 16:22] robloo commented on #3280
Ah, yes, I forgot about how the NavigationView automatically handles this. It would be great for the TabView to do the same. Both of these controls have evolved into a fundamental layout of applications and should support this scenario the same way.

[2020-09-13 20:54] maraker commented on #2027
It is windows bug. If diable edge snap swipe lile this way, then taskbar not popup.
1. Press Windows button + R to open the Run dialog box

2. Type gpedit.msc and press enter

3. From the Folders on the left select Computer Configuration> Administrative Templates> Windows Components> Edge UI

4. Once viewing the Edge UI options right click 'Allow Edge Swipe' and select Edit

5. From the top left c

[2020-09-14 01:31] robloo opened #3281 "Proposal: Add HsvColor Struct and HsvColor Property to ColorPicker"
# Proposal: Add HsvColor Struct and HsvColor Property to ColorPicker

## Summary

 1. Add a new HsvColor struct to WinUI. The struct should support the properties below. The design is based on the [Windows Community Toolkit implementation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.hsvcolor?view=win-comm-toolkit-dotnet-stable).

[code]

 2. Add an HsvColor property to the Co

[2020-09-14 07:20] Xarlot opened #3282 "Question: How to write UI tests in WinUI 3 Desktop"
I`ve tried to write a test in WinUI 3 Desktop that shows some UI. However, it failed on showing UI with     System.Runtime.InteropServices.COMException : Class not registered (0x80040154 (REGDB_E_CLASSNOTREG)) exception.
I used "Microsoft.NET.Test.Sdk" stable Version="16.7.0" and latest Version="16.8.0-preview-20200812-03".
It seems that this version of SDK doesn't support WinUI 3 Desktop testing.

[2020-09-14 08:22] AtosNicoS commented on #1710
@Felix-Dev I tried to realize your first approach, but that did not change anything. Any idea what I did wrong?

[code]

Increasing icon size is a really nice idea!

[2020-09-14 08:26] Felix-Dev commented on #1710
@AtosNicoS This has not yet been implemented in WinUI. Currently waiting for @YuliKl (a WinUI team member) to give her thoughts on the idea to use lightweight styling to customize the icon size.

[2020-09-14 12:41] SetTrend opened #3283 "Question/Discussion on PointerDevice and other device capabilities classes"
At [Retrieve pointer properties](https://docs.microsoft.com/en-us/windows/uwp/design/input/identify-input-devices#retrieve-pointer-properties) it reads:

So ...

[code]
... returns a list of [`PointerDevice`](https://docs.microsoft.com/en-us/uwp/api/Windows.Devices.Input.PointerDevice) objects, and each and every object in this list returns the same information?

- Why should it make sense to prov

[2020-09-14 16:47] huoyaoyuan commented on #3269
Can you share any progress about when the framework components of WinUI 3 can be open-sourced?
It has been buggy and hard to understand with some features starting with initial version of UWP, comparing to WPF. With open sourcing it, at least we can read and understand its behaviors. For WPF, we used to decompile it before it's open source, but it's harder for WinUI to decompile.

[2020-09-14 17:06] Scottj1s commented on #2595
Consider adding ComImport definitions of IWindowNative/IInitializeWithWindow in the WinUI projection assembly to leverage cswinrt ComImport support

[2020-09-14 17:11] hjharvey-MSFT commented on #3266
@ranjeshj the User class is being added to a listview, which is displayed on a page.

[2020-09-14 20:08] stevenbrix commented on #1433
@wjk we have started work on a xaml compiler exe. If you are using Preview2, you can set `UseXamlCompilerExecutable` in your project file, this will be used instead of the MSBuild task dll. It's still early on (and why we haven't made it the default yet), so we'd appreciate getting your feedback on it. While the code isn't open source yet, you can probably look through our props/targets in the nug

[2020-09-14 20:58] #1423 closed

[2020-09-14 20:58] #1425 closed

[2020-09-14 21:40] hansmbakker commented on #3269
Are there any updates on non-desktop WinUI3 usage?

[2020-09-14 21:59] chrisglein commented on #3139
@MikeHillberg Can you help me understand the tradeoff between RegisterReadOnly versus a OneWay binding? Is the value here that you _can't_ do a TwoWay binding because it's captured by the DependencyProperty itself?

[2020-09-14 22:51] stmoy commented on #3280
Yes, this is a "mainline" scenario. It's pretty gnarly to get right though...

Resizing the window fixes this issue. I'm not sure if this is a XCG bug or a Title bar bug - it seems like the latter to me especially since there is [code to handle this case](https://github.com/microsoft/Xaml-Controls-Gallery/blob/6b3b4847a0143c6530c7939e4ce02ad348c0add2/XamlControlsGallery/TabViewPages/TabViewWindowi

[2020-09-14 23:07] StephenLPeters commented on #3283
PointerDevice is a part of Windows.UI.dll so I don't think that WinUI owns this? I'm moving it to project reunion but if that is wrong feel free to put it back on us and I'll find the right owner.

[2020-09-14 23:09] StephenLPeters commented on #3282
@stevenbrix @alwu-msft fyi

[2020-09-14 23:11] StephenLPeters commented on #3281
@kikisaints fyi

[2020-09-14 23:23] StephenLPeters commented on #3277
I'm not sure that I agree that the subtitle should always be read along with the teaching tip title. However you should be able to adjust what narrator reads by setting automation properties on your TeachingTip.  Setting AutomationID of the tip eventually gets folded into the announcement from narrator here: https://github.com/microsoft/microsoft-ui-xaml/blob/70adca81f36a1828adce6f9a9ab92892f4eeb9

[2020-09-14 23:25] StephenLPeters commented on #2820
@codendone fyi

[2020-09-15 00:50] stevenbrix commented on #3282
Adding @azchohfi in case he has any guidance.

Can you share a repro project, so that we can take a look?

[2020-09-15 01:47] OnlyOnePro opened #3284 "Autosugest box unaligned text"
**Describe the bug**
The autosugest box's placeholder and content text do not center-align vertically when indicated. Changing it to bottom doesn't appears to work either.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1- Create a Autosugest box using the following boilerplate code:

[code]

**Expected behavior**
The text should modify its centering relative to the control itsel

[2020-09-15 01:49] azchohfi commented on #3282
**WinUI3 Desktop? No. WinUI3 UWP, yes.**

I think this is all I've added:
[code]
I'm using 16.6.1 of Microsoft.NET.Test.Sdk, but it should work with newer versions just fine.

Here is the source of the csproj:
https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/winui_multitarget/UnitTests/UnitTests.UWP/UnitTests.UWP.csproj

We don't have templates for MSTests+UITests+WinUI3+Desktop (al

[2020-09-15 02:33] codendone commented on #2820
Thanks for the additional information, which narrows down the problem significantly.  Does this app use InkCanvas?  This error can happen if an app leaks InkCanvas elements, or if an app tries to have over 100 InkCanvas elements at the same time.

[2020-09-15 03:11] MikeHillberg commented on #3139
You can't do a TwoWay binding, nor set it from a Style Setter or VisualState, nor can you call the property setter explicitly from code. Without this feature you can still simply not have a property setter, but that doesn't affect the mechanisms that set the DP directly.

[2020-09-15 04:52] Gavin-Williams opened #3285 "The "CompileXaml" task returned false but did not log an error."
**Describe the bug**

Build fails, outputting The "CompileXaml" task returned false but did not log an error.

**Steps to reproduce the bug**

Steps to reproduce the behavior:

1. Build a a simple project. It runs
2. Go to bed.
3. Wake up.
4. Load project, and start it.
5. You will see the error message.

**Expected behavior**

I expect the build to work. Or a useful error message to be returned i

[2020-09-15 06:46] VrindaJayan opened #3286 "Can we invoke interfaces of MFC dependent DLL's from WinUI desktop app (c++/c#)? Can we use MFC classes like CString, CList and CMap? Whether such usages are recommended ?"

[2020-09-15 06:52] pjmlp commented on #1433
@stevenbrix  Thanks for confirming that the productivity loss due to withdrawing C++/CX is taking care of.

If you allow me just a little bit of feedback, C++/CX is almost perfect, finally Microsoft seemed to be getting what it meant to have a C++ RAD offering, which while not yet C++ Builder like, it is almost like there.

Instead of improving what was still missing, versus the .NET experience fo

[2020-09-15 07:03] ChristophWahnsinn opened #3287 "Question: Using WinINK RT APIs to draw inside a WebView2 html canvas?"
Hi, I am a designer involved in a large german software project currently built as a UWP (visual studio 2017) hybrid app, used in production. We think about switching to WinUI3 with WebView2 but one critical info is hard for us to come by :)

Can we use WindowsINK RT APIs to draw inside a html canvas element in WebView2 today or in the future, as we currently do in the UWP implementation?

Thanks

[2020-09-15 07:06] Gavin-Williams commented on #3067
I got this error message today for WinUI 3 Preview 2 UWP blank app. It was working last night, and today I'm getting the error and it won't build.

[2020-09-15 08:59] #3214 closed

[2020-09-15 09:32] Gavin-Williams commented on #3285
This error was hiding the fact that VS was generating references to Windows.UI instead of Microsoft.UI

[2020-09-15 13:08] Xarlot commented on #3282
I end up with creating a custom nunit test runner. IsWinUIAlpha and WindowsKitsPath helped a lot with copying testhost.exe. Thanks.

However, I encountered difficulties related to building a test runner application package.
I've created three libraries, two of them have custom control and themes/generic.xaml file with styles (custom library winui in desktop template) and application (blank app pac

[2020-09-15 14:57] stevenbrix commented on #3282
@Xarlot can you set this in your library projects:

[code]

I think that should get you around this issue.

[2020-09-15 15:05] stevenbrix commented on #3067
@AnriaruDoragon I put the text of the error into Google Translate, and it said something about the configurations being incorrect (trying to build arm, but you should choose x64 or x86) - this might be a red herring based off what properties you pass into msbuild.

@Gavin-Williams can you follow the steps here for collecting binlogs through VS? https://github.com/microsoft/microsoft-ui-xaml/blob/m

[2020-09-15 15:51] AnriaruDoragon commented on #3067
@stevenbrix I forgot to add `/p:Platform="x64"`, false alarm...
MSBuild is doing its job well. It rebuilds objects in solution and after that package the project. When you trying to package the project from the context menu it is trying to package it using already existing objects. This is how I understand the situation 🤷‍♂️

[2020-09-15 17:39] #3241 closed

[2020-09-15 17:54] kseitz10 opened #3288 "Question: Flyout within/over ContentDialog"
If you create a ContentDialog that contains controls which are capable of displaying Flyouts, there is this weird behavior where the Flyout is affected by the ContentDialog. Where the two items overlap, the Flyout becomes shaded. (In the image below, the HotPink area and the default Flyout background become shaded.) This same behavior can be witnessed with Popups. Is there a way to make this not h

[2020-09-15 19:33] chingucoding commented on #3280
I don't think this is an issue with title bar, the values get passed to the TabView correctly, yet we can end up in that bad state. This is an issue with TabView not responding to the size changes of the TabFooter content. The root cause of this is this line:
https://github.com/microsoft/microsoft-ui-xaml/blob/8c8f29cbf8b6e30e3f26ba208d6d4f44fe26a7ca/dev/TabView/TabView.xaml#L37

Quite frankly, I

[2020-09-15 19:47] niels9001 commented on #3269
What are the top features the community / partners / customers request that will NOT make it in WinUI 3.0? And when will we see these features arrive?

[2020-09-15 20:05] kseitz10 commented on #3288
This seems to be an issue that is reproducible in Windows 10 release 1909 but not Windows 10 release 2004 (H1). I guess the fix is to require users to update...

[2020-09-15 20:16] Skittles2519 commented on #3269
Our team would like to use WebView2 in production as soon as possible, any eta of when it will receive it's first release under production win UI? Also, are there any updates on Xbox getting WebView2 or the new edge browser? Thanks

[2020-09-15 20:46] Poopooracoocoo commented on #3275
+1 a lot of this applies to keyboard too. it lacks up/down to control volume and left/right to seek

[2020-09-15 21:43] stmoy commented on #3280
The TabFooter spacing isn't optimal, no. I think TabView often takes up the entire window, so this scenario should probably be better supported. Using NavigationView as a precedent for a new API makes sense to me. In the short term, though, it might be faster to fix the bug you highlighted above rather than introducing a new API...

[2020-09-15 23:29] chingucoding opened #3289 "Visual state manager VisualStateGroups null instead of crashed visual state"
**Describe the bug**

The progressbar template of [this commit](https://github.com/microsoft/microsoft-ui-xaml/pull/3201/commits/3c92a95341be92e668f189cac4fcb65edf377bd8) does not have a resource for high contrast. When switching from "normal" to high contrast, instead of crashing, the VisualStateManager gives us null for the VisualStateGroups.

**Steps to reproduce the bug**

Steps to reproduce t

[2020-09-16 01:19] Parth opened #3290 "Drag and drop for navigation seems broken in lastest pre-release!"
Prompted by https://github.com/microsoft/microsoft-ui-xaml/issues/3131 issue I was asked to update to the latest pre-release.

Updating to this seems to completely disable drag and drop regardless of `CanDrop` and related settings.

[2020-09-16 02:23] codendone commented on #3287
To help us focus our answer, could you be more specific about which APIs you're interested in?

[2020-09-16 03:08] chertpong commented on #2820
Hi @codendone thank you for looking into this.
We don't use InkCanvas in our project. Does this kind of issue occur for other elements?

[2020-09-16 04:44] MartinZikmund commented on #3269
Not fully WinUI question, but what are the chances of getting a way to debug/run Windows apps under compatibility mode of older Windows 10 builds? (see feedback item https://developercommunity.visualstudio.com/idea/1184084/debug-apps-in-windows-10-compatibility-mode.html)

[2020-09-16 05:04] codendone commented on #2820
Does the app use lots of WebView elements, or create multiple CoreApplicationViews?  The error here is too many Compositor instances in the process, so directly creating many of those could also lead to this error.

If none of these apply, can you share a full dump?

[2020-09-16 07:05] ChristophWahnsinn commented on #3287
Sure.

We **need** to be able to
• vectorised handwriting in black and a fixed additional color (like OneNote)
• vectorised multiplicative highlighting with a green text marker (like OneNote)
• eraser-style deleting (like OneNote)
• print the result (mixed handwriting & html) to .ps and .pdf.

Additionally we **would like** to be able to do
• basic shape recognition
• lasso-style moving/deleting o

[2020-09-16 08:45] Path2Freedom commented on #1710
Width of navigation bar in closed compact mode is lesser than what is there in Windows Start menu and hence it looks inconsistent.

![image](https://user-images.githubusercontent.com/39167208/93314029-df7a4780-f826-11ea-9976-73b211bc5f8b.png)

The only solution it seems right now is to provide two separate navigation controls instead of one. One for vertical configuration and other for horizontal

[2020-09-16 10:34] zeealeid commented on #3269
There is a rumor of WinUI getting used in Start Menu, Action Center etc.
https://mspoweruser.com/microsoft-may-be-getting-ready-to-replace-the-windows-10-desktop-with-a-fluent-winui-version/

When would we be able to start seeing these changes?

[2020-09-16 10:37] kinex commented on #3161
Can I start using WinUI gradually in my UWP app or do I need to convert the whole app to WinUI in one shot?

For example, I was planning to use `TabView` control from Windows Community Toolkit, but I noticed there a message "Please migrate to the "TabView" control from WinUI". So can I now include `TabView` from WinUI to my UWP app without converting the whole app to WinUI?

[2020-09-16 10:46] Felix-Dev commented on #3161
@kinex Yes, you can use WinUI's TabView while keeping the rest of your app using OS XAML. Simply use WinUI 2 for that: https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started

Once you've added the WinUI 2 library to your project, you can use then start using its `TabView` control. If you followed the aboev tutorial, then you will have a XAML namespeace named "muxc" and can use

[2020-09-16 13:55] ranjeshj commented on #3290
@Parth  Was this working for you in a 2.5 pre-release but then regressed in a newer one? Could you specify which release it was working in and which one it stopped ? What do you mean by drag and drop being disabled ?

[2020-09-16 13:56] ranjeshj commented on #3289
@stevenbrix  @alwu-msft  as FYI

[2020-09-16 14:15] chingucoding commented on #2410
@StephenLPeters @stmoy Should we close this issue since this is an issue with the XCG SplitView sample which is also being tracked by https://github.com/microsoft/Xaml-Controls-Gallery/issues/322?

[2020-09-16 14:23] chingucoding commented on #979
@StephenLPeters @chigy @jevansaks Looking at the conversation, is this something we should do post WinUI 3?

[2020-09-16 14:43] stevenbrix commented on #1433
@pjmlp we're so early in discussion, it's mostly just hallway talk at this point (if that were a thing anymore). Once there is something to share, we will. But I wouldn't expect anything in 2020.

I'm glad you are happy with C++/Cx, but for everyone who feels the way you do, someone says they hate it.

[2020-09-16 15:11] Psykobal commented on #3269
Do you have a roadmap for non-WinUI3 package release (2.4.4, 2.5,...)?

[2020-09-16 16:39] StephenLPeters commented on #979
Split view is a winui 2 control, so I don't think the Needs winui 3 tag is appropriate, however this seems relatively low priority and like we would want to do some more investigation before blindly checking in a shadow update.

[2020-09-16 16:41] StephenLPeters commented on #2410
Sure, sounds good.

[2020-09-16 16:41] #2410 closed

[2020-09-16 16:45] StephenLPeters commented on #3161
Do note however that Winui 2 includes updated styles for many of the in box xaml controls. So when you import the Winui 2 package you might notice the visuals of some of your controls update.  The updated styles conform to the Windows fluent design system so we'd suggest using them, we've also done our best to try to make sure they wont break apps which update to them, however your mileage may var

[2020-09-16 16:47] stevenbrix commented on #3067
@AnriaruDoragon thanks, so does this only repro in Visual Studio then?

[2020-09-16 16:56] StephenLPeters commented on #3280
does nav view really have an API to handle this? I would imagine it being more automatic than that

[2020-09-16 17:03] chingucoding commented on #3280
There is the [IsTitleBarAutoPaddingEnabled](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.navigationview.istitlebarautopaddingenabled?view=winui-2.4#Microsoft_UI_Xaml_Controls_NavigationView_IsTitleBarAutoPaddingEnabled) API, which updates the padding on some parts. Having this automatic is very difficult, since that would require some way to reliably detect whether or not th

[2020-09-16 17:03] tomzorz opened #3291 "Discussion: Vulkan embedding"
# Discussion: Vulkan embedding

Hi folks,

Our company is currently shipping a WPF application with a Vulkan renderer embedded in it for a 3D LOB application. While this solution works, we have several issues:
- we'd love to use Fluent Design components, and get all the new design/HiDPI goodness;
- there are a few WPF bugs that make our designers sad, e.g. applying drop shadows kills both perf and

[2020-09-16 17:36] jonathanchapmanmoore opened #3292 "Lab Support Files in the Windows 8.1 SDK"
The Lab support Files seem to be missing from the Windows 8.1 SDK I attached them.
[BuildLabSupportFiles.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5233906/BuildLabSupportFiles.zip)

![Untitled](https://user-images.githubusercontent.com/8218836/93372545-05e9b400-f822-11ea-9e08-62c909e68223.png)
 A final windows 8.1 Build lab should look something like this. With the VS 2013 build to

[2020-09-16 18:38] kseitz10 commented on #3288
Re-opening this question because upgrading to Windows 10 release 2004 fixed it for some people but not others. This misbehavior seems to be tied to display/visual ease of access settings for some users, but they don't seem to have an effect on my computer.

[2020-09-16 19:02] MarissaMatt opened #3293 "Proposal: Customizing PorgressRing by exposing thickness property"
The [RadialProgressBar ](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/radialprogressbar)in the Windows Community Toolkit has two properties for customization that our current ProgressRing does not (outline and thickness). In order to further customize the ProgressRing in WinUI and bring both controls to parity, we should add these properties to ProgressRing.

The outline prop

[2020-09-16 20:22] mc0re commented on #3255
It took some time, but I finally narrowed the issue down. It happens when the following conditions are met:
* `MediaPlayerElement` is inherited to show an overlay
* `Media.DoubleTapped` event is handled by toggling `Media.IsFullWindow`
* `Media.TransportControls` contains a "skip 30 sec forward" button
* During media playback, the user repeatedly clicks on the "skip 30 sec forward" button

The cli

[2020-09-16 22:04] ranjeshj opened #3294 "Testing triage bot"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
|  |  |

| Windows 10 version                  | Saw the problem? |
| :---------------------------

[2020-09-17 02:02] anshul-rohilla opened #3295 "OpenFileDialog is not working with WinUI3 preview 2 and .NET5 preview 7 for desktop app development"
I recently started migrating an old desktop app to WinUI3. The application has simple UI but complex backend business logic. I started with creating a blank new desktop application using WinUI3 preview 2 and .NET5 preview 7 and then slowly built the new UI. Everything looks great until I encountered problem with file browser functionality. OpenFileDialog is not recognized and build is failing. I h

[2020-09-17 04:49] YuliKl opened #3296 "Narrator is silent when user selects a NavigationViewItem"
**Describe the bug**

Narrator users get no audible feedback to confirm their selection. This feels particularly problematic because selecting a nav item likely results in a page navigation and a significant change to the app content. Sighted users get visual feedback that something happened but blind users are left, so to speak, in the dark.

**Steps to reproduce the bug**

Steps to reproduce the

[2020-09-17 05:13] AnriaruDoragon commented on #3067
@stevenbrix Yes, problem only occurs in Visual Studio, in dev prompt everything is ok.

[2020-09-17 05:45] chertpong commented on #2820
Hi @codendone, that's helping us a lot!
Thank you for pointing this out for us, we do have method that creating CoreApplicationView(s).
I will close this ticket first and will re-open if the crash is still happening.

[2020-09-17 06:22] JagadeesanPichaimuthu commented on #3258
Hi Team,

Thanks for your update. Our purpose is to measure the DataTemplate  size based on the width. So that we created the content control and assigned the DataTemplate and measure the size of the ContentControl. We just used the ContentControl for meaure purpose alone, so we don't added this to visual tree. Is there is any other way to measure the DataTemplate?

[2020-09-17 08:40] mixturify commented on #1530
As an UWP developer, will be much appreciate this feature which is asked by many users.

Or If someone can give me some hint to implement partial eraser by myself!

[2020-09-17 10:18] Poopooracoocoo commented on #1530
@anawishnoff could you please look at this? There haven't been updates to the inking experience in like 3 years and I think every Surface device supports pens.

[2020-09-17 17:45] myokeeh opened #3297 "Partner Center: stowed_exception_800f1000_microsoft.ui.xaml.dll (AcrylicBrush::OnConnected should not sync call MaterialHelper::IsFullScreenOrTabletMode)"
**Describe the bug**

It's unclear to me if this is causing crashes for users, but thought I'd report it anyway.

From Partner Center:
stowed_exception_800f1000_microsoft.ui.xaml.dll!winrt::impl::consume_windows_ui_viewmanagement_iapplicationview3_winrt::windows::ui::viewmanagement::applicationview_::isfullscreenmode

0	combase.dll	RoOriginateErrorW	0x000000000000004D
1	Windows.UI.Xaml.dll	DirectU

[2020-09-17 19:27] ejserna commented on #3297
This seems to me a XAML layout cycle issue because of:
[code]

[2020-09-17 23:04] StephenLPeters commented on #3297
@codendone have you seen a crash like this before?

[2020-09-17 23:09] StephenLPeters commented on #3295
@stevenbrix This sound really familiar, do you remember something like this (a cswinrt bug causing file picker to fail)?

[2020-09-17 23:10] StephenLPeters commented on #3296
I think we need to raise a UIA Selection event https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-implementingselectionitem

[2020-09-17 23:12] StephenLPeters commented on #3293
I think the term outline here is confusing, since the ring doesn't have a boarder.

[2020-09-17 23:14] StephenLPeters commented on #3292
This doesn't seem like a winui issue, @stevenbrix or @MikeHillberg do you know where this should go?

[2020-09-17 23:17] StephenLPeters commented on #3291
@tomzorz are you asking for Winui support for Vulkan renderer?

@Austin-Lamb @ryandemopoulos @MikeHillberg @codendone  FYI

[2020-09-17 23:23] StephenLPeters commented on #3288
@codendone or @gegao This looks like a shadows bug, do either of you have an idea what might be happening?

[2020-09-17 23:25] StephenLPeters commented on #3286
@marb2000 do you know about this?

[2020-09-17 23:32] StephenLPeters commented on #3284
Looking at the template (which is in winui 2) it looks like we are only template binding the query button's vertical alignment to the ContentVerticalAlignment, this should be as easy as adding the another template binding to the text box.

[2020-09-17 23:43] MarissaMatt commented on #3293
@StephenLPeters good point I updated it to refer to the customizing the color.

[2020-09-18 00:02] Parth commented on #3290
Not sure if you looked into the issue I linked. Before the prerelease I was facing a bug regarding highlight of the navigationview. But here drag and drop is working. This video doesn't capture the tooltip I see when I drag and drop (perhaps a bug in game bar or whatever) but you can see both drag and drop working and the bug I talked about in #3131 in this video.

2.4.3: https://youtu.be/1MSW26ip

[2020-09-18 00:26] stevenbrix commented on #3295
@anshul-rohilla can you take a look at https://github.com/microsoft/WinUI-3-Demos/tree/master/DemoBuildCs? This should be fixed by Preview3 so that you don't have any awkward steps or weird wrappers

[2020-09-18 00:30] stevenbrix commented on #3292
I do not, @AdamBraden do you have any idea where this should go? Is Windows 8.1 SDK still supported?

@jdm7dv, what kind of 8.1 project are you trying to build?

[2020-09-18 01:36] OnlyOnePro commented on #3284
@StephenLPeters I saw that this problem also exists on TextBox controllers. AutosugestBox inherits from TextBox? Maybe the problem is on that controller. Should I make a new issue for that one?

[2020-09-18 03:59] anshul-rohilla commented on #3295
@StephenLPeters @stevenbrix thank you so much for providing updates. I will wait for Preview 3, meanwhile I will check the demo link you have provided.

[2020-09-18 04:19] codendone commented on #3288
The only potential user difference should be if shadows are fully disabled for the user.  The only known issue here was fixed in 2004.

@DmitriyKomin for any additional thoughts.

[2020-09-18 04:40] codendone commented on #3297
The stack shows bad reentrancy.  CCollection::FailIfLocked causes a failure if there is an attempt to change the CCollection when it is locked for other changes, in this case the CDOCollection::Append far down on the stack.  So what the stack shows is this sequence:

1. CDOCollection::Append is adding an element to the collection.
2. The element being added includes an AcrylicBrush, which runs its

[2020-09-18 06:30] Xarlot commented on #3282
It works. Thanks

[2020-09-18 18:10] #3282 closed

[2020-09-18 18:15] StephenLPeters commented on #3284
Auto suggest box contains a text box, it doesn't inherit. However its possible that there is an issue with textbox in addition to the template issue I highlighted above. If that is the case it will be much harder for us to fix this before winui 3 is published because that code is still in the OS.

[2020-09-18 18:16] ranjeshj commented on #3290
@Parth  would you be able to share a small repro app showing your issue ? That would really help debug. @StephenLPeters can you think of any recent changes NavView change that could have caused this ? It might be worth adding a test for this scenario.

[2020-09-18 18:18] ranjeshj commented on #3293
@karenbtlai @simeoncran I think this will need exposing a property though the json file for the thickness of the ring.

[2020-09-18 18:20] StephenLPeters commented on #3290
@chingucoding and/or @Felix-Dev did the change to treeview's drag and drop behavior get checked in already? could that be causing this?

[2020-09-18 18:23] StephenLPeters commented on #3290
Silly me, H-Navview doesn't use tree view

[2020-09-18 18:23] chingucoding commented on #3290
I don't think that those went in yet, but even if so, NavigationView uses ItemsRepeater, not Treeview so that shouldn't make a difference.

[2020-09-18 18:56] ranjeshj commented on #3258
It does look like some optimization is at play here. If the content control is in the tree, then the measure call produces a desired size. As a workaround you can add it to the grid, measure, get the desired size and remove it from the grid immediately after. @MikeHillberg as FYI.

[2020-09-18 19:25] Felix-Dev commented on #3290
@StephenLPeters Exactly as @chingucoding said :)

[2020-09-18 22:17] YuliKl commented on #2125
I plan to replace this with a more concrete proposal for value changes shortly.

[2020-09-18 22:23] YuliKl commented on #1233
Closing this issue. No changes to Button colors are required as clarified in the WCAG 2.1 guidance. I'm not sure that anyone uses sliders with tick marks as I have seen no reports of violations there.

[2020-09-18 22:23] #1233 closed

[2020-09-18 23:38] simeoncran commented on #3293
The property should get exposed automatically by LottieGen as long as it it marked as a theming property (which I believe the current JSON is).
@karenbtlai  - the winrtcpp codegen has just been improved a lot, so you should use the latest version in master of lottiegen and work with me if there are any issues.

[2020-09-19 00:02] llongley opened #3298 "Microsoft.UI.Xaml.winmd needs to be placed in the root of AppX files when distributed via a framework package"
Stable releases of WinUI 2 contains the target `_FixWinmdPackaging` that causes Microsoft.UI.Xaml.winmd to be placed in a WinMetadata subdirectory of the AppX.  This causes WACK certification tests not to be able to find the WinMD file for dependency resolution, which fails the test suite.  We need to:

1. Figure out whether the WinMD file needs to be put in that subdirectory at all, first - it wa

[2020-09-19 20:19] Parth commented on #3290
@ranjeshj I believe you could create a minimal repro with UWP sample code + add drag and drop to the `NavigationView` components.

My source is available [here](https://github.com/lockbook/lockbook/tree/master/clients/windows). More specifically [this is my xaml](https://github.com/lockbook/lockbook/blob/master/clients/windows/FileExplorer.xaml) (very small). You wouldn't have any problems running

[2020-09-20 12:23] HppZ commented on #2448
any update here?

[2020-09-20 12:38] Thomas1664 opened #3299 "Unable to change background color of NavigationView when PaneDisplayMode is set to top"
**Describe the bug**
Overriding the default background color of the pane using `NavigationViewExpandedPaneBackground` and `NavigationViewDefaultPaneBackground` doesn't work if `PaneDisplayMode` is set to `Top`. Everything works fine if `PaneDisplayMode` is set to `Left`.

**Steps to reproduce the bug**
Inside an empty page:
[code]

**Expected behavior**
Background color should change

**Screenshot

[2020-09-20 15:03] tomzorz commented on #3291
@StephenLPeters No (although that could be cool as well...). More like a Vulkan variant of SwapChainPanel - I guess that might necessitate the rest of the application to render using Vulkan as well?

[2020-09-20 16:37] tomzorz commented on #3291
But essentially today we just use a HwndHost to embed our Vulkan renderer - if there'd be any improvement over this process that'd be awesome.

[2020-09-20 16:42] De-Os opened #3300 "PersonPicture crash on release configuration"
**Describe the bug**
Crash on Release config when creating exstension class for PersonPicture

**Steps to reproduce the bug**
1. Create class which extends PersonPicture:
[code]
2. Add it to any place:
[code]
3. Run application in debug mode and get expected result
4. Run application in release mode and get crash:
[code]

**Expected behavior**
App doesn't crash in release mode

**Video**
[Youtube]

[2020-09-20 22:08] robloo commented on #780
I just saw on the community call that this may not happen for 3.0 and would then be blocked until 4.0.

Simply put, thats not acceptable for a number of scenarios. Could a little background on why this takes so long to do be provided? It seems relatively simple.

If the code is made open source before 3.0 release this is also something the community might be able to contribute. As I said, I dont e

[2020-09-20 22:16] robloo commented on #3024
@YuliKl @StephenLPeters Any updates on this? This is going to end up being a show stopper for me using winUI 3. It's pretty important this gets on a roadmap so plans can be made one way or another.

[2020-09-20 23:10] jtbrower commented on #780
So far I'm glad I changed course and evaluated Avalonia.  I have been able to achieve much more in a shorter timeframe so far.

For WPF centric developers writing Desktop applications who seek better rendering performance with CSS style selectors, it's a great choice.  Cross platform capabilities are a huge bonus considering that wasn't my goal for finding a WPF alternative.  (I initially chose it

[2020-09-21 03:12] hupo376787 opened #3301 "Proposal: MediaPlayerElement enhancement"
1. Bring native MediaPlayerElement UI to Xbox.
    For more details, please refer to [Bring native MediaPlayerElement UI to Xbox](https://github.com/microsoft/microsoft-ui-xaml/issues/3275)

~~2. Keep the playback rate.
    Currently, `MediaPlayerElement` reset the playback rate when playing a new media, even I set the rate manually. This means developers can't set the rate, this is annoying when

[2020-09-21 03:37] maxkatz6 commented on #3301
You need to set playback rate after media opened, I think.
At least it worked for me for a while ago.

[2020-09-21 03:50] robloo commented on #780
Getting a little side-tracked but to continue your line of discussion: I wish Avalonia nothing but success. In the end it may win out against all the others. Innovation drives the future. The vast majority of design changes from WPF/UWP were done for justifiable and good reasons. That is not something that can be said for UWP (WinUI 2.x). UWP has been a thorn in the side of developers since its in

[2020-09-21 04:14] hupo376787 commented on #3301
Hi, I tried the code, If I use a static speed, it works.
`mediaPlayer.PlaybackSession.PlaybackRate = 2.0;`

But I have to store the rate in a global param. Then the rate always is reset to 1.0 when changing the source.
        private async void MediaPlayer_MediaOpened(MediaPlayer sender, object args)
        {
            if(videoType == VideoType.Video)
                mediaPlayer.PlaybackSessio

[2020-09-21 04:39] maxkatz6 commented on #3301
@hupo376787 can you check playback session state in the PlaybackSession_PlaybackRateChanged?

[2020-09-21 07:11] ChristophWahnsinn commented on #3287
Hi @codendone, is there a chance to find an answer to my question or do you perhaps know someone who could help?

[2020-09-21 07:13] hupo376787 commented on #3301
Thanks, @maxkatz6 . I can keep the playback rate now by checking `MediaPlaybackState`.

[code]

[2020-09-21 13:08] benstevens48 opened #3302 "Proposal: Add a new fullscreen option to ApplicationView.PreferredLaunchWindowingMode"
Please let me know if I should post this elsewhere e.g. Project Reunion.

This is a relatively small request regarding launching an app in fullscreen mode. At the moment, you can set ApplicationView.PreferredLaunchWindowingMode to FullScreen to do this. However, there is one drawback in that it always launches on the main display of a multi-monitor setup, as opposed to the display which the app wa

[2020-09-21 13:14] benstevens48 commented on #3297
I just read the explanation here and it's quite interesting. @codendone, are you saying that when I call certain WinRT APIs, even though they are synchronous, it's possible that they might cause the message/dispatcher queue to be processed, so in theory another input handler or async continuation in my app could be called in the middle of that synchronous API call? If I haven't misunderstood, that

[2020-09-21 15:45] benstevens48 opened #3303 "x:Bind causes memory leak with ComboBox and probably in other situations as well"
**Describe the bug**
I've attached a sample project to repro the issue. Run in Visual Studio in debug mode. Click on the 'Remove and add control' button multiple times, the wait 15 secs or so (I added 3* garbage collection at 5 sec intervals after clicking the button), take a memory snapshot and inspect the heap. Search for MyUserControl1 and observe multiple instances, whereas there should only b

[2020-09-21 16:13] benstevens48 opened #3304 "Wrong Style TargetType and similar errors are supressed by having debugger attached"
**Describe the bug**
I originally reported this [here](https://developercommunity.visualstudio.com/content/problem/761506/xaml-error-not-thrown-when-debugger-attached.html), but they weren't interested in fixing it so I thought I'd report it here so maybe it can be fixed in WinUI 3.

I have a UWP C#/XAML project. If there is an error such as a style set on an element and the style is not of the co

[2020-09-21 17:06] stevenbrix commented on #3067
@AnriaruDoragon can you please capture logs using the steps described here: https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/debugging_buildfailures.md#collecting-binlogs-through-visual-studio?

And please, capture them in English, or I wont be able to do much with them!

[2020-09-21 17:39] kat-y commented on #3279
Thanks so much for submitting this proposal! I'm going to make some edits, including differentiating between what I think are true Expander scenarios and what are more like Flyout/MenuFlyout uses.

[2020-09-21 17:47] StephenLPeters commented on #3024
@Austin-Lamb or @MikeHillberg ?

[2020-09-21 21:57] chrisglein commented on #3218
I'm certainly down with taking the best learnings from CSS and applying to XAML in a thoughtful way. But it's certainly an area of strong emotions. See [this issue](https://github.com/microsoft/microsoft-ui-xaml/issues/696) where I just used the name of CSS in the title and the response was very divided.

This is obviously a topic that requires a lot of design work. @kikisaints I know we've had lo

[2020-09-21 23:07] StephenLPeters commented on #3304
@fabiant3 It looks to me like the xaml complier should be throwing an error here.

[2020-09-21 23:09] StephenLPeters commented on #3303
@fabiant3 looks like maybe an x:bind issue.

[2020-09-21 23:11] StephenLPeters commented on #3302
I don't think this is a part of winui, and that project reunion would be the better home for the issue. I've transferred it, but @MikeHillberg or @marb2000 to confirm.

[2020-09-21 23:13] StephenLPeters commented on #3301
@Austin-Lamb or @codendone I'm struggling to remember where this should get pathed, I think reach is correct?

[2020-09-21 23:15] StephenLPeters commented on #3300
You should be able to attach a (mixed mode) debugger and get a call stack for what the issue is.

[2020-09-21 23:16] StephenLPeters commented on #3299
sounds like we may have missed a template binding.

[2020-09-22 00:09] llongley opened #3306 "WinUI 3 error message needs rewording: "Cannot resolve 'Windows.metadata'. Please install the Windows Software Development Kit. The Windows SDK is installed with Visual Studio.""
The XAML compiler returns this error message in certain circumstances:

[code]

The problem is that in WinUI 3, the error message is out of step with what's really going on.  Under the covers, the XAML compiler is trying to find an assembly with the type name `Microsoft.UI.Xaml.Markup.IXamlType`, which *did* correspond to the error message in the case of system XAML, but the error message no longe

[2020-09-22 05:02] fabiant3 commented on #3303
@RealTommyKlein - can you take a quick look?

[2020-09-22 05:07] De-Os commented on #3300
@StephenLPeters problematic trace:
[code]
Full trace:
<details>
  <summary>Spoiler</summary>
   <pre>
"AvatarTest.exe" (Win32). Загружено "C:\Users\al3ta\source\repos\AvatarTest\bin\x64\Release\AppX\AvatarTest.exe". Сборка модуля выполнена без символов.
"AvatarTest.exe" (Win32). Загружено "C:\Windows\System32\ntdll.dll".
"AvatarTest.exe" (Win32). Загружено "C:\Windows\System32\kernel32.dll".
"Avat

[2020-09-22 12:35] vgromfeld opened #3307 "ContentDialog background is not properly displayed when exiting compact overlay display mode"
**Describe the bug**
Before displaying a `ContentDialog`, I'm forcing my application to exit the *compact overlay* display mode to be sure that I will have enough room to display the dialog. This is working but the `ContentDialog` background is not properly resized to the window size.

**Steps to reproduce the bug**
See the attached sample application to see the current behavior: [ContentDialogWhe

[2020-09-22 15:31] phraemer opened #3308 "Question: Determining when a control can release resources when NavigationCacheMode is Required"
Consider the case where you have a templated custom control, `class CoolThing : Control`.

`CoolThing` acquires some expensive resources when `IFrameworkElement.Loaded` is invoked and releases them in `IFrameworkElement.Unloaded`.

However, the acquisition and release of these resources is a bit slow. It would be nice to set `NavigationCacheMode="Required"` in the `Page` containing a `CoolThing` a

[2020-09-22 17:25] Xarlot opened #3309 "Question: WinUI 3 Desktop. How to debug why default theme resources are not loading"
I`ve created a custom control in the custom control library.
I`ve specified the DefaultStyleKey property in the constructor and added a default style into themes/generic.xaml.
[code]
For some reason, my custom control doesn't load or even request the default style. When I created a resource dictionary descendant and added it to themes/generic.xaml, it doesn`t instantiate.  Also, there are no warni

[2020-09-22 17:49] Felix-Dev commented on #3300
@De-Os To get your `PersonPicture` subclass working in *Release* configuration, add the [BindableAttribute](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.bindableattribute?view=winrt-19041) to it:
[code]

See [this post] as a brief overview of the issue.

[2020-09-22 18:20] Felix-Dev commented on #3300
@StephenLPeters I think this calls for a documentation improvement as we have seen this issue coming up multime times already (see https://github.com/microsoft/microsoft-ui-xaml/issues/2698 and https://github.com/microsoft/microsoft-ui-xaml/issues/1949 for example).

There is a [.NET Native section](https://docs.microsoft.com/en-us/dotnet/framework/net-native/) on docs.microsoft.com. Perhaps we ca

[2020-09-22 18:39] Felix-Dev commented on #3237
@StephenLPeters Your thoughts on the suggestion above (see the GIF)?

[2020-09-22 18:43] StephenLPeters commented on #3300
@RealTommyKlein @fabiant3  Is this fixable so that our customers don't keep hitting this going foreword?  @YuliKl to weigh in on the documentation aspect in the mean time.

[2020-09-22 18:52] BorzillaR opened #3310 "WinUI in Desktop app is silently crashed if I put Grid descendant to the Grid.Children collection"
Hello!

I created a "Blank App, Packaged (WinUI in Desktop) from VS templates.

In MainPage.xaml I set a name for the root grid.

`    <Grid x:Name="RootGrid">
    </Grid>`

Next, in MainPage.xaml.cs, I created a Grid descendant and put it to the Children collection of the RootGrid.

`    public sealed partial class MainWindow : Window {
        public MainWindow() {
            this.InitializeCom

[2020-09-22 19:42] RealTommyKlein commented on #3300
@StephenLPeters - this is tricky since the Xaml compiler doesn't have enough information to know it has to generate type information for the `Avatar` class (type information is generated when the type is used in markup, or has the `Bindable` attribute on it).  It works in Debug since debug builds use the reflection provider, which doesn't rely on compiler-generated type information.

[2020-09-22 20:16] AnriaruDoragon commented on #3067
@stevenbrix I hope that I did correctly
https://github.com/AnriaruDoragon/UWP-MSB4181-CompileXaml/blob/master/CompileErrorTest_Release_x86_Build_2020-09-22T23_10_37.4827196%2B03_00.binlog

[2020-09-22 22:54] #2727 closed

[2020-09-22 23:05] StephenLPeters commented on #3310
@stevenbrix is this another cswinrt issue were we fail when deriving from a winrt type?

[2020-09-22 23:10] StephenLPeters commented on #3309
Are you able to provide the project that does reproduce the issue? debugging these sorts of errors tends to be very difficult.  With your simple repro are you using a class library, the winui desktop project structure is still being worked on and its possible that could cause this.

[2020-09-22 23:14] StephenLPeters commented on #3308
@chrisglein and @MikeHillberg any ideas?

[2020-09-22 23:24] StephenLPeters commented on #3307
Unfortunately we would not be able to fix this until post winui3, so you will be stuck with a work around for a little while.  I'm not sure that this will work but you can try to change the view mode, then wait for exactly 1 rendering tick, using the winrt::Xaml::Media::CompositionTarget::Rendering event, and then create and show the dialog.  If you do this be sure that you un register from the re

[2020-09-22 23:27] lukechu10 commented on #2488
Any update on this?

[2020-09-22 23:27] #2373 closed

[2020-09-23 02:10] mdtauk commented on #3218
As a first step it could be useful to have ResourceDictionaries and a new CSS format interchangable.

[2020-09-23 03:12] DaZiYuan opened #3315 "Cannot build release"
**Describe the bug**

got errors when create app package .
please fix it as soon as possible, I plan to publish my winui app to the store

**Steps to reproduce the bug**

1. create winui desktop project
2. publish app package for Microsoft store
3. got errors

**Screenshots**

![image](https://user-images.githubusercontent.com/80653/93959995-cf64e980-fd8b-11ea-82ef-498914eb2533.png)
![image](https

[2020-09-23 03:56] Xarlot commented on #3309
That the problem. It works in a simple project. We need some kind of diagnostics or logging because we just can't debug in like in WPF.

[2020-09-23 07:41] Xarlot commented on #3309
I`ve simplified our project
https://github.com/Xarlot/WinUI3DesktopBuildPackageBug
Open and run the sources/DevExpress.WinUI.Core/DevExpress.WinUI.Core.Tests.Runner.sln. It should execute the https://github.com/Xarlot/WinUI3DesktopBuildPackageBug/blob/10c87b23842fb1dc926b07ef295db4b9a34382e1/sources/DevExpress.WinUI.Core/DevExpress.WinUI.Core.Tests/Editors/TextEditTests.cs#L11 test.
If you replace

[2020-09-23 17:12] vgromfeld opened #3316 "MediaTransportControls progress is not updated when changing PlaybackSession.Position while playback is paused"
**Describe the bug**
When the media playback is paused, the progress bar and the time information in the `MediaTransportControls` seek bar are not updated. The video content changes but not the other element of the MTC.

**Steps to reproduce the bug**
Repro app: [MediaPlayerPositionChanged.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5269765/MediaPlayerPositionChanged.zip)

Steps to r

[2020-09-23 18:05] almedina-ms opened #3317 "[Accessibility] Narrator doesn't announce control type for 'Calendar date picker' control."
**Describe the bug**
Narrator doesn't announce control type for 'Calendar date picker' control. It only announces 'Calendar date picker' while user navigates on it.

**Steps to reproduce the bug**
1. Create a blank app with a Calendar Date Picker control on it
2. Open narrator and set focus on the control created above

**Expected behavior**
Narrator should announce button as control type for 'Cal

[2020-09-23 18:09] Javier118 opened #3318 "NavigationViewItem will support svg icons"
Hello:
In the new version of WinUI NaviagtionViewItem will support svg icons?

[2020-09-23 18:11] Javier118 opened #3319 "NavigationViewItem will support Svg icons in this version WinUI"
Hello:
In the new version of WinUI NavigationViewItem will support svg icons?

[2020-09-23 18:24] Felix-Dev commented on #3318
Not directly yet to my understanding. You could use a [PathIcon](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.pathicon?view=winrt-19041) for now using a tool converting SVGs into paths. There is proposal https://github.com/microsoft/microsoft-ui-xaml/issues/3101 which could enable this scenario in the future.

[2020-09-23 18:37] Javier118 commented on #3318
the question is whether in this version WInUi3 in the NavigationViewItem it would support Svg image.  To the PathIcon as you could add the Svg file for NavigationViewItem.

[2020-09-23 18:54] #3300 closed

[2020-09-23 20:39] kennykerr commented on #2488
I can't speak for the WinUI team, but much of the support for Rust will come from the Rust/WinRT language projection ([winrt-rs](https://github.com/microsoft/winrt-rs)). In particular, I'm now working on adding support for [defining and implementing COM and WinRT types in Rust](https://github.com/microsoft/winrt-rs/issues/81). That's a major prerequisite for complete Xaml integration. Once that's

[2020-09-23 23:03] StephenLPeters commented on #3315
@stevenbrix @alwu-msft @MikeHillberg do we have known issues with desktop release mode in the preview?

[2020-09-23 23:06] StephenLPeters commented on #3319
Unfortunately no, our IconSource only supports symbols, bitmaps, paths, and font glyphs.  It does have a content property that you can put an svg image into though, does that meet your needs?

[2020-09-23 23:07] StephenLPeters commented on #3319
An SVG icon sounds like a pretty reasonable feature request that you and other developers might want. If so I'd encourage you to open a feature request!

[2020-09-23 23:09] StephenLPeters commented on #3318
seem like you opened identical issues? #3319

[2020-09-23 23:10] Felix-Dev commented on #3319
@StephenLPeters How about leveraging https://github.com/microsoft/microsoft-ui-xaml/issues/3101 for SVG support?

[2020-09-23 23:12] StephenLPeters commented on #3317
I think that the issue this is highlighting is that the default template for date picker is a button and when you navigate to it using narrator it doesn't announce a date picker until you expand it.

[2020-09-23 23:12] alwu-msft commented on #3315
This is probably related to @stevenbrix 's recent discovery that "create a package for publishing" and "hit F5 in VS" do different things.

[2020-09-23 23:14] StephenLPeters commented on #3316
@Austin-Lamb and @codendone I forget which team owns MPE, I think its reach?

[2020-09-23 23:18] stevenbrix commented on #3315
Yeah, in one way or another that is a proper characterization of this issue☺️

@DaZiYuan WinUI3 is not ready for you to submit your app to the store. This issue will be fixed with our next preview release in this coming November.

[2020-09-23 23:20] chingucoding opened #3320 "Invalid Binding on NumberBox with unitialized int DP"
**Describe the bug**

The following code does not create a valid binding:

IDL
[code]

XAML
[code]

This is probably related to the fact that NumberBox.Maximum is a float, while MyInt is an int. When MyInt is not default valued, binding might not know the type and thus discard the binding. This might be related to the WinUI code gen for DPs.

**Expected behavior**

Binding should update.
**Screens

[2020-09-23 23:27] StephenLPeters commented on #3319
I think that would also help Javier, however I think expanding IconSource would still be interesting independently

[2020-09-24 01:00] #3261 closed

[2020-09-24 05:07] ShankarBUS commented on #1247
Hey @hansmbakker, a suggestion just for your round corners problem

If don't plan to add shadows around the window, you can do the rounded corners easily using CreateRoundedRectRgn and SetWindowRgn or better you can leave it to WPF's Window chrome feature

This implementation was suggested to me by @michalleptuch on Twitter see https://github.com/michalleptuch/RoundedCorners

But if want to add dr

[2020-09-24 09:12] hansmbakker commented on #1247
Thank you for your suggestion, but I believe those rounded corners of the wpf window are not possible with acrylic.

For acrylic you need UWP, so you need XAML islands to embed it in a WPF window, and that XAML islands part will always be rectangular.

If you give the UWP part rounded corners as well then the XAML islands part still is rectangular with an opaque black background.

That is why I be

[2020-09-24 10:44] ShankarBUS commented on #1247
First of all I'm sorry for spamming your inboxes 😅

@hansmbakker
Did you even see the repo I specified? I'm 100% sure it worked for me

**SetWindowRgn** (Which is what **WindowChrome** in **WPF** uses to set the **CornerRadius**) **works**! It clips not only the WPF Window but also to the "DesktopWindowXamlSource" xaml islands child window!

![](https://user-images.githubusercontent.com/63704247/9

[2020-09-24 11:08] hansmbakker commented on #1247
Ah, I didn't know that the `SetWindowRgn` method performs clipping. That would help indeed when no shadow is needed!
As for the shadow, frankly speaking I have no experience with shadows in WPF (would need to look that up), but it is nice that you are working on a workaround!

[2020-09-24 11:53] Sergio0694 opened #3321 "Proposal: stateful overload for DispatcherQueue.TryEnqueue"
# Proposal: stateful overload for `DispatcherQueue.TryEnqueue`

## Summary

Add a generic `TState` overload method to `DispatcherQueue.TryEnqueue` to allow consumers to pass a state and have the C# compiler cache the callback delegate, instead of being forced to allocate a new delegate + display class every single time.

This would mirror the pattern used in a bunch of methods in the BCL as well,

[2020-09-24 12:23] BorzillaR opened #3322 "Question: [VirtualizingContext.RealizationRect bounds]"
Hello!

I try to checkout ItemsRepeater for new WinUI (Desktop). I want to write a simple list of strings with a virtualization UI. To start with I copy ActivityFeedLayout from Xaml Controls Gallery sample. Next, I modify it that it shows only one column. As ItemTemplate I use a TextBlock. When I set VerticalCacheLength and HorizontalCacheLength  to zerro to see how items look like, I notice that

[2020-09-24 16:44] bschoepke opened #3323 "Proposal: richer image support for [Bitmap]icons"
# Proposal: Richer image support for [Bitmap]Icons

## Summary
Add the ability to use any XAML ImageSource as an icon for MenuFlyoutItem. The BitmapIcon control currently only supports URI image sources; we need it to support stream image sources in order to render things like app icons.

## Rationale
* Enable the shell to render app icons and favicons in context menus. These are backed by Windows

[2020-09-24 16:50] bschoepke opened #3324 "Proposal: enable MenuFlyouts to change in size while visible"
# Proposal: enable MenuFlyouts to change in size while visible

## Summary
MenuFlyouts currently cannot change in height after they are open. This prevents their use for features like jump lists, where users can pin context menu items to the top, which causes the context menu to grow in height.

## Rationale
* Enables richer context menus that support pinning and progressive disclosure ("show more

[2020-09-24 17:22] Felix-Dev commented on #3323
@StephenLPeters Should we bundle issues asking for broader image support for `Icon` properties in a larger work item? With the idea being that we look at this platform-wide?

So far, we have seen asks for broader image support for the NavigationViewItem ([here](https://github.com/microsoft/microsoft-ui-xaml/issues/3319) and [here](https://github.com/microsoft/microsoft-ui-xaml/issues/3101)) and th

[2020-09-24 17:27] robloo commented on #2204
@MuziburRahman It looks nice but no other control uses this convention. I think the lock button should be a proposal for the TextBox to start. Such visual cues should really be uniform in all of WinUI. However, for some controls this convention wouldn't always work so well -- when existing search or calendar icons are present for example.

[2020-09-24 17:45] StephenLPeters commented on #3323
I agree, these all seem related and I think we should be thinking about the problem holistically.  A Meta feature proposal is probably warranted.  Additionally we'll want to keep in mind that we have an Animated Icon spec #2802 which is also in the same/similar space.

[2020-09-24 17:49] #458 closed

[2020-09-24 17:52] jhwheuer commented on #424
So what we can say is that for larger payloads it is back to a in-page Grid whose Visibility gets turned on and off, or maybe a Flyout? Oh dear, because this behavior has been unchanged for more than a year now...

[2020-09-24 18:11] sis2004 commented on #3129
@ranjeshj and @StephenLPeters it's been more than 3 weeks since this issue has been closed. Any ETA on the next release? Is there any nightly build or something that I can use to test the fix?

[2020-09-24 19:01] Javier118 commented on #3319
the idea is to make some icons of your own for App in NaviagtionViewItem menu.
![menu](https://user-images.githubusercontent.com/17751683/94188051-1eed0780-fea9-11ea-8d6c-38adf949d42b.png)

[2020-09-24 19:14] gabbybilka commented on #913
Hello again! Just to highlight, @teaP recently opened pull request #3325 for InfoBar if you'd like to check it out 😊

[2020-09-24 19:29] StephenLPeters commented on #3129
we published a new pre release today!  We had an issue slip through the cracks that was fixed this week which delayed the prerelease

[2020-09-24 20:22] stevenbrix commented on #2817
@sylveon I have good news, the fix for this will be in 16.8 :)

[2020-09-24 20:30] sis2004 commented on #3129
Thanks, I have done a cursory test with the new release, and the issue didn't manifest itself. I'll let you know if we see this issue again.

[2020-09-24 20:31] kat-y opened #3326 "Proposal: Breadcrumb control for navigation trail"
# Proposal: Create Breadcrumb Control

## Summary

A Breadcrumb control can provide a persisting 'trail' that shows the user's navigation path.

## Rationale

* Breadcrumb is a common UI that allows users to see the path of where they have navigated, especially when 2+ layers deep
* Breadcrumb scenarios exist in various places, including settings and file/folder structure navigation
* Creating a F

[2020-09-24 20:50] sylveon commented on #2817
🥳

[2020-09-24 21:42] #2710 closed

[2020-09-24 22:59] kat-y commented on #3279
I've updated this proposal to include more details on the scope, a proposed API, and the following open question.
- Do we need to support ExpandDirection in a v1 Expander? Are there common app scenarios where Expander would need to expand in directions other than downward?

Would love feedback on how these fit or don't fit with your use cases for Expander!

[2020-09-24 23:06] mdtauk commented on #3279
It does seem like a basic function of the control

[2020-09-24 23:13] StephenLPeters commented on #3322
@ranjeshj can you weigh in?

[2020-09-24 23:17] StephenLPeters commented on #3321
@Austin-Lamb @MikeHillberg or @jeffstall I think DispatcherQueue is owned by IXP is that right?

[2020-09-24 23:19] #3319 closed

[2020-09-24 23:19] StephenLPeters commented on #3319
Question seems answered, if not feel free to reopen. feature proposal has been opened.

[2020-09-24 23:23] kat-y commented on #3279
@mdtauk do you see ExpandDirection other than downward being a common app scenario? The examples of Expander behaviors that I see are far more often expanding downwards - I would definitely like Expander to have ExpandDirection but is it necessary in a v1?

[2020-09-24 23:23] robloo commented on #3279
Yes, we need expand direction. There are many cases for using it and it would be an unnecessary breaking change to the control template after a v1 release to add it. The Expander API hasn't changed much since WPF and the proposal here has all the necessary properties/events/methods already. I would just implement it all in one shot and we can be done with this control. Design-wise the UWP Communit

[2020-09-24 23:27] duke7553 commented on #3326
@kat-y We could really use a control like this in Files.

Our current solution involving the use of a ListView is poorly-suited, and users complain of awkwardly small touch targets for the expand button. I'm glad to see a proposal for standardizing this behavior!

![image](https://user-images.githubusercontent.com/20365014/94210112-e430a280-fe9b-11ea-93de-835df0588b25.png)

[2020-09-24 23:28] kat-y commented on #3279
@robloo Could you elaborate on how this would be a breaking change? My understanding is we could avoid it being breaking with V1 having downward expansion, and V2 could add ExpandDirection and default to downward.

[2020-09-24 23:30] mdtauk commented on #3279
Chat apps which load new list content from the bottom up being one of them maybe.

Beyond the very basic essential:
- IsCollapsed
- IsExpanding
- IsExpanded
- IsCollapsing

As well as IsEnabled

The next core thing is where to expand to.

- ExpandUp
- ExpandDown
- ExpandLeft
- ExpandRight

[2020-09-24 23:40] kat-y commented on #3279
@mdtauk I don't fully understand what you mean with this chat apps example - could you elaborate?
As for the properties - the proposed API is based off [the WPF Expander](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.expander?view=netcore-3.1) so I think IsExpanded and ExpandDirection would cover them. What would IsEnabled be used for - is there an app scenario where you'd wa

[2020-09-24 23:41] robloo commented on #3279
Another example I've used in the past are secondary, editable properties that should usually be hidden. These are shown at the bottom of an editor only when clicking an 'options' button and the expander opens upwards. It's really just up to the design you are going for. There are many useful cases for expanding different directions and it seems unnecessary to artificially restrict this especially

[2020-09-24 23:44] robloo commented on #3279
@mdtauk Is correct, this needs to support IsEnabled as well. Disabling controls is pretty strong convention anything there is the possibility of input or state change. Please don't make us defend that.

[2020-09-25 00:19] Felix-Dev commented on #2808
@MikeHillberg Friendly ping about your thoughts on my remark above.

InputScope and TextAlignment APIs have been added to the NumberBox control as preview APIs recently. How does the plan look for this suggestion (pending the reply by @MikeHillberg)?

[2020-09-25 01:32] JustABearOz commented on #3279
In the screenshots above, windows security has an expander for the antivirus section as well as the left navigation menu. This shows a very realistic use of the expander in more than one direction that a lot of apps would need to support. My vote is for supporting multiple directions in V1.

[2020-09-25 02:45] makinbacon21 commented on #2060
Figma got the WinUI treatment, but XD is still stuck on light mode-only Windows 10 1903. I prefer XD to Figma for a list of reasons and would much rather use XD, so this is a little irritating. I'll use Figma for the time being but I hope they update this.

[2020-09-25 02:57] kat-y commented on #3279
@robloo

**Could you elaborate with a screenshot or specific app where this happens so I can understand the scenario more?** I can think of editors where a options button opens a popup with more buttons, but in the ones I'm familiar with the other content isn't pushed upwards - a popup/flyout behavior rather than an expansion.

I agree with you that porting apps from WPF to WinUI should be as smoo

[2020-09-25 03:00] kat-y commented on #3326
@duke7553 could you elaborate here - what is the touch target for the expand button?
Is this scenario related to this open question?
 - The DevExpress and Telerik UI WPF Breadcrumbs control have flyout menus to select a different path to jump to, is this a feature apps using WinUI would want, and in what scenarios?

[2020-09-25 03:07] kat-y commented on #3279
@JustABearOz I think the left navigation menu is a [NavigationView](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.navigationview?view=winrt-19041), actually. 😃 I agree that the antivirus section is an Expander scenario, in this case expanding downwards. Would love to know any specific use cases you have for non-downward Expander!

[2020-09-25 03:16] VagueGit commented on #1500
Does anyone remember VB6? The VB6 DataGrid supported Edit, Delete and AddNew out of the box. Add was available as a blank row automatically added to the end of the list. Complete the row and another blank row appears.

A DataGrid should have the option to support data entry, even if most devs prefer this feature to default to off.

In porting a VB6 app to UWP we had to write our own data grid to s

[2020-09-25 03:21] JustABearOz commented on #3279
@kat-y Ok, that takes away a need for left/right, but 2 examples in windows that seem to expand up that could easily apply to apps:
1: The screenshot above with the quick actions menu. Pretty sure that expands up.
2: In windows, the popup calendar form the system tray has a section which expand up to show agenda/appointments.

Is it possible to support Up/Down for V1 instead of just Down?

[2020-09-25 03:35] kat-y commented on #3279
@JustABearOz thanks so much for bringing up these examples! For 1: I think this is an interesting edge case - the expansion is 'downwards' from the 'header' (the expand button), but the control itself is positioned at the bottom of the surface so the header (and the expanded content) has to 'shift' upwards (otherwise it would run off the screen!). Seems like a good way to handle having an expandin

[2020-09-25 04:01] robloo commented on #3279
@kat-y I mean no offense but I feel like we are having to re-explain things that were known 15 years ago. I don't understand why you are asking us to give examples of expand direction in real-world usage. I expect internally you have to take this to spec review and defend it to management. But the explanation can simply be (1) you need to empower users to achieve their design targets, it's not up

[2020-09-25 06:49] pfresnay opened #3328 "".NET 5 Support for UWP apps" in WinUI3 roadmap: what does it means for .NET 5 and Webview2 ?"
Official roadmap (https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-30-feature-roadmap ) indicates ".NET 5 Support for UWP apps" will be in 3.x release.

Can we expect .NET 5 support in UWP before WinUI 3 ? UWP is still on netcore2/C#7.3...

Regarding WinUI3, most API are already present in UWP but one piece is missing, Webview2: will we be able to use Webview2 with

[2020-09-25 10:23] nilaysanghvi commented on #3277
@StephenLPeters Yes it does. Thanks a lot!

[2020-09-25 10:26] huoyaoyuan opened #3329 "ArgumentException when TabViewItem.Header is null or empty string"
**Describe the bug**
`ArgumentException` when a `TabViewItem` with empty or null `Header` displayed.

**Steps to reproduce the bug**
[code]

or

[code]

or

[code]
*Does not reproduce* if `TabViewItem.Content` is not set, or set to a string instead of a control.

**Version Info**

NuGet package version:

Microsoft.UI.Xaml 2.4.3
Microsoft.UI.Xaml.2.5.0-prerelease.200923002
Microsoft.WinUI 3.0.0-pre

[2020-09-25 10:36] huoyaoyuan commented on #3315
@stevenbrix I can **build** in Release mode, but cannot **run** it. Got error 0xC000027B. Is this a separated issue, or a different symptom of the same issue?

[2020-09-25 13:03] Felix-Dev commented on #3329
It is worth pointing out the crash only happens when the TabViewItem is selected. A TabViewItem with an empty header  ("" or null) and an UIElement as its content will not crash the app as long as its not selected.

The reason why such a TabViewItem will crash the app is the following I believe: The TabViewItem uses a `ContentPresenter` to represent its header. Yet, if no header is spcified, the T

[2020-09-25 13:20] Felix-Dev commented on #3329
@huoyaoyuan A workaround for now would be to set the TabViewItem's header to some not-empty value and then use the TabViewItem's Loaded event to set the header to empty.

[2020-09-25 13:39] tombogle commented on #1500
I use DataGrid controls a lot in my software. Editing is place is important! Some of my wishes/pain points are:

1. Ability to customize the context menu when in edit mode.
2. Better performance and more control when autosizing columns. I want the user to be able to control sizes if necessary but mostly not need to. I don't want column sizes to constantly change, but I want them to somehow be base

[2020-09-25 14:20] huoyaoyuan commented on #3329
@Felix-Dev Thanks for investigation. I found this originally when using `FallbackValue=''` in header binding. Now I have some other thing to show when the VM is null.

[2020-09-25 14:49] robloo commented on #3328
Webview2 is implemented in C++ and does not use .NET. Therefore, it has no dependency on .NET 5 and when UWP actually gets .NET 5 support has no influence on when UWP can use Webview2. The Microsoft team has previously committed (most recently in the community call I believe) to ship Webview2 with WinUI 3.0 initial release. That means UWP can use it as soon as WinUI 3 is released. HOWEVER, WinUI 3

[2020-09-25 14:53] robloo opened #3330 "Question: What 'Rounded corners' are not going to be in WinUI 3.0?"
In the latest [roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-30-feature-roadmap), What rounding corners are you talking about?

![image](https://user-images.githubusercontent.com/17993847/94281639-de2ed600-ff1c-11ea-854e-5b0510486da3.png)
![image](https://user-images.githubusercontent.com/17993847/94281686-f0107900-ff1c-11ea-8fed-6ffd9beda047.png)

If th

[2020-09-25 15:17] sylveon opened #3331 "Unable to implement classic COM interface on XAML component with C++/WinRT"
**Describe the bug**
When creating a XAML control/page, it's not possible to make it implement a classic COM interface (as C++/WinRT does it, by appending it to the base template arguments: `Something : SomethingT<Something, IMyClassicInterface>`) because the XAML compiler codegen does not account for this case.

**Steps to reproduce the bug**
1. Create a new blank C++/WinRT UWP app in VS
2. Open

[2020-09-25 16:00] ranjeshj commented on #3322
This looks like the issue with effective viewport not providing the correct bounds. Boiled down repro steps are available in this [issue](https://github.com/microsoft/microsoft-ui-xaml/issues/3001).

[2020-09-25 16:23] michael-hawker commented on #3279
Thanks @robloo for the input, I'm reaching out to the WinUI team to discuss how we can make these proposals more robust initially when they exist in other third-party libraries like the Toolkit. I definitely think it should be something part of the issue template to call out existing examples.

FYI @ranjeshj @ryandemopoulos @stmoy

[2020-09-25 16:39] kat-y commented on #3279
Thanks for reaching out @michael-hawker !

I've updated the proposal with a list of Expander controls I'm aware of - let me know if I've missed something.
- [WPF](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/controls/expander-overview?view=netframeworkdesktop-4.8)
- [Windows Community Toolkit](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/controls/expander-overview?view=netframeworkde

[2020-09-25 16:42] michael-hawker commented on #3298
@llongley to clarify, this is the root cause we discovered for the issue blocking Lottie shipping from the store in https://github.com/windows-toolkit/Lottie-Windows/issues/214, correct?

[2020-09-25 16:52] robloo commented on #3279
I've taken a look at both the WPF source code and WCT source code. I'm confident this can be implemented in WinUI in a few hours as well. The control should follow the WCT implementation from what I've seen although the `ContentOverlay` property probably should be renamed or left out of V1.

WPF:
https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/Themes/XAML/Expander.xaml
https

[2020-09-25 17:00] robloo commented on #3279
Well, my point is there really shouldn't be too many discussions about this. I'm choosing to voice my frustrations here as this control is a perfect example. The new pager control or bread crumb controls do need more oversight and it's important to follow the process. However, the overhead of a large process is showing through here and again, you will spend far more man-hours doing non value-added

[2020-09-25 17:26] robloo opened #3333 "Bug: Setting InputScope in XAML Style Fails when Applied to Multiple Controls"
**Describe the bug**

Attempting to set the same InputScope value in a XAML defined style to multiple controls will fail. For example, the following XAML markup will fail to work as expected for the second TextBox and it will have null assigned for the `InputScope` instead of `Number`.

[code]

Originally discussed with @RealTommyKlein @StephenLPeters here: https://github.com/microsoft/microsoft-u

[2020-09-25 17:48] mdtauk commented on #3279
Welcome to the WinUI project @kat-y - Xaml has a long history but can be a little quirky to those new to it.  While WinUI is an opportunity to rethink how things work, in this case, expander is a relatively simple control and so a simple move from WPF to WinUI should suffice.

@robloo I disagree with your assertion that there is no need to re-engineer the XAML control template.  WPF AFAIR has a nu

[2020-09-25 17:56] chingucoding commented on #3279
I was just about to ask about animations. Should there be a way to disable them for the control, e.g. in scenarios where animating layouts would be too expensive? Not all users/developers want animations for such things as it might feel a bit to unresponsive or just not wanted (e.g. TreeView). Having to not retemplate the control to customize that point might be better. Another thing that could be

[2020-09-25 18:01] ranjeshj commented on #3279
Thanks for all the great discussions. some thoughts
* We will need to update the template as @mdtauk mentions to account for new design as well as opportunities to reduce the elements/performance if possible.
* IsEnabled is inherited from Control, so I would expect that to work.

[2020-09-25 18:19] mdtauk commented on #3279
I believe some controls have a Transition property that could be assigned to.  So if a non-animated storyboard was included as a resource, it could be applied and that handles that without any retemplating.

You would have to override the transition when the system setting turns animations off.

UIElement.Transitions?
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.transitions?v

[2020-09-25 18:21] StephenLPeters commented on #3329
Thanks Felix... This behavior of content presenter automatically displaying the "content" property when its template binding resolves to null has caused us pain all over the place, see this conversation with Marcel https://github.com/microsoft/microsoft-ui-xaml/pull/3205#discussion_r485203320.  I think the fix for this is to replace the content presenter in TabViewItem with a border (or some other

[2020-09-25 18:26] mdtauk commented on #3330
I'd also like to see more details about the rounded corners, and other ambiguous things in that roadmap like Fluent Shadows.

[2020-09-25 18:30] ranjeshj commented on #3279
Interesting point about animations. We turn off all animations with the system setting, but I don't think we expose knobs to turn off animations other than by re-templating currently.

[2020-09-25 18:31] mdtauk commented on #3326
Any File Explorer replacement should include the context/drop down menu as a UI feature - but what populates that menu should probably be left to the developer.

I would say that going up a level, as well as handling of Forward and Backward navigation, should be made as simple as possible to the developer - so maybe including a back/forward stack that can be hooked up to buttons.

[2020-09-25 18:32] stmoy commented on #3279
I believe you could add a Style that overwrites the Transition collection with null in the case that you want to turn animations off, assuming there is a Transition collection to overwrite.

[2020-09-25 18:34] anawishnoff commented on #3330
Thanks for filing this @robloo. This does refer to top-level windows and pop-ups. I have a PR #3332 out to clarify this.

[2020-09-25 18:34] mdtauk commented on #3279
Including an **ExpandTransition** and **CollapseTransition**, that can use the direction set by the control's property - which could allow the dev to set the transition for each.

[2020-09-25 18:38] Felix-Dev commented on #3279
Why not mirror the TreeView control where you can use the `IsExpanded` and `IsEnabled` proerties to create whatever combination you need of the two? If disabled expanded works best in some case, that can be done. If you need disabled collapsed, that is possible too this way.

[2020-09-25 18:44] StephenLPeters commented on #60
@chingucoding can you comment on this issue so that I can assign it to you?

[2020-09-25 18:47] sis2004 opened #3334 "Pivot control throws 'COMException: Unspecified error' on setting SelectedItem"
**Describe the bug**
The Pivot control throws a System.Runtime.InteropServices.COMException: 'Unspecified error when setting its SelectedItem to a value that is not in its Items list. Technically, it may still be a valid item, but the code generated from XAML's x:Bind could update the selected item before it updates the list of items, as shown below.

**Steps to reproduce the bug**
Here is a sampl

[2020-09-25 18:47] chingucoding commented on #60
Sure thing.

[2020-09-25 19:11] #3330 closed

[2020-09-25 19:40] robloo commented on #3279
Well, my recommendation was we "should follow the WCT implementation" here: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/expander. The design changes to adapt to touch and a more modern interface were already made. Of course no one can do designs as good as you so I'm sure there is room for improvement. Still changing the 'design' wouldn't require re-engineering the template

[2020-09-25 19:48] mdtauk commented on #3279
I assumed you meant no changes from the WPF version's XAML

But I still think the WinUI design team will need to okay it and its variants - if only to confirm the spec to include in the figma toolkits

[2020-09-25 19:53] robloo commented on #3279
@kat-y If you are new to the project I apologize if I was sounding harsh. I do stand by my points above on how the project speed can be improved in some areas which is surely needs. Also, how we should use what has already been done in the past and heavily battle tested over the last 15 years. Of course none of this is directed personally to you or to anyone. It is a general 'bloat' problem I've s

[2020-09-25 19:57] mdtauk commented on #3279
The Community Toolkit is in C# I believe, and WinUI requires C/C++ code.

Also the WinUI design team had no say AFAIK with the Toolkit version, and so the needs of the Windows and App design teams may have specific needs if they are to adopt the control, over their custom solutions.

[2020-09-25 20:01] robloo commented on #3279
Translating code to/from C# & C++/WinRT is relatively trivial. Especially for the Expander where I already looked at the code https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls/Expander. The vast majority of complexity is in the XAML which is 1:1 usable in WinUI as long as no WCT extensions were used. I could port this code to C++ myself if it

[2020-09-25 20:03] michael-hawker commented on #60
@YuliKl @MarissaMatt yeah, different scenarios and use-cases, but still can be covered by this same control/pattern.

I think it's important to consider alternatives when designing controls to make sure they can provide for a broad range of experiences and ensure those experiences are consistent across apps.

I've only seen the pager in grid like scenarios in the mock-up, but I see driving page na

[2020-09-25 20:10] Felix-Dev commented on #3329
@StephenLPeters Interestingly to me, the `ContentTemplate` property does not cause the same issues here, even though the documentation above states that the ContentTemplate is also automatically pulled in. Yet if we specify no TabViewItem.HeaderTemplate but a TabViewItem.ContentTemplate instead, then the content template is only applied to the TabViewItem's content, as it should:

[code]
![image](

[2020-09-25 20:10] ranjeshj commented on #3279
@robloo Could you elaborate on which pieces of functionality are different ? The API proposed above matches very closely to WPF/WCT while trying to keep consistency with existing patterns in WinUI.

[2020-09-25 20:22] robloo commented on #3279
@ranjeshj We may not be on the same page. I wasn't suggesting that the proposed API was significantly different from WCT or WPF.

It was mentioned ExpandDirection may not be supported in the first version of this control. That seems like a problem for an Expander which has a long history with this functionality. Then it seemed like we have to justify why this feature is needed at all.

I suggested

[2020-09-25 20:32] mdtauk commented on #3279
@robloo  Its not about something being on the chopping block - but I believe the new people joining the team are there to offer a fresh look at these controls and APIs to see which are the greatest priorities - and potentially remove cruft when bringing new controls, or porting controls to WinUI.

When prioritising what features are essential to be included in a V1, and then in a V2, only the core

[2020-09-25 20:44] robloo commented on #3279
@mdtauk As always you make good points. However, I must disagree with this philosophy in one key way if it's truly the approach Microsoft is taking. For WinUI to be successful it must make sense for existing app developers. I'm trying to avoid another UWP scenario as we all know UWP never took off. The developers Microsoft needs to convince to come over to WinUI, just as UWP before, are WPF develo

[2020-09-25 20:46] chingucoding commented on #3279
To be fair though, almost no controls use animations. TreeView and NavigationView essentially use a Expander but both don't use animations for expanding/collapsing. Most controls that use animations usually rely on them, e.g. ProgressBar or ProgressRing. Expander however does not rely on it, it would be more of a "nice to have". Another case in point is that some people didn't use the WCT Expander

[2020-09-25 20:54] SavoySchuler commented on #3279
@robloo If you would like to chat about frustrations regarding WinUI 3 development, I welcome you to write me (my Twitter and work email are on my GitHub profile). I'm not fully aware of your current frustrations, but I'm generally a good person to start with for topics related to customer or community engagement/development as well as I've run significant number of our focus groups over the last

[2020-09-25 21:07] mdtauk commented on #3279
I was not commenting on whether or not I agree with the approach, only that from my time on here and watching how repos are evaluated, it is how I believe the team is working on this.

I believe using Microsoft's own apps, and Shell as examples are more likely to elicit recognition, as it shows where there was an internal need for something, which didn't exist, or was not fit for purpose, to the p

[2020-09-25 21:13] Felix-Dev commented on #3279
About the animations: How about using an ElementAminator approach like the ItemsRepeater offers? Expanding/Collapsing ElementAminators could be offered with a default animation implementation. If no animation is desired, these properties could be easily set to null on the control instance. The [ElementAminator] API (https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.elementanimato

[2020-09-25 21:22] llongley commented on #3298
@michael-hawker Yes, that's correct.

[2020-09-25 21:32] chingucoding commented on #3279
Hmm the ElementAnimator idea is really interesting. My concern here is that this might be too complicated or overengineered. After all, for the ExpanderControl, we would then need to provide a custom ElementAnimator while we otherwise could reuse existing theme animations. Also, ElementAnimator provides more methods than the expander control actually needs so it seems a bit like an awkward fit.

[2020-09-25 21:42] mdtauk commented on #3279
Am I right in thinking the ElementAnimator is for handling offsets for child or contained elements appearing on screen?

It may be overkill depending on what is within the panel that is shown as the expander, expands.  But if there was a way to connect it somehow, so if the expanding panel containing elements - could drive child animations if the dev appends something onto the element.

So the Exp

[2020-09-25 21:43] Felix-Dev commented on #3279
Yes, if we could create re-usable aniamtions here, while still giving customers some satisfying level of customization options, then this would be worth exploring. For example, we have already seen asks to add animations to the TreeView control when an item expands/collapses (https://github.com/microsoft/microsoft-ui-xaml/issues/208). I imagine a case can be made here that one set of animations co

[2020-09-25 21:49] chingucoding commented on #3279
I think ideally, TreeView and hierachical NavigationView should just switch to Expander control when the control is ready. After all, currently both controls need to handle the exact same problem which would be solved by ExpanderControl. So a shared animation wouldn't make a big difference for TreeView.

The thing with ElementAnimator (how I understood it) is that we would have to write a new anim

[2020-09-25 22:04] StephenLPeters commented on #3329
In teaching tip we ended up doing a content presenter who's content is a border, who's content is template bound to the property. that way we could put the foreground on the parent content presenter. I think that same model would work here?

[2020-09-25 22:08] mdtauk commented on #3279
Off the top of my head, a resize for the parent panel with easing. Then a slide and fade for the containing object(s) would feel right.

If it were to become a generalised OS wide transition with the proper easing determined by the Fluent Design motion team - that would be good.

[2020-09-25 22:30] Felix-Dev commented on #3329
Haaaaaah.....not sure what I was thinking when I mentioned the HeaderTemplate API here. That won't cause problems, since if a customer uses a ContentPresenter in that DataTemplate it won't inherit the Content of the TabViewItem since it's not in the ControlTemplate of the TabViewItem directly.

An additional question now arises: If the header is empty, we still show a tooltip. Looking at the Navig

[2020-09-25 22:34] ranjeshj commented on #3279
Tagging @stmoy since we are talking about animations.

[2020-09-25 22:37] kat-y commented on #3279
Thank you @SavoySchuler for joining in and providing more context on our team's commitments - I hope this helps to explain why I'm specifically looking for examples of apps where the functionality of ExpandDirection is needed! To echo was Savoy said, please reach out to me directly (Twitter DMs if you need privacy) if your Expander needs are ones that can't be shared here.

@robloo Thank you for y

[2020-09-25 22:47] kat-y commented on #3326
@mdtauk This sounds like separate forward/backwards buttons (often in a file navigation system) that would live next to a Breadcrumb trail - do you see this as in-scope for Breadcrumb control itself?

Just updated the proposal to have a new open question:
- As it is possible to build a Breadcrumb using existing pieces from WinUI and chevron icons, would a 'style example' in XAML Controls Gallery (

[2020-09-25 23:04] StephenLPeters commented on #3334
This looks like an issue with x:bind to me, not pivot.

[2020-09-25 23:05] StephenLPeters commented on #3333
@MikeHillberg or @Austin-Lamb do either you know why input scope is behaving so strangely?

[2020-09-25 23:07] StephenLPeters commented on #3333
Putting it on framework, because input scope is mostly a text box property, but the bug could be in one of a handful of places.

[2020-09-25 23:09] mdtauk commented on #3326
I don't see the navigation buttons being part of the control, but the control managing/maintaining navigation stacks which a developer could wire up to buttons might be something to consider.  Of course it should be for the more experienced developers to provide some response to that suggestion - they may find it too limiting relying on the control to keep track of previous navigation states/targe

[2020-09-25 23:11] StephenLPeters commented on #3331
@kennykerr or @jevansaks I feel like we do this already, I think one of you two probably knows the answer. If not this sounds like a xaml compiler bug? @fabiant3

[2020-09-25 23:11] StephenLPeters commented on #3331
going with markup team for now.

[2020-09-25 23:15] StephenLPeters commented on #3328
@adambarlow FYI

[2020-09-25 23:17] StephenLPeters commented on #3328
The original questions seems to be answered, thanks Rob.

[2020-09-25 23:17] #3328 closed

[2020-09-25 23:18] #3277 closed

[2020-09-25 23:33] sylveon commented on #3331
Yeah, it is a XAML compiler bug. Without XAML (a normal WinRT runtime component) it does work, but the XAML compiler's explicit specialization in .xaml.g.hpp is what breaks it.

[2020-09-25 23:50] fabiant3 commented on #3331
@RealTommyKlein - can you take a look?

[2020-09-26 01:16] kat-y commented on #3279
After reading through the animations-related comments, it sounds like there are 3 possible routes, in order of increasing amount of work:

**Not including a set animation** - this has the benefit as @chingucoding pointed out of not deterring developers when their scenario doesn't work or look good with the set animation. The risk here is possible inconsistency, though there doesn't really seem to

[2020-09-26 02:49] duke7553 commented on #3326
@kat-y Yes. The touch target I'm referring to would be the divider button which, when invoked, displays a flyout with other locations to navigate to. Users have told us that this dropdown is hard to invoke with touch input, so when prototyping this new control the team should keep this other input method in mind.

[2020-09-26 03:24] mdtauk commented on #3279
Looking online for examples...
![expander_motion](https://user-images.githubusercontent.com/7389110/94329114-e8e67b00-ffaf-11ea-89a2-be80a68cd49f.gif)

Sorry for the delay, I had to make this little mock-up animation.
Ignore the actual animation timings, they are just for illustration.  The Red outline is the Expander Header - and the Green Border is for the Expander Pane/Content etc

[2020-09-26 05:58] AzAgarampur commented on #2355
Update: Using the latest WinUI 3 preview in a Desktop Application does the same thing: No reveal and no acrylic.

Is this issue dead for now?

[2020-09-26 09:28] zhuxb711 commented on #2040
Clicking a button with flyout will still cause the commandbarflyout to close in 2.5.0-prerelease.200923002
@StephenLPeters

[2020-09-26 09:44] chingucoding commented on #3279
The question is, should Expander enforce animations though? TreeView and Hierarchical NavigationView definitely would benefit from having a built in expander control that takes care of the expanding/collapsing and would allow us to be able to have a more unified experience in that area. For example, TreeView does not animate anything while hierarchical NavigationView animates the rotating of the c

[2020-09-26 10:59] Felix-Dev commented on #3279
We could introduce something like an `ExpandGlyphPlacementMode`  with values like TopLeft, TopRight, BottomCentered (and possibly more (Left, Right, ...)) and an additional `ExpandGlyphPlacementOffset` property developers could use to modify the base position (set by placement mode) if required.

In addition to that, as @mdtauk already noticed, APIs to customize the expand/collapse glyphs (some co

[2020-09-26 11:10] hansmbakker commented on #2508
I believe this is still an issue; is there any indication on when we can use `x:Bind` for this rather than `Binding`?

Imagine I have a `UserControl` containing a dependency property `IsEditing` (bool), I want to be able to set the visibility of a `TextBlock` vs a `TextBox` inside my `DataTemplate`s.

With `x:Bind` that seems not possible because it only allows selecting items from the configured

[2020-09-26 11:43] chingucoding commented on #3279
I am not sure if TopLeft, TopRight ... is the right choice here. Maybe something like "Start" and "End" might be better suited here?
In horizontal layouts, Start would be on the left (right in RTL languages), in vertical opening mode, this would be top. "End" could be defined accordingly then. The issue I see with TopLeft ... is that it introduces a lot of complexity (see TeachingTip) for little b

[2020-09-26 13:10] robloo commented on #3279
The ideas for animations seem pretty good. It needs to be possible to turn them on/off just like List View, et al. The header and glyph also need to switch sides for RTL languages automatically. However, all the glyph customization seems to be overengineering the problem. It is impossible to create a style that will work for all cases identified that have custom implementations. Instead, just like

[2020-09-26 14:26] Felix-Dev commented on #3279
In horizontal layouts, Start would be on the left (right in RTL languages), in vertical opening mode, this would be top. "End" could be defined accordingly then. The issue I see with TopLeft ... is that it introduces a lot of complexity (see TeachingTip) for little benefit.

@chingucoding The NavigationView uses a vertical opening mode (since a NavigationViewItem expands vertically), right? How wo

[2020-09-26 14:33] mdtauk commented on #3279
ExpandedGlyph
CollapsedGlyph
Which the developer could override as they see fit

GlyphPlacement.Start .End .Above .Below
Maybe?

Maybe also use content alignment to handle the header filling the width, or have the Glyph and text bunched up together

For the Notification Centre there is a clear all on the same line as the expander, so how would this be handled?  Some kind of way to separate the exp

[2020-09-26 14:48] chingucoding commented on #3279
That was poorly worded on my end With "horizontal opening mode", I meant that the horizontal dimension is fixed, so the content is presented in a horizontal fashion. Same for vertical mode. Also what is the top left and bottom left corner? I would assume the icon to be centered, most of the time the header shouldn't/doesn't even take up to much space in the expanding region and top left and bottom

[2020-09-26 15:10] robloo commented on #3279
@Felix-Dev This is one of those things that should be standardized in the fluent design system. It's important for users to have a consistent look and feel. The only time this should change is if an app must do it to meet their own design language or there is a new use case we didn't think of. In that case -- re-template.

WPF, or any other expander controls I can think of, never exposed a propert

[2020-09-26 15:55] Felix-Dev commented on #3279
@robloo One possibility to expose glyph customization would be through lightweight-styling. These resources, just as DPs, should be considered part of the public API surface of a control, but they are much closer to the control template (the look of the control). So we could expose resources like a `ExpanderExpandGlyph` and a `ExpanderCollapseGlyph` (the NavigationView for example has a `Navigatio

[2020-09-26 17:13] Xarlot opened #3335 "Performance degradation on showing huge content"
While investigating WinUI 3 Desktop performance I`ve observed a performance degradation on showing new windows with huge content.

**Describe the bug**
Every new window with huge content shows 20% times slower compared to the previous.

**Steps to reproduce the bug**
1. Create a window with 1000 number boxes
2. Subscribe to Loaded event
3. Activate it
4. Repeat from step 1

Sample project [App10.z

[2020-09-26 17:18] robloo commented on #3279
@Felix-Dev Your recommendation for lightweight styling makes the most sense to me. It's what I meant by "Edit: defining resources for a few things to improve lightweight styling might be a reasonable option as well." a few comments above.

[2020-09-26 17:37] chingucoding commented on #3279
The question is how likely developers are not going to provide a glyph but rather have some form of other icon, e.g. a BitmapIcon or some form of custom FontIcon. If non glyph icons are not really a customization point many developers would use, I think a lightweight styling resource for the glyph (and maybe one for the symbol font) to use is the best thing here, as proposed by @robloo and @Felix-

[2020-09-26 17:57] mdtauk commented on #3279
Re-templating is always an option, if a glyph or custom font is not enough.

There are paths, SVGs that are less likely but very possible.

And PNGs or full bitmaps as a not likely but may be possible option for devs.

Whatever approach is used, should probably focus on the first two scenarios, but always allow re-templating for the third.

---

Then there is the possibility to have a ContentPrese

[2020-09-26 18:14] chingucoding commented on #3279
Retemplating will always be an option, however of course that is something that can break over time if there are (major) changes to the control. So having a lightweight resource is probably the best here as switching out glyphs (and icon font) are the most common scenarios.

Using a ContentPresenter doesn't make a difference regarding collapsing/expanding, it would be just an element like the othe

[2020-09-26 18:16] chingucoding commented on #3281
I think the best place for a HsvColor struct would be in Windows.UI or rather Microsoft.UI . @StephenLPeters Would that be something we could do before WinUI 3 or where should such a struct be placed (MUXC is not the right place since it is not a control or eventargs).

[2020-09-26 18:25] mdtauk commented on #3279
But would it be a ContentPresenter which is used by both states, or one per state that gets swapped out/toggled?

Rotations make sense when the glyph is a directional arrow/chevron - but what if its a light bulb turning on and off for some kind of tip or hint scenario?  There is a proposal for a generalised animated icon control using Lottie #2802 - would this situation call for this, even if its

[2020-09-26 18:26] Xarlot opened #3336 "TextBox performance issue (load times ~5x slower compared to WPF)"
While investigating WinUI 3 Desktop performance I found that WinUI 3 TextBox seven times slower than in WPF. At first i thought that this is a well known bug with dependency property and marshalling however textblock is faster than in wpf.

**Describe the bug**
1. The text box default template is too heavy, even with some elements loading on demand. Maybe it fast enough to touch-oriented apps when

[2020-09-26 18:27] mdtauk commented on #3281
It does seem like a generic Colour structure, like ARGB / RGBA / Decimal / Hex / RGB / CMYK etc

Will there also be the conversion colour math in there when switching mode and preserving the colour value chosen?

[2020-09-26 18:30] chingucoding commented on #3281
The proposal does not require it, but I think it would make sense to provide it. Maybe it should be required, having to implement the conversion yourself doesn't sound like a great experience.

[2020-09-26 18:37] chingucoding commented on #3279
Both options make sense. I think switching the content of the ContentPresenter is better than swapping out the ContentPresenter or having two and hiding/showing one.

A rotation animation would be one way to animate and would be easy to achieve. Having an icon that animates into a different one would be quite different. That would also probably make the API more complicated (how do you support suc

[2020-09-26 18:49] mdtauk commented on #3279
This is a big question, and to be honest, is something for the Animated Icon proposal.

Animating the glyph/icon is fine if it will always be an arrow.  But it kind of locks that in, unless you have an easy way to remove or change the animation itself.

Making a rotating Lottie animation keeps the default animation, means a little more work to implement, but is more flexible in allowing changing t

[2020-09-26 19:09] Felix-Dev commented on #3279
Looking through the web I see quite a lof of static icons used for the expand/collapse glyphs in typical Expander UI examples. However, on Windows, we also have potential customers of this control who seem to prefer animations (see for example the NavigationView and toast notifications in the shell). *Motion* is one of the cornerstones of Fluent Design so it probably makes sense here to keep optio

[2020-09-26 19:16] mdtauk commented on #3279
Animations are a delighter, and help make the UI feel smooth.  Hard coding in a rotation Storyboard, is the simple way to add an animation, but if that animation is difficult to remove, or change - perhaps using the AnimatedIcon control would be a good way to make a flexible way to enable customisation.

I am not saying one way is better than the other - just bringing it to attention here, as it i

[2020-09-26 19:23] chingucoding commented on #3279
What to animate and what not to animate is a very difficult question. As Martin already mentioned, a rotation animation does not always make sense. And animated icons still have a lot of open questions.

I think it might be better to scratch glyph/icon animations for v1 then, especially since it is not very common. One thing to reconsider then is if we remove the existing animation on the hierarch

[2020-09-26 19:32] Felix-Dev commented on #3279
Exactly. I wasn't meaning to discourage any exploration here with my last paragraph but just writing once again that one of the challenges we are facing here is about providing enough customization options outside of "the ultimate one" - re-templating - to satisfy common customer wants, yet still making sure that the control will help bring more consistency to Windows, instead of potentially less.

[2020-09-26 20:16] mdtauk commented on #3279
I would like to see a consistent approach to animating icons, which right now appears to be the Animated Icon proposal.

I would not remove any animation from the NavigationView, as it is an entirely self contained new paradigm for WinUI - and it seems as though the intention is to add animations to all these similar controls - so maybe once it is ready, the control could be added to the Navigatio

[2020-09-26 21:02] robloo commented on #3281
Yes, I included as a 'should' it but the intention would be to make the color conversion helpers in ColorPicker/ColorConversion.cpp publicly exposed. These could also be integrated with the existing ColorHelper.cpp.

The ColorPicker actually already operates in HSV and does the conversion automatically from RGB. No change would be needed there.

[2020-09-26 21:21] chingucoding commented on #3281
Oh I see, that would also work. Maybe that would be a `must` then, after all we are already adding a separate API here for the ColorPicker and introducing just the HSV struct without any conversion helpers seems a bit lacking.

[2020-09-27 00:30] Chips1234 opened #3337 "WebView 2 can't be displayed in a frame"
**Describe the bug**
Hello, I'm trying to create a tabbed web browser with WebView 2. Inside a tab is a frame, and the frame is navigated to the page containing the textbox, buttons and WebView. Everything works fine, but the WebView does not display a page at all.

**Steps to reproduce the bug**
Steps to reproduce the behaviour:
1. Make a tab view
2. Place a frame as the content
3. Create a new p

[2020-09-27 00:54] MelbourneDeveloper commented on #3083
@chingucoding I'm experiencing a problem that is probably related.

When you try to implement a vanilla TabView, you get an error saying that the app doesn't have this resource.

The XamlControlsGallery doesn't have this problem. It is picking the resources up from somewhere, but I can't figure out where it gets the resource from. Clearly the TabView control doesn't have the correct default resour

[2020-09-27 07:01] chingucoding commented on #3083
Usually, the OverlayCornerRadius themeresource is shipped with WinUI (see [this file](https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/CommonStyles/CornerRadius_themeresources.xaml)). Are you using WinUI and have also added the following reference:

[code]

[2020-09-27 09:31] huoyaoyuan opened #3338 "Please provide a direct way to assign an enum to object typed property in xaml"
# Discussion: Please provide a predictable way to assign an enum to object typed field

Assigning an enum value to *enum-typed* property is always simple, just `SomeProp="EnumMember"`. However, assigning it to untyped properties(typically `Content` or `DataContext`) has been very complicated.

1. `{x:Static ns:EnumType.EnumMember}`
The way in WPF. However, `x:Static` isn't available in UWP or WinU

[2020-09-27 10:04] Poopooracoocoo commented on #1530
@StephenLPeters uh. sorry if you're the wrong person to ask, but what do you think of this?

[2020-09-27 12:26] shaheedmalik commented on #2236
Is Microsoft seriously going to launch WinUI 3.0 without a faux acrylic to cover background acrylic for consistency purposes?

[2020-09-27 12:29] shaheedmalik commented on #2355
I don't know why Microsoft keeps avoiding answering the question on having a faux acrylic to cover HostBackdrop Acrylic until the problem is fully fixed.

[2020-09-27 13:17] lhak commented on #3335
I think have seen a similar issue (not sure if related) where the performance degrades after the window size was changed a few times. This could especially be seen with XAML animations.

[2020-09-27 13:47] huoyaoyuan opened #3339 "ArgumentException when trying to use enum array as ItemsSource"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
[code]

[code]

No repro if switching to WinUI3 UWP. Only repro for desktop (.NET 5)
Also repro for ListView.
Also repro when changing the type to `object[]`.

**Is this a CsWinRT issue?** Can you do a verification? It seems also repro when setting `ContentPresenter.Content` to single enum value.

**Version Info

[2020-09-27 16:21] NicTanghe commented on #2236
If they want it to be independant they just need to do what linux does and have a compositor that always works and runs that handles acrylic ? Blurring.

[2020-09-27 16:25] mdtauk commented on #2236
Apple seems to be able to handle it's translucency without any significant performance hit - I know Windows is an older code base in many ways - but there is already a Composition Visual Layer, WinUI just needs to be able to call on it and for it to be as performant as can be.

[2020-09-27 18:07] AzAgarampur commented on #2355
@DmitriyKomin If possible, can the brushes use their normal mode if the parent of the XAML Desktop Window correctly handles things like activation requests, dpi changes, etc?

@shaheedmalik It's pretty clear that `HostBackdrop `Acrylic won't and cannot be decoupled from the OS, (I hope they prove me wrong) because it depends on `DirectComposition `and the DirectX frame buffer & swapchain.

[2020-09-27 20:58] Parth commented on #3290
The newest prerelease (`9.23`, and all the other `2.5.*`) also breaks `muxc:NavigationView.PaneFooter`:

behavior in 2.4:

![image](https://user-images.githubusercontent.com/821972/94375480-c8f6aa80-00c8-11eb-8fbf-7fffbe9561ff.png)

behavior in the 2.5 prereleases:

![image](https://user-images.githubusercontent.com/821972/94375525-225ed980-00c9-11eb-9829-d10a772fabf4.png)

Notice the footer has b

[2020-09-27 21:09] alexandrevk commented on #2731
I'm wondering if there is any API to manage window size/position at all?

[2020-09-27 21:23] Felix-Dev commented on #3290
@Parth Can you open a new issue for this WinUI 2.5 specific behavior? (I am seeing this as well in case of the Settings item. With WinUI 2.5 previews, the Settings item is now no longer always visible but will be pushed out of the screen by NavigationView menu items (if there are enough visible). I don't think this change was intended but more can be discussed in its own issue on the repo.)

[2020-09-27 21:59] MelbourneDeveloper commented on #3083
@chingucoding

![image](https://user-images.githubusercontent.com/16697547/94376775-1114dc00-0160-11eb-97a5-22d4401f8a7b.png)

Nuget:

[code]

XAML:

[code]

When you say "also added the following reference" do you mean drop the resources somewhere in the resources collection? I tried that and got the same problem.

[code]

Is there are quickstart guide that explains how to get this working from a

[2020-09-27 22:10] Felix-Dev commented on #3083
@MelbourneDeveloper You should add the WinUI reference on the application level:
[code]

(When you add a WinUI nuget package to your project, Visual Studio should open a readme.txt file which contains instructions how to add the WinUI resources to your app.)

[2020-09-27 22:10] chingucoding commented on #3083
I think referencing the WinUI resources from the Page.Resources should work, the XAML Controls Gallery references it in the App.xaml though. There is a guide on how to get started with WinUI 2: https://docs.microsoft.com/en-us/windows/apps/winui/winui2/getting-started

[2020-09-27 22:32] Parth opened #3340 "NavigationView needs some serious attention"
I was requested to make this it's own issue, but there are significant bugs in the most recent stable and prerelease versions of NavigationView (which means there's no working NavigationView available).

1. #3131
2. #3290
3. https://github.com/microsoft/microsoft-ui-xaml/issues/3290#issuecomment-699687352

UWP 2.4 (stable) - has bugs
UWP 2.5 (prerelease) - has bugs
UWP 3.0 - [Should not be used fo

[2020-09-27 22:45] MelbourneDeveloper commented on #3083
@chingucoding @Felix-Dev got it. Thanks!

The secret was adding it to the app resources. I think this is going to be a stumbling block for developers new to the toolkit. Generally speaking, controls shouldn't depend on resources that they have to add separately.

Here is what worked:

[code]

[2020-09-27 22:47] Felix-Dev commented on #3340
@Parth Could you make this issue about the PaneFooter/Settings item being pushed out of the displayed NavigationView pane (starting with WinUI 2.5.0-prerelease.200812001 which introduced new FooterMenuItems APIs and are likely the reason for the change in behavior you are seeing here)? That way, this issue will be easily searchable for other customers encountering the same changed behavior and can

[2020-09-28 03:04] standrze opened #3341 "WebView2 Proxy Configuration"
I would like to a set proxy for my WebView2 control, but I am not sure that you are able to set it. Does anyone know whether that is available right now? Also, it would be nice to have the ability to alter the requests on even NavigationStart, no idea why I can't alter the request. Thank you.

[2020-09-28 05:35] BorzillaR opened #3342 "Question: What is the best way to build an Excel like layout?"
Hello!

I am finding a way to build an "Excel like" layout.

![image](https://user-images.githubusercontent.com/23479280/94392505-1e7e9600-0161-11eb-95e1-9636a5832e23.png)

The key features of that scenario is:

- Left content should be vertically scrolled synchronously with a main content. At the same time it should not be scrolled horizontally (fixed columns in Excel)
- Top content should be hor

[2020-09-28 08:23] chingucoding commented on #3083
When installing the WinUI nuget package, Visual Studio opens the packages readme file that explains how to add the WinUI resources. That step is also outlined in the guide I linked. What would you suggest to minimize this stumbling block

I can see what you mean, however that is kind of the point of lightweight styling. Lighweight styling allows you to override single resource in order to change v

[2020-09-28 08:53] MelbourneDeveloper commented on #3083
@chingucoding hmmm... Well, I can see some merit to that. But this a break from the design of any of the other XAML frameworks I've come across.

People just expect that they can leverage a control without it depending on anything and when it throws errors because resources are missing, people will probably just give up. I almost did.

[2020-09-28 09:10] chingucoding commented on #3083
The lightweight styling is not only present in WinUI but also in other XAML libraries/frameworks such as [Uno platform](https://github.com/unoplatform/uno), [Avalonia](https://github.com/AvaloniaUI/Avalonia) and the [Windows Community toolkit](https://github.com/windows-toolkit/WindowsCommunityToolkit). The issue you encountered is that for some reasons, including the WinUI resources did not work,

[2020-09-28 09:31] MelbourneDeveloper commented on #3083
@chingucoding that doesn't sound right to me. I work with Uno all the time and I don't have to explicitly drag in any extra resources for the controls to work.

I haven't needed to with Avalonia either.

[2020-09-28 09:38] chingucoding commented on #3083
The issue with WinUI *2* is that you need to add the templates and resources consumed by the WinUI controls. By the way, if you don't add the WinUI resources, the WinUI tabview wouldn't work too as it wouldn't be able to find it's template. The advantage of Avalonia and Uno is that they own the complete experience, WinUI 2 is only a library of controls. It's not the complete UWP XAML framework but

[2020-09-28 10:07] Poopooracoocoo commented on #816
It's still weird that shadows and acrylic are tied together.

[2020-09-28 10:13] chingucoding commented on #3083
Also the following can't work since TabView is not part of the standard UWP controls, but rather is an addition WinUI 2 delivers to customers. When the control tries to look up the template for the control, it asks the XAML resource system where to provide the resource. The XAML resource system however looks at:
a) the standard templates provided through UWP XAML
b) any resource dictionaries on th

[2020-09-28 12:28] chingucoding commented on #3342
That is an interesting problem. There are a few things here, so I'll split my opinion up based on the different things:

#### Columns/Rows persistence

I think you can only achieve this by having the cells themselfes in a ScrollViewer and have on vertical scrollviewer for the Rows headers and one horizontal scrollviewer for the column headers. When the view of your "cells view" changes, you would

[2020-09-28 12:48] BorzillaR commented on #3342
Thank you, @chingucoding. Unfortunatelly, I tried to use three ScrollViewers and sync it. But at this case I cant to avoid of independed animations. When I, for-example, perform the scrolling by mouse wheel, the content of the main area goes faster than the top and left contents. Seems ViewChanged raises too late. I understand, that I cant jump through the independent animations.

Anyway, I found

[2020-09-28 12:55] chingucoding commented on #3342
I did not know that, awesome that those are just what you need!

What do you mean by composition layer? If you want to change the position of the scrollbar and also change the width, I think you'll need to retemplate. If you just overlay the tabs (as excel does), how would you solve the overlapping of content?

[2020-09-28 13:22] BorzillaR commented on #3342
As for the scrollbar position, I will try to retemlate, thank you!

As for the composition layer.
TopHeader and LeftHeader properties allow me to set a fixed content for the top and left part. But I want to have the ability to make fixed the right and bottom parts also. The main disadvantage of any approaches with a part syncs on ViewChanged is the gap between render and UI threads. I think the so

[2020-09-28 13:32] chingucoding commented on #3342
Right I see. Composition layers could work. Depending on how you will render your table (or inner content), you might also be able to make it work by writing some kind of custom layout that returns the correct "border" and scrolls the inner content. The composition approach could definitely work, however I am not sure how tight the loops are when changing positions so you might have synchronizatio

[2020-09-28 13:35] NicTanghe commented on #2236
Here`s to hoping upstream wil not point fingers to other people asking them to fix it in a shitty way because they can make a shitty workaround.

[2020-09-28 13:59] BorzillaR commented on #3342
Here is scrolling in my sample project. The yellow column is the left panel which is sync with a scroll viewer content on view changed.

The gap is significant.

https://i.imgur.com/ru55Ed4.gif

[2020-09-28 14:13] chingucoding commented on #3342
Hmm that is really a significant gap, not sure if adding bottom and right headers with the view changed event will look good. Composition might make it better, but I think the main bottle neck is just the event not being fast enough.

[2020-09-28 14:58] vgromfeld opened #3343 "NavigationView hierarchical navigation: NavigationViewItem.IsAccessKeyScope not working in left compact mode"
**Describe the bug**
When using the hierachical navigivation of `NavigationView`, the access key scope is not working properly when the navigation pane display mode is set to left compact.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new application with the following code:
[code]
2. Run the application
3. Press "ALT" to display the access keys.
4. Press "C" to ope

[2020-09-28 17:01] MikeHillberg commented on #3321
Just trying to understand, is capture not a good way to pass state?

[code]

[2020-09-28 17:06] shaheedmalik commented on #2355
Then a faux acrylic brush needs to be made to fill in for it in WinUI3.

[2020-09-28 17:15] sharpninja opened #3344 "Discussion: Can you specify WindowsDesktop SDK and use WinUI 3 with net5.0?"
# Discussion: Can you specify WindowsDesktop SDK and use WinUI 3 with net5.0?

I'm trying to make an app that creates a toolbar window with net5.0 and WinUI 3.  To do this, I need access to some of the WindowsDesktop SDK, so I set the project SDK to `Microsoft.NET.Sdk.WindowsDesktop`.

The rest of my project looks like this:

[code]

Compiling this results in this error set:

[code]

I haven't fil

[2020-09-28 17:18] mdtauk commented on #2236
I wonder if going back to Windows 7 - WinUI/Reunion could provide a driver, which provides the Rendered layer needed to handle Acrylic.  WinUI apps on deployment and new OS versions could include the driver which provides the base layer render visual, via the Store.

Windows 7 and Vista before it must have had the capability for the Aero Glass rendering.  Windows 8/8.1 had the Visual Composition L

[2020-09-28 17:29] Sergio0694 commented on #3321
That works perfectly fine, absolutely, it's just not as efficient as it forces the C# compiler to allocate both a closure class as well as a new delegate every single time that method is execute. Consider this example, where I want to invoke a method on a control:

[code]

The C# compiler will create a new closure class and a new delegate every single time that code is invoked:

[code]

You can se

[2020-09-28 17:35] StephenLPeters commented on #3083
I think I would expect this code to work generally.. however App.xaml resource dictionary gets special treatment in the resource lookup which is probably why it works and the page dictionary doesn't.  resource tree lookup never restarts the process, so I suspect what is happening is we are looking for a template, find it in the page resources, load the template, start the lookup process for the re

[2020-09-28 17:36] StephenLPeters commented on #3083
@ranjeshj as well

[2020-09-28 17:49] mdtauk commented on #2355
I have advocated for a FauxCrylic mode being added, but rather than be seen as a stop gap, it should be used as a performance mode, so the development time and effort can be better justified, and Tablet Mode on devices like the Surface Go will benefit from not being full of Fallback Solid Colours.

If it persists after Live Acrylic is restored for WinUI 3.X - then the work  does not go to waste, a

[2020-09-28 18:28] StephenLPeters commented on #3290
I don't think this was intended either. Lets get it a dedicated issue and we can see about fixing it for the next prerelease.

[2020-09-28 19:09] alwu-msft commented on #3215
Correct, support for parameterized constructors isn't currently on the radar. @mc0re is the motivation syntactic cleanliness, or is there some kind of desired functionality that requires initialization of the markup extension's state to happen in the constructor and which can't be equivalently done via properties that are set by the markup and then read in the extension's `ProvideValue()` implemen

[2020-09-28 19:19] michael-hawker commented on #3342
@Sergio0694 added some [ScrollViewer extensions](https://docs.microsoft.com/en-us/windows/communitytoolkit/extensions/scrollviewerextensions#expression-animations) in the last version of the Toolkit which I think may be helpful here?

[2020-09-28 19:22] Sergio0694 commented on #3342
Yeah this seems like a very good use case scenario for those extensions, possibly in combination with the `ClipHelper` extension too to make sure the scrolled visuals are clipped in the target areas 👍

I'm using a very similar setup in my own app and it's working pretty well, so I'd say definitely worth a try!

[2020-09-28 20:09] shaheedmalik commented on #2355
I 10000% agree with this. It should replace the current battery mode.

[2020-09-28 20:11] BorzillaR commented on #3342
I`ve tried to pin header by composition animation.

![image](https://user-images.githubusercontent.com/23479280/94480210-a2c32e80-01de-11eb-8301-c39f9acad6a9.png)

It works perfect when I perform scrolling by mouse wheel

https://i.imgur.com/Oi4DwOM.gif

But if I drag a thumb of vertical scrollbar, the text becomes blury and jumps.

https://i.imgur.com/Gl80atG.gif

I tried to round expression

_ex

[2020-09-28 20:28] ygoe commented on #1658
Does this also allow editing the HTML content with JavaScript disabled? I'd like to build an e-mail viewer and editor that has JavaScript disabled for security, but also allows editing a reply with the original message quoted inline in the editor. Various input events need to be handled by the application here to update the formatting accordingly. As well as an API to manipulate the DOM with the u

[2020-09-28 20:30] mc0re commented on #3215
@alwu-msft, It's the desire to have a shorter code :-)  So in short, one shouldn't expect that feature any time soon.

[2020-09-28 20:30] AzAgarampur commented on #2355
Woah, that's a great idea - using FauxCrylic as fallback! (is it FauxCrylic or FauxAcrylic)?

[2020-09-28 20:32] #3215 closed

[2020-09-28 20:37] mdtauk commented on #2355
If not replace, then be an intermediate option on lower performance modes and Tablet Modes.

The Solid Colour fallback is a good idea for the lowest spec or for Transparency turned off in system settings

[2020-09-28 20:55] michael-hawker commented on #3293
@MarissaMatt @StephenLPeters to clarify here the `Outline` property is controlling the color of the ring itself with now progress compared to the `Foreground` property which controls the property of the filled progress area:

![image](https://user-images.githubusercontent.com/24302614/94485095-43d7c800-0192-11eb-9127-1c536ee94e02.png)

[2020-09-28 21:38] Sergio0694 commented on #3342
@BorzillaR I don't really understand what's going on from those small GIFs you posted, but I put together a small sample of a similar UI using the scrollviewer extensions from the toolkit, as well as the clip helper, is this similar to what you had in mind?

![WpwPhicgC3](https://user-images.githubusercontent.com/10199417/94488724-72ca5a00-01e3-11eb-9423-5d485d1e3def.gif)

In this case it's all wo

[2020-09-28 21:44] robloo commented on #913
Why is this called InfoBar? Info is only one small class of information it can contain. It also supports errors and warnings plus actions based on them. Bar is also artificially constraining the 'shape' of the control. There are several other use cases for it besides a bar.

NotificationView or MessageView, etc would be better names in my opinion.

[2020-09-28 21:52] mdtauk commented on #913
It was originally proposed as a **StatusBanner**
Then it was changed to **InformationBar / InfoBar**

The FluentUI version of this control is called **MessageBar**

[2020-09-28 22:00] robloo commented on #913
Thanks for the summary. The name still doesn't make a lot of sense for me. The way the current control is designed is as a notification. More generalized it should be a 'message' so it can support help/teaching scenarios too. Generalizing the various concepts, here is a better design for the controls:

MessageView : A control to display status, hint or teaching information to the user with an opti

[2020-09-28 22:11] robloo commented on #913
Here is another 'real-world' example of a notification bar at the top of some input fields. The current control would be useful for that scenario:

![image](https://user-images.githubusercontent.com/17993847/94491209-c45bf000-01b5-11eb-938e-f24de34b84f8.png)

[2020-09-28 22:25] mdtauk commented on #913
TextBoxes will be getting validation states which could cover some of this, but here is how I view the various controls...

- **Tooltip** for a single element where the user actively wants to identify;
- **TeachingTip** for a single element the developer wants the user to notice (can also be unattached to an element);
- **InfoBar** for the entire app/content area where the developer wants to deliv

[2020-09-28 23:01] robloo commented on #913
Well, I think developers would know the difference but it's certainly a fair point.

It's also true we can make lots of separate controls. But there are certainly some high-level concepts around notification/status/messages/hints/teaching that could be combined together. We should at least make an interface out of all this.

Flyout's/Content dialogs are separate concepts as they are generic conten

[2020-09-28 23:09] ranjeshj commented on #3344
@fabiant3 @stevenbrix FYI

[2020-09-28 23:11] robloo commented on #913
I thought of a perfect name for a generalized 'message view' type control to host in various scenarios: call it a 'Tip'. I've updated my comment above accordingly: https://github.com/microsoft/microsoft-ui-xaml/issues/913#issuecomment-700307412

[2020-09-28 23:12] ranjeshj commented on #3343
I am guessing that when we have the flyout, the access key logic does not know the parent chain.

[2020-09-28 23:14] mdtauk commented on #913
I wouldn't feel comfortable putting an important warning or error message in a **Tip**...

[2020-09-28 23:15] ranjeshj commented on #3342
@RBrid might have some thoughts here.

[2020-09-28 23:15] gabbybilka commented on #913
I really like this idea. I think there are commonalities in the icon, title, message, action button APIs that can be consistent across these info controls. With InfoBar, I'm unsure if its something we can implement in this current version but for our next control of this nature.

I also agree with this...more exploration to be done.

[2020-09-28 23:21] ranjeshj commented on #3338
@huoyaoyuan can you provide details on the scenario you are trying to solve ?

[2020-09-28 23:21] robloo commented on #913
Think of how well it fits with all existing controls and ideas -- it's perfect in that regard. But yes, it does seem out of place in the context of errors/warnings. I think people would quickly understand it but I can't argue with that logic.

[2020-09-28 23:22] ranjeshj commented on #3336
@bartekk8 as FYI

[2020-09-28 23:25] ranjeshj commented on #3335
This might be related to this [leak in cs/winrt. ](https://github.com/microsoft/CsWinRT/issues/413). @Xarlot can you check task manager and see if memory usage is increasing each time you activate ? @Scottj1s as FYI

[2020-09-28 23:25] gabbybilka commented on #913
I agree with your point that the InfoBar may not **always** be a bar however I think including "bar" in the name does imply that its intended for app-wide scenarios both visually and conceptually. Searching up for images of "information bar" you find images of similar experiences from IE (not that we're necessarily trying to match IE) and I think it connotates the expected visual and functional la

[2020-09-28 23:30] robloo commented on #913
@gabbybilka Yes, it's quite similar to the old StatusBar or the newer AppBar... CommandBar... etc. The issue is the usage of the control should be generalized quite a bit to also show hints and messages in arbitrary locations -- as discussed in the spec page. 'View' also doesn't fit 100% but it's closer to a general name. Really my concern is in unifying the underlying concepts so we don't end up

[2020-09-28 23:31] ranjeshj commented on #3083
I'm curious if this is specific to WinUI2.x and the way we are including the styles in app.xaml. Does this also repro in WinUI3 ?

[2020-09-28 23:37] mdtauk commented on #913
Echoing thoughts I posted in one of the other issues...

_Responding to the fact a floating mode for the control is no longer being considered for V2_
I can understand the change in behaviour and form would make you turn towards the TeachingTip as an alternative, but I would suggest the lack of severity, status colour, and the design of the teaching tip itself - would not be compatible with the sa

[2020-09-28 23:39] StephenLPeters commented on #3293
Is something like Track a better name?

[2020-09-28 23:41] robloo commented on #913
So what if we had a 'Tip' that is really just a message. It has a glyph, images, message text, title.

Then deriving from Tip we have AppMessage which adds severity, actions and things. Tip would then still be usable in TeachingTip and ToolTip as they exist today. it would also be useful in my scenario for inline, contectual hints.

[2020-09-28 23:43] mdtauk commented on #3293
Why not **RingColor** - Ring is in the control's name

[2020-09-28 23:44] noseratio commented on #1658
@ygoe have a look at [`ICoreWebView2Settings::put_IsScriptEnabled`](https://docs.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/0-9-430/icorewebview2settings#put_isscriptenabled). I'm not sure though if you'd still be able to manipulate the DOM with [`ExecuteScript`](https://docs.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/0-9-488/icorewebview2#executescript) if you di

[2020-09-28 23:45] mdtauk commented on #913
TeachingTip without a Tail seems perfect for your situation...

https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/images/teaching-tip-non-targeted.png

[2020-09-28 23:48] robloo commented on #913
Didn't know you could do that with TeachingTip. Also, my control has been around a lot longer than TeachingTip so never really investigated upgrading it until now. Either way, if you can do that it's an oversight on my part.

I'm still convinced there is a lot of commonality to break out into interfaces/controls used in multiple places. All of these controls we are discussing have far more similar

[2020-09-28 23:51] mdtauk commented on #913
When you break it down, it is only an icon and text, and there is no "context" associated with it.  But my suggestion of wrapping it into an **AppMessage** could include Non Attached TeachingTips as another form of UI I guess.

[2020-09-28 23:52] robloo commented on #913
Sorry, see my edit above. Teaching tip still isn't inline and just floats at the bottom until dismissed.

[2020-09-28 23:53] huoyaoyuan commented on #3338
There are two root scenarios:
- Selecting **localizable** enum values in selector control.
- Displaying enum values as something localizable.

I'd make a more detailed requests for what I imagine the solution should be, but many approaches I've tried will require creating enum values and arrays in xaml. So I opened this request.

[2020-09-28 23:53] mdtauk commented on #913
Doesn't have to be at the bottom.

Inline is perhaps an unusual use case for a hint, as it would displace other content around it.

[2020-09-28 23:56] gabbybilka commented on #913
To give @mdtauk's comment a bit more context, here was my initial reply to his question around removing floating mode from the "Intended features for InfoBar V2" section in the spec.
From me:

For the InformationBar and InformationCard proposal based off of a base AppMessage class I like this idea. You mentioned that "the way they're presented on screen would change to suit the form factor/device

[2020-09-28 23:57] robloo commented on #913
Don't get sidetracked though :) All of these various controls are presenting, for the most part, the same type of information -- just in different areas/styles. This needs to be generalized and unified. I think we can unify around one common 'AppMessage' control if you want to call it that. Then just have different containers for presenting that 'AppMessage' in different ways. It could be presente

[2020-09-28 23:59] mdtauk commented on #913
I wasn't trying to misconstrue any context with @gabbybilka 's reply 😄

[2020-09-29 00:01] robloo commented on #913
This is where naming comes in. I do like "AppMessage" ("Tip" would be awesome though as it would seem like it was the plan all along) but if we go with that it should be "MessageBar" and "MessageCard" hosting it.

I definitely agree with these different use cases and presentations. However, they are still presenting a message which can be generalized and standardized. I think we all agree on that

[2020-09-29 00:07] mdtauk commented on #913
Example of a Card Message/Tip
![image](https://user-images.githubusercontent.com/7389110/94497588-8da2cb80-01ef-11eb-8dc3-187c812b2379.png)

One of the aims I think, should be to encourage inbox and first party apps/Windows Shell to move away from their custom solutions to using a consistent inbox control/API

[2020-09-29 00:14] robloo commented on #913
I should probably add that in a UWP app I work on some of these concepts were already unified. The simplified version relevant to this discussion is:

There is a 'Message' class (it is not a control, only a data structure) with the following properties:

[code]

Priority is basically the same as what you have decided already (it's pretty standardized now days). DisplayMode supports Notification, N

[2020-09-29 00:48] Kikanye commented on #2613
@vsfeedback Is there a way to work around this issue in the mean time? I am having the same issue developing with Xamarin.UWP, and I am unable to tell what is causing this, I don't even know if it is hitting a breakpoint.

[2020-09-29 00:52] kat-y commented on #3279
It sounds like ```ElementAnimator``` is too much for animating Expander, and that ```ExpandTransition``` and ```CollapseTransition``` would suffice.

@mdtauk thank you for making the mock-up animation! I understand what you meant for the expanding and collapsing animations.

I believe that accordion behavior will be achieved through list-level logic (rather than a new Accordion control) with IsExp

[2020-09-29 01:02] mdtauk commented on #3279
Glyph Appearance
Glyph Position

I think these are the easiest and most important customisations to include in V1.

Glyph Animation
State Transitions

These could be given a lower priority if Prioritisation is needed and the core behaviour and functionality is taking too long.

[2020-09-29 01:03] kat-y commented on #3326
Sounds like the flyout menu behavior is something useful to Files and other folder-navigating scenarios.

@mdtauk I agree with you - it's not within the scope of a Breadcrumb to track these for developers.

Would love to hear any thoughts on the following direction for Breadcrumb:

- As it is possible to build a Breadcrumb using existing pieces from WinUI and icons, would a 'style example' in XAML

[2020-09-29 01:10] mdtauk commented on #3326
I think almost all controls are made up of individual elements and controls - so sure you could use a series of re-styled buttons with extra buttons - but not having it as a control means it becomes very likely individual approaches will show inconsistent behaviour and visual styling.  They may not take into account accessibility concerns.  And this would be another disparity between WinUI and Flu

[2020-09-29 04:07] sharpninja commented on #2866
I think every app must be installed via MSIX, signed and permissions requested, even if the permission is "Everything".  Legacy consumer apps that haven't been updated in 5 years will rightfully fall to the wayside if the developer cannot put in the minimal effort to repackage with proper permissions.

[2020-09-29 04:52] BorzillaR commented on #3342
@Sergio0694, follow the yelow text behaviour on my last gif, please.

I taked some screens where it cleary visible what is going on. Notice, that the yellow text is blured at the first screen. On the second screen all is ok with bluring, but the position of the text is changed to one pixel up. On the last screen the text has the both artefacts (position and bluring)

![image](https://user-images.g

[2020-09-29 05:59] Xarlot commented on #3335
It seems my steps to reproduce weren`t good.
You should create and activate a new window. I`ve updated the description

[2020-09-29 08:18] lukasf commented on #913
That's exactly what I would propose: Do the abstraction on the App layer. Have a simple ViewModel class that you can attach to either view. It's simple to do and more flexible. Maybe you also want to do logging with your preferred logging framework, you want to have custom priorities, want to add your own data. All easy to do in your ViewModel.

The intention of the controls you mentioned is to pr

[2020-09-29 09:22] BorzillaR opened #3345 "ItemsRepeater - slow scrolling performance"
Hello!

I`ve attached a small sample with ItemsRepeater. I use the data-dependent layout sample from [this] (https://docs.microsoft.com/en-us/windows/uwp/design/layout/attached-layouts#virtualizing-layouts) article. I notice that scrolling is slow. If I set HorizontalCachLength and VerticalCacheLength to 0, the scrolling becomes faster.

**Steps to reproduce the bug**

Steps to reproduce the behav

[2020-09-29 10:21] Sergio0694 commented on #3342
@BorzillaR Here's the sample from that GIF I posted, hope this helps! 😄

[GridScrollerSample.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5298218/GridScrollerSample.zip)

[2020-09-29 12:20] BorzillaR commented on #3342
@Sergio0694, thank you!

[2020-09-29 13:46] robloo commented on #913
@lukasf Your points make sense; it can be done in the app itself. However, there are a lot of very similar concepts and everyone can benefit from a unification here.

ToolTip was thrown into the discussion because it could benefit having a glyph and title along with a message. Conceptually all these controls are messages of some form too - only where/how they are displayed are different. Even if w

[2020-09-29 14:40] chingucoding commented on #3299
I would like to look into this issue.

[2020-09-29 14:50] Pit-Storm opened #3346 "To large list/right-click menues when using magnifier in full screen"
Dear Team,

I opened [this issue](https://github.com/microsoft/terminal/issues/7765) on Terminal repo. But the described behaviour also exists e.g. with sticky notes. So the Terminal-Team told me to point it out here.

What do you need from my side to clearify the behaviour?

Kind regards!

[2020-09-29 14:57] IanBelchamber opened #3347 "UWP - serious performance degradation due to Garbage Collector, working with Bitmaps and large object collections"
We have a large solution with a UWP project providing user interface and WPF project providing connection to hardware we can't get to through UWP like machine vision cameras. We have found that GC is causing unacceptable delays and latency to GUI and background processing, apparently when it stops all threads to check all our objects, most of which are persistent for the lifetime of the applicatio

[2020-09-29 15:36] tuggernuts opened #3348 "Question: What is proper way to compose an AppWindow with a Frame in desktop app?"
I am porting an UWP application to a WinUI 3 (Preview 2) Desktop app.

When launching an `AppWindow` in UWP, an `AppWindow`  with `Frame` content is composed with:
`ElementCompositionPreview.SetAppWindowContent(AppWindow, Frame)`

and an `AppWindow`  is referenced by the `Frame.UIContext` property.

In the WinUI app, whereas both `ElementCompositionPreview` and `Frame` are available, neither `Elem

[2020-09-29 15:52] robloo commented on #913
I've put together a comparison of the messaging controls. I'll give it away as free consultation since it's so rough as it is :)

This is the kind of high-level comparison and strategy documentation I would expect to be created internally at Microsoft. If it was myself leading the spec/design reviews I would demand these types of analysis or no one can expect to leave with approval. It is absolute

[2020-09-29 16:58] DHowett commented on #3346
This looks like https://github.com/microsoft/microsoft-ui-xaml/issues/1875 possibly? :smile:

[2020-09-29 17:00] chingucoding commented on #3299
For DisplayMode top, NavigationView uses the "NavigationViewTopPaneBackground" resource to allow lightweight styling of the background of the background. I am not sure if changing the theme resource binding here is a good idea as this might break existing apps.

[2020-09-29 17:08] Felix-Dev opened #3349 "Recent test infrastructure refactoring appears to have broken WinUI interaction tests"
The recent test infrastructure refactoring in PR https://github.com/microsoft/microsoft-ui-xaml/commit/c46d28b3e706a24a5b89ec110ac2e93a9a86aa58 seems to have broken the local test infrastructure for *interaction* tests on my local system (API tests still work fine).

#### Using the Innerloop solution
Prior to this PR, I could run interaction tests just fine. I would build and run the solution whic

[2020-09-29 17:10] chingucoding commented on #3349
While full solution interaction tests run fine, I am also unable to run interaction tests when using the MUXControlsInnerloop.sln file. As @Felix-Dev noted, this seemed to degrade with c46d28b .

[2020-09-29 17:24] gabbybilka commented on #913
Thanks for the comparison document, very cool to see your thoughts on the info controls holistically! Two main topics I want to continue discussion on are 1. Why _shouldn't_ the Teaching Tip and InfoBar have different APIs/properties/functionality? and 2. What would be the difference between an InfoBar and InfoCard if the InfoCard wasn't a Popup as outlined in the comparison doc?

For the first qu

[2020-09-29 17:26] Felix-Dev commented on #3257
Since my PR for this issue adds an interaction test I am currently more or less blocked on issue https://github.com/microsoft/microsoft-ui-xaml/issues/3349.

[2020-09-29 17:29] Thomas1664 commented on #3299
@chingucoding using `NavigationViewTopPaneBackground` works for me. Nonetheless, in my opinion, using `NavigationViewDefaultPaneBackground` should work as well. What about keeping `NavigationViewTopPaneBackground` in case someone wants to use different background colours but also allowing `NavigationViewDefaultPaneBackground` to set the background colour of `NavigationView` when `DisplayMode` is s

[2020-09-29 17:40] mdtauk commented on #913
I would not advocate for harmonization between these controls directly, as there is justification for these controls doing their own thing within their own contexts.

However, creating an In App Messaging API, which acts as a unifying structure, but can adapt for the form factor doesn't need changes on the controls.

There are questions to discuss and answer for this kind of API:
- Should / How yo

[2020-09-29 17:50] chingucoding commented on #3299
The big question is how you would achieve this. We can certainly not introduce an API to switch between the resources for the background DisplayMode.Top. You can't bind the background of a control to both resources.

[2020-09-29 17:53] robloo commented on #913
The goal should always be provide common API's for the same things. This whole discussion is about user-facing messages in general and several similarities appeared once that was understood. It's unarguable that the use cases for TeachingTip and a MessageBar-type control are different. Fundamentally, one is presenting a Message and the other a Tip as well. I'm not questioning the overall design ch

[2020-09-29 17:58] Felix-Dev commented on #3299
Note that resource referencing is not working as intended right now: https://github.com/microsoft/microsoft-ui-xaml/issues/2913

[2020-09-29 17:59] chingucoding commented on #3299
Oh right, guess that option is off the table then. Thanks for linking that issue @Felix-Dev !

[2020-09-29 18:00] StephenLPeters commented on #3299
Yes, was about to link the same issue, when #2913 is resolved this should be easy. In the mean time we don't really have a good way of doing the fallback color proposed.

[2020-09-29 18:03] StephenLPeters commented on #3349
@azchohfi and @kmahone looks like the test refactor work broke the inner loop project.

[2020-09-29 18:04] Pit-Storm commented on #3346
Looks like ;-)

Is there a schedule when ui3 will be available and is it dependend to sole specific build/win version?

🎉

[2020-09-29 18:08] chingucoding commented on #3299
Is this a "needs-winui-3" issue then @StephenLPeters ?

[2020-09-29 18:23] Felix-Dev commented on #3329
@StephenLPeters Quick ping in case previous ping got missed (just to make sure you saw my question).

[2020-09-29 18:49] lukasf commented on #913
I agree 100% with @robloo that property names and enum names for similar things should be aligned (as far as possible) with existing controls. Similar controls should have a similar API surface. If a MessageCard class was to be added at a later point (instead of extending MessageBar, which I might personally prefer), it should at least have a very similar API as MessageBar.

[2020-09-29 19:11] Felix-Dev commented on #3183
@ranjeshj Sorry for the late reply.

I created the following test page:
![image](https://user-images.githubusercontent.com/1398851/94602508-3ce5ae00-0295-11eb-9afe-a1c6466cd15d.png)

As you can see, I have a ComboBox with the header "ComboBoxHeader" and a RadioButtons instance with the ehader "RadioButtonsHeader". Narrator reads the ComboBox header out correctly, but fails to mention the RadioButt

[2020-09-29 19:39] Felix-Dev opened #3350 "RadioButtons: Header is not using the correct color when disabled"
**Describe the bug**
Similar to https://github.com/microsoft/microsoft-ui-xaml/issues/3003 the header of a disabled RadioButtons control is not showing the correct color:

![image](https://user-images.githubusercontent.com/1398851/94607240-f47dbe80-029b-11eb-9980-890bb9676c87.png)

**Expected behavior**
The header for a disabled RadioButtons control should have the same color like the header for a

[2020-09-29 20:01] Felix-Dev commented on #3247
@StephenLPeters Would you be fine with me tackling both this issue and https://github.com/microsoft/microsoft-ui-xaml/issues/3350 in a *single* PR so we won't get merge conflicts to hold us back? (I.e. I would add new API tests to cover both issues which would create merge conflicts if we have two separate PRs.)

Or would you favor a clear separation here even if that means merge conflicts will bl

[2020-09-29 22:03] anawishnoff commented on #1530
Hi @Poopooracoocoo, sorry for the delay on getting you a response on this and thanks for filing. This area is a bit out of my realm, so I'm connecting with the greater team to see if we can get you some info on this.

[2020-09-29 22:23] michael-hawker commented on #2424
@stmoy also for `CenterPoint` doesn't this now rely on the size of the component in order to know how to rotate around it's center compared to `RenderTransformOrigin`? This means a lot of extra math is required and that can't easily be done in XAML either.

[2020-09-29 22:28] michael-hawker commented on #2424
The other confusing thing here is what happens if the `RotationAxis` property is preset on a control and then the Visual is attempted to be obtained:

![image](https://user-images.githubusercontent.com/24302614/94623022-1e1cf280-0268-11eb-876e-e538daa64163.png)

[code]

[2020-09-29 23:11] StephenLPeters commented on #3347
If you are mostly concerned with animation performance during GC you can look into using independent animations, some info here: https://docs.microsoft.com/en-us/windows/uwp/design/motion/storyboarded-animations#dependent-and-independent-animations and here: https://docs.microsoft.com/en-us/windows/uwp/composition/composition-animation#:~:text=Composition%20APIs%20allows%20you%20to,animations%20in

[2020-09-29 23:13] mdtauk commented on #3347
@StephenLPeters  Am I right in thinking it is possible to mix C++ code in a C# project - if you needed to write performant code for a specific thing within your app?

[2020-09-29 23:14] StephenLPeters commented on #3346
Here is the winui 3 roadmap : https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-30-feature-roadmap

Winui 3 is designed to be independent of the operating system and the initial release will support any version after RS4.

[2020-09-29 23:14] #3346 closed

[2020-09-29 23:15] StephenLPeters commented on #3345
@ranjeshj can you weigh in?

[2020-09-29 23:44] YuliKl commented on #3317
I recommend **not fixing** this issue because the control type "picker" is already being announced.
Narrator announces a “calendar date picker”, a control to help users pick a calendar date. I believe the concept of pickers is actually pretty familiar to users while announcing something as a “picker button” would be confusing because these are two different control types. The interactions for pick

[2020-09-29 23:53] tuggernuts commented on #3348
Well, I can't even create an instance of AppWindow. The static method TryCreateAsync() causes an Unauthorizedaccessexception: Access is Denied. So I'm clearly going about this the wrong way. I know this is bleeding edge stuff, but some rudimentary documentation would be helpful.

[2020-09-29 23:57] beervoley commented on #3284
@StephenLPeters @OnlyOnePro I've looked into the issue and the main problem is with TextBox: it doesn't position the content inside correctly based on the ContentAlignment options provided. Until TextBox is fixed (and that code is still in the OS) we cannot easily fix the AutoSuggestBox :)

[2020-09-30 00:11] YuliKl commented on #3340
@Parth I'm sorry you're unhappy with NavigationView, but I'm closing this issue as too vague. Please open a new one, as @Felix-Dev suggested, about each specific problem. As written this item is not actionable, and as the PM owner of this control I know first hand that overall NavigationView does receive "serious attention" from the WinUI team and our community. (Thank you for all your work on it,

[2020-09-30 00:11] #3340 closed

[2020-09-30 00:37] kat-y commented on #3279
Thanks for the priority order @mdtauk!

I've added a new open question:

* How should Expander work with InfoBar? Adding expanding functionality to InfoBar? Putting InfoBar as the content of an Expander? The reverse?

[2020-09-30 00:42] OnlyOnePro commented on #3284
That's a big yikes. That's something outside our control, so nothing can be done.

[2020-09-30 00:48] mdtauk commented on #3279
I would imagine it would replace the content, but I think those designing the information bar should provide a design spec for a collapsible bar, which the expander designers can look at.

It's a conversation to be had

[2020-09-30 01:03] RobertVS-MS commented on #3266
@ranjeshj - I have followed up with you directly on the repro app, let me know if you need anything further

[2020-09-30 02:02] codendone commented on #1658
@ygoe The HTML content is run out-of-proc from the XAML app, and it is not possible to access the DOM from the app.  JavaScript would need to be enabled, at least for the script you want to run.

For your second question, I believe that will be possible via the [WebResourceRequested event](https://docs.microsoft.com/en-us/microsoft-edge/webview2/reference/dotnet/0-9-628/microsoft-web-webview2-core

[2020-09-30 02:20] codendone commented on #3347
Having a large number of XAML objects will result in slow Gen2 GC.  For best performance, regardless of the situation, we recommend trying to limit the number of current XAML objects to no more than a couple thousand.  Use of virtualization and x:Defer can be helpful for this.

Separate from that, @mdtauk has a good suggestion of using C++ code in places which matter.  That can be a little tricky,

[2020-09-30 03:04] WashingtonARamos commented on #2310
Is this being worked on? I think the library would great benefit from a control like this but it's been months without any update.

[2020-09-30 04:11] beervoley commented on #3284
@OnlyOnePro @StephenLPeters I can still add code to the TextBox inside the AutoSuggestionBox so it takes ContentAlignment arguments in constructor. In this way, when TextBox issues will be resolved - AutoSuggestionBox will be fixed as well.

What do you think about this?

`

                        <TextBox x:Name="TextBox"
                            Style="{TemplateBinding TextBoxStyle}"

[2020-09-30 04:14] zhuxb711 commented on #2040
Sorry, now I can confirm that the problem has been properly resolved

[2020-09-30 12:49] ranjeshj commented on #3266
@RealTommyKlein and @fabiant3  as FYI.

[2020-09-30 12:57] zhuxb711 opened #3351 "TabView will crash if no TabViewItem was added to TabItems in 2.5.0-prerelease.200923002"
**Describe the bug**
TabView will crash if no TabViewItem was added to TabItems

**Steps to reproduce the bug**
1. Do not add any TabViewItem to TabItems

**Expected behavior**
Should not crash

**Screenshots**

**Version Info**

NuGet package version:
[2.5.0-prerelease.200923002]

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
| Yes |  |

| Windo

[2020-09-30 13:00] ranjeshj commented on #3345
possibly the same issues as https://github.com/microsoft/microsoft-ui-xaml/issues/3008

[2020-09-30 13:14] Felix-Dev commented on #3351
@zhuxb711 This should be fixed by PR https://github.com/microsoft/microsoft-ui-xaml/pull/3118 which is currently blocked from being merged due to down-level testing failures.

[2020-09-30 13:16] zhuxb711 commented on #3351
@Felix-Dev OK, Got it, Thanks a lot.

[2020-09-30 14:25] tuggernuts commented on #2504
Hi, @anawishnoff  I'd like to agree with and add to @jtbrower's comment.

I went from WPF, to UWP, and now evaluating WinUI for Desktop for similar reasons. The UWP -> WinUI jump will be common, and not simple, I am finding.

For those of us 'evaluating,' there is a paucity of working samples and even less documentation. It's practically impossible to evaluate anything, beyond the most simple 'Hel

[2020-09-30 14:33] chertpong commented on #2820
Hi team,
We got another crashdump which is different from the previous one.
Could you help us, please?

[code]

[2020-09-30 14:37] tuggernuts commented on #3348
Ok, I think I found the answer to this question buried here:[https://github.com/microsoft/microsoft-ui-xaml/issues/2104#issuecomment-600749665](url)

[2020-09-30 14:57] vgromfeld opened #3352 "NavigationViewPaneClosingEventArgs.Cancel = true is not preventing the navigation pane from beeing closed"
**Describe the bug**
I want a menu flyout to be opened when clicking on one navigation view item (see #1570).
![image](https://user-images.githubusercontent.com/20152272/94702037-9bfefd80-033d-11eb-9624-809911476a9c.png)
![image](https://user-images.githubusercontent.com/20152272/94702046-9ef9ee00-033d-11eb-9adc-585440f81e8c.png)

I was planning to use the hierarchical navigation for my scenario b

[2020-09-30 15:43] chingucoding commented on #3234
Just to clarify, @robloo do you want to work on this issue?

[2020-09-30 15:49] chingucoding commented on #3284
We can fix this with WinUI 2, there is a missing templatebinding for the ScrollViewer that hosts the input area. Adding the necessary templatebinding to the "ContentElement" of the TextBox template allows us to respect the VerticalContentAlignment and put the text at the bottom for example:

![image](https://user-images.githubusercontent.com/16122379/94708756-3747a100-0345-11eb-9289-cf2ec8aa7b6c.p

[2020-09-30 15:53] chingucoding commented on #3049
It seems that this issue doesn't repro in the latest prerelease bits. @StephenLPeters @ranjeshj Is there anything to investigate here or can this be closed?

[2020-09-30 15:59] chingucoding commented on #3184
Both light and dark theme scrollbars do not meet the required 3:1 contrast ratio. @YuliKl Can we just use darker/lighter colors to meet the necessary contrast requirements?

[2020-09-30 16:20] Felix-Dev commented on #3352
This looks like a bug to me. I can cancel the pane closing when in the LeftCompact/LeftMinimal modes and click elsewhere on the app surface (i.e. light dismiss behavior), yet I cannot prevent the pane from closing when selecting a menu item. Since this API exists, I would expect it to be respected in such a case as well.

Perhaps we could extend the [NavigationViewPaneClosingEventArgs](https://doc

[2020-09-30 16:38] RealTommyKlein commented on #3266
Thanks - this is for Windows.UI.Xaml specifically.  If anyone is hitting this, the workaround is to add this to your project or .props file:
[code]

[2020-09-30 16:40] zhuxb711 commented on #1188
Same here:
![image](https://user-images.githubusercontent.com/42038175/94714408-adb4c500-037e-11eb-8ff2-35eaaf86b646.png)

[2020-09-30 16:40] robloo commented on #3234
If you want to take a look at this go for it! It will be a while before I get to this.

[2020-09-30 17:25] RobertVS-MS commented on #3266
@RealTommyKlein - Yes...  we have confirmed that does resolve it, just reporting it in case something can be done to address without needing one of the various workarounds

[2020-09-30 17:41] StephenLPeters commented on #3329
Yes, I think we should never show an empty tool tip, I think removing the tooltip all together is correct. @YuliKl can you confirm?

[2020-09-30 17:41] chingucoding commented on #3234
Okay, if that's fine with you, I will take a look.

[2020-09-30 18:17] StephenLPeters commented on #3352
Agreed, this seems like a bug, canceling the close should work regardless of the reason for the close.

I think your suggestion for adding a reason to the args would increase consistency. We have a few event args which have close reasons already, I think I'm in favor of adding it but it should probably be its own Feature Proposal.

[2020-09-30 18:28] StephenLPeters commented on #3049
I don't think so, closing the issue, @Kcomid if there is still something wrong post back here and I'll reopen.

[2020-09-30 18:28] #3049 closed

[2020-09-30 18:33] Kcomid commented on #3049
It appears to be working fine. My original concern was that it was in a prerelease versus an official release. Closing it is fine. If something changes I will let you know. Thanks.

[2020-09-30 19:05] Felix-Dev commented on #3352
@StephenLPeters I would like to look into this bug then. I will also create a Feature Proposal for the `Reason` API which can then be used for further discussions.

[2020-09-30 19:11] mc0re opened #3353 "How to update bindings programmatically"
I create custom bindings:
[code]

This is used to show a string by ID. How can I force the UI to update the values when there are new texts available?

[2020-09-30 19:27] stmoy commented on #3279
There's a _bunch_ of great conversation here! On the topic of animations...

Agree that ElementAnimator is too much for animating Expander.

I like the idea of having an ExpandTransition and CollapseTransition in theory, but we've gotten a ton of feedback that the Transition APIs are good in theory but less good in practice because they are not customizable, they are generally tightly coupled to t

[2020-09-30 20:05] StephenLPeters commented on #3247
Either way is fine with me.

[2020-09-30 20:29] YuliKl commented on #3184
@chingucoding - in general, yes. However, please hold off on making any changes while I work with our design team to help identify better color values.

[2020-09-30 20:32] chingucoding commented on #3184
Yes of course! If there are changes that can be made, I would gladly make them! Just let me know once you and design know what the best way to fix this would be!

[2020-09-30 21:45] YuliKl commented on #3329
Agreed!

[2020-09-30 21:48] Felix-Dev commented on #3329
Excellent, I will soon create a PR then :)

[2020-09-30 22:34] beervoley commented on #3284
@chingucoding I've tried it and it doesn't work for me:(

Could you please share the code and say which version of Windows SDK are you using?:)

[2020-09-30 23:04] StephenLPeters commented on #3353
I don't believe Winui supports custom markup extensions. @fabiant3 or @MikeHillberg could confirm.

[2020-09-30 23:07] StephenLPeters commented on #3348
@marb2000 is there any extra info to post here?

[2020-09-30 23:07] fabiant3 commented on #3353
Great timing, thanks @StephenLPeters . Adding @alwu-msft  to comment.

[2020-09-30 23:12] StephenLPeters commented on #3083
Luke says we add the templates and the resources separately. I wonder if we change the order we add those in if we could alleviate this issue now.

[2020-09-30 23:14] StephenLPeters commented on #3083
here is the code that does it: https://github.com/microsoft/microsoft-ui-xaml/blob/de788345659ba319597161149843504fbe686659/dev/dll/XamlControlsResources.cpp looking closer I'm not sure there is anything we can do.

[2020-09-30 23:29] alwu-msft commented on #3353
@StephenLPeters: We definitely support custom markup extensions. :)

@mc0re: You'll want your markup extension to return a Binding object that it creates in code-behind. Set as the Binding object's Source and Path properties to point to the property on the object providing the updated string. That *should* do what you want (i.e. allow updated values to flow from the source string to the target pro

[2020-10-01 02:17] codendone commented on #2820
This looks the same as the previous dump, with just a different function hitting the same issue.

[2020-10-01 02:32] codendone commented on #3112
`WebView2` is a subclass of FrameworkElement, so it can't also be a `CoreWebView2`. Hypothetically we could manually have QueryInterface to get to the `CoreWebView2` object, but that would break COM rules since you wouldn't be able to QueryInterface from that object (implemented in the Edge WebView2 Runtime) back to `WebView2`.  Since WinRT also wouldn't be aware of this extra ability, developers

[2020-10-01 04:21] sylveon commented on #3331
My workaround was implementing the functionality in a subclass that doesn't use the XAML compiler: https://github.com/TranslucentTB/TranslucentTB/commit/8f68f3c0b1b1900b76c3900c98b8270da1e0c535

[2020-10-01 08:03] zhuxb711 commented on #2303
@ranjeshj @chingucoding
This problem still exists in the latest preview version, when assigning a value to SelectedNode may trigger a serious error

[2020-10-01 08:04] zhuxb711 commented on #2303
It is probably caused by the CreateTrackerHandle() function

[2020-10-01 08:12] chingucoding commented on #3284
I added the following line to the ContentElement inside the TextBox template:

[code]
I think it's using Windows 10 SDK 19041, I have installed all Windows 10 SDKs:

![image](https://user-images.githubusercontent.com/16122379/94784478-81c13000-03ce-11eb-9f23-45867b939e53.png)

[2020-10-01 08:17] chingucoding commented on #3083
It doesn't seem like there is any code in there that has any say in this. I'm inclined to say that this issue is because of the way resources work which would need to wait until WinUI 3 to be fixed.

[2020-10-01 08:48] chingucoding commented on #2303
Could you create a new issue with a repro project? It's a bit difficult to assess what is causing this issue without being able to reproduce it locally. Thank you!

[2020-10-01 09:19] zhuxb711 commented on #2303
@chingucoding  Now I can’t reproduce it, next time I encounter this problem I will submit a new issue

[2020-10-01 09:23] chingucoding commented on #2303
Great, thanks!

[2020-10-01 09:57] Felix-Dev commented on #913
@lukasf Are you aware of the [XamlUICommand](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.input.xamluicommand?view=winrt-19041) class? That allows you to bundle these properties in one place and then assign them your your Button/MenuItem/.... by just passing your defined XamlUICommand to the `Command` API of these controls.

[2020-10-01 10:16] chingucoding opened #3355 "ColorSpectrum RightToLeft arrow key navigation is inverted"
**Describe the bug**
A ColorSpectrum with Flowdirection RightToLeft has inverted arrow key navigation as the images are mirrored. When pressing left, the indicator moves to the right and vice versa. Instead, left should be left and right should be right.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Set FlowDirection to RightToLeft
2. Press left arrow key, observe that the in

[2020-10-01 11:19] Felix-Dev commented on #3329
@StephenLPeters One difference here, compared to the mentioned TeachingTip scenario, is that Border.Child expects an UIElment and the TeachingTip.TemplateSettings.IconElement API is an UIElement. However, the TabView.Header property is of type object so if I'm just assigning a simple string as the Header of the TabViewItem, the TabViewItem will display an empty header:
[code]
![image](https://user

[2020-10-01 13:46] ranjeshj commented on #3279
@stmoy We could use PopInThemeAnimation for (1)  if we wanted to go with the existing ones.

[2020-10-01 17:17] stevenbrix commented on #3344
@sharpninja, this is definitely not intended to be supported, but we do want to help you be successful, what exactly are you trying to accomplish?

[2020-10-01 17:31] sharpninja commented on #3344
I am building an app that sits on the left or right edge of the screen, consuming enough space to leave a 4:3 area available for other apps to utilize.  I have previously done this with a WinForms host and Xaml-Islands content, but I was hoping to simplify the solution with WinUI 3.

[2020-10-01 18:25] StephenLPeters commented on #3329
That, unfortunately, makes sense.  I think you are right and setting the content presenter's content from code behind makes sense... :(

[2020-10-01 19:12] lukasf commented on #913
@Felix-Dev Yes you are right. I almost forgot about that. I am not using it since it was not available in WinUI when I tried it last time, but also because it is not a full solution. AppBar and ContextMenu have more than just command links. For a full solution, we would need:

- XamlUICommand
- XamlToggleUICommand
- XamlUICommandSubItem (sub menu / flyout)
- XamlUICommandSeparator

What is also mi

[2020-10-01 20:15] simeoncran opened #3357 "LoadedImageSurface fails unexpectedly if local asset not found."
**Describe the bug**
If you use LoadedImageSurface::StartLoadFromUri(L"ms-appx://Assets/someasset.jpg") and someasset.jpg is not found, the process crashes.

**Steps to reproduce the bug**
See description.

**Expected behavior**
No crash, but the failure gets reported to the LoadCompleted handler.

**Version Info**
All.

[2020-10-01 20:20] RealTommyKlein commented on #2508
Unfortunately, I don't believe we can investigate this before the official WinUI 3 release in 2021.  For your scenario in particular, you could try adding an `x:Name` to your root `UserControl`, then x:Bind using the named element (e.g. `x:Bind RootUserControl.IsEditing`).  When looking outside of the namescope it was used in, x:Bind only looks for named elements, and not properties on the root da

[2020-10-01 20:23] marb2000 commented on #2504
Thanks for your feedback @tuggernuts, I know @anawishnoff is working in a plan to improve the documentation, but it won't be landed soon. I hope the Preview 3 (Nov 2020) allows us to update the samples and create even more docs specific for WinUI 3. I will make public the sample I show at Ignite as well with the Preview 3 release too.

[2020-10-01 20:58] hansmbakker commented on #2508
Thanks for thinking along!
Actually I tried that (`x:Bind workaroundNameForControl.IsEditing`), but then I get the error `The property 'IsEditing' was not found in type 'Car'.`.
I'm using VS 16.8 Preview 3.2 with an UWP project.

[2020-10-01 21:46] codendone commented on #3357
The problem is that if the path points to a local file like this, the code assumes that a valid path should have been specified and therefore lets the error returned from ResourceManager bubble out, and that error ends up being fatal since it happens during Tick:

[code]

Even if it is reasonable for an app to not use "ms-appx:///" to point to missing files, this should at least produce a better e

[2020-10-01 23:15] StephenLPeters commented on #3317
agreed

[2020-10-01 23:15] #3317 closed

[2020-10-02 01:20] alexandrevk commented on #717
WinUi in desktop completely useless for me due to lack of any windows management possibility: show/hide windows, windows position, windows size, dock/undock   ...

[2020-10-02 01:52] dotMorten commented on #717
@alexandrevk it is still a preview. Did you see the windowing API design? https://github.com/microsoft/ProjectReunion/issues/157

[2020-10-02 04:47] alekhyareddy28 commented on #3179
@Felix-Dev Unfortunately, the issue still persists with 2.5.0-prerelease.200812001.

[2020-10-02 08:34] BorzillaR opened #3360 "generic.xaml is not loaded when AssemblyName set in project"
Hello!

I found a follow issue. Resources of the class library are not loaded when AssemblyName is not equal RootNamespace, In attachement there is a project with two class libraries and one app. Every class library contains a simple control with a default style in generic.xaml. The difference between two libraries is that ClassLibrary1.csproj has an AssemblyName element set, but ClassLibrary2 has

[2020-10-02 12:24] Felix-Dev commented on #3179
@alekhyareddy28 Hmmm, I just tested 2.5.0-prerelease.200812001 again and it works fine for me:
![navview-selecteditem-focus](https://user-images.githubusercontent.com/1398851/94922552-b8747480-04ba-11eb-92ab-ddd0f348f48c.gif)

PowerToys is using Xaml Islands so if it works fine for me in an UWP app, yet you are seeing that using in PowerToys with the same WinUI versions then it might be an Xaml Is

[2020-10-02 12:31] UrielMhezzek opened #3361 "Discussion: lan to use the controls in Blazor as well"
A redesigned collection of controls should perhaps cover all major platforms, so I would be happy to implement standard controls for blazor as well.

I am aware that not everything that is possible in a web application is possible in a Destop application, but by providing a dedicated environment for web and desktop apps that is the same for all, it makes it easier to find developers who want to wo

[2020-10-02 13:00] BorzillaR opened #3362 "Question: How to create a common output directory for multiple projects?"
Hello!

We want to organize a project`s hierarchy in such way

- [Dlls] - All libraries output placement here. All libraries use this folder for assembly references.
- [ClassLibrary1]
  - ClassLibrary1.sln
  - ClassLibrary1.csproj
- [ClassLibrary2]
  - ClassLibrary2.sln
  - ClassLibrary2.csproj
...

The key feature - all ClassLibraries have the same output path <OutputPath>..\Dlls</OutputPath>

I

[2020-10-02 14:49] alekhyareddy28 commented on #3179
@Felix-Dev to clarify, the tab navigation now goes to the selected item. That issue is fixed. I can confirm that with xaml islands too. However, the main arrow navigation issue when the scale is set to 125% still persists. I am unable to navigate using arrow keys. Thanks.

[2020-10-02 15:01] Felix-Dev commented on #3179
Ah, I see. I thought you were talking about the [focus not being set to the selected item] issue. Good to hear that's working for you.

Looking at your initially reported issue (arrow navigation not working with 125% scale display scale) it seems to be a "needs-winui-3" issue, in other words, WinUI 2.x versions won't be able to ship fix a fix for it (the code to fix currently still resides excluis

[2020-10-02 15:03] alekhyareddy28 commented on #3179
Sounds good. Thanks for the clarification.

[2020-10-02 17:38] rkarman commented on #717
Thank you @dotMorten for linking to the windowing announcement post!

@alexandrevk - we are putting together APIs for Reunion that will allow you to do these type of windowing operations from both Win32 and UWP with WinUI content as well as when using other frameworks/swapchain content in your window. Some of these windowing features may then be abstracted into the WinUI window class for easier ac

[2020-10-02 18:19] #3270 closed

[2020-10-02 19:21] kat-y commented on #3279
**This proposal has been approved for [spec writing](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/kat-y/expander/active/Expander/Expander.md).**

As part of discussion with the WinUI team, we determined that Expander could be scoped to support ExpandDirection for up/down expansion in V1. This covers the scenarios we've seen for Expander and lays groundwork to potentially add left

[2020-10-02 19:25] BorzillaR opened #3363 "Question: System.ServiceModel namespace is empty in WinUI for Desktop?"
Hello!

I am migrating my WinUI/UWP app to WinUI/Desktop. Seems all the classes from System.ServiceModel are missed. ChannelFactory<>, ServiceContractAttribue, OperationContractAttribute and so on. Is there another way to create WCF services in WinUI/Desktop?

[2020-10-02 19:33] mc0re commented on #3353
Thanks, works like a charm.

[2020-10-02 19:33] #3353 closed

[2020-10-02 19:51] gabbybilka commented on #3279
For InfoBar, I think I need to open a separate proposal to dive into what specifically it needs and how it can take advantage of this Expander control. Here's some of my first thoughts:

- An InfoBar needs to customize the header and content/pane of the Expander control. The InfoBar should show a "cut-off" message in the header when collapsed and a full message in the expanded content/pane when op

[2020-10-02 20:36] mdtauk commented on #3279
I think the Expander may need to be able to separate the Chevron Button from the Content being expanded.

![image](https://user-images.githubusercontent.com/7389110/94967403-eaa3c780-04f6-11eb-8d13-f83b8386311f.png)
Notifications do this

It would also allow the InfoBar control to integrate it's Expander.

If you do separate it, does that become a behaviour/property?  So if you specify a UI Elemen

[2020-10-02 23:07] StephenLPeters commented on #3363
@MikeHillberg or @stevenbrix or maybe @Austin-Lamb fyi

[2020-10-02 23:09] stevenbrix commented on #3363
@BorzillaR WCF wasn't ported to .NET Core, but there is a community driven effort here: https://github.com/CoreWCF/CoreWCF

[2020-10-02 23:11] StephenLPeters commented on #3362
I don't think this is Winui related, perhaps MSBuild adjacent.  Maybe @stevenbrix has an idea off the top of this head, but I might suggest this as a good question for stack overflow

[2020-10-02 23:11] BorzillaR commented on #3363
@stevenbrix, thank you!

[2020-10-02 23:22] freakboy3742 opened #3364 "Proposal: Add Python support to WinUI 3"
# Proposal: Add Python support to WinUI3

## Summary

WinUI 3 should include an official Python API, allowing end-users to build native Windows GUI apps in Python.

## Rationale

 * Python is one of the most popular programming languages in the world - by some measures, *more* popular than [JavaScript, C# and C++](https://www.tiobe.com/tiobe-index/).
 * "Developing a native GUI app" is one of the

[2020-10-02 23:35] Felix-Dev commented on #3364
Probably should also link to https://github.com/microsoft/xlang/tree/master/src/package/pywinrt/projection which could see the necessary work required for WinUI support (as in: [Xaml support](https://github.com/microsoft/xlang/tree/master/src/package/pywinrt/projection#known-issues)).

[2020-10-03 08:33] jolleekin opened #3365 "Question: Type ramp in compact mode"
It looks like the only font types adjusted in compact mode are the **base** and **body** (font size reduced to 14px). Why are the other types not adjusted?

References
- https://docs.microsoft.com/en-us/windows/uwp/design/style/typography
- https://docs.microsoft.com/en-us/windows/uwp/design/style/spacing
- https://github.com/microsoft/microsoft-ui-xaml/blob/master/dev/dll/DensityStyles/Compact.xa

[2020-10-03 09:05] chingucoding commented on #3296
This does not repro with the latest debug build of XCG and the MUXControlsTestApp. I think this was fixed with #2692 but just not serviced to the store version of the XCG.

[2020-10-03 09:11] chingucoding commented on #3235
I would like to look into this issue.

[2020-10-03 13:47] chingucoding commented on #2026
@StephenLPeters I think this needs to wait until WinUI 3.

[2020-10-03 14:06] chingucoding commented on #1923
@ranjeshj What do you think is the appropriate fix here? Should the elementfactory clear the datacontext of an element when recycling?

[2020-10-03 16:04] chingucoding commented on #2402
@SFM61319 Are there any other questions regarding the Acrylic brush and its blur? Or can this issue be closed?

[2020-10-03 16:20] BorzillaR opened #3367 "Question: Is any way to launch WinUI application from command line?"
Hello!

I tried to use AppExecutionAlias as described [here](https://www.c-sharpcorner.com/article/launch-uwp-app-via-commandline/) in app manifest. Application starts and exists without any reasonable message.

Should this approach works in WinUI for Desktop applications?

[2020-10-03 17:31] MarcSkovMadsen commented on #3364
This could be really awesome for data apps. Please think about how to integrate the wide range of popular Dataviz tools like Matplotlib, plotly, bokeh, holoviews, datashader etz.

And look to the popular web frameworks bokeh, Dash, panel, Streamlit and voila for inspiration on how domain experts, scientists and data scientist develop data apps.

For example check out my sites awesome-panel.org and

[2020-10-03 18:36] huoyaoyuan commented on #3362
https://github.com/dotnet/sdk/issues/867
This is what you want.
Here is a sample in my project: https://github.com/huoyaoyuan/pixiv-api-client/blob/2ded04a0de6c57cff97713f03ecba045d08d0235/Directory.Build.props#L5

[2020-10-03 21:21] BorzillaR commented on #3362
@huoyaoyuan, thank you for the links.

I create a Directory.Build.props and set OutputPath there. Yes, the compile errors I mentioned above are go away. But unfortunately the problem with a deleting *.xbf files is still there. When I rebuild a ClassLibrary1 or Clear a solution, all xbf files in Dlls\ClassLibrary2\Themes are deleted too.

[2020-10-03 22:38] weltkante commented on #3362
Its not a good idea to have different projects share an output directory, it tends to lead to unexpected complications due to each project copying its dependencies into the same output directory, overwriting each other.

Some things I'm aware of:
- it messes with the "project is dirty detection" of VS and can cause unnecessary rebuilds
- if you have nonlinear project dependencies and VS makes use

[2020-10-03 23:36] BorzillaR commented on #3362
@weitzhandler

I agree with you, that such approach has some disadvantages. But in my case, I have a local suite with a huge amount of the projects. There are local dependencies between them and they can be considered as parts of the one big nuget package. Sharing the output directory in this case makes sence, I think. Anyway I do not see the difference between one assembly in output, and one asse

[2020-10-03 23:36] robloo commented on #3355
This is the same as #3234, what was it created? Should instead this be the issue for RightToLeft?

[2020-10-03 23:39] weitzhandler commented on #3362
@weltkante I guess that makes us twins...

[2020-10-03 23:48] BorzillaR commented on #3362
Sorry for the wrong mention.

[2020-10-04 07:08] chingucoding commented on #3355
Oh I thought #3234 was with regard to RightToLeft. I'll update this issue. Thanks for pointing that out!

[2020-10-04 10:48] jp-weber commented on #2751
Any update on this? I find many apps that use WinUI with these changes have a worse visibility in the controls than before. This should be changed.

[2020-10-04 23:46] pvcraven commented on #3364
Make sure we can get an OpenGL context, so libraries like Arcade can do high-performance graphics.

[2020-10-05 00:07] laike9m commented on #3364
+1

[2020-10-05 00:32] RushNMob commented on #3364
Here to show support for this.

[2020-10-05 01:55] miguelp1986 commented on #3364
Please add Python support to WinUI 3!

[2020-10-05 02:44] AzizAlqasem commented on #3364
In my opinion, If Microsoft wants to substantially increase the number of apps that support windows, then one of the best approaches is to invest in the Python community. They are huge in number, enthusiasm, ambition, and growth. A large portion of them are young, and young developers are the future! Your app store will be full of python based apps :)

As a Python developer, if Windows supports Py

[2020-10-05 03:25] okkarkp commented on #2820
Thank you @codendone for your reply.
I am working together with @chertpong in the same project. With your advices, we checked thru our codes "create multiple CoreApplicationViews" but we didn't use it much. But We are using CoreWindow.Dispatcher.RunAsync method a lot in our codes. So, not sure it is related to it. Can you please advise on this? Thanks.

[2020-10-05 04:13] leadersheir commented on #3364
Strongly in favor 🤚

[2020-10-05 04:50] kilrogg commented on #3364
Absolutely Support this.

[2020-10-05 05:22] roodie commented on #3364
I support this idea!

[2020-10-05 05:34] BertRaeymaekers commented on #3364
Yes please.

[2020-10-05 07:02] BorzillaR opened #3368 "Question: How to debug application with command line arguments?"
Hello!

I try to run WinUI (Desktop) application with arguments. I define arguments in project properties

![image](https://user-images.githubusercontent.com/23479280/95048592-c4497c00-06f0-11eb-9bd7-7887f23e06ba.png)

But when application is launched I got empty args.Arguments

![image](https://user-images.githubusercontent.com/23479280/95048780-21453200-06f1-11eb-9a16-a9567c7c43d0.png)

I`ve tri

[2020-10-05 07:28] Palatis opened #3369 "[WinUI3] Cannot create "Blank App, Packaged (WinUI in Desktop)" project due to `ToolLocationHelper::GetPlatformSDKLocation` error"
**Describe the bug**
Creating a "Blank App, Packaged (WinUI in Desktop)" project throws exception:
"The expression "[Microsoft.Build.Utilities.ToolLocationHelper]::GetPlatformSDKLocation('', 10.0.18362.0)" cannot be evaluated. Parameter "targetPlatformIdentifier" cannot have zero length. C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion

[2020-10-05 07:42] BorzillaR commented on #3360
I found another issue related to this. Implicit style of the custom control is not loaded If namespace of the custom control is not starts with root namespcae of the assembly.

[2020-10-05 07:58] holg commented on #3364
Yes i'd very much appreciate.

[2020-10-05 08:19] carmineos commented on #3369
If you are using .NET 5, be sure to have the Preview 5 installed as it's the only one currently supported as stated [here](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#install-winui-3-preview-2).

[2020-10-05 08:35] 70Shubham07 commented on #3364
Totally support this!

[2020-10-05 09:11] TheWebartist commented on #2422
I'm experencing this issue too on an historical project (previously target 10.0.14393 version with upgrade to 10.0.134) using 2.4.3 version of Microsoft.UI.Xaml librabry.

When I launch the app in debug on PC, that's OK, but on my Xbox One Devkit, that's KO.

I found the solution to my problem with the following change :
In my `.AppxManifest` file, I replace the line of `TargetDeviceFamily` and re

[2020-10-05 09:32] Abdur-rahmaanJ commented on #3364
Support from Mauritius

[2020-10-05 10:48] Twilight0 commented on #3364
I also support this suggestion!

[2020-10-05 10:50] Palatis commented on #3369
Yes I do, I followed that instruction and confirmed multiple times.
both
- x64: https://aka.ms/dotnet/net5/preview5/Sdk/dotnet-sdk-win-x64.exe
- x86: https://aka.ms/dotnet/net5/preview5/Sdk/dotnet-sdk-win-x86.exe
are installed.

[2020-10-05 11:03] Palatis commented on #3369
I tried adding
```<TargetPlatformIdentifier>Windows</TargetPlatformIdentifier>```
to my `csproj` file, and now the problem become:
```The target platform identifier UAP was not recognized.```

[2020-10-05 12:34] SFM61319 commented on #2402
Oh yea I'm so sorry I forgot I created this issue. Gonna close this!

[2020-10-05 12:38] SFM61319 commented on #3364
Hey iirc there *is* a python library for this.  It's called [`pythonnet`](https://github.com/pythonnet/pythonnet), a python library for the .NET framework.

[2020-10-05 12:40] SFM61319 commented on #2236
Yea so I found [this concept of fluent ui](https://www.reddit.com/r/Windows10/comments/j5crgf/windows_10_fluent_design_with_blur_effects_concept/?utm_medium=android_app&utm_source=share) on Reddit and thought looked clean and "fluent".

[2020-10-05 13:08] hasii2011 commented on #3364
Please add Python support to WinUI 3

[2020-10-05 13:36] andycrofford commented on #3364
I support adding Python support to the WinUI3 library.

[2020-10-05 15:25] MarkAllan007 commented on #2391
1. A user trying to open the left-pane-menu by stretching the client - making it wider is poor UX design.
2. A user trying to making the client area wider, to give them more working area, but then having the left-pane-menu slide out and take up the client area they are trying to gain is poor UX design.
3. It's much cleaner to use the button to open the left-pane-menu. Give the user precise control

[2020-10-05 16:06] Rand-Random opened #3370 "Question: What Windows Server operating system is supported?"
I know that the minimum supported system is Windows 10 (1803+) but I couldn't find an answer of what server version (for a terminal session) is the minimum supported version?

Does it have to be Windows Server 2019? Or is Windows Server 2016 still good to go?

[2020-10-05 16:20] tfillmor924 commented on #3364
I support this!!!

[2020-10-05 16:22] crutkas commented on #2729
We've just verified a second nVidia bug with WPF.  https://github.com/microsoft/PowerToys/issues/3407 is our tracking issue.

[2020-10-05 16:45] mkturner commented on #3364
I'm interested in Python Support for WinUI3.

With recent additions like WSL and native containers Windows has started talking my language. I'd honestly strongly consider Windows as a daily driver if Python was picked up officially.

[2020-10-05 16:52] chingucoding opened #3371 "Crash when referencing resource dictionary with styles in WinUI 3 Preview 2"
**Describe the bug**

Run the attached project. The app just crashes, opening the exception times out.

![image](https://user-images.githubusercontent.com/16122379/95108719-eae0d480-073b-11eb-875c-721b30492f09.png)

[WinUI3 LibraryCrash.zip](https://github.com/microsoft/microsoft-ui-xaml/files/5328819/WinUI3.LibraryCrash.zip)

**Steps to reproduce the bug**

Steps to reproduce the behavior:

1. Cr

[2020-10-05 17:12] chingucoding commented on #2568
@StephenLPeters @michael-hawker There also is the MUXC FontIconSource, which seems to respect the property properly as it passes all properties down to the generated FontIcon. This issue however is about the WUXC FontIconSource. Does it make sense to keep this issue open as with WinUI 3, those would be unified, and then we would use the MUXC FIS which works correctly?

[2020-10-05 17:20] rlitchfield-Edcara commented on #3364
This would be amazing addition to the platform and I'm 100% for it.

[2020-10-05 17:29] cerickson commented on #3364
This would be wonderful!

[2020-10-05 17:37] chingucoding commented on #2552
Having reveal AND custom colors doesn't work, the reveal style ignores those lightweighstyling resources. As @ranjeshj correctly pointed out, the CommandBar sets the style of the AppBarButtons it contains to the reveal style, that is why the color is being ignored. @ranjeshj @StephenLPeters  How should we continue with this issue? Is this a "no fix" then as this is just how CommandBar and revel st

[2020-10-05 20:22] frisbeegrammer commented on #3364
Yes please !

[2020-10-05 20:25] rednafi commented on #3364
This is gonna be awesome!

[2020-10-05 21:34] weitzhandler opened #3372 "Proposal: new SDK style in WinUI csproj?"
# Proposal: New SDK style in
Please ensure there is new SDK style format support in WinUI projects

## Summary
The new SDK style was introduced some years ago. UWP hasn't yet made it there and still uses the old SDK format.
Please enable using the new SDK in the generated project templates. Maybe with the aid of [MSBuildSdkExtras](https://github.com/novotnyllc/MSBuildSdkExtras).

## Rationale
* Ne

[2020-10-05 22:20] #3350 closed

[2020-10-05 22:35] Palatis commented on #2602
as a workaround, use full path for `x:Uid`.
for example, given `<ProjectDir>/Strings/<Language>/<ResourceFileName>.resw`:
| key | value |
| :--- | :----- |
| TextBlock1.Text | Test123 |

do this in your `Whatever.xaml`:
```<TextBlock x:Uid="[ProjectName]/[ResourceFileName]/TextBlock1"/>```

[2020-10-05 23:09] StephenLPeters commented on #3372
I think that winui 3 RTM will support this, @MikeHillberg or @Austin-Lamb or @stevenbrix can you confirm?

[2020-10-05 23:11] StephenLPeters commented on #3370
@Rand-Random are you sure this the correct repo for this questions? Should it be here instead? https://github.com/microsoft/terminal

[2020-10-05 23:13] StephenLPeters commented on #3369
This is a known issue we are currently working on fixing. For now you should be able to use the release version of VS 16.7 to avoid this.  The latest preview version of VS (16.8) is known not to work.  (If you have more questions feel free to post here and I'll reopen.)

[2020-10-05 23:13] #3369 closed

[2020-10-05 23:17] StephenLPeters commented on #3368
I think this is a known issue. You should be able to work around it using this https://docs.microsoft.com/en-us/dotnet/api/system.environment.getcommandlineargs?view=netcore-3.1

[2020-10-05 23:18] StephenLPeters commented on #3368
I think this belongs on the team that owns the Application object, @chrisglein is that framework?

[2020-10-05 23:22] StephenLPeters commented on #3367
@Austin-Lamb This sounds like something we should investigate.

[2020-10-05 23:25] StephenLPeters commented on #3365
@YuliKl or @chigy can you weigh in?

[2020-10-05 23:28] StephenLPeters commented on #3364
@benJkuhn and @kennykerr FYI! :)

[2020-10-05 23:29] stevenbrix commented on #3372
@weitzhandler can you elaborate more on what you mean by this?

[2020-10-06 00:17] iCarlosCode commented on #3364
We shall not lose this opportunity! This can change the world for the better!