[2021-02-18 00:14] marb2000 commented on #4198
@eleanorleffler thanks opening the bug and share the code. I could repro this.

I noticed that the doc of this API has the UWP label. I don't know if this means that this API won't work in Win32 apps.

I need help from the Project Reunion folks, this API is out of the WinUI domain. @jonwis, can you help us to know what is happening here?

We get:

Below you can find the code snipped:

[code]

[2021-02-18 00:23] marb2000 commented on #4192
Thanks for linking this issue @eleanorleffler. It seems that PickMultipleFilesAsync fails for other reasons. Let's take care of this in the #4198 issue. Is that ok with you?

@AndyMahub The need of initializeWithWindow is a common pattern in WinRT APIs that require to specify a window that hosts the UI. It was designed in this way. The Project Reunion team is working on improving the Pickers story

[2021-02-18 01:08] marck7jr commented on #4233
@dotMorten I tried to "recreate" the templated control that I am using in another [project](https://www.microsoft.com/en-us/p/visum-photo-viewer/9n1x3z50blm8?activetab=pivot:overviewtab) and it "works" but events like Click didn't fire, but the curious is events like PointerEntered works fine (but is a little tricker to force the button to get the "Hover" state style). I made a little simple [proj

[2021-02-18 03:14] codendone commented on #3389
I can confirm the crash has not been fixed: it is still necessary to set the XamlRoot property first.

The crash shouldn't be able to cause windows from other apps to disappear. Was the Windows taskbar still visible and functional, or did the entire screen go black? If taskbar was still there, was the Start menu still available, and, if so, did new apps launch correctly?

[2021-02-18 03:28] codendone commented on #3517
@JesseCol?

[2021-02-18 05:09] robloo commented on #3639
![image](https://user-images.githubusercontent.com/17993847/108307829-93885180-717c-11eb-9dd9-e9eaa6fa70d1.png)

[2021-02-18 06:16] marb2000 commented on #4233
Thanks @dotMorten for opening the proposal. Thanks @marck7jr for the sample code.

**Possible Solutions**
1. Extend the Window object with a property which is a collection of draggable areas, no just one. Something like SetTitleBars.Add(UIElement).
2. UIElements has a property to get the input regardless it's on the TitleBar (doable?)

[2021-02-18 06:31] marb2000 commented on #4226
Hey @thomasclaudiushuber I couldn't repro it. It works well on my two machines. Did you have installed other .NET Frameworks like preview of .NET 6 or something like that?

[2021-02-18 06:47] SWB2 opened #4234 "Question: What is the recommended way to retrieve the standard system title bar height in WinUI 3?"
I'm trying out the custom title bar functionality in Preview 4.

What is the recommended way to set the height of the custom title bar UIElement so that it matches the standard system title bar height? Previously, we could retrieve the height via (for example):

- Windows Forms: [SystemInformation.CaptionHeight](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.systeminformation.cap

[2021-02-18 07:27] BorzillaR commented on #3389
@codendone, start menu and taskbar work as expected and I can even see thumbnail previews. I can launch the other apps through the start menu, but all the new windows become invisible.

[2021-02-18 09:04] GrandArth commented on #124
May i ask how can i apply the new version to a uwp project? It seems this problem still exist in UWP (6.2.12)

[2021-02-18 10:06] sigmarsson opened #4235 "Microsoft.UI.Xaml.Markup.XamlParseException: 'XAML parsing failed.'"
occuring at `InitializeComponent()`, which isn't telling much, however the Xaml file is pretty simple.

![image](https://user-images.githubusercontent.com/43340959/108340604-10491900-71d9-11eb-982b-ceb1907624c1.png)

In the generated file the respective line is :

`global::Microsoft.UI.Xaml.Application.LoadComponent(this, resourceLocator, global::Microsoft.UI.Xaml.Controls.Primitives.ComponentReso

[2021-02-18 11:37] mageshsankar opened #4236 "Theme keys not applied for winui pop controls in application level."
**Describe the bug**

The theme keys not applied to the pop-up controls when customising them at application level.

**Sample**

[PopupControl_Themekey_Issues.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6002441/PopupControl_Themekey_Issues.zip)

**Steps to reproduce the bug**

1. Run the sample
2. Click the CalendarDatePicker's dropdown button and pop up Calendar will be opened.
3. N

[2021-02-18 13:40] sigmarsson opened #4237 "Page Events"
I wish to invoke a callback when an `ItemsRepeater `runs to completion, which I cant seem to accomplish by just using the controls events. What is the last event firing when a `Page `is loading, that is supposed to happen after an `ItemsRepeater ` finishes on a `Page `?

[2021-02-18 14:10] VladimirDrobyshev opened #4238 "An incorrect theme resources applied in case of theme switching"
**An incorrect theme resources applied in case of theme switching**

An application has some dependency properties of the SolidColorBrush type. On each property change, we reload all brushes to the cache. But some properties have old value after setting.

**Steps to reproduce the bug**
1. Run the sample [ThemeBug.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6002901/ThemeBug.zip).
2. C

[2021-02-18 14:22] Gavin-Williams commented on #4224
Is there some documentation on using the legacy API's with .Net 5? My searches bring stuff up from 2006-2010 but nothing related to .Net 5. I've found some C code to switch to fullscreen, but frankly it looks pretty bad. How do I use it in .Net ?

[2021-02-18 14:28] arivoir opened #4239 "CoreTextServicesManager.GetForCurrentView() throws exceotion in WinUI3 for Desktop preview 4"
When running the following code

` var manager = CoreTextServicesManager.GetForCurrentView();`

The following exception is thrown

The calling thread is the ui thread. Looks like a bug.

[2021-02-18 14:35] arivoir opened #4240 "System.TypeLoadException: 'Unable to find a type named 'TrackerCollection<T'' in WinUI3 preview4"
I'm constantly seeing the following exception

When enabling "Common Language Runtime Exceptions"
![image](https://user-images.githubusercontent.com/17496741/108372173-4ee0d280-71dd-11eb-8b20-c8c3be8ee2de.png)

Despite the exception is internal it looks like a bug

[2021-02-18 14:50] arivoir opened #4241 "How to know when a modifier is pressed on KeyDown event? WinUI3 repview4"
In preview3 of WinUI3 I was using the following code to know whether the Shift key was pressed while listening to the KeyDown event

[code]
This stopped working on preview4 (for Desktop)

The _KeyRoutedEventArgs_ doesn't come with a **KeyModifiers** property as the _PointerRoutedEventArgs_.

How should we detect shift or control pressed in KeyDown event?

[2021-02-18 14:56] mrlacey commented on #3584
As WinUI is used by parts of the windows Shell, can details of how these are tested be shared?

The WinUI codebase uses both MSTest2 and TAEF as test frameworks. Without further advice, it might be easy to assume that both must be used to test any all that uses WinUI.

The WinUI codebase uses Tests that use the Microsoft.Windows.Apps.Test (MWAT) library.
MWAT does not seem to be under active devel

[2021-02-18 14:59] arivoir commented on #4235
It happened the same to me. This exception doesn't say much and hides another exception, probably inside XamDataChart.  That's really a problem IMO.

My recommendation is to enable "Common Language Runtime Exceptions" in "Exception Settings" window and try to fix the original problem.

![image](https://user-images.githubusercontent.com/17496741/108375304-96b52900-71e0-11eb-8374-7124d3e88ba5.png)

[2021-02-18 15:01] MarcMenghin commented on #4209
Same problem here. Setting a Padding reveales the missing Buttons (and makes them usable). Making the header UI element transparent reveals them as well (but no interaction possible).

So they are underneath the UI constrols from XAML.. Looks like a zIndex like issue to me.

[2021-02-18 15:07] mrlacey commented on #3584
In the spirit of **Phrasing Positively**:

I want to create high quality, well tested apps.
I want all developed apps to be thoroughly tested and of high quality.
The ecosystem suffers when app quality is low.
Testing apps makes it easier to find and fix bugs.
Currently there is no easy solution to test WinUI3 apps.
I want an easy way to set apps created with WInUI3. (Or if not easy, at least poss

[2021-02-18 15:15] arivoir opened #4242 "XamlRoot is null in WinUI3 for Desktop preview4"
Since preview 4, accessing the XamlRoot property of a FrameworkElement after the InitializeComponent of a Window returns null.

[code]

[code]

[2021-02-18 15:25] EricOuellet2 commented on #3561
SVG should be the standard for over a decade now. Microsoft are so slow... it kills me!!!!

[2021-02-18 15:28] LeftTwixWand commented on #4156
Is WinUI 3 planing to be open source?

[2021-02-18 15:30] chingucoding commented on #4156
@LeftTwixWand Yes, WinUI 3 will be open source, however this will after GA release.
@anawishnoff @ryandemopoulos Do you think it's a good thing to add that to the roadmap?

[2021-02-18 15:38] LeftTwixWand commented on #4156
@chingucoding Thank you! I'm asking, because I want to change the style of a component, using: Edit Template -> Edit a copy (Or Edit current), but now I can't to do it.

[2021-02-18 15:46] chingucoding commented on #4156
@LeftTwixWand You might be able to grab the template from generic.xaml or from this repository if it's a WinUI 2 control such as NumberBox or Expander. But the team might now more what the best workaround for this is.

[2021-02-18 16:16] JesseCol commented on #3517
My apologies -- I tried this out on an Preview 4 candidate build and I wasn't able to repro.  I must have done something wrong, I'll take a closer look.

[2021-02-18 16:30] BorzillaR opened #4243 "Question: How to hide a navigation view footer area"
Hello!

I want to hide a footer area of the navigation view. I set IsSettingsVisible to false, but a separator with an empty footer area is still visible.

![image](https://user-images.githubusercontent.com/23479280/108387346-8fad0b80-721e-11eb-86de-3eb65dd45416.png)

[2021-02-18 16:38] chingucoding commented on #4243
This is a bug with NavigationView. There is an open issue for this already (#3900) and PR to fix this (#4193).

[2021-02-18 17:02] arivoir commented on #4126
This is still happening in preview 4

[2021-02-18 17:08] susmitha-sundar opened #4244 "Compact mode sizing applied only first time for the popup controls"
**Describe the bug**

I have created the PopUp host, which has the ComboBox and TextBox controls. I have created the popup only first time. I have used the same host for next time. I have added  the compact.xaml resource dictionary  in MainPage Grid's resources. CompactMode sizing applied only first time for ComboBox and TextBox. At second time standard sizing applied.

**Steps to reproduce the bu

[2021-02-18 17:49] carlos-zamora commented on #4182
I added `String ToString()` to the `SettingsModel:Profile` object and that didn't work. There isn't an interface I need to make it follow, right?

CC @DHowett since he was also curious

[2021-02-18 17:52] stmoy commented on #4182
There shouldn't be an interface that you need to follow, no. I think if you spelunked in the core implementation of ComboBox, I did a pretty decent job commenting the various typeahead fallbacks when I wrote it 😉   I just don't remember them all offhand.

[2021-02-18 17:55] DHowett commented on #4182
(As a matter of curiosity: how can it know there is a ToString when the entire runtime object model is based on interfaces like COM? There’s no reflection to help us out, so I am a bit confused here!)

[2021-02-18 18:14] carlos-zamora commented on #4182
Aha! Turns out you need the [`Windows.Foundation.IStringable`](https://docs.microsoft.com/en-us/uwp/api/Windows.Foundation.IStringable?view=winrt-19041) interface. Then it works!

I guess the only ask I have here is to please include this in the [docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.combobox.istextsearchenabled?view=winrt-19041). Thanks for the quick response fol

[2021-02-18 18:14] #4182 closed

[2021-02-18 18:18] stmoy commented on #4182
Thanks for follow up, both! My bad about forgetting about the interface; that'd answers @DHowett's question too, right?

[2021-02-18 18:19] carlos-zamora commented on #4182
Yup. Dustin and I were chatting on teams haha

[2021-02-18 18:33] mdtauk commented on #4233
Can you not allow setting the panel as the Titlebar, and use a Transparent brush to allow for grabbing.  Then any controls within that panel are rendered above, and so accept hit targets?  This is how UWP does it.

[2021-02-18 19:09] beervoley opened #4246 "PipsPager: sometimes internal scrollviewer makes external scrollviewers scroll"
**Describe the bug**

Sometimes when moving from one pip to another (by clicking on it directly or using the navigation arrows), external scroll viewers on the page will scroll as well.
**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a Vertical Pips Pager inside a scroll viewer.
2. Choose the last Pip.
3. Observe the outside scroll viewer scrolling as well.

**Expected b

[2021-02-18 19:29] YuliKl commented on #3999
Thank you, @mdtauk. NavigationView has been updated to match our internal designers' work with #4009. Closing this proposal.

[2021-02-18 19:29] #3999 closed

[2021-02-18 19:33] lhak opened #4247 "Cannot modify ContentDialog parameters in winui 2.6 prelease"
**Describe the bug**

When setting the Version parameter of the XamlControlsResources object to "latest", it is no longer possible to modify the ContentDialog style

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new winui 2.6 app and change the version to "latest"
2. Add a ContentDialog to the project
3. Try to modify its padding by changing it in the resources secti

[2021-02-18 19:51] EricOuellet2 commented on #4156
Where can we know the status of features like SVG (read, interraction, convert to WinUI graphic objects for interraction), DataGrid, Docking window, Ribbon menu, ...?
Where can we post our feature request in order for you to see the most requested ones and for us to vote for any one or create new ones?

[2021-02-18 19:54] sigmarsson commented on #4235
I did. Thanks. What could this stack trace prompt.

[code]

![image](https://user-images.githubusercontent.com/43340959/108413386-3f887600-722b-11eb-9c0e-458d9063dab4.png)

Exception is occurring at the same position.

[2021-02-18 19:56] EricOuellet2 commented on #4156
Where can we know the status of features like SVG (read, interraction, convert to WinUI graphic objects for interraction), DataGrid, Docking window, Ribbon menu, ...?
Where can we post our feature request in order for you to see the most requested ones and for us to vote for any one or create new ones?

[2021-02-18 20:09] anawishnoff commented on #4156
@EricOuellet2 You can open a feature request issue on this repo, or open a discussion or question issue and ask for the status of these features, as well as request that they be added to the feature roadmap. A quicker path to get answers may be to ask about these features in the next Community Call - you can find the GitHub issue for yesterday's community call here with more info on that: #4150

[2021-02-18 20:45] EricOuellet2 commented on #4156
@anawishnoff Thank you for your quick feedback. For reporting and following bug, Github is great. But it is not really great for feature request - I mean nobody could manage each request individually if they are already been asked and/or answered.

[2021-02-18 20:56] mc0re commented on #4138
So how can I get you the logs when I don't have them?

[2021-02-18 21:14] michael-hawker opened #4248 "Expander Header Stretch is not Exposed"
**Describe the bug**
This bug was inherited from the Toolkit style, see our issue describing the problem here: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3070 **This should be resolved before Expander ships stable.**

We found in general that having the `ToggleButton` within the Expander control made re-styling the control very difficult for our developers. I had missed this

[2021-02-18 21:28] mrlacey opened #4249 "WinUI3 XAML error messages are event worse than the vague UWP ones"
**Describe the bug**

WinUI3 doesn't provide design or build time indication of invalid XAML.
At run-time it just gives the unhelpful "XAML parsing failed." message.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new blank WinUI3 app (UWP or Desktop)
2. Add this XAML to MainPage/MainWIndow
[code]
3. Run the app
4. See the crash (unhandled exception)

**Expected behav

[2021-02-18 22:49] codendone commented on #3867
Do you still repro this? I just tried your repro app on Windows 10 version 20H2 and I see the correct behavior: "Down" as the key for both of the events, and no text gets added to the textbox.

[2021-02-18 22:58] codendone commented on #3895
@huoyaoyuan Can you confirm this still repros for you on Preview 4? We made a big change in Preview 4 which fixed a common issue here.

[2021-02-18 23:00] #2704 closed

[2021-02-18 23:10] codendone commented on #3941
Closing this as a duplicate of a feature proposal asking for styling: #507.

[2021-02-18 23:10] #3941 closed

[2021-02-18 23:33] marb2000 commented on #4241
You should use the ### Microsoft.UI.Input.KeyboardInput.GetKeyStateForCurrentThread

https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.input.keyboardinput?view=winui-3.0-preview

[2021-02-19 00:07] StephenLPeters commented on #4249
@fabiant3 and @RealTommyKlein FYI

[2021-02-19 00:08] StephenLPeters commented on #4248
@ranjeshj FYI

[2021-02-19 00:15] StephenLPeters commented on #4247
@lhak Is this the first content dialog your app has shown? I suspect that what is happening is this value is now being referenced by a StaticResource markup extension instead of a themeResource markup extension. StaticResource extensions are only resolved once. I'm guessing you have another ContentDialog that shows before this one that locks in the default value and then your override is not getti

[2021-02-19 00:18] StephenLPeters commented on #4247
The fix here is to change this https://github.com/microsoft/microsoft-ui-xaml/blob/92dcdc0c6bd97dca35d248f13a930aec02e0d105/dev/ContentDialog/ContentDialog_themeresources.xaml#L283 and https://github.com/microsoft/microsoft-ui-xaml/blob/92dcdc0c6bd97dca35d248f13a930aec02e0d105/dev/ContentDialog/ContentDialog_themeresources.xaml#L235 to use the theme resource extension. We should also move the reso

[2021-02-19 00:19] StephenLPeters commented on #4246
@regis fyi

[2021-02-19 00:22] #4243 closed

[2021-02-19 00:23] StephenLPeters commented on #4242
This is expected.  Xaml elements won't have a XamlRoot until they are added to the tree. Once the OnLoaded event has fired the element should have a valid XamlRoot.

[2021-02-19 00:23] #4242 closed

[2021-02-19 00:25] StephenLPeters commented on #4240
@Scottj1s and @stevenbrix based purely on the function name I'm guessing this is CSWinrt?

[2021-02-19 00:29] StephenLPeters commented on #4239
As of preview 4 api's which require a core window now throw, these are largely the API's that have CurrentView in their title likeGetForCurrentView() @anawishnoff Do we have documentation for this issue?  It is strange that we are throwing a wrong thread exception.. @Austin-Lamb Should we look at the exception we throw for this?

[2021-02-19 00:36] StephenLPeters commented on #4236
I think this will go away once winui3 removes XamlControlsResources.

[2021-02-19 00:39] StephenLPeters commented on #4234
@Austin-Lamb @pratikone or @MikeHillberg

[2021-02-19 00:44] StephenLPeters commented on #4229
@sigmarsson can you provide more information? I'm not sure what the question is.

[2021-02-19 00:45] StephenLPeters commented on #4225
This is expected as of preview 4.  @anawishnoff do we have documentation for this?

[2021-02-19 00:47] StephenLPeters commented on #4223
@codendone FYI

[2021-02-19 00:49] StephenLPeters commented on #4222
What exact type is your Dictionary in your x:bind? the .net dictionary is IEnumerable so I think it should work.

[2021-02-19 00:50] StephenLPeters commented on #4222
Here is the code to the supported interfaces: https://github.com/microsoft/microsoft-ui-xaml/blob/cbbc626314436b24ae3c73fe33ad9b475ce31cb1/dev/Repeater/InspectingDataSource.cpp#L12

[2021-02-19 00:52] StephenLPeters commented on #4221
Thats right, you can change the checkbox square size by overriding this resource: https://github.com/microsoft/microsoft-ui-xaml/blob/cbbc626314436b24ae3c73fe33ad9b475ce31cb1/dev/CheckBox/CheckBox_themeresources.xaml#L361

[2021-02-19 00:52] #4221 closed

[2021-02-19 00:55] StephenLPeters commented on #4220
This is because Compact.xaml doesn't include any checkbox updates.

[2021-02-19 00:55] #4220 closed

[2021-02-19 00:58] StephenLPeters commented on #4216
I think this is because UWP is not currently building against .net5 @stevenbrix can you confirm?

[2021-02-19 01:04] StephenLPeters commented on #124
Download and import our Nuget package into your project! We have instructions here: https://github.com/microsoft/microsoft-ui-xaml#using-winui

[2021-02-19 01:05] StephenLPeters commented on #8
@jevansaks or @chingucoding do you remember this one?

[2021-02-19 01:07] StephenLPeters commented on #4237
Can you give more details about what you are trying to do? it depends on the specific timing.

[2021-02-19 02:25] shelllet commented on #2726
yeah! I have same problem in winui3-preview4 .

[2021-02-19 03:18] huoyaoyuan commented on #3895
It doesn't repro for a small amount of tries. Since it's kind of random issue, I'll reopen this if it repros later.

[2021-02-19 03:18] #3895 closed

[2021-02-19 04:29] nzstevem opened #4251 "[Preview-4] ContentDialog looks broken"
**Describe the bug**

![image](https://user-images.githubusercontent.com/29415301/108457088-b6c71400-72d6-11eb-813b-7f98756ccfd0.png)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a standard winui in desktop program
2. Create a ContentDialog object in the button click event and execute the show() method.
3. System.ArgumentException - Value not in expected range is rai

[2021-02-19 04:32] nzstevem commented on #4251
Not sure what happened to the version info.

Observed in Winui in Desktop

Edition	Windows 10 Pro
Version	20H2
Installed on	‎30/‎07/‎2020
OS build	19042.804
Experience	Windows Feature Experience Pack 120.2212.551.0

[2021-02-19 05:31] zed220 commented on #3867
Hello,

I have updated my proejct to preview 4 and bug still reproduced.

Prease see the attachment.

[App49_Preview4.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6007841/App49_Preview4.zip)

[2021-02-19 06:21] codendone commented on #3895
Excellent! Thanks!

[2021-02-19 06:33] dotMorten commented on #4251
I also called that out in this comment: https://github.com/microsoft/microsoft-ui-xaml/issues/4167#issuecomment-778485861
Had the same happen with MessageDialog, but the workaround presented in #4167 doesn't work for ContentDialog.

[2021-02-19 06:40] dotMorten opened #4252 "Preview4: When dragging across windows with different DPIs, window doesn't resize"
**Describe the bug**
If you have multiple monitors with different DPIs and drag from one monitor to the other, the contents of the window correctly changes size for the new screenscale, but the window itself doesn't resize.

**Steps to reproduce the bug**
1. Create a Win32 WinUI3 app.
2. Add some XAML content to the Window
3. Drag the window across multiple monitors with different dpi scaling and

[2021-02-19 07:21] susmitha-sundar commented on #4220
Thank you for the update.

Have further plan to implement the compact mode sizing for CheckBox?

[2021-02-19 07:27] mageshsankar commented on #4078
@chrisglein, we have defined custom style for CustomFlyoutPresenter in library project. We didn't use Flyout.FlyoutPresenterStyle. Please find the screenshot regarding it below and refer attached sample in description for further details.
![image](https://user-images.githubusercontent.com/55440472/108471845-d57acb80-7240-11eb-8df9-73890d6c1cf7.png)

[2021-02-19 07:52] LeftTwixWand opened #4253 "NavigationView Settings item scroll"
**Describe the bug**

In a NavigationView, Settings item got a scrollbar:

**Screenshots**

![image](https://user-images.githubusercontent.com/50652041/108472231-24eae700-7295-11eb-9836-b8ea6b80ee8b.png)
![image](https://user-images.githubusercontent.com/50652041/108473235-70ea5b80-7296-11eb-874e-2a4fb24146e6.png)

**Steps to reproduce:**
- Add Navigation View on a page
- And put the pointer on th

[2021-02-19 07:59] shelllet opened #4254 "Discussion: Winui 3 Desktop application with C++/winrt"
I create a winui3-preview4 desktop app with  c++/winrt, but i get the following ui

![winui3](https://user-images.githubusercontent.com/16729017/108473906-9775ba00-72c9-11eb-917e-4bcb2eb151ca.gif)

i hope it look like:

![wanted 0](https://user-images.githubusercontent.com/16729017/108473974-b1170180-72c9-11eb-9ddc-7f67600981e6.png)

reference xaml-controls-gallery:
https://docs.microsoft.com/en-u

[2021-02-19 08:49] lhak opened #4255 "New Expander control causes LayoutCycle exception in winui 2.6 preview"
**Describe the bug**

Testing the new Expander control and it causes LayoutCycle exceptions if a ListView is added to it.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use the repro project
2. Scroll up and down with a touchpad
3. After a few second it will crash with a LayoutCycle exception.

**Expected behavior**

**Screenshots**

**Version Info**

NuGet package version:

[2021-02-19 10:14] mageshsankar opened #4256 "TextBox CharacterReceived event is not fired in WinUI Desktop mode"
**Describe the bug**
TextBox CharacterReceived event is not fired in WinUI Desktop mode

**Steps to reproduce the bug**
1. Run the sample.
2. Type any character.
3. Note, CharacterReceived event of TextBox will not be fired.

**Expected behavior**
CharacterReceived event of TextBox should be fired.

**Version Info**

**NuGet package version:**
[Microsoft.WinUI 3.0.0-preview4.210210.4]

**Sample:**

[2021-02-19 10:19] chingucoding commented on #4253
Thank you for filing this issue, however this has already been filed #3771 and a PR for this is already open (though it's been open for a bit now): #3777

[2021-02-19 11:11] crramirez commented on #4251
Interesting I didn't know and can simplify the work

[2021-02-19 11:36] LokiMidgard commented on #3671
I have the same problem

<details>
<summary>Xaml Snippet</summary>

<Window
    x:Class="App3.MainWindow"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:App3"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/20

[2021-02-19 11:42] sigmarsson commented on #4229
I utilized this package in one of my former WPF application, it injects code at property setters so you needn't do this silly duty.
[Fody](https://github.com/Fody/PropertyChanged)
Do you think it would just work even with the new `<x:Bind>`  ?

[2021-02-19 11:47] sigmarsson commented on #4222
Yeah, cool. `IDictionary `is itself an `IEnumerable `thats why I expected to have it done through an `ItemsRepeater`.
This xaml snippet was migrated from an WPF and even the Key and Value properties could not have been located. Strange, I opted for an `IEnumerable<MyKeyValueClass>`, since specifying generic data types in `x:DataType` isn't possible.

[2021-02-19 11:48] cornem commented on #3295
This is still not working in preview 4. Here are some details:

[code]

[code]

Calling this method will throw `System.Runtime.InteropServices.COMException` with this message: `Invalid window handle. (0x80070578)"`.

[2021-02-19 11:52] sigmarsson commented on #4237
Thanks @StephenLPeters. I was adding `RadioButtons `and set the `SelectedIndex` at the same time, which fired the `SelectionChanged `event. I just wanted that handler to run only at manual selection, so I sought an event occurs when the entire `ItemsRepeater `runs to completion. I did not find, so I opted for the event `PointerEntered`, where I enable the `SelectionChanged` handler, which was init

[2021-02-19 11:52] #4237 closed

[2021-02-19 11:58] sigmarsson commented on #2509
Acknowledged. The same happing here. I wish to repaint the title bar to harmonize with the theme but it throws the exception;

[code]

[2021-02-19 12:28] lhak commented on #628
This is still broken 2 years later in winui 3...

[2021-02-19 13:46] nlogozzo commented on #4156
Is there support for using community controls such as a data grid with C++ Win32 apps and WinUi3. Many apps are useless without data grids...

[2021-02-19 14:07] LeftTwixWand commented on #4253
Ok)

[2021-02-19 14:57] anawishnoff commented on #4156
@nlogozzo Unfortunately there's no built-in DataGrid option in WinUI 3 for C++ apps. For Win32 C#/.NET apps, you can use the [Windows Community Toolkit 8.0 Preview 4](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3295), which is an add-on package that includes a DataGrid control.

I would also recommend taking a look at the ecosystem partners mentioned in the announcement post

[2021-02-19 14:58] arivoir commented on #4241
That worked! Thanks.

Is it coherent the PointerRoutedEventArgs comes with the KeyModifiers property but KeyDown doesn't have it? What method should I use to get the modifiers in pointer events. Is there any difference between using the routed event property or the KeyboardInput one?

[2021-02-19 14:58] #4241 closed

[2021-02-19 15:01] arivoir commented on #4235
I think that's the same issue I posted before https://github.com/microsoft/microsoft-ui-xaml/issues/4228

[2021-02-19 15:08] anawishnoff commented on #4239
As @StephenLPeters said, this is an expected issue of Preview 4 - most GetForCurrentView() methods are no longer supported in Desktop apps. You can see more info in [this doc](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/winrt-apis-for-desktop.md) (which is getting regularly updated as we identify more APIs and their workarounds).

[2021-02-19 15:09] anawishnoff commented on #4225
Yes, please see this doc that outlines some replacements and workarounds for this issue: [WinRT API changes for Desktop apps](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/winrt-apis-for-desktop.md)

[2021-02-19 15:12] EricOuellet2 commented on #4156
@anawishnoff Thanks a lot for you feedback on nlogozzo. You really makes WinUI easier to use. You do a great job. But I feel to product is far from being ready and I also think Microsoft should use their own product if they want peoples to trusts them. Do you think Elon Musk drive a GM or a Chrysler? Will he be credible to do so? The day Microsoft will begin to use C# to develop their own product

[2021-02-19 15:20] anawishnoff opened #4257 "Documentation is posted - WinRT API changes for Desktop apps"
Hi folks,

Lots of you using WinUI 3 Preview 4 have noticed that some Windows APIs are no longer supported in Preview 4 for Desktop apps - some notable ones being CoreWindow, CoreDispatcher, ApplicationView, and CoreApplicationView. We've just posted a doc that identifies some of these unsupported APIs in Preview 4, offers replacements and/or workarounds, and provides more context on the reasons b

[2021-02-19 15:28] sigmarsson commented on #4235
I do not know, #4228 is accessing the current view, this one does not.

[2021-02-19 15:31] arivoir commented on #4239
I found that doc helpful, for other issues, but I don't find any replacement for CoreTextServicesManager. Did I miss something?

[2021-02-19 15:36] sigmarsson commented on #4228
@marb2000  How shall I access the current view `DisplayInformation.GetForCurrentView()` is deprecated ?

![image](https://user-images.githubusercontent.com/43340959/108525223-2554a380-72d0-11eb-9cf0-4e18a0f0cdab.png)

[2021-02-19 15:47] anawishnoff commented on #4216
@nzstevem, @StephenLPeters is correct - please see a more detailed explanation of this in our release notes, in the "Known Issues" section under "For C# UWP apps" : [Preview 4 Release Notes](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#limitations-and-known-issues)

[2021-02-19 15:48] arivoir commented on #4240
This issue is affecting the _VisualTreeHelper.FindElementsInHostCoordinates_ and _VisualTreeHelper.GetParent_ methods slowing down the performance every time the ui receives feedback.

[2021-02-19 16:39] maxkatz6 commented on #4229
@sigmarsson have you tried it before?
It should work without problems, since it's related to .NET assemblies and doesn't actually care about is it wpf or winui.

[2021-02-19 16:42] lhak opened #4258 "[Preview 4] Closing a CoreApplicationView crashes UWP app"
**Describe the bug**

**Steps to reproduce the bug**

1. Create a new CoreApplicationView and show it
2. Close it

**Expected behavior**

App does not crash

**Screenshots**

**Version Info**

NuGet package version:

[Microsoft.WinUI 3.0.0-preview4.210210.4]

Windows app type:
| UWP              | Win32            |
| :--------------- | :--------------- |
| Yes|  |

| Windows 10 version

[2021-02-19 16:45] lhak commented on #4251
I think it is required to set the XamlRoot property of the dialog to get it to work in a desktop app. The error message is certainly not helpful at all.

[2021-02-19 16:49] lhak commented on #4257
Just wanted to note that the IUIViewSettingsInterop interface works in a desktop app to access the UIViewSettings class. Is this intentionally not documented because it is not supposed to be used?

[2021-02-19 17:04] JesseCol commented on #4239
Hi @arivoir , I actually expect CoreTextServicesManager.GetForCurrentView() to work fine in this context.  I've tried it in a simple WinUI 3 Preview 4 Desktop app and it doesn't throw.  Would you be willing to share a larger sample of your repro so I could have a look?

[2021-02-19 17:24] arivoir commented on #4239
The issue can be easily reproduced by executing that code in a custom control constructor

[code]

And then in xaml

`        <local:CustomControl1 />
`

[2021-02-19 17:25] arivoir commented on #4239
There it is the repro sample
[App4.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6011775/App4.zip)

[2021-02-19 18:42] chingucoding commented on #8
Could it be that there is a regression in WindowsTemplateStudio for the preview4 version? Or is the Preview 4 NavView different from the WinUI 2 one?

[2021-02-19 18:58] JesseCol commented on #4239
Ah, thanks @arivoir  -- turns out this is only working in insider Windows builds, unfortunately all the shipping versions of Windows are failing in the way you've mentioned.  We'll add this to the list.  Sorry for the oversight and thanks for letting us know.

[2021-02-19 20:41] codendone commented on #3231
This is fixed in Preview 4.

[2021-02-19 20:41] #3231 closed

[2021-02-19 21:07] codendone commented on #2559
Window.SetTitleBar is now available in Preview 4, along with neighboring Window.ExtendsContentIntoTitleBar: [API doc](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.window?view=winui-3.0-preview)

[2021-02-19 21:16] StephenLPeters commented on #4252
@dotMorten Is this issue unique to Preview4?

[2021-02-19 21:17] StephenLPeters commented on #4252
@codendone FYI

[2021-02-19 21:18] StephenLPeters commented on #4252
@marb2000 FYI

[2021-02-19 21:25] dotMorten commented on #4252
Just tried P3 and see the same issue, so no.

[2021-02-19 21:39] #4106 closed

[2021-02-19 21:56] arivoir commented on #4235
It's in the call stack you published

![image](https://user-images.githubusercontent.com/17496741/108565802-12e46500-72e4-11eb-8587-ef4977b70db2.png)

[2021-02-19 22:07] sigmarsson commented on #4235
Ohh you are right indeed. Still beyond me why that chart control makes it all illegitimate.

[2021-02-19 22:36] brianlagunas opened #4260 "Add Delay to Binding properties"
# Proposal: Add Delay to Binding Properties

I propose the addition of a new property to both Binding and x:Bind named **Delay**

## Summary

The **Delay** property will get or set the amount of time, in milliseconds, to wait before updating the binding source after the value on the target changes.

## Rationale
This **Delay** property is available in WPF. This is a short coming that keeps the fea

[2021-02-19 22:37] ranjeshj commented on #4220
No, that is currently not planned. Thanks.

[2021-02-19 22:38] dotMorten commented on #4260
I've often lacked this feature to make bindings - especially on sliders and textboxes that can cause some expensive layout updates to happen - more effective.

[2021-02-19 23:00] rkarman commented on #4224
Alas there is not. 😄  There's UWP WinRT APIs specifically for [ApplicationView](https://docs.microsoft.com/en-us/uwp/api/windows.ui.viewmanagement.applicationview.tryenterfullscreenmode?view=winrt-19041) and [AppWindow](https://docs.microsoft.com/en-us/uwp/api/windows.ui.windowmanagement.appwindowpresenter.requestpresentation?view=winrt-19041), and then there is @oldnewthing's "[blogpost that ever

[2021-02-19 23:02] #2918 closed

[2021-02-19 23:49] marb2000 commented on #4256
I can repro this bug. It's a regression.  As simple as:

[code]

[code]

[2021-02-20 00:08] StephenLPeters commented on #4260
Agreed,  this would be a cool addition to bindings. You might be able to acheive something similar to this using Storyboards, the animations types have a BeginTime property that is a delay before they execute. https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.animation.timeline.begintime?view=net-5.0

[2021-02-20 00:09] StephenLPeters commented on #4258
@Austin-Lamb FYI

[2021-02-20 00:11] StephenLPeters commented on #4255
@ranjeshj FYI

[2021-02-20 00:14] brianlagunas commented on #4260
@StephenLPeters this slider is just a simple example. It would be easy to implement the loading of data when the thumb is released by doing something like this:

[code]

Add an event handler for the thumb being released by the mouse/pointer
[code]

Explicitly update the binding to the source t invoke any actions such as loading data
[code]

However, the request for the Delay spans more than just t

[2021-02-20 00:16] StephenLPeters commented on #4254
I suspect there is something wrong with your code, however I'm unable to decern what exactly the issue is from these code snippets and arrows pointing to things that look wrong. Could you please open more specific issues that describe a single component you think is not working as it should?

[2021-02-20 00:16] #4254 closed

[2021-02-20 00:18] #4253 closed

[2021-02-20 00:19] StephenLPeters commented on #4251
Agreed, the error message is not helpful, but this is the problem and solution.

[2021-02-20 00:22] StephenLPeters commented on #4237
Can you simply attach your SelectionChanged event handler to the RadioButton's after you've set the initial selected index?  Or you could ignore the first instance of the selection changed event.

[2021-02-20 00:23] StephenLPeters commented on #4229
I'm not sure, but I'd encourage you to try it out and report back if it works.  Seems cool.

[2021-02-20 00:24] #4229 closed

[2021-02-20 00:25] StephenLPeters commented on #4222
Does the provided code link give you the information you need to get unblocked?

[2021-02-20 00:29] nzstevem commented on #4251
Stephen, Excuse me if I misunderstand I’m new to this. I don’t understand why you have closed this item. Has the code been fixed and tested so that when the next preview rolls out this feature will work as documented? Rgds

[2021-02-20 00:30] StephenLPeters commented on #8
@sibille FYI

[2021-02-20 00:34] shelllet commented on #4254
thks, i'will.

[2021-02-20 00:36] ranjeshj commented on #4255
@lhak I don't have a touch pad to test out right now, but it didn't repro with mouse. Few questions to help isolate the issue. Does it repo with keyboard/mouse or is it only when using touch pad ? Does removing the expander and just having the listview alone make it repro/not repro ? Expander is quite simple when it comes to layout, so I'm wondering if the issue is in ListView.

[2021-02-20 00:37] StephenLPeters commented on #4251
This issue is expected.  When content dialog is contructed in a page the XamlRoot gets set automatically, however if you create a ContentDialog from code behind or by some other method you might have to tell the content dialog which xaml root it is to be associated with.  You do this by setting the XamlRoot property.

Thus I closed this issue because this isn't an issue with ContentDialog, its exp

[2021-02-20 00:48] marb2000 commented on #4252
I can see how UWP apps like Mail or Win32 apps like Edge already implement the behavior that @dotMorten is describing.

[2021-02-20 00:50] dotMorten commented on #4251
@StephenLPeters Before closing it, please change the error thrown to clearly state that the XamlRoot isn't set. The current behavior is extremely unhelpful.

[2021-02-20 00:58] shelllet opened #4262 "Subitems of SemanticZoom are not displayed in Desktop application c++/winrt"
Subitems of  SemanticZoom  are not displayed in Desktop application with c++/winrt.

I refer to this doc [xaml-controls-gallery]https://docs.microsoft.com/zh-tw/windows/uwp/design/controls-and-patterns/semantic-zoom

[code]

cvsGroups2 is CollectionViewSource object

[code]

If i change ItemsPath to  item2 or item3 ..... ,there is no error report, but xaml-controls-gallery will report error.

![im

[2021-02-20 01:00] #4054 closed

[2021-02-20 02:55] Gavin-Williams commented on #4224
OK, cool.

I hope the new API mirrors the UWP way of doing it - borderless window full screen - it's so much better than exclusive! Just being able to switch to desktop or another app instantly and without requiring a device reset is perfect. I'm not sure if Windows does this now anyway across all app types, I have a vague memory that it might do now.

With regard to plopping C code for full scree

[2021-02-20 03:06] jordan-msftfan commented on #3957
by the way, microsoft recently released an application called "Journal" that makes heavy use of Pivot in its UI
for this reason, I don't think Pivot is out of date in MS design specifications
![be2yGsKvmE](https://user-images.githubusercontent.com/77601580/108582018-95643780-736b-11eb-8f1d-6706291e372d.png)
![pf5ZDT0Fug](https://user-images.githubusercontent.com/77601580/108582021-96956480-736b-11

[2021-02-20 04:00] Gavin-Williams commented on #3986
So, I thought I had keyboard input, but now I don't anymore. Has something changed? Why is this so difficult? I'm subscribing to both the grid and the swapchain for input. Neither trigger.

Here's my code..
`
    <Grid x:Name="XamlRoot" Background="Black" HorizontalAlignment="Stretch" VerticalAlignment="Stretch">
        <SwapChainPanel x:Name="XamlSwapChainPanel" x:FieldModifier="private" Width="

[2021-02-20 04:51] mdtauk commented on #3957
Pivots used not for navigation, but for tool set changes, or view changes.

As this control is still used, I hope eventually Microsoft will allow the community to maintain and update the Pivot control.

[2021-02-20 05:12] mdtauk commented on #4220
The checkbox is already 20 x 20 epx in size, the compact sizing changes the larger elements like Buttons, TextBoxes etc, which use 32px heights with standard scaling.

[2021-02-20 05:19] marb2000 commented on #4213
@riverar, you are right this is basic funtionality that should be there, but it requires a new APIs, and new APIs is a feature request.

[2021-02-20 05:22] marb2000 commented on #4205
Did you try the Loaded event? @JesseCol can you advice here?

[2021-02-20 05:28] marb2000 commented on #4192
I'm transferring this issue to the project reunion. The issue is not on the WinUI APIs.

[2021-02-20 05:31] marb2000 commented on #4198
Transferring issue to the Project Reunion. It's not a WinUI issue.

[2021-02-20 05:47] saint4eva commented on #3957
Many Windows devices are not touch enabled - both laptops and tablets. Even Surface Studio and Hub are touch-enabled. Note that all the modern Windows devices are touch capable. So, the feature should be useful and has use cases.

[2021-02-20 05:56] marb2000 commented on #4160
@sylveon I added the label feature proposal to the issue. Does this sound good for you? Feel free to close the issue.

[2021-02-20 06:00] sylveon commented on #4160
Yep, sounds good to me

[2021-02-20 06:01] marb2000 commented on #4152
@jschwizer99 @KanniyappanP and @KarthikRajaAKR it seems that your question was resolved. I'm closing this issue. Feel free to reopen it in case we miss something related or open a new one.

Thanks!

[2021-02-20 06:01] #4152 closed

[2021-02-20 06:04] marb2000 commented on #4114
Pinging @stevenbrix and @alwu-msft again.

[2021-02-20 06:17] marb2000 commented on #4111
@stevenwdv I have copied this issue into the CS/WinRT repo: https://github.com/microsoft/CsWinRT/issues/747

[2021-02-20 06:40] marb2000 commented on #3912
@fgoulet I'm afraid that a WinUI's Window places a sort of control called DesktopWindowXamlSource (top window) over the Window client area to render the XAML. It's not allow to place any additional content over it.

To hosting non-XAML/WinUI content you should open a feature request.

Adding @MikeHillberg so he can chime in.

[2021-02-20 06:51] marb2000 commented on #3874
I do recommend to you to open a feature proposal for AcceleratorKeyActivated.

About your issue to implement ALT, perhpas you can do something like this:
[code]

[2021-02-20 06:53] #3871 closed

[2021-02-20 06:59] marb2000 commented on #3411
I don't believe you can do it. XAML's Window place a top window over the client area (using DesktopWindowXamlSource API) to render the XAML. I do recommend to open a feature request.

Closing this question.

[2021-02-20 06:59] #3411 closed

[2021-02-20 07:03] marb2000 commented on #3399
I forgot to say that the demos where updated: https://github.com/microsoft/WinUI-3-Demos/ and I'm no longer see this issue.

Thanks. I'm closing the issue, feel free to reopen it in case I miss something.

[2021-02-20 07:03] #3399 closed

[2021-02-20 07:22] marb2000 commented on #3367
@BorzillaR you can find a example of the AppExecutionAlias in Desktop [here](https://github.com/microsoft/WinUI-3-Demos/blob/master/src/WinUI3_Visual_Sorting_Items_Demo/SortingItemsWinUI3Demo/SortingItemsWinUI3Demo%20(Package)/Package.appxmanifest#L45).

Feel free to close the issue if this works for you.

[2021-02-20 07:27] marb2000 commented on #2988
I can't repro in the Preview 4. Closing the bug. @huoyaoyuan Thanks for testing this before.

[2021-02-20 07:27] #2988 closed

[2021-02-20 07:28] #2957 closed

[2021-02-20 07:34] marb2000 commented on #2775
Closing this issue given it was based on old versions of WinUI 3.

[2021-02-20 07:34] #2775 closed

[2021-02-20 07:41] marb2000 commented on #2714
Sorry for the late response.
@eleanorleffler, I think that we already sync the UWP and Desktop styles. Closing this bug. Please, feel free to open it in case I miss something.

[2021-02-20 07:41] #2714 closed

[2021-02-20 07:42] #2703 closed

[2021-02-20 07:43] #2699 closed

[2021-02-20 08:11] nzstevem commented on #4251
The documentation example does not mention this requirement.

Seems to me that both the error message and the docs need to be updated...

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.contentdialog?view=winrt-19041

![image](https://user-images.githubusercontent.com/29415301/108588809-0af9f300-73c0-11eb-9b47-1f35a09aac73.png)

[2021-02-20 08:40] thomasclaudiushuber commented on #4226
Hi @marb2000 ,

thanks for your answer and for trying to reproduce it.

I also tried it on another machine, and I also could reproduce it there (Seems our machines are mutually exclusive ☺) I originally got this error reported from a developer who watched a video from me, then they send me their code, and I couldn't get it working. I investigated into it, and found out that EF SqlServer NuGet pack

[2021-02-20 10:15] jp-weber opened #4264 "Question: Community maintenance of deprecated controls"
I have a question regard to the maintenance of deprecated controls.

With WinUI3 some control elements of UWP are no longer being developed. #3957 **What are the controls** that are no longer being developed and is there a possibility that the community will take over these controls for further development?

The pivot control in particular cannot be replaced by other controls due to some of its pr

[2021-02-20 10:50] LokiMidgard opened #4265 "Can't bind IsSelected on GridViewItem to Viewmodel"
**Describe the bug**
Can't bind to `IsSelected` in `GridViewItem` (`ItemContainerStyle`) to a dependency property in ViewModel.
Setting the value of `IsSelected` in the `ItemContainerStyle` to a value does not change the selection state of the Control

**Steps to reproduce the bug**

[reproduction Sample](https://github.com/LokiMidgard/BUG-WinUI-GridView-Selection)

**Expected behavior**
Binding t

[2021-02-20 11:01] LokiMidgard opened #4266 "Binding to bool shows Windows.Foundation.IReference`1<Boolean>"
**Describe the bug**
Binding to a bool dependency property will show ``Windows.Foundation.IReference`1<Boolean>`` after the value was changed.

I bind a TextBlock Run object against a bool dependency property. The same property is also bound against a checkbox.
Initially the value is displayed correctly as a string. After changeing the Value with the checkbox the IReference string si displayed

**

[2021-02-20 11:37] sigmarsson commented on #4222
Well, still dont understand why `Key` and `Value` properties weren't available in my sepcific `DataTemplete `while iterating through my `Dictionary ` but forged a workaround by implementing my own `KeyValue `class.

[2021-02-20 11:37] #4222 closed

[2021-02-20 11:43] sigmarsson commented on #4237
Had I know when all `RadioButtons `fabricated by the `ItemsRepeater `, one could yeah switch on the handler in the right moment.
I am unaware when this specific moment takes place. Another, I have N `RadioButtons` so had to until all is done.  But I hope the `PointerEntered` event will ensure all these synchronization matters.

[2021-02-20 15:19] sigmarsson commented on #3838
I do not expect the App Service architecture will fusion with the WinUI. Close if true.
I have found an alternative with gRpc through named pipes. [GrpcDotNetNamedPipes](https://github.com/cyanfish/grpc-dotnet-namedpipes)
This seems to work for me as an IPC across different processes.

[2021-02-20 15:20] sigmarsson commented on #4235
![image](https://user-images.githubusercontent.com/43340959/108600435-7e3b3f00-7397-11eb-8ce9-63c167215a7c.png)

Why is the view not existing at that moment ?

[2021-02-20 16:44] dotMorten commented on #4251
@nzstevem it actually does: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.contentdialog?view=winrt-19041#contentdialog-in-appwindow-or-xaml-islands

[2021-02-20 19:59] omikhailov commented on #4149
Just opinion: it wasn't good idea to allow hotkeys localization at all. "Ь" (soft sign) is obviously cyrillic symbol, but can you see any differense between latin "C" and cyrillic "С" (S), or between latin "B" and cyrillic "В" (equivalent of V or W), latin "P" and cyrillic "Р" (R)? It adds confusion to user experience because latin "P" is in the top right corner of the keyboard, while cyrillic "Р"

[2021-02-21 01:07] nzstevem commented on #4251
Thanks. Yes, I see that down in the lower part of the page. All the more important that these easily fixed migration incompatibilities generate clear and obvious error messages. Perhaps VS should enforce what is in effect a mandatory field for this app type.

[2021-02-21 02:45] nlogozzo commented on #4156
It looks like all those vendors support only C#. I have C++ code that I would like to add a Win32 UI too easily and WinUi 3 provides that but I need a data grid...it'd love to see a WinUI 3 control for one

[2021-02-21 05:41] shelllet commented on #4206
winui3-preview3 is ok.
but winui3-preview4: webview2 will throw Exception: WinRT originate error - 0x80070490 : 'Element not found.'.

[2021-02-21 05:51] Gavin-Williams opened #4268 "Can I have both Winforms and WinUI referenced in the same project?"
I have a .net 5 class library 'engine'. I want to be able to pass my engine a WinForms panel, but my engine is already setup to accept WinUI SwapChainPanel. So I added
[code]
But from there I only had problems. all sorts of component crashes and errors. Is this a supported scenario?

I can't seem to reference either project from the other. One issue is getting lots of these errors ...

NETSDK1082

[2021-02-21 06:00] shelllet commented on #4206
if i unistall webview2 runtime  and keep  microsoft edge brower throw exception :WinRT originate error - 0x80070002 : 'The system cannot find the file specified.'.

[2021-02-21 06:39] davecarlisle opened #4269 "Preview 4 SetTitleBar- standard max, min and close buttons not selectable"
**Describe the bug**
With a custom titlebar set in a preview 4 Desktop app the standard minimize, maximize and close buttons are visible but not actually selectable. Window is draggable via the custom titlebar as expected.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a WinUI 3 desktop app based upon preview 4
2. Define a UIElement for the custom titlebar.
`
        <G

[2021-02-21 12:08] bkaankose commented on #4233
UWP handles this very well. If this is going to be implemented better to keep the same structure for consistency.

[2021-02-21 13:54] Gavin-Williams commented on #3986
I tried this...
[code]
Because of this documentation...
[code]
But that doesn't work either. The even is never called.

[2021-02-21 14:06] sigmarsson commented on #4249
#3625

[2021-02-21 14:33] Gavin-Williams commented on #3986
I got it working. I think your documentation contradicts itself. On the surface, SCP doesn't collect input. but when I dug deeper, I found a comment...
[code]
So even though SCP is a Panel, not a control, I changed the values of IsTabStop and IsHitTestVisible to true and I get keyboard events firing on the SwapChain, supposedly something that's not meant to happen without bubbling from a child con

[2021-02-21 14:52] sigmarsson commented on #4235
Okay, found, finally. These and their dependent classes aren't supported any more in Desktop since Preview 4.
https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/winrt-apis-for-desktop.md

[2021-02-21 15:11] sigmarsson commented on #2484
@Austin-Lamb , so cool. I will try the new title bar for size with the next preview.

[2021-02-21 15:17] #3945 closed

[2021-02-21 15:19] FarjanaParveen commented on #3743
@chrisglein  Any update on this

[2021-02-21 18:10] fgoulet commented on #3912
Ok, thanks for the explanation @marb2000.

I guess I will stick with wpf for now but I wish this could be addressed in a coming version of WinUI.

[2021-02-21 20:08] sigmarsson opened #4270 "Swapping Dark Theme"
I am swapping the theme like this one beneath. Why aren't Pages' background colors switching auto accordingly ? This is Preview 4.

[code]

[2021-02-22 06:16] v-amnat opened #4272 "Bug: XAML Controls Gallery (Debug): Accessibility: [MAS 2.4.7 - Focus Visible]: The keyboard focus is not visible on the Pager menu (Carousals) of the "PipsPager Window""
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS2.4.7, Keyboard, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Scrolling-> Pips Pager.
3. Hit on Tab key to traverse the "Pager menu (Carousals)"
4. Observe the keyboard focus on the "Pager menu (Carousals)"

**Actual behavior**
The keyboard

[2021-02-22 06:16] v-amnat opened #4297 "Bug: XAML Controls Gallery: Accessibility: [MAS 2.4.7]: The keyboard focus is not visible on the Pager menu (Carousals) of the "PipsPager Window""
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS2.4.7, Keyboard, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Scrolling-> Pips Pager.
3. Hit on Tab key to traverse the "Pager menu (Carousals)"
4. Observe the keyboard focus on the "Pager menu (Carousals)"

**Actual behavior**
The keyboard

[2021-02-22 06:38] jevansaks commented on #8
Looks like the internal bug I linked earlier is still active.

[2021-02-22 06:57] v-amnat opened #4273 "Bug: XAML Controls Gallery (Debug): Accessibility: [MAS 4.2.1 - Object Information]: The group name is not being associated with the radio buttons throughout the XAML Controls Gallery (Debug) App. Thus narrator does not read the group name."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Layout-> Radio Buttons.
3. Navigate to the radio buttons under the Background/Border group.
4. Observe the narrator announcement while user traverses any of the radio buttons und

[2021-02-22 06:57] v-amnat opened #4299 "Bug: XAML Controls Gallery: Accessibility: [MAS 4.2.1]: The group name is not being associated with the radio buttons throughout the XAML Controls Gallery (Debug) App. Thus narrator does not read the group name."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Layout-> Radio Buttons.
3. Navigate to the radio buttons under the Background/Border group.
4. Observe the narrator announcement while user traverses any of the radio buttons und

[2021-02-22 07:46] v-amnat opened #4274 "Bug: XAML Controls Gallery (Debug): Accessibility: [MAS4.3.1]: In HC mode, Selected option is not visible when selected , in Expander and Pipspager cards"
Tags
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.3.1, HighContrast, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**

1.Launch the XAML Controls Gallery (Debug) App
2.Go to the What's New-->Expander/PipsPager cards and activate.
3.Now navigate to Expand Direction/Orientation/Previous button visibility/next button visibility combo box with tab
4.Observe s

[2021-02-22 08:03] v-amnat opened #4275 "XAML Controls Gallery: Accessibility: [MAS4.3.1]: In HC mode, KB focus is not visible on File/Edit/Help buttons in StandardUICommand card"
Tags
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.3.1, HighContrast, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

Steps to reproduce the bug

1.Launch the XAML Controls Gallery (Debug) App
2.Go to the Menus and Toolbar-->StandardUIComamnd card and activate it.
3.Now navigate to the File/Edit/Help button using tab key.
4. Observe KB focus is not visible on these buttons, in HC mode.

[2021-02-22 08:03] v-amnat opened #4331 "Bug: XAML Controls Gallery: Accessibility: [MAS4.3.1]: In HC mode, KB focus is not visible on MenuBar"
Tags
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.3.1, HighContrast, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

Steps to reproduce the bug

1.Launch the XAML Controls Gallery (Debug) App
2.Go to the Menus and Toolbar-->StandardUIComamnd card and activate it.
3.Now navigate to the File/Edit/Help button using tab key.
4. Observe KB focus is not visible on these buttons, in HC mode.

[2021-02-22 08:20] v-amnat opened #4276 "XAML Controls Gallery: Accessibility: [MAS4.3.1]: In HC mode, list items in multiple cards are not visible properly when selected."
Tags
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.3.1, HighContrast, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**

1.Launch the XAML Controls Gallery (Debug) App
2.Go to the Whats new-->List box-->Navigate to list items and observe
Options are not visible properly.

**Note**
Same is observed in Compact sizing, ParallexView cards as well

**Actual beha

[2021-02-22 08:28] v-amnat opened #4278 "Bug: XAML Controls Gallery: Accessibility: [MAS 4.2.1]: The name property is not defined for most of the edit field available in the XAML Controls Gallery App. Thus narrator does not read the name of the edit field."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Status and Info-> Automation Property.
3. Navigate to the "Font Size of the Text" edit box.
4.  Run the Accessibility Insight for the Windows
5. Observe the name property for the

[2021-02-22 08:28] v-amnat opened #4337 "Bug: XAML Controls Gallery: Accessibility: [MAS 4.2.1]: The name property is not defined for most of the edit field available in the XAML Controls Gallery App. Thus narrator does not read the name of the edit field."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, XAML Controls Gallery (Debug), Win32, Wipro, A11yAuto

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Status and Info-> Automation Property.
3. Navigate to the "Font Size of the Text" edit box.
4.  Run the Accessibility Insight for the Windows
5. Observe the name proper

[2021-02-22 08:58] v-amnat opened #4280 "Bug: XAML Controls Gallery: Accessibility: [MAS 4.2.1]: The narrator does not read the tooltip info using Caps+0 for the image available in the Tooltip window of the Xaml controls gallery."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yLowImpact, MAS4.2.1, Narrator, Sev4, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Go to the Status and Info-> Tooltips-> Image.
3. Navigate to the image under "An image with a tooltip using placement react" heading
4. Use Caps+0 to read the tooltip of the image and observe

[2021-02-22 09:41] wbokkers commented on #2715
@anawishnoff / @marb2000  This issue was kept open due to the DataView property not working. See @jevansaks comment: https://github.com/microsoft/microsoft-ui-xaml/issues/2715#issuecomment-691338224

Is still have this issue with Preview 4.

![image](https://user-images.githubusercontent.com/4835617/108690160-4f89a980-74fa-11eb-90cc-981cdcd4816f.png)

[2021-02-22 10:25] wbokkers commented on #3368
I can reproduce this issue as well when using protocol activation and execution alias.

[2021-02-22 10:37] Jay-o-Way commented on #2357
Does the app have **acces** to the file or location? Just came across this: https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions#accessing-additional-locations.
And on the page https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh781215(v=win.10) we read:

[2021-02-22 11:09] Jay-o-Way commented on #2357
The title says enough: "Launch the default **APP** for a URI"

[2021-02-22 11:23] v-amnat opened #4282 "Bug: XAML Controls Gallery: Accessibility:[MAS1.4.3]:[Color Contrast]:Red color text, in Media-->Sound, is not having minimum luminosity contrast ratio 4.5:1 against the background."
**Tags**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Color Contrast, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Steps to reproduce the bug**
1. Launch the XAML Controls Gallery (Debug) App
2. Navigate to Media Tab and invoke it.
3. Navigate to Sound Card/tile and invoke it
4. observe the color contrast ratio for the red color text is falling below 4.5:1

**Actual behavior

[2021-02-22 11:51] shelllet opened #4283 "TreeView control can not scroll contents in Desktop application c++/winrt"
treeview control in xaml file.
[code]

![image](https://user-images.githubusercontent.com/16729017/108704843-85a14a80-7547-11eb-87da-272d0f50442b.png)

expand:
![image](https://user-images.githubusercontent.com/16729017/108704800-791cf200-7547-11eb-9842-d938017be17d.png)

related link: https://github.com/microsoft/microsoft-ui-xaml/issues/4254

[2021-02-22 11:58] v-amnat opened #4284 "Bug: XAML Controls Gallery: Accessibility:[MAS4.2.1]:[Narrator]:In SplitView card, narrator is not announcing the selected option and changes after activating options."
**Tag**
Accessibility, A11yCT, A11yMAS, A11yMediumImpact, MAS4.2.1, Narrator, Sev3, XAML Controls Gallery (Debug), Win32, Wipro

**Hardware and Build Details:**
UWP or Desktop?: Desktop
Microsoft OS: 21313.1000
App: XAML Controls Gallery (Debug)

**Repro-Steps:**
Launch the XAML Controls Gallery app
Navigate to Layout tab and activate it.
Now navigate to the SplitView card and activate it.
Now act

[2021-02-22 12:05] shelllet opened #4285 "Question: How to make custom UserControl as root control ?"
1 WorkflowControl:
[code]
2. SystemWaitControl
[code]

Qustion:  I want to Embed SystemWaitControl's StackPanel in WorkflowControl container. how can i do ?

[2021-02-22 12:29] shelllet opened #4286 "Error convert cv:Mat to WriteableBitmap in Desktop application c++/winrt"
Test function
[code]

Origin picture:
![2021-02-22_192319](https://user-images.githubusercontent.com/16729017/108708510-81c3f700-754c-11eb-9404-690feceaf0a0.jpg)

Result picture:
![image](https://user-images.githubusercontent.com/16729017/108708511-81c3f700-754c-11eb-8839-02f6a7f017bc.jpg)

[2021-02-22 12:30] v-amnat opened #4287 "Bug: XAML Controls Gallery: Accessibility:[MAS1.4.4]:[Text Scaling]: The text content is getting truncated and overlapped at few places when Text scaling is at 200%."
**User Impact:**
People with Low vision will not be able to read the text if it is truncated or overlapped when text scaling is at 200%.

**Hardware and Build Details:**
UWP or Desktop?: Desktop
Microsoft OS: 21313.1000
App: XAML Controls Gallery (Debug)

**Pre-Requisites:**
Set recommended screen resolution, i.e., 1366*768.
Set text scaling to 200 percent via Ease of Access settings > "Make Text

[2021-02-22 14:24] mageshsankar commented on #4236
I have removed that `XamlControlsResources` from `Application.Resources` . But, still issue occurs.

[2021-02-22 14:31] esobrino opened #4288 "Windows.UI.Xaml.Controls vs Microsoft.UI.Xaml.Controls"
Very basic.  In 2019 VS Preview I added a User Control and it kept complaining about the control having a different base class.  After some troubleshooting I realized that the UserControl in:

   public sealed partial class NavigationControl : UserControl
   {
      public NavigationControl()
      {
         this.InitializeComponent();
      }
   }

Was Windows.UI.XamlControls!

But the generated

[2021-02-22 14:50] mageshsankar opened #4289 "muxc:NumberBox's all basic appearance customisation properties not working"
**Describe the bug**

All basic appearance customisation properties like Height, BorderThickness, Background, Padding, etc..,  not working in muxc:NumberBox control.

Sample:

[MUXC_NumberBox.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6022646/MUXC_NumberBox.zip)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Extract the sample.
2. Run the sample.
3. See the Num

[2021-02-22 15:12] sigmarsson opened #4290 "This breakpoint will not currently be hit."
I sometimes have to rebuild the entire bits in order break points be available, meanwhile I am editing the same and only .cs file.

![image](https://user-images.githubusercontent.com/43340959/108727351-c2aa1480-7528-11eb-9f18-57566fbaf8a6.png)

[2021-02-22 16:16] JesseCol commented on #2715
Thanks

[2021-02-22 16:18] JesseCol commented on #2715
Thanks @wbokkers  -- my apologies, I tried this on Preview 4 and I thought it was fixed.  We'll take another look.

[2021-02-22 17:24] jevansaks commented on #2715
This wasn't a WinUI bug but actually a Cs/WinRT issue. @Scottj1s did the projection stop using GetRuntimeClassName to identify projection types? (At least when the metadata clearly specifes a type)?

[2021-02-22 17:27] #3979 closed

[2021-02-22 17:27] #3981 closed

[2021-02-22 17:43] lhak commented on #4247
The Expander control has the same issue

[2021-02-22 17:46] lhak commented on #4255
@ranjeshj I have updated the sample so that it also triggers when the expander is opened and closed very quickly with a mouse click. Two observations I have made:

- I can only reproduce it with display scaling set to 125%
- I cannot reproduce it if I set the UseLayoutRounding property of the expander content to false

[ExpanderLayoutCycle2.zip](https://github.com/microsoft/microsoft-ui-xaml/files

[2021-02-22 17:54] licanhua opened #4291 "Make new controls' template to be labeled by ControlsResourcesVersion"
New control template: https://github.com/microsoft/microsoft-ui-xaml/tree/master/tools/GenerateNewControlProjectFiles

    <Page Include="$(MSBuildThisFileDirectory)AutoSuggestBox_themeresources.xaml">
      <ControlsResourcesVersion>Version2</ControlsResourcesVersion>
      <Version>RS1</Version>
      <Type>ThemeResources</Type>
    </Page>

[2021-02-22 17:59] chrisglein commented on #3743
@FarjanaParveen No update. As I said above, there isn't any error here that I'm seeing. This sounds like a change in layout behavior that'd be good to understand, but is still operating within the limits of how layout is allowed to behave. I would definitely not recommend any apps take dependencies on how often many layout passes occur.

[2021-02-22 20:41] mdtauk opened #4292 "Discussion: Updated MUXTestApp Logo for when Source is opened?"
# Discussion: [your title here]

Should the current Logo used for the WinUI MUXTestApp get updated to something more fluent once the project is fully open sourced.

![image](https://user-images.githubusercontent.com/7389110/108767208-0bc08f80-754e-11eb-8e26-0907bd3fb7c4.png)

## Related Links

The Current logo is a bit of a Metro throwback...
![Square150x150Logo scale-200](https://user-images.gith

[2021-02-22 21:07] carldebilly opened #4293 "Snap Points on StackPanel doesn't work when Spacing is used"
## Describe the bug
When using the `Spacing` property on a `<StackPanel />`, snap points are ignoring it and produce unaligned result.

## Steps to reproduce the bug

1. Use the following XAML on a UWP application:
[code]
2. Run it (also works directly in XAML Studio, no need to create an app to see the problem)
3. Scroll the colors using the mouse wheel - observe everything is as expected
4. Move

[2021-02-23 00:04] StephenLPeters commented on #4293
@RBrid FYI

[2021-02-23 00:05] StephenLPeters commented on #4292
Seems cool, would you like to contribute the change? :)

[2021-02-23 00:08] StephenLPeters commented on #4290
We'd need more repro steps to understand what is causing this, but it is unlikely to be an issue with the WinUI product.

[2021-02-23 00:08] #4290 closed

[2021-02-23 00:13] StephenLPeters commented on #4288
it will be Microsoft.UI.Xaml.Controls

Windows.UI.Xaml is the namespace that is used by the version of XAML that is shipped with the Operating system. Microsoft.UI.Xaml is the namespaced used with the winui2 and winui3 nuget packages.  Some types, like nav view, exist in both Window and Microsoft.UI.Xaml.  We recommend using the Microsoft.UI.Xaml version wherever possible as this is where active d

[2021-02-23 00:13] #4288 closed

[2021-02-23 00:15] StephenLPeters commented on #4286
@shelllet what version of Winui3 preview are you using?

[2021-02-23 00:20] StephenLPeters commented on #4285
I don't think this is supported. Instead you should make the SystemWaitControl a UserControl and have the root element of that WorkflowControl be a SystemWaitControl.

[code]

[2021-02-23 00:20] #4285 closed

[2021-02-23 00:29] StephenLPeters commented on #4283
Why have you set the ScrollViewer properties on the TreeView?  I'm pretty confident those should not be needed.  If they are causing the issue that would be a bug.

[2021-02-23 00:30] StephenLPeters commented on #4289
Wow, thats not great. It looks like this repro's in Winui2 as well..

[2021-02-23 00:32] StephenLPeters commented on #4280
@stmoy FYi

[2021-02-23 00:32] chrisglein commented on #3308
Question has been answered I believe by Mike. There's not a way to do this now. Reframing this as a feature request (that it'd be good to be able to get events for this). Let me know if I'm off-base in framing it that way.

[2021-02-23 00:34] StephenLPeters commented on #4274
@stmoy FYI

[2021-02-23 00:34] StephenLPeters commented on #4273
@stmoy FYI

[2021-02-23 00:35] StephenLPeters commented on #4272
@stmoy FYi

[2021-02-23 00:37] StephenLPeters commented on #4270
Looks like this should work, needs some investigation. Are you able to provide more repro steps?

[2021-02-23 00:38] StephenLPeters commented on #4269
What does not Selectable mean here, that you can't click on them?

[2021-02-23 00:39] StephenLPeters commented on #4269
@Austin-Lamb and @pratikone FYI

[2021-02-23 00:40] shelllet commented on #4283
I remove `ScrollViewer` property , it still can't scroll contents.

[2021-02-23 00:41] StephenLPeters commented on #4268
WinForms doesn't support ARM, so if you want to remove ARM from your solution file that might get you one step closer. However I don't think winui3 supports islands scenarios currently.  @Austin-Lamb and @MikeHillberg can you weigh in?

[2021-02-23 00:43] StephenLPeters commented on #4266
@Scottj1s and @stevenbrix is this a cswinrt issue?

[2021-02-23 00:44] shelllet commented on #4285
yeah! I  have many controls like SystemControl,  and they have same titlebar,  so I need implement titlebar in WorkflowControl  and embed other control in WorkflowControl.

[2021-02-23 00:46] shelllet commented on #4286
[code]

[2021-02-23 00:46] StephenLPeters commented on #4264
@ryandemopoulos FYI

[2021-02-23 00:50] StephenLPeters commented on #4255
@gegao18 FYI

[2021-02-23 00:51] StephenLPeters commented on #4255
Moving to rendering because of the display scaling component

[2021-02-23 00:52] StephenLPeters commented on #4226
@marb2000 and @alwu-msft FYI

[2021-02-23 01:00] StephenLPeters commented on #4283
Okay, can you please edit the issue description and we'll look into it.

[2021-02-23 01:03] shelllet opened #4296 "Proposal:Support to make custom UserControl as root control"
There is a scene, such as many controls has same titlebar, so I need to make custom UserControl as root control that i can embed those controls. This has the concept of C++ object-oriented.

related link: [How to make custom UserControl as root control ?](https://github.com/microsoft/microsoft-ui-xaml/issues/4285#issuecomment-783784527)

[2021-02-23 01:09] shelllet commented on #4283
OK, I have removed the `ScrollViewer` relevant code.

[2021-02-23 02:32] alwu-msft commented on #4062
Thanks for the report! We will get this fixed in a future release of WinUI 3; in the meantime you can workaround this issue by either making the change mentioned in stevenwdv's [comment](https://github.com/microsoft/microsoft-ui-xaml/issues/4062#issuecomment-770203065) or manually installing the Windows 10.0.18362.0 SDK using the Visual Studio installer.

[2021-02-23 05:55] #3919 closed

[2021-02-23 06:00] YuliKl commented on #4297
Moving back to WinUI repo because this smells more like a controls problem rather than an app problem to me. I'm also seeing strange behavior with arrow keys on the first PipsPager sample (right arrow eventually moves focus off PipsPager to the "Related Controls" section). @StephenLPeters @gabbybilka FYI.

[2021-02-23 06:21] shelllet opened #4298 "Question: Where is the treeview item click event documentation in desktop c++/winrt？"
I can't find treeview item click or double click, or selectchanged  event document, where is it?

[2021-02-23 06:50] jeff-kissinger-ul commented on #4269
This is a duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/4209

[2021-02-23 06:54] davecarlisle commented on #4269
@StephenLPeters - yes... by not selectable just meaning they are visible but cannot actually click on them. Thanks much!

[2021-02-23 06:59] YuliKl commented on #4299
Moving back to WinUI repo, @StephenLPeters FYI

@kikisaints can you confirm that RadioButtons control is expected to announce header information? I thought that (and the keyboarding behavior) were the primary motivations for introducing RadioButtons.

This does not appear to be a regression, I observed the lack of Narrator's announcements of the header in the Store version (using WinUI 2.5) of XCG

[2021-02-23 08:13] chingucoding commented on #4292
Having a new icon for the test app would be amazing, @mdtauk do you already have something specific in mind? Maybe something that incorporates the WinUI logo?

If we have settled on the new logo, I would be more than happy to help create a PR to update the logo!

[2021-02-23 08:22] sibille commented on #8
I just double checked and can confirm that this issue is still happening, both on WinUI 2.5 and WinUI3 Preview 4.
We currently add the keyBoardAccelerators in the OnLoaded Event, but if I move them back to the ViewModel initialization I can see the Alt+ Left Tooltip pop up again.

![image](https://user-images.githubusercontent.com/24698018/108817446-35ae9c00-75b8-11eb-9c31-7d294df9ccc1.png)
Repro

[2021-02-23 08:23] Fernand-Delavy opened #4300 "UWP WinUI Microsoft.UI.Xaml.Media missing Color"
Using Visual Studio 2019 16.8.5

Sample from https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.media.solidcolorbrush?view=winui-3.0-preview
using Microsoft.UI.Xaml.Media and Microsoft.UI

The Colors is present but Color not
SolidColorBrush myBrush = new SolidColorBrush(Color.FromArgb(255, 20, 20, 90)); Color not found

Or Color is else where ? I found it in Windows.UI but should

[2021-02-23 08:26] mdtauk commented on #4292
I was just toying around with one idea - using the green colour used by the Dev tag for Edge and other apps - but keeping the tool iconography.

Its not a high priority item for sure, and could be a community derived design.

[2021-02-23 09:20] sigmarsson commented on #4270
Yes it works all pages but one beneath, which looks like this:

[code]

What is your take on of this ?

[2021-02-23 10:16] zhuxb711 opened #4301 "Proposal: Make it easy to setup Width and Height on CommandBarFlyout"
# Proposal: Make it easy to setup Width and Height on CommandBarFlyout

## Summary

I could not custom the (MaxHeight) height or (MaxWidth) width on commandbarflyout.
Please make it easy.

## Rationale

* Developer could be easier to custom Commandbarflyout
* Sometimes CommandBarFlyout will extend out of the window if no limit on MaxHeight

## Scope

| Capability | Priority |
| :---------- | :----

[2021-02-23 10:21] sibille opened #4302 "Question: Why is there an extra folder on WinUI3 Desktop templates"
Comparing the generated code for a WinUI3 Desktop and WinUI3 Uwp App we've seen that there is an extra folder level created for Desktop apps. In Windows Template Sudio this extra level is causing us problems as it prevents us from sharing templates between WinUI Desktop and Uwp apps (for example the pages we offer are mostly the same for Desktop and Uwp).

If you compare the output generated for S

[2021-02-23 13:00] #3894 closed

[2021-02-23 13:59] sigmarsson commented on #4235
[code]

I modified a little bit the chart control properties and now `GetForCurrentView()` isn't playing a role here.
The `LoadComponent()` failed.

[2021-02-23 14:05] sigmarsson opened #4303 "Detachable control"
Is there a draggable control becomes a separate window if you drag out of its current context and position ?
The reverse operation as dragging the window into the main window to incorporate into its original context.

[2021-02-23 15:41] anawishnoff opened #4304 "Proposal: Update design of AutoSuggestBox"
# Proposal: Updated AutoSuggestBox Design

## Summary

I'm proposing design changes to AutoSuggestBox. This includes changes to its dropdown menu so that it visually aligns with the [new ListView designs](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/anawish/ListViewGridViewDesignUpdates/active/ListViewGridView/listviewgridview-designupdates.md), as well as new  border visuals for

[2021-02-23 15:44] anawishnoff opened #4305 "Proposal: Update design of TreeView"
# Proposal: Update design of TreeView

## Summary

I'm proposing design changes to TreeView so that it visually aligns with the [new ListView designs](https://github.com/microsoft/microsoft-ui-xaml-specs/blob/user/anawish/ListViewGridViewDesignUpdates/active/ListViewGridView/listviewgridview-designupdates.md). This includes providing items with a rounded backplate in non-rest states, an accent-col

[2021-02-23 17:46] boostafazoo commented on #4206
[code]

According to the [Known Issues for Preview 4](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/), the AccessibilitySettings.HighContrastChanged event is no longer supported in Desktop apps.

[2021-02-23 17:54] sigmarsson opened #4306 "Microsoft Edge WebView2"
How shall this component be a prerequisite in an `MSIX` package to ensure the component is installed and be ready in the moment the product launching and requires `WebView2` to display web content ?

https://developer.microsoft.com/en-US/microsoft-edge/webview2/

[2021-02-23 17:59] michael-hawker opened #4307 "WPF Gap: CollectionViewSource doesn't support all WPF scenarios"
# Proposal: CollectionViewSource doesn't support all WPF scenarios

## Summary
The [`CollectionViewSource`](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Data.CollectionViewSource) in UWP is inferior to the one in WPF [doc here](https://docs.microsoft.com/dotnet/api/system.windows.data.collectionviewsource).

The WPF one supports live filtering, grouping, and sorting all out of the box. The U

[2021-02-23 18:00] michael-hawker commented on #4307
We have the [AdvancedCollectionView](https://docs.microsoft.com/windows/communitytoolkit/helpers/advancedcollectionview) in the toolkit, but it doesn't support all the scenarios, and is already getting complex. It'd be great to just see this be within the platform and have the WPF version at least ported as a starting point.

[2021-02-23 18:12] anawishnoff opened #4308 "Proposal: Update design of DatePicker and TimePicker controls"
# Proposal: Update design of DatePicker and TimePicker controls

## Summary

I'm proposing design changes to the DatePicker and TimePicker controls. These changes are mostly based around rounding the visuals seen in Date/TimePicker, in both rest and non-rest states. [Some work has already been done](https://github.com/microsoft/microsoft-ui-xaml/pull/3947) to update the colors and shapes within Da

[2021-02-23 18:25] mdtauk commented on #4305
Many of the other controls have moved to using Fluent UI System Icons, will the chevrons be replaced with caret symbols, to fit in with the other controls?

![image](https://user-images.githubusercontent.com/7389110/108889481-569cde80-7604-11eb-9e66-f0dbb326b48b.png)

![image](https://user-images.githubusercontent.com/7389110/108889650-88ae4080-7604-11eb-873e-681f533e00fc.png)
![image](https://use

[2021-02-23 18:32] mdtauk commented on #4308
Will the 40px highlighted size change to 32px to match the height of the picker before the flyout renders?

[2021-02-23 18:58] mdtauk commented on #4303
TabView?

[2021-02-23 19:05] chingucoding commented on #4303
TabView doesn't spawn a new window on it's own unfortunately. However there is a sample in the XAML Controls Gallery @sigmarsson that showcases how to achieve this.

[2021-02-23 19:12] sigmarsson commented on #4303
Merci. Yeah maybe a separate window may not be necessary, just a draggable thing having a different Z coordinate. Will reply if TabView isn't eligible.

[2021-02-23 19:34] anawishnoff commented on #4308
@mdtauk Yes, the selection rectangle would have a height of 32px.

[2021-02-23 19:36] anawishnoff commented on #4305
@mdtauk Hmm, this is an interesting question/idea. I think the carets, as shown in the examples above, are usually used for scrolling or navigating purposes? At least that's where I've seen them. Chevrons are used for expanding/opening/closing items (i.e. Hierarchical NavigationView), so I think they're appropriate for TreeView as well.

[2021-02-23 20:01] sigmarsson commented on #4303
hmm, don't cut it. I have set both `AllowDropTabs` and `CanDragTabs` True but to no avail. @mdtauk , how did You think a `TabViewItem` can be detached out from the main Window.

[2021-02-23 20:02] marb2000 opened #4314 "Setting Background colors makes the Custom Title Bar dysfunctional"
**Describe the bug**
In a Desktop WinUI 3 app set a custom title bar. For example:
[code]
[code]
Running the sample, and you will get something like this:

![image](https://user-images.githubusercontent.com/12536513/108899985-ed9a7400-75cd-11eb-88d5-cd7a4ce019c3.png)

However, If you set the Background color of the Grid or the StackPanel, you get something like this:

![image](https://user-images.

[2021-02-23 20:02] marb2000 commented on #4314
@Austin-Lamb @pratikone @ocalvo FYI

[2021-02-23 20:03] Gavin-Williams commented on #4268
So, just to make it clearer, I'm not interested in islands, not looking at that. I'm just looking to bind the swapchain to whatever is passed in, whether it's a SwapChainPanel or WinForms.Panel.

But I'm thinking of pulling out the application layer into separate projects - One for each of UWP, WinUI and WinForms, so that there is no framework clash. I will try to remove the arm stuff to start wit

[2021-02-23 20:14] billhenn commented on #4249
I ran into #3625 myself just now and luckily found that issue via Google.  Otherwise I would have had no idea what was wrong.

Debugging anything in UWP XAML was always an awful experience due to lack of information on problems compared to what you got in good old WPF XAML.  Please make sure that WinUI XAML error messages are at least as detailed and specific as what you find in WPF.  It's critica

[2021-02-23 20:27] marb2000 opened #4316 "Caption Buttons of several Windows in the same-thread blinking when hovering"
**Describe the bug**

Create two or more instances of the same Window class with a custom Title Bar. Hover the mouse over the caption buttons of a Window, and observe how the caption buttons of the others Windows start to blinking.

![image](https://user-images.githubusercontent.com/12536513/108902382-e2951300-75d0-11eb-823a-031bd63ab0f0.png)

[code]

[code]

**Expected behavior**
Others Window's

[2021-02-23 20:27] marb2000 commented on #4316
@Austin-Lamb @ocalvo @pratikone FYI

[2021-02-23 21:44] ranjeshj opened #4318 "Improve Expander expand up animation"
The expand up animation causes the header to go down and then the content to slide up which looks wonky. A better animation might be to make the content reveal from top down while the header slides down.

[2021-02-23 22:10] ranjeshj opened #4320 "Re-enable disabled tests"
Couple of tests are disabled, we should enable them back and fix if they are failing

VerifyVisualTreeForAppBarAndAppBarToggleButton
VerifyLightsOnMainWindow

[2021-02-23 22:32] sigmarsson commented on #4303
Okay, I configured the `TabView` as

`<TabView CanDragTabs="True" AllowDrop="True" TabDroppedOutside="OnTabOutsideDropped" TabDragStarting="OnTabDragStarting" TabDragCompleted="OnTabDragCompleted" DragOver="OnDragOver" Drop="OnDrop">`

So when it is starting to fall outside of the `TabView` we shall invoke this handler, but of course this is not working. How shall I follow this through in a WinUI

[2021-02-23 22:35] mdtauk opened #4321 "NavigationView Top - Icon alignment issues"
**Describe the bug**

Icon only buttons like "Settings" do not align correctly with the selection indicator

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

The Icon and Selection Indicator should be aligned vertically centred within the button space

**Screenshots**

![image](https://user-images.githubusercontent.com/73891

[2021-02-23 23:40] ranjeshj opened #4325 "Derived ContentDialog does not get WinUI styles"
If you have a class deriving from ContentDialog, it does not seem to get the styles from WinUI. It gets the style from System Xaml instead.

[2021-02-23 23:59] gabbybilka commented on #4297
@YuliKl the bug for lack of keyboard focus is caused by the extra tab stop to be fixed by this PR: #4107

@beervoley I was also able to replicate the behavior mentioned by Yulia above in XCG. I'm wondering if this is related to #4246.

[2021-02-24 00:14] ranjeshj commented on #4321
@YuliKl @chigy  as FYI

[2021-02-24 00:22] ranjeshj commented on #4306
@codendone @adambarlow FYI

[2021-02-24 00:26] ranjeshj commented on #4303
@marb2000 @Austin-Lamb as FYI

[2021-02-24 00:27] ranjeshj commented on #4302
@stevenbrix as FYI

[2021-02-24 00:27] alwu-msft commented on #4114
@RealTommyKlein this is possibly a regression in XamlCompiler as this scenario works in a UWP XAML app.

[2021-02-24 00:32] duke7553 opened #4327 "XamlParseException with no explanation for a UserControl"
**Describe the bug**
After converting my UWP app to WinUI Desktop, one of the controls fails to load its XAML at runtime throwing a XamlParseException with no context or explanation.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Build a UWP app with WinUI 2.x and validate it works
2. Do all necessary steps to convert this to WinUI Desktop and see a vague XAML parse exception

[2021-02-24 00:34] ranjeshj commented on #4301
@YuliKl @adambarlow I'm not sure if there was some motivation for doing it this way, but the presenter is hardcoded to have [infinite max height](https://github.com/microsoft/microsoft-ui-xaml/blob/dfbe38bfb2996dfaa2f09544c4e86aa69ccc906b/dev/CommandBarFlyout/CommandBarFlyout.cpp#L237).

[2021-02-24 01:27] alwu-msft commented on #4226
This is the (tail end of the) output I see in the debugger when attempting to launch a blank app that references the Microsoft.EntityFrameworkCore.SqlServer Nuget package:
[code]
This doesn't look like a WinUI problem per se; rather, I think it's a problem with the WAP project system. `Microsoft.Data.SqlClient.SNI.dll` appears to be getting copied to the package root by the `.wapproj` build rather

[2021-02-24 01:49] alwu-msft commented on #4226
Update: this is almost certainly an issue with the WAP project system (or maybe how the `Microsoft.Data.SqlClient.SNI.runtime` Nuget package is authored). I created a .NET 5 WPF blank app, added a reference to the Nuget package, added a Windows Application Packaging project that wrapped the WPF app, and encountered the exact same error.

[2021-02-24 02:43] mdtauk commented on #4308
Will it also be possible to improve the entrance and exit animation of the Flyouts for Date and Time Picker?  The MenuFlyout and the CommandBarFlyout have nice smooth flowing animations, but Date and Time Picker just appears on screen.

Back in the Windows 8 days, these controls animated up and down from the Button/Form control you click on to show the flyout.

[2021-02-24 03:05] codendone commented on #4306
For apps installed from the the Store, there is no way today to have the installer ensure the Edge WebView2 Runtime is installed. It is expected that the WebView2 Runtime will quickly become common on many machines, and there are investigations happening to further improve this.

In the meantime, the WebView2 element will show a link to the Runtime installer if the Runtime isn't installed. That is

[2021-02-24 03:12] codendone commented on #4300
Windows.UI.Color is still the right type to use. See #1541.

[2021-02-24 03:29] shelllet opened #4329 "ContentDialog control not working in desktop c++/winrt."
[code]
report error:
![image](https://user-images.githubusercontent.com/16729017/108943311-8515ca80-7693-11eb-9055-9c22541417ad.png)

[2021-02-24 04:42] sjb-sjb commented on #4065
Thanks @marb2000  this was a very helpful discussion.

[2021-02-24 06:12] nc-x commented on #4308
![](https://user-images.githubusercontent.com/22504341/108887795-b1b8dc00-75d8-11eb-85c3-2f6ef7687ec2.png)
My laptop (unfortunately) does not have a nice display, because of which the backplate / highlight is pretty much invisible to me. Same issue in https://github.com/microsoft/microsoft-ui-xaml/issues/4304 and https://github.com/microsoft/microsoft-ui-xaml/issues/4305. They need better contrast

[2021-02-24 08:16] jschwizer99 commented on #4305
@anawishnoff , I appreciate a lot the step taken to align the visual style between listview and treeview. On the current preview4 the differences are quite noticeable.

Our WinUI application will target the classical desktop market. The treeview and listview are very important design elements to reflect the complex data of the 3D application. Therefore, we strongly rely on a clear distinction betw

[2021-02-24 08:18] thomasclaudiushuber commented on #4226
Thank you @alwu-msft. Omg, you're right, why the heck didn't I try the WAP project with a .NET 5 WPF project?! :-)

Yes, I can confirm, it's an issue that is related to the WAP project and the NuGet package. I was able to reproduce it in a .NET 5 WPF app when packaging it as MSIX via WAP project.

I reported the error via Visual Studio Send Feedback as you suggested. I keep this issue open and wil

[2021-02-24 08:31] YuliKl commented on #4331
Problem with MenuBar's HC colors, transferring back to WinUI repo.

[2021-02-24 09:03] zhuxb711 commented on #4301
@ranjeshj Yes. So if there are too many things in CommandBarFlyout, it will be out of my Monitor

[2021-02-24 09:09] KanniyappanP opened #4332 "ItemsWrapGrid does not rearrange items when MaximumRowsOrColumns has changed at runtime"
**Describe the bug**
ItemsWrapGrid does not rearrange items at runtime if MaximumRowsOrColumns has changed.

I am using ItemsWrapGrid in my CustomControl and the control looks similar as RibbonGallery like in Outlook, MSExcel and MSWord.

I used two ItemsControls in my custom RibbonGallery, one for RibbonGallery and the other for RibbonGalleryPopup. Both ItemsControl arranging control items using

[2021-02-24 09:15] JCK-cloudLV opened #4333 "Discussion: [your discussion title]"
# Discussion: [your title here]

## Related Links

[2021-02-24 09:37] jordan-msftfan commented on #4333
Excuse me, but what do you want to discuss?

[2021-02-24 09:38] JCK-cloudLV commented on #4333
Who had good accoubt

On Feb 24, 2021, 1:37 AM -0800, jordan-msftfan <notifications@github.com>, wrote:

[2021-02-24 10:15] michael-hawker commented on #4057
FYI @alwu-msft thought this may have been the same issue as the DevOps one I linked to tracking, but in that one you said x:Bind should work which here it appears not to?

[2021-02-24 10:40] WelterDevelopment commented on #3880
The problem persists with VS 16.9.0 Preview 5 and WinUI 3.0.0-preview4.210210.4.

[2021-02-24 10:55] Elttob commented on #4292
Sounds like a good idea. I think it could be more consistent with other fluent icons though - here's a quick mockup I made based on your idea:

![image](https://user-images.githubusercontent.com/11815374/108990243-7bd62f00-768e-11eb-85c3-9e9de11974ee.png)

[2021-02-24 12:19] shelllet opened #4334 "Question: How to populate the ComboBox by binding the ItemsSource property in desktop c++/winrt?"
winrt Name:
[code]
Source:

[code]

[code]
![image](https://user-images.githubusercontent.com/16729017/108999080-c7172e80-76dc-11eb-8ab1-2c4cbcff520c.png)

ComboboxItem's text is  class name.

![image](https://user-images.githubusercontent.com/16729017/108999107-ced6d300-76dc-11eb-93d3-11f91c63ce9c.png)

if i set `DisplayMemberPath` property, ComboboxItem's text is  empty.
[code]
![image](https://

[2021-02-24 12:39] shelllet commented on #4156
I can't imagine that the offical version will be released next month, because desktop c++/winrt have many problems.

[2021-02-24 13:12] BorzillaR commented on #3367
AppExecutionAlias works fine in Desktop.
Thank you, @marb2000, for pointing me to the solution.

Btw, is there a working sample for WinUI(Uwp) app?

[2021-02-24 14:18] atiyka commented on #190
Hi, I would like this feature as well, what is the current state?

[2021-02-24 14:23] jskop opened #4335 "Question: How to compile C# WinUI 3 desktop app?"
Hi,

I installed Visual Studio Enterprise 2019 Preview 4 few days ago and WinUI 3 Preview 4 extension. I've created brand new C# WinUI blank desktop packaged app, so far so good. The problems started when I tried to build/run the app (with no additional code or controls) - compiler returned **WMC999 Cannot find type WinRT.IWinRTObject in module WinRT.Runtime.dll**. Then I thought it'd be good try

[2021-02-24 14:23] #4333 closed

[2021-02-24 14:55] sigmarsson commented on #4306
Thanks @codendone .

I did hope the MSIX could leap this step by specifying either a WEbView2 `Capability` or `Dependency` ;

https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-manual-conversion

If you are saying - let say - beyond Version 10.0.19042 the OS will ship this component than it becomes seamless experience. As for the positive experience amid annoying manual installer

[2021-02-24 15:39] anawishnoff commented on #4308
@nc-x Thanks for pointing that out - I'll look into this!

@mdtauk Another great point. I agree that Date/TimePicker should match the nice entrance and exit animations of other more updated controls. I'm going to add that to my proposal above - thanks!

[2021-02-24 15:42] YuliKl commented on #4337
This is a dupe of #3634. Closing.

[2021-02-24 15:42] #4337 closed

[2021-02-24 15:51] anawishnoff commented on #4305
This is great feedback @jschwizer99, thank you!

This proposal won't be covering any actual functionality changes, as mentioned above, so allowing the disabling of checkbox for multiple selection mode in TreeView won't be included in this change. However, this is definitely an interesting topic. I'd recommend opening up a separate issue for this. I agree and don't see why you can disable checkboxe

[2021-02-24 17:17] sigmarsson opened #4338 "TabViewItem Headertemplate"
Can I replace the default tab strip with an AppBarButton for example ?

[code]

[2021-02-24 17:25] adambarlow commented on #4301
I think @llongley might have an idea on this one.

@zhuxb711 how many items causes it to look incorrect?

[2021-02-24 17:43] mdtauk commented on #4292
This is not a public facing app, so it shouldn't match the others too closely IMO.
![image](https://user-images.githubusercontent.com/7389110/109041768-4bf74d80-76c7-11eb-82f7-1e4dac1cb27e.png)

The green Dev badge is used for in-development apps, so that is why I used it for my quick idea

[2021-02-24 17:43] sigmarsson commented on #4303
I witness an ex : **"A method was called at an unexpected time."**
At execution of

`CoreApplicationView newWindow = CoreApplication.CreateNewView();`

[2021-02-24 18:01] mdtauk commented on #4301
Is there any behaviour built in to allow a carosel style scrolling for the secondary items in a CommandBarFlyout - for when there is not enough space to display all items?

![image](https://user-images.githubusercontent.com/7389110/109044373-3f282900-76ca-11eb-8090-722d20972ead.png)

I don't see any tests for such behaviour in the TestApp

[2021-02-24 18:03] chingucoding commented on #4292
Speaking from a "user" point here, ideally, I would be able to know what MUXControlsTestApp is about because right now the logo and it's purpose have little connection. I really like @mdtauk idea with the "dev badge" green.

[2021-02-24 18:17] zhuxb711 opened #4339 "Add TabViewItem quickly will lead layout issue and ArgumentException"
**Describe the bug**
This will be seen for about half seconds,  only text in TabViewItem.Header.
![image](https://user-images.githubusercontent.com/42038175/109045228-496c1680-770e-11eb-907c-81d1ad780972.png)

**Steps to reproduce the bug**
[code]

If we add too many TabViewItems at the same time and select the last tab immediately. ArgumentException will be threw.

Example code:
[code]

**Expecte

[2021-02-24 18:24] zhuxb711 commented on #4301
Out of monitor
![image](https://user-images.githubusercontent.com/42038175/109046597-e2e7f800-770f-11eb-98f9-2d1a7bc2db3a.png)

@adambarlow About 15+ items

By the way, if CommandBarFlyout.SecondaryCommand have many items and we scroll the CommandBarFlyout.SecondaryCommand from top to bottom slowly, some word might be clipped (Up and down)

[2021-02-24 18:45] mdtauk commented on #4292
Is there an established visual metaphor for tests or testing?  It is a developer app, and tests the UI and features of WinUI - so if you break it down, there is
- Development
- UI
- Testing

- Green Dev Badge and Tool
- ?
- ?

[2021-02-24 18:50] chingucoding commented on #4292
I'm not sure if there is iconology for testing really, Something that is used sometimes is some form of checkmark (or checklist) or test tube ([Reference](https://www.flaticon.com/free-icons/testing)), but not sure how good those look when incorporated into the logo.

[2021-02-24 19:07] mdtauk commented on #4292
![image](https://user-images.githubusercontent.com/7389110/109052396-79e28f00-76d3-11eb-9e0c-059658dedb22.png)

This adds more of the UI elements - but nothing for testing

[2021-02-24 19:24] alwu-msft commented on #4226
Yep, WinDBG; VS is frustratingly terse when it comes to issues that occur early during app startup.

Closing this issue since it's been reported to VS.

[2021-02-24 19:24] #4226 closed

[2021-02-24 19:30] alwu-msft commented on #4057
@michael-hawker If replacing `{Binding}` with `{x:Bind}` fails as well, then it's unlikely to be the same root cause as the DevOps issue since `x:Bind` doesn't rely on `FrameworkElement.FindName` (the moral equivalent of what an ElementName Binding does).

[2021-02-24 20:54] Elttob commented on #4292
Thanks for the input! I don't think your icon would hold up at small sizes though - in particular, the use of the gradient and acrylic effect on the wrench, as well as the partial obscuring of the 'dev' badge, would likely cause readability issues at small sizes.

My other criticism, though it's more my opinion than an actual usabilty problem, is that I don't agree with the switch to using a navig

[2021-02-24 20:55] adambarlow commented on #4301
@zhuxb711 , it looks like perhaps the opening logic is what needs to be addressed here. I think it shouldn't open off the monitor, I thought we had logic so that it would take the edge of the screen into account. If not, that is a bug and should be filed as an issue report, IMO.

@mdtauk in the UI guidelines we mention that a commandbar flyout should be used for a limited set of items. Having 15 i

[2021-02-24 21:16] mdtauk commented on #4292
The detail would be reduced as the icon size gets smaller of course, the added details come as you scale up.

The titlebar as an element is not exactly modern, and most modern apps blend into it, so whilst I appreciate the window-like representation, but this app is less about the app, and more about testing UI - the NavigationView has become the key pattern for app layout and navigation.

![Uploa

[2021-02-24 21:32] mdtauk commented on #4301
That supposes the developer/designer pays attention, and they are not dynamically loading items, where they are unable to control the source of those items.

Just wondering if there is a place for adding logic.  Can secondary items open upwards perhaps, when the control is lower down on the screen?

There is scrolling logic there according to the "Show tall CommandBarFlyout" test in the MUXControl

[2021-02-24 21:39] sigmarsson opened #4341 "ContentDialog.ShowAsync() throws ArgumentException"
In which case do you throw this ex ?

![image](https://user-images.githubusercontent.com/43340959/109068940-ce483780-76f0-11eb-9614-d980dc5ebe24.png)

[2021-02-24 22:17] codendone commented on #4306
The WebView2 Runtime will be installed by default on a future version of Windows. The ETA for that isn't clear yet.

[2021-02-24 22:22] Elttob commented on #4292
While I agree with your general logic, and do agree that NavigationViews are important, I still don't think it justifies the change.

In a desktop environment, the most common way of representing an interface in an icon is to represent it's window chrome. Users will generally be most familiar with this design, as it has been used across a majority of apps for the past few decades across multiple o

[2021-02-24 22:27] davecarlisle commented on #4306
Hi @codendone. Just sharing that we have the same desire as @sigmarsson and started looking at this deployment aspect today. With the WinUi GA we're looking to immediately distribute an app that makes use of WebView2 and were hoping for a super clean install experience... and the users not even aware of a webview2 runtime install (and no clicking on additional install links, etc.). We understand t

[2021-02-24 22:31] duke7553 commented on #4235
@sigmarsson I'm having this same issue with my UserControl and can't figure out where the problematic markup is.

[2021-02-24 22:37] sigmarsson commented on #4306
@davecarlisle If ETA will never harmonize with your roll out schedule, you may need to fabricate your own bootstrapper, which could install the repackaged WeibView2 component.

In your MSIX - if it is - you can launch the bootstrapper first;

  `<Application Id="Your.App.Id" Executable="Bootstrapper.exe" EntryPoint="Windows.FullTrustApplication">`

[2021-02-24 22:39] sigmarsson commented on #4235
@duke7553  yeah, it remains vague as I am also witnessing different stack traces.

[2021-02-24 22:40] davecarlisle commented on #4306
@sigmarsson Ack and with ya... heading that way. Have a good one!

[2021-02-24 22:42] sigmarsson commented on #4306
Merci captain! Need 2 hit the sack.

[2021-02-25 00:04] StephenLPeters commented on #4341
This is because you have not set the XamlRoot of your Dialog. This is a dupe of https://github.com/microsoft/microsoft-ui-xaml/issues/4251

[2021-02-25 00:04] #4341 closed

[2021-02-25 00:08] StephenLPeters commented on #4338
You can put whatever you want in your header template, this should work, although this seems pretty strange. What are you trying to accomplish?

[2021-02-25 00:16] StephenLPeters commented on #4334
@MikeHillberg FYI

@shelllet can you try making the Text property a Dependency property? I think that might be a requirement for DisplayMemberPath

[2021-02-25 00:19] StephenLPeters commented on #4332
@KanniyappanP do you know if this is an issue with system xaml as well?

[2021-02-25 00:23] StephenLPeters commented on #4329
ContentDialogs that are created from code need to be assigned a XamlRoot so that the dialog knows where to show the UI.  It doesn't look like you've set the xaml root yourself, at least not in the code you've provided so I think there must be more going on that you haven't included. Are you setting the XamlRoot somewhere?

[2021-02-25 00:25] StephenLPeters commented on #4327
Can you provide a repro app for us to see the issue in?

[2021-02-25 00:29] #4300 closed

[2021-02-25 00:33] StephenLPeters commented on #4298
I think this is what you are looking for for click: https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.treeview.iteminvoked?view=winui-2.5. SelectionChanged is still in preview so we don't have docs published for that.

[2021-02-25 00:33] #4298 closed

[2021-02-25 00:36] shelllet commented on #4329
yes!,  i have not set xaml root , i will try agian. later.  thks!

[2021-02-25 00:37] StephenLPeters commented on #4285
It sounds like you are just asking for a content control: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.contentcontrol?view=winrt-19041

[2021-02-25 00:37] shelllet commented on #4329
Can ContentDialog show as nonmodal Dialog  ?

[2021-02-25 00:38] StephenLPeters commented on #4296
Commented on your original issue.

[2021-02-25 00:38] #4296 closed

[2021-02-25 00:41] StephenLPeters commented on #4299
duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/3183

[2021-02-25 00:41] #4299 closed

[2021-02-25 00:45] StephenLPeters commented on #4335
@alwu-msft and @stevenbrix this sounds really similar to some issues we've had previously around the vsix not updating the project files with the sdk version, but we can't seem to find those issues.

[2021-02-25 00:46] StephenLPeters commented on #4329
No it cannot.

[2021-02-25 00:50] alwu-msft commented on #4335
@StephenLPeters No, I don't think is similar.

@jskop I don't think it should've been necessary to add an explicit reference to CsWinr 1.1.0 as we are already pulling it in for you.

@Scottj1s Any ideas what might be going wrong here?

[2021-02-25 00:55] shelllet commented on #4329
Yeah! you are right ,thks, i will close this issue.

![image](https://user-images.githubusercontent.com/16729017/109086710-1e51e900-7747-11eb-8ab7-d5a00d0497f0.png)

[2021-02-25 00:55] #4329 closed

[2021-02-25 01:00] duke7553 commented on #4327
@StephenLPeters Sure, here's a repro app: https://github.com/duke7553/files-preview

[2021-02-25 01:03] RealTommyKlein commented on #4114
Thanks for the report, this issue is specific to C# Desktop apps using .NET 5.  It'll be fixed in the next release of WinUI 3.

[2021-02-25 01:24] zhuxb711 commented on #4301
A better option is to provide an overflow menu if there are too many items in SecondaryCommand, just like the commandbar

[2021-02-25 01:29] mdtauk commented on #4301
That is already there.  You get the toolbar icons, and a "more" button that displays a drop down menu of additional items.

What we are talking about, is what happens when that bottom menu doesn't fit on the screen.

My suggestion is to enable the menu to appear above the icons, if there is not enough space below.  And the proposal is to enable more specific control of the size of the various part

[2021-02-25 02:38] shelllet commented on #4334
Great! thks.
![image](https://user-images.githubusercontent.com/16729017/109094805-8d363e80-7755-11eb-851f-a0f8bff4b0cb.png)

[2021-02-25 02:38] #4334 closed

[2021-02-25 06:52] KanniyappanP commented on #4152
Hi @marb2000

I have used ProtectedCursor from UIElement as you suggested instead of  using from CoreWindow (CoreWindow.GetForCurrentThread().PointerCursor).

I have used like below. but not working for me.

` ProtectedCursor = new CoreCursor(CoreCursorType.SizeNorthwestSoutheast, 0);`

Thanks.,

[2021-02-25 07:06] jskop commented on #4335
Here are my VS installations:
![image](https://user-images.githubusercontent.com/31615175/109115088-d3cc6e80-773e-11eb-8edf-5873eadeedcc.png)
Here are my .NET Core skds:
![image](https://user-images.githubusercontent.com/31615175/109115131-e777d500-773e-11eb-92d5-b2ecb912b8ee.png)
Error message without CsWinRT package:
![image](https://user-images.githubusercontent.com/31615175/109115772-d4b1d000-

[2021-02-25 07:52] shelllet commented on #4283
ScrollViewer  Control also have this problem.
[code]

[2021-02-25 08:24] shelllet commented on #4283
RichTextBlock Control also have this problem.
[code]

[2021-02-25 09:06] sigmarsson commented on #4338
I aim to spawn a new stand alone window by pulling out of its context. By today I learnt TabView might not be necessary fro this purpose. Probalby must only wire up the Drag & Drop related events of another, more simply control.

[2021-02-25 09:06] #4338 closed

[2021-02-25 09:18] jskop commented on #4335
Hi
I've fixed the issue. I installed x86 .NET 6 alpha some time ago which messed with targeting packs. Project dependencies were pointing to Microsoft.Windows.SDK.NET.Ref 10.0.18362.4-preview which was the root cause of CS0012. Included WinRT.Runtime.dll was also missing WinRT.IWinRTObject.
Anyways thank you for your engagement.

Best Regards,
jskop

[2021-02-25 09:18] #4335 closed

[2021-02-25 09:44] sigmarsson commented on #2331
Thanks @ranjeshj .
I detect somthign similar here; by default having the dark theme, the opening content dialog remains light.

[2021-02-25 12:47] sigmarsson commented on #4164
For me the `DispatcherQueue` works properly;

[code]

[2021-02-25 12:52] sigmarsson opened #4346 "Prism Incorporation"
Do you know when **Prism** capabilities will be available across a **WinUI project** ? Type registration and its messaging model is somewhat essential to communicate across view models.

[2021-02-25 13:44] sigmarsson commented on #719
Gosh, ample of splendid ideas aggregated here! `x:Type` would be cool e.g.

`<RadioButtons Style="{StaticResource {x:Type ToggleButton}}">`

[2021-02-25 14:38] dotMorten commented on #4164
Will the Dispatcher property be removed for 3.0?
I'd rather not see this property at all if it can't be used and realize it at compile time.
Otherwise this issue can probably be closed.

[2021-02-25 15:16] manurode commented on #2973
@jevansaks I'm using IInitializeWithWindow but I'm getting this:

System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))

[2021-02-25 16:10] Noemata opened #4350 "Microsoft.Xaml.Interactivity bug in WinUI 3 Preview 4 making further development a non starter."
**Describe the bug**
Microsoft.Xaml.Interactivity is not working as expected with WinUI 3 Preview 4.

Given the following XAML:

[code]

The CommandParameter is null when it should have the value of the Frame "ContentFrame" object.

**Steps to reproduce the bug**

You may use the following GitHub repository: https://github.com/Noemata/SimpleMVVM

Steps to reproduce the behavior:
1. Build SimpleMVV

[2021-02-25 16:53] dotMorten opened #4351 "MSTest project won't compile with WinUI referenced"
**Describe the bug**
If you create an MSTest project and reference WinUI you get build errors making it impossible to use these APIs in testing.

**Steps to reproduce the bug**
1. Create a new MS Test .NET 5 test project
2. Add WinUI 3 Preview 4
3. Try and compile and observe these errors:
[code]

Full csproj:
[code]

**Expected behavior**
Project compiles fine.

**Screenshots**

![image](https://

[2021-02-25 17:09] Marv51 commented on #3675
After looking into this a bit more, it does not seem to me like this is a documentation issue, it seems to not work. I have updated the title and the description.

@ranjeshj  Can you remove the "documentation" label?

[2021-02-25 17:26] chingucoding commented on #4292
Maybe the team can also way in on this, after all they are the ones confronted with this logo the most. @StephenLPeters @ranjeshj feel free to let them know, don't want to mass ping everyone here.

I don't think that the wrench is set in stone here, it existed in the old logo, but I don't think it is something you need to keep up. An issue with the "dev" badge I see is that it suggests there is a

[2021-02-25 18:18] Elttob commented on #4292
Yeah - I initially had reservations about the dev badge for that reason. I don't think it's too big of a deal, but I'd definitely welcome more feedback.

[2021-02-25 18:55] billhenn commented on #4184
@jeff-kissinger I'm trying the same thing injecting a custom header title bar element and my header element covers the system title bar buttons.  They are still there if I render the header semi-transparently.

If I try to put a margin on my header title bar element to give the system title bar buttons room to render, I found that they seem to "move" to top-right align within my title bar element.

[2021-02-25 19:20] duke7553 commented on #4350
@Noemata There is a separate repo for Microsoft.Xaml.Interactivity here: https://github.com/microsoft/XamlBehaviors where you might have more luck reporting the problem you faced.

[2021-02-25 19:22] duke7553 commented on #4327
@StephenLPeters The stack trace of this bug looks similar to what's been reported here https://github.com/microsoft/microsoft-ui-xaml/issues/4235 . I'm not sure if they're the same.

[2021-02-25 19:28] mdtauk commented on #4292
The current logo has a hammer, but the wrench is easier to draw geometrically 😜

This is why I created a Discussion rather than a proposal or PR for this.  Everyone should weigh in with ideas or comments.  Once some kind of consensus is reached, then we can worry about the implementation.

[2021-02-25 19:33] chingucoding commented on #4292
Problem is that there aren't many options that indicate "testing" or development.

Oh haha yes, totally forgot that haha, you are totally right.

👍

@mdtauk Could you rename the discussion while we are at it? The MUXTestApp is already open source so having a logo is something that shouldn't have to wait on WinUI 3 open source.

[2021-02-25 19:36] mdtauk commented on #4292
Done - I included the bit about opening source because I figured it would not be a priority until then, and the community can get more involved in ongoing work.

[2021-02-25 19:42] billhenn commented on #2232
I have really missed having x:Static since WPF.  It's a simple yet important feature that really needs to be in WinUI XAML, especially when trying to port over UI from WPF.  Is there any update from MS on if this will be added?

[2021-02-25 19:44] Noemata commented on #4350
@duke7553 , I do not feel it is appropriate to start there, since this may turn out to be a WinUI 3p4 issue irrespective of the fact that it initially looks like a XamBehaviors problem.  I may post this there also.  Thanks for the suggestion.

I'm leaning toward blaming WinUI because this works in UWP.  So it suggests the framework XAML behaviors is sitting on may be broken.  Unless Xaml Behaviors

[2021-02-25 19:45] mdtauk commented on #4292
There is this Icon used previously by Xbox for developement/construction
![image](https://user-images.githubusercontent.com/7389110/109207658-4706cc80-77a1-11eb-954d-cec5d44c4d27.png)

![image](https://user-images.githubusercontent.com/7389110/109207795-70275d00-77a1-11eb-8e39-1d3d4804a39c.png)

[2021-02-25 19:55] chingucoding commented on #4292
What about a small crane holding the WinUI logo (just uttering random thoughts here). Or how about a wrench working on the WinUI logo?

[2021-02-25 19:57] mdtauk commented on #4292
The WinUI logo would be pretty small if it has to fit inside a wrench, especially at 12 x 12 or 16 x 16 sizes

[2021-02-25 20:01] Noemata commented on #4057
@michael-hawker , given this: https://github.com/microsoft/XamlBehaviors/issues/213

It doesn't look like XAML Behaviors has had much testing against WinUI 3.  I consider the EventTriggerBehavior/InvokeCommandAction essential and a must have in order to be able to port even trivial UWP applications to WinUI.

[2021-02-25 20:01] chingucoding commented on #4292
Maybe not inside but rather underneath it or partially obstructed by the wrench?

[2021-02-25 20:04] mrlacey opened #4352 "[Docs] - Roadmap show wrong "latest version""
**Describe the bug**

The [image in the roadmap](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-30-timelines-and-milestones) incorrectly highlights Preview 3 as the latest version.

![roadmap image from above linked page](https://github.com/microsoft/microsoft-ui-xaml/raw/master/docs/images/winui-roadmap.jpg)

**Steps to reproduce the bug**

Steps to reproduce the

[2021-02-25 20:07] Noemata commented on #4057
While I'm here, could we please add this to XAML Behaviors: https://github.com/Noemata/SimpleMVVM/blob/master/SimpleMVVM/SimpleMVVM/Behaviors/EventToCommandBehavior.cs

I've seen other Microsoft devs use this within their UWP App store projects, so it's only fair to include this in XAML Behaviors for everyone to benefit.

[2021-02-25 21:12] PylotLight commented on #4062
I am also having this issue with a new .net 6 project.
This was configured: <TargetFramework>net5.0-windows10.0.18362.0</TargetFramework>
despite selecting 2004 for min and max project.

[2021-02-25 22:18] Noemata opened #4353 "WinUI 3 Preview 4 ContentDialog exception."
**Describe the bug**
The following code works in UWP, but generates an exception in WinUI 3 Preview 4:

[code]

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a solution with the above snippet of code.

**Expected behavior**
The code should work (not generate a System.ArgumentException)

**Screenshots**
n/a

**Version Info**

NuGet package version:
[Microsoft.WinUI 3.0.0

[2021-02-26 00:01] Noemata commented on #4353
Digging through the docs, I noticed that for WinUI's ContentDialog, you have to set the XamlRoot property before displaying the dialog.  This constitutes a breaking change compared to UWP's ContentDialog as it has no such requirement when instantiated through code.

This requirement complicates MVVM usage and will make porting certain UWP code more tedious.

If I'm hoisting up a Dialog from an MVV

[2021-02-26 00:07] StephenLPeters commented on #4353
ContentDialog will get the xaml root set automatically if you parent it to a page, like would be the case if you include it in your xaml file. So the simplest solution would be to put the content dialog in the same xaml file as the stuff you want it to display over. This is only an issue for content dialogs you make from code. It isn't an issue for UWP apps because there can only be one xaml root

[2021-02-26 00:08] #4353 closed

[2021-02-26 00:08] StephenLPeters commented on #4352
@anawishnoff FYI

[2021-02-26 00:09] StephenLPeters commented on #4351
@alwu-msft and @stevenbrix FYI

[2021-02-26 00:14] StephenLPeters commented on #4350
@MikeHillberg FYI @JesseCol looks to have temporarily removed behaviors from XCG and might know more about the current state of its support.

[2021-02-26 00:16] StephenLPeters commented on #4346
@ryandemopoulos FYI @sigmarsson this is prism you are referring to right? https://prismlibrary.com/#learn

[2021-02-26 00:30] vitorgrs commented on #4303
There was a proposal feature in 2018 Build, that would make possible to move any XAML page. Probably a dead feature, as no one talked about it anymore...

![Drag XAML](https://i.imgur.com/wGzWslj.gif)

[2021-02-26 00:47] Noemata commented on #4353
@StephenLPeters , agreed, except that parenting isn't necessary in UWP.  I'm not sure how UWP handles this, presumably through the AppModel's core window?

The behavior should be the same in both UWP and WinUI.  It would be unfortunate to require lots of compile time checks to select different code paths.  The goal should be to minimize friction from UWP to WinUI.  Some things are looking very goo

[2021-02-26 01:37] JesseCol commented on #4350
Hi all, I removed XamlBehaviors from XCG a while back, I don't think it had been updated to work with WinUI 3 at that point.  But it looks like @azchohfi may be working on XamlBehaviors to keep up with the latest WinUI 3 previews -- maybe he knows if this is working well today?

[2021-02-26 02:55] zhuxb711 commented on #4339
Anyone will check this issue？I think this a critical issue in TabView

[2021-02-26 07:00] #4144 closed

[2021-02-26 08:40] alexdi220 opened #4362 "The descendant of standard ComboBox loses CornerRadius"
**Describe the bug**
Hi, it looks very strange but the inheritor of ComboBox loses CornerRadius

**Steps to reproduce the bug**
[code]

[code]

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/47348109/109276604-49136e80-7827-11eb-998b-b4c968d2b5c8.png)

**Version Info**

NuGet package version:

[Microsoft.WinUI 3.0.0-preview4.210210.4] If you seeing your

[2021-02-26 09:38] michael-hawker commented on #4057
@Noemata you should open new issues for requests about adding a specific Behavior on the Behavior repo itself and not on a different bug thread in the WinUI repo.

@chrisglein the sample provided @KarthikRajaAKR contains a copy of the behaviors code within the project itself, so you can test just on top of WinUI itself.

@KarthikRajaAKR it wasn't clear from me in the report (and I can't seem to bu

[2021-02-26 11:05] KarthikRajaAKR commented on #4057
Hi @michael-hawker,
Both scenarios are not working, I integrated the code just to check the issue. In both scenarios, I suspect that binding is the issue.

[2021-02-26 13:15] sigmarsson commented on #4303
wow. you snatched it, I wasn't aware of this initiative took place. The seniors will decide it whether this one will be on the control smorgasbord or let the individuals forge it. I attempted but to no avail.

[2021-02-26 13:20] sigmarsson commented on #4346
Yes and they opened dialog with the community as well, I guess ; https://github.com/PrismLibrary/Prism
Through Uno - Prism.Uno - it is supposed to be feasible but never tried it for size, neither did I fully understand the concept and Uno/Prism architecture per se.

[2021-02-26 13:34] Fernand-Delavy opened #4363 "WinUI for Desktop Print"
Visual Studio 2019 16.9.0 Preview5.0 and Windows 10 Pro 19042.844
Goal is use of Windows WinUI for Desktop
1. I do not found how to change the app Titre from WinUI Desktop to my name
   this crash :
     var appView = ApplicationView.GetForCurrentView();
     var titleBar = appView.TitleBar;
2. Then i want to print app crash
    The print works on UWP standard App
    The print works on UWP WinUI

[2021-02-26 14:18] mageshsankar opened #4364 "Focused moved to first control contained inside scroll viewer when clicking on empty space in application"
**Describe the bug**
Focused moved to first control contained inside scroll viewer when clicking on empty space in application.

**Steps to reproduce the bug**
1. Run the application.
2. Focus Second TextBox contained inside stackpanel.
3. Now, click on empty space in application.
4. Note, Focused moved to first TextBox control when clicking on empty space in an application.

**Expected behavior**

[2021-02-26 17:20] Noemata commented on #4057
[code]

I traced through the XAML behaviors code with a WinUI project.  Here's a screenshot of the problematic code:

![image](https://user-images.githubusercontent.com/6632315/109332675-6dbe1500-782c-11eb-9566-341afafd58e7.png)

@michael-hawker , it's quite disappointing to see this sort of flaw slip through on WinUI 3 Preview 4.  This should be caught by automated testing before it gets out the

[2021-02-26 17:35] sigmarsson opened #4366 "XLS0502 XAML The type 'RadioButtons' does not support direct content."
The XAML Controls Gallery app recommends direct content of this control. I witness this error, though a rebuild makes it vanished.

![image](https://user-images.githubusercontent.com/43340959/109334564-2dc55500-7861-11eb-8b21-aefb20f47477.png)

![image](https://user-images.githubusercontent.com/43340959/109334618-3f0e6180-7861-11eb-9557-2e4b7cd102d3.png)

[2021-02-26 17:36] Noemata commented on #4057
Looks like the binding expression -> CommandParameter="{Binding ElementName=Stack}" is broken in WinUI 3 Preview 4.

[2021-02-26 17:45] Noemata commented on #4350
@azchohfi, I tested a bunch of binding expressions with the Preview4 branch of XAML Behaviors.  Was any of this tested?  I see many things not working.  I can't tell what layer is at fault.

In future, please include release notes with XAML Behaviors so we know what to expect, if things are broken during your testing.  That said, this level of quality shouldn't get out the door.  Sorry to have to

[2021-02-26 17:48] Noemata commented on #4057
See the following for specific details: https://github.com/microsoft/microsoft-ui-xaml/issues/4057

[2021-02-26 18:17] Noemata commented on #4057
x:Bind works -> CommandParameter="{x:Bind Stack}

[2021-02-26 18:32] Noemata commented on #4353
I disagree with the closure of this issue, since this is a breaking change that complicates porting UWP code to WinUI.

[2021-02-26 18:41] mc0re commented on #4138
Way to go, Microsoft. Ask for more info and ignore the answer.

[2021-02-26 19:29] #4352 closed

[2021-02-26 19:35] Noemata commented on #4305
Some design choices may appear heavy handed at first (e.g. prominent selection regions), but such choices do help those that have partial visual impairment.  UX design aesthetics have practical usability considerations that go beyond a given fashionable design paradigm.  Does WinUI have a UX design team with appropriate UX usability credentials that include disability awareness as well as current

[2021-02-26 19:49] sigmarsson opened #4367 "Are you TempleteBinding savvy ?"
I have set a `TempleteBinding` between properties but target is not updating when source is.

`IsChecked="{TemplateBinding IsChecked}" `

WPF offers `UpdateSourceTrigger` to get updated, is there anything similar existing here too ?

[2021-02-26 21:29] ismaelestalayo opened #4369 "TeachingTip should follow BorderThickness"
# Proposal: `TeachingTip` should follow the specified BorderThickness

## Summary

The `TeachingTip` control can be personalized with various attributes, like `BorderBrush`, but it does not follow the `BorderThickness` attribute. Simply create a new `TeachingTip` in any app and change the `BorderBrush` and `BorderThickness` attributes like so to reproduce:
[code]

![image](https://user-images.gith

[2021-02-26 21:55] almedina-ms opened #4370 "[BreadcrumbBar] FocusVisualMargin doesn't match design, is too wide."
**Describe the bug**
The FocusVisualMargin for the BreadcrumbItem control does not match the figma design
* For regular items the margin is too close to the content
* For the dropdown items the margin is too big so it ends up outside of the flyout

**Steps to reproduce the bug**
Do keyboard navigation over the breadcrumbbar control

**Screenshots**

The margin is too small on the vertical side and

[2021-02-26 22:01] anawishnoff commented on #4305
@Noemata Yes, we work with an awesome design team who has vast knowledge of usability as well as accessibility.

[2021-02-26 22:03] almedina-ms opened #4371 "[BreadcrumbBar] Investigate a fix for BreadcrumbItems in flyout not being Recycled correctly"
**Describe the bug**
As of v1 of the BreadcrumbBar we're not recycling the elements inside of the Ellipsis drop down, by not recycling we may be generating performance or memory use issues so we must do an investigation to find a way to help recycle those elements

[2021-02-27 04:02] Jaiganeshkumaran commented on #4188
![2021-02-27 (1)](https://user-images.githubusercontent.com/45227503/109374840-46c01b80-78de-11eb-9f00-84d1b79178e4.png)
Now app bar buttons have rounded corners however there's no space in between which is against the guidelines which say there shouldn't be a rounded corner when there's no space in between.
![2021-02-27 (3)](https://user-images.githubusercontent.com/45227503/109374903-afa79380-78

[2021-02-27 09:24] sigmarsson opened #4373 "How to replace RadioButton with ToggleButton ?"
I forged this but have bugs, what is your take on ?

[code]

[code]

This isn't working properly.

1. Now you can uncheck the toggle buttons.
2. The parent templated property value reflects only at start up. Later the radio button's IsChecked property not reflecting to the buttons'..

How would you solve these ?

[2021-02-27 11:48] sigmarsson commented on #4373
#4367

[2021-02-27 11:49] sigmarsson commented on #4373
This is supposed to be an error in the UWP framework as well :

https://github.com/MicrosoftDocs/windows-uwp/issues/2268

[2021-02-27 12:57] PylotLight commented on #2731
I assume there's no progress to report on setting size for a UWP/Desktop window?
Couldn't get that SetWindowPos example to work in my basic app unfortunately.

[2021-02-27 13:00] #4172 closed

[2021-02-27 17:08] sigmarsson opened #4374 "Will you port AccountsSettingsPane Class to WinUI ?"
https://docs.microsoft.com/en-us/uwp/api/Windows.UI.ApplicationSettings.AccountsSettingsPane?view=winrt-19041

[2021-02-28 03:15] Elttob commented on #4292
Here's some ideas I came up with - I quite like the look of the three on the right, personally:

![image](https://user-images.githubusercontent.com/11815374/109406677-078fda00-7973-11eb-8519-9b754df727dd.png)

They're all designed on a 16x16 grid, so they'll be easy to scale up later and should look crisp at any size:
![image](https://user-images.githubusercontent.com/11815374/109406704-31490100-7

[2021-02-28 14:46] Fernand-Delavy opened #4375 "WinUI for Desktop"
i use Visual Studio 16.9.0.Preview 5.0

App can't print because crash:
PrintManager manager;
manager = PrintManager.GetForCurrentView(); // System.Runtime.InteropServices.COMException: 'Interface non enregistrée (0x80040155)'
The print capability is important

Can't change Windows title from 'WinUI Desktop' to app name

MessageDialog crash work arond use ContentDialog ?

[2021-03-01 00:01] #3220 closed

[2021-03-01 05:43] hez2010 opened #4377 "AccessViolation 0xC0000005 was thrown while calling AddHostObjectToScript"
**Describe the bug**

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a WinUI 3 project (either UWP or Desktop)
2. Follow https://docs.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.addhostobjecttoscript
3. `AccessViolation ` was thrown while calling `AddHostObjectToScript`

**Expected behavior**

No exception was thrown.

**Version Info**

NuGet

[2021-03-01 07:50] jskop opened #4393 "(Desktop) WebView2Page throws exception during initialization"
Opening WebView2 throws exception:
**Exception thrown at 0x7743A8B2 in XamlControlsGallery.Desktop.exe: Microsoft C++ exception: winrt::hresult_error at memory location 0x0317AB70.**

![image](https://user-images.githubusercontent.com/31615175/109467166-135ec780-7a6b-11eb-8c30-183c0a477992.png)

[2021-03-01 09:15] kalintodorov commented on #2539
This is still reproduceable with preview 4 - only in the desktop version, UWP works as expected.

[2021-03-01 10:55] emimvi opened #4378 "Question: Is it possible to use newer WebView2 (pre)releases with UWP WinUI3 (C#)?"
For WPF i can just download the WebView2 nuget package and get going with the newest prerelease version. However as i understand it, in WinUI3 the WebView2 control is bundled into the package?

Does this mean that the WinUI3 WebView2 version will generally be a bit behind WPF/WinForms, or is there anything i can do myself (possibly locally) to get a newer version? I tried looking for the source to

[2021-03-01 11:01] sigmarsson commented on #4373
#1 can be resolved with a custom control :

[code]

[2021-03-01 11:29] bridgesquared opened #4379 "Keyboard Accelerator with Menu (Alt) Modifier plays an alert sound (WinUI Desktop)"
**Describe the bug**
If you add a keyboard accelerator to a control (typically button, appbarbutton etc.) that uses the Menu modifier (the Alt button), when the accelerator is invoked, the required action is processed but we get a spurious windows alert sound played at the same time. This is somewhat disconcerting for users as it makes them think they did something wrong and to be honest it's real

[2021-03-01 13:19] ssaran046 commented on #3918
Hi Team,

Any update on this issue?

[2021-03-01 13:34] Noemata commented on #4305
@anawishnoff , that's cool.  You might want to surface their designs here for this sort of change.

[2021-03-01 13:58] ameyasv opened #4380 "Focus jumps to the top when a text box is the first element"
Load the attached sample UWP project (POC_uwp_bug.zip)
1. Scroll down to any actionable item, so that the top textbox is out of the viewport
2. Click on this actionable element, button or toggle button.
3. Afterwards click next to the button, or above, or below, but not another actionable element
4. The focus will jump up to text box at the top

Expected:  The focus does not change

See the attach

[2021-03-01 15:02] wbokkers commented on #2716
The workaround described by @akanieski does only work when using PickSingleFileAsync().
An exception is still thrown when using PickMultipleFilesAsync().

See: https://gist.github.com/wbokkers/cc8bcc7bc5a646b82a4d41b337330c69#gistcomment-3649439

[2021-03-01 15:04] wbokkers commented on #3295
The workaround mentioned by @cornem is not working when using PickMultipleFilesAsync()

See: https://gist.github.com/wbokkers/cc8bcc7bc5a646b82a4d41b337330c69#gistcomment-3649439

[2021-03-01 15:10] gabrielconl commented on #4116
The new titlebar buttons in WinUI3 Preview 4 have the same issue, as they probably also use Path.
![caption](https://user-images.githubusercontent.com/78622729/109516244-a40bc680-7ab0-11eb-9deb-7f7e0fd1169b.png)

[2021-03-01 15:27] eleanorleffler commented on #2714
Hi @marb2000 ,

I have actually opened a new issue for Preview 4 (#4197) - closing this issue is fine, but the bug can be replicated in Preview 4!

[2021-03-01 15:46] kalintodorov commented on #4035
Any updates on this issue?

[2021-03-01 16:11] zadjii-msft opened #4382 "IsLightDismissEnabled TeachingTip in Xaml Islands dismisses itself immediately if the window is unfocused when the Tip is opened"
**Describe the bug**

**Steps to reproduce the bug**

I'm seeing the following behavior in the Terminal when trying to ad a TeachingTip. I'm trying to work out a more minimal repro currently, but I'm sure that this doesn't happen in a pure UWP app.

1. Create a XAML Islands application
2. Add an unfocused teaching tip to that app, initially closed, with `IsLightDismissEnabled="True"`
3. Add a butt

[2021-03-01 16:27] gabrielconl opened #4383 "Menus that received the visual update are inconsistent"
Some controls with similar menus received the new visual update, but results are sligthly inconsistent. I made a table with the differences I found:

| Control          | Item height | Menu padding                                                                                   | Padding between items | Remarks                                                    |
|------------------|-------------

[2021-03-01 16:28] licanhua opened #4384 "Absolute dir should not be used in microsoft.ui.xaml.vcxproj"
I don't know what's it's for, but D:\repos and T:\repos should not be used in our code
[code]

[2021-03-01 16:52] AndreMarschalek opened #4385 "XAML editor not detecting the "Content" metadata tag for properties. I.E: MenuBar.Items"
**Describe the bug**
[The type 'MenuBar' does not support direct content.] after adding MenuBar and MenuBarItem

**Steps to reproduce the bug**
Create a new project "C#, Windows, WinUI" "Blank App, Packaged (WinUI in Desktop)"
Add a MenuBar and MenuBarItem

**Expected behavior**
no "error" message

**Screenshots**
![image](https://user-images.githubusercontent.com/39925052/109528450-f7801380-7ab4-

[2021-03-01 16:58] stevenbrix commented on #1805
This was fixed in WinUI 3 Preview 3. Closing.

[2021-03-01 16:58] #1805 closed

[2021-03-01 16:59] chrisglein commented on #4380
If you replace that TextBox to a Button and turn on “Track Focused Element” you can see that if you click in the scroll gutter focus goes to the first Button. It doesn’t scroll the Button into view, but it does change focus to the first focusable element. So I don’t believe this is a TextBox-specific issue.

@RBrid  is this behavior of the ScrollViewer moving focus on clicking in the gutters expec

[2021-03-01 17:13] zhuxb711 opened #4386 "Question: How to make AppBarButton HorizontalAlignment.Stretch in CommandBarFlyout in C#"
Now I want to add AppBarButton to CommandBarFlyout.SecondaryCommand. But I could not make it fill the container. Like this:
![image](https://user-images.githubusercontent.com/42038175/109532686-53b65800-7af4-11eb-88e3-8d11d81d0584.png)

I tried Set HorizontalAlignment = HorizontalAlignment.Stretch but takes no effect.

If AppBarButton was added in XAML, it work well. If I add AppBarButton in C#, t

[2021-03-01 17:20] chrisglein commented on #4380
Dupe/related to #597?

[2021-03-01 18:03] zadjii-msft commented on #4382
A new observation after playing with this a bit more:

It seems like the _first_ time the `TeachingTip` is displayed in an inactive window, it immediately dismisses itself. The _second_ time however, the Tip stays open like you'd expect:

![teaching-tip-dismiss-001](https://user-images.githubusercontent.com/18356694/109538340-91c86300-7a85-11eb-969f-999644d0c931.gif)

[2021-03-01 19:28] chingucoding opened #4388 "[dev/internal] Introduce IsDropShadowAvailable helper with caching"
AS noted [here](https://github.com/microsoft/microsoft-ui-xaml/pull/4328/files#r583926771) we should switch to a helper method used by all controls for more performance and less repetitive code.

[2021-03-01 19:37] sigmarsson commented on #4378
#4306

[2021-03-01 19:50] groovykool opened #4389 "FrameworkElement.RequestedTheme Does not change Themed Backgrounds on Panel derived FrameworkElements"
**Describe the bug**
FrameworkElement.RequestedTheme Does not change Themed Backgrounds on Panel derived FrameworkElements when the RequestedTheme of the Grid, Canvas or StackPanel is changed.

**Steps to reproduce the bug**
Repo:https://github.com/groovykool/JWEasyTheme.git

Create a XAML Grid with the Background set to a ThemeResource.
Set the Grid.RequestedTheme to Light and Dark and observe th

[2021-03-01 19:59] sigmarsson commented on #4375
Yes ContentDialog.

[2021-03-01 20:22] robloo opened #4390 "Bug: Expander Events Naming"
I noticed that expander has two events: `Expanding` and `Collapsed` that are named differently.

https://github.com/microsoft/microsoft-ui-xaml/blob/4208a01f744690329f6cd326e722d9c78e2358e8/dev/Expander/Expander.idl#L30-L31

`Expanding` implies the event is fired before the control is expanded and `Collapsed` implies after. Therefore, a difference in naming here concerned me so I went to check the

[2021-03-01 20:53] billhenn commented on #4114
@RealTommyKlein - Do you have a ballpark idea of when the next release with the fix will be out?  I am just getting into WinUI 3, trying to port things from UWP and am running into this issue in multiple spots.  Any chance it will be out soon?

[2021-03-01 21:05] robloo commented on #4390
We might want to rename both to `Expanded` and `Collapsed` and move raising of the events until after the state is applied then.

Another wrench in the naming convention is the 'Preview' suffix. That may be needed instead as it seems to be the more recent convention but I can't find the docs at the moment.

 1. PreviewExpanded
 2. Expanded
 3. PreviewCollapsed
 4. Collapsed

[2021-03-01 21:31] robloo opened #4391 "Bug: Expander Should Not Have a MaxWidth"
**Describe the bug**

Expander has a MaxWidth set in the template:
https://github.com/microsoft/microsoft-ui-xaml/blob/4208a01f744690329f6cd326e722d9c78e2358e8/dev/Expander/Expander.xaml#L26

This prevents `HorizontalAlignment = "Stretch"` from working (which is also set by default in the style). Instead, just like other controls, MaxWidth should be unset (double.NaN) and `HorizontalAlignment = "L

[2021-03-01 22:00] michael-hawker commented on #4391
🦙 Related to #4248.

[2021-03-01 22:01] michael-hawker commented on #4248
🦙 Also see #4391 and #4390 which should be resolved before shipping stable as well.

[2021-03-01 22:05] michael-hawker commented on #4390
Could be interesting to have a `Expanding`/`Collapsing` in the future, but we haven't seen a need from folks to support pro-actively cancelling the user trying to expand/collapse something. That seems a bit odd of a scenario for this type of UI. It's not something we supported in the Toolkit, we used `Expanded` and `Collapsed`.

So, I agree this should be `Expanded` and `Collapsed` and they should

[2021-03-01 22:09] robloo commented on #4390
I have a need for the Expanding and Collapsing events which is what caused me to write the original comment.

When there are many properties in an editor it is common to group them and put them in an accordion-style layout with Expanders stacked on top of one another. In my case, to save space, only one Expander should be opened at a time in the accordion. However, at least one expander should alw

[2021-03-01 22:15] mdtauk commented on #4383
I would suggest that someone should be assigned to audit all menu flyout controls to ensure consistency is attained, and maintained during the Visual Refresh process.

[2021-03-01 22:16] robloo commented on #4390
I should add there are many 3rd party expander controls that have the preview events as well.

https://docs.telerik.com/devtools/wpf/api/telerik.windows.controls.radexpander

Microsoft should not artificially constrain what controls can do just because they can't imagine what may be possible. I like to leave what is possible and what makes sense for their unique use cases up to app developers and

[2021-03-01 22:19] RealTommyKlein commented on #4114
@billhenn - we haven't announced a date for the next release, but the monthly WinUI community calls are the best source of information.  The [next one on March 17th](https://www.youtube.com/watch?v=gnPJ0t7rFnA&ab_channel=WindowsDeveloper) should have more concrete information on our next release.

[2021-03-02 00:02] chrisglein commented on #4265
Based on this comment it looks like this isn't behaving the same as WPF. But not necessarily a difference between UWP and WinUI3. I've tagged the bug accordingly.
[code]

Based on this comment it sounds like the binding works in other places, but not specifically with the GridViewItemPresenter:

Meta observation: Debugging binding issues can be hard for app authors. _However_, some relief has come

[2021-03-02 03:34] codendone commented on #4378
You are correct that the WebView2 element is part of the overall WinUI3 package, and the WebView2 element uses the CoreWebView2 Runtime. The source for the WinUI WebView2 element will eventually be open source with the rest of WinUI3, but we don't have a specific timeline for that, yet.

If your question is about a desire to test with a Beta, Dev, or Canary channel of the WebView2 Runtime, so that

[2021-03-02 05:49] robloo commented on #4255
I just reproduced this in the MUXControlsTestApp with https://github.com/microsoft/microsoft-ui-xaml/pull/4394 applied.

Expanders are now within a ScrollViewer on the test page since there are too many expanders to show at once. When some controls are expanded, and then the mouse scroll wheel is used, layout cycle crash occurs.

![gifexample](https://user-images.githubusercontent.com/17993847/109

[2021-03-02 08:17] BorzillaR commented on #3336
Update for Preview 4

![image](https://user-images.githubusercontent.com/23479280/109618648-d8cb5c80-7b48-11eb-8fae-6f0615b98fcd.png)

[2021-03-02 10:11] bridgesquared commented on #4152
Hi @KanniyappanP

I had the same experience of using `ProtectedCursor` and finding that the mouse pointer didn't change, really wound me up for a while but I needed to give the user the visual feedback of being busy so perservered.

Firstly I can confirm that `ProtectedCursor` does work, so stick with it.

The issue I found was that I had a `UserControl` containing the `Button` that triggered the

[2021-03-02 10:40] Dalli2602 opened #4395 "Combobox Itemtemplate WinUI 3 Preview 4"
I always get an error while adding an Itemtemplate to a combobox in winui preview 4.

   <ComboBox ItemsSource="{x:Bind vm.personList}" DisplayMemberPath="FirstName" Margin="8" SelectedItem="{x:Bind vm.SelectedPerson, Mode=TwoWay}">
            <ComboBox.ItemTemplate>
                <DataTemplate >
                    <StackPanel>
                        <TextBlock Text="{Binding Path=LastName, M

[2021-03-02 11:28] terrycox commented on #4351
The same MSB3843 errors occur using NUnit with its own TestAdapter and TestFramework when including Microsoft.NET.Test.Sdk.

[2021-03-02 12:42] mageshsankar opened #4396 "ComboBox dropdown arrow cropped and size reduced while customising the height using Style property"
**Describe the bug**

While customising the height of ComboBox using `Style` property , the dropdown arrow cropped. If we use direct `Height` properties, then it working fine.

Note: It will occurred while we setting small value to `Height` property.

Sample:

[ComboBox_DropDownCropped.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6068629/ComboBox_DropDownCropped.zip)

**Steps to repro

[2021-03-02 17:13] sigmarsson commented on #4389
I witnessed something similar in version 3 Preview 4. There is also a Grid layout on a Page. #4270

[2021-03-02 18:29] adambarlow commented on #2571
As we move investments to WinUI 3 and WebView2 we will not be doing feature investments here in WebView as requested in this issue.

[2021-03-02 18:29] #2571 closed

[2021-03-02 19:50] get-flat opened #4397 "Question: x64 performance (SystemHook.dll)"
Default WinUI preview4 Desktop template App.

Question/Issue: Debug/Release x64 configuration has significantly worse UI performance then Debug/Release x86.

Not sure if directly related but for x64 on every UI interaction (i.e. mouse hover over button) debug output logs:
'App1.exe' (Win32): Loaded 'C:\Program Files\Windows Client Utility\Windows Client Utility Files\bin\SystemHook.dll'.
'App1.exe

[2021-03-02 21:37] carlos-zamora opened #4399 "TextBlocks are not read by screen readers when they are used in a XAML Islands app"
**Describe the bug**

`TextBlock`s are not read by Narrator and NVDA when they are used in a XAML Islands app.

**Steps to reproduce the bug**
Verified this behavior in the following places:
- Windows Terminal Settings UI (NavigationView scenario)
- [Xaml Islands Sample App](https://github.com/microsoft/Xaml-Islands-Samples)
  - "Win UI Navigation" is not read in the navigation view (even if a but

[2021-03-02 22:58] pavelpokutnev opened #4401 "Question: Use C++/WinRT Windows Runtime Component in the WPF application"
Dear WinUI-Team,
I'm starting to evaluate the WinUI 3 Preview 4 and I would like to test following scenario:

1. Create a Windows Runtime Component (WinUI) with C++/WinRT.
2. Use this Component inside of a WPF C# application.

I didn't found any example for this scenario yet, that why my questions below:

1. Is this scenario already supported?
2. Are there any limitations, e.g.: .NET Framework ver

[2021-03-02 23:12] chrisglein commented on #4256
Could this be a regression resulting from the lack of a CoreWindow?
Regression between preview3 and preview 4.

[2021-03-02 23:16] chrisglein commented on #4207
@mvegaca Just for confirmation did this stop working with preview4 and work on earlier previews, or did it stop working for you with WinUI3?

[2021-03-02 23:22] chrisglein commented on #4196
Primarily WinUI 3.x is first tackling lifting the modern UWP set as is. Which would imply this remains a limited access feature for now (under the assumption that things work as they did before, as much as possible). But it's a valid question as to whether/when this should open up. I don't have the history on this but I'll try to track it down.

[2021-03-02 23:27] chrisglein commented on #3360
Closing out this issue, cuz

🎉

[2021-03-02 23:27] #3360 closed

[2021-03-02 23:32] chrisglein commented on #3333
Not sure why this isn't a shareable instance. This seems like it should be a plain old data type, not something with state.

[2021-03-03 00:00] StephenLPeters commented on #4390
The problem is that API's have costs, not only in terms of not only implementing, maintaining, and documenting, but also package size as well as a tiny bit of performance, additionally every added api makes the process of a developer learning the proper way to use a control a little bit harder. So we don't want to add APIs that could go unused, luckily we are developing in the open and can see hug

[2021-03-03 00:04] robloo commented on #4390
@StephenLPeters Thanks. I should add as I've mentioned before I'm not asking for Microsoft to invest in this sort of thing. As it is an open-source project I would be happy to implement it myself in the future -- I only want to make sure Microsoft keeps an open mind which has been a struggle in the past. I'll open a separate feature proposal about this topic. It's mentioned a few separate places n

[2021-03-03 00:05] StephenLPeters commented on #4401
Winui3 Preview 4 does not support Xaml Islands, ie hosting a winui component in a wpf app. However Winui2 does, so today you could do what you are proposing using winui2 and xaml islands. Here is some documentation: https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/xaml-islands.  We do plan on supporting xaml islands with winui3 some day, but it isn't ready yet.

[2021-03-03 00:05] #4401 closed

[2021-03-03 00:06] StephenLPeters commented on #4399
@JesseCol or @Austin-Lamb can you weigh in?

[2021-03-03 00:09] StephenLPeters commented on #4397
@bartekk8 FYI.  @Austin-Lamb

[2021-03-03 00:13] StephenLPeters commented on #4396
@mageshsankar do you know if this is also an issue in System Xaml? (Winui2)

[2021-03-03 00:17] StephenLPeters commented on #4396
Looking at the template I see that the chevron textblock has its min height set to the theme resource ComboBoxMinHeight which has a value of 32. You can try overriding that resource and see if that allows your chevron to scale to a smaller size and not get clipped.

[2021-03-03 00:18] StephenLPeters commented on #4395
@Dalli2602 thanks for the issue report, can you please include a repro app? It will help us track down the issue a lot.

[2021-03-03 00:26] StephenLPeters commented on #4389
I think this is by (bad?) design.  Reading the documentation here: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.requestedtheme?view=winrt-19041 RequestedTheme changes the resource lookup for the default template. Grid doesn't have a template, so I think it is expected that it would not change any of the properties on grid, but it would affect children of that grid.

[2021-03-03 00:27] StephenLPeters commented on #4389
Closing the issue but feel free to comment back here if you want to discuss more. :)

[2021-03-03 00:27] #4389 closed

[2021-03-03 00:32] StephenLPeters commented on #4386
This should just work without you needing to do any adjustments to app bar button.. Can you provide the code your using to add the app bar button? Maybe include a repro project as well.

[2021-03-03 00:34] StephenLPeters commented on #4385
@RealTommyKlein and @fabiant3 FYI

[2021-03-03 00:36] StephenLPeters commented on #4384
@licanhua what file is this? Update is a no op if the entry isn't found, which would explain why this isn't causing issues.

[2021-03-03 00:41] StephenLPeters commented on #4383
@gabrielconl Thanks for bringing these up! we are aware that there are some things which still need polish, this work is very much still in progress. We can report back when we think we are done, if you'd be willing to give it another close look :)

[2021-03-03 00:48] StephenLPeters commented on #4382
This scenario seems pretty weird.  Moving focus away from your application is a light dismiss action, so you would expect that to dismiss the teaching tip.  Other light dismiss surfaces can't really occur if there is no user interaction, so they would never open when the app doesn't have focus.  I think the issue here might be that teaching tip is opening at all when in light dismiss mode and the

[2021-03-03 00:51] ojhad opened #4405 "Update Localization Id & Key"
**Describe the bug**

The current clientid/key pair we are using for the Touchdown localization service has been revoked. We need to update these values as well as improve the way we are handling the touchdown key.

[2021-03-03 00:52] StephenLPeters commented on #4380
looks like a dupe to me

[2021-03-03 00:52] #4380 closed

[2021-03-03 00:55] #4378 closed

[2021-03-03 00:57] StephenLPeters commented on #4393
@adambarlow and @codendone

[2021-03-03 00:57] StephenLPeters commented on #4377
@adambarlow  and @codendone

[2021-03-03 01:00] StephenLPeters commented on #4375
@Austin-Lamb FYI. @Fernand-Delavy I haven't seen PrintManager before, but the api's that have *ForCurrentView() generally use the core window, which isn't supported in Winui3 preview 4.  I don't know if this has another way to do it or not.

[2021-03-03 01:02] StephenLPeters commented on #4374
@MikeHillberg Do you know what this is?

[2021-03-03 01:05] StephenLPeters commented on #4373
RadioButtons doesn't actually require its children to be of type radio button.  It only requires that they be toggle buttons (a base class of RadioButton) so you should just be able to do something like:
[code]

[2021-03-03 01:07] StephenLPeters commented on #4373
check out this issue which talked about retemplating radio buttons while using toggle buttons https://github.com/microsoft/microsoft-ui-xaml/issues/3759

[2021-03-03 01:13] StephenLPeters commented on #4367
Can you please provide more details about how you achieved the behavior you think is incorrect?

[2021-03-03 01:14] StephenLPeters commented on #4366
duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/4385

[2021-03-03 01:14] #4366 closed

[2021-03-03 01:16] StephenLPeters commented on #4366
You can fix locally by doing

[code]

[2021-03-03 01:16] StephenLPeters commented on #4385
@AndreMarschalek you can fix this locally by doing
[code]

[2021-03-03 01:18] StephenLPeters commented on #4364
Duplicate of https://github.com/microsoft/microsoft-ui-xaml/issues/4380 except this is in Winui3preview.

[2021-03-03 01:21] StephenLPeters commented on #4363
similar to https://github.com/microsoft/microsoft-ui-xaml/issues/4375 @Fernand-Delavy is there a difference between these two issues?

[2021-03-03 01:26] StephenLPeters commented on #4362
I think that, because of the way that Winui2 is currently being integrated into winui3, you need to include this in your application.resource or page.resources

[code]

[2021-03-03 01:27] StephenLPeters commented on #4362
Closing the issue, but if this doesn't work or you want more info just post back here.

[2021-03-03 01:27] #4362 closed

[2021-03-03 01:31] StephenLPeters commented on #4353
In UWP there is alway only one xaml root, so the system is able to infer that the singleton is the one it should use.  You can set the XamlRoot in UWP it wont hurt, so you don't need a compile time check, you could just always set it.

I closed this issue because it is a dupe of #4251 and we like to have only one open issue per actual issue.

[2021-03-03 02:02] robloo opened #4407 "Proposal: Add the Ability to Cancel Expand/Collapse of the Expander"
# Proposal: Add the Ability to Cancel Expand/Collapse of the Expander

## Summary

In some cases it is necessary to programmatically override user selection and cancel either expanding or collapsing the Expander control (specific case described below).

In order to support this, the following Events/Properties should be added:

[code]

Cancellation and the Expanding/Collapsing events should follow

[2021-03-03 02:35] pratikone commented on #4269
In the current iteration of Window Chrome, it doesn't work with applying a background to the titlebar element. Hence, in the code above removing `Background="Transparent"` from AppTitleBar should make the buttons functional again. I tested it locally and it worked. Also as a recommendation, a 40 width should give enough depth to the titlebar for mouse hover over min/max/close to work. We will work

[2021-03-03 04:09] Samuel12321 opened #4408 "Add .net5 Support to XAML islands"
## Rationale
We currently have a app that was moved over to .net5 from .NET Framework 4.7. The decision has been made to use XAML Islands to modernize the UI. As WINUI 3 does not currently nor will in the near future support, rounded corners for top level windows which is essential for this app. In order to use XAML Islands we will have to migrate back to .NET Core 3.1.

If you want to encourage a

[2021-03-03 04:27] codendone commented on #4377
This API is not yet implemented in the core WebView2 WinRT API.

[2021-03-03 05:48] phizch commented on #4393
Also mentioned here: https://github.com/microsoft/microsoft-ui-xaml/issues/4206, and on the WebView2 issues list (There's a link above, I think)

[2021-03-03 05:50] YuliKl commented on #4321
Thank you @mdtauk for filing this issue. How did you build the shopping bag button? Is it a NavigationViewItem with no Content only an Icon?

[2021-03-03 05:59] groovykool commented on #4389
But the Grid theme works correctly when the RequestedTheme is set on the Frame or Page.  If its due to Grid not having a default template, why does it work on the Grid when it is the child of Page and the RequestedTheme is set on the Page?

[2021-03-03 06:40] mdtauk commented on #4321
Its in the MUXTestApp which I assume tries to keep the examples as relevant as possible

![image](https://user-images.githubusercontent.com/7389110/109764163-18e31b80-7beb-11eb-8ac0-aa7cb3dc1b5e.png)
![image](https://user-images.githubusercontent.com/7389110/109764215-2e584580-7beb-11eb-9cae-fbb409dde337.png)

![image](https://user-images.githubusercontent.com/7389110/109764334-534cb880-7beb-11eb-

[2021-03-03 06:51] mageshsankar commented on #4236
Hi Team,

Compact mode resources also not merging for controls placed in the popup.

Thanks
Magesh

[2021-03-03 07:00] #4200 closed

[2021-03-03 07:54] Dalli2602 commented on #4395
Hello @StephenLPeters  thank you for your help. You could donload an project from here:

https://1drv.ms/u/s!AgKnNZZb6YimoNBTqgEpHMJiUzNLiQ?e=waaj79

[2021-03-03 08:42] sigmarsson commented on #4373
@StephenLPeters, Thanks.
In the event you directly employ ToggleButtons you still gotta be dealing with the remaing circle the RadioButtons enforces to be displayed. I opted for the the `Pivot` control, which is per se functioning exactly this way.

[2021-03-03 08:45] sigmarsson commented on #4373
However, I still believe the `TempleteBinding` may have an error as it does not update the target even if Mode set to `OneWay`.

[2021-03-03 09:40] sigmarsson commented on #4373
I must re-open this one, since applying my static style onto a `PivotItem` resulting in this :

![image](https://user-images.githubusercontent.com/43340959/109785434-6ae86900-7c0c-11eb-99e8-dbbca70e3421.png)

Would you have a little time to verify the TempleteBinding issue I mentioned in my first post ? 2. point.

[2021-03-03 09:49] sigmarsson commented on #4367
#4373

[2021-03-03 09:49] #4367 closed

[2021-03-03 10:31] mvegaca commented on #4207
Hi @chrisglein
I'm not 100% sure but I think this didn't happen on Preview 3.

[2021-03-03 10:45] sigmarsson commented on #4389
#4270 I even failed to achieve the situation you described as `Grid` placed onto a `Page`.

[2021-03-03 11:02] AndreMarschalek commented on #4385
with the result of
![image](https://user-images.githubusercontent.com/39925052/109796372-5dd17700-7c18-11eb-8279-58f7625fba68.png)

[2021-03-03 11:21] sigmarsson commented on #4270
`Background="{ThemeResource ApplicationPageBackgroundThemeBrush}"`

was missing.

[2021-03-03 11:21] #4270 closed

[2021-03-03 11:57] AndreMarschalek opened #4409 "Auto scroll to the end of a RichTextBlock after update"
A RichTextBlock Component is used to present important information. After adding additional content, the RichTextBlock should scroll down to the lowest possible position, to show the user the latest updates.
For Scrolling the RichTextBlock is child of a ScrollViewer:

[code]

code behind
[code]
In this situation the scrollbar scrolls to the position where the new content starts, not at the end of

[2021-03-03 12:07] AndreMarschalek commented on #4206
just to mention: (same environment as @mvegaca)
[code]

[2021-03-03 13:57] sibille opened #4410 "Question: Remove test certificate generation for WinUI projects in Windows Template Studio"
Looking into the WinUI 3 project templates, we've seen that WinUI3 Preview 4 project templates create test certificates for C# Uwp and C++ Uwp and Desktop projects, but not for C# Desktop Apps.

Visual Studio allows to create Test certificates using this dialog:
![image](https://user-images.githubusercontent.com/24698018/109816018-8feed300-7c30-11eb-8da2-ce2a17488024.png)

In Windows Template Stud

[2021-03-03 14:16] sibille opened #4411 "Question: What's the minimum Visual Studio Version to create WinUI3 Apps"
Docs recommend installing the latest Preview for VS 16.9 (https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#install-winui-30-preview-4).

What's the minimum version thats required for creation of WinUI3 Apps?

[2021-03-03 14:45] zadjii-msft commented on #4382
So in a non-islands application, if you do something like

[code]

[code]

click the button, then focus another window, the Tip does open, and remains open till the window is focused. That makes sense to me - _changing_ the focus of a window seems like a light dismiss action.

I was wondering if perhaps there was something about the Islands environment that was causing the tip to think there wasn'

[2021-03-03 15:22] sigmarsson commented on #4411
Well, any VS Preview - I guess, mine was 4 when I fetched it.

[2021-03-03 16:13] huoyaoyuan commented on #4411
There shouldn't be SDK breaking changes after VS16.8 and WinUI3P3.

[2021-03-03 16:25] huoyaoyuan opened #4414 ".NET SDK 5.0.200 and 5.0.104 can't load default styles of custom control"
**Update:**
**Confirmed that there's a problematic CsWinRT version included by SDK 5.0.104/200/201.** Force downgrading it resolves the issue.

**Workarounds**
Option A: in your `global.json`:
[code]
However, Windows Update can update your installed 5.0.103 SDK to 5.0.104, which is also buggy.

Option B: in your project file, the managed exe project:
[code]
.14 are the buggy verions.

-----

**Des

[2021-03-03 18:15] get-flat commented on #4140
I followed all listed steps but unfortunately Hot Reload does not work for me.
- no UI reload
- no app-in toolbar
- live visual tree throws (i.e. on child node selection or "Show just my xaml" etc.)
Exception thrown at 0x74FC46D2 in App1.exe: Microsoft C++ exception: ATL::CAtlException at memory location 0x1B27F618.
Exception thrown at 0x74FC46D2 in App1.exe: Microsoft C++ exception: ATL::CAtlExce

[2021-03-03 19:41] #4405 closed

[2021-03-03 20:54] codendone commented on #4393
If you can F5 past this exception, then this is a dup of #4206, which was just fixed internally. Please reactivate if you're seeing a non-ignorable exception.

[2021-03-03 20:54] #4393 closed

[2021-03-03 23:10] JeanRoca commented on #3064
Hey @michael-hawker this is something that would need to come in WinUI 3, but it is not currently something we are currently looking at. Would you be able to go into more detail on what scenarios you are trying to support here so our team can re-evaluate this?

[2021-03-03 23:11] alwu-msft commented on #4351
He @dotMorten, WinUI 3 currently does not support MSTest projects. @JeanRoca is driving investigation from the WinUI end on what this will look like long-term.

[2021-03-03 23:16] JeanRoca commented on #4067
@TheXamlGuy do you have an update on this? The issue will be closed down by next week and marked as stale.

[2021-03-03 23:17] JeanRoca commented on #4069
@mageshsankar thank you for sharing this. Would you be able to verify if the crash still repros in preview 4 of WinUI 3?

[2021-03-03 23:22] alwu-msft commented on #4235
Hi @sigmarsson, could provide a crash dump or repro app?

[2021-03-03 23:47] Scottj1s commented on #4351
@alwu-msft - note that this problem is more general than MSTest projects.  It's a regression that was introduced with WinUI 3 Preview 4, which added the VCLibs FWP dependency.  That in turn targets UAP which conflicts with any app that wants to target Windows.  So a simple C++ console app fails to build.

[2021-03-03 23:57] alwu-msft commented on #4351
@Scottj1s Interesting, I did not realize it was (at least partially) tied to our VCLibs dependency. But it sounds like that's something that the VCLibs owners need to fix, not WinUI?

[2021-03-04 00:11] StephenLPeters commented on #4414
@bartekk8 I'm pretty surprised that the .net sdk could affect our resource lookups... do you think that is possible?

@huoyaoyuan is suspect the .net sdk is a red herring.

[2021-03-04 00:14] StephenLPeters commented on #4411
VS16.8 is required for Winui3 :)

[2021-03-04 00:14] #4411 closed

[2021-03-04 00:15] StephenLPeters commented on #4410
@alwu-msft FYI

[2021-03-04 00:21] StephenLPeters commented on #4409
I think that the delay is helping you because layout hasn't run yet, so there is no new extent for the scrollviewer to scroll into.  I think a better workaround would be to post this to the UI thread using dispatcher runAsync for winui2 or tryEnqueue for winui3.  Here on Winui2 (https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.coredispatcher.runasync?view=winrt-19041#Windows_UI_Core_CoreDi

[2021-03-04 00:27] StephenLPeters commented on #4389
Basically RequestedTheme only applies to the elements children, not itself.  So when RequestedTheme is set on a page this works because all of the things that get rendered are children of the page.  Normally a templated control has template parts, which reference theme resources and those theme resource lookups get affected by the template root's RequestedTheme property.  But for grid, the backgro

[2021-03-04 00:33] StephenLPeters commented on #4382
@SavoySchuler FYI.  @zadjii-msft does a non-light dismiss tip also dismiss? If not then I doubt that it is due to the window sizing.  Have you tried setting the ShouldConstrainToRootBounds boolean? Does that effect the behavior?

I think we have not considered what the appropriate thing to do when a light dismiss popup is going to open on a window that doesn't have focus.

[2021-03-04 00:43] Scottj1s commented on #4351
Yes, I think we need help from VCLibs owners on this. $(DesktopCompatible) doesn't cover all scenarios.

[2021-03-04 03:47] marb2000 commented on #4269
Reopening per internal conversation. This is a bug that should be fixed. @pratikone I'm assigning this to you given you are working on it.

[2021-03-04 04:26] huoyaoyuan commented on #4414
Yes, installing back 5.0.103 solves the issue immediately.
However, I want a workaround other than installing old SDK, since there's installer issue in this version.

[2021-03-04 04:44] huoyaoyuan commented on #4414
Copying the WinRT.Runtime.dll from 5.0.103 output also fixes the issue. There's something broken with CsWinRT.
@manodasanW can you help here?

[2021-03-04 05:09] manodasanW commented on #4414
@huoyaoyuan Just to confirm I am following, with 5.0.103 your scenario works, but with 5.0.200 it doesn't.  I assume you downloaded 5.0.200 as part of yesterday's release right?  If so, we might be looking at a CsWinRT issue.

Can you provide a repro so I can look into it?  What type of value are you binding to?

[2021-03-04 05:55] huoyaoyuan commented on #4414
Yes.
The issue is about templated control. The involved type, if any, could be `System.Type` and `RuntimeType`.

[2021-03-04 06:10] huoyaoyuan commented on #4414
[SdkTemplateRepro.zip](https://github.com/microsoft/microsoft-ui-xaml/files/6081212/SdkTemplateRepro.zip)
Minimal repro.
It just creating a custom control using IDE template into a black application, without any trick.
Changing the SDK version in global.json to 5.0.200 will cause the custom control not loaded.

[2021-03-04 08:16] AJLeuer opened #4418 "Unable to launch WinUI 3 app after installing from .appxbundle"
**Describe the bug**

I created a WinUI 3 for desktop app more or less following the template given [here](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/get-started-winui3-for-desktop). Today I reached the point where I'd like to start distributing it for to get some user feedback, and with that in mind, I created an .appxbundle and installed my app via said .appxbundle. However, afte

[2021-03-04 08:31] sigmarsson commented on #4235
@alwu-msft , thanks.

https://github.com/sigmarsson/4235

[2021-03-04 08:46] michael-hawker commented on #3064
@JeanRoca the scenario we had came directly from us trying to make it easier to integrate our XAML presenter with the Graph SDK. The Graph SDK is just .NET Standard based, so it's using base interface/types that we wouldn't be able to modify.

It'd be great if x:Bind could just use the indexer overload if one exists on whatever object it's dealing with.

[2021-03-04 08:56] atiyka commented on #2691
I can confirm, that the `Binding` to the `SelectedItem` property of a NavigationView is not working.
I have a WPF app and I'm using `XamlIslands` to add UWP components to the app. I tried the `x:Bind`, how @MikeHillberg said and with this it works fine.

[2021-03-04 09:10] AndreMarschalek commented on #4409
@StephenLPeters
to post to the UI thread using dispatcher like this
[code]
only change you will not have an error message because you are trying to update the UI from a different thread
the delay is still required in that case

what i need, is an event, that informs me, when the content update is finished

[2021-03-04 09:42] michael-hawker commented on #2571
@adambarlow did preview4 ship a version of [`AddHostObjectToScript`](https://docs.microsoft.com/dotnet/api/microsoft.web.webview2.core.corewebview2.addhostobjecttoscript) to the WinUI version of WebView2? (It was hard to find the WinUI specific version of the [docs here](https://docs.microsoft.com/windows/winui/api/microsoft.ui.xaml.controls.webview2?view=winui-3.0-preview), but I'm not sure if th

[2021-03-04 09:42] michael-hawker commented on #2571
Ah, just found this issue here saying it's not working still in preview4: https://github.com/microsoft/microsoft-ui-xaml/issues/4377

[2021-03-04 09:52] michael-hawker commented on #4377
@codendone is this scheduled on the roadmap yet for an upcoming release? It's already working for WPF, right?

This was a pain to work-around, and I've been hesitant to make any sweeping changes to the Monaco component as it's a significant fork with our workaround vs. having basically just a method rename between UWP and WinUI 3.

[2021-03-04 10:14] MagicAndre1981 commented on #2331
will this be ever fixed? I also see this when I use ACR User Dialogs to show progress dialog which is implemented as ContentDialog.

[2021-03-04 10:16] MagicAndre1981 commented on #4325
Is this related to https://github.com/microsoft/microsoft-ui-xaml/issues/2331 ?

[2021-03-04 12:29] zadjii-msft commented on #4382
Shockingly, no. That one stays open just fine. That was another nail in my theory about the window sizing.

I did try `ShouldConstrainToRootBounds`, that didn't seem to make a difference 😕

[2021-03-04 12:44] bridgesquared opened #4419 "Question: Printing in WinUI 3 Desktop"
Hi all

I'm looking for guidance on printing from WinUI 3 Desktop please.

I tried the `PrintHelper` from [Community Toolkit](https://github.com/windows-toolkit/WindowsCommunityToolkit) 8 preview 4 and get a `System.Runtime.InteropServices.COMException: 'Interface not registered (0x80040155)'`  I put this down to issues with getting the `Windows.Graphics.Printing.PrintManager` as reported in #4375

[2021-03-04 13:08] Noemata commented on #4353
As this sample demonstrates: https://github.com/Noemata/SimpleMVVM

It's quite easy to "port" a UWP app over to WinUI.  It's also relatively easy to have common code between the two.  Unfortunately, the little differences will add up.  Why add to the friction?

@StephenLPeters , using your logic, I could make an equally valid argument for the WinUI framework setting XamlRoot so that it defaults to

[2021-03-04 14:22] gabrielconl opened #4420 "SplitButton hover state inconsistency"
The divider looks different when the primary and secondary buttons are hovered:
<img src="https://user-images.githubusercontent.com/78622729/109969031-145a5800-7cfc-11eb-8b59-381e670661ca.png" height="210">

I've found that the `PrimaryBackgroundGrid` sets `Grid.ColumnSpan="2"` `, which will cover the divider only for the second button.
Removing it will cause the following:
<img src="https://user-

[2021-03-04 16:21] FreddyD-GH commented on #4419
I agree that at least adding printing APIs to the roadmap would be very helpful to plan for WinUI 3.0 adoption.

[2021-03-04 16:30] sigmarsson commented on #2331
Did you try settng explicit value?

Background="{ThemeResource ApplicationPageBackgroundThemeBrush}">

[2021-03-04 17:16] JeanRoca commented on #4140
@get-flat thanks for the info, can you open an issue with a minimal repo for the team to investigate? Thank you!

[2021-03-04 18:07] jschwizer99 commented on #4396
@StephenLPeters, Hi Stephen I suffer from the same issue as I would like to use the compact mode `Microsoft.UI.Xaml/DensityStyles/Compact.xaml` and would expect that the `ComboBox` has the same height as normal input elements. Just forcing the control height leads to the clamped glyph as described above.

When I modify the Margin="0,10,10,10" by removing the top and bottom margin I get the expecte

[2021-03-04 18:08] duke7553 commented on #4327
@alwu-msft If you run into an issue with App.xaml while compiling this repro app, you should add/remove a single space to trick the XAML compiler into accepting the changes in that file.

This is because of a separate bug that was reported.

[2021-03-04 18:11] manodasanW commented on #4414
Thanks @huoyaoyuan I was able to get a repro and I see the issue.  I opened a CsWinRT bug for it.

[2021-03-04 18:21] billhenn commented on #1541
Sorry to comment on such an old issue but now that I'm digging into WinUI, this is also something that was confusing/annoying to come across.  There are several pairs of types, things like `Color` / `Colors` and `FontWeight` / `FontWeights` where it feels odd to have one type in a `Windows.` namespace and another in a `Microsoft.` namespace.

I get why some of those types might not have been moved

[2021-03-04 18:34] billhenn opened #4421 "Why are there two different .dlls produced for a class library?"
When using Visual Studio to compile a WinUI for Desktop class library, I'm seeing that my `bin/Debug/net5.0-windows10.0.18362.0` folder contains a number of files like `MyLibName.dll`.  There also is a `ref` sub-folder with another smaller instance of `MyLibName.dll`.

I'm curious why there are two .dlls being created here and why the second one is being kept around if it's more of an intermediate

[2021-03-04 18:46] StephenLPeters commented on #4396
The margin does seem strange here, at first glance it seems like the top and bottom values it wouldn't do anything helpful given the VerticalAlignment is center.  Unfortunately the only way for a developer to change this value would be to retemplate the control because this value is hard coded in the template.  If we changed it to something like

`Margin="{StaticResource ComboBoxDropDownGlyphMargi

[2021-03-04 18:56] alwu-msft commented on #4235
@sigmarsson Can you verify that you removed all calls for `DisplayInformation.GetForCurrentView()`? I'm seeing `Infragistics.Controls.XamBaseControl` making such a call in its constructor.

[code]

For future reference, if you enable breaking on `WinRT Originate Error` in VS's Exception Settings, you can sometimes get closer to the point of failure. It can sometimes be noisy, but in this instance

[2021-03-04 19:08] sigmarsson commented on #4235
@alwu-msft, can i employ this control now?

Merci.

[2021-03-04 19:51] alwu-msft commented on #4235
Do you mean `Infragistics.Controls.Charts.XamDataChart.XamDataChart`? Unfortunately, until it (and the rest of its class hierarchy) is updated to not call `DisplayInformation.GetForCurrentView()`, it's not going to be compatible with WinUI 3 in Desktop apps.

[2021-03-05 00:03] StephenLPeters commented on #4421
@alwu-msft fyi

[2021-03-05 00:05] StephenLPeters commented on #4419
@MikeHillberg and @codendone do you have any insights here?

[2021-03-05 00:07] StephenLPeters commented on #4418
@codendone or @Austin-Lamb FYI

[2021-03-05 00:08] StephenLPeters commented on #4418
Could be tooling as well, @fabiant3

[2021-03-05 00:09] StephenLPeters commented on #4382
@Austin-Lamb @jevansaks and @JesseCol any ideas what might be causing this?

[2021-03-05 00:10] StephenLPeters commented on #4379
@Austin-Lamb FYI

[2021-03-05 00:10] StephenLPeters commented on #4379
I could not reproduce this issue in Winui2

[2021-03-05 00:12] StephenLPeters commented on #4373
Can you give some more details on what your are trying to accomplish? I'm pretty unsure based on the discussion so far. Maybe we can recommend something simpler.

[2021-03-05 00:19] StephenLPeters commented on #4353
In winui desktop a single launching window can have as many xaml roots as you want. So in Winui desktop we can't divine the proper xaml root from the launching window.

I don't really understand the compile time switch recommendation. the types being used in UWP and Desktop are the same, there are just slightly different behaviors because of fundamental app model differences.

[2021-03-05 00:20] StephenLPeters commented on #4188
@teaP I know there were some recent changes, thoughts on this?

[2021-03-05 00:27] StephenLPeters commented on #138
@ojhad Can you give this a read through and let us know what you think?

[2021-03-05 00:52] teaP commented on #4188
Yes, I will fix it. My test page didn't have any examples without the ... button, but I just discovered this issue on CommandBarFlyout as well and I'll apply the same fix.

[2021-03-05 01:50] Noemata commented on #4353
@StephenLPeters , I surrender.  You guys win as per usual, though the losers will also be the corporate customers I support when I tell them porting their large UWP projects won't be so easy.

Here's what I want to avoid, among the many other details:

[code]

I suggest you try and seamlessly port this: https://github.com/Alvaromah/eShopOnUWP to WinUI, and see how that works out for you.  It's Mic

[2021-03-05 03:21] WolfIcefang opened #4422 "Proposal: change the "contrast" icon from MDL2 icons to distinguish it from "brightness""
# Proposal: change the "contrast" icon from MDL2 icons to distinguish it from "brightness"

## Summary

The icon for contrast looks too much like the icon for brightness. When used side by side in a control panel, they are nearly indistinguishable.
![image](https://user-images.githubusercontent.com/38160450/110062011-22c16780-7d2e-11eb-900e-d0b455124268.png)

## Rationale

* The icon for Contrast

[2021-03-05 04:34] zhuxb711 commented on #4339
@StephenLPeters Could you reproduce this issue ?

[2021-03-05 04:37] #2542 closed

[2021-03-05 05:40] Fu-Weitao commented on #4140
Hi, I was following https://docs.microsoft.com/en-us/windows/apps/winui/winui3/#install-winui-3-preview-4, and in 'Install WinUI Preview 4'
There's 'Make sure your system has a NuGet package source enabled for nuget.org. For more information, see Common NuGet configurations.'
After reading the article it links to, which was updated in 2017 and also 'nugget.org' I found 'latest Nuget releases are d

[2021-03-05 06:10] codendone commented on #4377
@michael-hawker Yes, the underlying functionality has existed for a while. The issue holding it back from WinUI is not having support for this API via the WinRT wrappers.

This is now fixed internally and will be part of the next release. It will require a little indirection, since the underlying functionality currently still only supports IDispatch objects, rather than IInspectable objects which

[2021-03-05 06:14] Grinch commented on #3637
Can confirm this is still an issue. It appears to generate a setter for the property in the `XamlTypeInfo.g.cs` class.

[2021-03-05 07:31] BorzillaR commented on #3509
Seems, it is fixed in Preview 4.

[2021-03-05 09:12] huoyaoyuan commented on #3672
Still present for preview4. This is currently a hard blocker of production.
Modification of `bin` and `obj` directory may be the cause, but I haven't got minimal repro now.

[2021-03-05 09:59] mageshsankar opened #4423 "Text not shown in TextBox control when changing at run-time when using DateTimeFormatter"
**Describe the bug**
Text not shown in TextBox control when changing at run-time when using DateTimeFormatter.

We have used DateTimeFormatter for showing the Current date in TextBox control based on CalendarIdentifier. Also, I have tried to call invalidate measure and update layout method. Still, the text is not shown in TextBox.

Also, I did not face this issue when using TextBlock instead of Te

[2021-03-05 10:15] sigmarsson commented on #4373
@StephenLPeters , sure, very simple. Just 2 buttons toggling mutual each other as ;

![image](https://user-images.githubusercontent.com/43340959/110101367-ba14d200-7da3-11eb-80f8-0be023a11ede.png)

These are now 2 standalone toggle buttons. my curiosity was driving me to another solution with the radio buttons, where TempleteBinding isn't working the way I was expecting.

I expected that manipulat

[2021-03-05 10:17] mageshsankar commented on #3721
Hi Team,

Any update on this?

[2021-03-05 10:23] mageshsankar commented on #4078
Hi Team,

Any update on this?

[2021-03-05 10:23] mageshsankar commented on #4123
Hi Team,

Any update on this?

[2021-03-05 10:27] mageshsankar commented on #4069
@JeanRoca the reported crash still occurs in preview 4 of WinUI 3.

[2021-03-05 10:48] jschwizer99 commented on #4396
@StephenLPeters Hi Stephen, both mine and @mageshsankar reported observation relate to WinUI 3.0 Preview4. So the issue should be flagged with [preview4]. I've checked and built the master of WinUI 2.6x. There the margin is as expected `Margin="0,0,14,0"` and the compact mode behaves correctly. It was changed from `Margin="0,0,10,0"` by [#3938](https://github.com/microsoft/microsoft-ui-xaml/commit

[2021-03-05 11:04] bridgesquared commented on #4379
@StephenLPeters I believe this is likely to be a **Desktop** only issue, as I don't recall having the problem in UWP apps even though I used the same style?

[2021-03-05 13:51] wbokkers commented on #3571
In WinUI 3 Preview 4, I always get an exception when x:Bind to the Date property. I am not sure if this is related:

Exception thrown: 'System.InvalidCastException' in System.Private.CoreLib.dll
Exception thrown at 0x76D8A8B2 (KernelBase.dll) in ....  WinRT originate error - 0x80131604 : 'Exception has been thrown by the target of an invocation.'.

[2021-03-05 14:02] sigmarsson commented on #4235
@alwu-msft , okay thanks, as the result of technical consultancy with you, the **Infragistics** control keeps invoking a deprecated API in the Win UI framework, so currently the control is incompatible with the current Win UI architecture. As you said, the respective control needs to be patched to harmonize with **Win UI** again. If I got it right.

[2021-03-05 14:19] wbokkers commented on #3721
I can't x:Bind the Date property of CalendarDatePicker to DateTimeOffset (nullable or not), without getting an exception in WinUI 3 Preview 4

[2021-03-05 14:36] sigmarsson commented on #4374
@StephenLPeters, it is a modal dialog designed to exhibit accounts retrieved from a provider. e.g.

`await WebAuthenticationCoreManager.FindAccountProviderAsync("https://login.microsoft.com", "consumers");`

[2021-03-05 15:33] wbokkers opened #4425 "Setting Date property of CalendarDatePicker throws ThrowExceptionForHR"
**Describe the bug**

When setting the Date property of the CalendarDatePicker (either by using x:Bind or directly from code behind) will throw an exception:

   at System.Runtime.InteropServices.Marshal.ThrowExceptionForHR(Int32 errorCode)
   at WinRT.IObjectReference.As[T](Guid iid)
   at WinRT.IObjectReference.As[T]()
   at WinRT.MarshalInterface`1.CreateMarshaler(T value)
   at ABI.Microsoft.U

[2021-03-05 16:32] MagicAndre1981 commented on #4421
ref is the [reference assembly](https://docs.microsoft.com/en-us/dotnet/standard/assembly/reference-assemblies) which has no implementation:

[2021-03-05 16:36] MagicAndre1981 commented on #2331
where should this be added? I use a nuget package in Xamarin.Forms app and the UWP app has the issue that the progress is white while the rest of the app is dark as I want it to have.

[2021-03-05 16:42] sigmarsson commented on #2331
can't you set it in xaml `<ContentDialog ... />` as for a `<Page />` ?

[2021-03-05 16:51] MagicAndre1981 commented on #2331
No, I don't use any XAML to call this lib:

[code]

And this shows an endless progressdialog which is always white background no matter what RequestedTheme I set

[2021-03-05 18:33] XamDR commented on #4419
Thank your for opening this issue. I myself planned to do it some time ago, but back then I was busy and I forgot about it. AFAIK, there is the interface [IPrintManagerInterop](https://docs.microsoft.com/es-mx/windows/win32/api/printmanagerinterop/nn-printmanagerinterop-iprintmanagerinterop) which has the methods: `GetForWindow` and `ShowPrintUIForWindowAsync`, which can take hwnds as parameters.

[2021-03-05 20:21] mc0re commented on #4138
Can somebody look at this?

[2021-03-05 22:12] dotMorten opened #4427 "Discussion: Don't add "ProjectReunion" to the Microsoft.WinUI package name"
In a recent screenshot, it showed that the WinUI package is changing from `Microsoft.WinUI` to `Microsoft.ProjectReunion.WinUI`.
https://twitter.com/marbtweeting/status/1367604242748346368/photo/1

![image](https://user-images.githubusercontent.com/1378165/110177820-63ff5900-7dba-11eb-8c93-2e7b9b171cb7.png)

I find this naming rather confusing to be in the product name.

Scott Hunter last week dur

[2021-03-05 22:30] drewbatgit commented on #3868
The sample documentation has been updated to note that:
1. BgLabelControl.cs is the only file generated when you add Custom Control to the project
2. Generic.xaml is automatically generated when you add the control, so you don't need to manual create it, just update the contents.

[2021-03-05 22:58] riverar commented on #4427
`Project Reunion` [as of a few hours ago is still forbidden for use in actual Project Reunion code](https://github.com/microsoft/ProjectReunion/pull/508#discussion_r588627590) (as a namespace). So I was shocked to learn that WinUI was going forward with this package naming for GA.

Is Windows off-limits? e.g.
[code]

If that's confusing or politically impossible, then perhaps chop some letters off

[2021-03-05 23:31] dotMorten commented on #4427
If it's mainly a matter of exposing all the Windows SDKs regardless of UWP or Win32, Microsoft.Windows.* makes sense. It's "just windows"

[2021-03-06 00:12] StephenLPeters commented on #4427
@MikeHillberg and @ryandemopoulos

[2021-03-06 00:16] StephenLPeters commented on #4425
@Scottj1s is this a CSWinrt issue?

[2021-03-06 00:21] StephenLPeters commented on #4423
Running locally, I see the text appear once I give the textbox focus.

[2021-03-06 00:24] StephenLPeters commented on #4423
@chrisglein FYI

[2021-03-06 00:29] StephenLPeters commented on #4422
I think that the MDL2 icon that you are referring to when you say Contrast is this:

![image](https://user-images.githubusercontent.com/7758786/110188223-e47c8480-7dcf-11eb-93e7-29a0c4c03e06.png)

Which is similar but I think that it makes sense that an icon name light and an icon named brightness would be similar.  It is unfortunate if these icons are being using on the same page to deliniate dif

[2021-03-06 00:40] StephenLPeters commented on #4353
It seems like my answers to your questions are frustrating you.  I'm sorry if my tone has come across as dismissive, that was not my intention.  The differences between the desktop and uwp application models are complicated and lead to complicated issues, this being one of them.  We do strive for the experience of upgrading or porting an app to Winui 3 to be as seamless as possible, feedback about

[2021-03-06 00:40] StephenLPeters commented on #4422
@MarissaMatt FYI

[2021-03-06 00:48] StephenLPeters commented on #4373
Ah, okay.  So I think that RadioButtons is actually depending on code that exists in RadioButton in system xaml to enforce the mutually exclusive nature of radio button elements.  So I think you are going to have trouble retemplating RadioButtons for this scenario.

I would recommend using actual check boxes with something to manage the exclusive checked state of them.  You could either attach  a

[2021-03-06 00:54] alwu-msft commented on #4410
Yeah, I think that's fine.

[2021-03-06 00:55] WashingtonARamos commented on #3486
I've come around this problem again in another project and instead of settings manually button styles to `DefaultButtonStyle` as I was doing, I decided to test something and set the ContentDialog style to `DefaultContentDialogStyle`, and it turns out to work as expected: the content style not only gets it's rounded corners (as shown in the designer) but it also overrides the styles of it's child c

[2021-03-06 01:04] alwu-msft commented on #4327
@duke7553 `files-preview/Files.Extensions/Files.Extensions.vcxproj` includes files from `..\..\files-community\Files\Files.Extensions\` that don't exist, which prevents it from successfully compiling. Is that intentional? The relative path indicates that files are being pulled from outside of the repository.

[2021-03-06 01:11] duke7553 commented on #4327
@alwu-msft Sorry about that. This is an early version of the WinUI desktop version of the project. I expect the Files.Extensions c++ project to be unneeded at this point for getting the controls to load as we don't depend on it anywhere. However, there is a C++ project included with the repository which means it could be referenced incorrectly. I was able to compile and run the package project on

[2021-03-06 01:44] StephenLPeters commented on #4382
@zadjii-msft Maybe you could set a break point on the IsOpenChangedToClose method in TeachingTip? https://github.com/microsoft/microsoft-ui-xaml/blob/c1f617abee9be400456301ee0389813996030fe9/dev/TeachingTip/TeachingTip.cpp#L902 That could give use more info about what is actually triggering the close.

[2021-03-06 01:53] Noemata commented on #4353
@StephenLPeters , your suggestion "if the system detects that there is only one xaml root in your app, to default the xaml root property of all elements to that", is the sort of compromise that would work in many cases.

I do appreciate that it's not possible to have a one size fits all approach with WinUI.  I'm just looking to minimize the grief involved in transitioning from UWP to WinUI, since

[2021-03-06 02:00] rozele opened #4428 "Proposal: Change TextBox selection behavior to match HTML spec"
# Proposal: Make TextBox selection behavior match HTML spec

## Summary
Currently, when you set the TextBox.Text property, the SelectionStart and SelectionLength properties are reset to 0.

A better default experience may be having the TextBox behavior followed the HTML input spec: https://html.spec.whatwg.org/multipage/input.html#dom-input-value-value

## Rationale

Matching the HTML spec is not

[2021-03-06 02:54] stevenbrix commented on #4351
I filed a bug for this issue here: https://github.com/dotnet/msbuild/issues/6150

There is a workaround in the bug.

I don’t think this has anything to do with our new VCLibs dependency, but it’s due to WebView2 still requiring the old UWP VCLibs. The WebView2 team has moved off UWP VCLibs, and I think we ingested a new WebView2 build recently, so this could be fixed.

To me this seems like an MSB

[2021-03-06 04:18] amyhaber commented on #2500
I highly agreed with this post's opion, and I gonna ask again.
When we can get the  unpackaged desktop deployment support?

 Thank u :)

[2021-03-06 04:22] jonwis commented on #4427
Hey folks, several different axies (axises? axees?) here - namespace, packaging, and metadata.

We're using namespaces that describe the types within - so `Microsoft.UI.Xaml` or `Microsoft.UI.Composition` as examples. It's a UI framework based around XAML, from Microsoft. (Our naming rules use PascalCase for acronyms.)  Or it's a UI framework based around Composition, from Microsoft.  So @dotMorte

[2021-03-06 04:40] billhenn commented on #4421
Thank you for the information @MagicAndre1981.

[2021-03-06 04:40] #4421 closed

[2021-03-06 04:50] dotMorten commented on #4427
Wrt the issue here, I'm referring to just the package name - I'm aware the namespace isn't getting `ProjectReunion` added.
But that sort of makes you wonder why there's this difference. If we can't add it to the classes and namespaces, why can we add it to nuget IDs?

Anyway here's a few of the above statements that makes me worried:

So it sounds temporary/short-term and you might change it later

[2021-03-06 07:02] asklar commented on #4428
CC @MikeHillberg @jevansaks. Not sure who'll be PMing Text in winui3, but this is something coming out from RNW so it would be good to start getting some internal thinking on this to align. Also, do we tag these bugs somehow to mark them as "requirements coming form RNW world"?

[2021-03-06 08:38] StephenLPeters commented on #4138
Sorry @mc0re this issue landed in a corner that our automated alert system misses... (needs-author-feedback marked issues where the author doesn't respond but another community member does).  I don't see any logs attached to the original ticket either, which is why I asked for them. Without the log mentioned in the original ticket, or more information about the issue this isn't currently actionabl

[2021-03-06 08:49] chingucoding commented on #4369
I would like to work on this.

[2021-03-06 10:11] glanium opened #4430 "Proposal: Compact sizing for AppBar"
# Proposal: Compact sizing for AppBar

## Summary

Add compact sizing to AppBar

## Rationale

When turn on compact size, some controls likes NavigationView follow its sizing
But AppBar does not follow

AppBar is tooooooooooo big for Compact Size mode

[2021-03-06 10:12] bkaankose commented on #4427
Anything code related stuff that includes '**ProjectReunion**' must be trimmed for better 3rd party compatibility and potentially stop more confusion around 'What exactly Project Reunion is and what is WinUI?' . By code related I mean to namespaces and Nuget packages.

People have been following Project Reunion as just a **term**. This is just an an effort to '**unify**' WinForms, WPF, UWP, basica

[2021-03-06 10:20] thomasclaudiushuber commented on #4427
Jep, we all know, naming is hard. 🙂

Everything with "Project Reunion" or just "Union" is in my opinion not a good idea. Why?

1. I think a package name should tell what's in the package. "Project Reunion" does not tell what's in the package (at least not to me). Also think about all those devs who never read/heard about project reunion, they'll have absolutely no idea what that package is.

2. I

[2021-03-06 12:59] huoyaoyuan commented on #4427
`Union` is OK for a meta package that reference a group of things (`Microsoft.Union.SDK`?), but not OK for each individual product.

[2021-03-06 13:02] huoyaoyuan commented on #4418
It looks like https://github.com/microsoft/microsoft-ui-xaml/issues/3749 , which is already fixed in preview 4.

[2021-03-06 15:14] mc0re commented on #4138
I don't see those logs either. Can you ask the guy that moved the issue, where did the logs go? It wasn't me, you know...

[2021-03-06 15:45] kmgallahan opened #4434 "Discussion: Are text alignment issues caused by scaling worth fixing in the near term?"
# Discussion: Are text alignment issues caused by scaling worth fixing in the near term?

I just created an alarm in the new Alarms & Clock app for the first time. This is what I saw:

![Alarm Clock Text Alignment](https://user-images.githubusercontent.com/5379488/110211714-df6a1480-7e65-11eb-9e0a-90aa5b13d32c.png)

This was at display scaling: 100%, text scaling 150%.

Yes, everything works as ex